---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:907:\"<p>Amazon
  CloudWatch monitors your Amazon Web Services (AWS) resources and the applications
  you run on AWS in real time. You can use CloudWatch to collect and track metrics,
  which are the variables you want to measure for your resources and applications.</p>
  <p>CloudWatch alarms send notifications or automatically change the resources you
  are monitoring based on rules that you define. For example, you can monitor the
  CPU usage and disk reads and writes of your Amazon EC2 instances. Then, use this
  data to determine whether you should launch additional instances to handle increased
  load. You can also use this data to stop under-used instances to save money.</p>
  <p>In addition to monitoring the built-in metrics that come with AWS, you can monitor
  your own custom metrics. With CloudWatch, you gain system-wide visibility into resource
  utilization, application performance, and operational health.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:17:\"Amazon
  CloudWatch\";s:7:\"version\";s:10:\"2010-08-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:94:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/monitoring-2010-08-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:10:\"monitoring\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"amazonaws_monitoring\";s:4:\"type\";s:7:\"openapi\";}}"
host: monitoring.amazonaws.com
basePath: /
paths: ~
produces: []
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":124:{s:12:\"ActionPrefix\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:14:\"ActionsEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"AlarmArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1600;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"AlarmDescription\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:16:\"AlarmHistoryItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Represents
  the history of a specific alarm.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"AlarmName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AlarmName\";s:11:\"description\";s:35:\"The
  descriptive name for the alarm.\";}s:11:\"HistoryData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/HistoryData\";s:11:\"description\";s:37:\"Data
  about the alarm, in JSON format.\";}s:15:\"HistoryItemType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/HistoryItemType\";s:11:\"description\";s:31:\"The
  type of alarm history item.\";}s:14:\"HistorySummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/HistorySummary\";s:11:\"description\";s:47:\"A
  summary of the alarm history, in text format.\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:42:\"The
  time stamp for the alarm history item.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AlarmHistoryItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AlarmHistoryItem\";}s:4:\"type\";s:5:\"array\";}s:9:\"AlarmName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"AlarmNamePrefix\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"AlarmNames\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AlarmName\";}s:8:\"maxItems\";i:100;s:4:\"type\";s:5:\"array\";}s:20:\"AwsQueryErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"ComparisonOperator\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:29:\"GreaterThanOrEqualToThreshold\";i:1;s:20:\"GreaterThanThreshold\";i:2;s:17:\"LessThanThreshold\";i:3;s:26:\"LessThanOrEqualToThreshold\";}s:4:\"type\";s:6:\"string\";}s:12:\"DashboardArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"DashboardBody\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"DashboardEntries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DashboardEntry\";}s:4:\"type\";s:5:\"array\";}s:14:\"DashboardEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Represents
  a specific dashboard.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"DashboardArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DashboardArn\";s:11:\"description\";s:48:\"The
  Amazon Resource Name (ARN) of the dashboard.\";}s:13:\"DashboardName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DashboardName\";s:11:\"description\";s:26:\"The
  name of the dashboard.\";}s:12:\"LastModified\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LastModified\";s:11:\"description\";s:188:\"The
  time stamp of when the dashboard was last modified, either by an API call or through
  the console. This number is expressed as the number of milliseconds since Jan 1,
  1970 00:00:00 UTC.\";}s:4:\"Size\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Size\";s:11:\"description\";s:36:\"The
  size of the dashboard, in bytes.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DashboardErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"DashboardInvalidInputError\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Some
  part of the dashboard data is invalid.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:27:\"dashboardValidationMessages\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/DashboardValidationMessages\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DashboardErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DashboardName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"DashboardNamePrefix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"DashboardNames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DashboardName\";}s:4:\"type\";s:5:\"array\";}s:22:\"DashboardNotFoundError\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  specified dashboard does not exist.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DashboardErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DashboardValidationMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"An
  error or warning for the operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"DataPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DataPath\";s:11:\"description\";s:37:\"The
  data path related to the message.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:42:\"A
  message describing the error or warning.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DashboardValidationMessages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/DashboardValidationMessage\";}s:4:\"type\";s:5:\"array\";}s:8:\"DataPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Datapoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Encapsulates
  the statistical data that CloudWatch computes from metric data.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"Average\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DatapointValue\";s:11:\"description\";s:67:\"The
  average of the metric values that correspond to the data point.\";}s:18:\"ExtendedStatistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DatapointValueMap\";s:11:\"description\";s:44:\"The
  percentile statistic for the data point.\";}s:7:\"Maximum\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DatapointValue\";s:11:\"description\";s:44:\"The
  maximum metric value for the data point.\";}s:7:\"Minimum\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DatapointValue\";s:11:\"description\";s:44:\"The
  minimum metric value for the data point.\";}s:11:\"SampleCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DatapointValue\";s:11:\"description\";s:87:\"The
  number of metric values that contributed to the aggregate value of this data point.\";}s:3:\"Sum\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DatapointValue\";s:11:\"description\";s:48:\"The
  sum of the metric values for the data point.\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:39:\"The
  time stamp used for the data point.\";}s:4:\"Unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StandardUnit\";s:11:\"description\";s:37:\"The
  standard unit for the data point.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DatapointValue\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:17:\"DatapointValueMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ExtendedStatistic\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DatapointValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:15:\"DatapointValues\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DatapointValue\";}s:4:\"type\";s:5:\"array\";}s:10:\"Datapoints\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Datapoint\";}s:4:\"type\";s:5:\"array\";}s:17:\"DatapointsToAlarm\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:17:\"DeleteAlarmsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"AlarmNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AlarmNames\";s:11:\"description\";s:25:\"The
  alarms to be deleted.\";}}s:8:\"required\";a:1:{i:0;s:10:\"AlarmNames\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteDashboardsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"DashboardNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DashboardNames\";s:11:\"description\";s:57:\"The
  dashboards to be deleted. This parameter is required.\";}}s:8:\"required\";a:1:{i:0;s:14:\"DashboardNames\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteDashboardsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeAlarmHistoryInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"AlarmName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AlarmName\";s:11:\"description\";s:22:\"The
  name of the alarm.\";}s:7:\"EndDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:42:\"The
  ending date to retrieve alarm history.\";}s:15:\"HistoryItemType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/HistoryItemType\";s:11:\"description\";s:40:\"The
  type of alarm histories to retrieve.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxRecords\";s:11:\"description\";s:56:\"The
  maximum number of alarm history records to retrieve.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:84:\"The
  token returned by a previous call to indicate that there is more data available.\";}s:9:\"StartDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:44:\"The
  starting date to retrieve alarm history.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeAlarmHistoryOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"AlarmHistoryItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AlarmHistoryItems\";s:11:\"description\";s:36:\"The
  alarm histories, in JSON format.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:69:\"The
  token that marks the start of the next batch of returned results.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeAlarmsForMetricInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"Dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Dimensions\";s:11:\"description\";s:143:\"The
  dimensions associated with the metric. If the metric has any associated dimensions,
  you must specify them in order for the call to succeed.\";}s:17:\"ExtendedStatistic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ExtendedStatistic\";s:11:\"description\";s:79:\"The
  percentile statistic for the metric. Specify a value between p0.0 and p100.\";}s:10:\"MetricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:23:\"The
  name of the metric.\";}s:9:\"Namespace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Namespace\";s:11:\"description\";s:28:\"The
  namespace of the metric.\";}s:6:\"Period\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Period\";s:11:\"description\";s:60:\"The
  period, in seconds, over which the statistic is applied.\";}s:9:\"Statistic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Statistic\";s:11:\"description\";s:117:\"The
  statistic for the metric, other than percentiles. For percentile statistics, use
  <code>ExtendedStatistics</code>.\";}s:4:\"Unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StandardUnit\";s:11:\"description\";s:24:\"The
  unit for the metric.\";}}s:8:\"required\";a:2:{i:0;s:10:\"MetricName\";i:1;s:9:\"Namespace\";}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeAlarmsForMetricOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"MetricAlarms\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/MetricAlarms\";s:11:\"description\";s:57:\"The
  information for each alarm with the specified metric.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeAlarmsInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"ActionPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ActionPrefix\";s:11:\"description\";s:23:\"The
  action name prefix.\";}s:15:\"AlarmNamePrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AlarmNamePrefix\";s:11:\"description\";s:98:\"The
  alarm name prefix. If this parameter is specified, you cannot specify <code>AlarmNames</code>.\";}s:10:\"AlarmNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AlarmNames\";s:11:\"description\";s:24:\"The
  names of the alarms.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxRecords\";s:11:\"description\";s:53:\"The
  maximum number of alarm descriptions to retrieve.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:84:\"The
  token returned by a previous call to indicate that there is more data available.\";}s:10:\"StateValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StateValue\";s:11:\"description\";s:46:\"The
  state value to be used in matching alarms.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeAlarmsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"MetricAlarms\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/MetricAlarms\";s:11:\"description\";s:41:\"The
  information for the specified alarms.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:69:\"The
  token that marks the start of the next batch of returned results.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Dimension\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Expands
  the identity of a metric.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DimensionName\";s:11:\"description\";s:26:\"The
  name of the dimension.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DimensionValue\";s:11:\"description\";s:49:\"The
  value representing the dimension measurement.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:15:\"DimensionFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Represents
  filters for a dimension.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DimensionName\";s:11:\"description\";s:33:\"The
  dimension name to be matched.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DimensionValue\";s:11:\"description\";s:41:\"The
  value of the dimension to be matched.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:16:\"DimensionFilters\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DimensionFilter\";}s:8:\"maxItems\";i:10;s:4:\"type\";s:5:\"array\";}s:13:\"DimensionName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:14:\"DimensionValue\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"Dimensions\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";}s:8:\"maxItems\";i:10;s:4:\"type\";s:5:\"array\";}s:24:\"DisableAlarmActionsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"AlarmNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AlarmNames\";s:11:\"description\";s:24:\"The
  names of the alarms.\";}}s:8:\"required\";a:1:{i:0;s:10:\"AlarmNames\";}s:4:\"type\";s:6:\"object\";}s:23:\"EnableAlarmActionsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"AlarmNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AlarmNames\";s:11:\"description\";s:24:\"The
  names of the alarms.\";}}s:8:\"required\";a:1:{i:0;s:10:\"AlarmNames\";}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:32:\"EvaluateLowSampleCountPercentile\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:17:\"EvaluationPeriods\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:17:\"ExtendedStatistic\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:26:\"p(\\d{1,2}(\\.\\d{0,2})?|100)\";s:4:\"type\";s:6:\"string\";}s:18:\"ExtendedStatistics\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ExtendedStatistic\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:16:\"FaultDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"GetDashboardInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"DashboardName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DashboardName\";s:11:\"description\";s:42:\"The
  name of the dashboard to be described.\";}}s:8:\"required\";a:1:{i:0;s:13:\"DashboardName\";}s:4:\"type\";s:6:\"object\";}s:18:\"GetDashboardOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"DashboardArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DashboardArn\";s:11:\"description\";s:48:\"The
  Amazon Resource Name (ARN) of the dashboard.\";}s:13:\"DashboardBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DashboardBody\";s:11:\"description\";s:233:\"The
  detailed information about the dashboard, including what widgets are included and
  their location on the dashboard. For more information about the <code>DashboardBody</code>
  syntax, see <a>CloudWatch-Dashboard-Body-Structure</a>. \";}s:13:\"DashboardName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DashboardName\";s:11:\"description\";s:26:\"The
  name of the dashboard.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetMetricDataInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:57:\"The
  time stamp indicating the latest data to be returned.\";}s:13:\"MaxDatapoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/GetMetricDataMaxDatapoints\";s:11:\"description\";s:128:\"The
  maximum number of data points the request should return before paginating. If you
  omit this, the default of 100,800 is used.\";}s:17:\"MetricDataQueries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MetricDataQueries\";s:11:\"description\";s:261:\"The
  metric queries to be returned. A single <code>GetMetricData</code> call can include
  as many as 100 <code>MetricDataQuery</code> structures. Each of these structures
  can specify either a metric to retrieve, or a math expression to perform on retrieved
  data. \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:96:\"Include
  this value, if it was returned by the previous call, to get the next set of data
  points.\";}s:6:\"ScanBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/ScanBy\";s:11:\"description\";s:311:\"The
  order in which data points should be returned. <code>TimestampDescending</code>
  returns the newest data first and paginates when the <code>MaxDatapoints</code>
  limit is reached. <code>TimestampAscending</code> returns the oldest data first
  and paginates when the <code>MaxDatapoints</code> limit is reached.\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:59:\"The
  time stamp indicating the earliest data to be returned.\";}}s:8:\"required\";a:3:{i:0;s:17:\"MetricDataQueries\";i:1;s:9:\"StartTime\";i:2;s:7:\"EndTime\";}s:4:\"type\";s:6:\"object\";}s:26:\"GetMetricDataMaxDatapoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"GetMetricDataOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"MetricDataResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MetricDataResults\";s:11:\"description\";s:84:\"The
  metrics that are returned, including the metric name, namespace, and dimensions.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:54:\"A
  token that marks the next batch of returned results.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetMetricStatisticsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"Dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Dimensions\";s:11:\"description\";s:789:\"The
  dimensions. If the metric contains multiple dimensions, you must include a value
  for each dimension. CloudWatch treats each unique combination of dimensions as a
  separate metric. If a specific combination of dimensions was not published, you
  can't retrieve statistics for it. You must specify the same dimensions that were
  used when the metrics were created. For an example, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#dimension-combinations\">Dimension
  Combinations</a> in the <i>Amazon CloudWatch User Guide</i>. For more information
  about specifying dimensions, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html\">Publishing
  Metrics</a> in the <i>Amazon CloudWatch User Guide</i>.\";}s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:252:\"<p>The
  time stamp that determines the last data point to return.</p> <p>The value specified
  is exclusive; results include data points up to the specified time stamp. The time
  stamp must be in ISO 8601 UTC format (for example, 2016-10-10T23:00:00Z).</p>\";}s:18:\"ExtendedStatistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ExtendedStatistics\";s:11:\"description\";s:209:\"The
  percentile statistics. Specify values between p0.0 and p100. When calling <code>GetMetricStatistics</code>,
  you must specify either <code>Statistics</code> or <code>ExtendedStatistics</code>,
  but not both.\";}s:10:\"MetricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:47:\"The
  name of the metric, with or without spaces.\";}s:9:\"Namespace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Namespace\";s:11:\"description\";s:52:\"The
  namespace of the metric, with or without spaces.\";}s:6:\"Period\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Period\";s:11:\"description\";s:979:\"<p>The
  granularity, in seconds, of the returned data points. For metrics with regular resolution,
  a period can be as short as one minute (60 seconds) and must be a multiple of 60.
  For high-resolution metrics that are collected at intervals of less than one minute,
  the period can be 1, 5, 10, 30, 60, or any multiple of 60. High-resolution metrics
  are those metrics stored by a <code>PutMetricData</code> call that includes a <code>StorageResolution</code>
  of 1 second.</p> <p>If the <code>StartTime</code> parameter specifies a time stamp
  that is greater than 3 hours ago, you must specify the period as follows or no data
  points in that time range is returned:</p> <ul> <li> <p>Start time between 3 hours
  and 15 days ago - Use a multiple of 60 seconds (1 minute).</p> </li> <li> <p>Start
  time between 15 and 63 days ago - Use a multiple of 300 seconds (5 minutes).</p>
  </li> <li> <p>Start time greater than 63 days ago - Use a multiple of 3600 seconds
  (1 hour).</p> </li> </ul>\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:1406:\"<p>The
  time stamp that determines the first data point to return. Start times are evaluated
  relative to the time that CloudWatch receives the request.</p> <p>The value specified
  is inclusive; results include data points with the specified time stamp. The time
  stamp must be in ISO 8601 UTC format (for example, 2016-10-03T23:00:00Z).</p> <p>CloudWatch
  rounds the specified time stamp as follows:</p> <ul> <li> <p>Start time less than
  15 days ago - Round down to the nearest whole minute. For example, 12:32:34 is rounded
  down to 12:32:00.</p> </li> <li> <p>Start time between 15 and 63 days ago - Round
  down to the nearest 5-minute clock interval. For example, 12:32:34 is rounded down
  to 12:30:00.</p> </li> <li> <p>Start time greater than 63 days ago - Round down
  to the nearest 1-hour clock interval. For example, 12:32:34 is rounded down to 12:00:00.</p>
  </li> </ul> <p>If you set <code>Period</code> to 5, 10, or 30, the start time of
  your request is rounded down to the nearest time that corresponds to even 5-, 10-,
  or 30-second divisions of a minute. For example, if you make a query at (HH:mm:ss)
  01:05:23 for the previous 10-second period, the start time of your request is rounded
  down and you receive data from 01:05:10 to 01:05:20. If you make a query at 15:07:17
  for the previous 5 minutes of data, using a period of 5 seconds, you receive data
  timestamped between 15:02:15 and 15:07:15. </p>\";}s:10:\"Statistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Statistics\";s:11:\"description\";s:254:\"The
  metric statistics, other than percentile. For percentile statistics, use <code>ExtendedStatistics</code>.
  When calling <code>GetMetricStatistics</code>, you must specify either <code>Statistics</code>
  or <code>ExtendedStatistics</code>, but not both.\";}s:4:\"Unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StandardUnit\";s:11:\"description\";s:223:\"The
  unit for a given metric. Metrics may be reported in multiple units. Not supplying
  a unit results in all units being returned. If you specify only a unit that the
  metric does not report, the results of the call are null.\";}}s:8:\"required\";a:5:{i:0;s:9:\"Namespace\";i:1;s:10:\"MetricName\";i:2;s:9:\"StartTime\";i:3;s:7:\"EndTime\";i:4;s:6:\"Period\";}s:4:\"type\";s:6:\"object\";}s:25:\"GetMetricStatisticsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Datapoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Datapoints\";s:11:\"description\";s:41:\"The
  data points for the specified metric.\";}s:5:\"Label\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricLabel\";s:11:\"description\";s:33:\"A
  label for the specified metric.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"HistoryData\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:4095;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"HistoryItemType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:19:\"ConfigurationUpdate\";i:1;s:11:\"StateUpdate\";i:2;s:6:\"Action\";}s:4:\"type\";s:6:\"string\";}s:14:\"HistorySummary\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:20:\"InternalServiceFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Request
  processing has failed due to some unknown error, exception, or failure.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/FaultDescription\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:18:\"InvalidFormatFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Data
  was not syntactically valid JSON.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:16:\"InvalidNextToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  next token specified is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:36:\"InvalidParameterCombinationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Parameters
  were used together that cannot be used together.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AwsQueryErrorMessage\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:30:\"InvalidParameterValueException\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  value of an input parameter is bad or out-of-range.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AwsQueryErrorMessage\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:12:\"LastModified\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"LimitExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  quota for alarms for this customer has already been reached.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListDashboardsInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"DashboardNamePrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/DashboardNamePrefix\";s:11:\"description\";s:195:\"If
  you specify this parameter, only the dashboards with names starting with the specified
  string are listed. The maximum length is 255, and valid characters are A-Z, a-z,
  0-9, \".\", \"-\", and \"_\". \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:84:\"The
  token returned by a previous call to indicate that there is more data available.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListDashboardsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"DashboardEntries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DashboardEntries\";s:11:\"description\";s:32:\"The
  list of matching dashboards.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:69:\"The
  token that marks the start of the next batch of returned results.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListMetricsInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"Dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DimensionFilters\";s:11:\"description\";s:33:\"The
  dimensions to filter against.\";}s:10:\"MetricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:41:\"The
  name of the metric to filter against.\";}s:9:\"Namespace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Namespace\";s:11:\"description\";s:32:\"The
  namespace to filter against.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:84:\"The
  token returned by a previous call to indicate that there is more data available.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListMetricsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Metrics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Metrics\";s:11:\"description\";s:12:\"The
  metrics.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:69:\"The
  token that marks the start of the next batch of returned results.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MaxRecords\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"MessageData\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"A
  message returned by the <code>GetMetricData</code>API, including a code and a description.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MessageDataCode\";s:11:\"description\";s:58:\"The
  error code or status code associated with the message.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/MessageDataValue\";s:11:\"description\";s:17:\"The
  message text.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"MessageDataCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"MessageDataValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Metric\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Represents
  a specific metric.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"Dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Dimensions\";s:11:\"description\";s:30:\"The
  dimensions for the metric.\";}s:10:\"MetricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:23:\"The
  name of the metric.\";}s:9:\"Namespace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Namespace\";s:11:\"description\";s:28:\"The
  namespace of the metric.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"MetricAlarm\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Represents
  an alarm.\";s:10:\"properties\";O:8:\"stdClass\":25:{s:14:\"ActionsEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ActionsEnabled\";s:11:\"description\";s:83:\"Indicates
  whether actions should be executed during any changes to the alarm state.\";}s:12:\"AlarmActions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";s:11:\"description\";s:163:\"The
  actions to execute when this alarm transitions to the <code>ALARM</code> state from
  any other state. Each action is specified as an Amazon Resource Name (ARN).\";}s:8:\"AlarmArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/AlarmArn\";s:11:\"description\";s:44:\"The
  Amazon Resource Name (ARN) of the alarm.\";}s:34:\"AlarmConfigurationUpdatedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:61:\"The
  time stamp of the last update to the alarm configuration.\";}s:16:\"AlarmDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AlarmDescription\";s:11:\"description\";s:29:\"The
  description of the alarm.\";}s:9:\"AlarmName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AlarmName\";s:11:\"description\";s:22:\"The
  name of the alarm.\";}s:18:\"ComparisonOperator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ComparisonOperator\";s:11:\"description\";s:145:\"The
  arithmetic operation to use when comparing the specified statistic and threshold.
  The specified statistic value is used as the first operand.\";}s:17:\"DatapointsToAlarm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DatapointsToAlarm\";s:11:\"description\";s:69:\"The
  number of datapoints that must be breaching to trigger the alarm.\";}s:10:\"Dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Dimensions\";s:11:\"description\";s:56:\"The
  dimensions for the metric associated with the alarm.\";}s:32:\"EvaluateLowSampleCountPercentile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/EvaluateLowSampleCountPercentile\";s:11:\"description\";s:330:\"Used
  only for alarms based on percentiles. If <code>ignore</code>, the alarm state does
  not change during periods with too few data points to be statistically significant.
  If <code>evaluate</code> or this parameter is not used, the alarm is always evaluated
  and possibly changes state no matter how many data points are available.\";}s:17:\"EvaluationPeriods\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EvaluationPeriods\";s:11:\"description\";s:77:\"The
  number of periods over which data is compared to the specified threshold.\";}s:17:\"ExtendedStatistic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ExtendedStatistic\";s:11:\"description\";s:105:\"The
  percentile statistic for the metric associated with the alarm. Specify a value between
  p0.0 and p100.\";}s:23:\"InsufficientDataActions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";s:11:\"description\";s:175:\"The
  actions to execute when this alarm transitions to the <code>INSUFFICIENT_DATA</code>
  state from any other state. Each action is specified as an Amazon Resource Name
  (ARN).\";}s:10:\"MetricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:49:\"The
  name of the metric associated with the alarm.\";}s:9:\"Namespace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Namespace\";s:11:\"description\";s:54:\"The
  namespace of the metric associated with the alarm.\";}s:9:\"OKActions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";s:11:\"description\";s:160:\"The
  actions to execute when this alarm transitions to the <code>OK</code> state from
  any other state. Each action is specified as an Amazon Resource Name (ARN).\";}s:6:\"Period\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Period\";s:11:\"description\";s:60:\"The
  period, in seconds, over which the statistic is applied.\";}s:11:\"StateReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StateReason\";s:11:\"description\";s:51:\"An
  explanation for the alarm state, in text format.\";}s:15:\"StateReasonData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/StateReasonData\";s:11:\"description\";s:51:\"An
  explanation for the alarm state, in JSON format.\";}s:21:\"StateUpdatedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:53:\"The
  time stamp of the last update to the alarm state.\";}s:10:\"StateValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StateValue\";s:11:\"description\";s:30:\"The
  state value for the alarm.\";}s:9:\"Statistic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Statistic\";s:11:\"description\";s:141:\"The
  statistic for the metric associated with the alarm, other than percentile. For percentile
  statistics, use <code>ExtendedStatistic</code>.\";}s:9:\"Threshold\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Threshold\";s:11:\"description\";s:50:\"The
  value to compare with the specified statistic.\";}s:16:\"TreatMissingData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TreatMissingData\";s:11:\"description\";s:137:\"Sets
  how this alarm is to handle missing data points. If this parameter is omitted, the
  default behavior of <code>missing</code> is used.\";}s:4:\"Unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StandardUnit\";s:11:\"description\";s:49:\"The
  unit of the metric associated with the alarm.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"MetricAlarms\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MetricAlarm\";}s:4:\"type\";s:5:\"array\";}s:10:\"MetricData\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MetricDatum\";}s:4:\"type\";s:5:\"array\";}s:17:\"MetricDataQueries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MetricDataQuery\";}s:4:\"type\";s:5:\"array\";}s:15:\"MetricDataQuery\";O:8:\"stdClass\":4:{s:11:\"description\";s:283:\"This
  structure indicates the metric data to return, and whether this call is just retrieving
  a batch set of data for one metric, or is performing a math expression on metric
  data. A single <code>GetMetricData</code> call can include up to 100 <code>MetricDataQuery</code>
  structures.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"Expression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/MetricExpression\";s:11:\"description\";s:500:\"<p>The
  math expression to be performed on the returned data, if this structure is performing
  a math expression. For more information about metric math expressions, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-metric-math.html#metric-math-syntax\">Metric
  Math Syntax and Functions</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>Within
  one MetricDataQuery structure, you must specify either <code>Expression</code> or
  <code>MetricStat</code> but not both.</p>\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/MetricId\";s:11:\"description\";s:406:\"A
  short name used to tie this structure to the results in the response. This name
  must be unique within a single call to <code>GetMetricData</code>. If you are performing
  math expressions on this set of data, this name represents that data and can serve
  as a variable in the mathematical expression. The valid characters are letters,
  numbers, and underscore. The first character must be a lowercase letter.\";}s:5:\"Label\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricLabel\";s:11:\"description\";s:293:\"A
  human-readable label for this metric or expression. This is especially useful if
  this is an expression, so that you know what the value represents. If the metric
  or expression is shown in a CloudWatch dashboard widget, the label is shown. If
  Label is omitted, CloudWatch generates a default.\";}s:10:\"MetricStat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricStat\";s:11:\"description\";s:341:\"<p>The
  metric to be returned, along with statistics, period, and units. Use this parameter
  only if this structure is performing a data retrieval and not performing a math
  expression on the returned data.</p> <p>Within one MetricDataQuery structure, you
  must specify either <code>Expression</code> or <code>MetricStat</code> but not both.</p>\";}s:10:\"ReturnData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ReturnData\";s:11:\"description\";s:279:\"Indicates
  whether to return the time stamps and raw data values of this metric. If you are
  performing this call just to do math expressions and do not also need the raw data
  returned, you can specify <code>False</code>. If you omit this, the default of <code>True</code>
  is used.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:16:\"MetricDataResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:245:\"A
  <code>GetMetricData</code> call returns an array of <code>MetricDataResult</code>
  structures. Each of these structures includes the data points for that metric, along
  with the time stamps of those data points and other identifying information.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/MetricId\";s:11:\"description\";s:54:\"The
  short name you specified to represent this metric.\";}s:5:\"Label\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricLabel\";s:11:\"description\";s:50:\"The
  human-readable label associated with the data.\";}s:8:\"Messages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/MetricDataResultMessages\";s:11:\"description\";s:71:\"A
  list of messages with additional information about the data returned.\";}s:10:\"StatusCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StatusCode\";s:11:\"description\";s:526:\"The
  status of the returned data. <code>Complete</code> indicates that all data points
  in the requested time range were returned. <code>PartialData</code> means that an
  incomplete set of data points were returned. You can use the <code>NextToken</code>
  value that was returned and repeat your request to get more data points. <code>NextToken</code>
  is not returned if you are performing a math expression. <code>InternalError</code>
  indicates that an error occurred. Retry your request using <code>NextToken</code>,
  if present.\";}s:10:\"Timestamps\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Timestamps\";s:11:\"description\";s:180:\"The
  time stamps for the data points, formatted in Unix timestamp format. The number
  of time stamps always matches the number of values and the value for Timestamps[x]
  is Values[x].\";}s:6:\"Values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DatapointValues\";s:11:\"description\";s:185:\"The
  data points for the metric corresponding to <code>Timestamps</code>. The number
  of values always matches the number of time stamps and the time stamp for Values[x]
  is Timestamps[x].\";}}s:4:\"type\";s:6:\"object\";}s:24:\"MetricDataResultMessages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MessageData\";}s:4:\"type\";s:5:\"array\";}s:17:\"MetricDataResults\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/MetricDataResult\";}s:4:\"type\";s:5:\"array\";}s:11:\"MetricDatum\";O:8:\"stdClass\":4:{s:11:\"description\";s:119:\"Encapsulates
  the information sent to either create a metric or add new values to be aggregated
  into an existing metric.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"Dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Dimensions\";s:11:\"description\";s:42:\"The
  dimensions associated with the metric.\";}s:10:\"MetricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:23:\"The
  name of the metric.\";}s:15:\"StatisticValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StatisticSet\";s:11:\"description\";s:38:\"The
  statistical values for the metric.\";}s:17:\"StorageResolution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/StorageResolution\";s:11:\"description\";s:703:\"<p>Valid
  values are 1 and 60. Setting this to 1 specifies this metric as a high-resolution
  metric, so that CloudWatch stores the metric with sub-minute resolution down to
  one second. Setting this to 60 specifies this metric as a regular-resolution metric,
  which CloudWatch stores at 1-minute resolution. Currently, high resolution is available
  only for custom metrics. For more information about high-resolution metrics, see
  <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html#high-resolution-metrics\">High-Resolution
  Metrics</a> in the <i>Amazon CloudWatch User Guide</i>. </p> <p>This field is optional,
  if you do not specify it the default of 60 is used.</p>\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:110:\"The
  time the metric data was received, expressed as the number of milliseconds since
  Jan 1, 1970 00:00:00 UTC.\";}s:4:\"Unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StandardUnit\";s:11:\"description\";s:23:\"The
  unit of the metric.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DatapointValue\";s:11:\"description\";s:349:\"<p>The
  value for the metric.</p> <p>Although the parameter accepts numbers of type Double,
  CloudWatch rejects values that are either too small or too large. Values must be
  in the range of 8.515920e-109 to 1.174271e+108 (Base 10) or 2e-360 to 2e360 (Base
  2). In addition, special values (for example, NaN, +Infinity, -Infinity) are not
  supported.</p>\";}}s:8:\"required\";a:1:{i:0;s:10:\"MetricName\";}s:4:\"type\";s:6:\"object\";}s:16:\"MetricExpression\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:8:\"MetricId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"MetricLabel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"MetricName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"MetricStat\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"This
  structure defines the metric to be returned, along with the statistics, period,
  and units.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"Metric\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Metric\";s:11:\"description\";s:75:\"The
  metric to return, including the metric name, namespace, and dimensions.\";}s:6:\"Period\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Period\";s:11:\"description\";s:45:\"The
  period to use when retrieving the metric.\";}s:4:\"Stat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Stat\";s:11:\"description\";s:87:\"The
  statistic to return. It can include any CloudWatch statistic or extended statistic.\";}s:4:\"Unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StandardUnit\";s:11:\"description\";s:45:\"The
  unit to use for the returned data points.\";}}s:8:\"required\";a:3:{i:0;s:6:\"Metric\";i:1;s:6:\"Period\";i:2;s:4:\"Stat\";}s:4:\"type\";s:6:\"object\";}s:7:\"Metrics\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Metric\";}s:4:\"type\";s:5:\"array\";}s:33:\"MissingRequiredParameterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"An
  input parameter that is required is missing.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AwsQueryErrorMessage\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Namespace\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:7:\"pattern\";s:6:\"[^:].*\";s:4:\"type\";s:6:\"string\";}s:9:\"NextToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:6:\"Period\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:17:\"PutDashboardInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"DashboardBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DashboardBody\";s:11:\"description\";s:259:\"<p>The
  detailed information about the dashboard in JSON format, including the widgets to
  include and their location on the dashboard. This parameter is required.</p> <p>For
  more information about the syntax, see <a>CloudWatch-Dashboard-Body-Structure</a>.</p>\";}s:13:\"DashboardName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DashboardName\";s:11:\"description\";s:287:\"The
  name of the dashboard. If a dashboard with this name already exists, this call modifies
  that dashboard, replacing its current contents. Otherwise, a new dashboard is created.
  The maximum length is 255, and valid characters are A-Z, a-z, 0-9, \"-\", and \"_\".
  This parameter is required.\";}}s:8:\"required\";a:2:{i:0;s:13:\"DashboardName\";i:1;s:13:\"DashboardBody\";}s:4:\"type\";s:6:\"object\";}s:18:\"PutDashboardOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:27:\"DashboardValidationMessages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/DashboardValidationMessages\";s:11:\"description\";s:418:\"<p>If
  the input for <code>PutDashboard</code> was correct and the dashboard was successfully
  created or modified, this result is empty.</p> <p>If this result includes only warning
  messages, then the input was valid enough for the dashboard to be created or modified,
  but some elements of the dashboard may not render.</p> <p>If this result includes
  error messages, the input was not valid and the operation failed.</p>\";}}s:4:\"type\";s:6:\"object\";}s:19:\"PutMetricAlarmInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":19:{s:14:\"ActionsEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ActionsEnabled\";s:11:\"description\";s:83:\"Indicates
  whether actions should be executed during any changes to the alarm state.\";}s:12:\"AlarmActions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";s:11:\"description\";s:888:\"<p>The
  actions to execute when this alarm transitions to the <code>ALARM</code> state from
  any other state. Each action is specified as an Amazon Resource Name (ARN).</p>
  <p>Valid Values: arn:aws:automate:<i>region</i>:ec2:stop | arn:aws:automate:<i>region</i>:ec2:terminate
  | arn:aws:automate:<i>region</i>:ec2:recover | arn:aws:sns:<i>region</i>:<i>account-id</i>:<i>sns-topic-name</i>
  | arn:aws:autoscaling:<i>region</i>:<i>account-id</i>:scalingPolicy:<i>policy-id</i>
  autoScalingGroupName/<i>group-friendly-name</i>:policyName/<i>policy-friendly-name</i>
  </p> <p>Valid Values (for use with IAM roles): arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0
  | arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0
  | arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p>\";}s:16:\"AlarmDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AlarmDescription\";s:11:\"description\";s:30:\"The
  description for the alarm.\";}s:9:\"AlarmName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AlarmName\";s:11:\"description\";s:72:\"The
  name for the alarm. This name must be unique within the AWS account.\";}s:18:\"ComparisonOperator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ComparisonOperator\";s:11:\"description\";s:146:\"
  The arithmetic operation to use when comparing the specified statistic and threshold.
  The specified statistic value is used as the first operand.\";}s:17:\"DatapointsToAlarm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DatapointsToAlarm\";s:11:\"description\";s:372:\"The
  number of datapoints that must be breaching to trigger the alarm. This is used only
  if you are setting an \"M out of N\" alarm. In that case, this value is the M. For
  more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/AlarmThatSendsEmail.html#alarm-evaluation\">Evaluating
  an Alarm</a> in the <i>Amazon CloudWatch User Guide</i>.\";}s:10:\"Dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Dimensions\";s:11:\"description\";s:56:\"The
  dimensions for the metric associated with the alarm.\";}s:32:\"EvaluateLowSampleCountPercentile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/EvaluateLowSampleCountPercentile\";s:11:\"description\";s:621:\"<p>
  Used only for alarms based on percentiles. If you specify <code>ignore</code>, the
  alarm state does not change during periods with too few data points to be statistically
  significant. If you specify <code>evaluate</code> or omit this parameter, the alarm
  is always evaluated and possibly changes state no matter how many data points are
  available. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/AlarmThatSendsEmail.html#percentiles-with-low-samples\">Percentile-Based
  CloudWatch Alarms and Low Data Samples</a>.</p> <p>Valid Values: <code>evaluate
  | ignore</code> </p>\";}s:17:\"EvaluationPeriods\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EvaluationPeriods\";s:11:\"description\";s:466:\"<p>The
  number of periods over which data is compared to the specified threshold. If you
  are setting an alarm which requires that a number of consecutive data points be
  breaching to trigger the alarm, this value specifies that number. If you are setting
  an \"M out of N\" alarm, this value is the N.</p> <p>An alarm's total current evaluation
  period can be no longer than one day, so this number multiplied by <code>Period</code>
  cannot be more than 86,400 seconds.</p>\";}s:17:\"ExtendedStatistic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ExtendedStatistic\";s:11:\"description\";s:244:\"The
  percentile statistic for the metric associated with the alarm. Specify a value between
  p0.0 and p100. When you call <code>PutMetricAlarm</code>, you must specify either
  <code>Statistic</code> or <code>ExtendedStatistic,</code> but not both.\";}s:23:\"InsufficientDataActions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";s:11:\"description\";s:900:\"<p>The
  actions to execute when this alarm transitions to the <code>INSUFFICIENT_DATA</code>
  state from any other state. Each action is specified as an Amazon Resource Name
  (ARN).</p> <p>Valid Values: arn:aws:automate:<i>region</i>:ec2:stop | arn:aws:automate:<i>region</i>:ec2:terminate
  | arn:aws:automate:<i>region</i>:ec2:recover | arn:aws:sns:<i>region</i>:<i>account-id</i>:<i>sns-topic-name</i>
  | arn:aws:autoscaling:<i>region</i>:<i>account-id</i>:scalingPolicy:<i>policy-id</i>
  autoScalingGroupName/<i>group-friendly-name</i>:policyName/<i>policy-friendly-name</i>
  </p> <p>Valid Values (for use with IAM roles): arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0
  | arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0
  | arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p>\";}s:10:\"MetricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:50:\"The
  name for the metric associated with the alarm.\";}s:9:\"Namespace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Namespace\";s:11:\"description\";s:55:\"The
  namespace for the metric associated with the alarm.\";}s:9:\"OKActions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";s:11:\"description\";s:884:\"<p>The
  actions to execute when this alarm transitions to an <code>OK</code> state from
  any other state. Each action is specified as an Amazon Resource Name (ARN).</p>
  <p>Valid Values: arn:aws:automate:<i>region</i>:ec2:stop | arn:aws:automate:<i>region</i>:ec2:terminate
  | arn:aws:automate:<i>region</i>:ec2:recover | arn:aws:sns:<i>region</i>:<i>account-id</i>:<i>sns-topic-name</i>
  | arn:aws:autoscaling:<i>region</i>:<i>account-id</i>:scalingPolicy:<i>policy-id</i>
  autoScalingGroupName/<i>group-friendly-name</i>:policyName/<i>policy-friendly-name</i>
  </p> <p>Valid Values (for use with IAM roles): arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Stop/1.0
  | arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Terminate/1.0
  | arn:aws:swf:<i>region</i>:{<i>account-id</i>}:action/actions/AWS_EC2.InstanceId.Reboot/1.0</p>\";}s:6:\"Period\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Period\";s:11:\"description\";s:1038:\"<p>The
  period, in seconds, over which the specified statistic is applied. Valid values
  are 10, 30, and any multiple of 60.</p> <p>Be sure to specify 10 or 30 only for
  metrics that are stored by a <code>PutMetricData</code> call with a <code>StorageResolution</code>
  of 1. If you specify a period of 10 or 30 for a metric that does not have sub-minute
  resolution, the alarm still attempts to gather data at the period rate that you
  specify. In this case, it does not receive data for the attempts that do not correspond
  to a one-minute data resolution, and the alarm may often lapse into INSUFFICENT_DATA
  status. Specifying 10 or 30 also sets this alarm as a high-resolution alarm, which
  has a higher charge than other alarms. For more information about pricing, see <a
  href=\"https://aws.amazon.com/cloudwatch/pricing/\">Amazon CloudWatch Pricing</a>.</p>
  <p>An alarm's total current evaluation period can be no longer than one day, so
  <code>Period</code> multiplied by <code>EvaluationPeriods</code> cannot be more
  than 86,400 seconds.</p>\";}s:9:\"Statistic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Statistic\";s:11:\"description\";s:280:\"The
  statistic for the metric associated with the alarm, other than percentile. For percentile
  statistics, use <code>ExtendedStatistic</code>. When you call <code>PutMetricAlarm</code>,
  you must specify either <code>Statistic</code> or <code>ExtendedStatistic,</code>
  but not both.\";}s:9:\"Threshold\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Threshold\";s:11:\"description\";s:60:\"The
  value against which the specified statistic is compared.\";}s:16:\"TreatMissingData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TreatMissingData\";s:11:\"description\";s:445:\"<p>
  Sets how this alarm is to handle missing data points. If <code>TreatMissingData</code>
  is omitted, the default behavior of <code>missing</code> is used. For more information,
  see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/AlarmThatSendsEmail.html#alarms-and-missing-data\">Configuring
  How CloudWatch Alarms Treats Missing Data</a>.</p> <p>Valid Values: <code>breaching
  | notBreaching | ignore | missing</code> </p>\";}s:4:\"Unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StandardUnit\";s:11:\"description\";s:598:\"<p>The
  unit of measure for the statistic. For example, the units for the Amazon EC2 NetworkIn
  metric are Bytes because NetworkIn tracks the number of bytes that an instance receives
  on all network interfaces. You can also specify a unit when you create a custom
  metric. Units help provide conceptual meaning to your data. Metric data points that
  specify a unit of measure, such as Percent, are aggregated separately.</p> <p>If
  you specify a unit, you must use a unit that is appropriate for the metric. Otherwise,
  the CloudWatch alarm can get stuck in the <code>INSUFFICIENT DATA</code> state.
  </p>\";}}s:8:\"required\";a:7:{i:0;s:9:\"AlarmName\";i:1;s:10:\"MetricName\";i:2;s:9:\"Namespace\";i:3;s:6:\"Period\";i:4;s:17:\"EvaluationPeriods\";i:5;s:9:\"Threshold\";i:6;s:18:\"ComparisonOperator\";}s:4:\"type\";s:6:\"object\";}s:18:\"PutMetricDataInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MetricData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricData\";s:11:\"description\";s:24:\"The
  data for the metric.\";}s:9:\"Namespace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Namespace\";s:11:\"description\";s:192:\"<p>The
  namespace for the metric data.</p> <p>You cannot specify a namespace that begins
  with \"AWS/\". Namespaces that begin with \"AWS/\" are reserved for use by Amazon
  Web Services products.</p>\";}}s:8:\"required\";a:2:{i:0;s:9:\"Namespace\";i:1;s:10:\"MetricData\";}s:4:\"type\";s:6:\"object\";}s:12:\"ResourceList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";}s:8:\"maxItems\";i:5;s:4:\"type\";s:5:\"array\";}s:12:\"ResourceName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"ResourceNotFound\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  named resource does not exist.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ReturnData\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"ScanBy\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:19:\"TimestampDescending\";i:1;s:18:\"TimestampAscending\";}s:4:\"type\";s:6:\"string\";}s:18:\"SetAlarmStateInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"AlarmName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AlarmName\";s:11:\"description\";s:110:\"The
  name for the alarm. This name must be unique within the AWS account. The maximum
  length is 255 characters.\";}s:11:\"StateReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StateReason\";s:11:\"description\";s:73:\"The
  reason that this alarm is set to this specific state, in text format.\";}s:15:\"StateReasonData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/StateReasonData\";s:11:\"description\";s:73:\"The
  reason that this alarm is set to this specific state, in JSON format.\";}s:10:\"StateValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StateValue\";s:11:\"description\";s:23:\"The
  value of the state.\";}}s:8:\"required\";a:3:{i:0;s:9:\"AlarmName\";i:1;s:10:\"StateValue\";i:2;s:11:\"StateReason\";}s:4:\"type\";s:6:\"object\";}s:4:\"Size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"StandardUnit\";O:8:\"stdClass\":2:{s:4:\"enum\";a:27:{i:0;s:7:\"Seconds\";i:1;s:12:\"Microseconds\";i:2;s:12:\"Milliseconds\";i:3;s:5:\"Bytes\";i:4;s:9:\"Kilobytes\";i:5;s:9:\"Megabytes\";i:6;s:9:\"Gigabytes\";i:7;s:9:\"Terabytes\";i:8;s:4:\"Bits\";i:9;s:8:\"Kilobits\";i:10;s:8:\"Megabits\";i:11;s:8:\"Gigabits\";i:12;s:8:\"Terabits\";i:13;s:7:\"Percent\";i:14;s:5:\"Count\";i:15;s:12:\"Bytes/Second\";i:16;s:16:\"Kilobytes/Second\";i:17;s:16:\"Megabytes/Second\";i:18;s:16:\"Gigabytes/Second\";i:19;s:16:\"Terabytes/Second\";i:20;s:11:\"Bits/Second\";i:21;s:15:\"Kilobits/Second\";i:22;s:15:\"Megabits/Second\";i:23;s:15:\"Gigabits/Second\";i:24;s:15:\"Terabits/Second\";i:25;s:12:\"Count/Second\";i:26;s:4:\"None\";}s:4:\"type\";s:6:\"string\";}s:4:\"Stat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"StateReason\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1023;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:15:\"StateReasonData\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:4000;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:10:\"StateValue\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:2:\"OK\";i:1;s:5:\"ALARM\";i:2;s:17:\"INSUFFICIENT_DATA\";}s:4:\"type\";s:6:\"string\";}s:9:\"Statistic\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:11:\"SampleCount\";i:1;s:7:\"Average\";i:2;s:3:\"Sum\";i:3;s:7:\"Minimum\";i:4;s:7:\"Maximum\";}s:4:\"type\";s:6:\"string\";}s:12:\"StatisticSet\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Represents
  a set of statistics that describes a specific metric. \";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"Maximum\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DatapointValue\";s:11:\"description\";s:36:\"The
  maximum value of the sample set.\";}s:7:\"Minimum\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DatapointValue\";s:11:\"description\";s:36:\"The
  minimum value of the sample set.\";}s:11:\"SampleCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DatapointValue\";s:11:\"description\";s:49:\"The
  number of samples used for the statistic set.\";}s:3:\"Sum\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DatapointValue\";s:11:\"description\";s:37:\"The
  sum of values for the sample set.\";}}s:8:\"required\";a:4:{i:0;s:11:\"SampleCount\";i:1;s:3:\"Sum\";i:2;s:7:\"Minimum\";i:3;s:7:\"Maximum\";}s:4:\"type\";s:6:\"object\";}s:10:\"Statistics\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Statistic\";}s:8:\"maxItems\";i:5;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:10:\"StatusCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:8:\"Complete\";i:1;s:13:\"InternalError\";i:2;s:11:\"PartialData\";}s:4:\"type\";s:6:\"string\";}s:17:\"StorageResolution\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:9:\"Threshold\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"Timestamps\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:4:\"type\";s:5:\"array\";}s:16:\"TreatMissingData\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}"
...
