---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:288:\"Our active docs
  provide the ability to test out your account and to see the responses to your queries.
  The services are RESTful, and are accessed using standard HTTP methods over a secure
  HTTPS channel. Requests and responses are currently sent in JSON format, and have
  a base URL of /v1.\";s:14:\"termsOfService\";s:32:\"https://app.idtbeyond.com/terms/\";s:5:\"title\";s:28:\"Active
  Documentation for /v1\";s:7:\"version\";s:5:\"1.1.7\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"telecom\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#222222\";s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_net2phone_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:54:\"https://app.idtbeyond.com/swagger/spec-08ef3dc298.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"idtbeyond.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"idtbeyond\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.idtbeyond.com
basePath: /v1
paths:
  /iatu/balance:
    get:
      description: Returns a JSON of the account balance.
      parameters:
      - default: APP_ID
        description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        type: string
      - default: APP_KEY
        description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        type: string
      responses:
        200:
          description: Successful balance JSON response
      summary: Account balance
      tags:
      - account
      operationId: iatu.balance.get
  /iatu/charges/reports/all:
    get:
      description: Returns charges by date range.
      parameters:
      - default: APP_ID
        description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        type: string
      - default: APP_KEY
        description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        type: string
      - default: "2016-01-28"
        description: The beginning date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_from
        required: true
        type: string
      - default: "2016-01-28"
        description: The ending date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_to
        required: true
        type: string
      responses:
        200:
          description: Successful charges JSON response
      summary: List of account charges in JSON
      tags:
      - charges
      operationId: iatu.charges.reports.all.get
  /iatu/charges/reports/all.csv:
    get:
      description: Returns charges by date range in CSV.
      parameters:
      - default: APP_ID
        description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        type: string
      - default: APP_KEY
        description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        type: string
      - default: "2016-01-28"
        description: The beginning date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_from
        required: true
        type: string
      - default: "2016-01-28"
        description: The ending date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_to
        required: true
        type: string
      produces:
      - application/csv
      responses:
        200:
          description: Successful charges CSV response
      summary: List of account charges in CSV
      tags:
      - charges
      operationId: iatu.charges.reports.all.csv.get
  /iatu/number-validator:
    get:
      description: Checks to verify if the phone number is valid for the country supplied.
      parameters:
      - default: APP_ID
        description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        type: string
      - default: APP_KEY
        description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        type: string
      - default: BR
        description: 2-digit code of the country in ISO 3166 format. 'BR'
        in: query
        name: country_code
        required: true
        type: string
      - default: "5521983115555"
        description: The mobile number you would like to validate. '5521983115555'
        in: query
        name: mobile_number
        required: true
        type: string
      responses:
        200:
          description: Local value response
      summary: Mobile number validation
      tags:
      - utilities
      operationId: iatu.number_validator.get
  /iatu/products/promotions:
    get:
      description: Returns a JSON of the current promotions.
      parameters:
      - default: APP_ID
        description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        type: string
      - default: APP_KEY
        description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        type: string
      responses:
        200:
          description: Successful Promotions JSON response
      summary: Current promotions
      tags:
      - utilities
      operationId: iatu.products.promotions.get
  /iatu/products/reports/all:
    get:
      description: Returns a JSON list of products, ranges, and their commissions
        percentages.
      parameters:
      - default: APP_ID
        description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        type: string
      - default: APP_KEY
        description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        type: string
      responses:
        200:
          description: Products JSON response
      summary: Get a list of products in JSON format
      tags:
      - products
      operationId: iatu.products.reports.all.get
  /iatu/products/reports/all.csv:
    get:
      description: Returns a CSV of products, ranges, and their commissions percentages.
      parameters:
      - default: APP_ID
        description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        type: string
      - default: APP_KEY
        description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        type: string
      produces:
      - application/csv
      responses:
        200:
          description: Products CSV response
      summary: Get a list of products in CSV format
      tags:
      - products
      operationId: iatu.products.reports.all.csv.get
  /iatu/products/reports/local-value:
    get:
      description: Returns a CSV of products, ranges, and their commissions percentages.
      parameters:
      - default: APP_ID
        description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        type: string
      - default: APP_KEY
        description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        type: string
      - default: GT
        description: 2-digit code of the country in ISO 3166 format. 'GT'
        in: query
        name: country_code
        required: true
        type: string
      - default: Claro
        description: Name of the mobile carrier. 'Claro'
        in: query
        name: carrier_code
        required: true
        type: string
      - default: 500
        description: This is the amount, in cents, of the product you are purchasing.
          '500' = $5.00
        in: query
        name: amount
        required: true
        type: integer
      - default: USD
        description: The currency code (ISO 4217) on the product you are querying.
          'USD'
        in: query
        name: currency_code
        required: true
        type: string
      responses:
        200:
          description: Local value response
      summary: Get the estimated Local Value of a product
      tags:
      - products
      operationId: iatu.products.reports.local_value.get
  /iatu/topups:
    post:
      description: Submits an IATU transaction request.
      parameters:
      - default: APP_ID
        description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        type: string
      - default: APP_KEY
        description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        type: string
      - description: Topups details
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/Topups'
      responses:
        201:
          description: The transaction has been completed successfully.
        202:
          description: The transaction has been received, but the final status is
            unknown. Please query by the client_transaction_id to get the current
            status of the transaction.
        400:
          description: Invalid ID supplied
        404:
          description: X not found
        405:
          description: Validation exception
        500:
          description: There is an error in your transaction. Please check the error
            code contained in the result for more information.
      summary: Topup a mobile phone
      tags:
      - topups
      operationId: iatu.topups.post
  /iatu/topups/reports:
    post:
      description: Search topups transactions, by date, with client_transaction_id
        or to_service_number. Use 'client_transaction_id' to search by transaction
        number, or 'to_service_number' to get transaction status.
      parameters:
      - default: APP_ID
        description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        type: string
      - default: APP_KEY
        description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        type: string
      - description: Topups reports request details
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/TopupsReports'
      responses:
        200:
          description: Successful topups JSON response
      summary: Search topups transactions
      tags:
      - topups
      operationId: iatu.topups.reports.post
  /iatu/topups/reports/all:
    get:
      description: Returns topups by date range.
      parameters:
      - default: APP_ID
        description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        type: string
      - default: APP_KEY
        description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        type: string
      - default: "2016-01-28"
        description: The beginning date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_from
        required: true
        type: string
      - default: "2016-01-28"
        description: The ending date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_to
        required: true
        type: string
      responses:
        200:
          description: Successful topups JSON response
      summary: List of account topups in JSON
      tags:
      - topups
      operationId: iatu.topups.reports.all.get
  /iatu/topups/reports/all.csv:
    get:
      description: Returns topups by date range in CSV.
      parameters:
      - default: APP_ID
        description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        type: string
      - default: APP_KEY
        description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        type: string
      - default: "2016-01-28"
        description: The beginning date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_from
        required: true
        type: string
      - default: "2016-01-28"
        description: The ending date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_to
        required: true
        type: string
      produces:
      - application/csv
      responses:
        200:
          description: Successful topups CSV response
      summary: List of account topups in CSV
      tags:
      - topups
      operationId: iatu.topups.reports.all.csv.get
  /iatu/topups/reports/totals:
    get:
      description: Returns topups totals by date range.
      parameters:
      - default: APP_ID
        description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        type: string
      - default: APP_KEY
        description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        type: string
      - default: "2016-01-28"
        description: The beginning date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_from
        required: true
        type: string
      - default: "2016-01-28"
        description: The ending date of the search IN YYYY-MM-DD format (America/New_York
          timezone). '2016-01-28'
        in: query
        name: date_to
        required: true
        type: string
      responses:
        200:
          description: Successful topups JSON response
      summary: Summary of account topups in JSON
      tags:
      - topups
      operationId: iatu.topups.reports.totals.get
  /iatu/topups/reverse:
    post:
      description: Occasionally, a carrier will not be able to successfully complete
        a topup request. In this case, we will attempt to automatically reverse the
        transaction for you, and return the money into your account. In the case when
        this is not possible, you may need to request a reverse on the transaction
        that has a status of 'transaction_status' 'notredeemed'.
      parameters:
      - default: APP_ID
        description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        type: string
      - default: APP_KEY
        description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        type: string
      - description: Topups details
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/TopupsReversal'
      responses:
        200:
          description: Successful charges JSON response
      summary: Reversal of a Topup
      tags:
      - topups
      operationId: iatu.topups.reverse.post
  /status:
    get:
      description: Returns a JSON of the API status.
      parameters:
      - default: APP_ID
        description: Application ID you would like to use
        in: header
        name: x-idt-beyond-app-id
        required: true
        type: string
      - default: APP_KEY
        description: Application KEY you would like to use
        in: header
        name: x-idt-beyond-app-key
        required: true
        type: string
      responses:
        200:
          description: Successful status JSON response
      summary: Status check
      tags:
      - utilities
      operationId: status.get
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:6:\"Topups\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"amount\";O:8:\"stdClass\":3:{s:7:\"default\";i:500;s:11:\"description\";s:70:\"The
  amount, in cents, of the product you are purchasing. '500' = $5.00\";s:4:\"type\";s:7:\"integer\";}s:12:\"carrier_code\";O:8:\"stdClass\":3:{s:7:\"default\";s:5:\"Claro\";s:11:\"description\";s:35:\"Name
  of the mobile carrier. 'Claro'\";s:4:\"type\";s:6:\"string\";}s:21:\"client_transaction_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:0:\"\";s:11:\"description\";s:60:\"UNIQUE
  15 char ID you use to track topups. 'trans0123456789'\";s:4:\"type\";s:6:\"string\";}s:12:\"country_code\";O:8:\"stdClass\":3:{s:7:\"default\";s:2:\"GT\";s:11:\"description\";s:52:\"2-digit
  code of the country in ISO 3166 format. 'GT'\";s:4:\"type\";s:6:\"string\";}s:13:\"mobile_number\";O:8:\"stdClass\":3:{s:7:\"default\";s:11:\"50231234567\";s:11:\"description\";s:67:\"Mobile
  number to topup. VALIDATE prior to submission. '50231234567'\";s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"Sandbox\";s:11:\"description\";s:74:\"The
  Application plan being used. Case-sensitive. 'Sandbox' or 'Production'\";s:4:\"type\";s:6:\"string\";}s:12:\"product_code\";O:8:\"stdClass\":3:{s:7:\"default\";s:0:\"\";s:11:\"description\";s:73:\"Optional
  code to distinguish one particular product from another. '76560'\";s:4:\"type\";s:6:\"string\";}s:11:\"terminal_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"Kiosk
  5\";s:11:\"description\";s:56:\"ID for the Terminal used to perform the topup. 'Kiosk
  5'\";s:4:\"type\";s:6:\"string\";}}}s:13:\"TopupsReports\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:21:\"client_transaction_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"trans0123456789\";s:11:\"description\";s:61:\"The
  UNIQUE 15 char ID used to track topups. 'trans0123456789'\";s:4:\"type\";s:6:\"string\";}s:9:\"date_from\";O:8:\"stdClass\":3:{s:7:\"default\";s:10:\"2016-01-28\";s:11:\"description\";s:135:\"The
  beginning date of the search IN YYYY-MM-DD format (America/New_York timezone). Not
  used in query by to_service_number. '2016-01-28'\";s:4:\"type\";s:6:\"string\";}s:7:\"date_to\";O:8:\"stdClass\":3:{s:7:\"default\";s:10:\"2016-01-28\";s:11:\"description\";s:132:\"The
  ending date of the search IN YYYY-MM-DD format (America/New_York timezone). Not
  used in query by to_service_number. '2016-01-28'\";s:4:\"type\";s:6:\"string\";}s:17:\"to_service_number\";O:8:\"stdClass\":3:{s:7:\"default\";s:10:\"0123456789\";s:11:\"description\";s:106:\"Enter
  the to_service_number returned in the response to track the current transaction
  status. '0123456789'\";s:4:\"type\";s:6:\"string\";}s:14:\"type_of_report\";O:8:\"stdClass\":3:{s:7:\"default\";s:42:\"client_transaction_id
  or to_service_number\";s:11:\"description\";s:46:\"The type of query you would like
  to search by.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"TopupsReversal\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"client_transaction_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"trans0123456789\";s:11:\"description\";s:60:\"UNIQUE
  15 char ID you use to track topups. 'trans0123456789'\";s:4:\"type\";s:6:\"string\";}s:17:\"to_service_number\";O:8:\"stdClass\":3:{s:7:\"default\";s:10:\"0123456789\";s:11:\"description\";s:95:\"UNIQUE
  IDT transaction number found in the response of a successful topup request. '0123456789'\";s:4:\"type\";s:6:\"string\";}}}}"
...
