---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:21:\"discovery-18f@gsa.gov\";}s:11:\"description\";s:795:\"<p>This
  API drives the <a href=\"https://discovery.gsa.gov\">Discovery Market Research Tool</a>.\nIt
  contains information on the vendors that are part of the OASIS and OASIS Small Business
  contracting vehicles, such as their contracting history, their elligibility for
  contract awards, and their small business designations.\nTo learn more about the
  tool, please visit <a href=\"https://discovery.gsa.gov\">Discovery</a> or see the
  README on our <a href=\"https://github.com/18F/mirage\">GitHub repository</a>.</p>\n<p><strong>Please
  note that the base path for this API is <code>https://api.data.gov/gsa/discovery/</code></strong></p>\n<p>It
  requires an API key, obtainable at <a href=\"http://api.data.gov/\">api.data.gov</a>.\nIt
  must be passed in the <code>api_key</code> parameter with each request.</p>\";s:5:\"title\";s:25:\"Discovery
  Market Research\";s:7:\"version\";s:3:\"0.1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:73:\"https://www.gsa.gov/sites/gsa.gov/templates/resources/images/nav-logo.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.0.1\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:40:\"https://discovery.gsa.gov/docs/api-docs/\";s:7:\"version\";s:3:\"1.2\";}}s:14:\"x-providerName\";s:9:\"cloud.gov\";s:11:\"x-preferred\";b:1;}"
host: discovery-prod.app.cloud.gov
basePath: /
paths: ~
schemes:
- http
...
