---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"Youku API\";s:11:\"description\";s:30:\"\u4F18\u9177\u89C6\u9891\u4E91\u7684YoukuOpenAPI\";s:7:\"version\";s:3:\"2.0\";}"
host: openapi.youku.com
basePath: /v2
paths:
  /comments/create.json:
    post:
      summary: u8bc4u8bbau521bu5efa(comments/create)
      tags:
      - comments
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: client_id
        in: formData
        description: u5e94u7528Key
        required: true
        type: string
      - name: access_token
        in: formData
        description: OAuth2u6388u6743 u83b7u53d6access_tokenu63a5u53e3 u624bu52a8u83b7u53d6access_token
        required: true
        type: string
      - name: video_id
        in: formData
        description: u89c6u9891ID
        required: true
        type: string
      - name: content
        in: formData
        description: u8bc4u8bbau5185u5bb9
        required: true
        type: string
      - name: reply_id
        in: formData
        description: u56deu590dID
        required: false
        type: string
      - name: captcha_key
        in: formData
        description: u9a8cu8bc1u7801key
        required: false
        type: string
      - name: captcha_text
        in: formData
        description: u9a8cu8bc1u7801u5185u5bb9
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/comments5'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:6:\"users0\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"\u7528\u6237ID\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"\u7528\u6237\u540D\";}s:4:\"link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u7528\u6237\u5730\u5740\";}s:6:\"avatar\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u5934\u50CF\";}s:12:\"avatar_large\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"\u5927\u5934\u50CF\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"\u6027\u522B
  \u7537\uFF1Am \u5973\uFF1Af \u672A\u77E5\uFF1Au\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u63CF\u8FF0\";}s:12:\"videos_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u603B\u89C6\u9891\u6570\";}s:15:\"playlists_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u603B\u4E13\u8F91\u6570\";}s:15:\"favorites_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:18:\"\u603B\u6536\u85CF\u89C6\u9891\u6570\";}s:15:\"followers_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:9:\"\u7C89\u4E1D\u6570\";}s:15:\"following_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:9:\"\u5173\u6CE8\u6570\";}s:14:\"statuses_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:9:\"\u52A8\u6001\u6570\";}s:15:\"subscribe_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u88AB\u8BA2\u9605\u6570\";}s:8:\"vv_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:18:\"\u603B\u89C6\u9891\u64AD\u653E\u6570\";}s:11:\"regist_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u6CE8\u518C\u65F6\u95F4\";}}}s:6:\"users1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"\u7528\u6237ID\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"\u7528\u6237\u540D\";}s:4:\"link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u7528\u6237\u5730\u5740\";}s:6:\"avatar\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u5934\u50CF\";}s:12:\"avatar_large\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"\u5927\u5934\u50CF\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"\u6027\u522B
  \u7537\uFF1Am \u5973\uFF1Af \u672A\u77E5\uFF1Au\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u63CF\u8FF0\";}s:12:\"videos_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u603B\u89C6\u9891\u6570\";}s:15:\"playlists_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u603B\u4E13\u8F91\u6570\";}s:15:\"favorites_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:18:\"\u603B\u6536\u85CF\u89C6\u9891\u6570\";}s:15:\"followers_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:9:\"\u7C89\u4E1D\u6570\";}s:15:\"following_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:9:\"\u5173\u6CE8\u6570\";}s:14:\"statuses_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:9:\"\u52A8\u6001\u6570\";}s:9:\"following\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:21:\"\u662F\u5426\u662F\u6211\u7684\u5173\u6CE8\";}s:8:\"follower\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:21:\"\u662F\u5426\u662F\u6211\u7684\u7C89\u4E1D\";}s:11:\"regist_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u6CE8\u518C\u65F6\u95F4\";}}}s:6:\"users2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"\u7528\u6237ID\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"\u7528\u6237\u540D\";}s:4:\"link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u7528\u6237\u5730\u5740\";}s:6:\"avatar\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u5934\u50CF\";}s:12:\"avatar_large\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"\u5927\u5934\u50CF\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"\u6027\u522B
  \u7537\uFF1Am \u5973\uFF1Af \u672A\u77E5\uFF1Au\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u63CF\u8FF0\";}s:12:\"videos_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u603B\u89C6\u9891\u6570\";}s:15:\"playlists_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u603B\u4E13\u8F91\u6570\";}s:15:\"favorites_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:18:\"\u603B\u6536\u85CF\u89C6\u9891\u6570\";}s:15:\"followers_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:9:\"\u7C89\u4E1D\u6570\";}s:15:\"following_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:9:\"\u5173\u6CE8\u6570\";}s:14:\"statuses_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:9:\"\u52A8\u6001\u6570\";}s:11:\"regist_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u6CE8\u518C\u65F6\u95F4\";}}}s:6:\"users3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:53:\"\u7ED3\u679C\u7801\uFF08\u4E3A0\u65F6\u8868\u793A\u6210\u529F\uFF0C\u5C0F\u4E8E0\u65F6\u5931\u8D25\uFF09\";}}}s:6:\"users4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:27:\"\u7B26\u5408\u6761\u4EF6\u7684\u8282\u76EE\u6570\u91CF\";}s:4:\"show\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/show\";}}}}s:4:\"show\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"\u8282\u76EEID\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u8282\u76EE\u540D\u79F0\";}s:4:\"link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u8282\u76EE\u94FE\u63A5\";}s:9:\"play_link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u8282\u76EE\u64AD\u653E\u94FE\u63A5\";}s:6:\"poster\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u8282\u76EE\u6D77\u62A5\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u8282\u76EE\u56FE\u7247\";}s:11:\"streamtypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"\u6D41\u683C\u5F0Fflvhd
  flv 3gphd 3gp hd hd2\";}s:13:\"episode_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:9:\"\u603B\u96C6\u6570\";}s:15:\"episode_updated\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:9:\"\u66F4\u65B0\u81F3\";}s:10:\"view_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u603B\u64AD\u653E\u6570\";}s:5:\"score\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:6:\"\u8BC4\u5206\";}s:4:\"paid\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:23:\"\u662F\u5426\u4ED8\u8D390.\u5426
  1.\u662F\";}s:8:\"released\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"\u8282\u76EE\u53D1\u884C\u65F6\u95F4(YYYY-MM-DD)\";}s:9:\"published\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"\u4F18\u9177\u53D1\u884C\u65F6\u95F4(YYYY-MM-DD)\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u8282\u76EE\u7C7B\u578B\";}s:12:\"hasvideotype\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"description\";s:27:\"\u8282\u76EE\u5305\u542B\u7684\u89C6\u9891\u7C7B\u578B\";}s:9:\"completed\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u662F\u5426\u5B8C\u7ED3\";}s:13:\"comment_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u603B\u8BC4\u8BBA\u6570\";}s:14:\"favorite_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u603B\u6536\u85CF\u6570\";}s:10:\"lastupdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:24:\"\u8282\u76EE\u6700\u540E\u66F4\u65B0\u65F6\u95F4\";}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"comments5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"\u8BC4\u8BBAID\";}}}}"
...
