---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"PagerDuty API\";s:11:\"description\";s:1415:\"The
  PagerDuty API provides programmatic access to entities within a PagerDuty account.
  It is designed around [RESTful principles](https://en.wikipedia.org/wiki/Representational_state_transfer)
  with a path structure based on resources and their relationships.\n\nAll requests
  and responses are serialized in [JSON](https://en.wikipedia.org/wiki/JSON), including
  error responses.\n\nSchema are designed to be reusable across requests and across
  endpoints.\n\nMore sophisticated API clients should treat PagerDuty resources as
  unique objects keyed by the `id` field that can be used in any API request involving
  resources of that type.\n\nEvery resource contains a `type` field that identifies
  the schema it uses.\n\n## Rate limiting\n\nEach account and authentication mechanism
  is limited to the number of API requests it can make every minute. API requests
  that exceed the API rate limit will return an [HTTP status code](error_codes.html#http_responses)
  of 429. Different requests may affect your rate limit differently, so clients should
  always be prepared to be rate limited and respond appropriately.\n\n## Read-Only
  API Keys\n\nAPI requests made with read-only keys attempting to access endpoints
  with methods other than `GET` will return an [HTTP status code](error_codes.html#http_responses)
  of 403.\n\n## Error Codes\n\nMost APIs will return an error code from an unsuccessful
  call. They are described [here](error_codes.html).\n\";s:7:\"version\";s:3:\"2.0\";}"
host: api.pagerduty.com
paths: ~
produces:
- application/vnd.pagerduty+json;version=2
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":121:{s:14:\"AddonReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:15:\"full_page_addon\";i:1;s:25:\"full_page_addon_reference\";i:2;s:19:\"incident_show_addon\";i:3;s:29:\"incident_show_addon_reference\";}}}}}}s:5:\"Addon\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AddonReference\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  name of the add-on.\";s:9:\"maxLength\";i:100;}s:3:\"src\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:11:\"description\";s:76:\"The
  source URL to display in a frame in the PagerDuty UI. HTTPS is required.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:3:\"src\";}}}s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"type\";s:15:\"full_page_addon\";s:4:\"name\";s:20:\"Internal
  Status Page\";s:3:\"src\";s:35:\"https://intranet.example.com/status\";}}s:13:\"IncidentAddon\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Addon\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"services\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:176:\"The
  services this add-on is associated with.\nIf non-empty, the add-on will appear only
  on incidents for those services.\nIf empty, it will appear on incidents for all
  services.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ServiceReference\";}}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:3:\"src\";}}}s:7:\"example\";O:8:\"stdClass\":4:{s:4:\"type\";s:19:\"incident_show_addon\";s:4:\"name\";s:15:\"Service
  Runbook\";s:3:\"src\";s:41:\"https://intranet.example.com/runbook.html\";s:8:\"services\";a:1:{i:0;O:8:\"stdClass\":5:{s:2:\"id\";s:7:\"PIJ90N7\";s:4:\"type\";s:7:\"service\";s:7:\"summary\";s:22:\"My
  Application Service\";s:4:\"self\";s:42:\"https://api.pagerduty.com/services/PIJ90N7\";s:8:\"html_url\";s:48:\"https://subdomain.pagerduty.com/services/PIJ90N7\";}}}}s:19:\"IncidentUrgencyType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"The
  type of incident urgency: whether it's constant, or it's dependent on the support
  hours.\";s:7:\"default\";s:8:\"constant\";s:4:\"enum\";a:2:{i:0;s:8:\"constant\";i:1;s:17:\"use_support_hours\";}}s:7:\"urgency\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  incidents' urgency, if type is constant.\";s:7:\"default\";s:4:\"high\";s:4:\"enum\";a:2:{i:0;s:3:\"low\";i:1;s:4:\"high\";}}}}s:19:\"IncidentUrgencyRule\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/IncidentUrgencyType\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"during_support_hours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/IncidentUrgencyType\";s:11:\"description\";s:39:\"Incidents'
  urgency during support hours\";}s:21:\"outside_support_hours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/IncidentUrgencyType\";s:11:\"description\";s:40:\"Incidents'
  urgency outside support hours\";}}}}}s:12:\"SupportHours\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  type of support hours\";s:7:\"default\";s:18:\"fixed_time_per_day\";s:4:\"enum\";a:1:{i:0;s:18:\"fixed_time_per_day\";}}s:9:\"time_zone\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:23:\"activesupport-time-zone\";s:11:\"description\";s:35:\"The
  time zone for the support hours\";}s:12:\"days_of_week\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;s:11:\"description\";s:61:\"The
  days of the week (1 through 7, for Monday through Sunday)\";}}s:10:\"start_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"time\";s:11:\"description\";s:65:\"The
  support hours' starting time of day (date portion is ignored)\";}s:8:\"end_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"time\";s:11:\"description\";s:63:\"The
  support hours' ending time of day (date portion is ignored)\";}}}s:9:\"Reference\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:13:\"discriminator\";s:4:\"type\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"summary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:251:\"A
  short-form, server-generated string that provides succinct, important information
  about an object suitable for primary labeling of an entity in a client. In many
  cases, this will be identical to `name`, though it is not intended to be an identifier.\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:152:\"A
  string that determines the schema of the object. This must be the standard name
  for the entity, suffixed by `_reference` if the object is a reference.\";s:8:\"readOnly\";b:1;}s:4:\"self\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:11:\"description\";s:50:\"the
  API show URL at which the object is accessible\";s:8:\"readOnly\";b:1;}s:8:\"html_url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:11:\"description\";s:62:\"a
  URL at which the entity is uniquely displayed in the Web app\";s:8:\"readOnly\";b:1;}}}s:12:\"IncidentNote\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"user\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  user who submitted the note\";s:8:\"readOnly\";b:1;s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  note content\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:40:\"The
  time at which the note was submitted\";s:8:\"readOnly\";b:1;}}s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"content\";s:30:\"Firefighters
  are on the scene.\";}}s:12:\"Notification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:25:\"The
  type of notification.\";s:4:\"enum\";a:4:{i:0;s:16:\"sms_notification\";i:1;s:18:\"email_notification\";i:2;s:18:\"phone_notification\";i:3;s:17:\"push_notification\";}}s:10:\"started_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:43:\"The
  time at which the notification was sent\";s:8:\"readOnly\";b:1;}s:7:\"address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"The
  address where the notification was sent. This will be null for notification type
  `push_notification`.\";s:8:\"readOnly\";b:1;}s:4:\"user\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  user the notification was sent to.\";s:8:\"readOnly\";b:1;s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}}}s:7:\"Context\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  type of context being attached to the incident.\";s:4:\"enum\";a:2:{i:0;s:4:\"link\";i:1;s:5:\"image\";}}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  link's target url\";}s:3:\"src\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  image's source url\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  alternate display for an image\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}s:11:\"LinkContext\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Context\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  link being attached to the incident\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  text that will be displayed as the link.\";}}s:8:\"required\";a:1:{i:0;s:4:\"href\";}}}}s:12:\"ImageContext\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Context\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"src\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:10:\"secure-url\";s:11:\"description\";s:54:\"The
  source of the image being attached to the incident\";}s:4:\"href\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:11:\"description\";s:27:\"Optional
  link for the image\";}s:3:\"alt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Optional
  alt text for the image\";}}s:8:\"required\";a:1:{i:0;s:3:\"src\";}}}}s:7:\"Channel\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:481:\"Polymorphic
  object representation of the means by which the action was channeled. Has different
  formats depending on type, indicated by channel[type]. Will be one of `auto`, `email`,
  `api`, `nagios`, or `timeout` if `agent[type]` is `service`. Will be one of `email`,
  `sms`, `website`, `web_trigger`, or `note` if `agent[type]` is `user`. See [below](https://developer.pagerduty.com/documentation/rest/log_entries/show#channel_types)
  for detailed information about channel formats.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"type\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:4:\"user\";}s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:4:\"team\";}s:7:\"channel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:7:\"channel\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}s:15:\"TriggerLogEntry\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogEntry\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TriggerLogEntryReference\";}}}s:24:\"TriggerLogEntryReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:17:\"trigger_log_entry\";i:1;s:27:\"trigger_log_entry_reference\";}}}}}}s:21:\"UnacknowledgeLogEntry\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogEntry\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/UnacknowledgeLogEntryReference\";}}}s:30:\"UnacknowledgeLogEntryReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:23:\"unacknowledge_log_entry\";i:1;s:33:\"unacknowledge_log_entry_reference\";}}}}}}s:15:\"ResolveLogEntry\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogEntry\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ResolveLogEntryReference\";}}}s:24:\"ResolveLogEntryReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:17:\"resolve_log_entry\";i:1;s:27:\"resolve_log_entry_reference\";}}}}}}s:16:\"AnnotateLogEntry\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogEntry\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AnnotateLogEntryReference\";}}}s:25:\"AnnotateLogEntryReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:18:\"annotate_log_entry\";i:1;s:28:\"annotate_log_entry_reference\";}}}}}}s:25:\"ReachTriggerLimitLogEntry\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogEntry\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/ReachTriggerLimitLogEntryReference\";}}}s:34:\"ReachTriggerLimitLogEntryReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:29:\"reach_trigger_limit_log_entry\";i:1;s:39:\"reach_trigger_limit_log_entry_reference\";}}}}}}s:28:\"RepeatEscalationPathLogEntry\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogEntry\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/RepeatEscalationPathLogEntryReference\";}}}s:37:\"RepeatEscalationPathLogEntryReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:32:\"repeat_escalation_path_log_entry\";i:1;s:42:\"repeat_escalation_path_log_entry_reference\";}}}}}}s:29:\"ExhaustEscalationPathLogEntry\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogEntry\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/ExhaustEscalationPathLogEntryReference\";}}}s:38:\"ExhaustEscalationPathLogEntryReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:33:\"exhaust_escalation_path_log_entry\";i:1;s:43:\"exhaust_escalation_path_log_entry_reference\";}}}}}}s:23:\"NotifyLogEntryReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:16:\"notify_log_entry\";i:1;s:26:\"notify_log_entry_reference\";}}}}}}s:14:\"NotifyLogEntry\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogEntry\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/NotifyLogEntryReference\";}i:2;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"created_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:39:\"Time
  at which the log entry was created\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:21:\"User
  who was notified\";}}}}}s:19:\"AcknowledgeLogEntry\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogEntry\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/AcknowledgeLogEntryReference\";}i:2;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"acknowledgement_timeout\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:479:\"Duration
  for which the acknowledgement lasts, in seconds. Services can contain an `acknowledgement_timeout`
  property, which specifies the length of time acknowledgements should last for. Each
  time an incident is acknowledged, this timeout is copied into the acknowledgement
  log entry. This property is optional, as older log entries may not contain it. It
  may also be `null`, as acknowledgements can be performed on incidents whose services
  have no `acknowledgement_timeout` set.\";}}}}}s:28:\"AcknowledgeLogEntryReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:21:\"acknowledge_log_entry\";i:1;s:31:\"acknowledge_log_entry_reference\";}}}}}}s:15:\"ScheduledAction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"The
  type of schedule action. Must be set to urgency_change.\";s:4:\"enum\";a:1:{i:0;s:14:\"urgency_change\";}}s:2:\"at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:44:\"Represents
  when scheduled action will occur.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Must
  be set to named_time.\";s:4:\"enum\";a:1:{i:0;s:10:\"named_time\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Designates
  either the start or the end of support hours.\";s:4:\"enum\";a:2:{i:0;s:19:\"support_hours_start\";i:1;s:17:\"support_hours_end\";}}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:4:\"name\";}}s:10:\"to_urgency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Urgency
  level. Must be set to high.\";s:4:\"enum\";a:1:{i:0;s:4:\"high\";}}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:2:\"at\";i:2;s:10:\"to_urgency\";}}s:14:\"SnoozeLogEntry\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogEntry\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/SnoozeLogEntryReference\";}i:2;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"changed_actions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/IncidentAction\";}}}}}}s:23:\"SnoozeLogEntryReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:16:\"snooze_log_entry\";i:1;s:26:\"snooze_log_entry_reference\";}}}}}}s:14:\"IncidentAction\";O:8:\"stdClass\":5:{s:11:\"description\";s:105:\"An
  incident action is a pending change to an incident that will automatically happen
  at some future time.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:13:\"unacknowledge\";i:1;s:8:\"escalate\";i:2;s:7:\"resolve\";i:3;s:14:\"urgency_change\";}}s:2:\"at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}s:13:\"discriminator\";s:4:\"type\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:2:\"at\";}}s:27:\"UrgencyChangeIncidentAction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/IncidentAction\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"high\";i:1;s:3:\"low\";}s:11:\"description\";s:71:\"Urgency
  that the incident will change to when the 'at' time is reached.\";}}}}}s:14:\"AssignLogEntry\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogEntry\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/AssignLogEntryReference\";}i:2;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"assigned_user\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:43:\"The
  user to which the incident is assigned.\";}}}}}s:23:\"AssignLogEntryReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:16:\"assign_log_entry\";i:1;s:26:\"assign_log_entry_reference\";}}}}}}s:16:\"EscalateLogEntry\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogEntry\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/EscalateLogEntryReference\";}i:2;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"assigned_user\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:43:\"The
  user to which the incident is assigned.\";}}}}}s:25:\"EscalateLogEntryReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:18:\"escalate_log_entry\";i:1;s:28:\"escalate_log_entry_reference\";}}}}}}s:17:\"LogEntryReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:24:{i:0;s:21:\"acknowledge_log_entry\";i:1;s:31:\"acknowledge_log_entry_reference\";i:2;s:18:\"annotate_log_entry\";i:3;s:28:\"annotate_log_entry_reference\";i:4;s:16:\"assign_log_entry\";i:5;s:26:\"assign_log_entry_reference\";i:6;s:18:\"escalate_log_entry\";i:7;s:28:\"escalate_log_entry_reference\";i:8;s:33:\"exhaust_escalation_path_log_entry\";i:9;s:43:\"exhaust_escalation_path_log_entry_reference\";i:10;s:16:\"notify_log_entry\";i:11;s:26:\"notify_log_entry_reference\";i:12;s:29:\"reach_trigger_limit_log_entry\";i:13;s:39:\"reach_trigger_limit_log_entry_reference\";i:14;s:32:\"repeat_escalation_path_log_entry\";i:15;s:42:\"repeat_escalation_path_log_entry_reference\";i:16;s:17:\"resolve_log_entry\";i:17;s:27:\"resolve_log_entry_reference\";i:18;s:16:\"snooze_log_entry\";i:19;s:26:\"snooze_log_entry_reference\";i:20;s:17:\"trigger_log_entry\";i:21;s:27:\"trigger_log_entry_reference\";i:22;s:23:\"unacknowledge_log_entry\";i:23;s:33:\"unacknowledge_log_entry_reference\";}}}}}}s:8:\"LogEntry\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"created_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:40:\"Time
  at which the log entry was created.\";}s:7:\"channel\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:11:\"description\";s:75:\"The
  channel field represents the means by which the action was carried out.\";s:4:\"$ref\";s:21:\"#/definitions/Channel\";}s:5:\"agent\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"$ref\";s:19:\"#/definitions/Agent\";}s:4:\"note\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:73:\"Optional
  field containing a note, if one was included with the log entry.\";}s:8:\"contexts\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:11:\"description\";s:75:\"Contexts
  to be included with the trigger such as links to graphs or images.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Context\";}}s:7:\"service\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:11:\"description\";s:35:\"Will
  be a reference unless included\";s:4:\"$ref\";s:30:\"#/definitions/ServiceReference\";}s:8:\"incident\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:11:\"description\";s:35:\"Will
  be a reference unless included\";s:4:\"$ref\";s:31:\"#/definitions/IncidentReference\";}s:5:\"teams\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:11:\"description\";s:42:\"Will
  consist of references unless included\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TeamReference\";}}s:13:\"event_details\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"readOnly\";b:1;s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Additional
  details about the event.\";}}}}}}}s:5:\"Agent\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:74:\"The
  agent (user, service or integration) that created or modified the ILE.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:4:\"user\";i:1;s:7:\"service\";i:2;s:11:\"integration\";i:3;s:14:\"user_reference\";i:4;s:17:\"service_reference\";i:5;s:21:\"integration_reference\";}s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;}}}s:25:\"NotificationRuleReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  type of notification rule.\";s:8:\"readOnly\";b:1;s:4:\"enum\";a:1:{i:0;s:28:\"assignment_notification_rule\";}}}}}}s:16:\"NotificationRule\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/NotificationRuleReference\";}i:1;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:31:\"A
  rule for contacting the user.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"start_delay_in_minutes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:45:\"The
  delay before firing the rule, in minutes.\";s:7:\"minimum\";i:0;}s:14:\"contact_method\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ContactMethodReference\";s:11:\"description\";s:39:\"The
  contact method invoked by the rule.\";}s:7:\"urgency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"high\";i:1;s:3:\"low\";}s:11:\"description\";s:128:\"Which
  incident urgency this rule is used for. Account must have the `urgencies` ability
  to have a low urgency notification rule.\";}}s:8:\"required\";a:4:{i:0;s:22:\"start_delay_in_minutes\";i:1;s:7:\"urgency\";i:2;s:14:\"contact_method\";i:3;s:4:\"type\";}}}s:7:\"example\";O:8:\"stdClass\":4:{s:4:\"type\";s:28:\"assignment_notification_rule\";s:22:\"start_delay_in_minutes\";i:0;s:14:\"contact_method\";O:8:\"stdClass\":2:{s:2:\"id\";s:7:\"PXPGF42\";s:4:\"type\";s:20:\"email_contact_method\";}s:7:\"urgency\";s:4:\"high\";}}s:22:\"ContactMethodReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  type of contact method.\";s:4:\"enum\";a:4:{i:0;s:20:\"email_contact_method\";i:1;s:20:\"phone_contact_method\";i:2;s:32:\"push_notification_contact_method\";i:3;s:18:\"sms_contact_method\";}}}}}}s:13:\"ContactMethod\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ContactMethodReference\";}i:1;O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:29:\"The
  method to contact a user.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  label (e.g., \"Work\", \"Mobile\", etc.).\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"The
  \"address\" to deliver to: email, phone number, etc., depending on the type.\";}}s:13:\"discriminator\";s:4:\"type\";s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:5:\"label\";i:2;s:7:\"address\";}}}}s:18:\"EmailContactMethod\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContactMethod\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:20:\"email_contact_method\";}}s:16:\"send_short_email\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:128:\"Send
  an abbreviated email message instead of the standard email output. Useful for email-to-SMS
  gateways and email based pagers.\";s:7:\"default\";b:0;}}s:7:\"example\";O:8:\"stdClass\":4:{s:4:\"type\";s:20:\"email_contact_method\";s:5:\"label\";s:4:\"work\";s:7:\"address\";s:27:\"grady.haylie.126@hickle.net\";s:16:\"send_short_email\";b:0;}}}}s:18:\"PhoneContactMethod\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContactMethod\";}i:1;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:20:\"phone_contact_method\";i:1;s:18:\"sms_contact_method\";}}s:12:\"country_code\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:38:\"The
  1-to-3 digit country calling code.\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:1999;}s:7:\"enabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:57:\"If
  true, this phone is capable of receiving SMS messages.\";s:8:\"readOnly\";b:1;}s:11:\"blacklisted\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:89:\"If
  true, this phone has been blacklisted by PagerDuty and no messages will be sent
  to it.\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:1:{i:0;s:12:\"country_code\";}s:7:\"example\";O:8:\"stdClass\":4:{s:4:\"type\";s:20:\"phone_contact_method\";s:5:\"label\";s:4:\"work\";s:12:\"country_code\";i:123;s:7:\"address\";s:7:\"1234567\";}}}}s:22:\"PushContactMethodSound\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  type of sound.\";s:4:\"enum\";a:2:{i:0;s:18:\"alert_high_urgency\";i:1;s:17:\"alert_low_urgency\";}}s:4:\"file\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  sound file name.\";}}}s:17:\"PushContactMethod\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContactMethod\";}i:1;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:32:\"push_notification_contact_method\";}}s:11:\"device_type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  type of device.\";s:4:\"enum\";a:2:{i:0;s:7:\"android\";i:1;s:3:\"ios\";}s:8:\"readOnly\";b:1;}s:6:\"sounds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/PushContactMethodSound\";}}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:45:\"Time
  at which the contact method was created.\";}s:11:\"blacklisted\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:89:\"If
  true, this phone has been blacklisted by PagerDuty and no messages will be sent
  to it.\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:1:{i:0;s:11:\"device_type\";}s:7:\"example\";O:8:\"stdClass\":4:{s:4:\"type\";s:32:\"push_notification_contact_method\";s:5:\"label\";s:4:\"work\";s:11:\"device_type\";s:7:\"android\";s:7:\"address\";s:8:\"12341234\";}}}}s:8:\"UserRole\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"role\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  user's role for a set of resources.\n\";s:4:\"enum\";a:3:{i:0;s:8:\"observer\";i:1;s:9:\"responder\";i:2;s:7:\"manager\";}}s:9:\"resources\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"role\";s:7:\"manager\";s:9:\"resources\";a:2:{i:0;O:8:\"stdClass\":5:{s:2:\"id\";s:7:\"PANZZEQ\";s:4:\"type\";s:17:\"escalation_policy\";s:7:\"summary\";s:29:\"Engineering
  Escalation Policy\";s:4:\"self\";s:53:\"https://api.pagerduty.com/escalation_policies/PANZZEQ\";s:8:\"html_url\";s:59:\"https://subdomain.pagerduty.com/escalation_policies/PANZZEQ\";}i:1;O:8:\"stdClass\":5:{s:2:\"id\";s:7:\"PI7DH85\";s:4:\"type\";s:8:\"schedule\";s:7:\"summary\";s:26:\"Daily
  Engineering Rotation\";s:4:\"self\";s:43:\"https://api.pagerduty.com/schedules/PI7DH85\";s:8:\"html_url\";s:49:\"https://subdomain.pagerduty.com/schedules/PI7DH85\";}}}}s:13:\"UserReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"user\";i:1;s:14:\"user_reference\";}}}}}}s:4:\"User\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}i:1;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  name of the user.\";s:9:\"maxLength\";i:100;}s:5:\"email\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";s:11:\"description\";s:25:\"The
  user's email address.\";s:9:\"minLength\";i:6;s:9:\"maxLength\";i:100;}s:9:\"time_zone\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"tzinfo\";s:11:\"description\";s:76:\"The
  preferred time zone name. If null, the account's time zone will be used.\";}s:5:\"color\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  schedule color.\";}s:4:\"role\";O:8:\"stdClass\":3:{s:11:\"description\";s:199:\"The
  user role. Account must have the `read_only_users` ability to set a user as a `read_only_user`,
  and must have the `permissions_service` ability to set a user as `observer` or `restricted_access`.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:5:\"admin\";i:1;s:12:\"limited_user\";i:2;s:8:\"observer\";i:3;s:5:\"owner\";i:4;s:14:\"read_only_user\";i:5;s:17:\"restricted_access\";i:6;s:14:\"team_responder\";i:7;s:4:\"user\";}}s:10:\"avatar_url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:11:\"description\";s:29:\"The
  URL of the user's avatar.\";s:8:\"readOnly\";b:1;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  user's bio.\";}s:15:\"invitation_sent\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:48:\"If
  true, the user has an outstanding invitation.\";}s:9:\"job_title\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  user's title.\";s:9:\"maxLength\";i:100;}s:5:\"teams\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:11:\"description\";s:95:\"The
  list of teams to which the user belongs. Account must have the `teams` ability to
  set this.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TeamReference\";}}s:15:\"contact_methods\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:11:\"description\";s:41:\"The
  list of contact methods for the user.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ContactMethodReference\";}}s:18:\"notification_rules\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:11:\"description\";s:44:\"The
  list of notification rules for the user.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NotificationRule\";}}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"email\";}s:7:\"example\";O:8:\"stdClass\":9:{s:4:\"type\";s:4:\"user\";s:4:\"name\";s:17:\"Earline
  Greenholt\";s:5:\"email\";s:33:\"125.greenholt.earline@graham.name\";s:9:\"time_zone\";s:12:\"America/Lima\";s:5:\"color\";s:5:\"green\";s:4:\"role\";s:5:\"admin\";s:9:\"job_title\";s:23:\"Director
  of Engineering\";s:10:\"avatar_url\";s:81:\"https://secure.gravatar.com/avatar/1d1a39d4635208d5664082a6c654a73f.png?d=mm&r=PG\";s:11:\"description\";s:12:\"I'm
  the boss\";}}}}s:13:\"TeamReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"team\";i:1;s:14:\"team_reference\";}}}}}}s:4:\"Team\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TeamReference\";}i:1;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  name of the team.\";s:9:\"maxLength\";i:100;}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  description of the team.\";s:9:\"maxLength\";i:1024;}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"type\";s:4:\"team\";s:4:\"name\";s:11:\"Engineering\";s:11:\"description\";s:20:\"The
  engineering team\";}}}}s:17:\"IncidentReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:8:\"incident\";i:1;s:18:\"incident_reference\";}}}}}}s:8:\"Incident\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/IncidentReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:15:\"incident_number\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;s:11:\"description\";s:63:\"The
  number of the incident. This is unique across your account.\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:47:\"The
  date/time the incident was first triggered.\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  current status of the incident.\";s:4:\"enum\";a:3:{i:0;s:9:\"triggered\";i:1;s:12:\"acknowledged\";i:2;s:8:\"resolved\";}}s:5:\"title\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:0;s:11:\"description\";s:81:\"A
  succinct description of the nature, symptoms, cause, or effect of the incident.\";}s:15:\"pending_actions\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:11:\"description\";s:338:\"The
  list of pending_actions on the incident. A pending_action object contains a type
  of action which can be escalate, unacknowledge, resolve or urgency_change. A pending_action
  object contains at, the time at which the action will take place. An urgency_change
  pending_action will contain to, the urgency that the incident will change to.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/IncidentAction\";}}s:12:\"incident_key\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"The
  incident's de-duplication key.\";}s:7:\"service\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ServiceReference\";s:11:\"description\";s:51:\"The
  PagerDuty service that the incident belongs to.\";}s:11:\"assignments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:42:\"List
  of all assignments for this incident.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Assignment\";}}s:16:\"acknowledgements\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:47:\"List
  of all acknowledgements for this incident.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Acknowledgement\";}}s:21:\"last_status_change_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:58:\"The
  time at which the status of the incident last changed.\";}s:21:\"last_status_change_by\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:19:\"#/definitions/Agent\";s:8:\"readOnly\";b:1;s:11:\"description\";s:369:\"The
  user or service which is responsible for the incident's last status change. If the
  incident is in the acknowledged or resolved status, this will be the user that took
  the first acknowledged or resolved action. If the incident was automatically resolved
  (say through the Events API), or if the incident is in the triggered state, this
  will be the incident's service.\";}s:23:\"first_trigger_log_entry\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryReference\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"The
  first trigger log entry for the incident.\";}s:17:\"escalation_policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/EscalationPolicyReference\";s:11:\"description\";s:63:\"The
  escalation policy that the incident is currently following.\";}s:5:\"teams\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:49:\"The
  teams involved in the incident\u2019s lifecycle.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TeamReference\";}}s:8:\"priority\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Priority\";s:11:\"description\";s:29:\"The
  priority of the incident.\";}s:7:\"urgency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"high\";i:1;s:3:\"low\";}s:11:\"description\";s:36:\"The
  current urgency of the incident.\";}s:14:\"resolve_reason\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/ResolveReason\";s:8:\"readOnly\";b:1;s:11:\"description\";s:150:\"The
  reason the incident was resolved. Currently the only valid values are `nil` and
  `merged` with plans to introduce additional reasons in the future.\";}s:12:\"alert_counts\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:24:\"#/definitions/AlertCount\";s:8:\"readOnly\";b:1;s:11:\"description\";s:44:\"A
  summary of the number of alerts by status.\";}s:4:\"body\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/IncidentBody\";s:11:\"description\";s:54:\"A
  JSON object containing data describing the incident.\";s:8:\"readOnly\";b:1;}}}}}s:25:\"EscalationPolicyReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:17:\"escalation_policy\";i:1;s:27:\"escalation_policy_reference\";}}}}}}s:16:\"EscalationPolicy\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/EscalationPolicyReference\";}i:1;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name of the escalation policy.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Escalation
  policy description.\";}s:9:\"num_loops\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:95:\"The
  number of times the escalation policy will repeat after reaching the end of its
  escalation.\";s:7:\"default\";i:0;s:7:\"minimum\";i:0;}s:14:\"repeat_enabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:99:\"Whether
  or not to allow this policy to repeat its escalation rules after the last rule is
  finished.\";s:7:\"default\";b:0;}s:16:\"escalation_rules\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EscalationRule\";}}s:8:\"services\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ServiceReference\";}s:9:\"minLength\";i:0;}s:5:\"teams\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:94:\"Teams
  associated with the policy. Account must have the `teams` ability to use this parameter.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TeamReference\";}s:9:\"minLength\";i:0;}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:16:\"escalation_rules\";}s:7:\"example\";O:8:\"stdClass\":8:{s:4:\"type\";s:17:\"escalation_policy\";s:4:\"name\";s:29:\"Engineering
  Escalation Policy\";s:16:\"escalation_rules\";a:1:{i:0;O:8:\"stdClass\":2:{s:27:\"escalation_delay_in_minutes\";i:30;s:7:\"targets\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:7:\"PEYSGVF\";s:4:\"type\";s:14:\"user_reference\";}}}}s:14:\"repeat_enabled\";b:1;s:8:\"services\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:7:\"PIJ90N7\";s:4:\"type\";s:17:\"service_reference\";}}s:9:\"num_loops\";i:2;s:5:\"teams\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:7:\"PQ9K7I8\";s:4:\"type\";s:14:\"team_reference\";}}s:11:\"description\";s:40:\"Here
  is the ep for the engineering team.\";}}}}s:14:\"EscalationRule\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:27:\"escalation_delay_in_minutes\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:86:\"The
  number of minutes before an unacknowledged incident escalates away from this rule.\";}s:7:\"targets\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"minItems\";i:1;s:8:\"maxItems\";i:10;s:11:\"description\";s:70:\"The
  targets an incident should be assigned to upon reaching this rule.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EscalationTarget\";}}}s:8:\"required\";a:2:{i:0;s:27:\"escalation_delay_in_minutes\";i:1;s:7:\"targets\";}s:7:\"example\";O:8:\"stdClass\":2:{s:27:\"escalation_delay_in_minutes\";i:30;s:7:\"targets\";a:2:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:7:\"PAM4FGS\";s:4:\"type\";s:14:\"user_reference\";}i:1;O:8:\"stdClass\":2:{s:2:\"id\";s:7:\"PI7DH85\";s:4:\"type\";s:18:\"schedule_reference\";}}}}s:16:\"EscalationTarget\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:86:\"The
  escalation target is the entity that will be assigned an incident upon escalation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:4:\"user\";i:1;s:8:\"schedule\";i:2;s:14:\"user_reference\";i:3;s:18:\"schedule_reference\";}s:4:\"type\";s:6:\"string\";}}}}}s:18:\"ExtensionReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"extension\";i:1;s:19:\"extension_reference\";}}}}}}s:9:\"Extension\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ExtensionReference\";}i:1;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  name of the extension.\";}s:12:\"endpoint_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:11:\"description\";s:25:\"The
  url of the extension.\";}s:17:\"extension_objects\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:43:\"The
  objects for which the extension applies\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ServiceReference\";}}s:16:\"extension_schema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ExtensionSchemaReference\";s:11:\"description\";s:29:\"The
  schema for this extension\";}}s:8:\"required\";a:3:{i:0;s:17:\"extension_objects\";i:1;s:16:\"extension_schema\";i:2;s:4:\"name\";}s:7:\"example\";O:8:\"stdClass\":9:{s:2:\"id\";s:7:\"PPGPXHO\";s:4:\"self\";s:44:\"https://api.pagerduty.com/extensions/PPGPXHO\";s:8:\"html_url\";s:4:\"null\";s:12:\"endpoint_url\";s:47:\"https://example.com/recieve_a_pagerduty_webhook\";s:4:\"name\";s:10:\"My
  Webhook\";s:7:\"summary\";s:10:\"My Webhook\";s:4:\"type\";s:9:\"extension\";s:16:\"extension_schema\";O:8:\"stdClass\":5:{s:2:\"id\";s:7:\"PJFWPEP\";s:4:\"type\";s:26:\"extension_schema_reference\";s:7:\"summary\";s:15:\"Generic
  Webhook\";s:4:\"self\";s:51:\"https://api.pagerduty.com/extension_schemas/PJFWPEP\";s:8:\"html_url\";s:4:\"null\";}s:17:\"extension_objects\";a:1:{i:0;O:8:\"stdClass\":5:{s:2:\"id\";s:7:\"PIJ90N7\";s:4:\"type\";s:17:\"service_reference\";s:7:\"summary\";s:22:\"My
  Application Service\";s:4:\"self\";s:42:\"https://api.pagerduty.com/services/PIJ90N7\";s:8:\"html_url\";s:48:\"https://subdomain.pagerduty.com/services/PIJ90N7\";}}}}}}s:27:\"GenericEventsApiIntegration\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ApiBasedIntegration\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/GenericEventsApiIntegrationReference\";}}}s:36:\"GenericEventsApiIntegrationReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/IntegrationReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:38:\"generic_events_api_inbound_integration\";i:1;s:48:\"generic_events_api_inbound_integration_reference\";}}}}}}s:24:\"AwsCloudwatchIntegration\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ApiBasedIntegration\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/AwsCloudwatchIntegrationReference\";}}}s:33:\"AwsCloudwatchIntegrationReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/IntegrationReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:34:\"aws_cloudwatch_inbound_integration\";i:1;s:44:\"aws_cloudwatch_inbound_integration_reference\";}}}}}}s:30:\"EventTransformerApiIntegration\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ApiBasedIntegration\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/EventTransformerApiIntegrationReference\";}}}s:39:\"EventTransformerApiIntegrationReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/IntegrationReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:41:\"event_transformer_api_inbound_integration\";i:1;s:51:\"event_transformer_api_inbound_integration_reference\";}}}}}}s:17:\"NagiosIntegration\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ApiBasedIntegration\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/NagiosIntegrationReference\";}}}s:26:\"NagiosIntegrationReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/IntegrationReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:26:\"nagios_inbound_integration\";i:1;s:36:\"nagios_inbound_integration_reference\";}}}}}}s:23:\"GenericEmailIntegration\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/GenericEmailIntegrationReference\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EmailBasedIntegration\";}}}s:32:\"GenericEmailIntegrationReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/IntegrationReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:33:\"generic_email_inbound_integration\";i:1;s:43:\"generic_email_inbound_integration_reference\";}}}}}}s:18:\"KeynoteIntegration\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EmailBasedIntegration\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/KeynoteIntegrationReference\";}i:2;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"severity_filter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:263:\"Specifies
  what severity levels will create a new open incident. It can be one of:\n\n- `critical`:
  Incidents are created when an alarm enters the critical state.\n- `critical_or_warning`:
  Incidents are created when an alarm enters the critical **or** warning state.\n\";s:4:\"enum\";a:2:{i:0;s:8:\"critical\";i:1;s:19:\"critical_or_warning\";}}}}}}s:27:\"KeynoteIntegrationReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/IntegrationReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:27:\"keynote_inbound_integration\";i:1;s:37:\"keynote_inbound_integration_reference\";}}}}}}s:18:\"PingdomIntegration\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EmailBasedIntegration\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/PingdomIntegrationReference\";}}}s:27:\"PingdomIntegrationReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/IntegrationReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:27:\"pingdom_inbound_integration\";i:1;s:37:\"pingdom_inbound_integration_reference\";}}}}}}s:22:\"HpSiteScopeIntegration\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EmailBasedIntegration\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/HpSiteScopeIntegrationReference\";}}}s:31:\"HpSiteScopeIntegrationReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/IntegrationReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:13:\"hp_site_scope\";i:1;s:23:\"hp_site_scope_reference\";}}}}}}s:21:\"SqlMonitorIntegration\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EmailBasedIntegration\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/SqlMonitorIntegrationReference\";}i:2;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"severity_filter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:287:\"Specifies
  what severity levels will create a new open incident. It can be one of:\n\n- `on_any`:
  Incidents are created for alerts of any severity.\n- `on_high`: Incidents are created
  for alerts with high severity.\n- `on_medium_high`: Incidents are created for with
  high or medium severity.\n\";s:4:\"enum\";a:3:{i:0;s:6:\"on_any\";i:1;s:7:\"on_high\";i:2;s:14:\"on_medium_high\";}}}}}}s:30:\"SqlMonitorIntegrationReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/IntegrationReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:31:\"sql_monitor_inbound_integration\";i:1;s:41:\"sql_monitor_inbound_integration_reference\";}}}}}}s:19:\"ApiBasedIntegration\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Integration\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"integration_key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"This
  is the unique key used to route events to this integration when received via the
  PagerDuty Events API.\";}}}}}s:21:\"EmailBasedIntegration\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Integration\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"integration_email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"This
  is the unique fully-qualified email address used for routing emails to this integration
  for processing.\";}}}}}s:16:\"ServiceReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"service\";i:1;s:17:\"service_reference\";}}}}}}s:7:\"Service\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ServiceReference\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  name of the service.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  user-provided description of the service.\";}s:20:\"auto_resolve_timeout\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:245:\"Time
  in seconds that an incident is automatically resolved if left open for that long.
  Value is `null` if the feature is disabled. Value must not be negative. Setting
  this field to `0`, `null` (or unset in POST request) will disable the feature.\";s:7:\"default\";i:14400;}s:23:\"acknowledgement_timeout\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:248:\"Time
  in seconds that an incident changes to the Triggered State after being Acknowledged.
  Value is `null` if the feature is disabled. Value must not be negative. Setting
  this field to `0`, `null` (or unset in POST request) will disable the feature.\";s:7:\"default\";i:1800;}s:10:\"created_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:43:\"The
  date/time when this service was created\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:471:\"The
  current state of the Service. Valid statuses are:\n\n- `active`: The service is
  enabled and has no open incidents.\n- `warning`: The service is enabled and has
  one or more acknowledged incidents.\n- `critical`: The service is enabled and has
  one or more triggered incidents.\n- `maintenance`: The service is under maintenance,
  no new incidents will be triggered during maintenance mode.\n- `disabled`: The service
  is disabled and will not have any new triggered incidents.\n\";s:4:\"enum\";a:5:{i:0;s:6:\"active\";i:1;s:7:\"warning\";i:2;s:8:\"critical\";i:3;s:11:\"maintenance\";i:4;s:8:\"disabled\";}}s:23:\"last_incident_timestamp\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:73:\"The
  date/time when the most recent incident was created for this service.\";}s:17:\"escalation_policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/EscalationPolicyReference\";s:11:\"description\";s:43:\"The
  escalation policy used by this service.\";}s:5:\"teams\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:11:\"description\";s:46:\"The
  set of teams associated with this service.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TeamReference\";s:11:\"description\";s:59:\"The
  set of teams whose maintenance windows will be returned\";}}s:12:\"integrations\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:11:\"description\";s:170:\"An
  array containing Integration objects that belong to this service. If `integrations`
  is passed as an argument, these are full objects - otherwise, these are references.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/IntegrationReference\";s:11:\"description\";s:45:\"The
  integrations that belong to this service.\";}}s:21:\"incident_urgency_rule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/IncidentUrgencyRule\";s:11:\"description\";s:115:\"The
  default urgency for new incidents. Account must have the `urgencies` ability to
  assign a incident urgency rule.\";}s:13:\"support_hours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SupportHours\";s:11:\"description\";s:159:\"The
  support hours for the service. May be used to define the incidents' urgency. Account
  must have the `service_support_hours` ability to assign support hours.\";}s:17:\"scheduled_actions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:54:\"An
  array containing scheduled actions for the service.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ScheduledAction\";s:11:\"description\";s:35:\"A
  scheduled action for the service.\";}}s:6:\"addons\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:50:\"The
  array of add-ons associated with this service.\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AddonReference\";}}s:14:\"alert_creation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:360:\"Whether
  a service creates only incidents, or both alerts and incidents. A service must create
  alerts in order to enable incident merging.\n* \"create_incidents\" - The service
  will create one incident and zero alerts for each incoming event.\n* \"create_alerts_and_incidents\"
  - The service will create one incident and one associated alert for each incoming
  event.\n\";s:4:\"enum\";a:2:{i:0;s:16:\"create_incidents\";i:1;s:27:\"create_alerts_and_incidents\";}}s:14:\"alert_grouping\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:731:\"Defines
  how alerts on this service will be automatically grouped into incidents. Note that
  the alert grouping features are available only on certain plans. There are three
  available options:\n* null - No alert grouping on the service. Each alert will create
  a separate incident;\n* \"time\" - All alerts within a specified duration will be
  grouped into the same incident. This duration is set in the `alert_grouping_timeout`
  setting (described below). Available on Standard, Enterprise, and Event Intelligence
  plans;\n* \"intelligent\" - Alerts will be intelligently grouped based on a machine
  learning model that looks at the alert summary, timing, and the history of grouped
  alerts. Available on Enterprise and Event Intelligence plans\n\";s:4:\"enum\";a:2:{i:0;s:4:\"time\";i:1;s:11:\"intelligent\";}}s:22:\"alert_grouping_timeout\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:228:\"The
  duration in minutes within which to automatically group incoming alerts. This setting
  applies only when `alert_grouping` is set to `\"time\"`. To continue grouping alerts
  until the incident is resolved, set this value to `0`.\n\";}}s:7:\"example\";O:8:\"stdClass\":13:{s:4:\"type\";s:7:\"service\";s:4:\"name\";s:10:\"My
  Web App\";s:11:\"description\";s:41:\"My cool web application that does things.\";s:20:\"auto_resolve_timeout\";i:14400;s:23:\"acknowledgement_timeout\";i:600;s:6:\"status\";s:6:\"active\";s:17:\"escalation_policy\";O:8:\"stdClass\":2:{s:2:\"id\";s:7:\"PWIP6CQ\";s:4:\"type\";s:27:\"escalation_policy_reference\";}s:21:\"incident_urgency_rule\";O:8:\"stdClass\":3:{s:4:\"type\";s:17:\"use_support_hours\";s:20:\"during_support_hours\";O:8:\"stdClass\":2:{s:4:\"type\";s:8:\"constant\";s:7:\"urgency\";s:4:\"high\";}s:21:\"outside_support_hours\";O:8:\"stdClass\":2:{s:4:\"type\";s:8:\"constant\";s:7:\"urgency\";s:3:\"low\";}}s:13:\"support_hours\";O:8:\"stdClass\":5:{s:4:\"type\";s:18:\"fixed_time_per_day\";s:9:\"time_zone\";s:12:\"America/Lima\";s:10:\"start_time\";s:8:\"09:00:00\";s:8:\"end_time\";s:8:\"17:00:00\";s:12:\"days_of_week\";a:5:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;}}s:17:\"scheduled_actions\";a:1:{i:0;O:8:\"stdClass\":3:{s:4:\"type\";s:14:\"urgency_change\";s:2:\"at\";O:8:\"stdClass\":2:{s:4:\"type\";s:10:\"named_time\";s:4:\"name\";s:19:\"support_hours_start\";}s:10:\"to_urgency\";s:4:\"high\";}}s:14:\"alert_creation\";s:27:\"create_alerts_and_incidents\";s:14:\"alert_grouping\";s:4:\"time\";s:22:\"alert_grouping_timeout\";i:2;}}}}s:17:\"PriorityReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:8:\"priority\";i:1;s:18:\"priority_reference\";}}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}}}s:8:\"Priority\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PriorityReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  user-provided short name of the priority.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  user-provided description of the priority.\";}}}}}s:11:\"Integration\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/IntegrationReference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  name of this integration.\";}s:7:\"service\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ServiceReference\";s:11:\"description\";s:54:\"The
  PagerDuty service that the integration belongs to.\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:48:\"The
  date/time when this integration was created.\";}s:6:\"vendor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VendorReference\";s:11:\"description\";s:97:\"The
  vendor that this integration integrates with, if applicable. This can only be set
  on creation\";}}}}}s:20:\"IntegrationReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:18:{i:0;s:34:\"aws_cloudwatch_inbound_integration\";i:1;s:44:\"aws_cloudwatch_inbound_integration_reference\";i:2;s:29:\"cloudkick_inbound_integration\";i:3;s:39:\"cloudkick_inbound_integration_reference\";i:4;s:41:\"event_transformer_api_inbound_integration\";i:5;s:51:\"event_transformer_api_inbound_integration_reference\";i:6;s:33:\"generic_email_inbound_integration\";i:7;s:43:\"generic_email_inbound_integration_reference\";i:8;s:38:\"generic_events_api_inbound_integration\";i:9;s:48:\"generic_events_api_inbound_integration_reference\";i:10;s:27:\"keynote_inbound_integration\";i:11;s:37:\"keynote_inbound_integration_reference\";i:12;s:26:\"nagios_inbound_integration\";i:13;s:36:\"nagios_inbound_integration_reference\";i:14;s:27:\"pingdom_inbound_integration\";i:15;s:37:\"pingdom_inbound_integration_reference\";i:16;s:31:\"sql_monitor_inbound_integration\";i:17;s:41:\"sql_monitor_inbound_integration_reference\";}}}}}}s:26:\"MaintenanceWindowReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:18:\"maintenance_window\";i:1;s:28:\"maintenance_window_reference\";}}}}}}s:17:\"MaintenanceWindow\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/MaintenanceWindowReference\";}i:1;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"sequence_number\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;s:11:\"description\";s:54:\"The
  order in which the maintenance window was created.\";}s:10:\"start_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:165:\"This
  maintenance window's start time. This is when the services will stop creating incidents.
  If this date is in the past, it will be updated to be the current time.\";}s:8:\"end_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:158:\"This
  maintenance window's end time. This is when the services will start creating incidents
  again. This date must be in the future and after the `start_time`.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"A
  description for this maintenance window.\";}s:10:\"created_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:8:\"readOnly\";b:1;}s:8:\"services\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ServiceReference\";}}s:5:\"teams\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TeamReference\";}s:8:\"readOnly\";b:1;}}s:8:\"required\";a:3:{i:0;s:10:\"start_time\";i:1;s:8:\"end_time\";i:2;s:8:\"services\";}s:7:\"example\";O:8:\"stdClass\":5:{s:4:\"type\";s:18:\"maintenance_window\";s:10:\"start_time\";s:25:\"2015-11-09T20:00:00-05:00\";s:8:\"end_time\";s:25:\"2015-11-09T22:00:00-05:00\";s:11:\"description\";s:26:\"Immanentizing
  the eschaton\";s:8:\"services\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:7:\"PIJ90N7\";s:4:\"type\";s:17:\"service_reference\";}}}}}}s:17:\"ScheduleReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:8:\"schedule\";i:1;s:18:\"schedule_reference\";}}}}}}s:8:\"Schedule\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ScheduleReference\";}i:1;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"schedule_layers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:26:\"A
  list of schedule layers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ScheduleLayer\";}}s:9:\"time_zone\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:23:\"activesupport-time-zone\";s:11:\"description\";s:30:\"The
  time zone of the schedule.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  name of the schedule\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  description of the schedule\";}s:14:\"final_schedule\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"$ref\";s:25:\"#/definitions/SubSchedule\";s:11:\"description\";s:132:\"The
  final layer is a special layer that contains the result of all of the previous layers
  put together. This layer cannot be edited.\";}s:21:\"overrides_subschedule\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"$ref\";s:25:\"#/definitions/SubSchedule\";s:11:\"description\";s:83:\"The
  override layer is a special layer where all of the override entries are stored.\";}s:19:\"escalation_policies\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:11:\"description\";s:67:\"An
  array of all of the escalation policies that uses this schedule.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/EscalationPolicyReference\";}}s:5:\"users\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"An
  array of all of the users on the schedule.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}}}s:8:\"required\";a:2:{i:0;s:15:\"schedule_layers\";i:1;s:9:\"time_zone\";}s:7:\"example\";O:8:\"stdClass\":5:{s:4:\"name\";s:26:\"Daily
  Engineering Rotation\";s:4:\"type\";s:8:\"schedule\";s:9:\"time_zone\";s:16:\"America/New_York\";s:11:\"description\";s:33:\"Rotation
  schedule for engineering\";s:15:\"schedule_layers\";a:1:{i:0;O:8:\"stdClass\":7:{s:4:\"name\";s:11:\"Night
  Shift\";s:5:\"start\";s:25:\"2015-11-06T20:00:00-05:00\";s:3:\"end\";s:25:\"2016-11-06T20:00:00-05:00\";s:22:\"rotation_virtual_start\";s:25:\"2015-11-06T20:00:00-05:00\";s:28:\"rotation_turn_length_seconds\";i:86400;s:5:\"users\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"user\";O:8:\"stdClass\":2:{s:2:\"id\";s:7:\"PXPGF42\";s:4:\"type\";s:4:\"user\";}}}s:12:\"restrictions\";a:1:{i:0;O:8:\"stdClass\":3:{s:4:\"type\";s:17:\"daily_restriction\";s:17:\"start_time_of_day\";s:8:\"08:00:00\";s:16:\"duration_seconds\";i:32400;}}}}}}}}s:11:\"SubSchedule\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:27:\"The
  name of the subschedule\";s:4:\"enum\";a:2:{i:0;s:14:\"Final Schedule\";i:1;s:9:\"Overrides\";}}s:25:\"rendered_schedule_entries\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:11:\"description\";s:143:\"This
  is a list of entries on the computed layer for the current time range. Since or
  until must be set in order for this field to be populated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ScheduleLayerEntry\";}}s:28:\"rendered_coverage_percentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:8:\"readOnly\";b:1;s:11:\"description\";s:99:\"The
  percentage of the time range covered by this layer. Returns null unless since or
  until are set.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:13:\"ScheduleLayer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:29:\"The
  start time of this layer.\";}s:3:\"end\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:62:\"The
  end time of this layer. If `null`, the layer does not end.\";}s:5:\"users\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:114:\"The
  ordered list of users on this layer. The position of the user on the list determines
  their order in the layer.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ScheduleLayerUser\";}}s:12:\"restrictions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:142:\"An
  array of restrictions for the layer. A restriction is a limit on which period of
  the day or week the schedule layer can accept assignments.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Restriction\";}}s:22:\"rotation_virtual_start\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:89:\"The
  effective start time of the layer. This can be before the start time of the schedule.\";}s:28:\"rotation_turn_length_seconds\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:46:\"The
  duration of each on-call shift in seconds.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  name of the schedule layer.\";}s:25:\"rendered_schedule_entries\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:11:\"description\";s:143:\"This
  is a list of entries on the computed layer for the current time range. Since or
  until must be set in order for this field to be populated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ScheduleLayerEntry\";}}s:28:\"rendered_coverage_percentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:8:\"readOnly\";b:1;s:11:\"description\";s:99:\"The
  percentage of the time range covered by this layer. Returns null unless since or
  until are set.\";}}s:8:\"required\";a:4:{i:0;s:5:\"start\";i:1;s:5:\"users\";i:2;s:22:\"rotation_virtual_start\";i:3;s:28:\"rotation_turn_length_seconds\";}}s:18:\"ScheduleLayerEntry\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"user\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  entry's user.\";s:8:\"readOnly\";b:1;s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}s:5:\"start\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:29:\"The
  start time of this entry.\";}s:3:\"end\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:60:\"The
  end time of this entry. If null, the entry does not end.\";}}s:8:\"required\";a:2:{i:0;s:5:\"start\";i:1;s:3:\"end\";}}s:17:\"ScheduleLayerUser\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"user\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  user at the given position in the rotation.\";s:8:\"readOnly\";b:0;s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}}s:8:\"required\";a:1:{i:0;s:4:\"user\";}}s:8:\"Override\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  start date and time for the override.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  end date and time for the override.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:62:\"The
  user who will be on call for the duration of the override.\";}}s:8:\"required\";a:3:{i:0;s:5:\"start\";i:1;s:3:\"end\";i:2;s:4:\"user\";}s:7:\"example\";O:8:\"stdClass\":3:{s:5:\"start\";s:25:\"2012-07-01T00:00:00-04:00\";s:3:\"end\";s:25:\"2012-07-02T00:00:00-04:00\";s:4:\"user\";O:8:\"stdClass\":2:{s:2:\"id\";s:7:\"PEYSGVF\";s:4:\"type\";s:14:\"user_reference\";}}}s:11:\"Restriction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Specify
  the types of `restriction`.\";s:4:\"enum\";a:2:{i:0;s:17:\"daily_restriction\";i:1;s:18:\"weekly_restriction\";}}s:16:\"duration_seconds\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:43:\"The
  duration of the restriction in seconds.\";}s:17:\"start_time_of_day\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:12:\"partial-time\";s:11:\"description\";s:34:\"The
  start time in HH:mm:ss format.\";}s:17:\"start_day_of_week\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:196:\"Only
  required for use with a `weekly_restriction` restriction type. The first day of
  the weekly rotation schedule as [ISO 8601 day](https://en.wikipedia.org/wiki/ISO_week_date)
  (1 is Monday, etc.)\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:7;}}s:13:\"discriminator\";s:4:\"type\";s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:16:\"duration_seconds\";i:2;s:17:\"start_time_of_day\";}}s:17:\"WeeklyRestriction\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Restriction\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"start_day_of_week\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:128:\"The
  first day of the weekly rotation schedule as [ISO 8601 day](https://en.wikipedia.org/wiki/ISO_week_date)
  (1 is Monday, etc.)\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:7;}}s:8:\"required\";a:1:{i:0;s:17:\"start_day_of_week\";}}}}s:10:\"Pagination\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"offset\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:34:\"Echoes
  offset pagination property.\";s:8:\"readOnly\";b:1;}s:5:\"limit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:33:\"Echoes
  limit pagination property.\";s:8:\"readOnly\";b:1;}s:4:\"more\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:51:\"Indicates
  if there are additional records to return\";s:8:\"readOnly\";b:1;}s:5:\"total\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:53:\"The
  total number of records matching the given query.\";s:8:\"readOnly\";b:1;}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorObject\";}}}s:11:\"ErrorObject\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:20:\"Error
  message string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:28:\"Human-readable
  error details\";}}}s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"message\";s:9:\"Not
  Found\";s:4:\"code\";i:2100;}}s:10:\"Assignment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:41:\"Time
  at which the assignment was created.\";}s:8:\"assignee\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:23:\"User
  that was assigned.\";}}s:8:\"required\";a:2:{i:0;s:2:\"at\";i:1;s:8:\"assignee\";}}s:15:\"Acknowledgement\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:46:\"Time
  at which the acknowledgement was created.\";}s:12:\"acknowledger\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Acknowledger\";s:11:\"description\";s:34:\"User
  or service that acknowledged.\";}}s:8:\"required\";a:2:{i:0;s:2:\"at\";i:1;s:12:\"acknowledger\";}}s:12:\"Acknowledger\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  acknowledger represents the entity that made the acknowledgement for an incident.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:4:\"user\";i:1;s:7:\"service\";i:2;s:14:\"user_reference\";i:3;s:17:\"service_reference\";}s:4:\"type\";s:6:\"string\";}}}}}s:6:\"Oncall\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"escalation_policy\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/EscalationPolicyReference\";s:8:\"readOnly\";b:1;s:11:\"description\";s:38:\"The
  escalation policy for the on-call.\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:8:\"readOnly\";b:1;s:11:\"description\";s:25:\"The
  user for the on-call.\";}s:8:\"schedule\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ScheduleReference\";s:8:\"readOnly\";b:1;s:11:\"description\";s:29:\"The
  schedule for the on-call.\";}s:16:\"escalation_level\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;s:11:\"description\";s:37:\"The
  escalation level for the on-call.\";}s:5:\"start\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:77:\"The
  start of the on-call. If `null`, the on-call is a permanent user on-call.\";}s:3:\"end\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:65:\"The
  end of the on-call. If `null`, the user does not go off-call.\";}}s:7:\"example\";O:8:\"stdClass\":6:{s:4:\"user\";O:8:\"stdClass\":5:{s:2:\"id\";s:7:\"PT23IWX\";s:4:\"type\";s:14:\"user_reference\";s:7:\"summary\";s:10:\"Tim
  Wright\";s:4:\"self\";s:39:\"https://api.pagerduty.com/users/PT23IWX\";s:8:\"html_url\";s:45:\"https://subdomain.pagerduty.com/users/PT23IWX\";}s:8:\"schedule\";O:8:\"stdClass\":5:{s:2:\"id\";s:7:\"PI7DH85\";s:4:\"type\";s:18:\"schedule_reference\";s:7:\"summary\";s:26:\"Daily
  Engineering Rotation\";s:4:\"self\";s:43:\"https://api.pagerduty.com/schedules/PI7DH85\";s:8:\"html_url\";s:49:\"https://subdomain.pagerduty.com/schedules/PI7DH85\";}s:17:\"escalation_policy\";O:8:\"stdClass\":5:{s:2:\"id\";s:7:\"PT20YPA\";s:4:\"type\";s:27:\"escalation_policy_reference\";s:7:\"summary\";s:29:\"Engineering
  Escalation Policy\";s:4:\"self\";s:53:\"https://api.pagerduty.com/escalation_policies/PT20YPA\";s:8:\"html_url\";s:59:\"https://subdomain.pagerduty.com/escalation_policies/PT20YPA\";}s:16:\"escalation_level\";i:2;s:5:\"start\";s:25:\"2015-03-06T15:28:51-05:00\";s:3:\"end\";s:25:\"2015-03-07T15:28:51-05:00\";}}s:15:\"VendorReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"vendor\";i:1;s:16:\"vendor_reference\";}}}}}}s:6:\"Vendor\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/VendorReference\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:28:\"The
  short name of the vendor\";}s:11:\"website_url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:8:\"readOnly\";b:1;s:11:\"description\";s:32:\"URL
  of the vendor's main website\";}s:8:\"logo_url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:8:\"readOnly\";b:1;s:11:\"description\";s:36:\"URL
  of a logo identifying the vendor\";}s:13:\"thumbnail_url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:8:\"readOnly\";b:1;s:11:\"description\";s:53:\"URL
  of a small thumbnail image identifying the vendor\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:89:\"A
  short description of this vendor, and common use-cases of integrations for this
  vendor.\";}s:21:\"integration_guide_url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:8:\"readOnly\";b:1;s:11:\"description\";s:43:\"URL
  of an integration guide for this vendor\";}}s:7:\"example\";O:8:\"stdClass\":7:{s:4:\"type\";s:6:\"vendor\";s:4:\"name\";s:17:\"Amazon
  CloudWatch\";s:11:\"website_url\";s:33:\"https://aws.amazon.com/cloudwatch\";s:8:\"logo_url\";s:55:\"https://s3.amazonaws.com/pdpartner/cloudwatch_large.png\";s:13:\"thumbnail_url\";s:55:\"https://s3.amazonaws.com/pdpartner/cloudwatch_thumb.png\";s:11:\"description\";s:361:\"Amazon
  Web Services CloudWatch provides monitoring for AWS cloud resources and customer-run
  applications. AWS can collect data, gain insight, and alert users to fix problems
  within applications and organizations. AWS CloudWatch gives system-wide visibility
  into resource utilization and notifications can be set for when any metrics cross
  a specified threshold.\";s:21:\"integration_guide_url\";s:70:\"http://www.pagerduty.com/docs/guides/aws-cloudwatch-integration-guide/\";}}}}s:24:\"ExtensionSchemaReference\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:16:\"extension_schema\";i:1;s:26:\"extension_schema_reference\";}}}}}}s:15:\"ExtensionSchema\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ExtensionSchemaReference\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"icon_url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:8:\"readOnly\";b:1;s:11:\"description\";s:30:\"A
  small logo, 18-by-18 pixels.\";}s:8:\"logo_url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:8:\"readOnly\";b:1;s:11:\"description\";s:62:\"A
  large logo, 75 pixels high and no more than 300 pixels wide.\";}s:5:\"label\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:28:\"Human
  friendly display label\";}s:3:\"key\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:30:\"Machine
  friendly display label\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  long description for the Extension\";}s:9:\"guide_url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:8:\"readOnly\";b:1;s:11:\"description\";s:39:\"A
  link to the extension's support guide\";}s:10:\"send_types\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:72:\"The
  types of PagerDuty incident events that will activate this Extension\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:7:\"trigger\";i:1;s:11:\"acknowledge\";i:2;s:7:\"resolve\";i:3;s:8:\"delegate\";i:4;s:8:\"escalate\";i:5;s:13:\"unacknowledge\";i:6;s:6:\"assign\";i:7;s:6:\"custom\";}}}s:3:\"url\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:8:\"readOnly\";b:1;s:11:\"description\";s:68:\"The
  url that the webhook payload will be sent to for this Extension.\";}}s:7:\"example\";O:8:\"stdClass\":13:{s:2:\"id\";s:7:\"PJFWPEP\";s:4:\"type\";s:16:\"extension_schema\";s:7:\"summary\";s:15:\"Generic
  Webhook\";s:4:\"self\";s:51:\"https://api.pagerduty.com/extension_schemas/PJFWPEP\";s:8:\"html_url\";s:4:\"null\";s:11:\"description\";s:21:\"Long
  description here\";s:9:\"guide_url\";s:26:\"v2.developer.pagerduty.com\";s:8:\"icon_url\";s:35:\"https://extension.com/extension.png\";s:3:\"key\";s:15:\"generic_webhook\";s:5:\"label\";s:15:\"Generic
  Webhook\";s:8:\"logo_url\";s:30:\"https://extension.com/logo.png\";s:10:\"send_types\";a:8:{i:0;s:7:\"trigger\";i:1;s:11:\"acknowledge\";i:2;s:7:\"resolve\";i:3;s:8:\"delegate\";i:4;s:8:\"escalate\";i:5;s:13:\"unacknowledge\";i:6;s:6:\"assign\";i:7;s:6:\"custom\";}s:3:\"url\";s:0:\"\";}}}}s:13:\"ResolveReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"The
  reason the incident was resolved. The only reason currently supported is merge.\";s:7:\"default\";s:20:\"merge_resolve_reason\";s:4:\"enum\";a:1:{i:0;s:20:\"merge_resolve_reason\";}}s:8:\"incident\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/IncidentReference\";}}}s:5:\"Alert\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AlertReference\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"created_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:44:\"The
  date/time the alert was first triggered.\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  current status of the alert.\";s:4:\"enum\";a:2:{i:0;s:9:\"triggered\";i:1;s:8:\"resolved\";}}s:9:\"alert_key\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"The
  alert's de-duplication key.\";}s:7:\"service\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/ServiceReference\";s:11:\"description\";s:48:\"The
  PagerDuty service that the alert belongs to.\";s:8:\"readOnly\";b:1;}s:23:\"first_trigger_log_entry\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/LogEntryReference\";s:8:\"readOnly\";b:1;s:11:\"description\";s:36:\"The
  trigger log entry for the alert.\";}s:8:\"incident\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/IncidentReference\";s:11:\"description\";s:41:\"The
  parent incident of the alert, if any.\";}s:10:\"suppressed\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:96:\"Whether
  or not an alert is suppressed. Suppressed alerts are not created with a parent incident.\";s:7:\"default\";b:0;}s:8:\"severity\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:64:\"The
  magnitude of the problem as reported by the monitoring tool.\";s:4:\"enum\";a:4:{i:0;s:4:\"info\";i:1;s:7:\"warning\";i:2;s:5:\"error\";i:3;s:8:\"critical\";}}s:11:\"integration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Integration\";s:11:\"description\";s:68:\"The
  monitoring tool that created the alert due to an incoming event.\";}s:4:\"body\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"readOnly\";b:1;s:11:\"description\";s:51:\"A
  JSON object containing data describing the alert.\";s:5:\"title\";s:4:\"Body\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  type of the body.\";s:4:\"enum\";a:1:{i:0;s:10:\"alert_body\";}}s:8:\"contexts\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:11:\"description\";s:72:\"Contexts
  to be included with the body such as links to graphs or images.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Context\";}}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"readOnly\";b:1;s:11:\"description\";s:80:\"An
[...]
