---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:17:\"Product
  Offerings\";s:11:\"description\";s:417:\"Amaysim has a number of different plans
  that they offer to customers. These are currently curated and managed across multiple
  different systems and data sources. We have identified that this is a prime candidate
  to be extracted into a centralised product catalogue micro-service. This service
  will expose product (plan) data out to multiple clients, internal and external.
  It should be accessed via an API over HTTP.\n\";s:14:\"termsOfService\";s:32:\"http://api.amaysim.com.au/terms/\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:22:\"apiteam@amaysim.com.au\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}}"
host: api.amaysim.com.au
basePath: /api
paths:
  /products/:
    get:
      description: The complete Amaysim product catalog. This is a full non-paginated
        array. Order is non-deterministic
      produces:
      - application/json
      parameters:
      - in: header
        name: accept-version
        description: Support for [semver](http://semver.org/) versioning in an `Accept-Version`
          header. The Api will choose the highest matching value if none is supplied.
        required: false
        type: string
      responses:
        200:
          description: A successful response composed of an an array of one or more
            Products.n
          schema:
            title: ArrayOfProducts
            type: array
            items:
              $ref: '#/definitions/ProductV1'
        default:
          description: Anything other than http status code of 200 is considered an
            unsuccessful response, or error.
          schema:
            $ref: '#/definitions/Error'
  /products/{id}:
    get:
      description: Amaysim product catalogue by code.n
      produces:
      - application/json
      parameters:
      - in: header
        name: accept-version
        description: Support for [semver](http://semver.org/) versioning in an `Accept-Version`
          header. The Api will choose the highest matching value if none is supplied.
        required: false
        type: string
      - name: id
        in: path
        description: Extract a specific product offering by it's unique id.n
        required: true
        type: string
        collectionFormat: csv
        enum:
        - ult_small
        - ult_medium
        - ult_large
        - ult_xlarge
      responses:
        200:
          description: A successful response composed of an an array of one or more
            Products.
          schema:
            $ref: '#/definitions/ProductV1'
        default:
          description: Anything other than http status code of 200 is considered an
            unsuccessful response, or error.
          schema:
            $ref: '#/definitions/Error'
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":4:{s:9:\"ProductV1\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  full representation of a product as of version 1.0.0\n\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  unique product code of this product offering.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  human readable, English name of this product offering.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"The
  human readable, English description of this product offering.\";}s:5:\"price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:50:\"The
  current price in AUD of this product offering.\";}s:6:\"expiry\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:74:\"The
  current expiry term of this product offering in days after activation.\";}s:7:\"size_mb\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:55:\"Maximum
  size in megabytes that the current plan offers.\";}s:2:\"is\";O:8:\"stdClass\":4:{s:5:\"title\";s:10:\"ArrayOfIsA\";s:11:\"description\";s:29:\"A
  set of is-a key and values.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/IsA\";}}s:5:\"links\";O:8:\"stdClass\":4:{s:5:\"title\";s:12:\"ArrayOfLinks\";s:11:\"description\";s:112:\"A
  set of links to other resources that can augment or server to discover relationships
  to this product offering.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:3:\"IsA\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:370:\"This
  is a key value pair used to answer a variety of questions about the features of
  a product. For example is-aut-renew would be { key:'auto_renew', value: true }\n*
  `plan` - Is the product offering a plan.\n* `unlimited` - Is the product offering
  unlimited.\n* `4g` - Is 4-g network supported by this plan.\n* `auto_renew` - Does
  the product offering automatically renew.\n\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:4:\"plan\";i:1;s:9:\"unlimited\";i:2;s:2:\"4g\";i:3;s:10:\"auto_renew\";}}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:4:\"Link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"rel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"self\";i:1;s:7:\"t_and_c\";}}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
