---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:57:\"eBaoCloud
  OpenAPI for Mobile BFF (Backends for Frontends)\";s:14:\"termsOfService\";s:31:\"http://li.ebaocloud.com.cn/bff/\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"eBaoTech\";}}"
host: eli.ebaocloud.com.cn
basePath: /bff
paths:
  /bff/asyncCallback/pay:
    post:
      tags:
      - Callback
      summary: paths['/bff/asyncCallback/pay'].post.summary
      description: paths['/bff/asyncCallback/pay'].post.description
      operationId: payUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: map
        description: paths['/bff/asyncCallback/pay'].post.parameters['0'].description
        required: true
        schema:
          type: object
          additionalProperties:
            type: string
      responses:
        200:
          description: paths['/bff/asyncCallback/pay'].post.responses['200'].description
          schema:
            type: string
        201:
          description: paths['/bff/asyncCallback/pay'].post.responses['201'].description
        401:
          description: paths['/bff/asyncCallback/pay'].post.responses['401'].description
        403:
          description: paths['/bff/asyncCallback/pay'].post.responses['403'].description
        404:
          description: paths['/bff/asyncCallback/pay'].post.responses['404'].description
  /bff/ax/inforce:
    post:
      tags:
      - Callback
      summary: paths['/bff/ax/inforce'].post.summary
      description: paths['/bff/ax/inforce'].post.description
      operationId: inforceUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: transNo
        in: query
        description: paths['/bff/ax/inforce'].post.parameters['0'].description
        required: true
        type: string
      - name: transDate
        in: query
        description: paths['/bff/ax/inforce'].post.parameters['1'].description
        required: true
        type: string
      - name: requestCode
        in: query
        description: paths['/bff/ax/inforce'].post.parameters['2'].description
        required: true
        type: string
      - name: payNo
        in: query
        description: paths['/bff/ax/inforce'].post.parameters['3'].description
        required: true
        type: string
      - name: payType
        in: query
        description: paths['/bff/ax/inforce'].post.parameters['4'].description
        required: true
        type: string
      - name: payAmt
        in: query
        description: paths['/bff/ax/inforce'].post.parameters['5'].description
        required: true
        type: string
      - name: payDate
        in: query
        description: paths['/bff/ax/inforce'].post.parameters['6'].description
        required: true
        type: string
      - name: payResult
        in: query
        description: paths['/bff/ax/inforce'].post.parameters['7'].description
        required: true
        type: string
      - name: payRemark
        in: query
        description: paths['/bff/ax/inforce'].post.parameters['8'].description
        required: true
        type: string
      - name: checkValue
        in: query
        description: paths['/bff/ax/inforce'].post.parameters['9'].description
        required: true
        type: string
      - name: attach
        in: query
        description: paths['/bff/ax/inforce'].post.parameters['10'].description
        required: true
        type: string
      responses:
        200:
          description: paths['/bff/ax/inforce'].post.responses['200'].description
          schema:
            type: string
        201:
          description: paths['/bff/ax/inforce'].post.responses['201'].description
        401:
          description: paths['/bff/ax/inforce'].post.responses['401'].description
        403:
          description: paths['/bff/ax/inforce'].post.responses['403'].description
        404:
          description: paths['/bff/ax/inforce'].post.responses['404'].description
  /bff/ebaocloud-li/product/calcPremium:
    post:
      tags:
      - eBaoCloud-Li
      summary: paths['/bff/ebaocloud-li/product/calcPremium'].post.summary
      description: paths['/bff/ebaocloud-li/product/calcPremium'].post.description
      operationId: calcPremiumUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: calcPremiumRequest
        description: paths['/bff/ebaocloud-li/product/calcPremium'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/CalcPremiumRequest'
      responses:
        200:
          description: paths['/bff/ebaocloud-li/product/calcPremium'].post.responses['200'].description
          schema:
            $ref: '#/definitions/CalcPremiumResponse'
        201:
          description: paths['/bff/ebaocloud-li/product/calcPremium'].post.responses['201'].description
        401:
          description: paths['/bff/ebaocloud-li/product/calcPremium'].post.responses['401'].description
        403:
          description: paths['/bff/ebaocloud-li/product/calcPremium'].post.responses['403'].description
        404:
          description: paths['/bff/ebaocloud-li/product/calcPremium'].post.responses['404'].description
  /bff/ebaocloud-li/product/illustrationCalc:
    post:
      tags:
      - eBaoCloud-Li
      summary: paths['/bff/ebaocloud-li/product/illustrationCalc'].post.summary
      description: paths['/bff/ebaocloud-li/product/illustrationCalc'].post.description
      operationId: illustrationCalcUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: illustrationCalcRequest
        description: paths['/bff/ebaocloud-li/product/illustrationCalc'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/IllustrationCalcRequest'
      responses:
        200:
          description: paths['/bff/ebaocloud-li/product/illustrationCalc'].post.responses['200'].description
          schema:
            $ref: '#/definitions/IllustrationCalcResponse'
        201:
          description: paths['/bff/ebaocloud-li/product/illustrationCalc'].post.responses['201'].description
        401:
          description: paths['/bff/ebaocloud-li/product/illustrationCalc'].post.responses['401'].description
        403:
          description: paths['/bff/ebaocloud-li/product/illustrationCalc'].post.responses['403'].description
        404:
          description: paths['/bff/ebaocloud-li/product/illustrationCalc'].post.responses['404'].description
  /bff/ebaocloud-li/proposal/apply:
    post:
      tags:
      - eBaoCloud-Li
      summary: paths['/bff/ebaocloud-li/proposal/apply'].post.summary
      description: paths['/bff/ebaocloud-li/proposal/apply'].post.description
      operationId: applyUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: paths['/bff/ebaocloud-li/proposal/apply'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: paths['/bff/ebaocloud-li/proposal/apply'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: paths['/bff/ebaocloud-li/proposal/apply'].post.responses['201'].description
        401:
          description: paths['/bff/ebaocloud-li/proposal/apply'].post.responses['401'].description
        403:
          description: paths['/bff/ebaocloud-li/proposal/apply'].post.responses['403'].description
        404:
          description: paths['/bff/ebaocloud-li/proposal/apply'].post.responses['404'].description
  /bff/ebaocloud-li/proposal/inforce:
    post:
      tags:
      - eBaoCloud-Li
      summary: paths['/bff/ebaocloud-li/proposal/inforce'].post.summary
      description: paths['/bff/ebaocloud-li/proposal/inforce'].post.description
      operationId: inforceUsingPOST_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: paths['/bff/ebaocloud-li/proposal/inforce'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: paths['/bff/ebaocloud-li/proposal/inforce'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: paths['/bff/ebaocloud-li/proposal/inforce'].post.responses['201'].description
        401:
          description: paths['/bff/ebaocloud-li/proposal/inforce'].post.responses['401'].description
        403:
          description: paths['/bff/ebaocloud-li/proposal/inforce'].post.responses['403'].description
        404:
          description: paths['/bff/ebaocloud-li/proposal/inforce'].post.responses['404'].description
  /bff/ebaocloud-li/proposal/quote:
    post:
      tags:
      - eBaoCloud-Li
      summary: paths['/bff/ebaocloud-li/proposal/quote'].post.summary
      description: paths['/bff/ebaocloud-li/proposal/quote'].post.description
      operationId: quoteUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: paths['/bff/ebaocloud-li/proposal/quote'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: paths['/bff/ebaocloud-li/proposal/quote'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: paths['/bff/ebaocloud-li/proposal/quote'].post.responses['201'].description
        401:
          description: paths['/bff/ebaocloud-li/proposal/quote'].post.responses['401'].description
        403:
          description: paths['/bff/ebaocloud-li/proposal/quote'].post.responses['403'].description
        404:
          description: paths['/bff/ebaocloud-li/proposal/quote'].post.responses['404'].description
  /bff/login:
    post:
      tags:
      - Login
      summary: paths['/bff/login'].post.summary
      description: paths['/bff/login'].post.description
      operationId: loginUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: user
        description: paths['/bff/login'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/User'
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        200:
          description: paths['/bff/login'].post.responses['200'].description
          schema:
            $ref: '#/definitions/LoginResponse'
        201:
          description: paths['/bff/login'].post.responses['201'].description
        401:
          description: paths['/bff/login'].post.responses['401'].description
        403:
          description: paths['/bff/login'].post.responses['403'].description
        404:
          description: paths['/bff/login'].post.responses['404'].description
  /bff/planService/calcPremium:
    post:
      tags:
      - Calculate Premium
      summary: paths['/bff/planService/calcPremium'].post.summary
      description: paths['/bff/planService/calcPremium'].post.description
      operationId: calcPremiumUsingPOST_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: calcPremiumRequest
        description: paths['/bff/planService/calcPremium'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/CalcPremiumRequest'
      responses:
        200:
          description: paths['/bff/planService/calcPremium'].post.responses['200'].description
          schema:
            $ref: '#/definitions/CalcPremiumResponse'
        201:
          description: paths['/bff/planService/calcPremium'].post.responses['201'].description
        401:
          description: paths['/bff/planService/calcPremium'].post.responses['401'].description
        403:
          description: paths['/bff/planService/calcPremium'].post.responses['403'].description
        404:
          description: paths['/bff/planService/calcPremium'].post.responses['404'].description
  /bff/proposal/get/{proposalId}:
    get:
      tags:
      - Proposal
      summary: paths['/bff/proposal/get/{proposalId}'].get.summary
      description: paths['/bff/proposal/get/{proposalId}'].get.description
      operationId: getUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: proposalId
        in: path
        description: paths['/bff/proposal/get/{proposalId}'].get.parameters['0'].description
        required: true
        type: string
      responses:
        200:
          description: paths['/bff/proposal/get/{proposalId}'].get.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalResponse'
        401:
          description: paths['/bff/proposal/get/{proposalId}'].get.responses['401'].description
        403:
          description: paths['/bff/proposal/get/{proposalId}'].get.responses['403'].description
        404:
          description: paths['/bff/proposal/get/{proposalId}'].get.responses['404'].description
  /bff/proposal/getByCode/{proposalCode}:
    get:
      tags:
      - Proposal
      summary: paths['/bff/proposal/getByCode/{proposalCode}'].get.summary
      description: paths['/bff/proposal/getByCode/{proposalCode}'].get.description
      operationId: getByCodeUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: proposalCode
        in: path
        description: paths['/bff/proposal/getByCode/{proposalCode}'].get.parameters['0'].description
        required: true
        type: string
      responses:
        200:
          description: paths['/bff/proposal/getByCode/{proposalCode}'].get.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalResponse'
        401:
          description: paths['/bff/proposal/getByCode/{proposalCode}'].get.responses['401'].description
        403:
          description: paths['/bff/proposal/getByCode/{proposalCode}'].get.responses['403'].description
        404:
          description: paths['/bff/proposal/getByCode/{proposalCode}'].get.responses['404'].description
  /bff/proposal/getByUserId/{userId}:
    get:
      tags:
      - Proposal
      summary: paths['/bff/proposal/getByUserId/{userId}'].get.summary
      description: paths['/bff/proposal/getByUserId/{userId}'].get.description
      operationId: getByUserIdUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: userId
        in: path
        description: paths['/bff/proposal/getByUserId/{userId}'].get.parameters['0'].description
        required: true
        type: string
      responses:
        200:
          description: paths['/bff/proposal/getByUserId/{userId}'].get.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalListInfoResponse'
        401:
          description: paths['/bff/proposal/getByUserId/{userId}'].get.responses['401'].description
        403:
          description: paths['/bff/proposal/getByUserId/{userId}'].get.responses['403'].description
        404:
          description: paths['/bff/proposal/getByUserId/{userId}'].get.responses['404'].description
  /bff/proposal/query:
    post:
      tags:
      - Proposal
      summary: paths['/bff/proposal/query'].post.summary
      description: paths['/bff/proposal/query'].post.description
      operationId: queryUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: paths['/bff/proposal/query'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/ProposalCriteriaRequest'
      responses:
        200:
          description: paths['/bff/proposal/query'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalListInfoResponse'
        201:
          description: paths['/bff/proposal/query'].post.responses['201'].description
        401:
          description: paths['/bff/proposal/query'].post.responses['401'].description
        403:
          description: paths['/bff/proposal/query'].post.responses['403'].description
        404:
          description: paths['/bff/proposal/query'].post.responses['404'].description
  /bff/proposal/saveOrUpdate:
    post:
      tags:
      - Proposal
      summary: paths['/bff/proposal/saveOrUpdate'].post.summary
      description: paths['/bff/proposal/saveOrUpdate'].post.description
      operationId: saveUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: paths['/bff/proposal/saveOrUpdate'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: paths['/bff/proposal/saveOrUpdate'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: paths['/bff/proposal/saveOrUpdate'].post.responses['201'].description
        401:
          description: paths['/bff/proposal/saveOrUpdate'].post.responses['401'].description
        403:
          description: paths['/bff/proposal/saveOrUpdate'].post.responses['403'].description
        404:
          description: paths['/bff/proposal/saveOrUpdate'].post.responses['404'].description
  /bff/proposal/updateInforceInfo:
    post:
      tags:
      - Proposal
      summary: paths['/bff/proposal/updateInforceInfo'].post.summary
      description: paths['/bff/proposal/updateInforceInfo'].post.description
      operationId: updateInforceInfoUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: paths['/bff/proposal/updateInforceInfo'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: paths['/bff/proposal/updateInforceInfo'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: paths['/bff/proposal/updateInforceInfo'].post.responses['201'].description
        401:
          description: paths['/bff/proposal/updateInforceInfo'].post.responses['401'].description
        403:
          description: paths['/bff/proposal/updateInforceInfo'].post.responses['403'].description
        404:
          description: paths['/bff/proposal/updateInforceInfo'].post.responses['404'].description
  /bff/proposal/updateStatus:
    post:
      tags:
      - Proposal
      summary: paths['/bff/proposal/updateStatus'].post.summary
      description: paths['/bff/proposal/updateStatus'].post.description
      operationId: updateStatusUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: paths['/bff/proposal/updateStatus'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: paths['/bff/proposal/updateStatus'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: paths['/bff/proposal/updateStatus'].post.responses['201'].description
        401:
          description: paths['/bff/proposal/updateStatus'].post.responses['401'].description
        403:
          description: paths['/bff/proposal/updateStatus'].post.responses['403'].description
        404:
          description: paths['/bff/proposal/updateStatus'].post.responses['404'].description
  /bff/tools/checkSign:
    post:
      tags:
      - Tools
      summary: paths['/bff/tools/checkSign'].post.summary
      description: paths['/bff/tools/checkSign'].post.description
      operationId: checkSignUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: paths['/bff/tools/checkSign'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/ToolsSignRequest'
      responses:
        200:
          description: paths['/bff/tools/checkSign'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ToolsSignResponse'
        201:
          description: paths['/bff/tools/checkSign'].post.responses['201'].description
        401:
          description: paths['/bff/tools/checkSign'].post.responses['401'].description
        403:
          description: paths['/bff/tools/checkSign'].post.responses['403'].description
        404:
          description: paths['/bff/tools/checkSign'].post.responses['404'].description
  /bff/tools/sign:
    post:
      tags:
      - Tools
      summary: paths['/bff/tools/sign'].post.summary
      description: paths['/bff/tools/sign'].post.description
      operationId: signUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: paths['/bff/tools/sign'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/ToolsSignRequest'
      responses:
        200:
          description: paths['/bff/tools/sign'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ToolsSignResponse'
        201:
          description: paths['/bff/tools/sign'].post.responses['201'].description
        401:
          description: paths['/bff/tools/sign'].post.responses['401'].description
        403:
          description: paths['/bff/tools/sign'].post.responses['403'].description
        404:
          description: paths['/bff/tools/sign'].post.responses['404'].description
  /bff/transaction/broker/synAppoint:
    post:
      tags:
      - Transaction
      summary: paths['/bff/transaction/broker/synAppoint'].post.summary
      description: paths['/bff/transaction/broker/synAppoint'].post.description
      operationId: brokerSynAppointUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: paths['/bff/transaction/broker/synAppoint'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: paths['/bff/transaction/broker/synAppoint'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: paths['/bff/transaction/broker/synAppoint'].post.responses['201'].description
        401:
          description: paths['/bff/transaction/broker/synAppoint'].post.responses['401'].description
        403:
          description: paths['/bff/transaction/broker/synAppoint'].post.responses['403'].description
        404:
          description: paths['/bff/transaction/broker/synAppoint'].post.responses['404'].description
  /bff/transaction/broker/synPolicy:
    post:
      tags:
      - Transaction
      summary: paths['/bff/transaction/broker/synPolicy'].post.summary
      description: paths['/bff/transaction/broker/synPolicy'].post.description
      operationId: brokerSynPolicyUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: paths['/bff/transaction/broker/synPolicy'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: paths['/bff/transaction/broker/synPolicy'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: paths['/bff/transaction/broker/synPolicy'].post.responses['201'].description
        401:
          description: paths['/bff/transaction/broker/synPolicy'].post.responses['401'].description
        403:
          description: paths['/bff/transaction/broker/synPolicy'].post.responses['403'].description
        404:
          description: paths['/bff/transaction/broker/synPolicy'].post.responses['404'].description
  /bff/transaction/broker/synProposal:
    post:
      tags:
      - Transaction
      summary: paths['/bff/transaction/broker/synProposal'].post.summary
      description: paths['/bff/transaction/broker/synProposal'].post.description
      operationId: brokerSynProposalUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: paths['/bff/transaction/broker/synProposal'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: paths['/bff/transaction/broker/synProposal'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: paths['/bff/transaction/broker/synProposal'].post.responses['201'].description
        401:
          description: paths['/bff/transaction/broker/synProposal'].post.responses['401'].description
        403:
          description: paths['/bff/transaction/broker/synProposal'].post.responses['403'].description
        404:
          description: paths['/bff/transaction/broker/synProposal'].post.responses['404'].description
  /bff/transaction/insurer/accept:
    post:
      tags:
      - Transaction
      summary: paths['/bff/transaction/insurer/accept'].post.summary
      description: paths['/bff/transaction/insurer/accept'].post.description
      operationId: acceptUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: paths['/bff/transaction/insurer/accept'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: paths['/bff/transaction/insurer/accept'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: paths['/bff/transaction/insurer/accept'].post.responses['201'].description
        401:
          description: paths['/bff/transaction/insurer/accept'].post.responses['401'].description
        403:
          description: paths['/bff/transaction/insurer/accept'].post.responses['403'].description
        404:
          description: paths['/bff/transaction/insurer/accept'].post.responses['404'].description
      deprecated: true
  /bff/transaction/insurer/inforce:
    post:
      tags:
      - Transaction
      summary: paths['/bff/transaction/insurer/inforce'].post.summary
      description: paths['/bff/transaction/insurer/inforce'].post.description
      operationId: inforceUsingPOST_2
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: paths['/bff/transaction/insurer/inforce'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: paths['/bff/transaction/insurer/inforce'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: paths['/bff/transaction/insurer/inforce'].post.responses['201'].description
        401:
          description: paths['/bff/transaction/insurer/inforce'].post.responses['401'].description
        403:
          description: paths['/bff/transaction/insurer/inforce'].post.responses['403'].description
        404:
          description: paths['/bff/transaction/insurer/inforce'].post.responses['404'].description
      deprecated: true
  /bff/transaction/insurer/underwrite:
    post:
      tags:
      - Transaction
      summary: paths['/bff/transaction/insurer/underwrite'].post.summary
      description: paths['/bff/transaction/insurer/underwrite'].post.description
      operationId: submitUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: paths['/bff/transaction/insurer/underwrite'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: paths['/bff/transaction/insurer/underwrite'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: paths['/bff/transaction/insurer/underwrite'].post.responses['201'].description
        401:
          description: paths['/bff/transaction/insurer/underwrite'].post.responses['401'].description
        403:
          description: paths['/bff/transaction/insurer/underwrite'].post.responses['403'].description
        404:
          description: paths['/bff/transaction/insurer/underwrite'].post.responses['404'].description
      deprecated: true
  /bff/user/{openId}/{tenantCode}:
    get:
      tags:
      - Login
      summary: paths['/bff/user/{openId}/{tenantCode}'].get.summary
      description: paths['/bff/user/{openId}/{tenantCode}'].get.description
      operationId: getByOpenIdUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: openId
        in: path
        description: paths['/bff/user/{openId}/{tenantCode}'].get.parameters['0'].description
        required: true
        type: string
      - name: tenantCode
        in: path
        description: paths['/bff/user/{openId}/{tenantCode}'].get.parameters['1'].description
        required: true
        type: string
      responses:
        200:
          description: paths['/bff/user/{openId}/{tenantCode}'].get.responses['200'].description
          schema:
            $ref: '#/definitions/LoginResponse'
        401:
          description: paths['/bff/user/{openId}/{tenantCode}'].get.responses['401'].description
        403:
          description: paths['/bff/user/{openId}/{tenantCode}'].get.responses['403'].description
        404:
          description: paths['/bff/user/{openId}/{tenantCode}'].get.responses['404'].description
  /bff/wx/jsConfig/{appId}:
    get:
      tags:
      - Wechat
      summary: paths['/bff/wx/jsConfig/{appId}'].get.summary
      description: paths['/bff/wx/jsConfig/{appId}'].get.description
      operationId: getConfigUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: appId
        in: path
        description: paths['/bff/wx/jsConfig/{appId}'].get.parameters['0'].description
        required: true
        type: string
      - name: url
        in: query
        description: paths['/bff/wx/jsConfig/{appId}'].get.parameters['1'].description
        required: true
        type: string
      responses:
        200:
          description: paths['/bff/wx/jsConfig/{appId}'].get.responses['200'].description
          schema:
            $ref: '#/definitions/WeChatRestResponse'
        401:
          description: paths['/bff/wx/jsConfig/{appId}'].get.responses['401'].description
        403:
          description: paths['/bff/wx/jsConfig/{appId}'].get.responses['403'].description
        404:
          description: paths['/bff/wx/jsConfig/{appId}'].get.responses['404'].description
  /bff/wx/openidAndAccessToken/{appId}/{code}:
    get:
      tags:
      - Wechat
      summary: paths['/bff/wx/openidAndAccessToken/{appId}/{code}'].get.summary
      description: paths['/bff/wx/openidAndAccessToken/{appId}/{code}'].get.description
      operationId: getOpenidAndAccessTokenUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: appId
        in: path
        description: paths['/bff/wx/openidAndAccessToken/{appId}/{code}'].get.parameters['0'].description
        required: true
        type: string
      - name: code
        in: path
        description: paths['/bff/wx/openidAndAccessToken/{appId}/{code}'].get.parameters['1'].description
        required: true
        type: string
      responses:
        200:
          description: paths['/bff/wx/openidAndAccessToken/{appId}/{code}'].get.responses['200'].description
          schema:
            $ref: '#/definitions/WeChatRestResponse'
        401:
          description: paths['/bff/wx/openidAndAccessToken/{appId}/{code}'].get.responses['401'].description
        403:
          description: paths['/bff/wx/openidAndAccessToken/{appId}/{code}'].get.responses['403'].description
        404:
          description: paths['/bff/wx/openidAndAccessToken/{appId}/{code}'].get.responses['404'].description
  /bff/wx/userInfo/{appId}/{code}/{authMethod}:
    get:
      tags:
      - Wechat
      summary: paths['/bff/wx/userInfo/{appId}/{code}/{authMethod}'].get.summary
      description: paths['/bff/wx/userInfo/{appId}/{code}/{authMethod}'].get.description
      operationId: getUserBaseByCodeUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: appId
        in: path
        description: paths['/bff/wx/userInfo/{appId}/{code}/{authMethod}'].get.parameters['0'].description
        required: true
        type: string
      - name: code
        in: path
        description: paths['/bff/wx/userInfo/{appId}/{code}/{authMethod}'].get.parameters['1'].description
        required: true
        type: string
      - name: authMethod
        in: path
        description: paths['/bff/wx/userInfo/{appId}/{code}/{authMethod}'].get.parameters['2'].description
        required: true
        type: string
      responses:
        200:
          description: paths['/bff/wx/userInfo/{appId}/{code}/{authMethod}'].get.responses['200'].description
          schema:
            $ref: '#/definitions/WeChatRestResponse'
        401:
          description: paths['/bff/wx/userInfo/{appId}/{code}/{authMethod}'].get.responses['401'].description
        403:
          description: paths['/bff/wx/userInfo/{appId}/{code}/{authMethod}'].get.responses['403'].description
        404:
          description: paths['/bff/wx/userInfo/{appId}/{code}/{authMethod}'].get.responses['404'].description
produces: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":36:{s:10:\"ValueAdded\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"displayOrder\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:17:\"valueAddedDescPic\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"valueAddedId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:14:\"valueAddedName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"ToolsSignRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"charSet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"insuredCompanyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"salesChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"sign\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tenantCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"User\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:8:\"cityCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"disabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"langId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"openId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"provinceCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"realName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tenantCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"tenantID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"userFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"addressExt1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"addressExt2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"addressId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"postCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"province\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"UserData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}}s:17:\"ToolsSignResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"decodeMsg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"encodeMsg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"errorMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"CalcPremiumRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"encryptedUserData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"langId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Plan\";}}}s:9:\"IllusItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"displayOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:30:\"CustomerDeclarationDetailInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"declId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"fill1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fill10\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"fill2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"fill3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"fill4\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"fill5\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"fill6\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"fill7\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"fill8\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"fill9\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"TopupWithdraw\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"addPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"addPremAn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:11:\"addPremType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"addStartDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"addYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:10:\"chargeMode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"endYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:10:\"paidupDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"payMode\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"payToDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"premType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"startYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:24:\"CustomerDeclarationInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"declarationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:18:\"declarationDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/CustomerDeclarationDetailInput\";}}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"partyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:12:\"ChargePeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"periodType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"periodValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:24:\"IllustrationCalcResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"errorMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"illusMap\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/Map\xABstring,List\xABIllusItem\xBB\xBB\";}}s:9:\"illusRate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"isULProduct\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"mainAssuredAge\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"quotationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"quotationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"CollectionInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:18:\"arapCollectionTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:13:\"arapIndicator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"bankAccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"bankCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"collectionDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"collectionNo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"collectionTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"feeAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:13:\"paymentMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"paymentPlatform\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"policyNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"proposalNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"thirdPtyPayNo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"LoginResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/UserData\";}s:13:\"errorMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"IllustrationCalcRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"encryptedUserData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"langId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Plan\";}}}s:15:\"ProposalRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"encryptedUserData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"langId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"proposalInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ProposalInfo\";}s:17:\"proposalRequestId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"proposalRequestTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:24:\"ProposalListInfoResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"errorMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"proposalInfos\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ProposalInfo\";}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"totalSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:9:\"PayPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"periodType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"periodValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"Coverage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:12:\"benefitlevel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"chargePeriod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ChargePeriod\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CoveragePeriod\";}s:15:\"displayPremIndi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"firstYearPrem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:10:\"insuredIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"investRates\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/InvestRate\";}}s:6:\"itemId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"masterItemId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:15:\"masterProductId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"payPeriod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/PayPeriod\";}s:11:\"paymentFreq\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"planLiabilityList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PlanLiabilityInput\";}}s:7:\"premium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:11:\"productCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"productName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"sa\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:14:\"topupWithdraws\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TopupWithdraw\";}}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"unitFlag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:10:\"InvestRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:14:\"allocationFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:10:\"assignRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:8:\"fundCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"highPlyYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"listId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:10:\"lowPlyYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"premType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Plan\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:6:\"advice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"insuranceSpirit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"insureds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Insured\";}}s:13:\"mainCoverages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Coverage\";}}s:7:\"moneyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"packageCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"packageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"proposer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Proposer\";}s:13:\"quotationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"quotationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:14:\"riderCoverages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Coverage\";}}s:10:\"showAdvice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"showValueAdded\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"totalFirstYearPrem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:8:\"userName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"userPhone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"valueAddedIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}}s:7:\"Insured\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:9:\"addresses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}}s:3:\"age\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"birthday\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"certiBeginDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"certiCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"certiEndDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"certiType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"declaration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CustomerDeclarationInput\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"jobCateCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"jobCateId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"laPhRela\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:14:\"marriageStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"nationality\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"smoking\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"socialInsuranceIndi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:12:\"ProposalInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":29:{s:9:\"applyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"beneficiaries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Beneficiary\";}}s:15:\"collectionInput\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CollectionInput\";}s:18:\"ePolicyDownloadUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"endDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"inforceDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"insureds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Insured\";}}s:13:\"mainCoverages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Coverage\";}}s:15:\"mainProductName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"outboundTenantCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"packageCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"packageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"packageName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"payerAccounts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PayerAccountInput\";}}s:10:\"policyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"producerCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"producerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"proposalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"proposalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:14:\"proposalStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"proposer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Proposer\";}s:14:\"riderCoverages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Coverage\";}}s:16:\"salesChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"salesCompanyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"submitDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:18:\"totalFirstYearPrem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:16:\"underwritingDesc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"CalcPremiumResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"coveragePrems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CoveragePremium\";}}s:13:\"errorMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"totalFirstYearPrem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:14:\"valueAddedList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ValueAdded\";}}}}s:15:\"CoveragePremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"benefitlevel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"chargePeriod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ChargePeriod\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CoveragePeriod\";}s:15:\"displayPremIndi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"firstYearPrem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:6:\"itemId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"premium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"productName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"sa\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"unitFlag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:16:\"BankAccountInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"accoCertiCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"accoName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"accountType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"bankAccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"bankAccountCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"bankAccountProvince\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"bankCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"creditCardType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"debitCreditType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"expireDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"issueBankName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"partyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:14:\"CoveragePeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"periodType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"periodValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"Proposer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:9:\"addresses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}}s:3:\"age\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"birthday\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"certiBeginDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"certiCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"certiEndDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"certiType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"declaration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CustomerDeclarationInput\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"income\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"jobCateCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"jobCateId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:14:\"marriageStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"nationality\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"smoking\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"socialInsuranceIndi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:31:\"Map\xABstring,List\xABIllusItem\xBB\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"array\";}}s:23:\"ProposalCriteriaRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":32:{s:3:\"asc\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"companyId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"encryptedUserData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"inforceDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"inforceEndDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:16:\"inforceStartDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"insertTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"laCertiCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"laCertiType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"laGerder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"laName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"langId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"orderBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"packageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"pageNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"pageSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"phCertiCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"phCertiType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"phGerder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"phName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"policyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"producerCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"producerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"producerIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}s:9:\"productId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"proposalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"regEndDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"regStartDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"submitChannel\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"tenantCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"totalSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:18:\"PlanLiabilityInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"liabId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"unitFlag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:17:\"PayerAccountInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"bankAccount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BankAccountInput\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"nextBankAccount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BankAccountInput\";}s:7:\"payerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:13:\"paymentMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:17:\"paymentMethodNext\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:16:\"ProposalResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"errorMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"proposalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"proposalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"proposalInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ProposalInfo\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"Beneficiary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":25:{s:9:\"addresses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}}s:3:\"age\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"birthday\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"certiBeginDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"certiCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"certiEndDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"certiType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"declaration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CustomerDeclarationInput\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"insuredId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"jobCateCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"jobCateId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:14:\"marriageStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"nationality\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"relToInsured\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"shareRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"smoking\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"socialInsuranceIndi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:18:\"WeChatRestResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":26:{s:11:\"accessToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"errcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"errmsg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"errorMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"expiresIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"groupid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"headimgurl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"nickname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"noncestr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"openid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"privilege\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"province\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"refreshToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"remark\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"scope\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sex\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"signature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"subscribe\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"subscribeTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"ticket\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"unionid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
