---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:57:\"eBaoCloud
  OpenAPI for Mobile BFF (Backends for Frontends)\";s:14:\"termsOfService\";s:31:\"http://li.ebaocloud.com.cn/bff/\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"eBaoTech\";}s:11:\"description\";s:355:\"\u672C\u7BC7\u6587\u6863\u63CF\u8FF0\u4E86eBaoCloud\uFF08\u6613\u4FDD\u4E91\uFF09\u5BFF\u9669\u6240\u63D0\u4F9B\u7684API\uFF08API
  specification\uFF09\u3002\u5982\u679C\u60A8\u60F3\u8FD0\u884C\u548C\u4F7F\u7528\u8FD9\u4E9BAPI\uFF0C\u4F60\u9700\u8981\u9996\u5148\u83B7\u53D6\u4E00\u4E2AeBaoCloud\u7684\u79DF\u6237\u8D26\u53F7\uFF0C\u8BF7\u8054\u7CFBAntang.Du@ebaotech.com\u83B7\u53D6\u8D26\u53F7\u3002\u6211\u4EEC\u4F1A\u63D0\u4F9B\u6C99\u7BB1\u73AF\u5883\u7ED9\u60A8\u3002\n\n#
  \u642D\u5EFA\u65F6\u95F4\nTue Mar 13 2018, 19:41:03 +08:00\n\n# \u7248\u672C\nAPI
  \u7248\u672C| \u65F6\u95F4  |\u8BF4\u660E\n\";}"
host: eli.ebaocloud.com.cn
basePath: /bff
paths:
  /bff/asyncCallback/pay:
    post:
      tags:
      - Callback
      summary: ebaou652fu4ed8u5e73u53f0u652fu4ed8u56deu8c03
      description: u6839u636eu652fu4ed8u56deu8c03u53c2u6570uff0cu66f4u65b0u6295u4fddu5355u4fe1u606fuff0cu5e76u8c03u7528u4fddu9669u516cu53f8u751fu6548u63a5u53e3
      operationId: payUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: map
        description: map
        required: true
        schema:
          type: object
          additionalProperties:
            type: string
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/ax/inforce:
    post:
      tags:
      - Callback
      summary: u5b89u5fc3u652fu4ed8u5e73u53f0u652fu4ed8u56deu8c03
      description: u6839u636eu652fu4ed8u56deu8c03u53c2u6570uff0cu66f4u65b0u6295u4fddu5355u4fe1u606fuff0cu5e76u8c03u7528u5b89u5fc3u6838u5fc3u7cfbu7edfu751fu6548u63a5u53e3
      operationId: inforceUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: transNo
        in: query
        description: Transaction number
        required: true
        type: string
      - name: transDate
        in: query
        description: Transaction time,format = yyyyMMddHHmmss
        required: true
        type: string
      - name: requestCode
        in: query
        description: requestCode
        required: true
        type: string
      - name: payNo
        in: query
        description: Pay Number
        required: true
        type: string
      - name: payType
        in: query
        description: Pay Type <br/>1:wechat-mobile<br/>2:alipay-mobile<br/>3:wechat-PC<br/>4:alipay-PC<br/>5:wechat-App<br/>6:alipay-App<br/>7:wechat-wap<br/>8:unionpay-wap
        required: true
        type: string
      - name: payAmt
        in: query
        description: Pay Amount(Units:fen)
        required: true
        type: string
      - name: payDate
        in: query
        description: Pay Date,format = yyyyMMddHHmmss
        required: true
        type: string
      - name: payResult
        in: query
        description: Pay Result(1:success 0:failure)
        required: true
        type: string
      - name: payRemark
        in: query
        description: Pay Remark(when failed , show failure reason)
        required: true
        type: string
      - name: checkValue
        in: query
        description: checkValue
        required: true
        type: string
      - name: attach
        in: query
        description: format='ProposalCode,PackageId,SalesChannelCode,InsuredAge'
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/ebaocloud-li/product/calcPremium:
    post:
      tags:
      - eBaoCloud-Li
      summary: u4fddu8d39u8ba1u7b97
      description: u901au8fc7eBaoCloud-Liu8ba1u7b97u4fddu8d39
      operationId: calcPremiumUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: calcPremiumRequest
        description: calcPremiumRequest
        required: true
        schema:
          $ref: '#/definitions/CalcPremiumRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CalcPremiumResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/ebaocloud-li/product/illustrationCalc:
    post:
      tags:
      - eBaoCloud-Li
      summary: u5229u76cau6f14u793a
      description: u901au8fc7eBaoCloud-Liu8fdbu884cu5229u76cau6f14u793a
      operationId: illustrationCalcUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: illustrationCalcRequest
        description: illustrationCalcRequest
        required: true
        schema:
          $ref: '#/definitions/IllustrationCalcRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IllustrationCalcResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/ebaocloud-li/proposal/apply:
    post:
      tags:
      - eBaoCloud-Li
      summary: u6295u4fdd
      description: u8ba1u7b97u4fddu8d39u5e76u6821u9a8cu6295u6838u4fddu89c4u5219uff0cu5982u679cu901au8fc7uff0cu5219u751fu6210u6295u4fddu5355u53f7
      operationId: applyUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: proposalRequest
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/ebaocloud-li/proposal/inforce:
    post:
      tags:
      - eBaoCloud-Li
      summary: u6536u8d39u627fu4fdd
      description: u6295u6838u4fddu540eu6536u8d39u627fu4fdd
      operationId: inforceUsingPOST_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: proposalRequest
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/ebaocloud-li/proposal/quote:
    post:
      tags:
      - eBaoCloud-Li
      summary: u6295u4fddu9884u68c0
      description: u8ba1u7b97u4fddu8d39u5e76u6821u9a8cu6295u4fddu98ceu9669
      operationId: quoteUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: proposalRequest
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/login:
    post:
      tags:
      - Login
      summary: u767bu9646
      description: u4f7fu7528httpbasicu65b9u5f0fu9a8cu8bc1, u6210u529fu767bu5f55u540eu91cdu7f6eu6570u636eu5e93u4e2du7684u7528u6237openId
      operationId: loginUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: user
        description: user
        required: true
        schema:
          $ref: '#/definitions/User'
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LoginResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/planService/calcPremium:
    post:
      tags:
      - Calculate Premium
      summary: u4fddu8d39u8ba1u7b97
      description: u8c03u7528eBaoCloudu7684u4fddu8d39u8ba1u7b97u63a5u53e3u8fdbu884cu4fddu8d39u8ba1u7b97
      operationId: calcPremiumUsingPOST_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: calcPremiumRequest
        description: calcPremiumRequest
        required: true
        schema:
          $ref: '#/definitions/CalcPremiumRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CalcPremiumResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/proposal/get/{proposalId}:
    get:
      tags:
      - Proposal
      summary: u6295u4fddu5355u53d6u5f97
      description: u6309u6295u4fddu5355Idu53d6u5f97u6295u4fddu5355
      operationId: getUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: proposalId
        in: path
        description: proposalId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/proposal/getByCode/{proposalCode}:
    get:
      tags:
      - Proposal
      summary: u6295u4fddu5355u53d6u5f97
      description: u6309u6295u4fddu5355u53f7u53d6u5f97u6295u4fddu5355
      operationId: getByCodeUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: proposalCode
        in: path
        description: proposalCode
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/proposal/getByUserId/{userId}:
    get:
      tags:
      - Proposal
      summary: u7528u6237u6295u4fddu5355u53d6u5f97
      description: u6309u7528u6237IDu53d6u5f97u5176u6240u6709u6295u4fddu5355
      operationId: getByUserIdUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: userId
        in: path
        description: userId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalListInfoResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/proposal/query:
    post:
      tags:
      - Proposal
      summary: u6295u4fddu5355u68c0u7d22
      description: u6839u636eu68c0u7d22u6761u4ef6u8fd4u56deu7b26u5408u6761u4ef6u7684u6295u4fddu5355
      operationId: queryUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: proposalRequest
        required: true
        schema:
          $ref: '#/definitions/ProposalCriteriaRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalListInfoResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/proposal/saveOrUpdate:
    post:
      tags:
      - Proposal
      summary: u4fddu5b58u6295u4fddu5355
      description: u4fddu5b58u6216u66f4u65b0u6295u4fddu5355
      operationId: saveUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: proposalRequest
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/proposal/updateInforceInfo:
    post:
      tags:
      - Proposal
      summary: u66f4u65b0u6295u4fddu5355u4fe1u606f
      description: u66f4u65b0u6295u4fddu5355u90e8u5206u4fe1u606fuff08u6838u4fddu7ed3u679cuff0cu7535u5b50u4fddu5355u4e0bu8f7du5730u5740uff0cu6295u4fddu5355u72b6u6001uff09
      operationId: updateInforceInfoUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: proposalRequest
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/proposal/updateStatus:
    post:
      tags:
      - Proposal
      summary: u6295u4fddu5355u72b6u6001u66f4u65b0
      description: u66f4u65b0u6295u4fddu5355u72b6u6001
      operationId: updateStatusUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: proposalRequest
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/tools/checkSign:
    post:
      tags:
      - Tools
      summary: u9a8cu7b7e
      description: u9a8cu8bc1u7b7eu540d
      operationId: checkSignUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/ToolsSignRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ToolsSignResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/tools/sign:
    post:
      tags:
      - Tools
      summary: u52a0u7b7e
      description: u751fu6210u7b7eu540d
      operationId: signUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/ToolsSignRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ToolsSignResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/transaction/broker/synAppoint:
    post:
      tags:
      - Transaction
      summary: u4fddu4ee3u516cu53f8u9884u7ea6u540cu6b65
      description: u8c03u7528u4fddu4ee3u516cu53f8u7684u9884u7ea6u63a5u53e3
      operationId: brokerSynAppointUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: proposalRequest
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/transaction/broker/synPolicy:
    post:
      tags:
      - Transaction
      summary: u4fddu4ee3u516cu53f8u4fddu5355u540cu6b65
      description: u8c03u7528u4fddu4ee3u516cu53f8u7684u4fddu5355u540cu6b65u63a5u53e3
      operationId: brokerSynPolicyUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: proposalRequest
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/transaction/broker/synProposal:
    post:
      tags:
      - Transaction
      summary: u4fddu4ee3u516cu53f8u6295u4fddu5355u540cu6b65
      description: u8c03u7528u4fddu4ee3u516cu53f8u7684u6295u4fddu5355u540cu6b65u63a5u53e3
      operationId: brokerSynProposalUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: proposalRequest
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/transaction/insurer/accept:
    post:
      tags:
      - Transaction
      summary: u4fddu9669u516cu53f8u6295u4fdd
      description: u8c03u7528u5bf9u5e94u4fddu9669u516cu53f8u7684u6295u4fddu63a5u53e3
      operationId: acceptUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: proposalRequest
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      deprecated: true
  /bff/transaction/insurer/inforce:
    post:
      tags:
      - Transaction
      summary: u4fddu9669u516cu53f8u751fu6548
      description: u8c03u7528u5bf9u5e94u4fddu9669u516cu53f8u7684u751fu6548u63a5u53e3
      operationId: inforceUsingPOST_2
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: proposalRequest
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      deprecated: true
  /bff/transaction/insurer/underwrite:
    post:
      tags:
      - Transaction
      summary: u4fddu9669u516cu53f8u6838u4fdd
      description: u8c03u7528u5bf9u5e94u4fddu9669u516cu53f8u7684u6838u4fddu63a5u53e3
      operationId: submitUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: proposalRequest
        description: proposalRequest
        required: true
        schema:
          $ref: '#/definitions/ProposalRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProposalResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      deprecated: true
  /bff/user/{openId}/{tenantCode}:
    get:
      tags:
      - Login
      summary: u7528u6237u53d6u5f97
      description: u6839u636eOpenIdu548ctenantCodeu53d6u5f97u7528u6237u4fe1u606f
      operationId: getByOpenIdUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: openId
        in: path
        description: openId
        required: true
        type: string
      - name: tenantCode
        in: path
        description: tenantCode
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LoginResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/wx/jsConfig/{appId}:
    get:
      tags:
      - Wechat
      summary: u53d6u5f97u516cu4f17u53f7u7684Js Config
      description: u6839u636eappIdu53d6u5f97u5faeu4fe1u516cu4f17u53f7u7684Js Config
      operationId: getConfigUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: appId
        in: path
        description: appId
        required: true
        type: string
      - name: url
        in: query
        description: url
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WeChatRestResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/wx/openidAndAccessToken/{appId}/{code}:
    get:
      tags:
      - Wechat
      summary: u53d6u5f97u5faeu4fe1u7528u6237u7684openIdu548cAccessToken
      description: u6839u636eappIdu548ccodeu53d6u5f97u5faeu4fe1u7528u6237u7684openIdu548cAccessToken
      operationId: getOpenidAndAccessTokenUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: appId
        in: path
        description: appId
        required: true
        type: string
      - name: code
        in: path
        description: code
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WeChatRestResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /bff/wx/userInfo/{appId}/{code}/{authMethod}:
    get:
      tags:
      - Wechat
      summary: u53d6u5f97u5faeu4fe1u7528u6237u7684u57fau672cu4fe1u606f
      description: u6839u636eappIduff0ccodeu4ee5u53cau9a8cu8bc1u65b9u5f0fu53d6u5f97u5faeu4fe1u7528u6237u7684u57fau672cu4fe1u606f
      operationId: getUserBaseByCodeUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: appId
        in: path
        description: appId
        required: true
        type: string
      - name: code
        in: path
        description: code
        required: true
        type: string
      - name: authMethod
        in: path
        description: authMethod
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WeChatRestResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
produces: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":36:{s:10:\"ValueAdded\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"displayOrder\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:17:\"valueAddedDescPic\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"valueAddedId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:14:\"valueAddedName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"ToolsSignRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"charSet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"insuredCompanyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"salesChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"sign\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tenantCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"User\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:8:\"cityCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"disabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"langId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"openId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"provinceCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"realName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tenantCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"tenantID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"userFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"addressExt1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"addressExt2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"addressId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:32:\"\u5730\u5740\u5185\u90E8\u5E8F\u5217\u53F7,
  UUID type\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"postCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u90AE\u7F16\";}s:8:\"province\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"UserData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}}s:17:\"ToolsSignResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"decodeMsg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"encodeMsg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"errorMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"CalcPremiumRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"encryptedUserData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"langId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Plan\";}}}s:9:\"IllusItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"displayOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:30:\"CustomerDeclarationDetailInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"declId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:30:\"\u544A\u77E5\u9879\u7F16\u53F7\uFF0C\u6570\u5B57\u7C7B\u578B\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"fill1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB91\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:6:\"fill10\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB910\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB92\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB93\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB94\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB95\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB96\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB97\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB98\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB99\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}}}s:13:\"TopupWithdraw\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"addPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"addPremAn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:11:\"addPremType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"addStartDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"addYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:10:\"chargeMode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"endYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:10:\"paidupDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"payMode\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"payToDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"premType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"startYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:24:\"CustomerDeclarationInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"declarationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"\u544A\u77E5\u65E5\u671F\uFF0C\u65E5\u671F\u683C\u5F0F\uFF1Ayyyy-MM-dd'T'HH:mm:ss\";}s:18:\"declarationDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/CustomerDeclarationDetailInput\";}}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"partyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:12:\"ChargePeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"periodType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"periodValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:24:\"IllustrationCalcResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"errorMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"illusMap\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/Map\xABstring,List\xABIllusItem\xBB\xBB\";}}s:9:\"illusRate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"isULProduct\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"mainAssuredAge\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"quotationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"quotationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"CollectionInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:18:\"arapCollectionTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:13:\"arapIndicator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"bankAccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"bankCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"collectionDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"collectionNo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"collectionTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:31:\"\u5E01\u79CD\uFF0C\u975E\u7A7A\uFF0C1
  - \u4EBA\u6C11\u5E01\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"feeAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"\u5B9E\u9645\u6536\u8D39\u91D1\u989D\";}s:13:\"paymentMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"paymentPlatform\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:164:\"\u7B2C\u4E09\u65B9\u652F\u4ED8\u5E73\u53F0\u4EE3\u7801<br>0
  - \u652F\u4ED8\u5B9D<br>11 - \u8D22\u4ED8\u901A<br>12 - \u5FEB\u94B1<br>21 - \u5FEB\u6377\u652F\u4ED8<br>30
  - \u4EAC\u4E1C\u652F\u4ED8<br>31 - \u5FAE\u4FE1<br>32 - \u94F6\u8054<br>99 - \u5176\u4ED6\";}s:12:\"policyNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"proposalNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"thirdPtyPayNo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"LoginResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/UserData\";}s:13:\"errorMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"IllustrationCalcRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"encryptedUserData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"langId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Plan\";}}}s:15:\"ProposalRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"encryptedUserData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"langId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"proposalInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ProposalInfo\";}s:17:\"proposalRequestId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"proposalRequestTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:24:\"ProposalListInfoResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"errorMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"proposalInfos\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ProposalInfo\";}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"totalSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:9:\"PayPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"periodType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"periodValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"Coverage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:12:\"benefitlevel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"chargePeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ChargePeriod\";s:11:\"description\";s:104:\"\u7F34\u8D39\u5E74\u671F\u7C7B\u578B\uFF0C\u975E\u7A7A<br>1
  - \u8DB8\u7F34<br>2 - \u6309\u5E74\u9650\u7F34<br>3 - \u7F34\u81F3\u67D0\u786E\u5B9A\u5E74\u9F84<br>4
  - \u7EC8\u8EAB\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CoveragePeriod\";s:11:\"description\";s:118:\"\u4FDD\u969C\u5E74\u671F\u7C7B\u578B<br>1
  - \u4FDD\u7EC8\u8EAB<br>2 - \u6309\u5E74\u9650\u4FDD<br>3 - \u4FDD\u81F3\u67D0\u786E\u5B9A\u5E74\u9F84<br>4
  - \u6309\u6708\u4FDD<br>5 - \u6309\u5929\u4FDD\";}s:15:\"displayPremIndi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"firstYearPrem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:10:\"insuredIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"investRates\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/InvestRate\";}}s:6:\"itemId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"masterItemId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:15:\"masterProductId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"payPeriod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/PayPeriod\";}s:11:\"paymentFreq\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"planLiabilityList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PlanLiabilityInput\";}}s:7:\"premium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4EA7\u54C1\u4EE3\u7801\";}s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:8:\"\u4EA7\u54C1ID\";}s:11:\"productName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"sa\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:14:\"topupWithdraws\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TopupWithdraw\";}}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"unitFlag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:10:\"InvestRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:14:\"allocationFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:10:\"assignRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:8:\"fundCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"highPlyYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"listId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:10:\"lowPlyYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"premType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Plan\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:6:\"advice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"insuranceSpirit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"insureds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Insured\";}}s:13:\"mainCoverages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Coverage\";}}s:7:\"moneyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"packageCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"packageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"proposer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Proposer\";}s:13:\"quotationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"quotationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:14:\"riderCoverages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Coverage\";}}s:10:\"showAdvice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"showValueAdded\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"totalFirstYearPrem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:8:\"userName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"userPhone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"valueAddedIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}}s:7:\"Insured\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:9:\"addresses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}}s:3:\"age\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"birthday\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"certiBeginDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"certiCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"certiEndDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"certiType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"declaration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CustomerDeclarationInput\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"jobCateCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"jobCateId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"laPhRela\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:14:\"marriageStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"nationality\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"smoking\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"socialInsuranceIndi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:12:\"ProposalInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":29:{s:9:\"applyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"beneficiaries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Beneficiary\";}}s:15:\"collectionInput\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CollectionInput\";}s:18:\"ePolicyDownloadUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"endDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"inforceDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"insureds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Insured\";}}s:13:\"mainCoverages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Coverage\";}}s:15:\"mainProductName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"outboundTenantCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"packageCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"packageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"packageName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"payerAccounts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PayerAccountInput\";}}s:10:\"policyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"producerCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"producerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"proposalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"proposalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:14:\"proposalStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"proposer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Proposer\";}s:14:\"riderCoverages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Coverage\";}}s:16:\"salesChannelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"salesCompanyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"submitDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:18:\"totalFirstYearPrem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:16:\"underwritingDesc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"CalcPremiumResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"coveragePrems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CoveragePremium\";}}s:13:\"errorMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"totalFirstYearPrem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:14:\"valueAddedList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ValueAdded\";}}}}s:15:\"CoveragePremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"benefitlevel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"chargePeriod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ChargePeriod\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CoveragePeriod\";}s:15:\"displayPremIndi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"firstYearPrem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:6:\"itemId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"premium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:39:\"\u9669\u79CD\u4FDD\u8D39\uFF0C\u4FDD\u8D39\u7B97\u4FDD\u989D\u65F6\u975E\u7A7A\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"productName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"sa\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:4:\"unit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:45:\"\u9669\u79CD\u4EFD\u6570\uFF0C\u4EA7\u54C1\u6309\u4EFD\u6570\u6295\u4FDD\u65F6\u975E\u7A7A\";}s:8:\"unitFlag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:16:\"BankAccountInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"accoCertiCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"accoName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u5E10\u53F7\u6301\u6709\u4EBA\u59D3\u540D\";}s:11:\"accountType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"\u8D26\u6237\u7C7B\u578B<br>2
  - \u501F\u8BB0\u5361<br>8 - \u4FE1\u7528\u5361\";}s:11:\"bankAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u94F6\u884C\u5E10\u53F7\";}s:15:\"bankAccountCity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"\u94F6\u884C\u5E10\u53F7\u6240\u5C5E\u57CE\u5E02\";}s:19:\"bankAccountProvince\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"\u94F6\u884C\u5E10\u53F7\u6240\u5C5E\u7701\u4EFD\";}s:8:\"bankCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u94F6\u884C\u4EE3\u7801\";}s:14:\"creditCardType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"\u4FE1\u7528\u5361\u7C7B\u578B\uFF0C\u975E\u4FE1\u7528\u5361\u4E3A\u7A7A<br>1
  - Master<br>2 - Visa<br>3 - BCA<br>4 - JCB\";}s:15:\"debitCreditType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"\u5E10\u53F7\u7528\u9014<br>0
  - \u6536\u4ED8\u4E24\u7528<br>1 - \u6536\u8D39<br>2 - \u9000\u8D39\";}s:10:\"expireDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"\u5E10\u53F7\u5931\u6548\u65E5\u671F\uFF0CMM/yyyy\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"issueBankName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"\u53D1\u5361\u884C\";}s:7:\"partyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:14:\"CoveragePeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"periodType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"periodValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"Proposer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:9:\"addresses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}}s:3:\"age\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"birthday\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"certiBeginDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"certiCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"certiEndDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"certiType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"declaration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CustomerDeclarationInput\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"income\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"jobCateCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"jobCateId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:14:\"marriageStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"nationality\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"smoking\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"socialInsuranceIndi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:31:\"Map\xABstring,List\xABIllusItem\xBB\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"array\";}}s:23:\"ProposalCriteriaRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":32:{s:3:\"asc\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"companyId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"encryptedUserData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"inforceDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"inforceEndDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:16:\"inforceStartDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"insertTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"laCertiCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"laCertiType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"laGerder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"laName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"langId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"orderBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"packageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"pageNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"pageSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"phCertiCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"phCertiType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"phGerder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"phName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"policyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"producerCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"producerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"producerIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}s:9:\"productId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"proposalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"regEndDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"regStartDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"submitChannel\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"tenantCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"totalSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:18:\"PlanLiabilityInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"liabId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"unitFlag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:17:\"PayerAccountInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"bankAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BankAccountInput\";s:11:\"description\";s:18:\"\u9996\u671F\u94F6\u884C\u8D26\u6237\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"nextBankAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BankAccountInput\";s:11:\"description\";s:18:\"\u7EED\u671F\u94F6\u884C\u8D26\u6237\";}s:7:\"payerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:13:\"paymentMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:99:\"\u9996\u671F\u4ED8\u6B3E\u65B9\u5F0F\uFF0C\u6570\u5B57\u7C7B\u578B<br>1
  - \u73B0\u91D1<br>2 - \u652F\u7968<br>3 - \u94F6\u884C\u8F6C\u8D26<br>30 - \u4FE1\u7528\u5361\";}s:17:\"paymentMethodNext\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:99:\"\u7EED\u671F\u4ED8\u6B3E\u65B9\u5F0F\uFF0C\u6570\u5B57\u7C7B\u578B<br>1
  - \u73B0\u91D1<br>2 - \u652F\u7968<br>3 - \u94F6\u884C\u8F6C\u8D26<br>30 - \u4FE1\u7528\u5361\";}}}s:16:\"ProposalResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"errorMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"proposalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"proposalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"proposalInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ProposalInfo\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"Beneficiary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":25:{s:9:\"addresses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}}s:3:\"age\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"birthday\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"certiBeginDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"certiCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"certiEndDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"certiType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"declaration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CustomerDeclarationInput\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"extraProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"insuredId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"jobCateCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"jobCateId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:14:\"marriageStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"nationality\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"relToInsured\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"shareRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:25:\"\u53D7\u76CA\u6BD4\u4F8B\uFF0C\u6700\u5927\u4E3A1\";}s:7:\"smoking\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"socialInsuranceIndi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:18:\"WeChatRestResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":26:{s:11:\"accessToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"errcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"errmsg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"errorMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"expiresIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"groupid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"headimgurl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"nickname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"noncestr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"openid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"privilege\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"province\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"refreshToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"remark\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"scope\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sex\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"signature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"subscribe\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"subscribeTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"ticket\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"unionid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
