---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:2810:\"<fullname>AWS
  Support</fullname> <p>The AWS Support API reference is intended for programmers
  who need detailed information about the AWS Support operations and data types. This
  service enables you to manage your AWS Support cases programmatically. It uses HTTP
  methods that return results in JSON format.</p> <p>The AWS Support service also
  exposes a set of <a href=\"http://aws.amazon.com/premiumsupport/trustedadvisor/\">Trusted
  Advisor</a> features. You can retrieve a list of checks and their descriptions,
  get check results, specify checks to refresh, and get the refresh status of checks.
  </p> <p>The following list describes the AWS Support case management operations:</p>
  <ul> <li> <p> <b>Service names, issue categories, and available severity levels.
  </b>The <a>DescribeServices</a> and <a>DescribeSeverityLevels</a> operations return
  AWS service names, service codes, service categories, and problem severity levels.
  You use these values when you call the <a>CreateCase</a> operation. </p> </li> <li>
  <p> <b>Case creation, case details, and case resolution.</b> The <a>CreateCase</a>,
  <a>DescribeCases</a>, <a>DescribeAttachment</a>, and <a>ResolveCase</a> operations
  create AWS Support cases, retrieve information about cases, and resolve cases.</p>
  </li> <li> <p> <b>Case communication.</b> The <a>DescribeCommunications</a>, <a>AddCommunicationToCase</a>,
  and <a>AddAttachmentsToSet</a> operations retrieve and add communications and attachments
  to AWS Support cases. </p> </li> </ul> <p>The following list describes the operations
  available from the AWS Support service for Trusted Advisor:</p> <ul> <li> <p> <a>DescribeTrustedAdvisorChecks</a>
  returns the list of checks that run against your AWS resources.</p> </li> <li> <p>Using
  the <code>checkId</code> for a specific check returned by <a>DescribeTrustedAdvisorChecks</a>,
  you can call <a>DescribeTrustedAdvisorCheckResult</a> to obtain the results for
  the check you specified.</p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckSummaries</a>
  returns summarized results for one or more Trusted Advisor checks.</p> </li> <li>
  <p> <a>RefreshTrustedAdvisorCheck</a> requests that Trusted Advisor rerun a specified
  check. </p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> reports
  the refresh status of one or more checks. </p> </li> </ul> <p>For authentication
  of requests, AWS Support uses <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature
  Version 4 Signing Process</a>.</p> <p>See <a href=\"http://docs.aws.amazon.com/awssupport/latest/user/Welcome.html\">About
  the AWS Support API</a> in the <i>AWS Support User Guide</i> for information about
  how to use this service to create and manage your support cases, and how to call
  Trusted Advisor for results of checks on your resources. </p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:11:\"AWS
  Support\";s:7:\"version\";s:10:\"2013-04-15\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:91:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/support-2013-04-15.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:7:\"support\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"amazonaws_support\";s:4:\"type\";s:7:\"openapi\";}}"
host: support.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":103:{s:26:\"AddAttachmentsToSetRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"attachmentSetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AttachmentSetId\";s:11:\"description\";s:277:\"The
  ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a
  new attachment set is created, and the ID of the set is returned in the response.
  If an <code>attachmentSetId</code> is specified, the attachments are added to the
  specified set, if it exists.\";}s:11:\"attachments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Attachments\";s:11:\"description\";s:121:\"One
  or more attachments to add to the set. The limit is 3 attachments per set, and the
  size limit is 5 MB per attachment.\";}}s:8:\"required\";a:1:{i:0;s:11:\"attachments\";}s:4:\"type\";s:6:\"object\";}s:27:\"AddAttachmentsToSetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  ID and expiry time of the attachment set returned by the <a>AddAttachmentsToSet</a>
  operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"attachmentSetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AttachmentSetId\";s:11:\"description\";s:279:\"The
  ID of the attachment set. If an <code>attachmentSetId</code> was not specified,
  a new attachment set is created, and the ID of the set is returned in the response.
  If an <code>attachmentSetId</code> was specified, the attachments are added to the
  specified set, if it exists.\";}s:10:\"expiryTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ExpiryTime\";s:11:\"description\";s:50:\"The
  time and date when the attachment set expires.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"AddCommunicationToCaseRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"To
  be written.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"attachmentSetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AttachmentSetId\";s:11:\"description\";s:138:\"The
  ID of a set of one or more attachments for the communication to add to the case.
  Create the set by calling <a>AddAttachmentsToSet</a> \";}s:6:\"caseId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/CaseId\";s:11:\"description\";s:179:\"The
  AWS Support case ID requested or returned in the call. The case ID is an alphanumeric
  string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>
  \";}s:16:\"ccEmailAddresses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CcEmailAddressList\";s:11:\"description\";s:79:\"The
  email addresses in the CC line of an email to be added to the support case.\";}s:17:\"communicationBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CommunicationBody\";s:11:\"description\";s:62:\"The
  body of an email communication to add to the support case.\";}}s:8:\"required\";a:1:{i:0;s:17:\"communicationBody\";}s:4:\"type\";s:6:\"object\";}s:30:\"AddCommunicationToCaseResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  result of the <a>AddCommunicationToCase</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Result\";s:11:\"description\";s:76:\"True
  if <a>AddCommunicationToCase</a> succeeds. Otherwise, returns an error.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"AfterTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Attachment\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"An
  attachment to a case communication. The attachment consists of the file name and
  the content of the file.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Data\";s:11:\"description\";s:35:\"The
  content of the attachment file.\";}s:8:\"fileName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/FileName\";s:11:\"description\";s:32:\"The
  name of the attachment file.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AttachmentDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"The
  file name and ID of an attachment to a case communication. You can use the ID to
  retrieve the attachment with the <a>DescribeAttachment</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"attachmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AttachmentId\";s:11:\"description\";s:25:\"The
  ID of the attachment.\";}s:8:\"fileName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/FileName\";s:11:\"description\";s:32:\"The
  file name of the attachment.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AttachmentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"AttachmentIdNotFound\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"An
  attachment with the specified ID could not be found.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:55:\"An
  attachment with the specified ID could not be found.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"AttachmentLimitExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  limit for the number of attachment sets created in a short period of time has been
  exceeded.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:96:\"The
  limit for the number of attachment sets created in a short period of time has been
  exceeded.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AttachmentSet\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AttachmentDetails\";}s:4:\"type\";s:5:\"array\";}s:20:\"AttachmentSetExpired\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"The
  expiration time of the attachment set has passed. The set expires 1 hour after it
  is created.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:97:\"The
  expiration time of the attachment set has passed. The set expires 1 hour after it
  is created.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AttachmentSetId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"AttachmentSetIdNotFound\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"An
  attachment set with the specified ID could not be found.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:59:\"An
  attachment set with the specified ID could not be found.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"AttachmentSetSizeLimitExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"A
  limit for the size of an attachment set has been exceeded. The limits are 3 attachments
  and 5 MB per attachment.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:114:\"A
  limit for the size of an attachment set has been exceeded. The limits are 3 attachments
  and 5 MB per attachment.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Attachments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}s:4:\"type\";s:5:\"array\";}s:10:\"BeforeTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:25:\"CaseCreationLimitExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  case creation limit for the account has been exceeded.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:93:\"An
  error message that indicates that you have exceeded the number of cases you can
  have open.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CaseDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:1911:\"<p>A
  JSON-formatted object that contains the metadata for a support case. It is contained
  the response from a <a>DescribeCases</a> request. <b>CaseDetails</b> contains the
  following fields:</p> <ul> <li> <p> <b>caseId.</b> The AWS Support case ID requested
  or returned in the call. The case ID is an alphanumeric string formatted as shown
  in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>.</p> </li> <li> <p>
  <b>categoryCode.</b> The category of problem for the AWS Support case. Corresponds
  to the CategoryCode values returned by a call to <a>DescribeServices</a>.</p> </li>
  <li> <p> <b>displayId.</b> The identifier for the case on pages in the AWS Support
  Center.</p> </li> <li> <p> <b>language.</b> The ISO 639-1 code for the language
  in which AWS provides support. AWS Support currently supports English (\"en\") and
  Japanese (\"ja\"). Language parameters must be passed explicitly for operations
  that take them.</p> </li> <li> <p> <b>recentCommunications.</b> One or more <a>Communication</a>
  objects. Fields of these objects are <code>attachments</code>, <code>body</code>,
  <code>caseId</code>, <code>submittedBy</code>, and <code>timeCreated</code>.</p>
  </li> <li> <p> <b>nextToken.</b> A resumption point for pagination.</p> </li> <li>
  <p> <b>serviceCode.</b> The identifier for the AWS service that corresponds to the
  service code defined in the call to <a>DescribeServices</a>.</p> </li> <li> <p>
  <b>severityCode. </b>The severity code assigned to the case. Contains one of the
  values returned by the call to <a>DescribeSeverityLevels</a>.</p> </li> <li> <p>
  <b>status.</b> The status of the case in the AWS Support Center.</p> </li> <li>
  <p> <b>subject.</b> The subject line of the case.</p> </li> <li> <p> <b>submittedBy.</b>
  The email address of the account that submitted the case.</p> </li> <li> <p> <b>timeCreated.</b>
  The time the case was created, in ISO-8601 format.</p> </li> </ul>\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"caseId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/CaseId\";s:11:\"description\";s:179:\"The
  AWS Support case ID requested or returned in the call. The case ID is an alphanumeric
  string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>
  \";}s:12:\"categoryCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CategoryCode\";s:11:\"description\";s:49:\"The
  category of problem for the AWS Support case.\";}s:16:\"ccEmailAddresses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CcEmailAddressList\";s:11:\"description\";s:72:\"The
  email addresses that receive copies of communication about the case.\";}s:9:\"displayId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DisplayId\";s:11:\"description\";s:82:\"The
  ID displayed for the case in the AWS Support Center. This is a numeric string.\";}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Language\";s:11:\"description\";s:210:\"The
  ISO 639-1 code for the language in which AWS provides support. AWS Support currently
  supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed
  explicitly for operations that take them.\";}s:20:\"recentCommunications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/RecentCaseCommunications\";s:11:\"description\";s:223:\"The
  five most recent communications between you and AWS Support Center, including the
  IDs of any attachments to the communications. Also includes a <code>nextToken</code>
  that you can use to retrieve earlier communications.\";}s:11:\"serviceCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceCode\";s:11:\"description\";s:77:\"The
  code for the AWS service returned by the call to <a>DescribeServices</a>.\";}s:12:\"severityCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SeverityCode\";s:11:\"description\";s:86:\"The
  code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:23:\"The
  status of the case.\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Subject\";s:11:\"description\";s:56:\"The
  subject line for the case in the AWS Support Center.\";}s:11:\"submittedBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubmittedBy\";s:11:\"description\";s:57:\"The
  email address of the account that submitted the case.\";}s:11:\"timeCreated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TimeCreated\";s:11:\"description\";s:66:\"The
  time that the case was case created in the AWS Support Center.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"CaseId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"CaseIdList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/CaseId\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:14:\"CaseIdNotFound\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  requested <code>caseId</code> could not be located.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:55:\"The
  requested <code>CaseId</code> could not be located.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"CaseList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CaseDetails\";}s:4:\"type\";s:5:\"array\";}s:10:\"CaseStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Category\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"A
  JSON-formatted name/value pair that represents the category name and category code
  of the problem, selected from the <a>DescribeServices</a> response for each AWS
  service.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CategoryCode\";s:11:\"description\";s:39:\"The
  category code for the support case.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CategoryName\";s:11:\"description\";s:39:\"The
  category name for the support case.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CategoryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CategoryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Category\";}s:4:\"type\";s:5:\"array\";}s:12:\"CategoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"CcEmailAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"CcEmailAddressList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CcEmailAddress\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:13:\"Communication\";O:8:\"stdClass\":3:{s:11:\"description\";s:208:\"A
  communication associated with an AWS Support case. The communication consists of
  the case ID, the message body, attachment information, the account email address,
  and the date and time of the communication.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"attachmentSet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AttachmentSet\";s:11:\"description\";s:60:\"Information
  about the attachments to the case communication.\";}s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CommunicationBody\";s:11:\"description\";s:67:\"The
  text of the communication between the customer and AWS Support.\";}s:6:\"caseId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/CaseId\";s:11:\"description\";s:179:\"The
  AWS Support case ID requested or returned in the call. The case ID is an alphanumeric
  string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>
  \";}s:11:\"submittedBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubmittedBy\";s:11:\"description\";s:69:\"The
  email address of the account that submitted the AWS Support case.\";}s:11:\"timeCreated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TimeCreated\";s:11:\"description\";s:39:\"The
  time the communication was created.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CommunicationBody\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:8000;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:17:\"CommunicationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Communication\";}s:4:\"type\";s:5:\"array\";}s:17:\"CreateCaseRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"attachmentSetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AttachmentSetId\";s:11:\"description\";s:108:\"The
  ID of a set of one or more attachments for the case. Create the set by using <a>AddAttachmentsToSet</a>.\";}s:12:\"categoryCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CategoryCode\";s:11:\"description\";s:49:\"The
  category of problem for the AWS Support case.\";}s:16:\"ccEmailAddresses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CcEmailAddressList\";s:11:\"description\";s:73:\"A
  list of email addresses that AWS Support copies on case correspondence.\";}s:17:\"communicationBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CommunicationBody\";s:11:\"description\";s:93:\"The
  communication body text when you create an AWS Support case by calling <a>CreateCase</a>.\";}s:9:\"issueType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IssueType\";s:11:\"description\";s:149:\"The
  type of issue for the case. You can specify either \"customer-service\" or \"technical.\"
  If you do not indicate a value, the default is \"technical.\"\";}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Language\";s:11:\"description\";s:210:\"The
  ISO 639-1 code for the language in which AWS provides support. AWS Support currently
  supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed
  explicitly for operations that take them.\";}s:11:\"serviceCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceCode\";s:11:\"description\";s:77:\"The
  code for the AWS service returned by the call to <a>DescribeServices</a>.\";}s:12:\"severityCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SeverityCode\";s:11:\"description\";s:297:\"<p>The
  code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.</p>
  <note> <p>The availability of severity levels depends on each customer's support
  subscription. In other words, your subscription may not necessarily require the
  urgent level of response time.</p> </note>\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Subject\";s:11:\"description\";s:34:\"The
  title of the AWS Support case.\";}}s:8:\"required\";a:2:{i:0;s:7:\"subject\";i:1;s:17:\"communicationBody\";}s:4:\"type\";s:6:\"object\";}s:18:\"CreateCaseResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  AWS Support case ID returned by a successful completion of the <a>CreateCase</a>
  operation. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"caseId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/CaseId\";s:11:\"description\";s:179:\"The
  AWS Support case ID requested or returned in the call. The case ID is an alphanumeric
  string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>
  \";}}s:4:\"type\";s:6:\"object\";}s:4:\"Data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"DescribeAttachmentLimitExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"The
  limit for the number of <a>DescribeAttachment</a> requests in a short period of
  time has been exceeded.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:107:\"The
  limit for the number of <a>DescribeAttachment</a> requests in a short period of
  time has been exceeded.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeAttachmentRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"attachmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AttachmentId\";s:11:\"description\";s:111:\"The
  ID of the attachment to return. Attachment IDs are returned by the <a>DescribeCommunications</a>
  operation.\";}}s:8:\"required\";a:1:{i:0;s:12:\"attachmentId\";}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeAttachmentResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  content and file name of the attachment returned by the <a>DescribeAttachment</a>
  operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"attachment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";s:11:\"description\";s:37:\"The
  attachment content and file name.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeCasesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"afterTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AfterTime\";s:11:\"description\";s:137:\"The
  start date for a filtered date search on support case communications. Case communications
  are available for 12 months after creation.\";}s:10:\"beforeTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BeforeTime\";s:11:\"description\";s:135:\"The
  end date for a filtered date search on support case communications. Case communications
  are available for 12 months after creation.\";}s:10:\"caseIdList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CaseIdList\";s:11:\"description\";s:96:\"A
  list of ID numbers of the support cases you want returned. The maximum number of
  cases is 100.\";}s:9:\"displayId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DisplayId\";s:11:\"description\";s:69:\"The
  ID displayed for a case in the AWS Support Center user interface.\";}s:21:\"includeCommunications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/IncludeCommunications\";s:11:\"description\";s:116:\"Specifies
  whether communications should be included in the <a>DescribeCases</a> results. The
  default is <i>true</i>.\";}s:20:\"includeResolvedCases\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/IncludeResolvedCases\";s:11:\"description\";s:125:\"Specifies
  whether resolved support cases should be included in the <a>DescribeCases</a> results.
  The default is <i>false</i>.\";}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Language\";s:11:\"description\";s:210:\"The
  ISO 639-1 code for the language in which AWS provides support. AWS Support currently
  supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed
  explicitly for operations that take them.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:58:\"The
  maximum number of results to return before paginating.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:34:\"A
  resumption point for pagination.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeCasesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"Returns
  an array of <a>CaseDetails</a> objects and a <code>nextToken</code> that defines
  a point for pagination in the result set.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cases\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CaseList\";s:11:\"description\";s:49:\"The
  details for the cases that match the request.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:34:\"A
  resumption point for pagination.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeCommunicationsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"afterTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AfterTime\";s:11:\"description\";s:137:\"The
  start date for a filtered date search on support case communications. Case communications
  are available for 12 months after creation.\";}s:10:\"beforeTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BeforeTime\";s:11:\"description\";s:135:\"The
  end date for a filtered date search on support case communications. Case communications
  are available for 12 months after creation.\";}s:6:\"caseId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/CaseId\";s:11:\"description\";s:179:\"The
  AWS Support case ID requested or returned in the call. The case ID is an alphanumeric
  string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>
  \";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:58:\"The
  maximum number of results to return before paginating.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:34:\"A
  resumption point for pagination.\";}}s:8:\"required\";a:1:{i:0;s:6:\"caseId\";}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeCommunicationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  communications returned by the <a>DescribeCommunications</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"communications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CommunicationList\";s:11:\"description\";s:32:\"The
  communications for the case.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:34:\"A
  resumption point for pagination.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeServicesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Language\";s:11:\"description\";s:210:\"The
  ISO 639-1 code for the language in which AWS provides support. AWS Support currently
  supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed
  explicitly for operations that take them.\";}s:15:\"serviceCodeList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ServiceCodeList\";s:11:\"description\";s:66:\"A
  JSON-formatted list of service codes available for AWS services.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeServicesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  list of AWS services returned by the <a>DescribeServices</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"services\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceList\";s:11:\"description\";s:38:\"A
  JSON-formatted list of AWS services.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeSeverityLevelsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Language\";s:11:\"description\";s:210:\"The
  ISO 639-1 code for the language in which AWS provides support. AWS Support currently
  supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed
  explicitly for operations that take them.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeSeverityLevelsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  list of severity levels returned by the <a>DescribeSeverityLevels</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"severityLevels\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SeverityLevelsList\";s:11:\"description\";s:131:\"The
  available severity levels for the support case. Available severity levels are defined
  by your service level agreement with AWS.\";}}s:4:\"type\";s:6:\"object\";}s:49:\"DescribeTrustedAdvisorCheckRefreshStatusesRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"checkIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:191:\"The
  IDs of the Trusted Advisor checks to get the status of. <b>Note:</b> Specifying
  the check ID of a check that is automatically refreshed causes an <code>InvalidParameterValue</code>
  error.\";}}s:8:\"required\";a:1:{i:0;s:8:\"checkIds\";}s:4:\"type\";s:6:\"object\";}s:50:\"DescribeTrustedAdvisorCheckRefreshStatusesResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:119:\"The
  statuses of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckRefreshStatuses</a>
  operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"statuses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/TrustedAdvisorCheckRefreshStatusList\";s:11:\"description\";s:59:\"The
  refresh status of the specified Trusted Advisor checks.\";}}s:8:\"required\";a:1:{i:0;s:8:\"statuses\";}s:4:\"type\";s:6:\"object\";}s:40:\"DescribeTrustedAdvisorCheckResultRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"checkId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"The
  unique identifier for the Trusted Advisor check.\";}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:210:\"The
  ISO 639-1 code for the language in which AWS provides support. AWS Support currently
  supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed
  explicitly for operations that take them.\";}}s:8:\"required\";a:1:{i:0;s:7:\"checkId\";}s:4:\"type\";s:6:\"object\";}s:41:\"DescribeTrustedAdvisorCheckResultResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"The
  result of the Trusted Advisor check returned by the <a>DescribeTrustedAdvisorCheckResult</a>
  operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/TrustedAdvisorCheckResult\";s:11:\"description\";s:50:\"The
  detailed results of the Trusted Advisor check.\";}}s:4:\"type\";s:6:\"object\";}s:43:\"DescribeTrustedAdvisorCheckSummariesRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"checkIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:38:\"The
  IDs of the Trusted Advisor checks.\";}}s:8:\"required\";a:1:{i:0;s:8:\"checkIds\";}s:4:\"type\";s:6:\"object\";}s:44:\"DescribeTrustedAdvisorCheckSummariesResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:114:\"The
  summaries of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckSummaries</a>
  operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"summaries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/TrustedAdvisorCheckSummaryList\";s:11:\"description\";s:65:\"The
  summary information for the requested Trusted Advisor checks.\";}}s:8:\"required\";a:1:{i:0;s:9:\"summaries\";}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeTrustedAdvisorChecksRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:210:\"The
  ISO 639-1 code for the language in which AWS provides support. AWS Support currently
  supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed
  explicitly for operations that take them.\";}}s:8:\"required\";a:1:{i:0;s:8:\"language\";}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeTrustedAdvisorChecksResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"Information
  about the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorChecks</a>
  operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"checks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/TrustedAdvisorCheckList\";s:11:\"description\";s:55:\"Information
  about all available Trusted Advisor checks.\";}}s:8:\"required\";a:1:{i:0;s:6:\"checks\";}s:4:\"type\";s:6:\"object\";}s:9:\"DisplayId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Double\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ExpiryTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"FileName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"IncludeCommunications\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"IncludeResolvedCases\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"InternalServerError\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"An
  internal server error occurred.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:34:\"An
  internal server error occurred.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"IssueType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Long\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:10;s:4:\"type\";s:7:\"integer\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"RecentCaseCommunications\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  five most recent communications associated with the case.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"communications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CommunicationList\";s:11:\"description\";s:61:\"The
  five most recent communications associated with the case.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:34:\"A
  resumption point for pagination.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"RefreshTrustedAdvisorCheckRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"checkId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:195:\"The
  unique identifier for the Trusted Advisor check to refresh. <b>Note:</b> Specifying
  the check ID of a check that is automatically refreshed causes an <code>InvalidParameterValue</code>
  error.\";}}s:8:\"required\";a:1:{i:0;s:7:\"checkId\";}s:4:\"type\";s:6:\"object\";}s:34:\"RefreshTrustedAdvisorCheckResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  current refresh status of a Trusted Advisor check.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/TrustedAdvisorCheckRefreshStatus\";s:11:\"description\";s:109:\"The
  current refresh status for a check, including the amount of time until the check
  is eligible for refresh.\";}}s:8:\"required\";a:1:{i:0;s:6:\"status\";}s:4:\"type\";s:6:\"object\";}s:18:\"ResolveCaseRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"caseId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/CaseId\";s:11:\"description\";s:179:\"The
  AWS Support case ID requested or returned in the call. The case ID is an alphanumeric
  string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>
  \";}}s:4:\"type\";s:6:\"object\";}s:19:\"ResolveCaseResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  status of the case returned by the <a>ResolveCase</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"finalCaseStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CaseStatus\";s:11:\"description\";s:74:\"The
  status of the case after the <a>ResolveCase</a> request was processed.\";}s:17:\"initialCaseStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CaseStatus\";s:11:\"description\";s:68:\"The
  status of the case when the <a>ResolveCase</a> request was sent.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Result\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"Service\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Information
  about an AWS service returned by the <a>DescribeServices</a> operation. \";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CategoryList\";s:11:\"description\";s:221:\"A
  list of categories that describe the type of support issue a case describes. Categories
  consist of a category name and a category code. Category names and codes are passed
  to AWS Support when you call <a>CreateCase</a>.\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceCode\";s:11:\"description\";s:149:\"The
  code for an AWS service returned by the <a>DescribeServices</a> response. The <code>name</code>
  element contains the corresponding friendly name.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceName\";s:11:\"description\";s:100:\"The
  friendly name for an AWS service. The <code>code</code> element contains the corresponding
  code.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ServiceCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ServiceCodeList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ServiceCode\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:11:\"ServiceList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Service\";}s:4:\"type\";s:5:\"array\";}s:11:\"ServiceName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"SeverityCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"SeverityLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"A
  code and name pair that represent a severity level that can be applied to a support
  case.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SeverityLevelCode\";s:11:\"description\";s:160:\"One
  of four values: \"low,\" \"medium,\" \"high,\" and \"urgent\". These values correspond
  to response times returned to the caller in <code>severityLevel.name</code>. \";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SeverityLevelName\";s:11:\"description\";s:75:\"The
  name of the severity level that corresponds to the severity level code.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"SeverityLevelCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"SeverityLevelName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"SeverityLevelsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SeverityLevel\";}s:4:\"type\";s:5:\"array\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"StringList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:7:\"Subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"SubmittedBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"TimeCreated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:37:\"TrustedAdvisorCategorySpecificSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  container for summary information that relates to the category of the Trusted Advisor
  check.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"costOptimizing\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/TrustedAdvisorCostOptimizingSummary\";s:11:\"description\";s:111:\"The
  summary information about cost savings for a Trusted Advisor check that is in the
  Cost Optimizing category.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"TrustedAdvisorCheckDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  description and metadata for a Trusted Advisor check.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"The
  category of the Trusted Advisor check.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:127:\"The
  description of the Trusted Advisor check, which includes the alert criteria and
  recommended actions (contains HTML markup).\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"The
  unique identifier for the Trusted Advisor check.\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:357:\"The
  column headings for the data returned by the Trusted Advisor check. The order of
  the headings corresponds to the order of the data in the <b>Metadata</b> element
  of the <a>TrustedAdvisorResourceDetail</a> for the check. <b>Metadata</b> contains
  all the data that is shown in the Excel download, even in those cases where the
  UI shows just summary data. \";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:47:\"The
  display name for the Trusted Advisor check.\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:11:\"description\";i:3;s:8:\"category\";i:4;s:8:\"metadata\";}s:4:\"type\";s:6:\"object\";}s:23:\"TrustedAdvisorCheckList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/TrustedAdvisorCheckDescription\";}s:4:\"type\";s:5:\"array\";}s:32:\"TrustedAdvisorCheckRefreshStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  refresh status of a Trusted Advisor check.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"checkId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"The
  unique identifier for the Trusted Advisor check.\";}s:26:\"millisUntilNextRefreshable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:93:\"The
  amount of time, in milliseconds, until the Trusted Advisor check is eligible for
  refresh.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:140:\"The
  status of the Trusted Advisor check for which a refresh has been requested: \"none\",
  \"enqueued\", \"processing\", \"success\", or \"abandoned\".\";}}s:8:\"required\";a:3:{i:0;s:7:\"checkId\";i:1;s:6:\"status\";i:2;s:26:\"millisUntilNextRefreshable\";}s:4:\"type\";s:6:\"object\";}s:36:\"TrustedAdvisorCheckRefreshStatusList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/TrustedAdvisorCheckRefreshStatus\";}s:4:\"type\";s:5:\"array\";}s:25:\"TrustedAdvisorCheckResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:92:\"The
  results of a Trusted Advisor check returned by <a>DescribeTrustedAdvisorCheckResult</a>.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"categorySpecificSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/TrustedAdvisorCategorySpecificSummary\";s:11:\"description\";s:128:\"Summary
  information that relates to the category of the check. Cost Optimizing is the only
  category that is currently supported.\";}s:7:\"checkId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"The
  unique identifier for the Trusted Advisor check.\";}s:16:\"flaggedResources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/TrustedAdvisorResourceDetailList\";s:11:\"description\";s:59:\"The
  details about each resource listed in the check result.\";}s:16:\"resourcesSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/TrustedAdvisorResourcesSummary\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:99:\"The
  alert status of the check: \"ok\" (green), \"warning\" (yellow), \"error\" (red),
  or \"not_available\".\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"The
  time of the last refresh of the check.\";}}s:8:\"required\";a:6:{i:0;s:7:\"checkId\";i:1;s:9:\"timestamp\";i:2;s:6:\"status\";i:3;s:16:\"resourcesSummary\";i:4;s:23:\"categorySpecificSummary\";i:5;s:16:\"flaggedResources\";}s:4:\"type\";s:6:\"object\";}s:26:\"TrustedAdvisorCheckSummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:120:\"A
  summary of a Trusted Advisor check result, including the alert status, last refresh,
  and number of resources examined.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"categorySpecificSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/TrustedAdvisorCategorySpecificSummary\";s:11:\"description\";s:128:\"Summary
  information that relates to the category of the check. Cost Optimizing is the only
  category that is currently supported.\";}s:7:\"checkId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"The
  unique identifier for the Trusted Advisor check.\";}s:19:\"hasFlaggedResources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:66:\"Specifies
  whether the Trusted Advisor check has flagged resources.\";}s:16:\"resourcesSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/TrustedAdvisorResourcesSummary\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:99:\"The
  alert status of the check: \"ok\" (green), \"warning\" (yellow), \"error\" (red),
  or \"not_available\".\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"The
  time of the last refresh of the check.\";}}s:8:\"required\";a:5:{i:0;s:7:\"checkId\";i:1;s:9:\"timestamp\";i:2;s:6:\"status\";i:3;s:16:\"resourcesSummary\";i:4;s:23:\"categorySpecificSummary\";}s:4:\"type\";s:6:\"object\";}s:30:\"TrustedAdvisorCheckSummaryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/TrustedAdvisorCheckSummary\";}s:4:\"type\";s:5:\"array\";}s:35:\"TrustedAdvisorCostOptimizingSummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"The
  estimated cost savings that might be realized if the recommended actions are taken.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"estimatedMonthlySavings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:90:\"The
  estimated monthly savings that might be realized if the recommended actions are
  taken.\";}s:30:\"estimatedPercentMonthlySavings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:96:\"The
  estimated percentage of savings that might be realized if the recommended actions
  are taken.\";}}s:8:\"required\";a:2:{i:0;s:23:\"estimatedMonthlySavings\";i:1;s:30:\"estimatedPercentMonthlySavings\";}s:4:\"type\";s:6:\"object\";}s:28:\"TrustedAdvisorResourceDetail\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Contains
  information about a resource identified by a Trusted Advisor check.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"isSuppressed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:114:\"Specifies
  whether the AWS resource was ignored by Trusted Advisor because it was marked as
  suppressed by the user.\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:360:\"Additional
  information about the identified resource. The exact metadata and its order can
  be obtained by inspecting the <a>TrustedAdvisorCheckDescription</a> object returned
  by the call to <a>DescribeTrustedAdvisorChecks</a>. <b>Metadata</b> contains all
  the data that is shown in the Excel download, even in those cases where the UI shows
  just summary data. \";}s:6:\"region\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  AWS region in which the identified resource is located.\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:50:\"The
  unique identifier for the identified resource.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:73:\"The
  status code for the resource identified in the Trusted Advisor check.\";}}s:8:\"required\";a:3:{i:0;s:6:\"status\";i:1;s:10:\"resourceId\";i:2;s:8:\"metadata\";}s:4:\"type\";s:6:\"object\";}s:32:\"TrustedAdvisorResourceDetailList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/TrustedAdvisorResourceDetail\";}s:4:\"type\";s:5:\"array\";}s:30:\"TrustedAdvisorResourcesSummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:121:\"Details
  about AWS resources that were analyzed in a call to Trusted Advisor <a>DescribeTrustedAdvisorCheckSummaries</a>.
  \";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"resourcesFlagged\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:84:\"The
  number of AWS resources that were flagged (listed) by the Trusted Advisor check.\";}s:16:\"resourcesIgnored\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:91:\"The
  number of AWS resources ignored by Trusted Advisor because information was unavailable.\";}s:18:\"resourcesProcessed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:76:\"The
  number of AWS resources that were analyzed by the Trusted Advisor check.\";}s:19:\"resourcesSuppressed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:106:\"The
  number of AWS resources ignored by Trusted Advisor because they were marked as suppressed
  by the user.\";}}s:8:\"required\";a:4:{i:0;s:18:\"resourcesProcessed\";i:1;s:16:\"resourcesFlagged\";i:2;s:16:\"resourcesIgnored\";i:3;s:19:\"resourcesSuppressed\";}s:4:\"type\";s:6:\"object\";}}"
...
