---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:7:\"version\";s:5:\"2.0.0\";s:5:\"title\";s:13:\"Openmoney
  API\";s:11:\"description\";s:13:\"Openmoney API\";s:14:\"termsOfService\";s:40:\"http://openmoney.cc/index.php?page=terms\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"Openmoney
  Development Team\";s:3:\"url\";s:19:\"http://openmoney.cc\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:42:\"http://www.apache.org/licenses/LICENSE-2.0\";}}"
host: cloud.openmoney.cc
basePath: /V2
paths: ~
produces:
- application/json
- text/html
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":37:{s:13:\"stewards_list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/stewards_get\";}}s:15:\"namespaces_list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/namespaces_get\";}}s:15:\"currencies_list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/currencies_get\";}}s:13:\"accounts_list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/accounts_get\";}}s:13:\"journals_list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/encrypted_journals\";}}s:14:\"namespaces_get\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/get_response\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/namespaces_response\";}}}s:14:\"currencies_get\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/get_response\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/currencies_response\";}}}s:12:\"accounts_get\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/get_response\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/accounts_response\";}}}s:12:\"stewards_get\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/get_response\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/stewards_response\";}}}s:15:\"delete_response\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:2:\"ok\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:12:\"get_response\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:18:\"^[A-Za-z0-9_.~-]+$\";}}}s:15:\"create_response\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:2:\"ok\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:12:\"modification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"modified\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:37:\"timestamp
  in milliseconds since epoch\";}s:11:\"modified_by\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"stewardname
  of steward who made modification\";}s:12:\"modification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"human
  readable description of modification\";}}}s:16:\"stewards_request\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:13:\"minProperties\";i:2;s:13:\"maxProperties\";i:10;s:8:\"required\";a:1:{i:0;s:11:\"stewardname\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"stewardname\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]+$\";}s:8:\"password\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:4;s:9:\"maxLength\";i:1024;}s:9:\"publicKey\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:266;s:9:\"maxLength\";i:800;s:7:\"pattern\";s:71:\"^-----BEGIN
  PUBLIC KEY-----[A-Za-z0-9\\\\\\s/=+]+-----END PUBLIC KEY-----$\";}s:5:\"email\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:85:\"^([\\w-]+(?:[\\.\\+][\\w-]+)*)@((?:[\\w-]+\\.)*\\w[\\w-]{0,66})\\.([a-z]{2,6}(?:\\.[a-z]{2})?)$\";}s:19:\"email_notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:17:\"stewards_response\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:13:\"minProperties\";i:2;s:8:\"required\";a:1:{i:0;s:11:\"stewardname\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"stewardname\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]+$\";}s:9:\"publicKey\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:266;s:9:\"maxLength\";i:800;s:7:\"pattern\";s:71:\"^-----BEGIN
  PUBLIC KEY-----[A-Za-z0-9\\\\\\s/=+]+-----END PUBLIC KEY-----$\";}s:5:\"email\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:85:\"^([\\w-]+(?:[\\.\\+][\\w-]+)*)@((?:[\\w-]+\\.)*\\w[\\w-]{0,66})\\.([a-z]{2,6}(?:\\.[a-z]{2})?)$\";}s:19:\"email_notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"created\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:37:\"timestamp
  in milliseconds since epoch\";}s:10:\"created_by\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"stewardname
  of steward who made change\";}s:13:\"modifications\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/modification\";}}}}s:14:\"forgot_request\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"stewardname\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]+$\";}s:5:\"email\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:85:\"^([\\w-]+(?:[\\.\\+][\\w-]+)*)@((?:[\\w-]+\\.)*\\w[\\w-]{0,66})\\.([a-z]{2,6}(?:\\.[a-z]{2})?)$\";}}}s:15:\"forgot_response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:13:\"reset_request\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"forgot_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:4;s:9:\"maxLength\";i:1024;}}}s:14:\"reset_response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:16:\"accounts_request\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:13:\"minProperties\";i:5;s:8:\"required\";a:5:{i:0;s:7:\"account\";i:1;s:17:\"account_namespace\";i:2;s:8:\"currency\";i:3;s:18:\"currency_namespace\";i:4;s:8:\"stewards\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"account\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:16:\"^[A-Za-z0-9_-]+$\";}s:17:\"account_namespace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]+$\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:16:\"^[A-Za-z0-9_-]+$\";}s:18:\"currency_namespace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]*$\";}s:8:\"stewards\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;s:7:\"pattern\";s:26:\"^stewards~[A-Za-z0-9_.-]+$\";}}s:9:\"publicKey\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:266;s:9:\"maxLength\";i:800;s:7:\"pattern\";s:22:\"^[A-Za-z0-9\\\\\\s/=+-]+$\";}}}s:17:\"accounts_response\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:13:\"minProperties\";i:5;s:8:\"required\";a:5:{i:0;s:7:\"account\";i:1;s:17:\"account_namespace\";i:2;s:8:\"currency\";i:3;s:18:\"currency_namespace\";i:4;s:8:\"stewards\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"account\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:16:\"^[A-Za-z0-9_-]+$\";}s:17:\"account_namespace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]+$\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:16:\"^[A-Za-z0-9_-]+$\";}s:18:\"currency_namespace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]*$\";}s:7:\"created\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:37:\"timestamp
  in milliseconds since epoch\";}s:10:\"created_by\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"stewardname
  of steward who made change\";}s:13:\"modifications\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/modification\";}}s:8:\"stewards\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;s:7:\"pattern\";s:26:\"^stewards~[A-Za-z0-9_.-]+$\";}}s:9:\"publicKey\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:266;s:9:\"maxLength\";i:800;s:7:\"pattern\";s:71:\"^-----BEGIN
  PUBLIC KEY-----[A-Za-z0-9\\\\\\s/=+]+-----END PUBLIC KEY-----$\";}}}s:18:\"currencies_request\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:13:\"minProperties\";i:3;s:8:\"required\";a:3:{i:0;s:8:\"currency\";i:1;s:18:\"currency_namespace\";i:2;s:8:\"stewards\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:16:\"^[A-Za-z0-9_-]+$\";}s:18:\"currency_namespace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]*$\";}s:8:\"stewards\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;s:7:\"pattern\";s:26:\"^stewards~[A-Za-z0-9_.-]+$\";}}}}s:19:\"currencies_response\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:13:\"minProperties\";i:3;s:8:\"required\";a:3:{i:0;s:8:\"currency\";i:1;s:18:\"currency_namespace\";i:2;s:8:\"stewards\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:16:\"^[A-Za-z0-9_-]+$\";}s:18:\"currency_namespace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]*$\";}s:7:\"created\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:37:\"timestamp
  in milliseconds since epoch\";}s:10:\"created_by\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"stewardname
  of steward who made change\";}s:13:\"modifications\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/modification\";}}s:8:\"stewards\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;s:7:\"pattern\";s:26:\"^stewards~[A-Za-z0-9_.-]+$\";}}}}s:18:\"namespaces_request\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:13:\"minProperties\";i:3;s:8:\"required\";a:3:{i:0;s:9:\"namespace\";i:1;s:16:\"parent_namespace\";i:2;s:8:\"stewards\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"namespace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]+$\";}s:16:\"parent_namespace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]*$\";}s:8:\"stewards\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;s:7:\"pattern\";s:26:\"^stewards~[A-Za-z0-9_.-]+$\";}}}}s:19:\"namespaces_response\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:13:\"minProperties\";i:3;s:8:\"required\";a:3:{i:0;s:9:\"namespace\";i:1;s:16:\"parent_namespace\";i:2;s:8:\"stewards\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"namespace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]+$\";}s:16:\"parent_namespace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]*$\";}s:7:\"created\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:37:\"timestamp
  in milliseconds since epoch\";}s:10:\"created_by\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"stewardname
  of who created space\";}s:13:\"modifications\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/modification\";}}s:8:\"stewards\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;s:7:\"pattern\";s:26:\"^stewards~[A-Za-z0-9_.-]+$\";}}}}s:18:\"encrypted_journals\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"algorithm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"publicKeyEncryptedSymetricKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"initializationVector\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"encryptedJournal\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/aes_encryption\";}}}s:14:\"aes_encryption\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:16:\"journals_request\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:13:\"minProperties\";i:3;s:13:\"maxProperties\";i:9;s:8:\"required\";a:3:{i:0;s:10:\"to_account\";i:1;s:20:\"to_account_namespace\";i:2;s:6:\"amount\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"to_account\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:16:\"^[A-Za-z0-9_-]+$\";}s:20:\"to_account_namespace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]+$\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"minimum\";i:0;}s:7:\"payload\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:17:\"journals_response\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:13:\"minProperties\";i:3;s:13:\"maxProperties\";i:9;s:8:\"required\";a:3:{i:0;s:10:\"to_account\";i:1;s:20:\"to_account_namespace\";i:2;s:6:\"amount\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"to_account\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:16:\"^[A-Za-z0-9_-]+$\";}s:20:\"to_account_namespace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]+$\";}s:12:\"from_account\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:16:\"^[A-Za-z0-9_-]+$\";}s:22:\"from_account_namespace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]+$\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:16:\"^[A-Za-z0-9_-]+$\";}s:18:\"currency_namespace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]*$\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"minimum\";i:0;}s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_by\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"stewardname
  of who created entry\";}s:7:\"payload\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:19:\"application_request\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:13:\"minProperties\";i:3;s:13:\"maxProperties\";i:4;s:8:\"required\";a:3:{i:0;s:16:\"application_name\";i:1;s:12:\"homepage_uri\";i:2;s:26:\"authorization_callback_uri\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"application_name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]+$\";s:11:\"description\";s:17:\"Applications
  Name\";}s:12:\"homepage_uri\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;s:7:\"pattern\";s:104:\"^((https?:)(\\/\\/\\/?)([\\w]*(?::[\\w]*)?@)?([\\d\\w\\.-]+)(?::(\\d+))?)?([\\/\\\\\\w\\.()-]*)?(?:([?][^#]*)?(#.*)?)*\";s:11:\"description\";s:22:\"Applications
  home page\";}s:23:\"application_description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:1048;s:11:\"description\";s:23:\"Application
  Description\";}s:26:\"authorization_callback_uri\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:512;s:7:\"pattern\";s:104:\"^((https?:)(\\/\\/\\/?)([\\w]*(?::[\\w]*)?@)?([\\d\\w\\.-]+)(?::(\\d+))?)?([\\/\\\\\\w\\.()-]*)?(?:([?][^#]*)?(#.*)?)*\";s:11:\"description\";s:33:\"Callback
  url after authorization.\";}}}s:20:\"application_response\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:13:\"minProperties\";i:2;s:13:\"maxProperties\";i:2;s:8:\"required\";a:2:{i:0;s:14:\"application_id\";i:1;s:18:\"application_secret\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"application_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:266;s:9:\"maxLength\";i:800;s:7:\"pattern\";s:71:\"^-----BEGIN
  PUBLIC KEY-----[A-Za-z0-9\\\\\\s/=+]+-----END PUBLIC KEY-----$\";}s:18:\"application_secret\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:893;s:9:\"maxLength\";i:899;s:7:\"pattern\";s:84:\"^-----BEGIN
  PRIVATE KEY-----[A-Za-z0-9/+]{845,848}[=]{0,3}-----END PRIVATE KEY-----$\";}}}s:20:\"access_token_request\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:13:\"minProperties\";i:2;s:13:\"maxProperties\";i:3;s:8:\"required\";a:1:{i:0;s:10:\"grant_type\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"grant_type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:20;s:7:\"pattern\";s:12:\"^[A-Za-z_]+$\";s:11:\"description\";s:56:\"one
  of code, password, refresh_token, client_credentials\";}s:9:\"client_id\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:5;s:9:\"maxLength\";i:800;s:7:\"pattern\";s:22:\"^[A-Za-z0-9\\\\\\s/=+-]*$\";s:11:\"description\";s:19:\"Stewards
  Public Key\";}s:13:\"client_secret\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:32;s:9:\"maxLength\";i:1600;s:7:\"pattern\";s:25:\"^[A-Za-z0-9\\\\\\\\\\\\s/=+-]*$\";s:11:\"description\";s:13:\"Client
  Secret\";}s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]+$\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"refresh_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"token_response\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:12:\"access_token\";i:1;s:7:\"expires\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"expires\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"oauth_authorize_request\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:13:\"response_type\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"response_type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:20;s:7:\"pattern\";s:12:\"^[A-Za-z_]+$\";s:11:\"description\";s:56:\"One
  of code, password, refresh_token, client_credentials\";}s:9:\"client_id\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:266;s:9:\"maxLength\";i:800;s:7:\"pattern\";s:71:\"^-----BEGIN
  PUBLIC KEY-----[A-Za-z0-9\\\\\\s/=+]+-----END PUBLIC KEY-----$\";}s:12:\"redirect_uri\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:9:\"maxLength\";i:512;s:11:\"description\";s:45:\"A
  uri to redirect steward after authorization\";}s:8:\"username\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:12:\"^[A-Za-z_]+$\";s:11:\"description\";s:19:\"stewardname
  of user\";}s:6:\"scopes\";O:8:\"stdClass\":3:{s:11:\"description\";s:430:\"A comma
  separated list of scopes. If not provided, scope defaults to an empty list of scopes
  for stewards that don\u2019t have a valid token for the app. For stewards who do
  already have a valid token for the app, the steward won\u2019t be shown the OAuth
  authorization page with the list of scopes. Instead, this step of the flow will
  automatically complete with the same scopes that were used last time the steward
  completed the flow.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:5;s:9:\"maxLength\";i:32;}}}}s:17:\"register_response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"stewards\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/stewards_response\";}}}}s:16:\"register_request\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:13:\"minProperties\";i:2;s:13:\"maxProperties\";i:4;s:8:\"required\";a:2:{i:0;s:11:\"stewardname\";i:1;s:8:\"password\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"stewardname\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Stewards
  name\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:17:\"^[A-Za-z0-9_.-]+$\";}s:8:\"password\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Stewards
  password\";s:9:\"minLength\";i:4;s:9:\"maxLength\";i:1024;}s:9:\"publicKey\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:266;s:9:\"maxLength\";i:800;s:11:\"description\";s:533:\"Stewards
  1024bit - 4096bit RSA public key. command: openssl genpkey -algorithm RSA -out private_key.pem
  -pkeyopt rsa_keygen_bits:4096 ,openssl rsa -pubout -in private_key.pem -out public_key.pem
  , you can deterministically generate an RSA key from a passphrase http://crypto.stackexchange.com/questions/24514/deterministically-generate-a-rsa-public-private-key-pair-from-a-passphrase-with
  you can also use this service to generate a key online: http://travistidwell.com/blog/2013/09/06/an-online-rsa-public-and-private-key-generator/\";s:7:\"pattern\";s:71:\"^-----BEGIN
  PUBLIC KEY-----[A-Za-z0-9\\\\\\s/=+]+-----END PUBLIC KEY-----$\";}s:5:\"email\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Stewards
  email address\";s:6:\"format\";s:5:\"email\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:85:\"^([\\w-]+(?:[\\.\\+][\\w-]+)*)@((?:[\\w-]+\\.)*\\w[\\w-]{0,66})\\.([a-z]{2,6}(?:\\.[a-z]{2})?)$\";}s:19:\"email_notifications\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:48:\"Does
  steward wish to receive email notifications\";}}}s:10:\"ErrorModel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
