---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:5:\"title\";s:19:\"Partners S5A API v3\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:11:\"description\";s:66:\"Test
  our API services using I/O Docs. Test APIs for S5A affiliates\";s:12:\"x-mashery-id\";s:4:\"1993\";}"
host: api.saks.com
basePath: /
paths:
  /:
    get:
      operationId: exampleMethodOrders-ref-num-v3
      summary: ""
      tags:
      - Orders-ref-num-v3
      parameters:
      - name: exampleParameter
        type: string
        description: ""
        in: query
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /checkout/validations/order:
    post:
      operationId: validate-orderCheckout-v3
      summary: Validate Order Endpoint
      tags:
      - Checkout-v3
      parameters:
      - name: Content-Type
        type: string
        description: Content type header
        in: header
        required: true
        default: application/json
      - name: api_key
        type: string
        description: Api key header
        in: header
        required: true
        default: 2zwagak9dxpf3tdfcqp3s9fb
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
