---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"This is the \"Movies\"
  api.\n\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:10:\"Movies API\";}"
host: symfony.dev
paths: ~
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":8:{s:16:\"OAuthCredentials\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:10:\"grant_type\";i:1;s:9:\"client_id\";i:2;s:13:\"client_secret\";i:3;s:8:\"username\";i:4;s:8:\"password\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"grant_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"client_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"client_secret\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:38:\"RexSoftwareTest.ApiBundle.Entity.Movie\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  title of the movie, non nullable.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  movie's description, this field is nullable.\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"A
  unique identifier for the movie's image (poster, etc), this field is nullable.\";}s:6:\"rating\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:183:\"The
  movie's current rating / 10, updated with each rating to avoid excessive re-calculation,
  it starts at 6...\nor so the original plan was, for simplicity it just gets set,
  right now.\";s:6:\"format\";s:5:\"float\";}s:8:\"role_ids\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:43:\"The
  ids of the roles that are in the movie.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:4:\"type\";s:6:\"object\";}s:40:\"RexSoftwareTest.ApiBundle.Entity.Movie[]\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/RexSoftwareTest.ApiBundle.Entity.Movie\";}}s:40:\"RexSoftwareTest.ApiBundle.Form.MovieType\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"object
  (MovieType)\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:5:\"float\";s:6:\"format\";s:5:\"float\";}s:8:\"role_ids\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:17:\"array
  of integers\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:53:\"RexSoftwareTest.ApiBundle.Model.HttpErrorDetailsModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  error details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:14:\"The
  http code.\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"An
  error message.\";}}s:4:\"type\";s:6:\"object\";}s:56:\"RexSoftwareTest.ApiBundle.Model.FormValidationErrorModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  form and errors that caused this response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:16:\"array
  of strings\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"children\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"Any
  child forms that also contain errors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:70:\"#/definitions/RexSoftwareTest.ApiBundle.Model.FormValidationErrorModel\";}}}s:4:\"type\";s:6:\"object\";}s:56:\"RexSoftwareTest.ApiBundle.Model.HttpValidationErrorModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/RexSoftwareTest.ApiBundle.Model.HttpErrorDetailsModel\";}s:4:\"form\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:70:\"#/definitions/RexSoftwareTest.ApiBundle.Model.FormValidationErrorModel\";}}s:4:\"type\";s:6:\"object\";}s:54:\"RexSoftwareTest.ApiBundle.Model.HttpErrorResponseModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/RexSoftwareTest.ApiBundle.Model.HttpErrorDetailsModel\";}}s:4:\"type\";s:6:\"object\";}}"
...
