---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:462:\"DAX
  is a managed caching service engineered for Amazon DynamoDB. DAX dramatically speeds
  up database reads by caching frequently-accessed data from DynamoDB, so applications
  can access that data with sub-millisecond latency. You can create a DAX cluster
  easily, using the AWS Management Console. With a few simple modifications to your
  code, your application can begin taking advantage of the DAX cluster and realize
  significant improvements in read performance.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:33:\"Amazon
  DynamoDB Accelerator (DAX)\";s:7:\"version\";s:10:\"2017-04-19\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/dax-2017-04-19.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:3:\"dax\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"amazonaws_dax\";s:4:\"type\";s:7:\"openapi\";}}"
host: dax.amazonaws.com
basePath: /
paths:
  /:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a DAX cluster. All nodes in the cluster run the same DAX
        caching software.
      operationId: CreateCluster
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateClusterRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateClusterResponse'
        480:
          description: ClusterAlreadyExistsFault
          schema:
            $ref: '#/definitions/ClusterAlreadyExistsFault'
        481:
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        482:
          description: InsufficientClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientClusterCapacityFault'
        483:
          description: SubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/SubnetGroupNotFoundFault'
        484:
          description: InvalidParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidParameterGroupStateFault'
        485:
          description: ParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ParameterGroupNotFoundFault'
        486:
          description: ClusterQuotaForCustomerExceededFault
          schema:
            $ref: '#/definitions/ClusterQuotaForCustomerExceededFault'
        487:
          description: NodeQuotaForClusterExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForClusterExceededFault'
        488:
          description: NodeQuotaForCustomerExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForCustomerExceededFault'
        489:
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        490:
          description: TagQuotaPerResourceExceeded
          schema:
            $ref: '#/definitions/TagQuotaPerResourceExceeded'
        491:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        492:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#CreateParameterGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new parameter group. A parameter group is a collection
        of parameters that you apply to all of the nodes in a DAX cluster.
      operationId: CreateParameterGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateParameterGroupRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateParameterGroupResponse'
        480:
          description: ParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/ParameterGroupQuotaExceededFault'
        481:
          description: ParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/ParameterGroupAlreadyExistsFault'
        482:
          description: InvalidParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidParameterGroupStateFault'
        483:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        484:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#CreateSubnetGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new subnet group.
      operationId: CreateSubnetGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateSubnetGroupRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateSubnetGroupResponse'
        480:
          description: SubnetGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/SubnetGroupAlreadyExistsFault'
        481:
          description: SubnetGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/SubnetGroupQuotaExceededFault'
        482:
          description: SubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/SubnetQuotaExceededFault'
        483:
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
  /#DecreaseReplicationFactor:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Removes one or more nodes from a DAX cluster.</p> <note> <p>You
        cannot use <code>DecreaseReplicationFactor</code> to remove the last node
        in a DAX cluster. If you need to do this, use <code>DeleteCluster</code> instead.</p>
        </note>
      operationId: DecreaseReplicationFactor
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DecreaseReplicationFactorRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DecreaseReplicationFactorResponse'
        480:
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        481:
          description: NodeNotFoundFault
          schema:
            $ref: '#/definitions/NodeNotFoundFault'
        482:
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        483:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        484:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#DeleteCluster:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a previously provisioned DAX cluster. <i>DeleteCluster</i>
        deletes all associated nodes, node endpoints and the DAX cluster itself. When
        you receive a successful response from this action, DAX immediately begins
        deleting the cluster; you cannot cancel or revert this action.
      operationId: DeleteCluster
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteClusterRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteClusterResponse'
        480:
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        481:
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        482:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        483:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#DeleteParameterGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified parameter group. You cannot delete a parameter
        group if it is associated with any DAX clusters.
      operationId: DeleteParameterGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteParameterGroupRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteParameterGroupResponse'
        480:
          description: InvalidParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidParameterGroupStateFault'
        481:
          description: ParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ParameterGroupNotFoundFault'
        482:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        483:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#DeleteSubnetGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes a subnet group.</p> <note> <p>You cannot delete a subnet
        group if it is associated with any DAX clusters.</p> </note>
      operationId: DeleteSubnetGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteSubnetGroupRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteSubnetGroupResponse'
        480:
          description: SubnetGroupInUseFault
          schema:
            $ref: '#/definitions/SubnetGroupInUseFault'
        481:
          description: SubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/SubnetGroupNotFoundFault'
  /#DescribeClusters:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Returns information about all provisioned DAX clusters if no
        cluster identifier is specified, or about a specific DAX cluster if a cluster
        identifier is supplied.</p> <p>If the cluster is in the CREATING state, only
        cluster level information will be displayed until all of the nodes are successfully
        provisioned.</p> <p>If the cluster is in the DELETING state, only cluster
        level information will be displayed.</p> <p>If nodes are currently being added
        to the DAX cluster, node endpoint information and creation time for the additional
        nodes will not be displayed until they are completely provisioned. When the
        DAX cluster state is <i>available</i>, the cluster is ready for use.</p> <p>If
        nodes are currently being removed from the DAX cluster, no endpoint information
        for the removed nodes is displayed.</p>
      operationId: DescribeClusters
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeClustersRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeClustersResponse'
        480:
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        481:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        482:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#DescribeDefaultParameters:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the default system parameter information for the DAX caching
        software.
      operationId: DescribeDefaultParameters
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeDefaultParametersRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeDefaultParametersResponse'
        480:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        481:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#DescribeEvents:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Returns events related to DAX clusters and parameter groups.
        You can obtain events specific to a particular DAX cluster or parameter group
        by providing the name as a parameter.</p> <p>By default, only the events occurring
        within the last hour are returned; however, you can retrieve up to 14 days'
        worth of events if necessary.</p>
      operationId: DescribeEvents
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeEventsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventsResponse'
        480:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        481:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#DescribeParameterGroups:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of parameter group descriptions. If a parameter
        group name is specified, the list will contain only the descriptions for that
        group.
      operationId: DescribeParameterGroups
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeParameterGroupsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeParameterGroupsResponse'
        480:
          description: ParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ParameterGroupNotFoundFault'
        481:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        482:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#DescribeParameters:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the detailed parameter list for a particular parameter
        group.
      operationId: DescribeParameters
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeParametersRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeParametersResponse'
        480:
          description: ParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ParameterGroupNotFoundFault'
        481:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        482:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#DescribeSubnetGroups:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of subnet group descriptions. If a subnet group
        name is specified, the list will contain only the description of that group.
      operationId: DescribeSubnetGroups
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeSubnetGroupsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeSubnetGroupsResponse'
        480:
          description: SubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/SubnetGroupNotFoundFault'
  /#IncreaseReplicationFactor:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds one or more nodes to a DAX cluster.
      operationId: IncreaseReplicationFactor
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/IncreaseReplicationFactorRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/IncreaseReplicationFactorResponse'
        480:
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        481:
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        482:
          description: InsufficientClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientClusterCapacityFault'
        483:
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        484:
          description: NodeQuotaForClusterExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForClusterExceededFault'
        485:
          description: NodeQuotaForCustomerExceededFault
          schema:
            $ref: '#/definitions/NodeQuotaForCustomerExceededFault'
        486:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        487:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#ListTags:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: List all of the tags for a DAX cluster. You can call <code>ListTags</code>
        up to 10 times per second, per account.
      operationId: ListTags
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListTagsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListTagsResponse'
        480:
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        481:
          description: InvalidARNFault
          schema:
            $ref: '#/definitions/InvalidARNFault'
        482:
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        483:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        484:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#RebootNode:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Reboots a single node of a DAX cluster. The reboot action takes
        place as soon as possible. During the reboot, the node status is set to REBOOTING.
      operationId: RebootNode
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RebootNodeRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RebootNodeResponse'
        480:
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        481:
          description: NodeNotFoundFault
          schema:
            $ref: '#/definitions/NodeNotFoundFault'
        482:
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        483:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        484:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#TagResource:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Associates a set of tags with a DAX resource. You can call <code>TagResource</code>
        up to 5 times per second, per account. '
      operationId: TagResource
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/TagResourceRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        480:
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        481:
          description: TagQuotaPerResourceExceeded
          schema:
            $ref: '#/definitions/TagQuotaPerResourceExceeded'
        482:
          description: InvalidARNFault
          schema:
            $ref: '#/definitions/InvalidARNFault'
        483:
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        484:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        485:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#UntagResource:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Removes the association of tags from a DAX resource. You can call
        <code>UntagResource</code> up to 5 times per second, per account. '
      operationId: UntagResource
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UntagResourceRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        480:
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        481:
          description: InvalidARNFault
          schema:
            $ref: '#/definitions/InvalidARNFault'
        482:
          description: TagNotFoundFault
          schema:
            $ref: '#/definitions/TagNotFoundFault'
        483:
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        484:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        485:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#UpdateCluster:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Modifies the settings for a DAX cluster. You can use this action
        to change one or more cluster configuration parameters by specifying the parameters
        and the new values.
      operationId: UpdateCluster
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateClusterRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateClusterResponse'
        480:
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        481:
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        482:
          description: InvalidParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidParameterGroupStateFault'
        483:
          description: ParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ParameterGroupNotFoundFault'
        484:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        485:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#UpdateParameterGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Modifies the parameters of a parameter group. You can modify up
        to 20 parameters in a single request by submitting a list parameter name and
        value pairs.
      operationId: UpdateParameterGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateParameterGroupRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateParameterGroupResponse'
        480:
          description: InvalidParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidParameterGroupStateFault'
        481:
          description: ParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ParameterGroupNotFoundFault'
        482:
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        483:
          description: InvalidParameterCombinationException
          schema:
            $ref: '#/definitions/InvalidParameterCombinationException'
  /#UpdateSubnetGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Modifies an existing subnet group.
      operationId: UpdateSubnetGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateSubnetGroupRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateSubnetGroupResponse'
        480:
          description: SubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/SubnetGroupNotFoundFault'
        481:
          description: SubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/SubnetQuotaExceededFault'
        482:
          description: SubnetInUse
          schema:
            $ref: '#/definitions/SubnetInUse'
        483:
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":109:{s:20:\"AvailabilityZoneList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:20:\"AwsQueryErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ChangeType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"IMMEDIATE\";i:1;s:15:\"REQUIRES_REBOOT\";}s:4:\"type\";s:6:\"string\";}s:7:\"Cluster\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Contains
  all of the attributes of a specific DAX cluster.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:11:\"ActiveNodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:87:\"The
  number of nodes in the cluster that are active (i.e., capable of serving requests).\";}s:10:\"ClusterArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:69:\"The
  Amazon Resource Name (ARN) that uniquely identifies the cluster. \";}s:24:\"ClusterDiscoveryEndpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Endpoint\";s:11:\"description\";s:289:\"The
  configuration endpoint for this DAX cluster, consisting of a DNS name and a port
  number. Client applications can specify this endpoint, rather than an individual
  node endpoint, and allow the DAX client software to intelligently route requests
  and responses to nodes in the DAX cluster.\";}s:11:\"ClusterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:28:\"The
  name of the DAX cluster.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:31:\"The
  description of the cluster.\";}s:10:\"IamRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:167:\"A
  valid Amazon Resource Name (ARN) that identifies an IAM role. At runtime, DAX will
  assume this role and use the role's permissions to access DynamoDB on your behalf.\";}s:15:\"NodeIdsToRemove\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NodeIdentifierList\";s:11:\"description\";s:47:\"A
  list of nodes to be removed from the cluster.\";}s:8:\"NodeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:94:\"The
  node type for the nodes in the cluster. (All nodes in a DAX cluster are of the same
  type.)\";}s:5:\"Nodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/NodeList\";s:11:\"description\";s:50:\"A
  list of nodes that are currently in the cluster.\";}s:25:\"NotificationConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/NotificationConfiguration\";s:11:\"description\";s:164:\"Describes
  a notification topic and its status. Notification topics are used for publishing
  DAX events to subscribers using Amazon Simple Notification Service (SNS).\";}s:14:\"ParameterGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ParameterGroupStatus\";s:11:\"description\";s:55:\"The
  parameter group being used by nodes in the cluster.\";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:241:\"A
  range of time when maintenance of DAX cluster software will be performed. For example:
  <code>sun:01:00-sun:09:00</code>. Cluster maintenance normally takes less than 30
  minutes, and is performed automatically within the maintenance window.\";}s:14:\"SecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/SecurityGroupMembershipList\";s:11:\"description\";s:80:\"A
  list of security groups, and the status of each, for the nodes in the cluster.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"The
  current status of the cluster.\";}s:11:\"SubnetGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:50:\"The
  subnet group where the DAX cluster is running.\";}s:10:\"TotalNodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:41:\"The
  total number of nodes in the cluster.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ClusterAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"You
  already have a DAX cluster with the given identifier.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"ClusterList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";}s:4:\"type\";s:5:\"array\";}s:15:\"ClusterNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:20:\"ClusterNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  requested cluster ID does not refer to an existing DAX cluster.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:36:\"ClusterQuotaForCustomerExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"You
  have attempted to exceed the maximum number of DAX clusters for your AWS account.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"CreateClusterRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:17:\"AvailabilityZones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AvailabilityZoneList\";s:11:\"description\";s:223:\"The
  Availability Zones (AZs) in which the cluster nodes will be created. All nodes belonging
  to the cluster are placed in these Availability Zones. Use this parameter if you
  want to distribute the nodes across multiple AZs.\";}s:11:\"ClusterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:347:\"<p>The
  cluster identifier. This parameter is stored as a lowercase string.</p> <p> <b>Constraints:</b>
  </p> <ul> <li> <p>A name must contain from 1 to 20 alphanumeric characters or hyphens.</p>
  </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>A name cannot
  end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:29:\"A
  description of the cluster.\";}s:10:\"IamRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:167:\"A
  valid Amazon Resource Name (ARN) that identifies an IAM role. At runtime, DAX will
  assume this role and use the role's permissions to access DynamoDB on your behalf.\";}s:8:\"NodeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:60:\"The
  compute and memory capacity of the nodes in the cluster.\";}s:20:\"NotificationTopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:186:\"<p>The
  Amazon Resource Name (ARN) of the Amazon SNS topic to which notifications will be
  sent.</p> <note> <p>The Amazon SNS topic owner must be same as the DAX cluster owner.</p>
  </note>\";}s:18:\"ParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:58:\"The
  parameter group to be associated with the DAX cluster.\";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:791:\"<p>Specifies
  the weekly time range during which maintenance on the DAX cluster is performed.
  It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC).
  The minimum maintenance window is a 60 minute period. Valid values for <code>ddd</code>
  are:</p> <ul> <li> <p> <code>sun</code> </p> </li> <li> <p> <code>mon</code> </p>
  </li> <li> <p> <code>tue</code> </p> </li> <li> <p> <code>wed</code> </p> </li>
  <li> <p> <code>thu</code> </p> </li> <li> <p> <code>fri</code> </p> </li> <li> <p>
  <code>sat</code> </p> </li> </ul> <p>Example: <code>sun:05:00-sun:09:00</code> </p>
  <note> <p>If you don't specify a preferred maintenance window when you create or
  modify a cache cluster, DAX assigns a 60-minute maintenance window on a randomly
  selected day of the week.</p> </note>\";}s:17:\"ReplicationFactor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:383:\"<p>The
  number of nodes in the DAX cluster. A replication factor of 1 will create a single-node
  cluster, without any read replicas. For additional fault tolerance, you can create
  a multiple node cluster with one or more read replicas. To do this, set <i>ReplicationFactor</i>
  to 2 or more.</p> <note> <p>AWS recommends that you have at least two read replicas
  per cluster.</p> </note>\";}s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/SecurityGroupIdentifierList\";s:11:\"description\";s:236:\"<p>A
  list of security group IDs to be assigned to each node in the DAX cluster. (Each
  of the security group ID is system-generated.)</p> <p>If this parameter is not specified,
  DAX assigns the default VPC security group to each node.</p>\";}s:15:\"SubnetGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:243:\"<p>The
  name of the subnet group to be used for the replication group.</p> <important> <p>DAX
  clusters can only run in an Amazon VPC environment. All of the subnets that you
  specify in a subnet group must exist in the same VPC.</p> </important>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:49:\"A
  set of tags to associate with the DAX cluster. \";}}s:8:\"required\";a:4:{i:0;s:11:\"ClusterName\";i:1;s:8:\"NodeType\";i:2;s:17:\"ReplicationFactor\";i:3;s:10:\"IamRoleArn\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateClusterResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";s:11:\"description\";s:55:\"A
  description of the DAX cluster that you have created.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreateParameterGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:37:\"A
  description of the parameter group.\";}s:18:\"ParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:90:\"The
  name of the parameter group to apply to all of the clusters in this replication
  group.\";}}s:8:\"required\";a:1:{i:0;s:18:\"ParameterGroupName\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateParameterGroupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"ParameterGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ParameterGroup\";s:11:\"description\";s:62:\"Represents
  the output of a <i>CreateParameterGroup</i> action.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CreateSubnetGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"A
  description for the subnet group\";}s:15:\"SubnetGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:73:\"A
  name for the subnet group. This value is stored as a lowercase string. \";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SubnetIdentifierList\";s:11:\"description\";s:46:\"A
  list of VPC subnet IDs for the subnet group.\";}}s:8:\"required\";a:2:{i:0;s:15:\"SubnetGroupName\";i:1;s:9:\"SubnetIds\";}s:4:\"type\";s:6:\"object\";}s:25:\"CreateSubnetGroupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"SubnetGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubnetGroup\";s:11:\"description\";s:62:\"Represents
  the output of a <i>CreateSubnetGroup</i> operation.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DecreaseReplicationFactorRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"AvailabilityZones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AvailabilityZoneList\";s:11:\"description\";s:52:\"The
  Availability Zone(s) from which to remove nodes.\";}s:11:\"ClusterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:64:\"The
  name of the DAX cluster from which you want to remove nodes.\";}s:20:\"NewReplicationFactor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:44:\"The
  new number of nodes for the DAX cluster.\";}s:15:\"NodeIdsToRemove\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NodeIdentifierList\";s:11:\"description\";s:67:\"The
  unique identifiers of the nodes to be removed from the cluster.\";}}s:8:\"required\";a:2:{i:0;s:11:\"ClusterName\";i:1;s:20:\"NewReplicationFactor\";}s:4:\"type\";s:6:\"object\";}s:33:\"DecreaseReplicationFactorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";s:11:\"description\";s:82:\"A
  description of the DAX cluster, after you have decreased its replication factor.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteClusterRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"ClusterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"The
  name of the cluster to be deleted.\";}}s:8:\"required\";a:1:{i:0;s:11:\"ClusterName\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteClusterResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";s:11:\"description\";s:55:\"A
  description of the DAX cluster that is being deleted.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteParameterGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"ParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"The
  name of the parameter group to delete.\";}}s:8:\"required\";a:1:{i:0;s:18:\"ParameterGroupName\";}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteParameterGroupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"DeletionMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:91:\"A
  user-specified message for this action (i.e., a reason for deleting the parameter
  group).\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteSubnetGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"SubnetGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:39:\"The
  name of the subnet group to delete.\";}}s:8:\"required\";a:1:{i:0;s:15:\"SubnetGroupName\";}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteSubnetGroupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"DeletionMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:88:\"A
  user-specified message for this action (i.e., a reason for deleting the subnet group).\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeClustersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"ClusterNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ClusterNameList\";s:11:\"description\";s:46:\"The
  names of the DAX clusters being described.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:293:\"<p>The
  maximum number of results to include in the response. If more results exist than
  the specified <code>MaxResults</code> value, a token is included in the response
  so that the remaining results can be retrieved.</p> <p>The value for <code>MaxResults</code>
  must be between 20 and 100.</p>\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:246:\"An
  optional token returned from a prior request. Use this token for pagination of results
  from this action. If this parameter is specified, the response includes only results
  beyond the token, up to the value specified by <code>MaxResults</code>.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeClustersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Clusters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ClusterList\";s:11:\"description\";s:88:\"The
  descriptions of your DAX clusters, in response to a <i>DescribeClusters</i> request.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"Provides
  an identifier to allow retrieval of paginated results.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeDefaultParametersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:293:\"<p>The
  maximum number of results to include in the response. If more results exist than
  the specified <code>MaxResults</code> value, a token is included in the response
  so that the remaining results can be retrieved.</p> <p>The value for <code>MaxResults</code>
  must be between 20 and 100.</p>\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:246:\"An
  optional token returned from a prior request. Use this token for pagination of results
  from this action. If this parameter is specified, the response includes only results
  beyond the token, up to the value specified by <code>MaxResults</code>.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DescribeDefaultParametersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"Provides
  an identifier to allow retrieval of paginated results.\";}s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ParameterList\";s:11:\"description\";s:72:\"A
  list of parameters. Each element in the list represents one parameter.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeEventsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"Duration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:51:\"The
  number of minutes' worth of events to retrieve.\";}s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:88:\"The
  end of the time interval for which to retrieve events, specified in ISO 8601 format.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:293:\"<p>The
  maximum number of results to include in the response. If more results exist than
  the specified <code>MaxResults</code> value, a token is included in the response
  so that the remaining results can be retrieved.</p> <p>The value for <code>MaxResults</code>
  must be between 20 and 100.</p>\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:246:\"An
  optional token returned from a prior request. Use this token for pagination of results
  from this action. If this parameter is specified, the response includes only results
  beyond the token, up to the value specified by <code>MaxResults</code>.\";}s:10:\"SourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:134:\"The
  identifier of the event source for which events will be returned. If not specified,
  then all sources are included in the response.\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SourceType\";s:11:\"description\";s:91:\"The
  event source to retrieve events for. If no value is specified, all events are returned.\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:88:\"The
  beginning of the time interval to retrieve events for, specified in ISO 8601 format.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeEventsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Events\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EventList\";s:11:\"description\";s:67:\"An
  array of events. Each element in the array represents one event.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"Provides
  an identifier to allow retrieval of paginated results.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeParameterGroupsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:293:\"<p>The
  maximum number of results to include in the response. If more results exist than
  the specified <code>MaxResults</code> value, a token is included in the response
  so that the remaining results can be retrieved.</p> <p>The value for <code>MaxResults</code>
  must be between 20 and 100.</p>\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:246:\"An
  optional token returned from a prior request. Use this token for pagination of results
  from this action. If this parameter is specified, the response includes only results
  beyond the token, up to the value specified by <code>MaxResults</code>.\";}s:19:\"ParameterGroupNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ParameterGroupNameList\";s:11:\"description\";s:34:\"The
  names of the parameter groups.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeParameterGroupsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"Provides
  an identifier to allow retrieval of paginated results.\";}s:15:\"ParameterGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ParameterGroupList\";s:11:\"description\";s:87:\"An
  array of parameter groups. Each element in the array represents one parameter group.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeParametersRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:293:\"<p>The
  maximum number of results to include in the response. If more results exist than
  the specified <code>MaxResults</code> value, a token is included in the response
  so that the remaining results can be retrieved.</p> <p>The value for <code>MaxResults</code>
  must be between 20 and 100.</p>\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:246:\"An
  optional token returned from a prior request. Use this token for pagination of results
  from this action. If this parameter is specified, the response includes only results
  beyond the token, up to the value specified by <code>MaxResults</code>.\";}s:18:\"ParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  name of the parameter group.\";}s:6:\"Source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:98:\"How
  the parameter is defined. For example, <code>system</code> denotes a system-defined
  parameter.\";}}s:8:\"required\";a:1:{i:0;s:18:\"ParameterGroupName\";}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeParametersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"Provides
  an identifier to allow retrieval of paginated results.\";}s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ParameterList\";s:11:\"description\";s:97:\"A
  list of parameters within a parameter group. Each element in the list represents
  one parameter.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeSubnetGroupsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:293:\"<p>The
  maximum number of results to include in the response. If more results exist than
  the specified <code>MaxResults</code> value, a token is included in the response
  so that the remaining results can be retrieved.</p> <p>The value for <code>MaxResults</code>
  must be between 20 and 100.</p>\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:246:\"An
  optional token returned from a prior request. Use this token for pagination of results
  from this action. If this parameter is specified, the response includes only results
  beyond the token, up to the value specified by <code>MaxResults</code>.\";}s:16:\"SubnetGroupNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SubnetGroupNameList\";s:11:\"description\";s:29:\"The
  name of the subnet group.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeSubnetGroupsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"Provides
  an identifier to allow retrieval of paginated results.\";}s:12:\"SubnetGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SubnetGroupList\";s:11:\"description\";s:86:\"An
  array of subnet groups. Each element in the array represents a single subnet group.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Endpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Represents
  the information required for client programs to connect to the configuration endpoint
  for a DAX cluster, or to an individual node within the cluster.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:33:\"The
  DNS hostname of the endpoint.\";}s:4:\"Port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:72:\"The
  port number that applications should use to connect to the endpoint.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Event\";O:8:\"stdClass\":3:{s:11:\"description\";s:174:\"Represents
  a single occurrence of something interesting within the system. Some examples of
  events are creating a DAX cluster, adding or removing a node, or rebooting a node.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Date\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:42:\"The
  date and time when the event occurred.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"A
  user-defined message associated with the event.\";}s:10:\"SourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:111:\"The
  source of the event. For example, if the event occurred at the node level, the source
  would be the node ID.\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SourceType\";s:11:\"description\";s:82:\"Specifies
  the origin of this event - a cluster, a parameter group, a node ID, etc.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"EventList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}s:4:\"type\";s:5:\"array\";}s:32:\"IncreaseReplicationFactorRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"AvailabilityZones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AvailabilityZoneList\";s:11:\"description\";s:223:\"The
  Availability Zones (AZs) in which the cluster nodes will be created. All nodes belonging
  to the cluster are placed in these Availability Zones. Use this parameter if you
  want to distribute the nodes across multiple AZs.\";}s:11:\"ClusterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"The
  name of the DAX cluster that will receive additional nodes.\";}s:20:\"NewReplicationFactor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:44:\"The
  new number of nodes for the DAX cluster.\";}}s:8:\"required\";a:2:{i:0;s:11:\"ClusterName\";i:1;s:20:\"NewReplicationFactor\";}s:4:\"type\";s:6:\"object\";}s:33:\"IncreaseReplicationFactorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";s:11:\"description\";s:66:\"A
  description of the DAX cluster. with its new replication factor.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"InsufficientClusterCapacityFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"There
  are not enough system resources to create the cluster you requested (or to resize
  an already-existing cluster). \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"IntegerOptional\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"InvalidARNFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  Amazon Resource Name (ARN) supplied in the request is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"InvalidClusterStateFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  requested DAX cluster is not in the <i>available</i> state.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:36:\"InvalidParameterCombinationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Two
  or more incompatible parameters were specified.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AwsQueryErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:31:\"InvalidParameterGroupStateFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"One
  or more parameters in a parameter group are in an invalid state.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"InvalidParameterValueException\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  value for a parameter is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AwsQueryErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:13:\"InvalidSubnet\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"An
  invalid subnet identifier was specified.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"InvalidVPCNetworkStateFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  VPC network is in an invalid state.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"IsModifiable\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"TRUE\";i:1;s:5:\"FALSE\";i:2;s:11:\"CONDITIONAL\";}s:4:\"type\";s:6:\"string\";}s:7:\"KeyList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:15:\"ListTagsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:192:\"An
  optional token returned from a prior request. Use this token for pagination of results
  from this action. If this parameter is specified, the response includes only results
  beyond the token.\";}s:12:\"ResourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"The
  name of the DAX resource to which the tags belong.\";}}s:8:\"required\";a:1:{i:0;s:12:\"ResourceName\";}s:4:\"type\";s:6:\"object\";}s:16:\"ListTagsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:170:\"If
  this value is present, there are additional results to be displayed. To retrieve
  them, call <code>ListTags</code> again, with <code>NextToken</code> set to this
  value.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:57:\"A
  list of tags currently associated with the DAX cluster.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Node\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Represents
  an individual node within a DAX cluster.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"The
  Availability Zone (AZ) in which the node has been deployed.\";}s:8:\"Endpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Endpoint\";s:11:\"description\";s:268:\"The
  endpoint for the node, consisting of a DNS name and a port number. Client applications
  can connect directly to a node endpoint, if desired (as an alternative to allowing
  DAX client software to intelligently route requests and responses to nodes in the
  DAX cluster.\";}s:14:\"NodeCreateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:68:\"The
  date and time (in UNIX epoch format) when the node was launched.\";}s:6:\"NodeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:43:\"A
  system-generated identifier for the node.\";}s:10:\"NodeStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:68:\"The
  current status of the node. For example: <code>available</code>.\";}s:20:\"ParameterGroupStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:95:\"The
  status of the parameter group associated with this node. For example, <code>in-sync</code>.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"NodeIdentifierList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:8:\"NodeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Node\";}s:4:\"type\";s:5:\"array\";}s:17:\"NodeNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"None
  of the nodes in the cluster have the given node ID.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"NodeQuotaForClusterExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"You
  have attempted to exceed the maximum number of nodes for a DAX cluster.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"NodeQuotaForCustomerExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"You
  have attempted to exceed the maximum number of nodes for your AWS account.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"NodeTypeSpecificValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Represents
  a parameter value that is applicable to a particular node type.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"NodeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"A
  node type to which the parameter value applies.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:39:\"The
  parameter value for this node type.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"NodeTypeSpecificValueList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/NodeTypeSpecificValue\";}s:4:\"type\";s:5:\"array\";}s:25:\"NotificationConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:164:\"Describes
  a notification topic and its status. Notification topics are used for publishing
  DAX events to subscribers using Amazon Simple Notification Service (SNS).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:58:\"The
  Amazon Resource Name (ARN) that identifies the topic. \";}s:11:\"TopicStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:31:\"The
  current state of the topic.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Describes
  an individual setting that controls some aspect of DAX behavior.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"AllowedValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:56:\"A
  range of values within which the parameter can be set.\";}s:10:\"ChangeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ChangeType\";s:11:\"description\";s:201:\"The
  conditions under which changes to this parameter can be applied. For example, <code>requires-reboot</code>
  indicates that a new value for this parameter will only take effect if a node is
  rebooted.\";}s:8:\"DataType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:66:\"The
  data type of the parameter. For example, <code>integer</code>:\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"A
  description of the parameter\";}s:12:\"IsModifiable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IsModifiable\";s:11:\"description\";s:56:\"Whether
  the customer is allowed to modify the parameter.\";}s:22:\"NodeTypeSpecificValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/NodeTypeSpecificValueList\";s:11:\"description\";s:66:\"A
  list of node types, and specific parameter values for each node.\";}s:13:\"ParameterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:26:\"The
  name of the parameter.\";}s:13:\"ParameterType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ParameterType\";s:11:\"description\";s:97:\"Determines
  whether the parameter can be applied to any nodes, or only nodes of a particular
  type.\";}s:14:\"ParameterValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:28:\"The
  value for the parameter.\";}s:6:\"Source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:98:\"How
  the parameter is defined. For example, <code>system</code> denotes a system-defined
  parameter.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ParameterGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"A
  named set of parameters that are applied to all of the nodes in a DAX cluster.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:37:\"A
  description of the parameter group.\";}s:18:\"ParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  name of the parameter group.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ParameterGroupAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  specified parameter group already exists.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"ParameterGroupList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ParameterGroup\";}s:4:\"type\";s:5:\"array\";}s:22:\"ParameterGroupNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:27:\"ParameterGroupNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  specified parameter group does not exist.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"ParameterGroupQuotaExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"You
  have attempted to exceed the maximum number of parameter groups.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"ParameterGroupStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  status of a parameter group.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"NodeIdsToReboot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NodeIdentifierList\";s:11:\"description\";s:49:\"The
  node IDs of one or more nodes to be rebooted.\";}s:20:\"ParameterApplyStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:33:\"The
  status of parameter updates. \";}s:18:\"ParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  name of the parameter group.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ParameterList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";}s:4:\"type\";s:5:\"array\";}s:18:\"ParameterNameValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"An
  individual DAX parameter.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"ParameterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:26:\"The
  name of the parameter.\";}s:14:\"ParameterValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"The
  value of the parameter.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ParameterNameValueList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ParameterNameValue\";}s:4:\"type\";s:5:\"array\";}s:13:\"ParameterType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"DEFAULT\";i:1;s:18:\"NODE_TYPE_SPECIFIC\";}s:4:\"type\";s:6:\"string\";}s:17:\"RebootNodeRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ClusterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"The
  name of the DAX cluster containing the node to be rebooted.\";}s:6:\"NodeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:50:\"The
  system-assigned ID of the node to be rebooted.\";}}s:8:\"required\";a:2:{i:0;s:11:\"ClusterName\";i:1;s:6:\"NodeId\";}s:4:\"type\";s:6:\"object\";}s:18:\"RebootNodeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";s:11:\"description\";s:64:\"A
  description of the DAX cluster after a node has been rebooted.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"SecurityGroupIdentifierList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:23:\"SecurityGroupMembership\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"An
  individual VPC security group and its status.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"SecurityGroupIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"The
  unique ID for this security group.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"The
  status of this security group.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"SecurityGroupMembershipList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/SecurityGroupMembership\";}s:4:\"type\";s:5:\"array\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"CLUSTER\";i:1;s:15:\"PARAMETER_GROUP\";i:2;s:12:\"SUBNET_GROUP\";}s:4:\"type\";s:6:\"string\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Subnet\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"Represents
  the subnet associated with a DAX cluster. This parameter refers to subnets defined
  in Amazon Virtual Private Cloud (Amazon VPC) and used with DAX.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"SubnetAvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:45:\"The
  Availability Zone (AZ) for subnet subnet.\";}s:16:\"SubnetIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"The
  system-assigned identifier for the subnet.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"SubnetGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"<p>Represents
  the output of one of the following actions:</p> <ul> <li> <p> <i>CreateSubnetGroup</i>
  </p> </li> <li> <p> <i>ModifySubnetGroup</i> </p> </li> </ul>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:36:\"The
  description of the subnet group.\";}s:15:\"SubnetGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:29:\"The
  name of the subnet group.\";}s:7:\"Subnets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SubnetList\";s:11:\"description\";s:52:\"A
  list of subnets associated with the subnet group. \";}s:5:\"VpcId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:73:\"The
  Amazon Virtual Private Cloud identifier (VPC ID) of the subnet group.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"SubnetGroupAlreadyExistsFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  specified subnet group already exists.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"SubnetGroupInUseFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  specified subnet group is currently in use.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"SubnetGroupList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubnetGroup\";}s:4:\"type\";s:5:\"array\";}s:19:\"SubnetGroupNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:24:\"SubnetGroupNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  requested subnet group name does not refer to an existing subnet group.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"SubnetGroupQuotaExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  request cannot be processed because it would exceed the allowed number of subnets
  in a subnet group.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"SubnetIdentifierList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:11:\"SubnetInUse\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  requested subnet is being used by another subnet group.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"SubnetList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Subnet\";}s:4:\"type\";s:5:\"array\";}s:24:\"SubnetQuotaExceededFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  request cannot be processed because it would exceed the allowed number of subnets
  in a subnet group.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:6:\"TStamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":3:{s:11:\"description\";s:418:\"<p>A
  description of a tag. Every tag is a key-value pair. You can add up to 50 tags to
  a single DAX cluster.</p> <p>AWS-assigned tag names and values are automatically
  assigned the <code>aws:</code> prefix, which the user cannot assign. AWS-assigned
  tag names do not count towards the tag limit of 50. User-assigned tag names have
  the prefix <code>user:</code>.</p> <p>You cannot backdate the application of a tag.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:211:\"The
  key for the tag. Tag keys are case sensitive. Every DAX cluster can only have one
  tag with the same key. If you try to add an existing tag (same key), the existing
  tag value will be updated to the new value.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:69:\"The
  value of the tag. Tag values are case-sensitive and can be null. \";}}s:4:\"type\";s:6:\"object\";}s:7:\"TagList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:4:\"type\";s:5:\"array\";}s:16:\"TagNotFoundFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  tag does not exist.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"TagQuotaPerResourceExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"You
  have exceeded the maximum number of tags for this DAX cluster.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"TagResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"ResourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  name of the DAX resource to which tags should be added.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:45:\"The
  tags to be assigned to the DAX resource. \";}}s:8:\"required\";a:2:{i:0;s:12:\"ResourceName\";i:1;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:19:\"TagResourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:59:\"The
  list of tags that are associated with the DAX resource.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"UntagResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"ResourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:67:\"The
  name of the DAX resource from which the tags should be removed.\";}s:7:\"TagKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/KeyList\";s:11:\"description\";s:112:\"A
  list of tag keys. If the DAX cluster has any tags with these keys, then the tags
  are removed from the cluster.\";}}s:8:\"required\";a:2:{i:0;s:12:\"ResourceName\";i:1;s:7:\"TagKeys\";}s:4:\"type\";s:6:\"object\";}s:21:\"UntagResourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:53:\"The
  tag keys that have been removed from the cluster.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"UpdateClusterRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"ClusterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:43:\"The
  name of the DAX cluster to be modified.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:55:\"A
  description of the changes being made to the cluster.\";}s:20:\"NotificationTopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:57:\"The
  Amazon Resource Name (ARN) that identifies the topic.\";}s:23:\"NotificationTopicStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:31:\"The
  current state of the topic.\";}s:18:\"ParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:47:\"The
  name of a parameter group for this cluster.\";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:241:\"A
  range of time when maintenance of DAX cluster software will be performed. For example:
  <code>sun:01:00-sun:09:00</code>. Cluster maintenance normally takes less than 30
  minutes, and is performed automatically within the maintenance window.\";}s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/SecurityGroupIdentifierList\";s:11:\"description\";s:184:\"A
  list of user-specified security group IDs to be assigned to each node in the DAX
  cluster. If this parameter is not specified, DAX assigns the default VPC security
  group to each node.\";}}s:8:\"required\";a:1:{i:0;s:11:\"ClusterName\";}s:4:\"type\";s:6:\"object\";}s:21:\"UpdateClusterResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";s:11:\"description\";s:61:\"A
  description of the DAX cluster, after it has been modified.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"UpdateParameterGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"ParameterGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  name of the parameter group.\";}s:19:\"ParameterNameValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ParameterNameValueList\";s:11:\"description\";s:118:\"An
  array of name-value pairs for the parameters in the group. Each element in the array
  represents a single parameter.\";}}s:8:\"required\";a:2:{i:0;s:18:\"ParameterGroupName\";i:1;s:19:\"ParameterNameValues\";}s:4:\"type\";s:6:\"object\";}s:28:\"UpdateParameterGroupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"ParameterGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ParameterGroup\";s:11:\"description\";s:43:\"The
  parameter group that has been modified.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"UpdateSubnetGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"A
  description of the subnet group.\";}s:15:\"SubnetGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:29:\"The
  name of the subnet group.\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SubnetIdentifierList\";s:11:\"description\";s:41:\"A
  list of subnet IDs in the subnet group.\";}}s:8:\"required\";a:1:{i:0;s:15:\"SubnetGroupName\";}s:4:\"type\";s:6:\"object\";}s:25:\"UpdateSubnetGroupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"SubnetGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubnetGroup\";s:11:\"description\";s:40:\"The
  subnet group that has been modified.\";}}s:4:\"type\";s:6:\"object\";}}"
...
