---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"api.groupme.com\";s:7:\"version\";s:3:\"0.0\";}"
host: api.groupme.com
basePath: /
paths:
  /messages/:conversation_id/:message_id/unlike:
    post:
      responses:
        200:
          description: ""
  /users/update:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Update'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Update'
  /users/sms_mode:
    post:
      consumes:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Users'
      responses:
        200:
          description: ""
  /groups/:id/destroy:
    post:
      responses:
        200:
          description: ""
  /blocks/delete:
    delete:
      responses:
        200:
          description: ""
  /groups/:group_id/likes:
    get:
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Likes'
  /bots/destroy:
    get:
      responses:
        200:
          description: ""
  /groups/:id/join/:share_token:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Join'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Join'
  /users/me:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Me'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Me'
  /groups/change_owners:
    post:
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Change_owners'
  /groups/:group_id/members/{membersId}:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: membersId
        in: path
        required: true
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Add'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Add'
  /groups/:group_id/members/results/:results_id:
    get:
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Results'
  /groups/join:
    post:
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Join'
  /bots/post:
    post:
      responses:
        200:
          description: ""
  /groups/:group_id/memberships/update:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Update'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Update'
  /blocks/between:
    get:
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Between'
  /groups/:group_id/likes/for_me:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Likes'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Likes'
  /groups/:id/update:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Update'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Update'
  /groups/:group_id/members/:membership_id/remove:
    post:
      responses:
        200:
          description: ""
  /groups/:id:
    get:
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Groups'
  /users/sms_mode/delete:
    delete:
      responses:
        200:
          description: ""
  /messages/:conversation_id/:message_id/like:
    post:
      responses:
        200:
          description: ""
  /groups/:group_id/likes/mine:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Mine'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Mine'
  /groups/:group_id/messages:
    get:
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Messages'
    post:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Messages'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Messages'
  /groups/former:
    get:
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Former'
  /bots:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Bots'
    post:
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Bots'
    delete:
      responses:
        200:
          description: ""
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":32:{s:6:\"Groups\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"share\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"creator_user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"share_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"members\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Member\";}}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}}}s:6:\"Update\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"avatar_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"zip_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Users\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"registration_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Likes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"Like\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"messages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}}}}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:11:\"source_guid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"system\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"avatar_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"favorited_by\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"attachments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"last_message_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"last_message_created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Preview\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Preview\";}s:8:\"liked_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}}}s:10:\"Attachment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"lng\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"lat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"placeholder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"charmap\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}s:6:\"Blocks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"Block\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"blocked_user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Block\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Block\";}}}s:4:\"Join\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}}}s:7:\"Preview\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"nickname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"attachments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}}}}s:6:\"Member\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"nickname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"muted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"guid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"app_installed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"autokicked\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:2:\"Me\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"Change_owners\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"Change_owner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Result\";}}}}s:6:\"Result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"owner_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"members\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Member\";}}}}s:3:\"Add\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"members\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Member\";}}}}s:7:\"Results\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"Chats\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"Last_message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"attachments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"source_guid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"sender_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"sender_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"avatar_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"favorited_by\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"conversation_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"recipient_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Chat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"messages_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"Last_message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Last_message\";}s:10:\"Other_user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Other_user\";}}}s:10:\"Other_user\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"avatar_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"Between\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"between\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Unkown\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"Direct_message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Direct_message\";}}}s:14:\"Direct_message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"source_guid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"recipient_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"attachments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}}}}s:4:\"Mine\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"messages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}}}}s:8:\"Messages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"Former\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:15:\"creator_user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"share_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"members\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Member\";}}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}}}s:4:\"Bots\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:3:\"Bot\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"callback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"avatar_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"bot_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"dm_notification\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
