---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:28:\"Definition of ISBNdb.com
  API\";s:5:\"title\";s:6:\"ISBNdb\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:90:\"https://api.apis.guru/v2/cache/logo/https_isbndb.com_sites_default_files_ISBN-295x62_4.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:55:\"https://isbndb.com/modules/isbndb_api_docs/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"isbndb.com\";}"
host: api.isbndb.com
paths:
  /author/{name}:
    get:
      consumes:
      - application/json
      description: Returns the name and a list of books by the author.
      parameters:
      - description: A string to search for in the Author's database
        in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: OK
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: '#/definitions/Author'
        404:
          description: Author not found
      security:
      - api_key: []
      summary: Gets author details
      tags:
      - Author
  /authors/{query}:
    get:
      consumes:
      - application/json
      description: This returns a list of authors whos name matches the given query
      parameters:
      - in: path
        name: query
        required: true
        type: string
      responses:
        200:
          description: OK
          headers:
            Access-Control-Allow-Origin:
              type: string
      security:
      - api_key: []
      summary: Search authors
      tags:
      - Author
  /book/{isbn}:
    get:
      consumes:
      - application/json
      description: Returns the book details
      parameters:
      - in: path
        name: isbn
        required: true
        type: string
      responses:
        200:
          description: OK
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: '#/definitions/Book'
        404:
          description: Book not found
      security:
      - api_key: []
      summary: Gets book details
      tags:
      - Book
  /books/{query}:
    get:
      consumes:
      - application/json
      description: This returns a list of books that match the query
      parameters:
      - in: path
        name: query
        required: true
        type: string
      responses:
        200:
          description: OK
          headers:
            Access-Control-Allow-Origin:
              type: string
      security:
      - api_key: []
      summary: Search books
      tags:
      - Book
  /publisher/{name}:
    get:
      consumes:
      - application/json
      description: Returns details and a list of books by the publisher.
      parameters:
      - in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: OK
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: '#/definitions/Publisher'
        404:
          description: Publisher not found
      security:
      - api_key: []
      summary: Gets publisher details
      tags:
      - Publisher
  /publishers/{query}:
    get:
      consumes:
      - application/json
      description: This returns a list of publishers that match the given query
      parameters:
      - in: path
        name: query
        required: true
        type: string
      responses:
        200:
          description: OK
          headers:
            Access-Control-Allow-Origin:
              type: string
      security:
      - api_key: []
      summary: Search publishers
      tags:
      - Publisher
  /stats:
    get:
      responses:
        200:
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
      security:
      - api_key: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:6:\"Author\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"books\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"isbn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Book\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:7:\"authors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"date_published\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"dewey_decimal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"dimensions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"edition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"excerpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"isbn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"isbn13\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"overview\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"publisher\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"reviews\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"subjects\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"synopsys\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"title_long\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Publisher\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"books\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"isbn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
