---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:11:\"description\";s:91:\"BBC Nitro is the
  BBC's application programming interface (API) for BBC Programmes Metadata.\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:13:\"BBC
  Nitro API\";s:14:\"termsOfService\";s:27:\"http://www.bbc.co.uk/terms/\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:22:\"Nitro
  Swagger Resource\";s:3:\"url\";s:25:\"http://mermade.github.io/\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"Nitro
  Public License\";s:3:\"url\";s:47:\"https://developer.bbc.co.uk/nitropubliclicence/\";}}"
host: nitro.api.bbci.co.uk
basePath: /nitro/api
paths:
  /programmes:
    get:
      tags:
      - feeds
      summary: 'Start here for programmes metadata: Brands, Series, Episodes and Clips'
      description: 'Start here for programmes metadata: Brands, Series, Episodes and
        Clips'
      operationId: findProgrammes
      parameters:
      - name: sort
        in: query
        description: 'Sorts:  nsort numerically by position in group, ascending  nsort
          alphabetically by PID, descending  nsort numerically by position, ascending  nsort
          by promotion rank, ascending  nsort chronologically by release date, descending  nsort
          by weighting of search term (use with q parameter)  nsort chronologically
          by scheduled start time/date, ascending  nsort alphabetically by title,
          ascending  nsort by title librarian style (ignoring leading ''The'', ''A'',
          etc), ascending  nsort by root pid and then preorder tree sort. Requires
          entities to have release date.  nsort numerically by number of views (most
          popular first - faster most_popular)  n'
        required: false
        type: string
        enum:
        - group_position
        - pid
        - position
        - promotion
        - release_date
        - relevance
        - scheduled_start
        - strict_title
        - title
        - tree
        - views
      - name: sort_direction
        in: query
        description: Sort direction
        required: false
        type: string
        enum:
        - ascending
        - descending
      - name: mixin
        in: query
        description: 'Mixins:  nmixin to return the alternate images for a programme  nmixin
          to return ancestor programme titles  nmixin to return programme availability
          information  nmixin to return information about programmes that are currently
          available  nmixin to return information about contributors to a programme  nmixin
          to return original version duration in programme concept entities  nmixin
          to return list of genre groupings  nmixin to add image information for a
          programme  nmixin to add embeddable information for a programme  nmixin
          to return the programmes which appear before and after a programme (as determined
          by the sort applied in the request)  nmixin to return information about
          related links to a programme  nmixin to return information about programmes
          that are currently available  n'
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - alternate_images
        - ancestor_titles
        - availability
        - available_versions
        - contributions
        - duration
        - genre_groupings
        - images
        - is_embeddable
        - previous_next
        - related_links
        - versions_availability
      - name: audio_described
        in: query
        description: filter for subset of programmes that are audio-described
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - "true"
        - "false"
      - name: availability
        in: query
        description: filter for subset of programmes that have availability
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - available
        - pending
      - name: availability_entity_type
        in: query
        description: additional filter when availability=available
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - episode
        - clip
      - name: availability_type
        in: query
        description: filter for a subset of programmes that are available for a given
          type
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - ondemand
      - name: children_of
        in: query
        description: filter for subset of programmes that have PID as immediate parent
        required: false
        type: string
      - name: descendants_of
        in: query
        description: filter for subset of programmes that have PID as ancestor
        required: false
        type: string
      - name: duration
        in: query
        description: filter for subset of programmes that have given duration
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - short
        - medium
        - long
      - name: entity_type
        in: query
        description: filter for subset of programmes that have given entity type
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - brand
        - series
        - episode
        - clip
      - name: format
        in: query
        description: filter for subset of programmes with format
        required: false
        type: string
      - name: genre
        in: query
        description: filter for subset of programmes with genre
        required: false
        type: string
      - name: group
        in: query
        description: filter for subset of programmes which belong to the given group
          pid
        required: false
        type: string
      - name: initial_letter
        in: query
        description: filter for subset of programmes with title beginning with initial
          letter librarian style (ignoring leading 'The', 'An' (Welsh), etc) 0-9 a-z
        required: false
        type: string
        maxLength: 1
      - name: initial_letter_end
        in: query
        description: Programmes with (librarian) titles whose initial letter is equal/before
          given letter. Use with initial_letter_start for a range
        required: false
        type: string
        maxLength: 1
      - name: initial_letter_start
        in: query
        description: Programmes with (librarian) titles whose initial letter is equal/after
          given letter. Use with initial_letter_end for range.
        required: false
        type: string
        maxLength: 1
      - name: initial_letter_strict
        in: query
        description: filter for subset of programmes with title beginning with initial
          letter
        required: false
        type: string
        maxLength: 1
      - name: item
        in: query
        description: filter for subset of programmes with linked to versions which
          have the given item pids
        required: false
        type: string
      - name: master_brand
        in: query
        description: filter for subset of programmes with master_brand
        required: false
        type: string
      - name: media_set
        in: query
        description: filter for subset of programmes with media set
        required: false
        type: string
      - name: media_type
        in: query
        description: filter for subset of programmes with media type
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - audio
        - audio_video
      - name: page
        in: query
        description: which page of results to return
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: page_size
        in: query
        description: number of results in each page
        required: false
        type: integer
        default: 10
        maximum: 300
      - name: partner_id
        in: query
        description: filter for programmes by partner ID
        required: false
        type: string
      - name: partner_pid
        in: query
        description: filter for programmes by partner PID
        required: false
        type: string
        default: s0000001
      - name: people
        in: query
        description: filter for subset of programmes with contributions by given people
          PID
        required: false
        type: string
      - name: pid
        in: query
        description: filter for subset of programmes having given PID
        required: false
        type: string
      - name: promoted_for
        in: query
        description: filter for subset of programmes which are promoted for given
          service
        required: false
        type: string
      - name: q
        in: query
        description: filter for subset of programmes matching supplied keyword/phrase
          (boolean operators permitted)
        required: false
        type: string
      - name: signed
        in: query
        description: filter for subset of programmes that are signed
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - exclusive
        - inclusive
        - exclude
      - name: tag_name
        in: query
        description: filter for subset of programmes with tag
        required: false
        type: string
      - name: tag_scheme
        in: query
        description: filter for subset of programmes with a tag
        required: false
        type: string
      - name: tleo
        in: query
        description: filter for subset of programmes that are TLEOs
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - "true"
        - "false"
      - name: version
        in: query
        description: filter for subset of programmes with given PID as one of their
          versions
        required: false
        type: string
      responses:
        200:
          description: Nitro response
        default:
          description: Unexpected error
      security:
      - api_key: []
  /availabilities:
    get:
      tags:
      - feeds
      summary: Discover details of on-demand availability for programmes and their
        versions
      description: Discover details of on-demand availability for programmes and their
        versions
      operationId: findAvailability
      parameters:
      - name: sort
        in: query
        description: 'Sorts:  nsort chronologically by scheduled start time/date,
          ascending  n'
        required: false
        type: string
        enum:
        - scheduled_start
      - name: sort_direction
        in: query
        description: Sort direction
        required: false
        type: string
        enum:
        - ascending
        - descending
      - name: availability
        in: query
        description: filter for subset of availabilities
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - available
      - name: descendants_of
        in: query
        description: filter for subset of availabilities that have PID as ancestor
        required: false
        type: string
      - name: media_set
        in: query
        description: filter for subset of availabilities with media set
        required: false
        type: string
      - name: page
        in: query
        description: which page of results to return
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: page_size
        in: query
        description: number of results in each page
        required: false
        type: integer
        default: 10
        maximum: 300
      - name: territory
        in: query
        description: filter for availabilities in given territory
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - uk
        - nonuk
        - world
      responses:
        200:
          description: Nitro response
        default:
          description: Unexpected error
      security:
      - api_key: []
  /broadcasts:
    get:
      tags:
      - feeds
      summary: Build schedules and find metadata for TV and radio broadcasts
      description: Build schedules and find metadata for TV and radio broadcasts
      operationId: findBroadcasts
      parameters:
      - name: sort
        in: query
        description: 'Sorts:  nsort chronologically by scheduled start time/date,
          ascending  n'
        required: false
        type: string
        enum:
        - start_date
      - name: sort_direction
        in: query
        description: Sort direction
        required: false
        type: string
        enum:
        - ascending
        - descending
      - name: mixin
        in: query
        description: 'Mixins:  nreturn ancestor programme titles  n'
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - titles
      - name: authority
        in: query
        description: filter for subset of broadcasts that have given authority
        required: false
        type: string
      - name: descendants_of
        in: query
        description: filter for subset of broadcasts that are descendants of the given
          programme PID
        required: false
        type: string
      - name: end_from
        in: query
        description: filter for subset of broadcasts that end on or later than the
          specified datetime
        required: false
        type: string
        format: date-time
      - name: end_to
        in: query
        description: filter for subset of broadcasts that end on or earlier than the
          specified datetime
        required: false
        type: string
        format: date-time
      - name: format
        in: query
        description: filter for subset of broadcasts that are classified in the given
          format ID
        required: false
        type: string
      - name: genre
        in: query
        description: filter for subset of broadcasts that are classified in the given
          genre ID
        required: false
        type: string
      - name: id
        in: query
        description: filter for subset of broadcasts that have given identifier
        required: false
        type: string
      - name: item
        in: query
        description: filter for subset of broadcasts with the given item performed
          on it
        required: false
        type: string
      - name: page
        in: query
        description: which page of results to return
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: page_size
        in: query
        description: number of results in each page
        required: false
        type: integer
        default: 10
        maximum: 300
      - name: people
        in: query
        description: filter for subset of broadcasts that have given contributor
        required: false
        type: string
      - name: pid
        in: query
        description: filter for subset of broadcasts having given PID
        required: false
        type: string
      - name: q
        in: query
        description: filter for subset of broadcasts matching supplied keyword/phrase
          (boolean operators permitted)
        required: false
        type: string
      - name: schedule_day
        in: query
        description: filter for subset of broadcasts that start on the specified day
          (BBC time)
        required: false
        type: string
        format: date
      - name: schedule_day_from
        in: query
        description: filter for subset of broadcasts that start on or after the specified
          day (BBC time)
        required: false
        type: string
        format: date
      - name: schedule_day_to
        in: query
        description: filter for subset of broadcasts that start on or before the specified
          day (BBC time)
        required: false
        type: string
        format: date
      - name: service_master_brand
        in: query
        description: filter for subset of broadcasts with given service master brand
        required: false
        type: string
      - name: sid
        in: query
        description: filter for subset of broadcasts that are on the specified linear
          service
        required: false
        type: string
      - name: start_from
        in: query
        description: filter for subset of broadcasts that start on or later than the
          specified datetime
        required: false
        type: string
        format: date-time
      - name: start_to
        in: query
        description: filter for subset of broadcasts that start on or earlier than
          the specified datetime
        required: false
        type: string
        format: date-time
      - name: version
        in: query
        description: filter for subset of broadcasts with given PID as their parent
          version
        required: false
        type: string
      responses:
        200:
          description: Nitro response
        default:
          description: Unexpected error
      security:
      - api_key: []
  /groups:
    get:
      tags:
      - feeds
      summary: 'Find metadata for curated groups: seasons, collections, galleries
        or franchises'
      description: 'Find metadata for curated groups: seasons, collections, galleries
        or franchises'
      operationId: findGroups
      parameters:
      - name: sort
        in: query
        description: 'Sorts:  nsort alphabetically by PID  n'
        required: false
        type: string
        enum:
        - pid
      - name: sort_direction
        in: query
        description: Sort direction
        required: false
        type: string
        enum:
        - descending
      - name: mixin
        in: query
        description: 'Mixins:  nmixin to return the alternate images for a group  nmixin
          to return links to programme entities that group belongs to  nmixin to add
          image information for a group  nmixin to return related links for the group  n'
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - alternate_images
        - group_for
        - images
        - related_links
      - name: for_descendants_of
        in: query
        description: filter for groups related to given programme or its descendants
        required: false
        type: string
      - name: for_programme
        in: query
        description: filter for subset of groups directly related to a given programme
        required: false
        type: string
      - name: group
        in: query
        description: filter for subset of groups which belong to the given group pid
        required: false
        type: string
      - name: group_type
        in: query
        description: filter for subset of groups that have the given group type
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - collection
        - franchise
        - gallery
        - season
      - name: member
        in: query
        description: filter for subset of groups which contain an entity with the
          given pid as a member
        required: false
        type: string
      - name: page
        in: query
        description: which page of results to return
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: page_size
        in: query
        description: number of results in each page
        required: false
        type: integer
        default: 10
        maximum: 300
      - name: partner_id
        in: query
        description: filter for groups by partner ID
        required: false
        type: string
      - name: partner_pid
        in: query
        description: filter for groups by partner PID
        required: false
        type: string
        default: s0000001
      - name: pid
        in: query
        description: filter for subset of seasons, collections, galleries or franchises
          having given PID
        required: false
        type: string
      - name: q
        in: query
        description: filter for subset of groups matching supplied keyword/phrase
          (boolean operators permitted)
        required: false
        type: string
      responses:
        200:
          description: Nitro response
        default:
          description: Unexpected error
      security:
      - api_key: []
  /images:
    get:
      tags:
      - feeds
      summary: Find metadata for images
      description: Find metadata for images
      operationId: findImages
      parameters:
      - name: sort
        in: query
        description: 'Sorts:  nsort numerically by position, ascending only  nsort
          alphabetically by PID  n'
        required: false
        type: string
        enum:
        - group_position
        - pid
      - name: sort_direction
        in: query
        description: Sort direction
        required: false
        type: string
        enum:
        - ascending
        - descending
      - name: group
        in: query
        description: filter for images belonging to the given group (i.e. Gallery)
        required: false
        type: string
      - name: image_type
        in: query
        description: filter for images by type
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - standard
        - podcast
        - store
        - portrait
        - letterbox
      - name: is_alternate_image_for
        in: query
        description: filter for alternate images by entity PID
        required: false
        type: string
      - name: is_image_for
        in: query
        description: filter for images by entity PID
        required: false
        type: string
      - name: page
        in: query
        description: which page of results to return
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: page_size
        in: query
        description: number of results in each page
        required: false
        type: integer
        default: 10
        maximum: 300
      - name: partner_id
        in: query
        description: filter for images by partner ID
        required: false
        type: string
      - name: partner_pid
        in: query
        description: filter for images by partner PID
        required: false
        type: string
        default: s0000001
      - name: pid
        in: query
        description: filter for subset of images having given PID
        required: false
        type: string
      - name: q
        in: query
        description: filter for subset of images matching supplied keyword/phrase
          (boolean operators permitted)
        required: false
        type: string
      responses:
        200:
          description: Nitro response
        default:
          description: Unexpected error
      security:
      - api_key: []
  /items:
    get:
      tags:
      - feeds
      summary: 'Look inside programmes to find segments: chapters, tracks and more'
      description: 'Look inside programmes to find segments: chapters, tracks and
        more'
      operationId: findItems
      parameters:
      - name: sort
        in: query
        description: 'Sorts:  nsort by pid, descending  n'
        required: false
        type: string
        enum:
        - pid
      - name: sort_direction
        in: query
        description: Sort direction
        required: false
        type: string
        enum:
        - descending
      - name: mixin
        in: query
        description: 'Mixins:  nmixin to return information about contributors to
          items  nmixin to add image information for an item  nmixin to return programme
          segment events, works in conjunction with programme or segment_event filters  n'
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - contributions
        - images
        - play_event
      - name: authority
        in: query
        description: filter for subset of items that have an ID issued by the given
          authority
        required: false
        type: string
      - name: id
        in: query
        description: filter for subset of items having given ID
        required: false
        type: string
      - name: id_type
        in: query
        description: filter for subset of items that have given an ID of the given
          type
        required: false
        type: string
      - name: item_type
        in: query
        description: filter for specific type(s) of items
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - chapter
        - highlight
        - music
        - speech
        - other
      - name: page
        in: query
        description: which page of results to return
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: page_size
        in: query
        description: number of results in each page
        required: false
        type: integer
        default: 10
        maximum: 300
      - name: partner_id
        in: query
        description: filter for items by partner ID
        required: false
        type: string
      - name: partner_pid
        in: query
        description: filter for items by partner PID
        required: false
        type: string
        default: s0000001
      - name: people
        in: query
        description: filter for subset of items that have specified person involved
        required: false
        type: string
      - name: pid
        in: query
        description: filter for subset of items matching one of the given PIDs
        required: false
        type: string
      - name: programme
        in: query
        description: filter for subset of items that are part of the given programme
        required: false
        type: string
      - name: q
        in: query
        description: filter for subset of items matching supplied keyword/phrase (boolean
          operators permitted)
        required: false
        type: string
      - name: segment_event
        in: query
        description: filter for item with the given segment_event
        required: false
        type: string
      responses:
        200:
          description: Nitro response
        default:
          description: Unexpected error
      security:
      - api_key: []
  /master_brands:
    get:
      tags:
      - feeds
      summary: List all Master Brands
      description: List all Master Brands
      operationId: findMasterbrands
      parameters:
      - name: sort
        in: query
        description: 'Sorts:  nsort by mid, ascending  n'
        required: false
        type: string
        enum:
        - mid
      - name: sort_direction
        in: query
        description: Sort direction
        required: false
        type: string
        enum:
        - ascending
      - name: mixin
        in: query
        description: 'Mixins:  nmixin to add image information for a masterbrand  n'
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - images
      - name: mid
        in: query
        description: filter for subset of masterbrands that have given identifier
        required: false
        type: string
      - name: page
        in: query
        description: which page of results to return
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: page_size
        in: query
        description: number of results in each page
        required: false
        type: integer
        default: 10
        maximum: 300
      - name: partner_id
        in: query
        description: filter for masterbrands by partner ID
        required: false
        type: string
      - name: partner_pid
        in: query
        description: filter for masterbrands by partner PID
        required: false
        type: string
        default: s0000001
      - name: q
        in: query
        description: filter for subset of masterbrands matching supplied keyword/phrase
          (boolean operators permitted)
        required: false
        type: string
      responses:
        200:
          description: Nitro response
        default:
          description: Unexpected error
      security:
      - api_key: []
  /people:
    get:
      tags:
      - feeds
      summary: 'Find the people behind and in programmes: cast, crew, guests and more'
      description: 'Find the people behind and in programmes: cast, crew, guests and
        more'
      operationId: findPeople
      parameters:
      - name: authority
        in: query
        description: filter for subset of people that have an ID issued by the given
          authority
        required: false
        type: string
      - name: has_external_id
        in: query
        description: filter for people who have an external identifier
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - "true"
        - "false"
      - name: id
        in: query
        description: filter for subset of people having given ID
        required: false
        type: string
      - name: id_type
        in: query
        description: filter for subset of people that have given an ID of the given
          type
        required: false
        type: string
      - name: page
        in: query
        description: which page of results to return
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: page_size
        in: query
        description: number of results in each page
        required: false
        type: integer
        default: 10
        maximum: 300
      - name: partner_id
        in: query
        description: filter for people by partner ID
        required: false
        type: string
      - name: partner_pid
        in: query
        description: filter for people by partner PID
        required: false
        type: string
        default: s0000001
      - name: pid
        in: query
        description: filter for subset of people having given PID
        required: false
        type: string
      - name: programme
        in: query
        description: filter for subset of people that have contributed to the given
          programme pid
        required: false
        type: string
      - name: q
        in: query
        description: filter for subset of people matching supplied keyword/phrase
          (boolean operators permitted)
        required: false
        type: string
      responses:
        200:
          description: Nitro response
        default:
          description: Unexpected error
      security:
      - api_key: []
  /pips:
    get:
      tags:
      - feeds
      summary: Look inside pips entities
      description: Look inside pips entities
      operationId: findPips
      parameters:
      - name: page
        in: query
        description: which page of results to return
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: page_size
        in: query
        description: number of results in each page
        required: false
        type: integer
        default: 10
        maximum: 300
      - name: q
        in: query
        description: filter for subset of programmes matching supplied keyword/phrase
          (boolean operators permitted)
        required: false
        type: string
      responses:
        200:
          description: Nitro response
        default:
          description: Unexpected error
      security:
      - api_key: []
  /promotions:
    get:
      tags:
      - feeds
      summary: Discover metadata for content promotions
      description: Discover metadata for content promotions
      operationId: findPromotions
      parameters:
      - name: mixin
        in: query
        description: 'Mixins:  nmixin to return information about related links to
          a promotion  n'
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - related_links
      - name: context
        in: query
        description: filter for subset of promotions belonging to a given context
        required: false
        type: string
      - name: page
        in: query
        description: which page of results to return
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: page_size
        in: query
        description: number of results in each page
        required: false
        type: integer
        default: 10
        maximum: 300
      - name: partner_id
        in: query
        description: filter for promotions by partner ID
        required: false
        type: string
      - name: partner_pid
        in: query
        description: filter for promotions by partner PID
        required: false
        type: string
        default: s0000001
      - name: pid
        in: query
        description: filter for subset of promotions having given PID
        required: false
        type: string
      - name: promoted_by
        in: query
        description: filter for subset of promotions having given promoted by
        required: false
        type: string
      - name: promoted_for
        in: query
        description: filter for subset of promotions having given promoted for
        required: false
        type: string
      - name: q
        in: query
        description: filter for subset of promotions matching supplied keyword/phrase
          (boolean operators permitted)
        required: false
        type: string
      - name: status
        in: query
        description: filter for subset of promotions with status
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - current
      responses:
        200:
          description: Nitro response
        default:
          description: Unexpected error
      security:
      - api_key: []
  /schedules:
    get:
      tags:
      - feeds
      summary: Build schedules and find metadata for TV and radio broadcasts and webcasts
      description: Build schedules and find metadata for TV and radio broadcasts and
        webcasts
      operationId: findSchedules
      parameters:
      - name: sort
        in: query
        description: 'Sorts:  nsort chronologically by scheduled start time/date,
          ascending  n'
        required: false
        type: string
        enum:
        - start_date
      - name: sort_direction
        in: query
        description: Sort direction
        required: false
        type: string
        enum:
        - ascending
        - descending
      - name: mixin
        in: query
        description: 'Mixins:  nreturn ancestor programme titles  nmixin to add image
          information for broadcasts and webcasts  n'
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - ancestor_titles
        - images
      - name: authority
        in: query
        description: filter for subset of broadcasts and webcasts that have given
          authority
        required: false
        type: string
      - name: descendants_of
        in: query
        description: filter for subset of broadcasts and webcasts that are descendants
          of the given programme PID
        required: false
        type: string
      - name: end_from
        in: query
        description: filter for subset of broadcasts and webcasts that end on or later
          than the specified datetime
        required: false
        type: string
        format: date-time
      - name: end_to
        in: query
        description: filter for subset of broadcasts and webcasts that end on or earlier
          than the specified datetime
        required: false
        type: string
        format: date-time
      - name: format
        in: query
        description: filter for subset of broadcasts and webcasts that are classified
          in the given format ID
        required: false
        type: string
      - name: genre
        in: query
        description: filter for subset of broadcasts and webcasts that are classified
          in the given genre ID
        required: false
        type: string
      - name: group
        in: query
        description: filter for subset of broadcasts and webcasts that have programmes
          in the given group
        required: false
        type: string
      - name: id
        in: query
        description: filter for subset of broadcasts and webcasts that have given
          identifier
        required: false
        type: string
      - name: id_type
        in: query
        description: filter for subset of broadcasts and webcasts that have given
          id type
        required: false
        type: string
      - name: item
        in: query
        description: filter for subset of broadcasts and webcasts with the given item
          performed on it
        required: false
        type: string
      - name: page
        in: query
        description: which page of results to return
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: page_size
        in: query
        description: number of results in each page
        required: false
        type: integer
        default: 10
        maximum: 300
      - name: partner_id
        in: query
        description: filter for broadcasts and webcasts by partner ID
        required: false
        type: string
      - name: partner_pid
        in: query
        description: filter for broadcasts and webcasts by partner PID
        required: false
        type: string
        default: s0000001
      - name: people
        in: query
        description: filter for subset of broadcasts and webcasts that have given
          contributor
        required: false
        type: string
      - name: pid
        in: query
        description: filter for subset of broadcasts and webcasts having given PID
        required: false
        type: string
      - name: q
        in: query
        description: filter for subset of broadcasts and webcasts matching supplied
          keyword/phrase (boolean operators permitted)
        required: false
        type: string
      - name: repeat
        in: query
        description: filter to show either only repeats or non-repeats
        required: false
        type: boolean
      - name: schedule_day
        in: query
        description: filter for subset of broadcasts and webcasts that start on the
          specified day (BBC time)
        required: false
        type: string
        format: date
      - name: schedule_day_from
        in: query
        description: filter for subset of broadcasts and webcasts that start on or
          after the specified day (BBC time)
        required: false
        type: string
        format: date
      - name: schedule_day_to
        in: query
        description: filter for subset of broadcasts and webcasts that start on or
          before the specified day (BBC time)
        required: false
        type: string
        format: date
      - name: service_master_brand
        in: query
        description: filter for subset of broadcasts and webcasts with given service
          master brand
        required: false
        type: string
      - name: sid
        in: query
        description: filter for subset of broadcasts and webcasts that are on the
          specified linear service
        required: false
        type: string
      - name: start_from
        in: query
        description: filter for subset of broadcasts and webcasts that start on or
          later than the specified datetime
        required: false
        type: string
        format: date-time
      - name: start_to
        in: query
        description: filter for subset of broadcasts and webcasts that start on or
          earlier than the specified datetime
        required: false
        type: string
        format: date-time
      - name: version
        in: query
        description: filter for subset of broadcasts and webcasts with given PID as
          their parent version
        required: false
        type: string
      responses:
        200:
          description: Nitro response
        default:
          description: Unexpected error
      security:
      - api_key: []
  /services:
    get:
      tags:
      - feeds
      summary: Information about the linear services used for broadcast transmissions
      description: Information about the linear services used for broadcast transmissions
      operationId: findServices
      parameters:
      - name: end_from
        in: query
        description: Return services that end on or later than the specified datetime
        required: false
        type: string
        format: date-time
      - name: end_to
        in: query
        description: filter for subset of broadcasts that end on or earlier than the
          specified datetime
        required: false
        type: string
        format: date-time
      - name: mid
        in: query
        description: filter for services by masterbrand MID
        required: false
        type: string
      - name: page
        in: query
        description: which page of results to return
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: page_size
        in: query
        description: number of results in each page
        required: false
        type: integer
        default: 10
        maximum: 300
      - name: partner_id
        in: query
        description: filter for services by partner ID
        required: false
        type: string
      - name: partner_pid
        in: query
        description: filter for services by partner PID
        required: false
        type: string
        default: s0000001
      - name: q
        in: query
        description: filter for subset of services matching supplied keyword/phrase
          (boolean operators permitted)
        required: false
        type: string
      - name: service_type
        in: query
        description: 'filter for specified type of linear services. one of: TV, Local
          Radio, National Radio, Regional Radio'
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - TV
        - Local Radio
        - National Radio
        - Regional Radio
        - Interactive
      - name: sid
        in: query
        description: filter for specified linear service
        required: false
        type: string
      - name: start_from
        in: query
        description: Return services that start on or later than the specified datetime
        required: false
        type: string
        format: date-time
      - name: start_to
        in: query
        description: Return services that start earlier than the specified datetime
        required: false
        type: string
        format: date-time
      responses:
        200:
          description: Nitro response
        default:
          description: Unexpected error
      security:
      - api_key: []
  /versions:
    get:
      tags:
      - feeds
      summary: 'Metadata on editorial programme versions: original, signed, audio-described,
        etc'
      description: 'Metadata on editorial programme versions: original, signed, audio-described,
        etc'
      operationId: findVersions
      parameters:
      - name: availability
        in: query
        description: filter for subset of versions that have availability
        required: false
        type: array
        items:
          format: string
        collectionFormat: multi
        enum:
        - available
      - name: descendants_of
        in: query
        description: filter for subset of versions having given programme PID
        required: false
        type: string
      - name: media_set
        in: query
        description: filter for subset of versions with availability in the given
          media set
        required: false
        type: string
      - name: page
        in: query
        description: which page of results to return
        required: false
        type: integer
        default: 1
        minimum: 1
      - name: page_size
        in: query
        description: number of results in each page
        required: false
        type: integer
        default: 10
        maximum: 300
      - name: partner_id
        in: query
        description: filter for versions by partner ID
        required: false
        type: string
      - name: partner_pid
        in: query
        description: filter for versions by partner PID
        required: false
        type: string
        default: s0000001
      - name: pid
        in: query
        description: filter for subset of versions having given PID
        required: false
        type: string
      responses:
        200:
          description: Nitro response
        default:
          description: Unexpected error
      security:
      - api_key: []
  /:
    get:
      tags:
      - schema
      summary: Get API definition
      description: Get API definition
      operationId: getAPI
      parameters: []
      responses:
        200:
          description: Nitro response
        default:
          description: Unexpected error
      security:
      - api_key: []
  /schema:
    get:
      tags:
      - schema
      summary: Get schema definition
      description: Get schema definition
      operationId: getXSD
      parameters: []
      responses:
        200:
          description: Nitro response
        default:
          description: Unexpected error
      security:
      - api_key: []
produces:
- application/json
- application/xml
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
