---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Solution to combine
  municipality services under single API.\";s:7:\"version\";s:5:\"0.1.0\";s:5:\"title\";s:9:\"Kunta
  API\";}"
host: demo.kuntaapi.fi
basePath: /v1
paths:
  /codes:
    get:
      tags:
      - Codes
      summary: Lists codes
      description: Lists codes
      operationId: listCodes
      parameters:
      - name: types
        in: query
        description: Filter results by types
        required: false
        type: array
        items:
          type: string
      - name: search
        in: query
        description: Search codes by free-text query
        required: false
        type: string
      - name: sortBy
        in: query
        description: define order (NATURAL or SCORE). Default is SCORE
        required: false
        type: string
      - name: sortDir
        in: query
        description: ASC or DESC. Default is ASC
        required: false
        type: string
      - name: firstResult
        in: query
        description: First result
        required: false
        type: integer
        format: int64
      - name: maxResults
        in: query
        description: Max results
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: Returns a list of codes
          schema:
            type: array
            items:
              $ref: '#/definitions/Code'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /codes/{codeId}:
    get:
      tags:
      - Codes
      summary: Finds a code
      description: Finds a code
      operationId: findCode
      parameters:
      - name: codeId
        in: path
        description: Id of the code
        required: true
        type: string
      responses:
        200:
          description: Returns a find code
          schema:
            $ref: '#/definitions/Code'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /electronicServiceChannels:
    get:
      tags:
      - ServiceChannels
      - ElectronicServiceChannels
      summary: Lists electronic service channels
      description: Lists electronic service channels
      operationId: listElectronicServiceChannels
      parameters:
      - name: organizationId
        in: query
        description: Organization id
        required: false
        type: string
        format: uuid
      - name: search
        in: query
        description: Search channels by free-text query
        required: false
        type: string
      - name: sortBy
        in: query
        description: define order (NATURAL or SCORE). Default is NATURAL
        required: false
        type: string
      - name: sortDir
        in: query
        description: ASC or DESC. Default is ASC
        required: false
        type: string
      - name: firstResult
        in: query
        description: First result
        required: false
        type: integer
        format: int64
      - name: maxResults
        in: query
        description: Max results
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: Returns array of electronic service channels
          schema:
            type: array
            items:
              $ref: '#/definitions/ElectronicServiceChannel'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /electronicServiceChannels/{electronicServiceChannelId}:
    get:
      tags:
      - ServiceChannels
      - ElectronicServiceChannels
      summary: Finds an electronic service channel by id
      description: Finds an electronic service channel by id
      operationId: findElectronicServiceChannel
      parameters:
      - name: electronicServiceChannelId
        in: path
        description: electronicChannel id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns an electronic service channel by id
          schema:
            $ref: '#/definitions/ElectronicServiceChannel'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
    put:
      tags:
      - ServiceChannels
      - ElectronicServiceChannels
      summary: Updates a channel
      description: Updates a service channel
      operationId: updateElectronicServiceChannel
      parameters:
      - name: electronicServiceChannelId
        in: path
        description: electronicChannel id
        required: true
        type: string
        format: uuid
      - in: body
        name: payload
        description: New electronic service data
        required: true
        schema:
          $ref: '#/definitions/ElectronicServiceChannel'
      responses:
        200:
          description: Returns a service location service channel
          schema:
            $ref: '#/definitions/ElectronicServiceChannel'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations:
    get:
      tags:
      - Organizations
      summary: List organizations
      description: List organizations
      operationId: listOrganizations
      parameters:
      - name: businessName
        in: query
        description: Filter by organization's business name
        required: false
        type: string
      - name: businessCode
        in: query
        description: Filter by organization's business code
        required: false
        type: string
      - name: search
        in: query
        description: Search organizations by free-text query
        required: false
        type: string
      - name: sortBy
        in: query
        description: define order (NATURAL or SCORE). Default is NATURAL
        required: false
        type: string
      - name: sortDir
        in: query
        description: ASC or DESC. Default is ASC
        required: false
        type: string
      - name: firstResult
        in: query
        description: First result
        required: false
        type: integer
        format: int64
      - name: maxResults
        in: query
        description: Max results
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: An array of organizations
          schema:
            type: array
            items:
              $ref: '#/definitions/Organization'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}:
    get:
      tags:
      - Organizations
      summary: Find organization
      description: Find organization
      operationId: findOrganization
      parameters:
      - name: organizationId
        in: path
        description: organization id
        required: true
        type: string
      responses:
        200:
          description: Returns an organization
          schema:
            $ref: '#/definitions/Organization'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/announcements:
    get:
      tags:
      - Announcements
      summary: Lists organizations announcements
      description: Lists organizations announcementsn
      operationId: listOrganizationAnnouncements
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: slug
        in: query
        description: Filter with slug
        required: false
        type: string
      - name: firstResult
        in: query
        description: first index of results
        required: false
        type: integer
        format: int32
      - name: maxResults
        in: query
        description: maximum number of results
        required: false
        type: integer
        format: int32
      - name: sortBy
        in: query
        description: PUBLICATION_DATE
        required: false
        type: string
      - name: sortDir
        in: query
        description: ASC or DESC
        required: false
        type: string
      responses:
        200:
          description: Returns a list of announcements
          schema:
            type: array
            items:
              $ref: '#/definitions/Announcement'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/announcements/{announcementId}:
    get:
      tags:
      - Announcements
      summary: Finds an organizations announcement
      description: Finds organization's single announcementn
      operationId: findOrganizationAnnouncement
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: announcementId
        in: path
        description: Announcement id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single announcement
          schema:
            $ref: '#/definitions/Announcement'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/banners:
    get:
      tags:
      - Banners
      summary: Lists organizations banners
      description: Lists organizations bannersn
      operationId: listOrganizationBanners
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a list of banners
          schema:
            type: array
            items:
              $ref: '#/definitions/Banner'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/banners/{bannerId}:
    get:
      tags:
      - Banners
      summary: Finds organizations banner
      description: Finds single organization bannern
      operationId: findOrganizationBanner
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: bannerId
        in: path
        description: banner id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single organization banner
          schema:
            $ref: '#/definitions/NewsArticle'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/banners/{bannerId}/images:
    get:
      tags:
      - Banners
      summary: Returns a list of organization banner images
      description: Returns a list of organization banner imagesn
      operationId: listOrganizationBannerImages
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: bannerId
        in: path
        description: Banner id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns list of organization banner images
          schema:
            type: array
            items:
              $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/banners/{bannerId}/images/{imageId}:
    get:
      tags:
      - Banners
      summary: Returns a single organiztion banner image
      description: Returns a single organiztion banner imagen
      operationId: findOrganizationBannerImage
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: bannerId
        in: path
        description: Banner Id
        required: true
        type: string
        format: uuid
      - name: imageId
        in: path
        description: Banner image id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns an organization banner image
          schema:
            $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/banners/{bannerId}/images/{imageId}/data:
    get:
      tags:
      - Banners
      summary: Returns an organization banner image data
      description: Returns an organization banner image datan
      operationId: getOrganizationBannerImageData
      produces:
      - application/octet-stream
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: bannerId
        in: path
        description: Banner id
        required: true
        type: string
        format: uuid
      - name: imageId
        in: path
        description: Banner image id
        required: true
        type: string
        format: uuid
      - name: size
        in: query
        description: Maximum width or height of image
        required: false
        type: integer
        format: int32
      responses:
        200:
          description: Returns an organization banner image data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/contacts:
    get:
      tags:
      - Contacts
      summary: Lists organizations contacts
      description: Lists organizations contactsn
      operationId: listOrganizationContacts
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: search
        in: query
        description: Search contacts by free-text query
        required: false
        type: string
      - name: sortBy
        in: query
        description: define order (NATURAL, DISPLAY_NAME or SCORE). Default is NATURAL
        required: false
        type: string
      - name: sortDir
        in: query
        description: ASC or DESC. Default is ASC
        required: false
        type: string
      - name: firstResult
        in: query
        description: First result
        required: false
        type: integer
        format: int64
      - name: maxResults
        in: query
        description: Max results
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: Returns a list of contacts
          schema:
            type: array
            items:
              $ref: '#/definitions/Contact'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/contacts/{contactId}:
    get:
      tags:
      - Contacts
      summary: Finds an organizations contact
      description: Finds organization's single contactn
      operationId: findOrganizationContact
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: contactId
        in: path
        description: Contact id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single contact
          schema:
            $ref: '#/definitions/Contact'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/emergencies:
    get:
      tags:
      - Emergencies
      summary: Lists organizations emergencies
      description: Lists organizations emergenciesn
      operationId: listOrganizationEmergencies
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: location
        in: query
        description: Return emergencies by location
        required: false
        type: string
      - name: before
        in: query
        description: Return emergencies before specified time
        required: false
        type: string
      - name: after
        in: query
        description: Return emergencies after specified time
        required: false
        type: string
      - name: firstResult
        in: query
        description: First index of results
        required: false
        type: integer
        format: int32
      - name: maxResults
        in: query
        description: Maximum number of results
        required: false
        type: integer
        format: int32
      - name: orderBy
        in: query
        description: Define order (NATURAL, START)
        required: false
        type: string
      - name: orderDir
        in: query
        description: Order direction (ASC, DESC). Default is ASC
        required: false
        type: string
      responses:
        200:
          description: Returns a list of emergencies
          schema:
            type: array
            items:
              $ref: '#/definitions/Emergency'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/emergencies/{emergencyId}:
    get:
      tags:
      - Emergencies
      summary: Returns organizations emergency by id
      description: Returns organizations emergency by idn
      operationId: findOrganizationEmergency
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: emergencyId
        in: path
        description: Emergency id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single emergency
          schema:
            $ref: '#/definitions/Emergency'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/environmentalWarnings:
    get:
      tags:
      - EnvironmentalWarnings
      summary: Lists organizations environmentalWarnings
      description: Lists organizations environmentalWarningsn
      operationId: listOrganizationEnvironmentalWarnings
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: firstResult
        in: query
        description: First index of results
        required: false
        type: integer
        format: int32
      - name: contexts
        in: query
        description: Return environmental warnings by contexts.
        required: false
        type: string
      - name: startBefore
        in: query
        description: Return environmental warnings starting before specified time
        required: false
        type: string
      - name: startAfter
        in: query
        description: Return environmental warnings starting after specified time
        required: false
        type: string
      - name: maxResults
        in: query
        description: Maximum number of results
        required: false
        type: integer
        format: int32
      - name: sortBy
        in: query
        description: define order (NATURAL, START). Default is NATURAL
        required: false
        type: string
      - name: sortDir
        in: query
        description: ASC or DESC. Default is ASC
        required: false
        type: string
      responses:
        200:
          description: Returns a list of environmental warnings
          schema:
            type: array
            items:
              $ref: '#/definitions/EnvironmentalWarning'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/environmentalWarnings/{environmentalWarningId}:
    get:
      tags:
      - EnvironmentalWarnings
      summary: Returns organizations environmental warning by id
      description: Returns organizations environmental warning by idn
      operationId: findOrganizationEnvironmentalWarning
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: environmentalWarningId
        in: path
        description: Environmental warning id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single environmentalWarning
          schema:
            $ref: '#/definitions/EnvironmentalWarning'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/events:
    get:
      tags:
      - Events
      summary: Lists organizations events
      description: Lists organizations eventsn
      operationId: listOrganizationEvents
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: startBefore
        in: query
        description: return only events starting before the date
        required: false
        type: string
      - name: startAfter
        in: query
        description: return only events starting after the date
        required: false
        type: string
      - name: endBefore
        in: query
        description: return only events ending before the date
        required: false
        type: string
      - name: endAfter
        in: query
        description: return only events ending after the date
        required: false
        type: string
      - name: firstResult
        in: query
        description: first index of results
        required: false
        type: integer
        format: int32
      - name: maxResults
        in: query
        description: maximum number of results
        required: false
        type: integer
        format: int32
      - name: orderBy
        in: query
        description: define order (startDate, endDate). Default is startDate
        required: false
        type: string
      - name: orderDir
        in: query
        description: ascending, descending. Default is ascending
        required: false
        type: string
      responses:
        200:
          description: Returns a list of events
          schema:
            type: array
            items:
              $ref: '#/definitions/Event'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/events/{eventId}:
    get:
      tags:
      - Events
      summary: Returns organizations event by id
      description: Returns organizations event by idn
      operationId: findOrganizationEvent
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: eventId
        in: path
        description: Event id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single event
          schema:
            $ref: '#/definitions/Event'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/events/{eventId}/images:
    get:
      tags:
      - Events
      summary: Returns list of event images
      description: Returns list of event imagesn
      operationId: listOrganizationEventImages
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: eventId
        in: path
        description: Event id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a list of event images
          schema:
            type: array
            items:
              $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/events/{eventId}/images/{imageId}:
    get:
      tags:
      - Events
      summary: Returns an event image
      description: Returns an event image n
      operationId: findOrganizationEventImage
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: eventId
        in: path
        description: Event id
        required: true
        type: string
        format: uuid
      - name: imageId
        in: path
        description: Event image id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns an event image
          schema:
            $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/events/{eventId}/images/{imageId}/data:
    get:
      tags:
      - Events
      summary: Returns an event image data
      description: Returns an event image datan
      operationId: getOrganizationEventImageData
      produces:
      - application/octet-stream
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: eventId
        in: path
        description: Event id
        required: true
        type: string
        format: uuid
      - name: imageId
        in: path
        description: Event image id
        required: true
        type: string
        format: uuid
      - name: size
        in: query
        description: Maximum width or height of image
        required: false
        type: integer
        format: int32
      responses:
        200:
          description: Returns an event image data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/files:
    get:
      tags:
      - Files
      summary: Lists organizations files
      description: Lists organizations filesn
      operationId: listOrganizationFiles
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: pageId
        in: query
        description: Filter with page
        required: false
        type: string
        format: uuid
      - name: search
        in: query
        description: Search files by free-text query
        required: false
        type: string
      - name: firstResult
        in: query
        description: First result
        required: false
        type: integer
        format: int64
      - name: maxResults
        in: query
        description: Max results
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: Returns a list of organizations files
          schema:
            type: array
            items:
              $ref: '#/definitions/FileDef'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/files/{fileId}:
    get:
      tags:
      - Files
      summary: Finds organizations file
      description: Finds single organization filen
      operationId: findOrganizationFile
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: fileId
        in: path
        description: file id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single organization file
          schema:
            $ref: '#/definitions/FileDef'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
    delete:
      tags:
      - Files
      summary: Deletes an organization file
      description: Deletes single organization filen
      operationId: deleteOrganizationFile
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: fileId
        in: path
        description: file id
        required: true
        type: string
        format: uuid
      responses:
        204:
          description: Successful removal
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/files/{fileId}/data:
    get:
      tags:
      - Files
      summary: Returns an organization file data
      description: Returns an organization file datan
      operationId: getOrganizationFileData
      produces:
      - application/octet-stream
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: fileId
        in: path
        description: file id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns an organization file data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/fragments:
    get:
      tags:
      - Fragments
      summary: Lists organizations page fragments
      description: Lists organizations page fragmentsn
      operationId: listOrganizationFragments
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: slug
        in: query
        description: Filter results by fragment slug
        required: false
        type: string
      responses:
        200:
          description: Returns a list of page fragments
          schema:
            type: array
            items:
              $ref: '#/definitions/Fragment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/fragments/{fragmentId}:
    get:
      tags:
      - Fragments
      summary: Finds organizations page fragment
      description: Finds single organization page fragmentn
      operationId: findOrganizationFragment
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: fragmentId
        in: path
        description: fragment id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single organization page fragment
          schema:
            $ref: '#/definitions/Fragment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/incidents:
    get:
      tags:
      - Incidents
      summary: Lists organizations incidents
      description: Lists organizations incidentsn
      operationId: listOrganizationIncidents
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: slug
        in: query
        description: Filter with slug
        required: false
        type: string
      - name: startBefore
        in: query
        required: false
        type: string
      - name: endAfter
        in: query
        required: false
        type: string
      - name: area
        in: query
        description: Return only incidents from specified area
        required: false
        type: integer
        format: int32
      - name: firstResult
        in: query
        description: First index of results
        required: false
        type: integer
        format: int32
      - name: maxResults
        in: query
        description: Maximum number of results
        required: false
        type: integer
        format: int32
      - name: orderBy
        in: query
        description: Define order (start, end)
        required: false
        type: string
      - name: orderDir
        in: query
        description: Order direction (ASC, DESC). Default is ASC
        required: false
        type: string
      responses:
        200:
          description: Returns a list of incidents
          schema:
            type: array
            items:
              $ref: '#/definitions/Incident'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/incidents/{incidentId}:
    get:
      tags:
      - Incidents
      summary: Returns organizations incident by id
      description: Returns organizations incident by idn
      operationId: findOrganizationIncident
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: incidentId
        in: path
        description: Incident id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single incident
          schema:
            $ref: '#/definitions/Incident'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/jobs:
    get:
      tags:
      - Jobs
      summary: Lists organizations jobs
      description: Lists organizations jobsn
      operationId: listOrganizationJobs
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: sortBy
        in: query
        description: PUBLICATION_START or PUBLICATION_END
        required: false
        type: string
      - name: sortDir
        in: query
        description: ASC or DESC
        required: false
        type: string
      - name: firstResult
        in: query
        description: First result
        required: false
        type: integer
        format: int64
      - name: maxResults
        in: query
        description: Max results
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: Returns a list of organizations jobs
          schema:
            type: array
            items:
              $ref: '#/definitions/Job'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/jobs/{jobId}:
    get:
      tags:
      - Jobs
      summary: Finds organizations job
      description: Finds single organization jobn
      operationId: findOrganizationJob
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: jobId
        in: path
        description: job id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single organization job
          schema:
            $ref: '#/definitions/Job'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/menus:
    get:
      tags:
      - Menus
      summary: Lists organizations menus
      description: Lists organizations menusn
      operationId: listOrganizationMenus
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: slug
        in: query
        description: Filter with slug
        required: false
        type: string
      responses:
        200:
          description: Returns a list of organizations menus
          schema:
            type: array
            items:
              $ref: '#/definitions/Menu'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/menus/{menuId}:
    get:
      tags:
      - Menus
      summary: Finds organizations menu
      description: Finds single organization menun
      operationId: findOrganizationMenu
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: menuId
        in: path
        description: menu id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single organization menu
          schema:
            $ref: '#/definitions/Menu'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/menus/{menuId}/items:
    get:
      tags:
      - Menus
      summary: Lists organizations menu items
      description: Lists organization menu itemsn
      operationId: listOrganizationMenuItems
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: menuId
        in: path
        description: menu id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a list of organizations menu items
          schema:
            type: array
            items:
              $ref: '#/definitions/MenuItem'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/menus/{menuId}/items/{menuItemId}:
    get:
      tags:
      - Menus
      summary: Finds organization menu item
      description: Finds single organization menu itemn
      operationId: findOrganizationMenuItem
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: menuId
        in: path
        description: menu id
        required: true
        type: string
        format: uuid
      - name: menuItemId
        in: path
        description: menu item id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single organization menu item
          schema:
            $ref: '#/definitions/MenuItem'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/news:
    get:
      tags:
      - News
      summary: Lists organizations news
      description: Lists organizations newsn
      operationId: listOrganizationNews
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: slug
        in: query
        description: Filter with slug
        required: false
        type: string
      - name: tag
        in: query
        description: Filter by tag
        required: false
        type: string
      - name: publishedBefore
        in: query
        description: return only news published before the date
        required: false
        type: string
      - name: publishedAfter
        in: query
        description: return only news published after the date
        required: false
        type: string
      - name: search
        in: query
        description: Search news by free-text query
        required: false
        type: string
      - name: sortBy
        in: query
        description: define order (NATURAL or SCORE). Default is NATURAL
        required: false
        type: string
      - name: sortDir
        in: query
        description: ASC or DESC. Default is ASC
        required: false
        type: string
      - name: firstResult
        in: query
        description: first index of results
        required: false
        type: integer
        format: int32
      - name: maxResults
        in: query
        description: maximum number of results
        required: false
        type: integer
        format: int32
      responses:
        200:
          description: Returns a list of news
          schema:
            type: array
            items:
              $ref: '#/definitions/NewsArticle'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/news/{newsArticleId}:
    get:
      tags:
      - News
      summary: Finds organizations news article
      description: Finds organizations single news articlen
      operationId: findOrganizationNewsArticle
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: newsArticleId
        in: path
        description: News article id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single news article
          schema:
            $ref: '#/definitions/NewsArticle'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/news/{newsArticleId}/images:
    get:
      tags:
      - News
      summary: Returns list of news article images
      description: Returns list of news article imagesn
      operationId: listOrganizationNewsArticleImages
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: newsArticleId
        in: path
        description: News article id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a news article images
          schema:
            type: array
            items:
              $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/news/{newsArticleId}/images/{imageId}:
    get:
      tags:
      - News
      summary: Returns an news article image
      description: Returns an news article imagen
      operationId: findOrganizationNewsArticleImage
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: newsArticleId
        in: path
        description: News article id
        required: true
        type: string
        format: uuid
      - name: imageId
        in: path
        description: Event image id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns an news article image
          schema:
            $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/news/{newsArticleId}/images/{imageId}/data:
    get:
      tags:
      - News
      summary: Returns a news article image data
      description: Returns a news article image datan
      operationId: getOrganizationNewsArticleImageData
      produces:
      - application/octet-stream
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: newsArticleId
        in: path
        description: News article id
        required: true
        type: string
        format: uuid
      - name: imageId
        in: path
        description: Event image id
        required: true
        type: string
        format: uuid
      - name: size
        in: query
        description: Maximum width or height of image
        required: false
        type: integer
        format: int32
      responses:
        200:
          description: Returns a news article image data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages:
    get:
      tags:
      - Pages
      summary: Lists organizations pages
      description: Lists organizations pagesn
      operationId: listOrganizationPages
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: parentId
        in: query
        description: Filter results by parent id
        required: false
        type: string
        format: uuid
      - name: path
        in: query
        description: Filter results by page path
        required: false
        type: string
      - name: search
        in: query
        description: Search pages by free-text query
        required: false
        type: string
      - name: sortBy
        in: query
        description: define order (NATURAL, SCORE or MENU). Default is NATURAL
        required: false
        type: string
      - name: sortDir
        in: query
        description: ASC or DESC. Default is ASC
        required: false
        type: string
      - name: firstResult
        in: query
        description: First result
        required: false
        type: integer
        format: int64
      - name: maxResults
        in: query
        description: Max results
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: Returns a list of pages
          schema:
            type: array
            items:
              $ref: '#/definitions/Page'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages/{pageId}:
    get:
      tags:
      - Pages
      summary: Finds organizations page
      description: Finds single organization pagen
      operationId: findOrganizationPage
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: pageId
        in: path
        description: page id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single organization page
          schema:
            $ref: '#/definitions/Page'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
    delete:
      tags:
      - Pages
      summary: Deletes an organizations page
      description: Deletes single organization pagen
      operationId: deleteOrganizationPage
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: pageId
        in: path
        description: page id
        required: true
        type: string
        format: uuid
      responses:
        204:
          description: Successful removal
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages/{pageId}/content:
    get:
      tags:
      - Pages
      summary: Returns organizations page content in all available languages
      description: Returns single organization page content in all available languagesn
      operationId: findOrganizationPageContent
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: pageId
        in: path
        description: page id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns single page content in all available languages
          schema:
            type: array
            items:
              $ref: '#/definitions/LocalizedValue'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages/{pageId}/images:
    get:
      tags:
      - Pages
      summary: Returns a list of organization page images
      description: Returns a list of organization page imagesn
      operationId: listOrganizationPageImages
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: pageId
        in: path
        description: Page id
        required: true
        type: string
        format: uuid
      - name: type
        in: query
        description: Filter by type
        required: false
        type: string
      responses:
        200:
          description: Returns list of organization page images
          schema:
            type: array
            items:
              $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages/{pageId}/images/{imageId}:
    get:
      tags:
      - Pages
      summary: Returns a single organiztion page image
      description: Returns a single organiztion page imagen
      operationId: findOrganizationPageImage
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: pageId
        in: path
        description: Page Id
        required: true
        type: string
        format: uuid
      - name: imageId
        in: path
        description: Page image id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns an organization page image
          schema:
            $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/pages/{pageId}/images/{imageId}/data:
    get:
      tags:
      - Pages
      summary: Returns an organization page image data
      description: Returns an organization page image datan
      operationId: getOrganizationPageImageData
      produces:
      - application/octet-stream
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: pageId
        in: path
        description: Page id
        required: true
        type: string
        format: uuid
      - name: imageId
        in: path
        description: Page image id
        required: true
        type: string
        format: uuid
      - name: size
        in: query
        description: Maximum width or height of image
        required: false
        type: integer
        format: int32
      responses:
        200:
          description: Returns an organization page image data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/settings/:
    get:
      tags:
      - Settings
      summary: Lists organizations settings
      description: Lists organizations settingsn
      operationId: listOrganizationSettings
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: key
        in: query
        description: Setting key
        required: false
        type: string
      responses:
        200:
          description: Returns a list of settings
          schema:
            type: array
            items:
              $ref: '#/definitions/OrganizationSetting'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
    post:
      tags:
      - Settings
      summary: Creates organization setting
      description: Creates organization settingn
      operationId: createOrganizationSetting
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - in: body
        name: setting
        required: false
        schema:
          $ref: '#/definitions/OrganizationSetting'
      responses:
        200:
          description: Returns create organization setting
          schema:
            $ref: '#/definitions/OrganizationSetting'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/settings/{settingId}:
    get:
      tags:
      - Settings
      summary: Finds organizations setting
      description: Finds single organization settingn
      operationId: findOrganizationSetting
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: settingId
        in: path
        description: Setting id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single organization setting
          schema:
            $ref: '#/definitions/OrganizationSetting'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
    put:
      tags:
      - Settings
      summary: Updates an organization setting
      description: Updates an organization settingn
      operationId: updateOrganizationSetting
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: settingId
        in: path
        description: Setting id
        required: true
        type: string
        format: uuid
      - in: body
        name: setting
        required: false
        schema:
          $ref: '#/definitions/OrganizationSetting'
      responses:
        200:
          description: Returns a single an updated organization setting
          schema:
            $ref: '#/definitions/OrganizationSetting'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
    delete:
      tags:
      - Settings
      summary: Deletes an organization setting
      description: Deletes an organization settingn
      operationId: deleteOrganizationSetting
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: settingId
        in: path
        description: Setting id
        required: true
        type: string
        format: uuid
      responses:
        204:
          description: Successful removal
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/shortlinks:
    get:
      tags:
      - Shortlinks
      summary: Lists organizations shortlinks
      description: Lists organizations shortlinksn
      operationId: listOrganizationShortlinks
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: path
        in: query
        description: Filter results by path
        required: false
        type: string
      - name: firstResult
        in: query
        description: First result
        required: false
        type: integer
        format: int64
      - name: maxResults
        in: query
        description: Max results
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: Returns a list of shortlinks
          schema:
            type: array
            items:
              $ref: '#/definitions/Shortlink'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/shortlinks/{shortlinkId}:
    get:
      tags:
      - Shortlinks
      summary: Finds organization shortlink
      description: Finds single organization shortlinkn
      operationId: findOrganizationShortlink
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: shortlinkId
        in: path
        description: shortlink id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single organization shortlink
          schema:
            $ref: '#/definitions/Shortlink'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/tiles:
    get:
      tags:
      - Tiles
      summary: Lists organizations tiles
      description: Lists organizations tilesn
      operationId: listOrganizationTiles
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a list of tiles
          schema:
            type: array
            items:
              $ref: '#/definitions/Tile'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/tiles/{tileId}:
    get:
      tags:
      - Tiles
      summary: Finds organizations tile
      description: Finds single organization tilen
      operationId: findOrganizationTile
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: tileId
        in: path
        description: tile id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single organization tile
          schema:
            $ref: '#/definitions/Tile'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/tiles/{tileId}/images:
    get:
      tags:
      - Tiles
      summary: Returns a list of organization tile images
      description: Returns a list of organization tile imagesn
      operationId: listOrganizationTileImages
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: tileId
        in: path
        description: Tile id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns list of organization tile images
          schema:
            type: array
            items:
              $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/tiles/{tileId}/images/{imageId}:
    get:
      tags:
      - Tiles
      summary: Returns a single organiztion tile image
      description: Returns a single organiztion tile imagen
      operationId: findOrganizationTileImage
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: tileId
        in: path
        description: Tile Id
        required: true
        type: string
        format: uuid
      - name: imageId
        in: path
        description: Tile image id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns an organization tile image
          schema:
            $ref: '#/definitions/Attachment'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/tiles/{tileId}/images/{imageId}/data:
    get:
      tags:
      - Tiles
      summary: Returns an organization tile image data
      description: Returns an organization tile image datan
      operationId: getOrganizationTileImageData
      produces:
      - application/octet-stream
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: tileId
        in: path
        description: Tile id
        required: true
        type: string
        format: uuid
      - name: imageId
        in: path
        description: Tile image id
        required: true
        type: string
        format: uuid
      - name: size
        in: query
        description: Maximum width or height of image
        required: false
        type: integer
        format: int32
      responses:
        200:
          description: Returns an organization tile image data
          schema:
            type: string
            format: binary
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportAgencies:
    get:
      tags:
      - Public transport
      summary: Lists organizations public transport agencies
      description: Lists organizations public transport agenciesn
      operationId: listOrganizationPublicTransportAgencies
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a list of public transport agencies
          schema:
            type: array
            items:
              $ref: '#/definitions/Agency'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportAgencies/{agencyId}:
    get:
      tags:
      - Public transport
      summary: Finds an organizations public transport agency
      description: Finds organization's single public transport agencyn
      operationId: findOrganizationPublicTransportAgency
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: agencyId
        in: path
        description: Agency id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single public transport agency
          schema:
            $ref: '#/definitions/Agency'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportRoutes:
    get:
      tags:
      - Public transport
      summary: Lists organizations public transport routes
      description: Lists organizations public transport routesn
      operationId: listOrganizationPublicTransportRoutes
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a list of public transport routes
          schema:
            type: array
            items:
              $ref: '#/definitions/Route'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportRoutes/{routeId}:
    get:
      tags:
      - Public transport
      summary: Finds an organizations public transport route
      description: Finds organization's single public transport routen
      operationId: findOrganizationPublicTransportRoute
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: routeId
        in: path
        description: Route id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a single public transport route
          schema:
            $ref: '#/definitions/Route'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportSchedules:
    get:
      tags:
      - Public transport
      summary: Lists schedules of organization's public transport schedules
      description: Lists schedules of organization's public transport schedulesn
      operationId: listOrganizationPublicTransportSchedules
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a list of organization's public transport schedules
          schema:
            type: array
            items:
              $ref: '#/definitions/Schedule'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportSchedules/{scheduleId}:
    get:
      tags:
      - Public transport
      summary: Finds organizations public transport schedule
      description: Finds organizations public transport schedulen
      operationId: findOrganizationPublicTransportSchedule
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: scheduleId
        in: path
        description: Schedule id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: returns an organizations public transport schedule
          schema:
            $ref: '#/definitions/Schedule'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportStopTimes:
    get:
      tags:
      - Public transport
      summary: Lists stopTimes of organization's public transport stopTimes
      description: Lists stopTimes of organization's public transport stopTimesn
      operationId: listOrganizationPublicTransportStopTimes
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: stopId
        in: query
        description: Filter stop times by stopId
        required: false
        type: string
        format: uuid
      - name: departureTime
        in: query
        description: Filter stop times that depart in or after specified time. Value
          is defined in seconds since midnight
        required: false
        type: integer
        format: int32
      - name: sortBy
        in: query
        description: DEPARTURE_TIME
        required: false
        type: string
      - name: sortDir
        in: query
        description: ASC or DESC
        required: false
        type: string
      - name: firstResult
        in: query
        description: First result
        required: false
        type: integer
        format: int64
      - name: maxResults
        in: query
        description: Max results
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: Returns a list of organization's public transport stopTimes
          schema:
            type: array
            items:
              $ref: '#/definitions/StopTime'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportStopTimes/{stopTimeId}:
    get:
      tags:
      - Public transport
      summary: Finds organizations public transport stopTime
      description: Finds organizations public transport stopTimen
      operationId: findOrganizationPublicTransportStopTime
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: stopTimeId
        in: path
        description: StopTime id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: returns an organizations public transport stopTime
          schema:
            $ref: '#/definitions/StopTime'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportStops:
    get:
      tags:
      - Public transport
      summary: Lists organizations public transport stops
      description: Lists organizations public transport stopsn
      operationId: listOrganizationPublicTransportStops
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a list of public transport stops
          schema:
            type: array
            items:
              $ref: '#/definitions/Stop'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportStops/{stopId}:
    get:
      tags:
      - Public transport
      summary: Finds a stop of organizations public transport route
      description: Finds a stop of organizations public transport routen
      operationId: findOrganizationPublicTransportStop
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: stopId
        in: path
        description: Stop id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: returns organizations public transport route stop
          schema:
            $ref: '#/definitions/Stop'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportTrips:
    get:
      tags:
      - Public transport
      summary: Lists trips of organization's public transport trips
      description: Lists trips of organization's public transport tripsn
      operationId: listOrganizationPublicTransportTrips
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: Returns a list of organization's public transport trips
          schema:
            type: array
            items:
              $ref: '#/definitions/Trip'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /organizations/{organizationId}/transportTrips/{tripId}:
    get:
      tags:
      - Public transport
      summary: Finds organizations public transport trip
      description: Finds organizations public transport tripn
      operationId: findOrganizationPublicTransportTrip
      parameters:
      - name: organizationId
        in: path
        description: Organization id
        required: true
        type: string
        format: uuid
      - name: tripId
        in: path
        description: Trip id
        required: true
        type: string
        format: uuid
      responses:
        200:
          description: returns an organizations public transport trip
          schema:
            $ref: '#/definitions/Trip'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /phoneServiceChannels:
    get:
      tags:
      - ServiceChannels
      - PhoneServiceChannels
      summary: Lists phone service channels
      description: Lists phone service channels
      operationId: listPhoneServiceChannels
      parameters:
      - name: organizationId
        in: query
        description: Organization id
        required: false
        type: string
        format: uuid
      - name: search
        in: query
        description: Search channels by free-text query
        required: false
        type: string
      - name: sortBy
        in: query
        description: define order (NATURAL or SCORE). Default is NATURAL
        required: false
        type: string
      - name: sortDir
        in: query
        description: ASC or DESC. Default is ASC
        required: false
        type: string
      - name: firstResult
        in: query
        description: First result
        required: false
        type: integer
        format: int64
      - name: maxResults
        in: query
        description: Max results
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: Returns array of phone service channels
          schema:
            type: array
            items:
              $ref: '#/definitions/PhoneServiceChannel'
        400:
          description: Invalid request was sent to the server
          schema:
            $ref: '#/definitions/BadRequest'
        403:
          description: Attempted to make a call with unauthorized client
          schema:
            $ref: '#/definitions/Forbidden'
        404:
          description: Resource was not found from the server
          schema:
            $ref: '#/definitions/NotFound'
        500:
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerError'
  /phoneServiceChannels/{phoneServiceChannelId}:
    get:
      tags:
      - ServiceChannels
      - PhoneServiceChannels
      summary: Finds a phone service channel by id
      description: Finds a phone service channel by id
      operationId: findPhoneServiceChannel
      parameters:
      - name: phoneServiceChannelId
        in: path
        description: Phone service channel id
        required: true
[...]
