---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:20:\"management.auth0.com\";s:7:\"version\";s:1:\"2\";}"
host: management.auth0.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:23:\"get_logs_by_id_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"client_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:32:\"AaiyAPdpYdesoKnqjj8HJqRn4T5titww\";s:11:\"description\";s:20:\"The
  id of the client\";s:4:\"type\";s:6:\"string\";}s:11:\"client_name\";O:8:\"stdClass\":3:{s:7:\"default\";s:19:\"My
  application Name\";s:11:\"description\";s:22:\"The name of the client\";s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"2016-02-23T19:57:29.532Z\";s:11:\"description\";s:35:\"The
  date when the event was created\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/get_logs_by_id_response_details\";}s:2:\"ip\";O:8:\"stdClass\":3:{s:7:\"default\";s:14:\"190.257.209.19\";s:11:\"description\";s:30:\"The
  IP of the log event source\";s:4:\"type\";s:6:\"string\";}s:13:\"location_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/get_logs_by_id_response_location_info\";}s:4:\"type\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"sapi\";s:11:\"description\";s:18:\"The
  log event type\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:30:\"auth0|56c75c4e42b6359e98374bc2\";s:11:\"description\";s:28:\"The
  user's unique identifier\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"get_logs_by_id_response_details\";O:8:\"stdClass\":3:{s:7:\"default\";O:8:\"stdClass\":0:{}s:11:\"description\";s:121:\"Additional
  (and very useful) details about the event. They don't have a specific schema as
  they vary based on event type.\";s:4:\"type\";s:6:\"object\";}s:37:\"get_logs_by_id_response_location_info\";O:8:\"stdClass\":3:{s:7:\"default\";O:8:\"stdClass\":0:{}s:11:\"description\";s:132:\"Additional
  details about the event's ip trace location. If the ip matches either as private
  or localhost it returns an empty object.\";s:4:\"type\";s:6:\"object\";}s:17:\"get_logs_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"client_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:32:\"AaiyAPdpYdesoKnqjj8HJqRn4T5titww\";s:11:\"description\";s:20:\"The
  id of the client\";s:4:\"type\";s:6:\"string\";}s:11:\"client_name\";O:8:\"stdClass\":3:{s:7:\"default\";s:19:\"My
  application Name\";s:11:\"description\";s:22:\"The name of the client\";s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"2016-02-23T19:57:29.532Z\";s:11:\"description\";s:35:\"The
  date when the event was created\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/get_logs_response_details\";}s:2:\"ip\";O:8:\"stdClass\":3:{s:7:\"default\";s:14:\"190.257.209.19\";s:11:\"description\";s:30:\"The
  IP of the log event source\";s:4:\"type\";s:6:\"string\";}s:13:\"location_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/get_logs_response_location_info\";}s:4:\"type\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"sapi\";s:11:\"description\";s:18:\"The
  log event type\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:30:\"auth0|56c75c4e42b6359e98374bc2\";s:11:\"description\";s:28:\"The
  user's unique identifier\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"get_logs_response_details\";O:8:\"stdClass\":3:{s:7:\"default\";O:8:\"stdClass\":0:{}s:11:\"description\";s:121:\"Additional
  (and very useful) details about the event. They don't have a specific schema as
  they vary based on event type.\";s:4:\"type\";s:6:\"object\";}s:31:\"get_logs_response_location_info\";O:8:\"stdClass\":3:{s:7:\"default\";O:8:\"stdClass\":0:{}s:11:\"description\";s:132:\"Additional
  details about the event's ip trace location. If the ip matches either as private
  or localhost it returns an empty object.\";s:4:\"type\";s:6:\"object\";}}"
...
