---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:20:\"management.auth0.com\";s:7:\"version\";s:1:\"2\";}"
host: management.auth0.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":28:{s:40:\"delete_user_identity_by_user_id_response\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"access_token\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"IDP
  access token returned only if scope read:user_idp_token is defined\";s:4:\"type\";s:6:\"string\";}s:10:\"connection\";O:8:\"stdClass\":3:{s:7:\"default\";s:18:\"Initial-Connection\";s:11:\"description\";s:44:\"The
  name of the connection for the identity.\";s:4:\"type\";s:6:\"string\";}s:8:\"isSocial\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"<code>true</code>
  if the identity provider is a social provider, <code>false</code>s otherwise\";s:4:\"type\";s:7:\"boolean\";}s:11:\"profileData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/delete_user_identity_by_user_id_response_profileData\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:7:\"default\";s:5:\"auth0\";s:11:\"description\";s:30:\"The
  type of identity provider.\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"5457edea1b8f22891a000004\";s:11:\"description\";s:52:\"The
  unique identifier for the user for the identity.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:8:\"provider\";i:1;s:7:\"user_id\";i:2;s:10:\"connection\";}s:4:\"type\";s:6:\"object\";}s:52:\"delete_user_identity_by_user_id_response_profileData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  user's email\";s:4:\"type\";s:6:\"string\";}s:14:\"email_verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Indicates
  whether the user's email is verified or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  user's family name\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user's given name\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  user's name\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  user's phone number\";s:4:\"type\";s:6:\"string\";}s:14:\"phone_verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Indicates
  whether the user's phone is verified or not\";s:4:\"type\";s:7:\"boolean\";}s:8:\"username\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"johndoe\";s:11:\"description\";s:19:\"The
  user's username\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"get_enrollments_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"auth_method\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Enrollment
  type\";s:4:\"enum\";a:3:{i:0;s:13:\"authenticator\";i:1;s:8:\"guardian\";i:2;s:3:\"sms\";}s:4:\"type\";s:6:\"string\";}s:11:\"enrolled_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Enrollment
  date\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Enrollment
  generated id\";s:4:\"type\";s:6:\"string\";}s:10:\"identifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Device
  identifier (usually phone identifier)\";s:4:\"type\";s:6:\"string\";}s:9:\"last_auth\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Last
  authentication\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Enrollment
  name (usually phone number)\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Phone
  number\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Enrollment
  status\";s:4:\"enum\";a:2:{i:0;s:7:\"pending\";i:1;s:9:\"confirmed\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Enrollment
  type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"get_logs_by_user_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"client_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:32:\"AaiyAPdpYdesoKnqjj8HJqRn4T5titww\";s:11:\"description\";s:20:\"The
  id of the client\";s:4:\"type\";s:6:\"string\";}s:11:\"client_name\";O:8:\"stdClass\":3:{s:7:\"default\";s:19:\"My
  application Name\";s:11:\"description\";s:22:\"The name of the client\";s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"2016-02-23T19:57:29.532Z\";s:11:\"description\";s:35:\"The
  date when the event was created\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/get_logs_by_user_response_details\";}s:2:\"ip\";O:8:\"stdClass\":3:{s:7:\"default\";s:14:\"190.257.209.19\";s:11:\"description\";s:30:\"The
  IP of the log event source\";s:4:\"type\";s:6:\"string\";}s:13:\"location_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/get_logs_by_user_response_location_info\";}s:4:\"type\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"sapi\";s:11:\"description\";s:18:\"The
  log event type\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:30:\"auth0|56c75c4e42b6359e98374bc2\";s:11:\"description\";s:28:\"The
  user's unique identifier\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"get_logs_by_user_response_details\";O:8:\"stdClass\":3:{s:7:\"default\";O:8:\"stdClass\":0:{}s:11:\"description\";s:121:\"Additional
  (and very useful) details about the event. They don't have a specific schema as
  they vary based on event type.\";s:4:\"type\";s:6:\"object\";}s:39:\"get_logs_by_user_response_location_info\";O:8:\"stdClass\":3:{s:7:\"default\";O:8:\"stdClass\":0:{}s:11:\"description\";s:132:\"Additional
  details about the event's ip trace location. If the ip matches either as private
  or localhost it returns an empty object.\";s:4:\"type\";s:6:\"object\";}s:24:\"get_users_by_id_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:12:\"app_metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/get_users_by_id_response_app_metadata\";}s:7:\"blocked\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Indicates
  whether the user was blocked by an administrator or not\";s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  date when the user was created\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":4:{s:7:\"default\";s:18:\"john.doe@gmail.com\";s:11:\"description\";s:16:\"The
  user's email\";s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:14:\"email_verified\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:79:\"<code>true</code>
  if the user's email is verified, <code>false</code> otherwise\";s:4:\"type\";s:7:\"boolean\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  user's family name\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user's given name\";s:4:\"type\";s:6:\"string\";}s:10:\"identities\";O:8:\"stdClass\":4:{s:7:\"default\";O:8:\"stdClass\":4:{s:10:\"connection\";s:18:\"Initial-Connection\";s:8:\"isSocial\";b:0;s:8:\"provider\";s:5:\"auth0\";s:7:\"user_id\";s:24:\"5457edea1b8f22891a000004\";}s:11:\"description\";s:119:\"An
  array of objects with information about the user's identities. More than one will
  exists in case accounts are linked\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"access_token\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"IDP
  access token returned only if scope read:user_idp_token is defined\";s:4:\"type\";s:6:\"string\";}s:10:\"connection\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  name of the connection for the identity\";s:4:\"type\";s:6:\"string\";}s:8:\"isSocial\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"<code>true</code>
  if the identity provider is a social provider, <code>false</code>s otherwise\";s:4:\"type\";s:7:\"boolean\";}s:11:\"profileData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  user's email\";s:4:\"type\";s:6:\"string\";}s:14:\"email_verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Indicates
  whether the user's email is verified or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  user's family name\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user's given name\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  user's name\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  user's phone number\";s:4:\"type\";s:6:\"string\";}s:14:\"phone_verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Indicates
  whether the user's phone is verified or not\";s:4:\"type\";s:7:\"boolean\";}s:8:\"username\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"johndoe\";s:11:\"description\";s:19:\"The
  user's username\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  type of identity provider\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  unique identifier for the user for the identity\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"last_ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  last login IP address\";s:4:\"type\";s:6:\"string\";}s:10:\"last_login\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  last login date for this user\";s:4:\"type\";s:6:\"string\";}s:12:\"logins_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  number of logins for this user\";s:4:\"type\";s:7:\"integer\";}s:11:\"multifactor\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  list of multifactor providers that the user has enrolled to\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  user's name\";s:4:\"type\";s:6:\"string\";}s:8:\"nickname\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  user's nickname\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"+199999999999999\";s:11:\"description\";s:103:\"The
  user's phone number (following the E.164 recommendation), only valid for users from
  SMS connections\";s:4:\"type\";s:6:\"string\";}s:14:\"phone_verified\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:129:\"<code>true</code>
  if the user's phone_number is verified, <code>false</code> otherwise, only valid
  for users from SMS connections\";s:4:\"type\";s:7:\"boolean\";}s:7:\"picture\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  user's picture\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  date when the user was last updated (modified)\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"usr_5457edea1b8f33391a000004\";s:11:\"description\";s:28:\"The
  user's unique identifier\";s:4:\"type\";s:6:\"string\";}s:13:\"user_metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/get_users_by_id_response_user_metadata\";}s:8:\"username\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"johndoe\";s:11:\"description\";s:19:\"The
  user's username\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:37:\"get_users_by_id_response_app_metadata\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Data
  related to the user that does affect the application's core functionality.\";s:4:\"type\";s:6:\"object\";}s:38:\"get_users_by_id_response_user_metadata\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Data
  related to the user that does not affect the application's core functionality.\";s:4:\"type\";s:6:\"object\";}s:18:\"get_users_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:12:\"app_metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/get_users_response_app_metadata\";}s:7:\"blocked\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Indicates
  whether the user was blocked by an administrator or not\";s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  date when the user was created\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":4:{s:7:\"default\";s:18:\"john.doe@gmail.com\";s:11:\"description\";s:16:\"The
  user's email\";s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:14:\"email_verified\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:79:\"<code>true</code>
  if the user's email is verified, <code>false</code> otherwise\";s:4:\"type\";s:7:\"boolean\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  user's family name\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user's given name\";s:4:\"type\";s:6:\"string\";}s:10:\"identities\";O:8:\"stdClass\":4:{s:7:\"default\";O:8:\"stdClass\":4:{s:10:\"connection\";s:18:\"Initial-Connection\";s:8:\"isSocial\";b:0;s:8:\"provider\";s:5:\"auth0\";s:7:\"user_id\";s:24:\"5457edea1b8f22891a000004\";}s:11:\"description\";s:119:\"An
  array of objects with information about the user's identities. More than one will
  exists in case accounts are linked\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"access_token\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"IDP
  access token returned only if scope read:user_idp_token is defined\";s:4:\"type\";s:6:\"string\";}s:10:\"connection\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  name of the connection for the identity\";s:4:\"type\";s:6:\"string\";}s:8:\"isSocial\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"<code>true</code>
  if the identity provider is a social provider, <code>false</code>s otherwise\";s:4:\"type\";s:7:\"boolean\";}s:11:\"profileData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  user's email\";s:4:\"type\";s:6:\"string\";}s:14:\"email_verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Indicates
  whether the user's email is verified or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  user's family name\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user's given name\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  user's name\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  user's phone number\";s:4:\"type\";s:6:\"string\";}s:14:\"phone_verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Indicates
  whether the user's phone is verified or not\";s:4:\"type\";s:7:\"boolean\";}s:8:\"username\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"johndoe\";s:11:\"description\";s:19:\"The
  user's username\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  type of identity provider\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  unique identifier for the user for the identity\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"last_ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  last login IP address\";s:4:\"type\";s:6:\"string\";}s:10:\"last_login\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  last login date for this user\";s:4:\"type\";s:6:\"string\";}s:12:\"logins_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  number of logins for this user\";s:4:\"type\";s:7:\"integer\";}s:11:\"multifactor\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  list of multifactor providers that the user has enrolled to\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  user's name\";s:4:\"type\";s:6:\"string\";}s:8:\"nickname\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  user's nickname\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"+199999999999999\";s:11:\"description\";s:103:\"The
  user's phone number (following the E.164 recommendation), only valid for users from
  SMS connections\";s:4:\"type\";s:6:\"string\";}s:14:\"phone_verified\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:129:\"<code>true</code>
  if the user's phone_number is verified, <code>false</code> otherwise, only valid
  for users from SMS connections\";s:4:\"type\";s:7:\"boolean\";}s:7:\"picture\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  user's picture\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  date when the user was last updated (modified)\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"usr_5457edea1b8f33391a000004\";s:11:\"description\";s:28:\"The
  user's unique identifier\";s:4:\"type\";s:6:\"string\";}s:13:\"user_metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/get_users_response_user_metadata\";}s:8:\"username\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"johndoe\";s:11:\"description\";s:19:\"The
  user's username\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"get_users_response_app_metadata\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Data
  related to the user that does affect the application's core functionality.\";s:4:\"type\";s:6:\"object\";}s:32:\"get_users_response_user_metadata\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Data
  related to the user that does not affect the application's core functionality.\";s:4:\"type\";s:6:\"object\";}s:22:\"patch_users_by_id_body\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"app_metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/patch_users_by_id_body_app_metadata\";}s:7:\"blocked\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:99:\"<code>true</code>
  if the user should be blocked, <code>false</code> if the user should be unblocked\";s:4:\"type\";s:7:\"boolean\";}s:9:\"client_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:32:\"DaM8bokEXBWrTUFCiJjWn50jei6ardyX\";s:11:\"description\";s:55:\"The
  Auth0 clientID. Only useful when updating the email\";s:4:\"type\";s:6:\"string\";}s:10:\"connection\";O:8:\"stdClass\":3:{s:7:\"default\";s:18:\"Initial-Connection\";s:11:\"description\";s:129:\"The
  connection name. This field is not itself updateable but is needed when updating
  email, email_verified, username or password.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":4:{s:7:\"default\";s:18:\"john.doe@gmail.com\";s:11:\"description\";s:14:\"The
  new email.\";s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:14:\"email_verified\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:96:\"<code>true</code>
  if the user's email address was already verified, <code>false</code> otherwise\";s:4:\"type\";s:7:\"boolean\";}s:8:\"password\";O:8:\"stdClass\":3:{s:7:\"default\";s:6:\"secret\";s:11:\"description\";s:17:\"The
  new password.\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"+199999999999999\";s:11:\"description\";s:103:\"The
  user's phone number (following the E.164 recommendation), only valid for users from
  SMS connections\";s:4:\"type\";s:6:\"string\";}s:14:\"phone_verified\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:121:\"<code>true</code>
  if the user's phone_number was already verified, <code>false</code> otherwise. Only
  valid for SMS users\";s:4:\"type\";s:7:\"boolean\";}s:13:\"user_metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/patch_users_by_id_body_user_metadata\";}s:8:\"username\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"johndoe\";s:11:\"description\";s:69:\"The
  user's username. Only valid if the connection requires a username\";s:4:\"type\";s:6:\"string\";}s:12:\"verify_email\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:124:\"<code>true</code>
  if the email change needs to be verified, <code>false</code> otherwise. Only allowed
  if changing the email\";s:4:\"type\";s:7:\"boolean\";}s:19:\"verify_phone_number\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:151:\"<code>true</code>
  if the <code>phone_number</code> change needs to be verified, <code>false</code>
  otherwise. Only allowed if changing the phone number\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:35:\"patch_users_by_id_body_app_metadata\";O:8:\"stdClass\":3:{s:7:\"default\";O:8:\"stdClass\":1:{s:4:\"plan\";s:3:\"pro\";}s:11:\"description\";s:113:\"Data
  related to the user that does affect the application's core functionality. Send
  <code>null</code> to delete.\";s:4:\"type\";s:6:\"object\";}s:36:\"patch_users_by_id_body_user_metadata\";O:8:\"stdClass\":3:{s:7:\"default\";O:8:\"stdClass\":1:{s:5:\"hobby\";s:6:\"squash\";}s:11:\"description\";s:117:\"Data
  related to the user that does not affect the application's core functionality. Send
  <code>null</code> to delete.\";s:4:\"type\";s:6:\"object\";}s:26:\"patch_users_by_id_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:12:\"app_metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/patch_users_by_id_response_app_metadata\";}s:7:\"blocked\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Indicates
  whether the user was blocked by an administrator or not\";s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  date when the user was created\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":4:{s:7:\"default\";s:18:\"john.doe@gmail.com\";s:11:\"description\";s:16:\"The
  user's email\";s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:14:\"email_verified\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:79:\"<code>true</code>
  if the user's email is verified, <code>false</code> otherwise\";s:4:\"type\";s:7:\"boolean\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  user's family name\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user's given name\";s:4:\"type\";s:6:\"string\";}s:10:\"identities\";O:8:\"stdClass\":4:{s:7:\"default\";O:8:\"stdClass\":4:{s:10:\"connection\";s:18:\"Initial-Connection\";s:8:\"isSocial\";b:0;s:8:\"provider\";s:5:\"auth0\";s:7:\"user_id\";s:24:\"5457edea1b8f22891a000004\";}s:11:\"description\";s:119:\"An
  array of objects with information about the user's identities. More than one will
  exists in case accounts are linked\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"access_token\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"IDP
  access token returned only if scope read:user_idp_token is defined\";s:4:\"type\";s:6:\"string\";}s:10:\"connection\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  name of the connection for the identity\";s:4:\"type\";s:6:\"string\";}s:8:\"isSocial\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"<code>true</code>
  if the identity provider is a social provider, <code>false</code>s otherwise\";s:4:\"type\";s:7:\"boolean\";}s:11:\"profileData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  user's email\";s:4:\"type\";s:6:\"string\";}s:14:\"email_verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Indicates
  whether the user's email is verified or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  user's family name\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user's given name\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  user's name\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  user's phone number\";s:4:\"type\";s:6:\"string\";}s:14:\"phone_verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Indicates
  whether the user's phone is verified or not\";s:4:\"type\";s:7:\"boolean\";}s:8:\"username\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"johndoe\";s:11:\"description\";s:19:\"The
  user's username\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  type of identity provider\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  unique identifier for the user for the identity\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"last_ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  last login IP address\";s:4:\"type\";s:6:\"string\";}s:10:\"last_login\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  last login date for this user\";s:4:\"type\";s:6:\"string\";}s:12:\"logins_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  number of logins for this user\";s:4:\"type\";s:7:\"integer\";}s:11:\"multifactor\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  list of multifactor providers that the user has enrolled to\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  user's name\";s:4:\"type\";s:6:\"string\";}s:8:\"nickname\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  user's nickname\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"+199999999999999\";s:11:\"description\";s:103:\"The
  user's phone number (following the E.164 recommendation), only valid for users from
  SMS connections\";s:4:\"type\";s:6:\"string\";}s:14:\"phone_verified\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:129:\"<code>true</code>
  if the user's phone_number is verified, <code>false</code> otherwise, only valid
  for users from SMS connections\";s:4:\"type\";s:7:\"boolean\";}s:7:\"picture\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  user's picture\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  date when the user was last updated (modified)\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"usr_5457edea1b8f33391a000004\";s:11:\"description\";s:28:\"The
  user's unique identifier\";s:4:\"type\";s:6:\"string\";}s:13:\"user_metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/patch_users_by_id_response_user_metadata\";}s:8:\"username\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"johndoe\";s:11:\"description\";s:19:\"The
  user's username\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"patch_users_by_id_response_app_metadata\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Data
  related to the user that does affect the application's core functionality.\";s:4:\"type\";s:6:\"object\";}s:40:\"patch_users_by_id_response_user_metadata\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Data
  related to the user that does not affect the application's core functionality.\";s:4:\"type\";s:6:\"object\";}s:20:\"post_identities_body\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"connection_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:178:\"The
  id of the connection of the secondary account being linked. This is optional and
  may be useful in the case of having more than a database connection for the 'auth0'
  provider.\";s:4:\"type\";s:6:\"string\";}s:9:\"link_with\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"{SECONDARY_ACCOUNT_JWT}\";s:11:\"description\";s:139:\"The
  JWT of the secondary account being linked. If sending this parameter, the 'provider',
  'user_id' and 'connection_id' params are invalid.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":4:{s:7:\"default\";s:7:\"twitter\";s:11:\"description\";s:68:\"The
  type of identity provider of the secondary account being linked.\";s:4:\"enum\";a:59:{i:0;s:2:\"ad\";i:1;s:4:\"adfs\";i:2;s:6:\"amazon\";i:3;s:7:\"dropbox\";i:4;s:9:\"bitbucket\";i:5;s:3:\"aol\";i:6;s:12:\"auth0-adldap\";i:7;s:10:\"auth0-oidc\";i:8;s:5:\"auth0\";i:9;s:5:\"baidu\";i:10;s:5:\"bitly\";i:11;s:3:\"box\";i:12;s:6:\"custom\";i:13;s:8:\"daccount\";i:14;s:6:\"dwolla\";i:15;s:5:\"email\";i:16;s:16:\"evernote-sandbox\";i:17;s:8:\"evernote\";i:18;s:5:\"exact\";i:19;s:8:\"facebook\";i:20;s:6:\"fitbit\";i:21;s:6:\"flickr\";i:22;s:6:\"github\";i:23;s:11:\"google-apps\";i:24;s:13:\"google-oauth2\";i:25;s:8:\"guardian\";i:26;s:9:\"instagram\";i:27;s:2:\"ip\";i:28;s:8:\"linkedin\";i:29;s:7:\"miicard\";i:30;s:6:\"oauth1\";i:31;s:6:\"oauth2\";i:32;s:9:\"office365\";i:33;s:6:\"paypal\";i:34;s:14:\"paypal-sandbox\";i:35;s:12:\"pingfederate\";i:36;s:14:\"planningcenter\";i:37;s:6:\"renren\";i:38;s:20:\"salesforce-community\";i:39;s:18:\"salesforce-sandbox\";i:40;s:10:\"salesforce\";i:41;s:5:\"samlp\";i:42;s:10:\"sharepoint\";i:43;s:7:\"shopify\";i:44;s:3:\"sms\";i:45;s:10:\"soundcloud\";i:46;s:15:\"thecity-sandbox\";i:47;s:7:\"thecity\";i:48;s:18:\"thirtysevensignals\";i:49;s:7:\"twitter\";i:50;s:7:\"untappd\";i:51;s:9:\"vkontakte\";i:52;s:4:\"waad\";i:53;s:5:\"weibo\";i:54;s:11:\"windowslive\";i:55;s:9:\"wordpress\";i:56;s:5:\"yahoo\";i:57;s:6:\"yammer\";i:58;s:6:\"yandex\";}s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"191919191919191\";s:11:\"description\";s:50:\"The
  user_id of the secondary account being linked.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"post_identities_response\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"access_token\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"IDP
  access token returned only if scope read:user_idp_token is defined\";s:4:\"type\";s:6:\"string\";}s:10:\"connection\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"twitter\";s:11:\"description\";s:44:\"The
  name of the connection for the identity.\";s:4:\"type\";s:6:\"string\";}s:8:\"isSocial\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"<code>true</code>
  if the identity provider is a social provider, <code>false</code>s otherwise\";s:4:\"type\";s:7:\"boolean\";}s:11:\"profileData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/post_identities_response_profileData\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"twitter\";s:11:\"description\";s:30:\"The
  type of identity provider.\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"191919191919191\";s:11:\"description\";s:52:\"The
  unique identifier for the user for the identity.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:8:\"provider\";i:1;s:7:\"user_id\";i:2;s:10:\"connection\";}s:4:\"type\";s:6:\"object\";}s:36:\"post_identities_response_profileData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  user's email\";s:4:\"type\";s:6:\"string\";}s:14:\"email_verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Indicates
  whether the user's email is verified or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  user's family name\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user's given name\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  user's name\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  user's phone number\";s:4:\"type\";s:6:\"string\";}s:14:\"phone_verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Indicates
  whether the user's phone is verified or not\";s:4:\"type\";s:7:\"boolean\";}s:8:\"username\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"johndoe\";s:11:\"description\";s:19:\"The
  user's username\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:40:\"post_recovery-code-regeneration_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"recovery_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"New
  recovery code\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"post_users_body\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:12:\"app_metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/post_users_body_app_metadata\";}s:10:\"connection\";O:8:\"stdClass\":3:{s:7:\"default\";s:18:\"Initial-Connection\";s:11:\"description\";s:34:\"The
  connection the user belongs to\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":4:{s:7:\"default\";s:18:\"john.doe@gmail.com\";s:11:\"description\";s:16:\"The
  user's email\";s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:14:\"email_verified\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:213:\"<code>true</code>
  if the user's email is verified, <code>false</code> otherwise. If it is <code>true</code>
  then the user will not receive a verification email, unless <code>verify_email:
  true</code> was specified\";s:4:\"type\";s:7:\"boolean\";}s:8:\"password\";O:8:\"stdClass\":3:{s:7:\"default\";s:6:\"secret\";s:11:\"description\";s:55:\"The
  user's password (mandatory for non SMS connections)\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"+199999999999999\";s:11:\"description\";s:113:\"The
  user's phone number (following the E.164 recommendation), only valid for users to
  be added to SMS connections\";s:4:\"type\";s:6:\"string\";}s:14:\"phone_verified\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:203:\"<code>true</code>
  if the user's phone number is verified, <code>false</code> otherwise. When the user
  is added to a SMS connection, they will not receive an verification SMS if this
  is <code>true</code>.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"user_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  id of the user\";s:4:\"type\";s:6:\"string\";}s:13:\"user_metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/post_users_body_user_metadata\";}s:8:\"username\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"johndoe\";s:11:\"description\";s:69:\"The
  user's username. Only valid if the connection requires a username\";s:4:\"type\";s:6:\"string\";}s:12:\"verify_email\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:399:\"If
  <code>true</code>, the user will receive a verification email after creation, even
  if created with <code>email_verified</code> set to <code>true</code>. If <code>false</code>,
  the user will not receive a verification email, even if created with <code>email_verified</code>
  set to <code>false</code>. If unspecified, defaults to the behavior determined by
  the value of <code>email_verified</code>.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:10:\"connection\";}s:4:\"type\";s:6:\"object\";}s:28:\"post_users_body_app_metadata\";O:8:\"stdClass\":3:{s:7:\"default\";O:8:\"stdClass\":1:{s:4:\"plan\";s:3:\"pro\";}s:11:\"description\";s:79:\"Data
  related to the user that does affect the application's core functionality.\";s:4:\"type\";s:6:\"object\";}s:29:\"post_users_body_user_metadata\";O:8:\"stdClass\":3:{s:7:\"default\";O:8:\"stdClass\":1:{s:5:\"hobby\";s:9:\"skydiving\";}s:11:\"description\";s:82:\"Data
  related to the user that does not affect the application's core functionality\";s:4:\"type\";s:6:\"object\";}s:19:\"post_users_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:12:\"app_metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/post_users_response_app_metadata\";}s:7:\"blocked\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Indicates
  whether the user was blocked by an administrator or not\";s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  date when the user was created\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":4:{s:7:\"default\";s:18:\"john.doe@gmail.com\";s:11:\"description\";s:16:\"The
  user's email\";s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:14:\"email_verified\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:79:\"<code>true</code>
  if the user's email is verified, <code>false</code> otherwise\";s:4:\"type\";s:7:\"boolean\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  user's family name\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user's given name\";s:4:\"type\";s:6:\"string\";}s:10:\"identities\";O:8:\"stdClass\":4:{s:7:\"default\";O:8:\"stdClass\":4:{s:10:\"connection\";s:18:\"Initial-Connection\";s:8:\"isSocial\";b:0;s:8:\"provider\";s:5:\"auth0\";s:7:\"user_id\";s:24:\"5457edea1b8f22891a000004\";}s:11:\"description\";s:119:\"An
  array of objects with information about the user's identities. More than one will
  exists in case accounts are linked\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"access_token\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"IDP
  access token returned only if scope read:user_idp_token is defined\";s:4:\"type\";s:6:\"string\";}s:10:\"connection\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  name of the connection for the identity\";s:4:\"type\";s:6:\"string\";}s:8:\"isSocial\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"<code>true</code>
  if the identity provider is a social provider, <code>false</code>s otherwise\";s:4:\"type\";s:7:\"boolean\";}s:11:\"profileData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  user's email\";s:4:\"type\";s:6:\"string\";}s:14:\"email_verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Indicates
  whether the user's email is verified or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  user's family name\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user's given name\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  user's name\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  user's phone number\";s:4:\"type\";s:6:\"string\";}s:14:\"phone_verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Indicates
  whether the user's phone is verified or not\";s:4:\"type\";s:7:\"boolean\";}s:8:\"username\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"johndoe\";s:11:\"description\";s:19:\"The
  user's username\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  type of identity provider\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  unique identifier for the user for the identity\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"last_ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  last login IP address\";s:4:\"type\";s:6:\"string\";}s:10:\"last_login\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  last login date for this user\";s:4:\"type\";s:6:\"string\";}s:12:\"logins_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  number of logins for this user\";s:4:\"type\";s:7:\"integer\";}s:11:\"multifactor\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  list of multifactor providers that the user has enrolled to\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  user's name\";s:4:\"type\";s:6:\"string\";}s:8:\"nickname\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  user's nickname\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"+199999999999999\";s:11:\"description\";s:103:\"The
  user's phone number (following the E.164 recommendation), only valid for users from
  SMS connections\";s:4:\"type\";s:6:\"string\";}s:14:\"phone_verified\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:129:\"<code>true</code>
  if the user's phone_number is verified, <code>false</code> otherwise, only valid
  for users from SMS connections\";s:4:\"type\";s:7:\"boolean\";}s:7:\"picture\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  user's picture\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  date when the user was last updated (modified)\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"usr_5457edea1b8f33391a000004\";s:11:\"description\";s:28:\"The
  user's unique identifier\";s:4:\"type\";s:6:\"string\";}s:13:\"user_metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/post_users_response_user_metadata\";}s:8:\"username\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"johndoe\";s:11:\"description\";s:19:\"The
  user's username\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"post_users_response_app_metadata\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Data
  related to the user that does affect the application's core functionality.\";s:4:\"type\";s:6:\"object\";}s:33:\"post_users_response_user_metadata\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Data
  related to the user that does not affect the application's core functionality.\";s:4:\"type\";s:6:\"object\";}}"
...
