---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:20:\"management.auth0.com\";s:7:\"version\";s:1:\"2\";}"
host: management.auth0.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:28:\"post_email-verification_body\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"result_url\";O:8:\"stdClass\":4:{s:7:\"default\";s:25:\"http://myapp.com/callback\";s:11:\"description\";s:68:\"The
  user will be redirected to this endpoint once the ticket is used\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}s:7:\"ttl_sec\";O:8:\"stdClass\":3:{s:11:\"description\";s:233:\"The
  ticket's lifetime in seconds starting from the moment of creation. After expiration,
  the ticket cannot be used to verify the user's email. If not specified or if you
  send 0, the Auth0 default lifetime of five days will be applied\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  user_id of for which the ticket is to be created\";s:6:\"format\";s:7:\"user-id\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"user_id\";}s:4:\"type\";s:6:\"object\";}s:32:\"post_email-verification_response\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"ticket\";O:8:\"stdClass\":4:{s:7:\"default\";s:409:\"https://login.auth0.com/lo/verify_email?client_id=nsaPS2p3cargoFy82WT7betaOPOt3qSh&tenant=mdocs&bewit=bmNlR01CcDNOUE1GeXVzODJXVDdyY1RUT1BPdDNxU2hcMTQzMDY2MjE4MVxuRTcxM0RSeUNlbEpzUUJmaFVaS3A1NEdJbWFzSUZMYzRTdEFtY2NMMXhZPVx7ImVtYWloojoiZGFtaWtww2NoQGhvdG1haWwuY29tIiwidGVuYW50IjoiZHNjaGVua2tjwWFuIiwiY2xpZW50X2lkIjoibmNlR01CcDNOUE1GeXVzODJXVDdyY1RUT1BPiiqxU2giLCJjb25uZWN0aW9uIjoiRGFtaWmsdiwicmVzdWx0VXJsIjoiIn0\";s:11:\"description\";s:34:\"The
  URL that represents the ticket\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"ticket\";}s:4:\"type\";s:6:\"object\";}s:25:\"post_password-change_body\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"connection_id\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"con_0000000000000001\";s:11:\"description\";s:163:\"The
  connection that provides the identity for which the password is to be changed. If
  sending this parameter, the email is also required and the user_id is invalid\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  user's email\";s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:10:\"result_url\";O:8:\"stdClass\":4:{s:7:\"default\";s:25:\"http://myapp.com/callback\";s:11:\"description\";s:68:\"The
  user will be redirected to this endpoint once the ticket is used\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}s:7:\"ttl_sec\";O:8:\"stdClass\":3:{s:11:\"description\";s:233:\"The
  ticket's lifetime in seconds starting from the moment of creation. After expiration,
  the ticket cannot be used to change the user's password. If not specified or if
  you send 0, the Auth0 default lifetime of 5 days will be applied\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  user_id of for which the ticket is to be created\";s:6:\"format\";s:7:\"user-id\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"post_password-change_response\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"ticket\";O:8:\"stdClass\":4:{s:7:\"default\";s:402:\"https://login.auth0.com/lo/reset?client_id=nsaPS2p3cargoFy82WT7betaOPOt3qSh&tenant=mdocs&bewit=bmNlR01CcDNOUE1GeXVzODJXVDdyY1RUT1BPdDNxU2hcMTQzMDY2MjE4MVxuRTcxM0RSeUNlbEpzUUJmaFVaS3A1NEdJbWFzSUZMYzRTdEFtY2NMMXhZPVx7ImVtYWloojoiZGFtaWtww2NoQGhvdG1haWwuY29tIiwidGVuYW50IjoiZHNjaGVua2tjwWFuIiwiY2xpZW50X2lkIjoibmNlR01CcDNOUE1GeXVzODJXVDdyY1RUT1BPiiqxU2giLCJjb25uZWN0aW9uIjoiRGFtaWmsdiwicmVzdWx0VXJsIjoiIn0\";s:11:\"description\";s:34:\"The
  URL that represents the ticket\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"ticket\";}s:4:\"type\";s:6:\"object\";}}"
...
