---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1167:\"<fullname>Amazon
  DynamoDB</fullname> <p>Amazon DynamoDB is a fully managed NoSQL database service
  that provides fast and predictable performance with seamless scalability. DynamoDB
  lets you offload the administrative burdens of operating and scaling a distributed
  database, so that you don't have to worry about hardware provisioning, setup and
  configuration, replication, software patching, or cluster scaling.</p> <p>With DynamoDB,
  you can create database tables that can store and retrieve any amount of data, and
  serve any level of request traffic. You can scale up or scale down your tables'
  throughput capacity without downtime or performance degradation, and use the AWS
  Management Console to monitor resource utilization and performance metrics.</p>
  <p>DynamoDB automatically spreads the data and traffic for your tables over a sufficient
  number of servers to handle your throughput and storage requirements, while maintaining
  consistent and fast performance. All of your data is stored on solid state disks
  (SSDs) and automatically replicated across multiple Availability Zones in an AWS
  region, providing built-in high availability and data durability. </p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:15:\"Amazon
  DynamoDB\";s:7:\"version\";s:10:\"2012-08-10\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:92:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/dynamodb-2012-08-10.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:8:\"dynamodb\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"amazonaws_dynamodb\";s:4:\"type\";s:7:\"openapi\";}}"
host: dynamodb.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":263:{s:15:\"AttributeAction\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"ADD\";i:1;s:3:\"PUT\";i:2;s:6:\"DELETE\";}s:4:\"type\";s:6:\"string\";}s:19:\"AttributeDefinition\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Represents
  an attribute for describing the key schema for the table and indexes.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"AttributeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/KeySchemaAttributeName\";s:11:\"description\";s:25:\"A
  name for the attribute.\";}s:13:\"AttributeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ScalarAttributeType\";s:11:\"description\";s:261:\"<p>The
  data type for the attribute, where:</p> <ul> <li> <p> <code>S</code> - the attribute
  is of type String</p> </li> <li> <p> <code>N</code> - the attribute is of type Number</p>
  </li> <li> <p> <code>B</code> - the attribute is of type Binary</p> </li> </ul>\";}}s:8:\"required\";a:2:{i:0;s:13:\"AttributeName\";i:1;s:13:\"AttributeType\";}s:4:\"type\";s:6:\"object\";}s:20:\"AttributeDefinitions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AttributeDefinition\";}s:4:\"type\";s:5:\"array\";}s:12:\"AttributeMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AttributeValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:13:\"AttributeName\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:65535;s:4:\"type\";s:6:\"string\";}s:17:\"AttributeNameList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeName\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:16:\"AttributeUpdates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AttributeValueUpdate\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:14:\"AttributeValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:395:\"<p>Represents
  the data for an attribute.</p> <p>Each attribute value is described as a name-value
  pair. The name is the data type, and the value is the data itself.</p> <p>For more
  information, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.NamingRulesDataTypes.html#HowItWorks.DataTypes\">Data
  Types</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p>\";s:10:\"properties\";O:8:\"stdClass\":10:{s:1:\"B\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/BinaryAttributeValue\";s:11:\"description\";s:114:\"<p>An
  attribute of type Binary. For example:</p> <p> <code>\"B\": \"dGhpcyB0ZXh0IGlzIGJhc2U2NC1lbmNvZGVk\"</code>
  </p>\";}s:4:\"BOOL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/BooleanAttributeValue\";s:11:\"description\";s:84:\"<p>An
  attribute of type Boolean. For example:</p> <p> <code>\"BOOL\": true</code> </p>\";}s:2:\"BS\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/BinarySetAttributeValue\";s:11:\"description\";s:117:\"<p>An
  attribute of type Binary Set. For example:</p> <p> <code>\"BS\": [\"U3Vubnk=\",
  \"UmFpbnk=\", \"U25vd3k=\"]</code> </p>\";}s:1:\"L\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ListAttributeValue\";s:11:\"description\";s:104:\"<p>An
  attribute of type List. For example:</p> <p> <code>\"L\": [\"Cookies\", \"Coffee\",
  3.14159]</code> </p>\";}s:1:\"M\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MapAttributeValue\";s:11:\"description\";s:115:\"<p>An
  attribute of type Map. For example:</p> <p> <code>\"M\": {\"Name\": {\"S\": \"Joe\"},
  \"Age\": {\"N\": \"35\"}}</code> </p>\";}s:1:\"N\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/NumberAttributeValue\";s:11:\"description\";s:294:\"<p>An
  attribute of type Number. For example:</p> <p> <code>\"N\": \"123.45\"</code> </p>
  <p>Numbers are sent across the network to DynamoDB as strings, to maximize compatibility
  across languages and libraries. However, DynamoDB treats them as number type attributes
  for mathematical operations.</p>\";}s:2:\"NS\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/NumberSetAttributeValue\";s:11:\"description\";s:321:\"<p>An
  attribute of type Number Set. For example:</p> <p> <code>\"NS\": [\"42.2\", \"-19\",
  \"7.5\", \"3.14\"]</code> </p> <p>Numbers are sent across the network to DynamoDB
  as strings, to maximize compatibility across languages and libraries. However, DynamoDB
  treats them as number type attributes for mathematical operations.</p>\";}s:4:\"NULL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NullAttributeValue\";s:11:\"description\";s:81:\"<p>An
  attribute of type Null. For example:</p> <p> <code>\"NULL\": true</code> </p>\";}s:1:\"S\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/StringAttributeValue\";s:11:\"description\";s:83:\"<p>An
  attribute of type String. For example:</p> <p> <code>\"S\": \"Hello\"</code> </p>\";}s:2:\"SS\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/StringSetAttributeValue\";s:11:\"description\";s:110:\"<p>An
  attribute of type String Set. For example:</p> <p> <code>\"SS\": [\"Giraffe\", \"Hippo\"
  ,\"Zebra\"]</code> </p>\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AttributeValueList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AttributeValue\";}s:4:\"type\";s:5:\"array\";}s:20:\"AttributeValueUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:617:\"<p>For
  the <code>UpdateItem</code> operation, represents the attributes to be modified,
  the action to perform on each, and the new value for each.</p> <note> <p>You cannot
  use <code>UpdateItem</code> to update any primary key attributes. Instead, you will
  need to delete the item, and then use <code>PutItem</code> to create a new item
  with new attributes.</p> </note> <p>Attribute values cannot be null; string and
  binary type attributes must have lengths greater than zero; and set type attributes
  must not be empty. Requests with empty values will be rejected with a <code>ValidationException</code>
  exception.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Action\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AttributeAction\";s:11:\"description\";s:3833:\"<p>Specifies
  how to perform the update. Valid values are <code>PUT</code> (default), <code>DELETE</code>,
  and <code>ADD</code>. The behavior depends on whether the specified primary key
  already exists in the table.</p> <p> <b>If an item with the specified <i>Key</i>
  is found in the table:</b> </p> <ul> <li> <p> <code>PUT</code> - Adds the specified
  attribute to the item. If the attribute already exists, it is replaced by the new
  value. </p> </li> <li> <p> <code>DELETE</code> - If no value is specified, the attribute
  and its value are removed from the item. The data type of the specified value must
  match the existing value's data type.</p> <p>If a <i>set</i> of values is specified,
  then those values are subtracted from the old set. For example, if the attribute
  value was the set <code>[a,b,c]</code> and the <code>DELETE</code> action specified
  <code>[a,c]</code>, then the final attribute value would be <code>[b]</code>. Specifying
  an empty set is an error.</p> </li> <li> <p> <code>ADD</code> - If the attribute
  does not already exist, then the attribute and its values are added to the item.
  If the attribute does exist, then the behavior of <code>ADD</code> depends on the
  data type of the attribute:</p> <ul> <li> <p>If the existing attribute is a number,
  and if <code>Value</code> is also a number, then the <code>Value</code> is mathematically
  added to the existing attribute. If <code>Value</code> is a negative number, then
  it is subtracted from the existing attribute.</p> <note> <p> If you use <code>ADD</code>
  to increment or decrement a number value for an item that doesn't exist before the
  update, DynamoDB uses 0 as the initial value.</p> <p>In addition, if you use <code>ADD</code>
  to update an existing item, and intend to increment or decrement an attribute value
  which does not yet exist, DynamoDB uses <code>0</code> as the initial value. For
  example, suppose that the item you want to update does not yet have an attribute
  named <i>itemcount</i>, but you decide to <code>ADD</code> the number <code>3</code>
  to this attribute anyway, even though it currently does not exist. DynamoDB will
  create the <i>itemcount</i> attribute, set its initial value to <code>0</code>,
  and finally add <code>3</code> to it. The result will be a new <i>itemcount</i>
  attribute in the item, with a value of <code>3</code>.</p> </note> </li> <li> <p>If
  the existing data type is a set, and if the <code>Value</code> is also a set, then
  the <code>Value</code> is added to the existing set. (This is a <i>set</i> operation,
  not mathematical addition.) For example, if the attribute value was the set <code>[1,2]</code>,
  and the <code>ADD</code> action specified <code>[3]</code>, then the final attribute
  value would be <code>[1,2,3]</code>. An error occurs if an Add action is specified
  for a set attribute and the attribute type specified does not match the existing
  set type. </p> <p>Both sets must have the same primitive data type. For example,
  if the existing data type is a set of strings, the <code>Value</code> must also
  be a set of strings. The same holds true for number sets and binary sets.</p> </li>
  </ul> <p>This action is only valid for an existing attribute whose data type is
  number or is a set. Do not use <code>ADD</code> for any other data types.</p> </li>
  </ul> <p> <b>If no item with the specified <i>Key</i> is found:</b> </p> <ul> <li>
  <p> <code>PUT</code> - DynamoDB creates a new item with the specified primary key,
  and then adds the attribute. </p> </li> <li> <p> <code>DELETE</code> - Nothing happens;
  there is no attribute to delete.</p> </li> <li> <p> <code>ADD</code> - DynamoDB
  creates an item with the supplied primary key and number (or set of numbers) for
  the attribute value. The only data types allowed are number and number set; no other
  data types can be specified.</p> </li> </ul>\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AttributeValue\";s:11:\"description\";s:396:\"<p>Represents
  the data for an attribute.</p> <p>Each attribute value is described as a name-value
  pair. The name is the data type, and the value is the data itself.</p> <p>For more
  information, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.NamingRulesDataTypes.html#HowItWorks.DataTypes\">Data
  Types</a> in the <i>Amazon DynamoDB Developer Guide</i>. </p>\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Backfilling\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"BackupArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:37;s:4:\"type\";s:6:\"string\";}s:22:\"BackupCreationDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"BackupDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Contains
  the description of the backup created for the table.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"BackupDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BackupDetails\";s:11:\"description\";s:58:\"Contains
  the details of the backup created for the table. \";}s:18:\"SourceTableDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SourceTableDetails\";s:11:\"description\";s:63:\"Contains
  the details of the table when the backup was created. \";}s:25:\"SourceTableFeatureDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/SourceTableFeatureDetails\";s:11:\"description\";s:125:\"Contains
  the details of the features enabled on the table when the backup was created. For
  example, LSIs, GSIs, streams, TTL.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"BackupDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Contains
  the details of the backup created for the table.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"BackupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BackupArn\";s:11:\"description\";s:31:\"ARN
  associated with the backup.\";}s:22:\"BackupCreationDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/BackupCreationDateTime\";s:11:\"description\";s:78:\"Time
  at which the backup was created. This is the request time of the backup. \";}s:10:\"BackupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BackupName\";s:11:\"description\";s:29:\"Name
  of the requested backup.\";}s:15:\"BackupSizeBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BackupSizeBytes\";s:11:\"description\";s:28:\"Size
  of the backup in bytes.\";}s:12:\"BackupStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BackupStatus\";s:11:\"description\";s:73:\"Backup
  can be in one of the following states: CREATING, ACTIVE, DELETED. \";}}s:8:\"required\";a:4:{i:0;s:9:\"BackupArn\";i:1;s:10:\"BackupName\";i:2;s:12:\"BackupStatus\";i:3;s:22:\"BackupCreationDateTime\";}s:4:\"type\";s:6:\"object\";}s:20:\"BackupInUseException\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"There
  is another ongoing conflicting backup control plane operation on the table. The
  backups is either being created, deleted or restored to a table.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:10:\"BackupName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:3;s:7:\"pattern\";s:15:\"[a-zA-Z0-9_.-]+\";s:4:\"type\";s:6:\"string\";}s:23:\"BackupNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Backup
  not found for the given BackupARN. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:15:\"BackupSizeBytes\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:12:\"BackupStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:8:\"CREATING\";i:1;s:7:\"DELETED\";i:2;s:9:\"AVAILABLE\";}s:4:\"type\";s:6:\"string\";}s:15:\"BackupSummaries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BackupSummary\";}s:4:\"type\";s:5:\"array\";}s:13:\"BackupSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Contains
  details for the backup.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"BackupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BackupArn\";s:11:\"description\";s:31:\"ARN
  associated with the backup.\";}s:22:\"BackupCreationDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/BackupCreationDateTime\";s:11:\"description\";s:37:\"Time
  at which the backup was created.\";}s:10:\"BackupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BackupName\";s:11:\"description\";s:29:\"Name
  of the specified backup.\";}s:15:\"BackupSizeBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BackupSizeBytes\";s:11:\"description\";s:28:\"Size
  of the backup in bytes.\";}s:12:\"BackupStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BackupStatus\";s:11:\"description\";s:72:\"Backup
  can be in one of the following states: CREATING, ACTIVE, DELETED.\";}s:8:\"TableArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TableArn\";s:11:\"description\";s:30:\"ARN
  associated with the table.\";}s:7:\"TableId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TableId\";s:11:\"description\";s:32:\"Unique
  identifier for the table.\";}s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";s:11:\"description\";s:18:\"Name
  of the table.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"BackupsInputLimit\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:17:\"BatchGetItemInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:62:\"Represents
  the input of a <code>BatchGetItem</code> operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:12:\"RequestItems\";O:8:\"stdClass\":1:{s:5:\"Music\";O:8:\"stdClass\":2:{s:4:\"Keys\";a:3:{i:0;O:8:\"stdClass\":2:{s:6:\"Artist\";O:8:\"stdClass\":1:{s:1:\"S\";s:15:\"No
  One You Know\";}s:9:\"SongTitle\";O:8:\"stdClass\":1:{s:1:\"S\";s:13:\"Call Me Today\";}}i:1;O:8:\"stdClass\":2:{s:6:\"Artist\";O:8:\"stdClass\":1:{s:1:\"S\";s:9:\"Acme
  Band\";}s:9:\"SongTitle\";O:8:\"stdClass\":1:{s:1:\"S\";s:9:\"Happy Day\";}}i:2;O:8:\"stdClass\":2:{s:6:\"Artist\";O:8:\"stdClass\":1:{s:1:\"S\";s:15:\"No
  One You Know\";}s:9:\"SongTitle\";O:8:\"stdClass\":1:{s:1:\"S\";s:19:\"Scared of
  My Shadow\";}}}s:20:\"ProjectionExpression\";s:10:\"AlbumTitle\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"RequestItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchGetRequestMap\";s:11:\"description\";s:3660:\"<p>A
  map of one or more table names and, for each table, a map that describes one or
  more items to retrieve from that table. Each table name can be used only once per
  <code>BatchGetItem</code> request.</p> <p>Each element in the map of items to retrieve
  consists of the following:</p> <ul> <li> <p> <code>ConsistentRead</code> - If <code>true</code>,
  a strongly consistent read is used; if <code>false</code> (the default), an eventually
  consistent read is used.</p> </li> <li> <p> <code>ExpressionAttributeNames</code>
  - One or more substitution tokens for attribute names in the <code>ProjectionExpression</code>
  parameter. The following are some use cases for using <code>ExpressionAttributeNames</code>:</p>
  <ul> <li> <p>To access an attribute whose name conflicts with a DynamoDB reserved
  word.</p> </li> <li> <p>To create a placeholder for repeating occurrences of an
  attribute name in an expression.</p> </li> <li> <p>To prevent special characters
  in an attribute name from being misinterpreted in an expression.</p> </li> </ul>
  <p>Use the <b>#</b> character in an expression to dereference an attribute name.
  For example, consider the following attribute name:</p> <ul> <li> <p> <code>Percentile</code>
  </p> </li> </ul> <p>The name of this attribute conflicts with a reserved word, so
  it cannot be used directly in an expression. (For the complete list of reserved
  words, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ReservedWords.html\">Reserved
  Words</a> in the <i>Amazon DynamoDB Developer Guide</i>). To work around this, you
  could specify the following for <code>ExpressionAttributeNames</code>:</p> <ul>
  <li> <p> <code>{\"#P\":\"Percentile\"}</code> </p> </li> </ul> <p>You could then
  use this substitution in an expression, as in this example:</p> <ul> <li> <p> <code>#P
  = :val</code> </p> </li> </ul> <note> <p>Tokens that begin with the <b>:</b> character
  are <i>expression attribute values</i>, which are placeholders for the actual value
  at runtime.</p> </note> <p>For more information on expression attribute names, see
  <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.AccessingItemAttributes.html\">Accessing
  Item Attributes</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p> </li> <li>
  <p> <code>Keys</code> - An array of primary key attribute values that define specific
  items in the table. For each primary key, you must provide <i>all</i> of the key
  attributes. For example, with a simple primary key, you only need to provide the
  partition key value. For a composite key, you must provide <i>both</i> the partition
  key value and the sort key value.</p> </li> <li> <p> <code>ProjectionExpression</code>
  - A string that identifies one or more attributes to retrieve from the table. These
  attributes can include scalars, sets, or elements of a JSON document. The attributes
  in the expression must be separated by commas.</p> <p>If no attribute names are
  specified, then all attributes will be returned. If any of the requested attributes
  are not found, they will not appear in the result.</p> <p>For more information,
  see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.AccessingItemAttributes.html\">Accessing
  Item Attributes</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p> </li> <li>
  <p> <code>AttributesToGet</code> - This is a legacy parameter. Use <code>ProjectionExpression</code>
  instead. For more information, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/LegacyConditionalParameters.AttributesToGet.html\">AttributesToGet</a>
  in the <i>Amazon DynamoDB Developer Guide</i>. </p> </li> </ul>\";}s:22:\"ReturnConsumedCapacity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ReturnConsumedCapacity\";}}s:8:\"required\";a:1:{i:0;s:12:\"RequestItems\";}s:4:\"type\";s:6:\"object\";}s:18:\"BatchGetItemOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"Represents
  the output of a <code>BatchGetItem</code> operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"Responses\";O:8:\"stdClass\":1:{s:5:\"Music\";a:3:{i:0;O:8:\"stdClass\":1:{s:10:\"AlbumTitle\";O:8:\"stdClass\":1:{s:1:\"S\";s:15:\"Somewhat
  Famous\";}}i:1;O:8:\"stdClass\":1:{s:10:\"AlbumTitle\";O:8:\"stdClass\":1:{s:1:\"S\";s:14:\"Blue
  Sky Blues\";}}i:2;O:8:\"stdClass\":1:{s:10:\"AlbumTitle\";O:8:\"stdClass\":1:{s:1:\"S\";s:16:\"Louder
  Than Ever\";}}}}}s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"ConsumedCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ConsumedCapacityMultiple\";s:11:\"description\";s:323:\"<p>The
  read capacity units consumed by the entire <code>BatchGetItem</code> operation.</p>
  <p>Each element consists of:</p> <ul> <li> <p> <code>TableName</code> - The table
  that consumed the provisioned throughput.</p> </li> <li> <p> <code>CapacityUnits</code>
  - The total number of capacity units consumed.</p> </li> </ul>\";}s:9:\"Responses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/BatchGetResponseMap\";s:11:\"description\";s:187:\"A
  map of table name to a list of items. Each object in <code>Responses</code> consists
  of a table name, along with a map of attribute data consisting of the data type
  and attribute value.\";}s:15:\"UnprocessedKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchGetRequestMap\";s:11:\"description\";s:1086:\"<p>A
  map of tables and their respective keys that were not processed with the current
  response. The <code>UnprocessedKeys</code> value is in the same form as <code>RequestItems</code>,
  so the value can be provided directly to a subsequent <code>BatchGetItem</code>
  operation. For more information, see <code>RequestItems</code> in the Request Parameters
  section.</p> <p>Each element consists of:</p> <ul> <li> <p> <code>Keys</code> -
  An array of primary key attribute values that define specific items in the table.</p>
  </li> <li> <p> <code>ProjectionExpression</code> - One or more attributes to be
  retrieved from the table or index. By default, all attributes are returned. If a
  requested attribute is not found, it does not appear in the result.</p> </li> <li>
  <p> <code>ConsistentRead</code> - The consistency of a read operation. If set to
  <code>true</code>, then a strongly consistent read is used; otherwise, an eventually
  consistent read is used.</p> </li> </ul> <p>If there are no unprocessed keys remaining,
  the response contains an empty <code>UnprocessedKeys</code> map.</p>\";}}s:4:\"type\";s:6:\"object\";}s:18:\"BatchGetRequestMap\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/KeysAndAttributes\";}}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:19:\"BatchGetResponseMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ItemList\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:19:\"BatchWriteItemInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:64:\"Represents
  the input of a <code>BatchWriteItem</code> operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:12:\"RequestItems\";O:8:\"stdClass\":1:{s:5:\"Music\";a:3:{i:0;O:8:\"stdClass\":1:{s:10:\"PutRequest\";O:8:\"stdClass\":1:{s:4:\"Item\";O:8:\"stdClass\":3:{s:10:\"AlbumTitle\";O:8:\"stdClass\":1:{s:1:\"S\";s:15:\"Somewhat
  Famous\";}s:6:\"Artist\";O:8:\"stdClass\":1:{s:1:\"S\";s:15:\"No One You Know\";}s:9:\"SongTitle\";O:8:\"stdClass\":1:{s:1:\"S\";s:13:\"Call
  Me Today\";}}}}i:1;O:8:\"stdClass\":1:{s:10:\"PutRequest\";O:8:\"stdClass\":1:{s:4:\"Item\";O:8:\"stdClass\":3:{s:10:\"AlbumTitle\";O:8:\"stdClass\":1:{s:1:\"S\";s:16:\"Songs
  About Life\";}s:6:\"Artist\";O:8:\"stdClass\":1:{s:1:\"S\";s:9:\"Acme Band\";}s:9:\"SongTitle\";O:8:\"stdClass\":1:{s:1:\"S\";s:9:\"Happy
  Day\";}}}}i:2;O:8:\"stdClass\":1:{s:10:\"PutRequest\";O:8:\"stdClass\":1:{s:4:\"Item\";O:8:\"stdClass\":3:{s:10:\"AlbumTitle\";O:8:\"stdClass\":1:{s:1:\"S\";s:14:\"Blue
  Sky Blues\";}s:6:\"Artist\";O:8:\"stdClass\":1:{s:1:\"S\";s:15:\"No One You Know\";}s:9:\"SongTitle\";O:8:\"stdClass\":1:{s:1:\"S\";s:19:\"Scared
  of My Shadow\";}}}}}}}s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"RequestItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/BatchWriteItemRequestMap\";s:11:\"description\";s:1645:\"<p>A
  map of one or more table names and, for each table, a list of operations to be performed
  (<code>DeleteRequest</code> or <code>PutRequest</code>). Each element in the map
  consists of the following:</p> <ul> <li> <p> <code>DeleteRequest</code> - Perform
  a <code>DeleteItem</code> operation on the specified item. The item to be deleted
  is identified by a <code>Key</code> subelement:</p> <ul> <li> <p> <code>Key</code>
  - A map of primary key attribute values that uniquely identify the item. Each entry
  in this map consists of an attribute name and an attribute value. For each primary
  key, you must provide <i>all</i> of the key attributes. For example, with a simple
  primary key, you only need to provide a value for the partition key. For a composite
  primary key, you must provide values for <i>both</i> the partition key and the sort
  key.</p> </li> </ul> </li> <li> <p> <code>PutRequest</code> - Perform a <code>PutItem</code>
  operation on the specified item. The item to be put is identified by an <code>Item</code>
  subelement:</p> <ul> <li> <p> <code>Item</code> - A map of attributes and their
  values. Each entry in this map consists of an attribute name and an attribute value.
  Attribute values must not be null; string and binary type attributes must have lengths
  greater than zero; and set type attributes must not be empty. Requests that contain
  empty values will be rejected with a <code>ValidationException</code> exception.</p>
  <p>If you specify any attributes that are part of an index key, then the data types
  for those attributes must match those of the schema in the table's attribute definition.</p>
  </li> </ul> </li> </ul>\";}s:22:\"ReturnConsumedCapacity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ReturnConsumedCapacity\";}s:27:\"ReturnItemCollectionMetrics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ReturnItemCollectionMetrics\";s:11:\"description\";s:291:\"Determines
  whether item collection metrics are returned. If set to <code>SIZE</code>, the response
  includes statistics about item collections, if any, that were modified during the
  operation are returned in the response. If set to <code>NONE</code> (the default),
  no statistics are returned.\";}}s:8:\"required\";a:1:{i:0;s:12:\"RequestItems\";}s:4:\"type\";s:6:\"object\";}s:20:\"BatchWriteItemOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Represents
  the output of a <code>BatchWriteItem</code> operation.\";s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"ConsumedCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ConsumedCapacityMultiple\";s:11:\"description\";s:320:\"<p>The
  capacity units consumed by the entire <code>BatchWriteItem</code> operation.</p>
  <p>Each element consists of:</p> <ul> <li> <p> <code>TableName</code> - The table
  that consumed the provisioned throughput.</p> </li> <li> <p> <code>CapacityUnits</code>
  - The total number of capacity units consumed.</p> </li> </ul>\";}s:21:\"ItemCollectionMetrics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/ItemCollectionMetricsPerTable\";s:11:\"description\";s:1021:\"<p>A
  list of tables that were processed by <code>BatchWriteItem</code> and, for each
  table, information about any item collections that were affected by individual <code>DeleteItem</code>
  or <code>PutItem</code> operations.</p> <p>Each entry consists of the following
  subelements:</p> <ul> <li> <p> <code>ItemCollectionKey</code> - The partition key
  value of the item collection. This is the same as the partition key value of the
  item.</p> </li> <li> <p> <code>SizeEstimateRangeGB</code> - An estimate of item
  collection size, expressed in GB. This is a two-element array containing a lower
  bound and an upper bound for the estimate. The estimate includes the size of all
  the items in the table, plus the size of all attributes projected into all of the
  local secondary indexes on the table. Use this estimate to measure whether a local
  secondary index is approaching its size limit.</p> <p>The estimate is subject to
  change over time; therefore, do not rely on the precision or accuracy of the estimate.</p>
  </li> </ul>\";}s:16:\"UnprocessedItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/BatchWriteItemRequestMap\";s:11:\"description\";s:1817:\"<p>A
  map of tables and requests against those tables that were not processed. The <code>UnprocessedItems</code>
  value is in the same form as <code>RequestItems</code>, so you can provide this
  value directly to a subsequent <code>BatchGetItem</code> operation. For more information,
  see <code>RequestItems</code> in the Request Parameters section.</p> <p>Each <code>UnprocessedItems</code>
  entry consists of a table name and, for that table, a list of operations to perform
  (<code>DeleteRequest</code> or <code>PutRequest</code>).</p> <ul> <li> <p> <code>DeleteRequest</code>
  - Perform a <code>DeleteItem</code> operation on the specified item. The item to
  be deleted is identified by a <code>Key</code> subelement:</p> <ul> <li> <p> <code>Key</code>
  - A map of primary key attribute values that uniquely identify the item. Each entry
  in this map consists of an attribute name and an attribute value.</p> </li> </ul>
  </li> <li> <p> <code>PutRequest</code> - Perform a <code>PutItem</code> operation
  on the specified item. The item to be put is identified by an <code>Item</code>
  subelement:</p> <ul> <li> <p> <code>Item</code> - A map of attributes and their
  values. Each entry in this map consists of an attribute name and an attribute value.
  Attribute values must not be null; string and binary type attributes must have lengths
  greater than zero; and set type attributes must not be empty. Requests that contain
  empty values will be rejected with a <code>ValidationException</code> exception.</p>
  <p>If you specify any attributes that are part of an index key, then the data types
  for those attributes must match those of the schema in the table's attribute definition.</p>
  </li> </ul> </li> </ul> <p>If there are no unprocessed items remaining, the response
  contains an empty <code>UnprocessedItems</code> map.</p>\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BatchWriteItemRequestMap\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/WriteRequests\";}}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";i:25;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:20:\"BinaryAttributeValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"BinarySetAttributeValue\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/BinaryAttributeValue\";}s:4:\"type\";s:5:\"array\";}s:21:\"BooleanAttributeValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"BooleanObject\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"Capacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Represents
  the amount of provisioned throughput capacity consumed on a table or an index.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"CapacityUnits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ConsumedCapacityUnits\";s:11:\"description\";s:67:\"The
  total number of capacity units consumed on a table or an index.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ComparisonOperator\";O:8:\"stdClass\":2:{s:4:\"enum\";a:13:{i:0;s:2:\"EQ\";i:1;s:2:\"NE\";i:2;s:2:\"IN\";i:3;s:2:\"LE\";i:4;s:2:\"LT\";i:5;s:2:\"GE\";i:6;s:2:\"GT\";i:7;s:7:\"BETWEEN\";i:8;s:8:\"NOT_NULL\";i:9;s:4:\"NULL\";i:10;s:8:\"CONTAINS\";i:11;s:12:\"NOT_CONTAINS\";i:12;s:11:\"BEGINS_WITH\";}s:4:\"type\";s:6:\"string\";}s:9:\"Condition\";O:8:\"stdClass\":4:{s:11:\"description\";s:767:\"<p>Represents
  the selection criteria for a <code>Query</code> or <code>Scan</code> operation:</p>
  <ul> <li> <p>For a <code>Query</code> operation, <code>Condition</code> is used
  for specifying the <code>KeyConditions</code> to use when querying a table or an
  index. For <code>KeyConditions</code>, only the following comparison operators are
  supported:</p> <p> <code>EQ | LE | LT | GE | GT | BEGINS_WITH | BETWEEN</code> </p>
  <p> <code>Condition</code> is also used in a <code>QueryFilter</code>, which evaluates
  the query results and returns only the desired values.</p> </li> <li> <p>For a <code>Scan</code>
  operation, <code>Condition</code> is used in a <code>ScanFilter</code>, which evaluates
  the scan results and returns only the desired values.</p> </li> </ul>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"AttributeValueList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AttributeValueList\";s:11:\"description\";s:718:\"<p>One
  or more values to evaluate against the supplied attribute. The number of values
  in the list depends on the <code>ComparisonOperator</code> being used.</p> <p>For
  type Number, value comparisons are numeric.</p> <p>String value comparisons for
  greater than, equals, or less than are based on ASCII character code values. For
  example, <code>a</code> is greater than <code>A</code>, and <code>a</code> is greater
  than <code>B</code>. For a list of code values, see <a href=\"http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters\">http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters</a>.</p>
  <p>For Binary, DynamoDB treats each byte of the binary data as unsigned when it
  compares binary values.</p>\";}s:18:\"ComparisonOperator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ComparisonOperator\";s:11:\"description\";s:8162:\"<p>A
  comparator for evaluating attributes. For example, equals, greater than, less than,
  etc.</p> <p>The following comparison operators are available:</p> <p> <code>EQ |
  NE | LE | LT | GE | GT | NOT_NULL | NULL | CONTAINS | NOT_CONTAINS | BEGINS_WITH
  | IN | BETWEEN</code> </p> <p>The following are descriptions of each comparison
  operator.</p> <ul> <li> <p> <code>EQ</code> : Equal. <code>EQ</code> is supported
  for all data types, including lists and maps.</p> <p> <code>AttributeValueList</code>
  can contain only one <code>AttributeValue</code> element of type String, Number,
  Binary, String Set, Number Set, or Binary Set. If an item contains an <code>AttributeValue</code>
  element of a different type than the one provided in the request, the value does
  not match. For example, <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>.
  Also, <code>{\"N\":\"6\"}</code> does not equal <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>.</p>
  <p/> </li> <li> <p> <code>NE</code> : Not equal. <code>NE</code> is supported for
  all data types, including lists and maps.</p> <p> <code>AttributeValueList</code>
  can contain only one <code>AttributeValue</code> of type String, Number, Binary,
  String Set, Number Set, or Binary Set. If an item contains an <code>AttributeValue</code>
  of a different type than the one provided in the request, the value does not match.
  For example, <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>.
  Also, <code>{\"N\":\"6\"}</code> does not equal <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>.</p>
  <p/> </li> <li> <p> <code>LE</code> : Less than or equal. </p> <p> <code>AttributeValueList</code>
  can contain only one <code>AttributeValue</code> element of type String, Number,
  or Binary (not a set type). If an item contains an <code>AttributeValue</code> element
  of a different type than the one provided in the request, the value does not match.
  For example, <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>.
  Also, <code>{\"N\":\"6\"}</code> does not compare to <code>{\"NS\":[\"6\", \"2\",
  \"1\"]}</code>.</p> <p/> </li> <li> <p> <code>LT</code> : Less than. </p> <p> <code>AttributeValueList</code>
  can contain only one <code>AttributeValue</code> of type String, Number, or Binary
  (not a set type). If an item contains an <code>AttributeValue</code> element of
  a different type than the one provided in the request, the value does not match.
  For example, <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>.
  Also, <code>{\"N\":\"6\"}</code> does not compare to <code>{\"NS\":[\"6\", \"2\",
  \"1\"]}</code>.</p> <p/> </li> <li> <p> <code>GE</code> : Greater than or equal.
  </p> <p> <code>AttributeValueList</code> can contain only one <code>AttributeValue</code>
  element of type String, Number, or Binary (not a set type). If an item contains
  an <code>AttributeValue</code> element of a different type than the one provided
  in the request, the value does not match. For example, <code>{\"S\":\"6\"}</code>
  does not equal <code>{\"N\":\"6\"}</code>. Also, <code>{\"N\":\"6\"}</code> does
  not compare to <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>.</p> <p/> </li> <li>
  <p> <code>GT</code> : Greater than. </p> <p> <code>AttributeValueList</code> can
  contain only one <code>AttributeValue</code> element of type String, Number, or
  Binary (not a set type). If an item contains an <code>AttributeValue</code> element
  of a different type than the one provided in the request, the value does not match.
  For example, <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>.
  Also, <code>{\"N\":\"6\"}</code> does not compare to <code>{\"NS\":[\"6\", \"2\",
  \"1\"]}</code>.</p> <p/> </li> <li> <p> <code>NOT_NULL</code> : The attribute exists.
  <code>NOT_NULL</code> is supported for all data types, including lists and maps.</p>
  <note> <p>This operator tests for the existence of an attribute, not its data type.
  If the data type of attribute \"<code>a</code>\" is null, and you evaluate it using
  <code>NOT_NULL</code>, the result is a Boolean <code>true</code>. This result is
  because the attribute \"<code>a</code>\" exists; its data type is not relevant to
  the <code>NOT_NULL</code> comparison operator.</p> </note> </li> <li> <p> <code>NULL</code>
  : The attribute does not exist. <code>NULL</code> is supported for all data types,
  including lists and maps.</p> <note> <p>This operator tests for the nonexistence
  of an attribute, not its data type. If the data type of attribute \"<code>a</code>\"
  is null, and you evaluate it using <code>NULL</code>, the result is a Boolean <code>false</code>.
  This is because the attribute \"<code>a</code>\" exists; its data type is not relevant
  to the <code>NULL</code> comparison operator.</p> </note> </li> <li> <p> <code>CONTAINS</code>
  : Checks for a subsequence, or value in a set.</p> <p> <code>AttributeValueList</code>
  can contain only one <code>AttributeValue</code> element of type String, Number,
  or Binary (not a set type). If the target attribute of the comparison is of type
  String, then the operator checks for a substring match. If the target attribute
  of the comparison is of type Binary, then the operator looks for a subsequence of
  the target that matches the input. If the target attribute of the comparison is
  a set (\"<code>SS</code>\", \"<code>NS</code>\", or \"<code>BS</code>\"), then the
  operator evaluates to true if it finds an exact match with any member of the set.</p>
  <p>CONTAINS is supported for lists: When evaluating \"<code>a CONTAINS b</code>\",
  \"<code>a</code>\" can be a list; however, \"<code>b</code>\" cannot be a set, a
  map, or a list.</p> </li> <li> <p> <code>NOT_CONTAINS</code> : Checks for absence
  of a subsequence, or absence of a value in a set.</p> <p> <code>AttributeValueList</code>
  can contain only one <code>AttributeValue</code> element of type String, Number,
  or Binary (not a set type). If the target attribute of the comparison is a String,
  then the operator checks for the absence of a substring match. If the target attribute
  of the comparison is Binary, then the operator checks for the absence of a subsequence
  of the target that matches the input. If the target attribute of the comparison
  is a set (\"<code>SS</code>\", \"<code>NS</code>\", or \"<code>BS</code>\"), then
  the operator evaluates to true if it <i>does not</i> find an exact match with any
  member of the set.</p> <p>NOT_CONTAINS is supported for lists: When evaluating \"<code>a
  NOT CONTAINS b</code>\", \"<code>a</code>\" can be a list; however, \"<code>b</code>\"
  cannot be a set, a map, or a list.</p> </li> <li> <p> <code>BEGINS_WITH</code> :
  Checks for a prefix. </p> <p> <code>AttributeValueList</code> can contain only one
  <code>AttributeValue</code> of type String or Binary (not a Number or a set type).
  The target attribute of the comparison must be of type String or Binary (not a Number
  or a set type).</p> <p/> </li> <li> <p> <code>IN</code> : Checks for matching elements
  in a list.</p> <p> <code>AttributeValueList</code> can contain one or more <code>AttributeValue</code>
  elements of type String, Number, or Binary. These attributes are compared against
  an existing attribute of an item. If any elements of the input are equal to the
  item attribute, the expression evaluates to true.</p> </li> <li> <p> <code>BETWEEN</code>
  : Greater than or equal to the first value, and less than or equal to the second
  value. </p> <p> <code>AttributeValueList</code> must contain two <code>AttributeValue</code>
  elements of the same type, either String, Number, or Binary (not a set type). A
  target attribute matches if the target value is greater than, or equal to, the first
  element and less than, or equal to, the second element. If an item contains an <code>AttributeValue</code>
  element of a different type than the one provided in the request, the value does
  not match. For example, <code>{\"S\":\"6\"}</code> does not compare to <code>{\"N\":\"6\"}</code>.
  Also, <code>{\"N\":\"6\"}</code> does not compare to <code>{\"NS\":[\"6\", \"2\",
  \"1\"]}</code> </p> </li> </ul> <p>For usage examples of <code>AttributeValueList</code>
  and <code>ComparisonOperator</code>, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/LegacyConditionalParameters.html\">Legacy
  Conditional Parameters</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p>\";}}s:8:\"required\";a:1:{i:0;s:18:\"ComparisonOperator\";}s:4:\"type\";s:6:\"object\";}s:19:\"ConditionExpression\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"ConditionalCheckFailedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  condition specified in the operation could not be evaluated.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:31:\"The
  conditional request failed.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ConditionalOperator\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:3:\"AND\";i:1;s:2:\"OR\";}s:4:\"type\";s:6:\"string\";}s:14:\"ConsistentRead\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"ConsumedCapacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:475:\"The
  capacity units consumed by an operation. The data returned includes the total provisioned
  throughput consumed, along with statistics for the table and any indexes involved
  in the operation. <code>ConsumedCapacity</code> is only returned if the request
  asked for it. For more information, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ProvisionedThroughputIntro.html\">Provisioned
  Throughput</a> in the <i>Amazon DynamoDB Developer Guide</i>.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"CapacityUnits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ConsumedCapacityUnits\";s:11:\"description\";s:61:\"The
  total number of capacity units consumed by the operation.\";}s:22:\"GlobalSecondaryIndexes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/SecondaryIndexesCapacityMap\";s:11:\"description\";s:81:\"The
  amount of throughput consumed on each global index affected by the operation.\";}s:21:\"LocalSecondaryIndexes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/SecondaryIndexesCapacityMap\";s:11:\"description\";s:80:\"The
  amount of throughput consumed on each local index affected by the operation.\";}s:5:\"Table\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Capacity\";s:11:\"description\";s:73:\"The
  amount of throughput consumed on the table affected by the operation.\";}s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";s:11:\"description\";s:57:\"The
  name of the table that was affected by the operation.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ConsumedCapacityMultiple\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ConsumedCapacity\";}s:4:\"type\";s:5:\"array\";}s:21:\"ConsumedCapacityUnits\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:28:\"ContinuousBackupsDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:83:\"Represents
  the continuous backups and point in time recovery settings on the table.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"ContinuousBackupsStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ContinuousBackupsStatus\";s:11:\"description\";s:92:\"
  <code>ContinuousBackupsStatus</code> can be one of the following states : ENABLED,
  DISABLED\";}s:30:\"PointInTimeRecoveryDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/PointInTimeRecoveryDescription\";s:11:\"description\";s:76:\"The
  description of the point in time recovery settings applied to the table.\";}}s:8:\"required\";a:1:{i:0;s:23:\"ContinuousBackupsStatus\";}s:4:\"type\";s:6:\"object\";}s:23:\"ContinuousBackupsStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"ENABLED\";i:1;s:8:\"DISABLED\";}s:4:\"type\";s:6:\"string\";}s:37:\"ContinuousBackupsUnavailableException\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Backups
  have not yet been enabled for this table.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CreateBackupInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"BackupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BackupName\";s:11:\"description\";s:30:\"Specified
  name for the backup.\";}s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";s:11:\"description\";s:22:\"The
  name of the table.\";}}s:8:\"required\";a:2:{i:0;s:9:\"TableName\";i:1;s:10:\"BackupName\";}s:4:\"type\";s:6:\"object\";}s:18:\"CreateBackupOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"BackupDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BackupDetails\";s:11:\"description\";s:57:\"Contains
  the details of the backup created for the table.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CreateGlobalSecondaryIndexAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"Represents
  a new global secondary index to be added to an existing table.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"IndexName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IndexName\";s:11:\"description\";s:53:\"The
  name of the global secondary index to be created.\";}s:9:\"KeySchema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeySchema\";s:11:\"description\";s:46:\"The
  key schema for the global secondary index.\";}s:10:\"Projection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Projection\";s:11:\"description\";s:192:\"Represents
  attributes that are copied (projected) from the table into an index. These are in
  addition to the primary key attributes and index key attributes, which are automatically
  projected.\";}s:21:\"ProvisionedThroughput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ProvisionedThroughput\";s:11:\"description\";s:313:\"<p>Represents
  the provisioned throughput settings for the specified global secondary index.</p>
  <p>For current minimum and maximum provisioned throughput values, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html\">Limits</a>
  in the <i>Amazon DynamoDB Developer Guide</i>.</p>\";}}s:8:\"required\";a:4:{i:0;s:9:\"IndexName\";i:1;s:9:\"KeySchema\";i:2;s:10:\"Projection\";i:3;s:21:\"ProvisionedThroughput\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateGlobalTableInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"GlobalTableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";s:11:\"description\";s:22:\"The
  global table name.\";}s:16:\"ReplicationGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ReplicaList\";s:11:\"description\";s:55:\"The
  regions where the global table needs to be created.\";}}s:8:\"required\";a:2:{i:0;s:15:\"GlobalTableName\";i:1;s:16:\"ReplicationGroup\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreateGlobalTableOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"GlobalTableDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/GlobalTableDescription\";s:11:\"description\";s:41:\"Contains
  the details of the global table.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateReplicaAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Represents
  a replica to be added.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"RegionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegionName\";s:11:\"description\";s:38:\"The
  region of the replica to be added.\";}}s:8:\"required\";a:1:{i:0;s:10:\"RegionName\";}s:4:\"type\";s:6:\"object\";}s:16:\"CreateTableInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:61:\"Represents
  the input of a <code>CreateTable</code> operation.\";s:7:\"example\";O:8:\"stdClass\":4:{s:20:\"AttributeDefinitions\";a:2:{i:0;O:8:\"stdClass\":2:{s:13:\"AttributeName\";s:6:\"Artist\";s:13:\"AttributeType\";s:1:\"S\";}i:1;O:8:\"stdClass\":2:{s:13:\"AttributeName\";s:9:\"SongTitle\";s:13:\"AttributeType\";s:1:\"S\";}}s:9:\"KeySchema\";a:2:{i:0;O:8:\"stdClass\":2:{s:13:\"AttributeName\";s:6:\"Artist\";s:7:\"KeyType\";s:4:\"HASH\";}i:1;O:8:\"stdClass\":2:{s:13:\"AttributeName\";s:9:\"SongTitle\";s:7:\"KeyType\";s:5:\"RANGE\";}}s:21:\"ProvisionedThroughput\";O:8:\"stdClass\":2:{s:17:\"ReadCapacityUnits\";i:5;s:18:\"WriteCapacityUnits\";i:5;}s:9:\"TableName\";s:5:\"Music\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:20:\"AttributeDefinitions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AttributeDefinitions\";s:11:\"description\";s:78:\"An
  array of attributes that describe the key schema for the table and indexes.\";}s:22:\"GlobalSecondaryIndexes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/GlobalSecondaryIndexList\";s:11:\"description\";s:1729:\"<p>One
  or more global secondary indexes (the maximum is five) to be created on the table.
  Each global secondary index in the array includes the following:</p> <ul> <li> <p>
  <code>IndexName</code> - The name of the global secondary index. Must be unique
  only for this table.</p> <p/> </li> <li> <p> <code>KeySchema</code> - Specifies
  the key schema for the global secondary index.</p> </li> <li> <p> <code>Projection</code>
  - Specifies attributes that are copied (projected) from the table into the index.
  These are in addition to the primary key attributes and index key attributes, which
  are automatically projected. Each attribute specification is composed of:</p> <ul>
  <li> <p> <code>ProjectionType</code> - One of the following:</p> <ul> <li> <p> <code>KEYS_ONLY</code>
  - Only the index and primary keys are projected into the index.</p> </li> <li> <p>
  <code>INCLUDE</code> - Only the specified table attributes are projected into the
  index. The list of projected attributes are in <code>NonKeyAttributes</code>.</p>
  </li> <li> <p> <code>ALL</code> - All of the table attributes are projected into
  the index.</p> </li> </ul> </li> <li> <p> <code>NonKeyAttributes</code> - A list
  of one or more non-key attribute names that are projected into the secondary index.
  The total count of attributes provided in <code>NonKeyAttributes</code>, summed
  across all of the secondary indexes, must not exceed 20. If you project the same
  attribute into two different indexes, this counts as two distinct attributes when
  determining the total.</p> </li> </ul> </li> <li> <p> <code>ProvisionedThroughput</code>
  - The provisioned throughput settings for the global secondary index, consisting
  of read and write capacity units.</p> </li> </ul>\";}s:9:\"KeySchema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeySchema\";s:11:\"description\";s:1886:\"<p>Specifies
  the attributes that make up the primary key for a table or an index. The attributes
  in <code>KeySchema</code> must also be defined in the <code>AttributeDefinitions</code>
  array. For more information, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DataModel.html\">Data
  Model</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p> <p>Each <code>KeySchemaElement</code>
  in the array is composed of:</p> <ul> <li> <p> <code>AttributeName</code> - The
  name of this key attribute.</p> </li> <li> <p> <code>KeyType</code> - The role that
  the key attribute will assume:</p> <ul> <li> <p> <code>HASH</code> - partition key</p>
  </li> <li> <p> <code>RANGE</code> - sort key</p> </li> </ul> </li> </ul> <note>
  <p>The partition key of an item is also known as its <i>hash attribute</i>. The
  term \"hash attribute\" derives from DynamoDB' usage of an internal hash function
  to evenly distribute data items across partitions, based on their partition key
  values.</p> <p>The sort key of an item is also known as its <i>range attribute</i>.
  The term \"range attribute\" derives from the way DynamoDB stores items with the
  same partition key physically close together, in sorted order by the sort key value.</p>
  </note> <p>For a simple primary key (partition key), you must provide exactly one
  element with a <code>KeyType</code> of <code>HASH</code>.</p> <p>For a composite
  primary key (partition key and sort key), you must provide exactly two elements,
  in this order: The first element must have a <code>KeyType</code> of <code>HASH</code>,
  and the second element must have a <code>KeyType</code> of <code>RANGE</code>.</p>
  <p>For more information, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/WorkingWithTables.html#WorkingWithTables.primary.key\">Specifying
  the Primary Key</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p>\";}s:21:\"LocalSecondaryIndexes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/LocalSecondaryIndexList\";s:11:\"description\";s:1802:\"<p>One
  or more local secondary indexes (the maximum is five) to be created on the table.
  Each index is scoped to a given partition key value. There is a 10 GB size limit
  per partition key value; otherwise, the size of a local secondary index is unconstrained.</p>
  <p>Each local secondary index in the array includes the following:</p> <ul> <li>
  <p> <code>IndexName</code> - The name of the local secondary index. Must be unique
  only for this table.</p> <p/> </li> <li> <p> <code>KeySchema</code> - Specifies
  the key schema for the local secondary index. The key schema must begin with the
  same partition key as the table.</p> </li> <li> <p> <code>Projection</code> - Specifies
  attributes that are copied (projected) from the table into the index. These are
  in addition to the primary key attributes and index key attributes, which are automatically
  projected. Each attribute specification is composed of:</p> <ul> <li> <p> <code>ProjectionType</code>
  - One of the following:</p> <ul> <li> <p> <code>KEYS_ONLY</code> - Only the index
  and primary keys are projected into the index.</p> </li> <li> <p> <code>INCLUDE</code>
  - Only the specified table attributes are projected into the index. The list of
  projected attributes are in <code>NonKeyAttributes</code>.</p> </li> <li> <p> <code>ALL</code>
  - All of the table attributes are projected into the index.</p> </li> </ul> </li>
  <li> <p> <code>NonKeyAttributes</code> - A list of one or more non-key attribute
  names that are projected into the secondary index. The total count of attributes
  provided in <code>NonKeyAttributes</code>, summed across all of the secondary indexes,
  must not exceed 20. If you project the same attribute into two different indexes,
  this counts as two distinct attributes when determining the total.</p> </li> </ul>
  </li> </ul>\";}s:21:\"ProvisionedThroughput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ProvisionedThroughput\";s:11:\"description\";s:378:\"<p>Represents
  the provisioned throughput settings for a specified table or index. The settings
  can be modified using the <code>UpdateTable</code> operation.</p> <p>For current
  minimum and maximum provisioned throughput values, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html\">Limits</a>
  in the <i>Amazon DynamoDB Developer Guide</i>.</p>\";}s:16:\"SSESpecification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SSESpecification\";s:11:\"description\";s:62:\"Represents
  the settings used to enable server-side encryption.\";}s:19:\"StreamSpecification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/StreamSpecification\";s:11:\"description\";s:945:\"<p>The
  settings for DynamoDB Streams on the table. These settings consist of:</p> <ul>
  <li> <p> <code>StreamEnabled</code> - Indicates whether Streams is to be enabled
  (true) or disabled (false).</p> </li> <li> <p> <code>StreamViewType</code> - When
  an item in the table is modified, <code>StreamViewType</code> determines what information
  is written to the table's stream. Valid values for <code>StreamViewType</code> are:</p>
  <ul> <li> <p> <code>KEYS_ONLY</code> - Only the key attributes of the modified item
  are written to the stream.</p> </li> <li> <p> <code>NEW_IMAGE</code> - The entire
  item, as it appears after it was modified, is written to the stream.</p> </li> <li>
  <p> <code>OLD_IMAGE</code> - The entire item, as it appeared before it was modified,
  is written to the stream.</p> </li> <li> <p> <code>NEW_AND_OLD_IMAGES</code> - Both
  the new and the old item images of the item are written to the stream.</p> </li>
  </ul> </li> </ul>\";}s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";s:11:\"description\";s:32:\"The
  name of the table to create.\";}}s:8:\"required\";a:4:{i:0;s:20:\"AttributeDefinitions\";i:1;s:9:\"TableName\";i:2;s:9:\"KeySchema\";i:3;s:21:\"ProvisionedThroughput\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateTableOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Represents
  the output of a <code>CreateTable</code> operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"TableDescription\";O:8:\"stdClass\":8:{s:20:\"AttributeDefinitions\";a:2:{i:0;O:8:\"stdClass\":2:{s:13:\"AttributeName\";s:6:\"Artist\";s:13:\"AttributeType\";s:1:\"S\";}i:1;O:8:\"stdClass\":2:{s:13:\"AttributeName\";s:9:\"SongTitle\";s:13:\"AttributeType\";s:1:\"S\";}}s:16:\"CreationDateTime\";s:14:\"1421866952.062\";s:9:\"ItemCount\";i:0;s:9:\"KeySchema\";a:2:{i:0;O:8:\"stdClass\":2:{s:13:\"AttributeName\";s:6:\"Artist\";s:7:\"KeyType\";s:4:\"HASH\";}i:1;O:8:\"stdClass\":2:{s:13:\"AttributeName\";s:9:\"SongTitle\";s:7:\"KeyType\";s:5:\"RANGE\";}}s:21:\"ProvisionedThroughput\";O:8:\"stdClass\":2:{s:17:\"ReadCapacityUnits\";i:5;s:18:\"WriteCapacityUnits\";i:5;}s:9:\"TableName\";s:5:\"Music\";s:14:\"TableSizeBytes\";i:0;s:11:\"TableStatus\";s:8:\"CREATING\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"TableDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TableDescription\";s:11:\"description\";s:39:\"Represents
  the properties of the table.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"DeleteBackupInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"BackupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BackupArn\";s:11:\"description\";s:35:\"The
  ARN associated with the backup.\";}}s:8:\"required\";a:1:{i:0;s:9:\"BackupArn\";}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteBackupOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"BackupDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/BackupDescription\";s:11:\"description\";s:61:\"Contains
  the description of the backup created for the table.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteGlobalSecondaryIndexAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"Represents
  a global secondary index to be deleted from an existing table.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"IndexName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IndexName\";s:11:\"description\";s:53:\"The
  name of the global secondary index to be deleted.\";}}s:8:\"required\";a:1:{i:0;s:9:\"IndexName\";}s:4:\"type\";s:6:\"object\";}s:15:\"DeleteItemInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:60:\"Represents
  the input of a <code>DeleteItem</code> operation.\";s:7:\"example\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:6:\"Artist\";O:8:\"stdClass\":1:{s:1:\"S\";s:15:\"No
  One You Know\";}s:9:\"SongTitle\";O:8:\"stdClass\":1:{s:1:\"S\";s:19:\"Scared of
  My Shadow\";}}s:9:\"TableName\";s:5:\"Music\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:19:\"ConditionExpression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ConditionExpression\";s:11:\"description\";s:773:\"<p>A
  condition that must be satisfied in order for a conditional <code>DeleteItem</code>
  to succeed.</p> <p>An expression can contain any of the following:</p> <ul> <li>
  <p>Functions: <code>attribute_exists | attribute_not_exists | attribute_type | contains
  | begins_with | size</code> </p> <p>These function names are case-sensitive.</p>
  </li> <li> <p>Comparison operators: <code>= | &lt;&gt; | &lt; | &gt; | &lt;= | &gt;=
  | BETWEEN | IN </code> </p> </li> <li> <p> Logical operators: <code>AND | OR | NOT</code>
  </p> </li> </ul> <p>For more information on condition expressions, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.SpecifyingConditions.html\">Specifying
  Conditions</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p>\";}s:19:\"ConditionalOperator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ConditionalOperator\";s:11:\"description\";s:297:\"This
  is a legacy parameter. Use <code>ConditionExpression</code> instead. For more information,
  see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/LegacyConditionalParameters.ConditionalOperator.html\">ConditionalOperator</a>
  in the <i>Amazon DynamoDB Developer Guide</i>.\";}s:8:\"Expected\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ExpectedAttributeMap\";s:11:\"description\";s:275:\"This
  is a legacy parameter. Use <code>ConditionExpression</code> instead. For more information,
  see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/LegacyConditionalParameters.Expected.html\">Expected</a>
  in the <i>Amazon DynamoDB Developer Guide</i>.\";}s:24:\"ExpressionAttributeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ExpressionAttributeNameMap\";s:11:\"description\";s:1709:\"<p>One
  or more substitution tokens for attribute names in an expression. The following
  are some use cases for using <code>ExpressionAttributeNames</code>:</p> <ul> <li>
  <p>To access an attribute whose name conflicts with a DynamoDB reserved word.</p>
  </li> <li> <p>To create a placeholder for repeating occurrences of an attribute
  name in an expression.</p> </li> <li> <p>To prevent special characters in an attribute
  name from being misinterpreted in an expression.</p> </li> </ul> <p>Use the <b>#</b>
  character in an expression to dereference an attribute name. For example, consider
  the following attribute name:</p> <ul> <li> <p> <code>Percentile</code> </p> </li>
  </ul> <p>The name of this attribute conflicts with a reserved word, so it cannot
  be used directly in an expression. (For the complete list of reserved words, see
  <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ReservedWords.html\">Reserved
  Words</a> in the <i>Amazon DynamoDB Developer Guide</i>). To work around this, you
  could specify the following for <code>ExpressionAttributeNames</code>:</p> <ul>
  <li> <p> <code>{\"#P\":\"Percentile\"}</code> </p> </li> </ul> <p>You could then
  use this substitution in an expression, as in this example:</p> <ul> <li> <p> <code>#P
  = :val</code> </p> </li> </ul> <note> <p>Tokens that begin with the <b>:</b> character
  are <i>expression attribute values</i>, which are placeholders for the actual value
  at runtime.</p> </note> <p>For more information on expression attribute names, see
  <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.AccessingItemAttributes.html\">Accessing
  Item Attributes</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p>\";}s:25:\"ExpressionAttributeValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ExpressionAttributeValueMap\";s:11:\"description\";s:935:\"<p>One
  or more values that can be substituted in an expression.</p> <p>Use the <b>:</b>
  (colon) character in an expression to dereference an attribute value. For example,
  suppose that you wanted to check whether the value of the <i>ProductStatus</i> attribute
  was one of the following: </p> <p> <code>Available | Backordered | Discontinued</code>
  </p> <p>You would first need to specify <code>ExpressionAttributeValues</code> as
  follows:</p> <p> <code>{ \":avail\":{\"S\":\"Available\"}, \":back\":{\"S\":\"Backordered\"},
  \":disc\":{\"S\":\"Discontinued\"} }</code> </p> <p>You could then use these values
  in an expression, such as this:</p> <p> <code>ProductStatus IN (:avail, :back, :disc)</code>
  </p> <p>For more information on expression attribute values, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.SpecifyingConditions.html\">Specifying
  Conditions</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p>\";}s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Key\";s:11:\"description\";s:385:\"<p>A
  map of attribute names to <code>AttributeValue</code> objects, representing the
  primary key of the item to delete.</p> <p>For the primary key, you must provide
  all of the attributes. For example, with a simple primary key, you only need to
  provide a value for the partition key. For a composite primary key, you must provide
  values for both the partition key and the sort key.</p>\";}s:22:\"ReturnConsumedCapacity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ReturnConsumedCapacity\";}s:27:\"ReturnItemCollectionMetrics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ReturnItemCollectionMetrics\";s:11:\"description\";s:291:\"Determines
  whether item collection metrics are returned. If set to <code>SIZE</code>, the response
  includes statistics about item collections, if any, that were modified during the
  operation are returned in the response. If set to <code>NONE</code> (the default),
  no statistics are returned.\";}s:12:\"ReturnValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ReturnValue\";s:11:\"description\";s:693:\"<p>Use
  <code>ReturnValues</code> if you want to get the item attributes as they appeared
  before they were deleted. For <code>DeleteItem</code>, the valid values are:</p>
  <ul> <li> <p> <code>NONE</code> - If <code>ReturnValues</code> is not specified,
  or if its value is <code>NONE</code>, then nothing is returned. (This setting is
  the default for <code>ReturnValues</code>.)</p> </li> <li> <p> <code>ALL_OLD</code>
  - The content of the old item is returned.</p> </li> </ul> <note> <p>The <code>ReturnValues</code>
  parameter is used by several DynamoDB operations; however, <code>DeleteItem</code>
  does not recognize any values other than <code>NONE</code> or <code>ALL_OLD</code>.</p>
  </note>\";}s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";s:11:\"description\";s:52:\"The
  name of the table from which to delete the item.\";}}s:8:\"required\";a:2:{i:0;s:9:\"TableName\";i:1;s:3:\"Key\";}s:4:\"type\";s:6:\"object\";}s:16:\"DeleteItemOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Represents
  the output of a <code>DeleteItem</code> operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"ConsumedCapacity\";O:8:\"stdClass\":2:{s:13:\"CapacityUnits\";i:1;s:9:\"TableName\";s:5:\"Music\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AttributeMap\";s:11:\"description\";s:268:\"A
  map of attribute names to <code>AttributeValue</code> objects, representing the
  item as it appeared before the <code>DeleteItem</code> operation. This map appears
  in the response only if <code>ReturnValues</code> was specified as <code>ALL_OLD</code>
  in the request.\";}s:16:\"ConsumedCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ConsumedCapacity\";s:11:\"description\";s:539:\"The
  capacity units consumed by the <code>DeleteItem</code> operation. The data returned
  includes the total provisioned throughput consumed, along with statistics for the
  table and any indexes involved in the operation. <code>ConsumedCapacity</code> is
  only returned if the <code>ReturnConsumedCapacity</code> parameter was specified.
  For more information, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ProvisionedThroughputIntro.html\">Provisioned
  Throughput</a> in the <i>Amazon DynamoDB Developer Guide</i>.\";}s:21:\"ItemCollectionMetrics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ItemCollectionMetrics\";s:11:\"description\";s:1158:\"<p>Information
  about item collections, if any, that were affected by the <code>DeleteItem</code>
  operation. <code>ItemCollectionMetrics</code> is only returned if the <code>ReturnItemCollectionMetrics</code>
  parameter was specified. If the table does not have any local secondary indexes,
  this information is not returned in the response.</p> <p>Each <code>ItemCollectionMetrics</code>
  element consists of:</p> <ul> <li> <p> <code>ItemCollectionKey</code> - The partition
  key value of the item collection. This is the same as the partition key value of
  the item itself.</p> </li> <li> <p> <code>SizeEstimateRangeGB</code> - An estimate
  of item collection size, in gigabytes. This value is a two-element array containing
  a lower bound and an upper bound for the estimate. The estimate includes the size
  of all the items in the table, plus the size of all attributes projected into all
  of the local secondary indexes on that table. Use this estimate to measure whether
  a local secondary index is approaching its size limit.</p> <p>The estimate is subject
  to change over time; therefore, do not rely on the precision or accuracy of the
  estimate.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteReplicaAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Represents
  a replica to be removed.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"RegionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegionName\";s:11:\"description\";s:40:\"The
  region of the replica to be removed.\";}}s:8:\"required\";a:1:{i:0;s:10:\"RegionName\";}s:4:\"type\";s:6:\"object\";}s:13:\"DeleteRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:79:\"Represents
  a request to perform a <code>DeleteItem</code> operation on an item.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Key\";s:11:\"description\";s:222:\"A
  map of attribute name to attribute values, representing the primary key of the item
  to delete. All of the table's primary key attributes must be specified, and their
  data types must match those of the table's key schema.\";}}s:8:\"required\";a:1:{i:0;s:3:\"Key\";}s:4:\"type\";s:6:\"object\";}s:16:\"DeleteTableInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:61:\"Represents
  the input of a <code>DeleteTable</code> operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"TableName\";s:5:\"Music\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";s:11:\"description\";s:32:\"The
  name of the table to delete.\";}}s:8:\"required\";a:1:{i:0;s:9:\"TableName\";}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteTableOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Represents
  the output of a <code>DeleteTable</code> operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"TableDescription\";O:8:\"stdClass\":5:{s:9:\"ItemCount\";i:0;s:21:\"ProvisionedThroughput\";O:8:\"stdClass\":3:{s:22:\"NumberOfDecreasesToday\";i:1;s:17:\"ReadCapacityUnits\";i:5;s:18:\"WriteCapacityUnits\";i:5;}s:9:\"TableName\";s:5:\"Music\";s:14:\"TableSizeBytes\";i:0;s:11:\"TableStatus\";s:8:\"DELETING\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"TableDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TableDescription\";s:11:\"description\";s:37:\"Represents
  the properties of a table.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeBackupInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"BackupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BackupArn\";s:11:\"description\";s:35:\"The
  ARN associated with the backup.\";}}s:8:\"required\";a:1:{i:0;s:9:\"BackupArn\";}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeBackupOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"BackupDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/BackupDescription\";s:11:\"description\";s:61:\"Contains
  the description of the backup created for the table.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeContinuousBackupsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";s:11:\"description\";s:115:\"Name
  of the table for which the customer wants to check the continuous backups and point
  in time recovery settings.\";}}s:8:\"required\";a:1:{i:0;s:9:\"TableName\";}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeContinuousBackupsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"ContinuousBackupsDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ContinuousBackupsDescription\";s:11:\"description\";s:92:\"
  <code>ContinuousBackupsDescription</code> can be one of the following : ENABLED,
  DISABLED. \";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeGlobalTableInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"GlobalTableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";s:11:\"description\";s:29:\"The
  name of the global table.\";}}s:8:\"required\";a:1:{i:0;s:15:\"GlobalTableName\";}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeGlobalTableOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"GlobalTableDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/GlobalTableDescription\";s:11:\"description\";s:41:\"Contains
  the details of the global table.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeGlobalTableSettingsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"GlobalTableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";s:11:\"description\";s:41:\"The
  name of the global table to describe.\";}}s:8:\"required\";a:1:{i:0;s:15:\"GlobalTableName\";}s:4:\"type\";s:6:\"object\";}s:33:\"DescribeGlobalTableSettingsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"GlobalTableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";s:11:\"description\";s:29:\"The
  name of the global table.\";}s:15:\"ReplicaSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ReplicaSettingsDescriptionList\";s:11:\"description\";s:50:\"The
  region specific settings for the global table.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeLimitsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Represents
  the input of a <code>DescribeLimits</code> operation. Has no content.\";s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeLimitsOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Represents
  the output of a <code>DescribeLimits</code> operation.\";s:7:\"example\";O:8:\"stdClass\":4:{s:27:\"AccountMaxReadCapacityUnits\";i:20000;s:28:\"AccountMaxWriteCapacityUnits\";i:20000;s:25:\"TableMaxReadCapacityUnits\";i:10000;s:26:\"TableMaxWriteCapacityUnits\";i:10000;}s:10:\"properties\";O:8:\"stdClass\":4:{s:27:\"AccountMaxReadCapacityUnits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PositiveLongObject\";s:11:\"description\";s:121:\"The
  maximum total read capacity units that your account allows you to provision across
  all of your tables in this region.\";}s:28:\"AccountMaxWriteCapacityUnits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PositiveLongObject\";s:11:\"description\";s:122:\"The
  maximum total write capacity units that your account allows you to provision across
  all of your tables in this region.\";}s:25:\"TableMaxReadCapacityUnits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PositiveLongObject\";s:11:\"description\";s:214:\"The
  maximum read capacity units that your account allows you to provision for a new
  table that you are creating in this region, including the read capacity units provisioned
  for its global secondary indexes (GSIs).\";}s:26:\"TableMaxWriteCapacityUnits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PositiveLongObject\";s:11:\"description\";s:216:\"The
  maximum write capacity units that your account allows you to provision for a new
  table that you are creating in this region, including the write capacity units provisioned
  for its global secondary indexes (GSIs).\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DescribeTableInput\";O:8:\"stdClass\":5:{s:11:\"description\";s:63:\"Represents
  the input of a <code>DescribeTable</code> operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"TableName\";s:5:\"Music\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";s:11:\"description\";s:34:\"The
  name of the table to describe.\";}}s:8:\"required\";a:1:{i:0;s:9:\"TableName\";}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeTableOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Represents
  the output of a <code>DescribeTable</code> operation.\";s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"Table\";O:8:\"stdClass\":8:{s:20:\"AttributeDefinitions\";a:2:{i:0;O:8:\"stdClass\":2:{s:13:\"AttributeName\";s:6:\"Artist\";s:13:\"AttributeType\";s:1:\"S\";}i:1;O:8:\"stdClass\":2:{s:13:\"AttributeName\";s:9:\"SongTitle\";s:13:\"AttributeType\";s:1:\"S\";}}s:16:\"CreationDateTime\";s:14:\"1421866952.062\";s:9:\"ItemCount\";i:0;s:9:\"KeySchema\";a:2:{i:0;O:8:\"stdClass\":2:{s:13:\"AttributeName\";s:6:\"Artist\";s:7:\"KeyType\";s:4:\"HASH\";}i:1;O:8:\"stdClass\":2:{s:13:\"AttributeName\";s:9:\"SongTitle\";s:7:\"KeyType\";s:5:\"RANGE\";}}s:21:\"ProvisionedThroughput\";O:8:\"stdClass\":3:{s:22:\"NumberOfDecreasesToday\";i:1;s:17:\"ReadCapacityUnits\";i:5;s:18:\"WriteCapacityUnits\";i:5;}s:9:\"TableName\";s:5:\"Music\";s:14:\"TableSizeBytes\";i:0;s:11:\"TableStatus\";s:6:\"ACTIVE\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Table\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TableDescription\";s:11:\"description\";s:28:\"The
  properties of the table.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeTimeToLiveInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";s:11:\"description\";s:38:\"The
  name of the table to be described.\";}}s:8:\"required\";a:1:{i:0;s:9:\"TableName\";}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeTimeToLiveOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"TimeToLiveDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/TimeToLiveDescription\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"ExpectedAttributeMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ExpectedAttributeValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:22:\"ExpectedAttributeValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:1373:\"<p>Represents
  a condition to be compared with an attribute value. This condition can be used with
  <code>DeleteItem</code>, <code>PutItem</code> or <code>UpdateItem</code> operations;
  if the comparison evaluates to true, the operation succeeds; if not, the operation
  fails. You can use <code>ExpectedAttributeValue</code> in one of two different ways:</p>
  <ul> <li> <p>Use <code>AttributeValueList</code> to specify one or more values to
  compare against an attribute. Use <code>ComparisonOperator</code> to specify how
  you want to perform the comparison. If the comparison evaluates to true, then the
  conditional operation succeeds.</p> </li> <li> <p>Use <code>Value</code> to specify
  a value that DynamoDB will compare against an attribute. If the values match, then
  <code>ExpectedAttributeValue</code> evaluates to true and the conditional operation
  succeeds. Optionally, you can also set <code>Exists</code> to false, indicating
  that you <i>do not</i> expect to find the attribute value in the table. In this
  case, the conditional operation succeeds only if the comparison evaluates to false.</p>
  </li> </ul> <p> <code>Value</code> and <code>Exists</code> are incompatible with
  <code>AttributeValueList</code> and <code>ComparisonOperator</code>. Note that if
  you use both sets of parameters at once, DynamoDB will return a <code>ValidationException</code>
  exception.</p>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"AttributeValueList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AttributeValueList\";s:11:\"description\";s:937:\"<p>One
  or more values to evaluate against the supplied attribute. The number of values
  in the list depends on the <code>ComparisonOperator</code> being used.</p> <p>For
  type Number, value comparisons are numeric.</p> <p>String value comparisons for
  greater than, equals, or less than are based on ASCII character code values. For
  example, <code>a</code> is greater than <code>A</code>, and <code>a</code> is greater
  than <code>B</code>. For a list of code values, see <a href=\"http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters\">http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters</a>.</p>
  <p>For Binary, DynamoDB treats each byte of the binary data as unsigned when it
  compares binary values.</p> <p>For information on specifying data types in JSON,
  see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DataFormat.html\">JSON
  Data Format</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p>\";}s:18:\"ComparisonOperator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ComparisonOperator\";s:11:\"description\";s:7911:\"<p>A
  comparator for evaluating attributes in the <code>AttributeValueList</code>. For
  example, equals, greater than, less than, etc.</p> <p>The following comparison operators
  are available:</p> <p> <code>EQ | NE | LE | LT | GE | GT | NOT_NULL | NULL | CONTAINS
  | NOT_CONTAINS | BEGINS_WITH | IN | BETWEEN</code> </p> <p>The following are descriptions
  of each comparison operator.</p> <ul> <li> <p> <code>EQ</code> : Equal. <code>EQ</code>
  is supported for all data types, including lists and maps.</p> <p> <code>AttributeValueList</code>
  can contain only one <code>AttributeValue</code> element of type String, Number,
  Binary, String Set, Number Set, or Binary Set. If an item contains an <code>AttributeValue</code>
  element of a different type than the one provided in the request, the value does
  not match. For example, <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>.
  Also, <code>{\"N\":\"6\"}</code> does not equal <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>.</p>
  <p/> </li> <li> <p> <code>NE</code> : Not equal. <code>NE</code> is supported for
  all data types, including lists and maps.</p> <p> <code>AttributeValueList</code>
  can contain only one <code>AttributeValue</code> of type String, Number, Binary,
  String Set, Number Set, or Binary Set. If an item contains an <code>AttributeValue</code>
  of a different type than the one provided in the request, the value does not match.
  For example, <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>.
  Also, <code>{\"N\":\"6\"}</code> does not equal <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>.</p>
  <p/> </li> <li> <p> <code>LE</code> : Less than or equal. </p> <p> <code>AttributeValueList</code>
  can contain only one <code>AttributeValue</code> element of type String, Number,
  or Binary (not a set type). If an item contains an <code>AttributeValue</code> element
  of a different type than the one provided in the request, the value does not match.
  For example, <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>.
  Also, <code>{\"N\":\"6\"}</code> does not compare to <code>{\"NS\":[\"6\", \"2\",
  \"1\"]}</code>.</p> <p/> </li> <li> <p> <code>LT</code> : Less than. </p> <p> <code>AttributeValueList</code>
  can contain only one <code>AttributeValue</code> of type String, Number, or Binary
  (not a set type). If an item contains an <code>AttributeValue</code> element of
  a different type than the one provided in the request, the value does not match.
  For example, <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>.
  Also, <code>{\"N\":\"6\"}</code> does not compare to <code>{\"NS\":[\"6\", \"2\",
  \"1\"]}</code>.</p> <p/> </li> <li> <p> <code>GE</code> : Greater than or equal.
  </p> <p> <code>AttributeValueList</code> can contain only one <code>AttributeValue</code>
  element of type String, Number, or Binary (not a set type). If an item contains
  an <code>AttributeValue</code> element of a different type than the one provided
  in the request, the value does not match. For example, <code>{\"S\":\"6\"}</code>
  does not equal <code>{\"N\":\"6\"}</code>. Also, <code>{\"N\":\"6\"}</code> does
  not compare to <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>.</p> <p/> </li> <li>
  <p> <code>GT</code> : Greater than. </p> <p> <code>AttributeValueList</code> can
  contain only one <code>AttributeValue</code> element of type String, Number, or
  Binary (not a set type). If an item contains an <code>AttributeValue</code> element
  of a different type than the one provided in the request, the value does not match.
  For example, <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>.
  Also, <code>{\"N\":\"6\"}</code> does not compare to <code>{\"NS\":[\"6\", \"2\",
  \"1\"]}</code>.</p> <p/> </li> <li> <p> <code>NOT_NULL</code> : The attribute exists.
  <code>NOT_NULL</code> is supported for all data types, including lists and maps.</p>
  <note> <p>This operator tests for the existence of an attribute, not its data type.
  If the data type of attribute \"<code>a</code>\" is null, and you evaluate it using
  <code>NOT_NULL</code>, the result is a Boolean <code>true</code>. This result is
  because the attribute \"<code>a</code>\" exists; its data type is not relevant to
  the <code>NOT_NULL</code> comparison operator.</p> </note> </li> <li> <p> <code>NULL</code>
  : The attribute does not exist. <code>NULL</code> is supported for all data types,
  including lists and maps.</p> <note> <p>This operator tests for the nonexistence
  of an attribute, not its data type. If the data type of attribute \"<code>a</code>\"
  is null, and you evaluate it using <code>NULL</code>, the result is a Boolean <code>false</code>.
  This is because the attribute \"<code>a</code>\" exists; its data type is not relevant
  to the <code>NULL</code> comparison operator.</p> </note> </li> <li> <p> <code>CONTAINS</code>
  : Checks for a subsequence, or value in a set.</p> <p> <code>AttributeValueList</code>
  can contain only one <code>AttributeValue</code> element of type String, Number,
  or Binary (not a set type). If the target attribute of the comparison is of type
  String, then the operator checks for a substring match. If the target attribute
  of the comparison is of type Binary, then the operator looks for a subsequence of
  the target that matches the input. If the target attribute of the comparison is
  a set (\"<code>SS</code>\", \"<code>NS</code>\", or \"<code>BS</code>\"), then the
  operator evaluates to true if it finds an exact match with any member of the set.</p>
  <p>CONTAINS is supported for lists: When evaluating \"<code>a CONTAINS b</code>\",
  \"<code>a</code>\" can be a list; however, \"<code>b</code>\" cannot be a set, a
  map, or a list.</p> </li> <li> <p> <code>NOT_CONTAINS</code> : Checks for absence
  of a subsequence, or absence of a value in a set.</p> <p> <code>AttributeValueList</code>
  can contain only one <code>AttributeValue</code> element of type String, Number,
  or Binary (not a set type). If the target attribute of the comparison is a String,
  then the operator checks for the absence of a substring match. If the target attribute
  of the comparison is Binary, then the operator checks for the absence of a subsequence
  of the target that matches the input. If the target attribute of the comparison
  is a set (\"<code>SS</code>\", \"<code>NS</code>\", or \"<code>BS</code>\"), then
  the operator evaluates to true if it <i>does not</i> find an exact match with any
  member of the set.</p> <p>NOT_CONTAINS is supported for lists: When evaluating \"<code>a
  NOT CONTAINS b</code>\", \"<code>a</code>\" can be a list; however, \"<code>b</code>\"
  cannot be a set, a map, or a list.</p> </li> <li> <p> <code>BEGINS_WITH</code> :
  Checks for a prefix. </p> <p> <code>AttributeValueList</code> can contain only one
  <code>AttributeValue</code> of type String or Binary (not a Number or a set type).
  The target attribute of the comparison must be of type String or Binary (not a Number
  or a set type).</p> <p/> </li> <li> <p> <code>IN</code> : Checks for matching elements
  in a list.</p> <p> <code>AttributeValueList</code> can contain one or more <code>AttributeValue</code>
  elements of type String, Number, or Binary. These attributes are compared against
  an existing attribute of an item. If any elements of the input are equal to the
  item attribute, the expression evaluates to true.</p> </li> <li> <p> <code>BETWEEN</code>
  : Greater than or equal to the first value, and less than or equal to the second
  value. </p> <p> <code>AttributeValueList</code> must contain two <code>AttributeValue</code>
  elements of the same type, either String, Number, or Binary (not a set type). A
  target attribute matches if the target value is greater than, or equal to, the first
  element and less than, or equal to, the second element. If an item contains an <code>AttributeValue</code>
  element of a different type than the one provided in the request, the value does
  not match. For example, <code>{\"S\":\"6\"}</code> does not compare to <code>{\"N\":\"6\"}</code>.
  Also, <code>{\"N\":\"6\"}</code> does not compare to <code>{\"NS\":[\"6\", \"2\",
  \"1\"]}</code> </p> </li> </ul>\";}s:6:\"Exists\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:1440:\"<p>Causes
  DynamoDB to evaluate the value before attempting a conditional operation:</p> <ul>
  <li> <p>If <code>Exists</code> is <code>true</code>, DynamoDB will check to see
  if that attribute value already exists in the table. If it is found, then the operation
  succeeds. If it is not found, the operation fails with a <code>ConditionalCheckFailedException</code>.</p>
  </li> <li> <p>If <code>Exists</code> is <code>false</code>, DynamoDB assumes that
  the attribute value does not exist in the table. If in fact the value does not exist,
  then the assumption is valid and the operation succeeds. If the value is found,
  despite the assumption that it does not exist, the operation fails with a <code>ConditionalCheckFailedException</code>.</p>
  </li> </ul> <p>The default setting for <code>Exists</code> is <code>true</code>.
  If you supply a <code>Value</code> all by itself, DynamoDB assumes the attribute
  exists: You don't have to set <code>Exists</code> to <code>true</code>, because
  it is implied.</p> <p>DynamoDB returns a <code>ValidationException</code> if:</p>
  <ul> <li> <p> <code>Exists</code> is <code>true</code> but there is no <code>Value</code>
  to check. (You expect a value to exist, but don't specify what that value is.)</p>
  </li> <li> <p> <code>Exists</code> is <code>false</code> but you also provide a
  <code>Value</code>. (You cannot expect an attribute to have a value, while also
  expecting it not to exist.)</p> </li> </ul>\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AttributeValue\";s:11:\"description\";s:405:\"<p>Represents
  the data for the expected attribute.</p> <p>Each attribute value is described as
  a name-value pair. The name is the data type, and the value is the data itself.</p>
  <p>For more information, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.NamingRulesDataTypes.html#HowItWorks.DataTypes\">Data
[...]
