---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";}s:11:\"description\";s:1937:\"<p>Welcome
  to the <i>Amazon Simple Queue Service API Reference</i>.</p> <p>Amazon Simple Queue
  Service (Amazon SQS) is a reliable, highly-scalable hosted queue for storing messages
  as they travel between applications or microservices. Amazon SQS moves data between
  distributed application components and helps you decouple these components.</p>
  <note> <p> <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/standard-queues.html\">Standard
  queues</a> are available in all regions. <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html\">FIFO
  queues</a> are available in US West (Oregon) and US East (Ohio).</p> </note> <p>You
  can use <a href=\"http://aws.amazon.com/tools/#sdk\">AWS SDKs</a> to access Amazon
  SQS using your favorite programming language. The SDKs perform tasks such as the
  following automatically:</p> <ul> <li> <p>Cryptographically sign your service requests</p>
  </li> <li> <p>Retry requests</p> </li> <li> <p>Handle error responses</p> </li>
  </ul> <p> <b>Additional Information</b> </p> <ul> <li> <p> <a href=\"http://aws.amazon.com/sqs/\">Amazon
  SQS Product Page</a> </p> </li> <li> <p> <i>Amazon SQS Developer Guide</i> </p>
  <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/MakingRequestsArticle.html\">Making
  API Requests</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-attributes.html\">Using
  Amazon SQS Message Attributes</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-dead-letter-queues.html\">Using
  Amazon SQS Dead Letter Queues</a> </p> </li> </ul> </li> <li> <p> <i>Amazon Web
  Services General Reference</i> </p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#sqs_region\">Regions
  and Endpoints</a> </p> </li> </ul> </li> </ul>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:27:\"Amazon
  Simple Queue Service\";s:7:\"version\";s:10:\"2012-11-05\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:104:\"https://api.apis.guru/v2/cache/logo/https_media.amazonwebservices.com_blog_2007_big_pbaws_logo_300px.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sqs-2012-11-05.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:3:\"sqs\";}"
host: sqs.amazonaws.com
basePath: /
paths: ~
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":77:{s:16:\"AWSAccountIdList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:14:\"ActionNameList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:20:\"AddPermissionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"AWSAccountIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AWSAccountIdList\";s:11:\"description\";s:468:\"The
  AWS account number of the <a href=\"http://docs.aws.amazon.com/general/latest/gr/glos-chap.html#P\">principal</a>
  who is given permission. The principal must have an AWS account, but does not need
  to be signed up for Amazon SQS. For information about locating the AWS account identification,
  see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/AWSCredentials.html\">Your
  AWS Identifiers</a> in the <i>Amazon SQS Developer Guide</i>.\";}s:7:\"Actions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ActionNameList\";s:11:\"description\";s:1019:\"<p>The
  action the client wants to allow for the specified principal. The following values
  are valid:</p> <ul> <li> <p> <code>*</code> </p> </li> <li> <p> <code>ChangeMessageVisibility</code>
  </p> </li> <li> <p> <code>DeleteMessage</code> </p> </li> <li> <p> <code>GetQueueAttributes</code>
  </p> </li> <li> <p> <code>GetQueueUrl</code> </p> </li> <li> <p> <code>ReceiveMessage</code>
  </p> </li> <li> <p> <code>SendMessage</code> </p> </li> </ul> <p>For more information
  about these actions, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/acp-overview.html#PermissionTypes\">Understanding
  Permissions</a> in the <i>Amazon SQS Developer Guide</i>.</p> <p>Specifying <code>SendMessage</code>,
  <code>DeleteMessage</code>, or <code>ChangeMessageVisibility</code> for <code>ActionName.n</code>
  also grants permissions for the corresponding batch versions of those actions: <code>SendMessageBatch</code>,
  <code>DeleteMessageBatch</code>, and <code>ChangeMessageVisibilityBatch</code>.</p>\";}s:5:\"Label\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:239:\"The
  unique identification of the permission you're setting (for example, <code>AliceSendMessage</code>).
  Maximum 80 characters. Allowed characters include alphanumeric characters, hyphens
  (<code>-</code>), and underscores (<code>_</code>).\";}s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:108:\"<p>The
  URL of the Amazon SQS queue to which permissions are added.</p> <p>Queue URLs are
  case-sensitive.</p>\";}}s:8:\"required\";a:4:{i:0;s:8:\"QueueUrl\";i:1;s:5:\"Label\";i:2;s:13:\"AWSAccountIds\";i:3;s:7:\"Actions\";}s:4:\"type\";s:6:\"object\";}s:17:\"AttributeNameList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/QueueAttributeName\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:24:\"BatchEntryIdsNotDistinct\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Two
  or more batch entries in the request have the same <code>Id</code>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"BatchRequestTooLong\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  length of all the messages put together is more than the limit.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"BatchResultErrorEntry\";O:8:\"stdClass\":4:{s:11:\"description\";s:130:\"This
  is used in the responses of batch API to give a detailed description of the result
  of an action on each entry in the request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"An
  error code representing why the action failed on this entry.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:51:\"The
  <code>Id</code> of an entry in a batch request.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:57:\"A
  message explaining why the action failed on this entry.\";}s:11:\"SenderFault\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:63:\"Specifies
  whether the error happened due to the sender's fault.\";}}s:8:\"required\";a:3:{i:0;s:2:\"Id\";i:1;s:11:\"SenderFault\";i:2;s:4:\"Code\";}s:4:\"type\";s:6:\"object\";}s:25:\"BatchResultErrorEntryList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/BatchResultErrorEntry\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:6:\"Binary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"BinaryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Binary\";}s:4:\"type\";s:5:\"array\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:35:\"ChangeMessageVisibilityBatchRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Entries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:58:\"#/definitions/ChangeMessageVisibilityBatchRequestEntryList\";s:11:\"description\";s:91:\"A
  list of receipt handles of the messages for which the visibility timeout must be
  changed.\";}s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:115:\"<p>The
  URL of the Amazon SQS queue whose messages' visibility is changed.</p> <p>Queue
  URLs are case-sensitive.</p>\";}}s:8:\"required\";a:2:{i:0;s:8:\"QueueUrl\";i:1;s:7:\"Entries\";}s:4:\"type\";s:6:\"object\";}s:40:\"ChangeMessageVisibilityBatchRequestEntry\";O:8:\"stdClass\":4:{s:11:\"description\";s:750:\"<p>Encloses
  a receipt handle and an entry id for each message in <code> <a>ChangeMessageVisibilityBatch</a>.</code>
  </p> <important> <p>All of the following list parameters must be prefixed with <code>ChangeMessageVisibilityBatchRequestEntry.n</code>,
  where <code>n</code> is an integer value starting with <code>1</code>. For example,
  a parameter list for this action might look like this:</p> </important> <p> <code>&amp;amp;ChangeMessageVisibilityBatchRequestEntry.1.Id=change_visibility_msg_2</code>
  </p> <p> <code>&amp;amp;ChangeMessageVisibilityBatchRequestEntry.1.ReceiptHandle=&lt;replaceable&gt;Your_Receipt_Handle&lt;/replaceable&gt;</code>
  </p> <p> <code>&amp;amp;ChangeMessageVisibilityBatchRequestEntry.1.VisibilityTimeout=45</code>
  </p>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:184:\"<p>An
  identifier for this particular receipt handle used to communicate the result.</p>
  <note> <p>The <code>Id</code>s of a batch request need to be unique within a request</p>
  </note>\";}s:13:\"ReceiptHandle\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:17:\"A
  receipt handle.\";}s:17:\"VisibilityTimeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:64:\"The
  new value (in seconds) for the message's visibility timeout.\";}}s:8:\"required\";a:2:{i:0;s:2:\"Id\";i:1;s:13:\"ReceiptHandle\";}s:4:\"type\";s:6:\"object\";}s:44:\"ChangeMessageVisibilityBatchRequestEntryList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/ChangeMessageVisibilityBatchRequestEntry\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:34:\"ChangeMessageVisibilityBatchResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:219:\"For
  each message in the batch, the response contains a <code> <a>ChangeMessageVisibilityBatchResultEntry</a>
  </code> tag if the message succeeds or a <code> <a>BatchResultErrorEntry</a> </code>
  tag if the message fails.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Failed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BatchResultErrorEntryList\";s:11:\"description\";s:60:\"A
  list of <code> <a>BatchResultErrorEntry</a> </code> items.\";}s:10:\"Successful\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/ChangeMessageVisibilityBatchResultEntryList\";s:11:\"description\";s:78:\"A
  list of <code> <a>ChangeMessageVisibilityBatchResultEntry</a> </code> items.\";}}s:8:\"required\";a:2:{i:0;s:10:\"Successful\";i:1;s:6:\"Failed\";}s:4:\"type\";s:6:\"object\";}s:39:\"ChangeMessageVisibilityBatchResultEntry\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"Encloses
  the <code>Id</code> of an entry in <code> <a>ChangeMessageVisibilityBatch</a>.</code>
  \";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:76:\"Represents
  a message whose visibility timeout has been changed successfully.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:43:\"ChangeMessageVisibilityBatchResultEntryList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/ChangeMessageVisibilityBatchResultEntry\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:30:\"ChangeMessageVisibilityRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:115:\"<p>The
  URL of the Amazon SQS queue whose message's visibility is changed.</p> <p>Queue
  URLs are case-sensitive.</p>\";}s:13:\"ReceiptHandle\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:162:\"The
  receipt handle associated with the message whose visibility timeout is changed.
  This parameter is returned by the <code> <a>ReceiveMessage</a> </code> action.\";}s:17:\"VisibilityTimeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:136:\"The
  new value for the message's visibility timeout (in seconds). Values values: <code>0</code>
  to <code>43200</code>. Maximum: 12 hours.\";}}s:8:\"required\";a:3:{i:0;s:8:\"QueueUrl\";i:1;s:13:\"ReceiptHandle\";i:2;s:17:\"VisibilityTimeout\";}s:4:\"type\";s:6:\"object\";}s:18:\"CreateQueueRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/QueueAttributeMap\";s:11:\"description\";s:7071:\"<p>A
  map of attributes with their corresponding values.</p> <p>The following lists the
  names, descriptions, and values of the special request parameters that the <code>CreateQueue</code>
  action uses:</p> <ul> <li> <p> <code>DelaySeconds</code> - The length of time, in
  seconds, for which the delivery of all messages in the queue is delayed. Valid values:
  An integer from 0 to 900 seconds (15 minutes). The default is 0 (zero). </p> </li>
  <li> <p> <code>MaximumMessageSize</code> - The limit of how many bytes a message
  can contain before Amazon SQS rejects it. Valid values: An integer from 1,024 bytes
  (1 KiB) to 262,144 bytes (256 KiB). The default is 262,144 (256 KiB). </p> </li>
  <li> <p> <code>MessageRetentionPeriod</code> - The length of time, in seconds, for
  which Amazon SQS retains a message. Valid values: An integer from 60 seconds (1
  minute) to 1,209,600 seconds (14 days). The default is 345,600 (4 days). </p> </li>
  <li> <p> <code>Policy</code> - The queue's policy. A valid AWS policy. For more
  information about policy structure, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/PoliciesOverview.html\">Overview
  of AWS IAM Policies</a> in the <i>Amazon IAM User Guide</i>. </p> </li> <li> <p>
  <code>ReceiveMessageWaitTimeSeconds</code> - The length of time, in seconds, for
  which a <code> <a>ReceiveMessage</a> </code> action waits for a message to arrive.
  Valid values: An integer from 0 to 20 (seconds). The default is 0 (zero). </p> </li>
  <li> <p> <code>RedrivePolicy</code> - The parameters for the dead letter queue functionality
  of the source queue. For more information about the redrive policy and dead letter
  queues, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-dead-letter-queues.html\">Using
  Amazon SQS Dead Letter Queues</a> in the <i>Amazon SQS Developer Guide</i>. </p>
  <note> <p>The dead letter queue of a FIFO queue must also be a FIFO queue. Similarly,
  the dead letter queue of a standard queue must also be a standard queue.</p> </note>
  </li> <li> <p> <code>VisibilityTimeout</code> - The visibility timeout for the queue.
  Valid values: An integer from 0 to 43,200 (12 hours). The default is 30. For more
  information about the visibility timeout, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-visibility-timeout.html\">Visibility
  Timeout</a> in the <i>Amazon SQS Developer Guide</i>.</p> </li> </ul> <p>The following
  attributes apply only to <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html\">server-side-encryption</a>:</p>
  <ul> <li> <p> <code>KmsMasterKeyId</code> - The ID of an AWS-managed customer master
  key (CMK) for Amazon SQS or a custom CMK. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html#sqs-sse-key-terms\">Key
  Terms</a>. While the alias of the AWS-managed CMK for Amazon SQS is always <code>alias/aws/sqs</code>,
  the alias of a custom CMK can, for example, be <code>alias/aws/sqs</code>. For more
  examples, see <a href=\"http://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">KeyId</a>
  in the <i>AWS Key Management Service API Reference</i>. </p> </li> <li> <p> <code>KmsDataKeyReusePeriodSeconds</code>
  - The length of time, in seconds, for which Amazon SQS can reuse a <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#data-keys\">data
  key</a> to encrypt or decrypt messages before calling AWS KMS again. An integer
  representing seconds, between 60 seconds (1 minute) and 86,400 seconds (24 hours).
  The default is 300 (5 minutes). A shorter time period provides better security but
  results in more calls to KMS which incur charges after Free Tier. For more information,
  see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html#sqs-how-does-the-data-key-reuse-period-work\">How
  Does the Data Key Reuse Period Work?</a>. </p> </li> </ul> <p>The following attributes
  apply only to <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html\">FIFO
  (first-in-first-out) queues</a>:</p> <ul> <li> <p> <code>FifoQueue</code> - Designates
  a queue as FIFO. Valid values: <code>true</code>, <code>false</code>. You can provide
  this attribute only during queue creation. You can't change it for an existing queue.
  When you set this attribute, you must also provide the <code>MessageGroupId</code>
  for your messages explicitly.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-understanding-logic\">FIFO
  Queue Logic</a> in the <i>Amazon SQS Developer Guide</i>.</p> </li> <li> <p> <code>ContentBasedDeduplication</code>
  - Enables content-based deduplication. Valid values: <code>true</code>, <code>false</code>.
  For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-exactly-once-processing\">Exactly-Once
  Processing</a> in the <i>Amazon SQS Developer Guide</i>. </p> <ul> <li> <p>Every
  message must have a unique <code>MessageDeduplicationId</code>,</p> <ul> <li> <p>You
  may provide a <code>MessageDeduplicationId</code> explicitly.</p> </li> <li> <p>If
  you aren't able to provide a <code>MessageDeduplicationId</code> and you enable
  <code>ContentBasedDeduplication</code> for your queue, Amazon SQS uses a SHA-256
  hash to generate the <code>MessageDeduplicationId</code> using the body of the message
  (but not the attributes of the message). </p> </li> <li> <p>If you don't provide
  a <code>MessageDeduplicationId</code> and the queue doesn't have <code>ContentBasedDeduplication</code>
  set, the action fails with an error.</p> </li> <li> <p>If the queue has <code>ContentBasedDeduplication</code>
  set, your <code>MessageDeduplicationId</code> overrides the generated one.</p> </li>
  </ul> </li> <li> <p>When <code>ContentBasedDeduplication</code> is in effect, messages
  with identical content sent within the deduplication interval are treated as duplicates
  and only one copy of the message is delivered.</p> </li> <li> <p>If you send one
  message with <code>ContentBasedDeduplication</code> enabled and then another message
  with a <code>MessageDeduplicationId</code> that is the same as the one generated
  for the first <code>MessageDeduplicationId</code>, the two messages are treated
  as duplicates and only one copy of the message is delivered. </p> </li> </ul> </li>
  </ul> <p>Any other valid special request parameters (such as the following) are
  ignored:</p> <ul> <li> <p> <code>ApproximateNumberOfMessages</code> </p> </li> <li>
  <p> <code>ApproximateNumberOfMessagesDelayed</code> </p> </li> <li> <p> <code>ApproximateNumberOfMessagesNotVisible</code>
  </p> </li> <li> <p> <code>CreatedTimestamp</code> </p> </li> <li> <p> <code>LastModifiedTimestamp</code>
  </p> </li> <li> <p> <code>QueueArn</code> </p> </li> </ul>\";}s:9:\"QueueName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:383:\"<p>The
  name of the new queue. The following limits apply to this name:</p> <ul> <li> <p>A
  queue name can have up to 80 characters.</p> </li> <li> <p>Valid values: alphanumeric
  characters, hyphens (<code>-</code>), and underscores (<code>_</code>).</p> </li>
  <li> <p>A FIFO queue name must end with the <code>.fifo</code> suffix.</p> </li>
  </ul> <p>Queue names are case-sensitive.</p>\";}}s:8:\"required\";a:1:{i:0;s:9:\"QueueName\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateQueueResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Returns
  the <code>QueueUrl</code> attribute of the created queue.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:40:\"The
  URL of the created Amazon SQS queue.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteMessageBatchRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Entries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/DeleteMessageBatchRequestEntryList\";s:11:\"description\";s:57:\"A
  list of receipt handles for the messages to be deleted.\";}s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:109:\"<p>The
  URL of the Amazon SQS queue from which messages are deleted.</p> <p>Queue URLs are
  case-sensitive.</p>\";}}s:8:\"required\";a:2:{i:0;s:8:\"QueueUrl\";i:1;s:7:\"Entries\";}s:4:\"type\";s:6:\"object\";}s:30:\"DeleteMessageBatchRequestEntry\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Encloses
  a receipt handle and an identifier for it.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:193:\"<p>An
  identifier for this particular receipt handle. This is used to communicate the result.</p>
  <note> <p>The <code>Id</code>s of a batch request need to be unique within a request</p>
  </note>\";}s:13:\"ReceiptHandle\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:17:\"A
  receipt handle.\";}}s:8:\"required\";a:2:{i:0;s:2:\"Id\";i:1;s:13:\"ReceiptHandle\";}s:4:\"type\";s:6:\"object\";}s:34:\"DeleteMessageBatchRequestEntryList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/DeleteMessageBatchRequestEntry\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:24:\"DeleteMessageBatchResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:222:\"For
  each message in the batch, the response contains a <code> <a>DeleteMessageBatchResultEntry</a>
  </code> tag if the message is deleted or a <code> <a>BatchResultErrorEntry</a> </code>
  tag if the message can't be deleted.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Failed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BatchResultErrorEntryList\";s:11:\"description\";s:60:\"A
  list of <code> <a>BatchResultErrorEntry</a> </code> items.\";}s:10:\"Successful\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/DeleteMessageBatchResultEntryList\";s:11:\"description\";s:68:\"A
  list of <code> <a>DeleteMessageBatchResultEntry</a> </code> items.\";}}s:8:\"required\";a:2:{i:0;s:10:\"Successful\";i:1;s:6:\"Failed\";}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteMessageBatchResultEntry\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"Encloses
  the <code>Id</code> of an entry in <code> <a>DeleteMessageBatch</a>.</code> \";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"Represents
  a successfully deleted message.\";}}s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";}s:33:\"DeleteMessageBatchResultEntryList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/DeleteMessageBatchResultEntry\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:20:\"DeleteMessageRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:109:\"<p>The
  URL of the Amazon SQS queue from which messages are deleted.</p> <p>Queue URLs are
  case-sensitive.</p>\";}s:13:\"ReceiptHandle\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:57:\"The
  receipt handle associated with the message to delete.\";}}s:8:\"required\";a:2:{i:0;s:8:\"QueueUrl\";i:1;s:13:\"ReceiptHandle\";}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteQueueRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:87:\"<p>The
  URL of the Amazon SQS queue to delete.</p> <p>Queue URLs are case-sensitive.</p>\";}}s:8:\"required\";a:1:{i:0;s:8:\"QueueUrl\";}s:4:\"type\";s:6:\"object\";}s:17:\"EmptyBatchRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  batch request doesn't contain any entries.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"GetQueueAttributesRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AttributeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttributeNameList\";s:11:\"description\";s:4953:\"<p>A
  list of attributes for which to retrieve information.</p> <note> <p>In the future,
  new attributes might be added. If you write code that calls this action, we recommend
  that you structure your code so that it can handle new attributes gracefully.</p>
  </note> <p>The following attributes are supported:</p> <ul> <li> <p> <code>All</code>
  - Returns all values. </p> </li> <li> <p> <code>ApproximateNumberOfMessages</code>
  - Returns the approximate number of visible messages in a queue. For more information,
  see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-resources-required-process-messages.html\">Resources
  Required to Process Messages</a> in the <i>Amazon SQS Developer Guide</i>. </p>
  </li> <li> <p> <code>ApproximateNumberOfMessagesDelayed</code> - Returns the approximate
  number of messages that are waiting to be added to the queue. </p> </li> <li> <p>
  <code>ApproximateNumberOfMessagesNotVisible</code> - Returns the approximate number
  of messages that have not timed-out and aren't deleted. For more information, see
  <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-resources-required-process-messages.html\">Resources
  Required to Process Messages</a> in the <i>Amazon SQS Developer Guide</i>. </p>
  </li> <li> <p> <code>CreatedTimestamp</code> - Returns the time when the queue was
  created in seconds (<a href=\"http://en.wikipedia.org/wiki/Unix_time\">epoch time</a>).</p>
  </li> <li> <p> <code>DelaySeconds</code> - Returns the default delay on the queue
  in seconds.</p> </li> <li> <p> <code>LastModifiedTimestamp</code> - Returns the
  time when the queue was last changed in seconds (<a href=\"http://en.wikipedia.org/wiki/Unix_time\">epoch
  time</a>).</p> </li> <li> <p> <code>MaximumMessageSize</code> - Returns the limit
  of how many bytes a message can contain before Amazon SQS rejects it.</p> </li>
  <li> <p> <code>MessageRetentionPeriod</code> - Returns the length of time, in seconds,
  for which Amazon SQS retains a message.</p> </li> <li> <p> <code>Policy</code> -
  Returns the policy of the queue.</p> </li> <li> <p> <code>QueueArn</code> - Returns
  the Amazon resource name (ARN) of the queue.</p> </li> <li> <p> <code>ReceiveMessageWaitTimeSeconds</code>
  - Returns the length of time, in seconds, for which the <code>ReceiveMessage</code>
  action waits for a message to arrive. </p> </li> <li> <p> <code>RedrivePolicy</code>
  - Returns the parameters for dead letter queue functionality of the source queue.
  For more information about the redrive policy and dead letter queues, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-dead-letter-queues.html\">Using
  Amazon SQS Dead Letter Queues</a> in the <i>Amazon SQS Developer Guide</i>. </p>
  </li> <li> <p> <code>VisibilityTimeout</code> - Returns the visibility timeout for
  the queue. For more information about the visibility timeout, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-visibility-timeout.html\">Visibility
  Timeout</a> in the <i>Amazon SQS Developer Guide</i>. </p> </li> </ul> <p>The following
  attributes apply only to <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html\">server-side-encryption</a>:</p>
  <ul> <li> <p> <code>KmsMasterKeyId</code> - Returns the ID of an AWS-managed customer
  master key (CMK) for Amazon SQS or a custom CMK. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html#sqs-sse-key-terms\">Key
  Terms</a>. </p> </li> <li> <p> <code>KmsDataKeyReusePeriodSeconds</code> - Returns
  the length of time, in seconds, for which Amazon SQS can reuse a data key to encrypt
  or decrypt messages before calling AWS KMS again. </p> </li> </ul> <p>The following
  attributes apply only to <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html\">FIFO
  (first-in-first-out) queues</a>:</p> <ul> <li> <p> <code>FifoQueue</code> - Returns
  whether the queue is FIFO. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-understanding-logic\">FIFO
  Queue Logic</a> in the <i>Amazon SQS Developer Guide</i>.</p> <note> <p>To determine
  whether a queue is <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html\">FIFO</a>,
  you can check whether <code>QueueName</code> ends with the <code>.fifo</code> suffix.</p>
  </note> </li> <li> <p> <code>ContentBasedDeduplication</code> - Returns whether
  content-based deduplication is enabled for the queue. For more information, see
  <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-exactly-once-processing\">Exactly-Once
  Processing</a> in the <i>Amazon SQS Developer Guide</i>. </p> </li> </ul>\";}s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:118:\"<p>The
  URL of the Amazon SQS queue whose attribute information is retrieved.</p> <p>Queue
  URLs are case-sensitive.</p>\";}}s:8:\"required\";a:1:{i:0;s:8:\"QueueUrl\";}s:4:\"type\";s:6:\"object\";}s:24:\"GetQueueAttributesResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"A
  list of returned queue attributes.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/QueueAttributeMap\";s:11:\"description\";s:47:\"A
  map of attributes to their respective values.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetQueueUrlRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"QueueName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:216:\"<p>The
  name of the queue whose URL must be fetched. Maximum 80 characters. Valid values:
  alphanumeric characters, hyphens (<code>-</code>), and underscores (<code>_</code>).</p>
  <p>Queue names are case-sensitive.</p>\";}s:22:\"QueueOwnerAWSAccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:57:\"The
  AWS account ID of the account that created the queue.\";}}s:8:\"required\";a:1:{i:0;s:9:\"QueueName\";}s:4:\"type\";s:6:\"object\";}s:17:\"GetQueueUrlResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:193:\"For
  more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/UnderstandingResponses.html\">Responses</a>
  in the <i>Amazon SQS Developer Guide</i>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:21:\"The
  URL of the queue.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"InvalidAttributeName\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  attribute referred to doesn't exist.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"InvalidBatchEntryId\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  <code>Id</code> of a batch entry in a batch request doesn't abide by the specification.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"InvalidIdFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  receipt handle isn't valid for the current version.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"InvalidMessageContents\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  message contains characters outside the allowed set.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"ListDeadLetterSourceQueuesRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:76:\"<p>The
  URL of a dead letter queue.</p> <p>Queue URLs are case-sensitive.</p>\";}}s:8:\"required\";a:1:{i:0;s:8:\"QueueUrl\";}s:4:\"type\";s:6:\"object\";}s:32:\"ListDeadLetterSourceQueuesResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"A
  list of your dead letter source queues.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"queueUrls\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/QueueUrlList\";s:11:\"description\";s:121:\"A
  list of source queue URLs that have the <code>RedrivePolicy</code> queue attribute
  configured with a dead letter queue.\";}}s:8:\"required\";a:1:{i:0;s:9:\"queueUrls\";}s:4:\"type\";s:6:\"object\";}s:17:\"ListQueuesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"QueueNamePrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:169:\"<p>A
  string to use for filtering the list results. Only those queues whose name begins
  with the specified string are returned.</p> <p>Queue names are case-sensitive.</p>\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListQueuesResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  list of your queues.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"QueueUrls\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/QueueUrlList\";s:11:\"description\";s:42:\"A
  list of queue URLs, up to 1,000 entries.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Message\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"An
  Amazon SQS message.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/MessageSystemAttributeMap\";s:11:\"description\";s:350:\"
  <code>SenderId</code>, <code>SentTimestamp</code>, <code>ApproximateReceiveCount</code>,
  and/or <code>ApproximateFirstReceiveTimestamp</code>. <code>SentTimestamp</code>
  and <code>ApproximateFirstReceiveTimestamp</code> are each returned as an integer
  representing the <a href=\"http://en.wikipedia.org/wiki/Unix_time\">epoch time</a>
  in milliseconds.\";}s:4:\"Body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:41:\"The
  message's contents (not URL-encoded).\";}s:9:\"MD5OfBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:57:\"An
  MD5 digest of the non-URL-encoded message body string.\";}s:22:\"MD5OfMessageAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:305:\"An
  MD5 digest of the non-URL-encoded message attribute string. You can use this attribute
  to verify that Amazon SQS received the message correctly. Amazon SQS URL-decodes
  the message before creating the MD5 digest. For information about MD5, see <a href=\"https://www.ietf.org/rfc/rfc1321.txt\">RFC1321</a>.\";}s:17:\"MessageAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/MessageBodyAttributeMap\";s:11:\"description\";s:357:\"Each
  message attribute consists of a <code>Name</code>, <code>Type</code>, and <code>Value</code>.
  For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-attributes.html#message-attributes-items-validation\">Message
  Attribute Items and Validation</a> in the <i>Amazon SQS Developer Guide</i>.\";}s:9:\"MessageId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:137:\"A
  unique identifier for the message. A <code>MessageId</code>is considered unique
  across all AWS accounts for an extended period of time.\";}s:13:\"ReceiptHandle\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:223:\"An
  identifier associated with the act of receiving the message. A new receipt handle
  is returned every time you receive a message. When deleting a message, you provide
  the last received receipt handle to delete the message.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"MessageAttributeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"MessageAttributeNameList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/MessageAttributeName\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:21:\"MessageAttributeValue\";O:8:\"stdClass\":5:{s:11:\"description\";s:518:\"<p>The
  user-specified message attribute value. For string data types, the <code>Value</code>
  attribute has the same restrictions on the content as the message body. For more
  information, see <code> <a>SendMessage</a>.</code> </p> <p> <code>Name</code>, <code>type</code>,
  <code>value</code> and the message body must not be empty or null. All parts of
  the message attribute, including <code>Name</code>, <code>Type</code>, and <code>Value</code>,
  are part of the message size restriction (256 KB or 262,144 bytes).</p>\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"BinaryListValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BinaryList\";s:11:\"description\";s:41:\"Not
  implemented. Reserved for future use.\";}s:11:\"BinaryValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Binary\";s:11:\"description\";s:101:\"Binary
  type attributes can store any binary data, such as compressed data, encrypted data,
  or images.\";}s:8:\"DataType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:516:\"<p>Amazon
  SQS supports the following logical data types: <code>String</code>, <code>Number</code>,
  and <code>Binary</code>. For the <code>Number</code> data type, you must use <code>StringValue</code>.</p>
  <p>You can also append custom labels. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-attributes.html#message-attributes-data-types-validation\">Message
  Attribute Data Types and Validation</a> in the <i>Amazon SQS Developer Guide</i>.</p>\";}s:16:\"StringListValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:41:\"Not
  implemented. Reserved for future use.\";}s:11:\"StringValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:182:\"Strings
  are Unicode with UTF-8 binary encoding. For a list of code values, see <a href=\"http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters\">ASCII
  Printable Characters</a>.\";}}s:8:\"required\";a:1:{i:0;s:8:\"DataType\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:23:\"MessageBodyAttributeMap\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/MessageAttributeValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:11:\"MessageList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:18:\"MessageNotInflight\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  message referred to isn't in flight.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"MessageSystemAttributeMap\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/MessageSystemAttributeName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:26:\"MessageSystemAttributeName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:8:\"SenderId\";i:1;s:13:\"SentTimestamp\";i:2;s:23:\"ApproximateReceiveCount\";i:3;s:32:\"ApproximateFirstReceiveTimestamp\";i:4;s:14:\"SequenceNumber\";i:5;s:22:\"MessageDeduplicationId\";i:6;s:14:\"MessageGroupId\";}s:4:\"type\";s:6:\"string\";}s:9:\"OverLimit\";O:8:\"stdClass\":3:{s:11:\"description\";s:285:\"The
  action that you requested would violate a limit. For example, <code>ReceiveMessage</code>
  returns this error if the maximum number of inflight messages is reached. <code>
  <a>AddPermission</a> </code> returns this error if the maximum number of permissions
  for the queue is reached.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"PurgeQueueInProgress\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"Indicates
  that the specified queue previously received a <code>PurgeQueue</code> request within
  the last 60 seconds (the time it can take to delete the messages in the queue).\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"PurgeQueueRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:129:\"<p>The
  URL of the queue from which the <code>PurgeQueue</code> action deletes messages.</p>
  <p>Queue URLs are case-sensitive.</p>\";}}s:8:\"required\";a:1:{i:0;s:8:\"QueueUrl\";}s:4:\"type\";s:6:\"object\";}s:17:\"QueueAttributeMap\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/QueueAttributeName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:18:\"QueueAttributeName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:18:{i:0;s:3:\"All\";i:1;s:6:\"Policy\";i:2;s:17:\"VisibilityTimeout\";i:3;s:18:\"MaximumMessageSize\";i:4;s:22:\"MessageRetentionPeriod\";i:5;s:27:\"ApproximateNumberOfMessages\";i:6;s:37:\"ApproximateNumberOfMessagesNotVisible\";i:7;s:16:\"CreatedTimestamp\";i:8;s:21:\"LastModifiedTimestamp\";i:9;s:8:\"QueueArn\";i:10;s:34:\"ApproximateNumberOfMessagesDelayed\";i:11;s:12:\"DelaySeconds\";i:12;s:29:\"ReceiveMessageWaitTimeSeconds\";i:13;s:13:\"RedrivePolicy\";i:14;s:9:\"FifoQueue\";i:15;s:25:\"ContentBasedDeduplication\";i:16;s:14:\"KmsMasterKeyId\";i:17;s:28:\"KmsDataKeyReusePeriodSeconds\";}s:4:\"type\";s:6:\"string\";}s:20:\"QueueDeletedRecently\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"You
  must wait 60 seconds after deleting a queue before you can create another one with
  the same name.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"QueueDoesNotExist\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  queue referred to doesn't exist.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"QueueNameExists\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"A
  queue already exists with this name. Amazon SQS returns this error only if the request
  includes attributes whose values differ from those of the existing queue.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"QueueUrlList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:22:\"ReceiptHandleIsInvalid\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  receipt handle provided isn't valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"ReceiveMessageRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"AttributeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttributeNameList\";s:11:\"description\";s:2366:\"<p>A
  list of attributes that need to be returned along with each message. These attributes
  include:</p> <ul> <li> <p> <code>All</code> - Returns all values.</p> </li> <li>
  <p> <code>ApproximateFirstReceiveTimestamp</code> - Returns the time the message
  was first received from the queue (<a href=\"http://en.wikipedia.org/wiki/Unix_time\">epoch
  time</a> in milliseconds).</p> </li> <li> <p> <code>ApproximateReceiveCount</code>
  - Returns the number of times a message has been received from the queue but not
  deleted.</p> </li> <li> <p> <code>SenderId</code> </p> <ul> <li> <p>For an IAM user,
  returns the IAM user ID, for example <code>ABCDEFGHI1JKLMNOPQ23R</code>.</p> </li>
  <li> <p>For an IAM role, returns the IAM role ID, for example <code>ABCDE1F2GH3I4JK5LMNOP:i-a123b456</code>.</p>
  </li> </ul> </li> <li> <p> <code>SentTimestamp</code> - Returns the time the message
  was sent to the queue (<a href=\"http://en.wikipedia.org/wiki/Unix_time\">epoch
  time</a> in milliseconds).</p> </li> <li> <p> <code>MessageDeduplicationId</code>
  - Returns the value provided by the sender that calls the <code> <a>SendMessage</a>
  </code> action.</p> </li> <li> <p> <code>MessageGroupId</code> - Returns the value
  provided by the sender that calls the <code> <a>SendMessage</a> </code> action.
  Messages with the same <code>MessageGroupId</code> are returned in sequence.</p>
  </li> <li> <p> <code>SequenceNumber</code> - Returns the value provided by Amazon
  SQS.</p> </li> </ul> <p>Any other valid special request parameters (such as the
  following) are ignored:</p> <ul> <li> <p> <code>ApproximateNumberOfMessages</code>
  </p> </li> <li> <p> <code>ApproximateNumberOfMessagesDelayed</code> </p> </li> <li>
  <p> <code>ApproximateNumberOfMessagesNotVisible</code> </p> </li> <li> <p> <code>CreatedTimestamp</code>
  </p> </li> <li> <p> <code>ContentBasedDeduplication</code> </p> </li> <li> <p> <code>DelaySeconds</code>
  </p> </li> <li> <p> <code>FifoQueue</code> </p> </li> <li> <p> <code>LastModifiedTimestamp</code>
  </p> </li> <li> <p> <code>MaximumMessageSize</code> </p> </li> <li> <p> <code>MessageRetentionPeriod</code>
  </p> </li> <li> <p> <code>Policy</code> </p> </li> <li> <p> <code>QueueArn</code>,
  </p> </li> <li> <p> <code>ReceiveMessageWaitTimeSeconds</code> </p> </li> <li> <p>
  <code>RedrivePolicy</code> </p> </li> <li> <p> <code>VisibilityTimeout</code> </p>
  </li> </ul>\";}s:19:\"MaxNumberOfMessages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:181:\"The
  maximum number of messages to return. Amazon SQS never returns more messages than
  this value (however, fewer messages might be returned). Valid values are 1 to 10.
  Default is 1.\";}s:21:\"MessageAttributeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/MessageAttributeNameList\";s:11:\"description\";s:994:\"<p>The
  name of the message attribute, where <i>N</i> is the index.</p> <ul> <li> <p>The
  name can contain alphanumeric characters and the underscore (<code>_</code>), hyphen
  (<code>-</code>), and period (<code>.</code>).</p> </li> <li> <p>The name is case-sensitive
  and must be unique among all attribute names for the message.</p> </li> <li> <p>The
  name must not start with AWS-reserved prefixes such as <code>AWS.</code> or <code>Amazon.</code>
  (or any casing variants).</p> </li> <li> <p>The name must not start or end with
  a period (<code>.</code>), and it should not have periods in succession (<code>..</code>).</p>
  </li> <li> <p>The name can be up to 256 characters long.</p> </li> </ul> <p>When
  using <code>ReceiveMessage</code>, you can send a list of attribute names to receive,
  or you can return all of the attributes by specifying <code>All</code> or <code>.*</code>
  in your request. You can also use all message attributes starting with a prefix,
  for example <code>bar.*</code>.</p>\";}s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:110:\"<p>The
  URL of the Amazon SQS queue from which messages are received.</p> <p>Queue URLs
  are case-sensitive.</p>\";}s:23:\"ReceiveRequestAttemptId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:3464:\"<p>This
  parameter applies only to FIFO (first-in-first-out) queues.</p> <p>The token used
  for deduplication of <code>ReceiveMessage</code> calls. If a networking issue occurs
  after a <code>ReceiveMessage</code> action, and instead of a response you receive
  a generic error, you can retry the same action with an identical <code>ReceiveRequestAttemptId</code>
  to retrieve the same set of messages, even if their visibility timeout has not yet
  expired.</p> <ul> <li> <p>You can use <code>ReceiveRequestAttemptId</code> only
  for 5 minutes after a <code>ReceiveMessage</code> action.</p> </li> <li> <p>When
  you set <code>FifoQueue</code>, a caller of the <code>ReceiveMessage</code> action
  can provide a <code>ReceiveRequestAttemptId</code> explicitly.</p> </li> <li> <p>If
  a caller of the <code>ReceiveMessage</code> action doesn't provide a <code>ReceiveRequestAttemptId</code>,
  Amazon SQS generates a <code>ReceiveRequestAttemptId</code>.</p> </li> <li> <p>You
  can retry the <code>ReceiveMessage</code> action with the same <code>ReceiveRequestAttemptId</code>
  if none of the messages have been modified (deleted or had their visibility changes).</p>
  </li> <li> <p>During a visibility timeout, subsequent calls with the same <code>ReceiveRequestAttemptId</code>
  return the same messages and receipt handles. If a retry occurs within the deduplication
  interval, it resets the visibility timeout. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-visibility-timeout.html\">Visibility
  Timeout</a> in the <i>Amazon Simple Queue Service Developer Guide</i>.</p> <important>
  <p>If a caller of the <code>ReceiveMessage</code> action is still processing messages
  when the visibility timeout expires and messages become visible, another worker
  reading from the same queue can receive the same messages and therefore process
  duplicates. Also, if a reader whose message processing time is longer than the visibility
  timeout tries to delete the processed messages, the action fails with an error.</p>
  <p>To mitigate this effect, ensure that your application observes a safe threshold
  before the visibility timeout expires and extend the visibility timeout as necessary.</p>
  </important> </li> <li> <p>While messages with a particular <code>MessageGroupId</code>
  are invisible, no more messages belonging to the same <code>MessageGroupId</code>
  are returned until the visibility timeout expires. You can still receive messages
  with another <code>MessageGroupId</code> as long as it is also visible.</p> </li>
  <li> <p>If a caller of <code>ReceiveMessage</code> can't track the <code>ReceiveRequestAttemptId</code>,
  no retries work until the original visibility timeout expires. As a result, delays
  might occur but the messages in the queue remain in a strict order.</p> </li> </ul>
  <p>The length of <code>ReceiveRequestAttemptId</code> is 128 characters. <code>ReceiveRequestAttemptId</code>
  can contain alphanumeric characters (<code>a-z</code>, <code>A-Z</code>, <code>0-9</code>)
  and punctuation (<code>!\"#$%&amp;'()*+,-./:;&lt;=&gt;?@[\\]^_`{|}~</code>).</p>
  <p>For best practices of using <code>ReceiveRequestAttemptId</code>, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queue-recommendations.html#using-receiverequestattemptid-request-parameter\">Using
  the ReceiveRequestAttemptId Request Parameter</a> in the <i>Amazon Simple Queue
  Service Developer Guide</i>.</p>\";}s:17:\"VisibilityTimeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:161:\"The
  duration (in seconds) that the received messages are hidden from subsequent retrieve
  requests after being retrieved by a <code>ReceiveMessage</code> request.\";}s:15:\"WaitTimeSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:191:\"The
  duration (in seconds) for which the call waits for a message to arrive in the queue
  before returning. If a message is available, the call returns sooner than <code>WaitTimeSeconds</code>.\";}}s:8:\"required\";a:1:{i:0;s:8:\"QueueUrl\";}s:4:\"type\";s:6:\"object\";}s:20:\"ReceiveMessageResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"A
  list of received messages.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Messages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MessageList\";s:11:\"description\";s:19:\"A
  list of messages.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"RemovePermissionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Label\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:125:\"The
  identification of the permission to remove. This is the label added using the <code>
  <a>AddPermission</a> </code> action.\";}s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:112:\"<p>The
  URL of the Amazon SQS queue from which permissions are removed.</p> <p>Queue URLs
  are case-sensitive.</p>\";}}s:8:\"required\";a:2:{i:0;s:8:\"QueueUrl\";i:1;s:5:\"Label\";}s:4:\"type\";s:6:\"object\";}s:23:\"SendMessageBatchRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Entries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/SendMessageBatchRequestEntryList\";s:11:\"description\";s:67:\"A
  list of <code> <a>SendMessageBatchRequestEntry</a> </code> items.\";}s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:112:\"<p>The
  URL of the Amazon SQS queue to which batched messages are sent.</p> <p>Queue URLs
  are case-sensitive.</p>\";}}s:8:\"required\";a:2:{i:0;s:8:\"QueueUrl\";i:1;s:7:\"Entries\";}s:4:\"type\";s:6:\"object\";}s:28:\"SendMessageBatchRequestEntry\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"Contains
  the details of a single Amazon SQS message along with an <code>Id</code>.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"DelaySeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:486:\"<p>The
  length of time, in seconds, for which a specific message is delayed. Valid values:
  0 to 900. Maximum: 15 minutes. Messages with a positive <code>DelaySeconds</code>
  value become available for processing after the delay period is finished. If you
  don't specify a value, the default value for the queue is applied. </p> <note> <p>When
  you set <code>FifoQueue</code>, you can't set <code>DelaySeconds</code> per message.
  You can set this parameter only on a queue level.</p> </note>\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:177:\"<p>An
  identifier for a message in this batch used to communicate the result.</p> <note>
  <p>The <code>Id</code>s of a batch request need to be unique within a request</p>
  </note>\";}s:17:\"MessageAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/MessageBodyAttributeMap\";s:11:\"description\";s:357:\"Each
  message attribute consists of a <code>Name</code>, <code>Type</code>, and <code>Value</code>.
  For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-attributes.html#message-attributes-items-validation\">Message
  Attribute Items and Validation</a> in the <i>Amazon SQS Developer Guide</i>.\";}s:11:\"MessageBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:24:\"The
  body of the message.\";}s:22:\"MessageDeduplicationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:3015:\"<p>This
  parameter applies only to FIFO (first-in-first-out) queues.</p> <p>The token used
  for deduplication of messages within a 5-minute minimum deduplication interval.
  If a message with a particular <code>MessageDeduplicationId</code> is sent successfully,
  subsequent messages with the same <code>MessageDeduplicationId</code> are accepted
  successfully but aren't delivered. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-exactly-once-processing\">
  Exactly-Once Processing</a> in the <i>Amazon SQS Developer Guide</i>.</p> <ul> <li>
  <p>Every message must have a unique <code>MessageDeduplicationId</code>,</p> <ul>
  <li> <p>You may provide a <code>MessageDeduplicationId</code> explicitly.</p> </li>
  <li> <p>If you aren't able to provide a <code>MessageDeduplicationId</code> and
  you enable <code>ContentBasedDeduplication</code> for your queue, Amazon SQS uses
  a SHA-256 hash to generate the <code>MessageDeduplicationId</code> using the body
  of the message (but not the attributes of the message). </p> </li> <li> <p>If you
  don't provide a <code>MessageDeduplicationId</code> and the queue doesn't have <code>ContentBasedDeduplication</code>
  set, the action fails with an error.</p> </li> <li> <p>If the queue has <code>ContentBasedDeduplication</code>
  set, your <code>MessageDeduplicationId</code> overrides the generated one.</p> </li>
  </ul> </li> <li> <p>When <code>ContentBasedDeduplication</code> is in effect, messages
  with identical content sent within the deduplication interval are treated as duplicates
  and only one copy of the message is delivered.</p> </li> <li> <p>If you send one
  message with <code>ContentBasedDeduplication</code> enabled and then another message
  with a <code>MessageDeduplicationId</code> that is the same as the one generated
  for the first <code>MessageDeduplicationId</code>, the two messages are treated
  as duplicates and only one copy of the message is delivered. </p> </li> </ul> <note>
  <p>The <code>MessageDeduplicationId</code> is available to the recipient of the
  message (this can be useful for troubleshooting delivery issues).</p> <p>If a message
  is sent successfully but the acknowledgement is lost and the message is resent with
  the same <code>MessageDeduplicationId</code> after the deduplication interval, Amazon
  SQS can't detect duplicate messages.</p> </note> <p>The length of <code>MessageDeduplicationId</code>
  is 128 characters. <code>MessageDeduplicationId</code> can contain alphanumeric
  characters (<code>a-z</code>, <code>A-Z</code>, <code>0-9</code>) and punctuation
  (<code>!\"#$%&amp;'()*+,-./:;&lt;=&gt;?@[\\]^_`{|}~</code>).</p> <p>For best practices
  of using <code>MessageDeduplicationId</code>, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queue-recommendations.html#using-messagededuplicationid-property\">Using
  the MessageDeduplicationId Property</a> in the <i>Amazon Simple Queue Service Developer
  Guide</i>.</p>\";}s:14:\"MessageGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1633:\"<p>This
  parameter applies only to FIFO (first-in-first-out) queues.</p> <p>The tag that
  specifies that a message belongs to a specific message group. Messages that belong
  to the same message group are processed in a FIFO manner (however, messages in different
  message groups might be processed out of order). To interleave multiple ordered
  streams within a single queue, use <code>MessageGroupId</code> values (for example,
  session data for multiple users). In this scenario, multiple readers can process
  the queue, but the session data of each user is processed in a FIFO fashion.</p>
  <ul> <li> <p>You must associate a non-empty <code>MessageGroupId</code> with a message.
  If you don't provide a <code>MessageGroupId</code>, the action fails.</p> </li>
  <li> <p> <code>ReceiveMessage</code> might return messages with multiple <code>MessageGroupId</code>
  values. For each <code>MessageGroupId</code>, the messages are sorted by time sent.
  The caller can't specify a <code>MessageGroupId</code>.</p> </li> </ul> <p>The length
  of <code>MessageGroupId</code> is 128 characters. Valid values are alphanumeric
  characters and punctuation <code>(!\"#$%&amp;'()*+,-./:;&lt;=&gt;?@[\\]^_`{|}~)</code>.</p>
  <p>For best practices of using <code>MessageGroupId</code>, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queue-recommendations.html#using-messagegroupid-property\">Using
  the MessageGroupId Property</a> in the <i>Amazon Simple Queue Service Developer
  Guide</i>.</p> <important> <p> <code>MessageGroupId</code> is required for FIFO
  queues. You can't use it for Standard queues.</p> </important>\";}}s:8:\"required\";a:2:{i:0;s:2:\"Id\";i:1;s:11:\"MessageBody\";}s:4:\"type\";s:6:\"object\";}s:32:\"SendMessageBatchRequestEntryList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/SendMessageBatchRequestEntry\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:22:\"SendMessageBatchResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:207:\"For
  each message in the batch, the response contains a <code> <a>SendMessageBatchResultEntry</a>
  </code> tag if the message succeeds or a <code> <a>BatchResultErrorEntry</a> </code>
  tag if the message fails.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Failed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BatchResultErrorEntryList\";s:11:\"description\";s:121:\"A
  list of <code> <a>BatchResultErrorEntry</a> </code> items with error details about
  each message that can't be enqueued.\";}s:10:\"Successful\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/SendMessageBatchResultEntryList\";s:11:\"description\";s:66:\"A
  list of <code> <a>SendMessageBatchResultEntry</a> </code> items.\";}}s:8:\"required\";a:2:{i:0;s:10:\"Successful\";i:1;s:6:\"Failed\";}s:4:\"type\";s:6:\"object\";}s:27:\"SendMessageBatchResultEntry\";O:8:\"stdClass\":4:{s:11:\"description\";s:114:\"Encloses
  a <code>MessageId</code> for a successfully-enqueued message in a <code> <a>SendMessageBatch</a>.</code>
  \";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:44:\"An
  identifier for the message in this batch.\";}s:22:\"MD5OfMessageAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:305:\"An
  MD5 digest of the non-URL-encoded message attribute string. You can use this attribute
  to verify that Amazon SQS received the message correctly. Amazon SQS URL-decodes
  the message before creating the MD5 digest. For information about MD5, see <a href=\"https://www.ietf.org/rfc/rfc1321.txt\">RFC1321</a>.\";}s:16:\"MD5OfMessageBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:305:\"An
  MD5 digest of the non-URL-encoded message attribute string. You can use this attribute
  to verify that Amazon SQS received the message correctly. Amazon SQS URL-decodes
  the message before creating the MD5 digest. For information about MD5, see <a href=\"https://www.ietf.org/rfc/rfc1321.txt\">RFC1321</a>.\";}s:9:\"MessageId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"An
  identifier for the message.\";}s:14:\"SequenceNumber\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:314:\"<p>This
  parameter applies only to FIFO (first-in-first-out) queues.</p> <p>The large, non-consecutive
  number that Amazon SQS assigns to each message.</p> <p>The length of <code>SequenceNumber</code>
  is 128 bits. As <code>SequenceNumber</code> continues to increase for a particular
  <code>MessageGroupId</code>.</p>\";}}s:8:\"required\";a:3:{i:0;s:2:\"Id\";i:1;s:9:\"MessageId\";i:2;s:16:\"MD5OfMessageBody\";}s:4:\"type\";s:6:\"object\";}s:31:\"SendMessageBatchResultEntryList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/SendMessageBatchResultEntry\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:18:\"SendMessageRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"DelaySeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:482:\"<p>
  The length of time, in seconds, for which to delay a specific message. Valid values:
  0 to 900. Maximum: 15 minutes. Messages with a positive <code>DelaySeconds</code>
  value become available for processing after the delay period is finished. If you
  don't specify a value, the default value for the queue applies. </p> <note> <p>When
  you set <code>FifoQueue</code>, you can't set <code>DelaySeconds</code> per message.
  You can set this parameter only on a queue level.</p> </note>\";}s:17:\"MessageAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/MessageBodyAttributeMap\";s:11:\"description\";s:357:\"Each
  message attribute consists of a <code>Name</code>, <code>Type</code>, and <code>Value</code>.
  For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-attributes.html#message-attributes-items-validation\">Message
  Attribute Items and Validation</a> in the <i>Amazon SQS Developer Guide</i>.\";}s:11:\"MessageBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:583:\"<p>The
  message to send. The maximum string size is 256 KB.</p> <important> <p>A message
  can include only XML, JSON, and unformatted text. The following Unicode characters
  are allowed:</p> <p> <code>#x9</code> | <code>#xA</code> | <code>#xD</code> | <code>#x20</code>
  to <code>#xD7FF</code> | <code>#xE000</code> to <code>#xFFFD</code> | <code>#x10000</code>
  to <code>#x10FFFF</code> </p> <p>Any characters not included in this list will be
  rejected. For more information, see the <a href=\"http://www.w3.org/TR/REC-xml/#charsets\">W3C
  specification for characters</a>.</p> </important>\";}s:22:\"MessageDeduplicationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:3012:\"<p>This
  parameter applies only to FIFO (first-in-first-out) queues.</p> <p>The token used
  for deduplication of sent messages. If a message with a particular <code>MessageDeduplicationId</code>
  is sent successfully, any messages sent with the same <code>MessageDeduplicationId</code>
  are accepted successfully but aren't delivered during the 5-minute deduplication
  interval. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-exactly-once-processing\">
  Exactly-Once Processing</a> in the <i>Amazon SQS Developer Guide</i>.</p> <ul> <li>
  <p>Every message must have a unique <code>MessageDeduplicationId</code>,</p> <ul>
  <li> <p>You may provide a <code>MessageDeduplicationId</code> explicitly.</p> </li>
  <li> <p>If you aren't able to provide a <code>MessageDeduplicationId</code> and
  you enable <code>ContentBasedDeduplication</code> for your queue, Amazon SQS uses
  a SHA-256 hash to generate the <code>MessageDeduplicationId</code> using the body
  of the message (but not the attributes of the message). </p> </li> <li> <p>If you
  don't provide a <code>MessageDeduplicationId</code> and the queue doesn't have <code>ContentBasedDeduplication</code>
  set, the action fails with an error.</p> </li> <li> <p>If the queue has <code>ContentBasedDeduplication</code>
  set, your <code>MessageDeduplicationId</code> overrides the generated one.</p> </li>
  </ul> </li> <li> <p>When <code>ContentBasedDeduplication</code> is in effect, messages
  with identical content sent within the deduplication interval are treated as duplicates
  and only one copy of the message is delivered.</p> </li> <li> <p>If you send one
  message with <code>ContentBasedDeduplication</code> enabled and then another message
  with a <code>MessageDeduplicationId</code> that is the same as the one generated
  for the first <code>MessageDeduplicationId</code>, the two messages are treated
  as duplicates and only one copy of the message is delivered. </p> </li> </ul> <note>
  <p>The <code>MessageDeduplicationId</code> is available to the recipient of the
  message (this can be useful for troubleshooting delivery issues).</p> <p>If a message
  is sent successfully but the acknowledgement is lost and the message is resent with
  the same <code>MessageDeduplicationId</code> after the deduplication interval, Amazon
  SQS can't detect duplicate messages.</p> </note> <p>The length of <code>MessageDeduplicationId</code>
  is 128 characters. <code>MessageDeduplicationId</code> can contain alphanumeric
  characters (<code>a-z</code>, <code>A-Z</code>, <code>0-9</code>) and punctuation
  (<code>!\"#$%&amp;'()*+,-./:;&lt;=&gt;?@[\\]^_`{|}~</code>).</p> <p>For best practices
  of using <code>MessageDeduplicationId</code>, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queue-recommendations.html#using-messagededuplicationid-property\">Using
  the MessageDeduplicationId Property</a> in the <i>Amazon Simple Queue Service Developer
  Guide</i>.</p>\";}s:14:\"MessageGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1633:\"<p>This
  parameter applies only to FIFO (first-in-first-out) queues.</p> <p>The tag that
  specifies that a message belongs to a specific message group. Messages that belong
  to the same message group are processed in a FIFO manner (however, messages in different
  message groups might be processed out of order). To interleave multiple ordered
  streams within a single queue, use <code>MessageGroupId</code> values (for example,
  session data for multiple users). In this scenario, multiple readers can process
  the queue, but the session data of each user is processed in a FIFO fashion.</p>
  <ul> <li> <p>You must associate a non-empty <code>MessageGroupId</code> with a message.
  If you don't provide a <code>MessageGroupId</code>, the action fails.</p> </li>
  <li> <p> <code>ReceiveMessage</code> might return messages with multiple <code>MessageGroupId</code>
  values. For each <code>MessageGroupId</code>, the messages are sorted by time sent.
  The caller can't specify a <code>MessageGroupId</code>.</p> </li> </ul> <p>The length
  of <code>MessageGroupId</code> is 128 characters. Valid values are alphanumeric
  characters and punctuation <code>(!\"#$%&amp;'()*+,-./:;&lt;=&gt;?@[\\]^_`{|}~)</code>.</p>
  <p>For best practices of using <code>MessageGroupId</code>, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queue-recommendations.html#using-messagegroupid-property\">Using
  the MessageGroupId Property</a> in the <i>Amazon Simple Queue Service Developer
  Guide</i>.</p> <important> <p> <code>MessageGroupId</code> is required for FIFO
  queues. You can't use it for Standard queues.</p> </important>\";}s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:104:\"<p>The
  URL of the Amazon SQS queue to which a message is sent.</p> <p>Queue URLs are case-sensitive.</p>\";}}s:8:\"required\";a:2:{i:0;s:8:\"QueueUrl\";i:1;s:11:\"MessageBody\";}s:4:\"type\";s:6:\"object\";}s:17:\"SendMessageResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  <code>MD5OfMessageBody</code> and <code>MessageId</code> elements.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"MD5OfMessageAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:305:\"An
  MD5 digest of the non-URL-encoded message attribute string. You can use this attribute
  to verify that Amazon SQS received the message correctly. Amazon SQS URL-decodes
  the message before creating the MD5 digest. For information about MD5, see <a href=\"https://www.ietf.org/rfc/rfc1321.txt\">RFC1321</a>.\";}s:16:\"MD5OfMessageBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:305:\"An
  MD5 digest of the non-URL-encoded message attribute string. You can use this attribute
  to verify that Amazon SQS received the message correctly. Amazon SQS URL-decodes
  the message before creating the MD5 digest. For information about MD5, see <a href=\"https://www.ietf.org/rfc/rfc1321.txt\">RFC1321</a>.\";}s:9:\"MessageId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:306:\"An
  attribute containing the <code>MessageId</code> of the message sent to the queue.
  For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-queue-message-identifiers.html\">Queue
  and Message Identifiers</a> in the <i>Amazon SQS Developer Guide</i>. \";}s:14:\"SequenceNumber\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:311:\"<p>This
  parameter applies only to FIFO (first-in-first-out) queues.</p> <p>The large, non-consecutive
  number that Amazon SQS assigns to each message.</p> <p>The length of <code>SequenceNumber</code>
  is 128 bits. <code>SequenceNumber</code> continues to increase for a particular
  <code>MessageGroupId</code>.</p>\";}}s:4:\"type\";s:6:\"object\";}s:25:\"SetQueueAttributesRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/QueueAttributeMap\";s:11:\"description\";s:6426:\"<p>A
  map of attributes to set.</p> <p>The following lists the names, descriptions, and
  values of the special request parameters that the <code>SetQueueAttributes</code>
  action uses:</p> <ul> <li> <p> <code>DelaySeconds</code> - The length of time, in
  seconds, for which the delivery of all messages in the queue is delayed. Valid values:
  An integer from 0 to 900 (15 minutes). The default is 0 (zero). </p> </li> <li>
  <p> <code>MaximumMessageSize</code> - The limit of how many bytes a message can
  contain before Amazon SQS rejects it. Valid values: An integer from 1,024 bytes
  (1 KiB) up to 262,144 bytes (256 KiB). The default is 262,144 (256 KiB). </p> </li>
  <li> <p> <code>MessageRetentionPeriod</code> - The length of time, in seconds, for
  which Amazon SQS retains a message. Valid values: An integer representing seconds,
  from 60 (1 minute) to 1,209,600 (14 days). The default is 345,600 (4 days). </p>
  </li> <li> <p> <code>Policy</code> - The queue's policy. A valid AWS policy. For
  more information about policy structure, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/PoliciesOverview.html\">Overview
  of AWS IAM Policies</a> in the <i>Amazon IAM User Guide</i>. </p> </li> <li> <p>
  <code>ReceiveMessageWaitTimeSeconds</code> - The length of time, in seconds, for
  which a <code> <a>ReceiveMessage</a> </code> action waits for a message to arrive.
  Valid values: an integer from 0 to 20 (seconds). The default is 0. </p> </li> <li>
  <p> <code>RedrivePolicy</code> - The parameters for the dead letter queue functionality
  of the source queue. For more information about the redrive policy and dead letter
  queues, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-dead-letter-queues.html\">Using
  Amazon SQS Dead Letter Queues</a> in the <i>Amazon SQS Developer Guide</i>. </p>
  <note> <p>The dead letter queue of a FIFO queue must also be a FIFO queue. Similarly,
  the dead letter queue of a standard queue must also be a standard queue.</p> </note>
  </li> <li> <p> <code>VisibilityTimeout</code> - The visibility timeout for the queue.
  Valid values: an integer from 0 to 43,200 (12 hours). The default is 30. For more
  information about the visibility timeout, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-visibility-timeout.html\">Visibility
  Timeout</a> in the <i>Amazon SQS Developer Guide</i>.</p> </li> </ul> <p>The following
  attributes apply only to <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html\">server-side-encryption</a>:</p>
  <ul> <li> <p> <code>KmsMasterKeyId</code> - The ID of an AWS-managed customer master
  key (CMK) for Amazon SQS or a custom CMK. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html#sqs-sse-key-terms\">Key
  Terms</a>. While the alias of the AWS-managed CMK for Amazon SQS is always <code>alias/aws/sqs</code>,
  the alias of a custom CMK can, for example, be <code>alias/aws/sqs</code>. For more
  examples, see <a href=\"http://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">KeyId</a>
  in the <i>AWS Key Management Service API Reference</i>. </p> </li> <li> <p> <code>KmsDataKeyReusePeriodSeconds</code>
  - The length of time, in seconds, for which Amazon SQS can reuse a <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#data-keys\">data
  key</a> to encrypt or decrypt messages before calling AWS KMS again. An integer
  representing seconds, between 60 seconds (1 minute) and 86,400 seconds (24 hours).
  The default is 300 (5 minutes). A shorter time period provides better security but
  results in more calls to KMS which incur charges after Free Tier. For more information,
  see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-server-side-encryption.html#sqs-how-does-the-data-key-reuse-period-work\">How
  Does the Data Key Reuse Period Work?</a>. </p> </li> </ul> <p>The following attribute
  applies only to <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html\">FIFO
  (first-in-first-out) queues</a>:</p> <ul> <li> <p> <code>ContentBasedDeduplication</code>
  - Enables content-based deduplication. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-exactly-once-processing\">Exactly-Once
  Processing</a> in the <i>Amazon SQS Developer Guide</i>. </p> <ul> <li> <p>Every
  message must have a unique <code>MessageDeduplicationId</code>,</p> <ul> <li> <p>You
  may provide a <code>MessageDeduplicationId</code> explicitly.</p> </li> <li> <p>If
  you aren't able to provide a <code>MessageDeduplicationId</code> and you enable
  <code>ContentBasedDeduplication</code> for your queue, Amazon SQS uses a SHA-256
  hash to generate the <code>MessageDeduplicationId</code> using the body of the message
  (but not the attributes of the message). </p> </li> <li> <p>If you don't provide
  a <code>MessageDeduplicationId</code> and the queue doesn't have <code>ContentBasedDeduplication</code>
  set, the action fails with an error.</p> </li> <li> <p>If the queue has <code>ContentBasedDeduplication</code>
  set, your <code>MessageDeduplicationId</code> overrides the generated one.</p> </li>
  </ul> </li> <li> <p>When <code>ContentBasedDeduplication</code> is in effect, messages
  with identical content sent within the deduplication interval are treated as duplicates
  and only one copy of the message is delivered.</p> </li> <li> <p>If you send one
  message with <code>ContentBasedDeduplication</code> enabled and then another message
  with a <code>MessageDeduplicationId</code> that is the same as the one generated
  for the first <code>MessageDeduplicationId</code>, the two messages are treated
  as duplicates and only one copy of the message is delivered. </p> </li> </ul> </li>
  </ul> <p>Any other valid special request parameters (such as the following) are
  ignored:</p> <ul> <li> <p> <code>ApproximateNumberOfMessages</code> </p> </li> <li>
  <p> <code>ApproximateNumberOfMessagesDelayed</code> </p> </li> <li> <p> <code>ApproximateNumberOfMessagesNotVisible</code>
  </p> </li> <li> <p> <code>CreatedTimestamp</code> </p> </li> <li> <p> <code>LastModifiedTimestamp</code>
  </p> </li> <li> <p> <code>QueueArn</code> </p> </li> </ul>\";}s:8:\"QueueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:102:\"<p>The
  URL of the Amazon SQS queue whose attributes are set.</p> <p>Queue URLs are case-sensitive.</p>\";}}s:8:\"required\";a:2:{i:0;s:8:\"QueueUrl\";i:1;s:10:\"Attributes\";}s:4:\"type\";s:6:\"object\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"StringList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:28:\"TooManyEntriesInBatchRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  batch request contains more entries than permissible.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"UnsupportedOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Error
  code 400. Unsupported operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}"
...
