---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:3:\"2.0\";s:17:\"x-WM-SERVICE_TYPE\";s:11:\"RestService\";s:11:\"x-WM-API_ID\";s:36:\"e0a76671-e785-4c28-a4ab-37cc5c46ab19\";s:15:\"x-WM-SERVICE_ID\";s:10:\"sharepoint\";}"
host: wavemaker1.sharepoint.com
basePath: /_api/web/lists/getByTitle('CustomerRepository')/items
paths:
  _empty_:
    post:
      tags:
      - RestServiceVirtualController
      operationId: RestServiceVirtualController-invoke
      consumes:
      - application/json
      parameters:
      - name: Accept
        in: header
        description: Accept
        required: false
        type: array
        items:
          type: string
        x-WM-FULLY_QUALIFIED_TYPE: java.lang.String
        x-WM-EDITABLE: true
      - name: Authorization
        in: header
        description: Authorization
        required: false
        type: array
        items:
          type: string
        x-WM-FULLY_QUALIFIED_TYPE: java.lang.String
        x-WM-EDITABLE: true
      - in: body
        name: RequestBody
        description: RequestBody
        required: false
        schema:
          $ref: '#/definitions/RootRequest'
        x-WM-FULLY_QUALIFIED_TYPE: java.lang.Object
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RootResponse'
      x-WM-OPERATION_UID: 1c80fab5-6ae3-40f8-b122-31a7485bdee3
      x-WM-ACCESS_SPECIFIER: APP_ONLY
      x-WM-METHOD_NAME: invoke
    x-WM-TAG: RestServiceVirtualController
    x-WM-BASE_PATH: /_api/web/lists/getByTitle('CustomerRepository')/items
    x-WM-RELATIVE_PATH: ""
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:12:\"RootResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:1:\"d\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/d\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:41:\"sp_insert_customer_repo_list.RootResponse\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:1:\"d\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":25:{s:4:\"GUID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Folder\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Folder\";}s:4:\"File\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/File\";}s:8:\"AuthorId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"RoleAssignments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RoleAssignments\";}s:11:\"Attachments\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"OData__UIVersionString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"FieldValuesForEdit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FieldValuesForEdit\";}s:12:\"CustomerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ContentTypeId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"FieldValuesAsHtml\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FieldValuesAsHtml\";}s:34:\"FirstUniqueAncestorSecurableObject\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/FirstUniqueAncestorSecurableObject\";}s:7:\"Created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"GetDlpPolicyTip\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/GetDlpPolicyTip\";}s:8:\"Modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"FileSystemObjectType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"EditorId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:17:\"FieldValuesAsText\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FieldValuesAsText\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"ParentList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ParentList\";}s:15:\"AttachmentFiles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AttachmentFiles\";}s:10:\"__metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/__metadata\";}s:11:\"ContentType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ContentType\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:30:\"sp_insert_customer_repo_list.d\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:6:\"Folder\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"__deferred\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/__deferred\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:35:\"sp_insert_customer_repo_list.Folder\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:4:\"File\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"__deferred\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/__deferred\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:33:\"sp_insert_customer_repo_list.File\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:15:\"RoleAssignments\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"__deferred\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/__deferred\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:44:\"sp_insert_customer_repo_list.RoleAssignments\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:18:\"FieldValuesForEdit\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"__deferred\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/__deferred\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:47:\"sp_insert_customer_repo_list.FieldValuesForEdit\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:17:\"FieldValuesAsHtml\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"__deferred\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/__deferred\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:46:\"sp_insert_customer_repo_list.FieldValuesAsHtml\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:34:\"FirstUniqueAncestorSecurableObject\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"__deferred\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/__deferred\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:63:\"sp_insert_customer_repo_list.FirstUniqueAncestorSecurableObject\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:11:\"RootRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"CustomerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:40:\"sp_insert_customer_repo_list.RootRequest\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:10:\"__deferred\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:39:\"sp_insert_customer_repo_list.__deferred\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:15:\"GetDlpPolicyTip\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"__deferred\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/__deferred\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:44:\"sp_insert_customer_repo_list.GetDlpPolicyTip\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:17:\"FieldValuesAsText\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"__deferred\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/__deferred\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:46:\"sp_insert_customer_repo_list.FieldValuesAsText\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:10:\"ParentList\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"__deferred\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/__deferred\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:39:\"sp_insert_customer_repo_list.ParentList\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:15:\"AttachmentFiles\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"__deferred\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/__deferred\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:44:\"sp_insert_customer_repo_list.AttachmentFiles\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:10:\"__metadata\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:39:\"sp_insert_customer_repo_list.__metadata\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:11:\"ContentType\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"__deferred\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/__deferred\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:40:\"sp_insert_customer_repo_list.ContentType\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}}"
...
