---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:67:\"Tweet summarization.<BR
  />[Endpoint] https://api.apitore.com/api/27\";s:5:\"title\";s:24:\"Tweet summarization
  APIs\";s:7:\"version\";s:5:\"0.0.1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:4:\"text\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:69:\"https://api.apis.guru/v2/cache/logo/https_apitore.com_img_apis_27.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:31:\"https://api.apitore.com/json/27\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"apitore.com\";s:13:\"x-serviceName\";s:22:\"tweetSummarizationApis\";}"
host: api.apitore.com
basePath: /api/27
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:20:\"TweetSummarizeEntity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"createdAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Tweet
  date\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"score\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Summarization
  score\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"statusId\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Status
  ID\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Tweet
  text\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"User
  ID\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"userName\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"User
  name\";s:4:\"type\";s:6:\"string\";}s:19:\"userProfileImageURL\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"User
  profile image URL\";s:4:\"type\";s:6:\"string\";}s:14:\"userScreenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"User
  screen name\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:9:\"createdAt\";i:1;s:5:\"score\";i:2;s:8:\"statusId\";i:3;s:4:\"text\";i:4;s:6:\"userId\";i:5;s:8:\"userName\";i:6;s:19:\"userProfileImageURL\";i:7;s:14:\"userScreenName\";}s:4:\"type\";s:6:\"object\";}s:30:\"TwitterSummarizeResponseEntity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"endTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"End
  date\";s:4:\"type\";s:6:\"string\";}s:3:\"log\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Log
  message\";s:4:\"type\";s:6:\"string\";}s:14:\"numofSummarize\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Output:
  Numof summarize\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"numofTweets\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Output:
  Numof hit tweets\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"processTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Process
  time [millisecond]\";s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Input:
  query\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Start
  date\";s:4:\"type\";s:6:\"string\";}s:6:\"tweets\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Output:
  Summarization tweets\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TweetSummarizeEntity\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:8:{i:0;s:7:\"endTime\";i:1;s:3:\"log\";i:2;s:14:\"numofSummarize\";i:3;s:11:\"numofTweets\";i:4;s:11:\"processTime\";i:5;s:5:\"query\";i:6;s:9:\"startTime\";i:7;s:6:\"tweets\";}s:4:\"type\";s:6:\"object\";}}"
...
