---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:84:\"Url to label by
  word2vec of contents.<BR />[Endpoint] https://api.apitore.com/api/21\";s:5:\"title\";s:29:\"Url2Label
  by word vector APIs\";s:7:\"version\";s:5:\"0.0.1\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:69:\"https://api.apis.guru/v2/cache/logo/https_apitore.com_img_apis_21.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:31:\"https://api.apitore.com/json/21\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"apitore.com\";s:13:\"x-serviceName\";s:25:\"url2labelByWordVectorApis\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:33:\"apitore_url2labelbywordvectorapis\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.apitore.com
basePath: /api/21
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:11:\"LabelEntity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"label\";s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"tfidf
  score\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:5:\"label\";i:1;s:5:\"score\";}s:4:\"type\";s:6:\"object\";}s:19:\"LabelResponseEntity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"endTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"End
  date\";s:4:\"type\";s:6:\"string\";}s:5:\"input\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Input
  word\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Distances\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/LabelEntity\";}s:4:\"type\";s:5:\"array\";}s:3:\"log\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Log
  message\";s:4:\"type\";s:6:\"string\";}s:3:\"num\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Input
  num\";s:4:\"type\";s:6:\"string\";}s:11:\"processTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Process
  time [millisecond]\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Start
  date\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:7:\"endTime\";i:1;s:5:\"input\";i:2;s:3:\"log\";i:3;s:3:\"num\";i:4;s:11:\"processTime\";i:5;s:9:\"startTime\";}s:4:\"type\";s:6:\"object\";}}"
...
