---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:79:\"SentencePiece
  tokenizer (tweet).<BR />[Endpoint] https://api.apitore.com/api/38\";s:5:\"title\";s:26:\"SentencePiece
  APIs (tweet)\";s:7:\"version\";s:5:\"0.0.1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:4:\"text\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:69:\"https://api.apis.guru/v2/cache/logo/https_apitore.com_img_apis_38.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:31:\"https://api.apitore.com/json/38\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"apitore.com\";s:13:\"x-serviceName\";s:24:\"sentencepieceApis_tweet_\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"apitore_sentencepieceapis_tweet_\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.apitore.com
basePath: /api/38
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:13:\"SPTokenEntity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Token\";s:4:\"type\";s:6:\"string\";}s:3:\"wid\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Word
  ID\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:5:\"token\";i:1;s:3:\"wid\";}s:4:\"type\";s:6:\"object\";}s:32:\"SentencePieceTokenResponseEntity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"endTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"End
  date\";s:4:\"type\";s:6:\"string\";}s:3:\"log\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Log
  message\";s:4:\"type\";s:6:\"string\";}s:11:\"processTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Process
  time [millisecond]\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Start
  date\";s:4:\"type\";s:6:\"string\";}s:6:\"tokens\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"SentencePiece
  Tokens\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SPTokenEntity\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:4:{i:0;s:7:\"endTime\";i:1;s:3:\"log\";i:2;s:11:\"processTime\";i:3;s:9:\"startTime\";}s:4:\"type\";s:6:\"object\";}}"
...
