---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:66:\"Language detection.<BR
  />[Endpoint] https://api.apitore.com/api/22\";s:5:\"title\";s:23:\"Language Detection
  APIs\";s:7:\"version\";s:5:\"0.0.1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:4:\"text\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:69:\"https://api.apis.guru/v2/cache/logo/https_apitore.com_img_apis_22.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:31:\"https://api.apitore.com/json/22\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"apitore.com\";s:13:\"x-serviceName\";s:21:\"languageDetectionApis\";}"
host: api.apitore.com
basePath: /api/22
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:14:\"LanguageEntity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"lang\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"language\";s:4:\"type\";s:6:\"string\";}s:4:\"prob\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"probability\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:4:\"lang\";i:1;s:4:\"prob\";}s:4:\"type\";s:6:\"object\";}s:22:\"LanguageResponseEntity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"endTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"End
  date\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Output:
  prediction\";s:4:\"type\";s:6:\"string\";}s:3:\"log\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Log
  message\";s:4:\"type\";s:6:\"string\";}s:13:\"probabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Output:
  probabilities\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LanguageEntity\";}s:4:\"type\";s:5:\"array\";}s:11:\"processTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Process
  time [millisecond]\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Start
  date\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Input:
  text\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:7:\"endTime\";i:1;s:8:\"language\";i:2;s:3:\"log\";i:3;s:13:\"probabilities\";i:4;s:11:\"processTime\";i:5;s:9:\"startTime\";i:6;s:4:\"text\";}s:4:\"type\";s:6:\"object\";}}"
...
