---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:59:\"Url to Html.<BR
  />[Endpoint] https://api.apitore.com/api/12\";s:5:\"title\";s:13:\"Url2Html APIs\";s:7:\"version\";s:5:\"0.0.1\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:69:\"https://api.apis.guru/v2/cache/logo/https_apitore.com_img_apis_12.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:31:\"https://api.apitore.com/json/12\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"apitore.com\";s:13:\"x-serviceName\";s:12:\"url2htmlApis\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"apitore_url2htmlapis\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.apitore.com
basePath: /api/12
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:18:\"TextResponseEntity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"endTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"End
  date\";s:4:\"type\";s:6:\"string\";}s:3:\"log\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Log
  message\";s:4:\"type\";s:6:\"string\";}s:11:\"processTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Process
  time [millisecond]\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Start
  date\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Text\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:7:\"endTime\";i:1;s:3:\"log\";i:2;s:11:\"processTime\";i:3;s:9:\"startTime\";i:4;s:4:\"text\";}s:4:\"type\";s:6:\"object\";}}"
...
