---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:72:\"Return all WordNet
  words.<BR />[Endpoint] https://api.apitore.com/api/40\";s:5:\"title\";s:21:\"Japanese
  WordNet APIs\";s:7:\"version\";s:5:\"0.0.1\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:69:\"https://api.apis.guru/v2/cache/logo/https_apitore.com_img_apis_40.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:31:\"https://api.apitore.com/json/40\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"apitore.com\";s:13:\"x-serviceName\";s:19:\"japaneseWordnetApis\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:27:\"apitore_japanesewordnetapis\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.apitore.com
basePath: /api/40
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:15:\"LinkWordsEntity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"labelen\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Link
  label En\";s:4:\"type\";s:6:\"string\";}s:7:\"labelja\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Link
  label Ja\";s:4:\"type\";s:6:\"string\";}s:3:\"pos\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Input
  part-of-speech\";s:4:\"type\";s:6:\"string\";}s:5:\"words\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Link
  words\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:4:{i:0;s:7:\"labelen\";i:1;s:7:\"labelja\";i:2;s:3:\"pos\";i:3;s:5:\"words\";}s:4:\"type\";s:6:\"object\";}s:19:\"LinksResponseEntity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"endTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"End
  date\";s:4:\"type\";s:6:\"string\";}s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Entries\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LinkWordsEntity\";}s:4:\"type\";s:5:\"array\";}s:3:\"log\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Log
  message\";s:4:\"type\";s:6:\"string\";}s:11:\"processTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Process
  time [millisecond]\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Start
  date\";s:4:\"type\";s:6:\"string\";}s:4:\"word\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Input
  word\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:7:\"endTime\";i:1;s:7:\"entries\";i:2;s:3:\"log\";i:3;s:11:\"processTime\";i:4;s:9:\"startTime\";i:5;s:4:\"word\";}s:4:\"type\";s:6:\"object\";}}"
...
