---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:59:\"Rss to Json.<BR
  />[Endpoint] https://api.apitore.com/api/28\";s:5:\"title\";s:13:\"RSS2JSON APIs\";s:7:\"version\";s:5:\"0.0.1\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:69:\"https://api.apis.guru/v2/cache/logo/https_apitore.com_img_apis_28.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:31:\"https://api.apitore.com/json/28\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"apitore.com\";s:13:\"x-serviceName\";s:12:\"rss2jsonApis\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"apitore_rss2jsonapis\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.apitore.com
basePath: /api/28
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:15:\"SyndEntryEntity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"author\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Author\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Description\";s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Link\";s:4:\"type\";s:6:\"string\";}s:7:\"pubDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Published
  Date\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Title\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"link\";i:1;s:7:\"pubDate\";i:2;s:5:\"title\";}s:4:\"type\";s:6:\"object\";}s:22:\"SyndFeedResponseEntity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"author\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Author\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Description\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"End
  date\";s:4:\"type\";s:6:\"string\";}s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Entries\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SyndEntryEntity\";}s:4:\"type\";s:5:\"array\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Link\";s:4:\"type\";s:6:\"string\";}s:3:\"log\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Log
  message\";s:4:\"type\";s:6:\"string\";}s:3:\"num\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"Num\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"processTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Process
  time [millisecond]\";s:4:\"type\";s:6:\"string\";}s:7:\"pubDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Published
  Date\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"rss\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Input
  RSS\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Start
  date\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Title\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:10:{i:0;s:7:\"endTime\";i:1;s:7:\"entries\";i:2;s:4:\"link\";i:3;s:3:\"log\";i:4;s:3:\"num\";i:5;s:11:\"processTime\";i:6;s:7:\"pubDate\";i:7;s:3:\"rss\";i:8;s:9:\"startTime\";i:9;s:5:\"title\";}s:4:\"type\";s:6:\"object\";}}"
...
