---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:67:\"Sentence Similarity.<BR
  />[Endpoint] https://api.apitore.com/api/53\";s:5:\"title\";s:19:\"Sentence Similarity\";s:7:\"version\";s:5:\"0.0.1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:4:\"text\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:69:\"https://api.apis.guru/v2/cache/logo/https_apitore.com_img_apis_53.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:31:\"https://api.apitore.com/json/53\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"apitore.com\";s:13:\"x-serviceName\";s:18:\"sentenceSimilarity\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"apitore_sentencesimilarity\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.apitore.com
basePath: /api/53
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:17:\"TextRequestEntity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"text1\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"text1\";s:4:\"type\";s:6:\"string\";}s:5:\"text2\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"text2\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"text1\";i:1;s:5:\"text2\";}s:4:\"type\";s:6:\"object\";}s:28:\"TextSimilarityResponseEntity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"endTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"End
  date\";s:4:\"type\";s:6:\"string\";}s:3:\"log\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Log
  message\";s:4:\"type\";s:6:\"string\";}s:11:\"processTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Process
  time [millisecond]\";s:4:\"type\";s:6:\"string\";}s:10:\"similarity\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Similarity\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Start
  date\";s:4:\"type\";s:6:\"string\";}s:5:\"text1\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Text1\";s:4:\"type\";s:6:\"string\";}s:5:\"text2\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Text2\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:7:\"endTime\";i:1;s:3:\"log\";i:2;s:11:\"processTime\";i:3;s:10:\"similarity\";i:4;s:9:\"startTime\";i:5;s:5:\"text1\";i:6;s:5:\"text2\";}s:4:\"type\";s:6:\"object\";}}"
...
