---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:7:\"alisapi\";s:7:\"version\";s:8:\"\u03B20.19.0\";}"
host: alis.to
basePath: /api
paths:
  /search/articles:
    get:
      description: u8a18u4e8bu691cu7d22
      parameters:
      - name: query
        in: query
        description: u691cu7d22u30efu30fcu30c9
        required: true
        type: string
      - name: limit
        in: query
        description: u53d6u5f97u4ef6u6570
        required: false
        type: integer
        minimum: 1
      - name: page
        in: query
        description: u30dau30fcu30b8
        required: false
        type: integer
      responses:
        200:
          description: u691cu7d22u8a18u4e8bu4e00u89a7
          schema:
            type: array
            items:
              $ref: '#/definitions/ArticleInfo'
  /search/users:
    get:
      description: u30e6u30fcu30b6u30fcu691cu7d22
      parameters:
      - name: query
        in: query
        description: u691cu7d22u30efu30fcu30c9
        required: true
        type: string
      - name: limit
        in: query
        description: u53d6u5f97u4ef6u6570
        required: false
        type: integer
        minimum: 1
      - name: page
        in: query
        description: u30dau30fcu30b8
        required: false
        type: integer
      responses:
        200:
          description: u691cu7d22u30e6u30fcu30b6u30fcu4e00u89a7
          schema:
            type: array
            items:
              $ref: '#/definitions/UserInfo'
  /articles/recent:
    get:
      description: u6700u65b0u8a18u4e8bu4e00u89a7u60c5u5831u3092u53d6u5f97
      parameters:
      - name: limit
        in: query
        description: u53d6u5f97u4ef6u6570
        required: false
        type: integer
        minimum: 1
      - name: topic
        in: query
        description: u30c8u30d4u30c3u30af
        required: false
        type: string
      - name: page
        in: query
        description: u30dau30fcu30b8u6570
        required: false
        type: integer
      responses:
        200:
          description: u6700u65b0u8a18u4e8bu4e00u89a7
          schema:
            type: array
            items:
              $ref: '#/definitions/ArticleInfo'
  /articles/popular:
    get:
      description: u4ebau6c17u8a18u4e8bu4e00u89a7u60c5u5831u3092u53d6u5f97
      parameters:
      - name: limit
        in: query
        description: u53d6u5f97u4ef6u6570
        required: false
        type: integer
        minimum: 1
      - name: page
        in: query
        description: u53d6u5f97u5bfeu8c61u30dau30fcu30b8u306eoffset
        required: false
        type: integer
        minimum: 1
      - name: topic
        in: query
        description: u691cu7d22u5bfeu8c61u306eu30c8u30d4u30c3u30afu540d
        required: false
        type: string
      responses:
        200:
          description: u4ebau6c17u8a18u4e8bu4e00u89a7
          schema:
            type: array
            items:
              $ref: '#/definitions/ArticleInfo'
  /articles/{article_id}:
    get:
      description: u6307u5b9au3055u308cu305farticle_idu306eu8a18u4e8bu60c5u5831u3092u53d6u5f97
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu306eu6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u8a18u4e8bu5185u5bb9u53d6u5f97
          schema:
            $ref: '#/definitions/ArticleContent'
  /articles/{article_id}/alistoken:
    get:
      description: u6307u5b9au3055u308cu305f article_id u306eALISu30c8u30fcu30afu30f3u6570u3092u53d6u5f97
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu306eu6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: ALISu30c8u30fcu30afu30f3u6570
          schema:
            type: object
            properties:
              alistoken:
                type: number
                format: double
  /articles/{article_id}/likes:
    get:
      description: u6307u5b9au3055u308cu305f article_id u306eu8a18u4e8bu306eu300cu3044u3044u306du300du6570u3092u53d6u5f97
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu306eu6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u5bfeu8c61u8a18u4e8bu306eu300cu3044u3044u306du300du6570
          schema:
            type: object
            properties:
              count:
                type: number
                format: double
  /articles/{article_id}/comments:
    get:
      description: u6307u5b9au3055u308cu305f article_id u306eu8a18u4e8bu306eu30b3u30e1u30f3u30c8u306eu4e00u89a7u3092u53d6u5f97u3059u308b
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu306eu6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u5bfeu8c61u8a18u4e8bu306eu30b3u30e1u30f3u30c8u306eu4e00u89a7
          schema:
            $ref: '#/definitions/Comment'
  /comments/{comment_id}/likes:
    get:
      description: u6307u5b9au3055u308cu305fu30b3u30e1u30f3u30c8u306bu4ed8u4e0eu3055u308cu3066u3044u308bu3044u3044u306du6570u3092u53d6u5f97u3059u308b
      parameters:
      - name: comment_id
        in: path
        description: u5bfeu8c61u30b3u30e1u30f3u30c8u3092u6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u5bfeu8c61u8a18u4e8bu306eu30b3u30e1u30f3u30c8u306eu4e00u89a7
          schema:
            type: object
            properties:
              count:
                type: number
                format: double
  /me/articles/drafts:
    get:
      description: u4e0bu66f8u304du8a18u4e8bu4e00u89a7u60c5u5831u3092u53d6u5f97
      parameters:
      - name: limit
        in: query
        description: u53d6u5f97u4ef6u6570
        required: false
        type: integer
        minimum: 1
      - name: article_id
        in: query
        description: u30dau30fcu30b8u30f3u30b0u51e6u7406u306bu304au3051u308bu3001u73feu5728u306eu30dau30fcu30b8u306eu6700u5f8cu306eu8a18u4e8bu306eID
        required: false
        type: string
      - name: sort_key
        in: query
        description: u30dau30fcu30b8u30f3u30b0u51e6u7406u306bu304au3051u308bu3001u73feu5728u306eu30dau30fcu30b8u306eu6700u5f8cu306eu8a18u4e8bu306eu30bdu30fcu30c8u30adu30fc
        required: false
        type: integer
        minimum: 1
      responses:
        200:
          description: u4e0bu66f8u304du8a18u4e8bu4e00u89a7
          schema:
            type: array
            items:
              $ref: '#/definitions/ArticleInfo'
      security:
      - cognitoUserPool: []
    post:
      description: u4e0bu66f8u304du8a18u4e8bu3092u4f5cu6210
      parameters:
      - name: article
        in: body
        description: article object
        required: true
        schema:
          $ref: '#/definitions/MeArticlesDraftsCreate'
      responses:
        200:
          description: u4f5cu6210u3055u308cu305fu8a18u4e8bID
          schema:
            type: object
            properties:
              article_id:
                type: string
      security:
      - cognitoUserPool: []
  /me/articles/{article_id}/drafts/publish:
    put:
      description: u6307u5b9au3055u308cu305f article_id u306eu4e0bu66f8u304du8a18u4e8bu3092u516cu958b
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu306eu6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      - name: publish
        in: body
        description: publish object
        required: true
        schema:
          $ref: '#/definitions/Publish'
      responses:
        200:
          description: successful operation
      security:
      - cognitoUserPool: []
  /me/articles/public:
    get:
      description: u516cu958bu8a18u4e8bu4e00u89a7u60c5u5831u3092u53d6u5f97
      parameters:
      - name: limit
        in: query
        description: u53d6u5f97u4ef6u6570
        required: false
        type: integer
        minimum: 1
      - name: article_id
        in: query
        description: u30dau30fcu30b8u30f3u30b0u51e6u7406u306bu304au3051u308bu3001u73feu5728u306eu30dau30fcu30b8u306eu6700u5f8cu306eu8a18u4e8bu306eID
        required: false
        type: string
      - name: sort_key
        in: query
        description: u30dau30fcu30b8u30f3u30b0u51e6u7406u306bu304au3051u308bu3001u73feu5728u306eu30dau30fcu30b8u306eu6700u5f8cu306eu8a18u4e8bu306eu30bdu30fcu30c8u30adu30fc
        required: false
        type: integer
        minimum: 1
      responses:
        200:
          description: u516cu958bu8a18u4e8bu4e00u89a7
          schema:
            type: array
            items:
              $ref: '#/definitions/ArticleInfo'
      security:
      - cognitoUserPool: []
  /me/articles/{article_id}/public:
    get:
      description: u6307u5b9au3055u308cu305f article_id u306eu516cu958bu8a18u4e8bu60c5u5831u3092u53d6u5f97
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu306eu6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u8a18u4e8bu5185u5bb9u53d6u5f97
          schema:
            $ref: '#/definitions/ArticleContent'
      security:
      - cognitoUserPool: []
    put:
      description: u6307u5b9au3055u308cu305f article_id u306eu7de8u96c6u8a18u4e8bu60c5u5831u3092u4e0au66f8u304d
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu306eu6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      - name: article
        in: body
        description: article object
        required: true
        schema:
          $ref: '#/definitions/UpdateArticle'
      responses:
        200:
          description: successful operation
      security:
      - cognitoUserPool: []
  /me/articles/{article_id}/public/edit:
    get:
      description: u6307u5b9au3055u308cu305f article_id u306eu7de8u96c6u8a18u4e8bu60c5u5831u3092u53d6u5f97
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu3092u6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u8a18u4e8bu5185u5bb9u53d6u5f97
          schema:
            $ref: '#/definitions/ArticleContent'
      security:
      - cognitoUserPool: []
  /me/articles/{article_id}/public/unpublish:
    put:
      description: u6307u5b9au3055u308cu305f article_id u306eu516cu958bu8a18u4e8bu3092u4e0bu66f8u304du306bu623bu3059
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu3092u6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: successful operation
      security:
      - cognitoUserPool: []
  /me/articles/{article_id}/public/republish:
    put:
      description: u6307u5b9au3055u308cu305f article_id u306eu7de8u96c6u8a18u4e8bu3092u516cu958bu3059u308b
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu3092u6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      - name: publish
        in: body
        description: publish object
        required: true
        schema:
          $ref: '#/definitions/Publish'
      responses:
        200:
          description: successful operation
      security:
      - cognitoUserPool: []
  /me/articles/{article_id}/like:
    get:
      description: u6307u5b9au3055u308cu305f article_id u306eu8a18u4e8bu306bu300cu3044u3044u306du300du3092u884cu3063u305fu304bu3092u78bau8a8d
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu306eu6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u5bfeu8c61u8a18u4e8bu306bu300cu3044u3044u306du300du3092u884cu3063u305fu304bu3092u5224u5b9a
          schema:
            type: object
            properties:
              liked:
                type: boolean
      security:
      - cognitoUserPool: []
    post:
      description: u5bfeu8c61u8a18u4e8bu306bu300cu3044u3044u306du300du3092u884cu3046
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu306eu6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u300cu3044u3044u306du300du306eu5b9fu65bdu6210u529f
      security:
      - cognitoUserPool: []
  /me/articles/{article_id}/comments:
    post:
      description: u6307u5b9au3055u308cu305f article_id u306eu8a18u4e8bu306bu5bfeu3057u3066u30b3u30e1u30f3u30c8u3092u767bu9332u3059u308b
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu306eu6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u30b3u30e1u30f3u30c8u767bu9332u306eu5b8cu4e86
          schema:
            type: object
            properties:
              comment_id:
                type: string
      security:
      - cognitoUserPool: []
  /me/articles/{article_id}/comments/likes:
    get:
      description: u6307u5b9au3055u308cu305fu8a18u4e8bu306eu30b3u30e1u30f3u30c8u306eu4e2du3067u3001u81eau5206u304cu3044u3044u306du3092u5b9fu884cu3057u305fu30b3u30e1u30f3u30c8u306eIDu306eu4e00u89a7u3092u53d6u5f97u3059u308b
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu3092u6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u3044u3044u306du3092u5b9fu65bdu3057u305fu30b3u30e1u30f3u30c8u306eIDu306eu4e00u89a7
          schema:
            type: object
            properties:
              comment_ids:
                type: array
                items:
                  type: string
                  enum:
                  - comment_id
      security:
      - cognitoUserPool: []
  /me/comments/{comment_id}:
    delete:
      description: u6307u5b9au3055u308cu305fu30b3u30e1u30f3u30c8u3092u524au9664u3059u308b
      parameters:
      - name: comment_id
        in: path
        description: u5bfeu8c61u30b3u30e1u30f3u30c8u3092u6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u30b3u30e1u30f3u30c8u524au9664u306eu5b8cu4e86
      security:
      - cognitoUserPool: []
  /me/comments/{comment_id}/likes:
    post:
      description: u6307u5b9au3055u308cu305fu30b3u30e1u30f3u30c8u306bu5bfeu3057u3066u3044u3044u306du3059u308b
      parameters:
      - name: comment_id
        in: path
        description: u5bfeu8c61u30b3u30e1u30f3u30c8u3092u6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u3044u3044u306du306eu5b8cu4e86
      security:
      - cognitoUserPool: []
  /me/articles/{article_id}/fraud:
    post:
      description: u5bfeu8c61u8a18u4e8bu306bu4e0du6b63u5831u544au3092u884cu3046
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu306eu6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u4e0du6b63u5831u544au306eu5b9fu65bdu6210u529f
      security:
      - cognitoUserPool: []
  /me/articles/{article_id}/images:
    post:
      description: u5bfeu8c61u8a18u4e8bu306bu753bu50cfu30c7u30fcu30bfu3092u767bu9332
      produces:
      - application/json application/octet-stream
      parameters:
      - name: content-type
        in: header
        required: true
        type: string
      - name: article_id
        description: u5bfeu8c61u8a18u4e8bu306eu6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        in: path
        required: true
        type: string
      - in: body
        name: ArticleImage
        description: article image object
        required: true
        schema:
          $ref: '#/definitions/ArticleImage'
      responses:
        200:
          description: u767bu9332u3057u305fu753bu50cfu30c7u30fcu30bfu306eURL
          schema:
            type: object
            properties:
              image_url:
                type: string
      security:
      - cognitoUserPool: []
  /me/info:
    get:
      description: u30edu30b0u30a4u30f3u30e6u30fcu30b6u60c5u5831u3092u53d6u5f97
      responses:
        200:
          description: u30edu30b0u30a4u30f3u30e6u30fcu30b6u60c5u5831
          schema:
            $ref: '#/definitions/UserInfo'
      security:
      - cognitoUserPool: []
    put:
      description: u30e6u30fcu30b6u60c5u5831u3092u66f4u65b0
      parameters:
      - name: user info
        in: body
        description: user info object
        required: true
        schema:
          $ref: '#/definitions/MeInfoUpdate'
      responses:
        200:
          description: u30e6u30fcu30b6u60c5u5831u66f4u65b0u6210u529f
      security:
      - cognitoUserPool: []
  /me/info/icon:
    post:
      description: u30e6u30fcu30b6u30a2u30a4u30b3u30f3u3092u767bu9332
      produces:
      - application/json application/octet-stream
      parameters:
      - name: icon
        in: body
        description: icon object
        required: true
        schema:
          $ref: '#/definitions/MeInfoIcon'
      responses:
        200:
          description: u767bu9332u3057u305fu753bu50cfu30c7u30fcu30bfu306eURL
          schema:
            type: object
            properties:
              image_url:
                type: string
      security:
      - cognitoUserPool: []
  /users/{user_id}/articles/public:
    get:
      description: u6307u5b9au3055u308cu305fu30e6u30fcu30b6u30fcu306eu516cu958bu8a18u4e8bu4e00u89a7u60c5u5831u3092u53d6u5f97
      parameters:
      - name: user_id
        in: path
        description: u5bfeu8c61u30e6u30fcu30b6u3092u6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      - name: limit
        in: query
        description: u53d6u5f97u4ef6u6570
        required: false
        type: integer
        minimum: 1
      - name: article_id
        in: query
        description: u30dau30fcu30b8u30f3u30b0u51e6u7406u306bu304au3051u308bu3001u73feu5728u306eu30dau30fcu30b8u306eu6700u5f8cu306eu8a18u4e8bu306eID
        required: false
        type: string
      - name: sort_key
        in: query
        description: u30dau30fcu30b8u30f3u30b0u51e6u7406u306bu304au3051u308bu3001u73feu5728u306eu30dau30fcu30b8u306eu6700u5f8cu306eu8a18u4e8bu306eu30bdu30fcu30c8u30adu30fc
        required: false
        type: integer
        minimum: 1
      responses:
        200:
          description: u516cu958bu8a18u4e8bu4e00u89a7
          schema:
            type: array
            items:
              $ref: '#/definitions/ArticleInfo'
  /me/articles/{article_id}/drafts:
    get:
      description: u6307u5b9au3055u308cu305fIDu306eu4e0bu66f8u304du8a18u4e8bu53d6u5f97u3092u53d6u5f97
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu306eu6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u8a18u4e8bu5185u5bb9u53d6u5f97
          schema:
            $ref: '#/definitions/ArticleContent'
      security:
      - cognitoUserPool: []
    put:
      description: u4e0bu66f8u304du8a18u4e8bu3092u66f4u65b0
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu306eu6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      - name: article
        in: body
        description: article object
        required: true
        schema:
          $ref: '#/definitions/MeArticlesDraftsCreate'
      responses:
        200:
          description: successful operation
      security:
      - cognitoUserPool: []
  /me/articles/{article_id}/pv:
    post:
      description: u5bfeu8c61u8a18u4e8bu306eu95b2u89a7u3092u30abu30a6u30f3u30c8
      parameters:
      - name: article_id
        in: path
        description: u5bfeu8c61u8a18u4e8bu306eu6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u300cu95b2u89a7u300du306eu30abu30a6u30f3u30c8u6210u529f
      security:
      - cognitoUserPool: []
  /users/{user_id}/info:
    get:
      description: u6307u5b9au3055u308cu305fu30e6u30fcu30b6u30fcu306eu30e6u30fcu30b6u60c5u5831u3092u53d6u5f97
      parameters:
      - name: user_id
        in: path
        description: u5bfeu8c61u30e6u30fcu30b6u3092u6307u5b9au3059u308bu305fu3081u306bu4f7fu7528
        required: true
        type: string
      responses:
        200:
          description: u5bfeu8c61u30e6u30fcu30b6u60c5u5831
          schema:
            $ref: '#/definitions/UserInfo'
  /me/wallet/balance:
    get:
      description: u30edu30b0u30a4u30f3u30e6u30fcu30b6u60c5u5831u3092u53d6u5f97
      responses:
        200:
          description: u30edu30b0u30a4u30f3u30e6u30fcu30b6u60c5u5831
          schema:
            $ref: '#/definitions/MeWalletBalance'
      security:
      - cognitoUserPool: []
  /me/notifications:
    get:
      description: u30edu30b0u30a4u30f3u30e6u30fcu30b6u30fcu306eu901au77e5u306eu4e00u89a7u3092u53d6u5f97
      responses:
        200:
          description: u30edu30b0u30a4u30f3u30e6u30fcu30b6u30fcu306eu901au77e5u306eu4e00u89a7
          schema:
            type: array
            items:
              $ref: '#/definitions/Notification'
      security:
      - cognitoUserPool: []
  /me/unread_notification_managers:
    get:
      description: u30edu30b0u30a4u30f3u30e6u30fcu30b6u30fcu306eu901au77e5u306eu672au8aadu60c5u5831u3092u53d6u5f97
      responses:
        200:
          description: u5bfeu8c61u30e6u30fcu30b6u306eu901au77e5u672au8aadu60c5u5831
          schema:
            type: object
            properties:
              unread:
                type: boolean
      security:
      - cognitoUserPool: []
    put:
      description: u30edu30b0u30a4u30f3u30e6u30fcu30b6u30fcu306eu901au77e5u306eu672au8aadu60c5u5831u3092u672au8aadu306bu66f4u65b0u3059u308b
      responses:
        200:
          description: successful operation
      security:
      - cognitoUserPool: []
  /topics:
    get:
      description: u30c8u30d4u30c3u30afu306eu4e00u89a7u3092u53d6u5f97
      responses:
        200:
          description: u30c8u30d4u30c3u30afu306eu4e00u89a7
          schema:
            type: array
            items:
              $ref: '#/definitions/Topic'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:11:\"ArticleInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"article_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"overview\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"eye_catch_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:14:\"ArticleContent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"article_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"overview\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"eye_catch_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:22:\"MeArticlesDraftsCreate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"eye_catch_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"overview\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"MeInfoUpdate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"user_display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"self_introduction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"MeInfoIcon\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"icon_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"ArticleImage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"article_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"UserInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"user_display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"icon_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"self_introduction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"UpdateArticle\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"eye_catch_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"overview\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"MeWalletBalance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"private_eth_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"Notification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"sort_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"acted_user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"Comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"comment_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"article_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"sort_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:5:\"Topic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"index_hash_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Publish\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"topic\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tgas\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}"
...
