---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:25:\"Customer API DEV (Closed)\";s:7:\"version\";s:1:\"1\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:36:\"http://developer.cokecce.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:66:\"Test
  our API services using I/O Docs. API for customer information\";s:12:\"x-mashery-id\";s:4:\"1074\";}"
host: api.cokecce.com
basePath: /v1/customer
paths:
  /details:
    get:
      operationId: detailsCustomer
      summary: Returns customer information
      tags:
      - Customer
      parameters:
      - name: customer
        type: string
        description: Customer number
        in: query
        required: true
      - name: format
        type: string
        description: Content type
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /orderHistory:
    get:
      operationId: orderHistoryCustomer
      summary: Order history
      tags:
      - Customer
      parameters:
      - name: customer
        type: string
        description: Customer number
        in: query
        required: true
      - name: format
        type: string
        description: Content type
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /orderDetails:
    get:
      operationId: orderDetailsCustomer
      summary: Order details
      tags:
      - Customer
      parameters:
      - name: customer
        type: string
        description: Customer number
        in: query
        required: true
      - name: orderNumber
        type: string
        description: Order number
        in: query
        required: true
      - name: format
        type: string
        description: Content type
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /deliveryHistory:
    get:
      operationId: deliveryHistoryCustomer
      summary: Deliveries list
      tags:
      - Customer
      parameters:
      - name: customer
        type: string
        description: Customer number
        in: query
        required: true
      - name: format
        type: string
        description: Content type
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /serviceTicket/history:
    get:
      operationId: serviceTicketsListCustomer
      summary: Service Ticket List
      tags:
      - Customer
      parameters:
      - name: customer
        type: string
        description: Customer number
        in: query
        required: true
      - name: format
        type: string
        description: Content type
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /routeDetails:
    get:
      operationId: routeDetailsCustomer
      summary: Route Details
      tags:
      - Customer
      parameters:
      - name: customer
        type: string
        description: Customer number
        in: query
        required: true
      - name: date
        type: string
        description: Route date
        in: query
        required: true
        default: "20130115"
      - name: format
        type: string
        description: Content type
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /order/{order}:
    get:
      operationId: GetOrdersCustomer
      summary: Get Order or List of Orders
      tags:
      - Customer
      parameters:
      - name: order
        type: string
        description: Order number
        in: path
        required: true
      - name: customer
        type: string
        description: Customer Number
        in: query
        required: true
      - name: format
        type: string
        description: Content type
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
    post:
      operationId: CreateOrdersCustomer
      summary: Create or Update Order
      tags:
      - Customer
      parameters:
      - name: order
        type: string
        description: Order number
        in: path
        required: true
      - name: format
        type: string
        description: Content type
        in: query
        required: false
        enum:
        - json
        - xml
      - name: Content-Type
        type: string
        description: Content type of the payload
        in: header
        required: true
        default: application/json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /order/pricing/:
    post:
      operationId: GetPricingCustomer
      summary: Get Corrected Pricing
      tags:
      - Customer
      parameters:
      - name: format
        type: string
        description: Content type
        in: query
        required: false
        enum:
        - json
        - xml
      - name: Content-Type
        type: string
        description: Content type of the payload
        in: header
        required: true
        default: application/json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /order/cancel/{order}:
    post:
      operationId: CancelOrdersCustomer
      summary: Cancel an Order
      tags:
      - Customer
      parameters:
      - name: order
        type: string
        description: Order number
        in: path
        required: true
      - name: email
        type: string
        description: Email
        in: query
        required: true
      - name: format
        type: string
        description: Content type
        in: query
        required: false
        enum:
        - json
        - xml
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
