---
swagger: "2.0"
host: api.kortingscode.nl
basePath: ""
paths:
  /visitors:
    get:
      tags:
      - visitor
      summary: Get visitors
      description: ""
      operationId: getVisitors
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: page
        description: Page number
        required: false
        type: integer
        default: 0
      - in: query
        name: perPage
        description: Paginator results per page (max 100)
        required: false
        type: integer
        default: 100
      - in: query
        name: email
        description: Email id to find a record
        required: false
        type: string
      responses:
        200:
          description: Request was successful
          schema:
            type: array
            items:
              $ref: '#/definitions/visitor'
        405:
          description: Invalid input
  /visitors/{visitorId}:
    put:
      tags:
      - visitor
      summary: Update visitor information
      description: ""
      operationId: updateVisitor
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: path
        name: visitorId
        description: Visitor Id that needs to be updated
        required: true
        type: integer
        format: int64
      - in: body
        name: body
        description: Visitor data that needs to be updated
        required: true
        schema:
          $ref: '#/definitions/visitor'
      responses:
        200:
          description: Request was successful
        404:
          description: Visitor not found
        405:
          description: Invalid input
    get:
      tags:
      - visitor
      summary: Find visitor by id
      description: Returns a single visitor
      operationId: getVisitorById
      produces:
      - application/json
      parameters:
      - in: path
        name: visitorId
        description: Visitor that needs to be fetched
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: Request was successful
          schema:
            $ref: '#/definitions/visitor'
        404:
          description: Visitor not found
        400:
          description: Invalid visitor Id
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":1:{s:7:\"visitor\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"email\";}s:10:\"properties\";O:8:\"stdClass\":29:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"John\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Doe\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"test@example.com\";}s:13:\"mailOpenCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:14:\"mailClickCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:19:\"mailSoftBounceCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:19:\"mailHardBounceCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"Yes\";i:1;s:2:\"No\";}}s:20:\"inactiveStatusReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Hard
  Bounce\";}s:12:\"activeCodeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";}s:21:\"changePasswordRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"Yes\";i:1;s:2:\"No\";}}s:9:\"codeAlert\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"Yes\";i:1;s:2:\"No\";}}s:17:\"codeAlertSendDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2015-12-12
  23:31:51\";}s:12:\"currentLogin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2015-12-12
  23:31:51\";}s:11:\"dateOfBirth\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"1989-12-12\";}s:7:\"deleted\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"Yes\";i:1;s:2:\"No\";}}s:17:\"fashionNewsLetter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"Yes\";i:1;s:2:\"No\";}}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"Male\";i:1;s:6:\"Female\";}}s:10:\"interested\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Yes\";}s:9:\"lastLogIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2015-12-12
  23:31:51\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"gf%shgd36e\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"111111\";}s:10:\"profileImg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"test.jpg\";}s:3:\"pwd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"sdwersd\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"Online\";i:1;s:7:\"Offline\";}}s:16:\"travelNewsLetter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"Yes\";i:1;s:2:\"No\";}}s:16:\"weeklyNewsLetter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"Yes\";i:1;s:2:\"No\";}}s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"johnd\";}s:17:\"lastEmailOpenDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";s:19:\"2015-12-12
  23:31:51\";}}}}"
...
