---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:14:\"ZeyOS:
  Tickets\";s:11:\"description\";s:252:\"This endpoint lets you list, create, delete
  and update tickets. If you want to learn more about queries and data filters, read
  our documentation at http://docs.zeyos.apiary.io/#introduction/sql-via-rest and
  http://docs.zeyos.apiary.io/reference/tickets\";s:14:\"termsOfService\";s:37:\"https://www.zeyos.com/termsofservice/\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:14:\"ZeyOS
  API Team\";s:5:\"email\";s:14:\"info@zeyos.com\";s:3:\"url\";s:22:\"https://www.zeyos.com/\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"Proprietary
  License\";s:3:\"url\";s:22:\"https://www.zeyos.com/\";}}"
host: api.zeyos.com
paths:
  /{platform}/1.0/tickets:
    get:
      description: Retrieves tickets
      operationId: getTickets
      parameters:
      - name: platform
        in: path
        description: The name of your platform
        required: true
        type: string
        default: sandbox
      - name: Zeyos-Api-Token
        in: header
        description: The app and device identifier, a colon and the corresponding
          authentication token
        required: true
        type: string
      - name: a
        in: query
        description: Table alias
        required: false
        type: string
      - name: s
        in: query
        description: SELECT fields
        required: false
        type: string
      - name: w
        in: query
        description: WHERE fields
        required: false
        type: string
      - name: g
        in: query
        description: GROUP BY clause
        required: false
        type: string
      - name: o
        in: query
        description: ORDER BY clause
        required: false
        type: string
      - name: "n"
        in: query
        description: LIMIT
        required: false
        type: integer
        format: int64
      - name: i
        in: query
        description: OFFSET
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/ticketObjects'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/defaultError'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/defaultError'
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/defaultError'
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/defaultError'
        501:
          description: Not Implemented
          schema:
            $ref: '#/definitions/defaultError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/defaultError'
    post:
      description: Updates tickets specified by query
      operationId: updateTicketsByQuery
      parameters:
      - name: id
        in: path
        description: The record's ID column value
        required: true
        type: integer
        format: int64
        default: "1"
      - name: platform
        in: path
        description: The name of your platform
        required: true
        type: string
        default: sandbox
      - name: Zeyos-Api-Token
        in: header
        description: The app and device identifier, a colon and the corresponding
          authentication token
        required: true
        type: string
      - name: a
        in: query
        description: Table alias
        required: false
        type: string
      - name: s
        in: query
        description: SELECT fields
        required: false
        type: string
      - name: w
        in: query
        description: WHERE fields
        required: false
        type: string
      - name: g
        in: query
        description: GROUP BY clause
        required: false
        type: string
      - name: o
        in: query
        description: ORDER BY clause
        required: false
        type: string
      - name: "n"
        in: query
        description: LIMIT
        required: false
        type: integer
        format: int64
      - name: i
        in: query
        description: OFFSET
        required: false
        type: integer
        format: int64
      - name: Content-Type
        in: header
        description: The request body's content type
        required: true
        type: string
        default: application/json
      - name: extdata
        in: query
        description: If true, extensional data will be included in the result object
          as a sub-object
        required: false
        type: boolean
        default: "false"
      - name: object
        in: query
        description: If true, the object will be returned rather than a boolean result
          in case of success
        required: false
        type: boolean
        default: "false"
      - name: body
        in: body
        description: body
        required: true
        schema:
          $ref: '#/definitions/ticketObject'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/objectResult'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/defaultError'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/defaultError'
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/defaultError'
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/defaultError'
        501:
          description: Not Implemented
          schema:
            $ref: '#/definitions/defaultError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/defaultError'
    put:
      description: Creates a ticket
      operationId: createTicket
      parameters:
      - name: platform
        in: path
        description: The name of your platform
        required: true
        type: string
        default: sandbox
      - name: Zeyos-Api-Token
        in: header
        description: The app and device identifier, a colon and the corresponding
          authentication token
        required: true
        type: string
      - name: Content-Type
        in: header
        description: The request body's content type
        required: true
        type: string
        default: application/json
      - name: extdata
        in: query
        description: If true, extensional data will be included in the result object
          as a sub-object
        required: false
        type: boolean
        default: "false"
      - name: object
        in: query
        description: If true, the object will be returned rather than a boolean result
          in case of success
        required: false
        type: boolean
        default: "false"
      - name: body
        in: body
        description: body
        required: true
        schema:
          $ref: '#/definitions/ticketObject'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/objectResult'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/defaultError'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/defaultError'
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/defaultError'
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/defaultError'
        501:
          description: Not Implemented
          schema:
            $ref: '#/definitions/defaultError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/defaultError'
  /{platform}/1.0/tickets/{id}:
    delete:
      description: Deletes the ticket with the specified ID
      operationId: deleteTicketById
      parameters:
      - name: id
        in: path
        description: The record's ID column value
        required: true
        type: integer
        format: int64
        default: "1"
      - name: platform
        in: path
        description: The name of your platform
        required: true
        type: string
        default: sandbox
      - name: Zeyos-Api-Token
        in: header
        description: The app and device identifier, a colon and the corresponding
          authentication token
        required: true
        type: string
      - name: a
        in: query
        description: Table alias
        required: false
        type: string
      - name: s
        in: query
        description: SELECT fields
        required: false
        type: string
      - name: w
        in: query
        description: WHERE fields
        required: false
        type: string
      - name: g
        in: query
        description: GROUP BY clause
        required: false
        type: string
      - name: o
        in: query
        description: ORDER BY clause
        required: false
        type: string
      - name: "n"
        in: query
        description: LIMIT
        required: false
        type: integer
        format: int64
      - name: i
        in: query
        description: OFFSET
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/objectResult'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/defaultError'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/defaultError'
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/defaultError'
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/defaultError'
        501:
          description: Not Implemented
          schema:
            $ref: '#/definitions/defaultError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/defaultError'
    get:
      description: Retrieves the ticket with the specified ID
      operationId: getTicketById
      parameters:
      - name: id
        in: path
        description: The record's ID column value
        required: true
        type: integer
        format: int64
        default: "1"
      - name: platform
        in: path
        description: The name of your platform
        required: true
        type: string
        default: sandbox
      - name: Zeyos-Api-Token
        in: header
        description: The app and device identifier, a colon and the corresponding
          authentication token
        required: true
        type: string
      - name: a
        in: query
        description: Table alias
        required: false
        type: string
      - name: s
        in: query
        description: SELECT fields
        required: false
        type: string
      - name: w
        in: query
        description: WHERE fields
        required: false
        type: string
      - name: g
        in: query
        description: GROUP BY clause
        required: false
        type: string
      - name: o
        in: query
        description: ORDER BY clause
        required: false
        type: string
      - name: "n"
        in: query
        description: LIMIT
        required: false
        type: integer
        format: int64
      - name: i
        in: query
        description: OFFSET
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/ticketObject'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/defaultError'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/defaultError'
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/defaultError'
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/defaultError'
        501:
          description: Not Implemented
          schema:
            $ref: '#/definitions/defaultError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/defaultError'
    head:
      description: Checks if the ticket with the specified ID exists
      operationId: ticketExists
      parameters:
      - name: id
        in: path
        description: The record's ID column value
        required: true
        type: integer
        format: int64
        default: "1"
      - name: platform
        in: path
        description: The name of your platform
        required: true
        type: string
        default: sandbox
      - name: Zeyos-Api-Token
        in: header
        description: The app and device identifier, a colon and the corresponding
          authentication token
        required: true
        type: string
      - name: a
        in: query
        description: Table alias
        required: false
        type: string
      - name: s
        in: query
        description: SELECT fields
        required: false
        type: string
      - name: w
        in: query
        description: WHERE fields
        required: false
        type: string
      - name: g
        in: query
        description: GROUP BY clause
        required: false
        type: string
      - name: o
        in: query
        description: ORDER BY clause
        required: false
        type: string
      - name: "n"
        in: query
        description: LIMIT
        required: false
        type: integer
        format: int64
      - name: i
        in: query
        description: OFFSET
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/emptyResponse'
    post:
      description: Updates the ticket with the specified ID
      operationId: updateTicketById
      parameters:
      - name: id
        in: path
        description: The record's ID column value
        required: true
        type: integer
        format: int64
        default: "1"
      - name: platform
        in: path
        description: The name of your platform
        required: true
        type: string
        default: sandbox
      - name: Zeyos-Api-Token
        in: header
        description: The app and device identifier, a colon and the corresponding
          authentication token
        required: true
        type: string
      - name: a
        in: query
        description: Table alias
        required: false
        type: string
      - name: s
        in: query
        description: SELECT fields
        required: false
        type: string
      - name: w
        in: query
        description: WHERE fields
        required: false
        type: string
      - name: g
        in: query
        description: GROUP BY clause
        required: false
        type: string
      - name: o
        in: query
        description: ORDER BY clause
        required: false
        type: string
      - name: "n"
        in: query
        description: LIMIT
        required: false
        type: integer
        format: int64
      - name: i
        in: query
        description: OFFSET
        required: false
        type: integer
        format: int64
      - name: Content-Type
        in: header
        description: The request body's content type
        required: true
        type: string
        default: application/json
      - name: extdata
        in: query
        description: If true, extensional data will be included in the result object
          as a sub-object
        required: false
        type: boolean
        default: "false"
      - name: object
        in: query
        description: If true, the object will be returned rather than a boolean result
          in case of success
        required: false
        type: boolean
        default: "false"
      - name: body
        in: body
        description: body
        required: true
        schema:
          $ref: '#/definitions/ticketObject'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/objectResult'
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/defaultError'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/defaultError'
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/defaultError'
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/defaultError'
        501:
          description: Not Implemented
          schema:
            $ref: '#/definitions/defaultError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/defaultError'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":18:{s:10:\"authObject\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"user\";i:1;s:8:\"password\";i:2;s:10:\"identifier\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"identifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"queryObject\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"user\";i:1;s:8:\"password\";i:2;s:10:\"identifier\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:1:\"a\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"d\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";s:5:\"false\";}s:1:\"g\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/groupBy\";}s:1:\"h\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/conditions\";}s:1:\"i\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"minimum\";i:0;}s:1:\"m\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"n\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"minimum\";i:0;}s:1:\"o\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/orderBy\";}s:1:\"q\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"s\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/columns\";}s:1:\"w\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/conditions\";}s:1:\"x\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";s:5:\"false\";}}}s:5:\"joins\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"conditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"defaultError\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"true\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";s:4:\"true\";}s:12:\"trueResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"result\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/true\";}}}s:19:\"trueOrErrorResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";s:4:\"true\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"objectResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"result\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"authResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"result\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/authResultObject\";}}}s:16:\"authResultObject\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:2:\"ID\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"creator\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:14:\"timezoneResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"result\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/versionResultObject\";}}}s:20:\"timezoneResultObject\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:6:\"offset\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:13:\"versionResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"result\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/versionResultObject\";}}}s:19:\"versionResultObject\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"zeyos\";i:1;s:3:\"api\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"zeyos\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:3:\"api\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:12:\"ticketObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ownergroup\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"assigneduser\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"creationdate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"lastmodified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"account\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ticketnum\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"duedate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"ticketObjects\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ticketObject\";}}}"
...
