---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:27:\"Drug Product Database
  (DPD)\";s:11:\"description\";s:1377:\"The DPD contains product specific information
  on drugs approved for use in Canada. The database is managed by Health Canada and
  includes human pharmaceutical and biological drugs, veterinary drugs, radiopharmaceutical
  drugs and disinfectant products. It contains approximately 47,000 products that
  are currently approved, marketed, dormant or cancelled.\n\nHuman, veterinary, disinfectants
  and Schedule C drugs (e.g. radiopharmaceutical products) approved products will
  be available in the DPD online at the time of authorization, with the exception
  of three monographed product groups under Division 1, Part C of the Food and Drug
  Regulations: sunscreen (sunscreens, lipstick making a SPF claim, cosmetic-like products
  with sunscreen claims, etc.), anti-dandruff shampoo, and hard surface disinfectants.
  For these products, applications filed after June 15, 2015, there may be a six month
  delay after approval for the inclusion in the DPD online.\n\nHealth Canada is the
  federal regulator of therapeutic products and does not provide medical advice on
  the use of the products identified in this database. For information related to
  treatment options, choices of medications and their uses, illnesses, side effects
  or drug interactions, please contact your health care professional. For information
  on where these products are sold, please contact the individual company directly.\n\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:0:\"\";s:5:\"email\";s:25:\"open-ouvert@tbs-sct.gc.ca\";}}"
host: dpd-hc-sc-apicast-production.api.canada.ca
basePath: /v1/
paths:
  /activeingredient:
    get:
      tags:
      - Active Ingredients
      description: Returns all active ingredients.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryDrugProductCode'
      - name: ingredientname
        in: query
        type: string
        description: Limit results to those with matching ingredient name
      responses:
        200:
          description: Returns a list of all active ingredients, or if an ID is provided,
            the list of all active ingredients that correspond to the given drug product
            code
          schema:
            type: array
            items:
              $ref: '#/definitions/ActiveIngredient'
            xml:
              name: ActiveIngredients
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /company:
    get:
      tags:
      - Company
      description: Returns all companies.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Limit results to those with matching company code
      responses:
        200:
          description: Returns a list of all companies, or if an ID is provided, the
            list of all companies that correspond to the given company code
          schema:
            type: array
            items:
              $ref: '#/definitions/Company'
            xml:
              name: Companies
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /drugproduct:
    get:
      tags:
      - Drug Product
      description: Returns all drug products.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryDrugProductCode'
      - name: din
        in: query
        type: string
        description: Limit results to those with matching drug identification number
      - name: brandname
        in: query
        type: string
        description: Limit results to those with matching brand name
      - name: status
        in: query
        type: string
        description: Limit results to those with matching status
      responses:
        200:
          description: Returns a list of all matching drug products
          schema:
            type: array
            items:
              $ref: '#/definitions/DrugProduct'
            xml:
              name: DrugProducts
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /form:
    get:
      tags:
      - Dosage Form
      description: Returns all dosage forms.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryDrugProductCode'
      - name: active
        in: query
        type: string
        enum:
        - "yes"
        description: Limit results to those dosage forms that are active, meaning
          they have a date that is greater than today or no date
      responses:
        200:
          description: Returns a list of all matching dosage forms
          schema:
            type: array
            items:
              $ref: '#/definitions/DosageForm'
            xml:
              name: DosageForms
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /packaging:
    get:
      tags:
      - Packaging
      description: Returns all packaging information for drug products.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryDrugProductCode'
      responses:
        200:
          description: Returns a list of all packaging information, or if an ID is
            provided, the list of all packaging information that corresponds to the
            given drug product code
          schema:
            type: array
            items:
              $ref: '#/definitions/Packaging'
            xml:
              name: Packaging
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /pharmaceuticalstd:
    get:
      tags:
      - Pharmaceutical Standards
      description: Returns all dosage forms.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryDrugProductCode'
      responses:
        200:
          description: Returns a list of all pharmaceutical standards, or if an ID
            is provided, the list of all pharmaceutical standards that correspond
            to the given drug product code
          schema:
            type: array
            items:
              $ref: '#/definitions/PharmaceuticalStandard'
            xml:
              name: PharmaceuticalStandards
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /route:
    get:
      tags:
      - Route of Administration
      description: Returns all routes of administration.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryDrugProductCode'
      - name: active
        in: query
        type: string
        enum:
        - "yes"
        description: Limit results to those routes of administration that are active,
          meaning they have a date that is greater than today or no date
      responses:
        200:
          description: Returns a list of all matching routes of administration
          schema:
            type: array
            items:
              $ref: '#/definitions/RouteOfAdministration'
            xml:
              name: RoutesOfAdministration
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /schedule:
    get:
      tags:
      - Schedule
      description: Returns all schedules.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryDrugProductCode'
      - name: active
        in: query
        type: string
        enum:
        - "yes"
        description: Limit results to those schedules that are active, meaning they
          have a date that is greater than today or no date
      responses:
        200:
          description: Returns a list of all matching schedules
          schema:
            type: array
            items:
              $ref: '#/definitions/Schedule'
            xml:
              name: Schedules
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /status:
    get:
      tags:
      - Product Status
      description: Returns all product statuses.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryDrugProductCode'
      responses:
        200:
          description: Returns a list of all product statuses, or if an ID is provided,
            the list of all product statuses that correspond to the given drug product
            code
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductStatus'
            xml:
              name: ProductStatuses
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /therapeuticclass:
    get:
      tags:
      - Therapeutic Class
      description: Returns all therapeutic classes.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryDrugProductCode'
      responses:
        200:
          description: Returns a list of all therapeutic classes, or if an ID is provided,
            the list of all therapeutic classes that correspond to the given drug
            product code
          schema:
            type: array
            items:
              $ref: '#/definitions/TherapeuticClass'
            xml:
              name: TherapeuticClasses
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /veterinaryspecies:
    get:
      tags:
      - Veterinary Species
      description: Returns all veterinary species.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryDrugProductCode'
      responses:
        200:
          description: Returns a list of all veterinary species, or if an ID is provided,
            the list of all veterinary species that correspond to the given drug product
            code
          schema:
            type: array
            items:
              $ref: '#/definitions/VeterinarySpecies'
            xml:
              name: VeterinarySpeciesList
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":14:{s:3:\"204\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"404\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ActiveIngredient\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:1112:\"An
  Active Ingredient is any component that has medicinal properties, and supplies pharmacological
  activity or other direct effect in the diagnosis, cure, mitigation, treatment or
  prevention of disease, or to affect the structure or any function of the body of
  a human or an animal.\n\nThe name and strength of each active ingredient contained
  in the product is listed. Information enclosed within brackets represents the salt
  and identifies how the ingredient is supplied. This information is only included
  for some ingredients. The number in the strength field refers to the active portion
  of the drug. For example, for calcium (calcium carbonate) 200 milligram (mg) - 200
  mg is the strength of elemental calcium, not calcium carbonate.\n\nHealth Canada
  has a reference text hierarchy for ingredient nomenclature. The International Non
  Proprietary Names (INN) is used as Health Canada's standard to assign the preferred
  name to ingredients. There are other standards such as the United States Adopted
  Names (USAN), Martindale, Merck Index, etc., that are used to code ingredients if
  they are not listed in the INN.\n\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"dosage_unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  active ingredient dosage unit\";}s:12:\"dosage_value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  quantitative value of the active ingredient dosage\";}s:9:\"drug_code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DrugCode\";}s:15:\"ingredient_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  Active Ingredient name\";}s:8:\"strength\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  quantitative value of the Active Ingredient strength\";}s:13:\"strength_unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  Active Ingredient strength unit\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:16:\"ActiveIngredient\";}}s:7:\"Company\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:703:\"In
  the DPD, a product may have several companies associated with them. Each product
  will have a DIN Owner associated with it. If a DIN Owner has designated another
  company to receive their mailing, their name and address will also be included and
  can be identified with a 'Y' flag in the ADDRESS_MAILING_FLAG field.\n\nThe company
  contact information is not included in the API (ATTENTION_TO, LANGUAGE, TELEPHONE_NUMBER,
  FAX_NUMBER, EMAIL_ADDRESS). The contact information in the database is generally
  a representative from the Regulatory Affairs department. It has come to our attention
  that some users are contacting these individuals to make general inquiries, we would
  like to recommend not doing so.\n\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"city_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"The
  city name\";}s:12:\"company_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  code assigned to a company\";}s:12:\"company_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  company name\";}s:12:\"company_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  company type\";}s:12:\"country_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  country name\";}s:15:\"post_office_box\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  P.O. box number (if applicable)\";}s:11:\"postal_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  postal code\";}s:13:\"province_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  province name\";}s:13:\"street_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  street name\";}s:12:\"suite_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  suite number\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Company\";}}s:11:\"DrugProduct\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:86:\"Basic
  information about the product, such as brand name and Drug Identification Number\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"ai_group_no\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  Active Ingredient Group Number\";}s:10:\"brand_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  brand name for the drug product\";}s:10:\"class_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  therapeutic class of a drug product\";}s:10:\"descriptor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Additional
  details or descriptions for a product, if applicable\";}s:9:\"drug_code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DrugCode\";}s:26:\"drug_identification_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  Drug Identification Number\";}s:13:\"number_of_ais\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  number of Active Ingredients in a drug product\";}s:12:\"company_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  company name\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"DrugProduct\";}}s:10:\"DosageForm\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:208:\"The
  dosage form is the form of presentation in which the product is supplied, for example,
  tablet, capsule, powder, etc.\n\nA product can have more than one dosage form when
  it is a kit (e.g. tablet, capsule).\n\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"drug_code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DrugCode\";}s:24:\"pharmaceutical_form_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  code assigned to a dosage form\";}s:24:\"pharmaceutical_form_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  dosage form\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"DosageForm\";}}s:8:\"DrugCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  code assigned to each drug product\";}s:9:\"Packaging\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:64:\"Information
  about available packages sizes for each drug product\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"drug_code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DrugCode\";}s:12:\"package_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  size of the package\";}s:17:\"package_size_unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  unit for package size\";}s:12:\"package_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  type of package\";}s:19:\"product_information\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Additional
  product information\";}s:3:\"upc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  Universal Product Code\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:18:\"PackageInformation\";}}s:22:\"PharmaceuticalStandard\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:68:\"The
  standard to which a drug product is manufactured and represented\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"drug_code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DrugCode\";}s:18:\"pharmaceutical_std\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  pharmaceutical standard\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:22:\"PharmaceuticalStandard\";}}s:21:\"RouteOfAdministration\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:256:\"Indicates
  the part of the body on which, through which or into which the product is to be
  introduced (e.g. oral, topical, intramuscular, rectal).\n\nA product can have more
  than one route of administration (e.g. intravenous, intramuscular, intra articular).\n\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"drug_code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DrugCode\";}s:28:\"route_of_administration_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  code assigned to a route of administration\";}s:28:\"route_of_administration_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  route of administration\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:21:\"RouteOfAdministration\";}}s:8:\"Schedule\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:1286:\"Each
  drug is assigned one or more schedules, according to the Food and Drug Regulations,
  and the Controlled Drugs and Substances Act.\n- Prescription (prescription drugs
  included in the Prescription Drug List)\n- Prescription Recommended (drugs that
  are recommended to be listed on the Prescription Drug List)\n- Schedule G (control
  drugs)\n- Schedule G (Controlled Drugs and Substances Act [CDSA] III)\n- Schedule
  G (CDSA IV)\n- Schedule C (drugs listed in Schedule C of the Food and Drugs Act,
  for example, radiopharmaceutical drugs)\n- Schedule D (drugs listed in Schedule
  D of the Food and Drugs Act, ie. biological products)\n- Narcotic (Narcotic Control
  Act)\n- Narcotic (CDSA I)S\n- Narcotic (CDSA II)\n- Targeted (CDSA IV)\n- CDSA Recommended-
  Undergoing Regulatory Amendment to add this new substance to Controlled Drugs Substances
  Act\n- OTC (over the counter drugs that do not appear on a schedule or are not recommended
  to appear on any schedule)\n- Ethical - a drug that, in accordance with Federal
  Legislation, does not require a prescription, but that is generally prescribed by
  a medical practitioner. Ethical products are unscheduled non-prescription professional
  use products (e.g. MRI contrast agents, hemodialysis solutions) and a few emergency
  use products (e.g. nitroglycerine)\n\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"drug_code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DrugCode\";}s:13:\"schedule_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"The
  drug schedule according to the Food and Drug Regulations and the Controlled Drugs
  and Substances Act.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"Schedule\";}}s:13:\"ProductStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:1338:\"The
  statuses listed below are a direct representation of the status available in DPD
  Online Query and the description of each status is summarized below.\n- Approved
  - refers to an active DIN that has been reviewed and authorized for sale in Canada
  but has not yet been marketed in Canada.\n- Cancelled Post-Market - refers to a
  DIN that is cancelled further to the discontinuation of the sale by the manufacturer
  pursuant to Section C.01.014.6 (1) (a) of the Regulations.\n- Cancelled Pre-Market
  - refers to a DIN that is cancelled before it was ever marketed in Canada.\n- Cancelled
  (Safety Issue): refers to a DIN that is cancelled following the suspension of a
  Notice of Compliance pursuant to Section C.01.014.6 (1) (b) of the Regulations or
  to Section C.01.014.6 (2) (b) of the Regulations due to failure to provide evidence
  regarding the safety and effectiveness of a drug, pursuant to Section C.01.013 of
  the Regulations.\n- Cancelled (Unreturned Annual): refers to a DIN that is cancelled
  due to failure to provide the Annual Notification pursuant to Section C.01.014.6
  (2) (a) of the Regulations.\n- Dormant - refers to an active DIN that was previously
  marketed in Canada but for which the manufacturer has suspended sale for period
  of at least 12 months.\n- Marketed - refers to an active DIN that is currently being
  sold in Canada.\n\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"drug_code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DrugCode\";}s:15:\"expiration_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:119:\"The
  latest expiry date of a product distributed in Canada, where the product has since
  been discontinued by the company\";}s:20:\"external_status_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  code assigned to an external drug status\";}s:14:\"history_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  historical date associated with a drug's status\";}s:10:\"lot_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"The
  latest lot number of a product distributed in Canada, where the product has since
  been discontinued by the company\";}s:20:\"original_market_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  original market date of a product\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  status name\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:13:\"ProductStatus\";}}s:16:\"TherapeuticClass\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:93:\"A
  drug's Therapeutic Classification (Class) is assigned according to its main therapeutic
  use\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"drug_code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DrugCode\";}s:7:\"tc_ahfs\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  description of the American Hospital Formulary Service\";}s:14:\"tc_ahfs_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  American Hospital Formulary Service code\";}s:6:\"tc_atc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"The
  description of the Anatomical Therapeutic Chemical Code\";}s:13:\"tc_atc_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  Anatomical Therapeutic Chemical Code\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:16:\"TherapeuticClass\";}}s:17:\"VeterinarySpecies\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:91:\"The
  type of species for a certain veterinary product (e.g. sheep, dog, cattle, and poultry)\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"drug_code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DrugCode\";}s:16:\"vet_species_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  animal species\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:17:\"VeterinarySpecies\";}}}"
...
