---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1386:\"<p>AWS
  Data Pipeline configures and manages a data-driven workflow called a pipeline. AWS
  Data Pipeline handles the details of scheduling and ensuring that data dependencies
  are met so that your application can focus on processing the data.</p> <p>AWS Data
  Pipeline provides a JAR implementation of a task runner called AWS Data Pipeline
  Task Runner. AWS Data Pipeline Task Runner provides logic for common data management
  scenarios, such as performing database queries and running data analysis using Amazon
  Elastic MapReduce (Amazon EMR). You can use AWS Data Pipeline Task Runner as your
  task runner, or you can write your own task runner to provide custom data management.</p>
  <p>AWS Data Pipeline implements two main sets of functionality. Use the first set
  to create a pipeline and define data sources, schedules, dependencies, and the transforms
  to be performed on the data. Use the second set in your task runner application
  to receive the next task ready for processing. The logic for performing the task,
  such as querying the data, running data analysis, or converting the data from one
  format to another, is contained within the task runner. The task runner performs
  the task assigned to it by the web service, reporting progress to the web service
  as it does so. When the task is done, the task runner reports the final success
  or failure of the task to the web service.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:17:\"AWS
  Data Pipeline\";s:7:\"version\";s:10:\"2012-10-29\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:96:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/datapipeline-2012-10-29.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:12:\"datapipeline\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"amazonaws_datapipeline\";s:4:\"type\";s:7:\"openapi\";}}"
host: datapipeline.amazonaws.com
basePath: /
paths:
  /:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Validates the specified pipeline and starts processing pipeline
        tasks. If the pipeline does not pass validation, activation fails.</p> <p>If
        you need to pause the pipeline to investigate an issue with a component, such
        as a data source or script, call <a>DeactivatePipeline</a>.</p> <p>To activate
        a finished pipeline, modify the end date for the pipeline and then activate
        it.</p>
      operationId: ActivatePipeline
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ActivatePipelineInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ActivatePipelineOutput'
        480:
          description: PipelineNotFoundException
          schema:
            $ref: '#/definitions/PipelineNotFoundException'
          x-aws-exception: true
        481:
          description: PipelineDeletedException
          schema:
            $ref: '#/definitions/PipelineDeletedException'
          x-aws-exception: true
        482:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        483:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
  /#AddTags:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds or modifies tags for the specified pipeline.
      operationId: AddTags
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AddTagsInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AddTagsOutput'
        480:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        481:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
        482:
          description: PipelineNotFoundException
          schema:
            $ref: '#/definitions/PipelineNotFoundException'
          x-aws-exception: true
        483:
          description: PipelineDeletedException
          schema:
            $ref: '#/definitions/PipelineDeletedException'
          x-aws-exception: true
  /#CreatePipeline:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new, empty pipeline. Use <a>PutPipelineDefinition</a>
        to populate the pipeline.
      operationId: CreatePipeline
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreatePipelineInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreatePipelineOutput'
        480:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        481:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
  /#DeactivatePipeline:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deactivates the specified running pipeline. The pipeline is
        set to the <code>DEACTIVATING</code> state until the deactivation process
        completes.</p> <p>To resume a deactivated pipeline, use <a>ActivatePipeline</a>.
        By default, the pipeline resumes from the last completed execution. Optionally,
        you can specify the date and time to resume the pipeline.</p>
      operationId: DeactivatePipeline
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeactivatePipelineInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeactivatePipelineOutput'
        480:
          description: PipelineNotFoundException
          schema:
            $ref: '#/definitions/PipelineNotFoundException'
          x-aws-exception: true
        481:
          description: PipelineDeletedException
          schema:
            $ref: '#/definitions/PipelineDeletedException'
          x-aws-exception: true
        482:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        483:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
  /#DeletePipeline:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes a pipeline, its pipeline definition, and its run history.
        AWS Data Pipeline attempts to cancel instances associated with the pipeline
        that are currently being processed by task runners.</p> <p>Deleting a pipeline
        cannot be undone. You cannot query or restore a deleted pipeline. To temporarily
        pause a pipeline instead of deleting it, call <a>SetStatus</a> with the status
        set to <code>PAUSE</code> on individual components. Components that are paused
        by <a>SetStatus</a> can be resumed.</p>
      operationId: DeletePipeline
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeletePipelineInput'
      responses:
        200:
          description: Success
        480:
          description: PipelineNotFoundException
          schema:
            $ref: '#/definitions/PipelineNotFoundException'
          x-aws-exception: true
        481:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        482:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
  /#DescribeObjects:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the object definitions for a set of objects associated with
        the pipeline. Object definitions are composed of a set of fields that define
        the properties of the object.
      operationId: DescribeObjects
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeObjectsInput'
      - description: Pagination token
        in: query
        name: marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeObjectsOutput'
        480:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        481:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
        482:
          description: PipelineNotFoundException
          schema:
            $ref: '#/definitions/PipelineNotFoundException'
          x-aws-exception: true
        483:
          description: PipelineDeletedException
          schema:
            $ref: '#/definitions/PipelineDeletedException'
          x-aws-exception: true
  /#DescribePipelines:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Retrieves metadata about one or more pipelines. The information
        retrieved includes the name of the pipeline, the pipeline identifier, its
        current state, and the user account that owns the pipeline. Using account
        credentials, you can retrieve metadata about pipelines that you or your IAM
        users have created. If you are using an IAM user account, you can retrieve
        metadata about only those pipelines for which you have read permissions.</p>
        <p>To retrieve the full pipeline definition instead of metadata about the
        pipeline, call <a>GetPipelineDefinition</a>.</p>
      operationId: DescribePipelines
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribePipelinesInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribePipelinesOutput'
        480:
          description: PipelineNotFoundException
          schema:
            $ref: '#/definitions/PipelineNotFoundException'
          x-aws-exception: true
        481:
          description: PipelineDeletedException
          schema:
            $ref: '#/definitions/PipelineDeletedException'
          x-aws-exception: true
        482:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        483:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
  /#EvaluateExpression:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Task runners call <code>EvaluateExpression</code> to evaluate a
        string in the context of the specified object. For example, a task runner
        can evaluate SQL queries stored in Amazon S3.
      operationId: EvaluateExpression
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/EvaluateExpressionInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/EvaluateExpressionOutput'
        480:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        481:
          description: TaskNotFoundException
          schema:
            $ref: '#/definitions/TaskNotFoundException'
          x-aws-exception: true
        482:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
        483:
          description: PipelineNotFoundException
          schema:
            $ref: '#/definitions/PipelineNotFoundException'
          x-aws-exception: true
        484:
          description: PipelineDeletedException
          schema:
            $ref: '#/definitions/PipelineDeletedException'
          x-aws-exception: true
  /#GetPipelineDefinition:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the definition of the specified pipeline. You can call <code>GetPipelineDefinition</code>
        to retrieve the pipeline definition that you provided using <a>PutPipelineDefinition</a>.
      operationId: GetPipelineDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetPipelineDefinitionInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetPipelineDefinitionOutput'
        480:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        481:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
        482:
          description: PipelineNotFoundException
          schema:
            $ref: '#/definitions/PipelineNotFoundException'
          x-aws-exception: true
        483:
          description: PipelineDeletedException
          schema:
            $ref: '#/definitions/PipelineDeletedException'
          x-aws-exception: true
  /#ListPipelines:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the pipeline identifiers for all active pipelines that you
        have permission to access.
      operationId: ListPipelines
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListPipelinesInput'
      - description: Pagination token
        in: query
        name: marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListPipelinesOutput'
        480:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        481:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
  /#PollForTask:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Task runners call <code>PollForTask</code> to receive a task
        to perform from AWS Data Pipeline. The task runner specifies which tasks it
        can perform by setting a value for the <code>workerGroup</code> parameter.
        The task returned can come from any of the pipelines that match the <code>workerGroup</code>
        value passed in by the task runner and that was launched using the IAM user
        credentials specified by the task runner.</p> <p>If tasks are ready in the
        work queue, <code>PollForTask</code> returns a response immediately. If no
        tasks are available in the queue, <code>PollForTask</code> uses long-polling
        and holds on to a poll connection for up to a 90 seconds, during which time
        the first newly scheduled task is handed to the task runner. To accomodate
        this, set the socket timeout in your task runner to 90 seconds. The task runner
        should not call <code>PollForTask</code> again on the same <code>workerGroup</code>
        until it receives a response, and this can take up to 90 seconds. </p>
      operationId: PollForTask
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PollForTaskInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PollForTaskOutput'
        480:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        481:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
        482:
          description: TaskNotFoundException
          schema:
            $ref: '#/definitions/TaskNotFoundException'
          x-aws-exception: true
  /#PutPipelineDefinition:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Adds tasks, schedules, and preconditions to the specified pipeline.
        You can use <code>PutPipelineDefinition</code> to populate a new pipeline.</p>
        <p> <code>PutPipelineDefinition</code> also validates the configuration as
        it adds it to the pipeline. Changes to the pipeline are saved unless one of
        the following three validation errors exists in the pipeline. </p> <ol> <li>An
        object is missing a name or identifier field.</li> <li>A string or reference
        field is empty.</li> <li>The number of objects in the pipeline exceeds the
        maximum allowed objects.</li> <li>The pipeline is in a FINISHED state.</li>
        </ol> <p> Pipeline object definitions are passed to the <code>PutPipelineDefinition</code>
        action and returned by the <a>GetPipelineDefinition</a> action. </p>
      operationId: PutPipelineDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutPipelineDefinitionInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PutPipelineDefinitionOutput'
        480:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        481:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
        482:
          description: PipelineNotFoundException
          schema:
            $ref: '#/definitions/PipelineNotFoundException'
          x-aws-exception: true
        483:
          description: PipelineDeletedException
          schema:
            $ref: '#/definitions/PipelineDeletedException'
          x-aws-exception: true
  /#QueryObjects:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Queries the specified pipeline for the names of objects that match
        the specified set of conditions.
      operationId: QueryObjects
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/QueryObjectsInput'
      - description: Pagination limit
        in: query
        name: limit
        required: false
        type: string
      - description: Pagination token
        in: query
        name: marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/QueryObjectsOutput'
        480:
          description: PipelineNotFoundException
          schema:
            $ref: '#/definitions/PipelineNotFoundException'
          x-aws-exception: true
        481:
          description: PipelineDeletedException
          schema:
            $ref: '#/definitions/PipelineDeletedException'
          x-aws-exception: true
        482:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        483:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
  /#RemoveTags:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes existing tags from the specified pipeline.
      operationId: RemoveTags
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RemoveTagsInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RemoveTagsOutput'
        480:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        481:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
        482:
          description: PipelineNotFoundException
          schema:
            $ref: '#/definitions/PipelineNotFoundException'
          x-aws-exception: true
        483:
          description: PipelineDeletedException
          schema:
            $ref: '#/definitions/PipelineDeletedException'
          x-aws-exception: true
  /#ReportTaskProgress:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Task runners call <code>ReportTaskProgress</code> when assigned
        a task to acknowledge that it has the task. If the web service does not receive
        this acknowledgement within 2 minutes, it assigns the task in a subsequent
        <a>PollForTask</a> call. After this initial acknowledgement, the task runner
        only needs to report progress every 15 minutes to maintain its ownership of
        the task. You can change this reporting time from 15 minutes by specifying
        a <code>reportProgressTimeout</code> field in your pipeline.</p> <p>If a task
        runner does not report its status after 5 minutes, AWS Data Pipeline assumes
        that the task runner is unable to process the task and reassigns the task
        in a subsequent response to <a>PollForTask</a>. Task runners should call <code>ReportTaskProgress</code>
        every 60 seconds.</p>
      operationId: ReportTaskProgress
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ReportTaskProgressInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ReportTaskProgressOutput'
        480:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        481:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
        482:
          description: TaskNotFoundException
          schema:
            $ref: '#/definitions/TaskNotFoundException'
          x-aws-exception: true
        483:
          description: PipelineNotFoundException
          schema:
            $ref: '#/definitions/PipelineNotFoundException'
          x-aws-exception: true
        484:
          description: PipelineDeletedException
          schema:
            $ref: '#/definitions/PipelineDeletedException'
          x-aws-exception: true
  /#ReportTaskRunnerHeartbeat:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Task runners call <code>ReportTaskRunnerHeartbeat</code> every
        15 minutes to indicate that they are operational. If the AWS Data Pipeline
        Task Runner is launched on a resource managed by AWS Data Pipeline, the web
        service can use this call to detect when the task runner application has failed
        and restart a new instance.
      operationId: ReportTaskRunnerHeartbeat
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ReportTaskRunnerHeartbeatInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ReportTaskRunnerHeartbeatOutput'
        480:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        481:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
  /#SetStatus:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Requests that the status of the specified physical or logical pipeline
        objects be updated in the specified pipeline. This update might not occur
        immediately, but is eventually consistent. The status that can be set depends
        on the type of object (for example, DataNode or Activity). You cannot perform
        this operation on <code>FINISHED</code> pipelines and attempting to do so
        returns <code>InvalidRequestException</code>.
      operationId: SetStatus
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/SetStatusInput'
      responses:
        200:
          description: Success
        480:
          description: PipelineNotFoundException
          schema:
            $ref: '#/definitions/PipelineNotFoundException'
          x-aws-exception: true
        481:
          description: PipelineDeletedException
          schema:
            $ref: '#/definitions/PipelineDeletedException'
          x-aws-exception: true
        482:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        483:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
  /#SetTaskStatus:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Task runners call <code>SetTaskStatus</code> to notify AWS Data
        Pipeline that a task is completed and provide information about the final
        status. A task runner makes this call regardless of whether the task was sucessful.
        A task runner does not need to call <code>SetTaskStatus</code> for tasks that
        are canceled by the web service during a call to <a>ReportTaskProgress</a>.
      operationId: SetTaskStatus
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/SetTaskStatusInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SetTaskStatusOutput'
        480:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        481:
          description: TaskNotFoundException
          schema:
            $ref: '#/definitions/TaskNotFoundException'
          x-aws-exception: true
        482:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
        483:
          description: PipelineNotFoundException
          schema:
            $ref: '#/definitions/PipelineNotFoundException'
          x-aws-exception: true
        484:
          description: PipelineDeletedException
          schema:
            $ref: '#/definitions/PipelineDeletedException'
          x-aws-exception: true
  /#ValidatePipelineDefinition:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Validates the specified pipeline definition to ensure that it is
        well formed and can be run without error.
      operationId: ValidatePipelineDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ValidatePipelineDefinitionInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ValidatePipelineDefinitionOutput'
        480:
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
          x-aws-exception: true
        481:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
          x-aws-exception: true
        482:
          description: PipelineNotFoundException
          schema:
            $ref: '#/definitions/PipelineNotFoundException'
          x-aws-exception: true
        483:
          description: PipelineDeletedException
          schema:
            $ref: '#/definitions/PipelineDeletedException'
          x-aws-exception: true
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":89:{s:21:\"ActivatePipelineInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Contains
  the parameters for ActivatePipeline.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"parameterValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ParameterValueList\";s:11:\"description\";s:65:\"A
  list of parameter values to pass to the pipeline at activation.\";}s:10:\"pipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:23:\"The
  ID of the pipeline.\";}s:14:\"startTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/timestamp\";s:11:\"description\";s:109:\"The
  date and time to resume the pipeline. By default, the pipeline resumes from the
  last completed execution.\";}}s:8:\"required\";a:1:{i:0;s:10:\"pipelineId\";}s:4:\"type\";s:6:\"object\";}s:22:\"ActivatePipelineOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Contains
  the output of ActivatePipeline.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"AddTagsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Contains
  the parameters for AddTags.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"pipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:23:\"The
  ID of the pipeline.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/tagList\";s:11:\"description\";s:36:\"The
  tags to add, as key/value pairs.\";}}s:8:\"required\";a:2:{i:0;s:10:\"pipelineId\";i:1;s:4:\"tags\";}s:4:\"type\";s:6:\"object\";}s:13:\"AddTagsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Contains
  the output of AddTags.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"CreatePipelineInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Contains
  the parameters for CreatePipeline.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:33:\"The
  description for the pipeline.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:187:\"The
  name for the pipeline. You can use the same name for multiple pipelines associated
  with your AWS account, because AWS Data Pipeline assigns each pipeline a unique
  pipeline identifier.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/tagList\";s:11:\"description\";s:311:\"A
  list of tags to associate with the pipeline at creation. Tags let you control access
  to pipelines. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling
  User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.\";}s:8:\"uniqueId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:840:\"A
  unique identifier. This identifier is not the same as the pipeline identifier assigned
  by AWS Data Pipeline. You are responsible for defining the format and ensuring the
  uniqueness of this identifier. You use this parameter to ensure idempotency during
  repeated calls to <code>CreatePipeline</code>. For example, if the first call to
  <code>CreatePipeline</code> does not succeed, you can pass in the same unique identifier
  and pipeline name combination on a subsequent call to <code>CreatePipeline</code>.
  <code>CreatePipeline</code> ensures that if a pipeline already exists with the same
  name and unique identifier, a new pipeline is not created. Instead, you'll receive
  the pipeline identifier from the previous attempt. The uniqueness of the name and
  unique identifier combination is scoped to the AWS account or IAM user credentials.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:8:\"uniqueId\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreatePipelineOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Contains
  the output of CreatePipeline.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"pipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:115:\"The
  ID that AWS Data Pipeline assigns the newly created pipeline. For example, <code>df-06372391ZG65EXAMPLE</code>.\";}}s:8:\"required\";a:1:{i:0;s:10:\"pipelineId\";}s:4:\"type\";s:6:\"object\";}s:23:\"DeactivatePipelineInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Contains
  the parameters for DeactivatePipeline.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"cancelActive\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/cancelActive\";s:11:\"description\";s:225:\"Indicates
  whether to cancel any running objects. The default is true, which sets the state
  of any running objects to <code>CANCELED</code>. If this value is false, the pipeline
  is deactivated after all running objects finish.\";}s:10:\"pipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:23:\"The
  ID of the pipeline.\";}}s:8:\"required\";a:1:{i:0;s:10:\"pipelineId\";}s:4:\"type\";s:6:\"object\";}s:24:\"DeactivatePipelineOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Contains
  the output of DeactivatePipeline.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeletePipelineInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Contains
  the parameters for DeletePipeline.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"pipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:23:\"The
  ID of the pipeline.\";}}s:8:\"required\";a:1:{i:0;s:10:\"pipelineId\";}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeObjectsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Contains
  the parameters for DescribeObjects.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"evaluateExpressions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:110:\"Indicates
  whether any expressions in the object should be evaluated when the object descriptions
  are returned.\";}s:6:\"marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:261:\"The
  starting point for the results to be returned. For the first call, this value should
  be empty. As long as there are more results, continue to call <code>DescribeObjects</code>
  with the marker value from the previous call to retrieve the next set of results.\";}s:9:\"objectIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/idList\";s:11:\"description\";s:166:\"The
  IDs of the pipeline objects that contain the definitions to be described. You can
  pass as many as 25 identifiers in a single call to <code>DescribeObjects</code>.\";}s:10:\"pipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:60:\"The
  ID of the pipeline that contains the object definitions.\";}}s:8:\"required\";a:2:{i:0;s:10:\"pipelineId\";i:1;s:9:\"objectIds\";}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeObjectsOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Contains
  the output of DescribeObjects.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"hasMoreResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:51:\"Indicates
  whether there are more results to return.\";}s:6:\"marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:195:\"The
  starting point for the next page of results. To view the next page of results, call
  <code>DescribeObjects</code> again with this marker value. If the value is null,
  there are no more results.\";}s:15:\"pipelineObjects\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PipelineObjectList\";s:11:\"description\";s:31:\"An
  array of object definitions.\";}}s:8:\"required\";a:1:{i:0;s:15:\"pipelineObjects\";}s:4:\"type\";s:6:\"object\";}s:22:\"DescribePipelinesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Contains
  the parameters for DescribePipelines.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"pipelineIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/idList\";s:11:\"description\";s:145:\"The
  IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single
  call. To obtain pipeline IDs, call <a>ListPipelines</a>.\";}}s:8:\"required\";a:1:{i:0;s:11:\"pipelineIds\";}s:4:\"type\";s:6:\"object\";}s:23:\"DescribePipelinesOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Contains
  the output of DescribePipelines.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"pipelineDescriptionList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/PipelineDescriptionList\";s:11:\"description\";s:53:\"An
  array of descriptions for the specified pipelines.\";}}s:8:\"required\";a:1:{i:0;s:23:\"pipelineDescriptionList\";}s:4:\"type\";s:6:\"object\";}s:23:\"EvaluateExpressionInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Contains
  the parameters for EvaluateExpression.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"expression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/longString\";s:11:\"description\";s:27:\"The
  expression to evaluate.\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:21:\"The
  ID of the object.\";}s:10:\"pipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:23:\"The
  ID of the pipeline.\";}}s:8:\"required\";a:3:{i:0;s:10:\"pipelineId\";i:1;s:8:\"objectId\";i:2;s:10:\"expression\";}s:4:\"type\";s:6:\"object\";}s:24:\"EvaluateExpressionOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Contains
  the output of EvaluateExpression.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"evaluatedExpression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/longString\";s:11:\"description\";s:25:\"The
  evaluated expression.\";}}s:8:\"required\";a:1:{i:0;s:19:\"evaluatedExpression\";}s:4:\"type\";s:6:\"object\";}s:5:\"Field\";O:8:\"stdClass\":4:{s:11:\"description\";s:213:\"A
  key-value pair that describes a property of a pipeline object. The value is specified
  as either a string value (<code>StringValue</code>) or a reference to another object
  (<code>RefValue</code>) but not as both.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/fieldNameString\";s:11:\"description\";s:21:\"The
  field identifier.\";}s:8:\"refValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/fieldNameString\";s:11:\"description\";s:63:\"The
  field value, expressed as the identifier of another object.\";}s:11:\"stringValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/fieldStringValue\";s:11:\"description\";s:39:\"The
  field value, expressed as a String.\";}}s:8:\"required\";a:1:{i:0;s:3:\"key\";}s:4:\"type\";s:6:\"object\";}s:26:\"GetPipelineDefinitionInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Contains
  the parameters for GetPipelineDefinition.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"pipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:23:\"The
  ID of the pipeline.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:222:\"The
  version of the pipeline definition to retrieve. Set this parameter to <code>latest</code>
  (default) to use the last definition saved to the pipeline or <code>active</code>
  to use the last definition that was activated.\";}}s:8:\"required\";a:1:{i:0;s:10:\"pipelineId\";}s:4:\"type\";s:6:\"object\";}s:27:\"GetPipelineDefinitionOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Contains
  the output of GetPipelineDefinition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"parameterObjects\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ParameterObjectList\";s:11:\"description\";s:54:\"The
  parameter objects used in the pipeline definition.\";}s:15:\"parameterValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ParameterValueList\";s:11:\"description\";s:53:\"The
  parameter values used in the pipeline definition.\";}s:15:\"pipelineObjects\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PipelineObjectList\";s:11:\"description\";s:36:\"The
  objects defined in the pipeline.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"InstanceIdentity\";O:8:\"stdClass\":3:{s:11:\"description\";s:525:\"<p><p>Identity
  information for the EC2 instance that is hosting the task runner. You can get this
  value by calling a metadata URI from the EC2 instance. For more information, see
  <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AESDG-chapter-instancedata.html\">Instance
  Metadata</a> in the <i>Amazon Elastic Compute Cloud User Guide.</i> Passing in this
  value proves that your task runner is running on an EC2 instance, and ensures the
  proper AWS Data Pipeline service charges are applied to your pipeline.</p></p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"document\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:193:\"A
  description of an EC2 instance that is generated when the instance is launched and
  exposed to the instance via the instance metadata service in the form of a JSON
  representation of an object.\";}s:9:\"signature\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:132:\"A
  signature which can be used to verify the accuracy and authenticity of the information
  provided in the instance identity document.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"InternalServiceError\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"An
  internal service error occurred.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:33:\"Description
  of the error message.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InvalidRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"The
  request was not valid. Verify that your request was properly formatted, that the
  signature was generated with the correct credentials, and that you haven't exceeded
  any of the service limits for your account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:33:\"Description
  of the error message.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListPipelinesInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Contains
  the parameters for ListPipelines.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:259:\"The
  starting point for the results to be returned. For the first call, this value should
  be empty. As long as there are more results, continue to call <code>ListPipelines</code>
  with the marker value from the previous call to retrieve the next set of results.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListPipelinesOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Contains
  the output of ListPipelines.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"hasMoreResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:83:\"Indicates
  whether there are more results that can be obtained by a subsequent call.\";}s:6:\"marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:199:\"The
  starting point for the next page of results. To view the next page of results, call
  <code>ListPipelinesOutput</code> again with this marker value. If the value is null,
  there are no more results.\";}s:14:\"pipelineIdList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/pipelineList\";s:11:\"description\";s:181:\"The
  pipeline identifiers. If you require additional information about the pipelines,
  you can use these identifiers to call <a>DescribePipelines</a> and <a>GetPipelineDefinition</a>.\";}}s:8:\"required\";a:1:{i:0;s:14:\"pipelineIdList\";}s:4:\"type\";s:6:\"object\";}s:8:\"Operator\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Contains
  a logical operation for comparing the value of a field with a specified value.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OperatorType\";s:11:\"description\";s:1328:\"<p>
  The logical operation to be performed: equal (<code>EQ</code>), equal reference
  (<code>REF_EQ</code>), less than or equal (<code>LE</code>), greater than or equal
  (<code>GE</code>), or between (<code>BETWEEN</code>). Equal reference (<code>REF_EQ</code>)
  can be used only with reference fields. The other comparison types can be used only
  with String fields. The comparison types you can use apply only to certain object
  fields, as detailed below. </p> <p> The comparison operators EQ and REF_EQ act on
  the following fields: </p> <ul> <li>name</li> <li>@sphere</li> <li>parent</li> <li>@componentParent</li>
  <li>@instanceParent</li> <li>@status</li> <li>@scheduledStartTime</li> <li>@scheduledEndTime</li>
  <li>@actualStartTime</li> <li>@actualEndTime</li> </ul> <p> The comparison operators
  <code>GE</code>, <code>LE</code>, and <code>BETWEEN</code> act on the following
  fields: </p> <ul> <li>@scheduledStartTime</li> <li>@scheduledEndTime</li> <li>@actualStartTime</li>
  <li>@actualEndTime</li> </ul> <p>Note that fields beginning with the at sign (@)
  are read-only and set by the web service. When you name fields, you should choose
  names containing only alpha-numeric values, as symbols may be reserved by AWS Data
  Pipeline. User-defined fields that you add to a pipeline should prefix their name
  with the string \"my\".</p>\";}s:6:\"values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/stringList\";s:11:\"description\";s:60:\"The
  value that the actual field value will be compared with.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"OperatorType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:2:\"EQ\";i:1;s:6:\"REF_EQ\";i:2;s:2:\"LE\";i:3;s:2:\"GE\";i:4;s:7:\"BETWEEN\";}s:4:\"type\";s:6:\"string\";}s:18:\"ParameterAttribute\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  attributes allowed or specified with a parameter object.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/attributeNameString\";s:11:\"description\";s:21:\"The
  field identifier.\";}s:11:\"stringValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/attributeValueString\";s:11:\"description\";s:39:\"The
  field value, expressed as a String.\";}}s:8:\"required\";a:2:{i:0;s:3:\"key\";i:1;s:11:\"stringValue\";}s:4:\"type\";s:6:\"object\";}s:22:\"ParameterAttributeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ParameterAttribute\";}s:4:\"type\";s:5:\"array\";}s:15:\"ParameterObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Contains
  information about a parameter object.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ParameterAttributeList\";s:11:\"description\";s:39:\"The
  attributes of the parameter object.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/fieldNameString\";s:11:\"description\";s:32:\"The
  ID of the parameter object. \";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:10:\"attributes\";}s:4:\"type\";s:6:\"object\";}s:19:\"ParameterObjectList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ParameterObject\";}s:4:\"type\";s:5:\"array\";}s:14:\"ParameterValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"A
  value or list of parameter values. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/fieldNameString\";s:11:\"description\";s:30:\"The
  ID of the parameter value.\";}s:11:\"stringValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/fieldStringValue\";s:11:\"description\";s:39:\"The
  field value, expressed as a String.\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:11:\"stringValue\";}s:4:\"type\";s:6:\"object\";}s:18:\"ParameterValueList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ParameterValue\";}s:4:\"type\";s:5:\"array\";}s:24:\"PipelineDeletedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  specified pipeline has been deleted.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:33:\"Description
  of the error message.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"PipelineDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Contains
  pipeline metadata.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:28:\"Description
  of the pipeline.\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/fieldList\";s:11:\"description\";s:109:\"A
  list of read-only fields that contain metadata about the pipeline: @userId, @accountId,
  and @pipelineState.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:25:\"The
  name of the pipeline.\";}s:10:\"pipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:129:\"The
  pipeline identifier that was assigned by AWS Data Pipeline. This is a string of
  the form <code>df-297EG78HU43EEXAMPLE</code>.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/tagList\";s:11:\"description\";s:298:\"A
  list of tags to associated with a pipeline. Tags let you control access to pipelines.
  For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling
  User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.\";}}s:8:\"required\";a:3:{i:0;s:10:\"pipelineId\";i:1;s:4:\"name\";i:2;s:6:\"fields\";}s:4:\"type\";s:6:\"object\";}s:23:\"PipelineDescriptionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PipelineDescription\";}s:4:\"type\";s:5:\"array\";}s:14:\"PipelineIdName\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Contains
  the name and identifier of a pipeline.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:128:\"The
  ID of the pipeline that was assigned by AWS Data Pipeline. This is a string of the
  form <code>df-297EG78HU43EEXAMPLE</code>.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:25:\"The
  name of the pipeline.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"PipelineNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  specified pipeline was not found. Verify that you used the correct user and account
  identifiers.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:33:\"Description
  of the error message.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PipelineObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:182:\"Contains
  information about a pipeline object. This can be a logical, physical, or physical
  attempt pipeline object. The complete set of components of a pipeline defines the
  pipeline.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/fieldList\";s:11:\"description\";s:57:\"Key-value
  pairs that define the properties of the object.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:21:\"The
  ID of the object.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:23:\"The
  name of the object.\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:6:\"fields\";}s:4:\"type\";s:6:\"object\";}s:18:\"PipelineObjectList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PipelineObject\";}s:4:\"type\";s:5:\"array\";}s:17:\"PipelineObjectMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:16:\"#/definitions/id\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PipelineObject\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:16:\"PollForTaskInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Contains
  the parameters for PollForTask.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"hostname\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:47:\"The
  public DNS name of the calling task runner.\";}s:16:\"instanceIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InstanceIdentity\";s:11:\"description\";s:552:\"Identity
  information for the EC2 instance that is hosting the task runner. You can get this
  value from the instance using <code>http://169.254.169.254/latest/meta-data/instance-id</code>.
  For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AESDG-chapter-instancedata.html\">Instance
  Metadata</a> in the <i>Amazon Elastic Compute Cloud User Guide.</i> Passing in this
  value proves that your task runner is running on an EC2 instance, and ensures the
  proper AWS Data Pipeline service charges are applied to your pipeline.\";}s:11:\"workerGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:380:\"The
  type of task the task runner is configured to accept and process. The worker group
  is set as a field on objects in the pipeline when they are created. You can only
  specify a single value for <code>workerGroup</code> in the call to <code>PollForTask</code>.
  There are no wildcard values permitted in <code>workerGroup</code>; the string must
  be an exact, case-sensitive, match.\";}}s:8:\"required\";a:1:{i:0;s:11:\"workerGroup\";}s:4:\"type\";s:6:\"object\";}s:17:\"PollForTaskOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Contains
  the output of PollForTask.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"taskObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TaskObject\";s:11:\"description\";s:334:\"The
  information needed to complete the task that is being assigned to the task runner.
  One of the fields returned in this object is <code>taskId</code>, which contains
  an identifier for the task being assigned. The calling task runner uses <code>taskId</code>
  in subsequent calls to <a>ReportTaskProgress</a> and <a>SetTaskStatus</a>.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"PutPipelineDefinitionInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Contains
  the parameters for PutPipelineDefinition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"parameterObjects\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ParameterObjectList\";s:11:\"description\";s:45:\"The
  parameter objects used with the pipeline.\";}s:15:\"parameterValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ParameterValueList\";s:11:\"description\";s:44:\"The
  parameter values used with the pipeline.\";}s:10:\"pipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:23:\"The
  ID of the pipeline.\";}s:15:\"pipelineObjects\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PipelineObjectList\";s:11:\"description\";s:95:\"The
  objects that define the pipeline. These objects overwrite the existing pipeline
  definition.\";}}s:8:\"required\";a:2:{i:0;s:10:\"pipelineId\";i:1;s:15:\"pipelineObjects\";}s:4:\"type\";s:6:\"object\";}s:27:\"PutPipelineDefinitionOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Contains
  the output of PutPipelineDefinition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"errored\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:218:\"Indicates
  whether there were validation errors, and the pipeline definition is stored but
  cannot be activated until you correct the pipeline and call <code>PutPipelineDefinition</code>
  to commit the corrected pipeline.\";}s:16:\"validationErrors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ValidationErrors\";s:11:\"description\";s:99:\"The
  validation errors that are associated with the objects defined in <code>pipelineObjects</code>.\";}s:18:\"validationWarnings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ValidationWarnings\";s:11:\"description\";s:101:\"The
  validation warnings that are associated with the objects defined in <code>pipelineObjects</code>.\";}}s:8:\"required\";a:1:{i:0;s:7:\"errored\";}s:4:\"type\";s:6:\"object\";}s:5:\"Query\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Defines
  the query to run against an object.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"selectors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SelectorList\";s:11:\"description\";s:104:\"List
  of selectors that define the query. An object must satisfy all of the selectors
  to match the query.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"QueryObjectsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Contains
  the parameters for QueryObjects.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/int\";s:11:\"description\";s:122:\"The
  maximum number of object names that <code>QueryObjects</code> will return in a single
  call. The default value is 100. \";}s:6:\"marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:258:\"The
  starting point for the results to be returned. For the first call, this value should
  be empty. As long as there are more results, continue to call <code>QueryObjects</code>
  with the marker value from the previous call to retrieve the next set of results.\";}s:10:\"pipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:23:\"The
  ID of the pipeline.\";}s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Query\";s:11:\"description\";s:271:\"The
  query that defines the objects to be returned. The <code>Query</code> object can
  contain a maximum of ten selectors. The conditions in the query are limited to top-level
  String fields in the object. These filters can be applied to components, instances,
  and attempts.\";}s:6:\"sphere\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:161:\"Indicates
  whether the query applies to components or instances. The possible values are: <code>COMPONENT</code>,
  <code>INSTANCE</code>, and <code>ATTEMPT</code>.\";}}s:8:\"required\";a:2:{i:0;s:10:\"pipelineId\";i:1;s:6:\"sphere\";}s:4:\"type\";s:6:\"object\";}s:18:\"QueryObjectsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Contains
  the output of QueryObjects.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"hasMoreResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:83:\"Indicates
  whether there are more results that can be obtained by a subsequent call.\";}s:3:\"ids\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/idList\";s:11:\"description\";s:47:\"The
  identifiers that match the query selectors.\";}s:6:\"marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:192:\"The
  starting point for the next page of results. To view the next page of results, call
  <code>QueryObjects</code> again with this marker value. If the value is null, there
  are no more results.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RemoveTagsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Contains
  the parameters for RemoveTags.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"pipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:23:\"The
  ID of the pipeline.\";}s:7:\"tagKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/stringList\";s:11:\"description\";s:31:\"The
  keys of the tags to remove.\";}}s:8:\"required\";a:2:{i:0;s:10:\"pipelineId\";i:1;s:7:\"tagKeys\";}s:4:\"type\";s:6:\"object\";}s:16:\"RemoveTagsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Contains
  the output of RemoveTags.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"ReportTaskProgressInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Contains
  the parameters for ReportTaskProgress.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/fieldList\";s:11:\"description\";s:81:\"Key-value
  pairs that define the properties of the ReportTaskProgressInput object.\";}s:6:\"taskId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/taskId\";s:11:\"description\";s:110:\"The
  ID of the task assigned to the task runner. This value is provided in the response
  for <a>PollForTask</a>.\";}}s:8:\"required\";a:1:{i:0;s:6:\"taskId\";}s:4:\"type\";s:6:\"object\";}s:24:\"ReportTaskProgressOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Contains
  the output of ReportTaskProgress.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"canceled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:149:\"If
  true, the calling task runner should cancel processing of the task. The task runner
  does not need to call <a>SetTaskStatus</a> for canceled tasks.\";}}s:8:\"required\";a:1:{i:0;s:8:\"canceled\";}s:4:\"type\";s:6:\"object\";}s:30:\"ReportTaskRunnerHeartbeatInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Contains
  the parameters for ReportTaskRunnerHeartbeat.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"hostname\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:39:\"The
  public DNS name of the task runner.\";}s:12:\"taskrunnerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:357:\"The
  ID of the task runner. This value should be unique across your AWS account. In the
  case of AWS Data Pipeline Task Runner launched on a resource managed by AWS Data
  Pipeline, the web service provides a unique identifier when it launches the application.
  If you have written a custom task runner, you should assign a unique identifier
  for the task runner.\";}s:11:\"workerGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:340:\"The
  type of task the task runner is configured to accept and process. The worker group
  is set as a field on objects in the pipeline when they are created. You can only
  specify a single value for <code>workerGroup</code>. There are no wildcard values
  permitted in <code>workerGroup</code>; the string must be an exact, case-sensitive,
  match.\";}}s:8:\"required\";a:1:{i:0;s:12:\"taskrunnerId\";}s:4:\"type\";s:6:\"object\";}s:31:\"ReportTaskRunnerHeartbeatOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Contains
  the output of ReportTaskRunnerHeartbeat.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"terminate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:59:\"Indicates
  whether the calling task runner should terminate.\";}}s:8:\"required\";a:1:{i:0;s:9:\"terminate\";}s:4:\"type\";s:6:\"object\";}s:8:\"Selector\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"A
  comparision that is used to determine whether a query should return this object.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"fieldName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:256:\"The
  name of the field that the operator will be applied to. The field name is the \"key\"
  portion of the field definition in the pipeline definition syntax that is used by
  the AWS Data Pipeline API. If the field is not set on the object, the condition
  fails.\";}s:8:\"operator\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Operator\";}}s:4:\"type\";s:6:\"object\";}s:12:\"SelectorList\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  list of Selectors that define queries on individual fields.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Selector\";}s:4:\"type\";s:5:\"array\";}s:14:\"SetStatusInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Contains
  the parameters for SetStatus.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"objectIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/idList\";s:11:\"description\";s:116:\"The
  IDs of the objects. The corresponding objects can be either physical or components,
  but not a mix of both types.\";}s:10:\"pipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:49:\"The
  ID of the pipeline that contains the objects.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:234:\"The
  status to be set on all the objects specified in <code>objectIds</code>. For components,
  use <code>PAUSE</code> or <code>RESUME</code>. For instances, use <code>TRY_CANCEL</code>,
  <code>RERUN</code>, or <code>MARK_FINISHED</code>.\";}}s:8:\"required\";a:3:{i:0;s:10:\"pipelineId\";i:1;s:9:\"objectIds\";i:2;s:6:\"status\";}s:4:\"type\";s:6:\"object\";}s:18:\"SetTaskStatusInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Contains
  the parameters for SetTaskStatus.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"errorId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:253:\"If
  an error occurred during the task, this value specifies the error code. This value
  is set on the physical attempt object. It is used to display error information to
  the user. It should not start with string \"Service_\" which is reserved by the
  system.\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:237:\"If
  an error occurred during the task, this value specifies a text description of the
  error. This value is set on the physical attempt object. It is used to display error
  information to the user. The web service does not parse this value.\";}s:15:\"errorStackTrace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:247:\"If
  an error occurred during the task, this value specifies the stack trace associated
  with the error. This value is set on the physical attempt object. It is used to
  display error information to the user. The web service does not parse this value.\";}s:6:\"taskId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/taskId\";s:11:\"description\";s:110:\"The
  ID of the task assigned to the task runner. This value is provided in the response
  for <a>PollForTask</a>.\";}s:10:\"taskStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TaskStatus\";s:11:\"description\";s:138:\"If
  <code>FINISHED</code>, the task successfully completed. If <code>FAILED</code>,
  the task ended unsuccessfully. Preconditions use false.\";}}s:8:\"required\";a:2:{i:0;s:6:\"taskId\";i:1;s:10:\"taskStatus\";}s:4:\"type\";s:6:\"object\";}s:19:\"SetTaskStatusOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Contains
  the output of SetTaskStatus.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:3:\"Tag\";O:8:\"stdClass\":4:{s:11:\"description\";s:368:\"Tags
  are key/value pairs defined by a user and associated with a pipeline to control
  access. AWS Data Pipeline allows you to associate ten tags per pipeline. For more
  information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling
  User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/tagKey\";s:11:\"description\";s:251:\"The
  key name of a tag defined by a user. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling
  User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/tagValue\";s:11:\"description\";s:265:\"The
  optional value portion of a tag defined by a user. For more information, see <a
  href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling
  User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.\";}}s:8:\"required\";a:2:{i:0;s:3:\"key\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:21:\"TaskNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  specified task was not found. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:33:\"Description
  of the error message.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TaskObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Contains
  information about a pipeline task that is assigned to a task runner.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"attemptId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:122:\"The
  ID of the pipeline task attempt object. AWS Data Pipeline uses this value to track
  how many times a task is attempted.\";}s:7:\"objects\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PipelineObjectMap\";s:11:\"description\";s:98:\"Connection
  information for the location where the task runner will publish the output of the
  task.\";}s:10:\"pipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:46:\"The
  ID of the pipeline that provided the task.\";}s:6:\"taskId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/taskId\";s:11:\"description\";s:121:\"An
  internal identifier for the task. This ID is passed to the <a>SetTaskStatus</a>
  and <a>ReportTaskProgress</a> actions.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TaskStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:8:\"FINISHED\";i:1;s:6:\"FAILED\";i:2;s:5:\"FALSE\";}s:4:\"type\";s:6:\"string\";}s:31:\"ValidatePipelineDefinitionInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"Contains
  the parameters for ValidatePipelineDefinition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"parameterObjects\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ParameterObjectList\";s:11:\"description\";s:45:\"The
  parameter objects used with the pipeline.\";}s:15:\"parameterValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ParameterValueList\";s:11:\"description\";s:44:\"The
  parameter values used with the pipeline.\";}s:10:\"pipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:23:\"The
  ID of the pipeline.\";}s:15:\"pipelineObjects\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PipelineObjectList\";s:11:\"description\";s:78:\"The
  objects that define the pipeline changes to validate against the pipeline.\";}}s:8:\"required\";a:2:{i:0;s:10:\"pipelineId\";i:1;s:15:\"pipelineObjects\";}s:4:\"type\";s:6:\"object\";}s:32:\"ValidatePipelineDefinitionOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Contains
  the output of ValidatePipelineDefinition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"errored\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:47:\"Indicates
  whether there were validation errors.\";}s:16:\"validationErrors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ValidationErrors\";s:11:\"description\";s:38:\"Any
  validation errors that were found.\";}s:18:\"validationWarnings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ValidationWarnings\";s:11:\"description\";s:40:\"Any
  validation warnings that were found.\";}}s:8:\"required\";a:1:{i:0;s:7:\"errored\";}s:4:\"type\";s:6:\"object\";}s:15:\"ValidationError\";O:8:\"stdClass\":3:{s:11:\"description\";s:158:\"Defines
  a validation error. Validation errors prevent pipeline activation. The set of validation
  errors that can be returned are defined by AWS Data Pipeline.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/validationMessages\";s:11:\"description\";s:38:\"A
  description of the validation error.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:64:\"The
  identifier of the object that contains the validation error.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ValidationErrors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ValidationError\";}s:4:\"type\";s:5:\"array\";}s:17:\"ValidationWarning\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"Defines
  a validation warning. Validation warnings do not prevent pipeline activation. The
  set of validation warnings that can be returned are defined by AWS Data Pipeline.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/id\";s:11:\"description\";s:66:\"The
  identifier of the object that contains the validation warning.\";}s:8:\"warnings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/validationMessages\";s:11:\"description\";s:40:\"A
  description of the validation warning.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ValidationWarnings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ValidationWarning\";}s:4:\"type\";s:5:\"array\";}s:19:\"attributeNameString\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:60:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*\";}s:20:\"attributeValueString\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:10240;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:60:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*\";}s:7:\"boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"cancelActive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"errorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"fieldList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Field\";}s:4:\"type\";s:5:\"array\";}s:15:\"fieldNameString\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:60:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*\";}s:16:\"fieldStringValue\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:10240;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:60:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*\";}s:2:\"id\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:60:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*\";}s:6:\"idList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:16:\"#/definitions/id\";}s:4:\"type\";s:5:\"array\";}s:3:\"int\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"longString\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:20971520;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:60:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*\";}s:12:\"pipelineList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PipelineIdName\";}s:4:\"type\";s:5:\"array\";}s:6:\"string\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:60:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*\";}s:10:\"stringList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}s:4:\"type\";s:5:\"array\";}s:6:\"tagKey\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"tagList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:8:\"tagValue\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:6:\"taskId\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:60:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"validationMessage\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:10000;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:60:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*\";}s:18:\"validationMessages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/validationMessage\";}s:4:\"type\";s:5:\"array\";}}"
...
