---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:13:\"Data
  Exchange\";}"
host: api.smartcity.kmitl.io
basePath: /api/v1
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:8:\"User_req\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"userName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"Collection\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"collectionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"collectionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"[\"timeseries\"|\"geotemporal\"|\"keyvalue\"]\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"encryptionLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:196:\"0
  - the data is not encrypted(High optimization and Indexing), 1 - the data is medium
  encrypted (Medium optimization and Indexing) , 2 - the data is strong encrypted
  (No optimization and Indexing)\";s:7:\"default\";i:0;}s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"columns\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"column
  name\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"[\"varchar\"|\"int\"|\"bigint\"|\"double\"|\"text\"|\"timestamp\"]\";}s:7:\"indexed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:12:\"[true|false]\";}}}s:11:\"description\";s:133:\"For
  'timeseries' must have column 'ts' type 'timestamp' and for 'geotemporal' must have
  addition column 'lat' and 'lng' type 'double'\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"isOpen\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:14:\"Collection_req\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"collectionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"endPoint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"location
  of data\";s:7:\"example\";s:15:\"local or remote\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"url
  for request (remote only)\";}s:7:\"headers\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:33:\"headers
  for request (remote only)\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"headers_0\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"headers_1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"header_...\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"queryString\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:38:\"query
  string for request (remote only)\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"queryString_1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"queryString_2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"queryString_...\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"[\"timeseries\"|\"geotemporal\"|\"keyvalue\"]\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"encryptionLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:196:\"0
  - the data is not encrypted(High optimization and Indexing), 1 - the data is medium
  encrypted (Medium optimization and Indexing) , 2 - the data is strong encrypted
  (No optimization and Indexing)\";s:7:\"default\";i:0;}s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"columns\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"column
  name\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"[\"varchar\"|\"int\"|\"bigint\"|\"double\"|\"text\"|\"timestamp\"]\";}s:7:\"indexed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:12:\"[true|false]\";}}}s:11:\"description\";s:133:\"For
  'timeseries' must have column 'ts' type 'timestamp' and for 'geotemporal' must have
  addition column 'lat' and 'lng' type 'double'\";}s:6:\"isOpen\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:17:\"Collection_update\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"isOpen\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:4:\"Data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"field0\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"data0\";s:7:\"example\";s:5:\"data0\";}s:6:\"field1\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"data1\";s:7:\"example\";s:5:\"data1\";}s:8:\"field...\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"data...\";s:7:\"example\";s:7:\"data...\";}}}s:6:\"Credit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"credits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:6:\"Ticket\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"collectionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"(Optional)collectionId\";}s:9:\"serviceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"(Optional)serviceId\";}s:6:\"expire\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:29:\"in
  days (default is 180 days)\";s:7:\"default\";i:180;}}}s:18:\"Access_control_req\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"userName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"userName\";}s:12:\"collectionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"(Optional)collectionId\";}s:9:\"serviceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"(Optional)serviceId\";}s:4:\"role\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"CONTRIBUTOR
  or READ\";}}}}"
...
