---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:21:\"Forge-Data-Management\";s:7:\"version\";s:5:\"2.0.5\";s:9:\"x-summary\";s:83:\"Asynchronous
  Javascript/Node.js library for the Autodesk Forge Data Management API.\";s:11:\"description\";s:1530:\"The
  Data Management API provides a unified and consistent way to access data across
  A360, Fusion 360, and the Object Storage Service.\n\nWith this API, you can accomplish
  a number of workflows, including accessing a Fusion model in A360 and getting an
  ordered structure of items, IDs, and properties for generating a bill of materials
  in a 3rd-party process. Or, you might want to superimpose a Fusion model and a building
  model to use in the [Viewer](https://developer.autodesk.com/en/docs/viewer/v2).\n\nThe
  Data Management API is composed of the following services:\n\n|  |  |\n|-----|-----|\n|
  Project Service | Navigate to a project from an A360 Hub. The project acts as an
  \u201Canchor\u201D point for data available through the API. |\n| Data Service |
  Navigate and manage the A360 metadata in terms of folders, items, and versions,
  as well as the relationships between these entities. An item could be a file or
  a Fusion 360 design. Each item can have multiple versions. |\n| Schema Service |
  This allows your application to understand the structure and semantics of extended
  data types, like Fusion designs. |\n| Object Storage Service (OSS) | This allows
  your application to download and upload raw files (such as PDF, XLS, DWG, or RVT)
  that are managed by the Data Service. |\n\nYou may have any number of logically
  separated apps that utilize one or more of these functionalities, and any of these
  apps are interoperable with other APIs on the Forge Platform.\n\n![](https://developer.doc.autodesk.com/bPlouYTd/7/_images/dms_overview.png)\n\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:14:\"Autodesk,
  Inc.\";s:3:\"url\";s:47:\"https://developer.autodesk.com/en/docs/data/v2/\";s:5:\"email\";s:23:\"forge.help@autodesk.com\";}s:9:\"x-support\";s:66:\"http://stackoverflow.com/questions/tagged/autodesk-data-management\";s:14:\"termsOfService\";s:146:\"http://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-beta-terms-of-service\";}"
host: developer.api.autodesk.com
basePath: /
paths: ~
produces:
- application/vnd.api+json
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":51:{s:16:\"json_api_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"jsonapi\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"jsonapi\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"version\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:3:\"1.0\";}}}}}}s:14:\"json_api_error\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/json_api_version\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"errors\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:6:\"status\";i:2;s:6:\"detail\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"a
  unique identifier for this particular occurrence of the problem\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"the
  HTTP status code applicable to this problem, expressed as a string value\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"an
  application-specific error code, expressed as a string value\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:151:\"a
  short, human-readable summary of the problem that SHOULD NOT change from occurrence
  to occurrence of the problem, except for purposes of localization\";}s:6:\"detail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:120:\"a
  human-readable explanation specific to this occurrence of the problem. Like title,
  this field's value can be localized\";}s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:70:\"a
  meta object containing non-standard meta-information about the error\";}s:5:\"links\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:84:\"a
  link that leads to further details about this particular occurrence of the problem\";s:8:\"required\";a:1:{i:0;s:5:\"about\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"about\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/json_api_link\";}}}}}}}}}}s:22:\"json_api_document_base\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/json_api_version\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_resource\";}s:8:\"included\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_resource\";}}}}}}s:17:\"json_api_document\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/json_api_document_base\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"links\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/json_api_links_self\";}}}}}s:19:\"json_api_collection\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/json_api_version\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:5:\"links\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_resource\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/json_api_links_self\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/json_api_links_paging\";}}}}}}}s:16:\"json_api_type_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"resource
  id\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"resource
  type\";}}}s:17:\"json_api_resource\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/json_api_type_id\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/json_api_attributes\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/json_api_meta\";}s:13:\"relationships\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/json_api_relationships\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/json_api_links\";}}}}}s:19:\"json_api_attributes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:39:\"resource
  specific attributes/properties\";}s:13:\"json_api_meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"resource
  specific meta data\";}s:22:\"json_api_relationships\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:31:\"resource
  specific relationships\";}s:14:\"json_api_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"resource
  specific links\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/json_api_link\";}}}s:13:\"json_api_link\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"href\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"json_api_links_self\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:45:\"provides
  the identity link (a link to itself)\";s:8:\"required\";a:1:{i:0;s:4:\"self\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/json_api_link\";}}}s:22:\"json_api_links_related\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:36:\"provides
  a link to related resources\";s:8:\"required\";a:1:{i:0;s:7:\"related\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"related\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/json_api_link\";}}}s:18:\"json_api_meta_link\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"link\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/json_api_link\";}}}s:37:\"json_api_relationships_links_internal\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"links\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/json_api_links_related\";}}}s:46:\"json_api_relationships_links_internal_resource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"links\";i:1;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/json_api_links_related\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/json_api_type_id\";}}}s:46:\"json_api_relationships_links_external_resource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"meta\";i:1;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/json_api_meta_link\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/json_api_type_id\";}}}s:33:\"json_api_relationships_links_refs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"links\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"self\";i:1;s:7:\"related\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/json_api_link\";}s:7:\"related\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/json_api_link\";}}}}}s:21:\"json_api_links_paging\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:34:\"provides
  the links used for paging\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"first\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/json_api_link\";}s:4:\"prev\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/json_api_link\";}s:4:\"next\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/json_api_link\";}s:4:\"last\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/json_api_link\";}}}s:31:\"base_attributes_created_updated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"attributes\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:10:\"createTime\";i:1;s:12:\"createUserId\";i:2;s:16:\"lastModifiedTime\";i:3;s:18:\"lastModifiedUserId\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"createTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"createUserId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:18:\"lastModifiedUserId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:32:\"base_attributes_extension_object\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:7:\"version\";i:2;s:6:\"schema\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"schema\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/json_api_link\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:6:\"health\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_resource\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:4:\"meta\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:6:\"health\";}}s:4:\"meta\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"healthy\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"healthy\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}}}}}s:3:\"hub\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_resource\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:10:\"attributes\";i:2;s:13:\"relationships\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:4:\"hubs\";}}s:10:\"attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:9:\"extension\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"displayable
  name of the hub\";}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/base_attributes_extension_object\";}}}s:13:\"relationships\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:8:\"projects\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"projects\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/json_api_relationships_links_internal\";}}}}}}}s:7:\"project\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_resource\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:10:\"attributes\";i:2;s:13:\"relationships\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:8:\"projects\";}}s:10:\"attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:9:\"extension\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"displayable
  name of the project\";}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/base_attributes_extension_object\";}}}s:13:\"relationships\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:3:\"hub\";i:1;s:10:\"rootFolder\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"hub\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/json_api_relationships_links_internal_resource\";}s:10:\"rootFolder\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/json_api_relationships_links_external_resource\";}}}}}}}s:6:\"folder\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_resource\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/base_attributes_created_updated\";}i:2;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:10:\"attributes\";i:2;s:13:\"relationships\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:7:\"folders\";}}s:10:\"attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:11:\"displayName\";i:2;s:11:\"objectCount\";i:3;s:9:\"extension\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"filename
  used when synced to local disk\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"displayable
  name of the folder\";}s:11:\"objectCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:41:\"number
  of contained sub-folders and items\";}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/base_attributes_extension_object\";}}}s:13:\"relationships\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"contents\";i:1;s:4:\"refs\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/json_api_relationships_links_internal_resource\";}s:8:\"contents\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/json_api_relationships_links_internal\";}s:4:\"refs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/json_api_relationships_links_refs\";}}}}}}}s:4:\"item\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_resource\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/base_attributes_created_updated\";}i:2;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:10:\"attributes\";i:2;s:13:\"relationships\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:5:\"items\";}}s:10:\"attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:11:\"displayName\";i:1;s:9:\"extension\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"displayable
  name of the item\";}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/base_attributes_extension_object\";}}}s:13:\"relationships\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:6:\"parent\";i:1;s:3:\"tip\";i:2;s:8:\"versions\";i:3;s:4:\"refs\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/json_api_relationships_links_internal_resource\";}s:3:\"tip\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/json_api_relationships_links_internal_resource\";}s:8:\"versions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/json_api_relationships_links_internal\";}s:4:\"refs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/json_api_relationships_links_refs\";}}}}}}}s:7:\"version\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_resource\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/base_attributes_created_updated\";}i:2;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:10:\"attributes\";i:2;s:13:\"relationships\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:8:\"versions\";}}s:10:\"attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:11:\"displayName\";i:2;s:13:\"versionNumber\";i:3;s:9:\"extension\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"filename
  used when synced to local disk\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"displayable
  name of the version\";}s:13:\"versionNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:30:\"version
  number of this version\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"mimetype
  of the version`s content\";}s:8:\"fileType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"file
  type, only present if this version represents a file\";}s:11:\"storageSize\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:66:\"file
  size in bytes, only present if this version represents a file\";}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/base_attributes_extension_object\";}}}s:13:\"relationships\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"item\";i:1;s:4:\"refs\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"item\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/json_api_relationships_links_internal_resource\";}s:4:\"refs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/json_api_relationships_links_refs\";}s:7:\"storage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/json_api_relationships_links_external_resource\";}s:11:\"derivatives\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/json_api_relationships_links_external_resource\";}s:10:\"thumbnails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/json_api_relationships_links_external_resource\";}}}}}}}s:7:\"rel_ref\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_resource\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:4:\"meta\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"folders\";i:1;s:5:\"items\";i:2;s:8:\"versions\";}}s:4:\"meta\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:7:\"refType\";i:1;s:9:\"direction\";i:2;s:6:\"fromId\";i:3;s:8:\"fromType\";i:4;s:4:\"toId\";i:5;s:6:\"toType\";i:6;s:9:\"extension\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"refType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"derived\";i:1;s:12:\"dependencies\";i:2;s:9:\"auxiliary\";i:3;s:5:\"xrefs\";}}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"from\";i:1;s:2:\"to\";}s:11:\"description\";s:90:\"describes
  the direction of the reference relative to the resource the refs are queried for\";}s:6:\"fromId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fromType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"folders\";i:1;s:5:\"items\";i:2;s:8:\"versions\";}}s:4:\"toId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"toType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"folders\";i:1;s:5:\"items\";i:2;s:8:\"versions\";}}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/base_attributes_extension_object\";}}}}}}}s:7:\"storage\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_resource\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:13:\"relationships\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:7:\"objects\";}}s:13:\"relationships\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"target\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"target\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"links\";i:1;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/json_api_links_related\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:7:\"folders\";}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}}}}}s:14:\"create_storage\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/json_api_version\";}i:1;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:10:\"attributes\";i:2;s:13:\"relationships\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:7:\"objects\";}}s:10:\"attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:9:\"extension\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/base_attributes_extension_object\";}}}s:13:\"relationships\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"target\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"target\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:7:\"folders\";}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}}}}s:7:\"example\";O:8:\"stdClass\":1:{s:24:\"application/vnd.api+json\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"objects\";s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"drawing.dwg\";}s:13:\"relationships\";O:8:\"stdClass\":1:{s:6:\"target\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"folders\";s:2:\"id\";s:52:\"urn:adsk.wipprod:fs.folder:co.mgS-lb-BThaTdHnhiN_mbA\";}}}}}}}}}s:11:\"create_item\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/json_api_version\";}i:1;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:8:\"included\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:10:\"attributes\";i:2;s:13:\"relationships\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:5:\"items\";}}s:10:\"attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:9:\"extension\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/base_attributes_extension_object\";}}}s:13:\"relationships\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:3:\"tip\";i:1;s:6:\"parent\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"tip\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:8:\"versions\";}}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:1:\"1\";}}}}}}s:6:\"parent\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:7:\"folders\";}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}}}s:8:\"included\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":5:{s:8:\"minItems\";i:1;s:8:\"maxItems\";i:1;s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:4:\"type\";i:1;s:2:\"id\";i:2;s:10:\"attributes\";i:3;s:13:\"relationships\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:8:\"versions\";}}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:1:\"1\";}}s:10:\"attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:9:\"extension\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/base_attributes_extension_object\";}}}s:13:\"relationships\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"storage\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"storage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:7:\"objects\";}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}}}}}s:7:\"example\";O:8:\"stdClass\":1:{s:24:\"application/vnd.api+json\";O:8:\"stdClass\":3:{s:7:\"jsonapi\";O:8:\"stdClass\":1:{s:7:\"version\";s:3:\"1.0\";}s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"items\";s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"drawing.dwg\";s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"type\";s:24:\"items:autodesk.core:File\";s:7:\"version\";s:3:\"1.0\";}}s:13:\"relationships\";O:8:\"stdClass\":2:{s:3:\"tip\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:8:\"versions\";s:2:\"id\";s:1:\"1\";}}s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"folders\";s:2:\"id\";s:52:\"urn:adsk.wipprod:fs.folder:co.mgS-lb-BThaTdHnhiN_mbA\";}}}}}s:8:\"included\";a:1:{i:0;O:8:\"stdClass\":4:{s:4:\"type\";s:8:\"versions\";s:2:\"id\";s:1:\"1\";s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"drawing.dwg\";}s:13:\"relationships\";O:8:\"stdClass\":1:{s:7:\"storage\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"objects\";s:2:\"id\";s:79:\"urn:adsk.objects:os.object:wip.dm.prod/2a6d61f2-49df-4d7b-9aed-439586d61df7.dwg\";}}}}}}}}}}s:14:\"create_version\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/json_api_version\";}i:1;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:10:\"attributes\";i:2;s:13:\"relationships\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:8:\"versions\";}}s:10:\"attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:9:\"extension\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/base_attributes_extension_object\";}}}s:13:\"relationships\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"item\";i:1;s:7:\"storage\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"item\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:5:\"items\";}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:7:\"storage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:7:\"objects\";}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}}}}s:7:\"example\";O:8:\"stdClass\":1:{s:24:\"application/vnd.api+json\";O:8:\"stdClass\":2:{s:7:\"jsonapi\";O:8:\"stdClass\":1:{s:7:\"version\";s:3:\"1.0\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:8:\"versions\";s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"drawing.dwg\";s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"type\";s:27:\"versions:autodesk.core:File\";s:7:\"version\";s:3:\"1.0\";}}s:13:\"relationships\";O:8:\"stdClass\":2:{s:4:\"item\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"items\";s:2:\"id\";s:50:\"urn:adsk.wipprod:dm.lineage:AeYgDtcTSuqYoyMweWFhhQ\";}}s:7:\"storage\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"objects\";s:2:\"id\";s:79:\"urn:adsk.objects:os.object:wip.dm.prod/980cff2c-f0f8-43d9-a151-4a2d916b91a2.dwg\";}}}}}}}}}s:10:\"create_ref\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/json_api_version\";}i:1;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:2:\"id\";i:2;s:4:\"meta\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"folders\";i:1;s:5:\"items\";i:2;s:8:\"versions\";}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"meta\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:9:\"extension\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/base_attributes_extension_object\";}}}}}}s:7:\"example\";O:8:\"stdClass\":1:{s:24:\"application/vnd.api+json\";O:8:\"stdClass\":2:{s:7:\"jsonapi\";O:8:\"stdClass\":1:{s:7:\"version\";s:3:\"1.0\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:8:\"versions\";s:2:\"id\";s:60:\"urn:adsk.wipprod:fs.file:vf.ooWjwAQJR0uEoPRyfEnvew?version=1\";s:4:\"meta\";O:8:\"stdClass\":1:{s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"type\";s:34:\"auxiliary:autodesk.core:Attachment\";s:7:\"version\";s:3:\"1.0\";}}}}}}}}s:16:\"health__response\";O:8:\"stdClass\":2:{s:5:\"title\";s:6:\"health\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_document\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/health\";}}}}}s:14:\"hubs__response\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"hubs\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/json_api_collection\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/hub\";}}}}}}s:13:\"hub__response\";O:8:\"stdClass\":2:{s:5:\"title\";s:3:\"hub\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_document\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/hub\";}}}}}s:18:\"projects__response\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"projects\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/json_api_collection\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/project\";}}}}}}s:17:\"project__response\";O:8:\"stdClass\":2:{s:5:\"title\";s:7:\"project\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_document\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/project\";}}}}}s:16:\"folder__response\";O:8:\"stdClass\":2:{s:5:\"title\";s:6:\"folder\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_document\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/folder\";}}}}}s:14:\"item__response\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"item\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_document\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/item\";}}}}}s:14:\"refs__response\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"refs\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/json_api_collection\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/rel_ref\";}}}}}}s:17:\"version__response\";O:8:\"stdClass\":3:{s:5:\"title\";s:7:\"version\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_document\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/version\";}}}}}s:18:\"versions__response\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"versions\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/json_api_collection\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/version\";}}}}}}s:25:\"storage_created__response\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"item\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/json_api_document_base\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/storage\";}}}}}s:22:\"item_created__response\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"item\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_document\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/item\";}}}}}s:25:\"version_created__response\";O:8:\"stdClass\":3:{s:5:\"title\";s:7:\"version\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/json_api_document\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/version\";}}}}}s:19:\"bad_input__response\";O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"bad
  input\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/json_api_error\";}}}s:19:\"forbidden__response\";O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"forbidden\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/json_api_error\";}}}s:19:\"not_found__response\";O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"not
  found\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/json_api_error\";}}}s:18:\"conflict__response\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"conflict\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/json_api_error\";}}}}"
...
