---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:12:\"Forge-oauth2\";s:7:\"version\";s:5:\"1.0.4\";s:9:\"x-summary\";s:74:\"Asynchronous
  Node.js library for the Autodesk Forge oAuth2 implementation.\";s:11:\"description\";s:473:\"OAuth,
  specifically OAuth2, is the open standard used across the Forge Platform for token-based
  authentication and authorization.\n\nIn this section, you will find the following
  resources:\n\nHow to register an app on the platform\nExplanations of basic concepts,
  such as client ID and secret, tokens, scopes, and two-legged versus three-legged
  authentication\nStep-by-step tutorials that walk you through a few common workflows\nDocumentation
  on each of the OAuth REST endpoints\n\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:14:\"Autodesk,
  Inc.\";s:3:\"url\";s:48:\"https://developer.autodesk.com/en/docs/oauth/v2/\";s:5:\"email\";s:23:\"forge.help@autodesk.com\";}s:9:\"x-support\";s:62:\"http://stackoverflow.com/questions/tagged/autodesk-forge+oauth\";s:14:\"termsOfService\";s:146:\"http://www.autodesk.com/company/legal-notices-trademarks/terms-of-service-autodesk360-web-services/autodesk-web-services-api-beta-terms-of-service\";}"
host: developer.api.autodesk.com
basePath: /
paths:
  /authentication/v1/authenticate:
    post:
      summary: POST authenticate
      operationId: authenticate
      description: Get a two-legged access token by providing your app's client ID
        and secret.n
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - $ref: '#/parameters/client_id'
      - $ref: '#/parameters/client_secret'
      - $ref: '#/parameters/client_credentials'
      - $ref: '#/parameters/scope'
      responses:
        200:
          $ref: '#/responses/Bearer_OK'
        400:
          $ref: '#/responses/BAD_REQUEST'
        401:
          $ref: '#/responses/UNAUTHORIZED'
        403:
          $ref: '#/responses/FORBIDDEN'
        415:
          $ref: '#/responses/UNSUPPORTED_MEDIA_TYPE'
        429:
          $ref: '#/responses/TOO_MANY_REQUEST'
        500:
          $ref: '#/responses/INTERNAL_SERVER_ERROR'
      security: []
      x-ads_command_line_example: 'curl -v ''https://developer.api.autodesk.com/authentication/v1/authenticate''
        -X ''POST'' -H ''Content-Type: application/x-www-form-urlencoded'' -d ''client_id=obQDn8P0GanGFQha4ngKKVWcxwyvFAGE&client_secret=eUruM8HRyc7BAQ1e&grant_type=client_credentials&scope=data:read'''
      tags:
      - Two-Legged
  /authentication/v1/authorize:
    get:
      summary: GET authorize
      operationId: authorize
      description: 'This is the browser URL to redirect an end user to in order to
        acquire the useru2019s consent for your app to access the specified resources.nNote:
        You do not call this URL directly in your server code. See the Get a 3-Legged
        Token tutorial for more information on how to use this endpoint.n'
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - $ref: '#/parameters/client_id'
      - $ref: '#/parameters/response_type'
      - $ref: '#/parameters/redirect_uri'
      - $ref: '#/parameters/scope'
      - $ref: '#/parameters/state'
      responses:
        200:
          $ref: '#/responses/Authorize_OK'
      security: []
      x-ads_command_line_example: https://developer.api.autodesk.com/authentication/v1/authorize?response_type=code&client_id=obQDn8P0GanGFQha4ngKKVWcxwyvFAGE&redirect_uri=http%3A%2F%2Fsampleapp.com%2Foauth2%2Fcallback&scope=data:read
      tags:
      - Three-Legged
  /authentication/v1/gettoken:
    post:
      summary: POST gettoken
      operationId: gettoken
      description: Exchange an authorization code extracted from a GET authorize callback
        for a three-legged access token.n
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - $ref: '#/parameters/client_id'
      - $ref: '#/parameters/client_secret'
      - $ref: '#/parameters/authorization_code'
      - $ref: '#/parameters/code'
      - $ref: '#/parameters/redirect_uri'
      responses:
        200:
          $ref: '#/responses/Bearer_OK'
        400:
          $ref: '#/responses/BAD_REQUEST'
        401:
          $ref: '#/responses/UNAUTHORIZED'
        403:
          $ref: '#/responses/FORBIDDEN'
        415:
          $ref: '#/responses/UNSUPPORTED_MEDIA_TYPE'
        429:
          $ref: '#/responses/TOO_MANY_REQUEST'
        500:
          $ref: '#/responses/INTERNAL_SERVER_ERROR'
      security: []
      x-ads_command_line_example: 'curl -v ''https://developer.api.autodesk.com/authentication/v1/gettoken''
        -X ''POST'' -H ''Content-Type: application/x-www-form-urlencoded'' -d ''client_id=obQDn8P0GanGFQha4ngKKVWcxwyvFAGE&client_secret=eUruM8HRyc7BAQ1e&grant_type=authorization_code&code=wroM1vFA4E-Aj241-quh_LVjm7UldawnNgYEHQ8I&redirect_uri=http://sampleapp.com/oauth/callback'''
      tags:
      - Three-Legged
  /authentication/v1/refreshtoken:
    post:
      summary: POST refreshtoken
      operationId: refreshtoken
      description: Acquire a new access token by using the refresh token provided
        by the POST gettoken endpoint.nSee the Field Guide for more information about
        refresh tokens.n
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - $ref: '#/parameters/client_id'
      - $ref: '#/parameters/client_secret'
      - $ref: '#/parameters/grant_type_refresh_token'
      - $ref: '#/parameters/refresh_token'
      - $ref: '#/parameters/scope_refresh_token'
      responses:
        200:
          $ref: '#/responses/Bearer_OK'
        400:
          $ref: '#/responses/BAD_REQUEST'
        401:
          $ref: '#/responses/UNAUTHORIZED'
        403:
          $ref: '#/responses/FORBIDDEN'
        415:
          $ref: '#/responses/UNSUPPORTED_MEDIA_TYPE'
        429:
          $ref: '#/responses/TOO_MANY_REQUEST'
        500:
          $ref: '#/responses/INTERNAL_SERVER_ERROR'
      security: []
      x-ads_command_line_example: 'curl -v ''https://developer.api.autodesk.com/authentication/v1/refreshtoken''
        -X ''POST'' -H ''Content-Type: application/x-www-form-urlencoded'' -d ''client_id=obQDn8P0GanGFQha4ngKKVWcxwyvFAGE&client_secret=eUruM8HRyc7BAQ1e&grant_type=refresh_token&refresh_token=48uh9YnUKI153nagQSfePWegHK9itSM6LHqXg1BX0B'''
      tags:
      - Three-Legged
  /userprofile/v1/users/@me:
    get:
      summary: GET users/@me
      operationId: about-me
      description: GET users/@me
      consumes: []
      parameters: []
      responses:
        200:
          $ref: '#/responses/UserProfile_OK'
        401:
          $ref: '#/responses/ACCESS_TOKEN_UNAUTHORIZED'
        429:
          $ref: '#/responses/TOO_MANY_REQUEST'
        500:
          $ref: '#/responses/INTERNAL_SERVER_ERROR'
      security:
      - oauth2_access_code: []
      x-ads_command_line_example: 'curl -v ''https://developer.api.autodesk.com/userprofile/v1/users/@me''
        -X ''GET'' -H ''Authorization: Bearer 4viS1MuwMU0X4XVpMyISPb2cla2q'''
      tags:
      - Informational
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:6:\"Bearer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"token_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Will
  always be Bearer\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:10:\"expires_in\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Access
  token expiration time (in seconds)\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"access_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  access token\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:13:\"refresh_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  refresh token\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:10:\"token_type\";i:1;s:10:\"expires_in\";i:2;s:12:\"access_token\";}}s:11:\"UserProfile\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"userId\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  backend user ID of the profile\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  username chosen by the user\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:7:\"emailId\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  user\u2019s email address\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  user\u2019s first name\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  user\u2019s last name\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:13:\"emailVerified\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"true
  if the user\u2019s email address has been verified false if the user\u2019s email
  address has not been verified\n\";s:4:\"type\";s:7:\"boolean\";}s:10:\"2FaEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"true
  if the user has enabled two-factor authentication false if the user has not enabled
  two-factor authentication\n\";s:4:\"type\";s:7:\"boolean\";}s:13:\"profileImages\";O:8:\"stdClass\":2:{s:11:\"description\";s:297:\"A
  flat JSON object of attribute-value pairs in which the attributes specify available
  profile image sizes in the format sizeX<pixels> (where <pixels> is an integer that
  represents both height and width in pixels of square profile images) and the values
  are URLs for downloading the images via HTTP\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:8:{i:0;s:6:\"userId\";i:1;s:8:\"userName\";i:2;s:7:\"emailId\";i:3;s:9:\"firstName\";i:4;s:8:\"lastName\";i:5;s:13:\"emailVerified\";i:6;s:10:\"2FaEnabled\";i:7;s:13:\"profileImages\";}}s:10:\"oAuthError\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"errorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:13:\"errorResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:12:\"errorMessage\";i:1;s:9:\"errorCode\";i:2;s:13:\"errorResponse\";}}}"
...
