---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:98:\"Retrieves
  the list of AMP URLs (and equivalent AMP Cache URLs) for a given list of public
  URL(s).\n\";s:5:\"title\";s:34:\"Accelerated Mobile Pages (AMP) URL\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:74:\"https://acceleratedmobilepageurl.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:24:\"acceleratedmobilepageurl\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:31:\"google_acceleratedmobilepageurl\";s:4:\"type\";s:7:\"openapi\";}}"
host: acceleratedmobilepageurl.googleapis.com
basePath: /
paths:
  /v1/ampUrls:batchGet:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Returns AMP URL(s) and equivalentn[AMP Cache URL(s)](/amp/cache/overview#amp-cache-url-format).
      operationId: ampUrls.batchGet
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/BatchGetAmpUrlsRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/BatchGetAmpUrlsResponse'
      tags:
      - ampUrls
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:6:\"AmpUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"AMP
  URL response for a requested URL.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"ampUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  AMP URL pointing to the publisher's web server.\";s:4:\"type\";s:6:\"string\";}s:9:\"cdnAmpUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  [AMP Cache URL](/amp/cache/overview#amp-cache-url-format) pointing to\nthe cached
  document in the Google AMP Cache.\";s:4:\"type\";s:6:\"string\";}s:11:\"originalUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  original non-AMP URL.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"AmpUrlError\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"AMP
  URL Error resource for a requested URL that couldn't be found.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  error code of an API call.\";s:4:\"enum\";a:6:{i:0;s:22:\"ERROR_CODE_UNSPECIFIED\";i:1;s:19:\"INPUT_URL_NOT_FOUND\";i:2;s:10:\"NO_AMP_URL\";i:3;s:17:\"APPLICATION_ERROR\";i:4;s:16:\"URL_IS_VALID_AMP\";i:5;s:18:\"URL_IS_INVALID_AMP\";}s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"An
  optional descriptive error message.\";s:4:\"type\";s:6:\"string\";}s:11:\"originalUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  original non-AMP URL.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"BatchGetAmpUrlsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"AMP
  URL request for a batch of URLs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"lookupStrategy\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  lookup_strategy being requested.\";s:4:\"enum\";a:2:{i:0;s:14:\"FETCH_LIVE_DOC\";i:1;s:12:\"IN_INDEX_DOC\";}s:4:\"type\";s:6:\"string\";}s:4:\"urls\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"List
  of URLs to look up for the paired AMP URLs.\nThe URLs are case-sensitive. Up to
  50 URLs per lookup\n(see [Usage Limits](/amp/cache/reference/limits)).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"BatchGetAmpUrlsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Batch
  AMP URL response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"ampUrls\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"For
  each URL in BatchAmpUrlsRequest, the URL response. The response might\nnot be in
  the same order as URLs in the batch request.\nIf BatchAmpUrlsRequest contains duplicate
  URLs, AmpUrl is generated\nonly once.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/AmpUrl\";}s:4:\"type\";s:5:\"array\";}s:9:\"urlErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  errors for requested URLs that have no AMP URL.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AmpUrlError\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
