---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:115:\"Transfers
  data from external data sources to a Google Cloud Storage bucket or between Google
  Cloud Storage buckets.\";s:5:\"title\";s:16:\"Storage Transfer\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"storage\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:65:\"https://storagetransfer.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:15:\"storagetransfer\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"google_storagetransfer\";s:4:\"type\";s:7:\"openapi\";}}"
host: storagetransfer.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":24:{s:12:\"AwsAccessKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"AWS
  access key (see\n[AWS Security Credentials](http://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html)).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"accessKeyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"AWS
  access key ID.\nRequired.\";s:4:\"type\";s:6:\"string\";}s:15:\"secretAccessKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"AWS
  secret access key. This field is not returned in RPC responses.\nRequired.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"AwsS3Data\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"An
  AwsS3Data resource can be a data source, but not a data sink.\nIn an AwsS3Data resource,
  an object's name is the S3 object's key name.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"awsAccessKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AwsAccessKey\";s:11:\"description\";s:158:\"AWS
  access key used to sign the API requests to the AWS S3 bucket.\nPermissions on the
  bucket must be granted to the access ID of the\nAWS access key.\nRequired.\";}s:10:\"bucketName\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"S3
  Bucket name (see\n[Creating a bucket](http://docs.aws.amazon.com/AmazonS3/latest/dev/create-bucket-get-location-example.html)).\nRequired.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:475:\"Represents
  a whole calendar date, e.g. date of birth. The time of day and\ntime zone are either
  specified elsewhere or are not significant. The date\nis relative to the Proleptic
  Gregorian Calendar. The day may be 0 to\nrepresent a year and month where the day
  is not significant, e.g. credit card\nexpiration date. The year may be 0 to represent
  a month and day independent\nof year, e.g. anniversary date. Related types are google.type.TimeOfDay\nand
  `google.protobuf.Timestamp`.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"day\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Day
  of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying
  a year/month where the day is not significant.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"month\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Month
  of year. Must be from 1 to 12, or 0 if specifying a date without a\nmonth.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"year\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Year
  of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"ErrorLogEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"An
  entry describing an error that has occurred.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  list of messages that carry the error details.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"A
  URL that refers to the target (a data source, a data sink,\nor an object) with which
  the error is associated.\nRequired.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"A
  summary of errors by error code, plus a count and sample error log\nentries.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Required.\";s:4:\"enum\";a:17:{i:0;s:2:\"OK\";i:1;s:9:\"CANCELLED\";i:2;s:7:\"UNKNOWN\";i:3;s:16:\"INVALID_ARGUMENT\";i:4;s:17:\"DEADLINE_EXCEEDED\";i:5;s:9:\"NOT_FOUND\";i:6;s:14:\"ALREADY_EXISTS\";i:7;s:17:\"PERMISSION_DENIED\";i:8;s:15:\"UNAUTHENTICATED\";i:9;s:18:\"RESOURCE_EXHAUSTED\";i:10;s:19:\"FAILED_PRECONDITION\";i:11;s:7:\"ABORTED\";i:12;s:12:\"OUT_OF_RANGE\";i:13;s:13:\"UNIMPLEMENTED\";i:14;s:8:\"INTERNAL\";i:15;s:11:\"UNAVAILABLE\";i:16;s:9:\"DATA_LOSS\";}s:4:\"type\";s:6:\"string\";}s:10:\"errorCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Count
  of this type of error.\nRequired.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"errorLogEntries\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Error
  samples.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ErrorLogEntry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"GcsData\";O:8:\"stdClass\":3:{s:11:\"description\";s:222:\"In
  a GcsData resource, an object's name is the Google Cloud Storage object's\nname
  and its `lastModificationTime` refers to the object's updated time,\nwhich changes
  when the content or the metadata of the object is updated.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"bucketName\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"Google
  Cloud Storage bucket name (see\n[Bucket Name\nRequirements](https://cloud.google.com/storage/docs/naming#requirements)).\nRequired.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GoogleServiceAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Google
  service account\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"accountEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Required.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"HttpData\";O:8:\"stdClass\":3:{s:11:\"description\";s:1757:\"An
  HttpData resource specifies a list of objects on the web to be transferred\nover
  HTTP.  The information of the objects to be transferred is contained in\na file
  referenced by a URL. The first line in the file must be\n\"TsvHttpData-1.0\", which
  specifies the format of the file.  Subsequent lines\nspecify the information of
  the list of objects, one object per list entry.\nEach entry has the following tab-delimited
  fields:\n\n* HTTP URL - The location of the object.\n\n* Length - The size of the
  object in bytes.\n\n* MD5 - The base64-encoded MD5 hash of the object.\n\nFor an
  example of a valid TSV file, see\n[Transferring data from\nURLs](https://cloud.google.com/storage/transfer/create-url-list).\n\nWhen
  transferring data based on a URL list, keep the following in mind:\n\n* When an
  object located at `http(s)://hostname:port/<URL-path>` is\ntransferred to a data
  sink, the name of the object at the data sink is\n`<hostname>/<URL-path>`.\n\n*
  If the specified size of an object does not match the actual size of the\nobject
  fetched, the object will not be transferred.\n\n* If the specified MD5 does not
  match the MD5 computed from the transferred\nbytes, the object transfer will fail.
  For more information, see\n[Generating MD5 hashes](https://cloud.google.com/storage/transfer/#md5)\n\n*
  Ensure that each URL you specify is publicly accessible. For\nexample, in Google
  Cloud Storage you can\n[share an object publicly]\n(https://cloud.google.com/storage/docs/cloud-console#_sharingdata)
  and get\na link to it.\n\n* Storage Transfer Service obeys `robots.txt` rules and
  requires the source\nHTTP server to support `Range` requests and to return a `Content-Length`\nheader
  in each response.\n\n* [ObjectConditions](#ObjectConditions) have no effect when
  filtering objects\nto transfer.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"listUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:179:\"The
  URL that points to the file that stores the object list entries.\nThis file must
  allow public access.  Currently, only URLs with HTTP and\nHTTPS schemes are supported.\nRequired.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListOperationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  response message for Operations.ListOperations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  standard List next-page token.\";s:4:\"type\";s:6:\"string\";}s:10:\"operations\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  list of operations that matches the specified filter in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListTransferJobsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Response
  from ListTransferJobs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  list next page token.\";s:4:\"type\";s:6:\"string\";}s:12:\"transferJobs\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  list of transfer jobs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TransferJob\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ObjectConditions\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Conditions
  that determine which objects will be transferred.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"excludePrefixes\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"`excludePrefixes`
  must follow the requirements described for\n`includePrefixes`.\n\nThe max size of
  `excludePrefixes` is 1000.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"includePrefixes\";O:8:\"stdClass\":3:{s:11:\"description\";s:1503:\"If
  `includePrefixes` is specified, objects that satisfy the object\nconditions must
  have names that start with one of the `includePrefixes`\nand that do not start with
  any of the `excludePrefixes`. If `includePrefixes`\nis not specified, all objects
  except those that have names starting with\none of the `excludePrefixes` must satisfy
  the object conditions.\n\nRequirements:\n\n  * Each include-prefix and exclude-prefix
  can contain any sequence of\n    Unicode characters, of max length 1024 bytes when
  UTF8-encoded, and\n    must not contain Carriage Return or Line Feed characters.
  \ Wildcard\n    matching and regular expression matching are not supported.\n\n
  \ * Each include-prefix and exclude-prefix must omit the leading slash.\n    For
  example, to include the `requests.gz` object in a transfer from\n    `s3://my-aws-bucket/logs/y=2015/requests.gz`,
  specify the include\n    prefix as `logs/y=2015/requests.gz`.\n\n  * None of the
  include-prefix or the exclude-prefix values can be empty,\n    if specified.\n\n
  \ * Each include-prefix must include a distinct portion of the object\n    namespace,
  i.e., no include-prefix may be a prefix of another\n    include-prefix.\n\n  * Each
  exclude-prefix must exclude a distinct portion of the object\n    namespace, i.e.,
  no exclude-prefix may be a prefix of another\n    exclude-prefix.\n\n  * If `includePrefixes`
  is specified, then each exclude-prefix must start\n    with the value of a path
  explicitly included by `includePrefixes`.\n\nThe max size of `includePrefixes` is
  1000.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:35:\"maxTimeElapsedSinceLastModification\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"`maxTimeElapsedSinceLastModification`
  is the complement to\n`minTimeElapsedSinceLastModification`.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:35:\"minTimeElapsedSinceLastModification\";O:8:\"stdClass\":3:{s:11:\"description\";s:410:\"If
  unspecified, `minTimeElapsedSinceLastModification` takes a zero value\nand `maxTimeElapsedSinceLastModification`
  takes the maximum possible\nvalue of Duration. Objects that satisfy the object conditions\nmust
  either have a `lastModificationTime` greater or equal to\n`NOW` - `maxTimeElapsedSinceLastModification`
  and less than\n`NOW` - `minTimeElapsedSinceLastModification`, or not have a\n`lastModificationTime`.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"This
  resource represents a long-running operation that is the result of a\nnetwork API
  call.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"done\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"If
  the value is `false`, it means the operation is still in progress.\nIf `true`, the
  operation is completed, and either `error` or `response` is\navailable.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:69:\"The
  error result of the operation in case of failure or cancellation.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:41:\"Represents
  the transfer operation object.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:211:\"The
  server-assigned name, which is only unique within the same service that originally
  returns it. If you use the default HTTP mapping, the `name` should have the format
  of `transferOperations/some/unique/name`.\";s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:492:\"The
  normal response of the operation in case of success.  If the original\nmethod returns
  no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.
  \ If the original method is standard\n`Get`/`Create`/`Update`, the response should
  be the resource.  For other\nmethods, the response should have the type `XxxResponse`,
  where `Xxx`\nis the original method name.  For example, if the original method name\nis
  `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:29:\"PauseTransferOperationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Request
  passed to PauseTransferOperation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"ResumeTransferOperationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  passed to ResumeTransferOperation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"Schedule\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Transfers
  can be scheduled to recur or to run just once.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"scheduleEndDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:146:\"The
  last day the recurring transfer will be run. If `scheduleEndDate`\nis the same as
  `scheduleStartDate`, the transfer will be executed only\nonce.\";}s:17:\"scheduleStartDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:169:\"The
  first day the recurring transfer is scheduled to run. If\n`scheduleStartDate` is
  in the past, the transfer will run for the first\ntime on the following day.\nRequired.\";}s:14:\"startTimeOfDay\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TimeOfDay\";s:11:\"description\";s:482:\"The
  time in UTC at which the transfer will be scheduled to start in a day.\nTransfers
  may start later than this time. If not specified, recurring and\none-time transfers
  that are scheduled to run today will run immediately;\nrecurring transfers that
  are scheduled to run on a future date will start\nat approximately midnight UTC
  on that date. Note that when configuring a\ntransfer with the Cloud Platform Console,
  the transfer's start time in a\nday is specified in your local timezone.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2437:\"The
  `Status` type defines a logical error model that is suitable for different\nprogramming
  environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc).
  The error model is designed to be:\n\n- Simple to use and understand for most users\n-
  Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains
  three pieces of data: error code, error message,\nand error details. The error code
  should be an enum value of\ngoogle.rpc.Code, but it may accept additional error
  codes if needed.  The\nerror message should be a developer-facing English message
  that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror
  message is needed, put the localized message in the error details or\nlocalize it
  in the client. The optional error details may contain arbitrary\ninformation about
  the error. There is a predefined set of error detail types\nin the package `google.rpc`
  that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status`
  message is the logical representation of the error model, but it\nis not necessarily
  the actual wire format. When the `Status` message is\nexposed in different client
  libraries and different wire protocols, it can be\nmapped differently. For example,
  it will likely be mapped to some exceptions\nin Java, but more likely mapped to
  some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message
  can be used in a variety of\nenvironments, either with or without APIs, to provide
  a\nconsistent developer experience across different environments.\n\nExample uses
  of this error model include:\n\n- Partial errors. If a service needs to return partial
  errors to the client,\n    it may embed the `Status` in the normal response to indicate
  the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps.
  Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations.
  If a client uses batch request and batch response, the\n    `Status` message should
  be used directly inside batch response, one for\n    each error sub-response.\n\n-
  Asynchronous operations. If an API call embeds asynchronous operation\n    results
  in its response, the status of those operations should be\n    represented directly
  using the `Status` message.\n\n- Logging. If some API errors are stored in logs,
  the message `Status` could\n    be used directly after any stripping needed for
  security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"A
  list of messages that carry the error details.  There is a common set of\nmessage
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any\nuser-facing error
  message should be localized and sent in the\ngoogle.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"TimeOfDay\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"Represents
  a time of day. The date and time zone are either not significant\nor are specified
  elsewhere. An API may choose to allow leap seconds. Related\ntypes are google.type.Date
  and `google.protobuf.Timestamp`.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"hours\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"Hours
  of day in 24 hour format. Should be from 0 to 23. An API may choose\nto allow the
  value \"24:00:00\" for scenarios like business closing time.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"minutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Minutes
  of hour of day. Must be from 0 to 59.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"nanos\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Fractions
  of seconds in nanoseconds. Must be from 0 to 999,999,999.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"seconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Seconds
  of minutes of the time. Must normally be from 0 to 59. An API may\nallow the value
  60 if it allows leap-seconds.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:16:\"TransferCounters\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"A
  collection of counters that report the progress of a transfer operation.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:17:\"bytesCopiedToSink\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Bytes
  that are copied to the data sink.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:20:\"bytesDeletedFromSink\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Bytes
  that are deleted from the data sink.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:22:\"bytesDeletedFromSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Bytes
  that are deleted from the data source.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:27:\"bytesFailedToDeleteFromSink\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Bytes
  that failed to be deleted from the data sink.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:20:\"bytesFoundFromSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"Bytes
  found in the data source that are scheduled to be transferred,\nexcluding any that
  are filtered based on object conditions or skipped due\nto sync.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:22:\"bytesFoundOnlyFromSink\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Bytes
  found only in the data sink that are scheduled to be deleted.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:21:\"bytesFromSourceFailed\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Bytes
  in the data source that failed to be transferred or that failed to\nbe deleted after
  being transferred.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:28:\"bytesFromSourceSkippedBySync\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Bytes
  in the data source that are not transferred because they already\nexist in the data
  sink.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:19:\"objectsCopiedToSink\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Objects
  that are copied to the data sink.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:22:\"objectsDeletedFromSink\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Objects
  that are deleted from the data sink.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:24:\"objectsDeletedFromSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Objects
  that are deleted from the data source.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:29:\"objectsFailedToDeleteFromSink\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Objects
  that failed to be deleted from the data sink.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:22:\"objectsFoundFromSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"Objects
  found in the data source that are scheduled to be transferred,\nexcluding any that
  are filtered based on object conditions or skipped due\nto sync.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:24:\"objectsFoundOnlyFromSink\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Objects
  found only in the data sink that are scheduled to be deleted.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:23:\"objectsFromSourceFailed\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Objects
  in the data source that failed to be transferred or that failed\nto be deleted after
  being transferred.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:30:\"objectsFromSourceSkippedBySync\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Objects
  in the data source that are not transferred because they already\nexist in the data
  sink.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"TransferJob\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"This
  resource represents the configuration of a transfer job that runs\nperiodically.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"This
  field cannot be changed by user requests.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:12:\"deletionTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"This
  field cannot be changed by user requests.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"A
  description provided by the user for the job. Its max length is 1024\nbytes when
  Unicode-encoded.\";s:4:\"type\";s:6:\"string\";}s:20:\"lastModificationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"This
  field cannot be changed by user requests.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:221:\"A
  globally unique name assigned by Storage Transfer Service when the\njob is created.
  This field should be left empty in requests to create a new\ntransfer job; otherwise,
  the requests result in an `INVALID_ARGUMENT`\nerror.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  ID of the Google Cloud Platform Console project that owns the job.\";s:4:\"type\";s:6:\"string\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Schedule\";s:11:\"description\";s:23:\"Schedule
  specification.\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:344:\"Status
  of the job. This value MUST be specified for\n`CreateTransferJobRequests`.\n\nNOTE:
  The effect of the new job status takes place during a subsequent job\nrun. For example,
  if you change the job status from `ENABLED` to\n`DISABLED`, and an operation spawned
  by the transfer is running, the status\nchange would not affect the current operation.\";s:4:\"enum\";a:4:{i:0;s:18:\"STATUS_UNSPECIFIED\";i:1;s:7:\"ENABLED\";i:2;s:8:\"DISABLED\";i:3;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:12:\"transferSpec\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TransferSpec\";s:11:\"description\";s:23:\"Transfer
  specification.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"TransferOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  description of the execution of a transfer.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"counters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TransferCounters\";s:11:\"description\";s:57:\"Information
  about the progress of the transfer operation.\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"End
  time of this transfer execution.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:15:\"errorBreakdowns\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Summarizes
  errors encountered with sample error log entries.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorSummary\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"A
  globally unique ID assigned by the system.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  ID of the Google Cloud Platform Console project that owns the operation.\nRequired.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Start
  time of this transfer execution.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Status
  of the transfer operation.\";s:4:\"enum\";a:6:{i:0;s:18:\"STATUS_UNSPECIFIED\";i:1;s:11:\"IN_PROGRESS\";i:2;s:6:\"PAUSED\";i:3;s:7:\"SUCCESS\";i:4;s:6:\"FAILED\";i:5;s:7:\"ABORTED\";}s:4:\"type\";s:6:\"string\";}s:15:\"transferJobName\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  name of the transfer job that triggers this transfer operation.\";s:4:\"type\";s:6:\"string\";}s:12:\"transferSpec\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TransferSpec\";s:11:\"description\";s:33:\"Transfer
  specification.\nRequired.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"TransferOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"TransferOptions
  uses three boolean parameters to define the actions\nto be performed on objects
  in a transfer.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:36:\"deleteObjectsFromSourceAfterTransfer\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"Whether
  objects should be deleted from the source after they are\ntransferred to the sink.
  \ Note that this option and\n`deleteObjectsUniqueInSink` are mutually exclusive.\";s:4:\"type\";s:7:\"boolean\";}s:25:\"deleteObjectsUniqueInSink\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"Whether
  objects that exist only in the sink should be deleted.  Note that\nthis option and
  `deleteObjectsFromSourceAfterTransfer` are mutually\nexclusive.\";s:4:\"type\";s:7:\"boolean\";}s:37:\"overwriteObjectsAlreadyExistingInSink\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Whether
  overwriting objects that already exist in the sink is allowed.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:12:\"TransferSpec\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Configuration
  for running a transfer.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"awsS3DataSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AwsS3Data\";s:11:\"description\";s:22:\"An
  AWS S3 data source.\";}s:11:\"gcsDataSink\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/GcsData\";s:11:\"description\";s:33:\"A
  Google Cloud Storage data sink.\";}s:13:\"gcsDataSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/GcsData\";s:11:\"description\";s:35:\"A
  Google Cloud Storage data source.\";}s:14:\"httpDataSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/HttpData\";s:11:\"description\";s:24:\"An
  HTTP URL data source.\";}s:16:\"objectConditions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectConditions\";s:11:\"description\";s:210:\"Only
  objects that satisfy these object conditions are included in the set\nof data source
  and data sink objects.  Object conditions based on\nobjects' `lastModificationTime`
  do not exclude objects in a data sink.\";}s:15:\"transferOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/TransferOptions\";s:11:\"description\";s:183:\"If
  the option `deleteObjectsUniqueInSink` is `true`, object conditions\nbased on objects'
  `lastModificationTime` are ignored and do not exclude\nobjects in a data source
  or a data sink.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"UpdateTransferJobRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Request
  passed to UpdateTransferJob.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  ID of the Google Cloud Platform Console project that owns the job.\nRequired.\";s:4:\"type\";s:6:\"string\";}s:11:\"transferJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TransferJob\";s:11:\"description\";s:237:\"The
  job to update. `transferJob` is expected to specify only three fields:\n`description`,
  `transferSpec`, and `status`.  An UpdateTransferJobRequest\nthat specifies other
  fields will be rejected with an error\n`INVALID_ARGUMENT`.\nRequired.\";}s:26:\"updateTransferJobFieldMask\";O:8:\"stdClass\":3:{s:11:\"description\";s:389:\"The
  field mask of the fields in `transferJob` that are to be updated in\nthis request.
  \ Fields in `transferJob` that can be updated are:\n`description`, `transferSpec`,
  and `status`.  To update the `transferSpec`\nof the job, a complete transfer specification
  has to be provided. An\nincomplete specification which misses any required fields
  will be rejected\nwith the error `INVALID_ARGUMENT`.\";s:6:\"format\";s:16:\"google-fieldmask\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
