---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:11:\"description\";s:1077:\"Diese API liefert
  eine Liste von m\xF6glichen Zeitfenstern f\xFCr Termine oder Dienstleistungen, basierend
  auf Routenoptimierung. Die Hauptanwendungsf\xE4lle f\xFCr den Tourenplanungsalgorithmus
  sind einerseits das Pflegeszenario und andererseits das Logistikszenario. F\xFCr
  das Pflegeszenario werden Fahrzeuge und dazugeh\xF6rige Pflegedienstleistungen optimiert,
  wohingegen f\xFCr das Logistikszenario Fahrzeuge und Kundentermine analysiert werden.
  Der Tourenplanungsalgorithmus nimmt f\xFCr die obigen Anwendungsf\xE4lle JSON entgegen
  und generiert JSON als R\xFCckgabe.\n\nThe Scheduling API is designed to optimize
  the route of a trip with multiple stops. It offers three endpoints which follow
  different purposes:\nscheduling finds the best fit for a new appointment into a
  given schedule of existing appointments (JSON array).\nschedulingcare plans the
  complete schedules for multiple cars. Therefore, it requires a detailed description
  (JSON) about different client constraints.\n\nDummy Input: https://projekt.beuth-hochschule.de/fileadmin/projekt/magda/Presentations/Testdaten_Scheduling.json\";s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:21:\"ExCELL
  Scheduling API\";s:14:\"termsOfService\";s:20:\"Use only for testing\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:97:\"Beuth
  Hochschule f\xFCr Technik Berlin - Labor f\xFCr Rechner- und Informationssysteme
  - MAGDa Gruppe\";s:3:\"url\";s:48:\"https://projekt.beuth-hochschule.de/magda/poeple\";s:5:\"email\";s:24:\"spieper@beuth-hochschule\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"Link
  to source code\";s:3:\"url\";s:53:\"https://github.com/excell-mobility/scheduling_service\";}}"
host: excell-mobility.de
basePath: /integration/api/v1/service-request/schedulingservice
paths:
  /auditevents:
    get:
      tags:
      - audit-events-mvc-endpoint
      summary: findByPrincipalAndAfterAndType
      operationId: findByPrincipalAndAfterAndTypeUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.spring-boot.actuator.v1+json
      - application/json
      parameters:
      - name: principal
        in: query
        description: principal
        required: false
        type: string
      - name: after
        in: query
        description: after
        required: false
        type: string
        format: date-time
      - name: type
        in: query
        description: type
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
      - api_key: []
  /auditevents.json:
    get:
      tags:
      - audit-events-mvc-endpoint
      summary: findByPrincipalAndAfterAndType
      operationId: findByPrincipalAndAfterAndTypeUsingGET_1
      consumes:
      - application/json
      produces:
      - application/vnd.spring-boot.actuator.v1+json
      - application/json
      parameters:
      - name: principal
        in: query
        description: principal
        required: false
        type: string
      - name: after
        in: query
        description: after
        required: false
        type: string
        format: date-time
      - name: type
        in: query
        description: type
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
      - api_key: []
  /heapdump:
    get:
      tags:
      - heapdump-mvc-endpoint
      summary: invoke
      operationId: invokeUsingGET
      consumes:
      - application/json
      produces:
      - application/octet-stream
      parameters:
      - name: live
        in: query
        description: live
        required: false
        type: boolean
        default: true
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
      - api_key: []
  /heapdump.json:
    get:
      tags:
      - heapdump-mvc-endpoint
      summary: invoke
      operationId: invokeUsingGET_1
      consumes:
      - application/json
      produces:
      - application/octet-stream
      parameters:
      - name: live
        in: query
        description: live
        required: false
        type: boolean
        default: true
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
      - api_key: []
  /loggers:
    get:
      tags:
      - loggers-mvc-endpoint
      summary: invoke
      operationId: invokeUsingGET_2
      consumes:
      - application/json
      produces:
      - application/vnd.spring-boot.actuator.v1+json
      - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
      - api_key: []
  /loggers.json:
    get:
      tags:
      - loggers-mvc-endpoint
      summary: invoke
      operationId: invokeUsingGET_3
      consumes:
      - application/json
      produces:
      - application/vnd.spring-boot.actuator.v1+json
      - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
      - api_key: []
  /loggers/{name}:
    get:
      tags:
      - loggers-mvc-endpoint
      summary: get
      operationId: getUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.spring-boot.actuator.v1+json
      - application/json
      parameters:
      - name: name
        in: path
        description: name
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
      - api_key: []
    post:
      tags:
      - loggers-mvc-endpoint
      summary: set
      operationId: setUsingPOST
      consumes:
      - application/vnd.spring-boot.actuator.v1+json
      - application/json
      produces:
      - application/vnd.spring-boot.actuator.v1+json
      - application/json
      parameters:
      - name: name
        in: path
        description: name
        required: true
        type: string
      - in: body
        name: configuration
        description: configuration
        required: true
        schema:
          type: object
          additionalProperties:
            type: string
      responses:
        200:
          description: OK
          schema:
            type: object
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
      - api_key: []
  /v1/scheduling:
    post:
      tags:
      - planning-controller
      summary: Get possible time slots for appointments
      operationId: schedulingUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      - '*/*'
      parameters:
      - in: body
        name: jsonArrayInput
        description: JSON array of time gaps with coordinates
        required: false
        schema:
          type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/PlanningResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
      - api_key: []
  /v1/schedulingcare:
    post:
      tags:
      - planning-controller
      summary: Generate the scheduling for elder care
      operationId: schedulingcareUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      - '*/*'
      parameters:
      - in: body
        name: jsonObjectInput
        description: JSON object with patients and carers informationen
        required: false
        schema:
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CareScenarioResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
      - api_key: []
  /v1/schedulingpickup:
    post:
      tags:
      - planning-controller
      summary: Generate the scheduling for pickup
      operationId: schedulingpickupUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      - '*/*'
      parameters:
      - in: body
        name: jsonObjectInput
        description: JSON object with pickup and dropoff locations
        required: false
        schema:
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PickupScenarioResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      security:
      - api_key: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:20:\"CareScenarioResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Service\";}}}}}s:8:\"GeoPoint\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"latitude\";i:1;s:9:\"longitude\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"latitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:28:\"Latitude
  coordinate in WGS84\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:29:\"Longitude
  coordinate in WGS84\";}}}s:22:\"PickupScenarioResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/TransportProperties\";}}}}}s:16:\"PlanningResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"calendarId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"endDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"travelDistance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:10:\"travelTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:7:\"Service\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/GeoPoint\";}s:14:\"requiredSkills\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"serviceID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"serviceTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"timeWindow\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TimeWindow\";}}}s:10:\"TimeWindow\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:3:\"end\";i:1;s:5:\"start\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"end\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:37:\"End
  time in millis where midnight = 0\";}s:5:\"start\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:39:\"Start
  time in millis where midnight = 0\";}}}s:19:\"TransportProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"endJob\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"serviceTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"startJob\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"transportID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
