---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:5:\"title\";s:22:\"Order Transactions API\";s:7:\"version\";s:0:\"\";s:11:\"description\";s:1013:\"###
  Order Transactions\n\nThe Transactions API returns granular details about the payment
  instruments used to pay for an order. Depending on the payment method used, different
  details will be available. Not all credit card payment gateways will return full
  card details or all CVV/fraud response details. This is primarily used to get detailed
  gateway response information for credit card transactions, however it will also
  return any available information about digital wallet payments, as well as details
  about orders paid (partially or in full) via a gift certificate or store credit.
  \n\nThe [test payment gateway](https://forum.bigcommerce.com/s/article/Testing-Shipping-Tax-and-Payment-Settings#test-payment)
  available in the BigCommerce control panel does not return any payment information.\n\nFor
  an API for more general Order information, such as the information needed to create
  a new Order, or get all the details of an order for fulfillment purposes, see the
  [Orders API](/api-reference/orders/orders-api).\";s:14:\"termsOfService\";s:0:\"\";s:7:\"license\";O:8:\"stdClass\":1:{s:4:\"name\";s:0:\"\";}}"
host: api.bigcommerce.com
basePath: /stores/{store_hash}/v3
paths:
  /orders/{order_id}/transactions:
    parameters:
    - name: order_id
      in: path
      description: The ID of the `Order` to which the transactions belong.n
      required: true
      type: integer
    get:
      tags:
      - Orders
      description: Returns transations related to an order.nn**Notes**nDepending on
        the payment method used, different details will be available. Not all credit
        card payment gateways will return full card details or all CVV/fraud response
        details.nnTest Payment Gateway does not return any information.
      operationId: getTransactions
      responses:
        200:
          description: ""
          schema:
            type: object
            description: Response payload for the BigCommerce Order Transactions API.
            properties:
              data:
                type: array
                items:
                  description: A BigCommerce Transaction object describes a single
                    transaction.
                  allOf:
                  - type: object
                    title: Transaction Base
                    properties:
                      event:
                        type: string
                        description: Store event that created the transaction.n
                        enum:
                        - purchase
                        - authorization
                        - capture
                        - refund
                        - void
                        - pending
                        - settled
                      method:
                        type: string
                        description: 'The payment method: `credit_card` - a credit-card
                          transaction; `electronic_wallet` - an online wallet; `store_credit`
                          - a transaction using store credit; `gift_certificate` -
                          a transaction using a gift certificate; `custom` - manual
                          payment methods; `token` - payment token; `nonce` - temporary
                          payment token; `offsite` - online payment off the site (e.g.,
                          PayPal); `offline` - payment method that takes place offline.n'
                        enum:
                        - credit_card
                        - electronic_wallet
                        - gift_certificate
                        - store_credit
                        - apple_pay_card
                        - apple_pay_token
                        - token
                        - custom
                        - offsite
                        - offline
                        - nonce
                      amount:
                        type: number
                        format: float
                        description: Amount of money in the transaction.n
                      currency:
                        type: string
                        format: ISO-4217
                        description: Currency used for the transaction.n
                      gateway:
                        type: string
                        description: The payment gateway, where applicable.n
                        enum:
                        - 2checkout
                        - adyen
                        - amazon
                        - authorizenet
                        - bankdeposit
                        - braintree
                        - cheque
                        - cod
                        - custom
                        - firstdatagge4
                        - giftcertificate
                        - hps
                        - instore
                        - klarna
                        - migs
                        - moneyorder
                        - nmi
                        - paypalexpress
                        - paypalpaymentsprous
                        - paypalpaymentsprouk
                        - plugnpay
                        - qbmsv2
                        - securenet
                        - square
                        - storecredit
                        - stripe
                        - testgateway
                        - usaepay
                      gateway_transaction_id:
                        description: The transaction ID returned by the payment gateway
                          for this transaction item.n
                        type: string
                      date_created:
                        description: The datetime of the transaction.n
                        type: string
                        format: date-time
                      test:
                        type: boolean
                        description: True if the transaction performed was a test,
                          or if the gateway is in test mode.n
                      status:
                        type: string
                        description: Status of the transaction.n
                        enum:
                        - ok
                        - error
                      fraud_review:
                        type: boolean
                        description: Result of gateway fraud review, if any. Default
                          is `false`.n
                      reference_transaction_id:
                        type: integer
                        description: Identifier for an existing transaction upon which
                          this transaction acts.n
                      offline:
                        type: object
                        description: Offline payment (e.g., check or purchase order).
                        properties:
                          display_name:
                            description: Display name for the offline payment.n
                            type: string
                        title: Offline
                      custom:
                        type: object
                        description: Custom payment from manual order.
                        properties:
                          payment_method:
                            description: Text entered for the payment method in the
                              control panel.n
                            type: string
                        title: Custom
                      _empty_:
                        type: string
                    required:
                    - event
                    - method
                    - amount
                    - currency
                    - gateway
                  - properties:
                      id:
                        type: integer
                        description: Unique identifier for the transaction.n
                      order_id:
                        type: string
                        description: Identifier for the BigCommerce Order with which
                          this transaction is associated.n
                      date_created:
                        description: The datetime of the transaction.n
                        type: string
                        format: date-time
                      payment_instrument_token:
                        type: string
                        description: This field contains internal BigPay token for
                          stored card that is then mapped to the actual third-party
                          token. We currently do not offer a way to get third party
                          tokens.These tokens are read-only and do not return any
                          information about the payment.
                      avs_result:
                        description: Address Verification Service (AVS) result from
                          the payment gateway.
                        type: object
                        properties:
                          code:
                            description: AVS code.
                            type: string
                          message:
                            description: AVS message.
                            type: string
                          street_match:
                            description: AVS Code for street matching result.
                            type: string
                          postal_match:
                            description: AVS Code for postal matching result.
                            type: string
                        title: AVS Results
                      cvv_result:
                        description: Card Verification Value result from the payment
                          gateway.
                        type: object
                        properties:
                          code:
                            description: CVV code.
                            type: string
                          message:
                            description: CVV message.
                            type: string
                        title: CVV Result
                      credit_card:
                        type: object
                        description: A credit-card model.
                        properties:
                          card_type:
                            description: 'The credit-card type: Visa, MasterCard,
                              etc.n'
                            type: string
                          card_iin:
                            description: The IIN of a credit-card number.n
                            type: string
                          card_last4:
                            description: The last 4 digits of a credit-card number.n
                            type: string
                          card_expiry_month:
                            description: The expiry month of a credit-card.n
                            type: integer
                            minimum: 1
                            maximum: 12
                          card_expiry_year:
                            description: The expiry year of a credit-card.n
                            type: integer
                        title: Credit Card
                      gift_certificate:
                        type: object
                        description: A gift-certificate model.
                        title: Gift Certificate
                        properties:
                          code:
                            description: The gift-certificate code.n
                            type: string
                            example: MB345
                          original_balance:
                            description: The balance on a gift certificate when it
                              was purchased.n
                            type: number
                            format: float
                            example: 100
                          starting_balance:
                            description: The balance on a gift certificate at the
                              time of this purchase.n
                            type: number
                            format: float
                            example: 100
                          remaining_balance:
                            description: The remaining balance on a gift certificate.n
                            type: number
                            format: float
                            example: 35.420000
                          status:
                            description: 'The status of a gift certificate: `active`
                              - gift certificate is active; `pending` - gift certificate
                              purchase is pending; `disabled` - gift certificate is
                              disabled; `expired` - gift certificate is expired.n'
                            type: string
                            enum:
                            - active
                            - pending
                            - disabled
                            - expired
                      store_credit:
                        type: object
                        description: A store credit model.n
                        properties:
                          remaining_balance:
                            description: Remaining balance of shopper's store credit.n
                            type: string
                  title: Transaction
                  type: object
              meta:
                type: object
                description: Data about the response, including pagination and collection
                  totals.
                properties:
                  pagination:
                    type: object
                    description: Data about the response, including pagination and
                      collection totals.
                    title: Pagination
                    properties:
                      total:
                        type: integer
                        description: Total number of items in the result set.n
                        example: 36
                      count:
                        type: integer
                        description: Total number of items in the collection response.n
                        example: 36
                      per_page:
                        type: integer
                        description: The amount of items returned in the collection
                          per page, controlled by the limit parameter.n
                        example: 50
                      current_page:
                        type: integer
                        description: The page you are currently on within the collection.n
                        example: 1
                      total_pages:
                        type: integer
                        description: The total number of pages in the collection.n
                        example: 1
                      links:
                        type: object
                        description: Pagination links for the previous and next parts
                          of the whole collection.n
                        properties:
                          previous:
                            type: string
                            description: Link to the previous page returned in the
                              response.n
                          current:
                            type: string
                            description: Link to the current page returned in the
                              response.n
                            example: ?page=1&limit=50
                          next:
                            type: string
                            description: Link to the next page returned in the response.n
                title: Collection Meta
            title: Transaction Collection Response
          examples:
            Square Payment Gateway:
              data:
              - id: 85926313
                order_id: "121"
                event: purchase
                method: nonce
                amount: 1
                currency: USD
                gateway: squarev2
                gateway_transaction_id: pN5Kd7R9ilEI2ygBawCy7tMF|qwnAFAxRZ7tYRtIpZULg1yMF
                status: ok
                test: false
                fraud_review: false
                reference_transaction_id: []
                date_created: "2018-05-08T15:06:12+00:00"
                avs_result:
                  code: ""
                  message: ""
                  street_match: ""
                  postal_match: ""
                cvv_result:
                  code: ""
                  message: ""
                credit_card: []
                gift_certificate: []
                store_credit: []
                offline: []
                custom: []
                payment_instrument_token: []
              meta:
                pagination:
                  total: 1
                  count: 1
                  per_page: 50
                  current_page: 1
                  total_pages: 1
                  links:
                    current: ?page=1&limit=50
            Pay In Store:
              data:
              - id: 100287014
                order_id: "176"
                event: pending
                method: offline
                amount: 25
                currency: USD
                gateway: instore
                gateway_transaction_id: []
                status: ok
                test: false
                fraud_review: false
                reference_transaction_id: []
                date_created: "2018-09-05T14:02:10+00:00"
                avs_result: []
                cvv_result: []
                credit_card: []
                gift_certificate: []
                store_credit: []
                offline:
                  display_name: Pay in Store
                custom: []
                payment_instrument_token: []
              meta:
                pagination:
                  total: 1
                  count: 1
                  per_page: 50
                  current_page: 1
                  total_pages: 1
                  links:
                    current: ?page=1&limit=50
        204:
          description: No content found to fulfill request.n
          schema:
            description: No-content response for the BigCommerce API.
            type: object
            properties:
              status:
                description: 204 HTTP status code.n
                type: integer
              title:
                description: The error title describing the situation.
                type: string
              type:
                type: string
              instance:
                type: string
            title: No Content
        404:
          description: The resource was not found.n
          schema:
            description: Error payload for the BigCommerce API.
            type: object
            properties:
              status:
                description: 404 HTTP status code.n
                type: integer
              title:
                description: The error title describing the particular error.
                type: string
              type:
                type: string
              instance:
                type: string
            title: Not Found
      summary: Get Transactions
      parameters:
      - name: order_id
        in: path
        description: The ID of the `Order` to which the transactions belong.n
        required: true
        type: integer
      - in: header
        type: string
        name: Accept
        default: application/json
      - name: Content-Type
        in: header
        type: string
        default: application/json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":19:{s:14:\"CollectionMeta\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:68:\"Data
  about the response, including pagination and collection totals.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"pagination\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:68:\"Data
  about the response, including pagination and collection totals.\";s:5:\"title\";s:10:\"Pagination\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"total\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"Total
  number of items in the result set.\n\";s:7:\"example\";i:36;}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"Total
  number of items in the collection response.\n\";s:7:\"example\";i:36;}s:8:\"per_page\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:92:\"The
  amount of items returned in the collection per page, controlled by the limit parameter.\n\";s:7:\"example\";i:50;}s:12:\"current_page\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:53:\"The
  page you are currently on within the collection.\n\";s:7:\"example\";i:1;}s:11:\"total_pages\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:45:\"The
  total number of pages in the collection.\n\";s:7:\"example\";i:1;}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:74:\"Pagination
  links for the previous and next parts of the whole collection.\n\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"previous\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Link
  to the previous page returned in the response.\n\";}s:7:\"current\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Link
  to the current page returned in the response.\n\";s:7:\"example\";s:16:\"?page=1&limit=50\";}s:4:\"next\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Link
  to the next page returned in the response.\n\";}}}}}}s:5:\"title\";s:15:\"Collection
  Meta\";}s:10:\"Pagination\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:68:\"Data
  about the response, including pagination and collection totals.\";s:5:\"title\";s:10:\"Pagination\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"total\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"Total
  number of items in the result set.\n\";s:7:\"example\";i:36;}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"Total
  number of items in the collection response.\n\";s:7:\"example\";i:36;}s:8:\"per_page\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:92:\"The
  amount of items returned in the collection per page, controlled by the limit parameter.\n\";s:7:\"example\";i:50;}s:12:\"current_page\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:53:\"The
  page you are currently on within the collection.\n\";s:7:\"example\";i:1;}s:11:\"total_pages\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:45:\"The
  total number of pages in the collection.\n\";s:7:\"example\";i:1;}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:74:\"Pagination
  links for the previous and next parts of the whole collection.\n\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"previous\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Link
  to the previous page returned in the response.\n\";}s:7:\"current\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Link
  to the current page returned in the response.\n\";s:7:\"example\";s:16:\"?page=1&limit=50\";}s:4:\"next\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Link
  to the next page returned in the response.\n\";}}}}}s:4:\"Meta\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:4:\"Meta\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"meta\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:68:\"Data
  about the response, including pagination and collection totals.\";s:5:\"title\";s:10:\"Pagination\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"total\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"Total
  number of items in the result set.\n\";s:7:\"example\";i:36;}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"Total
  number of items in the collection response.\n\";s:7:\"example\";i:36;}s:8:\"per_page\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:92:\"The
  amount of items returned in the collection per page, controlled by the limit parameter.\n\";s:7:\"example\";i:50;}s:12:\"current_page\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:53:\"The
  page you are currently on within the collection.\n\";s:7:\"example\";i:1;}s:11:\"total_pages\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:45:\"The
  total number of pages in the collection.\n\";s:7:\"example\";i:1;}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:74:\"Pagination
  links for the previous and next parts of the whole collection.\n\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"previous\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Link
  to the previous page returned in the response.\n\";}s:7:\"current\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Link
  to the current page returned in the response.\n\";s:7:\"example\";s:16:\"?page=1&limit=50\";}s:4:\"next\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Link
  to the next page returned in the response.\n\";}}}}}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:39:\"Error
  payload for the BigCommerce API.\n\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  HTTP status code.\n\";s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  error title describing the particular error.\n\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"instance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:10:\"Base
  Error\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";s:14:\"DetailedErrors\";}}}}s:5:\"title\";s:14:\"Error
  Response\";}s:9:\"BaseError\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:39:\"Error
  payload for the BigCommerce API.\n\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  HTTP status code.\n\";s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  error title describing the particular error.\n\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"instance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:10:\"Base
  Error\";}s:14:\"DetailedErrors\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";s:14:\"DetailedErrors\";}s:15:\"TransactionPost\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:16:\"Transaction
  Base\";s:10:\"properties\";O:8:\"stdClass\":14:{s:5:\"event\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Store
  event that created the transaction.\n\";s:4:\"enum\";a:7:{i:0;s:8:\"purchase\";i:1;s:13:\"authorization\";i:2;s:7:\"capture\";i:3;s:6:\"refund\";i:4;s:4:\"void\";i:5;s:7:\"pending\";i:6;s:7:\"settled\";}}s:6:\"method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:419:\"The
  payment method: `credit_card` - a credit-card transaction; `electronic_wallet` -
  an online wallet; `store_credit` - a transaction using store credit; `gift_certificate`
  - a transaction using a gift certificate; `custom` - manual payment methods; `token`
  - payment token; `nonce` - temporary payment token; `offsite` - online payment off
  the site (e.g., PayPal); `offline` - payment method that takes place offline.\n\";s:4:\"enum\";a:11:{i:0;s:11:\"credit_card\";i:1;s:17:\"electronic_wallet\";i:2;s:16:\"gift_certificate\";i:3;s:12:\"store_credit\";i:4;s:14:\"apple_pay_card\";i:5;s:15:\"apple_pay_token\";i:6;s:5:\"token\";i:7;s:6:\"custom\";i:8;s:7:\"offsite\";i:9;s:7:\"offline\";i:10;s:5:\"nonce\";}}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:36:\"Amount
  of money in the transaction.\n\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"ISO-4217\";s:11:\"description\";s:35:\"Currency
  used for the transaction.\n\";}s:7:\"gateway\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  payment gateway, where applicable.\n\";s:4:\"enum\";a:28:{i:0;s:9:\"2checkout\";i:1;s:5:\"adyen\";i:2;s:6:\"amazon\";i:3;s:12:\"authorizenet\";i:4;s:11:\"bankdeposit\";i:5;s:9:\"braintree\";i:6;s:6:\"cheque\";i:7;s:3:\"cod\";i:8;s:6:\"custom\";i:9;s:13:\"firstdatagge4\";i:10;s:15:\"giftcertificate\";i:11;s:3:\"hps\";i:12;s:7:\"instore\";i:13;s:6:\"klarna\";i:14;s:4:\"migs\";i:15;s:10:\"moneyorder\";i:16;s:3:\"nmi\";i:17;s:13:\"paypalexpress\";i:18;s:19:\"paypalpaymentsprous\";i:19;s:19:\"paypalpaymentsprouk\";i:20;s:8:\"plugnpay\";i:21;s:6:\"qbmsv2\";i:22;s:9:\"securenet\";i:23;s:6:\"square\";i:24;s:11:\"storecredit\";i:25;s:6:\"stripe\";i:26;s:11:\"testgateway\";i:27;s:7:\"usaepay\";}}s:22:\"gateway_transaction_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  transaction ID returned by the payment gateway for this transaction item.\n\";s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  datetime of the transaction.\n\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"test\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:81:\"True
  if the transaction performed was a test, or if the gateway is in test mode.\n\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Status
  of the transaction.\n\";s:4:\"enum\";a:2:{i:0;s:2:\"ok\";i:1;s:5:\"error\";}}s:12:\"fraud_review\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:60:\"Result
  of gateway fraud review, if any. Default is `false`.\n\";}s:24:\"reference_transaction_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:73:\"Identifier
  for an existing transaction upon which this transaction acts.\n\";}s:7:\"offline\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:48:\"Offline
  payment (e.g., check or purchase order).\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"display_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Display
  name for the offline payment.\n\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:7:\"Offline\";}s:6:\"custom\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:33:\"Custom
  payment from manual order.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"payment_method\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Text
  entered for the payment method in the control panel.\n\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:6:\"Custom\";}s:7:\"_empty_\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:5:\"event\";i:1;s:6:\"method\";i:2;s:6:\"amount\";i:3;s:8:\"currency\";i:4;s:7:\"gateway\";}}s:8:\"NotFound\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Error
  payload for the BigCommerce API.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"404
  HTTP status code.\n\";s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  error title describing the particular error.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"instance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:9:\"Not
  Found\";}s:19:\"TransactionResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:80:\"Response
  payload for the BigCommerce Order Transactions API single transaction.\n\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"A
  BigCommerce Transaction object describes a single transaction.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:16:\"Transaction
  Base\";s:10:\"properties\";O:8:\"stdClass\":14:{s:5:\"event\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Store
  event that created the transaction.\n\";s:4:\"enum\";a:7:{i:0;s:8:\"purchase\";i:1;s:13:\"authorization\";i:2;s:7:\"capture\";i:3;s:6:\"refund\";i:4;s:4:\"void\";i:5;s:7:\"pending\";i:6;s:7:\"settled\";}}s:6:\"method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:419:\"The
  payment method: `credit_card` - a credit-card transaction; `electronic_wallet` -
  an online wallet; `store_credit` - a transaction using store credit; `gift_certificate`
  - a transaction using a gift certificate; `custom` - manual payment methods; `token`
  - payment token; `nonce` - temporary payment token; `offsite` - online payment off
  the site (e.g., PayPal); `offline` - payment method that takes place offline.\n\";s:4:\"enum\";a:11:{i:0;s:11:\"credit_card\";i:1;s:17:\"electronic_wallet\";i:2;s:16:\"gift_certificate\";i:3;s:12:\"store_credit\";i:4;s:14:\"apple_pay_card\";i:5;s:15:\"apple_pay_token\";i:6;s:5:\"token\";i:7;s:6:\"custom\";i:8;s:7:\"offsite\";i:9;s:7:\"offline\";i:10;s:5:\"nonce\";}}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:36:\"Amount
  of money in the transaction.\n\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"ISO-4217\";s:11:\"description\";s:35:\"Currency
  used for the transaction.\n\";}s:7:\"gateway\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  payment gateway, where applicable.\n\";s:4:\"enum\";a:28:{i:0;s:9:\"2checkout\";i:1;s:5:\"adyen\";i:2;s:6:\"amazon\";i:3;s:12:\"authorizenet\";i:4;s:11:\"bankdeposit\";i:5;s:9:\"braintree\";i:6;s:6:\"cheque\";i:7;s:3:\"cod\";i:8;s:6:\"custom\";i:9;s:13:\"firstdatagge4\";i:10;s:15:\"giftcertificate\";i:11;s:3:\"hps\";i:12;s:7:\"instore\";i:13;s:6:\"klarna\";i:14;s:4:\"migs\";i:15;s:10:\"moneyorder\";i:16;s:3:\"nmi\";i:17;s:13:\"paypalexpress\";i:18;s:19:\"paypalpaymentsprous\";i:19;s:19:\"paypalpaymentsprouk\";i:20;s:8:\"plugnpay\";i:21;s:6:\"qbmsv2\";i:22;s:9:\"securenet\";i:23;s:6:\"square\";i:24;s:11:\"storecredit\";i:25;s:6:\"stripe\";i:26;s:11:\"testgateway\";i:27;s:7:\"usaepay\";}}s:22:\"gateway_transaction_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  transaction ID returned by the payment gateway for this transaction item.\n\";s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  datetime of the transaction.\n\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"test\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:81:\"True
  if the transaction performed was a test, or if the gateway is in test mode.\n\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Status
  of the transaction.\n\";s:4:\"enum\";a:2:{i:0;s:2:\"ok\";i:1;s:5:\"error\";}}s:12:\"fraud_review\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:60:\"Result
  of gateway fraud review, if any. Default is `false`.\n\";}s:24:\"reference_transaction_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:73:\"Identifier
  for an existing transaction upon which this transaction acts.\n\";}s:7:\"offline\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:48:\"Offline
  payment (e.g., check or purchase order).\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"display_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Display
  name for the offline payment.\n\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:7:\"Offline\";}s:6:\"custom\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:33:\"Custom
  payment from manual order.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"payment_method\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Text
  entered for the payment method in the control panel.\n\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:6:\"Custom\";}s:7:\"_empty_\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:5:\"event\";i:1;s:6:\"method\";i:2;s:6:\"amount\";i:3;s:8:\"currency\";i:4;s:7:\"gateway\";}}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"Unique
  identifier for the transaction.\n\";}s:8:\"order_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Identifier
  for the BigCommerce Order with which this transaction is associated.\n\";}s:12:\"date_created\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  datetime of the transaction.\n\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:24:\"payment_instrument_token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:248:\"This
  field contains internal BigPay token for stored card that is then mapped to the
  actual third-party token. We currently do not offer a way to get third party tokens.These
  tokens are read-only and do not return any information about the payment.\";}s:10:\"avs_result\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"Address
  Verification Service (AVS) result from the payment gateway.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"AVS
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"AVS
  message.\";s:4:\"type\";s:6:\"string\";}s:12:\"street_match\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"AVS
  Code for street matching result.\";s:4:\"type\";s:6:\"string\";}s:12:\"postal_match\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"AVS
  Code for postal matching result.\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:11:\"AVS
  Results\";}s:10:\"cvv_result\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Card
  Verification Value result from the payment gateway.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"CVV
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"CVV
  message.\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:10:\"CVV Result\";}s:11:\"credit_card\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:20:\"A
  credit-card model.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"card_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  credit-card type: Visa, MasterCard, etc.\n\";s:4:\"type\";s:6:\"string\";}s:8:\"card_iin\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  IIN of a credit-card number.\n\";s:4:\"type\";s:6:\"string\";}s:10:\"card_last4\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  last 4 digits of a credit-card number.\n\";s:4:\"type\";s:6:\"string\";}s:17:\"card_expiry_month\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  expiry month of a credit-card.\n\";s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:12;}s:16:\"card_expiry_year\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  expiry year of a credit-card.\n\";s:4:\"type\";s:7:\"integer\";}}s:5:\"title\";s:11:\"Credit
  Card\";}s:16:\"gift_certificate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:25:\"A
  gift-certificate model.\";s:5:\"title\";s:16:\"Gift Certificate\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  gift-certificate code.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"MB345\";}s:16:\"original_balance\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  balance on a gift certificate when it was purchased.\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";i:100;}s:16:\"starting_balance\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"The
  balance on a gift certificate at the time of this purchase.\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";i:100;}s:17:\"remaining_balance\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  remaining balance on a gift certificate.\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";d:35.420000000000002;}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"The
  status of a gift certificate: `active` - gift certificate is active; `pending` -
  gift certificate purchase is pending; `disabled` - gift certificate is disabled;
  `expired` - gift certificate is expired.\n\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:6:\"active\";i:1;s:7:\"pending\";i:2;s:8:\"disabled\";i:3;s:7:\"expired\";}}}}s:12:\"store_credit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:22:\"A
  store credit model.\n\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"remaining_balance\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Remaining
  balance of shopper's store credit.\n\";s:4:\"type\";s:6:\"string\";}}}}}}s:5:\"title\";s:11:\"Transaction\";s:4:\"type\";s:6:\"object\";}s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:25:\"May
  be used in the future\";}}s:5:\"title\";s:20:\"Transaction Response\";}s:29:\"TransactionCollectionResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:60:\"Response
  payload for the BigCommerce Order Transactions API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"A
  BigCommerce Transaction object describes a single transaction.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:16:\"Transaction
  Base\";s:10:\"properties\";O:8:\"stdClass\":14:{s:5:\"event\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Store
  event that created the transaction.\n\";s:4:\"enum\";a:7:{i:0;s:8:\"purchase\";i:1;s:13:\"authorization\";i:2;s:7:\"capture\";i:3;s:6:\"refund\";i:4;s:4:\"void\";i:5;s:7:\"pending\";i:6;s:7:\"settled\";}}s:6:\"method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:419:\"The
  payment method: `credit_card` - a credit-card transaction; `electronic_wallet` -
  an online wallet; `store_credit` - a transaction using store credit; `gift_certificate`
  - a transaction using a gift certificate; `custom` - manual payment methods; `token`
  - payment token; `nonce` - temporary payment token; `offsite` - online payment off
  the site (e.g., PayPal); `offline` - payment method that takes place offline.\n\";s:4:\"enum\";a:11:{i:0;s:11:\"credit_card\";i:1;s:17:\"electronic_wallet\";i:2;s:16:\"gift_certificate\";i:3;s:12:\"store_credit\";i:4;s:14:\"apple_pay_card\";i:5;s:15:\"apple_pay_token\";i:6;s:5:\"token\";i:7;s:6:\"custom\";i:8;s:7:\"offsite\";i:9;s:7:\"offline\";i:10;s:5:\"nonce\";}}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:36:\"Amount
  of money in the transaction.\n\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"ISO-4217\";s:11:\"description\";s:35:\"Currency
  used for the transaction.\n\";}s:7:\"gateway\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  payment gateway, where applicable.\n\";s:4:\"enum\";a:28:{i:0;s:9:\"2checkout\";i:1;s:5:\"adyen\";i:2;s:6:\"amazon\";i:3;s:12:\"authorizenet\";i:4;s:11:\"bankdeposit\";i:5;s:9:\"braintree\";i:6;s:6:\"cheque\";i:7;s:3:\"cod\";i:8;s:6:\"custom\";i:9;s:13:\"firstdatagge4\";i:10;s:15:\"giftcertificate\";i:11;s:3:\"hps\";i:12;s:7:\"instore\";i:13;s:6:\"klarna\";i:14;s:4:\"migs\";i:15;s:10:\"moneyorder\";i:16;s:3:\"nmi\";i:17;s:13:\"paypalexpress\";i:18;s:19:\"paypalpaymentsprous\";i:19;s:19:\"paypalpaymentsprouk\";i:20;s:8:\"plugnpay\";i:21;s:6:\"qbmsv2\";i:22;s:9:\"securenet\";i:23;s:6:\"square\";i:24;s:11:\"storecredit\";i:25;s:6:\"stripe\";i:26;s:11:\"testgateway\";i:27;s:7:\"usaepay\";}}s:22:\"gateway_transaction_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  transaction ID returned by the payment gateway for this transaction item.\n\";s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  datetime of the transaction.\n\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"test\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:81:\"True
  if the transaction performed was a test, or if the gateway is in test mode.\n\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Status
  of the transaction.\n\";s:4:\"enum\";a:2:{i:0;s:2:\"ok\";i:1;s:5:\"error\";}}s:12:\"fraud_review\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:60:\"Result
  of gateway fraud review, if any. Default is `false`.\n\";}s:24:\"reference_transaction_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:73:\"Identifier
  for an existing transaction upon which this transaction acts.\n\";}s:7:\"offline\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:48:\"Offline
  payment (e.g., check or purchase order).\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"display_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Display
  name for the offline payment.\n\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:7:\"Offline\";}s:6:\"custom\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:33:\"Custom
  payment from manual order.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"payment_method\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Text
  entered for the payment method in the control panel.\n\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:6:\"Custom\";}s:7:\"_empty_\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:5:\"event\";i:1;s:6:\"method\";i:2;s:6:\"amount\";i:3;s:8:\"currency\";i:4;s:7:\"gateway\";}}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"Unique
  identifier for the transaction.\n\";}s:8:\"order_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Identifier
  for the BigCommerce Order with which this transaction is associated.\n\";}s:12:\"date_created\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  datetime of the transaction.\n\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:24:\"payment_instrument_token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:248:\"This
  field contains internal BigPay token for stored card that is then mapped to the
  actual third-party token. We currently do not offer a way to get third party tokens.These
  tokens are read-only and do not return any information about the payment.\";}s:10:\"avs_result\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"Address
  Verification Service (AVS) result from the payment gateway.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"AVS
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"AVS
  message.\";s:4:\"type\";s:6:\"string\";}s:12:\"street_match\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"AVS
  Code for street matching result.\";s:4:\"type\";s:6:\"string\";}s:12:\"postal_match\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"AVS
  Code for postal matching result.\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:11:\"AVS
  Results\";}s:10:\"cvv_result\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Card
  Verification Value result from the payment gateway.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"CVV
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"CVV
  message.\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:10:\"CVV Result\";}s:11:\"credit_card\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:20:\"A
  credit-card model.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"card_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  credit-card type: Visa, MasterCard, etc.\n\";s:4:\"type\";s:6:\"string\";}s:8:\"card_iin\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  IIN of a credit-card number.\n\";s:4:\"type\";s:6:\"string\";}s:10:\"card_last4\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  last 4 digits of a credit-card number.\n\";s:4:\"type\";s:6:\"string\";}s:17:\"card_expiry_month\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  expiry month of a credit-card.\n\";s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:12;}s:16:\"card_expiry_year\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  expiry year of a credit-card.\n\";s:4:\"type\";s:7:\"integer\";}}s:5:\"title\";s:11:\"Credit
  Card\";}s:16:\"gift_certificate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:25:\"A
  gift-certificate model.\";s:5:\"title\";s:16:\"Gift Certificate\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  gift-certificate code.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"MB345\";}s:16:\"original_balance\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  balance on a gift certificate when it was purchased.\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";i:100;}s:16:\"starting_balance\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"The
  balance on a gift certificate at the time of this purchase.\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";i:100;}s:17:\"remaining_balance\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  remaining balance on a gift certificate.\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";d:35.420000000000002;}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"The
  status of a gift certificate: `active` - gift certificate is active; `pending` -
  gift certificate purchase is pending; `disabled` - gift certificate is disabled;
  `expired` - gift certificate is expired.\n\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:6:\"active\";i:1;s:7:\"pending\";i:2;s:8:\"disabled\";i:3;s:7:\"expired\";}}}}s:12:\"store_credit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:22:\"A
  store credit model.\n\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"remaining_balance\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Remaining
  balance of shopper's store credit.\n\";s:4:\"type\";s:6:\"string\";}}}}}}s:5:\"title\";s:11:\"Transaction\";s:4:\"type\";s:6:\"object\";}}s:4:\"meta\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:68:\"Data
  about the response, including pagination and collection totals.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"pagination\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:68:\"Data
  about the response, including pagination and collection totals.\";s:5:\"title\";s:10:\"Pagination\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"total\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"Total
  number of items in the result set.\n\";s:7:\"example\";i:36;}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"Total
  number of items in the collection response.\n\";s:7:\"example\";i:36;}s:8:\"per_page\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:92:\"The
  amount of items returned in the collection per page, controlled by the limit parameter.\n\";s:7:\"example\";i:50;}s:12:\"current_page\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:53:\"The
  page you are currently on within the collection.\n\";s:7:\"example\";i:1;}s:11:\"total_pages\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:45:\"The
  total number of pages in the collection.\n\";s:7:\"example\";i:1;}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:74:\"Pagination
  links for the previous and next parts of the whole collection.\n\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"previous\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Link
  to the previous page returned in the response.\n\";}s:7:\"current\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Link
  to the current page returned in the response.\n\";s:7:\"example\";s:16:\"?page=1&limit=50\";}s:4:\"next\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Link
  to the next page returned in the response.\n\";}}}}}}s:5:\"title\";s:15:\"Collection
  Meta\";}}s:5:\"title\";s:31:\"Transaction Collection Response\";}s:11:\"Transaction\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"A
  BigCommerce Transaction object describes a single transaction.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:16:\"Transaction
  Base\";s:10:\"properties\";O:8:\"stdClass\":14:{s:5:\"event\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Store
  event that created the transaction.\n\";s:4:\"enum\";a:7:{i:0;s:8:\"purchase\";i:1;s:13:\"authorization\";i:2;s:7:\"capture\";i:3;s:6:\"refund\";i:4;s:4:\"void\";i:5;s:7:\"pending\";i:6;s:7:\"settled\";}}s:6:\"method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:419:\"The
  payment method: `credit_card` - a credit-card transaction; `electronic_wallet` -
  an online wallet; `store_credit` - a transaction using store credit; `gift_certificate`
  - a transaction using a gift certificate; `custom` - manual payment methods; `token`
  - payment token; `nonce` - temporary payment token; `offsite` - online payment off
  the site (e.g., PayPal); `offline` - payment method that takes place offline.\n\";s:4:\"enum\";a:11:{i:0;s:11:\"credit_card\";i:1;s:17:\"electronic_wallet\";i:2;s:16:\"gift_certificate\";i:3;s:12:\"store_credit\";i:4;s:14:\"apple_pay_card\";i:5;s:15:\"apple_pay_token\";i:6;s:5:\"token\";i:7;s:6:\"custom\";i:8;s:7:\"offsite\";i:9;s:7:\"offline\";i:10;s:5:\"nonce\";}}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:36:\"Amount
  of money in the transaction.\n\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"ISO-4217\";s:11:\"description\";s:35:\"Currency
  used for the transaction.\n\";}s:7:\"gateway\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  payment gateway, where applicable.\n\";s:4:\"enum\";a:28:{i:0;s:9:\"2checkout\";i:1;s:5:\"adyen\";i:2;s:6:\"amazon\";i:3;s:12:\"authorizenet\";i:4;s:11:\"bankdeposit\";i:5;s:9:\"braintree\";i:6;s:6:\"cheque\";i:7;s:3:\"cod\";i:8;s:6:\"custom\";i:9;s:13:\"firstdatagge4\";i:10;s:15:\"giftcertificate\";i:11;s:3:\"hps\";i:12;s:7:\"instore\";i:13;s:6:\"klarna\";i:14;s:4:\"migs\";i:15;s:10:\"moneyorder\";i:16;s:3:\"nmi\";i:17;s:13:\"paypalexpress\";i:18;s:19:\"paypalpaymentsprous\";i:19;s:19:\"paypalpaymentsprouk\";i:20;s:8:\"plugnpay\";i:21;s:6:\"qbmsv2\";i:22;s:9:\"securenet\";i:23;s:6:\"square\";i:24;s:11:\"storecredit\";i:25;s:6:\"stripe\";i:26;s:11:\"testgateway\";i:27;s:7:\"usaepay\";}}s:22:\"gateway_transaction_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  transaction ID returned by the payment gateway for this transaction item.\n\";s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  datetime of the transaction.\n\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"test\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:81:\"True
  if the transaction performed was a test, or if the gateway is in test mode.\n\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Status
  of the transaction.\n\";s:4:\"enum\";a:2:{i:0;s:2:\"ok\";i:1;s:5:\"error\";}}s:12:\"fraud_review\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:60:\"Result
  of gateway fraud review, if any. Default is `false`.\n\";}s:24:\"reference_transaction_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:73:\"Identifier
  for an existing transaction upon which this transaction acts.\n\";}s:7:\"offline\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:48:\"Offline
  payment (e.g., check or purchase order).\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"display_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Display
  name for the offline payment.\n\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:7:\"Offline\";}s:6:\"custom\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:33:\"Custom
  payment from manual order.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"payment_method\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Text
  entered for the payment method in the control panel.\n\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:6:\"Custom\";}s:7:\"_empty_\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:5:\"event\";i:1;s:6:\"method\";i:2;s:6:\"amount\";i:3;s:8:\"currency\";i:4;s:7:\"gateway\";}}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"Unique
  identifier for the transaction.\n\";}s:8:\"order_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Identifier
  for the BigCommerce Order with which this transaction is associated.\n\";}s:12:\"date_created\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  datetime of the transaction.\n\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:24:\"payment_instrument_token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:248:\"This
  field contains internal BigPay token for stored card that is then mapped to the
  actual third-party token. We currently do not offer a way to get third party tokens.These
  tokens are read-only and do not return any information about the payment.\";}s:10:\"avs_result\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"Address
  Verification Service (AVS) result from the payment gateway.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"AVS
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"AVS
  message.\";s:4:\"type\";s:6:\"string\";}s:12:\"street_match\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"AVS
  Code for street matching result.\";s:4:\"type\";s:6:\"string\";}s:12:\"postal_match\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"AVS
  Code for postal matching result.\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:11:\"AVS
  Results\";}s:10:\"cvv_result\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Card
  Verification Value result from the payment gateway.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"CVV
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"CVV
  message.\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:10:\"CVV Result\";}s:11:\"credit_card\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:20:\"A
  credit-card model.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"card_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  credit-card type: Visa, MasterCard, etc.\n\";s:4:\"type\";s:6:\"string\";}s:8:\"card_iin\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  IIN of a credit-card number.\n\";s:4:\"type\";s:6:\"string\";}s:10:\"card_last4\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  last 4 digits of a credit-card number.\n\";s:4:\"type\";s:6:\"string\";}s:17:\"card_expiry_month\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  expiry month of a credit-card.\n\";s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:12;}s:16:\"card_expiry_year\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  expiry year of a credit-card.\n\";s:4:\"type\";s:7:\"integer\";}}s:5:\"title\";s:11:\"Credit
  Card\";}s:16:\"gift_certificate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:25:\"A
  gift-certificate model.\";s:5:\"title\";s:16:\"Gift Certificate\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  gift-certificate code.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"MB345\";}s:16:\"original_balance\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  balance on a gift certificate when it was purchased.\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";i:100;}s:16:\"starting_balance\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"The
  balance on a gift certificate at the time of this purchase.\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";i:100;}s:17:\"remaining_balance\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  remaining balance on a gift certificate.\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";d:35.420000000000002;}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"The
  status of a gift certificate: `active` - gift certificate is active; `pending` -
  gift certificate purchase is pending; `disabled` - gift certificate is disabled;
  `expired` - gift certificate is expired.\n\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:6:\"active\";i:1;s:7:\"pending\";i:2;s:8:\"disabled\";i:3;s:7:\"expired\";}}}}s:12:\"store_credit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:22:\"A
  store credit model.\n\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"remaining_balance\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Remaining
  balance of shopper's store credit.\n\";s:4:\"type\";s:6:\"string\";}}}}}}s:5:\"title\";s:11:\"Transaction\";s:4:\"type\";s:6:\"object\";}s:10:\"CreditCard\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:20:\"A
  credit-card model.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"card_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  credit-card type: Visa, MasterCard, etc.\n\";s:4:\"type\";s:6:\"string\";}s:8:\"card_iin\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  IIN of a credit-card number.\n\";s:4:\"type\";s:6:\"string\";}s:10:\"card_last4\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  last 4 digits of a credit-card number.\n\";s:4:\"type\";s:6:\"string\";}s:17:\"card_expiry_month\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  expiry month of a credit-card.\n\";s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:12;}s:16:\"card_expiry_year\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  expiry year of a credit-card.\n\";s:4:\"type\";s:7:\"integer\";}}s:5:\"title\";s:11:\"Credit
  Card\";}s:11:\"StoreCredit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:22:\"A
  store credit model.\n\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"remaining_balance\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Remaining
  balance of shopper's store credit.\n\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Custom\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:33:\"Custom
  payment from manual order.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"payment_method\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Text
  entered for the payment method in the control panel.\n\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:6:\"Custom\";}s:7:\"Offline\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:48:\"Offline
  payment (e.g., check or purchase order).\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"display_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Display
  name for the offline payment.\n\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:7:\"Offline\";}s:15:\"GiftCertificate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:25:\"A
  gift-certificate model.\";s:5:\"title\";s:16:\"Gift Certificate\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  gift-certificate code.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"MB345\";}s:16:\"original_balance\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  balance on a gift certificate when it was purchased.\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";i:100;}s:16:\"starting_balance\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"The
  balance on a gift certificate at the time of this purchase.\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";i:100;}s:17:\"remaining_balance\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  remaining balance on a gift certificate.\n\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:7:\"example\";d:35.420000000000002;}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"The
  status of a gift certificate: `active` - gift certificate is active; `pending` -
  gift certificate purchase is pending; `disabled` - gift certificate is disabled;
  `expired` - gift certificate is expired.\n\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:6:\"active\";i:1;s:7:\"pending\";i:2;s:8:\"disabled\";i:3;s:7:\"expired\";}}}}s:9:\"AVSResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"Address
  Verification Service (AVS) result from the payment gateway.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"AVS
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"AVS
  message.\";s:4:\"type\";s:6:\"string\";}s:12:\"street_match\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"AVS
  Code for street matching result.\";s:4:\"type\";s:6:\"string\";}s:12:\"postal_match\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"AVS
  Code for postal matching result.\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:11:\"AVS
  Results\";}s:9:\"CVVResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Card
  Verification Value result from the payment gateway.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"CVV
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"CVV
  message.\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:10:\"CVV Result\";}s:9:\"NoContent\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"No-content
  response for the BigCommerce API.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"204
  HTTP status code.\n\";s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  error title describing the situation.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"instance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:10:\"No
  Content\";}}"
...
