---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:0:\"\";s:5:\"title\";s:22:\"Store
  Information APIs\";s:11:\"description\";s:318:\"### Store Information Reference\nThe
  Store Information object, and Get Store Information endpoint, manage store profile
  settings.\nA Store Information object represents an individual store\u2019s profile
  and metadata.\n\n### System Reference\nThe Get a Timestamp endpoint generates a
  timestamp ping to check the system status.\";}"
host: api.bigcommerce.com
basePath: /stores/{store_hash}/v2
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:16:\"StoreInformation\";O:8:\"stdClass\":3:{s:5:\"title\";s:17:\"Store
  Information\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":31:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Unique
  store identifier.\";s:7:\"example\";s:10:\"store_hash\";s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Primary
  domain name.\";s:7:\"example\";s:18:\"your-store-url.com\";s:4:\"type\";s:6:\"string\";}s:10:\"secure_URL\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Store\u2019s
  current HTTPS URL.\";s:7:\"example\";s:26:\"https://your-store-url.com\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Store's
  name.\";s:7:\"example\";s:11:\"BigCommerce\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Primary
  contact\u2019s first name (as defined during the store sign-up process).\";s:7:\"example\";s:4:\"Jane\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Primary
  contact\u2019s last name (as defined during the store sign-up process).\";s:7:\"example\";s:3:\"Doe\";s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Display
  address.\";s:7:\"example\";s:11:\"BigCommerce\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Country
  where the store is located (as defined during the store sign-up process).\";s:7:\"example\";s:13:\"United
  States\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Display
  phone number.\";s:4:\"type\";s:6:\"string\";}s:11:\"admin_email\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Email
  address of the store administrator/owner.\";s:7:\"example\";s:18:\"janedoes@email.com\";s:4:\"type\";s:6:\"string\";}s:11:\"order_email\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Email
  address for orders and fulfillment.\";s:7:\"example\";s:11:\"orders@emai\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"Time
  Zone\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"a
  string identifying the time zone, in the format: <Continent-name>/<City-name>.\";s:7:\"example\";s:15:\"America/Chicago\";s:4:\"type\";s:6:\"string\";}s:10:\"raw_offset\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"a
  negative or positive number, identifying the offset from UTC/GMT, in seconds, during
  winter/standard time.\";s:7:\"example\";i:-21600;s:4:\"type\";s:7:\"integer\";}s:10:\"dst_offset\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"\"-/+\"
  offset from UTC/GMT, in seconds, during summer/daylight saving time.\";s:7:\"example\";i:-18000;s:4:\"type\";s:7:\"integer\";}s:14:\"dst_correction\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"a
  boolean indicating whether this time zone observes daylight saving time.\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:11:\"date_format\";O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"Date
  Format\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"display\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"string
  that defines dates\u2019 display format, in the pattern: M jS Y\";s:7:\"example\";s:6:\"M
  jS Y\";s:4:\"type\";s:6:\"string\";}s:6:\"export\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"string
  that defines the CSV export format for orders, customers, and products, in the pattern:
  M jS Y\";s:7:\"example\";s:6:\"M jS Y\";s:4:\"type\";s:6:\"string\";}s:16:\"extended_display\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"string
  that defines dates\u2019 extended-display format, in the pattern: M jS Y @ g:i A.\";s:7:\"example\";s:14:\"M
  jS Y @ g:i A\";s:4:\"type\";s:6:\"string\";}}}}}s:8:\"language\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Default
  language code.\";s:7:\"example\";s:2:\"en\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Default
  currency code\";s:7:\"example\";s:3:\"USD\";s:4:\"type\";s:6:\"string\";}s:15:\"currency_symbol\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Default
  symbol for values in the currency.\";s:7:\"example\";s:1:\"$\";s:4:\"type\";s:6:\"string\";}s:17:\"decimal_separator\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Default
  decimal separator for values in the currency.\";s:7:\"example\";s:1:\".\";s:4:\"type\";s:6:\"string\";}s:19:\"thousands_separator\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Default
  thousands separator for values in the currency.\";s:7:\"example\";s:1:\",\";s:4:\"type\";s:6:\"string\";}s:14:\"decimal_places\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Default
  decimal places for values in the currency.\";s:7:\"example\";i:2;s:4:\"type\";s:8:\"interger\";}s:24:\"currency_symbol_location\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Default
  position of the currency symbol (left or right).\";s:7:\"example\";s:4:\"left\";s:4:\"type\";s:6:\"string\";}s:12:\"weight_units\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Default
  weight units (metric or imperial).\";s:7:\"example\";s:6:\"Ounces\";s:4:\"type\";s:6:\"string\";}s:15:\"dimension_units\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Default
  dimension units (metric or imperial).\";s:7:\"example\";s:6:\"Inches\";s:4:\"type\";s:6:\"string\";}s:24:\"dimension_decimal_places\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  number of decimal places.\";s:7:\"example\";i:2;s:4:\"type\";s:7:\"integer\";}s:23:\"dimension_decimal_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  symbol that separates the whole numbers from the decimal points.\";s:7:\"example\";s:1:\".\";s:4:\"type\";s:6:\"string\";}s:26:\"dimension_thousands_token:\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  symbol used to denote thousands.\";s:4:\"type\";s:6:\"string\";}s:9:\"plan_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Name
  of the BigCommerce plan to which this store is subscribed.\";s:7:\"example\";s:8:\"Standard\";s:4:\"type\";s:6:\"string\";}s:10:\"plan_level\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Level
  of the BigCommerce plan to which this store is subscribed.\";s:7:\"example\";s:8:\"Standard\";s:4:\"type\";s:6:\"string\";}s:8:\"industry\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Industry,
  or vertical category, in which the business operates. (As selected from drop-down
  list during the store sign-up process.)\";s:7:\"example\";s:10:\"Technology\";s:4:\"type\";s:6:\"string\";}s:4:\"logo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:119:\"https://cdn8.bigcommerce.com/s-{store_hash}/product_images/screen_shot_2018-05-15_at_12.22.26_pm__05547_1529512135.png\"\";}}}s:25:\"is_price_entered_with_tax\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"A
  Boolean value that indicates whether or not prices are entered with tax.\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:25:\"active_comparison_modules\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}s:8:\"features\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"+
  `stencil_enabled`: `true` (boolean)\n    + `sitewidehttps_enabled`: `false` (boolean)\n
  \   + `facebook_catalog_id` (string)\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"stencil_enabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;s:11:\"description\";s:51:\"Indicates
  whether a store is using a Stencil theme.\";}s:21:\"sitewidehttps_enabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";b:0;s:11:\"description\";s:37:\"Indicates
  if there is sitewide https.\";}s:19:\"facebook_catalog_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Id
  of the facebook catalog. If there is none, it returns an empty string. \";}s:13:\"checkout_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"optimized\";s:11:\"description\";s:160:\"What
  type of checkout is enabled on the store. Possible values returned are optimized,
  single (one page), single_customizable (one page for developers), klarna.\";}}}}}s:8:\"Timezone\";O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"Time
  Zone\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"a
  string identifying the time zone, in the format: <Continent-name>/<City-name>.\";s:7:\"example\";s:15:\"America/Chicago\";s:4:\"type\";s:6:\"string\";}s:10:\"raw_offset\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"a
  negative or positive number, identifying the offset from UTC/GMT, in seconds, during
  winter/standard time.\";s:7:\"example\";i:-21600;s:4:\"type\";s:7:\"integer\";}s:10:\"dst_offset\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"\"-/+\"
  offset from UTC/GMT, in seconds, during summer/daylight saving time.\";s:7:\"example\";i:-18000;s:4:\"type\";s:7:\"integer\";}s:14:\"dst_correction\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"a
  boolean indicating whether this time zone observes daylight saving time.\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:11:\"date_format\";O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"Date
  Format\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"display\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"string
  that defines dates\u2019 display format, in the pattern: M jS Y\";s:7:\"example\";s:6:\"M
  jS Y\";s:4:\"type\";s:6:\"string\";}s:6:\"export\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"string
  that defines the CSV export format for orders, customers, and products, in the pattern:
  M jS Y\";s:7:\"example\";s:6:\"M jS Y\";s:4:\"type\";s:6:\"string\";}s:16:\"extended_display\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"string
  that defines dates\u2019 extended-display format, in the pattern: M jS Y @ g:i A.\";s:7:\"example\";s:14:\"M
  jS Y @ g:i A\";s:4:\"type\";s:6:\"string\";}}}}}s:10:\"DateFormat\";O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"Date
  Format\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"display\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"string
  that defines dates\u2019 display format, in the pattern: M jS Y\";s:7:\"example\";s:6:\"M
  jS Y\";s:4:\"type\";s:6:\"string\";}s:6:\"export\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"string
  that defines the CSV export format for orders, customers, and products, in the pattern:
  M jS Y\";s:7:\"example\";s:6:\"M jS Y\";s:4:\"type\";s:6:\"string\";}s:16:\"extended_display\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"string
  that defines dates\u2019 extended-display format, in the pattern: M jS Y @ g:i A.\";s:7:\"example\";s:14:\"M
  jS Y @ g:i A\";s:4:\"type\";s:6:\"string\";}}}}"
...
