---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:5:\"Congo\";s:11:\"description\";s:5:\"Congo\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"congo\";s:5:\"email\";s:5:\"congo\";s:3:\"url\";s:31:\"https://congo.gopheracademy.com\";}s:7:\"version\";s:0:\"\";}"
host: congo.gopheracademy.com
basePath: /api
paths:
  /admin/users:
    get:
      description: List all usersnn** Required security scopes**:n
      operationId: adminuser#list
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/UserCollection'
        404:
          description: Not Found
      schemes:
      - https
    post:
      description: Record new usernn** Required security scopes**:n
      operationId: adminuser#create
      parameters:
      - name: payload
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateAdminuserPayload'
      responses:
        201:
          description: Resource created
          headers:
            Location:
              description: href to created resource
              type: string
              pattern: ^/admin/users/[0-9]+$
      schemes:
      - https
  /admin/users/{userID}:
    get:
      description: Retrieve user with given idnn** Required security scopes**:n
      operationId: adminuser#show
      parameters:
      - name: userID
        in: path
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'
        404:
          description: Not Found
      schemes:
      - https
    delete:
      description: nn** Required security scopes**:n
      operationId: adminuser#delete
      parameters:
      - name: userID
        in: path
        description: 'UserID '
        required: true
        type: integer
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - https
    patch:
      description: nn** Required security scopes**:n
      operationId: adminuser#update
      parameters:
      - name: userID
        in: path
        required: true
        type: integer
      - name: payload
        in: body
        required: true
        schema:
          $ref: '#/definitions/UpdateAdminuserPayload'
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - https
  /auth/refresh:
    post:
      description: Obtain a refreshed access token
      operationId: auth#refresh
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/Authorize'
      schemes:
      - https
      security:
      - password: []
  /auth/token:
    post:
      description: Obtain an access token
      operationId: auth#token
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/Authorize'
      schemes:
      - https
      security:
      - password: []
  /healthz:
    get:
      description: Get Server Status
      operationId: healthz#status
      schemes:
      - https
  /tenants:
    get:
      description: List all tenants
      operationId: tenant#list
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TenantCollection'
        404:
          description: Not Found
      schemes:
      - https
    post:
      description: Record new tenant
      operationId: tenant#create
      parameters:
      - name: payload
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateTenantPayload'
      responses:
        201:
          description: Resource created
          headers:
            Location:
              description: href to created resource
              type: string
              pattern: ^/tenants/[0-9]+$
      schemes:
      - https
  /tenants/{tenantID}:
    get:
      description: Retrieve tenant with given id
      operationId: tenant#show
      parameters:
      - name: tenantID
        in: path
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Tenant'
        404:
          description: Not Found
      schemes:
      - https
    delete:
      operationId: tenant#delete
      parameters:
      - name: tenantID
        in: path
        description: Tenant ID
        required: true
        type: integer
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - https
    patch:
      operationId: tenant#update
      parameters:
      - name: tenantID
        in: path
        required: true
        type: integer
      - name: payload
        in: body
        required: true
        schema:
          $ref: '#/definitions/UpdateTenantPayload'
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - https
  /tenants/{tenantID}/events:
    get:
      description: List all eventsnn** Required security scopes**:n
      operationId: event#list
      parameters:
      - name: tenantID
        in: path
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventCollection'
        404:
          description: Not Found
      schemes:
      - https
    post:
      description: Record new eventnn** Required security scopes**:n
      operationId: event#create
      parameters:
      - name: tenantID
        in: path
        required: true
        type: integer
      - name: payload
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateEventPayload'
      responses:
        201:
          description: Resource created
          headers:
            Location:
              description: href to created resource
              type: string
              pattern: ^/tenants/[0-9]/events/[0-9]+$
      schemes:
      - https
  /tenants/{tenantID}/events/{eventID}:
    get:
      description: Retrieve event with given id
      operationId: event#show
      parameters:
      - name: eventID
        in: path
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Event'
        404:
          description: Not Found
      schemes:
      - https
    delete:
      description: nn** Required security scopes**:n
      operationId: event#delete
      parameters:
      - name: eventID
        in: path
        description: Event ID
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - https
    patch:
      description: nn** Required security scopes**:n
      operationId: event#update
      parameters:
      - name: eventID
        in: path
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      - name: payload
        in: body
        required: true
        schema:
          $ref: '#/definitions/UpdateEventPayload'
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - https
  /tenants/{tenantID}/events/{eventID}/speakers:
    get:
      description: List all speakers
      operationId: speaker#list
      parameters:
      - name: eventID
        in: path
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SpeakerCollection'
        404:
          description: Not Found
      schemes:
      - https
    post:
      description: Record new speaker
      operationId: speaker#create
      parameters:
      - name: eventID
        in: path
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      - name: payload
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateSpeakerPayload'
      responses:
        201:
          description: Resource created
          headers:
            Location:
              description: href to created resource
              type: string
              pattern: ^/tenants/[0-9]/events/[0-9]/speakers/[0-9]+$
      schemes:
      - https
  /tenants/{tenantID}/events/{eventID}/speakers/{speakerID}:
    get:
      description: Retrieve speaker with given id
      operationId: speaker#show
      parameters:
      - name: eventID
        in: path
        required: true
        type: integer
      - name: speakerID
        in: path
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Speaker'
        404:
          description: Not Found
      schemes:
      - https
    delete:
      operationId: speaker#delete
      parameters:
      - name: eventID
        in: path
        required: true
        type: integer
      - name: speakerID
        in: path
        description: Speaker ID
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - https
    patch:
      operationId: speaker#update
      parameters:
      - name: eventID
        in: path
        required: true
        type: integer
      - name: speakerID
        in: path
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      - name: payload
        in: body
        required: true
        schema:
          $ref: '#/definitions/UpdateSpeakerPayload'
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - https
  /tenants/{tenantID}/events/{eventID}/speakers/{speakerID}/presentations:
    get:
      description: List all presentationsnn** Required security scopes**:n
      operationId: presentation#list
      parameters:
      - name: eventID
        in: path
        required: true
        type: integer
      - name: speakerID
        in: path
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PresentationCollection'
        404:
          description: Not Found
      schemes:
      - https
    post:
      description: Record new presentationnn** Required security scopes**:n
      operationId: presentation#create
      parameters:
      - name: eventID
        in: path
        required: true
        type: integer
      - name: speakerID
        in: path
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      - name: payload
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreatePresentationPayload'
      responses:
        201:
          description: Resource created
          headers:
            Location:
              description: href to created resource
              type: string
              pattern: ^/tenants/[0-9]/events/[0-9]/presentations/[0-9]+$
      schemes:
      - https
  /tenants/{tenantID}/events/{eventID}/speakers/{speakerID}/presentations/{presentationID}:
    get:
      description: Retrieve presentation with given id
      operationId: presentation#show
      parameters:
      - name: eventID
        in: path
        required: true
        type: integer
      - name: presentationID
        in: path
        required: true
        type: integer
      - name: speakerID
        in: path
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Presentation'
        404:
          description: Not Found
      schemes:
      - https
    delete:
      description: nn** Required security scopes**:n
      operationId: presentation#delete
      parameters:
      - name: eventID
        in: path
        required: true
        type: integer
      - name: presentationID
        in: path
        description: Presentation ID
        required: true
        type: integer
      - name: speakerID
        in: path
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - https
    patch:
      description: nn** Required security scopes**:n
      operationId: presentation#update
      parameters:
      - name: eventID
        in: path
        required: true
        type: integer
      - name: presentationID
        in: path
        required: true
        type: integer
      - name: speakerID
        in: path
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      - name: payload
        in: body
        required: true
        schema:
          $ref: '#/definitions/UpdatePresentationPayload'
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - https
  /tenants/{tenantID}/series:
    get:
      description: List all seriesnn** Required security scopes**:n
      operationId: series#list
      parameters:
      - name: tenantID
        in: path
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SeriesCollection'
        404:
          description: Not Found
      schemes:
      - https
    post:
      description: Record new seriesnn** Required security scopes**:n
      operationId: series#create
      parameters:
      - name: tenantID
        in: path
        required: true
        type: integer
      - name: payload
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateSeriesPayload'
      responses:
        201:
          description: Resource created
          headers:
            Location:
              description: href to created resource
              type: string
              pattern: ^/tenants/[0-9]/series/[0-9]+$
      schemes:
      - https
  /tenants/{tenantID}/series/{seriesID}:
    get:
      description: Retrieve series with given idnn** Required security scopes**:n
      operationId: series#show
      parameters:
      - name: seriesID
        in: path
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Series'
        404:
          description: Not Found
      schemes:
      - https
    delete:
      description: nn** Required security scopes**:n
      operationId: series#delete
      parameters:
      - name: seriesID
        in: path
        description: Series ID
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - https
    patch:
      description: nn** Required security scopes**:n
      operationId: series#update
      parameters:
      - name: seriesID
        in: path
        required: true
        type: integer
      - name: tenantID
        in: path
        required: true
        type: integer
      - name: payload
        in: body
        required: true
        schema:
          $ref: '#/definitions/UpdateSeriesPayload'
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - https
  /tenants/{tenantID}/users:
    get:
      description: List all users for a tenantnn** Required security scopes**:n
      operationId: user#list
      parameters:
      - name: tenantID
        in: path
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/UserCollection'
        404:
          description: Not Found
      schemes:
      - https
    post:
      description: Record new usernn** Required security scopes**:n
      operationId: user#create
      parameters:
      - name: tenantID
        in: path
        required: true
        type: integer
      - name: payload
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateUserPayload'
      responses:
        201:
          description: Resource created
          headers:
            Location:
              description: href to created resource
              type: string
              pattern: ^/tenants/[0-9]+/users/[0-9]+$
      schemes:
      - https
  /tenants/{tenantID}/users/{userID}:
    get:
      description: Retrieve user with given idnn** Required security scopes**:n
      operationId: user#show
      parameters:
      - name: tenantID
        in: path
        required: true
        type: integer
      - name: userID
        in: path
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'
        404:
          description: Not Found
      schemes:
      - https
    delete:
      description: nn** Required security scopes**:n
      operationId: user#delete
      parameters:
      - name: tenantID
        in: path
        required: true
        type: integer
      - name: userID
        in: path
        description: 'UserID '
        required: true
        type: integer
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - https
    patch:
      description: nn** Required security scopes**:n
      operationId: user#update
      parameters:
      - name: tenantID
        in: path
        required: true
        type: integer
      - name: userID
        in: path
        required: true
        type: integer
      - name: payload
        in: body
        required: true
        schema:
          $ref: '#/definitions/UpdateUserPayload'
      responses:
        204:
          description: No Content
        404:
          description: Not Found
      schemes:
      - https
  /validate/{userID}:
    get:
      description: validate user email
      operationId: validate#validate
      parameters:
      - name: userID
        in: path
        required: true
        type: string
      - name: v
        in: query
        required: false
        type: string
      responses:
        200:
          description: OK
        404:
          description: Not Found
      schemes:
      - https
produces:
- application/json
- application/xml
- application/gob
- application/x-gob
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":27:{s:9:\"Authorize\";O:8:\"stdClass\":5:{s:5:\"title\";s:52:\"Mediatype
  identifier: application/vnd.authorize+json\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"access_token\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"access
  token\";s:7:\"example\";s:25:\"Aut aspernatur excepturi.\";}s:10:\"expires_in\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:29:\"Time
  to expiration in seconds\";s:7:\"example\";i:1423874802512420957;s:6:\"format\";s:5:\"int64\";}s:6:\"tenant\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:2:\"ID\";s:7:\"example\";i:1999400714536249347;s:6:\"format\";s:5:\"int64\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"name\";s:7:\"example\";s:8:\"Sit
  eos.\";}}s:11:\"description\";s:6:\"tenant\";s:7:\"example\";O:8:\"stdClass\":2:{s:2:\"id\";i:3969518700682667638;s:4:\"name\";s:16:\"Et
  libero culpa.\";}}s:10:\"token_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"type
  of token\";s:7:\"example\";s:34:\"Error dolores dolorem tempora aut.\";}s:4:\"user\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"active\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:17:\"Activation
  status\";s:7:\"example\";b:0;}s:5:\"email\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Email
  address of user\";s:7:\"example\";s:2:\"wz\";s:6:\"format\";s:5:\"email\";s:9:\"minLength\";i:2;}s:10:\"first_name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"First
  name of user\";s:7:\"example\";s:4:\"bjyh\";s:9:\"minLength\";i:2;}s:4:\"href\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"API
  href of record\";s:7:\"example\";s:33:\"Nisi aspernatur non voluptatibus.\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:8769875072716209837;s:6:\"format\";s:5:\"int64\";}s:9:\"last_name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Last
  name of user\";s:7:\"example\";s:2:\"j8\";s:9:\"minLength\";i:2;}s:4:\"role\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"User's
  role\";s:7:\"example\";s:20:\"Aliquid aut id quia.\";}s:9:\"tenant_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:7069450719703720201;s:6:\"format\";s:5:\"int64\";}s:9:\"validated\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:17:\"Validation
  status\";s:7:\"example\";b:1;}}s:11:\"description\";s:4:\"user\";s:7:\"example\";O:8:\"stdClass\":9:{s:6:\"active\";b:0;s:5:\"email\";s:28:\"Ut
  magnam odit nemo numquam.\";s:10:\"first_name\";s:37:\"Tempora a odit dolores voluptas
  quis.\";s:4:\"href\";s:40:\"In eos ab porro est exercitationem nisi.\";s:2:\"id\";i:7180736786154332961;s:9:\"last_name\";s:30:\"Velit
  excepturi aut minus nam.\";s:4:\"role\";s:43:\"Doloremque blanditiis quo nostrum
  quo esse.\";s:9:\"tenant_id\";i:8701398505595027364;s:9:\"validated\";b:0;}}}s:11:\"description\";s:28:\"Token
  authorization response\";s:7:\"example\";O:8:\"stdClass\":5:{s:12:\"access_token\";s:30:\"Laudantium
  tempore voluptatem.\";s:10:\"expires_in\";i:4869192690920850514;s:6:\"tenant\";O:8:\"stdClass\":2:{s:2:\"id\";i:5728362918364472433;s:4:\"name\";s:46:\"Est
  aut adipisci eaque molestias dolorum illo.\";}s:10:\"token_type\";s:25:\"Optio beatae
  aperiam quo.\";s:4:\"user\";O:8:\"stdClass\":9:{s:6:\"active\";b:0;s:5:\"email\";s:45:\"Beatae
  consequatur mollitia sed explicabo id.\";s:10:\"first_name\";s:47:\"Eos tempora
  corporis aliquam id nulla suscipit.\";s:4:\"href\";s:40:\"Est esse a inventore libero
  sint cumque.\";s:2:\"id\";i:7831165214039818002;s:9:\"last_name\";s:14:\"Qui molestiae.\";s:4:\"role\";s:26:\"Atque
  dolorem voluptas et.\";s:9:\"tenant_id\";i:6244484567252341207;s:9:\"validated\";b:0;}}}s:22:\"CreateAdminuserPayload\";O:8:\"stdClass\":4:{s:5:\"title\";s:22:\"CreateAdminuserPayload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}s:10:\"first_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:8;}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tenant_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"validated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"validation_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:8;}}s:8:\"required\";a:5:{i:0;s:10:\"first_name\";i:1;s:9:\"last_name\";i:2;s:5:\"email\";i:3;s:8:\"password\";i:4;s:4:\"role\";}}s:18:\"CreateEventPayload\";O:8:\"stdClass\":4:{s:5:\"title\";s:18:\"CreateEventPayload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"end_date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"1979-07-05T11:15:08-04:00\";s:6:\"format\";s:9:\"date-time\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"nbqp\";s:9:\"minLength\";i:2;}s:10:\"start_date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"1984-03-10T12:52:26-05:00\";s:6:\"format\";s:9:\"date-time\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"1dp91o3\";s:9:\"minLength\";i:5;}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:25:\"CreatePresentationPayload\";O:8:\"stdClass\":4:{s:5:\"title\";s:25:\"CreatePresentationPayload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"abstract\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"8yjbij39e7\";s:9:\"minLength\";i:10;}s:6:\"detail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"Ut
  sint eveniet.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"Animi
  aut.\";}}s:8:\"required\";a:1:{i:0;s:8:\"abstract\";}}s:19:\"CreateSeriesPayload\";O:8:\"stdClass\":4:{s:5:\"title\";s:19:\"CreateSeriesPayload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"nj\";s:9:\"minLength\";i:2;}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:20:\"CreateSpeakerPayload\";O:8:\"stdClass\":4:{s:5:\"title\";s:20:\"CreateSpeakerPayload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"bio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"Non
  voluptas eum nihil.\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"jg\";s:9:\"minLength\";i:2;}s:6:\"github\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:39:\"Voluptate
  delectus dolorem soluta iste.\";}s:9:\"image_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"kh63r\";s:9:\"minLength\";i:5;}s:9:\"last_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"sd\";s:9:\"minLength\";i:2;}s:8:\"linkedin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:70:\"Aliquam
  consequatur consequuntur impedit ducimus aliquam consequuntur.\";}s:7:\"twitter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:37:\"Qui
  voluptatem sit mollitia aut quos.\";}}s:8:\"required\";a:2:{i:0;s:10:\"first_name\";i:1;s:9:\"last_name\";}}s:19:\"CreateTenantPayload\";O:8:\"stdClass\":4:{s:5:\"title\";s:19:\"CreateTenantPayload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"7r2f\";s:9:\"minLength\";i:2;}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:17:\"CreateUserPayload\";O:8:\"stdClass\":4:{s:5:\"title\";s:17:\"CreateUserPayload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"54\";s:9:\"minLength\";i:2;}s:10:\"first_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}s:8:\"password\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"0375ll5g\";s:9:\"minLength\";i:8;}s:4:\"role\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"Fugiat
  sunt fuga id.\";}s:9:\"validated\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:15:\"validation_code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"n8yyptq3i\";s:9:\"minLength\";i:8;}}s:8:\"required\";a:5:{i:0;s:10:\"first_name\";i:1;s:9:\"last_name\";i:2;s:5:\"email\";i:3;s:8:\"password\";i:4;s:4:\"role\";}}s:5:\"Event\";O:8:\"stdClass\":5:{s:5:\"title\";s:48:\"Mediatype
  identifier: application/vnd.event+json\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"end_date\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"end_date\";s:7:\"example\";s:25:\"2003-04-17T13:45:10-04:00\";s:6:\"format\";s:9:\"date-time\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:8151004217844433890;s:6:\"format\";s:5:\"int64\";}s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"location\";s:7:\"example\";s:34:\"Ut
  enim qui quia voluptates culpa.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"name\";s:7:\"example\";s:29:\"Quia
  similique nihil aliquam.\";}s:13:\"presentations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"abstract\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"short
  description of talk\";s:7:\"example\";s:9:\"Ut nihil.\";}s:6:\"detail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"detailed
  description of talk - not for public display\";s:7:\"example\";s:37:\"Sit ducimus
  cupiditate quo molestias.\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:8211863283135363273;s:6:\"format\";s:5:\"int64\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"name
  of presentation\";s:7:\"example\";s:22:\"Corporis ullam itaque.\";}s:7:\"speaker\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"bio\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"speaker
  bio\";s:7:\"example\";s:39:\"Eum hic accusamus qui aspernatur vitae.\";}s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"email
  address\";s:7:\"example\";s:17:\"Saepe odit porro.\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"first
  name\";s:7:\"example\";s:53:\"Harum tenetur sint aspernatur nemo inventore placeat.\";}s:6:\"github\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"github
  handle\";s:7:\"example\";s:12:\"Impedit vel.\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"Delectus
  ipsum facere qui vel.\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:3234056067242143871;s:6:\"format\";s:5:\"int64\";}s:9:\"image_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"url
  of speaker image\";s:7:\"example\";s:16:\"Debitis nostrum.\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"last
  name\";s:7:\"example\";s:29:\"Quia aut sed recusandae amet.\";}s:8:\"linkedin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"linkedin
  url\";s:7:\"example\";s:41:\"Omnis necessitatibus sequi ab qui itaque.\";}s:7:\"twitter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"twitter
  handle - no @\";s:7:\"example\";s:13:\"Est delectus.\";}}s:11:\"description\";s:30:\"speaker
  who is giving the talk\";s:7:\"example\";O:8:\"stdClass\":10:{s:3:\"bio\";s:50:\"Id
  reiciendis hic et doloremque voluptatem veniam.\";s:5:\"email\";s:16:\"Dolor excepturi.\";s:10:\"first_name\";s:33:\"Voluptate
  rerum mollitia et sunt.\";s:6:\"github\";s:31:\"Accusantium id tempora facilis.\";s:4:\"href\";s:48:\"Quia
  tempora ipsum aperiam nihil voluptatem qui.\";s:2:\"id\";i:3360909363941664046;s:9:\"image_url\";s:47:\"Nihil
  nesciunt voluptatem reprehenderit et qui.\";s:9:\"last_name\";s:33:\"Libero cumque
  aut sit et numquam.\";s:8:\"linkedin\";s:44:\"Minima odit ex distinctio dolorem
  similique.\";s:7:\"twitter\";s:29:\"Atque molestiae numquam quae.\";}}}s:7:\"example\";O:8:\"stdClass\":5:{s:8:\"abstract\";s:12:\"Porro
  alias.\";s:6:\"detail\";s:36:\"Dolor in voluptatem sit neque iusto.\";s:2:\"id\";i:8959094650469010398;s:4:\"name\";s:54:\"Quae
  incidunt voluptatem dolores tempora esse impedit.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:60:\"Itaque
  praesentium incidunt illo distinctio fugit molestias.\";s:5:\"email\";s:14:\"Ex
  harum quis.\";s:10:\"first_name\";s:16:\"Aut ipsum dolor.\";s:6:\"github\";s:50:\"Voluptatum
  aut sapiente consequatur sit autem vel.\";s:4:\"href\";s:35:\"Et maiores quia dolorum
  ab officia.\";s:2:\"id\";i:3446227051356385407;s:9:\"image_url\";s:29:\"Similique
  reiciendis aut sit.\";s:9:\"last_name\";s:18:\"Et voluptatem eum.\";s:8:\"linkedin\";s:46:\"Omnis
  quasi consectetur iusto dolor iure fuga.\";s:7:\"twitter\";s:19:\"Aut placeat cumque.\";}}}s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":5:{s:8:\"abstract\";s:33:\"Id
  quis asperiores ipsum aliquam.\";s:6:\"detail\";s:30:\"Dolorum nobis nihil vero
  quae.\";s:2:\"id\";i:8987120857796313680;s:4:\"name\";s:56:\"Exercitationem nihil
  fugiat facilis qui molestias nihil.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:12:\"Expedita
  et.\";s:5:\"email\";s:49:\"Non quis pariatur voluptatem et reprehenderit et.\";s:10:\"first_name\";s:27:\"Quo
  ad blanditiis officiis.\";s:6:\"github\";s:13:\"Hic ex ea ut.\";s:4:\"href\";s:54:\"Dignissimos
  rerum repellat aut tempora nihil voluptas.\";s:2:\"id\";i:812480929769847995;s:9:\"image_url\";s:33:\"Dolor
  dolorum sequi corporis non.\";s:9:\"last_name\";s:44:\"Earum ut eum alias voluptatibus
  dolorem non.\";s:8:\"linkedin\";s:35:\"Praesentium quia enim et eos earum.\";s:7:\"twitter\";s:19:\"Officiis
  a at quia.\";}}i:1;O:8:\"stdClass\":5:{s:8:\"abstract\";s:11:\"Nisi nihil.\";s:6:\"detail\";s:25:\"Est
  perferendis velit et.\";s:2:\"id\";i:8212111820326801850;s:4:\"name\";s:29:\"Ipsa
  laudantium iste eos qui.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:8:\"Sed
  nam.\";s:5:\"email\";s:43:\"Minus molestiae necessitatibus totam porro.\";s:10:\"first_name\";s:11:\"Nam
  at hic.\";s:6:\"github\";s:15:\"Occaecati enim.\";s:4:\"href\";s:56:\"Incidunt sed
  aspernatur laudantium suscipit nihil omnis.\";s:2:\"id\";i:4768200440712950512;s:9:\"image_url\";s:19:\"Est
  est quis autem.\";s:9:\"last_name\";s:15:\"Accusantium et.\";s:8:\"linkedin\";s:20:\"Possimus
  dolore aut.\";s:7:\"twitter\";s:36:\"Suscipit fuga modi aut delectus qui.\";}}}}s:8:\"speakers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"bio\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"speaker
  bio\";s:7:\"example\";s:39:\"Eum hic accusamus qui aspernatur vitae.\";}s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"email
  address\";s:7:\"example\";s:17:\"Saepe odit porro.\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"first
  name\";s:7:\"example\";s:53:\"Harum tenetur sint aspernatur nemo inventore placeat.\";}s:6:\"github\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"github
  handle\";s:7:\"example\";s:12:\"Impedit vel.\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"Delectus
  ipsum facere qui vel.\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:3234056067242143871;s:6:\"format\";s:5:\"int64\";}s:9:\"image_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"url
  of speaker image\";s:7:\"example\";s:16:\"Debitis nostrum.\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"last
  name\";s:7:\"example\";s:29:\"Quia aut sed recusandae amet.\";}s:8:\"linkedin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"linkedin
  url\";s:7:\"example\";s:41:\"Omnis necessitatibus sequi ab qui itaque.\";}s:7:\"twitter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"twitter
  handle - no @\";s:7:\"example\";s:13:\"Est delectus.\";}}s:7:\"example\";O:8:\"stdClass\":10:{s:3:\"bio\";s:33:\"Vel
  saepe vel eum necessitatibus.\";s:5:\"email\";s:45:\"Repellat quos fugit quod dicta
  dolores iusto.\";s:10:\"first_name\";s:39:\"Aut id iusto minima est omnis mollitia.\";s:6:\"github\";s:26:\"Qui
  accusantium molestiae.\";s:4:\"href\";s:24:\"Et et et totam repellat.\";s:2:\"id\";i:7759144187772925207;s:9:\"image_url\";s:14:\"Ipsum
  quaerat.\";s:9:\"last_name\";s:26:\"Aut fugit dolor molestiae.\";s:8:\"linkedin\";s:17:\"Pariatur
  dolores.\";s:7:\"twitter\";s:27:\"Quas necessitatibus ea vel.\";}}s:7:\"example\";a:3:{i:0;O:8:\"stdClass\":10:{s:3:\"bio\";s:53:\"Inventore
  sequi quidem molestias nesciunt aspernatur.\";s:5:\"email\";s:41:\"Itaque eum ea
  temporibus quibusdam vitae.\";s:10:\"first_name\";s:12:\"Ut a et sit.\";s:6:\"github\";s:28:\"Quos
  in doloremque illo hic.\";s:4:\"href\";s:18:\"Incidunt quis quo.\";s:2:\"id\";i:3183414517644362271;s:9:\"image_url\";s:16:\"Illo
  reiciendis.\";s:9:\"last_name\";s:39:\"Dolores enim est cum dicta eum facilis.\";s:8:\"linkedin\";s:51:\"Enim
  ipsum tempore perferendis sapiente velit vero.\";s:7:\"twitter\";s:25:\"Odio est
  sunt omnis quia.\";}i:1;O:8:\"stdClass\":10:{s:3:\"bio\";s:13:\"Voluptas hic.\";s:5:\"email\";s:13:\"Hic
  incidunt.\";s:10:\"first_name\";s:32:\"Odit aut repudiandae asperiores.\";s:6:\"github\";s:50:\"Harum
  voluptas aut doloremque fugit omnis debitis.\";s:4:\"href\";s:51:\"Earum autem rerum
  consectetur officia corrupti eos.\";s:2:\"id\";i:3008284526923858790;s:9:\"image_url\";s:15:\"Voluptatum
  qui.\";s:9:\"last_name\";s:56:\"Excepturi quis consectetur nam facere numquam accusamus.\";s:8:\"linkedin\";s:28:\"Molestias
  et nisi similique.\";s:7:\"twitter\";s:28:\"A voluptas sed est qui sunt.\";}i:2;O:8:\"stdClass\":10:{s:3:\"bio\";s:41:\"Voluptatibus
  sint facere quibusdam nobis.\";s:5:\"email\";s:35:\"Dolores saepe quia quis nihil
  unde.\";s:10:\"first_name\";s:40:\"Ipsa occaecati exercitationem velit non.\";s:6:\"github\";s:13:\"Id
  molestias.\";s:4:\"href\";s:36:\"Quisquam vitae quia tenetur officia.\";s:2:\"id\";i:6587664006123639049;s:9:\"image_url\";s:24:\"Numquam
  quo id mollitia.\";s:9:\"last_name\";s:38:\"Omnis architecto sit hic et id labore.\";s:8:\"linkedin\";s:13:\"Libero
  in ad.\";s:7:\"twitter\";s:33:\"Quos dolor voluptatem saepe sunt.\";}}}s:10:\"start_date\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"start_date\";s:7:\"example\";s:25:\"1998-03-16T07:20:55-05:00\";s:6:\"format\";s:9:\"date-time\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"event
  URL\";s:7:\"example\";s:41:\"Quasi consequatur voluptatem natus error.\";}}s:11:\"description\";s:68:\"An
  event is a specific instance of a conference, e.g. GopherCon 2016\";s:7:\"example\";O:8:\"stdClass\":8:{s:8:\"end_date\";s:25:\"1974-12-08T06:34:22-05:00\";s:2:\"id\";i:2219768067462722682;s:8:\"location\";s:21:\"Tempora
  saepe veniam.\";s:4:\"name\";s:15:\"Tempore labore.\";s:13:\"presentations\";a:2:{i:0;O:8:\"stdClass\":5:{s:8:\"abstract\";s:40:\"Non
  itaque vero suscipit occaecati quas.\";s:6:\"detail\";s:29:\"Dolor voluptatem nihil
  error.\";s:2:\"id\";i:3099350175074608703;s:4:\"name\";s:52:\"Deleniti omnis recusandae
  facilis quaerat quo illum.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:24:\"Necessitatibus
  adipisci.\";s:5:\"email\";s:35:\"Quasi sunt eligendi soluta ratione.\";s:10:\"first_name\";s:23:\"Autem
  reprehenderit ea.\";s:6:\"github\";s:31:\"Officiis aut doloribus qui non.\";s:4:\"href\";s:27:\"Non
  libero sed ipsum nihil.\";s:2:\"id\";i:5393156423666760956;s:9:\"image_url\";s:18:\"Quidem
  voluptatem.\";s:9:\"last_name\";s:35:\"Inventore atque qui repellendus ut.\";s:8:\"linkedin\";s:49:\"Quo
  possimus provident optio voluptatem sapiente.\";s:7:\"twitter\";s:17:\"Fugit id
  quaerat.\";}}i:1;O:8:\"stdClass\":5:{s:8:\"abstract\";s:21:\"Consequatur expedita.\";s:6:\"detail\";s:17:\"Minima
  sequi sed.\";s:2:\"id\";i:5493573819062889534;s:4:\"name\";s:17:\"Velit est sit
  ut.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:38:\"Tenetur commodi aperiam
  beatae quo ut.\";s:5:\"email\";s:38:\"Vel autem tempora praesentium placeat.\";s:10:\"first_name\";s:26:\"Veniam
  quia aspernatur in.\";s:6:\"github\";s:23:\"Ut rerum corrupti enim.\";s:4:\"href\";s:26:\"Impedit
  vel voluptas enim.\";s:2:\"id\";i:549950183797065919;s:9:\"image_url\";s:53:\"Cupiditate
  quos vel voluptates ea necessitatibus sed.\";s:9:\"last_name\";s:34:\"Rem sed itaque
  omnis aut delectus.\";s:8:\"linkedin\";s:32:\"Qui et vitae enim optio aliquam.\";s:7:\"twitter\";s:25:\"Iure
  voluptatibus facere.\";}}}s:8:\"speakers\";a:1:{i:0;O:8:\"stdClass\":10:{s:3:\"bio\";s:43:\"Sequi
  corrupti delectus quia sit nihil sed.\";s:5:\"email\";s:41:\"Voluptates voluptatem
  assumenda et atque.\";s:10:\"first_name\";s:15:\"Voluptatem eos.\";s:6:\"github\";s:6:\"Et
  et.\";s:4:\"href\";s:47:\"Minus magnam sequi quia commodi adipisci dolor.\";s:2:\"id\";i:4574375130798339995;s:9:\"image_url\";s:12:\"Deserunt
  in.\";s:9:\"last_name\";s:23:\"Minima voluptatum sunt.\";s:8:\"linkedin\";s:21:\"Rerum
  amet hic nihil.\";s:7:\"twitter\";s:30:\"Veritatis nesciunt ea dolores.\";}}s:10:\"start_date\";s:25:\"1990-11-05T10:52:40-05:00\";s:3:\"url\";s:32:\"Vero
  iste veniam saepe voluptas.\";}}s:15:\"EventCollection\";O:8:\"stdClass\":4:{s:5:\"title\";s:65:\"Mediatype
  identifier: application/vnd.event+json; type=collection\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"end_date\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"end_date\";s:7:\"example\";s:25:\"2003-04-17T13:45:10-04:00\";s:6:\"format\";s:9:\"date-time\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:8151004217844433890;s:6:\"format\";s:5:\"int64\";}s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"location\";s:7:\"example\";s:34:\"Ut
  enim qui quia voluptates culpa.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"name\";s:7:\"example\";s:29:\"Quia
  similique nihil aliquam.\";}s:13:\"presentations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"abstract\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"short
  description of talk\";s:7:\"example\";s:9:\"Ut nihil.\";}s:6:\"detail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"detailed
  description of talk - not for public display\";s:7:\"example\";s:37:\"Sit ducimus
  cupiditate quo molestias.\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:8211863283135363273;s:6:\"format\";s:5:\"int64\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"name
  of presentation\";s:7:\"example\";s:22:\"Corporis ullam itaque.\";}s:7:\"speaker\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"bio\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"speaker
  bio\";s:7:\"example\";s:39:\"Eum hic accusamus qui aspernatur vitae.\";}s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"email
  address\";s:7:\"example\";s:17:\"Saepe odit porro.\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"first
  name\";s:7:\"example\";s:53:\"Harum tenetur sint aspernatur nemo inventore placeat.\";}s:6:\"github\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"github
  handle\";s:7:\"example\";s:12:\"Impedit vel.\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"Delectus
  ipsum facere qui vel.\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:3234056067242143871;s:6:\"format\";s:5:\"int64\";}s:9:\"image_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"url
  of speaker image\";s:7:\"example\";s:16:\"Debitis nostrum.\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"last
  name\";s:7:\"example\";s:29:\"Quia aut sed recusandae amet.\";}s:8:\"linkedin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"linkedin
  url\";s:7:\"example\";s:41:\"Omnis necessitatibus sequi ab qui itaque.\";}s:7:\"twitter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"twitter
  handle - no @\";s:7:\"example\";s:13:\"Est delectus.\";}}s:11:\"description\";s:30:\"speaker
  who is giving the talk\";s:7:\"example\";O:8:\"stdClass\":10:{s:3:\"bio\";s:50:\"Id
  reiciendis hic et doloremque voluptatem veniam.\";s:5:\"email\";s:16:\"Dolor excepturi.\";s:10:\"first_name\";s:33:\"Voluptate
  rerum mollitia et sunt.\";s:6:\"github\";s:31:\"Accusantium id tempora facilis.\";s:4:\"href\";s:48:\"Quia
  tempora ipsum aperiam nihil voluptatem qui.\";s:2:\"id\";i:3360909363941664046;s:9:\"image_url\";s:47:\"Nihil
  nesciunt voluptatem reprehenderit et qui.\";s:9:\"last_name\";s:33:\"Libero cumque
  aut sit et numquam.\";s:8:\"linkedin\";s:44:\"Minima odit ex distinctio dolorem
  similique.\";s:7:\"twitter\";s:29:\"Atque molestiae numquam quae.\";}}}s:7:\"example\";O:8:\"stdClass\":5:{s:8:\"abstract\";s:12:\"Porro
  alias.\";s:6:\"detail\";s:36:\"Dolor in voluptatem sit neque iusto.\";s:2:\"id\";i:8959094650469010398;s:4:\"name\";s:54:\"Quae
  incidunt voluptatem dolores tempora esse impedit.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:60:\"Itaque
  praesentium incidunt illo distinctio fugit molestias.\";s:5:\"email\";s:14:\"Ex
  harum quis.\";s:10:\"first_name\";s:16:\"Aut ipsum dolor.\";s:6:\"github\";s:50:\"Voluptatum
  aut sapiente consequatur sit autem vel.\";s:4:\"href\";s:35:\"Et maiores quia dolorum
  ab officia.\";s:2:\"id\";i:3446227051356385407;s:9:\"image_url\";s:29:\"Similique
  reiciendis aut sit.\";s:9:\"last_name\";s:18:\"Et voluptatem eum.\";s:8:\"linkedin\";s:46:\"Omnis
  quasi consectetur iusto dolor iure fuga.\";s:7:\"twitter\";s:19:\"Aut placeat cumque.\";}}}s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":5:{s:8:\"abstract\";s:33:\"Id
  quis asperiores ipsum aliquam.\";s:6:\"detail\";s:30:\"Dolorum nobis nihil vero
  quae.\";s:2:\"id\";i:8987120857796313680;s:4:\"name\";s:56:\"Exercitationem nihil
  fugiat facilis qui molestias nihil.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:12:\"Expedita
  et.\";s:5:\"email\";s:49:\"Non quis pariatur voluptatem et reprehenderit et.\";s:10:\"first_name\";s:27:\"Quo
  ad blanditiis officiis.\";s:6:\"github\";s:13:\"Hic ex ea ut.\";s:4:\"href\";s:54:\"Dignissimos
  rerum repellat aut tempora nihil voluptas.\";s:2:\"id\";i:812480929769847995;s:9:\"image_url\";s:33:\"Dolor
  dolorum sequi corporis non.\";s:9:\"last_name\";s:44:\"Earum ut eum alias voluptatibus
  dolorem non.\";s:8:\"linkedin\";s:35:\"Praesentium quia enim et eos earum.\";s:7:\"twitter\";s:19:\"Officiis
  a at quia.\";}}i:1;O:8:\"stdClass\":5:{s:8:\"abstract\";s:11:\"Nisi nihil.\";s:6:\"detail\";s:25:\"Est
  perferendis velit et.\";s:2:\"id\";i:8212111820326801850;s:4:\"name\";s:29:\"Ipsa
  laudantium iste eos qui.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:8:\"Sed
  nam.\";s:5:\"email\";s:43:\"Minus molestiae necessitatibus totam porro.\";s:10:\"first_name\";s:11:\"Nam
  at hic.\";s:6:\"github\";s:15:\"Occaecati enim.\";s:4:\"href\";s:56:\"Incidunt sed
  aspernatur laudantium suscipit nihil omnis.\";s:2:\"id\";i:4768200440712950512;s:9:\"image_url\";s:19:\"Est
  est quis autem.\";s:9:\"last_name\";s:15:\"Accusantium et.\";s:8:\"linkedin\";s:20:\"Possimus
  dolore aut.\";s:7:\"twitter\";s:36:\"Suscipit fuga modi aut delectus qui.\";}}}}s:8:\"speakers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"bio\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"speaker
  bio\";s:7:\"example\";s:39:\"Eum hic accusamus qui aspernatur vitae.\";}s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"email
  address\";s:7:\"example\";s:17:\"Saepe odit porro.\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"first
  name\";s:7:\"example\";s:53:\"Harum tenetur sint aspernatur nemo inventore placeat.\";}s:6:\"github\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"github
  handle\";s:7:\"example\";s:12:\"Impedit vel.\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"Delectus
  ipsum facere qui vel.\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:3234056067242143871;s:6:\"format\";s:5:\"int64\";}s:9:\"image_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"url
  of speaker image\";s:7:\"example\";s:16:\"Debitis nostrum.\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"last
  name\";s:7:\"example\";s:29:\"Quia aut sed recusandae amet.\";}s:8:\"linkedin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"linkedin
  url\";s:7:\"example\";s:41:\"Omnis necessitatibus sequi ab qui itaque.\";}s:7:\"twitter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"twitter
  handle - no @\";s:7:\"example\";s:13:\"Est delectus.\";}}s:7:\"example\";O:8:\"stdClass\":10:{s:3:\"bio\";s:33:\"Vel
  saepe vel eum necessitatibus.\";s:5:\"email\";s:45:\"Repellat quos fugit quod dicta
  dolores iusto.\";s:10:\"first_name\";s:39:\"Aut id iusto minima est omnis mollitia.\";s:6:\"github\";s:26:\"Qui
  accusantium molestiae.\";s:4:\"href\";s:24:\"Et et et totam repellat.\";s:2:\"id\";i:7759144187772925207;s:9:\"image_url\";s:14:\"Ipsum
  quaerat.\";s:9:\"last_name\";s:26:\"Aut fugit dolor molestiae.\";s:8:\"linkedin\";s:17:\"Pariatur
  dolores.\";s:7:\"twitter\";s:27:\"Quas necessitatibus ea vel.\";}}s:7:\"example\";a:3:{i:0;O:8:\"stdClass\":10:{s:3:\"bio\";s:53:\"Inventore
  sequi quidem molestias nesciunt aspernatur.\";s:5:\"email\";s:41:\"Itaque eum ea
  temporibus quibusdam vitae.\";s:10:\"first_name\";s:12:\"Ut a et sit.\";s:6:\"github\";s:28:\"Quos
  in doloremque illo hic.\";s:4:\"href\";s:18:\"Incidunt quis quo.\";s:2:\"id\";i:3183414517644362271;s:9:\"image_url\";s:16:\"Illo
  reiciendis.\";s:9:\"last_name\";s:39:\"Dolores enim est cum dicta eum facilis.\";s:8:\"linkedin\";s:51:\"Enim
  ipsum tempore perferendis sapiente velit vero.\";s:7:\"twitter\";s:25:\"Odio est
  sunt omnis quia.\";}i:1;O:8:\"stdClass\":10:{s:3:\"bio\";s:13:\"Voluptas hic.\";s:5:\"email\";s:13:\"Hic
  incidunt.\";s:10:\"first_name\";s:32:\"Odit aut repudiandae asperiores.\";s:6:\"github\";s:50:\"Harum
  voluptas aut doloremque fugit omnis debitis.\";s:4:\"href\";s:51:\"Earum autem rerum
  consectetur officia corrupti eos.\";s:2:\"id\";i:3008284526923858790;s:9:\"image_url\";s:15:\"Voluptatum
  qui.\";s:9:\"last_name\";s:56:\"Excepturi quis consectetur nam facere numquam accusamus.\";s:8:\"linkedin\";s:28:\"Molestias
  et nisi similique.\";s:7:\"twitter\";s:28:\"A voluptas sed est qui sunt.\";}i:2;O:8:\"stdClass\":10:{s:3:\"bio\";s:41:\"Voluptatibus
  sint facere quibusdam nobis.\";s:5:\"email\";s:35:\"Dolores saepe quia quis nihil
  unde.\";s:10:\"first_name\";s:40:\"Ipsa occaecati exercitationem velit non.\";s:6:\"github\";s:13:\"Id
  molestias.\";s:4:\"href\";s:36:\"Quisquam vitae quia tenetur officia.\";s:2:\"id\";i:6587664006123639049;s:9:\"image_url\";s:24:\"Numquam
  quo id mollitia.\";s:9:\"last_name\";s:38:\"Omnis architecto sit hic et id labore.\";s:8:\"linkedin\";s:13:\"Libero
  in ad.\";s:7:\"twitter\";s:33:\"Quos dolor voluptatem saepe sunt.\";}}}s:10:\"start_date\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"start_date\";s:7:\"example\";s:25:\"1998-03-16T07:20:55-05:00\";s:6:\"format\";s:9:\"date-time\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"event
  URL\";s:7:\"example\";s:41:\"Quasi consequatur voluptatem natus error.\";}}s:7:\"example\";O:8:\"stdClass\":8:{s:8:\"end_date\";s:25:\"1983-01-25T06:26:06-05:00\";s:2:\"id\";i:4641383987606464932;s:8:\"location\";s:53:\"Soluta
  quia temporibus sunt dolorum temporibus quasi.\";s:4:\"name\";s:26:\"Distinctio
  sapiente eaque.\";s:13:\"presentations\";a:3:{i:0;O:8:\"stdClass\":5:{s:8:\"abstract\";s:47:\"Sunt
  voluptas provident ratione quo voluptatem.\";s:6:\"detail\";s:18:\"Eum sit beatae
  ut.\";s:2:\"id\";i:4868909360292392683;s:4:\"name\";s:33:\"Doloremque nulla deserunt
  dolore.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:30:\"Suscipit fugit
  possimus velit.\";s:5:\"email\";s:43:\"Omnis adipisci omnis quod repellendus quis.\";s:10:\"first_name\";s:26:\"Dolor
  est aperiam dolores.\";s:6:\"github\";s:22:\"Cumque illum a in sed.\";s:4:\"href\";s:8:\"Est
  hic.\";s:2:\"id\";i:8909298533104905850;s:9:\"image_url\";s:48:\"Inventore molestiae
  dicta voluptatem in tempore.\";s:9:\"last_name\";s:33:\"Eligendi autem ad exercitationem.\";s:8:\"linkedin\";s:29:\"Architecto
  et illo animi non.\";s:7:\"twitter\";s:20:\"Earum iure eligendi.\";}}i:1;O:8:\"stdClass\":5:{s:8:\"abstract\";s:32:\"Voluptatem
  in tenetur ut magnam.\";s:6:\"detail\";s:10:\"Autem sit.\";s:2:\"id\";i:7125382191676229814;s:4:\"name\";s:22:\"In
  itaque consectetur.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:51:\"Ducimus
  porro ut vel officia recusandae voluptatem.\";s:5:\"email\";s:13:\"Non minus et.\";s:10:\"first_name\";s:28:\"Provident
  reprehenderit non.\";s:6:\"github\";s:42:\"Eaque non velit id amet facilis provident.\";s:4:\"href\";s:29:\"Animi
  possimus maiores ipsam.\";s:2:\"id\";i:6279916552260440196;s:9:\"image_url\";s:7:\"Et
  aut.\";s:9:\"last_name\";s:27:\"Rerum consequatur corrupti.\";s:8:\"linkedin\";s:34:\"Iste
  vitae consectetur quia ut ea.\";s:7:\"twitter\";s:25:\"Voluptatem et voluptatem.\";}}i:2;O:8:\"stdClass\":5:{s:8:\"abstract\";s:42:\"Nostrum
  velit veniam itaque ea laudantium.\";s:6:\"detail\";s:35:\"Laudantium iure saepe
  dolorem fuga.\";s:2:\"id\";i:5562474282818170648;s:4:\"name\";s:23:\"Magnam illo
  voluptatem.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:32:\"Repellendus
  repudiandae odio ad.\";s:5:\"email\";s:21:\"At dolor omnis rerum.\";s:10:\"first_name\";s:42:\"Ex
  ut eum architecto modi beatae expedita.\";s:6:\"github\";s:19:\"Inventore delectus.\";s:4:\"href\";s:38:\"Consectetur
  quia et aperiam sit id id.\";s:2:\"id\";i:4209464997429369355;s:9:\"image_url\";s:15:\"Soluta
  sit eum.\";s:9:\"last_name\";s:49:\"Ut dolore provident non reprehenderit voluptatem.\";s:8:\"linkedin\";s:46:\"Cumque
  itaque numquam nihil temporibus maxime.\";s:7:\"twitter\";s:33:\"Ipsa cum rem at
  architecto fugit.\";}}}s:8:\"speakers\";a:1:{i:0;O:8:\"stdClass\":10:{s:3:\"bio\";s:10:\"Sed
  nihil.\";s:5:\"email\";s:22:\"Architecto iusto quia.\";s:10:\"first_name\";s:23:\"Nihil
  quis eius soluta.\";s:6:\"github\";s:38:\"Natus voluptas voluptates vitae alias.\";s:4:\"href\";s:16:\"Cum
  maxime quas.\";s:2:\"id\";i:5577550803105871973;s:9:\"image_url\";s:59:\"Consequatur
  facere vel velit molestias quis exercitationem.\";s:9:\"last_name\";s:48:\"Repellendus
  consectetur qui commodi earum error.\";s:8:\"linkedin\";s:23:\"Sit quam officia
  et et.\";s:7:\"twitter\";s:32:\"Est itaque neque facilis et eos.\";}}s:10:\"start_date\";s:25:\"1987-07-21T00:12:24-04:00\";s:3:\"url\";s:10:\"Quis
  esse.\";}}s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":8:{s:8:\"end_date\";s:25:\"1982-01-25T17:38:07-05:00\";s:2:\"id\";i:3317917414448628009;s:8:\"location\";s:56:\"Itaque
  aspernatur reiciendis aut debitis culpa nesciunt.\";s:4:\"name\";s:38:\"Voluptates
  quia nostrum ut ab quia et.\";s:13:\"presentations\";a:1:{i:0;O:8:\"stdClass\":5:{s:8:\"abstract\";s:12:\"Officia
  eos.\";s:6:\"detail\";s:31:\"Reprehenderit assumenda et est.\";s:2:\"id\";i:4109165099879283569;s:4:\"name\";s:31:\"Possimus
  dolore doloremque sed.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:14:\"Temporibus
  ut.\";s:5:\"email\";s:43:\"Quia temporibus ut libero ut laboriosam ad.\";s:10:\"first_name\";s:13:\"Aliquam
  iste.\";s:6:\"github\";s:21:\"In molestiae quo non.\";s:4:\"href\";s:42:\"Officiis
  sint ea neque quia minus laborum.\";s:2:\"id\";i:5295766604265264280;s:9:\"image_url\";s:9:\"Harum
  et.\";s:9:\"last_name\";s:18:\"Consequatur natus.\";s:8:\"linkedin\";s:43:\"Quas
  voluptates ullam veritatis soluta rem.\";s:7:\"twitter\";s:29:\"Est repudiandae
  eum quis eos.\";}}}s:8:\"speakers\";a:2:{i:0;O:8:\"stdClass\":10:{s:3:\"bio\";s:48:\"Veniam
  nostrum a dolorem tempore hic doloremque.\";s:5:\"email\";s:9:\"Non quia.\";s:10:\"first_name\";s:26:\"Perspiciatis
  quisquam est.\";s:6:\"github\";s:16:\"Quaerat nam qui.\";s:4:\"href\";s:50:\"Rerum
  officia dignissimos architecto fuga dolorum.\";s:2:\"id\";i:6858822207506392222;s:9:\"image_url\";s:19:\"Veritatis
  omnis id.\";s:9:\"last_name\";s:25:\"Deleniti veritatis sequi.\";s:8:\"linkedin\";s:28:\"Nesciunt
  sed omnis officiis.\";s:7:\"twitter\";s:13:\"Nesciunt est.\";}i:1;O:8:\"stdClass\":10:{s:3:\"bio\";s:24:\"Neque
  ipsam rem ea iure.\";s:5:\"email\";s:51:\"Corrupti mollitia et molestias temporibus
  enim qui.\";s:10:\"first_name\";s:37:\"Nostrum quo enim iure velit voluptas.\";s:6:\"github\";s:45:\"Ut
  autem eligendi voluptatibus ratione velit.\";s:4:\"href\";s:12:\"Mollitia ut.\";s:2:\"id\";i:3993282334128812025;s:9:\"image_url\";s:26:\"Consequatur
  minus dolores.\";s:9:\"last_name\";s:37:\"Eius est et aliquam inventore est ab.\";s:8:\"linkedin\";s:38:\"Ullam
  et sapiente quo qui facere unde.\";s:7:\"twitter\";s:29:\"Iusto corporis asperiores
  et.\";}}s:10:\"start_date\";s:25:\"1982-05-07T04:31:26-04:00\";s:3:\"url\";s:43:\"Qui
  dolorem aut vel numquam blanditiis sed.\";}i:1;O:8:\"stdClass\":8:{s:8:\"end_date\";s:25:\"2014-04-14T14:01:43-04:00\";s:2:\"id\";i:8006789703159549602;s:8:\"location\";s:44:\"Dolorem
  in laborum blanditiis reprehenderit.\";s:4:\"name\";s:24:\"Iste maiores aspernatur.\";s:13:\"presentations\";a:3:{i:0;O:8:\"stdClass\":5:{s:8:\"abstract\";s:37:\"Quidem
  quae veritatis quia eos omnis.\";s:6:\"detail\";s:56:\"Reiciendis veniam molestias
  ut quasi voluptas veritatis.\";s:2:\"id\";i:5200487861288189374;s:4:\"name\";s:10:\"Nam
  omnis.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:46:\"Odio repudiandae
  laboriosam sit aliquam iusto.\";s:5:\"email\";s:20:\"Omnis temporibus ea.\";s:10:\"first_name\";s:7:\"Et
  vel.\";s:6:\"github\";s:15:\"Nobis totam ut.\";s:4:\"href\";s:36:\"Rerum ut ea qui
  repellat ad tempore.\";s:2:\"id\";i:782328667748890442;s:9:\"image_url\";s:21:\"Tenetur
  cum suscipit.\";s:9:\"last_name\";s:43:\"Assumenda sapiente impedit aut rerum velit.\";s:8:\"linkedin\";s:28:\"Ut
  sed eos aspernatur vitae.\";s:7:\"twitter\";s:21:\"Eum id iure adipisci.\";}}i:1;O:8:\"stdClass\":5:{s:8:\"abstract\";s:24:\"Unde
  inventore corrupti.\";s:6:\"detail\";s:41:\"Quia omnis minus laborum accusamus minus.\";s:2:\"id\";i:5111889293273906715;s:4:\"name\";s:14:\"Dicta
  tempora.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:44:\"Iure aut dicta
  sit molestiae qui architecto.\";s:5:\"email\";s:37:\"Exercitationem non officiis
  corrupti.\";s:10:\"first_name\";s:55:\"Officia reprehenderit consequatur in doloremque
  dolore.\";s:6:\"github\";s:14:\"Similique cum.\";s:4:\"href\";s:46:\"Dignissimos
  ipsa quibusdam rerum consequuntur.\";s:2:\"id\";i:1798067530919552818;s:9:\"image_url\";s:45:\"Ad
  odio sit recusandae ducimus quos repellat.\";s:9:\"last_name\";s:26:\"Eum laudantium
  et quaerat.\";s:8:\"linkedin\";s:21:\"Id nemo magni qui ut.\";s:7:\"twitter\";s:22:\"Autem
  error quibusdam.\";}}i:2;O:8:\"stdClass\":5:{s:8:\"abstract\";s:32:\"Natus exercitationem
  reiciendis.\";s:6:\"detail\";s:19:\"Est quia excepturi.\";s:2:\"id\";i:1859139166926577831;s:4:\"name\";s:52:\"Alias
  voluptatem culpa est necessitatibus rerum vel.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:16:\"Qui
  qui officia.\";s:5:\"email\";s:10:\"Rerum est.\";s:10:\"first_name\";s:38:\"Et autem
  veritatis id similique porro.\";s:6:\"github\";s:49:\"Architecto et quidem odio
  consequatur et commodi.\";s:4:\"href\";s:27:\"Ea sapiente neque officiis.\";s:2:\"id\";i:2254924099770867910;s:9:\"image_url\";s:42:\"Porro
  iusto eos enim adipisci consequatur.\";s:9:\"last_name\";s:33:\"Explicabo qui autem
  qui sed eius.\";s:8:\"linkedin\";s:18:\"Doloribus commodi.\";s:7:\"twitter\";s:20:\"Omnis
  aut dolor eos.\";}}}s:8:\"speakers\";a:2:{i:0;O:8:\"stdClass\":10:{s:3:\"bio\";s:29:\"Occaecati
  officiis quasi est.\";s:5:\"email\";s:15:\"Ut sapiente ut.\";s:10:\"first_name\";s:46:\"Et
  vitae odio quisquam est blanditiis dolorem.\";s:6:\"github\";s:12:\"Vitae ipsum.\";s:4:\"href\";s:45:\"Minus
  modi vel consequuntur dignissimos nemo.\";s:2:\"id\";i:5037118019503107116;s:9:\"image_url\";s:27:\"Molestiae
  reiciendis rerum.\";s:9:\"last_name\";s:39:\"Tenetur numquam molestias ipsa dolorem.\";s:8:\"linkedin\";s:43:\"Voluptas
  veniam quidem doloremque corporis.\";s:7:\"twitter\";s:44:\"Non quo incidunt ea
  veritatis deleniti quia.\";}i:1;O:8:\"stdClass\":10:{s:3:\"bio\";s:46:\"Veniam dolore
  excepturi rerum saepe atque sed.\";s:5:\"email\";s:30:\"Optio quia similique incidunt.\";s:10:\"first_name\";s:58:\"Tempore
  aspernatur voluptatibus inventore illo laboriosam.\";s:6:\"github\";s:58:\"Dolorem
  quibusdam quibusdam dignissimos fuga molestiae in.\";s:4:\"href\";s:44:\"Labore
  laudantium distinctio officiis earum.\";s:2:\"id\";i:7926479926357173295;s:9:\"image_url\";s:23:\"Officiis
  et quas omnis.\";s:9:\"last_name\";s:13:\"Sunt nostrum.\";s:8:\"linkedin\";s:45:\"Voluptas
  aliquid asperiores quos consequatur.\";s:7:\"twitter\";s:38:\"Sit qui perspiciatis
  id ducimus alias.\";}}s:10:\"start_date\";s:25:\"2005-08-24T03:57:45-04:00\";s:3:\"url\";s:10:\"Aut
  ipsum.\";}}}s:12:\"Presentation\";O:8:\"stdClass\":5:{s:5:\"title\";s:55:\"Mediatype
  identifier: application/vnd.presentation+json\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"abstract\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"short
  description of talk\";s:7:\"example\";s:9:\"Ut nihil.\";}s:6:\"detail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"detailed
  description of talk - not for public display\";s:7:\"example\";s:37:\"Sit ducimus
  cupiditate quo molestias.\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:8211863283135363273;s:6:\"format\";s:5:\"int64\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"name
  of presentation\";s:7:\"example\";s:22:\"Corporis ullam itaque.\";}s:7:\"speaker\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"bio\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"speaker
  bio\";s:7:\"example\";s:39:\"Eum hic accusamus qui aspernatur vitae.\";}s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"email
  address\";s:7:\"example\";s:17:\"Saepe odit porro.\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"first
  name\";s:7:\"example\";s:53:\"Harum tenetur sint aspernatur nemo inventore placeat.\";}s:6:\"github\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"github
  handle\";s:7:\"example\";s:12:\"Impedit vel.\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"Delectus
  ipsum facere qui vel.\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:3234056067242143871;s:6:\"format\";s:5:\"int64\";}s:9:\"image_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"url
  of speaker image\";s:7:\"example\";s:16:\"Debitis nostrum.\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"last
  name\";s:7:\"example\";s:29:\"Quia aut sed recusandae amet.\";}s:8:\"linkedin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"linkedin
  url\";s:7:\"example\";s:41:\"Omnis necessitatibus sequi ab qui itaque.\";}s:7:\"twitter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"twitter
  handle - no @\";s:7:\"example\";s:13:\"Est delectus.\";}}s:11:\"description\";s:30:\"speaker
  who is giving the talk\";s:7:\"example\";O:8:\"stdClass\":10:{s:3:\"bio\";s:50:\"Id
  reiciendis hic et doloremque voluptatem veniam.\";s:5:\"email\";s:16:\"Dolor excepturi.\";s:10:\"first_name\";s:33:\"Voluptate
  rerum mollitia et sunt.\";s:6:\"github\";s:31:\"Accusantium id tempora facilis.\";s:4:\"href\";s:48:\"Quia
  tempora ipsum aperiam nihil voluptatem qui.\";s:2:\"id\";i:3360909363941664046;s:9:\"image_url\";s:47:\"Nihil
  nesciunt voluptatem reprehenderit et qui.\";s:9:\"last_name\";s:33:\"Libero cumque
  aut sit et numquam.\";s:8:\"linkedin\";s:44:\"Minima odit ex distinctio dolorem
  similique.\";s:7:\"twitter\";s:29:\"Atque molestiae numquam quae.\";}}}s:11:\"description\";s:53:\"A
  presentation is a scheduled talk given by a speaker\";s:7:\"example\";O:8:\"stdClass\":5:{s:8:\"abstract\";s:16:\"Numquam
  eveniet.\";s:6:\"detail\";s:38:\"Non laboriosam quo sed ducimus ut eum.\";s:2:\"id\";i:1942219196064683786;s:4:\"name\";s:40:\"Quisquam
  et earum numquam nihil aliquid.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:16:\"Dignissimos
  non.\";s:5:\"email\";s:32:\"Eum nam aperiam aut veniam unde.\";s:10:\"first_name\";s:34:\"In
  soluta ullam quis fugiat velit.\";s:6:\"github\";s:15:\"Enim provident.\";s:4:\"href\";s:16:\"Perspiciatis
  et.\";s:2:\"id\";i:8715654185554430465;s:9:\"image_url\";s:43:\"Nemo quasi tempore
  magni veniam ut ducimus.\";s:9:\"last_name\";s:23:\"Consectetur ipsum quia.\";s:8:\"linkedin\";s:49:\"Unde
  repellendus optio et amet pariatur mollitia.\";s:7:\"twitter\";s:22:\"Vel et sed
  quia et in.\";}}}s:22:\"PresentationCollection\";O:8:\"stdClass\":4:{s:5:\"title\";s:72:\"Mediatype
  identifier: application/vnd.presentation+json; type=collection\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"abstract\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"short
  description of talk\";s:7:\"example\";s:9:\"Ut nihil.\";}s:6:\"detail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"detailed
  description of talk - not for public display\";s:7:\"example\";s:37:\"Sit ducimus
  cupiditate quo molestias.\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:8211863283135363273;s:6:\"format\";s:5:\"int64\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"name
  of presentation\";s:7:\"example\";s:22:\"Corporis ullam itaque.\";}s:7:\"speaker\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"bio\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"speaker
  bio\";s:7:\"example\";s:39:\"Eum hic accusamus qui aspernatur vitae.\";}s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"email
  address\";s:7:\"example\";s:17:\"Saepe odit porro.\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"first
  name\";s:7:\"example\";s:53:\"Harum tenetur sint aspernatur nemo inventore placeat.\";}s:6:\"github\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"github
  handle\";s:7:\"example\";s:12:\"Impedit vel.\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"Delectus
  ipsum facere qui vel.\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:3234056067242143871;s:6:\"format\";s:5:\"int64\";}s:9:\"image_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"url
  of speaker image\";s:7:\"example\";s:16:\"Debitis nostrum.\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"last
  name\";s:7:\"example\";s:29:\"Quia aut sed recusandae amet.\";}s:8:\"linkedin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"linkedin
  url\";s:7:\"example\";s:41:\"Omnis necessitatibus sequi ab qui itaque.\";}s:7:\"twitter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"twitter
  handle - no @\";s:7:\"example\";s:13:\"Est delectus.\";}}s:11:\"description\";s:30:\"speaker
  who is giving the talk\";s:7:\"example\";O:8:\"stdClass\":10:{s:3:\"bio\";s:50:\"Id
  reiciendis hic et doloremque voluptatem veniam.\";s:5:\"email\";s:16:\"Dolor excepturi.\";s:10:\"first_name\";s:33:\"Voluptate
  rerum mollitia et sunt.\";s:6:\"github\";s:31:\"Accusantium id tempora facilis.\";s:4:\"href\";s:48:\"Quia
  tempora ipsum aperiam nihil voluptatem qui.\";s:2:\"id\";i:3360909363941664046;s:9:\"image_url\";s:47:\"Nihil
  nesciunt voluptatem reprehenderit et qui.\";s:9:\"last_name\";s:33:\"Libero cumque
  aut sit et numquam.\";s:8:\"linkedin\";s:44:\"Minima odit ex distinctio dolorem
  similique.\";s:7:\"twitter\";s:29:\"Atque molestiae numquam quae.\";}}}s:7:\"example\";O:8:\"stdClass\":5:{s:8:\"abstract\";s:12:\"Porro
  alias.\";s:6:\"detail\";s:36:\"Dolor in voluptatem sit neque iusto.\";s:2:\"id\";i:8959094650469010398;s:4:\"name\";s:54:\"Quae
  incidunt voluptatem dolores tempora esse impedit.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:60:\"Itaque
  praesentium incidunt illo distinctio fugit molestias.\";s:5:\"email\";s:14:\"Ex
  harum quis.\";s:10:\"first_name\";s:16:\"Aut ipsum dolor.\";s:6:\"github\";s:50:\"Voluptatum
  aut sapiente consequatur sit autem vel.\";s:4:\"href\";s:35:\"Et maiores quia dolorum
  ab officia.\";s:2:\"id\";i:3446227051356385407;s:9:\"image_url\";s:29:\"Similique
  reiciendis aut sit.\";s:9:\"last_name\";s:18:\"Et voluptatem eum.\";s:8:\"linkedin\";s:46:\"Omnis
  quasi consectetur iusto dolor iure fuga.\";s:7:\"twitter\";s:19:\"Aut placeat cumque.\";}}}s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":5:{s:8:\"abstract\";s:24:\"Pariatur
  labore aut qui.\";s:6:\"detail\";s:26:\"In numquam exercitationem.\";s:2:\"id\";i:1621220189088278400;s:4:\"name\";s:7:\"Est
  ut.\";s:7:\"speaker\";O:8:\"stdClass\":10:{s:3:\"bio\";s:30:\"Voluptatum et quia
  non ex eum.\";s:5:\"email\";s:21:\"Esse aut consequatur.\";s:10:\"first_name\";s:28:\"Voluptate
  ut nam ex aliquam.\";s:6:\"github\";s:42:\"Molestiae iure sed repellendus reiciendis.\";s:4:\"href\";s:18:\"Ipsam
  praesentium.\";s:2:\"id\";i:3519600227125143037;s:9:\"image_url\";s:14:\"Et enim
  magni.\";s:9:\"last_name\";s:39:\"Et est perferendis laudantium mollitia.\";s:8:\"linkedin\";s:25:\"Voluptatum
  molestias aut.\";s:7:\"twitter\";s:42:\"Modi dolorem voluptas dolor asperiores id.\";}}}}s:6:\"Series\";O:8:\"stdClass\":5:{s:5:\"title\";s:49:\"Mediatype
  identifier: application/vnd.series+json\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:5854521042413354769;s:6:\"format\";s:5:\"int64\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"name\";s:7:\"example\";s:43:\"Porro
  beatae molestiae repudiandae ea quas.\";}}s:11:\"description\";s:45:\"A series is
  a recurring event, e.g. GopherCon\";s:7:\"example\";O:8:\"stdClass\":2:{s:2:\"id\";i:7133943798714918050;s:4:\"name\";s:39:\"Repellendus
  sapiente dignissimos optio.\";}}s:16:\"SeriesCollection\";O:8:\"stdClass\":4:{s:5:\"title\";s:66:\"Mediatype
  identifier: application/vnd.series+json; type=collection\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:5854521042413354769;s:6:\"format\";s:5:\"int64\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"name\";s:7:\"example\";s:43:\"Porro
  beatae molestiae repudiandae ea quas.\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:2:\"id\";i:5780746183658769065;s:4:\"name\";s:45:\"Numquam
  eaque ut architecto quisquam dolorem.\";}}s:7:\"example\";a:3:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";i:1945541028233796983;s:4:\"name\";s:37:\"Corporis
  et dolores repellat qui eum.\";}i:1;O:8:\"stdClass\":2:{s:2:\"id\";i:5517364143324073633;s:4:\"name\";s:48:\"Magnam
  modi eligendi nihil cumque iusto aliquam.\";}i:2;O:8:\"stdClass\":2:{s:2:\"id\";i:3318527357296545674;s:4:\"name\";s:33:\"Repellendus
  non autem laboriosam.\";}}}s:7:\"Speaker\";O:8:\"stdClass\":5:{s:5:\"title\";s:50:\"Mediatype
  identifier: application/vnd.speaker+json\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"bio\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"speaker
  bio\";s:7:\"example\";s:39:\"Eum hic accusamus qui aspernatur vitae.\";}s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"email
  address\";s:7:\"example\";s:17:\"Saepe odit porro.\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"first
  name\";s:7:\"example\";s:53:\"Harum tenetur sint aspernatur nemo inventore placeat.\";}s:6:\"github\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"github
  handle\";s:7:\"example\";s:12:\"Impedit vel.\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"Delectus
  ipsum facere qui vel.\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:3234056067242143871;s:6:\"format\";s:5:\"int64\";}s:9:\"image_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"url
  of speaker image\";s:7:\"example\";s:16:\"Debitis nostrum.\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"last
  name\";s:7:\"example\";s:29:\"Quia aut sed recusandae amet.\";}s:8:\"linkedin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"linkedin
  url\";s:7:\"example\";s:41:\"Omnis necessitatibus sequi ab qui itaque.\";}s:7:\"twitter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"twitter
  handle - no @\";s:7:\"example\";s:13:\"Est delectus.\";}}s:11:\"description\";s:46:\"A
  speaker is someone giving a talk at an event\";s:7:\"example\";O:8:\"stdClass\":10:{s:3:\"bio\";s:21:\"Cumque
  eos voluptate.\";s:5:\"email\";s:37:\"Voluptate quasi repellendus cum eius.\";s:10:\"first_name\";s:39:\"Nihil
  corrupti ad qui omnis doloremque.\";s:6:\"github\";s:31:\"Ut et fugit sed autem
  voluptas.\";s:4:\"href\";s:63:\"Provident facilis recusandae aliquam consequuntur
  magnam dolor.\";s:2:\"id\";i:5845206586883501056;s:9:\"image_url\";s:30:\"Enim ipsum
  aut est fuga nihil.\";s:9:\"last_name\";s:12:\"Sit aut qui.\";s:8:\"linkedin\";s:25:\"Aliquid
  numquam est sunt.\";s:7:\"twitter\";s:16:\"Laborum aperiam.\";}}s:17:\"SpeakerCollection\";O:8:\"stdClass\":4:{s:5:\"title\";s:67:\"Mediatype
  identifier: application/vnd.speaker+json; type=collection\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"bio\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"speaker
  bio\";s:7:\"example\";s:39:\"Eum hic accusamus qui aspernatur vitae.\";}s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"email
  address\";s:7:\"example\";s:17:\"Saepe odit porro.\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"first
  name\";s:7:\"example\";s:53:\"Harum tenetur sint aspernatur nemo inventore placeat.\";}s:6:\"github\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"github
  handle\";s:7:\"example\";s:12:\"Impedit vel.\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"Delectus
  ipsum facere qui vel.\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:3234056067242143871;s:6:\"format\";s:5:\"int64\";}s:9:\"image_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"url
  of speaker image\";s:7:\"example\";s:16:\"Debitis nostrum.\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"last
  name\";s:7:\"example\";s:29:\"Quia aut sed recusandae amet.\";}s:8:\"linkedin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"linkedin
  url\";s:7:\"example\";s:41:\"Omnis necessitatibus sequi ab qui itaque.\";}s:7:\"twitter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"twitter
  handle - no @\";s:7:\"example\";s:13:\"Est delectus.\";}}s:7:\"example\";O:8:\"stdClass\":10:{s:3:\"bio\";s:33:\"Vel
  saepe vel eum necessitatibus.\";s:5:\"email\";s:45:\"Repellat quos fugit quod dicta
  dolores iusto.\";s:10:\"first_name\";s:39:\"Aut id iusto minima est omnis mollitia.\";s:6:\"github\";s:26:\"Qui
  accusantium molestiae.\";s:4:\"href\";s:24:\"Et et et totam repellat.\";s:2:\"id\";i:7759144187772925207;s:9:\"image_url\";s:14:\"Ipsum
  quaerat.\";s:9:\"last_name\";s:26:\"Aut fugit dolor molestiae.\";s:8:\"linkedin\";s:17:\"Pariatur
  dolores.\";s:7:\"twitter\";s:27:\"Quas necessitatibus ea vel.\";}}s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":10:{s:3:\"bio\";s:36:\"Sit
  voluptas nemo nobis harum rerum.\";s:5:\"email\";s:29:\"Architecto voluptate debitis.\";s:10:\"first_name\";s:53:\"Qui
  quia et excepturi repellendus voluptate suscipit.\";s:6:\"github\";s:12:\"Omnis
  nobis.\";s:4:\"href\";s:38:\"Quos repudiandae expedita sint quidem.\";s:2:\"id\";i:6454163564242337776;s:9:\"image_url\";s:22:\"Quibusdam
  ut quisquam.\";s:9:\"last_name\";s:19:\"A nesciunt dolorem.\";s:8:\"linkedin\";s:13:\"Et
  molestiae.\";s:7:\"twitter\";s:37:\"A tempore reiciendis velit aut ipsum.\";}}}s:6:\"Tenant\";O:8:\"stdClass\":5:{s:5:\"title\";s:49:\"Mediatype
  identifier: application/vnd.tenant+json\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:2:\"ID\";s:7:\"example\";i:1999400714536249347;s:6:\"format\";s:5:\"int64\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"name\";s:7:\"example\";s:8:\"Sit
  eos.\";}}s:11:\"description\";s:23:\"Tenant account in Congo\";s:7:\"example\";O:8:\"stdClass\":2:{s:2:\"id\";i:1848986484678543591;s:4:\"name\";s:35:\"Consectetur
  nostrum voluptas nihil.\";}}s:16:\"TenantCollection\";O:8:\"stdClass\":4:{s:5:\"title\";s:66:\"Mediatype
  identifier: application/vnd.tenant+json; type=collection\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:2:\"ID\";s:7:\"example\";i:1999400714536249347;s:6:\"format\";s:5:\"int64\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"name\";s:7:\"example\";s:8:\"Sit
  eos.\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:2:\"id\";i:2623300372570824163;s:4:\"name\";s:21:\"Neque
  voluptatum vel.\";}}s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";i:1424040913438738500;s:4:\"name\";s:23:\"Corrupti
  debitis natus.\";}i:1;O:8:\"stdClass\":2:{s:2:\"id\";i:4607429923016203345;s:4:\"name\";s:30:\"Et
  quia aut omnis et mollitia.\";}}}s:22:\"UpdateAdminuserPayload\";O:8:\"stdClass\":3:{s:5:\"title\";s:22:\"UpdateAdminuserPayload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}s:10:\"first_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:8;}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"validated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"validation_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:8;}}}s:18:\"UpdateEventPayload\";O:8:\"stdClass\":3:{s:5:\"title\";s:18:\"UpdateEventPayload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"end_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}s:10:\"start_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:5;}}}s:25:\"UpdatePresentationPayload\";O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"UpdatePresentationPayload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"abstract\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:10;}s:6:\"detail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"UpdateSeriesPayload\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"UpdateSeriesPayload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}}}s:20:\"UpdateSpeakerPayload\";O:8:\"stdClass\":3:{s:5:\"title\";s:20:\"UpdateSpeakerPayload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"bio\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}s:6:\"github\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"image_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:5;}s:9:\"last_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}s:8:\"linkedin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"twitter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"UpdateTenantPayload\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"UpdateTenantPayload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}}}s:17:\"UpdateUserPayload\";O:8:\"stdClass\":3:{s:5:\"title\";s:17:\"UpdateUserPayload\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}s:10:\"first_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:8;}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"validated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"validation_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:8;}}}s:4:\"User\";O:8:\"stdClass\":5:{s:5:\"title\";s:47:\"Mediatype
  identifier: application/vnd.user+json\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"active\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:17:\"Activation
  status\";s:7:\"example\";b:0;}s:5:\"email\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Email
  address of user\";s:7:\"example\";s:2:\"wz\";s:6:\"format\";s:5:\"email\";s:9:\"minLength\";i:2;}s:10:\"first_name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"First
  name of user\";s:7:\"example\";s:4:\"bjyh\";s:9:\"minLength\";i:2;}s:4:\"href\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"API
  href of record\";s:7:\"example\";s:33:\"Nisi aspernatur non voluptatibus.\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:8769875072716209837;s:6:\"format\";s:5:\"int64\";}s:9:\"last_name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Last
  name of user\";s:7:\"example\";s:2:\"j8\";s:9:\"minLength\";i:2;}s:4:\"role\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"User's
  role\";s:7:\"example\";s:20:\"Aliquid aut id quia.\";}s:9:\"tenant_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:7069450719703720201;s:6:\"format\";s:5:\"int64\";}s:9:\"validated\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:17:\"Validation
  status\";s:7:\"example\";b:1;}}s:11:\"description\";s:28:\"A user belonging to a
  tenant\";s:7:\"example\";O:8:\"stdClass\":9:{s:6:\"active\";b:0;s:5:\"email\";s:42:\"Fuga
  voluptatem maxime quos ut nemo atque.\";s:10:\"first_name\";s:17:\"Repellat placeat.\";s:4:\"href\";s:25:\"Aut
  rerum asperiores sed.\";s:2:\"id\";i:8228687825420379810;s:9:\"last_name\";s:24:\"Incidunt
  qui odio totam.\";s:4:\"role\";s:42:\"Odio quia voluptas accusamus perspiciatis.\";s:9:\"tenant_id\";i:3020897881766934989;s:9:\"validated\";b:0;}}s:14:\"UserCollection\";O:8:\"stdClass\":4:{s:5:\"title\";s:64:\"Mediatype
  identifier: application/vnd.user+json; type=collection\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"active\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:17:\"Activation
  status\";s:7:\"example\";b:0;}s:5:\"email\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Email
  address of user\";s:7:\"example\";s:2:\"wz\";s:6:\"format\";s:5:\"email\";s:9:\"minLength\";i:2;}s:10:\"first_name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"First
  name of user\";s:7:\"example\";s:4:\"bjyh\";s:9:\"minLength\";i:2;}s:4:\"href\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"API
  href of record\";s:7:\"example\";s:33:\"Nisi aspernatur non voluptatibus.\";}s:2:\"id\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"ID
  of record\";s:7:\"example\";i:8769875072716209837;s:6:\"format\";s:5:\"int64\";}s:9:\"last_name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Last
  name of user\";s:7:\"example\";s:2:\"j8\";s:9:\"minLength\";i:2;}s:4:\"role\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"User's
  role\";s:7:\"example\";s:20:\"Aliquid aut id quia.\";}s:9:\"tenant_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:7069450719703720201;s:6:\"format\";s:5:\"int64\";}s:9:\"validated\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:17:\"Validation
  status\";s:7:\"example\";b:1;}}s:7:\"example\";O:8:\"stdClass\":9:{s:6:\"active\";b:0;s:5:\"email\";s:29:\"Ea
  non nobis quis dicta quas.\";s:10:\"first_name\";s:56:\"Sed dolorem quisquam et
  dolorum necessitatibus repellat.\";s:4:\"href\";s:26:\"Non soluta quod assumenda.\";s:2:\"id\";i:2864799652432519458;s:9:\"last_name\";s:44:\"Ut
  tempora officiis totam qui et voluptatem.\";s:4:\"role\";s:27:\"Soluta sit dolores
  et odio.\";s:9:\"tenant_id\";i:1157957693370268354;s:9:\"validated\";b:0;}}s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":9:{s:6:\"active\";b:1;s:5:\"email\";s:25:\"Ab
  molestiae perferendis.\";s:10:\"first_name\";s:38:\"Aut aliquid expedita velit blanditiis.\";s:4:\"href\";s:44:\"Cum
  qui dolorum tenetur consequatur placeat.\";s:2:\"id\";i:3332962311508724350;s:9:\"last_name\";s:28:\"Vero
  consequatur beatae vel.\";s:4:\"role\";s:33:\"Nobis ipsum minus sed quod autem.\";s:9:\"tenant_id\";i:29406679474417738;s:9:\"validated\";b:0;}i:1;O:8:\"stdClass\":9:{s:6:\"active\";b:1;s:5:\"email\";s:31:\"Saepe
  voluptas labore deserunt.\";s:10:\"first_name\";s:12:\"Cum nisi et.\";s:4:\"href\";s:36:\"Vel
  ut molestiae eligendi similique.\";s:2:\"id\";i:5605687352271896603;s:9:\"last_name\";s:23:\"Distinctio
  quia ab cum.\";s:4:\"role\";s:11:\"Qui soluta.\";s:9:\"tenant_id\";i:1405392381356536020;s:9:\"validated\";b:0;}}}}"
...
