---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:11:\"description\";s:37:\"Test
  our API services using I/O Docs.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:5:\"title\";s:15:\"Rotten
  Tomatoes\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:87:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_RottenTomatoes_profile_image.jpeg\";}s:12:\"x-mashery-id\";s:4:\"1217\";s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:135:\"https://raw.githubusercontent.com/Mermade/openapi_specifications/master/mashery/api.rottentomatoes.com/Rotten-Tomatoes/1.0/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:18:\"rottentomatoes.com\";s:16:\"x-unofficialSpec\";b:1;}"
host: api.rottentomatoes.com
basePath: /api/public/v1.0
paths:
  /lists.json:
    get:
      operationId: ListsDirectoryTopLevelLists
      parameters: []
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - Top Level Lists
  /lists/dvds.json:
    get:
      operationId: DVDListsDirectoryTopLevelLists
      parameters: []
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - Top Level Lists
  /lists/dvds/current_releases.json:
    get:
      operationId: CurrentReleaseDVDsDVDLists
      parameters:
      - default: "16"
        description: The amount of new release dvds to show per page
        in: query
        name: page_limit
        required: false
        type: string
      - default: "1"
        description: The selected page of current DVD releases
        in: query
        name: page
        required: false
        type: string
      - default: us
        description: Provides localized data for the selected country (ISO 3166-1
          alpha-2) if available. Otherwise, returns US data.
        in: query
        name: country
        required: false
        type: string
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - DVD Lists
  /lists/dvds/new_releases.json:
    get:
      operationId: NewReleaseDVDsDVDLists
      parameters:
      - default: "16"
        description: The amount of new release dvds to show per page
        in: query
        name: page_limit
        required: false
        type: string
      - default: "1"
        description: The selected page of new release DVDs
        in: query
        name: page
        required: false
        type: string
      - default: us
        description: Provides localized data for the selected country (ISO 3166-1
          alpha-2) if available. Otherwise, returns US data.
        in: query
        name: country
        required: false
        type: string
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - DVD Lists
  /lists/dvds/top_rentals.json:
    get:
      operationId: TopRentalsDVDLists
      parameters:
      - default: "10"
        description: Limits the number of top rentals returned
        in: query
        name: limit
        required: false
        type: string
      - default: us
        description: Provides localized data for the selected country (ISO 3166-1
          alpha-2) if available. Otherwise, returns US data.
        in: query
        name: country
        required: false
        type: string
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - DVD Lists
  /lists/dvds/upcoming.json:
    get:
      operationId: UpcomingDVDsDVDLists
      parameters:
      - default: "16"
        description: The amount of upcoming dvds to show per page
        in: query
        name: page_limit
        required: false
        type: string
      - default: "1"
        description: The selected page of upcoming DVDs
        in: query
        name: page
        required: false
        type: string
      - default: us
        description: Provides localized data for the selected country (ISO 3166-1
          alpha-2) if available. Otherwise, returns US data.
        in: query
        name: country
        required: false
        type: string
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - DVD Lists
  /lists/movies.json:
    get:
      operationId: MovieListsDirectoryTopLevelLists
      parameters: []
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - Top Level Lists
  /lists/movies/box_office.json:
    get:
      operationId: BoxOfficeMovieLists
      parameters:
      - default: "16"
        description: Limits the number of movies returned
        in: query
        name: limit
        required: false
        type: string
      - default: us
        description: Provides localized data for the selected country (ISO 3166-1
          alpha-2) if available. Otherwise, returns US data.
        in: query
        name: country
        required: false
        type: string
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - Movie Lists
  /lists/movies/in_theaters.json:
    get:
      operationId: InTheatersMovieLists
      parameters:
      - default: "16"
        description: The amount of movies in theaters to show per page
        in: query
        name: page_limit
        required: false
        type: string
      - default: "1"
        description: The selected page of in theaters movies
        in: query
        name: page
        required: false
        type: string
      - default: us
        description: Provides localized data for the selected country (ISO 3166-1
          alpha-2) if available. Otherwise, returns US data.
        in: query
        name: country
        required: false
        type: string
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - Movie Lists
  /lists/movies/opening.json:
    get:
      operationId: OpeningMoviesMovieLists
      parameters:
      - default: "16"
        description: Limits the number of opening movies returned
        in: query
        name: limit
        required: false
        type: string
      - default: us
        description: Provides localized data for the selected country (ISO 3166-1
          alpha-2) if available. Otherwise, returns US data.
        in: query
        name: country
        required: false
        type: string
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - Movie Lists
  /lists/movies/upcoming.json:
    get:
      operationId: UpcomingMoviesMovieLists
      parameters:
      - default: "16"
        description: The amount of upcoming movies to show per page
        in: query
        name: page_limit
        required: false
        type: string
      - default: "1"
        description: The selected page of upcoming movies
        in: query
        name: page
        required: false
        type: string
      - default: us
        description: Provides localized data for the selected country (ISO 3166-1
          alpha-2) if available. Otherwise, returns US data.
        in: query
        name: country
        required: false
        type: string
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - Movie Lists
  /movie_alias.json:
    get:
      operationId: MoviesAliasDetailedInfo
      parameters:
      - default: 0031381
        description: Movie ID. You can use the movies search endpoint or peruse the
          lists of movies/dvds to get the Movie ID
        in: query
        name: id
        required: false
        type: string
      - default: imdb
        description: Only supports imdb lookup at this time
        in: query
        name: type
        required: false
        type: string
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - Detailed Info
  /movies.json:
    get:
      operationId: MoviesSearchSearch
      parameters:
      - description: The plain text search query to search for a movie. Remember to
          URI encode this!
        in: query
        name: q
        required: false
        type: string
      - default: "10"
        description: The amount of movie search results to show per page
        in: query
        name: page_limit
        required: false
        type: string
      - default: "1"
        description: The selected page of movie search results
        in: query
        name: page
        required: false
        type: string
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - Search
  /movies/{id}.json:
    get:
      operationId: MoviesInfoDetailedInfo
      parameters:
      - default: "770672122"
        description: Movie ID. You can use the movies search endpoint or peruse the
          lists of movies/dvds to get the Movie ID
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - Detailed Info
  /movies/{id}/cast.json:
    get:
      operationId: CastInfoDetailedInfo
      parameters:
      - default: "770672122"
        description: Movie ID. You can use the movies search endpoint or peruse the
          lists of movies/dvds to get the Movie ID
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - Detailed Info
  /movies/{id}/clips.json:
    get:
      operationId: MovieClipsDetailedInfo
      parameters:
      - default: "770672122"
        description: Movie ID. You can use the movies search endpoint or peruse the
          lists of movies/dvds to get the Movie ID
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - Detailed Info
  /movies/{id}/reviews.json:
    get:
      operationId: MoviesReviewsDetailedInfo
      parameters:
      - default: "770672122"
        description: Movie ID. You can use the movies search endpoint or peruse the
          lists of movies/dvds to get the Movie ID
        in: path
        name: id
        required: true
        type: string
      - default: top_critic
        description: '3 different review types are possible: ''all'', ''top_critic''
          and ''dvd''. ''top_critic'' shows all the Rotten Tomatoes designated top
          critics. ''dvd'' pulls the reviews given on the DVD of the movie. ''all''
          as the name implies retrieves all reviews.'
        in: query
        name: review_type
        required: false
        type: string
      - default: "20"
        description: The number of reviews to show per page
        in: query
        name: page_limit
        required: false
        type: string
      - default: "1"
        description: The selected page of reviews
        in: query
        name: page
        required: false
        type: string
      - default: us
        description: Provides localized data for the selected country (ISO 3166-1
          alpha-2) if available. Otherwise, returns US data.
        in: query
        name: country
        required: false
        type: string
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - Detailed Info
  /movies/{id}/similar.json:
    get:
      operationId: MoviesSimilarDetailedInfo
      parameters:
      - default: "770672122"
        description: Movie ID. You can use the movies search endpoint or peruse the
          lists of movies/dvds to get the Movie ID
        in: path
        name: id
        required: true
        type: string
      - default: "5"
        description: Limit the number of similar movies to show
        in: query
        name: limit
        required: false
        type: string
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: ""
      tags:
      - Detailed Info
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
