---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:49:\"Webcomic of romance,
  sarcasm, math, and language.\";s:5:\"title\";s:4:\"XKCD\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:85:\"https://api.apis.guru/v2/cache/logo/http_imgs.xkcd.com_static_terrible_small_logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:103:\"https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/xkcd.com/1.0.0/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:8:\"xkcd.com\";s:6:\"x-tags\";a:2:{i:0;s:5:\"humor\";i:1;s:6:\"comics\";}s:16:\"x-unofficialSpec\";b:1;s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"xkcd\";s:4:\"type\";s:7:\"openapi\";}}"
host: xkcd.com
basePath: /
paths:
  /info.0.json:
    get:
      description: Fetch current comic and metadata.n
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/comic'
      operationId: getLatestComic
  /{comicId}/info.0.json:
    get:
      description: Fetch comics and metadata  by comic id.n
      parameters:
      - in: path
        name: comicId
        required: true
        type: number
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/comic'
      operationId: getComic
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":1:{s:5:\"comic\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:3:\"alt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"img\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"month\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"news\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"num\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"safe_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"transcript\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"year\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
