---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:53:\"All
  public APIs for AWS Cost and Usage Report service\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:33:\"AWS
  Cost and Usage Report Service\";s:7:\"version\";s:10:\"2017-01-06\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cur-2017-01-06.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:3:\"cur\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"amazonaws_cur\";s:4:\"type\";s:7:\"openapi\";}}"
host: cur.amazonaws.com
basePath: /
paths:
  /:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Delete a specified report definition
      operationId: DeleteReportDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteReportDefinitionRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteReportDefinitionResponse'
        480:
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        481:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  /#DescribeReportDefinitions:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describe a list of report definitions owned by the account
      operationId: DescribeReportDefinitions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeReportDefinitionsRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeReportDefinitionsResponse'
        480:
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
  /#PutReportDefinition:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Create a new report definition
      operationId: PutReportDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutReportDefinitionRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PutReportDefinitionResponse'
        480:
          description: DuplicateReportNameException
          schema:
            $ref: '#/definitions/DuplicateReportNameException'
        481:
          description: ReportLimitReachedException
          schema:
            $ref: '#/definitions/ReportLimitReachedException'
        482:
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        483:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":27:{s:9:\"AWSRegion\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Region
  of customer S3 bucket.\";s:4:\"enum\";a:8:{i:0;s:9:\"us-east-1\";i:1;s:9:\"us-west-1\";i:2;s:9:\"us-west-2\";i:3;s:12:\"eu-central-1\";i:4;s:9:\"eu-west-1\";i:5;s:14:\"ap-southeast-1\";i:6;s:14:\"ap-southeast-2\";i:7;s:14:\"ap-northeast-1\";}s:4:\"type\";s:6:\"string\";}s:18:\"AdditionalArtifact\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Enable
  support for Redshift and/or QuickSight.\";s:4:\"enum\";a:2:{i:0;s:8:\"REDSHIFT\";i:1;s:10:\"QUICKSIGHT\";}s:4:\"type\";s:6:\"string\";}s:22:\"AdditionalArtifactList\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  list of additional artifacts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AdditionalArtifact\";}s:4:\"type\";s:5:\"array\";}s:17:\"CompressionFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Preferred
  compression format for report.\";s:4:\"enum\";a:2:{i:0;s:3:\"ZIP\";i:1;s:4:\"GZIP\";}s:4:\"type\";s:6:\"string\";}s:29:\"DeleteReportDefinitionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Request
  of DeleteReportDefinition\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"ReportName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ReportName\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DeleteReportDefinitionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Response
  of DeleteReportDefinition\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"ResponseMessage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeleteResponseMessage\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteResponseMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"A
  message indicates if the deletion is successful.\";s:4:\"type\";s:6:\"string\";}s:32:\"DescribeReportDefinitionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Request
  of DescribeReportDefinitions\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MaxResults\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DescribeReportDefinitionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Response
  of DescribeReportDefinitions\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";}s:17:\"ReportDefinitions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ReportDefinitionList\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DuplicateReportNameException\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"This
  exception is thrown when putting a report preference with a name that already exists.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"A
  message to show the detail of the exception.\";s:4:\"type\";s:6:\"string\";}s:13:\"GenericString\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"A
  generic string.\";s:4:\"type\";s:6:\"string\";}s:22:\"InternalErrorException\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"This
  exception is thrown on a known dependency failure.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  max number of results returned by the operation.\";s:7:\"maximum\";i:5;s:7:\"minimum\";i:5;s:4:\"type\";s:7:\"integer\";}s:26:\"PutReportDefinitionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Request
  of PutReportDefinition\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"ReportDefinition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReportDefinition\";}}s:8:\"required\";a:1:{i:0;s:16:\"ReportDefinition\";}s:4:\"type\";s:6:\"object\";}s:27:\"PutReportDefinitionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Response
  of PutReportDefinition\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"ReportDefinition\";O:8:\"stdClass\":4:{s:11:\"description\";s:202:\"The
  definition of AWS Cost and Usage Report. Customer can specify the report name, time
  unit, report format, compression format, S3 bucket and additional artifacts and
  schema elements in the definition.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:19:\"AdditionalArtifacts\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AdditionalArtifactList\";}s:24:\"AdditionalSchemaElements\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SchemaElementList\";}s:11:\"Compression\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CompressionFormat\";}s:6:\"Format\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ReportFormat\";}s:10:\"ReportName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ReportName\";}s:8:\"S3Bucket\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/S3Bucket\";}s:8:\"S3Prefix\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/S3Prefix\";}s:8:\"S3Region\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AWSRegion\";}s:8:\"TimeUnit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TimeUnit\";}}s:8:\"required\";a:8:{i:0;s:10:\"ReportName\";i:1;s:8:\"TimeUnit\";i:2;s:6:\"Format\";i:3;s:11:\"Compression\";i:4;s:24:\"AdditionalSchemaElements\";i:5;s:8:\"S3Bucket\";i:6;s:8:\"S3Prefix\";i:7;s:8:\"S3Region\";}s:4:\"type\";s:6:\"object\";}s:20:\"ReportDefinitionList\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  list of report definitions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReportDefinition\";}s:4:\"type\";s:5:\"array\";}s:12:\"ReportFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Preferred
  format for report.\";s:4:\"enum\";a:1:{i:0;s:9:\"textORcsv\";}s:4:\"type\";s:6:\"string\";}s:27:\"ReportLimitReachedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"This
  exception is thrown when the number of report preference reaches max limit. The
  max number is 5.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ReportName\";O:8:\"stdClass\":4:{s:11:\"description\";s:126:\"Preferred
  name for a report, it has to be unique. Must starts with a number/letter, case sensitive.
  Limited to 256 characters.\";s:9:\"maxLength\";i:256;s:7:\"pattern\";s:22:\"[0-9A-Za-z!\\-_.*\\'()]+\";s:4:\"type\";s:6:\"string\";}s:8:\"S3Bucket\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Name
  of customer S3 bucket.\";s:9:\"maxLength\";i:256;s:4:\"type\";s:6:\"string\";}s:8:\"S3Prefix\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Preferred
  report path prefix. Limited to 256 characters.\";s:9:\"maxLength\";i:256;s:7:\"pattern\";s:23:\"[0-9A-Za-z!\\-_.*\\'()/]*\";s:4:\"type\";s:6:\"string\";}s:13:\"SchemaElement\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Preference
  of including Resource IDs. You can include additional details about individual resource
  IDs in your report.\";s:4:\"enum\";a:1:{i:0;s:9:\"RESOURCES\";}s:4:\"type\";s:6:\"string\";}s:17:\"SchemaElementList\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"A
  list of schema elements.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SchemaElement\";}s:4:\"type\";s:5:\"array\";}s:8:\"TimeUnit\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  frequency on which report data are measured and displayed.\";s:4:\"enum\";a:2:{i:0;s:6:\"HOURLY\";i:1;s:5:\"DAILY\";}s:4:\"type\";s:6:\"string\";}s:19:\"ValidationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"This
  exception is thrown when providing an invalid input. eg. Put a report preference
  with an invalid report name, or Delete a report preference with an empty report
  name.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}}"
...
