---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:17:\"Zoomdata Rest API\";s:7:\"version\";s:32:\"application/vnd.zoomdata.v1+json\";s:5:\"title\";s:17:\"Zoomdata
  Rest API\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:20:\"support@zoomdata.com\";}s:7:\"license\";O:8:\"stdClass\":1:{s:4:\"name\";s:1:\"
  \";}}"
host: 2-4-latest.zoomdata.com
basePath: /zoomdata
paths:
  /api/accounts:
    get:
      tags:
      - accounts
      summary: Retrieve a list of the accounts in the system
      description: Supported starting from 2.0 version
      operationId: getAccountsUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abSystem Accountu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - accounts
      summary: Create an account
      description: Supported starting from 2.0 version
      operationId: createUsingPOST
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - in: body
        name: input
        description: input
        required: true
        schema:
          $ref: '#/definitions/New System Account'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/System Account'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/accounts/name/{name}:
    get:
      tags:
      - accounts
      summary: Retrieve a specific account by name
      description: Supported starting from 2.0 version
      operationId: getAccountByNameUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: name
        in: path
        description: name
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/System Account'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/accounts/{accountId}/connections:
    get:
      tags:
      - connections
      summary: Retrieve a list of the connections in an account
      description: Supported starting from 2.0 version
      operationId: getConnectionsUsingGET_1
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abData Source Connectionu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - connections
      summary: Create a connection in an account
      description: Supported starting from 2.0 version
      operationId: createUsingPOST_2
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/Data Source Connection'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Data Source Connection'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/accounts/{accountId}/connections/name/{name}:
    get:
      tags:
      - connections
      summary: Retrieve a connection by name
      description: Supported starting from 2.0 version
      operationId: getConnectionByNameUsingGET_1
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - name: name
        in: path
        description: name
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Data Source Connection'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/accounts/{accountId}/dashboards:
    get:
      tags:
      - dashboard
      summary: Retrieve the dashboards in an account
      description: Supported starting from 2.2 version
      operationId: getAccountDashboardsUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abDashboardu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/accounts/{accountId}/groups:
    get:
      tags:
      - groups
      summary: Retrieve a list of the groups for an account
      description: Supported starting from 2.0 version
      operationId: getAccountGroupsUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abGroupu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - groups
      summary: Create a group in an account
      description: Supported starting from 2.0 version
      operationId: createUsingPOST_4
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/Group'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Group'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/accounts/{accountId}/groups/name/{name}:
    get:
      tags:
      - groups
      summary: Retrieve a group by name
      description: Supported starting from 2.0 version
      operationId: getGroupByNameUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - name: name
        in: path
        description: name
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Group'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/accounts/{accountId}/sources:
    get:
      tags:
      - sources
      summary: Retrieve the data sources for an account
      description: Supported starting from 2.0 version
      operationId: getAccountSourcesUsingGET_1
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abData Sourceu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/accounts/{accountId}/sources/file:
    post:
      tags:
      - upload
      summary: Create a source from a flat file
      description: Supported starting from 2.2 version
      operationId: createUsingPOST_8
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/Data Source'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Data Source'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/accounts/{accountId}/sources/name/{name}:
    get:
      tags:
      - sources
      summary: Retrieve a data source by name
      description: Supported starting from 2.0 version
      operationId: getSourceByNameUsingGET_1
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - name: name
        in: path
        description: name
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Data Source'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/accounts/{accountId}/users:
    get:
      tags:
      - users
      summary: Retrieve the users for an account
      description: Supported starting from 2.0 version
      operationId: getAccountUsersUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abSystem Useru00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - users
      summary: Create a user in an account
      description: Supported starting from 2.0 version
      operationId: createUsingPOST_9
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/System User'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/System User'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - accounts
      summary: Add an existing user to an account
      description: Supported starting from 2.2 version
      operationId: updateUserAccountsUsingPUT
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/User configuration within each account'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User configuration within each account'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/accounts/{accountId}/users/{id}:
    delete:
      tags:
      - accounts
      summary: Remove a user from an account w/o deleting the user
      description: Supported starting from 2.2 version
      operationId: removeUserFromAccountUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/accounts/{accountId}/users/{userId}:
    get:
      tags:
      - users
      summary: Retrieve a users membership information to a specific account
      description: Supported starting from 2.2 version
      operationId: getUserAccountUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: userId
        in: path
        description: userId
        required: true
        type: string
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User configuration within each account'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    patch:
      tags:
      - users
      summary: Update the currently logged in current account ID and re-authenticate
      description: Supported starting from 2.2 version
      operationId: changeCurrentAccountUsingPATCH
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - '*/*'
      parameters:
      - name: accountId
        in: path
        description: accountId
        required: true
        type: string
      - name: userId
        in: path
        description: userId
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/accounts/{id}:
    get:
      tags:
      - accounts
      summary: Retrieve a specific account by ID
      description: Supported starting from 2.0 version
      operationId: getAccountUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/System Account'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - accounts
      summary: Update an account by ID
      description: Supported starting from 2.0 version
      operationId: updateUsingPUT
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: input
        description: input
        required: true
        schema:
          $ref: '#/definitions/System Account'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/System Account'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - accounts
      summary: Delete an account by ID
      description: Supported starting from 2.0 version
      operationId: deleteUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/accounts/{id}/filter-sets:
    get:
      tags:
      - filter-sets
      summary: Retrieve the filter sets in an account
      description: Supported starting from 2.2 version
      operationId: getAccountFilterSetsUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abAttribute Filter Setu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/connection-types:
    get:
      tags:
      - connection-types
      summary: List all connection types
      description: Supported starting from 2.4 version
      operationId: loadConnectionTypesUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: name
        in: query
        description: name
        required: false
        type: string
      - name: enabled
        in: query
        description: enabled
        required: false
        type: boolean
        default: false
      - name: type
        in: query
        description: type
        required: false
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abConnection Typeu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/connection-types/{id}:
    get:
      tags:
      - connection-types
      summary: Retrieve connection type by ID
      description: Supported starting from 2.4 version
      operationId: getConnectionTypeUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Connection Type'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - connection-types
      summary: Update a connection type  by ID
      description: Supported starting from 2.4 version
      operationId: updateConnectionTypeUsingPUT
      consumes:
      - application/vnd.zoomdata.v1_1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/Connection Type'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Connection Type'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - connection-types
      summary: Delete a connection type by ID
      description: Supported starting from 2.4 version
      operationId: deleteConnectionTypeUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/connection-types/{id}/icon:
    get:
      tags:
      - connection-types
      summary: Retrieve icon for specific connection type
      description: Supported starting from 2.4 version
      operationId: getConnectionTypeIconUsingGET
      consumes:
      - application/json
      produces:
      - image/png
      - image/svg
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - connection-types
      summary: Upload icon for specific connection type
      description: Supported starting from 2.4 version
      operationId: uploadConnectionTypeIconUsingPUT
      consumes:
      - multipart/form-data
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: icon
        in: formData
        description: icon
        required: true
        type: string
      responses:
        200:
          description: OK
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - connection-types
      summary: Delete icon for specific connection type
      description: Supported starting from 2.4 version
      operationId: deleteConnectionTypeIconUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/connections/{connectionId}/sources:
    get:
      tags:
      - sources
      summary: Retrieve the data sources for a connection
      description: Supported starting from 2.0 version
      operationId: getConnectionSourcesUsingGET_1
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: connectionId
        in: path
        description: connectionId
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abData Sourceu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - sources
      summary: Create a data source on a connection
      description: Supported starting from 2.0 version
      operationId: createUsingPOST_7
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: connectionId
        in: path
        description: connectionId
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/Data Source'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Data Source'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/connections/{id}:
    get:
      tags:
      - connections
      summary: Retrieve a connection by ID
      description: Supported starting from 2.0 version
      operationId: getConnectionUsingGET_1
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Data Source Connection'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - connections
      summary: Update a connection by ID
      description: Supported starting from 2.0 version
      operationId: updateConnectionUsingPUT_1
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/Data Source Connection'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Data Source Connection'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - connections
      summary: Delete a connection by ID
      description: Supported starting from 2.0 version
      operationId: deleteConnectionUsingDELETE_1
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/connections/{id}/objects:
    get:
      tags:
      - connections
      summary: List the available objects in this connection
      description: Objects are the tables, views, collections, etc, available in this
        specific connection. Supported starting from 2.0 version
      operationId: getObjectsUsingGET_1
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Connection Object'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/connector-servers:
    get:
      tags:
      - connector-servers
      summary: List servers
      description: Supported starting from 2.4 version
      operationId: loadConnectorsUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: name
        in: query
        description: name
        required: false
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abEDC Connector Serveru00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - connector-servers
      summary: Create connector
      description: Supported starting from 2.4 version
      operationId: createConnectorUsingPOST
      consumes:
      - application/vnd.zoomdata.v1_1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/EDC Connector Server'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EDC Connector Server'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/connector-servers/{id}:
    get:
      tags:
      - connector-servers
      summary: Retrieve connector server by ID
      description: Supported starting from 2.4 version
      operationId: getConnectorUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EDC Connector Server'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - connector-servers
      summary: Update a connector  by ID
      description: Supported starting from 2.4 version
      operationId: updateConnectorUsingPUT
      consumes:
      - application/vnd.zoomdata.v1_1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/EDC Connector Server'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EDC Connector Server'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - connector-servers
      summary: Delete a connector by ID
      description: Supported starting from 2.4 version
      operationId: deleteConnectorUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/connector-servers/{id}/connection-types:
    get:
      tags:
      - connection-types
      summary: List all connection types for specific edc server
      description: Supported starting from 2.4 version
      operationId: loadConnectionTypesForConnectorUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abConnection Typeu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - connection-types
      summary: Create  connectionType
      description: Supported starting from 2.4 version
      operationId: createConnectionTypeResourceUsingPOST
      consumes:
      - application/vnd.zoomdata.v1_1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/Connection Type'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Connection Type'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/connector-servers/{id}/status:
    get:
      tags:
      - connector-servers
      summary: Retrieve status of connector server by ID
      description: Supported starting from 2.4 version
      operationId: getConnectorStatusUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Status of EDC Connector Server'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/connectors:
    get:
      tags:
      - connectors
      summary: List the connectors available through the API
      description: Supported starting from 2.0 version
      operationId: getConnectorsUsingGET_1
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata.v1_1+json
      - application/vnd.zoomdata+json
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Data Source Connector'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/dashboards/{id}:
    get:
      tags:
      - dashboard
      summary: Retrieve a dashboard by ID
      description: Supported starting from 2.2 version
      operationId: getDashboardUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Dashboard'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - dashboard
      summary: Update a dashboard by ID
      description: Supported starting from 2.2 version
      operationId: updateDashboardUsingPUT
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/Dashboard'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Dashboard'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - dashboard
      summary: Delete a dashboard by ID
      description: Supported starting from 2.2 version
      operationId: deleteUsingDELETE_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/dashboards/{id}/screenshot:
    get:
      tags:
      - dashboard
      summary: Retrieve the screenshot image of a dashboard
      description: Supported starting from 2.2 version
      operationId: getDashboardScreenshotUsingGET
      consumes:
      - application/json
      produces:
      - img/vnd.zoomdata+png
      - img/vnd.zoomdata.v1+png
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              type: string
              format: byte
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/filter-sets/{id}:
    get:
      tags:
      - filter-sets
      summary: Retrieve a filter set by ID
      description: Supported starting from 2.2 version
      operationId: getFilterSetUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Attribute Filter Set'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - filter-sets
      summary: Update a filter set by ID
      description: Supported starting from 2.2 version
      operationId: updateUsingPUT_1
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/Attribute Filter Set'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Attribute Filter Set'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - filter-sets
      summary: Delete a filter set by ID
      description: Supported starting from 2.2 version
      operationId: deleteUsingDELETE_2
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/groups/{groupId}/members/{userId}:
    get:
      tags:
      - groups
      summary: Retrieve a member of a group
      description: Supported starting from 2.0 version
      operationId: getMemberUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: groupId
        in: path
        description: groupId
        required: true
        type: string
      - name: userId
        in: path
        description: userId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Group Member'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - groups
      summary: Remove a member from a group
      description: Supported starting from 2.0 version
      operationId: deleteMemberUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: groupId
        in: path
        description: groupId
        required: true
        type: string
      - name: userId
        in: path
        description: userId
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/groups/{groupId}/sources:
    put:
      tags:
      - groups
      summary: Set group permissions for a data source
      description: The name of the source may be specified as the reference value.Supported
        starting from 2.0 version
      operationId: mapSourceUsingPUT
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: groupId
        in: path
        description: groupId
        required: true
        type: string
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/A request to add a group to a datasource'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Data source configuration for a group'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/groups/{groupId}/sources/{sourceId}:
    get:
      tags:
      - groups
      summary: Retrieve information about a group's access to a source
      description: Supported starting from 2.0 version
      operationId: getSourceUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: groupId
        in: path
        description: groupId
        required: true
        type: string
      - name: sourceId
        in: path
        description: sourceId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Data source configuration for a group'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - groups
      summary: Remove a group's access to a source
      description: Supported starting from 2.0 version
      operationId: deleteSourceUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: groupId
        in: path
        description: groupId
        required: true
        type: string
      - name: sourceId
        in: path
        description: sourceId
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/groups/{id}:
    get:
      tags:
      - groups
      summary: Retrieve a group
      description: Supported starting from 2.0 version
      operationId: getGroupUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Group'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - groups
      summary: Update a group
      description: Supported starting from 2.0 version
      operationId: updateUsingPUT_2
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/Group'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Group'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - groups
      summary: Delete a group
      description: Supported starting from 2.0 version
      operationId: deleteUsingDELETE_3
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/groups/{id}/members:
    get:
      tags:
      - groups
      summary: Retrieve a list of the members of a group
      description: Supported starting from 2.0 version
      operationId: getMembersUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abGroup Memberu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - groups
      summary: Add a user to the group
      description: The username of the user may be specified as the reference value.
        Supported starting from 2.0 version
      operationId: addMemberUsingPOST
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: reference
        description: reference
        required: true
        schema:
          $ref: '#/definitions/A reference to another resource in the system.'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Group Member'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/groups/{id}/sources:
    get:
      tags:
      - groups
      summary: Retrieve the data sources for a group
      description: Supported starting from 2.0 version
      operationId: getSourcesUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abData source configuration
              for a groupu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/oauth2/client:
    get:
      tags:
      - oauth2
      summary: Load all
      description: Supported starting from 2.2 version
      operationId: findAllUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abOAuth2 client application
              recordu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - oauth2
      summary: Create ClientId
      description: Supported starting from 2.2 version
      operationId: createUsingPOST_5
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - in: body
        name: client
        description: client
        required: true
        schema:
          $ref: '#/definitions/OAuth2 client application record'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OAuth2 client application record'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/oauth2/client/{clientId}:
    get:
      tags:
      - oauth2
      summary: Load ClientId
      description: Supported starting from 2.2 version
      operationId: loadUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: clientId
        in: path
        description: clientId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OAuth2 client application record'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - oauth2
      summary: Update ClientId
      description: Supported starting from 2.2 version
      operationId: updateUsingPUT_3
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - '*/*'
      parameters:
      - name: clientId
        in: path
        description: clientId
        required: true
        type: string
      - in: body
        name: client
        description: client
        required: true
        schema:
          $ref: '#/definitions/OAuth2 client application record'
      responses:
        200:
          description: OK
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - oauth2
      summary: Delete ClientId
      description: Supported starting from 2.2 version
      operationId: deleteUsingDELETE_4
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: clientId
        in: path
        description: clientId
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/oauth2/token/revoke:
    delete:
      tags:
      - oauth2
      summary: Revoke token in the current request
      operationId: revokeUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/oauth2/token/user/{username}:
    get:
      tags:
      - oauth2
      summary: Find all tokens for user
      description: Supported starting from 2.2 version
      operationId: findByUsernameUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: username
        in: path
        description: username
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abOAuth2 tokenu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - oauth2
      summary: Remove all tokens for user
      description: Supported starting from 2.2 version
      operationId: deleteByUsernameUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: username
        in: path
        description: username
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/oauth2/token/{tokenValue}:
    get:
      tags:
      - oauth2
      summary: Load token by its id
      description: Supported starting from 2.2 version
      operationId: loadUsingGET_1
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: tokenValue
        in: path
        description: tokenValue
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OAuth2 token'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - oauth2
      summary: Remove specific token
      description: Supported starting from 2.2 version
      operationId: deleteUsingDELETE_5
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: tokenValue
        in: path
        description: tokenValue
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/sources/{id}:
    get:
      tags:
      - sources
      summary: Retrieve a data source
      description: Supported starting from 2.0 version
      operationId: getSourceUsingGET_2
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Data Source'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - sources
      summary: Update a data source
      description: Supported starting from 2.0 version
      operationId: updateUsingPUT_5
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/Data Source'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Data Source'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - sources
      summary: Delete a data source
      description: Supported starting from 2.0 version
      operationId: deleteUsingDELETE_7
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/sources/{id}/data:
    put:
      tags:
      - upload
      summary: Upload data to create a source
      description: Supported starting from 2.2 version
      operationId: addDataUsingPUT
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: contentType
        in: query
        description: contentType
        required: true
        type: string
        enum:
        - text/tab-separated-values
        - text/csv
        - text/xml
        - application/json
      - name: separator
        in: query
        description: separator
        required: false
        type: string
      - name: includesHeader
        in: query
        description: includesHeader
        required: false
        type: boolean
      - name: includesNewFields
        in: query
        description: includesNewFields
        required: false
        type: boolean
        default: false
      - in: body
        name: body
        description: body
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - upload
      summary: Clear the stored data for a flat-file source
      description: Supported starting from 2.2 version
      operationId: clearDataUsingDELETE
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/sources/{id}/fields:
    get:
      tags:
      - sources
      summary: Retrieve the fields of a data source
      description: Supported starting from 2.0 version
      operationId: getFieldsUsingGET_1
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/An individual field in a data source'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - sources
      summary: Update the fields of a data source
      description: Supported starting from 2.0 version
      operationId: updateFieldsUsingPUT_1
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: updatedFields
        description: updatedFields
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/An individual field in a data source'
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/An individual field in a data source'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/sources/{id}/filter-sets:
    get:
      tags:
      - filter-sets
      summary: Retrieve the filter sets for a source
      description: Supported starting from 2.2 version
      operationId: getSourceFilterSetsUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abAttribute Filter Setu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - filter-sets
      summary: Create a filter set
      description: Supported starting from 2.2 version
      operationId: createUsingPOST_3
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/Attribute Filter Set'
      - in: body
        name: userDetails
        description: userDetails
        required: false
        schema:
          $ref: '#/definitions/UserDetails'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Attribute Filter Set'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/sources/{id}/timecontrol:
    get:
      tags:
      - sources
      summary: Retrieve time control config for the given source
      operationId: getTimeControlUsingGET_1
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Time Control Configuration'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - sources
      summary: Update time control config for the given source
      operationId: updateTimeControlUsingPUT_1
      consumes:
      - application/vnd.zoomdata.v1_1+json
      produces:
      - application/vnd.zoomdata.v1_1+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/Time Control Configuration'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Time Control Configuration'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/sources/{sourceId}/dashboards:
    get:
      tags:
      - dashboard
      summary: Retrieve the dashboards that contain the given source
      description: Supported starting from 2.2 version
      operationId: getSourceDashboardsUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata.v1_1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: sourceId
        in: path
        description: sourceId
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abDashboardu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/users:
    get:
      tags:
      - users
      summary: Retrieve all users in the system
      description: Supported starting from 2.0 version
      operationId: getUsersUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abSystem Useru00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - users
      summary: Create a user without account
      description: Supported starting from 2.2 version
      operationId: createUsingPOST_10
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/System User'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/System User'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/users/email/{email}:
    get:
      tags:
      - users
      summary: Retrieve a user by email
      description: Supported starting from 2.0 version
      operationId: getUserByEmailUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: email
        in: path
        description: email
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/System User'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/users/username/{username}:
    get:
      tags:
      - users
      summary: Retrieve a user by username
      description: Supported starting from 2.0 version
      operationId: getUserByUsernameUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: username
        in: path
        description: username
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/System User'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/users/{id}:
    get:
      tags:
      - users
      summary: Retrieve a user
      description: Supported starting from 2.0 version
      operationId: getUserUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/System User'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - users
      summary: Update a user
      description: Supported starting from 2.0 version
      operationId: updateUsingPUT_6
      consumes:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - in: body
        name: resource
        description: resource
        required: true
        schema:
          $ref: '#/definitions/System User'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/System User'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    delete:
      tags:
      - users
      summary: Delete a user
      description: Supported starting from 2.0 version
      operationId: deleteUsingDELETE_8
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        204:
          description: No Content
        403:
          description: Forbidden
  /api/users/{id}/filter-sets:
    get:
      tags:
      - filter-sets
      summary: Retrieve the filter sets for a user
      description: Supported starting from 2.2 version
      operationId: getUserFilterSetsUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata.v1_1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abAttribute Filter Setu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/users/{userId}/accounts:
    get:
      tags:
      - users
      summary: Retrieve a user's account memberships
      description: Supported starting from 2.2 version
      operationId: getUserAccountsUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: userId
        in: path
        description: userId
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abUser configuration within
              each accountu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/users/{userId}/dashboards:
    get:
      tags:
      - dashboard
      summary: Retrieve the dashboards that a user has created
      description: Supported starting from 2.2 version
      operationId: getUserDashboardsUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: userId
        in: path
        description: userId
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abDashboardu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/users/{userId}/groups:
    get:
      tags:
      - groups
      summary: Retrieve a user's group memberships
      description: Supported starting from 2.0 version
      operationId: getUserGroupsUsingGET
      consumes:
      - application/json
      produces:
      - application/vnd.zoomdata.v1+json
      - application/vnd.zoomdata+json
      parameters:
      - name: userId
        in: path
        description: userId
        required: true
        type: string
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int32
      - name: limit
        in: query
        description: limit
        required: false
        type: integer
        default: 25
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CollectionResourceu00abGroupu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
definitions: !php/object "O:8:\"stdClass\":43:{s:38:\"User configuration within each
  account\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"administrator\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Flag
  to indicate whether this user account is an administrator\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Details
  about who created this resource and when\";s:8:\"readOnly\";b:1;s:4:\"$ref\";s:32:\"#/definitions/AuditableReference\";}s:7:\"current\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:85:\"Flag
  to indicate whether this account should be set to the active account of the user\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:64:\"Flag
  to indicate whether this user is active within this account\";}s:12:\"lastModified\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Details
  about the last user who updated this resource and when\";s:8:\"readOnly\";b:1;s:4:\"$ref\";s:32:\"#/definitions/AuditableReference\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:9:\"reference\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/A
  reference to another resource in the system.\";}}}s:5:\"Group\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Details
  about who created this resource and when\";s:8:\"readOnly\";b:1;s:4:\"$ref\";s:32:\"#/definitions/AuditableReference\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Description
  of the group\";}s:12:\"lastModified\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Details
  about the last user who updated this resource and when\";s:8:\"readOnly\";b:1;s:4:\"$ref\";s:32:\"#/definitions/AuditableReference\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Name
  of the group\";}s:11:\"permissions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:59:\"Set
  of permissions that are assigned to users in this group\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:19:\"create_data_sources\";i:1;s:12:\"save_filters\";i:2;s:11:\"save_charts\";i:3;s:12:\"share_charts\";i:4;s:17:\"edit_calculations\";}}}}}s:37:\"CollectionResource\xABConnection
  Type\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Connection
  Type\";}}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:36:\"An
  individual field in a data source\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:5:\"label\";i:1;s:10:\"sourceName\";i:2;s:4:\"type\";i:3;s:7:\"visible\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"func\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Field
  function. Available for money, number and integers fields\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  user-facing label of this field\";}s:10:\"sourceName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  name of this field in the data source\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Field
  type\";s:4:\"enum\";a:7:{i:0;s:9:\"attribute\";i:1;s:5:\"money\";i:2;s:6:\"number\";i:3;s:7:\"integer\";i:4;s:4:\"time\";i:5;s:4:\"text\";i:6;s:4:\"none\";}}s:7:\"visible\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:46:\"Whether
  this field is visible in charts or not\";}}}s:40:\"A request to add a group to a
  datasource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"canEdit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:65:\"Indicates
  if members of this group can edit the referenced source\";}s:9:\"canRemove\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:67:\"Indicates
  if members of this group can delete the referenced source\";}s:13:\"fieldSecurity\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"If
  specified, configures the list of fields that are visible to users in this group\";s:4:\"$ref\";s:55:\"#/definitions/Group
  Source Field Security Configuration\";}s:7:\"filters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:73:\"Filters
  that will be applied to the source data for members of this group\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/Source
  Attribute Filter\";}}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"A
  reference to a data source\";s:4:\"$ref\";s:60:\"#/definitions/A reference to another
  resource in the system.\";}}}s:34:\"CollectionResource\xABOAuth2 token\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OAuth2
  token\";}}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:33:\"CollectionResource\xABSystem
  User\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/System
  User\";}}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:36:\"CollectionResource\xABSystem
  Account\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System
  Account\";}}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:17:\"Connection
  Object\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Short
  description of this object\";}}s:11:\"description\";s:272:\"A connection object
  is a specific SQL table, Elastic index, Solr core etc for a specific data source
  connection.  In addition to the description, each connection object will have connection
  specific fields that correspond to the _sourceParameter_ values for that connector\";}s:9:\"Dashboard\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Details
  about who created this resource and when\";s:8:\"readOnly\";b:1;s:4:\"$ref\";s:32:\"#/definitions/AuditableReference\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Description
  of the dashboard\";}s:12:\"lastModified\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Details
  about the last user who updated this resource and when\";s:8:\"readOnly\";b:1;s:4:\"$ref\";s:32:\"#/definitions/AuditableReference\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Name
  of the dashboard\";}s:10:\"shareState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Dashboard
  share state\";s:4:\"enum\";a:3:{i:0;s:10:\"NOT_SHARED\";i:1;s:9:\"VIEW_ONLY\";i:2;s:13:\"VIEW_AND_EDIT\";}}s:6:\"shared\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:75:\"Deprecated.
  True if this dashboard is visible to all users in your account.\";}}}s:22:\"Data
  Source Connection\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:13:\"connectorName\";i:1;s:19:\"connectorParameters\";i:2;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"connectorName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Data
  source connector name\";}s:19:\"connectorParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:33:\"Data
  source connection properties\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Details
  about who created this resource and when\";s:8:\"readOnly\";b:1;s:4:\"$ref\";s:32:\"#/definitions/AuditableReference\";}s:21:\"impersonationSettings\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:34:\"Data
  source impersonation settings\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"lastModified\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Details
  about the last user who updated this resource and when\";s:8:\"readOnly\";b:1;s:4:\"$ref\";s:32:\"#/definitions/AuditableReference\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Name
  of the connection\";}}}s:42:\"CollectionResource\xABEDC Connector Server\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EDC
  Connector Server\";}}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:21:\"Data
  Source Connector\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"connectionParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:57:\"Parameters
  this connector uses when creating a connection\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/Parameter
  used when creating a connection\";}}s:23:\"impersonationParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:76:\"Parameters
  this connector uses when creating a connection with impersonation\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/Parameter
  used when creating a connection\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Name
  of this connector\";}s:16:\"sourceParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:53:\"Parameters
  this connector uses when creating a source\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/Parameter
  used when creating a connection\";}}}s:11:\"description\";s:155:\"Connectors represent
  the type of data sources that we can connect to. The type of connector and its parameters
  will be used to create a connection resource\";}s:32:\"OAuth2 client application
  record\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:26:\"accessTokenValiditySeconds\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:41:\"Access
  token validity interval in seconds\";}s:11:\"autoApprove\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:30:\"Explicit
  approval not required\";}s:8:\"clientId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Client
  identifier, also client secret\";s:8:\"readOnly\";b:1;}s:10:\"clientName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Client
  name\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:22:\"registeredRedirectURIs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"Registered
  redirect URIs\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:23:\"Source
  Attribute Filter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:15:\"sourceFieldName\";i:1;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"sourceFieldName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  name of the source field to filter on\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  type of filter to apply\";s:4:\"enum\";a:9:{i:0;s:2:\"in\";i:1;s:5:\"notin\";i:2;s:2:\"eq\";i:3;s:3:\"neq\";i:4;s:2:\"ge\";i:5;s:2:\"gt\";i:6;s:2:\"le\";i:7;s:2:\"lt\";i:8;s:7:\"between\";}}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"The
  value applied to the filter.  Used for eq/neq/le/lt/ge/gt filter types\";}s:6:\"values\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:73:\"The
  values applied to the filter.  Used for in/notin/between filter types\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:12:\"OAuth2
  token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"expiration\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Expiration
  time\";s:8:\"readOnly\";b:1;}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:10:\"tokenValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Token
  value\";s:8:\"readOnly\";b:1;}}}s:30:\"Status of EDC Connector Server\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"status\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"status
  of edc connector\";}}}s:34:\"CollectionResource\xABGroup Member\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Group
  Member\";}}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:28:\"parameter
  of connection type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:5:\"label\";i:1;s:4:\"name\";i:2;s:8:\"required\";i:3;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"allowedValues\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"list
  of allowed values for parameter\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"helper
  text of the parameter\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"label
  of parameter that will be displayed on ui\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"key
  of connection type parameter that should be sent to EDC\";}s:8:\"required\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:29:\"whether
  parameter is required\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"value
  type of the connection parameter\";}s:7:\"visible\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:59:\"whether
  parameter is visible in UI when creating connection\";}}}s:26:\"Time Control Configuration\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"from\";i:1;s:9:\"timeField\";i:2;s:2:\"to\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"from\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:6:\"pinned\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:6:\"pinned\";}s:9:\"timeField\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"timeField\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"to\";}}}s:15:\"Connection
  Type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:11:\"storageType\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Details
  about who created this resource and when\";s:8:\"readOnly\";b:1;s:4:\"$ref\";s:32:\"#/definitions/AuditableReference\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:26:\"Is
[...]
