---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:656:\"<p>Use
  the AWS Elemental MediaTailor SDK to configure scalable ad insertion for your live
  and VOD content. With AWS Elemental MediaTailor, you can serve targeted ads to viewers
  while maintaining broadcast quality in over-the-top (OTT) video applications. For
  information about using the service, including detailed information about the settings
  covered in this guide, see the AWS Elemental MediaTailor User Guide.<p>Through the
  SDK, you manage AWS Elemental MediaTailor configurations the same as you do through
  the console. For example, you specify ad insertion behavior and mapping information
  for the origin server and the ad decision server (ADS).</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:15:\"AWS
  MediaTailor\";s:7:\"version\";s:10:\"2018-04-23\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:95:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediatailor-2018-04-23.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:11:\"mediatailor\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"amazonaws_mediatailor\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.mediatailor.amazonaws.com
basePath: /
paths:
  /playbackConfiguration:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Adds a new configuration to AWS Elemental MediaTailor.
      operationId: PutPlaybackConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutPlaybackConfigurationRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PutPlaybackConfigurationResponse'
  /playbackConfiguration/{Name}:
    delete:
      description: 'Deletes the configuration for the specified name. '
      operationId: DeletePlaybackConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeletePlaybackConfigurationRequest'
      - in: path
        name: Name
        required: true
        type: string
      responses:
        204:
          description: Success
          schema:
            $ref: '#/definitions/DeletePlaybackConfigurationResponse'
    get:
      description: 'Returns the configuration for the specified name. '
      operationId: GetPlaybackConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetPlaybackConfigurationRequest'
      - in: path
        name: Name
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetPlaybackConfigurationResponse'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /playbackConfigurations:
    get:
      description: 'Returns a list of the configurations defined in AWS Elemental
        MediaTailor. You can specify a max number of configurations to return at a
        time. The default max is 50. Results are returned in pagefuls. If AWS Elemental
        MediaTailor has more configurations than the specified max, it provides parameters
        in the response that you can use to retrieve the next pageful. '
      operationId: ListPlaybackConfigurations
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListPlaybackConfigurationsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListPlaybackConfigurationsResponse'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":19:{s:16:\"CdnConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"The
  configuration for using a content delivery network (CDN), like Amazon CloudFront,
  for content and ad segment management. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"AdSegmentUrlPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:464:\"A
  non-default content delivery network (CDN) to serve ad segments. By default, AWS
  Elemental MediaTailor uses Amazon CloudFront with default cache settings as its
  CDN for ad segments. To set up an alternate CDN, create a rule in your CDN for the
  following origin: ads.mediatailor.&lt;region>.amazonaws.com. Then specify the rule's
  name in this AdSegmentUrlPrefix. When AWS Elemental MediaTailor serves a manifest,
  it reports your CDN as the source for ad segments.\";}s:23:\"ContentSegmentUrlPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:372:\"A
  content delivery network (CDN) to cache content segments, so that content requests
  don\u2019t always have to go to the origin server. First, create a rule in your
  CDN for the content segment origin server. Then specify the rule's name in this
  ContentSegmentUrlPrefix. When AWS Elemental MediaTailor serves a manifest, it reports
  your CDN as the source for content segments.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"DeletePlaybackConfigurationRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:35:\"DeletePlaybackConfigurationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"GetPlaybackConfigurationRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"GetPlaybackConfigurationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"AdDecisionServerUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:354:\"The
  URL for the ad decision server (ADS). This includes the specification of static
  parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes
  player-specific and session-specific parameters as needed when calling the ADS.
  Alternately, for testing, you can provide a static VAST URL. The maximum length
  is 25000 characters.\";}s:16:\"CdnConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CdnConfiguration\";s:11:\"description\";s:125:\"The
  configuration for using a content delivery network (CDN), like Amazon CloudFront,
  for content and ad segment management. \";}s:16:\"HlsConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/HlsConfiguration\";s:11:\"description\";s:35:\"The
  configuration for HLS content. \";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  identifier for the configuration.\";}s:22:\"PlaybackEndpointPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:128:\"The
  URL that the player accesses to get a manifest from AWS Elemental MediaTailor. This
  session will use server-side reporting. \";}s:35:\"SessionInitializationEndpointPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:86:\"The
  URL that the player uses to initialize a session that uses client-side reporting.
  \";}s:10:\"SlateAdUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:438:\"URL
  for a high-quality video asset to transcode and use to fill in time that's not used
  by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media content.
  Configuring the slate is optional for non-VPAID configurations. For VPAID, the slate
  is required because AWS Elemental MediaTailor provides it in the slots designated
  for dynamic ad content. The slate must be a high-quality asset that contains both
  audio and video. \";}s:21:\"VideoContentSourceUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:112:\"The
  URL prefix for the master playlist for the stream, minus the asset ID. The maximum
  length is 512 characters.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"HlsConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  configuration for HLS content. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"ManifestEndpointPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:127:\"The
  URL that is used to initiate a playback session for devices that support Apple HLS.
  The session uses server-side reporting.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ListPlaybackConfigurationsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"ListPlaybackConfigurationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/__listOfPlaybackConfigurations\";s:11:\"description\";s:183:\"Array
  of playback configurations. This may be all of the available configurations or a
  subset, depending on the settings you provide and on the total number of configurations
  stored. \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:140:\"Pagination
  token returned by the GET list request when results overrun the meximum allowed.
  Use the token to fetch the next page of results.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"PlaybackConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  AWSMediaTailor configuration.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"AdDecisionServerUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:354:\"The
  URL for the ad decision server (ADS). This includes the specification of static
  parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes
  player-specific and session-specific parameters as needed when calling the ADS.
  Alternately, for testing, you can provide a static VAST URL. The maximum length
  is 25000 characters.\";}s:16:\"CdnConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CdnConfiguration\";s:11:\"description\";s:125:\"The
  configuration for using a content delivery network (CDN), like Amazon CloudFront,
  for content and ad segment management. \";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  identifier for the configuration.\";}s:10:\"SlateAdUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:438:\"URL
  for a high-quality video asset to transcode and use to fill in time that's not used
  by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media content.
  Configuring the slate is optional for non-VPAID configurations. For VPAID, the slate
  is required because AWS Elemental MediaTailor provides it in the slots designated
  for dynamic ad content. The slate must be a high-quality asset that contains both
  audio and video. \";}s:21:\"VideoContentSourceUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:112:\"The
  URL prefix for the master playlist for the stream, minus the asset ID. The maximum
  length is 512 characters.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"PutPlaybackConfigurationRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"AdDecisionServerUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:353:\"The
  URL for the ad decision server (ADS). This includes the specification of static
  parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes
  player-specific and session-specific parameters as needed when calling the ADS.
  Alternately, for testing you can provide a static VAST URL. The maximum length is
  25000 characters.\";}s:16:\"CdnConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CdnConfiguration\";s:11:\"description\";s:125:\"The
  configuration for using a content delivery network (CDN), like Amazon CloudFront,
  for content and ad segment management. \";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  identifier for the configuration.\";}s:10:\"SlateAdUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:451:\"The
  URL for a high-quality video asset to transcode and use to fill in time that's not
  used by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media
  content. Configuring the slate is optional for non-VPAID configurations. For VPAID,
  the slate is required because AWS Elemental MediaTailor provides it in the slots
  that are designated for dynamic ad content. The slate must be a high-quality asset
  that contains both audio and video. \";}s:21:\"VideoContentSourceUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:112:\"The
  URL prefix for the master playlist for the stream, minus the asset ID. The maximum
  length is 512 characters.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"PutPlaybackConfigurationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"AdDecisionServerUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:354:\"The
  URL for the ad decision server (ADS). This includes the specification of static
  parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes
  player-specific and session-specific parameters as needed when calling the ADS.
  Alternately, for testing, you can provide a static VAST URL. The maximum length
  is 25000 characters.\";}s:16:\"CdnConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CdnConfiguration\";s:11:\"description\";s:125:\"The
  configuration for using a content delivery network (CDN), like Amazon CloudFront,
  for content and ad segment management. \";}s:16:\"HlsConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/HlsConfiguration\";s:11:\"description\";s:35:\"The
  configuration for HLS content. \";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  identifier for the configuration.\";}s:22:\"PlaybackEndpointPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:128:\"The
  URL that the player accesses to get a manifest from AWS Elemental MediaTailor. This
  session will use server-side reporting. \";}s:35:\"SessionInitializationEndpointPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:86:\"The
  URL that the player uses to initialize a session that uses client-side reporting.
  \";}s:10:\"SlateAdUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:438:\"URL
  for a high-quality video asset to transcode and use to fill in time that's not used
  by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media content.
  Configuring the slate is optional for non-VPAID configurations. For VPAID, the slate
  is required because AWS Elemental MediaTailor provides it in the slots designated
  for dynamic ad content. The slate must be a high-quality asset that contains both
  audio and video. \";}s:21:\"VideoContentSourceUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:112:\"The
  URL prefix for the master playlist for the stream, minus the asset ID. The maximum
  length is 512 characters.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"__boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"__double\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"__integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"__integerMin1Max100\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:30:\"__listOfPlaybackConfigurations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PlaybackConfiguration\";}s:4:\"type\";s:5:\"array\";}s:6:\"__long\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"__string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}"
...
