---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:17:\"Microsoft
  Kaizala\";s:11:\"description\";s:262:\"Microsoft Kaizala is a mobile app that helps
  you connect with your entire mobile workforce and supply chain, organize and allocate
  tasks more efficiently with built-in and custom Actions, and get actionable information
  and insights to accelerate decision-making.\";}"
host: api.kaiza.la
basePath: /v1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":41:{s:50:\"Request - Add group as a subGroup
  to another group\";O:8:\"stdClass\":5:{s:5:\"title\";s:41:\"Add group as a sub-group
  to another group\";s:12:\"x-ms-example\";O:8:\"stdClass\":1:{s:9:\"subGroups\";a:1:{i:0;s:21:\"{{test-sub-group-id}}\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"subGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Array
  of groups with the list of subGroups if any\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:1:{i:0;s:9:\"subGroups\";}}s:39:\"Request
  - Create a managed public group\";O:8:\"stdClass\":5:{s:5:\"title\";s:29:\"Create
  a managed public group\";s:12:\"x-ms-example\";O:8:\"stdClass\":4:{s:4:\"name\";s:25:\"Kaizala
  Test Public Group\";s:14:\"welcomeMessage\";s:60:\"Welcome to public group created
  programmatically via Postman\";s:7:\"members\";a:1:{i:0;s:19:\"{{mobile-number-2}}\";}s:9:\"groupType\";s:12:\"ConnectGroup\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Group
  name\";s:4:\"type\";s:6:\"string\";}s:14:\"welcomeMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Welcome
  message which will be displayed to new group member\";s:4:\"type\";s:6:\"string\";}s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"Mobile
  number(with country code) of members to be added. Default: Access token's user will
  be added as admin of the group\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"groupType\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Enum:
  Group/ConnectGroup. ConnectGroup will create Managed Public group. Default: Group\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:14:\"welcomeMessage\";i:2;s:7:\"members\";i:3;s:9:\"groupType\";}}s:50:\"Request
  - PostCustomActionToAGroup[withProperties]\";O:8:\"stdClass\":5:{s:5:\"title\";s:47:\"Post
  custom action to a group [with properties]\";s:12:\"x-ms-example\";O:8:\"stdClass\":2:{s:2:\"id\";s:45:\"com.microsoft.kaizala.miniapps.BdayMessage.12\";s:10:\"actionBody\";O:8:\"stdClass\":1:{s:10:\"properties\";a:3:{i:0;O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"name\";s:5:\"value\";s:9:\"TestTitle\";s:4:\"type\";s:4:\"Text\";}i:1;O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"occasion\";s:5:\"value\";s:8:\"birthday\";s:4:\"type\";s:4:\"Text\";}i:2;O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:5:\"value\";s:12:\"Test
  message\";s:4:\"type\";s:4:\"Text\";}}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Id
  for the Action Instance\";s:4:\"type\";s:6:\"string\";}s:10:\"actionBody\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CustomActionBody\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:10:\"actionBody\";}}s:16:\"CustomActionBody\";O:8:\"stdClass\":4:{s:5:\"title\";s:16:\"CustomActionBody\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"Each
  element of object[] is described below as Property Object. Only valid for creating
  Action Package Instance\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Property\";}}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:8:\"Property\";O:8:\"stdClass\":4:{s:5:\"title\";s:8:\"Property\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the property\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"Type
  of the property. Enum: Text, Numeric, Location, DateTime, StringList, Attachment,
  StringSet, AttachmentList\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Value
  of the property\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:5:\"value\";i:2;s:4:\"type\";}}s:26:\"Request
  - PostAJobOnAGroup\";O:8:\"stdClass\":5:{s:5:\"title\";s:21:\"Post a job on a group\";s:12:\"x-ms-example\";O:8:\"stdClass\":2:{s:10:\"actionType\";s:3:\"Job\";s:10:\"actionBody\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"test
  job\";s:10:\"assignedTo\";a:1:{i:0;s:17:\"{{mobile-number}}\";}s:7:\"dueDate\";i:10;}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"actionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Type
  of Action. Value: Job\";s:4:\"type\";s:6:\"string\";}s:10:\"actionBody\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/JobActionBody\";}}s:8:\"required\";a:2:{i:0;s:10:\"actionType\";i:1;s:10:\"actionBody\";}}s:13:\"JobActionBody\";O:8:\"stdClass\":4:{s:5:\"title\";s:13:\"JobActionBody\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Title
  of the Job\";s:4:\"type\";s:6:\"string\";}s:10:\"assignedTo\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Array
  of mobile numbers for the persons to whom Job is assigned\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"dueDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Default:
  24hrs. Number of hours before which job should be completed\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:3:{i:0;s:5:\"title\";i:1;s:10:\"assignedTo\";i:2;s:7:\"dueDate\";}}s:27:\"Request
  - SendImageOnAGroup\";O:8:\"stdClass\":5:{s:5:\"title\";s:21:\"Send image on a group\";s:12:\"x-ms-example\";O:8:\"stdClass\":2:{s:10:\"actionType\";s:5:\"Image\";s:10:\"actionBody\";O:8:\"stdClass\":2:{s:7:\"caption\";s:13:\"Image
  caption\";s:13:\"mediaResource\";s:3032:\"eyJUaHVtYm5haWwiOiIvOWovNEFBUVNrWkpSZ0FCQVFFQVlBQmdBQUQvMndCREFJVmNaSFZrVTRWMWJIV1dqb1dleVAvWnlMZTN5UC8vLy9MLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8yd0JEQVk2V2xzaXZ5UC9aMmYvLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vL3dBQVJDQUNTQVFRREFTSUFBaEVCQXhFQi84UUFId0FBQVFVQkFRRUJBUUVBQUFBQUFBQUFBQUVDQXdRRkJnY0lDUW9MLzhRQXRSQUFBZ0VEQXdJRUF3VUZCQVFBQUFGOUFRSURBQVFSQlJJaE1VRUdFMUZoQnlKeEZES0JrYUVJSTBLeHdSVlMwZkFrTTJKeWdna0tGaGNZR1JvbEppY29LU28wTlRZM09EazZRMFJGUmtkSVNVcFRWRlZXVjFoWldtTmtaV1puYUdscWMzUjFkbmQ0ZVhxRGhJV0doNGlKaXBLVGxKV1dsNWlabXFLanBLV21wNmlwcXJLenRMVzJ0N2k1dXNMRHhNWEd4OGpKeXRMVDFOWFcxOWpaMnVIaTQrVGw1dWZvNmVyeDh2UDA5ZmIzK1BuNi84UUFId0VBQXdFQkFRRUJBUUVCQVFBQUFBQUFBQUVDQXdRRkJnY0lDUW9MLzhRQXRSRUFBZ0VDQkFRREJBY0ZCQVFBQVFKM0FBRUNBeEVFQlNFeEJoSkJVUWRoY1JNaU1vRUlGRUtSb2JIQkNTTXpVdkFWWW5MUkNoWWtOT0VsOFJjWUdSb21KeWdwS2pVMk56ZzVPa05FUlVaSFNFbEtVMVJWVmxkWVdWcGpaR1ZtWjJocGFuTjBkWFozZUhsNmdvT0VoWWFIaUltS2twT1VsWmFYbUptYW9xT2twYWFucUttcXNyTzB0YmEzdUxtNndzUEV4Y2JIeU1uSzB0UFUxZGJYMk5uYTR1UGs1ZWJuNk9ucTh2UDA5ZmIzK1BuNi85b0FEQU1CQUFJUkF4RUFQd0N4UlJSUUFVVVVVQUZGRkZBQlJSUlFBVVVVVUFGRkZGQUJSUlJRQVVVVVVBRkZGRkFCUlJSUUFVVVVVQUZGRkZBQlJSUlFBVVVVVUFGRkZGQUJSUlJRQVVVVVVBRkZGRkFCUlJSUUFVVVVsQUMwVW1hTTByZ0xSU1pvelJjQmFLVE5HYUxnTFJTWm96UmNCYUtUTkdhTGdMUlNab3pSY0JhS1ROR2FMb0JhS0tLWUJSUlJRQVVVVVVBRkZGRkFCUlJSUUFVVVVVQUZGRkZBQlJSUlFBVVVVVUFGSWVsTFNIcFNld0MwVVVVd0NpaWs3MEFMUlNZb3hTMUFXaWt4UmlqVUJhS1RGR0tOUUZvcE1VWW8xQVdrUFNqRkJIRkR2WUJhS1RGR0tOUUZvcE1VWW8xQVdpa3hSaWpVQmFLVEZHS05RRm9wQlMwd0NpaWlnQW9vb29BS0tLS0FDaWlpZ0FwRDBwYVE5S1QyQVdpaWltQVVuZWxwTzlJQmFLS0tZQlJSUlFBVVVVVUFGRkZGQUJTSHBTMGg2VW5zQXRGRkZNQW9vb29BS0tLS0FDaWlpZ0JPOUxTZDZXa2dDaWlpbUFVVVVVQUZGRkZBQlJSUlFBVVVVVUFKaWpGTFJTc2dFeFJpbHBPOUZrQVlveFMwVVdRQ1lveFMwVVdRQ1lveFMwVVdRQ1lveFMwVVdRQ1lveFMwVVdRQlJSUlRBS0tLS0FDaWlpZ0Fvb29vQVR2UzBuZWxwSUFvb29wZ0ZGRkZBQlJSUlFBVVVVVUFGRkZGQUJSUlJRQVVuZWxwTzlMc0F0RkZGTUFvb29vQUtLS0tBQ2lpaWdBb29vb0FLS0tLQUNpaWlnQW9vb29BS0tLS0FFNzB0SjNwYVNBS0tLS1lCUlJSUUFVVVVVQUZGRkZBQlJSUlFBVVVVVUFGSjNwYVR2U0FXaWlpbUFVVVVVQUZGRkZBQlJSUlFBVVVVVUFGRkZGQUJSUlJRQVVVVVVBRkZGRkFDZDZXazcwdEpBRkZGRk1Bb29vb0FLS0tLQUNpaWlnQW9vb29BS0tLS0FDa3BhS0FFeFJpbG9wV1FDWW94UzBVV1FDWW94UzBVV1FDWW94UzBVV1FDWW94UzBVV1FDWW94UzBVV1FDWW94UzBVV1FDWW94UzBVV1FDWW94UzBVV1FDVXRGRk1Bb29vb0FLS0tLQUNpaWlnQW9vb29BS0tLS0FDaWlpZ0Fvb29vQUtLS0tBQ2lpaWdBb29vb0FLS0tLQUNpaWlnQW9vb29BS0tLS0FDaWlpZ0Fvb29vQUtLS0tBQ2lpaWdBb29vb0FLS0tLQUNpaWlnQW9vb29BS0tLS0FDaWlpZ0Fvb29vQUtLS0tBQ2lpaWdBb29vb0FLS0tLQUNpaWlnQW9vb29BS0tLS0FDaWlpZ0Fvb29vQUtLS0tBQ2lpaWdELzlrPSIsIkFjdGlvblR5cGUiOjMsIkZpbGVzIjpbeyJJZCI6ImU1Y2YyMWJmLWQ3OGItNGY4Yi1iYjY3LTM2NTJlNDk1ZDEyZSIsIk5hbWUiOiJ0ZXN0LnBuZyIsIlNpemUiOjQsIlVybCI6Imh0dHBzOi8vY2RuLmthc2NvcmUub3NpLm9mZmljZS5uZXQvNzVlOGU3YjYzZDJhNGMxMGNkYzMwMjA4YWEyN2YxYzI5ODdkODY4YTBlNzY0ZmM3NDJhOTRmNjU0OWQ4YmRiMi5wbmc/c3Y9MjAxNS0xMi0xMSZzcj1iJnNpZz00aXFzd2pGVll5cUdxeUtnNmNkTWRVUW1pQWV6OHNWOTUxVVNjVW1MekxrJTNEJnN0PTIwMTctMDUtMTdUMDclM0EwNCUzQTQxWiZzZT0yMjkxLTAzLTAyVDA4JTNBMDQlM0E0MVomc3A9ciJ9XX0=\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"actionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Type
  of Action\";s:4:\"type\";s:6:\"string\";}s:10:\"actionBody\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ImageActionBody\";}}s:8:\"required\";a:2:{i:0;s:10:\"actionType\";i:1;s:10:\"actionBody\";}}s:15:\"ImageActionBody\";O:8:\"stdClass\":4:{s:5:\"title\";s:17:\"Image
  Action Body\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"caption\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Text
  Message that would be sent along with the Image\";s:4:\"type\";s:6:\"string\";}s:13:\"mediaResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"MediaResource
  string from a previous call to /media where you need to upload the attachment\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"caption\";i:1;s:13:\"mediaResource\";}}s:62:\"Request
  - SubscribeToAllEventsAtActionLevelWithActionPackageId\";O:8:\"stdClass\":5:{s:5:\"title\";s:62:\"Subscribe
  to all events at action level with action package id\";s:12:\"x-ms-example\";O:8:\"stdClass\":6:{s:8:\"objectId\";s:36:\"25b39b30-0806-4d17-b6a7-a39f21fa52e9\";s:10:\"objectType\";s:13:\"ActionPackage\";s:10:\"eventTypes\";a:2:{i:0;s:13:\"ActionCreated\";i:1;s:14:\"ActionResponse\";}s:11:\"callBackUrl\";s:28:\"https://requestb.in/12786un1\";s:13:\"callBackToken\";s:27:\"tokenToBeVerifiedByCallback\";s:15:\"callBackContext\";s:139:\"Any
  data which is required to be returned in callback. Current webhook data can be seen
  by refreshing: https://requestb.in/12786un1?inspect\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:218:\"Identifier
  representing the object in which context the webhooks need to be created.For ObjectType=Group,
  its group's Identifier, For ObjectType=Action, its actionId, For ObjectType=ActionPackage,
  its action-package-id\";s:4:\"type\";s:6:\"string\";}s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Enum:Group/Action/ActionPackage\";s:4:\"type\";s:6:\"string\";}s:10:\"eventTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:275:\"Array
  of different types of events you need to subscribe the webhook to. Supported events
  are: ActionCreated,ActionResponse,SurveyCreated,JobCreated,SurveyResponse,JobResponse,TextMessageCreated,AttachmentCreated,Announcement,MemberAdded,MemberRemoved,GroupAdded,GroupRemoved\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"callBackUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"HTTPS
  URL to which the subscribed events need to be notified to\";s:4:\"type\";s:6:\"string\";}s:13:\"callBackToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"Optional
  parameter you can set which will be sent in the HTTP header 'kz-callback-token'
  with every callBack made by the WebHook \";s:4:\"type\";s:6:\"string\";}s:15:\"callBackContext\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"Optional
  parameter you can set which will be sent in the JSON payload as 'context' with every
  callBack made by the WebHook \";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:8:\"objectId\";i:1;s:10:\"objectType\";i:2;s:10:\"eventTypes\";i:3;s:11:\"callBackUrl\";i:4;s:13:\"callBackToken\";i:5;s:15:\"callBackContext\";}}s:50:\"Request
  - SendMessageToSubscriber(s)InAPublicGroup\";O:8:\"stdClass\":5:{s:5:\"title\";s:47:\"Send
  message to subscriber(s) in a public group\";s:12:\"x-ms-example\";O:8:\"stdClass\":3:{s:7:\"Message\";s:22:\"message
  to subscribers\";s:11:\"subscribers\";a:1:{i:0;s:19:\"{{mobile-number-3}}\";}s:20:\"sendToAllSubscribers\";b:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Message\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Text
  message to be sent (Max limit of 1000 Characters)\";s:4:\"type\";s:6:\"string\";}s:11:\"subscribers\";O:8:\"stdClass\":3:{s:11:\"description\";s:225:\"Each
  element corresponds to a mobile number(with country code. Eg. +911999999999). Text
  message will be sent only to the selected subscribers. To be used for selective
  communication to subscribers in context of a Public Group\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:20:\"sendToAllSubscribers\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"Default:
  false. Valid only in case the groupId belongs to a Public Group. True to send the
  text message to all subscribers which requires the token's user to be admin of the
  Public Group\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:3:{i:0;s:7:\"Message\";i:1;s:11:\"subscribers\";i:2;s:20:\"sendToAllSubscribers\";}}s:32:\"Request
  - Add members to a group\";O:8:\"stdClass\":5:{s:5:\"title\";s:22:\"Add members
  to a group\";s:12:\"x-ms-example\";O:8:\"stdClass\":1:{s:7:\"members\";a:1:{i:0;s:19:\"{{mobile-number-2}}\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Array
  of phone numbers(with countrycode) of new members to be added\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:1:{i:0;s:7:\"members\";}}s:42:\"Request
  - SubscribeToAllEventsAtGroupLevel\";O:8:\"stdClass\":5:{s:5:\"title\";s:45:\"Subscribe
  to all events at group levelRequest\";s:12:\"x-ms-example\";O:8:\"stdClass\":6:{s:8:\"objectId\";s:17:\"{{test-group-id}}\";s:10:\"objectType\";s:5:\"Group\";s:10:\"eventTypes\";a:13:{i:0;s:13:\"ActionCreated\";i:1;s:14:\"ActionResponse\";i:2;s:13:\"SurveyCreated\";i:3;s:10:\"JobCreated\";i:4;s:14:\"SurveyResponse\";i:5;s:11:\"JobResponse\";i:6;s:18:\"TextMessageCreated\";i:7;s:17:\"AttachmentCreated\";i:8;s:12:\"Announcement\";i:9;s:11:\"MemberAdded\";i:10;s:13:\"MemberRemoved\";i:11;s:10:\"GroupAdded\";i:12;s:12:\"GroupRemoved\";}s:11:\"callBackUrl\";s:28:\"https://requestb.in/12786un1\";s:13:\"callBackToken\";s:27:\"tokenToBeVerifiedByCallback\";s:15:\"callBackContext\";s:139:\"Any
  data which is required to be returned in callback. Current webhook data can be seen
  by refreshing: https://requestb.in/12786un1?inspect\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:218:\"Identifier
  representing the object in which context the webhooks need to be created.For ObjectType=Group,
  its group's Identifier, For ObjectType=Action, its actionId, For ObjectType=ActionPackage,
  its action-package-id\";s:4:\"type\";s:6:\"string\";}s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Enum:Group/Action/ActionPackage\";s:4:\"type\";s:6:\"string\";}s:10:\"eventTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:275:\"Array
  of different types of events you need to subscribe the webhook to. Supported events
  are: ActionCreated,ActionResponse,SurveyCreated,JobCreated,SurveyResponse,JobResponse,TextMessageCreated,AttachmentCreated,Announcement,MemberAdded,MemberRemoved,GroupAdded,GroupRemoved\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"callBackUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"HTTPS
  URL to which the subscribed events need to be notified to\";s:4:\"type\";s:6:\"string\";}s:13:\"callBackToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"Optional
  parameter you can set which will be sent in the HTTP header 'kz-callback-token'
  with every callBack made by the WebHook \";s:4:\"type\";s:6:\"string\";}s:15:\"callBackContext\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"Optional
  parameter you can set which will be sent in the JSON payload as 'context' with every
  callBack made by the WebHook \";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:8:\"objectId\";i:1;s:10:\"objectType\";i:2;s:10:\"eventTypes\";i:3;s:11:\"callBackUrl\";i:4;s:13:\"callBackToken\";i:5;s:15:\"callBackContext\";}}s:35:\"Request
  - PostingAResponseToASurvey\";O:8:\"stdClass\":4:{s:5:\"title\";s:30:\"Posting a
  response to a survey\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"actionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Type
  of action\";s:4:\"type\";s:6:\"string\";}s:10:\"actionBody\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/SurveyActionBody\";}}s:8:\"required\";a:2:{i:0;s:10:\"actionType\";i:1;s:10:\"actionBody\";}}s:16:\"SurveyActionBody\";O:8:\"stdClass\":4:{s:5:\"title\";s:18:\"Survey
  Action Body\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"responseName\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the response\";s:4:\"type\";s:6:\"string\";}s:16:\"responseLocation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ResponseLocation\";}s:7:\"Answers\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Answer\";}}}s:8:\"required\";a:3:{i:0;s:12:\"responseName\";i:1;s:16:\"responseLocation\";i:2;s:7:\"Answers\";}}s:16:\"ResponseLocation\";O:8:\"stdClass\":4:{s:5:\"title\";s:16:\"ResponseLocation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Latitude
  coordinates for the location\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Longitude
  coordinates for the location\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Name
  of the Place that Location co-ordinates corresponds to\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:8:\"latitude\";i:1;s:9:\"longitude\";i:2;s:4:\"name\";}}s:6:\"Answer\";O:8:\"stdClass\":3:{s:5:\"title\";s:6:\"Answer\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"lt\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Latitude
  coordinates for the location\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:2:\"lg\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Longitude
  coordinates for the location\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:1:\"n\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}}s:23:\"Response
  - Access Token\";O:8:\"stdClass\":5:{s:5:\"title\";s:25:\"Retrieve the Access Token\";s:12:\"x-ms-example\";O:8:\"stdClass\":4:{s:11:\"accessToken\";s:12:\"asdasadadaad\";s:11:\"endpointUrl\";s:47:\"https://inc-000.KaizalaMessaging.osi.office.net\";s:17:\"accessTokenExpiry\";i:1505566877207;s:5:\"scope\";s:11:\"token.write\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"accessToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Access
  Token received from the auth end-point\";s:4:\"type\";s:6:\"string\";}s:11:\"endpointUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"On
  successful auth, an endpoint url is returned that should be used as api-base-url
  for making subsequent API calls\";s:4:\"type\";s:6:\"string\";}s:17:\"accessTokenExpiry\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"It
  indicates the expiry time for accessToken in epoch time(milliseconds)\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"scope\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Scope
  of permissions on Kaizala resources that given Access Token provides\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:11:\"accessToken\";i:1;s:11:\"endpointUrl\";i:2;s:17:\"accessTokenExpiry\";i:3;s:5:\"scope\";}}s:36:\"Request
  - PostingAResponseToAnAction\";O:8:\"stdClass\":5:{s:5:\"title\";s:31:\"Posting
  a response to an action\";s:12:\"x-ms-example\";O:8:\"stdClass\":2:{s:2:\"id\";s:36:\"25b39b30-0806-4d17-b6a7-a39f21fa52e9\";s:10:\"actionBody\";O:8:\"stdClass\":1:{s:7:\"Answers\";a:1:{i:0;s:9:\"test
  text\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"ID
  associated with the Action Instance\";s:4:\"type\";s:6:\"string\";}s:10:\"actionBody\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/Request
  - Action Body\";}s:10:\"responseId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"For
  updating existing response\";s:4:\"type\";s:6:\"string\";}s:10:\"actionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Enum
  values: Survey/Job. Either of actionType or Id should be specified\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:10:\"actionBody\";i:2;s:10:\"actionType\";}}s:21:\"Request
  - Action Body\";O:8:\"stdClass\":5:{s:5:\"title\";s:11:\"Action Body\";s:11:\"description\";s:116:\"Object
  representing data needed for the respective Action. Parameters would vary according
  to different Action-type.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Answers\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Array
  of Response items for the given Action.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:1:{i:0;s:7:\"Answers\";}}s:28:\"Request
  - Remove subscribers\";O:8:\"stdClass\":5:{s:5:\"title\";s:38:\"Remove Subscribers
  from a public group\";s:12:\"x-ms-example\";O:8:\"stdClass\":1:{s:11:\"subscribers\";a:1:{i:0;s:19:\"{{mobile-number-3}}\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"subscribers\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"List
  of subscriber mobile number with country code\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:1:{i:0;s:11:\"subscribers\";}}s:22:\"Request
  - Generate pin\";O:8:\"stdClass\":5:{s:5:\"title\";s:12:\"Generate Pin\";s:12:\"x-ms-example\";O:8:\"stdClass\":2:{s:12:\"mobileNumber\";s:17:\"{{mobile-number}}\";s:13:\"applicationId\";s:18:\"{{application-id}}\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"mobileNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Mobile
  Number for which PIN would be generated\";s:4:\"type\";s:6:\"string\";}s:13:\"applicationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"ID
  associated with the Connector\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:12:\"mobileNumber\";i:1;s:13:\"applicationId\";}}s:29:\"Request
  - SendMessageOnAGroup\";O:8:\"stdClass\":5:{s:5:\"title\";s:23:\"Send message on
  a group\";s:12:\"x-ms-example\";O:8:\"stdClass\":1:{s:7:\"message\";s:20:\"Test
  message via API\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Text
  Message that would be sent in the group\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"message\";}}s:40:\"Request
  - PostCustomAnnouncementToAGroup\";O:8:\"stdClass\":5:{s:5:\"title\";s:28:\"Post
  announcement to a group\";s:12:\"x-ms-example\";O:8:\"stdClass\":2:{s:10:\"actiontype\";s:12:\"Announcement\";s:10:\"actionBody\";O:8:\"stdClass\":1:{s:7:\"message\";s:22:\"Lets
  test announcement\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"actiontype\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Type
  of Action. Value: Announcement\";s:4:\"type\";s:6:\"string\";}s:10:\"actionBody\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/AnnouncementBodyRequest\";}}s:8:\"required\";a:2:{i:0;s:10:\"actiontype\";i:1;s:10:\"actionBody\";}}s:23:\"AnnouncementBodyRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:25:\"Announcement
  Body Request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Message
  that would be sent as Announcement\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"message\";}}s:45:\"Request
  - Send Custom Action To Subscriber(s)\";O:8:\"stdClass\":5:{s:5:\"title\";s:53:\"Post
  custom action to subscriber(s) in a public group\";s:12:\"x-ms-example\";O:8:\"stdClass\":4:{s:2:\"id\";s:36:\"25b39b30-0806-4d17-b6a7-a39f21fa52e9\";s:10:\"actionBody\";O:8:\"stdClass\":2:{s:5:\"title\";s:14:\"override
  title\";s:8:\"validity\";i:24;}s:11:\"subscribers\";a:1:{i:0;s:19:\"{{mobile-number-3}}\";}s:20:\"sendToAllSubscribers\";b:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Action
  Package id\";s:4:\"type\";s:6:\"string\";}s:10:\"actionBody\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/SubscribersCustomActionBody\";}s:11:\"subscribers\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:20:\"sendToAllSubscribers\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:10:\"actionBody\";i:2;s:11:\"subscribers\";i:3;s:20:\"sendToAllSubscribers\";}}s:27:\"SubscribersCustomActionBody\";O:8:\"stdClass\":4:{s:5:\"title\";s:34:\"Custom
  Action sent to a subscriber\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Title\";s:4:\"type\";s:6:\"string\";}s:8:\"validity\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Validity\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:2:{i:0;s:5:\"title\";i:1;s:8:\"validity\";}}s:52:\"Request
  - PostCustomAnnouncementToAGroup[withImages]\";O:8:\"stdClass\":5:{s:5:\"title\";s:49:\"Post
  custom announcement to a group [with images]\";s:12:\"x-ms-example\";O:8:\"stdClass\":2:{s:10:\"actionType\";s:12:\"Announcement\";s:10:\"actionBody\";O:8:\"stdClass\":2:{s:7:\"Message\";s:27:\"Test
  announcement via API 2\";s:14:\"MediaResources\";a:1:{i:0;s:3032:\"eyJUaHVtYm5haWwiOiIvOWovNEFBUVNrWkpSZ0FCQVFFQVlBQmdBQUQvMndCREFJVmNaSFZrVTRWMWJIV1dqb1dleVAvWnlMZTN5UC8vLy9MLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8yd0JEQVk2V2xzaXZ5UC9aMmYvLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vL3dBQVJDQUNTQVFRREFTSUFBaEVCQXhFQi84UUFId0FBQVFVQkFRRUJBUUVBQUFBQUFBQUFBQUVDQXdRRkJnY0lDUW9MLzhRQXRSQUFBZ0VEQXdJRUF3VUZCQVFBQUFGOUFRSURBQVFSQlJJaE1VRUdFMUZoQnlKeEZES0JrYUVJSTBLeHdSVlMwZkFrTTJKeWdna0tGaGNZR1JvbEppY29LU28wTlRZM09EazZRMFJGUmtkSVNVcFRWRlZXVjFoWldtTmtaV1puYUdscWMzUjFkbmQ0ZVhxRGhJV0doNGlKaXBLVGxKV1dsNWlabXFLanBLV21wNmlwcXJLenRMVzJ0N2k1dXNMRHhNWEd4OGpKeXRMVDFOWFcxOWpaMnVIaTQrVGw1dWZvNmVyeDh2UDA5ZmIzK1BuNi84UUFId0VBQXdFQkFRRUJBUUVCQVFBQUFBQUFBQUVDQXdRRkJnY0lDUW9MLzhRQXRSRUFBZ0VDQkFRREJBY0ZCQVFBQVFKM0FBRUNBeEVFQlNFeEJoSkJVUWRoY1JNaU1vRUlGRUtSb2JIQkNTTXpVdkFWWW5MUkNoWWtOT0VsOFJjWUdSb21KeWdwS2pVMk56ZzVPa05FUlVaSFNFbEtVMVJWVmxkWVdWcGpaR1ZtWjJocGFuTjBkWFozZUhsNmdvT0VoWWFIaUltS2twT1VsWmFYbUptYW9xT2twYWFucUttcXNyTzB0YmEzdUxtNndzUEV4Y2JIeU1uSzB0UFUxZGJYMk5uYTR1UGs1ZWJuNk9ucTh2UDA5ZmIzK1BuNi85b0FEQU1CQUFJUkF4RUFQd0N4UlJSUUFVVVVVQUZGRkZBQlJSUlFBVVVVVUFGRkZGQUJSUlJRQVVVVVVBRkZGRkFCUlJSUUFVVVVVQUZGRkZBQlJSUlFBVVVVVUFGRkZGQUJSUlJRQVVVVVVBRkZGRkFCUlJSUUFVVVVsQUMwVW1hTTByZ0xSU1pvelJjQmFLVE5HYUxnTFJTWm96UmNCYUtUTkdhTGdMUlNab3pSY0JhS1ROR2FMb0JhS0tLWUJSUlJRQVVVVVVBRkZGRkFCUlJSUUFVVVVVQUZGRkZBQlJSUlFBVVVVVUFGSWVsTFNIcFNld0MwVVVVd0NpaWs3MEFMUlNZb3hTMUFXaWt4UmlqVUJhS1RGR0tOUUZvcE1VWW8xQVdrUFNqRkJIRkR2WUJhS1RGR0tOUUZvcE1VWW8xQVdpa3hSaWpVQmFLVEZHS05RRm9wQlMwd0NpaWlnQW9vb29BS0tLS0FDaWlpZ0FwRDBwYVE5S1QyQVdpaWltQVVuZWxwTzlJQmFLS0tZQlJSUlFBVVVVVUFGRkZGQUJTSHBTMGg2VW5zQXRGRkZNQW9vb29BS0tLS0FDaWlpZ0JPOUxTZDZXa2dDaWlpbUFVVVVVQUZGRkZBQlJSUlFBVVVVVUFKaWpGTFJTc2dFeFJpbHBPOUZrQVlveFMwVVdRQ1lveFMwVVdRQ1lveFMwVVdRQ1lveFMwVVdRQ1lveFMwVVdRQlJSUlRBS0tLS0FDaWlpZ0Fvb29vQVR2UzBuZWxwSUFvb29wZ0ZGRkZBQlJSUlFBVVVVVUFGRkZGQUJSUlJRQVVuZWxwTzlMc0F0RkZGTUFvb29vQUtLS0tBQ2lpaWdBb29vb0FLS0tLQUNpaWlnQW9vb29BS0tLS0FFNzB0SjNwYVNBS0tLS1lCUlJSUUFVVVVVQUZGRkZBQlJSUlFBVVVVVUFGSjNwYVR2U0FXaWlpbUFVVVVVQUZGRkZBQlJSUlFBVVVVVUFGRkZGQUJSUlJRQVVVVVVBRkZGRkFDZDZXazcwdEpBRkZGRk1Bb29vb0FLS0tLQUNpaWlnQW9vb29BS0tLS0FDa3BhS0FFeFJpbG9wV1FDWW94UzBVV1FDWW94UzBVV1FDWW94UzBVV1FDWW94UzBVV1FDWW94UzBVV1FDWW94UzBVV1FDWW94UzBVV1FDWW94UzBVV1FDVXRGRk1Bb29vb0FLS0tLQUNpaWlnQW9vb29BS0tLS0FDaWlpZ0Fvb29vQUtLS0tBQ2lpaWdBb29vb0FLS0tLQUNpaWlnQW9vb29BS0tLS0FDaWlpZ0Fvb29vQUtLS0tBQ2lpaWdBb29vb0FLS0tLQUNpaWlnQW9vb29BS0tLS0FDaWlpZ0Fvb29vQUtLS0tBQ2lpaWdBb29vb0FLS0tLQUNpaWlnQW9vb29BS0tLS0FDaWlpZ0Fvb29vQUtLS0tBQ2lpaWdELzlrPSIsIkFjdGlvblR5cGUiOjMsIkZpbGVzIjpbeyJJZCI6ImU1Y2YyMWJmLWQ3OGItNGY4Yi1iYjY3LTM2NTJlNDk1ZDEyZSIsIk5hbWUiOiJ0ZXN0LnBuZyIsIlNpemUiOjQsIlVybCI6Imh0dHBzOi8vY2RuLmthc2NvcmUub3NpLm9mZmljZS5uZXQvNzVlOGU3YjYzZDJhNGMxMGNkYzMwMjA4YWEyN2YxYzI5ODdkODY4YTBlNzY0ZmM3NDJhOTRmNjU0OWQ4YmRiMi5wbmc/c3Y9MjAxNS0xMi0xMSZzcj1iJnNpZz00aXFzd2pGVll5cUdxeUtnNmNkTWRVUW1pQWV6OHNWOTUxVVNjVW1MekxrJTNEJnN0PTIwMTctMDUtMTdUMDclM0EwNCUzQTQxWiZzZT0yMjkxLTAzLTAyVDA4JTNBMDQlM0E0MVomc3A9ciJ9XX0=\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"actionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Type
  of Action. Value: Announcement \";s:4:\"type\";s:6:\"string\";}s:10:\"actionBody\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AnnouncementwithImage\";}}s:8:\"required\";a:2:{i:0;s:10:\"actionType\";i:1;s:10:\"actionBody\";}}s:21:\"AnnouncementwithImage\";O:8:\"stdClass\":4:{s:5:\"title\";s:29:\"Announcement
  Body with Images\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Message
  that will be sent in the group\";s:4:\"type\";s:6:\"string\";}s:14:\"MediaResources\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Array
  of media resource objects\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:2:{i:0;s:7:\"Message\";i:1;s:14:\"MediaResources\";}}s:23:\"Request
  - Refresh Token\";O:8:\"stdClass\":5:{s:5:\"title\";s:53:\"Login with pin and applicationId
  to get refresh token\";s:12:\"x-ms-example\";O:8:\"stdClass\":3:{s:12:\"mobileNumber\";s:17:\"{{mobile-number}}\";s:13:\"applicationId\";s:18:\"{{application-id}}\";s:3:\"pin\";i:8876;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"mobileNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Mobile
  Number for which token would be generated\";s:4:\"type\";s:6:\"string\";}s:13:\"applicationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"ID
  associated with the Connector\";s:4:\"type\";s:6:\"string\";}s:3:\"pin\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"OTP
  sent to the given mobile number\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:3:{i:0;s:12:\"mobileNumber\";i:1;s:13:\"applicationId\";i:2;s:3:\"pin\";}}s:24:\"Response
  - Refresh Token\";O:8:\"stdClass\":5:{s:5:\"title\";s:53:\"Login with pin and applicationId
  to get refresh token\";s:12:\"x-ms-example\";O:8:\"stdClass\":3:{s:12:\"refreshToken\";s:7:\"adwawaw\";s:12:\"grantedScope\";s:256:\"groupinfo.read,groupinfo.write,groupinfo.remove,groupinfo.update,groupmember.read,groupmember.write,groupmember.remove,textmessage.read,action.read,action.write,action.update,profile.write,media.read,webhook.read,webhook.write,webhook.remove,webhook.update\";s:18:\"refreshTokenExpiry\";i:1537016388242;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"refreshToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"refreshToken
  shared by the Kaizala Group Admin when the respective Connector was granted access
  to the group\";s:4:\"type\";s:6:\"string\";}s:12:\"grantedScope\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Access
  Scope that the given Application/Connector has been granted\";s:4:\"type\";s:6:\"string\";}s:18:\"refreshTokenExpiry\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"It
  indicates the expiry time for refreshToken in epoch time(milliseconds)\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:3:{i:0;s:12:\"refreshToken\";i:1;s:12:\"grantedScope\";i:2;s:18:\"refreshTokenExpiry\";}}s:36:\"Response
  - Fetch subGroup of a group\";O:8:\"stdClass\":5:{s:5:\"title\";s:30:\"Fetch sub-group(s)
  for a group\";s:12:\"x-ms-example\";O:8:\"stdClass\":9:{s:9:\"groupName\";s:18:\"Kaizala
  Test group\";s:7:\"groupId\";s:36:\"5fe5b80a-52d1-4d8a-8086-cf8f34259de2\";s:13:\"groupImageUrl\";s:0:\"\";s:12:\"hasSubGroups\";b:1;s:15:\"hasParentGroups\";b:0;s:16:\"isMappedToTenant\";b:0;s:9:\"groupType\";s:5:\"Group\";s:9:\"subGroups\";a:1:{i:0;O:8:\"stdClass\":9:{s:9:\"groupName\";s:22:\"Kaizala
  Test sub group\";s:7:\"groupId\";s:36:\"d15fce78-d5c5-410f-845d-a747f02de912\";s:13:\"groupImageUrl\";s:0:\"\";s:12:\"hasSubGroups\";b:0;s:15:\"hasParentGroups\";b:1;s:16:\"isMappedToTenant\";b:0;s:9:\"groupType\";s:5:\"Group\";s:11:\"isDuplicate\";b:0;s:14:\"welcomeMessage\";s:57:\"Welcome
  to sub group created programmatically via Postman\";}}s:14:\"welcomeMessage\";s:53:\"Welcome
  to group created programmatically via Postman\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"groupName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of the group\";s:4:\"type\";s:6:\"string\";}s:7:\"groupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"GUID
  associated with the group\";s:4:\"type\";s:6:\"string\";}s:13:\"groupImageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"String
  specifying the URL of the group profile picture \";s:4:\"type\";s:6:\"string\";}s:12:\"hasSubGroups\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Returns
  true, if the group has subGroups\";s:4:\"type\";s:7:\"boolean\";}s:15:\"hasParentGroups\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Returns
  true, if the group has parent Groups\";s:4:\"type\";s:7:\"boolean\";}s:16:\"isMappedToTenant\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Returns
  true, if the group is mapped as Organization Group\";s:4:\"type\";s:7:\"boolean\";}s:9:\"groupType\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Group/
  Connect Group. Connect Group refers to Managed Public Group.\";s:4:\"type\";s:6:\"string\";}s:9:\"subGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Array
  of Subgroups that given group has\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/SubGroup\";}}s:14:\"welcomeMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Welcome
  Message that is shown to new joinees in the group\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:9:{i:0;s:9:\"groupName\";i:1;s:7:\"groupId\";i:2;s:13:\"groupImageUrl\";i:3;s:12:\"hasSubGroups\";i:4;s:15:\"hasParentGroups\";i:5;s:16:\"isMappedToTenant\";i:6;s:9:\"groupType\";i:7;s:9:\"subGroups\";i:8;s:14:\"welcomeMessage\";}}s:8:\"SubGroup\";O:8:\"stdClass\":4:{s:5:\"title\";s:8:\"SubGroup\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"groupName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of the group\";s:4:\"type\";s:6:\"string\";}s:7:\"groupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"GUID
  associated with the group\";s:4:\"type\";s:6:\"string\";}s:13:\"groupImageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"String
  specifying the URL of the group profile picture \";s:4:\"type\";s:6:\"string\";}s:12:\"hasSubGroups\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Returns
  true, if the group has subGroups\";s:4:\"type\";s:7:\"boolean\";}s:15:\"hasParentGroups\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Returns
  true, if the group has parent Groups\";s:4:\"type\";s:7:\"boolean\";}s:16:\"isMappedToTenant\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Returns
  true, if the group is mapped as Organization Group\";s:4:\"type\";s:7:\"boolean\";}s:9:\"groupType\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Group/
  Connect Group. Connect Group refers to Managed Public Group.\";s:4:\"type\";s:6:\"string\";}s:11:\"isDuplicate\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Returns
  true, if provided groupid already exists\";s:4:\"type\";s:7:\"boolean\";}s:14:\"welcomeMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Welcome
  Message that is shown to new joinees in the group \";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:9:{i:0;s:9:\"groupName\";i:1;s:7:\"groupId\";i:2;s:13:\"groupImageUrl\";i:3;s:12:\"hasSubGroups\";i:4;s:15:\"hasParentGroups\";i:5;s:16:\"isMappedToTenant\";i:6;s:9:\"groupType\";i:7;s:11:\"isDuplicate\";i:8;s:14:\"welcomeMessage\";}}s:25:\"Response
  - Create a group\";O:8:\"stdClass\":4:{s:12:\"x-ms-example\";O:8:\"stdClass\":3:{s:7:\"groupId\";s:39:\"jhj5fe5b80a-52d1-4d8a-8086-cf8f34259de2\";s:9:\"groupName\";s:10:\"Test
  group\";s:12:\"membersAdded\";b:1;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"groupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Group
  Identifier which can be used in subsequent API calls \";s:4:\"type\";s:6:\"string\";}s:9:\"groupName\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Group
  name\";s:4:\"type\";s:6:\"string\";}s:12:\"membersAdded\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"True
  if all members are successfully added \";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:3:{i:0;s:7:\"groupId\";i:1;s:9:\"groupName\";i:2;s:12:\"membersAdded\";}}s:39:\"Request
  - Subscribers of a public group\";O:8:\"stdClass\":4:{s:5:\"title\";s:33:\"Get Subscribers
  of a public group\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Number
  of Subscribers in the Public Group\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"cursor\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"Start
  of resultset. For pagination. To be used in Request body for fetching next result
  set. Present in response only if there is a valid next result set.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"count\";i:1;s:6:\"cursor\";}}s:43:\"Request
  - SubscribeToAllEventsAtActionLevel\";O:8:\"stdClass\":5:{s:5:\"title\";s:39:\"Subscribe
  to all events at action level\";s:12:\"x-ms-example\";O:8:\"stdClass\":6:{s:8:\"objectId\";s:18:\"{{test-action-id}}\";s:10:\"objectType\";s:6:\"Action\";s:10:\"eventTypes\";a:2:{i:0;s:13:\"ActionCreated\";i:1;s:14:\"ActionResponse\";}s:11:\"callBackUrl\";s:28:\"https://requestb.in/12786un1\";s:13:\"callBackToken\";s:27:\"tokenToBeVerifiedByCallback\";s:15:\"callBackContext\";s:139:\"Any
  data which is required to be returned in callback. Current webhook data can be seen
  by refreshing: https://requestb.in/12786un1?inspect\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"eventTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"callBackUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"callBackToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"callBackContext\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:8:\"objectId\";i:1;s:10:\"objectType\";i:2;s:10:\"eventTypes\";i:3;s:11:\"callBackUrl\";i:4;s:13:\"callBackToken\";i:5;s:15:\"callBackContext\";}}s:34:\"Request
  - PostCustomActionOnAGroup\";O:8:\"stdClass\":5:{s:5:\"title\";s:29:\"Post custom
  action on a group\";s:12:\"x-ms-example\";O:8:\"stdClass\":2:{s:2:\"id\";s:36:\"25b39b30-0806-4d17-b6a7-a39f21fa52e9\";s:10:\"actionBody\";O:8:\"stdClass\":2:{s:5:\"title\";s:14:\"override
  title\";s:8:\"validity\";i:24;}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"actionBody\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CustomActionBody\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:10:\"actionBody\";}}s:28:\"Request
  - SendSurveyOnAGroup\";O:8:\"stdClass\":5:{s:5:\"title\";s:22:\"Send survey on a
  group\";s:12:\"x-ms-example\";O:8:\"stdClass\":2:{s:10:\"actionType\";s:6:\"Survey\";s:10:\"actionBody\";O:8:\"stdClass\":6:{s:11:\"isAnonymous\";b:0;s:12:\"isSenderOnly\";b:0;s:23:\"acceptMultipleResponses\";b:1;s:7:\"dueDate\";i:10;s:5:\"title\";s:15:\"A
  test survey!!\";s:9:\"questions\";a:7:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:28:\"a
  test question written here\";s:4:\"type\";s:4:\"Text\";}i:1;O:8:\"stdClass\":3:{s:5:\"title\";s:22:\"Single
  select question\";s:4:\"type\";s:12:\"SingleOption\";s:7:\"options\";a:2:{i:0;O:8:\"stdClass\":1:{s:5:\"title\";s:4:\"Opt1\";}i:1;O:8:\"stdClass\":1:{s:5:\"title\";s:4:\"Opt2\";}}}i:2;O:8:\"stdClass\":3:{s:5:\"title\";s:21:\"Multi
  select question\";s:4:\"type\";s:11:\"MultiOption\";s:7:\"options\";a:3:{i:0;O:8:\"stdClass\":1:{s:5:\"title\";s:5:\"MOpt1\";}i:1;O:8:\"stdClass\":1:{s:5:\"title\";s:5:\"MOpt2\";}i:2;O:8:\"stdClass\":1:{s:5:\"title\";s:5:\"MOpt3\";}}}i:3;O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Numeric
  question\";s:4:\"type\";s:7:\"Numeric\";}i:4;O:8:\"stdClass\":2:{s:5:\"title\";s:17:\"Location
  question\";s:4:\"type\";s:8:\"Location\";}i:5;O:8:\"stdClass\":2:{s:5:\"title\";s:17:\"DateTime
  question\";s:4:\"type\";s:8:\"DateTime\";}i:6;O:8:\"stdClass\":2:{s:5:\"title\";s:14:\"Image
  question\";s:4:\"type\";s:5:\"Image\";}}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"actionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"actionBody\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/Request
  - SurveyActionBody\";}}s:8:\"required\";a:2:{i:0;s:10:\"actionType\";i:1;s:10:\"actionBody\";}}s:26:\"Request
  - SurveyActionBody\";O:8:\"stdClass\":4:{s:5:\"title\";s:18:\"Survey Action Body\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"isAnonymous\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:12:\"isSenderOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:23:\"acceptMultipleResponses\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:7:\"dueDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"questions\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Question\";}}}s:8:\"required\";a:6:{i:0;s:11:\"isAnonymous\";i:1;s:12:\"isSenderOnly\";i:2;s:23:\"acceptMultipleResponses\";i:3;s:7:\"dueDate\";i:4;s:5:\"title\";i:5;s:9:\"questions\";}}s:8:\"Question\";O:8:\"stdClass\":4:{s:5:\"title\";s:8:\"Question\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Option\";}}}s:8:\"required\";a:2:{i:0;s:5:\"title\";i:1;s:4:\"type\";}}s:6:\"Option\";O:8:\"stdClass\":4:{s:5:\"title\";s:6:\"Option\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"title\";}}}"
...
