---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:973:\"Description of
  Instagram RESTful API.\n\nCurrent limitations:\n  * Instagram service does not support
  [cross origin headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS)\n
  \ for security reasons, therefore it is not possible to use Swagger UI and make
  API calls directly from browser.\n  * Modification API requests (`POST`, `DELETE`)
  require additional security [scopes](https://instagram.com/developer/authorization/)\n
  \ that are available for Apps [created on or after Nov 17, 2015](http://instagram.com/developer/review/)
  and\n  started in [Sandbox Mode](http://instagram.com/developer/sandbox/).\n  *
  Consider the [Instagram limitations](https://instagram.com/developer/limits/) for
  API calls that depends on App Mode.\n\n**Warning:** For Apps [created on or after
  Nov 17, 2015](http://instagram.com/developer/changelog/) API responses\ncontaining
  media objects no longer return the `data` field in `comments` and `likes` nodes.\n\nLast
  update: 2015-11-28\n\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:13:\"Instagram
  API\";s:14:\"termsOfService\";s:44:\"https://instagram.com/about/legal/terms/api/\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"Instagram\";s:3:\"url\";s:39:\"https://instagram.com/developer/support\";}}"
host: api.instagram.com
basePath: /v1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":36:{s:8:\"MetaData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:16:\"HTTP
  result code\";}}}s:16:\"IdPaginationInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"next_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"URL
  to retrieve next page of entries\";}s:11:\"next_max_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  max ID of the next page\";}}}s:20:\"CursorPaginationInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"next_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"URL
  to retrieve next page of entries\";}s:11:\"next_cursor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  cursor ID of the next page\";}}}s:12:\"UserResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Response
  meta-data\";s:4:\"$ref\";s:22:\"#/definitions/MetaData\";}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"User
  basic information\";s:4:\"$ref\";s:22:\"#/definitions/UserInfo\";}}}s:8:\"UserInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"User
  ID\";}s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"User
  name, nickname\";}s:3:\"bio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"User
  biography\";}s:7:\"website\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"URL
  to user web-site\";}s:15:\"profile_picture\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"URL
  to user profile picture\";}s:9:\"full_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"User
  full name\";}s:6:\"counts\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"User
  statistics (counters)\";s:4:\"$ref\";s:24:\"#/definitions/UserCounts\";}}}s:10:\"UserCounts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"media\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:20:\"Number
  of user media\";}s:7:\"follows\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:37:\"Number
  of users followed by this user\";}s:11:\"followed_by\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:32:\"Number
  of followers of this user\";}}}s:17:\"UsersInfoResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Response
  meta-data\";s:4:\"$ref\";s:22:\"#/definitions/MetaData\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:30:\"User
  short information entries\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserShortInfo\";}}}}s:19:\"UsersPagingResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"pagination\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Information
  for pagination\";s:4:\"$ref\";s:34:\"#/definitions/CursorPaginationInfo\";}s:4:\"meta\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Response
  meta-data\";s:4:\"$ref\";s:22:\"#/definitions/MetaData\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:38:\"List
  of user short information entries\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserShortInfo\";}}}}s:13:\"UserShortInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"User
  ID\";}s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"User
  name, nickname\";}s:15:\"profile_picture\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"URL
  to user profile picture\";}s:9:\"full_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"User
  full name\";}}}s:17:\"MediaListResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"pagination\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Information
  for pagination\";s:4:\"$ref\";s:30:\"#/definitions/IdPaginationInfo\";}s:4:\"meta\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Response
  meta-data\";s:4:\"$ref\";s:22:\"#/definitions/MetaData\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"List
  of media entries\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MediaEntry\";}}}}s:19:\"MediaSearchResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Response
  meta-data\";s:4:\"$ref\";s:22:\"#/definitions/MetaData\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:68:\"Found
  media entries; some end-points do not return likes informtaion\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MediaEntry\";}}}}s:10:\"MediaEntry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:11:\"attribution\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"???
  Unknown ???\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"ID
  of a media entry\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Type
  of this media entry\";s:4:\"enum\";a:2:{i:0;s:5:\"image\";i:1;s:5:\"video\";}}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:35:\"List
  of tags assigned to this media\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Location
  data for this media if available\";s:4:\"$ref\";s:26:\"#/definitions/LocationInfo\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Comments
  of this media entry\";s:4:\"$ref\";s:32:\"#/definitions/CommentsCollection\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Filter
  of this media entry\";}s:12:\"created_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Media
  creation UNIX timestamp\";}s:4:\"link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Fixed
  URL of this media entry\";}s:5:\"likes\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Likes
  of this media entry\";s:4:\"$ref\";s:29:\"#/definitions/LikesCollection\";}s:6:\"images\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Images
  data in different resolutions\";s:4:\"$ref\";s:24:\"#/definitions/ImagesData\";}s:6:\"videos\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Videos
  data in different resolutions, applied for 'video' type\";s:4:\"$ref\";s:24:\"#/definitions/VideosData\";}s:14:\"users_in_photo\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:33:\"Users
  located on this media entry\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UserInPhoto\";}}s:7:\"caption\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Describes
  caption of this media\";s:4:\"$ref\";s:25:\"#/definitions/CaptionData\";}s:14:\"user_has_liked\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:64:\"Indicates
  whether authenticated user has liked this media or not\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"User
  who posted this media\";s:4:\"$ref\";s:27:\"#/definitions/UserShortInfo\";}}}s:12:\"LocationInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"ID
  of this location (in some responses it has a type of 'integer')\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Location
  latitude\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"Location
  longitude\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Location
  name\";}}}s:18:\"CommentsCollection\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:74:\"Nember
  of comments available, data does not necessary contain all comments\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:141:\"Collection
  of comment entries; **warning:** deprecated for Apps [created on or after Nov 17,
  2015](http://instagram.com/developer/changelog/)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CommentEntry\";}}}}s:12:\"CommentEntry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"ID
  of this comment\";}s:12:\"created_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Comment
  creation UNIX timestamp\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Text
  of the comment\";}s:4:\"from\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"User
  who posted this comment\";s:4:\"$ref\";s:27:\"#/definitions/UserShortInfo\";}}}s:15:\"LikesCollection\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:71:\"Nember
  of likes available, data does not necessary contain all comments\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:141:\"Collection
  of users who liked; **warning:** deprecated for Apps [created on or after Nov 17,
  2015](http://instagram.com/developer/changelog/)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserShortInfo\";}}}}s:10:\"ImagesData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"low_resolution\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Image
  in low resolution\";s:4:\"$ref\";s:23:\"#/definitions/ImageInfo\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Thumbnail
  of the image\";s:4:\"$ref\";s:23:\"#/definitions/ImageInfo\";}s:19:\"standard_resolution\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Image
  in standard resolution\";s:4:\"$ref\";s:23:\"#/definitions/ImageInfo\";}}}s:10:\"VideosData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"low_resolution\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Video
  in low resolution\";s:4:\"$ref\";s:23:\"#/definitions/ImageInfo\";}s:19:\"standard_resolution\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Video
  in standard resolution\";s:4:\"$ref\";s:23:\"#/definitions/ImageInfo\";}}}s:9:\"ImageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"URL
  of the image/video resource\";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:27:\"Image/video
  width in pixels\";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:28:\"Image/video
  height in pixels\";}}}s:11:\"UserInPhoto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"position\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Position
  in photo\";s:4:\"$ref\";s:22:\"#/definitions/Position\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"User
  who is indicated on the photo\";s:4:\"$ref\";s:27:\"#/definitions/UserShortInfo\";}}}s:8:\"Position\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:1:\"x\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:23:\"X
  position (horizontal)\";}s:1:\"y\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:21:\"Y
  position (vertical)\";}}}s:11:\"CaptionData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"ID
  of this caption\";}s:12:\"created_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Caption
  creation UNIX timestamp\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Caption
  text\";}s:4:\"from\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"User who created
  this caption\";s:4:\"$ref\";s:27:\"#/definitions/UserShortInfo\";}}}s:20:\"RelationshipResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Response
  meta-data\";s:4:\"$ref\";s:22:\"#/definitions/MetaData\";}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Relationship
  information\";s:4:\"$ref\";s:30:\"#/definitions/RelationshipInfo\";}}}s:16:\"RelationshipInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"outgoing_status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Status
  of outgoing relationship\";s:4:\"enum\";a:3:{i:0;s:4:\"none\";i:1;s:7:\"follows\";i:2;s:9:\"requested\";}}s:15:\"incoming_status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Status
  of incoming relationship\";s:4:\"enum\";a:3:{i:0;s:4:\"none\";i:1;s:11:\"followed_by\";i:2;s:12:\"requested_by\";}}s:22:\"target_user_is_private\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:47:\"Indicates
  whether target user is private or not\";}}}s:24:\"RelationshipPostResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Response
  meta-data\";s:4:\"$ref\";s:22:\"#/definitions/MetaData\";}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Current
  relationship status\";s:4:\"$ref\";s:32:\"#/definitions/RelationshipStatus\";}}}s:18:\"RelationshipStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"outgoing_status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Status
  of outgoing relationship\";s:4:\"enum\";a:3:{i:0;s:4:\"none\";i:1;s:7:\"follows\";i:2;s:9:\"requested\";}}}}s:18:\"MediaEntryResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Response
  meta-data\";s:4:\"$ref\";s:22:\"#/definitions/MetaData\";}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Media
  resource information\";s:4:\"$ref\";s:24:\"#/definitions/MediaEntry\";}}}s:16:\"CommentsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Response
  meta-data\";s:4:\"$ref\";s:22:\"#/definitions/MetaData\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"Collection
  of comments\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CommentEntry\";}}}}s:14:\"StatusResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Response
  meta-data\";s:4:\"$ref\";s:22:\"#/definitions/MetaData\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"No
  data - 'null'\";}}}s:15:\"TagInfoResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Response
  meta-data\";s:4:\"$ref\";s:22:\"#/definitions/MetaData\";}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Tag
  brief information\";s:4:\"$ref\";s:21:\"#/definitions/TagInfo\";}}}s:7:\"TagInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"media_count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:52:\"Overall
  number of media entries taged with this name\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Tag
  name\";}}}s:20:\"TagMediaListResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"pagination\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Information
  for pagination\";s:4:\"$ref\";s:31:\"#/definitions/TagPaginationInfo\";}s:4:\"meta\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Response
  meta-data\";s:4:\"$ref\";s:22:\"#/definitions/MetaData\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:35:\"List
  of media entries with this tag\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MediaEntry\";}}}}s:17:\"TagPaginationInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"next_max_tag_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  max ID of a tag for the next page\";}s:19:\"deprecation_warning\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  deprication warning, if information is available\";}s:11:\"next_max_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Depricated.
  Use min_tag_id instead\";}s:11:\"next_min_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Depricated.
  Use max_tag_id instead\";}s:10:\"min_tag_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  min ID of a tag for the next page\";}s:8:\"next_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"URL
  to retrieve next page of entries\";}}}s:17:\"TagSearchResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Response
  meta-data\";s:4:\"$ref\";s:22:\"#/definitions/MetaData\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:40:\"List
  of found tags with brief statistics\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TagInfo\";}}}}s:20:\"LocationInfoResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Response
  meta-data\";s:4:\"$ref\";s:22:\"#/definitions/MetaData\";}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Location
  brief information\";s:4:\"$ref\";s:26:\"#/definitions/LocationInfo\";}}}s:22:\"LocationSearchResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Response
  meta-data\";s:4:\"$ref\";s:22:\"#/definitions/MetaData\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:23:\"List
  of found locations\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LocationInfo\";}}}}}"
...
