---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1837:\"<p>You
  can use Amazon CloudWatch Logs to monitor, store, and access your log files from
  Amazon EC2 instances, AWS CloudTrail, or other sources. You can then retrieve the
  associated log data from CloudWatch Logs using the CloudWatch console, CloudWatch
  Logs commands in the AWS CLI, CloudWatch Logs API, or CloudWatch Logs SDK.</p> <p>You
  can use CloudWatch Logs to:</p> <ul> <li> <p> <b>Monitor logs from EC2 instances
  in real-time</b>: You can use CloudWatch Logs to monitor applications and systems
  using log data. For example, CloudWatch Logs can track the number of errors that
  occur in your application logs and send you a notification whenever the rate of
  errors exceeds a threshold that you specify. CloudWatch Logs uses your log data
  for monitoring; so, no code changes are required. For example, you can monitor application
  logs for specific literal terms (such as \"NullReferenceException\") or count the
  number of occurrences of a literal term at a particular position in log data (such
  as \"404\" status codes in an Apache access log). When the term you are searching
  for is found, CloudWatch Logs reports the data to a CloudWatch metric that you specify.</p>
  </li> <li> <p> <b>Monitor AWS CloudTrail logged events</b>: You can create alarms
  in CloudWatch and receive notifications of particular API activity as captured by
  CloudTrail and use the notification to perform troubleshooting.</p> </li> <li> <p>
  <b>Archive log data</b>: You can use CloudWatch Logs to store your log data in highly
  durable storage. You can change the log retention setting so that any log events
  older than this setting are automatically deleted. The CloudWatch Logs agent makes
  it easy to quickly send both rotated and non-rotated log data off of a host and
  into the log service. You can then access the raw log data when you need it.</p>
  </li> </ul>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache 2.0
  License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:22:\"Amazon
  CloudWatch Logs\";s:7:\"version\";s:10:\"2014-03-28\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:88:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/logs-2014-03-28.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:4:\"logs\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"amazonaws_logs\";s:4:\"type\";s:7:\"openapi\";}}"
host: logs.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":136:{s:12:\"AccessPolicy\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:3:\"Arn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"AssociateKmsKeyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"kmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/KmsKeyId\";s:11:\"description\";s:265:\"The
  Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more
  information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon
  Resource Names - AWS Key Management Service (AWS KMS)</a>.\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}}s:8:\"required\";a:2:{i:0;s:12:\"logGroupName\";i:1;s:8:\"kmsKeyId\";}s:4:\"type\";s:6:\"object\";}s:23:\"CancelExportTaskRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"taskId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ExportTaskId\";s:11:\"description\";s:26:\"The
  ID of the export task.\";}}s:8:\"required\";a:1:{i:0;s:6:\"taskId\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreateExportTaskRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ExportDestinationBucket\";s:11:\"description\";s:91:\"The
  name of S3 bucket for the exported log data. The bucket must be in the same AWS
  region.\";}s:17:\"destinationPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ExportDestinationPrefix\";s:11:\"description\";s:138:\"The
  prefix used as the start of the key for every object exported. If you don't specify
  a value, the default is <code>exportedlogs</code>.\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:182:\"The
  start time of the range for the request, expressed as the number of milliseconds
  after Jan 1, 1970 00:00:00 UTC. Events with a time stamp earlier than this time
  are not exported.\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:19:\"logStreamNamePrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LogStreamName\";s:11:\"description\";s:114:\"Export
  only log streams that match the provided prefix. If you don't specify a value, no
  prefix filter is applied.\";}s:8:\"taskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ExportTaskName\";s:11:\"description\";s:28:\"The
  name of the export task.\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:178:\"The
  end time of the range for the request, expressed as the number of milliseconds after
  Jan 1, 1970 00:00:00 UTC. Events with a time stamp later than this time are not
  exported.\";}}s:8:\"required\";a:4:{i:0;s:12:\"logGroupName\";i:1;s:4:\"from\";i:2;s:2:\"to\";i:3;s:11:\"destination\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateExportTaskResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"taskId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ExportTaskId\";s:11:\"description\";s:26:\"The
  ID of the export task.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateLogGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"kmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/KmsKeyId\";s:11:\"description\";s:265:\"The
  Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more
  information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon
  Resource Names - AWS Key Management Service (AWS KMS)</a>.\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:40:\"The
  key-value pairs to use for the tags.\";}}s:8:\"required\";a:1:{i:0;s:12:\"logGroupName\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateLogStreamRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:13:\"logStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LogStreamName\";s:11:\"description\";s:27:\"The
  name of the log stream.\";}}s:8:\"required\";a:2:{i:0;s:12:\"logGroupName\";i:1;s:13:\"logStreamName\";}s:4:\"type\";s:6:\"object\";}s:28:\"DataAlreadyAcceptedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  event was already logged.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"expectedSequenceToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SequenceToken\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Days\";O:8:\"stdClass\":2:{s:11:\"description\";s:171:\"The
  number of days to retain the log events in the specified log group. Possible values
  are: 1, 3, 5, 7, 14, 30, 60, 90, 120, 150, 180, 365, 400, 545, 731, 1827, and 3653.\";s:4:\"type\";s:7:\"integer\";}s:12:\"DefaultValue\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:24:\"DeleteDestinationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"destinationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DestinationName\";s:11:\"description\";s:28:\"The
  name of the destination.\";}}s:8:\"required\";a:1:{i:0;s:15:\"destinationName\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteLogGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}}s:8:\"required\";a:1:{i:0;s:12:\"logGroupName\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteLogStreamRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:13:\"logStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LogStreamName\";s:11:\"description\";s:27:\"The
  name of the log stream.\";}}s:8:\"required\";a:2:{i:0;s:12:\"logGroupName\";i:1;s:13:\"logStreamName\";}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteMetricFilterRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"filterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterName\";s:11:\"description\";s:30:\"The
  name of the metric filter.\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}}s:8:\"required\";a:2:{i:0;s:12:\"logGroupName\";i:1;s:10:\"filterName\";}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteResourcePolicyRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"policyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PolicyName\";s:11:\"description\";s:65:\"The
  name of the policy to be revoked. This parameter is required.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteRetentionPolicyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}}s:8:\"required\";a:1:{i:0;s:12:\"logGroupName\";}s:4:\"type\";s:6:\"object\";}s:31:\"DeleteSubscriptionFilterRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"filterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterName\";s:11:\"description\";s:36:\"The
  name of the subscription filter.\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}}s:8:\"required\";a:2:{i:0;s:12:\"logGroupName\";i:1;s:10:\"filterName\";}s:4:\"type\";s:6:\"object\";}s:10:\"Descending\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:27:\"DescribeDestinationsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"DestinationNamePrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DestinationName\";s:11:\"description\";s:79:\"The
  prefix to match. If you don't specify a value, no prefix filter is applied.\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DescribeLimit\";s:11:\"description\";s:98:\"The
  maximum number of items returned. If you don't specify a value, the default is up
  to 50 items.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeDestinationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"destinations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Destinations\";s:11:\"description\";s:17:\"The
  destinations.\";}s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeExportTasksRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DescribeLimit\";s:11:\"description\";s:98:\"The
  maximum number of items returned. If you don't specify a value, the default is up
  to 50 items.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}s:10:\"statusCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ExportTaskStatusCode\";s:11:\"description\";s:110:\"The
  status code of the export task. Specifying a status code filters the results to
  zero or more export tasks.\";}s:6:\"taskId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ExportTaskId\";s:11:\"description\";s:96:\"The
  ID of the export task. Specifying a task ID filters the results to zero or one export
  tasks.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeExportTasksResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"exportTasks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ExportTasks\";s:11:\"description\";s:17:\"The
  export tasks.\";}s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DescribeLimit\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:50;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:24:\"DescribeLogGroupsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DescribeLimit\";s:11:\"description\";s:98:\"The
  maximum number of items returned. If you don't specify a value, the default is up
  to 50 items.\";}s:18:\"logGroupNamePrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:20:\"The
  prefix to match.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeLogGroupsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"logGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LogGroups\";s:11:\"description\";s:15:\"The
  log groups.\";}s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeLogStreamsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"descending\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Descending\";s:11:\"description\";s:158:\"If
  the value is true, results are returned in descending order. If the value is to
  false, results are returned in ascending order. The default value is false.\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DescribeLimit\";s:11:\"description\";s:98:\"The
  maximum number of items returned. If you don't specify a value, the default is up
  to 50 items.\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:19:\"logStreamNamePrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LogStreamName\";s:11:\"description\";s:124:\"<p>The
  prefix to match.</p> <p>iIf <code>orderBy</code> is <code>LastEventTime</code>,you
  cannot specify this parameter.</p>\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}s:7:\"orderBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/OrderBy\";s:11:\"description\";s:708:\"<p>If
  the value is <code>LogStreamName</code>, the results are ordered by log stream name.
  If the value is <code>LastEventTime</code>, the results are ordered by the event
  time. The default value is <code>LogStreamName</code>.</p> <p>If you order the results
  by event time, you cannot specify the <code>logStreamNamePrefix</code> parameter.</p>
  <p>lastEventTimestamp represents the time of the most recent log event in the log
  stream in CloudWatch Logs. This number is expressed as the number of milliseconds
  after Jan 1, 1970 00:00:00 UTC. lastEventTimeStamp updates on an eventual consistency
  basis. It typically updates in less than an hour from ingestion, but may take longer
  in some rare situations.</p>\";}}s:8:\"required\";a:1:{i:0;s:12:\"logGroupName\";}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeLogStreamsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"logStreams\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/LogStreams\";s:11:\"description\";s:16:\"The
  log streams.\";}s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeMetricFiltersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"filterNamePrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterName\";s:11:\"description\";s:20:\"The
  prefix to match.\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DescribeLimit\";s:11:\"description\";s:98:\"The
  maximum number of items returned. If you don't specify a value, the default is up
  to 50 items.\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:10:\"metricName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";}s:15:\"metricNamespace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MetricNamespace\";s:11:\"description\";s:39:\"The
  namespace of the CloudWatch metric.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeMetricFiltersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"metricFilters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MetricFilters\";s:11:\"description\";s:19:\"The
  metric filters.\";}s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeResourcePoliciesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DescribeLimit\";s:11:\"description\";s:82:\"The
  maximum number of resource policies to be displayed with one call of this API.\";}s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeResourcePoliciesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}s:16:\"resourcePolicies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResourcePolicies\";s:11:\"description\";s:49:\"The
  resource policies that exist in this account.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeSubscriptionFiltersRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"filterNamePrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterName\";s:11:\"description\";s:79:\"The
  prefix to match. If you don't specify a value, no prefix filter is applied.\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DescribeLimit\";s:11:\"description\";s:98:\"The
  maximum number of items returned. If you don't specify a value, the default is up
  to 50 items.\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}}s:8:\"required\";a:1:{i:0;s:12:\"logGroupName\";}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeSubscriptionFiltersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}s:19:\"subscriptionFilters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SubscriptionFilters\";s:11:\"description\";s:25:\"The
  subscription filters.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Destination\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Represents
  a cross-account destination that receives subscription log events.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"accessPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AccessPolicy\";s:11:\"description\";s:112:\"An
  IAM policy document that governs which AWS accounts can create subscription filters
  against this destination.\";}s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:28:\"The
  ARN of this destination.\";}s:12:\"creationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:109:\"The
  creation time of the destination, expressed as the number of milliseconds after
  Jan 1, 1970 00:00:00 UTC.\";}s:15:\"destinationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DestinationName\";s:11:\"description\";s:28:\"The
  name of the destination.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:72:\"A
  role for impersonation, used when delivering log events to the target.\";}s:9:\"targetArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TargetArn\";s:11:\"description\";s:124:\"The
  Amazon Resource Name (ARN) of the physical target to where the log events are delivered
  (for example, a Kinesis stream).\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DestinationArn\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"DestinationName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:512;s:9:\"minLength\";i:1;s:7:\"pattern\";s:6:\"[^:*]*\";s:4:\"type\";s:6:\"string\";}s:12:\"Destinations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Destination\";}s:4:\"type\";s:5:\"array\";}s:25:\"DisassociateKmsKeyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}}s:8:\"required\";a:1:{i:0;s:12:\"logGroupName\";}s:4:\"type\";s:6:\"object\";}s:12:\"Distribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  method used to distribute log data to the destination, which can be either random
  or grouped by log stream.\";s:4:\"enum\";a:2:{i:0;s:6:\"Random\";i:1;s:11:\"ByLogStream\";}s:4:\"type\";s:6:\"string\";}s:7:\"EventId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"EventMessage\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"EventNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"EventsLimit\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:10000;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:23:\"ExportDestinationBucket\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:512;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:23:\"ExportDestinationPrefix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ExportTask\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Represents
  an export task.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ExportDestinationBucket\";s:11:\"description\";s:64:\"The
  name of Amazon S3 bucket to which the log data was exported.\";}s:17:\"destinationPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ExportDestinationPrefix\";s:11:\"description\";s:81:\"The
  prefix that was used as the start of Amazon S3 key for every object exported.\";}s:13:\"executionInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ExportTaskExecutionInfo\";s:11:\"description\";s:37:\"Execution
  info about the export task.\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:147:\"The
  start time, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.
  Events with a time stamp before this time are not exported.\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:60:\"The
  name of the log group from which logs data was exported.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExportTaskStatus\";s:11:\"description\";s:30:\"The
  status of the export task.\";}s:6:\"taskId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ExportTaskId\";s:11:\"description\";s:26:\"The
  ID of the export task.\";}s:8:\"taskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ExportTaskName\";s:11:\"description\";s:28:\"The
  name of the export task.\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:149:\"The
  end time, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.
  Events with a time stamp later than this time are not exported.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ExportTaskExecutionInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Represents
  the status of an export task.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"completionTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:111:\"The
  completion time of the export task, expressed as the number of milliseconds after
  Jan 1, 1970 00:00:00 UTC.\";}s:12:\"creationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:109:\"The
  creation time of the export task, expressed as the number of milliseconds after
  Jan 1, 1970 00:00:00 UTC.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ExportTaskId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:512;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:14:\"ExportTaskName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:512;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"ExportTaskStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Represents
  the status of an export task.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ExportTaskStatusCode\";s:11:\"description\";s:35:\"The
  status code of the export task.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ExportTaskStatusMessage\";s:11:\"description\";s:46:\"The
  status message related to the status code.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ExportTaskStatusCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:9:\"CANCELLED\";i:1;s:9:\"COMPLETED\";i:2;s:6:\"FAILED\";i:3;s:7:\"PENDING\";i:4;s:14:\"PENDING_CANCEL\";i:5;s:7:\"RUNNING\";}s:4:\"type\";s:6:\"string\";}s:23:\"ExportTaskStatusMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ExportTasks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ExportTask\";}s:4:\"type\";s:5:\"array\";}s:15:\"ExtractedValues\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Token\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Value\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:11:\"FilterCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"FilterLogEventsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"endTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:162:\"The
  end of the time range, expressed as the number of milliseconds after Jan 1, 1970
  00:00:00 UTC. Events with a time stamp later than this time are not returned.\";}s:13:\"filterPattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FilterPattern\";s:11:\"description\";s:71:\"The
  filter pattern to use. If not provided, all the events are matched.\";}s:11:\"interleaved\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Interleaved\";s:11:\"description\";s:340:\"If
  the value is true, the operation makes a best effort to provide responses that contain
  events from multiple log streams within the log group, interleaved in a single response.
  If the value is false, all the matched log events in the first log stream are searched
  first, then those in the next log stream, and so on. The default is false.\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EventsLimit\";s:11:\"description\";s:69:\"The
  maximum number of events to return. The default is 10,000 events.\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:14:\"logStreamNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/InputLogStreamNames\";s:11:\"description\";s:34:\"Optional
  list of log stream names.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:95:\"The
  token for the next set of events to return. (You received this token from a previous
  call.)\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:160:\"The
  start of the time range, expressed as the number of milliseconds after Jan 1, 1970
  00:00:00 UTC. Events with a time stamp before this time are not returned.\";}}s:8:\"required\";a:1:{i:0;s:12:\"logGroupName\";}s:4:\"type\";s:6:\"object\";}s:23:\"FilterLogEventsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"events\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/FilteredLogEvents\";s:11:\"description\";s:19:\"The
  matched events.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:89:\"The
  token to use when requesting the next set of items. The token expires after 24 hours.\";}s:18:\"searchedLogStreams\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SearchedLogStreams\";s:11:\"description\";s:93:\"Indicates
  which log streams have been searched and whether each has been searched completely.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"FilterName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:512;s:9:\"minLength\";i:1;s:7:\"pattern\";s:6:\"[^:*]*\";s:4:\"type\";s:6:\"string\";}s:13:\"FilterPattern\";O:8:\"stdClass\":4:{s:11:\"description\";s:255:\"A
  symbolic description of how CloudWatch Logs should interpret the data in each log
  event. For example, a log event may contain time stamps, IP addresses, strings,
  and so on. You use the filter pattern to specify what to look for in the log event
  message.\";s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:16:\"FilteredLogEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Represents
  a matched event.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"eventId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/EventId\";s:11:\"description\";s:20:\"The
  ID of the event.\";}s:13:\"ingestionTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:104:\"The
  time the event was ingested, expressed as the number of milliseconds after Jan 1,
  1970 00:00:00 UTC.\";}s:13:\"logStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LogStreamName\";s:11:\"description\";s:49:\"The
  name of the log stream this event belongs to.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EventMessage\";s:11:\"description\";s:36:\"The
  data contained in the log event.\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:100:\"The
  time the event occurred, expressed as the number of milliseconds after Jan 1, 1970
  00:00:00 UTC.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"FilteredLogEvents\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FilteredLogEvent\";}s:4:\"type\";s:5:\"array\";}s:19:\"GetLogEventsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"endTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:162:\"The
  end of the time range, expressed as the number of milliseconds after Jan 1, 1970
  00:00:00 UTC. Events with a time stamp later than this time are not included.\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EventsLimit\";s:11:\"description\";s:170:\"The
  maximum number of log events returned. If you don't specify a value, the maximum
  is as many log events as can fit in a response size of 1 MB, up to 10,000 log events.\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:13:\"logStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LogStreamName\";s:11:\"description\";s:27:\"The
  name of the log stream.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:94:\"The
  token for the next set of items to return. (You received this token from a previous
  call.)\";}s:13:\"startFromHead\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StartFromHead\";s:11:\"description\";s:158:\"If
  the value is true, the earliest log events are returned first. If the value is false,
  the latest log events are returned first. The default value is false.\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:166:\"The
  start of the time range, expressed as the number of milliseconds after Jan 1, 1970
  00:00:00 UTC. Events with a time stamp earlier than this time are not included.\";}}s:8:\"required\";a:2:{i:0;s:12:\"logGroupName\";i:1;s:13:\"logStreamName\";}s:4:\"type\";s:6:\"object\";}s:20:\"GetLogEventsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"events\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/OutputLogEvents\";s:11:\"description\";s:11:\"The
  events.\";}s:17:\"nextBackwardToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:96:\"The
  token for the next set of items in the backward direction. The token expires after
  24 hours.\";}s:16:\"nextForwardToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:95:\"The
  token for the next set of items in the forward direction. The token expires after
  24 hours.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"InputLogEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:119:\"Represents
  a log event, which is a record of activity that was recorded by the application
  or resource being monitored.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EventMessage\";s:11:\"description\";s:22:\"The
  raw event message.\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:99:\"The
  time the event occurred, expressed as the number of milliseconds fter Jan 1, 1970
  00:00:00 UTC.\";}}s:8:\"required\";a:2:{i:0;s:9:\"timestamp\";i:1;s:7:\"message\";}s:4:\"type\";s:6:\"object\";}s:14:\"InputLogEvents\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/InputLogEvent\";}s:8:\"maxItems\";i:10000;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:19:\"InputLogStreamNames\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LogStreamName\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:11:\"Interleaved\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:25:\"InvalidOperationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  operation is not valid on the specified resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidParameterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"A
  parameter is specified incorrectly.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"InvalidSequenceTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  sequence token is not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"expectedSequenceToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SequenceToken\";}}s:4:\"type\";s:6:\"object\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:256;s:4:\"type\";s:6:\"string\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"You
  have reached the maximum number of resources that can be created.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"ListTagsLogGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}}s:8:\"required\";a:1:{i:0;s:12:\"logGroupName\";}s:4:\"type\";s:6:\"object\";}s:24:\"ListTagsLogGroupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:27:\"The
  tags for the log group.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"LogEventIndex\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"LogGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Represents
  a log group.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:48:\"The
  Amazon Resource Name (ARN) of the log group.\";}s:12:\"creationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:107:\"The
  creation time of the log group, expressed as the number of milliseconds after Jan
  1, 1970 00:00:00 UTC.\";}s:8:\"kmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/KmsKeyId\";s:11:\"description\";s:74:\"The
  Amazon Resource Name (ARN) of the CMK to use when encrypting log data.\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:17:\"metricFilterCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FilterCount\";s:11:\"description\";s:29:\"The
  number of metric filters.\";}s:15:\"retentionInDays\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Days\";}s:11:\"storedBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StoredBytes\";s:11:\"description\";s:27:\"The
  number of bytes stored.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"LogGroupName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:512;s:9:\"minLength\";i:1;s:7:\"pattern\";s:19:\"[\\.\\-_/#A-Za-z0-9]+\";s:4:\"type\";s:6:\"string\";}s:9:\"LogGroups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LogGroup\";}s:4:\"type\";s:5:\"array\";}s:9:\"LogStream\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Represents
  a log stream, which is a sequence of log events from a single emitter of logs.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:49:\"The
  Amazon Resource Name (ARN) of the log stream.\";}s:12:\"creationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:104:\"The
  creation time of the stream, expressed as the number of milliseconds after Jan 1,
  1970 00:00:00 UTC.\";}s:19:\"firstEventTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:100:\"The
  time of the first event, expressed as the number of milliseconds after Jan 1, 1970
  00:00:00 UTC.\";}s:18:\"lastEventTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:322:\"
  the time of the most recent log event in the log stream in CloudWatch Logs. This
  number is expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.
  lastEventTime updates on an eventual consistency basis. It typically updates in
  less than an hour from ingestion, but may take longer in some rare situations.\";}s:17:\"lastIngestionTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:91:\"The
  ingestion time, expressed as the number of milliseconds after Jan 1, 1970 00:00:00
  UTC.\";}s:13:\"logStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LogStreamName\";s:11:\"description\";s:27:\"The
  name of the log stream.\";}s:11:\"storedBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StoredBytes\";s:11:\"description\";s:27:\"The
  number of bytes stored.\";}s:19:\"uploadSequenceToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SequenceToken\";s:11:\"description\";s:19:\"The
  sequence token.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"LogStreamName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:512;s:9:\"minLength\";i:1;s:7:\"pattern\";s:6:\"[^:*]*\";s:4:\"type\";s:6:\"string\";}s:27:\"LogStreamSearchedCompletely\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"LogStreams\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/LogStream\";}s:4:\"type\";s:5:\"array\";}s:12:\"MetricFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"Metric
  filters express how CloudWatch Logs would extract metric observations from ingested
  log events and transform them into metric data in a CloudWatch metric.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"creationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:111:\"The
  creation time of the metric filter, expressed as the number of milliseconds after
  Jan 1, 1970 00:00:00 UTC.\";}s:10:\"filterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterName\";s:11:\"description\";s:30:\"The
  name of the metric filter.\";}s:13:\"filterPattern\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FilterPattern\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:21:\"metricTransformations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/MetricTransformations\";s:11:\"description\";s:27:\"The
  metric transformations.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"MetricFilterMatchRecord\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Represents
  a matched event.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"eventMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EventMessage\";s:11:\"description\";s:19:\"The
  raw event data.\";}s:11:\"eventNumber\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EventNumber\";s:11:\"description\";s:17:\"The
  event number.\";}s:15:\"extractedValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ExtractedValues\";s:11:\"description\";s:55:\"The
  values extracted from the event data by the filter.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"MetricFilterMatches\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/MetricFilterMatchRecord\";}s:4:\"type\";s:5:\"array\";}s:13:\"MetricFilters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MetricFilter\";}s:4:\"type\";s:5:\"array\";}s:10:\"MetricName\";O:8:\"stdClass\":4:{s:11:\"description\";s:153:\"The
  name of the CloudWatch metric to which the monitored log information should be published.
  For example, you may publish to a metric called ErrorCount.\";s:9:\"maxLength\";i:255;s:7:\"pattern\";s:7:\"[^:*$]*\";s:4:\"type\";s:6:\"string\";}s:15:\"MetricNamespace\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:7:\"pattern\";s:7:\"[^:*$]*\";s:4:\"type\";s:6:\"string\";}s:20:\"MetricTransformation\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"Indicates
  how to transform ingested log events in to metric data in a CloudWatch metric.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DefaultValue\";s:11:\"description\";s:102:\"(Optional)
  The value to emit when a filter pattern does not match a log event. This value can
  be null.\";}s:10:\"metricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:34:\"The
  name of the CloudWatch metric.\";}s:15:\"metricNamespace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MetricNamespace\";s:11:\"description\";s:39:\"The
  namespace of the CloudWatch metric.\";}s:11:\"metricValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:88:\"The
  value to publish to the CloudWatch metric when a filter pattern matches a log event.\";}}s:8:\"required\";a:3:{i:0;s:10:\"metricName\";i:1;s:15:\"metricNamespace\";i:2;s:11:\"metricValue\";}s:4:\"type\";s:6:\"object\";}s:21:\"MetricTransformations\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/MetricTransformation\";}s:8:\"maxItems\";i:1;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:11:\"MetricValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:239:\"The
  value to publish to the CloudWatch metric. For example, if you're counting the occurrences
  of a term like \"Error\", the value is \"1\" for each occurrence. If you're counting
  the bytes transferred, the value is the value in the log event.\";s:9:\"maxLength\";i:100;s:4:\"type\";s:6:\"string\";}s:9:\"NextToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  token for the next set of items to return. The token expires after 24 hours.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:25:\"OperationAbortedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Multiple
  requests to update the same resource were in conflict.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:7:\"OrderBy\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:13:\"LogStreamName\";i:1;s:13:\"LastEventTime\";}s:4:\"type\";s:6:\"string\";}s:14:\"OutputLogEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Represents
  a log event.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ingestionTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:104:\"The
  time the event was ingested, expressed as the number of milliseconds after Jan 1,
  1970 00:00:00 UTC.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EventMessage\";s:11:\"description\";s:36:\"The
  data contained in the log event.\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:100:\"The
  time the event occurred, expressed as the number of milliseconds after Jan 1, 1970
  00:00:00 UTC.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"OutputLogEvents\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OutputLogEvent\";}s:4:\"type\";s:5:\"array\";}s:14:\"PolicyDocument\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:5120;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"PolicyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"PutDestinationPolicyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"accessPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AccessPolicy\";s:11:\"description\";s:117:\"An
  IAM policy document that authorizes cross-account users to deliver their log events
  to the associated destination.\";}s:15:\"destinationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DestinationName\";s:11:\"description\";s:35:\"A
  name for an existing destination.\";}}s:8:\"required\";a:2:{i:0;s:15:\"destinationName\";i:1;s:12:\"accessPolicy\";}s:4:\"type\";s:6:\"object\";}s:21:\"PutDestinationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"destinationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DestinationName\";s:11:\"description\";s:27:\"A
  name for the destination.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:136:\"The
  ARN of an IAM role that grants CloudWatch Logs permissions to call the Amazon Kinesis
  PutRecord operation on the destination stream.\";}s:9:\"targetArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TargetArn\";s:11:\"description\";s:76:\"The
  ARN of an Amazon Kinesis stream to which to deliver matching log events.\";}}s:8:\"required\";a:3:{i:0;s:15:\"destinationName\";i:1;s:9:\"targetArn\";i:2;s:7:\"roleArn\";}s:4:\"type\";s:6:\"object\";}s:22:\"PutDestinationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Destination\";s:11:\"description\";s:16:\"The
  destination.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"PutLogEventsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"logEvents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/InputLogEvents\";s:11:\"description\";s:15:\"The
  log events.\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:13:\"logStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LogStreamName\";s:11:\"description\";s:27:\"The
  name of the log stream.\";}s:13:\"sequenceToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SequenceToken\";s:11:\"description\";s:416:\"The
  sequence token obtained from the response of the previous <code>PutLogEvents</code>
  call. An upload in a newly created log stream does not require a sequence token.
  You can also get the sequence token using <a>DescribeLogStreams</a>. If you call
  <code>PutLogEvents</code> twice within a narrow time period using the same value
  for <code>sequenceToken</code>, both calls may be successful, or one may be rejected.\";}}s:8:\"required\";a:3:{i:0;s:12:\"logGroupName\";i:1;s:13:\"logStreamName\";i:2;s:9:\"logEvents\";}s:4:\"type\";s:6:\"object\";}s:20:\"PutLogEventsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"nextSequenceToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SequenceToken\";s:11:\"description\";s:24:\"The
  next sequence token.\";}s:21:\"rejectedLogEventsInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/RejectedLogEventsInfo\";s:11:\"description\";s:20:\"The
  rejected events.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"PutMetricFilterRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"filterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterName\";s:11:\"description\";s:29:\"A
  name for the metric filter.\";}s:13:\"filterPattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FilterPattern\";s:11:\"description\";s:71:\"A
  filter pattern for extracting metric data out of ingested log events.\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:21:\"metricTransformations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/MetricTransformations\";s:11:\"description\";s:70:\"A
  collection of information that defines how metric data gets emitted.\";}}s:8:\"required\";a:4:{i:0;s:12:\"logGroupName\";i:1;s:10:\"filterName\";i:2;s:13:\"filterPattern\";i:3;s:21:\"metricTransformations\";}s:4:\"type\";s:6:\"object\";}s:24:\"PutResourcePolicyRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"policyDocument\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyDocument\";s:11:\"description\";s:612:\"<p>Details
  of the new policy, including the identity of the principal that is enabled to put
  logs to this account. This is formatted as a JSON string.</p> <p>The following example
  creates a resource policy enabling the Route 53 service to put DNS query logs in
  to the specified log group. Replace \"logArn\" with the ARN of your CloudWatch Logs
  resource, such as a log group or log stream.</p> <p> { \"Version\": \"2012-10-17\"
  \"Statement\": [ { \"Sid\": \"Route53LogsToCloudWatchLogs\", \"Effect\": \"Allow\",
  \"Principal\": { \"Service\": [ \"route53.amazonaws.com\" ] }, \"Action\":\"logs:PutLogEvents\",
  \"Resource\": logArn } ] } </p>\";}s:10:\"policyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PolicyName\";s:11:\"description\";s:51:\"Name
  of the new policy. This parameter is required.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"PutResourcePolicyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"resourcePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ResourcePolicy\";s:11:\"description\";s:15:\"The
  new policy.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"PutRetentionPolicyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:15:\"retentionInDays\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Days\";}}s:8:\"required\";a:2:{i:0;s:12:\"logGroupName\";i:1;s:15:\"retentionInDays\";}s:4:\"type\";s:6:\"object\";}s:28:\"PutSubscriptionFilterRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"destinationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DestinationArn\";s:11:\"description\";s:649:\"<p>The
  ARN of the destination to deliver matching log events to. Currently, the supported
  destinations are:</p> <ul> <li> <p>An Amazon Kinesis stream belonging to the same
  account as the subscription filter, for same-account delivery.</p> </li> <li> <p>A
  logical destination (specified using an ARN) belonging to a different account, for
  cross-account delivery.</p> </li> <li> <p>An Amazon Kinesis Firehose delivery stream
  belonging to the same account as the subscription filter, for same-account delivery.</p>
  </li> <li> <p>An AWS Lambda function belonging to the same account as the subscription
  filter, for same-account delivery.</p> </li> </ul>\";}s:12:\"distribution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Distribution\";s:11:\"description\";s:256:\"The
  method used to distribute log data to the destination. By default log data is grouped
  by log stream, but the grouping can be set to random for a more even distribution.
  This property is only applicable when the destination is an Amazon Kinesis stream.
  \";}s:10:\"filterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterName\";s:11:\"description\";s:336:\"A
  name for the subscription filter. If you are updating an existing filter, you must
  specify the correct name in <code>filterName</code>. Otherwise, the call fails because
  you cannot associate a second filter with a log group. To find the name of the filter
  currently associated with a log group, use <a>DescribeSubscriptionFilters</a>.\";}s:13:\"filterPattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FilterPattern\";s:11:\"description\";s:68:\"A
  filter pattern for subscribing to a filtered stream of log events.\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:230:\"The
  ARN of an IAM role that grants CloudWatch Logs permissions to deliver ingested log
  events to the destination stream. You don't need to provide the ARN when you are
  working with a logical destination for cross-account delivery.\";}}s:8:\"required\";a:4:{i:0;s:12:\"logGroupName\";i:1;s:10:\"filterName\";i:2;s:13:\"filterPattern\";i:3;s:14:\"destinationArn\";}s:4:\"type\";s:6:\"object\";}s:21:\"RejectedLogEventsInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Represents
  the rejected events.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"expiredLogEventEndIndex\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LogEventIndex\";s:11:\"description\";s:23:\"The
  expired log events.\";}s:24:\"tooNewLogEventStartIndex\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LogEventIndex\";s:11:\"description\";s:32:\"The
  log events that are too new.\";}s:22:\"tooOldLogEventEndIndex\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LogEventIndex\";s:11:\"description\";s:32:\"The
  log events that are too old.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ResourceAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  specified resource already exists.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  specified resource does not exist.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"ResourcePolicies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResourcePolicy\";}s:4:\"type\";s:5:\"array\";}s:14:\"ResourcePolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"A
  policy enabling one or more entities to put logs to a log group in this account.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"lastUpdatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:125:\"Time
  stamp showing when this policy was last updated, expressed as the number of milliseconds
  after Jan 1, 1970 00:00:00 UTC.\";}s:14:\"policyDocument\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyDocument\";s:11:\"description\";s:26:\"The
  details of the policy.\";}s:10:\"policyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PolicyName\";s:11:\"description\";s:32:\"The
  name of the resource policy.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:17:\"SearchedLogStream\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Represents
  the search status of a log stream.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"logStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LogStreamName\";s:11:\"description\";s:27:\"The
  name of the log stream.\";}s:18:\"searchedCompletely\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/LogStreamSearchedCompletely\";s:11:\"description\";s:66:\"Indicates
  whether all the events in this log stream were searched.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"SearchedLogStreams\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SearchedLogStream\";}s:4:\"type\";s:5:\"array\";}s:13:\"SequenceToken\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:27:\"ServiceUnavailableException\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  service cannot complete the request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"StartFromHead\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"StoredBytes\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:18:\"SubscriptionFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Represents
  a subscription filter.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"creationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:117:\"The
  creation time of the subscription filter, expressed as the number of milliseconds
  after Jan 1, 1970 00:00:00 UTC.\";}s:14:\"destinationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DestinationArn\";s:11:\"description\";s:50:\"The
  Amazon Resource Name (ARN) of the destination.\";}s:12:\"distribution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Distribution\";}s:10:\"filterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterName\";s:11:\"description\";s:36:\"The
  name of the subscription filter.\";}s:13:\"filterPattern\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FilterPattern\";}s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SubscriptionFilters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SubscriptionFilter\";}s:4:\"type\";s:5:\"array\";}s:6:\"TagKey\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:31:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]+)$\";s:4:\"type\";s:6:\"string\";}s:7:\"TagList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:18:\"TagLogGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:40:\"The
  key-value pairs to use for the tags.\";}}s:8:\"required\";a:2:{i:0;s:12:\"logGroupName\";i:1;s:4:\"tags\";}s:4:\"type\";s:6:\"object\";}s:8:\"TagValue\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:7:\"pattern\";s:31:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$\";s:4:\"type\";s:6:\"string\";}s:4:\"Tags\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";}}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:9:\"TargetArn\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:17:\"TestEventMessages\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/EventMessage\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:23:\"TestMetricFilterRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"filterPattern\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FilterPattern\";}s:16:\"logEventMessages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TestEventMessages\";s:11:\"description\";s:31:\"The
  log event messages to test.\";}}s:8:\"required\";a:2:{i:0;s:13:\"filterPattern\";i:1;s:16:\"logEventMessages\";}s:4:\"type\";s:6:\"object\";}s:24:\"TestMetricFilterResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"matches\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MetricFilterMatches\";s:11:\"description\";s:19:\"The
  matched events.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:5:\"Token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"UntagLogGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"logGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:26:\"The
  name of the log group.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:68:\"The
  tag keys. The corresponding tags are removed from the log group.\";}}s:8:\"required\";a:2:{i:0;s:12:\"logGroupName\";i:1;s:4:\"tags\";}s:4:\"type\";s:6:\"object\";}s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}"
...
