---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:27:\"EASE Swagger Documented
  API\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"Ark Creative Web Studio\";s:3:\"url\";s:13:\"http://ark.ph\";}s:7:\"version\";s:3:\"1.0\";}"
host: api.apfront.ark.ph
basePath: /
paths:
  /admin/address-city/search:
    get:
      tags:
      - 'Address: Everything Related to Addresses'
      summary: Search city by name [with pagination]
      description: This API is capable of searching cities from the database pertaining
        to the name supplied with or without pagination.
      operationId: searchAddressCity
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: name
        in: query
        description: Name of the City to Search
        required: false
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/AddressCity'
        400:
          description: Unauthorized Action
  /admin/addresses:
    get:
      tags:
      - 'Address: Everything Related to Addresses'
      summary: Retrieves all addresses [with pagination]
      description: This API is capable of retrieving all the addresses with or without
        pagination from the database.
      operationId: getAllAddresses
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    post:
      tags:
      - 'Address: Everything Related to Addresses'
      summary: Creates a new record of address
      description: This API is capable of creating a new record of address and then
        stores it to the database.
      operationId: createAddress
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: address_1
        in: query
        description: 1st Address
        required: true
        type: string
      - name: address_2
        in: query
        description: 2nd Address
        required: false
        type: string
      - name: address_3
        in: query
        description: 3rd Address
        required: false
        type: string
      - name: city
        in: query
        description: City
        required: true
        type: string
      - name: state_province
        in: query
        description: State or Province
        required: false
        type: string
      - name: postal_code
        in: query
        description: Postal Code
        required: true
        type: string
      - name: country
        in: query
        description: Country
        required: true
        type: string
      - name: port
        in: query
        description: Port
        required: false
        type: string
      - name: zone
        in: query
        description: Zone
        required: false
        type: string
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/Address'
        400:
          description: Unauthorized Action
  /admin/addresses/{id}:
    get:
      tags:
      - 'Address: Everything Related to Addresses'
      summary: Retrieves a specific address by id
      description: This API is capable of retrieving a specific address from the database
        pertaining to the ID supplied.
      operationId: getAddressById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Address to Fetch
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    put:
      tags:
      - 'Address: Everything Related to Addresses'
      summary: Updates an existing record of address by id
      description: This API is capable of updating an existing record of address from
        the database pertaining to the ID supplied.
      operationId: updateAddressById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Address to Update
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: address_1
        in: query
        description: 1st Address
        required: true
        type: string
      - name: address_2
        in: query
        description: 2nd Address
        required: false
        type: string
      - name: address_3
        in: query
        description: 3rd Address
        required: false
        type: string
      - name: city
        in: query
        description: City
        required: true
        type: string
      - name: state_province
        in: query
        description: State or Province
        required: false
        type: string
      - name: postal_code
        in: query
        description: Postal Code
        required: true
        type: string
      - name: country
        in: query
        description: Country
        required: true
        type: string
      - name: port
        in: query
        description: Port
        required: false
        type: string
      - name: zone
        in: query
        description: Zone
        required: false
        type: string
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/Address'
        400:
          description: Unauthorized Action
    delete:
      tags:
      - 'Address: Everything Related to Addresses'
      summary: Deletes a specific address by id
      description: This API is capable of deleting a specific address from the database
        pertaining to the ID supplied.
      operationId: deleteAddressById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Address to Delete
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/address/search:
    get:
      tags:
      - 'Address: Everything Related to Addresses'
      summary: Search address [with pagination]
      description: This API is capable of searching addresses from the database pertaining
        to the address data supplied with or without pagination.
      operationId: searchAddress
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: address
        in: query
        description: Address Data to Search
        required: false
        type: string
      - name: per_page
        in: query
        description: Number of Records Per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/Address'
        400:
          description: Unauthorized Action
  /admin/address-country/search:
    get:
      tags:
      - 'Address: Everything Related to Addresses'
      summary: Search country by name [with pagination]
      description: This API is capable of searching countries from the database pertaining
        to the name supplied with or without pagination.
      operationId: searchAddressCountry
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: name
        in: query
        description: Name of the Country to Search
        required: false
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/AddressCountry'
        400:
          description: Unauthorized Action
  /admin/address-port/search:
    get:
      tags:
      - 'Address: Everything Related to Addresses'
      summary: Search port by name [with pagination]
      description: This API is capable of searching ports from the database pertaining
        to the name supplied with or without pagination.
      operationId: searchAddressPort
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: name
        in: query
        description: Name of the Port to Search
        required: false
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/AddressPort'
        400:
          description: Unauthorized Action
  /admin/address-postal-code/search:
    get:
      tags:
      - 'Address: Everything Related to Addresses'
      summary: Search postal code by name [with pagination]
      description: This API is capable of searching postal codes from the database
        pertaining to the name supplied with or without pagination.
      operationId: searchAddressPostalCode
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: name
        in: query
        description: Name of the Postal Code to Search
        required: false
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/AddressPostalCode'
        400:
          description: Unauthorized Action
  /admin/address-region/search:
    get:
      tags:
      - 'Address: Everything Related to Addresses'
      summary: Search region by name [with pagination]
      description: This API is capable of searching regions from the database pertaining
        to the name supplied with or without pagination.
      operationId: searchAddressRegion
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: name
        in: query
        description: Name of the Region to Search
        required: false
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/AddressRegion'
        400:
          description: Unauthorized Action
  /admin/address-state-province/search:
    get:
      tags:
      - 'Address: Everything Related to Addresses'
      summary: Search state or province by name [with pagination]
      description: This API is capable of searching states or provinces from the database
        pertaining to the name supplied with or without pagination.
      operationId: searchAddressStateProvince
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: name
        in: query
        description: Name of the State and Province to Search
        required: false
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/AddressStateProvince'
        400:
          description: Unauthorized Action
  /admin/login:
    post:
      tags:
      - 'Authentication: Administrator''s Key Operations'
      summary: Enables admin to log in to the system
      description: This API enables the administrator to log in to the system by providing
        the correct email address and password.
      operationId: loginAdmin
      produces:
      - application/json
      parameters:
      - name: email
        in: query
        description: Email Address of the Administrator
        required: true
        type: string
      - name: password
        in: query
        description: Password of the Administrator
        required: true
        type: string
        format: password
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/logout:
    get:
      tags:
      - 'Authentication: Administrator''s Key Operations'
      summary: Enables admin to log out from the system
      description: This API enables the administrator to log out from the system.
      operationId: logoutAdmin
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/search-commodity-type:
    post:
      tags:
      - 'Qualifiers: Search Qualifier Details'
      summary: Search commodity type [with pagination]
      description: This API is capable of searching commodity types pertaining to
        the name of the commodity type supplied with or without pagination from the
        database.
      operationId: searchCommodityType
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: name
        in: query
        description: Name of the Commodity Type to Search
        required: false
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/CommodityType'
        400:
          description: Unauthorized Action
  /admin/search-container-type:
    post:
      tags:
      - 'Qualifiers: Search Qualifier Details'
      summary: Search container type [with pagination]
      description: This API is capable of searching container types pertaining to
        the name of the container type supplied with or without pagination from the
        database.
      operationId: searchContainerType
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: name
        in: query
        description: Name of the Container Type to Search
        required: false
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ContainerType'
        400:
          description: Unauthorized Action
  /admin/charge-codes:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves all charge codes [with pagination]
      description: This API is capable of retrieving all the charge codes with or
        without pagination from the database.
      operationId: getAllChargeCodes
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    post:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Creates a new record of charge code
      description: This API is capable of creating a new record of charge code and
        then stores it to the database.
      operationId: createChargeCode
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: name
        in: query
        description: Name
        required: true
        type: string
      - name: code
        in: query
        description: Code
        required: true
        type: string
      - name: description
        in: query
        description: Description
        required: false
        type: string
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ChargeCode'
        400:
          description: Unauthorized Action
  /admin/charge-codes/{id}:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves a specific charge code by id
      description: This API is capable of retrieving a specific charge code from the
        database pertaining to the ID supplied.
      operationId: getChargeCodeById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Charge Code to Fetch
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    put:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Updates an existing record of charge code by id
      description: This API is capable of updating an existing record of charge code
        from the database pertaining to the ID supplied.
      operationId: updateChargeCodeById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Charge Code to Update
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: name
        in: query
        description: Name
        required: true
        type: string
      - name: code
        in: query
        description: Code
        required: true
        type: string
      - name: description
        in: query
        description: Description
        required: false
        type: string
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ChargeCode'
        400:
          description: Unauthorized Action
    delete:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Deletes a specific charge code by id
      description: This API is capable of deleting a specific charge code from the
        database pertaining to the ID supplied.
      operationId: deleteChargeCodeById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Charge Code to Delete
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/contracts:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves all contracts rate setup [with pagination]
      description: This API is capable of retrieving all the contracts rate setup
        with or without pagination from the database.
      operationId: getAllContracts
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    post:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Creates a new record of contract
      description: This API is capable of creating a new record of contract and then
        stores it to the database.
      operationId: createContract
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: client_id
        in: query
        description: This is the ID of the merchant as a client on this contract from
          merchants table.
        required: true
        type: integer
      - name: supplier_id
        in: query
        description: This is the ID of the merchant as a supplier on this contract
          from merchants table.
        required: true
        type: integer
      - name: sub_supplier_id
        in: query
        description: This is the ID of the merchant as a sub supplier on this contract
          from merchants table.
        required: false
        type: integer
      - name: base_currency_id
        in: query
        description: Base Currency of the Contract
        required: true
        type: integer
      - name: forex_date_basis_field_id
        in: query
        description: Foreign Exchange Date Basis Field of the Contract
        required: true
        type: integer
      - name: forex_rounding_type
        in: query
        description: Foreign Exchange Rounding Type of the Contract
        required: true
        type: integer
      - name: forex_rounding_scalar
        in: query
        description: Foreign Exchange Rounding Scalar of the Contract
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/Contract'
        400:
          description: Unauthorized Action
  /admin/contracts/{id}:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves a specific contract by id
      description: This API is capable of retrieving a specific contract from the
        database pertaining to the ID supplied.
      operationId: getContractById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Contract to Fetch
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    put:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Updates an existing record of contract by id
      description: This API is capable of updating an existing record of contract
        from the database pertaining to the ID supplied.
      operationId: updateContractById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Contract to Update
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: client_id
        in: query
        description: This is the ID of the merchant as a client on this contract from
          merchants table.
        required: true
        type: integer
      - name: supplier_id
        in: query
        description: This is the ID of the merchant as a supplier on this contract
          from merchants table.
        required: true
        type: integer
      - name: sub_supplier_id
        in: query
        description: This is the ID of the merchant as a sub supplier on this contract
          from merchants table.
        required: false
        type: integer
      - name: base_currency_id
        in: query
        description: Base Currency of the Contract
        required: true
        type: integer
      - name: forex_date_basis_field_id
        in: query
        description: Foreign Exchange Date Basis Field of the Contract
        required: true
        type: integer
      - name: forex_rounding_type
        in: query
        description: Foreign Exchange Rounding Type of the Contract
        required: true
        type: integer
      - name: forex_rounding_scalar
        in: query
        description: Foreign Exchange Rounding Scalar of the Contract
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/Contract'
        400:
          description: Unauthorized Action
  /admin/contracts/{client_id}:
    delete:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Deletes contracts rate setup by client id
      description: This API is capable of deleting multiple records of contracts rate
        setup pertaining to the ID of the client supplied.
      operationId: deleteContractsByClientId
      produces:
      - application/json
      parameters:
      - name: client_id
        in: path
        description: ID of the Client to Delete Contracts
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/contracts/supplier/{id}:
    delete:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Deletes a specific supplier by id
      description: This API is capable of deleting a specific supplier from the database
        pertaining to the ID supplied.
      operationId: deleteSupplierById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Contract to Delete the Supplier
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/agreed-contract-currencies/{contract_id}:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves all contract currencies by contract id [with pagination]
      description: This API is capable of retrieving all the agreed contract currencies
        with or without pagination from the database pertaining to the ID of the contract
        supplied.
      operationId: getAllContractCurrencies
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/contract-currencies/{id}:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves a specific contract currency by id
      description: This API is capable of retrieving a specific contract currency
        from the database pertaining to the ID supplied.
      operationId: getContractCurrencyById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Contract Currency to Fetch
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    put:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Updates an existing record of contract currency by id
      description: This API is capable of updating an existing record of contract
        currency from the database pertaining to the ID supplied.
      operationId: updateContractCurrencyById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Contract Currency to Update
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: is_base
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          the base currency used on a particular contract.'
        required: true
        type: integer
      - name: contract_id
        in: query
        description: This is the ID of the contract from contracts table.
        required: true
        type: integer
      - name: currency_to_id
        in: query
        description: This is the ID of the currency used on this contract from currencies
          table.
        required: true
        type: integer
      - name: exchange_rate
        in: query
        description: Exchange Rate
        required: true
        type: number
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ContractCurrency'
        400:
          description: Unauthorized Action
    delete:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Deletes a specific contract currency by id
      description: This API is capable of deleting a specific contract currency from
        the database pertaining to the ID supplied.
      operationId: deleteContractCurrencyById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Contract Currency to Delete
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/contract-currencies:
    post:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Creates a new record of contract currency
      description: This API is capable of creating a new record of contract currency
        and then stores it to the database.
      operationId: createContractCurrency
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: is_base
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          the base currency used on a particular contract.'
        required: true
        type: integer
      - name: contract_id
        in: query
        description: This is the ID of the contract from contracts table.
        required: true
        type: integer
      - name: currency_to_id
        in: query
        description: This is the ID of the currency used on this contract from currencies
          table.
        required: true
        type: integer
      - name: exchange_rate
        in: query
        description: Exchange Rate
        required: true
        type: number
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ContractCurrency'
        400:
          description: Unauthorized Action
  /admin/contract-qualifier-details:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves all contract qualifier details [with pagination]
      description: This API is capable of retrieving all the contract qualifier details
        with or without pagination from the database.
      operationId: getAllContractQualifierDetails
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    post:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Creates a new record of contract qualifier detail
      description: This API is capable of creating a new record of contract qualifier
        detail and then stores it to the database.
      operationId: createContractQualifierDetail
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: contract_qualifier_header_id
        in: query
        description: Contract Qualifier Header's ID
        required: true
        type: integer
      - name: orig_city_id
        in: query
        description: Orgin City's ID
        required: false
        type: integer
      - name: orig_port_id
        in: query
        description: Origin Port's ID
        required: false
        type: integer
      - name: orig_state_province_id
        in: query
        description: Origin State and Province's ID
        required: false
        type: integer
      - name: orig_region_id
        in: query
        description: Origin State and Province's ID
        required: false
        type: integer
      - name: orig_postal_code_id
        in: query
        description: Origin Postal Code's ID
        required: false
        type: integer
      - name: orig_country_id
        in: query
        description: Origin Country's ID
        required: false
        type: integer
      - name: dest_city_id
        in: query
        description: Destination City's ID
        required: false
        type: integer
      - name: dest_port_id
        in: query
        description: Destination Port's ID
        required: false
        type: integer
      - name: dest_state_province_id
        in: query
        description: Destination State and Province's ID
        required: false
        type: integer
      - name: dest_region_id
        in: query
        description: Destination Region's ID
        required: false
        type: integer
      - name: dest_postal_code_id
        in: query
        description: Destination Postal Code's ID
        required: false
        type: integer
      - name: dest_country_id
        in: query
        description: Destination Country's ID
        required: false
        type: integer
      - name: mode_id
        in: query
        description: Mode's ID
        required: false
        type: integer
      - name: index_region_id
        in: query
        description: Index Region's ID
        required: false
        type: integer
      - name: equipment_type_id
        in: query
        description: Equipment Type's ID
        required: false
        type: integer
      - name: container_type_id
        in: query
        description: Container Type's ID
        required: false
        type: integer
      - name: service_level_id
        in: query
        description: Service Level's ID
        required: false
        type: integer
      - name: service_scope_id
        in: query
        description: Service Scope's ID
        required: false
        type: integer
      - name: commodity_type_id
        in: query
        description: Commodity Type's ID
        required: false
        type: integer
      - name: rating_qualifier_1_id
        in: query
        description: 1st Rating Qualifier's ID
        required: false
        type: integer
      - name: rating_qualifier_2_id
        in: query
        description: 2nd Rating Qualifier's ID
        required: false
        type: integer
      - name: fuel_index_range_from_id
        in: query
        description: Fuel Index Range From's ID
        required: false
        type: integer
      - name: fuel_index_range_to_id
        in: query
        description: Fuel Index Range To's ID
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ContractQualifierDetail'
        400:
          description: Unauthorized Action
  /admin/contract-qualifier-details/{id}:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves a specific contract qualifier detail by id
      description: This API is capable of retrieving a specific contract qualifier
        detail from the database pertaining to the ID supplied.
      operationId: getContractQualifierDetailById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Contract Qualifier Detail to Fetch
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    put:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Updates an existing record of contract qualifier detail by id
      description: This API is capable of updating an existing record of contract
        qualifier detail from the database pertaining to the ID supplied.
      operationId: updateContractQualifierDetailById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Contract Qualifier Detail to Update
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: contract_qualifier_header_id
        in: query
        description: Contract Qualifier Header's ID
        required: true
        type: integer
      - name: orig_city_id
        in: query
        description: Orgin City's ID
        required: false
        type: integer
      - name: orig_port_id
        in: query
        description: Origin Port's ID
        required: false
        type: integer
      - name: orig_state_province_id
        in: query
        description: Origin State and Province's ID
        required: false
        type: integer
      - name: orig_region_id
        in: query
        description: Origin State and Province's ID
        required: false
        type: integer
      - name: orig_postal_code_id
        in: query
        description: Origin Postal Code's ID
        required: false
        type: integer
      - name: orig_country_id
        in: query
        description: Origin Country's ID
        required: false
        type: integer
      - name: dest_city_id
        in: query
        description: Destination City's ID
        required: false
        type: integer
      - name: dest_port_id
        in: query
        description: Destination Port's ID
        required: false
        type: integer
      - name: dest_state_province_id
        in: query
        description: Destination State and Province's ID
        required: false
        type: integer
      - name: dest_region_id
        in: query
        description: Destination Region's ID
        required: false
        type: integer
      - name: dest_postal_code_id
        in: query
        description: Destination Postal Code's ID
        required: false
        type: integer
      - name: dest_country_id
        in: query
        description: Destination Country's ID
        required: false
        type: integer
      - name: mode_id
        in: query
        description: Mode's ID
        required: false
        type: integer
      - name: index_region_id
        in: query
        description: Index Region's ID
        required: false
        type: integer
      - name: equipment_type_id
        in: query
        description: Equipment Type's ID
        required: false
        type: integer
      - name: container_type_id
        in: query
        description: Container Type's ID
        required: false
        type: integer
      - name: service_level_id
        in: query
        description: Service Level's ID
        required: false
        type: integer
      - name: service_scope_id
        in: query
        description: Service Scope's ID
        required: false
        type: integer
      - name: commodity_type_id
        in: query
        description: Commodity Type's ID
        required: false
        type: integer
      - name: rating_qualifier_1_id
        in: query
        description: 1st Rating Qualifier's ID
        required: false
        type: integer
      - name: rating_qualifier_2_id
        in: query
        description: 2nd Rating Qualifier's ID
        required: false
        type: integer
      - name: fuel_index_range_from_id
        in: query
        description: Fuel Index Range From's ID
        required: false
        type: integer
      - name: fuel_index_range_to_id
        in: query
        description: Fuel Index Range To's ID
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ContractQualifierDetail'
        400:
          description: Unauthorized Action
    delete:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Deletes a specific contract qualifier detail by id
      description: This API is capable of deleting a specific contract qualifier detail
        from the database pertaining to the ID supplied.
      operationId: deleteContractQualifierDetailById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Contract Qualifier Detail to Delete
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/contract-qualifier-headers:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves all contract qualifier headers [with pagination]
      description: This API is capable of retrieving all the contract qualifier headers
        with or without pagination from the database.
      operationId: getAllContractQualifierHeaders
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    post:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Creates a new record of contract qualifier header
      description: This API is capable of creating a new record of contract qualifier
        header and then stores it to the database.
      operationId: createContractQualifierHeader
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: contract_id
        in: query
        description: ID of the Contract
        required: true
        type: integer
      - name: supplier_charge_code_id
        in: query
        description: ID of the Supplier Charge Code
        required: true
        type: integer
      - name: effective_date_basis_field_id
        in: query
        description: ID of the Effective Date Basis Field
        required: true
        type: integer
      - name: rate_basis_field_id
        in: query
        description: ID of the Rate Bais Field
        required: true
        type: integer
      - name: is_rate_basis_range
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if the rate basis range is on or off.'
        required: true
        type: integer
      - name: has_orig_city
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an origin city.'
        required: false
        type: integer
      - name: has_orig_port
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an origin port.'
        required: false
        type: integer
      - name: has_orig_state_province
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an origin state or province.'
        required: false
        type: integer
      - name: has_orig_region
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an origin region.'
        required: false
        type: integer
      - name: has_orig_postal_code
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an origin postal code.'
        required: false
        type: integer
      - name: has_orig_country
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an origin country.'
        required: false
        type: integer
      - name: has_dest_city
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a destination city.'
        required: false
        type: integer
      - name: has_dest_port
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a destination port.'
        required: false
        type: integer
      - name: has_dest_state_province
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a destination state or province.'
        required: false
        type: integer
      - name: has_dest_region
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a destination region.'
        required: false
        type: integer
      - name: has_dest_postal_code
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a destination postal code.'
        required: false
        type: integer
      - name: has_dest_country
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a destination country.'
        required: false
        type: integer
      - name: has_mode
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a mode.'
        required: false
        type: integer
      - name: has_index_region
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an index region.'
        required: false
        type: integer
      - name: has_equipment_type
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an equipment type.'
        required: false
        type: integer
      - name: has_container_type
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a container type.'
        required: false
        type: integer
      - name: has_service_level
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a service level.'
        required: false
        type: integer
      - name: has_service_scope
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a service scope.'
        required: false
        type: integer
      - name: has_commodity_type
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a commodity type.'
        required: false
        type: integer
      - name: has_rating_qualifier_1
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a first rating qualifier.'
        required: false
        type: integer
      - name: has_rating_qualifier_2
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a second rating qualifier.'
        required: false
        type: integer
      - name: has_fuel_index_range_from
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a fuel index range from.'
        required: false
        type: integer
      - name: has_fuel_index_range_to
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a fuel index range to.'
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ContractQualifierHeader'
        400:
          description: Unauthorized Action
  /admin/contract-qualifier-headers/{id}:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves a specific contract qualifier header by id
      description: This API is capable of retrieving a specific contract qualifier
        header from the database pertaining to the ID supplied.
      operationId: getContractQualifierHeaderById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Contract Qualifier Header to Fetch
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    put:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Updates an existing record of contract qualifier header by id
      description: This API is capable of updating an existing record of contract
        qualifier header from the database pertaining to the ID supplied.
      operationId: updateContractQualifierHeaderById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Contract Qualifier Header to Update
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: contract_id
        in: query
        description: ID of the Contract
        required: true
        type: integer
      - name: supplier_charge_code_id
        in: query
        description: ID of the Supplier Charge Code
        required: true
        type: integer
      - name: effective_date_basis_field_id
        in: query
        description: ID of the Effective Date Basis Field
        required: true
        type: integer
      - name: rate_basis_field_id
        in: query
        description: ID of the Rate Bais Field
        required: true
        type: integer
      - name: is_rate_basis_range
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if the rate basis range is on or off.'
        required: true
        type: integer
      - name: has_orig_city
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an origin city.'
        required: false
        type: integer
      - name: has_orig_port
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an origin port.'
        required: false
        type: integer
      - name: has_orig_state_province
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an origin state or province.'
        required: false
        type: integer
      - name: has_orig_region
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an origin region.'
        required: false
        type: integer
      - name: has_orig_postal_code
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an origin postal code.'
        required: false
        type: integer
      - name: has_orig_country
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an origin country.'
        required: false
        type: integer
      - name: has_dest_city
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a destination city.'
        required: false
        type: integer
      - name: has_dest_port
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a destination port.'
        required: false
        type: integer
      - name: has_dest_state_province
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a destination state or province.'
        required: false
        type: integer
      - name: has_dest_region
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a destination region.'
        required: false
        type: integer
      - name: has_dest_postal_code
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a destination postal code.'
        required: false
        type: integer
      - name: has_dest_country
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a destination country.'
        required: false
        type: integer
      - name: has_mode
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a mode.'
        required: false
        type: integer
      - name: has_index_region
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an index region.'
        required: false
        type: integer
      - name: has_equipment_type
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has an equipment type.'
        required: false
        type: integer
      - name: has_container_type
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a container type.'
        required: false
        type: integer
      - name: has_service_level
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a service level.'
        required: false
        type: integer
      - name: has_service_scope
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a service scope.'
        required: false
        type: integer
      - name: has_commodity_type
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a commodity type.'
        required: false
        type: integer
      - name: has_rating_qualifier_1
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a first rating qualifier.'
        required: false
        type: integer
      - name: has_rating_qualifier_2
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a second rating qualifier.'
        required: false
        type: integer
      - name: has_fuel_index_range_from
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a fuel index range from.'
        required: false
        type: integer
      - name: has_fuel_index_range_to
        in: query
        description: 'This is the flag (Value: 0 = false or 1 = true) for identifying
          if it has a fuel index range to.'
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ContractQualifierHeader'
        400:
          description: Unauthorized Action
    delete:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Deletes a specific contract qualifier header by id
      description: This API is capable of deleting a specific contract qualifier header
        from the database pertaining to the ID supplied.
      operationId: deleteContractQualifierHeaderById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Contract Qualifier Header to Delete
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/contract-rates:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves all contract rates [with pagination]
      description: This API is capable of retrieving all the contract rates with or
        without pagination from the database.
      operationId: getAllContractRates
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    post:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Creates a new record of contract rate
      description: This API is capable of creating a new record of contract rates
        and then stores it to the database.
      operationId: createContractRate
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: contract_qualifier_detail_id
        in: query
        description: ID of the Contract Qualifier Detail
        required: true
        type: integer
      - name: effective_date_from
        in: query
        description: Effective Date From
        required: true
        type: string
      - name: effective_date_to
        in: query
        description: Effective Date To
        required: true
        type: string
      - name: rate
        in: query
        description: Rate
        required: true
        type: number
      - name: stepped_add_on
        in: query
        description: Stepped Add on
        required: false
        type: number
      - name: stepped_threshold
        in: query
        description: Stepped Threshold
        required: false
        type: number
      - name: rate_basis_unit_id
        in: query
        description: ID of the Rate Basis Unit
        required: false
        type: integer
      - name: rate_basis_range_from
        in: query
        description: Rate Basis Range From
        required: false
        type: number
      - name: rate_basis_range_to
        in: query
        description: Rate Basis Range To
        required: false
        type: number
      - name: rate_basis_rounding_type
        in: query
        description: Rate Basis Rounding Type
        required: false
        type: string
        default: none
      - name: rate_basis_rounding_scalar
        in: query
        description: Rate Basis Rounding Scalar
        required: false
        type: number
      - name: calculation_type
        in: query
        description: Calculation Type
        required: false
        type: string
        default: numeric
      - name: calculation_rounding
        in: query
        description: Calculation Rounding
        required: false
        type: number
      - name: dim_factor
        in: query
        description: Dim Factor
        required: false
        type: number
      - name: minimum_charge
        in: query
        description: Minimum Charge
        required: true
        type: number
      - name: maximum_charge
        in: query
        description: Maximum Charge
        required: true
        type: number
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ContractRate'
        400:
          description: Unauthorized Action
  /admin/contract-rates/{id}:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves a specific contract rate by id
      description: This API is capable of retrieving a specific contract rate from
        the database pertaining to the ID supplied.
      operationId: getContractRateById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Contract Rate to Fetch
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    put:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Updates an existing record of contract rate by id
      description: This API is capable of updating an existing record of contract
        rate from the database pertaining to the ID supplied.
      operationId: updateContractRateById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Contract Rate to Update
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: contract_qualifier_detail_id
        in: query
        description: ID of the Contract Qualifier Detail
        required: true
        type: integer
      - name: effective_date_from
        in: query
        description: Effective Date From
        required: true
        type: string
      - name: effective_date_to
        in: query
        description: Effective Date To
        required: true
        type: string
      - name: rate
        in: query
        description: Rate
        required: true
        type: number
      - name: stepped_add_on
        in: query
        description: Stepped Add on
        required: false
        type: number
      - name: stepped_threshold
        in: query
        description: Stepped Threshold
        required: false
        type: number
      - name: rate_basis_unit_id
        in: query
        description: ID of the Rate Basis Unit
        required: false
        type: integer
      - name: rate_basis_range_from
        in: query
        description: Rate Basis Range From
        required: false
        type: number
      - name: rate_basis_range_to
        in: query
        description: Rate Basis Range To
        required: false
        type: number
      - name: rate_basis_rounding_type
        in: query
        description: Rate Basis Rounding Type
        required: false
        type: string
        default: none
      - name: rate_basis_rounding_scalar
        in: query
        description: Rate Basis Rounding Scalar
        required: false
        type: number
      - name: calculation_type
        in: query
        description: Calculation Type
        required: false
        type: string
        default: numeric
      - name: calculation_rounding
        in: query
        description: Calculation Rounding
        required: false
        type: number
      - name: dim_factor
        in: query
        description: Dim Factor
        required: false
        type: number
      - name: minimum_charge
        in: query
        description: Minimum Charge
        required: true
        type: number
      - name: maximum_charge
        in: query
        description: Maximum Charge
        required: true
        type: number
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/ContractRate'
        400:
          description: Unauthorized Action
    delete:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Deletes a specific contract rate by id
      description: This API is capable of deleting a specific contract rate from the
        database pertaining to the ID supplied.
      operationId: deleteContractRateById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Contract Rate to Delete
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/rates-list/{contract_qualifier_detail_id}:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves all contract rates by qualifier detail id
      description: This API is capable of retrieving all the contract rates from the
        database pertaining to the ID of the contract qualifier detail supplied.
      operationId: getAllContractRatesByQualifierDetailId
      produces:
      - application/json
      parameters:
      - name: contract_qualifier_detail_id
        in: path
        description: ID of the Contract Qualifier Detail to Fetch
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/supplier-charge-codes:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves all supplier charge codes [with pagination]
      description: This API is capable of retrieving all the supplier charge codes
        with or without pagination from the database.
      operationId: getAllSupplierChargeCodes
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    post:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Creates a new record of supplier charge code
      description: This API is capable of creating a new record of supplier charge
        code and then stores it to the database.
      operationId: createSupplierChargeCode
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: client_id
        in: query
        description: Client's ID
        required: true
        type: integer
      - name: supplier_id
        in: query
        description: Supplier's ID
        required: true
        type: integer
      - name: charge_code_id
        in: query
        description: Charge Code's ID
        required: true
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/SupplierChargeCode'
        400:
          description: Unauthorized Action
  /admin/supplier-charge-codes-list/{supplier_id}:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves all supplier charge codes by supplier id
      description: This API is capable of retrieving all the supplier charge codes
        from the database pertaining to the ID of the supplier supplied.
      operationId: getAllBySupplierId
      produces:
      - application/json
      parameters:
      - name: supplier_id
        in: path
        description: ID of the Supplier to Fetch
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/supplier-charge-codes/{id}:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves a specific supplier charge code by id
      description: This API is capable of retrieving a specific supplier charge code
        from the database pertaining to the ID supplied.
      operationId: getSupplierChargeCodeById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Supplier Charge Code to Fetch
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    put:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Updates an existing record of supplier charge code
      description: This API is capable of updating an existing record of supplier
        charge code from the database pertaining to the ID supplied.
      operationId: updateSupplierChargeCodeById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Supplier Charge Code to Update
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: client_id
        in: query
        description: Client's ID
        required: true
        type: integer
      - name: supplier_id
        in: query
        description: Supplier's ID
        required: true
        type: integer
      - name: charge_code_id
        in: query
        description: Charge Code's ID
        required: true
        type: integer
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/SupplierChargeCode'
        400:
          description: Unauthorized Action
    delete:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Deletes a specific supplier charge code by id
      description: This API is capable of deleting a specific supplier charge code
        from the database pertaining to the ID supplied.
      operationId: deleteSupplierChargeCodeById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Supplier Charge Code to Delete
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/suppliers-list/{client_id}:
    get:
      tags:
      - 'Contract: Everything Related to Contracts'
      summary: Retrieves all contract suppliers by client id
      description: This API is capable of retrieving all the contract suppliers from
        the database pertaining to the ID of the client supplied.
      operationId: getAllByClientId
      produces:
      - application/json
      parameters:
      - name: client_id
        in: path
        description: ID of the Client to Fetch
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/currencies:
    get:
      tags:
      - 'Dropdown Fields: Currencies, Dates and Rate Bases'
      summary: Retrieves all currencies [with pagination]
      description: This API is capable of retrieving all the currencies with or without
        pagination from the database.
      operationId: getAllCurrencies
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/invoice-entries:
    get:
      tags:
      - 'Encoding: Invoice and its Line Details'
      summary: Retrieves all the invoice entries [with pagination]
      description: This API is capable of retrieving all the invoice entries with
        or without pagination from the database.
      operationId: displayInvoiceEntries
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
  /admin/invoices:
    get:
      tags:
      - 'Encoding: Invoice and its Line Details'
      summary: Retrieves all invoices [with pagination]
      description: This API is capable of retrieving all the invoices with or without
        pagination from the database.
      operationId: getAllInvoices
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: per_page
        in: query
        description: Number of Records per Page
        required: false
        type: integer
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    post:
      tags:
      - 'Encoding: Invoice and its Line Details'
      summary: Creates a new record of invoice
      description: This API is capable of creating a new record of invoice and then
        stores it to the database.
      operationId: createInvoice
      produces:
      - application/json
      parameters:
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: invoice_date
        in: query
        description: Date of the Invoice
        required: true
        type: string
      - name: invoice_number
        in: query
        description: Invoice Number
        required: true
        type: string
      - name: other_reference_number
        in: query
        description: Other Reference Number
        required: false
        type: string
      - name: ship_date
        in: query
        description: Shipping Date of the Invoice
        required: false
        type: string
      - name: due_date
        in: query
        description: Due Date of the Invoice
        required: false
        type: string
      - name: service_level
        in: query
        description: Service Level
        required: false
        type: string
      - name: service_scope
        in: query
        description: Service Scope
        required: false
        type: string
      - name: lane
        in: query
        description: Lane
        required: false
        type: string
      - name: mode
        in: query
        description: Mode
        required: false
        type: string
      - name: commodity_type
        in: query
        description: Commodity Type
        required: false
        type: string
      - name: equipment_type
        in: query
        description: Equipment Type
        required: false
        type: string
      - name: container_type
        in: query
        description: Container Type
        required: false
        type: string
      - name: billing_reference
        in: query
        description: Billing Reference
        required: false
        type: string
      - name: actual_weight
        in: query
        description: Actual Weight
        required: false
        type: number
      - name: billable_weight
        in: query
        description: Billable Weight
        required: false
        type: number
      - name: weight_units
        in: query
        description: Weight Units
        required: false
        type: string
      - name: quantity
        in: query
        description: Quantity
        required: false
        type: number
      - name: quantity_units
        in: query
        description: Quantity Units
        required: false
        type: string
      - name: amount
        in: query
        description: Amount of the Invoice
        required: true
        type: number
      - name: currency
        in: query
        description: Currency of the Invoice
        required: true
        type: string
      - name: exchange_rate
        in: query
        description: Exchange Rate based on the Currency used of the Invoice
        required: false
        type: number
      - name: currency_from
        in: query
        description: Currency From
        required: false
        type: string
      - name: currency_to
        in: query
        description: Currency To
        required: false
        type: string
      - name: orig_address_1
        in: query
        description: 1st Origin Address
        required: false
        type: string
      - name: orig_address_2
        in: query
        description: 2nd Origin Address
        required: false
        type: string
      - name: orig_address_3
        in: query
        description: 3rd Origin Address
        required: false
        type: string
      - name: orig_city
        in: query
        description: Origin City
        required: false
        type: string
      - name: orig_state_province
        in: query
        description: Origin State or Province
        required: false
        type: string
      - name: orig_postal_code
        in: query
        description: Origin Postal Code
        required: false
        type: string
      - name: orig_country
        in: query
        description: Origin Country
        required: false
        type: string
      - name: orig_port
        in: query
        description: Origin Port
        required: false
        type: string
      - name: orig_zone
        in: query
        description: Origin Zone
        required: false
        type: string
      - name: dest_address_1
        in: query
        description: 1st Destination Address
        required: false
        type: string
      - name: dest_address_2
        in: query
        description: 2nd Destination Address
        required: false
        type: string
      - name: dest_address_3
        in: query
        description: 3rd Destination Address
        required: false
        type: string
      - name: dest_city
        in: query
        description: Destination City
        required: false
        type: string
      - name: dest_state_province
        in: query
        description: Destination State or Province
        required: false
        type: string
      - name: dest_postal_code
        in: query
        description: Destination Postal Code
        required: false
        type: string
      - name: dest_country
        in: query
        description: Destination Country
        required: false
        type: string
      - name: dest_port
        in: query
        description: Destination Port
        required: false
        type: string
      - name: dest_zone
        in: query
        description: Destination Zone
        required: false
        type: string
      - name: bill_to_bank_name
        in: query
        description: Bill To (Client's Bank Name)
        required: false
        type: string
      - name: bill_to_bank_account_number
        in: query
        description: Bill To (Client's Bank Account Number)
        required: false
        type: string
      - name: bill_to_name
        in: query
        description: Bill To (Client's Name)
        required: true
        type: string
      - name: bill_to_tax_id
        in: query
        description: Bill To (Client's Tax Identification)
        required: false
        type: string
      - name: bill_to_address_1
        in: query
        description: Bill To (Client's 1st Address)
        required: false
        type: string
      - name: bill_to_address_2
        in: query
        description: Bill To (Client's 2nd Address)
        required: false
        type: string
      - name: bill_to_address_3
        in: query
        description: Bill To (Client's 3rd Address)
        required: false
        type: string
      - name: bill_to_city
        in: query
        description: Bill To (Client's City)
        required: false
        type: string
      - name: bill_to_state_province
        in: query
        description: Bill To (Client's State or Province)
        required: false
        type: string
      - name: bill_to_postal_code
        in: query
        description: Bill To (Client's Postal Code)
        required: false
        type: string
      - name: bill_to_country
        in: query
        description: Bill To (Client's Country)
        required: false
        type: string
      - name: remit_to_bank_name
        in: query
        description: Remit To (Supplier's Bank Name)
        required: false
        type: string
      - name: remit_to_bank_account_number
        in: query
        description: Remit To (Supplier's Bank Account Number)
        required: false
        type: string
      - name: remit_to_name
        in: query
        description: Remit To (Suppliers Name)
        required: true
        type: string
      - name: remit_to_tax_id
        in: query
        description: Remit To (Supplier's Tax Identification)
        required: false
        type: string
      - name: remit_to_address_1
        in: query
        description: Remit To (Supplier's 1st Address)
        required: false
        type: string
      - name: remit_to_address_2
        in: query
        description: Remit To (Supplier's 2nd Address)
        required: false
        type: string
      - name: remit_to_address_3
        in: query
        description: Remit To (Supplier's 3rd Address)
        required: false
        type: string
      - name: remit_to_city
        in: query
        description: Remit To (Supplier's City)
        required: false
        type: string
      - name: remit_to_state_province
        in: query
        description: Remit To (Supplier's State or Province)
        required: false
        type: string
      - name: remit_to_postal_code
        in: query
        description: Remit To (Supplier's Postal Code)
        required: false
        type: string
      - name: remit_to_country
        in: query
        description: Remit To (Supplier's Country)
        required: false
        type: string
      - name: consignee_address_1
        in: query
        description: Consignee's 1st Address
        required: false
        type: string
      - name: consignee_address_2
        in: query
        description: Consignee's 2nd Address
        required: false
        type: string
      - name: consignee_address_3
        in: query
        description: Consignee's 3rd Address
        required: false
        type: string
      - name: consignee_city
        in: query
        description: Consignee's City
        required: false
        type: string
      - name: consignee_state_province
        in: query
        description: Consignee's State or Province
        required: false
        type: string
      - name: consignee_postal_code
        in: query
        description: Consignee's Postal Code
        required: false
        type: string
      - name: consignee_country
        in: query
        description: Consignee's Country
        required: false
        type: string
      - name: customer_reference_1
        in: query
        description: 1st Customer Reference
        required: false
        type: string
      - name: customer_reference_2
        in: query
        description: 2nd Customer Reference
        required: false
        type: string
      - name: duplicate_qualifier_1
        in: query
        description: 1st Duplicate Qualifier
        required: false
        type: string
      - name: duplicate_qualifier_2
        in: query
        description: 2nd Duplicate Qualifier
        required: false
        type: string
      - name: cost_allocation_qualifier_1
        in: query
        description: 1st Cost Allocation Qualifier
        required: false
        type: string
      - name: cost_allocation_qualifier_2
        in: query
        description: 2nd Cost Allocation Qualifier
        required: false
        type: string
      - name: rating_qualifier_1
        in: query
        description: 1st Rating Qualifier
        required: false
        type: string
      - name: rating_qualifier_2
        in: query
        description: 2nd Rating Qualifier
        required: false
        type: string
      responses:
        200:
          description: Successful Operation
          schema:
            $ref: '#/definitions/Invoice'
        400:
          description: Unauthorized Action
  /admin/invoices/{id}:
    get:
      tags:
      - 'Encoding: Invoice and its Line Details'
      summary: Retrieves a specific invoice by id
      description: This API is capable of retrieving a specific invoice from the database
        pertaining to the ID supplied.
      operationId: getInvoiceById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Invoice to Fetch
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      responses:
        200:
          description: Successful Operation
        400:
          description: Unauthorized Action
    put:
      tags:
      - 'Encoding: Invoice and its Line Details'
      summary: Updates an existing record of invoice by id
      description: This API is capable of updating an existing record of invoice from
        the database pertaining to the ID supplied.
      operationId: updateInvoiceById
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: ID of the Invoice to Update
        required: true
        type: string
      - name: token
        in: query
        description: Token
        required: true
        type: string
      - name: invoice_date
        in: query
        description: Date of the Invoice
        required: true
        type: string
      - name: invoice_number
        in: query
        description: Invoice Number
        required: true
        type: string
      - name: other_reference_number
        in: query
        description: Other Reference Number
        required: false
        type: string
      - name: ship_date
        in: query
        description: Shipping Date of the Invoice
        required: false
        type: string
      - name: due_date
        in: query
        description: Due Date of the Invoice
        required: false
        type: string
      - name: service_level
        in: query
        description: Service Level
        required: false
        type: string
      - name: service_scope
        in: query
        description: Service Scope
        required: false
        type: string
      - name: lane
        in: query
        description: Lane
        required: false
        type: string
      - name: mode
        in: query
        description: Mode
        required: false
        type: string
      - name: commodity_type
        in: query
        description: Commodity Type
        required: false
        type: string
      - name: equipment_type
        in: query
        description: Equipment Type
        required: false
        type: string
      - name: container_type
        in: query
        description: Container Type
        required: false
        type: string
      - name: billing_reference
        in: query
        description: Billing Reference
        required: false
        type: string
      - name: actual_weight
        in: query
        description: Actual Weight
        required: false
        type: number
      - name: billable_weight
        in: query
        description: Billable Weight
        required: false
        type: number
      - name: weight_units
        in: query
        description: Weight Units
        required: false
        type: string
      - name: quantity
        in: query
        description: Quantity
        required: false
        type: number
      - name: quantity_units
        in: query
        description: Quantity Units
        required: false
        type: string
      - name: amount
        in: query
        description: Amount of the Invoice
        required: true
        type: number
      - name: currency
        in: query
        description: Currency of the Invoice
        required: true
        type: string
      - name: exchange_rate
        in: query
        description: Exchange Rate based on the Currency used of the Invoice
        required: false
        type: number
      - name: currency_from
        in: query
        description: Currency From
        required: false
        type: string
      - name: currency_to
        in: query
        description: Currency To
        required: false
        type: string
      - name: orig_address_1
        in: query
        description: 1st Origin Address
        required: false
        type: string
      - name: orig_address_2
        in: query
        description: 2nd Origin Address
        required: false
        type: string
      - name: orig_address_3
        in: query
        description: 3rd Origin Address
        required: false
        type: string
      - name: orig_city
        in: query
        description: Origin City
        required: false
        type: string
      - name: orig_state_province
        in: query
        description: Origin State or Province
        required: false
        type: string
      - name: orig_postal_code
        in: query
        description: Origin Postal Code
        required: false
        type: string
      - name: orig_country
        in: query
        description: Origin Country
        required: false
        type: string
      - name: orig_port
        in: query
        description: Origin Port
        required: false
        type: string
      - name: orig_zone
        in: query
        description: Origin Zone
        required: false
        type: string
      - name: dest_address_1
        in: query
        description: 1st Destination Address
        required: false
        type: string
      - name: dest_address_2
        in: query
        description: 2nd Destination Address
        required: false
        type: string
      - name: dest_address_3
        in: query
        description: 3rd Destination Address
        required: false
        type: string
      - name: dest_city
        in: query
        description: Destination City
        required: false
        type: string
      - name: dest_state_province
        in: query
        description: Destination State or Province
        required: false
        type: string
      - name: dest_postal_code
        in: query
        description: Destination Postal Code
        required: false
        type: string
      - name: dest_country
        in: query
        description: Destination Country
        required: false
        type: string
      - name: dest_port
        in: query
        description: Destination Port
        required: false
        type: string
      - name: dest_zone
        in: query
        description: Destination Zone
        required: false
        type: string
      - name: bill_to_bank_name
        in: query
        description: Bill To (Client's Bank Name)
        required: false
        type: string
      - name: bill_to_bank_account_number
        in: query
        description: Bill To (Client's Bank Account Number)
        required: false
        type: string
      - name: bill_to_name
        in: query
        description: Bill To (Client's Name)
        required: true
        type: string
      - name: bill_to_tax_id
        in: query
        description: Bill To (Client's Tax Identification)
        required: false
        type: string
      - name: bill_to_address_1
        in: query
        description: Bill To (Client's 1st Address)
        required: false
        type: string
      - name: bill_to_address_2
        in: query
        description: Bill To (Client's 2nd Address)
        required: false
        type: string
      - name: bill_to_address_3
        in: query
        description: Bill To (Client's 3rd Address)
        required: false
        type: string
      - name: bill_to_city
        in: query
        description: Bill To (Client's City)
        required: false
        type: string
      - name: bill_to_state_province
        in: query
        description: Bill To (Client's State or Province)
        required: false
        type: string
      - name: bill_to_postal_code
        in: query
        description: Bill To (Client's Postal Code)
        required: false
        type: string
      - name: bill_to_country
        in: query
        description: Bill To (Client's Country)
        required: false
        type: string
      - name: remit_to_bank_name
        in: query
        description: Remit To (Supplier's Bank Name)
        required: false
        type: string
      - name: remit_to_bank_account_number
        in: query
        description: Remit To (Supplier's Bank Account Number)
        required: false
        type: string
      - name: remit_to_name
        in: query
        description: Remit To (Suppliers Name)
        required: true
        type: string
      - name: remit_to_tax_id
        in: query
        description: Remit To (Supplier's Tax Identification)
        required: false
        type: string
      - name: remit_to_address_1
        in: query
        description: Remit To (Supplier's 1st Address)
        required: false
        type: string
      - name: remit_to_address_2
        in: query
        description: Remit To (Supplier's 2nd Address)
        required: false
        type: string
      - name: remit_to_address_3
        in: query
        description: Remit To (Supplier's 3rd Address)
        required: false
        type: string
      - name: remit_to_city
        in: query
        description: Remit To (Supplier's City)
        required: false
        type: string
      - name: remit_to_state_province
        in: query
        description: Remit To (Supplier's State or Province)
        required: false
        type: string
      - name: remit_to_postal_code
        in: query
        description: Remit To (Supplier's Postal Code)
        required: false
        type: string
      - name: remit_to_country
        in: query
        description: Remit To (Supplier's Country)
        required: false
        type: string
      - name: consignee_address_1
        in: query
        description: Consignee's 1st Address
        required: false
        type: string
      - name: consignee_address_2
        in: query
        description: Consignee's 2nd Address
        required: false
        type: string
      - name: consignee_address_3
        in: query
        description: Consignee's 3rd Address
        required: false
        type: string
      - name: consignee_city
        in: query
        description: Consignee's City
        required: false
        type: string
      - name: consignee_state_province
        in: query
        description: Consignee's State or Province
        required: false
        type: string
      - name: consignee_postal_code
        in: query
        description: Consignee's Postal Code
        required: false
        type: string
      - name: consignee_country
        in: query
        description: Consignee's Country
        required: false
        type: string
      - name: customer_reference_1
        in: query
        description: 1st Customer Reference
        required: false
        type: string
      - name: customer_reference_2
        in: query
        description: 2nd Customer Reference
        required: false
        type: string
      - name: duplicate_qualifier_1
        in: query
        description: 1st Duplicate Qualifier
[...]
