---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:7:\"version\";s:5:\"1.0.9\";s:5:\"title\";s:26:\"D\xE9dalo
  Web REST API 1.0.9\";s:11:\"description\";s:426:\"Builds Public D\xE9dalo data for
  publication. <br>Use this online tool to test your data and remember always write
  your <i>Auth code</i> when executes a try call.<br> <strong>This API is focused
  to Oral History archives and is for general pourposes.<br>If you need special features
  or custom results, you are wellcome to join API develop team contacting with the
  source developers (aka Alex&Paco)</strong> in webmaster@render.es\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 license\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:34:\"Aditional
  D\xE9dalo publication info\";s:3:\"url\";s:94:\"http://dedalo4.antropolis.net/dedalo/lib/dedalo/publication/server_api/v1/docu/API_docu_v1.pdf\";}}"
host: dedalo4.antropolis.net
basePath: /dedalo/lib/dedalo/publication/server_api/v1/json
paths: ~
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:10:\"table_list\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"table_name\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"table_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/field_item\";}}}}s:10:\"field_item\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"section_id\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/row\";}}s:3:\"row\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"table\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"table\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"interview\";}}}s:3:\"msg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"Request
  done\";}s:13:\"item_response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"msg\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/msg\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/item_object\";}}}}s:11:\"item_object\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/item_response\";}}}}}"
...
