---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:12:\"weatherbitio\";}s:11:\"description\";s:556:\"This
  is the documentation for the Weatherbit Weather API.  The base URL for the API is
  [http://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/) or [https://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/).
  Below is the Swagger UI documentation for the API. All API requests require the
  `key` parameter.        An Example for a 5 day forecast for London, UK would be
  `http://api.weatherbit.io/v2.0/forecast/3hourly?city=London`&`country=UK`. See our
  [Weather API description page](https://www.weatherbit.io/api) for additional documentation.\";s:5:\"title\";s:52:\"Weatherbit.io
  - Swagger UI Weather API documentation\";s:7:\"version\";s:5:\"2.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:8:\"location\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:85:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_weatherbitio_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:45:\"https://www.weatherbit.io/static/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"weatherbit.io\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"weatherbit\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.weatherbit.io
basePath: /v2.0
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":14:{s:10:\"CurrentObs\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":32:{s:8:\"app_temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Apparent
  temperature - Default (C)\";s:7:\"example\";d:14.85;s:4:\"type\";s:6:\"number\";}s:9:\"city_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"City
  name (closest)\";s:7:\"example\";s:7:\"Raleigh\";s:4:\"type\";s:6:\"string\";}s:6:\"clouds\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Cloud
  cover (%)\";s:7:\"example\";i:42;s:4:\"type\";s:7:\"integer\";}s:12:\"country_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Country
  abbreviation\";s:7:\"example\";s:2:\"US\";s:4:\"type\";s:6:\"string\";}s:8:\"datetime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Cycle
  Hour (UTC) of observation\";s:7:\"example\";s:13:\"2017-03-15:13\";s:4:\"type\";s:6:\"string\";}s:5:\"dewpt\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Dew
  point temperature - default (C)\";s:7:\"example\";i:12;s:4:\"type\";s:6:\"number\";}s:3:\"dhi\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Direct
  component of solar insolation (W/m^2)\";s:7:\"example\";d:450.39999999999998;s:4:\"type\";s:6:\"number\";}s:10:\"elev_angle\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Current
  solar elevation angle (Degrees)\";s:7:\"example\";i:37;s:4:\"type\";s:6:\"number\";}s:10:\"hour_angle\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Current
  solar hour angle (Degrees)\";s:7:\"example\";i:45;s:4:\"type\";s:6:\"number\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Latitude\";s:7:\"example\";i:38;s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Longitude\";s:7:\"example\";d:-78.25;s:4:\"type\";s:6:\"number\";}s:7:\"ob_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Full
  time (UTC) of observation (YYYY-MM-DD HH:MM)\";s:7:\"example\";s:16:\"2017-03-15
  13:11\";s:4:\"type\";s:6:\"string\";}s:3:\"pod\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Part
  of the day (d = day, n = night)\";s:4:\"type\";s:6:\"string\";}s:6:\"precip\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Precipitation
  in last hour - Default (mm)\";s:7:\"example\";i:2;s:4:\"type\";s:6:\"number\";}s:4:\"pres\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Pressure
  (mb)\";s:7:\"example\";i:1010;s:4:\"type\";s:6:\"number\";}s:2:\"rh\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Relative
  humidity (%)\";s:7:\"example\";i:75;s:4:\"type\";s:7:\"integer\";}s:3:\"slp\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Mean
  sea level pressure in millibars (mb)\";s:7:\"example\";d:1013.12;s:4:\"type\";s:6:\"number\";}s:4:\"snow\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Snowfall
  in last hour - Default (mm)\";s:7:\"example\";i:10;s:4:\"type\";s:6:\"number\";}s:10:\"state_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"State
  abbreviation\";s:7:\"example\";s:2:\"NC\";s:4:\"type\";s:6:\"string\";}s:7:\"station\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Source
  Station ID\";s:7:\"example\";s:4:\"KRDU\";s:4:\"type\";s:6:\"string\";}s:7:\"sunrise\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Time
  (UTC) of Sunrise (HH:MM)\";s:7:\"example\";s:5:\"06:22\";s:4:\"type\";s:6:\"string\";}s:6:\"sunset\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Time
  (UTC) of Sunset (HH:MM)\";s:7:\"example\";s:5:\"19:34\";s:4:\"type\";s:6:\"string\";}s:4:\"temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Temperature
  - Default (C)\";s:7:\"example\";d:13.85;s:4:\"type\";s:6:\"number\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Local
  IANA time zone\";s:7:\"example\";s:16:\"America/New_York\";s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Unix
  Timestamp\";s:7:\"example\";i:1490990400;s:4:\"type\";s:6:\"number\";}s:2:\"uv\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"UV
  Index\";s:7:\"example\";d:6.5;s:4:\"type\";s:6:\"number\";}s:3:\"vis\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Visibility
  - default (M)\";s:7:\"example\";i:10000;s:4:\"type\";s:7:\"integer\";}s:7:\"weather\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Weather
  Condition code\";s:7:\"example\";s:3:\"802\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Weather
  Condition description\";s:7:\"example\";s:13:\"Broken clouds\";s:4:\"type\";s:6:\"string\";}s:4:\"icon\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Icon
  code for forecast image display\";s:7:\"example\";s:3:\"c02\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"wind_cdir\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Cardinal
  wind direction\";s:7:\"example\";s:3:\"ENE\";s:4:\"type\";s:6:\"string\";}s:14:\"wind_cdir_full\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Cardinal
  wind direction (text)\";s:7:\"example\";s:15:\"East-North-East\";s:4:\"type\";s:6:\"string\";}s:8:\"wind_dir\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Wind
  direction (degrees)\";s:7:\"example\";i:125;s:4:\"type\";s:7:\"integer\";}s:10:\"wind_speed\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Wind
  speed - Default (m/s)\";s:7:\"example\";d:5.8499999999999996;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CurrentObsGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Count
  of found observations\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:7:\"integer\";}s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CurrentObs\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"EnergyObs\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:3:\"cdd\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Cooling
  degree days\";s:7:\"example\";i:10;s:4:\"type\";s:6:\"number\";}s:9:\"city_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"City
  name (closest)\";s:7:\"example\";s:7:\"Raleigh\";s:4:\"type\";s:6:\"string\";}s:6:\"clouds\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Average
  cloud cover (%)\";s:7:\"example\";i:42;s:4:\"type\";s:7:\"integer\";}s:12:\"country_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Country
  abbreviation\";s:7:\"example\";s:2:\"US\";s:4:\"type\";s:6:\"string\";}s:5:\"dewpt\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Average
  dew point temperature - Default (C)\";s:7:\"example\";i:12;s:4:\"type\";s:6:\"number\";}s:3:\"hdd\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Heating
  degree days\";s:7:\"example\";i:120;s:4:\"type\";s:6:\"number\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Latitude\";s:7:\"example\";s:5:\"38.00\";s:4:\"type\";s:6:\"string\";}s:3:\"lon\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Longitude\";s:7:\"example\";s:6:\"-78.25\";s:4:\"type\";s:6:\"string\";}s:6:\"precip\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Total
  precipitation in period - Default (mm)\";s:7:\"example\";i:2;s:4:\"type\";s:6:\"number\";}s:2:\"rh\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Average
  Relative humidity (%)\";s:7:\"example\";i:75;s:4:\"type\";s:7:\"integer\";}s:4:\"snow\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Total
  snowfall in period - Default (mm)\";s:7:\"example\";i:10;s:4:\"type\";s:6:\"number\";}s:10:\"state_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"State
  abbreviation\";s:7:\"example\";s:2:\"NC\";s:4:\"type\";s:6:\"string\";}s:10:\"station_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Source
  Station ID\";s:7:\"example\";s:12:\"12345-999999\";s:4:\"type\";s:6:\"string\";}s:9:\"sun_hours\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Average
  number of daily sun hours - # hours where Solar GHI > 1000 W/m^2\";s:7:\"example\";d:4.5;s:4:\"type\";s:6:\"number\";}s:5:\"t_dhi\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Total
  diffuse horizontal solar irradiance (W/m^2)\";s:7:\"example\";i:450;s:4:\"type\";s:6:\"number\";}s:5:\"t_dni\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Total
  direct normal solar irradiance (W/m^2)\";s:7:\"example\";i:1200;s:4:\"type\";s:6:\"number\";}s:5:\"t_ghi\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Total
  global horizontal solar irradiance (W/m^2)\";s:7:\"example\";i:3000;s:4:\"type\";s:6:\"number\";}s:4:\"temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Average
  temperature - Default (C)\";s:7:\"example\";d:13.85;s:4:\"type\";s:6:\"number\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Local
  IANA time zone\";s:7:\"example\";s:16:\"America/New_York\";s:4:\"type\";s:6:\"string\";}s:8:\"wind_dir\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Average
  wind direction (Degrees)\";s:7:\"example\";i:125;s:4:\"type\";s:7:\"integer\";}s:10:\"wind_speed\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Average
  wind speed - Default (m/s)\";s:7:\"example\";d:5.8499999999999996;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:14:\"EnergyObsGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Count
  of found observations\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:7:\"integer\";}s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EnergyObs\";}s:4:\"type\";s:5:\"array\";}s:8:\"end_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"End
  Date\";s:7:\"example\";s:10:\"2017-01-30\";s:4:\"type\";s:7:\"integer\";}s:10:\"start_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Start
  Date\";s:7:\"example\";s:10:\"2017-01-01\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Forecast\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":25:{s:12:\"app_max_temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Apparent
  Maximum daily Temperature - default (C)\";s:7:\"example\";i:4;s:4:\"type\";s:6:\"number\";}s:12:\"app_min_temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Apparent
  Minimum daily Temperature - default (C)\";s:7:\"example\";i:-2;s:4:\"type\";s:6:\"number\";}s:6:\"clouds\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Cloud
  cover as a percentage (%)\";s:7:\"example\";i:100;s:4:\"type\";s:7:\"integer\";}s:8:\"datetime\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"(UTC)
  Date in format \"YYYY-MM-DD\"\";s:7:\"example\";s:10:\"2017-02-06\";s:4:\"type\";s:6:\"string\";}s:5:\"dewpt\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Dewpoint
  (Average) - default (C)\";s:7:\"example\";i:1;s:4:\"type\";s:6:\"number\";}s:7:\"max_dhi\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"[Deprecated]
  Max direct component of solar insolation (W/m^2)\";s:7:\"example\";s:3:\"655\";s:4:\"type\";s:6:\"number\";}s:8:\"max_temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Maximum
  daily Temperature - default (C)\";s:7:\"example\";d:1.5;s:4:\"type\";s:6:\"number\";}s:8:\"min_temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Minimum
  daily Temperature - default (C)\";s:7:\"example\";d:-1.23;s:4:\"type\";s:6:\"number\";}s:3:\"pod\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Part
  of the day (d = day, n = night)\";s:7:\"example\";s:1:\"n\";s:4:\"type\";s:6:\"string\";}s:3:\"pop\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Chance
  of Precipitation as a percentage (%)\";s:7:\"example\";i:75;s:4:\"type\";s:6:\"number\";}s:6:\"precip\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Accumulated
  precipitation since last forecast point - default (mm)\";s:7:\"example\";d:1.1000000000000001;s:4:\"type\";s:6:\"number\";}s:4:\"pres\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Pressure
  (mb)\";s:7:\"example\";i:1005;s:4:\"type\";s:6:\"number\";}s:2:\"rh\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Relative
  Humidity as a percentage (%)\";s:7:\"example\";i:95;s:4:\"type\";s:7:\"integer\";}s:3:\"slp\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Mean
  Sea level pressure (mb)\";s:7:\"example\";d:1012.89;s:4:\"type\";s:6:\"number\";}s:4:\"snow\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Accumulated
  snowfall since last forecast point - default (mm)\";s:7:\"example\";d:10.449999999999999;s:4:\"type\";s:6:\"number\";}s:10:\"snow_depth\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Snow
  Depth - default (mm)\";s:7:\"example\";i:45;s:4:\"type\";s:6:\"number\";}s:4:\"temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Temperature
  (Average) - default (C)\";s:7:\"example\";i:1;s:4:\"type\";s:6:\"number\";}s:2:\"ts\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Unix
  Timestamp\";s:7:\"example\";s:10:\"1490990400\";s:4:\"type\";s:6:\"number\";}s:2:\"uv\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"UV
  Index\";s:7:\"example\";d:6.5;s:4:\"type\";s:6:\"number\";}s:3:\"vis\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Average
  Visibility default (KM)\";s:7:\"example\";i:3;s:4:\"type\";s:6:\"number\";}s:7:\"weather\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Weather
  Condition code\";s:7:\"example\";s:3:\"601\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Weather
  Condition description\";s:7:\"example\";s:4:\"Snow\";s:4:\"type\";s:6:\"string\";}s:4:\"icon\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Icon
  code for forecast image display\";s:7:\"example\";s:4:\"s02n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"wind_cdir\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Cardinal
  wind direction\";s:7:\"example\";s:3:\"ENE\";s:4:\"type\";s:6:\"string\";}s:14:\"wind_cdir_full\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Cardinal
  wind direction (text)\";s:7:\"example\";s:15:\"East-North-East\";s:4:\"type\";s:6:\"string\";}s:8:\"wind_dir\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Wind
  direction\";s:7:\"example\";i:105;s:4:\"type\";s:7:\"integer\";}s:8:\"wind_spd\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Wind
  Speed (default m/s)\";s:7:\"example\";d:13.85;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ForecastDay\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"city_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"City
  Name\";s:7:\"example\";s:7:\"Raleigh\";s:4:\"type\";s:6:\"string\";}s:12:\"country_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Country
  Abbreviation\";s:7:\"example\";s:2:\"US\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Forecast\";}s:4:\"type\";s:5:\"array\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Latitude\";s:7:\"example\";s:5:\"38.25\";s:4:\"type\";s:6:\"string\";}s:3:\"lon\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Longitude\";s:7:\"example\";s:6:\"-78.00\";s:4:\"type\";s:6:\"string\";}s:10:\"state_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"State
  Abbreviation\";s:7:\"example\";s:2:\"NC\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Local
  IANA time zone\";s:7:\"example\";s:16:\"America/New_York\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ForecastHour\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":26:{s:8:\"app_temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Apparent
  Temperature - Default (C)\";s:7:\"example\";d:4.5;s:4:\"type\";s:6:\"number\";}s:6:\"clouds\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Cloud
  cover as a percentage (%)\";s:7:\"example\";i:100;s:4:\"type\";s:7:\"integer\";}s:8:\"datetime\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"(UTC)
  Date in format \"YYYY-MM-DD:HH\"\";s:7:\"example\";s:13:\"2017-02-06:02\";s:4:\"type\";s:6:\"string\";}s:5:\"dewpt\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Dewpoint
  - Default (C)\";s:7:\"example\";i:-4;s:4:\"type\";s:6:\"number\";}s:3:\"dhi\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Diffuse
  normal solar irradiance (W/m^2)\";s:7:\"example\";i:200;s:4:\"type\";s:6:\"number\";}s:3:\"dni\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Direct
  normal solar irradiance (W/m^2)\";s:7:\"example\";i:400;s:4:\"type\";s:6:\"number\";}s:3:\"ghi\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Global
  horizontal solar irradiance (W/m^2)\";s:7:\"example\";i:1500;s:4:\"type\";s:6:\"number\";}s:3:\"pod\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Part
  of day (d = day, n = night)\";s:7:\"example\";s:1:\"d\";s:4:\"type\";s:6:\"string\";}s:3:\"pop\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Chance
  of Precipitation as a percentage (%)\";s:7:\"example\";i:75;s:4:\"type\";s:6:\"number\";}s:6:\"precip\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Accumulated
  precipitation since last forecast point. Default (mm)\";s:7:\"example\";d:1.1000000000000001;s:4:\"type\";s:6:\"number\";}s:8:\"precip6h\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Accumulated
  precipitation since last forecast point. Default (mm)\";s:7:\"example\";d:14.5;s:4:\"type\";s:6:\"number\";}s:4:\"pres\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Pressure
  (mb)\";s:7:\"example\";i:1005;s:4:\"type\";s:6:\"number\";}s:2:\"rh\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Relative
  Humidity as a percentage (%)\";s:7:\"example\";i:95;s:4:\"type\";s:7:\"integer\";}s:3:\"slp\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Mean
  Sea level pressure (mb)\";s:7:\"example\";d:1012.89;s:4:\"type\";s:6:\"number\";}s:4:\"snow\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Accumulated
  snowfall since last forecast point - Default (mm)\";s:7:\"example\";d:10.449999999999999;s:4:\"type\";s:6:\"number\";}s:6:\"snow6h\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"6
  hour accumulated snowfall. Default (mm)\";s:7:\"example\";d:140.87;s:4:\"type\";s:6:\"number\";}s:10:\"snow_depth\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Snow
  depth - Default (mm)\";s:7:\"example\";i:45;s:4:\"type\";s:6:\"number\";}s:4:\"temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Temperature
  - Default (C)\";s:7:\"example\";d:-1.5;s:4:\"type\";s:6:\"number\";}s:2:\"ts\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Unix
  Timestamp\";s:7:\"example\";s:10:\"1490990400\";s:4:\"type\";s:6:\"number\";}s:2:\"uv\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"UV
  Index\";s:7:\"example\";d:6.5;s:4:\"type\";s:6:\"number\";}s:3:\"vis\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Visibility
  - Default (KM)\";s:7:\"example\";i:1;s:4:\"type\";s:6:\"number\";}s:7:\"weather\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Weather
  Condition code\";s:7:\"example\";s:3:\"601\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Weather
  Condition description\";s:7:\"example\";s:4:\"Snow\";s:4:\"type\";s:6:\"string\";}s:4:\"icon\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Icon
  code for forecast image display\";s:7:\"example\";s:4:\"s02d\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"wind_cdir\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Cardinal
  wind direction\";s:7:\"example\";s:3:\"ENE\";s:4:\"type\";s:6:\"string\";}s:14:\"wind_cdir_full\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Cardinal
  wind direction (text)\";s:7:\"example\";s:15:\"East-North-East\";s:4:\"type\";s:6:\"string\";}s:8:\"wind_dir\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Wind
  direction\";s:7:\"example\";i:105;s:4:\"type\";s:7:\"integer\";}s:8:\"wind_spd\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Wind
  Speed - Default (m/s)\";s:7:\"example\";d:13.85;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ForecastHourly\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"city_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"City
  Name\";s:7:\"example\";s:7:\"Raleigh\";s:4:\"type\";s:6:\"string\";}s:12:\"country_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Country
  Abbreviation\";s:7:\"example\";s:2:\"US\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ForecastHour\";}s:4:\"type\";s:5:\"array\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Latitude\";s:7:\"example\";s:5:\"38.25\";s:4:\"type\";s:6:\"string\";}s:3:\"lon\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Longitude\";s:7:\"example\";s:6:\"-78.00\";s:4:\"type\";s:6:\"string\";}s:10:\"state_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"State
  Abbreviation\";s:7:\"example\";s:2:\"NC\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Local
  IANA time zone\";s:7:\"example\";s:16:\"America/New_York\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"GeoIPObj\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:9:\"area_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Area
  Code\";s:7:\"example\";s:3:\"919\";s:4:\"type\";s:6:\"string\";}s:7:\"charset\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Character
  encoding\";s:7:\"example\";s:1:\"1\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"City
  Name\";s:7:\"example\";s:7:\"Raleigh\";s:4:\"type\";s:6:\"string\";}s:14:\"continent_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Country
  Abbreviation\";s:7:\"example\";s:2:\"US\";s:4:\"type\";s:6:\"string\";}s:12:\"country_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Country
  Code (Short)\";s:7:\"example\";s:2:\"US\";s:4:\"type\";s:6:\"string\";}s:13:\"country_code3\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Country
  Code (Long)\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:8:\"dma_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Longitude\";s:7:\"example\";s:3:\"560\";s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"IP
  Address\";s:7:\"example\";s:13:\"192.168.1.102\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"State
  Abbreviation\";s:7:\"example\";s:6:\"35.811\";s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"City
  Name\";s:7:\"example\";s:6:\"-78.64\";s:4:\"type\";s:6:\"string\";}s:10:\"metro_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Longitude\";s:7:\"example\";s:3:\"560\";s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"UTC
  Offset (deprecated)\";s:7:\"example\";s:2:\"-4\";s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Organization
  Name\";s:7:\"example\";s:38:\"AS11426 Time Warner Cable Internet LLC\";s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Postal
  Code\";s:7:\"example\";s:5:\"27601\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Latitude\";s:7:\"example\";s:2:\"NC\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Local
  IANA time zone\";s:7:\"example\";s:16:\"America/New_York\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"History\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"city_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"City
  name (Closest)\";s:7:\"example\";s:7:\"Seattle\";s:4:\"type\";s:6:\"string\";}s:12:\"country_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Country
  abbreviation\";s:7:\"example\";s:2:\"US\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HistoryObj\";}s:4:\"type\";s:5:\"array\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Latitude\";s:7:\"example\";s:5:\"47.61\";s:4:\"type\";s:6:\"string\";}s:3:\"lon\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Longitude\";s:7:\"example\";s:7:\"-122.33\";s:4:\"type\";s:6:\"string\";}s:7:\"sources\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Weather
  stations used in response\";s:5:\"items\";O:8:\"stdClass\":2:{s:7:\"example\";s:11:\"12345-89083\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"state_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"State
  abbreviation\";s:7:\"example\";s:2:\"WA\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Local
  IANA time zone\";s:7:\"example\";s:16:\"America/New_York\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"HistoryDay\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"city_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"City
  name (Closest)\";s:7:\"example\";s:7:\"Seattle\";s:4:\"type\";s:6:\"string\";}s:12:\"country_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Country
  abbreviation\";s:7:\"example\";s:2:\"US\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/HistoryDayObj\";}s:4:\"type\";s:5:\"array\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Latitude\";s:7:\"example\";s:5:\"47.61\";s:4:\"type\";s:6:\"string\";}s:3:\"lon\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Longitude\";s:7:\"example\";s:7:\"-122.33\";s:4:\"type\";s:6:\"string\";}s:7:\"sources\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Weather
  stations used in response\";s:5:\"items\";O:8:\"stdClass\":2:{s:7:\"example\";s:11:\"12345-89083\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"state_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"State
  abbreviation\";s:7:\"example\";s:2:\"WA\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Local
  IANA time zone\";s:7:\"example\";s:16:\"America/New_York\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"HistoryDayObj\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":27:{s:8:\"datetime\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Date
  in format \"YYYY-MM-DD\". All datetime is in (UTC)\";s:7:\"example\";s:10:\"2015-01-03\";s:4:\"type\";s:6:\"string\";}s:5:\"dewpt\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Average
  dewpoint - Default (C)\";s:7:\"example\";d:-1.5;s:4:\"type\";s:6:\"number\";}s:3:\"dhi\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Average
  hourly diffuse horizontal solar irradiance (W/m^2)\";s:7:\"example\";i:125;s:4:\"type\";s:7:\"integer\";}s:3:\"dni\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Average
  direct normal solar irradiance (W/m^2)\";s:7:\"example\";i:125;s:4:\"type\";s:7:\"integer\";}s:3:\"ghi\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Average
  hourly global horizontal solar irradiance (W/m^2)\";s:7:\"example\";i:125;s:4:\"type\";s:7:\"integer\";}s:8:\"max_temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Max
  temperature - Default (C)\";s:7:\"example\";d:1.5;s:4:\"type\";s:6:\"number\";}s:11:\"max_temp_ts\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Time
  of max memperature - Unix Timestamp\";s:7:\"example\";i:1501970816;s:4:\"type\";s:6:\"number\";}s:6:\"max_uv\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Max
  UV Index (1-11+)\";s:7:\"example\";i:6;s:4:\"type\";s:7:\"integer\";}s:12:\"max_wind_dir\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Direction
  of wind at time of max 2min wind (degrees)\";s:7:\"example\";i:325;s:4:\"type\";s:7:\"integer\";}s:12:\"max_wind_spd\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Max
  2min Wind Speed - default (m/s)\";s:7:\"example\";d:19.98;s:4:\"type\";s:6:\"number\";}s:15:\"max_wind_spd_ts\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Time
  of max 2min wind - unix timestamp\";s:7:\"example\";i:1501970516;s:4:\"type\";s:6:\"number\";}s:8:\"min_temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Min
  temperature - Default (C)\";s:7:\"example\";d:11.699999999999999;s:4:\"type\";s:6:\"number\";}s:11:\"min_temp_ts\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Time
  of max temperature - unix timestamp\";s:7:\"example\";i:1501970516;s:4:\"type\";s:6:\"number\";}s:6:\"precip\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Liquid
  equivalent precipitation - default (mm)\";s:7:\"example\";i:3;s:4:\"type\";s:6:\"number\";}s:4:\"pres\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Average
  pressure (mb)\";s:7:\"example\";d:885.10000000000002;s:4:\"type\";s:6:\"number\";}s:2:\"rh\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Average
  relative humidity as a percentage (%)\";s:7:\"example\";i:85;s:4:\"type\";s:7:\"integer\";}s:3:\"slp\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Average
  sea level pressure (mb)\";s:7:\"example\";d:1020.1;s:4:\"type\";s:6:\"number\";}s:4:\"snow\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Snowfall
  - default (mm)\";s:7:\"example\";i:30;s:4:\"type\";s:6:\"number\";}s:10:\"snow_depth\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Snow
  Depth - default (mm)\";s:7:\"example\";i:60;s:4:\"type\";s:6:\"number\";}s:5:\"t_dhi\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Total
  diffuse horizontal solar irradiance (W/m^2)\";s:7:\"example\";i:4500;s:4:\"type\";s:7:\"integer\";}s:5:\"t_dni\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Total
  direct normal solar irradiance (W/m^2)\";s:7:\"example\";i:4500;s:4:\"type\";s:7:\"integer\";}s:5:\"t_ghi\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Total
  global horizontal solar irradiance (W/m^2)\";s:7:\"example\";i:4500;s:4:\"type\";s:7:\"integer\";}s:4:\"temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Average
  temperature - Default (C)\";s:7:\"example\";i:1;s:4:\"type\";s:6:\"number\";}s:2:\"ts\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Unix
  timestamp of datetime (Midnight UTC)\";s:7:\"example\";i:1501970516;s:4:\"type\";s:6:\"number\";}s:8:\"wind_dir\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Average
  wind direction (degrees)\";s:7:\"example\";i:325;s:4:\"type\";s:7:\"integer\";}s:13:\"wind_gust_spd\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Wind
  gust direction (degrees)\";s:7:\"example\";i:340;s:4:\"type\";s:6:\"number\";}s:8:\"wind_spd\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Average
  wind speed - default (m/s)\";s:7:\"example\";d:14.98;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:10:\"HistoryObj\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:8:\"datetime\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Date
  in format \"YYYY-MM-DD:HH\". All datetime is in (UTC)\";s:7:\"example\";s:13:\"2016-01-01:00\";s:4:\"type\";s:6:\"string\";}s:5:\"dewpt\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Dew
  point (Default Celcius)\";s:7:\"example\";d:-1.5;s:4:\"type\";s:7:\"integer\";}s:3:\"dhi\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Diffuse
  normal solar irradiance (W/m^2)\";s:7:\"example\";i:200;s:4:\"type\";s:6:\"number\";}s:3:\"dni\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Direct
  normal solar irradiance (W/m^2)\";s:7:\"example\";i:400;s:4:\"type\";s:6:\"number\";}s:10:\"elev_angle\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Solar
  elevation angle (Degrees)\";s:7:\"example\";d:27.5;s:4:\"type\";s:6:\"number\";}s:3:\"ghi\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Global
  horizontal solar irradiance (W/m^2)\";s:7:\"example\";i:1500;s:4:\"type\";s:6:\"number\";}s:7:\"h_angle\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Solar
  hour angle (Degrees)\";s:7:\"example\";i:15;s:4:\"type\";s:6:\"number\";}s:3:\"pod\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Part
  of the day (d = day, n = night)\";s:7:\"example\";s:1:\"n\";s:4:\"type\";s:6:\"string\";}s:6:\"precip\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Liquid
  equivalent precipitation - Default (mm)\";s:7:\"example\";i:3;s:4:\"type\";s:6:\"number\";}s:8:\"precip6h\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Liquid
  equivalent precipitation in last 6 hours - Default (mm)\";s:7:\"example\";i:6;s:4:\"type\";s:6:\"number\";}s:4:\"pres\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Pressure
  (mb)\";s:7:\"example\";i:845;s:4:\"type\";s:6:\"number\";}s:2:\"rh\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Relative
  Humidity as a percentage (%)\";s:7:\"example\";i:85;s:4:\"type\";s:7:\"integer\";}s:3:\"slp\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Sea
  level pressure (mb)\";s:7:\"example\";d:1020.1;s:4:\"type\";s:6:\"number\";}s:4:\"snow\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Snowfall
  - Default (mm)\";s:7:\"example\";i:30;s:4:\"type\";s:6:\"number\";}s:6:\"snow6h\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Snowfall
  in last 6 hours - Default (mm)\";s:7:\"example\";i:60;s:4:\"type\";s:6:\"number\";}s:4:\"temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Temperature
  (Default Celcius)\";s:7:\"example\";d:-1.2;s:4:\"type\";s:6:\"number\";}s:2:\"ts\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Unix
  Timestamp (UTC)\";s:7:\"example\";s:10:\"1451606400\";s:4:\"type\";s:6:\"string\";}s:2:\"uv\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"UV
  Index (1-11+)\";s:7:\"example\";i:4;s:4:\"type\";s:7:\"integer\";}s:7:\"weather\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Weather
  Condition code\";s:7:\"example\";s:3:\"601\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Weather
  Condition description\";s:7:\"example\";s:10:\"Light Snow\";s:4:\"type\";s:6:\"string\";}s:4:\"icon\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Icon
  code for forecast image display\";s:7:\"example\";s:4:\"s01n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"wind_dir\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Wind
  direction (Degrees)\";s:7:\"example\";i:325;s:4:\"type\";s:7:\"integer\";}s:8:\"wind_spd\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Wind
  Speed (Default m/s)\";s:7:\"example\";d:14.699999999999999;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}}"
...
