---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:26:\"SkyWise Insight API (Beta)\";s:11:\"description\";s:454:\"The
  SkyWise Insight API is an interface to WDT\u2019s Weather as a Service\xAE analytics
  platform,  allowing application developers to leverage high quality weather information
  \ for applications, and products. The SkyWise Insight API provides access to  historical,
  current, and forecast data for any region of interest,  such as an agriculture field,
  urban area, or utility service area.  API response formats can include time-series,
  summaries, or contours.\";s:7:\"version\";s:5:\"1.0.0\";}"
host: insight.api.wdtinc.com
basePath: /
paths:
  /assets:
    get:
      summary: Asset List
      description: Asset List
      operationId: asset-list
      tags:
      - Assets
      responses:
        200:
          description: OK
          examples:
            application/json:
            - id: b17a4230-5b28-11e6-8516-9801a78e45d7
              type: GeometryCollection
              geometries:
              - type: MultiPolygon
                coordinates:
                - - - - -97.490273
                      - 35.174370
                    - - -97.490273
                      - 35.256553
                    - - -97.388992
                      - 35.256553
                    - - -97.388992
                      - 35.174370
                    - - -97.490273
                      - 35.174370
              centroid:
                latitude: 40.460000
                longitude: -89.542000
              description:
                Ex. Tag 2: City of Norman
                Ex. Tag 1: WDT Offices
            - id: 062a6249-ccb7-468f-8ab4-fb817e95cf36
              type: GeometryCollection
              geometries:
              - type: MultiPolygon
                coordinates:
                - - - -89.103241
                    - 40.389443
                  - - -89.103241
                    - 40.556591
                  - - -88.880768
                    - 40.556591
                  - - -88.880768
                    - 40.389443
                  - - -89.103241
                    - 40.389443
              centroid:
                latitude: 40.460000
                longitude: -89.542000
              description:
                Ex. Tag 2: Bloomington, IL
                Ex. Tag 1: Corn Country
          schema:
            type: array
            items:
              $ref: '#/definitions/Asset'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Asset Creation
      description: Asset Creation
      operationId: asset-creation
      tags:
      - Assets
      parameters:
      - name: body
        in: body
        required: true
        schema:
          type: string
      responses:
        201:
          description: Created
          examples:
            application/json:
              type: GeometryCollection
              centroid:
                latitude: 35.215462
                longitude: -97.439632
              id: b17a4230-5b28-11e6-8516-9801a78e45d7
              geometries:
              - type: MultiPolygon
                coordinates:
                - - - - -97.490273
                      - 35.174370
                    - - -97.490273
                      - 35.256553
                    - - -97.388992
                      - 35.256553
                    - - -97.388992
                      - 35.174370
                    - - -97.490273
                      - 35.174370
              description:
                Ex. Tag 2: City of Norman
                Ex. Tag 1: WDT Offices
          schema:
            $ref: '#/definitions/Asset'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /assets/{asset-uuid}:
    get:
      summary: Asset Information
      description: Asset Information
      operationId: asset-information
      tags:
      - Assets
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      responses:
        200:
          description: OK
          examples:
            application/json:
              type: GeometryCollection
              centroid:
                latitude: 35.215462
                longitude: -97.439632
              id: b17a4230-5b28-11e6-8516-9801a78e45d7
              geometries:
              - type: MultiPolygon
                coordinates:
                - - - - -97.490273
                      - 35.174370
                    - - -97.490273
                      - 35.256553
                    - - -97.388992
                      - 35.256553
                    - - -97.388992
                      - 35.174370
                    - - -97.490273
                      - 35.174370
              description:
                Ex. Tag 2: City of Norman
                Ex. Tag 1: WDT Offices
          schema:
            $ref: '#/definitions/Asset'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Asset Update
      description: Asset Update
      operationId: asset-update
      tags:
      - Assets
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: body
        in: body
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          examples:
            application/json:
              type: GeometryCollection
              centroid:
                latitude: 35.215462
                longitude: -97.439632
              id: b17a4230-5b28-11e6-8516-9801a78e45d7
              geometries:
              - type: MultiPolygon
                coordinates:
                - - - - -97.490273
                      - 35.174370
                    - - -97.490273
                      - 35.256553
                    - - -97.388992
                      - 35.256553
                    - - -97.388992
                      - 35.174370
                    - - -97.490273
                      - 35.174370
              description:
                Ex. Tag 2: Not all of Norman
                Ex. Tag 1: The best offices.
          schema:
            $ref: '#/definitions/Asset'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Asset Removal
      description: Asset Removal
      operationId: asset-removal
      tags:
      - Assets
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      responses:
        200:
          description: OK
          examples:
            application/json:
              type: GeometryCollection
              centroid:
                latitude: 35.215462
                longitude: -97.439632
              id: b17a4230-5b28-11e6-8516-9801a78e45d7
              geometries:
              - type: MultiPolygon
                coordinates:
                - - - - -97.490273
                      - 35.174370
                    - - -97.490273
                      - 35.256553
                    - - -97.388992
                      - 35.256553
                    - - -97.388992
                      - 35.174370
                    - - -97.490273
                      - 35.174370
              description:
                Ex. Tag 2: City of Norman
                Ex. Tag 1: WDT Offices
          schema:
            $ref: '#/definitions/Asset'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /growing-degree-days/{latitude}/{longitude}:
    get:
      summary: Growing degree days by location
      description: nProvides the accumulated growing degree days at a specific location  along
        with daily time series data for a user-defined base temperature and date range.  The
        location is represented by a latitude/longitude pair.nThe default response
        contains results for up to the next 6 days,  on a Celsius temperature scale,
        for a base temperature of 10 degrees with a daily time series.n
      operationId: growing-degree-days-by-location
      tags:
      - Growing Degree Days
      parameters:
      - name: latitude
        in: path
        required: true
        type: number
        format: double
      - name: longitude
        in: path
        required: true
        type: number
        format: double
      - name: base
        in: query
        description: Base temperature
        required: false
        type: number
        format: double
      - name: unit
        in: query
        description: Temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date (inclusive).nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              latitude: 35.482000
              longitude: -97.535000
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              baseTemperature: 10
              unit:
                description: degree celsius
                label: u00b0C
              degreeDays: 15.600000
              series:
              - validDate: "2015-06-01"
                value: 5.200000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
              - validDate: "2015-06-02"
                value: 7.300000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
              - validDate: "2015-06-03"
                value: 3.100000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
          schema:
            $ref: '#/definitions/DegreeDaysByLocationData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /growing-degree-days/{asset-uuid}:
    get:
      summary: Growing degree days by asset
      description: Provides the growing degree days and daily time series data for
        a  user-defined base temperature and date range at the centroid of an asset,  along
        with the area-weighted arithmetic mean and range of growing degree days  over
        that asset. Time series values are for the centroid of the asset.nThe default
        response contains results for up to the next 6 days,  on a Celsius temperature
        scale, for a base temperature of 10 degrees with a daily time series.n
      operationId: growing-degree-days-by-asset
      tags:
      - Growing Degree Days
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: base
        in: query
        description: Base temperature
        required: false
        type: number
        format: double
      - name: unit
        in: query
        description: Temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date (inclusive).nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              baseTemperature: 10
              unit:
                description: degree celsius
                label: u00b0C
              degreeDays: 16.700000
              accumulationStatistics:
                mean: 15.600000
                maximum: 18.100000
                minimum: 12.100000
              contours: /growing-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-03
              series:
              - validDate: "2015-06-01"
                value: 5.400000
                contours: /growing-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-01
                assetStatistics:
                  mean: 5.400000
                  maximum: 5.500000
                  minimum: 5.200000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
              - validDate: "2015-06-02"
                value: 5.500000
                contours: /growing-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-02&end=2015-06-02
                assetStatistics:
                  mean: 5.300000
                  maximum: 5.400000
                  minimum: 5
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
              - validDate: "2015-06-03"
                value: 5.600000
                contours: /growing-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-03&end=2015-06-03
                assetStatistics:
                  mean: 5.800000
                  maximum: 5.900000
                  minimum: 4.900000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
          schema:
            $ref: '#/definitions/DegreeDaysByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /growing-degree-days/{asset-uuid}/contours:
    get:
      summary: Growing degree days contours by asset
      description: Provides a contoured representation (GeoJSON) of growing degree
        days for a user-defined base temperature and date range, clipped to a asset
        boundary.nThe default response contains results for up to the next 6 days,  on
        a Celsius temperature scale, for a base temperature of 10 degrees with a daily
        time series.n
      operationId: growing-degree-days-contours-by-asset
      tags:
      - Growing Degree Days
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: base
        in: query
        description: Base temperature
        required: false
        type: number
        format: double
      - name: unit
        in: query
        description: Temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date (inclusive).nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              baseTemperature: 10
              unit:
                description: degree celsius
                label: u00b0C
              type: FeatureCollection
              features:
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  degreeDays: 4
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  degreeDays: 5
          schema:
            $ref: '#/definitions/DegreeDaysContoursByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /cooling-degree-days/{latitude}/{longitude}:
    get:
      summary: Cooling degree days by location
      description: Provides the accumulated cooling degree days at a specific location  along
        with daily time series data for a user-defined base temperature  and date
        range. The location is represented by a latitude/longitude pair.nThe default
        response contains results for up to the next 6 days,  on a Celsius temperature
        scale, for a base temperature of 20 degrees with a daily time series.n
      operationId: cooling-degree-days-by-location
      tags:
      - Cooling Degree Days
      parameters:
      - name: latitude
        in: path
        required: true
        type: number
        format: double
      - name: longitude
        in: path
        required: true
        type: number
        format: double
      - name: base
        in: query
        description: Base temperature
        required: false
        type: number
        format: double
      - name: unit
        in: query
        description: Temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date (inclusive).nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              latitude: 35.482000
              longitude: -97.535000
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              baseTemperature: 16
              unit:
                description: degree celsius
                label: u00b0C
              degreeDays: 15.600000
              series:
              - validDate: "2015-06-01"
                value: 5.200000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
              - validDate: "2015-06-02"
                value: 7.300000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
              - validDate: "2015-06-03"
                value: 3.100000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
          schema:
            $ref: '#/definitions/DegreeDaysByLocationData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /cooling-degree-days/{asset-uuid}:
    get:
      summary: Cooling degree days by asset
      description: Provides the cooling degree days and daily time series data for
        a  user-defined base temperature and date range at the centroid of an asset,  along
        with the area-weighted arithmetic mean and range of  cooling degree days over
        that asset. Time series values are for the centroid of the asset.nThe default
        response contains results for up to the next 6 days,  on a Celsius temperature
        scale, for a base temperature of 16 degrees with a daily time series.n
      operationId: cooling-degree-days-by-asset
      tags:
      - Cooling Degree Days
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: base
        in: query
        description: Base temperature
        required: false
        type: number
        format: double
      - name: unit
        in: query
        description: Temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date (inclusive).nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              baseTemperature: 16
              unit:
                description: degree celsius
                label: u00b0C
              degreeDays: 16.700000
              accumulationStatistics:
                mean: 15.600000
                maximum: 18.100000
                minimum: 12.100000
              contours: /cooling-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-03
              series:
              - validDate: "2015-06-01"
                value: 5.400000
                contours: /cooling-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-01
                assetStatistics:
                  mean: 5.400000
                  maximum: 5.500000
                  minimum: 5.200000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
              - validDate: "2015-06-02"
                value: 5.500000
                contours: /cooling-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-02&end=2015-06-02
                assetStatistics:
                  mean: 5.300000
                  maximum: 5.400000
                  minimum: 5
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
              - validDate: "2015-06-03"
                value: 5.600000
                contours: /cooling-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-03&end=2015-06-03
                assetStatistics:
                  mean: 5.800000
                  maximum: 5.900000
                  minimum: 4.900000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
          schema:
            $ref: '#/definitions/DegreeDaysByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /cooling-degree-days/{asset-uuid}/contours:
    get:
      summary: Cooling degree days contours by asset
      description: Provides a contoured representation (GeoJSON) of cooling degree
        days for a  user-defined base temperature and date range, clipped to an asset
        boundary.nThe default response contains results for up to the next 6 days,  on
        a Celsius temperature scale, for a base temperature of 16 degrees with a daily
        time series.n
      operationId: cooling-degree-days-contours-by-asset
      tags:
      - Cooling Degree Days
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: base
        in: query
        description: Base temperature
        required: false
        type: number
        format: double
      - name: unit
        in: query
        description: Temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date (inclusive).nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              baseTemperature: 16
              unit:
                description: degree celsius
                label: u00b0C
              type: FeatureCollection
              features:
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  degreeDays: 4
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  degreeDays: 5
          schema:
            $ref: '#/definitions/DegreeDaysContoursByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /heating-degree-days/{latitude}/{longitude}:
    get:
      summary: Heating degree days by location
      description: Provides the accumulated heating degree days at a specific location  along
        with daily time series data for a user-defined base temperature  and date
        range. The location is represented by a latitude/longitude pair.nThe default
        response contains results for up to the next 6 days,  on a Celsius temperature
        scale, for a base temperature of 16 degrees with a daily time series.n
      operationId: heating-degree-days-by-location
      tags:
      - Heating Degree Days
      parameters:
      - name: latitude
        in: path
        required: true
        type: number
        format: double
      - name: longitude
        in: path
        required: true
        type: number
        format: double
      - name: base
        in: query
        description: Base temperature
        required: false
        type: number
        format: double
      - name: unit
        in: query
        description: Temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date (inclusive).nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              latitude: 35.482000
              longitude: -97.535000
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              baseTemperature: 16
              unit:
                description: degree celsius
                label: u00b0C
              degreeDays: 15.600000
              series:
              - validDate: "2015-06-01"
                value: 5.200000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
              - validDate: "2015-06-02"
                value: 7.300000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
              - validDate: "2015-06-03"
                value: 3.100000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
          schema:
            $ref: '#/definitions/DegreeDaysByLocationData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /heating-degree-days/{asset-uuid}:
    get:
      summary: Heating degree days by asset
      description: Provides the heating degree days and daily time series data  for
        a user-defined base temperature and date range at the centroid of an asset,  along
        with the area-weighted arithmetic mean and range of heating degree days over
        that asset.  Time series values are for the centroid of the asset.nThe default
        response contains results for up to the next 6 days,  on a Celsius temperature
        scale, for a base temperature of 16 degrees with a daily time series.n
      operationId: heating-degree-days-by-asset
      tags:
      - Heating Degree Days
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: base
        in: query
        description: Base temperature
        required: false
        type: number
        format: double
      - name: unit
        in: query
        description: Temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date (inclusive).nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              baseTemperature: 16
              unit:
                description: degree celsius
                label: u00b0C
              degreeDays: 16.700000
              accumulationStatistics:
                mean: 15.600000
                maximum: 18.100000
                minimum: 12.100000
              contours: /heating-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-03
              series:
              - validDate: "2015-06-01"
                value: 5.400000
                contours: /heating-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-01
                assetStatistics:
                  mean: 5.400000
                  maximum: 5.500000
                  minimum: 5.200000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
              - validDate: "2015-06-02"
                value: 5.500000
                contours: /heating-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-02&end=2015-06-02
                assetStatistics:
                  mean: 5.300000
                  maximum: 5.400000
                  minimum: 5
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
              - validDate: "2015-06-03"
                value: 5.600000
                contours: /heating-degree-days/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-03&end=2015-06-03
                assetStatistics:
                  mean: 5.800000
                  maximum: 5.900000
                  minimum: 4.900000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
                - skywise-superconus-24hr-low-temperature-analysis
          schema:
            $ref: '#/definitions/DegreeDaysByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /heating-degree-days/{asset-uuid}/contours:
    get:
      summary: Heating degree days contours by asset
      description: Provides a contoured representation (GeoJSON) of heating degree
        days  for a user-defined base temperature and date range, clipped to an asset
        boundary.nThe default response contains results for up to the next 6 days,  on
        a Celsius temperature scale, for a base temperature of 16 degrees with a daily
        time series.n
      operationId: heating-degree-days-contours-by-asset
      tags:
      - Heating Degree Days
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: base
        in: query
        description: Base temperature
        required: false
        type: number
        format: double
      - name: unit
        in: query
        description: Temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date (inclusive).nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              baseTemperature: 16
              unit:
                description: degree celsius
                label: u00b0C
              type: FeatureCollection
              features:
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  degreeDays: 4
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  degreeDays: 5
          schema:
            $ref: '#/definitions/DegreeDaysContoursByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /daily-precipitation/{latitude}/{longitude}:
    get:
      summary: Daily Precipitation by location
      description: Provides the total amount of daily precipitation along with a  daily
        time series within a user-defined timespan.  The location is represented by
        a latitude/longitude pair.nThe default response contains results in millimeters
        for up to the next 6 days.n
      operationId: daily-precipitation-by-location
      tags:
      - Daily Precipitation
      parameters:
      - name: latitude
        in: path
        required: true
        type: number
        format: double
      - name: longitude
        in: path
        required: true
        type: number
        format: double
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date (inclusive).nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      - name: unit
        in: query
        description: Unit of measure
        required: false
        type: string
        enum:
        - inches
        - millimeters
      responses:
        200:
          description: OK
          examples:
            application/json:
              latitude: 35.482000
              longitude: -97.535000
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              precipitation: 22.500000
              unit:
                description: millimeters
                label: mm
              series:
              - validDate: "2015-06-01"
                value: 11.250000
                products:
                - skywise-24hr-precipitation-analysis
              - validDate: "2015-06-02"
                value: 5.250000
                products:
                - skywise-24hr-precipitation-analysis
              - validDate: "2015-06-03"
                value: 6
                products:
                - skywise-24hr-precipitation-analysis
          schema:
            $ref: '#/definitions/DailyPrecipitationByLocationData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /daily-precipitation/{asset-uuid}:
    get:
      summary: Daily Precipitation by asset
      description: Provides the total amount of daily precipitation within a user-defined  timespan
        at the centroid of an asset, along with the area-weighted  arithmetic mean
        and range of precipitation over that asset.  Includes a daily time series.
        Time series values are for the centroid of the asset.nThe default response
        contains results in millimeters for up to the next 6 days.n
      operationId: daily-precipitation-by-asset
      tags:
      - Daily Precipitation
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      - name: unit
        in: query
        description: Unit of measure
        required: false
        type: string
        enum:
        - inches
        - millimeters
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              precipitation: 22.500000
              accumulationStatistics:
                mean: 21.500000
                maximum: 27.600000
                minimum: 19.400000
              unit:
                description: millimeters
                label: mm
              contours: /daily-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-03
              series:
              - validDate: "2015-06-01"
                value: 11.250000
                contours: /daily-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-01
                assetStatistics:
                  mean: 10.200000
                  maximum: 11.500000
                  minimum: 9.600000
                products:
                - skywise-24hr-precipitation-analysis
              - validDate: "2015-06-02"
                value: 11
                contours: /daily-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-02&end=2015-06-02
                assetStatistics:
                  mean: 10.500000
                  maximum: 11.700000
                  minimum: 9.400000
                products:
                - skywise-24hr-precipitation-analysis
              - validDate: "2015-06-03"
                value: 10
                contours: /daily-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-03&end=2015-06-03
                assetStatistics:
                  mean: 10.600000
                  maximum: 12.500000
                  minimum: 8.600000
                products:
                - skywise-24hr-precipitation-analysis
          schema:
            $ref: '#/definitions/DailyPrecipitationByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /daily-precipitation/{asset-uuid}/contours:
    get:
      summary: Daily Precipitation contours by asset
      description: Provides a contoured representation (GeoJSON) of the total  amount
        of precipitation within a user-defined timespan, clipped to an asset boundary.nThe
        default response contains results in millimeters for up to the next 6 days.n
      operationId: daily-precipitation-contours-by-asset
      tags:
      - Daily Precipitation
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      - name: unit
        in: query
        description: Unit of measure
        required: false
        type: string
        enum:
        - inches
        - millimeters
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              type: FeatureCollection
              features:
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  precipitation: 20
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  precipitation: 15
              unit:
                description: millimeters
                label: mm
          schema:
            $ref: '#/definitions/DailyPrecipitationContoursByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /hourly-precipitation/{latitude}/{longitude}:
    get:
      summary: Hourly Precipitation by location
      description: Provides the total amount of precipitation within a user-defined  timespan
        at a specific location. The location is represented by a  latitude/longitude
        pair. Includes an hourly time series.  The valid time of each element in the
        series defines the end of its hourly accumulation period.nThe default response
        contains results in millimeters for the next 24 hours.n
      operationId: hourly-precipitation-by-location
      tags:
      - Hourly Precipitation
      parameters:
      - name: latitude
        in: path
        required: true
        type: number
        format: double
      - name: longitude
        in: path
        required: true
        type: number
        format: double
      - name: start
        in: query
        description: Start time.nStart of 2015 to 7 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        required: false
        type: string
        format: date-time
      - name: end
        in: query
        type: string
        description: End time.nStart of 2015 to 7 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        format: date-time
        required: false
      - name: unit
        in: query
        description: Unit of measure
        required: false
        type: string
        enum:
        - inches
        - millimeters
      responses:
        200:
          description: OK
          examples:
            application/json:
              latitude: 35.482000
              longitude: -97.535000
              startTime: "2015-06-01T00:00:00Z"
              endTime: "2015-06-01T03:00:00Z"
              precipitation: 2.500000
              unit:
                description: millimeters
                label: mm
              series:
              - validTime: "2015-06-01T01:00:00Z"
                value: 1.250000
                products:
                - skywise-1hr-precipitation-analysis
              - validTime: "2015-06-01T02:00:00Z"
                value: 0.250000
                products:
                - skywise-1hr-precipitation-analysis
              - validTime: "2015-06-01T03:00:00Z"
                value: 1
                products:
                - skywise-1hr-precipitation-analysis
          schema:
            $ref: '#/definitions/HourlyPrecipitationByLocationData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /hourly-precipitation/{asset-uuid}:
    get:
      summary: Hourly Precipitation by asset
      description: Provides the total amount of precipitation within a user-defined
        timespan  at the centroid of an asset, along with the area-weighted arithmetic
        mean  and range of precipitation over that asset. Includes an hourly time
        series.  Time series values are for the centroid of the asset.nThe default
        response contains results for up to the next 24 hours.n
      operationId: hourly-precipitation-by-asset
      tags:
      - Hourly Precipitation
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: start
        in: query
        description: Start time.nStart of 2015 to 7 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        required: false
        type: string
        format: date-time
      - name: end
        in: query
        type: string
        description: End time.nStart of 2015 to 7 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        format: date-time
        required: false
      - name: unit
        in: query
        description: Unit of measure
        required: false
        type: string
        enum:
        - inches
        - millimeters
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startTime: "2015-06-01T00:00:00Z"
              endTime: "2015-06-01T03:00:00Z"
              precipitation: 2.500000
              accumulationStatistics:
                mean: 2.500000
                maximum: 2.600000
                minimum: 2.400000
              unit:
                description: millimeters
                label: mm
              contours: /hourly-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01T00:00:00Z&end=2015-06-01T03:00:00Z
              series:
              - validTime: "2015-06-01T01:00:00Z"
                value: 1.200000
                contours: /hourly-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01T00:00:00Z&end=2015-06-01T01:00:00Z
                assetStatistics:
                  mean: 1.300000
                  maximum: 1.600000
                  minimum: 1.100000
                products:
                - skywise-1hr-precipitation-analysis
              - validTime: "2015-06-01T02:00:00Z"
                value: 0.300000
                contours: /hourly-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01T01:00:00Z&end=2015-06-01T02:00:00Z
                assetStatistics:
                  mean: 0.200000
                  maximum: 0.400000
                  minimum: 0
                products:
                - skywise-1hr-precipitation-analysis
              - validTime: "2015-06-01T03:00:00Z"
                value: 1
                contours: /hourly-precipitation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01T03:00:00Z&end=2015-06-01T03:00:00Z
                assetStatistics:
                  mean: 0.900000
                  maximum: 1.200000
                  minimum: 0.700000
                products:
                - skywise-1hr-precipitation-analysis
          schema:
            $ref: '#/definitions/HourlyPrecipitationByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /hourly-precipitation/{asset-uuid}/contours:
    get:
      summary: Hourly Precipitation contours by asset
      description: Provides a contoured representation (GeoJSON) of the total amount  of
        precipitation within a user-defined timespan, clipped to an asset boundary.nThe
        default response contains results in millimeters for the next 24 hours.n
      operationId: hourly-precipitation-contours-by-asset
      tags:
      - Hourly Precipitation
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: start
        in: query
        description: Start time.nStart of 2015 to 7 days in the future. n(YYYY-MM-DDTHH:MM:SSZ)n
        required: false
        type: string
        format: date-time
      - name: end
        in: query
        type: string
        description: End time.nStart of 2015 to 7 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        format: date-time
        required: false
      - name: unit
        in: query
        description: Unit of measure
        required: false
        type: string
        enum:
        - inches
        - millimeters
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startTime: "2015-06-01T00:00:00Z"
              endTime: "2015-06-01T03:00:00Z"
              type: FeatureCollection
              features:
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  precipitation: 2
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  precipitation: 2.500000
              unit:
                description: millimeters
                label: mm
          schema:
            $ref: '#/definitions/HourlyPrecipitationContoursByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /hourly-relative-humidity/{latitude}/{longitude}:
    get:
      summary: Hourly Relative Humidity by location
      description: Provides an hourly time series of relative humidity within a user-defined  timespan
        at a specific location. The location is represented by a latitude/longitude
        pair.nThe default response contains results as a percentage for up to the
        next 24 hours.n
      operationId: hourly-relative-humidity-by-location
      tags:
      - Hourly Relative Humidity
      parameters:
      - name: latitude
        in: path
        required: true
        type: number
        format: double
      - name: longitude
        in: path
        required: true
        type: number
        format: double
      - name: start
        in: query
        description: Start time.nJune 01, 2016 to 7 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        required: false
        type: string
        format: date-time
      - name: end
        in: query
        type: string
        description: End time (inclusive).nJune 01, 2016 to 7 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        format: date-time
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              latitude: 35.482000
              longitude: -97.535000
              startTime: "2016-06-01T00:00:00Z"
              endTime: "2016-06-01T03:00:00Z"
              unit:
                description: Percentage
                label: '%'
              series:
              - validTime: "2016-06-01T00:00:00Z"
                value: 97.800000
                products:
                - skywise-1hr-relative-humidity-analysis
              - validTime: "2016-06-01T01:00:00Z"
                value: 99
                products:
                - skywise-1hr-relative-humidity-analysis
              - validTime: "2016-06-01T02:00:00Z"
                value: 100
                products:
                - skywise-1hr-relative-humidity-analysis
              - validTime: "2016-06-01T03:00:00Z"
                value: 96.500000
                products:
                - skywise-1hr-relative-humidity-analysis
          schema:
            $ref: '#/definitions/HourlyProductByLocationData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /hourly-relative-humidity/{asset-uuid}:
    get:
      summary: Hourly Relative Humidity by asset
      description: Provides an hourly time series for relative humidity within a user-defined  timespan
        at the centroid of an asset, along with the area-weighted arithmetic mean
        and range over that asset. Time series values are for the centroid of the
        asset.nThe default response contains results as a percentage for up to the
        next 24 hours.n
      operationId: hourly-relative-humidity-by-asset
      tags:
      - Hourly Relative Humidity
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: start
        in: query
        description: Start time.nJune 01, 2016 to 7 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        required: false
        type: string
        format: date-time
      - name: end
        in: query
        type: string
        description: End time (inclusive).nJune 01, 2016 to 7 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        format: date-time
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startTime: "2016-06-01T00:00:00Z"
              endTime: "2016-06-01T03:00:00Z"
              unit:
                description: Percentage
                label: '%'
              timeSeriesStatistics:
                mean: 96.200000
                minimum: 85.500000
                maximum: 99
              series:
              - validTime: "2016-06-01T00:00:00Z"
                value: 97
                contours: /hourly-relative-humidity/fe68c33d-e718-4449-acae-351072ce7749/contours?validTime=2016-06-01T00:00:00Z
                assetStatistics:
                  mean: 97
                  minimum: 90.500000
                  maximum: 99
                products:
                - skywise-1hr-relative-humidity-analysis
              - validTime: "2016-06-01T01:00:00Z"
                value: 96.700000
                contours: /hourly-relative-humidity/fe68c33d-e718-4449-acae-351072ce7749/contours?validTime=2016-06-01T01:00:00Z
                assetStatistics:
                  mean: 98
                  minimum: 92.500000
                  maximum: 99
                products:
                - skywise-1hr-relative-humidity-analysis
              - validTime: "2016-06-01T02:00:00Z"
                value: 95.500000
                contours: /hourly-relative-humidity/fe68c33d-e718-4449-acae-351072ce7749/contours?validTime=2016-06-01T02:00:00Z
                assetStatistics:
                  mean: 95
                  minimum: 85.500000
                  maximum: 98
                products:
                - skywise-1hr-relative-humidity-analysis
              - validTime: "2016-06-01T03:00:00Z"
                value: 93.500000
                contours: /hourly-relative-humidity/fe68c33d-e718-4449-acae-351072ce7749/contours?validTime=2016-06-01T03:00:00Z
                assetStatistics:
                  mean: 94.900000
                  minimum: 90.500000
                  maximum: 99
                products:
                - skywise-1hr-relative-humidity-analysis
          schema:
            $ref: '#/definitions/HourlyProductByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /hourly-relative-humidity/{asset-uuid}/contours:
    get:
      summary: Hourly Relative Humidity contours by asset
      description: Provides a contoured representation (GeoJSON) of hourly relative
        humidity  at a particular valid time, clipped to an asset boundary.nThe default
        response contains results as a percentage for up to the next 24 hours.n
      operationId: hourly-relative-humidity-contours-by-asset
      tags:
      - Hourly Relative Humidity
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: validTime
        in: query
        description: Valid time.nJune 01, 2016 to 7 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        required: false
        type: string
        format: date-time
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              validTime: "2016-06-01T00:00:00Z"
              type: FeatureCollection
              features:
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  relativeHumidity: 30
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  relativeHumidity: 25
              unit:
                description: degree celsius
                label: u00b0C
          schema:
            $ref: '#/definitions/HourlyRelativeHumidityContoursByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /daily-solar-radiation/{latitude}/{longitude}:
    get:
      summary: Daily Solar Radiation by location
      description: Provides the total amount of solar radiation along with a daily  time
        series within a user-defined timespan at a specific location.  The location
        is represented by a latitude/longitude pair.nThe default response contains
        results in Megajoules per square meter  for up to the next 4 days.n
      operationId: daily-solar-radiation-by-location
      tags:
      - Daily Solar Radiation
      parameters:
      - name: latitude
        in: path
        required: true
        type: number
        format: double
      - name: longitude
        in: path
        required: true
        type: number
        format: double
      - name: start
        in: query
        description: Start date.nStart of 2015 to 5 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date.nStart of 2015 to 5 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              latitude: 35.482000
              longitude: -97.535000
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              solarRadiation: 164.100000
              unit:
                description: megajoules per square meter
                label: MJ/mu00b2
              series:
              - validDate: "2015-06-01"
                value: 50
                products:
                - skywise-24hr-solar-radiation-analysis
              - validDate: "2015-06-02"
                value: 50
                products:
                - skywise-24hr-solar-radiation-analysis
              - validDate: "2015-06-03"
                value: 66.100000
                products:
                - skywise-24hr-solar-radiation-analysis
          schema:
            $ref: '#/definitions/DailySolarRadiationByLocationData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /daily-solar-radiation/{asset-uuid}:
    get:
      summary: Daily Solar Radiation by asset
      description: Provides the total amount of solar radiation within a user-defined  timespan
        at the centroid of an asset, along with the area-weighted  arithmetic mean
        and range of solar radiation over that asset.  Includes a daily time series.
        Time series values are for the centroid of the asset.nThe default response
        contains results in Megajoules per square meter for up to the next 4 days.n
      operationId: daily-solar-radiation-by-asset
      tags:
      - Daily Solar Radiation
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: start
        in: query
        description: Start date.nStart of 2015 to 5 days in the future.n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date.nStart of 2015 to 5 days in the future.n
        format: date
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              solarRadiation: 164.100000
              accumulationStatistics:
                mean: 164.100000
                maximum: 166.800000
                minimum: 161.900000
              unit:
                description: megajoules per square meter
                label: MJ/mu00b2
              contours: /daily-solar-radiation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-03
              series:
              - validDate: "2015-06-01"
                value: 50
                contours: /daily-solar-radiation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-01
                assetStatistics:
                  mean: 51
                  maximum: 52
                  minimum: 50
                products:
                - skywise-24hr-solar-radiation-analysis
              - validDate: "2015-06-02"
                value: 50
                contours: /daily-solar-radiation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-02&end=2015-06-02
                assetStatistics:
                  mean: 51
                  maximum: 53
                  minimum: 49
                products:
                - skywise-24hr-solar-radiation-analysis
              - validDate: "2015-06-03"
                value: 64.100000
                contours: /daily-solar-radiation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-03&end=2015-06-03
                assetStatistics:
                  mean: 64.900000
                  maximum: 67
                  minimum: 61
                products:
                - skywise-24hr-solar-radiation-analysis
          schema:
            $ref: '#/definitions/DailySolarRadiationByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /daily-solar-radiation/{asset-uuid}/contours:
    get:
      summary: Daily Solar Radiation contours by asset
      description: Provides a contoured representation (GeoJSON) of the total amount  of
        solar radiation within a user-defined timespan, clipped to an asset boundary.nThe
        default response contains results in Megajoules per square meter for up to
        the next 4 days.n
      operationId: daily-solar-radiation-contours-by-asset
      tags:
      - Daily Solar Radiation
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: start
        in: query
        description: Start date.nStart of 2015 to 5 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date.nStart of 2015 to 5 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startTime: "2015-06-01"
              endTime: "2015-06-03"
              type: FeatureCollection
              features:
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  solarRadiation: 160
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  solarRadiation: 162
              unit:
                description: megajoules per square meter
                label: MJ/mu00b2
          schema:
            $ref: '#/definitions/DailySolarRadiationContoursByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /hourly-solar-radiation/{latitude}/{longitude}:
    get:
      summary: Hourly Solar Radiation by location
      description: Provides the total amount of solar radiation along with an  hourly
        time series within a user-defined timespan at a specific location.  The location
        is represented by a latitude/longitude pair.nThe default response contains
        results in Watts per square meter for the next 24 hours.n
      operationId: hourly-solar-radiation-by-location
      tags:
      - Hourly Solar Radiation
      parameters:
      - name: latitude
        in: path
        required: true
        type: number
        format: double
      - name: longitude
        in: path
        required: true
        type: number
        format: double
      - name: start
        in: query
        description: Start time.nStart of 2015 to 5 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        required: false
        type: string
        format: date-time
      - name: end
        in: query
        type: string
        description: End time.nStart of 2015 to 5 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        format: date-time
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              latitude: 35.482000
              longitude: -97.535000
              startTime: "2015-06-01T00:00:00Z"
              endTime: "2015-06-01T03:00:00Z"
              unit:
                description: Watts per square meter
                label: W/mu00b2
              series:
              - validTime: "2015-06-01T01:00:00Z"
                value: 10
                products:
                - skywise-1hr-solar-radiation-analysis
              - validTime: "2015-06-01T02:00:00Z"
                value: 20
                products:
                - skywise-1hr-solar-radiation-analysis
              - validTime: "2015-06-01T03:00:00Z"
                value: 30
                products:
                - skywise-1hr-solar-radiation-analysis
          schema:
            $ref: '#/definitions/HourlyProductByLocationData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /hourly-solar-radiation/{asset-uuid}:
    get:
      summary: Hourly Solar Radiation by asset
      description: Provides the total amount of solar radiation within a user-defined  timespan
        at the centroid of an asset, along with the area-weighted  arithmetic mean
        and range of solar radiation over that asset.  Includes an hourly time series.
        Time series values are for the centroid of the asset.nThe default response
        contains results in Watts per square meter for the next 24 hours.n
      operationId: hourly-solar-radiation-by-asset
      tags:
      - Hourly Solar Radiation
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: start
        in: query
        description: Start time.nStart of 2015 to 5 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        required: false
        type: string
        format: date-time
      - name: end
        in: query
        type: string
        description: End time.nStart of 2015 to 5 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        format: date-time
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startTime: "2015-06-01T00:00:00Z"
              endTime: "2015-06-01T03:00:00Z"
              unit:
                description: Watts per square meter
                label: W/mu00b2
              timeSeriesStatistics:
                mean: 33.100000
                minimum: 23
                maximum: 35
              series:
              - validTime: "2015-06-01T01:00:00Z"
                value: 14.500000
                contours: /hourly-solar-radiation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01T00:00:00Z&end=2015-06-01T01:00:00Z
                assetStatistics:
                  mean: 15
                  maximum: 16
                  minimum: 14
                products:
                - skywise-1hr-solar-radiation-analysis
              - validTime: "2015-06-01T02:00:00Z"
                value: 12
                contours: /hourly-solar-radiation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01T01:00:00Z&end=2015-06-01T02:00:00Z
                assetStatistics:
                  mean: 10
                  maximum: 13
                  minimum: 8
                products:
                - skywise-1hr-solar-radiation-analysis
              - validTime: "2015-06-01T03:00:00Z"
                value: 30
                contours: /hourly-solar-radiation/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01T02:00:00Z&end=2015-06-01T03:00:00Z
                assetStatistics:
                  mean: 29
                  maximum: 34
                  minimum: 25
                products:
                - skywise-1hr-solar-radiation-analysis
          schema:
            $ref: '#/definitions/HourlyProductByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /hourly-solar-radiation/{asset-uuid}/contours:
    get:
      summary: Hourly Solar Radiation contours by asset
      description: Provides a contoured representation (GeoJSON) of the total amount  of
        solar radiation within a user-defined timespan, clipped to an asset boundary.nThe
        default response contains results in Watts per square meter for the next 24
        hours.n
      operationId: hourly-solar-radiation-contours-by-asset
      tags:
      - Hourly Solar Radiation
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: start
        in: query
        description: Start time.nStart of 2015 to 5 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        required: false
        type: string
        format: date-time
      - name: end
        in: query
        type: string
        description: End time.nStart of 2015 to 5 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        format: date-time
        required: false
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              validTime: "2015-06-01T00:00:00Z"
              type: FeatureCollection
              features:
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  solarRadiation: 45
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  solarRadiation: 42
              unit:
                description: Watts per square meter
                label: W/mu00b2
          schema:
            $ref: '#/definitions/HourlySolarRadiationContoursByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /hourly-temperature/{latitude}/{longitude}:
    get:
      summary: Hourly Temperature by location
      description: Provides an hourly time series of temperatures within a user-defined  timespan
        at a specific location. The location is represented by a latitude/longitude
        pair.nThe default response contains results on a Celsius temperature scale
        for the next 24 hours.n
      operationId: hourly-temperature-by-location
      tags:
      - Hourly Temperature
      parameters:
      - name: latitude
        in: path
        required: true
        type: number
        format: double
      - name: longitude
        in: path
        required: true
        type: number
        format: double
      - name: start
        in: query
        description: Start time.nStart of 2015 to 7 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        required: false
        type: string
        format: date-time
      - name: end
        in: query
        type: string
        description: End time (inclusive).nStart of 2015 to 7 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        format: date-time
        required: false
      - name: unit
        in: query
        description: temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      responses:
        200:
          description: OK
          examples:
            application/json:
              latitude: 35.482000
              longitude: -97.535000
              startTime: "2016-06-01T00:00:00Z"
              endTime: "2016-06-01T03:00:00Z"
              unit:
                description: degree celsius
                label: u00b0C
              series:
              - validTime: "2016-06-01T00:00:00Z"
                value: 31.300000
                products:
                - skywise-superconus-1hr-temperature-analysis
              - validTime: "2016-06-01T01:00:00Z"
                value: 32.100000
                products:
                - skywise-superconus-1hr-temperature-analysis
              - validTime: "2016-06-01T02:00:00Z"
                value: 33.400000
                products:
                - skywise-superconus-1hr-temperature-analysis
              - validTime: "2016-06-01T03:00:00Z"
                value: 34.800000
                products:
                - skywise-superconus-1hr-temperature-analysis
          schema:
            $ref: '#/definitions/HourlyProductByLocationData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /hourly-temperature/{asset-uuid}:
    get:
      summary: Hourly Temperature by asset
      description: Provides an hourly time series for temperature within a user-defined  timespan
        at the centroid of an asset, along with the area-weighted  arithmetic mean
        and range of temperature over that asset.  Time series values are for the
        centroid of the asset.nThe default response contains results on a Celsius
        temperature scale for the next 24 hours.n
      operationId: hourly-temperature-by-asset
      tags:
      - Hourly Temperature
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: start
        in: query
        description: Start time.nJune 01, 2016 to 7 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        required: false
        type: string
        format: date-time
      - name: end
        in: query
        type: string
        description: End time (inclusive).nJune 01, 2016 to 7 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        format: date-time
        required: false
      - name: unit
        in: query
        description: temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startTime: "2016-06-01T00:00:00Z"
              endTime: "2016-06-01T03:00:00Z"
              unit:
                description: degree celsius
                label: u00b0C
              timeSeriesStatistics:
                mean: 33.100000
                minimum: 23
                maximum: 35
              series:
              - validTime: "2016-06-01T00:00:00Z"
                value: 31.300000
                contour: /hourly-temperature/fe68c33d-e718-4449-acae-351072ce7749/contours?validTime=2016-06-01T00:00:00Z
                assetStatistics:
                  mean: 31
                  maximum: 34
                  minimum: 26
                products:
                - skywise-superconus-1hr-temperature-analysis
              - validTime: "2016-06-01T01:00:00Z"
                value: 32.100000
                contour: /hourly-temperature/fe68c33d-e718-4449-acae-351072ce7749/contours?validTime=2016-06-01T01:00:00Z
                assetStatistics:
                  mean: 32
                  maximum: 35
                  minimum: 23
                products:
                - skywise-superconus-1hr-temperature-analysis
              - validTime: "2016-06-01T02:00:00Z"
                value: 33.400000
                contour: /hourly-temperature/fe68c33d-e718-4449-acae-351072ce7749/contours?validTime=2016-06-01T02:00:00Z
                assetStatistics:
                  mean: 33
                  maximum: 35
                  minimum: 26
                products:
                - skywise-superconus-1hr-temperature-analysis
              - validTime: "2016-06-01T03:00:00Z"
                value: 34.800000
                contour: /hourly-temperature/fe68c33d-e718-4449-acae-351072ce7749/contours?validTime=2016-06-01T03:00:00Z
                assetStatistics:
                  mean: 34
                  maximum: 35
                  minimum: 27
                products:
                - skywise-superconus-1hr-temperature-analysis
          schema:
            $ref: '#/definitions/HourlyProductByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /hourly-temperature/{asset-uuid}/contours:
    get:
      summary: Hourly Temperature contours by asset
      description: Provides a contoured representation (GeoJSON) of  hourly temperature
        at a particular valid time, clipped to an asset boundary.nThe default response
        contains results on a Celsius temperature scale for the  next 24 hours.n
      operationId: hourly-temperature-contours-by-asset
      tags:
      - Hourly Temperature
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: unit
        in: query
        description: temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      - name: validTime
        in: query
        description: Valid time.nJune 01, 2016 to 7 days in the future.n(YYYY-MM-DDTHH:MM:SSZ)n
        required: false
        type: string
        format: date-time
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              validTime: "2016-06-01T00:00:00Z"
              unit:
                description: degree celsius
                label: u00b0C
              type: FeatureCollection
              features:
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  temperature: 35
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  temperature: 30
          schema:
            $ref: '#/definitions/HourlyTemperatureContoursByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /daily-high-temperature/{latitude}/{longitude}:
    get:
      summary: Daily High Temperature by location
      description: Provides a daily time series of high temperatures within a user-defined  timespan
        at a specific location. The location is represented by a latitude/longitude
        pair.nThe default response contains results on a Celsius temperature scale
        for up to  the next 6 days.n
      operationId: daily-high-temperature-by-location
      tags:
      - Daily High Temperature
      parameters:
      - name: latitude
        in: path
        required: true
        type: number
        format: double
      - name: longitude
        in: path
        required: true
        type: number
        format: double
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date (inclusive).nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      - name: unit
        in: query
        description: temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      responses:
        200:
          description: OK
          examples:
            application/json:
              latitude: 35.482000
              longitude: -97.535000
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              unit:
                description: degree celsius
                label: u00b0C
              series:
              - validDate: "2015-06-01"
                value: 34.200000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
              - validDate: "2015-06-02"
                value: 35.100000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
              - validDate: "2015-06-03"
                value: 36.200000
                products:
                - skywise-superconus-24hr-high-temperature-analysis
          schema:
            $ref: '#/definitions/DailyProductByLocationData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /daily-high-temperature/{asset-uuid}:
    get:
      summary: Daily High Temperature by asset
      description: Provides a daily time series for temperature within a user-defined  timespan
        at the centroid of an asset, along with the area-weighted  arithmetic mean
        and range of temperature over that asset.  Time series values are for the
        centroid of the asset.nThe default response contains results on a Celsius
        temperature scale for up to the next 6 days.n
      operationId: daily-high-temperature-by-asset
      tags:
      - Daily High Temperature
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date (inclusive).nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      - name: unit
        in: query
        description: temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startTime: "2015-06-01"
              endTime: "2015-06-03"
              contours: /daily-high-temperature/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-03
              unit:
                description: degree celsius
                label: u00b0C
              timeSeriesStatistics:
                mean: 34.300000
                minimum: 31
                maximum: 37
              series:
              - validDate: "2015-06-01"
                value: 34.400000
                contours: /daily-high-temperature/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-01&end=2015-06-01
                assetStatistics:
                  mean: 34.300000
                  maximum: 35
                  minimum: 32
                products:
                - skywise-superconus-24hr-high-temperature-analysis
              - validDate: "2015-06-02"
                value: 33.200000
                contours: /daily-high-temperature/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-02&end=2015-06-02
                assetStatistics:
                  mean: 34.500000
                  maximum: 34.900000
                  minimum: 31
                products:
                - skywise-superconus-24hr-high-temperature-analysis
              - validDate: "2015-06-03"
                value: 33.500000
                contours: /daily-high-temperature/fe68c33d-e718-4449-acae-351072ce7749/contours?start=2015-06-03&end=2015-06-03
                assetStatistics:
                  mean: 34.300000
                  maximum: 37
                  minimum: 32
                products:
                - skywise-superconus-24hr-high-temperature-analysis
          schema:
            $ref: '#/definitions/DailyProductByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /daily-high-temperature/{asset-uuid}/contours:
    get:
      summary: Daily High Temperature contours by asset
      description: Provides a contoured representation (GeoJSON) of high temperatures  over
        a date range, clipped to an asset boundary.nThe default response contains
        results for up to the next 6 days on a Celsius temperature scale.n
      operationId: daily-high-temperature-contours-by-asset
      tags:
      - Daily High Temperature
      parameters:
      - name: asset-uuid
        in: path
        required: true
        type: number
        format: double
        description: Unique asset id.
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date (inclusive).nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      - name: unit
        in: query
        description: temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      responses:
        200:
          description: OK
          examples:
            application/json:
              asset: /assets/fe68c33d-e718-4449-acae-351072ce7749
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              unit:
                description: degree celsius
                label: u00b0C
              type: FeatureCollection
              features:
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  highTemperature: 37
              - type: Feature
                geometry:
                  type: Polygon
                  coordinates:
                  - - - -97.465994
                      - 35.256553
                    - - -97.465862
                      - 35.191767
                    - - -97.490273
                      - 35.176165
                    - - -97.490273
                      - 35.256553
                    - - -97.465994
                      - 35.256553
                properties:
                  highTemperature: 34
          schema:
            $ref: '#/definitions/DailyHighTemperatureContoursByAssetData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /daily-low-temperature/{latitude}/{longitude}:
    get:
      summary: Daily Low Temperature by location
      description: Provides a daily time series of low temperatures within a user-defined  timespan
        at a specific location. The location is represented by a latitude/longitude
        pair.nThe default response contains results on a Celsius temperature scale
        for the next 6 days.n
      operationId: daily-low-temperature-by-location
      tags:
      - Daily Low Temperature
      parameters:
      - name: latitude
        in: path
        required: true
        type: number
        format: double
      - name: longitude
        in: path
        required: true
        type: number
        format: double
      - name: start
        in: query
        description: Start date.nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        required: false
        type: string
        format: date
      - name: end
        in: query
        type: string
        description: End date (inclusive).nStart of 2015 to 7 days in the future.n(YYYY-MM-DD)n
        format: date
        required: false
      - name: unit
        in: query
        description: temperature unit
        required: false
        type: string
        enum:
        - celsius
        - fahrenheit
      responses:
        200:
          description: OK
          examples:
            application/json:
              latitude: 35.482000
              longitude: -97.535000
              startDate: "2015-06-01"
              endDate: "2015-06-03"
              unit:
                description: degree celsius
                label: u00b0C
              series:
              - validDate: "2015-06-01"
                value: 26.200000
                products:
                - skywise-superconus-24hr-low-temperature-analysis
              - validDate: "2015-06-02"
                value: 27.100000
                products:
                - skywise-superconus-24hr-low-temperature-analysis
              - validDate: "2015-06-03"
                value: 27
                products:
                - skywise-superconus-24hr-low-temperature-analysis
          schema:
            $ref: '#/definitions/DailyProductByLocationData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
  /daily-low-temperature/{asset-uuid}:
    get:
      summary: Daily Low Temperature by asset
      description: Provides a daily time series for temperature within a user-defined  timespan
        at the centroid of an asset, along with the area-weighted  arithmetic mean
        and range of temperature over that asset.  Time series values are for the
        centroid of the asset.nThe default response contains results on a Celsius
        temperature scale for up to the next 6 days.n
      operationId: daily-low-temperature-by-asset
      tags:
      - Daily Low Temperature
[...]
