---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:422:\"<fullname>AWS
  Firewall Manager</fullname> <p>This is the <i>AWS Firewall Manager API Reference</i>.
  This guide is for developers who need detailed information about the AWS Firewall
  Manager API actions, data types, and errors. For detailed information about AWS
  Firewall Manager features, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/fms-chapter.html\">AWS
  Firewall Manager Developer Guide</a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:27:\"Firewall
  Management Service\";s:7:\"version\";s:10:\"2018-01-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/fms-2018-01-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:3:\"fms\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"amazonaws_fms\";s:4:\"type\";s:7:\"openapi\";}}"
host: fms.amazonaws.com
basePath: /
paths:
  /:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Sets the AWS Firewall Manager administrator account. AWS Firewall
        Manager must be associated with a master account in AWS Organizations or associated
        with a member account that has the appropriate permissions. If the account
        ID that you submit is not an AWS Organizations master account, AWS Firewall
        Manager will set the appropriate permissions for the given member account.</p>
        <p>The account that you associate with AWS Firewall Manager is called the
        AWS Firewall manager administrator account. </p>
      operationId: AssociateAdminAccount
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AssociateAdminAccountRequest'
      responses:
        200:
          description: Success
        480:
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        481:
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        482:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        483:
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
  /#DeleteNotificationChannel:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes an AWS Firewall Manager association with the IAM role and
        the Amazon Simple Notification Service (SNS) topic that is used to record
        AWS Firewall Manager SNS logs.
      operationId: DeleteNotificationChannel
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteNotificationChannelRequest'
      responses:
        200:
          description: Success
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        482:
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
  /#DeletePolicy:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Permanently deletes an AWS Firewall Manager policy. '
      operationId: DeletePolicy
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeletePolicyRequest'
      responses:
        200:
          description: Success
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        482:
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
  /#DisassociateAdminAccount:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Disassociates the account that has been set as the AWS Firewall
        Manager administrator account. You will need to submit an <code>AssociateAdminAccount</code>
        request to set a new account as the AWS Firewall administrator.
      operationId: DisassociateAdminAccount
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DisassociateAdminAccountRequest'
      responses:
        200:
          description: Success
        480:
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        481:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        482:
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
  /#GetAdminAccount:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the AWS Organizations master account that is associated
        with AWS Firewall Manager as the AWS Firewall Manager administrator.
      operationId: GetAdminAccount
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetAdminAccountRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetAdminAccountResponse'
        480:
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        481:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        482:
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
  /#GetComplianceDetail:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns detailed compliance information about the specified member
        account. Details include resources that are in and out of compliance with
        the specified policy. Resources are considered non-compliant if the specified
        policy has not been applied to them.
      operationId: GetComplianceDetail
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetComplianceDetailRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetComplianceDetailResponse'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
  /#GetNotificationChannel:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about the Amazon Simple Notification Service
        (SNS) topic that is used to record AWS Firewall Manager SNS logs.
      operationId: GetNotificationChannel
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetNotificationChannelRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetNotificationChannelResponse'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        482:
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
  /#GetPolicy:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about the specified AWS Firewall Manager policy.
      operationId: GetPolicy
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetPolicyRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetPolicyResponse'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        482:
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
  /#ListComplianceStatus:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns an array of <code>PolicyComplianceStatus</code> objects
        in the response. Use <code>PolicyComplianceStatus</code> to get a summary
        of which member accounts are protected by the specified policy. '
      operationId: ListComplianceStatus
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListComplianceStatusRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListComplianceStatusResponse'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
  /#ListPolicies:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns an array of <code>PolicySummary</code> objects in the response.
      operationId: ListPolicies
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListPoliciesRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListPoliciesResponse'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        482:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        483:
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
  /#PutNotificationChannel:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Designates the IAM role and Amazon Simple Notification Service
        (SNS) topic that AWS Firewall Manager uses to record SNS logs.
      operationId: PutNotificationChannel
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutNotificationChannelRequest'
      responses:
        200:
          description: Success
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        482:
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
  /#PutPolicy:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates an AWS Firewall Manager policy.
      operationId: PutPolicy
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutPolicyRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PutPolicyResponse'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        482:
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        483:
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":56:{s:12:\"AWSAccountId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:28:\"AssociateAdminAccountRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"AdminAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AWSAccountId\";s:11:\"description\";s:394:\"The
  AWS account ID to associate with AWS Firewall Manager as the AWS Firewall Manager
  administrator account. This can be an AWS Organizations master account or a member
  account. For more information about AWS Organizations and master accounts, see <a
  href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts.html\">Managing
  the AWS Accounts in Your Organization</a>.\";}}s:8:\"required\";a:1:{i:0;s:12:\"AdminAccount\";}s:4:\"type\";s:6:\"object\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"ComplianceViolator\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Details
  of the resource that is not protected by the policy.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:16:\"The
  resource ID.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";s:11:\"description\";s:311:\"The
  resource type. This is in the format shown in <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">AWS
  Resource Types Reference</a>. Valid values are <code>AWS::ElasticLoadBalancingV2::LoadBalancer</code>
  or <code>AWS::CloudFront::Distribution</code>.\";}s:15:\"ViolationReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ViolationReason\";s:11:\"description\";s:60:\"The
  reason that the resource is not protected by the policy.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ComplianceViolators\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ComplianceViolator\";}s:4:\"type\";s:5:\"array\";}s:32:\"DeleteNotificationChannelRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeletePolicyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"PolicyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PolicyId\";s:11:\"description\";s:139:\"The
  ID of the policy that you want to delete. <code>PolicyId</code> is returned by <code>PutPolicy</code>
  and by <code>ListPolicies</code>.\";}}s:8:\"required\";a:1:{i:0;s:8:\"PolicyId\";}s:4:\"type\";s:6:\"object\";}s:31:\"DisassociateAdminAccountRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"EvaluationResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Describes
  the compliance status for the account. An account is considered non-compliant if
  it includes resources that are not protected by the specified policy.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"ComplianceStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/PolicyComplianceStatusType\";s:11:\"description\";s:75:\"Describes
  an AWS account's compliance with the AWS Firewall Manager policy.\";}s:23:\"EvaluationLimitExceeded\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:89:\"Indicates
  that over 100 resources are non-compliant with the AWS Firewall Manager policy.\";}s:13:\"ViolatorCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceCount\";s:11:\"description\";s:159:\"Number
  of resources that are non-compliant with the specified policy. A resource is considered
  non-compliant if it is not associated with the specified policy.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"EvaluationResults\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EvaluationResult\";}s:4:\"type\";s:5:\"array\";}s:22:\"GetAdminAccountRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"GetAdminAccountResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"AdminAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AWSAccountId\";s:11:\"description\";s:70:\"The
  AWS account that is set as the AWS Firewall Manager administrator.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"GetComplianceDetailRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"MemberAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AWSAccountId\";s:11:\"description\";s:77:\"The
  AWS account that owns the resources that you want to get the details for.\";}s:8:\"PolicyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PolicyId\";s:11:\"description\";s:152:\"The
  ID of the policy that you want to get the details for. <code>PolicyId</code> is
  returned by <code>PutPolicy</code> and by <code>ListPolicies</code>.\";}}s:8:\"required\";a:2:{i:0;s:8:\"PolicyId\";i:1;s:13:\"MemberAccount\";}s:4:\"type\";s:6:\"object\";}s:27:\"GetComplianceDetailResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"PolicyComplianceDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/PolicyComplianceDetail\";s:11:\"description\";s:114:\"Information
  about the resources and the policy that you specified in the <code>GetComplianceDetail</code>
  request.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"GetNotificationChannelRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"GetNotificationChannelResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"SnsRoleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceArn\";s:11:\"description\";s:76:\"The
  IAM role that is used by AWS Firewall Manager to record activity to SNS.\";}s:11:\"SnsTopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceArn\";s:11:\"description\";s:58:\"The
  SNS topic that records AWS Firewall Manager activity. \";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetPolicyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"PolicyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PolicyId\";s:11:\"description\";s:72:\"The
  ID of the AWS Firewall Manager policy that you want the details for.\";}}s:8:\"required\";a:1:{i:0;s:8:\"PolicyId\";}s:4:\"type\";s:6:\"object\";}s:17:\"GetPolicyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";s:11:\"description\";s:60:\"Information
  about the specified AWS Firewall Manager policy.\";}s:9:\"PolicyArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceArn\";s:11:\"description\";s:55:\"The
  Amazon Resource Name (ARN) of the specified policy.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InternalErrorException\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  operation failed because of a system problem, even though the request was valid.
  Retry your request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InvalidInputException\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  parameters of the request were invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidOperationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:235:\"The
  operation failed because there was nothing to do. For example, you might have submitted
  an <code>AssociateAdminAccount</code> request, but the account ID that you submitted
  was already set as the AWS Firewall Manager administrator.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:314:\"The
  operation exceeds a resource limit, for example, the maximum number of <code>policy</code>
  objects that you can create for an AWS account. For more information, see <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/fms-limits.html\">Firewall
  Manager Limits</a> in the <i>AWS WAF Developer Guide</i>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ListComplianceStatusRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PaginationMaxResults\";s:11:\"description\";s:392:\"Specifies
  the number of <code>PolicyComplianceStatus</code> objects that you want AWS Firewall
  Manager to return for this request. If you have more <code>PolicyComplianceStatus</code>
  objects than the number that you specify for <code>MaxResults</code>, the response
  includes a <code>NextToken</code> value that you can use to get another batch of
  <code>PolicyComplianceStatus</code> objects.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:568:\"If
  you specify a value for <code>MaxResults</code> and you have more <code>PolicyComplianceStatus</code>
  objects than the number that you specify for <code>MaxResults</code>, AWS Firewall
  Manager returns a <code>NextToken</code> value in the response that allows you to
  list another group of <code>PolicyComplianceStatus</code> objects. For the second
  and subsequent <code>ListComplianceStatus</code> requests, specify the value of
  <code>NextToken</code> from the previous response to get information about another
  batch of <code>PolicyComplianceStatus</code> objects.\";}s:8:\"PolicyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PolicyId\";s:11:\"description\";s:72:\"The
  ID of the AWS Firewall Manager policy that you want the details for.\";}}s:8:\"required\";a:1:{i:0;s:8:\"PolicyId\";}s:4:\"type\";s:6:\"object\";}s:28:\"ListComplianceStatusResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:429:\"If
  you have more <code>PolicyComplianceStatus</code> objects than the number that you
  specified for <code>MaxResults</code> in the request, the response includes a <code>NextToken</code>
  value. To list more <code>PolicyComplianceStatus</code> objects, submit another
  <code>ListComplianceStatus</code> request, and specify the <code>NextToken</code>
  value from the response in the <code>NextToken</code> value in the next request.\";}s:26:\"PolicyComplianceStatusList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/PolicyComplianceStatusList\";s:11:\"description\";s:56:\"An
  array of <code>PolicyComplianceStatus</code> objects.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListPoliciesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PaginationMaxResults\";s:11:\"description\";s:365:\"Specifies
  the number of <code>PolicySummary</code> objects that you want AWS Firewall Manager
  to return for this request. If you have more <code>PolicySummary</code> objects
  than the number that you specify for <code>MaxResults</code>, the response includes
  a <code>NextToken</code> value that you can use to get another batch of <code>PolicySummary</code>
  objects.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:533:\"If
  you specify a value for <code>MaxResults</code> and you have more <code>PolicySummary</code>
  objects than the number that you specify for <code>MaxResults</code>, AWS Firewall
  Manager returns a <code>NextToken</code> value in the response that allows you to
  list another group of <code>PolicySummary</code> objects. For the second and subsequent
  <code>ListPolicies</code> requests, specify the value of <code>NextToken</code>
  from the previous response to get information about another batch of <code>PolicySummary</code>
  objects.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListPoliciesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:403:\"If
  you have more <code>PolicySummary</code> objects than the number that you specified
  for <code>MaxResults</code> in the request, the response includes a <code>NextToken</code>
  value. To list more <code>PolicySummary</code> objects, submit another <code>ListPolicies</code>
  request, and specify the <code>NextToken</code> value from the response in the <code>NextToken</code>
  value in the next request.\";}s:10:\"PolicyList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PolicySummaryList\";s:11:\"description\";s:47:\"An
  array of <code>PolicySummary</code> objects.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ManagedServiceData\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:20:\"PaginationMaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:15:\"PaginationToken\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:6:\"Policy\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"An
  AWS Firewall Manager policy.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"ExcludeResourceTags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:295:\"If
  set to <code>True</code>, resources with the tags that are specified in the <code>ResourceTag</code>
  array are not protected by the policy. If set to <code>False</code>, and the <code>ResourceTag</code>
  array is not null, only resources with the specified tags are associated with the
  policy.\";}s:8:\"PolicyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PolicyId\";s:11:\"description\";s:42:\"The
  ID of the AWS Firewall Manager policy.\";}s:10:\"PolicyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:53:\"The
  friendly name of the AWS Firewall Manager policy.\";}s:17:\"PolicyUpdateToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PolicyUpdateToken\";s:11:\"description\";s:335:\"A
  unique identifier for each update to the policy. When issuing a <code>PutPolicy</code>
  request, the <code>PolicyUpdateToken</code> in the request must match the <code>PolicyUpdateToken</code>
  of the current policy version. To get the <code>PolicyUpdateToken</code> of the
  current policy version, use a <code>GetPolicy</code> request.\";}s:18:\"RemediationEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:73:\"Indicates
  if the policy should be automatically applied to new resources.\";}s:12:\"ResourceTags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceTags\";s:11:\"description\";s:45:\"An
  array of <code>ResourceTag</code> objects.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";s:11:\"description\";s:407:\"The
  type of resource to protect with the policy, either an Application Load Balancer
  or a CloudFront distribution. This is in the format shown in <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">AWS
  Resource Types Reference</a>. Valid values are <code>AWS::ElasticLoadBalancingV2::LoadBalancer</code>
  or <code>AWS::CloudFront::Distribution</code>.\";}s:25:\"SecurityServicePolicyData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/SecurityServicePolicyData\";s:11:\"description\";s:79:\"Details
  about the security service that is being used to protect the resources.\";}}s:8:\"required\";a:5:{i:0;s:10:\"PolicyName\";i:1;s:25:\"SecurityServicePolicyData\";i:2;s:12:\"ResourceType\";i:3;s:19:\"ExcludeResourceTags\";i:4;s:18:\"RemediationEnabled\";}s:4:\"type\";s:6:\"object\";}s:22:\"PolicyComplianceDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:253:\"Describes
  the non-compliant resources in a member account for a specific AWS Firewall Manager
  policy. A maximum of 100 entries are displayed. If more than 100 resources are non-compliant,
  <code>EvaluationLimitExceeded</code> is set to <code>True</code>.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"EvaluationLimitExceeded\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:87:\"Indicates
  if over 100 resources are non-compliant with the AWS Firewall Manager policy.\";}s:9:\"ExpiredAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TimeStamp\";s:11:\"description\";s:91:\"A
  time stamp that indicates when the returned information should be considered out-of-date.\";}s:13:\"MemberAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AWSAccountId\";s:11:\"description\";s:19:\"The
  AWS account ID.\";}s:8:\"PolicyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PolicyId\";s:11:\"description\";s:42:\"The
  ID of the AWS Firewall Manager policy.\";}s:11:\"PolicyOwner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AWSAccountId\";s:11:\"description\";s:61:\"The
  AWS account that created the AWS Firewall Manager policy.\";}s:9:\"Violators\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ComplianceViolators\";s:11:\"description\";s:59:\"An
  array of resources that are not protected by the policy.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"PolicyComplianceStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"Indicates
  whether the account is compliant with the specified policy. An account is considered
  non-compliant if it includes resources that are not protected by the policy.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"EvaluationResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EvaluationResults\";s:11:\"description\";s:50:\"An
  array of <code>EvaluationResult</code> objects.\";}s:11:\"LastUpdated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TimeStamp\";s:11:\"description\";s:75:\"Time
  stamp of the last update to the <code>EvaluationResult</code> objects.\";}s:13:\"MemberAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AWSAccountId\";s:11:\"description\";s:22:\"The
  member account ID.\";}s:8:\"PolicyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PolicyId\";s:11:\"description\";s:42:\"The
  ID of the AWS Firewall Manager policy.\";}s:10:\"PolicyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:53:\"The
  friendly name of the AWS Firewall Manager policy.\";}s:11:\"PolicyOwner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AWSAccountId\";s:11:\"description\";s:61:\"The
  AWS account that created the AWS Firewall Manager policy.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"PolicyComplianceStatusList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/PolicyComplianceStatus\";}s:4:\"type\";s:5:\"array\";}s:26:\"PolicyComplianceStatusType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"COMPLIANT\";i:1;s:13:\"NON_COMPLIANT\";}s:4:\"type\";s:6:\"string\";}s:8:\"PolicyId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:36;s:9:\"minLength\";i:36;s:4:\"type\";s:6:\"string\";}s:13:\"PolicySummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Details
  of the AWS Firewall Manager policy. \";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"PolicyArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceArn\";s:11:\"description\";s:55:\"The
  Amazon Resource Name (ARN) of the specified policy.\";}s:8:\"PolicyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PolicyId\";s:11:\"description\";s:31:\"The
  ID of the specified policy.\";}s:10:\"PolicyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:42:\"The
  friendly name of the specified policy.\";}s:18:\"RemediationEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:73:\"Indicates
  if the policy should be automatically applied to new resources.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";s:11:\"description\";s:407:\"The
  type of resource to protect with the policy, either an Application Load Balancer
  or a CloudFront distribution. This is in the format shown in <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">AWS
  Resource Types Reference</a>. Valid values are <code>AWS::ElasticLoadBalancingV2::LoadBalancer</code>
  or <code>AWS::CloudFront::Distribution</code>.\";}s:19:\"SecurityServiceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SecurityServiceType\";s:11:\"description\";s:94:\"The
  service that the policy is using to protect the resources. This value is <code>WAF</code>.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PolicySummaryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PolicySummary\";}s:4:\"type\";s:5:\"array\";}s:17:\"PolicyUpdateToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:29:\"PutNotificationChannelRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"SnsRoleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceArn\";s:11:\"description\";s:111:\"The
  Amazon Resource Name (ARN) of the IAM role that allows Amazon SNS to record AWS
  Firewall Manager activity. \";}s:11:\"SnsTopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceArn\";s:11:\"description\";s:102:\"The
  Amazon Resource Name (ARN) of the SNS topic that collects notifications from AWS
  Firewall Manager.\";}}s:8:\"required\";a:2:{i:0;s:11:\"SnsTopicArn\";i:1;s:11:\"SnsRoleName\";}s:4:\"type\";s:6:\"object\";}s:16:\"PutPolicyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";s:11:\"description\";s:61:\"The
  details of the AWS Firewall Manager policy to be created.\";}}s:8:\"required\";a:1:{i:0;s:6:\"Policy\";}s:4:\"type\";s:6:\"object\";}s:17:\"PutPolicyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";s:11:\"description\";s:64:\"The
  details of the AWS Firewall Manager policy that was created.\";}s:9:\"PolicyArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceArn\";s:11:\"description\";s:62:\"The
  Amazon Resource Name (ARN) of the policy that was created.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ResourceArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"ResourceCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:10:\"ResourceId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:12:\"ResourceName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  specified resource was not found.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ResourceTag\";O:8:\"stdClass\":4:{s:11:\"description\";s:636:\"The
  resource tags that AWS Firewall Manager uses to determine if a particular resource
  should be included or excluded from protection by the AWS Firewall Manager policy.
  Tags enable you to categorize your AWS resources in different ways, for example,
  by purpose, owner, or environment. Each tag consists of a key and an optional value,
  both of which you define. Tags are combined with an \"OR.\" That is, if you add
  more than one tag, if any of the tags matches, the resource is considered a match
  for the include or exclude. <a href=\"https://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/tag-editor.html\">Working
  with Tag Editor</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";s:11:\"description\";s:21:\"The
  resource tag key.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:23:\"The
  resource tag value.\";}}s:8:\"required\";a:1:{i:0;s:3:\"Key\";}s:4:\"type\";s:6:\"object\";}s:12:\"ResourceTags\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceTag\";}s:8:\"maxItems\";i:8;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:12:\"ResourceType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:25:\"SecurityServicePolicyData\";O:8:\"stdClass\":4:{s:11:\"description\";s:79:\"Details
  about the security service that is being used to protect the resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"ManagedServiceData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ManagedServiceData\";s:11:\"description\";s:340:\"<p>Details
  about the service. This contains <code>WAF</code> data in JSON format, as shown
  in the following example:</p> <p> <code>ManagedServiceData\": \"{\\\"type\\\": \\\"WAF\\\",
  \\\"ruleGroups\\\": [{\\\"id\\\": \\\"12345678-1bcd-9012-efga-0987654321ab\\\",
  \\\"overrideAction\\\" : {\\\"type\\\": \\\"COUNT\\\"}}], \\\"defaultAction\\\":
  {\\\"type\\\": \\\"BLOCK\\\"}}</code> </p>\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SecurityServiceType\";s:11:\"description\";s:94:\"The
  service that the policy is using to protect the resources. This value is <code>WAF</code>.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Type\";}s:4:\"type\";s:6:\"object\";}s:19:\"SecurityServiceType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:3:\"WAF\";}s:4:\"type\";s:6:\"string\";}s:6:\"TagKey\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:31:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$\";s:4:\"type\";s:6:\"string\";}s:8:\"TagValue\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:7:\"pattern\";s:31:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$\";s:4:\"type\";s:6:\"string\";}s:9:\"TimeStamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"ViolationReason\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:26:\"WEB_ACL_MISSING_RULE_GROUP\";i:1;s:24:\"RESOURCE_MISSING_WEB_ACL\";i:2;s:26:\"RESOURCE_INCORRECT_WEB_ACL\";}s:4:\"type\";s:6:\"string\";}}"
...
