---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:47:\"FIWARE
  Application Mashup RESTful Specification\";s:11:\"description\";s:23:\"TODO: Add
  a description\";}"
host: mashup.lab.fiware.org
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":30:{s:32:\"ListAllSupportedFeaturesResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:36:\"List
  all supported features response\";s:7:\"example\";O:8:\"stdClass\":7:{s:6:\"FIWARE\";s:5:\"5.2.1\";s:9:\"Wirecloud\";s:5:\"0.9.0\";s:13:\"ObjectStorage\";s:3:\"0.5\";s:17:\"ApplicationMashup\";s:3:\"1.0\";s:4:\"NGSI\";s:3:\"1.0\";s:16:\"FullscreenWidget\";s:3:\"0.5\";s:14:\"StyledElements\";s:3:\"0.5\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"FIWARE\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:5:\"5.2.1\";s:4:\"type\";s:6:\"string\";}s:9:\"Wirecloud\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:5:\"0.9.0\";s:4:\"type\";s:6:\"string\";}s:13:\"ObjectStorage\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:3:\"0.5\";s:4:\"type\";s:6:\"string\";}s:17:\"ApplicationMashup\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:3:\"1.0\";s:4:\"type\";s:6:\"string\";}s:4:\"NGSI\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:3:\"1.0\";s:4:\"type\";s:6:\"string\";}s:16:\"FullscreenWidget\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:3:\"0.5\";s:4:\"type\";s:6:\"string\";}s:14:\"StyledElements\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:3:\"0.5\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:6:\"FIWARE\";i:1;s:9:\"Wirecloud\";i:2;s:13:\"ObjectStorage\";i:3;s:17:\"ApplicationMashup\";i:4;s:4:\"NGSI\";i:5;s:16:\"FullscreenWidget\";i:6;s:14:\"StyledElements\";}}s:35:\"RetrievePlatformPreferencesResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:38:\"Retrieve
  platform preferences response\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"language\";O:8:\"stdClass\":2:{s:5:\"value\";s:5:\"en-gb\";s:7:\"inherit\";b:0;}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"language\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"value\";s:5:\"en-gb\";s:7:\"inherit\";b:0;}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:8:\"language\";}}s:32:\"UpdatePlatformPreferencesRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:35:\"Update
  platform preferences request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"language\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"value\";s:7:\"browser\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:8:\"language\";}}s:22:\"ListWorkspacesResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:24:\"List
  workspaces response\";s:7:\"example\";O:8:\"stdClass\":9:{s:11:\"description\";s:18:\"A
  public dashboard\";s:2:\"id\";s:2:\"20\";s:12:\"lastmodified\";i:1461673370860;s:15:\"longdescription\";s:51:\"A
  dashboard description using **Markdown** _Syntax_\";s:4:\"name\";s:16:\"public-workspace\";s:5:\"owner\";s:9:\"otheruser\";s:9:\"removable\";b:0;s:6:\"shared\";b:1;s:5:\"title\";s:16:\"Public
  Workspace\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:18:\"A
  public dashboard\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:2:\"20\";s:4:\"type\";s:6:\"string\";}s:12:\"lastmodified\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:1461673370860;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:15:\"longdescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:51:\"A
  dashboard description using **Markdown** _Syntax_\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:16:\"public-workspace\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:9:\"otheruser\";s:4:\"type\";s:6:\"string\";}s:9:\"removable\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:6:\"shared\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:16:\"Public
  Workspace\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:9:{i:0;s:11:\"description\";i:1;s:2:\"id\";i:2;s:12:\"lastmodified\";i:3;s:15:\"longdescription\";i:4;s:4:\"name\";i:5;s:5:\"owner\";i:6;s:9:\"removable\";i:7;s:6:\"shared\";i:8;s:5:\"title\";}}s:26:\"CreateNewWorkspacesRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:29:\"Create
  new workspaces request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:4:\"test\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:27:\"CreateNewWorkspacesResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:30:\"Create
  new workspaces response\";s:7:\"example\";O:8:\"stdClass\":15:{s:11:\"description\";s:0:\"\";s:12:\"empty_params\";a:0:{}s:11:\"extra_prefs\";O:8:\"stdClass\":0:{}s:2:\"id\";s:2:\"81\";s:12:\"lastmodified\";i:1464187437041;s:15:\"longdescription\";s:0:\"\";s:4:\"name\";s:4:\"test\";s:5:\"owner\";s:5:\"admin\";s:11:\"preferences\";O:8:\"stdClass\":1:{s:6:\"public\";O:8:\"stdClass\":2:{s:5:\"value\";s:4:\"true\";s:7:\"inherit\";b:0;}}s:9:\"removable\";b:1;s:6:\"shared\";b:0;s:4:\"tabs\";a:1:{i:0;O:8:\"stdClass\":6:{s:7:\"visible\";b:1;s:8:\"iwidgets\";a:0:{}s:2:\"id\";s:2:\"84\";s:4:\"name\";s:3:\"tab\";s:11:\"preferences\";O:8:\"stdClass\":0:{}s:5:\"title\";s:3:\"Tab\";}}s:5:\"title\";s:4:\"test\";s:5:\"users\";a:0:{}s:6:\"wiring\";O:8:\"stdClass\":2:{s:9:\"operators\";O:8:\"stdClass\":0:{}s:11:\"connections\";a:0:{}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"empty_params\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";a:0:{}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"extra_prefs\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:2:\"81\";s:4:\"type\";s:6:\"string\";}s:12:\"lastmodified\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:1464187437041;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:15:\"longdescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:4:\"test\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:5:\"admin\";s:4:\"type\";s:6:\"string\";}s:11:\"preferences\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"public\";O:8:\"stdClass\":2:{s:5:\"value\";s:4:\"true\";s:7:\"inherit\";b:0;}}s:4:\"type\";s:6:\"object\";}s:9:\"removable\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:6:\"shared\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:4:\"tabs\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":6:{s:7:\"visible\";b:1;s:8:\"iwidgets\";a:0:{}s:2:\"id\";s:2:\"84\";s:4:\"name\";s:3:\"tab\";s:11:\"preferences\";O:8:\"stdClass\":0:{}s:5:\"title\";s:3:\"Tab\";}}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:4:\"test\";s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";a:0:{}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"wiring\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"operators\";O:8:\"stdClass\":0:{}s:11:\"connections\";a:0:{}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:15:{i:0;s:11:\"description\";i:1;s:12:\"empty_params\";i:2;s:11:\"extra_prefs\";i:3;s:2:\"id\";i:4;s:12:\"lastmodified\";i:5;s:15:\"longdescription\";i:6;s:4:\"name\";i:7;s:5:\"owner\";i:8;s:11:\"preferences\";i:9;s:9:\"removable\";i:10;s:6:\"shared\";i:11;s:4:\"tabs\";i:12;s:5:\"title\";i:13;s:5:\"users\";i:14;s:6:\"wiring\";}}s:27:\"CreateNewWorkspacesRequest6\";O:8:\"stdClass\":4:{s:5:\"title\";s:30:\"Create
  new workspaces request6\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"mashup\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:14:\"UPM/Mashup/1.0\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"mashup\";}}s:30:\"CreateNewWorkspaces422Response\";O:8:\"stdClass\":5:{s:5:\"title\";s:34:\"Create
  new workspaces 422 response\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"description\";s:43:\"Mashup
  not found: UPM/inexistent-mashup/1.0\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:43:\"Mashup
  not found: UPM/inexistent-mashup/1.0\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"description\";}}s:28:\"CreateNewWorkspacesRequest10\";O:8:\"stdClass\":4:{s:5:\"title\";s:31:\"Create
  new workspaces request10\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"workspace\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:2:\"81\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:9:\"workspace\";}}s:29:\"UpdateWorkspaceDetailsRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:32:\"Update
  workspace details request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:8:\"New
  Name\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:8:\"new-name\";s:4:\"type\";s:6:\"string\";}s:15:\"longdescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:51:\"A
  dashboard description using **Markdown** _Syntax_\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"title\";i:1;s:4:\"name\";i:2;s:15:\"longdescription\";}}s:33:\"UpdateWorkspaceDetails403Response\";O:8:\"stdClass\":5:{s:5:\"title\";s:37:\"Update
  workspace details 403 response\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"description\";s:44:\"You
  are not allowed to update this workspace\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:44:\"You
  are not allowed to update this workspace\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"description\";}}s:33:\"UpdateWorkspacePreferencesRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:36:\"Update
  workspace preferences request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"public\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"value\";s:4:\"true\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:6:\"public\";}}s:40:\"PatchWorkspaceWiringConfigurationRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:44:\"Patch
  workspace wiring configuration request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"op\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:7:\"replace\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:45:\"/operators/1/preferences/preferenceName/value\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:18:\"newPreferenceValue\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"op\";i:1;s:4:\"path\";i:2;s:5:\"value\";}}s:42:\"PatchWorkspaceWiringConfigurationRequest16\";O:8:\"stdClass\":4:{s:5:\"title\";s:46:\"Patch
  workspace wiring configuration request16\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"op\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:6:\"remove\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:12:\"/operators/1\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"op\";i:1;s:4:\"path\";}}s:41:\"UpdateWorkspaceWiringConfigurationRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:45:\"Update
  workspace wiring configuration request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"operators\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":1:{s:1:\"0\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"UPM/Operator/0.1\";s:2:\"id\";s:1:\"0\";}}s:4:\"type\";s:6:\"object\";}s:11:\"connections\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":2:{s:6:\"source\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"iwidget\";s:2:\"id\";i:311;s:8:\"endpoint\";s:19:\"location_info_event\";}s:6:\"target\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"iwidget\";s:2:\"id\";i:312;s:8:\"endpoint\";s:16:\"search_text_slot\";}}i:1;O:8:\"stdClass\":2:{s:6:\"source\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"iwidget\";s:2:\"id\";i:311;s:8:\"endpoint\";s:19:\"location_info_event\";}s:6:\"target\";O:8:\"stdClass\":3:{s:4:\"type\";s:9:\"ioperator\";s:2:\"id\";i:0;s:8:\"endpoint\";s:7:\"message\";}}}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"required\";a:2:{i:0;s:9:\"operators\";i:1;s:11:\"connections\";}}s:20:\"AddingNewTabsRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:23:\"Adding
  new tabs request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:5:\"Tab
  2\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"title\";}}s:21:\"AddingNewTabsResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:24:\"Adding
  new tabs response\";s:7:\"example\";O:8:\"stdClass\":6:{s:2:\"id\";s:1:\"3\";s:8:\"iwidgets\";a:0:{}s:4:\"name\";s:5:\"tab-2\";s:11:\"preferences\";O:8:\"stdClass\":0:{}s:5:\"title\";s:5:\"Tab
  2\";s:7:\"visible\";b:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:1:\"3\";s:4:\"type\";s:6:\"string\";}s:8:\"iwidgets\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";a:0:{}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:5:\"tab-2\";s:4:\"type\";s:6:\"string\";}s:11:\"preferences\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:5:\"Tab
  2\";s:4:\"type\";s:6:\"string\";}s:7:\"visible\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:8:\"iwidgets\";i:2;s:4:\"name\";i:3;s:11:\"preferences\";i:4;s:5:\"title\";i:5;s:7:\"visible\";}}s:21:\"GetTabDetailsResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:24:\"Get
  tab details response\";s:7:\"example\";O:8:\"stdClass\":6:{s:2:\"id\";s:2:\"84\";s:8:\"iwidgets\";a:2:{i:0;O:8:\"stdClass\":15:{s:6:\"widget\";s:15:\"UPM/Widget1/0.1\";s:6:\"layout\";i:0;s:5:\"title\";s:7:\"Widget1\";s:8:\"icon_top\";i:-1;s:9:\"variables\";O:8:\"stdClass\":0:{}s:9:\"minimized\";b:0;s:2:\"id\";s:3:\"313\";s:6:\"height\";i:28;s:6:\"zIndex\";i:0;s:5:\"width\";i:6;s:8:\"readOnly\";b:0;s:9:\"icon_left\";i:-1;s:3:\"top\";i:0;s:13:\"fulldragboard\";b:0;s:4:\"left\";i:0;}i:1;O:8:\"stdClass\":15:{s:6:\"widget\";s:15:\"UPM/Widget2/0.1\";s:6:\"layout\";i:0;s:5:\"title\";s:7:\"Widget2\";s:8:\"icon_top\";i:-1;s:9:\"variables\";O:8:\"stdClass\":0:{}s:9:\"minimized\";b:0;s:2:\"id\";s:3:\"314\";s:6:\"height\";i:28;s:6:\"zIndex\";i:0;s:5:\"width\";i:6;s:8:\"readOnly\";b:0;s:9:\"icon_left\";i:-1;s:3:\"top\";i:0;s:13:\"fulldragboard\";b:0;s:4:\"left\";i:7;}}s:4:\"name\";s:3:\"Tab\";s:11:\"preferences\";O:8:\"stdClass\":0:{}s:5:\"title\";s:3:\"tab\";s:7:\"visible\";b:1;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:2:\"84\";s:4:\"type\";s:6:\"string\";}s:8:\"iwidgets\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":15:{s:6:\"widget\";s:15:\"UPM/Widget1/0.1\";s:6:\"layout\";i:0;s:5:\"title\";s:7:\"Widget1\";s:8:\"icon_top\";i:-1;s:9:\"variables\";O:8:\"stdClass\":0:{}s:9:\"minimized\";b:0;s:2:\"id\";s:3:\"313\";s:6:\"height\";i:28;s:6:\"zIndex\";i:0;s:5:\"width\";i:6;s:8:\"readOnly\";b:0;s:9:\"icon_left\";i:-1;s:3:\"top\";i:0;s:13:\"fulldragboard\";b:0;s:4:\"left\";i:0;}i:1;O:8:\"stdClass\":15:{s:6:\"widget\";s:15:\"UPM/Widget2/0.1\";s:6:\"layout\";i:0;s:5:\"title\";s:7:\"Widget2\";s:8:\"icon_top\";i:-1;s:9:\"variables\";O:8:\"stdClass\":0:{}s:9:\"minimized\";b:0;s:2:\"id\";s:3:\"314\";s:6:\"height\";i:28;s:6:\"zIndex\";i:0;s:5:\"width\";i:6;s:8:\"readOnly\";b:0;s:9:\"icon_left\";i:-1;s:3:\"top\";i:0;s:13:\"fulldragboard\";b:0;s:4:\"left\";i:7;}}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:3:\"Tab\";s:4:\"type\";s:6:\"string\";}s:11:\"preferences\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:3:\"tab\";s:4:\"type\";s:6:\"string\";}s:7:\"visible\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:8:\"iwidgets\";i:2;s:4:\"name\";i:3;s:11:\"preferences\";i:4;s:5:\"title\";i:5;s:7:\"visible\";}}s:23:\"UpdateTabDetailsRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:26:\"Update
  tab details request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:8:\"new-name\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:8:\"New
  Name\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"title\";}}s:27:\"UpdateTabPreferencesRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:30:\"Update
  tab preferences request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"baselayout\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"inherit\";b:0;s:5:\"value\";s:116:\"{\"verticalmargin\":3,\"smart\":\"false\",\"horizontalmargin\":4,\"type\":\"gridlayout\",\"columns\":20,\"cellheight\":12,\"rows\":12}\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:10:\"baselayout\";}}s:20:\"AddNewWidgetsRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:23:\"Add
  new widgets request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"widget\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:14:\"UPM/Widget/1.0\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"widget\";}}s:21:\"AddNewWidgetsResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:24:\"Add
  new widgets response\";s:7:\"example\";O:8:\"stdClass\":10:{s:6:\"widget\";s:14:\"UPM/Widget/1.0\";s:4:\"left\";i:12;s:3:\"top\";i:0;s:9:\"icon_left\";i:-1;s:8:\"icon_top\";i:-1;s:6:\"zIndex\";i:2;s:5:\"width\";i:6;s:6:\"height\";i:28;s:5:\"title\";s:14:\"Widget's
  Title\";s:6:\"layout\";i:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"widget\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:14:\"UPM/Widget/1.0\";s:4:\"type\";s:6:\"string\";}s:4:\"left\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:12;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:3:\"top\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"icon_left\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:-1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"icon_top\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:-1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"zIndex\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:2;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"width\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:6;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"height\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:28;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:14:\"Widget's
  Title\";s:4:\"type\";s:6:\"string\";}s:6:\"layout\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:10:{i:0;s:6:\"widget\";i:1;s:4:\"left\";i:2;s:3:\"top\";i:3;s:9:\"icon_left\";i:4;s:8:\"icon_top\";i:5;s:6:\"zIndex\";i:6;s:5:\"width\";i:7;s:6:\"height\";i:8;s:5:\"title\";i:9;s:6:\"layout\";}}s:38:\"UpdateInstantiatedWidgetDetailsRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:42:\"Update
  instantiated widget details request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:9:\"new
  title\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"title\";}}s:40:\"GetInstantiatedWidgetPreferencesResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:44:\"Get
  instantiated widget preferences response\";s:7:\"example\";O:8:\"stdClass\":2:{s:21:\"first_preference_name\";O:8:\"stdClass\":5:{s:8:\"readonly\";b:0;s:6:\"hidden\";b:0;s:4:\"name\";s:7:\"boolean\";s:5:\"value\";b:0;s:6:\"secure\";b:0;}s:23:\"second_preference_nanme\";O:8:\"stdClass\":5:{s:8:\"readonly\";b:0;s:6:\"hidden\";b:0;s:4:\"name\";s:4:\"text\";s:5:\"value\";s:12:\"initial
  text\";s:6:\"secure\";b:0;}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"first_preference_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":5:{s:8:\"readonly\";b:0;s:6:\"hidden\";b:0;s:4:\"name\";s:7:\"boolean\";s:5:\"value\";b:0;s:6:\"secure\";b:0;}s:4:\"type\";s:6:\"object\";}s:23:\"second_preference_nanme\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":5:{s:8:\"readonly\";b:0;s:6:\"hidden\";b:0;s:4:\"name\";s:4:\"text\";s:5:\"value\";s:12:\"initial
  text\";s:6:\"secure\";b:0;}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:21:\"first_preference_name\";i:1;s:23:\"second_preference_nanme\";}}s:42:\"UpdateInstantiatedWidgetPreferencesRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:46:\"Update
  instantiated widget preferences request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"pref\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:5:\"value\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"pref\";}}s:39:\"GetInstantiatedWidgetPropertiesResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:43:\"Get
  instantiated widget properties response\";s:7:\"example\";O:8:\"stdClass\":2:{s:19:\"first_property_name\";O:8:\"stdClass\":5:{s:8:\"readonly\";b:0;s:6:\"hidden\";b:0;s:4:\"name\";s:7:\"boolean\";s:5:\"value\";b:0;s:6:\"secure\";b:0;}s:21:\"second_property_nanme\";O:8:\"stdClass\":5:{s:8:\"readonly\";b:0;s:6:\"hidden\";b:0;s:4:\"name\";s:4:\"text\";s:5:\"value\";s:12:\"initial
  text\";s:6:\"secure\";b:0;}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"first_property_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":5:{s:8:\"readonly\";b:0;s:6:\"hidden\";b:0;s:4:\"name\";s:7:\"boolean\";s:5:\"value\";b:0;s:6:\"secure\";b:0;}s:4:\"type\";s:6:\"object\";}s:21:\"second_property_nanme\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":5:{s:8:\"readonly\";b:0;s:6:\"hidden\";b:0;s:4:\"name\";s:4:\"text\";s:5:\"value\";s:12:\"initial
  text\";s:6:\"secure\";b:0;}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:19:\"first_property_name\";i:1;s:21:\"second_property_nanme\";}}s:41:\"UpdateInstantiatedWidgetPropertiesRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:45:\"Update
  instantiated widget properties request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"property_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:9:\"new_value\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:13:\"property_name\";}}s:28:\"GetOperatorVariablesResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:31:\"Get
  operator variables response\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"preferences\";O:8:\"stdClass\":2:{s:8:\"username\";O:8:\"stdClass\":5:{s:6:\"hidden\";b:0;s:4:\"name\";s:8:\"username\";s:8:\"readonly\";b:0;s:6:\"secure\";b:0;s:5:\"value\";s:13:\"test_username\";}s:8:\"password\";O:8:\"stdClass\":5:{s:6:\"hidden\";b:0;s:4:\"name\";s:8:\"password\";s:8:\"readonly\";b:0;s:6:\"secure\";b:1;s:5:\"value\";s:8:\"********\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"preferences\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"username\";O:8:\"stdClass\":5:{s:6:\"hidden\";b:0;s:4:\"name\";s:8:\"username\";s:8:\"readonly\";b:0;s:6:\"secure\";b:0;s:5:\"value\";s:13:\"test_username\";}s:8:\"password\";O:8:\"stdClass\":5:{s:6:\"hidden\";b:0;s:4:\"name\";s:8:\"password\";s:8:\"readonly\";b:0;s:6:\"secure\";b:1;s:5:\"value\";s:8:\"********\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:11:\"preferences\";}}s:43:\"UploadMashableApplicationComponentsResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:47:\"Upload
  Mashable Application Components response\";s:7:\"example\";O:8:\"stdClass\":27:{s:12:\"contributors\";a:0:{}s:5:\"image\";s:85:\"https://mashup.lab.fiware.org/catalogue/media/Wirecloud/Test/1.0/images/catalogue.png\";s:4:\"type\";s:6:\"widget\";s:15:\"smartphoneimage\";s:92:\"https://mashup.lab.fiware.org/catalogue/media/Wirecloud/Test/1.0/images/catalogue_iphone.png\";s:8:\"contents\";O:8:\"stdClass\":5:{s:3:\"src\";s:74:\"https://mashup.lab.fiware.org/catalogue/media/Wirecloud/Test/1.0/test.html\";s:7:\"charset\";s:5:\"utf-8\";s:11:\"contenttype\";s:9:\"text/html\";s:9:\"cacheable\";b:1;s:16:\"useplatformstyle\";b:0;}s:12:\"requirements\";a:0:{}s:11:\"preferences\";a:5:{i:0;O:8:\"stdClass\":9:{s:6:\"secure\";b:0;s:11:\"description\";s:15:\"list
  preference\";s:7:\"default\";s:7:\"default\";s:5:\"value\";N;s:5:\"label\";s:4:\"list\";s:8:\"readonly\";b:0;s:4:\"type\";s:4:\"list\";s:7:\"options\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:7:\"default\";s:5:\"label\";s:7:\"Default\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:1:\"1\";s:5:\"label\";s:6:\"value1\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:1:\"2\";s:5:\"label\";s:6:\"value2\";}}s:4:\"name\";s:4:\"list\";}i:1;O:8:\"stdClass\":8:{s:6:\"secure\";b:0;s:11:\"description\";s:15:\"text
  preference\";s:7:\"default\";s:12:\"initial text\";s:5:\"value\";N;s:5:\"label\";s:4:\"text\";s:8:\"readonly\";b:0;s:4:\"type\";s:4:\"text\";s:4:\"name\";s:4:\"text\";}i:2;O:8:\"stdClass\":8:{s:6:\"secure\";b:0;s:11:\"description\";s:18:\"boolean
  preference\";s:7:\"default\";s:5:\"false\";s:5:\"value\";N;s:5:\"label\";s:7:\"boolean\";s:8:\"readonly\";b:0;s:4:\"type\";s:7:\"boolean\";s:4:\"name\";s:7:\"boolean\";}i:3;O:8:\"stdClass\":8:{s:6:\"secure\";b:0;s:11:\"description\";s:19:\"password
  preference\";s:7:\"default\";s:7:\"default\";s:5:\"value\";N;s:5:\"label\";s:8:\"password\";s:8:\"readonly\";b:0;s:4:\"type\";s:8:\"password\";s:4:\"name\";s:8:\"password\";}i:4;O:8:\"stdClass\":8:{s:6:\"secure\";b:0;s:11:\"description\";s:17:\"number
  preference\";s:7:\"default\";s:1:\"2\";s:5:\"value\";N;s:5:\"label\";s:6:\"number\";s:8:\"readonly\";b:0;s:4:\"type\";s:6:\"number\";s:4:\"name\";s:6:\"number\";}}s:5:\"title\";s:4:\"Test\";s:6:\"wiring\";O:8:\"stdClass\":2:{s:6:\"inputs\";a:2:{i:0;O:8:\"stdClass\":6:{s:10:\"friendcode\";s:9:\"test-data\";s:4:\"name\";s:13:\"inputendpoint\";s:11:\"actionlabel\";s:0:\"\";s:5:\"label\";s:5:\"Input\";s:4:\"type\";s:4:\"text\";s:11:\"description\";s:0:\"\";}i:1;O:8:\"stdClass\":6:{s:10:\"friendcode\";s:10:\"nothandled\";s:4:\"name\";s:10:\"nothandled\";s:11:\"actionlabel\";s:0:\"\";s:5:\"label\";s:20:\"Not
  handled endpoint\";s:4:\"type\";s:4:\"text\";s:11:\"description\";s:0:\"\";}}s:7:\"outputs\";a:1:{i:0;O:8:\"stdClass\":5:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:4:\"text\";s:10:\"friendcode\";s:9:\"test-data\";s:4:\"name\";s:14:\"outputendpoint\";s:5:\"label\";s:6:\"Output\";}}}s:15:\"longdescription\";s:14:\"DESCRIPTION.md\";s:7:\"version\";s:3:\"1.0\";s:13:\"widget_height\";s:2:\"24\";s:8:\"homepage\";s:0:\"\";s:5:\"email\";s:18:\"aarranz@conwet.com\";s:12:\"default_lang\";s:2:\"en\";s:12:\"issuetracker\";s:0:\"\";s:6:\"vendor\";s:9:\"Wirecloud\";s:11:\"description\";s:74:\"This
  widget is used to test some of the features of the Wirecloud platform\";s:7:\"authors\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"aarranz\";}}s:10:\"properties\";a:0:{}s:11:\"altcontents\";a:0:{}s:4:\"name\";s:4:\"Test\";s:7:\"license\";s:0:\"\";s:9:\"changelog\";s:12:\"CHANGELOG.md\";s:3:\"doc\";s:77:\"https://mashup.lab.fiware.org/catalogue/media/Wirecloud/Test/1.0/doc/index.md\";s:10:\"licenseurl\";s:0:\"\";s:12:\"widget_width\";s:1:\"6\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":27:{s:12:\"contributors\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";a:0:{}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"image\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:85:\"https://mashup.lab.fiware.org/catalogue/media/Wirecloud/Test/1.0/images/catalogue.png\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:6:\"widget\";s:4:\"type\";s:6:\"string\";}s:15:\"smartphoneimage\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:92:\"https://mashup.lab.fiware.org/catalogue/media/Wirecloud/Test/1.0/images/catalogue_iphone.png\";s:4:\"type\";s:6:\"string\";}s:8:\"contents\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":5:{s:3:\"src\";s:74:\"https://mashup.lab.fiware.org/catalogue/media/Wirecloud/Test/1.0/test.html\";s:7:\"charset\";s:5:\"utf-8\";s:11:\"contenttype\";s:9:\"text/html\";s:9:\"cacheable\";b:1;s:16:\"useplatformstyle\";b:0;}s:4:\"type\";s:6:\"object\";}s:12:\"requirements\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";a:0:{}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"preferences\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";a:5:{i:0;O:8:\"stdClass\":9:{s:6:\"secure\";b:0;s:11:\"description\";s:15:\"list
  preference\";s:7:\"default\";s:7:\"default\";s:5:\"value\";N;s:5:\"label\";s:4:\"list\";s:8:\"readonly\";b:0;s:4:\"type\";s:4:\"list\";s:7:\"options\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:7:\"default\";s:5:\"label\";s:7:\"Default\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:1:\"1\";s:5:\"label\";s:6:\"value1\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:1:\"2\";s:5:\"label\";s:6:\"value2\";}}s:4:\"name\";s:4:\"list\";}i:1;O:8:\"stdClass\":8:{s:6:\"secure\";b:0;s:11:\"description\";s:15:\"text
  preference\";s:7:\"default\";s:12:\"initial text\";s:5:\"value\";N;s:5:\"label\";s:4:\"text\";s:8:\"readonly\";b:0;s:4:\"type\";s:4:\"text\";s:4:\"name\";s:4:\"text\";}i:2;O:8:\"stdClass\":8:{s:6:\"secure\";b:0;s:11:\"description\";s:18:\"boolean
  preference\";s:7:\"default\";s:5:\"false\";s:5:\"value\";N;s:5:\"label\";s:7:\"boolean\";s:8:\"readonly\";b:0;s:4:\"type\";s:7:\"boolean\";s:4:\"name\";s:7:\"boolean\";}i:3;O:8:\"stdClass\":8:{s:6:\"secure\";b:0;s:11:\"description\";s:19:\"password
  preference\";s:7:\"default\";s:7:\"default\";s:5:\"value\";N;s:5:\"label\";s:8:\"password\";s:8:\"readonly\";b:0;s:4:\"type\";s:8:\"password\";s:4:\"name\";s:8:\"password\";}i:4;O:8:\"stdClass\":8:{s:6:\"secure\";b:0;s:11:\"description\";s:17:\"number
  preference\";s:7:\"default\";s:1:\"2\";s:5:\"value\";N;s:5:\"label\";s:6:\"number\";s:8:\"readonly\";b:0;s:4:\"type\";s:6:\"number\";s:4:\"name\";s:6:\"number\";}}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:4:\"Test\";s:4:\"type\";s:6:\"string\";}s:6:\"wiring\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"inputs\";a:2:{i:0;O:8:\"stdClass\":6:{s:10:\"friendcode\";s:9:\"test-data\";s:4:\"name\";s:13:\"inputendpoint\";s:11:\"actionlabel\";s:0:\"\";s:5:\"label\";s:5:\"Input\";s:4:\"type\";s:4:\"text\";s:11:\"description\";s:0:\"\";}i:1;O:8:\"stdClass\":6:{s:10:\"friendcode\";s:10:\"nothandled\";s:4:\"name\";s:10:\"nothandled\";s:11:\"actionlabel\";s:0:\"\";s:5:\"label\";s:20:\"Not
  handled endpoint\";s:4:\"type\";s:4:\"text\";s:11:\"description\";s:0:\"\";}}s:7:\"outputs\";a:1:{i:0;O:8:\"stdClass\":5:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:4:\"text\";s:10:\"friendcode\";s:9:\"test-data\";s:4:\"name\";s:14:\"outputendpoint\";s:5:\"label\";s:6:\"Output\";}}}s:4:\"type\";s:6:\"object\";}s:15:\"longdescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:14:\"DESCRIPTION.md\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:3:\"1.0\";s:4:\"type\";s:6:\"string\";}s:13:\"widget_height\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:2:\"24\";s:4:\"type\";s:6:\"string\";}s:8:\"homepage\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:18:\"aarranz@conwet.com\";s:4:\"type\";s:6:\"string\";}s:12:\"default_lang\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:2:\"en\";s:4:\"type\";s:6:\"string\";}s:12:\"issuetracker\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"vendor\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:9:\"Wirecloud\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:74:\"This
  widget is used to test some of the features of the Wirecloud platform\";s:4:\"type\";s:6:\"string\";}s:7:\"authors\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"aarranz\";}}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";a:0:{}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"altcontents\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"example\";a:0:{}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:4:\"Test\";s:4:\"type\";s:6:\"string\";}s:7:\"license\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"changelog\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:12:\"CHANGELOG.md\";s:4:\"type\";s:6:\"string\";}s:3:\"doc\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:77:\"https://mashup.lab.fiware.org/catalogue/media/Wirecloud/Test/1.0/doc/index.md\";s:4:\"type\";s:6:\"string\";}s:10:\"licenseurl\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"widget_width\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:1:\"6\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:27:{i:0;s:12:\"contributors\";i:1;s:5:\"image\";i:2;s:4:\"type\";i:3;s:15:\"smartphoneimage\";i:4;s:8:\"contents\";i:5;s:12:\"requirements\";i:6;s:11:\"preferences\";i:7;s:5:\"title\";i:8;s:6:\"wiring\";i:9;s:15:\"longdescription\";i:10;s:7:\"version\";i:11;s:13:\"widget_height\";i:12;s:8:\"homepage\";i:13;s:5:\"email\";i:14;s:12:\"default_lang\";i:15;s:12:\"issuetracker\";i:16;s:6:\"vendor\";i:17;s:11:\"description\";i:18;s:7:\"authors\";i:19;s:10:\"properties\";i:20;s:11:\"altcontents\";i:21;s:4:\"name\";i:22;s:7:\"license\";i:23;s:9:\"changelog\";i:24;s:3:\"doc\";i:25;s:10:\"licenseurl\";i:26;s:12:\"widget_width\";}}s:46:\"UploadMashableApplicationComponents400Response\";O:8:\"stdClass\":5:{s:5:\"title\";s:51:\"Upload
  Mashable Application Components 400 response\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"description\";s:35:\"The
  uploaded file is not a zip file\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"example\";s:35:\"The
  uploaded file is not a zip file\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"description\";}}}"
...
