---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:20:\"Icons for Everything\";s:5:\"title\";s:16:\"The
  Noun Project\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:83:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_nounproject_profile_image.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:44:\"http://api.thenounproject.com/config/api-doc\";s:7:\"version\";s:3:\"1.2\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:18:\"thenounproject.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"thenounproject\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.thenounproject.com
basePath: /
paths:
  /collection/{id}:
    get:
      description: Returns a single collection
      operationId: getCollectionById
      parameters:
      - description: Collection id
        format: int32
        in: path
        name: id
        required: true
        type: integer
      responses:
        200:
          description: No response was specified
      summary: Get collection by id
      tags:
      - collection
  /collection/{id}/icons:
    get:
      description: Returns a list of icons associated with a collection
      operationId: getCollectionIconsById
      parameters:
      - description: Collection id
        format: int32
        in: path
        name: id
        required: true
        type: integer
      - description: Maximum number of results
        format: int32
        in: query
        name: limit
        required: false
        type: integer
      - description: Number of results to displace or skip over
        format: int32
        in: query
        name: offset
        required: false
        type: integer
      - description: Number of results of limit length to displace or skip over
        format: int32
        in: query
        name: page
        required: false
        type: integer
      responses:
        200:
          description: No response was specified
      summary: Get collection icons by id
      tags:
      - collection
  /collection/{slug}:
    get:
      description: Returns a single collection
      operationId: getCollectionBySlug
      parameters:
      - description: Collection slug
        in: path
        name: slug
        required: true
        type: string
      responses:
        200:
          description: No response was specified
      summary: Get collection by slug
      tags:
      - collection
  /collection/{slug}/icons:
    get:
      description: Returns a list of icons associated with a collection
      operationId: getCollectionIconsBySlug
      parameters:
      - description: Collection slug
        in: path
        name: slug
        required: true
        type: string
      - description: Maximum number of results
        format: int32
        in: query
        name: limit
        required: false
        type: integer
      - description: Number of results to displace or skip over
        format: int32
        in: query
        name: offset
        required: false
        type: integer
      - description: Number of results of limit length to displace or skip over
        format: int32
        in: query
        name: page
        required: false
        type: integer
      responses:
        200:
          description: No response was specified
      summary: Get collection icons by slug
      tags:
      - collection
  /collections:
    get:
      description: Return's a list of all collections
      operationId: getAllCollections
      parameters:
      - description: Maximum number of results
        format: int32
        in: query
        name: limit
        required: false
        type: integer
      - description: Number of results to displace or skip over
        format: int32
        in: query
        name: offset
        required: false
        type: integer
      - description: Number of results of limit length to displace or skip over
        format: int32
        in: query
        name: page
        required: false
        type: integer
      responses:
        200:
          description: No response was specified
      summary: Get all collections
      tags:
      - collections
  /icon/{id}:
    get:
      description: Returns a single icon
      operationId: getIconById
      parameters:
      - description: Icon id
        format: int32
        in: path
        name: id
        required: true
        type: integer
      responses:
        200:
          description: No response was specified
      summary: Get icon by id
      tags:
      - icon
  /icon/{term}:
    get:
      description: Returns a single icon
      operationId: getIconByTerm
      parameters:
      - description: Icon term
        in: path
        name: term
        required: true
        type: string
      responses:
        200:
          description: No response was specified
      summary: Get icon by term
      tags:
      - icon
  /icons/recent_uploads:
    get:
      description: Returns list of most recently uploaded icons
      operationId: getRecentIcons
      parameters:
      - description: Maximum number of results
        format: int32
        in: query
        name: limit
        required: false
        type: integer
      - description: Number of results to displace or skip over
        format: int32
        in: query
        name: offset
        required: false
        type: integer
      - description: Number of results of limit length to displace or skip over
        format: int32
        in: query
        name: page
        required: false
        type: integer
      responses:
        200:
          description: No response was specified
      summary: Get recent icons
      tags:
      - icons
  /icons/{term}:
    get:
      description: Returns a list of icons
      operationId: getIconsByTerm
      parameters:
      - description: Icon term
        in: path
        name: term
        required: true
        type: string
      - description: Limit results to public domain icons only
        format: int32
        in: query
        name: limit_to_public_domain
        required: false
        type: integer
      - description: Maximum number of results
        format: int32
        in: query
        name: limit
        required: false
        type: integer
      - description: Number of results to displace or skip over
        format: int32
        in: query
        name: offset
        required: false
        type: integer
      - description: Number of results of limit length to displace or skip over
        format: int32
        in: query
        name: page
        required: false
        type: integer
      responses:
        200:
          description: No response was specified
      summary: Get icons by term
      tags:
      - icons
  /oauth/usage:
    get:
      description: Returns current oauth usage and limits
      operationId: getApiQuotaStatus
      responses:
        200:
          description: No response was specified
      summary: Get api quota status
      tags:
      - oauth
  /user/{user_id}/collections:
    get:
      description: Returns a list of collections associated with a user
      operationId: getUserCollections
      parameters:
      - description: User id
        format: int32
        in: path
        name: user_id
        required: true
        type: integer
      responses:
        200:
          description: No response was specified
      summary: Get user collections
      tags:
      - user
  /user/{user_id}/collections/{slug}:
    get:
      description: Returns a single collection associated with a user
      operationId: getUserCollection
      parameters:
      - description: User id
        format: int32
        in: path
        name: user_id
        required: true
        type: integer
      - description: Collection slug
        in: path
        name: slug
        required: true
        type: string
      responses:
        200:
          description: No response was specified
      summary: Get user collection
      tags:
      - user
  /user/{username}/uploads:
    get:
      description: Returns a list of uploads associated with a user
      operationId: getUserUploadsWithUser
      parameters:
      - description: Username
        in: path
        name: username
        required: true
        type: string
      - description: Maximum number of results
        format: int32
        in: query
        name: limit
        required: false
        type: integer
      - description: Number of results to displace or skip over
        format: int32
        in: query
        name: offset
        required: false
        type: integer
      - description: Number of results of limit length to displace or skip over
        format: int32
        in: query
        name: page
        required: false
        type: integer
      responses:
        200:
          description: No response was specified
      summary: Get user uploads with user
      tags:
      - user
produces:
- application/json
schemes:
- http
...
