---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:15:\"bdp@betfair.com\";s:4:\"name\";s:11:\"BDP
  Support\";s:3:\"url\";s:38:\"https://developer.betfair.com/support/\";s:9:\"x-twitter\";s:7:\"Betfair\";}s:11:\"description\";s:136:\"API
  to receive streamed updates. This is an ssl socket connection of CRLF delimited
  json messages (see RequestMessage & ResponseMessage)\";s:7:\"license\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"See
  BDP site\";}s:14:\"termsOfService\";s:51:\"http://www.betfair.com/aboutUs/Terms.and.Conditions\";s:5:\"title\";s:27:\"Betfair:
  Exchange Streaming\";s:7:\"version\";s:8:\"1.0.1423\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:13:\"entertainment\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:80:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_Betfair_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:93:\"https://raw.githubusercontent.com/betfair/stream-api-sample-code/master/ESASwaggerSchema.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"betfair.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"betfair\";s:4:\"type\";s:7:\"openapi\";}}"
host: stream-api.betfair.com:443
basePath: /api
paths:
  /request:
    post:
      description: This is a socket protocol delimited by CRLF (not http)
      parameters:
      - description: Requests are sent to socket
        in: body
        name: RequestMessage
        required: true
        schema:
          $ref: '#/definitions/AllRequestTypesExample'
      responses:
        default:
          description: Responses are received from socket
          schema:
            $ref: '#/definitions/AllResponseTypesExample'
      operationId: request.post
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":26:{s:22:\"AllRequestTypesExample\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"authentication\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AuthenticationMessage\";s:4:\"type\";s:6:\"object\";}s:9:\"heartbeat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/HeartbeatMessage\";s:4:\"type\";s:6:\"object\";}s:18:\"marketSubscription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/MarketSubscriptionMessage\";s:4:\"type\";s:6:\"object\";}s:7:\"opTypes\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:9:\"heartbeat\";i:1;s:14:\"authentication\";i:2;s:18:\"marketSubscription\";i:3;s:17:\"orderSubscription\";}s:4:\"type\";s:6:\"string\";}s:24:\"orderSubscriptionMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/OrderSubscriptionMessage\";s:4:\"type\";s:6:\"object\";}}}s:23:\"AllResponseTypesExample\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"connection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ConnectionMessage\";s:4:\"type\";s:6:\"object\";}s:19:\"marketChangeMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MarketChangeMessage\";s:4:\"type\";s:6:\"object\";}s:7:\"opTypes\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:10:\"connection\";i:1;s:6:\"status\";i:2;s:3:\"mcm\";i:3;s:3:\"ocm\";}s:4:\"type\";s:6:\"string\";}s:18:\"orderChangeMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/OrderChangeMessage\";s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StatusMessage\";s:4:\"type\";s:6:\"object\";}}}s:21:\"AuthenticationMessage\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RequestMessage\";s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"appKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"session\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}}s:17:\"ConnectionMessage\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ResponseMessage\";s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"connectionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  connection id\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}}s:16:\"HeartbeatMessage\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RequestMessage\";s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:17:\"KeyLineDefinition\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"kl\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/KeyLineSelection\";}s:4:\"type\";s:5:\"array\";}}}s:16:\"KeyLineSelection\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"hc\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:12:\"MarketChange\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"con\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Conflated
  - have more than a single change been combined (or null if not conflated)\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Market
  Id - the id of the market\";s:4:\"type\";s:6:\"string\";}s:3:\"img\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Image
  - replace existing prices / data with the data supplied: it is not a delta (or null
  if delta)\";s:4:\"type\";s:7:\"boolean\";}s:16:\"marketDefinition\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/MarketDefinition\";s:11:\"description\";s:72:\"Market
  Definition - the definition of the market (or null if un-changed)\";s:4:\"type\";s:6:\"object\";}s:2:\"rc\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Runner
  Changes - a list of changes to runners (or null if un-changed)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/RunnerChange\";}s:4:\"type\";s:5:\"array\";}s:2:\"tv\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  total amount matched across the market. This value is truncated at 2dp (or null
  if un-changed)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}}s:19:\"MarketChangeMessage\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ResponseMessage\";s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:3:\"clk\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Token
  value (non-null) should be stored and passed in a MarketSubscriptionMessage to resume
  subscription (in case of disconnect)\";s:4:\"type\";s:6:\"string\";}s:10:\"conflateMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Conflate
  Milliseconds - the conflation rate (may differ from that requested if subscription
  is delayed)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:2:\"ct\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Change
  Type - set to indicate the type of change - if null this is a delta)\";s:4:\"enum\";a:3:{i:0;s:9:\"SUB_IMAGE\";i:1;s:11:\"RESUB_DELTA\";i:2;s:9:\"HEARTBEAT\";}s:4:\"type\";s:6:\"string\";}s:11:\"heartbeatMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Heartbeat
  Milliseconds - the heartbeat rate (may differ from requested: bounds are 500 to
  30000)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"initialClk\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Token
  value (non-null) should be stored and passed in a MarketSubscriptionMessage to resume
  subscription (in case of disconnect)\";s:4:\"type\";s:6:\"string\";}s:2:\"mc\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"MarketChanges
  - the modifications to markets (will be null on a heartbeat\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MarketChange\";}s:4:\"type\";s:5:\"array\";}s:2:\"pt\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Publish
  Time (in millis since epoch) that the changes were generated\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"segmentType\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"Segment
  Type - if the change is split into multiple segments, this denotes the beginning
  and end of a change, and segments in between. Will be null if data is not segmented\";s:4:\"enum\";a:3:{i:0;s:9:\"SEG_START\";i:1;s:3:\"SEG\";i:2;s:7:\"SEG_END\";}s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"Stream
  status: set to null if the exchange stream data is up to date and 503 if the downstream
  services are experiencing latencies\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}}s:16:\"MarketDataFilter\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"fields\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:19:\"EX_BEST_OFFERS_DISP\";i:1;s:14:\"EX_BEST_OFFERS\";i:2;s:13:\"EX_ALL_OFFERS\";i:3;s:9:\"EX_TRADED\";i:4;s:13:\"EX_TRADED_VOL\";i:5;s:6:\"EX_LTP\";i:6;s:13:\"EX_MARKET_DEF\";i:7;s:9:\"SP_TRADED\";i:8;s:12:\"SP_PROJECTED\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"ladderLevels\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:16:\"MarketDefinition\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":35:{s:8:\"betDelay\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"bettingType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:4:\"ODDS\";i:1;s:4:\"LINE\";i:2;s:5:\"RANGE\";i:3;s:26:\"ASIAN_HANDICAP_DOUBLE_LINE\";i:4;s:26:\"ASIAN_HANDICAP_SINGLE_LINE\";}s:4:\"type\";s:6:\"string\";}s:9:\"bspMarket\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"bspReconciled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"complete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"countryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"crossMatching\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"discountAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"eachWayDivisor\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"eventId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"eventTypeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  Event Type the market is contained within.\";s:4:\"type\";s:6:\"string\";}s:6:\"inPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"keyLineDefinition\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/KeyLineDefinition\";s:11:\"description\";s:133:\"Definition
  of a markets key line selection (for valid markets), comprising the selectionId
  and handicap of the team it is applied to.\";s:4:\"type\";s:6:\"object\";}s:12:\"lineInterval\";O:8:\"stdClass\":3:{s:11:\"description\";s:298:\"For
  Handicap and Line markets, the lines available on this market will be between the
  range of lineMinUnit and lineMaxUnit, in increments of the lineInterval value. e.g.
  If unit is runs, lineMinUnit=10, lineMaxUnit=20 and lineInterval=0.5, then valid
  lines include 10, 10.5, 11, 11.5 up to 20 runs.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"lineMaxUnit\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"For
  Handicap and Line markets, the maximum value for the outcome, in market units for
  this market (eg 100 runs).\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"lineMinUnit\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"For
  Handicap and Line markets, the minimum value for the outcome, in market units for
  this market (eg 0 runs).\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:14:\"marketBaseRate\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"marketTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"marketType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"numberOfActiveRunners\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"numberOfWinners\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"openDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"persistenceEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"priceLadderDefinition\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/PriceLadderDefinition\";s:11:\"description\";s:57:\"Definition
  of the price ladder type and any related data.\";s:4:\"type\";s:6:\"object\";}s:8:\"raceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"regulators\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  market regulators.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"runners\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RunnerDefinition\";}s:4:\"type\";s:5:\"array\";}s:15:\"runnersVoidable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"settledTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:8:\"INACTIVE\";i:1;s:4:\"OPEN\";i:2;s:9:\"SUSPENDED\";i:3;s:6:\"CLOSED\";}s:4:\"type\";s:6:\"string\";}s:11:\"suspendTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"turnInPlayEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"venue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:12:\"MarketFilter\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"bettingTypes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:4:\"ODDS\";i:1;s:4:\"LINE\";i:2;s:5:\"RANGE\";i:3;s:26:\"ASIAN_HANDICAP_DOUBLE_LINE\";i:4;s:26:\"ASIAN_HANDICAP_SINGLE_LINE\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"bspMarket\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"countryCodes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"eventIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"eventTypeIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"marketIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"marketTypes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"raceTypes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"turnInPlayEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"venues\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"MarketSubscriptionMessage\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RequestMessage\";s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"clk\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Token
  value delta (received in MarketChangeMessage) that should be passed to resume a
  subscription\";s:4:\"type\";s:6:\"string\";}s:10:\"conflateMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Conflate
  Milliseconds - the conflation rate (looped back on initial image after validation:
  bounds are 0 to 120000)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"heartbeatMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Heartbeat
  Milliseconds - the heartbeat rate (looped back on initial image after validation:
  bounds are 500 to 5000)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"initialClk\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Token
  value (received in initial MarketChangeMessage) that should be passed to resume
  a subscription\";s:4:\"type\";s:6:\"string\";}s:16:\"marketDataFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/MarketDataFilter\";s:4:\"type\";s:6:\"object\";}s:12:\"marketFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/MarketFilter\";s:4:\"type\";s:6:\"object\";}s:19:\"segmentationEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Segmentation
  Enabled - allow the server to send large sets of data in segments, instead of a
  single block\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}}s:5:\"Order\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":21:{s:3:\"avp\";O:8:\"stdClass\":3:{s:11:\"description\";s:231:\"Average
  Price Matched - the average price the order was matched at (null if the order is
  not matched). This value is not meaningful for activity on Line markets and is not
  guaranteed to be returned or maintained for\_these markets.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"bsp\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"BSP
  Liability - the BSP liability of the order (null if the order is not a BSP order)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Bet
  Id - the id of the order\";s:4:\"type\";s:6:\"string\";}s:2:\"ld\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Lapsed
  Date - the date the order was lapsed (null if the order is not lapsed)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:2:\"md\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Matched
  Date - the date the order was matched (null if the order is not matched)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:2:\"ot\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Order
  Type - the type of the order (L = LIMIT, MOC = MARKET_ON_CLOSE, LOC = LIMIT_ON_CLOSE)\";s:4:\"enum\";a:3:{i:0;s:1:\"L\";i:1;s:3:\"LOC\";i:2;s:3:\"MOC\";}s:4:\"type\";s:6:\"string\";}s:1:\"p\";O:8:\"stdClass\":3:{s:11:\"description\";s:227:\"Price
  - the original placed price of the order. Line markets operate at even-money odds
  of 2.0.\_However, price for these markets refers to the line positions available
  as defined by the markets min-max range and interval steps\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"pd\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Placed
  Date - the date the order was placed\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:2:\"pt\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Persistence
  Type - whether the order will persist at in play or not (L = LAPSE, P = PERSIST,
  MOC = Market On Close)\";s:4:\"enum\";a:3:{i:0;s:1:\"L\";i:1;s:1:\"P\";i:2;s:3:\"MOC\";}s:4:\"type\";s:6:\"string\";}s:3:\"rac\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Regulator
  Auth Code - the auth code returned by the regulator\";s:4:\"type\";s:6:\"string\";}s:2:\"rc\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Regulator
  Code - the regulator of the order\";s:4:\"type\";s:6:\"string\";}s:3:\"rfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Order
  Reference - the customer's order reference for this order (empty string if one was
  not set)\";s:4:\"type\";s:6:\"string\";}s:3:\"rfs\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Strategy
  Reference - the customer's strategy reference for this order (empty string if one
  was not set)\";s:4:\"type\";s:6:\"string\";}s:1:\"s\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Size
  - the original placed size of the order\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"sc\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Size
  Cancelled - the amount of the order that has been cancelled\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"side\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"Side
  - the side of the order. For Line markets a 'B' bet refers to a SELL line and an
  'L' bet refers\_to a BUY line.\";s:4:\"enum\";a:2:{i:0;s:1:\"B\";i:1;s:1:\"L\";}s:4:\"type\";s:6:\"string\";}s:2:\"sl\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Size
  Lapsed - the amount of the order that has been lapsed\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"sm\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Size
  Matched - the amount of the order that has been matched\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"sr\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Size
  Remaining - the amount of the order that is remaining unmatched\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Status
  - the status of the order (E = EXECUTABLE, EC = EXECUTION_COMPLETE)\";s:4:\"enum\";a:2:{i:0;s:1:\"E\";i:1;s:2:\"EC\";}s:4:\"type\";s:6:\"string\";}s:2:\"sv\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Size
  Voided - the amount of the order that has been voided\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}}s:18:\"OrderChangeMessage\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ResponseMessage\";s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:3:\"clk\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Token
  value (non-null) should be stored and passed in a MarketSubscriptionMessage to resume
  subscription (in case of disconnect)\";s:4:\"type\";s:6:\"string\";}s:10:\"conflateMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Conflate
  Milliseconds - the conflation rate (may differ from that requested if subscription
  is delayed)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:2:\"ct\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Change
  Type - set to indicate the type of change - if null this is a delta)\";s:4:\"enum\";a:3:{i:0;s:9:\"SUB_IMAGE\";i:1;s:11:\"RESUB_DELTA\";i:2;s:9:\"HEARTBEAT\";}s:4:\"type\";s:6:\"string\";}s:11:\"heartbeatMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Heartbeat
  Milliseconds - the heartbeat rate (may differ from requested: bounds are 500 to
  30000)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"initialClk\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Token
  value (non-null) should be stored and passed in a MarketSubscriptionMessage to resume
  subscription (in case of disconnect)\";s:4:\"type\";s:6:\"string\";}s:2:\"oc\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"OrderMarketChanges
  - the modifications to account's orders (will be null on a heartbeat\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OrderMarketChange\";}s:4:\"type\";s:5:\"array\";}s:2:\"pt\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Publish
  Time (in millis since epoch) that the changes were generated\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"segmentType\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"Segment
  Type - if the change is split into multiple segments, this denotes the beginning
  and end of a change, and segments in between. Will be null if data is not segmented\";s:4:\"enum\";a:3:{i:0;s:9:\"SEG_START\";i:1;s:3:\"SEG\";i:2;s:7:\"SEG_END\";}s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"Stream
  status: set to null if the exchange stream data is up to date and 503 if the downstream
  services are experiencing latencies\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}}s:11:\"OrderFilter\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"accountIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"Internal
  use only & should not be set on your filter (your subscription is already locked
  to your account). If set subscription will fail.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:20:\"customerStrategyRefs\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"Restricts
  to specified customerStrategyRefs; this will filter orders and StrategyMatchChanges
  accordingly (Note: overall postition is not filtered)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:22:\"includeOverallPosition\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Returns
  overall / net position (See: OrderRunnerChange.mb / OrderRunnerChange.ml). Default=true\";s:4:\"type\";s:7:\"boolean\";}s:29:\"partitionMatchedByStrategyRef\";O:8:\"stdClass\":2:{s:11:\"description\";s:173:\"Returns
  strategy positions (See: OrderRunnerChange.smc=Map<customerStrategyRef, StrategyMatchChange>)
  - these are sent in delta format as per overall position. Default=false\";s:4:\"type\";s:7:\"boolean\";}}}s:17:\"OrderMarketChange\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"closed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Market
  Id - the id of the market the order is on\";s:4:\"type\";s:6:\"string\";}s:3:\"orc\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Order
  Changes - a list of changes to orders on a selection\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OrderRunnerChange\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"OrderRunnerChange\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"fullImage\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"hc\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Handicap
  - the handicap of the runner (selection) (null if not applicable)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Selection
  Id - the id of the runner (selection)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:2:\"mb\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"Matched
  Backs - matched amounts by distinct matched price on the Back side for this runner
  (selection)\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:2:\"ml\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Matched
  Lays - matched amounts by distinct matched price on the Lay side for this runner
  (selection)\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:3:\"smc\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/StrategyMatchChange\";}s:11:\"description\";s:79:\"Strategy
  Matches - Matched Backs and Matched Lays grouped by strategy reference\";s:4:\"type\";s:6:\"object\";}s:2:\"uo\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Unmatched
  Orders - orders on this runner (selection) that are not fully matched\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Order\";}s:4:\"type\";s:5:\"array\";}}}s:24:\"OrderSubscriptionMessage\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RequestMessage\";s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"clk\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Token
  value delta (received in MarketChangeMessage) that should be passed to resume a
  subscription\";s:4:\"type\";s:6:\"string\";}s:10:\"conflateMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Conflate
  Milliseconds - the conflation rate (looped back on initial image after validation:
  bounds are 0 to 120000)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"heartbeatMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Heartbeat
  Milliseconds - the heartbeat rate (looped back on initial image after validation:
  bounds are 500 to 5000)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"initialClk\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Token
  value (received in initial MarketChangeMessage) that should be passed to resume
  a subscription\";s:4:\"type\";s:6:\"string\";}s:11:\"orderFilter\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/OrderFilter\";s:11:\"description\";s:45:\"Optional
  filter applied to order subscription\";s:4:\"type\";s:6:\"object\";}s:19:\"segmentationEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Segmentation
  Enabled - allow the server to send large sets of data in segments, instead of a
  single block\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}}s:21:\"PriceLadderDefinition\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"CLASSIC\";i:1;s:6:\"FINEST\";i:2;s:10:\"LINE_RANGE\";}s:4:\"type\";s:6:\"string\";}}}s:14:\"RequestMessage\";O:8:\"stdClass\":2:{s:13:\"discriminator\";s:2:\"op\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Client
  generated unique id to link request with response (like json rpc)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"op\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  operation type\";s:4:\"type\";s:6:\"string\";}}}s:15:\"ResponseMessage\";O:8:\"stdClass\":2:{s:13:\"discriminator\";s:2:\"op\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Client
  generated unique id to link request with response (like json rpc)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"op\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  operation type\";s:4:\"type\";s:6:\"string\";}}}s:12:\"RunnerChange\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:3:\"atb\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Available
  To Back - PriceVol tuple delta of price changes (0 vol is remove)\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:3:\"atl\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Available
  To Lay - PriceVol tuple delta of price changes (0 vol is remove)\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:4:\"batb\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"Best
  Available To Back - LevelPriceVol triple delta of price changes, keyed by level
  (0 vol is remove)\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:4:\"batl\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Best
  Available To Lay - LevelPriceVol triple delta of price changes, keyed by level (0
  vol is remove)\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:5:\"bdatb\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"Best
  Display Available To Back (includes virtual prices)- LevelPriceVol triple delta
  of price changes, keyed by level (0 vol is remove)\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:5:\"bdatl\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Best
  Display Available To Lay (includes virtual prices)- LevelPriceVol triple delta of
  price changes, keyed by level (0 vol is remove)\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:2:\"hc\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Handicap
  - the handicap of the runner (selection) (null if not applicable)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Selection
  Id - the id of the runner (selection)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"ltp\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Last
  Traded Price - The last traded price (or null if un-changed)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"spb\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Starting
  Price Back - PriceVol tuple delta of price changes (0 vol is remove)\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:3:\"spf\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Starting
  Price Far - The far starting price (or null if un-changed)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"spl\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Starting
  Price Lay - PriceVol tuple delta of price changes (0 vol is remove)\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:3:\"spn\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Starting
  Price Near - The far starting price (or null if un-changed)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"trd\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Traded
  - PriceVol tuple delta of price changes (0 vol is remove)\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:2:\"tv\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  total amount matched. This value is truncated at 2dp.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}}s:16:\"RunnerDefinition\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"adjustmentFactor\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"bsp\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"hc\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Handicap
  - the handicap of the runner (selection) (null if not applicable)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Selection
  Id - the id of the runner (selection)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"removalDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"sortPriority\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:6:\"ACTIVE\";i:1;s:6:\"WINNER\";i:2;s:5:\"LOSER\";i:3;s:7:\"REMOVED\";i:4;s:14:\"REMOVED_VACANT\";i:5;s:6:\"HIDDEN\";i:6;s:6:\"PLACED\";}s:4:\"type\";s:6:\"string\";}}}s:13:\"StatusMessage\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ResponseMessage\";s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"connectionClosed\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Is
  the connection now closed\";s:4:\"type\";s:7:\"boolean\";}s:12:\"connectionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  connection id\";s:4:\"type\";s:6:\"string\";}s:9:\"errorCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  type of error in case of a failure\";s:4:\"enum\";a:13:{i:0;s:10:\"NO_APP_KEY\";i:1;s:15:\"INVALID_APP_KEY\";i:2;s:10:\"NO_SESSION\";i:3;s:27:\"INVALID_SESSION_INFORMATION\";i:4;s:14:\"NOT_AUTHORIZED\";i:5;s:13:\"INVALID_INPUT\";i:6;s:13:\"INVALID_CLOCK\";i:7;s:16:\"UNEXPECTED_ERROR\";i:8;s:7:\"TIMEOUT\";i:9;s:27:\"SUBSCRIPTION_LIMIT_EXCEEDED\";i:10;s:15:\"INVALID_REQUEST\";i:11;s:17:\"CONNECTION_FAILED\";i:12;s:29:\"MAX_CONNECTION_LIMIT_EXCEEDED\";}s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Additional
  message in case of a failure\";s:4:\"type\";s:6:\"string\";}s:10:\"statusCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  status of the last request\";s:4:\"enum\";a:2:{i:0;s:7:\"SUCCESS\";i:1;s:7:\"FAILURE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}}s:19:\"StrategyMatchChange\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"mb\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Matched
  Backs - matched amounts by distinct matched price on the Back side for this strategy\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:2:\"ml\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Matched
  Lays - matched amounts by distinct matched price on the Lay side for this strategy\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}}}}"
...
