---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:164:\"Provides
  methods for detection, risk analysis, and de-identification of privacy-sensitive
  fragments in text, images, and Google Cloud Platform storage repositories.\";s:5:\"title\";s:32:\"Cloud
  Data Loss Prevention (DLP)\";s:7:\"version\";s:7:\"v2beta2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:58:\"https://dlp.googleapis.com/$discovery/rest?version=v2beta2\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:3:\"dlp\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"google_dlp\";s:4:\"type\";s:7:\"openapi\";}}"
host: dlp.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":191:{s:37:\"GooglePrivacyDlpV2beta1AuxiliaryTable\";O:8:\"stdClass\":3:{s:11:\"description\";s:423:\"An
  auxiliary table contains statistical information on the relative\nfrequency of different
  quasi-identifiers values. It has one or several\nquasi-identifiers columns, and
  one column that indicates the relative\nfrequency of each quasi-identifier tuple.\nIf
  a tuple is present in the data but not in the auxiliary table, the\ncorresponding
  relative frequency is assumed to be zero (and thus, the\ntuple is highly reidentifiable).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"quasiIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Quasi-identifier
  columns. [required]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/GooglePrivacyDlpV2beta1QuasiIdField\";}s:4:\"type\";s:5:\"array\";}s:17:\"relativeFrequency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta1FieldId\";s:11:\"description\";s:142:\"The
  relative frequency column must contain a floating-point number\nbetween 0 and 1
  (inclusive). Null values are assumed to be zero.\n[required]\";}s:5:\"table\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta1BigQueryTable\";s:11:\"description\";s:36:\"Auxiliary
  table location. [required]\";}}s:4:\"type\";s:6:\"object\";}s:38:\"GooglePrivacyDlpV2beta1BigQueryOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Options
  defining BigQuery table and row identifiers.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"identifyingFields\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"References
  to fields uniquely identifying rows within the table.\nNested fields in the format,
  like `person.birthdate.year`, are allowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta1FieldId\";}s:4:\"type\";s:5:\"array\";}s:14:\"tableReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta1BigQueryTable\";s:11:\"description\";s:34:\"Complete
  BigQuery table reference.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GooglePrivacyDlpV2beta1BigQueryTable\";O:8:\"stdClass\":3:{s:11:\"description\";s:286:\"Message
  defining the location of a BigQuery table. A table is uniquely\nidentified  by its
  project_id, dataset_id, and table_name. Within a query\na table is often referenced
  with a string in the format of:\n`<project_id>:<dataset_id>.<table_id>` or\n`<project_id>.<dataset_id>.<table_id>`.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"datasetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Dataset
  ID of the table.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"The
  Google Cloud Platform project ID of the project containing the table.\nIf omitted,
  project ID is inferred from the API call.\";s:4:\"type\";s:6:\"string\";}s:7:\"tableId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the table.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"GooglePrivacyDlpV2beta1CategoricalStatsConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"Compute
  numerical stats over an individual column, including\nnumber of distinct values
  and value count distribution.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"field\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta1FieldId\";s:11:\"description\";s:215:\"Field
  to compute categorical stats on. All column types are\nsupported except for arrays
  and structs. However, it may be more\ninformative to use NumericalStats when the
  field type is supported,\ndepending on the data.\";}}s:4:\"type\";s:6:\"object\";}s:54:\"GooglePrivacyDlpV2beta1CategoricalStatsHistogramBucket\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Histogram
  bucket of value frequencies in the column.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"bucketSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Total
  number of records in this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"bucketValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Sample
  of value frequencies in this bucket. The total number of\nvalues returned per bucket
  is capped at 20.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/GooglePrivacyDlpV2beta1ValueFrequency\";}s:4:\"type\";s:5:\"array\";}s:24:\"valueFrequencyLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Lower
  bound on the value frequency of the values in this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:24:\"valueFrequencyUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Upper
  bound on the value frequency of the values in this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"GooglePrivacyDlpV2beta1CategoricalStatsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Result
  of the categorical stats computation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:30:\"valueFrequencyHistogramBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Histogram
  of value frequencies in the column.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/GooglePrivacyDlpV2beta1CategoricalStatsHistogramBucket\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:42:\"GooglePrivacyDlpV2beta1CloudStorageOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Options
  defining a file or a set of files (path ending with *) within\na Google Cloud Storage
  bucket.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"fileSet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta1FileSet\";}}s:4:\"type\";s:6:\"object\";}s:39:\"GooglePrivacyDlpV2beta1CloudStoragePath\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"A
  location in Cloud Storage.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  url, in the format of `gs://bucket/<path>`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:37:\"GooglePrivacyDlpV2beta1CustomInfoType\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Custom
  information type provided by the user. Used to find domain-specific\nsensitive information
  configurable to the data in question.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"dictionary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/GooglePrivacyDlpV2beta1Dictionary\";s:11:\"description\";s:34:\"Dictionary-based
  custom info type.\";}s:8:\"infoType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta1InfoType\";s:11:\"description\";s:145:\"Info
  type configuration. All custom info types must have configurations\nthat do not
  conflict with built-in info types or other custom info types.\";}s:13:\"surrogateType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta1SurrogateType\";s:11:\"description\";s:20:\"Surrogate
  info type.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"GooglePrivacyDlpV2beta1DatastoreOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Options
  defining a data set within Google Cloud Datastore.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/GooglePrivacyDlpV2beta1KindExpression\";s:11:\"description\";s:20:\"The
  kind to process.\";}s:11:\"partitionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/GooglePrivacyDlpV2beta1PartitionId\";s:11:\"description\";s:137:\"A
  partition ID identifies a grouping of entities. The grouping is always\nby project
  and namespace, however the namespace ID may be empty.\";}s:10:\"projection\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Properties
  to scan. If none are specified, all properties will be scanned\nby default.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/GooglePrivacyDlpV2beta1Projection\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:33:\"GooglePrivacyDlpV2beta1Dictionary\";O:8:\"stdClass\":3:{s:11:\"description\";s:1075:\"Custom
  information type based on a dictionary of words or phrases. This can\nbe used to
  match sensitive information specific to the data, such as a list\nof employee IDs
  or job titles.\n\nDictionary words are case-insensitive and all characters other
  than letters\nand digits in the unicode [Basic Multilingual\nPlane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane)\nwill
  be replaced with whitespace when scanning for matches, so the\ndictionary phrase
  \"Sam Johnson\" will match all three phrases \"sam johnson\",\n\"Sam, Johnson\",
  and \"Sam (Johnson)\". Additionally, the characters\nsurrounding any match must
  be of a different type than the adjacent\ncharacters within the word, so letters
  must be next to non-letters and\ndigits next to non-digits. For example, the dictionary
  word \"jen\" will\nmatch the first three letters of the text \"jen123\" but will
  return no\nmatches for \"jennifer\".\n\nDictionary words containing a large number
  of characters that are not\nletters or digits may result in unexpected findings
  because such characters\nare treated as whitespace.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"wordList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta1WordList\";s:11:\"description\";s:39:\"List
  of words or phrases to search for.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"GooglePrivacyDlpV2beta1EntityId\";O:8:\"stdClass\":3:{s:11:\"description\";s:349:\"An
  entity in a dataset is a field or set of fields that correspond to a\nsingle person.
  For example, in medical records the `EntityId` might be\na patient identifier, or
  for financial records it might be an account\nidentifier. This message is used when
  generalizations or analysis must be\nconsistent across multiple rows pertaining
  to the same entity.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"field\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta1FieldId\";s:11:\"description\";s:68:\"Composite
  key indicating which field contains the entity identifier.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"GooglePrivacyDlpV2beta1FieldId\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"General
  identifier of a data field in a storage service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"columnName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Name
  describing the field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"GooglePrivacyDlpV2beta1FileSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Set
  of files to scan.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  url, in the format `gs://<bucket>/<path>`. Trailing wildcard in the\npath is allowed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"GooglePrivacyDlpV2beta1InfoType\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Type
  of information detected by the API.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Name
  of the information type.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GooglePrivacyDlpV2beta1InfoTypeLimit\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Max
  findings configuration per info type, per content item or long running\noperation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"infoType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta1InfoType\";s:11:\"description\";s:256:\"Type
  of information the findings limit applies to. Only one limit per\ninfo_type should
  be provided. If InfoTypeLimit does not have an\ninfo_type, the DLP API applies the
  limit against all info_types that are\nfound but not specified in another InfoTypeLimit.\";}s:11:\"maxFindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Max
  findings limit for the given infoType.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:41:\"GooglePrivacyDlpV2beta1InfoTypeStatistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Statistics
  regarding a specific InfoType.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Number
  of findings for this info type.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"infoType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta1InfoType\";s:11:\"description\";s:37:\"The
  type of finding this stat is for.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GooglePrivacyDlpV2beta1InspectConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Configuration
  description of the scanning process.\nWhen used with redactContent only info_types
  and min_likelihood are currently\nused.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"customInfoTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Custom
  info types provided by the user.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/GooglePrivacyDlpV2beta1CustomInfoType\";}s:4:\"type\";s:5:\"array\";}s:12:\"excludeTypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"When
  true, excludes type information of the findings.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"includeQuote\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"When
  true, a contextual quote from the data that triggered a finding is\nincluded in
  the response; see Finding.quote.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"infoTypeLimits\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Configuration
  of findings limit given for specified info types.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta1InfoTypeLimit\";}s:4:\"type\";s:5:\"array\";}s:9:\"infoTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"Restricts
  what info_types to look for. The values must correspond to\nInfoType values returned
  by ListInfoTypes or found in documentation.\nEmpty info_types runs all enabled detectors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta1InfoType\";}s:4:\"type\";s:5:\"array\";}s:11:\"maxFindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Limits
  the number of findings per content item or long running operation.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"minLikelihood\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Only
  returns findings equal or above this threshold.\";s:4:\"enum\";a:6:{i:0;s:22:\"LIKELIHOOD_UNSPECIFIED\";i:1;s:13:\"VERY_UNLIKELY\";i:2;s:8:\"UNLIKELY\";i:3;s:8:\"POSSIBLE\";i:4;s:6:\"LIKELY\";i:5;s:11:\"VERY_LIKELY\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:47:\"GooglePrivacyDlpV2beta1InspectOperationMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Metadata
  returned within GetOperation for an inspect request.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  time which this request was started.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:13:\"infoTypeStats\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/GooglePrivacyDlpV2beta1InfoTypeStatistics\";}s:4:\"type\";s:5:\"array\";}s:14:\"processedBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Total
  size in bytes that were processed.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:20:\"requestInspectConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta1InspectConfig\";s:11:\"description\";s:48:\"The
  inspect config used to create the Operation.\";}s:19:\"requestOutputConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:56:\"#/definitions/GooglePrivacyDlpV2beta1OutputStorageConfig\";s:11:\"description\";s:36:\"Optional
  location to store findings.\";}s:20:\"requestStorageConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta1StorageConfig\";s:11:\"description\";s:48:\"The
  storage config used to create the Operation.\";}s:19:\"totalEstimatedBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Estimate
  of the number of bytes to process.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"GooglePrivacyDlpV2beta1InspectOperationResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  operational data.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"The
  server-assigned name, which is only unique within the same service that\noriginally
  returns it. If you use the default HTTP mapping, the\n`name` should have the format
  of `inspect/results/{id}`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"GooglePrivacyDlpV2beta1KAnonymityConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"k-anonymity
  metric, used for analysis of reidentification risk.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"entityId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta1EntityId\";s:11:\"description\";s:634:\"Optional
  message indicating that each distinct entity_id should not\ncontribute to the k-anonymity
  count more than once per equivalence class.\nIf an entity_id appears on several
  rows with different quasi-identifier\ntuples, it will contribute to each count exactly
  once.\n\nThis can lead to unexpected results. Consider a table where ID 1 is\nassociated
  to quasi-identifier \"foo\", ID 2 to \"bar\", and ID 3 to *both*\nquasi-identifiers
  \"foo\" and \"bar\" (on separate rows), and where this ID\nis used as entity_id.
  Then, the anonymity value associated to ID 3 will\nbe 2, even if it is the only
  ID to be associated to both values \"foo\" and\n\"bar\".\";}s:8:\"quasiIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:288:\"Set
  of fields to compute k-anonymity over. When multiple fields are\nspecified, they
  are considered a single composite key. Structs and\nrepeated data types are not
  supported; however, nested fields are\nsupported so long as they are not structs
  themselves or nested within\na repeated field.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta1FieldId\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:49:\"GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  set of columns' values that share the same k-anonymity value.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"equivalenceClassSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Size
  of the equivalence class, for example number of rows with the\nabove set of values.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:14:\"quasiIdsValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:180:\"Set
  of values defining the equivalence class. One value per\nquasi-identifier column
  in the original KAnonymity metric message.\nThe order is always the same as the
  original request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta1Value\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:48:\"GooglePrivacyDlpV2beta1KAnonymityHistogramBucket\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Histogram
  bucket of equivalence class sizes in the table.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"bucketSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Total
  number of records in this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"bucketValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Sample
  of equivalence classes in this bucket. The total number of\nclasses returned per
  bucket is capped at 20.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:63:\"#/definitions/GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass\";}s:4:\"type\";s:5:\"array\";}s:30:\"equivalenceClassSizeLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Lower
  bound on the size of the equivalence classes in this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:30:\"equivalenceClassSizeUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Upper
  bound on the size of the equivalence classes in this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"GooglePrivacyDlpV2beta1KAnonymityResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Result
  of the k-anonymity computation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:32:\"equivalenceClassHistogramBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Histogram
  of k-anonymity equivalence classes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/GooglePrivacyDlpV2beta1KAnonymityHistogramBucket\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:43:\"GooglePrivacyDlpV2beta1KMapEstimationConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:432:\"Reidentifiability
  metric. This corresponds to a risk model similar to what\nis called \"journalist
  risk\" in the literature, except the attack dataset is\nstatistically modeled instead
  of being perfectly known. This can be done\nusing publicly available data (like
  the US Census), or using a custom\nstatistical model (indicated as one or several
  BigQuery tables), or by\nextrapolating from the distribution of values in the input
  dataset.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"auxiliaryTables\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"Several
  auxiliary tables can be used in the analysis. Each custom_tag\nused to tag a quasi-identifiers
  column must appear in exactly one column\nof one auxiliary table.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/GooglePrivacyDlpV2beta1AuxiliaryTable\";}s:4:\"type\";s:5:\"array\";}s:8:\"quasiIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Fields
  considered to be quasi-identifiers. No two columns can have the\nsame tag. [required]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/GooglePrivacyDlpV2beta1TaggedField\";}s:4:\"type\";s:5:\"array\";}s:10:\"regionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"ISO
  3166-1 alpha-2 region code to use in the statistical modeling.\nRequired if no column
  is tagged with a region-specific InfoType (like\nUS_ZIP_5) or a region code.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:52:\"GooglePrivacyDlpV2beta1KMapEstimationHistogramBucket\";O:8:\"stdClass\":3:{s:11:\"description\";s:399:\"A
  KMapEstimationHistogramBucket message with the following values:\n  min_anonymity:
  3\n  max_anonymity: 5\n  frequency: 42\nmeans that there are 42 records whose quasi-identifier
  values correspond\nto 3, 4 or 5 people in the overlying population. An important
  particular\ncase is when min_anonymity = max_anonymity = 1: the frequency field
  then\ncorresponds to the number of uniquely identifiable records.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"bucketSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Number
  of records within these anonymity bounds.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"bucketValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"Sample
  of quasi-identifier tuple values in this bucket. The total\nnumber of classes returned
  per bucket is capped at 20.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/GooglePrivacyDlpV2beta1KMapEstimationQuasiIdValues\";}s:4:\"type\";s:5:\"array\";}s:12:\"maxAnonymity\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Always
  greater than or equal to min_anonymity.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"minAnonymity\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Always
  positive.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:50:\"GooglePrivacyDlpV2beta1KMapEstimationQuasiIdValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"A
  tuple of values for the quasi-identifier columns.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"estimatedAnonymity\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  estimated anonymity for these quasi-identifier values.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:14:\"quasiIdsValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  quasi-identifier values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta1Value\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:43:\"GooglePrivacyDlpV2beta1KMapEstimationResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"Result
  of the reidentifiability analysis. Note that these results are an\nestimation, not
  exact values.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"kMapEstimationHistogram\";O:8:\"stdClass\":3:{s:11:\"description\";s:431:\"The
  intervals [min_anonymity, max_anonymity] do not overlap. If a value\ndoesn't correspond
  to any such interval, the associated frequency is\nzero. For example, the following
  records:\n  {min_anonymity: 1, max_anonymity: 1, frequency: 17}\n  {min_anonymity:
  2, max_anonymity: 3, frequency: 42}\n  {min_anonymity: 5, max_anonymity: 10, frequency:
  99}\nmean that there are no record with an estimated anonymity of 4, 5, or\nlarger
  than 10.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/GooglePrivacyDlpV2beta1KMapEstimationHistogramBucket\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:37:\"GooglePrivacyDlpV2beta1KindExpression\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"A
  representation of a Datastore kind.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the kind.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"GooglePrivacyDlpV2beta1LDiversityConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"l-diversity
  metric, used for analysis of reidentification risk.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"quasiIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:184:\"Set
  of quasi-identifiers indicating how equivalence classes are\ndefined for the l-diversity
  computation. When multiple fields are\nspecified, they are considered a single composite
  key.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta1FieldId\";}s:4:\"type\";s:5:\"array\";}s:18:\"sensitiveAttribute\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta1FieldId\";s:11:\"description\";s:42:\"Sensitive
  field for computing the l-value.\";}}s:4:\"type\";s:6:\"object\";}s:49:\"GooglePrivacyDlpV2beta1LDiversityEquivalenceClass\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  set of columns' values that share the same l-diversity value.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"equivalenceClassSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Size
  of the k-anonymity equivalence class.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:26:\"numDistinctSensitiveValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Number
  of distinct sensitive values in this equivalence class.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:14:\"quasiIdsValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"Quasi-identifier
  values defining the k-anonymity equivalence\nclass. The order is always the same
  as the original request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta1Value\";}s:4:\"type\";s:5:\"array\";}s:18:\"topSensitiveValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Estimated
  frequencies of top sensitive values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/GooglePrivacyDlpV2beta1ValueFrequency\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:48:\"GooglePrivacyDlpV2beta1LDiversityHistogramBucket\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Histogram
  bucket of sensitive value frequencies in the table.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"bucketSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Total
  number of records in this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"bucketValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Sample
  of equivalence classes in this bucket. The total number of\nclasses returned per
  bucket is capped at 20.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:63:\"#/definitions/GooglePrivacyDlpV2beta1LDiversityEquivalenceClass\";}s:4:\"type\";s:5:\"array\";}s:33:\"sensitiveValueFrequencyLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Lower
  bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:33:\"sensitiveValueFrequencyUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Upper
  bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"GooglePrivacyDlpV2beta1LDiversityResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Result
  of the l-diversity computation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:39:\"sensitiveValueFrequencyHistogramBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Histogram
  of l-diversity equivalence class sensitive value frequencies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/GooglePrivacyDlpV2beta1LDiversityHistogramBucket\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:43:\"GooglePrivacyDlpV2beta1NumericalStatsConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Compute
  numerical stats over an individual column, including\nmin, max, and quantiles.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"field\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta1FieldId\";s:11:\"description\";s:105:\"Field
  to compute numerical stats on. Supported types are\ninteger, float, date, datetime,
  timestamp, time.\";}}s:4:\"type\";s:6:\"object\";}s:43:\"GooglePrivacyDlpV2beta1NumericalStatsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Result
  of the numerical stats computation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"maxValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta1Value\";s:11:\"description\";s:38:\"Maximum
  value appearing in the column.\";}s:8:\"minValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta1Value\";s:11:\"description\";s:38:\"Minimum
  value appearing in the column.\";}s:14:\"quantileValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"List
  of 99 values that partition the set of field values into 100 equal\nsized buckets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta1Value\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:42:\"GooglePrivacyDlpV2beta1OutputStorageConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Cloud
  repository for storing output.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"storagePath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/GooglePrivacyDlpV2beta1CloudStoragePath\";s:11:\"description\";s:896:\"The
  path to a Google Cloud Storage location to store output.\nThe bucket must already
  exist and\nthe Google APIs service account for DLP must have write permission to\nwrite
  to the given bucket.\nResults are split over multiple csv files with each file name
  matching\nthe pattern \"[operation_id]_[count].csv\", for example\n`3094877188788974909_1.csv`.
  The `operation_id` matches the\nidentifier for the Operation, and the `count` is
  a counter used for\ntracking the number of files written.\n\nThe CSV file(s) contain
  the following columns regardless of storage type\nscanned:\n- id\n- info_type\n-
  likelihood\n- byte size of finding\n- quote\n- timestamp\n\nFor Cloud Storage the
  next columns are:\n\n- file_path\n- start_offset\n\nFor Cloud Datastore the next
  columns are:\n\n- project_id\n- namespace_id\n- path\n- column_name\n- offset\n\nFor
  BigQuery the next columns are:\n\n- row_number\n- project_id\n- dataset_id\n- table_id\";}s:5:\"table\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta1BigQueryTable\";s:11:\"description\";s:45:\"Store
  findings in a new table in the dataset.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"GooglePrivacyDlpV2beta1PartitionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:235:\"Datastore
  partition ID.\nA partition ID identifies a grouping of entities. The grouping is
  always\nby project and namespace, however the namespace ID may be empty.\n\nA partition
  ID contains several dimensions:\nproject ID and namespace ID.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"namespaceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"If
  not empty, the ID of the namespace to which the entities belong.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  ID of the project to which the entities belong.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GooglePrivacyDlpV2beta1PrivacyMetric\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Privacy
  metric to compute for reidentification risk analysis.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:22:\"categoricalStatsConfig\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/GooglePrivacyDlpV2beta1CategoricalStatsConfig\";}s:16:\"kAnonymityConfig\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/GooglePrivacyDlpV2beta1KAnonymityConfig\";}s:20:\"kMapEstimationConfig\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/GooglePrivacyDlpV2beta1KMapEstimationConfig\";}s:16:\"lDiversityConfig\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/GooglePrivacyDlpV2beta1LDiversityConfig\";}s:20:\"numericalStatsConfig\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/GooglePrivacyDlpV2beta1NumericalStatsConfig\";}}s:4:\"type\";s:6:\"object\";}s:33:\"GooglePrivacyDlpV2beta1Projection\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"A
  representation of a Datastore property in a projection.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"property\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/GooglePrivacyDlpV2beta1PropertyReference\";s:11:\"description\";s:24:\"The
  property to project.\";}}s:4:\"type\";s:6:\"object\";}s:40:\"GooglePrivacyDlpV2beta1PropertyReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"A
  reference to a property relative to the Datastore kind expressions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  name of the property.\nIf name includes \".\"s, it may be interpreted as a property
  name path.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"GooglePrivacyDlpV2beta1QuasiIdField\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"A
  quasi-identifier column has a custom_tag, used to know which column\nin the data
  corresponds to which column in the statistical model.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"customTag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"field\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta1FieldId\";}}s:4:\"type\";s:6:\"object\";}s:52:\"GooglePrivacyDlpV2beta1RiskAnalysisOperationMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"Metadata
  returned within the\n[`riskAnalysis.operations.get`](/dlp/docs/reference/rest/v2beta1/riskAnalysis.operations/get)\nfor
  risk analysis.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  time which this request was started.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:22:\"requestedPrivacyMetric\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta1PrivacyMetric\";s:11:\"description\";s:26:\"Privacy
  metric to compute.\";}s:20:\"requestedSourceTable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta1BigQueryTable\";s:11:\"description\";s:38:\"Input
  dataset to compute metrics over.\";}}s:4:\"type\";s:6:\"object\";}s:50:\"GooglePrivacyDlpV2beta1RiskAnalysisOperationResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Result
  of a risk analysis\n[`Operation`](/dlp/docs/reference/rest/v2beta1/inspect.operations)\nrequest.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:22:\"categoricalStatsResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/GooglePrivacyDlpV2beta1CategoricalStatsResult\";}s:16:\"kAnonymityResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/GooglePrivacyDlpV2beta1KAnonymityResult\";}s:20:\"kMapEstimationResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/GooglePrivacyDlpV2beta1KMapEstimationResult\";}s:16:\"lDiversityResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/GooglePrivacyDlpV2beta1LDiversityResult\";}s:20:\"numericalStatsResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/GooglePrivacyDlpV2beta1NumericalStatsResult\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GooglePrivacyDlpV2beta1StorageConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Shared
  message indicating Cloud storage type.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"bigQueryOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:52:\"#/definitions/GooglePrivacyDlpV2beta1BigQueryOptions\";s:11:\"description\";s:31:\"BigQuery
  options specification.\";}s:19:\"cloudStorageOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:56:\"#/definitions/GooglePrivacyDlpV2beta1CloudStorageOptions\";s:11:\"description\";s:43:\"Google
  Cloud Storage options specification.\";}s:16:\"datastoreOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/GooglePrivacyDlpV2beta1DatastoreOptions\";s:11:\"description\";s:45:\"Google
  Cloud Datastore options specification.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GooglePrivacyDlpV2beta1SurrogateType\";O:8:\"stdClass\":3:{s:11:\"description\";s:469:\"Message
  for detecting output from deidentification transformations\nsuch as\n[`CryptoReplaceFfxFpeConfig`](/dlp/docs/reference/rest/v2beta1/content/deidentify#CryptoReplaceFfxFpeConfig).\nThese
  types of transformations are\nthose that perform pseudonymization, thereby producing
  a \"surrogate\" as\noutput. This should be used in conjunction with a field on the\ntransformation
  such as `surrogate_info_type`. This custom info type does\nnot support the use of
  `detection_rules`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"GooglePrivacyDlpV2beta1TaggedField\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"A
  column with a semantic tag attached.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"customTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"A
  column can be tagged with a custom tag. In this case, the user must\nindicate an
  auxiliary table that contains statistical information on\nthe possible values of
  this column (below).\";s:4:\"type\";s:6:\"string\";}s:5:\"field\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta1FieldId\";s:11:\"description\";s:33:\"Identifies
  the column. [required]\";}s:8:\"inferred\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/GoogleProtobufEmpty\";s:11:\"description\";s:113:\"If
  no semantic tag is indicated, we infer the statistical model from\nthe distribution
  of values in the input data\";}s:8:\"infoType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta1InfoType\";s:11:\"description\";s:192:\"A
  column can be tagged with a InfoType to use the relevant public\ndataset as a statistical
  model of population, if available. We\ncurrently support US ZIP codes, region codes,
  ages and genders.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"GooglePrivacyDlpV2beta1Value\";O:8:\"stdClass\":3:{s:11:\"description\";s:370:\"Set
  of primitive values supported by the system.\nNote that for the purposes of inspection
  or transformation, the number\nof bytes considered to comprise a 'Value' is based
  on its representation\nas a UTF-8 encoded string. For example, if 'integer_value'
  is set to\n123456789, the number of bytes would be counted as 9, even though an\nint64
  only holds up to 8 bytes of data.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"booleanValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"dateValue\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/GoogleTypeDate\";}s:10:\"floatValue\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"integerValue\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"stringValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timeValue\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/GoogleTypeTimeOfDay\";}s:14:\"timestampValue\";O:8:\"stdClass\":2:{s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:37:\"GooglePrivacyDlpV2beta1ValueFrequency\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"A
  value of a field, including its frequency.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"How
  many times the value is contained in the field.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta1Value\";s:11:\"description\";s:43:\"A
  value contained in the field in question.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"GooglePrivacyDlpV2beta1WordList\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Message
  defining a list of words or phrases to search for in the data.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"words\";O:8:\"stdClass\":3:{s:11:\"description\";s:180:\"Words
  or phrases defining the dictionary. The dictionary must contain\nat least one phrase
  and every phrase must contain at least 2 characters\nthat are letters or digits.
  [required]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"GooglePrivacyDlpV2beta2Action\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  task to execute on the completion of a job.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"pubSub\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:52:\"#/definitions/GooglePrivacyDlpV2beta2PublishToPubSub\";s:11:\"description\";s:41:\"Publish
  a notification to a pubsub topic.\";}s:12:\"saveFindings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/GooglePrivacyDlpV2beta2SaveFindings\";s:11:\"description\";s:47:\"Save
  resulting findings in a provided location.\";}}s:4:\"type\";s:6:\"object\";}s:51:\"GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Result
  of a risk analysis operation request.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:22:\"categoricalStatsResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/GooglePrivacyDlpV2beta2CategoricalStatsResult\";}s:16:\"kAnonymityResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/GooglePrivacyDlpV2beta2KAnonymityResult\";}s:20:\"kMapEstimationResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/GooglePrivacyDlpV2beta2KMapEstimationResult\";}s:16:\"lDiversityResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/GooglePrivacyDlpV2beta2LDiversityResult\";}s:20:\"numericalStatsResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/GooglePrivacyDlpV2beta2NumericalStatsResult\";}s:22:\"requestedPrivacyMetric\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta2PrivacyMetric\";s:11:\"description\";s:26:\"Privacy
  metric to compute.\";}s:20:\"requestedSourceTable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta2BigQueryTable\";s:11:\"description\";s:38:\"Input
  dataset to compute metrics over.\";}}s:4:\"type\";s:6:\"object\";}s:51:\"GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Request
  for creating a risk analysis DlpJob.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"jobConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:58:\"#/definitions/GooglePrivacyDlpV2beta2RiskAnalysisJobConfig\";s:11:\"description\";s:41:\"Configuration
  for this risk analysis job.\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:367:\"Optional
  job ID to use for the created job. If not provided, a job ID will\nautomatically
  be generated. Must be unique within the project. The job ID\ncan contain uppercase
  and lowercase letters, numbers, and hyphens; that is,\nit must match the regular
  expression: `[a-zA-Z\\\\d-]+`. The maximum length\nis 100 characters. Can be empty
  to allow the system to generate one.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:37:\"GooglePrivacyDlpV2beta2AuxiliaryTable\";O:8:\"stdClass\":3:{s:11:\"description\";s:423:\"An
  auxiliary table contains statistical information on the relative\nfrequency of different
  quasi-identifiers values. It has one or several\nquasi-identifiers columns, and
  one column that indicates the relative\nfrequency of each quasi-identifier tuple.\nIf
  a tuple is present in the data but not in the auxiliary table, the\ncorresponding
  relative frequency is assumed to be zero (and thus, the\ntuple is highly reidentifiable).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"quasiIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Quasi-identifier
  columns. [required]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/GooglePrivacyDlpV2beta2QuasiIdField\";}s:4:\"type\";s:5:\"array\";}s:17:\"relativeFrequency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta2FieldId\";s:11:\"description\";s:142:\"The
  relative frequency column must contain a floating-point number\nbetween 0 and 1
  (inclusive). Null values are assumed to be zero.\n[required]\";}s:5:\"table\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta2BigQueryTable\";s:11:\"description\";s:36:\"Auxiliary
  table location. [required]\";}}s:4:\"type\";s:6:\"object\";}s:34:\"GooglePrivacyDlpV2beta2BigQueryKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Row
  key for identifying a record in BigQuery table.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"rowNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Absolute
  number of the row from the beginning of the table at the time\nof scanning.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:14:\"tableReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta2BigQueryTable\";s:11:\"description\";s:34:\"Complete
  BigQuery table reference.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"GooglePrivacyDlpV2beta2BigQueryOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Options
  defining BigQuery table and row identifiers.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"identifyingFields\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"References
  to fields uniquely identifying rows within the table.\nNested fields in the format,
  like `person.birthdate.year`, are allowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta2FieldId\";}s:4:\"type\";s:5:\"array\";}s:14:\"tableReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta2BigQueryTable\";s:11:\"description\";s:34:\"Complete
  BigQuery table reference.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GooglePrivacyDlpV2beta2BigQueryTable\";O:8:\"stdClass\":3:{s:11:\"description\";s:286:\"Message
  defining the location of a BigQuery table. A table is uniquely\nidentified  by its
  project_id, dataset_id, and table_name. Within a query\na table is often referenced
  with a string in the format of:\n`<project_id>:<dataset_id>.<table_id>` or\n`<project_id>.<dataset_id>.<table_id>`.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"datasetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Dataset
  ID of the table.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"The
  Google Cloud Platform project ID of the project containing the table.\nIf omitted,
  project ID is inferred from the API call.\";s:4:\"type\";s:6:\"string\";}s:7:\"tableId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the table.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"GooglePrivacyDlpV2beta2Bucket\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Bucket
  is represented as a range, along with replacement values.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"max\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta2Value\";s:11:\"description\";s:57:\"Upper
  bound of the range, exclusive; type must match min.\";}s:3:\"min\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta2Value\";s:11:\"description\";s:76:\"Lower
  bound of the range, inclusive. Type should be the same as max if\nused.\";}s:16:\"replacementValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta2Value\";s:11:\"description\";s:111:\"Replacement
  value for this bucket. If not provided\nthe default behavior will be to hyphenate
  the min-max range.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"GooglePrivacyDlpV2beta2BucketingConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:466:\"Generalization
  function that buckets values based on ranges. The ranges and\nreplacement values
  are dynamically provided by the user for custom behavior,\nsuch as 1-30 -> LOW 31-65
  -> MEDIUM 66-100 -> HIGH\nThis can be used on\ndata of type: number, long, string,
  timestamp.\nIf the bound `Value` type differs from the type of data being transformed,
  we\nwill first attempt converting the type of the data to be transformed to match\nthe
  type of the bound before comparing.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"buckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Set
  of buckets. Ranges must be non-overlapping.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/GooglePrivacyDlpV2beta2Bucket\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:42:\"GooglePrivacyDlpV2beta2CancelDlpJobRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  request message for canceling a DLP job.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:45:\"GooglePrivacyDlpV2beta2CategoricalStatsConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"Compute
  numerical stats over an individual column, including\nnumber of distinct values
  and value count distribution.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"field\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta2FieldId\";s:11:\"description\";s:215:\"Field
  to compute categorical stats on. All column types are\nsupported except for arrays
  and structs. However, it may be more\ninformative to use NumericalStats when the
  field type is supported,\ndepending on the data.\";}}s:4:\"type\";s:6:\"object\";}s:54:\"GooglePrivacyDlpV2beta2CategoricalStatsHistogramBucket\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"bucketSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Total
  number of values in this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:16:\"bucketValueCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Total
  number of distinct values in this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"bucketValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Sample
  of value frequencies in this bucket. The total number of\nvalues returned per bucket
  is capped at 20.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/GooglePrivacyDlpV2beta2ValueFrequency\";}s:4:\"type\";s:5:\"array\";}s:24:\"valueFrequencyLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Lower
  bound on the value frequency of the values in this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:24:\"valueFrequencyUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Upper
  bound on the value frequency of the values in this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"GooglePrivacyDlpV2beta2CategoricalStatsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Result
  of the categorical stats computation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:30:\"valueFrequencyHistogramBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Histogram
  of value frequencies in the column.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/GooglePrivacyDlpV2beta2CategoricalStatsHistogramBucket\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:42:\"GooglePrivacyDlpV2beta2CharacterMaskConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:382:\"Partially
  mask a string by replacing a given number of characters with a\nfixed character.
  Masking can start from the beginning or end of the string.\nThis can be used on
  data of any type (numbers, longs, and so on) and when\nde-identifying structured
  data we'll attempt to preserve the original data's\ntype. (This allows you to take
  a long like 123 and modify it to a string like\n**3.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"charactersToIgnore\";O:8:\"stdClass\":3:{s:11:\"description\";s:199:\"When
  masking a string, items in this list will be skipped when replacing.\nFor example,
  if your string is 555-555-5555 and you ask us to skip `-` and\nmask 5 chars with
  * we would produce ***-*55-5555.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta2CharsToIgnore\";}s:4:\"type\";s:5:\"array\";}s:16:\"maskingCharacter\";O:8:\"stdClass\":2:{s:11:\"description\";s:262:\"Character
  to mask the sensitive values&mdash;for example, \"*\" for an\nalphabetic string
  such as name, or \"0\" for a numeric string such as ZIP\ncode or credit card number.
  String must have length 1. If not supplied, we\nwill default to \"*\" for strings,
  0 for digits.\";s:4:\"type\";s:6:\"string\";}s:12:\"numberToMask\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"Number
  of characters to mask. If not set, all matching chars will be\nmasked. Skipped characters
  do not count towards this tally.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"reverseOrder\";O:8:\"stdClass\":2:{s:11:\"description\";s:280:\"Mask
  characters in reverse order. For example, if `masking_character` is\n'0', number_to_mask
  is 14, and `reverse_order` is false, then\n1234-5678-9012-3456 -> 00000000000000-3456\nIf
  `masking_character` is '*', `number_to_mask` is 3, and `reverse_order`\nis true,
  then 12345 -> 12***\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GooglePrivacyDlpV2beta2CharsToIgnore\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Characters
  to skip when doing deidentification of a value. These will be left\nalone and skipped.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"charactersToSkip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"commonCharactersToIgnore\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:34:\"COMMON_CHARS_TO_IGNORE_UNSPECIFIED\";i:1;s:7:\"NUMERIC\";i:2;s:16:\"ALPHA_UPPER_CASE\";i:3;s:16:\"ALPHA_LOWER_CASE\";i:4;s:11:\"PUNCTUATION\";i:5;s:10:\"WHITESPACE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:38:\"GooglePrivacyDlpV2beta2CloudStorageKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Record
  key for a finding in a Cloud Storage file.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"filePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Path
  to the file.\";s:4:\"type\";s:6:\"string\";}s:11:\"startOffset\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Byte
  offset of the referenced data in the file.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:42:\"GooglePrivacyDlpV2beta2CloudStorageOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Options
  defining a file or a set of files (path ending with *) within\na Google Cloud Storage
  bucket.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"bytesLimitPerFile\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Max
  number of bytes to scan from a file. If a scanned file's size is bigger\nthan this
  value then the rest of the bytes are omitted.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"fileSet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta2FileSet\";}}s:4:\"type\";s:6:\"object\";}s:28:\"GooglePrivacyDlpV2beta2Color\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Represents
  a color in the RGB color space.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"blue\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  amount of blue in the color as a value in the interval [0, 1].\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"green\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  amount of green in the color as a value in the interval [0, 1].\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:3:\"red\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  amount of red in the color as a value in the interval [0, 1].\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:32:\"GooglePrivacyDlpV2beta2Condition\";O:8:\"stdClass\":3:{s:11:\"description\";s:728:\"The
  field type of `value` and `field` do not need to match to be\nconsidered equal,
  but not all comparisons are possible.\n\nA `value` of type:\n\n- `string` can be
  compared against all other types\n- `boolean` can only be compared against other
  booleans\n- `integer` can be compared against doubles or a string if the string
  value\ncan be parsed as an integer.\n- `double` can be compared against integers
  or a string if the string can\nbe parsed as a double.\n- `Timestamp` can be compared
  against strings in RFC 3339 date string\nformat.\n- `TimeOfDay` can be compared
  against timestamps and strings in the format\nof 'HH:mm:ss'.\n\nIf we fail to compare
  do to type mismatch, a warning will be given and\nthe condition will evaluate to
  false.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"field\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta2FieldId\";s:11:\"description\";s:71:\"Field
  within the record this condition is evaluated against. [required]\";}s:8:\"operator\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Operator
  used to compare the field or infoType to the value. [required]\";s:4:\"enum\";a:8:{i:0;s:31:\"RELATIONAL_OPERATOR_UNSPECIFIED\";i:1;s:8:\"EQUAL_TO\";i:2;s:12:\"NOT_EQUAL_TO\";i:3;s:12:\"GREATER_THAN\";i:4;s:9:\"LESS_THAN\";i:5;s:22:\"GREATER_THAN_OR_EQUALS\";i:6;s:19:\"LESS_THAN_OR_EQUALS\";i:7;s:6:\"EXISTS\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta2Value\";s:11:\"description\";s:64:\"Value
  to compare against. [Required, except for `EXISTS` tests.]\";}}s:4:\"type\";s:6:\"object\";}s:33:\"GooglePrivacyDlpV2beta2Conditions\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  collection of conditions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"conditions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/GooglePrivacyDlpV2beta2Condition\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:34:\"GooglePrivacyDlpV2beta2ContentItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Container
  structure for the content to inspect.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Content
  data to inspect or redact.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:5:\"table\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta2Table\";s:11:\"description\";s:34:\"Structured
  content for inspection.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Type
  of the content, as defined in Content-Type HTTP header.\nSupported types are: all
  \"text\" types, octet streams, PNG images,\nJPEG images.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"String
  data to inspect or redact.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:54:\"GooglePrivacyDlpV2beta2CreateDeidentifyTemplateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Request
  message for CreateDeidentifyTemplate.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"deidentifyTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:55:\"#/definitions/GooglePrivacyDlpV2beta2DeidentifyTemplate\";s:11:\"description\";s:33:\"The
  DeidentifyTemplate to create.\";}s:10:\"templateId\";O:8:\"stdClass\":2:{s:11:\"description\";s:234:\"The
  template id can contain uppercase and lowercase letters,\nnumbers, and hyphens;
  that is, it must match the regular\nexpression: `[a-zA-Z\\\\d-]+`. The maximum length
  is 100\ncharacters. Can be empty to allow the system to generate one.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:51:\"GooglePrivacyDlpV2beta2CreateInspectTemplateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  message for CreateInspectTemplate.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"inspectTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:52:\"#/definitions/GooglePrivacyDlpV2beta2InspectTemplate\";s:11:\"description\";s:30:\"The
  InspectTemplate to create.\";}s:10:\"templateId\";O:8:\"stdClass\":2:{s:11:\"description\";s:234:\"The
  template id can contain uppercase and lowercase letters,\nnumbers, and hyphens;
  that is, it must match the regular\nexpression: `[a-zA-Z\\\\d-]+`. The maximum length
  is 100\ncharacters. Can be empty to allow the system to generate one.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:46:\"GooglePrivacyDlpV2beta2CreateJobTriggerRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Request
  message for CreateJobTrigger.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"jobTrigger\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/GooglePrivacyDlpV2beta2JobTrigger\";s:11:\"description\";s:25:\"The
  JobTrigger to create.\";}s:9:\"triggerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:233:\"The
  trigger id can contain uppercase and lowercase letters,\nnumbers, and hyphens; that
  is, it must match the regular\nexpression: `[a-zA-Z\\\\d-]+`. The maximum length
  is 100\ncharacters. Can be empty to allow the system to generate one.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"GooglePrivacyDlpV2beta2CryptoHashConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:292:\"Pseudonymization
  method that generates surrogates via cryptographic hashing.\nUses SHA-256.\nThe
  key size must be either 32 or 64 bytes.\nOutputs a 32 byte digest as an uppercase
  hex string\n(for example, 41D1567F7F99F1DC2A5FAB886DEE5BEE).\nCurrently, only string
  and integer values can be hashed.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"cryptoKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/GooglePrivacyDlpV2beta2CryptoKey\";s:11:\"description\";s:34:\"The
  key used by the hash function.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"GooglePrivacyDlpV2beta2CryptoKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:254:\"This
  is a data encryption key (DEK) (as opposed to\na key encryption key (KEK) stored
  by KMS).\nWhen using KMS to wrap/unwrap DEKs, be sure to set an appropriate\nIAM
  policy on the KMS CryptoKey (KEK) to ensure an attacker cannot\nunwrap the data
  crypto key.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"kmsWrapped\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/GooglePrivacyDlpV2beta2KmsWrappedCryptoKey\";}s:9:\"transient\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/GooglePrivacyDlpV2beta2TransientCryptoKey\";}s:9:\"unwrapped\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/GooglePrivacyDlpV2beta2UnwrappedCryptoKey\";}}s:4:\"type\";s:6:\"object\";}s:48:\"GooglePrivacyDlpV2beta2CryptoReplaceFfxFpeConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:564:\"Replaces
  an identifier with a surrogate using FPE with the FFX\nmode of operation; however
  when used in the `ReidentifyContent` API method,\nit serves the opposite function
  by reversing the surrogate back into\nthe original identifier.\nThe identifier must
  be encoded as ASCII.\nFor a given crypto key and context, the same identifier will
  be\nreplaced with the same surrogate.\nIdentifiers must be at least two characters
  long.\nIn the case that the identifier is the empty string, it will be skipped.\nSee
  [Pseudonymization](/dlp/docs/pseudonymization) for example usage.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"commonAlphabet\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:38:\"FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED\";i:1;s:7:\"NUMERIC\";i:2;s:11:\"HEXADECIMAL\";i:3;s:24:\"UPPER_CASE_ALPHA_NUMERIC\";i:4;s:13:\"ALPHA_NUMERIC\";}s:4:\"type\";s:6:\"string\";}s:7:\"context\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta2FieldId\";s:11:\"description\";s:818:\"The
  'tweak', a context may be used for higher security since the same\nidentifier in
  two different contexts won't be given the same surrogate. If\nthe context is not
  set, a default tweak will be used.\n\nIf the context is set but:\n\n1. there is
  no record present when transforming a given value or\n1. the field is not present
  when transforming a given value,\n\na default tweak will be used.\n\nNote that case
  (1) is expected when an `InfoTypeTransformation` is\napplied to both structured
  and non-structured `ContentItem`s.\nCurrently, the referenced field may be of value
  type integer or string.\n\nThe tweak is constructed as a sequence of bytes in big
  endian byte order\nsuch that:\n\n- a 64 bit integer is encoded followed by a single
  byte of value 1\n- a string is encoded in UTF-8 format followed by a single byte
  of value\n \xE5 2\";}s:9:\"cryptoKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/GooglePrivacyDlpV2beta2CryptoKey\";s:11:\"description\";s:52:\"The
  key used by the encryption algorithm. [required]\";}s:14:\"customAlphabet\";O:8:\"stdClass\":2:{s:11:\"description\";s:319:\"This
  is supported by mapping these to the alphanumeric characters\nthat the FFX mode
  natively supports. This happens before/after\nencryption/decryption.\nEach character
  listed must appear only once.\nNumber of characters must be in the range [2, 62].\nThis
  must be encoded as ASCII.\nThe order of characters does not matter.\";s:4:\"type\";s:6:\"string\";}s:5:\"radix\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  native way to select the alphabet. Must be in the range [2, 62].\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"surrogateInfoType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta2InfoType\";s:11:\"description\";s:1352:\"The
  custom infoType to annotate the surrogate with.\nThis annotation will be applied
  to the surrogate by prefixing it with\nthe name of the custom infoType followed
  by the number of\ncharacters comprising the surrogate. The following scheme defines
  the\nformat: info_type_name(surrogate_character_count):surrogate\n\nFor example,
  if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and\nthe surrogate is 'abc',
  the full replacement value\nwill be: 'MY_TOKEN_INFO_TYPE(3):abc'\n\nThis annotation
  identifies the surrogate when inspecting content using the\ncustom infoType\n[`SurrogateType`](/dlp/docs/reference/rest/v2beta2/InspectConfig#surrogatetype).\nThis
  facilitates reversal of the surrogate when it occurs in free text.\n\nIn order for
  inspection to work properly, the name of this infoType must\nnot occur naturally
  anywhere in your data; otherwise, inspection may\nfind a surrogate that does not
  correspond to an actual identifier.\nTherefore, choose your custom infoType name
  carefully after considering\nwhat your data looks like. One way to select a name
  that has a high chance\nof yielding reliable detection is to include one or more
  unicode characters\nthat are highly improbable to exist in your data.\nFor example,
  assuming your data is entered from a regular ASCII keyboard,\nthe symbol with the
  hex code point 29DD might be used like so:\n\u29DDMY_TOKEN_TYPE\";}}s:4:\"type\";s:6:\"object\";}s:37:\"GooglePrivacyDlpV2beta2CustomInfoType\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Custom
  information type provided by the user. Used to find domain-specific\nsensitive information
  configurable to the data in question.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"detectionRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"Set
  of detection rules to apply to all findings of this custom info type.\nRules are
  applied in order that they are specified. Not supported for the\n`surrogate_type`
  custom info type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta2DetectionRule\";}s:4:\"type\";s:5:\"array\";}s:10:\"dictionary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/GooglePrivacyDlpV2beta2Dictionary\";s:11:\"description\";s:34:\"Dictionary-based
  custom info type.\";}s:8:\"infoType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta2InfoType\";s:11:\"description\";s:145:\"Info
  type configuration. All custom info types must have configurations\nthat do not
  conflict with built-in info types or other custom info types.\";}s:10:\"likelihood\";O:8:\"stdClass\":3:{s:11:\"description\";s:199:\"Likelihood
  to return for this custom info type. This base value can be\naltered by a detection
  rule if the finding meets the criteria specified by\nthe rule. Defaults to `VERY_LIKELY`
  if not specified.\";s:4:\"enum\";a:6:{i:0;s:22:\"LIKELIHOOD_UNSPECIFIED\";i:1;s:13:\"VERY_UNLIKELY\";i:2;s:8:\"UNLIKELY\";i:3;s:8:\"POSSIBLE\";i:4;s:6:\"LIKELY\";i:5;s:11:\"VERY_LIKELY\";}s:4:\"type\";s:6:\"string\";}s:5:\"regex\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta2Regex\";s:11:\"description\";s:29:\"Regex-based
  custom info type.\";}s:13:\"surrogateType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta2SurrogateType\";s:11:\"description\";s:20:\"Surrogate
  info type.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"GooglePrivacyDlpV2beta2DatastoreKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Record
  key for a finding in Cloud Datastore.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"entityKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/GooglePrivacyDlpV2beta2Key\";s:11:\"description\";s:21:\"Datastore
  entity key.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"GooglePrivacyDlpV2beta2DatastoreOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Options
  defining a data set within Google Cloud Datastore.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/GooglePrivacyDlpV2beta2KindExpression\";s:11:\"description\";s:20:\"The
  kind to process.\";}s:11:\"partitionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/GooglePrivacyDlpV2beta2PartitionId\";s:11:\"description\";s:137:\"A
  partition ID identifies a grouping of entities. The grouping is always\nby project
  and namespace, however the namespace ID may be empty.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"GooglePrivacyDlpV2beta2DateShiftConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Shifts
  dates by random number of days, with option to be consistent for the\nsame context.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"context\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta2FieldId\";s:11:\"description\";s:159:\"Points
  to the field that contains the context, for example, an entity id.\nIf set, must
  also set method. If set, shift will be consistent for the\ngiven context.\";}s:9:\"cryptoKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/GooglePrivacyDlpV2beta2CryptoKey\";s:11:\"description\";s:134:\"Causes
  the shift to be computed based on this key and the context. This\nresults in the
  same shift for the same context and crypto_key.\";}s:14:\"lowerBoundDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"For
  example, -5 means shift date to at most 5 days back in the past.\n[Required]\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"upperBoundDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:282:\"Range
  of shift in days. Actual shift will be selected at random within this\nrange (inclusive
  ends). Negative means shift to earlier in time. Must not\nbe more than 365250 days
  (1000 years) each direction.\n\nFor example, 3 means shift date to at most 3 days
  into the future.\n[Required]\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:31:\"GooglePrivacyDlpV2beta2DateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Message
  for a date time object.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GoogleTypeDate\";s:11:\"description\";s:114:\"One
  or more of the following must be set. All fields are optional, but\nwhen set must
  be valid date or time values.\";}s:9:\"dayOfWeek\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:23:\"DAY_OF_WEEK_UNSPECIFIED\";i:1;s:6:\"MONDAY\";i:2;s:7:\"TUESDAY\";i:3;s:9:\"WEDNESDAY\";i:4;s:8:\"THURSDAY\";i:5;s:6:\"FRIDAY\";i:6;s:8:\"SATURDAY\";i:7;s:6:\"SUNDAY\";}s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/GoogleTypeTimeOfDay\";}s:8:\"timeZone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta2TimeZone\";}}s:4:\"type\";s:6:\"object\";}s:39:\"GooglePrivacyDlpV2beta2DeidentifyConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  configuration that controls how the data will change.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"infoTypeTransformations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:60:\"#/definitions/GooglePrivacyDlpV2beta2InfoTypeTransformations\";s:11:\"description\";s:91:\"Treat
  the dataset as free-form text and apply the same free text\ntransformation everywhere.\";}s:21:\"recordTransformations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:58:\"#/definitions/GooglePrivacyDlpV2beta2RecordTransformations\";s:11:\"description\";s:159:\"Treat
  the dataset as structured. Transformations can be applied to\nspecific locations
  within structured datasets, such as transforming\na column within a table.\";}}s:4:\"type\";s:6:\"object\";}s:47:\"GooglePrivacyDlpV2beta2DeidentifyContentRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Request
  to de-identify a list of items.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"deidentifyConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/GooglePrivacyDlpV2beta2DeidentifyConfig\";s:11:\"description\";s:161:\"Configuration
  for the de-identification of the content item.\nItems specified here will override
  the template referenced by the\ndeidentify_template_name argument.\";}s:22:\"deidentifyTemplateName\";O:8:\"stdClass\":2:{s:11:\"description\";s:313:\"Optional
  template to use. Any configuration directly specified in\ndeidentify_config will
  override those set in the template. Singular fields\nthat are set in this request
  will replace their corresponding fields in the\ntemplate. Repeated fields are appended.
  Singular sub-messages and groups\nare recursively merged.\";s:4:\"type\";s:6:\"string\";}s:13:\"inspectConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta2InspectConfig\";s:11:\"description\";s:130:\"Configuration
  for the inspector.\nItems specified here will override the template referenced by
  the\ninspect_template_name argument.\";}s:19:\"inspectTemplateName\";O:8:\"stdClass\":2:{s:11:\"description\";s:310:\"Optional
  template to use. Any configuration directly specified in\ninspect_config will override
  those set in the template. Singular fields\nthat are set in this request will replace
  their corresponding fields in the\ntemplate. Repeated fields are appended. Singular
  sub-messages and groups\nare recursively merged.\";s:4:\"type\";s:6:\"string\";}s:4:\"item\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/GooglePrivacyDlpV2beta2ContentItem\";s:11:\"description\";s:49:\"The
  item to de-identify. Will be treated as text.\";}}s:4:\"type\";s:6:\"object\";}s:48:\"GooglePrivacyDlpV2beta2DeidentifyContentResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Results
  of de-identifying a ContentItem.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"item\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/GooglePrivacyDlpV2beta2ContentItem\";s:11:\"description\";s:23:\"The
  de-identified item.\";}s:8:\"overview\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:59:\"#/definitions/GooglePrivacyDlpV2beta2TransformationOverview\";s:11:\"description\";s:56:\"An
  overview of the changes that were made on the `item`.\";}}s:4:\"type\";s:6:\"object\";}s:41:\"GooglePrivacyDlpV2beta2DeidentifyTemplate\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  DeidentifyTemplates contains instructions on how to deidentify content.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  creation timestamp of a inspectTemplate, output only field.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:16:\"deidentifyConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/GooglePrivacyDlpV2beta2DeidentifyConfig\";s:11:\"description\";s:69:\"/////////////
  // The core content of the template  // ///////////////\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Short
  description (max 256 chars).\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Display
  name (max 256 chars).\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:206:\"The
  template name. Output only.\n\nThe template will have one of the following formats:\n`projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID`
  OR\n`organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`\";s:4:\"type\";s:6:\"string\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  last update timestamp of a inspectTemplate, output only field.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GooglePrivacyDlpV2beta2DetectionRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:188:\"Rule
  for modifying a custom info type to alter behavior under certain\ncircumstances,
  depending on the specific details of the rule. Not supported\nfor the `surrogate_type`
  custom info type.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"hotwordRule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/GooglePrivacyDlpV2beta2HotwordRule\";s:11:\"description\";s:29:\"Hotword-based
  detection rule.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"GooglePrivacyDlpV2beta2Dictionary\";O:8:\"stdClass\":3:{s:11:\"description\";s:1075:\"Custom
  information type based on a dictionary of words or phrases. This can\nbe used to
  match sensitive information specific to the data, such as a list\nof employee IDs
  or job titles.\n\nDictionary words are case-insensitive and all characters other
  than letters\nand digits in the unicode [Basic Multilingual\nPlane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane)\nwill
  be replaced with whitespace when scanning for matches, so the\ndictionary phrase
  \"Sam Johnson\" will match all three phrases \"sam johnson\",\n\"Sam, Johnson\",
  and \"Sam (Johnson)\". Additionally, the characters\nsurrounding any match must
  be of a different type than the adjacent\ncharacters within the word, so letters
  must be next to non-letters and\ndigits next to non-digits. For example, the dictionary
  word \"jen\" will\nmatch the first three letters of the text \"jen123\" but will
  return no\nmatches for \"jennifer\".\n\nDictionary words containing a large number
  of characters that are not\nletters or digits may result in unexpected findings
  because such characters\nare treated as whitespace.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"wordList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta2WordList\";s:11:\"description\";s:39:\"List
  of words or phrases to search for.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"GooglePrivacyDlpV2beta2DlpJob\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Combines
  all of the information about a DLP job.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Time
  when the job was created.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Time
  when the job finished.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:12:\"errorResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  stream of errors encountered running the job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/GoogleRpcStatus\";}s:4:\"type\";s:5:\"array\";}s:14:\"inspectDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:61:\"#/definitions/GooglePrivacyDlpV2beta2InspectDataSourceDetails\";s:11:\"description\";s:38:\"Results
  from inspecting a data source.\";}s:14:\"jobTriggerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"If
  created by a job trigger, the resource name of the trigger that\ninstantiated the
  job.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  server-assigned name.\";s:4:\"type\";s:6:\"string\";}s:11:\"riskDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:65:\"#/definitions/GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskDetails\";s:11:\"description\";s:45:\"Results
  from analyzing risk of a data source.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Time
  when the job started.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"State
  of a job.\";s:4:\"enum\";a:6:{i:0;s:21:\"JOB_STATE_UNSPECIFIED\";i:1;s:7:\"PENDING\";i:2;s:7:\"RUNNING\";i:3;s:4:\"DONE\";i:4;s:8:\"CANCELED\";i:5;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  type of job.\";s:4:\"enum\";a:3:{i:0;s:24:\"DLP_JOB_TYPE_UNSPECIFIED\";i:1;s:11:\"INSPECT_JOB\";i:2;s:17:\"RISK_ANALYSIS_JOB\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"GooglePrivacyDlpV2beta2EntityId\";O:8:\"stdClass\":3:{s:11:\"description\";s:349:\"An
  entity in a dataset is a field or set of fields that correspond to a\nsingle person.
  For example, in medical records the `EntityId` might be\na patient identifier, or
  for financial records it might be an account\nidentifier. This message is used when
  generalizations or analysis must be\nconsistent across multiple rows pertaining
  to the same entity.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"field\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta2FieldId\";s:11:\"description\";s:68:\"Composite
  key indicating which field contains the entity identifier.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"GooglePrivacyDlpV2beta2Error\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  results of an unsuccessful activation of the JobTrigger.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/GoogleRpcStatus\";}s:10:\"timestamps\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  times the error occurred.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:34:\"GooglePrivacyDlpV2beta2Expressions\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"An
  expression, consisting or an operator and conditions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"conditions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/GooglePrivacyDlpV2beta2Conditions\";}s:15:\"logicalOperator\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  operator to apply to the result of conditions. Default and currently\nonly supported
  value is `AND`.\";s:4:\"enum\";a:2:{i:0;s:28:\"LOGICAL_OPERATOR_UNSPECIFIED\";i:1;s:3:\"AND\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"GooglePrivacyDlpV2beta2FieldId\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"General
  identifier of a data field in a storage service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Name
  describing the field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:42:\"GooglePrivacyDlpV2beta2FieldTransformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  transformation to apply to the field.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"condition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:52:\"#/definitions/GooglePrivacyDlpV2beta2RecordCondition\";s:11:\"description\";s:418:\"Only
  apply the transformation if the condition evaluates to true for the\ngiven `RecordCondition`.
  The conditions are allowed to reference fields\nthat are not used in the actual
  transformation. [optional]\n\nExample Use Cases:\n\n- Apply a different bucket transformation
  to an age column if the zip code\ncolumn for the same record is within a specific
  range.\n- Redact a field if the date of birth field is greater than 85.\";}s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Input
  field(s) to apply the transformation to. [required]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/GooglePrivacyDlpV2beta2FieldId\";}s:4:\"type\";s:5:\"array\";}s:23:\"infoTypeTransformations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:60:\"#/definitions/GooglePrivacyDlpV2beta2InfoTypeTransformations\";s:11:\"description\";s:107:\"Treat
  the contents of the field as free text, and selectively\ntransform content that
  matches an `InfoType`.\";}s:23:\"primitiveTransformation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:60:\"#/definitions/GooglePrivacyDlpV2beta2PrimitiveTransformation\";s:11:\"description\";s:45:\"Apply
  the transformation to the entire field.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"GooglePrivacyDlpV2beta2FileSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Set
  of files to scan.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  url, in the format `gs://<bucket>/<path>`. Trailing wildcard in the\npath is allowed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"GooglePrivacyDlpV2beta2Finding\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Represents
  a piece of potentially sensitive content.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Timestamp
  when finding was detected.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"infoType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta2InfoType\";s:11:\"description\";s:93:\"The
  type of content that might have been found.\nProvided if requested by the `InspectConfig`.\";}s:10:\"likelihood\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Estimate
  of how likely it is that the `info_type` is correct.\";s:4:\"enum\";a:6:{i:0;s:22:\"LIKELIHOOD_UNSPECIFIED\";i:1;s:13:\"VERY_UNLIKELY\";i:2;s:8:\"UNLIKELY\";i:3;s:8:\"POSSIBLE\";i:4;s:6:\"LIKELY\";i:5;s:11:\"VERY_LIKELY\";}s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta2Location\";s:11:\"description\";s:28:\"Where
  the content was found.\";}s:5:\"quote\";O:8:\"stdClass\":2:{s:11:\"description\";s:291:\"The
  content that was found. Even if the content is not textual, it\nmay be converted
  to a textual representation here.\nProvided if requested by the `InspectConfig`
  and the finding is\nless than or equal to 4096 bytes long. If the finding exceeds
  4096 bytes\nin length, the quote may be omitted.\";s:4:\"type\";s:6:\"string\";}s:9:\"quoteInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/GooglePrivacyDlpV2beta2QuoteInfo\";s:11:\"description\";s:182:\"Contains
  data parsed from quotes. Only populated if include_quote was set\nto true and a
  supported infoType was requested. Currently supported\ninfoTypes: DATE, DATE_OF_BIRTH
  and TIME.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GooglePrivacyDlpV2beta2FindingLimits\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"maxFindingsPerInfoType\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Configuration
  of findings limit given for specified infoTypes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/GooglePrivacyDlpV2beta2InfoTypeLimit\";}s:4:\"type\";s:5:\"array\";}s:18:\"maxFindingsPerItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:238:\"Max
  number of findings that will be returned for each item scanned.\nWhen set within
  `InspectDataSourceRequest`,\nthe maximum returned is 1000 regardless if this is
  set higher.\nWhen set within `InspectContentRequest`, this field is ignored.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"maxFindingsPerRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:165:\"Max
  number of findings that will be returned per request/job.\nWhen set within `InspectContentRequest`,
  the maximum returned is 1000\nregardless if this is set higher.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:47:\"GooglePrivacyDlpV2beta2FixedSizeBucketingConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:672:\"Buckets
  values based on fixed size ranges. The\nBucketing transformation can provide all
  of this functionality,\nbut requires more configuration. This message is provided
  as a convenience to\nthe user for simple bucketing strategies.\n\nThe transformed
  value will be a hyphenated string of\n<lower_bound>-<upper_bound>, i.e if lower_bound
  = 10 and upper_bound = 20\nall values that are within this bucket will be replaced
  with \"10-20\".\n\nThis can be used on data of type: double, long.\n\nIf the bound
  Value type differs from the type of data\nbeing transformed, we will first attempt
  converting the type of the data to\nbe transformed to match the type of the bound
  before comparing.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"bucketSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:285:\"Size
  of each bucket (except for minimum and maximum buckets). So if\n`lower_bound` =
  10, `upper_bound` = 89, and `bucket_size` = 10, then the\nfollowing buckets would
  be used: -10, 10-20, 20-30, 30-40, 40-50, 50-60,\n60-70, 70-80, 80-89, 89+. Precision
  up to 2 decimals works. [Required].\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"lowerBound\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta2Value\";s:11:\"description\";s:222:\"Lower
  bound value of buckets. All values less than `lower_bound` are\ngrouped together
  into a single bucket; for example if `lower_bound` = 10,\nthen all values less than
  10 are replaced with the value \u201C-10\u201D. [Required].\";}s:10:\"upperBound\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta2Value\";s:11:\"description\";s:226:\"Upper
  bound value of buckets. All values greater than upper_bound are\ngrouped together
  into a single bucket; for example if `upper_bound` = 89,\nthen all values greater
  than 89 are replaced with the value \u201C89+\u201D.\n[Required].\";}}s:4:\"type\";s:6:\"object\";}s:34:\"GooglePrivacyDlpV2beta2HotwordRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Detection
  rule that adjusts the likelihood of findings within a certain\nproximity of hotwords.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"hotwordRegex\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta2Regex\";s:11:\"description\";s:51:\"Regex
  pattern defining what qualifies as a hotword.\";}s:20:\"likelihoodAdjustment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/GooglePrivacyDlpV2beta2LikelihoodAdjustment\";s:11:\"description\";s:56:\"Likelihood
  adjustment to apply to all matching findings.\";}s:9:\"proximity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/GooglePrivacyDlpV2beta2Proximity\";s:11:\"description\";s:514:\"Proximity
  of the finding within which the entire hotword must reside.\nThe total length of
  the window cannot exceed 1000 characters. Note that\nthe finding itself will be
  included in the window, so that hotwords may\nbe used to match substrings of the
  finding itself. For example, the\ncertainty of a phone number regex \"\\(\\d{3}\\)
  \\d{3}-\\d{4}\" could be\nadjusted upwards if the area code is known to be the local
  area code of\na company office using the hotword regex \"\\(xxx\\)\", where \"xxx\"\nis
  the area code in question.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GooglePrivacyDlpV2beta2ImageLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Bounding
  box encompassing detected text within an image.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Height
  of the bounding box in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"left\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Left
  coordinate of the bounding box. (0,0) is upper left.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"top\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Top
  coordinate of the bounding box. (0,0) is upper left.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Width
  of the bounding box in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:43:\"GooglePrivacyDlpV2beta2ImageRedactionConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Configuration
  for determining how redaction of images should occur.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"infoType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta2InfoType\";s:11:\"description\";s:241:\"Only
  one per info_type should be provided per request. If not\nspecified, and redact_all_text
  is false, the DLP API will redact all\ntext that it matches against all info_types
  that are found, but not\nspecified in another ImageRedactionConfig.\";}s:13:\"redactAllText\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"If
  true, all text found in the image, regardless whether it matches an\ninfo_type,
  is redacted.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"redactionColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GooglePrivacyDlpV2beta2Color\";s:11:\"description\";s:94:\"The
  color to use when redacting content from an image. If not specified,\nthe default
  is black.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"GooglePrivacyDlpV2beta2InfoType\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Type
  of information detected by the API.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Name
  of the information type.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:42:\"GooglePrivacyDlpV2beta2InfoTypeDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"InfoType
  description.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Human
  readable form of the infoType name.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Internal
  name of the infoType.\";s:4:\"type\";s:6:\"string\";}s:11:\"supportedBy\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Which
  parts of the API supports this InfoType.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:21:\"ENUM_TYPE_UNSPECIFIED\";i:1;s:7:\"INSPECT\";i:2;s:13:\"RISK_ANALYSIS\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GooglePrivacyDlpV2beta2InfoTypeLimit\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Max
  findings configuration per infoType, per content item or long\nrunning DlpJob.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"infoType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta2InfoType\";s:11:\"description\";s:256:\"Type
  of information the findings limit applies to. Only one limit per\ninfo_type should
  be provided. If InfoTypeLimit does not have an\ninfo_type, the DLP API applies the
  limit against all info_types that\nare found but not specified in another InfoTypeLimit.\";}s:11:\"maxFindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Max
  findings limit for the given infoType.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:41:\"GooglePrivacyDlpV2beta2InfoTypeStatistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Statistics
  regarding a specific InfoType.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Number
  of findings for this infoType.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"infoType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GooglePrivacyDlpV2beta2InfoType\";s:11:\"description\";s:37:\"The
  type of finding this stat is for.\";}}s:4:\"type\";s:6:\"object\";}s:45:\"GooglePrivacyDlpV2beta2InfoTypeTransformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"A
  transformation to apply to text that is identified as a specific\ninfo_type.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"infoTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"InfoTypes
[...]
