---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:9:\"setlistfm\";}s:11:\"description\";s:3183:\"<p>\nThe
  setlist.fm API has been designed to give you easy access to setlist data in order
  to build fancy websites and\nother applications. Before starting to use the API,
  be sure to ...\n<ol>\n<li>... understand how setlist.fm works (the <a href=\"https://www.setlist.fm/faq\">FAQ</a>
  and the\n<a href=\"https://www.setlist.fm/guidelines\">Guidelines</a> are a good
  starting point),</li>\n<li>... read this documentation carefully and</li>\n<li>...
  <a href=\"https://www.setlist.fm/settings/api\">apply for an API key</a> (link for
  logged in users only) - if\nyou're no registered user yet, then <a href=\"https://www.setlist.fm/signup\">register
  first</a> (it's free).</li>\n</ol>\n</p>\n<p>\nIf this documentation isn't enough
  or if you've got other things you'd like to tell us about the API, visit the\n<a
  href=\"https://www.setlist.fm/forum/setlistfm/setlistfm-api\">API Forum</a>.\n</p>\n<p>\nNote
  that the setlist.fm API is, according to the <a href=\"https://www.setlist.fm/help/api-terms\">API
  terms of\nservice</a>, only free for non-commercial projects. If you're interested
  in using the API for commercial purposes,\n<a href=\"https://www.setlist.fm/contact\">contact
  us</a>.\n</p>\n\n<h2>About this Service</h2>\n<p>\nThis service provides methods
  to get both setlists and components of setlists such as artists, cities, countries
  or\nvenues.\n</p>\n\n<h2>Supported Content Types</h2>\n<p>\nThe REST service currently
  supports XML (default) and JSON content.\n</p>\n<p>\nTo receive a JSON response,
  set the <code>Accept</code>\n<a href=\"https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.1\">header</a>
  to <em>application/json</em>.\n</p>\n\n<h2>Internationalization</h2>\n<p>\n<small>(Please
  note that this is an experimental feature and does not work for all cities!)</small>\n</p>\n<p>\nMost
  of the featured methods honor the <code>Accept-Language</code>\n<a href=\"https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.4\">header</a>.
  This header is used for\nlocalizing cities and countries. The default language is
  English (en), but you can provide any of the languages\nSpanish (es), French (fr),
  German (de), Portuguese (pt), Turkish (tr), Italian (it) or Polish (pl).\n</p>\n<p>\nE.g.
  if you search a setlist for a concert that took place in Vienna and you pass &quot;de&quot;
  as header, you'll\nget <em>&quot;Wien, &Ouml;sterreich&quot;</em> instead of <em>&quot;Vienna,
  Austria&quot;</em>.<br/>\nThis also works if you use a different language than the
  country's native language.\n</p>\n<p>\nE.g. for a concert in New York, you'll get
  <em>&quot;Nueva York, Estados Unidos&quot;</em> instead of <em>&quot;New\nYork,
  United States&quot;</em> if you pass &quot;es&quot; as language.\n</p>\n\n<h2>API
  Keys</h2>\n\nAPI keys (<a href=\"https://www.setlist.fm/settings/api\">application
  form</a>) must be included in the request with\nthe <code>x-api-key</code> header.\n\n<h2>Version
  History</h2>\n<table class=\"table table-bordered table-versions\">\n<thead>\n<tr>\n<th>Version</th>\n<th>Docs</th>\n<th>End
  of Service</th>\n</tr>\n</thead> <tbody>\n<tr>\n<td><strong>1.0</strong></td>\n<td><a
  href=\"/docs/1.0\">Docs</a></td>\n<td>-</li>\n</tr>\n<tr>\n<td><strong>0.1</strong></td>\n<td></td>\n<td>December
  31, 2017</li>\n</tr>\n</tbody>\n</table>\";s:5:\"title\";s:10:\"setlist.fm\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_setlistfm_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:47:\"https://api.setlist.fm/docs/1.0/ui/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"setlist.fm\";}"
host: api.setlist.fm
basePath: /rest
paths:
  /1.0/artist/{mbid}:
    get:
      description: <p>nReturns an artist for a given Musicbrainz MBIDn</p>
      operationId: resource__1.0_artist__mbid__getArtist_GET
      parameters:
      - description: a Musicbrainz MBID, e.g. 0bfba3d3-6a04-4779-bb0a-df07df5b0558
        in: path
        name: mbid
        required: true
        type: string
      responses:
        200:
          description: Success
          examples:
            application/json:
              disambiguation: John, Paul, George and Ringo
              mbid: b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d
              name: The Beatles
              sortName: Beatles, The
              tmid: 735610
              url: https://www.setlist.fm/setlists/the-beatles-23d6a88b.html
          headers: []
          schema:
            $ref: '#/definitions/json_Artist'
            description: ""
      summary: .
      tags:
      - /1.0/artist/{mbid}
  /1.0/artist/{mbid}/setlists:
    get:
      description: <p>nGet a list of an artist's setlists.n</p>
      operationId: resource__1.0_artist__mbid__setlists_getArtistSetlists_GET
      parameters:
      - description: the Musicbrainz MBID of the artist
        in: path
        name: mbid
        required: true
        type: string
      - default: 1
        description: the number of the result page
        in: query
        name: p
        type: integer
      responses:
        200:
          description: Success
          examples:
            application/json:
              itemsPerPage: 20
              page: 1
              setlist:
              - artist:
                  disambiguation: John, Paul, George and Ringo
                  mbid: b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d
                  name: The Beatles
                  sortName: Beatles, The
                  tmid: 735610
                  url: https://www.setlist.fm/setlists/the-beatles-23d6a88b.html
                eventDate: 23-08-1964
                id: 63de4613
                info: Recorded and published as 'The Beatles at the Hollywood Bowl'
                lastUpdated: "2013-10-20T05:18:08.000+0000"
                set:
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                tour:
                  name: North American Tour 1964
                url: https://www.setlist.fm/setlist/the-beatles/1964/hollywood-bowl-hollywood-ca-63de4613.html
                venue:
                  city: []
                  id: 6bd6ca6e
                  name: Compaq Center
                  url: https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html
                versionId: 7be1aaa0
              - artist:
                  disambiguation: '...'
                  mbid: '...'
                  name: '...'
                  sortName: '...'
                  tmid: 12345
                  url: '...'
                eventDate: '...'
                id: '...'
                info: '...'
                lastUpdated: '...'
                set:
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                tour:
                  name: '...'
                url: '...'
                venue:
                  city: []
                  id: '...'
                  name: '...'
                  url: '...'
                versionId: '...'
              total: 42
          headers: []
          schema:
            $ref: '#/definitions/json_Setlists'
            description: ""
      summary: .
      tags:
      - /1.0/artist/{mbid}/setlists
  /1.0/city/{geoId}:
    get:
      description: Get a city by its unique geoId.
      operationId: resource__1.0_city__geoId__getCity_GET
      parameters:
      - description: the city's geoId
        in: path
        name: geoId
        required: true
        type: string
      responses:
        200:
          description: Success
          examples:
            application/json:
              coords:
                lat: 34.098343
                long: -118.326743
              country:
                code: US
                name: United States
              id: "5357527"
              name: Hollywood
              state: California
              stateCode: CA
          headers: []
          schema:
            $ref: '#/definitions/json_City'
            description: ""
      summary: Get a city by its unique geoId.
      tags:
      - /1.0/city/{geoId}
  /1.0/search/artists:
    get:
      description: Search for artists.
      operationId: resource__1.0_search_artists_getArtists_GET
      parameters:
      - description: the artist's Musicbrainz Identifier (mbid)
        in: query
        name: artistMbid
        type: string
      - description: the artist's name
        in: query
        name: artistName
        type: string
      - description: the artist's Ticketmaster Identifier (tmid)
        in: query
        name: artistTmid
        type: integer
      - default: 1
        description: the number of the result page you'd like to have
        in: query
        name: p
        type: integer
      - default: sortName
        description: the sort of the result, either sortName (default) or relevance
        in: query
        name: sort
        type: string
      responses:
        200:
          description: Success
          examples:
            application/json:
              artist:
              - disambiguation: John, Paul, George and Ringo
                mbid: b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d
                name: The Beatles
                sortName: Beatles, The
                tmid: 735610
                url: https://www.setlist.fm/setlists/the-beatles-23d6a88b.html
              - disambiguation: '...'
                mbid: '...'
                name: '...'
                sortName: '...'
                tmid: 12345
                url: '...'
              itemsPerPage: 20
              page: 1
              total: 42
          headers: []
          schema:
            $ref: '#/definitions/json_Artists'
            description: ""
      summary: Search for artists.
      tags:
      - /1.0/search/artists
  /1.0/search/cities:
    get:
      description: Search for a city.
      operationId: resource__1.0_search_cities_getCities_GET
      parameters:
      - description: the city's country
        in: query
        name: country
        type: string
      - description: name of the city
        in: query
        name: name
        type: string
      - default: 1
        description: the number of the result page you'd like to have
        in: query
        name: p
        type: integer
      - description: state the city lies in
        in: query
        name: state
        type: string
      - description: state code the city lies in
        in: query
        name: stateCode
        type: string
      responses:
        200:
          description: Success
          examples:
            application/json:
              cities:
              - coords:
                  lat: 34.098343
                  long: -118.326743
                country:
                  code: US
                  name: United States
                id: "5357527"
                name: Hollywood
                state: California
                stateCode: CA
              - coords:
                  lat: 12345
                  long: 12345
                country:
                  code: '...'
                  name: '...'
                id: '...'
                name: '...'
                state: '...'
                stateCode: '...'
              itemsPerPage: 20
              page: 1
              total: 42
          headers: []
          schema:
            $ref: '#/definitions/json_Cities'
            description: ""
      summary: Search for a city.
      tags:
      - /1.0/search/cities
  /1.0/search/countries:
    get:
      description: Get a complete list of all supported countries.
      operationId: resource__1.0_search_countries_getCountries_GET
      parameters: []
      responses:
        200:
          description: Success
          examples:
            application/json:
              country:
              - code: US
                name: United States
              - code: '...'
                name: '...'
              itemsPerPage: 20
              page: 1
              total: 42
          headers: []
          schema:
            $ref: '#/definitions/json_Countries'
            description: ""
      summary: Get a complete list of all supported countries.
      tags:
      - /1.0/search/countries
  /1.0/search/setlists:
    get:
      description: Search for setlists.
      operationId: resource__1.0_search_setlists_getSetlists_GET
      parameters:
      - description: the artist's Musicbrainz Identifier (mbid)
        in: query
        name: artistMbid
        type: string
      - description: the artist's name
        in: query
        name: artistName
        type: string
      - description: the artist's Ticketmaster Identifier (tmid)
        in: query
        name: artistTmid
        type: integer
      - description: the city's geoId
        in: query
        name: cityId
        type: string
      - description: the name of the city
        in: query
        name: cityName
        type: string
      - description: the country code
        in: query
        name: countryCode
        type: string
      - description: the date of the event (format dd-MM-yyyy)
        in: query
        name: date
        type: string
      - description: the event's Last.fm Event ID (deprecated)
        in: query
        name: lastFm
        type: integer
      - description: the date and time (UTC) when this setlist was last updated (format
          yyyyMMddHHmmss) - either edited ornreverted. search will return setlists
          that were updated on or after this date
        in: query
        name: lastUpdated
        type: string
      - default: 1
        description: the number of the result page
        in: query
        name: p
        type: integer
      - description: the state
        in: query
        name: state
        type: string
      - description: the state code
        in: query
        name: stateCode
        type: string
      - description: ""
        in: query
        name: tourName
        type: string
      - description: the venue id
        in: query
        name: venueId
        type: string
      - description: the name of the venue
        in: query
        name: venueName
        type: string
      - description: the year of the event
        in: query
        name: year
        type: string
      responses:
        200:
          description: Success
          examples:
            application/json:
              itemsPerPage: 20
              page: 1
              setlist:
              - artist:
                  disambiguation: John, Paul, George and Ringo
                  mbid: b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d
                  name: The Beatles
                  sortName: Beatles, The
                  tmid: 735610
                  url: https://www.setlist.fm/setlists/the-beatles-23d6a88b.html
                eventDate: 23-08-1964
                id: 63de4613
                info: Recorded and published as 'The Beatles at the Hollywood Bowl'
                lastUpdated: "2013-10-20T05:18:08.000+0000"
                set:
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                tour:
                  name: North American Tour 1964
                url: https://www.setlist.fm/setlist/the-beatles/1964/hollywood-bowl-hollywood-ca-63de4613.html
                venue:
                  city: []
                  id: 6bd6ca6e
                  name: Compaq Center
                  url: https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html
                versionId: 7be1aaa0
              - artist:
                  disambiguation: '...'
                  mbid: '...'
                  name: '...'
                  sortName: '...'
                  tmid: 12345
                  url: '...'
                eventDate: '...'
                id: '...'
                info: '...'
                lastUpdated: '...'
                set:
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                tour:
                  name: '...'
                url: '...'
                venue:
                  city: []
                  id: '...'
                  name: '...'
                  url: '...'
                versionId: '...'
              total: 42
          headers: []
          schema:
            $ref: '#/definitions/json_Setlists'
            description: ""
      summary: Search for setlists.
      tags:
      - /1.0/search/setlists
  /1.0/search/venues:
    get:
      description: Search for venues.
      operationId: resource__1.0_search_venues_getVenues_GET
      parameters:
      - description: the city's geoId
        in: query
        name: cityId
        type: string
      - description: name of the city where the venue is located
        in: query
        name: cityName
        type: string
      - description: the city's country
        in: query
        name: country
        type: string
      - description: name of the venue
        in: query
        name: name
        type: string
      - default: 1
        description: the number of the result page you'd like to have
        in: query
        name: p
        type: integer
      - description: the city's state
        in: query
        name: state
        type: string
      - description: the city's state code
        in: query
        name: stateCode
        type: string
      responses:
        200:
          description: Success
          examples:
            application/json:
              itemsPerPage: 20
              page: 1
              total: 42
              venue:
              - city:
                  coords: []
                  country: []
                  id: "5357527"
                  name: Hollywood
                  state: California
                  stateCode: CA
                id: 6bd6ca6e
                name: Compaq Center
                url: https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html
              - city:
                  coords: []
                  country: []
                  id: '...'
                  name: '...'
                  state: '...'
                  stateCode: '...'
                id: '...'
                name: '...'
                url: '...'
          headers: []
          schema:
            $ref: '#/definitions/json_Venues'
            description: ""
      summary: Search for venues.
      tags:
      - /1.0/search/venues
  /1.0/setlist/version/{versionId}:
    get:
      description: <p>nReturns a setlist for the given versionId. The setlist returned
        isn't necessarily the most recent version. E.g.nif you pass the versionId
        of a setlist that got edited since you last accessed it, you'll get the same
        version asnlast time.n</p>
      operationId: resource__1.0_setlist_version__versionId__getSetlistVersion_GET
      parameters:
      - description: the version id
        in: path
        name: versionId
        required: true
        type: string
      responses:
        200:
          description: Success
          examples:
            application/json:
              artist:
                disambiguation: John, Paul, George and Ringo
                mbid: b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d
                name: The Beatles
                sortName: Beatles, The
                tmid: 735610
                url: https://www.setlist.fm/setlists/the-beatles-23d6a88b.html
              eventDate: 23-08-1964
              id: 63de4613
              info: Recorded and published as 'The Beatles at the Hollywood Bowl'
              lastUpdated: "2013-10-20T05:18:08.000+0000"
              set:
              - encore: 12345
                name: '...'
                song:
                - cover: []
                  info: '...'
                  name: Yesterday
                  tape: false
                  with: []
                - cover: []
                  info: '...'
                  name: '...'
                  tape: true
                  with: []
              - encore: 12345
                name: '...'
                song:
                - cover: []
                  info: '...'
                  name: '...'
                  tape: true
                  with: []
                - cover: []
                  info: '...'
                  name: '...'
                  tape: true
                  with: []
              tour:
                name: North American Tour 1964
              url: https://www.setlist.fm/setlist/the-beatles/1964/hollywood-bowl-hollywood-ca-63de4613.html
              venue:
                city:
                  coords: []
                  country: []
                  id: "5357527"
                  name: Hollywood
                  state: California
                  stateCode: CA
                id: 6bd6ca6e
                name: Compaq Center
                url: https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html
              versionId: 7be1aaa0
          headers: []
          schema:
            $ref: '#/definitions/json_Setlist'
            description: ""
      summary: .
      tags:
      - /1.0/setlist/version/{versionId}
  /1.0/setlist/{setlistId}:
    get:
      description: <p>nReturns the current version of a setlist. E.g. if you pass
        the id of a setlist that got edited since you lastnaccessed it, you'll get
        the current version.n</p>
      operationId: resource__1.0_setlist__setlistId__getSetlist_GET
      parameters:
      - description: the setlist id
        in: path
        name: setlistId
        required: true
        type: string
      responses:
        200:
          description: Success
          examples:
            application/json:
              artist:
                disambiguation: John, Paul, George and Ringo
                mbid: b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d
                name: The Beatles
                sortName: Beatles, The
                tmid: 735610
                url: https://www.setlist.fm/setlists/the-beatles-23d6a88b.html
              eventDate: 23-08-1964
              id: 63de4613
              info: Recorded and published as 'The Beatles at the Hollywood Bowl'
              lastUpdated: "2013-10-20T05:18:08.000+0000"
              set:
              - encore: 12345
                name: '...'
                song:
                - cover: []
                  info: '...'
                  name: Yesterday
                  tape: false
                  with: []
                - cover: []
                  info: '...'
                  name: '...'
                  tape: true
                  with: []
              - encore: 12345
                name: '...'
                song:
                - cover: []
                  info: '...'
                  name: '...'
                  tape: true
                  with: []
                - cover: []
                  info: '...'
                  name: '...'
                  tape: true
                  with: []
              tour:
                name: North American Tour 1964
              url: https://www.setlist.fm/setlist/the-beatles/1964/hollywood-bowl-hollywood-ca-63de4613.html
              venue:
                city:
                  coords: []
                  country: []
                  id: "5357527"
                  name: Hollywood
                  state: California
                  stateCode: CA
                id: 6bd6ca6e
                name: Compaq Center
                url: https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html
              versionId: 7be1aaa0
          headers: []
          schema:
            $ref: '#/definitions/json_Setlist'
            description: ""
      summary: .
      tags:
      - /1.0/setlist/{setlistId}
  /1.0/user/{userId}:
    get:
      description: Get a user by userId.
      operationId: resource__1.0_user__userId__getUser_GET
      parameters:
      - description: the user's userId
        in: path
        name: userId
        required: true
        type: string
      responses:
        200:
          description: Success
          examples:
            application/json:
              about: '...'
              flickr: '...'
              fullname: '...'
              lastFm: '...'
              mySpace: '...'
              twitter: '...'
              url: '...'
              userId: '...'
              website: '...'
          headers: []
          schema:
            $ref: '#/definitions/json_User'
            description: ""
      summary: Get a user by userId.
      tags:
      - /1.0/user/{userId}
  /1.0/user/{userId}/attended:
    get:
      description: <p>nGet a list of setlists of concerts attended by a user.n</p>
      operationId: resource__1.0_user__userId__attended_getUserAttendedSetlists_GET
      parameters:
      - description: the user's userId
        in: path
        name: userId
        required: true
        type: string
      - default: 1
        description: the number of the result page
        in: query
        name: p
        type: integer
      responses:
        200:
          description: Success
          examples:
            application/json:
              itemsPerPage: 20
              page: 1
              setlist:
              - artist:
                  disambiguation: John, Paul, George and Ringo
                  mbid: b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d
                  name: The Beatles
                  sortName: Beatles, The
                  tmid: 735610
                  url: https://www.setlist.fm/setlists/the-beatles-23d6a88b.html
                eventDate: 23-08-1964
                id: 63de4613
                info: Recorded and published as 'The Beatles at the Hollywood Bowl'
                lastUpdated: "2013-10-20T05:18:08.000+0000"
                set:
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                tour:
                  name: North American Tour 1964
                url: https://www.setlist.fm/setlist/the-beatles/1964/hollywood-bowl-hollywood-ca-63de4613.html
                venue:
                  city: []
                  id: 6bd6ca6e
                  name: Compaq Center
                  url: https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html
                versionId: 7be1aaa0
              - artist:
                  disambiguation: '...'
                  mbid: '...'
                  name: '...'
                  sortName: '...'
                  tmid: 12345
                  url: '...'
                eventDate: '...'
                id: '...'
                info: '...'
                lastUpdated: '...'
                set:
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                tour:
                  name: '...'
                url: '...'
                venue:
                  city: []
                  id: '...'
                  name: '...'
                  url: '...'
                versionId: '...'
              total: 42
          headers: []
          schema:
            $ref: '#/definitions/json_Setlists'
            description: ""
      summary: .
      tags:
      - /1.0/user/{userId}/attended
  /1.0/user/{userId}/edited:
    get:
      description: <p>nGet a list of setlists of concerts edited by a user. The list
        contains the current version, not the versionnedited.n</p>
      operationId: resource__1.0_user__userId__edited_getUserEditedSetlists_GET
      parameters:
      - description: the user's userId
        in: path
        name: userId
        required: true
        type: string
      - default: 1
        description: the number of the result page
        in: query
        name: p
        type: integer
      responses:
        200:
          description: Success
          examples:
            application/json:
              itemsPerPage: 20
              page: 1
              setlist:
              - artist:
                  disambiguation: John, Paul, George and Ringo
                  mbid: b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d
                  name: The Beatles
                  sortName: Beatles, The
                  tmid: 735610
                  url: https://www.setlist.fm/setlists/the-beatles-23d6a88b.html
                eventDate: 23-08-1964
                id: 63de4613
                info: Recorded and published as 'The Beatles at the Hollywood Bowl'
                lastUpdated: "2013-10-20T05:18:08.000+0000"
                set:
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                tour:
                  name: North American Tour 1964
                url: https://www.setlist.fm/setlist/the-beatles/1964/hollywood-bowl-hollywood-ca-63de4613.html
                venue:
                  city: []
                  id: 6bd6ca6e
                  name: Compaq Center
                  url: https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html
                versionId: 7be1aaa0
              - artist:
                  disambiguation: '...'
                  mbid: '...'
                  name: '...'
                  sortName: '...'
                  tmid: 12345
                  url: '...'
                eventDate: '...'
                id: '...'
                info: '...'
                lastUpdated: '...'
                set:
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                tour:
                  name: '...'
                url: '...'
                venue:
                  city: []
                  id: '...'
                  name: '...'
                  url: '...'
                versionId: '...'
              total: 42
          headers: []
          schema:
            $ref: '#/definitions/json_Setlists'
            description: ""
      summary: .
      tags:
      - /1.0/user/{userId}/edited
  /1.0/venue/{venueId}:
    get:
      description: Get a venue by its unique id.
      operationId: resource__1.0_venue__venueId__getVenue_GET
      parameters:
      - description: the venue's id
        in: path
        name: venueId
        required: true
        type: string
      responses:
        200:
          description: Success
          examples:
            application/json:
              city:
                coords:
                  lat: 34.098343
                  long: -118.326743
                country:
                  code: US
                  name: United States
                id: "5357527"
                name: Hollywood
                state: California
                stateCode: CA
              id: 6bd6ca6e
              name: Compaq Center
              url: https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html
          headers: []
          schema:
            $ref: '#/definitions/json_Venue'
            description: ""
      summary: Get a venue by its unique id.
      tags:
      - /1.0/venue/{venueId}
  /1.0/venue/{venueId}/setlists:
    get:
      description: <p>nGet setlists for a specific venue.n</p>
      operationId: resource__1.0_venue__venueId__setlists_getVenueSetlists_GET
      parameters:
      - description: the id of the venue
        in: path
        name: venueId
        required: true
        type: string
      - default: 1
        description: the number of the result page
        in: query
        name: p
        type: integer
      responses:
        200:
          description: Success
          examples:
            application/json:
              itemsPerPage: 20
              page: 1
              setlist:
              - artist:
                  disambiguation: John, Paul, George and Ringo
                  mbid: b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d
                  name: The Beatles
                  sortName: Beatles, The
                  tmid: 735610
                  url: https://www.setlist.fm/setlists/the-beatles-23d6a88b.html
                eventDate: 23-08-1964
                id: 63de4613
                info: Recorded and published as 'The Beatles at the Hollywood Bowl'
                lastUpdated: "2013-10-20T05:18:08.000+0000"
                set:
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                tour:
                  name: North American Tour 1964
                url: https://www.setlist.fm/setlist/the-beatles/1964/hollywood-bowl-hollywood-ca-63de4613.html
                venue:
                  city: []
                  id: 6bd6ca6e
                  name: Compaq Center
                  url: https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html
                versionId: 7be1aaa0
              - artist:
                  disambiguation: '...'
                  mbid: '...'
                  name: '...'
                  sortName: '...'
                  tmid: 12345
                  url: '...'
                eventDate: '...'
                id: '...'
                info: '...'
                lastUpdated: '...'
                set:
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                - encore: 12345
                  name: '...'
                  song:
                  - []
                  - []
                tour:
                  name: '...'
                url: '...'
                venue:
                  city: []
                  id: '...'
                  name: '...'
                  url: '...'
                versionId: '...'
              total: 42
          headers: []
          schema:
            $ref: '#/definitions/json_Setlists'
            description: ""
      summary: .
      tags:
      - /1.0/venue/{venueId}/setlists
produces:
- application/xml
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":33:{s:11:\"json_Artist\";O:8:\"stdClass\":5:{s:11:\"description\";s:235:\"This
  class represents an artist. An artist is a musician or a group of musicians. Each
  artist has a definite\n<a href=\"http://wiki.musicbrainz.org/MBID\">Musicbrainz
  Identifier</a> (MBID) with which the artist can be uniquely\nidentified.\";s:7:\"example\";O:8:\"stdClass\":6:{s:14:\"disambiguation\";s:28:\"John,
  Paul, George and Ringo\";s:4:\"mbid\";s:36:\"b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d\";s:4:\"name\";s:11:\"The
  Beatles\";s:8:\"sortName\";s:12:\"Beatles, The\";s:4:\"tmid\";i:735610;s:3:\"url\";s:57:\"https://www.setlist.fm/setlists/the-beatles-23d6a88b.html\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"disambiguation\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"disambiguation
  to distinguish between artists with same names\";s:7:\"example\";s:28:\"John, Paul,
  George and Ringo\";s:4:\"type\";s:6:\"string\";}s:4:\"mbid\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"unique
  Musicbrainz Identifier (MBID), e.g. <em>&quot;b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d&quot;</em>\";s:7:\"example\";s:36:\"b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"the
  artist's name, e.g. <em>&quot;The Beatles&quot;</em>\";s:7:\"example\";s:11:\"The
  Beatles\";s:4:\"type\";s:6:\"string\";}s:8:\"sortName\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"the
  artist's sort name, e.g. <em>&quot;Beatles, The&quot;</em> or <em>&quot;Springsteen,
  Bruce&quot;</em>\";s:7:\"example\";s:12:\"Beatles, The\";s:4:\"type\";s:6:\"string\";}s:4:\"tmid\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"unique
  Ticket Master Identifier (TMID), e.g. <em>735610</em>\";s:7:\"example\";i:735610;s:4:\"type\";s:6:\"number\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"the
  attribution url\";s:7:\"example\";s:57:\"https://www.setlist.fm/setlists/the-beatles-23d6a88b.html\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:6:\"artist\";s:4:\"type\";s:6:\"object\";}s:12:\"json_Artists\";O:8:\"stdClass\":5:{s:11:\"description\";s:41:\"A
  Result consisting of a list of artists.\";s:7:\"example\";O:8:\"stdClass\":4:{s:6:\"artist\";a:2:{i:0;O:8:\"stdClass\":6:{s:14:\"disambiguation\";s:28:\"John,
  Paul, George and Ringo\";s:4:\"mbid\";s:36:\"b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d\";s:4:\"name\";s:11:\"The
  Beatles\";s:8:\"sortName\";s:12:\"Beatles, The\";s:4:\"tmid\";i:735610;s:3:\"url\";s:57:\"https://www.setlist.fm/setlists/the-beatles-23d6a88b.html\";}i:1;O:8:\"stdClass\":6:{s:14:\"disambiguation\";s:3:\"...\";s:4:\"mbid\";s:3:\"...\";s:4:\"name\";s:3:\"...\";s:8:\"sortName\";s:3:\"...\";s:4:\"tmid\";i:12345;s:3:\"url\";s:3:\"...\";}}s:12:\"itemsPerPage\";i:20;s:4:\"page\";i:1;s:5:\"total\";i:42;}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"artist\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"result
  list of artists\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/json_Artist\";}s:4:\"type\";s:5:\"array\";}s:12:\"itemsPerPage\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"the
  amount of items you get per page\";s:7:\"example\";i:20;s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"the
  current page. starts at 1\";s:7:\"example\";i:1;s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"the
  total amount of items matching the query\";s:7:\"example\";i:42;s:4:\"type\";s:6:\"number\";}}s:5:\"title\";s:7:\"artists\";s:4:\"type\";s:6:\"object\";}s:11:\"json_Cities\";O:8:\"stdClass\":5:{s:11:\"description\";s:40:\"A
  Result consisting of a list of cities.\";s:7:\"example\";O:8:\"stdClass\":4:{s:6:\"cities\";a:2:{i:0;O:8:\"stdClass\":6:{s:6:\"coords\";O:8:\"stdClass\":2:{s:3:\"lat\";d:34.098342500000001;s:4:\"long\";d:-118.3267434;}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"code\";s:2:\"US\";s:4:\"name\";s:13:\"United
  States\";}s:2:\"id\";s:7:\"5357527\";s:4:\"name\";s:9:\"Hollywood\";s:5:\"state\";s:10:\"California\";s:9:\"stateCode\";s:2:\"CA\";}i:1;O:8:\"stdClass\":6:{s:6:\"coords\";O:8:\"stdClass\":2:{s:3:\"lat\";i:12345;s:4:\"long\";i:12345;}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"code\";s:3:\"...\";s:4:\"name\";s:3:\"...\";}s:2:\"id\";s:3:\"...\";s:4:\"name\";s:3:\"...\";s:5:\"state\";s:3:\"...\";s:9:\"stateCode\";s:3:\"...\";}}s:12:\"itemsPerPage\";i:20;s:4:\"page\";i:1;s:5:\"total\";i:42;}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"cities\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"result
  list of cities\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/json_City\";}s:4:\"type\";s:5:\"array\";}s:12:\"itemsPerPage\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"the
  amount of items you get per page\";s:7:\"example\";i:20;s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"the
  current page. starts at 1\";s:7:\"example\";i:1;s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"the
  total amount of items matching the query\";s:7:\"example\";i:42;s:4:\"type\";s:6:\"number\";}}s:5:\"title\";s:6:\"cities\";s:4:\"type\";s:6:\"object\";}s:9:\"json_City\";O:8:\"stdClass\":5:{s:11:\"description\";s:149:\"This
  class represents a city where Venues are located. Most of the original city data
  was taken from\n<a href=\"http://geonames.org/\">Geonames.org</a>.\";s:7:\"example\";O:8:\"stdClass\":6:{s:6:\"coords\";O:8:\"stdClass\":2:{s:3:\"lat\";d:34.098342500000001;s:4:\"long\";d:-118.3267434;}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"code\";s:2:\"US\";s:4:\"name\";s:13:\"United
  States\";}s:2:\"id\";s:7:\"5357527\";s:4:\"name\";s:9:\"Hollywood\";s:5:\"state\";s:10:\"California\";s:9:\"stateCode\";s:2:\"CA\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"coords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/json_Coords\";s:11:\"description\";s:76:\"The
  city's coordinates. Usually the coordinates of the city centre are used.\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/json_Country\";s:11:\"description\";s:19:\"The
  city's country.\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"unique
  identifier\";s:7:\"example\";s:7:\"5357527\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"the
  city's name, depending on the language valid values are e.g. <em>&quot;M&uuml;chen&quot;</em>
  or\n<em>Munich</em>\";s:7:\"example\";s:9:\"Hollywood\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  name of city's state, e.g. <em>&quot;Bavaria&quot;</em> or <em>&quot;Florida&quot;</em>\";s:7:\"example\";s:10:\"California\";s:4:\"type\";s:6:\"string\";}s:9:\"stateCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:790:\"The
  code of the city's state. For most countries this is a two-digit numeric code, with
  which the state can be\nidentified uniquely in the specific Country. The code can
  also be a String for other cities. Valid\nexamples are <em>&quot;CA&quot;</em> or
  <em>&quot;02&quot;</em>\n\nwhich in turn get uniquely identifiable when combined
  with the state's country:\n\n<em>&quot;US.CA&quot;</em> for California, United States
  or <em>&quot;DE.02&quot;</em> for Bavaria, Germany\n\nFor a complete list of available
  states (that aren't necessarily used in this database) is available in\n<a href=
  \"http://download.geonames.org/export/dump/admin1CodesASCII.txt\">a textfile on
  geonames.org</a>.\n\nNote that this code is only unique combined with the city's
  Country. The code alone is\n<strong>not</strong> unique.\";s:7:\"example\";s:2:\"CA\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:4:\"city\";s:4:\"type\";s:6:\"object\";}s:11:\"json_Coords\";O:8:\"stdClass\":5:{s:11:\"description\";s:60:\"Coordinates
  of a point on the globe. Mostly used for Cities.\";s:7:\"example\";O:8:\"stdClass\":2:{s:3:\"lat\";d:34.098342500000001;s:4:\"long\";d:-118.3267434;}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  latitude part of the coordinates.\";s:7:\"example\";d:34.098342500000001;s:4:\"type\";s:6:\"number\";}s:4:\"long\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  longitude part of the coordinates.\";s:7:\"example\";d:-118.3267434;s:4:\"type\";s:6:\"number\";}}s:5:\"title\";s:6:\"coords\";s:4:\"type\";s:6:\"object\";}s:14:\"json_Countries\";O:8:\"stdClass\":5:{s:11:\"description\";s:43:\"A
  Result consisting of a list of countries.\";s:7:\"example\";O:8:\"stdClass\":4:{s:7:\"country\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"code\";s:2:\"US\";s:4:\"name\";s:13:\"United
  States\";}i:1;O:8:\"stdClass\":2:{s:4:\"code\";s:3:\"...\";s:4:\"name\";s:3:\"...\";}}s:12:\"itemsPerPage\";i:20;s:4:\"page\";i:1;s:5:\"total\";i:42;}s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"result
  list of countries\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/json_Country\";}s:4:\"type\";s:5:\"array\";}s:12:\"itemsPerPage\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"the
  amount of items you get per page\";s:7:\"example\";i:20;s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"the
  current page. starts at 1\";s:7:\"example\";i:1;s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"the
  total amount of items matching the query\";s:7:\"example\";i:42;s:4:\"type\";s:6:\"number\";}}s:5:\"title\";s:9:\"countries\";s:4:\"type\";s:6:\"object\";}s:12:\"json_Country\";O:8:\"stdClass\":5:{s:11:\"description\";s:41:\"This
  class represents a country on earth.\";s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"code\";s:2:\"US\";s:4:\"name\";s:13:\"United
  States\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"The
  country's <a href= \"http://www.iso.org/iso/english_country_names_and_code_elements\"
  >ISO code</a>. E.g.\n<em>&quot;ie&quot;</em> for Ireland\";s:7:\"example\";s:2:\"US\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:165:\"The
  country's name. Can be a localized name - e.g. <em>&quot;Austria&quot;</em> or\n<em>&quot;&Ouml;sterreich&quot;</em>
  for Austria if the German name was requested.\";s:7:\"example\";s:13:\"United States\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:7:\"country\";s:4:\"type\";s:6:\"object\";}s:10:\"json_Error\";O:8:\"stdClass\":5:{s:11:\"description\";s:29:\"Returned
  in case of an error.\";s:7:\"example\";O:8:\"stdClass\":4:{s:4:\"code\";i:404;s:7:\"message\";s:12:\"unknown
  mbid\";s:6:\"status\";s:9:\"Not Found\";s:9:\"timestamp\";s:28:\"2016-12-08T17:52:48.817+0000\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"the
  HTTP status code\";s:7:\"example\";i:404;s:4:\"type\";s:6:\"number\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"an
  additional error message\";s:7:\"example\";s:12:\"unknown mbid\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"the
  HTTP status message\";s:7:\"example\";s:9:\"Not Found\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"current
  timestamp\";s:7:\"example\";s:28:\"2016-12-08T17:52:48.817+0000\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:5:\"error\";s:4:\"type\";s:6:\"object\";}s:8:\"json_Set\";O:8:\"stdClass\":5:{s:11:\"description\";s:165:\"A
  setlist consists of different (at least one) sets. Sets can either be sets as defined
  in the\n<a href=\"https://www.setlist.fm/guidelines\">Guidelines</a> or encores.\";s:7:\"example\";O:8:\"stdClass\":3:{s:6:\"encore\";i:12345;s:4:\"name\";s:3:\"...\";s:4:\"song\";a:2:{i:0;O:8:\"stdClass\":5:{s:5:\"cover\";O:8:\"stdClass\":6:{s:14:\"disambiguation\";s:28:\"John,
  Paul, George and Ringo\";s:4:\"mbid\";s:36:\"b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d\";s:4:\"name\";s:11:\"The
  Beatles\";s:8:\"sortName\";s:12:\"Beatles, The\";s:4:\"tmid\";i:735610;s:3:\"url\";s:57:\"https://www.setlist.fm/setlists/the-beatles-23d6a88b.html\";}s:4:\"info\";s:3:\"...\";s:4:\"name\";s:9:\"Yesterday\";s:4:\"tape\";b:0;s:4:\"with\";O:8:\"stdClass\":6:{s:14:\"disambiguation\";s:28:\"John,
  Paul, George and Ringo\";s:4:\"mbid\";s:36:\"b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d\";s:4:\"name\";s:11:\"The
  Beatles\";s:8:\"sortName\";s:12:\"Beatles, The\";s:4:\"tmid\";i:735610;s:3:\"url\";s:57:\"https://www.setlist.fm/setlists/the-beatles-23d6a88b.html\";}}i:1;O:8:\"stdClass\":5:{s:5:\"cover\";O:8:\"stdClass\":6:{s:14:\"disambiguation\";s:3:\"...\";s:4:\"mbid\";s:3:\"...\";s:4:\"name\";s:3:\"...\";s:8:\"sortName\";s:3:\"...\";s:4:\"tmid\";i:12345;s:3:\"url\";s:3:\"...\";}s:4:\"info\";s:3:\"...\";s:4:\"name\";s:3:\"...\";s:4:\"tape\";b:1;s:4:\"with\";O:8:\"stdClass\":6:{s:14:\"disambiguation\";s:3:\"...\";s:4:\"mbid\";s:3:\"...\";s:4:\"name\";s:3:\"...\";s:8:\"sortName\";s:3:\"...\";s:4:\"tmid\";i:12345;s:3:\"url\";s:3:\"...\";}}}}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"encore\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"if
  the set is an encore, this is the number of the encore, starting with 1 for the
  first encore, 2 for the second\nand so on.\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"the
  description/name of the set. E.g. <em>&quot;Acoustic set&quot;</em> or <em>&quot;Paul
  McCartney\nsolo&quot;</em>\";s:4:\"type\";s:6:\"string\";}s:4:\"song\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"this
  set's songs\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/json_Song\";}s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:3:\"set\";s:4:\"type\";s:6:\"object\";}s:12:\"json_Setlist\";O:8:\"stdClass\":5:{s:11:\"description\";s:640:\"Setlists,
  that's what it's all about. So if you're trying to use this API without knowing
  what a setlist is then\nyou're kinda wrong on this page ;-).\n\nA setlist can be
  distinguished from other setlists by its unique id. But as\n<a href=\"https://www.setlist.fm/\">setlist.fm</a>
  works the wiki way, there can be different versions of one setlist\n(each time a
  user updates a setlist a new version gets created). These different versions have
  a unique id on its\nown. So setlists can have the same id although they differ as
  far as the content is concerned - thus the best way to\ncheck if two setlists are
  the same is to compare their versionIds.\";s:7:\"example\";O:8:\"stdClass\":10:{s:6:\"artist\";O:8:\"stdClass\":6:{s:14:\"disambiguation\";s:28:\"John,
  Paul, George and Ringo\";s:4:\"mbid\";s:36:\"b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d\";s:4:\"name\";s:11:\"The
  Beatles\";s:8:\"sortName\";s:12:\"Beatles, The\";s:4:\"tmid\";i:735610;s:3:\"url\";s:57:\"https://www.setlist.fm/setlists/the-beatles-23d6a88b.html\";}s:9:\"eventDate\";s:10:\"23-08-1964\";s:2:\"id\";s:8:\"63de4613\";s:4:\"info\";s:61:\"Recorded
  and published as 'The Beatles at the Hollywood Bowl'\";s:11:\"lastUpdated\";s:28:\"2013-10-20T05:18:08.000+0000\";s:3:\"set\";a:2:{i:0;O:8:\"stdClass\":3:{s:6:\"encore\";i:12345;s:4:\"name\";s:3:\"...\";s:4:\"song\";a:2:{i:0;O:8:\"stdClass\":5:{s:5:\"cover\";O:8:\"stdClass\":0:{}s:4:\"info\";s:3:\"...\";s:4:\"name\";s:9:\"Yesterday\";s:4:\"tape\";b:0;s:4:\"with\";O:8:\"stdClass\":0:{}}i:1;O:8:\"stdClass\":5:{s:5:\"cover\";O:8:\"stdClass\":0:{}s:4:\"info\";s:3:\"...\";s:4:\"name\";s:3:\"...\";s:4:\"tape\";b:1;s:4:\"with\";O:8:\"stdClass\":0:{}}}}i:1;O:8:\"stdClass\":3:{s:6:\"encore\";i:12345;s:4:\"name\";s:3:\"...\";s:4:\"song\";a:2:{i:0;O:8:\"stdClass\":5:{s:5:\"cover\";O:8:\"stdClass\":0:{}s:4:\"info\";s:3:\"...\";s:4:\"name\";s:3:\"...\";s:4:\"tape\";b:1;s:4:\"with\";O:8:\"stdClass\":0:{}}i:1;O:8:\"stdClass\":5:{s:5:\"cover\";O:8:\"stdClass\":0:{}s:4:\"info\";s:3:\"...\";s:4:\"name\";s:3:\"...\";s:4:\"tape\";b:1;s:4:\"with\";O:8:\"stdClass\":0:{}}}}}s:4:\"tour\";O:8:\"stdClass\":1:{s:4:\"name\";s:24:\"North
  American Tour 1964\";}s:3:\"url\";s:89:\"https://www.setlist.fm/setlist/the-beatles/1964/hollywood-bowl-hollywood-ca-63de4613.html\";s:5:\"venue\";O:8:\"stdClass\":4:{s:4:\"city\";O:8:\"stdClass\":6:{s:6:\"coords\";O:8:\"stdClass\":0:{}s:7:\"country\";O:8:\"stdClass\":0:{}s:2:\"id\";s:7:\"5357527\";s:4:\"name\";s:9:\"Hollywood\";s:5:\"state\";s:10:\"California\";s:9:\"stateCode\";s:2:\"CA\";}s:2:\"id\";s:8:\"6bd6ca6e\";s:4:\"name\";s:13:\"Compaq
  Center\";s:3:\"url\";s:72:\"https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html\";}s:9:\"versionId\";s:8:\"7be1aaa0\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"artist\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/json_Artist\";s:11:\"description\";s:20:\"the
  setlist's artist\";}s:9:\"eventDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"date
  of the concert in the format &quot;dd-MM-yyyy&quot;\";s:7:\"example\";s:10:\"23-08-1964\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"unique
  identifier\";s:7:\"example\";s:8:\"63de4613\";s:4:\"type\";s:6:\"string\";}s:4:\"info\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"additional
  information on the concert - see the <a href=\"https://www.setlist.fm/guidelines\">setlist.fm\nguidelines</a>
  for a complete list of allowed content.\";s:7:\"example\";s:61:\"Recorded and published
  as 'The Beatles at the Hollywood Bowl'\";s:4:\"type\";s:6:\"string\";}s:13:\"lastFmEventId\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"the
  id this event has on <a href=\"http://last.fm/\">last.fm</a> (deprecated)\";s:7:\"example\";i:1164056;s:4:\"type\";s:6:\"number\";}s:11:\"lastUpdated\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"date,
  time and time zone of the last update to this setlist in the format\n&quot;yyyy-MM-dd'T'HH:mm:ss.SSSZZZZZ&quot;\";s:7:\"example\";s:28:\"2013-10-20T05:18:08.000+0000\";s:4:\"type\";s:6:\"string\";}s:3:\"set\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"all
  sets of this setlist\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/json_Set\";}s:4:\"type\";s:5:\"array\";}s:4:\"tour\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/json_Tour\";s:11:\"description\";s:18:\"the
  setlist's tour\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"the
  attribution url to which you have to link to wherever you use data from this setlist
  in your application\";s:7:\"example\";s:89:\"https://www.setlist.fm/setlist/the-beatles/1964/hollywood-bowl-hollywood-ca-63de4613.html\";s:4:\"type\";s:6:\"string\";}s:5:\"venue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/json_Venue\";s:11:\"description\";s:19:\"the
  setlist's venue\";}s:9:\"versionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"unique
  identifier of the version\";s:7:\"example\";s:8:\"7be1aaa0\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:7:\"setlist\";s:4:\"type\";s:6:\"object\";}s:13:\"json_Setlists\";O:8:\"stdClass\":5:{s:11:\"description\";s:42:\"A
  Result consisting of a list of setlists.\";s:7:\"example\";O:8:\"stdClass\":4:{s:12:\"itemsPerPage\";i:20;s:4:\"page\";i:1;s:7:\"setlist\";a:2:{i:0;O:8:\"stdClass\":10:{s:6:\"artist\";O:8:\"stdClass\":6:{s:14:\"disambiguation\";s:28:\"John,
  Paul, George and Ringo\";s:4:\"mbid\";s:36:\"b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d\";s:4:\"name\";s:11:\"The
  Beatles\";s:8:\"sortName\";s:12:\"Beatles, The\";s:4:\"tmid\";i:735610;s:3:\"url\";s:57:\"https://www.setlist.fm/setlists/the-beatles-23d6a88b.html\";}s:9:\"eventDate\";s:10:\"23-08-1964\";s:2:\"id\";s:8:\"63de4613\";s:4:\"info\";s:61:\"Recorded
  and published as 'The Beatles at the Hollywood Bowl'\";s:11:\"lastUpdated\";s:28:\"2013-10-20T05:18:08.000+0000\";s:3:\"set\";a:2:{i:0;O:8:\"stdClass\":3:{s:6:\"encore\";i:12345;s:4:\"name\";s:3:\"...\";s:4:\"song\";a:2:{i:0;O:8:\"stdClass\":0:{}i:1;O:8:\"stdClass\":0:{}}}i:1;O:8:\"stdClass\":3:{s:6:\"encore\";i:12345;s:4:\"name\";s:3:\"...\";s:4:\"song\";a:2:{i:0;O:8:\"stdClass\":0:{}i:1;O:8:\"stdClass\":0:{}}}}s:4:\"tour\";O:8:\"stdClass\":1:{s:4:\"name\";s:24:\"North
  American Tour 1964\";}s:3:\"url\";s:89:\"https://www.setlist.fm/setlist/the-beatles/1964/hollywood-bowl-hollywood-ca-63de4613.html\";s:5:\"venue\";O:8:\"stdClass\":4:{s:4:\"city\";O:8:\"stdClass\":0:{}s:2:\"id\";s:8:\"6bd6ca6e\";s:4:\"name\";s:13:\"Compaq
  Center\";s:3:\"url\";s:72:\"https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html\";}s:9:\"versionId\";s:8:\"7be1aaa0\";}i:1;O:8:\"stdClass\":10:{s:6:\"artist\";O:8:\"stdClass\":6:{s:14:\"disambiguation\";s:3:\"...\";s:4:\"mbid\";s:3:\"...\";s:4:\"name\";s:3:\"...\";s:8:\"sortName\";s:3:\"...\";s:4:\"tmid\";i:12345;s:3:\"url\";s:3:\"...\";}s:9:\"eventDate\";s:3:\"...\";s:2:\"id\";s:3:\"...\";s:4:\"info\";s:3:\"...\";s:11:\"lastUpdated\";s:3:\"...\";s:3:\"set\";a:2:{i:0;O:8:\"stdClass\":3:{s:6:\"encore\";i:12345;s:4:\"name\";s:3:\"...\";s:4:\"song\";a:2:{i:0;O:8:\"stdClass\":0:{}i:1;O:8:\"stdClass\":0:{}}}i:1;O:8:\"stdClass\":3:{s:6:\"encore\";i:12345;s:4:\"name\";s:3:\"...\";s:4:\"song\";a:2:{i:0;O:8:\"stdClass\":0:{}i:1;O:8:\"stdClass\":0:{}}}}s:4:\"tour\";O:8:\"stdClass\":1:{s:4:\"name\";s:3:\"...\";}s:3:\"url\";s:3:\"...\";s:5:\"venue\";O:8:\"stdClass\":4:{s:4:\"city\";O:8:\"stdClass\":0:{}s:2:\"id\";s:3:\"...\";s:4:\"name\";s:3:\"...\";s:3:\"url\";s:3:\"...\";}s:9:\"versionId\";s:3:\"...\";}}s:5:\"total\";i:42;}s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"itemsPerPage\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"the
  amount of items you get per page\";s:7:\"example\";i:20;s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"the
  current page. starts at 1\";s:7:\"example\";i:1;s:4:\"type\";s:6:\"number\";}s:7:\"setlist\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"result
  list of setlists\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/json_Setlist\";}s:4:\"type\";s:5:\"array\";}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"the
  total amount of items matching the query\";s:7:\"example\";i:42;s:4:\"type\";s:6:\"number\";}}s:5:\"title\";s:8:\"setlists\";s:4:\"type\";s:6:\"object\";}s:9:\"json_Song\";O:8:\"stdClass\":5:{s:11:\"description\";s:51:\"This
  class represents a song that is part of a Set.\";s:7:\"example\";O:8:\"stdClass\":5:{s:5:\"cover\";O:8:\"stdClass\":6:{s:14:\"disambiguation\";s:28:\"John,
  Paul, George and Ringo\";s:4:\"mbid\";s:36:\"b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d\";s:4:\"name\";s:11:\"The
  Beatles\";s:8:\"sortName\";s:12:\"Beatles, The\";s:4:\"tmid\";i:735610;s:3:\"url\";s:57:\"https://www.setlist.fm/setlists/the-beatles-23d6a88b.html\";}s:4:\"info\";s:3:\"...\";s:4:\"name\";s:9:\"Yesterday\";s:4:\"tape\";b:0;s:4:\"with\";O:8:\"stdClass\":6:{s:14:\"disambiguation\";s:28:\"John,
  Paul, George and Ringo\";s:4:\"mbid\";s:36:\"b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d\";s:4:\"name\";s:11:\"The
  Beatles\";s:8:\"sortName\";s:12:\"Beatles, The\";s:4:\"tmid\";i:735610;s:3:\"url\";s:57:\"https://www.setlist.fm/setlists/the-beatles-23d6a88b.html\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"cover\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/json_Artist\";s:11:\"description\";s:72:\"The
  original Artist of this song, if different to the performing artist.\";}s:4:\"info\";O:8:\"stdClass\":2:{s:11:\"description\";s:224:\"Special
  incidents or additional information about the way the song was performed at this
  specific concert. See\nthe <a href=\"https://www.setlist.fm/guidelines\">setlist.fm
  guidelines</a> for a complete list of allowed content.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  name of the song. E.g. <em>Yesterday</em> or <em>&quot;Wish You Were Here&quot;</em>\";s:7:\"example\";s:9:\"Yesterday\";s:4:\"type\";s:6:\"string\";}s:4:\"tape\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"The
  song came from tape rather than being performed live. See the\n<a href=\"https://www.setlist.fm/guidelines#tape-songs\">tape
  section of the guidelines</a> for valid usage.\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:4:\"with\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/json_Artist\";s:11:\"description\";s:79:\"A
  different Artist than the performing one that joined the stage for this song.\";}}s:5:\"title\";s:4:\"song\";s:4:\"type\";s:6:\"object\";}s:9:\"json_Tour\";O:8:\"stdClass\":5:{s:11:\"description\";s:33:\"The
  tour a setlist was a part of.\";s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"name\";s:24:\"North
  American Tour 1964\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  name of the tour.\";s:7:\"example\";s:24:\"North American Tour 1964\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:4:\"tour\";s:4:\"type\";s:6:\"object\";}s:9:\"json_User\";O:8:\"stdClass\":5:{s:11:\"description\";s:29:\"This
  class represents a user.\";s:7:\"example\";O:8:\"stdClass\":9:{s:5:\"about\";s:3:\"...\";s:6:\"flickr\";s:3:\"...\";s:8:\"fullname\";s:3:\"...\";s:6:\"lastFm\";s:3:\"...\";s:7:\"mySpace\";s:3:\"...\";s:7:\"twitter\";s:3:\"...\";s:3:\"url\";s:3:\"...\";s:6:\"userId\";s:3:\"...\";s:7:\"website\";s:3:\"...\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"about\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"flickr\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"fullname\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"lastFm\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"mySpace\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"twitter\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:4:\"user\";s:4:\"type\";s:6:\"object\";}s:10:\"json_Venue\";O:8:\"stdClass\":5:{s:11:\"description\";s:271:\"Venues
  are places where concerts take place. They usually consist of a venue name and a
  city - but there are also\nsome venues that do not have a city attached yet. In
  such a case, the city simply isn't set and the city and country\nmay (but do not
  have to) be in the name.\";s:7:\"example\";O:8:\"stdClass\":4:{s:4:\"city\";O:8:\"stdClass\":6:{s:6:\"coords\";O:8:\"stdClass\":2:{s:3:\"lat\";d:34.098342500000001;s:4:\"long\";d:-118.3267434;}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"code\";s:2:\"US\";s:4:\"name\";s:13:\"United
  States\";}s:2:\"id\";s:7:\"5357527\";s:4:\"name\";s:9:\"Hollywood\";s:5:\"state\";s:10:\"California\";s:9:\"stateCode\";s:2:\"CA\";}s:2:\"id\";s:8:\"6bd6ca6e\";s:4:\"name\";s:13:\"Compaq
  Center\";s:3:\"url\";s:72:\"https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/json_City\";s:11:\"description\";s:38:\"the
  city in which the venue is located\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"unique
  identifier\";s:7:\"example\";s:8:\"6bd6ca6e\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"the
  name of the venue, usually without city and country. E.g. <em>&quot;Madison Square
  Garden&quot;</em> or\n<em>&quot;Royal Albert Hall&quot;</em>\";s:7:\"example\";s:13:\"Compaq
  Center\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"the
  attribution url\";s:7:\"example\";s:72:\"https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:5:\"venue\";s:4:\"type\";s:6:\"object\";}s:11:\"json_Venues\";O:8:\"stdClass\":5:{s:11:\"description\";s:40:\"A
  Result consisting of a list of venues.\";s:7:\"example\";O:8:\"stdClass\":4:{s:12:\"itemsPerPage\";i:20;s:4:\"page\";i:1;s:5:\"total\";i:42;s:5:\"venue\";a:2:{i:0;O:8:\"stdClass\":4:{s:4:\"city\";O:8:\"stdClass\":6:{s:6:\"coords\";O:8:\"stdClass\":0:{}s:7:\"country\";O:8:\"stdClass\":0:{}s:2:\"id\";s:7:\"5357527\";s:4:\"name\";s:9:\"Hollywood\";s:5:\"state\";s:10:\"California\";s:9:\"stateCode\";s:2:\"CA\";}s:2:\"id\";s:8:\"6bd6ca6e\";s:4:\"name\";s:13:\"Compaq
  Center\";s:3:\"url\";s:72:\"https://www.setlist.fm/venue/compaq-center-san-jose-ca-usa-6bd6ca6e.html\";}i:1;O:8:\"stdClass\":4:{s:4:\"city\";O:8:\"stdClass\":6:{s:6:\"coords\";O:8:\"stdClass\":0:{}s:7:\"country\";O:8:\"stdClass\":0:{}s:2:\"id\";s:3:\"...\";s:4:\"name\";s:3:\"...\";s:5:\"state\";s:3:\"...\";s:9:\"stateCode\";s:3:\"...\";}s:2:\"id\";s:3:\"...\";s:4:\"name\";s:3:\"...\";s:3:\"url\";s:3:\"...\";}}}s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"itemsPerPage\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"the
  amount of items you get per page\";s:7:\"example\";i:20;s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"the
  current page. starts at 1\";s:7:\"example\";i:1;s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"the
  total amount of items matching the query\";s:7:\"example\";i:42;s:4:\"type\";s:6:\"number\";}s:5:\"venue\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"result
  list of venues\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/json_Venue\";}s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:6:\"venues\";s:4:\"type\";s:6:\"object\";}s:14:\"xml_ns0_artist\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"disambiguation\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"disambiguation
  to distinguish between artists with same names\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:4:\"mbid\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"unique
  Musicbrainz Identifier (MBID), e.g. <em>&quot;b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d&quot;</em>\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"the
  artist's name, e.g. <em>&quot;The Beatles&quot;</em>\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:8:\"sortName\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"the
  artist's sort name, e.g. <em>&quot;Beatles, The&quot;</em> or <em>&quot;Springsteen,
  Bruce&quot;</em>\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:4:\"tmid\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"unique
  Ticket Master Identifier (TMID), e.g. <em>735610</em>\";s:4:\"type\";s:6:\"number\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"the
  attribution url\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}}}}s:11:\"description\";s:235:\"This
  class represents an artist. An artist is a musician or a group of musicians. Each
  artist has a definite\n<a href=\"http://wiki.musicbrainz.org/MBID\">Musicbrainz
  Identifier</a> (MBID) with which the artist can be uniquely\nidentified.\";s:8:\"required\";a:4:{i:0;s:4:\"mbid\";i:1;s:8:\"sortName\";i:2;s:4:\"name\";i:3;s:3:\"url\";}s:5:\"title\";s:6:\"artist\";s:4:\"type\";s:6:\"object\";}s:15:\"xml_ns0_artists\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/xml_ns0_result\";}i:1;O:8:\"stdClass\":0:{}}s:11:\"description\";s:41:\"A
  Result consisting of a list of artists.\";s:5:\"title\";s:7:\"artists\";s:4:\"type\";s:6:\"object\";}s:14:\"xml_ns0_cities\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/xml_ns0_result\";}i:1;O:8:\"stdClass\":0:{}}s:11:\"description\";s:40:\"A
  Result consisting of a list of cities.\";s:5:\"title\";s:6:\"cities\";s:4:\"type\";s:6:\"object\";}s:12:\"xml_ns0_city\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"coords\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/xml_ns0_coords\";s:11:\"description\";s:76:\"The
  city's coordinates. Usually the coordinates of the city centre are used.\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}s:7:\"country\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:29:\"#/definitions/xml_ns0_country\";s:11:\"description\";s:19:\"The
  city's country.\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"unique
  identifier\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"the
  city's name, depending on the language valid values are e.g. <em>&quot;M&uuml;chen&quot;</em>
  or\n<em>Munich</em>\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  name of city's state, e.g. <em>&quot;Bavaria&quot;</em> or <em>&quot;Florida&quot;</em>\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:9:\"stateCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:790:\"The
  code of the city's state. For most countries this is a two-digit numeric code, with
  which the state can be\nidentified uniquely in the specific Country. The code can
  also be a String for other cities. Valid\nexamples are <em>&quot;CA&quot;</em> or
  <em>&quot;02&quot;</em>\n\nwhich in turn get uniquely identifiable when combined
  with the state's country:\n\n<em>&quot;US.CA&quot;</em> for California, United States
  or <em>&quot;DE.02&quot;</em> for Bavaria, Germany\n\nFor a complete list of available
  states (that aren't necessarily used in this database) is available in\n<a href=
  \"http://download.geonames.org/export/dump/admin1CodesASCII.txt\">a textfile on
  geonames.org</a>.\n\nNote that this code is only unique combined with the city's
  Country. The code alone is\n<strong>not</strong> unique.\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}}}}s:11:\"description\";s:149:\"This
  class represents a city where Venues are located. Most of the original city data
  was taken from\n<a href=\"http://geonames.org/\">Geonames.org</a>.\";s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:7:\"country\";}s:5:\"title\";s:4:\"city\";s:4:\"type\";s:6:\"object\";}s:14:\"xml_ns0_coords\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  latitude part of the coordinates.\";s:4:\"type\";s:6:\"number\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:4:\"long\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  longitude part of the coordinates.\";s:4:\"type\";s:6:\"number\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}}}}s:11:\"description\";s:60:\"Coordinates
  of a point on the globe. Mostly used for Cities.\";s:8:\"required\";a:2:{i:0;s:3:\"lat\";i:1;s:4:\"long\";}s:5:\"title\";s:6:\"coords\";s:4:\"type\";s:6:\"object\";}s:17:\"xml_ns0_countries\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/xml_ns0_result\";}i:1;O:8:\"stdClass\":0:{}}s:11:\"description\";s:43:\"A
  Result consisting of a list of countries.\";s:5:\"title\";s:9:\"countries\";s:4:\"type\";s:6:\"object\";}s:15:\"xml_ns0_country\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"The
  country's <a href= \"http://www.iso.org/iso/english_country_names_and_code_elements\"
  >ISO code</a>. E.g.\n<em>&quot;ie&quot;</em> for Ireland\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:165:\"The
  country's name. Can be a localized name - e.g. <em>&quot;Austria&quot;</em> or\n<em>&quot;&Ouml;sterreich&quot;</em>
  for Austria if the German name was requested.\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}}}}s:11:\"description\";s:41:\"This
  class represents a country on earth.\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:4:\"name\";}s:5:\"title\";s:7:\"country\";s:4:\"type\";s:6:\"object\";}s:13:\"xml_ns0_error\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"the
  HTTP status code\";s:4:\"type\";s:6:\"number\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"an
  additional error message\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"the
  HTTP status message\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"current
  timestamp\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}}}}s:11:\"description\";s:29:\"Returned
  in case of an error.\";s:8:\"required\";a:3:{i:0;s:4:\"code\";i:1;s:6:\"status\";i:2;s:9:\"timestamp\";}s:5:\"title\";s:5:\"error\";s:4:\"type\";s:6:\"object\";}s:14:\"xml_ns0_result\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"itemsPerPage\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"the
  amount of items you get per page\";s:4:\"type\";s:6:\"number\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:4:\"page\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"the
  current page. starts at 1\";s:4:\"type\";s:6:\"number\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"the
  total amount of items matching the query\";s:4:\"type\";s:6:\"number\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}}}}s:11:\"description\";s:424:\"<p>\nIf
  a request returns a list of items they're always wrapped into a Result. As there
  is a maximum amount of items to\nbe returned at once a Result consists of the total
  amount of items (total), how many items per page you get\n(itemsPerPage), the current
  page (page) and the current list of items.\n</p>\n\n<p>\nE.g. if there are 35 items,
  itemsPerPage is 10 and the current page is 2, then items 11 to 20 are in the list.\n</p>\";s:8:\"required\";a:3:{i:0;s:12:\"itemsPerPage\";i:1;s:4:\"page\";i:2;s:5:\"total\";}s:5:\"title\";s:6:\"result\";s:4:\"type\";s:6:\"object\";}s:11:\"xml_ns0_set\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"encore\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"if
  the set is an encore, this is the number of the encore, starting with 1 for the
  first encore, 2 for the second\nand so on.\";s:4:\"type\";s:6:\"number\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"the
  description/name of the set. E.g. <em>&quot;Acoustic set&quot;</em> or <em>&quot;Paul
  McCartney\nsolo&quot;</em>\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:4:\"song\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/xml_ns0_song\";s:11:\"description\";s:16:\"this
  set's songs\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}}}}s:11:\"description\";s:165:\"A
  setlist consists of different (at least one) sets. Sets can either be sets as defined
  in the\n<a href=\"https://www.setlist.fm/guidelines\">Guidelines</a> or encores.\";s:8:\"required\";a:1:{i:0;s:4:\"song\";}s:5:\"title\";s:3:\"set\";s:4:\"type\";s:6:\"object\";}s:15:\"xml_ns0_setlist\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"artist\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/xml_ns0_artist\";s:11:\"description\";s:20:\"the
  setlist's artist\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}s:9:\"eventDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"date
  of the concert in the format &quot;dd-MM-yyyy&quot;\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"unique
  identifier\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:4:\"info\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"additional
  information on the concert - see the <a href=\"https://www.setlist.fm/guidelines\">setlist.fm\nguidelines</a>
  for a complete list of allowed content.\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}s:13:\"lastFmEventId\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"the
  id this event has on <a href=\"http://last.fm/\">last.fm</a> (deprecated)\";s:4:\"type\";s:6:\"number\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:11:\"lastUpdated\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"date,
  time and time zone of the last update to this setlist in the format\n&quot;yyyy-MM-dd'T'HH:mm:ss.SSSZZZZZ&quot;\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:3:\"set\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/xml_ns0_set\";s:11:\"description\";s:24:\"all
  sets of this setlist\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"sets\";s:9:\"namespace\";s:0:\"\";s:7:\"wrapped\";b:1;}}s:4:\"tour\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/xml_ns0_tour\";s:11:\"description\";s:18:\"the
  setlist's tour\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"the
  attribution url to which you have to link to wherever you use data from this setlist
  in your application\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}s:5:\"venue\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/xml_ns0_venue\";s:11:\"description\";s:19:\"the
  setlist's venue\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}s:9:\"versionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"unique
  identifier of the version\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}}}}s:11:\"description\";s:640:\"Setlists,
  that's what it's all about. So if you're trying to use this API without knowing
  what a setlist is then\nyou're kinda wrong on this page ;-).\n\nA setlist can be
  distinguished from other setlists by its unique id. But as\n<a href=\"https://www.setlist.fm/\">setlist.fm</a>
  works the wiki way, there can be different versions of one setlist\n(each time a
  user updates a setlist a new version gets created). These different versions have
  a unique id on its\nown. So setlists can have the same id although they differ as
  far as the content is concerned - thus the best way to\ncheck if two setlists are
  the same is to compare their versionIds.\";s:8:\"required\";a:7:{i:0;s:11:\"lastUpdated\";i:1;s:9:\"versionId\";i:2;s:2:\"id\";i:3;s:9:\"eventDate\";i:4;s:6:\"artist\";i:5;s:5:\"venue\";i:6;s:3:\"url\";}s:5:\"title\";s:7:\"setlist\";s:4:\"type\";s:6:\"object\";}s:16:\"xml_ns0_setlists\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/xml_ns0_result\";}i:1;O:8:\"stdClass\":0:{}}s:11:\"description\";s:42:\"A
  Result consisting of a list of setlists.\";s:5:\"title\";s:8:\"setlists\";s:4:\"type\";s:6:\"object\";}s:12:\"xml_ns0_song\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"cover\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/xml_ns0_artist\";s:11:\"description\";s:72:\"The
  original Artist of this song, if different to the performing artist.\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}s:4:\"info\";O:8:\"stdClass\":3:{s:11:\"description\";s:224:\"Special
  incidents or additional information about the way the song was performed at this
  specific concert. See\nthe <a href=\"https://www.setlist.fm/guidelines\">setlist.fm
  guidelines</a> for a complete list of allowed content.\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  name of the song. E.g. <em>Yesterday</em> or <em>&quot;Wish You Were Here&quot;</em>\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:4:\"tape\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"The
  song came from tape rather than being performed live. See the\n<a href=\"https://www.setlist.fm/guidelines#tape-songs\">tape
  section of the guidelines</a> for valid usage.\";s:4:\"type\";s:7:\"boolean\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:4:\"with\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/xml_ns0_artist\";s:11:\"description\";s:79:\"A
  different Artist than the performing one that joined the stage for this song.\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}}}}s:11:\"description\";s:51:\"This
  class represents a song that is part of a Set.\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:5:\"title\";s:4:\"song\";s:4:\"type\";s:6:\"object\";}s:12:\"xml_ns0_tour\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  name of the tour.\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}}}}s:11:\"description\";s:33:\"The
  tour a setlist was a part of.\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:5:\"title\";s:4:\"tour\";s:4:\"type\";s:6:\"object\";}s:12:\"xml_ns0_user\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"about\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}s:6:\"flickr\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:8:\"fullname\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:6:\"lastFm\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:7:\"mySpace\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:7:\"twitter\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}s:6:\"userId\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:7:\"website\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}}}}s:11:\"description\";s:29:\"This
  class represents a user.\";s:8:\"required\";a:2:{i:0;s:6:\"userId\";i:1;s:3:\"url\";}s:5:\"title\";s:4:\"user\";s:4:\"type\";s:6:\"object\";}s:13:\"xml_ns0_venue\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"city\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/xml_ns0_city\";s:11:\"description\";s:38:\"the
  city in which the venue is located\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"unique
  identifier\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"the
  name of the venue, usually without city and country. E.g. <em>&quot;Madison Square
  Garden&quot;</em> or\n<em>&quot;Royal Albert Hall&quot;</em>\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:9:\"namespace\";s:0:\"\";}}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"the
  attribution url\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:0:\"\";}}}}}s:11:\"description\";s:271:\"Venues
  are places where concerts take place. They usually consist of a venue name and a
  city - but there are also\nsome venues that do not have a city attached yet. In
  such a case, the city simply isn't set and the city and country\nmay (but do not
  have to) be in the name.\";s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:5:\"title\";s:5:\"venue\";s:4:\"type\";s:6:\"object\";}s:14:\"xml_ns0_venues\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/xml_ns0_result\";}i:1;O:8:\"stdClass\":0:{}}s:11:\"description\";s:40:\"A
  Result consisting of a list of venues.\";s:5:\"title\";s:6:\"venues\";s:4:\"type\";s:6:\"object\";}}"
...
