---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:111:\"Access LiveBy's
  entire suite of hyper-local data through our custom API to create or enhance your
  own products.\";s:7:\"version\";s:5:\"2.0.0\";s:5:\"title\";s:29:\"LiveBy Hyperlocal
  Content API\";s:14:\"termsOfService\";s:25:\"https://liveby.com/terms/\";}"
host: api.liveby.com
basePath: /v2
paths:
  /boundaries/search:
    get:
      tags:
      - Boundaries by Search
      description: Search for a boundary by name
      parameters:
      - name: query
        in: query
        type: string
        required: true
      - name: boundaryTypes
        type: array
        required: true
        in: query
        items:
          type: string
          enum:
          - cities
          - neighborhoods
          - zipcodes
          - urban-areas
          - unified-school-attendance-zones
          - secondary-school-attendance-zones
          - elementary-school-attendance-zones
          - parcels
          - subdivisions
          - counties
          - school-districts
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/BoundaryCollection'
  /boundaries/census/search:
    get:
      tags:
      - Boundaries by Search
      description: Search for a census boundary by name
      parameters:
      - name: query
        in: query
        type: string
        required: true
      - name: censusBoundaryTypes
        type: array
        required: true
        in: query
        items:
          type: string
          enum:
          - blocks
          - block-groups
          - tracts
          - public-use-microdata-area
          - zipcode-tabulation-area
          - county-subdivision
          - counties
          - states
          - metropolitan-division
          - metropolitan-statistical-area
          - combined-statistical-area
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/BoundaryCollection'
  /agent-insights/:pageid:
    get:
      tags:
      - Individual Content
      description: Get a list of insights that real-estate agents have submitted on
        a page.
      parameters:
      - name: pageid
        in: path
        type: string
        required: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AgentInsight'
  /schools:
    post:
      tags:
      - Local Content Datasets
      description: Get a list of schools in the boundary.
      parameters:
      - name: body
        in: body
        schema:
          type: object
          properties:
            geometry:
              $ref: '#/definitions/Geometry'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Schools'
  /schools/:schoolid:
    get:
      tags:
      - Individual Content
      description: Get detailed data on an individual school.
      parameters:
      - name: schoolid
        in: path
        type: string
        required: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/School'
  /points-of-interest:
    post:
      tags:
      - Local Content Datasets
      description: Get a list of points of interest within an area.
      parameters:
      - name: body
        in: body
        schema:
          type: object
          properties:
            geometry:
              $ref: '#/definitions/Geometry'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PointsOfInterest'
  /market-trends:
    post:
      tags:
      - Local Content Datasets
      description: Get a list of housing market-trends for an area.
      parameters:
      - name: body
        in: body
        schema:
          type: object
          properties:
            geometry:
              $ref: '#/definitions/Geometry'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MarketTrends'
  /points-of-interest/:poiid:
    get:
      tags:
      - Individual Content
      description: Get detailed data on an individual point-of-interest.
      parameters:
      - name: poiid
        in: path
        type: string
        required: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PointOfInterest'
  /events/:eventid:
    get:
      tags:
      - Individual Content
      description: Get detailed data on an individual event.
      parameters:
      - name: eventid
        in: path
        type: string
        required: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Event'
  /events:
    post:
      tags:
      - Local Content Datasets
      description: Get a list of events in an area.
      parameters:
      - name: body
        in: body
        schema:
          type: object
          properties:
            geometry:
              $ref: '#/definitions/Geometry'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Events'
  /environment:
    post:
      tags:
      - Local Content Datasets
      description: A variety of information on the physical environment, starting
        with basic area measurement data and ending with climate data for weather
        stations around the country. The subjects are mostly environmental trends
        but include related subjects such as land use, water consumption, air pollutant
        emissions, toxic releases, oil spills, hazardous waste sites, municipal waste
        and recycling, threatened and endangered wildlife, and the environmental industry.
      parameters:
      - name: body
        in: body
        schema:
          type: object
          properties:
            geometry:
              $ref: '#/definitions/Geometry'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Environment'
  /demographics:
    post:
      tags:
      - Local Content Datasets
      description: Get demographic information on an area.
      parameters:
      - name: body
        in: body
        schema:
          type: object
          properties:
            geometry:
              $ref: '#/definitions/Geometry'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Demographics'
  /crime:
    post:
      tags:
      - Local Content Datasets
      description: Get crime statistics and information on an area.
      parameters:
      - name: body
        in: body
        schema:
          type: object
          properties:
            geometry:
              $ref: '#/definitions/Geometry'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Crime'
  /commute:
    post:
      tags:
      - Local Content Datasets
      description: Get commute-time and frequency information on an area.
      parameters:
      - name: body
        in: body
        schema:
          type: object
          properties:
            geometry:
              $ref: '#/definitions/Geometry'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Commute'
  /boundaries/:boundaryid:
    get:
      tags:
      - Boundaries by ID
      description: 'Returns a single boundary for the LiveBy boundary ID you provide.
        Boundaries at this endpoint include: school district boundaries (unified,
        secondary, and elementary), urban areas, zipcodes (non-census), cities, and
        neighborhoods.'
      parameters:
      - name: boundaryid
        in: path
        description: The LiveBy boundary ID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Boundary'
  /boundaries/census/:geoid:
    get:
      tags:
      - Boundaries by ID
      description: 'Geographical boundaries derived from Census data. Returns a single
        boundary that matches the GeoID you provide, with the exception of zip codes
        (which have a separate endpoint). Supported GeoID census boundary types: blocks,
        block groups, tracts, public use microdata areas, counties, states, and county
        subdivisions.'
      parameters:
      - name: geoid
        in: path
        description: The GEOID of the census block
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Feature'
  /boundaries/census/zipcode-tabulation-area/:zipcode:
    get:
      tags:
      - Boundaries by ID
      description: Geographical boundaries derived from Census data.
      parameters:
      - name: zipcode
        in: path
        description: Zipcode (5 digit)
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Feature'
  /boundaries:
    get:
      tags:
      - Boundaries by Location
      description: 'Non-census geographical boundaries, searchable by location (lat,lng,radius),
        zipcode, city, or state. The following boundaries are available on-demand:
        subdivisions, parcels, and neighborhoods.'
      parameters:
      - name: lat
        in: query
        description: Latitude
        required: false
        type: integer
      - name: lng
        in: query
        description: Longitude
        required: false
        type: integer
      - name: radius
        in: query
        description: Radius
        required: false
        type: integer
      - name: city
        in: query
        description: City
        required: false
        type: string
      - name: state
        in: query
        description: State
        required: false
        type: string
      - name: zipcode
        in: query
        description: Zip Code
        required: false
        type: integer
      - name: boundaryTypes
        type: array
        required: false
        in: query
        items:
          type: string
          enum:
          - cities
          - neighborhoods
          - zipcodes
          - urban-areas
          - unified-school-attendance-zones
          - secondary-school-attendance-zones
          - elementary-school-attendance-zones
          - parcels
          - subdivisions
          - counties
          - school-districts
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/BoundaryCollection'
  /boundaries/census:
    get:
      tags:
      - Boundaries by Location
      summary: Geographical boundaries derived from Census data.
      parameters:
      - name: lat
        description: Latitude
        type: integer
        required: true
        in: query
      - name: lng
        description: Longitude
        type: integer
        required: true
        in: query
      - name: radius
        description: Radius in meters
        type: integer
        required: true
        in: query
      - name: censusBoundaryTypes
        type: array
        required: true
        in: query
        items:
          type: string
          enum:
          - blocks
          - block-groups
          - tracts
          - public-use-microdata-area
          - zipcode-tabulation-area
          - county-subdivision
          - counties
          - states
          - metropolitan-division
          - metropolitan-statistical-area
          - combined-statistical-area
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CensusFeatureCollection'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":24:{s:11:\"Environment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"airQualityIndex\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"Air
  Quality Index (AQI)\";}s:11:\"floodHazard\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Flood
  hazard\";}s:17:\"pastPrecipitation\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:15:\"pastTemperature\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}s:7:\"Schools\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"schools\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/School\";}}s:11:\"attribution\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"SchoolDigger\";}}}s:6:\"School\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:4:\"gsId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"1r
  Elementary\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"public\";}s:11:\"schoolLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"Elementary\";}s:9:\"highGrade\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"8\";}s:8:\"lowGrade\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"PK\";}s:19:\"schoolYearlyDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SchoolYearDetails\";}}s:8:\"gsRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"parentRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"district\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"districtId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"3174580\";}s:12:\"districtName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"Northwest
  Public Schools\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:61:\"https://www.schooldigger.com/go/NE/district/74580/search.aspx\";}s:7:\"rankURL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:71:\"https://www.schooldigger.com/go/NE/districtrank.aspx?finddistrict=74580\";}}}s:14:\"districtNCESId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"latLong\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"latitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";d:41.002960000000002;}s:9:\"longitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";d:-98.379911000000007;}}}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"3301
  W One-R Road\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"Grand
  Island\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"NE\";}s:9:\"stateFull\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Nebraska\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"68803\";}}}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"(308)
  385-6352\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"111-222-3333\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"http://www.example.com\";}s:6:\"ncesId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"overviewLink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ratingsLink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"reviewsLink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"distance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"schoolStatsLink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"SchoolYearDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:4:\"year\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:2016;}s:16:\"numberOfStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:171;}s:20:\"percentFreeDiscLunch\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";d:26.32;}s:32:\"percentofAfricanAmericanStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";d:1.75;}s:22:\"percentofAsianStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:25:\"percentofHispanicStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";d:7.0199999999999996;}s:23:\"percentofIndianStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";d:0.57999999999999996;}s:32:\"percentofPacificIslanderStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:22:\"percentofWhiteStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";d:90.640000000000001;}s:30:\"percentofTwoOrMoreRaceStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:32:\"percentofUnspecifiedRaceStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";N;}s:16:\"teachersFulltime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:13;}s:17:\"pupilTeacherRatio\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";d:13.1;}s:31:\"numberofAfricanAmericanStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:3;}s:21:\"numberofAsianStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:24:\"numberofHispanicStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:12;}s:22:\"numberofIndianStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:31:\"numberofPacificIslanderStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:21:\"numberofWhiteStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:155;}s:29:\"numberofTwoOrMoreRaceStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:31:\"numberofUnspecifiedRaceStudents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";N;}}}s:12:\"MarketTrends\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:16:\"PropertyAreaInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"avgBedrooms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"avgBathrooms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"avgSquareFeet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"minPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"maxPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"Housing\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"housing\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:24:\"median_home_construction\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"median_rent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"home_occupied_percent\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:15:\"renter_occupied\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"owner_occupied\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}}}}s:3:\"DOM\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:20;}s:7:\"monthly\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Nov\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:7;}}}}}}s:11:\"ExpectToPay\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"100%\";}s:7:\"monthly\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Nov\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"102%\";}}}}}}s:9:\"YearBuilt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1946;}s:7:\"monthly\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Nov\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1950;}}}}}}s:4:\"PPSF\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:136;}s:7:\"monthly\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Nov\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:154;}}}}}}s:9:\"SalePrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:154265;}s:7:\"monthly\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Nov\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:162660;}}}}}}s:13:\"AmountOfSales\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:59;}s:7:\"monthly\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Nov\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:10;}}}}}}}}s:12:\"AgentInsight\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"insights\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"fname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"Susan\";}s:5:\"lname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Kirkpatrick\";}s:9:\"brokerage\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";a:2:{i:0;s:6:\"liveby\";i:1;s:14:\"homerealestate\";}}}s:13:\"brokerageName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"HOME
  Real Estate\";}s:7:\"website\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:47:\"http://www.susankirkpatrick.homerealestate.com/\";}s:5:\"photo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:84:\"https://content.mediastg.net/dynamic/RealEstate/company/375/account/347911/photo.jpg\";}s:12:\"neighborhood\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"593979d6da3374b282bb7ba7\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"40th
  & A\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:301:\"This
  is a neighborhood of well maintained homes.  The homes are modest.  However, there
  is evident pride in their ownerships. \nThey are very close to a local grocery store,
  within walking distance.  And a large park is less than a mile away with indoor
  and outdoor tennis and a very nice swimming pool\";}}}}}}s:8:\"Landmark\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"Business\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"Ramos
  Pizza & Busters BBQ\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"uz5tKFz6R9uCrh2sg7Dq0g\";s:11:\"description\";s:7:\"Yelp
  ID\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:184:\"https://www.yelp.com/biz/ramos-pizza-and-busters-bbq-lincoln?adjust_creative=0FffVFMfitTHrXGgc5LO_w&utm_campaign=yelp_api_v3&utm_medium=api_v3_graphql&utm_source=0FffVFMfitTHrXGgc5LO_w\";}s:12:\"review_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:39;}s:6:\"rating\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:3;}s:6:\"photos\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:68:\"https://s3-media4.fl.yelpcdn.com/bphoto/GtAAnGjPfC3RxPMnSTAiBg/o.jpg\";}}s:11:\"coordinates\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"latitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:40.787599999999998;}s:9:\"longitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:-96.6544399;}}}}}s:15:\"PointOfInterest\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Landmark\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Business\";}}}s:16:\"PointsOfInterest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:76:\"Sets
  of points of interest like local businesses, landmarks, or local parks.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"attribution\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:7:\"example\";a:2:{i:0;s:4:\"Yelp\";i:1;s:13:\"Google
  Places\";}}}s:16:\"pointsOfInterest\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PointOfInterest\";}}}}s:5:\"Event\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":40:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:38:\"CAPM
  Classroom Training in Lincoln, NE\";}s:4:\"html\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:41:\"CAPM
  Classroom Training<br>in Lincoln, NE\";}}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1982:\"iCert
  Global is the one of the leading authorized professional certification training
  provider all over the globe. The CAPM certification offers recognition to practitioners
  who are starting a career in project management as well as project team members
  who wish to demonstrate their project management knowledge.  We are registered partner
  with Project Management Institute, scrum Alliance, IASSC, ASQ and AXELOS to provide
  customized pre exam professional training and coaching classes.\n iCert Global 4
  day CAPM Exam Prep Boot Camp training package includes \n\n4Day Classroom Training\n23
  Contact Hours (23 PDUs)\nStudy Guide to the PMBOK Guide, 6th Edition\nHigh Quality
  e-Learning Content   180 days free access (worth $199)\n2 CAPM Simulation Tests\nCAPM
  Exam Tips, Techniques and Mock test\n100% Money Back Guarantee\nInteractive Case
  Studies & Chapter-wise Exam Tips\n\n  Visit iCertGlobal-CAMPTraining for any queries
  or future Certified Associate in Project Management workshop dates. Please contact
  us john.miller@icertglobal.org or call us at 713-518-1852.   Other Training Courses
  1. Project Management Professional (PMI-PMP Training) 2. Lean Six Sigma Green Belt
  (LSSGB Training) 3. ITIL Foundation (Information Technology Infrastructure Library)
  4. PMI- ACP (Agile Certified Practitioner) 5. CBAP (Certified Business Analysis
  Professional) 6. CCBA (Certification of Capability in Business Analysis) 7. Agile
  & Scrum 8. CSM (Certified Scrum Master) 9. CEH (Certified Ethical Hacker) 10. Prince2
  \nSpecial offer for corporate, group and individual references so please contact
  us for more details   Use Promo Code \u2013 ICERT20 to avail 20% of discount on
  all our above training courses \nOnce you register with us, we will enable the access
  to our e-learning and exam simulators post successful registration.\nLooking  forward
  for your registration with us.  Contact Us : iCert Global LLC E-mail: john.miller@icertglobal.org
  Website: www.icertglobal.com Call Us Now: +1 (713)-518-1852\";}s:4:\"html\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3571:\"<P
  CLASS=\"MsoNormal\"><SPAN><STRONG>iCert Global</STRONG> is the one of the leading
  authorized professional certification training provider all over the globe. <BR>The
  <STRONG>CAPM</STRONG></SPAN><STRONG> </STRONG>certification offers recognition to
  practitioners who are starting a career in project management<BR> as well as project
  team members who wish to demonstrate their project management knowledge.<BR> <BR>
  We are registered partner with <STRONG>Project Management Institute, scrum Alliance,
  IASSC, ASQ and AXELOS</STRONG><BR> to provide customized pre exam professional training
  and coaching classes.</P>\n<P CLASS=\"MsoNormal\"><SPAN><BR> </SPAN><EM><SPAN><STRONG>iCert
  Global 4 day CAPM Exam Prep Boot Camp training package includes </STRONG></SPAN></EM><SPAN></SPAN></P>\n<UL>\n<LI
  CLASS=\"MsoNormal\"><SPAN>4Day Classroom Training</SPAN></LI>\n<LI CLASS=\"MsoNormal\"><SPAN>23
  Contact Hours (23 PDUs)</SPAN></LI>\n<LI CLASS=\"MsoNormal\"><SPAN>Study Guide to
  the PMBOK Guide, 6th Edition</SPAN></LI>\n<LI CLASS=\"MsoNormal\"><SPAN>High Quality
  e-Learning Content   180 days free access (worth $199)</SPAN></LI>\n<LI CLASS=\"MsoNormal\"><SPAN>2
  CAPM Simulation Tests</SPAN></LI>\n<LI CLASS=\"MsoNormal\"><SPAN>CAPM Exam Tips,
  Techniques and Mock test</SPAN></LI>\n<LI CLASS=\"MsoNormal\"><SPAN>100% Money Back
  Guarantee</SPAN></LI>\n<LI CLASS=\"MsoNormal\"><SPAN>Interactive Case Studies &amp;
  Chapter-wise Exam Tips</SPAN></LI>\n</UL>\n<H3><BR> <BR> Visit <SPAN><A HREF=\"http://bit.ly/2qO6jtZ\"
  TARGET=\"_blank\" REL=\"noreferrer noopener nofollow noopener noreferrer nofollow\"><SPAN>iCertGlobal-CAMPTraining</SPAN></A></SPAN>
  for any queries or future Certified Associate in Project Management workshop dates.
  Ple<STRONG>ase contact us</STRONG> <SPAN><A HREF=\"mailto:john.miller@icertglobal.org\"
  TARGET=\"_blank\" REL=\"noreferrer noopener nofollow noopener noreferrer nofollow\"><SPAN>john.miller@icertglobal.org</SPAN></A></SPAN>
  or call us at <SPAN>713-518-1852</SPAN>.<BR> <BR> <BR> <SPAN><STRONG>Other Training
  Courses</STRONG></SPAN><BR> 1. Project Management Professional (PMI-PMP Training)<BR>
  2. Lean Six S<STRONG>igma Green Belt (LSSGB Training)</STRONG><BR><STRONG> 3. ITIL
  Foundation (Information Technology Infrastructure Library)</STRONG><BR><STRONG>
  4. PMI- ACP (Agile</STRONG> Certified Practitioner)<BR> 5. CBAP (Certified Business
  Analysis Professional)<BR> 6. CCBA (Certification of Capability in Business Analysis)<BR>
  7. Agile &amp; Scrum<BR> 8. CSM (Certified Scrum Master)<BR> 9. CEH (Certified Ethical
  Hacker)<BR> 10. Prince2<BR> <BR></H3>\n<P CLASS=\"MsoNormal\"><SPAN><SPAN>Special
  offer for corporate, group and individual references so please contact us for more
  details </SPAN></SPAN><SPAN><SPAN><BR> </SPAN></SPAN><SPAN><SPAN><BR> </SPAN></SPAN><SPAN><STRONG>Use
  Promo Code \u2013 ICERT20 to avail 20% of discount on all our above training courses
  </STRONG></SPAN></P>\n<P CLASS=\"MsoNormal\"><SPAN>Once you register with us, we
  will enable the access to our e-learning and exam simulators post successful registration.</SPAN></P>\n<P
  CLASS=\"MsoNormal\"><SPAN>Looking  forward for your registration with us.<BR> <BR>
  Contact Us : iCert Global LLC<BR> E-mail: </SPAN><SPAN><SPAN><A HREF=\"mailto:john.miller@icertglobal.org\"
  TARGET=\"_blank\" REL=\"noreferrer noopener nofollow noopener noreferrer nofollow\"><SPAN>john.miller@icertglobal.org</SPAN></A></SPAN></SPAN><SPAN><BR>
  Website: <A HREF=\"http://bit.ly/2tei5Cw\" TARGET=\"_blank\" REL=\"noreferrer noopener
  nofollow noopener noreferrer nofollow\"><SPAN>www.icertglobal.com</SPAN></A><BR>
  Call Us Now: +1 (713)-518-1852</SPAN></P>\";}}}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"45535307330\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:96:\"https://www.eventbrite.com/e/capm-classroom-training-in-lincoln-ne-tickets-45535307330?aff=ebapi\";}s:5:\"start\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"timezone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"America/Chicago\";}s:5:\"local\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-05-29T09:00:00\";}s:3:\"utc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"2018-05-29T14:00:00Z\";}}}s:3:\"end\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"timezone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"America/Chicago\";}s:5:\"local\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2018-06-01T17:00:00\";}s:3:\"utc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"2018-06-01T22:00:00Z\";}}}s:15:\"organization_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"248869490598\";}s:7:\"created\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"2018-04-25T21:28:54Z\";}s:7:\"changed\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"2018-05-09T20:10:32Z\";}s:8:\"capacity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:5;}s:18:\"capacity_is_custom\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"live\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"USD\";}s:6:\"listed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:9:\"shareable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:12:\"online_event\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:13:\"tx_time_limit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:480;}s:15:\"hide_start_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:13:\"hide_end_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"en_US\";}s:9:\"is_locked\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:15:\"privacy_setting\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"unlocked\";}s:9:\"is_series\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:16:\"is_series_parent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:19:\"is_reserved_seating\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:16:\"show_pick_a_seat\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:22:\"show_seatmap_thumbnail\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:32:\"show_colors_in_seatmap_thumbnail\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"create_2.0\";}s:7:\"is_free\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"3.0.0\";}s:7:\"logo_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"44041719\";s:11:\"description\";s:13:\"Eventbrite
  ID\";}s:12:\"organizer_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"17078383662\";s:11:\"description\";s:13:\"Eventbrite
  ID\";}s:8:\"venue_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"24182114\";s:11:\"description\";s:13:\"Eventbrite
  ID\";}s:11:\"category_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"101\";s:11:\"description\";s:13:\"Eventbrite
  ID\";}s:14:\"subcategory_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";N;s:11:\"description\";s:13:\"Eventbrite
  ID\";}s:9:\"format_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"9\";s:11:\"description\";s:13:\"Eventbrite
  ID\";}s:12:\"resource_uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:52:\"https://www.eventbriteapi.com/v3/events/45535307330/\";}s:9:\"series_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"45534761698\";s:11:\"description\";s:13:\"Eventbrite
  ID\";}s:4:\"logo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"crop_mask\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"top_left\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:1:\"x\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:41;}s:1:\"y\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}}}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:680;}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:340;}}}s:8:\"original\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:152:\"https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F44041719%2F248869490598%2F1%2Foriginal.jpg?auto=compress&s=9500be43b2c3597ffd07afd973079a7f\";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:763;}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:340;}}}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";i:44041719;}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:188:\"https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F44041719%2F248869490598%2F1%2Foriginal.jpg?h=200&w=450&auto=compress&rect=41%2C0%2C680%2C340&s=a3486bc830b3638bfa8a7b3d954e52a6\";}s:12:\"aspect_ratio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";}s:10:\"edge_color\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"#3480af\";}s:14:\"edge_color_set\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}}}}}s:6:\"Events\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"events\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}}}}s:12:\"Demographics\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"demographics\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:10:\"population\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"median_age\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"ages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:12:\"ages_percent\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:23:\"median_household_income\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"unemployment_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:9:\"diversity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"asian\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"african_american\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"hispanic\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"multiracial\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"native_american\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"other\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"pacific_islander\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"white\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:17:\"diversity_percent\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:14:\"total_educated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:27:\"below_high_school_education\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"high_school_education\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"college_associate_degree\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"college_bachelor_degree\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:36:\"college_graduate_professional_degree\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"education_levels_percent\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}}}s:9:\"ageGroups\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"disability\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"educationalAttainment\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"fieldOfDegree\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"foreignBorn\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"incomeEarnings\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"industry\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"maritalStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"nativeBorn\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"occupation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"occupationBenefits\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"placeOfBirth\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"placeOfWork\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"populationCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"populationDensity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"raceEthnicOrigin\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"schoolEnrollment\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"sentimentAnalysis\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"veteranStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"workStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"attribution\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Census
  Bureau\";}}}s:5:\"Crime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:25:\"Crime
  data on a boundary.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"aggravatedAssault\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"burglary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"crimeLocationPointData\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"larcenyTheft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"motorVehicleTheft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:30:\"murderNonNegligentManslaughter\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"rape\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"robbery\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"attribution\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Census
  Bureau\";}}}s:7:\"Commute\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:26:\"Commute
  data on a boundary\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"bikeScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"bikeRunningTrails\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"transportationMethods\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"workFromHomePercent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"publicTransitRoutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"publicTransitSchedules\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"publicTransitScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"travelTimeToWork\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"timeLeavingForWork\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"vehiclesAvailable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"attribution\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Census
  Bureau\";}}}s:8:\"Boundary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:16:\"GeoJSON
  geometry\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Feature\";}s:8:\"geometry\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Geometry\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:7:\"zipcode\";i:1;s:6:\"county\";i:2;s:9:\"countysub\";i:3;s:14:\"schooldistrict\";i:4;s:12:\"neighborhood\";i:5;s:9:\"community\";}s:7:\"example\";s:4:\"type\";}s:11:\"attribution\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Census
  Bureau\";}}}}}s:18:\"BoundaryCollection\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"A
  GeoJSON feature collection\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FeatureCollection\";}}s:8:\"features\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Boundary\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:23:\"CensusFeatureCollection\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"A
  GeoJSON feature collection\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"FeatureCollection\";}s:8:\"features\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Feature\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"attribution\";s:13:\"Census
  Bureau\";}}}}s:17:\"FeatureCollection\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"A
  GeoJSON feature collection\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"FeatureCollection\";}s:8:\"features\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Feature\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:7:\"Feature\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:50:\"GeoJSON
  feature containing geometry and properties\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Feature\";s:11:\"description\";s:24:\"the
  GeoJSON feature type\";}s:8:\"geometry\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Geometry\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:8:\"Geometry\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:16:\"GeoJSON
  geometry\";s:13:\"discriminator\";s:4:\"type\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Polygon\";i:1;s:12:\"MultiPolygon\";}s:11:\"description\";s:17:\"the
  geometry type\";}s:11:\"coordinates\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Polygon\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MultiPolygon\";}}}}}}s:7:\"Polygon\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:16:\"GeoJSON
  geometry\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Point2D\";}}}s:12:\"MultiPolygon\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:16:\"GeoJSON
  geometry\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Point2D\";}}}}s:7:\"Point2D\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"maxItems\";i:2;s:8:\"minItems\";i:2;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}"
...
