---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:3:\"0.1\";s:5:\"title\";s:12:\"Omnivore
  API\";s:11:\"description\";s:2402:\"Swagger documentation based on the [API reference
  docs](https://panel.omnivore.io/docs/api)\n\nThe Omnivore API is a RESTful API with
  Hypermedia principles via [HAL+JSON](http://stateless.co/hal_specification.html).
  The API contains **resources** that have both data for the requested object and
  links to traverse further into the API.\n\nUsing the example response to the right,
  data for a resource is contained at the top level of the object. Attributes such
  as a Location name, address, and website are examples of such data.\n\nResources
  can also contain other resources, known as **sub-resources**. For example, a list
  of Employees is a sub-resource of a Location. Sub-resources belong to their parent
  resource.\n\n## Metadata\n\nAll resources contain metadata about themselves and
  any sub-resources that they may own. Metadata can be found in all resources within
  the `_links` or `_embedded` fields.\n\nA resource will always contain a `self` field
  inside of the `_links` hash:\n\n```javascript\n\"_links\": {\n  \"self\": {\n    \"href\":
  \"https://api.omnivore.io/0.1/locations/1237/\"\n  }\n}\n```\n\nThe `_links` hash
  can also contain fields describing sub-resources. These fields have URLs in `href`
  that can direct your client to the location of the sub-resource:\n```javascript\n\"_links\":
  {\n  \"employees\": {\n    \"href\": \"https://api.omnivore.io/0.1/locations/1237/employees/\"\n
  \ }\n}\n```\nThe `_embedded` hash contains full resources or resource lists. All
  the data is \u201Cembedded\u201D instead of linked to like in the `_links` field:\n\n```javascript\n\"_embedded\":
  {\n  \"employee\": {\n    \"check_name\": \"Cowans S\",\n    \"first_name\": \"Cowans\",\n
  \   \"id\": \"9999999\",\n    \"last_name\": \"Super User\"\n  }\n}\n```\n\n## API
  Authentication\n\nAPI Authentication\n\nAuthentication is done using API Keys that
  are assigned inside of the [control panel](http://panel.omnivore.io/) and are application
  specific. These keys can be created, deleted, or regenerated at any time.\n\nAPI
  Keys are set as either Production or Development keys in the control panel. Production
  keys have access to Public Locations connected to the Application, while Development
  keys can only access Dev Locations.\n\nAn API Key is passed to the server using
  a custom HTTP header `Api-Key`. This works for both Production and Development keys.\n\n##
  Errors\n\nOmnivore uses conventional HTTP error codes to communicate the result
  of an API request alongside a detailed error object.\n\";}"
host: api.omnivore.io
basePath: /0.1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:16:\"LocationResource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:62:\"A
  Location resource contains data about a restaurant location.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  location's id within our database\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"2
  character code (e.g. \"CA\")\";}s:7:\"street1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"street2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  name of the location\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"10
  digits, no punctuation\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"employees\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"menu\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"order_types\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"revenue_centers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"self\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"tables\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"tender_types\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"tickets\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}s:14:\"TicketResource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:246:\"Resource
  for restaurant tickets, also known as an order. Tickets are a sub-resource of Location.\n\nCreating
  a Ticket is synonymouse with opening an order to be fulfilled by a restaurant.\n\nTickets
  a can be created, modified, replaced, and deleted.\n\";s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  ticket's id as stored in the POS system\";}s:9:\"auto_send\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:70:\"When
  false, items aren't sent to kitchen until ticket is paid in full.\";s:7:\"default\";b:1;}s:9:\"closed_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Timestamp
  when the ticket was closed out. Null when 'open' is true.\";s:6:\"format\";s:8:\"datetime\";}s:11:\"guest_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:30:\"Number
  of guests on the Ticket\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Alphanumeric
  indentifier for the Ticket. Note- unique amongst open Tickets.\";}s:4:\"open\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:49:\"Whether
  or not the Ticket has a remaining balance\";}s:9:\"opened_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"datetime\";s:11:\"description\";s:36:\"Timestamp
  when the ticket was opened\";}s:13:\"ticket_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:32:\"The
  number printed on the ticket\";}s:6:\"totals\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"sub_total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:31:\"Total
  cost of all Ticket Items.\";}s:13:\"other_charges\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:27:\"Total
  miscellaneous charges\";}s:15:\"service_charges\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:54:\"Other
  fees such as automatic gratuity or delivery fee.\";}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:27:\"Total
  amount for the Ticket\";}s:3:\"due\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:17:\"Remaining
  balance\";}}}s:9:\"_embedded\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"employee\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Employee
  Resource\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  employee's id as stored in the POS system.\";}s:10:\"check_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  name of the employee as printed on a ticket.\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  employee's first name as stored in the POS.\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  employee's last name as stored in the POS.\";}s:5:\"login\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  employee's terminal login info.\";}}}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Items
  Resource Array\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:9:\"discounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Ticket
  Discount Resource Array\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:10:\"order_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Order
  Type Resource\";s:4:\"type\";s:6:\"object\";}s:8:\"payments\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Payment
  Resource Array\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:15:\"revenue_centers\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Revenue
  Center Resource\";s:4:\"type\";s:6:\"object\";}s:5:\"table\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Table
  Resource\";s:4:\"type\";s:6:\"object\";}}}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"discounts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"payments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}}"
...
