---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:9:\"Spinitron\";}s:11:\"description\";s:42:\"Maximum
  limit is 200. Default limit is 20.\";s:5:\"title\";s:12:\"Spinitron v2\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_Spinitron_profile_image.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:71:\"https://raw.githubusercontent.com/spinitron/v2api/master/spinitron.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"spinitron.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"spinitron\";s:4:\"type\";s:7:\"openapi\";}}"
host: spinitron.com
basePath: /v2/api
paths: ~
produces:
- application/json
- application/xml
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":9:{s:17:\"BaseIndexResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"_links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"type\";s:6:\"object\";}s:5:\"_meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Link\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Pagination\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"currentPage\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"pageCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"perPage\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"totalCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Persona\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"_links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:5:\"shows\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:3:\"bio\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"since\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Year\";s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Playlist\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:6:\"_links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"persona\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"show\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:5:\"spins\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"type\";s:6:\"object\";}s:10:\"automation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Duration
  in seconds\";s:4:\"type\";s:7:\"integer\";}s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"UTC
  datetime, ISO-8601.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"episode_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"episode_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"hide_dj\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"persona_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"show_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"since\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"UTC
  datetime, ISO-8601.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:7:\"example\";s:15:\"America/Chicago\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Show\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"_links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"personas\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}s:9:\"playlists\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"type\";s:6:\"object\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Duration
  in seconds\";s:4:\"type\";s:7:\"integer\";}s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"UTC
  datetime, ISO-8601.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"hide_dj\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"one_off\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"since\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Year\";s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"UTC
  datetime, ISO-8601.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:7:\"example\";s:15:\"America/Chicago\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Spin\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:6:\"_links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"playlist\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"type\";s:6:\"object\";}s:6:\"artist\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"composer\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Duration
  in seconds\";s:4:\"type\";s:7:\"integer\";}s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"UTC
  datetime, ISO-8601.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"genre\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"isrc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"playlist_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"release\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"song\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"UTC
  datetime, ISO-8601.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:7:\"example\";s:15:\"America/Chicago\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ValidationError\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"field\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
