---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:5:\"title\";s:9:\"import.io\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"tools\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#F6248E\";s:3:\"url\";s:85:\"https://api.apis.guru/v2/cache/logo/http_api.docs.import.io_images_import-io-logo.svg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:42:\"http://api.docs.import.io/rss/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"import.io\";s:13:\"x-serviceName\";s:3:\"rss\";}"
host: rss.import.io
basePath: /
paths:
  /extractor/{extractorId}/runs:
    get:
      parameters:
      - description: The id of the extractor to start get the crawl run data
        in: path
        name: extractorId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: User doesn't own this extractor, or doesn't have a valid session.
          schema:
            $ref: '#/definitions/APIError'
        404:
          description: 'Not found: Extractor has not been run.'
          schema:
            $ref: '#/definitions/APIError'
      security:
      - api_key: []
      summary: Get a feed of the runs performed on an extractor
      tags:
      - rss.import.io
produces:
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:8:\"APIError\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Internal
  error code\";s:6:\"format\";s:3:\"int\";s:4:\"type\";s:7:\"integer\";}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"(deprecated)
  A message containing a brief description of the error\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"A
  message containing a brief description of the error\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"CrawlRun\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"extractorId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"failedUrlCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"guid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"rowCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"runtimeConfigId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"startedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"stoppedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"successUrlCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"totalUrlCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"urlListId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Inputs\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"Example
  Input\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"_url\";}s:4:\"type\";s:6:\"object\";}s:23:\"ObjectStoreSearchResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"hits\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"hits\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"_score\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/CrawlRun\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"timed_out\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"took\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"QueryResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"exceptionType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"extractorData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"pageData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:15:\"runtimeConfigId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"sequenceNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Report\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"configId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"guid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"reportId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ReportRun\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"autoPublish\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"guid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"latestConfigId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Schedule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"extractorId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"interval\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"intervalData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"minutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"nextRunAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"ownerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"startTimestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ScheduleRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"extractorId\";O:8:\"stdClass\":2:{s:7:\"example\";s:36:\"00000000-0000-0000-0000-000000000000\";s:4:\"type\";s:6:\"string\";}s:8:\"interval\";O:8:\"stdClass\":2:{s:7:\"example\";s:10:\"15
  * * * *\";s:4:\"type\";s:6:\"string\";}s:14:\"startTimestamp\";O:8:\"stdClass\":3:{s:7:\"example\";i:1485448509727;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:11:\"extractorId\";i:1;s:8:\"interval\";}s:4:\"type\";s:6:\"object\";}}"
...
