---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:1:\"1\";s:5:\"title\";s:9:\"Genealogy\";s:11:\"description\";s:9:\"Genealogy\";}"
host: private-13165-genealogy1.apiary-mock.com
basePath: /api
paths:
  /user:
    get:
      tags:
      - person
      summary: Info about current logged in User
      description: Returns a single pet
      operationId: getCurrentUser
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Person'
          examples:
            application/json:
              id_user: "1"
              id_person: "1"
              imageUrl: ""
              email: vikas@pronity.in
              name: Vikas Yadav
        400:
          description: Invalid ID supplied
        404:
          description: Project not found
  /people:
    get:
      tags:
      - person
      summary: Returns list of people in the company
      responses:
        200:
          description: All good
          schema:
            type: array
            items:
              $ref: '#/definitions/PersonSpouseParents'
          examples:
            application/json:
            - person:
                id_user: "1"
                id_person: "1"
                imageUrl: ""
                age: 47
                mobile: "8847529942"
                location: Sikar, Rajasthan
                email: vikas@somewhere.in
                name: Vikas Yadav
              spouse:
                id_user: "1"
                id_person: "1"
                imageUrl: ""
                mobile: "8847529942"
                location: Sikar, Rajasthan
                email: vikas@somewhere.in
                name: Chhaya Yadav
              father:
                id_user: "1"
                id_person: "1"
                imageUrl: ""
                mobile: "8847529942"
                location: Sikar, Rajasthan
                email: vikas@somewhere.in
                name: Father Yadav
              mother:
                id_user: "1"
                id_person: "1"
                imageUrl: ""
                mobile: "8847529942"
                location: Sikar, Rajasthan
                email: vikas@somewhere.in
                name: Mother Yadav
            - person:
                id_user: "2"
                id_person: "2"
                mobile: "9844699423"
                imageUrl: ""
                location: Neemrana, Rajasthan
                email: vikas@pronity.in
                name: Neemrana Person 2
  /person:
    post:
      tags:
      - person
      summary: Adds a new person record with form data
      operationId: createNewPerson
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - application/xml
      parameters:
      - name: first_name
        in: formData
        description: First Name of the person
        required: true
        type: string
      - name: last_name
        in: formData
        description: Last name of the project
        required: true
        type: string
      - name: location
        in: formData
        description: Current Location of the person
        required: true
        type: string
      - name: email
        in: formData
        description: Email address
        required: true
        type: string
      - name: mobile
        in: formData
        description: Mobile Numbert
        required: true
        type: string
      responses:
        405:
          description: Invalid input
        200:
          description: Person was added
          schema:
            $ref: '#/definitions/PersonSpouseParents'
  /person/{id_person}:
    post:
      tags:
      - person
      summary: Updates a already existing person with form data
      operationId: createNewPerson
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - application/xml
      parameters:
      - name: id_person
        in: path
        description: ID of person to update
        required: true
        type: integer
        format: int64
        x-example: 1
      - name: first_name
        in: formData
        description: Updated name of the pet
        required: true
        type: string
      - name: last_name
        in: formData
        description: Updated name of the pet
        required: true
        type: string
      - name: location
        in: formData
        description: Updated name of the pet
        required: true
        type: string
      - name: email
        in: formData
        description: Updated name of the pet
        required: true
        type: string
      - name: mobile
        in: formData
        description: Updated name of the pet
        required: true
        type: string
      responses:
        405:
          description: Invalid input
        200:
          description: Person was added
          schema:
            $ref: '#/definitions/PersonSpouseParents'
    get:
      tags:
      - person
      summary: Find person by ID
      description: Returns a single person record with managing projects and recent
        updates
      operationId: getPersonById
      produces:
      - application/json
      - application/xml
      parameters:
      - name: id_person
        in: path
        description: ID of person record to return
        required: true
        type: integer
        format: int64
        x-example: 1
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/PersonSpouseParents'
          examples:
            application/json:
              person:
                id_user: "1"
                id_person: "1"
                imageUrl: ""
                age: 47
                mobile: "8847529942"
                location: Sikar, Rajasthan
                email: vikas@somewhere.in
                name: Vikas Yadav
              spouse:
                id_user: "1"
                id_person: "1"
                imageUrl: ""
                mobile: "8847529942"
                location: Sikar, Rajasthan
                email: vikas@somewhere.in
                name: Chhaya Yadav
              father:
                id_user: "1"
                id_person: "1"
                imageUrl: ""
                mobile: "8847529942"
                location: Sikar, Rajasthan
                email: vikas@somewhere.in
                name: Father Yadav
        400:
          description: Invalid ID supplied
        404:
          description: Project not found
  /person/{id_person}/manage:
    post:
      tags:
      - person
      - project
      summary: Assign projects to person
      operationId: assignProjectManagers
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - application/xml
      parameters:
      - name: id_person
        in: path
        description: ID of person to manage
        required: true
        type: integer
        format: int64
        x-example: 1
      - name: id_project
        in: formData
        description: Project IDs to be assigned to Person
        required: true
        type: array
        items:
          type: integer
          format: int64
        x-example: 1
      responses:
        405:
          description: Invalid input
        200:
          description: Person was assigned to the projects
          schema:
            $ref: '#/definitions/PersonSpouseParents'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:19:\"PersonSpouseParents\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"person\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"person\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}s:6:\"spouse\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}s:6:\"father\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}s:6:\"mother\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}}}s:6:\"Person\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:9:\"id_person\";i:1;s:6:\"mobile\";i:2;s:5:\"email\";i:3;s:4:\"name\";i:4;s:10:\"first_name\";i:5;s:9:\"last_name\";}s:10:\"properties\";O:8:\"stdClass\":13:{s:7:\"id_user\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"imageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"id_person\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Location
  where this person is right now\";}s:6:\"mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"dob\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"dod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"age\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:7:\"example\";O:8:\"stdClass\":9:{s:7:\"id_user\";i:1;s:9:\"id_person\";i:1;s:8:\"imageUrl\";s:0:\"\";s:6:\"mobile\";s:10:\"8847529942\";s:8:\"location\";s:16:\"Sikar,
  Rajasthan\";s:5:\"email\";s:16:\"vikas@pronity.in\";s:4:\"name\";s:11:\"Vikas Yadav\";s:10:\"first_name\";s:5:\"Vikas\";s:9:\"last_name\";s:5:\"Yadav\";}}}"
...
