---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";}s:11:\"description\";s:1159:\"<fullname>AWS
  Step Functions</fullname> <p>AWS Step Functions is a web service that enables you
  to coordinate the components of distributed applications and microservices using
  visual workflows. You build applications from individual components that each perform
  a discrete function, or <i>task</i>, allowing you to scale and change applications
  quickly. Step Functions provides a graphical console to visualize the components
  of your application as a series of steps. It automatically triggers and tracks each
  step, and retries when there are errors, so your application executes in order and
  as expected, every time. Step Functions logs the state of each step, so when things
  do go wrong, you can diagnose and debug problems quickly.</p> <p>Step Functions
  manages the operations and underlying infrastructure for you to ensure your application
  is available at any scale. You can run tasks on the AWS cloud, on your own servers,
  or an any system that has access to AWS. Step Functions can be accessed and used
  with the Step Functions console, the AWS SDKs (included with your Beta release invitation
  email), or an HTTP API (the subject of this document).</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:18:\"AWS
  Step Functions\";s:7:\"version\";s:10:\"2016-11-23\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:104:\"https://api.apis.guru/v2/cache/logo/https_media.amazonwebservices.com_blog_2007_big_pbaws_logo_300px.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:90:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/states-2016-11-23.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:6:\"states\";}"
host: states.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":97:{s:20:\"ActivityDoesNotExist\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  specified activity does not exist.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ActivityFailedEventDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Cause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ActivityLimitExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"The
  maximum number of activities has been reached. Existing activities must be deleted
  before a new activity can be created.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ActivityList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ActivityListItem\";}s:4:\"type\";s:5:\"array\";}s:16:\"ActivityListItem\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"activityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:60:\"The
  Amazon Resource Name (ARN) that identifies the activity.\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:34:\"The
  date the activity was created.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:25:\"The
  name of the activity.\";}}s:8:\"required\";a:3:{i:0;s:11:\"activityArn\";i:1;s:4:\"name\";i:2;s:12:\"creationDate\";}s:4:\"type\";s:6:\"object\";}s:34:\"ActivityScheduleFailedEventDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Cause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ActivityScheduledEventDetails\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"heartbeatInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TimeoutInSeconds\";s:11:\"description\";s:74:\"The
  maximum allowed duration between two heartbeats for the activity task.\";}s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Data\";s:11:\"description\";s:41:\"The
  JSON data input to the activity task.\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:57:\"The
  Amazon Resource Name (ARN) of the scheduled activity.\";}s:16:\"timeoutInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TimeoutInSeconds\";s:11:\"description\";s:50:\"The
  maximum allowed duration of the activity task.\";}}s:8:\"required\";a:1:{i:0;s:8:\"resource\";}s:4:\"type\";s:6:\"object\";}s:27:\"ActivityStartedEventDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"workerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Identity\";s:11:\"description\";s:130:\"The
  name of the worker that the task was assigned to. These names are provided by the
  workers when calling <a>GetActivityTask</a>.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ActivitySucceededEventDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Data\";s:11:\"description\";s:42:\"The
  JSON data output by the activity task.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ActivityTimedOutEventDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Cause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the timeout.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ActivityWorkerLimitExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  maximum number of workers concurrently polling for activity tasks has been reached.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Arn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:5:\"Cause\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:32768;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:19:\"CreateActivityInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:93:\"The
  name of the activity to create. This name must be unique for your AWS account and
  region.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateActivityOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"activityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:68:\"The
  Amazon Resource Name (ARN) that identifies the created activity.\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:34:\"The
  date the activity was created.\";}}s:8:\"required\";a:2:{i:0;s:11:\"activityArn\";i:1;s:12:\"creationDate\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreateStateMachineInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"definition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Definition\";s:11:\"description\";s:59:\"The
  Amazon States Language definition of the state machine.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:88:\"The
  name of the state machine. This name must be unique for your AWS account and region.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:77:\"The
  Amazon Resource Name (ARN) of the IAM role to use for this state machine.\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:10:\"definition\";i:2;s:7:\"roleArn\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateStateMachineOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:39:\"The
  date the state machine was created.\";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:73:\"The
  Amazon Resource Name (ARN) that identifies the created state machine.\";}}s:8:\"required\";a:2:{i:0;s:15:\"stateMachineArn\";i:1;s:12:\"creationDate\";}s:4:\"type\";s:6:\"object\";}s:4:\"Data\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:32768;s:4:\"type\";s:6:\"string\";}s:10:\"Definition\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1048576;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:19:\"DeleteActivityInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"activityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:57:\"The
  Amazon Resource Name (ARN) of the activity to delete.\";}}s:8:\"required\";a:1:{i:0;s:11:\"activityArn\";}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteActivityOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteStateMachineInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:62:\"The
  Amazon Resource Name (ARN) of the state machine to delete.\";}}s:8:\"required\";a:1:{i:0;s:15:\"stateMachineArn\";}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteStateMachineOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeActivityInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"activityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:59:\"The
  Amazon Resource Name (ARN) of the activity to describe.\";}}s:8:\"required\";a:1:{i:0;s:11:\"activityArn\";}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeActivityOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"activityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:60:\"The
  Amazon Resource Name (ARN) that identifies the activity.\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:34:\"The
  date the activity was created.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:25:\"The
  name of the activity.\";}}s:8:\"required\";a:3:{i:0;s:11:\"activityArn\";i:1;s:4:\"name\";i:2;s:12:\"creationDate\";}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeExecutionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"executionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:60:\"The
  Amazon Resource Name (ARN) of the execution to describe.\";}}s:8:\"required\";a:1:{i:0;s:12:\"executionArn\";}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeExecutionOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"executionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:61:\"The
  Amazon Resource Name (ARN) that identifies the execution.\";}s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Data\";s:11:\"description\";s:37:\"The
  JSON input data of the execution.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:26:\"The
  name of the execution.\";}s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Data\";s:11:\"description\";s:38:\"The
  JSON output data of the execution.\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:35:\"The
  date the execution was started.\";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:62:\"The
  Amazon Resource Name (ARN) of the executed stated machine.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ExecutionStatus\";s:11:\"description\";s:36:\"The
  current status of the execution.\";}s:8:\"stopDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:67:\"If
  the execution has already ended, the date the execution stopped.\";}}s:8:\"required\";a:5:{i:0;s:12:\"executionArn\";i:1;s:15:\"stateMachineArn\";i:2;s:6:\"status\";i:3;s:9:\"startDate\";i:4;s:5:\"input\";}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeStateMachineInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:64:\"The
  Amazon Resource Name (ARN) of the state machine to describe.\";}}s:8:\"required\";a:1:{i:0;s:15:\"stateMachineArn\";}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeStateMachineOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:39:\"The
  date the state machine was created.\";}s:10:\"definition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Definition\";s:11:\"description\";s:59:\"The
  Amazon States Language definition of the state machine.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:30:\"The
  name of the state machine.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:85:\"The
  Amazon Resource Name (ARN) of the IAM role used for executing this state machine.\";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:65:\"The
  Amazon Resource Name (ARN) that identifies the state machine.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/StateMachineStatus\";s:11:\"description\";s:40:\"The
  current status of the state machine.\";}}s:8:\"required\";a:5:{i:0;s:15:\"stateMachineArn\";i:1;s:4:\"name\";i:2;s:10:\"definition\";i:3;s:7:\"roleArn\";i:4;s:12:\"creationDate\";}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"EventId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"ExecutionAbortedEventDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Cause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ExecutionAlreadyExists\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"An
  execution with the same name already exists.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ExecutionDoesNotExist\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  specified execution does not exist.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ExecutionFailedEventDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Cause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ExecutionLimitExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"The
  maximum number of running executions has been reached. Running executions must end
  or be stopped before a new execution can be started.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ExecutionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ExecutionListItem\";}s:4:\"type\";s:5:\"array\";}s:17:\"ExecutionListItem\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"executionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:61:\"The
  Amazon Resource Name (ARN) that identifies the execution.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:26:\"The
  name of the execution.\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:31:\"The
  date the execution started.\";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:61:\"The
  Amazon Resource Name (ARN) of the executed state machine.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ExecutionStatus\";s:11:\"description\";s:36:\"The
  current status of the execution.\";}s:8:\"stopDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:63:\"If
  the execution already ended, the date the execution stopped.\";}}s:8:\"required\";a:5:{i:0;s:12:\"executionArn\";i:1;s:15:\"stateMachineArn\";i:2;s:4:\"name\";i:3;s:6:\"status\";i:4;s:9:\"startDate\";}s:4:\"type\";s:6:\"object\";}s:28:\"ExecutionStartedEventDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Data\";s:11:\"description\";s:37:\"The
  JSON data input to the execution.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:83:\"The
  Amazon Resource Name (ARN) of the IAM role used for executing AWS Lambda tasks.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ExecutionStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:7:\"RUNNING\";i:1;s:9:\"SUCCEEDED\";i:2;s:6:\"FAILED\";i:3;s:9:\"TIMED_OUT\";i:4;s:7:\"ABORTED\";}s:4:\"type\";s:6:\"string\";}s:30:\"ExecutionSucceededEventDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Data\";s:11:\"description\";s:38:\"The
  JSON data output by the execution.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ExecutionTimedOutEventDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Cause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the timeout.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GetActivityTaskInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"activityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:70:\"The
  Amazon Resource Name (ARN) of the activity to retrieve tasks from.\";}s:10:\"workerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:162:\"An
  arbitrary name may be provided in order to identify the worker that the task is
  assigned to. This name will be used when it is logged in the execution history.\";}}s:8:\"required\";a:1:{i:0;s:11:\"activityArn\";}s:4:\"type\";s:6:\"object\";}s:21:\"GetActivityTaskOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Data\";s:11:\"description\";s:33:\"The
  JSON input data for the task.\";}s:9:\"taskToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TaskToken\";s:11:\"description\";s:239:\"A
  token that identifies the scheduled task. This token must be copied and included
  in subsequent calls to <a>SendTaskHeartbeat</a>, <a>SendTaskSuccess</a> or <a>SendTaskFailure</a>
  in order to report the progress or completion of the task.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetExecutionHistoryInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"executionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:48:\"The
  Amazon Resource Name (ARN) of the execution.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:325:\"<p>The
  maximum number of results that will be returned per call. <code>nextToken</code>
  can be used to obtain further pages of results. The default is 100 and the maximum
  allowed page size is 1000.</p> <p>This is an upper limit only; the actual number
  of results returned per call may be fewer than the specified maximum.</p>\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:355:\"<p>If
  a <code>nextToken</code> was returned by a previous call, there are more results
  available. To retrieve the next page of results, make the call again using the returned
  token in <code>nextToken</code>. Keep all other arguments unchanged.</p> <p>The
  configured <code>maxResults</code> determines how many results can be returned in
  a single call.</p>\";}s:12:\"reverseOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ReverseOrder\";s:11:\"description\";s:65:\"Lists
  events in descending order of their <code>timeStamp</code>.\";}}s:8:\"required\";a:1:{i:0;s:12:\"executionArn\";}s:4:\"type\";s:6:\"object\";}s:25:\"GetExecutionHistoryOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"events\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/HistoryEventList\";s:11:\"description\";s:50:\"The
  list of events that occurred in the execution.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:335:\"<p>If
  a <code>nextToken</code> is returned, there are more results available. To retrieve
  the next page of results, make the call again using the returned token in <code>nextToken</code>.
  Keep all other arguments unchanged.</p> <p>The configured <code>maxResults</code>
  determines how many results can be returned in a single call.</p>\";}}s:8:\"required\";a:1:{i:0;s:6:\"events\";}s:4:\"type\";s:6:\"object\";}s:12:\"HistoryEvent\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":23:{s:26:\"activityFailedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ActivityFailedEventDetails\";}s:34:\"activityScheduleFailedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/ActivityScheduleFailedEventDetails\";}s:29:\"activityScheduledEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ActivityScheduledEventDetails\";}s:27:\"activityStartedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ActivityStartedEventDetails\";}s:29:\"activitySucceededEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ActivitySucceededEventDetails\";}s:28:\"activityTimedOutEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ActivityTimedOutEventDetails\";}s:28:\"executionAbortedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ExecutionAbortedEventDetails\";}s:27:\"executionFailedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ExecutionFailedEventDetails\";}s:28:\"executionStartedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ExecutionStartedEventDetails\";}s:30:\"executionSucceededEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/ExecutionSucceededEventDetails\";}s:29:\"executionTimedOutEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ExecutionTimedOutEventDetails\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/EventId\";s:11:\"description\";s:71:\"The
  id of the event. Events are numbered sequentially, starting at one.\";}s:32:\"lambdaFunctionFailedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/LambdaFunctionFailedEventDetails\";}s:40:\"lambdaFunctionScheduleFailedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/LambdaFunctionScheduleFailedEventDetails\";}s:35:\"lambdaFunctionScheduledEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/LambdaFunctionScheduledEventDetails\";}s:37:\"lambdaFunctionStartFailedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/LambdaFunctionStartFailedEventDetails\";}s:35:\"lambdaFunctionSucceededEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/LambdaFunctionSucceededEventDetails\";}s:34:\"lambdaFunctionTimedOutEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/LambdaFunctionTimedOutEventDetails\";}s:15:\"previousEventId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/EventId\";s:11:\"description\";s:29:\"The
  id of the previous event.\";}s:24:\"stateEnteredEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/StateEnteredEventDetails\";}s:23:\"stateExitedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/StateExitedEventDetails\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:27:\"The
  date the event occured.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/HistoryEventType\";s:11:\"description\";s:22:\"The
  type of the event.\";}}s:8:\"required\";a:3:{i:0;s:9:\"timestamp\";i:1;s:4:\"type\";i:2;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:16:\"HistoryEventList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/HistoryEvent\";}s:4:\"type\";s:5:\"array\";}s:16:\"HistoryEventType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:31:{i:0;s:14:\"ActivityFailed\";i:1;s:22:\"ActivityScheduleFailed\";i:2;s:17:\"ActivityScheduled\";i:3;s:15:\"ActivityStarted\";i:4;s:17:\"ActivitySucceeded\";i:5;s:16:\"ActivityTimedOut\";i:6;s:18:\"ChoiceStateEntered\";i:7;s:17:\"ChoiceStateExited\";i:8;s:15:\"ExecutionFailed\";i:9;s:16:\"ExecutionStarted\";i:10;s:18:\"ExecutionSucceeded\";i:11;s:16:\"ExecutionAborted\";i:12;s:17:\"ExecutionTimedOut\";i:13;s:16:\"FailStateEntered\";i:14;s:20:\"LambdaFunctionFailed\";i:15;s:28:\"LambdaFunctionScheduleFailed\";i:16;s:23:\"LambdaFunctionScheduled\";i:17;s:25:\"LambdaFunctionStartFailed\";i:18;s:21:\"LambdaFunctionStarted\";i:19;s:23:\"LambdaFunctionSucceeded\";i:20;s:22:\"LambdaFunctionTimedOut\";i:21;s:19:\"SucceedStateEntered\";i:22;s:18:\"SucceedStateExited\";i:23;s:16:\"TaskStateEntered\";i:24;s:15:\"TaskStateExited\";i:25;s:16:\"PassStateEntered\";i:26;s:15:\"PassStateExited\";i:27;s:20:\"ParallelStateEntered\";i:28;s:19:\"ParallelStateExited\";i:29;s:16:\"WaitStateEntered\";i:30;s:15:\"WaitStateExited\";}s:4:\"type\";s:6:\"string\";}s:8:\"Identity\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:256;s:4:\"type\";s:6:\"string\";}s:10:\"InvalidArn\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  provided Amazon Resource Name (ARN) is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:17:\"InvalidDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  provided Amazon States Language definition is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InvalidExecutionInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  provided JSON input data is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:11:\"InvalidName\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  provided name is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:13:\"InvalidOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  provided JSON output data is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"InvalidToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  provided token is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:32:\"LambdaFunctionFailedEventDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Cause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:40:\"LambdaFunctionScheduleFailedEventDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Cause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"LambdaFunctionScheduledEventDetails\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Data\";s:11:\"description\";s:43:\"The
  JSON data input to the lambda function.\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:64:\"The
  Amazon Resource Name (ARN) of the scheduled lambda function.\";}s:16:\"timeoutInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TimeoutInSeconds\";s:11:\"description\";s:52:\"The
  maximum allowed duration of the lambda function.\";}}s:8:\"required\";a:1:{i:0;s:8:\"resource\";}s:4:\"type\";s:6:\"object\";}s:37:\"LambdaFunctionStartFailedEventDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Cause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"LambdaFunctionSucceededEventDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Data\";s:11:\"description\";s:44:\"The
  JSON data output by the lambda function.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"LambdaFunctionTimedOutEventDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Cause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the timeout.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListActivitiesInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:325:\"<p>The
  maximum number of results that will be returned per call. <code>nextToken</code>
  can be used to obtain further pages of results. The default is 100 and the maximum
  allowed page size is 1000.</p> <p>This is an upper limit only; the actual number
  of results returned per call may be fewer than the specified maximum.</p>\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:355:\"<p>If
  a <code>nextToken</code> was returned by a previous call, there are more results
  available. To retrieve the next page of results, make the call again using the returned
  token in <code>nextToken</code>. Keep all other arguments unchanged.</p> <p>The
  configured <code>maxResults</code> determines how many results can be returned in
  a single call.</p>\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListActivitiesOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"activities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ActivityList\";s:11:\"description\";s:23:\"The
  list of activities.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:335:\"<p>If
  a <code>nextToken</code> is returned, there are more results available. To retrieve
  the next page of results, make the call again using the returned token in <code>nextToken</code>.
  Keep all other arguments unchanged.</p> <p>The configured <code>maxResults</code>
  determines how many results can be returned in a single call.</p>\";}}s:8:\"required\";a:1:{i:0;s:10:\"activities\";}s:4:\"type\";s:6:\"object\";}s:19:\"ListExecutionsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:325:\"<p>The
  maximum number of results that will be returned per call. <code>nextToken</code>
  can be used to obtain further pages of results. The default is 100 and the maximum
  allowed page size is 1000.</p> <p>This is an upper limit only; the actual number
  of results returned per call may be fewer than the specified maximum.</p>\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:355:\"<p>If
  a <code>nextToken</code> was returned by a previous call, there are more results
  available. To retrieve the next page of results, make the call again using the returned
  token in <code>nextToken</code>. Keep all other arguments unchanged.</p> <p>The
  configured <code>maxResults</code> determines how many results can be returned in
  a single call.</p>\";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:84:\"The
  Amazon Resource Name (ARN) of the state machine whose executions will be listed.\";}s:12:\"statusFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ExecutionStatus\";s:11:\"description\";s:95:\"If
  specified, only list the executions whose current execution status matches the given
  filter.\";}}s:8:\"required\";a:1:{i:0;s:15:\"stateMachineArn\";}s:4:\"type\";s:6:\"object\";}s:20:\"ListExecutionsOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"executions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ExecutionList\";s:11:\"description\";s:32:\"The
  list of matching executions.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:335:\"<p>If
  a <code>nextToken</code> is returned, there are more results available. To retrieve
  the next page of results, make the call again using the returned token in <code>nextToken</code>.
  Keep all other arguments unchanged.</p> <p>The configured <code>maxResults</code>
  determines how many results can be returned in a single call.</p>\";}}s:8:\"required\";a:1:{i:0;s:10:\"executions\";}s:4:\"type\";s:6:\"object\";}s:22:\"ListStateMachinesInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:325:\"<p>The
  maximum number of results that will be returned per call. <code>nextToken</code>
  can be used to obtain further pages of results. The default is 100 and the maximum
  allowed page size is 1000.</p> <p>This is an upper limit only; the actual number
  of results returned per call may be fewer than the specified maximum.</p>\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:355:\"<p>If
  a <code>nextToken</code> was returned by a previous call, there are more results
  available. To retrieve the next page of results, make the call again using the returned
  token in <code>nextToken</code>. Keep all other arguments unchanged.</p> <p>The
  configured <code>maxResults</code> determines how many results can be returned in
  a single call.</p>\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListStateMachinesOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:335:\"<p>If
  a <code>nextToken</code> is returned, there are more results available. To retrieve
  the next page of results, make the call again using the returned token in <code>nextToken</code>.
  Keep all other arguments unchanged.</p> <p>The configured <code>maxResults</code>
  determines how many results can be returned in a single call.</p>\";}s:13:\"stateMachines\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/StateMachineList\";}}s:8:\"required\";a:1:{i:0;s:13:\"stateMachines\";}s:4:\"type\";s:6:\"object\";}s:4:\"Name\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:80;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:8:\"PageSize\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:1000;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:9:\"PageToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:12:\"ReverseOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"SendTaskFailureInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Cause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:65:\"An
  arbitrary error code that identifies the cause of the failure.\";}s:9:\"taskToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TaskToken\";s:11:\"description\";s:151:\"The
  token that represents this task. Task tokens are generated by the service when the
  tasks are assigned to a worker (see GetActivityTask::taskToken).\";}}s:8:\"required\";a:1:{i:0;s:9:\"taskToken\";}s:4:\"type\";s:6:\"object\";}s:21:\"SendTaskFailureOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"SendTaskHeartbeatInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"taskToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TaskToken\";s:11:\"description\";s:151:\"The
  token that represents this task. Task tokens are generated by the service when the
  tasks are assigned to a worker (see GetActivityTask::taskToken).\";}}s:8:\"required\";a:1:{i:0;s:9:\"taskToken\";}s:4:\"type\";s:6:\"object\";}s:23:\"SendTaskHeartbeatOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"SendTaskSuccessInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Data\";s:11:\"description\";s:28:\"The
  JSON output of the task.\";}s:9:\"taskToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TaskToken\";s:11:\"description\";s:151:\"The
  token that represents this task. Task tokens are generated by the service when the
  tasks are assigned to a worker (see GetActivityTask::taskToken).\";}}s:8:\"required\";a:2:{i:0;s:9:\"taskToken\";i:1;s:6:\"output\";}s:4:\"type\";s:6:\"object\";}s:21:\"SendTaskSuccessOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"StartExecutionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Data\";s:11:\"description\";s:38:\"The
  JSON input data for the execution.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:84:\"The
  name of the execution. This name must be unique for your AWS account and region.\";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:63:\"The
  Amazon Resource Name (ARN) of the state machine to execute.\";}}s:8:\"required\";a:1:{i:0;s:15:\"stateMachineArn\";}s:4:\"type\";s:6:\"object\";}s:20:\"StartExecutionOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"executionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:61:\"The
  Amazon Resource Name (ARN) that identifies the execution.\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:35:\"The
  date the execution was started.\";}}s:8:\"required\";a:2:{i:0;s:12:\"executionArn\";i:1;s:9:\"startDate\";}s:4:\"type\";s:6:\"object\";}s:24:\"StateEnteredEventDetails\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Data\";s:11:\"description\";s:33:\"The
  JSON input data to the state.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:22:\"The
  name of the state.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:23:\"StateExitedEventDetails\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:22:\"The
  name of the state.\";}s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Data\";s:11:\"description\";s:34:\"The
  JSON output data of the state.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:25:\"StateMachineAlreadyExists\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"A
  state machine with the same name but a different definition or role ARN already
  exists.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:20:\"StateMachineDeleting\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  specified state machine is being deleted.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:24:\"StateMachineDoesNotExist\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  specified state machine does not exist.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"StateMachineLimitExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"The
  maximum number of state machines has been reached. Existing state machines must
  be deleted before a new state machine can be created.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:16:\"StateMachineList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/StateMachineListItem\";}s:4:\"type\";s:5:\"array\";}s:20:\"StateMachineListItem\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:39:\"The
  date the state machine was created.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:30:\"The
  name of the state machine.\";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:65:\"The
  Amazon Resource Name (ARN) that identifies the state machine.\";}}s:8:\"required\";a:3:{i:0;s:15:\"stateMachineArn\";i:1;s:4:\"name\";i:2;s:12:\"creationDate\";}s:4:\"type\";s:6:\"object\";}s:18:\"StateMachineStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"ACTIVE\";i:1;s:8:\"DELETING\";}s:4:\"type\";s:6:\"string\";}s:18:\"StopExecutionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Cause\";s:11:\"description\";s:60:\"A
  more detailed explanation of the cause of the termination.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:69:\"An
  arbitrary error code that identifies the cause of the termination.\";}s:12:\"executionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:56:\"The
  Amazon Resource Name (ARN) of the execution to stop.\";}}s:8:\"required\";a:1:{i:0;s:12:\"executionArn\";}s:4:\"type\";s:6:\"object\";}s:19:\"StopExecutionOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"stopDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:35:\"The
  date the execution was stopped.\";}}s:8:\"required\";a:1:{i:0;s:8:\"stopDate\";}s:4:\"type\";s:6:\"object\";}s:16:\"TaskDoesNotExist\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"TaskTimedOut\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:9:\"TaskToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"TimeoutInSeconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}"
...
