---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1239:\"<fullname>AWS
  Step Functions</fullname> <p>AWS Step Functions is a service that lets you coordinate
  the components of distributed applications and microservices using visual workflows.</p>
  <p>You can use Step Functions to build applications from individual components,
  each of which performs a discrete function, or <i>task</i>, allowing you to scale
  and change applications quickly. Step Functions provides a console that helps visualize
  the components of your application as a series of steps. Step Functions automatically
  triggers and tracks each step, and retries steps when there are errors, so your
  application executes predictably and in the right order every time. Step Functions
  logs the state of each step, so you can quickly diagnose and debug any issues.</p>
  <p>Step Functions manages operations and underlying infrastructure to ensure your
  application is available at any scale. You can run tasks on AWS, your own servers,
  or any system that has access to AWS. You can access and use Step Functions using
  the console, the AWS SDKs, or an HTTP API. For more information about Step Functions,
  see the <i> <a href=\"http://docs.aws.amazon.com/step-functions/latest/dg/welcome.html\">AWS
  Step Functions Developer Guide</a> </i>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:18:\"AWS
  Step Functions\";s:7:\"version\";s:10:\"2016-11-23\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:90:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/states-2016-11-23.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:6:\"states\";}"
host: states.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":123:{s:20:\"ActivityDoesNotExist\";O:8:\"stdClass\":0:{}s:26:\"ActivityFailedEventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Contains
  details about an activity that failed during an execution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ActivityLimitExceeded\";O:8:\"stdClass\":0:{}s:12:\"ActivityList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ActivityListItem\";}s:4:\"type\";s:5:\"array\";}s:16:\"ActivityListItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Contains
  details about an activity.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"activityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:60:\"The
  Amazon Resource Name (ARN) that identifies the activity.\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:33:\"The
  date the activity is created.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:399:\"<p>The
  name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p>
  </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard
  characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\
  ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>,
  <code>U+007F-009F</code>)</p> </li> </ul>\";}}s:8:\"required\";a:3:{i:0;s:11:\"activityArn\";i:1;s:4:\"name\";i:2;s:12:\"creationDate\";}s:4:\"type\";s:6:\"object\";}s:34:\"ActivityScheduleFailedEventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Contains
  details about an activity schedule failure that occurred during an execution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ActivityScheduledEventDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Contains
  details about an activity scheduled during an execution.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"heartbeatInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TimeoutInSeconds\";s:11:\"description\";s:74:\"The
  maximum allowed duration between two heartbeats for the activity task.\";}s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SensitiveData\";s:11:\"description\";s:41:\"The
  JSON data input to the activity task.\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:57:\"The
  Amazon Resource Name (ARN) of the scheduled activity.\";}s:16:\"timeoutInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TimeoutInSeconds\";s:11:\"description\";s:50:\"The
  maximum allowed duration of the activity task.\";}}s:8:\"required\";a:1:{i:0;s:8:\"resource\";}s:4:\"type\";s:6:\"object\";}s:27:\"ActivityStartedEventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Contains
  details about the start of an activity during an execution.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"workerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Identity\";s:11:\"description\";s:129:\"The
  name of the worker that the task is assigned to. These names are provided by the
  workers when calling <a>GetActivityTask</a>.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ActivitySucceededEventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Contains
  details about an activity that successfully terminated during an execution.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SensitiveData\";s:11:\"description\";s:42:\"The
  JSON data output by the activity task.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ActivityTimedOutEventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Contains
  details about an activity timeout that occurred during an execution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the timeout.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ActivityWorkerLimitExceeded\";O:8:\"stdClass\":0:{}s:3:\"Arn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:19:\"ConnectorParameters\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:32768;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:19:\"CreateActivityInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:717:\"<p>The
  name of the activity to create. This name must be unique for your AWS account and
  region for 90 days. For more information, see <a href=\"http://docs.aws.amazon.com/step-functions/latest/dg/limits.html#service-limits-state-machine-executions\">
  Limits Related to State Machine Executions</a> in the <i>AWS Step Functions Developer
  Guide</i>.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p>
  </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard
  characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\
  ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>,
  <code>U+007F-009F</code>)</p> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateActivityOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"activityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:68:\"The
  Amazon Resource Name (ARN) that identifies the created activity.\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:33:\"The
  date the activity is created.\";}}s:8:\"required\";a:2:{i:0;s:11:\"activityArn\";i:1;s:12:\"creationDate\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreateStateMachineInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"definition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Definition\";s:11:\"description\";s:190:\"The
  Amazon States Language definition of the state machine. See <a href=\"http://docs.aws.amazon.com/step-functions/latest/dg/concepts-amazon-states-language.html\">Amazon
  States Language</a>.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:405:\"<p>The
  name of the state machine. </p> <p>A name must <i>not</i> contain:</p> <ul> <li>
  <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li>
  <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters
  <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters
  (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul>\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:77:\"The
  Amazon Resource Name (ARN) of the IAM role to use for this state machine.\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:10:\"definition\";i:2;s:7:\"roleArn\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateStateMachineOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:38:\"The
  date the state machine is created.\";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:73:\"The
  Amazon Resource Name (ARN) that identifies the created state machine.\";}}s:8:\"required\";a:2:{i:0;s:15:\"stateMachineArn\";i:1;s:12:\"creationDate\";}s:4:\"type\";s:6:\"object\";}s:10:\"Definition\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:1048576;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:19:\"DeleteActivityInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"activityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:57:\"The
  Amazon Resource Name (ARN) of the activity to delete.\";}}s:8:\"required\";a:1:{i:0;s:11:\"activityArn\";}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteActivityOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteStateMachineInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:62:\"The
  Amazon Resource Name (ARN) of the state machine to delete.\";}}s:8:\"required\";a:1:{i:0;s:15:\"stateMachineArn\";}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteStateMachineOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeActivityInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"activityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:59:\"The
  Amazon Resource Name (ARN) of the activity to describe.\";}}s:8:\"required\";a:1:{i:0;s:11:\"activityArn\";}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeActivityOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"activityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:60:\"The
  Amazon Resource Name (ARN) that identifies the activity.\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:33:\"The
  date the activity is created.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:399:\"<p>The
  name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p>
  </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard
  characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\
  ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>,
  <code>U+007F-009F</code>)</p> </li> </ul>\";}}s:8:\"required\";a:3:{i:0;s:11:\"activityArn\";i:1;s:4:\"name\";i:2;s:12:\"creationDate\";}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeExecutionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"executionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:60:\"The
  Amazon Resource Name (ARN) of the execution to describe.\";}}s:8:\"required\";a:1:{i:0;s:12:\"executionArn\";}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeExecutionOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"executionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:61:\"The
  Amazon Resource Name (ARN) that identifies the execution.\";}s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SensitiveData\";s:11:\"description\";s:62:\"The
  string that contains the JSON input data of the execution.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:400:\"<p>The
  name of the execution.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p>
  </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard
  characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\
  ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>,
  <code>U+007F-009F</code>)</p> </li> </ul>\";}s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SensitiveData\";s:11:\"description\";s:161:\"<p>The
  JSON output data of the execution.</p> <note> <p>This field is set only if the execution
  succeeds. If the execution fails, this field is null.</p> </note>\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:34:\"The
  date the execution is started.\";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:62:\"The
  Amazon Resource Name (ARN) of the executed stated machine.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ExecutionStatus\";s:11:\"description\";s:36:\"The
  current status of the execution.\";}s:8:\"stopDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:67:\"If
  the execution has already ended, the date the execution stopped.\";}}s:8:\"required\";a:5:{i:0;s:12:\"executionArn\";i:1;s:15:\"stateMachineArn\";i:2;s:6:\"status\";i:3;s:9:\"startDate\";i:4;s:5:\"input\";}s:4:\"type\";s:6:\"object\";}s:37:\"DescribeStateMachineForExecutionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"executionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:87:\"The
  Amazon Resource Name (ARN) of the execution you want state machine information for.\";}}s:8:\"required\";a:1:{i:0;s:12:\"executionArn\";}s:4:\"type\";s:6:\"object\";}s:38:\"DescribeStateMachineForExecutionOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"definition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Definition\";s:11:\"description\";s:190:\"The
  Amazon States Language definition of the state machine. See <a href=\"http://docs.aws.amazon.com/step-functions/latest/dg/concepts-amazon-states-language.html\">Amazon
  States Language</a>.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:60:\"The
  name of the state machine associated with the execution.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:87:\"The
  Amazon Resource Name (ARN) of the IAM role of the State Machine for the execution.
  \";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:82:\"The
  Amazon Resource Name (ARN) of the state machine associated with the execution.\";}s:10:\"updateDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:139:\"The
  date and time the state machine associated with an execution was updated. For a
  newly created state machine, this is the creation date.\";}}s:8:\"required\";a:5:{i:0;s:15:\"stateMachineArn\";i:1;s:4:\"name\";i:2;s:10:\"definition\";i:3;s:7:\"roleArn\";i:4;s:10:\"updateDate\";}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeStateMachineInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:64:\"The
  Amazon Resource Name (ARN) of the state machine to describe.\";}}s:8:\"required\";a:1:{i:0;s:15:\"stateMachineArn\";}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeStateMachineOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:38:\"The
  date the state machine is created.\";}s:10:\"definition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Definition\";s:11:\"description\";s:190:\"The
  Amazon States Language definition of the state machine. See <a href=\"http://docs.aws.amazon.com/step-functions/latest/dg/concepts-amazon-states-language.html\">Amazon
  States Language</a>.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:404:\"<p>The
  name of the state machine.</p> <p>A name must <i>not</i> contain:</p> <ul> <li>
  <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li>
  <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters
  <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters
  (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul>\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:171:\"The
  Amazon Resource Name (ARN) of the IAM role used when creating this state machine.
  (The IAM role maintains security by granting Step Functions access to AWS resources.)\";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:65:\"The
  Amazon Resource Name (ARN) that identifies the state machine.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/StateMachineStatus\";s:11:\"description\";s:40:\"The
  current status of the state machine.\";}}s:8:\"required\";a:5:{i:0;s:15:\"stateMachineArn\";i:1;s:4:\"name\";i:2;s:10:\"definition\";i:3;s:7:\"roleArn\";i:4;s:12:\"creationDate\";}s:4:\"type\";s:6:\"object\";}s:7:\"EventId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"ExecutionAbortedEventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Contains
  details about an abort of an execution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ExecutionAlreadyExists\";O:8:\"stdClass\":0:{}s:21:\"ExecutionDoesNotExist\";O:8:\"stdClass\":0:{}s:27:\"ExecutionFailedEventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Contains
  details about an execution failure event.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ExecutionLimitExceeded\";O:8:\"stdClass\":0:{}s:13:\"ExecutionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ExecutionListItem\";}s:4:\"type\";s:5:\"array\";}s:17:\"ExecutionListItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Contains
  details about an execution.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"executionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:61:\"The
  Amazon Resource Name (ARN) that identifies the execution.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:400:\"<p>The
  name of the execution.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p>
  </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard
  characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\
  ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>,
  <code>U+007F-009F</code>)</p> </li> </ul>\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:31:\"The
  date the execution started.\";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:61:\"The
  Amazon Resource Name (ARN) of the executed state machine.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ExecutionStatus\";s:11:\"description\";s:36:\"The
  current status of the execution.\";}s:8:\"stopDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:63:\"If
  the execution already ended, the date the execution stopped.\";}}s:8:\"required\";a:5:{i:0;s:12:\"executionArn\";i:1;s:15:\"stateMachineArn\";i:2;s:4:\"name\";i:3;s:6:\"status\";i:4;s:9:\"startDate\";}s:4:\"type\";s:6:\"object\";}s:28:\"ExecutionStartedEventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Contains
  details about the start of the execution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SensitiveData\";s:11:\"description\";s:37:\"The
  JSON data input to the execution.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:83:\"The
  Amazon Resource Name (ARN) of the IAM role used for executing AWS Lambda tasks.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ExecutionStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:7:\"RUNNING\";i:1;s:9:\"SUCCEEDED\";i:2;s:6:\"FAILED\";i:3;s:9:\"TIMED_OUT\";i:4;s:7:\"ABORTED\";}s:4:\"type\";s:6:\"string\";}s:30:\"ExecutionSucceededEventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Contains
  details about the successful termination of the execution.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SensitiveData\";s:11:\"description\";s:38:\"The
  JSON data output by the execution.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ExecutionTimedOutEventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Contains
  details about the execution timeout that occurred during the execution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the timeout.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GetActivityTaskInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"activityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:134:\"The
  Amazon Resource Name (ARN) of the activity to retrieve tasks from (assigned when
  you create the task using <a>CreateActivity</a>.)\";}s:10:\"workerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:157:\"You
  can provide an arbitrary name in order to identify the worker that the task is assigned
  to. This name is used when it is logged in the execution history.\";}}s:8:\"required\";a:1:{i:0;s:11:\"activityArn\";}s:4:\"type\";s:6:\"object\";}s:21:\"GetActivityTaskOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SensitiveData\";s:11:\"description\";s:58:\"The
  string that contains the JSON input data for the task.\";}s:9:\"taskToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TaskToken\";s:11:\"description\";s:239:\"A
  token that identifies the scheduled task. This token must be copied and included
  in subsequent calls to <a>SendTaskHeartbeat</a>, <a>SendTaskSuccess</a> or <a>SendTaskFailure</a>
  in order to report the progress or completion of the task.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetExecutionHistoryInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"executionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:48:\"The
  Amazon Resource Name (ARN) of the execution.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:354:\"<p>The
  maximum number of results that are returned per call. You can use <code>nextToken</code>
  to obtain further pages of results. The default is 100 and the maximum allowed page
  size is 1000. A value of 0 uses the default.</p> <p>This is only an upper limit.
  The actual number of results returned per call might be fewer than the specified
  maximum.</p>\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:391:\"If
  <code>nextToken</code> is returned, there are more results available. The value
  of <code>nextToken</code> is a unique pagination token for each page. Make the call
  again using the returned token to retrieve the next page. Keep all other arguments
  unchanged. Each pagination token expires after 24 hours. Using an expired pagination
  token will return an <i>HTTP 400 InvalidToken</i> error.\";}s:12:\"reverseOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ReverseOrder\";s:11:\"description\";s:65:\"Lists
  events in descending order of their <code>timeStamp</code>.\";}}s:8:\"required\";a:1:{i:0;s:12:\"executionArn\";}s:4:\"type\";s:6:\"object\";}s:25:\"GetExecutionHistoryOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"events\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/HistoryEventList\";s:11:\"description\";s:50:\"The
  list of events that occurred in the execution.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:391:\"If
  <code>nextToken</code> is returned, there are more results available. The value
  of <code>nextToken</code> is a unique pagination token for each page. Make the call
  again using the returned token to retrieve the next page. Keep all other arguments
  unchanged. Each pagination token expires after 24 hours. Using an expired pagination
  token will return an <i>HTTP 400 InvalidToken</i> error.\";}}s:8:\"required\";a:1:{i:0;s:6:\"events\";}s:4:\"type\";s:6:\"object\";}s:12:\"HistoryEvent\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Contains
  details about the events of an execution.\";s:10:\"properties\";O:8:\"stdClass\":31:{s:26:\"activityFailedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ActivityFailedEventDetails\";}s:34:\"activityScheduleFailedEventDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/ActivityScheduleFailedEventDetails\";s:11:\"description\";s:82:\"Contains
  details about an activity schedule event that failed during an execution.\";}s:29:\"activityScheduledEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ActivityScheduledEventDetails\";}s:27:\"activityStartedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ActivityStartedEventDetails\";}s:29:\"activitySucceededEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ActivitySucceededEventDetails\";}s:28:\"activityTimedOutEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ActivityTimedOutEventDetails\";}s:28:\"executionAbortedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ExecutionAbortedEventDetails\";}s:27:\"executionFailedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ExecutionFailedEventDetails\";}s:28:\"executionStartedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ExecutionStartedEventDetails\";}s:30:\"executionSucceededEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/ExecutionSucceededEventDetails\";}s:29:\"executionTimedOutEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ExecutionTimedOutEventDetails\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/EventId\";s:11:\"description\";s:71:\"The
  id of the event. Events are numbered sequentially, starting at one.\";}s:32:\"lambdaFunctionFailedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/LambdaFunctionFailedEventDetails\";}s:40:\"lambdaFunctionScheduleFailedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/LambdaFunctionScheduleFailedEventDetails\";}s:35:\"lambdaFunctionScheduledEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/LambdaFunctionScheduledEventDetails\";}s:37:\"lambdaFunctionStartFailedEventDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/LambdaFunctionStartFailedEventDetails\";s:11:\"description\";s:82:\"Contains
  details about a lambda function that failed to start during an execution.\";}s:35:\"lambdaFunctionSucceededEventDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/LambdaFunctionSucceededEventDetails\";s:11:\"description\";s:90:\"Contains
  details about a lambda function that terminated successfully during an execution.\";}s:34:\"lambdaFunctionTimedOutEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/LambdaFunctionTimedOutEventDetails\";}s:15:\"previousEventId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/EventId\";s:11:\"description\";s:29:\"The
  id of the previous event.\";}s:24:\"stateEnteredEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/StateEnteredEventDetails\";}s:23:\"stateExitedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/StateExitedEventDetails\";}s:22:\"taskFailedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TaskFailedEventDetails\";}s:25:\"taskScheduledEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/TaskScheduledEventDetails\";}s:27:\"taskStartFailedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/TaskStartFailedEventDetails\";}s:23:\"taskStartedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/TaskStartedEventDetails\";}s:28:\"taskSubmitFailedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/TaskSubmitFailedEventDetails\";}s:25:\"taskSubmittedEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/TaskSubmittedEventDetails\";}s:25:\"taskSucceededEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/TaskSucceededEventDetails\";}s:24:\"taskTimedOutEventDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TaskTimedOutEventDetails\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:37:\"The
  date and time the event occurred.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/HistoryEventType\";s:11:\"description\";s:22:\"The
  type of the event.\";}}s:8:\"required\";a:3:{i:0;s:9:\"timestamp\";i:1;s:4:\"type\";i:2;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:16:\"HistoryEventList\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Contains
  details about the events that occurred during an execution.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/HistoryEvent\";}s:4:\"type\";s:5:\"array\";}s:16:\"HistoryEventType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:45:{i:0;s:14:\"ActivityFailed\";i:1;s:22:\"ActivityScheduleFailed\";i:2;s:17:\"ActivityScheduled\";i:3;s:15:\"ActivityStarted\";i:4;s:17:\"ActivitySucceeded\";i:5;s:16:\"ActivityTimedOut\";i:6;s:18:\"ChoiceStateEntered\";i:7;s:17:\"ChoiceStateExited\";i:8;s:10:\"TaskFailed\";i:9;s:13:\"TaskScheduled\";i:10;s:15:\"TaskStartFailed\";i:11;s:11:\"TaskStarted\";i:12;s:16:\"TaskSubmitFailed\";i:13;s:13:\"TaskSubmitted\";i:14;s:13:\"TaskSucceeded\";i:15;s:12:\"TaskTimedOut\";i:16;s:15:\"ExecutionFailed\";i:17;s:16:\"ExecutionStarted\";i:18;s:18:\"ExecutionSucceeded\";i:19;s:16:\"ExecutionAborted\";i:20;s:17:\"ExecutionTimedOut\";i:21;s:16:\"FailStateEntered\";i:22;s:20:\"LambdaFunctionFailed\";i:23;s:28:\"LambdaFunctionScheduleFailed\";i:24;s:23:\"LambdaFunctionScheduled\";i:25;s:25:\"LambdaFunctionStartFailed\";i:26;s:21:\"LambdaFunctionStarted\";i:27;s:23:\"LambdaFunctionSucceeded\";i:28;s:22:\"LambdaFunctionTimedOut\";i:29;s:19:\"SucceedStateEntered\";i:30;s:18:\"SucceedStateExited\";i:31;s:16:\"TaskStateAborted\";i:32;s:16:\"TaskStateEntered\";i:33;s:15:\"TaskStateExited\";i:34;s:16:\"PassStateEntered\";i:35;s:15:\"PassStateExited\";i:36;s:20:\"ParallelStateAborted\";i:37;s:20:\"ParallelStateEntered\";i:38;s:19:\"ParallelStateExited\";i:39;s:19:\"ParallelStateFailed\";i:40;s:20:\"ParallelStateStarted\";i:41;s:22:\"ParallelStateSucceeded\";i:42;s:16:\"WaitStateAborted\";i:43;s:16:\"WaitStateEntered\";i:44;s:15:\"WaitStateExited\";}s:4:\"type\";s:6:\"string\";}s:8:\"Identity\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:256;s:4:\"type\";s:6:\"string\";}s:10:\"InvalidArn\";O:8:\"stdClass\":0:{}s:17:\"InvalidDefinition\";O:8:\"stdClass\":0:{}s:21:\"InvalidExecutionInput\";O:8:\"stdClass\":0:{}s:11:\"InvalidName\";O:8:\"stdClass\":0:{}s:13:\"InvalidOutput\";O:8:\"stdClass\":0:{}s:12:\"InvalidToken\";O:8:\"stdClass\":0:{}s:32:\"LambdaFunctionFailedEventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Contains
  details about a lambda function that failed during an execution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:40:\"LambdaFunctionScheduleFailedEventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Contains
  details about a failed lambda function schedule event that occurred during an execution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"LambdaFunctionScheduledEventDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"Contains
  details about a lambda function scheduled during an execution.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SensitiveData\";s:11:\"description\";s:43:\"The
  JSON data input to the lambda function.\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:64:\"The
  Amazon Resource Name (ARN) of the scheduled lambda function.\";}s:16:\"timeoutInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TimeoutInSeconds\";s:11:\"description\";s:52:\"The
  maximum allowed duration of the lambda function.\";}}s:8:\"required\";a:1:{i:0;s:8:\"resource\";}s:4:\"type\";s:6:\"object\";}s:37:\"LambdaFunctionStartFailedEventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Contains
  details about a lambda function that failed to start during an execution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"LambdaFunctionSucceededEventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Contains
  details about a lambda function that successfully terminated during an execution.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SensitiveData\";s:11:\"description\";s:44:\"The
  JSON data output by the lambda function.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"LambdaFunctionTimedOutEventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Contains
  details about a lambda function timeout that occurred during an execution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the timeout.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListActivitiesInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:354:\"<p>The
  maximum number of results that are returned per call. You can use <code>nextToken</code>
  to obtain further pages of results. The default is 100 and the maximum allowed page
  size is 1000. A value of 0 uses the default.</p> <p>This is only an upper limit.
  The actual number of results returned per call might be fewer than the specified
  maximum.</p>\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:391:\"If
  <code>nextToken</code> is returned, there are more results available. The value
  of <code>nextToken</code> is a unique pagination token for each page. Make the call
  again using the returned token to retrieve the next page. Keep all other arguments
  unchanged. Each pagination token expires after 24 hours. Using an expired pagination
  token will return an <i>HTTP 400 InvalidToken</i> error.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListActivitiesOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"activities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ActivityList\";s:11:\"description\";s:23:\"The
  list of activities.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:391:\"If
  <code>nextToken</code> is returned, there are more results available. The value
  of <code>nextToken</code> is a unique pagination token for each page. Make the call
  again using the returned token to retrieve the next page. Keep all other arguments
  unchanged. Each pagination token expires after 24 hours. Using an expired pagination
  token will return an <i>HTTP 400 InvalidToken</i> error.\";}}s:8:\"required\";a:1:{i:0;s:10:\"activities\";}s:4:\"type\";s:6:\"object\";}s:19:\"ListExecutionsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:354:\"<p>The
  maximum number of results that are returned per call. You can use <code>nextToken</code>
  to obtain further pages of results. The default is 100 and the maximum allowed page
  size is 1000. A value of 0 uses the default.</p> <p>This is only an upper limit.
  The actual number of results returned per call might be fewer than the specified
  maximum.</p>\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:391:\"If
  <code>nextToken</code> is returned, there are more results available. The value
  of <code>nextToken</code> is a unique pagination token for each page. Make the call
  again using the returned token to retrieve the next page. Keep all other arguments
  unchanged. Each pagination token expires after 24 hours. Using an expired pagination
  token will return an <i>HTTP 400 InvalidToken</i> error.\";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:79:\"The
  Amazon Resource Name (ARN) of the state machine whose executions is listed.\";}s:12:\"statusFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ExecutionStatus\";s:11:\"description\";s:95:\"If
  specified, only list the executions whose current execution status matches the given
  filter.\";}}s:8:\"required\";a:1:{i:0;s:15:\"stateMachineArn\";}s:4:\"type\";s:6:\"object\";}s:20:\"ListExecutionsOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"executions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ExecutionList\";s:11:\"description\";s:32:\"The
  list of matching executions.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:391:\"If
  <code>nextToken</code> is returned, there are more results available. The value
  of <code>nextToken</code> is a unique pagination token for each page. Make the call
  again using the returned token to retrieve the next page. Keep all other arguments
  unchanged. Each pagination token expires after 24 hours. Using an expired pagination
  token will return an <i>HTTP 400 InvalidToken</i> error.\";}}s:8:\"required\";a:1:{i:0;s:10:\"executions\";}s:4:\"type\";s:6:\"object\";}s:22:\"ListStateMachinesInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:354:\"<p>The
  maximum number of results that are returned per call. You can use <code>nextToken</code>
  to obtain further pages of results. The default is 100 and the maximum allowed page
  size is 1000. A value of 0 uses the default.</p> <p>This is only an upper limit.
  The actual number of results returned per call might be fewer than the specified
  maximum.</p>\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:391:\"If
  <code>nextToken</code> is returned, there are more results available. The value
  of <code>nextToken</code> is a unique pagination token for each page. Make the call
  again using the returned token to retrieve the next page. Keep all other arguments
  unchanged. Each pagination token expires after 24 hours. Using an expired pagination
  token will return an <i>HTTP 400 InvalidToken</i> error.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListStateMachinesOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageToken\";s:11:\"description\";s:391:\"If
  <code>nextToken</code> is returned, there are more results available. The value
  of <code>nextToken</code> is a unique pagination token for each page. Make the call
  again using the returned token to retrieve the next page. Keep all other arguments
  unchanged. Each pagination token expires after 24 hours. Using an expired pagination
  token will return an <i>HTTP 400 InvalidToken</i> error.\";}s:13:\"stateMachines\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/StateMachineList\";}}s:8:\"required\";a:1:{i:0;s:13:\"stateMachines\";}s:4:\"type\";s:6:\"object\";}s:24:\"ListTagsForResourceInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"resourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:80:\"The
  Amazon Resource Name (ARN) for the Step Functions state machine or activity.\";}}s:8:\"required\";a:1:{i:0;s:11:\"resourceArn\";}s:4:\"type\";s:6:\"object\";}s:25:\"ListTagsForResourceOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:46:\"An
  array of tags associated with the resource.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"MissingRequiredParameter\";O:8:\"stdClass\":0:{}s:4:\"Name\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:80;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:8:\"PageSize\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:1000;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:9:\"PageToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"ResourceNotFound\";O:8:\"stdClass\":0:{}s:12:\"ReverseOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"SendTaskFailureInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}s:9:\"taskToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TaskToken\";s:11:\"description\";s:151:\"The
  token that represents this task. Task tokens are generated by the service when the
  tasks are assigned to a worker (see GetActivityTask::taskToken).\";}}s:8:\"required\";a:1:{i:0;s:9:\"taskToken\";}s:4:\"type\";s:6:\"object\";}s:21:\"SendTaskFailureOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"SendTaskHeartbeatInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"taskToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TaskToken\";s:11:\"description\";s:163:\"The
  token that represents this task. Task tokens are generated by the service when the
  tasks are assigned to a worker (see <a>GetActivityTaskOutput$taskToken</a>).\";}}s:8:\"required\";a:1:{i:0;s:9:\"taskToken\";}s:4:\"type\";s:6:\"object\";}s:23:\"SendTaskHeartbeatOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"SendTaskSuccessInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SensitiveData\";s:11:\"description\";s:28:\"The
  JSON output of the task.\";}s:9:\"taskToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TaskToken\";s:11:\"description\";s:163:\"The
  token that represents this task. Task tokens are generated by the service when the
  tasks are assigned to a worker (see <a>GetActivityTaskOutput$taskToken</a>).\";}}s:8:\"required\";a:2:{i:0;s:9:\"taskToken\";i:1;s:6:\"output\";}s:4:\"type\";s:6:\"object\";}s:21:\"SendTaskSuccessOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"SensitiveCause\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:32768;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:13:\"SensitiveData\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:32768;s:4:\"type\";s:6:\"string\";}s:14:\"SensitiveError\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:19:\"StartExecutionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SensitiveData\";s:11:\"description\";s:288:\"<p>The
  string that contains the JSON input data for the execution, for example:</p> <p>
  <code>\"input\": \"{\\\"first_name\\\" : \\\"test\\\"}\"</code> </p> <note> <p>If
  you don't include any JSON input data, you still must include the two braces, for
  example: <code>\"input\": \"{}\"</code> </p> </note>\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:708:\"<p>The
  name of the execution. This name must be unique for your AWS account and region
  for 90 days. For more information, see <a href=\"http://docs.aws.amazon.com/step-functions/latest/dg/limits.html#service-limits-state-machine-executions\">
  Limits Related to State Machine Executions</a> in the <i>AWS Step Functions Developer
  Guide</i>.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p>
  </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard
  characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\
  ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>,
  <code>U+007F-009F</code>)</p> </li> </ul>\";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:63:\"The
  Amazon Resource Name (ARN) of the state machine to execute.\";}}s:8:\"required\";a:1:{i:0;s:15:\"stateMachineArn\";}s:4:\"type\";s:6:\"object\";}s:20:\"StartExecutionOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"executionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:61:\"The
  Amazon Resource Name (ARN) that identifies the execution.\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:34:\"The
  date the execution is started.\";}}s:8:\"required\";a:2:{i:0;s:12:\"executionArn\";i:1;s:9:\"startDate\";}s:4:\"type\";s:6:\"object\";}s:24:\"StateEnteredEventDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Contains
  details about a state entered during an execution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SensitiveData\";s:11:\"description\";s:59:\"The
  string that contains the JSON input data for the state.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:22:\"The
  name of the state.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:23:\"StateExitedEventDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Contains
  details about an exit from a state during an execution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:396:\"<p>The
  name of the state.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>whitespace</p>
  </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard
  characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\
  ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>,
  <code>U+007F-009F</code>)</p> </li> </ul>\";}s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SensitiveData\";s:11:\"description\";s:34:\"The
  JSON output data of the state.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:25:\"StateMachineAlreadyExists\";O:8:\"stdClass\":0:{}s:20:\"StateMachineDeleting\";O:8:\"stdClass\":0:{}s:24:\"StateMachineDoesNotExist\";O:8:\"stdClass\":0:{}s:25:\"StateMachineLimitExceeded\";O:8:\"stdClass\":0:{}s:16:\"StateMachineList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/StateMachineListItem\";}s:4:\"type\";s:5:\"array\";}s:20:\"StateMachineListItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Contains
  details about the state machine.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:38:\"The
  date the state machine is created.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:404:\"<p>The
  name of the state machine.</p> <p>A name must <i>not</i> contain:</p> <ul> <li>
  <p>whitespace</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li>
  <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters
  <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters
  (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul>\";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:65:\"The
  Amazon Resource Name (ARN) that identifies the state machine.\";}}s:8:\"required\";a:3:{i:0;s:15:\"stateMachineArn\";i:1;s:4:\"name\";i:2;s:12:\"creationDate\";}s:4:\"type\";s:6:\"object\";}s:18:\"StateMachineStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"ACTIVE\";i:1;s:8:\"DELETING\";}s:4:\"type\";s:6:\"string\";}s:18:\"StopExecutionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}s:12:\"executionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:56:\"The
  Amazon Resource Name (ARN) of the execution to stop.\";}}s:8:\"required\";a:1:{i:0;s:12:\"executionArn\";}s:4:\"type\";s:6:\"object\";}s:19:\"StopExecutionOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"stopDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:34:\"The
  date the execution is stopped.\";}}s:8:\"required\";a:1:{i:0;s:8:\"stopDate\";}s:4:\"type\";s:6:\"object\";}s:3:\"Tag\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Tags
  are key-value pairs that can be associated with Step Functions state machines and
  activities.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";s:11:\"description\";s:17:\"The
  key of a tag.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:19:\"The
  value of a tag.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"TagKey\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"TagKeyList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:4:\"type\";s:5:\"array\";}s:7:\"TagList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:4:\"type\";s:5:\"array\";}s:16:\"TagResourceInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"resourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:80:\"The
  Amazon Resource Name (ARN) for the Step Functions state machine or activity.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:159:\"<p>The
  list of tags to add to a resource.</p> <p>Tags may only contain unicode letters,
  digits, whitespace, or these symbols: <code>_ . : / = + - @</code>.</p>\";}}s:8:\"required\";a:2:{i:0;s:11:\"resourceArn\";i:1;s:4:\"tags\";}s:4:\"type\";s:6:\"object\";}s:17:\"TagResourceOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"TagValue\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:16:\"TaskDoesNotExist\";O:8:\"stdClass\":0:{}s:22:\"TaskFailedEventDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Contains
  details about a task failure event.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:49:\"The
  service name of the resource in a task state.\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:50:\"The
  action of the resource called by a task state.\";}}s:8:\"required\";a:2:{i:0;s:12:\"resourceType\";i:1;s:8:\"resource\";}s:4:\"type\";s:6:\"object\";}s:25:\"TaskScheduledEventDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Contains
  details about a task scheduled during an execution.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ConnectorParameters\";s:11:\"description\";s:64:\"The
  JSON data passed to the resource referenced in a task state.\";}s:6:\"region\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:32:\"The
  region of the scheduled task\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:49:\"The
  service name of the resource in a task state.\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:50:\"The
  action of the resource called by a task state.\";}s:16:\"timeoutInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TimeoutInSeconds\";s:11:\"description\";s:41:\"The
  maximum allowed duration of the task.\";}}s:8:\"required\";a:4:{i:0;s:12:\"resourceType\";i:1;s:8:\"resource\";i:2;s:6:\"region\";i:3;s:10:\"parameters\";}s:4:\"type\";s:6:\"object\";}s:27:\"TaskStartFailedEventDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"Contains
  details about a task that failed to start during an execution.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:49:\"The
  service name of the resource in a task state.\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:50:\"The
  action of the resource called by a task state.\";}}s:8:\"required\";a:2:{i:0;s:12:\"resourceType\";i:1;s:8:\"resource\";}s:4:\"type\";s:6:\"object\";}s:23:\"TaskStartedEventDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"Contains
  details about the start of a task during an execution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:49:\"The
  service name of the resource in a task state.\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:50:\"The
  action of the resource called by a task state.\";}}s:8:\"required\";a:2:{i:0;s:12:\"resourceType\";i:1;s:8:\"resource\";}s:4:\"type\";s:6:\"object\";}s:28:\"TaskSubmitFailedEventDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"Contains
  details about a task that failed to submit during an execution.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:49:\"The
  service name of the resource in a task state.\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:50:\"The
  action of the resource called by a task state.\";}}s:8:\"required\";a:2:{i:0;s:12:\"resourceType\";i:1;s:8:\"resource\";}s:4:\"type\";s:6:\"object\";}s:25:\"TaskSubmittedEventDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"Contains
  details about a task submitted to a resource .\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SensitiveData\";s:11:\"description\";s:53:\"The
  response from a resource when a task has started.\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:49:\"The
  service name of the resource in a task state.\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:50:\"The
  action of the resource called by a task state.\";}}s:8:\"required\";a:2:{i:0;s:12:\"resourceType\";i:1;s:8:\"resource\";}s:4:\"type\";s:6:\"object\";}s:25:\"TaskSucceededEventDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Contains
  details about the successful completion of a task state.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SensitiveData\";s:11:\"description\";s:119:\"The
  full JSON response from a resource when a task has succeeded. This response becomes
  the output of the related task.\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:49:\"The
  service name of the resource in a task state.\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:50:\"The
  action of the resource called by a task state.\";}}s:8:\"required\";a:2:{i:0;s:12:\"resourceType\";i:1;s:8:\"resource\";}s:4:\"type\";s:6:\"object\";}s:12:\"TaskTimedOut\";O:8:\"stdClass\":0:{}s:24:\"TaskTimedOutEventDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Contains
  details about a resource timeout that occurred during an execution.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveCause\";s:11:\"description\";s:56:\"A
  more detailed explanation of the cause of the failure.\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SensitiveError\";s:11:\"description\";s:30:\"The
  error code of the failure.\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:49:\"The
  service name of the resource in a task state.\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:50:\"The
  action of the resource called by a task state.\";}}s:8:\"required\";a:2:{i:0;s:12:\"resourceType\";i:1;s:8:\"resource\";}s:4:\"type\";s:6:\"object\";}s:9:\"TaskToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"TimeoutInSeconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"TooManyTags\";O:8:\"stdClass\":0:{}s:18:\"UntagResourceInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"resourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:80:\"The
  Amazon Resource Name (ARN) for the Step Functions state machine or activity.\";}s:7:\"tagKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TagKeyList\";s:11:\"description\";s:45:\"The
  list of tags to remove from the resource.\";}}s:8:\"required\";a:2:{i:0;s:11:\"resourceArn\";i:1;s:7:\"tagKeys\";}s:4:\"type\";s:6:\"object\";}s:19:\"UntagResourceOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"UpdateStateMachineInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"definition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Definition\";s:11:\"description\";s:190:\"The
  Amazon States Language definition of the state machine. See <a href=\"http://docs.aws.amazon.com/step-functions/latest/dg/concepts-amazon-states-language.html\">Amazon
  States Language</a>.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:68:\"The
  Amazon Resource Name (ARN) of the IAM role of the state machine.\";}s:15:\"stateMachineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:52:\"The
  Amazon Resource Name (ARN) of the state machine.\";}}s:8:\"required\";a:1:{i:0;s:15:\"stateMachineArn\";}s:4:\"type\";s:6:\"object\";}s:24:\"UpdateStateMachineOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"updateDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:48:\"The
  date and time the state machine was updated.\";}}s:8:\"required\";a:1:{i:0;s:10:\"updateDate\";}s:4:\"type\";s:6:\"object\";}}"
...
