---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:639:\"<fullname>Amazon
  Cloud Directory</fullname> <p>Amazon Cloud Directory is a component of the AWS Directory
  Service that simplifies the development and management of cloud-scale web, mobile,
  and IoT applications. This guide describes the Cloud Directory operations that you
  can call programmatically and includes detailed information on data types and errors.
  For information about AWS Directory Services features, see <a href=\"https://aws.amazon.com/directoryservice/\">AWS
  Directory Service</a> and the <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/what_is.html\">AWS
  Directory Service Administration Guide</a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:21:\"Amazon
  CloudDirectory\";s:7:\"version\";s:10:\"2016-05-10\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:98:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/clouddirectory-2016-05-10.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:14:\"clouddirectory\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"amazonaws_clouddirectory\";s:4:\"type\";s:7:\"openapi\";}}"
host: clouddirectory.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":331:{s:21:\"AccessDeniedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Access
  denied. Check your permissions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:23:\"AddFacetToObjectRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"ObjectAttributeList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AttributeKeyAndValueList\";s:11:\"description\";s:58:\"Attributes
  on the facet that you are adding to the object.\";}s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:64:\"A
  reference to the object you are adding the specified facet to.\";}s:11:\"SchemaFacet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SchemaFacet\";s:11:\"description\";s:96:\"Identifiers
  for the facet that you are adding to the object. See <a>SchemaFacet</a> for details.\";}}s:8:\"required\";a:2:{i:0;s:11:\"SchemaFacet\";i:1;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:24:\"AddFacetToObjectResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"ApplySchemaRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"PublishedSchemaArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:107:\"Published
  schema Amazon Resource Name (ARN) that needs to be copied. For more information,
  see <a>arns</a>.\";}}s:8:\"required\";a:1:{i:0;s:18:\"PublishedSchemaArn\";}s:4:\"type\";s:6:\"object\";}s:19:\"ApplySchemaResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"AppliedSchemaArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:211:\"The
  applied schema ARN that is associated with the copied schema in the <a>Directory</a>.
  You can use this ARN to describe the schema information applied on this directory.
  For more information, see <a>arns</a>.\";}s:12:\"DirectoryArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:92:\"The
  ARN that is associated with the <a>Directory</a>. For more information, see <a>arns</a>.\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Arn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Arns\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";}s:4:\"type\";s:5:\"array\";}s:19:\"AttachObjectRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"ChildReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:56:\"The
  child object reference to be attached to the object.\";}s:8:\"LinkName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LinkName\";s:11:\"description\";s:68:\"The
  link name with which the child object is attached to the parent.\";}s:15:\"ParentReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:28:\"The
  parent object reference.\";}}s:8:\"required\";a:3:{i:0;s:15:\"ParentReference\";i:1;s:14:\"ChildReference\";i:2;s:8:\"LinkName\";}s:4:\"type\";s:6:\"object\";}s:20:\"AttachObjectResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"AttachedObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:93:\"The
  attached <code>ObjectIdentifier</code>, which is the child <code>ObjectIdentifier</code>.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"AttachPolicyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:78:\"The
  reference that identifies the object to which the policy will be attached.\";}s:15:\"PolicyReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:56:\"The
  reference that is associated with the policy object.\";}}s:8:\"required\";a:2:{i:0;s:15:\"PolicyReference\";i:1;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:20:\"AttachPolicyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"AttachToIndexRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"IndexReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:62:\"A
  reference to the index that you are attaching the object to.\";}s:15:\"TargetReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:62:\"A
  reference to the object that you are attaching to the index.\";}}s:8:\"required\";a:2:{i:0;s:14:\"IndexReference\";i:1;s:15:\"TargetReference\";}s:4:\"type\";s:6:\"object\";}s:21:\"AttachToIndexResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"AttachedObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:79:\"The
  <code>ObjectIdentifier</code> of the object that was attached to the index.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"AttachTypedLinkRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/AttributeNameAndValueList\";s:11:\"description\";s:60:\"A
  set of attributes that are associated with the typed link.\";}s:21:\"SourceObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:64:\"Identifies
  the source object that the typed link will attach to.\";}s:21:\"TargetObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:64:\"Identifies
  the target object that the typed link will attach to.\";}s:14:\"TypedLinkFacet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/TypedLinkSchemaAndFacetName\";s:11:\"description\";s:71:\"Identifies
  the typed link facet that is associated with the typed link.\";}}s:8:\"required\";a:4:{i:0;s:21:\"SourceObjectReference\";i:1;s:21:\"TargetObjectReference\";i:2;s:14:\"TypedLinkFacet\";i:3;s:10:\"Attributes\";}s:4:\"type\";s:6:\"object\";}s:23:\"AttachTypedLinkResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"TypedLinkSpecifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TypedLinkSpecifier\";s:11:\"description\";s:41:\"Returns
  a typed link specifier as output.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AttributeKey\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"A
  unique identifier for an attribute.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"FacetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/FacetName\";s:11:\"description\";s:55:\"The
  name of the facet that the attribute exists within.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AttributeName\";s:11:\"description\";s:26:\"The
  name of the attribute.\";}s:9:\"SchemaArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:83:\"The
  Amazon Resource Name (ARN) of the schema that contains the facet and attribute.\";}}s:8:\"required\";a:3:{i:0;s:9:\"SchemaArn\";i:1;s:9:\"FacetName\";i:2;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:20:\"AttributeKeyAndValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  combination of an attribute key and an attribute value.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AttributeKey\";s:11:\"description\";s:25:\"The
  key of the attribute.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/TypedAttributeValue\";s:11:\"description\";s:27:\"The
  value of the attribute.\";}}s:8:\"required\";a:2:{i:0;s:3:\"Key\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:24:\"AttributeKeyAndValueList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AttributeKeyAndValue\";}s:4:\"type\";s:5:\"array\";}s:16:\"AttributeKeyList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AttributeKey\";}s:4:\"type\";s:5:\"array\";}s:13:\"AttributeName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:17:\"^[a-zA-Z0-9._-]*$\";s:4:\"type\";s:6:\"string\";}s:21:\"AttributeNameAndValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Identifies
  the attribute name and value for a typed link.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"AttributeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AttributeName\";s:11:\"description\";s:37:\"The
  attribute name of the typed link.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/TypedAttributeValue\";s:11:\"description\";s:29:\"The
  value for the typed link.\";}}s:8:\"required\";a:2:{i:0;s:13:\"AttributeName\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:25:\"AttributeNameAndValueList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AttributeNameAndValue\";}s:4:\"type\";s:5:\"array\";}s:17:\"AttributeNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeName\";}s:4:\"type\";s:5:\"array\";}s:21:\"BatchAddFacetToObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"Represents
  the output of a batch add facet to object operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"ObjectAttributeList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AttributeKeyAndValueList\";s:11:\"description\";s:36:\"The
  attributes to set on the object.\";}s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:40:\"A
  reference to the object being mutated.\";}s:11:\"SchemaFacet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SchemaFacet\";s:11:\"description\";s:47:\"Represents
  the facet being added to the object.\";}}s:8:\"required\";a:3:{i:0;s:11:\"SchemaFacet\";i:1;s:19:\"ObjectAttributeList\";i:2;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:29:\"BatchAddFacetToObjectResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  result of a batch add facet to object operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"BatchAttachObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Represents
  the output of an <a>AttachObject</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"ChildReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:64:\"The
  child object reference that is to be attached to the object.\";}s:8:\"LinkName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LinkName\";s:11:\"description\";s:21:\"The
  name of the link.\";}s:15:\"ParentReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:28:\"The
  parent object reference.\";}}s:8:\"required\";a:3:{i:0;s:15:\"ParentReference\";i:1;s:14:\"ChildReference\";i:2;s:8:\"LinkName\";}s:4:\"type\";s:6:\"object\";}s:25:\"BatchAttachObjectResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Represents
  the output batch <a>AttachObject</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"attachedObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:71:\"The
  <code>ObjectIdentifier</code> of the object that has been attached.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"BatchAttachPolicy\";O:8:\"stdClass\":4:{s:11:\"description\";s:168:\"Attaches
  a policy object to a regular object inside a <a>BatchRead</a> operation.\_For more
  information, see <a>AttachPolicy</a> and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:78:\"The
  reference that identifies the object to which the policy will be attached.\";}s:15:\"PolicyReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:56:\"The
  reference that is associated with the policy object.\";}}s:8:\"required\";a:2:{i:0;s:15:\"PolicyReference\";i:1;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:25:\"BatchAttachPolicyResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Represents
  the output of an <a>AttachPolicy</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"BatchAttachToIndex\";O:8:\"stdClass\":4:{s:11:\"description\";s:176:\"Attaches
  the specified object to the specified index inside a <a>BatchRead</a> operation.
  For more information, see <a>AttachToIndex</a> and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"IndexReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:62:\"A
  reference to the index that you are attaching the object to.\";}s:15:\"TargetReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:62:\"A
  reference to the object that you are attaching to the index.\";}}s:8:\"required\";a:2:{i:0;s:14:\"IndexReference\";i:1;s:15:\"TargetReference\";}s:4:\"type\";s:6:\"object\";}s:26:\"BatchAttachToIndexResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Represents
  the output of a <a>AttachToIndex</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"AttachedObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:79:\"The
  <code>ObjectIdentifier</code> of the object that was attached to the index.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"BatchAttachTypedLink\";O:8:\"stdClass\":4:{s:11:\"description\";s:187:\"Attaches
  a typed link to a specified source and target object inside a <a>BatchRead</a> operation.
  For more information, see <a>AttachTypedLink</a> and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/AttributeNameAndValueList\";s:11:\"description\";s:60:\"A
  set of attributes that are associated with the typed link.\";}s:21:\"SourceObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:64:\"Identifies
  the source object that the typed link will attach to.\";}s:21:\"TargetObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:64:\"Identifies
  the target object that the typed link will attach to.\";}s:14:\"TypedLinkFacet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/TypedLinkSchemaAndFacetName\";s:11:\"description\";s:71:\"Identifies
  the typed link facet that is associated with the typed link.\";}}s:8:\"required\";a:4:{i:0;s:21:\"SourceObjectReference\";i:1;s:21:\"TargetObjectReference\";i:2;s:14:\"TypedLinkFacet\";i:3;s:10:\"Attributes\";}s:4:\"type\";s:6:\"object\";}s:28:\"BatchAttachTypedLinkResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Represents
  the output of a <a>AttachTypedLink</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"TypedLinkSpecifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TypedLinkSpecifier\";s:11:\"description\";s:41:\"Returns
  a typed link specifier as output.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"BatchCreateIndex\";O:8:\"stdClass\":4:{s:11:\"description\";s:148:\"Creates
  an index object inside of a <a>BatchRead</a> operation. For more information, see
  <a>CreateIndex</a> and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"BatchReferenceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchReferenceName\";s:11:\"description\";s:161:\"The
  batch reference name. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_advanced.html#batches\">Batches</a>
  for more information.\";}s:8:\"IsUnique\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:79:\"Indicates
  whether the attribute that is being indexed has unique values or not.\";}s:8:\"LinkName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LinkName\";s:11:\"description\";s:68:\"The
  name of the link between the parent object and the index object.\";}s:27:\"OrderedIndexedAttributeList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AttributeKeyList\";s:11:\"description\";s:99:\"Specifies
  the attributes that should be indexed on. Currently only a single attribute is supported.\";}s:15:\"ParentReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:64:\"A
  reference to the parent object that contains the index object.\";}}s:8:\"required\";a:2:{i:0;s:27:\"OrderedIndexedAttributeList\";i:1;s:8:\"IsUnique\";}s:4:\"type\";s:6:\"object\";}s:24:\"BatchCreateIndexResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Represents
  the output of a <a>CreateIndex</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"ObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:73:\"The
  <code>ObjectIdentifier</code> of the index created by this operation.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"BatchCreateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Represents
  the output of a <a>CreateObject</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"BatchReferenceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchReferenceName\";s:11:\"description\";s:161:\"The
  batch reference name. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_advanced.html#batches\">Batches</a>
  for more information.\";}s:8:\"LinkName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LinkName\";s:11:\"description\";s:21:\"The
  name of the link.\";}s:19:\"ObjectAttributeList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AttributeKeyAndValueList\";s:11:\"description\";s:98:\"An
  attribute map, which contains an attribute ARN as the key and attribute value as
  the map value.\";}s:15:\"ParentReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:73:\"If
  specified, the parent reference to which this object will be attached.\";}s:11:\"SchemaFacet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SchemaFacetList\";s:11:\"description\";s:112:\"A
  list of <code>FacetArns</code> that will be associated with the object. For more
  information, see <a>arns</a>.\";}}s:8:\"required\";a:2:{i:0;s:11:\"SchemaFacet\";i:1;s:19:\"ObjectAttributeList\";}s:4:\"type\";s:6:\"object\";}s:25:\"BatchCreateObjectResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Represents
  the output of a <a>CreateObject</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"ObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:42:\"The
  ID that is associated with the object.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"BatchDeleteObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Represents
  the output of a <a>DeleteObject</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:41:\"The
  reference that identifies the object.\";}}s:8:\"required\";a:1:{i:0;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:25:\"BatchDeleteObjectResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Represents
  the output of a <a>DeleteObject</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"BatchDetachFromIndex\";O:8:\"stdClass\":4:{s:11:\"description\";s:180:\"Detaches
  the specified object from the specified index inside a <a>BatchRead</a> operation.
  For more information, see <a>DetachFromIndex</a> and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"IndexReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:32:\"A
  reference to the index object.\";}s:15:\"TargetReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:56:\"A
  reference to the object being detached from the index.\";}}s:8:\"required\";a:2:{i:0;s:14:\"IndexReference\";i:1;s:15:\"TargetReference\";}s:4:\"type\";s:6:\"object\";}s:28:\"BatchDetachFromIndexResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Represents
  the output of a <a>DetachFromIndex</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"DetachedObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:81:\"The
  <code>ObjectIdentifier</code> of the object that was detached from the index.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"BatchDetachObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Represents
  the output of a <a>DetachObject</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"BatchReferenceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchReferenceName\";s:11:\"description\";s:161:\"The
  batch reference name. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_advanced.html#batches\">Batches</a>
  for more information.\";}s:8:\"LinkName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LinkName\";s:11:\"description\";s:21:\"The
  name of the link.\";}s:15:\"ParentReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:80:\"Parent
  reference from which the object with the specified link name is detached.\";}}s:8:\"required\";a:2:{i:0;s:15:\"ParentReference\";i:1;s:8:\"LinkName\";}s:4:\"type\";s:6:\"object\";}s:25:\"BatchDetachObjectResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Represents
  the output of a <a>DetachObject</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"detachedObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:57:\"The
  <code>ObjectIdentifier</code> of the detached object.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"BatchDetachPolicy\";O:8:\"stdClass\":4:{s:11:\"description\";s:183:\"Detaches
  the specified policy from the specified directory inside a <a>BatchWrite</a> operation.
  For more information, see <a>DetachPolicy</a> and <a>BatchWriteRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:74:\"Reference
  that identifies the object whose policy object will be detached.\";}s:15:\"PolicyReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:44:\"Reference
  that identifies the policy object.\";}}s:8:\"required\";a:2:{i:0;s:15:\"PolicyReference\";i:1;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:25:\"BatchDetachPolicyResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Represents
  the output of a <a>DetachPolicy</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"BatchDetachTypedLink\";O:8:\"stdClass\":4:{s:11:\"description\";s:189:\"Detaches
  a typed link from a specified source and target object inside a <a>BatchRead</a>
  operation. For more information, see <a>DetachTypedLink</a> and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"TypedLinkSpecifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TypedLinkSpecifier\";s:11:\"description\";s:47:\"Used
  to accept a typed link specifier as input.\";}}s:8:\"required\";a:1:{i:0;s:18:\"TypedLinkSpecifier\";}s:4:\"type\";s:6:\"object\";}s:28:\"BatchDetachTypedLinkResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Represents
  the output of a <a>DetachTypedLink</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"BatchGetLinkAttributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:186:\"Retrieves
  attributes that are associated with a typed link inside a <a>BatchRead</a> operation.
  For more information, see <a>GetLinkAttributes</a> and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AttributeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttributeNameList\";s:11:\"description\";s:57:\"A
  list of attribute names whose values will be retrieved.\";}s:18:\"TypedLinkSpecifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TypedLinkSpecifier\";s:11:\"description\";s:54:\"Allows
  a typed link specifier to be accepted as input.\";}}s:8:\"required\";a:2:{i:0;s:18:\"TypedLinkSpecifier\";i:1;s:14:\"AttributeNames\";}s:4:\"type\";s:6:\"object\";}s:30:\"BatchGetLinkAttributesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Represents
  the output of a <a>GetLinkAttributes</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AttributeKeyAndValueList\";s:11:\"description\";s:55:\"The
  attributes that are associated with the typed link.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BatchGetObjectAttributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:201:\"Retrieves
  attributes within a facet that are associated with an object inside an <a>BatchRead</a>
  operation. For more information, see <a>GetObjectAttributes</a> and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"AttributeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttributeNameList\";s:11:\"description\";s:55:\"List
  of attribute names whose values will be retrieved.\";}s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:72:\"Reference
  that identifies the object whose attributes will be retrieved.\";}s:11:\"SchemaFacet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SchemaFacet\";s:11:\"description\";s:96:\"Identifier
  for the facet whose attributes will be retrieved. See <a>SchemaFacet</a> for details.\";}}s:8:\"required\";a:3:{i:0;s:15:\"ObjectReference\";i:1;s:11:\"SchemaFacet\";i:2;s:14:\"AttributeNames\";}s:4:\"type\";s:6:\"object\";}s:32:\"BatchGetObjectAttributesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Represents
  the output of a <a>GetObjectAttributes</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AttributeKeyAndValueList\";s:11:\"description\";s:56:\"The
  attribute values that are associated with an object.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"BatchGetObjectInformation\";O:8:\"stdClass\":4:{s:11:\"description\";s:165:\"Retrieves
  metadata about an object inside a <a>BatchRead</a> operation. For more information,
  see <a>GetObjectInformation</a> and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:26:\"A
  reference to the object.\";}}s:8:\"required\";a:1:{i:0;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:33:\"BatchGetObjectInformationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Represents
  the output of a <a>GetObjectInformation</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"ObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:58:\"The
  <code>ObjectIdentifier</code> of the specified object.\";}s:12:\"SchemaFacets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SchemaFacetList\";s:11:\"description\";s:44:\"The
  facets attached to the specified object.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BatchListAttachedIndices\";O:8:\"stdClass\":4:{s:11:\"description\";s:165:\"Lists
  indices attached to an object inside a <a>BatchRead</a> operation. For more information,
  see <a>ListAttachedIndices</a> and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NumberResults\";s:11:\"description\";s:42:\"The
  maximum number of results to retrieve.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}s:15:\"TargetReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:52:\"A
  reference to the object that has indices attached.\";}}s:8:\"required\";a:1:{i:0;s:15:\"TargetReference\";}s:4:\"type\";s:6:\"object\";}s:32:\"BatchListAttachedIndicesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Represents
  the output of a <a>ListAttachedIndices</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"IndexAttachments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/IndexAttachmentList\";s:11:\"description\";s:45:\"The
  indices attached to the specified object.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"BatchListIncomingTypedLinks\";O:8:\"stdClass\":4:{s:11:\"description\";s:229:\"Returns
  a paginated list of all the incoming <a>TypedLinkSpecifier</a> information for an
  object inside a <a>BatchRead</a> operation. For more information, see <a>ListIncomingTypedLinks</a>
  and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:21:\"FilterAttributeRanges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/TypedLinkAttributeRangeList\";s:11:\"description\";s:233:\"Provides
  range filters for multiple attributes. When providing ranges to typed link selection,
  any inexact ranges must be specified at the end. Any attributes that do not have
  a range specified are presumed to match the entire range.\";}s:15:\"FilterTypedLink\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/TypedLinkSchemaAndFacetName\";s:11:\"description\";s:138:\"Filters
  are interpreted in the order of the attributes on the typed link facet, not the
  order in which they are supplied to any API calls.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NumberResults\";s:11:\"description\";s:42:\"The
  maximum number of results to retrieve.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:73:\"The
  reference that identifies the object whose attributes will be listed.\";}}s:8:\"required\";a:1:{i:0;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:35:\"BatchListIncomingTypedLinksResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Represents
  the output of a <a>ListIncomingTypedLinks</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"LinkSpecifiers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/TypedLinkSpecifierList\";s:11:\"description\";s:52:\"Returns
  one or more typed link specifiers as output.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"BatchListIndex\";O:8:\"stdClass\":4:{s:11:\"description\";s:165:\"Lists
  objects attached to the specified index inside a <a>BatchRead</a> operation. For
  more information, see <a>ListIndex</a> and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"IndexReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:35:\"The
  reference to the index to list.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NumberResults\";s:11:\"description\";s:42:\"The
  maximum number of results to retrieve.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}s:21:\"RangesOnIndexedValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ObjectAttributeRangeList\";s:11:\"description\";s:62:\"Specifies
  the ranges of indexed values that you want to query.\";}}s:8:\"required\";a:1:{i:0;s:14:\"IndexReference\";}s:4:\"type\";s:6:\"object\";}s:22:\"BatchListIndexResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Represents
  the output of a <a>ListIndex</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"IndexAttachments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/IndexAttachmentList\";s:11:\"description\";s:53:\"The
  objects and indexed values attached to the index.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"BatchListObjectAttributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Represents
  the output of a <a>ListObjectAttributes</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"FacetFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SchemaFacet\";s:11:\"description\";s:86:\"Used
  to filter the list of object attributes that are associated with a certain facet.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NumberResults\";s:11:\"description\";s:92:\"The
  maximum number of items to be retrieved in a single call. This is an approximate
  number.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:59:\"Reference
  of the object whose attributes need to be listed.\";}}s:8:\"required\";a:1:{i:0;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:33:\"BatchListObjectAttributesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Represents
  the output of a <a>ListObjectAttributes</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AttributeKeyAndValueList\";s:11:\"description\";s:122:\"The
  attributes map that is associated with the object. <code>AttributeArn</code> is
  the key; attribute value is the value.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"BatchListObjectChildren\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"Represents
  the output of a <a>ListObjectChildren</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NumberResults\";s:11:\"description\";s:88:\"Maximum
  number of items to be retrieved in a single call. This is an approximate number.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:65:\"Reference
  of the object for which child objects are being listed.\";}}s:8:\"required\";a:1:{i:0;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:31:\"BatchListObjectChildrenResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Represents
  the output of a <a>ListObjectChildren</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Children\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/LinkNameToObjectIdentifierMap\";s:11:\"description\";s:128:\"The
  children structure, which is a map with the key as the <code>LinkName</code> and
  <code>ObjectIdentifier</code> as the value.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"BatchListObjectParentPaths\";O:8:\"stdClass\":4:{s:11:\"description\";s:249:\"Retrieves
  all available parent paths for any object type such as node, leaf node, policy node,
  and index node objects inside a <a>BatchRead</a> operation. For more information,
  see <a>ListObjectParentPaths</a> and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NumberResults\";s:11:\"description\";s:42:\"The
  maximum number of results to retrieve.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:73:\"The
  reference that identifies the object whose attributes will be listed.\";}}s:8:\"required\";a:1:{i:0;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:34:\"BatchListObjectParentPathsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Represents
  the output of a <a>ListObjectParentPaths</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}s:27:\"PathToObjectIdentifiersList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/PathToObjectIdentifiersList\";s:11:\"description\";s:94:\"Returns
  the path to the <code>ObjectIdentifiers</code> that are associated with the directory.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"BatchListObjectPolicies\";O:8:\"stdClass\":4:{s:11:\"description\";s:189:\"Returns
  policies attached to an object in pagination fashion inside a <a>BatchRead</a> operation.
  For more information, see <a>ListObjectPolicies</a> and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NumberResults\";s:11:\"description\";s:42:\"The
  maximum number of results to retrieve.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:73:\"The
  reference that identifies the object whose attributes will be listed.\";}}s:8:\"required\";a:1:{i:0;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:31:\"BatchListObjectPoliciesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Represents
  the output of a <a>ListObjectPolicies</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"AttachedPolicyIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ObjectIdentifierList\";s:11:\"description\";s:81:\"A
  list of policy <code>ObjectIdentifiers</code>, that are attached to the object.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"BatchListOutgoingTypedLinks\";O:8:\"stdClass\":4:{s:11:\"description\";s:229:\"Returns
  a paginated list of all the outgoing <a>TypedLinkSpecifier</a> information for an
  object inside a <a>BatchRead</a> operation. For more information, see <a>ListOutgoingTypedLinks</a>
  and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:21:\"FilterAttributeRanges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/TypedLinkAttributeRangeList\";s:11:\"description\";s:233:\"Provides
  range filters for multiple attributes. When providing ranges to typed link selection,
  any inexact ranges must be specified at the end. Any attributes that do not have
  a range specified are presumed to match the entire range.\";}s:15:\"FilterTypedLink\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/TypedLinkSchemaAndFacetName\";s:11:\"description\";s:137:\"Filters
  are interpreted in the order of the attributes defined on the typed link facet,
  not the order they are supplied to any API calls.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NumberResults\";s:11:\"description\";s:42:\"The
  maximum number of results to retrieve.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:73:\"The
  reference that identifies the object whose attributes will be listed.\";}}s:8:\"required\";a:1:{i:0;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:35:\"BatchListOutgoingTypedLinksResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Represents
  the output of a <a>ListOutgoingTypedLinks</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}s:19:\"TypedLinkSpecifiers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/TypedLinkSpecifierList\";s:11:\"description\";s:41:\"Returns
  a typed link specifier as output.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"BatchListPolicyAttachments\";O:8:\"stdClass\":4:{s:11:\"description\";s:217:\"Returns
  all of the <code>ObjectIdentifiers</code> to which a given policy is attached inside
  a <a>BatchRead</a> operation. For more information, see <a>ListPolicyAttachments</a>
  and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NumberResults\";s:11:\"description\";s:42:\"The
  maximum number of results to retrieve.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}s:15:\"PolicyReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:48:\"The
  reference that identifies the policy object.\";}}s:8:\"required\";a:1:{i:0;s:15:\"PolicyReference\";}s:4:\"type\";s:6:\"object\";}s:34:\"BatchListPolicyAttachmentsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Represents
  the output of a <a>ListPolicyAttachments</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}s:17:\"ObjectIdentifiers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ObjectIdentifierList\";s:11:\"description\";s:73:\"A
  list of <code>ObjectIdentifiers</code> to which the policy is attached.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"BatchLookupPolicy\";O:8:\"stdClass\":4:{s:11:\"description\";s:196:\"Lists
  all policies from the root of the Directory to the object specified inside a <a>BatchRead</a>
  operation. For more information, see <a>LookupPolicy</a> and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NumberResults\";s:11:\"description\";s:42:\"The
  maximum number of results to retrieve.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:70:\"Reference
  that identifies the object whose policies will be looked up.\";}}s:8:\"required\";a:1:{i:0;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:25:\"BatchLookupPolicyResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Represents
  the output of a <a>LookupPolicy</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:21:\"The
  pagination token.\";}s:16:\"PolicyToPathList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/PolicyToPathList\";s:11:\"description\";s:277:\"Provides
  list of path to policies. Policies contain <code>PolicyId</code>, <code>ObjectIdentifier</code>,
  and <code>PolicyType</code>. For more information, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_key_concepts.html#policies\">Policies</a>.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BatchOperationIndex\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"BatchReadException\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"The
  batch read exception structure, which contains the exception type and message.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:57:\"An
  exception message that is associated with the failure.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/BatchReadExceptionType\";s:11:\"description\";s:62:\"A
  type of exception, such as <code>InvalidArnException</code>.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"BatchReadExceptionType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:13:{i:0;s:19:\"ValidationException\";i:1;s:19:\"InvalidArnException\";i:2;s:25:\"ResourceNotFoundException\";i:3;s:25:\"InvalidNextTokenException\";i:4;s:21:\"AccessDeniedException\";i:5;s:16:\"NotNodeException\";i:6;s:24:\"FacetValidationException\";i:7;s:31:\"CannotListParentOfRootException\";i:8;s:17:\"NotIndexException\";i:9;s:18:\"NotPolicyException\";i:10;s:28:\"DirectoryNotEnabledException\";i:11;s:22:\"LimitExceededException\";i:12;s:24:\"InternalServiceException\";}s:4:\"type\";s:6:\"string\";}s:18:\"BatchReadOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Represents
  the output of a <code>BatchRead</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:17:\"GetLinkAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/BatchGetLinkAttributes\";s:11:\"description\";s:59:\"Retrieves
  attributes that are associated with a typed link.\";}s:19:\"GetObjectAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/BatchGetObjectAttributes\";s:11:\"description\";s:71:\"Retrieves
  attributes within a facet that are associated with an object.\";}s:20:\"GetObjectInformation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BatchGetObjectInformation\";s:11:\"description\";s:35:\"Retrieves
  metadata about an object.\";}s:19:\"ListAttachedIndices\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/BatchListAttachedIndices\";s:11:\"description\";s:36:\"Lists
  indices attached to an object.\";}s:22:\"ListIncomingTypedLinks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/BatchListIncomingTypedLinks\";s:11:\"description\";s:315:\"Returns
  a paginated list of all the incoming <a>TypedLinkSpecifier</a> information for an
  object. It also supports filtering by typed link facet and identity attributes.
  For more information, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/objectsandlinks.html#typedlink\">Typed
  link</a>.\";}s:9:\"ListIndex\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BatchListIndex\";s:11:\"description\";s:46:\"Lists
  objects attached to the specified index.\";}s:20:\"ListObjectAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BatchListObjectAttributes\";s:11:\"description\";s:56:\"Lists
  all attributes that are associated with an object.\";}s:18:\"ListObjectChildren\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/BatchListObjectChildren\";s:11:\"description\";s:82:\"Returns
  a paginated list of child objects that are associated with a given object.\";}s:21:\"ListObjectParentPaths\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/BatchListObjectParentPaths\";s:11:\"description\";s:290:\"Retrieves
  all available parent paths for any object type such as node, leaf node, policy node,
  and index node objects. For more information about objects, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_key_concepts.html#dirstructure\">Directory
  Structure</a>.\";}s:18:\"ListObjectPolicies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/BatchListObjectPolicies\";s:11:\"description\";s:61:\"Returns
  policies attached to an object in pagination fashion.\";}s:22:\"ListOutgoingTypedLinks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/BatchListOutgoingTypedLinks\";s:11:\"description\";s:315:\"Returns
  a paginated list of all the outgoing <a>TypedLinkSpecifier</a> information for an
  object. It also supports filtering by typed link facet and identity attributes.
  For more information, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/objectsandlinks.html#typedlink\">Typed
  link</a>.\";}s:21:\"ListPolicyAttachments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/BatchListPolicyAttachments\";s:11:\"description\";s:86:\"Returns
  all of the <code>ObjectIdentifiers</code> to which a given policy is attached.\";}s:12:\"LookupPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/BatchLookupPolicy\";s:11:\"description\";s:616:\"Lists
  all policies from the root of the <a>Directory</a> to the object specified. If there
  are no policies present, an empty list is returned. If policies are present, and
  if some objects don't have the policies attached, it returns the <code>ObjectIdentifier</code>
  for such objects. If policies are present, it returns <code>ObjectIdentifier</code>,
  <code>policyId</code>, and <code>policyType</code>. Paths that don't lead to the
  root from the target object are ignored. For more information, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_key_concepts.html#policies\">Policies</a>.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"BatchReadOperationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BatchReadOperation\";}s:4:\"type\";s:5:\"array\";}s:26:\"BatchReadOperationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Represents
  the output of a <code>BatchRead</code> response operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ExceptionResponse\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchReadException\";s:11:\"description\";s:49:\"Identifies
  which operation in a batch has failed.\";}s:18:\"SuccessfulResponse\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/BatchReadSuccessfulResponse\";s:11:\"description\";s:52:\"Identifies
  which operation in a batch has succeeded.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"BatchReadOperationResponseList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BatchReadOperationResponse\";}s:4:\"type\";s:5:\"array\";}s:16:\"BatchReadRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/BatchReadOperationList\";s:11:\"description\";s:48:\"A
  list of operations that are part of the batch.\";}}s:8:\"required\";a:1:{i:0;s:10:\"Operations\";}s:4:\"type\";s:6:\"object\";}s:17:\"BatchReadResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Responses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/BatchReadOperationResponseList\";s:11:\"description\";s:48:\"A
  list of all the responses for each batch read.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"BatchReadSuccessfulResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Represents
  the output of a <code>BatchRead</code> success response operation.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:17:\"GetLinkAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/BatchGetLinkAttributesResponse\";s:11:\"description\";s:55:\"The
  list of attributes to retrieve from the typed link.\";}s:19:\"GetObjectAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/BatchGetObjectAttributesResponse\";s:11:\"description\";s:71:\"Retrieves
  attributes within a facet that are associated with an object.\";}s:20:\"GetObjectInformation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/BatchGetObjectInformationResponse\";s:11:\"description\";s:35:\"Retrieves
  metadata about an object.\";}s:19:\"ListAttachedIndices\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/BatchListAttachedIndicesResponse\";s:11:\"description\";s:36:\"Lists
  indices attached to an object.\";}s:22:\"ListIncomingTypedLinks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/BatchListIncomingTypedLinksResponse\";s:11:\"description\";s:315:\"Returns
  a paginated list of all the incoming <a>TypedLinkSpecifier</a> information for an
  object. It also supports filtering by typed link facet and identity attributes.
  For more information, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/objectsandlinks.html#typedlink\">Typed
  link</a>.\";}s:9:\"ListIndex\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/BatchListIndexResponse\";s:11:\"description\";s:46:\"Lists
  objects attached to the specified index.\";}s:20:\"ListObjectAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/BatchListObjectAttributesResponse\";s:11:\"description\";s:56:\"Lists
  all attributes that are associated with an object.\";}s:18:\"ListObjectChildren\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/BatchListObjectChildrenResponse\";s:11:\"description\";s:82:\"Returns
  a paginated list of child objects that are associated with a given object.\";}s:21:\"ListObjectParentPaths\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/BatchListObjectParentPathsResponse\";s:11:\"description\";s:290:\"Retrieves
  all available parent paths for any object type such as node, leaf node, policy node,
  and index node objects. For more information about objects, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_key_concepts.html#dirstructure\">Directory
  Structure</a>.\";}s:18:\"ListObjectPolicies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/BatchListObjectPoliciesResponse\";s:11:\"description\";s:61:\"Returns
  policies attached to an object in pagination fashion.\";}s:22:\"ListOutgoingTypedLinks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/BatchListOutgoingTypedLinksResponse\";s:11:\"description\";s:315:\"Returns
  a paginated list of all the outgoing <a>TypedLinkSpecifier</a> information for an
  object. It also supports filtering by typed link facet and identity attributes.
  For more information, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/objectsandlinks.html#typedlink\">Typed
  link</a>.\";}s:21:\"ListPolicyAttachments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/BatchListPolicyAttachmentsResponse\";s:11:\"description\";s:86:\"Returns
  all of the <code>ObjectIdentifiers</code> to which a given policy is attached.\";}s:12:\"LookupPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BatchLookupPolicyResponse\";s:11:\"description\";s:616:\"Lists
  all policies from the root of the <a>Directory</a> to the object specified. If there
  are no policies present, an empty list is returned. If policies are present, and
  if some objects don't have the policies attached, it returns the <code>ObjectIdentifier</code>
  for such objects. If policies are present, it returns <code>ObjectIdentifier</code>,
  <code>policyId</code>, and <code>policyType</code>. Paths that don't lead to the
  root from the target object are ignored. For more information, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_key_concepts.html#policies\">Policies</a>.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"BatchReferenceName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"BatchRemoveFacetFromObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"A
  batch operation to remove a facet from an object.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:54:\"A
  reference to the object whose facet will be removed.\";}s:11:\"SchemaFacet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SchemaFacet\";s:11:\"description\";s:36:\"The
  facet to remove from the object.\";}}s:8:\"required\";a:2:{i:0;s:11:\"SchemaFacet\";i:1;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:34:\"BatchRemoveFacetFromObjectResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"An
  empty result that represents success.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"BatchUpdateLinkAttributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:304:\"Updates
  a given typed link\u2019s attributes inside a <a>BatchRead</a> operation. Attributes
  to be updated must not contribute to the typed link\u2019s identity, as defined
  by its <code>IdentityAttributeOrder</code>. For more information, see <a>UpdateLinkAttributes</a>
  and <a>BatchReadRequest$Operations</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"AttributeUpdates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/LinkAttributeUpdateList\";s:11:\"description\";s:32:\"The
  attributes update structure.\";}s:18:\"TypedLinkSpecifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TypedLinkSpecifier\";s:11:\"description\";s:54:\"Allows
  a typed link specifier to be accepted as input.\";}}s:8:\"required\";a:2:{i:0;s:18:\"TypedLinkSpecifier\";i:1;s:16:\"AttributeUpdates\";}s:4:\"type\";s:6:\"object\";}s:33:\"BatchUpdateLinkAttributesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Represents
  the output of a <a>UpdateLinkAttributes</a> response operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"BatchUpdateObjectAttributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"Represents
  the output of a <code>BatchUpdate</code> operation. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"AttributeUpdates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ObjectAttributeUpdateList\";s:11:\"description\";s:28:\"Attributes
  update structure.\";}s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:37:\"Reference
  that identifies the object.\";}}s:8:\"required\";a:2:{i:0;s:15:\"ObjectReference\";i:1;s:16:\"AttributeUpdates\";}s:4:\"type\";s:6:\"object\";}s:35:\"BatchUpdateObjectAttributesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Represents
  the output of a <code>BatchUpdate</code> response operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"ObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:38:\"ID
  that is associated with the object.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BatchWriteException\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  <code>BatchWrite</code> exception has occurred.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Index\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BatchOperationIndex\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/BatchWriteExceptionType\";}}s:4:\"type\";s:6:\"object\";}s:23:\"BatchWriteExceptionType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:18:{i:0;s:24:\"InternalServiceException\";i:1;s:19:\"ValidationException\";i:2;s:19:\"InvalidArnException\";i:3;s:29:\"LinkNameAlreadyInUseException\";i:4;s:27:\"StillContainsLinksException\";i:5;s:24:\"FacetValidationException\";i:6;s:26:\"ObjectNotDetachedException\";i:7;s:25:\"ResourceNotFoundException\";i:8;s:21:\"AccessDeniedException\";i:9;s:26:\"InvalidAttachmentException\";i:10;s:17:\"NotIndexException\";i:11;s:16:\"NotNodeException\";i:12;s:32:\"IndexedAttributeMissingException\";i:13;s:30:\"ObjectAlreadyDetachedException\";i:14;s:18:\"NotPolicyException\";i:15;s:28:\"DirectoryNotEnabledException\";i:16;s:22:\"LimitExceededException\";i:17;s:29:\"UnsupportedIndexTypeException\";}s:4:\"type\";s:6:\"string\";}s:19:\"BatchWriteOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Represents
  the output of a <code>BatchWrite</code> operation. \";s:10:\"properties\";O:8:\"stdClass\":15:{s:16:\"AddFacetToObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/BatchAddFacetToObject\";s:11:\"description\";s:49:\"A
  batch operation that adds a facet to an object.\";}s:12:\"AttachObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/BatchAttachObject\";s:11:\"description\";s:41:\"Attaches
  an object to a <a>Directory</a>.\";}s:12:\"AttachPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/BatchAttachPolicy\";s:11:\"description\";s:103:\"Attaches
  a policy object to a regular object. An object can have a limited number of attached
  policies.\";}s:13:\"AttachToIndex\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchAttachToIndex\";s:11:\"description\";s:53:\"Attaches
  the specified object to the specified index.\";}s:15:\"AttachTypedLink\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/BatchAttachTypedLink\";s:11:\"description\";s:208:\"Attaches
  a typed link to a specified source and target object. For more information, see
  <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/objectsandlinks.html#typedlink\">Typed
  link</a>.\";}s:11:\"CreateIndex\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BatchCreateIndex\";s:11:\"description\";s:153:\"Creates
  an index object. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_indexing.html\">Indexing</a>
  for more information.\";}s:12:\"CreateObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/BatchCreateObject\";s:11:\"description\";s:18:\"Creates
  an object.\";}s:12:\"DeleteObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/BatchDeleteObject\";s:11:\"description\";s:40:\"Deletes
  an object in a <a>Directory</a>.\";}s:15:\"DetachFromIndex\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/BatchDetachFromIndex\";s:11:\"description\";s:55:\"Detaches
  the specified object from the specified index.\";}s:12:\"DetachObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/BatchDetachObject\";s:11:\"description\";s:43:\"Detaches
  an object from a <a>Directory</a>.\";}s:12:\"DetachPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/BatchDetachPolicy\";s:11:\"description\";s:42:\"Detaches
  a policy from a <a>Directory</a>.\";}s:15:\"DetachTypedLink\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/BatchDetachTypedLink\";s:11:\"description\";s:210:\"Detaches
  a typed link from a specified source and target object. For more information, see
  <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/objectsandlinks.html#typedlink\">Typed
  link</a>.\";}s:21:\"RemoveFacetFromObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/BatchRemoveFacetFromObject\";s:11:\"description\";s:54:\"A
  batch operation that removes a facet from an object.\";}s:20:\"UpdateLinkAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BatchUpdateLinkAttributes\";s:11:\"description\";s:36:\"Updates
  a given object's attributes.\";}s:22:\"UpdateObjectAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/BatchUpdateObjectAttributes\";s:11:\"description\";s:36:\"Updates
  a given object's attributes.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"BatchWriteOperationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BatchWriteOperation\";}s:4:\"type\";s:5:\"array\";}s:27:\"BatchWriteOperationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Represents
  the output of a <code>BatchWrite</code> response operation.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:16:\"AddFacetToObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/BatchAddFacetToObjectResponse\";s:11:\"description\";s:53:\"The
  result of an add facet to object batch operation.\";}s:12:\"AttachObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BatchAttachObjectResponse\";s:11:\"description\";s:41:\"Attaches
  an object to a <a>Directory</a>.\";}s:12:\"AttachPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BatchAttachPolicyResponse\";s:11:\"description\";s:103:\"Attaches
  a policy object to a regular object. An object can have a limited number of attached
  policies.\";}s:13:\"AttachToIndex\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/BatchAttachToIndexResponse\";s:11:\"description\";s:53:\"Attaches
  the specified object to the specified index.\";}s:15:\"AttachTypedLink\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/BatchAttachTypedLinkResponse\";s:11:\"description\";s:208:\"Attaches
  a typed link to a specified source and target object. For more information, see
  <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/objectsandlinks.html#typedlink\">Typed
  link</a>.\";}s:11:\"CreateIndex\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/BatchCreateIndexResponse\";s:11:\"description\";s:153:\"Creates
  an index object. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_indexing.html\">Indexing</a>
  for more information.\";}s:12:\"CreateObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BatchCreateObjectResponse\";s:11:\"description\";s:40:\"Creates
  an object in a <a>Directory</a>.\";}s:12:\"DeleteObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BatchDeleteObjectResponse\";s:11:\"description\";s:40:\"Deletes
  an object in a <a>Directory</a>.\";}s:15:\"DetachFromIndex\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/BatchDetachFromIndexResponse\";s:11:\"description\";s:55:\"Detaches
  the specified object from the specified index.\";}s:12:\"DetachObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BatchDetachObjectResponse\";s:11:\"description\";s:43:\"Detaches
  an object from a <a>Directory</a>.\";}s:12:\"DetachPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BatchDetachPolicyResponse\";s:11:\"description\";s:42:\"Detaches
  a policy from a <a>Directory</a>.\";}s:15:\"DetachTypedLink\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/BatchDetachTypedLinkResponse\";s:11:\"description\";s:210:\"Detaches
  a typed link from a specified source and target object. For more information, see
  <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/objectsandlinks.html#typedlink\">Typed
  link</a>.\";}s:21:\"RemoveFacetFromObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/BatchRemoveFacetFromObjectResponse\";s:11:\"description\";s:57:\"The
  result of a batch remove facet from object operation.\";}s:20:\"UpdateLinkAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/BatchUpdateLinkAttributesResponse\";s:11:\"description\";s:70:\"Represents
  the output of a <code>BatchWrite</code> response operation.\";}s:22:\"UpdateObjectAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/BatchUpdateObjectAttributesResponse\";s:11:\"description\";s:38:\"Updates
  a given object\u2019s attributes.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"BatchWriteOperationResponseList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/BatchWriteOperationResponse\";}s:4:\"type\";s:5:\"array\";}s:17:\"BatchWriteRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/BatchWriteOperationList\";s:11:\"description\";s:48:\"A
  list of operations that are part of the batch.\";}}s:8:\"required\";a:1:{i:0;s:10:\"Operations\";}s:4:\"type\";s:6:\"object\";}s:18:\"BatchWriteResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Responses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/BatchWriteOperationResponseList\";s:11:\"description\";s:49:\"A
  list of all the responses for each batch write.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"BinaryAttributeValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Bool\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"BooleanAttributeValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:31:\"CannotListParentOfRootException\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Cannot
  list the parents of a <a>Directory</a> root.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ConsistencyLevel\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:12:\"SERIALIZABLE\";i:1;s:8:\"EVENTUAL\";}s:4:\"type\";s:6:\"string\";}s:22:\"CreateDirectoryRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:75:\"The
  name of the <a>Directory</a>. Should be unique per account, per region.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreateDirectoryResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"AppliedSchemaArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:210:\"The
  ARN of the published schema in the <a>Directory</a>. Once a published schema is
  copied into the directory, it has its own ARN, which is referred to applied schema
  ARN. For more information, see <a>arns</a>.\";}s:12:\"DirectoryArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DirectoryArn\";s:11:\"description\";s:92:\"The
  ARN that is associated with the <a>Directory</a>. For more information, see <a>arns</a>.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:33:\"The
  name of the <a>Directory</a>.\";}s:16:\"ObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:46:\"The
  root object node of the created directory.\";}}s:8:\"required\";a:4:{i:0;s:12:\"DirectoryArn\";i:1;s:4:\"Name\";i:2;s:16:\"ObjectIdentifier\";i:3;s:16:\"AppliedSchemaArn\";}s:4:\"type\";s:6:\"object\";}s:18:\"CreateFacetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/FacetAttributeList\";s:11:\"description\";s:57:\"The
  attributes that are associated with the <a>Facet</a>.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/FacetName\";s:11:\"description\";s:65:\"The
  name of the <a>Facet</a>, which is unique for a given schema.\";}s:10:\"ObjectType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ObjectType\";s:11:\"description\";s:584:\"<p>Specifies
  whether a given object created from this facet is of type node, leaf node, policy
  or index.</p> <ul> <li> <p>Node: Can have multiple children but one parent.</p>
  </li> </ul> <ul> <li> <p>Leaf node: Cannot have children but can have multiple parents.</p>
  </li> </ul> <ul> <li> <p>Policy: Allows you to store a policy document and policy
  type. For more information, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_key_concepts.html#policies\">Policies</a>.</p>
  </li> </ul> <ul> <li> <p>Index: Can be created with the Index API.</p> </li> </ul>\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:10:\"ObjectType\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateFacetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"CreateIndexRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"IsUnique\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:79:\"Indicates
  whether the attribute that is being indexed has unique values or not.\";}s:8:\"LinkName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LinkName\";s:11:\"description\";s:68:\"The
  name of the link between the parent object and the index object.\";}s:27:\"OrderedIndexedAttributeList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AttributeKeyList\";s:11:\"description\";s:99:\"Specifies
  the attributes that should be indexed on. Currently only a single attribute is supported.\";}s:15:\"ParentReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:64:\"A
  reference to the parent object that contains the index object.\";}}s:8:\"required\";a:2:{i:0;s:27:\"OrderedIndexedAttributeList\";i:1;s:8:\"IsUnique\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateIndexResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"ObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:73:\"The
  <code>ObjectIdentifier</code> of the index created by this operation.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateObjectRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"LinkName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LinkName\";s:11:\"description\";s:64:\"The
  name of link that is used to attach this object to a parent.\";}s:19:\"ObjectAttributeList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AttributeKeyAndValueList\";s:11:\"description\";s:92:\"The
  attribute map whose attribute ARN contains the key and attribute value as the map
  value.\";}s:15:\"ParentReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:73:\"If
  specified, the parent reference to which this object will be attached.\";}s:12:\"SchemaFacets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SchemaFacetList\";s:11:\"description\";s:134:\"A
  list of schema facets to be associated with the object. Do not provide minor version
  components. See <a>SchemaFacet</a> for details.\";}}s:8:\"required\";a:1:{i:0;s:12:\"SchemaFacets\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateObjectResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"ObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:50:\"The
  identifier that is associated with the object.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateSchemaRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SchemaName\";s:11:\"description\";s:95:\"The
  name that is associated with the schema. This is unique to each account and in each
  region.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateSchemaResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"SchemaArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:105:\"The
  Amazon Resource Name (ARN) that is associated with the schema. For more information,
  see <a>arns</a>.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreateTypedLinkFacetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Facet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TypedLinkFacet\";s:11:\"description\";s:69:\"
  <a>Facet</a> structure that is associated with the typed link facet.\";}}s:8:\"required\";a:1:{i:0;s:5:\"Facet\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateTypedLinkFacetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:4:\"Date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"DatetimeAttributeValue\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"DeleteDirectoryRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteDirectoryResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DirectoryArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:33:\"The
  ARN of the deleted directory.\";}}s:8:\"required\";a:1:{i:0;s:12:\"DirectoryArn\";}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteFacetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/FacetName\";s:11:\"description\";s:32:\"The
  name of the facet to delete.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteFacetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteObjectRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:39:\"A
  reference that identifies the object.\";}}s:8:\"required\";a:1:{i:0;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteObjectResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteSchemaRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteSchemaResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"SchemaArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:94:\"The
  input ARN that is returned as part of the response. For more information, see <a>arns</a>.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteTypedLinkFacetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TypedLinkName\";s:11:\"description\";s:40:\"The
  unique name of the typed link facet.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteTypedLinkFacetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"DetachFromIndexRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"IndexReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:32:\"A
  reference to the index object.\";}s:15:\"TargetReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:56:\"A
  reference to the object being detached from the index.\";}}s:8:\"required\";a:2:{i:0;s:14:\"IndexReference\";i:1;s:15:\"TargetReference\";}s:4:\"type\";s:6:\"object\";}s:23:\"DetachFromIndexResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"DetachedObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:81:\"The
  <code>ObjectIdentifier</code> of the object that was detached from the index.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DetachObjectRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"LinkName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LinkName\";s:11:\"description\";s:67:\"The
  link name associated with the object that needs to be detached.\";}s:15:\"ParentReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:84:\"The
  parent reference from which the object with the specified link name is detached.\";}}s:8:\"required\";a:2:{i:0;s:15:\"ParentReference\";i:1;s:8:\"LinkName\";}s:4:\"type\";s:6:\"object\";}s:20:\"DetachObjectResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"DetachedObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:68:\"The
  <code>ObjectIdentifier</code> that was detached from the object.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DetachPolicyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:74:\"Reference
  that identifies the object whose policy object will be detached.\";}s:15:\"PolicyReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:44:\"Reference
  that identifies the policy object.\";}}s:8:\"required\";a:2:{i:0;s:15:\"PolicyReference\";i:1;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:20:\"DetachPolicyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"DetachTypedLinkRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"TypedLinkSpecifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TypedLinkSpecifier\";s:11:\"description\";s:47:\"Used
  to accept a typed link specifier as input.\";}}s:8:\"required\";a:1:{i:0;s:18:\"TypedLinkSpecifier\";}s:4:\"type\";s:6:\"object\";}s:9:\"Directory\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Directory
  structure that includes the directory name and directory ARN.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"CreationDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:49:\"The
  date and time when the directory was created.\";}s:12:\"DirectoryArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DirectoryArn\";s:11:\"description\";s:108:\"The
  Amazon Resource Name (ARN) that is associated with the directory. For more information,
  see <a>arns</a>.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:26:\"The
  name of the directory.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DirectoryState\";s:11:\"description\";s:111:\"The
  state of the directory. Can be either <code>Enabled</code>, <code>Disabled</code>,
  or <code>Deleted</code>.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DirectoryAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Indicates
  that a <a>Directory</a> could not be created due to a naming conflict. Choose a
  different name and try again.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DirectoryArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"DirectoryDeletedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"A
  directory that has been deleted and to which access has been attempted. Note: The
  requested resource will eventually cease to exist.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DirectoryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Directory\";}s:4:\"type\";s:5:\"array\";}s:13:\"DirectoryName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:17:\"^[a-zA-Z0-9._-]*$\";s:4:\"type\";s:6:\"string\";}s:29:\"DirectoryNotDisabledException\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"An
  operation can only operate on a disabled directory.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DirectoryNotEnabledException\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Operations
  are only permitted on enabled directories.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DirectoryState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"ENABLED\";i:1;s:8:\"DISABLED\";i:2;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:23:\"DisableDirectoryRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DisableDirectoryResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DirectoryArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:48:\"The
  ARN of the directory that has been disabled.\";}}s:8:\"required\";a:1:{i:0;s:12:\"DirectoryArn\";}s:4:\"type\";s:6:\"object\";}s:22:\"EnableDirectoryRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"EnableDirectoryResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DirectoryArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:33:\"The
  ARN of the enabled directory.\";}}s:8:\"required\";a:1:{i:0;s:12:\"DirectoryArn\";}s:4:\"type\";s:6:\"object\";}s:16:\"ExceptionMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Facet\";O:8:\"stdClass\":3:{s:11:\"description\";s:274:\"A
  structure that contains <code>Name</code>, <code>ARN</code>, <code>Attributes</code>,
  <code> <a>Rule</a>s</code>, and <code>ObjectTypes</code>. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/whatarefacets.html\">Facets</a>
  for more information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/FacetName\";s:11:\"description\";s:29:\"The
  name of the <a>Facet</a>.\";}s:10:\"ObjectType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ObjectType\";s:11:\"description\";s:109:\"The
  object type that is associated with the facet. See <a>CreateFacetRequest$ObjectType</a>
  for more details.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"FacetAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  facet with the same name already exists.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:14:\"FacetAttribute\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"An
  attribute that is associated with the <a>Facet</a>.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"AttributeDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/FacetAttributeDefinition\";s:11:\"description\";s:276:\"A
  facet attribute consists of either a definition or a reference. This structure contains
  the attribute definition. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_advanced.html#attributereferences\">Attribute
  References</a> for more information.\";}s:18:\"AttributeReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/FacetAttributeReference\";s:11:\"description\";s:222:\"An
  attribute reference that is associated with the attribute. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_advanced.html#attributereferences\">Attribute
  References</a> for more information.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AttributeName\";s:11:\"description\";s:32:\"The
  name of the facet attribute.\";}s:16:\"RequiredBehavior\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/RequiredAttributeBehavior\";s:11:\"description\";s:57:\"The
  required behavior of the <code>FacetAttribute</code>.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:24:\"FacetAttributeDefinition\";O:8:\"stdClass\":4:{s:11:\"description\";s:190:\"A
  facet attribute definition. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_advanced.html#attributereferences\">Attribute
  References</a> for more information.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"DefaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/TypedAttributeValue\";s:11:\"description\";s:51:\"The
  default value of the attribute (if configured).\";}s:11:\"IsImmutable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Bool\";s:11:\"description\";s:40:\"Whether
  the attribute is mutable or not.\";}s:5:\"Rules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RuleMap\";s:11:\"description\";s:54:\"Validation
  rules attached to the attribute definition.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/FacetAttributeType\";s:11:\"description\";s:26:\"The
  type of the attribute.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Type\";}s:4:\"type\";s:6:\"object\";}s:18:\"FacetAttributeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FacetAttribute\";}s:4:\"type\";s:5:\"array\";}s:23:\"FacetAttributeReference\";O:8:\"stdClass\":4:{s:11:\"description\";s:128:\"The
  facet attribute reference that specifies the attribute definition that contains
  the attribute facet name and attribute name.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"TargetAttributeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AttributeName\";s:11:\"description\";s:231:\"The
  target attribute name that is associated with the facet reference. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_advanced.html#attributereferences\">Attribute
  References</a> for more information.\";}s:15:\"TargetFacetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/FacetName\";s:11:\"description\";s:227:\"The
  target facet name that is associated with the facet reference. See <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/cd_advanced.html#attributereferences\">Attribute
  References</a> for more information.\";}}s:8:\"required\";a:2:{i:0;s:15:\"TargetFacetName\";i:1;s:19:\"TargetAttributeName\";}s:4:\"type\";s:6:\"object\";}s:18:\"FacetAttributeType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:6:\"STRING\";i:1;s:6:\"BINARY\";i:2;s:7:\"BOOLEAN\";i:3;s:6:\"NUMBER\";i:4;s:8:\"DATETIME\";}s:4:\"type\";s:6:\"string\";}s:20:\"FacetAttributeUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  structure that contains information used to update an attribute.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Action\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/UpdateActionType\";s:11:\"description\";s:50:\"The
  action to perform when updating the attribute.\";}s:9:\"Attribute\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FacetAttribute\";s:11:\"description\";s:24:\"The
  attribute to update.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"FacetAttributeUpdateList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/FacetAttributeUpdate\";}s:4:\"type\";s:5:\"array\";}s:19:\"FacetInUseException\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"Occurs
  when deleting a facet that contains an attribute that is a target to an attribute
  reference in a different facet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:9:\"FacetName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:17:\"^[a-zA-Z0-9._-]*$\";s:4:\"type\";s:6:\"string\";}s:13:\"FacetNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/FacetName\";}s:4:\"type\";s:5:\"array\";}s:22:\"FacetNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  specified <a>Facet</a> could not be found.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:24:\"FacetValidationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"The
  <a>Facet</a> that you provided was not well formed or could not be validated with
  the schema.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:30:\"GetAppliedSchemaVersionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"SchemaArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:30:\"The
  ARN of the applied schema.\";}}s:8:\"required\";a:1:{i:0;s:9:\"SchemaArn\";}s:4:\"type\";s:6:\"object\";}s:31:\"GetAppliedSchemaVersionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"AppliedSchemaArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:83:\"Current
  applied schema ARN, including the minor version in use if one was provided.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetDirectoryRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"GetDirectoryResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Directory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Directory\";s:11:\"description\";s:29:\"Metadata
  about the directory.\";}}s:8:\"required\";a:1:{i:0;s:9:\"Directory\";}s:4:\"type\";s:6:\"object\";}s:15:\"GetFacetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/FacetName\";s:11:\"description\";s:34:\"The
  name of the facet to retrieve.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:16:\"GetFacetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Facet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Facet\";s:11:\"description\";s:61:\"The
  <a>Facet</a> structure that is associated with the facet.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetLinkAttributesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"AttributeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttributeNameList\";s:11:\"description\";s:57:\"A
  list of attribute names whose values will be retrieved.\";}s:16:\"ConsistencyLevel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ConsistencyLevel\";s:11:\"description\";s:74:\"The
  consistency level at which to retrieve the attributes on a typed link.\";}s:18:\"TypedLinkSpecifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TypedLinkSpecifier\";s:11:\"description\";s:54:\"Allows
  a typed link specifier to be accepted as input.\";}}s:8:\"required\";a:2:{i:0;s:18:\"TypedLinkSpecifier\";i:1;s:14:\"AttributeNames\";}s:4:\"type\";s:6:\"object\";}s:25:\"GetLinkAttributesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AttributeKeyAndValueList\";s:11:\"description\";s:55:\"The
  attributes that are associated with the typed link.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"GetObjectAttributesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"AttributeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttributeNameList\";s:11:\"description\";s:55:\"List
  of attribute names whose values will be retrieved.\";}s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:72:\"Reference
  that identifies the object whose attributes will be retrieved.\";}s:11:\"SchemaFacet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SchemaFacet\";s:11:\"description\";s:96:\"Identifier
  for the facet whose attributes will be retrieved. See <a>SchemaFacet</a> for details.\";}}s:8:\"required\";a:3:{i:0;s:15:\"ObjectReference\";i:1;s:11:\"SchemaFacet\";i:2;s:14:\"AttributeNames\";}s:4:\"type\";s:6:\"object\";}s:27:\"GetObjectAttributesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AttributeKeyAndValueList\";s:11:\"description\";s:51:\"The
  attributes that are associated with the object.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"GetObjectInformationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"ObjectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectReference\";s:11:\"description\";s:26:\"A
  reference to the object.\";}}s:8:\"required\";a:1:{i:0;s:15:\"ObjectReference\";}s:4:\"type\";s:6:\"object\";}s:28:\"GetObjectInformationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"ObjectIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ObjectIdentifier\";s:11:\"description\";s:58:\"The
  <code>ObjectIdentifier</code> of the specified object.\";}s:12:\"SchemaFacets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SchemaFacetList\";s:11:\"description\";s:226:\"The
  facets attached to the specified object. Although the response does not include
  minor version information, the most recently applied minor version of each Facet
[...]
