---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:44:\"Regionalised and Domain-specific
  Taxon Lists\";s:11:\"description\";s:2354:\"<p>The DWB REST Webservice for Taxon
  Lists is part of a Diversity Workbench (DWB) services network. It is delivering
  basic information on taxon names in use, synonyms, classification and German vernacular
  names of a number of groups of animals, fungi and plants.</p><p>The current focus
  is on domain-specific lists (checklists, taxon reference lists, red lists) from
  Germany under active curation by experts on taxonomy or floristics and faunistics.
  Each regionalised and domain-specific taxon list has its own history and objectives,
  is managed completely separately and has its own hierarchical classification. The
  DiversityTaxonNames (DTN) data resources accessed by the REST API may include additional
  taxon-related data useful, e. g., for regional nature conservation agencies and
  environmental projects.</p></br><p>For more information please check <a href=\"http://services.snsb.info/DTNtaxonlists/rest/v0.1/\">Overview
  on Published Lists</a>. For details refer to <a href=\"http://www.diversitymobile.net/wiki/DTN_Taxon_Lists_Services\">DTN_Taxon_Lists_Services</a>.</p><p><p>Der
  DWB REST Webservice for Taxon Lists ist Teil eines Netzwerkes aus Diversity Workbench
  (DWB) Diensten. Er liefert Basisinformation zu anerkannten Taxonnamen, Synonymen,
  Klassifikationen und deutsche Volksnamen f&uuml;r eine Anzahl von Tier-, Pilz- und
  Pflanzengruppen. </p> <p>Der Fokus liegt dabei zur Zeit auf dom&auml;n-spezifischen
  Listen (Checklisten, Taxonreferenzlisten und Rote Listen) aus Deutschland, die von
  taxonomisch oder floristisch bzw. faunistisch arbeitenden Experten aktiv kuratiert
  werden. Jede regionalisierte und dom&auml;n-spezifische Taxonliste hat ihre eigene
  Geschichte und Zielvorstellungen, wird separat gemanagt und hat eine eigenst&auml;ndige
  hierarchische Klassifikation. Die &uuml;ber die REST API zug&auml;nglichen DiversityTaxonNames
  (DTN) Datenquellen k&ouml;nnen weitere taxon-bezogene Daten enthalten, die f&uuml;r
  regionale Naturschutzeinrichtungen und Umweltprojekte von Bedeutung sein k&ouml;nnen.</p><br><p>Die
  derzeit ver&ouml;ffentlichten Listen sind in dieser <a href=\"http://services.snsb.info/DTNtaxonlists/rest/v0.1/\">&Uuml;bersicht</a>
  abrufbar. Weitere Information findet sich unter <a href=\"http://www.diversitymobile.net/wiki/DTN_Taxon_Lists_Services\">DTN_Taxon_Lists_Services</a>.<br></p><h1>REST
  API Documentation</h1>\";s:7:\"version\";s:3:\"0.1\";}"
host: services.snsb.info
basePath: /DTNtaxonlists/rest/v0.1
paths: ~
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":42:{s:5:\"Error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"Resultlist\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"commonname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Link/url
  to the found taxonomic name\";}}}s:4:\"Link\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"rel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"Taxonname\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":31:{s:18:\"AnamorphTeleomorph\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"BasionymAuthors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"CombiningAuthors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"DefaultProjectID\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:96:\"Default
  Project-id to use for accepted name, hierarchy and synonymy if more than one is
  supplied\";}s:23:\"GenusOrSupragenericName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"IgnoreButKeepForReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"InfragenericEpithet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"InfraspecificEpithet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"IsRecombination\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Issue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"NomenclaturalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"NomenclaturalComment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"NomenclaturalStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"NonNomenclaturalNameSuffix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"PublishingAuthors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ReferenceTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ReferenceURI\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"RevisionLevel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"SanctioningAuthor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"SpeciesEpithet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"TaxonNameCache\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Combined
  cached taxonomic name\";}s:17:\"TaxonomicRankCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Abbreviation
  of the rank\";}s:13:\"TaxonomicRank\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Taxonomic
  rank, according to the DisplayText field of the code-ENUM\";}s:11:\"TypistNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Version\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Volume\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"YearOfPubl\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:11:\"description\";s:115:\"Links
  to common names, accepted names, synonyms, hierarchies, the list project and to
  the list containing this name\";}}}s:13:\"Hierarchylink\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"DefaultProject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:144:\"Exists
  only and set to 'True' if there are more hierarchy providing projects available
  and the current hierarchy is the default one in this list\";}s:25:\"IgnoreButKeepForReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:16:\"Acceptednamelink\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"DefaultProject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:157:\"Exists
  only and set to 'True' if there are more projects available which provide accepted
  names and the current accepted name is the default one in this list\";}s:25:\"IgnoreButKeepForReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:17:\"Acceptednamelinks\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"IgnoreButKeepForReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:15:\"Synonymnamelink\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"DefaultProject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:141:\"Exists
  only and set to 'True' if there are more synonym providing projects available and
  the current synonymy is the default one in this list\";}s:25:\"IgnoreButKeepForReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"SynNameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:16:\"Synonymnamelinks\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"SynNameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"IgnoreButKeepForReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:14:\"Commonnamelink\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"IgnoreButKeepForReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:13:\"Taxonnamelink\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"database\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"nameid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:14:\"Taxonnamelinks\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:8:\"Listlist\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"projectid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"projecturi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Projekt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Internal
  short name of the list/project\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:9:\"listslink\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:10:\"listslinks\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:7:\"Project\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":14:{s:7:\"Project\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ProjectCopyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"ProjectDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ProjectEditors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"ProjectInstitution\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ProjectLicenseURI\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ProjectNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ProjectParentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"ProjectRights\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ProjectSettings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ProjectTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ProjectURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:11:\"Projectlink\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:12:\"Projectlinks\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:9:\"Agentlist\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"AgentName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"AgentRole\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"AgentUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"AgentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:10:\"Agentlists\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"AgentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:5:\"Agent\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"Abbreviation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"AgentGender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"AgentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"AgentName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"AgentParentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"AgentTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"AgentType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"GivenName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"InheritedName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"RevisionLevel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Version\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:10:\"Commonname\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"CommonName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"CountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"LanguageCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ReferenceDetails\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ReferenceTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ReferenceURI\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"SubjectContext\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:11:\"description\";s:35:\"Link
  to the refering taxonamic name\";}}}s:15:\"Commonnamelinks\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"CommonName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"CountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"LanguageCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ReferenceTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:11:\"description\";s:35:\"Link
  to the refering taxonamic name\";}}}s:12:\"Acceptedname\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"ConceptNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ConceptSuffix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"IgnoreButKeepForReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"RefDetail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"RefText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"RefURI\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"TypistsNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:11:\"description\";s:89:\"Project
  link to the project description in which this name is defined as an accepted name\";}}}s:11:\"Synonymname\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"ConceptNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ConceptSuffix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"IgnoreButKeepForReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"SynNameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"SynRefDetail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"SynRefText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"SynRefURI\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"SynType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"SynTypistsNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:11:\"description\";s:39:\"Link
  to the name dataset of the synonym\";}}}s:13:\"Hierarchyfull\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"NameID\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:63:\"NameID
  of the current parent or the starting name when level==0\";}s:12:\"NameParentID\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:34:\"NameID
  of the parent of this entry\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"TaxonNameCache\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Cached
  name of this parent\";}s:17:\"TaxonomicRankCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Taxonomic
  rank abbreviation\";}s:13:\"TaxonomicRank\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"Taxonomic
  rank of this parent, according to the DisplayText-code-ENUM in the database\";}s:10:\"baseNameID\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:63:\"NameID
  of the base name for which this parent query was startet\";}s:5:\"level\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:111:\"Sort
  order for this parent list. 0 is the starting name, 1 the first parent, 2 the parent
  of the parent, a.s.o.\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:11:\"description\";s:59:\"Links
  to the parent name and the hierarchy defining project\";}}}s:9:\"Hierarchy\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"HierarchyListCache\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"HierarchyPositionIsUncertain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"HierarchyRefDetail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"HierarchyRefText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"HierarchyRefURI\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"HierarchyTypistsNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"IgnoreButKeepForReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"NameParentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:11:\"description\";s:59:\"Links
  to the parent name and the hierarchy defining project\";}}}s:14:\"Hierarchylinks\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"IgnoreButKeepForReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:11:\"description\";s:20:\"Links
  to hierarchies\";}}}s:13:\"Referencelink\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"RefID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:11:\"description\";s:30:\"Links
  to the reference dataset\";}}}s:9:\"Reference\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":25:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"DateDay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"DateMonth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"DateYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Edition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ISSN_ISBN\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Issue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"Miscellaneous1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"Miscellaneous2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Periodical\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"PublPlace\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Publisher\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"RefDescription_Cache\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"RefID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"RefType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"SeriesTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"SourceTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"UserDef1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"UserDef2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"UserDef3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Volume\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:11:\"description\";s:63:\"Relations
  links for the reference, containing roles like author\";}}}s:22:\"Referencerelationslink\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"RefID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Sequence\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:11:\"description\";s:59:\"referenceRelation
  links for the reference role and sequence\";}}}s:13:\"Referinglinks\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ReferenceID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"ReferenceURI\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:11:\"description\";s:52:\"links
  to further dataset links citing this reference\";}}}s:17:\"Referencerelation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"RefID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Sequence\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"ListAnalysisCategorieslink\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"AnalysisID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:33:\"ListAnalysisCategoriesfornamelink\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"AnalysisID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:17:\"ListAnalysisNames\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"AnalysisID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"AnalysisValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"TaxonNameListRefID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:23:\"LinksAnalysisCategories\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"AnalysisID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"AnalysisParentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DisplayText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:22:\"AnalysisCategoryValues\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"AnalysisID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"AnalysisValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"DisplayOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"DisplayText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:21:\"AnalysisCategoryLinks\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"AnalysisID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:14:\"AnalysisValues\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"AnalysisID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"AnalysisValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"NameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ProjectID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"TaxonNameListRefID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}}}s:18:\"ExternalNameSource\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"DTN
  database name\";}s:18:\"ExternalDatabaseID\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:46:\"Database
  wide unique id of the external source\";}s:20:\"ExternalDatabaseName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Title
  of the external source\";}s:23:\"ExternalDatabaseVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Used
  version of the external source/database\";}s:6:\"Rights\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Hints
  for rights/copyright\";}s:23:\"ExternalDatabaseAuthors\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Authors
  of the external database/service\";}s:19:\"ExternalDatabaseURI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Link
  to the main page of the service/webpage\";}}}s:19:\"ExternalIdentifiers\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"DTN
  database name\";}s:6:\"NameID\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:28:\"Database
  wide unique name id\";}s:18:\"ExternalDatabaseID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Database
  wide unique id of the external source\";}s:15:\"ExternalNameURI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"URI
  for the name entry in the external source\";}s:20:\"ExternalDatabaseName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Title
  of the external source\";}s:4:\"link\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:11:\"description\";s:123:\"Links
  to the description of the external source (externalNameHost) and a direct link to
  the external name (externalName)   \";}}}}"
...
