---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:8:\"zveloAPI\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"zvelo\";s:3:\"url\";s:17:\"https://zvelo.com\";s:5:\"email\";s:17:\"support@zvelo.com\";}s:7:\"license\";O:8:\"stdClass\":1:{s:4:\"name\";s:17:\"zvelo
  Proprietary\";}s:7:\"version\";s:1:\"1\";}"
host: api.zvelo.com
basePath: /
paths:
  /v1/query:
    post:
      security:
      - authorization:
        - zvelo.dataset
      tags:
      - APIv1
      summary: Create new query
      operationId: Query
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/msgQueryRequests'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/msgQueryReplies'
  /v1/query/{request_id}:
    get:
      security:
      - authorization:
        - zvelo.dataset
      tags:
      - APIv1
      summary: Results of active or unexpired query
      operationId: Result
      parameters:
      - type: string
        name: request_id
        in: path
        required: true
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/msgQueryResult'
  /v1/stream:
    get:
      tags:
      - APIv1
      summary: Stream returns all QueryResult messages processed by zveloAPI
      operationId: Stream
      responses:
        200:
          description: (streaming responses)
          schema:
            $ref: '#/definitions/msgQueryResult'
  /v1/suggest:
    post:
      tags:
      - APIv1
      summary: Suggest new datasets for a URL
      operationId: Suggest
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/msgSuggestion'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/protobufEmpty'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:21:\"DatasetCategorization\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:14:\"Categorization\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/msgStatus\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/msgCategory\";}}}}s:11:\"DatasetEcho\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:4:\"Echo\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/msgStatus\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"DatasetLanguage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/msgStatus\";}}}s:16:\"DatasetMalicious\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:9:\"Malicious\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/msgCategory\";}}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/msgStatus\";}}}s:11:\"msgCategory\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:16:\"UNKNOWN_CATEGORY\";s:4:\"enum\";a:498:{i:0;s:16:\"UNKNOWN_CATEGORY\";i:1;s:10:\"ABORTION_4\";i:2;s:11:\"PROCHOICE_4\";i:3;s:9:\"PROLIFE_4\";i:4;s:6:\"PG13_4\";i:5;s:10:\"GAMBLING_4\";i:6;s:5:\"GAY_4\";i:7;s:10:\"LINGERIE_4\";i:8;s:8:\"NUDITY_4\";i:9;s:6:\"PORN_4\";i:10;s:11:\"PROFANITY_4\";i:11;s:8:\"RATEDR_4\";i:12;s:5:\"SEX_4\";i:13;s:7:\"EDSEX_4\";i:14;s:9:\"TOBACCO_4\";i:15;s:5:\"MIL_4\";i:16;s:10:\"VIOLENCE_4\";i:17;s:9:\"WEAPONS_4\";i:18;s:12:\"AGGRESSIVE_4\";i:19;s:9:\"FINEART_4\";i:20;s:5:\"ART_4\";i:21;s:11:\"AUTOPARTS_4\";i:22;s:12:\"AUTOREPAIR_4\";i:23;s:12:\"BUYSELLCAR_4\";i:24;s:12:\"CARCULTURE_4\";i:25;s:5:\"CPO_4\";i:26;s:12:\"CARCONVERT_4\";i:27;s:7:\"COUPE_4\";i:28;s:5:\"CUV_4\";i:29;s:8:\"DIESEL_4\";i:30;s:10:\"EVEHICLE_4\";i:31;s:11:\"HATCHBACK_4\";i:32;s:11:\"HYBRIDCAR_4\";i:33;s:11:\"LUXURYCAR_4\";i:34;s:9:\"MINIVAN_4\";i:35;s:12:\"MOTORCYCLE_4\";i:36;s:9:\"OFFROAD_4\";i:37;s:9:\"PERFCAR_4\";i:38;s:8:\"PICKUP_4\";i:39;s:12:\"ROADASSIST_4\";i:40;s:7:\"SEDAN_4\";i:41;s:7:\"TRUCK_4\";i:42;s:12:\"VINTAGECAR_4\";i:43;s:7:\"WAGON_4\";i:44;s:12:\"AUTOMOTIVE_4\";i:45;s:4:\"AG_4\";i:46;s:9:\"BIOTECH_4\";i:47;s:9:\"BIZSOFT_4\";i:48;s:7:\"BUILD_4\";i:49;s:10:\"FORESTRY_4\";i:50;s:8:\"BIZGOV_4\";i:51;s:8:\"NATURE_4\";i:52;s:11:\"FURNITURE_4\";i:53;s:4:\"HR_4\";i:54;s:5:\"MFG_4\";i:55;s:6:\"MKTG_4\";i:56;s:7:\"METAL_4\";i:57;s:8:\"PHYSEC_4\";i:58;s:9:\"BIZPROD_4\";i:59;s:12:\"RETIREHOME_4\";i:60;s:10:\"SHIPPING_4\";i:61;s:10:\"BUSINESS_4\";i:62;s:11:\"JOBADVICE_4\";i:63;s:12:\"CAREERPLAN_4\";i:64;s:8:\"COLJOB_4\";i:65;s:8:\"FINAID_4\";i:66;s:9:\"JOBFAIR_4\";i:67;s:11:\"JOBSEARCH_4\";i:68;s:9:\"NURSING_4\";i:69;s:8:\"RESUME_4\";i:70;s:9:\"SCHOLAR_4\";i:71;s:12:\"TELCOMMUTE_4\";i:72;s:9:\"MILJOBS_4\";i:73;s:8:\"CAREER_4\";i:74;s:12:\"CHILDABUSE_4\";i:75;s:11:\"CRIMSKILL_4\";i:76;s:9:\"HACKING_4\";i:77;s:6:\"HATE_4\";i:78;s:7:\"DRUGS_4\";i:79;s:5:\"POT_4\";i:80;s:7:\"WAREZ_4\";i:81;s:10:\"EDUCHEAT_4\";i:82;s:10:\"SELFHARM_4\";i:83;s:9:\"TORRENT_4\";i:84;s:6:\"CRIM_4\";i:85;s:6:\"ANON_4\";i:86;s:6:\"CHAT_4\";i:87;s:8:\"GROUPS_4\";i:88;s:4:\"IM_4\";i:89;s:7:\"LOGIN_4\";i:90;s:6:\"BLOG_4\";i:91;s:7:\"PHOTO_4\";i:92;s:9:\"PROFNET_4\";i:93;s:7:\"REDIR_4\";i:94;s:8:\"SOCNET_4\";i:95;s:5:\"SMS_4\";i:96;s:12:\"TRANSLATOR_4\";i:97;s:7:\"EMAIL_4\";i:98;s:7:\"CARDS_4\";i:99;s:8:\"EDU712_4\";i:100;s:10:\"ADULTEDU_4\";i:101;s:12:\"ARTHISTORY_4\";i:102;s:10:\"COLADMIN_4\";i:103;s:9:\"COLLIFE_4\";i:104;s:11:\"DLEARNING_4\";i:105;s:8:\"SCHOOL_4\";i:106;s:11:\"EDSTUDIES_4\";i:107;s:9:\"ENGLISH_4\";i:108;s:12:\"GRADSCHOOL_4\";i:109;s:12:\"HOMESCHOOL_4\";i:110;s:10:\"HOMEWORK_4\";i:111;s:7:\"K6EDU_4\";i:112;s:10:\"LANGUAGE_4\";i:113;s:6:\"BOOK_4\";i:114;s:12:\"PRIVSCHOOL_4\";i:115;s:5:\"REF_4\";i:116;s:6:\"SPED_4\";i:117;s:8:\"BIZEDU_4\";i:118;s:7:\"TUTOR_4\";i:119;s:6:\"WIKI_4\";i:120;s:5:\"EDU_4\";i:121;s:9:\"ENTNEWS_4\";i:122;s:7:\"VENUE_4\";i:123;s:7:\"HUMOR_4\";i:124;s:7:\"MOVIE_4\";i:125;s:7:\"MUSIC_4\";i:126;s:7:\"AUDIO_4\";i:127;s:7:\"VIDEO_4\";i:128;s:4:\"TV_4\";i:129;s:5:\"ENT_4\";i:130;s:7:\"ADOPT_4\";i:131;s:9:\"TODDLER_4\";i:132;s:11:\"PRESCHOOL_4\";i:133;s:11:\"ELDERCARE_4\";i:134;s:11:\"FAMILYNET_4\";i:135;s:10:\"K6PARENT_4\";i:136;s:11:\"PARENTEEN_4\";i:137;s:11:\"PREGNANCY_4\";i:138;s:11:\"SNKPARENT_4\";i:139;s:8:\"FAMILY_4\";i:140;s:11:\"ACCESSORY_4\";i:141;s:8:\"BEAUTY_4\";i:142;s:9:\"BODYART_4\";i:143;s:10:\"CLOTHING_4\";i:144;s:11:\"FASHNMISC_4\";i:145;s:9:\"JEWELRY_4\";i:146;s:10:\"SWIMSUIT_4\";i:147;s:9:\"FASHION_4\";i:148;s:7:\"ACCTG_4\";i:149;s:6:\"BANK_4\";i:150;s:11:\"BGNINVEST_4\";i:151;s:6:\"LOAN_4\";i:152;s:9:\"FINNEWS_4\";i:153;s:9:\"FINPLAN_4\";i:154;s:11:\"HEDGEFUND_4\";i:155;s:11:\"INSURANCE_4\";i:156;s:8:\"INVEST_4\";i:157;s:12:\"MUTUALFUND_4\";i:158;s:8:\"QUOTES_4\";i:159;s:12:\"FINANCEOPT_4\";i:160;s:12:\"RETIREPLAN_4\";i:161;s:8:\"STOCKS_4\";i:162;s:5:\"TAX_4\";i:163;s:9:\"FINANCE_4\";i:164;s:8:\"USFOOD_4\";i:165;s:5:\"BBQ_4\";i:166;s:11:\"CAJUNFOOD_4\";i:167;s:8:\"ZHFOOD_4\";i:168;s:10:\"COCKTAIL_4\";i:169;s:8:\"COFFEE_4\";i:170;s:9:\"CUISINE_4\";i:171;s:9:\"DESSERT_4\";i:172;s:11:\"DININGOUT_4\";i:173;s:12:\"FUDALLERGY_4\";i:174;s:8:\"FRFOOD_4\";i:175;s:8:\"LOWFAT_4\";i:176;s:8:\"ITFOOD_4\";i:177;s:8:\"JAFOOD_4\";i:178;s:8:\"MXFOOD_4\";i:179;s:7:\"VEGAN_4\";i:180;s:12:\"VEGETARIAN_4\";i:181;s:6:\"WINE_4\";i:182;s:6:\"FOOD_4\";i:183;s:6:\"ADHD_4\";i:184;s:6:\"AIDS_4\";i:185;s:9:\"ALLERGY_4\";i:186;s:8:\"ALTMED_4\";i:187;s:11:\"ARTHRITIS_4\";i:188;s:8:\"ASTHMA_4\";i:189;s:8:\"AUTISM_4\";i:190;s:9:\"BIPOLAR_4\";i:191;s:7:\"TUMOR_4\";i:192;s:8:\"CANCER_4\";i:193;s:11:\"KIDHEALTH_4\";i:194;s:11:\"CHOLESTER_4\";i:195;s:9:\"FATIGUE_4\";i:196;s:6:\"PAIN_4\";i:197;s:5:\"FLU_4\";i:198;s:10:\"PSURGERY_4\";i:199;s:10:\"DEAFNESS_4\";i:200;s:8:\"DENTAL_4\";i:201;s:12:\"DEPRESSION_4\";i:202;s:7:\"DERMA_4\";i:203;s:10:\"DIABETES_4\";i:204;s:10:\"DISORDER_4\";i:205;s:10:\"EPILEPSY_4\";i:206;s:10:\"EXERCISE_4\";i:207;s:6:\"GERD_4\";i:208;s:10:\"MIGRAINE_4\";i:209;s:8:\"CARDIO_4\";i:210;s:6:\"HERB_4\";i:211;s:10:\"HOLISTIC_4\";i:212;s:5:\"IBS_4\";i:213;s:7:\"ABUSE_4\";i:214;s:12:\"INCNTNENCE_4\";i:215;s:11:\"INFERTILE_4\";i:216;s:11:\"MENHEALTH_4\";i:217;s:6:\"DIET_4\";i:218;s:7:\"ORTHO_4\";i:219;s:9:\"ANXIETY_4\";i:220;s:7:\"PEDIA_4\";i:221;s:4:\"RX_4\";i:222;s:12:\"PHYTHERAPY_4\";i:223;s:7:\"PSYCH_4\";i:224;s:11:\"ADDICTION_4\";i:225;s:10:\"SRHEALTH_4\";i:226;s:11:\"SEXUALITY_4\";i:227;s:7:\"SLEEP_4\";i:228;s:11:\"QUITSMOKE_4\";i:229;s:10:\"VITAMINS_4\";i:230;s:10:\"SYNDROME_4\";i:231;s:9:\"THYROID_4\";i:232;s:12:\"WEIGHTLOSS_4\";i:233;s:11:\"FEMHEALTH_4\";i:234;s:8:\"HEALTH_4\";i:235;s:9:\"ARTTECH_4\";i:236;s:10:\"ARTCRAFT_4\";i:237;s:10:\"BEADWORK_4\";i:238;s:11:\"BIRDWATCH_4\";i:239;s:8:\"PUZZLE_4\";i:240;s:8:\"CANDLE_4\";i:241;s:10:\"CARDGAME_4\";i:242;s:9:\"CARTOON_4\";i:243;s:7:\"CHESS_4\";i:244;s:7:\"CIGAR_4\";i:245;s:9:\"COLLECT_4\";i:246;s:7:\"COMIC_4\";i:247;s:6:\"DRAW_4\";i:248;s:7:\"WRITE_4\";i:249;s:11:\"GENEALOGY_4\";i:250;s:9:\"PUBLISH_4\";i:251;s:8:\"GUITAR_4\";i:252;s:12:\"HOMERECORD_4\";i:253;s:8:\"PATENT_4\";i:254;s:11:\"MAKEJEWEL_4\";i:255;s:7:\"MAGIC_4\";i:256;s:12:\"NEEDLEWORK_4\";i:257;s:7:\"PAINT_4\";i:258;s:10:\"PHOTOHOB_4\";i:259;s:7:\"RADIO_4\";i:260;s:5:\"RPG_4\";i:261;s:7:\"SCIFI_4\";i:262;s:11:\"SCRAPBOOK_4\";i:263;s:11:\"SCREENWRT_4\";i:264;s:7:\"STAMP_4\";i:265;s:7:\"THEME_4\";i:266;s:11:\"VIDEOGAME_4\";i:267;s:10:\"WOODWORK_4\";i:268;s:7:\"HOBBY_4\";i:269;s:11:\"APPLIANCE_4\";i:270;s:9:\"ENTHOME_4\";i:271;s:11:\"ECOSAFETY_4\";i:272;s:8:\"GARDEN_4\";i:273;s:12:\"HOMEREPAIR_4\";i:274;s:12:\"HOMECINEMA_4\";i:275;s:10:\"INTERIOR_4\";i:276;s:11:\"LANDSCAPE_4\";i:277;s:9:\"REMODEL_4\";i:278;s:6:\"HOME_4\";i:279;s:7:\"GAMES_4\";i:280;s:10:\"KIDSPAGE_4\";i:281;s:6:\"TOYS_4\";i:282;s:6:\"KIDS_4\";i:283;s:8:\"DATING_4\";i:284;s:9:\"DIVORCE_4\";i:285;s:8:\"ETHNIC_4\";i:286;s:10:\"MARRIAGE_4\";i:287;s:7:\"PARKS_4\";i:288;s:8:\"SENIOR_4\";i:289;s:7:\"TEENS_4\";i:290;s:9:\"WEDDING_4\";i:291;s:11:\"LIFESTYLE_4\";i:292;s:9:\"ADFRAUD_4\";i:293;s:6:\"BOTS_4\";i:294;s:7:\"CANDC_4\";i:295;s:7:\"COMPR_4\";i:296;s:9:\"MALHOME_4\";i:297;s:5:\"MAL_4\";i:298;s:7:\"FRAUD_4\";i:299;s:6:\"SPAM_4\";i:300;s:9:\"SPYWARE_4\";i:301;s:5:\"CDN_4\";i:302;s:7:\"BLANK_4\";i:303;s:8:\"PARKED_4\";i:304;s:8:\"PRIVIP_4\";i:305;s:8:\"BROKEN_4\";i:306;s:6:\"MISC_4\";i:307;s:11:\"IMGSEARCH_4\";i:308;s:10:\"INTLNEWS_4\";i:309;s:11:\"LOCALNEWS_4\";i:310;s:11:\"MAGAZINES_4\";i:311;s:10:\"NATLNEWS_4\";i:312;s:8:\"PORTAL_4\";i:313;s:8:\"SEARCH_4\";i:314;s:6:\"NEWS_4\";i:315;s:11:\"PAYTOSURF_4\";i:316;s:8:\"ADWARE_4\";i:317;s:10:\"AQUARIUM_4\";i:318;s:6:\"BIRD_4\";i:319;s:5:\"CAT_4\";i:320;s:5:\"DOG_4\";i:321;s:12:\"BIGANIMALS_4\";i:322;s:9:\"REPTILE_4\";i:323;s:8:\"VETMED_4\";i:324;s:6:\"PETS_4\";i:325;s:10:\"ADVOCACY_4\";i:326;s:12:\"COMMENTARY_4\";i:327;s:12:\"GOVSPONSOR_4\";i:328;s:11:\"IMMIGRANT_4\";i:329;s:7:\"LEGAL_4\";i:330;s:9:\"CHARITY_4\";i:331;s:10:\"POLITICS_4\";i:332;s:7:\"CLUBS_4\";i:333;s:12:\"USRESOURCE_4\";i:334;s:5:\"GOV_4\";i:335;s:11:\"APARTMENT_4\";i:336;s:7:\"ARCHI_4\";i:337;s:9:\"BNSHOME_4\";i:338;s:6:\"PROP_4\";i:339;s:10:\"ALTRELGN_4\";i:340;s:9:\"ATHEISM_4\";i:341;s:10:\"BUDDHISM_4\";i:342;s:10:\"CATHOLIC_4\";i:343;s:11:\"CHRISTIAN_4\";i:344;s:7:\"HINDU_4\";i:345;s:7:\"ISLAM_4\";i:346;s:9:\"JUDAISM_4\";i:347;s:5:\"LDS_4\";i:348;s:6:\"CULT_4\";i:349;s:7:\"PAGAN_4\";i:350;s:10:\"RELIGION_4\";i:351;s:9:\"ANATOMY_4\";i:352;s:11:\"ASTROLOGY_4\";i:353;s:9:\"BIOLOGY_4\";i:354;s:8:\"BOTANY_4\";i:355;s:11:\"CHEMISTRY_4\";i:356;s:11:\"GEOGRAPHY_4\";i:357;s:9:\"GEOLOGY_4\";i:358;s:12:\"PARANORMAL_4\";i:359;s:9:\"PHYSICS_4\";i:360;s:11:\"ASTRONOMY_4\";i:361;s:9:\"WEATHER_4\";i:362;s:9:\"SCIENCE_4\";i:363;s:9:\"P2PSHOP_4\";i:364;s:9:\"CATALOG_4\";i:365;s:8:\"SURVEY_4\";i:366;s:8:\"COUPON_4\";i:367;s:12:\"SHOPENGINE_4\";i:368;s:12:\"ONLINESHOP_4\";i:369;s:12:\"SHOPSEARCH_4\";i:370;s:6:\"SHOP_4\";i:371;s:10:\"AUTORACE_4\";i:372;s:10:\"BASEBALL_4\";i:373;s:11:\"BICYCLING_4\";i:374;s:11:\"BODYBUILD_4\";i:375;s:8:\"BOXING_4\";i:376;s:7:\"KAYAK_4\";i:377;s:11:\"CHEERLEAD_4\";i:378;s:7:\"CLIMB_4\";i:379;s:9:\"CRICKET_4\";i:380;s:10:\"FIGSKATE_4\";i:381;s:12:\"FLYFISHING_4\";i:382;s:10:\"FOOTBALL_4\";i:383;s:11:\"FRESHFISH_4\";i:384;s:10:\"GAMEFISH_4\";i:385;s:6:\"GOLF_4\";i:386;s:11:\"HORSERACE_4\";i:387;s:8:\"HORSES_4\";i:388;s:9:\"INSKATE_4\";i:389;s:12:\"MARTIALART_4\";i:390;s:8:\"BIKING_4\";i:391;s:8:\"NASCAR_4\";i:392;s:10:\"OLYMPICS_4\";i:393;s:11:\"PAINTBALL_4\";i:394;s:10:\"MOTORACE_4\";i:395;s:11:\"PROBASKET_4\";i:396;s:11:\"ICEHOCKEY_4\";i:397;s:7:\"RODEO_4\";i:398;s:7:\"RUGBY_4\";i:399;s:5:\"RUN_4\";i:400;s:6:\"SAIL_4\";i:401;s:10:\"SALTFISH_4\";i:402;s:7:\"SCUBA_4\";i:403;s:12:\"SKATEBOARD_4\";i:404;s:5:\"SKI_4\";i:405;s:11:\"SNOWBOARD_4\";i:406;s:6:\"HUNT_4\";i:407;s:6:\"SURF_4\";i:408;s:6:\"SWIM_4\";i:409;s:10:\"PINGPONG_4\";i:410;s:8:\"TENNIS_4\";i:411;s:12:\"VOLLEYBALL_4\";i:412;s:6:\"WALK_4\";i:413;s:10:\"WATERSKI_4\";i:414;s:8:\"SOCCER_4\";i:415;s:8:\"SPORTS_4\";i:416;s:12:\"GRAPHICS3D_4\";i:417;s:11:\"ANIMATION_4\";i:418;s:11:\"ANTIVIRUS_4\";i:419;s:7:\"CLANG_4\";i:420;s:8:\"CAMERA_4\";i:421;s:10:\"COMPCERT_4\";i:422;s:9:\"COMPNET_4\";i:423;s:12:\"PERIPHERAL_4\";i:424;s:12:\"COMPREVIEW_4\";i:425;s:10:\"DATABASE_4\";i:426;s:9:\"DESKPUB_4\";i:427;s:9:\"DESKVID_4\";i:428;s:9:\"TECHENT_4\";i:429;s:7:\"REPOS_4\";i:430;s:10:\"GRAPHICS_4\";i:431;s:5:\"DVD_4\";i:432;s:9:\"COMPSEC_4\";i:433;s:6:\"VOIP_4\";i:434;s:10:\"INTERNET_4\";i:435;s:6:\"JAVA_4\";i:436;s:12:\"JAVASCRIPT_4\";i:437;s:7:\"LINUX_4\";i:438;s:5:\"MAC_4\";i:439;s:12:\"MACSUPPORT_4\";i:440;s:8:\"MOBILE_4\";i:441;s:5:\"MP3_4\";i:442;s:8:\"NETCON_4\";i:443;s:8:\"NETBEG_4\";i:444;s:8:\"NETSEC_4\";i:445;s:8:\"OFFICE_4\";i:446;s:5:\"PDA_4\";i:447;s:11:\"PCSUPPORT_4\";i:448;s:5:\"P2P_4\";i:449;s:9:\"STORAGE_4\";i:450;s:10:\"PORTABLE_4\";i:451;s:5:\"VPN_4\";i:452;s:10:\"FREEWARE_4\";i:453;s:6:\"UNIX_4\";i:454;s:11:\"UTILITIES_4\";i:455;s:8:\"VBASIC_4\";i:456;s:9:\"CLIPART_4\";i:457;s:11:\"WEBDESIGN_4\";i:458;s:5:\"ISP_4\";i:459;s:9:\"WINDOWS_4\";i:460;s:6:\"TECH_4\";i:461;s:11:\"ADVENTURE_4\";i:462;s:8:\"AFRICA_4\";i:463;s:11:\"AIRTRAVEL_4\";i:464;s:11:\"AUSTRALIA_4\";i:465;s:5:\"BNB_4\";i:466;s:12:\"BDGTTRAVEL_4\";i:467;s:11:\"BIZTRAVEL_4\";i:468;s:10:\"USTRAVEL_4\";i:469;s:6:\"CAMP_4\";i:470;s:8:\"CANADA_4\";i:471;s:11:\"CARIBBEAN_4\";i:472;s:8:\"CRUISE_4\";i:473;s:12:\"EASTEUROPE_4\";i:474;s:8:\"EUROPE_4\";i:475;s:8:\"FRANCE_4\";i:476;s:8:\"GREECE_4\";i:477;s:9:\"GETAWAY_4\";i:478;s:7:\"HOTEL_4\";i:479;s:7:\"ITALY_4\";i:480;s:7:\"JAPAN_4\";i:481;s:8:\"MEXICO_4\";i:482;s:11:\"NATLPARKS_4\";i:483;s:12:\"NAVIGATION_4\";i:484;s:10:\"SAMERICA_4\";i:485;s:5:\"SPA_4\";i:486;s:11:\"THEMEPARK_4\";i:487;s:11:\"KIDTRAVEL_4\";i:488;s:10:\"UKTRAVEL_4\";i:489;s:8:\"TRAVEL_4\";i:490;s:11:\"TERRORISM_4\";i:491;s:11:\"CRYPTOCUR_4\";i:492;s:12:\"CRYPTOMINE_4\";i:493;s:12:\"BLOCKCHAIN_4\";i:494;s:10:\"FAKENEWS_4\";i:495;s:5:\"API_4\";i:496;s:5:\"IOT_4\";i:497;s:7:\"AI_ML_4\";}}s:10:\"msgDataset\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:7:\"Dataset\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"categorization\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DatasetCategorization\";}s:4:\"echo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DatasetEcho\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DatasetLanguage\";}s:9:\"malicious\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DatasetMalicious\";}}}s:14:\"msgDatasetType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:81:\"-
  MALICIOUS: 1 is reserved\n2 is reserved\n3 is reserved\n - LANGUAGE: 6 is reserved\";s:7:\"default\";s:14:\"CATEGORIZATION\";s:4:\"enum\";a:4:{i:0;s:14:\"CATEGORIZATION\";i:1;s:9:\"MALICIOUS\";i:2;s:4:\"ECHO\";i:3;s:8:\"LANGUAGE\";}}s:15:\"msgQueryReplies\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:12:\"QueryReplies\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"reply\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/msgQueryReply\";}}}}s:13:\"msgQueryReply\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:10:\"QueryReply\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/msgStatus\";}s:10:\"request_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:42:\"will
  identify the request after submission\";}}}s:16:\"msgQueryRequests\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:13:\"QueryRequests\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"callback\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:46:\"The
  callback url will receive the final result\";}s:7:\"content\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:25:\"The
  content to categorize\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/msgURLContent\";}}s:7:\"dataset\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:34:\"The
  datasets to query for each URL\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/msgDatasetType\";}}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:22:\"The
  URLs to categorize\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:14:\"msgQueryResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:11:\"QueryResult\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"query_status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/msgQueryStatus\";}s:10:\"request_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"Request
  ID for tracking requests\";}s:16:\"response_dataset\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/msgDataset\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"msgQueryStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:11:\"QueryStatus\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"complete\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:6:\"format\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/msgStatus\";}s:10:\"fetch_code\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:65:\"the
  http status code received from the server when fetching a url\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:56:\"fetching
  the url resulted in a redirect to this location\";}}}s:9:\"msgStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:217:\"A
  developer-facing error message, which should be in English. Any\nuser-facing error
  message should be localized and sent in the\n[google.rpc.Status.details][google.rpc.Status.details]
  field, or localized by the client.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"msgSuggestion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"dataset\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/msgDataset\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"msgURLContent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:39:\"the
  actual content to process. required\";}s:6:\"header\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"header
  key/value pairs\";s:4:\"type\";s:6:\"object\";s:5:\"title\";s:7:\"headers\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:39:\"url
  the content came from, not required\";}}}s:13:\"protobufEmpty\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"service
  Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe
  JSON representation for `Empty` is empty JSON object `{}`.\";s:4:\"type\";s:6:\"object\";s:5:\"title\";s:200:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\";}}"
...
