---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:719:\"<fullname>AWS
  Database Migration Service</fullname> <p>AWS Database Migration Service (AWS DMS)
  can migrate your data to and from the most widely used commercial and open-source
  databases such as Oracle, PostgreSQL, Microsoft SQL Server, Amazon Redshift, MariaDB,
  Amazon Aurora, MySQL, and SAP Adaptive Server Enterprise (ASE). The service supports
  homogeneous migrations such as Oracle to Oracle, as well as heterogeneous migrations
  between different database platforms, such as Oracle to MySQL or SQL Server to PostgreSQL.</p>
  <p>For more information about AWS DMS, see the AWS DMS user guide at <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/Welcome.html\">
  What Is AWS Database Migration Service? </a> </p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:30:\"AWS
  Database Migration Service\";s:7:\"version\";s:10:\"2016-01-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/dms-2016-01-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:3:\"dms\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"amazonaws_dms\";s:4:\"type\";s:7:\"openapi\";}}"
host: dms.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":179:{s:17:\"AccessDeniedFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"AWS
  DMS was denied access to the endpoint.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AccountQuota\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Describes
  a quota for an AWS account, for example, the number of replication instances allowed.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"AccountQuotaName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:51:\"The
  name of the AWS DMS quota for this AWS account.\";}s:3:\"Max\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:40:\"The
  maximum allowed value for the quota.\";}s:4:\"Used\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:51:\"The
  amount currently used toward the quota maximum.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AccountQuotaList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AccountQuota\";}s:4:\"type\";s:5:\"array\";}s:24:\"AddTagsToResourceMessage\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:11:\"ResourceArn\";s:70:\"arn:aws:dms:us-east-1:123456789012:endpoint:ASXWXJZLNWNT5HTWCGV2BUJQ7E\";s:4:\"Tags\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"Key\";s:6:\"Acount\";s:5:\"Value\";s:7:\"1633456\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:165:\"The
  Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS
  DMS resources include a replication instance, endpoint, and a replication task.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:43:\"The
  tag to be assigned to the DMS resource.\";}}s:8:\"required\";a:2:{i:0;s:11:\"ResourceArn\";i:1;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:25:\"AddTagsToResourceResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"AuthMechanismValue\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"default\";i:1;s:10:\"mongodb_cr\";i:2;s:11:\"scram_sha_1\";}s:4:\"type\";s:6:\"string\";}s:13:\"AuthTypeValue\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:2:\"no\";i:1;s:8:\"password\";}s:4:\"type\";s:6:\"string\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"The
  name of the availability zone.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"BooleanOptional\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"Certificate\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  SSL certificate that can be used to encrypt connections between the endpoints and
  the replication instance.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:51:\"The
  Amazon Resource Name (ARN) for the certificate.\";}s:23:\"CertificateCreationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:42:\"The
  date that the certificate was created.\";}s:21:\"CertificateIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:80:\"The
  customer-assigned name of the certificate. Valid characters are A-z and 0-9.\";}s:16:\"CertificateOwner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:29:\"The
  owner of the certificate.\";}s:14:\"CertificatePem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:68:\"The
  contents of the .pem X.509 certificate file for the certificate.\";}s:17:\"CertificateWallet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CertificateWallet\";s:11:\"description\";s:72:\"The
  location of the imported Oracle Wallet certificate for use with SSL.\";}s:9:\"KeyLength\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:57:\"The
  key length of the cryptographic algorithm being used.\";}s:16:\"SigningAlgorithm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"The
  signing algorithm for the certificate.\";}s:13:\"ValidFromDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:49:\"The
  beginning date that the certificate is valid.\";}s:11:\"ValidToDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:45:\"The
  final date that the certificate is valid.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CertificateList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Certificate\";}s:4:\"type\";s:5:\"array\";}s:17:\"CertificateWallet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"CompressionTypeValue\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"none\";i:1;s:4:\"gzip\";}s:4:\"type\";s:6:\"string\";}s:10:\"Connection\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"EndpointArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:76:\"The
  Amazon Resource Name (ARN) string that uniquely identifies the endpoint.\";}s:18:\"EndpointIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:190:\"The
  identifier of the endpoint. Identifiers must begin with a letter; must contain only
  ASCII letters, digits, and hyphens; and must not end with a hyphen or contain two
  consecutive hyphens.\";}s:18:\"LastFailureMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:50:\"The
  error message when the connection last failed.\";}s:22:\"ReplicationInstanceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  Amazon Resource Name (ARN) of the replication instance.\";}s:29:\"ReplicationInstanceIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:84:\"The
  replication instance identifier. This parameter is stored as a lowercase string.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  connection status.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ConnectionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Connection\";}s:4:\"type\";s:5:\"array\";}s:21:\"CreateEndpointMessage\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":13:{s:14:\"CertificateArn\";s:0:\"\";s:12:\"DatabaseName\";s:6:\"testdb\";s:18:\"EndpointIdentifier\";s:15:\"test-endpoint-1\";s:12:\"EndpointType\";s:6:\"source\";s:10:\"EngineName\";s:5:\"mysql\";s:25:\"ExtraConnectionAttributes\";s:0:\"\";s:8:\"KmsKeyId\";s:75:\"arn:aws:kms:us-east-1:123456789012:key/4c1731d6-5435-ed4d-be13-d53411a7cfbd\";s:8:\"Password\";s:7:\"pasword\";s:4:\"Port\";i:3306;s:10:\"ServerName\";s:45:\"mydb.cx1llnox7iyx.us-west-2.rds.amazonaws.com\";s:7:\"SslMode\";s:7:\"require\";s:4:\"Tags\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"Key\";s:6:\"Acount\";s:5:\"Value\";s:9:\"143327655\";}}s:8:\"Username\";s:8:\"username\";}s:10:\"properties\";O:8:\"stdClass\":18:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:51:\"The
  Amazon Resource Name (ARN) for the certificate.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"The
  name of the endpoint database.\";}s:16:\"DynamoDbSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DynamoDbSettings\";s:11:\"description\";s:362:\"Settings
  in JSON format for the target Amazon DynamoDB endpoint. For more information about
  the available settings, see the <b>Using Object Mapping to Migrate Data to DynamoDB</b>
  section at <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.DynamoDB.html\">
  Using an Amazon DynamoDB Database as a Target for AWS Database Migration Service</a>.
  \";}s:18:\"EndpointIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:192:\"The
  database endpoint identifier. Identifiers must begin with a letter; must contain
  only ASCII letters, digits, and hyphens; and must not end with a hyphen or contain
  two consecutive hyphens.\";}s:12:\"EndpointType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ReplicationEndpointTypeValue\";s:11:\"description\";s:21:\"The
  type of endpoint.\";}s:10:\"EngineName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:220:\"The
  type of engine for the endpoint. Valid values, depending on the EndPointType, include
  mysql, oracle, postgres, mariadb, aurora, aurora-postgresql, redshift, s3, db2,
  azuredb, sybase, dynamodb, mongodb, and sqlserver.\";}s:23:\"ExternalTableDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:31:\"The
  external table definition. \";}s:25:\"ExtraConnectionAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:53:\"Additional
  attributes associated with the connection.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:329:\"The
  KMS key identifier that will be used to encrypt the connection parameters. If you
  do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default
  encryption key. AWS KMS creates the default encryption key for your AWS account.
  Your AWS account has a different default encryption key for each AWS region.\";}s:15:\"MongoDbSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MongoDbSettings\";s:11:\"description\";s:377:\"Settings
  in JSON format for the source MongoDB endpoint. For more information about the available
  settings, see the <b>Configuration Properties When Using MongoDB as a Source for
  AWS Database Migration Service</b> section at <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.MongoDB.html\">
  Using Amazon S3 as a Target for AWS Database Migration Service</a>. \";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SecretString\";s:11:\"description\";s:58:\"The
  password to be used to login to the endpoint database.\";}s:4:\"Port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:39:\"The
  port used by the endpoint database.\";}s:10:\"S3Settings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/S3Settings\";s:11:\"description\";s:311:\"Settings
  in JSON format for the target Amazon S3 endpoint. For more information about the
  available settings, see the <b>Extra Connection Attributes</b> section at <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.S3.html\">
  Using Amazon S3 as a Target for AWS Database Migration Service</a>. \";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  name of the server where the endpoint database resides.\";}s:20:\"ServiceAccessRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:100:\"
  The Amazon Resource Name (ARN) for the service access role you want to use to create
  the endpoint. \";}s:7:\"SslMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DmsSslModeValue\";s:11:\"description\";s:167:\"<p>The
  SSL mode to use for the SSL connection.</p> <p>SSL mode can be one of four values:
  none, require, verify-ca, verify-full. </p> <p>The default value is none.</p>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:33:\"Tags
  to be added to the endpoint.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  user name to be used to login to the endpoint database.\";}}s:8:\"required\";a:3:{i:0;s:18:\"EndpointIdentifier\";i:1;s:12:\"EndpointType\";i:2;s:10:\"EngineName\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateEndpointResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"Endpoint\";O:8:\"stdClass\":9:{s:11:\"EndpointArn\";s:70:\"arn:aws:dms:us-east-1:123456789012:endpoint:RAAR3R22XSH46S3PWLC3NJAWKM\";s:18:\"EndpointIdentifier\";s:15:\"test-endpoint-1\";s:12:\"EndpointType\";s:6:\"source\";s:10:\"EngineName\";s:5:\"mysql\";s:8:\"KmsKeyId\";s:75:\"arn:aws:kms:us-east-1:123456789012:key/4c1731d6-5435-ed4d-be13-d53411a7cfbd\";s:4:\"Port\";i:3306;s:10:\"ServerName\";s:45:\"mydb.cx1llnox7iyx.us-west-2.rds.amazonaws.com\";s:6:\"Status\";s:6:\"active\";s:8:\"Username\";s:8:\"username\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Endpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Endpoint\";s:11:\"description\";s:30:\"The
  endpoint that was created.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CreateEventSubscriptionMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:138:\"
  A Boolean value; set to <b>true</b> to activate the subscription, or set to <b>false</b>
  to create the subscription but not activate it. \";}s:15:\"EventCategories\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EventCategoriesList\";s:11:\"description\";s:375:\"
  A list of event categories for a source type that you want to subscribe to. You
  can see a list of the categories for a given source type by calling the <b>DescribeEventCategories</b>
  action or in the topic <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">
  Working with Events and Notifications</a> in the AWS Database Migration Service
  User Guide. \";}s:11:\"SnsTopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:166:\"
  The Amazon Resource Name (ARN) of the Amazon SNS topic created for event notification.
  The ARN is created by Amazon SNS when you create a topic and subscribe to it. \";}s:9:\"SourceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SourceIdsList\";s:11:\"description\";s:307:\"
  The list of identifiers of the event sources for which events will be returned.
  If not specified, then all sources are included in the response. An identifier must
  begin with a letter and must contain only ASCII letters, digits, and hyphens; it
  cannot end with a hyphen or contain two consecutive hyphens. \";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:328:\"<p>
  The type of AWS DMS resource that generates the events. For example, if you want
  to be notified of events generated by a replication instance, you set this parameter
  to <code>replication-instance</code>. If this value is not specified, all events
  are returned. </p> <p>Valid values: replication-instance | migration-task</p>\";}s:16:\"SubscriptionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:128:\"<p>The
  name of the AWS DMS event notification subscription. </p> <p>Constraints: The name
  must be less than 255 characters. </p>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:47:\"A
  tag to be attached to the event subscription.\";}}s:8:\"required\";a:2:{i:0;s:16:\"SubscriptionName\";i:1;s:11:\"SnsTopicArn\";}s:4:\"type\";s:6:\"object\";}s:31:\"CreateEventSubscriptionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"EventSubscription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EventSubscription\";s:11:\"description\";s:40:\"The
  event subscription that was created.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CreateReplicationInstanceMessage\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":13:{s:16:\"AllocatedStorage\";i:123;s:23:\"AutoMinorVersionUpgrade\";b:1;s:16:\"AvailabilityZone\";s:0:\"\";s:13:\"EngineVersion\";s:0:\"\";s:8:\"KmsKeyId\";s:0:\"\";s:7:\"MultiAZ\";b:1;s:26:\"PreferredMaintenanceWindow\";s:0:\"\";s:18:\"PubliclyAccessible\";b:1;s:24:\"ReplicationInstanceClass\";s:0:\"\";s:29:\"ReplicationInstanceIdentifier\";s:0:\"\";s:32:\"ReplicationSubnetGroupIdentifier\";s:0:\"\";s:4:\"Tags\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"Key\";s:6:\"string\";s:5:\"Value\";s:6:\"string\";}}s:19:\"VpcSecurityGroupIds\";a:0:{}}s:10:\"properties\";O:8:\"stdClass\":13:{s:16:\"AllocatedStorage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:92:\"The
  amount of storage (in gigabytes) to be initially allocated for the replication instance.\";}s:23:\"AutoMinorVersionUpgrade\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:167:\"<p>Indicates
  that minor engine upgrades will be applied automatically to the replication instance
  during the maintenance window.</p> <p>Default: <code>true</code> </p>\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:208:\"<p>The
  EC2 Availability Zone that the replication instance will be created in.</p> <p>Default:
  A random, system-chosen Availability Zone in the endpoint's region.</p> <p> Example:
  <code>us-east-1d</code> </p>\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"The
  engine version number of the replication instance.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:343:\"The
  KMS key identifier that will be used to encrypt the content on the replication instance.
  If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use
  your default encryption key. AWS KMS creates the default encryption key for your
  AWS account. Your AWS account has a different default encryption key for each AWS
  region.\";}s:7:\"MultiAZ\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:179:\"
  Specifies if the replication instance is a Multi-AZ deployment. You cannot set the
  <code>AvailabilityZone</code> parameter if the Multi-AZ parameter is set to <code>true</code>.
  \";}s:26:\"PreferredMaintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:395:\"<p>The
  weekly time range during which system maintenance can occur, in Universal Coordinated
  Time (UTC).</p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>Default:
  A 30-minute window selected at random from an 8-hour block of time per region, occurring
  on a random day of the week.</p> <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p>
  <p>Constraints: Minimum 30-minute window.</p>\";}s:18:\"PubliclyAccessible\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:265:\"
  Specifies the accessibility options for the replication instance. A value of <code>true</code>
  represents an instance with a public IP address. A value of <code>false</code> represents
  an instance with a private IP address. The default value is <code>true</code>. \";}s:24:\"ReplicationInstanceClass\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:275:\"<p>The
  compute and memory capacity of the replication instance as specified by the replication
  instance class.</p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium
  | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge
  </code> </p>\";}s:29:\"ReplicationInstanceIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:377:\"<p>The
  replication instance identifier. This parameter is stored as a lowercase string.</p>
  <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters
  or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot
  end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example:
  <code>myrepinstance</code> </p>\";}s:32:\"ReplicationSubnetGroupIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:58:\"A
  subnet group to associate with the replication instance.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:52:\"Tags
  to be associated with the replication instance.\";}s:19:\"VpcSecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/VpcSecurityGroupIdList\";s:11:\"description\";s:159:\"
  Specifies the VPC security group to be used with the replication instance. The VPC
  security group must work with the VPC containing the replication instance. \";}}s:8:\"required\";a:2:{i:0;s:29:\"ReplicationInstanceIdentifier\";i:1;s:24:\"ReplicationInstanceClass\";}s:4:\"type\";s:6:\"object\";}s:33:\"CreateReplicationInstanceResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:19:\"ReplicationInstance\";O:8:\"stdClass\":12:{s:16:\"AllocatedStorage\";i:5;s:23:\"AutoMinorVersionUpgrade\";b:1;s:13:\"EngineVersion\";s:5:\"1.5.0\";s:8:\"KmsKeyId\";s:75:\"arn:aws:kms:us-east-1:123456789012:key/4c1731d6-5435-ed4d-be13-d53411a7cfbd\";s:21:\"PendingModifiedValues\";O:8:\"stdClass\":0:{}s:26:\"PreferredMaintenanceWindow\";s:19:\"sun:06:00-sun:14:00\";s:18:\"PubliclyAccessible\";b:1;s:22:\"ReplicationInstanceArn\";s:65:\"arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ\";s:24:\"ReplicationInstanceClass\";s:12:\"dms.t2.micro\";s:29:\"ReplicationInstanceIdentifier\";s:10:\"test-rep-1\";s:25:\"ReplicationInstanceStatus\";s:8:\"creating\";s:22:\"ReplicationSubnetGroup\";O:8:\"stdClass\":5:{s:33:\"ReplicationSubnetGroupDescription\";s:7:\"default\";s:32:\"ReplicationSubnetGroupIdentifier\";s:7:\"default\";s:17:\"SubnetGroupStatus\";s:8:\"Complete\";s:7:\"Subnets\";a:4:{i:0;O:8:\"stdClass\":3:{s:22:\"SubnetAvailabilityZone\";O:8:\"stdClass\":1:{s:4:\"Name\";s:10:\"us-east-1d\";}s:16:\"SubnetIdentifier\";s:15:\"subnet-f6dd91af\";s:12:\"SubnetStatus\";s:6:\"Active\";}i:1;O:8:\"stdClass\":3:{s:22:\"SubnetAvailabilityZone\";O:8:\"stdClass\":1:{s:4:\"Name\";s:10:\"us-east-1b\";}s:16:\"SubnetIdentifier\";s:15:\"subnet-3605751d\";s:12:\"SubnetStatus\";s:6:\"Active\";}i:2;O:8:\"stdClass\":3:{s:22:\"SubnetAvailabilityZone\";O:8:\"stdClass\":1:{s:4:\"Name\";s:10:\"us-east-1c\";}s:16:\"SubnetIdentifier\";s:15:\"subnet-c2daefb5\";s:12:\"SubnetStatus\";s:6:\"Active\";}i:3;O:8:\"stdClass\":3:{s:22:\"SubnetAvailabilityZone\";O:8:\"stdClass\":1:{s:4:\"Name\";s:10:\"us-east-1e\";}s:16:\"SubnetIdentifier\";s:15:\"subnet-85e90cb8\";s:12:\"SubnetStatus\";s:6:\"Active\";}}s:5:\"VpcId\";s:12:\"vpc-6741a603\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"ReplicationInstance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ReplicationInstance\";s:11:\"description\";s:42:\"The
  replication instance that was created.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"CreateReplicationSubnetGroupMessage\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":4:{s:33:\"ReplicationSubnetGroupDescription\";s:20:\"US
  West subnet group\";s:32:\"ReplicationSubnetGroupIdentifier\";s:24:\"us-west-2ab-vpc-215ds366\";s:9:\"SubnetIds\";a:2:{i:0;s:15:\"subnet-e145356n\";i:1;s:15:\"subnet-58f79200\";}s:4:\"Tags\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"Key\";s:6:\"Acount\";s:5:\"Value\";s:6:\"145235\";}}}s:10:\"properties\";O:8:\"stdClass\":4:{s:33:\"ReplicationSubnetGroupDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:37:\"The
  description for the subnet group.\";}s:32:\"ReplicationSubnetGroupIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:277:\"<p>The
  name for the replication subnet group. This value is stored as a lowercase string.</p>
  <p>Constraints: Must contain no more than 255 alphanumeric characters, periods,
  spaces, underscores, or hyphens. Must not be \"default\".</p> <p>Example: <code>mySubnetgroup</code>
  </p>\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SubnetIdentifierList\";s:11:\"description\";s:40:\"The
  EC2 subnet IDs for the subnet group.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:43:\"The
  tag to be assigned to the subnet group.\";}}s:8:\"required\";a:3:{i:0;s:32:\"ReplicationSubnetGroupIdentifier\";i:1;s:33:\"ReplicationSubnetGroupDescription\";i:2;s:9:\"SubnetIds\";}s:4:\"type\";s:6:\"object\";}s:36:\"CreateReplicationSubnetGroupResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:22:\"ReplicationSubnetGroup\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"ReplicationSubnetGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ReplicationSubnetGroup\";s:11:\"description\";s:46:\"The
  replication subnet group that was created.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"CreateReplicationTaskMessage\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":9:{s:12:\"CdcStartTime\";s:20:\"2016-12-14T18:25:43Z\";s:13:\"MigrationType\";s:9:\"full-load\";s:22:\"ReplicationInstanceArn\";s:65:\"arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ\";s:25:\"ReplicationTaskIdentifier\";s:5:\"task1\";s:23:\"ReplicationTaskSettings\";s:0:\"\";s:17:\"SourceEndpointArn\";s:70:\"arn:aws:dms:us-east-1:123456789012:endpoint:ZW5UAN6P4E77EC7YWHK4RZZ3BE\";s:13:\"TableMappings\";s:23:\"file://mappingfile.json\";s:4:\"Tags\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"Key\";s:6:\"Acount\";s:5:\"Value\";s:8:\"24352226\";}}s:17:\"TargetEndpointArn\";s:70:\"arn:aws:dms:us-east-1:123456789012:endpoint:ASXWXJZLNWNT5HTWCGV2BUJQ7E\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:16:\"CdcStartPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:594:\"<p>Indicates
  when you want a change data capture (CDC) operation to start. Use either CdcStartPosition
  or CdcStartTime to specify when you want a CDC operation to start. Specifying both
  values results in an error.</p> <p> The value can be in date, checkpoint, or LSN/SCN
  format.</p> <p>Date Example: --cdc-start-position \u201C2018-03-08T12:12:12\u201D</p>
  <p>Checkpoint Example: --cdc-start-position \"checkpoint:V1#27#mysql-bin-changelog.157832:1975:-1:2002:677883278264080:mysql-bin-changelog.157832:1876#0#0#*#0#93\"</p>
  <p>LSN Example: --cdc-start-position \u201Cmysql-bin-changelog.000024:373\u201D</p>\";}s:12:\"CdcStartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:206:\"Indicates
  the start time for a change data capture (CDC) operation. Use either CdcStartTime
  or CdcStartPosition to specify when you want a CDC operation to start. Specifying
  both values results in an error.\";}s:15:\"CdcStopPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:303:\"<p>Indicates
  when you want a change data capture (CDC) operation to stop. The value can be either
  server time or commit time.</p> <p>Server time example: --cdc-stop-position \u201Cserver_time:3018-02-09T12:12:12\u201D</p>
  <p>Commit time example: --cdc-stop-position \u201Ccommit_time: 3018-02-09T12:12:12
  \u201C</p>\";}s:13:\"MigrationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/MigrationTypeValue\";s:11:\"description\";s:19:\"The
  migration type.\";}s:22:\"ReplicationInstanceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  Amazon Resource Name (ARN) of the replication instance.\";}s:25:\"ReplicationTaskIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:282:\"<p>The
  replication task identifier.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from
  1 to 255 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must
  be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive
  hyphens.</p> </li> </ul>\";}s:23:\"ReplicationTaskSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:262:\"Settings
  for the task, such as target metadata settings. For a complete list of task settings,
  see <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.CustomizingTasks.TaskSettings.html\">Task
  Settings for AWS Database Migration Service Tasks</a>.\";}s:17:\"SourceEndpointArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:76:\"The
  Amazon Resource Name (ARN) string that uniquely identifies the endpoint.\";}s:13:\"TableMappings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:273:\"<p>When
  using the AWS CLI or boto3, provide the path of the JSON file that contains the
  table mappings. Precede the path with \"file://\". When working with the DMS API,
  provide the JSON as the parameter value.</p> <p>For example, --table-mappings file://mappingfile.json</p>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:45:\"Tags
  to be added to the replication instance.\";}s:17:\"TargetEndpointArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:76:\"The
  Amazon Resource Name (ARN) string that uniquely identifies the endpoint.\";}}s:8:\"required\";a:6:{i:0;s:25:\"ReplicationTaskIdentifier\";i:1;s:17:\"SourceEndpointArn\";i:2;s:17:\"TargetEndpointArn\";i:3;s:22:\"ReplicationInstanceArn\";i:4;s:13:\"MigrationType\";i:5;s:13:\"TableMappings\";}s:4:\"type\";s:6:\"object\";}s:29:\"CreateReplicationTaskResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:15:\"ReplicationTask\";O:8:\"stdClass\":10:{s:13:\"MigrationType\";s:9:\"full-load\";s:22:\"ReplicationInstanceArn\";s:65:\"arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ\";s:18:\"ReplicationTaskArn\";s:66:\"arn:aws:dms:us-east-1:123456789012:task:OEAMB3NXSTZ6LFYZFEPPBBXPYM\";s:27:\"ReplicationTaskCreationDate\";s:20:\"2016-12-14T18:25:43Z\";s:25:\"ReplicationTaskIdentifier\";s:5:\"task1\";s:23:\"ReplicationTaskSettings\";s:553:\"{\"TargetMetadata\":{\"TargetSchema\":\"\",\"SupportLobs\":true,\"FullLobMode\":true,\"LobChunkSize\":64,\"LimitedSizeLobMode\":false,\"LobMaxSize\":0},\"FullLoadSettings\":{\"FullLoadEnabled\":true,\"ApplyChangesEnabled\":false,\"TargetTablePrepMode\":\"DROP_AND_CREATE\",\"CreatePkAfterFullLoad\":false,\"StopTaskCachedChangesApplied\":false,\"StopTaskCachedChangesNotApplied\":false,\"ResumeEnabled\":false,\"ResumeMinTableSize\":100000,\"ResumeOnlyClusteredPKTables\":true,\"MaxFullLoadSubTasks\":8,\"TransactionConsistencyTimeout\":600,\"CommitRate\":10000},\"Logging\":{\"EnableLogging\":false}}\";s:17:\"SourceEndpointArn\";s:70:\"arn:aws:dms:us-east-1:123456789012:endpoint:ZW5UAN6P4E77EC7YWHK4RZZ3BE\";s:6:\"Status\";s:8:\"creating\";s:13:\"TableMappings\";s:23:\"file://mappingfile.json\";s:17:\"TargetEndpointArn\";s:70:\"arn:aws:dms:us-east-1:123456789012:endpoint:ASXWXJZLNWNT5HTWCGV2BUJQ7E\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"ReplicationTask\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ReplicationTask\";s:11:\"description\";s:38:\"The
  replication task that was created.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteCertificateMessage\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"CertificateArn\";s:62:\"arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUSM457DE6XFJCJQ\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:58:\"The
  Amazon Resource Name (ARN) of the deleted certificate.\";}}s:8:\"required\";a:1:{i:0;s:14:\"CertificateArn\";}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteCertificateResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"Certificate\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"Certificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Certificate\";s:11:\"description\";s:43:\"The
  Secure Sockets Layer (SSL) certificate.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteEndpointMessage\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"EndpointArn\";s:70:\"arn:aws:dms:us-east-1:123456789012:endpoint:RAAR3R22XSH46S3PWLC3NJAWKM\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"EndpointArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:76:\"The
  Amazon Resource Name (ARN) string that uniquely identifies the endpoint.\";}}s:8:\"required\";a:1:{i:0;s:11:\"EndpointArn\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteEndpointResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"Endpoint\";O:8:\"stdClass\":9:{s:11:\"EndpointArn\";s:70:\"arn:aws:dms:us-east-1:123456789012:endpoint:RAAR3R22XSH46S3PWLC3NJAWKM\";s:18:\"EndpointIdentifier\";s:15:\"test-endpoint-1\";s:12:\"EndpointType\";s:6:\"source\";s:10:\"EngineName\";s:5:\"mysql\";s:8:\"KmsKeyId\";s:75:\"arn:aws:kms:us-east-1:123456789012:key/4c1731d6-5435-ed4d-be13-d53411a7cfbd\";s:4:\"Port\";i:3306;s:10:\"ServerName\";s:45:\"mydb.cx1llnox7iyx.us-west-2.rds.amazonaws.com\";s:6:\"Status\";s:6:\"active\";s:8:\"Username\";s:8:\"username\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Endpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Endpoint\";s:11:\"description\";s:30:\"The
  endpoint that was deleted.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DeleteEventSubscriptionMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"SubscriptionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:66:\"The
  name of the DMS event notification subscription to be deleted.\";}}s:8:\"required\";a:1:{i:0;s:16:\"SubscriptionName\";}s:4:\"type\";s:6:\"object\";}s:31:\"DeleteEventSubscriptionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"EventSubscription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EventSubscription\";s:11:\"description\";s:40:\"The
  event subscription that was deleted.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteReplicationInstanceMessage\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:22:\"ReplicationInstanceArn\";s:65:\"arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"ReplicationInstanceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:73:\"The
  Amazon Resource Name (ARN) of the replication instance to be deleted.\";}}s:8:\"required\";a:1:{i:0;s:22:\"ReplicationInstanceArn\";}s:4:\"type\";s:6:\"object\";}s:33:\"DeleteReplicationInstanceResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:19:\"ReplicationInstance\";O:8:\"stdClass\":12:{s:16:\"AllocatedStorage\";i:5;s:23:\"AutoMinorVersionUpgrade\";b:1;s:13:\"EngineVersion\";s:5:\"1.5.0\";s:8:\"KmsKeyId\";s:75:\"arn:aws:kms:us-east-1:123456789012:key/4c1731d6-5435-ed4d-be13-d53411a7cfbd\";s:21:\"PendingModifiedValues\";O:8:\"stdClass\":0:{}s:26:\"PreferredMaintenanceWindow\";s:19:\"sun:06:00-sun:14:00\";s:18:\"PubliclyAccessible\";b:1;s:22:\"ReplicationInstanceArn\";s:65:\"arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ\";s:24:\"ReplicationInstanceClass\";s:12:\"dms.t2.micro\";s:29:\"ReplicationInstanceIdentifier\";s:10:\"test-rep-1\";s:25:\"ReplicationInstanceStatus\";s:8:\"creating\";s:22:\"ReplicationSubnetGroup\";O:8:\"stdClass\":5:{s:33:\"ReplicationSubnetGroupDescription\";s:7:\"default\";s:32:\"ReplicationSubnetGroupIdentifier\";s:7:\"default\";s:17:\"SubnetGroupStatus\";s:8:\"Complete\";s:7:\"Subnets\";a:4:{i:0;O:8:\"stdClass\":3:{s:22:\"SubnetAvailabilityZone\";O:8:\"stdClass\":1:{s:4:\"Name\";s:10:\"us-east-1d\";}s:16:\"SubnetIdentifier\";s:15:\"subnet-f6dd91af\";s:12:\"SubnetStatus\";s:6:\"Active\";}i:1;O:8:\"stdClass\":3:{s:22:\"SubnetAvailabilityZone\";O:8:\"stdClass\":1:{s:4:\"Name\";s:10:\"us-east-1b\";}s:16:\"SubnetIdentifier\";s:15:\"subnet-3605751d\";s:12:\"SubnetStatus\";s:6:\"Active\";}i:2;O:8:\"stdClass\":3:{s:22:\"SubnetAvailabilityZone\";O:8:\"stdClass\":1:{s:4:\"Name\";s:10:\"us-east-1c\";}s:16:\"SubnetIdentifier\";s:15:\"subnet-c2daefb5\";s:12:\"SubnetStatus\";s:6:\"Active\";}i:3;O:8:\"stdClass\":3:{s:22:\"SubnetAvailabilityZone\";O:8:\"stdClass\":1:{s:4:\"Name\";s:10:\"us-east-1e\";}s:16:\"SubnetIdentifier\";s:15:\"subnet-85e90cb8\";s:12:\"SubnetStatus\";s:6:\"Active\";}}s:5:\"VpcId\";s:12:\"vpc-6741a603\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"ReplicationInstance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ReplicationInstance\";s:11:\"description\";s:42:\"The
  replication instance that was deleted.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DeleteReplicationSubnetGroupMessage\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:32:\"ReplicationSubnetGroupIdentifier\";s:24:\"us-west-2ab-vpc-215ds366\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:32:\"ReplicationSubnetGroupIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:50:\"The
  subnet group name of the replication instance.\";}}s:8:\"required\";a:1:{i:0;s:32:\"ReplicationSubnetGroupIdentifier\";}s:4:\"type\";s:6:\"object\";}s:36:\"DeleteReplicationSubnetGroupResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteReplicationTaskMessage\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:18:\"ReplicationTaskArn\";s:65:\"arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"ReplicationTaskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:69:\"The
  Amazon Resource Name (ARN) of the replication task to be deleted.\";}}s:8:\"required\";a:1:{i:0;s:18:\"ReplicationTaskArn\";}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteReplicationTaskResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:15:\"ReplicationTask\";O:8:\"stdClass\":10:{s:13:\"MigrationType\";s:9:\"full-load\";s:22:\"ReplicationInstanceArn\";s:65:\"arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ\";s:18:\"ReplicationTaskArn\";s:66:\"arn:aws:dms:us-east-1:123456789012:task:OEAMB3NXSTZ6LFYZFEPPBBXPYM\";s:27:\"ReplicationTaskCreationDate\";s:20:\"2016-12-14T18:25:43Z\";s:25:\"ReplicationTaskIdentifier\";s:5:\"task1\";s:23:\"ReplicationTaskSettings\";s:553:\"{\"TargetMetadata\":{\"TargetSchema\":\"\",\"SupportLobs\":true,\"FullLobMode\":true,\"LobChunkSize\":64,\"LimitedSizeLobMode\":false,\"LobMaxSize\":0},\"FullLoadSettings\":{\"FullLoadEnabled\":true,\"ApplyChangesEnabled\":false,\"TargetTablePrepMode\":\"DROP_AND_CREATE\",\"CreatePkAfterFullLoad\":false,\"StopTaskCachedChangesApplied\":false,\"StopTaskCachedChangesNotApplied\":false,\"ResumeEnabled\":false,\"ResumeMinTableSize\":100000,\"ResumeOnlyClusteredPKTables\":true,\"MaxFullLoadSubTasks\":8,\"TransactionConsistencyTimeout\":600,\"CommitRate\":10000},\"Logging\":{\"EnableLogging\":false}}\";s:17:\"SourceEndpointArn\";s:70:\"arn:aws:dms:us-east-1:123456789012:endpoint:ZW5UAN6P4E77EC7YWHK4RZZ3BE\";s:6:\"Status\";s:8:\"creating\";s:13:\"TableMappings\";s:23:\"file://mappingfile.json\";s:17:\"TargetEndpointArn\";s:70:\"arn:aws:dms:us-east-1:123456789012:endpoint:ASXWXJZLNWNT5HTWCGV2BUJQ7E\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"ReplicationTask\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ReplicationTask\";s:11:\"description\";s:29:\"The
  deleted replication task.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeAccountAttributesMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"DescribeAccountAttributesResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:13:\"AccountQuotas\";a:3:{i:0;O:8:\"stdClass\":3:{s:16:\"AccountQuotaName\";s:20:\"ReplicationInstances\";s:3:\"Max\";i:20;s:4:\"Used\";i:0;}i:1;O:8:\"stdClass\":3:{s:16:\"AccountQuotaName\";s:16:\"AllocatedStorage\";s:3:\"Max\";i:20;s:4:\"Used\";i:0;}i:2;O:8:\"stdClass\":3:{s:16:\"AccountQuotaName\";s:9:\"Endpoints\";s:3:\"Max\";i:20;s:4:\"Used\";i:0;}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"AccountQuotas\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AccountQuotaList\";s:11:\"description\";s:26:\"Account
  quota information.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeCertificatesMessage\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"Filters\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"Name\";s:6:\"string\";s:6:\"Values\";a:2:{i:0;s:6:\"string\";i:1;s:6:\"string\";}}}s:6:\"Marker\";s:0:\"\";s:10:\"MaxRecords\";i:123;}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterList\";s:11:\"description\";s:76:\"Filters
  applied to the certificate described in the form of key-value pairs.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:268:\"<p>
  The maximum number of records to include in the response. If more records exist
  than the specified <code>MaxRecords</code> value, a pagination token called a marker
  is included in the response so that the remaining results can be retrieved. </p>
  <p>Default: 10</p>\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeCertificatesResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:12:\"Certificates\";a:0:{}s:6:\"Marker\";s:0:\"\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"Certificates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CertificateList\";s:11:\"description\";s:85:\"The
  Secure Sockets Layer (SSL) certificates associated with the replication instance.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:21:\"The
  pagination token.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeConnectionsMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"Filters\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"Name\";s:6:\"string\";s:6:\"Values\";a:2:{i:0;s:6:\"string\";i:1;s:6:\"string\";}}}s:6:\"Marker\";s:0:\"\";s:10:\"MaxRecords\";i:123;}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterList\";s:11:\"description\";s:112:\"<p>The
  filters applied to the connection.</p> <p>Valid filter names: endpoint-arn | replication-instance-arn</p>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:314:\"<p>
  The maximum number of records to include in the response. If more records exist
  than the specified <code>MaxRecords</code> value, a pagination token called a marker
  is included in the response so that the remaining results can be retrieved. </p>
  <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeConnectionsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:11:\"Connections\";a:1:{i:0;O:8:\"stdClass\":5:{s:11:\"EndpointArn\";s:90:\"arn:aws:dms:us-east-arn:aws:dms:us-east-1:123456789012:endpoint:ZW5UAN6P4E77EC7YWHK4RZZ3BE\";s:18:\"EndpointIdentifier\";s:8:\"testsrc1\";s:22:\"ReplicationInstanceArn\";s:65:\"arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ\";s:29:\"ReplicationInstanceIdentifier\";s:4:\"test\";s:6:\"Status\";s:10:\"successful\";}}s:6:\"Marker\";s:0:\"\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Connections\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConnectionList\";s:11:\"description\";s:33:\"A
  description of the connections.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeEndpointTypesMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"Filters\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"Name\";s:6:\"string\";s:6:\"Values\";a:2:{i:0;s:6:\"string\";i:1;s:6:\"string\";}}}s:6:\"Marker\";s:0:\"\";s:10:\"MaxRecords\";i:123;}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterList\";s:11:\"description\";s:101:\"<p>Filters
  applied to the describe action.</p> <p>Valid filter names: engine-name | endpoint-type</p>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:314:\"<p>
  The maximum number of records to include in the response. If more records exist
  than the specified <code>MaxRecords</code> value, a pagination token called a marker
  is included in the response so that the remaining results can be retrieved. </p>
  <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeEndpointTypesResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Marker\";s:0:\"\";s:22:\"SupportedEndpointTypes\";a:0:{}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:22:\"SupportedEndpointTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/SupportedEndpointTypeList\";s:11:\"description\";s:41:\"The
  type of endpoints that are supported.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeEndpointsMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"Filters\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"Name\";s:6:\"string\";s:6:\"Values\";a:2:{i:0;s:6:\"string\";i:1;s:6:\"string\";}}}s:6:\"Marker\";s:0:\"\";s:10:\"MaxRecords\";i:123;}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterList\";s:11:\"description\";s:130:\"<p>Filters
  applied to the describe action.</p> <p>Valid filter names: endpoint-arn | endpoint-type
  | endpoint-id | engine-name</p>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:314:\"<p>
  The maximum number of records to include in the response. If more records exist
  than the specified <code>MaxRecords</code> value, a pagination token called a marker
  is included in the response so that the remaining results can be retrieved. </p>
  <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeEndpointsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"Endpoints\";a:0:{}s:6:\"Marker\";s:0:\"\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"Endpoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EndpointList\";s:11:\"description\";s:21:\"Endpoint
  description.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeEventCategoriesMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterList\";s:11:\"description\";s:30:\"Filters
  applied to the action.\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:119:\"<p>
  The type of AWS DMS resource that generates events. </p> <p>Valid values: replication-instance
  | migration-task</p>\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeEventCategoriesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"EventCategoryGroupList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/EventCategoryGroupList\";s:11:\"description\";s:27:\"A
  list of event categories.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DescribeEventSubscriptionsMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterList\";s:11:\"description\";s:30:\"Filters
  applied to the action.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:314:\"<p>
  The maximum number of records to include in the response. If more records exist
  than the specified <code>MaxRecords</code> value, a pagination token called a marker
  is included in the response so that the remaining results can be retrieved. </p>
  <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>\";}s:16:\"SubscriptionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  name of the AWS DMS event subscription to be described.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeEventSubscriptionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"EventSubscriptionsList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/EventSubscriptionsList\";s:11:\"description\";s:30:\"A
  list of event subscriptions.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeEventsMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"Duration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:40:\"The
  duration of the events to be listed.\";}s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:41:\"The
  end time for the events to be listed.\";}s:15:\"EventCategories\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EventCategoriesList\";s:11:\"description\";s:75:\"A
  list of event categories for a source type that you want to subscribe to.\";}s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterList\";s:11:\"description\";s:30:\"Filters
  applied to the action.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:314:\"<p>
  The maximum number of records to include in the response. If more records exist
  than the specified <code>MaxRecords</code> value, a pagination token called a marker
  is included in the response so that the remaining results can be retrieved. </p>
  <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>\";}s:16:\"SourceIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:198:\"
  The identifier of the event source. An identifier must begin with a letter and must
  contain only ASCII letters, digits, and hyphens. It cannot end with a hyphen or
  contain two consecutive hyphens. \";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SourceType\";s:11:\"description\";s:117:\"<p>The
  type of AWS DMS resource that generates events.</p> <p>Valid values: replication-instance
  | migration-task</p>\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:43:\"The
  start time for the events to be listed.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeEventsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Events\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EventList\";s:11:\"description\";s:21:\"The
  events described.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}}s:4:\"type\";s:6:\"object\";}s:44:\"DescribeOrderableReplicationInstancesMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Marker\";s:0:\"\";s:10:\"MaxRecords\";i:123;}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:314:\"<p>
  The maximum number of records to include in the response. If more records exist
  than the specified <code>MaxRecords</code> value, a pagination token called a marker
  is included in the response so that the remaining results can be retrieved. </p>
  <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>\";}}s:4:\"type\";s:6:\"object\";}s:45:\"DescribeOrderableReplicationInstancesResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Marker\";s:0:\"\";s:29:\"OrderableReplicationInstances\";a:0:{}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:29:\"OrderableReplicationInstances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/OrderableReplicationInstanceList\";s:11:\"description\";s:47:\"The
  order-able replication instances available.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeRefreshSchemasStatusMessage\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"EndpointArn\";s:0:\"\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"EndpointArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:76:\"The
  Amazon Resource Name (ARN) string that uniquely identifies the endpoint.\";}}s:8:\"required\";a:1:{i:0;s:11:\"EndpointArn\";}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeRefreshSchemasStatusResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:20:\"RefreshSchemasStatus\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"RefreshSchemasStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RefreshSchemasStatus\";s:11:\"description\";s:25:\"The
  status of the schema.\";}}s:4:\"type\";s:6:\"object\";}s:42:\"DescribeReplicationInstanceTaskLogsMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:201:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>.\";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:314:\"<p>
  The maximum number of records to include in the response. If more records exist
  than the specified <code>MaxRecords</code> value, a pagination token called a marker
  is included in the response so that the remaining results can be retrieved. </p>
  <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>\";}s:22:\"ReplicationInstanceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  Amazon Resource Name (ARN) of the replication instance.\";}}s:8:\"required\";a:1:{i:0;s:22:\"ReplicationInstanceArn\";}s:4:\"type\";s:6:\"object\";}s:43:\"DescribeReplicationInstanceTaskLogsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:201:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>.\";}s:22:\"ReplicationInstanceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  Amazon Resource Name (ARN) of the replication instance.\";}s:27:\"ReplicationInstanceTaskLogs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ReplicationInstanceTaskLogsList\";s:11:\"description\";s:139:\"An
  array of replication task log metadata. Each member of the array contains the replication
  task name, ARN, and task log size (in bytes). \";}}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeReplicationInstancesMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"Filters\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"Name\";s:6:\"string\";s:6:\"Values\";a:2:{i:0;s:6:\"string\";i:1;s:6:\"string\";}}}s:6:\"Marker\";s:0:\"\";s:10:\"MaxRecords\";i:123;}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterList\";s:11:\"description\";s:170:\"<p>Filters
  applied to the describe action.</p> <p>Valid filter names: replication-instance-arn
  | replication-instance-id | replication-instance-class | engine-version</p>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:314:\"<p>
  The maximum number of records to include in the response. If more records exist
  than the specified <code>MaxRecords</code> value, a pagination token called a marker
  is included in the response so that the remaining results can be retrieved. </p>
  <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>\";}}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeReplicationInstancesResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Marker\";s:0:\"\";s:20:\"ReplicationInstances\";a:0:{}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:20:\"ReplicationInstances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ReplicationInstanceList\";s:11:\"description\";s:36:\"The
  replication instances described.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"DescribeReplicationSubnetGroupsMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"Filters\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"Name\";s:6:\"string\";s:6:\"Values\";a:2:{i:0;s:6:\"string\";i:1;s:6:\"string\";}}}s:6:\"Marker\";s:0:\"\";s:10:\"MaxRecords\";i:123;}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterList\";s:11:\"description\";s:39:\"Filters
  applied to the describe action.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:314:\"<p>
  The maximum number of records to include in the response. If more records exist
  than the specified <code>MaxRecords</code> value, a pagination token called a marker
  is included in the response so that the remaining results can be retrieved. </p>
  <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>\";}}s:4:\"type\";s:6:\"object\";}s:39:\"DescribeReplicationSubnetGroupsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Marker\";s:0:\"\";s:23:\"ReplicationSubnetGroups\";a:0:{}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:23:\"ReplicationSubnetGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ReplicationSubnetGroups\";s:11:\"description\";s:47:\"A
  description of the replication subnet groups.\";}}s:4:\"type\";s:6:\"object\";}s:47:\"DescribeReplicationTaskAssessmentResultsMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:314:\"<p>
  The maximum number of records to include in the response. If more records exist
  than the specified <code>MaxRecords</code> value, a pagination token called a marker
  is included in the response so that the remaining results can be retrieved. </p>
  <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>\";}s:18:\"ReplicationTaskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:214:\"-
  The Amazon Resource Name (ARN) string that uniquely identifies the task. When this
  input parameter is specified the API will return only one result and ignore the
  values of the max-records and marker parameters. \";}}s:4:\"type\";s:6:\"object\";}s:48:\"DescribeReplicationTaskAssessmentResultsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"BucketName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:68:\"-
  The Amazon S3 bucket where the task assessment report is located. \";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:32:\"ReplicationTaskAssessmentResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/ReplicationTaskAssessmentResultList\";s:11:\"description\";s:29:\"
  The task assessment report. \";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeReplicationTasksMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"Filters\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"Name\";s:6:\"string\";s:6:\"Values\";a:2:{i:0;s:6:\"string\";i:1;s:6:\"string\";}}}s:6:\"Marker\";s:0:\"\";s:10:\"MaxRecords\";i:123;}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterList\";s:11:\"description\";s:175:\"<p>Filters
  applied to the describe action.</p> <p>Valid filter names: replication-task-arn
  | replication-task-id | migration-type | endpoint-arn | replication-instance-arn</p>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:314:\"<p>
  The maximum number of records to include in the response. If more records exist
  than the specified <code>MaxRecords</code> value, a pagination token called a marker
  is included in the response so that the remaining results can be retrieved. </p>
  <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeReplicationTasksResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Marker\";s:0:\"\";s:16:\"ReplicationTasks\";a:0:{}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:16:\"ReplicationTasks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ReplicationTaskList\";s:11:\"description\";s:39:\"A
  description of the replication tasks.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeSchemasMessage\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":3:{s:11:\"EndpointArn\";s:0:\"\";s:6:\"Marker\";s:0:\"\";s:10:\"MaxRecords\";i:123;}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"EndpointArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:76:\"The
  Amazon Resource Name (ARN) string that uniquely identifies the endpoint.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:314:\"<p>
  The maximum number of records to include in the response. If more records exist
  than the specified <code>MaxRecords</code> value, a pagination token called a marker
  is included in the response so that the remaining results can be retrieved. </p>
  <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>\";}}s:8:\"required\";a:1:{i:0;s:11:\"EndpointArn\";}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeSchemasResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Marker\";s:0:\"\";s:7:\"Schemas\";a:0:{}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:7:\"Schemas\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SchemaList\";s:11:\"description\";s:21:\"The
  described schema.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeTableStatisticsMessage\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":3:{s:6:\"Marker\";s:0:\"\";s:10:\"MaxRecords\";i:123;s:18:\"ReplicationTaskArn\";s:0:\"\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterList\";s:11:\"description\";s:235:\"<p>Filters
  applied to the describe table statistics action.</p> <p>Valid filter names: schema-name
  | table-name | table-state</p> <p>A combination of filters creates an AND condition
  where each record matches all specified filters.</p>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:10:\"MaxRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:314:\"<p>
  The maximum number of records to include in the response. If more records exist
  than the specified <code>MaxRecords</code> value, a pagination token called a marker
  is included in the response so that the remaining results can be retrieved. </p>
  <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 500.</p>\";}s:18:\"ReplicationTaskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:55:\"The
  Amazon Resource Name (ARN) of the replication task.\";}}s:8:\"required\";a:1:{i:0;s:18:\"ReplicationTaskArn\";}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeTableStatisticsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":3:{s:6:\"Marker\";s:0:\"\";s:18:\"ReplicationTaskArn\";s:0:\"\";s:15:\"TableStatistics\";a:0:{}}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:202:\"
  An optional pagination token provided by a previous request. If this parameter is
  specified, the response includes only records beyond the marker, up to the value
  specified by <code>MaxRecords</code>. \";}s:18:\"ReplicationTaskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:55:\"The
  Amazon Resource Name (ARN) of the replication task.\";}s:15:\"TableStatistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/TableStatisticsList\";s:11:\"description\";s:21:\"The
  table statistics.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DmsSslModeValue\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:4:\"none\";i:1;s:7:\"require\";i:2;s:9:\"verify-ca\";i:3;s:11:\"verify-full\";}s:4:\"type\";s:6:\"string\";}s:16:\"DynamoDbSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"ServiceAccessRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:69:\"
  The Amazon Resource Name (ARN) used by the service access IAM role. \";}}s:8:\"required\";a:1:{i:0;s:20:\"ServiceAccessRoleArn\";}s:4:\"type\";s:6:\"object\";}s:8:\"Endpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":20:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:71:\"The
  Amazon Resource Name (ARN) used for SSL connection to the endpoint.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:41:\"The
  name of the database at the endpoint.\";}s:16:\"DynamoDbSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DynamoDbSettings\";s:11:\"description\";s:117:\"The
  settings for the target DynamoDB database. For more information, see the <code>DynamoDBSettings</code>
  structure.\";}s:11:\"EndpointArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:76:\"The
  Amazon Resource Name (ARN) string that uniquely identifies the endpoint.\";}s:18:\"EndpointIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:192:\"The
  database endpoint identifier. Identifiers must begin with a letter; must contain
  only ASCII letters, digits, and hyphens; and must not end with a hyphen or contain
  two consecutive hyphens.\";}s:12:\"EndpointType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ReplicationEndpointTypeValue\";s:11:\"description\";s:21:\"The
  type of endpoint.\";}s:17:\"EngineDisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:148:\"The
  expanded name for the engine name. For example, if the <code>EngineName</code> parameter
  is \"aurora,\" this value would be \"Amazon Aurora MySQL.\"\";}s:10:\"EngineName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:217:\"The
  database engine name. Valid values, depending on the EndPointType, include mysql,
  oracle, postgres, mariadb, aurora, aurora-postgresql, redshift, s3, db2, azuredb,
  sybase, sybase, dynamodb, mongodb, and sqlserver.\";}s:10:\"ExternalId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:182:\"
  Value returned by a call to CreateEndpoint that can be used for cross-account validation.
  Use it on a subsequent call to CreateEndpoint to create the endpoint with a cross-account.
  \";}s:23:\"ExternalTableDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"The
  external table definition.\";}s:25:\"ExtraConnectionAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:65:\"Additional
  connection attributes used to connect to the endpoint.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:329:\"The
  KMS key identifier that will be used to encrypt the connection parameters. If you
  do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default
  encryption key. AWS KMS creates the default encryption key for your AWS account.
  Your AWS account has a different default encryption key for each AWS region.\";}s:15:\"MongoDbSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MongoDbSettings\";s:11:\"description\";s:115:\"The
  settings for the MongoDB source endpoint. For more information, see the <code>MongoDbSettings</code>
  structure.\";}s:4:\"Port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:43:\"The
  port value used to access the endpoint.\";}s:10:\"S3Settings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/S3Settings\";s:11:\"description\";s:105:\"The
  settings for the S3 target endpoint. For more information, see the <code>S3Settings</code>
  structure.\";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:39:\"The
  name of the server at the endpoint.\";}s:20:\"ServiceAccessRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:67:\"The
  Amazon Resource Name (ARN) used by the service access IAM role.\";}s:7:\"SslMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DmsSslModeValue\";s:11:\"description\";s:169:\"<p>The
  SSL mode used to connect to the endpoint.</p> <p>SSL mode can be one of four values:
  none, require, verify-ca, verify-full. </p> <p>The default value is none.</p>\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"The
  status of the endpoint.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"The
  user name used to connect to the endpoint.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"EndpointList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Endpoint\";}s:4:\"type\";s:5:\"array\";}s:5:\"Event\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"Date\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:22:\"The
  date of the event.\";}s:15:\"EventCategories\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EventCategoriesList\";s:11:\"description\";s:61:\"The
  event categories available for the specified source type.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:18:\"The
  event message.\";}s:16:\"SourceIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:271:\"<p>
  The identifier of the event source. An identifier must begin with a letter and must
  contain only ASCII letters, digits, and hyphens; it cannot end with a hyphen or
  contain two consecutive hyphens. </p> <p>Constraints:replication instance, endpoint,
  migration task</p>\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SourceType\";s:11:\"description\";s:130:\"<p>
  The type of AWS DMS resource that generates events. </p> <p>Valid values: replication-instance
  | endpoint | migration-task</p>\";}}s:4:\"type\";s:6:\"object\";}s:19:\"EventCategoriesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:18:\"EventCategoryGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"EventCategories\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EventCategoriesList\";s:11:\"description\";s:89:\"
  A list of event categories for a <code>SourceType</code> that you want to subscribe
  to. \";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:157:\"<p>
  The type of AWS DMS resource that generates events. </p> <p>Valid values: replication-instance
  | replication-server | security-group | migration-task</p>\";}}s:4:\"type\";s:6:\"object\";}s:22:\"EventCategoryGroupList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/EventCategoryGroup\";}s:4:\"type\";s:5:\"array\";}s:9:\"EventList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}s:4:\"type\";s:5:\"array\";}s:17:\"EventSubscription\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":9:{s:18:\"CustSubscriptionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:47:\"The
  AWS DMS event notification subscription Id.\";}s:13:\"CustomerAwsId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:85:\"The
  AWS customer account associated with the AWS DMS event notification subscription.\";}s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:66:\"Boolean
  value that indicates if the event subscription is enabled.\";}s:19:\"EventCategoriesList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EventCategoriesList\";s:11:\"description\";s:28:\"A
  lists of event categories.\";}s:11:\"SnsTopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:61:\"The
  topic ARN of the AWS DMS event notification subscription.\";}s:13:\"SourceIdsList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SourceIdsList\";s:11:\"description\";s:48:\"A
  list of source Ids for the event subscription.\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:157:\"<p>
  The type of AWS DMS resource that generates events. </p> <p>Valid values: replication-instance
  | replication-server | security-group | migration-task</p>\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:406:\"<p>The
  status of the AWS DMS event notification subscription.</p> <p>Constraints:</p> <p>Can
  be one of the following: creating | modifying | deleting | active | no-permission
  | topic-not-exist</p> <p>The status \"no-permission\" indicates that AWS DMS no
  longer has permission to post to the SNS topic. The status \"topic-not-exist\" indicates
  that the topic was deleted after the subscription was created.</p>\";}s:24:\"SubscriptionCreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:61:\"The
  time the RDS event notification subscription was created.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"EventSubscriptionsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/EventSubscription\";}s:4:\"type\";s:5:\"array\";}s:16:\"ExceptionMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Filter\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:23:\"The
  name of the filter.\";}s:6:\"Values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FilterValueList\";s:11:\"description\";s:17:\"The
  filter value.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:6:\"Values\";}s:4:\"type\";s:6:\"object\";}s:10:\"FilterList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";}s:4:\"type\";s:5:\"array\";}s:15:\"FilterValueList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:24:\"ImportCertificateMessage\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:21:\"CertificateIdentifier\";s:0:\"\";s:14:\"CertificatePem\";s:0:\"\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"CertificateIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:80:\"The
  customer-assigned name of the certificate. Valid characters are A-z and 0-9.\";}s:14:\"CertificatePem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:68:\"The
  contents of the .pem X.509 certificate file for the certificate.\";}s:17:\"CertificateWallet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CertificateWallet\";s:11:\"description\";s:72:\"The
  location of the imported Oracle Wallet certificate for use with SSL.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:41:\"The
  tags associated with the certificate.\";}}s:8:\"required\";a:1:{i:0;s:21:\"CertificateIdentifier\";}s:4:\"type\";s:6:\"object\";}s:25:\"ImportCertificateResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"Certificate\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"Certificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Certificate\";s:11:\"description\";s:31:\"The
  certificate to be uploaded.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"InsufficientResourceCapacityFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"There
  are not enough resources allocated to the database migration.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"IntegerOptional\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"InvalidCertificateFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  certificate was not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidResourceStateFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  resource is in a state that prevents it from being used for database migration.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:13:\"InvalidSubnet\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  subnet provided is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:24:\"KMSKeyNotAccessibleFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"AWS
  DMS cannot access the KMS key.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:7:\"KeyList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:26:\"ListTagsForResourceMessage\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"ResourceArn\";s:0:\"\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"ResourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:84:\"The
  Amazon Resource Name (ARN) string that uniquely identifies the AWS DMS resource.\";}}s:8:\"required\";a:1:{i:0;s:11:\"ResourceArn\";}s:4:\"type\";s:6:\"object\";}s:27:\"ListTagsForResourceResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"TagList\";a:0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TagList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:32:\"A
  list of tags for the resource.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Long\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"MigrationTypeValue\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:9:\"full-load\";i:1;s:3:\"cdc\";i:2;s:17:\"full-load-and-cdc\";}s:4:\"type\";s:6:\"string\";}s:21:\"ModifyEndpointMessage\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":12:{s:14:\"CertificateArn\";s:0:\"\";s:12:\"DatabaseName\";s:0:\"\";s:11:\"EndpointArn\";s:0:\"\";s:18:\"EndpointIdentifier\";s:0:\"\";s:12:\"EndpointType\";s:6:\"source\";s:10:\"EngineName\";s:0:\"\";s:25:\"ExtraConnectionAttributes\";s:0:\"\";s:8:\"Password\";s:0:\"\";s:4:\"Port\";i:123;s:10:\"ServerName\";s:0:\"\";s:7:\"SslMode\";s:7:\"require\";s:8:\"Username\";s:0:\"\";}s:10:\"properties\";O:8:\"stdClass\":17:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:74:\"The
  Amazon Resource Name (ARN) of the certificate used for SSL connection.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"The
  name of the endpoint database.\";}s:16:\"DynamoDbSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DynamoDbSettings\";s:11:\"description\";s:362:\"Settings
  in JSON format for the target Amazon DynamoDB endpoint. For more information about
  the available settings, see the <b>Using Object Mapping to Migrate Data to DynamoDB</b>
  section at <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.DynamoDB.html\">
  Using an Amazon DynamoDB Database as a Target for AWS Database Migration Service</a>.
  \";}s:11:\"EndpointArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:76:\"The
  Amazon Resource Name (ARN) string that uniquely identifies the endpoint.\";}s:18:\"EndpointIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:192:\"The
  database endpoint identifier. Identifiers must begin with a letter; must contain
  only ASCII letters, digits, and hyphens; and must not end with a hyphen or contain
  two consecutive hyphens.\";}s:12:\"EndpointType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ReplicationEndpointTypeValue\";s:11:\"description\";s:21:\"The
  type of endpoint.\";}s:10:\"EngineName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:228:\"The
  type of engine for the endpoint. Valid values, depending on the EndPointType, include
  mysql, oracle, postgres, mariadb, aurora, aurora-postgresql, redshift, s3, db2,
  azuredb, sybase, sybase, dynamodb, mongodb, and sqlserver.\";}s:23:\"ExternalTableDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"The
  external table definition.\";}s:25:\"ExtraConnectionAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:121:\"Additional
  attributes associated with the connection. To reset this parameter, pass the empty
  string (\"\") as an argument.\";}s:15:\"MongoDbSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MongoDbSettings\";s:11:\"description\";s:377:\"Settings
  in JSON format for the source MongoDB endpoint. For more information about the available
  settings, see the <b>Configuration Properties When Using MongoDB as a Source for
  AWS Database Migration Service</b> section at <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.MongoDB.html\">
  Using Amazon S3 as a Target for AWS Database Migration Service</a>. \";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SecretString\";s:11:\"description\";s:58:\"The
  password to be used to login to the endpoint database.\";}s:4:\"Port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/IntegerOptional\";s:11:\"description\";s:39:\"The
  port used by the endpoint database.\";}s:10:\"S3Settings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/S3Settings\";s:11:\"description\";s:304:\"Settings
  in JSON format for the target S3 endpoint. For more information about the available
  settings, see the <b>Extra Connection Attributes</b> section at <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.S3.html\">
  Using Amazon S3 as a Target for AWS Database Migration Service</a>. \";}s:10:\"ServerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  name of the server where the endpoint database resides.\";}s:20:\"ServiceAccessRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:100:\"
  The Amazon Resource Name (ARN) for the service access role you want to use to modify
  the endpoint. \";}s:7:\"SslMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DmsSslModeValue\";s:11:\"description\";s:148:\"<p>The
  SSL mode to be used.</p> <p>SSL mode can be one of four values: none, require, verify-ca,
  verify-full. </p> <p>The default value is none.</p>\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  user name to be used to login to the endpoint database.\";}}s:8:\"required\";a:1:{i:0;s:11:\"EndpointArn\";}s:4:\"type\";s:6:\"object\";}s:22:\"ModifyEndpointResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"Endpoint\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Endpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Endpoint\";s:11:\"description\";s:22:\"The
  modified endpoint.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ModifyEventSubscriptionMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BooleanOptional\";s:11:\"description\";s:67:\"
  A Boolean value; set to <b>true</b> to activate the subscription. \";}s:15:\"EventCategories\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EventCategoriesList\";s:11:\"description\";s:164:\"
  A list of event categories for a source type that you want to subscribe to. Use
  the <code>DescribeEventCategories</code> action to see a list of event categories.
  \";}s:11:\"SnsTopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:165:\"
  The Amazon Resource Name (ARN) of the Amazon SNS topic created for event notification.
  The ARN is created by Amazon SNS when you create a topic and subscribe to it.\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:148:\"<p>
  The type of AWS DMS resource that generates the events you want to subscribe to.
  </p> <p>Valid values: replication-instance | migration-task</p>\";}s:16:\"SubscriptionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:71:\"The
  name of the AWS DMS event notification subscription to be modified.\";}}s:8:\"required\";a:1:{i:0;s:16:\"SubscriptionName\";}s:4:\"type\";s:6:\"object\";}s:31:\"ModifyEventSubscriptionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"EventSubscription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EventSubscription\";s:11:\"description\";s:32:\"The
[...]
