---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:163:\"Google
  Service Management allows service producers to publish their services on Google
  Cloud Platform so that they can be discovered and used by service consumers.\";s:5:\"title\";s:25:\"Google
  Service Management\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:67:\"https://servicemanagement.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:17:\"servicemanagement\";}"
host: servicemanagement.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":91:{s:6:\"Advice\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"Generated
  advice about this change, used for providing more\ninformation about how a change
  will affect the existing service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Useful
  description for why this advice was applied and what actions should\nbe taken to
  mitigate any implied risks.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Api\";O:8:\"stdClass\":3:{s:11:\"description\";s:533:\"Api
  is a light-weight descriptor for an API Interface.\n\nInterfaces are also described
  as \"protocol buffer services\" in some contexts,\nsuch as by the \"service\" keyword
  in a .proto file, but they are different\nfrom API Services, which represent a concrete
  implementation of an interface\nas opposed to simply a description of methods and
  bindings. They are also\nsometimes simply referred to as \"APIs\" in other contexts,
  such as the name of\nthis message itself. See https://cloud.google.com/apis/design/glossary
  for\ndetailed terminology.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"methods\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  methods of this interface, in unspecified order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Method\";}s:4:\"type\";s:5:\"array\";}s:6:\"mixins\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Included
  interfaces. See Mixin.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Mixin\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"The
  fully qualified name of this interface, including package name\nfollowed by the
  interface's simple name.\";s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Any
  metadata attached to the interface.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Option\";}s:4:\"type\";s:5:\"array\";}s:13:\"sourceContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SourceContext\";s:11:\"description\";s:75:\"Source
  context for the protocol buffer service represented by this\nmessage.\";}s:6:\"syntax\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  source syntax of the service.\";s:4:\"enum\";a:2:{i:0;s:13:\"SYNTAX_PROTO2\";i:1;s:13:\"SYNTAX_PROTO3\";}s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:993:\"A
  version string for this interface. If specified, must have the form\n`major-version.minor-version`,
  as in `1.10`. If the minor version is\nomitted, it defaults to zero. If the entire
  version field is empty, the\nmajor version is derived from the package name, as
  outlined below. If the\nfield is not empty, the version in the package name will
  be verified to be\nconsistent with what is provided here.\n\nThe versioning schema
  uses [semantic\nversioning](http://semver.org) where the major version number\nindicates
  a breaking change and the minor version an additive,\nnon-breaking change. Both
  version numbers are signals to users\nwhat to expect from different versions, and
  should be carefully\nchosen based on the product plan.\n\nThe major version is also
  reflected in the package name of the\ninterface, which must end in `v<major-version>`,
  as in\n`google.feature.v1`. For major versions 0 and 1, the suffix can\nbe omitted.
  Zero major versions must only be used for\nexperimental, non-GA interfaces.\n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"AuditConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:1476:\"Specifies
  the audit configuration for a service.\nThe configuration determines which permission
  types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig
  must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices`
  and a specific service,\nthe union of the two AuditConfigs is used for that service:
  the log_types\nspecified in each AuditConfig are enabled, and the exempted_members
  in each\nAuditConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n
  \   {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n
  \         \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n
  \             \"exempted_members\": [\n                \"user:foo@gmail.com\"\n
  \             ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n
  \           },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n
  \         ]\n        },\n        {\n          \"service\": \"fooservice.googleapis.com\"\n
  \         \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n
  \           },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\":
  [\n                \"user:bar@gmail.com\"\n              ]\n            }\n          ]\n
  \       }\n      ]\n    }\n\nFor fooservice, this policy enables DATA_READ, DATA_WRITE
  and ADMIN_READ\nlogging. It also exempts foo@gmail.com from DATA_READ logging, and\nbar@gmail.com
  from DATA_WRITE logging.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"auditLogConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  configuration for logging of each type of permission.\nNext ID: 4\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AuditLogConfig\";}s:4:\"type\";s:5:\"array\";}s:15:\"exemptedMembers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"Specifies
  a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`,
  `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AuditLogConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:415:\"Provides
  the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\":
  [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\":
  [\n            \"user:foo@gmail.com\"\n          ]\n        },\n        {\n          \"log_type\":
  \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE'
  logging, while exempting\nfoo@gmail.com from DATA_READ logging.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"exemptedMembers\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Specifies
  the identities that do not cause logging for this type of\npermission.\nFollows
  the same format of Binding.members.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"logType\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  log type that this config enables.\";s:4:\"enum\";a:4:{i:0;s:20:\"LOG_TYPE_UNSPECIFIED\";i:1;s:10:\"ADMIN_READ\";i:2;s:10:\"DATA_WRITE\";i:3;s:9:\"DATA_READ\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AuthProvider\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"Configuration
  for an anthentication provider, including support for\n[JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"audiences\";O:8:\"stdClass\":2:{s:11:\"description\";s:624:\"The
  list of JWT\n[audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3).\nthat
  are allowed to access. A JWT containing any of these audiences will\nbe accepted.
  When this setting is absent, only JWTs with audience\n\"https://Service_name/API_name\"\nwill
  be accepted. For example, if no audiences are in the setting,\nLibraryService API
  will only accept JWTs with the following audience\n\"https://library-example.googleapis.com/google.example.library.v1.LibraryService\".\n\nExample:\n\n
  \   audiences: bookstore_android.apps.googleusercontent.com,\n               bookstore_web.apps.googleusercontent.com\";s:4:\"type\";s:6:\"string\";}s:16:\"authorizationUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Redirect
  URL if JWT token is required but no present or is expired.\nImplement authorizationUrl
  of securityDefinitions in OpenAPI spec.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"The
  unique identifier of the auth provider. It will be referred to by\n`AuthRequirement.provider_id`.\n\nExample:
  \"bookstore_auth\".\";s:4:\"type\";s:6:\"string\";}s:6:\"issuer\";O:8:\"stdClass\":2:{s:11:\"description\";s:257:\"Identifies
  the principal that issued the JWT. See\nhttps://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.1\nUsually
  a URL or an email address.\n\nExample: https://securetoken.google.com\nExample:
  1234567-compute@developer.gserviceaccount.com\";s:4:\"type\";s:6:\"string\";}s:7:\"jwksUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:470:\"URL
  of the provider's public key set to validate signature of the JWT. See\n[OpenID
  Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).\nOptional
  if the key set document:\n - can be retrieved from\n   [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html\n
  \  of the issuer.\n - can be inferred from the email domain of the issuer (e.g.
  a Google service account).\n\nExample: https://www.googleapis.com/oauth2/v1/certs\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AuthRequirement\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"User-defined
  authentication requirements, including support for\n[JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"audiences\";O:8:\"stdClass\":2:{s:11:\"description\";s:748:\"NOTE:
  This will be deprecated soon, once AuthProvider.audiences is\nimplemented and accepted
  in all the runtime components.\n\nThe list of JWT\n[audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3).\nthat
  are allowed to access. A JWT containing any of these audiences will\nbe accepted.
  When this setting is absent, only JWTs with audience\n\"https://Service_name/API_name\"\nwill
  be accepted. For example, if no audiences are in the setting,\nLibraryService API
  will only accept JWTs with the following audience\n\"https://library-example.googleapis.com/google.example.library.v1.LibraryService\".\n\nExample:\n\n
  \   audiences: bookstore_android.apps.googleusercontent.com,\n               bookstore_web.apps.googleusercontent.com\";s:4:\"type\";s:6:\"string\";}s:10:\"providerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"id
  from authentication provider.\n\nExample:\n\n    provider_id: bookstore_auth\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Authentication\";O:8:\"stdClass\":3:{s:11:\"description\";s:430:\"`Authentication`
  defines the authentication configuration for an API.\n\nExample for an API targeted
  for external use:\n\n    name: calendar.googleapis.com\n    authentication:\n      providers:\n
  \     - id: google_calendar_auth\n        jwks_uri: https://www.googleapis.com/oauth2/v1/certs\n
  \       issuer: https://securetoken.google.com\n      rules:\n      - selector:
  \"*\"\n        requirements:\n          provider_id: google_calendar_auth\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"providers\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Defines
  a set of authentication providers that a service supports.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AuthProvider\";}s:4:\"type\";s:5:\"array\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"A
  list of authentication rules that apply to individual API methods.\n\n**NOTE:**
  All service configuration rules follow \"last one wins\" order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AuthenticationRule\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AuthenticationRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:344:\"Authentication
  rules for the service.\n\nBy default, if a method has any authentication requirements,
  every request\nmust include a valid credential matching one of the requirements.\nIt's
  an error to include more than one kind of credential in a single\nrequest.\n\nIf
  a method doesn't have any auth requirements, request credentials will be\nignored.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:22:\"allowWithoutCredential\";O:8:\"stdClass\":2:{s:11:\"description\";s:365:\"Whether
  to allow requests without a credential. The credential can be\nan OAuth token, Google
  cookies (first-party auth) or EndUserCreds.\n\nFor requests without credentials,
  if the service control environment is\nspecified, each incoming request **must**
  be associated with a service\nconsumer. This can be done by passing an API key that
  belongs to a consumer\nproject.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"customAuth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/CustomAuthRequirements\";s:11:\"description\";s:40:\"Configuration
  for custom authentication.\";}s:5:\"oauth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/OAuthRequirements\";s:11:\"description\";s:39:\"The
  requirements for OAuth credentials.\";}s:12:\"requirements\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Requirements
  for additional authentication providers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AuthRequirement\";}s:4:\"type\";s:5:\"array\";}s:8:\"selector\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Selects
  the methods to which this rule applies.\n\nRefer to selector for syntax details.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"AuthorizationConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:239:\"Configuration
  of authorization.\n\nThis section determines the authorization provider, if unspecified,
  then no\nauthorization check will be done.\n\nExample:\n\n    experimental:\n      authorization:\n
  \       provider: firebaserules.googleapis.com\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  name of the authorization provider, such as\nfirebaserules.googleapis.com.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Backend\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"`Backend`
  defines the backend configuration for a service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"A
  list of API backend rules that apply to individual API methods.\n\n**NOTE:** All
  service configuration rules follow \"last one wins\" order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BackendRule\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"BackendRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"A
  backend rule provides configuration for an individual API element.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  address of the API backend.\";s:4:\"type\";s:6:\"string\";}s:8:\"deadline\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"The
  number of seconds to wait for a response from a request.  The default\ndeadline
  for gRPC is infinite (no deadline) and HTTP requests is 5 seconds.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"minDeadline\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"Minimum
  deadline in seconds needed for this method. Calls having deadline\nvalue lower than
  this will be rejected.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"selector\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Selects
  the methods to which this rule applies.\n\nRefer to selector for syntax details.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Billing\";O:8:\"stdClass\":3:{s:11:\"description\";s:658:\"Billing
  related configuration of the service.\n\nThe following example shows how to configure
  monitored resources and metrics\nfor billing:\n\n    monitored_resources:\n    -
  type: library.googleapis.com/branch\n      labels:\n      - key: /city\n        description:
  The city where the library branch is located in.\n      - key: /name\n        description:
  The name of the branch.\n    metrics:\n    - name: library.googleapis.com/book/borrowed_count\n
  \     metric_kind: DELTA\n      value_type: INT64\n    billing:\n      consumer_destinations:\n
  \     - monitored_resource: library.googleapis.com/branch\n        metrics:\n        -
  library.googleapis.com/book/borrowed_count\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"consumerDestinations\";O:8:\"stdClass\":3:{s:11:\"description\";s:238:\"Billing
  configurations for sending metrics to the consumer project.\nThere can be multiple
  consumer destinations per service, each one must have\na different monitored resource
  type. A metric can be used in at most\none consumer destination.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BillingDestination\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"BillingDestination\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Configuration
  of a specific billing destination (Currently only support\nbill against consumer
  project).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"metrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"Names
  of the metrics to report to this billing destination.\nEach name must be defined
  in Service.metrics section.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"monitoredResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  monitored resource type. The type must be defined in\nService.monitored_resources
  section.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Binding\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Associates
  `members` with a `role`.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"condition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Expr\";s:11:\"description\";s:237:\"The
  condition that is associated with this binding.\nNOTE: an unsatisfied condition
  will not allow user access via current\nbinding. Different bindings, including their
  conditions, are examined\nindependently.\nThis field is GOOGLE_INTERNAL.\";}s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:908:\"Specifies
  the identities requesting access for a Cloud Platform resource.\n`members` can have
  the following values:\n\n* `allUsers`: A special identifier that represents anyone
  who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`:
  A special identifier that represents anyone\n   who is authenticated with a Google
  account or a service account.\n\n* `user:{emailid}`: An email address that represents
  a specific Google\n   account. For example, `alice@gmail.com` or `joe@example.com`.\n\n\n*
  `serviceAccount:{emailid}`: An email address that represents a service\n   account.
  For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`:
  An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n\n*
  `domain:{domain}`: A Google Apps domain name that represents all the\n   users of
  that domain. For example, `google.com` or `example.com`.\n\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Role
  that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or
  `roles/owner`.\nRequired\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ChangeReport\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"Change
  report associated with a particular service configuration.\n\nIt contains a list
  of ConfigChanges based on the comparison between\ntwo service configurations.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"configChanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:281:\"List
  of changes between two service configurations.\nThe changes will be alphabetically
  sorted based on the identifier\nof each change.\nA ConfigChange identifier is a
  dot separated path to the configuration.\nExample: visibility.rules[selector='LibraryService.CreateBook'].restriction\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ConfigChange\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ConfigChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:251:\"Output
  generated from semantically comparing two versions of a service\nconfiguration.\n\nIncludes
  detailed information about a field that have changed with\napplicable advice about
  potential consequences for the change, such as\nbackwards-incompatibility.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"advices\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Collection
  of advice provided for this change, useful for determining the\npossible impact
  of this change.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Advice\";}s:4:\"type\";s:5:\"array\";}s:10:\"changeType\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  type for this change, either ADDED, REMOVED, or MODIFIED.\";s:4:\"enum\";a:4:{i:0;s:23:\"CHANGE_TYPE_UNSPECIFIED\";i:1;s:5:\"ADDED\";i:2;s:7:\"REMOVED\";i:3;s:8:\"MODIFIED\";}s:4:\"type\";s:6:\"string\";}s:7:\"element\";O:8:\"stdClass\":2:{s:11:\"description\";s:488:\"Object
  hierarchy path to the change, with levels separated by a '.'\ncharacter. For repeated
  fields, an applicable unique identifier field is\nused for the index (usually selector,
  name, or id). For maps, the term\n'key' is used. If the field has no unique identifier,
  the numeric index\nis used.\nExamples:\n- visibility.rules[selector==\"google.LibraryService.CreateBook\"].restriction\n-
  quota.metric_rules[selector==\"google\"].metric_costs[key==\"reads\"].value\n- logging.producer_destinations[0]\";s:4:\"type\";s:6:\"string\";}s:8:\"newValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Value
  of the changed object in the new Service configuration,\nin JSON format. This field
  will not be populated if ChangeType == REMOVED.\";s:4:\"type\";s:6:\"string\";}s:8:\"oldValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Value
  of the changed object in the old Service configuration,\nin JSON format. This field
  will not be populated if ChangeType == ADDED.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ConfigFile\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Generic
  specification of a source configuration file\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"fileContents\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  bytes that constitute the file.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:8:\"filePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  file name of the configuration file (full or relative path).\";s:4:\"type\";s:6:\"string\";}s:8:\"fileType\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  type of configuration file this represents.\";s:4:\"enum\";a:6:{i:0;s:21:\"FILE_TYPE_UNSPECIFIED\";i:1;s:19:\"SERVICE_CONFIG_YAML\";i:2;s:13:\"OPEN_API_JSON\";i:3;s:13:\"OPEN_API_YAML\";i:4;s:25:\"FILE_DESCRIPTOR_SET_PROTO\";i:5;s:10:\"PROTO_FILE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ConfigRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Represents
  a service configuration with its name and id.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Resource
  name of a service config. It must have the following\nformat: \"services/{service
  name}/configs/{config id}\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ConfigSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"Represents
  a source file which is used to generate the service configuration\ndefined by `google.api.Service`.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"files\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Set
  of source configuration files that are used to generate a service\nconfiguration
  (`google.api.Service`).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ConfigFile\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"A
  unique ID for a specific instance of this message, typically assigned\nby the client
  for tracking purpose. If empty, the server may choose to\ngenerate one instead.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Context\";O:8:\"stdClass\":3:{s:11:\"description\";s:417:\"`Context`
  defines which contexts an API requests.\n\nExample:\n\n    context:\n      rules:\n
  \     - selector: \"*\"\n        requested:\n        - google.rpc.context.ProjectContext\n
  \       - google.rpc.context.OriginContext\n\nThe above specifies that all methods
  in the API request\n`google.rpc.context.ProjectContext` and\n`google.rpc.context.OriginContext`.\n\nAvailable
  context types are defined in package\n`google.rpc.context`.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"A
  list of RPC context rules that apply to individual API methods.\n\n**NOTE:** All
  service configuration rules follow \"last one wins\" order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ContextRule\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ContextRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"A
  context rule provides information about the context for an individual API\nelement.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"provided\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  list of full type names of provided contexts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"requested\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  list of full type names of requested contexts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"selector\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Selects
  the methods to which this rule applies.\n\nRefer to selector for syntax details.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Control\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"Selects
  and configures the service controller used by the service.  The\nservice controller
  handles features like abuse, quota, billing, logging,\nmonitoring, etc.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"environment\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"The
  service control environment to use. If empty, no control plane\nfeature (like quota
  and billing) will be enabled.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CustomAuthRequirements\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Configuration
  for a custom authentication provider.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"A
  configuration string containing connection information for the\nauthentication provider,
  typically formatted as a SmartService string\n(go/smartservice).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CustomError\";O:8:\"stdClass\":3:{s:11:\"description\";s:258:\"Customize
  service error responses.  For example, list any service\nspecific protobuf types
  that can appear in error detail lists of\nerror responses.\n\nExample:\n\n    custom_error:\n
  \     types:\n      - google.foo.v1.CustomError\n      - google.foo.v1.AnotherError\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"The
  list of custom error rules that apply to individual API messages.\n\n**NOTE:** All
  service configuration rules follow \"last one wins\" order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomErrorRule\";}s:4:\"type\";s:5:\"array\";}s:5:\"types\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  list of custom error detail types, e.g. 'google.foo.v1.CustomError'.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CustomErrorRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  custom error rule.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"isErrorType\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"Mark
  this message as possible payload in error response.  Otherwise,\nobjects of this
  type will be filtered when they appear in error payload.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"selector\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Selects
  messages to which this rule applies.\n\nRefer to selector for syntax details.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CustomHttpPattern\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  custom pattern is used for defining custom HTTP verb.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  name of this custom HTTP verb.\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  path matched by this custom verb.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteServiceStrategy\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"Strategy
  used to delete a service. This strategy is a placeholder only\nused by the system
  generated rollout to delete a service.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"Diagnostic\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Represents
  a diagnostic message (error or warning)\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  kind of diagnostic information provided.\";s:4:\"enum\";a:2:{i:0;s:7:\"WARNING\";i:1;s:5:\"ERROR\";}s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"File
  name and line number of the error or warning.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Message
  describing the error or warning.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DisableServiceRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  message for DisableService method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"consumerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:267:\"The
  identity of consumer resource which service disablement will be\napplied to.\n\nThe
  Google Service Management implementation accepts the following\nforms:\n- \"project:<project_id>\"\n\nNote:
  this is made compatible with\ngoogle.api.servicecontrol.v1.Operation.consumer_id.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"Documentation\";O:8:\"stdClass\":3:{s:11:\"description\";s:2424:\"`Documentation`
  provides the information for describing a service.\n\nExample:\n<pre><code>documentation:\n
  \ summary: >\n    The Google Calendar API gives access\n    to most calendar features.\n
  \ pages:\n  - name: Overview\n    content: &#40;== include google/foo/overview.md
  ==&#41;\n  - name: Tutorial\n    content: &#40;== include google/foo/tutorial.md
  ==&#41;\n    subpages;\n    - name: Java\n      content: &#40;== include google/foo/tutorial_java.md
  ==&#41;\n  rules:\n  - selector: google.calendar.Calendar.Get\n    description:
  >\n      ...\n  - selector: google.calendar.Calendar.Put\n    description: >\n      ...\n</code></pre>\nDocumentation
  is provided in markdown syntax. In addition to\nstandard markdown features, definition
  lists, tables and fenced\ncode blocks are supported. Section headers can be provided
  and are\ninterpreted relative to the section nesting of the context where\na documentation
  fragment is embedded.\n\nDocumentation from the IDL is merged with documentation
  defined\nvia the config at normalization time, where documentation provided\nby
  config rules overrides IDL provided.\n\nA number of constructs specific to the API
  platform are supported\nin documentation text.\n\nIn order to reference a proto
  element, the following\nnotation can be used:\n<pre><code>&#91;fully.qualified.proto.name]&#91;]</code></pre>\nTo
  override the display text used for the link, this can be used:\n<pre><code>&#91;display
  text]&#91;fully.qualified.proto.name]</code></pre>\nText can be excluded from doc
  using the following notation:\n<pre><code>&#40;-- internal comment --&#41;</code></pre>\nComments
  can be made conditional using a visibility label. The below\ntext will be only rendered
  if the `BETA` label is available:\n<pre><code>&#40;--BETA: comment for BETA users
  --&#41;</code></pre>\nA few directives are available in documentation. Note that\ndirectives
  must appear on a single line to be properly\nidentified. The `include` directive
  includes a markdown file from\nan external source:\n<pre><code>&#40;== include path/to/file
  ==&#41;</code></pre>\nThe `resource_for` directive marks a message to be the resource
  of\na collection in REST view. If it is not specified, tools attempt\nto infer the
  resource from the operations in a collection:\n<pre><code>&#40;== resource_for v1.shelves.books
  ==&#41;</code></pre>\nThe directive `suppress_warning` does not directly affect
  documentation\nand is documented together with service config validation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"documentationRootUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  URL to the root of documentation.\";s:4:\"type\";s:6:\"string\";}s:8:\"overview\";O:8:\"stdClass\":2:{s:11:\"description\";s:416:\"Declares
  a single overview page. For example:\n<pre><code>documentation:\n  summary: ...\n
  \ overview: &#40;== include overview.md ==&#41;\n</code></pre>\nThis is a shortcut
  for the following declaration (using pages style):\n<pre><code>documentation:\n
  \ summary: ...\n  pages:\n  - name: Overview\n    content: &#40;== include overview.md
  ==&#41;\n</code></pre>\nNote: you cannot specify both `overview` field and `pages`
  field.\";s:4:\"type\";s:6:\"string\";}s:5:\"pages\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  top level pages for the documentation set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}s:4:\"type\";s:5:\"array\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"A
  list of documentation rules that apply to individual API elements.\n\n**NOTE:**
  All service configuration rules follow \"last one wins\" order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DocumentationRule\";}s:4:\"type\";s:5:\"array\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"A
  short summary of what the service does. Can only be provided by\nplain text.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DocumentationRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"A
  documentation rule provides information about individual API elements.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"deprecationDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Deprecation
  description of the selected element(s). It can be provided if an\nelement is marked
  as `deprecated`.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Description
  of the selected API(s).\";s:4:\"type\";s:6:\"string\";}s:8:\"selector\";O:8:\"stdClass\":2:{s:11:\"description\";s:365:\"The
  selector is a comma-separated list of patterns. Each pattern is a\nqualified name
  of the element which may end in \"*\", indicating a wildcard.\nWildcards are only
  allowed at the end and for a whole component of the\nqualified name, i.e. \"foo.*\"
  is ok, but not \"foo.b*\" or \"foo.*.bar\". To\nspecify a default for all applicable
  elements, the whole pattern \"*\"\nis used.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"EnableServiceRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Request
  message for EnableService method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"consumerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:266:\"The
  identity of consumer resource which service enablement will be\napplied to.\n\nThe
  Google Service Management implementation accepts the following\nforms:\n- \"project:<project_id>\"\n\nNote:
  this is made compatible with\ngoogle.api.servicecontrol.v1.Operation.consumer_id.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Endpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:690:\"`Endpoint`
  describes a network endpoint that serves a set of APIs.\nA service may expose any
  number of endpoints, and all endpoints share the\nsame service configuration, such
  as quota configuration and monitoring\nconfiguration.\n\nExample service configuration:\n\n
  \   name: library-example.googleapis.com\n    endpoints:\n      # Below entry makes
  'google.example.library.v1.Library'\n      # API be served from endpoint address
  library-example.googleapis.com.\n      # It also allows HTTP OPTIONS calls to be
  passed to the backend, for\n      # it to decide whether the subsequent cross-origin
  request is\n      # allowed to proceed.\n    - name: library-example.googleapis.com\n
  \     allow_cors: true\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"aliases\";O:8:\"stdClass\":3:{s:11:\"description\";s:204:\"DEPRECATED:
  This field is no longer supported. Instead of using aliases,\nplease specify multiple
  google.api.Endpoint for each of the intented\nalias.\n\nAdditional names that this
  endpoint will be hosted on.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"allowCors\";O:8:\"stdClass\":2:{s:11:\"description\";s:324:\"Allowing\n[CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing),
  aka\ncross-domain traffic, would allow the backends served from this endpoint to\nreceive
  and respond to HTTP OPTIONS requests. The response will be used by\nthe browser
  to determine whether the subsequent cross-origin request is\nallowed to proceed.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"apis\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"The
  list of APIs served by this endpoint.\n\nIf no APIs are specified this translates
  to \"all APIs\" exported by the\nservice, as defined in the top-level service configuration.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"features\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  list of features enabled on this endpoint.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  canonical name of this endpoint.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:288:\"The
  specification of an Internet routable address of API frontend that will\nhandle
  requests to this [API Endpoint](https://cloud.google.com/apis/design/glossary).\nIt
  should be either a valid IPv4 address or a fully-qualified domain name.\nFor example,
  \"8.8.8.8\" or \"myservice.appspot.com\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Enum\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Enum
  type definition.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"enumvalue\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Enum
  value definitions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EnumValue\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Enum
  type name.\";s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Protocol
  buffer options.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Option\";}s:4:\"type\";s:5:\"array\";}s:13:\"sourceContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SourceContext\";s:11:\"description\";s:19:\"The
  source context.\";}s:6:\"syntax\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  source syntax.\";s:4:\"enum\";a:2:{i:0;s:13:\"SYNTAX_PROTO2\";i:1;s:13:\"SYNTAX_PROTO3\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"EnumValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Enum
  value definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Enum
  value name.\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Enum
  value number.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"options\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Protocol
  buffer options.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Option\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Experimental\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"Experimental
  service configuration. These configuration options can\nonly be used by whitelisted
  users.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"authorization\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AuthorizationConfig\";s:11:\"description\";s:28:\"Authorization
  configuration.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Expr\";O:8:\"stdClass\":3:{s:11:\"description\";s:185:\"Represents
  an expression text. Example:\n\n    title: \"User account presence\"\n    description:
  \"Determines whether the request has a user account\"\n    expression: \"size(request.user)
  > 0\"\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"An
  optional description of the expression. This is a longer text which\ndescribes the
  expression, e.g. when hovered over it in a UI.\";s:4:\"type\";s:6:\"string\";}s:10:\"expression\";O:8:\"stdClass\":2:{s:11:\"description\";s:189:\"Textual
  representation of an expression in\nCommon Expression Language syntax.\n\nThe application
  context of the containing message determines which\nwell-known feature set of CEL
  is supported.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"An
  optional string indicating the location of the expression for error\nreporting,
  e.g. a file name and a position in the file.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"An
  optional title for the expression, i.e. a short string describing\nits purpose.
  This can be used e.g. in UIs which allow to enter the\nexpression.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Field\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  single field of a message type.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"cardinality\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  field cardinality.\";s:4:\"enum\";a:4:{i:0;s:19:\"CARDINALITY_UNKNOWN\";i:1;s:20:\"CARDINALITY_OPTIONAL\";i:2;s:20:\"CARDINALITY_REQUIRED\";i:3;s:20:\"CARDINALITY_REPEATED\";}s:4:\"type\";s:6:\"string\";}s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  string value of the default value of this field. Proto2 syntax only.\";s:4:\"type\";s:6:\"string\";}s:8:\"jsonName\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  field JSON name.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  field type.\";s:4:\"enum\";a:19:{i:0;s:12:\"TYPE_UNKNOWN\";i:1;s:11:\"TYPE_DOUBLE\";i:2;s:10:\"TYPE_FLOAT\";i:3;s:10:\"TYPE_INT64\";i:4;s:11:\"TYPE_UINT64\";i:5;s:10:\"TYPE_INT32\";i:6;s:12:\"TYPE_FIXED64\";i:7;s:12:\"TYPE_FIXED32\";i:8;s:9:\"TYPE_BOOL\";i:9;s:11:\"TYPE_STRING\";i:10;s:10:\"TYPE_GROUP\";i:11;s:12:\"TYPE_MESSAGE\";i:12;s:10:\"TYPE_BYTES\";i:13;s:11:\"TYPE_UINT32\";i:14;s:9:\"TYPE_ENUM\";i:15;s:13:\"TYPE_SFIXED32\";i:16;s:13:\"TYPE_SFIXED64\";i:17;s:11:\"TYPE_SINT32\";i:18;s:11:\"TYPE_SINT64\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  field name.\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  field number.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"oneofIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"The
  index of the field type in `Type.oneofs`, for message or enumeration\ntypes. The
  first type has index 1; zero means the type is not in the list.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"options\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  protocol buffer options.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Option\";}s:4:\"type\";s:5:\"array\";}s:6:\"packed\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Whether
  to use alternative packed wire representation.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"typeUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"The
  field type URL, without the scheme, for message or enumeration\ntypes. Example:
  `\"type.googleapis.com/google.protobuf.Timestamp\"`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"FlowOperationMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  metadata associated with a long running operation resource.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"cancelState\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  state of the operation with respect to cancellation.\";s:4:\"enum\";a:3:{i:0;s:7:\"RUNNING\";i:1;s:13:\"UNCANCELLABLE\";i:2;s:9:\"CANCELLED\";}s:4:\"type\";s:6:\"string\";}s:8:\"deadline\";O:8:\"stdClass\":3:{s:11:\"description\";s:468:\"Deadline
  for the flow to complete, to prevent orphaned Operations.\n\nIf the flow has not
  completed by this time, it may be terminated by\nthe engine, or force-failed by
  Operation lookup.\n\nNote that this is not a hard deadline after which the Flow
  will\ndefinitely be failed, rather it is a deadline after which it is reasonable\nto
  suspect a problem and other parts of the system may kill operation\nto ensure we
  don't have orphans.\nsee also: go/prevent-orphaned-operations\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"flowName\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  name of the top-level flow corresponding to this operation.\nMust be equal to the
  \"name\" field for a FlowName enum.\";s:4:\"type\";s:6:\"string\";}s:13:\"operationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:193:\"Operation
  type which is a flow type and subtype info as that is missing in\nour datastore
  otherwise. This maps to the ordinal value of the enum:\njcg/api/tenant/operations/OperationNamespace.java\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"resourceNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  full name of the resources that this flow is directly associated with.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  start time of the operation.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"surface\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:22:\"UNSPECIFIED_OP_SERVICE\";i:1;s:18:\"SERVICE_MANAGEMENT\";i:2;s:13:\"SERVICE_USAGE\";i:3;s:27:\"SERVICE_CONSUMER_MANAGEMENT\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"GenerateConfigReportRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Request
  message for GenerateConfigReport method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"newConfig\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:224:\"Service
  configuration for which we want to generate the report.\nFor this version of API,
  the supported types are\ngoogle.api.servicemanagement.v1.ConfigRef,\ngoogle.api.servicemanagement.v1.ConfigSource,\nand
  google.api.Service\";s:4:\"type\";s:6:\"object\";}s:9:\"oldConfig\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:225:\"Service
  configuration against which the comparison will be done.\nFor this version of API,
  the supported types are\ngoogle.api.servicemanagement.v1.ConfigRef,\ngoogle.api.servicemanagement.v1.ConfigSource,\nand
  google.api.Service\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:28:\"GenerateConfigReportResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Response
  message for GenerateConfigReport method.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"changeReports\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"list
  of ChangeReport, each corresponding to comparison between two\nservice configurations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ChangeReport\";}s:4:\"type\";s:5:\"array\";}s:11:\"diagnostics\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Errors
  / Linter warnings associated with the service definition this\nreport\nbelongs to.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Diagnostic\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"ID
  of the service configuration this report belongs to.\";s:4:\"type\";s:6:\"string\";}s:11:\"serviceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Name
  of the service this report belongs to.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetIamPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  message for `GetIamPolicy` method.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:4:\"Http\";O:8:\"stdClass\":3:{s:11:\"description\";s:165:\"Defines
  the HTTP configuration for an API service. It contains a list of\nHttpRule, each
  specifying the mapping of an RPC method\nto one or more HTTP REST API methods.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:28:\"fullyDecodeReservedExpansion\";O:8:\"stdClass\":2:{s:11:\"description\";s:255:\"When
  set to true, URL path parmeters will be fully URI-decoded except in\ncases of single
  segment matches in reserved expansion, where \"%2F\" will be\nleft encoded.\n\nThe
  default behavior is to not decode RFC 6570 reserved characters in multi\nsegment
  matches.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"A
  list of HTTP configuration rules that apply to individual API methods.\n\n**NOTE:**
  All service configuration rules follow \"last one wins\" order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/HttpRule\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"HttpRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:7796:\"`HttpRule`
  defines the mapping of an RPC method to one or more HTTP\nREST API methods. The
  mapping specifies how different portions of the RPC\nrequest message are mapped
  to URL path, URL query parameters, and\nHTTP request body. The mapping is typically
  specified as an\n`google.api.http` annotation on the RPC method,\nsee \"google/api/annotations.proto\"
  for details.\n\nThe mapping consists of a field specifying the path template and\nmethod
  kind.  The path template can refer to fields in the request\nmessage, as in the
  example below which describes a REST GET\noperation on a resource collection of
  messages:\n\n\n    service Messaging {\n      rpc GetMessage(GetMessageRequest)
  returns (Message) {\n        option (google.api.http).get = \"/v1/messages/{message_id}/{sub.subfield}\";\n
  \     }\n    }\n    message GetMessageRequest {\n      message SubMessage {\n        string
  subfield = 1;\n      }\n      string message_id = 1; // mapped to the URL\n      SubMessage
  sub = 2;    // `sub.subfield` is url-mapped\n    }\n    message Message {\n      string
  text = 1; // content of the resource\n    }\n\nThe same http annotation can alternatively
  be expressed inside the\n`GRPC API Configuration` YAML file.\n\n    http:\n      rules:\n
  \       - selector: <proto_package_name>.Messaging.GetMessage\n          get: /v1/messages/{message_id}/{sub.subfield}\n\nThis
  definition enables an automatic, bidrectional mapping of HTTP\nJSON to RPC. Example:\n\nHTTP
  | RPC\n-----|-----\n`GET /v1/messages/123456/foo`  | `GetMessage(message_id: \"123456\"
  sub: SubMessage(subfield: \"foo\"))`\n\nIn general, not only fields but also field
  paths can be referenced\nfrom a path pattern. Fields mapped to the path pattern
  cannot be\nrepeated and must have a primitive (non-message) type.\n\nAny fields
  in the request message which are not bound by the path\npattern automatically become
  (optional) HTTP query\nparameters. Assume the following definition of the request
  message:\n\n\n    service Messaging {\n      rpc GetMessage(GetMessageRequest) returns
  (Message) {\n        option (google.api.http).get = \"/v1/messages/{message_id}\";\n
  \     }\n    }\n    message GetMessageRequest {\n      message SubMessage {\n        string
  subfield = 1;\n      }\n      string message_id = 1; // mapped to the URL\n      int64
  revision = 2;    // becomes a parameter\n      SubMessage sub = 3;    // `sub.subfield`
  becomes a parameter\n    }\n\n\nThis enables a HTTP JSON to RPC mapping as below:\n\nHTTP
  | RPC\n-----|-----\n`GET /v1/messages/123456?revision=2&sub.subfield=foo` | `GetMessage(message_id:
  \"123456\" revision: 2 sub: SubMessage(subfield: \"foo\"))`\n\nNote that fields
  which are mapped to HTTP parameters must have a\nprimitive type or a repeated primitive
  type. Message types are not\nallowed. In the case of a repeated type, the parameter
  can be\nrepeated in the URL, as in `...?param=A&param=B`.\n\nFor HTTP method kinds
  which allow a request body, the `body` field\nspecifies the mapping. Consider a
  REST update method on the\nmessage resource collection:\n\n\n    service Messaging
  {\n      rpc UpdateMessage(UpdateMessageRequest) returns (Message) {\n        option
  (google.api.http) = {\n          put: \"/v1/messages/{message_id}\"\n          body:
  \"message\"\n        };\n      }\n    }\n    message UpdateMessageRequest {\n      string
  message_id = 1; // mapped to the URL\n      Message message = 2;   // mapped to
  the body\n    }\n\n\nThe following HTTP JSON to RPC mapping is enabled, where the\nrepresentation
  of the JSON in the request body is determined by\nprotos JSON encoding:\n\nHTTP
  | RPC\n-----|-----\n`PUT /v1/messages/123456 { \"text\": \"Hi!\" }` | `UpdateMessage(message_id:
  \"123456\" message { text: \"Hi!\" })`\n\nThe special name `*` can be used in the
  body mapping to define that\nevery field not bound by the path template should be
  mapped to the\nrequest body.  This enables the following alternative definition
  of\nthe update method:\n\n    service Messaging {\n      rpc UpdateMessage(Message)
  returns (Message) {\n        option (google.api.http) = {\n          put: \"/v1/messages/{message_id}\"\n
  \         body: \"*\"\n        };\n      }\n    }\n    message Message {\n      string
  message_id = 1;\n      string text = 2;\n    }\n\n\nThe following HTTP JSON to RPC
  mapping is enabled:\n\nHTTP | RPC\n-----|-----\n`PUT /v1/messages/123456 { \"text\":
  \"Hi!\" }` | `UpdateMessage(message_id: \"123456\" text: \"Hi!\")`\n\nNote that
  when using `*` in the body mapping, it is not possible to\nhave HTTP parameters,
  as all fields not bound by the path end in\nthe body. This makes this option more
  rarely used in practice of\ndefining REST APIs. The common usage of `*` is in custom
  methods\nwhich don't use the URL at all for transferring data.\n\nIt is possible
  to define multiple HTTP methods for one RPC by using\nthe `additional_bindings`
  option. Example:\n\n    service Messaging {\n      rpc GetMessage(GetMessageRequest)
  returns (Message) {\n        option (google.api.http) = {\n          get: \"/v1/messages/{message_id}\"\n
  \         additional_bindings {\n            get: \"/v1/users/{user_id}/messages/{message_id}\"\n
  \         }\n        };\n      }\n    }\n    message GetMessageRequest {\n      string
  message_id = 1;\n      string user_id = 2;\n    }\n\n\nThis enables the following
  two alternative HTTP JSON to RPC\nmappings:\n\nHTTP | RPC\n-----|-----\n`GET /v1/messages/123456`
  | `GetMessage(message_id: \"123456\")`\n`GET /v1/users/me/messages/123456` | `GetMessage(user_id:
  \"me\" message_id: \"123456\")`\n\n# Rules for HTTP mapping\n\nThe rules for mapping
  HTTP path, query parameters, and body fields\nto the request message are as follows:\n\n1.
  The `body` field specifies either `*` or a field path, or is\n   omitted. If omitted,
  it indicates there is no HTTP request body.\n2. Leaf fields (recursive expansion
  of nested messages in the\n   request) can be classified into three types:\n    (a)
  Matched in the URL template.\n    (b) Covered by body (if body is `*`, everything
  except (a) fields;\n        else everything under the body field)\n    (c) All other
  fields.\n3. URL query parameters found in the HTTP request are mapped to (c) fields.\n4.
  Any body sent with an HTTP request can contain only (b) fields.\n\nThe syntax of
  the path template is as follows:\n\n    Template = \"/\" Segments [ Verb ] ;\n    Segments
  = Segment { \"/\" Segment } ;\n    Segment  = \"*\" | \"**\" | LITERAL | Variable
  ;\n    Variable = \"{\" FieldPath [ \"=\" Segments ] \"}\" ;\n    FieldPath = IDENT
  { \".\" IDENT } ;\n    Verb     = \":\" LITERAL ;\n\nThe syntax `*` matches a single
  path segment. The syntax `**` matches zero\nor more path segments, which must be
  the last part of the path except the\n`Verb`. The syntax `LITERAL` matches literal
  text in the path.\n\nThe syntax `Variable` matches part of the URL path as specified
  by its\ntemplate. A variable template must not contain other variables. If a variable\nmatches
  a single path segment, its template may be omitted, e.g. `{var}`\nis equivalent
  to `{var=*}`.\n\nIf a variable contains exactly one path segment, such as `\"{var}\"`
  or\n`\"{var=*}\"`, when such a variable is expanded into a URL path, all characters\nexcept
  `[-_.~0-9a-zA-Z]` are percent-encoded. Such variables show up in the\nDiscovery
  Document as `{var}`.\n\nIf a variable contains one or more path segments, such as
  `\"{var=foo/*}\"`\nor `\"{var=**}\"`, when such a variable is expanded into a URL
  path, all\ncharacters except `[-_.~/0-9a-zA-Z]` are percent-encoded. Such variables\nshow
  up in the Discovery Document as `{+var}`.\n\nNOTE: While the single segment variable
  matches the semantics of\n[RFC 6570](https://tools.ietf.org/html/rfc6570) Section
  3.2.2\nSimple String Expansion, the multi segment variable **does not** match\nRFC
  6570 Reserved Expansion. The reason is that the Reserved Expansion\ndoes not expand
  special characters like `?` and `#`, which would lead\nto invalid URLs.\n\nNOTE:
  the field paths in variables and in the `body` must not refer to\nrepeated fields
  or map fields.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"additionalBindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:168:\"Additional
  HTTP bindings for the selector. Nested bindings must\nnot contain an `additional_bindings`
  field themselves (that is,\nthe nesting may only be one level deep).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/HttpRule\";}s:4:\"type\";s:5:\"array\";}s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:266:\"The
  name of the request field whose value is mapped to the HTTP body, or\n`*` for mapping
  all fields not captured by the path pattern to the HTTP\nbody. NOTE: the referred
  field must not be a repeated field and must be\npresent at the top-level of request
  message type.\";s:4:\"type\";s:6:\"string\";}s:6:\"custom\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CustomHttpPattern\";s:11:\"description\";s:260:\"The
  custom pattern is used for specifying an HTTP method that is not\nincluded in the
  `pattern` field, such as HEAD, or \"*\" to leave the\nHTTP method unspecified for
  this rule. The wild-card rule is useful\nfor services that provide content to Web
  (HTML) clients.\";}s:6:\"delete\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Used
  for deleting a resource.\";s:4:\"type\";s:6:\"string\";}s:3:\"get\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Used
  for listing and getting information about resources.\";s:4:\"type\";s:6:\"string\";}s:13:\"mediaDownload\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MediaDownload\";s:11:\"description\";s:175:\"Use
  this only for Scotty Requests. Do not use this for bytestream methods.\nFor media
  support, add instead [][google.bytestream.RestByteStream] as an\nAPI to your configuration.\";}s:11:\"mediaUpload\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MediaUpload\";s:11:\"description\";s:191:\"Use
  this only for Scotty Requests. Do not use this for media support using\nBytestream,
  add instead\n[][google.bytestream.RestByteStream] as an API to your\nconfiguration
  for Bytestream methods.\";}s:5:\"patch\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Used
  for updating a resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"post\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Used
  for creating a resource.\";s:4:\"type\";s:6:\"string\";}s:3:\"put\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Used
  for updating a resource.\";s:4:\"type\";s:6:\"string\";}s:12:\"responseBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:332:\"The
  name of the response field whose value is mapped to the HTTP body of\nresponse.
  Other response fields are ignored. This field is optional. When\nnot set, the response
  message will be used as HTTP body of response.\nNOTE: the referred field must be
  not a repeated field and must be present\nat the top-level of response message type.\";s:4:\"type\";s:6:\"string\";}s:8:\"selector\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Selects
  methods to which this rule applies.\n\nRefer to selector for syntax details.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"LabelDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  description of a label.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"A
  human-readable description for the label.\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  label key.\";s:4:\"type\";s:6:\"string\";}s:9:\"valueType\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  type of data that can be assigned to the label.\";s:4:\"enum\";a:3:{i:0;s:6:\"STRING\";i:1;s:4:\"BOOL\";i:2;s:5:\"INT64\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListOperationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  response message for Operations.ListOperations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  standard List next-page token.\";s:4:\"type\";s:6:\"string\";}s:10:\"operations\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  list of operations that matches the specified filter in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListServiceConfigsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Response
  message for ListServiceConfigs method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  token of the next page of results.\";s:4:\"type\";s:6:\"string\";}s:14:\"serviceConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  list of service configuration resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Service\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ListServiceRolloutsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Response
  message for ListServiceRollouts method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  token of the next page of results.\";s:4:\"type\";s:6:\"string\";}s:8:\"rollouts\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  list of rollout resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Rollout\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListServicesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Response
  message for `ListServices` method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Token
  that can be passed to `ListServices` to resume a paginated query.\";s:4:\"type\";s:6:\"string\";}s:8:\"services\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  returned services will only have the name field set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ManagedService\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"LogDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:301:\"A
  description of a log type. Example in YAML format:\n\n    - name: library.googleapis.com/activity_history\n
  \     description: The history of borrowing and returning library items.\n      display_name:
  Activity\n      labels:\n      - key: /customer_id\n        description: Identifier
  of a library customer\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"A
  human-readable description of this log. This information appears in\nthe documentation
  and can contain details.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"The
  human-readable name for this log. This information appears on\nthe user interface
  and should be concise.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"The
  set of labels that are available to describe a specific log entry.\nRuntime requests
  that contain labels not specified here are\nconsidered invalid.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LabelDescriptor\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:241:\"The
  name of the log. It must be less than 512 characters long and can\ninclude the following
  characters: upper- and lower-case alphanumeric\ncharacters [A-Za-z0-9], and punctuation
  characters including\nslash, underscore, hyphen, period [/_-.].\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Logging\";O:8:\"stdClass\":3:{s:11:\"description\";s:945:\"Logging
  configuration of the service.\n\nThe following example shows how to configure logs
  to be sent to the\nproducer and consumer projects. In the example, the `activity_history`\nlog
  is sent to both the producer and consumer projects, whereas the\n`purchase_history`
  log is only sent to the producer project.\n\n    monitored_resources:\n    - type:
  library.googleapis.com/branch\n      labels:\n      - key: /city\n        description:
  The city where the library branch is located in.\n      - key: /name\n        description:
  The name of the branch.\n    logs:\n    - name: activity_history\n      labels:\n
  \     - key: /customer_id\n    - name: purchase_history\n    logging:\n      producer_destinations:\n
  \     - monitored_resource: library.googleapis.com/branch\n        logs:\n        -
  activity_history\n        - purchase_history\n      consumer_destinations:\n      -
  monitored_resource: library.googleapis.com/branch\n        logs:\n        - activity_history\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"consumerDestinations\";O:8:\"stdClass\":3:{s:11:\"description\";s:220:\"Logging
  configurations for sending logs to the consumer project.\nThere can be multiple
  consumer destinations, each one must have a\ndifferent monitored resource type.
  A log can be used in at most\none consumer destination.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/LoggingDestination\";}s:4:\"type\";s:5:\"array\";}s:20:\"producerDestinations\";O:8:\"stdClass\":3:{s:11:\"description\";s:220:\"Logging
  configurations for sending logs to the producer project.\nThere can be multiple
  producer destinations, each one must have a\ndifferent monitored resource type.
  A log can be used in at most\none producer destination.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/LoggingDestination\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"LoggingDestination\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Configuration
  of a specific logging destination (the producer project\nor the consumer project).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"logs\";O:8:\"stdClass\":3:{s:11:\"description\";s:222:\"Names
  of the logs to be sent to this destination. Each name must\nbe defined in the Service.logs
  section. If the log name is\nnot a domain scoped name, it will be automatically
  prefixed with\nthe service name followed by \"/\".\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"monitoredResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"The
  monitored resource type. The type must be defined in the\nService.monitored_resources
  section.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ManagedService\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"The
  full representation of a Service that is managed by\nGoogle Service Management.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"producerProjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"ID
  of the project that produces and owns this service.\";s:4:\"type\";s:6:\"string\";}s:11:\"serviceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  name of the service. See the [overview](/service-management/overview)\nfor naming
  requirements.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"MediaDownload\";O:8:\"stdClass\":3:{s:11:\"description\";s:260:\"Defines
  the Media configuration for a service in case of a download.\nUse this only for
  Scotty Requests. Do not use this for media support using\nBytestream, add instead
  [][google.bytestream.RestByteStream] as an API to\nyour configuration for Bytestream
  methods.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"completeNotification\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"A
  boolean that determines whether a notification for the completion of a\ndownload
  should be sent to the backend.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"downloadService\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"DO
  NOT USE FIELDS BELOW THIS LINE UNTIL THIS WARNING IS REMOVED.\n\nSpecify name of
  the download service if one is used for download.\";s:4:\"type\";s:6:\"string\";}s:8:\"dropzone\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Name
  of the Scotty dropzone to use for the current API.\";s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Whether
  download is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"maxDirectDownloadSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Optional
  maximum acceptable size for direct download.\nThe size is specified in bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:17:\"useDirectDownload\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"A
  boolean that determines if direct download from ESF should be used for\ndownload
  of this media.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"MediaUpload\";O:8:\"stdClass\":3:{s:11:\"description\";s:259:\"Defines
  the Media configuration for a service in case of an upload.\nUse this only for Scotty
  Requests. Do not use this for media support using\nBytestream, add instead [][google.bytestream.RestByteStream]
  as an API to\nyour configuration for Bytestream methods.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:20:\"completeNotification\";O:8:\"stdClass\":2:{s:11:\"description\";s:190:\"A
  boolean that determines whether a notification for the completion of an\nupload
  should be sent to the backend. These notifications will not be seen\nby the client
  and will not consume quota.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"dropzone\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Name
  of the Scotty dropzone to use for the current API.\";s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Whether
  upload is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"maxSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Optional
  maximum acceptable size for an upload.\nThe size is specified in bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"mimeTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"An
  array of mimetype patterns. Esf will only accept uploads that match one\nof the
  given patterns.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"progressNotification\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Whether
  to receive a notification for progress changes of media upload.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"startNotification\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Whether
  to receive a notification on the start of media upload.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"uploadService\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"DO
  NOT USE FIELDS BELOW THIS LINE UNTIL THIS WARNING IS REMOVED.\n\nSpecify name of
  the upload service if one is used for upload.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Method\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Method
  represents a method of an API interface.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  simple name of this method.\";s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Any
  metadata attached to the method.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Option\";}s:4:\"type\";s:5:\"array\";}s:16:\"requestStreaming\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"If
  true, the request is streamed.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"requestTypeUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"A
  URL of the input message type.\";s:4:\"type\";s:6:\"string\";}s:17:\"responseStreaming\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"If
  true, the response is streamed.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"responseTypeUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  URL of the output message type.\";s:4:\"type\";s:6:\"string\";}s:6:\"syntax\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  source syntax of this method.\";s:4:\"enum\";a:2:{i:0;s:13:\"SYNTAX_PROTO2\";i:1;s:13:\"SYNTAX_PROTO3\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"MetricDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"Defines
  a metric type and its schema. Once a metric descriptor is created,\ndeleting or
  altering it stops data collection and makes the metric type's\nexisting data unusable.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"A
  detailed description of the metric, which can be used in documentation.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:271:\"A
  concise name for the metric, which can be displayed in user interfaces.\nUse sentence
  case without an ending period, for example \"Request count\".\nThis field is optional
  but it is recommended to be set for any metrics\nassociated with user-visible concepts,
  such as Quota.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:320:\"The
  set of labels that can be used to describe a specific\ninstance of this metric type.
  For example, the\n`appengine.googleapis.com/http/server/response_latencies` metric\ntype
  has a label for the HTTP response code, `response_code`, so\nyou can look at latencies
  for successful responses or just\nfor responses that failed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LabelDescriptor\";}s:4:\"type\";s:5:\"array\";}s:10:\"metricKind\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"Whether
  the metric records instantaneous values, changes to a value, etc.\nSome combinations
  of `metric_kind` and `value_type` might not be supported.\";s:4:\"enum\";a:4:{i:0;s:23:\"METRIC_KIND_UNSPECIFIED\";i:1;s:5:\"GAUGE\";i:2;s:5:\"DELTA\";i:3;s:10:\"CUMULATIVE\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  resource name of the metric descriptor.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:339:\"The
  metric type, including its DNS name prefix. The type is not\nURL-encoded.  All user-defined
  custom metric types have the DNS name\n`custom.googleapis.com`.  Metric types should
  use a natural hierarchical\ngrouping. For example:\n\n    \"custom.googleapis.com/invoice/paid/amount\"\n
  \   \"appengine.googleapis.com/http/server/response_latencies\"\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:1696:\"The
  unit in which the metric value is reported. It is only applicable\nif the `value_type`
  is `INT64`, `DOUBLE`, or `DISTRIBUTION`. The\nsupported units are a subset of [The
  Unified Code for Units of\nMeasure](http://unitsofmeasure.org/ucum.html) standard:\n\n**Basic
  units (UNIT)**\n\n* `bit`   bit\n* `By`    byte\n* `s`     second\n* `min`   minute\n*
  `h`     hour\n* `d`     day\n\n**Prefixes (PREFIX)**\n\n* `k`     kilo    (10**3)\n*
  `M`     mega    (10**6)\n* `G`     giga    (10**9)\n* `T`     tera    (10**12)\n*
  `P`     peta    (10**15)\n* `E`     exa     (10**18)\n* `Z`     zetta   (10**21)\n*
  `Y`     yotta   (10**24)\n* `m`     milli   (10**-3)\n* `u`     micro   (10**-6)\n*
  `n`     nano    (10**-9)\n* `p`     pico    (10**-12)\n* `f`     femto   (10**-15)\n*
  `a`     atto    (10**-18)\n* `z`     zepto   (10**-21)\n* `y`     yocto   (10**-24)\n*
  `Ki`    kibi    (2**10)\n* `Mi`    mebi    (2**20)\n* `Gi`    gibi    (2**30)\n*
  `Ti`    tebi    (2**40)\n\n**Grammar**\n\nThe grammar includes the dimensionless
  unit `1`, such as `1/s`.\n\nThe grammar also includes these connectors:\n\n* `/`
  \   division (as an infix operator, e.g. `1/s`).\n* `.`    multiplication (as an
  infix operator, e.g. `GBy.d`)\n\nThe grammar for a unit is as follows:\n\n    Expression
  = Component { \".\" Component } { \"/\" Component } ;\n\n    Component = [ PREFIX
  ] UNIT [ Annotation ]\n              | Annotation\n              | \"1\"\n              ;\n\n
  \   Annotation = \"{\" NAME \"}\" ;\n\nNotes:\n\n* `Annotation` is just a comment
  if it follows a `UNIT` and is\n   equivalent to `1` if it is used alone. For examples,\n
  \  `{requests}/s == 1/s`, `By{transmitted}/s == By/s`.\n* `NAME` is a sequence of
  non-blank printable ASCII characters not\n   containing '{' or '}'.\";s:4:\"type\";s:6:\"string\";}s:9:\"valueType\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"Whether
  the measurement is an integer, a floating-point number, etc.\nSome combinations
  of `metric_kind` and `value_type` might not be supported.\";s:4:\"enum\";a:7:{i:0;s:22:\"VALUE_TYPE_UNSPECIFIED\";i:1;s:4:\"BOOL\";i:2;s:5:\"INT64\";i:3;s:6:\"DOUBLE\";i:4;s:6:\"STRING\";i:5;s:12:\"DISTRIBUTION\";i:6;s:5:\"MONEY\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MetricRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Bind
  API methods to metrics. Binding a method to a metric causes that\nmetric's configured
  quota behaviors to apply to the method call.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"metricCosts\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:274:\"Metrics
  to update when the selected methods are called, and the associated\ncost applied
  to each metric.\n\nThe key of the map is the metric name, and the values are the
  amount\nincreased for the metric against which the quota limits are defined.\nThe
  value must not be negative.\";s:4:\"type\";s:6:\"object\";}s:8:\"selector\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Selects
  the methods to which this rule applies.\n\nRefer to selector for syntax details.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Mixin\";O:8:\"stdClass\":3:{s:11:\"description\";s:2432:\"Declares
  an API Interface to be included in this interface. The including\ninterface must
  redeclare all the methods from the included interface, but\ndocumentation and options
  are inherited as follows:\n\n- If after comment and whitespace stripping, the documentation\n
  \ string of the redeclared method is empty, it will be inherited\n  from the original
  method.\n\n- Each annotation belonging to the service config (http,\n  visibility)
  which is not set in the redeclared method will be\n  inherited.\n\n- If an http
  annotation is inherited, the path pattern will be\n  modified as follows. Any version
  prefix will be replaced by the\n  version of the including interface plus the root
  path if\n  specified.\n\nExample of a simple mixin:\n\n    package google.acl.v1;\n
  \   service AccessControl {\n      // Get the underlying ACL object.\n      rpc
  GetAcl(GetAclRequest) returns (Acl) {\n        option (google.api.http).get = \"/v1/{resource=**}:getAcl\";\n
  \     }\n    }\n\n    package google.storage.v2;\n    service Storage {\n      //
  \      rpc GetAcl(GetAclRequest) returns (Acl);\n\n      // Get a data record.\n
  \     rpc GetData(GetDataRequest) returns (Data) {\n        option (google.api.http).get
  = \"/v2/{resource=**}\";\n      }\n    }\n\nExample of a mixin configuration:\n\n
  \   apis:\n    - name: google.storage.v2.Storage\n      mixins:\n      - name: google.acl.v1.AccessControl\n\nThe
  mixin construct implies that all methods in `AccessControl` are\nalso declared with
  same name and request/response types in\n`Storage`. A documentation generator or
  annotation processor will\nsee the effective `Storage.GetAcl` method after inherting\ndocumentation
  and annotations as follows:\n\n    service Storage {\n      // Get the underlying
  ACL object.\n      rpc GetAcl(GetAclRequest) returns (Acl) {\n        option (google.api.http).get
  = \"/v2/{resource=**}:getAcl\";\n      }\n      ...\n    }\n\nNote how the version
  in the path pattern changed from `v1` to `v2`.\n\nIf the `root` field in the mixin
  is specified, it should be a\nrelative path under which inherited HTTP paths are
  placed. Example:\n\n    apis:\n    - name: google.storage.v2.Storage\n      mixins:\n
  \     - name: google.acl.v1.AccessControl\n        root: acls\n\nThis implies the
  following inherited HTTP annotation:\n\n    service Storage {\n      // Get the
  underlying ACL object.\n      rpc GetAcl(GetAclRequest) returns (Acl) {\n        option
  (google.api.http).get = \"/v2/acls/{resource=**}:getAcl\";\n      }\n      ...\n
  \   }\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  fully qualified name of the interface which is included.\";s:4:\"type\";s:6:\"string\";}s:4:\"root\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"If
  non-empty specifies a path under which inherited HTTP paths\nare rooted.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"MonitoredResourceDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:492:\"An
  object that describes the schema of a MonitoredResource object using a\ntype name
  and a set of labels.  For example, the monitored resource\ndescriptor for Google
  Compute Engine VM instances has a type of\n`\"gce_instance\"` and specifies the
  use of the labels `\"instance_id\"` and\n`\"zone\"` to identify particular VM instances.\n\nDifferent
  APIs can support different monitored resource types. APIs generally\nprovide a `list`
  method that returns the monitored resource descriptors used\nby the API.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Optional.
  A detailed description of the monitored resource type that might\nbe used in documentation.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:226:\"Optional.
  A concise name for the monitored resource type that might be\ndisplayed in user
  interfaces. It should be a Title Cased Noun Phrase,\nwithout any article or other
  determiners. For example,\n`\"Google Cloud SQL Database\"`.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"Required.
  A set of labels used to describe instances of this monitored\nresource type. For
  example, an individual Google Cloud SQL database is\nidentified by values for the
  labels `\"database_id\"` and `\"zone\"`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LabelDescriptor\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:396:\"Optional.
  The resource name of the monitored resource descriptor:\n`\"projects/{project_id}/monitoredResourceDescriptors/{type}\"`
  where\n{type} is the value of the `type` field in this object and\n{project_id}
  is a project ID that provides API-specific context for\naccessing the type.  APIs
  that do not use project information can use the\nresource name format `\"monitoredResourceDescriptors/{type}\"`.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"Required.
  The monitored resource type. For example, the type\n`\"cloudsql_database\"` represents
  databases in Google Cloud SQL.\nThe maximum length of this value is 256 characters.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Monitoring\";O:8:\"stdClass\":3:{s:11:\"description\";s:1318:\"Monitoring
  configuration of the service.\n\nThe example below shows how to configure monitored
  resources and metrics\nfor monitoring. In the example, a monitored resource and
  two metrics are\ndefined. The `library.googleapis.com/book/returned_count` metric
  is sent\nto both producer and consumer projects, whereas the\n`library.googleapis.com/book/overdue_count`
  metric is only sent to the\nconsumer project.\n\n    monitored_resources:\n    -
  type: library.googleapis.com/branch\n      labels:\n      - key: /city\n        description:
  The city where the library branch is located in.\n      - key: /name\n        description:
  The name of the branch.\n    metrics:\n    - name: library.googleapis.com/book/returned_count\n
  \     metric_kind: DELTA\n      value_type: INT64\n      labels:\n      - key: /customer_id\n
  \   - name: library.googleapis.com/book/overdue_count\n      metric_kind: GAUGE\n
  \     value_type: INT64\n      labels:\n      - key: /customer_id\n    monitoring:\n
  \     producer_destinations:\n      - monitored_resource: library.googleapis.com/branch\n
  \       metrics:\n        - library.googleapis.com/book/returned_count\n      consumer_destinations:\n
  \     - monitored_resource: library.googleapis.com/branch\n        metrics:\n        -
  library.googleapis.com/book/returned_count\n        - library.googleapis.com/book/overdue_count\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"consumerDestinations\";O:8:\"stdClass\":3:{s:11:\"description\";s:229:\"Monitoring
  configurations for sending metrics to the consumer project.\nThere can be multiple
  consumer destinations, each one must have a\ndifferent monitored resource type.
  A metric can be used in at most\none consumer destination.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/MonitoringDestination\";}s:4:\"type\";s:5:\"array\";}s:20:\"producerDestinations\";O:8:\"stdClass\":3:{s:11:\"description\";s:229:\"Monitoring
  configurations for sending metrics to the producer project.\nThere can be multiple
  producer destinations, each one must have a\ndifferent monitored resource type.
  A metric can be used in at most\none producer destination.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/MonitoringDestination\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"MonitoringDestination\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Configuration
  of a specific monitoring destination (the producer project\nor the consumer project).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"metrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"Names
  of the metrics to report to this monitoring destination.\nEach name must be defined
  in Service.metrics section.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"monitoredResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  monitored resource type. The type must be defined in\nService.monitored_resources
  section.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"OAuthRequirements\";O:8:\"stdClass\":3:{s:11:\"description\";s:969:\"OAuth
  scopes are a way to define data and permissions on data. For example,\nthere are
  scopes defined for \"Read-only access to Google Calendar\" and\n\"Access to Cloud
  Platform\". Users can consent to a scope for an application,\ngiving it permission
  to access that data on their behalf.\n\nOAuth scope specifications should be fairly
  coarse grained; a user will need\nto see and understand the text description of
  what your scope means.\n\nIn most cases: use one or at most two OAuth scopes for
  an entire family of\nproducts. If your product has multiple APIs, you should probably
  be sharing\nthe OAuth scope across all of those APIs.\n\nWhen you need finer grained
  OAuth consent screens: talk with your product\nmanagement about how developers will
  use them in practice.\n\nPlease note that even though each of the canonical scopes
  is enough for a\nrequest to be accepted and passed to the backend, a request can
  still fail\ndue to the backend requiring additional scopes or permissions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"canonicalScopes\";O:8:\"stdClass\":2:{s:11:\"description\";s:278:\"The
  list of publicly documented OAuth scopes that are allowed access. An\nOAuth token
  containing any of these scopes will be accepted.\n\nExample:\n\n     canonical_scopes:
  https://www.googleapis.com/auth/calendar,\n                       https://www.googleapis.com/auth/calendar.read\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"This
  resource represents a long-running operation that is the result of a\nnetwork API
  call.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"done\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"If
  the value is `false`, it means the operation is still in progress.\nIf `true`, the
  operation is completed, and either `error` or `response` is\navailable.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:69:\"The
  error result of the operation in case of failure or cancellation.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:281:\"Service-specific
  metadata associated with the operation.  It typically\ncontains progress information
  and common metadata such as create time.\nSome services might not provide such metadata.
  \ Any method that returns a\nlong-running operation should document the metadata
  type, if any.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:203:\"The
  server-assigned name, which is only unique within the same service that\noriginally
  returns it. If you use the default HTTP mapping, the\n`name` should have the format
  of `operations/some/unique/name`.\";s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:492:\"The
  normal response of the operation in case of success.  If the original\nmethod returns
  no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.
  \ If the original method is standard\n`Get`/`Create`/`Update`, the response should
  be the resource.  For other\nmethods, the response should have the type `XxxResponse`,
  where `Xxx`\nis the original method name.  For example, if the original method name\nis
  `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:17:\"OperationMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  metadata associated with a long running operation resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"progressPercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Percentage
  of completion of this operation, ranging from 0 to 100.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"resourceNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  full name of the resources that this operation is directly\nassociated with.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  start time of the operation.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"steps\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Detailed
  status information for each step. The order is undetermined.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Step\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Option\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"A
  protocol buffer option, which can be attached to a message, field,\nenumeration,
  etc.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:232:\"The
  option's name. For protobuf built-in options (options defined in\ndescriptor.proto),
  this is the short name. For example, `\"map_entry\"`.\nFor custom options, it should
  be the fully-qualified name. For example,\n`\"google.api.http\"`.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:268:\"The
  option's value packed in an Any message. If the value is a primitive,\nthe corresponding
  wrapper type defined in google/protobuf/wrappers.proto\nshould be used. If the value
  is an enum, it should be stored as an int32\nvalue using the google.protobuf.Int32Value
  type.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Page\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"Represents
  a documentation page. A page can contain subpages to represent\nnested documentation
  set structure.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"The
  Markdown content of the page. You can use <code>&#40;== include {path} ==&#41;</code>\nto
  include content from a Markdown file.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:555:\"The
  name of the page. It will be used as an identity of the page to\ngenerate URI of
  the page, text of the link to this page in navigation,\netc. The full page name
  (start from the root page name to this page\nconcatenated with `.`) can be used
  as reference to the page in your\ndocumentation. For example:\n<pre><code>pages:\n-
  name: Tutorial\n  content: &#40;== include tutorial.md ==&#41;\n  subpages:\n  -
  name: Java\n    content: &#40;== include tutorial_java.md ==&#41;\n</code></pre>\nYou
  can reference `Java` page using Markdown reference link syntax:\n`Java`.\";s:4:\"type\";s:6:\"string\";}s:8:\"subpages\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Subpages
  of this page. The order of subpages specified here will be\nhonored in the generated
  docset.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:910:\"Defines
  an Identity and Access Management (IAM) policy. It is used to\nspecify access control
  policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`.
  A `Binding` binds a list of\n`members` to a `role`, where the members can be user
  accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named
  list of permissions\ndefined by IAM.\n\n**Example**\n\n    {\n      \"bindings\":
  [\n        {\n          \"role\": \"roles/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n
  \           \"group:admins@example.com\",\n            \"domain:google.com\",\n
  \           \"serviceAccount:my-other-app@appspot.gserviceaccount.com\",\n          ]\n
  \       },\n        {\n          \"role\": \"roles/viewer\",\n          \"members\":
  [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\nFor a description of IAM
  and its features, see the\n[IAM developer's guide](https://cloud.google.com/iam).\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"auditConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Specifies
[...]
