---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:627:\"<fullname>AWS
  Marketplace Entitlement Service</fullname> <p>This reference provides descriptions
  of the AWS Marketplace Entitlement Service API.</p> <p>AWS Marketplace Entitlement
  Service is used to determine the entitlement of a customer to a given product. An
  entitlement represents capacity in a product owned by the customer. For example,
  a customer might own some number of users or seats in an SaaS application or some
  amount of data capacity in a multi-tenant database.</p> <p> <b>Getting Entitlement
  Records</b> </p> <ul> <li> <p> <i>GetEntitlements</i>- Gets the entitlements for
  a Marketplace product.</p> </li> </ul>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:35:\"AWS
  Marketplace Entitlement Service\";s:7:\"version\";s:10:\"2017-01-11\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:107:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/entitlement.marketplace-2017-01-11.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:23:\"entitlement.marketplace\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:33:\"amazonaws_entitlement_marketplace\";s:4:\"type\";s:7:\"openapi\";}}"
host: entitlement.marketplace.amazonaws.com
basePath: /
paths:
  /:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: GetEntitlements retrieves entitlement values for a given product.
        The results can be filtered based on customer identifier or product dimensions.
      operationId: GetEntitlements
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetEntitlementsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetEntitlementsResult'
        480:
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        481:
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        482:
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":20:{s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"Double\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"Entitlement\";O:8:\"stdClass\":3:{s:11:\"description\";s:217:\"An
  entitlement represents capacity in a product owned by the customer. For example,
  a customer might own some number of users or seats in an SaaS application or some
  amount of data capacity in a multi-tenant database.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"CustomerIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:187:\"The
  customer identifier is a handle to each unique customer in an application. Customer
  identifiers are obtained through the ResolveCustomer operation in AWS Marketplace
  Metering Service.\";}s:9:\"Dimension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:176:\"The
  dimension for which the given entitlement applies. Dimensions represent categories
  of capacity in a product and are specified when the product is listed in AWS Marketplace.\";}s:14:\"ExpirationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:353:\"The
  expiration date represents the minimum date through which this entitlement is expected
  to remain valid. For contractual products listed on AWS Marketplace, the expiration
  date is the date at which the customer will renew or cancel their contract. Customers
  who are opting to renew their contract will still have entitlements with an expiration
  date.\";}s:11:\"ProductCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProductCode\";s:11:\"description\";s:140:\"The
  product code for which the given entitlement applies. Product codes are provided
  by AWS Marketplace when the product listing is created.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EntitlementValue\";s:11:\"description\";s:104:\"The
  EntitlementValue represents the amount of capacity that the customer is entitled
  to for the product.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"EntitlementList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Entitlement\";}s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:16:\"EntitlementValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  EntitlementValue represents the amount of capacity that the customer is entitled
  to for the product.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"BooleanValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:139:\"The
  BooleanValue field will be populated with a boolean value when the entitlement is
  a boolean type. Otherwise, the field will not be set.\";}s:11:\"DoubleValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:136:\"The
  DoubleValue field will be populated with a double value when the entitlement is
  a double type. Otherwise, the field will not be set.\";}s:12:\"IntegerValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:141:\"The
  IntegerValue field will be populated with an integer value when the entitlement
  is an integer type. Otherwise, the field will not be set.\";}s:11:\"StringValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:136:\"The
  StringValue field will be populated with a string value when the entitlement is
  a string type. Otherwise, the field will not be set.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"FilterValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"FilterValueList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FilterValue\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:24:\"GetEntitlementFilterName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:19:\"CUSTOMER_IDENTIFIER\";i:1;s:9:\"DIMENSION\";}s:4:\"type\";s:6:\"string\";}s:21:\"GetEntitlementFilters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/GetEntitlementFilterName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FilterValueList\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:22:\"GetEntitlementsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"The
  GetEntitlementsRequest contains parameters for the GetEntitlements operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"Filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/GetEntitlementFilters\";s:11:\"description\";s:269:\"Filter
  is used to return entitlements for a specific customer or for a specific dimension.
  Filters are described as keys mapped to a lists of values. Filtered requests are
  <i>unioned</i> for each value in the value list, and then <i>intersected</i> for
  each filter key.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:155:\"The
  maximum number of items to retrieve from the GetEntitlements operation. For pagination,
  use the NextToken field in subsequent calls to GetEntitlements.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:99:\"For
  paginated calls to GetEntitlements, pass the NextToken from the previous GetEntitlementsResult.\";}s:11:\"ProductCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProductCode\";s:11:\"description\";s:161:\"Product
  code is used to uniquely identify a product in AWS Marketplace. The product code
  will be provided by AWS Marketplace when the product listing is created.\";}}s:8:\"required\";a:1:{i:0;s:11:\"ProductCode\";}s:4:\"type\";s:6:\"object\";}s:21:\"GetEntitlementsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  GetEntitlementsRequest contains results from the GetEntitlements operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"Entitlements\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/EntitlementList\";s:11:\"description\";s:174:\"The
  set of entitlements found through the GetEntitlements operation. If the result contains
  an empty set of entitlements, NextToken might still be present and should be used.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:182:\"For
  paginated results, use NextToken in subsequent calls to GetEntitlements. If the
  result contains an empty set of entitlements, NextToken might still be present and
  should be used.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:29:\"InternalServiceErrorException\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"An
  internal error has occurred. Retry your request. If the problem persists, post a
  message with details on the AWS forums.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidParameterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"One
  or more parameters in your request was invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:14:\"NonEmptyString\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:3:\"\\S+\";s:4:\"type\";s:6:\"string\";}s:11:\"ProductCode\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"ThrottlingException\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  calls to the GetEntitlements API are throttled.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}"
...
