---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:9:\"GoTurbine\";}s:11:\"description\";s:28:\"Turbine
  Labs Public REST API\";s:5:\"title\";s:12:\"Turbine Labs\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_GoTurbine_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:68:\"https://raw.githubusercontent.com/turbinelabs/api/master/swagger.yml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"turbinelabs.io\";}"
host: api.turbinelabs.io
basePath: /v1.0
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":68:{s:11:\"AccessToken\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"access_token_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"checksum\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"A
  timestamp that marks when a user was deleted. It is in the format\nyyyy-mm-ddThh:mm:ss.SZ.
  The timezone will always be UTC.\n\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"signed_token\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"This
  will be set only when an AccessToken is initially created\n\";s:4:\"type\";s:6:\"string\";}s:8:\"user_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:16:\"access_token_key\";i:1;s:11:\"description\";i:2;s:8:\"user_key\";i:3;s:10:\"created_at\";i:4;s:8:\"checksum\";}s:4:\"type\";s:6:\"object\";}s:22:\"AccessTokenDescription\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"description\";}s:4:\"type\";s:6:\"object\";}s:14:\"AllConstraints\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"dark\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ClusterConstraints\";}s:5:\"light\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ClusterConstraints\";}s:3:\"tap\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ClusterConstraints\";}}s:8:\"required\";a:1:{i:0;s:5:\"light\";}s:4:\"type\";s:6:\"object\";}s:10:\"CORSConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:301:\"Experimental:
  Controls simple CORS responses for the associated domain.\nThe configurable properties
  map closely to the CORS specification which\nshould be referenced for a full discussion
  on their meaning:\nhttps://www.w3.org/TR/cors/ or https://developer.mozilla.org/docs/Web/HTTP/Access_control_CORS.\n\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"allow_credentials\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"Indicates
  whether the response to request can be exposed when the\nomit credentials flag is
  unset\nhttps://www.w3.org/TR/cors/#access-control-allow-credentials-response-header.\n\";s:4:\"type\";s:7:\"boolean\";}s:15:\"allowed_headers\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"Specifies
  what headers are allowed to be set when a request is made.\nhttps://www.w3.org/TR/cors/#access-control-allow-headers-response-header.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"allowed_methods\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"Indicates
  which HTTP request types may be used to call an endpoint.\nhttps://www.w3.org/TR/cors/#access-control-allow-methods-response-header.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"allowed_origins\";O:8:\"stdClass\":3:{s:11:\"description\";s:284:\"Must
  contain a single element specifying the domain (origin) allowed\nto make requsets
  to this domain. If any origin is acceptable '*' may\nbe used as a wildcard https://www.w3.org/TR/cors/#origin-request-header,\nhttps://www.w3.org/TR/cors/#access-control-allow-origin-response-header.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"exposed_headers\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Indicates
  which response headers may be accessed from the browser.\nhttps://www.w3.org/TR/cors/#http-access-control-expose-headers.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"max_age\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"Sets
  how long (in seconds) the response to a preflight request may be\ncached. A value
  of -1 will disable caching. https://www.w3.org/TR/cors/#access-control-max-age-response-header.\n\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:15:\"allowed_origins\";i:1;s:15:\"allowed_methods\";}s:4:\"type\";s:6:\"object\";}s:15:\"CertKeyPathPair\";O:8:\"stdClass\":4:{s:11:\"description\";s:161:\"A
  key/cert pair that will be served when a domain terminates a SSL/TLS\nrequest.  Paths
  should be absolute and accessible to the user running\nthe proxy instance.\n\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"certificate_path\";O:8:\"stdClass\":2:{s:11:\"description\";s:236:\"Path
  to a certificate in the PEM format for the domain. If multiple\ncertificates need
  to be specified then should be contained in this file\nin the following order: first
  the primary certificate followed by any\nintermediary certificats.\n\";s:4:\"type\";s:6:\"string\";}s:8:\"key_path\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Path
  to a file with the secret key in the PEM format for the domain.\n\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:16:\"certificate_path\";i:1;s:8:\"key_path\";}s:4:\"type\";s:6:\"object\";}s:17:\"ChangeDescription\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"actor_key\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  user who made the change.\";s:4:\"type\";s:6:\"string\";s:9:\"x-example\";s:36:\"1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c\";}s:2:\"at\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"When
  the change took place in milliseconds since the Unix epoch.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"A
  description of the change.\";s:4:\"type\";s:6:\"string\";}s:5:\"diffs\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  collection of attribute updates that compose this change.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ChangeEntry\";}s:4:\"type\";s:5:\"array\";}s:3:\"txn\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"A
  unique identifier for all this transaction. It is shared by all\nattribute updates
  within a change.\n\";s:4:\"type\";s:6:\"string\";s:9:\"x-example\";s:36:\"1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ChangeEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"change_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Whether
  the value was added or removed to the object.\";s:4:\"enum\";a:2:{i:0;s:8:\"addition\";i:1;s:7:\"removal\";}s:4:\"type\";s:6:\"string\";}s:10:\"object_key\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"An
  ID uniquely identifying the object being changed.\";s:4:\"type\";s:6:\"string\";s:9:\"x-example\";s:36:\"9cd24183-f848-48f8-6f55-0f0724070000\";}s:11:\"object_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  name of the object being being altered.\";s:4:\"enum\";a:8:{i:0;s:3:\"org\";i:1;s:4:\"user\";i:2;s:4:\"zone\";i:3;s:5:\"proxy\";i:4;s:6:\"domain\";i:5;s:5:\"route\";i:6;s:12:\"shared_rules\";i:7;s:7:\"cluster\";}s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"A
  dot-separated / bracket-indexed path to the field changed on the object.\";s:4:\"type\";s:6:\"string\";s:9:\"x-example\";s:59:\"cluster.instance[10.0.1.5:8080].metadata[pod-template-hash]\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  value that has been added or removed to the object at the attribute\npath indicated
  in path.\n\";s:4:\"type\";s:6:\"string\";}s:8:\"zone_key\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  zone this object is located in.\";s:4:\"type\";s:6:\"string\";s:9:\"x-example\";s:36:\"9cd24183-f848-48f8-6f55-0f0724070000\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CircuitBreakers\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Provides
  limits on various parameters to protect clusters against sudden\nsurges in traffic.\n\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"max_connections\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"Maximum
  number of connections that will be established to all\ninstances in a cluster within
  a proxy. If set to 0, no new connections\nwill be created. If not specified, defaults
  to 1024.\n\";s:4:\"type\";s:7:\"integer\";}s:20:\"max_pending_requests\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"Maximum
  number of requests that will be queued while waiting on a\nconnection pool to a
  cluster within a proxy. If set to 0, no requests\nwill be queued. If not specified,
  defaults to 1024.\n\";s:4:\"type\";s:7:\"integer\";}s:12:\"max_requests\";O:8:\"stdClass\":2:{s:11:\"description\";s:288:\"Maximum
  number of requests that can be outstanding to all instances in\na cluster within
  \ a proxy. Only applicable to HTTP/2 traffic since\nHTTP/1.1 clusters are governed
  by the maximum connections circuit\nbreaker. If set to 0, no requests will be made.
  If not specified,\ndefaults to 1024.\n\";s:4:\"type\";s:7:\"integer\";}s:11:\"max_retries\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"Maximum
  number of retries that can be outstanding to all instances in\na cluster within
  a proxy. If set to 0, requests will not be retried.\nIf not specified, defaults
  to 3.\n\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Cluster\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"checksum\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"circuit_breakers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CircuitBreakers\";}s:11:\"cluster_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"instances\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Instances\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"outlier_detection\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OutlierDetection\";}s:11:\"require_tls\";O:8:\"stdClass\":2:{s:11:\"description\";s:200:\"Experimental:\nIf
  set, requests to this collection of hosts will be made via HTTPS.\nAt this time
  neither certificate validation and certificate pinning\nare supported for proxy
  clients of this cluster.\n\";s:4:\"type\";s:7:\"boolean\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:11:\"cluster_key\";i:1;s:8:\"zone_key\";i:2;s:4:\"name\";i:3;s:8:\"checksum\";}s:4:\"type\";s:6:\"object\";}s:17:\"ClusterConstraint\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"cluster_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"constraint_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Metadata\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Metadata\";}s:13:\"response_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResponseData\";s:11:\"description\";s:343:\"When
  a request is served by a cluster selected by this constraint annotate\nthe response
  with the information specified within this ResponseData\nobject. It's possible that
  multiple response data configurations will\napply; if that's the case then the values
  from ClusterConstarint takes\nprecedence over those from a Route or SharedRules
  object.\n\";}s:6:\"weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ClusterConstraints\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ClusterConstraint\";}s:4:\"type\";s:5:\"array\";}s:13:\"ClusterCreate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"instances\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Instances\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"zone_key\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:13:\"ClusterFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"cluster_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ClusterResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CohortSeed\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"The
  name of the cookie, the header field, or the query argument to\nbe checked for a
  cohort seed value.\n\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Where
  a request's cohort seed will be drawn from.\";s:4:\"enum\";a:3:{i:0;s:6:\"header\";i:1;s:6:\"cookie\";i:2;s:5:\"query\";}s:4:\"type\";s:6:\"string\";}s:19:\"use_zero_value_seed\";O:8:\"stdClass\":2:{s:11:\"description\";s:355:\"If
  true, requests with a seed source which resolves to an empty value\nwill still be
  grouped and routed consistently. This means a misspelled\nor missing seed source
  on a request will sort all such traffic into a\nsingle backend. This could result
  in all traffic being assigned to a\nbackend intended for only a small percentage
  of traffic. Use with\ncaution.\n\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CookieDatum\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"This
  describes a cookie that should be set in response to a HTTP request.\n\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"always_send\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"If
  false or not set then this cookie will only be sent on HTTP response codes\nof 2xx
  and 3xx. If true then data will be returned for 4xx and 5xx responses\nas well.\n\";s:4:\"type\";s:7:\"boolean\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Specifies
  the hosts to hich a cookie will be sent. Maps directly to a\ncookie's 'Domain' attribute.\n\";s:4:\"type\";s:6:\"string\";}s:14:\"expires_in_sec\";O:8:\"stdClass\":2:{s:11:\"description\";s:305:\"This
  indicates how long a cookie will be valid, in seconds. If not set the\ndefault is
  to provide no expiration information. If set to 0 the cookie will\nhave an 'Expires'
  attribute set to 'Mon, 1 Jan 0001 12:00:00 UTC'. For values\ngreater than 0 the
  cookie's 'Max-Age' attribute will be set to that value.\n\";s:4:\"type\";s:7:\"integer\";}s:9:\"http_only\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"If
  set the cookie value will not be accessible via Document.cookie. Maps\ndirectly
  to 'HttpOnly' attribute.\n\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  name of the cookie that will be attached to the response sent.\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Specifies
  the path a cookie will be associated with. Maps directly to\nthe 'Path' attribute.\n\";s:4:\"type\";s:6:\"string\";}s:9:\"same_site\";O:8:\"stdClass\":3:{s:11:\"description\";s:170:\"Allows
  assertions how a cookie should behave wend making cross-site requests.\nMaps directly
  to 'SameSite' attribute. If unset no guidance will be included\nin the cookie.\n\";s:4:\"enum\";a:2:{i:0;s:6:\"Strict\";i:1;s:3:\"Lax\";}s:4:\"type\";s:6:\"string\";}s:6:\"secure\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"If
  set the cookie will only be sent on subsequent requests when accessing\na server
  via HTTPS. Maps directly to 'Secure' attribute.\n\";s:4:\"type\";s:7:\"boolean\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"A
  literal value to send as the cookie value or a reference to\nsome metadatum value
  set on the Cluster Intsance that handles\na specific request.\n\";s:4:\"type\";s:6:\"string\";}s:16:\"value_is_literal\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"If
  true then the value attribute is treated as a literal and no attempt\nto resolve
  to a server metadatum.\n\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Domain\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"aliases\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"A
  set of alternate names that this Domain may be referenced by. May\nstart ('*.')
  or end ('.*') with a wildcard.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"checksum\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"cors_config\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CORSConfig\";}s:10:\"domain_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"gzip_enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Experimental:
  if set to true will enable gzip compression on data that passes trough this domain\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"redirects\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Redirect\";}s:4:\"type\";s:5:\"array\";}s:10:\"ssl_config\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/SSLConfig\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:10:\"domain_key\";i:1;s:8:\"zone_key\";i:2;s:4:\"name\";i:3;s:4:\"port\";i:4;s:8:\"checksum\";}s:4:\"type\";s:6:\"object\";}s:12:\"DomainCreate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:8:\"zone_key\";i:1;s:4:\"name\";i:2;s:4:\"port\";}s:4:\"type\";s:6:\"object\";}s:12:\"DomainFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"domain_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"proxy_keys\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"matches
  Domains with a superset of the specified proxy_keys. A\nslice with a single value
  of \"-\" will produce Domains with no linked\nProxies.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DomainResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Domain\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Filter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:19:\"absolute_match_only\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"If
  set this will return ChangeEntry values with a path that matches\nthe attribute_path
  property exactly.\n\";s:4:\"type\";s:7:\"boolean\";}s:9:\"actor_key\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  user who made the change.\";s:4:\"type\";s:6:\"string\";s:9:\"x-example\";s:36:\"1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c\";}s:14:\"attribute_path\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"A
  dot-separated / bracket-indexed path to the field changed on the\nobject. '%' may
  be used as a wildcard.\n\";s:4:\"type\";s:6:\"string\";s:9:\"x-example\";s:38:\"cluster.instance[%].metadata[app-name]\";}s:15:\"attribute_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  value that has been added or removed to the object at the attribute\npath indicated
  in path.\n\";s:4:\"type\";s:6:\"string\";}s:10:\"change_txn\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"A
  unique identifier for all this transaction. It is shared by all\nattribute updates
  within a change.\n\";s:4:\"type\";s:6:\"string\";s:9:\"x-example\";s:36:\"1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c\";}s:11:\"change_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Whether
  the value was added or removed to the object.\";s:4:\"enum\";a:2:{i:0;s:8:\"addition\";i:1;s:7:\"removal\";}s:4:\"type\";s:6:\"string\";}s:20:\"exclude_empty_values\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"If
  set this will exclude ChangeEntry records that save the addition\nor removal of
  an empty value.\n\";s:4:\"type\";s:7:\"boolean\";}s:14:\"negative_match\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"If
  set this filter will match the all ChangeEntry records that do\nNOT meet the constraints
  laid out in this Filter object.\n\";s:4:\"type\";s:7:\"boolean\";}s:10:\"object_key\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"An
  ID uniquely identifying the object being changed.\";s:4:\"type\";s:6:\"string\";s:9:\"x-example\";s:36:\"9cd24183-f848-48f8-6f55-0f0724070000\";}s:11:\"object_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  name of the object being being altered.\";s:4:\"enum\";a:8:{i:0;s:3:\"org\";i:1;s:4:\"user\";i:2;s:4:\"zone\";i:3;s:5:\"proxy\";i:4;s:6:\"domain\";i:5;s:5:\"route\";i:6;s:12:\"shared_rules\";i:7;s:7:\"cluster\";}s:4:\"type\";s:6:\"string\";}s:7:\"org_key\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  organization the objects being updated belong to.\";s:4:\"type\";s:6:\"string\";s:9:\"x-example\";s:36:\"1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c\";}s:10:\"time_range\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TimeRange\";}s:8:\"zone_key\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  zone this object is located in.\";s:4:\"type\";s:6:\"string\";s:9:\"x-example\";s:36:\"9cd24183-f848-48f8-6f55-0f0724070000\";}}s:4:\"type\";s:6:\"object\";}s:14:\"FilterProducts\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"and\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"An
  array of changelog filters that will be joined via logical AND.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"FilterSums\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"or\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"An
  array of changelog filters that will be joined via logical OR.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FilterProducts\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"HeaderConstraint\";O:8:\"stdClass\":4:{s:11:\"description\";s:133:\"Indicates
  that a request's headers should meet some requirement before being\nselected for
  a rewrite. Must have zore or one elements.\n\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"case_sensitive\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"If
  set, the header value check will be case sensitive.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"invert\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"If
  set, the header constraint will succeed if the match described faile.\n\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"The
  header that is being checked. This must match the regexp \"^[0-9a-zA-Z-]+$\".\nThis
  is checked in a case insensitive manner.\n\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"If
  set the header's value will be compared to this. The default is to\nmake case insensitive
  comparisons.\n\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:11:\"HeaderDatum\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"This
  describes a HTTP header that should be attached to requests.\n\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"always_send\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"If
  false or not set then this header will only be sent on HTTP response codes\nof 2xx
  and 3xx. If true then data will be returned for 4xx and 5xx responses\nas well.\n\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  name of the header that will be attached to the response sent.\nThis is case insensitive.\n\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:236:\"A
  literal value to send as the header value or a reference to\nsome metadatum value
  set on the Cluster Intsance that handles\na specific request. If this value is empty
  after looking up an\nInstance metadatum value no header will be sent.\n\";s:4:\"type\";s:6:\"string\";}s:16:\"value_is_literal\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"If
  true then the value attribute is treated as a literal and no attempt\nto resolve
  instance metadatum to find a value.\n\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Instance\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"host\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Metadata\";}s:4:\"port\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"InstanceResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Instance\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Instances\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Instance\";}s:4:\"type\";s:5:\"array\";}s:5:\"Match\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Metadatum\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Metadatum\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Matches\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Match\";}s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Metadatum\";}s:4:\"type\";s:5:\"array\";}s:9:\"Metadatum\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MultiAccessTokens\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AccessToken\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"MultiClusterResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MultiDomainResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Domain\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"MultiProxyResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Proxy\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"MultiRouteResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Route\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"MultiSharedRulesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SharedRules\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"MultiZoneResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Zone\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"OutlierDetection\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"A
  form of passive health checking that dynamically determines whether\ninstances in
  a cluster are performing unlike others and preemptively\nremoves them from a load
  balancing set.\n\";s:10:\"properties\";O:8:\"stdClass\":11:{s:23:\"base_ejection_time_msec\";O:8:\"stdClass\":2:{s:11:\"description\";s:246:\"The
  base time that a host is ejected for. The real time is equal to\nthe base time multiplied
  by the number of times the host has been\nejected. Defaults to 30s. Setting this
  to 0 means that no host will\nbe ejected for longer than `interval_msec`.\n\";s:4:\"type\";s:7:\"integer\";}s:15:\"consecutive_5xx\";O:8:\"stdClass\":2:{s:11:\"description\";s:167:\"The
  number of consecutive 5xx responses before a consecutive 5xx ejection\noccurs. Defaults
  to 5. Setting this to 0 effectively turns off the\nconsecutive 5xx detector.\n\";s:4:\"type\";s:7:\"integer\";}s:27:\"consecutive_gateway_failure\";O:8:\"stdClass\":2:{s:11:\"description\";s:283:\"The
  number of consecutive gateway failures (502, 503, 504 status or\nconnection errors
  that are mapped to one of those status codes) before a\nconsecutive gateway failure
  ejection occurs. Defaults to 5. Setting this\nto 0 effectively turns off the consecutive
  gateway failure detector.\n\";s:4:\"type\";s:7:\"integer\";}s:25:\"enforcing_consecutive_5xx\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"The
  % chance that a host will be actually ejected when an outlier status\nis detected
  through consecutive 5xx. This setting can be used to disable\nejection or to ramp
  it up slowly. Defaults to 100.\n\";s:4:\"type\";s:7:\"integer\";}s:37:\"enforcing_consecutive_gateway_failure\";O:8:\"stdClass\":2:{s:11:\"description\";s:208:\"The
  % chance that a host will be actually ejected when an outlier status\nis detected
  through consecutive gateway failures. This setting can be\nused to disable ejection
  or to ramp it up slowly. Defaults to 0.\n\";s:4:\"type\";s:7:\"integer\";}s:22:\"enforcing_success_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:205:\"The
  % chance that a host will be actually ejected when an outlier status\nis detected
  through success rate statistics. This setting can be used to\ndisable ejection or
  to ramp it up slowly. Defaults to 100.\n\";s:4:\"type\";s:7:\"integer\";}s:13:\"interval_msec\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  time interval between ejection analysis sweeps. This can result in\nboth new ejections
  due to success rate outlier detection as well as\nhosts being returned to service.
  Defaults to 10s and must be greater\nthan 0.\n\";s:4:\"type\";s:7:\"integer\";}s:20:\"max_ejection_percent\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"The
  maximum % of an upstream cluster that can be ejected due to\noutlier detection.
  Defaults to 10% but will always eject at least one\nhost.\n\";s:4:\"type\";s:7:\"integer\";}s:26:\"success_rate_minimum_hosts\";O:8:\"stdClass\":2:{s:11:\"description\";s:434:\"The
  number of hosts in a cluster that must have enough request volume to\ndetect success
  rate outliers. If the number of hosts is less than this\nsetting, outlier detection
  via success rate statistics is not performed\nfor any host in the cluster. Defaults
  to 5. Setting this to 0 effectively\ntriggers the success rate detector regardless
  of the number of valid hosts\nduring an interval (as determined by `success_rate_request_volume`).\n\";s:4:\"type\";s:7:\"integer\";}s:27:\"success_rate_request_volume\";O:8:\"stdClass\":2:{s:11:\"description\";s:329:\"The
  minimum number of total requests that must be collected in one\ninterval (as defined
  by interval_msec) to include this host\nin success rate based outlier detection.
  If the volume is lower than this\nsetting, outlier detection via success rate statistics
  is not performed\nfor that host. Defaults to 100. Must be greater than 0.\n\";s:4:\"type\";s:7:\"integer\";}s:25:\"success_rate_stdev_factor\";O:8:\"stdClass\":2:{s:11:\"description\";s:503:\"This
  factor is used to determine the ejection threshold for success rate\noutlier ejection.
  The ejection threshold is the difference between the\nmean success rate, and the
  product of this factor and the standard\ndeviation of the mean success rate: mean
  - (stdev *\nsuccess_rate_stdev_factor). This factor is divided by a thousand to
  get a\ndouble. That is, if the desired factor is 1.9, the runtime value should\nbe
  1900. Defaults to 1900. Setting this to 0 effectively turns off the\nsuccess rate
  detector.\n\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PageDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"direction\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  direction walked from the ref_id when building this page.\";s:4:\"enum\";a:2:{i:0;s:6:\"before\";i:1;s:5:\"after\";}s:4:\"type\";s:6:\"string\";}s:8:\"has_more\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Whether
  or not there are more entries to be requested after this page.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"ref_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  ID used as a reference when building this page.\";s:4:\"type\";s:6:\"string\";}s:13:\"total_entries\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"How
  many total entries would have been returned in the time window\nif it had not been
  paginated.\n\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:27:\"PaginatedChangeDescriptions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PaginationDetails\";}s:6:\"result\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ChangeDescription\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PaginationDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"pagination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PageDetails\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Proxy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"checksum\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"domain_keys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"proxy_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ProxyCreate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"domain_keys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"zone_key\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:11:\"ProxyFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"domain_keys\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"matches
  Proxies with a superset of the specified domain_keys. A\nslice with a single value
  of \"-\" will produce Proxies with no linked\nDomains.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"proxy_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ProxyResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Proxy\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Redirect\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"Specifies
  how a URL within a domain should be rewritten when requested.\n\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"from\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"A
  regexp that will be matched against the URL (not including the host/port). May include
  capture groups for reference in \"to.\"\";s:4:\"type\";s:6:\"string\";}s:18:\"header_constraints\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/HeaderConstraint\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"A
  unique (to this Domain) name for the Redirect. Must match the regexp \"^[0-9a-zA-Z-]+$\"\";s:4:\"type\";s:6:\"string\";}s:13:\"redirect_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"How
  this redirect should be presented via HTTP response code.\";s:4:\"enum\";a:2:{i:0;s:9:\"permanent\";i:1;s:9:\"temporary\";}s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"The
  new URL that will be constructed from the request. Capture groups from \"from\"
  may be referenced as \"$&lt;group number&gt;\" which begins at 1.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:4:\"from\";i:2;s:2:\"to\";i:3;s:13:\"redirect_type\";}s:4:\"type\";s:6:\"object\";}s:12:\"ResponseData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"cookies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CookieDatum\";}s:4:\"type\";s:5:\"array\";}s:7:\"headers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/HeaderDatum\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"RetryPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Number
  of times to retry a request and how long to wait before timing out.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"num_retries\";O:8:\"stdClass\":3:{s:11:\"description\";s:209:\"Number
  of times to retry an upstream request. Note that the initial\nconnection attempt
  is not included in this number, hence 0 means initial\nattempt and no retries, and
  1 means initial attempt plus one retry.\n\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:20:\"per_try_timeout_msec\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Time
  limit in milliseconds for a single attempt.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"timeout_msec\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Total
  time limit in milliseconds for all attempts (including the initial attempt)\n\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Route\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"checksum\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"cohort_seed\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CohortSeed\";}s:10:\"domain_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"response_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResponseData\";s:11:\"description\";s:294:\"When
  a request is served by this Route annotate the response with the\ninformation specified
  within this ResponseData object. It's possible\nthat multiple response data configurations
  will apply; if that's the\ncase then the values from Route take precedence over
  those from a\nSharedRules object.\n\";}s:12:\"retry_policy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/RetryPolicy\";}s:9:\"route_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"rules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Rule\";}s:4:\"type\";s:5:\"array\";}s:16:\"shared_rules_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:9:\"route_key\";i:1;s:10:\"domain_key\";i:2;s:8:\"zone_key\";i:3;s:4:\"path\";i:4;s:8:\"checksum\";i:5;s:16:\"shared_rules_key\";}s:4:\"type\";s:6:\"object\";}s:11:\"RouteCreate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"domain_keys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"rules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Rule\";}s:4:\"type\";s:5:\"array\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:8:\"zone_key\";i:1;s:4:\"name\";i:2;s:11:\"domain_keys\";}s:4:\"type\";s:6:\"object\";}s:11:\"RouteFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"domain_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"path_prefix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"route_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shared_rules_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"RouteResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Route\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Rule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"cohort_seed\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CohortSeed\";}s:11:\"constraints\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AllConstraints\";}s:7:\"matches\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Matches\";}s:7:\"methods\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"rule_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"SSLConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:150:\"Experimental:
  Specifies whether a domain should support SSL/TLS\nconnections from clients.  If
  not set the proxy will expect unencrypted HTTP\ntraffic.\n\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"cert_key_pairs\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"SSLConfig
  must have one cert_key_pairs entry specified.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CertKeyPathPair\";}s:4:\"type\";s:5:\"array\";}s:13:\"cipher_filter\";O:8:\"stdClass\":2:{s:11:\"description\";s:274:\"An
  OpenSSL compatible filter string indicating the ciphers acceptable\nfor this proxy
  to use while communicating with clients. The default value\nis EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH.
  For more information\nsee https://wiki.openssl.org/index.php/Manual:Ciphers(1)\n\";s:4:\"type\";s:6:\"string\";}s:9:\"protocols\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"A
  list of acceptable SSL/TLS protocol. The default values are TLSv1,\nTLSv1.1, TLSv1.2.
  Additional valid values are SSLv2 and SSLv3.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:14:\"cert_key_pairs\";}s:4:\"type\";s:6:\"object\";}s:11:\"SharedRules\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"checksum\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"cohort_seed\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CohortSeed\";}s:7:\"default\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AllConstraints\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Metadata\";}s:13:\"response_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResponseData\";s:11:\"description\";s:361:\"When
  a request is served by a Route that is part of this SharedRules\ngroup the response
  is annotated with the information specified within\nthis ResponseData object. It's
  possible that multiple response data\nconfigurations will apply; if that's the case
  then the values from\nthe applicable Route and ClusterConstarint takes precedence
  over those\nspecified here.\n\";}s:12:\"retry_policy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/RetryPolicy\";}s:5:\"rules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Rule\";}s:4:\"type\";s:5:\"array\";}s:16:\"shared_rules_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"zone_key\";i:1;s:8:\"checksum\";}s:4:\"type\";s:6:\"object\";}s:17:\"SharedRulesCreate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"default\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AllConstraints\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"rules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Rule\";}s:4:\"type\";s:5:\"array\";}s:16:\"shared_rules_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:8:\"zone_key\";i:2;s:7:\"default\";}s:4:\"type\";s:6:\"object\";}s:17:\"SharedRulesFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shared_rules_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"SharedRulesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SharedRules\";}}s:4:\"type\";s:6:\"object\";}s:9:\"TimeRange\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  end of the window we want to see changes for; measured in\nmicroseconds since Unix
  Epoch.\n\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  beginning of the window we want to see changes for; measured in microseconds since
  Unix Epoch.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"checksum\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"A
  timestamp that marks when a user was deleted. It is in the format\nyyyy-mm-ddThh:mm:ss.SZ.
  The timezone will always be UTC.\n\";s:4:\"type\";s:6:\"string\";s:9:\"x-example\";s:24:\"2017-08-14T17:29:11.986Z\";}s:11:\"login_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"user_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:8:\"user_key\";i:1;s:11:\"login_email\";i:2;s:8:\"checksum\";}s:4:\"type\";s:6:\"object\";}s:4:\"Zone\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"checksum\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:8:\"zone_key\";i:1;s:4:\"name\";i:2;s:8:\"checksum\";}s:4:\"type\";s:6:\"object\";}s:10:\"ZoneCreate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:10:\"ZoneFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"zone_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ZoneResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Zone\";}}s:4:\"type\";s:6:\"object\";}}"
...
