---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:24:\"Avis de conformit\xE9
  (AC)\";s:11:\"description\";s:671:\"Un Avis de conformit\xE9 (AC) est \xE9mis au
  fabricant si la pr\xE9sentation de drogue nouvelle est jug\xE9e conforme au R\xE8glement
  sur les aliments et drogues apr\xE8s un examen complet.\n\nLa base de donn\xE9es
  est mise \xE0 jour tous les soirs et elle comprend des renseignements sur les AC
  concernant les m\xE9dicaments pour usage humain \xE9mis depuis le 1er janvier 1994
  jusqu'\xE0 ce jour. Elle comprend \xE9galement les renseignements sur les AC concernant
  les m\xE9dicaments v\xE9t\xE9rinaires \xE9mis depuis le 19 septembre 2000 jusqu'\xE0
  ce jour. Sant\xE9 Canada ajoutera progressivement les AC concernant les m\xE9dicaments
  v\xE9t\xE9rinaires \xE9mis entre le 1er janvier 1994 et le 18 septembre 2000.\n\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:0:\"\";s:5:\"email\";s:25:\"open-ouvert@tbs-sct.gc.ca\";}}"
host: noc-hc-sc-apicast-production.api.canada.ca
basePath: /v1/
paths:
  /drugproduct:
    get:
      tags:
      - Produit pharmaceutique
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryNoticeOfComplianceNumber'
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/DrugProduct'
            xml:
              name: DrugProducts
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /noticeofcompliancemain:
    get:
      tags:
      - Avis de conformitu00e9
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryNoticeOfComplianceNumber'
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/NoticeOfCompliance'
            xml:
              name: NoticesOfCompliance
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /dosageform:
    get:
      tags:
      - Forme posologique
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryNoticeOfComplianceNumber'
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/DosageForm'
            xml:
              name: DosageForms
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /medicinalingredient:
    get:
      tags:
      - Ingru00e9dient mu00e9dicinal
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryNoticeOfComplianceNumber'
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/MedicinalIngredient'
            xml:
              name: MedicinalIngredients
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /route:
    get:
      tags:
      - Voie d'administration
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryNoticeOfComplianceNumber'
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/RouteOfAdministration'
            xml:
              name: RouteOfAdministration
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /vetspecies:
    get:
      tags:
      - Espu00e8ces animales
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryNoticeOfComplianceNumber'
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/VeterinarySpecies'
            xml:
              name: RouteOfAdministration
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:3:\"204\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"404\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"DosageForm\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:255:\"Forme
  sous laquelle le produit est vendu. Il s'agit de la combinaison de la forme sous
  laquelle le fabricant pr\xE9sente un produit, p. ex. comprim\xE9, g\xE9lule, poudre,
  et de la forme sous laquelle le produit est administr\xE9, p. ex. poudre pour une
  solution.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"noc_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Le
  num\xE9ro attribu\xE9 \xE0 un avis de conformit\xE9.\";}s:21:\"noc_pf_din_product_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Le
  num\xE9ro d'identification attribu\xE9 \xE0 un produit pharmaceutique.\";}s:16:\"noc_pf_form_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"La
  forme posologique.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"DosageForm\";}}s:11:\"DrugProduct\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:251:\"Information
  sur le produit pharmaceutique, telles que le nom commercial et l'identification
  num\xE9rique de drogue. La marque du produit est le nom attribu\xE9 par le fabricant
  pour distinguer le produit et sous lequel le produit sera vendu ou publicis\xE9.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"noc_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Le
  num\xE9ro attribu\xE9 \xE0 un avis de conformit\xE9.\";}s:15:\"noc_br_brand_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Le
  num\xE9ro d'identification attribu\xE9 \xE0 une marque.\";}s:16:\"noc_br_brandname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Le
  nom commercial du produit pharmaceutique.\";}s:17:\"noc_br_product_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Le
  num\xE9ro d'identification attribu\xE9 \xE0 un produit pharmaceutique.\";}s:10:\"noc_br_din\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"L'Identification
  num\xE9rique de drogue.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"DrugProduct\";}}s:19:\"MedicinalIngredient\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:327:\"Tout
  composant qui poss\xE8de des propri\xE9t\xE9s m\xE9dicinales, qui provoque une activit\xE9
  pharmacologique ou qui a des r\xE9percussions directes sur le diagnostic, la gu\xE9rison,
  l'att\xE9nuation, le traitement ou la pr\xE9vention des maladies, ou qui affecte
  la structure ou toute fonction du corps de l'\xEAtre humain ou d'autres animaux.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"noc_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Le
  num\xE9ro attribu\xE9 \xE0 un avis de conformit\xE9.\";}s:21:\"noc_pi_din_product_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Le
  num\xE9ro d'identification attribu\xE9 \xE0 un produit pharmaceutique.\";}s:22:\"noc_pi_medic_ingr_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Le
  nom de l'ingr\xE9dient m\xE9dicinal.\";}s:15:\"noc_pi_strength\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Le
  concentration de l'ingr\xE9dient m\xE9dicinal.\";}s:11:\"noc_pi_unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"L'unit\xE9
  de l'ingr\xE9dient m\xE9dicinal.\";}s:17:\"noc_pi_basic_unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"L\u2019unit\xE9
  posologique de l\u2019ingr\xE9dient m\xE9dicinal.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:19:\"MedicinalIngredient\";}}s:18:\"NoticeOfCompliance\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:790:\"Un
  Avis de conformit\xE9 (AC) est une notification d\xE9livr\xE9e en vertu du paragraphe
  C.08.004(1)(a), indiquant que le fabricant/promoteur se conforme aux articles C.08.002
  ou C.08.003 et C.08.005.1 du R\xE8glement sur les aliments et drogues. Un avis de
  conformit\xE9 est \xE9mis si la pr\xE9sentation est jug\xE9e conforme apr\xE8s un
  examen complet.\n\nUn AC-C est une autorisation de mettre un m\xE9dicament sur le
  march\xE9 (c'est-\xE0-dire un avis de conformit\xE9), \xE0 la condition que le promoteur
  entreprenne des \xE9tudes suppl\xE9mentaires pour en v\xE9rifier l'avantage clinique.
  L'avis de conformit\xE9, admissible en vertu de la politique sur les AC-C (Avis
  de conformit\xE9 avec conditions (AC-C) - Politique r\xE9vis\xE9e), est \xE9mis
  dans le cadre de l'article C.08.004 du R\xE8glement sur les aliments et drogues.\n\";s:10:\"properties\";O:8:\"stdClass\":17:{s:10:\"noc_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Le
  num\xE9ro attribu\xE9 \xE0 un avis de conformit\xE9.\";}s:8:\"noc_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"La
  date \xE0 laquelle un avis de conformit\xE9 a \xE9t\xE9 \xE9mis.\";}s:21:\"noc_manufacturer_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Le
  nom du fabricant.\";}s:26:\"noc_status_with_conditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"Si
  un produit \xE9tait autoris\xE9 sous la politique sur les avis de conformit\xE9
  avec conditions.\";}s:22:\"noc_on_submission_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Le
  cat\xE9gorie de la pr\xE9sentation.\";}s:17:\"noc_is_suppliment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Si
  la pr\xE9sentation est un suppl\xE9ment.\";}s:20:\"noc_submission_class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"La
  cat\xE9gorie de pr\xE9sentation .\";}s:12:\"noc_is_admin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Si
  la pr\xE9sentation a \xE9t\xE9 d\xE9pos\xE9e administrativement.\";}s:16:\"noc_product_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Le
  type de produit pharmaceutique.\";}s:20:\"noc_crp_product_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Le
  nom du produit de r\xE9f\xE9rence canadien.\";}s:20:\"noc_crp_company_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Le
  nom de l'entreprise pour le produit de r\xE9f\xE9rence canadien.\";}s:20:\"noc_crp_country_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Le
  nom du pays pour le produit de r\xE9f\xE9rence canadien.\";}s:17:\"noc_active_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Si
  l'avis de conformit\xE9 est active ou suspendu.\";}s:21:\"noc_reason_supplement\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"Si
  la pr\xE9sentation est un suppl\xE9ment, le motif du suppl\xE9ment.\";}s:21:\"noc_reason_submission\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Le
  motif de la pr\xE9sentation.\";}s:21:\"noc_therapeutic_class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"La
  classe th\xE9rapeutique attribu\xE9e \xE0 un produit pharmaceutique.\";}s:20:\"noc_last_update_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"La
  derni\xE8re date \xE0 laquelle l'avis de conformit\xE9 a \xE9t\xE9 mis \xE0 jour.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:18:\"NoticeOfCompliance\";}}s:21:\"RouteOfAdministration\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:266:\"D\xE9termine
  la partie du corps sur laquelle, par laquelle ou dans laquelle le produit est administr\xE9
  (orale, topique, intramusculaire, rectale, etc.).\n\nUn produit peut \xEAtre administr\xE9
  de plusieurs fa\xE7ons (intraveineuse, intramusculaire, intra-articulaire, etc.).\n\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"noc_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Le
  num\xE9ro attribu\xE9 \xE0 un avis de conformit\xE9.\";}s:21:\"noc_pr_din_product_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Le
  num\xE9ro d'identification attribu\xE9 \xE0 un produit pharmaceutique.\";}s:12:\"noc_pr_route\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"La
  voie d'administration.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:21:\"RouteOfAdministration\";}}s:17:\"VeterinarySpecies\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:109:\"Les
  esp\xE8ces auxquelles les produits v\xE9t\xE9rinaires sont destin\xE9s (p. ex. mouton,
  chien, bovin et volaille).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"noc_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Le
  num\xE9ro attribu\xE9 \xE0 un avis de conformit\xE9.\";}s:16:\"vet_species_desc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"La
  description de l'esp\xE8ce animale.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:17:\"VeterinarySpecies\";}}}"
...
