---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:26:\"Notice of Compliance (NOC)\";s:11:\"description\";s:518:\"A
  Notice of Compliance (NOC) is issued to a manufacturer following the satisfactory
  review of a submission for a new drug, and signifies compliance with the Food and
  Drug Regulations.\n\nThe database is updated nightly and contains NOC information
  on human drugs from January 1, 1994 to date. It also contains NOC information on
  Veterinary drugs from September 19, 2000 to date. Through a phased in approach Health
  Canada will populate the remaining NOCs for Veterinary drugs from January 1, 1994
  to September 18, 2000.\n\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:0:\"\";s:5:\"email\";s:25:\"open-ouvert@tbs-sct.gc.ca\";}}"
host: noc-hc-sc-apicast-production.api.canada.ca
basePath: /v1/
paths:
  /drugproduct:
    get:
      tags:
      - Drug Product
      description: Returns all drug products.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryNoticeOfComplianceNumber'
      responses:
        200:
          description: Returns a list of all drug products, or if an ID is provided,
            the list of all drug products that correspond to the given Notice of Compliance
            number
          schema:
            type: array
            items:
              $ref: '#/definitions/DrugProduct'
            xml:
              name: DrugProducts
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /noticeofcompliancemain:
    get:
      tags:
      - Notice of Compliance
      description: Returns all compliance notifications
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryNoticeOfComplianceNumber'
      responses:
        200:
          description: Returns a list of all compliance notices, or if an ID is provided,
            the list of all notices of compliance that correspond to the given Notice
            of Compliance number
          schema:
            type: array
            items:
              $ref: '#/definitions/NoticeOfCompliance'
            xml:
              name: NoticesOfCompliance
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /dosageform:
    get:
      tags:
      - Dosage Form
      description: Returns all dosage forms
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryNoticeOfComplianceNumber'
      responses:
        200:
          description: Returns a list of all dosage forms, or if an ID is provided,
            the list of all dosage forms that correspond to the given Notice of Compliance
            number
          schema:
            type: array
            items:
              $ref: '#/definitions/DosageForm'
            xml:
              name: DosageForms
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /medicinalingredient:
    get:
      tags:
      - Medicinal Ingredient
      description: Returns all medicinal ingredients
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryNoticeOfComplianceNumber'
      responses:
        200:
          description: Returns a list of all medicinal ingredients, or if an ID is
            provided, the list of all medicinal ingredients that correspond to the
            given Notice of Compliance number
          schema:
            type: array
            items:
              $ref: '#/definitions/MedicinalIngredient'
            xml:
              name: MedicinalIngredients
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /route:
    get:
      tags:
      - Route of Administration
      description: Returns all administration routes
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryNoticeOfComplianceNumber'
      responses:
        200:
          description: Returns a list of all administration routes, or if an ID is
            provided, the list of all routes that correspond to the given Notice of
            Compliance number
          schema:
            type: array
            items:
              $ref: '#/definitions/RouteOfAdministration'
            xml:
              name: RouteOfAdministration
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /vetspecies:
    get:
      tags:
      - Veterinary Species
      description: Returns all veterinary species
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - $ref: '#/parameters/QueryNoticeOfComplianceNumber'
      responses:
        200:
          description: Returns a list of all veterinary species, or if an ID is provided,
            the list of all species that correspond to the given Notice of Compliance
            number
          schema:
            type: array
            items:
              $ref: '#/definitions/VeterinarySpecies'
            xml:
              name: RouteOfAdministration
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:3:\"204\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"404\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"DosageForm\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:300:\"The
  dosage form is the form in which the product is supplied. It is the combination
  of the form in which a product is presented [for example (e.g.)] in tablet, capsule
  or powder form, and the physical form in which it is administered, [for example,
  (e.g.)] in a powder to be administered in solution.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"noc_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  number assigned to the Notice of Compliance.\";}s:21:\"noc_pf_din_product_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  identification number assigned to the DIN product.\";}s:16:\"noc_pf_form_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  dosage form.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"DosageForm\";}}s:11:\"DrugProduct\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:192:\"Basic
  information about the product, such as brand name and Drug Identification Number.
  The brand name is the unique name under which the manufacturer of a drug product
  advertises and sells it\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"noc_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  number assigned to the Notice of Compliance.\";}s:15:\"noc_br_brand_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  identification number assigned to the brand.\";}s:16:\"noc_br_brandname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  brand name for the drug product.\";}s:17:\"noc_br_product_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  identification number assigned to the DIN product.\";}s:10:\"noc_br_din\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  Drug Identification Number.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"DrugProduct\";}}s:19:\"MedicinalIngredient\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:283:\"A
  medicinal ingredient is any component that has medicinal properties, and supplies
  pharmacological activity or other direct effect in the diagnosis, cure, mitigation,
  treatment or prevention of disease, or to affect the structure or any function of
  the body of man or other animals.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"noc_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  number assigned to the Notice of Compliance.\";}s:21:\"noc_pi_din_product_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  identification number assigned to the DIN product.\";}s:22:\"noc_pi_medic_ingr_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  medicinal ingredient name.\";}s:15:\"noc_pi_strength\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  strength of the medicinal ingredient.\";}s:11:\"noc_pi_unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  medicinal ingredient unit.\";}s:17:\"noc_pi_basic_unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  medicinal ingredient dosage unit.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:19:\"MedicinalIngredient\";}}s:18:\"NoticeOfCompliance\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:678:\"A
  Notice of Compliance is a notification, issued pursuant to paragraph C.08.004(1)(a),
  indicating that a manufacturer has complied with sections C.08.002 or C.08.003 and
  C.08.005.1 of the Food and Drug Regulations. Notices of Compliance are issued to
  a manufacturer following the satisfactory review of a submission.\n\nAn NOC/c is
  the authorization to market a drug ([such as (i.e.)] a Notice of Compliance (NOC)),
  with the condition that the manufacturer carries out more studies to verify the
  clinical benefit. The NOC, qualifying under the NOC/c policy (Notice of Compliance
  with Conditions: Revised Policy), is issued under section C.08.004 of the Food and
  Drug Regulations.\n\";s:10:\"properties\";O:8:\"stdClass\":17:{s:10:\"noc_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  number assigned to the Notice of Compliance.\";}s:8:\"noc_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  date the Notice of Compliance was issued.\";}s:21:\"noc_manufacturer_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  name of the manufacturer.\";}s:26:\"noc_status_with_conditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"Whether
  the product was authorized under the Notice of Compliance with Conditions Policy.\";}s:22:\"noc_on_submission_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  submission type.\";}s:17:\"noc_is_suppliment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Whether
  the submission is a supplement.\";}s:20:\"noc_submission_class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  submission class.\";}s:12:\"noc_is_admin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Whether
  the submission was filed administratively.\";}s:16:\"noc_product_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  type of drug product.\";}s:20:\"noc_crp_product_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  name of the Canadian Reference Product.\";}s:20:\"noc_crp_company_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  company name for the Canadian Reference Product.\";}s:20:\"noc_crp_country_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  country name for the Canadian Reference Product.\";}s:17:\"noc_active_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Whether
  or not the Notice of Compliance is active or suspended.\";}s:21:\"noc_reason_supplement\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"If
  the submission is a supplement, the reason for the supplement.\";}s:21:\"noc_reason_submission\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  reason for the submission.\";}s:21:\"noc_therapeutic_class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  therapeutic class of a drug product.\";}s:20:\"noc_last_update_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  date that the Notice of Compliance was last updated.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:18:\"NoticeOfCompliance\";}}s:21:\"RouteOfAdministration\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:278:\"This
  term indicates the part of the body on which, through which or into which the product
  is to be introduced. (e.g. oral, topical, intramuscular, rectal, etc.)\n\nA product
  can have more than one route of administration (e.g. intravenous, intramuscular,
  intra-articular, etc.).\n\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"noc_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  number assigned to the Notice of Compliance.\";}s:21:\"noc_pr_din_product_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  identification number assigned to the DIN product.\";}s:12:\"noc_pr_route\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  route of administration.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:21:\"RouteOfAdministration\";}}s:17:\"VeterinarySpecies\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:93:\"The
  type of species for a certain veterinary products (e.g. sheep, dog, cattle, and
  poultry).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"noc_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  number assigned to the Notice of Compliance.\";}s:16:\"vet_species_desc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  animal species description.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:17:\"VeterinarySpecies\";}}}"
...
