---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:920:\"<p>Make use of
  our in-depth documentation to get more information about the various functions of
  the service. Those willing to explore the mechanics of Data2CRM.API can test it
  in live regime using the short code samples.</p><p>Select CRM: <span id=\"docs-select-crm\"
  style=\"font-weight: bold\">Loading... please wait</span></p><p>Here are the API
  access keys:<br><b>X-API2CRM-USERKEY</b>: <span id=\"docs-user-key\">e2a6379ab878ae7e58119d4ec842bf9c926e05b5</span><br><b>X-API2CRM-CRMKEY</b>:
  <span id=\"docs-crm-key\">7ae5b17008fb414d84981191cf3b66a476ef8bef</span></p><p
  id=\"docs-crm-access\">The CRM access details are:<br><b>URL</b>: <a id=\"docs-crm-url\"
  href=\"https://login.salesforce.com/\" target=\"_blank\">https://login.salesforce.com/</a><br><b>E-mail
  / Username</b>: <span id=\"docs-crm-username\">developers.data2crm.api+1@magneticone.com</span><br><b>Password</b>:
  <span id=\"docs-crm-password\">data2crmapi123</span></p>\";s:5:\"title\";s:12:\"Data2CRM.API\";s:7:\"version\";s:1:\"1\";s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#3089CF\";s:3:\"url\";s:169:\"https://api.apis.guru/v2/cache/logo/https_s3.amazonaws.com_enterprise-multitenant.3scale.net.3scale.net_data2crm-api_2445581398133_profiles_logos_medium_data2crm_api.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:47:\"http://api.data2crm.com/docs/ref/get-swagger-v2\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:12:\"data2crm.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"data2crm\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.data2crm.com:80
basePath: /v1
paths: ~
produces:
- application/json
- application/hal+json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":75:{s:7:\"Account\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"embedded\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":35:{s:16:\"account_category\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Category\";s:7:\"example\";s:7:\"General\";s:4:\"type\";s:6:\"string\";}s:12:\"address_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Address
  Type\";s:7:\"example\";s:7:\"Billing\";s:4:\"type\";s:6:\"string\";}s:14:\"annual_revenue\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Annual
  Revenue\";s:7:\"example\";d:23244.432219999999;s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:12:\"billing_city\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Billing
  City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:15:\"billing_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Billing
  Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:13:\"billing_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Billing
  State\";s:7:\"example\";s:2:\"NY\";s:4:\"type\";s:6:\"string\";}s:14:\"billing_street\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Billing
  Street\";s:7:\"example\";s:33:\"P.O. Box 300, 2698 Ultricies Road\";s:4:\"type\";s:6:\"string\";}s:11:\"billing_zip\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Billing
  Zip\";s:7:\"example\";s:5:\"47212\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:21:\"Some
  long description\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Email\";s:7:\"example\";s:18:\"bill.wall@mail.com\";s:4:\"type\";s:6:\"string\";}s:9:\"email_alt\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Email
  Alternative\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:9:\"employees\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"Employees\";s:7:\"example\";i:230;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"facebook\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Facebook\";s:7:\"example\";s:33:\"http://www.facebook.com/your_page\";s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"Fax\";s:7:\"example\";s:17:\"+49
  9131 85 28732\";s:4:\"type\";s:6:\"string\";}s:8:\"industry\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"Industry\";s:4:\"enum\";a:28:{i:0;s:24:\"Informational
  Technology\";i:1;s:18:\"Telecommunications\";i:2;s:13:\"Manufacturing\";i:3;s:7:\"Banking\";i:4;s:10:\"Consulting\";i:5;s:7:\"Finance\";i:6;s:10:\"Government\";i:7;s:8:\"Delivery\";i:8;s:10:\"Non-Profit\";i:9;s:13:\"Entertainment\";i:10;s:13:\"Biotechnology\";i:11;s:9:\"Chemicals\";i:12;s:14:\"Communications\";i:13;s:12:\"Construction\";i:14;s:9:\"Education\";i:15;s:11:\"Electronics\";i:16;s:6:\"Energy\";i:17;s:11:\"Engineering\";i:18;s:13:\"Environmental\";i:19;s:11:\"Health
  care\";i:20;s:11:\"Hospitality\";i:21;s:9:\"Machinery\";i:22;s:5:\"Media\";i:23;s:10:\"Recreation\";i:24;s:6:\"Retail\";i:25;s:14:\"Transportation\";i:26;s:9:\"Utilities\";i:27;s:5:\"Other\";}s:7:\"example\";s:11:\"Electronics\";s:4:\"type\";s:6:\"string\";}s:11:\"livejournal\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Livejournal\";s:7:\"example\";s:33:\"http://your_page.livejournal.com/\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Name\";s:7:\"example\";s:9:\"Bill
  Wall\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Owner\";s:7:\"example\";s:15:\"Nicky
  McCartney\";s:4:\"type\";s:6:\"string\";}s:9:\"ownership\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Ownership\";s:7:\"example\";s:6:\"Public\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Phone\";s:7:\"example\";s:14:\"(817)
  569-8900\";s:4:\"type\";s:6:\"string\";}s:9:\"phone_alt\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Phone
  Alternative\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Rating\";s:7:\"example\";s:6:\"Active\";s:4:\"type\";s:6:\"string\";}s:13:\"shipping_city\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Shipping
  City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:16:\"shipping_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Shipping
  Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:14:\"shipping_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Shipping
  State\";s:7:\"example\";s:2:\"NY\";s:4:\"type\";s:6:\"string\";}s:15:\"shipping_street\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Shipping
  Street\";s:7:\"example\";s:33:\"P.O. Box 300, 2698 Ultricies Road\";s:4:\"type\";s:6:\"string\";}s:12:\"shipping_zip\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Shipping
  Zip Code\";s:7:\"example\";s:5:\"47212\";s:4:\"type\";s:6:\"string\";}s:8:\"sic_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"SIC
  Code\";s:7:\"example\";s:6:\"2895-1\";s:4:\"type\";s:6:\"string\";}s:12:\"tickersymbol\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Ticker
  Symbol\";s:7:\"example\";s:1:\"%\";s:4:\"type\";s:6:\"string\";}s:7:\"twitter\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Twitter\";s:7:\"example\";s:28:\"http://twitter.com/your_page\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Type\";s:7:\"example\";s:7:\"Company\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Website\";s:7:\"example\";s:18:\"http://google.com/\";s:4:\"type\";s:6:\"string\";}s:11:\"website_alt\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Website
  Alternative\";s:7:\"example\";s:18:\"http://google.com/\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Account
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:8:\"relation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"owner_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Owner
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Parent
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AccountCreate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":37:{s:16:\"account_category\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Category\";s:7:\"example\";s:7:\"General\";s:4:\"type\";s:6:\"string\";}s:12:\"address_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Address
  Type\";s:7:\"example\";s:7:\"Billing\";s:4:\"type\";s:6:\"string\";}s:14:\"annual_revenue\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Annual
  Revenue\";s:7:\"example\";d:23244.432219999999;s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:12:\"billing_city\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Billing
  City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:15:\"billing_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Billing
  Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:13:\"billing_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Billing
  State\";s:7:\"example\";s:2:\"NY\";s:4:\"type\";s:6:\"string\";}s:14:\"billing_street\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Billing
  Street\";s:7:\"example\";s:33:\"P.O. Box 300, 2698 Ultricies Road\";s:4:\"type\";s:6:\"string\";}s:11:\"billing_zip\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Billing
  Zip\";s:7:\"example\";s:5:\"47212\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:21:\"Some
  long description\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Email\";s:7:\"example\";s:18:\"bill.wall@mail.com\";s:4:\"type\";s:6:\"string\";}s:9:\"email_alt\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Email
  Alternative\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:9:\"employees\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"Employees\";s:7:\"example\";i:230;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"facebook\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Facebook\";s:7:\"example\";s:33:\"http://www.facebook.com/your_page\";s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"Fax\";s:7:\"example\";s:17:\"+49
  9131 85 28732\";s:4:\"type\";s:6:\"string\";}s:8:\"industry\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"Industry\";s:4:\"enum\";a:28:{i:0;s:24:\"Informational
  Technology\";i:1;s:18:\"Telecommunications\";i:2;s:13:\"Manufacturing\";i:3;s:7:\"Banking\";i:4;s:10:\"Consulting\";i:5;s:7:\"Finance\";i:6;s:10:\"Government\";i:7;s:8:\"Delivery\";i:8;s:10:\"Non-Profit\";i:9;s:13:\"Entertainment\";i:10;s:13:\"Biotechnology\";i:11;s:9:\"Chemicals\";i:12;s:14:\"Communications\";i:13;s:12:\"Construction\";i:14;s:9:\"Education\";i:15;s:11:\"Electronics\";i:16;s:6:\"Energy\";i:17;s:11:\"Engineering\";i:18;s:13:\"Environmental\";i:19;s:11:\"Health
  care\";i:20;s:11:\"Hospitality\";i:21;s:9:\"Machinery\";i:22;s:5:\"Media\";i:23;s:10:\"Recreation\";i:24;s:6:\"Retail\";i:25;s:14:\"Transportation\";i:26;s:9:\"Utilities\";i:27;s:5:\"Other\";}s:7:\"example\";s:11:\"Electronics\";s:4:\"type\";s:6:\"string\";}s:11:\"livejournal\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Livejournal\";s:7:\"example\";s:33:\"http://your_page.livejournal.com/\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Name\";s:7:\"example\";s:9:\"Bill
  Wall\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Owner\";s:7:\"example\";s:15:\"Nicky
  McCartney\";s:4:\"type\";s:6:\"string\";}s:8:\"owner_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Owner
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:9:\"ownership\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Ownership\";s:7:\"example\";s:6:\"Public\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Parent
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Phone\";s:7:\"example\";s:14:\"(817)
  569-8900\";s:4:\"type\";s:6:\"string\";}s:9:\"phone_alt\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Phone
  Alternative\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Rating\";s:7:\"example\";s:6:\"Active\";s:4:\"type\";s:6:\"string\";}s:13:\"shipping_city\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Shipping
  City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:16:\"shipping_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Shipping
  Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:14:\"shipping_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Shipping
  State\";s:7:\"example\";s:2:\"NY\";s:4:\"type\";s:6:\"string\";}s:15:\"shipping_street\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Shipping
  Street\";s:7:\"example\";s:33:\"P.O. Box 300, 2698 Ultricies Road\";s:4:\"type\";s:6:\"string\";}s:12:\"shipping_zip\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Shipping
  Zip Code\";s:7:\"example\";s:5:\"47212\";s:4:\"type\";s:6:\"string\";}s:8:\"sic_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"SIC
  Code\";s:7:\"example\";s:6:\"2895-1\";s:4:\"type\";s:6:\"string\";}s:12:\"tickersymbol\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Ticker
  Symbol\";s:7:\"example\";s:1:\"%\";s:4:\"type\";s:6:\"string\";}s:7:\"twitter\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Twitter\";s:7:\"example\";s:28:\"http://twitter.com/your_page\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Type\";s:7:\"example\";s:7:\"Company\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Website\";s:7:\"example\";s:18:\"http://google.com/\";s:4:\"type\";s:6:\"string\";}s:11:\"website_alt\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Website
  Alternative\";s:7:\"example\";s:18:\"http://google.com/\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AccountCreated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Account
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AccountUpdate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":37:{s:16:\"account_category\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Category\";s:7:\"example\";s:7:\"General\";s:4:\"type\";s:6:\"string\";}s:12:\"address_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Address
  Type\";s:7:\"example\";s:7:\"Billing\";s:4:\"type\";s:6:\"string\";}s:14:\"annual_revenue\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Annual
  Revenue\";s:7:\"example\";d:23244.432219999999;s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:12:\"billing_city\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Billing
  City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:15:\"billing_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Billing
  Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:13:\"billing_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Billing
  State\";s:7:\"example\";s:2:\"NY\";s:4:\"type\";s:6:\"string\";}s:14:\"billing_street\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Billing
  Street\";s:7:\"example\";s:33:\"P.O. Box 300, 2698 Ultricies Road\";s:4:\"type\";s:6:\"string\";}s:11:\"billing_zip\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Billing
  Zip\";s:7:\"example\";s:5:\"47212\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:21:\"Some
  long description\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Email\";s:7:\"example\";s:18:\"bill.wall@mail.com\";s:4:\"type\";s:6:\"string\";}s:9:\"email_alt\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Email
  Alternative\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:9:\"employees\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"Employees\";s:7:\"example\";i:230;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"facebook\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Facebook\";s:7:\"example\";s:33:\"http://www.facebook.com/your_page\";s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"Fax\";s:7:\"example\";s:17:\"+49
  9131 85 28732\";s:4:\"type\";s:6:\"string\";}s:8:\"industry\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"Industry\";s:4:\"enum\";a:28:{i:0;s:24:\"Informational
  Technology\";i:1;s:18:\"Telecommunications\";i:2;s:13:\"Manufacturing\";i:3;s:7:\"Banking\";i:4;s:10:\"Consulting\";i:5;s:7:\"Finance\";i:6;s:10:\"Government\";i:7;s:8:\"Delivery\";i:8;s:10:\"Non-Profit\";i:9;s:13:\"Entertainment\";i:10;s:13:\"Biotechnology\";i:11;s:9:\"Chemicals\";i:12;s:14:\"Communications\";i:13;s:12:\"Construction\";i:14;s:9:\"Education\";i:15;s:11:\"Electronics\";i:16;s:6:\"Energy\";i:17;s:11:\"Engineering\";i:18;s:13:\"Environmental\";i:19;s:11:\"Health
  care\";i:20;s:11:\"Hospitality\";i:21;s:9:\"Machinery\";i:22;s:5:\"Media\";i:23;s:10:\"Recreation\";i:24;s:6:\"Retail\";i:25;s:14:\"Transportation\";i:26;s:9:\"Utilities\";i:27;s:5:\"Other\";}s:7:\"example\";s:11:\"Electronics\";s:4:\"type\";s:6:\"string\";}s:11:\"livejournal\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Livejournal\";s:7:\"example\";s:33:\"http://your_page.livejournal.com/\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Name\";s:7:\"example\";s:9:\"Bill
  Wall\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Owner\";s:7:\"example\";s:15:\"Nicky
  McCartney\";s:4:\"type\";s:6:\"string\";}s:8:\"owner_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Owner
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:9:\"ownership\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Ownership\";s:7:\"example\";s:6:\"Public\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Parent
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Phone\";s:7:\"example\";s:14:\"(817)
  569-8900\";s:4:\"type\";s:6:\"string\";}s:9:\"phone_alt\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Phone
  Alternative\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Rating\";s:7:\"example\";s:6:\"Active\";s:4:\"type\";s:6:\"string\";}s:13:\"shipping_city\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Shipping
  City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:16:\"shipping_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Shipping
  Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:14:\"shipping_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Shipping
  State\";s:7:\"example\";s:2:\"NY\";s:4:\"type\";s:6:\"string\";}s:15:\"shipping_street\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Shipping
  Street\";s:7:\"example\";s:33:\"P.O. Box 300, 2698 Ultricies Road\";s:4:\"type\";s:6:\"string\";}s:12:\"shipping_zip\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Shipping
  Zip Code\";s:7:\"example\";s:5:\"47212\";s:4:\"type\";s:6:\"string\";}s:8:\"sic_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"SIC
  Code\";s:7:\"example\";s:6:\"2895-1\";s:4:\"type\";s:6:\"string\";}s:12:\"tickersymbol\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Ticker
  Symbol\";s:7:\"example\";s:1:\"%\";s:4:\"type\";s:6:\"string\";}s:7:\"twitter\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Twitter\";s:7:\"example\";s:28:\"http://twitter.com/your_page\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Type\";s:7:\"example\";s:7:\"Company\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Website\";s:7:\"example\";s:18:\"http://google.com/\";s:4:\"type\";s:6:\"string\";}s:11:\"website_alt\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Website
  Alternative\";s:7:\"example\";s:18:\"http://google.com/\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AccountUpdated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Account
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Attachment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"embedded\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"contact_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Contact
  Name\";s:7:\"example\";s:9:\"Bill Wall\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:25:\"Description
  of attachment\";s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Link\";s:7:\"example\";s:52:\"http://s-10.server.host.com/f/2015/01/01/a/file.json\";s:4:\"type\";s:6:\"string\";}s:9:\"mime_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Mime
  Type\";s:7:\"example\";s:16:\"application/json\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Name\";s:7:\"example\";s:9:\"file.json\";s:4:\"type\";s:6:\"string\";}s:15:\"owner_user_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Owner
  User Name\";s:7:\"example\";s:15:\"Nicky McCartney\";s:4:\"type\";s:6:\"string\";}s:11:\"parent_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Parent
  Name\";s:7:\"example\";s:9:\"Bill Wall\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Size
  (in bytes)\";s:7:\"example\";i:34345;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Note
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:8:\"relation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"owner_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Owner
  User Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Parent
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:11:\"parent_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Parent
  Type\";s:4:\"enum\";a:7:{i:0;s:7:\"account\";i:1;s:7:\"contact\";i:2;s:4:\"lead\";i:3;s:4:\"task\";i:4;s:4:\"user\";i:5;s:11:\"opportunity\";i:6;s:4:\"note\";}s:7:\"example\";s:7:\"contact\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AttachmentCreate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"contact_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Contact
  Name\";s:7:\"example\";s:9:\"Bill Wall\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:25:\"Description
  of attachment\";s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Link\";s:7:\"example\";s:52:\"http://s-10.server.host.com/f/2015/01/01/a/file.json\";s:4:\"type\";s:6:\"string\";}s:9:\"mime_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Mime
  Type\";s:7:\"example\";s:16:\"application/json\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Name\";s:7:\"example\";s:9:\"file.json\";s:4:\"type\";s:6:\"string\";}s:13:\"owner_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Owner
  User Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:15:\"owner_user_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Owner
  User Name\";s:7:\"example\";s:15:\"Nicky McCartney\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Parent
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:11:\"parent_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Parent
  Name\";s:7:\"example\";s:9:\"Bill Wall\";s:4:\"type\";s:6:\"string\";}s:11:\"parent_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Parent
  Type\";s:4:\"enum\";a:7:{i:0;s:7:\"account\";i:1;s:7:\"contact\";i:2;s:4:\"lead\";i:3;s:4:\"task\";i:4;s:4:\"user\";i:5;s:11:\"opportunity\";i:6;s:4:\"note\";}s:7:\"example\";s:7:\"contact\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Size
  (in bytes)\";s:7:\"example\";i:34345;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AttachmentCreated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Note
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AttachmentUpdate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"contact_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Contact
  Name\";s:7:\"example\";s:9:\"Bill Wall\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:25:\"Description
  of attachment\";s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Link\";s:7:\"example\";s:52:\"http://s-10.server.host.com/f/2015/01/01/a/file.json\";s:4:\"type\";s:6:\"string\";}s:9:\"mime_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Mime
  Type\";s:7:\"example\";s:16:\"application/json\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Name\";s:7:\"example\";s:9:\"file.json\";s:4:\"type\";s:6:\"string\";}s:13:\"owner_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Owner
  User Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:15:\"owner_user_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Owner
  User Name\";s:7:\"example\";s:15:\"Nicky McCartney\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Parent
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:11:\"parent_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Parent
  Name\";s:7:\"example\";s:9:\"Bill Wall\";s:4:\"type\";s:6:\"string\";}s:11:\"parent_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Parent
  Type\";s:4:\"enum\";a:7:{i:0;s:7:\"account\";i:1;s:7:\"contact\";i:2;s:4:\"lead\";i:3;s:4:\"task\";i:4;s:4:\"user\";i:5;s:11:\"opportunity\";i:6;s:4:\"note\";}s:7:\"example\";s:7:\"contact\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Size
  (in bytes)\";s:7:\"example\";i:34345;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AttachmentUpdated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Note
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Call\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"embedded\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:23:\"Description
  of the call\";s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"Direction\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:7:\"example\";s:8:\"Outbound\";s:4:\"type\";s:6:\"string\";}s:8:\"ended_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"Ended
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"purpose\";O:8:\"stdClass\":4:{s:11:\"description\";s:7:\"Purpose\";s:4:\"enum\";a:7:{i:0;s:4:\"None\";i:1;s:11:\"Prospecting\";i:2;s:14:\"Administrative\";i:3;s:11:\"Negotiation\";i:4;s:4:\"Demo\";i:5;s:7:\"Project\";i:6;s:7:\"Support\";}s:7:\"example\";s:11:\"Negotiation\";s:4:\"type\";s:6:\"string\";}s:6:\"result\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Result\";s:7:\"example\";s:9:\"Confirmed\";s:4:\"type\";s:6:\"string\";}s:10:\"started_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Started
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Status\";s:4:\"enum\";a:3:{i:0;s:7:\"Planned\";i:1;s:4:\"Held\";i:2;s:8:\"Not
  Held\";}s:7:\"example\";s:7:\"Planned\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Subject\";s:7:\"example\";s:19:\"Subject
  of the call\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Call
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:8:\"relation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"contact_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Contact
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:13:\"owner_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Owner
  User Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Parent
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:11:\"parent_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Parent
  Type\";s:4:\"enum\";a:6:{i:0;s:7:\"account\";i:1;s:7:\"contact\";i:2;s:4:\"lead\";i:3;s:11:\"opportunity\";i:4;s:4:\"task\";i:5;s:4:\"user\";}s:7:\"example\";s:7:\"contact\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CallCreate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"contact_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Contact
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:23:\"Description
  of the call\";s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"Direction\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:7:\"example\";s:8:\"Outbound\";s:4:\"type\";s:6:\"string\";}s:8:\"ended_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"Ended
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"owner_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Owner
  User Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Parent
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:11:\"parent_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Parent
  Type\";s:4:\"enum\";a:6:{i:0;s:7:\"account\";i:1;s:7:\"contact\";i:2;s:4:\"lead\";i:3;s:11:\"opportunity\";i:4;s:4:\"task\";i:5;s:4:\"user\";}s:7:\"example\";s:7:\"contact\";s:4:\"type\";s:6:\"string\";}s:7:\"purpose\";O:8:\"stdClass\":4:{s:11:\"description\";s:7:\"Purpose\";s:4:\"enum\";a:7:{i:0;s:4:\"None\";i:1;s:11:\"Prospecting\";i:2;s:14:\"Administrative\";i:3;s:11:\"Negotiation\";i:4;s:4:\"Demo\";i:5;s:7:\"Project\";i:6;s:7:\"Support\";}s:7:\"example\";s:11:\"Negotiation\";s:4:\"type\";s:6:\"string\";}s:6:\"result\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Result\";s:7:\"example\";s:9:\"Confirmed\";s:4:\"type\";s:6:\"string\";}s:10:\"started_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Started
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Status\";s:4:\"enum\";a:3:{i:0;s:7:\"Planned\";i:1;s:4:\"Held\";i:2;s:8:\"Not
  Held\";}s:7:\"example\";s:7:\"Planned\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Subject\";s:7:\"example\";s:19:\"Subject
  of the call\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CallCreated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Call
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CallUpdate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"contact_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Contact
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:23:\"Description
  of the call\";s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"Direction\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:7:\"example\";s:8:\"Outbound\";s:4:\"type\";s:6:\"string\";}s:8:\"ended_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"Ended
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"owner_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Owner
  User Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Parent
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:11:\"parent_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Parent
  Type\";s:4:\"enum\";a:6:{i:0;s:7:\"account\";i:1;s:7:\"contact\";i:2;s:4:\"lead\";i:3;s:11:\"opportunity\";i:4;s:4:\"task\";i:5;s:4:\"user\";}s:7:\"example\";s:7:\"contact\";s:4:\"type\";s:6:\"string\";}s:7:\"purpose\";O:8:\"stdClass\":4:{s:11:\"description\";s:7:\"Purpose\";s:4:\"enum\";a:7:{i:0;s:4:\"None\";i:1;s:11:\"Prospecting\";i:2;s:14:\"Administrative\";i:3;s:11:\"Negotiation\";i:4;s:4:\"Demo\";i:5;s:7:\"Project\";i:6;s:7:\"Support\";}s:7:\"example\";s:11:\"Negotiation\";s:4:\"type\";s:6:\"string\";}s:6:\"result\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Result\";s:7:\"example\";s:9:\"Confirmed\";s:4:\"type\";s:6:\"string\";}s:10:\"started_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Started
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Status\";s:4:\"enum\";a:3:{i:0;s:7:\"Planned\";i:1;s:4:\"Held\";i:2;s:8:\"Not
  Held\";}s:7:\"example\";s:7:\"Planned\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Subject\";s:7:\"example\";s:19:\"Subject
  of the call\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CallUpdated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Call
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Contact\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"embedded\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":34:{s:12:\"account_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Account
  Name\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:12:\"address_city\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Address
  City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:15:\"address_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Address
  Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:13:\"address_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Address
  State\";s:7:\"example\";s:2:\"NY\";s:4:\"type\";s:6:\"string\";}s:14:\"address_street\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Address
  Street\";s:7:\"example\";s:33:\"P.O. Box 300, 2698 Ultricies Road\";s:4:\"type\";s:6:\"string\";}s:11:\"address_zip\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Address
  Zip\";s:7:\"example\";s:5:\"47212\";s:4:\"type\";s:6:\"string\";}s:22:\"alternate_address_city\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Alternative
  Address City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:25:\"alternate_address_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Alternative
  Address Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:23:\"alternate_address_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Alternative
  Address State\";s:7:\"example\";s:2:\"NY\";s:4:\"type\";s:6:\"string\";}s:24:\"alternate_address_street\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Alternative
  Address Street\";s:7:\"example\";s:33:\"P.O. Box 300, 2698 Ultricies Road\";s:4:\"type\";s:6:\"string\";}s:21:\"alternate_address_zip\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Alternative
  Address Zip Code\";s:7:\"example\";s:5:\"47212\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Date
  Created\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Date
  Updated\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"department\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Department\";s:7:\"example\";s:3:\"D2C\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:26:\"Description
  of the contact\";s:4:\"type\";s:6:\"string\";}s:11:\"do_not_call\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Do
  Not Call\";s:4:\"type\";s:7:\"boolean\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Email\";s:7:\"example\";s:18:\"bill.wall@mail.com\";s:4:\"type\";s:6:\"string\";}s:9:\"email_alt\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Email
  Alternative\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"Fax\";s:7:\"example\";s:17:\"+49
  9131 85 28732\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"First
  Name\";s:7:\"example\";s:4:\"Bill\";s:4:\"type\";s:6:\"string\";}s:9:\"full_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Full
  Name\";s:7:\"example\";s:9:\"Bill Wall\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Last
  Name\";s:7:\"example\";s:4:\"Wall\";s:4:\"type\";s:6:\"string\";}s:11:\"lead_source\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Lead
  Source\";s:4:\"enum\";a:16:{i:0;s:16:\"Personal Contact\";i:1;s:17:\"Existing Customer\";i:2;s:4:\"Call\";i:3;s:7:\"Website\";i:4;s:5:\"Email\";i:5;s:10:\"Conference\";i:6;s:10:\"Trade
  Show\";i:7;s:8:\"Employee\";i:8;s:8:\"Campaign\";i:9;s:2:\"HR\";i:10;s:12:\"Inbound
  Call\";i:11;s:4:\"Mail\";i:12;s:7:\"Partner\";i:13;s:13:\"Word of mouth\";i:14;s:14:\"Self
  Generated\";i:15;s:5:\"Other\";}s:7:\"example\";s:7:\"Partner\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Name\";s:7:\"example\";s:9:\"Bill
  Wall\";s:4:\"type\";s:6:\"string\";}s:10:\"phone_home\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Phone
  Home\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_mobile\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Phone
  Mobile\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:10:\"phone_work\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Phone
  Work\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:10:\"salutation\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Salutation\";s:7:\"example\";s:3:\"Mr.\";s:4:\"type\";s:6:\"string\";}s:15:\"sync_to_outlook\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Sync
  To Outlook\";s:4:\"type\";s:7:\"boolean\";}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Title\";s:7:\"example\";s:5:\"Title\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Type\";s:7:\"example\";s:9:\"Bill
  Wall\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"User\";s:7:\"example\";s:9:\"Bill
  Wall\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Contact
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:8:\"relation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"account_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Account
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:8:\"owner_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Owner
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:12:\"report_to_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Report
  To Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"User
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ContactCreate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":37:{s:10:\"account_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Account
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:12:\"address_city\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Address
  City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:15:\"address_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Address
  Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:13:\"address_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Address
  State\";s:7:\"example\";s:2:\"NY\";s:4:\"type\";s:6:\"string\";}s:14:\"address_street\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Address
  Street\";s:7:\"example\";s:33:\"P.O. Box 300, 2698 Ultricies Road\";s:4:\"type\";s:6:\"string\";}s:11:\"address_zip\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Address
  Zip\";s:7:\"example\";s:5:\"47212\";s:4:\"type\";s:6:\"string\";}s:22:\"alternate_address_city\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Alternative
  Address City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:25:\"alternate_address_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Alternative
  Address Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:23:\"alternate_address_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Alternative
  Address State\";s:7:\"example\";s:2:\"NY\";s:4:\"type\";s:6:\"string\";}s:24:\"alternate_address_street\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Alternative
  Address Street\";s:7:\"example\";s:33:\"P.O. Box 300, 2698 Ultricies Road\";s:4:\"type\";s:6:\"string\";}s:21:\"alternate_address_zip\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Alternative
  Address Zip Code\";s:7:\"example\";s:5:\"47212\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Date
  Created\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Date
  Updated\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"department\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Department\";s:7:\"example\";s:3:\"D2C\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:26:\"Description
  of the contact\";s:4:\"type\";s:6:\"string\";}s:11:\"do_not_call\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Do
  Not Call\";s:4:\"type\";s:7:\"boolean\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Email\";s:7:\"example\";s:18:\"bill.wall@mail.com\";s:4:\"type\";s:6:\"string\";}s:9:\"email_alt\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Email
  Alternative\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"Fax\";s:7:\"example\";s:17:\"+49
  9131 85 28732\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"First
  Name\";s:7:\"example\";s:4:\"Bill\";s:4:\"type\";s:6:\"string\";}s:9:\"full_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Full
  Name\";s:7:\"example\";s:9:\"Bill Wall\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Last
  Name\";s:7:\"example\";s:4:\"Wall\";s:4:\"type\";s:6:\"string\";}s:11:\"lead_source\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Lead
  Source\";s:4:\"enum\";a:16:{i:0;s:16:\"Personal Contact\";i:1;s:17:\"Existing Customer\";i:2;s:4:\"Call\";i:3;s:7:\"Website\";i:4;s:5:\"Email\";i:5;s:10:\"Conference\";i:6;s:10:\"Trade
  Show\";i:7;s:8:\"Employee\";i:8;s:8:\"Campaign\";i:9;s:2:\"HR\";i:10;s:12:\"Inbound
  Call\";i:11;s:4:\"Mail\";i:12;s:7:\"Partner\";i:13;s:13:\"Word of mouth\";i:14;s:14:\"Self
  Generated\";i:15;s:5:\"Other\";}s:7:\"example\";s:7:\"Partner\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Name\";s:7:\"example\";s:9:\"Bill
  Wall\";s:4:\"type\";s:6:\"string\";}s:8:\"owner_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Owner
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:10:\"phone_home\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Phone
  Home\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_mobile\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Phone
  Mobile\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:10:\"phone_work\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Phone
  Work\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:12:\"report_to_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Report
  To Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:10:\"salutation\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Salutation\";s:7:\"example\";s:3:\"Mr.\";s:4:\"type\";s:6:\"string\";}s:15:\"sync_to_outlook\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Sync
  To Outlook\";s:4:\"type\";s:7:\"boolean\";}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Title\";s:7:\"example\";s:5:\"Title\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Type\";s:7:\"example\";s:9:\"Bill
  Wall\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"User\";s:7:\"example\";s:9:\"Bill
  Wall\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"User
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ContactCreated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Contact
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ContactUpdate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":37:{s:10:\"account_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Account
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:12:\"address_city\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Address
  City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:15:\"address_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Address
  Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:13:\"address_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Address
  State\";s:7:\"example\";s:2:\"NY\";s:4:\"type\";s:6:\"string\";}s:14:\"address_street\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Address
  Street\";s:7:\"example\";s:33:\"P.O. Box 300, 2698 Ultricies Road\";s:4:\"type\";s:6:\"string\";}s:11:\"address_zip\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Address
  Zip\";s:7:\"example\";s:5:\"47212\";s:4:\"type\";s:6:\"string\";}s:22:\"alternate_address_city\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Alternative
  Address City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:25:\"alternate_address_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Alternative
  Address Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:23:\"alternate_address_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Alternative
  Address State\";s:7:\"example\";s:2:\"NY\";s:4:\"type\";s:6:\"string\";}s:24:\"alternate_address_street\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Alternative
  Address Street\";s:7:\"example\";s:33:\"P.O. Box 300, 2698 Ultricies Road\";s:4:\"type\";s:6:\"string\";}s:21:\"alternate_address_zip\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Alternative
  Address Zip Code\";s:7:\"example\";s:5:\"47212\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Date
  Created\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Date
  Updated\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"department\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Department\";s:7:\"example\";s:3:\"D2C\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:26:\"Description
  of the contact\";s:4:\"type\";s:6:\"string\";}s:11:\"do_not_call\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Do
  Not Call\";s:4:\"type\";s:7:\"boolean\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Email\";s:7:\"example\";s:18:\"bill.wall@mail.com\";s:4:\"type\";s:6:\"string\";}s:9:\"email_alt\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Email
  Alternative\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"Fax\";s:7:\"example\";s:17:\"+49
  9131 85 28732\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"First
  Name\";s:7:\"example\";s:4:\"Bill\";s:4:\"type\";s:6:\"string\";}s:9:\"full_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Full
  Name\";s:7:\"example\";s:9:\"Bill Wall\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Last
  Name\";s:7:\"example\";s:4:\"Wall\";s:4:\"type\";s:6:\"string\";}s:11:\"lead_source\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Lead
  Source\";s:4:\"enum\";a:16:{i:0;s:16:\"Personal Contact\";i:1;s:17:\"Existing Customer\";i:2;s:4:\"Call\";i:3;s:7:\"Website\";i:4;s:5:\"Email\";i:5;s:10:\"Conference\";i:6;s:10:\"Trade
  Show\";i:7;s:8:\"Employee\";i:8;s:8:\"Campaign\";i:9;s:2:\"HR\";i:10;s:12:\"Inbound
  Call\";i:11;s:4:\"Mail\";i:12;s:7:\"Partner\";i:13;s:13:\"Word of mouth\";i:14;s:14:\"Self
  Generated\";i:15;s:5:\"Other\";}s:7:\"example\";s:7:\"Partner\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Name\";s:7:\"example\";s:9:\"Bill
  Wall\";s:4:\"type\";s:6:\"string\";}s:8:\"owner_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Owner
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:10:\"phone_home\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Phone
  Home\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_mobile\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Phone
  Mobile\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:10:\"phone_work\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Phone
  Work\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:12:\"report_to_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Report
  To Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:10:\"salutation\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Salutation\";s:7:\"example\";s:3:\"Mr.\";s:4:\"type\";s:6:\"string\";}s:15:\"sync_to_outlook\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Sync
  To Outlook\";s:4:\"type\";s:7:\"boolean\";}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Title\";s:7:\"example\";s:5:\"Title\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Type\";s:7:\"example\";s:9:\"Bill
  Wall\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"User\";s:7:\"example\";s:9:\"Bill
  Wall\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"User
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ContactUpdated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Contact
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Count\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"total\";O:8:\"stdClass\":4:{s:11:\"description\";s:5:\"Total\";s:7:\"example\";i:7612;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Crm\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"api_url\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"API
  URL\";s:7:\"example\";s:25:\"https://crm.com/api/v2.1/\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"CRM
  Identifier\";s:7:\"example\";s:40:\"b716431423997ba4d35a2a81a10dc6b5167ffb53\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"Type\";s:4:\"enum\";a:17:{i:0;s:8:\"Bitrix24\";i:1;s:8:\"SugarCRM\";i:2;s:8:\"SuiteCRM\";i:3;s:9:\"BPMOnline\";i:4;s:7:\"HubSpot\";i:5;s:6:\"vtiger\";i:6;s:6:\"OroCRM\";i:7;s:7:\"ZohoCRM\";i:8;s:9:\"Insightly\";i:9;s:10:\"Salesforce\";i:10;s:11:\"Solve360CRM\";i:11;s:10:\"HighriseHQ\";i:12;s:13:\"PipelineDeals\";i:13;s:9:\"Pipedrive\";i:14;s:10:\"CapsuleCRM\";i:15;s:5:\"Zurmo\";i:16;s:17:\"MicrosoftDynamics\";}s:7:\"example\";s:10:\"Salesforce\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"CrmCreate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"api_url\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"API
  URL\";s:7:\"example\";s:25:\"https://crm.com/api/v2.1/\";s:4:\"type\";s:6:\"string\";}s:5:\"login\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Login\";s:7:\"example\";s:5:\"admin\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Password\";s:7:\"example\";s:15:\"bg64d4245rgd233\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"Type\";s:4:\"enum\";a:17:{i:0;s:8:\"Bitrix24\";i:1;s:8:\"SugarCRM\";i:2;s:8:\"SuiteCRM\";i:3;s:9:\"BPMOnline\";i:4;s:7:\"HubSpot\";i:5;s:6:\"vtiger\";i:6;s:6:\"OroCRM\";i:7;s:7:\"ZohoCRM\";i:8;s:9:\"Insightly\";i:9;s:10:\"Salesforce\";i:10;s:11:\"Solve360CRM\";i:11;s:10:\"HighriseHQ\";i:12;s:13:\"PipelineDeals\";i:13;s:9:\"Pipedrive\";i:14;s:10:\"CapsuleCRM\";i:15;s:5:\"Zurmo\";i:16;s:17:\"MicrosoftDynamics\";}s:7:\"example\";s:10:\"Salesforce\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CrmCreated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"CRM
  Identifier\";s:7:\"example\";s:40:\"b716431423997ba4d35a2a81a10dc6b5167ffb53\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"CrmUpdate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"api_url\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"API
  URL\";s:7:\"example\";s:25:\"https://crm.com/api/v2.1/\";s:4:\"type\";s:6:\"string\";}s:5:\"login\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Login\";s:7:\"example\";s:5:\"admin\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Password\";s:7:\"example\";s:15:\"bg64d4245rgd233\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"Type\";s:4:\"enum\";a:17:{i:0;s:8:\"Bitrix24\";i:1;s:8:\"SugarCRM\";i:2;s:8:\"SuiteCRM\";i:3;s:9:\"BPMOnline\";i:4;s:7:\"HubSpot\";i:5;s:6:\"vtiger\";i:6;s:6:\"OroCRM\";i:7;s:7:\"ZohoCRM\";i:8;s:9:\"Insightly\";i:9;s:10:\"Salesforce\";i:10;s:11:\"Solve360CRM\";i:11;s:10:\"HighriseHQ\";i:12;s:13:\"PipelineDeals\";i:13;s:9:\"Pipedrive\";i:14;s:10:\"CapsuleCRM\";i:15;s:5:\"Zurmo\";i:16;s:17:\"MicrosoftDynamics\";}s:7:\"example\";s:10:\"Salesforce\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CrmUpdated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"CRM
  Identifier\";s:7:\"example\";s:40:\"b716431423997ba4d35a2a81a10dc6b5167ffb53\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CustomField\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"embedded\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"decimal_places\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Decimal
  Places\";s:7:\"example\";i:2;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"default_value\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Default
  Value\";s:7:\"example\";s:1:\"-\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:6:\"Custom\";s:4:\"type\";s:6:\"string\";}s:6:\"entity\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Entity\";s:4:\"enum\";a:12:{i:0;s:7:\"account\";i:1;s:7:\"contact\";i:2;s:4:\"user\";i:3;s:11:\"opportunity\";i:4;s:4:\"task\";i:5;s:4:\"lead\";i:6;s:4:\"note\";i:7;s:10:\"attachment\";i:8;s:5:\"event\";i:9;s:5:\"email\";i:10;s:4:\"call\";i:11;s:7:\"meeting\";}s:7:\"example\";s:7:\"contact\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Label\";s:7:\"example\";s:6:\"Custom\";s:4:\"type\";s:6:\"string\";}s:6:\"length\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Length\";s:7:\"example\";i:5;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Name\";s:7:\"example\";s:6:\"Custom\";s:4:\"type\";s:6:\"string\";}s:8:\"required\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Required\";s:4:\"type\";s:7:\"boolean\";}s:6:\"select\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Select
  Pairs for field with type \"select\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Select\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"Type\";s:4:\"enum\";a:10:{i:0;s:6:\"string\";i:1;s:7:\"integer\";i:2;s:7:\"decimal\";i:3;s:7:\"boolean\";i:4;s:4:\"date\";i:5;s:4:\"time\";i:6;s:8:\"datetime\";i:7;s:8:\"checkbox\";i:8;s:5:\"radio\";i:9;s:6:\"select\";}s:7:\"example\";s:7:\"Company\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Custom
  Field Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CustomFieldCreate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"decimal_places\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Decimal
  Places\";s:7:\"example\";i:2;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"default_value\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Default
  Value\";s:7:\"example\";s:1:\"-\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:6:\"Custom\";s:4:\"type\";s:6:\"string\";}s:6:\"entity\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Entity\";s:4:\"enum\";a:12:{i:0;s:7:\"account\";i:1;s:7:\"contact\";i:2;s:4:\"user\";i:3;s:11:\"opportunity\";i:4;s:4:\"task\";i:5;s:4:\"lead\";i:6;s:4:\"note\";i:7;s:10:\"attachment\";i:8;s:5:\"event\";i:9;s:5:\"email\";i:10;s:4:\"call\";i:11;s:7:\"meeting\";}s:7:\"example\";s:7:\"contact\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Label\";s:7:\"example\";s:6:\"Custom\";s:4:\"type\";s:6:\"string\";}s:6:\"length\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Length\";s:7:\"example\";i:5;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Name\";s:7:\"example\";s:6:\"Custom\";s:4:\"type\";s:6:\"string\";}s:8:\"required\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Required\";s:4:\"type\";s:7:\"boolean\";}s:6:\"select\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Select
  Pairs for field with type \"select\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SelectCreated\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"Type\";s:4:\"enum\";a:10:{i:0;s:6:\"string\";i:1;s:7:\"integer\";i:2;s:7:\"decimal\";i:3;s:7:\"boolean\";i:4;s:4:\"date\";i:5;s:4:\"time\";i:6;s:8:\"datetime\";i:7;s:8:\"checkbox\";i:8;s:5:\"radio\";i:9;s:6:\"select\";}s:7:\"example\";s:7:\"Company\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CustomFieldCreated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Custom
  Field Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CustomFieldUpdate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"decimal_places\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Decimal
  Places\";s:7:\"example\";i:2;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"default_value\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Default
  Value\";s:7:\"example\";s:1:\"-\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:6:\"Custom\";s:4:\"type\";s:6:\"string\";}s:6:\"entity\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Entity\";s:4:\"enum\";a:12:{i:0;s:7:\"account\";i:1;s:7:\"contact\";i:2;s:4:\"user\";i:3;s:11:\"opportunity\";i:4;s:4:\"task\";i:5;s:4:\"lead\";i:6;s:4:\"note\";i:7;s:10:\"attachment\";i:8;s:5:\"event\";i:9;s:5:\"email\";i:10;s:4:\"call\";i:11;s:7:\"meeting\";}s:7:\"example\";s:7:\"contact\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Label\";s:7:\"example\";s:6:\"Custom\";s:4:\"type\";s:6:\"string\";}s:6:\"length\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Length\";s:7:\"example\";i:5;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Name\";s:7:\"example\";s:6:\"Custom\";s:4:\"type\";s:6:\"string\";}s:8:\"required\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Required\";s:4:\"type\";s:7:\"boolean\";}s:6:\"select\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Select
  Pairs for field with type \"select\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SelectUpdated\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"Type\";s:4:\"enum\";a:10:{i:0;s:6:\"string\";i:1;s:7:\"integer\";i:2;s:7:\"decimal\";i:3;s:7:\"boolean\";i:4;s:4:\"date\";i:5;s:4:\"time\";i:6;s:8:\"datetime\";i:7;s:8:\"checkbox\";i:8;s:5:\"radio\";i:9;s:6:\"select\";}s:7:\"example\";s:7:\"Company\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CustomFieldUpdated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Custom
  Field Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Describe\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"entity\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Entity\";s:4:\"type\";s:6:\"string\";}s:6:\"schema\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Schema\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"create\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Create
  a resource request body schema\";s:5:\"title\";s:6:\"create\";s:4:\"type\";s:6:\"object\";}s:5:\"fetch\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Fetch
  a resource response body schema\";s:5:\"title\";s:5:\"fetch\";s:4:\"type\";s:6:\"object\";}s:8:\"fetchAll\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Fetch
  all or a subset of resources body response\";s:5:\"title\";s:8:\"fetchAll\";s:4:\"type\";s:6:\"object\";}s:6:\"update\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Update
  a resource request body schema\";s:5:\"title\";s:6:\"update\";s:4:\"type\";s:6:\"object\";}}s:5:\"title\";s:6:\"schema\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"embedded\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:3:\"bcc\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"BCC\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:4:\"body\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Body\";s:7:\"example\";s:17:\"Body
  of the email\";s:4:\"type\";s:6:\"string\";}s:2:\"cc\";O:8:\"stdClass\":3:{s:11:\"description\";s:2:\"CC\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"Direction\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:7:\"example\";s:8:\"Outbound\";s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"From\";s:7:\"example\";s:18:\"bill.wall@mail.com\";s:4:\"type\";s:6:\"string\";}s:7:\"sent_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:7:\"Sent
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Status\";s:4:\"enum\";a:3:{i:0;s:5:\"Draft\";i:1;s:7:\"Pending\";i:2;s:4:\"Sent\";}s:7:\"example\";s:4:\"Sent\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Subject\";s:7:\"example\";s:20:\"Subject
  of the email\";s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:2:\"To\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Email
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:8:\"relation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"owner_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Owner
  User Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Parent
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:11:\"parent_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Parent
  Type\";s:4:\"enum\";a:6:{i:0;s:7:\"account\";i:1;s:11:\"opportunity\";i:2;s:7:\"contact\";i:3;s:4:\"lead\";i:4;s:4:\"user\";i:5;s:4:\"task\";}s:7:\"example\";s:7:\"contact\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:11:\"EmailCreate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:3:\"bcc\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"BCC\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:4:\"body\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Body\";s:7:\"example\";s:17:\"Body
  of the email\";s:4:\"type\";s:6:\"string\";}s:2:\"cc\";O:8:\"stdClass\":3:{s:11:\"description\";s:2:\"CC\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"Direction\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:7:\"example\";s:8:\"Outbound\";s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"From\";s:7:\"example\";s:18:\"bill.wall@mail.com\";s:4:\"type\";s:6:\"string\";}s:13:\"owner_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Owner
  User Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Parent
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:11:\"parent_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Parent
  Type\";s:4:\"enum\";a:6:{i:0;s:7:\"account\";i:1;s:11:\"opportunity\";i:2;s:7:\"contact\";i:3;s:4:\"lead\";i:4;s:4:\"user\";i:5;s:4:\"task\";}s:7:\"example\";s:7:\"contact\";s:4:\"type\";s:6:\"string\";}s:7:\"sent_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:7:\"Sent
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Status\";s:4:\"enum\";a:3:{i:0;s:5:\"Draft\";i:1;s:7:\"Pending\";i:2;s:4:\"Sent\";}s:7:\"example\";s:4:\"Sent\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Subject\";s:7:\"example\";s:20:\"Subject
  of the email\";s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:2:\"To\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"EmailCreated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Email
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"EmailUpdate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:3:\"bcc\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"BCC\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:4:\"body\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Body\";s:7:\"example\";s:17:\"Body
  of the email\";s:4:\"type\";s:6:\"string\";}s:2:\"cc\";O:8:\"stdClass\":3:{s:11:\"description\";s:2:\"CC\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"Direction\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:7:\"example\";s:8:\"Outbound\";s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"From\";s:7:\"example\";s:18:\"bill.wall@mail.com\";s:4:\"type\";s:6:\"string\";}s:13:\"owner_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Owner
  User Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Parent
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:11:\"parent_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Parent
  Type\";s:4:\"enum\";a:6:{i:0;s:7:\"account\";i:1;s:11:\"opportunity\";i:2;s:7:\"contact\";i:3;s:4:\"lead\";i:4;s:4:\"user\";i:5;s:4:\"task\";}s:7:\"example\";s:7:\"contact\";s:4:\"type\";s:6:\"string\";}s:7:\"sent_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:7:\"Sent
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Status\";s:4:\"enum\";a:3:{i:0;s:5:\"Draft\";i:1;s:7:\"Pending\";i:2;s:4:\"Sent\";}s:7:\"example\";s:4:\"Sent\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Subject\";s:7:\"example\";s:20:\"Subject
  of the email\";s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:2:\"To\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"EmailUpdated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Email
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Event\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"embedded\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"access\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Access\";s:4:\"enum\";a:3:{i:0;s:6:\"Public\";i:1;s:7:\"Private\";i:2;s:5:\"Other\";}s:7:\"example\";s:6:\"Public\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:24:\"Description
  of the event\";s:4:\"type\";s:6:\"string\";}s:8:\"ended_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"Ended
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"is_all_day\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Is
  All Day\";s:4:\"type\";s:7:\"boolean\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Location\";s:7:\"example\";s:21:\"Location
  of the event\";s:4:\"type\";s:6:\"string\";}s:10:\"started_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Started
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Subject\";s:7:\"example\";s:20:\"Subject
  of the event\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Event
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:8:\"relation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"contact_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Contact
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:13:\"owner_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Owner
  User Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Parent
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:11:\"parent_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Parent
  Type\";s:4:\"enum\";a:6:{i:0;s:7:\"account\";i:1;s:7:\"contact\";i:2;s:4:\"lead\";i:3;s:11:\"opportunity\";i:4;s:4:\"task\";i:5;s:4:\"user\";}s:7:\"example\";s:7:\"contact\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:11:\"EventCreate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"access\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Access\";s:4:\"enum\";a:3:{i:0;s:6:\"Public\";i:1;s:7:\"Private\";i:2;s:5:\"Other\";}s:7:\"example\";s:6:\"Public\";s:4:\"type\";s:6:\"string\";}s:10:\"contact_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Contact
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:24:\"Description
  of the event\";s:4:\"type\";s:6:\"string\";}s:8:\"ended_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"Ended
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"is_all_day\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Is
  All Day\";s:4:\"type\";s:7:\"boolean\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Location\";s:7:\"example\";s:21:\"Location
  of the event\";s:4:\"type\";s:6:\"string\";}s:13:\"owner_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Owner
  User Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Parent
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:11:\"parent_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Parent
  Type\";s:4:\"enum\";a:6:{i:0;s:7:\"account\";i:1;s:7:\"contact\";i:2;s:4:\"lead\";i:3;s:11:\"opportunity\";i:4;s:4:\"task\";i:5;s:4:\"user\";}s:7:\"example\";s:7:\"contact\";s:4:\"type\";s:6:\"string\";}s:10:\"started_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Started
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Subject\";s:7:\"example\";s:20:\"Subject
  of the event\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"EventCreated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Event
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"EventUpdate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"access\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Access\";s:4:\"enum\";a:3:{i:0;s:6:\"Public\";i:1;s:7:\"Private\";i:2;s:5:\"Other\";}s:7:\"example\";s:6:\"Public\";s:4:\"type\";s:6:\"string\";}s:10:\"contact_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Contact
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Created
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:24:\"Description
  of the event\";s:4:\"type\";s:6:\"string\";}s:8:\"ended_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"Ended
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"is_all_day\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Is
  All Day\";s:4:\"type\";s:7:\"boolean\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Location\";s:7:\"example\";s:21:\"Location
  of the event\";s:4:\"type\";s:6:\"string\";}s:13:\"owner_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Owner
  User Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Parent
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:11:\"parent_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Parent
  Type\";s:4:\"enum\";a:6:{i:0;s:7:\"account\";i:1;s:7:\"contact\";i:2;s:4:\"lead\";i:3;s:11:\"opportunity\";i:4;s:4:\"task\";i:5;s:4:\"user\";}s:7:\"example\";s:7:\"contact\";s:4:\"type\";s:6:\"string\";}s:10:\"started_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Started
  At\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Subject\";s:7:\"example\";s:20:\"Subject
  of the event\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Updated
  At\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"EventUpdated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Event
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Lead\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"embedded\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":43:{s:12:\"account_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Account
  Name\";s:7:\"example\";s:9:\"Bill Wall\";s:4:\"type\";s:6:\"string\";}s:8:\"alt_city\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Alternative
  City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:11:\"alt_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Alternative
  Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:9:\"alt_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Alternative
  State\";s:7:\"example\";s:2:\"NY\";s:4:\"type\";s:6:\"string\";}s:10:\"alt_street\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Alternative
  Street\";s:7:\"example\";s:33:\"P.O. Box 300, 2698 Ultricies Road\";s:4:\"type\";s:6:\"string\";}s:12:\"alt_zip_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Alternative
  Zip Code\";s:7:\"example\";s:5:\"47212\";s:4:\"type\";s:6:\"string\";}s:14:\"annual_revenue\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Annual
  Revenue\";s:7:\"example\";i:100000;s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:10:\"birth_date\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Annual
  Revenue\";s:7:\"example\";s:10:\"1982-11-28\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Company\";s:7:\"example\";s:3:\"M&M\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Date
  Created\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Date
  Updated\";s:7:\"example\";s:24:\"2015-02-10T17:12:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"department\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Department\";s:7:\"example\";s:3:\"D2C\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:11:\"Description\";s:4:\"type\";s:6:\"string\";}s:11:\"do_not_call\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Do
  Not Call\";s:4:\"type\";s:7:\"boolean\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Email\";s:7:\"example\";s:18:\"bill.wall@mail.com\";s:4:\"type\";s:6:\"string\";}s:10:\"email_home\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Email
  Home\";s:7:\"example\";s:18:\"bill.wall@mail.com\";s:4:\"type\";s:6:\"string\";}s:11:\"email_other\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Email
  Other\";s:7:\"example\";s:22:\"bill.wall.alt@mail.com\";s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"Fax\";s:7:\"example\";s:17:\"+49
  9131 85 28732\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"First
  Name\";s:7:\"example\";s:4:\"Bill\";s:4:\"type\";s:6:\"string\";}s:8:\"industry\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"Industry\";s:4:\"enum\";a:28:{i:0;s:24:\"Informational
  Technology\";i:1;s:18:\"Telecommunications\";i:2;s:13:\"Manufacturing\";i:3;s:7:\"Banking\";i:4;s:10:\"Consulting\";i:5;s:7:\"Finance\";i:6;s:10:\"Government\";i:7;s:8:\"Delivery\";i:8;s:10:\"Non-Profit\";i:9;s:13:\"Entertainment\";i:10;s:13:\"Biotechnology\";i:11;s:9:\"Chemicals\";i:12;s:14:\"Communications\";i:13;s:12:\"Construction\";i:14;s:9:\"Education\";i:15;s:11:\"Electronics\";i:16;s:6:\"Energy\";i:17;s:11:\"Engineering\";i:18;s:13:\"Environmental\";i:19;s:11:\"Health
  care\";i:20;s:11:\"Hospitality\";i:21;s:9:\"Machinery\";i:22;s:5:\"Media\";i:23;s:10:\"Recreation\";i:24;s:6:\"Retail\";i:25;s:14:\"Transportation\";i:26;s:9:\"Utilities\";i:27;s:5:\"Other\";}s:7:\"example\";s:12:\"Construction\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Last
  Name\";s:7:\"example\";s:4:\"Wall\";s:4:\"type\";s:6:\"string\";}s:11:\"lead_source\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Lead
  Source\";s:4:\"enum\";a:17:{i:0;s:16:\"Personal Contact\";i:1;s:17:\"Existing Customer\";i:2;s:4:\"Call\";i:3;s:7:\"Website\";i:4;s:5:\"Email\";i:5;s:10:\"Conference\";i:6;s:10:\"Trade
  Show\";i:7;s:8:\"Employee\";i:8;s:8:\"Campaign\";i:9;s:2:\"HR\";i:10;s:12:\"Inbound
  Call\";i:11;s:4:\"Mail\";i:12;s:7:\"Partner\";i:13;s:13:\"Word of mouth\";i:14;s:14:\"Self
  Generated\";i:15;s:14:\"Purchased List\";i:16;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:23:\"lead_source_description\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Lead
  Source Description\";s:7:\"example\";s:19:\"Website Application\";s:4:\"type\";s:6:\"string\";}s:6:\"opened\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Opened\";s:4:\"type\";s:6:\"string\";}s:5:\"pager\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Pager
  Number\";s:7:\"example\";s:6:\"123-12\";s:4:\"type\";s:6:\"string\";}s:10:\"phone_home\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Phone
  Home\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_mobile\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Phone
  Mobile\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:11:\"phone_other\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Phone
  Other\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:10:\"phone_work\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Phone
  Work\";s:7:\"example\";s:14:\"(817) 569-8900\";s:4:\"type\";s:6:\"string\";}s:11:\"referred_by\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Referred
  By\";s:7:\"example\";s:9:\"Bill Wall\";s:4:\"type\";s:6:\"string\";}s:10:\"salutation\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Salutation\";s:7:\"example\";s:3:\"Mr.\";s:4:\"type\";s:6:\"string\";}s:8:\"skype_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Skype\";s:7:\"example\";s:9:\"bill.wall\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"State\";s:7:\"example\";s:2:\"NY\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Status\";s:4:\"enum\";a:15:{i:0;s:10:\"Unassigned\";i:1;s:20:\"Responsible
  Assigned\";i:2;s:19:\"Waiting for details\";i:3;s:14:\"Cannot contact\";i:4;s:7:\"On
  hold\";i:5;s:8:\"Restored\";i:6;s:11:\"In Progress\";i:7;s:9:\"Junk Lead\";i:8;s:9:\"Converted\";i:9;s:20:\"Attempted
  to contact\";i:10;s:17:\"Contact in Future\";i:11;s:9:\"Contacted\";i:12;s:9:\"Lost
  Lead\";i:13;s:13:\"Not Contacted\";i:14;s:13:\"Pre Qualified\";}s:7:\"example\";s:10:\"Unassigned\";s:4:\"type\";s:6:\"string\";}s:18:\"status_description\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Status
  Description\";s:7:\"example\";s:11:\"Description\";s:4:\"type\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Street\";s:7:\"example\";s:33:\"P.O.
  Box 300, 2698 Ultricies Road\";s:4:\"type\";s:6:\"string\";}s:5:\"suite\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Suite\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Title\";s:7:\"example\";s:5:\"Title\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Type\";s:7:\"example\";s:9:\"Bill
  Wall\";s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Website\";s:7:\"example\";s:18:\"http://google.com/\";s:4:\"type\";s:6:\"string\";}s:8:\"zip_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Zip
  Code\";s:7:\"example\";s:5:\"47212\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Lead
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:8:\"relation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"account_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Account
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:16:\"assigned_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Assigned
  User Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:11:\"campaign_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Campaign
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:10:\"contact_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Contact
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:8:\"event_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Event
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:14:\"opportunity_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Opportunity
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:8:\"owner_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Owner
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:7:\"task_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Task
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:10:\"LeadCreate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":51:{s:10:\"account_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Account
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:12:\"account_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Account
  Name\";s:7:\"example\";s:9:\"Bill Wall\";s:4:\"type\";s:6:\"string\";}s:8:\"alt_city\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Alternative
  City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:11:\"alt_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Alternative
  Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:9:\"alt_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Alternative
  State\";s:7:\"example\";s:2:\"NY\";s:4:\"type\";s:6:\"string\";}s:10:\"alt_street\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Alternative
  Street\";s:7:\"example\";s:33:\"P.O. Box 300, 2698 Ultricies Road\";s:4:\"type\";s:6:\"string\";}s:12:\"alt_zip_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Alternative
  Zip Code\";s:7:\"example\";s:5:\"47212\";s:4:\"type\";s:6:\"string\";}s:14:\"annual_revenue\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Annual
  Revenue\";s:7:\"example\";i:100000;s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:16:\"assigned_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Assigned
  User Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:10:\"birth_date\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Annual
  Revenue\";s:7:\"example\";s:10:\"1982-11-28\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"campaign_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Campaign
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"City\";s:7:\"example\";s:11:\"Brandenburg\";s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Company\";s:7:\"example\";s:3:\"M&M\";s:4:\"type\";s:6:\"string\";}s:10:\"contact_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Contact
  Identifier\";s:7:\"example\";s:8:\"21312411\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Country\";s:7:\"example\";s:3:\"USA\";s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Date
  Created\";s:7:\"example\";s:24:\"2015-01-01T05:18:23-0700\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Date
[...]
