---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:23:\"developers@squareup.com\";s:4:\"name\";s:25:\"Square
  Developer Platform\";s:3:\"url\";s:31:\"https://squareup.com/developers\";}s:11:\"description\";s:52:\"Client
  library for accessing the Square Connect APIs\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}s:14:\"termsOfService\";s:32:\"https://connect.squareup.com/tos\";s:5:\"title\";s:14:\"Square
  Connect\";s:7:\"version\";s:3:\"2.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"payment\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:73:\"https://api.apis.guru/v2/cache/logo/http_square.github.io_images_logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:82:\"https://raw.githubusercontent.com/square/connect-api-specification/master/api.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:12:\"squareup.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"squareup\";s:4:\"type\";s:7:\"openapi\";}}"
host: connect.squareup.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":160:{s:7:\"Address\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Represents
  a physical address.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:14:\"address_line_1\";O:8:\"stdClass\":2:{s:11:\"description\";s:294:\"The
  first line of the address.\n\nFields that start with `address_line` provide the
  address's most specific\ndetails, like street number, street name, and building
  name. They do *not*\nprovide less specific details like city, state/province, or
  country (these\ndetails are provided in other fields).\";s:4:\"type\";s:6:\"string\";}s:14:\"address_line_2\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  second line of the address, if any.\";s:4:\"type\";s:6:\"string\";}s:14:\"address_line_3\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  third line of the address, if any.\";s:4:\"type\";s:6:\"string\";}s:31:\"administrative_district_level_1\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"A
  civil entity within the address's country. In the US, this\nis the state.\";s:4:\"type\";s:6:\"string\";}s:31:\"administrative_district_level_2\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"A
  civil entity within the address's `administrative_district_level_1`.\nIn the US,
  this is the county.\";s:4:\"type\";s:6:\"string\";}s:31:\"administrative_district_level_3\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"A
  civil entity within the address's `administrative_district_level_2`,\nif any.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  address's country, in ISO 3166-1-alpha-2 format.\";s:4:\"enum\";a:250:{i:0;s:2:\"ZZ\";i:1;s:2:\"AD\";i:2;s:2:\"AE\";i:3;s:2:\"AF\";i:4;s:2:\"AG\";i:5;s:2:\"AI\";i:6;s:2:\"AL\";i:7;s:2:\"AM\";i:8;s:2:\"AO\";i:9;s:2:\"AQ\";i:10;s:2:\"AR\";i:11;s:2:\"AS\";i:12;s:2:\"AT\";i:13;s:2:\"AU\";i:14;s:2:\"AW\";i:15;s:2:\"AX\";i:16;s:2:\"AZ\";i:17;s:2:\"BA\";i:18;s:2:\"BB\";i:19;s:2:\"BD\";i:20;s:2:\"BE\";i:21;s:2:\"BF\";i:22;s:2:\"BG\";i:23;s:2:\"BH\";i:24;s:2:\"BI\";i:25;s:2:\"BJ\";i:26;s:2:\"BL\";i:27;s:2:\"BM\";i:28;s:2:\"BN\";i:29;s:2:\"BO\";i:30;s:2:\"BQ\";i:31;s:2:\"BR\";i:32;s:2:\"BS\";i:33;s:2:\"BT\";i:34;s:2:\"BV\";i:35;s:2:\"BW\";i:36;s:2:\"BY\";i:37;s:2:\"BZ\";i:38;s:2:\"CA\";i:39;s:2:\"CC\";i:40;s:2:\"CD\";i:41;s:2:\"CF\";i:42;s:2:\"CG\";i:43;s:2:\"CH\";i:44;s:2:\"CI\";i:45;s:2:\"CK\";i:46;s:2:\"CL\";i:47;s:2:\"CM\";i:48;s:2:\"CN\";i:49;s:2:\"CO\";i:50;s:2:\"CR\";i:51;s:2:\"CU\";i:52;s:2:\"CV\";i:53;s:2:\"CW\";i:54;s:2:\"CX\";i:55;s:2:\"CY\";i:56;s:2:\"CZ\";i:57;s:2:\"DE\";i:58;s:2:\"DJ\";i:59;s:2:\"DK\";i:60;s:2:\"DM\";i:61;s:2:\"DO\";i:62;s:2:\"DZ\";i:63;s:2:\"EC\";i:64;s:2:\"EE\";i:65;s:2:\"EG\";i:66;s:2:\"EH\";i:67;s:2:\"ER\";i:68;s:2:\"ES\";i:69;s:2:\"ET\";i:70;s:2:\"FI\";i:71;s:2:\"FJ\";i:72;s:2:\"FK\";i:73;s:2:\"FM\";i:74;s:2:\"FO\";i:75;s:2:\"FR\";i:76;s:2:\"GA\";i:77;s:2:\"GB\";i:78;s:2:\"GD\";i:79;s:2:\"GE\";i:80;s:2:\"GF\";i:81;s:2:\"GG\";i:82;s:2:\"GH\";i:83;s:2:\"GI\";i:84;s:2:\"GL\";i:85;s:2:\"GM\";i:86;s:2:\"GN\";i:87;s:2:\"GP\";i:88;s:2:\"GQ\";i:89;s:2:\"GR\";i:90;s:2:\"GS\";i:91;s:2:\"GT\";i:92;s:2:\"GU\";i:93;s:2:\"GW\";i:94;s:2:\"GY\";i:95;s:2:\"HK\";i:96;s:2:\"HM\";i:97;s:2:\"HN\";i:98;s:2:\"HR\";i:99;s:2:\"HT\";i:100;s:2:\"HU\";i:101;s:2:\"ID\";i:102;s:2:\"IE\";i:103;s:2:\"IL\";i:104;s:2:\"IM\";i:105;s:2:\"IN\";i:106;s:2:\"IO\";i:107;s:2:\"IQ\";i:108;s:2:\"IR\";i:109;s:2:\"IS\";i:110;s:2:\"IT\";i:111;s:2:\"JE\";i:112;s:2:\"JM\";i:113;s:2:\"JO\";i:114;s:2:\"JP\";i:115;s:2:\"KE\";i:116;s:2:\"KG\";i:117;s:2:\"KH\";i:118;s:2:\"KI\";i:119;s:2:\"KM\";i:120;s:2:\"KN\";i:121;s:2:\"KP\";i:122;s:2:\"KR\";i:123;s:2:\"KW\";i:124;s:2:\"KY\";i:125;s:2:\"KZ\";i:126;s:2:\"LA\";i:127;s:2:\"LB\";i:128;s:2:\"LC\";i:129;s:2:\"LI\";i:130;s:2:\"LK\";i:131;s:2:\"LR\";i:132;s:2:\"LS\";i:133;s:2:\"LT\";i:134;s:2:\"LU\";i:135;s:2:\"LV\";i:136;s:2:\"LY\";i:137;s:2:\"MA\";i:138;s:2:\"MC\";i:139;s:2:\"MD\";i:140;s:2:\"ME\";i:141;s:2:\"MF\";i:142;s:2:\"MG\";i:143;s:2:\"MH\";i:144;s:2:\"MK\";i:145;s:2:\"ML\";i:146;s:2:\"MM\";i:147;s:2:\"MN\";i:148;s:2:\"MO\";i:149;s:2:\"MP\";i:150;s:2:\"MQ\";i:151;s:2:\"MR\";i:152;s:2:\"MS\";i:153;s:2:\"MT\";i:154;s:2:\"MU\";i:155;s:2:\"MV\";i:156;s:2:\"MW\";i:157;s:2:\"MX\";i:158;s:2:\"MY\";i:159;s:2:\"MZ\";i:160;s:2:\"NA\";i:161;s:2:\"NC\";i:162;s:2:\"NE\";i:163;s:2:\"NF\";i:164;s:2:\"NG\";i:165;s:2:\"NI\";i:166;s:2:\"NL\";i:167;s:2:\"NO\";i:168;s:2:\"NP\";i:169;s:2:\"NR\";i:170;s:2:\"NU\";i:171;s:2:\"NZ\";i:172;s:2:\"OM\";i:173;s:2:\"PA\";i:174;s:2:\"PE\";i:175;s:2:\"PF\";i:176;s:2:\"PG\";i:177;s:2:\"PH\";i:178;s:2:\"PK\";i:179;s:2:\"PL\";i:180;s:2:\"PM\";i:181;s:2:\"PN\";i:182;s:2:\"PR\";i:183;s:2:\"PS\";i:184;s:2:\"PT\";i:185;s:2:\"PW\";i:186;s:2:\"PY\";i:187;s:2:\"QA\";i:188;s:2:\"RE\";i:189;s:2:\"RO\";i:190;s:2:\"RS\";i:191;s:2:\"RU\";i:192;s:2:\"RW\";i:193;s:2:\"SA\";i:194;s:2:\"SB\";i:195;s:2:\"SC\";i:196;s:2:\"SD\";i:197;s:2:\"SE\";i:198;s:2:\"SG\";i:199;s:2:\"SH\";i:200;s:2:\"SI\";i:201;s:2:\"SJ\";i:202;s:2:\"SK\";i:203;s:2:\"SL\";i:204;s:2:\"SM\";i:205;s:2:\"SN\";i:206;s:2:\"SO\";i:207;s:2:\"SR\";i:208;s:2:\"SS\";i:209;s:2:\"ST\";i:210;s:2:\"SV\";i:211;s:2:\"SX\";i:212;s:2:\"SY\";i:213;s:2:\"SZ\";i:214;s:2:\"TC\";i:215;s:2:\"TD\";i:216;s:2:\"TF\";i:217;s:2:\"TG\";i:218;s:2:\"TH\";i:219;s:2:\"TJ\";i:220;s:2:\"TK\";i:221;s:2:\"TL\";i:222;s:2:\"TM\";i:223;s:2:\"TN\";i:224;s:2:\"TO\";i:225;s:2:\"TR\";i:226;s:2:\"TT\";i:227;s:2:\"TV\";i:228;s:2:\"TW\";i:229;s:2:\"TZ\";i:230;s:2:\"UA\";i:231;s:2:\"UG\";i:232;s:2:\"UM\";i:233;s:2:\"US\";i:234;s:2:\"UY\";i:235;s:2:\"UZ\";i:236;s:2:\"VA\";i:237;s:2:\"VC\";i:238;s:2:\"VE\";i:239;s:2:\"VG\";i:240;s:2:\"VI\";i:241;s:2:\"VN\";i:242;s:2:\"VU\";i:243;s:2:\"WF\";i:244;s:2:\"WS\";i:245;s:2:\"YE\";i:246;s:2:\"YT\";i:247;s:2:\"ZA\";i:248;s:2:\"ZM\";i:249;s:2:\"ZW\";}s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Optional
  first name when it's representing recipient.\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Optional
  last name when it's representing recipient.\";s:4:\"type\";s:6:\"string\";}s:8:\"locality\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  city or town of the address.\";s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Optional
  organization name when it's representing recipient.\";s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  address's postal code.\";s:4:\"type\";s:6:\"string\";}s:11:\"sublocality\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"A
  civil region within the address's `locality`, if any.\";s:4:\"type\";s:6:\"string\";}s:13:\"sublocality_2\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"A
  civil region within the address's `sublocality`, if any.\";s:4:\"type\";s:6:\"string\";}s:13:\"sublocality_3\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  civil region within the address's `sublocality_2`, if any.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"BatchDeleteCatalogObjectsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"object_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:300:\"The
  IDs of the [CatalogObject](#type-catalogobject)s to be deleted. When an object is
  deleted, other objects\nin the graph that depend on that object will be deleted
  as well (for example, deleting a\n[CatalogItem](#type-catalogitem) will delete its
  [CatalogItemVariation](#type-catalogitemvariation)s).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:86:\"/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsRequest.csharp\";s:3:\"php\";s:83:\"/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsRequest.php\";s:6:\"python\";s:86:\"/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsRequest.python\";s:4:\"ruby\";s:84:\"/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsRequest.ruby\";}}s:33:\"BatchDeleteCatalogObjectsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"deleted_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  database [timestamp](#workingwithdates) of this deletion in RFC 3339 format, e.g.,
  \"2016-09-04T23:59:33.123Z\".\";s:4:\"type\";s:6:\"string\";}s:18:\"deleted_object_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  IDs of all [CatalogObject](#type-catalogobject)s deleted by this request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  set of [Error](#type-error)s encountered.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:87:\"/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsResponse.csharp\";s:3:\"php\";s:84:\"/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsResponse.php\";s:6:\"python\";s:87:\"/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsResponse.python\";s:4:\"ruby\";s:85:\"/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsResponse.ruby\";}}s:34:\"BatchRetrieveCatalogObjectsRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"include_related_objects\";O:8:\"stdClass\":2:{s:11:\"description\";s:616:\"If
  `true`, the response will include additional objects that are related to the\nrequested
  objects, as follows:\n\nIf the `objects` field of the response contains a [CatalogItem](#type-catalogitem),\nits
  associated [CatalogCategory](#type-catalogcategory), [CatalogTax](#type-catalogtax)es,
  and\n[CatalogModifierList](#type-catalogmodifierlist)s will be returned in the `related_objects`
  field of the\nresponse. If the `objects` field of the response contains a [CatalogItemVariation](#type-catalogitemvariation),\nits
  parent [CatalogItem](#type-catalogitem) will be returned in the `related_objects`
  field of\nthe response.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"object_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  IDs of the [CatalogObject](#type-catalogobject)s to be retrieved.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:10:\"object_ids\";}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:90:\"/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.csharp\";s:3:\"php\";s:87:\"/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.php\";s:6:\"python\";s:90:\"/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.python\";s:4:\"ruby\";s:88:\"/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.ruby\";}}s:35:\"BatchRetrieveCatalogObjectsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  set of [Error](#type-error)s encountered.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:7:\"objects\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"A
  list of [CatalogObject](#type-catalogobject)s returned.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CatalogObject\";}s:4:\"type\";s:5:\"array\";}s:15:\"related_objects\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"A
  list of [CatalogObject](#type-catalogobject)s referenced by the object in the `objects`
  field.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CatalogObject\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:91:\"/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsResponse.csharp\";s:3:\"php\";s:88:\"/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsResponse.php\";s:6:\"python\";s:91:\"/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsResponse.python\";s:4:\"ruby\";s:89:\"/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsResponse.ruby\";}}s:32:\"BatchUpsertCatalogObjectsRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"batches\";O:8:\"stdClass\":3:{s:11:\"description\";s:1403:\"A
  batch of [CatalogObject](#type-catalogobject)s to be inserted/updated atomically.\nThe
  objects within a batch will be inserted in an all-or-nothing fashion, i.e., if an
  error occurs\nattempting to insert or update an object within a batch, the entire
  batch will be rejected. However, an error\nin one batch will not affect other batches
  within the same request.\n\nFor each object, its `updated_at` field is ignored and
  replaced with a current [timestamp](#workingwithdates), and its\n`is_deleted` field
  must not be set to `true`.\n\nTo modify an existing object, supply its ID. To create
  a new object, use an ID starting\nwith `#`. These IDs may be used to create relationships
  between an object and attributes of\nother objects that reference it. For example,
  you can create a [CatalogItem](#type-catalogitem) with\nID `#ABC` and a [CatalogItemVariation](#type-catalogitemvariation)
  with its `item_id` attribute set to\n`#ABC` in order to associate the [CatalogItemVariation](#type-catalogitemvariation)
  with its parent\n[CatalogItem](#type-catalogitem).\n\nAny `#`-prefixed IDs are valid
  only within a single atomic batch, and will be replaced by server-generated IDs.\n\nEach
  batch may contain up to 1,000 objects. The total number of objects across all batches
  for a single request\nmay not exceed 10,000. If either of these limits is violated,
  an error will be returned and no objects will\nbe inserted or updated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CatalogObjectBatch\";}s:4:\"type\";s:5:\"array\";}s:15:\"idempotency_key\";O:8:\"stdClass\":3:{s:11:\"description\";s:408:\"A
  value you specify that uniquely identifies this\nrequest among all your requests.
  A common way to create\na valid idempotency key is to use a Universally unique\nidentifier
  (UUID).\n\nIf you're unsure whether a particular request was successful,\nyou can
  reattempt it with the same idempotency key without\nworrying about creating duplicate
  objects.\n\nSee [Idempotency keys](#idempotencykeys) for more information.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:15:\"idempotency_key\";}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:86:\"/sdk_samples/Catalog/BatchUpsertCatalogObjects/BatchUpsertCatalogObjectsRequest.csharp\";s:3:\"php\";s:83:\"/sdk_samples/Catalog/BatchUpsertCatalogObjects/BatchUpsertCatalogObjectsRequest.php\";s:6:\"python\";s:86:\"/sdk_samples/Catalog/BatchUpsertCatalogObjects/BatchUpsertCatalogObjectsRequest.python\";s:4:\"ruby\";s:84:\"/sdk_samples/Catalog/BatchUpsertCatalogObjects/BatchUpsertCatalogObjectsRequest.ruby\";}}s:33:\"BatchUpsertCatalogObjectsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  set of [Error](#type-error)s encountered.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:11:\"id_mappings\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  mapping between client and server IDs for this Upsert.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CatalogIdMapping\";}s:4:\"type\";s:5:\"array\";}s:7:\"objects\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  created [CatalogObject](#type-catalogobject)s\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CatalogObject\";}s:4:\"type\";s:5:\"array\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"The
  database [timestamp](#workingwithdates) of this update in RFC 3339 format, e.g.,
  \"2016-09-04T23:59:33.123Z\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:87:\"/sdk_samples/Catalog/BatchUpsertCatalogObjects/BatchUpsertCatalogObjectsResponse.csharp\";s:3:\"php\";s:84:\"/sdk_samples/Catalog/BatchUpsertCatalogObjects/BatchUpsertCatalogObjectsResponse.php\";s:6:\"python\";s:87:\"/sdk_samples/Catalog/BatchUpsertCatalogObjects/BatchUpsertCatalogObjectsResponse.python\";s:4:\"ruby\";s:85:\"/sdk_samples/Catalog/BatchUpsertCatalogObjects/BatchUpsertCatalogObjectsResponse.ruby\";}}s:25:\"CaptureTransactionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:64:\"/sdk_samples/CaptureTransaction/CaptureTransactionRequest.csharp\";s:3:\"php\";s:61:\"/sdk_samples/CaptureTransaction/CaptureTransactionRequest.php\";s:6:\"python\";s:64:\"/sdk_samples/CaptureTransaction/CaptureTransactionRequest.python\";s:4:\"ruby\";s:62:\"/sdk_samples/CaptureTransaction/CaptureTransactionRequest.ruby\";}}s:26:\"CaptureTransactionResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:138:\"Defines
  the fields that are included in the response body of\na request to the [CaptureTransaction](#endpoint-capturetransaction)
  endpoint.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Any
  errors that occurred during the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:65:\"/sdk_samples/CaptureTransaction/CaptureTransactionResponse.csharp\";s:3:\"php\";s:62:\"/sdk_samples/CaptureTransaction/CaptureTransactionResponse.php\";s:6:\"python\";s:65:\"/sdk_samples/CaptureTransaction/CaptureTransactionResponse.python\";s:4:\"ruby\";s:63:\"/sdk_samples/CaptureTransaction/CaptureTransactionResponse.ruby\";}}s:4:\"Card\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Represents
  the non-confidential details of a credit card.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"billing_address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:107:\"The
  card's billing address. This value is present only if this object\nrepresents a
  customer's card on file.\";}s:10:\"card_brand\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"The
  card's brand (such as `VISA`). See [CardBrand](#type-cardbrand)\nfor all possible
  values.\";s:4:\"enum\";a:9:{i:0;s:11:\"OTHER_BRAND\";i:1;s:4:\"VISA\";i:2;s:10:\"MASTERCARD\";i:3;s:16:\"AMERICAN_EXPRESS\";i:4;s:8:\"DISCOVER\";i:5;s:15:\"DISCOVER_DINERS\";i:6;s:3:\"JCB\";i:7;s:14:\"CHINA_UNIONPAY\";i:8;s:16:\"SQUARE_GIFT_CARD\";}s:4:\"type\";s:6:\"string\";}s:15:\"cardholder_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"The
  cardholder name. This value is present only if this object\nrepresents a customer's
  card on file.\";s:4:\"type\";s:6:\"string\";}s:9:\"exp_month\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  month of the card's expiration date. This value is always between\n`1` and `12`,
  inclusive.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"exp_year\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  four-digit year of the card's expiration date.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"fingerprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:291:\"The
  unique string fingerprint for the card. \nThe fingerprint is based on the credit
  card number and is unique to the merchant. \nIf a card is used at multiple locations
  for the same merchant, it will have the same fingerprint in each case.\nNote: Fingerprint
  may not exist on old transactions.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  card's unique ID, if any.\";s:4:\"type\";s:6:\"string\";}s:6:\"last_4\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  last 4 digits of the card's number.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"CardBrand\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Indicates
  a credit card's brand, such as `VISA`.\";s:4:\"enum\";a:9:{i:0;s:11:\"OTHER_BRAND\";i:1;s:4:\"VISA\";i:2;s:10:\"MASTERCARD\";i:3;s:16:\"AMERICAN_EXPRESS\";i:4;s:8:\"DISCOVER\";i:5;s:15:\"DISCOVER_DINERS\";i:6;s:3:\"JCB\";i:7;s:14:\"CHINA_UNIONPAY\";i:8;s:16:\"SQUARE_GIFT_CARD\";}s:4:\"type\";s:6:\"string\";}s:15:\"CatalogCategory\";O:8:\"stdClass\":4:{s:11:\"description\";s:92:\"A
  category to which an [CatalogItem](#type-catalogitem) belongs in the Catalog object
  model.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  category's name. Searchable.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:15:\"CatalogDiscount\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"A
  discount in the Catalog object model.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"amount_money\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:164:\"The
  amount of the discount. Specify an amount of `0` if `discount_type` is `VARIABLE_AMOUNT`.\n\nDo
  not include this field for percentage-based or variable discounts.\";}s:13:\"discount_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"Indicates
  whether the discount is a fixed amount or percentage, or entered at the time of
  sale.\nSee [CatalogDiscountType](#type-catalogdiscounttype) for all possible values.\";s:4:\"enum\";a:4:{i:0;s:16:\"FIXED_PERCENTAGE\";i:1;s:12:\"FIXED_AMOUNT\";i:2;s:19:\"VARIABLE_PERCENTAGE\";i:3;s:15:\"VARIABLE_AMOUNT\";}s:4:\"type\";s:6:\"string\";}s:11:\"label_color\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  color of the discount's display label in the Square Point of Sale app.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  discount's name. Searchable.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"percentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:319:\"The
  percentage of the discount as a string representation of a decimal number, using
  a `.` as the decimal\nseparator and without a `%` sign. A value of `7.5` corresponds
  to `7.5%`. Specify a percentage of `0` if `discount_type`\nis `VARIABLE_PERCENTAGE`.\n\nDo
  not include this field for amount-based or variable discounts.\";s:4:\"type\";s:6:\"string\";}s:12:\"pin_required\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Indicates
  whether a mobile staff member needs to enter their PIN to apply the\ndiscount to
  a payment in the Square Point of Sale app.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:19:\"CatalogDiscountType\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"How
  to apply a [CatalogDiscount](#type-catalogdiscount) to a [CatalogItem](#type-catalogitem).\";s:4:\"enum\";a:4:{i:0;s:16:\"FIXED_PERCENTAGE\";i:1;s:12:\"FIXED_AMOUNT\";i:2;s:19:\"VARIABLE_PERCENTAGE\";i:3;s:15:\"VARIABLE_AMOUNT\";}s:4:\"type\";s:6:\"string\";}s:16:\"CatalogIdMapping\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"A
  mapping between a client-supplied temporary ID and a permanent server ID.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"client_object_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  client-supplied, temporary `#`-prefixed ID for a new [CatalogObject](#type-catalogobject).\";s:4:\"type\";s:6:\"string\";}s:9:\"object_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"The
  permanent ID for the [CatalogObject](#type-catalogobject) created by the server.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CatalogInfoRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:58:\"/sdk_samples/Catalog/CatalogInfo/CatalogInfoRequest.csharp\";s:3:\"php\";s:55:\"/sdk_samples/Catalog/CatalogInfo/CatalogInfoRequest.php\";s:6:\"python\";s:58:\"/sdk_samples/Catalog/CatalogInfo/CatalogInfoRequest.python\";s:4:\"ruby\";s:56:\"/sdk_samples/Catalog/CatalogInfo/CatalogInfoRequest.ruby\";}}s:19:\"CatalogInfoResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  set of [Error](#type-error)s encountered.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"limits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/CatalogInfoResponseLimits\";s:11:\"description\";s:0:\"\";}}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:59:\"/sdk_samples/Catalog/CatalogInfo/CatalogInfoResponse.csharp\";s:3:\"php\";s:56:\"/sdk_samples/Catalog/CatalogInfo/CatalogInfoResponse.php\";s:6:\"python\";s:59:\"/sdk_samples/Catalog/CatalogInfo/CatalogInfoResponse.python\";s:4:\"ruby\";s:57:\"/sdk_samples/Catalog/CatalogInfo/CatalogInfoResponse.ruby\";}}s:25:\"CatalogInfoResponseLimits\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":11:{s:27:\"batch_delete_max_object_ids\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"The
  maximum number of object IDs that may be included in a single\n`/v2/catalog/batch-delete`
  request.\";s:4:\"type\";s:7:\"integer\";}s:29:\"batch_retrieve_max_object_ids\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"The
  maximum number of object IDs that may appear in a `/v2/catalog/batch-retrieve`\nrequest.\";s:4:\"type\";s:7:\"integer\";}s:34:\"batch_upsert_max_objects_per_batch\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  maximum number of objects that may appear within a single batch in a\n`/v2/catalog/batch-upsert`
  request.\";s:4:\"type\";s:7:\"integer\";}s:30:\"batch_upsert_max_total_objects\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"The
  maximum number of objects that may appear across all batches in a\n`/v2/catalog/batch-upsert`
  request.\";s:4:\"type\";s:7:\"integer\";}s:21:\"search_max_page_limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  maximum number of results that may be returned in a page of a\n`/v2/catalog/search`
  response.\";s:4:\"type\";s:7:\"integer\";}s:39:\"update_item_modifier_lists_max_item_ids\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  maximum number of item IDs that may be included in a single\n`/v2/catalog/update-item-modifier-lists`
  request.\";s:4:\"type\";s:7:\"integer\";}s:56:\"update_item_modifier_lists_max_modifier_lists_to_disable\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"The
  maximum number of modifier list IDs to be disabled that may be included in\na single
  `/v2/catalog/update-item-modifier-lists` request.\";s:4:\"type\";s:7:\"integer\";}s:55:\"update_item_modifier_lists_max_modifier_lists_to_enable\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"The
  maximum number of modifier list IDs to be enabled that may be included in\na single
  `/v2/catalog/update-item-modifier-lists` request.\";s:4:\"type\";s:7:\"integer\";}s:30:\"update_item_taxes_max_item_ids\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  maximum number of item IDs that may be included in a single\n`/v2/catalog/update-item-taxes`
  request.\";s:4:\"type\";s:7:\"integer\";}s:38:\"update_item_taxes_max_taxes_to_disable\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  maximum number of tax IDs to be disabled that may be included in a single\n`/v2/catalog/update-item-taxes`
  request.\";s:4:\"type\";s:7:\"integer\";}s:37:\"update_item_taxes_max_taxes_to_enable\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  maximum number of tax IDs to be enabled that may be included in a single\n`/v2/catalog/update-item-taxes`
  request.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CatalogItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"An
  item (i.e., product family) in the Catalog object model.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:12:\"abbreviation\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"The
  text of the item's display label in the Square Point of Sale app. Only up to the
  first five characters of the string are used.  Searchable.\";s:4:\"type\";s:6:\"string\";}s:24:\"available_electronically\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"If
  `true`, the item can be added to electronically fulfilled orders from the merchant's
  online store.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"available_for_pickup\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"If
  `true`, the item can be added to pickup orders from the merchant's online store.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"available_online\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"If
  `true`, the item can be added to shipping orders from the merchant's online store.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"category_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  ID of the item's category, if any.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  item's description. Searchable.\";s:4:\"type\";s:6:\"string\";}s:9:\"image_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  URL of an image representing this item.\";s:4:\"type\";s:6:\"string\";}s:11:\"label_color\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  color of the item's display label in the Square Point of Sale app.\";s:4:\"type\";s:6:\"string\";}s:18:\"modifier_list_info\";O:8:\"stdClass\":3:{s:11:\"description\";s:346:\"A
  set of [CatalogItemModifierListInfo](#type-catalogitemmodifierlistinfo) objects\nrepresenting
  the modifier lists that apply to this item, along with the overrides and min\nand
  max limits that are specific to this item. [CatalogModifierList](#type-catalogmodifierlist)s\nmay
  also be added to or deleted from an item using `UpdateItemModifierLists`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/CatalogItemModifierListInfo\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  item's name. Searchable.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:12:\"product_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:275:\"The
  product type of the item. May not be changed once an item has been created.\n\nOnly
  items of product type `REGULAR` may be created by this API; items with other product\ntypes
  are read-only. See [CatalogItemProductType](#type-catalogitemproducttype) for all
  possible values.\";s:4:\"enum\";a:5:{i:0;s:7:\"REGULAR\";i:1;s:9:\"GIFT_CARD\";i:2;s:20:\"APPOINTMENTS_SERVICE\";i:3;s:11:\"RETAIL_ITEM\";i:4;s:15:\"RESTAURANT_ITEM\";}s:4:\"type\";s:6:\"string\";}s:20:\"skip_modifier_screen\";O:8:\"stdClass\":2:{s:11:\"description\";s:520:\"If
  `false`, the Square Point of Sale app will present the [CatalogItem](#type-catalogitem)'s\ndetails
  screen immediately, allowing the merchant to choose [CatalogModifier](#type-catalogmodifier)s\nbefore
  adding the item to the cart.  This is the default behavior.\n\nIf `true`, the Square
  Point of Sale app will immediately add the item to the cart with the pre-selected\nmodifiers,
  and merchants can edit modifiers by drilling down onto the item's details.\n\nThird-party
  clients are encouraged to implement similar behaviors.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"tax_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:267:\"A
  set of IDs indicating the [CatalogTax](#type-catalogtax)es that are enabled for\nthis
  item. When updating an item, any taxes listed here will be added to the item.\n[CatalogTax](#type-catalogtax)es
  may also be added to or deleted from an item using `UpdateItemTaxes`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"variations\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"A
  list of [CatalogObject](#type-catalogobject)s containing the [CatalogItemVariation](#type-catalogitemvariation)s
  for this item.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CatalogObject\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:27:\"CatalogItemModifierListInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:133:\"Controls
  the properties of a [CatalogModifierList](#type-catalogmodifierlist) as it applies
  to this [CatalogItem](#type-catalogitem).\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"If
  `true`, enable this [CatalogModifierList](#type-catalogmodifierlist).\";s:4:\"type\";s:7:\"boolean\";}s:22:\"max_selected_modifiers\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"If
  zero or larger, the largest number of [CatalogModifier](#type-catalogmodifier)s
  that can be selected from this [CatalogModifierList](#type-catalogmodifierlist).\";s:4:\"type\";s:7:\"integer\";}s:22:\"min_selected_modifiers\";O:8:\"stdClass\":2:{s:11:\"description\";s:165:\"If
  zero or larger, the smallest number of [CatalogModifier](#type-catalogmodifier)s
  that must be selected from this [CatalogModifierList](#type-catalogmodifierlist).\";s:4:\"type\";s:7:\"integer\";}s:16:\"modifier_list_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"The
  ID of the [CatalogModifierList](#type-catalogmodifierlist) controlled by this [CatalogModifierListInfo](#type-catalogmodifierlistinfo).\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:18:\"modifier_overrides\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"A
  set of [CatalogModifierOverride](#type-catalogmodifieroverride) objects that override
  whether a given [CatalogModifier](#type-catalogmodifier) is enabled by default.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CatalogModifierOverride\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:16:\"modifier_list_id\";}s:4:\"type\";s:6:\"object\";}s:22:\"CatalogItemProductType\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  type of a [CatalogItem](#type-catalogitem). Connect V2 only allows the creation
  of `REGULAR` items.\";s:4:\"enum\";a:5:{i:0;s:7:\"REGULAR\";i:1;s:9:\"GIFT_CARD\";i:2;s:20:\"APPOINTMENTS_SERVICE\";i:3;s:11:\"RETAIL_ITEM\";i:4;s:15:\"RESTAURANT_ITEM\";}s:4:\"type\";s:6:\"string\";}s:20:\"CatalogItemVariation\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"An
  item variation (i.e., product) in the Catalog object model.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:25:\"inventory_alert_threshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:218:\"If
  the inventory quantity for the variation is less than or equal to this value and
  `inventory_alert_type`\nis `LOW_QUANTITY`, the variation displays an alert in the
  merchant dashboard.\n\nThis value is always an integer.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:20:\"inventory_alert_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:216:\"Indicates
  whether the item variation displays an alert when its inventory quantity is less
  than or equal\nto its `inventory_alert_threshold`. See [InventoryAlertType](#type-inventoryalerttype)
  for all possible values.\";s:4:\"enum\";a:2:{i:0;s:4:\"NONE\";i:1;s:12:\"LOW_QUANTITY\";}s:4:\"type\";s:6:\"string\";}s:7:\"item_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  ID of the [CatalogItem](#type-catalogitem) associated with this item variation.
  Searchable.\";s:4:\"type\";s:6:\"string\";}s:18:\"location_overrides\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Per-[location][#type-location]
  price and inventory overrides.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/ItemVariationLocationOverrides\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  item variation's name. Searchable.\";s:4:\"type\";s:6:\"string\";}s:11:\"price_money\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:53:\"The
  item variation's price, if fixed pricing is used.\";}s:12:\"pricing_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:164:\"Indicates
  whether the item variation's price is fixed or determined at the time\nof sale.
  See [CatalogPricingType](#type-catalogpricingtype) for all possible values.\";s:4:\"enum\";a:2:{i:0;s:13:\"FIXED_PRICING\";i:1;s:16:\"VARIABLE_PRICING\";}s:4:\"type\";s:6:\"string\";}s:16:\"service_duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:322:\"If
  the [CatalogItem](#type-catalogitem) that owns this item variation is of type\n`APPOINTMENTS_SERVICE`,
  then this is the duration of the service in milliseconds. For\nexample, a 30 minute
  appointment would have the value `1800000`, which is equal to\n30 (minutes) * 60
  (seconds per minute) * 1000 (milliseconds per second).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  item variation's SKU, if any. Searchable.\";s:4:\"type\";s:6:\"string\";}s:15:\"track_inventory\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"If
  `true`, inventory tracking is active for the variation.\";s:4:\"type\";s:7:\"boolean\";}s:3:\"upc\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  item variation's UPC, if any. Searchable.\";s:4:\"type\";s:6:\"string\";}s:9:\"user_data\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Arbitrary
  user metadata to associate with the item variation. Cannot exceed 255 characters.
  Searchable.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CatalogModifier\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"A
  modifier in the Catalog object model.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  modifier's name. Searchable.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"price_money\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:21:\"The
  modifier's price.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:19:\"CatalogModifierList\";O:8:\"stdClass\":4:{s:11:\"description\";s:526:\"A
  modifier list in the Catalog object model. A [CatalogModifierList](#type-catalogmodifierlist)\ncontains
  [Modifier](#type-catalogmodifier)s that can be applied to a [CatalogItem](#type-catalogitem)\nat
  the time of sale.\n\nFor example, a modifier list \"Condiments\" that would apply
  to a \"Hot Dog\" [CatalogItem](#type-catalogitem) might\ncontain [CatalogModifier](#type-catalogmodifier)s
  \"Ketchup\", \"Mustard\", and \"Relish\". The\n`selection_type` field specifies
  whether or not multiple selections from the modifier list are allowed.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"modifiers\";O:8:\"stdClass\":3:{s:11:\"description\";s:276:\"The
  options included in the [CatalogModifierList](#type-catalogmodifierlist).\nYou must
  include at least one [CatalogModifier](#type-catalogmodifier).\nEach [CatalogObject](#type-catalogobject)
  must have type `MODIFIER` and contain\n[CatalogModifier](#type-catalogmodifier)
  data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CatalogObject\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  [CatalogModifierList](#type-catalogmodifierlist)'s name. Searchable.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:14:\"selection_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:257:\"Indicates
  whether multiple options from the [CatalogModifierList](#type-catalogmodifierlist)\ncan
  be applied to a single [CatalogItem](#type-catalogitem). See\n[CatalogModifierListSelectionType](#type-catalogmodifierlistselectiontype)
  for all possible values.\";s:4:\"enum\";a:2:{i:0;s:6:\"SINGLE\";i:1;s:8:\"MULTIPLE\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:32:\"CatalogModifierListSelectionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Indicates
  whether a [CatalogModifierList](#type-catalogmodifierlist) supports multiple selections.\";s:4:\"enum\";a:2:{i:0;s:6:\"SINGLE\";i:1;s:8:\"MULTIPLE\";}s:4:\"type\";s:6:\"string\";}s:23:\"CatalogModifierOverride\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"modifier_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  ID of the [CatalogModifier](#type-catalogmodifier) whose default behavior is being
  overridden.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"on_by_default\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"If
  `true`, this [CatalogModifier](#type-catalogmodifier) should be selected by default
  for this [CatalogItem](#type-catalogitem).\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:11:\"modifier_id\";}s:4:\"type\";s:6:\"object\";}s:13:\"CatalogObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:1330:\"The
  wrapper object for object types in the Catalog data model. The type\nof a particular
  `CatalogObject` is determined by the value of\n`type` and only the corresponding
  data field may be set.\n\n- if type = `ITEM`, only `item_data` will be populated
  and it will contain a valid [CatalogItem](#type-catalogitem) object.\n- if type
  = `ITEM_VARIATION`, only `item_variation_data` will be populated and it will contain
  a valid [CatalogItemVariation](#type-catalogitemvariation) object.\n- if type =
  `MODIFIER`, only `modifier_data` will be populated and it will contain a valid [CatalogModifier](#type-catalogmodifier)
  object.\n- if type = `MODIFIER_LIST`, only `modifier_list_data` will be populated
  and it will contain a valid [CatalogModifierList](#type-catalogmodifierlist) object.\n-
  if type = `CATEGORY`, only `category_data` will be populated and it will contain
  a valid [CatalogCategory](#type-catalogcategory) object.\n- if type = `DISCOUNT`,
  only `discount_data` will be populated and it will contain a valid [CatalogDiscount](#type-catalogdiscount)
  object.\n- if type = `TAX`, only `tax_data` will be populated and it will contain
  a valid [CatalogTax](#type-catalogtax) object.\n\nFor a more detailed discussion
  of the Catalog data model, please see the\n[Catalog Overview](https://docs.connect.squareup.com/articles/catalog-overview).\";s:10:\"properties\";O:8:\"stdClass\":16:{s:22:\"absent_at_location_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"A
  list of locations where the object is not present, even if `present_at_all_locations`
  is `true`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"catalog_v1_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:235:\"The
  Connect V1 IDs for this object at each [location][#type-location] where it is present,
  where they\ndiffer from the object's Connect V2 ID. The field will only be present
  for objects that\nhave been created or modified by legacy APIs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CatalogV1Id\";}s:4:\"type\";s:5:\"array\";}s:13:\"category_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogCategory\";s:11:\"description\";s:106:\"Structured
  data for a [CatalogCategory](#type-catalogcategory), set for CatalogObjects of type
  `CATEGORY`.\";}s:13:\"discount_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogDiscount\";s:11:\"description\";s:106:\"Structured
  data for a [CatalogDiscount](#type-catalogdiscount), set for CatalogObjects of type
  `DISCOUNT`.\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:439:\"An identifier
  to reference this object in the catalog. When a new CatalogObject\nis inserted,
  the client should set the id to a temporary identifier starting with\na `'#'` character.
  Other objects being inserted or updated within the same request\nmay use this identifier
  to refer to the new object.\n\nWhen the server receives the new object, it will
  supply a unique identifier that\nreplaces the temporary identifier for all future
  references.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"is_deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"If
  `true`, the object has been deleted from the database. Must be `false` for new objects\nbeing
  inserted. When deleted, the `updated_at` field will equal the deletion time.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"item_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CatalogItem\";s:11:\"description\";s:94:\"Structured
  data for a [CatalogItem](#type-catalogitem), set for CatalogObjects of type `ITEM`.\";}s:19:\"item_variation_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/CatalogItemVariation\";s:11:\"description\";s:122:\"Structured
  data for a [CatalogItemVariation](#type-catalogitemvariation), set for CatalogObjects
  of type `ITEM_VARIATION`.\";}s:13:\"modifier_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogModifier\";s:11:\"description\";s:106:\"Structured
  data for a [CatalogModifier](#type-catalogmodifier), set for CatalogObjects of type
  `MODIFIER`.\";}s:18:\"modifier_list_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CatalogModifierList\";s:11:\"description\";s:119:\"Structured
  data for a [CatalogModifierList](#type-catalogmodifierlist), set for CatalogObjects
  of type `MODIFIER_LIST`.\";}s:24:\"present_at_all_locations\";O:8:\"stdClass\":2:{s:11:\"description\";s:291:\"If
  `true`, this object is present at all locations (including future locations), except
  where specified in\nthe `absent_at_location_ids` field. If `false`, this object
  is not present at any locations (including future locations),\nexcept where specified
  in the `present_at_location_ids` field.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"present_at_location_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"A
  list of locations where the object is present, even if `present_at_all_locations`
  is `false`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"tax_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CatalogTax\";s:11:\"description\";s:91:\"Structured
  data for a [CatalogTax](#type-catalogtax), set for CatalogObjects of type `TAX`.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:220:\"The
  type of this object. Each object type has expected\nproperties expressed in a structured
  format within its corresponding `*_data` field below.\n\nSee [CatalogObjectType](#type-catalogobjecttype)
  for all possible values.\";s:4:\"enum\";a:7:{i:0;s:4:\"ITEM\";i:1;s:8:\"CATEGORY\";i:2;s:14:\"ITEM_VARIATION\";i:3;s:3:\"TAX\";i:4;s:8:\"DISCOUNT\";i:5;s:13:\"MODIFIER_LIST\";i:6;s:8:\"MODIFIER\";}s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:201:\"Last
  modification [timestamp](#workingwithdates) in RFC 3339 format, e.g., `\"2016-08-15T23:59:33.123Z\"`\nwould
  indicate the UTC time (denoted by `Z`) of August 15, 2016 at 23:59:33 and 123 milliseconds.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"The
  version of the object. When updating an object, the version supplied by the\nmust
  match the version in the database, otherwise the write will be rejected as conflicting.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:18:\"CatalogObjectBatch\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  batch of [CatalogObject](#type-catalogobject)s.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"objects\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"A
  list of [CatalogObject](#type-catalogobject)s belonging to this batch.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CatalogObject\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CatalogObjectType\";O:8:\"stdClass\":3:{s:11:\"description\";s:178:\"Possible
  kinds of [CatalogObject](#type-catalogobject)s returned from the Catalog, each\ncontaning
  type-specific properties in the `*_data` field corresponding to the object type.\";s:4:\"enum\";a:7:{i:0;s:4:\"ITEM\";i:1;s:8:\"CATEGORY\";i:2;s:14:\"ITEM_VARIATION\";i:3;s:3:\"TAX\";i:4;s:8:\"DISCOUNT\";i:5;s:13:\"MODIFIER_LIST\";i:6;s:8:\"MODIFIER\";}s:4:\"type\";s:6:\"string\";}s:18:\"CatalogPricingType\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Indicates
  whether the price of a [CatalogItemVariation](#type-catalogitemvariation) should
  be entered manually at the time of sale.\";s:4:\"enum\";a:2:{i:0;s:13:\"FIXED_PRICING\";i:1;s:16:\"VARIABLE_PRICING\";}s:4:\"type\";s:6:\"string\";}s:12:\"CatalogQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:816:\"A
  query to be applied to a [SearchCatalogObjectsRequest](#type-searchcatalogobjectsrequest).\nOnly
  one query field may be present.\n\nWhere an attribute name is required, it should
  be specified as the name of any field\nmarked \"searchable\" from the structured
  data types for the desired result object type(s)\n([CatalogItem](#type-catalogitem),
  [CatalogItemVariation](#type-catalogitemvariation),\n[CatalogCategory](#type-catalogcategory),
  [CatalogTax](#type-catalogtax),\n[CatalogDiscount](#type-catalogdiscount), [CatalogModifierList](#type-catalogmodifierlist),\n[CatalogModifier](#type-catalogmodifier)).\n\nFor
  example, a query that should return Items may specify attribute names from\nany
  of the searchable fields of the [CatalogItem](#type-catalogitem) data type, namely\n`\"name\"`,
  `\"description\"`, and `\"abbreviation\"`.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"exact_query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CatalogQueryExact\";s:11:\"description\";s:117:\"A
  query that returns only objects for which the given (string-valued) attribute has
  the\ngiven case-insensitive value.\";}s:29:\"items_for_modifier_list_query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/CatalogQueryItemsForModifierList\";s:11:\"description\";s:144:\"A
  query that returns all [CatalogItem](#type-catalogitem)s that have any of the given
  [CatalogModifierList](#type-catalogmodifierlist)s enabled.\";}s:19:\"items_for_tax_query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CatalogQueryItemsForTax\";s:11:\"description\";s:127:\"A
  query that returns all [CatalogItem](#type-catalogitem)s that have any of the given
  [CatalogTax](#type-catalogtax)es enabled.\";}s:12:\"prefix_query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CatalogQueryPrefix\";s:11:\"description\";s:118:\"A
  query that returns only objects for which the given (string-valued) attribute has
  the\ngiven case-insensitive prefix.\";}s:11:\"range_query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CatalogQueryRange\";s:11:\"description\";s:105:\"A
  query that returns only objects for which the given (integer-valued) attribute lies
  in the given range.\";}s:22:\"sorted_attribute_query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/CatalogQuerySortedAttribute\";s:11:\"description\";s:64:\"A
  query that returns all objects, sorted by the given attribute.\";}s:10:\"text_query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CatalogQueryText\";s:11:\"description\";s:315:\"A
  query that returns only objects whose searchable attributes contain all of the given\nkeywords
  as prefixes. For example, if a [CatalogItem](#type-catalogitem) contains attributes
  `{\"name\": \"t-shirt\"}` and\n`{\"description\": \"Small, Purple\"}`, it will be
  matched by the query `{\"keywords\": [\"shirt\", \"sma\", \"purp\"]}`.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CatalogQueryExact\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"attribute_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  name of the attribute to be searched.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"attribute_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  desired value of the search attribute.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:14:\"attribute_name\";i:1;s:15:\"attribute_value\";}s:4:\"type\";s:6:\"object\";}s:32:\"CatalogQueryItemsForModifierList\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"modifier_list_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"A
  set of [CatalogModifierList](#type-catalogmodifierlist) IDs to be used to find associated
  [CatalogItem](#type-catalogitem)s.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:17:\"modifier_list_ids\";}s:4:\"type\";s:6:\"object\";}s:23:\"CatalogQueryItemsForTax\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"tax_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"A
  set of [CatalogTax](#type-catalogtax) IDs to be used to find associated [CatalogItem](#type-catalogitem)s.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:7:\"tax_ids\";}s:4:\"type\";s:6:\"object\";}s:18:\"CatalogQueryPrefix\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"attribute_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  name of the attribute to be searched.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"attribute_prefix\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  desired prefix of the search attribute value.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:14:\"attribute_name\";i:1;s:16:\"attribute_prefix\";}s:4:\"type\";s:6:\"object\";}s:17:\"CatalogQueryRange\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"attribute_max_value\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  desired maximum value for the search attribute (inclusive).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:19:\"attribute_min_value\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  desired minimum value for the search attribute (inclusive).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"attribute_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  name of the attribute to be searched.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:14:\"attribute_name\";}s:4:\"type\";s:6:\"object\";}s:27:\"CatalogQuerySortedAttribute\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"attribute_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  attribute whose value should be used as the sort key.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:23:\"initial_attribute_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:282:\"The
  first attribute value to be returned by the query. Ascending sorts will return only\nobjects
  with this value or greater, while descending sorts will return only objects with
  this value\nor less. If unset, start at the beginning (for ascending sorts) or end
  (for descending sorts).\";s:4:\"type\";s:6:\"string\";}s:10:\"sort_order\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  desired [SortOrder](#type-sortorder), `\"ASC\"` (ascending) or `\"DESC\"` (descending).\";s:4:\"enum\";a:2:{i:0;s:4:\"DESC\";i:1;s:3:\"ASC\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:14:\"attribute_name\";}s:4:\"type\";s:6:\"object\";}s:16:\"CatalogQueryText\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"keywords\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"A
  list of one, two, or three search keywords. Keywords with fewer than three characters\nare
  ignored.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"keywords\";}s:4:\"type\";s:6:\"object\";}s:10:\"CatalogTax\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"A
  tax in the Catalog object model.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:25:\"applies_to_custom_amounts\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"If
  `true`, the fee applies to custom amounts entered into the Square Point of Sale\napp
  that are not associated with a particular [CatalogItem](#type-catalogitem).\";s:4:\"type\";s:7:\"boolean\";}s:17:\"calculation_phase\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"Whether
  the tax is calculated based on a payment's subtotal or total. See [TaxCalculationPhase](#type-taxcalculationphase)
  for all possible values.\";s:4:\"enum\";a:2:{i:0;s:18:\"TAX_SUBTOTAL_PHASE\";i:1;s:15:\"TAX_TOTAL_PHASE\";}s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"If
  `true`, the tax will be shown as enabled in the Square Point of Sale app.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"inclusion_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"Whether
  the tax is `ADDITIVE` or `INCLUSIVE`. See [TaxInclusionType](#type-taxinclusiontype)
  for all possible values.\";s:4:\"enum\";a:2:{i:0;s:8:\"ADDITIVE\";i:1;s:9:\"INCLUSIVE\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  tax's name. Searchable.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"percentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"The
  percentage of the tax in decimal form, using a `'.'` as the decimal separator and
  without a `'%'` sign.\nA value of `7.5` corresponds to 7.5%.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:11:\"CatalogV1Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"An
  Items Connect V1 object ID along with its associated [location][#type-location]
  ID.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"catalog_v1_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  ID for an object in Connect V1, if different from its Connect V2 ID.\";s:4:\"type\";s:6:\"string\";}s:11:\"location_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  ID of the [location][#type-location] this Connect V1 ID is associated with.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ChargeRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:112:\"Defines
  the parameters that can be included in the body of\na request to the [Charge](#endpoint-charge)
  endpoint.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:12:\"amount_money\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:363:\"The
  amount of money to charge.\n\nNote that you specify the amount in the\n__smallest
  denomination of the applicable currency__. For example, US dollar\namounts are specified
  in cents. See\n[Working with monetary amounts](#workingwithmonetaryamounts) for
  details.\n\nThe value of `currency` must match the currency associated with the
  business\nthat is charging the card.\";}s:15:\"billing_address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:175:\"The
  buyer's billing address. This value is optional, but this transaction\nis ineligible
  for chargeback protection if neither this parameter nor\n`shipping_address` is provided.\";}s:19:\"buyer_email_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"The
  buyer's email address, if available. This value is optional,\nbut this transaction
  is ineligible for chargeback protection if it is not\nprovided.\";s:4:\"type\";s:6:\"string\";}s:10:\"card_nonce\";O:8:\"stdClass\":2:{s:11:\"description\";s:335:\"A
  nonce generated from the `SqPaymentForm` that represents the card\nto charge.\n\nThe
  application that provides a nonce to this endpoint must be the\n_same application_
  that generated the nonce with the `SqPaymentForm`.\nOtherwise, the nonce is invalid.\n\nDo
  not provide a value for this field if you provide a value for\n`customer_card_id`.\";s:4:\"type\";s:6:\"string\";}s:16:\"customer_card_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:204:\"The
  ID of the customer card on file to charge. Do\nnot provide a value for this field
  if you provide a value for `card_nonce`.\n\nIf you provide this value, you _must_
  also provide a value for\n`customer_id`.\";s:4:\"type\";s:6:\"string\";}s:11:\"customer_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"The
  ID of the customer to associate this transaction with. This field\nis required if
  you provide a value for `customer_card_id`, and optional\notherwise.\";s:4:\"type\";s:6:\"string\";}s:13:\"delay_capture\";O:8:\"stdClass\":2:{s:11:\"description\";s:285:\"If
  `true`, the request will only perform an Auth on the provided\ncard. You can then
  later perform either a Capture (with the\n[CaptureTransaction](#endpoint-capturetransaction)
  endpoint) or a Void\n(with the [VoidTransaction](#endpoint-voidtransaction) endpoint).\n\nDefault
  value: `false`\";s:4:\"type\";s:7:\"boolean\";}s:15:\"idempotency_key\";O:8:\"stdClass\":2:{s:11:\"description\";s:323:\"A
  value you specify that uniquely identifies this\ntransaction among transactions
  you've created.\n\nIf you're unsure whether a particular transaction succeeded,\nyou
  can reattempt it with the same idempotency key without\nworrying about double-charging
  the buyer.\n\nSee [Idempotency keys](#idempotencykeys) for more information.\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"An
  optional note to associate with the transaction.\n\nThis value cannot exceed 60
  characters.\";s:4:\"type\";s:6:\"string\";}s:12:\"reference_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:195:\"An
  optional ID you can associate with the transaction for your own\npurposes (such
  as to associate the transaction with an entity ID in your\nown database).\n\nThis
  value cannot exceed 40 characters.\";s:4:\"type\";s:6:\"string\";}s:16:\"shipping_address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:189:\"The
  buyer's shipping address, if available. This value is optional,\nbut this transaction
  is ineligible for chargeback protection if neither this\nparameter nor `billing_address`
  is provided.\";}}s:8:\"required\";a:2:{i:0;s:15:\"idempotency_key\";i:1;s:12:\"amount_money\";}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:40:\"/sdk_samples/Charge/ChargeRequest.csharp\";s:3:\"php\";s:37:\"/sdk_samples/Charge/ChargeRequest.php\";s:6:\"python\";s:40:\"/sdk_samples/Charge/ChargeRequest.python\";s:4:\"ruby\";s:38:\"/sdk_samples/Charge/ChargeRequest.ruby\";}}s:14:\"ChargeResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:193:\"Defines
  the fields that are included in the response body of\na request to the [Charge](#endpoint-charge)
  endpoint.\n\nOne of `errors` or `transaction` is present in a given response (never
  both).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Any
  errors that occurred during the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:11:\"transaction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Transaction\";s:11:\"description\";s:24:\"The
  created transaction.\";}}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:41:\"/sdk_samples/Charge/ChargeResponse.csharp\";s:3:\"php\";s:38:\"/sdk_samples/Charge/ChargeResponse.php\";s:6:\"python\";s:41:\"/sdk_samples/Charge/ChargeResponse.python\";s:4:\"ruby\";s:39:\"/sdk_samples/Charge/ChargeResponse.ruby\";}}s:8:\"Checkout\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Square
  Checkout lets merchants accept online payments for supported\npayment types using
  a checkout workflow hosted on squareup.com.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:24:\"ask_for_shipping_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"If
  `true`, Square Checkout will collect shipping information on your\nbehalf and store
  that information with the transaction information in your\nSquare Dashboard.\n\nDefault:
  `false`.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"checkout_page_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  URL that the buyer's browser should be redirected to after the\ncheckout is completed.\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  time when the checkout was created, in RFC 3339 format.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"ID
  generated by Square Checkout when a new checkout is requested.\";s:4:\"type\";s:6:\"string\";}s:22:\"merchant_support_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:332:\"The
  email address to display on the Square Checkout confirmation page\nand confirmation
  email that the buyer can use to contact the merchant.\n\nIf this value is not set,
  the confirmation page and email will display the\nprimary email address associated
  with the merchant's Square account.\n\nDefault: none; only exists if explicitly
  set.\";s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Order\";s:11:\"description\";s:24:\"Order
  to be checked out.\";}s:24:\"pre_populate_buyer_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"If
  provided, the buyer's email is pre-populated on the checkout page\nas an editable
  text field.\n\nDefault: none; only exists if explicitly set.\";s:4:\"type\";s:6:\"string\";}s:29:\"pre_populate_shipping_address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:148:\"If
  provided, the buyer's shipping info is pre-populated on the\ncheckout page as editable
  text fields.\n\nDefault: none; only exists if explicitly set.\";}s:12:\"redirect_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:699:\"The
  URL to redirect to after checkout is completed with `checkoutId`,\nSquare's `orderId`,
  `transactionId`, and `referenceId` appended as URL\nparameters. For example, if
  the provided redirect_url is\n`http://www.example.com/order-complete`, a successful
  transaction redirects\nthe customer to:\n\n`http://www.example.com/order-complete?checkoutId=xxxxxx&orderId=xxxxxx&referenceId=xxxxxx&transactionId=xxxxxx`\n\nIf
  you do not provide a redirect URL, Square Checkout will display an order\nconfirmation
  page on your behalf; however Square strongly recommends that\nyou provide a redirect
  URL so you can verify the transaction results and\nfinalize the order through your
  existing/normal confirmation workflow.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Country\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"Indicates
  the country associated with another entity, such as a business.\nValues are in [ISO
  3166-1-alpha-2 format](http://www.iso.org/iso/home/standards/country_codes.htm).\";s:4:\"enum\";a:250:{i:0;s:2:\"ZZ\";i:1;s:2:\"AD\";i:2;s:2:\"AE\";i:3;s:2:\"AF\";i:4;s:2:\"AG\";i:5;s:2:\"AI\";i:6;s:2:\"AL\";i:7;s:2:\"AM\";i:8;s:2:\"AO\";i:9;s:2:\"AQ\";i:10;s:2:\"AR\";i:11;s:2:\"AS\";i:12;s:2:\"AT\";i:13;s:2:\"AU\";i:14;s:2:\"AW\";i:15;s:2:\"AX\";i:16;s:2:\"AZ\";i:17;s:2:\"BA\";i:18;s:2:\"BB\";i:19;s:2:\"BD\";i:20;s:2:\"BE\";i:21;s:2:\"BF\";i:22;s:2:\"BG\";i:23;s:2:\"BH\";i:24;s:2:\"BI\";i:25;s:2:\"BJ\";i:26;s:2:\"BL\";i:27;s:2:\"BM\";i:28;s:2:\"BN\";i:29;s:2:\"BO\";i:30;s:2:\"BQ\";i:31;s:2:\"BR\";i:32;s:2:\"BS\";i:33;s:2:\"BT\";i:34;s:2:\"BV\";i:35;s:2:\"BW\";i:36;s:2:\"BY\";i:37;s:2:\"BZ\";i:38;s:2:\"CA\";i:39;s:2:\"CC\";i:40;s:2:\"CD\";i:41;s:2:\"CF\";i:42;s:2:\"CG\";i:43;s:2:\"CH\";i:44;s:2:\"CI\";i:45;s:2:\"CK\";i:46;s:2:\"CL\";i:47;s:2:\"CM\";i:48;s:2:\"CN\";i:49;s:2:\"CO\";i:50;s:2:\"CR\";i:51;s:2:\"CU\";i:52;s:2:\"CV\";i:53;s:2:\"CW\";i:54;s:2:\"CX\";i:55;s:2:\"CY\";i:56;s:2:\"CZ\";i:57;s:2:\"DE\";i:58;s:2:\"DJ\";i:59;s:2:\"DK\";i:60;s:2:\"DM\";i:61;s:2:\"DO\";i:62;s:2:\"DZ\";i:63;s:2:\"EC\";i:64;s:2:\"EE\";i:65;s:2:\"EG\";i:66;s:2:\"EH\";i:67;s:2:\"ER\";i:68;s:2:\"ES\";i:69;s:2:\"ET\";i:70;s:2:\"FI\";i:71;s:2:\"FJ\";i:72;s:2:\"FK\";i:73;s:2:\"FM\";i:74;s:2:\"FO\";i:75;s:2:\"FR\";i:76;s:2:\"GA\";i:77;s:2:\"GB\";i:78;s:2:\"GD\";i:79;s:2:\"GE\";i:80;s:2:\"GF\";i:81;s:2:\"GG\";i:82;s:2:\"GH\";i:83;s:2:\"GI\";i:84;s:2:\"GL\";i:85;s:2:\"GM\";i:86;s:2:\"GN\";i:87;s:2:\"GP\";i:88;s:2:\"GQ\";i:89;s:2:\"GR\";i:90;s:2:\"GS\";i:91;s:2:\"GT\";i:92;s:2:\"GU\";i:93;s:2:\"GW\";i:94;s:2:\"GY\";i:95;s:2:\"HK\";i:96;s:2:\"HM\";i:97;s:2:\"HN\";i:98;s:2:\"HR\";i:99;s:2:\"HT\";i:100;s:2:\"HU\";i:101;s:2:\"ID\";i:102;s:2:\"IE\";i:103;s:2:\"IL\";i:104;s:2:\"IM\";i:105;s:2:\"IN\";i:106;s:2:\"IO\";i:107;s:2:\"IQ\";i:108;s:2:\"IR\";i:109;s:2:\"IS\";i:110;s:2:\"IT\";i:111;s:2:\"JE\";i:112;s:2:\"JM\";i:113;s:2:\"JO\";i:114;s:2:\"JP\";i:115;s:2:\"KE\";i:116;s:2:\"KG\";i:117;s:2:\"KH\";i:118;s:2:\"KI\";i:119;s:2:\"KM\";i:120;s:2:\"KN\";i:121;s:2:\"KP\";i:122;s:2:\"KR\";i:123;s:2:\"KW\";i:124;s:2:\"KY\";i:125;s:2:\"KZ\";i:126;s:2:\"LA\";i:127;s:2:\"LB\";i:128;s:2:\"LC\";i:129;s:2:\"LI\";i:130;s:2:\"LK\";i:131;s:2:\"LR\";i:132;s:2:\"LS\";i:133;s:2:\"LT\";i:134;s:2:\"LU\";i:135;s:2:\"LV\";i:136;s:2:\"LY\";i:137;s:2:\"MA\";i:138;s:2:\"MC\";i:139;s:2:\"MD\";i:140;s:2:\"ME\";i:141;s:2:\"MF\";i:142;s:2:\"MG\";i:143;s:2:\"MH\";i:144;s:2:\"MK\";i:145;s:2:\"ML\";i:146;s:2:\"MM\";i:147;s:2:\"MN\";i:148;s:2:\"MO\";i:149;s:2:\"MP\";i:150;s:2:\"MQ\";i:151;s:2:\"MR\";i:152;s:2:\"MS\";i:153;s:2:\"MT\";i:154;s:2:\"MU\";i:155;s:2:\"MV\";i:156;s:2:\"MW\";i:157;s:2:\"MX\";i:158;s:2:\"MY\";i:159;s:2:\"MZ\";i:160;s:2:\"NA\";i:161;s:2:\"NC\";i:162;s:2:\"NE\";i:163;s:2:\"NF\";i:164;s:2:\"NG\";i:165;s:2:\"NI\";i:166;s:2:\"NL\";i:167;s:2:\"NO\";i:168;s:2:\"NP\";i:169;s:2:\"NR\";i:170;s:2:\"NU\";i:171;s:2:\"NZ\";i:172;s:2:\"OM\";i:173;s:2:\"PA\";i:174;s:2:\"PE\";i:175;s:2:\"PF\";i:176;s:2:\"PG\";i:177;s:2:\"PH\";i:178;s:2:\"PK\";i:179;s:2:\"PL\";i:180;s:2:\"PM\";i:181;s:2:\"PN\";i:182;s:2:\"PR\";i:183;s:2:\"PS\";i:184;s:2:\"PT\";i:185;s:2:\"PW\";i:186;s:2:\"PY\";i:187;s:2:\"QA\";i:188;s:2:\"RE\";i:189;s:2:\"RO\";i:190;s:2:\"RS\";i:191;s:2:\"RU\";i:192;s:2:\"RW\";i:193;s:2:\"SA\";i:194;s:2:\"SB\";i:195;s:2:\"SC\";i:196;s:2:\"SD\";i:197;s:2:\"SE\";i:198;s:2:\"SG\";i:199;s:2:\"SH\";i:200;s:2:\"SI\";i:201;s:2:\"SJ\";i:202;s:2:\"SK\";i:203;s:2:\"SL\";i:204;s:2:\"SM\";i:205;s:2:\"SN\";i:206;s:2:\"SO\";i:207;s:2:\"SR\";i:208;s:2:\"SS\";i:209;s:2:\"ST\";i:210;s:2:\"SV\";i:211;s:2:\"SX\";i:212;s:2:\"SY\";i:213;s:2:\"SZ\";i:214;s:2:\"TC\";i:215;s:2:\"TD\";i:216;s:2:\"TF\";i:217;s:2:\"TG\";i:218;s:2:\"TH\";i:219;s:2:\"TJ\";i:220;s:2:\"TK\";i:221;s:2:\"TL\";i:222;s:2:\"TM\";i:223;s:2:\"TN\";i:224;s:2:\"TO\";i:225;s:2:\"TR\";i:226;s:2:\"TT\";i:227;s:2:\"TV\";i:228;s:2:\"TW\";i:229;s:2:\"TZ\";i:230;s:2:\"UA\";i:231;s:2:\"UG\";i:232;s:2:\"UM\";i:233;s:2:\"US\";i:234;s:2:\"UY\";i:235;s:2:\"UZ\";i:236;s:2:\"VA\";i:237;s:2:\"VC\";i:238;s:2:\"VE\";i:239;s:2:\"VG\";i:240;s:2:\"VI\";i:241;s:2:\"VN\";i:242;s:2:\"VU\";i:243;s:2:\"WF\";i:244;s:2:\"WS\";i:245;s:2:\"YE\";i:246;s:2:\"YT\";i:247;s:2:\"ZA\";i:248;s:2:\"ZM\";i:249;s:2:\"ZW\";}s:4:\"type\";s:6:\"string\";}s:21:\"CreateCheckoutRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:128:\"Defines
  the parameters that can be included in the body of\na request to the [CreateCheckout](#endpoint-createcheckout)
  endpoint.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:24:\"ask_for_shipping_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"If
  `true`, Square Checkout will collect shipping information on your\nbehalf and store
  that information with the transaction information in your\nSquare Dashboard.\n\nDefault:
  `false`.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"idempotency_key\";O:8:\"stdClass\":4:{s:11:\"description\";s:673:\"A
  unique string that identifies this checkout among others\nyou've created. It can
  be any valid string but must be unique for every\norder sent to Square Checkout
  for a given location ID.\n\nThe idempotency key is used to avoid processing the
  same order more than\nonce. If you're unsure whether a particular checkout was created\nsuccessfully,
  you can reattempt it with the same idempotency key and all the\nsame other parameters
  without worrying about creating duplicates.\n\nWe recommend using a random number/string
  generator native to the language\nyou are working in to generate strings for your
  idempotency keys.\n\nSee [Idempotency keys](#idempotencykeys) for more information.\";s:9:\"maxLength\";i:192;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:22:\"merchant_support_email\";O:8:\"stdClass\":3:{s:11:\"description\";s:332:\"The
  email address to display on the Square Checkout confirmation page\nand confirmation
  email that the buyer can use to contact the merchant.\n\nIf this value is not set,
  the confirmation page and email will display the\nprimary email address associated
  with the merchant's Square account.\n\nDefault: none; only exists if explicitly
  set.\";s:9:\"maxLength\";i:254;s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CreateOrderRequest\";s:11:\"description\";s:49:\"The
  order including line items to be checked out.\";}s:24:\"pre_populate_buyer_email\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"If
  provided, the buyer's email is pre-populated on the checkout page\nas an editable
  text field.\n\nDefault: none; only exists if explicitly set.\";s:9:\"maxLength\";i:254;s:4:\"type\";s:6:\"string\";}s:29:\"pre_populate_shipping_address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:148:\"If
  provided, the buyer's shipping info is pre-populated on the\ncheckout page as editable
  text fields.\n\nDefault: none; only exists if explicitly set.\";}s:12:\"redirect_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:746:\"The
  URL to redirect to after checkout is completed with `checkoutId`,\nSquare's `orderId`,
  `transactionId`, and `referenceId` appended as URL\nparameters. For example, if
  the provided redirect_url is\n`http://www.example.com/order-complete`, a successful
  transaction redirects\nthe customer to:\n\n`http://www.example.com/order-complete?checkoutId=xxxxxx&orderId=xxxxxx&referenceId=xxxxxx&transactionId=xxxxxx`\n\nIf
  you do not provide a redirect URL, Square Checkout will display an order\nconfirmation
  page on your behalf; however Square strongly recommends that\nyou provide a redirect
  URL so you can verify the transaction results and\nfinalize the order through your
  existing/normal confirmation workflow.\n\nDefault: none; only exists if explicitly
  set.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:15:\"idempotency_key\";i:1;s:5:\"order\";}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:56:\"/sdk_samples/CreateCheckout/CreateCheckoutRequest.csharp\";s:3:\"php\";s:53:\"/sdk_samples/CreateCheckout/CreateCheckoutRequest.php\";s:6:\"python\";s:56:\"/sdk_samples/CreateCheckout/CreateCheckoutRequest.python\";s:4:\"ruby\";s:54:\"/sdk_samples/CreateCheckout/CreateCheckoutRequest.ruby\";}}s:22:\"CreateCheckoutResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"Defines
  the fields that are included in the response body of\na request to the [CreateCheckout](#endpoint-createcheckout)
  endpoint.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"checkout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Checkout\";s:11:\"description\";s:147:\"The
  newly created checkout.\nIf the same request was made with the same idempotency_key,
  this will be the checkout created with the idempotency_key.\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Any
  errors that occurred during the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CreateCustomerCardRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:137:\"Defines
  the fields that are included in the request body of a request\nto the [CreateCustomerCard](#endpoint-createcustomercard)
  endpoint.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"billing_address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:117:\"Address
  information for the card on file. Only the `postal_code`\nfield is required for
  payments in the US and Canada.\";}s:10:\"card_nonce\";O:8:\"stdClass\":2:{s:11:\"description\";s:250:\"A
  card nonce representing the credit card to link to the customer.\n\nCard nonces
  are generated by the `SqPaymentForm` that buyers enter\ntheir card information into.
  See\n[Embedding the payment form](/articles/adding-payment-form/) for\nmore information.\";s:4:\"type\";s:6:\"string\";}s:15:\"cardholder_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  cardholder's name.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"card_nonce\";}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:64:\"/sdk_samples/CreateCustomerCard/CreateCustomerCardRequest.csharp\";s:3:\"php\";s:61:\"/sdk_samples/CreateCustomerCard/CreateCustomerCardRequest.php\";s:6:\"python\";s:64:\"/sdk_samples/CreateCustomerCard/CreateCustomerCardRequest.python\";s:4:\"ruby\";s:62:\"/sdk_samples/CreateCustomerCard/CreateCustomerCardRequest.ruby\";}}s:26:\"CreateCustomerCardResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:210:\"Defines
  the fields that are included in the response body of\na request to the [CreateCustomerCard](#endpoint-createcustomercard)
  endpoint.\n\nOne of `errors` or `card` is present in a given response (never both).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"card\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Card\";s:11:\"description\";s:25:\"The
  created card on file.\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Any
  errors that occurred during the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:65:\"/sdk_samples/CreateCustomerCard/CreateCustomerCardResponse.csharp\";s:3:\"php\";s:62:\"/sdk_samples/CreateCustomerCard/CreateCustomerCardResponse.php\";s:6:\"python\";s:65:\"/sdk_samples/CreateCustomerCard/CreateCustomerCardResponse.python\";s:4:\"ruby\";s:63:\"/sdk_samples/CreateCustomerCard/CreateCustomerCardResponse.ruby\";}}s:21:\"CreateCustomerRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:121:\"Defines
  the body parameters that can be provided in a request to the\n[CreateCustomer](#endpoint-createcustomer)
  endpoint.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:32:\"The
  customer's physical address.\";}s:12:\"company_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  name of the customer's company.\";s:4:\"type\";s:6:\"string\";}s:13:\"email_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  customer's email address.\";s:4:\"type\";s:6:\"string\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  customer's family (i.e., last) name.\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  customer's given (i.e., first) name.\";s:4:\"type\";s:6:\"string\";}s:8:\"nickname\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"A
  nickname for the customer.\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"An
  optional note to associate with the customer.\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  customer's phone number.\";s:4:\"type\";s:6:\"string\";}s:12:\"reference_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"An
  optional second ID you can set to associate the customer with an\nentity in another
  system.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:56:\"/sdk_samples/CreateCustomer/CreateCustomerRequest.csharp\";s:3:\"php\";s:53:\"/sdk_samples/CreateCustomer/CreateCustomerRequest.php\";s:6:\"python\";s:56:\"/sdk_samples/CreateCustomer/CreateCustomerRequest.python\";s:4:\"ruby\";s:54:\"/sdk_samples/CreateCustomer/CreateCustomerRequest.ruby\";}}s:22:\"CreateCustomerResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:206:\"Defines
  the fields that are included in the response body of\na request to the [CreateCustomer](#endpoint-createcustomer)
  endpoint.\n\nOne of `errors` or `customer` is present in a given response (never
  both).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"customer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Customer\";s:11:\"description\";s:21:\"The
  created customer.\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Any
  errors that occurred during the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:57:\"/sdk_samples/CreateCustomer/CreateCustomerResponse.csharp\";s:3:\"php\";s:54:\"/sdk_samples/CreateCustomer/CreateCustomerResponse.php\";s:6:\"python\";s:57:\"/sdk_samples/CreateCustomer/CreateCustomerResponse.python\";s:4:\"ruby\";s:55:\"/sdk_samples/CreateCustomer/CreateCustomerResponse.ruby\";}}s:18:\"CreateOrderRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:128:\"Defines
  the parameters that can be included in the body of\na request to the [CreateCheckout](#endpoint-createcheckout)
  endpoint.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"discounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  discounts include the custom discounts .\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrderRequestDiscount\";}s:4:\"type\";s:5:\"array\";}s:10:\"line_items\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"The
  line items to associate with this order.\n\nEach line item represents a different
  product (or a custom monetary amount)\nto include in a purchase.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrderRequestLineItem\";}s:4:\"type\";s:5:\"array\";}s:12:\"reference_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"An
  optional ID you can associate with the order for your own\npurposes (such as to
  associate the order with an entity ID in your\nown database).\n\nThis value cannot
  exceed 40 characters.\";s:9:\"maxLength\";i:40;s:4:\"type\";s:6:\"string\";}s:5:\"taxes\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  taxes include the custom taxes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CreateOrderRequestTax\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:10:\"line_items\";}s:4:\"type\";s:6:\"object\";}s:26:\"CreateOrderRequestDiscount\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Represents
  a discount that to either a single line item or an entire order.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"amount_money\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:36:\"The
  monetary amount of the discount.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  discount's name.\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:10:\"percentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:177:\"The
  percentage of the discount, as a string representation of a decimal number.\n\nA
  value of `7.25` corresponds to a percentage of 7.25%. This value range between 0.0
  up to 100.0\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CreateOrderRequestLineItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:145:\"Represents
  a line item to include in an order. Each line item describes\na different product
  to purchase, with its own quantity and price details.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"base_price_money\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:182:\"The
  base price for a single unit of the line item's associated\nvariation. If a line
  item represents a Custom Amount instead of a\nparticular product, this field indicates
  that amount.\";}s:9:\"discounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  discounts include the custom discounts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrderRequestDiscount\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  name of the line item. This value cannot exceed 500 characters.\";s:9:\"maxLength\";i:500;s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  quantity to purchase, as a string representation of a number.\nCurrently, only integer
  values are supported.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:5:\"taxes\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  taxes include the custom taxes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CreateOrderRequestTax\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"quantity\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateOrderRequestTax\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Represents
  a tax that applies to either a single line item or an entire order.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  tax's name.\";s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:10:\"percentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"The
  percentage of the tax, as a string representation of a decimal number.\n\nA value
  of `7.25` corresponds to a percentage of 7.25%. This value range between 0.0 up
  to 100.0\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:163:\"Indicates
  the calculation method used to apply the line item tax.\n\nDefault: `ADDITIVE`;
  See [OrderLineItemTaxType](#type-orderlineitemtaxtype) for possible values.\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:8:\"ADDITIVE\";i:2;s:9:\"INCLUSIVE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateRefundRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:117:\"Defines
  the body parameters that can be included in\na request to the [CreateRefund](#endpoint-createrefund)
  endpoint.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"amount_money\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:371:\"The
  amount of money to refund.\n\nNote that you specify the amount in the\n__smallest
  denomination of the applicable currency__. For example, US dollar\namounts are specified
  in cents. See\n[Working with monetary amounts](#workingwithmonetaryamounts) for
  details.\n\nThis amount cannot exceed the amount that was originally charged to
  the\ntender that corresponds to `tender_id`.\";}s:15:\"idempotency_key\";O:8:\"stdClass\":2:{s:11:\"description\";s:320:\"A
  value you specify that uniquely identifies this\nrefund among refunds you've created
  for the tender.\n\nIf you're unsure whether a particular refund succeeded,\nyou
  can reattempt it with the same idempotency key without\nworrying about duplicating
  the refund.\n\nSee [Idempotency keys](#idempotencykeys) for more information.\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"A
  description of the reason for the refund.\n\nDefault value: `Refund via API`\";s:4:\"type\";s:6:\"string\";}s:9:\"tender_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:202:\"The
  ID of the tender to refund.\n\nA [`Transaction`](#type-transaction) has one or more
  `tenders` (i.e., methods\nof payment) associated with it, and you refund each tender
  separately with\nthe Connect API.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:15:\"idempotency_key\";i:1;s:9:\"tender_id\";i:2;s:12:\"amount_money\";}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:52:\"/sdk_samples/CreateRefund/CreateRefundRequest.csharp\";s:3:\"php\";s:49:\"/sdk_samples/CreateRefund/CreateRefundRequest.php\";s:6:\"python\";s:52:\"/sdk_samples/CreateRefund/CreateRefundRequest.python\";s:4:\"ruby\";s:50:\"/sdk_samples/CreateRefund/CreateRefundRequest.ruby\";}}s:20:\"CreateRefundResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:200:\"Defines
  the fields that are included in the response body of\na request to the [CreateRefund](#endpoint-createrefund)
  endpoint.\n\nOne of `errors` or `refund` is present in a given response (never both).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Any
  errors that occurred during the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"refund\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Refund\";s:11:\"description\";s:19:\"The
  created refund.\";}}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:53:\"/sdk_samples/CreateRefund/CreateRefundResponse.csharp\";s:3:\"php\";s:50:\"/sdk_samples/CreateRefund/CreateRefundResponse.php\";s:6:\"python\";s:53:\"/sdk_samples/CreateRefund/CreateRefundResponse.python\";s:4:\"ruby\";s:51:\"/sdk_samples/CreateRefund/CreateRefundResponse.ruby\";}}s:8:\"Currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"Indicates
  the associated currency for an amount of money. Values correspond\nto [ISO 4217](https://wikipedia.org/wiki/ISO_4217).\";s:4:\"enum\";a:180:{i:0;s:3:\"AED\";i:1;s:3:\"AFN\";i:2;s:3:\"ALL\";i:3;s:3:\"AMD\";i:4;s:3:\"ANG\";i:5;s:3:\"AOA\";i:6;s:3:\"ARS\";i:7;s:3:\"AUD\";i:8;s:3:\"AWG\";i:9;s:3:\"AZN\";i:10;s:3:\"BAM\";i:11;s:3:\"BBD\";i:12;s:3:\"BDT\";i:13;s:3:\"BGN\";i:14;s:3:\"BHD\";i:15;s:3:\"BIF\";i:16;s:3:\"BMD\";i:17;s:3:\"BND\";i:18;s:3:\"BOB\";i:19;s:3:\"BOV\";i:20;s:3:\"BRL\";i:21;s:3:\"BSD\";i:22;s:3:\"BTN\";i:23;s:3:\"BWP\";i:24;s:3:\"BYR\";i:25;s:3:\"BZD\";i:26;s:3:\"CAD\";i:27;s:3:\"CDF\";i:28;s:3:\"CHE\";i:29;s:3:\"CHF\";i:30;s:3:\"CHW\";i:31;s:3:\"CLF\";i:32;s:3:\"CLP\";i:33;s:3:\"CNY\";i:34;s:3:\"COP\";i:35;s:3:\"COU\";i:36;s:3:\"CRC\";i:37;s:3:\"CUC\";i:38;s:3:\"CUP\";i:39;s:3:\"CVE\";i:40;s:3:\"CZK\";i:41;s:3:\"DJF\";i:42;s:3:\"DKK\";i:43;s:3:\"DOP\";i:44;s:3:\"DZD\";i:45;s:3:\"EGP\";i:46;s:3:\"ERN\";i:47;s:3:\"ETB\";i:48;s:3:\"EUR\";i:49;s:3:\"FJD\";i:50;s:3:\"FKP\";i:51;s:3:\"GBP\";i:52;s:3:\"GEL\";i:53;s:3:\"GHS\";i:54;s:3:\"GIP\";i:55;s:3:\"GMD\";i:56;s:3:\"GNF\";i:57;s:3:\"GTQ\";i:58;s:3:\"GYD\";i:59;s:3:\"HKD\";i:60;s:3:\"HNL\";i:61;s:3:\"HRK\";i:62;s:3:\"HTG\";i:63;s:3:\"HUF\";i:64;s:3:\"IDR\";i:65;s:3:\"ILS\";i:66;s:3:\"INR\";i:67;s:3:\"IQD\";i:68;s:3:\"IRR\";i:69;s:3:\"ISK\";i:70;s:3:\"JMD\";i:71;s:3:\"JOD\";i:72;s:3:\"JPY\";i:73;s:3:\"KES\";i:74;s:3:\"KGS\";i:75;s:3:\"KHR\";i:76;s:3:\"KMF\";i:77;s:3:\"KPW\";i:78;s:3:\"KRW\";i:79;s:3:\"KWD\";i:80;s:3:\"KYD\";i:81;s:3:\"KZT\";i:82;s:3:\"LAK\";i:83;s:3:\"LBP\";i:84;s:3:\"LKR\";i:85;s:3:\"LRD\";i:86;s:3:\"LSL\";i:87;s:3:\"LTL\";i:88;s:3:\"LVL\";i:89;s:3:\"LYD\";i:90;s:3:\"MAD\";i:91;s:3:\"MDL\";i:92;s:3:\"MGA\";i:93;s:3:\"MKD\";i:94;s:3:\"MMK\";i:95;s:3:\"MNT\";i:96;s:3:\"MOP\";i:97;s:3:\"MRO\";i:98;s:3:\"MUR\";i:99;s:3:\"MVR\";i:100;s:3:\"MWK\";i:101;s:3:\"MXN\";i:102;s:3:\"MXV\";i:103;s:3:\"MYR\";i:104;s:3:\"MZN\";i:105;s:3:\"NAD\";i:106;s:3:\"NGN\";i:107;s:3:\"NIO\";i:108;s:3:\"NOK\";i:109;s:3:\"NPR\";i:110;s:3:\"NZD\";i:111;s:3:\"OMR\";i:112;s:3:\"PAB\";i:113;s:3:\"PEN\";i:114;s:3:\"PGK\";i:115;s:3:\"PHP\";i:116;s:3:\"PKR\";i:117;s:3:\"PLN\";i:118;s:3:\"PYG\";i:119;s:3:\"QAR\";i:120;s:3:\"RON\";i:121;s:3:\"RSD\";i:122;s:3:\"RUB\";i:123;s:3:\"RWF\";i:124;s:3:\"SAR\";i:125;s:3:\"SBD\";i:126;s:3:\"SCR\";i:127;s:3:\"SDG\";i:128;s:3:\"SEK\";i:129;s:3:\"SGD\";i:130;s:3:\"SHP\";i:131;s:3:\"SLL\";i:132;s:3:\"SOS\";i:133;s:3:\"SRD\";i:134;s:3:\"SSP\";i:135;s:3:\"STD\";i:136;s:3:\"SVC\";i:137;s:3:\"SYP\";i:138;s:3:\"SZL\";i:139;s:3:\"THB\";i:140;s:3:\"TJS\";i:141;s:3:\"TMT\";i:142;s:3:\"TND\";i:143;s:3:\"TOP\";i:144;s:3:\"TRY\";i:145;s:3:\"TTD\";i:146;s:3:\"TWD\";i:147;s:3:\"TZS\";i:148;s:3:\"UAH\";i:149;s:3:\"UGX\";i:150;s:3:\"USD\";i:151;s:3:\"USN\";i:152;s:3:\"USS\";i:153;s:3:\"UYI\";i:154;s:3:\"UYU\";i:155;s:3:\"UZS\";i:156;s:3:\"VEF\";i:157;s:3:\"VND\";i:158;s:3:\"VUV\";i:159;s:3:\"WST\";i:160;s:3:\"XAF\";i:161;s:3:\"XAG\";i:162;s:3:\"XAU\";i:163;s:3:\"XBA\";i:164;s:3:\"XBB\";i:165;s:3:\"XBC\";i:166;s:3:\"XBD\";i:167;s:3:\"XCD\";i:168;s:3:\"XDR\";i:169;s:3:\"XOF\";i:170;s:3:\"XPD\";i:171;s:3:\"XPF\";i:172;s:3:\"XPT\";i:173;s:3:\"XTS\";i:174;s:3:\"XXX\";i:175;s:3:\"YER\";i:176;s:3:\"ZAR\";i:177;s:3:\"ZMK\";i:178;s:3:\"ZMW\";i:179;s:3:\"BTC\";}s:4:\"type\";s:6:\"string\";}s:8:\"Customer\";O:8:\"stdClass\":4:{s:11:\"description\";s:102:\"Represents
  one of a business's customers, which can have one or more\ncards on file associated
  with it.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:32:\"The
  customer's physical address.\";}s:5:\"cards\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  non-confidential details of the customer's cards on file.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Card\";}s:4:\"type\";s:5:\"array\";}s:12:\"company_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  name of the customer's company.\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  time when the customer was created, in RFC 3339 format.\";s:4:\"type\";s:6:\"string\";}s:13:\"email_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  customer's email address.\";s:4:\"type\";s:6:\"string\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  customer's family (i.e., last) name.\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  customer's given (i.e., first) name.\";s:4:\"type\";s:6:\"string\";}s:6:\"groups\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  groups the customer belongs to.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CustomerGroupInfo\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  customer's unique ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"nickname\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  customer's nickname.\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"A
  note to associate with the customer.\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  customer's phone number.\";s:4:\"type\";s:6:\"string\";}s:11:\"preferences\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CustomerPreferences\";s:11:\"description\";s:27:\"The
  customer's preferences.\";}s:12:\"reference_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"A
  second ID you can set to associate the customer with an\nentity in another system.\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  time when the customer was last updated, in RFC 3339 format.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:10:\"created_at\";i:2;s:10:\"updated_at\";}s:4:\"type\";s:6:\"object\";}s:17:\"CustomerGroupInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"Contains
  some brief information about a customer group with its identifier included.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  ID of the customer group.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  name of the customer group.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:19:\"CustomerPreferences\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Represents
  a particular customer's preferences.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"email_unsubscribed\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  customer has unsubscribed from receiving marketing campaign emails.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DeleteCatalogObjectRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:20:\"x-sq-sdk-sample-code\";O:8:\"stdClass\":4:{s:6:\"csharp\";s:74:\"/sdk_samples/Catalog/DeleteCatalogObject/DeleteCatalogObjectRequest.csharp\";s:3:\"php\";s:71:\"/sdk_samples/Catalog/DeleteCatalogObject/DeleteCatalogObjectRequest.php\";s:6:\"python\";s:74:\"/sdk_samples/Catalog/DeleteCatalogObject/DeleteCatalogObjectRequest.python\";s:4:\"ruby\";s:72:\"/sdk_samples/Catalog/DeleteCatalogObject/DeleteCatalogObjectRequest.ruby\";}}s:27:\"DeleteCatalogObjectResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"deleted_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  database [timestamp](#workingwithdates) of this deletion in RFC 3339 format, e.g.,\n\"2016-09-04T23:59:33.123Z\".\";s:4:\"type\";s:6:\"string\";}s:18:\"deleted_object_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:326:\"The
  IDs of all [CatalogObject](#type-catalogobject)s deleted by this request.\nMultiple
  IDs may be returned when associated objects are also deleted, for example\na [CatalogItemVariation](#type-catalogitemvariation)
[...]
