---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:5:\"title\";s:14:\"Square Connect\";s:7:\"version\";s:3:\"2.0\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:73:\"https://api.apis.guru/v2/cache/logo/http_square.github.io_images_logo.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:82:\"https://raw.githubusercontent.com/square/connect-api-specification/master/api.json\";s:7:\"version\";s:3:\"2.0\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:12:\"squareup.com\";}"
host: connect.squareup.com
paths:
  /v2/customers:
    get:
      description: Lists a business's customers.
      operationId: ListCustomers
      parameters:
      - description: The value to provide in the Authorization header ofnyour request.
          This value should follow the format `Bearer YOUR_ACCESS_TOKEN_HERE`.
        in: header
        name: Authorization
        required: true
        type: string
      - description: ""
        in: query
        name: cursor
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListCustomersResponse'
      summary: ListCustomers
      tags:
      - Customer
    post:
      description: Creates a new customer for the business, which can have associated
        cards on file.
      operationId: CreateCustomer
      parameters:
      - description: The value to provide in the Authorization header ofnyour request.
          This value should follow the format `Bearer YOUR_ACCESS_TOKEN_HERE`.
        in: header
        name: Authorization
        required: true
        type: string
      - description: An object containing the fields to POST for the request.nnSee
          the corresponding object definition for field details.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateCustomerRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateCustomerResponse'
      summary: CreateCustomer
      tags:
      - Customer
  /v2/customers/{customer_id}:
    delete:
      description: Deletes a customer from a business.
      operationId: DeleteCustomer
      parameters:
      - description: The value to provide in the Authorization header ofnyour request.
          This value should follow the format `Bearer YOUR_ACCESS_TOKEN_HERE`.
        in: header
        name: Authorization
        required: true
        type: string
      - description: ""
        in: path
        name: customer_id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteCustomerResponse'
      summary: DeleteCustomer
      tags:
      - Customer
    get:
      description: Returns details for a single customer.
      operationId: RetrieveCustomer
      parameters:
      - description: The value to provide in the Authorization header ofnyour request.
          This value should follow the format `Bearer YOUR_ACCESS_TOKEN_HERE`.
        in: header
        name: Authorization
        required: true
        type: string
      - description: ""
        in: path
        name: customer_id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RetrieveCustomerResponse'
      summary: RetrieveCustomer
      tags:
      - Customer
    put:
      description: Updates the details of an existing customer.
      operationId: UpdateCustomer
      parameters:
      - description: The value to provide in the Authorization header ofnyour request.
          This value should follow the format `Bearer YOUR_ACCESS_TOKEN_HERE`.
        in: header
        name: Authorization
        required: true
        type: string
      - description: The customer to update.
        in: path
        name: customer_id
        required: true
        type: string
      - description: An object containing the fields to POST for the request.nnSee
          the corresponding object definition for field details.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateCustomerRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateCustomerResponse'
      summary: UpdateCustomer
      tags:
      - Customer
  /v2/customers/{customer_id}/cards:
    post:
      description: Adds a card on file to an existing customer.
      operationId: CreateCustomerCard
      parameters:
      - description: The value to provide in the Authorization header ofnyour request.
          This value should follow the format `Bearer YOUR_ACCESS_TOKEN_HERE`.
        in: header
        name: Authorization
        required: true
        type: string
      - description: ""
        in: path
        name: customer_id
        required: true
        type: string
      - description: An object containing the fields to POST for the request.nnSee
          the corresponding object definition for field details.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateCustomerCardRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateCustomerCardResponse'
      summary: CreateCustomerCard
      tags:
      - Customer.Card
  /v2/customers/{customer_id}/cards/{card_id}:
    delete:
      description: Removes a card on file from a customer.
      operationId: DeleteCustomerCard
      parameters:
      - description: The value to provide in the Authorization header ofnyour request.
          This value should follow the format `Bearer YOUR_ACCESS_TOKEN_HERE`.
        in: header
        name: Authorization
        required: true
        type: string
      - description: ""
        in: path
        name: customer_id
        required: true
        type: string
      - description: ""
        in: path
        name: card_id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteCustomerCardResponse'
      summary: DeleteCustomerCard
      tags:
      - Customer.Card
  /v2/locations:
    get:
      description: Provides summary information for all of a business's locations.
      operationId: ListLocations
      parameters:
      - description: The value to provide in the Authorization header ofnyour request.
          This value should follow the format `Bearer YOUR_ACCESS_TOKEN_HERE`.
        in: header
        name: Authorization
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListLocationsResponse'
      summary: ListLocations
      tags:
      - Location
  /v2/locations/{location_id}/refunds:
    get:
      description: Lists refunds for one of a business's locations.
      operationId: ListRefunds
      parameters:
      - description: The value to provide in the Authorization header ofnyour request.
          This value should follow the format `Bearer YOUR_ACCESS_TOKEN_HERE`.
        in: header
        name: Authorization
        required: true
        type: string
      - description: The ID of the location to list refunds for.
        in: path
        name: location_id
        required: true
        type: string
      - description: The beginning of the requested reporting period, in RFC 3339
          format.
        in: query
        name: begin_time
        required: false
        type: string
      - description: The end of the requested reporting period, in RFC 3339 format.
        in: query
        name: end_time
        required: false
        type: string
      - description: The order in which results are listed in the response.
        enum:
        - DESC
        - ASC
        in: query
        name: sort_order
        required: false
        type: string
      - description: A pagination cursor to retrieve the next set of results for yournoriginal
          query to the endpoint.
        in: query
        name: cursor
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListRefundsResponse'
      summary: ListRefunds
      tags:
      - Refund
  /v2/locations/{location_id}/transactions:
    get:
      description: Lists transactions for a particular location.nnWhen making a request
        to this endpoint, your request body **must** include either the `cursor` parameter,
        or it mustninclude both `begin_time` and `end_time` with an optional `sort_order`.
      operationId: ListTransactions
      parameters:
      - description: The value to provide in the Authorization header ofnyour request.
          This value should follow the format `Bearer YOUR_ACCESS_TOKEN_HERE`.
        in: header
        name: Authorization
        required: true
        type: string
      - description: The ID of the location to list transactions for.
        in: path
        name: location_id
        required: true
        type: string
      - description: The beginning of the requested reporting period, in RFC 3339
          format.
        in: query
        name: begin_time
        required: false
        type: string
      - description: The end of the requested reporting period, in RFC 3339 format.
        in: query
        name: end_time
        required: false
        type: string
      - description: The order in which results are listed in the response (`ASC`
          fornchronological, `DESC` for reverse-chronological).
        enum:
        - DESC
        - ASC
        in: query
        name: sort_order
        required: false
        type: string
      - description: A pagination cursor to retrieve the next set of results for yournoriginal
          query to the endpoint.
        in: query
        name: cursor
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListTransactionsResponse'
      summary: ListTransactions
      tags:
      - Transaction
    post:
      description: Charges a card represented by a token.
      operationId: Charge
      parameters:
      - description: The value to provide in the Authorization header ofnyour request.
          This value should follow the format `Bearer YOUR_ACCESS_TOKEN_HERE`.
        in: header
        name: Authorization
        required: true
        type: string
      - description: The ID of the location to associate the transaction with.
        in: path
        name: location_id
        required: true
        type: string
      - description: An object containing the fields to POST for the request.nnSee
          the corresponding object definition for field details.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ChargeRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ChargeResponse'
      summary: Charge
      tags:
      - Transaction
  /v2/locations/{location_id}/transactions/{transaction_id}:
    get:
      description: Retrieves details for a single transaction.
      operationId: RetrieveTransaction
      parameters:
      - description: The value to provide in the Authorization header ofnyour request.
          This value should follow the format `Bearer YOUR_ACCESS_TOKEN_HERE`.
        in: header
        name: Authorization
        required: true
        type: string
      - description: ""
        in: path
        name: location_id
        required: true
        type: string
      - description: ""
        in: path
        name: transaction_id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RetrieveTransactionResponse'
      summary: RetrieveTransaction
      tags:
      - Transaction
  /v2/locations/{location_id}/transactions/{transaction_id}/capture:
    post:
      description: Captures a transaction that was created with the **Charge**nendpoint
        with a `delay_capture` value of `true`.
      operationId: CaptureTransaction
      parameters:
      - description: The value to provide in the Authorization header ofnyour request.
          This value should follow the format `Bearer YOUR_ACCESS_TOKEN_HERE`.
        in: header
        name: Authorization
        required: true
        type: string
      - description: ""
        in: path
        name: location_id
        required: true
        type: string
      - description: ""
        in: path
        name: transaction_id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CaptureTransactionResponse'
      summary: CaptureTransaction
      tags:
      - Transaction
  /v2/locations/{location_id}/transactions/{transaction_id}/refund:
    post:
      description: Initiates a refund for a previously charged tender.
      operationId: CreateRefund
      parameters:
      - description: The value to provide in the Authorization header ofnyour request.
          This value should follow the format `Bearer YOUR_ACCESS_TOKEN_HERE`.
        in: header
        name: Authorization
        required: true
        type: string
      - description: The ID of the original transaction's associated location.
        in: path
        name: location_id
        required: true
        type: string
      - description: ""
        in: path
        name: transaction_id
        required: true
        type: string
      - description: An object containing the fields to POST for the request.nnSee
          the corresponding object definition for field details.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateRefundRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateRefundResponse'
      summary: CreateRefund
      tags:
      - Refund
  /v2/locations/{location_id}/transactions/{transaction_id}/void:
    post:
      description: Cancels a transaction that was created with the **Charge**nendpoint
        with a `delay_capture` value of `true`.
      operationId: VoidTransaction
      parameters:
      - description: The value to provide in the Authorization header ofnyour request.
          This value should follow the format `Bearer YOUR_ACCESS_TOKEN_HERE`.
        in: header
        name: Authorization
        required: true
        type: string
      - description: ""
        in: path
        name: location_id
        required: true
        type: string
      - description: ""
        in: path
        name: transaction_id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/VoidTransactionResponse'
      summary: VoidTransaction
      tags:
      - Transaction
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":46:{s:7:\"Address\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":12:{s:14:\"address_line_1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"address_line_2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"address_line_3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:31:\"administrative_district_level_1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:31:\"administrative_district_level_2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:31:\"administrative_district_level_3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:250:{i:0;s:2:\"ZZ\";i:1;s:2:\"AD\";i:2;s:2:\"AE\";i:3;s:2:\"AF\";i:4;s:2:\"AG\";i:5;s:2:\"AI\";i:6;s:2:\"AL\";i:7;s:2:\"AM\";i:8;s:2:\"AO\";i:9;s:2:\"AQ\";i:10;s:2:\"AR\";i:11;s:2:\"AS\";i:12;s:2:\"AT\";i:13;s:2:\"AU\";i:14;s:2:\"AW\";i:15;s:2:\"AX\";i:16;s:2:\"AZ\";i:17;s:2:\"BA\";i:18;s:2:\"BB\";i:19;s:2:\"BD\";i:20;s:2:\"BE\";i:21;s:2:\"BF\";i:22;s:2:\"BG\";i:23;s:2:\"BH\";i:24;s:2:\"BI\";i:25;s:2:\"BJ\";i:26;s:2:\"BL\";i:27;s:2:\"BM\";i:28;s:2:\"BN\";i:29;s:2:\"BO\";i:30;s:2:\"BQ\";i:31;s:2:\"BR\";i:32;s:2:\"BS\";i:33;s:2:\"BT\";i:34;s:2:\"BV\";i:35;s:2:\"BW\";i:36;s:2:\"BY\";i:37;s:2:\"BZ\";i:38;s:2:\"CA\";i:39;s:2:\"CC\";i:40;s:2:\"CD\";i:41;s:2:\"CF\";i:42;s:2:\"CG\";i:43;s:2:\"CH\";i:44;s:2:\"CI\";i:45;s:2:\"CK\";i:46;s:2:\"CL\";i:47;s:2:\"CM\";i:48;s:2:\"CN\";i:49;s:2:\"CO\";i:50;s:2:\"CR\";i:51;s:2:\"CU\";i:52;s:2:\"CV\";i:53;s:2:\"CW\";i:54;s:2:\"CX\";i:55;s:2:\"CY\";i:56;s:2:\"CZ\";i:57;s:2:\"DE\";i:58;s:2:\"DJ\";i:59;s:2:\"DK\";i:60;s:2:\"DM\";i:61;s:2:\"DO\";i:62;s:2:\"DZ\";i:63;s:2:\"EC\";i:64;s:2:\"EE\";i:65;s:2:\"EG\";i:66;s:2:\"EH\";i:67;s:2:\"ER\";i:68;s:2:\"ES\";i:69;s:2:\"ET\";i:70;s:2:\"FI\";i:71;s:2:\"FJ\";i:72;s:2:\"FK\";i:73;s:2:\"FM\";i:74;s:2:\"FO\";i:75;s:2:\"FR\";i:76;s:2:\"GA\";i:77;s:2:\"GB\";i:78;s:2:\"GD\";i:79;s:2:\"GE\";i:80;s:2:\"GF\";i:81;s:2:\"GG\";i:82;s:2:\"GH\";i:83;s:2:\"GI\";i:84;s:2:\"GL\";i:85;s:2:\"GM\";i:86;s:2:\"GN\";i:87;s:2:\"GP\";i:88;s:2:\"GQ\";i:89;s:2:\"GR\";i:90;s:2:\"GS\";i:91;s:2:\"GT\";i:92;s:2:\"GU\";i:93;s:2:\"GW\";i:94;s:2:\"GY\";i:95;s:2:\"HK\";i:96;s:2:\"HM\";i:97;s:2:\"HN\";i:98;s:2:\"HR\";i:99;s:2:\"HT\";i:100;s:2:\"HU\";i:101;s:2:\"ID\";i:102;s:2:\"IE\";i:103;s:2:\"IL\";i:104;s:2:\"IM\";i:105;s:2:\"IN\";i:106;s:2:\"IO\";i:107;s:2:\"IQ\";i:108;s:2:\"IR\";i:109;s:2:\"IS\";i:110;s:2:\"IT\";i:111;s:2:\"JE\";i:112;s:2:\"JM\";i:113;s:2:\"JO\";i:114;s:2:\"JP\";i:115;s:2:\"KE\";i:116;s:2:\"KG\";i:117;s:2:\"KH\";i:118;s:2:\"KI\";i:119;s:2:\"KM\";i:120;s:2:\"KN\";i:121;s:2:\"KP\";i:122;s:2:\"KR\";i:123;s:2:\"KW\";i:124;s:2:\"KY\";i:125;s:2:\"KZ\";i:126;s:2:\"LA\";i:127;s:2:\"LB\";i:128;s:2:\"LC\";i:129;s:2:\"LI\";i:130;s:2:\"LK\";i:131;s:2:\"LR\";i:132;s:2:\"LS\";i:133;s:2:\"LT\";i:134;s:2:\"LU\";i:135;s:2:\"LV\";i:136;s:2:\"LY\";i:137;s:2:\"MA\";i:138;s:2:\"MC\";i:139;s:2:\"MD\";i:140;s:2:\"ME\";i:141;s:2:\"MF\";i:142;s:2:\"MG\";i:143;s:2:\"MH\";i:144;s:2:\"MK\";i:145;s:2:\"ML\";i:146;s:2:\"MM\";i:147;s:2:\"MN\";i:148;s:2:\"MO\";i:149;s:2:\"MP\";i:150;s:2:\"MQ\";i:151;s:2:\"MR\";i:152;s:2:\"MS\";i:153;s:2:\"MT\";i:154;s:2:\"MU\";i:155;s:2:\"MV\";i:156;s:2:\"MW\";i:157;s:2:\"MX\";i:158;s:2:\"MY\";i:159;s:2:\"MZ\";i:160;s:2:\"NA\";i:161;s:2:\"NC\";i:162;s:2:\"NE\";i:163;s:2:\"NF\";i:164;s:2:\"NG\";i:165;s:2:\"NI\";i:166;s:2:\"NL\";i:167;s:2:\"NO\";i:168;s:2:\"NP\";i:169;s:2:\"NR\";i:170;s:2:\"NU\";i:171;s:2:\"NZ\";i:172;s:2:\"OM\";i:173;s:2:\"PA\";i:174;s:2:\"PE\";i:175;s:2:\"PF\";i:176;s:2:\"PG\";i:177;s:2:\"PH\";i:178;s:2:\"PK\";i:179;s:2:\"PL\";i:180;s:2:\"PM\";i:181;s:2:\"PN\";i:182;s:2:\"PR\";i:183;s:2:\"PS\";i:184;s:2:\"PT\";i:185;s:2:\"PW\";i:186;s:2:\"PY\";i:187;s:2:\"QA\";i:188;s:2:\"RE\";i:189;s:2:\"RO\";i:190;s:2:\"RS\";i:191;s:2:\"RU\";i:192;s:2:\"RW\";i:193;s:2:\"SA\";i:194;s:2:\"SB\";i:195;s:2:\"SC\";i:196;s:2:\"SD\";i:197;s:2:\"SE\";i:198;s:2:\"SG\";i:199;s:2:\"SH\";i:200;s:2:\"SI\";i:201;s:2:\"SJ\";i:202;s:2:\"SK\";i:203;s:2:\"SL\";i:204;s:2:\"SM\";i:205;s:2:\"SN\";i:206;s:2:\"SO\";i:207;s:2:\"SR\";i:208;s:2:\"SS\";i:209;s:2:\"ST\";i:210;s:2:\"SV\";i:211;s:2:\"SX\";i:212;s:2:\"SY\";i:213;s:2:\"SZ\";i:214;s:2:\"TC\";i:215;s:2:\"TD\";i:216;s:2:\"TF\";i:217;s:2:\"TG\";i:218;s:2:\"TH\";i:219;s:2:\"TJ\";i:220;s:2:\"TK\";i:221;s:2:\"TL\";i:222;s:2:\"TM\";i:223;s:2:\"TN\";i:224;s:2:\"TO\";i:225;s:2:\"TR\";i:226;s:2:\"TT\";i:227;s:2:\"TV\";i:228;s:2:\"TW\";i:229;s:2:\"TZ\";i:230;s:2:\"UA\";i:231;s:2:\"UG\";i:232;s:2:\"UM\";i:233;s:2:\"US\";i:234;s:2:\"UY\";i:235;s:2:\"UZ\";i:236;s:2:\"VA\";i:237;s:2:\"VC\";i:238;s:2:\"VE\";i:239;s:2:\"VG\";i:240;s:2:\"VI\";i:241;s:2:\"VN\";i:242;s:2:\"VU\";i:243;s:2:\"WF\";i:244;s:2:\"WS\";i:245;s:2:\"YE\";i:246;s:2:\"YT\";i:247;s:2:\"ZA\";i:248;s:2:\"ZM\";i:249;s:2:\"ZW\";}s:4:\"type\";s:6:\"string\";}s:8:\"locality\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"sublocality\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"sublocality_2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"sublocality_3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CaptureTransactionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Defines
  the fields that are included in the response body of\na request to the **CaptureTransaction**
  endpoint.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Any
  errors that occurred during the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Card\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Represents
  a credit card.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"billing_address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:41:\"The
  billing address for the card on file.\";}s:10:\"card_brand\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  card's brand (such as `VISA`).\";s:4:\"enum\";a:9:{i:0;s:11:\"OTHER_BRAND\";i:1;s:4:\"VISA\";i:2;s:10:\"MASTERCARD\";i:3;s:16:\"AMERICAN_EXPRESS\";i:4;s:8:\"DISCOVER\";i:5;s:15:\"DISCOVER_DINERS\";i:6;s:3:\"JCB\";i:7;s:14:\"CHINA_UNIONPAY\";i:8;s:16:\"SQUARE_GIFT_CARD\";}s:4:\"type\";s:6:\"string\";}s:15:\"cardholder_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  cardholder name for the card on file.\";s:4:\"type\";s:6:\"string\";}s:9:\"exp_month\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  month of the card's expiration date, which must be between 1-12.\";s:4:\"type\";s:7:\"integer\";}s:8:\"exp_year\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  year of the card's expiration date, which must be a 4-digit year.\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  card's unique ID, if any.\";s:4:\"type\";s:6:\"string\";}s:6:\"last_4\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  last 4 digits of the card's number.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"CardBrand\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:9:{i:0;s:11:\"OTHER_BRAND\";i:1;s:4:\"VISA\";i:2;s:10:\"MASTERCARD\";i:3;s:16:\"AMERICAN_EXPRESS\";i:4;s:8:\"DISCOVER\";i:5;s:15:\"DISCOVER_DINERS\";i:6;s:3:\"JCB\";i:7;s:14:\"CHINA_UNIONPAY\";i:8;s:16:\"SQUARE_GIFT_CARD\";}s:4:\"type\";s:6:\"string\";}s:13:\"ChargeRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:96:\"Defines
  the parameters that can be included in the body of\na request to the **Charge**
  endpoint.\";s:7:\"example\";O:8:\"stdClass\":8:{s:12:\"amount_money\";O:8:\"stdClass\":2:{s:6:\"amount\";i:5000;s:8:\"currency\";s:3:\"USD\";}s:15:\"billing_address\";O:8:\"stdClass\":6:{s:14:\"address_line_1\";s:16:\"500
  Electric Ave\";s:14:\"address_line_2\";s:9:\"Suite 600\";s:31:\"administrative_district_level_1\";s:2:\"NY\";s:7:\"country\";s:2:\"US\";s:8:\"locality\";s:8:\"New
  York\";s:11:\"postal_code\";s:5:\"10003\";}s:10:\"card_nonce\";s:26:\"card_nonce_from_square_123\";s:13:\"delay_capture\";b:0;s:15:\"idempotency_key\";s:36:\"74ae1696-b1e3-4328-af6d-f1e04d947a13\";s:4:\"note\";s:18:\"some
  optional note\";s:12:\"reference_id\";s:26:\"some optional reference id\";s:16:\"shipping_address\";O:8:\"stdClass\":5:{s:14:\"address_line_1\";s:11:\"123
  Main St\";s:31:\"administrative_district_level_1\";s:2:\"CA\";s:7:\"country\";s:2:\"US\";s:8:\"locality\";s:13:\"San
  Francisco\";s:11:\"postal_code\";s:5:\"94114\";}}s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"amount_money\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:50:\"The
  amount of money to collect in the transaction.\";}s:15:\"billing_address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:100:\"If
  available, Postal code in the billing address for US and Canada payments may reduce
  decline rate.\";}s:10:\"card_nonce\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"A
  nonce representing the credit card to charge for this transaction.\nDo not provide
  a value for this field if you provide a value for\n`customer_card_id`.\";s:4:\"type\";s:6:\"string\";}s:16:\"customer_card_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"The
  ID of the customer card on file to charge for this transaction. Do\nnot provide
  a value for this field if you provide a value for `card_nonce`.\";s:4:\"type\";s:6:\"string\";}s:11:\"customer_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"The
  ID of the customer to associate this transaction with. This field\nis required if
  you provide a value for `customer_card_id`, and optional\notherwise.\";s:4:\"type\";s:6:\"string\";}s:13:\"delay_capture\";O:8:\"stdClass\":2:{s:11:\"description\";s:205:\"If
  `true`, the request will only perform an Auth on the provided\ncard. You can then
  later perform either a Capture (with the\n*CaptureTransaction** endpoint) or a Void
  (with the **VoidTransation**\nendpoint.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"idempotency_key\";O:8:\"stdClass\":2:{s:11:\"description\";s:365:\"A
  value you specify that uniquely identifies this\ntransaction among transactions
  you've created.\n\nIf you're unsure whether a particular transaction succeeded,\nyou
  can reattempt it with the same idempotency key without\nworrying about double-charging
  the buyer. Note that *all other fields*\nmust also remain identical in your followup
  request, or an error will occur.\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"An
  optional note to associate with the transaction.\";s:4:\"type\";s:6:\"string\";}s:12:\"reference_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"An
  optional ID you can associate with the transaction for your own\npurposes (such
  as to associate the transaction with an entity ID in your\nown database).\";s:4:\"type\";s:6:\"string\";}s:16:\"shipping_address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:0:\"\";}}s:8:\"required\";a:2:{i:0;s:15:\"idempotency_key\";i:1;s:12:\"amount_money\";}s:4:\"type\";s:6:\"object\";}s:14:\"ChargeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:177:\"Defines
  the fields that are included in the response body of\na request to the **Charge**
  endpoint.\n\nOne of `errors` or `transaction` is present in a given response (never
  both).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Any
  errors that occurred during the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:11:\"transaction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Transaction\";s:11:\"description\";s:39:\"The
  details of the created transaction.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Country\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:250:{i:0;s:2:\"ZZ\";i:1;s:2:\"AD\";i:2;s:2:\"AE\";i:3;s:2:\"AF\";i:4;s:2:\"AG\";i:5;s:2:\"AI\";i:6;s:2:\"AL\";i:7;s:2:\"AM\";i:8;s:2:\"AO\";i:9;s:2:\"AQ\";i:10;s:2:\"AR\";i:11;s:2:\"AS\";i:12;s:2:\"AT\";i:13;s:2:\"AU\";i:14;s:2:\"AW\";i:15;s:2:\"AX\";i:16;s:2:\"AZ\";i:17;s:2:\"BA\";i:18;s:2:\"BB\";i:19;s:2:\"BD\";i:20;s:2:\"BE\";i:21;s:2:\"BF\";i:22;s:2:\"BG\";i:23;s:2:\"BH\";i:24;s:2:\"BI\";i:25;s:2:\"BJ\";i:26;s:2:\"BL\";i:27;s:2:\"BM\";i:28;s:2:\"BN\";i:29;s:2:\"BO\";i:30;s:2:\"BQ\";i:31;s:2:\"BR\";i:32;s:2:\"BS\";i:33;s:2:\"BT\";i:34;s:2:\"BV\";i:35;s:2:\"BW\";i:36;s:2:\"BY\";i:37;s:2:\"BZ\";i:38;s:2:\"CA\";i:39;s:2:\"CC\";i:40;s:2:\"CD\";i:41;s:2:\"CF\";i:42;s:2:\"CG\";i:43;s:2:\"CH\";i:44;s:2:\"CI\";i:45;s:2:\"CK\";i:46;s:2:\"CL\";i:47;s:2:\"CM\";i:48;s:2:\"CN\";i:49;s:2:\"CO\";i:50;s:2:\"CR\";i:51;s:2:\"CU\";i:52;s:2:\"CV\";i:53;s:2:\"CW\";i:54;s:2:\"CX\";i:55;s:2:\"CY\";i:56;s:2:\"CZ\";i:57;s:2:\"DE\";i:58;s:2:\"DJ\";i:59;s:2:\"DK\";i:60;s:2:\"DM\";i:61;s:2:\"DO\";i:62;s:2:\"DZ\";i:63;s:2:\"EC\";i:64;s:2:\"EE\";i:65;s:2:\"EG\";i:66;s:2:\"EH\";i:67;s:2:\"ER\";i:68;s:2:\"ES\";i:69;s:2:\"ET\";i:70;s:2:\"FI\";i:71;s:2:\"FJ\";i:72;s:2:\"FK\";i:73;s:2:\"FM\";i:74;s:2:\"FO\";i:75;s:2:\"FR\";i:76;s:2:\"GA\";i:77;s:2:\"GB\";i:78;s:2:\"GD\";i:79;s:2:\"GE\";i:80;s:2:\"GF\";i:81;s:2:\"GG\";i:82;s:2:\"GH\";i:83;s:2:\"GI\";i:84;s:2:\"GL\";i:85;s:2:\"GM\";i:86;s:2:\"GN\";i:87;s:2:\"GP\";i:88;s:2:\"GQ\";i:89;s:2:\"GR\";i:90;s:2:\"GS\";i:91;s:2:\"GT\";i:92;s:2:\"GU\";i:93;s:2:\"GW\";i:94;s:2:\"GY\";i:95;s:2:\"HK\";i:96;s:2:\"HM\";i:97;s:2:\"HN\";i:98;s:2:\"HR\";i:99;s:2:\"HT\";i:100;s:2:\"HU\";i:101;s:2:\"ID\";i:102;s:2:\"IE\";i:103;s:2:\"IL\";i:104;s:2:\"IM\";i:105;s:2:\"IN\";i:106;s:2:\"IO\";i:107;s:2:\"IQ\";i:108;s:2:\"IR\";i:109;s:2:\"IS\";i:110;s:2:\"IT\";i:111;s:2:\"JE\";i:112;s:2:\"JM\";i:113;s:2:\"JO\";i:114;s:2:\"JP\";i:115;s:2:\"KE\";i:116;s:2:\"KG\";i:117;s:2:\"KH\";i:118;s:2:\"KI\";i:119;s:2:\"KM\";i:120;s:2:\"KN\";i:121;s:2:\"KP\";i:122;s:2:\"KR\";i:123;s:2:\"KW\";i:124;s:2:\"KY\";i:125;s:2:\"KZ\";i:126;s:2:\"LA\";i:127;s:2:\"LB\";i:128;s:2:\"LC\";i:129;s:2:\"LI\";i:130;s:2:\"LK\";i:131;s:2:\"LR\";i:132;s:2:\"LS\";i:133;s:2:\"LT\";i:134;s:2:\"LU\";i:135;s:2:\"LV\";i:136;s:2:\"LY\";i:137;s:2:\"MA\";i:138;s:2:\"MC\";i:139;s:2:\"MD\";i:140;s:2:\"ME\";i:141;s:2:\"MF\";i:142;s:2:\"MG\";i:143;s:2:\"MH\";i:144;s:2:\"MK\";i:145;s:2:\"ML\";i:146;s:2:\"MM\";i:147;s:2:\"MN\";i:148;s:2:\"MO\";i:149;s:2:\"MP\";i:150;s:2:\"MQ\";i:151;s:2:\"MR\";i:152;s:2:\"MS\";i:153;s:2:\"MT\";i:154;s:2:\"MU\";i:155;s:2:\"MV\";i:156;s:2:\"MW\";i:157;s:2:\"MX\";i:158;s:2:\"MY\";i:159;s:2:\"MZ\";i:160;s:2:\"NA\";i:161;s:2:\"NC\";i:162;s:2:\"NE\";i:163;s:2:\"NF\";i:164;s:2:\"NG\";i:165;s:2:\"NI\";i:166;s:2:\"NL\";i:167;s:2:\"NO\";i:168;s:2:\"NP\";i:169;s:2:\"NR\";i:170;s:2:\"NU\";i:171;s:2:\"NZ\";i:172;s:2:\"OM\";i:173;s:2:\"PA\";i:174;s:2:\"PE\";i:175;s:2:\"PF\";i:176;s:2:\"PG\";i:177;s:2:\"PH\";i:178;s:2:\"PK\";i:179;s:2:\"PL\";i:180;s:2:\"PM\";i:181;s:2:\"PN\";i:182;s:2:\"PR\";i:183;s:2:\"PS\";i:184;s:2:\"PT\";i:185;s:2:\"PW\";i:186;s:2:\"PY\";i:187;s:2:\"QA\";i:188;s:2:\"RE\";i:189;s:2:\"RO\";i:190;s:2:\"RS\";i:191;s:2:\"RU\";i:192;s:2:\"RW\";i:193;s:2:\"SA\";i:194;s:2:\"SB\";i:195;s:2:\"SC\";i:196;s:2:\"SD\";i:197;s:2:\"SE\";i:198;s:2:\"SG\";i:199;s:2:\"SH\";i:200;s:2:\"SI\";i:201;s:2:\"SJ\";i:202;s:2:\"SK\";i:203;s:2:\"SL\";i:204;s:2:\"SM\";i:205;s:2:\"SN\";i:206;s:2:\"SO\";i:207;s:2:\"SR\";i:208;s:2:\"SS\";i:209;s:2:\"ST\";i:210;s:2:\"SV\";i:211;s:2:\"SX\";i:212;s:2:\"SY\";i:213;s:2:\"SZ\";i:214;s:2:\"TC\";i:215;s:2:\"TD\";i:216;s:2:\"TF\";i:217;s:2:\"TG\";i:218;s:2:\"TH\";i:219;s:2:\"TJ\";i:220;s:2:\"TK\";i:221;s:2:\"TL\";i:222;s:2:\"TM\";i:223;s:2:\"TN\";i:224;s:2:\"TO\";i:225;s:2:\"TR\";i:226;s:2:\"TT\";i:227;s:2:\"TV\";i:228;s:2:\"TW\";i:229;s:2:\"TZ\";i:230;s:2:\"UA\";i:231;s:2:\"UG\";i:232;s:2:\"UM\";i:233;s:2:\"US\";i:234;s:2:\"UY\";i:235;s:2:\"UZ\";i:236;s:2:\"VA\";i:237;s:2:\"VC\";i:238;s:2:\"VE\";i:239;s:2:\"VG\";i:240;s:2:\"VI\";i:241;s:2:\"VN\";i:242;s:2:\"VU\";i:243;s:2:\"WF\";i:244;s:2:\"WS\";i:245;s:2:\"YE\";i:246;s:2:\"YT\";i:247;s:2:\"ZA\";i:248;s:2:\"ZM\";i:249;s:2:\"ZW\";}s:4:\"type\";s:6:\"string\";}s:25:\"CreateCustomerCardRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"billing_address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:66:\"Postal
  code in the address is required for US and Canada payments.\";}s:10:\"card_nonce\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"A
  card nonce representing the card data to link to the customer.\";s:4:\"type\";s:6:\"string\";}s:15:\"cardholder_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  cardholder name.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"card_nonce\";}s:4:\"type\";s:6:\"object\";}s:26:\"CreateCustomerCardResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"Defines
  the fields that are included in the response body of\na request to the **CreateCustomerCard**
  endpoint.\n\nOne of `errors` or `card` is present in a given response (never both).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"card\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Card\";s:11:\"description\";s:0:\"\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateCustomerRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:0:\"\";}s:12:\"company_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"email_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"nickname\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"reference_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CreateCustomerResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"Defines
  the fields that are included in the response body of\na request to the **CreateCustomer**
  endpoint.\n\nOne of `errors` or `customer` is present in a given response (never
  both).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"customer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Customer\";s:11:\"description\";s:0:\"\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateRefundRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"Defines
  the body parameters that can be included in\na request to the **CreateRefund** endpoint.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"amount_money\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:30:\"The
  amount of money to refund.\";}s:15:\"idempotency_key\";O:8:\"stdClass\":2:{s:11:\"description\";s:256:\"A
  value you specify that uniquely identifies this\nrefund among refunds you've created
  for the tender.\n\nIf you're unsure whether a particular refund succeeded,\nyou
  can reattempt it with the same idempotency key without\nworrying about duplicating
  the refund.\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"A
  description of the reason for the refund.\";s:4:\"type\";s:6:\"string\";}s:9:\"tender_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  ID of the tender to refund.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:15:\"idempotency_key\";i:1;s:9:\"tender_id\";i:2;s:12:\"amount_money\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateRefundResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:178:\"Defines
  the fields that are included in the response body of\na request to the **CreateRefund**
  endpoint.\n\nOne of `errors` or `refund` is present in a given response (never both).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Any
  errors that occurred during the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"refund\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Refund\";s:11:\"description\";s:34:\"The
  details of the created refund.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:180:{i:0;s:3:\"AED\";i:1;s:3:\"AFN\";i:2;s:3:\"ALL\";i:3;s:3:\"AMD\";i:4;s:3:\"ANG\";i:5;s:3:\"AOA\";i:6;s:3:\"ARS\";i:7;s:3:\"AUD\";i:8;s:3:\"AWG\";i:9;s:3:\"AZN\";i:10;s:3:\"BAM\";i:11;s:3:\"BBD\";i:12;s:3:\"BDT\";i:13;s:3:\"BGN\";i:14;s:3:\"BHD\";i:15;s:3:\"BIF\";i:16;s:3:\"BMD\";i:17;s:3:\"BND\";i:18;s:3:\"BOB\";i:19;s:3:\"BOV\";i:20;s:3:\"BRL\";i:21;s:3:\"BSD\";i:22;s:3:\"BTN\";i:23;s:3:\"BWP\";i:24;s:3:\"BYR\";i:25;s:3:\"BZD\";i:26;s:3:\"CAD\";i:27;s:3:\"CDF\";i:28;s:3:\"CHE\";i:29;s:3:\"CHF\";i:30;s:3:\"CHW\";i:31;s:3:\"CLF\";i:32;s:3:\"CLP\";i:33;s:3:\"CNY\";i:34;s:3:\"COP\";i:35;s:3:\"COU\";i:36;s:3:\"CRC\";i:37;s:3:\"CUC\";i:38;s:3:\"CUP\";i:39;s:3:\"CVE\";i:40;s:3:\"CZK\";i:41;s:3:\"DJF\";i:42;s:3:\"DKK\";i:43;s:3:\"DOP\";i:44;s:3:\"DZD\";i:45;s:3:\"EGP\";i:46;s:3:\"ERN\";i:47;s:3:\"ETB\";i:48;s:3:\"EUR\";i:49;s:3:\"FJD\";i:50;s:3:\"FKP\";i:51;s:3:\"GBP\";i:52;s:3:\"GEL\";i:53;s:3:\"GHS\";i:54;s:3:\"GIP\";i:55;s:3:\"GMD\";i:56;s:3:\"GNF\";i:57;s:3:\"GTQ\";i:58;s:3:\"GYD\";i:59;s:3:\"HKD\";i:60;s:3:\"HNL\";i:61;s:3:\"HRK\";i:62;s:3:\"HTG\";i:63;s:3:\"HUF\";i:64;s:3:\"IDR\";i:65;s:3:\"ILS\";i:66;s:3:\"INR\";i:67;s:3:\"IQD\";i:68;s:3:\"IRR\";i:69;s:3:\"ISK\";i:70;s:3:\"JMD\";i:71;s:3:\"JOD\";i:72;s:3:\"JPY\";i:73;s:3:\"KES\";i:74;s:3:\"KGS\";i:75;s:3:\"KHR\";i:76;s:3:\"KMF\";i:77;s:3:\"KPW\";i:78;s:3:\"KRW\";i:79;s:3:\"KWD\";i:80;s:3:\"KYD\";i:81;s:3:\"KZT\";i:82;s:3:\"LAK\";i:83;s:3:\"LBP\";i:84;s:3:\"LKR\";i:85;s:3:\"LRD\";i:86;s:3:\"LSL\";i:87;s:3:\"LTL\";i:88;s:3:\"LVL\";i:89;s:3:\"LYD\";i:90;s:3:\"MAD\";i:91;s:3:\"MDL\";i:92;s:3:\"MGA\";i:93;s:3:\"MKD\";i:94;s:3:\"MMK\";i:95;s:3:\"MNT\";i:96;s:3:\"MOP\";i:97;s:3:\"MRO\";i:98;s:3:\"MUR\";i:99;s:3:\"MVR\";i:100;s:3:\"MWK\";i:101;s:3:\"MXN\";i:102;s:3:\"MXV\";i:103;s:3:\"MYR\";i:104;s:3:\"MZN\";i:105;s:3:\"NAD\";i:106;s:3:\"NGN\";i:107;s:3:\"NIO\";i:108;s:3:\"NOK\";i:109;s:3:\"NPR\";i:110;s:3:\"NZD\";i:111;s:3:\"OMR\";i:112;s:3:\"PAB\";i:113;s:3:\"PEN\";i:114;s:3:\"PGK\";i:115;s:3:\"PHP\";i:116;s:3:\"PKR\";i:117;s:3:\"PLN\";i:118;s:3:\"PYG\";i:119;s:3:\"QAR\";i:120;s:3:\"RON\";i:121;s:3:\"RSD\";i:122;s:3:\"RUB\";i:123;s:3:\"RWF\";i:124;s:3:\"SAR\";i:125;s:3:\"SBD\";i:126;s:3:\"SCR\";i:127;s:3:\"SDG\";i:128;s:3:\"SEK\";i:129;s:3:\"SGD\";i:130;s:3:\"SHP\";i:131;s:3:\"SLL\";i:132;s:3:\"SOS\";i:133;s:3:\"SRD\";i:134;s:3:\"SSP\";i:135;s:3:\"STD\";i:136;s:3:\"SVC\";i:137;s:3:\"SYP\";i:138;s:3:\"SZL\";i:139;s:3:\"THB\";i:140;s:3:\"TJS\";i:141;s:3:\"TMT\";i:142;s:3:\"TND\";i:143;s:3:\"TOP\";i:144;s:3:\"TRY\";i:145;s:3:\"TTD\";i:146;s:3:\"TWD\";i:147;s:3:\"TZS\";i:148;s:3:\"UAH\";i:149;s:3:\"UGX\";i:150;s:3:\"USD\";i:151;s:3:\"USN\";i:152;s:3:\"USS\";i:153;s:3:\"UYI\";i:154;s:3:\"UYU\";i:155;s:3:\"UZS\";i:156;s:3:\"VEF\";i:157;s:3:\"VND\";i:158;s:3:\"VUV\";i:159;s:3:\"WST\";i:160;s:3:\"XAF\";i:161;s:3:\"XAG\";i:162;s:3:\"XAU\";i:163;s:3:\"XBA\";i:164;s:3:\"XBB\";i:165;s:3:\"XBC\";i:166;s:3:\"XBD\";i:167;s:3:\"XCD\";i:168;s:3:\"XDR\";i:169;s:3:\"XOF\";i:170;s:3:\"XPD\";i:171;s:3:\"XPF\";i:172;s:3:\"XPT\";i:173;s:3:\"XTS\";i:174;s:3:\"XXX\";i:175;s:3:\"YER\";i:176;s:3:\"ZAR\";i:177;s:3:\"ZMK\";i:178;s:3:\"ZMW\";i:179;s:3:\"BTC\";}s:4:\"type\";s:6:\"string\";}s:8:\"Customer\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":13:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:0:\"\";}s:5:\"cards\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Cards
  on file for the customer.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Card\";}s:4:\"type\";s:5:\"array\";}s:12:\"company_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  time when the customer was created, in RFC 3339 format.\";s:4:\"type\";s:6:\"string\";}s:13:\"email_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  customer's unique ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"nickname\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"reference_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  time when the customer was updated, in RFC 3339 format.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DeleteCustomerCardResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Defines
  the fields that are included in the response body of\na request to the **DeleteCustomerCard**
  endpoint.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteCustomerResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Defines
  the fields that are included in the response body of\na request to the **DeleteCustomer**
  endpoint.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"category\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:6:{i:0;s:9:\"API_ERROR\";i:1;s:20:\"AUTHENTICATION_ERROR\";i:2;s:21:\"INVALID_REQUEST_ERROR\";i:3;s:16:\"RATE_LIMIT_ERROR\";i:4;s:20:\"PAYMENT_METHOD_ERROR\";i:5;s:12:\"REFUND_ERROR\";}s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:62:{i:0;s:21:\"INTERNAL_SERVER_ERROR\";i:1;s:12:\"UNAUTHORIZED\";i:2;s:20:\"ACCESS_TOKEN_EXPIRED\";i:3;s:20:\"ACCESS_TOKEN_REVOKED\";i:4;s:9:\"FORBIDDEN\";i:5;s:19:\"INSUFFICIENT_SCOPES\";i:6;s:20:\"APPLICATION_DISABLED\";i:7;s:14:\"V1_APPLICATION\";i:8;s:15:\"V1_ACCESS_TOKEN\";i:9;s:27:\"CARD_PROCESSING_NOT_ENABLED\";i:10;s:11:\"BAD_REQUEST\";i:11;s:26:\"MISSING_REQUIRED_PARAMETER\";i:12;s:14:\"INCORRECT_TYPE\";i:13;s:12:\"INVALID_TIME\";i:14;s:18:\"INVALID_TIME_RANGE\";i:15;s:13:\"INVALID_VALUE\";i:16;s:14:\"INVALID_CURSOR\";i:17;s:23:\"UNKNOWN_QUERY_PARAMETER\";i:18;s:22:\"CONFLICTING_PARAMETERS\";i:19;s:18:\"EXPECTED_JSON_BODY\";i:20;s:18:\"INVALID_SORT_ORDER\";i:21;s:14:\"VALUE_TOO_LONG\";i:22;s:13:\"VALUE_TOO_LOW\";i:23;s:16:\"EXPECTED_BOOLEAN\";i:24;s:16:\"EXPECTED_INTEGER\";i:25;s:14:\"EXPECTED_FLOAT\";i:26;s:15:\"EXPECTED_STRING\";i:27;s:15:\"EXPECTED_OBJECT\";i:28;s:14:\"EXPECTED_ARRAY\";i:29;s:19:\"INVALID_ARRAY_VALUE\";i:30;s:18:\"INVALID_ENUM_VALUE\";i:31;s:20:\"INVALID_CONTENT_TYPE\";i:32;s:18:\"INVALID_FORM_VALUE\";i:33;s:23:\"ONE_INSTRUMENT_EXPECTED\";i:34;s:13:\"NO_FIELDS_SET\";i:35;s:13:\"CARD_DECLINED\";i:36;s:12:\"CARD_EXPIRED\";i:37;s:18:\"VERIFY_CVV_FAILURE\";i:38;s:18:\"VERIFY_AVS_FAILURE\";i:39;s:18:\"INVALID_EXPIRATION\";i:40;s:23:\"INVALID_EXPIRATION_YEAR\";i:41;s:23:\"INVALID_EXPIRATION_DATE\";i:42;s:12:\"INVALID_CARD\";i:43;s:27:\"DELAYED_TRANSACTION_EXPIRED\";i:44;s:28:\"DELAYED_TRANSACTION_CANCELED\";i:45;s:28:\"DELAYED_TRANSACTION_CAPTURED\";i:46;s:26:\"DELAYED_TRANSACTION_FAILED\";i:47;s:18:\"CARD_TOKEN_EXPIRED\";i:48;s:15:\"CARD_TOKEN_USED\";i:49;s:15:\"AMOUNT_TOO_HIGH\";i:50;s:27:\"UNSUPPORTED_INSTRUMENT_TYPE\";i:51;s:21:\"REFUND_AMOUNT_INVALID\";i:52;s:22:\"REFUND_ALREADY_PENDING\";i:53;s:22:\"PAYMENT_NOT_REFUNDABLE\";i:54;s:17:\"INVALID_CARD_DATA\";i:55;s:9:\"NOT_FOUND\";i:56;s:15:\"REQUEST_TIMEOUT\";i:57;s:24:\"REQUEST_ENTITY_TOO_LARGE\";i:58;s:22:\"UNSUPPORTED_MEDIA_TYPE\";i:59;s:12:\"RATE_LIMITED\";i:60;s:15:\"NOT_IMPLEMENTED\";i:61;s:19:\"SERVICE_UNAVAILABLE\";}s:4:\"type\";s:6:\"string\";}s:6:\"detail\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"field\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"category\";i:1;s:4:\"code\";}s:4:\"type\";s:6:\"object\";}s:13:\"ErrorCategory\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:6:{i:0;s:9:\"API_ERROR\";i:1;s:20:\"AUTHENTICATION_ERROR\";i:2;s:21:\"INVALID_REQUEST_ERROR\";i:3;s:16:\"RATE_LIMIT_ERROR\";i:4;s:20:\"PAYMENT_METHOD_ERROR\";i:5;s:12:\"REFUND_ERROR\";}s:4:\"type\";s:6:\"string\";}s:9:\"ErrorCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:62:{i:0;s:21:\"INTERNAL_SERVER_ERROR\";i:1;s:12:\"UNAUTHORIZED\";i:2;s:20:\"ACCESS_TOKEN_EXPIRED\";i:3;s:20:\"ACCESS_TOKEN_REVOKED\";i:4;s:9:\"FORBIDDEN\";i:5;s:19:\"INSUFFICIENT_SCOPES\";i:6;s:20:\"APPLICATION_DISABLED\";i:7;s:14:\"V1_APPLICATION\";i:8;s:15:\"V1_ACCESS_TOKEN\";i:9;s:27:\"CARD_PROCESSING_NOT_ENABLED\";i:10;s:11:\"BAD_REQUEST\";i:11;s:26:\"MISSING_REQUIRED_PARAMETER\";i:12;s:14:\"INCORRECT_TYPE\";i:13;s:12:\"INVALID_TIME\";i:14;s:18:\"INVALID_TIME_RANGE\";i:15;s:13:\"INVALID_VALUE\";i:16;s:14:\"INVALID_CURSOR\";i:17;s:23:\"UNKNOWN_QUERY_PARAMETER\";i:18;s:22:\"CONFLICTING_PARAMETERS\";i:19;s:18:\"EXPECTED_JSON_BODY\";i:20;s:18:\"INVALID_SORT_ORDER\";i:21;s:14:\"VALUE_TOO_LONG\";i:22;s:13:\"VALUE_TOO_LOW\";i:23;s:16:\"EXPECTED_BOOLEAN\";i:24;s:16:\"EXPECTED_INTEGER\";i:25;s:14:\"EXPECTED_FLOAT\";i:26;s:15:\"EXPECTED_STRING\";i:27;s:15:\"EXPECTED_OBJECT\";i:28;s:14:\"EXPECTED_ARRAY\";i:29;s:19:\"INVALID_ARRAY_VALUE\";i:30;s:18:\"INVALID_ENUM_VALUE\";i:31;s:20:\"INVALID_CONTENT_TYPE\";i:32;s:18:\"INVALID_FORM_VALUE\";i:33;s:23:\"ONE_INSTRUMENT_EXPECTED\";i:34;s:13:\"NO_FIELDS_SET\";i:35;s:13:\"CARD_DECLINED\";i:36;s:12:\"CARD_EXPIRED\";i:37;s:18:\"VERIFY_CVV_FAILURE\";i:38;s:18:\"VERIFY_AVS_FAILURE\";i:39;s:18:\"INVALID_EXPIRATION\";i:40;s:23:\"INVALID_EXPIRATION_YEAR\";i:41;s:23:\"INVALID_EXPIRATION_DATE\";i:42;s:12:\"INVALID_CARD\";i:43;s:27:\"DELAYED_TRANSACTION_EXPIRED\";i:44;s:28:\"DELAYED_TRANSACTION_CANCELED\";i:45;s:28:\"DELAYED_TRANSACTION_CAPTURED\";i:46;s:26:\"DELAYED_TRANSACTION_FAILED\";i:47;s:18:\"CARD_TOKEN_EXPIRED\";i:48;s:15:\"CARD_TOKEN_USED\";i:49;s:15:\"AMOUNT_TOO_HIGH\";i:50;s:27:\"UNSUPPORTED_INSTRUMENT_TYPE\";i:51;s:21:\"REFUND_AMOUNT_INVALID\";i:52;s:22:\"REFUND_ALREADY_PENDING\";i:53;s:22:\"PAYMENT_NOT_REFUNDABLE\";i:54;s:17:\"INVALID_CARD_DATA\";i:55;s:9:\"NOT_FOUND\";i:56;s:15:\"REQUEST_TIMEOUT\";i:57;s:24:\"REQUEST_ENTITY_TOO_LARGE\";i:58;s:22:\"UNSUPPORTED_MEDIA_TYPE\";i:59;s:12:\"RATE_LIMITED\";i:60;s:15:\"NOT_IMPLEMENTED\";i:61;s:19:\"SERVICE_UNAVAILABLE\";}s:4:\"type\";s:6:\"string\";}s:20:\"ListCustomersRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"cursor\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListCustomersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"Defines
  the fields that are included in the response body of\na request to the **ListCustomers**
  endpoint.\n\nOne of `errors` or `customers` is present in a given response (never
  both).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"cursor\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"customers\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Customer\";}s:4:\"type\";s:5:\"array\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListLocationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"Defines
  the fields that are included in the response body of \na request to the **ListLocations**
  endpoint.\n\nOne of `errors` or `locations` is present in a given response (never
  both).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Any
  errors that occurred during the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"An
  array of the business's locations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListRefundsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Defines
  the query parameters that can be included in\na request to the **ListRefunds** endpoint.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"begin_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  beginning of the requested reporting period, in RFC 3339 format.\";s:4:\"type\";s:6:\"string\";}s:6:\"cursor\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"A
  pagination cursor to retrieve the next set of results for your\noriginal query to
  the endpoint.\";s:4:\"type\";s:6:\"string\";}s:8:\"end_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  end of the requested reporting period, in RFC 3339 format.\";s:4:\"type\";s:6:\"string\";}s:10:\"sort_order\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  order in which results are listed in the response.\";s:4:\"enum\";a:2:{i:0;s:4:\"DESC\";i:1;s:3:\"ASC\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListRefundsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:184:\"Defines
  the fields that are included in the response body of\na request to the **ListTenderRefunds**
  endpoint.\n\nOne of `errors` or `refunds` is present in a given response (never
  both).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"cursor\";O:8:\"stdClass\":2:{s:11:\"description\";s:183:\"A
  pagination cursor for retrieving the next set of results,\nif any remain.\n\nProvide
  this value as the `cursor` parameter in a subsequent request\nto the **ListTenderRefunds**
  endpoint.\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Any
  errors that occurred during the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:7:\"refunds\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"An
  array of refunds that match your query.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Refund\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListTransactionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Defines
  the query parameters that can be included in\na request to the **ListTransactions**
  endpoint.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"begin_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  beginning of the requested reporting period, in RFC 3339 format.\";s:4:\"type\";s:6:\"string\";}s:6:\"cursor\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"A
  pagination cursor to retrieve the next set of results for your\noriginal query to
  the endpoint.\";s:4:\"type\";s:6:\"string\";}s:8:\"end_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  end of the requested reporting period, in RFC 3339 format.\";s:4:\"type\";s:6:\"string\";}s:10:\"sort_order\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"The
  order in which results are listed in the response (`ASC` for\nchronological, `DESC`
  for reverse-chronological).\";s:4:\"enum\";a:2:{i:0;s:4:\"DESC\";i:1;s:3:\"ASC\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListTransactionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:188:\"Defines
  the fields that are included in the response body of\na request to the **ListTransactions**
  endpoint.\n\nOne of `errors` or `transactions` is present in a given response (never
  both).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"cursor\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"A
  pagination cursor for retrieving the next set of results,\nif any remain.\n\nProvide
  this value as the `cursor` parameter in a subsequent request\nto the **ListTransactions**
  endpoint.\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Any
  errors that occurred during the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:12:\"transactions\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"An
  array of transactions that match your query.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Transaction\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Location\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Represents
  one of a business's locations.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:29:\"The
  address of this location.\";}s:12:\"capabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Indicates
  which Square features are enabled for the location.\n\nCurrently, there is only
  one value that might be present in this array:\n`CREDIT_CARD_PROCESSING`.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:22:\"CREDIT_CARD_PROCESSING\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  location's unique ID.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  name given to the location.\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  IANA Timezone Database identifier for the location's timezone.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"LocationCapability\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:1:{i:0;s:22:\"CREDIT_CARD_PROCESSING\";}s:4:\"type\";s:6:\"string\";}s:5:\"Money\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"Amount
  in the lowest denominated value of this Currency. E.g. in USD\nthese are cents,
  in JPY they are Yen (which do not have a 'cent' concept).\";s:4:\"type\";s:7:\"integer\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:180:{i:0;s:3:\"AED\";i:1;s:3:\"AFN\";i:2;s:3:\"ALL\";i:3;s:3:\"AMD\";i:4;s:3:\"ANG\";i:5;s:3:\"AOA\";i:6;s:3:\"ARS\";i:7;s:3:\"AUD\";i:8;s:3:\"AWG\";i:9;s:3:\"AZN\";i:10;s:3:\"BAM\";i:11;s:3:\"BBD\";i:12;s:3:\"BDT\";i:13;s:3:\"BGN\";i:14;s:3:\"BHD\";i:15;s:3:\"BIF\";i:16;s:3:\"BMD\";i:17;s:3:\"BND\";i:18;s:3:\"BOB\";i:19;s:3:\"BOV\";i:20;s:3:\"BRL\";i:21;s:3:\"BSD\";i:22;s:3:\"BTN\";i:23;s:3:\"BWP\";i:24;s:3:\"BYR\";i:25;s:3:\"BZD\";i:26;s:3:\"CAD\";i:27;s:3:\"CDF\";i:28;s:3:\"CHE\";i:29;s:3:\"CHF\";i:30;s:3:\"CHW\";i:31;s:3:\"CLF\";i:32;s:3:\"CLP\";i:33;s:3:\"CNY\";i:34;s:3:\"COP\";i:35;s:3:\"COU\";i:36;s:3:\"CRC\";i:37;s:3:\"CUC\";i:38;s:3:\"CUP\";i:39;s:3:\"CVE\";i:40;s:3:\"CZK\";i:41;s:3:\"DJF\";i:42;s:3:\"DKK\";i:43;s:3:\"DOP\";i:44;s:3:\"DZD\";i:45;s:3:\"EGP\";i:46;s:3:\"ERN\";i:47;s:3:\"ETB\";i:48;s:3:\"EUR\";i:49;s:3:\"FJD\";i:50;s:3:\"FKP\";i:51;s:3:\"GBP\";i:52;s:3:\"GEL\";i:53;s:3:\"GHS\";i:54;s:3:\"GIP\";i:55;s:3:\"GMD\";i:56;s:3:\"GNF\";i:57;s:3:\"GTQ\";i:58;s:3:\"GYD\";i:59;s:3:\"HKD\";i:60;s:3:\"HNL\";i:61;s:3:\"HRK\";i:62;s:3:\"HTG\";i:63;s:3:\"HUF\";i:64;s:3:\"IDR\";i:65;s:3:\"ILS\";i:66;s:3:\"INR\";i:67;s:3:\"IQD\";i:68;s:3:\"IRR\";i:69;s:3:\"ISK\";i:70;s:3:\"JMD\";i:71;s:3:\"JOD\";i:72;s:3:\"JPY\";i:73;s:3:\"KES\";i:74;s:3:\"KGS\";i:75;s:3:\"KHR\";i:76;s:3:\"KMF\";i:77;s:3:\"KPW\";i:78;s:3:\"KRW\";i:79;s:3:\"KWD\";i:80;s:3:\"KYD\";i:81;s:3:\"KZT\";i:82;s:3:\"LAK\";i:83;s:3:\"LBP\";i:84;s:3:\"LKR\";i:85;s:3:\"LRD\";i:86;s:3:\"LSL\";i:87;s:3:\"LTL\";i:88;s:3:\"LVL\";i:89;s:3:\"LYD\";i:90;s:3:\"MAD\";i:91;s:3:\"MDL\";i:92;s:3:\"MGA\";i:93;s:3:\"MKD\";i:94;s:3:\"MMK\";i:95;s:3:\"MNT\";i:96;s:3:\"MOP\";i:97;s:3:\"MRO\";i:98;s:3:\"MUR\";i:99;s:3:\"MVR\";i:100;s:3:\"MWK\";i:101;s:3:\"MXN\";i:102;s:3:\"MXV\";i:103;s:3:\"MYR\";i:104;s:3:\"MZN\";i:105;s:3:\"NAD\";i:106;s:3:\"NGN\";i:107;s:3:\"NIO\";i:108;s:3:\"NOK\";i:109;s:3:\"NPR\";i:110;s:3:\"NZD\";i:111;s:3:\"OMR\";i:112;s:3:\"PAB\";i:113;s:3:\"PEN\";i:114;s:3:\"PGK\";i:115;s:3:\"PHP\";i:116;s:3:\"PKR\";i:117;s:3:\"PLN\";i:118;s:3:\"PYG\";i:119;s:3:\"QAR\";i:120;s:3:\"RON\";i:121;s:3:\"RSD\";i:122;s:3:\"RUB\";i:123;s:3:\"RWF\";i:124;s:3:\"SAR\";i:125;s:3:\"SBD\";i:126;s:3:\"SCR\";i:127;s:3:\"SDG\";i:128;s:3:\"SEK\";i:129;s:3:\"SGD\";i:130;s:3:\"SHP\";i:131;s:3:\"SLL\";i:132;s:3:\"SOS\";i:133;s:3:\"SRD\";i:134;s:3:\"SSP\";i:135;s:3:\"STD\";i:136;s:3:\"SVC\";i:137;s:3:\"SYP\";i:138;s:3:\"SZL\";i:139;s:3:\"THB\";i:140;s:3:\"TJS\";i:141;s:3:\"TMT\";i:142;s:3:\"TND\";i:143;s:3:\"TOP\";i:144;s:3:\"TRY\";i:145;s:3:\"TTD\";i:146;s:3:\"TWD\";i:147;s:3:\"TZS\";i:148;s:3:\"UAH\";i:149;s:3:\"UGX\";i:150;s:3:\"USD\";i:151;s:3:\"USN\";i:152;s:3:\"USS\";i:153;s:3:\"UYI\";i:154;s:3:\"UYU\";i:155;s:3:\"UZS\";i:156;s:3:\"VEF\";i:157;s:3:\"VND\";i:158;s:3:\"VUV\";i:159;s:3:\"WST\";i:160;s:3:\"XAF\";i:161;s:3:\"XAG\";i:162;s:3:\"XAU\";i:163;s:3:\"XBA\";i:164;s:3:\"XBB\";i:165;s:3:\"XBC\";i:166;s:3:\"XBD\";i:167;s:3:\"XCD\";i:168;s:3:\"XDR\";i:169;s:3:\"XOF\";i:170;s:3:\"XPD\";i:171;s:3:\"XPF\";i:172;s:3:\"XPT\";i:173;s:3:\"XTS\";i:174;s:3:\"XXX\";i:175;s:3:\"YER\";i:176;s:3:\"ZAR\";i:177;s:3:\"ZMK\";i:178;s:3:\"ZMW\";i:179;s:3:\"BTC\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Refund\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"amount_money\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:29:\"The
  amount of money refunded.\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  time when the refund was created, in RFC 3339 format.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  unique ID of the refund.\";s:4:\"type\";s:6:\"string\";}s:11:\"location_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  ID of the refund's associated location.\";s:4:\"type\";s:6:\"string\";}s:20:\"processing_fee_money\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:38:\"The
  amount of processing fee refunded.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  reason for the refund being issued.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:4:{i:0;s:7:\"PENDING\";i:1;s:8:\"APPROVED\";i:2;s:8:\"REJECTED\";i:3;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:9:\"tender_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  ID of the tender refunded.\";s:4:\"type\";s:6:\"string\";}s:14:\"transaction_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  ID of the transaction refunded.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:2:\"id\";i:1;s:11:\"location_id\";i:2;s:14:\"transaction_id\";i:3;s:9:\"tender_id\";i:4;s:6:\"reason\";i:5;s:12:\"amount_money\";i:6;s:6:\"status\";}s:4:\"type\";s:6:\"object\";}s:12:\"RefundStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:4:{i:0;s:7:\"PENDING\";i:1;s:8:\"APPROVED\";i:2;s:8:\"REJECTED\";i:3;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:24:\"RetrieveCustomerResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:184:\"Defines
  the fields that are included in the response body of\na request to the **RetrieveCustomer**
  endpoint.\n\nOne of `errors` or `customer` is present in a given response (never
  both).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"customer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Customer\";s:11:\"description\";s:0:\"\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"RetrieveTransactionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:190:\"Defines
  the fields that are included in the response body of\na request to the **RetrieveTransaction**
  endpoint.\n\nOne of `errors` or `transaction` is present in a given response (never
  both).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Any
  errors that occurred during the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:11:\"transaction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Transaction\";s:11:\"description\";s:41:\"The
  details of the requested transaction.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"SortOrder\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:2:{i:0;s:4:\"DESC\";i:1;s:3:\"ASC\";}s:4:\"type\";s:6:\"string\";}s:6:\"Tender\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Represents
  a form of tender used to pay in a transaction.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:12:\"amount_money\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:25:\"The
  amount of the tender.\";}s:12:\"card_details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TenderCardDetails\";s:11:\"description\";s:92:\"The
  details of the card tender.\nThis value is present only if the value of `type` is
  `CARD`.\";}s:12:\"cash_details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TenderCashDetails\";s:11:\"description\";s:92:\"The
  details of the cash tender.\nThis value is present only if the value of `type` is
  `CASH`.\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  time when the tender was created, in RFC 3339 format.\";s:4:\"type\";s:6:\"string\";}s:11:\"customer_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"If
  the tender represents a customer's card on file, this is\nthe ID of the associated
  customer.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  tender's unique ID.\";s:4:\"type\";s:6:\"string\";}s:11:\"location_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  ID of the tender's associated location.\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"An
  optional note associated with the tender at the time of payment.\";s:4:\"type\";s:6:\"string\";}s:20:\"processing_fee_money\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:63:\"The
  amount of any Square processing fees applied to the tender.\";}s:14:\"transaction_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  ID of the tender's associated transaction.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  type of tender.\";s:4:\"enum\";a:6:{i:0;s:5:\"OTHER\";i:1;s:4:\"CARD\";i:2;s:4:\"CASH\";i:3;s:16:\"THIRD_PARTY_CARD\";i:4;s:16:\"SQUARE_GIFT_CARD\";i:5;s:7:\"NO_SALE\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:17:\"TenderCardDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Represents
  the details of a credit card tender.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"card\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Card\";s:11:\"description\";s:43:\"The
  credit card's non-confidential details.\";}s:12:\"entry_method\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  method used to read the card.\";s:4:\"enum\";a:5:{i:0;s:6:\"SWIPED\";i:1;s:5:\"KEYED\";i:2;s:3:\"EMV\";i:3;s:7:\"ON_FILE\";i:4;s:11:\"CONTACTLESS\";}s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  credit card payment's current state (such as `CAPTURED`)\";s:4:\"enum\";a:4:{i:0;s:10:\"AUTHORIZED\";i:1;s:8:\"CAPTURED\";i:2;s:6:\"VOIDED\";i:3;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"TenderCardDetailsEntryMethod\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  method used to read the card\";s:4:\"enum\";a:5:{i:0;s:6:\"SWIPED\";i:1;s:5:\"KEYED\";i:2;s:3:\"EMV\";i:3;s:7:\"ON_FILE\";i:4;s:11:\"CONTACTLESS\";}s:4:\"type\";s:6:\"string\";}s:23:\"TenderCardDetailsStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:4:{i:0;s:10:\"AUTHORIZED\";i:1;s:8:\"CAPTURED\";i:2;s:6:\"VOIDED\";i:3;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:17:\"TenderCashDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Represents
  the details of a cash tender.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"buyer_tendered_money\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:79:\"The
  total amount provided by the buyer for this tender, before change is given.\";}s:17:\"change_back_money\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:77:\"The
  change returned to the buyer for this tender. This amount should be >= 0.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TenderType\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"enum\";a:6:{i:0;s:5:\"OTHER\";i:1;s:4:\"CARD\";i:2;s:4:\"CASH\";i:3;s:16:\"THIRD_PARTY_CARD\";i:4;s:16:\"SQUARE_GIFT_CARD\";i:5;s:7:\"NO_SALE\";}s:4:\"type\";s:6:\"string\";}s:11:\"Transaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Represents
  a transaction processed with Square, either with the\nConnect API or with Square
  Register.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  time when the transaction was created, in RFC 3339 format.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  transaction's unique ID.\";s:4:\"type\";s:6:\"string\";}s:11:\"location_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  ID of the transaction's associated location.\";s:4:\"type\";s:6:\"string\";}s:7:\"product\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  product that processed the transaction.\";s:4:\"enum\";a:8:{i:0;s:8:\"REGISTER\";i:1;s:12:\"EXTERNAL_API\";i:2;s:7:\"BILLING\";i:3;s:12:\"APPOINTMENTS\";i:4;s:8:\"INVOICES\";i:5;s:12:\"ONLINE_STORE\";i:6;s:7:\"PAYROLL\";i:7;s:5:\"OTHER\";}s:4:\"type\";s:6:\"string\";}s:12:\"reference_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:170:\"If
  the transaction was created with the **Charge** endpoint, this\nvalue is the same
  as the value provided as the `reference_id` parameter\nin the request to that endpoint.\";s:4:\"type\";s:6:\"string\";}s:7:\"refunds\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"An
  array of any refunds associated with the transaction.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Refund\";}s:4:\"type\";s:5:\"array\";}s:7:\"tenders\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Descriptions
  of the tenders used to pay for the transaction.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Tender\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"TransactionProduct\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  name of the product used to accept payment for this transaction\";s:4:\"enum\";a:8:{i:0;s:8:\"REGISTER\";i:1;s:12:\"EXTERNAL_API\";i:2;s:7:\"BILLING\";i:3;s:12:\"APPOINTMENTS\";i:4;s:8:\"INVOICES\";i:5;s:12:\"ONLINE_STORE\";i:6;s:7:\"PAYROLL\";i:7;s:5:\"OTHER\";}s:4:\"type\";s:6:\"string\";}s:21:\"UpdateCustomerRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:0:\"\";}s:12:\"company_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"email_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"nickname\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"reference_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"UpdateCustomerResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"Defines
  the fields that are included in the response body of\na request to the **UpdateCustomer**
  endpoint.\n\nOne of `errors` or `customer` is present in a given response (never
  both).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"customer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Customer\";s:11:\"description\";s:0:\"\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"VoidTransactionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Defines
  the fields that are included in the response body of\na request to the **CaptureTransaction**
  endpoint.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Any
  errors that occurred during the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
