---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:22:\"canvas.instructure.com\";s:7:\"version\";s:3:\"1.0\";}"
host: canvas.instructure.com
basePath: /api
paths:
  /v1/accounts/{account_id}/account_notifications:
    get:
      produces:
      - application/json
      parameters:
      - description: ID
        in: path
        name: account_id
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/AccountNotification'
            type: array
      description: Returns a list of all global notifications in the account for the
        current usernAny notifications that have been closed by the user will not
        be returned
      operationId: index_of_active_global_notification_for_user
      summary: Index of active global notification for the user
    post:
      produces:
      - application/json
      parameters:
      - description: ID
        in: path
        name: account_id
        required: true
        type: string
      - in: body
        name: some name
        description: some description
        schema:
          type: object
          properties:
            account_notification:
              properties:
                subject:
                  type: string
                message:
                  type: string
                start_at:
                  type: string
                end_at:
                  type: string
                icon:
                  type: string
                  enum:
                  - warning
                  - information
                  - question
                  - error
                  - calendar
              required:
              - subject
              - message
              - start_at
              - end_at
            account_notification_roles:
              type: array
              items:
                type: string
          required:
          - account_notification
      responses:
        200:
          description: No response was specified
      description: Create and return a new global notification for an account.
      operationId: create_global_notification
      summary: Create a global notification
      consumes:
      - application/json
  /v1/accounts/{account_id}/account_notifications/{id}:
    delete:
      produces:
      - application/json
      parameters:
      - description: ID
        in: path
        name: account_id
        required: true
        type: string
      - description: ID
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/AccountNotification'
      description: If the current user no long wants to see this notification it can
        be excused with this call
      operationId: close_notification_for_user
      summary: Close notification for user
    get:
      produces:
      - application/json
      parameters:
      - description: ID
        in: path
        name: account_id
        required: true
        type: string
      - description: ID
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/AccountNotification'
      description: Returns a global notification for the current usernA notification
        that has been closed by the user will not be returned
      operationId: show_global_notification
      summary: Show a global notification
    put:
      produces:
      - application/json
      parameters:
      - description: ID
        in: path
        name: account_id
        required: true
        type: string
      - description: ID
        in: path
        name: id
        required: true
        type: string
      - in: body
        name: some name
        description: some description
        schema:
          type: object
          properties:
            account_notification:
              properties:
                subject:
                  type: string
                message:
                  type: string
                start_at:
                  type: string
                end_at:
                  type: string
                icon:
                  type: string
                  enum:
                  - warning
                  - information
                  - question
                  - error
                  - calendar
            account_notification_roles:
              type: array
              items:
                type: string
      responses:
        200:
          description: No response was specified
      description: Update global notification for an account.
      operationId: update_global_notification
      summary: Update a global notification
      consumes:
      - application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:19:\"AccountNotification\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"end_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"When
  to expire the notification.\";s:7:\"example\";s:25:\"2013-08-29T23:59:00-06:00\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"icon\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  icon to display with the message.  Defaults to warning.\";s:7:\"example\";s:11:\"information\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  message to be sent in the notification.\";s:7:\"example\";s:42:\"This is a test
  of the notification system.\";s:4:\"type\";s:6:\"string\";}s:8:\"role_ids\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"The
  roles to send the notification to.  If roles is not passed it defaults to all roles\";s:7:\"example\";a:1:{i:0;i:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:5:\"roles\";O:8:\"stdClass\":4:{s:11:\"description\";s:100:\"(Deprecated)
  The roles to send the notification to.  If roles is not passed it defaults to all
  roles\";s:7:\"example\";a:1:{i:0;s:17:\"StudentEnrollment\";}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"start_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"When
  to send out the notification.\";s:7:\"example\";s:25:\"2013-08-28T23:59:00-06:00\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  subject of the notifications\";s:7:\"example\";s:18:\"Attention Students\";s:4:\"type\";s:6:\"string\";}}}}"
...
