---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:22:\"canvas.instructure.com\";s:7:\"version\";s:3:\"1.0\";}"
host: canvas.instructure.com
basePath: /api
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:6:\"Avatar\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Possible
  avatar for a user.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"content-type\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"['attachment'
  type only] the content-type of the attachment.\";s:7:\"example\";s:10:\"image/jpeg\";s:4:\"type\";s:6:\"string\";}s:12:\"display_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"A
  textual description of the avatar record.\";s:7:\"example\";s:12:\"user, sample\";s:4:\"type\";s:6:\"string\";}s:8:\"filename\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"['attachment'
  type only] the filename of the attachment\";s:7:\"example\";s:11:\"profile.jpg\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"['attachment'
  type only] the internal id of the attachment\";s:7:\"example\";i:12;s:4:\"type\";s:7:\"integer\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"['attachment'
  type only] the size of the attachment\";s:7:\"example\";i:32649;s:4:\"type\";s:7:\"integer\";}s:5:\"token\";O:8:\"stdClass\":3:{s:11:\"description\";s:321:\"A
  unique representation of the avatar record which can be used to set the avatar with
  the user update endpoint. Note: this is an internal representation and is subject
  to change without notice. It should be consumed with this api endpoint and used
  in the user update endpoint, and should not be constructed by the client.\";s:7:\"example\";s:14:\"<opaque_token>\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"['gravatar'|'attachment'|'no_pic']
  The type of avatar record, for categorization purposes.\";s:7:\"example\";s:8:\"gravatar\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  url of the avatar\";s:7:\"example\";s:42:\"https://secure.gravatar.com/avatar/2284...\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"type\";i:1;s:3:\"url\";i:2;s:5:\"token\";i:3;s:12:\"display_name\";}}s:14:\"CourseNickname\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"course_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"the
  ID of the course\";s:7:\"example\";i:88;s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"the
  actual name of the course\";s:7:\"example\";s:46:\"S1048576 DPMS1200 Intro to Newtonian
  Mechanics\";s:4:\"type\";s:6:\"string\";}s:8:\"nickname\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"the
  calling user's nickname for the course\";s:7:\"example\";s:7:\"Physics\";s:4:\"type\";s:6:\"string\";}}}s:8:\"PageView\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  record of a user page view access in Canvas\";s:10:\"properties\";O:8:\"stdClass\":17:{s:6:\"action\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  rails action that handled the request\";s:7:\"example\";s:5:\"index\";s:4:\"type\";s:6:\"string\";}s:8:\"app_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"If
  the request is from an API request, the app that generated the access token\";s:7:\"example\";s:14:\"Canvas
  for iOS\";s:4:\"type\";s:6:\"string\";}s:10:\"asset_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  type of asset in the context for the request, if any\";s:7:\"example\";s:10:\"Discussion\";s:4:\"type\";s:6:\"string\";}s:12:\"context_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  type of context for the request\";s:7:\"example\";s:6:\"Course\";s:4:\"type\";s:6:\"string\";}s:11:\"contributed\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"This
  field is deprecated, and will always be false\";s:7:\"example\";s:5:\"false\";s:4:\"type\";s:7:\"boolean\";}s:10:\"controller\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  rails controller that handled the request\";s:7:\"example\";s:11:\"discussions\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"When
  the request was made\";s:7:\"example\";s:20:\"2013-10-01T19:49:47Z\";s:6:\"format\";s:7:\"iso8601\";s:4:\"type\";s:6:\"string\";}s:11:\"http_method\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  HTTP method such as GET or POST\";s:7:\"example\";s:3:\"GET\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"A
  UUID representing the page view.  This is also the unique request id\";s:7:\"example\";s:36:\"3e246700-e305-0130-51de-02e33aa501ef\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:19:\"interaction_seconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"An
  approximation of how long the user spent on the page, in seconds\";s:7:\"example\";s:4:\"7.21\";s:4:\"type\";s:6:\"number\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/PageViewLinks\";s:11:\"description\";s:47:\"The
  page view links to define the relationships\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"account\";i:1234;s:4:\"user\";i:1234;}}s:12:\"participated\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"True
  if the request counted as participating, such as submitting homework\";s:7:\"example\";s:5:\"false\";s:4:\"type\";s:7:\"boolean\";}s:9:\"remote_ip\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  origin IP address of the request\";s:7:\"example\";s:13:\"173.194.46.71\";s:4:\"type\";s:6:\"string\";}s:11:\"render_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"How
  long the response took to render, in seconds\";s:7:\"example\";s:5:\"0.369\";s:4:\"type\";s:6:\"number\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  URL requested\";s:7:\"example\";s:44:\"https://canvas.instructure.com/conversations\";s:4:\"type\";s:6:\"string\";}s:10:\"user_agent\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  user-agent of the browser or program that made the request\";s:7:\"example\";s:117:\"Mozilla/5.0
  (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/536.30.1 (KHTML, like Gecko) Version/6.0.5
  Safari/536.30.1\";s:4:\"type\";s:6:\"string\";}s:12:\"user_request\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"A
  flag indicating whether the request was user-initiated, or automatic (such as an
  AJAX call)\";s:7:\"example\";s:4:\"true\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:13:\"PageViewLinks\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  links of a page view access in Canvas\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"account\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  ID of the account context for this page view\";s:7:\"example\";s:4:\"1234\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"asset\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  ID of the asset for the request, if any\";s:7:\"example\";s:4:\"1234\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"context\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"The
  ID of the context for the request (course id if context_type is Course, etc)\";s:7:\"example\";s:4:\"1234\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"real_user\";O:8:\"stdClass\":4:{s:11:\"description\";s:103:\"The
  ID of the actual user who made this request, if the request was made by a user who
  was masquerading\";s:7:\"example\";s:4:\"1234\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"user\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"The
  ID of the user for this page view\";s:7:\"example\";s:4:\"1234\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:7:\"Profile\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Profile
  details for a Canvas user.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"avatar_url\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  avatar_url can change over time, so we recommend not caching it for more than a
  few hours\";s:7:\"example\";s:7:\"..url..\";s:4:\"type\";s:6:\"string\";}s:3:\"bio\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"calendar\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CalendarLink\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  ID of the user.\";s:7:\"example\";i:1234;s:4:\"type\";s:7:\"integer\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  users locale.\";s:4:\"type\";s:6:\"string\";}s:8:\"login_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"sample_user@example.com\";s:7:\"example\";s:23:\"sample_user@example.com\";s:4:\"type\";s:6:\"string\";}s:11:\"lti_user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Sample
  User\";s:7:\"example\";s:11:\"Sample User\";s:4:\"type\";s:6:\"string\";}s:13:\"primary_email\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"sample_user@example.com\";s:7:\"example\";s:23:\"sample_user@example.com\";s:4:\"type\";s:6:\"string\";}s:10:\"short_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Sample
  User\";s:7:\"example\";s:11:\"Sample User\";s:4:\"type\";s:6:\"string\";}s:11:\"sis_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"sis1\";s:7:\"example\";s:4:\"sis1\";s:4:\"type\";s:6:\"string\";}s:13:\"sortable_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"user,
  sample\";s:7:\"example\";s:12:\"user, sample\";s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Optional:
  This field is only returned in certain API calls, and will return the IANA time
  zone name of the user's preferred timezone.\";s:7:\"example\";s:14:\"America/Denver\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"User\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"A
  Canvas user, e.g. a student, teacher, administrator, observer, etc.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:10:\"avatar_url\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"If
  avatars are enabled, this field will be included and contain a url to retrieve the
  user's avatar.\";s:7:\"example\";s:72:\"https://en.gravatar.com/avatar/d8cb8c8cd40ddf0cd05241443a591868?s=80&r=g\";s:4:\"type\";s:6:\"string\";}s:3:\"bio\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Optional:
  The user's bio.\";s:7:\"example\";s:19:\"I like the Muppets.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Optional:
  This field can be requested with certain API calls, and will return the users primary
  email address.\";s:7:\"example\";s:27:\"sheldon@caltech.example.com\";s:4:\"type\";s:6:\"string\";}s:11:\"enrollments\";O:8:\"stdClass\":3:{s:11:\"description\";s:198:\"Optional:
  This field can be requested with certain API calls, and will return a list of the
  users active enrollments. See the List enrollments API for more details about the
  format of these records.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Enrollment\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"The
  ID of the user.\";s:7:\"example\";i:2;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"integration_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"The
  integration_id associated with the user.  This field is only included if the user
  came from a SIS import and has permissions to view SIS information.\";s:7:\"example\";s:8:\"ABC59802\";s:4:\"type\";s:6:\"string\";}s:10:\"last_login\";O:8:\"stdClass\":4:{s:11:\"description\";s:144:\"Optional:
  This field is only returned in certain API calls, and will return a timestamp representing
  the last time the user logged in to canvas.\";s:7:\"example\";s:20:\"2012-05-30T17:45:25Z\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"Optional:
  This field can be requested with certain API calls, and will return the users locale
  in RFC 5646 format.\";s:7:\"example\";s:3:\"tlh\";s:4:\"type\";s:6:\"string\";}s:8:\"login_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"The
  unique login id for the user.  This is what the user uses to log in to Canvas.\";s:7:\"example\";s:27:\"sheldon@caltech.example.com\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  name of the user.\";s:7:\"example\";s:14:\"Sheldon Cooper\";s:4:\"type\";s:6:\"string\";}s:10:\"short_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"A
  short name the user has selected, for use in conversations or other less formal
  places through the site.\";s:7:\"example\";s:6:\"Shelly\";s:4:\"type\";s:6:\"string\";}s:13:\"sis_import_id\";O:8:\"stdClass\":4:{s:11:\"description\";s:136:\"The
  id of the SIS import.  This field is only included if the user came from a SIS import
  and has permissions to manage SIS information.\";s:7:\"example\";s:2:\"18\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"sis_user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"The
  SIS ID associated with the user.  This field is only included if the user came from
  a SIS import and has permissions to view SIS information.\";s:7:\"example\";s:9:\"SHEL93921\";s:4:\"type\";s:6:\"string\";}s:13:\"sortable_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  name of the user that is should be used for sorting groups of users, such as in
  the gradebook.\";s:7:\"example\";s:15:\"Cooper, Sheldon\";s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Optional:
  This field is only returned in certain API calls, and will return the IANA time
  zone name of the user's preferred timezone.\";s:7:\"example\";s:14:\"America/Denver\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:11:\"UserDisplay\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"This
  mini-object is used for secondary user responses, when we just want to provide enough
  information to display a user.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"avatar_image_url\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"If
  avatars are enabled, this field will be included and contain a url to retrieve the
  user's avatar.\";s:7:\"example\";s:72:\"https://en.gravatar.com/avatar/d8cb8c8cd40ddf0cd05241443a591868?s=80&r=g\";s:4:\"type\";s:6:\"string\";}s:8:\"html_url\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"URL
  to access user, either nested to a context or directly.\";s:7:\"example\";s:64:\"https://school.instructure.com/courses/:course_id/users/:user_id\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"The
  ID of the user.\";s:7:\"example\";i:2;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"short_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"A
  short name the user has selected, for use in conversations or other less formal
  places through the site.\";s:7:\"example\";s:6:\"Shelly\";s:4:\"type\";s:6:\"string\";}}}}"
...
