---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:22:\"canvas.instructure.com\";s:7:\"version\";s:3:\"1.0\";}"
host: canvas.instructure.com
basePath: /api
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:7:\"Account\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":14:{s:30:\"default_group_storage_quota_mb\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  storage quota for a group in the account in megabytes, if not otherwise specified\";s:7:\"example\";i:50;s:4:\"type\";s:7:\"integer\";}s:24:\"default_storage_quota_mb\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  storage quota for the account in megabytes, if not otherwise specified\";s:7:\"example\";i:500;s:4:\"type\";s:7:\"integer\";}s:17:\"default_time_zone\";O:8:\"stdClass\":3:{s:11:\"description\";s:214:\"The
  default time zone of the account. Allowed time zones are {http://www.iana.org/time-zones
  IANA time zones} or friendlier {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html
  Ruby on Rails time zones}.\";s:7:\"example\";s:14:\"America/Denver\";s:4:\"type\";s:6:\"string\";}s:29:\"default_user_storage_quota_mb\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  storage quota for a user in the account in megabytes, if not otherwise specified\";s:7:\"example\";i:50;s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"the
  ID of the Account object\";s:7:\"example\";i:2;s:4:\"type\";s:7:\"integer\";}s:14:\"integration_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"The
  account's identifier in the Student Information System. Only included if the user
  has permission to view SIS information.\";s:7:\"example\";s:6:\"123xyz\";s:4:\"type\";s:6:\"string\";}s:8:\"lti_guid\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  account's identifier that is sent as context_id in LTI launches.\";s:7:\"example\";s:6:\"123xyz\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  display name of the account\";s:7:\"example\";s:14:\"Canvas Account\";s:4:\"type\";s:6:\"string\";}s:17:\"parent_account_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  account's parent ID, or null if this is the root account\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:15:\"root_account_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  ID of the root account, or null if this is the root account\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:14:\"sis_account_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"The
  account's identifier in the Student Information System. Only included if the user
  has permission to view SIS information.\";s:7:\"example\";s:6:\"123xyz\";s:4:\"type\";s:6:\"string\";}s:13:\"sis_import_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"The
  id of the SIS import if created through SIS. Only included if the user has permission
  to manage SIS information.\";s:7:\"example\";s:2:\"12\";s:4:\"type\";s:7:\"integer\";}s:4:\"uuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  UUID of the account\";s:7:\"example\";s:40:\"WvAHhY5FINzq5IyRIJybGeiXyFkG3SqHUPb7jZY5\";s:4:\"type\";s:6:\"string\";}s:14:\"workflow_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  state of the account. Can be 'active' or 'deleted'.\";s:7:\"example\";s:6:\"active\";s:4:\"type\";s:6:\"string\";}}}}"
...
