---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:64:\"Definition
  of the public APIs exposed by Amazon Machine Learning\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:23:\"Amazon
  Machine Learning\";s:7:\"version\";s:10:\"2014-12-12\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:99:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/machinelearning-2014-12-12.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:15:\"machinelearning\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"amazonaws_machinelearning\";s:4:\"type\";s:7:\"openapi\";}}"
host: machinelearning.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":152:{s:12:\"AddTagsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:73:\"The
  ID of the ML object to tag. For example, <code>exampleModelId</code>.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TaggableResourceType\";s:11:\"description\";s:34:\"The
  type of the ML object to tag. \";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:159:\"The
  key-value pairs to use to create tags. If you specify a key without specifying a
  value, Amazon ML creates a tag with the specified key and a value of null.\";}}s:8:\"required\";a:3:{i:0;s:4:\"Tags\";i:1;s:10:\"ResourceId\";i:2;s:12:\"ResourceType\";}s:4:\"type\";s:6:\"object\";}s:13:\"AddTagsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Amazon
  ML returns the following elements. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:40:\"The
  ID of the ML object that was tagged.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TaggableResourceType\";s:11:\"description\";s:42:\"The
  type of the ML object that was tagged.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Algorithm\";O:8:\"stdClass\":3:{s:11:\"description\";s:261:\"<p>The
  function used to train an <code>MLModel</code>. Training choices supported by Amazon
  ML include the following:</p> <ul> <li> <code>SGD</code> - Stochastic Gradient Descent.</li>
  <li> <code>RandomForest</code> - Random forest of decision trees.</li> </ul>\";s:4:\"enum\";a:1:{i:0;s:3:\"sgd\";}s:4:\"type\";s:6:\"string\";}s:10:\"AwsUserArn\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"An
  Amazon Web Service (AWS) user account identifier. The account identifier can be
  an AWS root account or an AWS Identity and Access Management (IAM) user.\";s:7:\"pattern\";s:38:\"arn:aws:iam::[0-9]+:((user/.+)|(root))\";s:4:\"type\";s:6:\"string\";}s:15:\"BatchPrediction\";O:8:\"stdClass\":3:{s:11:\"description\";s:210:\"<p>
  Represents the output of a <code>GetBatchPrediction</code> operation.</p> <p> The
  content consists of the detailed metadata, the status, and the data file information
  of a <code>Batch Prediction</code>.</p>\";s:10:\"properties\";O:8:\"stdClass\":16:{s:27:\"BatchPredictionDataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:90:\"The
  ID of the <code>DataSource</code> that points to the group of observations to predict.\";}s:17:\"BatchPredictionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:163:\"The
  ID assigned to the <code>BatchPrediction</code> at creation. This value should be
  identical to the value of the <code>BatchPredictionID</code> in the request. \";}s:11:\"ComputeTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LongType\";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:96:\"The
  time that the <code>BatchPrediction</code> was created. The time is expressed in
  epoch time.\";}s:16:\"CreatedByIamUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AwsUserArn\";s:11:\"description\";s:179:\"The
  AWS user account that invoked the <code>BatchPrediction</code>. The account type
  can be either an AWS root account or an AWS Identity and Access Management (IAM)
  user account.\";}s:10:\"FinishedAt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";}s:19:\"InputDataLocationS3\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Url\";s:11:\"description\";s:88:\"The
  location of the data file or directory in Amazon Simple Storage Service (Amazon
  S3).\";}s:18:\"InvalidRecordCount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LongType\";}s:13:\"LastUpdatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:106:\"The
  time of the most recent edit to the <code>BatchPrediction</code>. The time is expressed
  in epoch time.\";}s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:107:\"The
  ID of the <code>MLModel</code> that generated predictions for the <code>BatchPrediction</code>
  request.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:87:\"A
  description of the most recent details about processing the batch prediction request.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EntityName\";s:11:\"description\";s:72:\"A
  user-supplied name or description of the <code>BatchPrediction</code>.\";}s:9:\"OutputUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Url\";s:11:\"description\";s:221:\"The
  location of an Amazon S3 bucket or directory to receive the operation results. The
  following substrings are not allowed in the <code>s3 key</code> portion of the <code>outputURI</code>
  field: ':', '//', '/./', '/../'.\";}s:9:\"StartedAt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EntityStatus\";s:11:\"description\";s:632:\"<p>The
  status of the <code>BatchPrediction</code>. This element can have one of the following
  values:</p> <ul> <li> <code>PENDING</code> - Amazon Machine Learning (Amazon ML)
  submitted a request to generate predictions for a batch of observations.</li> <li>
  <code>INPROGRESS</code> - The process is underway.</li> <li> <code>FAILED</code>
  - The request to perform a batch prediction did not run to completion. It is not
  usable.</li> <li> <code>COMPLETED</code> - The batch prediction process completed
  successfully.</li> <li> <code>DELETED</code> - The <code>BatchPrediction</code>
  is marked as deleted. It is not usable.</li> </ul>\";}s:16:\"TotalRecordCount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LongType\";}}s:4:\"type\";s:6:\"object\";}s:29:\"BatchPredictionFilterVariable\";O:8:\"stdClass\":3:{s:11:\"description\";s:1062:\"<p>A
  list of the variables to use in searching or filtering <code>BatchPrediction</code>.</p>
  <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>BatchPrediction</code>
  creation date.</li> <li> <code>Status</code> - Sets the search criteria to <code>BatchPrediction</code>
  status.</li> <li> <code>Name</code> - Sets the search criteria to the contents of
  <code>BatchPrediction</code><b> </b> <code>Name</code>.</li> <li> <code>IAMUser</code>
  - Sets the search criteria to the user account that invoked the <code>BatchPrediction</code>
  creation.</li> <li> <code>MLModelId</code> - Sets the search criteria to the <code>MLModel</code>
  used in the <code>BatchPrediction</code>.</li> <li> <code>DataSourceId</code> -
  Sets the search criteria to the <code>DataSource</code> used in the <code>BatchPrediction</code>.</li>
  <li> <code>DataURI</code> - Sets the search criteria to the data file(s) used in
  the <code>BatchPrediction</code>. The URL can identify either a file or an Amazon
  Simple Storage Service (Amazon S3) bucket or directory.</li> </ul>\";s:4:\"enum\";a:8:{i:0;s:9:\"CreatedAt\";i:1;s:13:\"LastUpdatedAt\";i:2;s:6:\"Status\";i:3;s:4:\"Name\";i:4;s:7:\"IAMUser\";i:5;s:9:\"MLModelId\";i:6;s:12:\"DataSourceId\";i:7;s:7:\"DataURI\";}s:4:\"type\";s:6:\"string\";}s:16:\"BatchPredictions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BatchPrediction\";}s:4:\"type\";s:5:\"array\";}s:15:\"ComparatorValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:184:\"The
  value specified in a filtering condition. The <code>ComparatorValue</code> becomes
  the reference value when matching or evaluating data values in filtering and searching
  functions.\";s:9:\"maxLength\";i:1024;s:7:\"pattern\";s:9:\".*\\S.*|^$\";s:4:\"type\";s:6:\"string\";}s:17:\"ComputeStatistics\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:26:\"CreateBatchPredictionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:27:\"BatchPredictionDataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:90:\"The
  ID of the <code>DataSource</code> that points to the group of observations to predict.\";}s:17:\"BatchPredictionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:77:\"A
  user-supplied ID that uniquely identifies the <code>BatchPrediction</code>.\";}s:19:\"BatchPredictionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EntityName\";s:11:\"description\";s:143:\"A
  user-supplied name or description of the <code>BatchPrediction</code>. <code>BatchPredictionName</code>
  can only use the UTF-8 character set.\";}s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:97:\"The
  ID of the <code>MLModel</code> that will generate predictions for the group of observations.
  \";}s:9:\"OutputUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Url\";s:11:\"description\";s:510:\"<p>The
  location of an Amazon Simple Storage Service (Amazon S3) bucket or directory to
  store the batch prediction results. The following substrings are not allowed in
  the <code>s3 key</code> portion of the <code>outputURI</code> field: ':', '//',
  '/./', '/../'.</p> <p>Amazon ML needs permissions to store and retrieve the logs
  on your behalf. For information about how to set permissions, see the <a href=\"http://docs.aws.amazon.com/machine-learning/latest/dg\">Amazon
  Machine Learning Developer Guide</a>.</p>\";}}s:8:\"required\";a:4:{i:0;s:17:\"BatchPredictionId\";i:1;s:9:\"MLModelId\";i:2;s:27:\"BatchPredictionDataSourceId\";i:3;s:9:\"OutputUri\";}s:4:\"type\";s:6:\"object\";}s:27:\"CreateBatchPredictionOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:370:\"<p>
  Represents the output of a <code>CreateBatchPrediction</code> operation, and is
  an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateBatchPrediction</code>
  operation is asynchronous. You can poll for status updates by using the <code>&gt;GetBatchPrediction</code>
  operation and checking the <code>Status</code> parameter of the result. </p>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"BatchPredictionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:168:\"A
  user-supplied ID that uniquely identifies the <code>BatchPrediction</code>. This
  value is identical to the value of the <code>BatchPredictionId</code> in the request.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"CreateDataSourceFromRDSInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"ComputeStatistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ComputeStatistics\";s:11:\"description\";s:373:\"The
  compute statistics for a <code>DataSource</code>. The statistics are generated from
  the observation data referenced by a <code>DataSource</code>. Amazon ML uses the
  statistics internally during <code>MLModel</code> training. This parameter must
  be set to <code>true</code> if the <code></code>DataSource<code></code> needs to
  be used for <code>MLModel</code> training. \";}s:12:\"DataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:161:\"A
  user-supplied ID that uniquely identifies the <code>DataSource</code>. Typically,
  an Amazon Resource Number (ARN) becomes the ID for a <code>DataSource</code>.\";}s:14:\"DataSourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EntityName\";s:11:\"description\";s:67:\"A
  user-supplied name or description of the <code>DataSource</code>.\";}s:7:\"RDSData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/RDSDataSpec\";s:11:\"description\";s:2217:\"<p>The
  data specification of an Amazon RDS <code>DataSource</code>:</p> <ul> <li><p>DatabaseInformation
  - <ul> <li> <code>DatabaseName</code> - The name of the Amazon RDS database.</li>
  <li> <code>InstanceIdentifier </code> - A unique identifier for the Amazon RDS database
  instance.</li> </ul> </p></li> <li><p>DatabaseCredentials - AWS Identity and Access
  Management (IAM) credentials that are used to connect to the Amazon RDS database.</p></li>
  <li><p>ResourceRole - A role (DataPipelineDefaultResourceRole) assumed by an EC2
  instance to carry out the copy task from Amazon RDS to Amazon Simple Storage Service
  (Amazon S3). For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-iam-roles.html\">Role
  templates</a> for data pipelines.</p></li> <li><p>ServiceRole - A role (DataPipelineDefaultRole)
  assumed by the AWS Data Pipeline service to monitor the progress of the copy task
  from Amazon RDS to Amazon S3. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-iam-roles.html\">Role
  templates</a> for data pipelines.</p></li> <li><p>SecurityInfo - The security information
  to use to access an RDS DB instance. You need to set up appropriate ingress rules
  for the security entity IDs provided to allow access to the Amazon RDS instance.
  Specify a [<code>SubnetId</code>, <code>SecurityGroupIds</code>] pair for a VPC-based
  RDS DB instance.</p></li> <li><p>SelectSqlQuery - A query that is used to retrieve
  the observation data for the <code>Datasource</code>.</p></li> <li><p>S3StagingLocation
  - The Amazon S3 location for staging Amazon RDS data. The data retrieved from Amazon
  RDS using <code>SelectSqlQuery</code> is stored in this location.</p></li> <li><p>DataSchemaUri
  - The Amazon S3 location of the <code>DataSchema</code>.</p></li> <li><p>DataSchema
  - A JSON string representing the schema. This is not required if <code>DataSchemaUri</code>
  is specified. </p></li> <li> <p>DataRearrangement - A JSON string that represents
  the splitting and rearrangement requirements for the <code>Datasource</code>. </p>
  <br> <p> Sample - <code> \"{\\\"splitting\\\":{\\\"percentBegin\\\":10,\\\"percentEnd\\\":60}}\"</code>
  </p> </li> </ul>\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:218:\"<p>The
  role that Amazon ML assumes on behalf of the user to create and activate a data
  pipeline in the user's account and copy data using the <code>SelectSqlQuery</code>
  query from Amazon RDS to Amazon S3.</p> <p> </p>\";}}s:8:\"required\";a:3:{i:0;s:12:\"DataSourceId\";i:1;s:7:\"RDSData\";i:2;s:7:\"RoleARN\";}s:4:\"type\";s:6:\"object\";}s:29:\"CreateDataSourceFromRDSOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:642:\"<p>
  Represents the output of a <code>CreateDataSourceFromRDS</code> operation, and is
  an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromRDS</code>&gt;
  operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code>
  operation and checking the <code>Status</code> parameter. You can inspect the <code>Message</code>
  when <code>Status</code> shows up as <code>FAILED</code>. You can also check the
  progress of the copy operation by going to the <code>DataPipeline</code> console
  and looking up the pipeline using the <code>pipelineId </code> from the describe
  call.</p>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:153:\"A
  user-supplied ID that uniquely identifies the datasource. This value should be identical
  to the value of the <code>DataSourceID</code> in the request. \";}}s:4:\"type\";s:6:\"object\";}s:33:\"CreateDataSourceFromRedshiftInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"ComputeStatistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ComputeStatistics\";s:11:\"description\";s:359:\"The
  compute statistics for a <code>DataSource</code>. The statistics are generated from
  the observation data referenced by a <code>DataSource</code>. Amazon ML uses the
  statistics internally during <code>MLModel</code> training. This parameter must
  be set to <code>true</code> if the <code>DataSource</code> needs to be used for
  <code>MLModel</code> training.\";}s:12:\"DataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:72:\"A
  user-supplied ID that uniquely identifies the <code>DataSource</code>.\";}s:14:\"DataSourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EntityName\";s:11:\"description\";s:68:\"A
  user-supplied name or description of the <code>DataSource</code>. \";}s:8:\"DataSpec\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RedshiftDataSpec\";s:11:\"description\";s:1277:\"<p>The
  data specification of an Amazon Redshift <code>DataSource</code>:</p> <ul> <li><p>DatabaseInformation
  - <ul> <li> <code>DatabaseName</code> - The name of the Amazon Redshift database.
  </li> <li> <code> ClusterIdentifier</code> - The unique ID for the Amazon Redshift
  cluster.</li> </ul></p></li> <li><p>DatabaseCredentials - The AWS Identity and Access
  Management (IAM) credentials that are used to connect to the Amazon Redshift database.</p></li>
  <li><p>SelectSqlQuery - The query that is used to retrieve the observation data
  for the <code>Datasource</code>.</p></li> <li><p>S3StagingLocation - The Amazon
  Simple Storage Service (Amazon S3) location for staging Amazon Redshift data. The
  data retrieved from Amazon Redshift using the <code>SelectSqlQuery</code> query
  is stored in this location.</p></li> <li><p>DataSchemaUri - The Amazon S3 location
  of the <code>DataSchema</code>.</p></li> <li><p>DataSchema - A JSON string representing
  the schema. This is not required if <code>DataSchemaUri</code> is specified. </p></li>
  <li> <p>DataRearrangement - A JSON string that represents the splitting and rearrangement
  requirements for the <code>DataSource</code>.</p> <p> Sample - <code> \"{\\\"splitting\\\":{\\\"percentBegin\\\":10,\\\"percentEnd\\\":60}}\"</code>
  </p> </li> </ul>\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:406:\"<p>A
  fully specified role Amazon Resource Name (ARN). Amazon ML assumes the role on behalf
  of the user to create the following: </p> <p> <ul> <li><p>A security group to allow
  Amazon ML to execute the <code>SelectSqlQuery</code> query on an Amazon Redshift
  cluster</p></li> <li><p>An Amazon S3 bucket policy to grant Amazon ML read/write
  permissions on the <code>S3StagingLocation</code></p></li> </ul> </p>\";}}s:8:\"required\";a:3:{i:0;s:12:\"DataSourceId\";i:1;s:8:\"DataSpec\";i:2;s:7:\"RoleARN\";}s:4:\"type\";s:6:\"object\";}s:34:\"CreateDataSourceFromRedshiftOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"<p>
  Represents the output of a <code>CreateDataSourceFromRedshift</code> operation,
  and is an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromRedshift</code>
  operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code>
  operation and checking the <code>Status</code> parameter. </p>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:153:\"A
  user-supplied ID that uniquely identifies the datasource. This value should be identical
  to the value of the <code>DataSourceID</code> in the request. \";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreateDataSourceFromS3Input\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"ComputeStatistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ComputeStatistics\";s:11:\"description\";s:372:\"The
  compute statistics for a <code>DataSource</code>. The statistics are generated from
  the observation data referenced by a <code>DataSource</code>. Amazon ML uses the
  statistics internally during <code>MLModel</code> training. This parameter must
  be set to <code>true</code> if the <code></code>DataSource<code></code> needs to
  be used for <code>MLModel</code> training.\";}s:12:\"DataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:81:\"A
  user-supplied identifier that uniquely identifies the <code>DataSource</code>. \";}s:14:\"DataSourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EntityName\";s:11:\"description\";s:68:\"A
  user-supplied name or description of the <code>DataSource</code>. \";}s:8:\"DataSpec\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/S3DataSpec\";s:11:\"description\";s:616:\"<p>The
  data specification of a <code>DataSource</code>:</p> <ul> <li><p>DataLocationS3
  - The Amazon S3 location of the observation data.</p></li> <li><p>DataSchemaLocationS3
  - The Amazon S3 location of the <code>DataSchema</code>.</p></li> <li><p>DataSchema
  - A JSON string representing the schema. This is not required if <code>DataSchemaUri</code>
  is specified. </p></li> <li> <p>DataRearrangement - A JSON string that represents
  the splitting and rearrangement requirements for the <code>Datasource</code>. </p>
  <p> Sample - <code> \"{\\\"splitting\\\":{\\\"percentBegin\\\":10,\\\"percentEnd\\\":60}}\"</code>
  </p> </li> </ul>\";}}s:8:\"required\";a:2:{i:0;s:12:\"DataSourceId\";i:1;s:8:\"DataSpec\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateDataSourceFromS3Output\";O:8:\"stdClass\":3:{s:11:\"description\";s:347:\"<p>
  Represents the output of a <code>CreateDataSourceFromS3</code> operation, and is
  an acknowledgement that Amazon ML received the request.</p> <p>The <code>CreateDataSourceFromS3</code>
  operation is asynchronous. You can poll for updates by using the <code>GetBatchPrediction</code>
  operation and checking the <code>Status</code> parameter. </p>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:166:\"A
  user-supplied ID that uniquely identifies the <code>DataSource</code>. This value
  should be identical to the value of the <code>DataSourceID</code> in the request.
  \";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateEvaluationInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"EvaluationDataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:162:\"The
  ID of the <code>DataSource</code> for the evaluation. The schema of the <code>DataSource</code>
  must match the schema used to create the <code>MLModel</code>.\";}s:12:\"EvaluationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:72:\"A
  user-supplied ID that uniquely identifies the <code>Evaluation</code>.\";}s:14:\"EvaluationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EntityName\";s:11:\"description\";s:67:\"A
  user-supplied name or description of the <code>Evaluation</code>.\";}s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:204:\"<p>The
  ID of the <code>MLModel</code> to evaluate.</p> <p>The schema used in creating the
  <code>MLModel</code> must match the schema of the <code>DataSource</code> used in
  the <code>Evaluation</code>.</p>\";}}s:8:\"required\";a:3:{i:0;s:12:\"EvaluationId\";i:1;s:9:\"MLModelId\";i:2;s:22:\"EvaluationDataSourceId\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateEvaluationOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:334:\"<p>
  Represents the output of a <code>CreateEvaluation</code> operation, and is an acknowledgement
  that Amazon ML received the request.</p> <p><code>CreateEvaluation</code> operation
  is asynchronous. You can poll for status updates by using the <code>GetEvcaluation</code>
  operation and checking the <code>Status</code> parameter. </p>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"EvaluationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:167:\"The
  user-supplied ID that uniquely identifies the <code>Evaluation</code>. This value
  should be identical to the value of the <code>EvaluationId</code> in the request.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateMLModelInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:69:\"A
  user-supplied ID that uniquely identifies the <code>MLModel</code>.\";}s:11:\"MLModelName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EntityName\";s:11:\"description\";s:64:\"A
  user-supplied name or description of the <code>MLModel</code>.\";}s:11:\"MLModelType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MLModelType\";s:11:\"description\";s:591:\"<p>The
  category of supervised learning that this <code>MLModel</code> will address. Choose
  from the following types:</p> <ul> <li>Choose <code>REGRESSION</code> if the <code>MLModel</code>
  will be used to predict a numeric value.</li> <li>Choose <code>BINARY</code> if
  the <code>MLModel</code> result has two possible values.</li> <li>Choose <code>MULTICLASS</code>
  if the <code>MLModel</code> result has a limited number of values. </li> </ul> <p>
  For more information, see the <a href=\"http://docs.aws.amazon.com/machine-learning/latest/dg\">Amazon
  Machine Learning Developer Guide</a>.</p>\";}s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TrainingParameters\";s:11:\"description\";s:2333:\"<p>A
  list of the training parameters in the <code>MLModel</code>. The list is implemented
  as a map of key-value pairs.</p> <p>The following is the current set of training
  parameters: </p> <ul> <li> <p><code>sgd.maxMLModelSizeInBytes</code> - The maximum
  allowed size of the model. Depending on the input data, the size of the model might
  affect its performance.</p> <p> The value is an integer that ranges from <code>100000</code>
  to <code>2147483648</code>. The default value is <code>33554432</code>.</p> </li>
  <li><p><code>sgd.maxPasses</code> - The number of times that the training process
  traverses the observations to build the <code>MLModel</code>. The value is an integer
  that ranges from <code>1</code> to <code>10000</code>. The default value is <code>10</code>.</p></li>
  <li> <p><code>sgd.shuffleType</code> - Whether Amazon ML shuffles the training data.
  Shuffling the data improves a model's ability to find the optimal solution for a
  variety of data types. The valid values are <code>auto</code> and <code>none</code>.
  The default value is <code>none</code>. We <?oxy_insert_start author=\"laurama\"
  timestamp=\"20160329T131121-0700\">strongly recommend that you shuffle your data.<?oxy_insert_end></p>
  </li> <li> <p><code>sgd.l1RegularizationAmount</code> - The coefficient regularization
  L1 norm. It controls overfitting the data by penalizing large coefficients. This
  tends to drive coefficients to zero, resulting in a sparse feature set. If you use
  this parameter, start by specifying a small value, such as <code>1.0E-08</code>.</p>
  <p>The value is a double that ranges from <code>0</code> to <code>MAX_DOUBLE</code>.
  The default is to not use L1 normalization. This parameter can't be used when <code>L2</code>
  is specified. Use this parameter sparingly.</p> </li> <li> <p><code>sgd.l2RegularizationAmount</code>
  - The coefficient regularization L2 norm. It controls overfitting the data by penalizing
  large coefficients. This tends to drive coefficients to small, nonzero values. If
  you use this parameter, start by specifying a small value, such as <code>1.0E-08</code>.</p>
  <p>The value is a double that ranges from <code>0</code> to <code>MAX_DOUBLE</code>.
  The default is to not use L2 normalization. This parameter can't be used when <code>L1</code>
  is specified. Use this parameter sparingly.</p> </li> </ul>\";}s:6:\"Recipe\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Recipe\";s:11:\"description\";s:172:\"The
  data recipe for creating the <code>MLModel</code>. You must specify either the recipe
  or its URI. If you don't specify a recipe or its URI, Amazon ML creates a default.\";}s:9:\"RecipeUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Url\";s:11:\"description\";s:233:\"The
  Amazon Simple Storage Service (Amazon S3) location and file name that contains the
  <code>MLModel</code> recipe. You must specify either the recipe or its URI. If you
  don't specify a recipe or its URI, Amazon ML creates a default.\";}s:20:\"TrainingDataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:61:\"The
  <code>DataSource</code> that points to the training data.\";}}s:8:\"required\";a:3:{i:0;s:9:\"MLModelId\";i:1;s:11:\"MLModelType\";i:2;s:20:\"TrainingDataSourceId\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateMLModelOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:328:\"<p>
  Represents the output of a <code>CreateMLModel</code> operation, and is an acknowledgement
  that Amazon ML received the request.</p> <p>The <code>CreateMLModel</code> operation
  is asynchronous. You can poll for status updates by using the <code>GetMLModel</code>
  operation and checking the <code>Status</code> parameter. </p>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:160:\"A
  user-supplied ID that uniquely identifies the <code>MLModel</code>. This value should
  be identical to the value of the <code>MLModelId</code> in the request. \";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreateRealtimeEndpointInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:60:\"The
  ID assigned to the <code>MLModel</code> during creation.\";}}s:8:\"required\";a:1:{i:0;s:9:\"MLModelId\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateRealtimeEndpointOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:384:\"<p>Represents
  the output of an <code>CreateRealtimeEndpoint</code> operation.</p> <p>The result
  contains the <code>MLModelId</code> and the endpoint information for the <code>MLModel</code>.</p>
  <note> <p>The endpoint information includes the URI of the <code>MLModel</code>;
  that is, the location to send online prediction requests for the specified <code>MLModel</code>.</p>
  </note>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:159:\"A
  user-supplied ID that uniquely identifies the <code>MLModel</code>. This value should
  be identical to the value of the <code>MLModelId</code> in the request.\";}s:20:\"RealtimeEndpointInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RealtimeEndpointInfo\";s:11:\"description\";s:53:\"The
  endpoint information of the <code>MLModel</code> \";}}s:4:\"type\";s:6:\"object\";}s:17:\"DataRearrangement\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"DataSchema\";O:8:\"stdClass\":3:{s:11:\"description\";s:960:\"<p>The
  schema of a <code>DataSource</code>. The <code>DataSchema</code> defines the structure
  of the observation data in the data file(s) referenced in the <code>DataSource</code>.
  The DataSource schema is expressed in JSON format.</p> <p><code>DataSchema</code>
  is not required if you specify a <code>DataSchemaUri</code></p> <p>{ \"version\":
  \"1.0\", \"recordAnnotationFieldName\": \"F1\", \"recordWeightFieldName\": \"F2\",
  \"targetFieldName\": \"F3\", \"dataFormat\": \"CSV\", \"dataFileContainsHeader\":
  true, \"variables\": [ { \"fieldName\": \"F1\", \"fieldType\": \"TEXT\" }, { \"fieldName\":
  \"F2\", \"fieldType\": \"NUMERIC\" }, { \"fieldName\": \"F3\", \"fieldType\": \"CATEGORICAL\"
  }, { \"fieldName\": \"F4\", \"fieldType\": \"NUMERIC\" }, { \"fieldName\": \"F5\",
  \"fieldType\": \"CATEGORICAL\" }, { \"fieldName\": \"F6\", \"fieldType\": \"TEXT\"
  }, { \"fieldName\": \"F7\", \"fieldType\": \"WEIGHTED_INT_SEQUENCE\" }, { \"fieldName\":
  \"F8\", \"fieldType\": \"WEIGHTED_STRING_SEQUENCE\" } ], \"excludedVariableNames\":
  [ \"F6\" ] } </p>\";s:9:\"maxLength\";i:131071;s:4:\"type\";s:6:\"string\";}s:10:\"DataSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:211:\"<p>
  Represents the output of the <code>GetDataSource</code> operation. </p> <p> The
  content consists of the detailed metadata and data file information and the current
  status of the <code>DataSource</code>. </p>\";s:10:\"properties\";O:8:\"stdClass\":18:{s:17:\"ComputeStatistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ComputeStatistics\";s:11:\"description\";s:98:\"
  The parameter is <code>true</code> if statistics need to be generated from the observation
  data. \";}s:11:\"ComputeTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LongType\";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:91:\"The
  time that the <code>DataSource</code> was created. The time is expressed in epoch
  time.\";}s:16:\"CreatedByIamUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AwsUserArn\";s:11:\"description\";s:184:\"The
  AWS user account from which the <code>DataSource</code> was created. The account
  type can be either an AWS root account or an AWS Identity and Access Management
  (IAM) user account.\";}s:14:\"DataLocationS3\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Url\";s:11:\"description\";s:121:\"The
  location and name of the data in Amazon Simple Storage Service (Amazon S3) that
  is used by a <code>DataSource</code>.\";}s:17:\"DataRearrangement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DataRearrangement\";s:11:\"description\";s:125:\"A
  JSON string that represents the splitting and rearrangement requirement used when
  this <code>DataSource</code> was created.\";}s:15:\"DataSizeInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LongType\";s:11:\"description\";s:105:\"The
  total number of observations contained in the data files that the <code>DataSource</code>
  references.\";}s:12:\"DataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:71:\"The
  ID that is assigned to the <code>DataSource</code> during creation.\";}s:10:\"FinishedAt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";}s:13:\"LastUpdatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:106:\"The
  time of the most recent edit to the <code>BatchPrediction</code>. The time is expressed
  in epoch time.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:84:\"A
  description of the most recent details about creating the <code>DataSource</code>.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EntityName\";s:11:\"description\";s:67:\"A
  user-supplied name or description of the <code>DataSource</code>.\";}s:13:\"NumberOfFiles\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LongType\";s:11:\"description\";s:67:\"The
  number of data files referenced by the <code>DataSource</code>.\";}s:11:\"RDSMetadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/RDSMetadata\";}s:16:\"RedshiftMetadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RedshiftMetadata\";}s:7:\"RoleARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";}s:9:\"StartedAt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EntityStatus\";s:11:\"description\";s:552:\"<p>The
  current status of the <code>DataSource</code>. This element can have one of the
  following values: </p> <ul> <li>PENDING - Amazon Machine Learning (Amazon ML) submitted
  a request to create a <code>DataSource</code>.</li> <li>INPROGRESS - The creation
  process is underway.</li> <li>FAILED - The request to create a <code>DataSource</code>
  did not run to completion. It is not usable.</li> <li>COMPLETED - The creation process
  completed successfully.</li> <li>DELETED - The <code>DataSource</code> is marked
  as deleted. It is not usable.</li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DataSourceFilterVariable\";O:8:\"stdClass\":3:{s:11:\"description\";s:903:\"<p>A
  list of the variables to use in searching or filtering <code>DataSource</code>.</p>
  <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>DataSource</code>
  creation date.</li> <li> <code>Status</code> - Sets the search criteria to <code>DataSource</code>
  status.</li> <li> <code>Name</code> - Sets the search criteria to the contents of
  <code>DataSource</code> <b> </b> <code>Name</code>.</li> <li> <code>DataUri</code>
  - Sets the search criteria to the URI of data files used to create the <code>DataSource</code>.
  The URI can identify either a file or an Amazon Simple Storage Service (Amazon S3)
  bucket or directory.</li> <li> <code>IAMUser</code> - Sets the search criteria to
  the user account that invoked the <code>DataSource</code> creation.</li> </ul> <note><title>Note</title>
  <p>The variable names should match the variable names in the <code>DataSource</code>.</p>
  </note>\";s:4:\"enum\";a:6:{i:0;s:9:\"CreatedAt\";i:1;s:13:\"LastUpdatedAt\";i:2;s:6:\"Status\";i:3;s:4:\"Name\";i:4;s:14:\"DataLocationS3\";i:5;s:7:\"IAMUser\";}s:4:\"type\";s:6:\"string\";}s:11:\"DataSources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DataSource\";}s:4:\"type\";s:5:\"array\";}s:26:\"DeleteBatchPredictionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"BatchPredictionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:77:\"A
  user-supplied ID that uniquely identifies the <code>BatchPrediction</code>.\";}}s:8:\"required\";a:1:{i:0;s:17:\"BatchPredictionId\";}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteBatchPredictionOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:283:\"<p>
  Represents the output of a <code>DeleteBatchPrediction</code> operation.</p> <p>You
  can use the <code>GetBatchPrediction</code> operation and check the value of the
  <code>Status</code> parameter to see whether a <code>BatchPrediction</code> is marked
  as <code>DELETED</code>.</p>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"BatchPredictionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:175:\"A
  user-supplied ID that uniquely identifies the <code>BatchPrediction</code>. This
  value should be identical to the value of the <code>BatchPredictionID</code> in
  the request.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteDataSourceInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:72:\"A
  user-supplied ID that uniquely identifies the <code>DataSource</code>.\";}}s:8:\"required\";a:1:{i:0;s:12:\"DataSourceId\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteDataSourceOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"
  Represents the output of a <code>DeleteDataSource</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:165:\"A
  user-supplied ID that uniquely identifies the <code>DataSource</code>. This value
  should be identical to the value of the <code>DataSourceID</code> in the request.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteEvaluationInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"EvaluationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:82:\"A
  user-supplied ID that uniquely identifies the <code>Evaluation</code> to delete.\";}}s:8:\"required\";a:1:{i:0;s:12:\"EvaluationId\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteEvaluationOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:353:\"<p>
  Represents the output of a <code>DeleteEvaluation</code> operation. The output indicates
  that Amazon Machine Learning (Amazon ML) received the request.</p> <p>You can use
  the <code>GetEvaluation</code> operation and check the value of the <code>Status</code>
  parameter to see whether an <code>Evaluation</code> is marked as <code>DELETED</code>.</p>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"EvaluationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:165:\"A
  user-supplied ID that uniquely identifies the <code>Evaluation</code>. This value
  should be identical to the value of the <code>EvaluationId</code> in the request.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteMLModelInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:69:\"A
  user-supplied ID that uniquely identifies the <code>MLModel</code>.\";}}s:8:\"required\";a:1:{i:0;s:9:\"MLModelId\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteMLModelOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:259:\"<p>Represents
  the output of a <code>DeleteMLModel</code> operation.</p> <p>You can use the <code>GetMLModel</code>
  operation and check the value of the <code>Status</code> parameter to see whether
  an <code>MLModel</code> is marked as <code>DELETED</code>.</p>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:159:\"A
  user-supplied ID that uniquely identifies the <code>MLModel</code>. This value should
  be identical to the value of the <code>MLModelID</code> in the request.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteRealtimeEndpointInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:60:\"The
  ID assigned to the <code>MLModel</code> during creation.\";}}s:8:\"required\";a:1:{i:0;s:9:\"MLModelId\";}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteRealtimeEndpointOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:195:\"<p>Represents
  the output of an <code>DeleteRealtimeEndpoint</code> operation.</p> <p>The result
  contains the <code>MLModelId</code> and the endpoint information for the <code>MLModel</code>.
  </p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:159:\"A
  user-supplied ID that uniquely identifies the <code>MLModel</code>. This value should
  be identical to the value of the <code>MLModelId</code> in the request.\";}s:20:\"RealtimeEndpointInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RealtimeEndpointInfo\";s:11:\"description\";s:53:\"The
  endpoint information of the <code>MLModel</code> \";}}s:4:\"type\";s:6:\"object\";}s:15:\"DeleteTagsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:73:\"The
  ID of the tagged ML object. For example, <code>exampleModelId</code>.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TaggableResourceType\";s:11:\"description\";s:33:\"The
  type of the tagged ML object.\";}s:7:\"TagKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TagKeyList\";s:11:\"description\";s:27:\"One
  or more tags to delete.\";}}s:8:\"required\";a:3:{i:0;s:7:\"TagKeys\";i:1;s:10:\"ResourceId\";i:2;s:12:\"ResourceType\";}s:4:\"type\";s:6:\"object\";}s:16:\"DeleteTagsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Amazon
  ML returns the following elements. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:53:\"The
  ID of the ML object from which tags were deleted.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TaggableResourceType\";s:11:\"description\";s:55:\"The
  type of the ML object from which tags were deleted.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeBatchPredictionsInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"EQ\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:169:\"The
  equal to operator. The <code>BatchPrediction</code> results will have <code>FilterVariable</code>
  values that exactly match the value specified with <code>EQ</code>.\";}s:14:\"FilterVariable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/BatchPredictionFilterVariable\";s:11:\"description\";s:1073:\"<p>Use
  one of the following variables to filter a list of <code>BatchPrediction</code>:</p>
  <ul> <li> <code>CreatedAt</code> - Sets the search criteria to the <code>BatchPrediction</code>
  creation date.</li> <li> <code>Status</code> - Sets the search criteria to the <code>BatchPrediction</code>
  status.</li> <li> <code>Name</code> - Sets the search criteria to the contents of
  the <code>BatchPrediction</code><b> </b> <code>Name</code>.</li> <li> <code>IAMUser</code>
  - Sets the search criteria to the user account that invoked the <code>BatchPrediction</code>
  creation.</li> <li> <code>MLModelId</code> - Sets the search criteria to the <code>MLModel</code>
  used in the <code>BatchPrediction</code>.</li> <li> <code>DataSourceId</code> -
  Sets the search criteria to the <code>DataSource</code> used in the <code>BatchPrediction</code>.</li>
  <li> <code>DataURI</code> - Sets the search criteria to the data file(s) used in
  the <code>BatchPrediction</code>. The URL can identify either a file or an Amazon
  Simple Storage Solution (Amazon S3) bucket or directory.</li> </ul>\";}s:2:\"GE\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:201:\"The
  greater than or equal to operator. The <code>BatchPrediction</code> results will
  have <code>FilterVariable</code> values that are greater than or equal to the value
  specified with <code>GE</code>. \";}s:2:\"GT\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:176:\"The
  greater than operator. The <code>BatchPrediction</code> results will have <code>FilterVariable</code>
  values that are greater than the value specified with <code>GT</code>.\";}s:2:\"LE\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:194:\"The
  less than or equal to operator. The <code>BatchPrediction</code> results will have
  <code>FilterVariable</code> values that are less than or equal to the value specified
  with <code>LE</code>.\";}s:2:\"LT\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:170:\"The
  less than operator. The <code>BatchPrediction</code> results will have <code>FilterVariable</code>
  values that are less than the value specified with <code>LT</code>.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageLimit\";s:11:\"description\";s:174:\"The
  number of pages of information to include in the result. The range of acceptable
  values is <code>1</code> through <code>100</code>. The default value is <code>100</code>.\";}s:2:\"NE\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:167:\"The
  not equal to operator. The <code>BatchPrediction</code> results will have <code>FilterVariable</code>
  values not equal to the value specified with <code>NE</code>.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";s:11:\"description\";s:43:\"An
  ID of the page in the paginated results.\";}s:6:\"Prefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:515:\"<p>A
  string that is found at the beginning of a variable, such as <code>Name</code> or
  <code>Id</code>.</p> <p>For example, a <code>Batch Prediction</code> operation could
  have the <code>Name</code> <code>2014-09-09-HolidayGiftMailer</code>. To search
  for this <code>BatchPrediction</code>, select <code>Name</code> for the <code>FilterVariable</code>
  and any of the following strings for the <code>Prefix</code>: </p> <ul> <li><p>2014-09</p></li>
  <li><p>2014-09-09</p></li> <li><p>2014-09-09-Holiday</p></li> </ul>\";}s:9:\"SortOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SortOrder\";s:11:\"description\";s:331:\"<p>A
  two-value parameter that determines the sequence of the resulting list of <code>MLModel</code>s.</p>
  <ul> <li> <code>asc</code> - Arranges the list in ascending order (A-Z, 0-9).</li>
  <li> <code>dsc</code> - Arranges the list in descending order (Z-A, 9-0).</li> </ul>
  <p>Results are sorted by <code>FilterVariable</code>.</p>\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeBatchPredictionsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"Represents
  the output of a <code>DescribeBatchPredictions</code> operation. The content is
  essentially a list of <code>BatchPrediction</code>s.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";s:11:\"description\";s:95:\"The
  ID of the next page in the paginated results that indicates at least one more page
  follows.\";}s:7:\"Results\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BatchPredictions\";s:11:\"description\";s:78:\"A
  list of <code>BatchPrediction</code> objects that meet the search criteria. \";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeDataSourcesInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"EQ\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:164:\"The
  equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code>
  values that exactly match the value specified with <code>EQ</code>.\";}s:14:\"FilterVariable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/DataSourceFilterVariable\";s:11:\"description\";s:780:\"<p>Use
  one of the following variables to filter a list of <code>DataSource</code>:</p>
  <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>DataSource</code>
  creation dates.</li> <li> <code>Status</code> - Sets the search criteria to <code>DataSource</code>
  statuses.</li> <li> <code>Name</code> - Sets the search criteria to the contents
  of <code>DataSource</code> <b> </b> <code>Name</code>.</li> <li> <code>DataUri</code>
  - Sets the search criteria to the URI of data files used to create the <code>DataSource</code>.
  The URI can identify either a file or an Amazon Simple Storage Service (Amazon S3)
  bucket or directory.</li> <li> <code>IAMUser</code> - Sets the search criteria to
  the user account that invoked the <code>DataSource</code> creation.</li> </ul>\";}s:2:\"GE\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:196:\"The
  greater than or equal to operator. The <code>DataSource</code> results will have
  <code>FilterVariable</code> values that are greater than or equal to the value specified
  with <code>GE</code>. \";}s:2:\"GT\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:171:\"The
  greater than operator. The <code>DataSource</code> results will have <code>FilterVariable</code>
  values that are greater than the value specified with <code>GT</code>.\";}s:2:\"LE\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:189:\"The
  less than or equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code>
  values that are less than or equal to the value specified with <code>LE</code>.\";}s:2:\"LT\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:165:\"The
  less than operator. The <code>DataSource</code> results will have <code>FilterVariable</code>
  values that are less than the value specified with <code>LT</code>.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageLimit\";s:11:\"description\";s:72:\"
  The maximum number of <code>DataSource</code> to include in the result.\";}s:2:\"NE\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:162:\"The
  not equal to operator. The <code>DataSource</code> results will have <code>FilterVariable</code>
  values not equal to the value specified with <code>NE</code>.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";s:11:\"description\";s:44:\"The
  ID of the page in the paginated results.\";}s:6:\"Prefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:494:\"<p>A
  string that is found at the beginning of a variable, such as <code>Name</code> or
  <code>Id</code>.</p> <p>For example, a <code>DataSource</code> could have the <code>Name</code>
  <code>2014-09-09-HolidayGiftMailer</code>. To search for this <code>DataSource</code>,
  select <code>Name</code> for the <code>FilterVariable</code> and any of the following
  strings for the <code>Prefix</code>: </p> <ul> <li><p>2014-09</p></li> <li><p>2014-09-09</p></li>
  <li><p>2014-09-09-Holiday</p></li> </ul>\";}s:9:\"SortOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SortOrder\";s:11:\"description\";s:333:\"<p>A
  two-value parameter that determines the sequence of the resulting list of <code>DataSource</code>.</p>
  <ul> <li> <code>asc</code> - Arranges the list in ascending order (A-Z, 0-9).</li>
  <li> <code>dsc</code> - Arranges the list in descending order (Z-A, 9-0).</li> </ul>
  <p>Results are sorted by <code>FilterVariable</code>.</p>\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeDataSourcesOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"Represents
  the query results from a <a>DescribeDataSources</a> operation. The content is essentially
  a list of <code>DataSource</code>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";s:11:\"description\";s:94:\"An
  ID of the next page in the paginated results that indicates at least one more page
  follows.\";}s:7:\"Results\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DataSources\";s:11:\"description\";s:65:\"A
  list of <code>DataSource</code> that meet the search criteria. \";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeEvaluationsInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"EQ\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:164:\"The
  equal to operator. The <code>Evaluation</code> results will have <code>FilterVariable</code>
  values that exactly match the value specified with <code>EQ</code>.\";}s:14:\"FilterVariable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/EvaluationFilterVariable\";s:11:\"description\";s:1002:\"<p>Use
  one of the following variable to filter a list of <code>Evaluation</code> objects:</p>
  <ul> <li> <code>CreatedAt</code> - Sets the search criteria to the <code>Evaluation</code>
  creation date.</li> <li> <code>Status</code> - Sets the search criteria to the <code>Evaluation</code>
  status.</li> <li> <code>Name</code> - Sets the search criteria to the contents of
  <code>Evaluation</code> <b> </b> <code>Name</code>.</li> <li> <code>IAMUser</code>
  - Sets the search criteria to the user account that invoked an <code>Evaluation</code>.</li>
  <li> <code>MLModelId</code> - Sets the search criteria to the <code>MLModel</code>
  that was evaluated.</li> <li> <code>DataSourceId</code> - Sets the search criteria
  to the <code>DataSource</code> used in <code>Evaluation</code>.</li> <li> <code>DataUri</code>
  - Sets the search criteria to the data file(s) used in <code>Evaluation</code>.
  The URL can identify either a file or an Amazon Simple Storage Solution (Amazon
  S3) bucket or directory.</li> </ul>\";}s:2:\"GE\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:196:\"The
  greater than or equal to operator. The <code>Evaluation</code> results will have
  <code>FilterVariable</code> values that are greater than or equal to the value specified
  with <code>GE</code>. \";}s:2:\"GT\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:171:\"The
  greater than operator. The <code>Evaluation</code> results will have <code>FilterVariable</code>
  values that are greater than the value specified with <code>GT</code>.\";}s:2:\"LE\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:189:\"The
  less than or equal to operator. The <code>Evaluation</code> results will have <code>FilterVariable</code>
  values that are less than or equal to the value specified with <code>LE</code>.\";}s:2:\"LT\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:165:\"The
  less than operator. The <code>Evaluation</code> results will have <code>FilterVariable</code>
  values that are less than the value specified with <code>LT</code>.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageLimit\";s:11:\"description\";s:72:\"
  The maximum number of <code>Evaluation</code> to include in the result.\";}s:2:\"NE\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:162:\"The
  not equal to operator. The <code>Evaluation</code> results will have <code>FilterVariable</code>
  values not equal to the value specified with <code>NE</code>.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";s:11:\"description\";s:44:\"The
  ID of the page in the paginated results.\";}s:6:\"Prefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:495:\"<p>A
  string that is found at the beginning of a variable, such as <code>Name</code> or
  <code>Id</code>.</p> <p>For example, an <code>Evaluation</code> could have the <code>Name</code>
  <code>2014-09-09-HolidayGiftMailer</code>. To search for this <code>Evaluation</code>,
  select <code>Name</code> for the <code>FilterVariable</code> and any of the following
  strings for the <code>Prefix</code>: </p> <ul> <li><p>2014-09</p></li> <li><p>2014-09-09</p></li>
  <li><p>2014-09-09-Holiday</p></li> </ul>\";}s:9:\"SortOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SortOrder\";s:11:\"description\";s:333:\"<p>A
  two-value parameter that determines the sequence of the resulting list of <code>Evaluation</code>.</p>
  <ul> <li> <code>asc</code> - Arranges the list in ascending order (A-Z, 0-9).</li>
  <li> <code>dsc</code> - Arranges the list in descending order (Z-A, 9-0).</li> </ul>
  <p>Results are sorted by <code>FilterVariable</code>.</p>\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeEvaluationsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"Represents
  the query results from a <code>DescribeEvaluations</code> operation. The content
  is essentially a list of <code>Evaluation</code>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";s:11:\"description\";s:95:\"The
  ID of the next page in the paginated results that indicates at least one more page
  follows.\";}s:7:\"Results\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Evaluations\";s:11:\"description\";s:65:\"A
  list of <code>Evaluation</code> that meet the search criteria. \";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeMLModelsInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"EQ\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:161:\"The
  equal to operator. The <code>MLModel</code> results will have <code>FilterVariable</code>
  values that exactly match the value specified with <code>EQ</code>.\";}s:14:\"FilterVariable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/MLModelFilterVariable\";s:11:\"description\";s:1280:\"<p>Use
  one of the following variables to filter a list of <code>MLModel</code>:</p> <ul>
  <li> <code>CreatedAt</code> - Sets the search criteria to <code>MLModel</code> creation
  date.</li> <li> <code>Status</code> - Sets the search criteria to <code>MLModel</code>
  status.</li> <li> <code>Name</code> - Sets the search criteria to the contents of
  <code>MLModel</code><b> </b> <code>Name</code>.</li> <li> <code>IAMUser</code> -
  Sets the search criteria to the user account that invoked the <code>MLModel</code>
  creation.</li> <li> <code>TrainingDataSourceId</code> - Sets the search criteria
  to the <code>DataSource</code> used to train one or more <code>MLModel</code>.</li>
  <li> <code>RealtimeEndpointStatus</code> - Sets the search criteria to the <code>MLModel</code>
  real-time endpoint status.</li> <li> <code>MLModelType</code> - Sets the search
  criteria to <code>MLModel</code> type: binary, regression, or multi-class.</li>
  <li> <code>Algorithm</code> - Sets the search criteria to the algorithm that the
  <code>MLModel</code> uses.</li> <li> <code>TrainingDataURI</code> - Sets the search
  criteria to the data file(s) used in training a <code>MLModel</code>. The URL can
  identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or
  directory.</li> </ul>\";}s:2:\"GE\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:193:\"The
  greater than or equal to operator. The <code>MLModel</code> results will have <code>FilterVariable</code>
  values that are greater than or equal to the value specified with <code>GE</code>.
  \";}s:2:\"GT\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:168:\"The
  greater than operator. The <code>MLModel</code> results will have <code>FilterVariable</code>
  values that are greater than the value specified with <code>GT</code>.\";}s:2:\"LE\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:186:\"The
  less than or equal to operator. The <code>MLModel</code> results will have <code>FilterVariable</code>
  values that are less than or equal to the value specified with <code>LE</code>.\";}s:2:\"LT\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:162:\"The
  less than operator. The <code>MLModel</code> results will have <code>FilterVariable</code>
  values that are less than the value specified with <code>LT</code>.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PageLimit\";s:11:\"description\";s:174:\"The
  number of pages of information to include in the result. The range of acceptable
  values is <code>1</code> through <code>100</code>. The default value is <code>100</code>.\";}s:2:\"NE\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:159:\"The
  not equal to operator. The <code>MLModel</code> results will have <code>FilterVariable</code>
  values not equal to the value specified with <code>NE</code>.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";s:11:\"description\";s:44:\"The
  ID of the page in the paginated results.\";}s:6:\"Prefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComparatorValue\";s:11:\"description\";s:489:\"<p>A
  string that is found at the beginning of a variable, such as <code>Name</code> or
  <code>Id</code>.</p> <p>For example, an <code>MLModel</code> could have the <code>Name</code>
  <code>2014-09-09-HolidayGiftMailer</code>. To search for this <code>MLModel</code>,
  select <code>Name</code> for the <code>FilterVariable</code> and any of the following
  strings for the <code>Prefix</code>: </p> <ul> <li><p>2014-09</p></li> <li><p>2014-09-09</p></li>
  <li><p>2014-09-09-Holiday</p></li> </ul>\";}s:9:\"SortOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SortOrder\";s:11:\"description\";s:330:\"<p>A
  two-value parameter that determines the sequence of the resulting list of <code>MLModel</code>.</p>
  <ul> <li> <code>asc</code> - Arranges the list in ascending order (A-Z, 0-9).</li>
  <li> <code>dsc</code> - Arranges the list in descending order (Z-A, 9-0).</li> </ul>
  <p>Results are sorted by <code>FilterVariable</code>.</p>\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeMLModelsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"Represents
  the output of a <code>DescribeMLModels</code> operation. The content is essentially
  a list of <code>MLModel</code>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";s:11:\"description\";s:95:\"The
  ID of the next page in the paginated results that indicates at least one more page
  follows.\";}s:7:\"Results\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/MLModels\";s:11:\"description\";s:61:\"A
  list of <code>MLModel</code> that meet the search criteria.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DescribeTagsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:67:\"The
  ID of the ML object. For example, <code>exampleModelId</code>. \";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TaggableResourceType\";s:11:\"description\";s:26:\"The
  type of the ML object.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResourceId\";i:1;s:12:\"ResourceType\";}s:4:\"type\";s:6:\"object\";}s:18:\"DescribeTagsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Amazon
  ML returns the following elements. \";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:31:\"The
  ID of the tagged ML object.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TaggableResourceType\";s:11:\"description\";s:33:\"The
  type of the tagged ML object.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:45:\"A
  list of tags associated with the ML object.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DetailsAttributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:227:\"Contains
  the key values of <code>DetailsMap</code>: <code>PredictiveModelType</code> - Indicates
  the type of the <code>MLModel</code>. <code>Algorithm</code> - Indicates the algorithm
  that was used for the <code>MLModel</code>.\";s:4:\"enum\";a:2:{i:0;s:19:\"PredictiveModelType\";i:1;s:9:\"Algorithm\";}s:4:\"type\";s:6:\"string\";}s:10:\"DetailsMap\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Provides
  any additional details regarding the prediction.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DetailsAttributes\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DetailsValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"DetailsValue\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"EDPPipelineId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"EDPResourceRole\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:18:\"EDPSecurityGroupId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:19:\"EDPSecurityGroupIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/EDPSecurityGroupId\";}s:4:\"type\";s:5:\"array\";}s:14:\"EDPServiceRole\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"EDPSubnetId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:8:\"EntityId\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:15:\"[a-zA-Z0-9_.-]+\";s:4:\"type\";s:6:\"string\";}s:10:\"EntityName\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"A
  user-supplied name or description of the Amazon ML resource.\";s:9:\"maxLength\";i:1024;s:7:\"pattern\";s:9:\".*\\S.*|^$\";s:4:\"type\";s:6:\"string\";}s:12:\"EntityStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"<p>Object
  status with the following possible values:</p> <ul> <li><code>PENDING</code></li>
  <li><code>INPROGRESS</code></li> <li><code>FAILED</code></li> <li><code>COMPLETED</code></li>
  <li><code>DELETED</code></li> </ul>\";s:4:\"enum\";a:5:{i:0;s:7:\"PENDING\";i:1;s:10:\"INPROGRESS\";i:2;s:6:\"FAILED\";i:3;s:9:\"COMPLETED\";i:4;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:9:\"EpochTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"A
  timestamp represented in epoch time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:2048;s:4:\"type\";s:6:\"string\";}s:10:\"Evaluation\";O:8:\"stdClass\":3:{s:11:\"description\";s:205:\"<p>
  Represents the output of <code>GetEvaluation</code> operation. </p> <p>The content
  consists of the detailed metadata and data file information and the current status
  of the <code>Evaluation</code>.</p>\";s:10:\"properties\";O:8:\"stdClass\":14:{s:11:\"ComputeTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LongType\";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:91:\"The
  time that the <code>Evaluation</code> was created. The time is expressed in epoch
  time.\";}s:16:\"CreatedByIamUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AwsUserArn\";s:11:\"description\";s:161:\"The
  AWS user account that invoked the evaluation. The account type can be either an
  AWS root account or an AWS Identity and Access Management (IAM) user account.\";}s:22:\"EvaluationDataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:88:\"The
  ID of the <code>DataSource</code> that is used to evaluate the <code>MLModel</code>.\";}s:12:\"EvaluationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:67:\"The
  ID that is assigned to the <code>Evaluation</code> at creation.\";}s:10:\"FinishedAt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";}s:19:\"InputDataLocationS3\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Url\";s:11:\"description\";s:109:\"The
  location and name of the data in Amazon Simple Storage Server (Amazon S3) that is
  used in the evaluation.\";}s:13:\"LastUpdatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:101:\"The
  time of the most recent edit to the <code>Evaluation</code>. The time is expressed
  in epoch time.\";}s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:71:\"The
  ID of the <code>MLModel</code> that is the focus of the evaluation.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:83:\"A
  description of the most recent details about evaluating the <code>MLModel</code>.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EntityName\";s:11:\"description\";s:68:\"A
  user-supplied name or description of the <code>Evaluation</code>. \";}s:18:\"PerformanceMetrics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PerformanceMetrics\";s:11:\"description\";s:896:\"<p>Measurements
  of how well the <code>MLModel</code> performed, using observations referenced by
  the <code>DataSource</code>. One of the following metrics is returned, based on
  the type of the <code>MLModel</code>: </p> <ul> <li> <p>BinaryAUC: A binary <code>MLModel</code>
  uses the Area Under the Curve (AUC) technique to measure performance. </p> </li>
  <li> <p>RegressionRMSE: A regression <code>MLModel</code> uses the Root Mean Square
  Error (RMSE) technique to measure performance. RMSE measures the difference between
  predicted and actual values for a single variable.</p> </li> <li> <p>MulticlassAvgFScore:
  A multiclass <code>MLModel</code> uses the F1 score technique to measure performance.
  </p> </li> </ul> <p> For more information about performance metrics, please see
  the <a href=\"http://docs.aws.amazon.com/machine-learning/latest/dg\">Amazon Machine
  Learning Developer Guide</a>. </p>\";}s:9:\"StartedAt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EntityStatus\";s:11:\"description\";s:596:\"<p>The
  status of the evaluation. This element can have one of the following values:</p>
  <ul> <li> <code>PENDING</code> - Amazon Machine Learning (Amazon ML) submitted a
  request to evaluate an <code>MLModel</code>.</li> <li> <code>INPROGRESS</code> -
  The evaluation is underway.</li> <li> <code>FAILED</code> - The request to evaluate
  an <code>MLModel</code> did not run to completion. It is not usable.</li> <li> <code>COMPLETED</code>
  - The evaluation process completed successfully.</li> <li> <code>DELETED</code>
  - The <code>Evaluation</code> is marked as deleted. It is not usable.</li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:24:\"EvaluationFilterVariable\";O:8:\"stdClass\":3:{s:11:\"description\";s:951:\"<p>A
  list of the variables to use in searching or filtering <code>Evaluation</code>.</p>
  <ul> <li> <code>CreatedAt</code> - Sets the search criteria to <code>Evaluation</code>
  creation date.</li> <li> <code>Status</code> - Sets the search criteria to <code>Evaluation</code>
  status.</li> <li> <code>Name</code> - Sets the search criteria to the contents of
  <code>Evaluation</code> <b> </b> <code>Name</code>.</li> <li> <code>IAMUser</code>
  - Sets the search criteria to the user account that invoked an evaluation.</li>
  <li> <code>MLModelId</code> - Sets the search criteria to the <code>Predictor</code>
  that was evaluated.</li> <li> <code>DataSourceId</code> - Sets the search criteria
  to the <code>DataSource</code> used in evaluation.</li> <li> <code>DataUri</code>
  - Sets the search criteria to the data file(s) used in evaluation. The URL can identify
  either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</li>
  </ul>\";s:4:\"enum\";a:8:{i:0;s:9:\"CreatedAt\";i:1;s:13:\"LastUpdatedAt\";i:2;s:6:\"Status\";i:3;s:4:\"Name\";i:4;s:7:\"IAMUser\";i:5;s:9:\"MLModelId\";i:6;s:12:\"DataSourceId\";i:7;s:7:\"DataURI\";}s:4:\"type\";s:6:\"string\";}s:11:\"Evaluations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Evaluation\";}s:4:\"type\";s:5:\"array\";}s:23:\"GetBatchPredictionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"BatchPredictionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:63:\"An
  ID assigned to the <code>BatchPrediction</code> at creation.\";}}s:8:\"required\";a:1:{i:0;s:17:\"BatchPredictionId\";}s:4:\"type\";s:6:\"object\";}s:24:\"GetBatchPredictionOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"Represents
  the output of a <code>GetBatchPrediction</code> operation and describes a <code>BatchPrediction</code>.\";s:10:\"properties\";O:8:\"stdClass\":17:{s:27:\"BatchPredictionDataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:96:\"The
  ID of the <code>DataSource</code> that was used to create the <code>BatchPrediction</code>.
  \";}s:17:\"BatchPredictionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:161:\"An
  ID assigned to the <code>BatchPrediction</code> at creation. This value should be
  identical to the value of the <code>BatchPredictionID</code> in the request.\";}s:11:\"ComputeTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LongType\";s:11:\"description\";s:287:\"The
  approximate CPU time in milliseconds that Amazon Machine Learning spent processing
  the <code>BatchPrediction</code>, normalized and scaled on computation resources.
  <code>ComputeTime</code> is only available if the <code>BatchPrediction</code> is
  in the <code>COMPLETED</code> state.\";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:96:\"The
  time when the <code>BatchPrediction</code> was created. The time is expressed in
  epoch time.\";}s:16:\"CreatedByIamUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AwsUserArn\";s:11:\"description\";s:179:\"The
  AWS user account that invoked the <code>BatchPrediction</code>. The account type
  can be either an AWS root account or an AWS Identity and Access Management (IAM)
  user account.\";}s:10:\"FinishedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:276:\"The
  epoch time when Amazon Machine Learning marked the <code>BatchPrediction</code>
  as <code>COMPLETED</code> or <code>FAILED</code>. <code>FinishedAt</code> is only
  available when the <code>BatchPrediction</code> is in the <code>COMPLETED</code>
  or <code>FAILED</code> state.\";}s:19:\"InputDataLocationS3\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Url\";s:11:\"description\";s:88:\"The
  location of the data file or directory in Amazon Simple Storage Service (Amazon
  S3).\";}s:18:\"InvalidRecordCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LongType\";s:11:\"description\";s:113:\"The
  number of invalid records that Amazon Machine Learning saw while processing the
  <code>BatchPrediction</code>.\";}s:13:\"LastUpdatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:102:\"The
  time of the most recent edit to <code>BatchPrediction</code>. The time is expressed
  in epoch time.\";}s:6:\"LogUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PresignedS3Url\";s:11:\"description\";s:90:\"A
  link to the file that contains logs of the <code>CreateBatchPrediction</code> operation.\";}s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:107:\"The
  ID of the <code>MLModel</code> that generated predictions for the <code>BatchPrediction</code>
  request.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:87:\"A
  description of the most recent details about processing the batch prediction request.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EntityName\";s:11:\"description\";s:72:\"A
  user-supplied name or description of the <code>BatchPrediction</code>.\";}s:9:\"OutputUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Url\";s:11:\"description\";s:82:\"The
  location of an Amazon S3 bucket or directory to receive the operation results.\";}s:9:\"StartedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:224:\"The
  epoch time when Amazon Machine Learning marked the <code>BatchPrediction</code>
  as <code>INPROGRESS</code>. <code>StartedAt</code> isn't available if the <code>BatchPrediction</code>
  is in the <code>PENDING</code> state.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EntityStatus\";s:11:\"description\";s:615:\"<p>The
  status of the <code>BatchPrediction</code>, which can be one of the following values:</p>
  <ul> <li> <code>PENDING</code> - Amazon Machine Learning (Amazon ML) submitted a
  request to generate batch predictions.</li> <li> <code>INPROGRESS</code> - The batch
  predictions are in progress.</li> <li> <code>FAILED</code> - The request to perform
  a batch prediction did not run to completion. It is not usable.</li> <li> <code>COMPLETED</code>
  - The batch prediction process completed successfully.</li> <li> <code>DELETED</code>
  - The <code>BatchPrediction</code> is marked as deleted. It is not usable.</li>
  </ul>\";}s:16:\"TotalRecordCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LongType\";s:11:\"description\";s:111:\"The
  number of total records that Amazon Machine Learning saw while processing the <code>BatchPrediction</code>.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetDataSourceInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"DataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:59:\"The
  ID assigned to the <code>DataSource</code> at creation.\";}s:7:\"Verbose\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Verbose\";s:11:\"description\";s:233:\"<p>Specifies
  whether the <code>GetDataSource</code> operation should return <code>DataSourceSchema</code>.</p>
  <p>If true, <code>DataSourceSchema</code> is returned.</p> <p>If false, <code>DataSourceSchema</code>
  is not returned.</p>\";}}s:8:\"required\";a:1:{i:0;s:12:\"DataSourceId\";}s:4:\"type\";s:6:\"object\";}s:19:\"GetDataSourceOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"Represents
  the output of a <code>GetDataSource</code> operation and describes a <code>DataSource</code>.\";s:10:\"properties\";O:8:\"stdClass\":20:{s:17:\"ComputeStatistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ComputeStatistics\";s:11:\"description\";s:98:\"
  The parameter is <code>true</code> if statistics need to be generated from the observation
  data. \";}s:11:\"ComputeTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LongType\";s:11:\"description\";s:331:\"The
  approximate CPU time in milliseconds that Amazon Machine Learning spent processing
  the <code>DataSource</code>, normalized and scaled on computation resources. <code>ComputeTime</code>
  is only available if the <code>DataSource</code> is in the <code>COMPLETED</code>
  state and the <code>ComputeStatistics</code> is set to true.\";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:91:\"The
  time that the <code>DataSource</code> was created. The time is expressed in epoch
  time.\";}s:16:\"CreatedByIamUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AwsUserArn\";s:11:\"description\";s:184:\"The
  AWS user account from which the <code>DataSource</code> was created. The account
  type can be either an AWS root account or an AWS Identity and Access Management
  (IAM) user account.\";}s:14:\"DataLocationS3\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Url\";s:11:\"description\";s:88:\"The
  location of the data file or directory in Amazon Simple Storage Service (Amazon
  S3).\";}s:17:\"DataRearrangement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DataRearrangement\";s:11:\"description\";s:125:\"A
  JSON string that represents the splitting and rearrangement requirement used when
  this <code>DataSource</code> was created.\";}s:15:\"DataSizeInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LongType\";s:11:\"description\";s:49:\"The
  total size of observations in the data files.\";}s:12:\"DataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:152:\"The
  ID assigned to the <code>DataSource</code> at creation. This value should be identical
  to the value of the <code>DataSourceId</code> in the request.\";}s:16:\"DataSourceSchema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DataSchema\";s:11:\"description\";s:178:\"<p>The
  schema used by all of the data files of this <code>DataSource</code>.</p> <note><title>Note</title>
  <p>This parameter is provided as part of the verbose format.</p></note>\";}s:10:\"FinishedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:266:\"The
  epoch time when Amazon Machine Learning marked the <code>DataSource</code> as <code>COMPLETED</code>
  or <code>FAILED</code>. <code>FinishedAt</code> is only available when the <code>DataSource</code>
  is in the <code>COMPLETED</code> or <code>FAILED</code> state.\";}s:13:\"LastUpdatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:101:\"The
  time of the most recent edit to the <code>DataSource</code>. The time is expressed
  in epoch time.\";}s:6:\"LogUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PresignedS3Url\";s:11:\"description\";s:84:\"A
  link to the file containing logs of <code>CreateDataSourceFrom*</code> operations.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:100:\"The
  user-supplied description of the most recent details about creating the <code>DataSource</code>.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EntityName\";s:11:\"description\";s:67:\"A
  user-supplied name or description of the <code>DataSource</code>.\";}s:13:\"NumberOfFiles\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LongType\";s:11:\"description\";s:67:\"The
  number of data files referenced by the <code>DataSource</code>.\";}s:11:\"RDSMetadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/RDSMetadata\";}s:16:\"RedshiftMetadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RedshiftMetadata\";}s:7:\"RoleARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";}s:9:\"StartedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:214:\"The
  epoch time when Amazon Machine Learning marked the <code>DataSource</code> as <code>INPROGRESS</code>.
  <code>StartedAt</code> isn't available if the <code>DataSource</code> is in the
  <code>PENDING</code> state.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EntityStatus\";s:11:\"description\";s:595:\"<p>The
  current status of the <code>DataSource</code>. This element can have one of the
  following values:</p> <ul> <li> <code>PENDING</code> - Amazon ML submitted a request
  to create a <code>DataSource</code>.</li> <li> <code>INPROGRESS</code> - The creation
  process is underway.</li> <li> <code>FAILED</code> - The request to create a <code>DataSource</code>
  did not run to completion. It is not usable.</li> <li> <code>COMPLETED</code> -
  The creation process completed successfully.</li> <li> <code>DELETED</code> - The
  <code>DataSource</code> is marked as deleted. It is not usable.</li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetEvaluationInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"EvaluationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:175:\"The
  ID of the <code>Evaluation</code> to retrieve. The evaluation of each <code>MLModel</code>
  is recorded and cataloged. The ID provides the means to access the information.
  \";}}s:8:\"required\";a:1:{i:0;s:12:\"EvaluationId\";}s:4:\"type\";s:6:\"object\";}s:19:\"GetEvaluationOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Represents
  the output of a <code>GetEvaluation</code> operation and describes an <code>Evaluation</code>.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"ComputeTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LongType\";s:11:\"description\";s:277:\"The
  approximate CPU time in milliseconds that Amazon Machine Learning spent processing
  the <code>Evaluation</code>, normalized and scaled on computation resources. <code>ComputeTime</code>
  is only available if the <code>Evaluation</code> is in the <code>COMPLETED</code>
  state.\";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:91:\"The
  time that the <code>Evaluation</code> was created. The time is expressed in epoch
  time.\";}s:16:\"CreatedByIamUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AwsUserArn\";s:11:\"description\";s:161:\"The
  AWS user account that invoked the evaluation. The account type can be either an
  AWS root account or an AWS Identity and Access Management (IAM) user account.\";}s:22:\"EvaluationDataSourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:53:\"The
  <code>DataSource</code> used for this evaluation.\";}s:12:\"EvaluationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:80:\"The
  evaluation ID which is same as the <code>EvaluationId</code> in the request.\";}s:10:\"FinishedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:266:\"The
  epoch time when Amazon Machine Learning marked the <code>Evaluation</code> as <code>COMPLETED</code>
  or <code>FAILED</code>. <code>FinishedAt</code> is only available when the <code>Evaluation</code>
  is in the <code>COMPLETED</code> or <code>FAILED</code> state.\";}s:19:\"InputDataLocationS3\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Url\";s:11:\"description\";s:88:\"The
  location of the data file or directory in Amazon Simple Storage Service (Amazon
  S3).\";}s:13:\"LastUpdatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:101:\"The
  time of the most recent edit to the <code>Evaluation</code>. The time is expressed
  in epoch time.\";}s:6:\"LogUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PresignedS3Url\";s:11:\"description\";s:85:\"A
  link to the file that contains logs of the <code>CreateEvaluation</code> operation.\";}s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:72:\"The
  ID of the <code>MLModel</code> that was the focus of the evaluation.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:83:\"A
  description of the most recent details about evaluating the <code>MLModel</code>.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EntityName\";s:11:\"description\";s:68:\"A
  user-supplied name or description of the <code>Evaluation</code>. \";}s:18:\"PerformanceMetrics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PerformanceMetrics\";s:11:\"description\";s:893:\"<p>Measurements
  of how well the <code>MLModel</code> performed using observations referenced by
  the <code>DataSource</code>. One of the following metric is returned based on the
  type of the <code>MLModel</code>: </p> <ul> <li> <p>BinaryAUC: A binary <code>MLModel</code>
  uses the Area Under the Curve (AUC) technique to measure performance. </p> </li>
  <li> <p>RegressionRMSE: A regression <code>MLModel</code> uses the Root Mean Square
  Error (RMSE) technique to measure performance. RMSE measures the difference between
  predicted and actual values for a single variable.</p> </li> <li> <p>MulticlassAvgFScore:
  A multiclass <code>MLModel</code> uses the F1 score technique to measure performance.
  </p> </li> </ul> <p> For more information about performance metrics, please see
  the <a href=\"http://docs.aws.amazon.com/machine-learning/latest/dg\">Amazon Machine
  Learning Developer Guide</a>. </p>\";}s:9:\"StartedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:214:\"The
  epoch time when Amazon Machine Learning marked the <code>Evaluation</code> as <code>INPROGRESS</code>.
  <code>StartedAt</code> isn't available if the <code>Evaluation</code> is in the
  <code>PENDING</code> state.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EntityStatus\";s:11:\"description\";s:596:\"<p>The
  status of the evaluation. This element can have one of the following values:</p>
  <ul> <li> <code>PENDING</code> - Amazon Machine Language (Amazon ML) submitted a
  request to evaluate an <code>MLModel</code>.</li> <li> <code>INPROGRESS</code> -
  The evaluation is underway.</li> <li> <code>FAILED</code> - The request to evaluate
  an <code>MLModel</code> did not run to completion. It is not usable.</li> <li> <code>COMPLETED</code>
  - The evaluation process completed successfully.</li> <li> <code>DELETED</code>
  - The <code>Evaluation</code> is marked as deleted. It is not usable.</li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:15:\"GetMLModelInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:56:\"The
  ID assigned to the <code>MLModel</code> at creation.\";}s:7:\"Verbose\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Verbose\";s:11:\"description\";s:200:\"<p>Specifies
  whether the <code>GetMLModel</code> operation should return <code>Recipe</code>.</p>
  <p>If true, <code>Recipe</code> is returned.</p> <p>If false, <code>Recipe</code>
  is not returned.</p>\";}}s:8:\"required\";a:1:{i:0;s:9:\"MLModelId\";}s:4:\"type\";s:6:\"object\";}s:16:\"GetMLModelOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"Represents
  the output of a <code>GetMLModel</code> operation, and provides detailed information
  about a <code>MLModel</code>.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:11:\"ComputeTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LongType\";s:11:\"description\";s:271:\"The
  approximate CPU time in milliseconds that Amazon Machine Learning spent processing
  the <code>MLModel</code>, normalized and scaled on computation resources. <code>ComputeTime</code>
  is only available if the <code>MLModel</code> is in the <code>COMPLETED</code> state.\";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:88:\"The
  time that the <code>MLModel</code> was created. The time is expressed in epoch time.\";}s:16:\"CreatedByIamUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AwsUserArn\";s:11:\"description\";s:181:\"The
  AWS user account from which the <code>MLModel</code> was created. The account type
  can be either an AWS root account or an AWS Identity and Access Management (IAM)
  user account.\";}s:12:\"EndpointInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RealtimeEndpointInfo\";s:11:\"description\";s:48:\"The
  current endpoint of the <code>MLModel</code>\";}s:10:\"FinishedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:260:\"The
  epoch time when Amazon Machine Learning marked the <code>MLModel</code> as <code>COMPLETED</code>
  or <code>FAILED</code>. <code>FinishedAt</code> is only available when the <code>MLModel</code>
  is in the <code>COMPLETED</code> or <code>FAILED</code> state.\";}s:19:\"InputDataLocationS3\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Url\";s:11:\"description\";s:88:\"The
  location of the data file or directory in Amazon Simple Storage Service (Amazon
  S3).\";}s:13:\"LastUpdatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EpochTime\";s:11:\"description\";s:98:\"The
  time of the most recent edit to the <code>MLModel</code>. The time is expressed
  in epoch time.\";}s:6:\"LogUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PresignedS3Url\";s:11:\"description\";s:82:\"A
  link to the file that contains logs of the <code>CreateMLModel</code> operation.\";}s:9:\"MLModelId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:161:\"The
  MLModel ID<?oxy_insert_start author=\"annbech\" timestamp=\"20160328T151251-0700\">,<?oxy_insert_end>
  which is same as the <code>MLModelId</code> in the request.\";}s:11:\"MLModelType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MLModelType\";s:11:\"description\";s:433:\"<p>Identifies
  the <code>MLModel</code> category. The following are the available types: </p> <ul>
  <li>REGRESSION -- Produces a numeric result. For example, \"What price should a
  house be listed at?\"</li> <li>BINARY -- Produces one of two possible results. For
  example, \"Is this an e-commerce website?\"</li> <li>MULTICLASS -- Produces one
  of several possible results. For example, \"Is this a HIGH, LOW or MEDIUM risk trade?\"</li>
  </ul>\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:82:\"A
  description of the most recent details about accessing the <code>MLModel</code>.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MLModelName\";s:11:\"description\";s:64:\"A
  user-supplied name or description of the <code>MLModel</code>.\";}s:6:\"Recipe\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Recipe\";s:11:\"description\";s:337:\"<p>The
  recipe to use when training the <code>MLModel</code>. The <code>Recipe</code> provides
  detailed information about the observation data to use during training, and manipulations
  to perform on the observation data during training.</p> <note><title>Note</title>
  <p>This parameter is provided as part of the verbose format.</p></note>\";}s:6:\"Schema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DataSchema\";s:11:\"description\";s:188:\"<p>The
  schema used by all of the data files referenced by the <code>DataSource</code>.</p>
  <note><title>Note</title> <p>This parameter is provided as part of the verbose format.</p></note>\";}s:14:\"ScoreThreshold\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ScoreThreshold\";s:11:\"description\";s:498:\"<p>The
[...]
