---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Group Admin Rest
  API\";s:7:\"version\";s:5:\"0.0.1\";s:5:\"title\";s:8:\"Rest API\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:0:\"\";s:3:\"url\";s:0:\"\";s:5:\"email\";s:27:\"nicolas.despres@mphasis.com\";}}"
host: webtest.wyde.com:80
paths:
  /wynsureApi/api/documentation:
    get:
      tags:
      - DocumentationAPI
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      responses:
        200:
          description: The request has succeeded
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
      summary: '*/api/documentation'
      description: ' <br/>operationId: DocumentationAPI_GetSwaggerDocumentation'
      operationId: DocumentationAPI_GetSwaggerDocumentation
  /wynsureApi/api/wynauth:
    post:
      tags:
      - GenericWynsureAuth
      parameters:
      - name: Input
        in: body
        required: false
        schema:
          $ref: '#/definitions/tWFX_TokenInput'
        description: ""
      responses:
        200:
          description: The request has succeeded
          schema:
            $ref: '#/definitions/tWFX_TokenOutput'
        400:
          description: Fill valid error raised an error - see error details in the
            response headers
          schema:
            $ref: '#/definitions/tErrorCode'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
        500:
          description: Object Not Changed
      summary: '*/api/wynauth'
      description: '@kind payloadrn@publicrn@nocachernThis API is used to authenticate
        a user and we generate a token. This token needs to be used the header of
        protected APIs. <br/>operationId: GenericWynsureAuth_ProduceToken'
      operationId: GenericWynsureAuth_ProduceToken
  /wynsureApi/api/rest/obj/{functionalDomain}:
    get:
      tags:
      - aWFFunctionalDomainQualifier
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      - name: functionalDomain
        in: path
        required: true
        type: string
        description: ""
      responses:
        200:
          description: The request has succeeded
          schema:
            $ref: '#/definitions/aWFFunctionalDomainQualifier'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
      summary: /api/rest/obj/{functionalDomain}
      description: '@url */api/rest/obj/{functionalDomain}rn@method GET <br/>operationId:
        aWFFunctionalDomainQualifier_OverrideGetaWFFunctionalDomain'
      operationId: aWFFunctionalDomainQualifier_OverrideGetaWFFunctionalDomain
  /wynsureApi/api/rest/obj/{Object}:
    get:
      tags:
      - aWFApplicationUserWithAuthorization
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      - name: Object
        in: path
        required: true
        type: string
        description: ""
      responses:
        200:
          description: The request has succeeded
          schema:
            $ref: '#/definitions/aWFApplicationUserWithAuthorization'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
      summary: /api/rest/obj/{Object}
      description: ' <br/>operationId: aWFApplicationUserWithAuthorization_OverrideGet'
      operationId: aWFApplicationUserWithAuthorization_OverrideGet
    patch:
      tags:
      - GenericInstanceAPI
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      - name: Object
        in: path
        required: true
        type: string
        description: ""
      - name: body
        in: body
        required: false
        schema:
          type: string
      responses:
        200:
          description: The request has succeeded
        400:
          description: Fill valid error raised an error - see error details in the
            response headers
          schema:
            $ref: '#/definitions/tErrorCode'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
        500:
          description: Object Not Changed
      summary: /api/rest/obj/{Object}
      description: ' <br/>operationId: GenericInstanceAPI_PartialUpdateObject'
      operationId: GenericInstanceAPI_PartialUpdateObject
    put:
      tags:
      - GenericInstanceAPI
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      - name: Object
        in: path
        required: true
        type: string
        description: ""
      - name: body
        in: body
        required: false
        schema:
          type: string
      responses:
        200:
          description: The request has succeeded
        400:
          description: Fill valid error raised an error - see error details in the
            response headers
          schema:
            $ref: '#/definitions/tErrorCode'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
        500:
          description: Object Not Changed
      summary: /api/rest/obj/{Object}
      description: '@nocachern@method PUT <br/>operationId: GenericInstanceAPI_FullUpdateObject'
      operationId: GenericInstanceAPI_FullUpdateObject
  /wynsureApi/api/rest/obj:
    post:
      tags:
      - GenericInstanceAPI
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      - name: body
        in: body
        required: false
        schema:
          type: string
      responses:
        200:
          description: The request has succeeded
          schema:
            $ref: '#/definitions/aLightObject'
        400:
          description: Fill valid error raised an error - see error details in the
            response headers
          schema:
            $ref: '#/definitions/tErrorCode'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
        500:
          description: Object Not Changed
      summary: /api/rest/obj
      description: '@nocachern@method POST <br/>operationId: GenericInstanceAPI_CreateNewObject'
      operationId: GenericInstanceAPI_CreateNewObject
  /wynsureApi/api/rest/rate/{guid}:
    get:
      tags:
      - aWFOfferedOption
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      - name: guid
        in: path
        required: true
        type: string
        description: ""
      responses:
        200:
          description: The request has succeeded
          schema:
            $ref: '#/definitions/rateVersion'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
      summary: /api/rest/rate/{guid}
      description: ' <br/>operationId: aWFOfferedOption_GetOnlyRate'
      operationId: aWFOfferedOption_GetOnlyRate
  /wynsureApi/api/rest/search/{PickerClassDef}/definition:
    get:
      tags:
      - GenericPickerAPI
      parameters:
      - name: PickerClassDef
        in: path
        required: true
        type: string
        description: ""
      responses:
        200:
          description: The request has succeeded
          schema:
            $ref: '#/definitions/tWFX_PickerDef'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
      summary: /api/rest/search/{PickerClassDef}/definition
      description: '@method GETrn@public <br/>operationId: GenericPickerAPI_GetPickerDefinition'
      operationId: GenericPickerAPI_GetPickerDefinition
  /wynsureApi/api/rest/search/{PickerClassDef}:
    get:
      tags:
      - GenericPickerAPI
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      - name: PickerClassDef
        in: path
        required: true
        type: string
        description: ""
      responses:
        200:
          description: The request has succeeded
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
      summary: /api/rest/search/{PickerClassDef}
      description: ' <br/>operationId: GenericPickerAPI_SelectPicker'
      operationId: GenericPickerAPI_SelectPicker
  /wynsureApi/api/rest/loggedUser:
    get:
      tags:
      - aWFApplicationUserWithAuthorization
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      responses:
        200:
          description: The request has succeeded
          schema:
            $ref: '#/definitions/aWFApplicationUserWithAuthorization'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
      summary: /api/rest/loggedUser
      description: ' <br/>operationId: aWFApplicationUserWithAuthorization_GetLoggedUser'
      operationId: aWFApplicationUserWithAuthorization_GetLoggedUser
  /wynsureApi/api/rest/loggedUser/functionalDomain:
    get:
      tags:
      - aWFApplicationUserWithAuthorization
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      responses:
        200:
          description: The request has succeeded
          schema:
            $ref: '#/definitions/tSeqOfProfileFunctionalDomain'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
      summary: /api/rest/loggedUser/functionalDomain
      description: '@method GETrn <br/>operationId: aWFApplicationUserWithAuthorization_GetFunctionalDomainsFromLoggedUser'
      operationId: aWFApplicationUserWithAuthorization_GetFunctionalDomainsFromLoggedUser
  /wynsureApi/api/rest/employee/{Employee}:
    get:
      tags:
      - aSLI_Manage_Employee
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      - name: Employee
        in: path
        required: true
        type: string
        description: ""
      responses:
        200:
          description: The request has succeeded
          schema:
            $ref: '#/definitions/aSPLI_CreateOrUpdateEmployee_In'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
      summary: /api/rest/employee/{Employee}
      description: '@method GET <br/>operationId: aSLI_Manage_Employee_GetEmployee'
      operationId: aSLI_Manage_Employee_GetEmployee
  /wynsureApi/api/rest/employee:
    post:
      tags:
      - aSLI_Manage_Employee
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      - name: Employee
        in: body
        required: false
        schema:
          $ref: '#/definitions/aSPLI_CreateOrUpdateEmployee_In'
        description: ""
      responses:
        200:
          description: The request has succeeded
          schema:
            $ref: '#/definitions/aSPLI_CreateOrUpdateEmployee_In'
        400:
          description: Fill valid error raised an error - see error details in the
            response headers
          schema:
            $ref: '#/definitions/tErrorCode'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
        500:
          description: Object Not Changed
      summary: /api/rest/employee
      description: '@method POSTrn#### Summary:rnThe ''CreateOrUpdateEmployee'' operation
        creates or updates an employee at ''Input.Person.UpdateDate''.rnrn#### Business
        rules:rn*tThe operation creates the employee and the person if necessaryrn*tThe
        operation updates the person and creates the employee if it''s a new employeern*tThe
        operation updates the person and the employee if it''s an existing employeernrnrn####
        Errors:rn*tEmployee input is nilrn*tInvalid Business Identifierrn*tCannot
        find distribution networkrn*tCannot find legal entityrn*tCannot create or
        update personrn*tError when create employeern*tTwo main addresses are definedrn
        <br/>operationId: aSLI_Manage_Employee_PostEmployee'
      operationId: aSLI_Manage_Employee_PostEmployee
  /wynsureApi/api/rest/enrollment:
    post:
      tags:
      - aSLI_Manage_CensusLoading
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      - name: input
        in: body
        required: false
        schema:
          $ref: '#/definitions/aSPLI_CensusLoading_In'
        description: ""
      responses:
        200:
          description: The request has succeeded
        400:
          description: Fill valid error raised an error - see error details in the
            response headers
          schema:
            $ref: '#/definitions/tErrorCode'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
        500:
          description: Object Not Changed
      summary: /api/rest/enrollment
      description: '@method PUT <br/>operationId: aSLI_Manage_CensusLoading_PutEnrollment'
      operationId: aSLI_Manage_CensusLoading_PutEnrollment
  /wynsureApi/api/rest/organizationUnit/{UnitCode}:
    get:
      tags:
      - aWFOrganizationUnit
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      - name: UnitCode
        in: path
        required: true
        type: string
        description: ""
      responses:
        200:
          description: The request has succeeded
          schema:
            $ref: '#/definitions/aWFOrganizationUnit'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
      summary: /api/rest/organizationUnit/{UnitCode}
      description: '@method GET <br/>operationId: aWFOrganizationUnit_Get'
      operationId: aWFOrganizationUnit_Get
  /wynsureApi/api/rest/contract/{contractNumber}:
    get:
      tags:
      - aWFContract
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      - name: contractNumber
        in: path
        required: true
        type: string
        description: ""
      responses:
        200:
          description: The request has succeeded
          schema:
            $ref: '#/definitions/aWFContract'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
      summary: /api/rest/contract/{contractNumber}
      description: ' <br/>operationId: aWFContract_Get'
      operationId: aWFContract_Get
  /wynsureApi/api/rest/contract/{contractNumber}/synthesis:
    get:
      tags:
      - aWFContract
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      - name: contractNumber
        in: path
        required: true
        type: string
        description: ""
      responses:
        200:
          description: The request has succeeded
          schema:
            $ref: '#/definitions/aWFCRMContractSynthesis'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
      summary: /api/rest/contract/{contractNumber}/synthesis
      description: ' <br/>operationId: aWFContract_SynthesisFromContractNumber'
      operationId: aWFContract_SynthesisFromContractNumber
  /wynsureApi/api/rest/GBP/{GBPNumber}:
    get:
      tags:
      - aSLI_Manage_GBP
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      - name: GBPNumber
        in: path
        required: true
        type: string
        description: ""
      responses:
        200:
          description: The request has succeeded
          schema:
            $ref: '#/definitions/aSPLI_GetGBPPolicyDetails_Out'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
      summary: /api/rest/GBP/{GBPNumber}
      description: ' <br/>operationId: aSLI_Manage_GBP_GetGBPDetails'
      operationId: aSLI_Manage_GBP_GetGBPDetails
  /wynsureApi/api/rest/legalEntity/{clientId}:
    get:
      tags:
      - aSLI_Manage_Actors
      parameters:
      - name: Authorization
        in: header
        type: string
        required: false
      - name: clientId
        in: path
        required: true
        type: string
        description: ""
      responses:
        200:
          description: The request has succeeded
          schema:
            $ref: '#/definitions/aSPLI_CreateOrUpdateLegalEntity_Data'
        401:
          description: User not connected or session time out, please reauthenticate
            and resend a token
        404:
          description: You are not authorized to process this action, please contact
            your administrator
      summary: /api/rest/legalEntity/{clientId}
      description: '@method GETrn <br/>operationId: aSLI_Manage_Actors_GetLegalEntity'
      operationId: aSLI_Manage_Actors_GetLegalEntity
  /translation/{lang}/{translationId}:
    get:
      tags:
      - Translations
      summary: node
      parameters:
      - name: lang
        in: path
        description: the language; example en-US
        required: true
        type: string
      - name: translationId
        in: path
        description: 'example: test'
        required: true
        type: string
        schema:
          type: string
          example: test
      responses:
        200:
          description: default response
      description: ' n'
      operationId: DocumentationAPI_node
    post:
      tags:
      - Translations
      summary: node
      parameters:
      - name: lang
        in: path
        description: the language; example en-US
        required: true
        type: string
      - name: translationId
        in: path
        description: example test
        required: true
        type: string
      - in: body
        name: body
        description: dd
        required: true
      responses:
        200:
          description: default response
      description: ' n'
      operationId: post_DocumentationAPI_node
definitions: !php/object "O:8:\"stdClass\":162:{s:15:\"tWFX_TokenInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"login\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:11:\"application\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}s:7:\"example\";O:8:\"stdClass\":3:{s:5:\"login\";s:13:\"Super
  Manager\";s:8:\"password\";s:0:\"\";s:11:\"application\";s:18:\"WynsureSolution_US\";}}s:16:\"tWFX_TokenOutput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"access_token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:10:\"token_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:10:\"expires_in\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:7:\"example\";O:8:\"stdClass\":3:{s:12:\"access_token\";s:32:\"09b2d040f6ff0505ec65185bf8440fb8\";s:10:\"token_type\";s:6:\"bearer\";s:10:\"expires_in\";i:86600;}}s:10:\"tErrorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}}s:28:\"aWFFunctionalDomainQualifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"fonctionalDomain\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"myOwner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/_RefMyOwner0aWFDesc\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:8:\"lastUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/_RefLastUser0aWFUserSignedItem\";}s:13:\"migrationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:8:\"myImageM\";O:8:\"stdClass\":1:{s:5:\"title\";s:19:\"Pointer
  to myImageM\";}}}s:19:\"_RefMyOwner0aWFDesc\";O:8:\"stdClass\":2:{s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"isActiveSide\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:30:\"_RefLastUser0aWFUserSignedItem\";O:8:\"stdClass\":2:{s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"isActiveSide\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:15:\"aWFBusinessRoot\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"myImageM\";O:8:\"stdClass\":1:{s:5:\"title\";s:19:\"Pointer
  to myImageM\";}}}s:12:\"aLightObject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:35:\"aWFApplicationUserWithAuthorization\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:8:\"profiles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/_LisAuthorizationProfile0aWFApplicationUser\";}s:18:\"hasExtendedProfile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"extendedProfile\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/_RefExtendedProfile0aWFApplicationUser\";}s:8:\"jobLabel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:20:\"preferedLanguageCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:20;}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:8:\"forbatch\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"isDisabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"outOfOfficeFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"passwordConfirmation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:11:\"oldPassword\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:23:\"oldPasswordConfirmation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:7:\"myOwner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/_RefMyOwner0aWFDesc\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:8:\"lastUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/_RefLastUser0aWFUserSignedItem\";}s:13:\"migrationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:8:\"myImageM\";O:8:\"stdClass\":1:{s:5:\"title\";s:19:\"Pointer
  to myImageM\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}}s:43:\"_LisAuthorizationProfile0aWFApplicationUser\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"isActiveSide\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:38:\"_RefExtendedProfile0aWFApplicationUser\";O:8:\"stdClass\":2:{s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"isOwner\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"isIntegral\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"isActiveSide\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:11:\"rateVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:8:\"fromDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:7:\"applyOn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tAdditionalDataValues\";}s:5:\"rates\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/tWT_Rate\";}}}s:21:\"tAdditionalDataValues\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:13:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:26:\"aSPCB_AdditionalData_Value\";s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:5:\"title\";s:32:\"aSPCB_AdditionalDataValue_Amount\";s:4:\"type\";s:6:\"object\";}i:2;O:8:\"stdClass\":2:{s:5:\"title\";s:33:\"aSPCB_AdditionalDataValue_Boolean\";s:4:\"type\";s:6:\"object\";}i:3;O:8:\"stdClass\":2:{s:5:\"title\";s:33:\"aSPCB_AdditionalDataValue_CString\";s:4:\"type\";s:6:\"object\";}i:4;O:8:\"stdClass\":2:{s:5:\"title\";s:30:\"aSPCB_AdditionalDataValue_Date\";s:4:\"type\";s:6:\"object\";}i:5;O:8:\"stdClass\":2:{s:5:\"title\";s:35:\"aSPCB_AdditionalDataValue_Enumerate\";s:4:\"type\";s:6:\"object\";}i:6;O:8:\"stdClass\":2:{s:5:\"title\";s:31:\"aSPCB_AdditionalDataValue_Float\";s:4:\"type\";s:6:\"object\";}i:7;O:8:\"stdClass\":2:{s:5:\"title\";s:33:\"aSPCB_AdditionalDataValue_Integer\";s:4:\"type\";s:6:\"object\";}i:8;O:8:\"stdClass\":2:{s:5:\"title\";s:30:\"aSPCB_AdditionalDataValue_Text\";s:4:\"type\";s:6:\"object\";}i:9;O:8:\"stdClass\":2:{s:5:\"title\";s:30:\"aSPCB_AdditionalDataValue_Time\";s:4:\"type\";s:6:\"object\";}i:10;O:8:\"stdClass\":2:{s:5:\"title\";s:25:\"aSPCB_ClassificationValue\";s:4:\"type\";s:6:\"object\";}i:11;O:8:\"stdClass\":2:{s:5:\"title\";s:33:\"aSPCB_AdditionalDataValue_Percent\";s:4:\"type\";s:6:\"object\";}i:12;O:8:\"stdClass\":2:{s:5:\"title\";s:38:\"aSPCB_ClassificationValueWithHierarchy\";s:4:\"type\";s:6:\"object\";}}}s:8:\"tWT_Rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tWT_NameValueSequence\";}}s:26:\"aSPCB_AdditionalData_Value\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"fieldCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:9:\"fieldName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:22:\"codeForPopulationClass\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:10;}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:21:\"tWT_NameValueSequence\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tWT_NameValue\";}}s:13:\"tWT_NameValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"tWFX_PickerDef\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"columns\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/_Scolumns0tWFX_PickerDefaWFX_GenericPickerAPI\";}s:9:\"criterias\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/_Scriterias0tWFX_PickerDefaWFX_GenericPickerAPI\";}}}s:45:\"_Scolumns0tWFX_PickerDefaWFX_GenericPickerAPI\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/tWFX_PickerColumnDef\";}}s:47:\"_Scriterias0tWFX_PickerDefaWFX_GenericPickerAPI\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/tWFX_PickerCriteriaDef\";}}s:20:\"tWFX_PickerColumnDef\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}}s:22:\"tWFX_PickerCriteriaDef\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:15:\"serviceDataPath\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:4:\"kind\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}}s:29:\"tSeqOfProfileFunctionalDomain\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:17:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:28:\"aWFFunctionalDomainQualifier\";s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"aWFRight\";s:11:\"description\";s:116:\"this
  Class is the basic right class\r\n   * a action is authorised  for a user when this
  right is found in his profile\";s:4:\"type\";s:6:\"object\";}i:2;O:8:\"stdClass\":2:{s:5:\"title\";s:29:\"aWFRightWithoutAuthorizedArea\";s:4:\"type\";s:6:\"object\";}i:3;O:8:\"stdClass\":3:{s:5:\"title\";s:15:\"aWFRightForDesc\";s:11:\"description\";s:271:\"this
  class is a specialized right class for management of instances of aWFDesc\r\n\r\n
  \  * an instance of this class describes several sub rights \r\n     associated
  to default possible actions from a bag Manager\r\n      - consult\r\n      - modify\r\n
  \     - create\r\n      - delete\";s:4:\"type\";s:6:\"object\";}i:4;O:8:\"stdClass\":3:{s:5:\"title\";s:21:\"aWFRightForOpExtended\";s:11:\"description\";s:460:\"This
  Right class manages :\r\n   * an operation is authorized :\r\n      - always\r\n
  \     - when its amount is less than a specified limit\r\n\r\n   * an operation
  can ask for the logged user to enter its password on apply :\r\n      - when its
  amount is over a specified limit\r\n      - always\r\n      - never\r\n      \r\n
  \  * an operation can send a report (email to chief, log in db, ...) \r\n      -
  when its amount is over a specified limit\r\n      - always\r\n      - never\r\n\";s:4:\"type\";s:6:\"object\";}i:5;O:8:\"stdClass\":2:{s:5:\"title\";s:36:\"aWFRightWithAuthorizedClassification\";s:4:\"type\";s:6:\"object\";}i:6;O:8:\"stdClass\":2:{s:5:\"title\";s:36:\"aWFRightForDescWithoutAuthorizedArea\";s:4:\"type\";s:6:\"object\";}i:7;O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"aWFRightForOp\";s:11:\"description\";s:243:\"this
  class is a specialized right class for management of instances of aWFOp\r\n\r\n
  \  * an instance of this class describes several sub rights \r\n     associated
  to default possible actions from an operation :\r\n      - preparation\r\n      -
  apply\r\n\";s:4:\"type\";s:6:\"object\";}i:8;O:8:\"stdClass\":2:{s:5:\"title\";s:20:\"aWFRightWithDuration\";s:4:\"type\";s:6:\"object\";}i:9;O:8:\"stdClass\":2:{s:5:\"title\";s:18:\"aWFRightWithAmount\";s:4:\"type\";s:6:\"object\";}i:10;O:8:\"stdClass\":3:{s:5:\"title\";s:32:\"aWFRightForReconciliationMethods\";s:11:\"description\";s:250:\"Note
  that the absolute variable OpAuthorizedActions is an int1 so there can not be more
  than perhaps\r\n8 different \"kinds\" of authorized actions in this type, otherwise
  we will need\r\nto add another larger integer and make the absolute of that integer.\";s:4:\"type\";s:6:\"object\";}i:11;O:8:\"stdClass\":3:{s:5:\"title\";s:39:\"aWFRightToTerminateWithNonPaymentReason\";s:11:\"description\";s:146:\"This
  class is a child class of aWFRight.\r\nIt is the right used to allow or not a user
  to terminate a billing service with the non payement reason.\";s:4:\"type\";s:6:\"object\";}i:12;O:8:\"stdClass\":2:{s:5:\"title\";s:22:\"aWFRightWithPercentage\";s:4:\"type\";s:6:\"object\";}i:13;O:8:\"stdClass\":2:{s:5:\"title\";s:43:\"aWFRightForDescWithAuthorizedClassification\";s:4:\"type\";s:6:\"object\";}i:14;O:8:\"stdClass\":2:{s:5:\"title\";s:35:\"aWFRightWithAmountAndLineOfBusiness\";s:4:\"type\";s:6:\"object\";}i:15;O:8:\"stdClass\":2:{s:5:\"title\";s:33:\"aWLI_RightWithAmountOnPaymentKind\";s:4:\"type\";s:6:\"object\";}i:16;O:8:\"stdClass\":2:{s:5:\"title\";s:41:\"aWFRightForOpWithAuthorizedClassification\";s:4:\"type\";s:6:\"object\";}}}s:31:\"aSPLI_CreateOrUpdateEmployee_In\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"employeeId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/tEmployeeFullId\";}s:8:\"employee\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/aSPLI_Employee\";}s:6:\"person\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/aSPLI_CreateOrUpdatePerson_Data\";}s:13:\"legalEntityId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tClientFullId\";}}}s:15:\"tEmployeeFullId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"employeeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:80;}s:8:\"personId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tClientFullId\";}s:13:\"legalEntityId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tClientFullId\";}s:4:\"buid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}}s:14:\"aSPLI_Employee\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:13:\"effectiveDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:17:\"terminationReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:15:\"terminationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:8:\"hireDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:19:\"salaryDefinedAtDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:16:\"employmentStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/tWLIEmploymentStatus\";}s:12:\"workingHours\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:31:\"workingHoursDefinedForFrequency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/tWFFrequency\";}s:15:\"workingCategory\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tWLIWorkingCategory\";}s:16:\"baseSalaryAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"baseSalaryFrequency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tWLISalaryFrequency\";}s:22:\"salaryCommissionAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"salaryCommissionFrequency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/tWFFrequency\";}s:17:\"salaryBonusAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"salaryBonusFrequency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/tWFFrequency\";}s:13:\"canBeEnrolled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:31:\"aSPLI_CreateOrUpdatePerson_Data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"personIdentity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/aSPLI_Person\";}s:19:\"legalRepresentative\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/aSPLI_GetPerson\";}s:8:\"clientId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tClientFullId\";}s:12:\"thirdPartyID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:10:\"updateDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:15:\"correspondences\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/tSequenceOfParamCorrespondence\";}s:14:\"paymentMethods\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/tPCB_ActorBankPaymentMethods\";}s:19:\"contactInformations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tSPCB_ActorContacts\";}s:16:\"loginInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/aSPCB_CreateOrUpdateLoginForActor_Data\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:13:\"tClientFullId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"internalClientId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:80;}s:24:\"externalClientIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/tExternalClientIdentifier\";}s:4:\"buid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}}s:20:\"tWLIEmploymentStatus\";O:8:\"stdClass\":1:{s:4:\"enum\";a:5:{i:0;s:6:\"Active\";i:1;s:16:\"Leave
  of absence\";i:2;s:7:\"Retired\";i:3;s:21:\"Employment terminated\";i:4;s:9:\"Undefined\";}}s:12:\"tWFFrequency\";O:8:\"stdClass\":1:{s:4:\"enum\";a:10:{i:0;s:8:\"Annually\";i:1;s:13:\"Semi-Annually\";i:2;s:9:\"Quarterly\";i:3;s:7:\"Monthly\";i:4;s:6:\"13thly\";i:5;s:12:\"Semi-Monthly\";i:6;s:9:\"Bi-Weekly\";i:7;s:6:\"Weekly\";i:8;s:5:\"Daily\";i:9;s:9:\"Undefined\";}}s:19:\"tWLIWorkingCategory\";O:8:\"stdClass\":1:{s:4:\"enum\";a:4:{i:0;s:9:\"Full
  time\";i:1;s:9:\"Part time\";i:2;s:18:\"Part time enhanced\";i:3;s:9:\"Undefined\";}}s:19:\"tWLISalaryFrequency\";O:8:\"stdClass\":1:{s:4:\"enum\";a:11:{i:0;s:6:\"Hourly\";i:1;s:8:\"Annually\";i:2;s:13:\"Semi-Annually\";i:3;s:9:\"Quarterly\";i:4;s:7:\"Monthly\";i:5;s:6:\"13thly\";i:6;s:12:\"Semi-Monthly\";i:7;s:9:\"Bi-Weekly\";i:8;s:6:\"Weekly\";i:9;s:5:\"Daily\";i:10;s:9:\"Undefined\";}}s:12:\"aSPLI_Person\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":27:{s:15:\"personTitleEnum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:9:\"priorName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:11:\"middleName1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:31;}s:11:\"middleName2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:31;}s:10:\"nameSuffix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:10;}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/tWFGender\";}s:20:\"attachedToAnOtherSSN\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"nationality\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:9:\"birthRank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"birthCountry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:14:\"birthPlaceCity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:80;}s:17:\"birthPlaceZipCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:13;}s:15:\"birthPlaceState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:7;}s:36:\"legalRepresentativeId_Deprecated5200\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tClientFullId\";}s:10:\"occupation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:15:\"additionalDatas\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tAdditionalDataValues\";}s:9:\"birthDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:14:\"visibilityCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"delinquent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"underSurveillance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:9:\"shortName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:12:\"creationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:21:\"preferredLanguageCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:105217892;}s:15:\"terminationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:11:\"isAnonymous\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"preferredContactChoice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tWFPreferredContact\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:15:\"aSPLI_GetPerson\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"searchPerson\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tClientFullId\";}s:20:\"createOrUpdatePerson\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/aSPLI_CreateOrUpdatePerson_Data\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:30:\"tSequenceOfParamCorrespondence\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:20:\"aSPCB_Correspondence\";s:4:\"type\";s:6:\"object\";}}}s:28:\"tPCB_ActorBankPaymentMethods\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:7:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:28:\"aSPCB_ActorBankPaymentMethod\";s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:5:\"title\";s:17:\"aSPCB_BankAccount\";s:4:\"type\";s:6:\"object\";}i:2;O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"aSPCB_CreditCard\";s:4:\"type\";s:6:\"object\";}i:3;O:8:\"stdClass\":2:{s:5:\"title\";s:20:\"aSPCB_Fr_BankAccount\";s:4:\"type\";s:6:\"object\";}i:4;O:8:\"stdClass\":2:{s:5:\"title\";s:20:\"aSPCB_US_BankAccount\";s:4:\"type\";s:6:\"object\";}i:5;O:8:\"stdClass\":2:{s:5:\"title\";s:20:\"aSPCB_CA_BankAccount\";s:4:\"type\";s:6:\"object\";}i:6;O:8:\"stdClass\":2:{s:5:\"title\";s:22:\"aSPCB_IBAN_BankAccount\";s:4:\"type\";s:6:\"object\";}}}s:19:\"tSPCB_ActorContacts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:2:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:18:\"aSPCB_ActorContact\";s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:5:\"title\";s:40:\"aSPLIC_ClaimInformantBasedOnActorContact\";s:4:\"type\";s:6:\"object\";}}}s:38:\"aSPCB_CreateOrUpdateLoginForActor_Data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"logins\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/_SLogins0aSPLI_CreateOrUpdateLoginForActor_Data\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:25:\"tExternalClientIdentifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"externalClientId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:31;}s:12:\"thirdPartyID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}}s:9:\"tWFGender\";O:8:\"stdClass\":1:{s:4:\"enum\";a:3:{i:0;s:4:\"Male\";i:1;s:6:\"Female\";i:2;s:9:\"Undefined\";}}s:19:\"tWFPreferredContact\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:48:\"#DynamicalActorText#
  with Default Correspondence\";i:1;s:17:\"Selected Contact:\";}}s:20:\"aSPCB_Correspondence\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"effectiveDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:12:\"addressUsage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/aSPCB_Address\";}s:23:\"isDefaultCorrespondance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"privatePhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:21:\"privatePhoneExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:11:\"officePhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:20:\"officePhoneExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:9:\"cellPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:3:\"fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:5:\"eMail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:9:\"mediaType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:28:\"aSPCB_ActorBankPaymentMethod\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:13:\"effectiveDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:7:\"endDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:10:\"holderName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:18:\"aSPCB_ActorContact\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:20:\"correspondenceChoice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tCorrespondenceChoice\";}s:9:\"mediaType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:15:\"isDeaultContact\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:11:\"contactName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:9:\"beginDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:7:\"endDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:14:\"correspondence\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/aSPCB_Correspondence\";}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/tWFSetOfClientRole\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:47:\"_SLogins0aSPLI_CreateOrUpdateLoginForActor_Data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:30:\"aSPCB_CreateOrUpdateLogin_Data\";s:4:\"type\";s:6:\"object\";}}}s:13:\"aSPCB_Address\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"line1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:5:\"line2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:14:\"zipCodeAndCity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/tWFZipCodeAndCity\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:21:\"tCorrespondenceChoice\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:10:\"Predefined\";i:1;s:9:\"Redefined\";}}s:18:\"tWFSetOfClientRole\";O:8:\"stdClass\":0:{}s:30:\"aSPCB_CreateOrUpdateLogin_Data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"applicationLogin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/aSPCB_GetApplicationLoginInfo\";}s:8:\"profiles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/_SProfiles0aSPLI_CreateOrUpdateLogin_Data\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:17:\"tWFZipCodeAndCity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"zipCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:13;}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:80;}}}s:29:\"aSPCB_GetApplicationLoginInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"paramEntity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/aSPCB_ApplicationLogin\";}s:4:\"buid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:41:\"_SProfiles0aSPLI_CreateOrUpdateLogin_Data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":3:{s:5:\"title\";s:32:\"aSPF_GetAuthorizationProfileInfo\";s:11:\"description\";s:6:\"[Code]\";s:4:\"type\";s:6:\"object\";}}}s:22:\"aSPCB_ApplicationLogin\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:64199876;}s:18:\"hasExtendedProfile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"jobLabel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:20:\"preferedLanguageCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:105217892;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:8:\"forbatch\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"isDisabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:32:\"aSPF_GetAuthorizationProfileInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"paramEntity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/aSPF_AuthorizationProfile\";}s:4:\"buid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:25:\"aSPF_AuthorizationProfile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:20;}s:10:\"isDisabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"isForExternalActor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:22:\"aSPLI_CensusLoading_In\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"employee\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/aSPLI_CreateOrUpdateEmployee_In\";}s:10:\"enrollment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/aSPLI_CreateOrUpdateEnrollment_In\";}}}s:33:\"aSPLI_CreateOrUpdateEnrollment_In\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"enrollmentNumber\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tPolicyFullId\";}s:21:\"enrollmentInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/aSPLI_MemberContract\";}s:10:\"updateDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:9:\"coverages\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/_SOptions0aSPLI_Enrollment_In\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:13:\"tPolicyFullId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:24:\"internalPolicyIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/tInternalPolicyIdentifier\";}s:24:\"externalPolicyIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/tExternalPolicyIdentifier\";}s:4:\"buid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}}s:20:\"aSPLI_MemberContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:9:\"gBPNumber\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tPolicyFullId\";}s:18:\"externalManagement\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:23:\"claimExternalManagement\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"residenceStateCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tSLI_StateWithLabel\";}s:15:\"additionalDatas\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tAdditionalDataValues\";}s:12:\"creationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:13:\"effectiveDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:16:\"subscriptionDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:13:\"signatureDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:17:\"termOrRenewalDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:15:\"lastRenewalDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:17:\"reinstatementDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:15:\"terminationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:17:\"terminationReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:17:\"terminationNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"billingMode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/tWFConcernPeriod\";}s:15:\"endorsementKind\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/tWFSubscribedEntityStatus\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:29:\"_SOptions0aSPLI_Enrollment_In\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":3:{s:5:\"title\";s:45:\"aSPLI_CreateOrUpdateIndividualLifeCoverage_In\";s:11:\"description\";s:71:\"All
  information needed for create or update an individual life coverage\";s:4:\"type\";s:6:\"object\";}}}s:25:\"tInternalPolicyIdentifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"internalPolicyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:18:\"issuingCompanyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:31;}}}s:25:\"tExternalPolicyIdentifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"externalPolicyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:12:\"thirdPartyID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:10;}}}s:19:\"tSLI_StateWithLabel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"stateLabel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:9:\"stateName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:9:\"stateCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}}}s:16:\"tWFConcernPeriod\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:15:\"Achieved
  Period\";i:1;s:11:\"Next Period\";}}s:25:\"tWFSubscribedEntityStatus\";O:8:\"stdClass\":1:{s:4:\"enum\";a:8:{i:0;s:7:\"Pending\";i:1;s:6:\"Active\";i:2;s:4:\"Hold\";i:3;s:18:\"Hold
  after Renewal\";i:4;s:10:\"Terminated\";i:5;s:14:\"Never in force\";i:6;s:5:\"Quote\";i:7;s:8:\"Declined\";}}s:45:\"aSPLI_CreateOrUpdateIndividualLifeCoverage_In\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:26:\"coverageGeneralInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/aSPLI_IndividualLifeCoverage\";}s:14:\"insuredPersons\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/_SInsuredPersons0aSPLI_EnrollmentOption_In\";}s:13:\"beneficiaries\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/tSPLI_BeneficiariesDescriptionForCovered_Values\";}s:14:\"coverageAmount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/aSPLI_CoverageAmountVersion\";}s:17:\"underwrittingData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:77:\"#/definitions/_SUnderwrittingData0aSPLI_CreateOrUpdateIndividualLifeCoverage_\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:28:\"aSPLI_IndividualLifeCoverage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"grandFathered\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"additionalDatas\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tAdditionalDataValues\";}s:12:\"creationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:11:\"packageName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:10:\"optionCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:20;}s:10:\"optionName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:13:\"effectiveDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:16:\"subscriptionDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:15:\"terminationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:17:\"terminationReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:17:\"terminationNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"billingServiceName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/tWFSubscribedEntityStatus\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:42:\"_SInsuredPersons0aSPLI_EnrollmentOption_In\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":3:{s:5:\"title\";s:36:\"aSPLI_CreateOrUpdateCoveredPerson_In\";s:11:\"description\";s:54:\"All
  informations needed for an Covered person creation\";s:4:\"type\";s:6:\"object\";}}}s:47:\"tSPLI_BeneficiariesDescriptionForCovered_Values\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:40:\"aSPLI_BeneficiariesDescriptionForCovered\";s:4:\"type\";s:6:\"object\";}}}s:27:\"aSPLI_CoverageAmountVersion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"effectiveDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:63:\"_SUnderwrittingData0aSPLI_CreateOrUpdateIndividualLifeCoverage_\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":3:{s:5:\"title\";s:40:\"aSPLI_CreateOrUpdateUnderwrittingData_In\";s:11:\"description\";s:59:\"All
  information neefed to create or update an underwritting\";s:4:\"type\";s:6:\"object\";}}}s:36:\"aSPLI_CreateOrUpdateCoveredPerson_In\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"coveredPerson\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/aSPLI_GetPerson\";}s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/aSPLI_CoveredPerson\";}s:16:\"relationToOwners\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/tSPLI_RelationToOwners\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:40:\"aSPLI_BeneficiariesDescriptionForCovered\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"covered\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/aSPLI_InsuredWithRelation\";}s:18:\"beneficiaries_Data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/aSPLI_Beneficiaries\";}s:24:\"beneficiariesDescription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/tSPLI_BeneficiariesDescriptions\";}s:18:\"specificProvisions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/aSPLI_Provision\";}s:30:\"secondTierBeneficiaryProvision\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/tSPLI_BeneficiariesDescriptionSecondTier_Value\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:40:\"aSPLI_CreateOrUpdateUnderwrittingData_In\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"applyToRiskId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:80;}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/tWF_UnderwritingStatus\";}s:10:\"exclusions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/_SExclusions0aSPLI_CreateOrUpdateUnderwrittingData_In\";}s:16:\"premiumIncreases\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/_SPremiumIncreases0aSPLI_CreateOrUpdateUnderwrittingData_In\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:19:\"aSPLI_CoveredPerson\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:23:\"relationship_Deprecated\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/tWLICoveredDependant\";}s:7:\"endDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:13:\"effectiveDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:15:\"additionalDatas\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tAdditionalDataValues\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:22:\"tSPLI_RelationToOwners\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:21:\"aSPLI_RelationToOwner\";s:4:\"type\";s:6:\"object\";}}}s:25:\"aSPLI_InsuredWithRelation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:25:\"dependence_Deprecated5200\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/tWLICoveredDependant\";}s:30:\"mainOwnerRelationshipToInsured\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:8:\"clientId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tClientFullId\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:9:\"birthDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:3:\"sSN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:19:\"aSPLI_Beneficiaries\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"beneficiariesType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/tWLIBeneficiariesDescriptionType\";}s:32:\"overriddenBeneficiariesProvision\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"collateralAssignment\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"wholeDebt\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"assignedDebt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"fractionsOrPercentage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/tUseFractionsOrPercentage\";}s:7:\"basedOn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/tSLI_BasedOnIdentifier\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:31:\"tSPLI_BeneficiariesDescriptions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:28:\"aSPLI_BeneficiaryDescription\";s:4:\"type\";s:6:\"object\";}}}s:15:\"aSPLI_Provision\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"provisionType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/tWLIClauseDocumentType\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:20;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:46:\"tSPLI_BeneficiariesDescriptionSecondTier_Value\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:40:\"aSPLI_BeneficiariesDescriptionSecondTier\";s:4:\"type\";s:6:\"object\";}}}s:22:\"tWF_UnderwritingStatus\";O:8:\"stdClass\":1:{s:4:\"enum\";a:4:{i:0;s:7:\"Pending\";i:1;s:8:\"Declined\";i:2;s:8:\"Accepted\";i:3;s:9:\"Postponed\";}}s:53:\"_SExclusions0aSPLI_CreateOrUpdateUnderwrittingData_In\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":3:{s:5:\"title\";s:32:\"aSPLI_CreateOrUpdateExclusion_In\";s:11:\"description\";s:48:\"All
  information to create or update an exclusion\";s:4:\"type\";s:6:\"object\";}}}s:59:\"_SPremiumIncreases0aSPLI_CreateOrUpdateUnderwrittingData_In\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:21:\"aSPLI_PremiumIncrease\";s:4:\"type\";s:6:\"object\";}}}s:20:\"tWLICoveredDependant\";O:8:\"stdClass\":1:{s:4:\"enum\";a:5:{i:0;s:5:\"Owner\";i:1;s:6:\"Spouse\";i:2;s:5:\"Child\";i:3;s:9:\"Dependant\";i:4;s:5:\"Other\";}}s:21:\"aSPLI_RelationToOwner\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"policyOwner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tClientFullId\";}s:8:\"relation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:32:\"tWLIBeneficiariesDescriptionType\";O:8:\"stdClass\":1:{s:4:\"enum\";a:5:{i:0;s:41:\"One
  From Predefined Beneficiary Provision\";i:1;s:14:\"Will or Estate\";i:2;s:24:\"Identified
  Beneficiaries\";i:3;s:19:\"Customize Provision\";i:4;s:16:\"Same as Coverage\";}}s:25:\"tUseFractionsOrPercentage\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:15:\"Use
  Percentages\";i:1;s:13:\"Use Fractions\";}}s:22:\"tSLI_BasedOnIdentifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:12:\"coverageName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}}s:28:\"aSPLI_BeneficiaryDescription\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"client\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tClientFullId\";}s:15:\"beneficiaryData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/aSPLI_Beneficiary\";}s:23:\"contingentBeneficiaries\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/tSPLI_BeneficiariesDescriptions\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:22:\"tWLIClauseDocumentType\";O:8:\"stdClass\":1:{s:4:\"enum\";a:3:{i:0;s:17:\"General
  provision\";i:1;s:21:\"Beneficiary provision\";i:2;s:9:\"Condition\";}}s:40:\"aSPLI_BeneficiariesDescriptionSecondTier\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"beneficiaries_Data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/aSPLI_Beneficiaries\";}s:24:\"beneficiariesDescription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/tSPLI_BeneficiariesDescriptions\";}s:18:\"specificProvisions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/aSPLI_Provision\";}s:30:\"secondTierBeneficiaryProvision\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/tSPLI_BeneficiariesDescriptionSecondTier_Value\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:32:\"aSPLI_CreateOrUpdateExclusion_In\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"exclusionInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/aSPLI_Exclusion\";}s:13:\"priceToRemove\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/aSPLI_PremiumIncrease\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:21:\"aSPLI_PremiumIncrease\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"kind\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:10:\"percentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"effectiveFrom\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/tEffectiveFrom\";}s:18:\"fixedEffectiveDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:13:\"isTimeLimeted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/tWFDuration\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:17:\"aSPLI_Beneficiary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"irrevocable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"percentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"fraction\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/tWFFraction\";}s:14:\"debtAssignment\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"wholeDebt\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"assignedDebt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"beneficiaryRank\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tWLIBeneficiaryRank\";}s:16:\"contingentNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/aSPCB_Address\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:15:\"aSPLI_Exclusion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:14:\"tEffectiveFrom\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:20:\"Fixed
  Effective Date\";i:1;s:21:\"Policy Effective Date\";}}s:11:\"tWFDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"unit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/tWFDurationUnit\";}}}s:11:\"tWFFraction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"numerator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"denominator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:19:\"tWLIBeneficiaryRank\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:7:\"Primary\";i:1;s:10:\"Contingent\";}}s:15:\"tWFDurationUnit\";O:8:\"stdClass\":1:{s:4:\"enum\";a:6:{i:0;s:3:\"Day\";i:1;s:9:\"Half
  year\";i:2;s:7:\"Quarter\";i:3;s:5:\"Month\";i:4;s:4:\"Year\";i:5;s:4:\"Week\";}}s:19:\"aWFOrganizationUnit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":28:{s:9:\"positions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/_LisJobs0aWFOrganisation\";}s:5:\"actor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/_RefLegalStructure0aWFOrganization\";}s:17:\"directDescendants\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/_LisDirectDescendants0aWFOrganizationUnit\";}s:14:\"isADistributor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"isADistributionNetwork\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"distributionRules\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/_LisDistributionRules0aWFOrganizationUnit\";}s:8:\"unitCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:10;}s:8:\"contacts\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/_LisContacts0aWFOrganizationUnit\";}s:15:\"externalOrgUnit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"customerContact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/_RefCustomerContact0aWFOrganizationUnit\";}s:12:\"mainActivity\";O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"MainActivity\";s:4:\"enum\";a:2:{i:0;s:11:\"Back
  Office\";i:1;s:12:\"Front Office\";}}s:18:\"backOfficeActivity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:29:\"backOfficeActivityDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"externalBackOffice\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"distributionMode\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"DistributionMode\";s:4:\"enum\";a:3:{i:0;s:17:\"Specific
  Products\";i:1;s:24:\"Like Parent Organisation\";i:2;s:12:\"All Products\";}}s:22:\"parentOrganizationUnit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/_RefRootOrganizationUnit0aWFOrganizationUnit\";}s:19:\"isModifiedFromActor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"directAncestors\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/_LisAncestors0aWFHierarchy\";}s:5:\"level\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"beginDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:7:\"endDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:12:\"creationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:12:\"creationTime\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:7:\"myOwner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/_RefMyOwner0aWFDesc\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:8:\"lastUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/_RefLastUser0aWFUserSignedItem\";}s:13:\"migrationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:8:\"myImageM\";O:8:\"stdClass\":1:{s:5:\"title\";s:19:\"Pointer
  to myImageM\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}}s:24:\"_LisJobs0aWFOrganisation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"isOwner\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"isIntegral\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"isActiveSide\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:34:\"_RefLegalStructure0aWFOrganization\";O:8:\"stdClass\":2:{s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"isActiveSide\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:41:\"_LisDirectDescendants0aWFOrganizationUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"isActiveSide\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:41:\"_LisDistributionRules0aWFOrganizationUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"isOwner\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"isIntegral\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"isActiveSide\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:32:\"_LisContacts0aWFOrganizationUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"isOwner\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"isIntegral\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"isActiveSide\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:39:\"_RefCustomerContact0aWFOrganizationUnit\";O:8:\"stdClass\":2:{s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"isActiveSide\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:44:\"_RefRootOrganizationUnit0aWFOrganizationUnit\";O:8:\"stdClass\":2:{s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"isActiveSide\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:26:\"_LisAncestors0aWFHierarchy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"isActiveSide\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:11:\"aWFContract\";O:8:\"stdClass\":0:{}s:23:\"aWFCRMContractSynthesis\";O:8:\"stdClass\":0:{}s:29:\"aSPLI_GetGBPPolicyDetails_Out\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":32:{s:12:\"contractName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:15:\"ownerSitusState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:15:\"employeesNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"membersNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"profiles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/aSPLI_GetMemberProfiles_Out\";}s:10:\"affiliates\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/tSLI_AffiliatesOut\";}s:9:\"coverages\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/tSLIGBPCoverages\";}s:6:\"broker\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:16:\"hasBlockingNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"termOrRenewalDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:15:\"additionalDatas\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tAdditionalDataValues\";}s:9:\"stateCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tSLI_StateWithLabel\";}s:7:\"changes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/tEntityChanges\";}s:13:\"illustrations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/tSCB_EntityIllustrations\";}s:26:\"illustrationCanBeDisplayed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"subscribers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/_SSubscribers0aSPLI_GetPolicyDetails_Out\";}s:19:\"primaryPolicyOwners\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/_SPrimaryPolicyOwners0aSPLI_GetPolicyDetails_Out\";}s:8:\"contacts\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tSCB_ContractContacts\";}s:23:\"preferredPolicyContacts\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/tSPCB_CreateContactInfos\";}s:8:\"contract\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tPolicyFullId\";}s:13:\"effectiveDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:13:\"signatureDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:15:\"terminationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:17:\"terminationReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:17:\"reinstatementDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:6:\"status\";O:8:\"stdClass\":2:{s:5:\"title\";s:6:\"Status\";s:4:\"enum\";a:8:{i:0;s:7:\"Pending\";i:1;s:6:\"Active\";i:2;s:4:\"Hold\";i:3;s:18:\"Hold
  after Renewal\";i:4;s:10:\"Terminated\";i:5;s:14:\"Never in force\";i:6;s:5:\"Quote\";i:7;s:8:\"Declined\";}}s:19:\"complementaryStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:11:\"productName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:14:\"issuingCompany\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:16:\"distributionUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:13:\"ownerLastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:14:\"ownerFirstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}}s:27:\"aSPLI_GetMemberProfiles_Out\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"profiles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tSLI_MemberProfiles\";}s:4:\"buid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:18:\"tSLI_AffiliatesOut\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:26:\"aSPLI_GetAffiliateInfo_Out\";s:4:\"type\";s:6:\"object\";}}}s:16:\"tSLIGBPCoverages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:24:\"aSPLI_GetGBPCoverage_Out\";s:4:\"type\";s:6:\"object\";}}}s:14:\"tEntityChanges\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tEntityChange\";}}s:24:\"tSCB_EntityIllustrations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:29:\"aSPCB_EntityIllustrations_Out\";s:4:\"type\";s:6:\"object\";}}}s:40:\"_SSubscribers0aSPLI_GetPolicyDetails_Out\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}s:48:\"_SPrimaryPolicyOwners0aSPLI_GetPolicyDetails_Out\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}s:21:\"tSCB_ContractContacts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:18:\"aSPCB_Contact_Data\";s:4:\"type\";s:6:\"object\";}}}s:24:\"tSPCB_CreateContactInfos\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:23:\"aSPCB_CreateContactInfo\";s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:5:\"title\";s:37:\"aSPCB_CreateContactInfoBasedOnContact\";s:4:\"type\";s:6:\"object\";}i:2;O:8:\"stdClass\":2:{s:5:\"title\";s:44:\"aSPCB_CreateContactInfoBasedOnCorrespondence\";s:4:\"type\";s:6:\"object\";}}}s:19:\"tSLI_MemberProfiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:2:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:19:\"aSPLI_MemberProfile\";s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:5:\"title\";s:22:\"aSPLI_Fr_MemberProfile\";s:4:\"type\";s:6:\"object\";}}}s:26:\"aSPLI_GetAffiliateInfo_Out\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"paramEntity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/aSPLI_LegalEntity\";}s:23:\"distributionNetworkCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:8:\"clientID\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tClientFullId\";}s:4:\"buid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:24:\"aSPLI_GetGBPCoverage_Out\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:10:\"paidToDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:10:\"paidStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:21:\"contestabilityEndDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:21:\"isEstimatedPaidToDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"paramEntity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/aSPCB_SubscribedOption\";}s:15:\"additionalDatas\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tAdditionalDataValues\";}s:14:\"lineOfBusiness\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:7:\"premium\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tWFAmountWithCurrency\";}s:9:\"premiumHt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tWFAmountWithCurrency\";}s:9:\"frequency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/tWFBillFrequency\";}s:18:\"underwritingNeeded\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"changes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/tEntityChanges\";}s:4:\"buid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:13:\"tEntityChange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}}}s:29:\"aSPCB_EntityIllustrations_Out\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"entityName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:16:\"entityIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/tTechnicalIdentifier\";}s:13:\"illustrations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/tIllustrations\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:18:\"aSPCB_Contact_Data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"contactInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/aSPCB_Contact\";}s:22:\"contactActorIdentifier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tClientFullId\";}s:12:\"contactActor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/aSPCB_Person\";}s:24:\"availableCorrespondences\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/tSequenceOfParamCorrespondence\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:23:\"aSPCB_CreateContactInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"beginDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:7:\"endDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:25:\"policyOwnerRankOnContract\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:19:\"aSPLI_MemberProfile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:11:\"offeredCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:11:\"offeredName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:12:\"memberNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"volumeUsed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"volume\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tWFAmountWithCurrency\";}s:19:\"wholeProfileBilling\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"earningUsed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"earning\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tWFAmountWithCurrency\";}s:16:\"earningFrequency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/tWFFrequency\";}s:3:\"age\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/tWFGender\";}s:14:\"yearsOfService\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"workingHours\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:31:\"workingHoursDefinedForFrequency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/tWFFrequency\";}s:14:\"additionalData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tAdditionalDataValues\";}s:21:\"enrollmentDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:17:\"aSPLI_LegalEntity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:17:\"masterLegalEntity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/tClientFullId\";}s:8:\"activity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:11:\"inBankrupcy\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:7;}s:24:\"industrialClassification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/tWLI_IndustrialClassification\";}s:15:\"additionalDatas\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tAdditionalDataValues\";}s:14:\"visibilityCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"delinquent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"underSurveillance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:9:\"shortName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:12:\"creationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:21:\"preferredLanguageCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:105217892;}s:15:\"terminationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:11:\"isAnonymous\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"preferredContactChoice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tWFPreferredContact\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:22:\"aSPCB_SubscribedOption\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:12:\"creationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:11:\"packageName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:10:\"optionCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:20;}s:10:\"optionName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:13:\"effectiveDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:16:\"subscriptionDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:15:\"terminationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:17:\"terminationReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:3;}s:17:\"terminationNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"billingServiceName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/tWFSubscribedEntityStatus\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:21:\"tWFAmountWithCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/tWFCurrency\";}}}s:16:\"tWFBillFrequency\";O:8:\"stdClass\":1:{s:4:\"enum\";a:17:{i:0;s:11:\"Single
  bill\";i:1;s:8:\"One shot\";i:2;s:7:\"Tenthly\";i:3;s:7:\"Ninthly\";i:4;s:6:\"Manual\";i:5;s:9:\"Weekly
  48\";i:6;s:12:\"Bi-Weekly 24\";i:7;s:8:\"Annually\";i:8;s:13:\"Semi-Annually\";i:9;s:9:\"Quarterly\";i:10;s:7:\"Monthly\";i:11;s:6:\"13thly\";i:12;s:12:\"Semi-Monthly\";i:13;s:9:\"Bi-Weekly\";i:14;s:6:\"Weekly\";i:15;s:5:\"Daily\";i:16;s:9:\"Undefined\";}}s:20:\"tTechnicalIdentifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"buid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}}s:14:\"tIllustrations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:23:\"aSPCB_Illustration_Data\";s:4:\"type\";s:6:\"object\";}}}s:13:\"aSPCB_Contact\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:11:\"contactName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:9:\"beginDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:7:\"endDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:14:\"correspondence\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/aSPCB_Correspondence\";}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/tWFSetOfClientRole\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:12:\"aSPCB_Person\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"birthDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:14:\"visibilityCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"delinquent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"underSurveillance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:9:\"shortName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:12:\"creationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:21:\"preferredLanguageCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:105217892;}s:15:\"terminationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:11:\"isAnonymous\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"preferredContactChoice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tWFPreferredContact\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:29:\"tWLI_IndustrialClassification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"classificationSystem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:16;}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:8;}}}s:11:\"tWFCurrency\";O:8:\"stdClass\":1:{s:4:\"enum\";a:168:{i:0;s:3:\"ATS\";i:1;s:3:\"AUD\";i:2;s:3:\"BEF\";i:3;s:3:\"CAD\";i:4;s:3:\"CHF\";i:5;s:3:\"CNY\";i:6;s:3:\"DEM\";i:7;s:3:\"ESP\";i:8;s:3:\"EUR\";i:9;s:3:\"FRF\";i:10;s:3:\"GBP\";i:11;s:3:\"GRD\";i:12;s:3:\"HKD\";i:13;s:3:\"IEP\";i:14;s:3:\"INR\";i:15;s:3:\"ITL\";i:16;s:3:\"JPY\";i:17;s:3:\"LUF\";i:18;s:3:\"PTE\";i:19;s:3:\"SEK\";i:20;s:3:\"SGD\";i:21;s:3:\"TWD\";i:22;s:3:\"USD\";i:23;s:3:\"ZAL\";i:24;s:3:\"NLG\";i:25;s:3:\"FIM\";i:26;s:3:\"AFA\";i:27;s:3:\"ALL\";i:28;s:3:\"DZD\";i:29;s:3:\"ADF\";i:30;s:3:\"ADP\";i:31;s:3:\"ARS\";i:32;s:3:\"AWG\";i:33;s:3:\"BSD\";i:34;s:3:\"BHD\";i:35;s:3:\"BDT\";i:36;s:3:\"BBD\";i:37;s:3:\"BZD\";i:38;s:3:\"BMD\";i:39;s:3:\"BTN\";i:40;s:3:\"BOB\";i:41;s:3:\"BWP\";i:42;s:3:\"BRL\";i:43;s:3:\"XXX\";i:44;s:3:\"BND\";i:45;s:3:\"BIF\";i:46;s:3:\"XOF\";i:47;s:3:\"XAF\";i:48;s:3:\"KHR\";i:49;s:3:\"CVE\";i:50;s:3:\"KYD\";i:51;s:3:\"CLP\";i:52;s:3:\"COP\";i:53;s:3:\"KMF\";i:54;s:3:\"CRC\";i:55;s:3:\"HRK\";i:56;s:3:\"CUP\";i:57;s:3:\"CYP\";i:58;s:3:\"CZK\";i:59;s:3:\"DKK\";i:60;s:3:\"DJF\";i:61;s:3:\"DOP\";i:62;s:3:\"XCD\";i:63;s:3:\"ECS\";i:64;s:3:\"EGP\";i:65;s:3:\"SVC\";i:66;s:3:\"EEK\";i:67;s:3:\"ETB\";i:68;s:3:\"FKP\";i:69;s:3:\"FJD\";i:70;s:3:\"GMD\";i:71;s:3:\"GHC\";i:72;s:3:\"GIP\";i:73;s:3:\"XAU\";i:74;s:3:\"GTQ\";i:75;s:3:\"GNF\";i:76;s:3:\"GYD\";i:77;s:3:\"HTG\";i:78;s:3:\"HNL\";i:79;s:3:\"HUF\";i:80;s:3:\"ISK\";i:81;s:3:\"IDR\";i:82;s:3:\"IQD\";i:83;s:3:\"ILS\";i:84;s:3:\"JMD\";i:85;s:3:\"JOD\";i:86;s:3:\"KZT\";i:87;s:3:\"KES\";i:88;s:3:\"KRW\";i:89;s:3:\"KWD\";i:90;s:3:\"LAK\";i:91;s:3:\"LVL\";i:92;s:3:\"LBP\";i:93;s:3:\"LSL\";i:94;s:3:\"LRD\";i:95;s:3:\"LYD\";i:96;s:3:\"LTL\";i:97;s:3:\"MOP\";i:98;s:3:\"MKD\";i:99;s:3:\"MGF\";i:100;s:3:\"MWK\";i:101;s:3:\"MYR\";i:102;s:3:\"MVR\";i:103;s:3:\"MTL\";i:104;s:3:\"MRO\";i:105;s:3:\"MUR\";i:106;s:3:\"MXN\";i:107;s:3:\"MDL\";i:108;s:3:\"MNT\";i:109;s:3:\"MAD\";i:110;s:3:\"MZM\";i:111;s:3:\"MMK\";i:112;s:3:\"NAD\";i:113;s:3:\"NPR\";i:114;s:3:\"ANG\";i:115;s:3:\"NZD\";i:116;s:3:\"NIO\";i:117;s:3:\"NGN\";i:118;s:3:\"KPW\";i:119;s:3:\"NOK\";i:120;s:3:\"OMR\";i:121;s:3:\"XPF\";i:122;s:3:\"PKR\";i:123;s:3:\"XPD\";i:124;s:3:\"PAB\";i:125;s:3:\"PGK\";i:126;s:3:\"PYG\";i:127;s:3:\"PEN\";i:128;s:3:\"PHP\";i:129;s:3:\"XPT\";i:130;s:3:\"PLN\";i:131;s:3:\"QAR\";i:132;s:3:\"ROL\";i:133;s:3:\"RUB\";i:134;s:3:\"WST\";i:135;s:3:\"STD\";i:136;s:3:\"SAR\";i:137;s:3:\"SCR\";i:138;s:3:\"SLL\";i:139;s:3:\"XAG\";i:140;s:3:\"SKK\";i:141;s:3:\"SIT\";i:142;s:3:\"SBD\";i:143;s:3:\"SOS\";i:144;s:3:\"ZAR\";i:145;s:3:\"LKR\";i:146;s:3:\"SHP\";i:147;s:3:\"SDD\";i:148;s:3:\"SRG\";i:149;s:3:\"SZL\";i:150;s:3:\"SYP\";i:151;s:3:\"TZS\";i:152;s:3:\"THB\";i:153;s:3:\"TOP\";i:154;s:3:\"TTD\";i:155;s:3:\"TND\";i:156;s:3:\"TRL\";i:157;s:3:\"AED\";i:158;s:3:\"UGX\";i:159;s:3:\"UAH\";i:160;s:3:\"UYU\";i:161;s:3:\"VUV\";i:162;s:3:\"VEB\";i:163;s:3:\"VND\";i:164;s:3:\"YER\";i:165;s:3:\"YUM\";i:166;s:3:\"ZMK\";i:167;s:3:\"ZWD\";}}s:23:\"aSPCB_Illustration_Data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:16:\"illustrationData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/aSPCB_Illustration\";}s:5:\"lines\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/tIllustrationLines\";}s:10:\"parameters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/tIllustrationParameters\";}s:15:\"displayForQuote\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"displayForSubscription\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"displayForEndorsement\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"endorsementBuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:4:\"buid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:18:\"aSPCB_Illustration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:63;}s:12:\"creationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:13:\"effectiveDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/tIllustrationKind\";}s:8:\"fromKind\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/tIllustrationFromKind\";}s:7:\"isBasic\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"computationDates\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/tWFDateSeq\";}s:21:\"useAgeforIllustration\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"ageForIllustration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tSimulationDuration\";}s:20:\"yearsForIllustration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/tSimulationDuration\";}}s:4:\"type\";a:2:{i:0;s:6:\"object\";i:1;s:4:\"null\";}}s:18:\"tIllustrationLines\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:26:\"aSPCB_IllustrationLine_Out\";s:4:\"type\";s:6:\"object\";}}}s:23:\"tIllustrationParameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";a:2:{i:0;O:8:\"stdClass\":2:{s:5:\"title\";s:31:\"aSPCB_IllustrationParameter_Out\";s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:5:\"title\";s:42:\"aSPCV_LoanBenefitIllustrationParameter_Out\";s:4:\"type\";s:6:\"object\";}}}s:17:\"tIllustrationKind\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:6:\"Normal\";i:1;s:5:\"Final\";}}s:21:\"tIllustrationFromKind\";O:8:\"stdClass\":1:{s:4:\"enum\";a:5:{i:0;s:6:\"Manual\";i:1;s:5:\"Quote\";i:2;s:12:\"Subscription\";i:3;s:11:\"Endorsement\";i:4;s:5:\"Other\";}}s:10:\"tWFDateSeq\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}}s:19:\"tSimulationDuration\";O:8:\"stdClass\":0:{}s:26:\"aSPCB_IllustrationLine_Out\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"computationDate\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:16:\"illu
[...]
