---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:3:\"3.0\";s:5:\"title\";s:17:\"Content
  Model API\";s:11:\"description\";s:263:\"The Content Model API deals with all the
  operations related to the Content in EkStep Platform, including the basic CRUD (Create,
  Update, Read and Delete) operations and also the high level operations as well such
  as upload, publish the Content in EkStep Platform.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"EkStep
  License\";s:3:\"url\";s:18:\"http:www.ekstep.in\";}}"
host: api.ekstep.in
basePath: /content/v3
paths:
  /create:
    post:
      tags:
      - Core
      summary: Creates a Content
      description: The _content_ endpoint is used to create the content into the _EkStep
        Platform_ with the metadata provided as part of request body, there are certain
        fields marked as mandatory for which the value has to be given in order to
        create the content into the platfrom, The _content_ endpoint returns the node
        id as _node_id_ i.e. the identifier of created content.
      operationId: ekstep.learning.content.create
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentRequestObject'
      responses:
        200:
          description: Content Created Successfully
          schema:
            $ref: '#/definitions/ContentCreateResponse'
        400:
          description: Error While Content Creation! | Error occurred while operation,
            mostly because of the input given by client, In general it is 'Client
            Exception'.
          schema:
            $ref: '#/definitions/ContentCreateErrorResponse'
        500:
          description: Error While Content Creation! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is 'Server
            Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentCreateErrorResponse'
      security: []
  /update/{contentId}:
    patch:
      tags:
      - Core
      summary: Updates the Content
      description: The _content/{contentId}_ endpoint with 'PATCH' method is used
        to update the content into the _EkStep Platform_ with the metadata provided
        as part of request body, there are certain fields marked as mandatory for
        which the value has to be given in order to have the content into the platfrom
        i.e. the mandatory fields cannot be null or empty, The _content/{contentId}_
        endpoint returns the node id as _node_id_ i.e. the identifier of updated content.
      operationId: ekstep.learning.content.update
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentId'
      - $ref: '#/parameters/ContentRequestObject'
      responses:
        200:
          description: Content Updated Successfully
          schema:
            $ref: '#/definitions/ContentUpdateResponse'
        400:
          description: Error While Content Update! | Error occurred while operation,
            mostly because of the input given by client, In general it is 'Client
            Exception'.
          schema:
            $ref: '#/definitions/ContentUpdateErrorResponse'
        404:
          description: Content Id does not exist.
          schema:
            $ref: '#/definitions/ContentUpdateErrorResponse'
        500:
          description: Error While Content Update! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is 'Server
            Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentUpdateErrorResponse'
      security: []
  /read/{contentId}:
    get:
      tags:
      - Core
      summary: Get Content Object
      description: 'The _content/{contentId}_ endpoint with ''GET'' method is used
        to fetch the content from the _EkStep Platform_. This endpoint returns the
        entire Content Object with default fields. The Consumer can get the non-default
        fields by passing the comma separated list of fields in a query parameter
        _fields_ For Example: _/content/{contentId}?fields?body,soundCredits_'
      operationId: ekstep.learning.content.read
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentId'
      responses:
        200:
          description: Content Fetched Successfully
          schema:
            $ref: '#/definitions/ContentGetResponse'
        400:
          description: Error While Content Fetch! | Error occurred while operation,
            mostly because of the input given by client, In general it is 'Client
            Exception'.
          schema:
            $ref: '#/definitions/ContentGetErrorResponse'
        404:
          description: Content Id does not exist.
          schema:
            $ref: '#/definitions/ContentGetErrorResponse'
        500:
          description: Error While Content Fetch! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is 'Server
            Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentGetErrorResponse'
      security: []
  /retire/{contentId}:
    delete:
      tags:
      - Core
      summary: Deletes Content Object
      description: The _content/{contentId}_ endpoint with 'DELETE' method is used
        to delete (Retire) the content from the _EkStep Platform_. It consumes the
        Content Identifier as 'contentId' on which the delete (Retire) operation has
        to be performed.
      operationId: ekstep.learning.content.retire
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentId'
      responses:
        200:
          description: Content Retired Successfully
          schema:
            $ref: '#/definitions/ContentDeleteResponse'
        400:
          description: Error While Content Retire! | Error occurred while operation,
            mostly because of the input given by client, In general it is 'Client
            Exception'.
          schema:
            $ref: '#/definitions/ContentDeleteErrorResponse'
        404:
          description: Content Id does not exist.
          schema:
            $ref: '#/definitions/ContentDeleteErrorResponse'
        500:
          description: Error While Content Retire! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is 'Server
            Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentDeleteErrorResponse'
      security: []
  /list:
    post:
      tags:
      - Search
      summary: List all Contents
      description: The _content/list_ endpoint is used to list all the content from
        the _EkStep Platform_. By deafult it returns only 'Live' content But Content
        belongs to other status can also be queried by explicitly providing the metadata
        information in the Request body. Apart from this the Request body can have
        the sorting field information, order of sorting and a particular set of fields
        you want in output. The only difference between 'search' and 'list' operation
        is, the 'list' operation only return the Content of type story, worksheet
        and games i.e. the content playable on Genie App while the 'search' operation
        will return all the objects of type content.
      operationId: content.list
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentSearchRequestObject'
      responses:
        200:
          description: Contents Fetched Successfully
          schema:
            $ref: '#/definitions/ContentListResponse'
        400:
          description: Error While Listing Contents! | Error occurred while operation,
            mostly because of the input given by client, In general it is 'Client
            Exception'.
          schema:
            $ref: '#/definitions/ContentListErrorResponse'
        500:
          description: Error While Listing Contents! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is 'Server
            Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentListErrorResponse'
      security: []
  /search:
    post:
      tags:
      - Search
      summary: Search the Content
      description: The 'content/search' endpoint is used to search the content in
        the _EkStep Platform_. It makes the search based on the Search Criteria provided
        in the Request Body. Apart from this the Request body can have the sorting
        field information, order of sorting and a particular set of fields you want
        in output.  The only difference between 'search' and 'list' operation is,
        the 'list' operation only return the Content of type story, worksheet and
        games i.e. the content playable on Genie App while the 'search' operation
        will return all the objects of type content.
      operationId: content.search
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentSearchRequestObject'
      responses:
        200:
          description: Contents Fetched Successfully
          schema:
            $ref: '#/definitions/ContentSearchResponse'
        400:
          description: Error While Content Search! | Error occurred while operation,
            mostly because of the input given by client, In general it is 'Client
            Exception'.
          schema:
            $ref: '#/definitions/ContentSearchErrorResponse'
        500:
          description: Error While Content Search! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is 'Server
            Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentSearchErrorResponse'
      security: []
  /upload/{contentId}:
    post:
      tags:
      - Workflow
      summary: Uploads a Content Package
      description: The '/content/upload/{contentId}' endpoint uploads the Content
        package for the given 'contentId'. This endpoint is responsible for the Content
        'Upload' operation which is considered to be one of the high-level operation.
        It takes content identifier as path parameter and content package file as
        file type body parameter. In response it returns the Content Url as 'content_url'
        which is the address of storage space (S3) where the content is being uploaded
        and the Content node identifier as 'node_id' for which the upload operation
        is being performed.
      operationId: content.upload
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentId'
      - $ref: '#/parameters/ContentUploadRequestObject'
      responses:
        200:
          description: Content Uploaded Successfully
          schema:
            $ref: '#/definitions/ContentUploadResponse'
        400:
          description: Error While Content Upload! | Error occurred while operation,
            mostly because of the input given by client, In general it is 'Client
            Exception'.
          schema:
            $ref: '#/definitions/ContentUploadErrorResponse'
        404:
          description: Content Id does not exist.
          schema:
            $ref: '#/definitions/ContentUploadErrorResponse'
        500:
          description: Error While Content Upload! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is 'Server
            Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentUploadErrorResponse'
      security: []
  /public/publish/{contentId}:
    post:
      tags:
      - Workflow
      summary: Publishes a Content
      description: The '/content/publish/{contentId}' endpoint publishes a Content
        whose Content identifier is given as 'contentId'. This endpoint is responsible
        for the Content 'Publish' operation which is considered to be one of the high-level
        operation. It takes content identifier as path parameter. In response it returns
        the Content Url as 'content_url' which is the address of storage space (S3)
        where the content ECAR is being uploaded and the Content node identifier as
        'node_id' for which the publish operation is being performed.
      operationId: content.publish
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentId'
      responses:
        200:
          description: Content Published Successfully
          schema:
            $ref: '#/definitions/ContentPublishResponse'
        400:
          description: Error While Content Publish! | Error occurred while operation,
            mostly because of the input given by client, In general it is 'Client
            Exception'.
          schema:
            $ref: '#/definitions/ContentPublishErrorResponse'
        404:
          description: Content Id does not exist.
          schema:
            $ref: '#/definitions/ContentPublishErrorResponse'
        500:
          description: Error While Content Publish! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is 'Server
            Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentPublishErrorResponse'
      security: []
  /unlisted/publish/{contentId}:
    post:
      tags:
      - Workflow
      summary: Unlists a Content
      description: The '/content/publish/unlisted/{contentId}' endpoint unlists a
        Content. This endpoint is responsible for the Content 'Unlist' operation where
        the user can mark their content as unlisted and the unlisted content undergoes
        all the publish operations except the state change to LIVE.The unlisted API
        will mark the status as 'Unlisted'. It takes content identifier as path parameter
      operationId: content.publish.unlisted
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentId'
      - $ref: '#/parameters/unlistedPublishRequestBody'
      responses:
        200:
          description: Content Unlisted Successfully
          schema:
            $ref: '#/definitions/ContentPublishUnlistedResponse'
        400:
          description: Error While Unlisting Content! | Error occurred while operation,
            mostly because of the input given by client, In general it is 'Client
            Exception'.
          schema:
            $ref: '#/definitions/ContentPublishUnlistedErrorResponse'
        404:
          description: Content Id does not exist.
          schema:
            $ref: '#/definitions/ContentPublishUnlistedErrorResponse'
        500:
          description: Error While Unlisting the Content! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is 'Server
            Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentPublishUnlistedErrorResponse'
      security: []
  /bundle:
    post:
      tags:
      - Bundle
      summary: Bundle the Contents
      description: The '/content/bundle' endpoint bundles the Contents whose identifiers
        are given. It consumes the list of Content identifiers as 'content_identifiers'
        and the bundle file name as 'file_name' which is the name of output bundle
        file. In response it returns the URL of Bundle Package file which is uploaded
        to storage space (S3). This endpoint performs the 'Bundle' operation for the
        given contents which is useful for offline access of EkStep Content.
      operationId: content.bundle
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentBundleRequestObject'
      responses:
        200:
          description: Content Bundle Successfully
          schema:
            $ref: '#/definitions/ContentBundleResponse'
        400:
          description: Error While Content Bundling! | Error occurred while operation,
            mostly because of the input given by client, In general it is 'Client
            Exception'.
          schema:
            $ref: '#/definitions/ContentBundleErrorResponse'
        500:
          description: Error While Content Bundling! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is 'Server
            Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentBundleErrorResponse'
      security: []
  /history/{contentId}:
    get:
      tags:
      - History
      summary: Returns the history of Contents modified
      description: The '/history/{content_id}' endpoint returns history of the content_id
        with its modifications. It consumes the content identifier as request path
        variable. In response it returns the history of modifications performed on
        that particular content_id
      operationId: content.history
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentId'
      responses:
        200:
          description: Content History returned Successfully
          schema:
            $ref: '#/definitions/ContentHistoryResponse'
        400:
          description: Error While fetching Content history! | Error occurred while
            operation, mostly because of the input given by client, In general it
            is 'Client Exception'.
          schema:
            $ref: '#/definitions/ContentHistoryErrorResponse'
        500:
          description: Error While fetching Content history! | Error occurred while
            operation, mostly because of erroneous condition on server, In general
            it is 'Server Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentHistoryErrorResponse'
      security: []
  /flag/{contentId}:
    get:
      tags:
      - Flag
      summary: Flags a particular Content
      description: The '/flag/{content_id}' endpoint flags a particular content and
        makes it unavailbale for future usage. It consumes the content identifier
        as request path variable with flag request body. In response it returns the
        message that particular content has been flagged
      operationId: ekstep.learning.content.flag
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentId'
      - $ref: '#/parameters/flagRequestBody'
      responses:
        200:
          description: Content Flagged Successfully
          schema:
            $ref: '#/definitions/ContentFlagResponse'
        400:
          description: Error While flagging a particular content! | Error occurred
            while operation, mostly because of the input given by client, In general
            it is 'Client Exception'.
          schema:
            $ref: '#/definitions/ContentFlagErrorResponse'
        500:
          description: Error While flagging a particular content! | Error occurred
            while operation, mostly because of erroneous condition on server, In general
            it is 'Server Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentFlagErrorResponse'
      security: []
  /flag/accept/{contentId}:
    get:
      tags:
      - Flag
      summary: Accepts a particular Content which is Flagged
      description: The '/flag/accept/{content_id}' endpoint flags a particular content.
        It consumes the content identifier as request path variable with Accept flag
        request body. In response it returns the message that particular content which
        was flagged has been accepted
      operationId: ekstep.learning.content.acceptFlag
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentId'
      - $ref: '#/parameters/AcceptflagRequestBody'
      responses:
        200:
          description: Content Flag Accepted Successfully
          schema:
            $ref: '#/definitions/ContentFlagAcceptResponse'
        400:
          description: Error While Accepting a content which is flagged! | Error occurred
            while operation, mostly because of the input given by client, In general
            it is 'Client Exception'.
          schema:
            $ref: '#/definitions/ContentAcceptFlagErrorResponse'
        500:
          description: Error While Accepting a content which is flagged! | Error occurred
            while operation, mostly because of erroneous condition on server, In general
            it is 'Server Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentAcceptFlagErrorResponse'
      security: []
  /flag/reject/{contentId}:
    get:
      tags:
      - Flag
      summary: Rejects a particular Content which is flagged.
      description: The '/flag/reject/{content_id}' endpoint rejects a particular content
        which is flagged and updates the status back to draft. It consumes the content
        identifier as request path variable with reject flag request body. In response
        it returns the message that particular content whcih was flagged has been
        rejected and the content is back to draft status
      operationId: ekstep.learning.content.rejectFlag
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentId'
      - $ref: '#/parameters/RejectFlagRequestBody'
      responses:
        200:
          description: Content Flag Rejected Successfully
          schema:
            $ref: '#/definitions/ContentRejectFlagResponse'
        400:
          description: Error While rejecting flag of a particular content! | Error
            occurred while operation, mostly because of the input given by client,
            In general it is 'Client Exception'.
          schema:
            $ref: '#/definitions/ContentFlagErrorResponse'
        500:
          description: Error While rejecting flag of a particular content! | Error
            occurred while operation, mostly because of erroneous condition on server,
            In general it is 'Server Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentFlagErrorResponse'
      security: []
  /reject/{contentId}:
    post:
      tags:
      - Reject
      summary: Rejects a particular Content in Review State.
      description: The '/reject/{content_id}' endpoint rejects a particular content
        which is in review state and pushes it to draft state. It consumes the content
        identifier as request path variable with reject request body. In response
        it returns the message that particular content has been rejected
      operationId: ekstep.learning.content.reject
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentId'
      - $ref: '#/parameters/RejectRequestBody'
      responses:
        200:
          description: Content Rejected Successfully
          schema:
            $ref: '#/definitions/ContentRejectResponse'
        400:
          description: Error While Rejecting a particular content! | Error occurred
            while operation, mostly because of the input given by client, In general
            it is 'Client Exception
          schema:
            $ref: '#/definitions/ContentRejectErrorResponse'
        500:
          description: Error While flagging a particular content! | Error occurred
            while operation, mostly because of erroneous condition on server, In general
            it is 'Server Exception' or 'Exception
          schema:
            $ref: '#/definitions/ContentRejectErrorResponse'
      security: []
  /hierarchy/update:
    post:
      tags:
      - Core
      summary: Update Content hierarchy
      description: The _content_ endpoint is used to update the content and its hierarchy
        into the _EkStep Platform_ with the metadata provided as part of request body,
        there are certain fields marked as mandatory for which the value has to be
        given in order to create or update the content hierarchy into the platfrom,
        The endpoint returns the parrent content identifier as content_id i.e. the
        identifier of collection content and identifiers map which will hold dummy
        id as key and generated identifier as value.
      operationId: content.hierarchy.update
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentUpdateHierarchyRequestObject'
      responses:
        200:
          description: Content Created Successfully
          schema:
            $ref: '#/definitions/ContentUpdateHierarchyResponse'
        400:
          description: Error while Content Hierarchy Updation! | Error occurred while
            operation, mostly because of the input given by client, In general it
            is 'Client Exception'.
          schema:
            $ref: '#/definitions/ContentCreateErrorResponse'
        500:
          description: Error While Content Creation! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is 'Server
            Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentCreateErrorResponse'
      security: []
  /hierarchy/{contentId}:
    get:
      tags:
      - Core
      summary: Get Content Hierarchy Object
      description: 'The _hierarchy/{contentId}_ endpoint with ''GET'' method is used
        to fetch the content hierarchy from the _EkStep Platform_. This endpoint returns
        the entire Content Object with default fields including hierarchy. The Consumer
        can get the non-default fields by passing the comma separated list of fields
        in a query parameter _fields_ For Example: _/content/{contentId}?fields?body,soundCredits_'
      operationId: ekstep.learning.content.hierarchy
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ContentId'
      responses:
        200:
          description: Content Fetched Successfully
          schema:
            $ref: '#/definitions/ContentHierarchyGetResponse'
        400:
          description: Error While Content Fetch! | Error occurred while operation,
            mostly because of the input given by client, In general it is 'Client
            Exception'.
          schema:
            $ref: '#/definitions/ContentGetErrorResponse'
        404:
          description: Content Id does not exist.
          schema:
            $ref: '#/definitions/ContentGetErrorResponse'
        500:
          description: Error While Content Fetch! | Error occurred while operation,
            mostly because of erroneous condition on server, In general it is 'Server
            Exception' or 'Exception'.
          schema:
            $ref: '#/definitions/ContentGetErrorResponse'
      security: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":84:{s:30:\"ContentAcceptFlagRequestObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/FlagAcceptRequestObject\";}}}}s:23:\"FlagAcceptRequestObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"flaggedBy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Name
  of the flag Approver\";}}}s:23:\"FlagRejectRequestObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"flaggedBy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Name
  of the flag Rejecter\";}}}s:30:\"ContentRejectFlagRequestObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/FlagRejectRequestObject\";}}}}s:26:\"ContentRejectRequestObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/FlagAcceptRequestObject\";}}}}s:21:\"ContentRejectResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"Content
  Reject Response\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ResultWithNodeId\";}}s:25:\"ContentFlagAcceptResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:28:\"Content
  Accept Flag Response\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ResultWithNodeId\";}}s:25:\"ContentRejectFlagResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:28:\"Content
  Reject Flag Response\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ResultWithNodeId\";}}s:26:\"ContentRejectErrorResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:29:\"Reject
  Content Error Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmptyResult\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:30:\"ContentAcceptFlagErrorResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:29:\"Reject
  Content Error Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmptyResult\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:7:\"Content\";O:8:\"stdClass\":4:{s:5:\"title\";s:16:\"Content
  Metadata\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":76:{s:10:\"identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Identifier
  of the content\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of the content\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Unique
  code for the content\";}s:2:\"os\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Supported
  Operating Systems\";s:7:\"example\";a:4:{i:0;s:3:\"All\";i:1;s:7:\"Android\";i:2;s:3:\"iOS\";i:3;s:7:\"Windows\";}}s:12:\"minOsVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"E.g.
  4.4\";}s:15:\"minGenieVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"E.g.
  5.0\";}s:19:\"minSupportedVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Minimum
  Supported Version of this content\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Example
  - 'Delhi Curriculum'\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Visibility
  (set as 'Parent' to hide this from any other list view)\";s:7:\"example\";a:1:{i:0;s:14:\"default/parent\";}}s:8:\"audience\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Audience\";s:11:\"description\";s:34:\"The
  target audience of the Content\";s:7:\"example\";a:2:{i:0;s:7:\"Learner\";i:1;s:10:\"Instructor\";}}s:11:\"posterImage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:8:\"mimeType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:35:{i:0;s:35:\"application/vnd.ekstep.ecml-archive\";i:1;s:35:\"application/vnd.ekstep.html-archive\";i:2;s:39:\"application/vnd.android.package-archive\";i:3;s:38:\"application/vnd.ekstep.content-archive\";i:4;s:41:\"application/vnd.ekstep.content-collection\";i:5;s:37:\"application/vnd.ekstep.plugin-archive\";i:6;s:34:\"application/vnd.ekstep.h5p-archive\";i:7;s:16:\"application/epub\";i:8;s:10:\"text/x-url\";i:9;s:15:\"video/x-youtube\";i:10;s:24:\"application/octet-stream\";i:11;s:18:\"application/msword\";i:12;s:15:\"application/pdf\";i:13;s:10:\"image/jpeg\";i:14;s:9:\"image/jpg\";i:15;s:9:\"image/png\";i:16;s:10:\"image/tiff\";i:17;s:9:\"image/bmp\";i:18;s:9:\"image/gif\";i:19;s:13:\"image/svg+xml\";i:20;s:9:\"video/avi\";i:21;s:10:\"video/mpeg\";i:22;s:15:\"video/quicktime\";i:23;s:10:\"video/3gpp\";i:24;s:10:\"video/mpeg\";i:25;s:9:\"video/mp4\";i:26;s:9:\"video/ogg\";i:27;s:10:\"video/webm\";i:28;s:9:\"audio/mp3\";i:29;s:9:\"audio/mp4\";i:30;s:10:\"audio/mpeg\";i:31;s:9:\"audio/ogg\";i:32;s:10:\"audio/webm\";i:33;s:11:\"audio/x-wav\";i:34;s:9:\"audio/wav\";}}s:16:\"artifactMimeType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:33:{i:0;s:39:\"application/vnd.ekstep.html-archive+zip\";i:1;s:43:\"application/vnd.android.package-archive+zip\";i:2;s:42:\"application/vnd.ekstep.content-archive+zip\";i:3;s:45:\"application/vnd.ekstep.content-collection+zip\";i:4;s:41:\"application/vnd.ekstep.plugin-archive+zip\";i:5;s:38:\"application/vnd.ekstep.h5p-archive+zip\";i:6;s:20:\"application/epub+zip\";i:7;s:10:\"text/x-url\";i:8;s:15:\"video/x-youtube\";i:9;s:24:\"application/octet-stream\";i:10;s:18:\"application/msword\";i:11;s:15:\"application/pdf\";i:12;s:10:\"image/jpeg\";i:13;s:9:\"image/jpg\";i:14;s:9:\"image/png\";i:15;s:10:\"image/tiff\";i:16;s:9:\"image/bmp\";i:17;s:9:\"image/gif\";i:18;s:13:\"image/svg+xml\";i:19;s:9:\"video/avi\";i:20;s:10:\"video/mpeg\";i:21;s:15:\"video/quicktime\";i:22;s:10:\"video/3gpp\";i:23;s:10:\"video/mpeg\";i:24;s:9:\"video/mp4\";i:25;s:9:\"video/ogg\";i:26;s:10:\"video/webm\";i:27;s:9:\"audio/mp3\";i:28;s:9:\"audio/mp4\";i:29;s:10:\"audio/mpeg\";i:30;s:9:\"audio/ogg\";i:31;s:10:\"audio/webm\";i:32;s:11:\"audio/x-wav\";}}s:9:\"mediaType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:11:{i:0;s:7:\"content\";i:1;s:10:\"collection\";i:2;s:5:\"image\";i:3;s:5:\"video\";i:4;s:5:\"audio\";i:5;s:5:\"voice\";i:6;s:4:\"ecml\";i:7;s:8:\"document\";i:8;s:3:\"pdf\";i:9;s:4:\"text\";i:10;s:5:\"other\";}}s:7:\"appIcon\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:16:\"grayScaleAppIcon\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:15:\"idealScreenSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:18:\"idealScreenDensity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:11:\"downloadUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"URL
  to download the content\";}s:11:\"artifactUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"URL
  to download the content\";}s:9:\"developer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Content
  Developer\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Source
  of the content (e.g. MangoSense)\";}s:9:\"publisher\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Publisher
  of the content (e.g. Pratham Books)\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Content
  Owner\";}s:12:\"attributions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Attributions/Credits\";}s:13:\"collaborators\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Collaborators\";}s:12:\"voiceCredits\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Voice
  Credits\";}s:12:\"soundCredits\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Audio
  and background scores by\";}s:12:\"imageCredits\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Images
  created by\";}s:9:\"copyright\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:5:\"words\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Dictionary
  words in this content\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Text
  of the story\";}s:8:\"ageGroup\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Suggested
  Age Group\";s:7:\"example\";a:7:{i:0;s:2:\"<5\";i:1;s:3:\"5-6\";i:2;s:3:\"6-7\";i:3;s:3:\"7-8\";i:4;s:4:\"8-10\";i:5;s:3:\">10\";i:6;s:5:\"Other\";}}s:10:\"gradeLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:14:{i:0;s:12:\"Kindergarten\";i:1;s:7:\"Grade
  1\";i:2;s:7:\"Grade 2\";i:3;s:7:\"Grade 3\";i:4;s:7:\"Grade 4\";i:5;s:7:\"Grade
  5\";i:6;s:7:\"Grade 6\";i:7;s:7:\"Grade 7\";i:8;s:7:\"Grade 8\";i:9;s:7:\"Grade
  9\";i:10;s:8:\"Grade 10\";i:11;s:8:\"Grade 11\";i:12;s:8:\"Grade 12\";i:13;s:5:\"Other\";}}s:18:\"interactivityLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:3:{i:0;s:4:\"High\";i:1;s:6:\"Medium\";i:2;s:3:\"Low\";}}s:10:\"curriculum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:11:\"contentType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:11:{i:0;s:8:\"Resource\";i:1;s:10:\"Collection\";i:2;s:8:\"TextBook\";i:3;s:10:\"LessonPlan\";i:4;s:6:\"Course\";i:5;s:8:\"Template\";i:6;s:5:\"Asset\";i:7;s:6:\"Plugin\";i:8;s:14:\"LessonPlanUnit\";i:9;s:10:\"CourseUnit\";i:10;s:12:\"TextBookUnit\";}}s:12:\"resourceType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:11:{i:0;s:4:\"Read\";i:1;s:5:\"Learn\";i:2;s:5:\"Teach\";i:3;s:4:\"Play\";i:4;s:4:\"Test\";i:5;s:8:\"Practice\";i:6;s:10:\"Experiment\";i:7;s:10:\"Collection\";i:8;s:4:\"Book\";i:9;s:11:\"Lesson
  Plan\";i:10;s:6:\"Course\";}}s:8:\"category\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:12:{i:0;s:4:\"core\";i:1;s:8:\"learning\";i:2;s:8:\"literacy\";i:3;s:4:\"math\";i:4;s:7:\"science\";i:5;s:4:\"time\";i:6;s:7:\"wordnet\";i:7;s:4:\"game\";i:8;s:3:\"mcq\";i:9;s:3:\"mtf\";i:10;s:3:\"ftb\";i:11;s:7:\"library\";}}s:12:\"templateType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:9:{i:0;s:5:\"story\";i:1;s:9:\"worksheet\";i:2;s:3:\"mcq\";i:3;s:3:\"ftb\";i:4;s:3:\"mtf\";i:5;s:11:\"recognition\";i:6;s:8:\"activity\";i:7;s:6:\"widget\";i:8;s:5:\"other\";}}s:5:\"genre\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:12:{i:0;s:13:\"Picture
  Books\";i:1;s:13:\"Chapter Books\";i:2;s:11:\"Flash Cards\";i:3;s:12:\"Serial Books\";i:4;s:14:\"Alphabet
  Books\";i:5;s:9:\"Folktales\";i:6;s:7:\"Fiction\";i:7;s:11:\"Non-Fiction\";i:8;s:12:\"Poems/Rhymes\";i:9;s:5:\"Plays\";i:10;s:6:\"Comics\";i:11;s:5:\"Words\";}}s:5:\"theme\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:17:{i:0;s:7:\"History\";i:1;s:9:\"Adventure\";i:2;s:7:\"Mystery\";i:3;s:7:\"Science\";i:4;s:6:\"Nature\";i:5;s:3:\"Art\";i:6;s:5:\"Music\";i:7;s:5:\"Funny\";i:8;s:6:\"Family\";i:9;s:11:\"Life
  Skills\";i:10;s:5:\"Scary\";i:11;s:14:\"School Stories\";i:12;s:8:\"Holidays\";i:13;s:5:\"Hobby\";i:14;s:9:\"Geography\";i:15;s:5:\"Rural\";i:16;s:5:\"Urban\";}}s:6:\"rating\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:8:\"rating_a\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:7:\"quality\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:10:\"popularity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:9:\"downloads\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:9:\"launchUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"URL
  to launch the game\";}s:4:\"osId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Operating
  System specific Id\";}s:14:\"activity_class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:11:\"scaffolding\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:3:{i:0;s:8:\"Tutorial\";i:1;s:4:\"Help\";i:2;s:8:\"Practice\";}}s:8:\"feedback\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:7:{i:0;s:11:\"Right/Wrong\";i:1;s:10:\"Reflection\";i:2;s:8:\"Guidance\";i:3;s:19:\"Learn
  from Mistakes\";i:4;s:17:\"Adaptive Feedback\";i:5;s:10:\"Interrupts\";i:6;s:13:\"Rich
  Feedback\";}}s:12:\"feedbackType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:4:{i:0;s:5:\"Audio\";i:1;s:6:\"Visual\";i:2;s:7:\"Textual\";i:3;s:7:\"Tactile\";}}s:12:\"teachingMode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:3:{i:0;s:8:\"Abstract\";i:1;s:8:\"Concrete\";i:2;s:9:\"Pictorial\";}}s:6:\"skills\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:7:{i:0;s:9:\"Listening\";i:1;s:8:\"Speaking\";i:2;s:7:\"Reading\";i:3;s:7:\"Writing\";i:4;s:5:\"Touch\";i:5;s:8:\"Gestures\";i:6;s:4:\"Draw\";}}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:6:\"domain\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:3:{i:0;s:8:\"numeracy\";i:1;s:8:\"literacy\";i:2;s:7:\"science\";}}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:11:{i:0;s:5:\"Draft\";i:1;s:6:\"Review\";i:2;s:7:\"Redraft\";i:3;s:7:\"Flagged\";i:4;s:4:\"Live\";i:5;s:7:\"Retired\";i:6;s:4:\"Mock\";i:7;s:10:\"Processing\";i:8;s:9:\"FlagDraft\";i:9;s:10:\"FlagReview\";i:10;s:6:\"Failed\";}}s:9:\"optStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";a:4:{i:0;s:7:\"Pending\";i:1;s:10:\"Processing\";i:2;s:5:\"Error\";i:3;s:8:\"Complete\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:11:\"editorState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"createdBy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"createdOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:13:\"lastUpdatedBy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:13:\"lastUpdatedOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"lastSubmittedBy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"lastSubmittedOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"lastPublishedBy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"lastPublishedOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:4:\"code\";i:2;s:9:\"mediaType\";i:3;s:8:\"mimeType\";i:4;s:11:\"contentType\";}}s:15:\"ContentResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"Content
  Response Metadata\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":41:{s:10:\"identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Identifier
  of the content\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of the content\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Unique
  code for the content\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:7:\"appIcon\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:16:\"grayScaleAppIcon\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:11:\"downloadUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"URL
  to download the content\";}s:11:\"artifactUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"URL
  to download the content\";}s:10:\"pkgVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:34:\"Version
  number of the package file\";}s:14:\"loadingMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Loading
  Message\";}s:9:\"launchUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"URL
  to launch the game\";}s:4:\"osId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Operating
  System specific Id\";}s:11:\"posterImage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:14:\"activity_class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Example
  - 'Delhi Curriculum'\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:19:\"minSupportedVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Minimum
  Supported Version of this content\";}s:8:\"checksum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Checksum
  value of the story package file\";}s:13:\"lastUpdatedOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"createdOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:10:\"visibility\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Visibility
  (set as 'Parent' to hide this from any other list view)\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Content
  Owner\";}s:13:\"collaborators\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Collaborators\";}s:12:\"voiceCredits\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Voice
  Credits\";}s:12:\"soundCredits\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Audio
  and background scores by\";}s:12:\"imageCredits\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Images
  created by\";}s:11:\"portalOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Portal
  Owner\";}s:9:\"developer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Content
  Developer\";}s:12:\"attributions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Attributions/Credits\";}s:8:\"forkable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Forkable\";}s:12:\"translatable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:12:\"Translatable\";}s:9:\"mediaType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"optStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"lastPublishedOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}s:24:\"ContentHierarchyResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"Content
  Response Metadata\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":42:{s:10:\"identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Identifier
  of the content\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of the content\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Unique
  code for the content\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:7:\"appIcon\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:16:\"grayScaleAppIcon\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:11:\"downloadUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"URL
  to download the content\";}s:11:\"artifactUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"URL
  to download the content\";}s:10:\"pkgVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:34:\"Version
  number of the package file\";}s:14:\"loadingMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Loading
  Message\";}s:9:\"launchUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"URL
  to launch the game\";}s:4:\"osId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Operating
  System specific Id\";}s:11:\"posterImage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:14:\"activity_class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Example
  - 'Delhi Curriculum'\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:19:\"minSupportedVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Minimum
  Supported Version of this content\";}s:8:\"checksum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Checksum
  value of the story package file\";}s:13:\"lastUpdatedOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"createdOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:10:\"visibility\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Visibility
  (set as 'Parent' to hide this from any other list view)\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Content
  Owner\";}s:13:\"collaborators\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Collaborators\";}s:12:\"voiceCredits\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Voice
  Credits\";}s:12:\"soundCredits\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Audio
  and background scores by\";}s:12:\"imageCredits\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Images
  created by\";}s:11:\"portalOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Portal
  Owner\";}s:9:\"developer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Content
  Developer\";}s:12:\"attributions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Attributions/Credits\";}s:8:\"forkable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Forkable\";}s:12:\"translatable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:12:\"Translatable\";}s:9:\"mediaType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"optStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"lastPublishedOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:11:\"collections\";O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"Response
  Content Object\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CollectionResponseObject\";}}s:8:\"children\";O:8:\"stdClass\":3:{s:5:\"title\";s:24:\"Response
  Children Object\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ChildrenResponseObject\";}}}}s:24:\"CollectionResponseObject\";O:8:\"stdClass\":3:{s:5:\"title\";s:26:\"Response
  Collection Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:22:\"ChildrenResponseObject\";O:8:\"stdClass\":3:{s:5:\"title\";s:24:\"Response
  Children Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:21:\"ContentResponseObject\";O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"Response
  Content Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ContentResponse\";}}}s:30:\"ContentHierarchyResponseObject\";O:8:\"stdClass\":3:{s:5:\"title\";s:33:\"Response
  Hierarchy Content Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ContentHierarchyResponse\";}}}s:20:\"ContentResponseArray\";O:8:\"stdClass\":3:{s:5:\"title\";s:22:\"Response
  Content Array\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ContentResponse\";}}}}s:26:\"ContentResponseArrayAndTTL\";O:8:\"stdClass\":3:{s:5:\"title\";s:31:\"Response
  Content Array with TTL\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/TTL\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ContentResponseArray\";}}}s:13:\"ContentSearch\";O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"Content
  Search Metadata\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":90:{s:10:\"identifier\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Identifier
  of the content\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";s:7:\"do_1223\";}s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:19:\"Name
  of the content\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";s:11:\"testContent\";}s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"Unique
  code for the content\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:2:\"os\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"Supported
  Operating Systems\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"minOsVersion\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:8:\"E.g.
  4.4\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"minGenieVersion\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:8:\"E.g.
  5.0\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:19:\"minSupportedVersion\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"Minimum
  Supported Version of this content\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"filter\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"E.g.:
  Delhi Curriculum\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"visibility\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:66:\"Visibility
  (set as 'Parent' to hide this from any other list view)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"posterImage\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"mimeType\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"mediaType\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"appIcon\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:16:\"grayScaleAppIcon\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"thumbnail\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"format\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"duration\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"size\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:15:\"idealScreenSize\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:18:\"idealScreenDensity\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"releaseNotes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"pkgVersion\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:34:\"Version
  number of the package file\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:9:\"resources\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"downloadUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"URL
  to download the content\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"artifactUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"URL
  to download the content\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"objects\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"developer\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:17:\"Content
  Developer\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"source\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:39:\"Source
  of the content (e.g. MangoSense)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"publisher\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:45:\"Publisher
  of the content (e.g. Pratham Books)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"owner\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:13:\"Content
  Owner\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"portalOwner\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"Portal
  Owner\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"attributions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:20:\"Attributions/Credits\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"collaborators\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:13:\"Collaborators\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"voiceCredits\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:13:\"Voice
  Credits\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"soundCredits\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:30:\"Audio
  and background scores by\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"imageCredits\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:17:\"Images
  created by\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"copyright\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"license\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"language\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"words\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:32:\"Dictionary
  words in this content\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"text\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:17:\"Text
  of the story\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"forkable\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:8:\"Forkable\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:12:\"translatable\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"Translatable\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:8:\"ageGroup\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:19:\"Suggested
  Age Group\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"gradeLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:18:\"interactivityLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"curriculum\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"contentType\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"templateType\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"genre\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"theme\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"rating\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:8:\"rating_a\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:7:\"quality\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:10:\"popularity\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:9:\"downloads\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:9:\"launchUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"URL
  to launch the game\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"osId\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:28:\"Operating
  System specific Id\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"activity_class\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"scaffolding\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"feedback\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"feedbackType\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"teachingMode\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"skills\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"keywords\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"domain\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"optStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"body\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"editorState\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"loadingMessage\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"Loading
  Message\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"checksum\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:40:\"Checksum
  value of the story package file\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"learningObjective\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"createdBy\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"createdOn\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"lastUpdatedBy\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"lastUpdatedOn\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"lastSubmittedBy\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"lastSubmittedOn\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"lastPublishedBy\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"lastPublishedOn\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"version\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:11:\"versionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"origin\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:16:\"versionCreatedBy\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"sorting\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:60:\"The
  array of valid fields for sorting in the specified order\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"order\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:20:\"The
  order of sorting\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"asc\";i:1;s:4:\"desc\";}}}s:5:\"limit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:39:\"The
  limit on number of records to fetch\";}}}s:19:\"ContentUrlAndNodeId\";O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"Content
  URL and Node Id\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/NodeId\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ContentUrl\";}}}s:17:\"FlagRequestObject\";O:8:\"stdClass\":4:{s:5:\"title\";s:27:\"Content
  Flag Request Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FlagObject\";}}s:8:\"required\";a:1:{i:0;s:7:\"request\";}}s:35:\"ContentUnlistedPublishRequestObject\";O:8:\"stdClass\":4:{s:5:\"title\";s:29:\"Content
  Unlist Request Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/unlistObject\";}}s:8:\"required\";a:1:{i:0;s:7:\"request\";}}s:12:\"unlistObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"lastUpdatedBy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"lastUpdatedBy\";}}}s:10:\"FlagObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"flagReasons\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:4:{i:0;s:21:\"Inappropriate
  Content\";i:1;s:19:\"Copyright Violation\";i:2;s:17:\"Privacy Violation\";i:3;s:5:\"Other\";}}s:9:\"flaggedBy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"flaggedBy\";}s:10:\"versionKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"versionKey\";}}}s:14:\"ResponseHeader\";O:8:\"stdClass\":3:{s:5:\"title\";s:14:\"ResponseHeader\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"API
  Identifier\";}s:3:\"ver\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"API
  version information\";}s:2:\"ts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"API
  execution timespan\";}s:6:\"params\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseParams\";}s:12:\"responseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:18:\"API
  response code \";}}}s:14:\"ResponseParams\";O:8:\"stdClass\":3:{s:5:\"title\";s:18:\"Response
  Parameter\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"resmsgid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Response
  Message Id\";}s:5:\"msgid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Message
  Id\";}s:3:\"err\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Error
  Code\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Response
  Status\";}s:6:\"errmsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Error
  Message\";}}}s:11:\"EmptyResult\";O:8:\"stdClass\":3:{s:5:\"title\";s:12:\"Empty
  Result\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:12:\"Empty
  Result\";}}}s:6:\"NodeId\";O:8:\"stdClass\":3:{s:5:\"title\";s:7:\"Node Id\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"node_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Node
  Identifier\";}}}s:10:\"ContentUrl\";O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"Content
  URL\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"content_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Url
  to download Content\";}}}s:7:\"EcarUrl\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"ECAR
  URL\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"ECAR_URL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Url
  to download created ECAR\";}}}s:3:\"TTL\";O:8:\"stdClass\":3:{s:5:\"title\";s:3:\"TTL\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"ttl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:10:\"TTL
  (Time)\";}}}s:20:\"audit_history_record\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"audit_history_record\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/audit_record\";}}}}s:12:\"audit_record\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"content_id\";}s:10:\"objectType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"objectType\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"operation\";}s:9:\"createdOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"createdOn\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"userId\";}s:7:\"graphId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"graphId\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"label\";}s:9:\"requestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"resquestId\";}s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/summary\";}}}s:7:\"summary\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"relations\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"addedRelations\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:15:\"added
  relations\";}s:16:\"removedRelations\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:16:\"removedRelations\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:5:\"count\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"fields\";s:4:\"type\";s:6:\"string\";}}}}s:4:\"tags\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"removedTags\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:11:\"removedTags\";}s:9:\"addedTags\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:9:\"addedTags\";}}}}}s:16:\"ResultWithNodeId\";O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"Result
  Containing Node Id\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/NodeId\";}}}s:21:\"ResultUpdateHierarchy\";O:8:\"stdClass\":4:{s:5:\"title\";s:33:\"Result
  - Content Update Hierarchy\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ResultUpdateHierarchyMap\";}}s:8:\"required\";a:1:{i:0;s:6:\"result\";}}s:24:\"ResultUpdateHierarchyMap\";O:8:\"stdClass\":3:{s:5:\"title\";s:33:\"Result
  - Content Update Hierarchy\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"content_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Parent
  content id\";}s:11:\"identifiers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/NewContentMap\";}}}s:13:\"NewContentMap\";O:8:\"stdClass\":3:{s:5:\"title\";s:21:\"Newly
  created content\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"dummyNode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Dummy
  Node Id\";}}}s:25:\"ResultWithContentResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:32:\"Result
  Containing Content Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ContentResponseObject\";}}}s:34:\"ResultWithContentHierarchyResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:32:\"Result
  Containing Content Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/ContentHierarchyResponseObject\";}}}s:30:\"ResultWithContentResponseArray\";O:8:\"stdClass\":3:{s:5:\"title\";s:38:\"Result
  Containing Content Object Array\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ContentResponseArray\";}}}s:36:\"ResultWithContentResponseArrayAndTTL\";O:8:\"stdClass\":3:{s:5:\"title\";s:32:\"Result
  Containing Content Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ContentResponseArrayAndTTL\";}}}s:29:\"ResultWithContentUrlAndNodeId\";O:8:\"stdClass\":3:{s:5:\"title\";s:41:\"Result
  Containing Content URL and Node Id\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ContentUrlAndNodeId\";}}}s:17:\"ResultWithECARUrl\";O:8:\"stdClass\":3:{s:5:\"title\";s:26:\"Result
  Containing ECAR URL\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/EcarUrl\";}}}s:20:\"ContentRequestObject\";O:8:\"stdClass\":4:{s:5:\"title\";s:22:\"Content
  Request Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContentObject\";}}s:8:\"required\";a:1:{i:0;s:7:\"request\";}}s:13:\"ContentObject\";O:8:\"stdClass\":4:{s:5:\"title\";s:14:\"Content
  Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Content\";}}s:8:\"required\";a:1:{i:0;s:7:\"content\";}}s:35:\"ContentUpdateHierarchyRequestObject\";O:8:\"stdClass\":4:{s:5:\"title\";s:39:\"Content
  Update Hierarchy Request Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ContentDataObject\";}}s:8:\"required\";a:1:{i:0;s:7:\"request\";}}s:17:\"ContentDataObject\";O:8:\"stdClass\":4:{s:5:\"title\";s:31:\"Content
  Update Hierarchy Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DataObject\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:10:\"DataObject\";O:8:\"stdClass\":4:{s:5:\"title\";s:31:\"Content
  Update Hierarchy Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nodesModified\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ContentNodesModified\";}s:9:\"hierarchy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ContentHierarchy\";}}s:8:\"required\";a:2:{i:0;s:13:\"NodesModified\";i:1;s:9:\"hierarchy\";}}s:20:\"ContentNodesModified\";O:8:\"stdClass\":4:{s:5:\"title\";s:31:\"Content
  Update Hierarchy Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"dummyNode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ContentDummyNode\";}}s:8:\"required\";a:1:{i:0;s:9:\"dummyNode\";}}s:16:\"ContentDummyNode\";O:8:\"stdClass\":4:{s:5:\"title\";s:16:\"Content
  Metadata\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"isNew\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:38:\"Whether
  the content is new or existing\";}s:4:\"root\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:32:\"Whether
  the content is root node\";}s:8:\"metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Content\";}}s:8:\"required\";a:1:{i:0;s:8:\"metadata\";}}s:16:\"ContentHierarchy\";O:8:\"stdClass\":4:{s:5:\"title\";s:17:\"Content
  Hierarchy\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"dummyNode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DummyNodeHierarchy\";}}s:8:\"required\";a:1:{i:0;s:9:\"dummyNode\";}}s:18:\"DummyNodeHierarchy\";O:8:\"stdClass\":3:{s:5:\"title\";s:20:\"Dummy
  Node Hierarchy\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of the content\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"contentType
  of the content\";}s:4:\"root\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:27:\"Whether
  the contetn is root\";}s:8:\"children\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:23:\"children
  of the content\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:26:\"ContentSearchRequestObject\";O:8:\"stdClass\":4:{s:5:\"title\";s:29:\"Content
  Search Request Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ContentSearchObject\";}}s:8:\"required\";a:1:{i:0;s:7:\"request\";}}s:19:\"ContentSearchObject\";O:8:\"stdClass\":4:{s:5:\"title\";s:21:\"Content
  Search Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"search\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContentSearch\";}}s:8:\"required\";a:1:{i:0;s:6:\"search\";}}s:26:\"ContentBundleRequestObject\";O:8:\"stdClass\":4:{s:5:\"title\";s:29:\"Content
  Bundle Request Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ContentBundleObject\";}}s:8:\"required\";a:1:{i:0;s:7:\"request\";}}s:19:\"ContentBundleObject\";O:8:\"stdClass\":4:{s:5:\"title\";s:21:\"Content
  Bundle Object\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"file_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Content
  Bundle File Name\";}s:19:\"content_identifiers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:37:\"List
  of Content Identifiers to Bundle\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:2:{i:0;s:19:\"content_identifiers\";i:1;s:9:\"file_name\";}}s:21:\"ContentCreateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Create
  Content Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ResultWithNodeId\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:30:\"ContentUpdateHierarchyResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Create
  Content Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ResultUpdateHierarchy\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:21:\"ContentUpdateResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"Update
  Content Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ResultWithNodeId\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:18:\"ContentGetResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:20:\"Get
  Content Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ResultWithContentResponse\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:27:\"ContentHierarchyGetResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:20:\"Get
  Content Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/ResultWithContentHierarchyResponse\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:19:\"ContentListResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:21:\"List
  Content Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/ResultWithContentResponseArrayAndTTL\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:21:\"ContentSearchResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"Search
  Content Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/ResultWithContentResponseArray\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:21:\"ContentUploadResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"Content
  Upload Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ResultWithContentUrlAndNodeId\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:22:\"ContentPublishResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:24:\"Content
  Publish Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ResultWithContentUrlAndNodeId\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:30:\"ContentPublishUnlistedResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:33:\"Content
  Publish Unlisted Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ResultWithContentUrlAndNodeId\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:21:\"ContentBundleResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"Content
  Bundle Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ResultWithECARUrl\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:21:\"ContentDeleteResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"Delete
  Content Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmptyResult\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:22:\"ContentHistoryResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:24:\"Content
  History Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/audit_history_record\";}}}s:19:\"ContentFlagResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:21:\"Content
  Flag Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"result
  of Content Flagged\";}}}}}s:26:\"ContentCreateErrorResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:29:\"Create
  Content Error Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmptyResult\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:24:\"ContentFlagErrorResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:29:\"Create
  Content Error Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmptyResult\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:26:\"ContentUpdateErrorResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:29:\"Update
  Content Error Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmptyResult\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:23:\"ContentGetErrorResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:26:\"Get
  Content Error Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmptyResult\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:24:\"ContentListErrorResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:28:\"List
  Contents Error Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmptyResult\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:26:\"ContentSearchErrorResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:29:\"Search
  Content Error Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmptyResult\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:26:\"ContentUploadErrorResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:29:\"Upload
  Content Error Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmptyResult\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:27:\"ContentPublishErrorResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:30:\"Publish
  Content Error Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmptyResult\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:35:\"ContentPublishUnlistedErrorResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:30:\"Publish
  Content Error Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmptyResult\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:26:\"ContentBundleErrorResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:29:\"Bundle
  Content Error Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmptyResult\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:26:\"ContentDeleteErrorResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:38:\"Delete
  (Retire) Content Error Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmptyResult\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}s:27:\"ContentHistoryErrorResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:30:\"Content
  History Error Response\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EmptyResult\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResponseHeader\";}}}}"
...
