---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:94:\"<fullname>AWS
  Elastic Transcoder Service</fullname> <p>The AWS Elastic Transcoder Service.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:25:\"Amazon
  Elastic Transcoder\";s:7:\"version\";s:10:\"2012-09-25\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:101:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elastictranscoder-2012-09-25.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:17:\"elastictranscoder\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:27:\"amazonaws_elastictranscoder\";s:4:\"type\";s:7:\"openapi\";}}"
host: elastictranscoder.amazonaws.com
basePath: /
paths:
  /2012-09-25/jobs:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>When you create a job, Elastic Transcoder returns JSON data
        that includes the values that you specified plus information about the job
        that is created.</p> <p>If you have specified more than one output for your
        jobs (for example, one output for the Kindle Fire and another output for the
        Apple iPhone 4s), you currently must use the Elastic Transcoder API to list
        the jobs (as opposed to the AWS Console).</p>
      operationId: CreateJob
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateJobRequest'
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/CreateJobResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        483:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        484:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        485:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
  /2012-09-25/jobs/{Id}:
    delete:
      description: <p>The CancelJob operation cancels an unfinished job.</p> <note>
        <p>You can only cancel a job that has a status of <code>Submitted</code>.
        To prevent a pipeline from starting to process a job while you're getting
        the job identifier, use <a>UpdatePipelineStatus</a> to temporarily pause the
        pipeline.</p> </note>
      operationId: CancelJob
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CancelJobRequest'
      - in: path
        name: Id
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/CancelJobResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        483:
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        484:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        485:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
    get:
      description: The ReadJob operation returns detailed information about a job.
      operationId: ReadJob
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ReadJobRequest'
      - in: path
        name: Id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ReadJobResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        483:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        484:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
      x-waiters:
      - acceptors:
        - argument: Job.Status
          expected: Complete
          matcher: path
          state: success
        - argument: Job.Status
          expected: Canceled
          matcher: path
          state: failure
        - argument: Job.Status
          expected: Error
          matcher: path
          state: failure
        delay: 30
        maxAttempts: 120
        operation: ReadJob
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2012-09-25/jobsByPipeline/{PipelineId}:
    get:
      description: <p>The ListJobsByPipeline operation gets a list of the jobs currently
        in a pipeline.</p> <p>Elastic Transcoder returns all of the jobs currently
        in the specified pipeline. The response body contains one element for each
        job that satisfies the search criteria.</p>
      operationId: ListJobsByPipeline
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListJobsByPipelineRequest'
      - description: Pagination token
        in: query
        name: PageToken
        required: false
        type: string
      - in: path
        name: PipelineId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListJobsByPipelineResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        483:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        484:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2012-09-25/jobsByStatus/{Status}:
    get:
      description: The ListJobsByStatus operation gets a list of jobs that have a
        specified status. The response body contains one element for each job that
        satisfies the search criteria.
      operationId: ListJobsByStatus
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListJobsByStatusRequest'
      - description: Pagination token
        in: query
        name: PageToken
        required: false
        type: string
      - in: path
        name: Status
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListJobsByStatusResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        483:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        484:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2012-09-25/pipelines:
    get:
      description: The ListPipelines operation gets a list of the pipelines associated
        with the current AWS account.
      operationId: ListPipelines
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListPipelinesRequest'
      - description: Pagination token
        in: query
        name: PageToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListPipelinesResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        483:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: The CreatePipeline operation creates a pipeline with settings that
        you specify.
      operationId: CreatePipeline
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreatePipelineRequest'
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/CreatePipelineResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        483:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        484:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        485:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
  /2012-09-25/pipelines/{Id}:
    delete:
      description: <p>The DeletePipeline operation removes a pipeline.</p> <p> You
        can only delete a pipeline that has never been used or that is not currently
        in use (doesn't contain any active jobs). If the pipeline is currently in
        use, <code>DeletePipeline</code> returns an error. </p>
      operationId: DeletePipeline
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeletePipelineRequest'
      - in: path
        name: Id
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/DeletePipelineResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        483:
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        484:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        485:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
    get:
      description: The ReadPipeline operation gets detailed information about a pipeline.
      operationId: ReadPipeline
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ReadPipelineRequest'
      - in: path
        name: Id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ReadPipelineResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        483:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        484:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: <p> Use the <code>UpdatePipeline</code> operation to update settings
        for a pipeline.</p> <important> <p>When you change pipeline settings, your
        changes take effect immediately. Jobs that you have already submitted and
        that Elastic Transcoder has not started to process are affected in addition
        to jobs that you submit after you change settings. </p> </important>
      operationId: UpdatePipeline
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdatePipelineRequest'
      - in: path
        name: Id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdatePipelineResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        483:
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        484:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        485:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
  /2012-09-25/pipelines/{Id}/notifications:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>With the UpdatePipelineNotifications operation, you can update
        Amazon Simple Notification Service (Amazon SNS) notifications for a pipeline.</p>
        <p>When you update notifications for a pipeline, Elastic Transcoder returns
        the values that you specified in the request.</p>
      operationId: UpdatePipelineNotifications
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdatePipelineNotificationsRequest'
      - in: path
        name: Id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdatePipelineNotificationsResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        483:
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        484:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        485:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
  /2012-09-25/pipelines/{Id}/status:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>The UpdatePipelineStatus operation pauses or reactivates a pipeline,
        so that the pipeline stops or restarts the processing of jobs.</p> <p>Changing
        the pipeline status is useful if you want to cancel one or more jobs. You
        can't cancel jobs after Elastic Transcoder has started processing them; if
        you pause the pipeline to which you submitted the jobs, you have more time
        to get the job IDs for the jobs that you want to cancel, and to send a <a>CancelJob</a>
        request. </p>
      operationId: UpdatePipelineStatus
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdatePipelineStatusRequest'
      - in: path
        name: Id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdatePipelineStatusResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        483:
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        484:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        485:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
  /2012-09-25/presets:
    get:
      description: The ListPresets operation gets a list of the default presets included
        with Elastic Transcoder and the presets that you've added in an AWS region.
      operationId: ListPresets
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListPresetsRequest'
      - description: Pagination token
        in: query
        name: PageToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListPresetsResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        483:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>The CreatePreset operation creates a preset with settings that
        you specify.</p> <important> <p>Elastic Transcoder checks the CreatePreset
        settings to ensure that they meet Elastic Transcoder requirements and to determine
        whether they comply with H.264 standards. If your settings are not valid for
        Elastic Transcoder, Elastic Transcoder returns an HTTP 400 response (<code>ValidationException</code>)
        and does not create the preset. If the settings are valid for Elastic Transcoder
        but aren''t strictly compliant with the H.264 standard, Elastic Transcoder
        creates the preset and returns a warning message in the response. This helps
        you determine whether your settings comply with the H.264 standard while giving
        you greater flexibility with respect to the video that Elastic Transcoder
        produces.</p> </important> <p>Elastic Transcoder uses the H.264 video-compression
        format. For more information, see the International Telecommunication Union
        publication <i>Recommendation ITU-T H.264: Advanced video coding for generic
        audiovisual services</i>.</p>'
      operationId: CreatePreset
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreatePresetRequest'
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/CreatePresetResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        483:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        484:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
  /2012-09-25/presets/{Id}:
    delete:
      description: <p>The DeletePreset operation removes a preset that you've added
        in an AWS region.</p> <note> <p>You can't delete the default presets that
        are included with Elastic Transcoder.</p> </note>
      operationId: DeletePreset
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeletePresetRequest'
      - in: path
        name: Id
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/DeletePresetResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        483:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        484:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
    get:
      description: The ReadPreset operation gets detailed information about a preset.
      operationId: ReadPreset
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ReadPresetRequest'
      - in: path
        name: Id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ReadPresetResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        483:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        484:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2012-09-25/roleTests:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>The TestRole operation tests the IAM role used to create the
        pipeline.</p> <p>The <code>TestRole</code> action lets you determine whether
        the IAM role you are using has sufficient permissions to let Elastic Transcoder
        perform tasks associated with the transcoding process. The action attempts
        to assume the specified IAM role, checks read access to the input and output
        buckets, and tries to send a test notification to Amazon SNS topics that you
        specify.</p>
      operationId: TestRole
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/TestRoleRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/TestRoleResponse'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        481:
          description: IncompatibleVersionException
          schema:
            $ref: '#/definitions/IncompatibleVersionException'
        482:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        483:
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        484:
          description: InternalServiceException
          schema:
            $ref: '#/definitions/InternalServiceException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":171:{s:13:\"AccessControl\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:49:\"(^FullControl$)|(^Read$)|(^ReadAcp$)|(^WriteAcp$)\";s:4:\"type\";s:6:\"string\";}s:14:\"AccessControls\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AccessControl\";}s:8:\"maxItems\";i:30;s:4:\"type\";s:5:\"array\";}s:21:\"AccessDeniedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"General
  authentication failure. The request was not signed correctly.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:7:\"Artwork\";O:8:\"stdClass\":3:{s:11:\"description\";s:488:\"<p>The
  file to be used as album art. There can be multiple artworks associated with an
  audio file, to a maximum of 20.</p> <p>To remove artwork or leave the artwork empty,
  you can either set <code>Artwork</code> to null, or set the <code>Merge Policy</code>
  to \"Replace\" and use an empty <code>Artwork</code> array.</p> <p>To pass through
  existing artwork unchanged, set the <code>Merge Policy</code> to \"Prepend\", \"Append\",
  or \"Fallback\", and use an empty <code>Artwork</code> array.</p>\";s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"AlbumArtFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/JpgOrPng\";s:11:\"description\";s:91:\"The
  format of album art, if any. Valid formats are <code>.jpg</code> and <code>.png</code>.\";}s:10:\"Encryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Encryption\";s:11:\"description\";s:91:\"The
  encryption settings, if any, that you want Elastic Transcoder to apply to your artwork.\";}s:8:\"InputKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/WatermarkKey\";s:11:\"description\";s:467:\"<p>The
  name of the file to be used as album art. To determine which Amazon S3 bucket contains
  the specified file, Elastic Transcoder checks the pipeline specified by <code>PipelineId</code>;
  the <code>InputBucket</code> object in that pipeline identifies the bucket.</p>
  <p>If the file name includes a prefix, for example, <code>cooking/pie.jpg</code>,
  include the prefix in the key. If the file isn't in the specified bucket, Elastic
  Transcoder returns an error.</p>\";}s:9:\"MaxHeight\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DigitsOrAuto\";s:11:\"description\";s:223:\"The
  maximum height of the output album art in pixels. If you specify <code>auto</code>,
  Elastic Transcoder uses 600 as the default value. If you specify a numeric value,
  enter an even integer between 32 and 3072, inclusive.\";}s:8:\"MaxWidth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DigitsOrAuto\";s:11:\"description\";s:222:\"The
  maximum width of the output album art in pixels. If you specify <code>auto</code>,
  Elastic Transcoder uses 600 as the default value. If you specify a numeric value,
  enter an even integer between 32 and 4096, inclusive.\";}s:13:\"PaddingPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PaddingPolicy\";s:11:\"description\";s:303:\"When
  you set <code>PaddingPolicy</code> to <code>Pad</code>, Elastic Transcoder may add
  white bars to the top and bottom and/or left and right sides of the output album
  art to make the total size of the output art match the values that you specified
  for <code>MaxWidth</code> and <code>MaxHeight</code>.\";}s:12:\"SizingPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SizingPolicy\";s:11:\"description\";s:1854:\"<p>Specify
  one of the following values to control scaling of the output album art:</p> <ul>
  <li> <p> <code>Fit:</code> Elastic Transcoder scales the output art so it matches
  the value that you specified in either <code>MaxWidth</code> or <code>MaxHeight</code>
  without exceeding the other value.</p> </li> <li> <p> <code>Fill:</code> Elastic
  Transcoder scales the output art so it matches the value that you specified in either
  <code>MaxWidth</code> or <code>MaxHeight</code> and matches or exceeds the other
  value. Elastic Transcoder centers the output art and then crops it in the dimension
  (if any) that exceeds the maximum value. </p> </li> <li> <p> <code>Stretch:</code>
  Elastic Transcoder stretches the output art to match the values that you specified
  for <code>MaxWidth</code> and <code>MaxHeight</code>. If the relative proportions
  of the input art and the output art are different, the output art will be distorted.</p>
  </li> <li> <p> <code>Keep:</code> Elastic Transcoder does not scale the output art.
  If either dimension of the input art exceeds the values that you specified for <code>MaxWidth</code>
  and <code>MaxHeight</code>, Elastic Transcoder crops the output art.</p> </li> <li>
  <p> <code>ShrinkToFit:</code> Elastic Transcoder scales the output art down so that
  its dimensions match the values that you specified for at least one of <code>MaxWidth</code>
  and <code>MaxHeight</code> without exceeding either value. If you specify this option,
  Elastic Transcoder does not scale the art up.</p> </li> <li> <p> <code>ShrinkToFill</code>
  Elastic Transcoder scales the output art down so that its dimensions match the values
  that you specified for at least one of <code>MaxWidth</code> and <code>MaxHeight</code>
  without dropping below either value. If you specify this option, Elastic Transcoder
  does not scale the art up.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Artworks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Artwork\";}s:4:\"type\";s:5:\"array\";}s:9:\"Ascending\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:18:\"(^true$)|(^false$)\";s:4:\"type\";s:6:\"string\";}s:11:\"AspectRatio\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:41:\"(^auto$)|(^1:1$)|(^4:3$)|(^3:2$)|(^16:9$)\";s:4:\"type\";s:6:\"string\";}s:13:\"AudioBitDepth\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:26:\"(^8$)|(^16$)|(^24$)|(^32$)\";s:4:\"type\";s:6:\"string\";}s:13:\"AudioBitOrder\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:16:\"(^LittleEndian$)\";s:4:\"type\";s:6:\"string\";}s:12:\"AudioBitRate\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:9:\"^\\d{1,3}$\";s:4:\"type\";s:6:\"string\";}s:13:\"AudioChannels\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:26:\"(^auto$)|(^0$)|(^1$)|(^2$)\";s:4:\"type\";s:6:\"string\";}s:10:\"AudioCodec\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:51:\"(^AAC$)|(^vorbis$)|(^mp3$)|(^mp2$)|(^pcm$)|(^flac$)\";s:4:\"type\";s:6:\"string\";}s:17:\"AudioCodecOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Options
  associated with your audio codec.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"BitDepth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AudioBitDepth\";s:11:\"description\";s:417:\"<p>You
  can only choose an audio bit depth when you specify <code>flac</code> or <code>pcm</code>
  for the value of Audio:Codec.</p> <p>The bit depth of a sample is how many bits
  of information are included in the audio samples. The higher the bit depth, the
  better the audio, but the larger the file.</p> <p>Valid values are <code>16</code>
  and <code>24</code>.</p> <p>The most common bit depth is <code>24</code>.</p>\";}s:8:\"BitOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AudioBitOrder\";s:11:\"description\";s:223:\"<p>You
  can only choose an audio bit order when you specify <code>pcm</code> for the value
  of Audio:Codec.</p> <p>The order the bits of a PCM sample are stored in.</p> <p>The
  supported value is <code>LittleEndian</code>.</p>\";}s:7:\"Profile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AudioCodecProfile\";s:11:\"description\";s:1025:\"<p>You
  can only choose an audio profile when you specify AAC for the value of Audio:Codec.</p>
  <p>Specify the AAC profile for the output file. Elastic Transcoder supports the
  following profiles:</p> <ul> <li> <p> <code>auto</code>: If you specify <code>auto</code>,
  Elastic Transcoder selects the profile based on the bit rate selected for the output
  file.</p> </li> <li> <p> <code>AAC-LC</code>: The most common AAC profile. Use for
  bit rates larger than 64 kbps.</p> </li> <li> <p> <code>HE-AAC</code>: Not supported
  on some older players and devices. Use for bit rates between 40 and 80 kbps.</p>
  </li> <li> <p> <code>HE-AACv2</code>: Not supported on some players and devices.
  Use for bit rates less than 48 kbps.</p> </li> </ul> <p>All outputs in a <code>Smooth</code>
  playlist must have the same value for <code>Profile</code>.</p> <note> <p>If you
  created any presets before AAC profiles were added, Elastic Transcoder automatically
  updated your presets to use AAC-LC. You can change the value as required.</p> </note>\";}s:6:\"Signed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AudioSigned\";s:11:\"description\";s:301:\"<p>You
  can only choose whether an audio sample is signed when you specify <code>pcm</code>
  for the value of Audio:Codec.</p> <p>Whether audio samples are represented with
  negative and positive numbers (signed) or only positive numbers (unsigned).</p>
  <p>The supported value is <code>Signed</code>.</p>\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AudioCodecProfile\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:43:\"(^auto$)|(^AAC-LC$)|(^HE-AAC$)|(^HE-AACv2$)\";s:4:\"type\";s:6:\"string\";}s:16:\"AudioPackingMode\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:77:\"(^SingleTrack$)|(^OneChannelPerTrack$)|(^OneChannelPerTrackWithMosTo8Tracks$)\";s:4:\"type\";s:6:\"string\";}s:15:\"AudioParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Parameters
  required for transcoding audio.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"AudioPackingMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AudioPackingMode\";s:11:\"description\";s:4976:\"<p>The
  method of organizing audio channels and tracks. Use <code>Audio:Channels</code>
  to specify the number of channels in your output, and <code>Audio:AudioPackingMode</code>
  to specify the number of tracks and their relation to the channels. If you do not
  specify an <code>Audio:AudioPackingMode</code>, Elastic Transcoder uses <code>SingleTrack</code>.</p>
  <p>The following values are valid:</p> <p> <code>SingleTrack</code>, <code>OneChannelPerTrack</code>,
  and <code>OneChannelPerTrackWithMosTo8Tracks</code> </p> <p>When you specify <code>SingleTrack</code>,
  Elastic Transcoder creates a single track for your output. The track can have up
  to eight channels. Use <code>SingleTrack</code> for all non-<code>mxf</code> containers.</p>
  <p>The outputs of <code>SingleTrack</code> for a specific channel value and inputs
  are as follows:</p> <ul> <li> <p> <code>0</code> <b> channels with any input:</b>
  Audio omitted from the output</p> </li> <li> <p> <code>1, 2, or auto </code> <b>channels
  with no audio input:</b> Audio omitted from the output</p> </li> <li> <p> <code>1
  </code> <b>channel with any input with audio:</b> One track with one channel, downmixed
  if necessary</p> </li> <li> <p> <code>2 </code> <b>channels with one track with
  one channel:</b> One track with two identical channels</p> </li> <li> <p> <code>2
  or auto </code> <b>channels with two tracks with one channel each:</b> One track
  with two channels</p> </li> <li> <p> <code>2 or auto </code> <b>channels with one
  track with two channels:</b> One track with two channels</p> </li> <li> <p> <code>2
  </code> <b>channels with one track with multiple channels:</b> One track with two
  channels</p> </li> <li> <p> <code>auto </code> <b>channels with one track with one
  channel:</b> One track with one channel</p> </li> <li> <p> <code>auto </code> <b>channels
  with one track with multiple channels:</b> One track with multiple channels</p>
  </li> </ul> <p>When you specify <code>OneChannelPerTrack</code>, Elastic Transcoder
  creates a new track for every channel in your output. Your output can have up to
  eight single-channel tracks.</p> <p>The outputs of <code>OneChannelPerTrack</code>
  for a specific channel value and inputs are as follows:</p> <ul> <li> <p> <code>0
  </code> <b>channels with any input:</b> Audio omitted from the output</p> </li>
  <li> <p> <code>1, 2, or auto </code> <b>channels with no audio input:</b> Audio
  omitted from the output</p> </li> <li> <p> <code>1 </code> <b>channel with any input
  with audio:</b> One track with one channel, downmixed if necessary</p> </li> <li>
  <p> <code>2 </code> <b>channels with one track with one channel:</b> Two tracks
  with one identical channel each</p> </li> <li> <p> <code>2 or auto </code> <b>channels
  with two tracks with one channel each:</b> Two tracks with one channel each</p>
  </li> <li> <p> <code>2 or auto </code> <b>channels with one track with two channels:</b>
  Two tracks with one channel each</p> </li> <li> <p> <code>2 </code> <b>channels
  with one track with multiple channels:</b> Two tracks with one channel each</p>
  </li> <li> <p> <code>auto </code> <b>channels with one track with one channel:</b>
  One track with one channel</p> </li> <li> <p> <code>auto </code> <b>channels with
  one track with multiple channels:</b> Up to eight tracks with one channel each</p>
  </li> </ul> <p>When you specify <code>OneChannelPerTrackWithMosTo8Tracks</code>,
  Elastic Transcoder creates eight single-channel tracks for your output. All tracks
  that do not contain audio data from an input channel are MOS, or Mit Out Sound,
  tracks.</p> <p>The outputs of <code>OneChannelPerTrackWithMosTo8Tracks</code> for
  a specific channel value and inputs are as follows:</p> <ul> <li> <p> <code>0 </code>
  <b>channels with any input:</b> Audio omitted from the output</p> </li> <li> <p>
  <code>1, 2, or auto </code> <b>channels with no audio input:</b> Audio omitted from
  the output</p> </li> <li> <p> <code>1 </code> <b>channel with any input with audio:</b>
  One track with one channel, downmixed if necessary, plus six MOS tracks</p> </li>
  <li> <p> <code>2 </code> <b>channels with one track with one channel:</b> Two tracks
  with one identical channel each, plus six MOS tracks</p> </li> <li> <p> <code>2
  or auto </code> <b>channels with two tracks with one channel each:</b> Two tracks
  with one channel each, plus six MOS tracks</p> </li> <li> <p> <code>2 or auto </code>
  <b>channels with one track with two channels:</b> Two tracks with one channel each,
  plus six MOS tracks</p> </li> <li> <p> <code>2 </code> <b>channels with one track
  with multiple channels:</b> Two tracks with one channel each, plus six MOS tracks</p>
  </li> <li> <p> <code>auto </code> <b>channels with one track with one channel:</b>
  One track with one channel, plus seven MOS tracks</p> </li> <li> <p> <code>auto
  </code> <b>channels with one track with multiple channels:</b> Up to eight tracks
  with one channel each, plus MOS tracks until there are eight tracks in all</p> </li>
  </ul>\";}s:7:\"BitRate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AudioBitRate\";s:11:\"description\";s:120:\"The
  bit rate of the audio stream in the output file, in kilobits/second. Enter an integer
  between 64 and 320, inclusive.\";}s:8:\"Channels\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AudioChannels\";s:11:\"description\";s:1321:\"<p>The
  number of audio channels in the output file. The following values are valid:</p>
  <p> <code>auto</code>, <code>0</code>, <code>1</code>, <code>2</code> </p> <p>One
  channel carries the information played by a single speaker. For example, a stereo
  track with two channels sends one channel to the left speaker, and the other channel
  to the right speaker. The output channels are organized into tracks. If you want
  Elastic Transcoder to automatically detect the number of audio channels in the input
  file and use that value for the output file, select <code>auto</code>.</p> <p>The
  output of a specific channel value and inputs are as follows:</p> <ul> <li> <p>
  <code>auto</code> <b> channel specified, with any input:</b> Pass through up to
  eight input channels.</p> </li> <li> <p> <code>0</code> <b> channels specified,
  with any input:</b> Audio omitted from the output.</p> </li> <li> <p> <code>1</code>
  <b> channel specified, with at least one input channel:</b> Mono sound.</p> </li>
  <li> <p> <code>2</code> <b> channels specified, with any input:</b> Two identical
  mono channels or stereo. For more information about tracks, see <code>Audio:AudioPackingMode.</code>
  </p> </li> </ul> <p> For more information about how Elastic Transcoder organizes
  channels and tracks, see <code>Audio:AudioPackingMode</code>.</p>\";}s:5:\"Codec\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AudioCodec\";s:11:\"description\";s:173:\"The
  audio codec for the output file. Valid values include <code>aac</code>, <code>flac</code>,
  <code>mp2</code>, <code>mp3</code>, <code>pcm</code>, and <code>vorbis</code>.\";}s:12:\"CodecOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AudioCodecOptions\";s:11:\"description\";s:361:\"<p>If
  you specified <code>AAC</code> for <code>Audio:Codec</code>, this is the <code>AAC</code>
  compression profile to use. Valid values include:</p> <p> <code>auto</code>, <code>AAC-LC</code>,
  <code>HE-AAC</code>, <code>HE-AACv2</code> </p> <p>If you specify <code>auto</code>,
  Elastic Transcoder chooses a profile based on the bit rate of the output file.</p>\";}s:10:\"SampleRate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AudioSampleRate\";s:11:\"description\";s:320:\"<p>The
  sample rate of the audio stream in the output file, in Hertz. Valid values include:</p>
  <p> <code>auto</code>, <code>22050</code>, <code>32000</code>, <code>44100</code>,
  <code>48000</code>, <code>96000</code> </p> <p>If you specify <code>auto</code>,
  Elastic Transcoder automatically detects the sample rate.</p>\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AudioSampleRate\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:69:\"(^auto$)|(^22050$)|(^32000$)|(^44100$)|(^48000$)|(^96000$)|(^192000$)\";s:4:\"type\";s:6:\"string\";}s:11:\"AudioSigned\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:23:\"(^Unsigned$)|(^Signed$)\";s:4:\"type\";s:6:\"string\";}s:19:\"Base64EncodedString\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:72:\"^$|(^(?:[A-Za-z0-9\\+/]{4})*(?:[A-Za-z0-9\\+/]{2}==|[A-Za-z0-9\\+/]{3}=)?$)\";s:4:\"type\";s:6:\"string\";}s:10:\"BucketName\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:18:\"^(\\w|\\.|-){1,255}$\";s:4:\"type\";s:6:\"string\";}s:16:\"CancelJobRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  <code>CancelJobRequest</code> structure.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"CancelJobResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"The
  response body contains a JSON object. If the job is successfully canceled, the value
  of <code>Success</code> is <code>true</code>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"CaptionFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"The
  file format of the output captions. If you leave this value blank, Elastic Transcoder
  returns an error.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"Encryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Encryption\";s:11:\"description\";s:99:\"The
  encryption settings, if any, that you want Elastic Transcoder to apply to your caption
  formats.\";}s:6:\"Format\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CaptionFormatFormat\";s:11:\"description\";s:870:\"<p>The
  format you specify determines whether Elastic Transcoder generates an embedded or
  sidecar caption for this output.</p> <ul> <li> <p> <b>Valid Embedded Caption Formats:</b>
  </p> <ul> <li> <p> <b>for FLAC</b>: None</p> </li> <li> <p> <b>For MP3</b>: None</p>
  </li> <li> <p> <b>For MP4</b>: mov-text</p> </li> <li> <p> <b>For MPEG-TS</b>: None</p>
  </li> <li> <p> <b>For ogg</b>: None</p> </li> <li> <p> <b>For webm</b>: None</p>
  </li> </ul> </li> <li> <p> <b>Valid Sidecar Caption Formats:</b> Elastic Transcoder
  supports dfxp (first div element only), scc, srt, and webvtt. If you want ttml or
  smpte-tt compatible captions, specify dfxp as your output format.</p> <ul> <li>
  <p> <b>For FMP4</b>: dfxp</p> </li> <li> <p> <b>Non-FMP4 outputs</b>: All sidecar
  types</p> </li> </ul> <p> <code>fmp4</code> captions have an extension of <code>.ismt</code>
  </p> </li> </ul>\";}s:7:\"Pattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/CaptionFormatPattern\";s:11:\"description\";s:891:\"<p>The
  prefix for caption filenames, in the form <i>description</i>-<code>{language}</code>,
  where:</p> <ul> <li> <p> <i>description</i> is a description of the video.</p> </li>
  <li> <p> <code>{language}</code> is a literal value that Elastic Transcoder replaces
  with the two- or three-letter code for the language of the caption in the output
  file names.</p> </li> </ul> <p>If you don't include <code>{language}</code> in the
  file name pattern, Elastic Transcoder automatically appends \"<code>{language}</code>\"
  to the value that you specify for the description. In addition, Elastic Transcoder
  automatically appends the count to the end of the segment files.</p> <p>For example,
  suppose you're transcoding into srt format. When you enter \"Sydney-{language}-sunrise\",
  and the language of the captions is English (en), the name of the first caption
  file is be Sydney-en-sunrise00000.srt.</p>\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CaptionFormatFormat\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:60:\"(^mov-text$)|(^srt$)|(^scc$)|(^webvtt$)|(^dfxp$)|(^cea-708$)\";s:4:\"type\";s:6:\"string\";}s:20:\"CaptionFormatPattern\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:25:\"(^$)|(^.*\\{language\\}.*$)\";s:4:\"type\";s:6:\"string\";}s:14:\"CaptionFormats\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CaptionFormat\";}s:8:\"maxItems\";i:4;s:4:\"type\";s:5:\"array\";}s:18:\"CaptionMergePolicy\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:46:\"(^MergeOverride$)|(^MergeRetain$)|(^Override$)\";s:4:\"type\";s:6:\"string\";}s:13:\"CaptionSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"A
  source file for the input sidecar captions used during the transcoding process.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"Encryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Encryption\";s:11:\"description\";s:165:\"The
  encryption settings, if any, that Elastic Transcoder needs to decyrpt your caption
  sources, or that you want Elastic Transcoder to apply to your caption sources.\";}s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/LongKey\";s:11:\"description\";s:100:\"The
  name of the sidecar caption file that you want Elastic Transcoder to include in
  the output file.\";}s:5:\"Label\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:161:\"The
  label of the caption shown in the player when choosing a language. We recommend
  that you put the caption language name here, in the language of the captions.\";}s:8:\"Language\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Key\";s:11:\"description\";s:406:\"<p>A
  string that specifies the language of the caption. If you specified multiple inputs
  with captions, the caption language must match in order to be included in the output.
  Specify this as one of:</p> <ul> <li> <p>2-character ISO 639-1 code</p> </li> <li>
  <p>3-character ISO 639-2 code</p> </li> </ul> <p>For more information on ISO language
  codes and language names, see the List of ISO 639-1 codes.</p>\";}s:10:\"TimeOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimeOffset\";s:11:\"description\";s:288:\"<p>For
  clip generation or captions that do not start at the same time as the associated
  video file, the <code>TimeOffset</code> tells Elastic Transcoder how much of the
  video to encode before including captions.</p> <p>Specify the TimeOffset in the
  form [+-]SS.sss or [+-]HH:mm:SS.ss.</p>\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CaptionSources\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CaptionSource\";}s:8:\"maxItems\";i:20;s:4:\"type\";s:5:\"array\";}s:8:\"Captions\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  captions to be created, if any.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"CaptionFormats\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CaptionFormats\";s:11:\"description\";s:118:\"The
  array of file formats for the output captions. If you leave this value blank, Elastic
  Transcoder returns an error.\";}s:14:\"CaptionSources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CaptionSources\";s:11:\"description\";s:151:\"Source
  files for the input sidecar captions used during the transcoding process. To omit
  all sidecar captions, leave <code>CaptionSources</code> blank.\";}s:11:\"MergePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CaptionMergePolicy\";s:11:\"description\";s:1029:\"<p>A
  policy that determines how Elastic Transcoder handles the existence of multiple
  captions.</p> <ul> <li> <p> <b>MergeOverride:</b> Elastic Transcoder transcodes
  both embedded and sidecar captions into outputs. If captions for a language are
  embedded in the input file and also appear in a sidecar file, Elastic Transcoder
  uses the sidecar captions and ignores the embedded captions for that language.</p>
  </li> <li> <p> <b>MergeRetain:</b> Elastic Transcoder transcodes both embedded and
  sidecar captions into outputs. If captions for a language are embedded in the input
  file and also appear in a sidecar file, Elastic Transcoder uses the embedded captions
  and ignores the sidecar captions for that language. If <code>CaptionSources</code>
  is empty, Elastic Transcoder omits all sidecar captions from the output files.</p>
  </li> <li> <p> <b>Override:</b> Elastic Transcoder transcodes only the sidecar captions
  that you specify in <code>CaptionSources</code>.</p> </li> </ul> <p> <code>MergePolicy</code>
  cannot be null.</p>\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Clip\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Settings
  for one clip in a composition. All jobs in a playlist must have the same clip settings.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"TimeSpan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TimeSpan\";s:11:\"description\";s:65:\"Settings
  that determine when a clip begins and how long it lasts.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CodecOption\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:12:\"CodecOptions\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CodecOption\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CodecOption\";}}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";i:30;s:4:\"type\";s:5:\"array\";}s:11:\"Composition\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Clip\";}s:4:\"type\";s:5:\"array\";}s:15:\"CreateJobOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  <code>CreateJobOutput</code> structure.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"AlbumArt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/JobAlbumArt\";s:11:\"description\";s:241:\"Information
  about the album art that you want Elastic Transcoder to add to the file during transcoding.
  You can specify up to twenty album artworks for each output. Settings for each artwork
  must be defined in the job for the current output.\";}s:8:\"Captions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Captions\";s:11:\"description\";s:2300:\"<p>You
  can configure Elastic Transcoder to transcode captions, or subtitles, from one format
  to another. All captions must be in UTF-8. Elastic Transcoder supports two types
  of captions:</p> <ul> <li> <p> <b>Embedded:</b> Embedded captions are included in
  the same file as the audio and video. Elastic Transcoder supports only one embedded
  caption per language, to a maximum of 300 embedded captions per file.</p> <p>Valid
  input values include: <code>CEA-608 (EIA-608</code>, first non-empty channel only),
  <code>CEA-708 (EIA-708</code>, first non-empty channel only), and <code>mov-text</code>
  </p> <p>Valid outputs include: <code>mov-text</code> </p> <p>Elastic Transcoder
  supports a maximum of one embedded format per output.</p> </li> <li> <p> <b>Sidecar:</b>
  Sidecar captions are kept in a separate metadata file from the audio and video data.
  Sidecar captions require a player that is capable of understanding the relationship
  between the video file and the sidecar file. Elastic Transcoder supports only one
  sidecar caption per language, to a maximum of 20 sidecar captions per file.</p>
  <p>Valid input values include: <code>dfxp</code> (first div element only), <code>ebu-tt</code>,
  <code>scc</code>, <code>smpt</code>, <code>srt</code>, <code>ttml</code> (first
  div element only), and <code>webvtt</code> </p> <p>Valid outputs include: <code>dfxp</code>
  (first div element only), <code>scc</code>, <code>srt</code>, and <code>webvtt</code>.</p>
  </li> </ul> <p>If you want ttml or smpte-tt compatible captions, specify dfxp as
  your output format.</p> <p>Elastic Transcoder does not support OCR (Optical Character
  Recognition), does not accept pictures as a valid input for captions, and is not
  available for audio-only transcoding. Elastic Transcoder does not preserve text
  formatting (for example, italics) during the transcoding process.</p> <p>To remove
  captions or leave the captions empty, set <code>Captions</code> to null. To pass
  through existing captions unchanged, set the <code>MergePolicy</code> to <code>MergeRetain</code>,
  and pass in a null <code>CaptionSources</code> array.</p> <p>For more information
  on embedded files, see the Subtitles Wikipedia page.</p> <p>For more information
  on sidecar files, see the Extensible Metadata Platform and Sidecar file Wikipedia
  pages.</p>\";}s:11:\"Composition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Composition\";s:11:\"description\";s:374:\"You
  can create an output file that contains an excerpt from the input file. This excerpt,
  called a clip, can come from the beginning, middle, or end of the file. The Composition
  object contains settings for the clips that make up an output file. For the current
  release, you can only specify settings for a single clip per output file. The Composition
  object cannot be null.\";}s:10:\"Encryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Encryption\";s:11:\"description\";s:272:\"You
  can specify encryption settings for any output files that you want to use for a
  transcoding job. This includes the output file and any watermarks, thumbnails, album
  art, or captions that you want to use. You must specify encryption settings for
  each file individually.\";}s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Key\";s:11:\"description\";s:292:\"
  The name to assign to the transcoded file. Elastic Transcoder saves the file in
  the Amazon S3 bucket specified by the <code>OutputBucket</code> object in the pipeline
  that is specified by the pipeline ID. If a file with the specified name already
  exists in the output bucket, the job fails. \";}s:8:\"PresetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:165:\"
  The <code>Id</code> of the preset to use for this job. The preset determines the
  audio, video, and thumbnail settings that Elastic Transcoder uses for transcoding.
  \";}s:6:\"Rotate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Rotate\";s:11:\"description\";s:350:\"
  The number of degrees clockwise by which you want Elastic Transcoder to rotate the
  output relative to the input. Enter one of the following values: <code>auto</code>,
  <code>0</code>, <code>90</code>, <code>180</code>, <code>270</code>. The value <code>auto</code>
  generally works only if the file that you're transcoding contains rotation metadata.
  \";}s:15:\"SegmentDuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FloatString\";s:11:\"description\";s:1180:\"<important>
  <p>(Outputs in Fragmented MP4 or MPEG-TS format only.</p> </important> <p>If you
  specify a preset in <code>PresetId</code> for which the value of <code>Container</code>
  is <code>fmp4</code> (Fragmented MP4) or <code>ts</code> (MPEG-TS), <code>SegmentDuration</code>
  is the target maximum duration of each segment in seconds. For <code>HLSv3</code>
  format playlists, each media segment is stored in a separate <code>.ts</code> file.
  For <code>HLSv4</code> and <code>Smooth</code> playlists, all media segments for
  an output are stored in a single file. Each segment is approximately the length
  of the <code>SegmentDuration</code>, though individual segments might be shorter
  or longer.</p> <p>The range of valid values is 1 to 60 seconds. If the duration
  of the video is not evenly divisible by <code>SegmentDuration</code>, the duration
  of the last segment is the remainder of total length/SegmentDuration.</p> <p>Elastic
  Transcoder creates an output-specific playlist for each output <code>HLS</code>
  output that you specify in OutputKeys. To add an output to the master playlist for
  this job, include it in the <code>OutputKeys</code> of the associated playlist.</p>\";}s:19:\"ThumbnailEncryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Encryption\";s:11:\"description\";s:93:\"The
  encryption settings, if any, that you want Elastic Transcoder to apply to your thumbnail.\";}s:16:\"ThumbnailPattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ThumbnailPattern\";s:11:\"description\";s:1861:\"<p>Whether
  you want Elastic Transcoder to create thumbnails for your videos and, if so, how
  you want Elastic Transcoder to name the files.</p> <p>If you don't want Elastic
  Transcoder to create thumbnails, specify \"\".</p> <p>If you do want Elastic Transcoder
  to create thumbnails, specify the information that you want to include in the file
  name for each thumbnail. You can specify the following values in any sequence:</p>
  <ul> <li> <p> <b> <code>{count}</code> (Required)</b>: If you want to create thumbnails,
  you must include <code>{count}</code> in the <code>ThumbnailPattern</code> object.
  Wherever you specify <code>{count}</code>, Elastic Transcoder adds a five-digit
  sequence number (beginning with <b>00001</b>) to thumbnail file names. The number
  indicates where a given thumbnail appears in the sequence of thumbnails for a transcoded
  file. </p> <important> <p>If you specify a literal value and/or <code>{resolution}</code>
  but you omit <code>{count}</code>, Elastic Transcoder returns a validation error
  and does not create the job.</p> </important> </li> <li> <p> <b>Literal values (Optional)</b>:
  You can specify literal values anywhere in the <code>ThumbnailPattern</code> object.
  For example, you can include them as a file name prefix or as a delimiter between
  <code>{resolution}</code> and <code>{count}</code>. </p> </li> <li> <p> <b> <code>{resolution}</code>
  (Optional)</b>: If you want Elastic Transcoder to include the resolution in the
  file name, include <code>{resolution}</code> in the <code>ThumbnailPattern</code>
  object. </p> </li> </ul> <p>When creating thumbnails, Elastic Transcoder automatically
  saves the files in the format (.jpg or .png) that appears in the preset that you
  specified in the <code>PresetID</code> value of <code>CreateJobOutput</code>. Elastic
  Transcoder also appends the applicable file name extension.</p>\";}s:10:\"Watermarks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/JobWatermarks\";s:11:\"description\";s:242:\"Information
  about the watermarks that you want Elastic Transcoder to add to the video during
  transcoding. You can specify up to four watermarks for each output. Settings for
  each watermark must be defined in the preset for the current output.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CreateJobOutputs\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CreateJobOutput\";}s:8:\"maxItems\";i:30;s:4:\"type\";s:5:\"array\";}s:17:\"CreateJobPlaylist\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Information
  about the master playlist.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"Format\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PlaylistFormat\";s:11:\"description\";s:121:\"The
  format of the output playlist. Valid formats include <code>HLSv3</code>, <code>HLSv4</code>,
  and <code>Smooth</code>.\";}s:20:\"HlsContentProtection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/HlsContentProtection\";s:11:\"description\";s:137:\"The
  HLS content protection settings, if any, that you want Elastic Transcoder to apply
  to the output files associated with this playlist.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Filename\";s:11:\"description\";s:737:\"<p>The
  name that you want Elastic Transcoder to assign to the master playlist, for example,
  nyc-vacation.m3u8. If the name includes a <code>/</code> character, the section
  of the name before the last <code>/</code> must be identical for all <code>Name</code>
  objects. If you create more than one master playlist, the values of all <code>Name</code>
  objects must be unique.</p> <note> <p> Elastic Transcoder automatically appends
  the relevant file extension to the file name (<code>.m3u8</code> for <code>HLSv3</code>
  and <code>HLSv4</code> playlists, and <code>.ism</code> and <code>.ismc</code> for
  <code>Smooth</code> playlists). If you include a file extension in <code>Name</code>,
  the file name will have two extensions.</p> </note>\";}s:10:\"OutputKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/OutputKeys\";s:11:\"description\";s:1907:\"<p>For
  each output in this job that you want to include in a master playlist, the value
  of the <code>Outputs:Key</code> object. </p> <ul> <li> <p>If your output is not
  <code>HLS</code> or does not have a segment duration set, the name of the output
  file is a concatenation of <code>OutputKeyPrefix</code> and <code>Outputs:Key</code>:</p>
  <p>OutputKeyPrefix<code>Outputs:Key</code> </p> </li> <li> <p>If your output is
  <code>HLSv3</code> and has a segment duration set, or is not included in a playlist,
  Elastic Transcoder creates an output playlist file with a file extension of <code>.m3u8</code>,
  and a series of <code>.ts</code> files that include a five-digit sequential counter
  beginning with 00000:</p> <p>OutputKeyPrefix<code>Outputs:Key</code>.m3u8</p> <p>OutputKeyPrefix<code>Outputs:Key</code>00000.ts</p>
  </li> <li> <p>If your output is <code>HLSv4</code>, has a segment duration set,
  and is included in an <code>HLSv4</code> playlist, Elastic Transcoder creates an
  output playlist file with a file extension of <code>_v4.m3u8</code>. If the output
  is video, Elastic Transcoder also creates an output file with an extension of <code>_iframe.m3u8</code>:</p>
  <p>OutputKeyPrefix<code>Outputs:Key</code>_v4.m3u8</p> <p>OutputKeyPrefix<code>Outputs:Key</code>_iframe.m3u8</p>
  <p>OutputKeyPrefix<code>Outputs:Key</code>.ts</p> </li> </ul> <p>Elastic Transcoder
  automatically appends the relevant file extension to the file name. If you include
  a file extension in Output Key, the file name will have two extensions.</p> <p>If
  you include more than one output in a playlist, any segment duration settings, clip
  settings, or caption settings must be the same for all outputs in the playlist.
  For <code>Smooth</code> playlists, the <code>Audio:Profile</code>, <code>Video:Profile</code>,
  and <code>Video:FrameRate</code> to <code>Video:KeyframesMaxDist</code> ratio must
  be the same for all outputs.</p>\";}s:12:\"PlayReadyDrm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PlayReadyDrm\";s:11:\"description\";s:118:\"The
  DRM settings, if any, that you want Elastic Transcoder to apply to the output files
  associated with this playlist.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateJobPlaylists\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CreateJobPlaylist\";}s:8:\"maxItems\";i:30;s:4:\"type\";s:5:\"array\";}s:16:\"CreateJobRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"The
  <code>CreateJobRequest</code> structure.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"Input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/JobInput\";s:11:\"description\";s:96:\"A
  section of the request body that provides information about the file that is being
  transcoded.\";}s:6:\"Inputs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobInputs\";s:11:\"description\";s:98:\"A
  section of the request body that provides information about the files that are being
  transcoded.\";}s:6:\"Output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CreateJobOutput\";s:11:\"description\";s:203:\"
  A section of the request body that provides information about the transcoded (target)
  file. We strongly recommend that you use the <code>Outputs</code> syntax instead
  of the <code>Output</code> syntax. \";}s:15:\"OutputKeyPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Key\";s:11:\"description\";s:162:\"The
  value, if any, that you want Elastic Transcoder to prepend to the names of all files
  that this job creates, including output files, thumbnails, and playlists.\";}s:7:\"Outputs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CreateJobOutputs\";s:11:\"description\";s:195:\"
  A section of the request body that provides information about the transcoded (target)
  files. We recommend that you use the <code>Outputs</code> syntax instead of the
  <code>Output</code> syntax. \";}s:10:\"PipelineId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:295:\"The
  <code>Id</code> of the pipeline that you want Elastic Transcoder to use for transcoding.
  The pipeline determines several settings, including the Amazon S3 bucket from which
  Elastic Transcoder gets the files to transcode and the bucket into which Elastic
  Transcoder puts the transcoded files.\";}s:9:\"Playlists\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CreateJobPlaylists\";s:11:\"description\";s:307:\"<p>If
  you specify a preset in <code>PresetId</code> for which the value of <code>Container</code>
  is fmp4 (Fragmented MP4) or ts (MPEG-TS), Playlists contains information about the
  master playlists that you want Elastic Transcoder to create.</p> <p>The maximum
  number of master playlists in a job is 30.</p>\";}s:12:\"UserMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UserMetadata\";s:11:\"description\";s:327:\"User-defined
  metadata that you want to associate with an Elastic Transcoder job. You specify
  metadata in <code>key/value</code> pairs, and you can add up to 10 <code>key/value</code>
  pairs per job. Elastic Transcoder does not guarantee that <code>key/value</code>
  pairs are returned in the same order in which you specify them.\";}}s:8:\"required\";a:1:{i:0;s:10:\"PipelineId\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateJobResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  CreateJobResponse structure.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"Job\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Job\";s:11:\"description\";s:87:\"A
  section of the response body that provides information about the job that is created.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreatePipelineRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  <code>CreatePipelineRequest</code> structure.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"AwsKmsKeyArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/KeyArn\";s:11:\"description\";s:538:\"<p>The
  AWS Key Management Service (AWS KMS) key that you want to use with this pipeline.</p>
  <p>If you use either <code>S3</code> or <code>S3-AWS-KMS</code> as your <code>Encryption:Mode</code>,
  you don't need to provide a key with your job because a default key, known as an
  AWS-KMS key, is created for you automatically. You need to provide an AWS-KMS key
  only if you want to use a non-default AWS-KMS key, or if you are using an <code>Encryption:Mode</code>
  of <code>AES-PKCS7</code>, <code>AES-CTR</code>, or <code>AES-GCM</code>.</p>\";}s:13:\"ContentConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PipelineOutputConfig\";s:11:\"description\";s:3680:\"<p>The
  optional <code>ContentConfig</code> object specifies information about the Amazon
  S3 bucket in which you want Elastic Transcoder to save transcoded files and playlists:
  which bucket to use, which users you want to have access to the files, the type
  of access you want users to have, and the storage class that you want to assign
  to the files.</p> <p>If you specify values for <code>ContentConfig</code>, you must
  also specify values for <code>ThumbnailConfig</code>.</p> <p>If you specify values
  for <code>ContentConfig</code> and <code>ThumbnailConfig</code>, omit the <code>OutputBucket</code>
  object.</p> <ul> <li> <p> <b>Bucket</b>: The Amazon S3 bucket in which you want
  Elastic Transcoder to save transcoded files and playlists.</p> </li> <li> <p> <b>Permissions</b>
  (Optional): The Permissions object specifies which users you want to have access
  to transcoded files and the type of access you want them to have. You can grant
  permissions to a maximum of 30 users and/or predefined Amazon S3 groups.</p> </li>
  <li> <p> <b>Grantee Type</b>: Specify the type of value that appears in the <code>Grantee</code>
  object: </p> <ul> <li> <p> <b>Canonical</b>: The value in the <code>Grantee</code>
  object is either the canonical user ID for an AWS account or an origin access identity
  for an Amazon CloudFront distribution. For more information about canonical user
  IDs, see Access Control List (ACL) Overview in the Amazon Simple Storage Service
  Developer Guide. For more information about using CloudFront origin access identities
  to require that users use CloudFront URLs instead of Amazon S3 URLs, see Using an
  Origin Access Identity to Restrict Access to Your Amazon S3 Content.</p> <important>
  <p>A canonical user ID is not the same as an AWS account number.</p> </important>
  </li> <li> <p> <b>Email</b>: The value in the <code>Grantee</code> object is the
  registered email address of an AWS account.</p> </li> <li> <p> <b>Group</b>: The
  value in the <code>Grantee</code> object is one of the following predefined Amazon
  S3 groups: <code>AllUsers</code>, <code>AuthenticatedUsers</code>, or <code>LogDelivery</code>.</p>
  </li> </ul> </li> <li> <p> <b>Grantee</b>: The AWS user or group that you want to
  have access to transcoded files and playlists. To identify the user or group, you
  can specify the canonical user ID for an AWS account, an origin access identity
  for a CloudFront distribution, the registered email address of an AWS account, or
  a predefined Amazon S3 group </p> </li> <li> <p> <b>Access</b>: The permission that
  you want to give to the AWS user that you specified in <code>Grantee</code>. Permissions
  are granted on the files that Elastic Transcoder adds to the bucket, including playlists
  and video files. Valid values include: </p> <ul> <li> <p> <code>READ</code>: The
  grantee can read the objects and metadata for objects that Elastic Transcoder adds
  to the Amazon S3 bucket.</p> </li> <li> <p> <code>READ_ACP</code>: The grantee can
  read the object ACL for objects that Elastic Transcoder adds to the Amazon S3 bucket.</p>
  </li> <li> <p> <code>WRITE_ACP</code>: The grantee can write the ACL for the objects
  that Elastic Transcoder adds to the Amazon S3 bucket.</p> </li> <li> <p> <code>FULL_CONTROL</code>:
  The grantee has <code>READ</code>, <code>READ_ACP</code>, and <code>WRITE_ACP</code>
  permissions for the objects that Elastic Transcoder adds to the Amazon S3 bucket.</p>
  </li> </ul> </li> <li> <p> <b>StorageClass</b>: The Amazon S3 storage class, <code>Standard</code>
  or <code>ReducedRedundancy</code>, that you want Elastic Transcoder to assign to
  the video files and playlists that it stores in your Amazon S3 bucket.</p> </li>
  </ul>\";}s:11:\"InputBucket\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BucketName\";s:11:\"description\";s:83:\"The
  Amazon S3 bucket in which you saved the media files that you want to transcode.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:168:\"<p>The
  name of the pipeline. We recommend that the name be unique within the AWS account,
  but uniqueness is not enforced.</p> <p>Constraints: Maximum 40 characters.</p>\";}s:13:\"Notifications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/Notifications\";s:11:\"description\";s:1390:\"<p>The
  Amazon Simple Notification Service (Amazon SNS) topic that you want to notify to
  report job status.</p> <important> <p>To receive notifications, you must also subscribe
  to the new topic in the Amazon SNS console.</p> </important> <ul> <li> <p> <b>Progressing</b>:
  The topic ARN for the Amazon Simple Notification Service (Amazon SNS) topic that
  you want to notify when Elastic Transcoder has started to process a job in this
  pipeline. This is the ARN that Amazon SNS returned when you created the topic. For
  more information, see Create a Topic in the Amazon Simple Notification Service Developer
  Guide.</p> </li> <li> <p> <b>Completed</b>: The topic ARN for the Amazon SNS topic
  that you want to notify when Elastic Transcoder has finished processing a job in
  this pipeline. This is the ARN that Amazon SNS returned when you created the topic.</p>
  </li> <li> <p> <b>Warning</b>: The topic ARN for the Amazon SNS topic that you want
  to notify when Elastic Transcoder encounters a warning condition while processing
  a job in this pipeline. This is the ARN that Amazon SNS returned when you created
  the topic.</p> </li> <li> <p> <b>Error</b>: The topic ARN for the Amazon SNS topic
  that you want to notify when Elastic Transcoder encounters an error condition while
  processing a job in this pipeline. This is the ARN that Amazon SNS returned when
  you created the topic.</p> </li> </ul>\";}s:12:\"OutputBucket\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BucketName\";s:11:\"description\";s:1290:\"<p>The
  Amazon S3 bucket in which you want Elastic Transcoder to save the transcoded files.
  (Use this, or use ContentConfig:Bucket plus ThumbnailConfig:Bucket.)</p> <p>Specify
  this value when all of the following are true:</p> <ul> <li> <p>You want to save
  transcoded files, thumbnails (if any), and playlists (if any) together in one bucket.</p>
  </li> <li> <p>You do not want to specify the users or groups who have access to
  the transcoded files, thumbnails, and playlists.</p> </li> <li> <p>You do not want
  to specify the permissions that Elastic Transcoder grants to the files. </p> <important>
  <p>When Elastic Transcoder saves files in <code>OutputBucket</code>, it grants full
  control over the files only to the AWS account that owns the role that is specified
  by <code>Role</code>.</p> </important> </li> <li> <p>You want to associate the transcoded
  files and thumbnails with the Amazon S3 Standard storage class.</p> </li> </ul>
  <p>If you want to save transcoded files and playlists in one bucket and thumbnails
  in another bucket, specify which users can access the transcoded files or the permissions
  the users have, or change the Amazon S3 storage class, omit <code>OutputBucket</code>
  and specify values for <code>ContentConfig</code> and <code>ThumbnailConfig</code>
  instead.</p>\";}s:4:\"Role\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Role\";s:11:\"description\";s:111:\"The
  IAM Amazon Resource Name (ARN) for the role that you want Elastic Transcoder to
  use to create the pipeline.\";}s:15:\"ThumbnailConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PipelineOutputConfig\";s:11:\"description\";s:3305:\"<p>The
  <code>ThumbnailConfig</code> object specifies several values, including the Amazon
  S3 bucket in which you want Elastic Transcoder to save thumbnail files, which users
  you want to have access to the files, the type of access you want users to have,
  and the storage class that you want to assign to the files.</p> <p>If you specify
  values for <code>ContentConfig</code>, you must also specify values for <code>ThumbnailConfig</code>
  even if you don't want to create thumbnails.</p> <p>If you specify values for <code>ContentConfig</code>
  and <code>ThumbnailConfig</code>, omit the <code>OutputBucket</code> object.</p>
  <ul> <li> <p> <b>Bucket</b>: The Amazon S3 bucket in which you want Elastic Transcoder
  to save thumbnail files.</p> </li> <li> <p> <b>Permissions</b> (Optional): The <code>Permissions</code>
  object specifies which users and/or predefined Amazon S3 groups you want to have
  access to thumbnail files, and the type of access you want them to have. You can
  grant permissions to a maximum of 30 users and/or predefined Amazon S3 groups.</p>
  </li> <li> <p> <b>GranteeType</b>: Specify the type of value that appears in the
  Grantee object: </p> <ul> <li> <p> <b>Canonical</b>: The value in the <code>Grantee</code>
  object is either the canonical user ID for an AWS account or an origin access identity
  for an Amazon CloudFront distribution.</p> <important> <p>A canonical user ID is
  not the same as an AWS account number.</p> </important> </li> <li> <p> <b>Email</b>:
  The value in the <code>Grantee</code> object is the registered email address of
  an AWS account. </p> </li> <li> <p> <b>Group</b>: The value in the <code>Grantee</code>
  object is one of the following predefined Amazon S3 groups: <code>AllUsers</code>,
  <code>AuthenticatedUsers</code>, or <code>LogDelivery</code>.</p> </li> </ul> </li>
  <li> <p> <b>Grantee</b>: The AWS user or group that you want to have access to thumbnail
  files. To identify the user or group, you can specify the canonical user ID for
  an AWS account, an origin access identity for a CloudFront distribution, the registered
  email address of an AWS account, or a predefined Amazon S3 group. </p> </li> <li>
  <p> <b>Access</b>: The permission that you want to give to the AWS user that you
  specified in <code>Grantee</code>. Permissions are granted on the thumbnail files
  that Elastic Transcoder adds to the bucket. Valid values include: </p> <ul> <li>
  <p> <code>READ</code>: The grantee can read the thumbnails and metadata for objects
  that Elastic Transcoder adds to the Amazon S3 bucket.</p> </li> <li> <p> <code>READ_ACP</code>:
  The grantee can read the object ACL for thumbnails that Elastic Transcoder adds
  to the Amazon S3 bucket.</p> </li> <li> <p> <code>WRITE_ACP</code>: The grantee
  can write the ACL for the thumbnails that Elastic Transcoder adds to the Amazon
  S3 bucket.</p> </li> <li> <p> <code>FULL_CONTROL</code>: The grantee has <code>READ</code>,
  <code>READ_ACP</code>, and <code>WRITE_ACP</code> permissions for the thumbnails
  that Elastic Transcoder adds to the Amazon S3 bucket.</p> </li> </ul> </li> <li>
  <p> <b>StorageClass</b>: The Amazon S3 storage class, <code>Standard</code> or <code>ReducedRedundancy</code>,
  that you want Elastic Transcoder to assign to the thumbnails that it stores in your
  Amazon S3 bucket.</p> </li> </ul>\";}}s:8:\"required\";a:3:{i:0;s:4:\"Name\";i:1;s:11:\"InputBucket\";i:2;s:4:\"Role\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreatePipelineResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"When
  you create a pipeline, Elastic Transcoder returns the values that you specified
  in the request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Pipeline\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Pipeline\";s:11:\"description\";s:92:\"A
  section of the response body that provides information about the pipeline that is
  created.\";}s:8:\"Warnings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Warnings\";s:11:\"description\";s:311:\"<p>Elastic
  Transcoder returns a warning if the resources used by your pipeline are not in the
  same region as the pipeline.</p> <p>Using resources in the same region, such as
  your Amazon S3 buckets, Amazon SNS notification topics, and AWS KMS key, reduces
  processing time and prevents cross-regional charges.</p>\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreatePresetRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  <code>CreatePresetRequest</code> structure.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"Audio\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AudioParameters\";s:11:\"description\";s:66:\"A
  section of the request body that specifies the audio parameters.\";}s:9:\"Container\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PresetContainer\";s:11:\"description\";s:282:\"The
  container type for the output file. Valid values include <code>flac</code>, <code>flv</code>,
  <code>fmp4</code>, <code>gif</code>, <code>mp3</code>, <code>mp4</code>, <code>mpg</code>,
  <code>mxf</code>, <code>oga</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:28:\"A
  description of the preset.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:116:\"The
  name of the preset. We recommend that the name be unique within the AWS account,
  but uniqueness is not enforced.\";}s:10:\"Thumbnails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Thumbnails\";s:11:\"description\";s:78:\"A
  section of the request body that specifies the thumbnail parameters, if any.\";}s:5:\"Video\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VideoParameters\";s:11:\"description\";s:66:\"A
  section of the request body that specifies the video parameters.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:9:\"Container\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreatePresetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  <code>CreatePresetResponse</code> structure.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Preset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Preset\";s:11:\"description\";s:90:\"A
  section of the response body that provides information about the preset that is
  created.\";}s:7:\"Warning\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:287:\"If
  the preset settings don't comply with the standards for the video codec but Elastic
  Transcoder created the preset, this message explains the reason the preset settings
  don't meet the standard. Elastic Transcoder created the preset because the settings
  might produce acceptable output.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DeletePipelineRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  <code>DeletePipelineRequest</code> structure.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"DeletePipelineResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  <code>DeletePipelineResponse</code> structure.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeletePresetRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  <code>DeletePresetRequest</code> structure.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DeletePresetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  <code>DeletePresetResponse</code> structure.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"Description\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:18:\"DetectedProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  detected properties of the input file. Elastic Transcoder identifies these values
  from the input file.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"DurationMillis\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NullableLong\";s:11:\"description\";s:57:\"The
  detected duration of the input file, in milliseconds.\";}s:8:\"FileSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NullableLong\";s:11:\"description\";s:51:\"The
  detected file size of the input file, in bytes.\";}s:9:\"FrameRate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FloatString\";s:11:\"description\";s:64:\"The
  detected frame rate of the input file, in frames per second.\";}s:6:\"Height\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:49:\"The
  detected height of the input file, in pixels.\";}s:5:\"Width\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:48:\"The
  detected width of the input file, in pixels.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Digits\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:9:\"^\\d{1,5}$\";s:4:\"type\";s:6:\"string\";}s:12:\"DigitsOrAuto\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:20:\"(^auto$)|(^\\d{2,4}$)\";s:4:\"type\";s:6:\"string\";}s:10:\"Encryption\";O:8:\"stdClass\":3:{s:11:\"description\";s:322:\"The
  encryption settings, if any, that are used for decrypting your input files or encrypting
  your output files. If your input file is encrypted, you must specify the mode that
  Elastic Transcoder uses to decrypt your file, otherwise you must specify the mode
  you want Elastic Transcoder to use to encrypt your output files.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"InitializationVector\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ZeroTo255String\";s:11:\"description\";s:330:\"The
  series of random bits created by a random bit generator, unique for every encryption
  operation, that you used to encrypt your input files or that you want Elastic Transcoder
  to use to encrypt your output files. The initialization vector must be base64-encoded,
  and it must be exactly 16 bytes long before being base64-encoded.\";}s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/Base64EncodedString\";s:11:\"description\";s:400:\"<p>The
  data encryption key that you want Elastic Transcoder to use to encrypt your output
  file, or that was used to encrypt your input file. The key must be base64-encoded
  and it must be one of the following bit lengths before being base64-encoded:</p>
  <p> <code>128</code>, <code>192</code>, or <code>256</code>. </p> <p>The key must
  also be encrypted by using the Amazon Key Management Service.</p>\";}s:6:\"KeyMd5\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/Base64EncodedString\";s:11:\"description\";s:346:\"The
  MD5 digest of the key that you used to encrypt your input file, or that you want
  Elastic Transcoder to use to encrypt your output file. Elastic Transcoder uses the
  key digest as a checksum to make sure your key was not corrupted in transit. The
  key MD5 must be base64-encoded, and it must be exactly 16 bytes long before being
  base64-encoded.\";}s:4:\"Mode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/EncryptionMode\";s:11:\"description\";s:1523:\"<p>The
  specific server-side encryption mode that you want Elastic Transcoder to use when
  decrypting your input files or encrypting your output files. Elastic Transcoder
  supports the following options:</p> <ul> <li> <p> <b>S3:</b> Amazon S3 creates and
  manages the keys used for encrypting your files.</p> </li> <li> <p> <b>S3-AWS-KMS:</b>
  Amazon S3 calls the Amazon Key Management Service, which creates and manages the
  keys that are used for encrypting your files. If you specify <code>S3-AWS-KMS</code>
  and you don't want to use the default key, you must add the AWS-KMS key that you
  want to use to your pipeline.</p> </li> <li> <p> <b>AES-CBC-PKCS7:</b> A padded
  cipher-block mode of operation originally used for HLS files.</p> </li> <li> <p>
  <b>AES-CTR:</b> AES Counter Mode.</p> </li> <li> <p> <b>AES-GCM:</b> AES Galois
  Counter Mode, a mode of operation that is an authenticated encryption format, meaning
  that a file, key, or initialization vector that has been tampered with fails the
  decryption process.</p> </li> </ul> <p>For all three AES options, you must provide
  the following settings, which must be base64-encoded:</p> <ul> <li> <p> <b>Key</b>
  </p> </li> <li> <p> <b>Key MD5</b> </p> </li> <li> <p> <b>Initialization Vector</b>
  </p> </li> </ul> <important> <p>For the AES modes, your private encryption keys
  and your unencrypted data are never stored by AWS; therefore, it is important that
  you safely manage your encryption keys. If you lose them, you won't be able to unencrypt
  your data.</p> </important>\";}}s:4:\"type\";s:6:\"object\";}s:14:\"EncryptionMode\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:63:\"(^s3$)|(^s3-aws-kms$)|(^aes-cbc-pkcs7$)|(^aes-ctr$)|(^aes-gcm$)\";s:4:\"type\";s:6:\"string\";}s:17:\"ExceptionMessages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:8:\"Filename\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:8:\"FixedGOP\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:18:\"(^true$)|(^false$)\";s:4:\"type\";s:6:\"string\";}s:11:\"FloatString\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:21:\"^\\d{1,5}(\\.\\d{0,5})?$\";s:4:\"type\";s:6:\"string\";}s:9:\"FrameRate\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:77:\"(^auto$)|(^10$)|(^15$)|(^23.97$)|(^24$)|(^25$)|(^29.97$)|(^30$)|(^50$)|(^60$)\";s:4:\"type\";s:6:\"string\";}s:7:\"Grantee\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"GranteeType\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:33:\"(^Canonical$)|(^Email$)|(^Group$)\";s:4:\"type\";s:6:\"string\";}s:20:\"HlsContentProtection\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  HLS content protection settings, if any, that you want Elastic Transcoder to apply
  to your output files.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"InitializationVector\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ZeroTo255String\";s:11:\"description\";s:381:\"<p>If
  Elastic Transcoder is generating your key for you, you must leave this field blank.</p>
  <p>The series of random bits created by a random bit generator, unique for every
  encryption operation, that you want Elastic Transcoder to use to encrypt your output
  files. The initialization vector must be base64-encoded, and it must be exactly
  16 bytes before being base64-encoded.</p>\";}s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/Base64EncodedString\";s:11:\"description\";s:351:\"<p>If
  you want Elastic Transcoder to generate a key for you, leave this field blank.</p>
  <p>If you choose to supply your own key, you must encrypt the key by using AWS KMS.
  The key must be base64-encoded, and it must be one of the following bit lengths
  before being base64-encoded:</p> <p> <code>128</code>, <code>192</code>, or <code>256</code>.
  </p>\";}s:6:\"KeyMd5\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/Base64EncodedString\";s:11:\"description\";s:403:\"<p>If
  Elastic Transcoder is generating your key for you, you must leave this field blank.</p>
  <p>The MD5 digest of the key that you want Elastic Transcoder to use to encrypt
  your output file, and that you want Elastic Transcoder to use as a checksum to make
  sure your key was not corrupted in transit. The key MD5 must be base64-encoded,
  and it must be exactly 16 bytes before being base64- encoded.</p>\";}s:16:\"KeyStoragePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/KeyStoragePolicy\";s:11:\"description\";s:293:\"Specify
  whether you want Elastic Transcoder to write your HLS license key to an Amazon S3
  bucket. If you choose <code>WithVariantPlaylists</code>, <code>LicenseAcquisitionUrl</code>
  must be left blank and Elastic Transcoder writes your data key into the same bucket
[...]
