---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:15:\"HighwaysEngland\";}s:5:\"title\";s:20:\"Highways
  England API\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:88:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_HighwaysEngland_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:56:\"http://webtris.highwaysengland.co.uk/api/swagger/docs/v1\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:21:\"highwaysengland.co.uk\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"highwaysengland\";s:4:\"type\";s:7:\"openapi\";}}"
host: webtris.highwaysengland.co.uk
basePath: /api
paths:
  /v{version}/areas:
    get:
      deprecated: false
      parameters:
      - in: path
        name: version
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/AreaResponse'
        400:
          description: Bad request
        500:
          description: Internal Server Error
      summary: Returns list of areas
      tags:
      - Areas
      operationId: vversion.areas.get
  /v{version}/areas/{area_Ids}:
    get:
      deprecated: false
      parameters:
      - in: path
        name: area_Ids
        required: true
        type: string
      - in: path
        name: version
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/AreaResponse'
        400:
          description: Bad request
        500:
          description: Internal Server Error
      summary: Returns details of selected area
      tags:
      - Areas
      operationId: vversion.areas.area_Ids.get
  /v{version}/quality/daily:
    get:
      deprecated: false
      operationId: Quality_GetDailyDataQualityForSite
      parameters:
      - in: query
        name: siteId
        required: true
        type: string
      - description: The start date of the report in the format ddmmyyyy (i.e 31012016)
        in: query
        name: start_date
        required: true
        type: string
      - description: The end date of the report in the format ddmmyyyy (i.e 31012016)
        in: query
        name: end_date
        required: true
        type: string
      - in: path
        name: version
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/DailyQualityResponse'
        400:
          description: Bad request
        500:
          description: Internal Server Error
      summary: Get Site DailyQuality
      tags:
      - Quality
  /v{version}/quality/overall:
    get:
      deprecated: false
      operationId: Quality_GetOverallDataQualityForSites
      parameters:
      - description: Get site quality by site id delimited by ,
        in: query
        name: sites
        required: true
        type: string
      - description: The start date of the report in the format ddmmyyyy (i.e 31012016)
        in: query
        name: start_date
        required: true
        type: string
      - description: The end date of the report in the format ddmmyyyy (i.e 31012016)
        in: query
        name: end_date
        required: true
        type: string
      - in: path
        name: version
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/OverallQualityResponse'
        400:
          description: Bad request
        500:
          description: Internal Server Error
      summary: Get Site OverallQuality
      tags:
      - Quality
  /v{version}/reports/{report_type}:
    get:
      deprecated: false
      description: Get's the report.
      parameters:
      - description: Report Type Id (i.e Daily, Monthly, Annual)
        in: path
        name: report_type
        required: true
        type: string
      - description: Comma separated list of site Ids.
        in: query
        name: sites
        required: true
        type: string
      - description: The start date of the report in the format ddmmyyyy (i.e 31012016)
        in: query
        name: start_date
        required: true
        type: string
      - description: The end date of the report in the format ddmmyyyy (i.e 31012016)
        in: query
        name: end_date
        required: true
        type: string
      - description: The page offset to return.
        format: int32
        in: query
        name: page
        required: true
        type: integer
      - description: The number of rows to return.
        format: int32
        in: query
        name: page_size
        required: true
        type: integer
      - format: int32
        in: query
        name: reportSubTypeId
        required: false
        type: integer
      - in: path
        name: version
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Object'
        400:
          description: Bad request
        500:
          description: Internal Server Error
      summary: Gets the daily report.
      tags:
      - Reports
      operationId: vversion.reports.report_type.get
  /v{version}/reports/{start_date}/to/{end_date}/{report_type}:
    get:
      deprecated: false
      description: Get's the report.
      parameters:
      - description: Report Type Id (i.e Daily, Monthly, Annual)
        in: path
        name: report_type
        required: true
        type: string
      - description: Comma separated list of site Ids.
        in: query
        name: sites
        required: true
        type: string
      - description: The start date of the report in the format ddmmyyyy (i.e 31012016)
        in: path
        name: start_date
        required: true
        type: string
      - description: The end date of the report in the format ddmmyyyy (i.e 31012016)
        in: path
        name: end_date
        required: true
        type: string
      - description: The page offset to return.
        format: int32
        in: query
        name: page
        required: true
        type: integer
      - description: The number of rows to return.
        format: int32
        in: query
        name: page_size
        required: true
        type: integer
      - format: int32
        in: query
        name: reportSubTypeId
        required: false
        type: integer
      - in: path
        name: version
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Object'
        400:
          description: Bad request
        500:
          description: Internal Server Error
      summary: Gets the daily report.
      tags:
      - Reports
      operationId: vversion.reports.start_date.to.end_date.report_type.get
  /v{version}/sites:
    get:
      deprecated: false
      parameters:
      - in: path
        name: version
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/SiteResponse'
        400:
          description: Bad request
        500:
          description: Internal Server Error
      summary: Get a list of sites
      tags:
      - Sites
      operationId: vversion.sites.get
  /v{version}/sites/{site_Ids}:
    get:
      deprecated: false
      parameters:
      - description: site id
        in: path
        name: site_Ids
        required: true
        type: string
      - in: path
        name: version
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/SiteResponse'
        400:
          description: Bad request
        500:
          description: Internal Server Error
      summary: Get selected sites
      tags:
      - Sites
      operationId: vversion.sites.site_Ids.get
  /v{version}/sitetypes:
    get:
      deprecated: false
      operationId: SiteTypes_Index
      parameters:
      - in: path
        name: version
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/SiteTypeResponse'
        400:
          description: Bad request
        500:
          description: Internal Server Error
      summary: Return list of site types
      tags:
      - SiteTypes
  /v{version}/sitetypes/{siteType_Id}/sites:
    get:
      deprecated: false
      operationId: SiteTypes_GetSitesForPublicFacingAPI
      parameters:
      - description: 1 = MIDAS, 2 = TAME, 3 = TMU, 4 = TRADS Legacy
        format: int32
        in: path
        name: siteType_Id
        required: true
        type: integer
      - in: path
        name: version
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/SiteTypeLayer'
        400:
          description: Bad request
        404:
          description: Layer not found
        500:
          description: Internal Server Error
      summary: Returns the layer metadata for the LayerId specified.
      tags:
      - SiteTypes
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":12:{s:4:\"Area\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"XLatitude\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:88:\"^(\\+|-)?(?:180(?:(?:\\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\\.[0-9]{1,15})?))$\";s:4:\"type\";s:6:\"string\";}s:10:\"XLongitude\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:75:\"^(\\+|-)?(?:90(?:(?:\\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\\.[0-9]{1,15})?))$\";s:4:\"type\";s:6:\"string\";}s:9:\"YLatitude\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:88:\"^(\\+|-)?(?:180(?:(?:\\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\\.[0-9]{1,15})?))$\";s:4:\"type\";s:6:\"string\";}s:10:\"YLongitude\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:75:\"^(\\+|-)?(?:90(?:(?:\\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\\.[0-9]{1,15})?))$\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:4:\"Name\";i:1;s:11:\"Description\";i:2;s:10:\"XLongitude\";i:3;s:9:\"XLatitude\";i:4;s:10:\"YLongitude\";i:5;s:9:\"YLatitude\";}s:4:\"type\";s:6:\"object\";}s:12:\"AreaResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"areas\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Area\";}s:4:\"type\";s:5:\"array\";}s:9:\"row_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DailyQualityResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"Qualities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Qualities\";}s:4:\"type\";s:5:\"array\";}s:9:\"row_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Object\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"OverallQualityResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"data_quality\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"end_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"row_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"sites\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"start_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Qualities\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Quality\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"SiteResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"row_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"sites\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SiteResult\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"SiteResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Latitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"Longitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"SiteType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SiteTypeLayer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Sites\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Sites\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"SiteTypeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"row_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"sitetypes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/SiteType\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Sites\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"Active\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";s:5:\"array\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"Lattitude\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:9:\"Longitude\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:6:\"SiteId\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
