---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Access to ELXIR
  benchmarking data store\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:44:\"ELIXIR
  Benchmarking platform. Data Store API\";}"
host: elixir.bsc.es
basePath: /benchmarking
paths:
  /Community.{fmt}:
    get:
      tags:
      - Community
      summary: Benchmarking Communities
      description: Information about Benchmarking communitites affiliated at the platform
      produces:
      - application/json
      - text/xml
      - text/html
      - text/plain
      parameters:
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: query
        in: query
        description: Text Search query
        required: false
        type: string
      responses:
        200:
          description: An array of Communities
          schema:
            type: array
            items:
              $ref: '#/definitions/Community'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /Community/{id}.{fmt}:
    get:
      tags:
      - Community
      summary: A benchmarking Community
      description: Info about a given benchmarking community
      parameters:
      - name: id
        in: path
        description: Unique Id of the community
        required: true
        type: string
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: extended
        in: query
        description: Provide extended information by denormalizing internal ids
        required: false
        type: boolean
      responses:
        200:
          description: a Community object
          schema:
            $ref: '#/definitions/Community'
        404:
          description: Community Id not found Error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /CommunityStatus.{fmt}:
    get:
      tags:
      - Community
      summary: Possible Status for Benchmarking Communities
      description: Possible values for Benchmarking communitites statuses
      produces:
      - application/json
      - text/xml
      - text/html
      - text/plain
      parameters:
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: query
        in: query
        description: Text Search query
        required: false
        type: string
      responses:
        200:
          description: An array of Communities Status
          schema:
            type: array
            items:
              $ref: '#/definitions/CommunityStatus'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /CommunityStatus/{id}.{fmt}:
    get:
      tags:
      - Community
      summary: Possible Status for Benchmarking Communities
      description: Possible values for Benchmarking communitites statuses
      produces:
      - application/json
      - text/xml
      - text/html
      parameters:
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      responses:
        200:
          description: Description of a Community Status
          schema:
            $ref: '#/definitions/CommunityStatus'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /BenchmarkingEvent.{fmt}:
    get:
      tags:
      - Events
      summary: Benchmarking Events
      description: Information about Benchmarking Events organized by Communitites
        affiliated at the platform
      produces:
      - application/json
      - text/xml
      - text/html
      - text/plain
      parameters:
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: query
        in: query
        description: Text Search query
        required: false
        type: string
      responses:
        200:
          description: An array of Benchmarking Events
          schema:
            type: array
            items:
              $ref: '#/definitions/CommunityStatus'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /BenchmarkingEvent/{id}.{fmt}:
    get:
      tags:
      - Community
      summary: A benchmarking Event
      description: Info about a given benchmarking Event
      parameters:
      - name: id
        in: path
        description: Unique Id of the Benchmarking Event
        required: true
        type: string
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: extended
        in: query
        description: Provide extended information by denormalizing internal ids
        required: false
        type: boolean
      responses:
        200:
          description: a Benchmarking Event object
          schema:
            $ref: '#/definitions/BenchmarkingEvent'
        404:
          description: Event Id not found Error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /Contact.{fmt}:
    get:
      tags:
      - Contacts
      summary: Contact persons
      description: Information about Contact personso from the Communities affiliated
        at the platform
      produces:
      - application/json
      - text/xml
      - text/html
      - text/plain
      parameters:
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: query
        in: query
        description: Text Search query
        required: false
        type: string
      responses:
        200:
          description: An array of Benchmarking Events
          schema:
            type: array
            items:
              $ref: '#/definitions/Contact'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /Contact/{id}.{fmt}:
    get:
      tags:
      - Contacts
      summary: Contact Data
      description: Info about a Contact
      parameters:
      - name: id
        in: path
        description: Unique Id of the Contact (givenname.surname)
        required: true
        type: string
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: extended
        in: query
        description: Provide extended information by denormalizing internal ids
        required: false
        type: boolean
      responses:
        200:
          description: a Contact object
          schema:
            $ref: '#/definitions/Contact'
        404:
          description: Contact Id not found Error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /Dataset.{fmt}:
    get:
      tags:
      - Datasets
      summary: Datasets involved in Benchmarking
      description: Information about Datasets used in benchmarking
      produces:
      - application/json
      - text/xml
      - text/html
      - text/plain
      parameters:
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: query
        in: query
        description: Text Search query
        required: false
        type: string
      responses:
        200:
          description: An array of Datasets
          schema:
            type: array
            items:
              $ref: '#/definitions/Dataset'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /Dataset/{id}.{fmt}:
    get:
      tags:
      - Datasets
      summary: Dataset Data
      description: Info about a Dataset
      parameters:
      - name: id
        in: path
        description: Unique Id of the Dataset
        required: true
        type: string
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: extended
        in: query
        description: Provide extended information by denormalizing internal ids
        required: false
        type: boolean
      responses:
        200:
          description: a Dataset object
          schema:
            $ref: '#/definitions/Dataset'
        404:
          description: Dataset Id not found Error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /Metrics.{fmt}:
    get:
      tags:
      - Metrics
      - Datasets
      summary: Metrics used in benchmarking
      description: Information about Metrics used by the Communities affiliated at
        the platform
      produces:
      - application/json
      - text/xml
      - text/html
      - text/plain
      parameters:
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: query
        in: query
        description: Text Search query
        required: false
        type: string
      responses:
        200:
          description: An array of Metrics
          schema:
            type: array
            items:
              $ref: '#/definitions/Metrics'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /Metrics/{id}.{fmt}:
    get:
      tags:
      - Metrics
      - Datasets
      summary: Metrics Data
      description: Info about a Metrics
      parameters:
      - name: id
        in: path
        description: Unique Id of the Metric
        required: true
        type: string
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: extended
        in: query
        description: Provide extended information by denormalizing internal ids
        required: false
        type: boolean
      responses:
        200:
          description: a Metrics object
          schema:
            $ref: '#/definitions/Metrics'
        404:
          description: Metrics Id not found Error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /Reference.{fmt}:
    get:
      tags:
      - References
      summary: References
      description: Information about published references
      produces:
      - application/json
      - text/xml
      - text/html
      - text/plain
      parameters:
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: query
        in: query
        description: Text Search query
        required: false
        type: string
      responses:
        200:
          description: An array of References
          schema:
            type: array
            items:
              $ref: '#/definitions/Reference'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /Reference/{id}.{fmt}:
    get:
      tags:
      - References
      summary: Reference Data
      description: Info about a Reference
      parameters:
      - name: id
        in: path
        description: Unique Id of the Reference (DOI)
        required: true
        type: string
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: extended
        in: query
        description: Provide extended information by denormalizing internal ids
        required: false
        type: boolean
      responses:
        200:
          description: a Reference object
          schema:
            $ref: '#/definitions/Reference'
        404:
          description: Reference Id not found Error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /TestEvent.{fmt}:
    get:
      tags:
      - Events
      summary: Test Events (input + tool -> output)
      description: Information about Performed tests
      produces:
      - application/json
      - text/xml
      - text/html
      - text/plain
      parameters:
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: query
        in: query
        description: Text Search query
        required: false
        type: string
      responses:
        200:
          description: An array of TestEvents
          schema:
            type: array
            items:
              $ref: '#/definitions/TestEvent'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /TestEvent/{id}.{fmt}:
    get:
      tags:
      - Events
      summary: Test Event Data
      description: Info about a Test Event
      parameters:
      - name: id
        in: path
        description: Unique Id of the TestEvent
        required: true
        type: string
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: extended
        in: query
        description: Provide extended information by denormalizing internal ids
        required: false
        type: boolean
      responses:
        200:
          description: a TestEvent object
          schema:
            $ref: '#/definitions/TestEvent'
        404:
          description: TestEvent Id not found Error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /Tool.{fmt}:
    get:
      tags:
      - Tools
      summary: Tools
      description: Information about Tools
      produces:
      - application/json
      - text/xml
      - text/html
      - text/plain
      parameters:
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: query
        in: query
        description: Text Search query
        required: false
        type: string
      responses:
        200:
          description: An array of Tools
          schema:
            type: array
            items:
              $ref: '#/definitions/Tool'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /Tool/{id}.{fmt}:
    get:
      tags:
      - Tools
      summary: Tool Data
      description: Info about a Tool
      parameters:
      - name: id
        in: path
        description: Unique Id of the Tool
        required: true
        type: string
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: extended
        in: query
        description: Provide extended information by denormalizing internal ids
        required: false
        type: boolean
      responses:
        200:
          description: a Tool object
          schema:
            $ref: '#/definitions/Tool'
        404:
          description: Tool Id not found Error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /ToolStatus.{fmt}:
    get:
      tags:
      - Tools
      summary: Tool Statuses
      description: Information about Tools Status
      produces:
      - application/json
      - text/xml
      - text/html
      - text/plain
      parameters:
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: query
        in: query
        description: Text Search query
        required: false
        type: string
      responses:
        200:
          description: An array of Tools Statuses
          schema:
            type: array
            items:
              $ref: '#/definitions/ToolStatus'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /ToolStatus/{id}.{fmt}:
    get:
      tags:
      - Tools
      summary: ToolStatus Data
      description: Info about a Tool Status
      parameters:
      - name: id
        in: path
        description: Unique Id of the ToolStatus
        required: true
        type: string
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: extended
        in: query
        description: Provide extended information by denormalizing internal ids
        required: false
        type: boolean
      responses:
        200:
          description: a ToolStatus object
          schema:
            $ref: '#/definitions/ToolStatus'
        404:
          description: ToolStatus Id not found Error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /ToolAccessType.{fmt}:
    get:
      tags:
      - Tools
      summary: Tool AccessTypes
      description: Information about Tool AccessTypes
      produces:
      - application/json
      - text/xml
      - text/html
      - text/plain
      parameters:
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: query
        in: query
        description: Text Search query
        required: false
        type: string
      responses:
        200:
          description: An array of Tools AccessTypes
          schema:
            type: array
            items:
              $ref: '#/definitions/ToolAccessType'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /ToolAccessType/{id}.{fmt}:
    get:
      tags:
      - Tools
      summary: ToolAccessType Data
      description: Info about a Tool AccessType
      parameters:
      - name: id
        in: path
        description: Unique Id of the ToolAccessType
        required: true
        type: string
      - name: fmtQuery
        in: query
        description: Output format (tab, json, xml, html)
        required: false
        type: string
      - name: extended
        in: query
        description: Provide extended information by denormalizing internal ids
        required: false
        type: boolean
      responses:
        200:
          description: a ToolStatus object
          schema:
            $ref: '#/definitions/ToolAccessType'
        404:
          description: ToolAccessType Id not found Error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
produces:
- application/json
- text/html
- text/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":34:{s:9:\"Community\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";i:3;s:7:\"acronym\";i:4;s:18:\"community_contacts\";i:5;s:4:\"name\";i:6;s:9:\"status_id\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:105:\"The
  unique id of the community. It should be something unique of the community (for
  instance, an acronym)\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:51:\"The
  document type. In this case, fixed to Community\";s:4:\"enum\";a:1:{i:0;s:9:\"Community\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:20:\"Short
  community name\";s:9:\"minLength\";i:1;}s:7:\"acronym\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"Unique
  community acronym\";s:9:\"minLength\";i:1;}s:9:\"status_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:42:\"_id(s)
  of the current community status(es)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:34:\"Long
  community name or description\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:39:\"Optional
  links related to the community\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Community_links\";}}s:18:\"community_contacts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:90:\"_id
  of the contacts of the responsible researchers in charge of the community coordination\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}}s:5:\"title\";s:62:\"Community
  concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:17:\"BenchmarkingEvent\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";i:3;s:16:\"bench_contact_id\";i:4;s:12:\"community_id\";i:5;s:12:\"is_automated\";i:6;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:106:\"The
  unique id of the benchmarking event. If it is possible, it should be something meaningful,
  like an URL\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:59:\"The
  document type. In this case, fixed to BenchmarkingEvent\";s:4:\"enum\";a:1:{i:0;s:17:\"BenchmarkingEvent\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"Short
  benchmarking event name\";s:9:\"minLength\";i:1;}s:12:\"is_automated\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:5:\"title\";s:27:\"Is
  this an automated event?\";}s:5:\"dates\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Relevant
  dates for this benchmarking event\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:5:\"title\";s:34:\"The
  link to the benchmarking event\";}s:12:\"community_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:54:\"The
  community id where this benchmarking event belongs\";s:9:\"minLength\";i:1;}s:16:\"bench_contact_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:36:\"The
  benchmarking event contact id(s)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:10:\"references\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:47:\"The
  benchmarking event reference id(s) (if any)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}}s:5:\"title\";s:71:\"Benchmarking
  Event concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:7:\"Contact\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";i:3;s:5:\"email\";i:4;s:9:\"givenName\";i:5;s:7:\"surname\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:114:\"The
  unique id of the contact. It should be whatever ELIXIR AAI uses as public unique
  user id (for instance, a URI)\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:49:\"The
  document type. In this case, fixed to Contact\";s:4:\"enum\";a:1:{i:0;s:7:\"Contact\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:9:\"givenName\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:18:\"First
  / given name\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:8:\"minItems\";i:1;}s:7:\"surname\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:10:\"Surname(s)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:8:\"minItems\";i:1;}s:5:\"email\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:37:\"The
  e-mail address(es) of the contact\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";s:9:\"minLength\";i:1;}s:8:\"minItems\";i:1;}s:5:\"notes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:26:\"Comments
  about the contact\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:37:\"Optional
  links related to the contact\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Contact_links\";}}}s:5:\"title\";s:60:\"Contact
  concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:7:\"Dataset\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";i:3;s:18:\"dataset_contact_id\";i:4;s:4:\"name\";i:5;s:4:\"type\";i:6;s:7:\"version\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:82:\"The
  unique id of the dataset. If it is possible, it should be something meaningful\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:49:\"The
  document type. In this case, fixed to Dataset\";s:4:\"enum\";a:1:{i:0;s:7:\"Dataset\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:18:\"Short
  dataset name\";s:9:\"minLength\";i:1;}s:7:\"version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:41:\"Version
  (or relelase date) of the dataset\";s:9:\"minLength\";i:1;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"Long
  dataset description\";}s:5:\"dates\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/Relevant
  dates for this dataset\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Type
  of dataset\";}s:8:\"datalink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:5:\"title\";s:30:\"The
  link to the dataset itself\";}s:18:\"dataset_contact_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:49:\"The
  contact id(s) of the creators of this dataset\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:7:\"metrics\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:49:\"The
  different metrics generated from this dataset\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Dataset_metrics\";}}s:10:\"references\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:44:\"The
  reference id(s) of this dataset (if any)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}}s:5:\"title\";s:60:\"Dataset
  concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:15:\"CommunityStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:105:\"The
  unique id of the community status. It should be something meaningful, like a short
  word or an acronym\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:57:\"The
  document type. In this case, fixed to CommunityStatus\";s:4:\"enum\";a:1:{i:0;s:15:\"CommunityStatus\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:36:\"Description
  of this community status\";}}s:5:\"title\";s:69:\"Community Status concept (ELIXIR-EXCELERATE
  WP2 Benchmarking schemas)\";}s:7:\"Metrics\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";i:3;s:18:\"metrics_contact_id\";i:4;s:5:\"title\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"The
  unique id of the metrics.\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:49:\"The
  document type. In this case, fixed to Metrics\";s:4:\"enum\";a:1:{i:0;s:7:\"Metrics\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:5:\"title\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:18:\"Short
  metrics name\";s:9:\"minLength\";i:1;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"Long
  metrics description\";}s:18:\"metrics_contact_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:49:\"The
  contact id(s) of the creators of this metrics\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:17:\"formal_definition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"Formal
  definition of the metrics\";}s:14:\"execution_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Type
  of execution\";}s:12:\"data_schemas\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"Data
  schemas\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:37:\"Optional
  links related to the metrics\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Metrics_links\";}}s:10:\"references\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:36:\"The
  metrics reference id(s) (if any)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}}s:5:\"title\";s:60:\"Metrics
  concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:9:\"Reference\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:109:\"The
  unique id of the bibliographic reference. It should be something meaningful, like
  its DOI or its PubMedId\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:51:\"The
  document type. In this case, fixed to Reference\";s:4:\"enum\";a:1:{i:0;s:9:\"Reference\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:3:\"doi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:84:\"The
  DOI of the referenced material (in case of books, its ISBN in ISBN-A DOI format)\";}s:9:\"pubmed_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:5:\"title\";s:49:\"The
  PubMed id of the referenced material (if any)\";s:7:\"minimum\";i:1;}s:8:\"abstract\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:51:\"Optionally,
  the abstract of the referenced material\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:53:\"Optional
  links related to the bibliographic reference\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Reference_links\";}}s:7:\"authors\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:51:\"Optional
  list of authors of the referenced material\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Reference_authors\";}}}s:5:\"title\";s:76:\"Bibliographic
  reference concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:9:\"TestEvent\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";i:3;s:21:\"benchmarking_event_id\";i:4;s:16:\"input_dataset_id\";i:5;s:7:\"tool_id\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"The
  unique id of the test event.\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:51:\"The
  document type. In this case, fixed to TestEvent\";s:4:\"enum\";a:1:{i:0;s:9:\"TestEvent\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:7:\"tool_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:42:\"The
  tool id which takes this input dataset\";s:9:\"minLength\";i:1;}s:16:\"input_dataset_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"The
  id of the input dataset\";s:9:\"minLength\";i:1;}s:17:\"output_dataset_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:43:\"The
  id of the output dataset (if available)\";s:9:\"minLength\";i:1;}s:21:\"benchmarking_event_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:68:\"The
  id of the benchmarking event where this test event was generated\";s:9:\"minLength\";i:1;}s:13:\"result_report\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:45:\"Relevant
  information about the status changes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/TestEvent_result_report\";}}s:5:\"dates\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/Relevant
  dates for this test event\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:39:\"Relevant
  metadata used to call the tool\";s:10:\"properties\";O:8:\"stdClass\":0:{}}}s:5:\"title\";s:63:\"Test
  Event concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:14:\"ToolAccessType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:105:\"The
  unique id of the tool access type. It should be something meaningful, like a short
  word or an acronym\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:56:\"The
  document type. In this case, fixed to ToolAccessType\";s:4:\"enum\";a:1:{i:0;s:14:\"ToolAccessType\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:36:\"Description
  of this tool access type\";}}s:5:\"title\";s:69:\"Tool Access Type concept (ELIXIR-EXCELERATE
  WP2 Benchmarking schemas)\";}s:5:\"Tool:\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:9:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";i:3;s:12:\"community_id\";i:4;s:12:\"is_automated\";i:5;s:4:\"name\";i:6;s:9:\"status_id\";i:7;s:11:\"tool_access\";i:8;s:15:\"tool_contact_id\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:103:\"The
  unique id of the tool. It should be something meaningful, like the tool name, its
  uri or an acronym\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:46:\"The
  document type. In this case, fixed to Tool\";s:4:\"enum\";a:1:{i:0;s:4:\"Tool\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:11:\"bioTools_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:5:\"title\";s:62:\"The
  unique id of the tool in EXCELERATE WP1 bio.tools registry\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Short
  tool name\";s:9:\"minLength\";i:1;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"Long
  tool name or description\";}s:12:\"is_automated\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:5:\"title\";s:39:\"Can
  this tool be automatically invoked?\";}s:12:\"community_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:43:\"The
  community id(s) where this tool belongs\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:15:\"tool_contact_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:24:\"The
  tool's contact id(s)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:9:\"status_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:30:\"_id
  of the current tool status\";s:9:\"minLength\";i:1;}s:10:\"references\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:26:\"The
  tool's reference id(s)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:11:\"tool_access\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:26:\"Methods
  to access the tool\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Tool_tool_access\";}}}s:5:\"title\";s:57:\"Tool
  concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:10:\"ToolStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:100:\"The
  unique id of the tool status. It should be something meaningful, like a short word
  or an acronym\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:52:\"The
  document type. In this case, fixed to ToolStatus\";s:4:\"enum\";a:1:{i:0;s:10:\"ToolStatus\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:31:\"Description
  of this tool status\";}}s:5:\"title\";s:64:\"Tool Status concept (ELIXIR-EXCELERATE
  WP2 Benchmarking schemas)\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"tool\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:9:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";i:3;s:12:\"community_id\";i:4;s:12:\"is_automated\";i:5;s:4:\"name\";i:6;s:9:\"status_id\";i:7;s:11:\"tool_access\";i:8;s:15:\"tool_contact_id\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:103:\"The
  unique id of the tool. It should be something meaningful, like the tool name, its
  uri or an acronym\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:46:\"The
  document type. In this case, fixed to Tool\";s:4:\"enum\";a:1:{i:0;s:4:\"Tool\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:11:\"bioTools_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:5:\"title\";s:62:\"The
  unique id of the tool in EXCELERATE WP1 bio.tools registry\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Short
  tool name\";s:9:\"minLength\";i:1;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"Long
  tool name or description\";}s:12:\"is_automated\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:5:\"title\";s:39:\"Can
  this tool be automatically invoked?\";}s:12:\"community_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:43:\"The
  community id(s) where this tool belongs\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:15:\"tool_contact_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:24:\"The
  tool's contact id(s)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:9:\"status_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:30:\"_id
  of the current tool status\";s:9:\"minLength\";i:1;}s:10:\"references\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:26:\"The
  tool's reference id(s)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:11:\"tool_access\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:26:\"Methods
  to access the tool\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Tool_tool_access\";}}}s:5:\"title\";s:57:\"Tool
  concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:10:\"toolStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:100:\"The
  unique id of the tool status. It should be something meaningful, like a short word
  or an acronym\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:52:\"The
  document type. In this case, fixed to ToolStatus\";s:4:\"enum\";a:1:{i:0;s:10:\"ToolStatus\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:31:\"Description
  of this tool status\";}}s:5:\"title\";s:64:\"Tool Status concept (ELIXIR-EXCELERATE
  WP2 Benchmarking schemas)\";}s:7:\"metrics\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";i:3;s:18:\"metrics_contact_id\";i:4;s:5:\"title\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"The
  unique id of the metrics.\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:49:\"The
  document type. In this case, fixed to Metrics\";s:4:\"enum\";a:1:{i:0;s:7:\"Metrics\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:5:\"title\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:18:\"Short
  metrics name\";s:9:\"minLength\";i:1;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"Long
  metrics description\";}s:18:\"metrics_contact_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:49:\"The
  contact id(s) of the creators of this metrics\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:17:\"formal_definition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"Formal
  definition of the metrics\";}s:14:\"execution_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:17:\"Type
  of execution\";}s:12:\"data_schemas\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:12:\"Data
  schemas\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:37:\"Optional
  links related to the metrics\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Metrics_links\";}}s:10:\"references\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:36:\"The
  metrics reference id(s) (if any)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}}s:5:\"title\";s:60:\"Metrics
  concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:9:\"testEvent\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";i:3;s:21:\"benchmarking_event_id\";i:4;s:16:\"input_dataset_id\";i:5;s:7:\"tool_id\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:32:\"The
  unique id of the test event.\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:51:\"The
  document type. In this case, fixed to TestEvent\";s:4:\"enum\";a:1:{i:0;s:9:\"TestEvent\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:7:\"tool_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:42:\"The
  tool id which takes this input dataset\";s:9:\"minLength\";i:1;}s:16:\"input_dataset_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:27:\"The
  id of the input dataset\";s:9:\"minLength\";i:1;}s:17:\"output_dataset_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:43:\"The
  id of the output dataset (if available)\";s:9:\"minLength\";i:1;}s:21:\"benchmarking_event_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:68:\"The
  id of the benchmarking event where this test event was generated\";s:9:\"minLength\";i:1;}s:13:\"result_report\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:45:\"Relevant
  information about the status changes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/TestEvent_result_report\";}}s:5:\"dates\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/Relevant
  dates for this test event\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:39:\"Relevant
  metadata used to call the tool\";s:10:\"properties\";O:8:\"stdClass\":0:{}}}s:5:\"title\";s:63:\"Test
  Event concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:7:\"dataset\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";i:3;s:18:\"dataset_contact_id\";i:4;s:4:\"name\";i:5;s:4:\"type\";i:6;s:7:\"version\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:82:\"The
  unique id of the dataset. If it is possible, it should be something meaningful\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:49:\"The
  document type. In this case, fixed to Dataset\";s:4:\"enum\";a:1:{i:0;s:7:\"Dataset\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:18:\"Short
  dataset name\";s:9:\"minLength\";i:1;}s:7:\"version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:41:\"Version
  (or relelase date) of the dataset\";s:9:\"minLength\";i:1;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"Long
  dataset description\";}s:5:\"dates\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/Relevant
  dates for this dataset\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"Type
  of dataset\";}s:8:\"datalink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:5:\"title\";s:30:\"The
  link to the dataset itself\";}s:18:\"dataset_contact_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:49:\"The
  contact id(s) of the creators of this dataset\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:7:\"metrics\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:49:\"The
  different metrics generated from this dataset\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Dataset_metrics\";}}s:10:\"references\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:44:\"The
  reference id(s) of this dataset (if any)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}}s:5:\"title\";s:60:\"Dataset
  concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:9:\"reference\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:109:\"The
  unique id of the bibliographic reference. It should be something meaningful, like
  its DOI or its PubMedId\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:51:\"The
  document type. In this case, fixed to Reference\";s:4:\"enum\";a:1:{i:0;s:9:\"Reference\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:3:\"doi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:84:\"The
  DOI of the referenced material (in case of books, its ISBN in ISBN-A DOI format)\";}s:9:\"pubmed_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:5:\"title\";s:49:\"The
  PubMed id of the referenced material (if any)\";s:7:\"minimum\";i:1;}s:8:\"abstract\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:51:\"Optionally,
  the abstract of the referenced material\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:53:\"Optional
  links related to the bibliographic reference\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Reference_links\";}}s:7:\"authors\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:51:\"Optional
  list of authors of the referenced material\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Reference_authors\";}}}s:5:\"title\";s:76:\"Bibliographic
  reference concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:15:\"communityStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:105:\"The
  unique id of the community status. It should be something meaningful, like a short
  word or an acronym\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:57:\"The
  document type. In this case, fixed to CommunityStatus\";s:4:\"enum\";a:1:{i:0;s:15:\"CommunityStatus\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:36:\"Description
  of this community status\";}}s:5:\"title\";s:69:\"Community Status concept (ELIXIR-EXCELERATE
  WP2 Benchmarking schemas)\";}s:17:\"benchmarkingEvent\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";i:3;s:16:\"bench_contact_id\";i:4;s:12:\"community_id\";i:5;s:12:\"is_automated\";i:6;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:106:\"The
  unique id of the benchmarking event. If it is possible, it should be something meaningful,
  like an URL\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:59:\"The
  document type. In this case, fixed to BenchmarkingEvent\";s:4:\"enum\";a:1:{i:0;s:17:\"BenchmarkingEvent\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"Short
  benchmarking event name\";s:9:\"minLength\";i:1;}s:12:\"is_automated\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:5:\"title\";s:27:\"Is
  this an automated event?\";}s:5:\"dates\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Relevant
  dates for this benchmarking event\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:5:\"title\";s:34:\"The
  link to the benchmarking event\";}s:12:\"community_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:54:\"The
  community id where this benchmarking event belongs\";s:9:\"minLength\";i:1;}s:16:\"bench_contact_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:36:\"The
  benchmarking event contact id(s)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:10:\"references\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:47:\"The
  benchmarking event reference id(s) (if any)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}}s:5:\"title\";s:71:\"Benchmarking
  Event concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:9:\"community\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";i:3;s:7:\"acronym\";i:4;s:18:\"community_contacts\";i:5;s:4:\"name\";i:6;s:9:\"status_id\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:105:\"The
  unique id of the community. It should be something unique of the community (for
  instance, an acronym)\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:51:\"The
  document type. In this case, fixed to Community\";s:4:\"enum\";a:1:{i:0;s:9:\"Community\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:20:\"Short
  community name\";s:9:\"minLength\";i:1;}s:7:\"acronym\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:24:\"Unique
  community acronym\";s:9:\"minLength\";i:1;}s:9:\"status_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:42:\"_id(s)
  of the current community status(es)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:34:\"Long
  community name or description\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:39:\"Optional
  links related to the community\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Community_links\";}}s:18:\"community_contacts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:90:\"_id
  of the contacts of the responsible researchers in charge of the community coordination\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}}s:5:\"title\";s:62:\"Community
  concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:14:\"toolAccessType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:105:\"The
  unique id of the tool access type. It should be something meaningful, like a short
  word or an acronym\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:56:\"The
  document type. In this case, fixed to ToolAccessType\";s:4:\"enum\";a:1:{i:0;s:14:\"ToolAccessType\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:36:\"Description
  of this tool access type\";}}s:5:\"title\";s:69:\"Tool Access Type concept (ELIXIR-EXCELERATE
  WP2 Benchmarking schemas)\";}s:7:\"contact\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:3:\"_id\";i:1;s:5:\"_type\";i:2;s:8:\"_version\";i:3;s:5:\"email\";i:4;s:9:\"givenName\";i:5;s:7:\"surname\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:114:\"The
  unique id of the contact. It should be whatever ELIXIR AAI uses as public unique
  user id (for instance, a URI)\";s:9:\"minLength\";i:1;}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:49:\"The
  document type. In this case, fixed to Contact\";s:4:\"enum\";a:1:{i:0;s:7:\"Contact\";}}s:8:\"_version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:53:\"The
  document type version. In this case, fixed to 0.2\";s:4:\"enum\";a:1:{i:0;s:3:\"0.2\";}}s:9:\"givenName\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:18:\"First
  / given name\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:8:\"minItems\";i:1;}s:7:\"surname\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:10:\"Surname(s)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:8:\"minItems\";i:1;}s:5:\"email\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:37:\"The
  e-mail address(es) of the contact\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";s:9:\"minLength\";i:1;}s:8:\"minItems\";i:1;}s:5:\"notes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:26:\"Comments
  about the contact\";}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:37:\"Optional
  links related to the contact\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Contact_links\";}}}s:5:\"title\";s:60:\"Contact
  concept (ELIXIR-EXCELERATE WP2 Benchmarking schemas)\";}s:15:\"Community_links\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:5:\"label\";i:1;s:3:\"uri\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"uri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:5:\"title\";s:44:\"The
  URI of the link related to the community\";}s:5:\"label\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"The
  type of URI\";s:4:\"enum\";a:4:{i:0;s:14:\"PublicationDOI\";i:1;s:13:\"LinkedInGroup\";i:2;s:8:\"MainSite\";i:3;s:8:\"DataSite\";}}}}s:42:\"Relevant
  dates for this benchmarking event\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:15:\"benchmark_start\";i:1;s:14:\"benchmark_stop\";i:2;s:8:\"creation\";i:3;s:12:\"modification\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"creation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:39:\"Creation
  date of the benchmarking event\";}s:12:\"modification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:48:\"Last
  modification date of the benchmarking event\";}s:15:\"benchmark_start\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:35:\"When
  starts the benchmarking event?\";}s:14:\"benchmark_stop\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:34:\"When
  stops the benchmarking event?\";}}}s:13:\"Contact_links\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:5:\"label\";i:1;s:3:\"uri\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"uri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:5:\"title\";s:42:\"The
  URI of the link related to the contact\";}s:5:\"label\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"The
  type of URI\";s:4:\"enum\";a:4:{i:0;s:14:\"PublicationDOI\";i:1;s:8:\"LinkedIn\";i:2;s:5:\"ORCID\";i:3;s:8:\"MainSite\";}}}}s:31:\"Relevant
  dates for this dataset\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:8:\"creation\";i:1;s:12:\"modification\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"creation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:28:\"Creation
  date of the dataset\";}s:12:\"modification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:37:\"Last
  modification date of the dataset\";}}}s:15:\"Dataset_metrics\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"metrics_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:29:\"The
  id of the metrics as such\";s:9:\"minLength\";i:1;}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:37:\"The
  results obtained from the metrics\";s:10:\"properties\";O:8:\"stdClass\":0:{}}}}s:13:\"Metrics_links\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:5:\"label\";i:1;s:3:\"uri\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"uri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:5:\"title\";s:42:\"The
  URI of the link related to the metrics\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"The
  type of URI\";}}}s:15:\"Reference_links\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:5:\"label\";i:1;s:3:\"uri\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"uri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:5:\"title\";s:58:\"The
  URI of the link related to the bibliographic reference\";}s:5:\"label\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:15:\"The
  type of URI\";s:4:\"enum\";a:4:{i:0;s:14:\"PublicationDOI\";i:1;s:13:\"LinkedInGroup\";i:2;s:8:\"MainSite\";i:3;s:8:\"DataSite\";}}}}s:17:\"Reference_authors\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:9:\"givenName\";i:1;s:7:\"surname\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"givenName\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:32:\"First
  / given name (or initials)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:8:\"minItems\";i:1;}s:7:\"surname\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"title\";s:10:\"Surname(s)\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:8:\"minItems\";i:1;}s:10:\"contact_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:40:\"If
  it is a known contact, its contact id\";s:9:\"minLength\";i:1;}}}s:23:\"TestEvent_result_report\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:5:\"title\";s:13:\"Status
  retval\";}s:11:\"status_date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:28:\"Date
  of the status reception\";}s:6:\"report\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:30:\"Textual
  report for this status\";}}}s:34:\"Relevant dates for this test event\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:8:\"creation\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"creation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:31:\"Creation
  date of the test event\";}s:12:\"modification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:40:\"Last
  modification date of the test event\";}s:9:\"reception\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:98:\"Last
  reception date of the output dataset (redundant, as the output dataset already has
  this date)\";}}}s:16:\"Tool_tool_access\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:19:\"tool_access_type_id\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"tool_access_type_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:23:\"The
  tool access type id\";s:9:\"minLength\";i:1;}s:4:\"link\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:5:\"title\";s:28:\"The
  link to the access point\";}}}}"
...
