---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:10:\"NeblioTeam\";}s:11:\"description\";s:61:\"APIs
  for Interacting with NTP1 Tokens & The Neblio Blockchain\";s:5:\"title\";s:21:\"Neblio
  REST API Suite\";s:7:\"version\";s:5:\"1.2.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:10:\"enterprise\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:83:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_NeblioTeam_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:88:\"https://raw.githubusercontent.com/NeblioTeam/neblio-api-swagger-docs/master/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:7:\"nebl.io\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"nebl\";s:4:\"type\";s:7:\"openapi\";}}"
host: ntp1node.nebl.io
basePath: /
paths:
  /ins/addr/{address}:
    get:
      description: Returns NEBL address object containing information on a specific
        address
      operationId: getAddress
      parameters:
      - description: Address
        in: path
        name: address
        required: true
        type: string
      responses:
        200:
          description: Object containing address info
          schema:
            $ref: '#/definitions/getAddressResponse'
      summary: Returns address object
      tags:
      - Insight
  /ins/addr/{address}/balance:
    get:
      description: Returns NEBL address balance in satoshis
      operationId: getAddressBalance
      parameters:
      - description: Address
        in: path
        name: address
        required: true
        type: string
      responses:
        200:
          description: Address balance
          schema:
            $ref: '#/definitions/getAddressBalanceResponse'
      summary: Returns address balance in sats
      tags:
      - Insight
  /ins/addr/{address}/totalReceived:
    get:
      description: Returns total NEBL received by address in satoshis
      operationId: getAddressTotalReceived
      parameters:
      - description: Address
        in: path
        name: address
        required: true
        type: string
      responses:
        200:
          description: Total received by address
          schema:
            $ref: '#/definitions/getAddressTotalReceivedResponse'
      summary: Returns total received by address in sats
      tags:
      - Insight
  /ins/addr/{address}/totalSent:
    get:
      description: Returns total NEBL sent by address in satoshis
      operationId: getAddressTotalSent
      parameters:
      - description: Address
        in: path
        name: address
        required: true
        type: string
      responses:
        200:
          description: Total sent by address
          schema:
            $ref: '#/definitions/getAddressTotalSentResponse'
      summary: Returns total sent by address in sats
      tags:
      - Insight
  /ins/addr/{address}/unconfirmedBalance:
    get:
      description: Returns NEBL address unconfirmed balance in satoshis
      operationId: getAddressUnconfirmedBalance
      parameters:
      - description: Address
        in: path
        name: address
        required: true
        type: string
      responses:
        200:
          description: Address unconfirmed balance
          schema:
            $ref: '#/definitions/getAddressUnconfirmedBalanceResponse'
      summary: Returns address unconfirmed balance in sats
      tags:
      - Insight
  /ins/addr/{address}/utxo:
    get:
      description: Returns information on each Unspent Transaction Output contained
        at an address
      operationId: getAddressUtxos
      parameters:
      - description: Address
        in: path
        name: address
        required: true
        type: string
      responses:
        200:
          description: UTXOs at an address
          schema:
            $ref: '#/definitions/getAddressUtxosResponse'
      summary: Returns all UTXOs at a given address
      tags:
      - Insight
  /ins/block-index/{blockindex}:
    get:
      description: Returns the block hash of a block at a given block index
      operationId: getBlockIndex
      parameters:
      - description: Block Index
        in: path
        name: blockindex
        required: true
        type: number
      responses:
        200:
          description: Object containing block hash
          schema:
            $ref: '#/definitions/getBlockIndexResponse'
      summary: Returns block hash of block
      tags:
      - Insight
  /ins/block/{blockhash}:
    get:
      description: Returns blockchain data for a given block based upon the block
        hash
      operationId: getBlock
      parameters:
      - description: Block Hash
        in: path
        name: blockhash
        required: true
        type: string
      responses:
        200:
          description: Object containing all information on a blockchain block
          schema:
            $ref: '#/definitions/getBlockResponse'
      summary: Returns information regarding a Neblio block
      tags:
      - Insight
  /ins/rawtx/{txid}:
    get:
      description: Returns raw transaction hex representing a NEBL transaction
      operationId: getRawTx
      parameters:
      - description: Transaction ID
        in: path
        name: txid
        required: true
        type: string
      responses:
        200:
          description: Object containing raw hex of transaction
          schema:
            $ref: '#/definitions/getRawTxResponse'
      summary: Returns raw transaction hex
      tags:
      - Insight
  /ins/status:
    get:
      description: Utility API for calling several blockchain node functions - getInfo,
        getDifficulty, getBestBlockHash, getLastBlockHash
      operationId: getStatus
      parameters:
      - description: Function to call, getInfo, getDifficulty, getBestBlockHash, or
          getLastBlockHash
        in: query
        name: q
        required: false
        type: string
      responses:
        200:
          description: Function Response
          schema:
            $ref: '#/definitions/getStatusResponse'
      summary: Utility API for calling several blockchain node functions
      tags:
      - Insight
  /ins/sync:
    get:
      description: Returns information on the node's sync progress
      operationId: getSync
      responses:
        200:
          description: Sync Info
          schema:
            $ref: '#/definitions/getSyncResponse'
      summary: Get node sync status
      tags:
      - Insight
  /ins/tx/send:
    post:
      description: Broadcasts a signed raw transaction to the network. If successful
        returns the txid of the broadcast trasnaction.n
      operationId: sendTx
      parameters:
      - description: Object representing a transaction to broadcast
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/sendTxRequest'
      responses:
        200:
          description: An object containing the TXID if the broadcast was successful
          schema:
            $ref: '#/definitions/broadcastTxResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Broadcasts a signed raw transaction to the network (not NTP1 specific)
      tags:
      - Insight
  /ins/tx/{txid}:
    get:
      description: Returns NEBL transaction object representing a NEBL transaction
      operationId: getTx
      parameters:
      - description: Transaction ID
        in: path
        name: txid
        required: true
        type: string
      responses:
        200:
          description: Object containing transaction info
          schema:
            $ref: '#/definitions/getTxResponse'
      summary: Returns transaction object
      tags:
      - Insight
  /ins/txs:
    get:
      description: Returns all transactions by block or address
      operationId: getTxs
      parameters:
      - description: Address
        in: query
        name: address
        required: false
        type: string
      - description: Block Hash
        in: query
        name: block
        required: false
        type: string
      - description: Page number to display
        in: query
        name: page
        required: false
        type: number
      responses:
        200:
          description: List of transactions
          schema:
            $ref: '#/definitions/getTxsResponse'
      summary: Get transactions by block or address
      tags:
      - Insight
  /ntp1/addressinfo/{address}:
    get:
      description: Returns both NEBL and NTP1 token UTXOs held at the given address.n
      operationId: getAddressInfo
      parameters:
      - description: Neblio Address to get information on.
        in: path
        name: address
        required: true
        type: string
      responses:
        200:
          description: An object with an array of UTXOs for this address
          schema:
            $ref: '#/definitions/getAddressInfoResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Information On a Neblio Address
      tags:
      - NTP1
  /ntp1/broadcast:
    post:
      description: Broadcasts a signed raw transaction to the network. If successful
        returns the txid of the broadcast trasnaction.n
      operationId: broadcastTx
      parameters:
      - description: Object representing a transaction to broadcast
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/broadcastTxRequest'
      responses:
        200:
          description: An object containing the TXID if the broadcast was successful
          schema:
            $ref: '#/definitions/broadcastTxResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Broadcasts a signed raw transaction to the network
      tags:
      - NTP1
  /ntp1/burntoken:
    post:
      description: Builds an unsigned raw transaction that burns an NTP1 token on
        the Neblio blockchain.n
      operationId: burnToken
      parameters:
      - description: Object representing the token to be burned
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/burnTokenRequest'
      responses:
        200:
          description: An object representing the tx to burn the token
          schema:
            $ref: '#/definitions/burnTokenResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Builds a transaction that burns an NTP1 Token
      tags:
      - NTP1
  /ntp1/issue:
    post:
      description: Builds an unsigned raw transaction that issues a new NTP1 token
        on the Neblio blockchain.n
      operationId: issueToken
      parameters:
      - description: Object representing the token to be created
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/issueTokenRequest'
      responses:
        200:
          description: An object representing the token created
          schema:
            $ref: '#/definitions/issueTokenResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Builds a transaction that issues a new NTP1 Token
      tags:
      - NTP1
  /ntp1/sendtoken:
    post:
      description: Builds an unsigned raw transaction that sends an NTP1 token on
        the Neblio blockchain.n
      operationId: sendToken
      parameters:
      - description: Object representing the token to be sent
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/sendTokenRequest'
      responses:
        200:
          description: An object representing the tx to send the token
          schema:
            $ref: '#/definitions/sendTokenResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Builds a transaction that sends an NTP1 Token
      tags:
      - NTP1
  /ntp1/stakeholders/{tokenid}:
    get:
      description: Returns the the the addresses holding a token and how many tokens
        are heldn
      operationId: getTokenHolders
      parameters:
      - description: TokenId to request metadata for
        in: path
        name: tokenid
        required: true
        type: string
      responses:
        200:
          description: An object containing all of the addresses holding a token
          schema:
            $ref: '#/definitions/getTokenHoldersResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get Addresses Holding a Token
      tags:
      - NTP1
  /ntp1/tokenid/{tokensymbol}:
    get:
      description: Translates a token symbol to a tokenId if a token exists with that
        symbol on the networkn
      operationId: getTokenId
      parameters:
      - description: Token symbol
        in: path
        name: tokensymbol
        required: true
        type: string
      responses:
        200:
          description: Object containing the token symbol and ID, if token symbol
            does not exist on network, empty object is returned.
          schema:
            $ref: '#/definitions/getTokenIdResponse'
      summary: Returns the tokenId representing a token
      tags:
      - NTP1
  /ntp1/tokenmetadata/{tokenid}:
    get:
      description: Returns the metadata associated with a token at time of issuance.n
      operationId: getTokenMetadataOfIssuance
      parameters:
      - description: TokenId to request metadata for
        in: path
        name: tokenid
        required: true
        type: string
      responses:
        200:
          description: An object containing the metadata of a token at issuance
          schema:
            $ref: '#/definitions/getTokenMetadataResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get Issuance Metadata of Token
      tags:
      - NTP1
  /ntp1/tokenmetadata/{tokenid}/{utxo}:
    get:
      description: Returns the metadata associated with a token for that specific
        utxo instead of the issuance transaction.n
      operationId: getTokenMetadataOfUtxo
      parameters:
      - description: TokenId to request metadata for
        in: path
        name: tokenid
        required: true
        type: string
      - description: Specific UTXO to request metadata for
        in: path
        name: utxo
        required: true
        type: string
      responses:
        200:
          description: An object containing the metadata of a token for a UTXO
          schema:
            $ref: '#/definitions/getTokenMetadataResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get UTXO Metadata of Token
      tags:
      - NTP1
  /ntp1/transactioninfo/{txid}:
    get:
      description: Returns detailed information regarding an NTP1 transaction.n
      operationId: getTransactionInfo
      parameters:
      - description: Neblio txid to get information on.
        in: path
        name: txid
        required: true
        type: string
      responses:
        200:
          description: An object represending this transaction
          schema:
            $ref: '#/definitions/getTransactionInfoResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Information On an NTP1 Transaction
      tags:
      - NTP1
  /testnet/faucet:
    get:
      description: Withdraw testnet NEBL to your Neblio Testnet address. By default
        amount is 1500000000 or 15 NEBL and has a max of 50 NEBL. Only 2 withdrawals
        allowed per 24 hour period.n
      operationId: testnet_getFaucet
      parameters:
      - description: Your Neblio Testnet Address
        in: query
        name: address
        required: true
        type: string
      - description: Amount of NEBL to withdrawal in satoshis
        in: query
        name: amount
        required: false
        type: number
      responses:
        200:
          description: Object containing the transaction ID of the withdrawal.
          schema:
            $ref: '#/definitions/getFaucetResponse'
      summary: Withdraws testnet NEBL to the specified address
      tags:
      - Testnet-Faucet
  /testnet/ins/addr/{address}:
    get:
      description: Returns NEBL address object containing information on a specific
        address
      operationId: testnet_getAddress
      parameters:
      - description: Address
        in: path
        name: address
        required: true
        type: string
      responses:
        200:
          description: Object containing address info
          schema:
            $ref: '#/definitions/getAddressResponse'
      summary: Returns address object
      tags:
      - Testnet-Insight
  /testnet/ins/addr/{address}/balance:
    get:
      description: Returns NEBL address balance in satoshis
      operationId: testnet_getAddressBalance
      parameters:
      - description: Address
        in: path
        name: address
        required: true
        type: string
      responses:
        200:
          description: Address balance
          schema:
            $ref: '#/definitions/getAddressBalanceResponse'
      summary: Returns address balance in sats
      tags:
      - Testnet-Insight
  /testnet/ins/addr/{address}/totalReceived:
    get:
      description: Returns total NEBL received by address in satoshis
      operationId: testnet_getAddressTotalReceived
      parameters:
      - description: Address
        in: path
        name: address
        required: true
        type: string
      responses:
        200:
          description: Total received by address
          schema:
            $ref: '#/definitions/getAddressTotalReceivedResponse'
      summary: Returns total received by address in sats
      tags:
      - Testnet-Insight
  /testnet/ins/addr/{address}/totalSent:
    get:
      description: Returns total NEBL sent by address in satoshis
      operationId: testnet_getAddressTotalSent
      parameters:
      - description: Address
        in: path
        name: address
        required: true
        type: string
      responses:
        200:
          description: Total sent by address
          schema:
            $ref: '#/definitions/getAddressTotalSentResponse'
      summary: Returns total sent by address in sats
      tags:
      - Testnet-Insight
  /testnet/ins/addr/{address}/unconfirmedBalance:
    get:
      description: Returns NEBL address unconfirmed balance in satoshis
      operationId: testnet_getAddressUnconfirmedBalance
      parameters:
      - description: Address
        in: path
        name: address
        required: true
        type: string
      responses:
        200:
          description: Address unconfirmed balance
          schema:
            $ref: '#/definitions/getAddressUnconfirmedBalanceResponse'
      summary: Returns address unconfirmed balance in sats
      tags:
      - Testnet-Insight
  /testnet/ins/addr/{address}/utxo:
    get:
      description: Returns information on each Unspent Transaction Output contained
        at an address
      operationId: testnet_getAddressUtxos
      parameters:
      - description: Address
        in: path
        name: address
        required: true
        type: string
      responses:
        200:
          description: UTXOs at an address
          schema:
            $ref: '#/definitions/getAddressUtxosResponse'
      summary: Returns all UTXOs at a given address
      tags:
      - Testnet-Insight
  /testnet/ins/block-index/{blockindex}:
    get:
      description: Returns the block hash of a block at a given block index
      operationId: testnet_getBlockIndex
      parameters:
      - description: Block Index
        in: path
        name: blockindex
        required: true
        type: number
      responses:
        200:
          description: Object containing block hash
          schema:
            $ref: '#/definitions/getBlockIndexResponse'
      summary: Returns block hash of block
      tags:
      - Testnet-Insight
  /testnet/ins/block/{blockhash}:
    get:
      description: Returns blockchain data for a given block based upon the block
        hash
      operationId: testnet_getBlock
      parameters:
      - description: Block Hash
        in: path
        name: blockhash
        required: true
        type: string
      responses:
        200:
          description: Object containing all information on a blockchain block
          schema:
            $ref: '#/definitions/getBlockResponse'
      summary: Returns information regarding a Neblio block
      tags:
      - Testnet-Insight
  /testnet/ins/rawtx/{txid}:
    get:
      description: Returns raw transaction hex representing a NEBL transaction
      operationId: testnet_getRawTx
      parameters:
      - description: Transaction ID
        in: path
        name: txid
        required: true
        type: string
      responses:
        200:
          description: Object containing raw hex of transaction
          schema:
            $ref: '#/definitions/getRawTxResponse'
      summary: Returns raw transaction hex
      tags:
      - Testnet-Insight
  /testnet/ins/status:
    get:
      description: Utility API for calling several blockchain node functions - getInfo,
        getDifficulty, getBestBlockHash, getLastBlockHash
      operationId: testnet_getStatus
      parameters:
      - description: Function to call, getInfo, getDifficulty, getBestBlockHash, or
          getLastBlockHash
        in: query
        name: q
        required: false
        type: string
      responses:
        200:
          description: Function Response
          schema:
            $ref: '#/definitions/getStatusResponse'
      summary: Utility API for calling several blockchain node functions
      tags:
      - Testnet-Insight
  /testnet/ins/sync:
    get:
      description: Returns information on the node's sync progress
      operationId: testnet_getSync
      responses:
        200:
          description: Sync Info
          schema:
            $ref: '#/definitions/getSyncResponse'
      summary: Get node sync status
      tags:
      - Testnet-Insight
  /testnet/ins/tx/send:
    post:
      description: Broadcasts a signed raw transaction to the network. If successful
        returns the txid of the broadcast trasnaction.n
      operationId: testnet_sendTx
      parameters:
      - description: Object representing a transaction to broadcast
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/sendTxRequest'
      responses:
        200:
          description: An object containing the TXID if the broadcast was successful
          schema:
            $ref: '#/definitions/broadcastTxResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Broadcasts a signed raw transaction to the network (not NTP1 specific)
      tags:
      - Testnet-Insight
  /testnet/ins/tx/{txid}:
    get:
      description: Returns NEBL transaction object representing a NEBL transaction
      operationId: testnet_getTx
      parameters:
      - description: Transaction ID
        in: path
        name: txid
        required: true
        type: string
      responses:
        200:
          description: Object containing transaction info
          schema:
            $ref: '#/definitions/getTxResponse'
      summary: Returns transaction object
      tags:
      - Testnet-Insight
  /testnet/ins/txs:
    get:
      description: Returns all transactions by block or address
      operationId: testnet_getTxs
      parameters:
      - description: Address
        in: query
        name: address
        required: false
        type: string
      - description: Block Hash
        in: query
        name: block
        required: false
        type: string
      - description: Page number to display
        in: query
        name: page
        required: false
        type: number
      responses:
        200:
          description: List of transactions
          schema:
            $ref: '#/definitions/getTxsResponse'
      summary: Get transactions by block or address
      tags:
      - Testnet-Insight
  /testnet/ntp1/addressinfo/{address}:
    get:
      description: Returns both NEBL and NTP1 token UTXOs held at the given address.n
      operationId: testnet_getAddressInfo
      parameters:
      - description: Neblio Address to get information on.
        in: path
        name: address
        required: true
        type: string
      responses:
        200:
          description: An object with an array of UTXOs for this address
          schema:
            $ref: '#/definitions/getAddressInfoResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Information On a Neblio Address
      tags:
      - Testnet-NTP1
  /testnet/ntp1/broadcast:
    post:
      description: Broadcasts a signed raw transaction to the network. If successful
        returns the txid of the broadcast trasnaction.n
      operationId: testnet_broadcastTx
      parameters:
      - description: Object representing a transaction to broadcast
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/broadcastTxRequest'
      responses:
        200:
          description: An object containing the TXID if the broadcast was successful
          schema:
            $ref: '#/definitions/broadcastTxResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Broadcasts a signed raw transaction to the network
      tags:
      - Testnet-NTP1
  /testnet/ntp1/burntoken:
    post:
      description: Builds an unsigned raw transaction that burns an NTP1 token on
        the Neblio blockchain.n
      operationId: testnet_burnToken
      parameters:
      - description: Object representing the token to be burned
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/burnTokenRequest'
      responses:
        200:
          description: An object representing the tx to burn the token
          schema:
            $ref: '#/definitions/burnTokenResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Builds a transaction that burns an NTP1 Token
      tags:
      - Testnet-NTP1
  /testnet/ntp1/issue:
    post:
      description: Builds an unsigned raw transaction that issues a new NTP1 token
        on the Neblio blockchain.n
      operationId: testnet_issueToken
      parameters:
      - description: Object representing the token to be created
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/issueTokenRequest'
      responses:
        200:
          description: An object representing the token created
          schema:
            $ref: '#/definitions/issueTokenResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Builds a transaction that issues a new NTP1 Token
      tags:
      - Testnet-NTP1
  /testnet/ntp1/sendtoken:
    post:
      description: Builds an unsigned raw transaction that sends an NTP1 token on
        the Neblio blockchain.n
      operationId: testnet_sendToken
      parameters:
      - description: Object representing the token to be sent
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/sendTokenRequest'
      responses:
        200:
          description: An object representing the tx to send the token
          schema:
            $ref: '#/definitions/sendTokenResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Builds a transaction that sends an NTP1 Token
      tags:
      - Testnet-NTP1
  /testnet/ntp1/stakeholders/{tokenid}:
    get:
      description: Returns the the the addresses holding a token and how many tokens
        are heldn
      operationId: testnet_getTokenHolders
      parameters:
      - description: TokenId to request metadata for
        in: path
        name: tokenid
        required: true
        type: string
      responses:
        200:
          description: An object containing all of the addresses holding a token
          schema:
            $ref: '#/definitions/getTokenHoldersResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get Addresses Holding a Token
      tags:
      - Testnet-NTP1
  /testnet/ntp1/tokenid/{tokensymbol}:
    get:
      description: Translates a token symbol to a tokenId if a token exists with that
        symbol on the networkn
      operationId: testnet_getTokenId
      parameters:
      - description: Token symbol
        in: path
        name: tokensymbol
        required: true
        type: string
      responses:
        200:
          description: Object containing the token symbol and ID, if token symbol
            does not exist on network, empty object is returned.
          schema:
            $ref: '#/definitions/getTokenIdResponse'
      summary: Returns the tokenId representing a token
      tags:
      - Testnet-NTP1
  /testnet/ntp1/tokenmetadata/{tokenid}:
    get:
      description: Returns the metadata associated with a token at time of issuance.n
      operationId: testnet_getTokenMetadataOfIssuance
      parameters:
      - description: TokenId to request metadata for
        in: path
        name: tokenid
        required: true
        type: string
      responses:
        200:
          description: An object containing the metadata of a token at issuance
          schema:
            $ref: '#/definitions/getTokenMetadataResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get Issuance Metadata of Token
      tags:
      - Testnet-NTP1
  /testnet/ntp1/tokenmetadata/{tokenid}/{utxo}:
    get:
      description: Returns the metadata associated with a token for that specific
        utxo instead of the issuance transaction.n
      operationId: testnet_getTokenMetadataOfUtxo
      parameters:
      - description: TokenId to request metadata for
        in: path
        name: tokenid
        required: true
        type: string
      - description: Specific UTXO to request metadata for
        in: path
        name: utxo
        required: true
        type: string
      responses:
        200:
          description: An object containing the metadata of a token for a UTXO
          schema:
            $ref: '#/definitions/getTokenMetadataResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get UTXO Metadata of Token
      tags:
      - Testnet-NTP1
  /testnet/ntp1/transactioninfo/{txid}:
    get:
      description: Returns detailed information regarding an NTP1 transaction.n
      operationId: testnet_getTransactionInfo
      parameters:
      - description: Neblio txid to get information on.
        in: path
        name: txid
        required: true
        type: string
      responses:
        200:
          description: An object represending this transaction
          schema:
            $ref: '#/definitions/getTransactionInfoResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Information On an NTP1 Transaction
      tags:
      - Testnet-NTP1
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":29:{s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"broadcastTxRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"txHex\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Signed
  raw tx hex to broadcast\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"txHex\";}s:4:\"type\";s:6:\"object\";}s:19:\"broadcastTxResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"txid\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Txid
  of successfully broadcasted transaction\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"burnTokenRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"burn\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Array
  of objects representing tokens to be burned\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Amount
  of tokens to burn\";s:4:\"type\";s:6:\"number\";}s:7:\"tokenId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Unique
  token id we are burning\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"fee\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Fee
  in satoshi to include in the issuance transaction min 10000 (0.0001 NEBL)\";s:4:\"type\";s:6:\"number\";}s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Array
  of addresses to send the token from\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"transfer\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Address
  to transfer tokens to\";s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Number
  of tokens to send\";s:4:\"type\";s:6:\"number\";}s:7:\"tokenId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"ID
  of token we are sending\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:3:\"fee\";i:1;s:4:\"burn\";}s:4:\"type\";s:6:\"object\";}s:17:\"burnTokenResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"multisigOutputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Array
  of indexes of multisig outputs\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:17:\"ntp1OutputIndexes\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Array
  of indexes transfering NTP1 tokens\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:5:\"txHex\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Unsigned,
  raw transaction hex of the transaction to burn the token\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"getAddressBalanceResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Address
  balance in satoshis\";s:4:\"type\";s:6:\"number\";}s:22:\"getAddressInfoResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  Neblio Address\";s:4:\"type\";s:6:\"string\";}s:5:\"utxos\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Array
  of UTXOs held at this address.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"blockheight\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Blockheight
  of the UTXO\";s:4:\"type\";s:6:\"number\";}s:9:\"blocktime\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Blocktime
  of the UTXO\";s:4:\"type\";s:6:\"number\";}s:5:\"index\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Index
  of the UTXO at this address\";s:4:\"type\";s:6:\"number\";}s:12:\"scriptPubKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Object
  representing the scruptPubKey of the UTXO\";s:4:\"type\";s:6:\"object\";}s:6:\"tokens\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Array
  of NTP1 tokens in this UTXO.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"aggregationPolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Whether
  the tokens can be aggregated together\";s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Number
  of Tokens\";s:4:\"type\";s:6:\"number\";}s:12:\"divisibility\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Decimal
  places the token is divisible to\";s:4:\"type\";s:6:\"number\";}s:9:\"issueTxid\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"TXID
  the token originally was issued in\";s:4:\"type\";s:6:\"string\";}s:10:\"lockStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Whether
  the token is locked, preventing more from being issued\";s:4:\"type\";s:7:\"boolean\";}s:7:\"tokenId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Unique
  NTP1 identifier for this token\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"txid\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Txid
  of this UTXO\";s:4:\"type\";s:6:\"string\";}s:4:\"used\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Whether
  the UTXO has been used\";s:4:\"type\";s:7:\"boolean\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Value
  of the UTXO in NEBL satoshi\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"getAddressResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"addrStr\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Address
  in string form\";s:4:\"type\";s:6:\"string\";}s:7:\"balance\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"NEBL
  balance\";s:4:\"type\";s:6:\"number\";}s:10:\"balanceSat\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"NEBL
  balance in satoshis\";s:4:\"type\";s:6:\"number\";}s:13:\"totalReceived\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Total
  NEBL received\";s:4:\"type\";s:6:\"number\";}s:16:\"totalReceivedSat\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Total
  NEBL received in satoshis\";s:4:\"type\";s:6:\"number\";}s:9:\"totalSent\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Total
  NEBL sent\";s:4:\"type\";s:6:\"number\";}s:12:\"totalSentSat\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Total
  NEBL sent satoshis\";s:4:\"type\";s:6:\"number\";}s:12:\"transactions\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Array
  of transaction ids for this address\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"txAppearances\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Number
  of transactions for this address\";s:4:\"type\";s:6:\"number\";}s:18:\"unconfirmedBalance\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Unconfirmed
  NEBL balance\";s:4:\"type\";s:6:\"number\";}s:21:\"unconfirmedBalanceSat\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Unconfirmed
  NEBL balance in satoshis\";s:4:\"type\";s:6:\"number\";}s:24:\"unconfirmedTxAppearances\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Number
  of unconfirmed transactions for this address\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:31:\"getAddressTotalReceivedResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Address
  total received in satoshis\";s:4:\"type\";s:6:\"number\";}s:27:\"getAddressTotalSentResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Address
  total sent in satoshis\";s:4:\"type\";s:6:\"number\";}s:36:\"getAddressUnconfirmedBalanceResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Address
  unconfirmed balance in satoshis\";s:4:\"type\";s:6:\"number\";}s:23:\"getAddressUtxosResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Array
  of objects representing this address' UTXOs\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Address\";s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"NEBL
  amount\";s:4:\"type\";s:6:\"number\";}s:13:\"confirmations\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Number
  of confirmations\";s:4:\"type\";s:6:\"number\";}s:12:\"scriptPubKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"scriptPubKey\";s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Timestamp\";s:4:\"type\";s:6:\"number\";}s:4:\"txid\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Transaction
  ID\";s:4:\"type\";s:6:\"string\";}s:4:\"vout\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"vout\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:21:\"getBlockIndexResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"blockHash\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Hash
  of the requested block\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"getBlockResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:4:\"bits\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Block
  bits\";s:4:\"type\";s:6:\"string\";}s:13:\"confirmations\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Number
  of confirmations block has\";s:4:\"type\";s:6:\"number\";}s:10:\"difficulty\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Block
  difficulty\";s:4:\"type\";s:6:\"number\";}s:4:\"hash\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Block
  hash\";s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Block
  height\";s:4:\"type\";s:6:\"number\";}s:10:\"merkleroot\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Merkleroot
  of block\";s:4:\"type\";s:6:\"string\";}s:13:\"nextblockhash\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Hash
  of the next block on the chain\";s:4:\"type\";s:6:\"string\";}s:5:\"nonce\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Block
  nonce\";s:4:\"type\";s:6:\"number\";}s:17:\"previousblockhash\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Hash
  of the previous block on the chain\";s:4:\"type\";s:6:\"string\";}s:6:\"reward\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Number
  of NEBL awarded in this block\";s:4:\"type\";s:6:\"number\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Block
  size in bytes\";s:4:\"type\";s:6:\"number\";}s:4:\"time\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Block
  time relative to epoch\";s:4:\"type\";s:6:\"number\";}s:2:\"tx\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Array
  of tx ids in the block\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Block
  version\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:17:\"getFaucetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"txId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"TXID
  of a successful withdrawal\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Whether
  the withdrawal was successful\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"getRawTxResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"rawtx\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Raw
  hex representing the transaction\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"getStatusResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Depending
  on the function called, the structure and information contained in this object will
  vary\";s:4:\"type\";s:6:\"object\";}s:15:\"getSyncResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Object
  containing node sync status\";s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"blockChainHeight\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Current
  blockchain height\";s:4:\"type\";s:6:\"number\";}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Recent
  sync error messages\";s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Height
  node is synced to\";s:4:\"type\";s:6:\"number\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Current
  sync status\";s:4:\"type\";s:6:\"string\";}s:14:\"syncPercentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Current
  sync percentage\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Node
  type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"getTokenHoldersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"aggregationPolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Whether
  the tokesn are aggregatable\";s:4:\"type\";s:6:\"string\";}s:10:\"divibility\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"How
  many decimal points the token is divisble to\";s:4:\"type\";s:6:\"number\";}s:7:\"holders\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:10:\"lockStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Whether
  new issuances of this token are locked\";s:4:\"type\";s:7:\"boolean\";}s:8:\"someUtxo\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"A
  UTXO of this token\";s:4:\"type\";s:6:\"string\";}s:7:\"tokenId\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"TokenId
  of the token\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"getTokenIdResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"tokenId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Unique
  ID of the token\";s:4:\"type\";s:6:\"string\";}s:9:\"tokenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"String
  representing the token Symbol\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"getTokenMetadataResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:17:\"aggregationPolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Whether
  the tokens are aggregatable\";s:4:\"type\";s:6:\"string\";}s:12:\"divisibility\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Decimal
  places the token is divisible to\";s:4:\"type\";s:6:\"number\";}s:10:\"firstBlock\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Block
  number token was issued in\";s:4:\"type\";s:6:\"number\";}s:12:\"issuanceTxid\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"TXID
  the token was issued with\";s:4:\"type\";s:6:\"string\";}s:12:\"issueAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Address
  that issued the tokens\";s:4:\"type\";s:6:\"string\";}s:10:\"lockStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Whether
  issuance of more tokens is locked\";s:4:\"type\";s:7:\"boolean\";}s:18:\"metadataOfIssuance\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Metadata
  set at issuance\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Token
  description\";s:4:\"type\";s:6:\"string\";}s:6:\"issuer\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of token issuer\";s:4:\"type\";s:6:\"string\";}s:9:\"tokenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Token
  symbol\";s:4:\"type\";s:6:\"string\";}s:8:\"userData\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Metadata
  set by user on token\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"meta\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:14:\"metadataOfUtxo\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Metadata
  set at issuance\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Token
  description\";s:4:\"type\";s:6:\"string\";}s:6:\"issuer\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of token issuer\";s:4:\"type\";s:6:\"string\";}s:9:\"tokenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Token
  symbol\";s:4:\"type\";s:6:\"string\";}s:8:\"userData\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Metadata
  set by user on token\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"meta\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:10:\"numOfBurns\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Number
  of times tokens have been burned\";s:4:\"type\";s:6:\"number\";}s:12:\"numOfHolders\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Total
  number of addresses this token is held at\";s:4:\"type\";s:6:\"number\";}s:14:\"numOfTransfers\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Total
  number of transactions of this token\";s:4:\"type\";s:6:\"number\";}s:13:\"numofIssuance\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Total
  number of times this token has been issued\";s:4:\"type\";s:6:\"number\";}s:7:\"tokenId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ID
  of the token\";s:4:\"type\";s:6:\"string\";}s:11:\"totalSupply\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Total
  number of tokens in supply\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:26:\"getTransactionInfoResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"blockhash\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Hash
  of the block this transaction is in\";s:4:\"type\";s:6:\"string\";}s:11:\"blockheight\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Block
  height of this transaction\";s:4:\"type\";s:6:\"number\";}s:9:\"blocktime\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Block
  time of this transaction\";s:4:\"type\";s:6:\"number\";}s:13:\"confirmations\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Number
  of transaction confirmations\";s:4:\"type\";s:6:\"number\";}s:3:\"fee\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Total
  NEBL used as fee for this transcation in satoshis\";s:4:\"type\";s:6:\"number\";}s:3:\"hex\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Transaction
  in raw hex\";s:4:\"type\";s:6:\"string\";}s:8:\"locktime\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Transaction
  locktime\";s:4:\"type\";s:6:\"number\";}s:4:\"time\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Transaction
  time\";s:4:\"type\";s:6:\"number\";}s:9:\"totalsent\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Total
  NEBL sent in this transaction in satoshis\";s:4:\"type\";s:6:\"number\";}s:4:\"txid\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"TXID
  of transaction\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Transaction
  version\";s:4:\"type\";s:6:\"number\";}s:3:\"vin\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Array
  of transaction inputs\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"previousOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"addresses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"asm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"hex\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"reqSigs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"scriptSig\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"asm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"hex\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"sequence\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"tokens\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"aggregationPolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Whether
  the tokens are aggregatable\";s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Number
  of tokens\";s:4:\"type\";s:6:\"number\";}s:12:\"divisibility\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Decimal
  places the token is divisible to\";s:4:\"type\";s:6:\"number\";}s:9:\"issueTxid\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"TXID
  the token was issued in\";s:4:\"type\";s:6:\"string\";}s:10:\"lockStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Whether
  issuance of more tokens is locked\";s:4:\"type\";s:7:\"boolean\";}s:7:\"tokenId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ID
  of the token\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"txid\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"TXID
  of the input\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Value
  of input in NEBL satoshi\";s:4:\"type\";s:6:\"number\";}s:4:\"vout\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"output
  index\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"vout\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Array
  of transaction outputs\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"blockheight\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Blockheight
  of this transaction\";s:4:\"type\";s:6:\"number\";}s:1:\"n\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Output
  index\";s:4:\"type\";s:6:\"number\";}s:12:\"scriptPubKey\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"addresses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"asm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"hex\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"reqSigs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"tokens\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"aggregationPolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Whether
  the tokens are aggregatable\";s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Number
  of tokens\";s:4:\"type\";s:6:\"number\";}s:12:\"divisibility\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Decimal
  places the token is divisible to\";s:4:\"type\";s:6:\"number\";}s:9:\"issueTxid\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"TXID
  the token was issued in\";s:4:\"type\";s:6:\"string\";}s:10:\"lockStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Whether
  issuance of more tokens is locked\";s:4:\"type\";s:7:\"boolean\";}s:7:\"tokenId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ID
  of the token\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"used\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Whether
  this output has now been used\";s:4:\"type\";s:7:\"boolean\";}s:15:\"usedBlockheight\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Blockheight
  this output was used in\";s:4:\"type\";s:6:\"number\";}s:8:\"usedTxid\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"TXID
  this output was used in\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Value
  of the output in NEBL satoshi\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"getTxResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:9:\"blockhash\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Hash
  of the block this transaction is in\";s:4:\"type\";s:6:\"string\";}s:11:\"blockheight\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Block
  height of this transaction\";s:4:\"type\";s:6:\"number\";}s:9:\"blocktime\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Block
  time of this transaction\";s:4:\"type\";s:6:\"number\";}s:13:\"confirmations\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Number
  of transaction confirmations\";s:4:\"type\";s:6:\"number\";}s:3:\"fee\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Total
  NEBL used as fee for this transcation in satoshis\";s:4:\"type\";s:6:\"number\";}s:4:\"fees\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Total
  NEBL used in fees for this transaction\";s:4:\"type\";s:6:\"number\";}s:8:\"locktime\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Transaction
  locktime\";s:4:\"type\";s:6:\"number\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Transcation
  size in bytes\";s:4:\"type\";s:6:\"number\";}s:4:\"time\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Transaction
  time\";s:4:\"type\";s:6:\"number\";}s:9:\"totalsent\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Total
  NEBL sent in this transaction in satoshis\";s:4:\"type\";s:6:\"number\";}s:4:\"txid\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"TXID
  of transaction\";s:4:\"type\";s:6:\"string\";}s:7:\"valueIn\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Total
  NEBL input in this transaction\";s:4:\"type\";s:6:\"number\";}s:8:\"valueOut\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Total
  NEBL output in this transaction\";s:4:\"type\";s:6:\"number\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Transaction
  version\";s:4:\"type\";s:6:\"number\";}s:3:\"vin\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Array
  of transaction inputs\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:1:\"n\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"input
  index\";s:4:\"type\";s:6:\"number\";}s:9:\"scriptSig\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"asm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"hex\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"sequence\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"txid\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"TXID
  of the input\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Value
  of input in NEBL\";s:4:\"type\";s:6:\"number\";}s:8:\"valueSat\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Value
  of input in NEBL satoshi\";s:4:\"type\";s:6:\"number\";}s:4:\"vout\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"output
  index\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"vout\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Array
  of transaction outputs\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"blockheight\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Blockheight
  of this transaction\";s:4:\"type\";s:6:\"number\";}s:1:\"n\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Output
  index\";s:4:\"type\";s:6:\"number\";}s:12:\"scriptPubKey\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"addresses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"asm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"hex\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"reqSigs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"used\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Whether
  this output has now been used\";s:4:\"type\";s:7:\"boolean\";}s:15:\"usedBlockheight\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Blockheight
  this output was used in\";s:4:\"type\";s:6:\"number\";}s:8:\"usedTxid\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"TXID
  this output was used in\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Value
  of the output in NEBL\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"getTxsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Object
  containing an array of transaction objects\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"pagesTotal\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Number
  of pages of transactions\";s:4:\"type\";s:6:\"number\";}s:3:\"txs\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Array
  of transaction objects\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/getTxResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"issueTokenRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Number
  of tokens to issue\";s:4:\"type\";s:6:\"number\";}s:12:\"divisibility\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Number
  of decimal places the token should be divisble by (0-7)\";s:4:\"type\";s:6:\"number\";}s:3:\"fee\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Fee
  in satoshi to include in the issuance transaction min 1000000000 (10 NEBL)\";s:4:\"type\";s:6:\"number\";}s:5:\"flags\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Object
  representing flags that potentialy modify this transaction\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"splitChange\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"If
  true change will be split into 2 outputs, one for NEBL change and one for NTP1 change
  (recommended)\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:12:\"issueAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Address
  issuing the token\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Object
  representing all metadata at token issuance\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Long
  name or description of token (ex. Nibble)\";s:4:\"type\";s:6:\"string\";}s:11:\"encryptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Array
  of encryption instruction objects for encrypting userData\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"format\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"key
  format (pem or der)\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"userData
  key to encrypt\";s:4:\"type\";s:6:\"string\";}s:6:\"pubkey\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"RSA
  public key used for encryption\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"pkcs1
  or pkcs8\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"issuer\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of token issuer\";s:4:\"type\";s:6:\"string\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Object
  describing token rules\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"expiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Object
  describing expiration rules of the token\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"locked\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Whether
  this rule can be modified in future transactions\";s:4:\"type\";s:7:\"boolean\";}s:10:\"validUntil\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Blockheight
  at wh\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"fees\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Array
  of objects describing fee rules\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Address
  fee is auto sent to\";s:4:\"type\";s:6:\"string\";}s:7:\"tokenId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"How
  fee should be paid, either with a tokenId, or with NEBL if null\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Amount
  of NTP1 token, or NEBL (in satoshi) to pay as fee\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"locked\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Whether
  this rule can be modified in future transactions\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:7:\"holders\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Array
  of objects describing what addresses can hold the token\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Address
  that can hold the token\";s:4:\"type\";s:6:\"string\";}s:6:\"locked\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Whether
  this rule can be modified in future transactions\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"tokenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Token
  Symbol it will be identified by (ex. NIBBL)\";s:4:\"type\";s:6:\"string\";}s:4:\"urls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"dataHash\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Hash
  of data at the URL, used for verification\";s:4:\"type\";s:6:\"string\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"mimeType
  of URL content\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Name
  of the URL\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Actual
  URL\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"userData\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Metadata
  set by user on token\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"meta\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:10:\"reissuable\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"whether
  the token should be reissuable\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:5:{i:0;s:12:\"issueAddress\";i:1;s:6:\"amount\";i:2;s:12:\"divisibility\";i:3;s:3:\"fee\";i:4;s:10:\"reissuable\";}s:4:\"type\";s:6:\"object\";}s:18:\"issueTokenResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"tokenId\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"TokenId
  of the to be issued token\";s:4:\"type\";s:6:\"string\";}s:5:\"txHex\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Unsigned,
  raw transaction hex of the transaction to issue the token\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"sendTokenRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"fee\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Fee
  in satoshi to include in the issuance transaction min 10000 (0.0001 NEBL)\";s:4:\"type\";s:6:\"number\";}s:5:\"flags\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Object
  representing flags that potentialy modify this transaction\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"splitChange\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"If
  true change will be split into 2 outputs, one for NEBL change and one for NTP1 change
  (recommended)\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Array
  of addresses to send the token from\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Object
  representing all metadata at token issuance\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Long
  name or description of token (ex. Nibble)\";s:4:\"type\";s:6:\"string\";}s:11:\"encryptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Array
  of encryption instruction objects for encrypting userData\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"format\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"key
  format (pem or der)\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"userData
  key to encrypt\";s:4:\"type\";s:6:\"string\";}s:6:\"pubkey\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"RSA
  public key used for encryption\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"pkcs1
  or pkcs8\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"issuer\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of token issuer\";s:4:\"type\";s:6:\"string\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Object
  describing token rules\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"expiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Object
  describing expiration rules of the token\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"locked\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Whether
  this rule can be modified in future transactions\";s:4:\"type\";s:7:\"boolean\";}s:10:\"validUntil\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Blockheight
  at wh\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"fees\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Array
  of objects describing fee rules\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Address
  fee is auto sent to\";s:4:\"type\";s:6:\"string\";}s:7:\"tokenId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"How
  fee should be paid, either with a tokenId, or with NEBL if null\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Amount
  of NTP1 token, or NEBL (in satoshi) to pay as fee\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"locked\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Whether
  this rule can be modified in future transactions\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:7:\"holders\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Array
  of objects describing what addresses can hold the token\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Address
  that can hold the token\";s:4:\"type\";s:6:\"string\";}s:6:\"locked\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Whether
  this rule can be modified in future transactions\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"tokenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Token
  Symbol it will be identified by (ex. NIBBL)\";s:4:\"type\";s:6:\"string\";}s:4:\"urls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"dataHash\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Hash
  of data at the URL, used for verification\";s:4:\"type\";s:6:\"string\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"mimeType
  of URL content\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Name
  of the URL\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Actual
  URL\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"userData\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Metadata
  set by user on token\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"meta\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:8:\"sendutxo\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Array
  of UTXOs to send the token from\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"to\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Address
  to transfer tokens to\";s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Number
  of tokens to send\";s:4:\"type\";s:6:\"number\";}s:7:\"tokenId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"ID
  of token we are sending\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:3:\"fee\";i:1;s:2:\"to\";}s:4:\"type\";s:6:\"object\";}s:17:\"sendTokenResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"multisigOutputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Array
  of indexes of multisig outputs\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:17:\"ntp1OutputIndexes\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Array
  of indexes transfering NTP1 tokens\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:5:\"txHex\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Unsigned,
  raw transaction hex of the transaction to send the token\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"sendTxRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"txHex\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Signed
  raw tx hex to broadcast\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
