---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:14:\"Nuxeo REST API\";s:7:\"version\";s:3:\"1.0\";}"
host: nightly.nuxeo.com
basePath: /nuxeo/site/api/v1
paths:
  /id/{docId}/@acl:
    get:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/Acp'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: View the ACL of a document given its id
      tags:
      - aclAdapter.json
  /path/{docPath}/@acl:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/Acp'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: View the ACL of a document given its path
      tags:
      - aclAdapter.json
  /id/{docId}/@annotation:
    get:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: 'The field path you want do download (ex: file:content)'
        in: path
        name: fieldPath
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/annotationList'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Get all annotations on a given document blob
      tags:
      - annotationAdapter.json
    post:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: Annotation object that is created or updated.
        in: body
        name: Annotation
        required: true
        schema:
          $ref: '#/definitions/annotation'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/annotation'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Create an annotation on a given document
      tags:
      - annotationAdapter.json
    put:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: Annotation object that is created or updated.
        in: body
        name: Annotation
        required: true
        schema:
          $ref: '#/definitions/annotation'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/annotation'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Update an annotation on a given document
      tags:
      - annotationAdapter.json
  /id/{docId}/@annotation/{annotationId}:
    delete:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: Id of the annotation
        in: path
        name: annotationId
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Delete an annotation on a document given its id
      tags:
      - annotationAdapter.json
    get:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: Id of the annotation
        in: path
        name: annotationId
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/annotation'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Retrieve an annotation on a document given its id
      tags:
      - annotationAdapter.json
  /id/{docId}/@audit:
    get:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/LogEntries'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: View the audit trail of a document given its id
      tags:
      - auditAdapter.json
  /path/{docPath}/@audit:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/LogEntries'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: View the audit trail of a document given its path
      tags:
      - auditAdapter.json
  /automation:
    get:
      produces:
      - application/json
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/OperationDescriptionList'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Gets the list of all operation/chain
      tags:
      - automation.json
  /automation/{operationName}:
    get:
      produces:
      - application/json
      parameters:
      - description: Name of the operation
        in: path
        name: operationName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/OperationDescription'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Gets the description of the operation/chain
      tags:
      - automation.json
    post:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: Name of the operation
        in: path
        name: operationName
        required: true
        type: string
      - description: The operation parameters
        in: body
        name: operationParams
        required: true
        schema:
          $ref: '#/definitions/OperationParams'
      responses:
        200:
          description: No response was specified
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Execute an operation or a chain on a document
      tags:
      - automation.json
  /path/{docPath}/@children/@op/{operationName}:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: Name of the operation
        in: path
        name: operationName
        required: true
        type: string
      - description: The operation parameters
        in: body
        name: operationParams
        required: true
        schema:
          $ref: '#/definitions/OperationParams'
      responses:
        200:
          description: No response was specified
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: This works on every API endpoint that return DocumentList
      summary: Execute an operation or a chain on the children of a document
      tags:
      - automation.json
  /path/{docPath}/@op/{operationName}:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: Name of the operation
        in: path
        name: operationName
        required: true
        type: string
      - description: The operation parameters
        in: body
        name: operationParams
        required: true
        schema:
          $ref: '#/definitions/OperationParams'
      responses:
        200:
          description: No response was specified
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Execute an operation or a chain on a document
      tags:
      - automation.json
  /id/{docId}/@blob/{fieldPath}:
    get:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: 'The field path you want do download (ex: file:content)'
        in: path
        name: fieldPath
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Get the main blob of a document by its id
      tags:
      - blobAdapter.json
  /path/{docPath}/@blob/{fieldPath}:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: 'The field path you want do download (ex: file:content)'
        in: path
        name: fieldPath
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Get the main blob of a document by its path
      tags:
      - blobAdapter.json
  /id/{docId}/@bo/{adapterName}:
    get:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: Name of the adapter
        in: path
        name: adapterName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/BusinessObject'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Get the business object adapter on a document given its id
      tags:
      - boAdapter.json
    put:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: Name of the adapter
        in: path
        name: adapterName
        required: true
        type: string
      - description: The created or updated business object
        in: body
        name: document
        required: true
        schema:
          $ref: '#/definitions/BusinessObject'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/BusinessObject'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Updates the business object adapter on a document given its id
      tags:
      - boAdapter.json
  /id/{docId}/@bo/{adapterName}/{docName}:
    post:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: Name of the adapter
        in: path
        name: adapterName
        required: true
        type: string
      - description: Name of the document
        in: path
        name: docName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/BusinessObject'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Creates a document based on its business object
      tags:
      - boAdapter.json
  /id/{docId}/@children/@bo/{adapterName}:
    get:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: Name of the adapter
        in: path
        name: adapterName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/BusinessObjectList'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: <ul><li>If a document can't be adapted, the resulting item will
        be null</li><li> This type of call works for every API endpoint that responds
        DocumentList (@search, @pp ...)</li></ul>
      summary: Get the list of business object of the children of a document by its
        id
      tags:
      - boAdapter.json
  /path/{docPath}/@bo/{adapterName}:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: Name of the adapter
        in: path
        name: adapterName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/BusinessObject'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Get the business object adapter on a document given its path
      tags:
      - boAdapter.json
    put:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: Name of the adapter
        in: path
        name: adapterName
        required: true
        type: string
      - description: The created or updated business object
        in: body
        name: document
        required: true
        schema:
          $ref: '#/definitions/BusinessObject'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/BusinessObject'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Updates the business object adapter on a document given its path
      tags:
      - boAdapter.json
  /path/{docPath}/@bo/{adapterName}/{docName}:
    post:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: Name of the adapter
        in: path
        name: adapterName
        required: true
        type: string
      - description: Name of the document
        in: path
        name: docName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/BusinessObject'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Creates a document based on its business object
      tags:
      - boAdapter.json
  /path/{docPath}/@children/@bo/{adapterName}:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: Name of the adapter
        in: path
        name: adapterName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/BusinessObjectList'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: <ul><li>If a document can't be adapted, the resulting item will
        be null</li><li> This type of call works for every API endpoint that responds
        DocumentList (@search, @pp ...)</li></ul>
      summary: Get the list of business object of the children of a document by its
        path
      tags:
      - boAdapter.json
  /id/{docId}/@children:
    get:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: Index of the current page
        format: int64
        in: query
        name: currentPageIndex
        required: false
        type: integer
      - description: The offset of the returned result set. If set, the 'currentPageIndex'
          parameter is ignored.
        in: query
        name: offset
        required: false
        type: integer
      - description: Size of the page to retrieve
        format: int64
        in: query
        name: pageSize
        required: false
        type: integer
      - description: Maximum results to retrieve
        format: int64
        in: query
        name: maxResults
        required: false
        type: integer
      - description: Property to sort by, for example 'dc:title'
        in: query
        name: sortBy
        required: false
        type: string
      - description: Sort order, accepts 'asc' or 'desc', default is 'desc'
        in: query
        name: sortOrder
        required: false
        type: string
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/documents'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission to see will be returned
      summary: Get the children of a document by its id
      tags:
      - childrenAdapter.json
  /path/{docPath}/@children:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: Index of the current page
        format: int64
        in: query
        name: currentPageIndex
        required: false
        type: integer
      - description: The offset of the returned result set. If set, the 'currentPageIndex'
          parameter is ignored.
        in: query
        name: offset
        required: false
        type: integer
      - description: Size of the page to retrieve
        format: int64
        in: query
        name: pageSize
        required: false
        type: integer
      - description: Maximum results to retrieve
        format: int64
        in: query
        name: maxResults
        required: false
        type: integer
      - description: Property to sort by, for example 'dc:title'
        in: query
        name: sortBy
        required: false
        type: string
      - description: Sort order, accepts 'asc' or 'desc', default is 'desc'
        in: query
        name: sortOrder
        required: false
        type: string
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/documents'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission to see will be returned
      summary: Get the children of a document by its path
      tags:
      - childrenAdapter.json
  /id/{docId}/@convert:
    get:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: The name of the converter to execute
        in: query
        name: name
        required: false
        type: string
      - description: The requested mime type for the converted Blob, such as 'application/pdf'
        in: query
        name: type
        required: false
        type: string
      - description: The requested extension of the converted Blob, such as 'pdf'
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/documents'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: One of the 'name', 'type' or 'format' parameters must be passed.
      summary: Convert the main Blob of the document
      tags:
      - convertAdapter.json
  /path/{docId}/@blob/{blobXpath}/@convert:
    get:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: The name of the converter to execute
        in: query
        name: name
        required: false
        type: string
      - description: The requested mime type for the converted Blob, such as 'application/pdf'
        in: query
        name: type
        required: false
        type: string
      - description: The requested extension of the converted Blob, such as 'pdf'
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/documents'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: One of the 'name', 'type' or 'format' parameters must be passed.
      summary: Convert the Blob at the given xpath of the document
      tags:
      - convertAdapter.json
  /path/{docPath}/@blob/{blobXpath}/@convert:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: The name of the converter to execute
        in: query
        name: name
        required: false
        type: string
      - description: The requested mime type for the converted Blob, such as 'application/pdf'
        in: query
        name: type
        required: false
        type: string
      - description: The requested extension of the converted Blob, such as 'pdf'
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/documents'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: One of the 'name', 'type' or 'format' parameters must be passed.
      summary: Convert the Blob at the given xpath of the document
      tags:
      - convertAdapter.json
  /path/{docPath}/@convert:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: The name of the converter to execute
        in: query
        name: name
        required: false
        type: string
      - description: The requested mime type for the converted Blob, such as 'application/pdf'
        in: query
        name: type
        required: false
        type: string
      - description: The requested extension of the converted Blob, such as 'pdf'
        in: query
        name: format
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/documents'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: One of the 'name', 'type' or 'format' parameters must be passed.
      summary: Convert the main Blob of the document
      tags:
      - convertAdapter.json
  /directory/{directoryName}:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Directory name. Ex: ''subject'''
        in: path
        name: directoryName
        required: true
        type: string
      - description: Index of the current page
        format: int64
        in: query
        name: currentPageIndex
        required: false
        type: integer
      - description: The offset of the returned result set. If set, the 'currentPageIndex'
          parameter is ignored.
        in: query
        name: offset
        required: false
        type: integer
      - description: Size of the page to retrieve
        format: int64
        in: query
        name: pageSize
        required: false
        type: integer
      - description: Maximum results to retrieve
        format: int64
        in: query
        name: maxResults
        required: false
        type: integer
      - description: Property to sort by, for example 'dc:title'
        in: query
        name: sortBy
        required: false
        type: string
      - description: Sort order, accepts 'asc' or 'desc', default is 'desc'
        in: query
        name: sortOrder
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/directoryEntries'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Get directory entries
      tags:
      - directory.json
    post:
      produces:
      - application/json
      parameters:
      - description: 'Directory name. Ex: ''subject'''
        in: path
        name: directoryName
        required: true
        type: string
      - description: Directory entry object that is created or updated in the directory
          'directoryName'
        in: body
        name: Directory
        required: true
        schema:
          $ref: '#/definitions/directoryEntry'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/directoryEntry'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Creates a directory entry
      tags:
      - directory.json
  /directory/{directoryName}/{entryId}:
    delete:
      produces:
      - application/json
      parameters:
      - description: 'Directory name. Ex: ''subject'''
        in: path
        name: directoryName
        required: true
        type: string
      - description: Directory entry id
        in: path
        name: entryId
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Delete a directory entry
      tags:
      - directory.json
    get:
      produces:
      - application/json
      parameters:
      - description: 'Directory name. Ex: ''subject'''
        in: path
        name: directoryName
        required: true
        type: string
      - description: Directory entry id
        in: path
        name: entryId
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/directoryEntry'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Get a directory entry
      tags:
      - directory.json
    put:
      produces:
      - application/json
      parameters:
      - description: 'Directory name. Ex: ''subject'''
        in: path
        name: directoryName
        required: true
        type: string
      - description: Directory entry id
        in: path
        name: entryId
        required: true
        type: string
      - description: Directory entry object that is created or updated in the directory
          'directoryName'
        in: body
        name: Directory
        required: true
        schema:
          $ref: '#/definitions/directoryEntry'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/directoryEntry'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Update a directory entry
      tags:
      - directory.json
  /config/types:
    get:
      produces:
      - application/json
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/docType'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: List registered document type
      tags:
      - docType.json
  /config/types/{docType}:
    get:
      produces:
      - application/json
      parameters:
      - description: The name of the document type
        in: path
        name: docType
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/docType'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Document type description
      tags:
      - docType.json
  /@emptyWithDefault:
    get:
      produces:
      - application/json
      parameters:
      - description: The type of the empty document to be initialized
        in: query
        name: type
        required: true
        type: string
      - description: The name of the empty document to be initialized
        in: query
        name: name
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/document'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: 'To retrieve all initialized properties, the ''properties: *''
        header must be used'
      summary: Initialize an empty document with default properties given a document
        type
      tags:
      - emptyDocAdapter.json
  /id/{docId}/@emptyWithDefault:
    get:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: The type of the empty document to be initialized
        in: query
        name: type
        required: true
        type: string
      - description: The name of the empty document to be initialized
        in: query
        name: name
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/document'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: 'To retrieve all initialized properties, the ''properties: *''
        header must be used'
      summary: Initialize an empty document with default properties given a document
        type and a parent
      tags:
      - emptyDocAdapter.json
  /path/{docPath}/@emptyWithDefault:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: The type of the empty document to be initialized
        in: query
        name: type
        required: true
        type: string
      - description: The name of the empty document to be initialized
        in: query
        name: name
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/document'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: 'To retrieve all initialized properties, the ''properties: *''
        header must be used'
      summary: Initialize an empty document with default properties given a document
        type and a parent
      tags:
      - emptyDocAdapter.json
  /config/facets:
    get:
      produces:
      - application/json
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/facet'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: List registered facets
      tags:
      - facet.json
  /config/facets/{facet}:
    get:
      produces:
      - application/json
      parameters:
      - description: The name of the facet
        in: path
        name: facet
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/facet'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Facet description
      tags:
      - facet.json
  /group:
    post:
      produces:
      - application/json
      parameters:
      - description: Group object to be created or updated.
        in: body
        name: group
        required: true
        schema:
          $ref: '#/definitions/group'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/group'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Create a group
      tags:
      - group.json
  /group/search:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Query string. Ex: ''Admin'' will return Administrator user'
        in: query
        name: q
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/groups'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Search a group
      tags:
      - group.json
  /group/{groupName}:
    delete:
      produces:
      - application/json
      parameters:
      - description: 'Name of the group, ex: ''members'''
        in: path
        name: groupName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Delete a group by its name
      tags:
      - group.json
    get:
      produces:
      - application/json
      parameters:
      - description: 'Name of the group, ex: ''members'''
        in: path
        name: groupName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/group'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Get a group by its name
      tags:
      - group.json
    put:
      produces:
      - application/json
      parameters:
      - description: 'Name of the group, ex: ''members'''
        in: path
        name: groupName
        required: true
        type: string
      - description: Group object to be created or updated.
        in: body
        name: group
        required: true
        schema:
          $ref: '#/definitions/group'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/group'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Update a group by its name
      tags:
      - group.json
  /group/{groupName}/@groups:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Name of the group, ex: ''members'''
        in: path
        name: groupName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/groupList'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Get the group members of a group
      tags:
      - group.json
  /group/{groupName}/@users:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Name of the group, ex: ''members'''
        in: path
        name: groupName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/userList'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Get the user members of a group
      tags:
      - group.json
  /group/{groupName}/user/{userName}:
    post:
      produces:
      - application/json
      parameters:
      - description: 'Name of the group, ex: ''members'''
        in: path
        name: groupName
        required: true
        type: string
      - description: 'Username of the user, ex: ''Administrator'''
        in: path
        name: userName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/user'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Add a user to a group
      tags:
      - group.json
  /id/{docId}:
    delete:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission to see will be returned
      summary: Deletes a document by its id
      tags:
      - id.json
    get:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/document'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission to see will be returned
      summary: Find a document by its id
      tags:
      - id.json
    post:
      produces:
      - application/json
      parameters:
      - description: The name of the repository
        in: path
        name: repoId
        required: true
        type: string
      - description: The created or updated document object
        in: body
        name: document
        required: true
        schema:
          $ref: '#/definitions/document'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/document'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Creates a document by its parent id
      tags:
      - id.json
    put:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: The created or updated document object
        in: body
        name: document
        required: true
        schema:
          $ref: '#/definitions/document'
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/document'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission can be updated. Only the
        properties part of the document object is taken into account for update
      summary: Updates a document by its id
      tags:
      - id.json
  /repo/{repoId}/id/{docId}:
    delete:
      produces:
      - application/json
      parameters:
      - description: The name of the repository
        in: path
        name: repoId
        required: true
        type: string
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission to see will be returned
      summary: Deletes a document by its id
      tags:
      - id.json
    get:
      produces:
      - application/json
      parameters:
      - description: The name of the repository
        in: path
        name: repoId
        required: true
        type: string
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/document'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission to see will be returned
      summary: Find a document by its id
      tags:
      - id.json
    post:
      produces:
      - application/json
      parameters:
      - description: The name of the repository
        in: path
        name: repoId
        required: true
        type: string
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: The created or updated document object
        in: body
        name: document
        required: true
        schema:
          $ref: '#/definitions/document'
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/document'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Creates a document by its parent id
      tags:
      - id.json
    put:
      produces:
      - application/json
      parameters:
      - description: The name of the repository
        in: path
        name: repoId
        required: true
        type: string
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: The created or updated document object
        in: body
        name: document
        required: true
        schema:
          $ref: '#/definitions/document'
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/document'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission can be updated. Only the
        properties part of the document object is taken into account for update
      summary: Updates a document by its id
      tags:
      - id.json
  /me:
    get:
      produces:
      - application/json
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/user'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Get the logged in user
      tags:
      - me.json
  /me/changepassword:
    put:
      produces:
      - application/json
      parameters:
      - description: The body containing the new password along with the old password
          for security check
        in: body
        name: passwordbody
        required: true
        schema:
          $ref: '#/definitions/changePassword'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/user'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Change the logged in user's password
      tags:
      - me.json
  /oauth2/client:
    get:
      produces:
      - application/json
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/oauth2ClientDataList'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Retrieves a OAuth2 client.
      tags:
      - oauth2.json
  /oauth2/client/{oauth2ClientId}:
    get:
      produces:
      - application/json
      parameters:
      - description: Name of the OAuth2 client
        in: path
        name: oauth2ClientId
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/oauth2ClientData'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Retrieves a OAuth2 client.
      tags:
      - oauth2.json
  /oauth2/provider:
    get:
      produces:
      - application/json
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/oauth2ProviderDataList'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Retrieves the list of available OAuth2 providers.
      tags:
      - oauth2.json
    post:
      produces:
      - application/json
      parameters:
      - description: The OAuth2 provider to be added or updated.
        in: body
        name: oauth2ProviderBody
        required: true
        schema:
          $ref: '#/definitions/oauth2ProviderData'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/oauth2ProviderData'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Adds an OAuth2 provider.
      tags:
      - oauth2.json
  /oauth2/provider/{oauth2ProviderId}:
    get:
      produces:
      - application/json
      parameters:
      - description: Name of the OAuth2 provider
        in: path
        name: oauth2ProviderId
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/oauth2ProviderData'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Retrieves OAuth2 provider data for the current user.
      tags:
      - oauth2.json
    put:
      produces:
      - application/json
      parameters:
      - description: Name of the OAuth2 provider
        in: path
        name: oauth2ProviderId
        required: true
        type: string
      - description: The OAuth2 provider to be added or updated.
        in: body
        name: oauth2ProviderBody
        required: true
        schema:
          $ref: '#/definitions/oauth2ProviderData'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/oauth2ProviderData'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Updates an OAuth2 provider.
      tags:
      - oauth2.json
  /oauth2/provider/{oauth2ProviderId}/token:
    get:
      produces:
      - application/json
      parameters:
      - description: Name of the OAuth2 provider
        in: path
        name: oauth2ProviderId
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/oauth2ProviderTokenData'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Retrieves a valid access token to the current user. A new token will
        be request if the current one is expired.
      tags:
      - oauth2.json
  /oauth2/token:
    get:
      produces:
      - application/json
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/oauth2TokenDataList'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Retrieves all OAuth2 tokens.
      tags:
      - oauth2.json
  /oauth2/token/client:
    get:
      produces:
      - application/json
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/oauth2TokenDataList'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Retrieves all OAuth2 client tokens for the current user.
      tags:
      - oauth2.json
  /oauth2/token/client/{oauth2ClientId}/user/{username}:
    delete:
      produces:
      - application/json
      parameters:
      - description: Name of the OAuth2 client
        in: path
        name: oauth2ClientId
        required: true
        type: string
      - description: 'Username of the user, ex: ''Administrator'''
        in: path
        name: userName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Deletes a OAuth2 client token.
      tags:
      - oauth2.json
    get:
      produces:
      - application/json
      parameters:
      - description: Name of the OAuth2 client
        in: path
        name: oauth2ClientId
        required: true
        type: string
      - description: 'Username of the user, ex: ''Administrator'''
        in: path
        name: userName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/oauth2TokenData'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Retrieves a OAuth2 client token.
      tags:
      - oauth2.json
    put:
      produces:
      - application/json
      parameters:
      - description: Name of the OAuth2 client
        in: path
        name: oauth2ClientId
        required: true
        type: string
      - description: 'Username of the user, ex: ''Administrator'''
        in: path
        name: userName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/oauth2TokenData'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Updates an OAuth2 client token.
      tags:
      - oauth2.json
  /oauth2/token/provider:
    get:
      produces:
      - application/json
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/oauth2TokenDataList'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Retrieves all OAuth2 provider tokens for the current user.
      tags:
      - oauth2.json
  /oauth2/token/provider/{oauth2ProviderId}/user/{username}:
    delete:
      produces:
      - application/json
      parameters:
      - description: Name of the OAuth2 provider
        in: path
        name: oauth2ProviderId
        required: true
        type: string
      - description: 'Username of the user, ex: ''Administrator'''
        in: path
        name: userName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Delete an OAuth2 provider token.
      tags:
      - oauth2.json
    get:
      produces:
      - application/json
      parameters:
      - description: Name of the OAuth2 provider
        in: path
        name: oauth2ProviderId
        required: true
        type: string
      - description: 'Username of the user, ex: ''Administrator'''
        in: path
        name: userName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/oauth2TokenData'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Gets an OAuth2 provider token.
      tags:
      - oauth2.json
    put:
      produces:
      - application/json
      parameters:
      - description: Name of the OAuth2 provider
        in: path
        name: oauth2ProviderId
        required: true
        type: string
      - description: 'Username of the user, ex: ''Administrator'''
        in: path
        name: userName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/oauth2TokenData'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Updates an OAuth2 provider token.
      tags:
      - oauth2.json
  /path/{docPath}:
    delete:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission can be deleted
      summary: Deletes a document by its path
      tags:
      - path.json
    get:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/document'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission to see will be returned
      summary: Find a document by its path
      tags:
      - path.json
    post:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: The created or updated document object
        in: body
        name: document
        required: true
        schema:
          $ref: '#/definitions/document'
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/document'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Creates a document by its parent path
      tags:
      - path.json
    put:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: The created or updated document object
        in: body
        name: document
        required: true
        schema:
          $ref: '#/definitions/document'
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/document'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission can be updated. Only the
        properties part of the document object is taken into account for update
      summary: Updates a document by its path
      tags:
      - path.json
  /repo/{repoId}/path/{docPath}:
    delete:
      produces:
      - application/json
      parameters:
      - description: The name of the repository
        in: path
        name: repoId
        required: true
        type: string
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission to see will be returned
      summary: Deletes a document by its path
      tags:
      - path.json
    get:
      produces:
      - application/json
      parameters:
      - description: The name of the repository
        in: path
        name: repoId
        required: true
        type: string
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/Document'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission to see will be returned
      summary: Find a document by its path
      tags:
      - path.json
    post:
      produces:
      - application/json
      parameters:
      - description: The name of the repository
        in: path
        name: repoId
        required: true
        type: string
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: The created or updated document object
        in: body
        name: document
        required: true
        schema:
          $ref: '#/definitions/document'
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/Document'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Creates a document by its parent path
      tags:
      - path.json
    put:
      produces:
      - application/json
      parameters:
      - description: The name of the repository
        in: path
        name: repoId
        required: true
        type: string
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: The created or updated document object
        in: body
        name: document
        required: true
        schema:
          $ref: '#/definitions/document'
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/Document'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission can be updated. Only the
        properties part of the document object is taken into account for update
      summary: Updates a document by its path
      tags:
      - path.json
  /id/{docId}/@pp/{pageProviderName}:
    get:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: 'Name of the page provider, ex: ''user_domains'''
        in: path
        name: pageProviderName
        required: true
        type: string
      - description: Index of the current page
        format: int64
        in: query
        name: currentPageIndex
        required: false
        type: integer
      - description: The offset of the returned result set. If set, the 'currentPageIndex'
          parameter is ignored.
        in: query
        name: offset
        required: false
        type: integer
      - description: Size of the page to retrieve
        format: int64
        in: query
        name: pageSize
        required: false
        type: integer
      - description: Maximum results to retrieve
        format: int64
        in: query
        name: maxResults
        required: false
        type: integer
      - description: Property to sort by, for example 'dc:title'
        in: query
        name: sortBy
        required: false
        type: string
      - description: Sort order, accepts 'asc' or 'desc', default is 'desc'
        in: query
        name: sortOrder
        required: false
        type: string
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/documents'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission to see will be returned
      summary: Execute a page provider on document by its id
      tags:
      - ppAdapter.json
  /path/{docPath}/@pp/{pageProviderName}:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: 'Name of the page provider, ex: ''user_domains'''
        in: path
        name: pageProviderName
        required: true
        type: string
      - description: Index of the current page
        format: int64
        in: query
        name: currentPageIndex
        required: false
        type: integer
      - description: The offset of the returned result set. If set, the 'currentPageIndex'
          parameter is ignored.
        in: query
        name: offset
        required: false
        type: integer
      - description: Size of the page to retrieve
        format: int64
        in: query
        name: pageSize
        required: false
        type: integer
      - description: Maximum results to retrieve
        format: int64
        in: query
        name: maxResults
        required: false
        type: integer
      - description: Property to sort by, for example 'dc:title'
        in: query
        name: sortBy
        required: false
        type: string
      - description: Sort order, accepts 'asc' or 'desc', default is 'desc'
        in: query
        name: sortOrder
        required: false
        type: string
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/documents'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission to see will be returned
      summary: Execute a page provider on document by its path
      tags:
      - ppAdapter.json
  /query:
    get:
      produces:
      - application/json
      parameters:
      - description: 'The query to perform. (By default: SELECT * FROM Document)'
        in: query
        name: query
        required: false
        type: string
      - description: 'The number of entries per page. (By default: 0)'
        in: query
        name: pageSize
        required: false
        type: integer
      - description: 'The selected page index. (By default: 0)'
        in: query
        name: currentPageIndex
        required: false
        type: integer
      - description: 'The maximum entries. (By default: 200)'
        in: query
        name: maxResults
        required: false
        type: integer
      - description: 'Property(ies) sorting. (Example: sortBy=''dc:title,dc:description'')'
        in: query
        name: sortBy
        required: false
        type: string
      - description: 'Sort order. (Example: sortOrder=''DESC,ASC'')'
        in: query
        name: sortOrder
        required: false
        type: string
      - description: 'Ordered parameters. (Example: for ''Select * From Document where
          dc:title = ?'' -> queryParams=''titleA'')'
        in: query
        name: queryParams
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/search'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: You can have also named parameters in the query. See http://doc.nuxeo.com/x/qAc5AQ
      summary: Perform Named Page Provider on the repository
      tags:
      - query.json
  /query/{providerName}:
    get:
      produces:
      - application/json
      parameters:
      - description: The page provider name.
        in: path
        name: providerName
        required: true
        type: string
      - description: 'The number of entries per page. (By default: 0)'
        in: query
        name: pageSize
        required: false
        type: integer
      - description: 'The selected page index. (By default: 0)'
        in: query
        name: currentPageIndex
        required: false
        type: integer
      - description: 'The maximum entries. (By default: 200)'
        in: query
        name: maxResults
        required: false
        type: integer
      - description: 'Property(ies) sorting. (Example: sortBy=''dc:title,dc:description'')'
        in: query
        name: sortBy
        required: false
        type: string
      - description: 'Sort order. (Example: sortOrder=''DESC,ASC'')'
        in: query
        name: sortOrder
        required: false
        type: string
      - description: 'Ordered parameters. (Example: for ''Select * From Document where
          dc:title = ?'' -> queryParams=''titleA'')'
        in: query
        name: queryParams
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/search'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: You can have also named parameters in the query. See http://doc.nuxeo.com/x/qAc5AQ
      summary: Perform Named Page Provider on the repository
      tags:
      - query.json
  /id/{docId}/@rendition/{renditionName}:
    get:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: 'Name of the rendition, ex: ''pdf'''
        in: path
        name: renditionName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/documents'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Returns the specified rendition on document by its id
      tags:
      - renditionAdapter.json
  /path/{docPath}/@rendition/{renditionName}:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: 'Name of the rendition, ex: ''pdf'''
        in: path
        name: renditionName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/documents'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Returns the specified rendition on document by its path
      tags:
      - renditionAdapter.json
  /config/schemas:
    get:
      produces:
      - application/json
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/schema'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: List registered schemas
      tags:
      - schema.json
  /config/schemas/{schema}:
    get:
      produces:
      - application/json
      parameters:
      - description: The name of the schema
        in: path
        name: schema
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/schema'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Schema description
      tags:
      - schema.json
  /search/lang/{queryLanguage}/bulk/{actionId}:
    post:
      produces:
      - application/json
      parameters:
      - description: The query language.
        in: path
        name: queryLanguage
        required: true
        type: string
      - description: 'The query to perform. (By default: SELECT * FROM Document)'
        in: query
        name: query
        required: false
        type: string
      - description: 'Ordered parameters. (Example: for ''Select * From Document where
          dc:title = ?'' -> queryParams=''titleA'')'
        in: query
        name: queryParams
        required: false
        type: string
      - description: Id of the bulk action
        in: path
        name: actionId
        required: true
        type: string
      - description: The bulk action parameters.
        in: body
        name: bulk parameters
        required: false
        schema:
          type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/bulkstatus'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: You can have also named parameters in the query. See http://doc.nuxeo.com/x/qAc5AQ
      summary: Performs a bulk action on the query result.
      tags:
      - search.json
  /search/lang/{queryLanguage}/execute:
    get:
      produces:
      - application/json
      parameters:
      - description: The query language.
        in: path
        name: queryLanguage
        required: true
        type: string
      - description: 'The query to perform. (By default: SELECT * FROM Document)'
        in: query
        name: query
        required: false
        type: string
      - description: 'The number of entries per page. (By default: 0)'
        in: query
        name: pageSize
        required: false
        type: integer
      - description: 'The selected page index. (By default: 0)'
        in: query
        name: currentPageIndex
        required: false
        type: integer
      - description: The offset of the returned result set. If set, the 'currentPageIndex'
          parameter is ignored.
        format: int64
        in: query
        name: offset
        required: false
        type: integer
      - description: 'The maximum entries. (By default: 200)'
        in: query
        name: maxResults
        required: false
        type: integer
      - description: 'Property(ies) sorting. (Example: sortBy=''dc:title,dc:description'')'
        in: query
        name: sortBy
        required: false
        type: string
      - description: 'Sort order. (Example: sortOrder=''DESC,ASC'')'
        in: query
        name: sortOrder
        required: false
        type: string
      - description: 'Ordered parameters. (Example: for ''Select * From Document where
          dc:title = ?'' -> queryParams=''titleA'')'
        in: query
        name: queryParams
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/documents'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: You can have also named parameters in the query. See http://doc.nuxeo.com/x/qAc5AQ
      summary: Performs a search query.
      tags:
      - search.json
  /search/pp/{providerName}:
    get:
      produces:
      - application/json
      parameters:
      - description: The page provider name.
        in: path
        name: providerName
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/pageproviderdef'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Gets the definition of a page provider.
      tags:
      - search.json
  /search/pp/{providerName}/bulk/{actionId}:
    post:
      produces:
      - application/json
      parameters:
      - description: The page provider name.
        in: path
        name: providerName
        required: true
        type: string
      - description: 'Ordered parameters. (Example: for ''Select * From Document where
          dc:title = ?'' -> queryParams=''titleA'')'
        in: query
        name: queryParams
        required: false
        type: string
      - description: Id of the bulk action
        in: path
        name: actionId
        required: true
        type: string
      - description: The bulk action parameters.
        in: body
        name: bulk parameters
        required: false
        schema:
          type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/bulkstatus'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: You can have also named parameters in the query. See http://doc.nuxeo.com/x/qAc5AQ
      summary: Performs a bulk action on the query result.
      tags:
      - search.json
  /search/pp/{providerName}/execute:
    get:
      produces:
      - application/json
      parameters:
      - description: The page provider name.
        in: path
        name: providerName
        required: true
        type: string
      - description: 'The number of entries per page. (By default: 0)'
        in: query
        name: pageSize
        required: false
        type: integer
      - description: 'The selected page index. (By default: 0)'
        in: query
        name: currentPageIndex
        required: false
        type: integer
      - description: The offset of the returned result set. If set, the 'currentPageIndex'
          parameter is ignored.
        format: int64
        in: query
        name: offset
        required: false
        type: integer
      - description: 'The maximum entries. (By default: 200)'
        in: query
        name: maxResults
        required: false
        type: integer
      - description: 'Property(ies) sorting. (Example: sortBy=''dc:title,dc:description'')'
        in: query
        name: sortBy
        required: false
        type: string
      - description: 'Sort order. (Example: sortOrder=''DESC,ASC'')'
        in: query
        name: sortOrder
        required: false
        type: string
      - description: 'Ordered parameters. (Example: for ''Select * From Document where
          dc:title = ?'' -> queryParams=''titleA'')'
        in: query
        name: queryParams
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/documents'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: You can have also named parameters in the query. See http://doc.nuxeo.com/x/qAc5AQ
      summary: Perform Named Page Provider on the repository
      tags:
      - search.json
  /search/saved:
    get:
      produces:
      - application/json
      parameters:
      - description: Name of the page provider.
        in: query
        name: pageProvider
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/savedsearches'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Returns the list of saved searches.
      tags:
      - search.json
    post:
      produces:
      - application/json
      parameters:
      - description: The created or updated saved search object.
        in: body
        name: saved search
        required: true
        schema:
          $ref: '#/definitions/savedsearch'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/savedsearch'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Saves a search.
      tags:
      - search.json
  /search/saved/{searchId}:
    delete:
      produces:
      - application/json
      parameters:
      - description: The search id.
        in: path
        name: searchId
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Deletes the saved search with the supplied id.
      tags:
      - search.json
    get:
      produces:
      - application/json
      parameters:
      - description: The search id.
        in: path
        name: searchId
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/savedsearch'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Return the saved search with the supplied id.
      tags:
      - search.json
    put:
      produces:
      - application/json
      parameters:
      - description: The search id.
        in: path
        name: searchId
        required: true
        type: string
      - description: The created or updated saved search object.
        in: body
        name: saved search
        required: true
        schema:
          $ref: '#/definitions/savedsearch'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/savedsearch'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Updates the saved search with the supplied id.
      tags:
      - search.json
  /search/saved/{searchId}/bulk/{actionId}:
    post:
      produces:
      - application/json
      parameters:
      - description: The search id.
        in: path
        name: searchId
        required: true
        type: string
      - description: Id of the bulk action
        in: path
        name: actionId
        required: true
        type: string
      - description: The bulk action parameters.
        in: body
        name: bulk parameters
        required: false
        schema:
          type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/bulkstatus'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Performs a bulk action on the saved search result.
      tags:
      - search.json
  /search/saved/{searchId}/execute:
    get:
      produces:
      - application/json
      parameters:
      - description: The search id.
        in: path
        name: searchId
        required: true
        type: string
      - description: 'The number of entries per page. (By default: 0)'
        in: query
        name: pageSize
        required: false
        type: integer
      - description: 'The selected page index. (By default: 0)'
        in: query
        name: currentPageIndex
        required: false
        type: integer
      - description: The offset of the returned result set. If set, the 'currentPageIndex'
          parameter is ignored.
        format: int64
        in: query
        name: offset
        required: false
        type: integer
      - description: 'The maximum entries. (By default: 200)'
        in: query
        name: maxResults
        required: false
        type: integer
      - description: 'Property(ies) sorting. (Example: sortBy=''dc:title,dc:description'')'
        in: query
        name: sortBy
        required: false
        type: string
      - description: 'Sort order. (Example: sortOrder=''DESC,ASC'')'
        in: query
        name: sortOrder
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/documents'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      summary: Executes saved searches, returning its results.
      tags:
      - search.json
  /id/{docId}/@search:
    get:
      produces:
      - application/json
      parameters:
      - description: Id of the document
        in: path
        name: docId
        required: true
        type: string
      - description: NXQL query
        in: query
        name: query
        required: false
        type: string
      - description: A full text query
        in: query
        name: fullText
        required: false
        type: string
      - description: Field on which to order
        in: query
        name: orderBy
        required: false
        type: string
      - description: Index of the current page
        format: int64
        in: query
        name: currentPageIndex
        required: false
        type: integer
      - description: The offset of the returned result set. If set, the 'currentPageIndex'
          parameter is ignored.
        in: query
        name: offset
        required: false
        type: integer
      - description: Size of the page to retrieve
        format: int64
        in: query
        name: pageSize
        required: false
        type: integer
      - description: Maximum results to retrieve
        format: int64
        in: query
        name: maxResults
        required: false
        type: integer
      - description: Property to sort by, for example 'dc:title'
        in: query
        name: sortBy
        required: false
        type: string
      - description: Sort order, accepts 'asc' or 'desc', default is 'desc'
        in: query
        name: sortOrder
        required: false
        type: string
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/documents'
        401:
          description: Not Authorized to get document
        404:
          description: Document not found
      description: Only documents which you have permission to see will be returned
      summary: Get the children of a document by its id
      tags:
      - searchAdapter.json
  /path/{docPath}/@search:
    get:
      produces:
      - application/json
      parameters:
      - description: 'Path of the document, ex: ''default-domain'''
        in: path
        name: docPath
        required: true
        type: string
      - description: Index of the current page
        format: int64
        in: query
        name: currentPageIndex
        required: false
        type: integer
      - description: The offset of the returned result set. If set, the 'currentPageIndex'
          parameter is ignored.
        in: query
        name: offset
        required: false
        type: integer
      - description: Size of the page to retrieve
        format: int64
        in: query
        name: pageSize
        required: false
        type: integer
      - description: Maximum results to retrieve
        format: int64
        in: query
        name: maxResults
        required: false
        type: integer
      - description: Property to sort by, for example 'dc:title'
        in: query
        name: sortBy
        required: false
        type: string
      - description: Sort order, accepts 'asc' or 'desc', default is 'desc'
        in: query
        name: sortOrder
        required: false
        type: string
      - description: NXQL query
        in: query
        name: query
        required: false
        type: string
      - description: A full text query
        in: query
        name: fullText
        required: false
        type: string
      - description: Field on which to order
        in: query
        name: orderBy
        required: false
        type: string
      - description: Schemas to be included in response
        in: header
        name: X-NXDocumentProperties
        required: false
        type: string
      - description: Categories to be included in context parameters map
        in: header
        name: X-NXContext-Category
        required: false
        type: string
      - description: 'Checkin Document Version. Return the last document version.
          (not live document) | Values: major or minor or none'
        in: header
        name: X-Versioning-Option
        required: false
        type: string
[...]
