---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:290:\"Amazon
  EMR is a web service that makes it easy to process large amounts of data efficiently.
  Amazon EMR uses Hadoop processing combined with several AWS products to do tasks
  such as web indexing, data mining, log file analysis, machine learning, scientific
  simulation, and data warehousing.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:24:\"Amazon
  Elastic MapReduce\";s:7:\"version\";s:10:\"2009-03-31\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:100:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticmapreduce-2009-03-31.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:16:\"elasticmapreduce\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"amazonaws_elasticmapreduce\";s:4:\"type\";s:7:\"openapi\";}}"
host: elasticmapreduce.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":216:{s:15:\"ActionOnFailure\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:18:\"TERMINATE_JOB_FLOW\";i:1;s:17:\"TERMINATE_CLUSTER\";i:2;s:15:\"CANCEL_AND_WAIT\";i:3;s:8:\"CONTINUE\";}s:4:\"type\";s:6:\"string\";}s:21:\"AddInstanceFleetInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:37:\"The
  unique identifier of the cluster.\";}s:13:\"InstanceFleet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/InstanceFleetConfig\";s:11:\"description\";s:50:\"Specifies
  the configuration of the instance fleet.\";}}s:8:\"required\";a:2:{i:0;s:9:\"ClusterId\";i:1;s:13:\"InstanceFleet\";}s:4:\"type\";s:6:\"object\";}s:22:\"AddInstanceFleetOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:37:\"The
  unique identifier of the cluster.\";}s:15:\"InstanceFleetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InstanceFleetId\";s:11:\"description\";s:44:\"The
  unique identifier of the instance fleet.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"AddInstanceGroupsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Input
  to an AddInstanceGroups call.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"InstanceGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/InstanceGroupConfigList\";s:11:\"description\";s:23:\"Instance
  groups to add.\";}s:9:\"JobFlowId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:45:\"Job
  flow in which to add the instance groups.\";}}s:8:\"required\";a:2:{i:0;s:14:\"InstanceGroups\";i:1;s:9:\"JobFlowId\";}s:4:\"type\";s:6:\"object\";}s:23:\"AddInstanceGroupsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Output
  from an AddInstanceGroups call.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"InstanceGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/InstanceGroupIdsList\";s:11:\"description\";s:56:\"Instance
  group IDs of the newly created instance groups.\";}s:9:\"JobFlowId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:55:\"The
  job flow ID in which the instance groups are added.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AddJobFlowStepsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"
  The input argument to the <a>AddJobFlowSteps</a> operation. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"JobFlowId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:148:\"A
  string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a>
  and can also be obtained from <a>ListClusters</a>. \";}s:5:\"Steps\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StepConfigList\";s:11:\"description\";s:61:\"
  A list of <a>StepConfig</a> to be executed by the job flow. \";}}s:8:\"required\";a:2:{i:0;s:9:\"JobFlowId\";i:1;s:5:\"Steps\";}s:4:\"type\";s:6:\"object\";}s:21:\"AddJobFlowStepsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"
  The output for the <a>AddJobFlowSteps</a> operation. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"StepIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StepIdsList\";s:11:\"description\";s:59:\"The
  identifiers of the list of steps added to the job flow.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AddTagsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"This
  input identifies a cluster and a list of tags to attach.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:104:\"The
  Amazon EMR resource identifier to which tags will be added. This value must be a
  cluster identifier.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:247:\"A
  list of tags to associate with a cluster and propagate to EC2 instances. Tags are
  user-defined key/value pairs that consist of a required key string with a maximum
  of 128 characters, and an optional value string with a maximum of 256 characters.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResourceId\";i:1;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:13:\"AddTagsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"This
  output indicates the result of adding tags to a resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"AdjustmentType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:18:\"CHANGE_IN_CAPACITY\";i:1;s:26:\"PERCENT_CHANGE_IN_CAPACITY\";i:2;s:14:\"EXACT_CAPACITY\";}s:4:\"type\";s:6:\"string\";}s:11:\"Application\";O:8:\"stdClass\":3:{s:11:\"description\";s:1030:\"<p>An
  application is any Amazon or third-party software that you can add to the cluster.
  This structure contains a list of strings that indicates the software to use with
  the cluster and accepts a user argument list. Amazon EMR accepts and forwards the
  argument list to the corresponding installation script as bootstrap action argument.
  For more information, see <a href=\"http://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-mapr.html\">Using
  the MapR Distribution for Hadoop</a>. Currently supported values are:</p> <ul> <li>
  <p>\"mapr-m3\" - launch the cluster using MapR M3 Edition.</p> </li> <li> <p>\"mapr-m5\"
  - launch the cluster using MapR M5 Edition.</p> </li> <li> <p>\"mapr\" with the
  user arguments specifying \"--edition,m3\" or \"--edition,m5\" - launch the cluster
  using MapR M3 or M5 Edition, respectively.</p> </li> </ul> <note> <p>In Amazon EMR
  releases 4.x and later, the only accepted parameter is the application name. To
  pass arguments to applications, you supply a configuration for each application.</p>
  </note>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"AdditionalInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StringMap\";s:11:\"description\";s:146:\"This
  option is for advanced users only. This is meta information about third-party applications
  that third-party vendors use for testing purposes.\";}s:4:\"Args\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:52:\"Arguments
  for Amazon EMR to pass to the application.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:28:\"The
  name of the application.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:31:\"The
  version of the application.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ApplicationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Application\";}s:4:\"type\";s:5:\"array\";}s:17:\"AutoScalingPolicy\";O:8:\"stdClass\":4:{s:11:\"description\";s:288:\"An
  automatic scaling policy for a core instance group or task instance group in an
  Amazon EMR cluster. An automatic scaling policy defines how an instance group dynamically
  adds and terminates EC2 instances in response to the value of a CloudWatch metric.
  See <a>PutAutoScalingPolicy</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Constraints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ScalingConstraints\";s:11:\"description\";s:169:\"The
  upper and lower EC2 instance limits for an automatic scaling policy. Automatic scaling
  activity will not cause an instance group to grow above or below these limits.\";}s:5:\"Rules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ScalingRuleList\";s:11:\"description\";s:76:\"The
  scale-in and scale-out rules that comprise the automatic scaling policy.\";}}s:8:\"required\";a:2:{i:0;s:11:\"Constraints\";i:1;s:5:\"Rules\";}s:4:\"type\";s:6:\"object\";}s:28:\"AutoScalingPolicyDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:289:\"An
  automatic scaling policy for a core instance group or task instance group in an
  Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically
  adds and terminates EC2 instances in response to the value of a CloudWatch metric.
  See <a>PutAutoScalingPolicy</a>.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Constraints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ScalingConstraints\";s:11:\"description\";s:169:\"The
  upper and lower EC2 instance limits for an automatic scaling policy. Automatic scaling
  activity will not cause an instance group to grow above or below these limits.\";}s:5:\"Rules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ScalingRuleList\";s:11:\"description\";s:76:\"The
  scale-in and scale-out rules that comprise the automatic scaling policy.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/AutoScalingPolicyStatus\";s:11:\"description\";s:43:\"The
  status of an automatic scaling policy. \";}}s:4:\"type\";s:6:\"object\";}s:22:\"AutoScalingPolicyState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:7:\"PENDING\";i:1;s:9:\"ATTACHING\";i:2;s:8:\"ATTACHED\";i:3;s:9:\"DETACHING\";i:4;s:8:\"DETACHED\";i:5;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:34:\"AutoScalingPolicyStateChangeReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  reason for an <a>AutoScalingPolicyStatus</a> change.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:52:\"#/definitions/AutoScalingPolicyStateChangeReasonCode\";s:11:\"description\";s:302:\"The
  code indicating the reason for the change in status.<code>USER_REQUEST</code> indicates
  that the scaling policy status was changed by a user. <code>PROVISION_FAILURE</code>
  indicates that the status change was because the policy failed to provision. <code>CLEANUP_FAILURE</code>
  indicates an error.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:91:\"A
  friendly, more verbose message that accompanies an automatic scaling policy state
  change.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"AutoScalingPolicyStateChangeReasonCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:12:\"USER_REQUEST\";i:1;s:17:\"PROVISION_FAILURE\";i:2;s:15:\"CLEANUP_FAILURE\";}s:4:\"type\";s:6:\"string\";}s:23:\"AutoScalingPolicyStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  status of an automatic scaling policy. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/AutoScalingPolicyState\";s:11:\"description\";s:53:\"Indicates
  the status of the automatic scaling policy.\";}s:17:\"StateChangeReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/AutoScalingPolicyStateChangeReason\";s:11:\"description\";s:34:\"The
  reason for a change in status.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"BooleanObject\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"BootstrapActionConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Configuration
  of a bootstrap action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:33:\"The
  name of the bootstrap action.\";}s:21:\"ScriptBootstrapAction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ScriptBootstrapActionConfig\";s:11:\"description\";s:39:\"The
  script run by the bootstrap action.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:21:\"ScriptBootstrapAction\";}s:4:\"type\";s:6:\"object\";}s:25:\"BootstrapActionConfigList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/BootstrapActionConfig\";}s:4:\"type\";s:5:\"array\";}s:21:\"BootstrapActionDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Reports
  the configuration of a bootstrap action in a cluster (job flow).\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"BootstrapActionConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/BootstrapActionConfig\";s:11:\"description\";s:38:\"A
  description of the bootstrap action.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"BootstrapActionDetailList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/BootstrapActionDetail\";}s:4:\"type\";s:5:\"array\";}s:15:\"CancelStepsInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"Specification
  of the status of a CancelSteps request. Available only in Amazon EMR version 4.8.0
  and later, excluding version 5.0.0.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:60:\"The
  reason for the failure if the CancelSteps request fails.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CancelStepsRequestStatus\";s:11:\"description\";s:74:\"The
  status of a CancelSteps Request. The value may be SUBMITTED or FAILED.\";}s:6:\"StepId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/StepId\";s:11:\"description\";s:31:\"The
  encrypted StepId of a step.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CancelStepsInfoList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CancelStepsInfo\";}s:4:\"type\";s:5:\"array\";}s:16:\"CancelStepsInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  input argument to the <a>CancelSteps</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:136:\"The
  <code>ClusterID</code> for which specified steps will be canceled. Use <a>RunJobFlow</a>
  and <a>ListClusters</a> to get ClusterIDs. \";}s:7:\"StepIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StepIdsList\";s:11:\"description\";s:121:\"The
  list of <code>StepIDs</code> to cancel. Use <a>ListSteps</a> to get steps and their
  states for the specified cluster.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CancelStepsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"
  The output for the <a>CancelSteps</a> operation. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"CancelStepsInfoList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CancelStepsInfoList\";s:11:\"description\";s:125:\"A
  list of <a>CancelStepsInfo</a>, which shows the status of specified cancel requests
  for each <code>StepID</code> specified.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CancelStepsRequestStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"SUBMITTED\";i:1;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:25:\"CloudWatchAlarmDefinition\";O:8:\"stdClass\":4:{s:11:\"description\";s:184:\"The
  definition of a CloudWatch metric alarm, which determines when an automatic scaling
  activity is triggered. When the defined alarm conditions are satisfied, scaling
  activity begins.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:18:\"ComparisonOperator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ComparisonOperator\";s:11:\"description\";s:124:\"Determines
  how the metric specified by <code>MetricName</code> is compared to the value specified
  by <code>Threshold</code>.\";}s:10:\"Dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MetricDimensionList\";s:11:\"description\";s:30:\"A
  CloudWatch metric dimension.\";}s:17:\"EvaluationPeriods\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:205:\"The
  number of periods, expressed in seconds using <code>Period</code>, during which
  the alarm condition must exist before the alarm triggers automatic scaling activity.
  The default value is <code>1</code>.\";}s:10:\"MetricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:82:\"The
  name of the CloudWatch metric that is watched to determine an alarm condition.\";}s:9:\"Namespace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:90:\"The
  namespace for the CloudWatch metric. The default is <code>AWS/ElasticMapReduce</code>.\";}s:6:\"Period\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:200:\"The
  period, in seconds, over which the statistic is applied. EMR CloudWatch metrics
  are emitted every five minutes (300 seconds), so if an EMR CloudWatch metric is
  specified, specify <code>300</code>.\";}s:9:\"Statistic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Statistic\";s:11:\"description\";s:100:\"The
  statistic to apply to the metric associated with the alarm. The default is <code>AVERAGE</code>.\";}s:9:\"Threshold\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NonNegativeDouble\";s:11:\"description\";s:60:\"The
  value against which the specified statistic is compared.\";}s:4:\"Unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Unit\";s:11:\"description\";s:179:\"The
  unit of measure associated with the CloudWatch metric being watched. The value specified
  for <code>Unit</code> must correspond to the units specified in the CloudWatch metric.\";}}s:8:\"required\";a:4:{i:0;s:18:\"ComparisonOperator\";i:1;s:10:\"MetricName\";i:2;s:6:\"Period\";i:3;s:9:\"Threshold\";}s:4:\"type\";s:6:\"object\";}s:7:\"Cluster\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  detailed description of the cluster.\";s:10:\"properties\";O:8:\"stdClass\":25:{s:12:\"Applications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationList\";s:11:\"description\";s:43:\"The
  applications installed on this cluster.\";}s:15:\"AutoScalingRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:243:\"An
  IAM role for automatic scaling policies. The default role is <code>EMR_AutoScaling_DefaultRole</code>.
  The IAM role provides permissions that the automatic scaling feature requires to
  launch and terminate EC2 instances in an instance group.\";}s:13:\"AutoTerminate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:74:\"Specifies
  whether the cluster should terminate after completing all steps.\";}s:14:\"Configurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ConfigurationList\";s:11:\"description\";s:106:\"Applies
  only to Amazon EMR releases 4.x and later. The list of Configurations supplied to
  the EMR cluster.\";}s:11:\"CustomAmiId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:134:\"Available
  only in Amazon EMR version 5.7.0 and later. The ID of a custom Amazon EBS-backed
  Linux AMI if the cluster uses a custom AMI.\";}s:17:\"EbsRootVolumeSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:147:\"The
  size, in GiB, of the EBS root device volume of the Linux AMI that is used for each
  EC2 instance. Available in Amazon EMR version 4.x and later.\";}s:21:\"Ec2InstanceAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/Ec2InstanceAttributes\";s:11:\"description\";s:145:\"Provides
  information about the EC2 instances in a cluster grouped by category. For example,
  key name, subnet ID, IAM instance profile, and so on.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ClusterId\";s:11:\"description\";s:38:\"The
  unique identifier for the cluster.\";}s:22:\"InstanceCollectionType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/InstanceCollectionType\";s:11:\"description\";s:366:\"<note>
  <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0
  and later, excluding 5.0.x versions.</p> </note> <p>The instance group configuration
  of the cluster. A value of <code>INSTANCE_GROUP</code> indicates a uniform instance
  group configuration. A value of <code>INSTANCE_FLEET</code> indicates an instance
  fleets configuration.</p>\";}s:18:\"KerberosAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/KerberosAttributes\";s:11:\"description\";s:284:\"Attributes
  for Kerberos configuration when Kerberos authentication is enabled using a security
  configuration. For more information see <a href=\"http://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-kerberos.html\">Use
  Kerberos Authentication</a> in the <i>EMR Management Guide</i>.\";}s:6:\"LogUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:74:\"The
  path to the Amazon S3 location where logs for this cluster are stored.\";}s:19:\"MasterPublicDnsName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:150:\"The
  DNS name of the master node. If the cluster is on a private subnet, this is the
  private DNS name. On a public subnet, this is the public DNS name.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:24:\"The
  name of the cluster.\";}s:23:\"NormalizedInstanceHours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:405:\"An
  approximation of the cost of the cluster, represented in m1.small/hours. This value
  is incremented one time for every hour an m1.small instance runs. Larger instances
  are weighted more, so an EC2 instance that is roughly four times more expensive
  would result in the normalized instance hours being incremented by four. This result
  is only an approximation and does not reflect the actual billing rate.\";}s:12:\"ReleaseLabel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:45:\"The
  release label for the Amazon EMR release.\";}s:17:\"RepoUpgradeOnBoot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RepoUpgradeOnBoot\";s:11:\"description\";s:183:\"Applies
  only when <code>CustomAmiID</code> is used. Specifies the type of updates that are
  applied from the Amazon Linux AMI package repositories when an instance boots using
  the AMI.\";}s:19:\"RequestedAmiVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:43:\"The
  AMI version requested for this cluster.\";}s:17:\"RunningAmiVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:40:\"The
  AMI version running on this cluster.\";}s:17:\"ScaleDownBehavior\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ScaleDownBehavior\";s:11:\"description\";s:936:\"The
  way that individual Amazon EC2 instances terminate when an automatic scale-in activity
  occurs or an instance group is resized. <code>TERMINATE_AT_INSTANCE_HOUR</code>
  indicates that Amazon EMR terminates nodes at the instance-hour boundary, regardless
  of when the request to terminate the instance was submitted. This option is only
  available with Amazon EMR 5.1.0 and later and is the default for clusters created
  using that version. <code>TERMINATE_AT_TASK_COMPLETION</code> indicates that Amazon
  EMR blacklists and drains tasks from nodes before terminating the Amazon EC2 instances,
  regardless of the instance-hour boundary. With either behavior, Amazon EMR removes
  the least active nodes first and blocks instance termination if it could lead to
  HDFS corruption. <code>TERMINATE_AT_TASK_COMPLETION</code> is available only in
  Amazon EMR version 4.1.0 and later, and is the default for versions of Amazon EMR
  earlier than 5.1.0.\";}s:21:\"SecurityConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:62:\"The
  name of the security configuration applied to the cluster.\";}s:11:\"ServiceRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:99:\"The
  IAM role that will be assumed by the Amazon EMR service to access AWS resources
  on your behalf.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ClusterStatus\";s:11:\"description\";s:45:\"The
  current status details about the cluster.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:41:\"A
  list of tags associated with a cluster.\";}s:20:\"TerminationProtected\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:174:\"Indicates
  whether Amazon EMR will lock the cluster to prevent the EC2 instances from being
  terminated by an API call or user intervention, or in the event of a cluster error.\";}s:17:\"VisibleToAllUsers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:438:\"Indicates
  whether the cluster is visible to all IAM users of the AWS account associated with
  the cluster. If this value is set to <code>true</code>, all IAM users of that AWS
  account can view and manage the cluster if they have the proper policy permissions
  set. If this value is <code>false</code>, only the IAM user that created the cluster
  can view and manage it. This value can be changed using the <a>SetVisibleToAllUsers</a>
  action.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ClusterId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ClusterState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:8:\"STARTING\";i:1;s:13:\"BOOTSTRAPPING\";i:2;s:7:\"RUNNING\";i:3;s:7:\"WAITING\";i:4;s:11:\"TERMINATING\";i:5;s:10:\"TERMINATED\";i:6;s:22:\"TERMINATED_WITH_ERRORS\";}s:4:\"type\";s:6:\"string\";}s:24:\"ClusterStateChangeReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  reason that the cluster changed to its current state.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ClusterStateChangeReasonCode\";s:11:\"description\";s:50:\"The
  programmatic code for the state change reason.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"The
  descriptive message for the state change reason.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ClusterStateChangeReasonCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:14:\"INTERNAL_ERROR\";i:1;s:16:\"VALIDATION_ERROR\";i:2;s:16:\"INSTANCE_FAILURE\";i:3;s:22:\"INSTANCE_FLEET_TIMEOUT\";i:4;s:17:\"BOOTSTRAP_FAILURE\";i:5;s:12:\"USER_REQUEST\";i:6;s:12:\"STEP_FAILURE\";i:7;s:19:\"ALL_STEPS_COMPLETED\";}s:4:\"type\";s:6:\"string\";}s:16:\"ClusterStateList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ClusterState\";}s:4:\"type\";s:5:\"array\";}s:13:\"ClusterStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  detailed status of the cluster.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ClusterState\";s:11:\"description\";s:33:\"The
  current state of the cluster.\";}s:17:\"StateChangeReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ClusterStateChangeReason\";s:11:\"description\";s:41:\"The
  reason for the cluster status change.\";}s:8:\"Timeline\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ClusterTimeline\";s:11:\"description\";s:84:\"A
  timeline that represents the status of a cluster over the lifetime of the cluster.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ClusterSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  summary description of the cluster.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ClusterId\";s:11:\"description\";s:38:\"The
  unique identifier for the cluster.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:24:\"The
  name of the cluster.\";}s:23:\"NormalizedInstanceHours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:405:\"An
  approximation of the cost of the cluster, represented in m1.small/hours. This value
  is incremented one time for every hour an m1.small instance runs. Larger instances
  are weighted more, so an EC2 instance that is roughly four times more expensive
  would result in the normalized instance hours being incremented by four. This result
  is only an approximation and does not reflect the actual billing rate.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ClusterStatus\";s:11:\"description\";s:52:\"The
  details about the current status of the cluster.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ClusterSummaryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ClusterSummary\";}s:4:\"type\";s:5:\"array\";}s:15:\"ClusterTimeline\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Represents
  the timeline of the cluster's lifecycle.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"CreationDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:42:\"The
  creation date and time of the cluster.\";}s:11:\"EndDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:50:\"The
  date and time when the cluster was terminated.\";}s:13:\"ReadyDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:62:\"The
  date and time when the cluster was ready to execute steps.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Command\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"An
  entity describing an executable that runs on a cluster.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Args\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:62:\"Arguments
  for Amazon EMR to pass to the command for execution.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:24:\"The
  name of the command.\";}s:10:\"ScriptPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:45:\"The
  Amazon S3 location of the command script.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CommandList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Command\";}s:4:\"type\";s:5:\"array\";}s:18:\"ComparisonOperator\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:21:\"GREATER_THAN_OR_EQUAL\";i:1;s:12:\"GREATER_THAN\";i:2;s:9:\"LESS_THAN\";i:3;s:18:\"LESS_THAN_OR_EQUAL\";}s:4:\"type\";s:6:\"string\";}s:13:\"Configuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:605:\"<note>
  <p>Amazon EMR releases 4.x or later.</p> </note> <p>An optional configuration specification
  to be used when provisioning cluster instances, which can include configurations
  for applications and software bundled with Amazon EMR. A configuration consists
  of a classification, properties, and optional nested configurations. A classification
  refers to an application-specific configuration file. Properties are the settings
  you want to change in that file. For more information, see <a href=\"http://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-configure-apps.html\">Configuring
  Applications</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"Classification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"The
  classification within a configuration.\";}s:14:\"Configurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ConfigurationList\";s:11:\"description\";s:75:\"A
  list of additional configurations to apply within a configuration object.\";}s:10:\"Properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StringMap\";s:11:\"description\";s:68:\"A
  set of properties specified within a configuration classification.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ConfigurationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Configuration\";}s:4:\"type\";s:5:\"array\";}s:32:\"CreateSecurityConfigurationInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:39:\"The
  name of the security configuration.\";}s:21:\"SecurityConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:287:\"The
  security configuration details in JSON format. For JSON parameters and examples,
  see <a href=\"http://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-security-configurations.html\">Use
  Security Configurations to Set Up Cluster Security</a> in the <i>Amazon EMR Management
  Guide</i>.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:21:\"SecurityConfiguration\";}s:4:\"type\";s:6:\"object\";}s:33:\"CreateSecurityConfigurationOutput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"CreationDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:57:\"The
  date and time the security configuration was created.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:39:\"The
  name of the security configuration.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:16:\"CreationDateTime\";}s:4:\"type\";s:6:\"object\";}s:4:\"Date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:32:\"DeleteSecurityConfigurationInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:39:\"The
  name of the security configuration.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:33:\"DeleteSecurityConfigurationOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeClusterInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"This
  input determines which cluster to describe.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"ClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ClusterId\";s:11:\"description\";s:42:\"The
  identifier of the cluster to describe.\";}}s:8:\"required\";a:1:{i:0;s:9:\"ClusterId\";}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeClusterOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"This
  output contains the description of the cluster.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";s:11:\"description\";s:59:\"This
  output contains the details for the requested cluster.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeJobFlowsInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"
  The input for the <a>DescribeJobFlows</a> operation. \";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"CreatedAfter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:55:\"Return
  only job flows created after this date and time.\";}s:13:\"CreatedBefore\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:56:\"Return
  only job flows created before this date and time.\";}s:10:\"JobFlowIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/XmlStringList\";s:11:\"description\";s:66:\"Return
  only job flows whose job flow ID is contained in this list.\";}s:13:\"JobFlowStates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/JobFlowExecutionStateList\";s:11:\"description\";s:60:\"Return
  only job flows whose state is contained in this list.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeJobFlowsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"
  The output for the <a>DescribeJobFlows</a> operation. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"JobFlows\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/JobFlowDetailList\";s:11:\"description\";s:53:\"A
  list of job flows matching the parameters supplied.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeSecurityConfigurationInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:39:\"The
  name of the security configuration.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeSecurityConfigurationOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"CreationDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:56:\"The
  date and time the security configuration was created\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:39:\"The
  name of the security configuration.\";}s:21:\"SecurityConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:50:\"The
  security configuration details in JSON format.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DescribeStepInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"This
  input determines which step to describe.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ClusterId\";s:11:\"description\";s:53:\"The
  identifier of the cluster with steps to describe.\";}s:6:\"StepId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/StepId\";s:11:\"description\";s:39:\"The
  identifier of the step to describe.\";}}s:8:\"required\";a:2:{i:0;s:9:\"ClusterId\";i:1;s:6:\"StepId\";}s:4:\"type\";s:6:\"object\";}s:18:\"DescribeStepOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"This
  output contains the description of the cluster step.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Step\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Step\";s:11:\"description\";s:51:\"The
  step details for the requested step identifier.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"EC2InstanceIdsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/InstanceId\";}s:4:\"type\";s:5:\"array\";}s:29:\"EC2InstanceIdsToTerminateList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/InstanceId\";}s:4:\"type\";s:5:\"array\";}s:14:\"EbsBlockDevice\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Configuration
  of requested EBS block device associated with the instance group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Device\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:66:\"The
  device name that is exposed to the instance, such as /dev/sdh.\";}s:19:\"VolumeSpecification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/VolumeSpecification\";s:11:\"description\";s:153:\"EBS
  volume specifications such as volume type, IOPS, and size (GiB) that will be requested
  for the EBS volume attached to an EC2 instance in the cluster.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"EbsBlockDeviceConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:143:\"Configuration
  of requested EBS block device associated with the instance group with count of volumes
  that will be associated to every instance.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"VolumeSpecification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/VolumeSpecification\";s:11:\"description\";s:153:\"EBS
  volume specifications such as volume type, IOPS, and size (GiB) that will be requested
  for the EBS volume attached to an EC2 instance in the cluster.\";}s:18:\"VolumesPerInstance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:124:\"Number
  of EBS volumes with a specific volume configuration that will be associated with
  every instance in the instance group\";}}s:8:\"required\";a:1:{i:0;s:19:\"VolumeSpecification\";}s:4:\"type\";s:6:\"object\";}s:24:\"EbsBlockDeviceConfigList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EbsBlockDeviceConfig\";}s:4:\"type\";s:5:\"array\";}s:18:\"EbsBlockDeviceList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EbsBlockDevice\";}s:4:\"type\";s:5:\"array\";}s:16:\"EbsConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  Amazon EBS configuration of a cluster instance.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"EbsBlockDeviceConfigs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/EbsBlockDeviceConfigList\";s:11:\"description\";s:76:\"An
  array of Amazon EBS volume specifications attached to a cluster instance.\";}s:12:\"EbsOptimized\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:56:\"Indicates
  whether an Amazon EBS volume is EBS-optimized.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"EbsVolume\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"EBS
  block device that's attached to an EC2 instance.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Device\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:66:\"The
  device name that is exposed to the instance, such as /dev/sdh.\";}s:8:\"VolumeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:40:\"The
  volume identifier of the EBS volume.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"EbsVolumeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EbsVolume\";}s:4:\"type\";s:5:\"array\";}s:21:\"Ec2InstanceAttributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"Provides
  information about the EC2 instances in a cluster grouped by category. For example,
  key name, subnet ID, IAM instance profile, and so on.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:30:\"AdditionalMasterSecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:71:\"A
  list of additional Amazon EC2 security group IDs for the master node.\";}s:29:\"AdditionalSlaveSecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:71:\"A
  list of additional Amazon EC2 security group IDs for the slave nodes.\";}s:19:\"Ec2AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:53:\"The
  Availability Zone in which the cluster will run. \";}s:10:\"Ec2KeyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:114:\"The
  name of the Amazon EC2 key pair to use when connecting with SSH into the master
  node as a user named \"hadoop\".\";}s:11:\"Ec2SubnetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:449:\"<p>To
  launch the cluster in Amazon VPC, set this parameter to the identifier of the Amazon
  VPC subnet where you want the cluster to launch. If you do not specify this value,
  the cluster is launched in the normal AWS cloud, outside of a VPC.</p> <p>Amazon
  VPC currently does not support cluster compute quadruple extra large (cc1.4xlarge)
  instances. Thus, you cannot specify the cc1.4xlarge instance type for nodes of a
  cluster launched in a VPC.</p>\";}s:29:\"EmrManagedMasterSecurityGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:68:\"The
  identifier of the Amazon EC2 security group for the master node.\";}s:28:\"EmrManagedSlaveSecurityGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:68:\"The
  identifier of the Amazon EC2 security group for the slave nodes.\";}s:18:\"IamInstanceProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:113:\"The
  IAM role that was specified when the cluster was launched. The EC2 instances of
  the cluster assume this role.\";}s:29:\"RequestedEc2AvailabilityZones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/XmlStringMaxLen256List\";s:11:\"description\";s:595:\"Applies
  to clusters configured with the instance fleets option. Specifies one or more Availability
  Zones in which to launch EC2 cluster instances when the EC2-Classic network configuration
  is supported. Amazon EMR chooses the Availability Zone with the best fit from among
  the list of <code>RequestedEc2AvailabilityZones</code>, and then launches all cluster
  instances within that Availability Zone. If you do not specify this value, Amazon
  EMR chooses the Availability Zone for you. <code>RequestedEc2SubnetIDs</code> and
  <code>RequestedEc2AvailabilityZones</code> cannot be specified together.\";}s:21:\"RequestedEc2SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/XmlStringMaxLen256List\";s:11:\"description\";s:818:\"Applies
  to clusters configured with the instance fleets option. Specifies the unique identifier
  of one or more Amazon EC2 subnets in which to launch EC2 cluster instances. Subnets
  must exist within the same VPC. Amazon EMR chooses the EC2 subnet with the best
  fit from among the list of <code>RequestedEc2SubnetIds</code>, and then launches
  all cluster instances within that Subnet. If this value is not specified, and the
  account and region support EC2-Classic networks, the cluster launches instances
  in the EC2-Classic network and uses <code>RequestedEc2AvailabilityZones</code> instead
  of this setting. If EC2-Classic is not supported, and no Subnet is specified, Amazon
  EMR chooses the subnet for you. <code>RequestedEc2SubnetIDs</code> and <code>RequestedEc2AvailabilityZones</code>
  cannot be specified together.\";}s:26:\"ServiceAccessSecurityGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:117:\"The
  identifier of the Amazon EC2 security group for the Amazon EMR service to access
  clusters in VPC private subnets.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ErrorCode\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"FailureDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  details of the step failure. The service attempts to detect the root cause for many
  common failures.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"LogFile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:83:\"The
  path to the log file where the step failure root cause was originally recorded.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:181:\"The
  descriptive message including the error the EMR service has identified as the cause
  of step failure. This is text from an error log that describes the root cause of
  the failure.\";}s:6:\"Reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:163:\"The
  reason for the step failure. In the case where the service cannot successfully determine
  the root cause of the failure, it returns \"Unknown Error\" as a reason.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"HadoopJarStepConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:173:\"A
  job flow step consisting of a JAR file whose main function will be executed. The
  main function submits a job for Hadoop to execute and waits for the job to finish
  or fail.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Args\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/XmlStringList\";s:11:\"description\";s:86:\"A
  list of command line arguments passed to the JAR file's main function when executed.\";}s:3:\"Jar\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:41:\"A
  path to a JAR file run during the step.\";}s:9:\"MainClass\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:135:\"The
  name of the main class in the specified Java file. If not specified, the JAR file
  should specify a Main-Class in its manifest file.\";}s:10:\"Properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/KeyValueList\";s:11:\"description\";s:134:\"A
  list of Java properties that are set when the step runs. You can use these properties
  to pass key value pairs to your main function.\";}}s:8:\"required\";a:1:{i:0;s:3:\"Jar\";}s:4:\"type\";s:6:\"object\";}s:16:\"HadoopStepConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"A
  cluster step consisting of a JAR file whose main function will be executed. The
  main function submits a job for Hadoop to execute and waits for the job to finish
  or fail.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Args\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:89:\"The
  list of command line arguments to pass to the JAR file's main function for execution.\";}s:3:\"Jar\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:51:\"The
  path to the JAR file that runs during the step.\";}s:9:\"MainClass\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:135:\"The
  name of the main class in the specified Java file. If not specified, the JAR file
  should specify a main class in its manifest file.\";}s:10:\"Properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StringMap\";s:11:\"description\";s:136:\"The
  list of Java properties that are set when the step runs. You can use these properties
  to pass key value pairs to your main function.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Instance\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Represents
  an EC2 instance provisioned as part of cluster.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"EbsVolumes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EbsVolumeList\";s:11:\"description\";s:59:\"The
  list of EBS volumes that are attached to this instance.\";}s:13:\"Ec2InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/InstanceId\";s:11:\"description\";s:52:\"The
  unique identifier of the instance in Amazon EC2.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/InstanceId\";s:11:\"description\";s:53:\"The
  unique identifier for the instance in Amazon EMR.\";}s:15:\"InstanceFleetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InstanceFleetId\";s:11:\"description\";s:77:\"The
  unique identifier of the instance fleet to which an EC2 instance belongs.\";}s:15:\"InstanceGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:68:\"The
  identifier of the instance group to which this instance belongs.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/InstanceType\";s:11:\"description\";s:58:\"The
  EC2 instance type, for example <code>m3.xlarge</code>.\";}s:6:\"Market\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MarketType\";s:11:\"description\";s:94:\"The
  instance purchasing option. Valid values are <code>ON_DEMAND</code> or <code>SPOT</code>.
  \";}s:14:\"PrivateDnsName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:37:\"The
  private DNS name of the instance.\";}s:16:\"PrivateIpAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:39:\"The
  private IP address of the instance.\";}s:13:\"PublicDnsName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:36:\"The
  public DNS name of the instance.\";}s:15:\"PublicIpAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"The
  public IP address of the instance.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/InstanceStatus\";s:11:\"description\";s:35:\"The
  current status of the instance.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InstanceCollectionType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:14:\"INSTANCE_FLEET\";i:1;s:14:\"INSTANCE_GROUP\";}s:4:\"type\";s:6:\"string\";}s:13:\"InstanceFleet\";O:8:\"stdClass\":3:{s:11:\"description\";s:438:\"<p>Describes
  an instance fleet, which is a group of EC2 instances that host a particular node
  type (master, core, or task) in an Amazon EMR cluster. Instance fleets can consist
  of a mix of instance types and On-Demand and Spot instances, which are provisioned
  to meet a defined target capacity. </p> <note> <p>The instance fleet configuration
  is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p>
  </note>\";s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InstanceFleetId\";s:11:\"description\";s:44:\"The
  unique identifier of the instance fleet.\";}s:17:\"InstanceFleetType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/InstanceFleetType\";s:11:\"description\";s:85:\"The
  node type that the instance fleet hosts. Valid values are MASTER, CORE, or TASK.
  \";}s:26:\"InstanceTypeSpecifications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/InstanceTypeSpecificationList\";s:11:\"description\";s:156:\"The
  specification for the instance types that comprise an instance fleet. Up to five
  unique instance specifications may be defined for each instance fleet. \";}s:20:\"LaunchSpecifications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/InstanceFleetProvisioningSpecifications\";s:11:\"description\";s:58:\"Describes
  the launch specification for an instance fleet. \";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:39:\"A
  friendly name for the instance fleet.\";}s:27:\"ProvisionedOnDemandCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WholeNumber\";s:11:\"description\";s:225:\"The
  number of On-Demand units that have been provisioned for the instance fleet to fulfill
  <code>TargetOnDemandCapacity</code>. This provisioned capacity might be less than
  or greater than <code>TargetOnDemandCapacity</code>.\";}s:23:\"ProvisionedSpotCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WholeNumber\";s:11:\"description\";s:213:\"The
  number of Spot units that have been provisioned for this instance fleet to fulfill
  <code>TargetSpotCapacity</code>. This provisioned capacity might be less than or
  greater than <code>TargetSpotCapacity</code>.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/InstanceFleetStatus\";s:11:\"description\";s:42:\"The
  current status of the instance fleet. \";}s:22:\"TargetOnDemandCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WholeNumber\";s:11:\"description\";s:1370:\"<p>The
  target capacity of On-Demand units for the instance fleet, which determines how
  many On-Demand instances to provision. When the instance fleet launches, Amazon
  EMR tries to provision On-Demand instances as specified by <a>InstanceTypeConfig</a>.
  Each instance configuration has a specified <code>WeightedCapacity</code>. When
  an On-Demand instance is provisioned, the <code>WeightedCapacity</code> units count
  toward the target capacity. Amazon EMR provisions instances until the target capacity
  is totally fulfilled, even if this results in an overage. For example, if there
  are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an
  instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned,
  and the target capacity is exceeded by 3 units. You can use <a>InstanceFleet$ProvisionedOnDemandCapacity</a>
  to determine the Spot capacity units that have been provisioned for the instance
  fleet.</p> <note> <p>If not specified or set to 0, only Spot instances are provisioned
  for the instance fleet using <code>TargetSpotCapacity</code>. At least one of <code>TargetSpotCapacity</code>
  and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance
  fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code>
  can be specified, and its value must be 1.</p> </note>\";}s:18:\"TargetSpotCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WholeNumber\";s:11:\"description\";s:1312:\"<p>The
  target capacity of Spot units for the instance fleet, which determines how many
  Spot instances to provision. When the instance fleet launches, Amazon EMR tries
  to provision Spot instances as specified by <a>InstanceTypeConfig</a>. Each instance
  configuration has a specified <code>WeightedCapacity</code>. When a Spot instance
  is provisioned, the <code>WeightedCapacity</code> units count toward the target
  capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled,
  even if this results in an overage. For example, if there are 2 units remaining
  to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code>
  of 5 units, the instance is provisioned, and the target capacity is exceeded by
  3 units. You can use <a>InstanceFleet$ProvisionedSpotCapacity</a> to determine the
  Spot capacity units that have been provisioned for the instance fleet.</p> <note>
  <p>If not specified or set to 0, only On-Demand instances are provisioned for the
  instance fleet. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code>
  should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code>
  and <code>TargetOnDemandCapacity</code> can be specified, and its value must be
  1.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:19:\"InstanceFleetConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:195:\"<p>The
  configuration that defines an instance fleet.</p> <note> <p>The instance fleet configuration
  is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p>
  </note>\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"InstanceFleetType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/InstanceFleetType\";s:11:\"description\";s:83:\"The
  node type that the instance fleet hosts. Valid values are MASTER,CORE,and TASK.\";}s:19:\"InstanceTypeConfigs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/InstanceTypeConfigList\";s:11:\"description\";s:85:\"The
  instance type configurations that define the EC2 instances in the instance fleet.\";}s:20:\"LaunchSpecifications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/InstanceFleetProvisioningSpecifications\";s:11:\"description\";s:48:\"The
  launch specification for the instance fleet.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:40:\"The
  friendly name of the instance fleet.\";}s:22:\"TargetOnDemandCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WholeNumber\";s:11:\"description\";s:1221:\"<p>The
  target capacity of On-Demand units for the instance fleet, which determines how
  many On-Demand instances to provision. When the instance fleet launches, Amazon
  EMR tries to provision On-Demand instances as specified by <a>InstanceTypeConfig</a>.
  Each instance configuration has a specified <code>WeightedCapacity</code>. When
  an On-Demand instance is provisioned, the <code>WeightedCapacity</code> units count
  toward the target capacity. Amazon EMR provisions instances until the target capacity
  is totally fulfilled, even if this results in an overage. For example, if there
  are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an
  instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned,
  and the target capacity is exceeded by 3 units.</p> <note> <p>If not specified or
  set to 0, only Spot instances are provisioned for the instance fleet using <code>TargetSpotCapacity</code>.
  At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code>
  should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code>
  and <code>TargetOnDemandCapacity</code> can be specified, and its value must be
  1.</p> </note>\";}s:18:\"TargetSpotCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WholeNumber\";s:11:\"description\";s:1167:\"<p>The
  target capacity of Spot units for the instance fleet, which determines how many
  Spot instances to provision. When the instance fleet launches, Amazon EMR tries
  to provision Spot instances as specified by <a>InstanceTypeConfig</a>. Each instance
  configuration has a specified <code>WeightedCapacity</code>. When a Spot instance
  is provisioned, the <code>WeightedCapacity</code> units count toward the target
  capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled,
  even if this results in an overage. For example, if there are 2 units remaining
  to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code>
  of 5 units, the instance is provisioned, and the target capacity is exceeded by
  3 units.</p> <note> <p>If not specified or set to 0, only On-Demand instances are
  provisioned for the instance fleet. At least one of <code>TargetSpotCapacity</code>
  and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance
  fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code>
  can be specified, and its value must be 1.</p> </note>\";}}s:8:\"required\";a:1:{i:0;s:17:\"InstanceFleetType\";}s:4:\"type\";s:6:\"object\";}s:23:\"InstanceFleetConfigList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/InstanceFleetConfig\";}s:4:\"type\";s:5:\"array\";}s:15:\"InstanceFleetId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"InstanceFleetList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/InstanceFleet\";}s:4:\"type\";s:5:\"array\";}s:25:\"InstanceFleetModifyConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:214:\"<p>Configuration
  parameters for an instance fleet modification request.</p> <note> <p>The instance
  fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding
  5.0.x versions.</p> </note>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"InstanceFleetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InstanceFleetId\";s:11:\"description\";s:43:\"A
  unique identifier for the instance fleet.\";}s:22:\"TargetOnDemandCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WholeNumber\";s:11:\"description\";s:138:\"The
  target capacity of On-Demand units for the instance fleet. For more information
  see <a>InstanceFleetConfig$TargetOnDemandCapacity</a>.\";}s:18:\"TargetSpotCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WholeNumber\";s:11:\"description\";s:130:\"The
  target capacity of Spot units for the instance fleet. For more information, see
  <a>InstanceFleetConfig$TargetSpotCapacity</a>.\";}}s:8:\"required\";a:1:{i:0;s:15:\"InstanceFleetId\";}s:4:\"type\";s:6:\"object\";}s:39:\"InstanceFleetProvisioningSpecifications\";O:8:\"stdClass\":4:{s:11:\"description\";s:276:\"<p>The
  launch specification for Spot instances in the fleet, which determines the defined
  duration and provisioning timeout behavior.</p> <note> <p>The instance fleet configuration
  is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p>
  </note>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"SpotSpecification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/SpotProvisioningSpecification\";s:11:\"description\";s:130:\"The
  launch specification for Spot instances in the fleet, which determines the defined
  duration and provisioning timeout behavior.\";}}s:8:\"required\";a:1:{i:0;s:17:\"SpotSpecification\";}s:4:\"type\";s:6:\"object\";}s:18:\"InstanceFleetState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:12:\"PROVISIONING\";i:1;s:13:\"BOOTSTRAPPING\";i:2;s:7:\"RUNNING\";i:3;s:8:\"RESIZING\";i:4;s:9:\"SUSPENDED\";i:5;s:11:\"TERMINATING\";i:6;s:10:\"TERMINATED\";}s:4:\"type\";s:6:\"string\";}s:30:\"InstanceFleetStateChangeReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"<p>Provides
  status change reason details for the instance fleet.</p> <note> <p>The instance
  fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding
  5.0.x versions.</p> </note>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/InstanceFleetStateChangeReasonCode\";s:11:\"description\";s:61:\"A
  code corresponding to the reason the state change occurred.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:23:\"An
  explanatory message.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"InstanceFleetStateChangeReasonCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:14:\"INTERNAL_ERROR\";i:1;s:16:\"VALIDATION_ERROR\";i:2;s:16:\"INSTANCE_FAILURE\";i:3;s:18:\"CLUSTER_TERMINATED\";}s:4:\"type\";s:6:\"string\";}s:19:\"InstanceFleetStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"<p>The
  status of the instance fleet.</p> <note> <p>The instance fleet configuration is
  available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p>
  </note>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InstanceFleetState\";s:11:\"description\";s:1022:\"<p>A
  code representing the instance fleet status.</p> <ul> <li> <p> <code>PROVISIONING</code>\u2014The
  instance fleet is provisioning EC2 resources and is not yet ready to run jobs.</p>
  </li> <li> <p> <code>BOOTSTRAPPING</code>\u2014EC2 instances and other resources
  have been provisioned and the bootstrap actions specified for the instances are
  underway.</p> </li> <li> <p> <code>RUNNING</code>\u2014EC2 instances and other resources
  are running. They are either executing jobs or waiting to execute jobs.</p> </li>
  <li> <p> <code>RESIZING</code>\u2014A resize operation is underway. EC2 instances
  are either being added or removed.</p> </li> <li> <p> <code>SUSPENDED</code>\u2014A
  resize operation could not complete. Existing EC2 instances are running, but instances
  can't be added or removed.</p> </li> <li> <p> <code>TERMINATING</code>\u2014The
  instance fleet is terminating EC2 instances.</p> </li> <li> <p> <code>TERMINATED</code>\u2014The
  instance fleet is no longer active, and all EC2 instances have been terminated.</p>
  </li> </ul>\";}s:17:\"StateChangeReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/InstanceFleetStateChangeReason\";s:11:\"description\";s:61:\"Provides
  status change reason details for the instance fleet.\";}s:8:\"Timeline\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/InstanceFleetTimeline\";s:11:\"description\";s:153:\"Provides
  historical timestamps for the instance fleet, including the time of creation, the
  time it became ready to run jobs, and the time of termination.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InstanceFleetTimeline\";O:8:\"stdClass\":3:{s:11:\"description\";s:299:\"<p>Provides
  historical timestamps for the instance fleet, including the time of creation, the
  time it became ready to run jobs, and the time of termination.</p> <note> <p>The
  instance fleet configuration is available only in Amazon EMR versions 4.8.0 and
  later, excluding 5.0.x versions.</p> </note>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"CreationDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:49:\"The
  time and date the instance fleet was created.\";}s:11:\"EndDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:48:\"The
  time and date the instance fleet terminated.\";}s:13:\"ReadyDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:59:\"The
  time and date the instance fleet was ready to run jobs.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"InstanceFleetType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:6:\"MASTER\";i:1;s:4:\"CORE\";i:2;s:4:\"TASK\";}s:4:\"type\";s:6:\"string\";}s:13:\"InstanceGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"This
  entity represents an instance group, which is a group of instances that have common
  purpose. For example, CORE instance group is used for HDFS.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:17:\"AutoScalingPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/AutoScalingPolicyDescription\";s:11:\"description\";s:282:\"An
  automatic scaling policy for a core instance group or task instance group in an
  Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically
  adds and terminates EC2 instances in response to the value of a CloudWatch metric.
  See PutAutoScalingPolicy.\";}s:8:\"BidPrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:115:\"The
  bid price for each EC2 instance in the instance group when launching nodes as Spot
  Instances, expressed in USD.\";}s:14:\"Configurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ConfigurationList\";s:11:\"description\";s:224:\"<note>
  <p>Amazon EMR releases 4.x or later.</p> </note> <p>The list of configurations supplied
  for an EMR cluster instance group. You can specify a separate configuration for
  each instance group (master, core, and task).</p>\";}s:15:\"EbsBlockDevices\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/EbsBlockDeviceList\";s:11:\"description\";s:61:\"The
  EBS block devices that are mapped to this instance group.\";}s:12:\"EbsOptimized\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:174:\"If
  the instance group is EBS-optimized. An Amazon EBS-optimized instance uses an optimized
  configuration stack and provides additional, dedicated capacity for Amazon EBS I/O.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InstanceGroupId\";s:11:\"description\";s:37:\"The
  identifier of the instance group.\";}s:17:\"InstanceGroupType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/InstanceGroupType\";s:11:\"description\";s:70:\"The
  type of the instance group. Valid values are MASTER, CORE or TASK.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/InstanceType\";s:11:\"description\";s:62:\"The
  EC2 instance type for all instances in the instance group.\";}s:6:\"Market\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MarketType\";s:11:\"description\";s:90:\"The
  marketplace to provision instances for this group. Valid values are ON_DEMAND or
  SPOT.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:31:\"The
  name of the instance group.\";}s:22:\"RequestedInstanceCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:54:\"The
  target number of instances for the instance group.\";}s:20:\"RunningInstanceCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:65:\"The
  number of instances currently running in this instance group.\";}s:12:\"ShrinkPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ShrinkPolicy\";s:11:\"description\";s:41:\"Policy
  for customizing shrink operations.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/InstanceGroupStatus\";s:11:\"description\";s:41:\"The
  current status of the instance group.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"InstanceGroupConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Configuration
  defining a new instance group.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"AutoScalingPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AutoScalingPolicy\";s:11:\"description\";s:289:\"An
  automatic scaling policy for a core instance group or task instance group in an
  Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically
  adds and terminates EC2 instances in response to the value of a CloudWatch metric.
  See <a>PutAutoScalingPolicy</a>.\";}s:8:\"BidPrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:111:\"Bid
  price for each EC2 instance in the instance group when launching nodes as Spot Instances,
  expressed in USD.\";}s:14:\"Configurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ConfigurationList\";s:11:\"description\";s:224:\"<note>
  <p>Amazon EMR releases 4.x or later.</p> </note> <p>The list of configurations supplied
  for an EMR cluster instance group. You can specify a separate configuration for
  each instance group (master, core, and task).</p>\";}s:16:\"EbsConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EbsConfiguration\";s:11:\"description\";s:84:\"EBS
  configurations that will be attached to each EC2 instance in the instance group.\";}s:13:\"InstanceCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:50:\"Target
  number of instances for the instance group.\";}s:12:\"InstanceRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InstanceRoleType\";s:11:\"description\";s:46:\"The
  role of the instance group in the cluster.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/InstanceType\";s:11:\"description\";s:62:\"The
  EC2 instance type for all instances in the instance group.\";}s:6:\"Market\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MarketType\";s:11:\"description\";s:63:\"Market
  type of the EC2 instances used to create a cluster node.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:42:\"Friendly
  name given to the instance group.\";}}s:8:\"required\";a:3:{i:0;s:12:\"InstanceRole\";i:1;s:12:\"InstanceType\";i:2;s:13:\"InstanceCount\";}s:4:\"type\";s:6:\"object\";}s:23:\"InstanceGroupConfigList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/InstanceGroupConfig\";}s:4:\"type\";s:5:\"array\";}s:19:\"InstanceGroupDetail\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Detailed
  information about an instance group.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:8:\"BidPrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:85:\"Bid
  price for EC2 Instances when launching nodes as Spot Instances, expressed in USD.\";}s:16:\"CreationDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:45:\"The
  date/time the instance group was created.\";}s:11:\"EndDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:48:\"The
  date/time the instance group was terminated.\";}s:15:\"InstanceGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:41:\"Unique
  identifier for the instance group.\";}s:20:\"InstanceRequestCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:56:\"Target
  number of instances to run in the instance group.\";}s:12:\"InstanceRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InstanceRoleType\";s:11:\"description\";s:34:\"Instance
  group role in the cluster\";}s:20:\"InstanceRunningCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:34:\"Actual
  count of running instances.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/InstanceType\";s:11:\"description\";s:18:\"EC2
  instance type.\";}s:21:\"LastStateChangeReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:50:\"Details
  regarding the state of the instance group.\";}s:6:\"Market\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MarketType\";s:11:\"description\";s:63:\"Market
  type of the EC2 instances used to create a cluster node.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:37:\"Friendly
  name for the instance group.\";}s:13:\"ReadyDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:62:\"The
  date/time the instance group was available to the cluster.\";}s:13:\"StartDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:45:\"The
  date/time the instance group was started.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InstanceGroupState\";s:11:\"description\";s:95:\"State
  of instance group. The following values are deprecated: STARTING, TERMINATED, and
  FAILED.\";}}s:8:\"required\";a:7:{i:0;s:6:\"Market\";i:1;s:12:\"InstanceRole\";i:2;s:12:\"InstanceType\";i:3;s:20:\"InstanceRequestCount\";i:4;s:20:\"InstanceRunningCount\";i:5;s:5:\"State\";i:6;s:16:\"CreationDateTime\";}s:4:\"type\";s:6:\"object\";}s:23:\"InstanceGroupDetailList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/InstanceGroupDetail\";}s:4:\"type\";s:5:\"array\";}s:15:\"InstanceGroupId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"InstanceGroupIdsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";}s:4:\"type\";s:5:\"array\";}s:17:\"InstanceGroupList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/InstanceGroup\";}s:4:\"type\";s:5:\"array\";}s:25:\"InstanceGroupModifyConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Modify
  an instance group size.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:25:\"EC2InstanceIdsToTerminate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/EC2InstanceIdsToTerminateList\";s:11:\"description\";s:135:\"The
  EC2 InstanceIds to terminate. After you terminate the instances, the instance group
  will not return to its original requested size.\";}s:13:\"InstanceCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:35:\"Target
  size for the instance group.\";}s:15:\"InstanceGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:52:\"Unique
  ID of the instance group to expand or shrink.\";}s:12:\"ShrinkPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ShrinkPolicy\";s:11:\"description\";s:41:\"Policy
  for customizing shrink operations.\";}}s:8:\"required\";a:1:{i:0;s:15:\"InstanceGroupId\";}s:4:\"type\";s:6:\"object\";}s:29:\"InstanceGroupModifyConfigList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/InstanceGroupModifyConfig\";}s:4:\"type\";s:5:\"array\";}s:18:\"InstanceGroupState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:12:\"PROVISIONING\";i:1;s:13:\"BOOTSTRAPPING\";i:2;s:7:\"RUNNING\";i:3;s:8:\"RESIZING\";i:4;s:9:\"SUSPENDED\";i:5;s:11:\"TERMINATING\";i:6;s:10:\"TERMINATED\";i:7;s:8:\"ARRESTED\";i:8;s:13:\"SHUTTING_DOWN\";i:9;s:5:\"ENDED\";}s:4:\"type\";s:6:\"string\";}s:30:\"InstanceGroupStateChangeReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  status change reason details for the instance group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/InstanceGroupStateChangeReasonCode\";s:11:\"description\";s:50:\"The
  programmable code for the state change reason.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:37:\"The
  status change reason description.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"InstanceGroupStateChangeReasonCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:14:\"INTERNAL_ERROR\";i:1;s:16:\"VALIDATION_ERROR\";i:2;s:16:\"INSTANCE_FAILURE\";i:3;s:18:\"CLUSTER_TERMINATED\";}s:4:\"type\";s:6:\"string\";}s:19:\"InstanceGroupStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  details of the instance group status.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InstanceGroupState\";s:11:\"description\";s:40:\"The
  current state of the instance group.\";}s:17:\"StateChangeReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/InstanceGroupStateChangeReason\";s:11:\"description\";s:56:\"The
  status change reason details for the instance group.\";}s:8:\"Timeline\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/InstanceGroupTimeline\";s:11:\"description\";s:52:\"The
  timeline of the instance group status over time.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InstanceGroupTimeline\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  timeline of the instance group lifecycle.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"CreationDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:49:\"The
  creation date and time of the instance group.\";}s:11:\"EndDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:53:\"The
  date and time when the instance group terminated.\";}s:13:\"ReadyDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:72:\"The
  date and time when the instance group became ready to perform tasks.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"InstanceGroupType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:6:\"MASTER\";i:1;s:4:\"CORE\";i:2;s:4:\"TASK\";}s:4:\"type\";s:6:\"string\";}s:21:\"InstanceGroupTypeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/InstanceGroupType\";}s:4:\"type\";s:5:\"array\";}s:10:\"InstanceId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"InstanceList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Instance\";}s:4:\"type\";s:5:\"array\";}s:20:\"InstanceResizePolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"Custom
  policy for requesting termination protection or termination of specific instances
  when shrinking an instance group.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:26:\"InstanceTerminationTimeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:85:\"Decommissioning
  timeout override for the specific list of instances to be terminated.\";}s:18:\"InstancesToProtect\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/EC2InstanceIdsList\";s:11:\"description\";s:76:\"Specific
  list of instances to be protected when shrinking an instance group.\";}s:20:\"InstancesToTerminate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/EC2InstanceIdsList\";s:11:\"description\";s:77:\"Specific
  list of instances to be terminated when shrinking an instance group.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"InstanceRoleType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:6:\"MASTER\";i:1;s:4:\"CORE\";i:2;s:4:\"TASK\";}s:4:\"type\";s:6:\"string\";}s:13:\"InstanceState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:20:\"AWAITING_FULFILLMENT\";i:1;s:12:\"PROVISIONING\";i:2;s:13:\"BOOTSTRAPPING\";i:3;s:7:\"RUNNING\";i:4;s:10:\"TERMINATED\";}s:4:\"type\";s:6:\"string\";}s:25:\"InstanceStateChangeReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  details of the status change reason for the instance.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/InstanceStateChangeReasonCode\";s:11:\"description\";s:50:\"The
  programmable code for the state change reason.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:37:\"The
  status change reason description.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"InstanceStateChangeReasonCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:14:\"INTERNAL_ERROR\";i:1;s:16:\"VALIDATION_ERROR\";i:2;s:16:\"INSTANCE_FAILURE\";i:3;s:17:\"BOOTSTRAP_FAILURE\";i:4;s:18:\"CLUSTER_TERMINATED\";}s:4:\"type\";s:6:\"string\";}s:17:\"InstanceStateList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/InstanceState\";}s:4:\"type\";s:5:\"array\";}s:14:\"InstanceStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  instance status details.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/InstanceState\";s:11:\"description\";s:34:\"The
  current state of the instance.\";}s:17:\"StateChangeReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/InstanceStateChangeReason\";s:11:\"description\";s:57:\"The
  details of the status change reason for the instance.\";}s:8:\"Timeline\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InstanceTimeline\";s:11:\"description\";s:46:\"The
  timeline of the instance status over time.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"InstanceTimeline\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  timeline of the instance lifecycle.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"CreationDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:43:\"The
  creation date and time of the instance.\";}s:11:\"EndDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:51:\"The
  date and time when the instance was terminated.\";}s:13:\"ReadyDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:63:\"The
  date and time when the instance was ready to perform tasks.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"InstanceType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:60:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*\";}s:18:\"InstanceTypeConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:407:\"<p>An
  instance type configuration for each instance type in an instance fleet, which determines
  the EC2 instances Amazon EMR attempts to provision to fulfill On-Demand and Spot
  target capacities. There can be a maximum of 5 instance type configurations in a
  fleet.</p> <note> <p>The instance fleet configuration is available only in Amazon
  EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"BidPrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:271:\"The
  bid price for each EC2 Spot instance type as defined by <code>InstanceType</code>.
  Expressed in USD. If neither <code>BidPrice</code> nor <code>BidPriceAsPercentageOfOnDemandPrice</code>
  is provided, <code>BidPriceAsPercentageOfOnDemandPrice</code> defaults to 100%.
  \";}s:35:\"BidPriceAsPercentageOfOnDemandPrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NonNegativeDouble\";s:11:\"description\";s:339:\"The
  bid price, as a percentage of On-Demand price, for each EC2 Spot instance as defined
  by <code>InstanceType</code>. Expressed as a number (for example, 20 specifies 20%).
  If neither <code>BidPrice</code> nor <code>BidPriceAsPercentageOfOnDemandPrice</code>
  is provided, <code>BidPriceAsPercentageOfOnDemandPrice</code> defaults to 100%.\";}s:14:\"Configurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ConfigurationList\";s:11:\"description\";s:168:\"A
  configuration classification that applies when provisioning cluster instances, which
  can include configurations for applications and software that run on the cluster.\";}s:16:\"EbsConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EbsConfiguration\";s:11:\"description\";s:123:\"The
  configuration of Amazon Elastic Block Storage (EBS) attached to each instance as
  defined by <code>InstanceType</code>. \";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/InstanceType\";s:11:\"description\";s:54:\"An
  EC2 instance type, such as <code>m3.xlarge</code>. \";}s:16:\"WeightedCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WholeNumber\";s:11:\"description\";s:286:\"The
  number of units that a provisioned instance of this type provides toward fulfilling
  the target capacities defined in <a>InstanceFleetConfig</a>. This value is 1 for
  a master instance fleet, and must be 1 or greater for core and task instance fleets.
  Defaults to 1 if not specified. \";}}s:8:\"required\";a:1:{i:0;s:12:\"InstanceType\";}s:4:\"type\";s:6:\"object\";}s:22:\"InstanceTypeConfigList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InstanceTypeConfig\";}s:4:\"type\";s:5:\"array\";}s:25:\"InstanceTypeSpecification\";O:8:\"stdClass\":3:{s:11:\"description\";s:222:\"<p>The
  configuration specification for each instance type in an instance fleet.</p> <note>
  <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0
  and later, excluding 5.0.x versions.</p> </note>\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"BidPrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:104:\"The
  bid price for each EC2 Spot instance type as defined by <code>InstanceType</code>.
  Expressed in USD.\";}s:35:\"BidPriceAsPercentageOfOnDemandPrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NonNegativeDouble\";s:11:\"description\";s:173:\"The
  bid price, as a percentage of On-Demand price, for each EC2 Spot instance as defined
  by <code>InstanceType</code>. Expressed as a number (for example, 20 specifies 20%).\";}s:14:\"Configurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ConfigurationList\";s:11:\"description\";s:168:\"A
  configuration classification that applies when provisioning cluster instances, which
  can include configurations for applications and software bundled with Amazon EMR.\";}s:15:\"EbsBlockDevices\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/EbsBlockDeviceList\";s:11:\"description\";s:122:\"The
  configuration of Amazon Elastic Block Storage (EBS) attached to each instance as
  defined by <code>InstanceType</code>.\";}s:12:\"EbsOptimized\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:93:\"Evaluates
  to <code>TRUE</code> when the specified <code>InstanceType</code> is EBS-optimized.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/InstanceType\";s:11:\"description\";s:58:\"The
  EC2 instance type, for example <code>m3.xlarge</code>.\";}s:16:\"WeightedCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WholeNumber\";s:11:\"description\";s:275:\"The
  number of units that a provisioned instance of this type provides toward fulfilling
  the target capacities defined in <a>InstanceFleetConfig</a>. Capacity values represent
  performance characteristics such as vCPUs, memory, or I/O. If not specified, the
  default value is 1.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"InstanceTypeSpecificationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/InstanceTypeSpecification\";}s:4:\"type\";s:5:\"array\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"InternalServerError\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Indicates
  that an error occurred while processing the request and that the request was not
  completed.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"InternalServerException\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"This
  exception occurs when there is an internal failure in the EMR service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:42:\"The
  message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InvalidRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"This
  exception occurs when there is something wrong with user input.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";s:11:\"description\";s:45:\"The
  error code associated with the exception.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:42:\"The
  message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"JobFlowDetail\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"A
  description of a cluster (job flow).\";s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"AmiVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:368:\"Used
  only for version 2.x and 3.x of Amazon EMR. The version of the AMI used to initialize
  Amazon EC2 instances in the job flow. For a list of AMI versions supported by Amazon
  EMR, see <a href=\"http://docs.aws.amazon.com/emr/latest/DeveloperGuide/emr-dg.pdf#nameddest=ami-versions-supported\">AMI
  Versions Supported in EMR</a> in the <i>Amazon EMR Developer Guide.</i> \";}s:15:\"AutoScalingRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:268:\"An
  IAM role for automatic scaling policies. The default role is <code>EMR_AutoScaling_DefaultRole</code>.
  The IAM role provides a way for the automatic scaling feature to get the required
  permissions it needs to launch and terminate EC2 instances in an instance group.\";}s:16:\"BootstrapActions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BootstrapActionDetailList\";s:11:\"description\";s:52:\"A
  list of the bootstrap actions run by the job flow.\";}s:21:\"ExecutionStatusDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/JobFlowExecutionStatusDetail\";s:11:\"description\";s:47:\"Describes
  the execution status of the job flow.\";}s:9:\"Instances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/JobFlowInstancesDetail\";s:11:\"description\";s:51:\"Describes
  the Amazon EC2 instances of the job flow.\";}s:9:\"JobFlowId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:24:\"The
  job flow identifier.\";}s:11:\"JobFlowRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:115:\"The
  IAM role that was specified when the job flow was launched. The EC2 instances of
  the job flow assume this role.\";}s:6:\"LogUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:65:\"The
  location in Amazon S3 where log files for the job are stored.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/XmlStringMaxLen256\";s:11:\"description\";s:25:\"The
  name of the job flow.\";}s:17:\"ScaleDownBehavior\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ScaleDownBehavior\";s:11:\"description\";s:933:\"The
  way that individual Amazon EC2 instances terminate when an automatic scale-in activity
  occurs or an instance group is resized. <code>TERMINATE_AT_INSTANCE_HOUR</code>
  indicates that Amazon EMR terminates nodes at the instance-hour boundary, regardless
  of when the request to terminate the instance was submitted. This option is only
  available with Amazon EMR 5.1.0 and later and is the default for clusters created
  using that version. <code>TERMINATE_AT_TASK_COMPLETION</code> indicates that Amazon
  EMR blacklists and drains tasks from nodes before terminating the Amazon EC2 instances,
  regardless of the instance-hour boundary. With either behavior, Amazon EMR removes
  the least active nodes first and blocks instance termination if it could lead to
  HDFS corruption. <code>TERMINATE_AT_TASK_COMPLETION</code> available only in Amazon
  EMR version 4.1.0 and later, and is the default for versions of Amazon EMR earlier
  than 5.1.0.\";}s:11:\"ServiceRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/XmlString\";s:11:\"description\";s:99:\"The
  IAM role that will be assumed by the Amazon EMR service to access AWS resources
  on your behalf.\";}s:5:\"Steps\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StepDetailList\";s:11:\"description\";s:36:\"A
  list of steps run by the job flow.\";}s:17:\"SupportedProducts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/SupportedProductsList\";s:11:\"description\";s:162:\"A
  list of strings set by third party software when the job flow is launched. If you
  are not using third party software to manage the job flow this value is empty.\";}s:17:\"VisibleToAllUsers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:439:\"Specifies
  whether the cluster is visible to all IAM users of the AWS account associated with
  the cluster. If this value is set to <code>true</code>, all IAM users of that AWS
  account can view and (if they have the proper policy permissions set) manage the
  cluster. If it is set to <code>false</code>, only the IAM user that created the
  cluster can view and manage it. This value can be changed using the <a>SetVisibleToAllUsers</a>
  action.\";}}s:8:\"required\";a:4:{i:0;s:9:\"JobFlowId\";i:1;s:4:\"Name\";i:2;s:21:\"ExecutionStatusDetail\";i:3;s:9:\"Instances\";}s:4:\"type\";s:6:\"object\";}s:17:\"JobFlowDetailList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/JobFlowDetail\";}s:4:\"type\";s:5:\"array\";}s:21:\"JobFlowExecutionState\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  type of instance.\";s:4:\"enum\";a:8:{i:0;s:8:\"STARTING\";i:1;s:13:\"BOOTSTRAPPING\";i:2;s:7:\"RUNNING\";i:3;s:7:\"WAITING\";i:4;s:13:\"SHUTTING_DOWN\";i:5;s:10:\"TERMINATED\";i:6;s:9:\"COMPLETED\";i:7;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:25:\"JobFlowExecutionStateList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/JobFlowExecutionState\";}s:4:\"type\";s:5:\"array\";}s:28:\"JobFlowExecutionStatusDetail\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Describes
[...]
