---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";}s:11:\"description\";s:82:\"Amazon
  Server Migration Service automates the process of migrating servers to EC2.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:28:\"AWS
  Server Migration Service\";s:7:\"version\";s:10:\"2016-10-24\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:104:\"https://api.apis.guru/v2/cache/logo/https_media.amazonwebservices.com_blog_2007_big_pbaws_logo_300px.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sms-2016-10-24.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:3:\"sms\";}"
host: sms.amazonaws.com
basePath: /
paths:
  /:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: The CreateReplicationJob API is used to create a ReplicationJob
        to replicate a server on AWS. Call this API to first create a ReplicationJob,
        which will then schedule periodic ReplicationRuns to replicate your server
        to AWS. Each ReplicationRun will result in the creation of an AWS AMI.
      operationId: CreateReplicationJob
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateReplicationJobRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateReplicationJobResponse'
        480:
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        481:
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        482:
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        483:
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        484:
          description: ServerCannotBeReplicatedException
          schema:
            $ref: '#/definitions/ServerCannotBeReplicatedException'
        485:
          description: ReplicationJobAlreadyExistsException
          schema:
            $ref: '#/definitions/ReplicationJobAlreadyExistsException'
        486:
          description: NoConnectorsAvailableException
          schema:
            $ref: '#/definitions/NoConnectorsAvailableException'
        487:
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
  /#DeleteReplicationJob:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: The DeleteReplicationJob API is used to delete a ReplicationJob,
        resulting in no further ReplicationRuns. This will delete the contents of
        the S3 bucket used to store SMS artifacts, but will not delete any AMIs created
        by the SMS service.
      operationId: DeleteReplicationJob
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteReplicationJobRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteReplicationJobResponse'
        480:
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        481:
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        482:
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        483:
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        484:
          description: ReplicationJobNotFoundException
          schema:
            $ref: '#/definitions/ReplicationJobNotFoundException'
  /#DeleteServerCatalog:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: The DeleteServerCatalog API clears all servers from your server
        catalog. This means that these servers will no longer be accessible to the
        Server Migration Service.
      operationId: DeleteServerCatalog
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteServerCatalogRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteServerCatalogResponse'
        480:
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        481:
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        482:
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        483:
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
  /#DisassociateConnector:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: The DisassociateConnector API will disassociate a connector from
        the Server Migration Service, rendering it unavailable to support replication
        jobs.
      operationId: DisassociateConnector
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DisassociateConnectorRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DisassociateConnectorResponse'
        480:
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        481:
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        482:
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        483:
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
  /#GetConnectors:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: The GetConnectors API returns a list of connectors that are registered
        with the Server Migration Service.
      operationId: GetConnectors
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetConnectorsRequest'
      - description: Pagination limit
        in: query
        name: maxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetConnectorsResponse'
        480:
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
  /#GetReplicationJobs:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: The GetReplicationJobs API will return all of your ReplicationJobs
        and their details. This API returns a paginated list, that may be consecutively
        called with nextToken to retrieve all ReplicationJobs.
      operationId: GetReplicationJobs
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetReplicationJobsRequest'
      - description: Pagination limit
        in: query
        name: maxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetReplicationJobsResponse'
        480:
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        481:
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        482:
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
  /#GetReplicationRuns:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: The GetReplicationRuns API will return all ReplicationRuns for
        a given ReplicationJob. This API returns a paginated list, that may be consecutively
        called with nextToken to retrieve all ReplicationRuns for a ReplicationJob.
      operationId: GetReplicationRuns
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetReplicationRunsRequest'
      - description: Pagination limit
        in: query
        name: maxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetReplicationRunsResponse'
        480:
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        481:
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        482:
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
  /#GetServers:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: The GetServers API returns a list of all servers in your server
        catalog. For this call to succeed, you must previously have called ImportServerCatalog.
      operationId: GetServers
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetServersRequest'
      - description: Pagination limit
        in: query
        name: maxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetServersResponse'
        480:
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
  /#ImportServerCatalog:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: The ImportServerCatalog API is used to gather the complete list
        of on-premises servers on your premises. This API call requires connectors
        to be installed and monitoring all servers you would like imported. This API
        call returns immediately, but may take some time to retrieve all of the servers.
      operationId: ImportServerCatalog
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ImportServerCatalogRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ImportServerCatalogResponse'
        480:
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        481:
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        482:
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        483:
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        484:
          description: NoConnectorsAvailableException
          schema:
            $ref: '#/definitions/NoConnectorsAvailableException'
  /#StartOnDemandReplicationRun:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: The StartOnDemandReplicationRun API is used to start a ReplicationRun
        on demand (in addition to those that are scheduled based on your frequency).
        This ReplicationRun will start immediately. StartOnDemandReplicationRun is
        subject to limits on how many on demand ReplicationRuns you may call per 24-hour
        period.
      operationId: StartOnDemandReplicationRun
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/StartOnDemandReplicationRunRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/StartOnDemandReplicationRunResponse'
        480:
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        481:
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        482:
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        483:
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        484:
          description: ReplicationRunLimitExceededException
          schema:
            $ref: '#/definitions/ReplicationRunLimitExceededException'
  /#UpdateReplicationJob:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: The UpdateReplicationJob API is used to change the settings of
        your existing ReplicationJob created using CreateReplicationJob. Calling this
        API will affect the next scheduled ReplicationRun.
      operationId: UpdateReplicationJob
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateReplicationJobRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateReplicationJobResponse'
        480:
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        481:
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        482:
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        483:
          description: UnauthorizedOperationException
          schema:
            $ref: '#/definitions/UnauthorizedOperationException'
        484:
          description: ServerCannotBeReplicatedException
          schema:
            $ref: '#/definitions/ServerCannotBeReplicatedException'
        485:
          description: ReplicationJobNotFoundException
          schema:
            $ref: '#/definitions/ReplicationJobNotFoundException'
        486:
          description: InternalError
          schema:
            $ref: '#/definitions/InternalError'
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":75:{s:5:\"AmiId\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  AMI id for the image resulting from a Replication Run.\";s:4:\"type\";s:6:\"string\";}s:9:\"Connector\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Object
  representing a Connector\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"associatedOn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:14:\"capabilityList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ConnectorCapabilityList\";}s:11:\"connectorId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ConnectorId\";}s:9:\"ipAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/IpAddress\";}s:10:\"macAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MacAddress\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConnectorStatus\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ConnectorVersion\";}s:11:\"vmManagerId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VmManagerId\";}s:13:\"vmManagerName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/VmManagerName\";}s:13:\"vmManagerType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/VmManagerType\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ConnectorCapability\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Capabilities
  for a Connector\";s:4:\"enum\";a:1:{i:0;s:7:\"VSPHERE\";}s:4:\"type\";s:6:\"string\";}s:23:\"ConnectorCapabilityList\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"List
  of Connector Capabilities\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ConnectorCapability\";}s:4:\"type\";s:5:\"array\";}s:11:\"ConnectorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Unique
  Identifier for Connector\";s:4:\"type\";s:6:\"string\";}s:13:\"ConnectorList\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of connectors\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Connector\";}s:4:\"type\";s:5:\"array\";}s:15:\"ConnectorStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Status
  of on-premise Connector\";s:4:\"enum\";a:2:{i:0;s:7:\"HEALTHY\";i:1;s:9:\"UNHEALTHY\";}s:4:\"type\";s:6:\"string\";}s:16:\"ConnectorVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Connector
  version string\";s:4:\"type\";s:6:\"string\";}s:27:\"CreateReplicationJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Description\";}s:9:\"frequency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Frequency\";}s:11:\"licenseType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/LicenseType\";}s:8:\"roleName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RoleName\";}s:19:\"seedReplicationTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:8:\"serverId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ServerId\";}}s:8:\"required\";a:3:{i:0;s:8:\"serverId\";i:1;s:19:\"seedReplicationTime\";i:2;s:9:\"frequency\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateReplicationJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"replicationJobId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReplicationJobId\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteReplicationJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"replicationJobId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReplicationJobId\";}}s:8:\"required\";a:1:{i:0;s:16:\"replicationJobId\";}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteReplicationJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"DeleteServerCatalogRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteServerCatalogResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  description for a Replication Job/Run.\";s:4:\"type\";s:6:\"string\";}s:28:\"DisassociateConnectorRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"connectorId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ConnectorId\";}}s:8:\"required\";a:1:{i:0;s:11:\"connectorId\";}s:4:\"type\";s:6:\"object\";}s:29:\"DisassociateConnectorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Error
  Message string\";s:4:\"type\";s:6:\"string\";}s:9:\"Frequency\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"Interval
  between Replication Runs. This value is specified in hours, and represents the time
  between consecutive Replication Runs.\";s:4:\"type\";s:7:\"integer\";}s:20:\"GetConnectorsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"maxResults\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";}s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:21:\"GetConnectorsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"connectorList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ConnectorList\";}s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GetReplicationJobsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"maxResults\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";}s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}s:16:\"replicationJobId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReplicationJobId\";}}s:4:\"type\";s:6:\"object\";}s:26:\"GetReplicationJobsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}s:18:\"replicationJobList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ReplicationJobList\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GetReplicationRunsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"maxResults\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";}s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}s:16:\"replicationJobId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReplicationJobId\";}}s:8:\"required\";a:1:{i:0;s:16:\"replicationJobId\";}s:4:\"type\";s:6:\"object\";}s:26:\"GetReplicationRunsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}s:14:\"replicationJob\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReplicationJob\";}s:18:\"replicationRunList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ReplicationRunList\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetServersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"maxResults\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";}s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetServersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"lastModifiedOn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";}s:19:\"serverCatalogStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ServerCatalogStatus\";}s:10:\"serverList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ServerList\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ImportServerCatalogRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"ImportServerCatalogResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"InternalError\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"An
  internal error has occured.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidParameterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"A
  parameter specified in the request is not valid, is unsupported, or cannot be used.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:9:\"IpAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Internet
  Protocol (IP) Address\";s:4:\"type\";s:6:\"string\";}s:11:\"LicenseType\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"The
  license type to be used for the Amazon Machine Image (AMI) created after a successful
  ReplicationRun.\";s:4:\"enum\";a:2:{i:0;s:3:\"AWS\";i:1;s:4:\"BYOL\";}s:4:\"type\";s:6:\"string\";}s:10:\"MacAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Hardware
  (MAC) address\";s:4:\"type\";s:6:\"string\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  maximum number of results to return in one API call. If left empty, this will default
  to 50.\";s:4:\"type\";s:7:\"integer\";}s:33:\"MissingRequiredParameterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"The
  request is missing a required parameter. Ensure that you have supplied all the required
  parameters for the request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Pagination
  token to pass as input to API call\";s:4:\"type\";s:6:\"string\";}s:30:\"NoConnectorsAvailableException\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"No
  connectors are available to handle this request. Please associate connector(s) and
  verify any existing connectors are healthy and can respond to requests.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:30:\"OperationNotPermittedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:174:\"The
  specified operation is not allowed. This error can occur for a number of reasons;
  for example, you might be trying to start a Replication Run before seed Replication
  Run.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ReplicationJob\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Object
  representing a Replication Job\";s:10:\"properties\";O:8:\"stdClass\":14:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Description\";}s:9:\"frequency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Frequency\";}s:11:\"latestAmiId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/AmiId\";}s:11:\"licenseType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/LicenseType\";}s:27:\"nextReplicationRunStartTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:16:\"replicationJobId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReplicationJobId\";}s:18:\"replicationRunList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ReplicationRunList\";}s:8:\"roleName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RoleName\";}s:19:\"seedReplicationTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:8:\"serverId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ServerId\";}s:10:\"serverType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ServerType\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ReplicationJobState\";}s:13:\"statusMessage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ReplicationJobStatusMessage\";}s:8:\"vmServer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/VmServer\";}}s:4:\"type\";s:6:\"object\";}s:36:\"ReplicationJobAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"An
  active Replication Job already exists for the specified server.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ReplicationJobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  unique identifier for a Replication Job.\";s:4:\"type\";s:6:\"string\";}s:18:\"ReplicationJobList\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"List
  of Replication Jobs\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReplicationJob\";}s:4:\"type\";s:5:\"array\";}s:31:\"ReplicationJobNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  specified Replication Job cannot be found.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ReplicationJobState\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Current
  state of Replication Job\";s:4:\"enum\";a:5:{i:0;s:7:\"PENDING\";i:1;s:6:\"ACTIVE\";i:2;s:6:\"FAILED\";i:3;s:8:\"DELETING\";i:4;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:27:\"ReplicationJobStatusMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"String
  describing current status of Replication Job\";s:4:\"type\";s:6:\"string\";}s:24:\"ReplicationJobTerminated\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"An
  indicator of the Replication Job being deleted or failed.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"ReplicationRun\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Object
  representing a Replication Run\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"amiId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/AmiId\";}s:13:\"completedTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Description\";}s:16:\"replicationRunId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReplicationRunId\";}s:18:\"scheduledStartTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ReplicationRunState\";}s:13:\"statusMessage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ReplicationRunStatusMessage\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ReplicationRunType\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ReplicationRunId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  unique identifier for a Replication Run.\";s:4:\"type\";s:6:\"string\";}s:36:\"ReplicationRunLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"This
  user has exceeded the maximum allowed Replication Run limit.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ReplicationRunList\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"List
  of Replication Runs\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ReplicationRun\";}s:4:\"type\";s:5:\"array\";}s:19:\"ReplicationRunState\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Current
  state of Replication Run\";s:4:\"enum\";a:7:{i:0;s:7:\"PENDING\";i:1;s:6:\"MISSED\";i:2;s:6:\"ACTIVE\";i:3;s:6:\"FAILED\";i:4;s:9:\"COMPLETED\";i:5;s:8:\"DELETING\";i:6;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:27:\"ReplicationRunStatusMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"String
  describing current status of Replication Run\";s:4:\"type\";s:6:\"string\";}s:18:\"ReplicationRunType\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Type
  of Replication Run\";s:4:\"enum\";a:2:{i:0;s:9:\"ON_DEMAND\";i:1;s:9:\"AUTOMATIC\";}s:4:\"type\";s:6:\"string\";}s:8:\"RoleName\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Name
  of service role in customer's account to be used by SMS service.\";s:4:\"type\";s:6:\"string\";}s:6:\"Server\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Object
  representing a server\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"replicationJobId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReplicationJobId\";}s:24:\"replicationJobTerminated\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ReplicationJobTerminated\";}s:8:\"serverId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ServerId\";}s:10:\"serverType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ServerType\";}s:8:\"vmServer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/VmServer\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ServerCannotBeReplicatedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  provided server cannot be replicated.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ServerCatalogStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Status
  of Server catalog\";s:4:\"enum\";a:5:{i:0;s:12:\"NOT_IMPORTED\";i:1;s:9:\"IMPORTING\";i:2;s:9:\"AVAILABLE\";i:3;s:7:\"DELETED\";i:4;s:7:\"EXPIRED\";}s:4:\"type\";s:6:\"string\";}s:8:\"ServerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Unique
  Identifier for a server\";s:4:\"type\";s:6:\"string\";}s:10:\"ServerList\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"List
  of servers from catalog\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Server\";}s:4:\"type\";s:5:\"array\";}s:10:\"ServerType\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Type
  of server.\";s:4:\"enum\";a:1:{i:0;s:15:\"VIRTUAL_MACHINE\";}s:4:\"type\";s:6:\"string\";}s:34:\"StartOnDemandReplicationRunRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Description\";}s:16:\"replicationJobId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReplicationJobId\";}}s:8:\"required\";a:1:{i:0;s:16:\"replicationJobId\";}s:4:\"type\";s:6:\"object\";}s:35:\"StartOnDemandReplicationRunResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"replicationRunId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReplicationRunId\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Timestamp
  of an operation\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:30:\"UnauthorizedOperationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"This
  user does not have permissions to perform this operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:27:\"UpdateReplicationJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Description\";}s:9:\"frequency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Frequency\";}s:11:\"licenseType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/LicenseType\";}s:27:\"nextReplicationRunStartTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:16:\"replicationJobId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReplicationJobId\";}s:8:\"roleName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RoleName\";}}s:8:\"required\";a:1:{i:0;s:16:\"replicationJobId\";}s:4:\"type\";s:6:\"object\";}s:28:\"UpdateReplicationJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:4:\"VmId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Unique
  Identifier for a VM\";s:4:\"type\";s:6:\"string\";}s:11:\"VmManagerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Unique
  Identifier for VM Manager\";s:4:\"type\";s:6:\"string\";}s:13:\"VmManagerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"VM
  Manager Name\";s:4:\"type\";s:6:\"string\";}s:13:\"VmManagerType\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"VM
  Management Product\";s:4:\"enum\";a:1:{i:0;s:7:\"VSPHERE\";}s:4:\"type\";s:6:\"string\";}s:6:\"VmName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Name
  of Virtual Machine\";s:4:\"type\";s:6:\"string\";}s:6:\"VmPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Path
  to VM\";s:4:\"type\";s:6:\"string\";}s:8:\"VmServer\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Object
  representing a VM server\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"vmManagerName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/VmManagerName\";}s:13:\"vmManagerType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/VmManagerType\";}s:6:\"vmName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/VmName\";}s:6:\"vmPath\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/VmPath\";}s:15:\"vmServerAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/VmServerAddress\";}}s:4:\"type\";s:6:\"object\";}s:15:\"VmServerAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Object
  representing a server's location\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"vmId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/VmId\";}s:11:\"vmManagerId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VmManagerId\";}}s:4:\"type\";s:6:\"object\";}}"
...
