---
layout: default
title: API Search Engine
---

<h1>API Search Engine</h1>
<!-- News -->
<a name="Search"></a>
{% assign search = site.data.apis %}
<section>
	<header>
		<h2>Search</h2>
	</header>
	<p>Me - 11</p>
	<div class="table-wrapper" style="height: 500px; overflow: auto;">
		<table class="alt">
			<tbody>
				{% for s in search %}
					{% assign index = s[0] %}
					{% assign content = s[1] %}
					{% for c in content %}
						{% assign type = c[0] %}
						{% if type == "apis" %}
							{% assign type = c[0] %}
							{% assign apis_json = c[1] %}
							{% assign name = apis_json.name %}
							{% assign humanURL = apis_json.humanURL %}
			        <tr>
			          <td colspan="3">
			        		<a href="{{ apis_json.humanURL }}">{{ name }}</a>
			        	</td>
			        </tr>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</div>
	<p>Works?</p>
</section>
