---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"ReadmePad API\";s:11:\"description\";s:29:\"Multi
  project Markdown Editor\";s:7:\"version\";s:5:\"0.1.0\";}"
host: api.uber.com
basePath: /project
paths:
  /loadall:
    get:
      summary: Product Types
      description: any descriptionn
      responses:
        200:
          description: An array of projects
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
        404:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        503:
          description: Model error
          schema:
            $ref: '#/definitions/Error'
  /open/pid:
    get:
      summary: Open a project
      description: any descriptionn
      parameters:
      - name: pid
        in: query
        description: Project ID
        required: true
        type: string
      tags:
      - Project
      responses:
        200:
          description: any descriptionn
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":2:{s:7:\"Project\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Unique
  identifier setted by nedb.\n\";}s:3:\"pid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Description
  of product.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Display
  name of product.\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Capacity
  of product. For example, 4 people.\";}}}s:5:\"Error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
