---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:17:\"epages-ui-storage\";s:11:\"description\";s:23:\"Store
  and retrieve data\";s:7:\"version\";s:5:\"1.0.0\";}"
host: api.uber.com
paths:
  /{shopId}/config:
    get:
      summary: Shops
      description: The Products endpoint returns information about the *Uber* productsnoffered
        at a given location. The response includes the display namenand other details
        about each product, and lists the products in thenproper display order.n
      parameters:
      - $ref: '#/parameters/shopIdParam'
      tags:
      - Config
      responses:
        200:
          description: All shop configuration
  /{shopId}/pages:
    get:
      summary: Pages
      description: List all page of the corresponding shopn
      parameters:
      - $ref: '#/parameters/shopIdParam'
      tags:
      - Pages
      responses:
        200:
          description: An array of pages
    post:
      summary: Pages
      description: List all page of the corresponding shopn
      parameters:
      - $ref: '#/parameters/shopIdParam'
      tags:
      - Pages
      responses:
        200:
          description: An array of pages
  /{shopId}/pages/{pageId}:
    get:
      summary: Page
      description: The Products endpoint returns information about the *Uber* productsnoffered
        at a given location. The response includes the display namenand other details
        about each product, and lists the products in thenproper display order.n
      parameters:
      - $ref: '#/parameters/shopIdParam'
      - name: pageId
        in: path
        description: Id of the page to get
        required: true
        type: string
      tags:
      - Pages
      responses:
        200:
          description: An array of products
    put:
      parameters:
      - $ref: '#/parameters/shopIdParam'
      - name: pageId
        in: path
        description: Id of the page to update
        required: true
        type: string
      responses:
        200:
          description: An array of products
    delete:
      parameters:
      - $ref: '#/parameters/shopIdParam'
      - name: pageId
        in: path
        description: Id of the page to get
        required: true
        type: string
      responses:
        200:
          description: An array of products
  /{shopId}/themes:
    get:
      summary: Themes
      description: List all page of the corresponding shopn
      parameters:
      - $ref: '#/parameters/shopIdParam'
      tags:
      - Themes
      responses:
        200:
          description: An array of pages
    post:
      summary: Themes
      description: List all page of the corresponding shopn
      parameters:
      - $ref: '#/parameters/shopIdParam'
      tags:
      - Themes
      responses:
        200:
          description: An array of pages
  /{shopId}/themes/{themeId}:
    get:
      summary: Themes
      description: List all page of the corresponding shopn
      parameters:
      - $ref: '#/parameters/shopIdParam'
      - name: themeId
        in: path
        description: Id of the theme to get
        required: true
        type: string
      tags:
      - Themes
      responses:
        200:
          description: An array of pages
    put:
      summary: Themes
      description: List all page of the corresponding shopn
      parameters:
      - $ref: '#/parameters/shopIdParam'
      - name: themeId
        in: path
        description: Id of the theme to get
        required: true
        type: string
      tags:
      - Themes
      responses:
        200:
          description: An array of pages
produces:
- application/json
schemes:
- https
...
