---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:439:\"AWS
  Greengrass seamlessly extends AWS onto physical devices so they can act locally
  on the data they generate, while still using the cloud for management, analytics,
  and durable storage. AWS Greengrass ensures your devices can respond quickly to
  local events and operate with intermittent connectivity. AWS Greengrass minimizes
  the cost of transmitting data to the cloud by allowing you to author AWS Lambda
  functions that execute locally.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:14:\"AWS
  Greengrass\";s:7:\"version\";s:10:\"2017-06-07\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:94:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/greengrass-2017-06-07.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:10:\"greengrass\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"amazonaws_greengrass\";s:4:\"type\";s:7:\"openapi\";}}"
host: greengrass.amazonaws.com
basePath: /
paths:
  /greengrass/definition/cores:
    get:
      description: Retrieves a list of core definitions.
      operationId: ListCoreDefinitions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListCoreDefinitionsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListCoreDefinitionsResponse'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a core definition. You may provide the initial version
        of the core definition now or use ''CreateCoreDefinitionVersion'' at a later
        time. AWS Greengrass groups must each contain exactly one AWS Greengrass core.
      operationId: CreateCoreDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateCoreDefinitionRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateCoreDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/cores/{CoreDefinitionId}:
    delete:
      description: Deletes a core definition.
      operationId: DeleteCoreDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteCoreDefinitionRequest'
      - in: path
        name: CoreDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteCoreDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: Retrieves information about a core definition version.
      operationId: GetCoreDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetCoreDefinitionRequest'
      - in: path
        name: CoreDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetCoreDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a core definition.
      operationId: UpdateCoreDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateCoreDefinitionRequest'
      - in: path
        name: CoreDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateCoreDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/cores/{CoreDefinitionId}/versions:
    get:
      description: Lists the versions of a core definition.
      operationId: ListCoreDefinitionVersions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListCoreDefinitionVersionsRequest'
      - in: path
        name: CoreDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListCoreDefinitionVersionsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a core definition that has already been defined.
        AWS Greengrass groups must each contain exactly one AWS Greengrass core.
      operationId: CreateCoreDefinitionVersion
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateCoreDefinitionVersionRequest'
      - in: path
        name: CoreDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateCoreDefinitionVersionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/cores/{CoreDefinitionId}/versions/{CoreDefinitionVersionId}:
    get:
      description: Retrieves information about a core definition version.
      operationId: GetCoreDefinitionVersion
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetCoreDefinitionVersionRequest'
      - in: path
        name: CoreDefinitionId
        required: true
        type: string
      - in: path
        name: CoreDefinitionVersionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetCoreDefinitionVersionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/definition/devices:
    get:
      description: Retrieves a list of device definitions.
      operationId: ListDeviceDefinitions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListDeviceDefinitionsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListDeviceDefinitionsResponse'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a device definition. You may provide the initial version
        of the device definition now or use ''CreateDeviceDefinitionVersion'' at a
        later time.
      operationId: CreateDeviceDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateDeviceDefinitionRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateDeviceDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/devices/{DeviceDefinitionId}:
    delete:
      description: Deletes a device definition.
      operationId: DeleteDeviceDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteDeviceDefinitionRequest'
      - in: path
        name: DeviceDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteDeviceDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: Retrieves information about a device definition.
      operationId: GetDeviceDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetDeviceDefinitionRequest'
      - in: path
        name: DeviceDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetDeviceDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a device definition.
      operationId: UpdateDeviceDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateDeviceDefinitionRequest'
      - in: path
        name: DeviceDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateDeviceDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/devices/{DeviceDefinitionId}/versions:
    get:
      description: Lists the versions of a device definition.
      operationId: ListDeviceDefinitionVersions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListDeviceDefinitionVersionsRequest'
      - in: path
        name: DeviceDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListDeviceDefinitionVersionsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a device definition that has already been
        defined.
      operationId: CreateDeviceDefinitionVersion
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateDeviceDefinitionVersionRequest'
      - in: path
        name: DeviceDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateDeviceDefinitionVersionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/devices/{DeviceDefinitionId}/versions/{DeviceDefinitionVersionId}:
    get:
      description: Retrieves information about a device definition version.
      operationId: GetDeviceDefinitionVersion
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetDeviceDefinitionVersionRequest'
      - in: path
        name: DeviceDefinitionId
        required: true
        type: string
      - in: path
        name: DeviceDefinitionVersionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetDeviceDefinitionVersionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/definition/functions:
    get:
      description: Retrieves a list of Lambda function definitions.
      operationId: ListFunctionDefinitions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListFunctionDefinitionsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListFunctionDefinitionsResponse'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a Lambda function definition which contains a list of Lambda
        functions and their configurations to be used in a group. You can create an
        initial version of the definition by providing a list of Lambda functions
        and their configurations now, or use ''CreateFunctionDefinitionVersion'' later.
      operationId: CreateFunctionDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateFunctionDefinitionRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateFunctionDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/functions/{FunctionDefinitionId}:
    delete:
      description: Deletes a Lambda function definition.
      operationId: DeleteFunctionDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteFunctionDefinitionRequest'
      - in: path
        name: FunctionDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteFunctionDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: Retrieves information about a Lambda function definition, including
        its creation time and latest version.
      operationId: GetFunctionDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetFunctionDefinitionRequest'
      - in: path
        name: FunctionDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetFunctionDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a Lambda function definition.
      operationId: UpdateFunctionDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateFunctionDefinitionRequest'
      - in: path
        name: FunctionDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateFunctionDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/functions/{FunctionDefinitionId}/versions:
    get:
      description: Lists the versions of a Lambda function definition.
      operationId: ListFunctionDefinitionVersions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListFunctionDefinitionVersionsRequest'
      - in: path
        name: FunctionDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListFunctionDefinitionVersionsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a Lambda function definition that has already
        been defined.
      operationId: CreateFunctionDefinitionVersion
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateFunctionDefinitionVersionRequest'
      - in: path
        name: FunctionDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateFunctionDefinitionVersionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/functions/{FunctionDefinitionId}/versions/{FunctionDefinitionVersionId}:
    get:
      description: Retrieves information about a Lambda function definition version,
        including which Lambda functions are included in the version and their configurations.
      operationId: GetFunctionDefinitionVersion
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetFunctionDefinitionVersionRequest'
      - in: path
        name: FunctionDefinitionId
        required: true
        type: string
      - in: path
        name: FunctionDefinitionVersionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetFunctionDefinitionVersionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/definition/loggers:
    get:
      description: Retrieves a list of logger definitions.
      operationId: ListLoggerDefinitions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListLoggerDefinitionsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListLoggerDefinitionsResponse'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a logger definition. You may provide the initial version
        of the logger definition now or use ''CreateLoggerDefinitionVersion'' at a
        later time.
      operationId: CreateLoggerDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateLoggerDefinitionRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateLoggerDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/loggers/{LoggerDefinitionId}:
    delete:
      description: Deletes a logger definition.
      operationId: DeleteLoggerDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteLoggerDefinitionRequest'
      - in: path
        name: LoggerDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoggerDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: Retrieves information about a logger definition.
      operationId: GetLoggerDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetLoggerDefinitionRequest'
      - in: path
        name: LoggerDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetLoggerDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a logger definition.
      operationId: UpdateLoggerDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateLoggerDefinitionRequest'
      - in: path
        name: LoggerDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateLoggerDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/loggers/{LoggerDefinitionId}/versions:
    get:
      description: Lists the versions of a logger definition.
      operationId: ListLoggerDefinitionVersions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListLoggerDefinitionVersionsRequest'
      - in: path
        name: LoggerDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListLoggerDefinitionVersionsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a logger definition that has already been
        defined.
      operationId: CreateLoggerDefinitionVersion
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateLoggerDefinitionVersionRequest'
      - in: path
        name: LoggerDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateLoggerDefinitionVersionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/loggers/{LoggerDefinitionId}/versions/{LoggerDefinitionVersionId}:
    get:
      description: Retrieves information about a logger definition version.
      operationId: GetLoggerDefinitionVersion
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetLoggerDefinitionVersionRequest'
      - in: path
        name: LoggerDefinitionId
        required: true
        type: string
      - in: path
        name: LoggerDefinitionVersionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetLoggerDefinitionVersionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/definition/resources:
    get:
      description: Retrieves a list of resource definitions.
      operationId: ListResourceDefinitions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListResourceDefinitionsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListResourceDefinitionsResponse'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a resource definition which contains a list of resources
        to be used in a group. You can create an initial version of the definition
        by providing a list of resources now, or use ''CreateResourceDefinitionVersion''
        later.
      operationId: CreateResourceDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateResourceDefinitionRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateResourceDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/resources/{ResourceDefinitionId}:
    delete:
      description: Deletes a resource definition.
      operationId: DeleteResourceDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteResourceDefinitionRequest'
      - in: path
        name: ResourceDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteResourceDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: Retrieves information about a resource definition, including its
        creation time and latest version.
      operationId: GetResourceDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetResourceDefinitionRequest'
      - in: path
        name: ResourceDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetResourceDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a resource definition.
      operationId: UpdateResourceDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateResourceDefinitionRequest'
      - in: path
        name: ResourceDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateResourceDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/resources/{ResourceDefinitionId}/versions:
    get:
      description: Lists the versions of a resource definition.
      operationId: ListResourceDefinitionVersions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListResourceDefinitionVersionsRequest'
      - in: path
        name: ResourceDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListResourceDefinitionVersionsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a resource definition that has already been
        defined.
      operationId: CreateResourceDefinitionVersion
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateResourceDefinitionVersionRequest'
      - in: path
        name: ResourceDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateResourceDefinitionVersionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/resources/{ResourceDefinitionId}/versions/{ResourceDefinitionVersionId}:
    get:
      description: Retrieves information about a resource definition version, including
        which resources are included in the version.
      operationId: GetResourceDefinitionVersion
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetResourceDefinitionVersionRequest'
      - in: path
        name: ResourceDefinitionId
        required: true
        type: string
      - in: path
        name: ResourceDefinitionVersionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetResourceDefinitionVersionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/definition/subscriptions:
    get:
      description: Retrieves a list of subscription definitions.
      operationId: ListSubscriptionDefinitions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListSubscriptionDefinitionsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionDefinitionsResponse'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a subscription definition. You may provide the initial
        version of the subscription definition now or use ''CreateSubscriptionDefinitionVersion''
        at a later time.
      operationId: CreateSubscriptionDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateSubscriptionDefinitionRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateSubscriptionDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/subscriptions/{SubscriptionDefinitionId}:
    delete:
      description: Deletes a subscription definition.
      operationId: DeleteSubscriptionDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteSubscriptionDefinitionRequest'
      - in: path
        name: SubscriptionDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteSubscriptionDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: Retrieves information about a subscription definition.
      operationId: GetSubscriptionDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetSubscriptionDefinitionRequest'
      - in: path
        name: SubscriptionDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetSubscriptionDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a subscription definition.
      operationId: UpdateSubscriptionDefinition
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateSubscriptionDefinitionRequest'
      - in: path
        name: SubscriptionDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateSubscriptionDefinitionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions:
    get:
      description: Lists the versions of a subscription definition.
      operationId: ListSubscriptionDefinitionVersions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListSubscriptionDefinitionVersionsRequest'
      - in: path
        name: SubscriptionDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionDefinitionVersionsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a subscription definition which has already
        been defined.
      operationId: CreateSubscriptionDefinitionVersion
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateSubscriptionDefinitionVersionRequest'
      - in: path
        name: SubscriptionDefinitionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateSubscriptionDefinitionVersionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions/{SubscriptionDefinitionVersionId}:
    get:
      description: Retrieves information about a subscription definition version.
      operationId: GetSubscriptionDefinitionVersion
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetSubscriptionDefinitionVersionRequest'
      - in: path
        name: SubscriptionDefinitionId
        required: true
        type: string
      - in: path
        name: SubscriptionDefinitionVersionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetSubscriptionDefinitionVersionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/groups:
    get:
      description: Retrieves a list of groups.
      operationId: ListGroups
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListGroupsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListGroupsResponse'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a group. You may provide the initial version of the group
        or use ''CreateGroupVersion'' at a later time.
      operationId: CreateGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateGroupRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/groups/{GroupId}:
    delete:
      description: Deletes a group.
      operationId: DeleteGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteGroupRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteGroupResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: Retrieves information about a group.
      operationId: GetGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetGroupRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetGroupResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a group.
      operationId: UpdateGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateGroupRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateGroupResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/groups/{GroupId}/certificateauthorities:
    get:
      description: Retrieves the current CAs for a group.
      operationId: ListGroupCertificateAuthorities
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListGroupCertificateAuthoritiesRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListGroupCertificateAuthoritiesResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a CA for the group. If a CA already exists, it will rotate
        the existing CA.
      operationId: CreateGroupCertificateAuthority
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateGroupCertificateAuthorityRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupCertificateAuthorityResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /greengrass/groups/{GroupId}/certificateauthorities/configuration/expiry:
    get:
      description: Retrieves the current configuration for the CA used by the group.
      operationId: GetGroupCertificateConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetGroupCertificateConfigurationRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetGroupCertificateConfigurationResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the Certificate expiry time for a group.
      operationId: UpdateGroupCertificateConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateGroupCertificateConfigurationRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateGroupCertificateConfigurationResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /greengrass/groups/{GroupId}/certificateauthorities/{CertificateAuthorityId}:
    get:
      description: Retreives the CA associated with a group. Returns the public key
        of the CA.
      operationId: GetGroupCertificateAuthority
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetGroupCertificateAuthorityRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      - in: path
        name: CertificateAuthorityId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetGroupCertificateAuthorityResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/groups/{GroupId}/deployments:
    get:
      description: Returns a history of deployments for the group.
      operationId: ListDeployments
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListDeploymentsRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a deployment.
      operationId: CreateDeployment
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateDeploymentRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/groups/{GroupId}/deployments/$reset:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Resets a group's deployments.
      operationId: ResetDeployments
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ResetDeploymentsRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ResetDeploymentsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/groups/{GroupId}/deployments/{DeploymentId}/status:
    get:
      description: Returns the status of a deployment.
      operationId: GetDeploymentStatus
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetDeploymentStatusRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      - in: path
        name: DeploymentId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentStatusResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/groups/{GroupId}/role:
    delete:
      description: Disassociates the role from a group.
      operationId: DisassociateRoleFromGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DisassociateRoleFromGroupRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DisassociateRoleFromGroupResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    get:
      description: Retrieves the role associated with a particular group.
      operationId: GetAssociatedRole
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetAssociatedRoleRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetAssociatedRoleResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Associates a role with a group. Your AWS Greengrass core will use
        the role to access AWS cloud services. The role's permissions should allow
        Greengrass core Lambda functions to perform actions against the cloud.
      operationId: AssociateRoleToGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AssociateRoleToGroupRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AssociateRoleToGroupResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /greengrass/groups/{GroupId}/versions:
    get:
      description: Lists the versions of a group.
      operationId: ListGroupVersions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListGroupVersionsRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListGroupVersionsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a group which has already been defined.
      operationId: CreateGroupVersion
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateGroupVersionRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupVersionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /greengrass/groups/{GroupId}/versions/{GroupVersionId}:
    get:
      description: Retrieves information about a group version.
      operationId: GetGroupVersion
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetGroupVersionRequest'
      - in: path
        name: GroupId
        required: true
        type: string
      - in: path
        name: GroupVersionId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetGroupVersionResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/servicerole:
    delete:
      description: Disassociates the service role from your account. Without a service
        role, deployments will not work.
      operationId: DisassociateServiceRoleFromAccount
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DisassociateServiceRoleFromAccountRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DisassociateServiceRoleFromAccountResponse'
        480:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    get:
      description: Retrieves the service role that is attached to your account.
      operationId: GetServiceRoleForAccount
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetServiceRoleForAccountRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetServiceRoleForAccountResponse'
        480:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Associates a role with your account. AWS Greengrass will use the
        role to access your Lambda functions and AWS IoT resources. This is necessary
        for deployments to succeed. The role must have at least minimum permissions
        in the policy ''AWSGreengrassResourceAccessRolePolicy''.
      operationId: AssociateServiceRoleToAccount
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AssociateServiceRoleToAccountRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AssociateServiceRoleToAccountResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /greengrass/things/{ThingName}/connectivityInfo:
    get:
      description: Retrieves the connectivity information for a core.
      operationId: GetConnectivityInfo
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetConnectivityInfoRequest'
      - in: path
        name: ThingName
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetConnectivityInfoResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the connectivity information for the core. Any devices
        that belong to the group which has this core will receive this information
        in order to find the location of the core and connect to it.
      operationId: UpdateConnectivityInfo
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateConnectivityInfoRequest'
      - in: path
        name: ThingName
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateConnectivityInfoResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /greengrass/updates:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a software update for a core or group of cores (specified
        as an IoT thing group.) Use this to update the OTA Agent as well as the Greengrass
        core software. It makes use of the IoT Jobs feature which provides additional
        commands to manage a Greengrass core software update job.
      operationId: CreateSoftwareUpdateJob
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateSoftwareUpdateJobRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateSoftwareUpdateJobResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":217:{s:27:\"AssociateRoleToGroupRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:58:\"The
  ARN of the role you wish to associate with this group.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"AssociateRoleToGroupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"AssociatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:91:\"The
  time, in milliseconds since the epoch, when the role ARN was associated with the
  group.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"AssociateServiceRoleToAccountRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:68:\"The
  ARN of the service role you wish to associate with your account.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"AssociateServiceRoleToAccountResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"AssociatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:63:\"The
  time when the service role was associated with the account.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BadRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"General
  error information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"ErrorDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorDetails\";s:11:\"description\";s:24:\"Details
  about the error.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:49:\"A
  message containing information about the error.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ConnectivityInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Information
  about a Greengrass core's connectivity.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"HostAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:66:\"The
  endpoint for the Greengrass core. Can be an IP address or DNS.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:39:\"The
  ID of the connectivity information.\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:27:\"Metadata
  for this endpoint.\";}s:10:\"PortNumber\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:46:\"The
  port of the Greengrass core. Usually 8883.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Core\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Information
  about a core.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:52:\"The
  ARN of the certificate associated with the core.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:19:\"The
  ID of the core.\";}s:10:\"SyncShadow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:72:\"If
  true, the core's local shadow is automatically synced with the cloud.\";}s:8:\"ThingArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:39:\"The
  ARN of the thing which is the core.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CoreDefinitionVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Information
  about a core definition version.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Cores\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/__listOfCore\";s:11:\"description\";s:47:\"A
  list of cores in the core definition version.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreateCoreDefinitionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Information
  needed to create a core definition.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"InitialVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/CoreDefinitionVersion\";s:11:\"description\";s:61:\"Information
  about the initial version of the core definition.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:32:\"The
  name of the core definition.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"CreateCoreDefinitionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:26:\"The
  ARN of the definition.\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:75:\"The
  time, in milliseconds since the epoch, when the definition was created.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:25:\"The
  ID of the definition.\";}s:20:\"LastUpdatedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:80:\"The
  time, in milliseconds since the epoch, when the definition was last updated.\";}s:13:\"LatestVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  latest version of the definition.\";}s:16:\"LatestVersionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:48:\"The
  ARN of the latest version of the definition.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:27:\"The
  name of the definition.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"CreateCoreDefinitionVersionRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Cores\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/__listOfCore\";s:11:\"description\";s:47:\"A
  list of cores in the core definition version.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"CreateCoreDefinitionVersionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:23:\"The
  ARN of the version.\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:72:\"The
  time, in milliseconds since the epoch, when the version was created.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:22:\"The
  ID of the version.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  unique ID of the version.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateDeploymentRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"DeploymentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:71:\"The
  ID of the deployment if you wish to redeploy a previous deployment.\";}s:14:\"DeploymentType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DeploymentType\";s:11:\"description\";s:113:\"The
  type of deployment. When used in ''CreateDeployment'', only ''NewDeployment'' and
  ''Redeployment'' are valid.\";}s:14:\"GroupVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:43:\"The
  ID of the group version to be deployed.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CreateDeploymentResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"DeploymentArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:26:\"The
  ARN of the deployment.\";}s:12:\"DeploymentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:25:\"The
  ID of the deployment.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CreateDeviceDefinitionRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"InitialVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/DeviceDefinitionVersion\";s:11:\"description\";s:63:\"Information
  about the initial version of the device definition.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:34:\"The
  name of the device definition.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CreateDeviceDefinitionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:26:\"The
  ARN of the definition.\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:75:\"The
  time, in milliseconds since the epoch, when the definition was created.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:25:\"The
  ID of the definition.\";}s:20:\"LastUpdatedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:80:\"The
  time, in milliseconds since the epoch, when the definition was last updated.\";}s:13:\"LatestVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  latest version of the definition.\";}s:16:\"LatestVersionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:48:\"The
  ARN of the latest version of the definition.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:27:\"The
  name of the definition.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"CreateDeviceDefinitionVersionRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Devices\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/__listOfDevice\";s:11:\"description\";s:44:\"A
  list of devices in the definition version.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"CreateDeviceDefinitionVersionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:23:\"The
  ARN of the version.\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:72:\"The
  time, in milliseconds since the epoch, when the version was created.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:22:\"The
  ID of the version.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  unique ID of the version.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CreateFunctionDefinitionRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"InitialVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/FunctionDefinitionVersion\";s:11:\"description\";s:65:\"Information
  about the initial version of the function definition.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:36:\"The
  name of the function definition.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CreateFunctionDefinitionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:26:\"The
  ARN of the definition.\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:75:\"The
  time, in milliseconds since the epoch, when the definition was created.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:25:\"The
  ID of the definition.\";}s:20:\"LastUpdatedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:80:\"The
  time, in milliseconds since the epoch, when the definition was last updated.\";}s:13:\"LatestVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  latest version of the definition.\";}s:16:\"LatestVersionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:48:\"The
  ARN of the latest version of the definition.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:27:\"The
  name of the definition.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"CreateFunctionDefinitionVersionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Information
  needed to create a function definition version.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Functions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOfFunction\";s:11:\"description\";s:63:\"A
  list of Lambda functions in this function definition version.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"CreateFunctionDefinitionVersionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:23:\"The
  ARN of the version.\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:72:\"The
  time, in milliseconds since the epoch, when the version was created.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:22:\"The
  ID of the version.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  unique ID of the version.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"CreateGroupCertificateAuthorityRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:39:\"CreateGroupCertificateAuthorityResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"GroupCertificateAuthorityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:43:\"The
  ARN of the group certificate authority.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateGroupRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"InitialVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/GroupVersion\";s:11:\"description\";s:51:\"Information
  about the initial version of the group.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:22:\"The
  name of the group.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateGroupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:26:\"The
  ARN of the definition.\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:75:\"The
  time, in milliseconds since the epoch, when the definition was created.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:25:\"The
  ID of the definition.\";}s:20:\"LastUpdatedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:80:\"The
  time, in milliseconds since the epoch, when the definition was last updated.\";}s:13:\"LatestVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  latest version of the definition.\";}s:16:\"LatestVersionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:48:\"The
  ARN of the latest version of the definition.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:27:\"The
  name of the definition.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CreateGroupVersionRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:24:\"CoreDefinitionVersionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:54:\"The
  ARN of the core definition version for this group.\";}s:26:\"DeviceDefinitionVersionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:56:\"The
  ARN of the device definition version for this group.\";}s:28:\"FunctionDefinitionVersionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:58:\"The
  ARN of the function definition version for this group.\";}s:26:\"LoggerDefinitionVersionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:56:\"The
  ARN of the logger definition version for this group.\";}s:28:\"ResourceDefinitionVersionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:51:\"The
  resource definition version ARN for this group.\";}s:32:\"SubscriptionDefinitionVersionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:62:\"The
  ARN of the subscription definition version for this group.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CreateGroupVersionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:23:\"The
  ARN of the version.\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:72:\"The
  time, in milliseconds since the epoch, when the version was created.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:22:\"The
  ID of the version.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  unique ID of the version.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CreateLoggerDefinitionRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"InitialVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/LoggerDefinitionVersion\";s:11:\"description\";s:63:\"Information
  about the initial version of the logger definition.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:34:\"The
  name of the logger definition.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CreateLoggerDefinitionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:26:\"The
  ARN of the definition.\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:75:\"The
  time, in milliseconds since the epoch, when the definition was created.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:25:\"The
  ID of the definition.\";}s:20:\"LastUpdatedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:80:\"The
  time, in milliseconds since the epoch, when the definition was last updated.\";}s:13:\"LatestVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  latest version of the definition.\";}s:16:\"LatestVersionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:48:\"The
  ARN of the latest version of the definition.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:27:\"The
  name of the definition.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"CreateLoggerDefinitionVersionRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Loggers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/__listOfLogger\";s:11:\"description\";s:18:\"A
  list of loggers.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"CreateLoggerDefinitionVersionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:23:\"The
  ARN of the version.\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:72:\"The
  time, in milliseconds since the epoch, when the version was created.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:22:\"The
  ID of the version.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  unique ID of the version.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CreateResourceDefinitionRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"InitialVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ResourceDefinitionVersion\";s:11:\"description\";s:65:\"Information
  about the initial version of the resource definition.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:36:\"The
  name of the resource definition.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CreateResourceDefinitionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:26:\"The
  ARN of the definition.\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:75:\"The
  time, in milliseconds since the epoch, when the definition was created.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:25:\"The
  ID of the definition.\";}s:20:\"LastUpdatedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:80:\"The
  time, in milliseconds since the epoch, when the definition was last updated.\";}s:13:\"LatestVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  latest version of the definition.\";}s:16:\"LatestVersionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:48:\"The
  ARN of the latest version of the definition.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:27:\"The
  name of the definition.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"CreateResourceDefinitionVersionRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Resources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOfResource\";s:11:\"description\";s:20:\"A
  list of resources.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"CreateResourceDefinitionVersionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:23:\"The
  ARN of the version.\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:72:\"The
  time, in milliseconds since the epoch, when the version was created.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:22:\"The
  ID of the version.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  unique ID of the version.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CreateSoftwareUpdateJobRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"S3UrlSignerRole\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/S3UrlSignerRole\";}s:16:\"SoftwareToUpdate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/SoftwareToUpdate\";}s:19:\"UpdateAgentLogLevel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/UpdateAgentLogLevel\";}s:13:\"UpdateTargets\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UpdateTargets\";}s:25:\"UpdateTargetsArchitecture\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/UpdateTargetsArchitecture\";}s:28:\"UpdateTargetsOperatingSystem\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/UpdateTargetsOperatingSystem\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CreateSoftwareUpdateJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"IotJobArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:45:\"The
  IoT Job ARN corresponding to this update.\";}s:8:\"IotJobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:44:\"The
  IoT Job Id corresponding to this update.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"CreateSubscriptionDefinitionRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"InitialVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/SubscriptionDefinitionVersion\";s:11:\"description\";s:69:\"Information
  about the initial version of the subscription definition.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:40:\"The
  name of the subscription definition.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"CreateSubscriptionDefinitionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:26:\"The
  ARN of the definition.\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:75:\"The
  time, in milliseconds since the epoch, when the definition was created.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:25:\"The
  ID of the definition.\";}s:20:\"LastUpdatedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:80:\"The
  time, in milliseconds since the epoch, when the definition was last updated.\";}s:13:\"LatestVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  latest version of the definition.\";}s:16:\"LatestVersionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:48:\"The
  ARN of the latest version of the definition.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:27:\"The
  name of the definition.\";}}s:4:\"type\";s:6:\"object\";}s:42:\"CreateSubscriptionDefinitionVersionRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"Subscriptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/__listOfSubscription\";s:11:\"description\";s:24:\"A
  list of subscriptions.\";}}s:4:\"type\";s:6:\"object\";}s:43:\"CreateSubscriptionDefinitionVersionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:23:\"The
  ARN of the version.\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:72:\"The
  time, in milliseconds since the epoch, when the version was created.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:22:\"The
  ID of the version.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:29:\"The
  unique ID of the version.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DefinitionInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Information
  about a definition.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:26:\"The
  ARN of the definition.\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:75:\"The
  time, in milliseconds since the epoch, when the definition was created.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:25:\"The
  ID of the definition.\";}s:20:\"LastUpdatedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:80:\"The
  time, in milliseconds since the epoch, when the definition was last updated.\";}s:13:\"LatestVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  latest version of the definition.\";}s:16:\"LatestVersionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:48:\"The
  ARN of the latest version of the definition.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:27:\"The
[...]
