---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:2802:\"**IMPORTANT:**
  Contains (most of) 7580 APIs, plus additional drafts. This file may not contain
  all changes in the 7580 APIs. Questions? Contact cl@dnb.no.\n\n**Guidelines:**\n\n*
  camelCase, starting with lowercase: ```customerEngagement```, ```accountNumber```,
  ```creditCard```, etc.\n* Refer to standards, and use examples for all properties
  and values.\n* General rule: Response (object) determines endpoint: If reponse is
  ```account```, the endpoint should start with ```/accounts```. In cases where this
  may be up for discussion, multiple endpoints may be available for some time in order
  to evaluate.\n\n**Standards:**\n\nAPIs must use ISO and RFC standards. \n\n* Country:
  ISO 3166-1 alpha-2: : https://www.iso.org/standard/63546.html (```NO```, ```GB```,
  ```US```)\n* Currency: ISO 4217: alpha 3-letter upcase: https://www.iso.org/iso-4217-currency-codes.html
  (```NOK```, ```EUR```, ```USD```)\n* Date: ISO 8601:  www.iso.org/iso/home/standards/iso8601.htm
  (date: ```2018-12-31```, timestamp: ```2018-12-31T23:59:59+01:00```)\n* SWIFT BIC:
  ISO 9362: https://en.wikipedia.org/wiki/ISO_9362 (```DNBANOKKXXX```)\n* IBAN ISO
  13616:2007: https://www.iso.org/standard/41031.html (```NO9386011117947```)\n* MCC:
  ISO 18245: https://www.iso.org/standard/33365.html (https://github.com/greggles/mcc-codes)
  (```3514: Hotels/Motels/Inns/Resorts```)\n\n**HTTP Response Codes**\n\nHTTP reponse
  codes in Open Bank may be more detailed than in Shared Sertvices and layers below.
  The HTTP reponses below is a good starting point, and may be updated if needed.
  \n\nSuccess\n\n* ```200: OK``` https://httpstatuses.com/200 / https://tools.ietf.org/html/rfc7231#section-6.3.1
  \    \n* ```201: Created``` https://httpstatuses.com/201 / https://tools.ietf.org/html/rfc7231#section-6.3.2\n\nClient
  Error\n\n* ```400: Bad Request``` https://httpstatuses.com/400 / https://tools.ietf.org/html/rfc7231#section-6.5.1
  \    \n* ```401: Unauthorized``` https://httpstatuses.com/401 / https://tools.ietf.org/html/rfc7235#section-3.1
  \     \n* ```403: Forbidden``` https://httpstatuses.com/403 / https://tools.ietf.org/html/rfc7231#section-6.5.3
  \    \n* ```404: Not Found``` https://httpstatuses.com/404 / https://tools.ietf.org/html/rfc7231#section-6.5.4
  \     \n* ```429: Too Many Requests``` https://httpstatuses.com/429 / https://tools.ietf.org/html/rfc6585#section-4
  \ \n\nServer Error\n\n* ```500: Server Error``` https://httpstatuses.com/500 / https://tools.ietf.org/html/rfc7231#section-6.6.1
  \    \n* ```503: Service Unavailable``` https://httpstatuses.com/503 / https://tools.ietf.org/html/rfc7231#section-6.6.503\n*
  ```504: Timeout``` https://httpstatuses.com/504 / https://tools.ietf.org/html/rfc7231#section-6.6.5
  \   \n\n**Github**\n\nFull Swagger documentation and links to other generated documentation
  si available on Github: https://github.com/cloveras/dnb/\n\n\n\";s:7:\"version\";s:3:\"0.5\";s:5:\"title\";s:17:\"API
  Drafts + 7580\";s:14:\"termsOfService\";s:0:\"\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:19:\"Christian
  L\xF8ver\xE5s\";s:3:\"url\";s:14:\"https://dnb.no\";s:5:\"email\";s:9:\"cl@dnb.no\";}}"
host: a1r3mp0.restletmocks.net
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":45:{s:8:\"customer\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:7:\"address\";i:1;s:10:\"countryTax\";i:2;s:10:\"customerId\";i:3;s:12:\"customerType\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"customerId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"SSN
  or organization number\";s:7:\"example\";s:11:\"12345678901\";}s:12:\"customerType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"```PERSON```,
  ```COMPANY```\";s:7:\"example\";s:6:\"PERSON\";}s:9:\"firstName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"First
  name. May be used contact person if type is ```COMPANY```.\";s:7:\"example\";s:4:\"Rune\";}s:8:\"lastName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"Surname.
  May be used contact person if type is ```COMPANY```.\";s:7:\"example\";s:6:\"Bjerke\";}s:11:\"companyName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Company
  name, if type is ```COMPANY```.\";s:7:\"example\";s:3:\"DNB\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/address\";}s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Email
  address.\";s:7:\"example\";s:19:\"example@example.com\";}s:5:\"phone\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Including
  \"+\" and international prefix. Whitespace is stripped.\";s:7:\"example\";s:11:\"+4791504800\";}s:14:\"countryOfBirth\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"ISO
  3166-1 alpha-2: https://www.iso.org/standard/63546.html\";s:7:\"example\";s:2:\"NO\";}s:19:\"countryCitizenships\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:59:\"ISO
  3166-1 alpha-2: https://www.iso.org/standard/63546.html\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"NO\";}}s:10:\"countryTax\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:59:\"ISO
  3166-1 alpha-2: https://www.iso.org/standard/63546.html\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"NO\";}}s:18:\"customerEngagement\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:23:\"One
  or more engagements\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/customerEngagement\";}}}s:11:\"description\";s:360:\"One
  common ```customer```data object for all kinds of customers: Private customers,
  business customers, and others.\n\nPlease note:\n* Some updates may be required.\n*
  Should be aligned with Shared Services Layer: https://shasl.restlet.io/#type_customer\n*
  Should be aligned with CIM, while still hiding internal complexity and making it
  easy to understand and use.\";}s:18:\"customerEngagement\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:12:\"engagementId\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"engagementId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"12345\";}s:14:\"engagementType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Types
  of engagements: To be determined. Needs to be aligned with DNB CIM, without exposing
  internal complexity.\";s:7:\"example\";s:7:\"DEPOSIT\";}s:13:\"accountNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"12345678901\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"SAGA
  MasterCard\";}s:9:\"corporate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}}s:11:\"description\";s:91:\"Used
  with ```customer```. \n\nWork in progress. See https://shasl.restlet.io/#type_engagement\";}s:15:\"customerProfile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"customerid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"Notes
  (placeholder)\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Needs
  lots more.\";}}}s:13:\"customerScore\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Id
  of this score\";}s:10:\"customerid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Customer
  id\";}s:5:\"score\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:9:\"The
  score\";}s:13:\"score_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Optional
  details\";}}}s:7:\"account\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"accountNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"11
  digits. Bank, etc can be determined from this: https://no.wikipedia.org/wiki/Kontonummer\";s:7:\"example\";s:11:\"12345678901\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Any
  type of account.\";s:7:\"example\";s:7:\"DEPOSIT\";}s:11:\"accountName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Friendly
  name for the account:\";s:7:\"example\";s:16:\"Standard account\";}s:16:\"balanceAvailable\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:100.01000000000001;}s:14:\"accountDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/accountDetails\";}}s:11:\"description\";s:465:\"Same
  ```account``` data object for all types of account. The ```type``` property determines
  the type. \n\nAn ```account``` may have ```accountDetails```, which may again have
  ```accountBalance``` and  ```accountInterestDetails```.\n\nA Norwegian ```account```has
  three groups: xxxx yy zzzzc.\n* xxxx: Bank register number, identifying bank and
  branch. \n* yy: Account group. \n* zzzz: Customer account number.  \n* c: Control
  digit, modulo 11 with weight number 5432765432.\";}s:14:\"accountDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"IBAN\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"ISO
  13616:2007: https://www.iso.org/standard/41031.html No whitespace\";s:7:\"example\";s:15:\"NO9386011117947\";}s:3:\"BIC\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"ISO
  9362: https://en.wikipedia.org/wiki/ISO_9362\";s:7:\"example\";s:11:\"DNBANOKKXXX\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Currency:
  ISO 4217: alpha 3-letter upcase. https://www.iso.org/iso-4217-currency-codes.html\";s:7:\"example\";s:3:\"NOK\";}s:7:\"created\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:52:\"ISO
  8601: www.iso.org/iso/home/standards/iso8601.htm\";s:7:\"example\";s:22:\"2018-12-31T23:59:59+01\";}s:7:\"updated\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:52:\"ISO
  8601: www.iso.org/iso/home/standards/iso8601.htm\";s:7:\"example\";s:22:\"2018-12-31T23:59:59+01\";}s:22:\"accountInterestDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/accountInterestDetails\";}}s:11:\"description\";s:150:\"Details
  for an ```account```, with optional reference to ```accountDetails```.\n\nIBAN help:
  http://www.xe.com/ibancalculator/sample/?ibancountry=norway\";}s:22:\"accountInterestDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"interestRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:2.0099999999999998;}s:20:\"earnedInterestToDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:100.01000000000001;}s:28:\"accruedInterestAndFeesToDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:1.01;}s:10:\"feesToDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:5.0099999999999998;}s:27:\"accruedInterestFromLastYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:500.00999999999999;}}s:11:\"description\";s:51:\"Details
  about an the interest for an ```account```.\";}s:16:\"accountStatement\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:13:\"accountNumber\";i:1;s:5:\"month\";i:2;s:4:\"year\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"accountNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"12345678901\";}s:4:\"year\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"YYYY:
  ISO 8601: www.iso.org/iso/home/standards/iso8601.htm\";s:7:\"example\";s:4:\"1990\";}s:5:\"month\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"MM:
  ISO 8601: www.iso.org/iso/home/standards/iso8601.htm\";s:7:\"example\";s:2:\"01\";}s:12:\"transactions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/transaction\";}}}s:11:\"description\";s:33:\"Monthly
  ```account``` statement. \";}s:14:\"accountBalance\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:13:\"accountNumber\";i:1;s:15:\"amountAvailable\";i:2;s:12:\"amountBooked\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"accountNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"11
  digits\";s:7:\"example\";s:11:\"12345678901\";}s:15:\"amountAvailable\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:16:\"Amount
  available\";s:7:\"example\";d:100.01000000000001;}s:12:\"amountBooked\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:23:\"Booked
  amount available\";s:7:\"example\";d:100.01000000000001;}s:9:\"timestamp\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:52:\"ISO
  8601: www.iso.org/iso/home/standards/iso8601.htm\";s:7:\"example\";s:22:\"2018-12-31T23:59:59+01\";}}s:11:\"description\";s:59:\"Balances
  for an ```account```. See also: ```cardBalance```.\";}s:4:\"card\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"cardId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"12345\";}s:16:\"maskedCardNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"16
  characters: Twelve \"X\", and the last four digits ofr the card number. 4x4 nubers
  with whitespace.\";s:7:\"example\";s:19:\"XXXX XXXX XXXX 1234\";}s:8:\"cardType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Visa,
  MasterCard, American Express, etc\";s:7:\"example\";s:4:\"VISA\";}s:9:\"cardGroup\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Debit
  or credit.\";s:7:\"example\";s:5:\"DEBIT\";}s:13:\"accountNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Both
  for debit and credit cards\";s:7:\"example\";s:12:\"012345678901\";}s:10:\"cardStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Normal,
  active, blocked\";s:7:\"example\";s:6:\"NORMAL\";}s:9:\"blockCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"If
  blocked: Code for the blocking reason.\";s:7:\"example\";s:5:\"12345\";}s:10:\"expiryDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:73:\"YYYY-MM.
  ISO 8601: https://www.iso.org/iso-8601-date-and-time-format.html\";s:7:\"example\";s:7:\"2018-12\";}s:12:\"debitBalance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/accountBalance\";}s:13:\"creditBalance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/cardBalance\";}}s:11:\"description\";s:28:\"Both
  debit and credit cards.\";}s:11:\"cardBalance\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:15:\"amountAvailable\";i:1;s:8:\"currency\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"ISO
  4217: alpha 3-letter upcase: https://www.iso.org/iso-4217-currency-codes.html\";s:7:\"example\";s:3:\"NOK\";}s:11:\"creditLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"100000.00\";}s:15:\"amountAvailable\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:87:\"Debit:
  The amount in the ```account```.Credit: The limit minus the registered payments.\";s:7:\"example\";d:90000.009999999995;}s:10:\"amountBook\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:90000.009999999995;}s:9:\"timestamp\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:52:\"ISO
  8601: www.iso.org/iso/home/standards/iso8601.htm\";s:7:\"example\";s:25:\"2018-12-31T23:59:59+01:00\";}}s:11:\"description\";s:51:\"Used
  by ```card```. See also: ```accountBalance```.\";}s:11:\"cardInvoice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"card\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/card\";}s:4:\"year\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"YYYY\";s:7:\"example\";s:4:\"2018\";}s:5:\"month\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"MM,
  where January is 01\";s:7:\"example\";s:2:\"01\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"100.00\";}s:7:\"dueDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:64:\"YYYY-MM-DD.
  ISO 8601: www.iso.org/iso/home/standards/iso8601.htm\";s:7:\"example\";s:10:\"2018-12-31\";}s:13:\"accountNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Account
  to pay to. 11 digits.\";s:7:\"example\";s:12:\"012345678901\";}s:3:\"KID\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"2-25
  digits\";s:7:\"example\";s:2:\"42\";}s:12:\"transactions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/transaction\";}}}}s:7:\"payment\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:6:\"amount\";i:1;s:13:\"creditAccount\";i:2;s:12:\"debitAccount\";i:3;s:9:\"paymentId\";i:4;s:6:\"status\";i:5;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"paymentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"123456789\";}s:12:\"debitAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"12345678901\";}s:13:\"creditAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"12345678901\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:1500.01;}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"TBD\";s:7:\"example\";s:4:\"TBD1\";}s:4:\"date\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:70:\"YYYY-MM-DD:
  Date: ISO 8601: www.iso.org/iso/home/standards/iso8601.htm\";s:7:\"example\";s:10:\"2018-31-12\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Statuses
  TBD\";s:7:\"example\";s:4:\"PAID\";}s:14:\"paymentDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/paymentDetails\";}}s:11:\"description\";s:277:\"**Note:**
  May be completely merged with ```transaction```.\n\nDetails about a payment. Used
  by:\n* /payments/due/{accountNumber}: Returning a list of payments, with _empty_
  PaymentDetails\n* /payments/due/{accountNumber}/details: Returning a list of payments,
  with PaymentDetails\n\n\";}s:14:\"paymentDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"invoiceReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Used
  for eFaktura\";s:7:\"example\";s:11:\"12345678901\";}}s:11:\"description\";s:76:\"More
  details about a payment. Some payment types have more data than others.\";}s:17:\"paymentInitiation\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:6:\"amount\";i:1;s:19:\"creditAccountNumber\";i:2;s:18:\"debitAccountNumber\";i:3;s:9:\"initiator\";i:4;s:11:\"paymentDate\";i:5;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"KID,
  message (and transfer?)\";s:7:\"example\";s:3:\"KID\";}s:18:\"debitAccountNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"12345678901\";}s:19:\"creditAccountNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"12345678901\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"1500.00\";}s:11:\"paymentDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:70:\"YYYY-MM-DD:
  Date: ISO 8601: www.iso.org/iso/home/standards/iso8601.htm\";s:7:\"example\";s:10:\"2018-12-31\";}s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Used
  for both KID and Message, based on Type.\";s:7:\"example\";s:20:\"35298562958265982749\";}s:9:\"initiator\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Nu
  phone who dis?\";s:7:\"example\";s:3:\"DNB\";}}s:11:\"description\";s:311:\"Three
  types of payments\n* KID: Customer Identification (2-25 digits, including control
  digit)\n* Message: Text message describing the payment\n\nNot including the \"straksbetaling\"
  (imediate payment) flag, as this will be the default.\n\nPayment initiator: Part
  of the contxt object, but kept here too for reference. \";}s:12:\"SEPA-request\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:7:\"account\";i:1;s:2:\"id\";i:2;s:14:\"remote_account\";i:3;s:10:\"remote_bic\";i:4;s:11:\"remote_iban\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Unique\";}s:7:\"account\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"From-account\";}s:11:\"remote_iban\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"remote_bic\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"remote_account\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:188:\"```\n{\n
  \ \"account_id\" : \"123456789\",\n  \"external_uid\" : \"99\",\n  \"remote_iban\":
  \"XXXXX\",\n  \"remote_bic\": \"XXXXX\",\n  \"remote_name\" : \"The Man,\n  \"amount\"
  : 100000,\n  \"subject\" : \"Enjoy\"\n}\n```\";}s:13:\"SEPA-response\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"account\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"remote_iban\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"remote:_bic\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"remote_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:231:\"```\n{\n\"id\":
  \"01\",\n\"account\": \"123456789\",\n\"amount\": 100000\",\n\"currency\": \"NOK\",\n\"remote_iban\":
  \"XXXXX\",\n\"remote_bic\": \"XXXXX\",\n\"remote_name\": \"The Man\",\n\"state\":
  \"success\",\n\"created\": \"<timestamp>\",\n\"updated\": \"<timestamp>\",\n}\n\n```\";}s:11:\"transaction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:6:\"amount\";i:1;s:11:\"dateBooking\";i:2;s:13:\"transactionId\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"transactionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"12345\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"1500.00\";}s:13:\"currencyValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Amount
  in foreign currency (if relevant)\";s:7:\"example\";s:5:\"90.00\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"If
  not the currency of the account/card.\";s:7:\"example\";s:3:\"NOK\";}s:11:\"dateBooking\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:70:\"YYYY-MM-DD:
  Date: ISO 8601: www.iso.org/iso/home/standards/iso8601.htm\";s:7:\"example\";s:10:\"2018-13-12\";}s:9:\"dateValue\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:61:\"YYYY-MM.
  ISO 8601: www.iso.org/iso/home/standards/iso8601.htm\";s:7:\"example\";s:10:\"2018-12-31\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Descriptive
  text for the transaction.\";s:7:\"example\";s:50:\"Lunch at The Restaurant at the
  End of the Universe\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:165:\"Booked,
  reserved, and, if this is to be merged with ```payment```: Completed (or something
  similar, to indicate that this has, in fact, been processed and finalized)\";s:7:\"example\";s:6:\"BOOKED\";}s:12:\"merchantName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"Name
  of merchant. With a merhant register, this could be replaced with a (for now, non-existant)
  ```merchantId```.\";s:7:\"example\";s:37:\"Coffee Shop ChainName, shop number 10\";}s:3:\"MCC\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"MCC:
  Number and \"combined description\". ISO 18245: https://www.iso.org/standard/33365.html\";s:7:\"example\";s:32:\"3514:
  Hotels/Motels/Inns/Resorts\";}}s:11:\"description\";s:839:\"Same ```transaction```
  for ll types of transactions: Account transactions, card transactions, etc. Some
  transaction types have more fields and data than others. A developer should not
  need to know about different transaction types when retrieving them.\n\nShould have
  enough data to be useful both for presenting information to an end user, and for
  data analysis. Mey be extended, possibly to include ```merchantId```with a reference
  to more details about merchant, as well as ```location```data, etc.\n\nMCC codes:
  https://github.com/greggles/mcc-codes Example for a hotel:\n```\n{\n    \"mcc\":
  \"3514\",\n    \"edited_description\": \"Hotels/Motels/Inns/Resorts\",\n    \"combined_description\":
  \"Hotels/Motels/Inns/Resorts\",\n    \"usda_description\": \"\",\n    \"irs_description\":
  \"Hotels/Motels/Inns/Resorts\",\n    \"irs_reportable\": \"Yes\",\n    \"id\": 418\n}\n```\";}s:4:\"loan\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:8:{i:0;s:7:\"created\";i:1;s:10:\"customerid\";i:2;s:7:\"expires\";i:3;s:2:\"id\";i:4;s:8:\"interest\";i:5;s:15:\"remainingamount\";i:6;s:11:\"totalamount\";i:7;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"totalamount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"remainingamount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"interest\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"customerid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"11
  digits\";}s:7:\"created\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"expires\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:43:\"Remaining
  time can be calculated from this.\";}s:21:\"details (placeholder)\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:65:\"For
  now: One common loan type for mortgage, car, credit card, etc\";}s:12:\"currencyRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"ISO
  4217: alpha 3-letter upcase: https://www.iso.org/iso-4217-currency-codes.html\";s:7:\"example\";s:3:\"NOK\";}s:12:\"currencyRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"123.45\";}}s:11:\"description\";s:349:\"Used
  by ```/currencies/list/{base}``` for a response similar to:\n\n```\n{\n    timestamp:
  1504548341,\n    base: \"NOK\",\n    rates: {\n        AED: 3.672538,\n        AFN:
  66.809999,\n        ALL: 125.716501,\n        AMD: 484.902502,\n        ANG: 1.788575,\n
  \       AOA: 135.295998,\n        ARS: 9.750101,\n        AUD: 1.390866,\n        /*
  ... */\n    }\n}\n```\";}s:9:\"insurance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"To
  indicate: Car, house, travel, etc\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"DNB's
  name for this type of insurance. \"DNB Bolig Best\", etc.\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:2:\"tc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"URL
  (or other reference) to Terms & Conditions for this insurance.\";}}s:11:\"description\";s:77:\"For
  now: One common Insurance object for all types (house, car, health, etc).\";}s:14:\"insuranceOffer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"insurance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/insurance\";}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"Details
  for this insurance offer: Date issued, valid until, etc.\";}}s:11:\"description\";s:93:\"For
  now: A simple object to represent an insurance offer. Refers to Insurance for simplicity.\";}s:14:\"insuranceClaim\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"details
  (placeholder)\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:111:\"For
  now: A simple object to represent an insurance claim. Should include all details
  necessary to make a claim.\";}s:3:\"car\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"licensenumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Regnr\";}s:6:\"milage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:41:\"In
  kilometers. No date specified for now.\";}s:11:\"value_today\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:20:\"Estimated
  value, NOK\";}s:9:\"value_new\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:14:\"New
  value, NOK\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:171:\"Make,
  model, etc. This can be fetched from Statens Vegvesen (perhaps no API, just a web
  page? https://www.vegvesen.no/Kjoretoy/Kjop+og+salg/Kj%C3%B8ret%C3%B8yopplysninger)\";}}s:11:\"description\";s:23:\"Used
  for car insurance.\";}s:5:\"house\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"county\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:13:\"Kommunenummer\";}s:3:\"gnr\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"G\xE5rdsnummer\";}s:3:\"bnr\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:11:\"Bruksnummer\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:3:\"NOK\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"mMay
  be empty\";}}s:11:\"description\";s:25:\"Used for house insurance.\";}s:19:\"vippsPaymentRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"merchantInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"merchantSerialNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"Identifies
  a merchant sales channel i.e. website, mobile app etc.\";}s:8:\"callBack\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:120:\"ViPPS
  will use this Call back URL to provide the status of initiated transaction. Length
  of the string is 255 characters\";}}}}s:12:\"customerInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:8:\"required\";a:1:{i:0;s:12:\"mobileNumber\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"mobileNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:123:\"Mobile
  number of the user who has to pay for the  transaction from ViPPS.\nAllowed format:\n+47-xxxxxxxx\n+47xxxxxxxx\nxxxxxxxx\";}}}}s:11:\"transaction\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"orderId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"Id
  which uniquely identifies an Order. Maximum length is 30 alphanumeric characters\";}s:10:\"refOrderId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:261:\"Identifies
  if the payment references to some past orders registered with ViPPS. If defined,
  transactions for this payment will show up as child transactions of the specified
  order. Described functionality is not in place and is planned for future implementation\";}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:43:\"Amount
  in \xF8re. 32 Bit Integer (2147483647)\";}s:15:\"transactionText\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Transaction
  text that can be displayed to end user\";}s:9:\"timeStamp\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"Timestamp
  in ISO\n-\n8601 representing when the \norder has been made by merchant\";}}}}}s:11:\"description\";s:426:\"Example:\n```\n{\n
  \   \"merchantInfo\": {\n        \"merchantSerialNumber\": \"NSBWSHP12\",\n        \"callBack\":
  \"https://www.demo.no/api/callback\"\n    },\n    \"customerInfo\": {\n        \"mobileNumber\":
  \"90090900\"\n    },\n    \"transaction\": {\n        \"orderId\": \"219930212\",\n
  \       \"refOrderId\": \"119930211\",\n        \"amount\": 1200,\n        \"transactionText\":
  \"Transaction text\",\n        \"timeStamp\":\"2014-06-24T08:34:25-07:00\"\n    }\n}\n```\";}s:16:\"vippsTransaction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"orderId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:491:\"From
  8.7.5: https://www.vipps.no/portalfront/vipps/nedlast/eCommerce_API_v1.2.pdf\n\nExample:\n```\n{\n
  \   \"orderId\": \"219930212\",\n    \"transactionSummary\": {\n        \"capturedAmount\":\"0\",\n
  \       \"remainingAmoutTocapture\":\"0\",\n        \"refundedAmount\":\"1200\",\n
  \       \"remainingAmountToRefund\":\"0\"\n      },\n     \"transactionLogHistory\":
  [{\n         \"timeStamp\": \"\",\n        \"operation\": \"\",\n        \"amount\":
  \"\",\n        \"transactionId\":\"\",\n       \"transactionText\"\n       \"requestId\":
  \"\"\n}]\n```\";}s:20:\"vippsPaymentResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"orderId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"merchantSerialNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"transactionInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"transactionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timeStamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:11:\"description\";s:403:\"From
  8.3.7: https://www.vipps.no/portalfront/vipps/nedlast/eCommerce_API_v1.2.pdf\n\n```\n{\n
  \   \"orderId\": \"219930212\",\n    \"merchantSerialNumber\": \"NSBWSHP12\",\n
  \   \"transactionInfo\": {\n        \"amount\": 1200,\n        \"status\": \"Initiate\",\n
  \       \"transactionId\": \"1001234566\",\n        \"timeStamp\": \"2014-06-24T08:34:25-07:00\"
  , \n        \"message\":\"Please use vipps app to process the payment\"\n    }\n}\n```\";}s:13:\"vippsCustomer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"accountnumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"cardnumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"report\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:32:\"Placeholder
  for various reports.\";}s:12:\"annualReport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"customerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"year\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"TDB.
  Around 80 fields.\";}}s:11:\"description\";s:48:\"See SAF-T: https://github.com/Skatteetaten/saf-t\";}s:6:\"advice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"TBD\";}}s:11:\"description\";s:19:\"Advice
  for BM Puls.\";}s:10:\"SAF-T-file\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"fileurl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"(Unless
  all data is included in Object)\";}}s:11:\"description\";s:167:\"Standard Audit
  File - Tax\n\nExample file: https://github.com/Skatteetaten/saf-t/blob/master/Example%20Files/ExampleFile%20SAF-T%20Financial_999999999_20161125213512.xml\";}s:7:\"address\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:8:\"postCity\";i:1;s:8:\"postCode\";i:2;s:11:\"postCountry\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"postalAddressLine1\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Street
  name and number\";s:7:\"example\";s:25:\"Dronning Eufemias gate 30\";}s:18:\"postalAddressLine2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"c/o
  CEO office\";}s:18:\"postalAddressLine3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"postCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"0191\";}s:8:\"postCity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"Oslo\";}s:11:\"postCountry\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"ISO
  3166-1 alpha-2: https://www.iso.org/standard/63546.html\";s:7:\"example\";s:2:\"NO\";}}s:11:\"description\";s:56:\"Corresponds
  with address fields used internally in DNB. \";}s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Internal
  id\";s:7:\"example\";s:5:\"12345\";}s:12:\"friendlyName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Descriptive
  name\";s:7:\"example\";s:16:\"DNB headquarters\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"59.9075823\";}s:10:\"longditude\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"10.760133399999972\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"May
  be used for large areas like airports, train stations, stadiums, etc.\";s:7:\"example\";s:5:\"Lobby\";}}s:11:\"description\";s:295:\"Data
  object for physical location based on GPS coordinates. May be used for something
  that does not have a specific address, or somethjing that needs a more specific
  than an address provides, such as an ```ATM``` at a train station. A ```location```
  may be used in addition to an ```address```.\n\";}s:6:\"branch\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"branchId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"DNB
  headquarters, lobby\";}s:11:\"phoneNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Including
  \"+\" and international prefix. Whitespace is stripped.\";s:7:\"example\";s:11:\"+4791504800\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"example@example.com\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/address\";}s:12:\"openingTimes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/openingTimes\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/location\";}}}s:3:\"ATM\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"12345\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"DNB
  headquarters, lobby\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/address\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/location\";}s:12:\"openingTimes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/openingTimes\";}s:10:\"currencies\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:90:\"Array
  of ISO 4217: alpha 3-letter upcase. https://www.iso.org/iso-4217-currency-codes.html\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"NOK\";}}}}s:12:\"openingTimes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:144:\"Opening
  times for a ```branch```, ```ATM```, or something else.\n\nIf open 24 hours, use
  \"00:00\" both for ```openingTime``` and ```closingTime```.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"day\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"1:
  Monday, 2: Tuesday, etc\";}s:11:\"openingTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"HH:MM\";s:7:\"example\";s:5:\"09:00\";}s:11:\"closingTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"HH:MM\";s:7:\"example\";s:5:\"16:00\";}}}}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"httpStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Implicit,
  but still included.\";s:7:\"example\";s:3:\"400\";}s:11:\"errorNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:18:\"DNB's
  error number\";s:7:\"example\";i:1234;}s:12:\"errorMessage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Explanation\";s:7:\"example\";s:16:\"Computer
  says no\";}s:18:\"errorDocumentation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"URI
  to developer documentation for this error\";s:7:\"example\";s:48:\"https://docs.example.com/help-for-this-endpoint/\";}s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:52:\"Details
  about the cause of this error. Zero or more.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/errorDetails\";}}}s:11:\"description\";s:359:\"The
  HTTP status code (```httpStatus```) is the main classifier. A DNB-specific ```errorNumber```is
  also provided as a lookup reference. \n\nThe ```errorDocumentation``` is a URI to
  further information about the endpoint, with uesful infomration about correct usage.\n\nThe
  ```errorDetails```is specific information about the one or more errors that have
  occurred.\";}s:12:\"errorDetails\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"errorNumber\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"errorNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"DNB's
  internal error number.\";s:7:\"example\";s:4:\"5432\";}s:10:\"errorField\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Name
  of field that caused the error.\";s:7:\"example\";s:9:\"firstName\";}s:16:\"errorDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:44:\"First
  name cannot have non-Latin characters.\";}}s:11:\"description\";s:55:\"Detailed
  explanation of the error. Used by ```error```.\";}s:11:\"headerLinks\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"self\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"previous\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:42:\"https://api.example.com/something-previous\";}s:4:\"self\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:33:\"https://api.example.com/something\";}s:4:\"next\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:28:\"https://api.example.com/next\";}}s:11:\"description\";s:177:\"URIs
  for previous, this and next. Only this (self) is required, as previous and next
  may not exist).\n\nSee also global headers for pagination: ```pageNumber```and ```pageSize```.\";}s:16:\"ecoProfileTravel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"co2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Total
  CO2 in kg\";}s:3:\"nox\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Total
  NOx in kg\";}s:8:\"distance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Kilometers\";}s:4:\"time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Hours\";}}}s:18:\"ecoProfileBuilding\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"county\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"11
  digits\";}s:3:\"bnr\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:11:\"Bruksnummer\";}s:3:\"gnr\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"G\xE5rdsnummer\";}s:13:\"overallScrore\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:5:\"1-100\";}s:9:\"buildYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:12:\"energyRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"co2Footprint\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"climateNeutral\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:6:\"Yes/no\";}s:21:\"solarEnergyPercentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:50:\"How
  much of the building's energy is solar? 0-100%\";}s:13:\"greenRoofArea\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:78:\"Area
  of building that is covered with plants. Measured in square meters (m^2).\";}}s:11:\"description\";s:159:\"A
  building's environmental profile. Aggregated and calculated data, which may be cached
  for fast access. The data is a suggestion, to be extended and improved.\";}s:10:\"ecoProfile\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"11
  digits\";}s:13:\"overallScrore\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:5:\"1-100\";}s:9:\"transport\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"publicTransport\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"carPollution\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"annualTravel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"home\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"Data
  about the home\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"homeBuilding\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Envoronmental
  rate of home\";}s:15:\"homeElectricity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"work\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:24:\"Data
  about the workplace\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"workBuilding\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"CO2
  data of workplace\";}}}}s:11:\"description\";s:156:\"A persons environmental profile.
  Aggregated and calculated data, which may be cached for fast access. The data is
  a suggestion, to be extended and improved.\";}s:10:\"carDetails\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:16:\"environmentClass\";i:1;s:13:\"licenseNumber\";i:2;s:4:\"make\";i:3;s:9:\"modelYear\";i:4;s:16:\"registrationDate\";}s:10:\"properties\";O:8:\"stdClass\":14:{s:13:\"licenseNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"License
  plate\";}s:16:\"registrationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"modelYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:4:\"2014\";}s:4:\"make\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Audi\";}s:5:\"model\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"A4
  Allroad\";}s:16:\"environmentClass\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Euro
  6L\";}s:8:\"fuelType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Gasoline\";}s:5:\"seats\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:1:\"5\";}s:14:\"particleFilter\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:5:\"False\";}s:14:\"fuelUseAverage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Liters
  per kilometer, or kW per kilometer. Depends on fuelType.\";}s:11:\"fuelUseCity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:63:\"Liters
  per kilometer, or kW per kilometer. Depends on fuelType.\";}s:14:\"fuelUseCountry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:63:\"Liters
  per kilometer, or kW per kilometer. Depends on fuelType.\";}s:3:\"co2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:19:\"Grams
  per kilometer\";}s:3:\"nox\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:23:\"Milligram
  per kilometer\";}}s:11:\"description\";s:112:\"Infomration from the Norwegian DMV:
  https://www.vegvesen.no/Kjoretoy/Kjop+og+salg/Kj%C3%B8ret%C3%B8yopplysninger\";}}"
...
