---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:4790:\"Bienvenue sur
  la documentation de l'API publique You2You.\n\nYou2You est le leader de la livraison
  collaborative en France.\n- Nous livrons toutes vos commandes express en 1h30 ou
  sur RDV dans des cr\xE9neaux d\u2019une heure.\n- Un particulier se trouvant \xE0
  proximit\xE9 profite de votre demande de livraison pour rentabiliser son trajet
  en \xE9change d\u2019une compensation financi\xE8re.\n- Une livraison \xE9conomique,
  pratique, sociale et \xE9cologique.\n\n# Fonctionnement\nNotre API est organis\xE9e
  suivant le style REST et elle :\n- utilise des verbes et des codes de retour standards
  du protocole HTTP.\n- renvoie exclusivement des r\xE9ponses au format JSON ou texte.\n\nCette
  documentation est l\xE0 pour vous permettre d\u2019impl\xE9menter les m\xE9canismes
  n\xE9cessaires et des exemples concrets sont pr\xE9sents. \xC0 ce jour, il n\u2019existe
  pas de biblioth\xE8que officielle.\n\n# Acc\xE8s \xE0 l\u2019API\nL\u2019API est
  disponible sur deux environnements:\n\n- L'environnement de PRODUCTION : https://api.you2you.fr\n-
  L'environnement d\xE9di\xE9 aux tests : https://api-sandbox.you2you.fr\n\n# Comment
  tester des requ\xEAtes vers l'API?\nNous recommandons l'utilisation de <a href=\"https://www.getpostman.com/\"
  target=\"_blank\">POSTMAN</a>. C'est une application pour faciliter les tests d'int\xE9gration
  et r\xE9cup\xE9rer le code dans d'autres langages non-fournis dans notre documentation
  actuelle (ex: JAVA, C#, etc...).\n\n# Versionning\nL'API sera amen\xE9e \xE0 \xE9voluer
  durant les prochains mois. Afin de ne pas perturber votre impl\xE9mentation, nous
  veillerons imp\xE9rativement \xE0 garder les points d'acc\xE8s, la structure des
  requ\xEAtes et le format des r\xE9ponses pour les versions ant\xE9rieures.\n\nVersions
  disponibles:\n- <a href=\"https://kangooz.github.io/apidoc/1.0\" target=\"_blank\">1.0</a>\n\n#
  R\xE9cup\xE9ration des clefs d'API\nVos cl\xE9s d'API sont g\xE9n\xE9r\xE9es \xE0
  la cr\xE9ation de votre compte sur <a href=\"https://livraison.you2you.fr\" target=\"blank\">https://livraison.you2you.fr</a>.
  Si vous \xEAtes d\xE9j\xE0 en possession d'un compte, commencez \xE0 l'\xE9tape
  2. Voici le parcours complet:\n1. Cr\xE9ez votre compte You2You sur <a href=\"https://livraison.you2you.fr/signup\"
  target=\"_blank\">https://livraison.you2you.fr/signup</a>.\n\n2. Connectez-vous
  avec vos identifiants sur <a href=\"https://livraison.you2you.fr\" target=\"_blank\">https://livraison.you2you.fr</a>.\n\n3.
  Naviguez sur votre dashboard jusqu'\xE0 la section API <a href=\"https://livraison.you2you.fr/api\"
  target=\"_blank\">https://livraison.you2you.fr/api</a>.\n\n# Webhook\nUn webhook
  est un moyen d\u2019appeler une application tierce lorsqu\u2019une action d\xE9finie
  a \xE9t\xE9 effectu\xE9e. Par exemple, vous pouvez d\xE9clencher l\u2019activation
  d\u2019un webhook lorsque le statut d'une livraison change ou lorsque le cr\xE9neau
  de livraison est modifi\xE9.\n\nConfiguration de vos webhooks sur notre interface
  de livraison:\n\n1. Connectez-vous avec vos identifiants sur <a href=\"https://livraison.you2you.fr\"
  target=\"_blank\">https://livraison.you2you.fr</a>.\n\n2. Naviguez sur votre dashboard
  jusqu'\xE0 la section API <a href=\"https://livraison.you2you.fr/api\" target=\"_blank\">https://livraison.you2you.fr/api</a>.\n\n3.
  Saisissez les urls de callback. Exemple: https://mondomain.fr/livraison/endpoint.\n\nD\xE9tails
  sur les r\xE9qu\xEAtes envoy\xE9es \xE0 vos applications:\n\n1. Modification du
  cr\xE9neau de livraison\n\n    - M\xE9thode: POST\n    - Content-Type: application/json\n\n|
  Param\xE8tre  |  Type |  Description |\n|:-:|:-:|---|\n| id  | integer  |  L'ID
  de la livraison |\n| updatedAt  |  string |  La date et l'heure de la modification
  |\n| message  |  string |  Le message d\xE9taillant le callback |\n| shipStart  |
  \ object |  La date et l'heure de d\xE9but du cr\xE9neau de livraison |\n| shipStart.old
  \ |  string |  La date et l'heure avant modification |\n| shipStart.new  |  string
  |  La date et l'heure apr\xE8s modification |\n| shipEnd  |  object |  La date et
  l'heure de fin du cr\xE9neau de livraison souhait\xE9 |\n| shipEnd.old  |  string
  |  La date et l'heure avant modification |\n| shipEnd.new  |  string |  La date
  et l'heure apr\xE8s modification |\n\n\n2. Modification du statut d'une livraison\n\n
  \   - M\xE9thode: POST\n    - Content-Type: application/json\n\n| Param\xE8tre  |
  \ Type |  Description |\n|:-:|:-:|---|\n| id  | integer  |  L'ID de la livraison
  |\n| updatedAt  |  string |  La date et l'heure de la modification |\n| message
  \ |  string |  Le message d\xE9taillant le callback |\n| text  |  string |  La valeur
  textuelle du statut de la livraison |\n| value  |  integer |  La valeur du statut
  de la livraison |\n| description  |  string |  La description associ\xE9e \xE0 la
  livraison |\n\n# Aide\nNos \xE9quipes sont \xE0 votre disposition pour vous r\xE9pondre
  en cas de probl\xE8mes. Reportez vos anomalies sur l'espace github pr\xE9vu \xE0
  cet effet : <a href=\"https://github.com/kangooz/apidoc/issues\" target=\"_blank\">https://github.com/kangooz/apidoc/issues</a>.\n\";s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:29:\"API
  de d\xE9veloppement You2You\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:45:\"https://kangooz.github.io/apidoc/img/logo.png\";}}"
host: api.you2you.fr
basePath: /api
paths: ~
produces:
- application/json
- application/xml
- text/csv
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:19:\"InternalServerError\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Le
  type d'erreur\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"Internal server
  error\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"La description
  de l'erreur\";s:4:\"type\";s:6:\"object\";}}}s:13:\"Authorisation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:6:\"apiKey\";i:1;s:9:\"apiSecret\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"apiKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"La
  cl\xE9 API publique\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"Wz6H5h0yD4POmoNY\";}s:9:\"apiSecret\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"La
  cl\xE9 API secrete\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"Wz6H5h0yD4POmoNY\";}}}s:20:\"AuthorisationSuccess\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Le
  message de succ\xE8s\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:35:\"Success.
  You credentials are valid.\";}}}s:8:\"Delivery\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:11:\"description\";i:1;s:9:\"shipStart\";i:2;s:7:\"shipEnd\";i:3;s:9:\"dimension\";i:4;s:6:\"weight\";i:5;s:7:\"Contact\";i:6;s:8:\"Customer\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Les
  informations additionnelles sur la livraison\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:52:\"Bouquet
  de fleurs \xE0 livrer \xE0 un de mes clients VIP\";}s:9:\"shipStart\";O:8:\"stdClass\":3:{s:11:\"description\";s:222:\"Une
  date et heure qui corresponds au d\xE9but du cr\xE9neau de livraison souhait\xE9.\n\nFormatage
  attendu: yyyy/mm/dd hh:mm[:ss]\n\nyyyy = l'ann\xE9e,\nmm = le mois,\ndd = le jour
  du mois,\nhh = l'heure,\nmm = la minute,\nss = la seconde\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2016-05-30
  18:28:00\";}s:7:\"shipEnd\";O:8:\"stdClass\":3:{s:11:\"description\";s:288:\"Une
  date et heure qui corresponds \xE0 la fin du cr\xE9neau de livraison souhait\xE9.
  G\xE9n\xE9ralement 1 heure apr\xE8s le d\xE9but du cr\xE9neau de livraison.\n\nFormatage
  attendu: yyyy/mm/dd hh:mm[:ss]\n\nyyyy = l'ann\xE9e,\nmm = le mois,\ndd = le jour
  du mois,\nhh = l'heure,\nmm = la minute,\nss = la seconde\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"2016-05-30
  20:28:00\";}s:9:\"dimension\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Les
  dimensions du colis \xE0 livrer\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";}}}s:6:\"weight\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Le
  poids (kilos) du colis \xE0 livrer\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:0.41999999999999998;}s:7:\"Contact\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Les
  informations de la personne joignable sur le point de retrait\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}}}s:8:\"Customer\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Les
  informations du client \xE0 livrer / point de livraison\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Customer\";}}}}}s:15:\"DeliveryDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":31:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"L'ID
  de la livraison\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:3327;}s:4:\"hash\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Le
  hash de la livraison\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"DDQ3DCdP\";}s:12:\"parcelnumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"L'ID
  du colis\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:5678;}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Le
  statut de la livraison\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"La
  valeur textuelle\";s:7:\"example\";s:6:\"Pr\xEAte\";}s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:20:\"La
  valeur num\xE9rique\";s:7:\"example\";i:1;}}}s:6:\"origin\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"L'origine
  de la demande de livraison\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:3;}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"La
  description de la livraison\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:40:\"Un
  bouquet de fleurs pour une client VIP\";}s:9:\"shipstart\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"La
  date et l'heure de d\xE9but du cr\xE9neau de livraison souhait\xE9\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2016-07-29T18:51:20.000Z\";}s:7:\"shipend\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"La
  date et l'heure de fin du cr\xE9neau de livraison souhait\xE9\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2016-07-29T20:00:00.000Z\";}s:16:\"timeclosedeposit\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"La
  date et l'heure d'approche du livreur vers le point de livraison\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2016-07-29T20:00:00.000Z\";}s:11:\"timedeposit\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"La
  date et l'heure de d\xE9p\xF4t de la livraison\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2016-07-29T20:00:00.000Z\";}s:15:\"timeclosepickup\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"La
  date et l'heure d'approche du livreur vers le point de retrait\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2016-07-29T20:00:00.000Z\";}s:10:\"timepickup\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"La
  date et l'heure de retrait du colis\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2016-07-29T20:00:00.000Z\";}s:9:\"timeready\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"La
  date et l'heure de la disponibilit\xE9 de la livraison par le service You2you\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2016-07-29T20:00:00.000Z\";}s:10:\"timeattach\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"La
  date et l'heure de la r\xE9servation de la livraison par un livreur\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2016-07-29T20:00:00.000Z\";}s:10:\"pickupcode\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Le
  code n\xE9cessaire pour la r\xE9cup\xE9ration du colis\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"7232B\";}s:12:\"deliverycode\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Le
  code n\xE9cessaire pour le d\xE9p\xF4t du colis\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"5632A\";}s:8:\"distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"La
  distance calcul\xE9e \xE0 parcourir pour effectuer la livraison\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:5.5999999999999996;}s:5:\"price\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Le
  prix de la livraison\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:11.199999999999999;}s:11:\"priceYouzee\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"La
  part du livr\xE9 dans le prix\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:0;}s:12:\"pricePartner\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"La
  part de l'enseigne dans le prix\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:11.199999999999999;}s:9:\"vehicules\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Le(s)
  moyen(s) de transport requis pour effectuer la livraison\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"bike,moto,car,van\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Le
  poids du colis\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:2.3999999999999999;}s:13:\"haveBeenShift\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Indique
  si la livraison a \xE9t\xE9 d\xE9cal\xE9e\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:11:\"paymentMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Le
  mode de paiement\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:0;}s:6:\"driver\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Les
  informations sur le livreur\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"default_source\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"L'identifiant
  du moyen de paiement\";s:7:\"example\";s:13:\"card_DDQ3DCdP\";}s:8:\"livemode\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:11:\"Le
  livemode\";s:7:\"example\";i:0;}s:7:\"ongoing\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:34:\"Indique
  si le livreur est en route\";s:7:\"example\";i:0;}s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"L'email\";s:7:\"example\";s:19:\"foo.bar@compagny.fr\";}s:6:\"mobile\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Le
  num\xE9ro de portable\";s:7:\"example\";i:33642642112;}s:6:\"Person\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Les
  informations compl\xE9mentaires\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Le
  titre de la personne. Ex: Mr, Mme, etc.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"Mr\";}s:8:\"lastname\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Le
  nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Bar\";}s:9:\"firstname\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Le
  pr\xE9nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Foo\";}s:8:\"birthday\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Le
  jour de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:4;}s:10:\"birthmonth\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Le
  mois de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:2;}s:9:\"birthyear\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"L'ann\xE9e
  de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:1988;}s:9:\"vehicules\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Le(s)
  moyen(s) de transport disponible(s)\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"walk,bike,moto,car\";}s:6:\"mobile\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Le
  num\xE9ro de t\xE9l\xE9phone\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"+33642642112\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"L'email\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"foo.bar@company.com\";}}}}}s:13:\"personAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Les
  informations sur l'adresse de livraison\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"L'adresse
  compl\xE8te\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"123 Boulevard Haussmann\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Le
  type d'adresse\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"person\";}s:12:\"streetnumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Le
  num\xE9ro de rue\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"123\";}s:6:\"street\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Le
  nom de rue\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"Boulevard Haussmann\";}s:10:\"postalcode\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Le
  code postal\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"75008\";}s:4:\"city\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"La
  ville\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"Paris\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Le
  pays\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"France\";}s:11:\"information\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Le
  compl\xE9ment d'adresse\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:10:\"infoSecret\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Les
  informations confidentielles n\xE9cessaires pour effectuer une livraison\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"code
  de portail: 5675A\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"La
  coordonn\xE9e de latitude\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:48.875087999999998;}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"La
  coordonn\xE9e de longitude\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:2.3180320000000001;}}}s:12:\"storeAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Les
  informations sur l'adresse de retrait\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"L'adresse
  compl\xE8te\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"32 Rue de Dunkerque\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Le
  type d'adresse\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"person\";}s:12:\"streetnumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Le
  num\xE9ro de rue\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"32\";}s:6:\"street\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Le
  nom de rue\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"Rue de Dunkerque\";}s:10:\"postalcode\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Le
  code postal\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"75010\";}s:4:\"city\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"La
  ville\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"Paris\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Le
  pays\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"France\";}s:11:\"information\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Le
  compl\xE9ment d'adresse\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:10:\"infoSecret\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Les
  informations confidentielles n\xE9cessaires pour effectuer le retrait\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"code
  d'entr\xE9e: 1206\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"La
  coordonn\xE9e de latitude\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:48.880916999999997;}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"La
  coordonn\xE9e de longitude\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:2.3509709999999999;}}}s:5:\"owner\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Les
  informations sur le livreur\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Le
  titre de la personne. Ex: Mr, Mme, etc.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"Mr\";}s:8:\"lastname\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Le
  nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Bar\";}s:9:\"firstname\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Le
  pr\xE9nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Foo\";}s:8:\"birthday\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Le
  jour de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:4;}s:10:\"birthmonth\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Le
  mois de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:2;}s:9:\"birthyear\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"L'ann\xE9e
  de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:1988;}s:9:\"vehicules\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Le(s)
  moyen(s) de transport disponible(s)\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"walk,bike,moto,car\";}s:6:\"mobile\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Le
  num\xE9ro de t\xE9l\xE9phone\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"+33642642112\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"L'email\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"foo.bar@company.com\";}}}s:8:\"receiver\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Les
  informations du contact sur le lieu de r\xE9ception\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Le
  titre de la personne. Ex: Mr, Mme, etc.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"Mr\";}s:8:\"lastname\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Le
  nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Bar\";}s:9:\"firstname\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Le
  pr\xE9nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Foo\";}s:8:\"birthday\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Le
  jour de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:4;}s:10:\"birthmonth\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Le
  mois de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:2;}s:9:\"birthyear\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"L'ann\xE9e
  de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:1988;}s:9:\"vehicules\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Le(s)
  moyen(s) de transport disponible(s)\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:6:\"mobile\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Le
  num\xE9ro de t\xE9l\xE9phone\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"+33642642112\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"L'email\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"foo.bar@company.com\";}}}s:7:\"contact\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Les
  informations du contact sur le lieu de retrait\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Le
  titre de la personne. Ex: Mr, Mme, etc.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"Mr\";}s:8:\"lastname\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Le
  nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Bar\";}s:9:\"firstname\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Le
  pr\xE9nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Foo\";}s:8:\"birthday\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Le
  jour de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:4;}s:10:\"birthmonth\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Le
  mois de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:2;}s:9:\"birthyear\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"L'ann\xE9e
  de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:1988;}s:9:\"vehicules\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Le(s)
  moyen(s) de transport disponible(s)\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:6:\"mobile\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Le
  num\xE9ro de t\xE9l\xE9phone\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"+33642642112\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"L'email\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"foo.bar@company.com\";}}}s:9:\"dimension\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Les
  dimensions du colis\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"L30 x l15
  x H10 cm\";}}}s:22:\"DeliveryShortedDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"L'ID
  de la livraison\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:3327;}s:9:\"refNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"La
  r\xE9f\xE9rence du colis\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:4289;}s:12:\"parcelnumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"L'ID
  du colis\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:5678;}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Le
  statut de la livraison\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"La
  description de la livraison\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:40:\"Un
  bouquet de fleurs pour une client VIP\";}s:9:\"shipstart\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"La
  date et l'heure de d\xE9but du cr\xE9neau de livraison souhait\xE9\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2016-07-29T18:51:20.000Z\";}s:7:\"shipend\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"La
  date et l'heure de fin du cr\xE9neau de livraison souhait\xE9\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2016-07-29T20:00:00.000Z\";}s:10:\"pickupcode\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Le
  code n\xE9cessaire pour la r\xE9cup\xE9ration du colis\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"7232B\";}s:12:\"deliverycode\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Le
  code n\xE9cessaire pour la livraison du colis\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"5632A\";}s:8:\"distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"La
  distance calcul\xE9e \xE0 parcourir pour effectuer la livraison\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:5.5999999999999996;}s:5:\"price\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Le
  prix de la livraison\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:11.199999999999999;}s:9:\"vehicules\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Le(s)
  moyen(s) de transport n\xE9cessaire(s) pour effectuer la livraison\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"bike,moto,car,van\";}s:4:\"hash\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Le
  hash de la livraison\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"DDQ3DCdP\";}s:6:\"origin\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"L'origine
  de la demande de livraison\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:3;}s:9:\"PartnerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"L'ID
  de l'enseigne\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:236;}s:6:\"driver\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Les
  informations sur le livreur\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"L'email\";s:7:\"example\";s:19:\"foo.bar@compagny.fr\";}s:6:\"mobile\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Le
  num\xE9ro de portable\";s:7:\"example\";i:33642642112;}s:6:\"Person\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Les
  informations compl\xE9mentaires\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Le
  titre de la personne. Ex: Mr, Mme, etc.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"Mr\";}s:8:\"lastname\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Le
  nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Bar\";}s:9:\"firstname\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Le
  pr\xE9nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Foo\";}s:9:\"vehicules\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Le(s)
  moyen(s) de transport disponible\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"walk,bike,moto,car\";}s:6:\"mobile\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Le
  num\xE9ro de t\xE9l\xE9phone\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"+33642642112\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"L'email\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"foo.bar@company.com\";}}}}}s:13:\"personAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Les
  informations sur l'adresse de livraison\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"L'adresse
  compl\xE8te\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"123 Boulevard Haussmann\";}s:12:\"streetnumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Le
  num\xE9ro de rue\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"123\";}s:6:\"street\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Le
  nom de rue\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"Boulevard Haussmann\";}s:10:\"postalcode\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Le
  code postal\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"75008\";}s:4:\"city\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"La
  ville\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"Paris\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Le
  pays\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"France\";}s:11:\"information\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Le
  compl\xE9ment d'adresse\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:10:\"infoSecret\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Les
  informations confidentielles n\xE9cessaire pour effectuer une livraison\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"code
  de portail: 5675A\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"La
  coordonn\xE9e de latitude\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:48.875087999999998;}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"La
  coordonn\xE9e de longitude\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:2.3180320000000001;}}}s:12:\"storeAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Les
  informations sur l'adresse de retrait\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"L'adresse
  compl\xE8te\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"32 Rue de Dunkerque\";}s:12:\"streetnumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Le
  num\xE9ro de rue\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"32\";}s:6:\"street\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Le
  nom de rue\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"Rue de Dunkerque\";}s:10:\"postalcode\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Le
  code postal\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"75010\";}s:4:\"city\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"La
  ville\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"Paris\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Le
  pays\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"France\";}s:11:\"information\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Le
  compl\xE9ment d'adresse\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:10:\"infoSecret\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Les
  informations confidentielles n\xE9cessaires pour effectuer le retrait\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"code
  d'entr\xE9e: 1206\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"La
  coordonn\xE9e de latitude\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:48.880916999999997;}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"La
  coordonn\xE9e de longitude\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:2.3509709999999999;}}}s:5:\"owner\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Les
  informations sur le livreur\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Le
  titre de la personne. Ex: Mr, Mme, etc.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"Mr\";}s:8:\"lastname\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Le
  nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Bar\";}s:9:\"firstname\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Le
  pr\xE9nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Foo\";}s:9:\"vehicules\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Le(s)
  moyen(s) de transport disponible(s)\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"walk,bike,moto,car\";}s:6:\"mobile\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Le
  num\xE9ro de t\xE9l\xE9phone\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"+33642642112\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"L'email\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"foo.bar@company.com\";}}}s:8:\"receiver\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Les
  informations du contact sur le lieu de r\xE9ception\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Le
  titre de la personne. Ex: Mr, Mme, etc.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"Mr\";}s:8:\"lastname\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Le
  nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Bar\";}s:9:\"firstname\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Le
  pr\xE9nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Foo\";}s:9:\"vehicules\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Le(s)
  moyen(s) de transport disponible(s)\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:6:\"mobile\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Le
  num\xE9ro de t\xE9l\xE9phone\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"+33642642112\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"L'email\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"foo.bar@company.com\";}}}s:7:\"contact\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Les
  informations du contact sur le lieu de retrait\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Le
  titre de la personne. Ex: Mr, Mme, etc.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"Mr\";}s:8:\"lastname\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Le
  nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Bar\";}s:9:\"firstname\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Le
  pr\xE9nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Foo\";}s:9:\"vehicules\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Le(s)
  moyen(s) de transport disponible(s)\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:6:\"mobile\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Le
  num\xE9ro de t\xE9l\xE9phone\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"+33642642112\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"L'email\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"foo.bar@company.com\";}}}}}s:23:\"DeliveryCreationSuccess\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Le
  message de succ\xE8s\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"Delivery
  created.\";}s:10:\"DeliveryId\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"L'ID
  de la livraison cr\xE9\xE9e\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:42;}}}s:12:\"DeliveryTest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:6:\"Pickup\";i:1;s:11:\"Destination\";i:2;s:9:\"dimension\";i:3;s:6:\"weight\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"Pickup\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"L'adresse
  de retrait du colis\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Pickup\";}}}s:11:\"Destination\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"L'adresse
  de livraison du colis\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Destination\";}}}s:9:\"dimension\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Les
  dimensions du colis \xE0 livrer\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";}}}s:6:\"weight\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Le
  poids (kilos) du colis \xE0 livrer\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:0.41999999999999998;}}}s:19:\"DeliveryTestSuccess\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"valid\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Indique
  si la livraison est \xE9ligible ou non\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:16:\"postalCodePickup\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Indique
  si l'adresse de retrait du colis est dans un p\xE9rim\xE8tre valide ou non\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:17:\"postalCodeDeposit\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Indique
  si l'adresse de d\xE9p\xF4t du colis est dans un p\xE9rim\xE8tre valide ou non\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:8:\"distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Champs
  vide\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Indique
  si les dimensions du colis sont acceptables ou non\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:6:\"weight\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Indique
  si le poids du colis est acceptable ou non\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:13:\"valiDdistance\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Indique
  si la distance de parcours est acceptable ou non\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}}}s:20:\"DeliveryPriceSuccess\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"La
  distance du parcours pour effectuer la livraison\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:1.2;}s:5:\"price\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Le
  prix en euros\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"4.5\";}s:4:\"coef\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Les
  coefficients de repartition en %\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"y2y\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"La
  part d\xE9di\xE9e \xE0 You2You\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:11;}s:8:\"distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"La
  part d\xE9di\xE9e au livreur\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:89;}}}}}s:23:\"DeliveryPriceValidation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Le
  type d'erreur\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"Invalid parameters\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"La
  description de l'erreur\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"Some
  fields are invalid.\";}s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"La
  liste des erreurs\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"field\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Le
  champs li\xE9 \xE0 cette erreur\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Destination\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Le
  message d'erreur\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"'Destination'
  is required\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Le type
  d'erreur\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"any.required\";}}}}}}s:26:\"DeliveryCreationValidation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Le
  type d'erreur\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"Invalid parameters\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"La
  description de l'erreur\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"Some
  fields are invalid.\";}s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"La
  liste des erreurs\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"field\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Le
  champs li\xE9 \xE0 cette erreur\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"shipStart\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Le
  message d'erreur\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"'shipStart'
  is required\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Le type
  d'erreur\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"any.required\";}}}}}}s:13:\"StatusSuccess\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Le
  statut de la livraison\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"La
  valeur num\xE9rique\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:7;}}}s:4:\"text\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"La
  valeur textuelle\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Annul\xE9e\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Champs
  objet vide\";s:4:\"type\";s:6:\"object\";}}}s:15:\"DeliveryShipped\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Le
  message d'erreur\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:63:\"Ce colis est
  deja en cours de livraison par un livreur You2You.\";}}}s:6:\"Pickup\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"postalcode\";i:1;s:3:\"lat\";i:2;s:4:\"long\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"postalcode\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Le
  code postal\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"75002\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"La
  coordonn\xE9e de latitude\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:48.868330999999998;}s:4:\"long\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"La
  coordonn\xE9e de longitude\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:2.3347120000000001;}}}s:11:\"Destination\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"postalcode\";i:1;s:3:\"lat\";i:2;s:4:\"long\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"postalcode\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Le
  code postal\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"75009\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"La
  coordonn\xE9e de latitude\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:48.8748577;}s:4:\"long\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"La
  coordonn\xE9e de longitude\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:2.3408563;}}}s:9:\"Dimension\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:6:\"length\";i:1;s:5:\"width\";i:2;s:6:\"height\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"length\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"La
  longueur en centim\xE8tre\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:10;}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"La
  largeur en centim\xE8tre\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:10;}s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"La
  hauteur en centim\xE8tre\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:20;}}}s:7:\"Contact\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:9:\"firstname\";i:1;s:8:\"lastname\";i:2;s:5:\"email\";i:3;s:6:\"mobile\";i:4;s:7:\"Address\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"firstname\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Le
  pr\xE9nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Foo\";}s:8:\"lastname\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Le
  nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Bar\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Le
  email\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"foo.bar@company.com\";}s:6:\"mobile\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Le
  num\xE9ro de t\xE9l\xE9phone\";s:4:\"type\";s:6:\"string\";s:7:\"example\";i:33642642112;}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Le
  titre de la personne. Ex: Mr, Mme, etc.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"Mr\";}s:8:\"birthday\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Le
  jour de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:4;}s:10:\"birthmonth\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Le
  mois de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:2;}s:9:\"birthyear\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"L'ann\xE9e
  de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:1988;}s:7:\"Address\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"L'adresse
  du contact\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}}}}}s:8:\"Customer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:9:\"firstname\";i:1;s:8:\"lastname\";i:2;s:5:\"email\";i:3;s:6:\"mobile\";i:4;s:7:\"Address\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"firstname\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Le
  pr\xE9nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Foo\";}s:8:\"lastname\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Le
  nom\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"Bar\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Le
  email\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"foo.bar@company.com\";}s:6:\"mobile\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Le
  num\xE9ro de t\xE9l\xE9phone\";s:4:\"type\";s:6:\"string\";s:7:\"example\";i:33642642112;}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Le
  titre de la personne. Ex: Mr, Mme, etc.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"Mr\";}s:8:\"birthday\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Le
  jour de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:4;}s:10:\"birthmonth\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Le
  mois de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:2;}s:9:\"birthyear\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"L'ann\xE9e
  de naissance\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:1988;}s:7:\"Address\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"L'adresse
  du contact\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}}}}}s:7:\"Address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:4:\"city\";i:1;s:7:\"country\";i:2;s:10:\"postalcode\";i:3;s:6:\"street\";i:4;s:12:\"streetnumber\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Intitul\xE9
  de l'adresse\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:4:\"city\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"La
  ville\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"Paris\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Le
  pays\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"France\";}s:10:\"postalcode\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Le
  code postal\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"94270\";}s:6:\"street\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Le
  nom de rue\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Rue pasteur\";}s:12:\"streetnumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"le
  num\xE9ro de rue\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:24;}s:11:\"information\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Le
  compl\xE9ment d'adresse\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}}}}"
...
