---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";}s:11:\"description\";s:361:\"<fullname>Amazon
  API Gateway</fullname> <p>Amazon API Gateway helps developers deliver robust, secure,
  and scalable mobile and web application back ends. Amazon API Gateway allows developers
  to securely connect mobile and web applications to APIs that run on AWS Lambda,
  Amazon EC2, or other publicly addressable web services that are hosted outside of
  AWS.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache 2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:18:\"Amazon
  API Gateway\";s:7:\"version\";s:10:\"2015-07-09\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:104:\"https://api.apis.guru/v2/cache/logo/https_media.amazonwebservices.com_blog_2007_big_pbaws_logo_300px.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:94:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/apigateway-2015-07-09.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:10:\"apigateway\";}"
host: apigateway.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":235:{s:7:\"Account\";O:8:\"stdClass\":3:{s:11:\"description\";s:1973:\"<p>Represents
  an AWS account that is associated with Amazon API Gateway.</p> <div class=\"remarks\">
  <p>To view the account info, call <code>GET</code> on this resource.</p> <h4>Error
  Codes</h4> <p>The following exception may be thrown when the request fails.</p>
  <ul> <li>UnauthorizedException</li> <li>NotFoundException</li> <li>TooManyRequestsException</li>
  </ul> <p>For detailed error code information, including the corresponding HTTP Status
  Codes, see <a href=\"http://docs.aws.amazon.com/apigateway/api-reference/handling-errors/#api-error-codes\">API
  Gateway Error Codes</a></p> <h4>Example: Get the information about an account.</h4>
  <h5>Request</h5> <pre><code>GET /account HTTP/1.1 Content-Type: application/json
  Host: apigateway.us-east-1.amazonaws.com X-Amz-Date: 20160531T184618Z Authorization:
  AWS4-HMAC-SHA256 Credential={access_key_ID}/us-east-1/apigateway/aws4_request, SignedHeaders=content-type;host;x-amz-date,
  Signature={sig4_hash} </code></pre> <h5>Response</h5> <p>The successful response
  returns a <code>200 OK</code> status code and a payload similar to the following:</p>
  <pre><code>{ \"_links\": { \"curies\": { \"href\": \"http://docs.aws.amazon.com/apigateway/latest/developerguide/account-apigateway-{rel}.html\",
  \"name\": \"account\", \"templated\": true }, \"self\": { \"href\": \"/account\"
  }, \"account:update\": { \"href\": \"/account\" } }, \"cloudwatchRoleArn\": \"arn:aws:iam::123456789012:role/apigAwsProxyRole\",
  \"throttleSettings\": { \"rateLimit\": 500, \"burstLimit\": 1000 } } </code></pre>
  <p>In addition to making the REST API call directly, you can use the AWS CLI and
  an AWS SDK to access this resource.</p> </div> <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-limits.html\">API
  Gateway Limits</a> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/welcome.html\">Developer
  Guide</a>, <a href=\"http://docs.aws.amazon.com/cli/latest/reference/apigateway/get-account.html\">AWS
  CLI</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"apiKeyVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"The
  version of the API keys used for the account.\";}s:17:\"cloudwatchRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:69:\"The
  ARN of an Amazon CloudWatch role for the current <a>Account</a>. \";}s:8:\"features\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ListOfString\";s:11:\"description\";s:145:\"A
  list of features supported for the account. When usage plans are enabled, the features
  list will include an entry of <code>\"UsagePlans\"</code>.\";}s:16:\"throttleSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ThrottleSettings\";s:11:\"description\";s:75:\"Specifies
  the API request limits configured for the current <a>Account</a>.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"ApiKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:401:\"<p>A
  resource that can be distributed to callers for executing <a>Method</a> resources
  that require an API key. API keys can be mapped to any <a>Stage</a> on any <a>RestApi</a>,
  which indicates that the callers with the API key can make requests to that stage.</p>
  <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-api-keys.html\">Use
  API Keys</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"createdDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:43:\"The
  timestamp when the API Key was created.\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:88:\"An
  AWS Marketplace customer identifier , when integrating with the AWS SaaS Marketplace.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:31:\"The
  description of the API Key.\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:53:\"Specifies
  whether the API Key can be used by callers.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"The
  identifier of the API Key.\";}s:15:\"lastUpdatedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:48:\"The
  timestamp when the API Key was last updated.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:24:\"The
  name of the API Key.\";}s:9:\"stageKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ListOfString\";s:11:\"description\";s:85:\"A
  list of <a>Stage</a> resources that are associated with the <a>ApiKey</a> resource.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:25:\"The
  value of the API Key.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ApiKeyIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  identifier of an <a>ApiKey</a> used in a <a>UsagePlan</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"ids\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ListOfString\";s:11:\"description\";s:44:\"A
  list of all the <a>ApiKey</a> identifiers.\";}s:8:\"warnings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ListOfString\";s:11:\"description\";s:27:\"A
  list of warning messages.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"ApiKeys\";O:8:\"stdClass\":3:{s:11:\"description\";s:225:\"<p>Represents
  a collection of API keys as represented by an <a>ApiKeys</a> resource.</p> <div
  class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-api-keys.html\">Use
  API Keys</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ListOfApiKey\";s:11:\"description\";s:50:\"The
  current page of elements from this collection.\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:8:\"warnings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ListOfString\";s:11:\"description\";s:123:\"A
  list of warning messages logged during the import of API keys when the <code>failOnWarnings</code>
  option is set to true.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ApiKeysFormat\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:3:\"csv\";}s:4:\"type\";s:6:\"string\";}s:8:\"ApiStage\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"API
  stage name of the associated API stage in a usage plan.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"apiId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:51:\"API
  Id of the associated API stage in a usage plan.\";}s:5:\"stage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"API
  stage name of the associated API stage in a usage plan.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Authorizer\";O:8:\"stdClass\":3:{s:11:\"description\";s:308:\"<p>Represents
  an authorization layer for methods. If enabled on a method, API Gateway will activate
  the authorizer when a client calls the method.</p> <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/use-custom-authorizer.html\">Enable
  custom authorization</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"authType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:95:\"Optional
  customer-defined field, used in Swagger imports and exports without functional impact.\";}s:21:\"authorizerCredentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:270:\"Specifies
  the required credentials as an IAM role for Amazon API Gateway to invoke the authorizer.
  To specify an IAM role for Amazon API Gateway to assume, use the role's Amazon Resource
  Name (ARN). To use resource-based permissions on the Lambda function, specify null.\";}s:28:\"authorizerResultTtlInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:259:\"The
  TTL in seconds of cached authorizer results. If it equals 0, authorization caching
  is disabled. If it is greater than 0, API Gateway will cache authorizer responses.
  If this field is not set, the default value is 300. The maximum value is 3600, or
  1 hour.\";}s:13:\"authorizerUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:790:\"Specifies
  the authorizer's Uniform Resource Identifier (URI). For <code>TOKEN</code> or <code>REQUEST</code>
  authorizers, this must be a well-formed Lambda function URI, for example, <code>arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations</code>.
  In general, the URI has this form <code>arn:aws:apigateway:{region}:lambda:path/{service_api}</code>,
  where <code>{region}</code> is the same as the region hosting the Lambda function,
  <code>path</code> indicates that the remaining substring in the URI should be treated
  as the path to the resource, including the initial <code>/</code>. For Lambda functions,
  this is usually of the form <code>/2015-03-31/functions/[FunctionARN]/invocations</code>.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:43:\"The
  identifier for the authorizer resource.\";}s:14:\"identitySource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1490:\"The
  identity source for which authorization is requested. <ul><li>For a <code>TOKEN</code>
  authorizer, this is required and specifies the request header mapping expression
  for the custom header holding the authorization token submitted by the client. For
  example, if the token header name is <code>Auth</code>, the header mapping expression
  is <code>method.request.header.Auth</code>.</li><li>For the <code>REQUEST</code>
  authorizer, this is required when authorization caching is enabled. The value is
  a comma-separated string of one or more mapping expressions of the specified request
  parameters. For example, if an <code>Auth</code> header, a <code>Name</code> query
  string parameter are defined as identity sources, this value is <code>method.request.header.Auth,
  method.request.querystring.Name</code>. These parameters will be used to derive
  the authorization caching key and to perform runtime validation of the <code>REQUEST</code>
  authorizer by verifying all of the identity-related request parameters are present,
  not null and non-empty. Only when this is true does the authorizer invoke the authorizer
  Lambda function, otherwise, it returns a 401 Unauthorized response without calling
  the Lambda function. The valid value is a string of comma-separated mapping expressions
  of the specified request parameters. When the authorization caching is not enabled,
  this property is optional.</li><li>For a <code>COGNITO_USER_POOLS</code> authorizer,
  this property is not used.</li></ul>\";}s:28:\"identityValidationExpression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:473:\"A
  validation expression for the incoming identity token. For <code>TOKEN</code> authorizers,
  this value is a regular expression. Amazon API Gateway will match the incoming token
  from the client against the specified regular expression. It will invoke the authorizer's
  Lambda function there is a match. Otherwise, it will return a 401 Unauthorized response
  without calling the Lambda function. The validation expression does not apply to
  the <code>REQUEST</code> authorizer.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"[Required]
  The name of the authorizer.\";}s:12:\"providerARNs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ListOfARNs\";s:11:\"description\";s:290:\"A
  list of the Amazon Cognito user pool ARNs for the <code>COGNITO_USER_POOLS</code>
  authorizer. Each element is of this format: <code>arn:aws:cognito-idp:{region}:{account_id}:userpool/{user_pool_id}</code>.
  For a <code>TOKEN</code> or <code>REQUEST</code> authorizer, this is not defined.
  \";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AuthorizerType\";s:11:\"description\";s:307:\"[Required]
  The authorizer type. Valid values are <code>TOKEN</code> for a Lambda function using
  a single authorization token submitted in a custom header, <code>REQUEST</code>
  for a Lambda function using incoming request parameters, and <code>COGNITO_USER_POOLS</code>
  for using an Amazon Cognito user pool.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AuthorizerType\";O:8:\"stdClass\":3:{s:11:\"description\";s:307:\"[Required]
  The authorizer type. Valid values are <code>TOKEN</code> for a Lambda function using
  a single authorization token submitted in a custom header, <code>REQUEST</code>
  for a Lambda function using incoming request parameters, and <code>COGNITO_USER_POOLS</code>
  for using an Amazon Cognito user pool.\";s:4:\"enum\";a:3:{i:0;s:5:\"TOKEN\";i:1;s:7:\"REQUEST\";i:2;s:18:\"COGNITO_USER_POOLS\";}s:4:\"type\";s:6:\"string\";}s:11:\"Authorizers\";O:8:\"stdClass\":3:{s:11:\"description\";s:220:\"<p>Represents
  a collection of <a>Authorizer</a> resources.</p> <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/use-custom-authorizer.html\">Enable
  custom authorization</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ListOfAuthorizer\";s:11:\"description\";s:50:\"The
  current page of elements from this collection.\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BadRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"The
  submitted request is not valid, for example, the input is incomplete or incorrect.
  See the accompanying error message for details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:15:\"BasePathMapping\";O:8:\"stdClass\":3:{s:11:\"description\";s:445:\"<p>Represents
  the base path that callers of the API must provide as part of the URL after the
  domain name.</p> <div class=\"remarks\">A custom domain name plus a <code>BasePathMapping</code>
  specification identifies a deployed <a>RestApi</a> in a given stage of the owner
  <a>Account</a>.</div> <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-custom-domains.html\">Use
  Custom Domain Names</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"basePath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:97:\"The
  base path name that callers of the API must provide as part of the URL after the
  domain name.\";}s:9:\"restApiId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:55:\"The
  string identifier of the associated <a>RestApi</a>.\";}s:5:\"stage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:33:\"The
  name of the associated stage.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"BasePathMappings\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"<p>Represents
  a collection of <a>BasePathMapping</a> resources.</p> <div class=\"seeAlso\"> <a
  href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-custom-domains.html\">Use
  Custom Domain Names</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ListOfBasePathMapping\";s:11:\"description\";s:50:\"The
  current page of elements from this collection.\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Blob\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"CacheClusterSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Returns
  the size of the <b>CacheCluster</b>.\";s:4:\"enum\";a:8:{i:0;s:3:\"0.5\";i:1;s:3:\"1.6\";i:2;s:3:\"6.1\";i:3;s:4:\"13.5\";i:4;s:4:\"28.4\";i:5;s:4:\"58.2\";i:6;s:3:\"118\";i:7;s:3:\"237\";}s:4:\"type\";s:6:\"string\";}s:18:\"CacheClusterStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Returns
  the status of the <b>CacheCluster</b>.\";s:4:\"enum\";a:5:{i:0;s:18:\"CREATE_IN_PROGRESS\";i:1;s:9:\"AVAILABLE\";i:2;s:18:\"DELETE_IN_PROGRESS\";i:3;s:13:\"NOT_AVAILABLE\";i:4;s:17:\"FLUSH_IN_PROGRESS\";}s:4:\"type\";s:6:\"string\";}s:17:\"ClientCertificate\";O:8:\"stdClass\":3:{s:11:\"description\";s:552:\"<p>Represents
  a client certificate used to configure client-side SSL authentication while sending
  requests to the integration endpoint.</p> <div class=\"remarks\">Client certificates
  are used to authenticate an API by the backend server. To authenticate an API client
  (or user), use IAM roles and policies, a custom <a>Authorizer</a> or an Amazon Cognito
  user pool.</div> <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/getting-started-client-side-ssl-authentication.html\">Use
  Client-Side Certificate</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"clientCertificateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:41:\"The
  identifier of the client certificate.\";}s:11:\"createdDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:54:\"The
  timestamp when the client certificate was created.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"The
  description of the client certificate.\";}s:14:\"expirationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:54:\"The
  timestamp when the client certificate will expire.\";}s:21:\"pemEncodedCertificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:141:\"The
  PEM-encoded public key of the client certificate, which can be used to configure
  certificate authentication in the integration endpoint .\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ClientCertificates\";O:8:\"stdClass\":3:{s:11:\"description\";s:252:\"<p>Represents
  a collection of <a>ClientCertificate</a> resources.</p> <div class=\"seeAlso\">
  <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/getting-started-client-side-ssl-authentication.html\">Use
  Client-Side Certificate</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ListOfClientCertificate\";s:11:\"description\";s:50:\"The
  current page of elements from this collection.\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ConflictException\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"The
  request configuration has conflicts. For details, see the accompanying error message.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ContentHandlingStrategy\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:17:\"CONVERT_TO_BINARY\";i:1;s:15:\"CONVERT_TO_TEXT\";}s:4:\"type\";s:6:\"string\";}s:19:\"CreateApiKeyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Request
  to create an <a>ApiKey</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:88:\"An
  AWS Marketplace customer identifier , when integrating with the AWS SaaS Marketplace.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:37:\"The
  description of the <a>ApiKey</a>.\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:59:\"Specifies
  whether the <a>ApiKey</a> can be used by callers.\";}s:18:\"generateDistinctId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:128:\"Specifies
  whether (<code>true</code>) or not (<code>false</code>) the key identifier is distinct
  from the created API key value.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"The
  name of the <a>ApiKey</a>.\";}s:9:\"stageKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ListOfStageKeys\";s:11:\"description\";s:74:\"DEPRECATED
  FOR USAGE PLANS - Specifies stages associated with the API key.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:33:\"Specifies
  a value of the API key.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateAuthorizerRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"Request
  to add a new <a>Authorizer</a> to an existing <a>RestApi</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"authType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:95:\"Optional
  customer-defined field, used in Swagger imports and exports without functional impact.\";}s:21:\"authorizerCredentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:270:\"Specifies
  the required credentials as an IAM role for Amazon API Gateway to invoke the authorizer.
  To specify an IAM role for Amazon API Gateway to assume, use the role's Amazon Resource
  Name (ARN). To use resource-based permissions on the Lambda function, specify null.\";}s:28:\"authorizerResultTtlInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:259:\"The
  TTL in seconds of cached authorizer results. If it equals 0, authorization caching
  is disabled. If it is greater than 0, API Gateway will cache authorizer responses.
  If this field is not set, the default value is 300. The maximum value is 3600, or
  1 hour.\";}s:13:\"authorizerUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:790:\"Specifies
  the authorizer's Uniform Resource Identifier (URI). For <code>TOKEN</code> or <code>REQUEST</code>
  authorizers, this must be a well-formed Lambda function URI, for example, <code>arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations</code>.
  In general, the URI has this form <code>arn:aws:apigateway:{region}:lambda:path/{service_api}</code>,
  where <code>{region}</code> is the same as the region hosting the Lambda function,
  <code>path</code> indicates that the remaining substring in the URI should be treated
  as the path to the resource, including the initial <code>/</code>. For Lambda functions,
  this is usually of the form <code>/2015-03-31/functions/[FunctionARN]/invocations</code>.\";}s:14:\"identitySource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1490:\"The
  identity source for which authorization is requested. <ul><li>For a <code>TOKEN</code>
  authorizer, this is required and specifies the request header mapping expression
  for the custom header holding the authorization token submitted by the client. For
  example, if the token header name is <code>Auth</code>, the header mapping expression
  is <code>method.request.header.Auth</code>.</li><li>For the <code>REQUEST</code>
  authorizer, this is required when authorization caching is enabled. The value is
  a comma-separated string of one or more mapping expressions of the specified request
  parameters. For example, if an <code>Auth</code> header, a <code>Name</code> query
  string parameter are defined as identity sources, this value is <code>method.request.header.Auth,
  method.request.querystring.Name</code>. These parameters will be used to derive
  the authorization caching key and to perform runtime validation of the <code>REQUEST</code>
  authorizer by verifying all of the identity-related request parameters are present,
  not null and non-empty. Only when this is true does the authorizer invoke the authorizer
  Lambda function, otherwise, it returns a 401 Unauthorized response without calling
  the Lambda function. The valid value is a string of comma-separated mapping expressions
  of the specified request parameters. When the authorization caching is not enabled,
  this property is optional.</li><li>For a <code>COGNITO_USER_POOLS</code> authorizer,
  this property is not used.</li></ul>\";}s:28:\"identityValidationExpression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:473:\"A
  validation expression for the incoming identity token. For <code>TOKEN</code> authorizers,
  this value is a regular expression. Amazon API Gateway will match the incoming token
  from the client against the specified regular expression. It will invoke the authorizer's
  Lambda function there is a match. Otherwise, it will return a 401 Unauthorized response
  without calling the Lambda function. The validation expression does not apply to
  the <code>REQUEST</code> authorizer.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"[Required]
  The name of the authorizer.\";}s:12:\"providerARNs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ListOfARNs\";s:11:\"description\";s:290:\"A
  list of the Amazon Cognito user pool ARNs for the <code>COGNITO_USER_POOLS</code>
  authorizer. Each element is of this format: <code>arn:aws:cognito-idp:{region}:{account_id}:userpool/{user_pool_id}</code>.
  For a <code>TOKEN</code> or <code>REQUEST</code> authorizer, this is not defined.
  \";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AuthorizerType\";s:11:\"description\";s:307:\"[Required]
  The authorizer type. Valid values are <code>TOKEN</code> for a Lambda function using
  a single authorization token submitted in a custom header, <code>REQUEST</code>
  for a Lambda function using incoming request parameters, and <code>COGNITO_USER_POOLS</code>
  for using an Amazon Cognito user pool.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateBasePathMappingRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Requests
  Amazon API Gateway to create a new <a>BasePathMapping</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"basePath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:263:\"The
  base path name that callers of the API must provide as part of the URL after the
  domain name. This value must be unique for all of the mappings across a single API.
  Leave this blank if you do not want callers to specify a base path name after the
  domain name.\";}s:9:\"restApiId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:55:\"The
  string identifier of the associated <a>RestApi</a>.\";}s:5:\"stage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:173:\"The
  name of the API's stage that you want to use for this mapping. Leave this blank
  if you do not want callers to explicitly specify the stage name after any base path
  name.\";}}s:8:\"required\";a:1:{i:0;s:9:\"restApiId\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreateDeploymentRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Requests
  Amazon API Gateway to create a <a>Deployment</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:19:\"cacheClusterEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableBoolean\";s:11:\"description\";s:77:\"Enables
  a cache cluster for the <a>Stage</a> resource specified in the input.\";}s:16:\"cacheClusterSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CacheClusterSize\";s:11:\"description\";s:117:\"Specifies
  the cache cluster size for the <a>Stage</a> resource specified in the input, if
  a cache cluster is enabled.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:61:\"The
  description for the <a>Deployment</a> resource to create.\";}s:16:\"stageDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:90:\"The
  description of the <a>Stage</a> resource for the <a>Deployment</a> resource to create.\";}s:9:\"stageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:83:\"The
  name of the <a>Stage</a> resource for the <a>Deployment</a> resource to create.\";}s:9:\"variables\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MapOfStringToString\";s:11:\"description\";s:244:\"A
  map that defines the stage variables for the <a>Stage</a> resource that is associated
  with the new deployment. Variable names can have alphanumeric and underscore characters,
  and the values must match <code>[A-Za-z0-9-._~:/?#&amp;=,]+</code>.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CreateDocumentationPartRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Creates
  a new documentation part of a given API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/DocumentationPartLocation\";s:11:\"description\";s:91:\"[Required]
  The location of the targeted API entity of the to-be-created documentation part.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:197:\"[Required]
  The new documentation content map of the targeted API entity. Enclosed key-value
  pairs are API-specific, but only Swagger-compliant key-value pairs can be exported
  and, hence, published.\";}}s:8:\"required\";a:2:{i:0;s:8:\"location\";i:1;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}s:33:\"CreateDocumentationVersionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Creates
  a new documentation version of a given API.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:51:\"A
  description about the new documentation snapshot.\";}s:20:\"documentationVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"[Required]
  The version identifier of the new snapshot.\";}s:9:\"stageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:68:\"The
  stage name to be associated with the new documentation snapshot.\";}}s:8:\"required\";a:1:{i:0;s:20:\"documentationVersion\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreateDomainNameRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"A
  request to create a new domain name.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"certificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:98:\"The
  reference to an AWS-managed certificate. AWS Certificate Manager is the only supported
  source.\";}s:15:\"certificateBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:87:\"[Deprecated]
  The body of the server certificate provided by your certificate authority.\";}s:16:\"certificateChain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:420:\"[Deprecated]
  The intermediate certificates and optionally the root certificate, one after the
  other without any blank lines. If you include the root certificate, your certificate
  chain must start with intermediate certificates and end with the root certificate.
  Use the intermediate certificates that were provided by your certificate authority.
  Do not include any intermediaries that are not in the chain of trust path.\";}s:15:\"certificateName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"The
  user-friendly name of the certificate.\";}s:21:\"certificatePrivateKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:44:\"[Deprecated]
  Your certificate's private key.\";}s:10:\"domainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"(Required)
  The name of the <a>DomainName</a> resource.\";}}s:8:\"required\";a:1:{i:0;s:10:\"domainName\";}s:4:\"type\";s:6:\"object\";}s:18:\"CreateModelRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"Request
  to add a new <a>Model</a> to an existing <a>RestApi</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:31:\"The
  content-type for the model.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:29:\"The
  description of the model.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:44:\"The
  name of the model. Must be alphanumeric.\";}s:6:\"schema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:182:\"The
  schema for the model. For <code>application/json</code> models, this should be <a
  href=\"http://json-schema.org/documentation.html\" target=\"_blank\">JSON-schema
  draft v4</a> model.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:11:\"contentType\";}s:4:\"type\";s:6:\"object\";}s:29:\"CreateRequestValidatorRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Creates
  a <a>RequestValidator</a> of a given <a>RestApi</a>.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"The
  name of the to-be-created <a>RequestValidator</a>.\";}s:19:\"validateRequestBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:164:\"A
  Boolean flag to indicate whether to validate request body according to the configured
  model schema for the method (<code>true</code>) or not (<code>false</code>).\";}s:25:\"validateRequestParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:112:\"A
  Boolean flag to indicate whether to validate request parameters, <code>true</code>,
  or not <code>false</code>.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateResourceRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Requests
  Amazon API Gateway to create a <a>Resource</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"pathPart\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:40:\"The
  last path segment for this resource.\";}}s:8:\"required\";a:1:{i:0;s:8:\"pathPart\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateRestApiRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"The
  POST Request to add a new <a>RestApi</a> resource to your collection.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"binaryMediaTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ListOfString\";s:11:\"description\";s:137:\"The
  list of binary media types supported by the <a>RestApi</a>. By default, the <a>RestApi</a>
  supports only UTF-8-encoded text payloads.\";}s:9:\"cloneFrom\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:57:\"The
  ID of the <a>RestApi</a> that you want to clone from.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"The
  description of the <a>RestApi</a>.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:31:\"The
  name of the <a>RestApi</a>.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:33:\"A
  version identifier for the API.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:18:\"CreateStageRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Requests
  Amazon API Gateway to create a <a>Stage</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"cacheClusterEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:50:\"Whether
  cache clustering is enabled for the stage.\";}s:16:\"cacheClusterSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CacheClusterSize\";s:11:\"description\";s:31:\"The
  stage's cache cluster size.\";}s:12:\"deploymentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:79:\"The
  identifier of the <a>Deployment</a> resource for the <a>Stage</a> resource.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:45:\"The
  description of the <a>Stage</a> resource.\";}s:20:\"documentationVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  version of the associated API documentation.\";}s:9:\"stageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:39:\"The
  name for the <a>Stage</a> resource.\";}s:9:\"variables\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MapOfStringToString\";s:11:\"description\";s:205:\"A
  map that defines the stage variables for the new <a>Stage</a> resource. Variable
  names can have alphanumeric and underscore characters, and the values must match
  <code>[A-Za-z0-9-._~:/?#&amp;=,]+</code>.\";}}s:8:\"required\";a:2:{i:0;s:9:\"stageName\";i:1;s:12:\"deploymentId\";}s:4:\"type\";s:6:\"object\";}s:25:\"CreateUsagePlanKeyRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:91:\"The
  POST request to create a usage plan key for adding an existing API key to a usage
  plan.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"keyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:69:\"The
  identifier of a <a>UsagePlanKey</a> resource for a plan customer.\";}s:7:\"keyType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:63:\"The
  type of a <a>UsagePlanKey</a> resource for a plan customer.\";}}s:8:\"required\";a:2:{i:0;s:5:\"keyId\";i:1;s:7:\"keyType\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateUsagePlanRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:165:\"The
  POST request to create a usage plan with the name, description, throttle limits
  and quota limits, as well as the associated API stages, specified in the payload.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"apiStages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOfApiStage\";s:11:\"description\";s:44:\"The
  associated API stages of the usage plan.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"The
  description of the usage plan.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"The
  name of the usage plan.\";}s:5:\"quota\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/QuotaSettings\";s:11:\"description\";s:28:\"The
  quota of the usage plan.\";}s:8:\"throttle\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ThrottleSettings\";s:11:\"description\";s:40:\"The
  throttling limits of the usage plan.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteApiKeyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  request to delete the <a>ApiKey</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteAuthorizerRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Request
  to delete an existing <a>Authorizer</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteBasePathMappingRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  request to delete the <a>BasePathMapping</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"DeleteClientCertificateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  request to delete the <a>ClientCertificate</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteDeploymentRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Requests
  Amazon API Gateway to delete a <a>Deployment</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"DeleteDocumentationPartRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Deletes
  an existing documentation part of an API.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"DeleteDocumentationVersionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Deletes
  an existing documentation version of an API.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteDomainNameRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"A
  request to delete the <a>DomainName</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteGatewayResponseRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"Clears
  any customization of a <a>GatewayResponse</a> of a specified response type on the
  given <a>RestApi</a> and resets it with the default settings.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteIntegrationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Represents
  a delete integration request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteIntegrationResponseRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Represents
  a delete integration response request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteMethodRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Request
  to delete an existing <a>Method</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteMethodResponseRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"A
  request to delete an existing <a>MethodResponse</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteModelRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Request
  to delete an existing model in an existing <a>RestApi</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteRequestValidatorRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Deletes
  a specified <a>RequestValidator</a> of a given <a>RestApi</a>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteResourceRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Request
  to delete a <a>Resource</a>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteRestApiRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Request
  to delete the specified API from your collection.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteStageRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Requests
  Amazon API Gateway to delete a <a>Stage</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteUsagePlanKeyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  DELETE request to delete a usage plan key and remove the underlying API key from
  the associated usage plan.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteUsagePlanRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  DELETE request to delete a usage plan of a given plan Id.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"Deployment\";O:8:\"stdClass\":3:{s:11:\"description\";s:779:\"<p>An
  immutable representation of a <a>RestApi</a> resource that can be called by users
  using <a>Stages</a>. A deployment must be associated with a <a>Stage</a> for it
  to be callable over the Internet.</p> <div class=\"remarks\">To create a deployment,
  call <code>POST</code> on the <a>Deployments</a> resource of a <a>RestApi</a>. To
  view, update, or delete a deployment, call <code>GET</code>, <code>PATCH</code>,
  or <code>DELETE</code> on the specified deployment resource (<code>/restapis/{restapi_id}/deployments/{deployment_id}</code>).</div>
  <div class=\"seeAlso\"><a>RestApi</a>, <a>Deployments</a>, <a>Stage</a>, <a href=\"http://docs.aws.amazon.com/cli/latest/reference/apigateway/get-deployment.html\">AWS
  CLI</a>, <a href=\"https://aws.amazon.com/tools/\">AWS SDKs</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"apiSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/PathToMapOfMethodSnapshot\";s:11:\"description\";s:94:\"A
  summary of the <a>RestApi</a> at the date and time that the deployment resource
  was created.\";}s:11:\"createdDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:59:\"The
  date and time that the deployment resource was created.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:44:\"The
  description for the deployment resource.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:43:\"The
  identifier for the deployment resource.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Deployments\";O:8:\"stdClass\":3:{s:11:\"description\";s:857:\"<p>Represents
  a collection resource that contains zero or more references to your existing deployments,
  and links that guide you on how to interact with your collection. The collection
  offers a paginated view of the contained deployments.</p> <div class=\"remarks\">To
  create a new deployment of a <a>RestApi</a>, make a <code>POST</code> request against
  this resource. To view, update, or delete an existing deployment, make a <code>GET</code>,
  <code>PATCH</code>, or <code>DELETE</code> request, respectively, on a specified
  <a>Deployment</a> resource.</div> <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-deploy-api.html\">Deploying
  an API</a>, <a href=\"http://docs.aws.amazon.com/cli/latest/reference/apigateway/get-deployment.html\">AWS
  CLI</a>, <a href=\"https://aws.amazon.com/tools/\">AWS SDKs</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ListOfDeployment\";s:11:\"description\";s:50:\"The
  current page of elements from this collection.\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DocumentationPart\";O:8:\"stdClass\":3:{s:11:\"description\";s:1180:\"<p>A
  documentation part for a targeted API entity.</p> <div class=\"remarks\"> <p>A documentation
  part consists of a content map (<code>properties</code>) and a target (<code>location</code>).
  The target specifies an API entity to which the documentation content applies. The
  supported API entity types are <code>API</code>, <code>AUTHORIZER</code>, <code>MODEL</code>,
  <code>RESOURCE</code>, <code>METHOD</code>, <code>PATH_PARAMETER</code>, <code>QUERY_PARAMETER</code>,
  <code>REQUEST_HEADER</code>, <code>REQUEST_BODY</code>, <code>RESPONSE</code>, <code>RESPONSE_HEADER</code>,
  and <code>RESPONSE_BODY</code>. Valid <code>location</code> fields depend on the
  API entity type. All valid fields are not required.</p> <p>The content map is a
  JSON string of API-specific key-value pairs. Although an API can use any shape for
  the content map, only the Swagger-compliant documentation fields will be injected
  into the associated API entity definition in the exported Swagger definition file.</p></div>
  <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-documenting-api.html\">Documenting
  an API</a>, <a>DocumentationParts</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:124:\"The
  <a>DocumentationPart</a> identifier, generated by Amazon API Gateway when the <code>DocumentationPart</code>
  is created.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/DocumentationPartLocation\";s:11:\"description\";s:339:\"The
  location of the API entity to which the documentation applies. Valid fields depend
  on the targeted API entity type. All the valid location fields are not required.
  If not explicitly specified, a valid location field is treated as a wildcard and
  associated documentation content may be inherited by matching entities, unless overridden.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:482:\"A
  content map of API-specific key-value pairs describing the targeted API entity.
  The map must be encoded as a JSON string, e.g., <code>\"{ \\\"description\\\": \\\"The
  API does ...\\\" }\"</code>. Only Swagger-compliant documentation-related fields
  from the <literal>properties</literal> map are exported and, hence, published as
  part of the API entity definitions, while the original documentation parts are exported
  in a Swagger extension of <code>x-amazon-apigateway-documentation</code>.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DocumentationPartIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:545:\"<p>A
  collection of the imported <a>DocumentationPart</a> identifiers.</p> <div class=\"remarks\">This
  is used to return the result when documentation parts in an external (e.g., Swagger)
  file are imported into Amazon API Gateway</div> <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-documenting-api.html\">Documenting
  an API</a>, <a href=\"http://docs.aws.amazon.com/apigateway/api-reference/link-relation/documentationpart-import/\">documentationpart:import</a>,
  <a>DocumentationPart</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"ids\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ListOfString\";s:11:\"description\";s:54:\"A
  list of the returned documentation part identifiers.\";}s:8:\"warnings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ListOfString\";s:11:\"description\";s:73:\"A
  list of warning messages reported during import of documentation parts.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DocumentationPartLocation\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"Specifies
  the target API entity to which the documentation applies.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"method\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:605:\"The
  HTTP verb of a method. It is a valid field for the API entity types of <code>METHOD</code>,
  <code>PATH_PARAMETER</code>, <code>QUERY_PARAMETER</code>, <code>REQUEST_HEADER</code>,
  <code>REQUEST_BODY</code>, <code>RESPONSE</code>, <code>RESPONSE_HEADER</code>,
  and <code>RESPONSE_BODY</code>. The default value is <code>*</code> for any method.
  When an applicable child entity inherits the content of an entity of the same type
  with more general specifications of the other <code>location</code> attributes,
  the child entity's <code>method</code> attribute must match that of the parent entity
  exactly.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:340:\"The
  name of the targeted API entity. It is a valid and required field for the API entity
  types of <code>AUTHORIZER</code>, <code>MODEL</code>, <code>PATH_PARAMETER</code>,
  <code>QUERY_PARAMETER</code>, <code>REQUEST_HEADER</code>, <code>REQUEST_BODY</code>
  and <code>RESPONSE_HEADER</code>. It is an invalid field for any other entity type.\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:643:\"The
  URL path of the target. It is a valid field for the API entity types of <code>RESOURCE</code>,
  <code>METHOD</code>, <code>PATH_PARAMETER</code>, <code>QUERY_PARAMETER</code>,
  <code>REQUEST_HEADER</code>, <code>REQUEST_BODY</code>, <code>RESPONSE</code>, <code>RESPONSE_HEADER</code>,
  and <code>RESPONSE_BODY</code>. The default value is <code>/</code> for the root
  resource. When an applicable child entity inherits the content of another entity
  of the same type with more general specifications of the other <code>location</code>
  attributes, the child entity's <code>path</code> attribute must match that of the
  parent entity as a prefix.\";}s:10:\"statusCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/DocumentationPartLocationStatusCode\";s:11:\"description\";s:487:\"The
  HTTP status code of a response. It is a valid field for the API entity types of
  <code>RESPONSE</code>, <code>RESPONSE_HEADER</code>, and <code>RESPONSE_BODY</code>.
  The default value is <code>*</code> for any status code. When an applicable child
  entity inherits the content of an entity of the same type with more general specifications
  of the other <code>location</code> attributes, the child entity's <code>statusCode</code>
  attribute must match that of the parent entity exactly.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/DocumentationPartType\";s:11:\"description\";s:628:\"The
  type of API entity to which the documentation content applies. It is a valid and
  required field for API entity types of <code>API</code>, <code>AUTHORIZER</code>,
  <code>MODEL</code>, <code>RESOURCE</code>, <code>METHOD</code>, <code>PATH_PARAMETER</code>,
  <code>QUERY_PARAMETER</code>, <code>REQUEST_HEADER</code>, <code>REQUEST_BODY</code>,
  <code>RESPONSE</code>, <code>RESPONSE_HEADER</code>, and <code>RESPONSE_BODY</code>.
  Content inheritance does not apply to any entity of the <code>API</code>, <code>AUTHORIZER</code>,
  <code>METHOD</code>, <code>MODEL</code>, <code>REQUEST_BODY</code>, or <code>RESOURCE</code>
  type.\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:35:\"DocumentationPartLocationStatusCode\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:20:\"^([1-5]\\d\\d|\\*|\\s*)$\";s:4:\"type\";s:6:\"string\";}s:21:\"DocumentationPartType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:12:{i:0;s:3:\"API\";i:1;s:10:\"AUTHORIZER\";i:2;s:5:\"MODEL\";i:3;s:8:\"RESOURCE\";i:4;s:6:\"METHOD\";i:5;s:14:\"PATH_PARAMETER\";i:6;s:15:\"QUERY_PARAMETER\";i:7;s:14:\"REQUEST_HEADER\";i:8;s:12:\"REQUEST_BODY\";i:9;s:8:\"RESPONSE\";i:10;s:15:\"RESPONSE_HEADER\";i:11;s:13:\"RESPONSE_BODY\";}s:4:\"type\";s:6:\"string\";}s:18:\"DocumentationParts\";O:8:\"stdClass\":3:{s:11:\"description\";s:259:\"<p>The
  collection of documentation parts of an API.</p> <div class=\"remarks\"/> <div class=\"seeAlso\">
  <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-documenting-api.html\">Documenting
  an API</a>, <a>DocumentationPart</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ListOfDocumentationPart\";s:11:\"description\";s:50:\"The
  current page of elements from this collection.\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DocumentationVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:473:\"<p>A
  snapshot of the documentation of an API.</p> <div class=\"remarks\"><p>Publishing
  API documentation involves creating a documentation version associated with an API
  stage and exporting the versioned documentation to an external (e.g., Swagger) file.</p></div>
  <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-documenting-api.html\">Documenting
  an API</a>, <a>DocumentationPart</a>, <a>DocumentationVersions</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"createdDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:56:\"The
  date when the API documentation snapshot is created.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:50:\"The
  description of the API documentation snapshot.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:57:\"The
  version identifier of the API documentation snapshot.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DocumentationVersions\";O:8:\"stdClass\":3:{s:11:\"description\";s:411:\"<p>The
  collection of documentation snapshots of an API. </p> <div class=\"remarks\"><p>Use
  the <a>DocumentationVersions</a> to manage documentation snapshots associated with
  various API stages.</p></div> <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-documenting-api.html\">Documenting
  an API</a>, <a>DocumentationPart</a>, <a>DocumentationVersion</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ListOfDocumentationVersion\";s:11:\"description\";s:50:\"The
  current page of elements from this collection.\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:10:\"DomainName\";O:8:\"stdClass\":3:{s:11:\"description\";s:260:\"<p>Represents
  a domain name that is contained in a simpler, more intuitive URL that can be called.</p>
  <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-custom-domains.html\">Use
  Client-Side Certificate</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"certificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:98:\"The
  reference to an AWS-managed certificate. AWS Certificate Manager is the only supported
  source.\";}s:15:\"certificateName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:28:\"The
  name of the certificate.\";}s:21:\"certificateUploadDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:48:\"The
  timestamp when the certificate was uploaded.\";}s:22:\"distributionDomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:195:\"The
  domain name of the Amazon CloudFront distribution. For more information, see the
  <a href=\"http://aws.amazon.com/documentation/cloudfront/\" target=\"_blank\">Amazon
  CloudFront documentation</a>.\";}s:10:\"domainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:43:\"The
  name of the <a>DomainName</a> resource.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"DomainNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:220:\"<p>Represents
  a collection of <a>DomainName</a> resources.</p> <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-custom-domains.html\">Use
  Client-Side Certificate</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ListOfDomainName\";s:11:\"description\";s:50:\"The
  current page of elements from this collection.\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Double\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:14:\"ExportResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  binary blob response to <a>GetExport</a>, which contains the generated SDK.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Blob\";s:11:\"description\";s:72:\"The
  binary blob response to <a>GetExport</a>, which contains the export.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"FlushStageAuthorizersCacheRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Request
  to flush authorizer cache entries on a specified stage.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"FlushStageCacheRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Requests
  Amazon API Gateway to flush a stage's cache.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"GatewayResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:2819:\"<p>A
  gateway response of a given response type and status code, with optional response
  parameters and mapping templates.</p> <div class=\"remarks\"> For more information
  about valid gateway response types, see <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/supported-gateway-response-types.html\">Gateway
  Response Types Supported by Amazon API Gateway</a> <div class=\"example\"> <h4>Example:
  Get a Gateway Response of a given response type</h4> <h5>Request</h5> <p>This example
  shows how to get a gateway response of the <code>MISSING_AUTHNETICATION_TOKEN</code>
  type.</p> <pre><code>GET /restapis/o81lxisefl/gatewayresponses/MISSING_AUTHENTICATION_TOKEN
  HTTP/1.1 Host: beta-apigateway.us-east-1.amazonaws.com Content-Type: application/json
  X-Amz-Date: 20170503T202516Z Authorization: AWS4-HMAC-SHA256 Credential={access-key-id}/20170503/us-east-1/apigateway/aws4_request,
  SignedHeaders=content-type;host;x-amz-date, Signature=1b52460e3159c1a26cff29093855d50ea141c1c5b937528fecaf60f51129697a
  Cache-Control: no-cache Postman-Token: 3b2a1ce9-c848-2e26-2e2f-9c2caefbed45 </code></pre>
  <p>The response type is specified as a URL path.</p> <h5>Response</h5> <p>The successful
  operation returns the <code>200 OK</code> status code and a payload similar to the
  following:</p> <pre><code>{ \"_links\": { \"curies\": { \"href\": \"http://docs.aws.amazon.com/apigateway/latest/developerguide/restapi-gatewayresponse-{rel}.html\",
  \"name\": \"gatewayresponse\", \"templated\": true }, \"self\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/MISSING_AUTHENTICATION_TOKEN\"
  }, \"gatewayresponse:delete\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/MISSING_AUTHENTICATION_TOKEN\"
  }, \"gatewayresponse:put\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\",
  \"templated\": true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/MISSING_AUTHENTICATION_TOKEN\"
  } }, \"defaultResponse\": false, \"responseParameters\": { \"gatewayresponse.header.x-request-path\":
  \"method.request.path.petId\", \"gatewayresponse.header.Access-Control-Allow-Origin\":
  \"&apos;a.b.c&apos;\", \"gatewayresponse.header.x-request-query\": \"method.request.querystring.q\",
  \"gatewayresponse.header.x-request-header\": \"method.request.header.Accept\" },
  \"responseTemplates\": { \"application/json\": \"{\\n \\\"message\\\": $context.error.messageString,\\n
  \\\"type\\\": \\\"$context.error.responseType\\\",\\n \\\"stage\\\": \\\"$context.stage\\\",\\n
  \\\"resourcePath\\\": \\\"$context.resourcePath\\\",\\n \\\"stageVariables.a\\\":
  \\\"$stageVariables.a\\\",\\n \\\"statusCode\\\": \\\"&apos;404&apos;\\\"\\n}\"
  }, \"responseType\": \"MISSING_AUTHENTICATION_TOKEN\", \"statusCode\": \"404\" }</code></pre>
  <p></p> </div> </div> <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/customize-gateway-responses.html\">Customize
  Gateway Responses</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"defaultResponse\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:257:\"A
  Boolean flag to indicate whether this <a>GatewayResponse</a> is the default gateway
  response (<code>true</code>) or not (<code>false</code>). A default gateway response
  is one generated by Amazon API Gateway without any customization by an API developer.
  \";}s:18:\"responseParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MapOfStringToString\";s:11:\"description\";s:130:\"Response
  parameters (paths, query strings and headers) of the <a>GatewayResponse</a> as a
  string-to-string map of key-value pairs.\";}s:17:\"responseTemplates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MapOfStringToString\";s:11:\"description\";s:94:\"Response
  templates of the <a>GatewayResponse</a> as a string-to-string map of key-value pairs.\";}s:12:\"responseType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/GatewayResponseType\";s:11:\"description\";s:617:\"The
  response type of the associated <a>GatewayResponse</a>. Valid values are <ul><li>ACCESS_DENIED</li><li>API_CONFIGURATION_ERROR</li><li>AUTHORIZER_FAILURE</li><li>
  AUTHORIZER_CONFIGURATION_ERROR</li><li>BAD_REQUEST_PARAMETERS</li><li>BAD_REQUEST_BODY</li><li>DEFAULT_4XX</li><li>DEFAULT_5XX</li><li>EXPIRED_TOKEN</li><li>INVALID_SIGNATURE</li><li>INTEGRATION_FAILURE</li><li>INTEGRATION_TIMEOUT</li><li>INVALID_API_KEY</li><li>MISSING_AUTHENTICATION_TOKEN</li><li>
  QUOTA_EXCEEDED</li><li>REQUEST_TOO_LARGE</li><li>RESOURCE_NOT_FOUND</li><li>THROTTLED</li><li>UNAUTHORIZED</li><li>UNSUPPORTED_MEDIA_TYPES</li></ul>
  \";}s:10:\"statusCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StatusCode\";s:11:\"description\";s:53:\"The
  HTTP status code for this <a>GatewayResponse</a>.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GatewayResponseType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:20:{i:0;s:11:\"DEFAULT_4XX\";i:1;s:11:\"DEFAULT_5XX\";i:2;s:18:\"RESOURCE_NOT_FOUND\";i:3;s:12:\"UNAUTHORIZED\";i:4;s:15:\"INVALID_API_KEY\";i:5;s:13:\"ACCESS_DENIED\";i:6;s:18:\"AUTHORIZER_FAILURE\";i:7;s:30:\"AUTHORIZER_CONFIGURATION_ERROR\";i:8;s:17:\"INVALID_SIGNATURE\";i:9;s:13:\"EXPIRED_TOKEN\";i:10;s:28:\"MISSING_AUTHENTICATION_TOKEN\";i:11;s:19:\"INTEGRATION_FAILURE\";i:12;s:19:\"INTEGRATION_TIMEOUT\";i:13;s:23:\"API_CONFIGURATION_ERROR\";i:14;s:22:\"UNSUPPORTED_MEDIA_TYPE\";i:15;s:22:\"BAD_REQUEST_PARAMETERS\";i:16;s:16:\"BAD_REQUEST_BODY\";i:17;s:17:\"REQUEST_TOO_LARGE\";i:18;s:9:\"THROTTLED\";i:19;s:14:\"QUOTA_EXCEEDED\";}s:4:\"type\";s:6:\"string\";}s:16:\"GatewayResponses\";O:8:\"stdClass\":3:{s:11:\"description\";s:13495:\"<p>The
  collection of the <a>GatewayResponse</a> instances of a <a>RestApi</a> as a <code>responseType</code>-to-<a>GatewayResponse</a>
  object map of key-value pairs. As such, pagination is not supported for querying
  this collection.</p> <div class=\"remarks\"> For more information about valid gateway
  response types, see <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/supported-gateway-response-types.html\">Gateway
  Response Types Supported by Amazon API Gateway</a> <div class=\"example\"> <h4>Example:
  Get the collection of gateway responses of an API</h4> <h5>Request</h5> <p>This
  example request shows how to retrieve the <a>GatewayResponses</a> collection from
  an API.</p> <pre><code>GET /restapis/o81lxisefl/gatewayresponses HTTP/1.1 Host:
  beta-apigateway.us-east-1.amazonaws.com Content-Type: application/json X-Amz-Date:
  20170503T220604Z Authorization: AWS4-HMAC-SHA256 Credential={access-key-id}/20170503/us-east-1/apigateway/aws4_request,
  SignedHeaders=content-type;host;x-amz-date, Signature=59b42fe54a76a5de8adf2c67baa6d39206f8e9ad49a1d77ccc6a5da3103a398a
  Cache-Control: no-cache Postman-Token: 5637af27-dc29-fc5c-9dfe-0645d52cb515 </code></pre>
  <p></p> <h5>Response</h5> <p>The successful operation returns the <code>200 OK</code>
  status code and a payload similar to the following:</p> <pre><code>{ \"_links\":
  { \"curies\": { \"href\": \"http://docs.aws.amazon.com/apigateway/latest/developerguide/restapi-gatewayresponse-{rel}.html\",
  \"name\": \"gatewayresponse\", \"templated\": true }, \"self\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses\"
  }, \"first\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses\" }, \"gatewayresponse:by-type\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"item\": [ { \"href\": \"/restapis/o81lxisefl/gatewayresponses/INTEGRATION_FAILURE\"
  }, { \"href\": \"/restapis/o81lxisefl/gatewayresponses/RESOURCE_NOT_FOUND\" }, {
  \"href\": \"/restapis/o81lxisefl/gatewayresponses/REQUEST_TOO_LARGE\" }, { \"href\":
  \"/restapis/o81lxisefl/gatewayresponses/THROTTLED\" }, { \"href\": \"/restapis/o81lxisefl/gatewayresponses/UNSUPPORTED_MEDIA_TYPE\"
  }, { \"href\": \"/restapis/o81lxisefl/gatewayresponses/AUTHORIZER_CONFIGURATION_ERROR\"
  }, { \"href\": \"/restapis/o81lxisefl/gatewayresponses/DEFAULT_5XX\" }, { \"href\":
  \"/restapis/o81lxisefl/gatewayresponses/DEFAULT_4XX\" }, { \"href\": \"/restapis/o81lxisefl/gatewayresponses/BAD_REQUEST_PARAMETERS\"
  }, { \"href\": \"/restapis/o81lxisefl/gatewayresponses/BAD_REQUEST_BODY\" }, { \"href\":
  \"/restapis/o81lxisefl/gatewayresponses/EXPIRED_TOKEN\" }, { \"href\": \"/restapis/o81lxisefl/gatewayresponses/ACCESS_DENIED\"
  }, { \"href\": \"/restapis/o81lxisefl/gatewayresponses/INVALID_API_KEY\" }, { \"href\":
  \"/restapis/o81lxisefl/gatewayresponses/UNAUTHORIZED\" }, { \"href\": \"/restapis/o81lxisefl/gatewayresponses/API_CONFIGURATION_ERROR\"
  }, { \"href\": \"/restapis/o81lxisefl/gatewayresponses/QUOTA_EXCEEDED\" }, { \"href\":
  \"/restapis/o81lxisefl/gatewayresponses/INTEGRATION_TIMEOUT\" }, { \"href\": \"/restapis/o81lxisefl/gatewayresponses/MISSING_AUTHENTICATION_TOKEN\"
  }, { \"href\": \"/restapis/o81lxisefl/gatewayresponses/INVALID_SIGNATURE\" }, {
  \"href\": \"/restapis/o81lxisefl/gatewayresponses/AUTHORIZER_FAILURE\" } ] }, \"_embedded\":
  { \"item\": [ { \"_links\": { \"self\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/INTEGRATION_FAILURE\"
  }, \"gatewayresponse:put\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\",
  \"templated\": true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/INTEGRATION_FAILURE\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"INTEGRATION_FAILURE\", \"statusCode\": \"504\" }, { \"_links\": { \"self\": {
  \"href\": \"/restapis/o81lxisefl/gatewayresponses/RESOURCE_NOT_FOUND\" }, \"gatewayresponse:put\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/RESOURCE_NOT_FOUND\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"RESOURCE_NOT_FOUND\", \"statusCode\": \"404\" }, { \"_links\": { \"self\": { \"href\":
  \"/restapis/o81lxisefl/gatewayresponses/REQUEST_TOO_LARGE\" }, \"gatewayresponse:put\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/REQUEST_TOO_LARGE\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"REQUEST_TOO_LARGE\", \"statusCode\": \"413\" }, { \"_links\": { \"self\": { \"href\":
  \"/restapis/o81lxisefl/gatewayresponses/THROTTLED\" }, \"gatewayresponse:put\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/THROTTLED\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"THROTTLED\", \"statusCode\": \"429\" }, { \"_links\": { \"self\": { \"href\":
  \"/restapis/o81lxisefl/gatewayresponses/UNSUPPORTED_MEDIA_TYPE\" }, \"gatewayresponse:put\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/UNSUPPORTED_MEDIA_TYPE\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"UNSUPPORTED_MEDIA_TYPE\", \"statusCode\": \"415\" }, { \"_links\": { \"self\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/AUTHORIZER_CONFIGURATION_ERROR\"
  }, \"gatewayresponse:put\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\",
  \"templated\": true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/AUTHORIZER_CONFIGURATION_ERROR\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"AUTHORIZER_CONFIGURATION_ERROR\", \"statusCode\": \"500\" }, { \"_links\": { \"self\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/DEFAULT_5XX\" }, \"gatewayresponse:put\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/DEFAULT_5XX\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"DEFAULT_5XX\" }, { \"_links\": { \"self\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/DEFAULT_4XX\"
  }, \"gatewayresponse:put\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\",
  \"templated\": true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/DEFAULT_4XX\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"DEFAULT_4XX\" }, { \"_links\": { \"self\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/BAD_REQUEST_PARAMETERS\"
  }, \"gatewayresponse:put\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\",
  \"templated\": true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/BAD_REQUEST_PARAMETERS\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"BAD_REQUEST_PARAMETERS\", \"statusCode\": \"400\" }, { \"_links\": { \"self\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/BAD_REQUEST_BODY\" }, \"gatewayresponse:put\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/BAD_REQUEST_BODY\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"BAD_REQUEST_BODY\", \"statusCode\": \"400\" }, { \"_links\": { \"self\": { \"href\":
  \"/restapis/o81lxisefl/gatewayresponses/EXPIRED_TOKEN\" }, \"gatewayresponse:put\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/EXPIRED_TOKEN\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"EXPIRED_TOKEN\", \"statusCode\": \"403\" }, { \"_links\": { \"self\": { \"href\":
  \"/restapis/o81lxisefl/gatewayresponses/ACCESS_DENIED\" }, \"gatewayresponse:put\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/ACCESS_DENIED\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"ACCESS_DENIED\", \"statusCode\": \"403\" }, { \"_links\": { \"self\": { \"href\":
  \"/restapis/o81lxisefl/gatewayresponses/INVALID_API_KEY\" }, \"gatewayresponse:put\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/INVALID_API_KEY\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"INVALID_API_KEY\", \"statusCode\": \"403\" }, { \"_links\": { \"self\": { \"href\":
  \"/restapis/o81lxisefl/gatewayresponses/UNAUTHORIZED\" }, \"gatewayresponse:put\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/UNAUTHORIZED\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"UNAUTHORIZED\", \"statusCode\": \"401\" }, { \"_links\": { \"self\": { \"href\":
  \"/restapis/o81lxisefl/gatewayresponses/API_CONFIGURATION_ERROR\" }, \"gatewayresponse:put\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/API_CONFIGURATION_ERROR\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"API_CONFIGURATION_ERROR\", \"statusCode\": \"500\" }, { \"_links\": { \"self\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/QUOTA_EXCEEDED\" }, \"gatewayresponse:put\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/QUOTA_EXCEEDED\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"QUOTA_EXCEEDED\", \"statusCode\": \"429\" }, { \"_links\": { \"self\": { \"href\":
  \"/restapis/o81lxisefl/gatewayresponses/INTEGRATION_TIMEOUT\" }, \"gatewayresponse:put\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/INTEGRATION_TIMEOUT\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"INTEGRATION_TIMEOUT\", \"statusCode\": \"504\" }, { \"_links\": { \"self\": {
  \"href\": \"/restapis/o81lxisefl/gatewayresponses/MISSING_AUTHENTICATION_TOKEN\"
  }, \"gatewayresponse:put\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\",
  \"templated\": true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/MISSING_AUTHENTICATION_TOKEN\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"MISSING_AUTHENTICATION_TOKEN\", \"statusCode\": \"403\" }, { \"_links\": { \"self\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/INVALID_SIGNATURE\" }, \"gatewayresponse:put\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/INVALID_SIGNATURE\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"INVALID_SIGNATURE\", \"statusCode\": \"403\" }, { \"_links\": { \"self\": { \"href\":
  \"/restapis/o81lxisefl/gatewayresponses/AUTHORIZER_FAILURE\" }, \"gatewayresponse:put\":
  { \"href\": \"/restapis/o81lxisefl/gatewayresponses/{response_type}\", \"templated\":
  true }, \"gatewayresponse:update\": { \"href\": \"/restapis/o81lxisefl/gatewayresponses/AUTHORIZER_FAILURE\"
  } }, \"defaultResponse\": true, \"responseParameters\": {}, \"responseTemplates\":
  { \"application/json\": \"{\\\"message\\\":$context.error.messageString}\" }, \"responseType\":
  \"AUTHORIZER_FAILURE\", \"statusCode\": \"500\" } ] } }</code></pre> <p></p> </div>
  </div> <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/customize-gateway-responses.html\">Customize
  Gateway Responses</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ListOfGatewayResponse\";s:11:\"description\";s:64:\"Returns
  the entire collection, because of no pagination support.\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:32:\"GenerateClientCertificateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  request to generate a <a>ClientCertificate</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  description of the <a>ClientCertificate</a>.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetAccountRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Requests
  Amazon API Gateway to get information about the current <a>Account</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"GetApiKeyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  request to get information about the current <a>ApiKey</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"GetApiKeysRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"A
  request to get information about the current <a>ApiKeys</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"GetAuthorizerRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Request
  to describe an existing <a>Authorizer</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"GetAuthorizersRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Request
  to describe an existing <a>Authorizers</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"GetBasePathMappingRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Request
  to describe a <a>BasePathMapping</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"GetBasePathMappingsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"A
  request to get information about a collection of <a>BasePathMapping</a> resources.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"GetClientCertificateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"A
  request to get information about the current <a>ClientCertificate</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"GetClientCertificatesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"A
  request to get information about a collection of <a>ClientCertificate</a> resources.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"GetDeploymentRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Requests
  Amazon API Gateway to get information about a <a>Deployment</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"GetDeploymentsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Requests
  Amazon API Gateway to get information about a <a>Deployments</a> collection.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"GetDocumentationPartRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Gets
  a specified documentation part of a given API.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"GetDocumentationPartsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"Gets
  the documentation parts of an API. The result may be filtered by the type, name,
  or path of API entities (targets).\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"GetDocumentationVersionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Gets
  a documentation snapshot of an API.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"GetDocumentationVersionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Gets
  the documentation versions of an API.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"GetDomainNameRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Request
  to get the name of a <a>DomainName</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"GetDomainNamesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Request
  to describe a collection of <a>DomainName</a> resources.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"GetExportRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Request
  a new export of a <a>RestApi</a> for a particular <a>Stage</a>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"GetGatewayResponseRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Gets
  a <a>GatewayResponse</a> of a specified response type on the given <a>RestApi</a>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"GetGatewayResponsesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:274:\"Gets
  the <a>GatewayResponses</a> collection on the given <a>RestApi</a>. If an API developer
  has not added any definitions for gateway responses, the result will be the Amazon
  API Gateway-generated default <a>GatewayResponses</a> collection for the supported
  response types.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"GetIntegrationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Represents
  a get integration request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"GetIntegrationResponseRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Represents
  a get integration response request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"GetMethodRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Request
  to describe an existing <a>Method</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"GetMethodResponseRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Request
  to describe a <a>MethodResponse</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"GetModelRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Request
  to list information about a model in an existing <a>RestApi</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"GetModelTemplateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Request
  to generate a sample mapping template used to transform the payload.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"GetModelsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Request
  to list existing <a>Models</a> defined for a <a>RestApi</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"GetRequestValidatorRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Gets
  a <a>RequestValidator</a> of a given <a>RestApi</a>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"GetRequestValidatorsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Gets
  the <a>RequestValidators</a> collection of a given <a>RestApi</a>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"GetResourceRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Request
  to list information about a resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"GetResourcesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Request
  to list information about a collection of resources.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"GetRestApiRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  GET request to list an existing <a>RestApi</a> defined for your collection. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"GetRestApisRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  GET request to list existing <a>RestApis</a> defined for your collection.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"GetSdkRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Request
  a new generated client SDK for a <a>RestApi</a> and <a>Stage</a>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"GetSdkTypeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Get
  an <a>SdkType</a> instance.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"GetSdkTypesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Get
  the <a>SdkTypes</a> collection.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"GetStageRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Requests
  Amazon API Gateway to get information about a <a>Stage</a> resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"GetStagesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Requests
  Amazon API Gateway to get information about one or more <a>Stage</a> resources.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"GetUsagePlanKeyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  GET request to get a usage plan key of a given key identifier.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"GetUsagePlanKeysRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"The
  GET request to get all the usage plan keys representing the API keys added to a
  specified usage plan.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"GetUsagePlanRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  GET request to get a usage plan of a given plan identifier.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"GetUsagePlansRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  GET request to get all the usage plans of the caller's account.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"GetUsageRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  GET request to get the usage data of a usage plan in a specified time interval.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"ImportApiKeysRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"The
  POST request to import API keys from an external source, such as a CSV-formatted
  file.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Blob\";s:11:\"description\";s:199:\"The
  payload of the POST request to import API keys. For the payload format, see <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/api-key-file-format.html\">API
  Key File Format</a>.\";}}s:8:\"required\";a:1:{i:0;s:4:\"body\";}s:4:\"type\";s:6:\"object\";}s:31:\"ImportDocumentationPartsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"Import
  documentation parts from an external (e.g., Swagger) definition file. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Blob\";s:11:\"description\";s:132:\"[Required]
  Raw byte array representing the to-be-imported documentation parts. To import from
  a Swagger file, this is a JSON object.\";}}s:8:\"required\";a:1:{i:0;s:4:\"body\";}s:4:\"type\";s:6:\"object\";}s:20:\"ImportRestApiRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"A
  POST request to import an API to Amazon API Gateway using an input of an API definition
  file.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Blob\";s:11:\"description\";s:171:\"The
  POST request body containing external API definitions. Currently, only Swagger definition
  JSON files are supported. The maximum size of the API definition file is 2MB.\";}}s:8:\"required\";a:1:{i:0;s:4:\"body\";}s:4:\"type\";s:6:\"object\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"Integration\";O:8:\"stdClass\":3:{s:11:\"description\";s:327:\"<p>Represents
  an HTTP, HTTP_PROXY, AWS, AWS_PROXY, or Mock integration.</p> <div class=\"remarks\">In
  the API Gateway console, the built-in Lambda integration is an AWS integration.</div>
  <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-create-api.html\">Creating
  an API</a> </div>\";s:10:\"properties\";O:8:\"stdClass\":11:{s:18:\"cacheKeyParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ListOfString\";s:11:\"description\";s:49:\"Specifies
  the integration's cache key parameters.\";}s:14:\"cacheNamespace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:44:\"Specifies
  the integration's cache namespace.\";}s:15:\"contentHandling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ContentHandlingStrategy\";s:11:\"description\";s:708:\"<p>Specifies
  how to handle request payload content type conversions. Supported values are <code>CONVERT_TO_BINARY</code>
  and <code>CONVERT_TO_TEXT</code>, with the following behaviors:</p> <ul> <li><p><code>CONVERT_TO_BINARY</code>:
  Converts a request payload from a Base64-encoded string to the corresponding binary
  blob.</p></li> <li><p><code>CONVERT_TO_TEXT</code>: Converts a request payload from
  a binary blob to a Base64-encoded string.</p></li> </ul> <p>If this property is
  not defined, the request payload will be passed through from the method request
  to integration request without modification, provided that the <code>passthroughBehaviors</code>
  is configured to support payload pass-through.</p>\";}s:11:\"credentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:420:\"Specifies
  the credentials required for the integration, if any. For AWS integrations, three
  options are available. To specify an IAM Role for Amazon API Gateway to assume,
  use the role's Amazon Resource Name (ARN). To require that the caller's identity
  be passed through from the request, specify the string <code>arn:aws:iam::\\*:user/\\*</code>.
  To use resource-based permissions on supported AWS services, specify null.\";}s:10:\"httpMethod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:45:\"Specifies
  the integration's HTTP method type.\";}s:20:\"integrationResponses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/MapOfIntegrationResponse\";s:11:\"description\";s:1713:\"<p>Specifies
  the integration's responses.</p> <div class=\"remarks\"> <p/> <h4>Example: Get integration
  responses of a method</h4> <h5>Request</h5> <p/> <pre><code>GET /restapis/fugvjdxtri/resources/3kzxbg5sa2/methods/GET/integration/responses/200
  HTTP/1.1 Content-Type: application/json Host: apigateway.us-east-1.amazonaws.com
  X-Amz-Date: 20160607T191449Z Authorization: AWS4-HMAC-SHA256 Credential={access_key_ID}/20160607/us-east-1/apigateway/aws4_request,
  SignedHeaders=content-type;host;x-amz-date, Signature={sig4_hash} </code></pre>
  <h5>Response</h5> <p>The successful response returns <code>200 OK</code> status
  and a payload as follows:</p> <pre><code>{ \"_links\": { \"curies\": { \"href\":
  \"http://docs.aws.amazon.com/apigateway/latest/developerguide/restapi-integration-response-{rel}.html\",
  \"name\": \"integrationresponse\", \"templated\": true }, \"self\": { \"href\":
  \"/restapis/fugvjdxtri/resources/3kzxbg5sa2/methods/GET/integration/responses/200\",
  \"title\": \"200\" }, \"integrationresponse:delete\": { \"href\": \"/restapis/fugvjdxtri/resources/3kzxbg5sa2/methods/GET/integration/responses/200\"
  }, \"integrationresponse:update\": { \"href\": \"/restapis/fugvjdxtri/resources/3kzxbg5sa2/methods/GET/integration/responses/200\"
  } }, \"responseParameters\": { \"method.response.header.Content-Type\": \"'application/xml'\"
  }, \"responseTemplates\": { \"application/json\": \"$util.urlDecode(\\\"%3CkinesisStreams%3E#foreach($stream
  in $input.path('$.StreamNames'))%3Cstream%3E%3Cname%3E$stream%3C/name%3E%3C/stream%3E#end%3C/kinesisStreams%3E\\\")\\n\"
  }, \"statusCode\": \"200\" }</code></pre> <p/> </div> <div class=\"seeAlso\"> <a
[...]
