---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:1:\"1\";s:5:\"title\";s:6:\"Sample\";s:11:\"description\";s:21:\"REST
  Connector Sample\";}"
host: api.openweathermap.org
basePath: /data/2.5/
paths:
  /weather:
    get:
      tags:
      - Open Weather
      description: ""
      produces:
      - application/json
      parameters:
      - name: q
        in: query
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/weather'
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":7:{s:7:\"weather\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:5:\"coord\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:27:\"#/definitions/weatherCoords\";}s:7:\"weather\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/weatherWeather\";}}s:4:\"base\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"main\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:25:\"#/definitions/weatherMain\";}s:9:\"visbility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"wind\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:25:\"#/definitions/weatherWind\";}s:6:\"clouds\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:27:\"#/definitions/weatherClouds\";}s:2:\"dt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"sys\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:24:\"#/definitions/weatherSys\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"cod\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:13:\"weatherCoords\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"lat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:14:\"weatherWeather\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"main\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"icon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"weatherMain\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"temp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"temp_min\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"temp_max\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:11:\"weatherWind\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"speed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:13:\"weatherClouds\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"all\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:10:\"weatherSys\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"sunrise\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"sunset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}"
...
