---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:60:\"Programmatically
  creates and manages Firebase Dynamic Links.\";s:5:\"title\";s:22:\"Firebase Dynamic
  Links\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"backend\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:70:\"https://firebasedynamiclinks.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:20:\"firebasedynamiclinks\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:27:\"google_firebasedynamiclinks\";s:4:\"type\";s:7:\"openapi\";}}"
host: firebasedynamiclinks.googleapis.com
basePath: /
paths:
  /v1/installAttribution:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Get iOS strong/weak-match info for post-install attribution.
      operationId: installAttribution
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/GetIosPostInstallAttributionRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/GetIosPostInstallAttributionResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/firebase
      tags:
      - v1
  /v1/managedShortLinks:create:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a managed short Dynamic Link given either a valid long
        Dynamic Linknor details such as Dynamic Link domain, Android and iOS app information.nThe
        created short Dynamic Link will not expire.nnThis differs from CreateShortDynamicLink
        in the following ways:n  - The request will also contain a name for the link
        (non unique namen    for the front end).n  - The response must be authenticated
        with an auth token (generated withn    the admin service account).n  - The
        link will appear in the FDL list of links in the console front end.nnThe Dynamic
        Link domain in the request must be owned by requester'snFirebase project.
      operationId: managedShortLinks.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CreateManagedShortLinkRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CreateManagedShortLinkResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/firebase
      tags:
      - managedShortLinks
  /v1/shortLinks:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a short Dynamic Link given either a valid long Dynamic
        Link orndetails such as Dynamic Link domain, Android and iOS app information.nThe
        created short Dynamic Link will not expire.nnRepeated calls with the same
        long Dynamic Link or Dynamic Link informationnwill produce the same short
        Dynamic Link.nnThe Dynamic Link domain in the request must be owned by requester'snFirebase
        project.
      operationId: shortLinks.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CreateShortDynamicLinkRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CreateShortDynamicLinkResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/firebase
      tags:
      - shortLinks
  /v1/{dynamicLink}/linkStats:
    get:
      description: Fetches analytics stats of a short Dynamic Link for a givennduration.
        Metrics include number of clicks, redirects, installs,napp first opens, and
        app reopens.
      operationId: getLinkStats
      parameters:
      - description: The span of time requested in days.
        in: query
        name: durationDays
        type: string
      - description: Dynamic Link URL. e.g. https://abcd.app.goo.gl/wxyz
        in: path
        name: dynamicLink
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/DynamicLinkStats'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/firebase
      tags:
      - v1
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":21:{s:13:\"AnalyticsInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Tracking
  parameters supported by Dynamic Link.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"googlePlayAnalytics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/GooglePlayAnalytics\";s:11:\"description\";s:34:\"Google
  Play Campaign Measurements.\";}s:22:\"itunesConnectAnalytics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ITunesConnectAnalytics\";s:11:\"description\";s:29:\"iTunes
  Connect App Analytics.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"AndroidInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Android
  related attributes to the Dynamic Link.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"androidFallbackLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Link
  to open on Android if the app is not installed.\";s:4:\"type\";s:6:\"string\";}s:11:\"androidLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"If
  specified, this overrides the \u2018link\u2019 parameter on Android.\";s:4:\"type\";s:6:\"string\";}s:28:\"androidMinPackageVersionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"Minimum
  version code for the Android app. If the installed app\u2019s version\ncode is lower,
  then the user is taken to the Play Store.\";s:4:\"type\";s:6:\"string\";}s:18:\"androidPackageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Android
  package name of the app.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CreateManagedShortLinkRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Request
  to create a managed Short Dynamic Link.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"dynamicLinkInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DynamicLinkInfo\";s:11:\"description\";s:138:\"Information
  about the Dynamic Link to be shortened.\n[Learn more](https://firebase.google.com/docs/reference/dynamic-links/link-shortener).\";}s:15:\"longDynamicLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:239:\"Full
  long Dynamic Link URL with desired query parameters specified.\nFor example,\n\"https://sample.app.goo.gl/?link=http://www.google.com&apn=com.sample\",\n[Learn
  more](https://firebase.google.com/docs/reference/dynamic-links/link-shortener).\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:194:\"Link
  name to associate with the link. It's used for marketer to identify\nmanually-created
  links in the Firebase console\n(https://console.firebase.google.com/).\nLinks must
  be named to be tracked.\";s:4:\"type\";s:6:\"string\";}s:6:\"suffix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Suffix\";s:11:\"description\";s:36:\"Short
  Dynamic Link suffix. Optional.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CreateManagedShortLinkResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Response
  to create a short Dynamic Link.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"managedShortLink\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ManagedShortLink\";s:11:\"description\";s:59:\"Short
  Dynamic Link value. e.g. https://abcd.app.goo.gl/wxyz\";}s:11:\"previewLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Preview
  link to show the link flow chart. (debug info.)\";s:4:\"type\";s:6:\"string\";}s:7:\"warning\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Information
  about potential warnings on link creation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DynamicLinkWarning\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CreateShortDynamicLinkRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Request
  to create a short Dynamic Link.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"dynamicLinkInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DynamicLinkInfo\";s:11:\"description\";s:138:\"Information
  about the Dynamic Link to be shortened.\n[Learn more](https://firebase.google.com/docs/reference/dynamic-links/link-shortener).\";}s:15:\"longDynamicLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:239:\"Full
  long Dynamic Link URL with desired query parameters specified.\nFor example,\n\"https://sample.app.goo.gl/?link=http://www.google.com&apn=com.sample\",\n[Learn
  more](https://firebase.google.com/docs/reference/dynamic-links/link-shortener).\";s:4:\"type\";s:6:\"string\";}s:6:\"suffix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Suffix\";s:11:\"description\";s:36:\"Short
  Dynamic Link suffix. Optional.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CreateShortDynamicLinkResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Response
  to create a short Dynamic Link.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"previewLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Preview
  link to show the link flow chart. (debug info.)\";s:4:\"type\";s:6:\"string\";}s:9:\"shortLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Short
  Dynamic Link value. e.g. https://abcd.app.goo.gl/wxyz\";s:4:\"type\";s:6:\"string\";}s:7:\"warning\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Information
  about potential warnings on link creation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DynamicLinkWarning\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"DesktopInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Desktop
  related attributes to the Dynamic Link.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"desktopFallbackLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Link
  to open on desktop.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"DeviceInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Signals
  associated with the device making the request.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"deviceModelName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Device
  model name.\";s:4:\"type\";s:6:\"string\";}s:12:\"languageCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Device
  language code setting.\";s:4:\"type\";s:6:\"string\";}s:23:\"languageCodeFromWebview\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Device
  language code setting obtained by executing JavaScript code in\nWebView.\";s:4:\"type\";s:6:\"string\";}s:15:\"languageCodeRaw\";O:8:\"stdClass\":2:{s:11:\"description\";s:211:\"Device
  language code raw setting.\niOS does returns language code in different format than
  iOS WebView.\nFor example WebView returns en_US, but iOS returns en-US.\nField below
  will return raw value returned by iOS.\";s:4:\"type\";s:6:\"string\";}s:22:\"screenResolutionHeight\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Device
  display resolution height.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:21:\"screenResolutionWidth\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Device
  display resolution width.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Device
  timezone setting.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DynamicLinkEventStat\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Dynamic
  Link event stat.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  number of times this event occurred.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"event\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Link
  event.\";s:4:\"enum\";a:6:{i:0;s:30:\"DYNAMIC_LINK_EVENT_UNSPECIFIED\";i:1;s:5:\"CLICK\";i:2;s:8:\"REDIRECT\";i:3;s:11:\"APP_INSTALL\";i:4;s:14:\"APP_FIRST_OPEN\";i:5;s:11:\"APP_RE_OPEN\";}s:4:\"type\";s:6:\"string\";}s:8:\"platform\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Requested
  platform.\";s:4:\"enum\";a:5:{i:0;s:33:\"DYNAMIC_LINK_PLATFORM_UNSPECIFIED\";i:1;s:7:\"ANDROID\";i:2;s:3:\"IOS\";i:3;s:7:\"DESKTOP\";i:4;s:5:\"OTHER\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DynamicLinkInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Information
  about a Dynamic Link.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"analyticsInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AnalyticsInfo\";s:11:\"description\";s:145:\"Parameters
  used for tracking. See all tracking parameters in the\n[documentation](https://firebase.google.com/docs/dynamic-links/create-manually).\";}s:11:\"androidInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AndroidInfo\";s:11:\"description\";s:147:\"Android
  related information. See Android related parameters in the\n[documentation](https://firebase.google.com/docs/dynamic-links/create-manually).\";}s:11:\"desktopInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DesktopInfo\";s:11:\"description\";s:147:\"Desktop
  related information. See desktop related parameters in the\n[documentation](https://firebase.google.com/docs/dynamic-links/create-manually).\";}s:15:\"domainUriPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:189:\"E.g.
  https://maps.app.goo.gl, https://maps.page.link, https://g.co/maps\nMore examples
  can be found in description of getNormalizedUriPrefix in\nj/c/g/firebase/dynamiclinks/uri/DdlDomain.java\";s:4:\"type\";s:6:\"string\";}s:17:\"dynamicLinkDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:228:\"Dynamic
  Links domain that the project owns, e.g. abcd.app.goo.gl\n[Learn more](https://firebase.google.com/docs/dynamic-links/android/receive)\non
  how to set up Dynamic Link domain associated with your Firebase project.\n\nRequired.\";s:4:\"type\";s:6:\"string\";}s:7:\"iosInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/IosInfo\";s:11:\"description\";s:139:\"iOS
  related information. See iOS related parameters in the\n[documentation](https://firebase.google.com/docs/dynamic-links/create-manually).\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:293:\"The
  link your app will open, You can specify any URL your app can handle.\nThis link
  must be a well-formatted URL, be properly URL-encoded, and use\nthe HTTP or HTTPS
  scheme. See 'link' parameters in the\n[documentation](https://firebase.google.com/docs/dynamic-links/create-manually).\n\nRequired.\";s:4:\"type\";s:6:\"string\";}s:14:\"navigationInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:63:\"Information
  of navigation behavior of a Firebase Dynamic Links.\";}s:17:\"socialMetaTagInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SocialMetaTagInfo\";s:11:\"description\";s:99:\"Parameters
  for social meta tag params.\nUsed to set meta tag data for link previews on social
  sites.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DynamicLinkStats\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Analytics
  stats of a Dynamic Link for a given timeframe.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"linkEventStats\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Dynamic
  Link event stats.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DynamicLinkEventStat\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DynamicLinkWarning\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Dynamic
  Links warning messages.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"warningCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  warning code.\";s:4:\"enum\";a:29:{i:0;s:16:\"CODE_UNSPECIFIED\";i:1;s:35:\"NOT_IN_PROJECT_ANDROID_PACKAGE_NAME\";i:2;s:39:\"NOT_INTEGER_ANDROID_PACKAGE_MIN_VERSION\";i:3;s:39:\"UNNECESSARY_ANDROID_PACKAGE_MIN_VERSION\";i:4;s:20:\"NOT_URI_ANDROID_LINK\";i:5;s:24:\"UNNECESSARY_ANDROID_LINK\";i:6;s:29:\"NOT_URI_ANDROID_FALLBACK_LINK\";i:7;s:36:\"BAD_URI_SCHEME_ANDROID_FALLBACK_LINK\";i:8;s:28:\"NOT_IN_PROJECT_IOS_BUNDLE_ID\";i:9;s:29:\"NOT_IN_PROJECT_IPAD_BUNDLE_ID\";i:10;s:26:\"UNNECESSARY_IOS_URL_SCHEME\";i:11;s:28:\"NOT_NUMERIC_IOS_APP_STORE_ID\";i:12;s:28:\"UNNECESSARY_IOS_APP_STORE_ID\";i:13;s:25:\"NOT_URI_IOS_FALLBACK_LINK\";i:14;s:32:\"BAD_URI_SCHEME_IOS_FALLBACK_LINK\";i:15;s:26:\"NOT_URI_IPAD_FALLBACK_LINK\";i:16;s:33:\"BAD_URI_SCHEME_IPAD_FALLBACK_LINK\";i:17;s:15:\"BAD_DEBUG_PARAM\";i:18;s:12:\"BAD_AD_PARAM\";i:19;s:16:\"DEPRECATED_PARAM\";i:20;s:18:\"UNRECOGNIZED_PARAM\";i:21;s:14:\"TOO_LONG_PARAM\";i:22;s:25:\"NOT_URI_SOCIAL_IMAGE_LINK\";i:23;s:32:\"BAD_URI_SCHEME_SOCIAL_IMAGE_LINK\";i:24;s:18:\"NOT_URI_SOCIAL_URL\";i:25;s:25:\"BAD_URI_SCHEME_SOCIAL_URL\";i:26;s:20:\"LINK_LENGTH_TOO_LONG\";i:27;s:19:\"LINK_WITH_FRAGMENTS\";i:28;s:39:\"NOT_MATCHING_IOS_BUNDLE_ID_AND_STORE_ID\";}s:4:\"type\";s:6:\"string\";}s:19:\"warningDocumentLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  document describing the warning, and helps resolve.\";s:4:\"type\";s:6:\"string\";}s:14:\"warningMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  warning message to help developers improve their requests.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"GetIosPostInstallAttributionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:163:\"Request
  for iSDK to execute strong match flow for post-install attribution.\nThis is meant
  for iOS requests only. Requests from other platforms will\nnot be honored.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"appInstallationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"App
  installation epoch time (https://en.wikipedia.org/wiki/Unix_time).\nThis is a client
  signal for a more accurate weak match.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"bundleId\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"APP
  bundle ID.\";s:4:\"type\";s:6:\"string\";}s:6:\"device\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DeviceInfo\";s:11:\"description\";s:19:\"Device
  information.\";}s:10:\"iosVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"iOS
  version, ie: 9.3.5.\nConsider adding \"build\".\";s:4:\"type\";s:6:\"string\";}s:15:\"retrievalMethod\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"App
  post install attribution retrieval information. Disambiguates\nmechanism (iSDK or
  developer invoked) to retrieve payload from\nclicked link.\";s:4:\"enum\";a:4:{i:0;s:32:\"UNKNOWN_PAYLOAD_RETRIEVAL_METHOD\";i:1;s:19:\"IMPLICIT_WEAK_MATCH\";i:2;s:19:\"EXPLICIT_WEAK_MATCH\";i:3;s:32:\"EXPLICIT_STRONG_AFTER_WEAK_MATCH\";}s:4:\"type\";s:6:\"string\";}s:10:\"sdkVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Google
  SDK version.\";s:4:\"type\";s:6:\"string\";}s:22:\"uniqueMatchLinkToCheck\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"Possible
  unique matched link that server need to check before performing\nfingerprint match.
  If passed link is short server need to expand the link.\nIf link is long server
  need to vslidate the link.\";s:4:\"type\";s:6:\"string\";}s:11:\"visualStyle\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"Strong
  match page information. Disambiguates between default UI and\ncustom page to present
  when strong match succeeds/fails to find cookie.\";s:4:\"enum\";a:3:{i:0;s:20:\"UNKNOWN_VISUAL_STYLE\";i:1;s:13:\"DEFAULT_STYLE\";i:2;s:12:\"CUSTOM_STYLE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GetIosPostInstallAttributionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Response
  for iSDK to execute strong match flow for post-install attribution.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:17:\"appMinimumVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"The
  minimum version for app, specified by dev through ?imv= parameter.\nReturn to iSDK
  to allow app to evaluate if current version meets this.\";s:4:\"type\";s:6:\"string\";}s:21:\"attributionConfidence\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  confidence of the returned attribution.\";s:4:\"enum\";a:4:{i:0;s:30:\"UNKNOWN_ATTRIBUTION_CONFIDENCE\";i:1;s:4:\"WEAK\";i:2;s:7:\"DEFAULT\";i:3;s:6:\"UNIQUE\";}s:4:\"type\";s:6:\"string\";}s:8:\"deepLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  deep-link attributed post-install via one of several techniques\n(fingerprint, copy
  unique).\";s:4:\"type\";s:6:\"string\";}s:30:\"externalBrowserDestinationLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:308:\"User-agent
  specific custom-scheme URIs for iSDK to open. This will be set\naccording to the
  user-agent tha the click was originally made in. There is\nno Safari-equivalent
  custom-scheme open URLs.\nie: googlechrome://www.example.com\nie: firefox://open-url?url=http://www.example.com\nie:
  opera-http://example.com\";s:4:\"type\";s:6:\"string\";}s:12:\"fallbackLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:272:\"The
  link to navigate to update the app if min version is not met.\nThis is either (in
  order): 1) fallback link (from ?ifl= parameter, if\nspecified by developer) or 2)
  AppStore URL (from ?isi= parameter, if\nspecified), or 3) the payload link (from
  required link= parameter).\";s:4:\"type\";s:6:\"string\";}s:12:\"invitationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Invitation
  ID attributed post-install via one of several techniques\n(fingerprint, copy unique).\";s:4:\"type\";s:6:\"string\";}s:23:\"isStrongMatchExecutable\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"Instruction
  for iSDK to attemmpt to perform strong match. For instance,\nif browser does not
  support/allow cookie or outside of support browsers,\nthis will be false.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"matchMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Describes
  why match failed, ie: \"discarded due to low confidence\".\nThis message will be
  publicly visible.\";s:4:\"type\";s:6:\"string\";}s:16:\"requestIpVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Which
  IP version the request was made from.\";s:4:\"enum\";a:3:{i:0;s:18:\"UNKNOWN_IP_VERSION\";i:1;s:5:\"IP_V4\";i:2;s:5:\"IP_V6\";}s:4:\"type\";s:6:\"string\";}s:13:\"requestedLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Entire
  FDL (short or long) attributed post-install via one of several\ntechniques (fingerprint,
  copy unique).\";s:4:\"type\";s:6:\"string\";}s:12:\"resolvedLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:330:\"The
  entire FDL, expanded from a short link. It is the same as the\nrequested_link, if
  it is long. Parameters from this should not be\nused directly (ie: server can default
  utm_[campaign|medium|source]\nto a value when requested_link lack them, server determine
  the best\nfallback_link when requested_link specifies >1 fallback links).\";s:4:\"type\";s:6:\"string\";}s:11:\"utmCampaign\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Scion
  campaign value to be propagated by iSDK to Scion at post-install.\";s:4:\"type\";s:6:\"string\";}s:9:\"utmMedium\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Scion
  medium value to be propagated by iSDK to Scion at post-install.\";s:4:\"type\";s:6:\"string\";}s:9:\"utmSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Scion
  source value to be propagated by iSDK to Scion at post-install.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GooglePlayAnalytics\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"Parameters
  for Google Play Campaign Measurements.\n[Learn more](https://developers.google.com/analytics/devguides/collection/android/v4/campaigns#campaign-params)\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"gclid\";O:8:\"stdClass\":2:{s:11:\"description\";s:193:\"[AdWords
  autotagging parameter](https://support.google.com/analytics/answer/1033981?hl=en);\nused
  to measure Google AdWords ads. This value is generated dynamically\nand should never
  be modified.\";s:4:\"type\";s:6:\"string\";}s:11:\"utmCampaign\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"Campaign
  name; used for keyword analysis to identify a specific product\npromotion or strategic
  campaign.\";s:4:\"type\";s:6:\"string\";}s:10:\"utmContent\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"Campaign
  content; used for A/B testing and content-targeted ads to\ndifferentiate ads or
  links that point to the same URL.\";s:4:\"type\";s:6:\"string\";}s:9:\"utmMedium\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Campaign
  medium; used to identify a medium such as email or cost-per-click.\";s:4:\"type\";s:6:\"string\";}s:9:\"utmSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Campaign
  source; used to identify a search engine, newsletter, or other\nsource.\";s:4:\"type\";s:6:\"string\";}s:7:\"utmTerm\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Campaign
  term; used with paid search to supply the keywords for ads.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ITunesConnectAnalytics\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Parameters
  for iTunes Connect App Analytics.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"at\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Affiliate
  token used to create affiliate-coded links.\";s:4:\"type\";s:6:\"string\";}s:2:\"ct\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"Campaign
  text that developers can optionally add to any link in order to\ntrack sales from
  a specific marketing campaign.\";s:4:\"type\";s:6:\"string\";}s:2:\"mt\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"iTune
  media types, including music, podcasts, audiobooks and so on.\";s:4:\"type\";s:6:\"string\";}s:2:\"pt\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Provider
  token that enables analytics for Dynamic Links from within iTunes\nConnect.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"IosInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"iOS
  related attributes to the Dynamic Link..\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"iosAppStoreId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"iOS
  App Store ID.\";s:4:\"type\";s:6:\"string\";}s:11:\"iosBundleId\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"iOS
  bundle ID of the app.\";s:4:\"type\";s:6:\"string\";}s:15:\"iosCustomScheme\";O:8:\"stdClass\":2:{s:11:\"description\";s:158:\"Custom
  (destination) scheme to use for iOS. By default, we\u2019ll use the\nbundle ID as
  the custom scheme. Developer can override this behavior using\nthis param.\";s:4:\"type\";s:6:\"string\";}s:15:\"iosFallbackLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Link
  to open on iOS if the app is not installed.\";s:4:\"type\";s:6:\"string\";}s:15:\"iosIpadBundleId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"iPad
  bundle ID of the app.\";s:4:\"type\";s:6:\"string\";}s:19:\"iosIpadFallbackLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"If
  specified, this overrides the ios_fallback_link value on iPads.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ManagedShortLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Managed
  Short Link.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Creation
  timestamp of the short link.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:16:\"flaggedAttribute\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Attributes
  that have been flagged about this short url.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:21:\"UNSPECIFIED_ATTRIBUTE\";i:1;s:4:\"SPAM\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"info\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DynamicLinkInfo\";s:11:\"description\";s:21:\"Full
  Dyamic Link info\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Short
  durable link url, for example, \"https://sample.app.goo.gl/xyz123\".\n\nRequired.\";s:4:\"type\";s:6:\"string\";}s:8:\"linkName\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Link
  name defined by the creator.\n\nRequired.\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Visibility
  status of link.\";s:4:\"enum\";a:4:{i:0;s:22:\"UNSPECIFIED_VISIBILITY\";i:1;s:10:\"UNARCHIVED\";i:2;s:8:\"ARCHIVED\";i:3;s:11:\"NEVER_SHOWN\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"NavigationInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Information
  of navigation behavior.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"enableForcedRedirect\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"If
  this option is on, FDL click will be forced to redirect rather than\nshow an interstitial
  page.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:17:\"SocialMetaTagInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Parameters
  for social meta tag params.\nUsed to set meta tag data for link previews on social
  sites.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"socialDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"A
  short description of the link. Optional.\";s:4:\"type\";s:6:\"string\";}s:15:\"socialImageLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"An
  image url string. Optional.\";s:4:\"type\";s:6:\"string\";}s:11:\"socialTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Title
  to be displayed. Optional.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Suffix\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Short
  Dynamic Link suffix.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"customSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Only
  applies to Option.CUSTOM.\";s:4:\"type\";s:6:\"string\";}s:6:\"option\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Suffix
  option.\";s:4:\"enum\";a:4:{i:0;s:18:\"OPTION_UNSPECIFIED\";i:1;s:11:\"UNGUESSABLE\";i:2;s:5:\"SHORT\";i:3;s:6:\"CUSTOM\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
