---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:3085:\"Containers are
  virtual software objects that include all the elements that an app needs to run.
  A container has the benefits of resource isolation and allocation but is more portable
  and efficient than, for example, a virtual machine.\n\n This documentation describes
  the IBM Containers API, which is based on the Docker Remote API. The API provides
  endpoints that you can use to create and manage your single containers and container
  groups in Bluemix. Endpoints are summarized under the following tags:\n\n- **Authentication**:
  Retrieve and refresh your TLS certificates.\n- **Private Docker images registry**:
  Create your own private Docker images registry in Bluemix by setting a namespace
  for your organization.\n- **Images**: View, build, and push your images to your
  private Bluemix registry so you can use them with IBM Containers. You can also scan
  your container images with the Vulnerability Advisor against standard policies set
  by the organization manager and a database of known Ubuntu issues.\n- **Single Containers**:
  Create and manage single containers in Bluemix. Use a single container to implement
  short-lived processes or to run simple tests as you develop an app or service. To
  make your single container available from the internet, review the `Public IP addresses`
  endpoints.\n- **Container Groups**: Create and manage your container groups in Bluemix.
  A container group consists of multiple single containers that are all created from
  the same container image and as a consequence are configured in the same way. Container
  groups offer further options at no cost to make your app highly available. These
  options include in-built load balancing, auto-recovery of unhealthy container instances,
  and auto-scaling of container instances based on CPU and memory usage. Map a public
  route to your container group to make your app accessible from the internet.\n-
  **Public IP addresses**: Use these endpoints to request public IP addresses for
  your space. You can bind this IP address to your container to make your container
  accessible from the internet.\n- **File shares**: Create, list and delete file shares
  in a space. A file share is a NFS storage system that hosts Docker volumes.\n- **Volumes**:
  Create and manage container volumes in your space to persist the data of your containers.\n\n\n
  Each API request requires an HTTP header that includes the 'X-Auth-Token\u2019 and
  'X-Auth-Project-Id\u2019 parameter.\n\n- **X-Auth-Token**: The JSON web token (JWT)
  that you receive when logging into the Bluemix platform. It allows you to use the
  IBM Containers REST API, access services, and resources. Run `cf oauth-token` to
  retrieve your access token information.\n- **X-Auth-Project-Id**: The unique ID
  of your organization space where you want to create or work with your containers.
  Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space,
  to retrieve your space ID.\n\n\n For further information about how containers work
  in the IBM Containers service, review the documentation under https://new-console.ng.bluemix.net/docs/containers/container_index.html.\";s:7:\"license\";O:8:\"stdClass\":1:{s:4:\"name\";s:49:\"(C)
  Copyright IBM Corp. 2016 All Rights Reserved.\";}s:5:\"title\";s:14:\"IBM Containers\";s:7:\"version\";s:5:\"3.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"developer_tools\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_925367546471223296_t0eKqcyC_400x400.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:44:\"http://ccsapi-doc.mybluemix.net/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"bluemix.net\";s:13:\"x-serviceName\";s:10:\"containers\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"bluemix_containers\";s:4:\"type\";s:7:\"openapi\";}}"
host: containers-api.ng.bluemix.net
basePath: /v3
paths:
  /build:
    post:
      consumes:
      - application/tar
      description: 'This API builds a new container image from a Dockerfile that is
        stored on your local machine and pushes the image to the private Bluemix registry
        (corresponding IBM Containers command: `cf ic build`).nn To push an image
        to your Bluemix registry, a namespace must be set for the organization. Run
        `cf ic namespace get` or call the `GET /registry/namespaces` API to check
        if a namespace is already set. If not, run `cf ic namespace set NAMESPACE`
        or call the `PUT /registry/namespaces/{namespace}` API to set a namespace
        for your organization.'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: 'Tag the image with the full path to your private Bluemix registry
          in the following format: `t=registry.ng.bluemix.net/<namespace>/<image_name>:<tag>`.
          This path is used to push the image to the private Bluemix registry after
          it is built.'
        in: query
        name: t
        required: true
        type: string
      - description: You can choose whether or not to show the verbose build output
          to review every step during the container image build. If you set the query
          parameter to `q=false`, `q=False`, or `q=0`, the verbose build output is
          suppressed. To show the verbose build output, enter `q=true`, `q=True`,
          or `q=1`.
        in: query
        name: q
        required: false
        type: boolean
      - description: If you set the query parameter to `nocache=true`, `nocache=True`,
          or `nocache=1`, the cache will not be used to build your image. To use the
          cache, enter `nocache=false`, `nocache=False`, or `nocache=0`.
        in: query
        name: nocache
        required: false
        type: boolean
      - description: If set to pull=true, pull=True, or pull=1, then a newer version
          of the image is always attempted to be pulled even though an older version
          of the image exists locally. If set to pull=false, pull=False, or pull=0,
          then the local image will be used if one exists.
        in: query
        name: pull
        required: false
        type: boolean
      - description: Must be the content of a tar archive compressed with gzip. The
          archive must include a file called 'Dockerfile' at its root. It may include
          any number of other files which will be accessible in the build context.
        in: body
        name: file
        required: true
        schema: []
      responses:
        200:
          description: OK. The container image was built successfully and pushed to
            your private Bluemix repository. The build output stream is returned in
            JSON format.
        400:
          description: Bad request. Your could not be processed. Be sure to include
            the `t` query parameter to tag your image and that your Dockerfile has
            been tar archived with gzip.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Build a Docker image from a Dockerfile
      tags:
      - Images
      operationId: build.post
  /containers/create:
    post:
      consumes:
      - application/json
      description: 'This endpoint creates and starts a single container in your space
        based on the Docker image that is specified in the Image field of the request
        json. A single container in IBM Containers is similar to a container that
        you create in your local Docker environment. Single containers are a good
        way to start with IBM Containers and to learn about how containers work in
        the IBM Cloud and the features that IBM Containers provides. They are also
        recommended when you want to run simple app tests or during the development
        process of an app.nn In the Docker API there are two separate APIs to create
        and start a container. However in IBM Containers a container is created and
        started in a single API call. Therefore, this API merges parameters from the
        Docker API to create and start container.nn To create a container with IBM
        Containers, you must at least define the image that the container is based
        on.nn- Image: You must include the full path to the image in your private
        Bluemix registry in the format: `registry.ng.bluemix.net/<namespace>/<image>`.'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: Summary of input parameter to create a container in IBM Containers.
        in: body
        name: Param
        required: true
        schema:
          $ref: '#/definitions/CreateContainer'
      - description: Choose a name for your container. The characters in the name
          can include uppercase letters, lowercase letters, numbers, periods (.),
          underscores (_), or hyphens (-), but the name must start with a letter.
        in: query
        name: name
        required: false
        type: string
      responses:
        201:
          description: OK. The creation of a single container with the specified attributes
            has been initiated.
          schema:
            $ref: '#/definitions/ContainerId'
        400:
          description: Bad request. The data that you entered in the request body
            are either incomplete or in the wrong format. Be sure to include at least
            the Docker image that you want to use in JSON format and re-run the API
            request.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        409:
          description: ' Conflict. A container with the same name already exists.
            Choose another name for your container and re-run the API request.'
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
      summary: Create and start a single container
      tags:
      - Single containers
      operationId: containers.create.post
  /containers/floating-ips:
    get:
      description: 'This endpoint returns a list of all public IP addresses that are
        allocated to a space and not bound to a container. If you want to list all
        public IP addresses that are allocated to a space, even those that are already
        bound to a container, use the `all` query parameter (corrsponding IBM Containers
        command: `cf ic ip list`).'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: If this option is set to `all=1`, `all=True`, or `all=true`,
          all public IP addresses that are allocated to a space are returned. If this
          option is set to `all=0`, `all=False`, or `all=false`, only available public
          IP addresses that are allocated but not bound to a container are returned.
          By default, only available public IP addresses are returned.
        in: query
        name: all
        required: false
        type: boolean
      responses:
        200:
          description: OK. A list of public IP addresses that are allocated to the
            space is returned.
          schema:
            items:
              $ref: '#/definitions/FloatingIP'
            type: array
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: List available public IP addresses in a space
      tags:
      - Public IP addresses
      operationId: containers.floating_ips.get
  /containers/floating-ips/request:
    post:
      description: 'This endpoint requests a new public IP address for a space (corresponding
        IBM Containers command: `cf ic ip request`). The number of public IP addresses
        depends on the quota that is assigned to the space. If there is not enough
        quota left to request a new public IP address, you can either contact your
        organization manager to increase the quota, or unbind an existing IP address
        from a container by running `cf ic ip unbind <ip_adress> <container>` command,
        or  calling the `POST /container/{name_or_id}/floating-ips/{ip}/unbind` endpoint.'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      responses:
        200:
          description: OK. A new public IP address is allocated to your space.
          schema:
            description: New public IP address that is allocated to your space.
            type: string
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        402:
          description: Payment required. This request exceeds the quota that is allocated
            to the space. You can either contact your organization manager to increase
            the quota, or unbind an existing IP address from a container by running
            `cf ic ip unbind <ip_adress> <container>`, or calling the `POST /container/{name_or_id}/floating-ips/{ip}/unbind`
            endpoint.
        409:
          description: Conflict. This request exceeds the quota that is allocated
            to the space. You can either contact your organization manager to increase
            the quota, or unbind an existing IP address from a container by running
            `cf ic ip unbind <ip_adress> <container>`, or calling the `POST /container/{name_or_id}/floating-ips/{ip}/unbind`
            endpoint.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Request a public IP address for a space
      tags:
      - Public IP addresses
      operationId: containers.floating_ips.request.post
  /containers/floating-ips/{ip}/release:
    post:
      description: 'This endpoint releases a public IP address from a space (corresponding
        IBM Containers command: `cf ic ip release <ip_adress>`). The public IP address
        is no longer allocated to the space. If a container was bound to the IP address,
        it is automatically unbound.'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The public IP address that you want to release. Run `cf ic ip
          list` or call the `GET /containers/floating-ips?all=true` endpoint to review
          all public IP address that are allocated to your space. After a public IP
          address is released, it will no longer be allocated to your space.
        in: path
        name: ip
        required: true
        type: string
      responses:
        204:
          description: No Content. The public IP address has been released from your
            space.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not found. The public IP address that you entered, could not
            be found. Run `cf ic ip list`, or call the `GET /containers/floating-ips?all=true`
            endpoint to review your public IP addresses. Re-run the API call with
            the updated public IP address information.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Release public IP address
      tags:
      - Public IP addresses
      operationId: containers.floating_ips.ip.release.post
  /containers/groups:
    get:
      description: 'This endpoint returns a list of all container groups in a space
        independent of their current state. (corresponding IBM Containers command:
        `cf ic group list`).'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      responses:
        200:
          description: OK. A list of container groups is returned.
          schema:
            items:
              $ref: '#/definitions/ContainersGroupsGetListItem'
            type: array
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: List all container groups in a space
      tags:
      - Container Groups
      operationId: containers.groups.get
    post:
      description: 'This endpoint creates and starts a new container group in your
        space. A container group consists of two or more single containers that are
        all created from the same container image and as a consequence are configured
        in the same way. Container groups offer different options at no cost to make
        your app highly available, such as in-built load balancing, auto-recovery
        of unhealthy container instances, and auto-scaling of container instances
        based on CPU and memory usage.nnTo create a container group with IBM Containers,
        you must at least define a container group name and the image that the container
        group is based on. Required attributes:nnnnnnnnnnnnnnnnn- Name: The container
        group name must start with a letter and then can include uppercase letters,
        lowercase letters, numbers, periods (.), underscores (_), or hyphens (-).n-
        Image: You must include the full path to the image in your private Bluemix
        registry in the format:`registry.ng.bluemix.net/<namespace>/<image>`.'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: Attributes that are required to create a container group in your
          space.
        in: body
        name: RequiredAttributes
        required: true
        schema:
          $ref: '#/definitions/ContainersGroupsPostRequiredAttributes'
      responses:
        201:
          description: Created. Your container group was successfully created.
          schema:
            $ref: '#/definitions/ContainersGroupsPostCreatedInfo'
        400:
          description: Bad request. The information that you entered in the request
            body are either incomplete or in the wrong format to process your request.
            Be sure, to specify at least the name and container image for your container
            group in JSON format and re-run the REST call.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        409:
          description: Conflict. A container group with the same name already exists.
            Choose a new name for your container group and re-run the REST call.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Create and start a container group.
      tags:
      - Container Groups
      operationId: containers.groups.post
  /containers/groups/{name_or_id}:
    delete:
      description: 'Stops and deletes the container instances that run in a container
        group (corresponding IBM Containers command: `cf ic group rm <group_name>`).
        When you delete a container group, all floating private IP addresses are released.'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The name or unique ID of the container group that you want to
          delete. Run `cf ic group list` or call the `GET /containers/groups` endpoint
          to retrieve a list of container groups in your space.
        in: path
        name: name_or_id
        required: true
        type: string
      - description: 'If you want to force the deletion of a container group that
          has running container instances, use the force option. This parameter needs
          to be set to either true or false. If set to `force=true`, `force=True`,
          or `force=1`, running container instances are deleted. If set to `force=false`,
          `force=False`, or `force=0`, running container instances are not deleted.
          If you do not specify this paramater, running container instances are not
          deleted by default. '
        in: query
        name: force
        required: false
        type: string
      responses:
        204:
          description: OK. No content. The deletion of the container group was successfully
            processed.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        403:
          description: The container group cannot be deleted due to running or failed
            container instances. Set the force query parameter to `force=true`, `force=True`,
            or `force=1` and re-run the REST call to force the deletion of your container
            group.
        404:
          description: Not Found. The name or ID of the container group that you want
            to delete could not be found. Run `cf ic group list` or call the `GET
            /containers/groups` endpoint to retrieve a list of container groups in
            your space. Enter the correct name or ID and re-run the API call.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Stop and delete all container instances in a container group.
      tags:
      - Container Groups
      operationId: containers.groups.name_or_id.delete
    get:
      description: 'This endpoint retrieves detailed information about a container
        group with a given name (corresponding IBM Containers command: `cf ic group
        inspect GROUP`).'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The name or unique ID of the container group that you want to
          inspect. Run `cf ic group list` or call the `GET /containers/groups` endpoint
          to retrieve a list of container groups in your space.
        in: path
        name: name_or_id
        required: true
        type: string
      responses:
        200:
          description: OK. A detailed list of information about a container group
            is retrieved.
          schema:
            $ref: '#/definitions/ContainersGroupsNameOrIdGetDetails'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not Found. The specified name or ID of the container group
            that you want to update could not be found. Run `cf ic group list` or
            call the `GET /containers/groups` endpoint to retrieve a list of container
            groups in your space. Enter the correct name or ID and re-run the REST
            call.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Inspect a container group.
      tags:
      - Container Groups
      operationId: containers.groups.name_or_id.get
    patch:
      description: 'Update the number of container instances that run in a container
        group (corresponding IBM Containers command: `cf ic group update <option>
        <group>`).nnNote: You can run only one update at a time.nn The desired number
        is the number of container instances that you require. It must be within the
        current limits of Max and Min. To increase the number of desired container
        instances above the Max value, you must first execute an update on the Max
        value. Once this update is completed, you can increase the desired number
        of container instances.'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The name or unique ID of the container group that you want to
          update.
        in: path
        name: name_or_id
        required: true
        type: string
      - description: The container group parameter that you want to update.
        in: body
        name: Updates
        required: true
        schema:
          $ref: '#/definitions/ContainersGroupsNameOrIdPatchUpdatedInfo'
      responses:
        204:
          description: No content. The update has successfully been processed.
        400:
          description: Bad request. The information that you entered in the body of
            your request are either incomplete or in the wrong format. Be sure, to
            enter the information that you want to update in JSON format and review
            the description for each parameter to assure your desired update is valid
            and can be processed.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not Found. The name or ID of the container group that you want
            to update could not be found. Run `cf ic group list` or call the `GET
            /containers/groups` endpoint to retrieve a list of container groups in
            your space. Enter the correct name or ID and re-run the REST call.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Update a container group.
      tags:
      - Container Groups
      operationId: containers.groups.name_or_id.patch
  /containers/groups/{name_or_id}/maproute:
    post:
      description: 'If you want your container group to be accessible from the Internet,
        you need to expose a public port and map a public route to it (corresponding
        IBM Containers command: `cf ic route map -n <host> -d <domain> <group>`).
        Every route consists of the host name and domain.'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The name or unique ID of the container group to which you want
          to map a public route. Run `cf ic group list` or call the `GET /containers/groups`
          endpoint to retrieve a list of container groups in your space.
        in: path
        name: name_or_id
        required: true
        type: string
      - description: The public route that is mapped to the container group. A public
          route consists of the host name and domain.
        in: body
        name: Route
        required: true
        schema:
          $ref: '#/definitions/Route'
      responses:
        201:
          description: OK. The route that you specified was successfully mapped to
            the container group.
          schema:
            $ref: '#/definitions/ContainersGroupsNameOrIdMaproutePostInfo'
        400:
          description: Bad request. The information that you entered in the body request
            is either incomplete or in the wrong format. To map a route enter the
            domain and host name in JSON format. Be sure, that you have exposed a
            public port when you created the container group, otherwise you cannot
            map a public route to it.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not Found. The name or ID of the container group to which you
            want to map a public route could not be found. Run `cf ic group list`
            or call the `GET /containers/groups` endpoint to retrieve a list of container
            groups in your space. Enter the correct name or ID and re-run the REST
            call.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Map a public route to a container group.
      tags:
      - Container Groups
      operationId: containers.groups.name_or_id.maproute.post
  /containers/groups/{name_or_id}/unmaproute:
    post:
      description: 'This endpoint unmaps a public route from a container group (corresponding
        IBM Containers command: `cf ic route unmap -n <host> -d <domain> <group>`).
        If no other public route is mapped to the container group, then the container
        group is no longer available from the internet.nn When you unmap a route from
        a container group, the route is not deleted and can be mapped to other container
        groups.'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The name or unique ID (UUID) of the container group that you
          want to inspect.
        in: path
        name: name_or_id
        required: true
        type: string
      - description: The public route that is unmapped from the container group. A
          public route consists of the host name and domain.
        in: body
        name: Route
        required: true
        schema:
          $ref: '#/definitions/Route'
      responses:
        201:
          description: OK. The route that you specified was successfully unmapped
            from the container group.
          schema:
            $ref: '#/definitions/ContainersGroupsNameOrIdMaproutePostInfo'
        400:
          description: Bad request. The information that you entered in the body of
            your request is either incomplete or in the wrong format. To unmap a route,
            enter the domain and host name in JSON format and re-run the REST call.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not Found. The name or ID of the container group from which
            you want to unmap a public route could not be found. Enter the correct
            name or ID and re-run the REST call.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Unmap a public route from a container group
      tags:
      - Container Groups
      operationId: containers.groups.name_or_id.unmaproute.post
  /containers/json:
    get:
      description: 'This endpoint returns a list of all single containers in a space
        that are currently in a running state (corresponding IBM Containers command:
        `cf ic ps`). To list all single containers independent of their current state,
        set the `all` query parameter to true.'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: 'By default, the `GET /containers/json` endpoint returns a list
          of all single containers in a space that are in a running state. To request
          a list of all containers independent of their current state, set the `all`
          query parameter to true. Allowed values are: `all=true`, `all=True`, and
          `all=1`. '
        in: query
        name: all
        required: false
        type: string
      - description: You can filter your containers by any environment variable key
          or value that is listed in the `Env` section of your CLI/ API response when
          you run the `cf ic inspect <container>` command, or call the `GET /containers/{id}/json`
          endpoint. Your search criteria does not need to be an exact match. It can
          also be a part of the key or value you are looking for. For example, to
          filter all containers with an environment variable that contains `id` in
          one of their environment variables, use `filter=id`.
        in: query
        name: filters
        required: false
        type: string
      responses:
        200:
          description: OK. A list of single containers that match the search criteria
            is returned.
          schema:
            items:
              $ref: '#/definitions/Container'
            type: array
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
      summary: List single containers in a space.
      tags:
      - Single containers
      operationId: containers.json.get
  /containers/messages:
    get:
      description: This endpoint retrieves all IBM Containers system messages for
        the user.
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: 'The unique ID of your organization space where you want to create
          or work with your containers. To retrieve your space ID, run `cf space <space_name>
          --guid` and replace `<space_name>` with the name of the space where you
          want to create or work with your container. '
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      responses:
        200:
          description: OK. A list of messages is returned.
          schema:
            properties:
              created_date:
                description: Timestamp when the message was created.
                type: string
              message:
                description: Important information for the IBM Containers user.
                type: string
            type: object
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: List messages for the user
      tags:
      - API info
      operationId: containers.messages.get
  /containers/quota:
    get:
      description: Retrieve the quota that is assigned to the organization and space.
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      responses:
        200:
          description: 'OK. The current quota that is assigned to the organization
            and space is returned. '
          schema:
            $ref: '#/definitions/ContainersQuotaInfo'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Retrieve organization and space specific quota
      tags:
      - Quota
      operationId: containers.quota.get
    put:
      description: 'This endpoint updates the quota that is allocated to a Bluemix
        space.nn **Note**: Only paid accounts are eligbile to update the space quota.
        If you are using a free-trial account, upgrade to a paid account first.'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The space quota details that you want to update.
        in: body
        name: ContainersQuotaList
        required: true
        schema:
          $ref: '#/definitions/ContainersQuotaList'
      responses:
        204:
          description: 'No content. The request to update the organization and/ or
            space quota has been processed. '
        400:
          description: 'Bad request. The '
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Update space quota
      tags:
      - Quota
      operationId: containers.quota.put
  /containers/usage:
    get:
      description: 'This endpoint returns a list of available container sizes and
        the quota limit and usage for the space.nn- Container sizes: A list of available
        container sizes indicating the amount of container memory, disk space and
        virtual CPUs that can be assigned to the container.n- Quota limit: Lists the
        number of containers, public IP addresses, available container memory, and
        virtual CPUS that are allocated to a space.n- Quota usage: Lists the current
        number of containers, images, and public IP addresses in a space that is counted
        towards your quota limit.'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      responses:
        200:
          description: 'OK. A list of available container sizes as well as the quota
            limit and usage for a space is returned. '
          schema:
            $ref: '#/definitions/ContainersUsageInfo'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: List container sizes and quota limits
      tags:
      - Quota
      operationId: containers.usage.get
  /containers/version:
    get:
      description: This endpoint retrieves a list of all microservices that are used
        in the IBM Containers service with their current build version. This method
        does not require authentication.
      responses:
        200:
          description: OK. A list of the current API and microservices versions is
            returend.
          schema:
            $ref: '#/definitions/ContainersVersionGetInfo'
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: List latest API version
      tags:
      - API info
      operationId: containers.version.get
  /containers/{id}/status:
    get:
      consumes:
      - application/json
      description: This endpoint returns the current state of a container. This state
        can either be a transient state, such as BUILDING and NETWORKING, or a non-transient
        state, such as RUNNING, SHUTDOWN, CRASHED, or SUSPENDED.
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The unique identifier that represents the container. Run `cf
          ic ps`, or call the `GET /containers/json` endpoint to retrieve the ID of
          the container.
        in: path
        name: id
        required: true
        type: string
      responses:
        201:
          description: OK. The current status of a container is returned.
          schema:
            $ref: '#/definitions/getContainerStatus'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not Found. The container could not be found. Run `cf ic ps`
            or call the `GET /containers/json` endpoint to review the ID of your container.
        500:
          description: 'Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support. '
      summary: List the current state of a container.
      tags:
      - Single containers
      operationId: containers.id.status.get
  /containers/{name_or_id}:
    delete:
      description: 'Remove a single container that is identified by container ID or
        name from a space (corresponding IBM Containers command: `cf ic delete <container>`).
        The container must be stopped before it can be deleted, unless the `force`
        query parameter is set to true.'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The unique identifier or name of the container that you want
          to delete. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
          endpoint to review all containers in your space.
        in: path
        name: name_or_id
        required: true
        type: string
      - description: Use the `force` query parameter if you want to delete the container
          independent of their current state. The container does not need to be stopped
          first. To force the deletion of a container, enter `force=true`, `force=True`,
          or `force=1`. If you want to delete containers that are in a non-running
          state only, do either not set this query parameter, or enter `force=false`,
          `force=False`, or `force=0`.
        in: query
        name: force
        required: false
        type: boolean
      responses:
        204:
          description: No Content. The deletion of your container has been initiated.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
            endpoint to review the ID and name of your container.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Remove a single container
      tags:
      - Single containers
      operationId: containers.name_or_id.delete
  /containers/{name_or_id}/floating-ips/{ip}/bind:
    post:
      description: 'This endpoint binds an available public IP address to a single
        container (corresponding IBM Containers command: `cf ic ip bind <ip_adress>
        <container>`). After a container is bound to a public IP address, it can be
        accessed at `https://<public_ip_adress>:<public_port>`.'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The name or ID of the container that you want to bind to the
          public IP address. Run the `cf ic ps` command or call the `GET /containers/json`
          endpoint to retrieve a list of containers in your space.
        in: path
        name: name_or_id
        required: true
        type: string
      - description: 'The public IP address that you want to bind to your container.nnNote:
          The public IP address must be available in the space and not bound to a
          container. Run `cf ic ip list` or call the `GET /containers/floating-ips`
          endpoint.'
        in: path
        name: ip
        required: true
        type: string
      responses:
        204:
          description: No Content. Your request to bind a public IP address to a container
            has successfully been processed.
        304:
          description: Not modified. The container is already bound to a public IP
            address. To view the details of your container, run `cf ic inspect <container>`
            or call the `GET /containers/{name_or_id}/json endpoint.
        400:
          description: Bad request. The IP address that you entered does not exist.
            Run `cf ic ip list` or call the `GET /containers/floating-ips` endpoint
            to retrieve a list of available public IP addresses in your space.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: 'Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
            endpoint to review the ID and name of your container. '
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Bind a public IP address to a single container
      tags:
      - Public IP addresses
      operationId: containers.name_or_id.floating_ips.ip.bind.post
  /containers/{name_or_id}/floating-ips/{ip}/unbind:
    post:
      description: 'This endpoint unbinds a public IP address from a container (corresponding
        IBM Containers command: `cf ic ip unbind <ip_adress> <container>`). The container
        that is unbound from the IP address will not be accessible from the internet
        anymore. The public IP address will be further allocated to the space and
        can be used to be bound to other containers. '
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: 'The name or ID of the container that you want to bind to the
          public IP address. Run the `cf ic ps` command or call the `GET /containers/json`
          endpoint to retrieve a list of containers in your space. '
        in: path
        name: name_or_id
        required: true
        type: string
      - description: 'The public IP address that you want to unbind from your container.nn
          Note: After unbinding a public IP address, this IP address will still be
          allocated to the space and can be used to be bound to other containers.'
        in: path
        name: ip
        required: true
        type: string
      responses:
        204:
          description: No Content. Your request to unbind a public IP address from
            a container has successfully been processed.
        400:
          description: Bad request. The IP address that you entered does not exist.
            Run `cf ic ip list` or call the `GET /containers/floating-ips` endpoint
            to retrieve a list of available public IP addresses in your space.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: 'Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
            endpoint to review the ID and name of your container. '
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Unbind a public IP address from a container
      tags:
      - Public IP addresses
      operationId: containers.name_or_id.floating_ips.ip.unbind.post
  /containers/{name_or_id}/json:
    get:
      description: 'This endpoint retrieves detailed information about a single container
        (corresponding IBM Containers command: `cf ic inspect <container>`).'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The name or ID of the container that you want to inspect. Run
          the `cf ic ps` command or call the `GET /containers/json` endpoint to retrieve
          a list of containers in your space.
        in: path
        name: name_or_id
        required: true
        type: string
      responses:
        200:
          description: 'OK. A list with detailed information about the container is
            returned. '
          schema:
            $ref: '#/definitions/ContainerInfo'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not Found. The container name or ID that you entered, could
            not be found. Run the `cf ic ps` command or call the `GET /containers/json`
            to review the name or ID of the container that you want to inspect.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Inspect a single container
      tags:
      - Single containers
      operationId: containers.name_or_id.json.get
  /containers/{name_or_id}/pause:
    post:
      description: 'Pause all processes in a running single container with a given
        container ID or name (corresponding IBM Containers command: `cf ic pause <container>`).'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The unique identifier or name of the container that you want
          to pause. Run `cf ic ps` or call the `GET /containers/json` endpoint to
          review all containers in your space that are currently in a running state.
        in: path
        name: name_or_id
        required: true
        type: string
      responses:
        204:
          description: No Content. The pausing of all processes inside the container
            has been initiated.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps` or call the `GET /containers/json` endpoint
            to review the ID and name of your container.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Pause a single container
      tags:
      - Single containers
      operationId: containers.name_or_id.pause.post
  /containers/{name_or_id}/rename:
    post:
      description: 'Change the current name of an existing single container that is
        identified by the container ID or name (corresponding IBM Containers command:
        `cf ic rename <old_name> <new_name>`). '
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The unique identifier or name of the container that you want
          to rename. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
          endpoint to review all containers in your space.
        in: path
        name: name_or_id
        required: true
        type: string
      - description: The new name for the container. The characters in the name can
          include uppercase letters, lowercase letters, numbers, periods (.), underscores
          (_), or hyphens (-), but the name must start with a letter.
        in: query
        name: name
        required: true
        type: string
      responses:
        204:
          description: No Content. The request to rename the container has been initiated.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
            endpoint to review the ID and name of your container.
        409:
          description: 'Conflict. A container with the same name already exists. Choose
            another name for your container and re-run the API call. '
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Rename a single container
      tags:
      - Single containers
      operationId: containers.name_or_id.rename.post
  /containers/{name_or_id}/restart:
    post:
      description: 'Restart a container with a given container ID or name (corresponding
        IBM Containers command: `cf ic restart <container>`).'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The unique identifier or name of the container that you want
          to restart. Run `cf ic ps` or call the `GET /containers/json` endpoint to
          review all containers in your space.
        in: path
        name: name_or_id
        required: true
        type: string
      - description: The number of seconds to wait before the container is restarted.
          For example, if you want a container to restart after 10 seconds, enter
          `t=10`.
        in: query
        name: t
        required: false
        type: integer
      responses:
        204:
          description: No Content. The restart of the container has been initiated.
        304:
          description: Not Modified. A request to restart the container with the specified
            name or ID has already been initiated. To review the current state of
            your container, run `cf ic ps` or call the `GET /containers/json` endpoint.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps` or call the `GET /containers/json` endpoint
            to review the ID and name of your container.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Restart a single container
      tags:
      - Single containers
      operationId: containers.name_or_id.restart.post
  /containers/{name_or_id}/start:
    post:
      description: 'Start a single container with a given container name or ID (corresponding
        IBM Containers command: `cf ic start <container>`).'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The unique identifier or name of the container that you want
          to start. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
          endpoint to review the containers in your space that are currently not in
          a running state.
        in: path
        name: name_or_id
        required: true
        type: string
      responses:
        204:
          description: No Content. The start of the container has been initiated.
        304:
          description: Not Modified. A request to start the container with the specified
            name or ID has already been initiated. To review the current state of
            your container, run `cf ic ps` or call the `GET /containers/json` endpoint.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
            endpoint to review the ID and name of your container.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Start a single container
      tags:
      - Single containers
      operationId: containers.name_or_id.start.post
  /containers/{name_or_id}/stop:
    post:
      description: 'Stop a single container with a given container name or ID (corresponding
        IBM Containers command: `cf ic stop <container>`).'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The unique identifier or name of the container that you want
          to stop. Run `cf ic ps` or call the `GET /containers/json` endpoint to review
          the containers in your space that are currently in a running state.
        in: path
        name: name_or_id
        required: true
        type: string
      - description: The number of seconds to wait before the container is stopped.
          For example, if you want a container to stop after 10 seconds, enter `t=10`.
        in: query
        name: t
        required: false
        type: integer
      responses:
        204:
          description: No Content. The stop of the container has been initiated.
        304:
          description: Not Modified. A request to stop the container with the specified
            name or ID has already been initiated. To review the current state of
            your container, run `cf ic ps` or call the `GET /containers/json` endpoint.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps` or call the `GET /containers/json` endpoint
            to review the ID and name of your container.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Stop a single container
      tags:
      - Single containers
      operationId: containers.name_or_id.stop.post
  /containers/{name_or_id}/unpause:
    post:
      description: 'Unpause all processes that are currently stopped inside a single
        containers with a given container ID or name (corresponding IBM Containers
        command: `cf ic unpause <container>`).'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The unique identifier or name of the container that you want
          to unpause. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
          endpoint to review all containers in your space.
        in: path
        name: name_or_id
        required: true
        type: string
      responses:
        204:
          description: No Content. The unpausing of all processes inside the container
            has been initiated.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not Found. The container with the specified name or ID could
            not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true`
            endpoint to review the ID and name of your container.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Unpause a single container
      tags:
      - Single containers
      operationId: containers.name_or_id.unpause.post
  /images/json:
    get:
      description: 'This endpoint returns a list of all available Docker images in
        a private Bluemix registry (corresponding IBM Containers command: `cf ic images`.'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      responses:
        200:
          description: OK. A list of all available Docker images in the private Bluemix
            registry is returned.
          schema:
            $ref: '#/definitions/ImageInfo'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: List all Docker images that are available in your private Bluemix registry.
      tags:
      - Images
      operationId: images.json.get
  /images/{id}:
    delete:
      description: 'Remove a Docker image from the private Bluemix registry that is
        identified by the image ID (corresponding IBM Containers command: `cf ic rmi
        <image>`).'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The unique identifier representing a Docker image. Run `cf ic
          images`, or call the `GET /images/json` endpoint to review the Docker images
          that are available in your private Bluemix registry.
        in: path
        name: id
        required: true
        type: string
      responses:
        204:
          description: No Content. The image was successfully removed from your private
            Bluemix registry.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not found. The specified Docker image ID could not be found.
            Run `cf ic images` or call the `GET /images/json` endpoint to list all
            images in your private Bluemix registry. Note the ID of the image that
            you want to delete.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Remove a Docker image.
      tags:
      - Images
      operationId: images.id.delete
  /images/{name_or_id}/json:
    get:
      description: 'This endpoint returns detailed information about a Docker image
        that is stored in the private Bluemix registry of an organization (corresponding
        IBM Containers command: `cf ic inspect <image_name_or_id>`).'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: 'The full private Bluemix registry path to your image or the
          unique ID of the image that you want to inspect. Run `cf ic images` or call
          the `GET /images/json` endpoint to review the images in your private Bluemix
          registry. '
        in: path
        name: name_or_id
        required: true
        type: string
      responses:
        200:
          description: OK. A list of details about the container image is returned.
          schema:
            $ref: '#/definitions/ImageDetail'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: The specified image name or ID could not be found. Run `cf
            ic images` or call the `GET /images/json` endpoint to retrieve the name
            or ID of your image.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Inspect a Docker image in private Bluemix registry
      tags:
      - Images
      operationId: images.name_or_id.json.get
  /registry/namespaces:
    get:
      description: 'This endpoint retrieves the namespace that was set for the organization
        that owns the current space (corresponding IBM Containers command: `cf ic
        namespace get`).'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      responses:
        200:
          description: OK. The namespace of the organization is returned.
          schema:
            $ref: '#/definitions/Namespace'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not found. A namespace could not be found for the organization.
            Set a namespace by running `cf ic namespace set <namespace>`, or calling
            the `PUT /registry/namespaces/<namespace>` endpoint.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Retrieve the namespace of an organization.
      tags:
      - Private Docker images registry
      operationId: registry.namespaces.get
  /registry/namespaces/{namespace}:
    get:
      description: This endpoint checks whether a namespace is available in Bluemix
        and can be used to set up the private Docker images registry for an organization.
        When a HTTP code `201 Ok` is returned, the namespace is already assigned to
        another organization in Bluemix and cannot be used. When a HTTP code `404
        Not found` is returned, the namespace can be used for your organization.nn
        Consider the following rules when choosing a namespace for your organization:nn-
        Every organization can have one namespace at a time onlyn- The namespace must
        be unique in Bluemix.n- The namespace can be 4-30 characters long.n- The namespace
        must start with at least one letter or number.n- The namespace can only contain
        lowercase letters, numbers or underscores (_).
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: The name of the namespace that you would like to use for your
          organization and for which you would like to check availability in Bluemix.
        in: path
        name: namespace
        required: true
        type: string
      responses:
        200:
          description: OK. The namespace that you chose is already used in Bluemix.
            Choose another namespace and re-run the API call.
          schema:
            $ref: '#/definitions/Namespace'
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        404:
          description: Not found. The namespace that you chose does not exist. You
            can use it to set it for your organization by running `cf ic namespace
            set <namespace>`, or calling the `PUT /registry/namespaces/<namespace>`
            endpoint.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Check the availability of a namespace
      tags:
      - Private Docker images registry
      operationId: registry.namespaces.namespace.get
    put:
      description: 'Set up your own Docker images registry in Bluemix by defining
        a namespace for your organization (corresponding IBM Containers command: `cf
        ic namespace set <namespace>`). The namespace is used to generate a unique
        URL to your private Bluemix registry. In your private registry you store all
        Docker images that you want to share across your organization. To create a
        container from an image, you must first push the image to your registry.nn
        The namespace cannot be changed after is has been set. Consider the following
        rules to choose a namespace for your organization:nn- Every organization can
        have one namespace at a time onlyn- The namespace must be unique in Bluemix.n-
        The namespace can be 4-30 characters long.n- The namespace must start with
        at least one letter or number.n- The namespace can only contain lowercase
        letters, numbers or underscores (_).'
      parameters:
      - description: The Bluemix JSON web token that you receive when logging into
          Bluemix. Run `cf oauth-token` to retrieve your access token.
        in: header
        name: X-Auth-Token
        required: true
        type: string
      - description: The unique ID of your organization space where you want to create
          or work with your containers. Run `cf space <space_name> --guid`, where
          `<space_name>` is the name of your space, to retrieve your space ID.
        in: header
        name: X-Auth-Project-Id
        required: true
        type: string
      - description: 'The name for your namespace to create your private Docker images
          registry in Bluemix. You cannot change the name afterward. The namespace
          can be 4-30 characters long, must start with at least one letter or number,
          and can only contain lowercase letters, numbers or underscores (_). You
          can test the availability of your namespace by calling the `GET /registry/namespaces/<namespace>`
          endpoint. When a HTTP code `404 Not Found` is returned, the namespace is
          available in Bluemix. '
        in: path
        name: namespace
        required: true
        type: string
      responses:
        201:
          description: OK. The namespace is successfully set for your organization.
          schema:
            $ref: '#/definitions/Namespace'
        400:
          description: Bad request. The specified namespace does not meet the Bluemix
            namespace requirements. The namespace can be 4-30 characters long, must
            start with at least one letter or number, and can only contain lowercase
            letters, numbers or underscores (_). Verify your namespace and re-run
            the API request.
        401:
          description: Authentication failed. The Access Token is invalid, or the
            Space ID that you entered could not be found. Run `cf oauth-token` to
            retrieve your access token. Run `cf space <space_name> --guid`, where
            `<space_name>` is the name of your space, to retrieve your space ID.
        409:
          description: Conflict. The namespace that you chose either already exists
            in Bluemix, or a namespace is already been set for your organization.
            Run `cf ic namespace get` or call the `GET /registry/namespaces` endpoint
            to retrieve your namespace information. If a namespace is not yet set
            for your organization, choose another name. You can test the namespace
            by calling the `GET /registry/namespaces/<namespace>` endpoint. Re-run
            the API call with the updated namespace.
        500:
          description: Internal Server Error. The IBM Containers service is currently
            unavailable. Your request could not be processed. Please wait a few minutes
            and try again. If you still encounter this problem, note the incident
            ID and contact the IBM Bluemix support.
      summary: Set a namespace for your private Bluemix registry.
      tags:
      - Private Docker images registry
      operationId: registry.namespaces.namespace.put
  /tlskey:
    get:
      description: 'This endpoint returns the TLS (Transport Layer Security) certificate
        to the user (corresponding IBM Containers command: `cf ic login`). The TLS
        certificate is a SSL certificate that is used to authenticate the user''s
        CLI with the IBM Containers service and to establish a secure communication
[...]
