---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:7:\"nfldata\";}s:11:\"description\";s:21:\"NBA
  play-by-play API.\";s:5:\"title\";s:19:\"NBA v3 Play-by-Play\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:13:\"entertainment\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:80:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:66:\"https://fantasydata.com/downloads/swagger/nba-v3-play-by-play.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"fantasydata.net\";s:13:\"x-serviceName\";s:19:\"nba-v3-play-by-play\";}"
host: api.fantasydata.net
basePath: /v3/nba/pbp
paths:
  /{format}/PlayByPlay/{gameid}:
    get:
      operationId: PlayByPlay
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: The GameID of an NBA game.  GameIDs can be found in the Games
          API.  Valid entries are <code>14620</code>, <code>16905</code>, etc.
        in: path
        name: gameid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/PlayByPlay'
      summary: Play By Play
  /{format}/PlayByPlayDelta/{date}/{minutes}:
    get:
      operationId: PlayByPlayDelta
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the game(s).n<br>Examples: <code>2016-OCT-31</code>,
          <code>2017-JAN-15</code>.'
        in: path
        name: date
        required: true
        type: string
      - description: Only returns plays that have changed in the last X minutes.  You
          specify how many minutes in time to go back.  Valid entries are:n<code>1</code>,
          <code>2</code> ... <code>all</code>.
        in: path
        name: minutes
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayByPlay'
            type: array
      summary: Play By Play Delta
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:4:\"Game\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":31:{s:10:\"Attendance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"AwayTeam\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"AwayTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"AwayTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"AwayTeamScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Channel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"GameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalAwayTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalHomeTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"HomeTeam\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"HomeTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"HomeTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"HomeTeamScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"IsClosed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"LastPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"OverUnder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PointSpread\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"PointSpreadAwayTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"PointSpreadHomeTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Quarter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Quarters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Quarter\";}s:4:\"type\";s:5:\"array\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"StadiumID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"TimeRemainingMinutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"TimeRemainingSeconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Play\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":29:{s:18:\"AssistedByPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"AwayTeamScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"BlockedByPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"FastBreak\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"HomeTeamScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Opponent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"OpponentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"PlayID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Points\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"PotentialPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"QuarterID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"QuarterName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ReceivingTeam\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ReceivingTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Sequence\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"ShotMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"SideOfBasket\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"SubstituteInPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"SubstituteOutPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"TimeRemainingMinutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"TimeRemainingSeconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"PlayByPlay\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Game\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Game\";}s:5:\"Plays\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Play\";}s:4:\"type\";s:5:\"array\";}s:8:\"Quarters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Quarter\";}s:4:\"type\";s:5:\"array\";}}}s:7:\"Quarter\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"AwayScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"GameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"HomeScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Number\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"QuarterID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}"
...
