---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:7:\"nfldata\";}s:5:\"title\";s:30:\"MLB
  v3 RotoBaller Premium News\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:13:\"entertainment\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:80:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:77:\"https://fantasydata.com/downloads/swagger/mlb-v3-rotoballer-premium-news.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"fantasydata.net\";s:13:\"x-serviceName\";s:30:\"mlb-v3-rotoballer-premium-news\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:42:\"fantasydata_mlb_v3_rotoballer_premium_news\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.fantasydata.net
basePath: /v3/mlb/news-rotoballer
paths:
  /{format}/RotoBallerPremiumNews:
    get:
      operationId: PremiumNews
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: Premium News
  /{format}/RotoBallerPremiumNewsByDate/{date}:
    get:
      operationId: PremiumNewsByDate
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the news.n<br>Examples: <code>2017-JUL-31</code>,
          <code>2017-SEP-01</code>.'
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: Premium News by Date
  /{format}/RotoBallerPremiumNewsByPlayerID/{playerid}:
    get:
      operationId: PremiumNewsByPlayer
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      - description: Unique FantasyData Player ID.nExample:<code>10000507</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: Premium News by Player
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:4:\"News\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":16:{s:6:\"Author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Categories\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"NewsID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"PlayerID2\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Team2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"TeamID2\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"TermsOfUse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"TimeAgo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
