---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:7:\"nfldata\";}s:5:\"title\";s:16:\"Soccer
  v3 Scores\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:13:\"entertainment\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:80:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:63:\"https://fantasydata.com/downloads/swagger/soccer-v3-scores.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"fantasydata.net\";s:13:\"x-serviceName\";s:16:\"soccer-v3-scores\";}"
host: api.fantasydata.net
basePath: /v3/soccer/scores
paths:
  /{format}/ActiveMemberships:
    get:
      operationId: MembershipsActive
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Membership'
            type: array
      summary: Memberships (Active)
  /{format}/Areas:
    get:
      operationId: AreasCountries
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Area'
            type: array
      summary: Areas (Countries)
  /{format}/CompetitionDetails/{competition}:
    get:
      operationId: CompetitionFixturesLeagueDetails
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      - description: 'An indication of a soccer competition/league. This value can
          be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>,
          <code>1</code>, <code>MLS</code>, <code>8</code>, etc.'
        in: path
        name: competition
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/CompetitionDetail'
      summary: Competition Fixtures (League Details)
  /{format}/CompetitionHierarchy:
    get:
      operationId: CompetitionHierarchyLeagueHierarchy
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Area'
            type: array
      summary: Competition Hierarchy (League Hierarchy)
  /{format}/Competitions:
    get:
      operationId: CompetitionsLeagues
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Competition'
            type: array
      summary: Competitions (Leagues)
  /{format}/GamesByDate/{date}:
    get:
      operationId: GamesByDate
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the game(s).n<br>Examples: <code>2017-02-27</code>,
          <code>2017-09-01</code>.'
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Game'
            type: array
      summary: Games by Date
  /{format}/HistoricalMemberships:
    get:
      operationId: MembershipsHistorical
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Membership'
            type: array
      summary: Memberships (Historical)
  /{format}/HistoricalMembershipsByTeam/{teamid}:
    get:
      operationId: MembershipsByTeamHistorical
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      - description: Unique FantasyData Team ID. nExample:<code>516</code>.
        in: path
        name: teamid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Membership'
            type: array
      summary: Memberships by Team (Historical)
  /{format}/MembershipsByTeam/{teamid}:
    get:
      operationId: MembershipsByTeamActive
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      - description: Unique FantasyData Team ID. nExample:<code>516</code>.
        in: path
        name: teamid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Membership'
            type: array
      summary: Memberships by Team (Active)
  /{format}/Player/{playerid}:
    get:
      operationId: Player
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      - description: Unique FantasyData Player ID.nExample:<code>90026231</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Player'
      summary: Player
  /{format}/Players:
    get:
      operationId: Players
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Player'
            type: array
      summary: Players
  /{format}/PlayersByTeam/{teamid}:
    get:
      operationId: PlayersByTeam
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      - description: Unique FantasyData Team ID. nExample:<code>516</code>.
        in: path
        name: teamid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Player'
            type: array
      summary: Players by Team
  /{format}/Schedule/{roundid}:
    get:
      operationId: Schedule
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      - description: 'Unique FantasyData Round ID. RoundIDs can be found in the Competition
          Hierarchy (League Hierarchy). nExamples: <code>1</code>, <code>2</code>,
          <code>3</code>, etc'
        in: path
        name: roundid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Game'
            type: array
      summary: Schedule
  /{format}/SeasonTeams/{seasonid}:
    get:
      operationId: SeasonTeams
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      - description: 'Unique FantasyData Season ID. SeasonIDs can be found in the
          Competition Hierarchy (League Hierarchy). nExamples: <code>1</code>, <code>2</code>,
          <code>3</code>, etc'
        in: path
        name: seasonid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/SeasonTeam'
            type: array
      summary: Season Teams
  /{format}/Standings/{roundid}:
    get:
      operationId: Standings
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      - description: 'Unique FantasyData Round ID. RoundIDs can be found in the Competition
          Hierarchy (League Hierarchy). nExamples: <code>1</code>, <code>2</code>,
          <code>3</code>, etc'
        in: path
        name: roundid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Standing'
            type: array
      summary: Standings
  /{format}/TeamGameStatsByDate/{date}:
    get:
      operationId: TeamGameStatsByDate
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the game(s).n<br>Examples: <code>2017-02-27</code>,
          <code>2017-09-01</code>.'
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/TeamGame'
            type: array
      summary: Team Game Stats by Date
  /{format}/TeamSeasonStats/{roundid}:
    get:
      operationId: TeamSeasonStats
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      - description: 'Unique FantasyData Round ID. RoundIDs can be found in the Competition
          Hierarchy (League Hierarchy). nExamples: <code>1</code>, <code>2</code>,
          <code>3</code>, etc'
        in: path
        name: roundid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/TeamSeason'
            type: array
      summary: Team Season Stats
  /{format}/Teams:
    get:
      operationId: Teams
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Team'
            type: array
      summary: Teams
  /{format}/UpcomingScheduleByPlayer/{playerid}:
    get:
      operationId: UpcomingScheduleByPlayer
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      - description: Unique FantasyData Player ID.nExample:<code>90026231</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Game'
            type: array
      summary: Upcoming Schedule By Player
  /{format}/Venues:
    get:
      operationId: Venues
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Venue'
            type: array
      summary: Venues
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":15:{s:4:\"Area\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"AreaId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"Competitions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Competition\";}s:4:\"type\";s:5:\"array\";}s:11:\"CountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"Competition\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"AreaId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"AreaName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"CompetitionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Seasons\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Season\";}s:4:\"type\";s:5:\"array\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"CompetitionDetail\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"AreaId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"AreaName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"CompetitionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"CurrentSeason\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Season\";}s:6:\"Format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Games\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Game\";}s:4:\"type\";s:5:\"array\";}s:6:\"Gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Seasons\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Season\";}s:4:\"type\";s:5:\"array\";}s:5:\"Teams\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TeamDetail\";}s:4:\"type\";s:5:\"array\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Game\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":47:{s:10:\"Attendance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"AwayTeamCountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"AwayTeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"AwayTeamKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"AwayTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"AwayTeamName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"AwayTeamPointSpreadPayout\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"AwayTeamScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"AwayTeamScoreExtraTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"AwayTeamScorePenalty\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"AwayTeamScorePeriod1\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"AwayTeamScorePeriod2\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Clock\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"DrawMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"GameId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalAwayTeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalGameId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalHomeTeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Group\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"HomeTeamCountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"HomeTeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"HomeTeamKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"HomeTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"HomeTeamName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"HomeTeamPointSpreadPayout\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"HomeTeamScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"HomeTeamScoreExtraTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"HomeTeamScorePenalty\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"HomeTeamScorePeriod1\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"HomeTeamScorePeriod2\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"OverPayout\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"OverUnder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Period\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"PointSpread\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"RoundId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"UnderPayout\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"UpdatedUtc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"VenueId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"VenueType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Week\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Winner\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"Membership\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"Active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"EndDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"MembershipId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"PlayerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"PlayerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"StartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"TeamArea\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"TeamName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Player\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":27:{s:9:\"BirthCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"BirthCountry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"BirthDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"CommonName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"DraftKingsPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"FirstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Foot\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Height\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"InjuryBodyPart\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"InjuryNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"InjuryStartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"InjuryStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Jersey\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"LastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Nationality\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"PhotoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"PlayerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"PositionCategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"RotoWirePlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"ShortName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"UsaTodayHeadshotNoBackgroundUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"UsaTodayHeadshotUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"UsaTodayPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:5:\"Round\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"CurrentRound\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"CurrentWeek\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"EndDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"RoundId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"SeasonId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"StartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Season\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"CompetitionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"CompetitionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"CurrentSeason\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"EndDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Rounds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Round\";}s:4:\"type\";s:5:\"array\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"SeasonId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"StartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"SeasonTeam\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"Active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"Gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"SeasonId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"SeasonTeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Team\";}s:6:\"TeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"TeamName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Standing\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:5:\"Draws\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Games\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GoalsAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"GoalsDifferential\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"GoalsScored\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Losses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Points\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"RoundId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Scope\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ShortName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"StandingId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"TeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Wins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"[Order]\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:4:\"Team\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":28:{s:6:\"Active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"Address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"AreaId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"AreaName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ClubColor1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ClubColor2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ClubColor3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Fax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Founded\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"FullName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"GlobalTeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Nickname1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Nickname2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Nickname3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"VenueId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"VenueName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"WikipediaLogoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"WikipediaWordMarkUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"[Key]\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"TeamDetail\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":29:{s:6:\"Active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"Address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"AreaId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"AreaName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ClubColor1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ClubColor2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ClubColor3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Fax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Founded\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"FullName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"GlobalTeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Nickname1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Nickname2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Nickname3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Players\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Player\";}s:4:\"type\";s:5:\"array\";}s:6:\"TeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"VenueId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"VenueName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"WikipediaLogoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"WikipediaWordMarkUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"[Key]\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"TeamGame\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":59:{s:7:\"Assists\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"BlockedShots\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"CornersWon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Crosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"DefenderCleanSheets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"FantasyPointsMondogoal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Fouled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Fouls\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"GameId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Games\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalGameId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalOpponentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalTeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"GoalkeeperCleanSheets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"GoalkeeperGoalsAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"GoalkeeperSaves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"GoalkeeperSingleGoalAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"GoalkeeperWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Goals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"HomeOrAway\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"Interceptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"IsGameOver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"LastManTackle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Minutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Offsides\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Opponent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"OpponentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"OpponentScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"OwnGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Passes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PassesCompleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"PenaltiesConceded\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PenaltiesWon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PenaltyKickGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"PenaltyKickMisses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PenaltyKickSaves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"RedCards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"RoundId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Score\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Shots\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"ShotsOnGoal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"StatId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"TacklesWon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Touches\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"UpdatedUtc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"YellowCards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"YellowRedCards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:10:\"TeamSeason\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":50:{s:7:\"Assists\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"BlockedShots\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"CornersWon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Crosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"DefenderCleanSheets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"FantasyPointsMondogoal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Fouled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Fouls\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Games\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalTeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"GoalkeeperCleanSheets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"GoalkeeperGoalsAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"GoalkeeperSaves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"GoalkeeperSingleGoalAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"GoalkeeperWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Goals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"Interceptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"LastManTackle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Minutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Offsides\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"OpponentScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"OwnGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Passes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PassesCompleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"PenaltiesConceded\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PenaltiesWon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PenaltyKickGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"PenaltyKickMisses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PenaltyKickSaves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"RedCards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"RoundId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Score\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Shots\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"ShotsOnGoal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"StatId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"TacklesWon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Touches\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"UpdatedUtc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"YellowCards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"YellowRedCards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:5:\"Venue\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":14:{s:7:\"Address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Capacity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"GeoLat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"GeoLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Nickname1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Nickname2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Opened\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Surface\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"VenueId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"Zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"[Open]\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}}"
...
