---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:7:\"nfldata\";}s:5:\"title\";s:13:\"NHL
  v3 Scores\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:13:\"entertainment\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:80:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:60:\"https://fantasydata.com/downloads/swagger/nhl-v3-scores.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"fantasydata.net\";s:13:\"x-serviceName\";s:13:\"nhl-v3-scores\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"fantasydata_nhl_v3_scores\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.fantasydata.net
basePath: /v3/nhl/scores
paths:
  /{format}/AllTeams:
    get:
      operationId: TeamsAll
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Team'
            type: array
      summary: Teams (All)
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: AreGamesInProgress
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            type: boolean
      summary: Are Games In Progress
  /{format}/CurrentSeason:
    get:
      operationId: CurrentSeason
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Season'
      summary: Current Season
  /{format}/FreeAgents:
    get:
      operationId: PlayerDetailsByFreeAgent
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Player'
            type: array
      summary: Player Details by Free Agent
  /{format}/Games/{season}:
    get:
      operationId: Schedules
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season (with optional season type).<br>Examples:
          <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,
          <code>2019</code>, etc.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Game'
            type: array
      summary: Schedules
  /{format}/GamesByDate/{date}:
    get:
      operationId: GamesByDate
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the game(s).n <br>Examples: <code>2018-JAN-31</code>,
          <code>2017-OCT-01</code>.n '
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Game'
            type: array
      summary: Games by Date
  /{format}/News:
    get:
      operationId: News
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News
  /{format}/NewsByDate/{date}:
    get:
      operationId: NewsByDate
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the news.n <br>Examples: <code>2018-JAN-31</code>,
          <code>2017-OCT-01</code>.n '
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News by Date
  /{format}/NewsByPlayerID/{playerid}:
    get:
      operationId: NewsByPlayer
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Unique FantasyData Player ID.n Example:<code>10000507</code>.n '
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News by Player
  /{format}/Player/{playerid}:
    get:
      operationId: PlayerDetailsByPlayer
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: Unique FantasyData Player ID.nExample:<code>30000007</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Player'
      summary: Player Details by Player
  /{format}/Players:
    get:
      operationId: PlayerDetailsByActive
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Player'
            type: array
      summary: Player Details by Active
  /{format}/Players/{team}:
    get:
      operationId: PlayersByTeam
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The abbreviation of the requested team.n <br>Examples: <code>SF</code>,
          <code>NYY</code>.n '
        in: path
        name: team
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Player'
            type: array
      summary: Players by Team
  /{format}/Stadiums:
    get:
      operationId: Stadiums
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Stadium'
            type: array
      summary: Stadiums
  /{format}/Standings/{season}:
    get:
      operationId: Standings
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season.n <br>Examples: <code>2016</code>, <code>2017</code>.n '
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Standing'
            type: array
      summary: Standings
  /{format}/TeamGameStatsByDate/{date}:
    get:
      operationId: TeamGameStatsByDate
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the game(s).n <br>Examples: <code>2018-JAN-31</code>,
          <code>2017-OCT-01</code>.n '
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/TeamGame'
            type: array
      summary: Team Game Stats by Date
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: TeamSeasonStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season.n <br>Examples: <code>2016</code>, <code>2017</code>.n '
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/TeamSeason'
            type: array
      summary: Team Season Stats
  /{format}/teams:
    get:
      operationId: TeamsActive
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Team'
            type: array
      summary: Teams (Active)
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:4:\"Game\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":30:{s:10:\"Attendance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"AwayTeam\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"AwayTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"AwayTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"AwayTeamScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Channel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"GameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalAwayTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalHomeTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"HomeTeam\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"HomeTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"HomeTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"HomeTeamScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"IsClosed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"LastPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"OverUnder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Period\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"PointSpread\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"PointSpreadAwayTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"PointSpreadHomeTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"StadiumID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"TimeRemainingMinutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"TimeRemainingSeconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"News\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"Content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"NewsID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"TermsOfUse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"OpponentSeason\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":51:{s:7:\"Assists\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"BenchPenaltyMinutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Blocks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"EmptyNetGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"FaceoffsLost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"FaceoffsWon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Games\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"Giveaways\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Goals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"GoaltendingGoalsAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"GoaltendingLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"GoaltendingMinutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"GoaltendingOvertimeLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"GoaltendingSaves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"GoaltendingSeconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"GoaltendingShotsAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"GoaltendingShutouts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"GoaltendingWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"HatTricks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Hits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Losses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Minutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OpponentPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"OpponentStat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OpponentSeason\";}s:14:\"OvertimeLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"PenaltyMinutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"PlusMinus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PowerPlayAssists\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PowerPlayGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Seconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Shifts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"ShootoutGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"ShortHandedAssists\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"ShortHandedGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"ShotsOnGoal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Started\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"StatID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"Takeaways\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Wins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:6:\"Player\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":38:{s:9:\"BirthCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"BirthDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"BirthState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Catches\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"DepthChartOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"DepthChartPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"DraftKingsName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"DraftKingsPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"FanDuelName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"FanDuelPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"FantasyAlarmPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"FantasyDraftName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"FantasyDraftPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"FirstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Height\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"InjuryBodyPart\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"InjuryNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"InjuryStartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"InjuryStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Jersey\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"LastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"PhotoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"RotoWirePlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"RotoworldPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Shoots\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"SportRadarPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"SportsDirectPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"StatsPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"XmlTeamPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"YahooName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"YahooPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:6:\"Season\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"ApiSeason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"EndYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"PostSeasonStartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"RegularSeasonStartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"StartYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"Stadium\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"Active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"Address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Capacity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"GeoLat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"GeoLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"StadiumID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Standing\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":17:{s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Conference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ConferenceLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"ConferenceWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Division\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"DivisionLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"DivisionWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"Key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Losses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"OvertimeLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"Percentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"ShutoutWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Wins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:4:\"Team\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:6:\"Active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Conference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Division\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"PrimaryColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"QuaternaryColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"SecondaryColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"StadiumID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"TertiaryColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"WikipediaLogoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"WikipediaWordMarkUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"[Key]\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"TeamGame\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":58:{s:7:\"Assists\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"BenchPenaltyMinutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Blocks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"EmptyNetGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"FaceoffsLost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"FaceoffsWon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"GameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Games\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"Giveaways\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"GlobalGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalOpponentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Goals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"GoaltendingGoalsAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"GoaltendingLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"GoaltendingMinutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"GoaltendingOvertimeLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"GoaltendingSaves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"GoaltendingSeconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"GoaltendingShotsAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"GoaltendingShutouts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"GoaltendingWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"HatTricks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Hits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"HomeOrAway\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"IsGameOver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"Losses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Minutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Opponent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"OpponentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"OvertimeLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"PenaltyMinutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"PlusMinus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PowerPlayAssists\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PowerPlayGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Seconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Shifts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"ShootoutGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"ShortHandedAssists\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"ShortHandedGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"ShotsOnGoal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Started\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"StatID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"Takeaways\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Wins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:10:\"TeamSeason\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":51:{s:7:\"Assists\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"BenchPenaltyMinutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Blocks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"EmptyNetGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"FaceoffsLost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"FaceoffsWon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Games\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"Giveaways\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Goals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"GoaltendingGoalsAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"GoaltendingLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"GoaltendingMinutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"GoaltendingOvertimeLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"GoaltendingSaves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"GoaltendingSeconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"GoaltendingShotsAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"GoaltendingShutouts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"GoaltendingWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"HatTricks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Hits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Losses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Minutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OpponentPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"OpponentStat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OpponentSeason\";}s:14:\"OvertimeLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"PenaltyMinutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"PlusMinus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PowerPlayAssists\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PowerPlayGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Seconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Shifts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"ShootoutGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"ShortHandedAssists\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"ShortHandedGoals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"ShotsOnGoal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Started\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"StatID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"Takeaways\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Wins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}"
...
