---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:7:\"nfldata\";}s:11:\"description\";s:24:\"NFL
  projected stats API.\";s:5:\"title\";s:18:\"NFL v3 Projections\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:13:\"entertainment\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:80:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:65:\"https://fantasydata.com/downloads/swagger/nfl-v3-projections.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"fantasydata.net\";s:13:\"x-serviceName\";s:18:\"nfl-v3-projections\";}"
host: api.fantasydata.net
basePath: /v3/nfl/projections
paths:
  /{format}/DfsSlatesByDate/{date}:
    get:
      operationId: DfsSlatesByDate
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the slates.n<br>Examples: <code>2017-SEP-25</code>,
          <code>2017-10-31</code>.'
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/DfsSlate'
            type: array
      summary: DFS Slates by Date
  /{format}/DfsSlatesByWeek/{season}/{week}:
    get:
      operationId: DfsSlatesByWeek
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>'
        in: path
        name: season
        required: true
        type: string
      - description: 'Week of the season. Valid values are as follows: Preseason 0
          to 4, Regular Season 1 to 17, Postseason 1 to 4.n          Example: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/DfsSlate'
            type: array
      summary: DFS Slates by Week
  /{format}/FantasyDefenseProjectionsByGame/{season}/{week}:
    get:
      operationId: ProjectedFantasyDefenseGameStatsWDfsSalaries
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'Week of the season. Valid values are as follows: Preseason 0
          to 4, Regular Season 1 to 17, Postseason 1 to 4.n          Example: <code>1</code>n        '
        in: path
        name: week
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/FantasyDefenseGameProjection'
            type: array
      summary: Projected Fantasy Defense Game Stats (w/ DFS Salaries)
  /{format}/FantasyDefenseProjectionsBySeason/{season}:
    get:
      operationId: ProjectedFantasyDefenseSeasonStatsWByeWeekAdp
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/FantasyDefenseSeasonProjection'
            type: array
      summary: Projected Fantasy Defense Season Stats (w/ Bye Week, ADP)
  /{format}/IdpPlayerGameProjectionStatsByPlayerID/{season}/{week}/{playerid}:
    get:
      operationId: IdpProjectedPlayerGameStatsByPlayerWInjuriesLineupsDfsSalaries
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'Week of the season. Valid values are as follows: Preseason 0
          to 4, Regular Season 1 to 17, Postseason 1 to 4.n          Example: <code>1</code>n        '
        in: path
        name: week
        required: true
        type: string
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>14257</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/PlayerGameProjection'
      summary: IDP Projected Player Game Stats by Player (w/ Injuries, Lineups, DFS
        Salaries)
  /{format}/IdpPlayerGameProjectionStatsByTeam/{season}/{week}/{team}:
    get:
      operationId: IdpProjectedPlayerGameStatsByTeamWInjuriesLineupsDfsSalaries
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'Week of the season. Valid values are as follows: Preseason 0
          to 4, Regular Season 1 to 17, Postseason 1 to 4.n          Example: <code>1</code>n        '
        in: path
        name: week
        required: true
        type: string
      - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        in: path
        name: team
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerGameProjection'
            type: array
      summary: IDP Projected Player Game Stats by Team (w/ Injuries, Lineups, DFS
        Salaries)
  /{format}/IdpPlayerGameProjectionStatsByWeek/{season}/{week}:
    get:
      operationId: IdpProjectedPlayerGameStatsByWeekWInjuriesLineupsDfsSalaries
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'Week of the season. Valid values are as follows: Preseason 0
          to 4, Regular Season 1 to 17, Postseason 1 to 4.n          Example: <code>1</code>n        '
        in: path
        name: week
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerGameProjection'
            type: array
      summary: IDP Projected Player Game Stats by Week (w/ Injuries, Lineups, DFS
        Salaries)
  /{format}/PlayerGameProjectionStatsByPlayerID/{season}/{week}/{playerid}:
    get:
      operationId: ProjectedPlayerGameStatsByPlayerWInjuriesLineupsDfsSalaries
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'nWeek of the season. Valid values are as follows: Preseason
          0 to 4, Regular Season 1 to 17, Postseason 1 to 4.nExample: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>14257</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/PlayerGameProjection'
      summary: Projected Player Game Stats by Player (w/ Injuries, Lineups, DFS Salaries)
  /{format}/PlayerGameProjectionStatsByTeam/{season}/{week}/{team}:
    get:
      operationId: ProjectedPlayerGameStatsByTeamWInjuriesLineupsDfsSalaries
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'Week of the season. Valid values are as follows: Preseason 0
          to 4, Regular Season 1 to 17, Postseason 1 to 4.n          Example: <code>1</code>n        '
        in: path
        name: week
        required: true
        type: string
      - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        in: path
        name: team
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerGameProjection'
            type: array
      summary: Projected Player Game Stats by Team (w/ Injuries, Lineups, DFS Salaries)
  /{format}/PlayerGameProjectionStatsByWeek/{season}/{week}:
    get:
      operationId: ProjectedPlayerGameStatsByWeekWInjuriesLineupsDfsSalaries
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'nWeek of the season. Valid values are as follows: Preseason
          0 to 4, Regular Season 1 to 17, Postseason 1 to 4.nExample: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerGameProjection'
            type: array
      summary: Projected Player Game Stats by Week (w/ Injuries, Lineups, DFS Salaries)
  /{format}/PlayerSeasonProjectionStats/{season}:
    get:
      operationId: ProjectedPlayerSeasonStatsWByeWeekAdp
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerSeasonProjection'
            type: array
      summary: Projected Player Season Stats (w/ Bye Week, ADP)
  /{format}/PlayerSeasonProjectionStatsByPlayerID/{season}/{playerid}:
    get:
      operationId: ProjectedPlayerSeasonStatsByPlayerWByeWeekAdp
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>14257</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/PlayerSeasonProjection'
      summary: Projected Player Season Stats by Player (w/ Bye Week, ADP)
  /{format}/PlayerSeasonProjectionStatsByTeam/{season}/{team}:
    get:
      operationId: ProjectedPlayerSeasonStatsByTeamWByeWeekAdp
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        in: path
        name: team
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerSeasonProjection'
            type: array
      summary: Projected Player Season Stats by Team (w/ Bye Week, ADP)
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:8:\"DfsSlate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"DfsSlateGames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DfsSlateGame\";}s:4:\"type\";s:5:\"array\";}s:15:\"DfsSlatePlayers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DfsSlatePlayer\";}s:4:\"type\";s:5:\"array\";}s:15:\"IsMultiDaySlate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"NumberOfGames\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"OperatorDay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OperatorGameType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"OperatorName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"OperatorSlateID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"OperatorStartTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"RemovedByOperator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"SlateID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"DfsSlateGame\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"Game\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Schedule\";}s:6:\"GameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"OperatorGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"RemovedByOperator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"ScoreID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"SlateGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"SlateID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:14:\"DfsSlatePlayer\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:30:\"FantasyDefenseProjectionStatID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"OperatorPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"OperatorPlayerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OperatorPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"OperatorRosterSlots\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"OperatorSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"OperatorSlatePlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"PlayerGameProjectionStatID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"RemovedByOperator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"SlateGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"SlateID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"SlatePlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:28:\"FantasyDefenseGameProjection\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":110:{s:15:\"AssistedTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"BlockedKickReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"BlockedKickReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"BlockedKicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"DefensiveTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:30:\"DraftKingsFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:36:\"DraftKingsKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"DraftKingsPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:41:\"DraftKingsQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:41:\"DraftKingsRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"DraftKingsSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:38:\"DraftKingsTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:42:\"DraftKingsWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"FanDuelFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:33:\"FanDuelKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"FanDuelPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:38:\"FanDuelQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:38:\"FanDuelRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FanDuelSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:35:\"FanDuelTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:39:\"FanDuelWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"FantasyDataSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"FantasyDefenseID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:32:\"FantasyDraftFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:38:\"FantasyDraftKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyDraftPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:43:\"FantasyDraftQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:43:\"FantasyDraftRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyDraftSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:40:\"FantasyDraftTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:44:\"FantasyDraftWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FieldGoalReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FourthDownAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"FourthDownConversions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"FumbleReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"FumbleReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FumblesForced\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"FumblesRecovered\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"GameKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"GlobalGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalOpponentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"HomeOrAway\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"InterceptionReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"InterceptionReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"Interceptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"IsGameOver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"KickReturnLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"KickReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"KickReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"KickReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"KickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"OffensiveYardsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Opponent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"OpponentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"OpponentPositionRank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"OpponentRank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"PassesDefended\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"PointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:34:\"PointsAllowedByDefenseSpecialTeams\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PuntReturnLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PuntReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PuntReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PuntReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:31:\"QuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"QuarterbackHits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:31:\"RunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"SackYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Sacks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Safeties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"ScoreID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"ScoringDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ScoringDetail\";}s:4:\"type\";s:5:\"array\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"SoloTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"SpecialTeamsTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Stadium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"TacklesForLoss\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"Temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"ThirdDownAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"ThirdDownConversions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"TightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"TouchdownsScored\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"TwoPointConversionReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"VictivSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Week\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:32:\"WideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"WindSpeed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"YahooFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:31:\"YahooKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"YahooPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:36:\"YahooQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:36:\"YahooRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"YahooSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:33:\"YahooTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:37:\"YahooWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:30:\"FantasyDefenseSeasonProjection\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":91:{s:15:\"AssistedTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"AuctionValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"AuctionValuePPR\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"AverageDraftPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"AverageDraftPosition2QB\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"AverageDraftPositionDynasty\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"AverageDraftPositionPPR\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"BlockedKickReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"BlockedKickReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"BlockedKicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"DefensiveTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:30:\"DraftKingsFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:36:\"DraftKingsKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:41:\"DraftKingsQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:41:\"DraftKingsRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:38:\"DraftKingsTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:42:\"DraftKingsWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"FanDuelFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:33:\"FanDuelKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:38:\"FanDuelQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:38:\"FanDuelRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:35:\"FanDuelTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:39:\"FanDuelWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:32:\"FantasyDraftFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:38:\"FantasyDraftKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:43:\"FantasyDraftQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:43:\"FantasyDraftRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:40:\"FantasyDraftTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:44:\"FantasyDraftWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FieldGoalReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FourthDownAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"FourthDownConversions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"FumbleReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"FumbleReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FumblesForced\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"FumblesRecovered\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Games\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"InterceptionReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"InterceptionReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"Interceptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"KickReturnLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"KickReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"KickReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"KickReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"KickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"OffensiveYardsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PassesDefended\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"PointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:34:\"PointsAllowedByDefenseSpecialTeams\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PuntReturnLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PuntReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PuntReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PuntReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:31:\"QuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"QuarterbackHits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:31:\"RunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"SackYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Sacks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Safeties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"ScoringDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ScoringDetail\";}s:4:\"type\";s:5:\"array\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"SoloTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"SpecialTeamsTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"TacklesForLoss\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"Temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"ThirdDownAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"ThirdDownConversions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"TightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"TouchdownsScored\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"TwoPointConversionReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:32:\"WideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"WindSpeed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"YahooFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:31:\"YahooKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:36:\"YahooQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:36:\"YahooRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:33:\"YahooTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:37:\"YahooWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:20:\"PlayerGameProjection\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":166:{s:9:\"Activated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"AssistedTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"BlockedKickReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"BlockedKickReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"BlockedKicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"DeclaredInactive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"DefensiveSnapsPlayed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"DefensiveTeamSnaps\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"DefensiveTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"DraftKingsPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"DraftKingsSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"ExtraPointsAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"ExtraPointsHadBlocked\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"ExtraPointsMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"FanDuelPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FanDuelSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"FantasyDataSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"FantasyDraftPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"FantasyDraftSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"FantasyPointsPPR\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"FantasyPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"FieldGoalPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FieldGoalReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"FieldGoalsAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalsHadBlocked\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"FieldGoalsLongestMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"FieldGoalsMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"FieldGoalsMade0to19\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalsMade20to29\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalsMade30to39\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalsMade40to49\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalsMade50Plus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"FumbleReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"FumbleReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Fumbles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FumblesForced\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"FumblesLost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FumblesOutOfBounds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FumblesOwnRecoveries\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"FumblesRecovered\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"GameDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"GameKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"GlobalGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalOpponentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"HomeOrAway\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"InjuryBodyPart\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"InjuryNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"InjuryPractice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"InjuryPracticeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"InjuryStartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"InjuryStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"InterceptionReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"InterceptionReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"Interceptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"IsGameOver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"KickReturnFairCatches\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"KickReturnLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"KickReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"KickReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"KickReturnYardsPerAttempt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"KickReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"MiscAssistedTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"MiscFumblesForced\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"MiscFumblesRecovered\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"MiscSoloTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Number\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"OffensiveSnapsPlayed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"OffensiveTeamSnaps\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"OffensiveTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Opponent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"OpponentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"OpponentPositionRank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"OpponentRank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"PassesDefended\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PassingAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"PassingCompletionPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PassingCompletions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PassingInterceptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PassingLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"PassingRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PassingSackYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PassingSacks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"PassingTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PassingYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"PassingYardsPerAttempt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"PassingYardsPerCompletion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Played\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"PlayerGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"PlayingSurface\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"PositionCategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"PuntAverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PuntInside20\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"PuntLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PuntNetAverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PuntNetYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"PuntReturnFairCatches\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PuntReturnLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PuntReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PuntReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"PuntReturnYardsPerAttempt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PuntReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PuntTouchbacks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"PuntYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Punts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PuntsHadBlocked\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"QuarterbackHits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"ReceivingLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"ReceivingTargets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"ReceivingTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"ReceivingYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"ReceivingYardsPerReception\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"ReceivingYardsPerTarget\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"ReceptionPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"Receptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"RushingAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"RushingLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"RushingTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"RushingYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"RushingYardsPerAttempt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"SackYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Sacks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Safeties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"SafetiesAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"ScoreID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"ScoringDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ScoringDetail\";}s:4:\"type\";s:5:\"array\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"ShortName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"SoloTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"SpecialTeamsAssistedTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"SpecialTeamsFumblesForced\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"SpecialTeamsFumblesRecovered\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"SpecialTeamsSnapsPlayed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"SpecialTeamsSoloTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"SpecialTeamsTeamSnaps\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"SpecialTeamsTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Stadium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Started\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Tackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"TacklesForLoss\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"Temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"Touchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"TwoPointConversionPasses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"TwoPointConversionReceptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"TwoPointConversionReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"TwoPointConversionRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"VictivSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Week\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"WindSpeed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"YahooPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"YahooSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:22:\"PlayerSeasonProjection\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":140:{s:9:\"Activated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"AssistedTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"AuctionValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"AuctionValuePPR\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"AverageDraftPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"AverageDraftPosition2QB\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"AverageDraftPositionDynasty\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"AverageDraftPositionPPR\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"AverageDraftPositionRookie\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"BlockedKickReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"BlockedKickReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"BlockedKicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"DefensiveSnapsPlayed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"DefensiveTeamSnaps\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"DefensiveTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"ExtraPointsAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"ExtraPointsHadBlocked\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"ExtraPointsMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"FantasyPointsPPR\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"FantasyPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"FieldGoalPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FieldGoalReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"FieldGoalsAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalsHadBlocked\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"FieldGoalsLongestMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"FieldGoalsMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"FieldGoalsMade0to19\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalsMade20to29\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalsMade30to39\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalsMade40to49\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalsMade50Plus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"FumbleReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"FumbleReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Fumbles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FumblesForced\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"FumblesLost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FumblesOutOfBounds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FumblesOwnRecoveries\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"FumblesRecovered\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"InterceptionReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"InterceptionReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"Interceptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"KickReturnFairCatches\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"KickReturnLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"KickReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"KickReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"KickReturnYardsPerAttempt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"KickReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"MiscAssistedTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"MiscFumblesForced\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"MiscFumblesRecovered\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"MiscSoloTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Number\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"OffensiveSnapsPlayed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"OffensiveTeamSnaps\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"OffensiveTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PassesDefended\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PassingAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"PassingCompletionPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PassingCompletions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PassingInterceptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PassingLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"PassingRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PassingSackYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PassingSacks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"PassingTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PassingYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"PassingYardsPerAttempt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"PassingYardsPerCompletion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Played\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"PlayerSeasonID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"PositionCategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"PuntAverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PuntInside20\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"PuntLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PuntNetAverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PuntNetYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"PuntReturnFairCatches\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PuntReturnLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PuntReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PuntReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"PuntReturnYardsPerAttempt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PuntReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PuntTouchbacks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"PuntYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Punts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PuntsHadBlocked\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"QuarterbackHits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"ReceivingLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"ReceivingTargets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"ReceivingTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"ReceivingYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"ReceivingYardsPerReception\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"ReceivingYardsPerTarget\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"ReceptionPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"Receptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"RushingAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"RushingLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"RushingTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"RushingYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"RushingYardsPerAttempt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"SackYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Sacks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Safeties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"SafetiesAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"ScoringDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ScoringDetail\";}s:4:\"type\";s:5:\"array\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"ShortName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"SoloTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"SpecialTeamsAssistedTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"SpecialTeamsFumblesForced\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"SpecialTeamsFumblesRecovered\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"SpecialTeamsSnapsPlayed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"SpecialTeamsSoloTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"SpecialTeamsTeamSnaps\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"SpecialTeamsTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Started\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Tackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"TacklesForLoss\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"Temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"Touchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"TwoPointConversionPasses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"TwoPointConversionReceptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"TwoPointConversionReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"TwoPointConversionRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"WindSpeed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:8:\"Schedule\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":28:{s:8:\"AwayTeam\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"AwayTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Canceled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"Channel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"ForecastDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ForecastTempHigh\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"ForecastTempLow\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"ForecastWindChill\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"ForecastWindSpeed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"GameKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"GeoLat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"GeoLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"GlobalAwayTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalHomeTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"HomeTeam\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"HomeTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"OverUnder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PointSpread\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"ScoreID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"StadiumDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Stadium\";}s:9:\"StadiumID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Week\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:13:\"ScoringDetail\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"GameKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Length\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"PlayerGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"ScoreID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"ScoringDetailID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"ScoringType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Week\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"Stadium\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"Capacity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"GeoLat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"GeoLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"PlayingSurface\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"StadiumID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
