---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:7:\"nfldata\";}s:11:\"description\";s:32:\"MLB
  scores, stats, and news API.\";s:5:\"title\";s:12:\"MLB v3 Stats\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:13:\"entertainment\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:80:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:59:\"https://fantasydata.com/downloads/swagger/mlb-v3-stats.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"fantasydata.net\";s:13:\"x-serviceName\";s:12:\"mlb-v3-stats\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"fantasydata_mlb_v3_stats\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.fantasydata.net
basePath: /v3/mlb/stats
paths:
  /{format}/AllTeams:
    get:
      operationId: TeamsAll
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Team'
            type: array
      summary: Teams (All)
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: AreGamesInProgress
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            type: boolean
      summary: Are Games In Progress
  /{format}/BoxScore/{gameid}:
    get:
      operationId: BoxScore
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: The GameID of an MLB game.  GameIDs can be found in the Games
          API.  Valid entries are <code>14620</code> or <code>16905</code>
        in: path
        name: gameid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/BoxScore'
      summary: Box Score
  /{format}/BoxScores/{date}:
    get:
      operationId: BoxScoresByDate
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the game(s).n<br>Examples: <code>2017-JUL-31</code>,
          <code>2017-SEP-01</code>.'
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/BoxScore'
            type: array
      summary: Box Scores by Date
  /{format}/BoxScoresDelta/{date}/{minutes}:
    get:
      operationId: BoxScoresByDateDelta
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the game(s).n<br>Examples: <code>2017-JUL-31</code>,
          <code>2017-SEP-01</code>.'
        in: path
        name: date
        required: true
        type: string
      - description: Only returns player statistics that have changed in the last
          X minutes.  You specify how many minutes in time to go back. Valid entries
          are:n<code>1</code>, <code>2</code> ... <code>all</code>.
        in: path
        name: minutes
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/BoxScore'
            type: array
      summary: Box Scores by Date Delta
  /{format}/CurrentSeason:
    get:
      operationId: CurrentSeason
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Season'
      summary: Current Season
  /{format}/DfsSlatesByDate/{date}:
    get:
      operationId: DfsSlatesByDate
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the slates.n<br>Examples: <code>2017-JUL-31</code>,
          <code>2017-SEP-01</code>.'
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/DfsSlate'
            type: array
      summary: DFS Slates by Date
  /{format}/FreeAgents:
    get:
      operationId: PlayerDetailsByFreeAgents
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Player'
            type: array
      summary: Player Details by Free Agents
  /{format}/Games/{season}:
    get:
      operationId: Schedules
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season (with optional season type).<br>Examples:
          <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,
          <code>2019</code>, etc.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Game'
            type: array
      summary: Schedules
  /{format}/GamesByDate/{date}:
    get:
      operationId: GamesByDate
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the game(s).n<br>Examples: <code>2017-JUL-31</code>,
          <code>2017-SEP-01</code>.'
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Game'
            type: array
      summary: Games by Date
  /{format}/HitterVsPitcher/{hitterid}/{pitcherid}:
    get:
      operationId: BatterVsPitcherStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: Unique FantasyData Player ID.nExample:<code>10000031</code>.
        in: path
        name: hitterid
        required: true
        type: string
      - description: Unique FantasyData Player ID.nExample:<code>10000618</code>.
        in: path
        name: pitcherid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerSeason'
            type: array
      summary: Batter vs. Pitcher Stats
  /{format}/News:
    get:
      operationId: News
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News
  /{format}/NewsByDate/{date}:
    get:
      operationId: NewsByDate
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the news.n<br>Examples: <code>2017-JUL-31</code>,
          <code>2017-SEP-01</code>.'
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News by Date
  /{format}/NewsByPlayerID/{playerid}:
    get:
      operationId: NewsByPlayer
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: Unique FantasyData Player ID.nExample:<code>10000507</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News by Player
  /{format}/Player/{playerid}:
    get:
      operationId: PlayerDetailsByPlayer
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: Unique FantasyData Player ID.nExample:<code>10000507</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Player'
      summary: Player Details by Player
  /{format}/PlayerGameStatsByDate/{date}:
    get:
      operationId: PlayerGameStatsByDate
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the game(s).n<br>Examples: <code>2017-JUL-31</code>,
          <code>2017-SEP-01</code>.'
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerGame'
            type: array
      summary: Player Game Stats by Date
  /{format}/PlayerGameStatsByPlayer/{date}/{playerid}:
    get:
      operationId: PlayerGameStatsByPlayer
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the game(s).n<br>Examples: <code>2017-JUL-31</code>,
          <code>2017-SEP-01</code>.'
        in: path
        name: date
        required: true
        type: string
      - description: Unique FantasyData Player ID.nExample:<code>10000507</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/PlayerGame'
      summary: Player Game Stats by Player
  /{format}/PlayerSeasonAwayStats/{season}:
    get:
      operationId: PlayerSeasonAwayStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season.n<br>Examples: <code>2017</code>, <code>2018</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerSeason'
            type: array
      summary: Player Season Away Stats
  /{format}/PlayerSeasonHomeStats/{season}:
    get:
      operationId: PlayerSeasonHomeStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season.n<br>Examples: <code>2017</code>, <code>2018</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerSeason'
            type: array
      summary: Player Season Home Stats
  /{format}/PlayerSeasonSplitStats/{season}/{split}:
    get:
      operationId: PlayerSeasonSplitStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season.n<br>Examples: <code>2017</code>, <code>2018</code>.'
        in: path
        name: season
        required: true
        type: string
      - default: L
        description: 'The desired split of stats. Currently, we support vs. Left/Right/Switch
          handed pitchers/hitters. Possible values are: <code>L</code>, <code>R</code>
          and <code>S</code>'
        enum:
        - L
        - R
        - S
        in: path
        name: split
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerSeason'
            type: array
      summary: Player Season Split Stats
  /{format}/PlayerSeasonStats/{season}:
    get:
      operationId: PlayerSeasonStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season.n<br>Examples: <code>2017</code>, <code>2018</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerSeason'
            type: array
      summary: Player Season Stats
  /{format}/PlayerSeasonStatsByPlayer/{season}/{playerid}:
    get:
      operationId: PlayerSeasonStatsByPlayer
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season.n<br>Examples: <code>2017</code>, <code>2018</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: Unique FantasyData Player ID.nExample:<code>10000507</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/PlayerSeason'
      summary: Player Season Stats By Player
  /{format}/PlayerSeasonStatsByTeam/{season}/{team}:
    get:
      operationId: PlayerSeasonStatsByTeam
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season.n<br>Examples: <code>2017</code>, <code>2018</code>.n'
        in: path
        name: season
        required: true
        type: string
      - description: 'The abbreviation of the requested team.n<br>Examples: <code>SF</code>,
          <code>NYY</code>.'
        in: path
        name: team
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerSeason'
            type: array
      summary: Player Season Stats by Team
  /{format}/PlayerSeasonStatsSplitByTeam/{season}:
    get:
      operationId: PlayerSeasonStatsSplitByTeam
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season.n<br>Examples: <code>2017</code>, <code>2018</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerSeason'
            type: array
      summary: Player Season Stats Split By Team
  /{format}/Players:
    get:
      operationId: PlayerDetailsByActive
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Player'
            type: array
      summary: Player Details by Active
  /{format}/Players/{team}:
    get:
      operationId: PlayersByTeam
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The abbreviation of the requested team.n<br>Examples: <code>SF</code>,
          <code>NYY</code>.'
        in: path
        name: team
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Player'
            type: array
      summary: Players by Team
  /{format}/Stadiums:
    get:
      operationId: Stadiums
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Stadium'
            type: array
      summary: Stadiums
  /{format}/Standings/{season}:
    get:
      operationId: Standings
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season.n<br>Examples: <code>2017</code>, <code>2018</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Standing'
            type: array
      summary: Standings
  /{format}/TeamGameStatsByDate/{date}:
    get:
      operationId: TeamGameStatsByDate
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the game(s).n<br>Examples: <code>2017-JUL-31</code>,
          <code>2017-SEP-01</code>.'
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/TeamGame'
            type: array
      summary: Team Game Stats by Date
  /{format}/TeamHittersVsPitcher/{gameid}/{team}:
    get:
      operationId: TeamHittingVsStartingPitcher
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: The GameID of an MLB game.  GameIDs can be found in the Games
          API.  Valid entries are <code>14620</code> or <code>16905</code>
        in: path
        name: gameid
        required: true
        type: string
      - description: 'The abbreviation of the requested team.n<br>Examples: <code>SF</code>,
          <code>NYY</code>.'
        in: path
        name: team
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerSeason'
            type: array
      summary: Team Hitting vs. Starting Pitcher
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: TeamSeasonStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season.n<br>Examples: <code>2017</code>, <code>2018</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/TeamSeason'
            type: array
      summary: Team Season Stats
  /{format}/teams:
    get:
      operationId: TeamsActive
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Team'
            type: array
      summary: Teams (Active)
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:8:\"BoxScore\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Game\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Game\";}s:7:\"Innings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Inning\";}s:4:\"type\";s:5:\"array\";}s:11:\"PlayerGames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PlayerGame\";}s:4:\"type\";s:5:\"array\";}s:9:\"TeamGames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TeamGame\";}s:4:\"type\";s:5:\"array\";}}}s:8:\"DfsSlate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"DfsSlateGames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DfsSlateGame\";}s:4:\"type\";s:5:\"array\";}s:15:\"DfsSlatePlayers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DfsSlatePlayer\";}s:4:\"type\";s:5:\"array\";}s:15:\"IsMultiDaySlate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"NumberOfGames\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"OperatorDay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OperatorGameType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"OperatorName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"OperatorSlateID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"OperatorStartTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"RemovedByOperator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"SlateID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"DfsSlateGame\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"Game\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Game\";}s:6:\"GameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"OperatorGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"RemovedByOperator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"SlateGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"SlateID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:14:\"DfsSlatePlayer\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:16:\"OperatorPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"OperatorPlayerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OperatorPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"OperatorRosterSlots\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"OperatorSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"OperatorSlatePlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"PlayerGameProjectionStatID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"RemovedByOperator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"SlateGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"SlateID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"SlatePlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:4:\"Game\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":68:{s:10:\"Attendance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"AwayTeam\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"AwayTeamErrors\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"AwayTeamHits\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"AwayTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"AwayTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"AwayTeamProbablePitcherID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"AwayTeamRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"AwayTeamStartingPitcher\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"AwayTeamStartingPitcherID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Balls\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Channel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"CurrentHitter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"CurrentHitterID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"CurrentHittingTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"CurrentPitcher\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"CurrentPitcherID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"CurrentPitchingTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"DueUpHitterID1\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"DueUpHitterID2\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"DueUpHitterID3\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"ForecastDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ForecastTempHigh\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"ForecastTempLow\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"ForecastWindChill\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"ForecastWindDirection\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"ForecastWindSpeed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"GameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalAwayTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalHomeTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"HomeTeam\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"HomeTeamErrors\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"HomeTeamHits\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"HomeTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"HomeTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"HomeTeamProbablePitcherID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"HomeTeamRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"HomeTeamStartingPitcher\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"HomeTeamStartingPitcherID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Inning\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"InningHalf\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"IsClosed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"LastPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"LosingPitcher\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"LosingPitcherID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Outs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"OverUnder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PointSpread\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"PointSpreadAwayTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"PointSpreadHomeTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"RescheduledFromGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"RescheduledGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"RunnerOnFirst\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"RunnerOnSecond\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"RunnerOnThird\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"SavingPitcher\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"SavingPitcherID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"StadiumID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Strikes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"WinningPitcher\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"WinningPitcherID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:6:\"Inning\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"AwayTeamRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"GameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"HomeTeamRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"InningID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"InningNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:4:\"News\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":16:{s:6:\"Author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Categories\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"NewsID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"PlayerID2\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Team2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"TeamID2\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"TermsOfUse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"TimeAgo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Player\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":46:{s:7:\"BatHand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"BirthCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"BirthCountry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"BirthDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"BirthState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"College\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"DraftKingsName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"DraftKingsPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"Experience\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"FanDuelName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"FanDuelPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"FantasyAlarmPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"FantasyDraftName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"FantasyDraftPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"FirstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Height\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"HighSchool\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"InjuryBodyPart\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"InjuryNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"InjuryStartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"InjuryStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Jersey\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"LastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"MLBAMID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"PhotoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"PositionCategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ProDebut\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"RotoWirePlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"RotoworldPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Salary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"SportRadarPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"SportsDataID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"SportsDirectPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"StatsPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"ThrowHand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"UpcomingGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"XmlTeamPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"YahooName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"YahooPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:10:\"PlayerGame\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":137:{s:6:\"AtBats\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"BallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"BattingAverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"BattingAverageOnBallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"BattingOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"BattingOrderConfirmed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"CaughtStealing\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DoublePlays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Doubles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"DraftKingsPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"DraftKingsSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"EarnedRunAverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Errors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"FanDuelPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FanDuelSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"FantasyDataSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"FantasyDraftPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"FantasyDraftSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"FieldingIndependentPitching\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"FlyOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"GameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Games\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalOpponentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"GrandSlams\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"GroundIntoDoublePlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"GroundOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"HitByPitch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Hits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"HomeOrAway\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"HomeRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"InjuryBodyPart\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"InjuryNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"InjuryStartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"InjuryStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"InningsPitchedDecimal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"InningsPitchedFull\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"InningsPitchedOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"IntentionalWalks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"IsGameOver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"IsolatedPower\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"LeftOnBase\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"LineOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Losses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"OnBasePlusSlugging\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Opponent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"OpponentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"OpponentPositionRank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"OpponentRank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Outs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PitchesSeen\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"PitchesThrown\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PitchesThrownStrikes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"PitchingBallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:29:\"PitchingBattingAverageAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:35:\"PitchingBattingAverageOnBallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingBlownSaves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"PitchingCatchersInterference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"PitchingCompleteGames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"PitchingDoublePlays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingDoubles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingEarnedRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingFlyOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingGrandSlams\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"PitchingGroundIntoDoublePlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingGroundOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingHitByPitch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PitchingHits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"PitchingHolds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PitchingHomeRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"PitchingInningStarted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"PitchingIntentionalWalks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PitchingLineOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"PitchingNoHitters\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"PitchingOnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"PitchingOnBasePlusSlugging\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PitchingPerfectGames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"PitchingPlateAppearances\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingPopOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"PitchingQualityStarts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"PitchingReachedOnError\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PitchingRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"PitchingSacrificeFlies\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingSacrifices\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PitchingShutOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingSingles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"PitchingSluggingPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingStrikeouts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:32:\"PitchingStrikeoutsPerNineInnings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingTotalBases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingTriples\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"PitchingWalks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"PitchingWalksPerNineInnings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:32:\"PitchingWeightedOnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PlateAppearances\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"PopOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"PositionCategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ReachedOnError\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Runs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"RunsBattedIn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"SacrificeFlies\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"Sacrifices\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Saves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Singles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"SluggingPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Started\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"StatID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"StolenBases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"Strikeouts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"SubstituteBattingOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:30:\"SubstituteBattingOrderSequence\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"TotalBases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"TotalOutsPitched\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Triples\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Walks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"WalksHitsPerInningsPitched\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"WeightedOnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Wins\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"YahooPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"YahooSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"PlayerSeason\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":114:{s:6:\"AtBats\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"AverageDraftPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"BallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"BattingAverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"BattingAverageOnBallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"BattingOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"BattingOrderConfirmed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"CaughtStealing\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"DoublePlays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Doubles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"EarnedRunAverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Errors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"FieldingIndependentPitching\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"FlyOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Games\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"GrandSlams\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"GroundIntoDoublePlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"GroundOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"HitByPitch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Hits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"HomeRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"InningsPitchedDecimal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"InningsPitchedFull\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"InningsPitchedOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"IntentionalWalks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"IsolatedPower\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"LeftOnBase\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"LineOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Losses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"OnBasePlusSlugging\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Outs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PitchesSeen\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"PitchesThrown\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PitchesThrownStrikes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"PitchingBallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:29:\"PitchingBattingAverageAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:35:\"PitchingBattingAverageOnBallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingBlownSaves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"PitchingCatchersInterference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"PitchingCompleteGames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"PitchingDoublePlays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingDoubles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingEarnedRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingFlyOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingGrandSlams\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"PitchingGroundIntoDoublePlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingGroundOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingHitByPitch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PitchingHits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"PitchingHolds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PitchingHomeRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"PitchingInningStarted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"PitchingIntentionalWalks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PitchingLineOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"PitchingNoHitters\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"PitchingOnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"PitchingOnBasePlusSlugging\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PitchingPerfectGames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"PitchingPlateAppearances\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingPopOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"PitchingQualityStarts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"PitchingReachedOnError\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PitchingRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"PitchingSacrificeFlies\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingSacrifices\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PitchingShutOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingSingles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"PitchingSluggingPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingStrikeouts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:32:\"PitchingStrikeoutsPerNineInnings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingTotalBases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingTriples\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"PitchingWalks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"PitchingWalksPerNineInnings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:32:\"PitchingWeightedOnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PlateAppearances\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"PopOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"PositionCategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ReachedOnError\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Runs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"RunsBattedIn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"SacrificeFlies\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"Sacrifices\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Saves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Singles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"SluggingPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Started\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"StatID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"StolenBases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"Strikeouts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"SubstituteBattingOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:30:\"SubstituteBattingOrderSequence\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"TotalBases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"TotalOutsPitched\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Triples\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Walks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"WalksHitsPerInningsPitched\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"WeightedOnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Wins\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:6:\"Season\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"ApiSeason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"PostSeasonStartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"RegularSeasonStartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Stadium\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":22:{s:6:\"Active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"Altitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Capacity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"CenterField\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"GeoLat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"GeoLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"HomePlateDirection\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"LeftCenterField\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"LeftField\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"MidLeftCenterField\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"MidLeftField\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"MidRightCenterField\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"MidRightField\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"RightCenterField\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"RightField\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"StadiumID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Surface\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Standing\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":27:{s:10:\"AwayLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"AwayWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"DayLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"DayWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Division\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"DivisionLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"DivisionWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"GamesBehind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"HomeLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"HomeWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"Key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"LastTenGamesLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"LastTenGamesWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"League\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Losses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"NightLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"NightWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"Percentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Streak\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"WildCardGamesBehind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"WildCardRank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Wins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:4:\"Team\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:6:\"Active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Division\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"League\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"PrimaryColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"QuaternaryColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"SecondaryColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"StadiumID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"TertiaryColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"WikipediaLogoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"WikipediaWordMarkUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"[Key]\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"TeamGame\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":117:{s:6:\"AtBats\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"BallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"BattingAverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"BattingAverageOnBallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"BattingOrderConfirmed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"CaughtStealing\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DoublePlays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Doubles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"EarnedRunAverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Errors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"FieldingIndependentPitching\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"FlyOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"GameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Games\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalOpponentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"GrandSlams\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"GroundIntoDoublePlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"GroundOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"HitByPitch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Hits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"HomeOrAway\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"HomeRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"InningsPitchedDecimal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"InningsPitchedFull\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"InningsPitchedOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"IntentionalWalks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"IsGameOver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"IsolatedPower\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"LeftOnBase\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"LineOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Losses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"OnBasePlusSlugging\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Opponent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"OpponentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Outs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PitchesSeen\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"PitchesThrown\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PitchesThrownStrikes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"PitchingBallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:29:\"PitchingBattingAverageAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:35:\"PitchingBattingAverageOnBallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingBlownSaves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"PitchingCatchersInterference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"PitchingCompleteGames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"PitchingDoublePlays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingDoubles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingEarnedRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingFlyOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingGrandSlams\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"PitchingGroundIntoDoublePlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingGroundOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingHitByPitch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PitchingHits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"PitchingHolds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PitchingHomeRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"PitchingInningStarted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"PitchingIntentionalWalks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PitchingLineOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"PitchingNoHitters\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"PitchingOnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"PitchingOnBasePlusSlugging\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PitchingPerfectGames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"PitchingPlateAppearances\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingPopOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"PitchingQualityStarts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"PitchingReachedOnError\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PitchingRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"PitchingSacrificeFlies\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingSacrifices\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PitchingShutOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingSingles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"PitchingSluggingPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingStrikeouts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:32:\"PitchingStrikeoutsPerNineInnings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingTotalBases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingTriples\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"PitchingWalks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"PitchingWalksPerNineInnings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:32:\"PitchingWeightedOnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PlateAppearances\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"PopOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"ReachedOnError\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Runs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"RunsBattedIn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"SacrificeFlies\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"Sacrifices\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Saves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Singles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"SluggingPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"StatID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"StolenBases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"Strikeouts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"SubstituteBattingOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:30:\"SubstituteBattingOrderSequence\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"TotalBases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"TotalOutsPitched\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Triples\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Walks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"WalksHitsPerInningsPitched\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"WeightedOnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Wins\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:10:\"TeamSeason\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":108:{s:6:\"AtBats\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"BallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"BattingAverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"BattingAverageOnBallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"BattingOrderConfirmed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"CaughtStealing\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"DoublePlays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Doubles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"EarnedRunAverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Errors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"FieldingIndependentPitching\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"FlyOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Games\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"GrandSlams\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"GroundIntoDoublePlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"GroundOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"HitByPitch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Hits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"HomeRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"InningsPitchedDecimal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"InningsPitchedFull\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"InningsPitchedOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"IntentionalWalks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"IsolatedPower\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"LeftOnBase\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"LineOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Losses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"OnBasePlusSlugging\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Outs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PitchesSeen\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"PitchesThrown\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PitchesThrownStrikes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"PitchingBallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:29:\"PitchingBattingAverageAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:35:\"PitchingBattingAverageOnBallsInPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingBlownSaves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"PitchingCatchersInterference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"PitchingCompleteGames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"PitchingDoublePlays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingDoubles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingEarnedRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingFlyOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingGrandSlams\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"PitchingGroundIntoDoublePlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingGroundOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingHitByPitch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PitchingHits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"PitchingHolds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PitchingHomeRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"PitchingInningStarted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"PitchingIntentionalWalks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PitchingLineOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"PitchingNoHitters\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"PitchingOnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"PitchingOnBasePlusSlugging\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PitchingPerfectGames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"PitchingPlateAppearances\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingPopOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"PitchingQualityStarts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"PitchingReachedOnError\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"PitchingRuns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"PitchingSacrificeFlies\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingSacrifices\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PitchingShutOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingSingles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"PitchingSluggingPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingStrikeouts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:32:\"PitchingStrikeoutsPerNineInnings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"PitchingTotalBases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PitchingTriples\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"PitchingWalks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"PitchingWalksPerNineInnings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:32:\"PitchingWeightedOnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PlateAppearances\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"PopOuts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"ReachedOnError\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Runs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"RunsBattedIn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"SacrificeFlies\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"Sacrifices\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Saves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Singles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"SluggingPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"StatID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"StolenBases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"Strikeouts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"SubstituteBattingOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:30:\"SubstituteBattingOrderSequence\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"TotalBases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"TotalOutsPitched\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Triples\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Walks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"WalksHitsPerInningsPitched\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"WeightedOnBasePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Wins\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}"
...
