---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:7:\"nfldata\";}s:11:\"description\";s:61:\"NFL
  rosters, player stats, team stats, and fantasy stats API.\";s:5:\"title\";s:12:\"NFL
  v3 Stats\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:13:\"entertainment\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:80:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:59:\"https://fantasydata.com/downloads/swagger/nfl-v3-stats.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"fantasydata.net\";s:13:\"x-serviceName\";s:12:\"nfl-v3-stats\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"fantasydata_nfl_v3_stats\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.fantasydata.net
basePath: /v3/nfl/stats
paths:
  /{format}/ActiveBoxScores:
    get:
      description: This method returns box scores for all games that are either in-progress
        or have been updated within the last 30 minutes.
      operationId: LegacyBoxScoresActive
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/BoxScore'
            type: array
      summary: Legacy Box Scores Active
  /{format}/AllTeams:
    get:
      description: Gets all teams, including pro bowl teams.
      operationId: TeamsAll
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Team'
            type: array
      summary: Teams (All)
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: AreGamesInProgress
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            type: boolean
      summary: Are Games In Progress
  /{format}/BoxScore/{season}/{week}/{hometeam}:
    get:
      operationId: LegacyBoxScore
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: 'nWeek of the season. Valid values are as follows: Preseason
          0 to 4, Regular Season 1 to 17, Postseason 1 to 4.nExample: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      - description: 'Abbreviation of the home team. Example: <code>WAS</code>.'
        in: path
        name: hometeam
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/BoxScore'
      summary: Legacy Box Score
  /{format}/BoxScoreByScoreIDV3/{scoreid}:
    get:
      operationId: BoxScoreByScoreidV
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The ScoreID of the game. Possible values include: <code>16247</code>,
          <code>16245</code>, etc.'
        in: path
        name: scoreid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/BoxScoreV3'
      summary: Box Score by ScoreID V3
  /{format}/BoxScoreV3/{season}/{week}/{hometeam}:
    get:
      operationId: BoxScoreV
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'Week of the season. Valid values are as follows: Preseason 0
          to 4, Regular Season 1 to 17, Postseason 1 to 4.n          Example: <code>1</code>n        '
        in: path
        name: week
        required: true
        type: string
      - description: 'Abbreviation of a team playing in this game. Example: <code>WAS</code>.'
        in: path
        name: hometeam
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/BoxScoreV3'
      summary: Box Score V3
  /{format}/BoxScores/{season}/{week}:
    get:
      description: This method returns all box scores for a given season and week.
      operationId: LegacyBoxScores
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: 'nWeek of the season. Valid values are as follows: Preseason
          0 to 4, Regular Season 1 to 17, Postseason 1 to 4.nExample: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/BoxScore'
            type: array
      summary: Legacy Box Scores
  /{format}/BoxScoresDelta/{season}/{week}/{minutes}:
    get:
      description: This method returns all box scores for a given season and week,
        but only returns player stats that have changed in the last X minutes.
      operationId: LegacyBoxScoresDelta
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'Week of the season. Valid values are as follows: Preseason 0
          to 4, Regular Season 1 to 17, Postseason 1 to 4.n          Example: <code>1</code>n        '
        in: path
        name: week
        required: true
        type: string
      - description: 'Only returns player statistics that have changed in the last
          X minutes.  You specify how many minutes in time to go back.  Valid entries
          are:<br>n          <code>1</code> or <code>2</code>.n        '
        in: path
        name: minutes
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/BoxScore'
            type: array
      summary: Legacy Box Scores Delta
  /{format}/BoxScoresDeltaV3/{season}/{week}/{playerstoinclude}/{minutes}:
    get:
      description: This method returns all box scores for a given season and week,
        but only returns player stats that have changed in the last X minutes. You
        can also filter by type of player stats to include, such as traditional fantasy
        players, IDP players or all players.
      operationId: BoxScoresDeltaV
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'Week of the season. Valid values are as follows: Preseason 0
          to 4, Regular Season 1 to 17, Postseason 1 to 4.n          Example: <code>1</code>n        '
        in: path
        name: week
        required: true
        type: string
      - default: all
        description: The subcategory of players to include in the returned PlayerGame
          records. Possible values include:<br><br>n<code>all</code> Returns all players<br>n<code>fantasy</code>
          Returns traditional fantasy players (QB, RB, WR, TE, K, DST)<br>n<code>idp</code>
          Returns traditional fantasy players and IDP players.
        enum:
        - all
        - fantasy
        - idp
        in: path
        name: playerstoinclude
        required: true
        type: string
      - description: 'Only returns player statistics that have changed in the last
          X minutes.  You specify how many minutes in time to go back.  Valid entries
          are:<br><code>1</code>,n <code>2</code>, etc.n        '
        in: path
        name: minutes
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/BoxScoreV3'
            type: array
      summary: Box Scores Delta V3
  /{format}/Byes/{season}:
    get:
      description: 'Get bye weeks for the teams during a specified NFL season. '
      operationId: ByeWeeks
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Bye'
            type: array
      summary: Bye Weeks
  /{format}/CurrentSeason:
    get:
      description: Year of the current NFL season. This value changes on July 1st.
        The earliest season for Fantasy data is 2001. The earliest season for Team
        data is 1985. The earliest season for Fantasy data is 2001. The earliest season
        for Team data is 1985.
      operationId: SeasonCurrent
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            type: integer
      summary: Season Current
  /{format}/CurrentWeek:
    get:
      description: Number of the current week of the NFL season. This value usually
        changes on Tuesday nights or Wednesday mornings at midnight EST. Week number
        is an integer between 1 and 21 or the word current. Weeks 1 through 17 are
        regular season weeks. Weeks 18 through 21 are post-season weeks.
      operationId: WeekCurrent
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            type: integer
      summary: Week Current
  /{format}/DailyFantasyPlayers/{date}:
    get:
      operationId: DailyFantasyPlayers
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: nThe date of the contest for which you're pulling playersn<code>2014-SEP-21</code>,n<code>2014-NOV-15</code>,
          etc
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/DailyFantasyPlayer'
            type: array
      summary: Daily Fantasy Players
  /{format}/DailyFantasyPoints/{date}:
    get:
      operationId: DailyFantasyScoring
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: The date of the contest for which you're pulling playersn          <code>2014-SEP-21</code>,n          <code>2014-NOV-15</code>,
          etc
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/DailyFantasyScoring'
            type: array
      summary: Daily Fantasy Scoring
  /{format}/DfsSlatesByDate/{date}:
    get:
      operationId: DfsSlatesByDate
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the slates.n<br>Examples: <code>2017-SEP-25</code>,
          <code>2017-10-31</code>.'
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/DfsSlate'
            type: array
      summary: DFS Slates by Date
  /{format}/DfsSlatesByWeek/{season}/{week}:
    get:
      operationId: DfsSlatesByWeek
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'Week of the season. Valid values are as follows: Preseason 0
          to 4, Regular Season 1 to 17, Postseason 1 to 4.n          Example: <code>1</code>n        '
        in: path
        name: week
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/DfsSlate'
            type: array
      summary: DFS Slates by Week
  /{format}/FantasyDefenseByGame/{season}/{week}:
    get:
      operationId: FantasyDefenseGameStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: 'nWeek of the season. Valid values are as follows: Preseason
          0 to 4, Regular Season 1 to 17, Postseason 1 to 4.nExample: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/FantasyDefenseGame'
            type: array
      summary: Fantasy Defense Game Stats
  /{format}/FantasyDefenseByGameByTeam/{season}/{week}/{team}:
    get:
      operationId: FantasyDefenseGameStatsByTeam
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'Week of the season. Valid values are as follows: Preseason 0
          to 4, Regular Season 1 to 17, Postseason 1 to 4.n          Example: <code>1</code>n        '
        in: path
        name: week
        required: true
        type: string
      - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        in: path
        name: team
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/FantasyDefenseGame'
      summary: Fantasy Defense Game Stats by Team
  /{format}/FantasyDefenseBySeason/{season}:
    get:
      operationId: FantasyDefenseSeasonStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/FantasyDefenseSeason'
            type: array
      summary: Fantasy Defense Season Stats
  /{format}/FantasyDefenseBySeasonByTeam/{season}/{team}:
    get:
      operationId: FantasyDefenseSeasonStatsByTeam
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        in: path
        name: team
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/FantasyDefenseSeason'
      summary: Fantasy Defense Season Stats by Team
  /{format}/FantasyPlayers:
    get:
      description: This method returns a comprehensive list of draftable fantasy football
        players, including QB, RB, WR, TE, K and DEF.  Players are sorted by ADP (AverageDraftPosition).
      operationId: FantasyPlayersWithAdp
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/FantasyPlayer'
            type: array
      summary: Fantasy Players with ADP
  /{format}/FantasyPlayersIDP:
    get:
      description: This method returns the top 300+ IDP Fantasy Players for the current
        or upcoming season, ordered by AverageDraftPositionIDP.
      operationId: IdpFantasyPlayersWithAdp
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/FantasyPlayer'
            type: array
      summary: IDP Fantasy Players with ADP
  /{format}/FinalBoxScores:
    get:
      operationId: LegacyBoxScoresFinal
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/BoxScore'
            type: array
      summary: Legacy Box Scores Final
  /{format}/FreeAgents:
    get:
      operationId: PlayerDetailsByFreeAgents
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Player'
            type: array
      summary: Player Details by Free Agents
  /{format}/GameLeagueLeaders/{season}/{week}/{position}/{column}:
    get:
      operationId: LeagueLeadersByWeek
      parameters:
      - default: XML
        description: nDesired response format. Valid entries are <code>XML</code>
          or <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: 'nWeek of the season. Valid values are as follows: Preseason
          0 to 4, Regular Season 1 to 17, Postseason 1 to 4.nExample: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      - default: ALL
        description: Playeru00e2u20acu2122s position that you would like to filter
          by.
        enum:
        - ALL
        - OFFENSE
        - QB
        - RB
        - WR
        - TE
        - DEFENSE
        - DL
        - LB
        - DB
        - K
        in: path
        name: position
        required: true
        type: string
      - description: Response member you would like results sorted by.
        enum:
        - FantasyPoints
        - PassingYards
        - RushingYards
        - Receptions
        - Sacks
        - Interceptions
        - Touchdowns
        in: path
        name: column
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerGame'
            type: array
      summary: League Leaders by Week
  /{format}/GameStats/{season}:
    get:
      description: Game stats for a specified season.
      operationId: GameStatsBySeasonDeprecatedUseTeamGameStatsInstead
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Game'
            type: array
      summary: Game Stats by Season (Deprecated, use Team Game Stats instead)
  /{format}/GameStatsByWeek/{season}/{week}:
    get:
      description: Game stats for a specified season and week.
      operationId: GameStatsByWeekDeprecatedUseTeamGameStatsInstead
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: 'nWeek of the season. Valid values are as follows: Preseason
          0 to 4, Regular Season 1 to 17, Postseason 1 to 4.nExample: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Game'
            type: array
      summary: Game Stats by Week (Deprecated, use Team Game Stats instead)
  /{format}/Injuries/{season}/{week}:
    get:
      operationId: Injuries
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: 'nWeek of the season. Valid values are as follows: Preseason
          0 to 4, Regular Season 1 to 17, Postseason 1 to 4.nExample: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Injury'
            type: array
      summary: Injuries
  /{format}/Injuries/{season}/{week}/{team}:
    get:
      operationId: InjuriesByTeam
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: 'nWeek of the season. Valid values are as follows: Preseason
          0 to 4, Regular Season 1 to 17, Postseason 1 to 4.nExample: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        in: path
        name: team
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Injury'
            type: array
      summary: Injuries by Team
  /{format}/LastCompletedSeason:
    get:
      description: Year of the most recently completed season. this value changes
        immediately after the Super Bowl. The earliest season for Fantasy data is
        2001. The earliest season for Team data is 1985.
      operationId: SeasonLastCompleted
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            type: integer
      summary: Season Last Completed
  /{format}/LastCompletedWeek:
    get:
      description: nNumber of the last completed week in the current NFL season. This
        value changes immediately after the last game of the week is completed and
        the data is available. This usually happens right after the Monday night game.nWeek
        number is an integer between 1 and 21 or the word current. Weeks 1 through
        17 are regular season weeks. Weeks 18 through 21 are post-season weeks.
      operationId: WeekLastCompleted
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            type: integer
      summary: Week Last Completed
  /{format}/LiveBoxScores:
    get:
      operationId: LegacyBoxScoresLive
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/BoxScore'
            type: array
      summary: Legacy Box Scores Live
  /{format}/News:
    get:
      operationId: News
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News
  /{format}/NewsByDate/{date}:
    get:
      operationId: NewsByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the news.n<br>Examples: <code>2017-JUL-31</code>,
          <code>2017-SEP-01</code>.'
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News by Date
  /{format}/NewsByPlayerID/{playerid}:
    get:
      operationId: NewsByPlayer
      parameters:
      - description: nDesired response format. Valid entries are <code>XML</code>
          or <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>14257</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News by Player
  /{format}/NewsByTeam/{team}:
    get:
      operationId: NewsByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        in: path
        name: team
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News by Team
  /{format}/Player/{playerid}:
    get:
      operationId: PlayerDetailsByPlayer
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>732</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/PlayerDetail'
      summary: Player Details by Player
  /{format}/PlayerGameRedZoneStats/{season}/{week}:
    get:
      operationId: PlayerGameRedZoneStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'Week of the season. Valid values are as follows: Preseason 0
          to 4, Regular Season 1 to 17, Postseason 1 to 4.n          Example: <code>1</code>n        '
        in: path
        name: week
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerGameRedZone'
            type: array
      summary: Player Game Red Zone Stats
  /{format}/PlayerGameStatsByPlayerID/{season}/{week}/{playerid}:
    get:
      operationId: PlayerGameStatsByPlayer
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: 'nWeek of the season. Valid values are as follows: Preseason
          0 to 4, Regular Season 1 to 17, Postseason 1 to 4.nExample: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>732</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/PlayerGame'
      summary: Player Game Stats by Player
  /{format}/PlayerGameStatsByTeam/{season}/{week}/{team}:
    get:
      operationId: PlayerGameStatsByTeam
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: 'nWeek of the season. Valid values are as follows: Preseason
          0 to 4, Regular Season 1 to 17, Postseason 1 to 4.nExample: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        in: path
        name: team
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerGame'
            type: array
      summary: Player Game Stats by Team
  /{format}/PlayerGameStatsByWeek/{season}/{week}:
    get:
      operationId: PlayerGameStatsByWeek
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: 'nWeek of the season. Valid values are as follows: Preseason
          0 to 4, Regular Season 1 to 17, Postseason 1 to 4.nExample: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerGame'
            type: array
      summary: Player Game Stats by Week
  /{format}/PlayerGameStatsByWeekDelta/{season}/{week}/{minutes}:
    get:
      operationId: PlayerGameStatsByWeekDelta
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: 'nWeek of the season. Valid values are as follows: Preseason
          0 to 4, Regular Season 1 to 17, Postseason 1 to 4.nExample: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      - description: 'Only returns player statistics that have changed in the last
          X minutes.  You specify how many minutes in time to go back.  Valid entries
          are:<br>n          <code>1</code> or <code>2</code>.n        '
        in: path
        name: minutes
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerGame'
            type: array
      summary: Player Game Stats by Week Delta
  /{format}/PlayerGameStatsDelta/{minutes}:
    get:
      operationId: PlayerGameStatsDelta
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: nOnly returns player statistics that have changed in the last
          X minutes.  You specify how many minutes in time to go back.  Valid entries
          are:n<code>1</code> or <code>2</code>.
        in: path
        name: minutes
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerGame'
            type: array
      summary: Player Game Stats Delta
  /{format}/PlayerOwnership/{season}/{week}:
    get:
      operationId: FantasyPlayerOwnershipPercentagesSeasonLong
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season and the season type. If no season type is
          provided, then the default is regular season.n          <br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.n        '
        in: path
        name: season
        required: true
        type: string
      - description: 'Week of the season. Valid values are as follows: Preseason 0
          to 4, Regular Season 1 to 17, Postseason 1 to 4.n          Example: <code>1</code>n        '
        in: path
        name: week
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerOwnership'
            type: array
      summary: Fantasy Player Ownership Percentages (Season-Long)
  /{format}/PlayerSeasonRedZoneStats/{season}:
    get:
      operationId: PlayerSeasonRedZoneStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerSeasonRedZone'
            type: array
      summary: Player Season Red Zone Stats
  /{format}/PlayerSeasonStats/{season}:
    get:
      operationId: PlayerSeasonStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerSeason'
            type: array
      summary: Player Season Stats
  /{format}/PlayerSeasonStatsByPlayerID/{season}/{playerid}:
    get:
      operationId: PlayerSeasonStatsByPlayer
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: Each NFL player has a unique ID assigned by FantasyData. Player
          IDs can be determined by pulling player related data. Example:<code>732</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/PlayerSeason'
      summary: Player Season Stats by Player
  /{format}/PlayerSeasonStatsByTeam/{season}/{team}:
    get:
      operationId: PlayerSeasonStatsByTeam
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        in: path
        name: team
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerSeason'
            type: array
      summary: Player Season Stats by Team
  /{format}/PlayerSeasonThirdDownStats/{season}:
    get:
      operationId: PlayerSeasonThirdDownStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerSeasonThirdDown'
            type: array
      summary: Player Season Third Down Stats
  /{format}/Players:
    get:
      operationId: PlayerDetailsByAvailable
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Player'
            type: array
      summary: Player Details by Available
  /{format}/Players/{team}:
    get:
      operationId: PlayerDetailsByTeam
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
        in: path
        name: team
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerDetail'
            type: array
      summary: Player Details by Team
  /{format}/ProBowlers/{season}:
    get:
      operationId: ProBowlers
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the seasonn<br>Examples: <code>2016</code>, <code>2017</code>'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerInfo'
            type: array
      summary: Pro Bowlers
  /{format}/RecentlyUpdatedBoxScores/{minutes}:
    get:
      operationId: LegacyBoxScoresDeltaCurrentWeek
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Only returns player statistics that have changed in the last
          X minutes.  You specify how many minutes in time to go back.  Valid entries
          are:<br>n          <code>1</code> or <code>2</code>.n        '
        in: path
        name: minutes
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/BoxScore'
            type: array
      summary: Legacy Box Scores Delta (Current Week)
  /{format}/Schedules/{season}:
    get:
      description: Game schedule for a specified season.
      operationId: Schedule
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season (with optional season type).<br>Examples:
          <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,
          <code>2019</code>, etc.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Schedule'
            type: array
      summary: Schedule
  /{format}/Scores/{season}:
    get:
      description: Game scores for a specified season.
      operationId: ScoresBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season (with optional season type).<br>Examples:
          <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,
          <code>2019</code>, etc.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Score'
            type: array
      summary: 'Scores by Season '
  /{format}/ScoresByWeek/{season}/{week}:
    get:
      description: Get game scores for a specified week of a season.
      operationId: ScoresByWeek
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: 'nWeek of the season. Valid values are as follows: Preseason
          0 to 4, Regular Season 1 to 17, Postseason 1 to 4.nExample: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Score'
            type: array
      summary: Scores by Week
  /{format}/SeasonLeagueLeaders/{season}/{position}/{column}:
    get:
      operationId: LeagueLeadersBySeason
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - default: ALL
        description: Playeru00e2u20acu2122s position that you would like to filter
          by.
        enum:
        - ALL
        - OFFENSE
        - QB
        - RB
        - WR
        - TE
        - DEFENSE
        - DL
        - LB
        - DB
        - K
        in: path
        name: position
        required: true
        type: string
      - description: Response member you would like results sorted by.
        enum:
        - FantasyPoints
        - PassingYards
        - RushingYards
        - Receptions
        - Sacks
        - Interceptions
        - Touchdowns
        in: path
        name: column
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/PlayerSeason'
            type: array
      summary: League Leaders by Season
  /{format}/SimulatedBoxScoresV3/{numberofplays}:
    get:
      description: Gets simulated live box scores of NFL games, covering the Conference
        Championship games on January 21, 2018.
      operationId: BoxScoresVSimulation
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: The number of plays to progress in this NFL live game simulation.
          Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>,
          <code>150</code>, <code>200</code>, etc.
        in: path
        name: numberofplays
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/BoxScoreV3'
            type: array
      summary: Box Scores V3 Simulation
  /{format}/SimulatedScores/{numberofplays}:
    get:
      description: Gets simulated live scores of NFL games, covering the Conference
        Championship games on January 21, 2018.
      operationId: ScoresByWeekSimulation
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: The number of plays to progress in this NFL live game simulation.
          Example entries are <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>,
          <code>150</code>, <code>200</code>, etc.
        in: path
        name: numberofplays
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Score'
            type: array
      summary: Scores by Week Simulation
  /{format}/Stadiums:
    get:
      description: This method returns all stadiums.
      operationId: Stadiums
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Stadium'
            type: array
      summary: Stadiums
  /{format}/Standings/{season}:
    get:
      operationId: Standings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Standing'
            type: array
      summary: Standings
  /{format}/TeamGameStats/{season}/{week}:
    get:
      operationId: TeamGameStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      - description: 'nWeek of the season. Valid values are as follows: Preseason
          0 to 4, Regular Season 1 to 17, Postseason 1 to 4.nExample: <code>1</code>'
        in: path
        name: week
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/TeamGame'
            type: array
      summary: Team Game Stats
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: TeamSeasonStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/TeamSeason'
            type: array
      summary: Team Season Stats
  /{format}/Teams:
    get:
      description: Gets all active teams.
      operationId: TeamsActive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Team'
            type: array
      summary: Teams (Active)
  /{format}/Teams/{season}:
    get:
      description: List of teams playing in a specified season.
      operationId: TeamsBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      - description: 'nYear of the season and the season type. If no season type is
          provided, then the default is regular season.n<br>Examples: <code>2015REG</code>,
          <code>2015PRE</code>, <code>2015POST</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Team'
            type: array
      summary: Teams by Season
  /{format}/Timeframes/{type}:
    get:
      description: Get detailed information about past, present, and future timeframes.
      operationId: Timeframes
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      - description: The type of timeframes to return.  Valid entries are <code>current</code>
          or <code>upcoming</code> or <code>completed</code> or <code>recent</code>
          or <code>all</code>.
        in: path
        name: type
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Timeframe'
            type: array
      summary: Timeframes
  /{format}/UpcomingSeason:
    get:
      description: Year of the current NFL season, if we are in the mid-season. If
        we are in the off-season, then year of the next upcoming season. This value
        changes immediately after the Super Bowl. The earliest season for Fantasy
        data is 2001. The earliest season for Team data is 1985.
      operationId: SeasonUpcoming
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            type: integer
      summary: Season Upcoming
  /{format}/UpcomingWeek:
    get:
      description: Number of the upcoming week of the NFL season. This value changes
        immediately after the final game of the week is completed. We consider upcoming
        week to be the current week, until current week is over. Week number is an
        integer between 1 and 21 or the word current. Weeks 1 through 17 are regular
        season weeks. Weeks 18 through 21 are post-season weeks.
      operationId: WeekUpcoming
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            type: integer
      summary: Week Upcoming
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":41:{s:8:\"BoxScore\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":20:{s:11:\"AwayDefense\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PlayerDefense\";}s:4:\"type\";s:5:\"array\";}s:18:\"AwayFantasyDefense\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FantasyDefenseGame\";}s:19:\"AwayKickPuntReturns\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PlayerKickPuntReturns\";}s:4:\"type\";s:5:\"array\";}s:11:\"AwayKicking\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PlayerKicking\";}s:4:\"type\";s:5:\"array\";}s:11:\"AwayPassing\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PlayerPassing\";}s:4:\"type\";s:5:\"array\";}s:11:\"AwayPunting\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PlayerPunting\";}s:4:\"type\";s:5:\"array\";}s:13:\"AwayReceiving\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PlayerReceiving\";}s:4:\"type\";s:5:\"array\";}s:11:\"AwayRushing\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PlayerRushing\";}s:4:\"type\";s:5:\"array\";}s:4:\"Game\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Game\";}s:11:\"HomeDefense\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PlayerDefense\";}s:4:\"type\";s:5:\"array\";}s:18:\"HomeFantasyDefense\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FantasyDefenseGame\";}s:19:\"HomeKickPuntReturns\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PlayerKickPuntReturns\";}s:4:\"type\";s:5:\"array\";}s:11:\"HomeKicking\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PlayerKicking\";}s:4:\"type\";s:5:\"array\";}s:11:\"HomePassing\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PlayerPassing\";}s:4:\"type\";s:5:\"array\";}s:11:\"HomePunting\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PlayerPunting\";}s:4:\"type\";s:5:\"array\";}s:13:\"HomeReceiving\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PlayerReceiving\";}s:4:\"type\";s:5:\"array\";}s:11:\"HomeRushing\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PlayerRushing\";}s:4:\"type\";s:5:\"array\";}s:5:\"Score\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Score\";}s:14:\"ScoringDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ScoringDetail\";}s:4:\"type\";s:5:\"array\";}s:12:\"ScoringPlays\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ScoringPlay\";}s:4:\"type\";s:5:\"array\";}}}s:10:\"BoxScoreV3\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"FantasyDefenseGames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FantasyDefenseGame\";}s:4:\"type\";s:5:\"array\";}s:11:\"PlayerGames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PlayerGame\";}s:4:\"type\";s:5:\"array\";}s:8:\"Quarters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Quarter\";}s:4:\"type\";s:5:\"array\";}s:5:\"Score\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Score\";}s:14:\"ScoringDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ScoringDetail\";}s:4:\"type\";s:5:\"array\";}s:12:\"ScoringPlays\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ScoringPlay\";}s:4:\"type\";s:5:\"array\";}s:9:\"TeamGames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TeamGame\";}s:4:\"type\";s:5:\"array\";}}}s:3:\"Bye\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Week\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:18:\"DailyFantasyPlayer\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":21:{s:4:\"Date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"DraftKingsSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"FanDuelSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"FantasyDataSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"FantasyDraftSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"HomeOrAway\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"LastGameFantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Opponent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"OpponentPositionRank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"OpponentRank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"ProjectedFantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Salary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"ShortName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"StatusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"StatusColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"YahooSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:19:\"DailyFantasyScoring\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":14:{s:4:\"Date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"FantasyPointsPPR\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"HasStarted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"IsInProgress\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"IsOver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"DfsSlate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"DfsSlateGames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DfsSlateGame\";}s:4:\"type\";s:5:\"array\";}s:15:\"DfsSlatePlayers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DfsSlatePlayer\";}s:4:\"type\";s:5:\"array\";}s:15:\"IsMultiDaySlate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"NumberOfGames\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"OperatorDay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OperatorGameType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"OperatorName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"OperatorSlateID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"OperatorStartTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"RemovedByOperator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"SlateID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"DfsSlateGame\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"GameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"OperatorGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"RemovedByOperator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"SlateGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"SlateID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:14:\"DfsSlatePlayer\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:30:\"FantasyDefenseProjectionStatID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"OperatorPlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"OperatorPlayerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OperatorPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"OperatorRosterSlots\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"OperatorSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"OperatorSlatePlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"PlayerGameProjectionStatID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"RemovedByOperator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"SlateGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"SlateID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"SlatePlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:18:\"FantasyDefenseGame\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":110:{s:15:\"AssistedTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"BlockedKickReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"BlockedKickReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"BlockedKicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"DefensiveTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:30:\"DraftKingsFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:36:\"DraftKingsKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"DraftKingsPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:41:\"DraftKingsQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:41:\"DraftKingsRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"DraftKingsSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:38:\"DraftKingsTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:42:\"DraftKingsWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"FanDuelFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:33:\"FanDuelKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"FanDuelPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:38:\"FanDuelQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:38:\"FanDuelRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FanDuelSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:35:\"FanDuelTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:39:\"FanDuelWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"FantasyDataSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"FantasyDefenseID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:32:\"FantasyDraftFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:38:\"FantasyDraftKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyDraftPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:43:\"FantasyDraftQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:43:\"FantasyDraftRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyDraftSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:40:\"FantasyDraftTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:44:\"FantasyDraftWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FieldGoalReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FourthDownAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"FourthDownConversions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"FumbleReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"FumbleReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FumblesForced\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"FumblesRecovered\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"GameKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"GlobalGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalOpponentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"HomeOrAway\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"InterceptionReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"InterceptionReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"Interceptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"IsGameOver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"KickReturnLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"KickReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"KickReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"KickReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"KickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"OffensiveYardsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Opponent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"OpponentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"OpponentPositionRank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"OpponentRank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"PassesDefended\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"PointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:34:\"PointsAllowedByDefenseSpecialTeams\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PuntReturnLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PuntReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PuntReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PuntReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:31:\"QuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"QuarterbackHits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:31:\"RunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"SackYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Sacks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Safeties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"ScoreID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"ScoringDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ScoringDetail\";}s:4:\"type\";s:5:\"array\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"SoloTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"SpecialTeamsTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Stadium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"TacklesForLoss\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"Temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"ThirdDownAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"ThirdDownConversions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"TightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"TouchdownsScored\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"TwoPointConversionReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"VictivSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Week\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:32:\"WideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"WindSpeed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"YahooFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:31:\"YahooKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"YahooPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:36:\"YahooQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:36:\"YahooRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"YahooSalary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:33:\"YahooTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:37:\"YahooWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:20:\"FantasyDefenseSeason\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":89:{s:15:\"AssistedTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"AuctionValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"AuctionValuePPR\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"AverageDraftPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"AverageDraftPositionPPR\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"BlockedKickReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"BlockedKickReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"BlockedKicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"DefensiveTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:30:\"DraftKingsFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:36:\"DraftKingsKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:41:\"DraftKingsQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:41:\"DraftKingsRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:38:\"DraftKingsTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:42:\"DraftKingsWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"FanDuelFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:33:\"FanDuelKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:38:\"FanDuelQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:38:\"FanDuelRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:35:\"FanDuelTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:39:\"FanDuelWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:32:\"FantasyDraftFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:38:\"FantasyDraftKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:43:\"FantasyDraftQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:43:\"FantasyDraftRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:40:\"FantasyDraftTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:44:\"FantasyDraftWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FieldGoalReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FourthDownAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"FourthDownConversions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"FumbleReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"FumbleReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FumblesForced\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"FumblesRecovered\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Games\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"InterceptionReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"InterceptionReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"Interceptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"KickReturnLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"KickReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"KickReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"KickReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"KickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"OffensiveYardsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PassesDefended\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"PointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:34:\"PointsAllowedByDefenseSpecialTeams\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"PuntReturnLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PuntReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"PuntReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PuntReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:31:\"QuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"QuarterbackHits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:31:\"RunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"SackYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Sacks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Safeties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"ScoringDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ScoringDetail\";}s:4:\"type\";s:5:\"array\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"SoloTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"SpecialTeamsTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"TacklesForLoss\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"Temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"ThirdDownAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"ThirdDownConversions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"TightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"TouchdownsScored\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"TwoPointConversionReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:32:\"WideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"WindSpeed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"YahooFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:31:\"YahooKickerFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:36:\"YahooQuarterbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:36:\"YahooRunningbackFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:33:\"YahooTightEndFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:37:\"YahooWideReceiverFantasyPointsAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:13:\"FantasyPlayer\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"AuctionValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"AuctionValuePPR\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"AverageDraftPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"AverageDraftPositionIDP\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"AverageDraftPositionPPR\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"ByeWeek\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"FantasyPlayerKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"LastSeasonFantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"ProjectedFantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Game\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":212:{s:19:\"AwayAssistedTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:31:\"AwayBlockedKickReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:26:\"AwayBlockedKickReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"AwayBlockedKicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"AwayCompletionPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:29:\"AwayExtraPointKickingAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:32:\"AwayExtraPointKickingConversions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:29:\"AwayExtraPointPassingAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:32:\"AwayExtraPointPassingConversions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:29:\"AwayExtraPointRushingAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:32:\"AwayExtraPointRushingConversions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"AwayExtraPointsHadBlocked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"AwayFieldGoalAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:29:\"AwayFieldGoalReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"AwayFieldGoalReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"AwayFieldGoalsHadBlocked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"AwayFieldGoalsMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"AwayFirstDowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"AwayFirstDownsByPassing\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"AwayFirstDownsByPenalty\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"AwayFirstDownsByRushing\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"AwayFourthDownAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"AwayFourthDownConversions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"AwayFourthDownPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"AwayFumbleReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"AwayFumbleReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"AwayFumbles\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"AwayFumblesForced\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"AwayFumblesLost\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"AwayFumblesRecovered\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"AwayGiveaways\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"AwayGoalToGoAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"AwayGoalToGoConversions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:32:\"AwayInterceptionReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:27:\"AwayInterceptionReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"AwayInterceptionReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"AwayKickReturnLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"AwayKickReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"AwayKickReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"AwayKickReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"AwayKickoffTouchbacks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"AwayKickoffs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"AwayKickoffsInEndZone\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"AwayOffensivePlays\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"AwayOffensiveYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"AwayOffensiveYardsPerPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"AwayPasserRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"AwayPassesDefended\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"AwayPassingAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"AwayPassingCompletions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"AwayPassingInterceptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"AwayPassingTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"AwayPassingYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:26:\"AwayPassingYardsPerAttempt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:29:\"AwayPassingYardsPerCompletion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"AwayPenalties\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"AwayPenaltyYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"AwayPuntAverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"AwayPuntNetAverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"AwayPuntNetYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"AwayPuntReturnLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"AwayPuntReturnTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"AwayPuntReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"AwayPuntReturns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"AwayPuntYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"AwayPunts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"AwayPuntsHadBlocked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"AwayQuarterbackHits\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"AwayRedZoneAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"AwayRedZoneConversions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"AwayReturnYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"AwayRushingAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"AwayRushingTouchdowns\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"AwayRushingYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:26:\"AwayRushingYardsPerAttempt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"AwaySackYards\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"AwaySacks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"AwaySafeties\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"AwayScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"AwayScoreOvertime\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"AwayScoreQuarter1\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"AwayScoreQuarter2\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"AwayScoreQuarter3\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"AwayScoreQuarter4\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"AwaySoloTackles\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"AwayTacklesForLoss\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"
[...]
