---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:7:\"nfldata\";}s:5:\"title\";s:13:\"NBA
  v3 Scores\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:13:\"entertainment\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:80:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:60:\"https://fantasydata.com/downloads/swagger/nba-v3-scores.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"fantasydata.net\";s:13:\"x-serviceName\";s:13:\"nba-v3-scores\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"fantasydata_nba_v3_scores\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.fantasydata.net
basePath: /v3/nba/scores
paths:
  /{format}/AllTeams:
    get:
      operationId: TeamsAll
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Team'
            type: array
      summary: Teams (All)
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: AreGamesInProgress
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            type: boolean
      summary: Are Games In Progress
  /{format}/CurrentSeason:
    get:
      operationId: CurrentSeason
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Season'
            type: array
      summary: Current Season
  /{format}/Games/{season}:
    get:
      operationId: Schedules
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season (with optional season type).<br>Examples:
          <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,
          <code>2019</code>, etc.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Game'
            type: array
      summary: Schedules
  /{format}/GamesByDate/{date}:
    get:
      operationId: GamesByDate
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the game(s).n<br>Examples: <code>2015-JUL-31</code>,
          <code>2015-SEP-01</code>.'
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Game'
            type: array
      summary: Games by Date
  /{format}/News:
    get:
      operationId: News
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News
  /{format}/NewsByDate/{date}:
    get:
      operationId: NewsByDate
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the news.n<br>Examples: <code>2015-JUL-31</code>,
          <code>2015-SEP-01</code>.'
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News by Date
  /{format}/NewsByPlayerID/{playerid}:
    get:
      operationId: NewsByPlayer
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: Unique FantasyData Player ID.nExample:<code>10000507</code>.
        in: path
        name: playerid
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News by Player
  /{format}/Stadiums:
    get:
      operationId: Stadiums
      parameters:
      - default: xml
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - xml
        - json
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Stadium'
            type: array
      summary: Stadiums
  /{format}/Standings/{season}:
    get:
      operationId: Standings
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season.n<br>Examples: <code>2015</code>, <code>2016</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Standing'
            type: array
      summary: Standings
  /{format}/TeamGameStatsByDate/{date}:
    get:
      operationId: TeamGameStatsByDate
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'The date of the game(s).n<br>Examples: <code>2015-JUL-31</code>,
          <code>2015-SEP-01</code>.'
        in: path
        name: date
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/TeamGame'
            type: array
      summary: Team Game Stats by Date
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: TeamSeasonStats
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      - description: 'Year of the season.n<br>Examples: <code>2015</code>, <code>2016</code>.'
        in: path
        name: season
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/TeamSeason'
            type: array
      summary: Team Season Stats
  /{format}/teams:
    get:
      operationId: TeamsActive
      parameters:
      - default: XML
        description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        enum:
        - XML
        - JSON
        in: path
        name: format
        required: true
        type: string
      responses:
        200:
          description: ""
          schema:
            items:
              $ref: '#/definitions/Team'
            type: array
      summary: Teams (Active)
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:4:\"Game\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":30:{s:10:\"Attendance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"AwayTeam\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"AwayTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"AwayTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"AwayTeamScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Channel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"GameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalAwayTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalHomeTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"HomeTeam\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"HomeTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"HomeTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"HomeTeamScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"IsClosed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"LastPlay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"OverUnder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"PointSpread\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:28:\"PointSpreadAwayTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"PointSpreadHomeTeamMoneyLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Quarter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"StadiumID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"TimeRemainingMinutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"TimeRemainingSeconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"News\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":16:{s:6:\"Author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Categories\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"NewsID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"PlayerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"PlayerID2\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Team2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"TeamID2\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"TermsOfUse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"TimeAgo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"OpponentSeason\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":58:{s:7:\"Assists\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"AssistsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"BlockedShots\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"BlocksPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"DefensiveRebounds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"DefensiveReboundsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"DoubleDoubles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:29:\"EffectiveFieldGoalsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"FieldGoalsAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"FieldGoalsMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"FreeThrowsAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"FreeThrowsMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FreeThrowsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Games\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"IsClosed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"Losses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Minutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"OffensiveRebounds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"OffensiveReboundsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"OpponentPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"OpponentStat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OpponentSeason\";}s:13:\"PersonalFouls\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"PlayerEfficiencyRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"PlusMinus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Points\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"Possessions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Rebounds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Seconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"StatID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Steals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"StealsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"ThreePointersAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"ThreePointersMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"ThreePointersPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"TotalReboundsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"TripleDoubles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"TrueShootingAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"TrueShootingPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"TurnOversPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"Turnovers\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"TwoPointersAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"TwoPointersMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"TwoPointersPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"UsageRatePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Wins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:6:\"Season\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"ApiSeason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"EndYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"PostSeasonStartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"RegularSeasonStartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"StartYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"Stadium\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"Active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"Address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Capacity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"GeoLat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"GeoLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"StadiumID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Standing\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":26:{s:10:\"AwayLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"AwayWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Conference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ConferenceLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"ConferenceWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"Division\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"DivisionLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"DivisionWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"GamesBack\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"HomeLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"HomeWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"Key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"LastTenLosses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"LastTenWins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Losses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Percentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"PointsPerGameAgainst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"PointsPerGameFor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Streak\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"StreakDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Wins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:4:\"Team\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":16:{s:6:\"Active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Conference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Division\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"LeagueID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"PrimaryColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"QuaternaryColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"SecondaryColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"StadiumID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"TertiaryColor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"WikipediaLogoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"WikipediaWordMarkUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"[Key]\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"TeamGame\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":65:{s:7:\"Assists\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"AssistsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"BlockedShots\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"BlocksPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"DefensiveRebounds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"DefensiveReboundsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"DoubleDoubles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:29:\"EffectiveFieldGoalsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"FieldGoalsAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"FieldGoalsMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"FreeThrowsAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"FreeThrowsMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FreeThrowsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"GameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Games\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalGameID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"GlobalOpponentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"HomeOrAway\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"IsClosed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"IsGameOver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"Losses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Minutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"OffensiveRebounds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"OffensiveReboundsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Opponent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"OpponentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"PersonalFouls\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"PlayerEfficiencyRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"PlusMinus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Points\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"Possessions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Rebounds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Seconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"StatID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Steals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"StealsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"ThreePointersAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"ThreePointersMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"ThreePointersPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"TotalReboundsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"TripleDoubles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"TrueShootingAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"TrueShootingPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"TurnOversPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"Turnovers\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"TwoPointersAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"TwoPointersMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"TwoPointersPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"UsageRatePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Wins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:10:\"TeamSeason\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":58:{s:7:\"Assists\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"AssistsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"BlockedShots\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"BlocksPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"DefensiveRebounds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"DefensiveReboundsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"DoubleDoubles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:29:\"EffectiveFieldGoalsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"FantasyPoints\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"FantasyPointsDraftKings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FantasyPointsFanDuel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:25:\"FantasyPointsFantasyDraft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"FantasyPointsYahoo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"FieldGoalsAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"FieldGoalsMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FieldGoalsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"FreeThrowsAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"FreeThrowsMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"FreeThrowsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"Games\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"GlobalTeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"IsClosed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"Losses\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Minutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"OffensiveRebounds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"OffensiveReboundsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"OpponentPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"OpponentStat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OpponentSeason\";}s:13:\"PersonalFouls\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"PlayerEfficiencyRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"PlusMinus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Points\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"Possessions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"Rebounds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"SeasonType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Seconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"StatID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Steals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"StealsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TeamID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"ThreePointersAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"ThreePointersMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"ThreePointersPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"TotalReboundsPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"TripleDoubles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"TrueShootingAttempts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"TrueShootingPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"TurnOversPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"Turnovers\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"TwoPointersAttempted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"TwoPointersMade\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"TwoPointersPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"Updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"UsageRatePercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"Wins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}"
...
