---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:57:\"<fullname>Amazon
  Mechanical Turk API Reference</fullname>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:22:\"Amazon
  Mechanical Turk\";s:7:\"version\";s:10:\"2017-01-17\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:99:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mturk-requester-2017-01-17.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:15:\"mturk-requester\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"amazonaws_mturk_requester\";s:4:\"type\";s:7:\"openapi\";}}"
host: mturk-requester.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":146:{s:33:\"AcceptQualificationRequestRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"IntegerValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:155:\"
  The value of the Qualification. You can omit this value if you are using the presence
  or absence of the Qualification as the basis for a HIT requirement. \";}s:22:\"QualificationRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:104:\"The
  ID of the Qualification request, as returned by the <code>GetQualificationRequests</code>
  operation.\";}}s:8:\"required\";a:1:{i:0;s:22:\"QualificationRequestId\";}s:4:\"type\";s:6:\"object\";}s:34:\"AcceptQualificationRequestResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"ApproveAssignmentRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"AssignmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:93:\"
  The ID of the assignment. The assignment must correspond to a HIT created by the
  Requester. \";}s:17:\"OverrideRejection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:125:\"
  A flag indicating that an assignment should be approved even if it was previously
  rejected. Defaults to <code>False</code>. \";}s:17:\"RequesterFeedback\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:91:\"
  A message for the Worker, which the Worker can see in the Status section of the
  web site. \";}}s:8:\"required\";a:1:{i:0;s:12:\"AssignmentId\";}s:4:\"type\";s:6:\"object\";}s:25:\"ApproveAssignmentResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"Assignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:194:\"
  The Assignment data structure represents a single assignment of a HIT to a Worker.
  The assignment tracks the Worker's efforts to complete the HIT, and contains the
  results for later retrieval. \";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"AcceptTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:54:\"
  The date and time the Worker accepted the assignment.\";}s:6:\"Answer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:241:\"
  The Worker's answers submitted for the HIT contained in a QuestionFormAnswers document,
  if the Worker provides an answer. If the Worker does not provide any answers, Answer
  may contain a QuestionFormAnswers document, or Answer may be empty.\";}s:12:\"ApprovalTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:243:\"
  If the Worker has submitted results and the Requester has approved the results,
  ApprovalTime is the date and time the Requester approved the results. This value
  is omitted from the assignment if the Requester has not yet approved the results.\";}s:12:\"AssignmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:40:\"
  A unique identifier for the assignment.\";}s:16:\"AssignmentStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AssignmentStatus\";s:11:\"description\";s:30:\"
  The status of the assignment.\";}s:16:\"AutoApprovalTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:403:\"
  If results have been submitted, AutoApprovalTime is the date and time the results
  of the assignment results are considered Approved automatically if they have not
  already been explicitly approved or rejected by the Requester. This value is derived
  from the auto-approval delay specified by the Requester in the HIT. This value is
  omitted from the assignment if the Worker has not yet submitted results.\";}s:8:\"Deadline\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:171:\"
  The date and time of the deadline for the assignment. This value is derived from
  the deadline specification for the HIT and the date and time the Worker accepted
  the HIT.\";}s:5:\"HITId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:19:\"
  The ID of the HIT.\";}s:13:\"RejectionTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:151:\"
  If the Worker has submitted results and the Requester has rejected the results,
  RejectionTime is the date and time the Requester rejected the results.\";}s:17:\"RequesterFeedback\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:190:\"
  The feedback string included with the call to the ApproveAssignment operation or
  the RejectAssignment operation, if the Requester approved or rejected the assignment
  and specified feedback.\";}s:10:\"SubmitTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:186:\"
  If the Worker has submitted results, SubmitTime is the date and time the assignment
  was submitted. This value is omitted from the assignment if the Worker has not yet
  submitted results.\";}s:8:\"WorkerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CustomerId\";s:11:\"description\";s:43:\"
  The ID of the Worker who accepted the HIT.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AssignmentList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Assignment\";}s:4:\"type\";s:5:\"array\";}s:16:\"AssignmentStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:9:\"Submitted\";i:1;s:8:\"Approved\";i:2;s:8:\"Rejected\";}s:4:\"type\";s:6:\"string\";}s:20:\"AssignmentStatusList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AssignmentStatus\";}s:4:\"type\";s:5:\"array\";}s:39:\"AssociateQualificationWithWorkerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"IntegerValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:41:\"The
  value of the Qualification to assign.\";}s:19:\"QualificationTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:71:\"The
  ID of the Qualification type to use for the assigned Qualification.\";}s:16:\"SendNotification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:159:\"
  Specifies whether to send a notification email message to the Worker saying that
  the qualification was assigned to the Worker. Note: this is true by default. \";}s:8:\"WorkerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CustomerId\";s:11:\"description\";s:150:\"
  The ID of the Worker to whom the Qualification is being assigned. Worker IDs are
  included with submitted HIT assignments and Qualification requests. \";}}s:8:\"required\";a:2:{i:0;s:19:\"QualificationTypeId\";i:1;s:8:\"WorkerId\";}s:4:\"type\";s:6:\"object\";}s:40:\"AssociateQualificationWithWorkerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"BonusPayment\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"An
  object representing a Bonus payment paid to a Worker.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"AssignmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:60:\"The
  ID of the assignment associated with this bonus payment.\";}s:11:\"BonusAmount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CurrencyAmount\";}s:9:\"GrantTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:48:\"The
  date and time of when the bonus was granted.\";}s:6:\"Reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:57:\"The
  Reason text given when the bonus was granted, if any.\";}s:8:\"WorkerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CustomerId\";s:11:\"description\";s:48:\"The
  ID of the Worker to whom the bonus was paid.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"BonusPaymentList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BonusPayment\";}s:4:\"type\";s:5:\"array\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"Comparator\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:8:\"LessThan\";i:1;s:17:\"LessThanOrEqualTo\";i:2;s:11:\"GreaterThan\";i:3;s:20:\"GreaterThanOrEqualTo\";i:4;s:7:\"EqualTo\";i:5;s:10:\"NotEqualTo\";i:6;s:6:\"Exists\";i:7;s:12:\"DoesNotExist\";i:8;s:2:\"In\";i:9;s:5:\"NotIn\";}s:4:\"type\";s:6:\"string\";}s:17:\"CountryParameters\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2;s:9:\"minLength\";i:2;s:4:\"type\";s:6:\"string\";}s:40:\"CreateAdditionalAssignmentsForHITRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"HITId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:28:\"The
  ID of the HIT to extend.\";}s:29:\"NumberOfAdditionalAssignments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:61:\"The
  number of additional assignments to request for this HIT.\";}s:18:\"UniqueRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IdempotencyToken\";s:11:\"description\";s:439:\"
  A unique identifier for this request, which allows you to retry the call on error
  without extending the HIT multiple times. This is useful in cases such as network
  timeouts where it is unclear whether or not the call succeeded on the server. If
  the extend HIT already exists in the system from a previous call using the same
  <code>UniqueRequestToken</code>, subsequent calls will return an error with a message
  containing the request ID. \";}}s:8:\"required\";a:2:{i:0;s:5:\"HITId\";i:1;s:29:\"NumberOfAdditionalAssignments\";}s:4:\"type\";s:6:\"object\";}s:41:\"CreateAdditionalAssignmentsForHITResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"CreateHITRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":16:{s:27:\"AssignmentDurationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:344:\"
  The amount of time, in seconds, that a Worker has to complete the HIT after accepting
  it. If a Worker does not complete the assignment within the specified duration,
  the assignment is considered abandoned. If the HIT is still active (that is, its
  lifetime has not elapsed), the assignment becomes available for other users to find
  and accept. \";}s:22:\"AssignmentReviewPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ReviewPolicy\";s:11:\"description\";s:159:\"
  The Assignment-level Review Policy applies to the assignments under the HIT. You
  can specify for Mechanical Turk to take various actions based on the policy. \";}s:26:\"AutoApprovalDelayInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:183:\"
  The number of seconds after an assignment for the HIT has been submitted, after
  which the assignment is considered Approved automatically unless the Requester explicitly
  rejects it. \";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:361:\"
  A general description of the HIT. A description includes detailed information about
  the kind of task the HIT contains. On the Amazon Mechanical Turk web site, the HIT
  description appears in the expanded view of search results, and in the HIT and assignment
  screens. A good description gives the user enough information to evaluate the HIT
  before accepting it. \";}s:11:\"HITLayoutId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:266:\"<p>
  The HITLayoutId allows you to use a pre-existing HIT design with placeholder values
  and create an additional HIT by providing those values as HITLayoutParameters. </p>
  <p> Constraints: Either a Question parameter or a HITLayoutId parameter must be
  provided. </p>\";}s:19:\"HITLayoutParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/HITLayoutParameterList\";s:11:\"description\";s:163:\"
  If the HITLayoutId is provided, any placeholder values must be filled in with values
  using the HITLayoutParameter structure. For more information, see HITLayout. \";}s:15:\"HITReviewPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ReviewPolicy\";s:11:\"description\";s:130:\"
  The HIT-level Review Policy applies to the HIT. You can specify for Mechanical Turk
  to take various actions based on the policy. \";}s:8:\"Keywords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:121:\"
  One or more words or phrases that describe the HIT, separated by commas. These words
  are used in searches to find HITs. \";}s:17:\"LifetimeInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:245:\"
  An amount of time, in seconds, after which the HIT is no longer available for users
  to accept. After the lifetime of the HIT elapses, the HIT no longer appears in HIT
  searches, even if not all of the assignments for the HIT have been accepted. \";}s:14:\"MaxAssignments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:95:\"
  The number of times the HIT can be accepted and completed before the HIT becomes
  unavailable. \";}s:25:\"QualificationRequirements\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/QualificationRequirementList\";s:11:\"description\";s:362:\"
  Conditions that a Worker's Qualifications must meet in order to accept the HIT.
  A HIT can have between zero and ten Qualification requirements. All requirements
  must be met in order for a Worker to accept the HIT. Additionally, other actions
  can be restricted using the <code>ActionsGuarded</code> field on each <code>QualificationRequirement</code>
  structure. \";}s:8:\"Question\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:393:\"<p>
  The data the person completing the HIT uses to produce the results. </p> <p> Constraints:
  Must be a QuestionForm data structure, an ExternalQuestion data structure, or an
  HTMLQuestion data structure. The XML question data must not be larger than 64 kilobytes
  (65,535 bytes) in size, including whitespace. </p> <p>Either a Question parameter
  or a HITLayoutId parameter must be provided.</p>\";}s:19:\"RequesterAnnotation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:560:\"<p>
  An arbitrary data field. The RequesterAnnotation parameter lets your application
  attach arbitrary data to the HIT for tracking purposes. For example, this parameter
  could be an identifier internal to the Requester's application that corresponds
  with the HIT. </p> <p> The RequesterAnnotation parameter for a HIT is only visible
  to the Requester who created the HIT. It is not shown to the Worker, or any other
  Requester. </p> <p> The RequesterAnnotation parameter may be different for each
  HIT you submit. It does not affect how your HITs are grouped. </p>\";}s:6:\"Reward\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CurrencyAmount\";s:11:\"description\";s:90:\"
  The amount of money the Requester will pay a Worker for successfully completing
  the HIT. \";}s:5:\"Title\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:222:\"
  The title of the HIT. A title should be short and descriptive about the kind of
  task the HIT contains. On the Amazon Mechanical Turk web site, the HIT title appears
  in search results, and everywhere the HIT is mentioned. \";}s:18:\"UniqueRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IdempotencyToken\";s:11:\"description\";s:687:\"<p>
  A unique identifier for this request which allows you to retry the call on error
  without creating duplicate HITs. This is useful in cases such as network timeouts
  where it is unclear whether or not the call succeeded on the server. If the HIT
  already exists in the system from a previous call using the same UniqueRequestToken,
  subsequent calls will return a AWS.MechanicalTurk.HitAlreadyExists error with a
  message containing the HITId. </p> <note> <p> Note: It is your responsibility to
  ensure uniqueness of the token. The unique token expires after 24 hours. Subsequent
  calls using the same UniqueRequestToken made after the 24 hour limit could create
  duplicate HITs. </p> </note>\";}}s:8:\"required\";a:5:{i:0;s:17:\"LifetimeInSeconds\";i:1;s:27:\"AssignmentDurationInSeconds\";i:2;s:6:\"Reward\";i:3;s:5:\"Title\";i:4;s:11:\"Description\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateHITResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"HIT\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/HIT\";s:11:\"description\";s:152:\"
  Contains the newly created HIT data. For a description of the HIT data structure
  as it appears in responses, see the HIT Data Structure documentation. \";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreateHITTypeRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:27:\"AssignmentDurationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:344:\"
  The amount of time, in seconds, that a Worker has to complete the HIT after accepting
  it. If a Worker does not complete the assignment within the specified duration,
  the assignment is considered abandoned. If the HIT is still active (that is, its
  lifetime has not elapsed), the assignment becomes available for other users to find
  and accept. \";}s:26:\"AutoApprovalDelayInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:183:\"
  The number of seconds after an assignment for the HIT has been submitted, after
  which the assignment is considered Approved automatically unless the Requester explicitly
  rejects it. \";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:361:\"
  A general description of the HIT. A description includes detailed information about
  the kind of task the HIT contains. On the Amazon Mechanical Turk web site, the HIT
  description appears in the expanded view of search results, and in the HIT and assignment
  screens. A good description gives the user enough information to evaluate the HIT
  before accepting it. \";}s:8:\"Keywords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:121:\"
  One or more words or phrases that describe the HIT, separated by commas. These words
  are used in searches to find HITs. \";}s:25:\"QualificationRequirements\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/QualificationRequirementList\";s:11:\"description\";s:362:\"
  Conditions that a Worker's Qualifications must meet in order to accept the HIT.
  A HIT can have between zero and ten Qualification requirements. All requirements
  must be met in order for a Worker to accept the HIT. Additionally, other actions
  can be restricted using the <code>ActionsGuarded</code> field on each <code>QualificationRequirement</code>
  structure. \";}s:6:\"Reward\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CurrencyAmount\";s:11:\"description\";s:90:\"
  The amount of money the Requester will pay a Worker for successfully completing
  the HIT. \";}s:5:\"Title\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:222:\"
  The title of the HIT. A title should be short and descriptive about the kind of
  task the HIT contains. On the Amazon Mechanical Turk web site, the HIT title appears
  in search results, and everywhere the HIT is mentioned. \";}}s:8:\"required\";a:4:{i:0;s:27:\"AssignmentDurationInSeconds\";i:1;s:6:\"Reward\";i:2;s:5:\"Title\";i:3;s:11:\"Description\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateHITTypeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"HITTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:41:\"
  The ID of the newly registered HIT type.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreateHITWithHITTypeRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:22:\"AssignmentReviewPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ReviewPolicy\";s:11:\"description\";s:159:\"
  The Assignment-level Review Policy applies to the assignments under the HIT. You
  can specify for Mechanical Turk to take various actions based on the policy. \";}s:11:\"HITLayoutId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:266:\"<p>
  The HITLayoutId allows you to use a pre-existing HIT design with placeholder values
  and create an additional HIT by providing those values as HITLayoutParameters. </p>
  <p> Constraints: Either a Question parameter or a HITLayoutId parameter must be
  provided. </p>\";}s:19:\"HITLayoutParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/HITLayoutParameterList\";s:11:\"description\";s:163:\"
  If the HITLayoutId is provided, any placeholder values must be filled in with values
  using the HITLayoutParameter structure. For more information, see HITLayout. \";}s:15:\"HITReviewPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ReviewPolicy\";s:11:\"description\";s:130:\"
  The HIT-level Review Policy applies to the HIT. You can specify for Mechanical Turk
  to take various actions based on the policy. \";}s:9:\"HITTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:49:\"The
  HIT type ID you want to create this HIT with.\";}s:17:\"LifetimeInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:245:\"
  An amount of time, in seconds, after which the HIT is no longer available for users
  to accept. After the lifetime of the HIT elapses, the HIT no longer appears in HIT
  searches, even if not all of the assignments for the HIT have been accepted. \";}s:14:\"MaxAssignments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:95:\"
  The number of times the HIT can be accepted and completed before the HIT becomes
  unavailable. \";}s:8:\"Question\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:393:\"<p>
  The data the person completing the HIT uses to produce the results. </p> <p> Constraints:
  Must be a QuestionForm data structure, an ExternalQuestion data structure, or an
  HTMLQuestion data structure. The XML question data must not be larger than 64 kilobytes
  (65,535 bytes) in size, including whitespace. </p> <p>Either a Question parameter
  or a HITLayoutId parameter must be provided.</p>\";}s:19:\"RequesterAnnotation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:560:\"<p>
  An arbitrary data field. The RequesterAnnotation parameter lets your application
  attach arbitrary data to the HIT for tracking purposes. For example, this parameter
  could be an identifier internal to the Requester's application that corresponds
  with the HIT. </p> <p> The RequesterAnnotation parameter for a HIT is only visible
  to the Requester who created the HIT. It is not shown to the Worker, or any other
  Requester. </p> <p> The RequesterAnnotation parameter may be different for each
  HIT you submit. It does not affect how your HITs are grouped. </p>\";}s:18:\"UniqueRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IdempotencyToken\";s:11:\"description\";s:687:\"<p>
  A unique identifier for this request which allows you to retry the call on error
  without creating duplicate HITs. This is useful in cases such as network timeouts
  where it is unclear whether or not the call succeeded on the server. If the HIT
  already exists in the system from a previous call using the same UniqueRequestToken,
  subsequent calls will return a AWS.MechanicalTurk.HitAlreadyExists error with a
  message containing the HITId. </p> <note> <p> Note: It is your responsibility to
  ensure uniqueness of the token. The unique token expires after 24 hours. Subsequent
  calls using the same UniqueRequestToken made after the 24 hour limit could create
  duplicate HITs. </p> </note>\";}}s:8:\"required\";a:2:{i:0;s:9:\"HITTypeId\";i:1;s:17:\"LifetimeInSeconds\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateHITWithHITTypeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"HIT\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/HIT\";s:11:\"description\";s:152:\"
  Contains the newly created HIT data. For a description of the HIT data structure
  as it appears in responses, see the HIT Data Structure documentation. \";}}s:4:\"type\";s:6:\"object\";}s:30:\"CreateQualificationTypeRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"AnswerKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:272:\"<p>The
  answers to the Qualification test specified in the Test parameter, in the form of
  an AnswerKey data structure.</p> <p>Constraints: Must not be longer than 65535 bytes.</p>
  <p>Constraints: None. If not specified, you must process Qualification requests
  manually.</p>\";}s:11:\"AutoGranted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:228:\"<p>Specifies
  whether requests for the Qualification type are granted immediately, without prompting
  the Worker with a Qualification test.</p> <p>Constraints: If the Test parameter
  is specified, this parameter cannot be true.</p>\";}s:16:\"AutoGrantedValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:138:\"The
  Qualification value to use for automatically granted Qualifications. This parameter
  is used only if the AutoGranted parameter is true.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:164:\"A
  long description for the Qualification type. On the Amazon Mechanical Turk website,
  the long description is displayed when a Worker examines a Qualification type.\";}s:8:\"Keywords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:156:\"One
  or more words or phrases that describe the Qualification type, separated by commas.
  The keywords of a type make the type easier to find during a search.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:224:\"
  The name you give to the Qualification type. The type name is used to represent
  the Qualification to Workers, and to find the type using a Qualification type search.
  It must be unique across all of your Qualification types.\";}s:23:\"QualificationTypeStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/QualificationTypeStatus\";s:11:\"description\";s:108:\"<p>The
  initial status of the Qualification type.</p> <p>Constraints: Valid values are:
  Active | Inactive</p>\";}s:19:\"RetryDelayInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:619:\"<p>The
  number of seconds that a Worker must wait after requesting a Qualification of the
  Qualification type before the worker can retry the Qualification request.</p> <p>Constraints:
  None. If not specified, retries are disabled and Workers can request a Qualification
  of this type only once, even if the Worker has not been granted the Qualification.
  It is not possible to disable retries for a Qualification type after it has been
  created with retries enabled. If you want to disable retries, you must delete existing
  retry-enabled Qualification type and then create a new Qualification type with retries
  disabled.</p>\";}s:4:\"Test\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:484:\"<p>
  The questions for the Qualification test a Worker must answer correctly to obtain
  a Qualification of this type. If this parameter is specified, <code>TestDurationInSeconds</code>
  must also be specified. </p> <p>Constraints: Must not be longer than 65535 bytes.
  Must be a QuestionForm data structure. This parameter cannot be specified if AutoGranted
  is true.</p> <p>Constraints: None. If not specified, the Worker may request the
  Qualification without answering any questions.</p>\";}s:21:\"TestDurationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:134:\"The
  number of seconds the Worker has to complete the Qualification test, starting from
  the time the Worker requests the Qualification.\";}}s:8:\"required\";a:3:{i:0;s:4:\"Name\";i:1;s:11:\"Description\";i:2;s:23:\"QualificationTypeStatus\";}s:4:\"type\";s:6:\"object\";}s:31:\"CreateQualificationTypeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"QualificationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/QualificationType\";s:11:\"description\";s:79:\"The
  created Qualification type, returned as a QualificationType data structure.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CreateWorkerBlockRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:152:\"A
  message explaining the reason for blocking the Worker. This parameter enables you
  to keep track of your Workers. The Worker does not see this message.\";}s:8:\"WorkerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CustomerId\";s:11:\"description\";s:30:\"The
  ID of the Worker to block.\";}}s:8:\"required\";a:2:{i:0;s:8:\"WorkerId\";i:1;s:6:\"Reason\";}s:4:\"type\";s:6:\"object\";}s:25:\"CreateWorkerBlockResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"CurrencyAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"A
  string representing a currency amount.\";s:7:\"pattern\";s:23:\"^[0-9]+(\\.)?[0-9]{0,2}$\";s:4:\"type\";s:6:\"string\";}s:10:\"CustomerId\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:12:\"^A[A-Z0-9]+$\";s:4:\"type\";s:6:\"string\";}s:14:\"CustomerIdList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CustomerId\";}s:4:\"type\";s:5:\"array\";}s:16:\"DeleteHITRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"HITId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:32:\"The
  ID of the HIT to be deleted.\";}}s:8:\"required\";a:1:{i:0;s:5:\"HITId\";}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteHITResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"DeleteQualificationTypeRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"QualificationTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:43:\"The
  ID of the QualificationType to dispose.\";}}s:8:\"required\";a:1:{i:0;s:19:\"QualificationTypeId\";}s:4:\"type\";s:6:\"object\";}s:31:\"DeleteQualificationTypeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteWorkerBlockRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:99:\"A
  message that explains the reason for unblocking the Worker. The Worker does not
  see this message.\";}s:8:\"WorkerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CustomerId\";s:11:\"description\";s:32:\"The
  ID of the Worker to unblock.\";}}s:8:\"required\";a:1:{i:0;s:8:\"WorkerId\";}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteWorkerBlockResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:42:\"DisassociateQualificationFromWorkerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"QualificationTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:68:\"The
  ID of the Qualification type of the Qualification to be revoked.\";}s:6:\"Reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:117:\"A
  text message that explains why the Qualification was revoked. The user who had the
  Qualification sees this message.\";}s:8:\"WorkerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CustomerId\";s:11:\"description\";s:67:\"The
  ID of the Worker who possesses the Qualification to be revoked.\";}}s:8:\"required\";a:2:{i:0;s:8:\"WorkerId\";i:1;s:19:\"QualificationTypeId\";}s:4:\"type\";s:6:\"object\";}s:43:\"DisassociateQualificationFromWorkerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"EntityId\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:11:\"^[A-Z0-9]+$\";s:4:\"type\";s:6:\"string\";}s:9:\"EventType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:12:{i:0;s:18:\"AssignmentAccepted\";i:1;s:19:\"AssignmentAbandoned\";i:2;s:18:\"AssignmentReturned\";i:3;s:19:\"AssignmentSubmitted\";i:4;s:18:\"AssignmentRejected\";i:5;s:18:\"AssignmentApproved\";i:6;s:10:\"HITCreated\";i:7;s:10:\"HITExpired\";i:8;s:13:\"HITReviewable\";i:9;s:11:\"HITExtended\";i:10;s:11:\"HITDisposed\";i:11;s:4:\"Ping\";}s:4:\"type\";s:6:\"string\";}s:13:\"EventTypeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EventType\";}s:4:\"type\";s:5:\"array\";}s:16:\"ExceptionMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"GetAccountBalanceRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"GetAccountBalanceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"AvailableBalance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CurrencyAmount\";}s:13:\"OnHoldBalance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CurrencyAmount\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GetAssignmentRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"AssignmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:41:\"The
  ID of the Assignment to be retrieved.\";}}s:8:\"required\";a:1:{i:0;s:12:\"AssignmentId\";}s:4:\"type\";s:6:\"object\";}s:21:\"GetAssignmentResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Assignment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Assignment\";s:11:\"description\";s:63:\"
  The assignment. The response includes one Assignment element. \";}s:3:\"HIT\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/HIT\";s:11:\"description\";s:80:\"
  The HIT associated with this assignment. The response includes one HIT element.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"GetFileUploadURLRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"AssignmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:76:\"The
  ID of the assignment that contains the question with a FileUploadAnswer.\";}s:18:\"QuestionIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:100:\"The
  identifier of the question with a FileUploadAnswer, as specified in the QuestionForm
  of the HIT.\";}}s:8:\"required\";a:2:{i:0;s:12:\"AssignmentId\";i:1;s:18:\"QuestionIdentifier\";}s:4:\"type\";s:6:\"object\";}s:24:\"GetFileUploadURLResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"FileUploadURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:71:\"
  A temporary URL for the file that the Worker uploaded for the answer. \";}}s:4:\"type\";s:6:\"object\";}s:13:\"GetHITRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"HITId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:34:\"The
  ID of the HIT to be retrieved.\";}}s:8:\"required\";a:1:{i:0;s:5:\"HITId\";}s:4:\"type\";s:6:\"object\";}s:14:\"GetHITResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"HIT\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/HIT\";s:11:\"description\";s:33:\"
  Contains the requested HIT data.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"GetQualificationScoreRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"QualificationTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:32:\"The
  ID of the QualificationType.\";}s:8:\"WorkerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CustomerId\";s:11:\"description\";s:58:\"The
  ID of the Worker whose Qualification is being updated.\";}}s:8:\"required\";a:2:{i:0;s:19:\"QualificationTypeId\";i:1;s:8:\"WorkerId\";}s:4:\"type\";s:6:\"object\";}s:29:\"GetQualificationScoreResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"Qualification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/Qualification\";s:11:\"description\";s:131:\"
  The Qualification data structure of the Qualification assigned to a user, including
  the Qualification type and the value (score). \";}}s:4:\"type\";s:6:\"object\";}s:27:\"GetQualificationTypeRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"QualificationTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:32:\"The
  ID of the QualificationType.\";}}s:8:\"required\";a:1:{i:0;s:19:\"QualificationTypeId\";}s:4:\"type\";s:6:\"object\";}s:28:\"GetQualificationTypeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"QualificationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/QualificationType\";s:11:\"description\";s:32:\"
  The returned Qualification Type\";}}s:4:\"type\";s:6:\"object\";}s:3:\"HIT\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"
  The HIT data structure represents a single HIT, including all the information necessary
  for a Worker to accept and complete the HIT.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:27:\"AssignmentDurationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:90:\"
  The length of time, in seconds, that a Worker has to complete the HIT after accepting
  it.\";}s:26:\"AutoApprovalDelayInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:308:\"The
  amount of time, in seconds, after the Worker submits an assignment for the HIT that
  the results are automatically approved by Amazon Mechanical Turk. This is the amount
  of time the Requester has to reject an assignment submitted by a Worker before the
  assignment is auto-approved and the Worker is paid. \";}s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:39:\"
  The date and time the HIT was created.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"
  A general description of the HIT.\";}s:10:\"Expiration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:34:\"The
  date and time the HIT expires.\";}s:10:\"HITGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:37:\"
  The ID of the HIT Group of this HIT.\";}s:5:\"HITId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:33:\"
  A unique identifier for the HIT.\";}s:11:\"HITLayoutId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:38:\"
  The ID of the HIT Layout of this HIT.\";}s:15:\"HITReviewStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/HITReviewStatus\";s:11:\"description\";s:134:\"
  Indicates the review status of the HIT. Valid Values are NotReviewed | MarkedForReview
  | ReviewedAppropriate | ReviewedInappropriate.\";}s:9:\"HITStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/HITStatus\";s:11:\"description\";s:123:\"The
  status of the HIT and its assignments. Valid Values are Assignable | Unassignable
  | Reviewable | Reviewing | Disposed. \";}s:9:\"HITTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:34:\"The
  ID of the HIT type of this HIT\";}s:8:\"Keywords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:174:\"
  One or more words or phrases that describe the HIT, separated by commas. Search
  terms similar to the keywords of a HIT are more likely to have the HIT in the search
  results.\";}s:14:\"MaxAssignments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:94:\"The
  number of times the HIT can be accepted and completed before the HIT becomes unavailable.
  \";}s:28:\"NumberOfAssignmentsAvailable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:81:\"
  The number of assignments for this HIT that are available for Workers to accept.\";}s:28:\"NumberOfAssignmentsCompleted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:76:\"
  The number of assignments for this HIT that have been approved or rejected.\";}s:26:\"NumberOfAssignmentsPending\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:155:\"
  The number of assignments for this HIT that are being previewed or have been accepted
  by Workers, but have not yet been submitted, returned, or abandoned.\";}s:25:\"QualificationRequirements\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/QualificationRequirementList\";s:11:\"description\";s:362:\"
  Conditions that a Worker's Qualifications must meet in order to accept the HIT.
  A HIT can have between zero and ten Qualification requirements. All requirements
  must be met in order for a Worker to accept the HIT. Additionally, other actions
  can be restricted using the <code>ActionsGuarded</code> field on each <code>QualificationRequirement</code>
  structure. \";}s:8:\"Question\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:155:\"
  The data the Worker completing the HIT uses produce the results. This is either
  either a QuestionForm, HTMLQuestion or an ExternalQuestion data structure.\";}s:19:\"RequesterAnnotation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:121:\"
  An arbitrary data field the Requester who created the HIT can use. This field is
  visible only to the creator of the HIT.\";}s:6:\"Reward\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CurrencyAmount\";}s:5:\"Title\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"
  The title of the HIT.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"HITAccessActions\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:6:\"Accept\";i:1;s:16:\"PreviewAndAccept\";i:2;s:24:\"DiscoverPreviewAndAccept\";}s:4:\"type\";s:6:\"string\";}s:18:\"HITLayoutParameter\";O:8:\"stdClass\":4:{s:11:\"description\";s:228:\"
  The HITLayoutParameter data structure defines parameter values used with a HITLayout.
  A HITLayout is a reusable Amazon Mechanical Turk project template used to provide
  Human Intelligence Task (HIT) question data for CreateHIT. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:45:\"
  The name of the parameter in the HITLayout. \";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:69:\"The
  value substituted for the parameter referenced in the HITLayout. \";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:22:\"HITLayoutParameterList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/HITLayoutParameter\";}s:4:\"type\";s:5:\"array\";}s:7:\"HITList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/HIT\";}s:4:\"type\";s:5:\"array\";}s:15:\"HITReviewStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:11:\"NotReviewed\";i:1;s:15:\"MarkedForReview\";i:2;s:19:\"ReviewedAppropriate\";i:3;s:21:\"ReviewedInappropriate\";}s:4:\"type\";s:6:\"string\";}s:9:\"HITStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:10:\"Assignable\";i:1;s:12:\"Unassignable\";i:2;s:10:\"Reviewable\";i:3;s:9:\"Reviewing\";i:4;s:8:\"Disposed\";}s:4:\"type\";s:6:\"string\";}s:16:\"IdempotencyToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"IntegerList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";}s:4:\"type\";s:5:\"array\";}s:28:\"ListAssignmentsForHITRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"AssignmentStatuses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AssignmentStatusList\";s:11:\"description\";s:72:\"The
  status of the assignments to return: Submitted | Approved | Rejected\";}s:5:\"HITId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:18:\"The
  ID of the HIT.\";}s:10:\"MaxResults\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ResultSize\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:16:\"Pagination
  token\";}}s:8:\"required\";a:1:{i:0;s:5:\"HITId\";}s:4:\"type\";s:6:\"object\";}s:29:\"ListAssignmentsForHITResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Assignments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AssignmentList\";s:11:\"description\";s:68:\"
  The collection of Assignment data structures returned by this call.\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";}s:10:\"NumResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:131:\"
  The number of assignments on the page in the filtered results list, equivalent to
  the number of assignments returned by this call.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListBonusPaymentsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"AssignmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:220:\"The
  ID of the assignment associated with the bonus payments to retrieve. If specified,
  only bonus payments for the given assignment are returned. Either the HITId parameter
  or the AssignmentId parameter must be specified\";}s:5:\"HITId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:229:\"The
  ID of the HIT associated with the bonus payments to retrieve. If not specified,
  all bonus payments for all assignments for the given HIT are returned. Either the
  HITId parameter or the AssignmentId parameter must be specified\";}s:10:\"MaxResults\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ResultSize\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:16:\"Pagination
  token\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListBonusPaymentsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"BonusPayments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BonusPaymentList\";s:11:\"description\";s:96:\"A
  successful request to the ListBonusPayments operation returns a list of BonusPayment
  objects. \";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";}s:10:\"NumResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:144:\"The
  number of bonus payments on this page in the filtered results list, equivalent to
  the number of bonus payments being returned by this call. \";}}s:4:\"type\";s:6:\"object\";}s:35:\"ListHITsForQualificationTypeRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResultSize\";s:11:\"description\";s:39:\"
  Limit the number of results returned. \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:16:\"Pagination
  Token\";}s:19:\"QualificationTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:61:\"
  The ID of the Qualification type to use when querying HITs. \";}}s:8:\"required\";a:1:{i:0;s:19:\"QualificationTypeId\";}s:4:\"type\";s:6:\"object\";}s:36:\"ListHITsForQualificationTypeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"HITs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/HITList\";s:11:\"description\";s:48:\"
  The list of HIT elements returned by the query.\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";}s:10:\"NumResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:125:\"
  The number of HITs on this page in the filtered results list, equivalent to the
  number of HITs being returned by this call. \";}}s:4:\"type\";s:6:\"object\";}s:15:\"ListHITsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MaxResults\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ResultSize\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:16:\"Pagination
  token\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListHITsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"HITs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/HITList\";s:11:\"description\";s:48:\"
  The list of HIT elements returned by the query.\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";}s:10:\"NumResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:123:\"The
  number of HITs on this page in the filtered results list, equivalent to the number
  of HITs being returned by this call.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ListQualificationRequestsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResultSize\";s:11:\"description\";s:59:\"
  The maximum number of results to return in a single call. \";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";}s:19:\"QualificationTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:32:\"The
  ID of the QualificationType.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ListQualificationRequestsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";}s:10:\"NumResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:159:\"The
  number of Qualification requests on this page in the filtered results list, equivalent
  to the number of Qualification requests being returned by this call.\";}s:21:\"QualificationRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/QualificationRequestList\";s:11:\"description\";s:135:\"The
  Qualification request. The response includes one QualificationRequest element for
  each Qualification request returned by the query.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListQualificationTypesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResultSize\";s:11:\"description\";s:59:\"
  The maximum number of results to return in a single call. \";}s:19:\"MustBeOwnedByCaller\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:139:\"
  Specifies that only Qualification types that the Requester created are returned.
  If false, the operation returns all Qualification types. \";}s:17:\"MustBeRequestable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:426:\"Specifies
  that only Qualification types that a user can request through the Amazon Mechanical
  Turk web site, such as by taking a Qualification test, are returned as results of
  the search. Some Qualification types, such as those assigned automatically by the
  system, cannot be requested directly by users. If false, all Qualification types,
  including those managed by the system, are considered. Valid values are True | False.
  \";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";}s:5:\"Query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:79:\"
  A text query against all of the searchable attributes of Qualification types. \";}}s:8:\"required\";a:1:{i:0;s:17:\"MustBeRequestable\";}s:4:\"type\";s:6:\"object\";}s:30:\"ListQualificationTypesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";}s:10:\"NumResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:136:\"
  The number of Qualification types on this page in the filtered results list, equivalent
  to the number of types this operation returns. \";}s:18:\"QualificationTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/QualificationTypeList\";s:11:\"description\";s:63:\"
  The list of QualificationType elements returned by the query. \";}}s:4:\"type\";s:6:\"object\";}s:36:\"ListReviewPolicyResultsForHITRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"HITId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:64:\"The
  unique identifier of the HIT to retrieve review results for.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResultSize\";s:11:\"description\";s:37:\"Limit
  the number of results returned.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:16:\"Pagination
  token\";}s:12:\"PolicyLevels\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ReviewPolicyLevelList\";s:11:\"description\";s:217:\"
  The Policy Level(s) to retrieve review results for - HIT or Assignment. If omitted,
  the default behavior is to retrieve all data for both policy levels. For a list
  of all the described policies, see Review Policies. \";}s:15:\"RetrieveActions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:120:\"
  Specify if the operation should retrieve a list of the actions taken executing the
  Review Policies and their outcomes. \";}s:15:\"RetrieveResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:97:\"
  Specify if the operation should retrieve a list of the results computed by the Review
  Policies. \";}}s:8:\"required\";a:1:{i:0;s:5:\"HITId\";}s:4:\"type\";s:6:\"object\";}s:37:\"ListReviewPolicyResultsForHITResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:22:\"AssignmentReviewPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ReviewPolicy\";s:11:\"description\";s:92:\"
  The name of the Assignment-level Review Policy. This contains only the PolicyName
  element. \";}s:22:\"AssignmentReviewReport\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ReviewReport\";s:11:\"description\";s:73:\"
  Contains both ReviewResult and ReviewAction elements for an Assignment. \";}s:5:\"HITId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:58:\"The
  HITId of the HIT for which results have been returned.\";}s:15:\"HITReviewPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ReviewPolicy\";s:11:\"description\";s:83:\"The
  name of the HIT-level Review Policy. This contains only the PolicyName element.\";}s:15:\"HITReviewReport\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ReviewReport\";s:11:\"description\";s:75:\"Contains
  both ReviewResult and ReviewAction elements for a particular HIT. \";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListReviewableHITsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"HITTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:122:\"
  The ID of the HIT type of the HITs to consider for the query. If not specified,
  all HITs for the Reviewer are considered \";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResultSize\";s:11:\"description\";s:39:\"
  Limit the number of results returned. \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:16:\"Pagination
  Token\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ReviewableHITStatus\";s:11:\"description\";s:99:\"
  Can be either <code>Reviewable</code> or <code>Reviewing</code>. Reviewable is the
  default value. \";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListReviewableHITsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"HITs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/HITList\";s:11:\"description\";s:48:\"
  The list of HIT elements returned by the query.\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";}s:10:\"NumResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:125:\"
  The number of HITs on this page in the filtered results list, equivalent to the
  number of HITs being returned by this call. \";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListWorkerBlocksRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MaxResults\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ResultSize\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:16:\"Pagination
  token\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListWorkerBlocksResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";}s:10:\"NumResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:131:\"
  The number of assignments on the page in the filtered results list, equivalent to
  the number of assignments returned by this call.\";}s:12:\"WorkerBlocks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/WorkerBlockList\";s:11:\"description\";s:92:\"
  The list of WorkerBlocks, containing the collection of Worker IDs and reasons for
  blocking.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"ListWorkersWithQualificationTypeRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResultSize\";s:11:\"description\";s:39:\"
  Limit the number of results returned. \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:16:\"Pagination
  Token\";}s:19:\"QualificationTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:65:\"The
  ID of the Qualification type of the Qualifications to return.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/QualificationStatus\";s:11:\"description\";s:84:\"
  The status of the Qualifications to return. Can be <code>Granted | Revoked</code>.
  \";}}s:8:\"required\";a:1:{i:0;s:19:\"QualificationTypeId\";}s:4:\"type\";s:6:\"object\";}s:40:\"ListWorkersWithQualificationTypeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";}s:10:\"NumResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:144:\"
  The number of Qualifications on this page in the filtered results list, equivalent
  to the number of Qualifications being returned by this call.\";}s:14:\"Qualifications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/QualificationList\";s:11:\"description\";s:59:\"
  The list of Qualification elements returned by this call. \";}}s:4:\"type\";s:6:\"object\";}s:6:\"Locale\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"The
  Locale data structure represents a geographical region or location.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Country\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CountryParameters\";s:11:\"description\";s:132:\"
  The country of the locale. Must be a valid ISO 3166 country code. For example, the
  code US refers to the United States of America. \";}s:11:\"Subdivision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CountryParameters\";s:11:\"description\";s:136:\"The
  state or subdivision of the locale. A valid ISO 3166-2 subdivision code. For example,
  the code WA refers to the state of Washington.\";}}s:8:\"required\";a:1:{i:0;s:7:\"Country\";}s:4:\"type\";s:6:\"object\";}s:10:\"LocaleList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Locale\";}s:4:\"type\";s:5:\"array\";}s:4:\"Long\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"NotificationSpecification\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"The
  NotificationSpecification data structure describes a HIT event notification for
  a HIT type.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"Destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:367:\"<p>
  The target for notification messages. The Destination\u2019s format is determined
  by the specified Transport: </p> <ul> <li> <p>When Transport is Email, the Destination
  is your email address.</p> </li> <li> <p>When Transport is SQS, the Destination
  is your queue URL.</p> </li> <li> <p>When Transport is SNS, the Destination is the
  ARN of your topic.</p> </li> </ul>\";}s:10:\"EventTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EventTypeList\";s:11:\"description\";s:356:\"
  The list of events that should cause notifications to be sent. Valid Values: AssignmentAccepted
  | AssignmentAbandoned | AssignmentReturned | AssignmentSubmitted | AssignmentRejected
  | AssignmentApproved | HITCreated | HITExtended | HITDisposed | HITReviewable |
  HITExpired | Ping. The Ping event is only valid for the SendTestEventNotification
  operation. \";}s:9:\"Transport\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/NotificationTransport\";s:11:\"description\";s:99:\"
  The method Amazon Mechanical Turk uses to send the notification. Valid Values: Email
  | SQS | SNS. \";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:70:\"The
  version of the Notification API to use. Valid value is 2006-05-05.\";}}s:8:\"required\";a:4:{i:0;s:11:\"Destination\";i:1;s:9:\"Transport\";i:2;s:7:\"Version\";i:3;s:10:\"EventTypes\";}s:4:\"type\";s:6:\"object\";}s:21:\"NotificationTransport\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:5:\"Email\";i:1;s:3:\"SQS\";i:2;s:3:\"SNS\";}s:4:\"type\";s:6:\"string\";}s:24:\"NotifyWorkersFailureCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:11:\"SoftFailure\";i:1;s:11:\"HardFailure\";}s:4:\"type\";s:6:\"string\";}s:26:\"NotifyWorkersFailureStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"
  When MTurk encounters an issue with notifying the Workers you specified, it returns
  back this object with failure details. \";s:10:\"properties\";O:8:\"stdClass\":3:{s:24:\"NotifyWorkersFailureCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/NotifyWorkersFailureCode\";s:11:\"description\";s:37:\"
  Encoded value for the failure type. \";}s:27:\"NotifyWorkersFailureMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:66:\"
  A message detailing the reason the Worker could not be notified. \";}s:8:\"WorkerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CustomerId\";s:11:\"description\";s:22:\"
  The ID of the Worker.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"NotifyWorkersFailureStatusList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/NotifyWorkersFailureStatus\";}s:4:\"type\";s:5:\"array\";}s:20:\"NotifyWorkersRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"MessageText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:73:\"The
  text of the email message to send. Can include up to 4,096 characters\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:80:\"The
  subject line of the email message to send. Can include up to 200 characters.\";}s:9:\"WorkerIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CustomerIdList\";s:11:\"description\";s:83:\"A
  list of Worker IDs you wish to notify. You can notify upto 100 Workers at a time.\";}}s:8:\"required\";a:3:{i:0;s:7:\"Subject\";i:1;s:11:\"MessageText\";i:2;s:9:\"WorkerIds\";}s:4:\"type\";s:6:\"object\";}s:21:\"NotifyWorkersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"NotifyWorkersFailureStatuses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/NotifyWorkersFailureStatusList\";s:11:\"description\";s:151:\"
  When MTurk sends notifications to the list of Workers, it returns back any failures
  it encounters in this list of NotifyWorkersFailureStatus objects. \";}}s:4:\"type\";s:6:\"object\";}s:15:\"PaginationToken\";O:8:\"stdClass\":4:{s:11:\"description\";s:220:\"If
  the previous response was incomplete (because there is more data to retrieve), Amazon
  Mechanical Turk returns a pagination token in the response. You can use this pagination
  token to retrieve the next set of results. \";s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:17:\"ParameterMapEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"
  This data structure is the data type for the AnswerKey parameter of the ScoreMyKnownAnswers/2011-09-01
  Review Policy. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:164:\"
  The QuestionID from the HIT that is used to identify which question requires Mechanical
  Turk to score as part of the ScoreMyKnownAnswers/2011-09-01 Review Policy. \";}s:6:\"Values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:157:\"
  The list of answers to the question specified in the MapEntry Key element. The Worker
  must match all values in order for the answer to be scored correctly. \";}}s:4:\"type\";s:6:\"object\";}s:21:\"ParameterMapEntryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ParameterMapEntry\";}s:4:\"type\";s:5:\"array\";}s:15:\"PolicyParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"
  Name of the parameter from the Review policy. \";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:56:\"
  Name of the parameter from the list of Review Polices. \";}s:10:\"MapEntries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ParameterMapEntryList\";s:11:\"description\";s:36:\"
  List of ParameterMapEntry objects. \";}s:6:\"Values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:36:\"
  The list of values of the Parameter\";}}s:4:\"type\";s:6:\"object\";}s:19:\"PolicyParameterList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PolicyParameter\";}s:4:\"type\";s:5:\"array\";}s:13:\"Qualification\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"The
  Qualification data structure represents a Qualification assigned to a user, including
  the Qualification type and the value (score).\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"GrantTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:257:\"
  The date and time the Qualification was granted to the Worker. If the Worker's Qualification
  was revoked, and then re-granted based on a new Qualification request, GrantTime
  is the date and time of the last call to the AcceptQualificationRequest operation.\";}s:12:\"IntegerValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:83:\"
  The value (score) of the Qualification, if the Qualification has an integer value.\";}s:11:\"LocaleValue\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Locale\";}s:19:\"QualificationTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:56:\"
  The ID of the Qualification type for the Qualification.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/QualificationStatus\";s:11:\"description\";s:69:\"
  The status of the Qualification. Valid values are Granted | Revoked.\";}s:8:\"WorkerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CustomerId\";s:11:\"description\";s:55:\"
  The ID of the Worker who possesses the Qualification. \";}}s:4:\"type\";s:6:\"object\";}s:17:\"QualificationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Qualification\";}s:4:\"type\";s:5:\"array\";}s:20:\"QualificationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"
  The QualificationRequest data structure represents a request a Worker has made for
  a Qualification. \";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"Answer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:227:\"
  The Worker's answers for the Qualification type's test contained in a QuestionFormAnswers
  document, if the type has a test and the Worker has submitted answers. If the Worker
  does not provide any answers, Answer may be empty. \";}s:22:\"QualificationRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:99:\"The
  ID of the Qualification request, a unique identifier generated when the request
  was submitted. \";}s:19:\"QualificationTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:114:\"
  The ID of the Qualification type the Worker is requesting, as returned by the CreateQualificationType
  operation. \";}s:10:\"SubmitTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:249:\"The
  date and time the Qualification request had a status of Submitted. This is either
  the time the Worker submitted answers for a Qualification test, or the time the
  Worker requested the Qualification if the Qualification type does not have a test.
  \";}s:4:\"Test\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:268:\"
  The contents of the Qualification test that was presented to the Worker, if the
  type has a test and the Worker has submitted answers. This value is identical to
  the QuestionForm associated with the Qualification type at the time the Worker requests
  the Qualification.\";}s:8:\"WorkerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CustomerId\";s:11:\"description\";s:51:\"
  The ID of the Worker requesting the Qualification.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"QualificationRequestList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/QualificationRequest\";}s:4:\"type\";s:5:\"array\";}s:24:\"QualificationRequirement\";O:8:\"stdClass\":4:{s:11:\"description\";s:281:\"
  The QualificationRequirement data structure describes a Qualification that a Worker
  must have before the Worker is allowed to accept a HIT. A requirement may optionally
  state that a Worker must have the Qualification in order to preview the HIT, or
  see the HIT in search results. \";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"ActionsGuarded\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/HITAccessActions\";s:11:\"description\";s:1255:\"
  Setting this attribute prevents Workers whose Qualifications do not meet this QualificationRequirement
  from taking the specified action. Valid arguments include \"Accept\" (Worker cannot
  accept the HIT, but can preview the HIT and see it in their search results), \"PreviewAndAccept\"
  (Worker cannot accept or preview the HIT, but can see the HIT in their search results),
  and \"DiscoverPreviewAndAccept\" (Worker cannot accept, preview, or see the HIT
  in their search results). It's possible for you to create a HIT with multiple QualificationRequirements
  (which can have different values for the ActionGuarded attribute). In this case,
  the Worker is only permitted to perform an action when they have met all QualificationRequirements
  guarding the action. The actions in the order of least restrictive to most restrictive
  are Discover, Preview and Accept. For example, if a Worker meets all QualificationRequirements
  that are set to DiscoverPreviewAndAccept, but do not meet all requirements that
  are set with PreviewAndAccept, then the Worker will be able to Discover, i.e. see
  the HIT in their search result, but will not be able to Preview or Accept the HIT.
  ActionsGuarded should not be used in combination with the <code>RequiredToPreview</code>
  field. \";}s:10:\"Comparator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Comparator\";s:11:\"description\";s:570:\"The
  kind of comparison to make against a Qualification's value. You can compare a Qualification's
  value to an IntegerValue to see if it is LessThan, LessThanOrEqualTo, GreaterThan,
  GreaterThanOrEqualTo, EqualTo, or NotEqualTo the IntegerValue. You can compare it
  to a LocaleValue to see if it is EqualTo, or NotEqualTo the LocaleValue. You can
  check to see if the value is In or NotIn a set of IntegerValue or LocaleValue values.
  Lastly, a Qualification requirement can also test if a Qualification Exists or DoesNotExist
  in the user's profile, regardless of its value. \";}s:13:\"IntegerValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/IntegerList\";s:11:\"description\";s:443:\"
  The integer value to compare against the Qualification's value. IntegerValue must
  not be present if Comparator is Exists or DoesNotExist. IntegerValue can only be
  used if the Qualification type has an integer value; it cannot be used with the
  Worker_Locale QualificationType ID. When performing a set comparison by using the
  In or the NotIn comparator, you can use up to 15 IntegerValue elements in a QualificationRequirement
  data structure. \";}s:12:\"LocaleValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/LocaleList\";s:11:\"description\";s:572:\"
  The locale value to compare against the Qualification's value. The local value must
  be a valid ISO 3166 country code or supports ISO 3166-2 subdivisions. LocaleValue
  can only be used with a Worker_Locale QualificationType ID. LocaleValue can only
  be used with the EqualTo, NotEqualTo, In, and NotIn comparators. You must only use
  a single LocaleValue element when using the EqualTo or NotEqualTo comparators. When
  performing a set comparison by using the In or the NotIn comparator, you can use
  up to 30 LocaleValue elements in a QualificationRequirement data structure. \";}s:19:\"QualificationTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"
  The ID of the Qualification type for the requirement.\";}s:17:\"RequiredToPreview\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:759:\"
  DEPRECATED: Use the <code>ActionsGuarded</code> field instead. If RequiredToPreview
  is true, the question data for the HIT will not be shown when a Worker whose Qualifications
  do not meet this requirement tries to preview the HIT. That is, a Worker's Qualifications
  must meet all of the requirements for which RequiredToPreview is true in order to
  preview the HIT. If a Worker meets all of the requirements where RequiredToPreview
  is true (or if there are no such requirements), but does not meet all of the requirements
  for the HIT, the Worker will be allowed to preview the HIT's question data, but
  will not be allowed to accept and complete the HIT. The default is false. This should
  not be used in combination with the <code>ActionsGuarded</code> field. \";}}s:8:\"required\";a:2:{i:0;s:19:\"QualificationTypeId\";i:1;s:10:\"Comparator\";}s:4:\"type\";s:6:\"object\";}s:28:\"QualificationRequirementList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/QualificationRequirement\";}s:4:\"type\";s:5:\"array\";}s:19:\"QualificationStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"Granted\";i:1;s:7:\"Revoked\";}s:4:\"type\";s:6:\"string\";}s:17:\"QualificationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:314:\"
  The QualificationType data structure represents a Qualification type, a description
  of a property of a Worker that must match the requirements of a HIT for the Worker
  to be able to accept the HIT. The type also describes how a Worker can obtain a
  Qualification of that type, such as through a Qualification test. \";s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"AnswerKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:70:\"The
  answers to the Qualification test specified in the Test parameter.\";}s:11:\"AutoGranted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:162:\"Specifies
  that requests for the Qualification type are granted immediately, without prompting
  the Worker with a Qualification test. Valid values are True | False.\";}s:16:\"AutoGrantedValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:128:\"
  The Qualification integer value to use for automatically granted Qualifications,
  if AutoGranted is true. This is 1 by default. \";}s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:55:\"
  The date and time the Qualification type was created. \";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"
  A long description for the Qualification type. \";}s:13:\"IsRequestable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:266:\"
  Specifies whether the Qualification type is one that a user can request through
  the Amazon Mechanical Turk web site, such as by taking a Qualification test. This
  value is False for Qualifications assigned automatically by the system. Valid values
  are True | False. \";}s:8:\"Keywords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:146:\"
  One or more words or phrases that describe theQualification type, separated by commas.
  The Keywords make the type easier to find using a search. \";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:137:\"
  The name of the Qualification type. The type name is used to identify the type,
  and to find the type using a Qualification type search. \";}s:19:\"QualificationTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:156:\"
  A unique identifier for the Qualification type. A Qualification type is given a
  Qualification type ID when you call the CreateQualificationType operation. \";}s:23:\"QualificationTypeStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/QualificationTypeStatus\";s:11:\"description\";s:241:\"
  The status of the Qualification type. A Qualification type's status determines if
  users can apply to receive a Qualification of this type, and if HITs can be created
  with requirements based on this type. Valid values are Active | Inactive. \";}s:19:\"RetryDelayInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:398:\"
  The amount of time, in seconds, Workers must wait after taking the Qualification
  test before they can take it again. Workers can take a Qualification test multiple
  times if they were not granted the Qualification from a previous attempt, or if
  the test offers a gradient score and they want a better score. If not specified,
  retries are disabled and Workers can request a Qualification only once. \";}s:4:\"Test\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:298:\"
  The questions for a Qualification test associated with this Qualification type that
  a user can take to obtain a Qualification of this type. This parameter must be specified
  if AnswerKey is present. A Qualification type cannot have both a specified Test
  parameter and an AutoGranted value of true. \";}s:21:\"TestDurationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:150:\"
  The amount of time, in seconds, given to a Worker to complete the Qualification
  test, beginning from the time the Worker requests the Qualification. \";}}s:4:\"type\";s:6:\"object\";}s:21:\"QualificationTypeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/QualificationType\";}s:4:\"type\";s:5:\"array\";}s:23:\"QualificationTypeStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:8:\"Inactive\";}s:4:\"type\";s:6:\"string\";}s:23:\"RejectAssignmentRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"AssignmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:93:\"
  The ID of the assignment. The assignment must correspond to a HIT created by the
  Requester. \";}s:17:\"RequesterFeedback\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:91:\"
  A message for the Worker, which the Worker can see in the Status section of the
  web site. \";}}s:8:\"required\";a:2:{i:0;s:12:\"AssignmentId\";i:1;s:17:\"RequesterFeedback\";}s:4:\"type\";s:6:\"object\";}s:24:\"RejectAssignmentResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"RejectQualificationRequestRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"QualificationRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:107:\"
  The ID of the Qualification request, as returned by the <code>ListQualificationRequests</code>
  operation. \";}s:6:\"Reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:103:\"A
  text message explaining why the request was rejected, to be shown to the Worker
  who made the request.\";}}s:8:\"required\";a:1:{i:0;s:22:\"QualificationRequestId\";}s:4:\"type\";s:6:\"object\";}s:34:\"RejectQualificationRequestResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"RequestError\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Your
  request is invalid.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:13:\"TurkErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TurkErrorCode\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ResultSize\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:18:\"ReviewActionDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:204:\"
  Both the AssignmentReviewReport and the HITReviewReport elements contains the ReviewActionDetail
  data structure. This structure is returned multiple times for each action specified
  in the Review Policy. \";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"ActionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:37:\"The
  unique identifier for the action.\";}s:10:\"ActionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:176:\"
  The nature of the action itself. The Review Policy is responsible for examining
  the HIT and Assignments, emitting results, and deciding which other actions will
  be necessary. \";}s:12:\"CompleteTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:40:\"
  The date when the action was completed.\";}s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"
  Present only when the Results have a FAILED Status.\";}s:6:\"Result\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:44:\"
  A description of the outcome of the review.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ReviewActionStatus\";s:11:\"description\";s:83:\"
  The current disposition of the action: INTENDED, SUCCEEDED, FAILED, or CANCELLED.
  \";}s:8:\"TargetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:59:\"
  The specific HITId or AssignmentID targeted by the action.\";}s:10:\"TargetType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"
  The type of object in TargetId.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ReviewActionDetailList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ReviewActionDetail\";}s:4:\"type\";s:5:\"array\";}s:18:\"ReviewActionStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:8:\"Intended\";i:1;s:9:\"Succeeded\";i:2;s:6:\"Failed\";i:3;s:9:\"Cancelled\";}s:4:\"type\";s:6:\"string\";}s:12:\"ReviewPolicy\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"
  HIT Review Policy data structures represent HIT review policies, which you specify
  when you create a HIT. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PolicyParameterList\";s:11:\"description\";s:45:\"Name
  of the parameter from the Review policy.\";}s:10:\"PolicyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:87:\"
  Name of a Review Policy: SimplePlurality/2011-09-01 or ScoreMyKnownAnswers/2011-09-01
  \";}}s:8:\"required\";a:1:{i:0;s:10:\"PolicyName\";}s:4:\"type\";s:6:\"object\";}s:17:\"ReviewPolicyLevel\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:10:\"Assignment\";i:1;s:3:\"HIT\";}s:4:\"type\";s:6:\"string\";}s:21:\"ReviewPolicyLevelList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ReviewPolicyLevel\";}s:4:\"type\";s:5:\"array\";}s:12:\"ReviewReport\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"
  Contains both ReviewResult and ReviewAction elements for a particular HIT. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"ReviewActions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ReviewActionDetailList\";s:11:\"description\";s:80:\"
  A list of ReviewAction objects for each action specified in the Review Policy. \";}s:13:\"ReviewResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ReviewResultDetailList\";s:11:\"description\";s:81:\"
  A list of ReviewResults objects for each action specified in the Review Policy.
  \";}}s:4:\"type\";s:6:\"object\";}s:18:\"ReviewResultDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"
  This data structure is returned multiple times for each result specified in the
  Review Policy. \";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"ActionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:50:\"
  A unique identifier of the Review action result. \";}s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:62:\"
  Key identifies the particular piece of reviewed information. \";}s:10:\"QuestionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:400:\"
  Specifies the QuestionId the result is describing. Depending on whether the TargetType
  is a HIT or Assignment this results could specify multiple values. If TargetType
  is HIT and QuestionId is absent, then the result describes results of the HIT, including
  the HIT agreement score. If ObjectType is Assignment and QuestionId is absent, then
  the result describes the Worker's performance on the HIT. \";}s:9:\"SubjectId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:264:\"The
  HITID or AssignmentId about which this result was taken. Note that HIT-level Review
  Policies will often emit results about both the HIT itself and its Assignments,
  while Assignment-level review policies generally only emit results about the Assignment
  itself. \";}s:11:\"SubjectType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"
  The type of the object from the SubjectId field.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:70:\"
  The values of Key provided by the review policies you have selected. \";}}s:4:\"type\";s:6:\"object\";}s:22:\"ReviewResultDetailList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ReviewResultDetail\";}s:4:\"type\";s:5:\"array\";}s:19:\"ReviewableHITStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:10:\"Reviewable\";i:1;s:9:\"Reviewing\";}s:4:\"type\";s:6:\"string\";}s:16:\"SendBonusRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"AssignmentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:54:\"The
  ID of the assignment for which this bonus is paid.\";}s:11:\"BonusAmount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CurrencyAmount\";s:11:\"description\";s:193:\"
  The Bonus amount is a US Dollar amount specified using a string (for example, \"5\"
  represents $5.00 USD and \"101.42\" represents $101.42 USD). Do not include currency
  symbols or currency codes. \";}s:6:\"Reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:110:\"A
  message that explains the reason for the bonus payment. The Worker receiving the
  bonus can see this message.\";}s:18:\"UniqueRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IdempotencyToken\";s:11:\"description\";s:412:\"A
  unique identifier for this request, which allows you to retry the call on error
  without granting multiple bonuses. This is useful in cases such as network timeouts
  where it is unclear whether or not the call succeeded on the server. If the bonus
  already exists in the system from a previous call using the same UniqueRequestToken,
  subsequent calls will return an error with a message containing the request ID.\";}s:8:\"WorkerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CustomerId\";s:11:\"description\";s:42:\"The
  ID of the Worker being paid the bonus.\";}}s:8:\"required\";a:4:{i:0;s:8:\"WorkerId\";i:1;s:11:\"BonusAmount\";i:2;s:12:\"AssignmentId\";i:3;s:6:\"Reason\";}s:4:\"type\";s:6:\"object\";}s:17:\"SendBonusResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"SendTestEventNotificationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"Notification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/NotificationSpecification\";s:11:\"description\";s:206:\"
  The notification specification to test. This value is identical to the value you
  would provide to the UpdateNotificationSettings operation when you establish the
  notification specification for a HIT type. \";}s:13:\"TestEventType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EventType\";s:11:\"description\";s:245:\"
  The event to simulate to test the notification specification. This event is included
  in the test message even if the notification specification does not include the
  event type. The notification specification does not filter out the test event. \";}}s:8:\"required\";a:2:{i:0;s:12:\"Notification\";i:1;s:13:\"TestEventType\";}s:4:\"type\";s:6:\"object\";}s:33:\"SendTestEventNotificationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"ServiceFault\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Amazon
  Mechanical Turk is temporarily unable to process your request. Try your call again.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:13:\"TurkErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TurkErrorCode\";}}s:4:\"type\";s:6:\"object\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"StringList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"TurkErrorCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"UpdateExpirationForHITRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"ExpireAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:55:\"
  The date and time at which you want the HIT to expire \";}s:5:\"HITId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:20:\"
  The HIT to update. \";}}s:8:\"required\";a:2:{i:0;s:5:\"HITId\";i:1;s:8:\"ExpireAt\";}s:4:\"type\";s:6:\"object\";}s:30:\"UpdateExpirationForHITResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"UpdateHITReviewStatusRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"HITId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:30:\"
  The ID of the HIT to update. \";}s:6:\"Revert\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:337:\"<p>
  Specifies how to update the HIT status. Default is <code>False</code>. </p> <ul>
  <li> <p> Setting this to false will only transition a HIT from <code>Reviewable</code>
  to <code>Reviewing</code> </p> </li> <li> <p> Setting this to true will only transition
  a HIT from <code>Reviewing</code> to <code>Reviewable</code> </p> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:5:\"HITId\";}s:4:\"type\";s:6:\"object\";}s:29:\"UpdateHITReviewStatusResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"UpdateHITTypeOfHITRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"HITId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:18:\"The
  HIT to update.\";}s:9:\"HITTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:27:\"The
  ID of the new HIT type.\";}}s:8:\"required\";a:2:{i:0;s:5:\"HITId\";i:1;s:9:\"HITTypeId\";}s:4:\"type\";s:6:\"object\";}s:26:\"UpdateHITTypeOfHITResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"UpdateNotificationSettingsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Active\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:244:\"
  Specifies whether notifications are sent for HITs of this HIT type, according to
  the notification specification. You must specify either the Notification parameter
  or the Active parameter for the call to UpdateNotificationSettings to succeed. \";}s:9:\"HITTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EntityId\";s:11:\"description\";s:75:\"
  The ID of the HIT type whose notification specification is being updated. \";}s:12:\"Notification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/NotificationSpecification\";s:11:\"description\";s:50:\"
  The notification specification for the HIT type. \";}}s:8:\"required\";a:1:{i:0;s:9:\"HITTypeId\";}s:4:\"type\";s:6:\"object\";}s:34:\"UpdateNotificationSettingsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"UpdateQualificationTypeRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"AnswerKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:114:\"The
  answers to the Qualification test specified in the Test parameter, in the form of
  an AnswerKey data structure.\";}s:11:\"AutoGranted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:228:\"<p>Specifies
  whether requests for the Qualification type are granted immediately, without prompting
  the Worker with a Qualification test.</p> <p>Constraints: If the Test parameter
  is specified, this parameter cannot be true.</p>\";}s:16:\"AutoGrantedValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:138:\"The
[...]
