---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:3954:\"# Introduction\nThe
  Business Registries API is built on HTTP. The API is RESTful. It has predictable
  resource URIs.\n\n  The API is documented in <a target=\"_blank\" href=\"https://github.com/OAI/OpenAPI-Specification\">OpenAPI</a>
  format.\n  In addition to the standard OpenAPI syntax we use a few\n  <a target=\"_blank\"
  href=\"https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md\">vendor
  extensions</a>.\n\n# Overview\nThe following sections describe the resources that
  make up the Business Registries REST API.\n## Current Version\nBy default, all requests
  to https://api.abr.ato.gov.au receive the `v1` version of the REST API. We encourage
  you to explicitly request this version via the `Accept` header.\n\n    Accept: application/vnd.abr-ato.v1+json\n\n##
  Schema\nAll API access is over HTTPS, and accessed from https://api.abr.ato.gov.au.
  All data is sent and received as JSON. Blank fields are included.\n\n  All dates
  use the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format:\n\n    YYYY-MM-DD\n\n
  \ For example: `2017-07-01` (the 1st of July 2017)\n\n  All timestamps use the [ISO
  8601](https://en.wikipedia.org/wiki/ISO_8601) format:\n\n    YYYY-MM-DDTHH:MM:SSZ\n\n
  \ For example: `2017-07-01T11:05:06+10:00`\n\n## Timezones\nSome requests allow
  for specifying timestamps or generate timestamps with time zone information. We
  apply the following rules, in order of priority, to determine timezone information
  for API calls.\n### Explicitly provide an ISO 8601 timestamp with timezone information\nFor
  API calls that allow for a timestamp to be specified, we use that exact timestamp.\n\n
  \ For example: `2017-07-01T11:05:06+10:00`\n\n## Pagination\nInformation about pagination
  is provided in the [Link](https://tools.ietf.org/html/rfc5988#page-6) header.\n\n
  \ For example:\n\n    Link: <https://api.abr.ato.gov.au/individuals?page=2>; rel=\"next\",\n
  \         <https://api.abr.ato.gov.au/individuals?page=34>; rel=\"last\"\n\n`rel=\"next\"`
  states that the next page is `page=2`. This makes sense, since by default, all paginated
  queries start at page `1`. `rel=\"last\"` provides some more information, stating
  that the last page of results is on `page 34`. Accordingly, we have 33 more pages
  of information that we can consume.\n## Parameters\nMany API methods take optional
  parameters:\n\n    GET /individuals/1234/addresses/?addressType='Mailing'\n\nIn
  this example, the '1234' value is provided for the `:partyId` parameter in the path
  while `:addressType` is passed in the query string.\nFor POST, PATCH, PUT, and DELETE
  requests, parameters not included in the URL should be encoded as JSON with a Content-Type
  of 'application/json'.\n## Metadata\nThe API provides **metadata services** that
  you can use to discover information about the classifcation schemes and values used
  by the Registry.\n\n  For example:\n\n    GET /classifications/roles\n\n  Sample
  response:\n\n    [\n      {\n        \"id\": \"123e4567-e89b-12d3-a456-426655440001\",\n
  \       \"role\": \"Director\",\n        \"roleDescription\": \"An individual responsible
  for managing a company's ...\",\n        \"relationship\": \"Directorship\",\n        \"reciprocalRole\":
  \"Company\",\n        \"reciprocalRoleDescription\": \"An incorporated legal entity.\"\n
  \     },\n      {\n        ...\n      }\n    ]\n\n## Root Endpoint\nYou can issue
  a GET request to the root endpoint (also known as the service root) to get all the
  endpoint categories that the REST API supports:\n\n    curl https://api.abr.ato.gov.au\n\n##
  Authentication\nThe Business Registries API supports API Key authentication.\n\n
  \ When you sign up for an account, you are given your first API key. You can generate
  additional API keys, and delete\n  API keys (as you may need to rotate your keys
  in the future). You authenticate to the Business Registries API by\n  providing
  your secret key in the request header.\n\n  **Note:** Some requests will return
  `404 Not Found`, instead of `403 Permission Denied`. This is to prevent the\n  accidental
  leakage of information to unauthorised users.\n\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:42:\"Creative
  Commons Attribution 3.0 Australia\";s:3:\"url\";s:47:\"https://creativecommons.org/licenses/by/3.0/au/\";}s:14:\"termsOfService\";s:36:\"https://ato.gov.au/terms-of-service/\";s:5:\"title\";s:19:\"Business
  Registries\";s:7:\"version\";s:5:\"0.0.6\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"financial\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#D3D3D3\";s:3:\"url\";s:104:\"https://api.apis.guru/v2/cache/logo/https_www.ato.gov.au_uploadedImages_Content__DEM_Images_logo-ato.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:82:\"https://ato-team.github.io/business-registries-rest-api-specification/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"ato.gov.au\";}"
host: api.abr.ato.gov.au
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":35:{s:7:\"address\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  Address resource.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"city\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"The
  city.\";s:7:\"example\";s:8:\"Canberra\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  country.\";s:7:\"example\";s:9:\"Australia\";s:4:\"type\";s:6:\"string\";}s:8:\"fromDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:121:\"The
  date and time the resource became active in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:25:\"1979-01-13T09:05:06+10:00\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/addressId\";}}s:11:\"description\";s:33:\"The
  resource's unique identifier.\";s:8:\"readOnly\";b:1;}s:5:\"line1\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  address line 1.\";s:7:\"example\";s:7:\"Level 7\";s:4:\"type\";s:6:\"string\";}s:5:\"line2\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  address line 2.\";s:7:\"example\";s:15:\"21 Genge Street\";s:4:\"type\";s:6:\"string\";}s:5:\"line3\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  address line 3.\";s:7:\"example\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  address name.\";s:7:\"example\";s:16:\"Kembery Building\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  postal code.\";s:7:\"example\";s:4:\"2601\";s:4:\"type\";s:6:\"string\";}s:6:\"suburb\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  suburb.\";s:7:\"example\";s:5:\"Civic\";s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:123:\"The
  date and time the resource became inactive in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:0:\"\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"address-type\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/type\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:9:\"addressId\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/resourceId\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"business-name\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  Business Name resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"fromDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:121:\"The
  date and time the resource became active in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:25:\"1979-01-13T09:05:06+10:00\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/resourceId\";}}s:11:\"description\";s:33:\"The
  resource's unique identifier.\";s:8:\"readOnly\";b:1;}s:14:\"lifecycleState\";O:8:\"stdClass\":4:{s:7:\"default\";s:16:\"Pending
  Approval\";s:11:\"description\";s:36:\"The business name's lifecycle state.\";s:4:\"enum\";a:5:{i:0;s:8:\"Approved\";i:1;s:7:\"Expired\";i:2;s:6:\"Issued\";i:3;s:16:\"Pending
  Approval\";i:4;s:9:\"Suspended\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  business name.\";s:7:\"example\";s:23:\"XYZ Technology Ventures\";s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:123:\"The
  date and time the resource became inactive in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:0:\"\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"business-name-lifecycle-state\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/type\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:18:\"electronic-address\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  Electronic Address resource.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"areaCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  area code, for example, \"02\".\";s:7:\"example\";s:2:\"02\";s:4:\"type\";s:6:\"string\";}s:13:\"countryPrefix\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  country prefix, for example, \"61\".\";s:7:\"example\";s:2:\"61\";s:4:\"type\";s:6:\"string\";}s:21:\"electronicAddressType\";O:8:\"stdClass\":4:{s:7:\"default\";s:8:\"Landline\";s:11:\"description\";s:28:\"The
  electronic address type.\";s:4:\"enum\";a:5:{i:0;s:5:\"Email\";i:1;s:3:\"Fax\";i:2;s:8:\"Landline\";i:3;s:6:\"Mobile\";i:4;s:7:\"Website\";}s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  email address, for example, \"robert.ferguson@ato.gov.au\".\";s:7:\"example\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"extension\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  extension number, for example, \"4453\".\";s:7:\"example\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"fromDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:121:\"The
  date and time the resource became active in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:25:\"1979-01-13T09:05:06+10:00\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/addressId\";}}s:11:\"description\";s:33:\"The
  resource's unique identifier.\";s:8:\"readOnly\";b:1;}s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  number, for example, \"62164453\".\";s:7:\"example\";s:8:\"62164453\";s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:123:\"The
  date and time the resource became inactive in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:0:\"\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  website address, for example, \"https://ato.gov.au\".\";s:7:\"example\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"electronic-address-type\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/type\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:13:\"error-details\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  error code.\";s:7:\"example\";s:9:\"NullValue\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  error message.\";s:7:\"example\";s:28:\"Family name must not be null\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  error target.\";s:7:\"example\";s:10:\"familyName\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"failed-precondition\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  error code.\";s:7:\"example\";s:3:\"400\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/error-details\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  error message.\";s:7:\"example\";s:55:\"Request can not be executed in the current
  system state\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  error status.\";s:7:\"example\";s:19:\"FAILED_PRECONDITION\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"gender\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  Gender resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"gender\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"The
  gender.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/resourceId\";}}s:11:\"description\";s:33:\"The
  resource's unique identifier.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:10:\"individual\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  Individual resource.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"addresses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/individual-address\";}s:4:\"type\";s:5:\"array\";}s:11:\"dateOfBirth\";O:8:\"stdClass\":4:{s:11:\"description\";s:121:\"The
  individual's date of birth, for example, `1979-01-13` (in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
  format).\";s:7:\"example\";s:10:\"1979-01-13\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:19:\"electronicAddresses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/electronic-address\";}s:4:\"type\";s:5:\"array\";}s:8:\"fromDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:121:\"The
  date and time the resource became active in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:25:\"1979-01-13T09:05:06+10:00\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":4:{s:7:\"default\";s:4:\"Male\";s:11:\"description\";s:24:\"The
  individual's gender.\";s:4:\"enum\";a:4:{i:0;s:6:\"Female\";i:1;s:4:\"Male\";i:2;s:14:\"Not
  Applicable\";i:3;s:9:\"Not Known\";}s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/partyId\";}}s:11:\"description\";s:30:\"The
  party's unique identifier.\";s:8:\"readOnly\";b:1;}s:5:\"names\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/individual-name\";}s:4:\"type\";s:5:\"array\";}s:12:\"placeOfBirth\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  individual's place of birth, for example, `Tamworth`.\";s:7:\"example\";s:8:\"Tamworth\";s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:123:\"The
  date and time the resource became inactive in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:0:\"\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"dateOfBirth\";i:1;s:12:\"placeOfBirth\";}s:4:\"type\";s:6:\"object\";}s:18:\"individual-address\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/address\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"addressType\";O:8:\"stdClass\":4:{s:7:\"default\";s:28:\"Principal
  Place of Residence\";s:11:\"description\";s:17:\"The address type.\";s:4:\"enum\";a:3:{i:0;s:7:\"Mailing\";i:1;s:27:\"Principal
  Place of Business\";i:2;s:28:\"Principal Place of Residence\";}s:4:\"type\";s:6:\"string\";}s:8:\"fromDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:121:\"The
  date and time the resource became active in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:25:\"1979-01-13T09:05:06+10:00\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:123:\"The
  date and time the resource became inactive in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:0:\"\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}}s:15:\"individual-name\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  Individual Name resource.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:9:\"direction\";O:8:\"stdClass\":4:{s:7:\"default\";s:13:\"left-to-right\";s:11:\"description\";s:51:\"The
  direction used to render the individual's name.\";s:4:\"enum\";a:2:{i:0;s:13:\"left-to-right\";i:1;s:13:\"right-to-left\";}s:4:\"type\";s:6:\"string\";}s:10:\"familyName\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  individual's family name.\";s:7:\"example\";s:8:\"Ferguson\";s:4:\"type\";s:6:\"string\";}s:16:\"formalSalutation\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  individual's formal salutation, for example, \"Mr William Smith\".\";s:7:\"example\";s:18:\"Mr
  Robert Ferguson\";s:4:\"type\";s:6:\"string\";}s:8:\"fromDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:121:\"The
  date and time the resource became active in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:25:\"1979-01-13T09:05:06+10:00\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"givenName\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  individual's given name.\";s:7:\"example\";s:6:\"Robert\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/resourceId\";}}s:11:\"description\";s:33:\"The
  resource's unique identifier.\";s:8:\"readOnly\";b:1;}s:18:\"informalSalutation\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  individual's informal salutation, for example, \"Bill\".\";s:7:\"example\";s:3:\"Rob\";s:4:\"type\";s:6:\"string\";}s:10:\"middleName\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  individual's middle name.\";s:7:\"example\";s:5:\"James\";s:4:\"type\";s:6:\"string\";}s:10:\"namePrefix\";O:8:\"stdClass\":4:{s:7:\"default\";s:2:\"Mr\";s:11:\"description\";s:29:\"The
  individual's name prefix.\";s:4:\"enum\";a:2:{i:0;s:2:\"Mr\";i:1;s:2:\"Ms\";}s:4:\"type\";s:6:\"string\";}s:10:\"nameSuffix\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  individual's name suffix, for example, \"Jr\" or \"Sr\".\";s:7:\"example\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"nameType\";O:8:\"stdClass\":4:{s:7:\"default\";s:14:\"Principal
  Name\";s:11:\"description\";s:14:\"The name type.\";s:4:\"enum\";a:2:{i:0;s:5:\"Alias\";i:1;s:14:\"Principal
  Name\";}s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:123:\"The
  date and time the resource became inactive in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:0:\"\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"invalid-argument\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  error code.\";s:7:\"example\";s:3:\"400\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/error-details\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  error message.\";s:7:\"example\";s:40:\"The client specified an invalid argument\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  error status.\";s:7:\"example\";s:16:\"INVALID_ARGUMENT\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"legal-entity-type\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/type\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:7:\"license\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  License resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"fromDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:121:\"The
  date and time the resource became active in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:25:\"1979-01-13T09:05:06+10:00\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/resourceId\";}}s:11:\"description\";s:33:\"The
  resource's unique identifier.\";s:8:\"readOnly\";b:1;}s:11:\"licenseType\";O:8:\"stdClass\":4:{s:7:\"default\";s:37:\"Australian
  Financial Services License\";s:11:\"description\";s:17:\"The license type.\";s:4:\"enum\";a:2:{i:0;s:37:\"Australian
  Financial Services License\";i:1;s:10:\"License 2B\";}s:4:\"type\";s:6:\"string\";}s:14:\"lifecycleState\";O:8:\"stdClass\":4:{s:7:\"default\";s:16:\"Pending
  Approval\";s:11:\"description\";s:36:\"The business name's lifecycle state.\";s:4:\"enum\";a:5:{i:0;s:8:\"Approved\";i:1;s:7:\"Expired\";i:2;s:6:\"Issued\";i:3;s:16:\"Pending
  Approval\";i:4;s:9:\"Suspended\";}s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:123:\"The
  date and time the resource became inactive in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:0:\"\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"license-lifecycle-state\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/type\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:12:\"license-type\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/type\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:14:\"name-direction\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/type\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:11:\"name-prefix\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/type\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:9:\"name-type\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/type\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:9:\"not-found\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  error code.\";s:7:\"example\";s:3:\"404\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/error-details\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  error message.\";s:7:\"example\";s:36:\"The specified resource was not found\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  error status.\";s:7:\"example\";s:9:\"NOT_FOUND\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"organisation\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"The
  Organisation resource.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"addresses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/organisation-address\";}s:4:\"type\";s:5:\"array\";}s:19:\"electronicAddresses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/electronic-address\";}s:4:\"type\";s:5:\"array\";}s:17:\"establishmentDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:128:\"The
  organisation's establishment date, for example, `1928-03-03` (in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
  format).\";s:7:\"example\";s:10:\"1928-03-03\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:8:\"fromDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:121:\"The
  date and time the resource became active in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:25:\"1979-01-13T09:05:06+10:00\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/partyId\";}}s:11:\"description\";s:30:\"The
  party's unique identifier.\";s:8:\"readOnly\";b:1;}s:15:\"legalEntityType\";O:8:\"stdClass\":4:{s:7:\"default\";s:7:\"Company\";s:11:\"description\";s:37:\"The
  organisation's legal entity type.\";s:4:\"enum\";a:4:{i:0;s:7:\"Company\";i:1;s:11:\"Partnership\";i:2;s:5:\"Trust\";i:3;s:13:\"Joint
  Venture\";}s:4:\"type\";s:6:\"string\";}s:5:\"names\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/organisation-name\";}s:4:\"type\";s:5:\"array\";}s:21:\"registeredIdentifiers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/registered-identifier\";}s:4:\"type\";s:5:\"array\";}s:6:\"toDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:123:\"The
  date and time the resource became inactive in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:0:\"\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:15:\"legalEntityType\";i:1;s:17:\"establishmentDate\";}s:4:\"type\";s:6:\"object\";}s:20:\"organisation-address\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/address\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"addressType\";O:8:\"stdClass\":4:{s:7:\"default\";s:27:\"Principal
  Place of Business\";s:11:\"description\";s:17:\"The address type.\";s:4:\"enum\";a:2:{i:0;s:7:\"Mailing\";i:1;s:27:\"Principal
  Place of Business\";}s:4:\"type\";s:6:\"string\";}s:8:\"fromDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:121:\"The
  date and time the resource became active in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:25:\"1979-01-13T09:05:06+10:00\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:123:\"The
  date and time the resource became inactive in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:0:\"\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}}s:17:\"organisation-name\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  Organisation Name resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"fromDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:121:\"The
  date and time the resource became active in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:25:\"1928-03-03T09:05:06+10:00\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/resourceId\";}}s:11:\"description\";s:33:\"The
  resource's unique identifier.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  organisation's name.\";s:7:\"example\";s:23:\"321 Technology Ventures\";s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:123:\"The
  date and time the resource became inactive in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:0:\"\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"party-role\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  Party Role resource.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"fromDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:121:\"The
  date and time the resource became active in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:25:\"2016-01-13T09:05:06+10:00\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/roleId\";}}s:11:\"description\";s:33:\"The
  resource's unique identifier.\";s:8:\"readOnly\";b:1;}s:13:\"partyRoleType\";O:8:\"stdClass\":4:{s:7:\"default\";s:8:\"Employee\";s:11:\"description\";s:22:\"The
  party's role type.\";s:4:\"enum\";a:5:{i:0;s:8:\"Director\";i:1;s:8:\"Employee\";i:2;s:6:\"Member\";i:3;s:7:\"Partner\";i:4;s:7:\"Trustee\";}s:4:\"type\";s:6:\"string\";}s:14:\"relatedPartyId\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/partyId\";}}s:11:\"description\";s:38:\"The
  related party's unique identifier.\";}s:20:\"relatedPartyRoleType\";O:8:\"stdClass\":4:{s:7:\"default\";s:8:\"Employer\";s:11:\"description\";s:30:\"The
  related party's role type.\";s:4:\"enum\";a:6:{i:0;s:11:\"Association\";i:1;s:7:\"Company\";i:2;s:8:\"Employer\";i:3;s:12:\"Organisation\";i:4;s:11:\"Partnership\";i:5;s:5:\"Trust\";}s:4:\"type\";s:6:\"string\";}s:16:\"relationshipType\";O:8:\"stdClass\":4:{s:7:\"default\";s:10:\"Employment\";s:11:\"description\";s:22:\"The
  relationship type.\";s:4:\"enum\";a:5:{i:0;s:12:\"Directorship\";i:1;s:10:\"Employment\";i:2;s:10:\"Membership\";i:3;s:11:\"Partnership\";i:4;s:11:\"Trusteeship\";}s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:123:\"The
  date and time the resource became inactive in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:0:\"\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:14:\"relatedPartyId\";i:1;s:16:\"relationshipType\";}s:4:\"type\";s:6:\"object\";}s:7:\"partyId\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/resourceId\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"permission-denied\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  error code.\";s:7:\"example\";s:3:\"403\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/error-details\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  error message.\";s:7:\"example\";s:46:\"The client does not have sufficient permission\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  error status.\";s:7:\"example\";s:17:\"PERMISSION_DENIED\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"registered-identifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  Registered Identifier resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"fromDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:121:\"The
  date and time the resource became active in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:25:\"1979-01-13T09:05:06+10:00\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/resourceId\";}}s:11:\"description\";s:33:\"The
  resource's unique identifier.\";s:8:\"readOnly\";b:1;}s:10:\"identifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  registered identifier.\";s:7:\"example\";s:9:\"123456789\";s:4:\"type\";s:6:\"string\";}s:14:\"identifierType\";O:8:\"stdClass\":4:{s:7:\"default\";s:3:\"ACN\";s:11:\"description\";s:31:\"The
  registered identifier type.\";s:4:\"enum\";a:2:{i:0;s:3:\"ACN\";i:1;s:3:\"ABN\";}s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":5:{s:11:\"description\";s:123:\"The
  date and time the resource became inactive in the format defined by [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601).\";s:7:\"example\";s:0:\"\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"registered-identifier-type\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/type\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:10:\"resourceId\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  resource ID. Defaults to UUID v4\";s:7:\"example\";s:36:\"123e4567-e89b-12d3-a456-426655440000\";s:9:\"maxLength\";i:36;s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  Role Type resource.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/resourceId\";}}s:11:\"description\";s:33:\"The
  resource's unique identifier.\";s:8:\"readOnly\";b:1;}s:14:\"reciprocalRole\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  reciprocal role name.\";s:4:\"type\";s:6:\"string\";}s:25:\"reciprocalRoleDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  reciprocal role description.\";s:4:\"type\";s:6:\"string\";}s:12:\"relationship\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  relationship name.\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  role name.\";s:4:\"type\";s:6:\"string\";}s:15:\"roleDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  role description.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"roleId\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/resourceId\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  Type resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  scheme value description.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/resourceId\";}}s:11:\"description\";s:33:\"The
  resource's unique identifier.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  scheme value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"unauthenticated\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  error code.\";s:7:\"example\";s:3:\"401\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/error-details\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  error message.\";s:7:\"example\";s:67:\"Request not authenticated due to missing,
  invalid, or expired token\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  error status.\";s:7:\"example\";s:15:\"UNAUTHENTICATED\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
