---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:15:\"internetarchive\";}s:11:\"description\";s:42:\"API
  for Internet Archive's Wayback Machine\";s:5:\"title\";s:7:\"Wayback\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:6:\"search\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:88:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_internetarchive_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:89:\"https://raw.githubusercontent.com/ArchiveLabs/api.archive.org/master/swagger/wayback.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"archive.org\";s:13:\"x-serviceName\";s:7:\"wayback\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"archive_wayback\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.archive.org
basePath: /
paths:
  /wayback/v1/available:
    get:
      parameters:
      - $ref: '#/parameters/url'
      - $ref: '#/parameters/timestamp'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/timeout'
      - $ref: '#/parameters/closest'
      - $ref: '#/parameters/status_code'
      - $ref: '#/parameters/tag'
      responses:
        200:
          $ref: '#/responses/AvailabilityResults'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      operationId: wayback.v1.available.get
    post:
      consumes:
      - application/json
      - text/csv
      - application/x-www-form-urlencoded
      parameters:
      - $ref: '#/parameters/url'
      - $ref: '#/parameters/timestamp'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/timeout'
      - $ref: '#/parameters/closest'
      - $ref: '#/parameters/status_code'
      - $ref: '#/parameters/tag'
      - in: body
        name: availabilty_request
        schema:
          $ref: '#/definitions/AvailabilityRequests'
      responses:
        200:
          $ref: '#/responses/AvailabilityResults'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      operationId: wayback.v1.available.post
produces:
- application/json
- application/javascript
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:14:\"ArchivedResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"snapshot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Snapshot\";}s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  user-supplied tag for use in collation\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"The
  _intepreted_ timestamp requested, in [RFC 3339](http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html)
  format\";s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  URL requested\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:3:\"url\";i:1;s:9:\"timestamp\";i:2;s:8:\"snapshot\";}s:4:\"type\";s:6:\"object\";}s:19:\"AvailabilityRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"closest\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  direction to find the closest snapshot to the requested timestamp\";s:4:\"enum\";a:3:{i:0;s:6:\"either\";i:1;s:5:\"after\";i:2;s:6:\"before\";}s:4:\"type\";s:6:\"string\";}s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"A
  user-supplied tag, used for collation\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:156:\"Timestamp
  requested in ISO 8601 format. The following formats are acceptable: - YYYY - YYYY-MM
  - YYYY-MM-DD - YYYY-MM-DDTHH:mm:SSz - YYYY-MM-DD:HH:mm+00:00\n\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  URL requested\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}s:20:\"AvailabilityRequests\";O:8:\"stdClass\":3:{s:7:\"example\";a:3:{i:0;O:8:\"stdClass\":3:{s:3:\"tag\";s:1:\"0\";s:9:\"timestamp\";s:20:\"2016-04-07T19:39:18Z\";s:3:\"url\";s:21:\"http://www.entish.org\";}i:1;O:8:\"stdClass\":2:{s:3:\"tag\";s:1:\"1\";s:3:\"url\";s:19:\"http://www.cnn.com/\";}i:2;O:8:\"stdClass\":3:{s:3:\"tag\";s:1:\"2\";s:9:\"timestamp\";s:20:\"2016-04-07T19:39:18Z\";s:3:\"url\";s:30:\"http://www.youcantfindthis.cat\";}}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AvailabilityRequest\";}s:4:\"type\";s:5:\"array\";}s:19:\"AvailabilityResults\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"results\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"A
  list of results\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ArchivedResult\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:7:\"results\";}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Snapshot\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  HTTP status of the URL requested\";s:4:\"type\";s:7:\"integer\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  timestamp of the snapshot in [RFC 3339](http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html)
  format\";s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  URL requested\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
