---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:15:\"internetarchive\";}s:11:\"description\";s:51:\"API
  for Internet Archive's Search-related services\n\";s:5:\"title\";s:15:\"Search Services\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:6:\"search\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:88:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_internetarchive_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:88:\"https://raw.githubusercontent.com/ArchiveLabs/api.archive.org/master/swagger/search.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"archive.org\";s:13:\"x-serviceName\";s:6:\"search\";}"
host: api.archive.org
basePath: /
paths:
  /search/v1/fields:
    get:
      description: Fields that can be requested
      parameters:
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Fields that can be requested
          schema:
            items:
              $ref: '#/definitions/Field'
            type: array
  /search/v1/organic:
    get:
      description: Return relevance-based results from search queriesn
      parameters:
      - $ref: '#/parameters/query'
      - $ref: '#/parameters/field'
      - $ref: '#/parameters/size'
      - $ref: '#/parameters/total_only'
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Organic Search API. Returns results in descending relevance
            order
          schema:
            $ref: '#/definitions/OrganicResult'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /search/v1/scrape:
    get:
      description: Scrape search results from Internet Archive, allowing a scrolling
        cursorn
      parameters:
      - $ref: '#/parameters/query'
      - $ref: '#/parameters/field'
      - $ref: '#/parameters/sort'
      - $ref: '#/parameters/size'
      - $ref: '#/parameters/cursor'
      - $ref: '#/parameters/total_only'
      - $ref: '#/parameters/callback'
      responses:
        200:
          description: Scaping API
          schema:
            $ref: '#/definitions/ScrapeResult'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
produces:
- application/json
- application/javascript
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:6:\"Cursor\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"A
  scroll handle\";s:4:\"type\";s:6:\"string\";}s:5:\"Error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Field\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  name of a field\";s:4:\"type\";s:6:\"string\";}s:3:\"Hit\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"One
  item returned (object of fields and values)\";s:4:\"type\";s:6:\"object\";}s:13:\"OrganicResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  result of a organic search request\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Number
  of results returned\";s:7:\"maximum\";i:10000;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Hit\";}s:4:\"type\";s:5:\"array\";}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Approximate
  number of results meeting query\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ScrapeResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  result of a scrape request\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"count\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Number
  of results returned\";s:7:\"maximum\";i:10000;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:6:\"cursor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Cursor\";}s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Hit\";}s:4:\"type\";s:5:\"array\";}s:8:\"previous\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Cursor\";}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Total
  number of results from this cursor point\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}"
...
