---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:17:\"developer@zoom.us\";s:4:\"name\";s:15:\"Zoom
  Developers\";s:3:\"url\";s:26:\"https://developer.zoom.us/\";s:9:\"x-twitter\";s:7:\"zoom_us\";}s:11:\"description\";s:15:\"API
  Description\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:5:\"title\";s:4:\"Zoom\";s:7:\"version\";s:5:\"2.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"telecom\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:80:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_zoom_us_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:65:\"https://raw.githubusercontent.com/zoom/api/master/openapi.v2.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:7:\"zoom.us\";}"
host: api.zoom.us
basePath: /v2
paths: ~
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":86:{s:7:\"Account\";O:8:\"stdClass\":4:{s:11:\"description\";s:317:\"The
  account object represents an account on zoom. The person who created the account,
  or who the account was created for, is referred to as the Account owner. You can
  read more about the Zoom account structure <a href='https://developer.zoom.us/blog/a-brief-look-at-zoom-account-structures/'
  target='_blank'>here</a>.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"User's
  email address.\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"User's
  first name.\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"User's
  last name.\";s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AccountOptions\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"User's
  password.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:5:\"email\";i:1;s:10:\"first_name\";i:2;s:9:\"last_name\";i:3;s:8:\"password\";}s:4:\"type\";s:6:\"object\";}s:11:\"AccountList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AccountListItem\";}}s:11:\"description\";s:16:\"List
  of Accounts\";s:5:\"title\";s:12:\"Account List\";s:4:\"type\";s:6:\"object\";}s:15:\"AccountListItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Account
  object in account list\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"accounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"List
  of Account objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"account_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Account
  name\";s:4:\"type\";s:6:\"string\";}s:12:\"account_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Account
  type\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Account
  creation date/time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Account
  ID\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:11:\"owner_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Account
  owner email\";s:4:\"type\";s:6:\"string\";}s:5:\"seats\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Account
  seats\";s:4:\"type\";s:7:\"integer\";}s:21:\"subscription_end_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Account
  subscription end date/time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:23:\"subscription_start_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Account
  subscription start date/time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AccountOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Account
  options object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"meeting_connectors\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Meeting
  Connector, multiple value separated by comma.\";s:4:\"type\";s:6:\"string\";}s:8:\"pay_mode\";O:8:\"stdClass\":5:{s:7:\"default\";s:6:\"master\";s:11:\"description\";s:5:\"Payee\";s:4:\"enum\";a:2:{i:0;s:6:\"master\";i:1;s:3:\"sub\";}s:4:\"type\";s:6:\"string\";s:19:\"x-enum-descriptions\";a:2:{i:0;s:26:\"Master
  Account holder pays\";i:1;s:24:\"Sub Account holders pays\";}}s:15:\"room_connectors\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Virtual
  Room Connector, multiple value separated by comma.\";s:4:\"type\";s:6:\"string\";}s:8:\"share_mc\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:31:\"Enable
  Share Meeting Connector.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"share_rc\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:36:\"Enable
  Share Virtual Room Connector.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"AccountPlan\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Account
  plan object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"hosts\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Account
  plan number of hosts\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Account
  plan type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"AccountPlanBaseRequired\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Account
  base plan object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"hosts\";O:8:\"stdClass\":2:{s:11:\"description\";s:280:\"Account
  base plan number of hosts. For a Pro Plan, please select a value between 1 and 9.
  For a Business Plan, please select a value between 10 and 49. For a Education Plan,
  please select a value between 20 and 149. For a Free Trial Plan, please select a
  value between 1 and 9999.\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Account
  base plan type\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:5:\"hosts\";}s:4:\"type\";s:6:\"object\";}s:19:\"AccountPlanRequired\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Account
  plan object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"hosts\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Account
  plan number of hosts.\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Account
  <a href=\"#plans\">plan type</a>\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:5:\"hosts\";}s:4:\"type\";s:6:\"object\";}s:12:\"AccountPlans\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Account
  Plans object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"plan_audio\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Additional
  Audio Conferencing Plan type\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"callout_countries\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Call-out
  countries, multiple value separated by comma\";s:4:\"type\";s:6:\"string\";}s:11:\"ddi_numbers\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Dedicated
  Dial-In Numbers\";s:4:\"type\";s:7:\"integer\";}s:17:\"premium_countries\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Premium
  countries, multiple value separated by comma\";s:4:\"type\";s:6:\"string\";}s:18:\"tollfree_countries\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Toll-free
  countries, multiple value separated by comma\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Additional
  Audio Conferencing Plan type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"plan_base\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/AccountPlanBaseRequired\";}s:18:\"plan_large_meeting\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Additional
  Large Meeting Plans\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AccountPlan\";}s:4:\"type\";s:5:\"array\";}s:14:\"plan_recording\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Additional
  Cloud Recording Plan\";s:4:\"type\";s:6:\"string\";}s:19:\"plan_room_connector\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AccountPlan\";}s:12:\"plan_webinar\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Additional
  Webinar Plans\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AccountPlan\";}s:4:\"type\";s:5:\"array\";}s:15:\"plan_zoom_rooms\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AccountPlan\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AccountSettings\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:18:\"email_notification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/AccountSettingsEmailNotification\";}s:7:\"feature\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AccountSettingsFeature\";}s:10:\"in_meeting\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AccountSettingsInMeeting\";}s:11:\"integration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/AccountSettingsIntegration\";}s:9:\"recording\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AccountSettingsRecording\";}s:15:\"schedule_meting\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/AccountSettingsScheduleMeeting\";}s:8:\"security\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/AccountSettingsSecurity\";}s:9:\"telephony\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AccountSettingsTelephony\";}s:10:\"zoom_rooms\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AccountSettingsZoomRooms\";}}s:5:\"title\";s:16:\"Account
  settings\";s:4:\"type\";s:6:\"object\";}s:32:\"AccountSettingsEmailNotification\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Account
  Settings: Notification\";s:10:\"properties\";O:8:\"stdClass\":5:{s:25:\"alternative_host_reminder\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"When
  an alternative host is set or removed from a meeting\";s:4:\"type\";s:7:\"boolean\";}s:23:\"cancel_meeting_reminder\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"When
  a meeting is cancelled\";s:4:\"type\";s:7:\"boolean\";}s:34:\"cloud_recording_avaliable_reminder\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Allow
  keep recording from being automatically deleted\";s:4:\"type\";s:7:\"boolean\";}s:12:\"jbh_reminder\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"When
  attendees join meeting before host\";s:4:\"type\";s:7:\"boolean\";}s:23:\"low_host_count_reminder\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"When
  host licenses are running low\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:22:\"AccountSettingsFeature\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Account
  Settings: Feature\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"meeting_capacity\";O:8:\"stdClass\":3:{s:7:\"default\";i:100;s:11:\"description\";s:16:\"Meeting
  capacity\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AccountSettingsInMeeting\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Account
  Settings: In Meeting\";s:10:\"properties\";O:8:\"stdClass\":37:{s:16:\"alert_guest_join\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Identify
  guest participants in the meeting/webinar\";s:4:\"type\";s:7:\"boolean\";}s:23:\"allow_show_zoom_windows\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Allow
  to share Zoom windows in desktop sharing\";s:4:\"type\";s:7:\"boolean\";}s:10:\"annotation\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Annotation\";s:4:\"type\";s:7:\"boolean\";}s:25:\"anonymous_question_answer\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Allow
  Anonymous Q&A in Webinar\";s:4:\"type\";s:7:\"boolean\";}s:16:\"attendee_on_hold\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Allow
  host to put attendee on hold\";s:4:\"type\";s:7:\"boolean\";}s:18:\"attention_tracking\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Attention
  tracking\";s:4:\"type\";s:7:\"boolean\";}s:11:\"auto_answer\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Enable
  Auto Answer Group\";s:4:\"type\";s:7:\"boolean\";}s:16:\"auto_saving_chat\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Auto
  Saving Chats\";s:4:\"type\";s:7:\"boolean\";}s:13:\"breakout_room\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Breakout
  room\";s:4:\"type\";s:7:\"boolean\";}s:4:\"chat\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Chat\";s:4:\"type\";s:7:\"boolean\";}s:14:\"closed_caption\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Closed
  caption\";s:4:\"type\";s:7:\"boolean\";}s:7:\"co_host\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Co-Host\";s:4:\"type\";s:7:\"boolean\";}s:10:\"dscp_audio\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"DSCP
  Audio\";s:7:\"maximum\";i:63;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:12:\"dscp_marking\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"DSCP
  marking\";s:4:\"type\";s:7:\"boolean\";}s:10:\"dscp_video\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"DSCP
  Video\";s:7:\"maximum\";i:63;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:14:\"e2e_encryption\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"End-to-End
  Encryption\";s:4:\"type\";s:7:\"boolean\";}s:22:\"far_end_camera_control\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Far
  end camera control\";s:4:\"type\";s:7:\"boolean\";}s:8:\"feedback\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Feedback
  to Zoom\";s:4:\"type\";s:7:\"boolean\";}s:13:\"file_transfer\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"File
  transfer\";s:4:\"type\";s:7:\"boolean\";}s:8:\"group_hd\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Group
  HD video\";s:4:\"type\";s:7:\"boolean\";}s:14:\"original_audio\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Allow
  users to select original sound in their client settings\";s:4:\"type\";s:7:\"boolean\";}s:13:\"p2p_connetion\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Peer
  to Peer connection while only 2 people in a meeting\";s:4:\"type\";s:7:\"boolean\";}s:9:\"p2p_ports\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Listening
  ports range\";s:4:\"type\";s:7:\"boolean\";}s:7:\"polling\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Polling\";s:4:\"type\";s:7:\"boolean\";}s:11:\"ports_range\";O:8:\"stdClass\":3:{s:7:\"default\";s:0:\"\";s:11:\"description\";s:91:\"Listening
  ports range, separated by comma (ex 55,56). The ports range is between 1 to 65535\";s:4:\"type\";s:6:\"string\";}s:21:\"post_meeting_feedback\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Display
  end-of-meeting experience feedback survey\";s:4:\"type\";s:7:\"boolean\";}s:12:\"private_chat\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Private
  Chat\";s:4:\"type\";s:7:\"boolean\";}s:14:\"remote_control\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Remote
  control\";s:4:\"type\";s:7:\"boolean\";}s:14:\"screen_sharing\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Screen
  sharing\";s:4:\"type\";s:7:\"boolean\";}s:29:\"sending_default_email_invites\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Only
  show default email when sending email invites\";s:4:\"type\";s:7:\"boolean\";}s:28:\"show_meeting_control_toolbar\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Always
  show meeting control toolbar\";s:4:\"type\";s:7:\"boolean\";}s:12:\"stereo_audio\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Allow
  users to select stereo audio in their client settings\";s:4:\"type\";s:7:\"boolean\";}s:21:\"use_html_format_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Use
  HTML format email for Outlook plugin\";s:4:\"type\";s:7:\"boolean\";}s:18:\"virtual_background\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Virtual
  background\";s:4:\"type\";s:7:\"boolean\";}s:9:\"watermark\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Add
  watermark when viewing shared screen\";s:4:\"type\";s:7:\"boolean\";}s:23:\"webinar_question_answer\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Q&A
  in webinar\";s:4:\"type\";s:7:\"boolean\";}s:10:\"whiteboard\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Whiteboard\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:26:\"AccountSettingsIntegration\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Account
  Settings: Integration\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"box\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"Box\";s:4:\"type\";s:7:\"boolean\";}s:7:\"dropbox\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Dropbox\";s:4:\"type\";s:7:\"boolean\";}s:15:\"google_calendar\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Google
  Calendar\";s:4:\"type\";s:7:\"boolean\";}s:12:\"google_drive\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Google
  Drive\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kubi\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Kubi\";s:4:\"type\";s:7:\"boolean\";}s:19:\"microsoft_one_drive\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Microsoft
  OneDrive\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AccountSettingsRecording\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Account
  Settings: Recording\";s:10:\"properties\";O:8:\"stdClass\":14:{s:29:\"account_user_access_recording\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Only
  users on my account can access cloud recordings\";s:4:\"type\";s:7:\"boolean\";}s:15:\"auto_delete_cmr\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Auto
  delete cloud recordings after days\";s:4:\"type\";s:7:\"boolean\";}s:20:\"auto_delete_cmr_days\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"A
  specified number of days of auto delete cloud recordings\";s:4:\"type\";s:7:\"integer\";}s:14:\"auto_recording\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Automatic
  recording\";s:4:\"enum\";a:3:{i:0;s:5:\"local\";i:1;s:5:\"cloud\";i:2;s:4:\"none\";}s:4:\"type\";s:6:\"string\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:15:\"Record
  on local\";i:1;s:15:\"Record on cloud\";i:2;s:8:\"Disabled\";}}s:15:\"cloud_recording\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Cloud
  recording\";s:4:\"type\";s:7:\"boolean\";}s:24:\"cloud_recording_download\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Cloud
  Recording Downloads\";s:4:\"type\";s:7:\"boolean\";}s:29:\"cloud_recording_download_host\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Only
  the host can download cloud recordings\";s:4:\"type\";s:7:\"boolean\";}s:15:\"local_recording\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Local
  recording\";s:4:\"type\";s:7:\"boolean\";}s:17:\"record_audio_file\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Record
  an audio only file\";s:4:\"type\";s:7:\"boolean\";}s:19:\"record_gallery_view\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Record
  the gallery view\";s:4:\"type\";s:7:\"boolean\";}s:19:\"record_speaker_view\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Record
  the active speaker view\";s:4:\"type\";s:7:\"boolean\";}s:26:\"recording_audio_transcript\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Audio
  transcript\";s:4:\"type\";s:7:\"boolean\";}s:14:\"save_chat_text\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Save
  chat text from the meeting\";s:4:\"type\";s:7:\"boolean\";}s:14:\"show_timestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Show
  timestamp on video\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:30:\"AccountSettingsScheduleMeeting\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Account
  Settings: Schedule Meeting\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"audio_type\";O:8:\"stdClass\":5:{s:7:\"default\";s:4:\"both\";s:11:\"description\";s:10:\"Audio
  Type\";s:4:\"enum\";a:4:{i:0;s:4:\"both\";i:1;s:9:\"telephony\";i:2;s:4:\"voip\";i:3;s:10:\"thirdParty\";}s:4:\"type\";s:6:\"string\";s:19:\"x-enum-descriptions\";a:4:{i:0;s:18:\"Telephony
  and VoIP\";i:1;s:25:\"Audio PSTN telephony only\";i:2;s:9:\"VoIP only\";i:3;s:26:\"3rd
  party audio conference\";}}s:13:\"enforce_login\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Only
  signed-in users can join meetings\";s:4:\"type\";s:7:\"boolean\";}s:21:\"enforce_login_domains\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Only
  signed-in users with a specified domains\";s:4:\"type\";s:6:\"string\";}s:26:\"enforce_login_with_domains\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Only
  signed-in users with a specified domains can join meetings\";s:4:\"type\";s:7:\"boolean\";}s:22:\"force_pmi_jbh_password\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Require
  a password for Personal Meetings if attendees can join before host\";s:4:\"type\";s:7:\"boolean\";}s:10:\"host_video\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Host
  Video\";s:4:\"type\";s:7:\"boolean\";}s:16:\"join_before_host\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Join
  Before Host\";s:4:\"type\";s:7:\"boolean\";}s:23:\"not_store_meeting_topic\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Always
  display \"Zoom Meeting\" as the meeting topic\";s:4:\"type\";s:7:\"boolean\";}s:17:\"participant_video\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Participants
  Video\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:23:\"AccountSettingsSecurity\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Account
  Settings: Security\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"admin_change_name_pic\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Only
  account administrators can change user's username and picture\";s:4:\"type\";s:7:\"boolean\";}s:17:\"hide_billing_info\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Hide
  billing information\";s:4:\"type\";s:7:\"boolean\";}s:26:\"import_photos_from_devices\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Allow
  importing of photos from photo library on the user's device\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AccountSettingsTelephony\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Account
  Settings: Telephony\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"audio_conference_info\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"3rd
  party audio conference info\";s:4:\"type\";s:6:\"string\";}s:17:\"third_party_audio\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"3rd
  party audio conference\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AccountSettingsZoomRooms\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Account
  Settings: Zoom Rooms\";s:10:\"properties\";O:8:\"stdClass\":10:{s:34:\"auto_start_stop_scheduled_meetings\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Automatic
  start/stop scheduled meetings\";s:4:\"type\";s:7:\"boolean\";}s:23:\"cmr_for_instant_meeting\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Cloud
  recording for instant meetings\";s:4:\"type\";s:7:\"boolean\";}s:21:\"force_private_meeting\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Transform
  all meetings to private\";s:4:\"type\";s:7:\"boolean\";}s:21:\"hide_host_information\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Hide
  host and meeting ID from private meetings\";s:4:\"type\";s:7:\"boolean\";}s:27:\"list_meetings_with_calendar\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Display
  meeting list with calendar integration\";s:4:\"type\";s:7:\"boolean\";}s:22:\"start_airplay_manually\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Start
  AirPlay service manually\";s:4:\"type\";s:7:\"boolean\";}s:10:\"ultrasonic\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Automatic
  direct sharing using ultrasonic proximity signal\";s:4:\"type\";s:7:\"boolean\";}s:22:\"upcoming_meeting_alert\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Upcoming
  meeting alert\";s:4:\"type\";s:7:\"boolean\";}s:21:\"weekly_system_restart\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Weekly
  system restart\";s:4:\"type\";s:7:\"boolean\";}s:24:\"zr_post_meeting_feedback\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Zoom
  Room post meeting feedback\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:14:\"BillingContact\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Billing
  Contact object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Billing
  Contact's address.\";s:4:\"type\";s:6:\"string\";}s:3:\"apt\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Billing
  Contact's apartment/suite.\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Billing
  Contact's city.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Billing
  Contact's country.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Billing
  Contact's email address.\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Billing
  Contact's first name.\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Billing
  Contact's last name.\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Billing
  Contact's phone number.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Billing
  Contact's state.\";s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Billing
  Contact's zip/postal code.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"BillingContactRequired\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Billing
  Contact object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Billing
  Contact's address.\";s:4:\"type\";s:6:\"string\";}s:3:\"apt\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Billing
  Contact's apartment/suite.\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Billing
  Contact's city.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Billing
  Contact's country.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Billing
  Contact's email address.\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Billing
  Contact's first name.\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Billing
  Contact's last name.\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Billing
  Contact's phone number.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Billing
  Contact's state.\";s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Billing
  Contact's zip/postal code.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:9:{i:0;s:10:\"first_name\";i:1;s:9:\"last_name\";i:2;s:5:\"email\";i:3;s:12:\"phone_number\";i:4;s:7:\"address\";i:5;s:4:\"city\";i:6;s:5:\"state\";i:7;s:3:\"zip\";i:8;s:7:\"country\";}s:4:\"type\";s:6:\"object\";}s:14:\"CustomQuestion\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Custom
  Question\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"DateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"DateTime
  Object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Start
  Date,\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"End
  Date\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Group
  object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Group
  name\";s:4:\"type\";s:6:\"string\";}s:13:\"total_members\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Total
  number of members in this group.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"GroupList\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"List
  of Groups\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"groups\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  of Group objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Group
  ID\";s:4:\"type\";s:6:\"string\";}}}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}}}s:4:\"type\";s:5:\"array\";}s:13:\"total_records\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Total
  records\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"GroupMember\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Group
  member object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"User
  email\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"User
  first name\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"User
  ID\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"User
  last name\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"User
  type\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"GroupMemberList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"List
  of Group member objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GroupMember\";}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:21:\"List
  of Group Members\";s:5:\"title\";s:17:\"Group Member List\";s:4:\"type\";s:6:\"object\";}s:7:\"IMGroup\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"search_by_account\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Members
  can search others under same account\";s:4:\"type\";s:7:\"boolean\";}s:16:\"search_by_domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Members
  can search others in the same email domain\";s:4:\"type\";s:7:\"boolean\";}s:20:\"search_by_ma_account\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Members
  can search others under same master account, including all sub accounts\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":5:{s:7:\"default\";s:6:\"normal\";s:11:\"description\";s:13:\"IM
  Group type\";s:4:\"enum\";a:3:{i:0;s:6:\"normal\";i:1;s:6:\"shared\";i:2;s:10:\"restricted\";}s:4:\"type\";s:6:\"string\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:90:\"Only
  members can see the group automatically. Other people can search members in the
  group\";i:1;s:69:\"All people in the account can see the group and members automatically\";i:2;s:74:\"Nobody
  can see the group or search members except the members in the group\";}}}}}s:11:\"description\";s:15:\"IM
  Group object\";s:4:\"type\";s:6:\"object\";}s:11:\"IMGroupList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"groups\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  of Group objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"IM
  Group ID\";s:4:\"type\";s:6:\"string\";}}}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/IMGroup\";}}}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:17:\"List
  of IM Groups\";s:5:\"title\";s:13:\"IM Group List\";s:4:\"type\";s:6:\"object\";}s:7:\"Meeting\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Session\";}}s:11:\"description\";s:14:\"Meeting
  object\";s:4:\"type\";s:6:\"object\";}s:11:\"MeetingInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Meeting
  object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"agenda\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Agenda\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Create
  time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Meeting
  duration\";s:4:\"type\";s:7:\"integer\";}s:13:\"h323_password\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"H.323/SIP
  room system password\";s:4:\"type\";s:6:\"string\";}s:8:\"join_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Join
  url\";s:4:\"type\";s:6:\"string\";}s:11:\"occurrences\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Occurrences\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Meeting
  password\";s:4:\"type\";s:6:\"string\";}s:8:\"settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MeetingSettings\";}s:10:\"start_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Meeting
  start time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"start_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Start
  url\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Timezone
  to format start_time\";s:4:\"type\";s:6:\"string\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Meeting
  topic\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":5:{s:7:\"default\";i:2;s:11:\"description\";s:12:\"Meeting
  Type\";s:4:\"enum\";a:4:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:8;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:4:{i:0;s:15:\"Instant
  Meeting\";i:1;s:17:\"Scheduled Meeting\";i:2;s:36:\"Recurring Meeting with no fixed
  time\";i:3;s:33:\"Recurring Meeting with fixed time\";}}}s:4:\"type\";s:6:\"object\";}s:11:\"MeetingList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"meetings\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"List
  of Meeting objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Create
  time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Meeting
  duration\";s:4:\"type\";s:7:\"integer\";}s:7:\"host_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"ID
  of the user set as host of meeting\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Meeting
  ID, also know as meeting number\";s:4:\"type\";s:6:\"string\";}s:8:\"join_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Join
  url\";s:4:\"type\";s:6:\"string\";}s:10:\"start_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Meeting
  start time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Timezone
  to format start_time\";s:4:\"type\";s:6:\"string\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Meeting
  topic\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Meeting
  Type\";s:4:\"enum\";a:4:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:8;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:4:{i:0;s:15:\"Instant
  Meeting\";i:1;s:17:\"Scheduled Meeting\";i:2;s:36:\"Recurring Meeting with no fixed
  time\";i:3;s:33:\"Recurring Meeting with fixed time\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Meeting
  unique ID\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:16:\"List
  of Meetings\";s:5:\"title\";s:10:\"Group List\";s:4:\"type\";s:6:\"object\";}s:13:\"MeetingMetric\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Meeting
  metric details\";s:10:\"properties\";O:8:\"stdClass\":17:{s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Meeting
  duration\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"User
  email\";s:4:\"type\";s:6:\"string\";}s:8:\"end_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Meeting
  end time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"has_3rd_party_audio\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:8:\"has_pstn\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:13:\"has_recording\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:16:\"has_screen_share\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:7:\"has_sip\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:9:\"has_video\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:8:\"has_voip\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:4:\"host\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"User
  display name\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Meeting
  ID\";s:4:\"type\";s:7:\"integer\";}s:12:\"participants\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Meeting
  participant count\";s:4:\"type\";s:7:\"integer\";}s:10:\"start_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Meeting
  start time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Meeting
  topic\";s:4:\"type\";s:6:\"string\";}s:9:\"user_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"User
  type\";s:4:\"type\";s:6:\"string\";}s:4:\"uuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Meeting
  UUID\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:15:\"Meeting
  Metrics\";s:4:\"type\";s:6:\"object\";}s:17:\"MeetingRegistrant\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Registrant\";}}s:11:\"description\";s:18:\"Meeting
  registrant\";s:4:\"type\";s:6:\"object\";}s:21:\"MeetingRegistrantList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RegistrantList\";}}s:11:\"description\";s:13:\"List
  of Users\";s:5:\"title\";s:17:\"Registration List\";s:4:\"type\";s:6:\"object\";}s:15:\"MeetingSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Meeting
  Settings\";s:10:\"properties\";O:8:\"stdClass\":15:{s:17:\"alternative_hosts\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Alternative
  hosts emails or IDs. Multiple value separated by comma.\";s:4:\"type\";s:6:\"string\";}s:13:\"approval_type\";O:8:\"stdClass\":4:{s:7:\"default\";i:2;s:4:\"enum\";a:3:{i:0;i:0;i:1;i:1;i:2;i:2;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:21:\"Automatically
  Approve\";i:1;s:16:\"Manually Approve\";i:2;s:24:\"No Registration Required\";}}s:5:\"audio\";O:8:\"stdClass\":5:{s:7:\"default\";s:4:\"both\";s:11:\"description\";s:21:\"Meeting
  audio options\";s:4:\"enum\";a:3:{i:0;s:4:\"both\";i:1;s:9:\"telephony\";i:2;s:4:\"voip\";}s:4:\"type\";s:6:\"string\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:23:\"Both
  Telephony and VoIP\";i:1;s:14:\"Telephony only\";i:2;s:9:\"VoIP only\";}}s:14:\"auto_recording\";O:8:\"stdClass\":4:{s:7:\"default\";s:4:\"none\";s:4:\"enum\";a:3:{i:0;s:5:\"local\";i:1;s:5:\"cloud\";i:2;s:4:\"none\";}s:4:\"type\";s:6:\"string\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:22:\"Record
  to local device\";i:1;s:15:\"Record to cloud\";i:2;s:12:\"No Recording\";}}s:10:\"cn_meeting\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:21:\"Host
  meeting in China\";s:4:\"type\";s:7:\"boolean\";}s:13:\"enforce_login\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Only
  signed-in users can join this meeting\";s:4:\"type\";s:7:\"boolean\";}s:21:\"enforce_login_domains\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Only
  signed-in users with specified domains can join meetings\";s:4:\"type\";s:6:\"string\";}s:10:\"host_video\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Start
  video when host join meeting\";s:4:\"type\";s:7:\"boolean\";}s:10:\"in_meeting\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:21:\"Host
  meeting in India\";s:4:\"type\";s:7:\"boolean\";}s:16:\"join_before_host\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:89:\"Join
  meeting before host start the meeting. Only used for scheduled or recurring meetings\";s:4:\"type\";s:7:\"boolean\";}s:15:\"mute_upon_entry\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:28:\"Mute
  participants upon entry\";s:4:\"type\";s:7:\"boolean\";}s:17:\"participant_video\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Start
  video when participants join meeting\";s:4:\"type\";s:7:\"boolean\";}s:17:\"registration_type\";O:8:\"stdClass\":5:{s:7:\"default\";i:1;s:11:\"description\";s:67:\"Registration
  type. Used for recurring meeting with fixed time only.\";s:4:\"enum\";a:3:{i:0;i:1;i:1;i:2;i:2;i:3;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:61:\"Attendees
  register once and can attend any of the occurrences\";i:1;s:56:\"Attendees need
  to register for each occurrence to attend\";i:2;s:72:\"Attendees register once and
  can choose one or more occurrences to attend\";}}s:7:\"use_pmi\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:99:\"Use
  Personal Meeting ID. Only used for scheduled meetings and recurring meetings with
  no fixed time\";s:4:\"type\";s:7:\"boolean\";}s:9:\"watermark\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:47:\"Enable
  watermark when viewing the shared screen\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"MeetingUpdate\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SessionUpdate\";}}s:11:\"description\";s:14:\"Meeting
  object\";s:4:\"type\";s:6:\"object\";}s:10:\"Occurrence\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Occurence
  object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Duration\";s:4:\"type\";s:7:\"integer\";}s:13:\"occurrence_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Occurrence
  Id\";s:4:\"type\";s:7:\"integer\";}s:10:\"start_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Start
  time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Occurrence
  status\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Occurrences\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Array
  of occurrence objects\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Occurrence\";}s:4:\"type\";s:5:\"array\";}s:10:\"Pagination\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Pagination
  Object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"page_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  number of items returned on this page.\";s:4:\"type\";s:7:\"integer\";}s:11:\"page_number\";O:8:\"stdClass\":3:{s:7:\"default\";i:1;s:11:\"description\";s:35:\"The
  page number of current results.\";s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":4:{s:7:\"default\";i:30;s:11:\"description\";s:55:\"The
  amount of records returns within a single API call.\";s:7:\"maximum\";i:300;s:4:\"type\";s:7:\"integer\";}s:13:\"total_records\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  number of all records available across pages.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"PaginationToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Pagination
  Object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"next_page_token\";O:8:\"stdClass\":2:{s:11:\"description\";s:193:\"Next
  page token, used to paginate through large result sets. A next page token will be
  returned whenever the set of available result list exceeds page size. The expiration
  period is 15 minutes.\";s:4:\"type\";s:6:\"string\";}s:10:\"page_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  number of items returned on this page.\";s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":4:{s:7:\"default\";i:30;s:11:\"description\";s:56:\"The
  amount of records returns within a single API call. \";s:7:\"maximum\";i:300;s:4:\"type\";s:7:\"integer\";}s:13:\"total_records\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  number of all records available across pages.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:19:\"PaginationToken4Qos\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Pagination
  Object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"next_page_token\";O:8:\"stdClass\":2:{s:11:\"description\";s:193:\"Next
  page token, used to paginate through large result sets. A next page token will be
  returned whenever the set of available result list exceeds page size. The expiration
  period is 15 minutes.\";s:4:\"type\";s:6:\"string\";}s:10:\"page_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  number of items returned on this page.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":4:{s:7:\"default\";i:1;s:11:\"description\";s:29:\"The
  number of items per page.\";s:7:\"maximum\";i:10;s:4:\"type\";s:7:\"integer\";}s:13:\"total_records\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  number of all records available across pages.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Panelist\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Panelist
  base object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Panelist's
  email\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Panelist's
  full name\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"PanelistList\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"List
  of Panelist\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"panelists\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"List
  of Panelist objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Panelist's
  ID\";s:4:\"type\";s:6:\"string\";}}}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Panelist\";}i:2;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"join_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Join
  url\";s:4:\"type\";s:6:\"string\";}}}}}s:4:\"type\";s:5:\"array\";}s:13:\"total_records\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Total
  records.\";s:4:\"type\";s:7:\"integer\";}}s:5:\"title\";s:13:\"Panelist List\";s:4:\"type\";s:6:\"object\";}s:8:\"QOSAudio\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Quality
  of Service object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"avg_loss\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Average
  Loss\";s:4:\"type\";s:6:\"string\";}s:7:\"bitrate\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Bitrate\";s:4:\"type\";s:6:\"string\";}s:6:\"jitter\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Jitter\";s:4:\"type\";s:6:\"string\";}s:7:\"latency\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Latency\";s:4:\"type\";s:6:\"string\";}s:8:\"max_loss\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Max
  Loss\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:10:\"QOS Object\";s:4:\"type\";s:6:\"object\";}s:14:\"QOSParticipant\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Participant
  QOS\";s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"device\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Participant
  device\";s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Participant
  domain\";s:4:\"type\";s:6:\"string\";}s:11:\"harddisk_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Participant
  hard disk id\";s:4:\"type\";s:6:\"string\";}s:10:\"ip_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Participant
  IP Address\";s:4:\"type\";s:6:\"string\";}s:9:\"join_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Participant
  join time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"leave_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Participant
  leave time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Participant
  location\";s:4:\"type\";s:6:\"string\";}s:8:\"mac_addr\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Participant
  MAC Address\";s:4:\"type\";s:6:\"string\";}s:7:\"pc_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Participant
  PC name\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Participant
  ID\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:9:\"user_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Participant
  display name\";s:4:\"type\";s:6:\"string\";}s:8:\"user_qos\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"User
  quality of service\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"as_input\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/QOSVideo\";}s:9:\"as_output\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/QOSVideo\";}s:11:\"audio_input\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/QOSAudio\";}s:12:\"audio_output\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/QOSAudio\";}s:9:\"cpu_usage\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"system_max_cpu_usage\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"System
  Maximum CPU Usage\";s:4:\"type\";s:6:\"string\";}s:18:\"zoom_avg_cpu_usage\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Zoom
  Average CPU Usage\";s:4:\"type\";s:6:\"string\";}s:18:\"zoom_max_cpu_usage\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Zoom
  Maximum CPU Usage\";s:4:\"type\";s:6:\"string\";}s:18:\"zoom_min_cpu_usage\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Zoom
  Minimum CPU Usage\";s:4:\"type\";s:6:\"string\";}}}s:9:\"date_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Datetime
  of QOS\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"video_input\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/QOSVideo\";}s:12:\"video_output\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/QOSVideo\";}}s:4:\"type\";s:6:\"object\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Participant
  version\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:15:\"Participant QOS\";s:4:\"type\";s:6:\"object\";}s:18:\"QOSParticipantList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PaginationToken4Qos\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"participants\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Array
  of user objects\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/QOSParticipant\";}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:20:\"Participant
  QOS List\";s:5:\"title\";s:20:\"Participant QOS List\";s:4:\"type\";s:6:\"object\";}s:8:\"QOSVideo\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/QOSAudio\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"frame_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Frame
  Rate\";s:4:\"type\";s:6:\"string\";}s:10:\"resolution\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Resolution\";s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:25:\"Quality
  of Service object\";s:5:\"title\";s:10:\"QOS Object\";s:4:\"type\";s:6:\"object\";}s:9:\"Recording\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"account_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"ID
  of the user account\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Meeting
  duration\";s:4:\"type\";s:7:\"integer\";}s:7:\"host_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"ID
  of the user set as host of meeting\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Meeting
  ID, also know as meeting number\";s:4:\"type\";s:6:\"string\";}s:15:\"recording_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Recording
  count\";s:4:\"type\";s:6:\"string\";}s:10:\"start_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Meeting
  start time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Meeting
  topic\";s:4:\"type\";s:6:\"string\";}s:10:\"total_size\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Total
  size\";s:4:\"type\";s:6:\"string\";}s:4:\"uuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Meeting
  unique ID\";s:4:\"type\";s:6:\"string\";}}}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/RecordingFileList\";}}s:11:\"description\";s:28:\"The
  recording meeting object\";s:4:\"type\";s:6:\"object\";}s:13:\"RecordingFile\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"RecordingFile
  Object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"deleted_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  recording delete time.Response in trash query\";s:4:\"type\";s:6:\"string\";}s:12:\"download_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  recording download url.Response in general query\";s:4:\"type\";s:6:\"string\";}s:9:\"file_size\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  recording file size.\";s:4:\"type\";s:6:\"number\";}s:9:\"file_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  recording file type.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  recording file ID.Response in general query\";s:4:\"type\";s:6:\"string\";}s:10:\"meeting_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  meeting ID. \";s:4:\"type\";s:6:\"string\";}s:8:\"play_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  recording file play url.Response in general query\";s:4:\"type\";s:6:\"string\";}s:13:\"recording_end\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  recording end time.Response in general query\";s:4:\"type\";s:6:\"string\";}s:15:\"recording_start\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  recording start time.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  recording status.Response in general query\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"RecordingFileList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"recording_files\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"List
  of Recording file\";s:5:\"items\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RecordingFile\";}}}s:5:\"title\";s:19:\"Recording
  file List\";s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:22:\"List of Recording
  file\";s:5:\"title\";s:19:\"Recording file List\";s:4:\"type\";s:6:\"object\";}s:13:\"RecordingList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";}i:2;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"meetings\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"List
  of Recording\";s:5:\"items\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Recording\";}}}s:5:\"title\";s:14:\"Recording
  List\";s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:17:\"List of Recording\";s:5:\"title\";s:14:\"Recording
  List\";s:4:\"type\";s:6:\"object\";}s:10:\"Recurrence\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Recurrence
  object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"end_date_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Recurrence
  Meeting End Date. Should be UTC time, such as 2017-11-25T12:00:00Z.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"end_times\";O:8:\"stdClass\":4:{s:7:\"default\";i:1;s:11:\"description\";s:40:\"Recurrence
  Meeting End occurrences times\";s:7:\"maximum\";i:50;s:4:\"type\";s:7:\"integer\";}s:11:\"monthly_day\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Recurrence
  Meeting Occurs on a month day. The value range is from 1 to 31\";s:4:\"type\";s:7:\"integer\";}s:12:\"monthly_week\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Recurrence
  Meeting Occurs on the week of a month.\";s:4:\"enum\";a:5:{i:0;i:-1;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:5:{i:0;s:9:\"Last
  week\";i:1;s:10:\"First week\";i:2;s:11:\"Second week\";i:3;s:10:\"Third week\";i:4;s:11:\"Fourth
  week\";}}s:16:\"monthly_week_day\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Recurrence
  Meeting Occurs on the week day of a month\";s:4:\"enum\";a:7:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;i:6;i:6;i:7;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:7:{i:0;s:6:\"Sunday\";i:1;s:6:\"Monday\";i:2;s:7:\"Tuesday\";i:3;s:9:\"Wednesday\";i:4;s:8:\"Thursday\";i:5;s:6:\"Friday\";i:6;s:8:\"Saturday\";}}s:15:\"repeat_interval\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Recurrence
  meeting repeat interval. For a Daily Meeting, max of 90. For a Weekly Meeting, max
  of 12. For a Monthly Meeting, max of 3.\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Recurrence
  meeting type\";s:4:\"enum\";a:3:{i:0;i:1;i:1;i:2;i:2;i:3;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:5:\"Daily\";i:1;s:6:\"Weekly\";i:2;s:7:\"Monthly\";}}s:11:\"weekly_days\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"Recurrence
  Meeting Occurs on week days, multiple value separated by comma\";s:4:\"enum\";a:7:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;i:6;i:6;i:7;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:7:{i:0;s:6:\"Sunday\";i:1;s:6:\"Monday\";i:2;s:7:\"Tuesday\";i:3;s:9:\"Wednesday\";i:4;s:8:\"Thursday\";i:5;s:6:\"Friday\";i:6;s:8:\"Saturday\";}}}s:4:\"type\";s:6:\"object\";}s:10:\"Registrant\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Registrant
  base object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Address\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"City\";s:4:\"type\";s:6:\"string\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Questions
  & Comments\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Country\";s:4:\"type\";s:6:\"string\";}s:16:\"custom_questions\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Custom
  Questions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CustomQuestion\";}s:4:\"type\";s:5:\"array\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"A
  valid email address\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"User\u2019s
  first name\";s:4:\"type\";s:6:\"string\";}s:8:\"industry\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Industry\";s:4:\"type\";s:6:\"string\";}s:9:\"job_title\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Job
  Title\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"User\u2019s
  last name\";s:4:\"type\";s:6:\"string\";}s:15:\"no_of_employees\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Number
  of Employees\";s:4:\"enum\";a:8:{i:0;s:4:\"1-20\";i:1;s:5:\"21-50\";i:2;s:6:\"51-100\";i:3;s:7:\"101-500\";i:4;s:9:\"500-1,000\";i:5;s:11:\"1,001-5,000\";i:6;s:12:\"5,001-10,000\";i:7;s:16:\"More
  than 10,000\";}s:4:\"type\";s:6:\"string\";}s:3:\"org\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Organization\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Phone\";s:4:\"type\";s:6:\"string\";}s:21:\"purchasing_time_frame\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Purchasing
  Time Frame\";s:4:\"enum\";a:5:{i:0;s:14:\"Within a month\";i:1;s:10:\"1-3 months\";i:2;s:10:\"4-6
  months\";i:3;s:18:\"More than 6 months\";i:4;s:12:\"No timeframe\";}s:4:\"type\";s:6:\"string\";}s:24:\"role_in_purchase_process\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Role
  in Purchase Process\";s:4:\"enum\";a:4:{i:0;s:14:\"Decision Maker\";i:1;s:21:\"Evaluator/Recommender\";i:2;s:10:\"Influencer\";i:3;s:12:\"Not
  involved\";}s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"State/Province\";s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Zip/Postal
  Code\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"email\";i:1;s:10:\"first_name\";i:2;s:9:\"last_name\";}s:4:\"type\";s:6:\"object\";}s:14:\"RegistrantList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"registrants\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  of Registrant objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/MeetingRegistrant\";}i:2;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"create_time\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:13:\"List
  of Users\";s:5:\"title\";s:17:\"Registration List\";s:4:\"type\";s:6:\"object\";}s:16:\"RegistrantStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Registrant
  Status\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:7:\"approve\";i:1;s:6:\"cancel\";i:2;s:4:\"deny\";}s:4:\"type\";s:6:\"string\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:18:\"Approve
  registrant\";i:1;s:17:\"Cancel registrant\";i:2;s:15:\"Deny registrant\";}}s:11:\"registrants\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"List
  of registrants\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"maximum\";i:30;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:6:\"action\";}s:4:\"type\";s:6:\"object\";}s:7:\"Session\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Base
  object for sessions\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"agenda\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Meeting
  description\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Meeting
  duration (minutes). Used for scheduled meeting only.\";s:4:\"type\";s:7:\"integer\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"Password
  to join the meeting. Password may only contain the following characters: [a-z A-Z
  0-9 @ - _ *]. Max of 10 characters.\";s:4:\"type\";s:6:\"string\";}s:10:\"recurrence\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Recurrence\";}s:8:\"settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MeetingSettings\";}s:10:\"start_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:244:\"Meeting
  start time, in the format \"yyyy-MM-dd'T'HH:mm:ss'Z'\", should be GMT time. In the
  format \"yyyy-MM-dd'T'HH:mm:ss\", should be local time, need to specify the time
  zone. Only used for scheduled meeting and recurring meeting with fixed time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"Timezone
  to format start_time, like \"America/Los_Angeles\". For scheduled meeting only.
  For this parameter value please refer to the id value in [timezone](#timezones)
  list.\";s:4:\"type\";s:6:\"string\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Meeting
  topic\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":5:{s:7:\"default\";i:2;s:11:\"description\";s:12:\"Meeting
  Type\";s:4:\"enum\";a:4:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:8;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:4:{i:0;s:15:\"Instant
  Meeting\";i:1;s:17:\"Scheduled Meeting\";i:2;s:36:\"Recurring Meeting with no fixed
  time\";i:3;s:33:\"Recurring Meeting with fixed time\";}}}s:4:\"type\";s:6:\"object\";}s:13:\"SessionUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Base
  object for sessions\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"agenda\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Meeting
  description\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Meeting
  duration (minutes). Used for scheduled meeting only.\";s:4:\"type\";s:7:\"integer\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"Password
  to join the meeting. Password may only contain the following characters: [a-z A-Z
  0-9 @ - _ *]. Max of 10 characters.\";s:4:\"type\";s:6:\"string\";}s:10:\"recurrence\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Recurrence\";}s:8:\"settings\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MeetingSettings\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:30:\"registrants_confirmation_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Send
  confirmation Email to Registrants\";s:4:\"type\";s:7:\"boolean\";}}}}}s:10:\"start_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:244:\"Meeting
  start time, in the format \"yyyy-MM-dd'T'HH:mm:ss'Z'\", should be GMT time. In the
  format \"yyyy-MM-dd'T'HH:mm:ss\", should be local time, need to specify the time
  zone. Only used for scheduled meeting and recurring meeting with fixed time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"Timezone
  to format start_time, like \"America/Los_Angeles\". For scheduled meeting only.
  For this parameter value please refer to the id value in [timezone](#timezones)
  list.\";s:4:\"type\";s:6:\"string\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Meeting
  topic\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":5:{s:7:\"default\";i:2;s:11:\"description\";s:12:\"Meeting
  Type\";s:4:\"enum\";a:4:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:8;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:4:{i:0;s:15:\"Instant
  Meeting\";i:1;s:17:\"Scheduled Meeting\";i:2;s:36:\"Recurring Meeting with no fixed
  time\";i:3;s:33:\"Recurring Meeting with fixed time\";}}}s:4:\"type\";s:6:\"object\";}s:14:\"SessionWebinar\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Base
  webinar object for sessions\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"agenda\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Webinar
  description\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Webinar
  duration (minutes). Used for scheduled webinar only.\";s:4:\"type\";s:7:\"integer\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Webinar
  password. Password may only contain the following characters: [a-z A-Z 0-9 @ - _
  *]. Max of 10 characters.\";s:4:\"type\";s:6:\"string\";}s:10:\"recurrence\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Recurrence\";}s:8:\"settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/WebinarSettings\";}s:10:\"start_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:244:\"Webinar
  start time, in the format \"yyyy-MM-dd'T'HH:mm:ss'Z'\", should be GMT time. In the
  format \"yyyy-MM-dd'T'HH:mm:ss\", should be local time, need to specify the time
  zone. Only used for scheduled webinar and recurring webinar with fixed time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"Timezone
  to format start_time, like \"America/Los_Angeles\". For scheduled webinar only.
  For this parameter value please refer to the id value in [timezone](#timezones)
  list.\";s:4:\"type\";s:6:\"string\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Webinar
  topic\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":5:{s:7:\"default\";i:5;s:11:\"description\";s:12:\"Webinar
  Type\";s:4:\"enum\";a:3:{i:0;i:5;i:1;i:6;i:2;i:9;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:7:\"Webinar\";i:1;s:36:\"Recurring
  Webinar with no fixed time\";i:2;s:33:\"Recurring Webinar with fixed time\";}}}s:4:\"type\";s:6:\"object\";}s:20:\"SessionWebinarUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Base
  webinar object for sessions\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"agenda\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Webinar
  description\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Webinar
  duration (minutes). Used for scheduled webinar only.\";s:4:\"type\";s:7:\"integer\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Webinar
  password. Password may only contain the following characters: [a-z A-Z 0-9 @ - _
  *]. Max of 10 characters.\";s:4:\"type\";s:6:\"string\";}s:10:\"recurrence\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Recurrence\";}s:8:\"settings\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/WebinarSettings\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:30:\"registrants_confirmation_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Send
  confirmation Email to Registrants\";s:4:\"type\";s:7:\"boolean\";}}}}}s:10:\"start_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:244:\"Webinar
  start time, in the format \"yyyy-MM-dd'T'HH:mm:ss'Z'\", should be GMT time. In the
  format \"yyyy-MM-dd'T'HH:mm:ss\", should be local time, need to specify the time
  zone. Only used for scheduled webinar and recurring webinar with fixed time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"Timezone
  to format start_time, like \"America/Los_Angeles\". For scheduled webinar only.
  For this parameter value please refer to the id value in [timezone](#timezones)
  list.\";s:4:\"type\";s:6:\"string\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Webinar
  topic\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":5:{s:7:\"default\";i:5;s:11:\"description\";s:12:\"Webinar
  Type\";s:4:\"enum\";a:3:{i:0;i:5;i:1;i:6;i:2;i:9;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:7:\"Webinar\";i:1;s:36:\"Recurring
  Webinar with no fixed time\";i:2;s:33:\"Recurring Webinar with fixed time\";}}}s:4:\"type\";s:6:\"object\";}s:3:\"TSP\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"TSP
  Account object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"conference_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Conference
  code, numeric value, length is less than 16.\";s:4:\"type\";s:6:\"string\";}s:15:\"dial_in_numbers\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Dial
  In Numbers object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Country
  Code\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Dial-in
  number, length is less than 16.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:6:\"number\";}s:4:\"type\";s:6:\"object\";}s:10:\"leader_pin\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Leader
  PIN, numeric value, length is less than 16.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:15:\"conference_code\";i:1;s:10:\"leader_pin\";}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  user object represents a User on Zoom.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"User
  create time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"dept\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Department\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"User's
  email address.\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"User's
  first name.\";s:9:\"maxLength\";i:64;s:4:\"type\";s:6:\"string\";}s:19:\"last_client_version\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"User
  last login client version\";s:4:\"type\";s:6:\"string\";}s:15:\"last_login_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"User
  last login time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"User's
  last name.\";s:9:\"maxLength\";i:64;s:4:\"type\";s:6:\"string\";}s:3:\"pmi\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Personal
  Meeting ID\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Time
  Zone\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"User's
  type\";s:4:\"enum\";a:3:{i:0;i:1;i:1;i:2;i:2;i:3;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:5:\"basic\";i:1;s:3:\"pro\";i:2;s:4:\"corp\";}}}s:8:\"required\";a:2:{i:0;s:5:\"email\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:18:\"UserAssistantsList\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"List
  of User's assistants\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"assistants\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"List
  of User's assistants.\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"User
  email address. Must have id or email, if given id, the email is ignored.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"User
  ID\";s:4:\"type\";s:6:\"string\";}}}s:7:\"maximum\";i:30;s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:20:\"User
  assistants List\";s:4:\"type\";s:6:\"object\";}s:8:\"UserList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"users\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"List
  of User objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"User
  ID\";s:4:\"type\";s:6:\"string\";}}}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:13:\"List
  of Users\";s:5:\"title\";s:9:\"User List\";s:4:\"type\";s:6:\"object\";}s:12:\"UserSettings\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"email_notification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/UserSettingsEmailNotification\";}s:7:\"feature\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/UserSettingsFeature\";}s:10:\"in_meeting\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/UserSettingsInMeeting\";}s:9:\"recording\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/UserSettingsRecording\";}s:17:\"scheduled_meeting\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/UserSettingsScheduledMeeting\";}s:9:\"telephony\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/UserSettingsTelephony\";}}s:5:\"title\";s:13:\"User
  settings\";s:4:\"type\";s:6:\"object\";}s:29:\"UserSettingsEmailNotification\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:25:\"alternative_host_reminder\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:57:\"When
  an alternative host is set or removed from a meeting\";s:4:\"type\";s:7:\"boolean\";}s:23:\"cancel_meeting_reminder\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:27:\"When
  a meeting is cancelled\";s:4:\"type\";s:7:\"boolean\";}s:12:\"jbh_reminder\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:39:\"When
  attendees join meeting before host\";s:4:\"type\";s:7:\"boolean\";}}s:5:\"title\";s:36:\"User
  settings: Notification settings\";s:4:\"type\";s:6:\"object\";}s:19:\"UserSettingsFeature\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"large_meeting\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Large
  meting feature\";s:4:\"type\";s:7:\"boolean\";}s:22:\"large_meeting_capacity\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"Large
  meeting capacity, can be 100, 200, 300 or 500, depends on if having related large
  meeting capacity plan subscription or not.\";s:4:\"type\";s:7:\"integer\";}s:16:\"meeting_capacity\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"User\u2019s
  meeting capacity.\";s:4:\"type\";s:7:\"integer\";}s:7:\"webinar\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Webinar
  feature\";s:4:\"type\";s:7:\"boolean\";}s:16:\"webinar_capacity\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Webinar
  capacity, can be 100, 500, 1000, 3000, 5000 or 10000, depends on if having related
  webinar capacity plan subscription or not.\";s:4:\"type\";s:7:\"integer\";}}s:5:\"title\";s:31:\"User
  settings: Feature settings\";s:4:\"type\";s:6:\"object\";}s:21:\"UserSettingsInMeeting\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":23:{s:10:\"annotation\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:10:\"Annotation\";s:4:\"type\";s:7:\"boolean\";}s:16:\"attendee_on_hold\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:34:\"Allow
  host to put attendee on hold\";s:4:\"type\";s:7:\"boolean\";}s:18:\"attention_tracking\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:18:\"Attention
  tracking\";s:4:\"type\";s:7:\"boolean\";}s:16:\"auto_saving_chat\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:17:\"Auto
  saving chats\";s:4:\"type\";s:7:\"boolean\";}s:13:\"breakout_room\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:13:\"Breakout
  room\";s:4:\"type\";s:7:\"boolean\";}s:4:\"chat\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:4:\"Chat\";s:4:\"type\";s:7:\"boolean\";}s:14:\"closed_caption\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:14:\"Closed
  caption\";s:4:\"type\";s:7:\"boolean\";}s:7:\"co_host\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:7:\"Co-host\";s:4:\"type\";s:7:\"boolean\";}s:14:\"e2e_encryption\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"End-to-end
  encryption\";s:4:\"type\";s:7:\"boolean\";}s:16:\"entry_exit_chime\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Play
  sound on join/leave\";s:4:\"enum\";a:3:{i:0;s:4:\"host\";i:1;s:3:\"all\";i:2;s:4:\"none\";}s:4:\"type\";s:6:\"string\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:22:\"when
  host joins/leaves\";i:1;s:33:\"when any participant joins/leaves\";i:2;s:19:\"no
  join/leave sound\";}}s:22:\"far_end_camera_control\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:22:\"Far
  end camera control\";s:4:\"type\";s:7:\"boolean\";}s:8:\"feedback\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:16:\"Feedback
  to Zoom\";s:4:\"type\";s:7:\"boolean\";}s:13:\"file_transfer\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:13:\"File
  transfer\";s:4:\"type\";s:7:\"boolean\";}s:8:\"group_hd\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:14:\"Group
  HD video\";s:4:\"type\";s:7:\"boolean\";}s:19:\"non_verbal_feedback\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:19:\"Non-verbal
  feedback\";s:4:\"type\";s:7:\"boolean\";}s:7:\"polling\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:7:\"Polling\";s:4:\"type\";s:7:\"boolean\";}s:12:\"private_chat\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:12:\"Private
  chat\";s:4:\"type\";s:7:\"boolean\";}s:17:\"record_play_voice\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Record
  and play their own voice\";s:4:\"type\";s:7:\"boolean\";}s:14:\"remote_control\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:14:\"Remote
  control\";s:4:\"type\";s:7:\"boolean\";}s:14:\"remote_support\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:14:\"Remote
  support\";s:4:\"type\";s:7:\"boolean\";}s:17:\"share_dual_camera\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:17:\"Share
  dual camera\";s:4:\"type\";s:7:\"boolean\";}s:18:\"virtual_background\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:18:\"Virtual
  background\";s:4:\"type\";s:7:\"boolean\";}s:12:\"waiting_room\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:12:\"Waiting
  room\";s:4:\"type\";s:7:\"boolean\";}}s:5:\"title\";s:31:\"User settings: Meeting
  settings\";s:4:\"type\";s:6:\"object\";}s:21:\"UserSettingsRecording\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":11:{s:15:\"auto_delete_cmr\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:28:\"Auto
  delete cloud recordings\";s:4:\"type\";s:7:\"boolean\";}s:20:\"auto_delete_cmr_days\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"A
  specified number of days of auto delete cloud recordings\";s:4:\"type\";s:7:\"integer\";}s:14:\"auto_recording\";O:8:\"stdClass\":5:{s:7:\"default\";s:5:\"local\";s:11:\"description\";s:19:\"Automatic
  recording\";s:4:\"enum\";a:3:{i:0;s:5:\"local\";i:1;s:5:\"cloud\";i:2;s:4:\"none\";}s:4:\"type\";s:6:\"string\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:15:\"Record
  on local\";i:1;s:15:\"Record on cloud\";i:2;s:8:\"Disabled\";}}s:15:\"cloud_recording\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:15:\"Cloud
  recording\";s:4:\"type\";s:7:\"boolean\";}s:15:\"local_recording\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Local
  recording\";s:4:\"type\";s:7:\"boolean\";}s:17:\"record_audio_file\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:25:\"Record
  an audio only file\";s:4:\"type\";s:7:\"boolean\";}s:19:\"record_gallery_view\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:23:\"Record
  the gallery view\";s:4:\"type\";s:7:\"boolean\";}s:19:\"record_speaker_view\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:30:\"Record
  the active speaker view\";s:4:\"type\";s:7:\"boolean\";}s:26:\"recording_audio_transcript\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Audio
  transcript\";s:4:\"type\";s:7:\"boolean\";}s:14:\"save_chat_text\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:31:\"Save
  chat text from the meeting\";s:4:\"type\";s:7:\"boolean\";}s:14:\"show_timestamp\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:23:\"Show
  timestamp on video\";s:4:\"type\";s:7:\"boolean\";}}s:5:\"title\";s:33:\"User settings:
  Recording settings\";s:4:\"type\";s:6:\"object\";}s:28:\"UserSettingsScheduledMeeting\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"audio_type\";O:8:\"stdClass\":5:{s:7:\"default\";s:4:\"voip\";s:11:\"description\";s:13:\"Meeting
  audio\";s:4:\"enum\";a:4:{i:0;s:4:\"both\";i:1;s:9:\"telephony\";i:2;s:4:\"voip\";i:3;s:10:\"thirdParty\";}s:4:\"type\";s:6:\"string\";s:19:\"x-enum-descriptions\";a:4:{i:0;s:18:\"Telephony
  and VoIP\";i:1;s:25:\"Audio PSTN telephony only\";i:2;s:9:\"VoIP only\";i:3;s:26:\"3rd
  party audio conference\";}}s:22:\"force_pmi_jbh_password\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Require
  a password for Personal Meetings if attendees can join before host\";s:4:\"type\";s:7:\"boolean\";}s:10:\"host_video\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Host
  video\";s:4:\"type\";s:7:\"boolean\";}s:16:\"join_before_host\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Join
  before host\";s:4:\"type\";s:7:\"boolean\";}s:18:\"participants_video\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Participants
  video\";s:4:\"type\";s:7:\"boolean\";}s:23:\"pstn_password_protected\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Generate
  and require password for participants joining by phone\";s:4:\"type\";s:7:\"boolean\";}}s:5:\"title\";s:31:\"User
  settings: Meeting settings\";s:4:\"type\";s:6:\"object\";}s:21:\"UserSettingsTelephony\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"audio_conference_info\";O:8:\"stdClass\":3:{s:7:\"default\";s:0:\"\";s:11:\"description\";s:31:\"3rd
  party audio conference info\";s:4:\"type\";s:6:\"string\";}s:31:\"show_international_numbers_link\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Show
  international numbers link on the invitation email\";s:4:\"type\";s:7:\"boolean\";}s:17:\"third_party_audio\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"3rd
  party audio conference\";s:4:\"type\";s:7:\"boolean\";}}s:5:\"title\";s:31:\"User
  settings: Meeting settings\";s:4:\"type\";s:6:\"object\";}s:10:\"UserUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  user update object represents a User on Zoom.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"cms_user_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Kaltura
  User Id.\";s:4:\"type\";s:6:\"string\";}s:4:\"dept\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Department
  for user profile, use for report.\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"User's
  first name. Cannot contain more than 5 Chinese words.\";s:4:\"type\";s:6:\"string\";}s:8:\"host_key\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Host
  Key, should be 6-digit number.\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"User's
  last name. Cannot contain more than 5 Chinese words.\";s:4:\"type\";s:6:\"string\";}s:3:\"pmi\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Personal
  Meeting ID,length must be 10.\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"The
  time zone id for user profile. For this parameter value please refer to the id value
  in [timezone](#timezones) list.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"User's
  type\";s:4:\"enum\";a:3:{i:0;i:1;i:1;i:2;i:2;i:3;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:5:\"basic\";i:1;s:3:\"pro\";i:2;s:4:\"corp\";}}s:11:\"vanity_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Personal
  meeting room name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Webhook\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Webhook
  base object, only available for version 2 webhook\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"auth_password\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Webhook
  auth password.\";s:9:\"maxLength\";i:64;s:4:\"type\";s:6:\"string\";}s:9:\"auth_user\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Webhook
  auth user name.\";s:9:\"maxLength\";i:128;s:4:\"type\";s:6:\"string\";}s:6:\"events\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"List
  of events objects.\";s:4:\"enum\";a:7:{i:0;s:15:\"meeting_started\";i:1;s:13:\"meeting_ended\";i:2;s:11:\"meeting_jbh\";i:3;s:12:\"meeting_join\";i:4;s:19:\"recording_completed\";i:5;s:18:\"participant_joined\";i:6;s:16:\"participant_left\";}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:19:\"x-enum-descriptions\";a:7:{i:0;s:24:\"The
  meeting has started.\";i:1;s:22:\"The meeting has ended.\";i:2;s:46:\"Attendee has
  joined a meeting before the host.\";i:3;s:56:\"Host hasn\u2019t launched the meeting,
  attendee is waiting.\";i:4;s:68:\"All the Cloud Recordings have completed processing
  and is available.\";i:5;s:35:\"Participant has joined the meeting.\";i:6;s:35:\"Participant
  has leaved the meeting.\";}}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Webhook
  endpoint\";s:9:\"maxLength\";i:256;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:3:\"url\";i:1;s:9:\"auth_user\";i:2;s:13:\"auth_password\";i:3;s:6:\"events\";}s:4:\"type\";s:6:\"object\";}s:11:\"WebhookList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"total_records\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  number of all records available across pages.\";s:4:\"type\";s:7:\"integer\";}s:8:\"webhooks\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"List
  of Webhook objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"webhook_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Webhook
  Id.\";s:4:\"type\";s:6:\"string\";}}}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Webhook\";}}}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:16:\"List
  of Webhooks\";s:5:\"title\";s:12:\"Webhook List\";s:4:\"type\";s:6:\"object\";}s:13:\"WebhookUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Webhook
  base object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"auth_password\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Webhook
  auth password.\";s:9:\"maxLength\";i:64;s:4:\"type\";s:6:\"string\";}s:9:\"auth_user\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Webhook
  auth user name.\";s:9:\"maxLength\";i:128;s:4:\"type\";s:6:\"string\";}s:6:\"events\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"List
  of events objects.\";s:4:\"enum\";a:7:{i:0;s:15:\"meeting_started\";i:1;s:13:\"meeting_ended\";i:2;s:11:\"meeting_jbh\";i:3;s:12:\"meeting_join\";i:4;s:19:\"recording_completed\";i:5;s:18:\"participant_joined\";i:6;s:16:\"participant_left\";}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:19:\"x-enum-descriptions\";a:7:{i:0;s:24:\"The
  meeting has started.\";i:1;s:22:\"The meeting has ended.\";i:2;s:46:\"Attendee has
  joined a meeting before the host.\";i:3;s:56:\"Host hasn\u2019t launched the meeting,
  attendee is waiting.\";i:4;s:67:\"All the Cloud Recordings has completed processing
  and is available.\";i:5;s:35:\"Participant has joined the meeting.\";i:6;s:35:\"Participant
  has leaved the meeting.\";}}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Webhook
  endpoint.\";s:9:\"maxLength\";i:256;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Webinar\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SessionWebinar\";}}s:11:\"description\";s:14:\"Webinar
  object\";s:4:\"type\";s:6:\"object\";}s:11:\"WebinarInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Webinar
  object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"agenda\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Webinar
  agenda\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Create
  time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Webinar
  duration\";s:4:\"type\";s:7:\"integer\";}s:8:\"join_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Join
  url\";s:4:\"type\";s:6:\"string\";}s:11:\"occurrences\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Occurrences\";}s:8:\"settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/WebinarSettings\";}s:10:\"start_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Webinar
  start time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"start_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Start
  url\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Timezone
  to format start_time\";s:4:\"type\";s:6:\"string\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Webinar
  topic\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":5:{s:7:\"default\";i:5;s:11:\"description\";s:12:\"Webinar
  Type\";s:4:\"enum\";a:3:{i:0;i:5;i:1;i:6;i:2;i:9;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:7:\"Webinar\";i:1;s:36:\"Recurring
  Webinar with no fixed time\";i:2;s:33:\"Recurring Webinar with fixed time\";}}}s:4:\"type\";s:6:\"object\";}s:11:\"WebinarList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"webinars\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"List
  of Webinar objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Create
  time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Meeting
  duration\";s:4:\"type\";s:7:\"integer\";}s:7:\"host_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"ID
  of the user set as host of webinar\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Webinar
  ID, also know as webinar number\";s:4:\"type\";s:6:\"string\";}s:8:\"join_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Join
  url\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Timezone
  to format start_time\";s:4:\"type\";s:6:\"string\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Meeting
  topic\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Meeting
  Type\";s:4:\"enum\";a:3:{i:0;i:5;i:1;i:6;i:2;i:9;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:7:\"Webinar\";i:1;s:36:\"Recurring
  Webinar with no fixed time\";i:2;s:33:\"Recurring Webinar with fixed time\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Webinar
  unique ID\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:16:\"List
  of Webinars\";s:5:\"title\";s:9:\"User List\";s:4:\"type\";s:6:\"object\";}s:13:\"WebinarMetric\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Webinar
  metric details\";s:10:\"properties\";O:8:\"stdClass\":17:{s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Webinar
  duration\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"User
  email\";s:4:\"type\";s:6:\"string\";}s:8:\"end_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Webinar
  end time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"has_3rd_party_audio\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:8:\"has_pstn\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:13:\"has_recording\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:16:\"has_screen_share\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:7:\"has_sip\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:9:\"has_video\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:8:\"has_voip\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:4:\"host\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"User
  display name\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Webinar
  ID\";s:4:\"type\";s:7:\"integer\";}s:12:\"participants\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Webinar
  participant count\";s:4:\"type\";s:7:\"integer\";}s:10:\"start_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Webinar
  start time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Webinar
  topic\";s:4:\"type\";s:6:\"string\";}s:9:\"user_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"User
  type\";s:4:\"type\";s:6:\"string\";}s:4:\"uuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Webinar
  UUID\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:15:\"Webinar
  Metrics\";s:4:\"type\";s:6:\"object\";}s:15:\"WebinarPanelist\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Webinar
  panelist\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"panelists\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"List
  of Panelist objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Panelist\";}}}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"WebinarPanelistList\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PanelistList\";}}s:11:\"description\";s:16:\"Webinar
  panelist\";s:4:\"type\";s:6:\"object\";}s:17:\"WebinarRegistrant\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Registrant\";}}s:11:\"description\";s:18:\"Webianr
  registrant\";s:4:\"type\";s:6:\"object\";}s:21:\"WebinarRegistrantList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RegistrantList\";}}s:11:\"description\";s:13:\"List
  of Users\";s:5:\"title\";s:17:\"Registration List\";s:4:\"type\";s:6:\"object\";}s:15:\"WebinarSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Webinar
  Settings\";s:10:\"properties\";O:8:\"stdClass\":14:{s:22:\"allow_multiple_devices\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Allow
  attendees to join from multiple devices.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"alternative_hosts\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Alternative
  hosts emails or IDs. Multiple value separated by comma.\";s:4:\"type\";s:6:\"string\";}s:13:\"approval_type\";O:8:\"stdClass\":4:{s:7:\"default\";i:2;s:4:\"enum\";a:3:{i:0;i:0;i:1;i:1;i:2;i:2;}s:4:\"type\";s:7:\"integer\";s:19:\"x-enum-descriptions\";a:3:{i:0;s:21:\"Automatically
[...]
