---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:71:\"La estandarizaci\xF3n
  de la conexi\xF3n con cualquier banco en tiempo real.\";s:5:\"title\";s:10:\"Afterbanks\";s:7:\"version\";s:5:\"3.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"financial\";}s:22:\"x-description-language\";s:2:\"es\";s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_910891773521793030_0Uehp4Yx_400x400.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:60:\"https://www.afterbanks.com/api/documentation/es/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"afterbanks.com\";}"
host: www.afterbanks.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:330:\"Posibles
  valores: description:  1, Gen\xE9rico; 2, La web del banco esta fuera de servicio;
  3, Alg\xFAn dato de conexi\xF3n no es v\xE1lido; 4, La cuenta solicitada no existe;
  5, Conexion cortada, reintente la solicitud; 6, El usuario debe acceder a la web
  del banco a realizar una acci\xF3n; 50, Parametro incorrecto en la llamada a la
  API\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Texto
  detallando el error encontrado, en el idioma del banco\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Forms\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:8:\"business\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"Valor
  booleano. Hay bancos que tienen accesos diferentes para particulares y para empresas.
  Si el valor es 1, indica que es acceso de empresas\";s:4:\"type\";s:7:\"boolean\";}s:12:\"country_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"C\xF3digo
  del pa\xEDs, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\";s:4:\"type\";s:6:\"string\";}s:12:\"documentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:245:\"Lista
  de valores posibles para el campo de \"tipo de documento\", separado por el caracter
  \"|\" (por ejemplo: NIF|Pasaporte|Tarjeta de residencia). En el caso de que el banco
  no requiera de esta informaci\xF3n en su formulario de login, el valor es 0\";s:4:\"type\";s:6:\"string\";}s:8:\"fullname\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Nombre
  completo del banco.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"URL
  del icono del banco en formato PNG transparente y resoluci\xF3n 128x128.\";s:4:\"type\";s:6:\"string\";}s:4:\"pass\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Texto
  que acompa\xF1a al input box de password\";s:4:\"type\";s:6:\"string\";}s:5:\"pass2\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"Texto
  que acompa\xF1a al input box del segundo password. En el caso de que el banco no
  requiera de esta informaci\xF3n en su formulario de login, el valor es 0\";s:4:\"type\";s:6:\"string\";}s:9:\"pass2desc\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"Texto
  de ayuda para rellenar el inputbox de segundo password, en caso de que el formulario
  original del banco tenga alg\xFAn texto de ayuda.\";s:4:\"type\";s:6:\"string\";}s:9:\"pass2type\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"Texto
  que acompa\xF1a al input box del segundo password. En el caso de que el banco no
  requiera de esta informaci\xF3n en su formulario de login, el valor es 0\";s:4:\"type\";s:6:\"string\";}s:8:\"passdesc\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"Texto
  de ayuda para rellenar el inputbox de password, en caso de que el formulario original
  del banco tenga alg\xFAn texto de ayuda.\";s:4:\"type\";s:6:\"string\";}s:8:\"passtype\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Texto
  que acompa\xF1a al input box de password\";s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Identificador
  \xFAnico del banco en la API.\";s:4:\"type\";s:6:\"string\";}s:5:\"swift\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"C\xF3digo
  SWIFT, formato ISO 9362 (https://en.wikipedia.org/wiki/ISO_9362).\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Texto
  que acompa\xF1a al input box de usuario\";s:4:\"type\";s:6:\"string\";}s:8:\"userdesc\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"Texto
  de ayuda para rellenar el inputbox de usuario, en caso de que el formulario original
  del banco tenga alg\xFAn texto de ayuda.\";s:4:\"type\";s:6:\"string\";}s:8:\"usertype\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Texto
  que acompa\xF1a al input box de usuario\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Transactions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Importe
  de la transacci\xF3n\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:7:\"balance\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Saldo
  del producto en el instante posterior a la transacci\xF3n\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:10:\"categoryId\";O:8:\"stdClass\":3:{s:11:\"description\";s:159:\"Id
  de categor\xEDa. Solo para las servicekeys con la opci\xF3n contratada. Listado
  de categor\xEDas: https://www.afterbanks.com/serviceV3/categories/?country_code=ES\";s:6:\"format\";s:3:\"int\";s:4:\"type\";s:6:\"number\";}s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Fecha
  del movimiento en formato dd-mm-yyyy\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:5:\"date2\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Fecha
  de valor en formato dd-mm-yyyy\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Descricipci\xF3n
  de la transacci\xF3n\";s:4:\"type\";s:6:\"string\";}s:13:\"transactionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Identificador
  \xFAnico de la transacci\xF3n de 32 caracteres\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"me\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"date_renewal\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Fecha
  de renovaci\xF3n del contador de llamadas, en formato dd-mm-yyyy\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:15:\"remaining_calls\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Llamadas
  restantes para tu ciclo de facturaci\xF3n actual.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"serviceV3\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:16:\"arranged_balance\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Saldo
  dispuesto\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:7:\"balance\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Saldo
  disponible del producto. Siempre existir\xE1 este saldo, el resto de valores balance
  podr\xE1n existir o no.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:22:\"balance_credit_granted\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Saldo
  concedido\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:13:\"balance_value\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Saldo
  valor\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:17:\"countable_balance\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Saldo
  contable\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"C\xF3digo
  de la divisa en formato [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Nombre
  del producto. En ocasiones es un alias que ha asignado el usuario, o puede coincidir
  con el valor de product.\";s:4:\"type\";s:6:\"string\";}s:7:\"product\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Identificador
  \xFAnico para un producto. Por ejemplo, n\xFAmero de cuenta bancaria o numeraci\xF3n
  de tarjeta de cr\xE9dito.\";s:4:\"type\";s:6:\"string\";}s:12:\"transactions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Transactions\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:322:\"Tipo
  de producto. Los valores m\xE1s habituales son \"checking\" para cuenta corriente,
  \"card\" para tarjeta de cr\xE9dito, \"debit\" para tarjeta de d\xE9bito y \"loan\"
  para pr\xE9stamos. Los valores posibles son: card, checking, debit, deposit, insurance,
  investment, lineofcredit, loan, other, pensionplan, saving, securities, stocks\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
