---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:10:\"PersonioHR\";}s:11:\"description\";s:27:\"Personio
  Authentication API\";s:5:\"title\";s:14:\"Authentication\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:10:\"enterprise\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:83:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_PersonioHR_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:81:\"https://raw.githubusercontent.com/personio/api-docs/master/personio-auth-api.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"personio.de\";s:13:\"x-serviceName\";s:14:\"authentication\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"personio_de_authentication\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.personio.de
basePath: /v1
paths:
  /auth:
    post:
      description: Request Authentication Token
      parameters:
      - description: Client id of the downloaded credentials file
        in: query
        name: client_id
        required: true
        type: string
      - description: Client secret of the downloaded credentials file
        in: query
        name: client_secret
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/json:
              data:
                token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vYXBpLmRldi5wZXJzb25pby5kZTozMDAwMS92MS9hdXRoIiwiaWF0IjoxNDg5MDkxMzA2LCJleHAiOjE0ODkxNzc3MDYsIm5iZiI6MTQ4OTA5MTMwNiwianRpIjoiZmU1ZjkxOGY2MDZjOWI4OGMwMzM0ZmJkZjkyYzkwMzgiLCJzdWIiOiJPR014TVdRd1kySmxZbVF6Tm1RNVpqQmxOell6WmpsaSJ9.QZZCdlDjmL-LYdoDx2XLUfhwTdcjDgm9h4t-6JoACiM
              success: true
          schema:
            $ref: '#/definitions/AuthenticationTokenResponse'
      operationId: auth.post
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:27:\"AuthenticationTokenResponse\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"token\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}s:5:\"title\";s:37:\"Request
  Authentication Token response\";}s:8:\"Response\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:4:\"data\";}s:5:\"title\";s:23:\"Default
  response object\";s:4:\"type\";s:6:\"object\";}}"
...
