---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:127:\"Enables
  client applications to check web resources (most commonly URLs) against Google-generated
  lists of unsafe web resources.\";s:5:\"title\";s:20:\"Google Safe Browsing\";s:7:\"version\";s:2:\"v4\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:8:\"security\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:62:\"https://safebrowsing.googleapis.com/$discovery/rest?version=v4\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:12:\"safebrowsing\";}"
host: safebrowsing.googleapis.com
basePath: /
paths:
  /v4/encodedFullHashes/{encodedRequest}:
    get:
      description: ""
      operationId: safebrowsing.encodedFullHashes.get
      parameters:
      - description: A serialized FindFullHashesRequest proto.
        in: path
        name: encodedRequest
        required: true
        type: string
      - description: A client ID that (hopefully) uniquely identifies the client implementationnof
          the Safe Browsing API.
        in: query
        name: clientId
        type: string
      - description: The version of the client implementation.
        in: query
        name: clientVersion
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/FindFullHashesResponse'
      tags:
      - encodedFullHashes
    parameters:
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/quotaUser'
  /v4/encodedUpdates/{encodedRequest}:
    get:
      description: ""
      operationId: safebrowsing.encodedUpdates.get
      parameters:
      - description: A serialized FetchThreatListUpdatesRequest proto.
        in: path
        name: encodedRequest
        required: true
        type: string
      - description: A client ID that uniquely identifies the client implementation
          of the SafenBrowsing API.
        in: query
        name: clientId
        type: string
      - description: The version of the client implementation.
        in: query
        name: clientVersion
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/FetchThreatListUpdatesResponse'
      tags:
      - encodedUpdates
    parameters:
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/quotaUser'
  /v4/fullHashes:find:
    parameters:
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/quotaUser'
    post:
      description: Finds the full hashes that match the requested hash prefixes.
      operationId: safebrowsing.fullHashes.find
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/FindFullHashesRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/FindFullHashesResponse'
      tags:
      - fullHashes
  /v4/threatListUpdates:fetch:
    parameters:
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/quotaUser'
    post:
      description: Fetches the most recent threat list updates. A client can request
        updatesnfor multiple lists at once.
      operationId: safebrowsing.threatListUpdates.fetch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/FetchThreatListUpdatesRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/FetchThreatListUpdatesResponse'
      tags:
      - threatListUpdates
  /v4/threatLists:
    get:
      description: Lists the Safe Browsing threat lists available for download.
      operationId: safebrowsing.threatLists.list
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListThreatListsResponse'
      tags:
      - threatLists
    parameters:
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/quotaUser'
  /v4/threatMatches:find:
    parameters:
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/quotaUser'
    post:
      description: Finds the threat entries that match the Safe Browsing lists.
      operationId: safebrowsing.threatMatches.find
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/FindThreatMatchesRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/FindThreatMatchesResponse'
      tags:
      - threatMatches
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":22:{s:8:\"Checksum\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  expected state of a client's local database.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"sha256\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  SHA256 hash of the client state; that is, of the sorted list of all\nhashes present
  in the database.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ClientInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  client metadata associated with Safe Browsing API requests.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"A
  client ID that (hopefully) uniquely identifies the client implementation\nof the
  Safe Browsing API.\";s:4:\"type\";s:6:\"string\";}s:13:\"clientVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  version of the client implementation.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Constraints\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  constraints for this update.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"maxDatabaseEntries\";O:8:\"stdClass\":3:{s:11:\"description\";s:185:\"Sets
  the maximum number of entries that the client is willing to have\nin the local database.
  This should be a power of 2 between 2**10 and\n2**20. If zero, no database size
  limit is set.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"maxUpdateEntries\";O:8:\"stdClass\":3:{s:11:\"description\";s:189:\"The
  maximum size in number of entries. The update will not contain more\nentries than
  this value.  This should be a power of 2 between 2**10 and\n2**20.  If zero, no
  update size limit is set.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"Requests
  the list for a specific geographic location. If not set the\nserver may pick that
  value based on the user's IP address. Expects ISO\n3166-1 alpha-2 format.\";s:4:\"type\";s:6:\"string\";}s:21:\"supportedCompressions\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  compression types supported by the client.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:28:\"COMPRESSION_TYPE_UNSPECIFIED\";i:1;s:3:\"RAW\";i:2;s:4:\"RICE\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"FetchThreatListUpdatesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"Describes
  a Safe Browsing API update request. Clients can request updates for\nmultiple lists
  in a single request.\nNOTE: Field index 2 is unused.\nNEXT: 5\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"client\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ClientInfo\";s:11:\"description\";s:20:\"The
  client metadata.\";}s:18:\"listUpdateRequests\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  requested threat list updates.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ListUpdateRequest\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:30:\"FetchThreatListUpdatesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"listUpdateResponses\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  list updates requested by the clients.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ListUpdateResponse\";}s:4:\"type\";s:5:\"array\";}s:19:\"minimumWaitDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"The
  minimum duration the client must wait before issuing any update\nrequest. If this
  field is not set clients may update as soon as they want.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"FindFullHashesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Request
  to return full hashes matched by the provided hash prefixes.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"apiClient\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ClientInfo\";s:11:\"description\";s:105:\"Client
  metadata associated with callers of higher-level APIs built on top\nof the client's
  implementation.\";}s:6:\"client\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ClientInfo\";s:11:\"description\";s:20:\"The
  client metadata.\";}s:12:\"clientStates\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  current client states for each of the client's local threat lists.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"threatInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ThreatInfo\";s:11:\"description\";s:35:\"The
  lists and hashes to be checked.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"FindFullHashesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"matches\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  full hashes that matched the requested prefixes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ThreatMatch\";}s:4:\"type\";s:5:\"array\";}s:19:\"minimumWaitDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"The
  minimum duration the client must wait before issuing any find hashes\nrequest. If
  this field is not set, clients can issue a request as soon as\nthey want.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:21:\"negativeCacheDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"For
  requested entities that did not match the threat list, how long to\ncache the response.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"FindThreatMatchesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Request
  to check entries against lists.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"client\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ClientInfo\";s:11:\"description\";s:20:\"The
  client metadata.\";}s:10:\"threatInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ThreatInfo\";s:11:\"description\";s:48:\"The
  lists and entries to be checked for matches.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"FindThreatMatchesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"matches\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  threat list matches.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ThreatMatch\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListThreatListsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"threatLists\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  lists available for download by the client.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ThreatListDescriptor\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListUpdateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  single list update request.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"constraints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Constraints\";s:11:\"description\";s:45:\"The
  constraints associated with this request.\";}s:12:\"platformType\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  type of platform at risk by entries present in the list.\";s:4:\"enum\";a:9:{i:0;s:25:\"PLATFORM_TYPE_UNSPECIFIED\";i:1;s:7:\"WINDOWS\";i:2;s:5:\"LINUX\";i:3;s:7:\"ANDROID\";i:4;s:3:\"OSX\";i:5;s:3:\"IOS\";i:6;s:12:\"ANY_PLATFORM\";i:7;s:13:\"ALL_PLATFORMS\";i:8;s:6:\"CHROME\";}s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"The
  current state of the client for the requested list (the encrypted\nclient state
  that was received from the last successful list update).\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:15:\"threatEntryType\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  types of entries present in the list.\";s:4:\"enum\";a:7:{i:0;s:29:\"THREAT_ENTRY_TYPE_UNSPECIFIED\";i:1;s:3:\"URL\";i:2;s:10:\"EXECUTABLE\";i:3;s:8:\"IP_RANGE\";i:4;s:16:\"CHROME_EXTENSION\";i:5;s:8:\"FILENAME\";i:6;s:4:\"CERT\";}s:4:\"type\";s:6:\"string\";}s:10:\"threatType\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  type of threat posed by entries present in the list.\";s:4:\"enum\";a:14:{i:0;s:23:\"THREAT_TYPE_UNSPECIFIED\";i:1;s:7:\"MALWARE\";i:2;s:18:\"SOCIAL_ENGINEERING\";i:3;s:17:\"UNWANTED_SOFTWARE\";i:4;s:31:\"POTENTIALLY_HARMFUL_APPLICATION\";i:5;s:27:\"SOCIAL_ENGINEERING_INTERNAL\";i:6;s:9:\"API_ABUSE\";i:7;s:16:\"MALICIOUS_BINARY\";i:8;s:13:\"CSD_WHITELIST\";i:9;s:22:\"CSD_DOWNLOAD_WHITELIST\";i:10;s:15:\"CLIENT_INCIDENT\";i:11;s:25:\"CLIENT_INCIDENT_WHITELIST\";i:12;s:19:\"APK_MALWARE_OFFLINE\";i:13;s:18:\"SUBRESOURCE_FILTER\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListUpdateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"An
  update to an individual list.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"additions\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"A
  set of entries to add to a local threat type's list. Repeated to allow\nfor a combination
  of compressed and raw data to be sent in a single\nresponse.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ThreatEntrySet\";}s:4:\"type\";s:5:\"array\";}s:8:\"checksum\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Checksum\";s:11:\"description\";s:256:\"The
  expected SHA256 hash of the client state; that is, of the sorted list\nof all hashes
  present in the database after applying the provided update.\nIf the client state
  doesn't match the expected state, the client must\ndisregard this update and retry
  later.\";}s:14:\"newClientState\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  new client state, in encrypted format. Opaque to clients.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:12:\"platformType\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  platform type for which data is returned.\";s:4:\"enum\";a:9:{i:0;s:25:\"PLATFORM_TYPE_UNSPECIFIED\";i:1;s:7:\"WINDOWS\";i:2;s:5:\"LINUX\";i:3;s:7:\"ANDROID\";i:4;s:3:\"OSX\";i:5;s:3:\"IOS\";i:6;s:12:\"ANY_PLATFORM\";i:7;s:13:\"ALL_PLATFORMS\";i:8;s:6:\"CHROME\";}s:4:\"type\";s:6:\"string\";}s:8:\"removals\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"A
  set of entries to remove from a local threat type's list. In practice,\nthis field
  is empty or contains exactly one ThreatEntrySet.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ThreatEntrySet\";}s:4:\"type\";s:5:\"array\";}s:12:\"responseType\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  type of response. This may indicate that an action is required by the\nclient when
  the response is received.\";s:4:\"enum\";a:3:{i:0;s:25:\"RESPONSE_TYPE_UNSPECIFIED\";i:1;s:14:\"PARTIAL_UPDATE\";i:2;s:11:\"FULL_UPDATE\";}s:4:\"type\";s:6:\"string\";}s:15:\"threatEntryType\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  format of the threats.\";s:4:\"enum\";a:7:{i:0;s:29:\"THREAT_ENTRY_TYPE_UNSPECIFIED\";i:1;s:3:\"URL\";i:2;s:10:\"EXECUTABLE\";i:3;s:8:\"IP_RANGE\";i:4;s:16:\"CHROME_EXTENSION\";i:5;s:8:\"FILENAME\";i:6;s:4:\"CERT\";}s:4:\"type\";s:6:\"string\";}s:10:\"threatType\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  threat type for which data is returned.\";s:4:\"enum\";a:14:{i:0;s:23:\"THREAT_TYPE_UNSPECIFIED\";i:1;s:7:\"MALWARE\";i:2;s:18:\"SOCIAL_ENGINEERING\";i:3;s:17:\"UNWANTED_SOFTWARE\";i:4;s:31:\"POTENTIALLY_HARMFUL_APPLICATION\";i:5;s:27:\"SOCIAL_ENGINEERING_INTERNAL\";i:6;s:9:\"API_ABUSE\";i:7;s:16:\"MALICIOUS_BINARY\";i:8;s:13:\"CSD_WHITELIST\";i:9;s:22:\"CSD_DOWNLOAD_WHITELIST\";i:10;s:15:\"CLIENT_INCIDENT\";i:11;s:25:\"CLIENT_INCIDENT_WHITELIST\";i:12;s:19:\"APK_MALWARE_OFFLINE\";i:13;s:18:\"SUBRESOURCE_FILTER\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"MetadataEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  single metadata entry.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  metadata entry key. For JSON requests, the key is base64-encoded.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  metadata entry value. For JSON requests, the value is base64-encoded.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"RawHashes\";O:8:\"stdClass\":3:{s:11:\"description\";s:388:\"The
  uncompressed threat entries in hash format of a particular prefix length.\nHashes
  can be anywhere from 4 to 32 bytes in size. A large majority are 4\nbytes, but some
  hashes are lengthened if they collide with the hash of a\npopular URL.\n\nUsed for
  sending ThreatEntrySet to clients that do not support compression,\nor when sending
  non-4-byte hashes to clients that do support compression.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"prefixSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"The
  number of bytes for each prefix encoded below.  This field can be\nanywhere from
  4 (shortest prefix) to 32 (full SHA256 hash).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"rawHashes\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"The
  hashes, in binary format, concatenated into one long string. Hashes are\nsorted
  in lexicographic order. For JSON API users, hashes are\nbase64-encoded.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"RawIndices\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  set of raw indices to remove from a local list.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"indices\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  indices to remove from a lexicographically-sorted local list.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"RiceDeltaEncoding\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"The
  Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or\ncompressed
  removal indices.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"encodedData\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  encoded deltas that are encoded using the Golomb-Rice coder.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:10:\"firstValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"The
  offset of the first entry in the encoded data, or, if only a single\ninteger was
  encoded, that single integer's value.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"numEntries\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"The
  number of entries that are delta encoded in the encoded data. If only a\nsingle
  integer was encoded, this will be zero and the single value will be\nstored in `first_value`.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"riceParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"The
  Golomb-Rice parameter, which is a number between 2 and 28. This field\nis missing
  (that is, zero) if `num_entries` is zero.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ThreatEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"An
  individual threat; for example, a malicious URL or its hash\nrepresentation. Only
  one of these fields should be set.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"digest\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"The
  digest of an executable in SHA256 format. The API supports both\nbinary and hex
  digests. For JSON requests, digests are base64-encoded.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:4:\"hash\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"A
  hash prefix, consisting of the most significant 4-32 bytes of a SHA256\nhash. This
  field is in binary format. For JSON requests, hashes are\nbase64-encoded.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"A
  URL.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ThreatEntryMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"The
  metadata associated with a specific threat entry. The client is expected\nto know
  the metadata key/value pairs associated with each threat type.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  metadata entries.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MetadataEntry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ThreatEntrySet\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"A
  set of threats that should be added or removed from a client's local\ndatabase.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"compressionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  compression type for the entries in this set.\";s:4:\"enum\";a:3:{i:0;s:28:\"COMPRESSION_TYPE_UNSPECIFIED\";i:1;s:3:\"RAW\";i:2;s:4:\"RICE\";}s:4:\"type\";s:6:\"string\";}s:9:\"rawHashes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/RawHashes\";s:11:\"description\";s:33:\"The
  raw SHA256-formatted entries.\";}s:10:\"rawIndices\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RawIndices\";s:11:\"description\";s:41:\"The
  raw removal indices for a local list.\";}s:10:\"riceHashes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RiceDeltaEncoding\";s:11:\"description\";s:196:\"The
  encoded 4-byte prefixes of SHA256-formatted entries, using a\nGolomb-Rice encoding.
  The hashes are converted to uint32, sorted in\nascending order, then delta encoded
  and stored as encoded_data.\";}s:11:\"riceIndices\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RiceDeltaEncoding\";s:11:\"description\";s:239:\"The
  encoded local, lexicographically-sorted list indices, using a\nGolomb-Rice encoding.
  Used for sending compressed removal indices. The\nremoval indices (uint32) are sorted
  in ascending order, then delta encoded\nand stored as encoded_data.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ThreatInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"The
  information regarding one or more threats that a client submits when\nchecking for
  matches in threat lists.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"platformTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  platform types to be checked.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:25:\"PLATFORM_TYPE_UNSPECIFIED\";i:1;s:7:\"WINDOWS\";i:2;s:5:\"LINUX\";i:3;s:7:\"ANDROID\";i:4;s:3:\"OSX\";i:5;s:3:\"IOS\";i:6;s:12:\"ANY_PLATFORM\";i:7;s:13:\"ALL_PLATFORMS\";i:8;s:6:\"CHROME\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"threatEntries\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  threat entries to be checked.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ThreatEntry\";}s:4:\"type\";s:5:\"array\";}s:16:\"threatEntryTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  entry types to be checked.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:29:\"THREAT_ENTRY_TYPE_UNSPECIFIED\";i:1;s:3:\"URL\";i:2;s:10:\"EXECUTABLE\";i:3;s:8:\"IP_RANGE\";i:4;s:16:\"CHROME_EXTENSION\";i:5;s:8:\"FILENAME\";i:6;s:4:\"CERT\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"threatTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  threat types to be checked.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:14:{i:0;s:23:\"THREAT_TYPE_UNSPECIFIED\";i:1;s:7:\"MALWARE\";i:2;s:18:\"SOCIAL_ENGINEERING\";i:3;s:17:\"UNWANTED_SOFTWARE\";i:4;s:31:\"POTENTIALLY_HARMFUL_APPLICATION\";i:5;s:27:\"SOCIAL_ENGINEERING_INTERNAL\";i:6;s:9:\"API_ABUSE\";i:7;s:16:\"MALICIOUS_BINARY\";i:8;s:13:\"CSD_WHITELIST\";i:9;s:22:\"CSD_DOWNLOAD_WHITELIST\";i:10;s:15:\"CLIENT_INCIDENT\";i:11;s:25:\"CLIENT_INCIDENT_WHITELIST\";i:12;s:19:\"APK_MALWARE_OFFLINE\";i:13;s:18:\"SUBRESOURCE_FILTER\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ThreatListDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"Describes
  an individual threat list. A list is defined by three parameters:\nthe type of threat
  posed, the type of platform targeted by the threat, and\nthe type of entries in
  the list.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"platformType\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  platform type targeted by the list's entries.\";s:4:\"enum\";a:9:{i:0;s:25:\"PLATFORM_TYPE_UNSPECIFIED\";i:1;s:7:\"WINDOWS\";i:2;s:5:\"LINUX\";i:3;s:7:\"ANDROID\";i:4;s:3:\"OSX\";i:5;s:3:\"IOS\";i:6;s:12:\"ANY_PLATFORM\";i:7;s:13:\"ALL_PLATFORMS\";i:8;s:6:\"CHROME\";}s:4:\"type\";s:6:\"string\";}s:15:\"threatEntryType\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  entry types contained in the list.\";s:4:\"enum\";a:7:{i:0;s:29:\"THREAT_ENTRY_TYPE_UNSPECIFIED\";i:1;s:3:\"URL\";i:2;s:10:\"EXECUTABLE\";i:3;s:8:\"IP_RANGE\";i:4;s:16:\"CHROME_EXTENSION\";i:5;s:8:\"FILENAME\";i:6;s:4:\"CERT\";}s:4:\"type\";s:6:\"string\";}s:10:\"threatType\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  threat type posed by the list's entries.\";s:4:\"enum\";a:14:{i:0;s:23:\"THREAT_TYPE_UNSPECIFIED\";i:1;s:7:\"MALWARE\";i:2;s:18:\"SOCIAL_ENGINEERING\";i:3;s:17:\"UNWANTED_SOFTWARE\";i:4;s:31:\"POTENTIALLY_HARMFUL_APPLICATION\";i:5;s:27:\"SOCIAL_ENGINEERING_INTERNAL\";i:6;s:9:\"API_ABUSE\";i:7;s:16:\"MALICIOUS_BINARY\";i:8;s:13:\"CSD_WHITELIST\";i:9;s:22:\"CSD_DOWNLOAD_WHITELIST\";i:10;s:15:\"CLIENT_INCIDENT\";i:11;s:25:\"CLIENT_INCIDENT_WHITELIST\";i:12;s:19:\"APK_MALWARE_OFFLINE\";i:13;s:18:\"SUBRESOURCE_FILTER\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ThreatMatch\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"A
  match when checking a threat entry in the Safe Browsing threat lists.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"cacheDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"The
  cache lifetime for the returned match. Clients must not cache this\nresponse for
  more than this duration to avoid false positives.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:12:\"platformType\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  platform type matching this threat.\";s:4:\"enum\";a:9:{i:0;s:25:\"PLATFORM_TYPE_UNSPECIFIED\";i:1;s:7:\"WINDOWS\";i:2;s:5:\"LINUX\";i:3;s:7:\"ANDROID\";i:4;s:3:\"OSX\";i:5;s:3:\"IOS\";i:6;s:12:\"ANY_PLATFORM\";i:7;s:13:\"ALL_PLATFORMS\";i:8;s:6:\"CHROME\";}s:4:\"type\";s:6:\"string\";}s:6:\"threat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ThreatEntry\";s:11:\"description\";s:32:\"The
  threat matching this threat.\";}s:19:\"threatEntryMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ThreatEntryMetadata\";s:11:\"description\";s:46:\"Optional
  metadata associated with this threat.\";}s:15:\"threatEntryType\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  threat entry type matching this threat.\";s:4:\"enum\";a:7:{i:0;s:29:\"THREAT_ENTRY_TYPE_UNSPECIFIED\";i:1;s:3:\"URL\";i:2;s:10:\"EXECUTABLE\";i:3;s:8:\"IP_RANGE\";i:4;s:16:\"CHROME_EXTENSION\";i:5;s:8:\"FILENAME\";i:6;s:4:\"CERT\";}s:4:\"type\";s:6:\"string\";}s:10:\"threatType\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  threat type matching this threat.\";s:4:\"enum\";a:14:{i:0;s:23:\"THREAT_TYPE_UNSPECIFIED\";i:1;s:7:\"MALWARE\";i:2;s:18:\"SOCIAL_ENGINEERING\";i:3;s:17:\"UNWANTED_SOFTWARE\";i:4;s:31:\"POTENTIALLY_HARMFUL_APPLICATION\";i:5;s:27:\"SOCIAL_ENGINEERING_INTERNAL\";i:6;s:9:\"API_ABUSE\";i:7;s:16:\"MALICIOUS_BINARY\";i:8;s:13:\"CSD_WHITELIST\";i:9;s:22:\"CSD_DOWNLOAD_WHITELIST\";i:10;s:15:\"CLIENT_INCIDENT\";i:11;s:25:\"CLIENT_INCIDENT_WHITELIST\";i:12;s:19:\"APK_MALWARE_OFFLINE\";i:13;s:18:\"SUBRESOURCE_FILTER\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
