---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:557:\"This API allows
  you to interact with the VictorOps platform in various ways. Your account may be
  limited\nto a total number of API calls per month. Also, some of these API calls
  have rate limits.\n\nNOTE: In this documentation when creating a sample curl request
  (clicking the TRY IT OUT! button), in some API\nviewing interfaces, the '@' in an
  email address may be encoded. Please note that the REST endpoints will not\nprocess
  the encoded version. Make sure that the encoded character '%40' is changed to its
  unencoded form before\nsubmitting the curl request.\n\";s:7:\"version\";s:5:\"0.0.2\";s:5:\"title\";s:13:\"VictorOps
  API\";}"
host: api.victorops.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":101:{s:27:\"TeamScheduleOverlayResource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"orig\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  user scheduled on call (if any)\";}s:4:\"over\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  user overriding the scheduled on call user (if any)\";}s:5:\"start\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:43:\"The
  time the override is scheduled to start\";}s:3:\"end\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:41:\"The
  time the override is scheduled to end\";}}s:7:\"example\";O:8:\"stdClass\":4:{s:4:\"over\";s:4:\"over\";s:4:\"orig\";s:4:\"orig\";s:5:\"start\";d:5.9621339166831824;s:3:\"end\";d:5.6373766566333288;}}s:24:\"TeamScheduleRollResource\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:6:\"change\";i:1;s:6:\"isRoll\";i:2;s:5:\"until\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"change\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:41:\"The
  time the period is scheduled to start\";}s:5:\"until\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:39:\"The
  time the period is scheduled to end\";}s:6:\"oncall\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  user scheduled on call (if any)\";}s:6:\"isRoll\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:7:\"example\";O:8:\"stdClass\":4:{s:6:\"change\";d:6.0274561830704032;s:5:\"until\";d:1.4658129805029452;s:6:\"oncall\";s:6:\"oncall\";s:6:\"isRoll\";b:1;}}s:20:\"TeamScheduleResource\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"policyType\";i:1;s:5:\"rolls\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"oncall\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  user scheduled on call (if any)\";}s:14:\"overrideoncall\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  user overriding the scheduled on call user (if any)\";}s:10:\"policyType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"rotationName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"shiftName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"shiftRoll\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"rolls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TeamScheduleRollResource\";}}}s:7:\"example\";O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";d:0.8008281904610115;s:10:\"policyType\";s:10:\"policyType\";s:12:\"rotationName\";s:12:\"rotationName\";s:6:\"oncall\";s:6:\"oncall\";s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:6:\"change\";d:6.0274561830704032;s:5:\"until\";d:1.4658129805029452;s:6:\"oncall\";s:6:\"oncall\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:6:\"change\";d:6.0274561830704032;s:5:\"until\";d:1.4658129805029452;s:6:\"oncall\";s:6:\"oncall\";s:6:\"isRoll\";b:1;}}s:14:\"overrideoncall\";s:14:\"overrideoncall\";}}s:18:\"OnCallAndOverrides\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TeamScheduleResource\";}}s:9:\"overrides\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/TeamScheduleOverlayResource\";}}}s:7:\"example\";O:8:\"stdClass\":3:{s:8:\"schedule\";a:2:{i:0;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";d:0.8008281904610115;s:10:\"policyType\";s:10:\"policyType\";s:12:\"rotationName\";s:12:\"rotationName\";s:6:\"oncall\";s:6:\"oncall\";s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:6:\"change\";d:6.0274561830704032;s:5:\"until\";d:1.4658129805029452;s:6:\"oncall\";s:6:\"oncall\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:6:\"change\";d:6.0274561830704032;s:5:\"until\";d:1.4658129805029452;s:6:\"oncall\";s:6:\"oncall\";s:6:\"isRoll\";b:1;}}s:14:\"overrideoncall\";s:14:\"overrideoncall\";}i:1;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";d:0.8008281904610115;s:10:\"policyType\";s:10:\"policyType\";s:12:\"rotationName\";s:12:\"rotationName\";s:6:\"oncall\";s:6:\"oncall\";s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:6:\"change\";d:6.0274561830704032;s:5:\"until\";d:1.4658129805029452;s:6:\"oncall\";s:6:\"oncall\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:6:\"change\";d:6.0274561830704032;s:5:\"until\";d:1.4658129805029452;s:6:\"oncall\";s:6:\"oncall\";s:6:\"isRoll\";b:1;}}s:14:\"overrideoncall\";s:14:\"overrideoncall\";}}s:4:\"team\";s:4:\"team\";s:9:\"overrides\";a:2:{i:0;O:8:\"stdClass\":4:{s:4:\"over\";s:4:\"over\";s:4:\"orig\";s:4:\"orig\";s:5:\"start\";d:5.9621339166831824;s:3:\"end\";d:5.6373766566333288;}i:1;O:8:\"stdClass\":4:{s:4:\"over\";s:4:\"over\";s:4:\"orig\";s:4:\"orig\";s:5:\"start\";d:5.9621339166831824;s:3:\"end\";d:5.6373766566333288;}}}}s:30:\"OnCallEscalationPolicyResource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}s:19:\"OnCallUsersResource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/OnCallUsersResource_onCallUser\";}}s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}s:18:\"OnCallTeamResource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}s:17:\"OnCallNowResource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"escalationPolicy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/OnCallEscalationPolicyResource\";}s:5:\"users\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/OnCallUsersResource\";}}}s:7:\"example\";O:8:\"stdClass\":2:{s:16:\"escalationPolicy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:5:\"users\";a:2:{i:0;O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}i:1;O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}}}s:19:\"OnCallTeamsResource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"team\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/OnCallTeamResource\";}s:9:\"onCallNow\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OnCallNowResource\";}}}s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"onCallNow\";a:2:{i:0;O:8:\"stdClass\":2:{s:16:\"escalationPolicy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:5:\"users\";a:2:{i:0;O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}i:1;O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}}i:1;O:8:\"stdClass\":2:{s:16:\"escalationPolicy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:5:\"users\";a:2:{i:0;O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}i:1;O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}}}s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}s:11:\"TakeRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"fromUser\";i:1;s:6:\"toUser\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"fromUser\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"toUser\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"toUser\";s:6:\"toUser\";s:8:\"fromUser\";s:8:\"fromUser\";}}s:10:\"TakeResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"result\";s:6:\"result\";}}s:19:\"AckOrResolveRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:13:\"incidentNames\";i:1;s:8:\"userName\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"userName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"incidentNames\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":3:{s:13:\"incidentNames\";a:2:{i:0;s:13:\"incidentNames\";i:1;s:13:\"incidentNames\";}s:8:\"userName\";s:8:\"userName\";s:7:\"message\";s:7:\"message\";}}s:21:\"CreateIncidentRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:7:\"details\";i:1;s:7:\"summary\";i:2;s:7:\"targets\";i:3;s:8:\"userName\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"targets\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/IncidentTarget\";}}}s:7:\"example\";O:8:\"stdClass\":4:{s:7:\"summary\";s:7:\"summary\";s:7:\"details\";s:7:\"details\";s:8:\"userName\";s:8:\"userName\";s:7:\"targets\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"User\";s:4:\"slug\";s:4:\"slug\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"User\";s:4:\"slug\";s:4:\"slug\";}}}}s:25:\"AckOrResolveByUserRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:8:\"userName\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"userName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"userName\";s:8:\"userName\";s:7:\"message\";s:7:\"message\";}}s:20:\"AckOrResolveResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AckOrResolveResult\";}}}s:11:\"description\";s:44:\"The
  results of ack/resolve for each incident\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"results\";a:2:{i:0;O:8:\"stdClass\":4:{s:8:\"entityId\";s:8:\"entityId\";s:11:\"cmdAccepted\";b:1;s:7:\"message\";s:7:\"message\";s:14:\"incidentNumber\";s:14:\"incidentNumber\";}i:1;O:8:\"stdClass\":4:{s:8:\"entityId\";s:8:\"entityId\";s:11:\"cmdAccepted\";b:1;s:7:\"message\";s:7:\"message\";s:14:\"incidentNumber\";s:14:\"incidentNumber\";}}}}s:18:\"AckOrResolveResult\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"incidentNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entityId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"cmdAccepted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:52:\"The
  results of ack/resolve for a individual incident\";s:7:\"example\";O:8:\"stdClass\":4:{s:8:\"entityId\";s:8:\"entityId\";s:11:\"cmdAccepted\";b:1;s:7:\"message\";s:7:\"message\";s:14:\"incidentNumber\";s:14:\"incidentNumber\";}}s:18:\"ActiveIncidentList\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"incidents\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:17:\"The
  incident data\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ActiveIncidentInfo\";}}}s:11:\"description\";s:39:\"The
  list of incidents in various states\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"incidents\";a:2:{i:0;O:8:\"stdClass\":13:{s:8:\"entityId\";s:8:\"entityId\";s:13:\"pagedPolicies\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}i:1;O:8:\"stdClass\":2:{s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}s:11:\"transitions\";a:2:{i:0;O:8:\"stdClass\":7:{s:2:\"at\";s:2:\"at\";s:8:\"manually\";b:1;s:2:\"by\";s:2:\"by\";s:4:\"name\";s:4:\"name\";s:7:\"alertId\";s:7:\"alertId\";s:8:\"alertUrl\";s:8:\"alertUrl\";s:7:\"message\";s:7:\"message\";}i:1;O:8:\"stdClass\":7:{s:2:\"at\";s:2:\"at\";s:8:\"manually\";b:1;s:2:\"by\";s:2:\"by\";s:4:\"name\";s:4:\"name\";s:7:\"alertId\";s:7:\"alertId\";s:8:\"alertUrl\";s:8:\"alertUrl\";s:7:\"message\";s:7:\"message\";}}s:10:\"pagedTeams\";a:2:{i:0;s:10:\"pagedTeams\";i:1;s:10:\"pagedTeams\";}s:13:\"lastAlertTime\";s:13:\"lastAlertTime\";s:10:\"alertCount\";d:0.8008281904610115;s:10:\"pagedUsers\";a:2:{i:0;s:10:\"pagedUsers\";i:1;s:10:\"pagedUsers\";}s:12:\"currentPhase\";s:12:\"currentPhase\";s:7:\"service\";s:7:\"service\";s:4:\"host\";s:4:\"host\";s:9:\"startTime\";s:9:\"startTime\";s:11:\"lastAlertId\";s:11:\"lastAlertId\";s:14:\"incidentNumber\";s:14:\"incidentNumber\";}i:1;O:8:\"stdClass\":13:{s:8:\"entityId\";s:8:\"entityId\";s:13:\"pagedPolicies\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}i:1;O:8:\"stdClass\":2:{s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}s:11:\"transitions\";a:2:{i:0;O:8:\"stdClass\":7:{s:2:\"at\";s:2:\"at\";s:8:\"manually\";b:1;s:2:\"by\";s:2:\"by\";s:4:\"name\";s:4:\"name\";s:7:\"alertId\";s:7:\"alertId\";s:8:\"alertUrl\";s:8:\"alertUrl\";s:7:\"message\";s:7:\"message\";}i:1;O:8:\"stdClass\":7:{s:2:\"at\";s:2:\"at\";s:8:\"manually\";b:1;s:2:\"by\";s:2:\"by\";s:4:\"name\";s:4:\"name\";s:7:\"alertId\";s:7:\"alertId\";s:8:\"alertUrl\";s:8:\"alertUrl\";s:7:\"message\";s:7:\"message\";}}s:10:\"pagedTeams\";a:2:{i:0;s:10:\"pagedTeams\";i:1;s:10:\"pagedTeams\";}s:13:\"lastAlertTime\";s:13:\"lastAlertTime\";s:10:\"alertCount\";d:0.8008281904610115;s:10:\"pagedUsers\";a:2:{i:0;s:10:\"pagedUsers\";i:1;s:10:\"pagedUsers\";}s:12:\"currentPhase\";s:12:\"currentPhase\";s:7:\"service\";s:7:\"service\";s:4:\"host\";s:4:\"host\";s:9:\"startTime\";s:9:\"startTime\";s:11:\"lastAlertId\";s:11:\"lastAlertId\";s:14:\"incidentNumber\";s:14:\"incidentNumber\";}}}}s:18:\"ActiveIncidentInfo\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:14:\"incidentNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  VictorOps incident number\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  time the incident started\";}s:12:\"currentPhase\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"The
  current phase of the incident \"resolved\", \"triggered\" or \"acknowledged\".\";}s:10:\"alertCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:47:\"The
  number of alerts received for this incident\";}s:13:\"lastAlertTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  time of the last alert received for the incident\";}s:11:\"lastAlertId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  unique id of the last alert for the incident\";}s:8:\"entityId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"The
  unique identification of the entity being monitored that caused the incident\";}s:4:\"host\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  host on which the incident occurred\";}s:7:\"service\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  service name causing the incident (if any)\";}s:10:\"pagedUsers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:43:\"The
  users that were paged for the incident.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"pagedTeams\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:42:\"The
  teams that were paged for the incident\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"pagedPolicies\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:60:\"The
  escalation policies that were triggered for the incident\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EscalationPolicyInfo\";}}s:11:\"transitions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:43:\"Transitions
  of the incident state over time\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/IncidentTransition\";}}}s:11:\"description\";s:74:\"Incidents
  contain the following fields (all should be considered optional)\";s:7:\"example\";O:8:\"stdClass\":13:{s:8:\"entityId\";s:8:\"entityId\";s:13:\"pagedPolicies\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}i:1;O:8:\"stdClass\":2:{s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}s:11:\"transitions\";a:2:{i:0;O:8:\"stdClass\":7:{s:2:\"at\";s:2:\"at\";s:8:\"manually\";b:1;s:2:\"by\";s:2:\"by\";s:4:\"name\";s:4:\"name\";s:7:\"alertId\";s:7:\"alertId\";s:8:\"alertUrl\";s:8:\"alertUrl\";s:7:\"message\";s:7:\"message\";}i:1;O:8:\"stdClass\":7:{s:2:\"at\";s:2:\"at\";s:8:\"manually\";b:1;s:2:\"by\";s:2:\"by\";s:4:\"name\";s:4:\"name\";s:7:\"alertId\";s:7:\"alertId\";s:8:\"alertUrl\";s:8:\"alertUrl\";s:7:\"message\";s:7:\"message\";}}s:10:\"pagedTeams\";a:2:{i:0;s:10:\"pagedTeams\";i:1;s:10:\"pagedTeams\";}s:13:\"lastAlertTime\";s:13:\"lastAlertTime\";s:10:\"alertCount\";d:0.8008281904610115;s:10:\"pagedUsers\";a:2:{i:0;s:10:\"pagedUsers\";i:1;s:10:\"pagedUsers\";}s:12:\"currentPhase\";s:12:\"currentPhase\";s:7:\"service\";s:7:\"service\";s:4:\"host\";s:4:\"host\";s:9:\"startTime\";s:9:\"startTime\";s:11:\"lastAlertId\";s:11:\"lastAlertId\";s:14:\"incidentNumber\";s:14:\"incidentNumber\";}}s:18:\"IncidentTransition\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  transition name\";}s:2:\"at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  time of the transition\";}s:2:\"by\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  user that caused the transition (if any)\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  message entered by that user (if any)\";}s:8:\"manually\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:49:\"If
  the incident transition was caused by a person\";}s:7:\"alertId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  unique alert ID that caused the transition\";}s:8:\"alertUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"A
  URL to retrieve the details of the alert that caused the transition\";}}s:11:\"description\";s:30:\"A
  transition of incident state\";s:7:\"example\";O:8:\"stdClass\":7:{s:2:\"at\";s:2:\"at\";s:8:\"manually\";b:1;s:2:\"by\";s:2:\"by\";s:4:\"name\";s:4:\"name\";s:7:\"alertId\";s:7:\"alertId\";s:8:\"alertUrl\";s:8:\"alertUrl\";s:7:\"message\";s:7:\"message\";}}s:7:\"AckUser\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"first\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"last\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:88:\"A
  JSON object with first/last name and email of the user that acknowledged the incident.\";s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"last\";s:4:\"last\";s:5:\"email\";s:5:\"email\";s:5:\"first\";s:5:\"first\";}}s:12:\"IncidentList\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"offset\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:32:\"The
  offset passed in the request\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:37:\"The
  limit value passed in the request\";}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:55:\"The
  total number of incidents available for this search\";}s:9:\"incidents\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:48:\"An
  array of incident objects matching the search\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/IncidentInfo\";}}}s:11:\"description\";s:42:\"The
  results of an incident history request\";s:7:\"example\";O:8:\"stdClass\":4:{s:5:\"total\";d:1.4658129805029452;s:6:\"offset\";d:0.8008281904610115;s:5:\"limit\";d:6.0274561830704032;s:9:\"incidents\";a:2:{i:0;O:8:\"stdClass\":16:{s:7:\"ackTime\";s:7:\"ackTime\";s:9:\"ackUserId\";s:9:\"ackUserId\";s:5:\"teams\";s:5:\"teams\";s:10:\"entityType\";s:10:\"entityType\";s:8:\"entityId\";s:8:\"entityId\";s:7:\"ackUser\";O:8:\"stdClass\":3:{s:4:\"last\";s:4:\"last\";s:5:\"email\";s:5:\"email\";s:5:\"first\";s:5:\"first\";}s:13:\"lastAlertTime\";s:13:\"lastAlertTime\";s:14:\"entityDispName\";s:14:\"entityDispName\";s:10:\"alertCount\";d:5.9621339166831824;s:12:\"currentPhase\";s:12:\"currentPhase\";s:7:\"service\";s:7:\"service\";s:4:\"host\";s:4:\"host\";s:9:\"startTime\";s:9:\"startTime\";s:11:\"lastAlertID\";s:11:\"lastAlertID\";s:7:\"endTime\";s:7:\"endTime\";s:14:\"incidentNumber\";s:14:\"incidentNumber\";}i:1;O:8:\"stdClass\":16:{s:7:\"ackTime\";s:7:\"ackTime\";s:9:\"ackUserId\";s:9:\"ackUserId\";s:5:\"teams\";s:5:\"teams\";s:10:\"entityType\";s:10:\"entityType\";s:8:\"entityId\";s:8:\"entityId\";s:7:\"ackUser\";O:8:\"stdClass\":3:{s:4:\"last\";s:4:\"last\";s:5:\"email\";s:5:\"email\";s:5:\"first\";s:5:\"first\";}s:13:\"lastAlertTime\";s:13:\"lastAlertTime\";s:14:\"entityDispName\";s:14:\"entityDispName\";s:10:\"alertCount\";d:5.9621339166831824;s:12:\"currentPhase\";s:12:\"currentPhase\";s:7:\"service\";s:7:\"service\";s:4:\"host\";s:4:\"host\";s:9:\"startTime\";s:9:\"startTime\";s:11:\"lastAlertID\";s:11:\"lastAlertID\";s:7:\"endTime\";s:7:\"endTime\";s:14:\"incidentNumber\";s:14:\"incidentNumber\";}}}}s:12:\"IncidentInfo\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:14:\"incidentNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  VictorOps incident number\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  time the incident started\";}s:12:\"currentPhase\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"The
  current phase of the incident \"resolved\", \"triggered\" or \"acknowledged\".\";}s:10:\"alertCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:47:\"The
  number of alerts received for this incident\";}s:13:\"lastAlertTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  time of the last alert received for the incident\";}s:11:\"lastAlertID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  unique id of the last alert for the incident\";}s:9:\"ackUserId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"The
  VictorOps user id of the user that acknowledged the incident\";}s:7:\"ackTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  time of the last acknowledgment of the incident\";}s:8:\"entityId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"The
  unique identification of the entity being monitored that caused the incident\";}s:4:\"host\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  host on which the incident occurred\";}s:7:\"service\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  service name causing the incident (if any)\";}s:7:\"endTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  time the incident ended\";}s:7:\"ackUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/AckUser\";}s:10:\"entityType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  type of entity causing the incident (host/service)\";}s:14:\"entityDispName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  display name of the entity causing the incident\";}s:5:\"teams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  teams that were paged for the incident (comma separated).\";}}s:11:\"description\";s:74:\"Incidents
  contain the following fields (all should be considered optional)\";s:7:\"example\";O:8:\"stdClass\":16:{s:7:\"ackTime\";s:7:\"ackTime\";s:9:\"ackUserId\";s:9:\"ackUserId\";s:5:\"teams\";s:5:\"teams\";s:10:\"entityType\";s:10:\"entityType\";s:8:\"entityId\";s:8:\"entityId\";s:7:\"ackUser\";O:8:\"stdClass\":3:{s:4:\"last\";s:4:\"last\";s:5:\"email\";s:5:\"email\";s:5:\"first\";s:5:\"first\";}s:13:\"lastAlertTime\";s:13:\"lastAlertTime\";s:14:\"entityDispName\";s:14:\"entityDispName\";s:10:\"alertCount\";d:5.9621339166831824;s:12:\"currentPhase\";s:12:\"currentPhase\";s:7:\"service\";s:7:\"service\";s:4:\"host\";s:4:\"host\";s:9:\"startTime\";s:9:\"startTime\";s:11:\"lastAlertID\";s:11:\"lastAlertID\";s:7:\"endTime\";s:7:\"endTime\";s:14:\"incidentNumber\";s:14:\"incidentNumber\";}}s:16:\"GetAlertResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"messageType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"The
  type of alert; INFO, WARNING, ACKNOWLEDGEMENT, CRITICAL, RECOVERY\n\";}s:8:\"entityId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Identifies
  the entity (host, service, etc.) this alert was about.\n\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:46:\"Timestamp
  of the alert in seconds since epoch.\";}s:14:\"stateStartTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:69:\"The
  time this entity entered its current state (seconds since epoch).\";}s:12:\"stateMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Any
  additional status information from the alert item.\";}s:14:\"monitoringTool\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"The
  name of the monitoring system software (eg. nagios, icinga, sensu, etc.)\";}s:17:\"entityDisplayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Used
  within VictorOps to display a human-readable name for the entity.\";}s:6:\"ackMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"A
  user entered comment for the acknowledgment.\";}s:9:\"ackAuthor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  user that acknowledged the incident.\";}s:3:\"raw\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"The
  full, raw alert details JSON string (i.e. parse the string into a JSON object)\n\";}}s:11:\"description\";s:56:\"Alert
  details. All fields should be considered optional.\";s:7:\"example\";O:8:\"stdClass\":10:{s:14:\"monitoringTool\";s:14:\"monitoringTool\";s:6:\"ackMsg\";s:6:\"ackMsg\";s:11:\"messageType\";s:11:\"messageType\";s:12:\"stateMessage\";s:12:\"stateMessage\";s:3:\"raw\";s:3:\"raw\";s:8:\"entityId\";s:8:\"entityId\";s:17:\"entityDisplayName\";s:17:\"entityDisplayName\";s:9:\"ackAuthor\";s:9:\"ackAuthor\";s:14:\"stateStartTime\";d:6.0274561830704032;s:9:\"timestamp\";d:0.8008281904610115;}}s:16:\"ListUserResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"users\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/V1User\";}}s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:24:\"Some
  info about the user\";s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:5:\"users\";a:2:{i:0;O:8:\"stdClass\":8:{s:9:\"firstName\";s:9:\"firstName\";s:8:\"lastName\";s:8:\"lastName\";s:9:\"createdAt\";s:9:\"createdAt\";s:19:\"passwordLastUpdated\";s:19:\"passwordLastUpdated\";s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:8:\"verified\";b:1;s:5:\"email\";s:5:\"email\";s:8:\"username\";s:8:\"username\";}i:1;O:8:\"stdClass\":8:{s:9:\"firstName\";s:9:\"firstName\";s:8:\"lastName\";s:8:\"lastName\";s:9:\"createdAt\";s:9:\"createdAt\";s:19:\"passwordLastUpdated\";s:19:\"passwordLastUpdated\";s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:8:\"verified\";b:1;s:5:\"email\";s:5:\"email\";s:8:\"username\";s:8:\"username\";}}}}s:15:\"AddUserResponse\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/V1User\";}s:9:\"OnCallLog\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"teamSlug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"end\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"userLogs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/UserLog\";}}}s:7:\"example\";O:8:\"stdClass\":4:{s:8:\"userLogs\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"total\";O:8:\"stdClass\":2:{s:5:\"hours\";d:0.8008281904610115;s:7:\"minutes\";d:6.0274561830704032;}s:3:\"log\";a:2:{i:0;O:8:\"stdClass\":4:{s:8:\"duration\";O:8:\"stdClass\":2:{s:5:\"hours\";d:0.8008281904610115;s:7:\"minutes\";d:6.0274561830704032;}s:4:\"true\";s:4:\"true\";s:5:\"false\";s:5:\"false\";s:16:\"escalationPolicy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}i:1;O:8:\"stdClass\":4:{s:8:\"duration\";O:8:\"stdClass\":2:{s:5:\"hours\";d:0.8008281904610115;s:7:\"minutes\";d:6.0274561830704032;}s:4:\"true\";s:4:\"true\";s:5:\"false\";s:5:\"false\";s:16:\"escalationPolicy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}s:13:\"adjustedTotal\";O:8:\"stdClass\":2:{s:5:\"hours\";d:0.8008281904610115;s:7:\"minutes\";d:6.0274561830704032;}s:6:\"userId\";s:6:\"userId\";}i:1;O:8:\"stdClass\":4:{s:5:\"total\";O:8:\"stdClass\":2:{s:5:\"hours\";d:0.8008281904610115;s:7:\"minutes\";d:6.0274561830704032;}s:3:\"log\";a:2:{i:0;O:8:\"stdClass\":4:{s:8:\"duration\";O:8:\"stdClass\":2:{s:5:\"hours\";d:0.8008281904610115;s:7:\"minutes\";d:6.0274561830704032;}s:4:\"true\";s:4:\"true\";s:5:\"false\";s:5:\"false\";s:16:\"escalationPolicy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}i:1;O:8:\"stdClass\":4:{s:8:\"duration\";O:8:\"stdClass\":2:{s:5:\"hours\";d:0.8008281904610115;s:7:\"minutes\";d:6.0274561830704032;}s:4:\"true\";s:4:\"true\";s:5:\"false\";s:5:\"false\";s:16:\"escalationPolicy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}s:13:\"adjustedTotal\";O:8:\"stdClass\":2:{s:5:\"hours\";d:0.8008281904610115;s:7:\"minutes\";d:6.0274561830704032;}s:6:\"userId\";s:6:\"userId\";}}s:8:\"teamSlug\";s:8:\"teamSlug\";s:5:\"start\";s:29:\"2000-01-23T04:56:07.000+00:00\";s:3:\"end\";s:29:\"2000-01-23T04:56:07.000+00:00\";}}s:7:\"UserLog\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserLog_total\";}s:13:\"adjustedTotal\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserLog_total\";}s:3:\"log\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OnCallInterval\";}}}s:7:\"example\";O:8:\"stdClass\":4:{s:5:\"total\";O:8:\"stdClass\":2:{s:5:\"hours\";d:0.8008281904610115;s:7:\"minutes\";d:6.0274561830704032;}s:3:\"log\";a:2:{i:0;O:8:\"stdClass\":4:{s:8:\"duration\";O:8:\"stdClass\":2:{s:5:\"hours\";d:0.8008281904610115;s:7:\"minutes\";d:6.0274561830704032;}s:4:\"true\";s:4:\"true\";s:5:\"false\";s:5:\"false\";s:16:\"escalationPolicy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}i:1;O:8:\"stdClass\":4:{s:8:\"duration\";O:8:\"stdClass\":2:{s:5:\"hours\";d:0.8008281904610115;s:7:\"minutes\";d:6.0274561830704032;}s:4:\"true\";s:4:\"true\";s:5:\"false\";s:5:\"false\";s:16:\"escalationPolicy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}s:13:\"adjustedTotal\";O:8:\"stdClass\":2:{s:5:\"hours\";d:0.8008281904610115;s:7:\"minutes\";d:6.0274561830704032;}s:6:\"userId\";s:6:\"userId\";}}s:14:\"OnCallInterval\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"true\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"false\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserLog_total\";}s:16:\"escalationPolicy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EscalationPolicy\";}}s:7:\"example\";O:8:\"stdClass\":4:{s:8:\"duration\";O:8:\"stdClass\":2:{s:5:\"hours\";d:0.8008281904610115;s:7:\"minutes\";d:6.0274561830704032;}s:4:\"true\";s:4:\"true\";s:5:\"false\";s:5:\"false\";s:16:\"escalationPolicy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}s:6:\"V1User\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"passwordLastUpdated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"verified\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:70:\"Whether
  or not this user has set their password (will always be false)\";}s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:24:\"Some
  info about the user\";s:7:\"example\";O:8:\"stdClass\":8:{s:9:\"firstName\";s:9:\"firstName\";s:8:\"lastName\";s:8:\"lastName\";s:9:\"createdAt\";s:9:\"createdAt\";s:19:\"passwordLastUpdated\";s:19:\"passwordLastUpdated\";s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:8:\"verified\";b:1;s:5:\"email\";s:5:\"email\";s:8:\"username\";s:8:\"username\";}}s:7:\"RelLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"rel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"IncidentTarget\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"slug\";i:1;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Type
  of target\";s:4:\"enum\";a:2:{i:0;s:4:\"User\";i:1;s:16:\"EscalationPolicy\";}}s:4:\"slug\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"User
  name or escalation policy slug\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"User\";s:4:\"slug\";s:4:\"slug\";}}s:15:\"CreatedIncident\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"incidentNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  VictorOps incident number\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"An
  error message\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"error\";s:5:\"error\";s:14:\"incidentNumber\";s:14:\"incidentNumber\";}}s:13:\"ContactDevice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"deviceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"extId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":4:{s:10:\"deviceType\";s:10:\"deviceType\";s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:5:\"label\";s:5:\"label\";s:5:\"extId\";s:5:\"extId\";}}s:16:\"ContactDeviceAdd\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"device_label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"escalation_notification_sound\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"chat_escalation_sound\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"resolved_notification_sound\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:18:\"The
  contact device\";s:7:\"example\";O:8:\"stdClass\":4:{s:29:\"escalation_notification_sound\";s:29:\"escalation_notification_sound\";s:27:\"resolved_notification_sound\";s:27:\"resolved_notification_sound\";s:12:\"device_label\";s:12:\"device_label\";s:21:\"chat_escalation_sound\";s:21:\"chat_escalation_sound\";}}s:11:\"UserContact\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"deviceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"extId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":4:{s:10:\"deviceType\";s:10:\"deviceType\";s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:5:\"label\";s:5:\"label\";s:5:\"extId\";s:5:\"extId\";}}s:10:\"TeamDetail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"_membersUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"_policiesUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"memberCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"isDefaultTeam\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:11:\"description\";s:24:\"Some
  info about the team\";}s:16:\"ListTeamResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TeamDetail\";}}s:15:\"AddTeamResponse\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TeamDetail\";}s:23:\"ListTeamMembersResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"_teamUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"members\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TeamMember\";}}}s:11:\"description\";s:30:\"A
  list of members for the team\";s:7:\"example\";O:8:\"stdClass\":3:{s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:8:\"_teamUrl\";s:8:\"_teamUrl\";s:7:\"members\";a:2:{i:0;O:8:\"stdClass\":5:{s:9:\"firstName\";s:9:\"firstName\";s:8:\"lastName\";s:8:\"lastName\";s:8:\"verified\";s:8:\"verified\";s:7:\"version\";d:0.8008281904610115;s:8:\"username\";s:8:\"username\";}i:1;O:8:\"stdClass\":5:{s:9:\"firstName\";s:9:\"firstName\";s:8:\"lastName\";s:8:\"lastName\";s:8:\"verified\";s:8:\"verified\";s:7:\"version\";d:0.8008281904610115;s:8:\"username\";s:8:\"username\";}}}}s:10:\"TeamMember\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"verified\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Whether
  or not this user has set their password (will always be false)\";}}s:11:\"description\";s:24:\"Some
  info about the user\";s:7:\"example\";O:8:\"stdClass\":5:{s:9:\"firstName\";s:9:\"firstName\";s:8:\"lastName\";s:8:\"lastName\";s:8:\"verified\";s:8:\"verified\";s:7:\"version\";d:0.8008281904610115;s:8:\"username\";s:8:\"username\";}}s:14:\"AddUserPayload\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:5:\"email\";i:1;s:9:\"firstName\";i:2;s:8:\"lastName\";i:3;s:8:\"username\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";}s:5:\"admin\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"expirationHours\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:84:\"The
  validity duration for the invitatation/set password link sent to the added user.\";}}s:11:\"description\";s:20:\"The
  user information\";s:7:\"example\";O:8:\"stdClass\":6:{s:9:\"firstName\";s:9:\"firstName\";s:8:\"lastName\";s:8:\"lastName\";s:15:\"expirationHours\";d:0.8008281904610115;s:5:\"admin\";b:1;s:5:\"email\";s:5:\"email\";s:8:\"username\";s:8:\"username\";}}s:17:\"DeleteUserPayload\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"replacement\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"replacement\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  user to take the place of the deleted user in escalations\";}}s:11:\"description\";s:54:\"The
  information about what to do with the deleted user\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"replacement\";s:11:\"replacement\";}}s:20:\"AddTeamMemberPayload\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:8:\"username\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:20:\"The
  user information\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}s:15:\"ContactEmailAdd\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"email\";i:1;s:5:\"label\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";}s:4:\"rank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:11:\"description\";s:17:\"The
  contact email\";s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"rank\";i:0;s:5:\"label\";s:5:\"label\";s:5:\"email\";s:5:\"email\";}}s:15:\"ContactPhoneAdd\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"label\";i:1;s:5:\"phone\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:11:\"description\";s:17:\"The
  contact phone\";s:7:\"example\";O:8:\"stdClass\":3:{s:5:\"phone\";s:5:\"phone\";s:4:\"rank\";i:0;s:5:\"label\";s:5:\"label\";}}s:14:\"AddTeamPayload\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:20:\"The
  team information\";s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"name\";s:4:\"name\";}}s:23:\"RemoveTeamMemberPayload\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"replacement\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"replacement\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:20:\"The
  user information\";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"replacement\";s:11:\"replacement\";}}s:12:\"AlertRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"alertId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"alertId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:30:\"CreateBatchAlertRequestPayload\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"alertIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/AlertId\";}}}s:11:\"description\";s:56:\"A
  collection of IDs (uuid) for the alerts to be returned\";}s:7:\"AlertId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"AlertBatchResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"requestId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"requestSize\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"responseSize\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"alerts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/GetAlertResponse\";}}}s:11:\"description\";s:32:\"A
  collection of requested alerts\";}s:23:\"ListRoutingKeysResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"routingKeys\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RoutingKeyInfo\";}}s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:34:\"Info
  about routing keys in the org\";s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:11:\"routingKeys\";a:2:{i:0;O:8:\"stdClass\":3:{s:9:\"isDefault\";b:1;s:7:\"targets\";a:2:{i:0;O:8:\"stdClass\":3:{s:10:\"policyName\";s:10:\"policyName\";s:10:\"policySlug\";s:10:\"policySlug\";s:8:\"_teamUrl\";s:8:\"_teamUrl\";}i:1;O:8:\"stdClass\":3:{s:10:\"policyName\";s:10:\"policyName\";s:10:\"policySlug\";s:10:\"policySlug\";s:8:\"_teamUrl\";s:8:\"_teamUrl\";}}s:10:\"routingKey\";s:10:\"routingKey\";}i:1;O:8:\"stdClass\":3:{s:9:\"isDefault\";b:1;s:7:\"targets\";a:2:{i:0;O:8:\"stdClass\":3:{s:10:\"policyName\";s:10:\"policyName\";s:10:\"policySlug\";s:10:\"policySlug\";s:8:\"_teamUrl\";s:8:\"_teamUrl\";}i:1;O:8:\"stdClass\":3:{s:10:\"policyName\";s:10:\"policyName\";s:10:\"policySlug\";s:10:\"policySlug\";s:8:\"_teamUrl\";s:8:\"_teamUrl\";}}s:10:\"routingKey\";s:10:\"routingKey\";}}}}s:14:\"RoutingKeyInfo\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"routingKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"targets\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RoutingKeyTarget\";}}s:9:\"isDefault\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:11:\"description\";s:41:\"Routing
  keys contain the following fields\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"isDefault\";b:1;s:7:\"targets\";a:2:{i:0;O:8:\"stdClass\":3:{s:10:\"policyName\";s:10:\"policyName\";s:10:\"policySlug\";s:10:\"policySlug\";s:8:\"_teamUrl\";s:8:\"_teamUrl\";}i:1;O:8:\"stdClass\":3:{s:10:\"policyName\";s:10:\"policyName\";s:10:\"policySlug\";s:10:\"policySlug\";s:8:\"_teamUrl\";s:8:\"_teamUrl\";}}s:10:\"routingKey\";s:10:\"routingKey\";}}s:16:\"RoutingKeyTarget\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"policyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"policySlug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"_teamUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:18:\"Routing
  key target\";s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"policyName\";s:10:\"policyName\";s:10:\"policySlug\";s:10:\"policySlug\";s:8:\"_teamUrl\";s:8:\"_teamUrl\";}}s:8:\"Policies\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"policies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PagingPolicy\";}}}s:11:\"description\";s:42:\"Paging
  policies accociated which this user\";s:7:\"example\";O:8:\"stdClass\":3:{s:8:\"policies\";a:2:{i:0;O:8:\"stdClass\":4:{s:11:\"contactType\";s:11:\"contactType\";s:5:\"extId\";s:5:\"extId\";s:7:\"timeout\";i:1;s:5:\"order\";i:6;}i:1;O:8:\"stdClass\":4:{s:11:\"contactType\";s:11:\"contactType\";s:5:\"extId\";s:5:\"extId\";s:7:\"timeout\";i:1;s:5:\"order\";i:6;}}s:6:\"userId\";i:0;s:8:\"username\";s:8:\"username\";}}s:12:\"PagingPolicy\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"timeout\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"contactType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"extId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:20:\"Paging
  policy fields\";s:7:\"example\";O:8:\"stdClass\":4:{s:11:\"contactType\";s:11:\"contactType\";s:5:\"extId\";s:5:\"extId\";s:7:\"timeout\";i:1;s:5:\"order\";i:6;}}s:4:\"User\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}s:4:\"Team\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}s:16:\"EscalationPolicy\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}s:20:\"EscalationPolicyList\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"policies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EscalationPolicy\";}}}s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"policies\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}i:1;O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}}s:10:\"OnCallType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:4:\"user\";i:1;s:14:\"rotation_group\";i:2;s:19:\"rotation_group_next\";i:3;s:23:\"rotation_group_previous\";i:4;s:4:\"team\";i:5;s:12:\"team_routing\";i:6;s:7:\"webhook\";i:7;s:5:\"email\";i:8;s:14:\"policy_routing\";}}s:10:\"OnCallRoll\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:3:\"end\";i:1;s:6:\"isRoll\";i:2;s:5:\"start\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"start\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  on-call period start time (ISO 8601)\";}s:3:\"end\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  on-call period end time (ISO 8601)\";}s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:6:\"isRoll\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:7:\"example\";O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}s:14:\"OnCallOverride\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:5:\"start\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  override start time (ISO 8601)\";}s:3:\"end\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  override end time (ISO 8601)\";}}s:7:\"example\";O:8:\"stdClass\":4:{s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"start\";s:5:\"start\";s:3:\"end\";s:3:\"end\";s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}s:11:\"OnCallEntry\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"onCallType\";i:1;s:5:\"rolls\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:10:\"onCallType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/OnCallType\";}s:12:\"rotationName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"shiftName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"shiftRoll\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  shift roll time (ISO 8601)\";}s:5:\"rolls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/OnCallRoll\";}}}s:7:\"example\";O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";s:9:\"shiftRoll\";s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:10:\"onCallType\";O:8:\"stdClass\":0:{}s:12:\"rotationName\";s:12:\"rotationName\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}}}s:14:\"PolicySchedule\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"policy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EscalationPolicy\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OnCallEntry\";}}s:9:\"overrides\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OnCallOverride\";}}}s:7:\"example\";O:8:\"stdClass\":3:{s:8:\"schedule\";a:2:{i:0;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";s:9:\"shiftRoll\";s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:10:\"onCallType\";O:8:\"stdClass\":0:{}s:12:\"rotationName\";s:12:\"rotationName\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}}i:1;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";s:9:\"shiftRoll\";s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:10:\"onCallType\";O:8:\"stdClass\":0:{}s:12:\"rotationName\";s:12:\"rotationName\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}}}s:9:\"overrides\";a:2:{i:0;O:8:\"stdClass\":4:{s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"start\";s:5:\"start\";s:3:\"end\";s:3:\"end\";s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}i:1;O:8:\"stdClass\":4:{s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"start\";s:5:\"start\";s:3:\"end\";s:3:\"end\";s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}s:12:\"TeamSchedule\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"team\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Team\";}s:9:\"schedules\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PolicySchedule\";}}}s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"schedules\";a:2:{i:0;O:8:\"stdClass\":3:{s:8:\"schedule\";a:2:{i:0;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";s:9:\"shiftRoll\";s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:10:\"onCallType\";O:8:\"stdClass\":0:{}s:12:\"rotationName\";s:12:\"rotationName\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}}i:1;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";s:9:\"shiftRoll\";s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:10:\"onCallType\";O:8:\"stdClass\":0:{}s:12:\"rotationName\";s:12:\"rotationName\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}}}s:9:\"overrides\";a:2:{i:0;O:8:\"stdClass\":4:{s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"start\";s:5:\"start\";s:3:\"end\";s:3:\"end\";s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}i:1;O:8:\"stdClass\":4:{s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"start\";s:5:\"start\";s:3:\"end\";s:3:\"end\";s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}i:1;O:8:\"stdClass\":3:{s:8:\"schedule\";a:2:{i:0;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";s:9:\"shiftRoll\";s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:10:\"onCallType\";O:8:\"stdClass\":0:{}s:12:\"rotationName\";s:12:\"rotationName\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}}i:1;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";s:9:\"shiftRoll\";s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:10:\"onCallType\";O:8:\"stdClass\":0:{}s:12:\"rotationName\";s:12:\"rotationName\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}}}s:9:\"overrides\";a:2:{i:0;O:8:\"stdClass\":4:{s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"start\";s:5:\"start\";s:3:\"end\";s:3:\"end\";s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}i:1;O:8:\"stdClass\":4:{s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"start\";s:5:\"start\";s:3:\"end\";s:3:\"end\";s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}s:12:\"UserSchedule\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"teamSchedules\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TeamSchedule\";}}}s:7:\"example\";O:8:\"stdClass\":1:{s:13:\"teamSchedules\";a:2:{i:0;O:8:\"stdClass\":2:{s:9:\"schedules\";a:2:{i:0;O:8:\"stdClass\":3:{s:8:\"schedule\";a:2:{i:0;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";s:9:\"shiftRoll\";s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:10:\"onCallType\";O:8:\"stdClass\":0:{}s:12:\"rotationName\";s:12:\"rotationName\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}}i:1;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";s:9:\"shiftRoll\";s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:10:\"onCallType\";O:8:\"stdClass\":0:{}s:12:\"rotationName\";s:12:\"rotationName\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}}}s:9:\"overrides\";a:2:{i:0;O:8:\"stdClass\":4:{s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"start\";s:5:\"start\";s:3:\"end\";s:3:\"end\";s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}i:1;O:8:\"stdClass\":4:{s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"start\";s:5:\"start\";s:3:\"end\";s:3:\"end\";s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}i:1;O:8:\"stdClass\":3:{s:8:\"schedule\";a:2:{i:0;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";s:9:\"shiftRoll\";s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:10:\"onCallType\";O:8:\"stdClass\":0:{}s:12:\"rotationName\";s:12:\"rotationName\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}}i:1;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";s:9:\"shiftRoll\";s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:10:\"onCallType\";O:8:\"stdClass\":0:{}s:12:\"rotationName\";s:12:\"rotationName\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}}}s:9:\"overrides\";a:2:{i:0;O:8:\"stdClass\":4:{s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"start\";s:5:\"start\";s:3:\"end\";s:3:\"end\";s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}i:1;O:8:\"stdClass\":4:{s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"start\";s:5:\"start\";s:3:\"end\";s:3:\"end\";s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}i:1;O:8:\"stdClass\":2:{s:9:\"schedules\";a:2:{i:0;O:8:\"stdClass\":3:{s:8:\"schedule\";a:2:{i:0;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";s:9:\"shiftRoll\";s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:10:\"onCallType\";O:8:\"stdClass\":0:{}s:12:\"rotationName\";s:12:\"rotationName\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}}i:1;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";s:9:\"shiftRoll\";s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:10:\"onCallType\";O:8:\"stdClass\":0:{}s:12:\"rotationName\";s:12:\"rotationName\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}}}s:9:\"overrides\";a:2:{i:0;O:8:\"stdClass\":4:{s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"start\";s:5:\"start\";s:3:\"end\";s:3:\"end\";s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}i:1;O:8:\"stdClass\":4:{s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"start\";s:5:\"start\";s:3:\"end\";s:3:\"end\";s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}i:1;O:8:\"stdClass\":3:{s:8:\"schedule\";a:2:{i:0;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";s:9:\"shiftRoll\";s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:10:\"onCallType\";O:8:\"stdClass\":0:{}s:12:\"rotationName\";s:12:\"rotationName\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}}i:1;O:8:\"stdClass\":7:{s:9:\"shiftName\";s:9:\"shiftName\";s:9:\"shiftRoll\";s:9:\"shiftRoll\";s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:10:\"onCallType\";O:8:\"stdClass\":0:{}s:12:\"rotationName\";s:12:\"rotationName\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"rolls\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}i:1;O:8:\"stdClass\":4:{s:5:\"start\";s:5:\"start\";s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:3:\"end\";s:3:\"end\";s:6:\"isRoll\";b:1;}}}}s:9:\"overrides\";a:2:{i:0;O:8:\"stdClass\":4:{s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"start\";s:5:\"start\";s:3:\"end\";s:3:\"end\";s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}i:1;O:8:\"stdClass\":4:{s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}s:5:\"start\";s:5:\"start\";s:3:\"end\";s:3:\"end\";s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}}}s:20:\"EscalationPolicyInfo\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"policy\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"policy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EscalationPolicy\";}s:4:\"team\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Team\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}s:24:\"EscalationPolicyInfoList\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:8:\"policies\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"policies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EscalationPolicyInfo\";}}}s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"policies\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}i:1;O:8:\"stdClass\":2:{s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}}}s:17:\"RerouteCollection\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"reroutes\";i:1;s:8:\"userName\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"userName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"reroutes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Reroute\";}}}s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"reroutes\";a:2:{i:0;O:8:\"stdClass\":2:{s:14:\"incidentNumber\";s:14:\"incidentNumber\";s:7:\"targets\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"User\";s:4:\"slug\";s:4:\"slug\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"User\";s:4:\"slug\";s:4:\"slug\";}}}i:1;O:8:\"stdClass\":2:{s:14:\"incidentNumber\";s:14:\"incidentNumber\";s:7:\"targets\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"User\";s:4:\"slug\";s:4:\"slug\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"User\";s:4:\"slug\";s:4:\"slug\";}}}}s:8:\"userName\";s:8:\"userName\";}}s:7:\"Reroute\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:14:\"incidentNumber\";i:1;s:7:\"targets\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"incidentNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"targets\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/IncidentTarget\";}}}s:7:\"example\";O:8:\"stdClass\":2:{s:14:\"incidentNumber\";s:14:\"incidentNumber\";s:7:\"targets\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"User\";s:4:\"slug\";s:4:\"slug\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"User\";s:4:\"slug\";s:4:\"slug\";}}}}s:21:\"RerouteStatusResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"statuses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RerouteStatus\";}}}s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"statuses\";a:2:{i:0;O:8:\"stdClass\":4:{s:7:\"success\";b:1;s:12:\"targetStatus\";a:2:{i:0;O:8:\"stdClass\":3:{s:7:\"success\";b:1;s:7:\"message\";s:7:\"message\";s:4:\"slug\";s:4:\"slug\";}i:1;O:8:\"stdClass\":3:{s:7:\"success\";b:1;s:7:\"message\";s:7:\"message\";s:4:\"slug\";s:4:\"slug\";}}s:7:\"message\";s:7:\"message\";s:14:\"incidentNumber\";s:14:\"incidentNumber\";}i:1;O:8:\"stdClass\":4:{s:7:\"success\";b:1;s:12:\"targetStatus\";a:2:{i:0;O:8:\"stdClass\":3:{s:7:\"success\";b:1;s:7:\"message\";s:7:\"message\";s:4:\"slug\";s:4:\"slug\";}i:1;O:8:\"stdClass\":3:{s:7:\"success\";b:1;s:7:\"message\";s:7:\"message\";s:4:\"slug\";s:4:\"slug\";}}s:7:\"message\";s:7:\"message\";s:14:\"incidentNumber\";s:14:\"incidentNumber\";}}}}s:13:\"RerouteStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:14:\"incidentNumber\";i:1;s:7:\"success\";i:2;s:12:\"targetStatus\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"incidentNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"targetStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/RerouteTargetStatus\";}}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":4:{s:7:\"success\";b:1;s:12:\"targetStatus\";a:2:{i:0;O:8:\"stdClass\":3:{s:7:\"success\";b:1;s:7:\"message\";s:7:\"message\";s:4:\"slug\";s:4:\"slug\";}i:1;O:8:\"stdClass\":3:{s:7:\"success\";b:1;s:7:\"message\";s:7:\"message\";s:4:\"slug\";s:4:\"slug\";}}s:7:\"message\";s:7:\"message\";s:14:\"incidentNumber\";s:14:\"incidentNumber\";}}s:19:\"RerouteTargetStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"slug\";i:1;s:7:\"success\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"slug\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"User
  name or escalation policy slug\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"success\";b:1;s:7:\"message\";s:7:\"message\";s:4:\"slug\";s:4:\"slug\";}}s:7:\"Contact\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ContactType\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:2:\"id\";d:1.4658129805029452;s:4:\"type\";O:8:\"stdClass\":0:{}}}s:20:\"PagingPolicyStepRule\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"index\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NotificationType\";}s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}}s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"contact\";O:8:\"stdClass\":2:{s:2:\"id\";d:1.4658129805029452;s:4:\"type\";O:8:\"stdClass\":0:{}}s:5:\"index\";d:6.0274561830704032;s:4:\"type\";s:5:\"email\";}}s:23:\"PagingPolicyStepRuleAdd\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NotificationType\";}s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"contact\";O:8:\"stdClass\":2:{s:2:\"id\";d:1.4658129805029452;s:4:\"type\";O:8:\"stdClass\":0:{}}s:4:\"type\";s:5:\"email\";}}s:16:\"PagingPolicyStep\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"index\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"timeout\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TimeoutType\";}s:5:\"rules\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PagingPolicyStepRule\";}}}s:7:\"example\";O:8:\"stdClass\":3:{s:5:\"index\";d:0.8008281904610115;s:5:\"rules\";a:2:{i:0;O:8:\"stdClass\":3:{s:7:\"contact\";O:8:\"stdClass\":2:{s:2:\"id\";d:1.4658129805029452;s:4:\"type\";O:8:\"stdClass\":0:{}}s:5:\"index\";d:6.0274561830704032;s:4:\"type\";s:5:\"email\";}i:1;O:8:\"stdClass\":3:{s:7:\"contact\";O:8:\"stdClass\":2:{s:2:\"id\";d:1.4658129805029452;s:4:\"type\";O:8:\"stdClass\":0:{}}s:5:\"index\";d:6.0274561830704032;s:4:\"type\";s:5:\"email\";}}s:7:\"timeout\";O:8:\"stdClass\":0:{}}}s:16:\"UserPagingPolicy\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PagingPolicyStep\";}}s:15:\"TeamAndPolicies\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"team\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Team\";}s:8:\"policies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EscalationPolicy\";}}}}s:15:\"AddGroupPayload\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"timeout\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TimeoutType\";}s:5:\"rules\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/PagingPolicyStepRuleAdd\";}}}s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"rules\";a:2:{i:0;O:8:\"stdClass\":2:{s:7:\"contact\";O:8:\"stdClass\":2:{s:2:\"id\";d:1.4658129805029452;s:4:\"type\";O:8:\"stdClass\":0:{}}s:4:\"type\";s:5:\"email\";}i:1;O:8:\"stdClass\":2:{s:7:\"contact\";O:8:\"stdClass\":2:{s:2:\"id\";d:1.4658129805029452;s:4:\"type\";O:8:\"stdClass\":0:{}}s:4:\"type\";s:5:\"email\";}}s:7:\"timeout\";O:8:\"stdClass\":0:{}}}s:14:\"AddStepPayload\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NotificationType\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"contact\";O:8:\"stdClass\":2:{s:2:\"id\";d:1.4658129805029452;s:4:\"type\";O:8:\"stdClass\":0:{}}s:4:\"type\";s:5:\"email\";}}s:11:\"ContactType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"email\";i:1;s:5:\"phone\";}}s:18:\"ContactDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:13:\"Email
  Address\";i:1;s:12:\"Phone Number\";}}s:13:\"ContactObject\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ContactType\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContactDescription\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":0:{}s:4:\"type\";O:8:\"stdClass\":0:{}}}s:16:\"NotificationType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"email\";s:4:\"enum\";a:4:{i:0;s:4:\"push\";i:1;s:5:\"email\";i:2;s:3:\"sms\";i:3;s:5:\"phone\";}}s:23:\"NotificationDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:42:\"Send
  a push notification to all my devices\";i:1;s:33:\"Send an email to an email address\";i:2;s:29:\"Send
  an SMS to a phone number\";i:3;s:35:\"Make a phone call to a phone number\";}}s:18:\"NotificationObject\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NotificationType\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/NotificationDescription\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"email\";}}s:11:\"TimeoutType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:4:\"enum\";a:9:{i:0;s:1:\"1\";i:1;s:1:\"5\";i:2;s:2:\"10\";i:3;s:2:\"15\";i:4;s:2:\"20\";i:5;s:2:\"25\";i:6;s:2:\"30\";i:7;s:2:\"45\";i:8;s:2:\"60\";}}s:18:\"TimeoutDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:31:\"If
  still unacked after 1 minute\";i:1;s:31:\"If still unacked after 5 minute\";i:2;s:32:\"If
  still unacked after 10 minute\";i:3;s:32:\"If still unacked after 15 minute\";i:4;s:32:\"If
  still unacked after 20 minute\";i:5;s:32:\"If still unacked after 25 minute\";i:6;s:32:\"If
  still unacked after 30 minute\";i:7;s:32:\"If still unacked after 45 minute\";i:8;s:32:\"If
  still unacked after 60 minute\";}}s:13:\"TimeoutObject\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TimeoutType\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TimeoutDescription\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":0:{}s:4:\"type\";O:8:\"stdClass\":0:{}}}s:19:\"inline_response_200\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"notificationTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/NotificationObject\";}}s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:17:\"notificationTypes\";a:2:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"email\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"email\";}}}}s:21:\"inline_response_200_1\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"contactTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContactObject\";}}s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:12:\"contactTypes\";a:2:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":0:{}s:4:\"type\";O:8:\"stdClass\":0:{}}i:1;O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":0:{}s:4:\"type\";O:8:\"stdClass\":0:{}}}}}s:21:\"inline_response_200_2\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"timeoutTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TimeoutObject\";}}s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:12:\"timeoutTypes\";a:2:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":0:{}s:4:\"type\";O:8:\"stdClass\":0:{}}i:1;O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":0:{}s:4:\"type\";O:8:\"stdClass\":0:{}}}}}s:21:\"inline_response_200_3\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"steps\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/UserPagingPolicy\";}s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:5:\"steps\";s:0:\"\";}}s:21:\"inline_response_200_4\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"step\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PagingPolicyStep\";}s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:4:\"step\";O:8:\"stdClass\":3:{s:5:\"index\";d:0.8008281904610115;s:5:\"rules\";a:2:{i:0;O:8:\"stdClass\":3:{s:7:\"contact\";O:8:\"stdClass\":2:{s:2:\"id\";d:1.4658129805029452;s:4:\"type\";O:8:\"stdClass\":0:{}}s:5:\"index\";d:6.0274561830704032;s:4:\"type\";s:5:\"email\";}i:1;O:8:\"stdClass\":3:{s:7:\"contact\";O:8:\"stdClass\":2:{s:2:\"id\";d:1.4658129805029452;s:4:\"type\";O:8:\"stdClass\":0:{}}s:5:\"index\";d:6.0274561830704032;s:4:\"type\";s:5:\"email\";}}s:7:\"timeout\";O:8:\"stdClass\":0:{}}}}s:21:\"inline_response_200_5\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"stepRule\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PagingPolicyStepRule\";}s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:8:\"stepRule\";O:8:\"stdClass\":3:{s:7:\"contact\";O:8:\"stdClass\":2:{s:2:\"id\";d:1.4658129805029452;s:4:\"type\";O:8:\"stdClass\":0:{}}s:5:\"index\";d:6.0274561830704032;s:4:\"type\";s:5:\"email\";}}}s:21:\"inline_response_200_6\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"devices\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContactDevice\";}}s:6:\"emails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UserContact\";}}s:6:\"phones\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UserContact\";}}}s:7:\"example\";O:8:\"stdClass\":3:{s:6:\"emails\";a:2:{i:0;O:8:\"stdClass\":4:{s:10:\"deviceType\";s:10:\"deviceType\";s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:5:\"label\";s:5:\"label\";s:5:\"extId\";s:5:\"extId\";}i:1;O:8:\"stdClass\":4:{s:10:\"deviceType\";s:10:\"deviceType\";s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:5:\"label\";s:5:\"label\";s:5:\"extId\";s:5:\"extId\";}}s:7:\"devices\";a:2:{i:0;O:8:\"stdClass\":4:{s:10:\"deviceType\";s:10:\"deviceType\";s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:5:\"label\";s:5:\"label\";s:5:\"extId\";s:5:\"extId\";}i:1;O:8:\"stdClass\":4:{s:10:\"deviceType\";s:10:\"deviceType\";s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:5:\"label\";s:5:\"label\";s:5:\"extId\";s:5:\"extId\";}}s:6:\"phones\";a:2:{i:0;O:8:\"stdClass\":4:{s:10:\"deviceType\";s:10:\"deviceType\";s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:5:\"label\";s:5:\"label\";s:5:\"extId\";s:5:\"extId\";}i:1;O:8:\"stdClass\":4:{s:10:\"deviceType\";s:10:\"deviceType\";s:8:\"_selfUrl\";s:8:\"_selfUrl\";s:5:\"label\";s:5:\"label\";s:5:\"extId\";s:5:\"extId\";}}}}s:21:\"inline_response_200_7\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"teamsOnCall\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/OnCallTeamsResource\";}}}s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"teamsOnCall\";a:2:{i:0;O:8:\"stdClass\":2:{s:9:\"onCallNow\";a:2:{i:0;O:8:\"stdClass\":2:{s:16:\"escalationPolicy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:5:\"users\";a:2:{i:0;O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}i:1;O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}}i:1;O:8:\"stdClass\":2:{s:16:\"escalationPolicy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:5:\"users\";a:2:{i:0;O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}i:1;O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}}}s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}i:1;O:8:\"stdClass\":2:{s:9:\"onCallNow\";a:2:{i:0;O:8:\"stdClass\":2:{s:16:\"escalationPolicy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:5:\"users\";a:2:{i:0;O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}i:1;O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}}i:1;O:8:\"stdClass\":2:{s:16:\"escalationPolicy\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}s:5:\"users\";a:2:{i:0;O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}i:1;O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}}}}s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"name\";s:4:\"slug\";s:4:\"slug\";}}}}}s:30:\"OnCallUsersResource_onCallUser\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"username\";s:8:\"username\";}}s:13:\"UserLog_total\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"hours\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"minutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"hours\";d:0.8008281904610115;s:7:\"minutes\";d:6.0274561830704032;}}}"
...
