---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:9:\"VictorOps\";}s:11:\"description\";s:557:\"This
  API allows you to interact with the VictorOps platform in various ways. Your account
  may be limited\nto a total number of API calls per month. Also, some of these API
  calls have rate limits.\n\nNOTE: In this documentation when creating a sample curl
  request (clicking the TRY IT OUT! button), in some API\nviewing interfaces, the
  '@' in an email address may be encoded. Please note that the REST endpoints will
  not\nprocess the encoded version. Make sure that the encoded character '%40' is
  changed to its unencoded form before\nsubmitting the curl request.\n\";s:5:\"title\";s:9:\"VictorOps\";s:7:\"version\";s:5:\"0.0.2\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"developer_tools\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_VictorOps_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:66:\"https://portal.victorops.com/public/api-docs/victorops-api-v1.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"victorops.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"victorops\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.victorops.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":91:{s:25:\"AckOrResolveByUserRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"userName\";}s:4:\"type\";s:6:\"object\";}s:19:\"AckOrResolveRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"incidentNames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"userName\";i:1;s:13:\"incidentNames\";}s:4:\"type\";s:6:\"object\";}s:20:\"AckOrResolveResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  results of ack/resolve for each incident\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AckOrResolveResult\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AckOrResolveResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  results of ack/resolve for a individual incident\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"cmdAccepted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"entityId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"incidentNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"AckUser\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"A
  JSON object with first/last name and email of the user that acknowledged the incident.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"first\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"last\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ActiveIncidentInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Incidents
  contain the following fields (all should be considered optional)\";s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"alertCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  number of alerts received for this incident\";s:4:\"type\";s:6:\"number\";}s:12:\"currentPhase\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  current phase of the incident \"resolved\", \"triggered\" or \"acknowledged\".\";s:4:\"type\";s:6:\"string\";}s:8:\"entityId\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  unique identification of the entity being monitored that caused the incident\";s:4:\"type\";s:6:\"string\";}s:4:\"host\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  host on which the incident occurred\";s:4:\"type\";s:6:\"string\";}s:14:\"incidentNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  VictorOps incident number\";s:4:\"type\";s:6:\"string\";}s:11:\"lastAlertId\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  unique id of the last alert for the incident\";s:4:\"type\";s:6:\"string\";}s:13:\"lastAlertTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  time of the last alert received for the incident\";s:4:\"type\";s:6:\"string\";}s:13:\"pagedPolicies\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  escalation policies that were triggered for the incident\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EscalationPolicyInfo\";}s:4:\"type\";s:5:\"array\";}s:10:\"pagedTeams\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  teams that were paged for the incident\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"pagedUsers\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  users that were paged for the incident.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  service name causing the incident (if any)\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  time the incident started\";s:4:\"type\";s:6:\"string\";}s:11:\"transitions\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Transitions
  of the incident state over time\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/IncidentTransition\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ActiveIncidentList\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  list of incidents in various states\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"incidents\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  incident data\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ActiveIncidentInfo\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AddGroupPayload\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"rules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/PagingPolicyStepRuleAdd\";}s:4:\"type\";s:5:\"array\";}s:7:\"timeout\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TimeoutType\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AddStepPayload\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NotificationType\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AddTeamMemberPayload\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  user information\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"username\";}s:4:\"type\";s:6:\"object\";}s:14:\"AddTeamPayload\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  team information\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:15:\"AddTeamResponse\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TeamDetail\";}s:14:\"AddUserPayload\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  user information\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"admin\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"email\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:15:\"expirationHours\";O:8:\"stdClass\":3:{s:7:\"default\";i:24;s:11:\"description\";s:84:\"The
  validity duration for the invitatation/set password link sent to the added user.\";s:4:\"type\";s:6:\"number\";}s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:9:\"firstName\";i:1;s:8:\"lastName\";i:2;s:8:\"username\";i:3;s:5:\"email\";}s:4:\"type\";s:6:\"object\";}s:15:\"AddUserResponse\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/V1User\";}s:18:\"AlertBatchResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  collection of requested alerts\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"alerts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/GetAlertResponse\";}s:4:\"type\";s:5:\"array\";}s:9:\"requestId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"requestSize\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"responseSize\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"AlertId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"AlertRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"alertId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"alertId\";}s:4:\"type\";s:6:\"object\";}s:7:\"Contact\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ContactType\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ContactDescription\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:13:\"Email
  Address\";i:1;s:12:\"Phone Number\";}s:4:\"type\";s:6:\"string\";}s:13:\"ContactDevice\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deviceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"extId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ContactDeviceAdd\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  contact device\";s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"chat_escalation_sound\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"device_label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"escalation_notification_sound\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"resolved_notification_sound\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ContactEmailAdd\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  contact email\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:5:\"label\";i:1;s:5:\"email\";}s:4:\"type\";s:6:\"object\";}s:13:\"ContactObject\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContactDescription\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ContactType\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ContactPhoneAdd\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  contact phone\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rank\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:5:\"label\";i:1;s:5:\"phone\";}s:4:\"type\";s:6:\"object\";}s:11:\"ContactType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:5:\"email\";i:1;s:5:\"phone\";}s:4:\"type\";s:6:\"string\";}s:30:\"CreateBatchAlertRequestPayload\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  collection of IDs (uuid) for the alerts to be returned\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"alertIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/AlertId\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateIncidentRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"targets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/IncidentTarget\";}s:4:\"type\";s:5:\"array\";}s:8:\"userName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:7:\"summary\";i:1;s:7:\"details\";i:2;s:8:\"userName\";i:3;s:7:\"targets\";}s:4:\"type\";s:6:\"object\";}s:15:\"CreatedIncident\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"An
  error message\";s:4:\"type\";s:6:\"string\";}s:14:\"incidentNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  VictorOps incident number\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteUserPayload\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  information about what to do with the deleted user\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"replacement\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  user to take the place of the deleted user in escalations\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"replacement\";}s:4:\"type\";s:6:\"object\";}s:16:\"EscalationPolicy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"EscalationPolicyInfo\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"policy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EscalationPolicy\";}s:4:\"team\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Team\";}}s:8:\"required\";a:1:{i:0;s:6:\"policy\";}s:4:\"type\";s:6:\"object\";}s:24:\"EscalationPolicyInfoList\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"policies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EscalationPolicyInfo\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"policies\";}s:4:\"type\";s:6:\"object\";}s:20:\"EscalationPolicyList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"policies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EscalationPolicy\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetAlertResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Alert
  details. All fields should be considered optional.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"ackAuthor\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  user that acknowledged the incident.\";s:4:\"type\";s:6:\"string\";}s:6:\"ackMsg\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"A
  user entered comment for the acknowledgment.\";s:4:\"type\";s:6:\"string\";}s:17:\"entityDisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Used
  within VictorOps to display a human-readable name for the entity.\";s:4:\"type\";s:6:\"string\";}s:8:\"entityId\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Identifies
  the entity (host, service, etc.) this alert was about.\n\";s:4:\"type\";s:6:\"string\";}s:11:\"messageType\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  type of alert; INFO, WARNING, ACKNOWLEDGEMENT, CRITICAL, RECOVERY\n\";s:4:\"type\";s:6:\"string\";}s:14:\"monitoringTool\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  name of the monitoring system software (eg. nagios, icinga, sensu, etc.)\";s:4:\"type\";s:6:\"string\";}s:3:\"raw\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  full, raw alert details JSON string (i.e. parse the string into a JSON object)\n\";s:4:\"type\";s:6:\"string\";}s:12:\"stateMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Any
  additional status information from the alert item.\";s:4:\"type\";s:6:\"string\";}s:14:\"stateStartTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  time this entity entered its current state (seconds since epoch).\";s:4:\"type\";s:6:\"number\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Timestamp
  of the alert in seconds since epoch.\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:12:\"IncidentInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Incidents
  contain the following fields (all should be considered optional)\";s:10:\"properties\";O:8:\"stdClass\":16:{s:7:\"ackTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  time of the last acknowledgment of the incident\";s:4:\"type\";s:6:\"string\";}s:7:\"ackUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/AckUser\";}s:9:\"ackUserId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  VictorOps user id of the user that acknowledged the incident\";s:4:\"type\";s:6:\"string\";}s:10:\"alertCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  number of alerts received for this incident\";s:4:\"type\";s:6:\"number\";}s:12:\"currentPhase\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  current phase of the incident \"resolved\", \"triggered\" or \"acknowledged\".\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  time the incident ended\";s:4:\"type\";s:6:\"string\";}s:14:\"entityDispName\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  display name of the entity causing the incident\";s:4:\"type\";s:6:\"string\";}s:8:\"entityId\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  unique identification of the entity being monitored that caused the incident\";s:4:\"type\";s:6:\"string\";}s:10:\"entityType\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  type of entity causing the incident (host/service)\";s:4:\"type\";s:6:\"string\";}s:4:\"host\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  host on which the incident occurred\";s:4:\"type\";s:6:\"string\";}s:14:\"incidentNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  VictorOps incident number\";s:4:\"type\";s:6:\"string\";}s:11:\"lastAlertID\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  unique id of the last alert for the incident\";s:4:\"type\";s:6:\"string\";}s:13:\"lastAlertTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  time of the last alert received for the incident\";s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  service name causing the incident (if any)\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  time the incident started\";s:4:\"type\";s:6:\"string\";}s:5:\"teams\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  teams that were paged for the incident (comma separated).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"IncidentList\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  results of an incident history request\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"incidents\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"An
  array of incident objects matching the search\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/IncidentInfo\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  limit value passed in the request\";s:4:\"type\";s:6:\"number\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  offset passed in the request\";s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  total number of incidents available for this search\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:14:\"IncidentTarget\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"slug\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"User
  name or escalation policy slug\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Type
  of target\";s:4:\"enum\";a:2:{i:0;s:4:\"User\";i:1;s:16:\"EscalationPolicy\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:4:\"slug\";}s:4:\"type\";s:6:\"object\";}s:18:\"IncidentTransition\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  transition of incident state\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"alertId\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  unique alert ID that caused the transition\";s:4:\"type\";s:6:\"string\";}s:8:\"alertUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  URL to retrieve the details of the alert that caused the transition\";s:4:\"type\";s:6:\"string\";}s:2:\"at\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  time of the transition\";s:4:\"type\";s:6:\"string\";}s:2:\"by\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  user that caused the transition (if any)\";s:4:\"type\";s:6:\"string\";}s:8:\"manually\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"If
  the incident transition was caused by a person\";s:4:\"type\";s:7:\"boolean\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  message entered by that user (if any)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  transition name\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListRoutingKeysResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Info
  about routing keys in the org\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"routingKeys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RoutingKeyInfo\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListTeamMembersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  list of members for the team\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"_teamUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"members\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TeamMember\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListTeamResponse\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TeamDetail\";}s:4:\"type\";s:5:\"array\";}s:16:\"ListUserResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Some
  info about the user\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/V1User\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"NotificationDescription\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:42:\"Send
  a push notification to all my devices\";i:1;s:33:\"Send an email to an email address\";i:2;s:29:\"Send
  an SMS to a phone number\";i:3;s:35:\"Make a phone call to a phone number\";}s:4:\"type\";s:6:\"string\";}s:18:\"NotificationObject\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/NotificationDescription\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NotificationType\";}}s:4:\"type\";s:6:\"object\";}s:16:\"NotificationType\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:4:\"push\";i:1;s:5:\"email\";i:2;s:3:\"sms\";i:3;s:5:\"phone\";}s:7:\"example\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:18:\"OnCallAndOverrides\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"overrides\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/TeamScheduleOverlayResource\";}s:4:\"type\";s:5:\"array\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TeamScheduleResource\";}s:4:\"type\";s:5:\"array\";}s:4:\"team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"OnCallEntry\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"onCallType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/OnCallType\";}s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:5:\"rolls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/OnCallRoll\";}s:4:\"type\";s:5:\"array\";}s:12:\"rotationName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"shiftName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"shiftRoll\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  shift roll time (ISO 8601)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"onCallType\";i:1;s:5:\"rolls\";}s:4:\"type\";s:6:\"object\";}s:30:\"OnCallEscalationPolicyResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"OnCallInterval\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"duration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"hours\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"minutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:16:\"escalationPolicy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EscalationPolicy\";}s:3:\"off\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"on\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"OnCallLog\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"end\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"teamSlug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"userLogs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/UserLog\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"OnCallNowResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"escalationPolicy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/OnCallEscalationPolicyResource\";}s:5:\"users\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/OnCallUsersResource\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"OnCallOverride\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"end\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  override end time (ISO 8601)\";s:4:\"type\";s:6:\"string\";}s:14:\"origOnCallUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:18:\"overrideOnCallUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:5:\"start\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  override start time (ISO 8601)\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"OnCallRoll\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"end\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  on-call period end time (ISO 8601)\";s:4:\"type\";s:6:\"string\";}s:6:\"isRoll\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"onCallUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:5:\"start\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  on-call period start time (ISO 8601)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"start\";i:1;s:3:\"end\";i:2;s:6:\"isRoll\";}s:4:\"type\";s:6:\"object\";}s:18:\"OnCallTeamResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OnCallTeamsResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"onCallNow\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OnCallNowResource\";}s:4:\"type\";s:5:\"array\";}s:4:\"team\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/OnCallTeamResource\";}}s:4:\"type\";s:6:\"object\";}s:10:\"OnCallType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:4:\"user\";i:1;s:14:\"rotation_group\";i:2;s:19:\"rotation_group_next\";i:3;s:23:\"rotation_group_previous\";i:4;s:4:\"team\";i:5;s:12:\"team_routing\";i:6;s:7:\"webhook\";i:7;s:5:\"email\";i:8;s:14:\"policy_routing\";}s:4:\"type\";s:6:\"string\";}s:19:\"OnCallUsersResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"onCallUser\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:12:\"PagingPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Paging
  policy fields\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"contactType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"extId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"timeout\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:16:\"PagingPolicyStep\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"index\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"rules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PagingPolicyStepRule\";}s:4:\"type\";s:5:\"array\";}s:7:\"timeout\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TimeoutType\";}}s:4:\"type\";s:6:\"object\";}s:20:\"PagingPolicyStepRule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:5:\"index\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NotificationType\";}}s:4:\"type\";s:6:\"object\";}s:23:\"PagingPolicyStepRuleAdd\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NotificationType\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Policies\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Paging
  policies accociated which this user\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"policies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PagingPolicy\";}s:4:\"type\";s:5:\"array\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PolicySchedule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"overrides\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OnCallOverride\";}s:4:\"type\";s:5:\"array\";}s:6:\"policy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EscalationPolicy\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OnCallEntry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"RelLink\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"rel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"RemoveTeamMemberPayload\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  user information\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"replacement\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"replacement\";}s:4:\"type\";s:6:\"object\";}s:7:\"Reroute\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"incidentNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"targets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/IncidentTarget\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:14:\"incidentNumber\";i:1;s:7:\"targets\";}s:4:\"type\";s:6:\"object\";}s:17:\"RerouteCollection\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"reroutes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Reroute\";}s:4:\"type\";s:5:\"array\";}s:8:\"userName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"userName\";i:1;s:8:\"reroutes\";}s:4:\"type\";s:6:\"object\";}s:13:\"RerouteStatus\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"incidentNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"targetStatus\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/RerouteTargetStatus\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:14:\"incidentNumber\";i:1;s:7:\"success\";i:2;s:12:\"targetStatus\";}s:4:\"type\";s:6:\"object\";}s:21:\"RerouteStatusResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"statuses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RerouteStatus\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"RerouteTargetStatus\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"User
  name or escalation policy slug\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:4:\"slug\";i:1;s:7:\"success\";}s:4:\"type\";s:6:\"object\";}s:14:\"RoutingKeyInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Routing
  keys contain the following fields\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"isDefault\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"routingKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"targets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RoutingKeyTarget\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"RoutingKeyTarget\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Routing
  key target\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"_teamUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"policyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"policySlug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"TakeRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"fromUser\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"toUser\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"fromUser\";i:1;s:6:\"toUser\";}s:4:\"type\";s:6:\"object\";}s:10:\"TakeResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Team\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"TeamAndPolicies\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"policies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EscalationPolicy\";}s:4:\"type\";s:5:\"array\";}s:4:\"team\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Team\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TeamDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Some
  info about the team\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"_membersUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"_policiesUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"isDefaultTeam\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"memberCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TeamMember\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Some
  info about the user\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Whether
  or not this user has set their password (will always be false)\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:12:\"TeamSchedule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"schedules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PolicySchedule\";}s:4:\"type\";s:5:\"array\";}s:4:\"team\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Team\";}}s:4:\"type\";s:6:\"object\";}s:27:\"TeamScheduleOverlayResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"end\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  time the override is scheduled to end\";s:4:\"type\";s:6:\"number\";}s:4:\"orig\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  user scheduled on call (if any)\";s:4:\"type\";s:6:\"string\";}s:4:\"over\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  user overriding the scheduled on call user (if any)\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  time the override is scheduled to start\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:20:\"TeamScheduleResource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"oncall\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  user scheduled on call (if any)\";s:4:\"type\";s:6:\"string\";}s:14:\"overrideoncall\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  user overriding the scheduled on call user (if any)\";s:4:\"type\";s:6:\"string\";}s:10:\"policyType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"rolls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TeamScheduleRollResource\";}s:4:\"type\";s:5:\"array\";}s:12:\"rotationName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"shiftName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"shiftRoll\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:10:\"policyType\";i:1;s:5:\"rolls\";}s:4:\"type\";s:6:\"object\";}s:24:\"TeamScheduleRollResource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"change\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  time the period is scheduled to start\";s:4:\"type\";s:6:\"number\";}s:6:\"isRoll\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"oncall\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  user scheduled on call (if any)\";s:4:\"type\";s:6:\"string\";}s:5:\"until\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  time the period is scheduled to end\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:3:{i:0;s:6:\"change\";i:1;s:5:\"until\";i:2;s:6:\"isRoll\";}s:4:\"type\";s:6:\"object\";}s:18:\"TimeoutDescription\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:31:\"If
  still unacked after 1 minute\";i:1;s:31:\"If still unacked after 5 minute\";i:2;s:32:\"If
  still unacked after 10 minute\";i:3;s:32:\"If still unacked after 15 minute\";i:4;s:32:\"If
  still unacked after 20 minute\";i:5;s:32:\"If still unacked after 25 minute\";i:6;s:32:\"If
  still unacked after 30 minute\";i:7;s:32:\"If still unacked after 45 minute\";i:8;s:32:\"If
  still unacked after 60 minute\";}s:4:\"type\";s:6:\"string\";}s:13:\"TimeoutObject\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TimeoutDescription\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TimeoutType\";}}s:4:\"type\";s:6:\"object\";}s:11:\"TimeoutType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;i:1;i:1;i:5;i:2;i:10;i:3;i:15;i:4;i:20;i:5;i:25;i:6;i:30;i:7;i:45;i:8;i:60;}s:4:\"type\";s:7:\"integer\";}s:4:\"User\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"UserContact\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deviceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"extId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"UserLog\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"adjustedTotal\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"hours\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"minutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:3:\"log\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OnCallInterval\";}s:4:\"type\";s:5:\"array\";}s:5:\"total\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"hours\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"minutes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"UserPagingPolicy\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PagingPolicyStep\";}s:4:\"type\";s:5:\"array\";}s:12:\"UserSchedule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"teamSchedules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TeamSchedule\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"V1User\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Some
  info about the user\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"_selfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"passwordLastUpdated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Whether
  or not this user has set their password (will always be false)\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}"
...
