---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:7:\"version\";s:10:\"2015-08-01\";s:5:\"title\";s:38:\"AppServiceCertificateOrders
  API Client\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/certificateOrders:
    get:
      tags:
      - AppServiceCertificateOrders
      summary: List all certificate orders in a subscription.
      description: List all certificate orders in a subscription.
      operationId: AppServiceCertificateOrders_List
      produces:
      - application/json
      - text/json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AppServiceCertificateOrderCollection'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/validateCertificateRegistrationInformation:
    post:
      tags:
      - AppServiceCertificateOrders
      summary: Validate information for a certificate order.
      description: Validate information for a certificate order.
      operationId: AppServiceCertificateOrders_ValidatePurchaseInformation
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      parameters:
      - name: appServiceCertificateOrder
        in: body
        description: Information for a certificate order.
        required: true
        schema:
          $ref: '#/definitions/AppServiceCertificateOrder'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: No Content
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders:
    get:
      tags:
      - AppServiceCertificateOrders
      summary: Get certificate orders in a resource group.
      description: Get certificate orders in a resource group.
      operationId: AppServiceCertificateOrders_ListByResourceGroup
      produces:
      - application/json
      - text/json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AppServiceCertificateOrderCollection'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}
  : get:
      tags:
      - AppServiceCertificateOrders
      summary: Get a certificate order.
      description: Get a certificate order.
      operationId: AppServiceCertificateOrders_Get
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: certificateOrderName
        in: path
        description: Name of the certificate order..
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AppServiceCertificateOrder'
    put:
      tags:
      - AppServiceCertificateOrders
      summary: Create or update a certificate purchase order.
      description: Create or update a certificate purchase order.
      operationId: AppServiceCertificateOrders_CreateOrUpdate
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: certificateOrderName
        in: path
        description: Name of the certificate order.
        required: true
        type: string
      - name: certificateDistinguishedName
        in: body
        description: Distinguished name to to use for the certificate order.
        required: true
        schema:
          $ref: '#/definitions/AppServiceCertificateOrder'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: App Service Certificate Order is created.
          schema:
            $ref: '#/definitions/AppServiceCertificateOrder'
        201:
          description: App Service Certificate Order creation operation is in progress
          schema:
            $ref: '#/definitions/AppServiceCertificateOrder'
      x-ms-long-running-operation: true
    delete:
      tags:
      - AppServiceCertificateOrders
      summary: Delete an existing certificate order.
      description: Delete an existing certificate order.
      operationId: AppServiceCertificateOrders_Delete
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: certificateOrderName
        in: path
        description: Name of the certificate order.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Succesfully deleted certificate order.
        204:
          description: Certificate order does not exist.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates
  : get:
      tags:
      - AppServiceCertificateOrders
      summary: List all certificates associated with a certificate order.
      description: List all certificates associated with a certificate order.
      operationId: AppServiceCertificateOrders_ListCertificates
      produces:
      - application/json
      - text/json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: certificateOrderName
        in: path
        description: Name of the certificate order.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AppServiceCertificateCollection'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates/{name}
  : get:
      tags:
      - AppServiceCertificateOrders
      summary: Get the certificate associated with a certificate order.
      description: Get the certificate associated with a certificate order.
      operationId: AppServiceCertificateOrders_GetCertificate
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: certificateOrderName
        in: path
        description: Name of the certificate order.
        required: true
        type: string
      - name: name
        in: path
        description: Name of the certificate.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AppServiceCertificateResource'
    put:
      tags:
      - AppServiceCertificateOrders
      summary: Creates or updates a certificate and associates with key vault secret.
      description: Creates or updates a certificate and associates with key vault
        secret.
      operationId: AppServiceCertificateOrders_CreateOrUpdateCertificate
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: certificateOrderName
        in: path
        description: Name of the certificate order.
        required: true
        type: string
      - name: name
        in: path
        description: Name of the certificate.
        required: true
        type: string
      - name: keyVaultCertificate
        in: body
        description: Key vault certificate resource Id.
        required: true
        schema:
          $ref: '#/definitions/AppServiceCertificateResource'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: App Service Certificate is created.
          schema:
            $ref: '#/definitions/AppServiceCertificateResource'
        201:
          description: App Service Certificate creation operation is in progress
          schema:
            $ref: '#/definitions/AppServiceCertificateResource'
      x-ms-long-running-operation: true
    delete:
      tags:
      - AppServiceCertificateOrders
      summary: Delete the certificate associated with a certificate order.
      description: Delete the certificate associated with a certificate order.
      operationId: AppServiceCertificateOrders_DeleteCertificate
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: certificateOrderName
        in: path
        description: Name of the certificate order.
        required: true
        type: string
      - name: name
        in: path
        description: Name of the certificate.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Succesfully deleted certificate.
        204:
          description: Certificate does not exist.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/reissue
  : post:
      tags:
      - AppServiceCertificateOrders
      summary: Reissue an existing certificate order.
      description: Reissue an existing certificate order.
      operationId: AppServiceCertificateOrders_Reissue
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: certificateOrderName
        in: path
        description: Name of the certificate order.
        required: true
        type: string
      - name: reissueCertificateOrderRequest
        in: body
        description: Parameters for the reissue.
        required: true
        schema:
          $ref: '#/definitions/ReissueCertificateOrderRequest'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: No Content
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/renew
  : post:
      tags:
      - AppServiceCertificateOrders
      summary: Renew an existing certificate order.
      description: Renew an existing certificate order.
      operationId: AppServiceCertificateOrders_Renew
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: certificateOrderName
        in: path
        description: Name of the certificate order.
        required: true
        type: string
      - name: renewCertificateOrderRequest
        in: body
        description: Renew parameters
        required: true
        schema:
          $ref: '#/definitions/RenewCertificateOrderRequest'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: No Content
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/resendEmail
  : post:
      tags:
      - AppServiceCertificateOrders
      summary: Resend certificate email.
      description: Resend certificate email.
      operationId: AppServiceCertificateOrders_ResendEmail
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: certificateOrderName
        in: path
        description: Name of the certificate order.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: No Content
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/resendRequestEmails
  : post:
      tags:
      - AppServiceCertificateOrders
      summary: Verify domain ownership for this certificate order.
      description: Verify domain ownership for this certificate order.
      operationId: AppServiceCertificateOrders_ResendRequestEmails
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: certificateOrderName
        in: path
        description: Name of the certificate order.
        required: true
        type: string
      - name: nameIdentifier
        in: body
        description: Email address
        required: true
        schema:
          $ref: '#/definitions/NameIdentifier'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: No Content
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/retrieveSiteSeal
  : post:
      tags:
      - AppServiceCertificateOrders
      summary: Verify domain ownership for this certificate order.
      description: Verify domain ownership for this certificate order.
      operationId: AppServiceCertificateOrders_RetrieveSiteSeal
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: certificateOrderName
        in: path
        description: Name of the certificate order.
        required: true
        type: string
      - name: siteSealRequest
        in: body
        description: Site seal request.
        required: true
        schema:
          $ref: '#/definitions/SiteSealRequest'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SiteSeal'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/verifyDomainOwnership
  : post:
      tags:
      - AppServiceCertificateOrders
      summary: Verify domain ownership for this certificate order.
      description: Verify domain ownership for this certificate order.
      operationId: AppServiceCertificateOrders_VerifyDomainOwnership
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: certificateOrderName
        in: path
        description: Name of the certificate order.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: No Content
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveCertificateActions
  : post:
      tags:
      - AppServiceCertificateOrders
      summary: Retrieve the list of certificate actions.
      description: Retrieve the list of certificate actions.
      operationId: AppServiceCertificateOrders_RetrieveCertificateActions
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the certificate order.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/CertificateOrderAction'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveEmailHistory
  : post:
      tags:
      - AppServiceCertificateOrders
      summary: Retrieve email history.
      description: Retrieve email history.
      operationId: AppServiceCertificateOrders_RetrieveCertificateEmailHistory
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: name
        in: path
        description: Name of the certificate order.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/CertificateEmail'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":14:{s:21:\"AppServiceCertificate\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Key
  Vault container for a certificate that is purchased through Azure.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"keyVaultId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Key
  Vault resource Id.\";s:4:\"type\";s:6:\"string\";}s:18:\"keyVaultSecretName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Key
  Vault secret name.\";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:31:\"Status
  of the Key Vault secret.\";s:4:\"enum\";a:11:{i:0;s:11:\"Initialized\";i:1;s:25:\"WaitingOnCertificateOrder\";i:2;s:9:\"Succeeded\";i:3;s:22:\"CertificateOrderFailed\";i:4;s:31:\"OperationNotPermittedOnKeyVault\";i:5;s:40:\"AzureServiceUnauthorizedToAccessKeyVault\";i:6;s:20:\"KeyVaultDoesNotExist\";i:7;s:26:\"KeyVaultSecretDoesNotExist\";i:8;s:12:\"UnknownError\";i:9;s:18:\"ExternalPrivateKey\";i:10;s:7:\"Unknown\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"KeyVaultSecretStatus\";s:13:\"modelAsString\";b:0;}}}}s:31:\"AppServiceCertificateCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Collection
  of certitificateorder certificates.\";s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/AppServiceCertificateResource\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:4:\"type\";s:6:\"string\";}}}s:26:\"AppServiceCertificateOrder\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"SSL
  certificate purchase order.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"AppServiceCertificateOrder
  resource specific properties\";s:8:\"required\";a:1:{i:0;s:11:\"productType\";}s:10:\"properties\";O:8:\"stdClass\":18:{s:12:\"certificates\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"State
  of the Key Vault secret.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AppServiceCertificate\";}}s:17:\"distinguishedName\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Certificate
  distinguished name.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:23:\"domainVerificationToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Domain
  verification token.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:15:\"validityInYears\";O:8:\"stdClass\":7:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:44:\"Duration
  in years (must be between 1 and 3).\";s:7:\"default\";i:1;s:7:\"maximum\";i:3;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:7:\"keySize\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:21:\"Certificate
  key size.\";s:7:\"default\";i:2048;s:4:\"type\";s:7:\"integer\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:11:\"productType\";O:8:\"stdClass\":5:{s:11:\"description\";s:25:\"Certificate
  product type.\";s:4:\"enum\";a:2:{i:0;s:26:\"StandardDomainValidatedSsl\";i:1;s:34:\"StandardDomainValidatedWildCardSsl\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"CertificateProductType\";s:13:\"modelAsString\";b:0;}s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:9:\"autoRenew\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"<code>true</code>
  if the certificate should be automatically renewed when it expires; otherwise, <code>false</code>.\";s:7:\"default\";b:1;s:4:\"type\";s:7:\"boolean\";}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:28:\"Status
  of certificate order.\";s:4:\"enum\";a:5:{i:0;s:9:\"Succeeded\";i:1;s:6:\"Failed\";i:2;s:8:\"Canceled\";i:3;s:10:\"InProgress\";i:4;s:8:\"Deleting\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"ProvisioningState\";s:13:\"modelAsString\";b:0;}}s:6:\"status\";O:8:\"stdClass\":5:{s:11:\"description\";s:21:\"Current
  order status.\";s:4:\"enum\";a:10:{i:0;s:15:\"Pendingissuance\";i:1;s:6:\"Issued\";i:2;s:7:\"Revoked\";i:3;s:8:\"Canceled\";i:4;s:6:\"Denied\";i:5;s:17:\"Pendingrevocation\";i:6;s:12:\"PendingRekey\";i:7;s:6:\"Unused\";i:8;s:7:\"Expired\";i:9;s:12:\"NotSubmitted\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"CertificateOrderStatus\";s:13:\"modelAsString\";b:0;}}s:17:\"signedCertificate\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/CertificateDetails\";s:11:\"description\";s:19:\"Signed
  certificate.\";s:8:\"readOnly\";b:1;}s:3:\"csr\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Last
  CSR that was created for this order.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:12:\"intermediate\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/CertificateDetails\";s:11:\"description\";s:25:\"Intermediate
  certificate.\";s:8:\"readOnly\";b:1;}s:4:\"root\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/CertificateDetails\";s:11:\"description\";s:17:\"Root
  certificate.\";s:8:\"readOnly\";b:1;}s:12:\"serialNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Current
  serial number of the certificate.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:27:\"lastCertificateIssuanceTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:31:\"Certificate
  last issuance time.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:14:\"expirationTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"Certificate
  expiration time.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:20:\"isPrivateKeyExternal\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"<code>true</code>
  if private key is external; otherwise, <code>false</code>.\";s:4:\"type\";s:7:\"boolean\";}s:40:\"appServiceCertificateNotRenewableReasons\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Reasons
  why App Service Certificate is not renewable at the current moment.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:40:\"RegistrationStatusNotSupportedForRenewal\";i:1;s:31:\"ExpirationNotInRenewalTimeRange\";i:2;s:21:\"SubscriptionNotActive\";}s:4:\"type\";s:6:\"string\";}}}s:19:\"x-ms-client-flatten\";b:1;}}}s:36:\"AppServiceCertificateOrderCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Collection
  of certitificate orders.\";s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/AppServiceCertificateOrder\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:4:\"type\";s:6:\"string\";}}}s:29:\"AppServiceCertificateResource\";O:8:\"stdClass\":4:{s:11:\"description\";s:83:\"Key
  Vault container ARM resource for a certificate that is purchased through Azure.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AppServiceCertificate\";s:19:\"x-ms-client-flatten\";b:1;}}}s:18:\"CertificateDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"SSL
  certificate details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"version\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"Version.\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}s:12:\"serialNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Serial
  Number.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"thumbprint\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Thumbprint.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Subject.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"notBefore\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Valid
  from.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"notAfter\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:9:\"Valid
  to.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:18:\"signatureAlgorithm\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Signature
  algorithm.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:6:\"issuer\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Issuer.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"rawData\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Raw
  certificate data.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:16:\"CertificateEmail\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"SSL
  certificate email.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"CertificateEmail
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"emailId\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Email
  id.\";s:4:\"type\";s:6:\"string\";}s:9:\"timeStamp\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Time
  stamp.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}}s:22:\"CertificateOrderAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Certificate
  order action.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"CertificateOrderAction
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Action
  type.\";s:4:\"enum\";a:14:{i:0;s:17:\"CertificateIssued\";i:1;s:24:\"CertificateOrderCanceled\";i:2;s:23:\"CertificateOrderCreated\";i:3;s:18:\"CertificateRevoked\";i:4;s:24:\"DomainValidationComplete\";i:5;s:13:\"FraudDetected\";i:6;s:13:\"OrgNameChange\";i:7;s:21:\"OrgValidationComplete\";i:8;s:7:\"SanDrop\";i:9;s:12:\"FraudCleared\";i:10;s:18:\"CertificateExpired\";i:11;s:28:\"CertificateExpirationWarning\";i:12;s:26:\"FraudDocumentationRequired\";i:13;s:7:\"Unknown\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"CertificateOrderActionType\";s:13:\"modelAsString\";b:0;}}s:9:\"createdAt\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"Time
  at which the certificate action was performed.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}}s:14:\"NameIdentifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Identifies
  an object.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Name
  of the object.\";s:4:\"type\";s:6:\"string\";}}}s:30:\"ReissueCertificateOrderRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Class
  representing certificate reissue request.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"ReissueCertificateOrderRequest
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"keySize\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:21:\"Certificate
  Key Size.\";s:4:\"type\";s:7:\"integer\";}s:26:\"delayExistingRevokeInHours\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:82:\"Delay
  in hours to revoke existing certificate after the new certificate is issued.\";s:4:\"type\";s:7:\"integer\";}s:3:\"csr\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Csr
  to be used for re-key operation.\";s:4:\"type\";s:6:\"string\";}s:20:\"isPrivateKeyExternal\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Should
  we change the ASC type (from managed private key to external private key and vice
  versa).\";s:4:\"type\";s:7:\"boolean\";}}s:19:\"x-ms-client-flatten\";b:1;}}}s:28:\"RenewCertificateOrderRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Class
  representing certificate renew request.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"RenewCertificateOrderRequest
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"keySize\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:21:\"Certificate
  Key Size.\";s:4:\"type\";s:7:\"integer\";}s:3:\"csr\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Csr
  to be used for re-key operation.\";s:4:\"type\";s:6:\"string\";}s:20:\"isPrivateKeyExternal\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Should
  we change the ASC type (from managed private key to external private key and vice
  versa).\";s:4:\"type\";s:7:\"boolean\";}}s:19:\"x-ms-client-flatten\";b:1;}}}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Azure
  resource.\";s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Resource
  Name.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  Location.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Resource
  type.\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"x-ms-azure-resource\";b:1;}s:8:\"SiteSeal\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"Site
  seal\";s:8:\"required\";a:1:{i:0;s:4:\"html\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"html\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"HTML
  snippet\";s:4:\"type\";s:6:\"string\";s:19:\"x-ms-client-flatten\";b:1;}}}s:15:\"SiteSealRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Site
  seal request.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"lightTheme\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Theme\";s:4:\"type\";s:7:\"boolean\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Locale\";s:4:\"type\";s:6:\"string\";}}}}"
...
