---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2018-07-01\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}:
    delete:
      tags:
      - RouteTables
      operationId: RouteTables_Delete
      description: Deletes the specified route table.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: routeTableName
        in: path
        required: true
        type: string
        description: The name of the route table.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: Request successful. Resource does not exist.
        200:
          description: Request successful. Operation to delete was accepted.
        202:
          description: Accepted. If route table not found returned synchronously,
            otherwise if found returned asynchronously.
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete route table:
          $ref: ./examples/RouteTableDelete.json
    get:
      tags:
      - RouteTables
      operationId: RouteTables_Get
      description: Gets the specified route table.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: routeTableName
        in: path
        required: true
        type: string
        description: The name of the route table.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: $expand
        in: query
        required: false
        type: string
        description: Expands referenced resources.
      responses:
        200:
          description: Request successful. The operation returns the resulting RouteTable
            resource.
          schema:
            $ref: '#/definitions/RouteTable'
      x-ms-examples:
        Get route table:
          $ref: ./examples/RouteTableGet.json
    put:
      tags:
      - RouteTables
      operationId: RouteTables_CreateOrUpdate
      description: Create or updates a route table in a specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: routeTableName
        in: path
        required: true
        type: string
        description: The name of the route table.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/RouteTable'
        description: Parameters supplied to the create or update route table operation.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns the resulting RouteTable
            resource.
          schema:
            $ref: '#/definitions/RouteTable'
        201:
          description: Create successful. The operation returns the resulting RouteTable
            resource.
          schema:
            $ref: '#/definitions/RouteTable'
      x-ms-examples:
        Create route table:
          $ref: ./examples/RouteTableCreate.json
        Create route table with route:
          $ref: ./examples/RouteTableCreateWithRoute.json
      x-ms-long-running-operation: true
    patch:
      tags:
      - RouteTables
      operationId: RouteTables_UpdateTags
      description: Updates a route table tags.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: routeTableName
        in: path
        required: true
        type: string
        description: The name of the route table.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update route table tags.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns the resulting RouteTable
            resource.
          schema:
            $ref: '#/definitions/RouteTable'
      x-ms-examples:
        Update route table tags:
          $ref: ./examples/RouteTableUpdateTags.json
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables:
    get:
      tags:
      - RouteTables
      operationId: RouteTables_List
      description: Gets all route tables in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of RouteTable
            resources.
          schema:
            $ref: '#/definitions/RouteTableListResult'
      x-ms-examples:
        List route tables in resource group:
          $ref: ./examples/RouteTableList.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/routeTables:
    get:
      tags:
      - RouteTables
      operationId: RouteTables_ListAll
      description: Gets all route tables in a subscription.
      parameters:
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of RouteTable
            resources.
          schema:
            $ref: '#/definitions/RouteTableListResult'
      x-ms-examples:
        List all route tables:
          $ref: ./examples/RouteTableListAll.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}/routes/{routeName}
  : delete:
      tags:
      - Routes
      operationId: Routes_Delete
      description: Deletes the specified route from a route table.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: routeTableName
        in: path
        required: true
        type: string
        description: The name of the route table.
      - name: routeName
        in: path
        required: true
        type: string
        description: The name of the route.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        202:
          description: Accepted and the operation will complete asynchronously.
        200:
          description: Accepted.
        204:
          description: Route was deleted or not found.
      x-ms-examples:
        Delete route:
          $ref: ./examples/RouteTableRouteDelete.json
      x-ms-long-running-operation: true
    get:
      tags:
      - Routes
      operationId: Routes_Get
      description: Gets the specified route from a route table.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: routeTableName
        in: path
        required: true
        type: string
        description: The name of the route table.
      - name: routeName
        in: path
        required: true
        type: string
        description: The name of the route.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns the resulting Route
            resource.
          schema:
            $ref: '#/definitions/Route'
      x-ms-examples:
        Get route:
          $ref: ./examples/RouteTableRouteGet.json
    put:
      tags:
      - Routes
      operationId: Routes_CreateOrUpdate
      description: Creates or updates a route in the specified route table.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: routeTableName
        in: path
        required: true
        type: string
        description: The name of the route table.
      - name: routeName
        in: path
        required: true
        type: string
        description: The name of the route.
      - name: routeParameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Route'
        description: Parameters supplied to the create or update route operation.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Update successful. The operation returns the resulting Route
            resource.
          schema:
            $ref: '#/definitions/Route'
        201:
          description: Create successful. The operation returns the resulting Route
            resource.
          schema:
            $ref: '#/definitions/Route'
      x-ms-examples:
        Create route:
          $ref: ./examples/RouteTableRouteCreate.json
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}/routes
  : get:
      tags:
      - Routes
      operationId: Routes_List
      description: Gets all routes in a route table.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: routeTableName
        in: path
        required: true
        type: string
        description: The name of the route table.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of Route resources.
          schema:
            $ref: '#/definitions/RouteListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List routes:
          $ref: ./examples/RouteTableRouteList.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:21:\"RoutePropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"addressPrefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  destination CIDR to which the route applies.\";}s:11:\"nextHopType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:153:\"The
  type of Azure hop the packet should be sent to. Possible values are: 'VirtualNetworkGateway',
  'VnetLocal', 'Internet', 'VirtualAppliance', and 'None'\";s:4:\"enum\";a:5:{i:0;s:21:\"VirtualNetworkGateway\";i:1;s:9:\"VnetLocal\";i:2;s:8:\"Internet\";i:3;s:16:\"VirtualAppliance\";i:4;s:4:\"None\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"RouteNextHopType\";s:13:\"modelAsString\";b:1;}}s:16:\"nextHopIpAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:134:\"The
  IP address packets should be forwarded to. Next hop values are only allowed in routes
  where the next hop type is VirtualAppliance.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"The
  provisioning state of the resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";}}s:8:\"required\";a:1:{i:0;s:11:\"nextHopType\";}s:11:\"description\";s:14:\"Route
  resource\";}s:5:\"Route\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:35:\"#/definitions/RoutePropertiesFormat\";s:11:\"description\";s:24:\"Properties
  of the route.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}}s:11:\"description\";s:14:\"Route
  resource\";}s:26:\"RouteTablePropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"routes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Route\";}s:11:\"description\";s:52:\"Collection
  of routes contained within a route table.\";}s:7:\"subnets\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"./virtualNetwork.json#/definitions/Subnet\";}s:11:\"description\";s:38:\"A
  collection of references to subnets.\";}s:26:\"disableBgpRoutePropagation\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:98:\"Gets
  or sets whether to disable the routes learned by BGP on that route table. True means
  disable.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"The
  provisioning state of the resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";}}s:11:\"description\";s:20:\"Route Table resource\";}s:10:\"RouteTable\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:40:\"#/definitions/RouteTablePropertiesFormat\";s:11:\"description\";s:30:\"Properties
  of the route table.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Gets
  a unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"./network.json#/definitions/Resource\";}}s:11:\"description\";s:21:\"Route
  table resource.\";}s:20:\"RouteTableListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/RouteTable\";}s:11:\"description\";s:48:\"Gets
  a list of route tables in a resource group.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:49:\"Response for
  the ListRouteTable API service call.\";}s:15:\"RouteListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Route\";}s:11:\"description\";s:42:\"Gets
  a list of routes in a resource group.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:43:\"Response for
  the ListRoute API service call\";}}"
...
