---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:18:\"2019-06-15-preview\";s:5:\"title\";s:19:\"CdnManagementClient\";s:11:\"description\";s:149:\"Use
  these APIs to manage Azure CDN resources through the Azure Resource Manager. You
  must make sure that requests made to these resources are secure.\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Cdn/profiles:
    get:
      tags:
      - Profiles
      description: Lists all of the CDN profiles within an Azure subscription.
      operationId: Profiles_List
      x-ms-examples:
        Profiles_List:
          $ref: ./examples/Profiles_List.json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ProfileListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles:
    get:
      tags:
      - Profiles
      description: Lists all of the CDN profiles within a resource group.
      operationId: Profiles_ListByResourceGroup
      x-ms-examples:
        Profiles_ListByResourceGroup:
          $ref: ./examples/Profiles_ListByResourceGroup.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ProfileListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}:
    get:
      tags:
      - Profiles
      description: Gets a CDN profile with the specified profile name under the specified
        subscription and resource group.
      operationId: Profiles_Get
      x-ms-examples:
        Profiles_Get:
          $ref: ./examples/Profiles_Get.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Profile'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
      - Profiles
      description: Creates a new CDN profile with a profile name under the specified
        subscription and resource group.
      operationId: Profiles_Create
      x-ms-examples:
        Profiles_Create:
          $ref: ./examples/Profiles_Create.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - description: Profile properties needed to create a new profile.
        in: body
        name: profile
        required: true
        schema:
          $ref: '#/definitions/Profile'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Profile'
        201:
          description: Created. The request has been fulfilled and a new profile has
            been created.
          schema:
            $ref: '#/definitions/Profile'
        202:
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/Profile'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
    patch:
      tags:
      - Profiles
      description: Updates an existing CDN profile with the specified profile name
        under the specified subscription and resource group.
      operationId: Profiles_Update
      x-ms-examples:
        Profiles_Update:
          $ref: ./examples/Profiles_Update.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: profileUpdateParameters
        in: body
        description: Profile properties needed to update an existing profile.
        required: true
        schema:
          $ref: '#/definitions/ProfileUpdateParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Profile'
        202:
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/Profile'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
    delete:
      tags:
      - Profiles
      description: Deletes an existing CDN profile with the specified parameters.
        Deleting a profile will result in the deletion of all of the sub-resources
        including endpoints, origins and custom domains.
      operationId: Profiles_Delete
      x-ms-examples:
        Profiles_Delete:
          $ref: ./examples/Profiles_Delete.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        202:
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
        204:
          description: No Content. The request has been accepted but the profile was
            not found.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/generateSsoUri:
    post:
      tags:
      - Profiles
      description: Generates a dynamic SSO URI used to sign in to the CDN supplemental
        portal. Supplemental portal is used to configure advanced feature capabilities
        that are not yet available in the Azure portal, such as core reports in a
        standard profile; rules engine, advanced HTTP reports, and real-time stats
        and alerts in a premium profile. The SSO URI changes approximately every 10
        minutes.
      operationId: Profiles_GenerateSsoUri
      x-ms-examples:
        Profiles_GenerateSsoUri:
          $ref: ./examples/Profiles_GenerateSsoUri.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/SsoUri'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getSupportedOptimizationTypes
  : post:
      tags:
      - Profiles
      description: Gets the supported optimization types for the current profile.
        A user can create an endpoint with an optimization type from the listed values.
      operationId: Profiles_ListSupportedOptimizationTypes
      x-ms-examples:
        Profiles_ListSupportedOptimizationTypes:
          $ref: ./examples/Profiles_ListSupportedOptimizationTypes.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/SupportedOptimizationTypesListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/checkResourceUsage
  : post:
      tags:
      - Profiles
      description: Checks the quota and actual usage of endpoints under the given
        CDN profile.
      operationId: Profiles_ListResourceUsage
      x-ms-examples:
        Profiles_ListResourceUsage:
          $ref: ./examples/Profiles_ListResourceUsage.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ResourceUsageListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints:
    get:
      tags:
      - Endpoints
      description: Lists existing CDN endpoints.
      operationId: Endpoints_ListByProfile
      x-ms-examples:
        Endpoints_ListByProfile:
          $ref: ./examples/Endpoints_ListByProfile.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/EndpointListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}
  : get:
      tags:
      - Endpoints
      description: Gets an existing CDN endpoint with the specified endpoint name
        under the specified subscription, resource group and profile.
      operationId: Endpoints_Get
      x-ms-examples:
        Endpoints_Get:
          $ref: ./examples/Endpoints_Get.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Endpoint'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
      - Endpoints
      description: Creates a new CDN endpoint with the specified endpoint name under
        the specified subscription, resource group and profile.
      operationId: Endpoints_Create
      x-ms-examples:
        Endpoints_Create:
          $ref: ./examples/Endpoints_Create.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - name: endpoint
        in: body
        description: Endpoint properties
        required: true
        schema:
          $ref: '#/definitions/Endpoint'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Endpoint'
        201:
          description: Created. The request has been fulfilled and a new endpoint
            has been created.
          schema:
            $ref: '#/definitions/Endpoint'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/Endpoint'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
    patch:
      tags:
      - Endpoints
      description: Updates an existing CDN endpoint with the specified endpoint name
        under the specified subscription, resource group and profile. Only tags and
        Origin HostHeader can be updated after creating an endpoint. To update origins,
        use the Update Origin operation. To update custom domains, use the Update
        Custom Domain operation.
      operationId: Endpoints_Update
      x-ms-examples:
        Endpoints_Update:
          $ref: ./examples/Endpoints_Update.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - name: endpointUpdateProperties
        in: body
        description: Endpoint update properties
        required: true
        schema:
          $ref: '#/definitions/EndpointUpdateParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Endpoint'
        202:
          description: Accepted and the operation will complete asynchronously
          schema:
            $ref: '#/definitions/Endpoint'
        default:
          description: CDN error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
    delete:
      tags:
      - Endpoints
      description: Deletes an existing CDN endpoint with the specified endpoint name
        under the specified subscription, resource group and profile.
      operationId: Endpoints_Delete
      x-ms-examples:
        Endpoints_Delete:
          $ref: ./examples/Endpoints_Delete.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        202:
          description: Accepted and the operation will complete asynchronously.
        204:
          description: No Content. The request has been accepted but the endpoint
            was not found.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/start
  : post:
      tags:
      - Endpoints
      description: Starts an existing CDN endpoint that is on a stopped state.
      operationId: Endpoints_Start
      x-ms-examples:
        Endpoints_Start:
          $ref: ./examples/Endpoints_Start.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Endpoint'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/Endpoint'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/stop
  : post:
      tags:
      - Endpoints
      description: Stops an existing running CDN endpoint.
      operationId: Endpoints_Stop
      x-ms-examples:
        Endpoints_Stop:
          $ref: ./examples/Endpoints_Stop.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Endpoint'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/Endpoint'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/purge
  : post:
      tags:
      - Endpoints
      description: Removes a content from CDN.
      operationId: Endpoints_PurgeContent
      x-ms-examples:
        Endpoints_PurgeContent:
          $ref: ./examples/Endpoints_PurgeContent.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - name: contentFilePaths
        in: body
        description: The path to the content to be purged. Path can be a full URL,
          e.g. '/pictures/city.png' which removes a single file, or a directory with
          a wildcard, e.g. '/pictures/*' which removes all folders and files in the
          directory.
        required: true
        schema:
          $ref: '#/definitions/PurgeParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
        202:
          description: Accepted and the operation will complete asynchronously.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/load
  : post:
      tags:
      - Endpoints
      description: Pre-loads a content to CDN. Available for Verizon Profiles.
      operationId: Endpoints_LoadContent
      x-ms-examples:
        Endpoints_LoadContent:
          $ref: ./examples/Endpoints_LoadContent.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - name: contentFilePaths
        in: body
        description: 'The path to the content to be loaded. Path should be a full
          URL, e.g. u2018/pictures/city.png'' which loads a single file '
        required: true
        schema:
          $ref: '#/definitions/LoadParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
        202:
          description: Accepted and the operation will complete asynchronously.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/validateCustomDomain
  : post:
      tags:
      - Endpoints
      description: Validates the custom domain mapping to ensure it maps to the correct
        CDN endpoint in DNS.
      operationId: Endpoints_ValidateCustomDomain
      x-ms-examples:
        Endpoints_ValidateCustomDomain:
          $ref: ./examples/Endpoints_ValidateCustomDomain.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - name: customDomainProperties
        in: body
        description: Custom domain to be validated.
        required: true
        schema:
          $ref: '#/definitions/ValidateCustomDomainInput'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ValidateCustomDomainOutput'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/checkResourceUsage
  : post:
      tags:
      - Endpoints
      description: Checks the quota and usage of geo filters and custom domains under
        the given endpoint.
      operationId: Endpoints_ListResourceUsage
      x-ms-examples:
        Endpoints_ListResourceUsage:
          $ref: ./examples/Endpoints_ListResourceUsage.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ResourceUsageListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/origins
  : get:
      tags:
      - Origins
      description: Lists all of the existing origins within an endpoint.
      operationId: Origins_ListByEndpoint
      x-ms-examples:
        Origins_ListByEndpoint:
          $ref: ./examples/Origins_ListByEndpoint.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OriginListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/origins/{originName}
  : get:
      tags:
      - Origins
      description: Gets an existing origin within an endpoint.
      operationId: Origins_Get
      x-ms-examples:
        Origins_Get:
          $ref: ./examples/Origins_Get.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - name: originName
        in: path
        description: Name of the origin which is unique within the endpoint.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Origin'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
      - Origins
      description: Updates an existing origin within an endpoint.
      operationId: Origins_Update
      x-ms-examples:
        Origins_Update:
          $ref: ./examples/Origins_Update.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - name: originName
        in: path
        description: Name of the origin which is unique within the endpoint.
        required: true
        type: string
      - name: originUpdateProperties
        in: body
        description: Origin properties
        required: true
        schema:
          $ref: '#/definitions/OriginUpdateParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Origin'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/Origin'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains
  : get:
      tags:
      - CustomDomains
      description: Lists all of the existing custom domains within an endpoint.
      operationId: CustomDomains_ListByEndpoint
      x-ms-examples:
        CustomDomains_ListByEndpoint:
          $ref: ./examples/CustomDomains_ListByEndpoint.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/CustomDomainListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}
  : get:
      tags:
      - CustomDomains
      description: Gets an existing custom domain within an endpoint.
      operationId: CustomDomains_Get
      x-ms-examples:
        CustomDomains_Get:
          $ref: ./examples/CustomDomains_Get.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - name: customDomainName
        in: path
        description: Name of the custom domain within an endpoint.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/CustomDomain'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
      - CustomDomains
      description: Creates a new custom domain within an endpoint.
      operationId: CustomDomains_Create
      x-ms-examples:
        CustomDomains_Create:
          $ref: ./examples/CustomDomains_Create.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - name: customDomainName
        in: path
        description: Name of the custom domain within an endpoint.
        required: true
        type: string
      - name: customDomainProperties
        in: body
        description: Properties required to create a new custom domain.
        required: true
        schema:
          $ref: '#/definitions/CustomDomainParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/CustomDomain'
        201:
          description: Created. The request has been fulfilled and a new custom domain
            has been created.
          schema:
            $ref: '#/definitions/CustomDomain'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/CustomDomain'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
    delete:
      tags:
      - CustomDomains
      description: Deletes an existing custom domain within an endpoint.
      operationId: CustomDomains_Delete
      x-ms-examples:
        CustomDomains_Delete:
          $ref: ./examples/CustomDomains_Delete.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - name: customDomainName
        in: path
        description: Name of the custom domain within an endpoint.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/CustomDomain'
        204:
          description: No Content. The request has been accepted but the custom domain
            was not found
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}/disableCustomHttps
  : post:
      tags:
      - CustomDomains
      description: Disable https delivery of the custom domain.
      operationId: CustomDomains_DisableCustomHttps
      x-ms-examples:
        CustomDomains_DisableCustomHttps:
          $ref: ./examples/CustomDomains_DisableCustomHttps.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - name: customDomainName
        in: path
        description: Name of the custom domain within an endpoint.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/CustomDomain'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}/enableCustomHttps
  : post:
      tags:
      - CustomDomains
      description: Enable https delivery of the custom domain.
      operationId: CustomDomains_EnableCustomHttps
      x-ms-examples:
        CustomDomains_EnableCustomHttpsUsingYourOwnCertificate:
          $ref: ./examples/CustomDomains_EnableCustomHttpsUsingBYOC.json
        CustomDomains_EnableCustomHttpsUsingCDNManagedCertificate:
          $ref: ./examples/CustomDomains_EnableCustomHttpsUsingCDNManagedCertificate.json
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: profileName
        in: path
        description: Name of the CDN profile which is unique within the resource group.
        required: true
        type: string
      - name: endpointName
        in: path
        description: Name of the endpoint under the profile which is unique globally.
        required: true
        type: string
      - name: customDomainName
        in: path
        description: Name of the custom domain within an endpoint.
        required: true
        type: string
      - name: customDomainHttpsParameters
        in: body
        description: The configuration specifying how to enable HTTPS for the custom
          domain - using CDN managed certificate or user's own certificate. If not
          specified, enabling ssl uses CDN managed certificate by default.
        required: false
        schema:
          $ref: '#/definitions/CustomDomainHttpsParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/CustomDomain'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /providers/Microsoft.Cdn/checkNameAvailability:
    post:
      tags:
      - CheckNameAvailability
      description: Check the availability of a resource name. This is needed for resources
        where name is globally unique, such as a CDN endpoint.
      operationId: CheckNameAvailability
      x-ms-examples:
        CheckNameAvailability:
          $ref: ./examples/CheckNameAvailability.json
      parameters:
      - name: checkNameAvailabilityInput
        in: body
        description: Input to check.
        required: true
        schema:
          $ref: '#/definitions/CheckNameAvailabilityInput'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/CheckNameAvailabilityOutput'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.Cdn/checkNameAvailability:
    post:
      tags:
      - CheckNameAvailabilityWithSubscription
      description: Check the availability of a resource name. This is needed for resources
        where name is globally unique, such as a CDN endpoint.
      operationId: CheckNameAvailabilityWithSubscription
      x-ms-examples:
        CheckNameAvailabilityWithSubscription:
          $ref: ./examples/CheckNameAvailabilityWithSubscription.json
      parameters:
      - name: checkNameAvailabilityInput
        in: body
        description: Input to check.
        required: true
        schema:
          $ref: '#/definitions/CheckNameAvailabilityInput'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/CheckNameAvailabilityOutput'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.Cdn/validateProbe:
    post:
      tags:
      - ValidateProbe
      description: Check if the probe path is a valid path and the file can be accessed.
        Probe path is the path to a file hosted on the origin server to help accelerate
        the delivery of dynamic content via the CDN endpoint. This path is relative
        to the origin path specified in the endpoint configuration.
      operationId: ValidateProbe
      x-ms-examples:
        ValidateProbe:
          $ref: ./examples/ValidateProbe.json
      parameters:
      - name: validateProbeInput
        in: body
        description: Input to check.
        required: true
        schema:
          $ref: '#/definitions/ValidateProbeInput'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ValidateProbeOutput'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.Cdn/checkResourceUsage:
    post:
      tags:
      - CheckResourceUsage
      description: Check the quota and actual usage of the CDN profiles under the
        given subscription.
      operationId: ResourceUsage_List
      x-ms-examples:
        ResourceUsage_List:
          $ref: ./examples/ResourceUsage_List.json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ResourceUsageListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Cdn/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available CDN REST API operations.
      operationId: Operations_List
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationsListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Cdn/edgenodes:
    get:
      tags:
      - Edgenodes
      description: Edgenodes are the global Point of Presence (POP) locations used
        to deliver CDN content to end users.
      operationId: EdgeNodes_List
      x-ms-examples:
        EdgeNodes_List:
          $ref: ./examples/EdgeNodes_List.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/EdgenodeResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":89:{s:7:\"Profile\";O:8:\"stdClass\":5:{s:11:\"description\";s:115:\"CDN
  profile is a logical grouping of endpoints that share the same settings, such as
  CDN provider and pricing tier.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"The
  pricing tier (defines a CDN provider, feature list and rate) of the CDN profile.\";s:4:\"$ref\";s:17:\"#/definitions/Sku\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:31:\"#/definitions/ProfileProperties\";}}s:8:\"required\";a:1:{i:0;s:3:\"sku\";}}s:17:\"ProfileProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  JSON object that contains the properties required to create a profile.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"resourceState\";O:8:\"stdClass\":5:{s:11:\"description\";s:31:\"Resource
  status of the profile.\";s:8:\"readOnly\";b:1;s:4:\"enum\";a:4:{i:0;s:8:\"Creating\";i:1;s:6:\"Active\";i:2;s:8:\"Deleting\";i:3;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"ProfileResourceState\";s:13:\"modelAsString\";b:1;}}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:11:\"description\";s:35:\"Provisioning
  status of the profile.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"ProfileListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"Result
  of the request to list profiles. It contains a list of profile objects and a URL
  link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Profile\";}s:11:\"description\";s:45:\"List
  of CDN profiles within a resource group.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"URL
  to get the next set of profile objects if there are any.\";}}}s:23:\"ProfileUpdateParameters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:40:\"Properties
  required to update a profile.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Profile
  tags\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"x-ms-azure-resource\";b:1;}s:6:\"SsoUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  URI required to login to the supplemental portal from the Azure portal.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"ssoUriValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  URI used to login to the supplemental portal.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:36:\"SupportedOptimizationTypesListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  result of the GetSupportedOptimizationTypes API\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:26:\"supportedOptimizationTypes\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Supported
  optimization types for a profile.\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OptimizationType\";}s:4:\"type\";s:5:\"array\";}}}s:8:\"Endpoint\";O:8:\"stdClass\":4:{s:11:\"description\";s:216:\"CDN
  endpoint is the entity within a CDN profile containing configuration information
  such as origin, protocol, content caching and delivery behavior. The CDN endpoint
  uses the URL format <endpointname>.azureedge.net.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:32:\"#/definitions/EndpointProperties\";}}}s:18:\"EndpointProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"The
  JSON object that contains the properties required to create an endpoint.\";s:8:\"required\";a:1:{i:0;s:7:\"origins\";}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/EndpointPropertiesUpdateParameters\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"hostName\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  host name of the endpoint structured as {endpointName}.{DNSZone}, e.g. contoso.azureedge.net\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"origins\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  source of the content being delivered via CDN.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DeepCreatedOrigin\";}}s:13:\"resourceState\";O:8:\"stdClass\":5:{s:11:\"description\";s:32:\"Resource
  status of the endpoint.\";s:8:\"readOnly\";b:1;s:4:\"enum\";a:6:{i:0;s:8:\"Creating\";i:1;s:8:\"Deleting\";i:2;s:7:\"Running\";i:3;s:8:\"Starting\";i:4;s:7:\"Stopped\";i:5;s:8:\"Stopping\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"EndpointResourceState\";s:13:\"modelAsString\";b:1;}}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:11:\"description\";s:36:\"Provisioning
  status of the endpoint.\";s:4:\"type\";s:6:\"string\";}}}s:18:\"EndpointListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"Result
  of the request to list endpoints. It contains a list of endpoint objects and a URL
  link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Endpoint\";}s:11:\"description\";s:38:\"List
  of CDN endpoints within a profile\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"URL
  to get the next set of endpoint objects if there is any.\";}}}s:24:\"EndpointUpdateParameters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:52:\"Properties
  required to create or update an endpoint.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Endpoint
  tags.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:48:\"#/definitions/EndpointPropertiesUpdateParameters\";}}s:19:\"x-ms-azure-resource\";b:1;}s:34:\"EndpointPropertiesUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  JSON object containing endpoint update parameters.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:16:\"originHostHeader\";O:8:\"stdClass\":2:{s:11:\"description\";s:270:\"The
  host header value sent to the origin with each request. If you leave this blank,
  the request hostname determines this value. Azure CDN origins, such as Web Apps,
  Blob Storage, and Cloud Services require this host header value to match the origin
  hostname by default.\";s:4:\"type\";s:6:\"string\";}s:10:\"originPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"A
  directory path on the origin that CDN can use to retrieve content from, e.g. contoso.cloudapp.net/originpath.\";s:4:\"type\";s:6:\"string\";}s:22:\"contentTypesToCompress\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"List
  of content types on which compression applies. The value should be a valid MIME
  type.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:20:\"isCompressionEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:289:\"Indicates
  whether content compression is enabled on CDN. Default value is false. If compression
  is enabled, content will be served as compressed if user requests for a compressed
  version. Content won't be compressed on CDN when requested content is smaller than
  1 byte or larger than 1 MB.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"isHttpAllowed\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Indicates
  whether HTTP traffic is allowed on the endpoint. Default value is true. At least
  one protocol (HTTP or HTTPS) must be allowed.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"isHttpsAllowed\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Indicates
  whether HTTPS traffic is allowed on the endpoint. Default value is true. At least
  one protocol (HTTP or HTTPS) must be allowed.\";s:4:\"type\";s:7:\"boolean\";}s:26:\"queryStringCachingBehavior\";O:8:\"stdClass\":2:{s:11:\"description\";s:229:\"Defines
  how CDN caches requests that include query strings. You can ignore any query strings
  when caching, bypass caching to prevent requests that contain query strings from
  being cached, or cache every request with a unique URL.\";s:4:\"$ref\";s:40:\"#/definitions/QueryStringCachingBehavior\";}s:16:\"optimizationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"Specifies
  what scenario the customer wants this CDN endpoint to optimize for, e.g. Download,
  Media services. With this information, CDN can apply scenario driven optimization.\";s:4:\"$ref\";s:30:\"#/definitions/OptimizationType\";}s:9:\"probePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:178:\"Path
  to a file hosted on the origin which helps accelerate delivery of the dynamic content
  and calculate the most optimal routes for the CDN. This is relative to the origin
  path.\";s:4:\"type\";s:6:\"string\";}s:10:\"geoFilters\";O:8:\"stdClass\":3:{s:11:\"description\";s:174:\"List
  of rules defining the user's geo access within a CDN endpoint. Each geo filter defines
  an access rule to a specified path or content, e.g. block APAC for path /pictures/\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GeoFilter\";}}s:14:\"deliveryPolicy\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"A
  policy that specifies the delivery rules to be used for an endpoint.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"rules\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"User-friendly
  description of the policy.\";s:4:\"type\";s:6:\"string\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  list of the delivery rules.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DeliveryRule\";}}}}s:32:\"webApplicationFirewallPolicyLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Defines
  the Web Application Firewall policy for the endpoint (if applicable)\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  ID.\";}}}}}s:12:\"DeliveryRule\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"A
  rule that specifies a set of actions and conditions\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:5:\"order\";i:2;s:7:\"actions\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Name
  of the rule\";s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":2:{s:11:\"description\";s:294:\"The
  order in which the rules are applied for the endpoint. Possible values {0,1,2,3,\u2026\u2026\u2026}.
  A rule with a lesser order will be applied before a rule with a greater order. Rule
  with order 0 is a special rule. It does not require any condition and actions listed
  in it will always be applied.\";s:4:\"type\";s:7:\"integer\";}s:10:\"conditions\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"A
  list of conditions that must be matched for the actions to be executed\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeliveryRuleCondition\";}}s:7:\"actions\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"A
  list of actions that are executed when all the conditions of a rule are satisfied.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryRuleAction\";}}}}s:21:\"DeliveryRuleCondition\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"A
  condition for the delivery rule.\";s:13:\"discriminator\";s:4:\"name\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  name of the condition for the delivery rule.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:12:{i:0;s:13:\"RemoteAddress\";i:1;s:13:\"RequestMethod\";i:2;s:11:\"QueryString\";i:3;s:8:\"PostArgs\";i:4;s:10:\"RequestUri\";i:5;s:13:\"RequestHeader\";i:6;s:11:\"RequestBody\";i:7;s:13:\"RequestScheme\";i:8;s:7:\"UrlPath\";i:9;s:16:\"UrlFileExtension\";i:10;s:11:\"UrlFileName\";i:11;s:8:\"IsDevice\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"MatchVariable\";s:13:\"modelAsString\";b:1;}}}}s:34:\"DeliveryRuleRemoteAddressCondition\";O:8:\"stdClass\":5:{s:11:\"description\";s:58:\"Defines
  the RemoteAddress condition for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:13:\"RemoteAddress\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeliveryRuleCondition\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Defines
  the parameters for the condition.\";s:4:\"$ref\";s:51:\"#/definitions/RemoteAddressMatchConditionParameters\";}}}s:34:\"DeliveryRuleRequestMethodCondition\";O:8:\"stdClass\":5:{s:11:\"description\";s:58:\"Defines
  the RequestMethod condition for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:13:\"RequestMethod\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeliveryRuleCondition\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Defines
  the parameters for the condition.\";s:4:\"$ref\";s:51:\"#/definitions/RequestMethodMatchConditionParameters\";}}}s:32:\"DeliveryRuleQueryStringCondition\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"Defines
  the QueryString condition for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:11:\"QueryString\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeliveryRuleCondition\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Defines
  the parameters for the condition.\";s:4:\"$ref\";s:49:\"#/definitions/QueryStringMatchConditionParameters\";}}}s:29:\"DeliveryRulePostArgsCondition\";O:8:\"stdClass\":5:{s:11:\"description\";s:53:\"Defines
  the PostArgs condition for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:8:\"PostArgs\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeliveryRuleCondition\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Defines
  the parameters for the condition.\";s:4:\"$ref\";s:46:\"#/definitions/PostArgsMatchConditionParameters\";}}}s:31:\"DeliveryRuleRequestUriCondition\";O:8:\"stdClass\":5:{s:11:\"description\";s:55:\"Defines
  the RequestUri condition for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:10:\"RequestUri\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeliveryRuleCondition\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Defines
  the parameters for the condition.\";s:4:\"$ref\";s:48:\"#/definitions/RequestUriMatchConditionParameters\";}}}s:34:\"DeliveryRuleRequestHeaderCondition\";O:8:\"stdClass\":5:{s:11:\"description\";s:58:\"Defines
  the RequestHeader condition for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:13:\"RequestHeader\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeliveryRuleCondition\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Defines
  the parameters for the condition.\";s:4:\"$ref\";s:51:\"#/definitions/RequestHeaderMatchConditionParameters\";}}}s:32:\"DeliveryRuleRequestBodyCondition\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"Defines
  the RequestBody condition for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:11:\"RequestBody\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeliveryRuleCondition\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Defines
  the parameters for the condition.\";s:4:\"$ref\";s:49:\"#/definitions/RequestBodyMatchConditionParameters\";}}}s:34:\"DeliveryRuleRequestSchemeCondition\";O:8:\"stdClass\":5:{s:11:\"description\";s:58:\"Defines
  the RequestScheme condition for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:13:\"RequestScheme\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeliveryRuleCondition\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Defines
  the parameters for the condition.\";s:4:\"$ref\";s:51:\"#/definitions/RequestSchemeMatchConditionParameters\";}}}s:28:\"DeliveryRuleUrlPathCondition\";O:8:\"stdClass\":5:{s:11:\"description\";s:52:\"Defines
  the UrlPath condition for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:7:\"UrlPath\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeliveryRuleCondition\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Defines
  the parameters for the condition.\";s:4:\"$ref\";s:45:\"#/definitions/UrlPathMatchConditionParameters\";}}}s:37:\"DeliveryRuleUrlFileExtensionCondition\";O:8:\"stdClass\":5:{s:11:\"description\";s:61:\"Defines
  the UrlFileExtension condition for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:16:\"UrlFileExtension\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeliveryRuleCondition\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Defines
  the parameters for the condition.\";s:4:\"$ref\";s:54:\"#/definitions/UrlFileExtensionMatchConditionParameters\";}}}s:32:\"DeliveryRuleUrlFileNameCondition\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"Defines
  the UrlFileName condition for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:11:\"UrlFileName\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeliveryRuleCondition\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Defines
  the parameters for the condition.\";s:4:\"$ref\";s:49:\"#/definitions/UrlFileNameMatchConditionParameters\";}}}s:29:\"DeliveryRuleIsDeviceCondition\";O:8:\"stdClass\":5:{s:11:\"description\";s:53:\"Defines
  the IsDevice condition for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:8:\"IsDevice\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeliveryRuleCondition\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Defines
  the parameters for the condition.\";s:4:\"$ref\";s:46:\"#/definitions/IsDeviceMatchConditionParameters\";}}}s:37:\"RemoteAddressMatchConditionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Defines
  the parameters for RemoteAddress match conditions\";s:8:\"required\";a:3:{i:0;s:8:\"operator\";i:1;s:11:\"matchValues\";i:2;s:11:\"@odata.type\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:72:\"#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters\";}}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Describes
  operator to be matched\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:3:\"Any\";i:1;s:7:\"IPMatch\";i:2;s:8:\"GeoMatch\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"RemoteAddressOperator\";s:13:\"modelAsString\";b:1;}}s:15:\"negateCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Describes
  if this is negate condition or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"matchValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:197:\"Match
  values to match against. The operator will apply to each value in here with OR semantics.
  If any of them match the variable with the given operator this match condition is
  considered a match.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"transforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of transforms\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/transform\";}}}}s:37:\"RequestMethodMatchConditionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Defines
  the parameters for RequestMethod match conditions\";s:8:\"required\";a:3:{i:0;s:8:\"operator\";i:1;s:11:\"matchValues\";i:2;s:11:\"@odata.type\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:72:\"#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestMethodConditionParameters\";}}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Describes
  operator to be matched\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:5:\"Equal\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"RequestMethodOperator\";s:13:\"modelAsString\";b:1;}}s:15:\"negateCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Describes
  if this is negate condition or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"matchValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  match value for the condition of the delivery rule\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:3:\"GET\";i:1;s:4:\"HEAD\";i:2;s:4:\"POST\";i:3;s:3:\"PUT\";i:4;s:6:\"DELETE\";i:5;s:7:\"OPTIONS\";i:6;s:5:\"TRACE\";}}}}}s:35:\"QueryStringMatchConditionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Defines
  the parameters for QueryString match conditions\";s:8:\"required\";a:3:{i:0;s:8:\"operator\";i:1;s:11:\"matchValues\";i:2;s:11:\"@odata.type\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:70:\"#Microsoft.Azure.Cdn.Models.DeliveryRuleQueryStringConditionParameters\";}}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Describes
  operator to be matched\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:3:\"Any\";i:1;s:5:\"Equal\";i:2;s:8:\"Contains\";i:3;s:10:\"BeginsWith\";i:4;s:8:\"EndsWith\";i:5;s:8:\"LessThan\";i:6;s:15:\"LessThanOrEqual\";i:7;s:11:\"GreaterThan\";i:8;s:18:\"GreaterThanOrEqual\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"QueryStringOperator\";s:13:\"modelAsString\";b:1;}}s:15:\"negateCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Describes
  if this is negate condition or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"matchValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  match value for the condition of the delivery rule\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"transforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of transforms\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/transform\";}}}}s:32:\"PostArgsMatchConditionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Defines
  the parameters for PostArgs match conditions\";s:8:\"required\";a:4:{i:0;s:8:\"operator\";i:1;s:11:\"matchValues\";i:2;s:8:\"selector\";i:3;s:11:\"@odata.type\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:67:\"#Microsoft.Azure.Cdn.Models.DeliveryRulePostArgsConditionParameters\";}}s:8:\"selector\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Name
  of PostArg to be matched\";s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Describes
  operator to be matched\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:3:\"Any\";i:1;s:5:\"Equal\";i:2;s:8:\"Contains\";i:3;s:10:\"BeginsWith\";i:4;s:8:\"EndsWith\";i:5;s:8:\"LessThan\";i:6;s:15:\"LessThanOrEqual\";i:7;s:11:\"GreaterThan\";i:8;s:18:\"GreaterThanOrEqual\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"PostArgsOperator\";s:13:\"modelAsString\";b:1;}}s:15:\"negateCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Describes
  if this is negate condition or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"matchValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  match value for the condition of the delivery rule\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"transforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of transforms\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/transform\";}}}}s:34:\"RequestUriMatchConditionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Defines
  the parameters for RequestUri match conditions\";s:8:\"required\";a:3:{i:0;s:8:\"operator\";i:1;s:11:\"matchValues\";i:2;s:11:\"@odata.type\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:69:\"#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestUriConditionParameters\";}}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Describes
  operator to be matched\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:3:\"Any\";i:1;s:5:\"Equal\";i:2;s:8:\"Contains\";i:3;s:10:\"BeginsWith\";i:4;s:8:\"EndsWith\";i:5;s:8:\"LessThan\";i:6;s:15:\"LessThanOrEqual\";i:7;s:11:\"GreaterThan\";i:8;s:18:\"GreaterThanOrEqual\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"RequestUriOperator\";s:13:\"modelAsString\";b:1;}}s:15:\"negateCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Describes
  if this is negate condition or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"matchValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  match value for the condition of the delivery rule\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"transforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of transforms\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/transform\";}}}}s:37:\"RequestHeaderMatchConditionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Defines
  the parameters for RequestHeader match conditions\";s:8:\"required\";a:4:{i:0;s:8:\"operator\";i:1;s:11:\"matchValues\";i:2;s:8:\"selector\";i:3;s:11:\"@odata.type\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:72:\"#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestHeaderConditionParameters\";}}s:8:\"selector\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Name
  of Header to be matched\";s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Describes
  operator to be matched\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:3:\"Any\";i:1;s:5:\"Equal\";i:2;s:8:\"Contains\";i:3;s:10:\"BeginsWith\";i:4;s:8:\"EndsWith\";i:5;s:8:\"LessThan\";i:6;s:15:\"LessThanOrEqual\";i:7;s:11:\"GreaterThan\";i:8;s:18:\"GreaterThanOrEqual\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"RequestHeaderOperator\";s:13:\"modelAsString\";b:1;}}s:15:\"negateCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Describes
  if this is negate condition or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"matchValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  match value for the condition of the delivery rule\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"transforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of transforms\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/transform\";}}}}s:35:\"RequestBodyMatchConditionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Defines
  the parameters for RequestBody match conditions\";s:8:\"required\";a:3:{i:0;s:8:\"operator\";i:1;s:11:\"matchValues\";i:2;s:11:\"@odata.type\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:70:\"#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestBodyConditionParameters\";}}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Describes
  operator to be matched\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:3:\"Any\";i:1;s:5:\"Equal\";i:2;s:8:\"Contains\";i:3;s:10:\"BeginsWith\";i:4;s:8:\"EndsWith\";i:5;s:8:\"LessThan\";i:6;s:15:\"LessThanOrEqual\";i:7;s:11:\"GreaterThan\";i:8;s:18:\"GreaterThanOrEqual\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"RequestBodyOperator\";s:13:\"modelAsString\";b:1;}}s:15:\"negateCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Describes
  if this is negate condition or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"matchValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  match value for the condition of the delivery rule\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"transforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of transforms\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/transform\";}}}}s:37:\"RequestSchemeMatchConditionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Defines
  the parameters for RequestScheme match conditions \";s:8:\"required\";a:3:{i:0;s:8:\"operator\";i:1;s:11:\"matchValues\";i:2;s:11:\"@odata.type\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:72:\"#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestSchemeConditionParameters\";}}s:8:\"operator\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Describes
  operator to be matched\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:5:\"Equal\";}}s:15:\"negateCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Describes
  if this is negate condition or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"matchValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  match value for the condition of the delivery rule\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"HTTP\";i:1;s:5:\"HTTPS\";}}}}}s:31:\"UrlPathMatchConditionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Defines
  the parameters for UrlPath match conditions\";s:8:\"required\";a:3:{i:0;s:8:\"operator\";i:1;s:11:\"matchValues\";i:2;s:11:\"@odata.type\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:71:\"#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlPathMatchConditionParameters\";}}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Describes
  operator to be matched\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:10:{i:0;s:3:\"Any\";i:1;s:5:\"Equal\";i:2;s:8:\"Contains\";i:3;s:10:\"BeginsWith\";i:4;s:8:\"EndsWith\";i:5;s:8:\"LessThan\";i:6;s:15:\"LessThanOrEqual\";i:7;s:11:\"GreaterThan\";i:8;s:18:\"GreaterThanOrEqual\";i:9;s:8:\"Wildcard\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"UrlPathOperator\";s:13:\"modelAsString\";b:1;}}s:15:\"negateCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Describes
  if this is negate condition or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"matchValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  match value for the condition of the delivery rule\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"transforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of transforms\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/transform\";}}}}s:40:\"UrlFileExtensionMatchConditionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Defines
  the parameters for UrlFileExtension match conditions\";s:8:\"required\";a:3:{i:0;s:8:\"operator\";i:1;s:11:\"matchValues\";i:2;s:11:\"@odata.type\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:80:\"#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlFileExtensionMatchConditionParameters\";}}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Describes
  operator to be matched\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:3:\"Any\";i:1;s:5:\"Equal\";i:2;s:8:\"Contains\";i:3;s:10:\"BeginsWith\";i:4;s:8:\"EndsWith\";i:5;s:8:\"LessThan\";i:6;s:15:\"LessThanOrEqual\";i:7;s:11:\"GreaterThan\";i:8;s:18:\"GreaterThanOrEqual\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"UrlFileExtensionOperator\";s:13:\"modelAsString\";b:1;}}s:15:\"negateCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Describes
  if this is negate condition or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"matchValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  match value for the condition of the delivery rule\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"transforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of transforms\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/transform\";}}}}s:35:\"UrlFileNameMatchConditionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Defines
  the parameters for UrlFilename match conditions\";s:8:\"required\";a:3:{i:0;s:8:\"operator\";i:1;s:11:\"matchValues\";i:2;s:11:\"@odata.type\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:70:\"#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlFilenameConditionParameters\";}}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Describes
  operator to be matched\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:3:\"Any\";i:1;s:5:\"Equal\";i:2;s:8:\"Contains\";i:3;s:10:\"BeginsWith\";i:4;s:8:\"EndsWith\";i:5;s:8:\"LessThan\";i:6;s:15:\"LessThanOrEqual\";i:7;s:11:\"GreaterThan\";i:8;s:18:\"GreaterThanOrEqual\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"UrlFileNameOperator\";s:13:\"modelAsString\";b:1;}}s:15:\"negateCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Describes
  if this is negate condition or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"matchValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  match value for the condition of the delivery rule\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"transforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of transforms\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/transform\";}}}}s:32:\"IsDeviceMatchConditionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Defines
  the parameters for IsDevice match conditions\";s:8:\"required\";a:3:{i:0;s:8:\"operator\";i:1;s:11:\"matchValues\";i:2;s:11:\"@odata.type\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:67:\"#Microsoft.Azure.Cdn.Models.DeliveryRuleIsDeviceConditionParameters\";}}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Describes
  operator to be matched\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:5:\"Equal\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"IsDeviceOperator\";s:13:\"modelAsString\";b:1;}}s:15:\"negateCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Describes
  if this is negate condition or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"matchValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  match value for the condition of the delivery rule\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"Mobile\";i:1;s:7:\"Desktop\";}}}s:10:\"transforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of transforms\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/transform\";}}}}s:18:\"DeliveryRuleAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"An
  action for the delivery rule.\";s:13:\"discriminator\";s:4:\"name\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  name of the action for the delivery rule.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:15:\"CacheExpiration\";i:1;s:19:\"ModifyRequestHeader\";i:2;s:20:\"ModifyResponseHeader\";i:3;s:11:\"UrlRedirect\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"DeliveryRuleAction\";s:13:\"modelAsString\";b:1;}}}}s:17:\"UrlRedirectAction\";O:8:\"stdClass\":5:{s:11:\"description\";s:54:\"Defines
  the url redirect action for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:11:\"UrlRedirect\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryRuleAction\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Defines
  the parameters for the action.\";s:4:\"$ref\";s:41:\"#/definitions/UrlRedirectActionParameters\";}}}s:27:\"UrlRedirectActionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Defines
  the parameters for the url redirect action.\";s:8:\"required\";a:2:{i:0;s:12:\"redirectType\";i:1;s:11:\"@odata.type\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:67:\"#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlRedirectActionParameters\";}}s:12:\"redirectType\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  redirect type the rule will use when redirecting traffic.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:5:\"Moved\";i:1;s:5:\"Found\";i:2;s:17:\"TemporaryRedirect\";i:3;s:17:\"PermanentRedirect\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"RedirectType\";s:13:\"modelAsString\";b:1;}}s:19:\"destinationProtocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"Protocol
  to use for the redirect. The default value is MatchRequest\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:12:\"MatchRequest\";i:1;s:4:\"Http\";i:2;s:5:\"Https\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"DestinationProtocol\";s:13:\"modelAsString\";b:1;}}s:10:\"customPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"The
  full path to redirect. Path cannot be empty and must start with /. Leave empty to
  use the incoming path as destination path.\";s:4:\"type\";s:6:\"string\";}s:14:\"customHostname\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Host
  to redirect. Leave empty to use the incoming host as the destination host.\";s:4:\"type\";s:6:\"string\";}s:17:\"customQueryString\";O:8:\"stdClass\":2:{s:11:\"description\";s:275:\"The
  set of query strings to be placed in the redirect URL. Setting this value would
  replace any existing query string; leave empty to preserve the incoming query string.
  Query string must be in <key>=<value> format. ? and & will be added automatically
  so do not include them.\";s:4:\"type\";s:6:\"string\";}s:14:\"customFragment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"Fragment
  to add to the redirect URL. Fragment is the part of the URL that comes after #.
  Do not include the #.\";}}}s:31:\"DeliveryRuleRequestHeaderAction\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"Defines
  the request header action for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:19:\"ModifyRequestHeader\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryRuleAction\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Defines
  the parameters for the action.\";s:4:\"$ref\";s:36:\"#/definitions/HeaderActionParameters\";}}}s:32:\"DeliveryRuleResponseHeaderAction\";O:8:\"stdClass\":5:{s:11:\"description\";s:57:\"Defines
  the response header action for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:20:\"ModifyResponseHeader\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryRuleAction\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Defines
  the parameters for the action.\";s:4:\"$ref\";s:36:\"#/definitions/HeaderActionParameters\";}}}s:22:\"HeaderActionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Defines
  the parameters for the request header action.\";s:8:\"required\";a:3:{i:0;s:12:\"headerAction\";i:1;s:10:\"headerName\";i:2;s:11:\"@odata.type\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:62:\"#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters\";}}s:12:\"headerAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Action
  to perform\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"Append\";i:1;s:9:\"Overwrite\";i:2;s:6:\"Delete\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"HeaderAction\";s:13:\"modelAsString\";b:1;}}s:10:\"headerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Name
  of the header to modify\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Value
  for the specified action\";s:4:\"type\";s:6:\"string\";}}}s:33:\"DeliveryRuleCacheExpirationAction\";O:8:\"stdClass\":5:{s:11:\"description\";s:58:\"Defines
  the cache expiration action for the delivery rule.\";s:24:\"x-ms-discriminator-value\";s:15:\"CacheExpiration\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryRuleAction\";}}s:8:\"required\";a:1:{i:0;s:10:\"parameters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Defines
  the parameters for the action.\";s:4:\"$ref\";s:45:\"#/definitions/CacheExpirationActionParameters\";}}}s:31:\"CacheExpirationActionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Defines
  the parameters for the cache expiration action.\";s:8:\"required\";a:3:{i:0;s:13:\"cacheBehavior\";i:1;s:9:\"cacheType\";i:2;s:11:\"@odata.type\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:71:\"#Microsoft.Azure.Cdn.Models.DeliveryRuleCacheExpirationActionParameters\";}}s:13:\"cacheBehavior\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Caching
  behavior for the requests\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:11:\"BypassCache\";i:1;s:8:\"Override\";i:2;s:12:\"SetIfMissing\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"cacheBehavior\";s:13:\"modelAsString\";b:1;}}s:9:\"cacheType\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  level at which the content needs to be cached.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:3:\"All\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"CacheType\";s:13:\"modelAsString\";b:1;}}s:13:\"cacheDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  duration for which the content needs to be cached. Allowed format is [d.]hh:mm:ss\";s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}}}s:9:\"transform\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Describes
  what transforms are applied before matching\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"Lowercase\";i:1;s:9:\"Uppercase\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"transform\";s:13:\"modelAsString\";b:1;}}s:17:\"DeepCreatedOrigin\";O:8:\"stdClass\":5:{s:11:\"description\";s:75:\"The
  main origin of CDN content which is added when creating a CDN endpoint.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Origin
  name\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:41:\"#/definitions/DeepCreatedOriginProperties\";}}s:19:\"x-ms-azure-resource\";b:1;}s:27:\"DeepCreatedOriginProperties\";O:8:\"stdClass\":5:{s:11:\"description\";s:53:\"Properties
  of the origin created on the CDN endpoint.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:8:\"hostName\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"hostName\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  address of the origin. It can be a domain name, IPv4 address, or IPv6 address.\";s:4:\"type\";s:6:\"string\";}s:8:\"httpPort\";O:8:\"stdClass\":6:{s:11:\"description\";s:55:\"The
  value of the HTTP port. Must be between 1 and 65535\";s:4:\"type\";s:7:\"integer\";s:7:\"maximum\";i:65535;s:16:\"exclusiveMaximum\";b:0;s:7:\"minimum\";i:1;s:16:\"exclusiveMinimum\";b:0;}s:9:\"httpsPort\";O:8:\"stdClass\":6:{s:11:\"description\";s:56:\"The
  value of the HTTPS port. Must be between 1 and 65535\";s:4:\"type\";s:7:\"integer\";s:7:\"maximum\";i:65535;s:16:\"exclusiveMaximum\";b:0;s:7:\"minimum\";i:1;s:16:\"exclusiveMinimum\";b:0;}}s:19:\"x-ms-azure-resource\";b:1;}s:9:\"GeoFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"Rules
  defining user's geo access within a CDN endpoint.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:12:\"relativePath\";i:1;s:6:\"action\";i:2;s:12:\"countryCodes\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"relativePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Relative
  path applicable to geo filter. (e.g. '/mypictures', '/mypicture/kitty.jpg', and
  etc.)\";s:4:\"type\";s:6:\"string\";}s:6:\"action\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Action
  of the geo filter, i.e. allow or block access.\";s:4:\"enum\";a:2:{i:0;s:5:\"Block\";i:1;s:5:\"Allow\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"GeoFilterActions\";s:13:\"modelAsString\";b:0;}}s:12:\"countryCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Two
  letter country codes defining user country access in a geo filter, e.g. AU, MX,
  US.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:15:\"PurgeParameters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:38:\"Parameters
  required for content purge.\";s:8:\"required\";a:1:{i:0;s:12:\"contentPaths\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"contentPaths\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  path to the content to be purged. Can describe a file path or a wild card directory.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:14:\"LoadParameters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:37:\"Parameters
  required for content load.\";s:8:\"required\";a:1:{i:0;s:12:\"contentPaths\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"contentPaths\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  path to the content to be loaded. Path should be a relative file URL of the origin.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:6:\"Origin\";O:8:\"stdClass\":4:{s:11:\"description\";s:222:\"CDN
  origin is the source of the content being delivered via CDN. When the edge nodes
  represented by an endpoint do not have the requested content cached, they attempt
  to fetch it from one or more of the configured origins.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:30:\"#/definitions/OriginProperties\";}}}s:16:\"OriginProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  JSON object that contains the properties of the origin.\";s:8:\"required\";a:1:{i:0;s:8:\"hostName\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"hostName\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported.\";s:4:\"type\";s:6:\"string\";}s:8:\"httpPort\";O:8:\"stdClass\":6:{s:11:\"description\";s:56:\"The
  value of the HTTP port. Must be between 1 and 65535.\";s:4:\"type\";s:7:\"integer\";s:7:\"maximum\";i:65535;s:16:\"exclusiveMaximum\";b:0;s:7:\"minimum\";i:1;s:16:\"exclusiveMinimum\";b:0;}s:9:\"httpsPort\";O:8:\"stdClass\":6:{s:11:\"description\";s:57:\"The
  value of the https port. Must be between 1 and 65535.\";s:4:\"type\";s:7:\"integer\";s:7:\"maximum\";i:65535;s:16:\"exclusiveMaximum\";b:0;s:7:\"minimum\";i:1;s:16:\"exclusiveMinimum\";b:0;}s:13:\"resourceState\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"Resource
  status of the origin.\";s:8:\"readOnly\";b:1;s:4:\"enum\";a:3:{i:0;s:8:\"Creating\";i:1;s:6:\"Active\";i:2;s:8:\"Deleting\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"OriginResourceState\";s:13:\"modelAsString\";b:1;}}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Provisioning
  status of the origin.\";s:4:\"type\";s:6:\"string\";}}}s:22:\"OriginUpdateParameters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:55:\"Origin
  properties needed for origin creation or update.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:40:\"#/definitions/OriginPropertiesParameters\";}}s:19:\"x-ms-azure-resource\";b:1;}s:26:\"OriginPropertiesParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  JSON object that contains the properties of the origin.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"hostName\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported.\";s:4:\"type\";s:6:\"string\";}s:8:\"httpPort\";O:8:\"stdClass\":6:{s:11:\"description\";s:56:\"The
  value of the HTTP port. Must be between 1 and 65535.\";s:4:\"type\";s:7:\"integer\";s:7:\"maximum\";i:65535;s:16:\"exclusiveMaximum\";b:0;s:7:\"minimum\";i:1;s:16:\"exclusiveMinimum\";b:0;}s:9:\"httpsPort\";O:8:\"stdClass\":6:{s:11:\"description\";s:57:\"The
  value of the HTTPS port. Must be between 1 and 65535.\";s:4:\"type\";s:7:\"integer\";s:7:\"maximum\";i:65535;s:16:\"exclusiveMaximum\";b:0;s:7:\"minimum\";i:1;s:16:\"exclusiveMinimum\";b:0;}}}s:16:\"OriginListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Result
  of the request to list origins. It contains a list of origin objects and a URL link
  to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Origin\";}s:11:\"description\";s:38:\"List
  of CDN origins within an endpoint\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"URL
[...]
