---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:16:\"ARM applications\";s:5:\"title\";s:17:\"ApplicationClient\";s:7:\"version\";s:10:\"2017-09-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:171:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Solutions/stable/2017-09-01/managedapplications.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:29:\"resources-managedapplications\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:35:\"azure_resources_managedapplications\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:11:\"Application\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/GenericResource\";}}s:11:\"description\";s:38:\"Information
  about managed application.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  kind of the managed application. Allowed values are MarketPlace and ServiceCatalog.\";s:7:\"pattern\";s:16:\"^[-\\w\\._,\\(\\)]+$\";s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Plan\";s:11:\"description\";s:21:\"The
  plan information.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/ApplicationProperties\";s:11:\"description\";s:35:\"The
  managed application properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:2:{i:0;s:10:\"properties\";i:1;s:4:\"kind\";}}s:19:\"ApplicationArtifact\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Managed
  application artifact.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  managed application artifact name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ApplicationArtifactType\";s:11:\"description\";s:38:\"The
  managed application artifact type.\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  managed application artifact blob uri.\";s:4:\"type\";s:6:\"string\";}}}s:23:\"ApplicationArtifactType\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  managed application artifact type.\";s:4:\"enum\";a:2:{i:0;s:8:\"Template\";i:1;s:6:\"Custom\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:23:\"ApplicationArtifactType\";}}s:21:\"ApplicationDefinition\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/GenericResource\";}}s:11:\"description\";s:49:\"Information
  about managed application definition.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:45:\"#/definitions/ApplicationDefinitionProperties\";s:11:\"description\";s:46:\"The
  managed application definition properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:31:\"ApplicationDefinitionListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"List
  of managed application definitions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  URL to use for getting the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  array of managed application definitions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ApplicationDefinition\";}s:4:\"type\";s:5:\"array\";}}}s:31:\"ApplicationDefinitionProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  managed application definition properties.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"artifacts\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"The
  collection of managed application artifacts. The portal will use the files specified
  as artifacts to construct the user experience of creating a managed application
  from a managed application definition.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ApplicationArtifact\";}s:4:\"type\";s:5:\"array\";}s:14:\"authorizations\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  managed application provider authorizations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ApplicationProviderAuthorization\";}s:4:\"type\";s:5:\"array\";}s:18:\"createUiDefinition\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"The
  createUiDefinition json for the backing template with Microsoft.Solutions/applications
  resource. It can be a JObject or well-formed JSON string.\";s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  managed application definition description.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  managed application definition display name.\";s:4:\"type\";s:6:\"string\";}s:9:\"isEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  value indicating whether the package is enabled or not.\";s:4:\"type\";s:6:\"string\";}s:9:\"lockLevel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ApplicationLockLevel\";s:11:\"description\";s:35:\"The
  managed application lock level.\";}s:12:\"mainTemplate\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"The
  inline main template json which has resources to be provisioned. It can be a JObject
  or well-formed JSON string.\";s:4:\"type\";s:6:\"object\";}s:14:\"packageFileUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  managed application definition package file Uri. Use this element\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"lockLevel\";i:1;s:14:\"authorizations\";}}s:21:\"ApplicationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"List
  of managed applications.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  URL to use for getting the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  array of managed applications.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Application\";}s:4:\"type\";s:5:\"array\";}}}s:20:\"ApplicationLockLevel\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  managed application lock level.\";s:4:\"enum\";a:3:{i:0;s:12:\"CanNotDelete\";i:1;s:8:\"ReadOnly\";i:2;s:4:\"None\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:20:\"ApplicationLockLevel\";}}s:20:\"ApplicationPatchable\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/GenericResource\";}}s:11:\"description\";s:38:\"Information
  about managed application.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  kind of the managed application. Allowed values are MarketPlace and ServiceCatalog.\";s:7:\"pattern\";s:16:\"^[-\\w\\._,\\(\\)]+$\";s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PlanPatchable\";s:11:\"description\";s:21:\"The
  plan information.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:44:\"#/definitions/ApplicationPropertiesPatchable\";s:11:\"description\";s:35:\"The
  managed application properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:21:\"ApplicationProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  managed application properties.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"applicationDefinitionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  fully qualified path of managed application definition Id.\";s:4:\"type\";s:6:\"string\";}s:22:\"managedResourceGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  managed resource group Id.\";s:4:\"type\";s:6:\"string\";}s:7:\"outputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Name
  and value pairs that define the managed application outputs.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"Name
  and value pairs that define the managed application parameters. It can be a JObject
  or a well formed JSON string.\";s:4:\"type\";s:6:\"object\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ProvisioningState\";s:11:\"description\";s:43:\"The
  managed application provisioning state.\";s:8:\"readOnly\";b:1;}s:15:\"uiDefinitionUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  blob URI where the UI definition file is located.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:22:\"managedResourceGroupId\";}}s:30:\"ApplicationPropertiesPatchable\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  managed application properties.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"applicationDefinitionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  fully qualified path of managed application definition Id.\";s:4:\"type\";s:6:\"string\";}s:22:\"managedResourceGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  managed resource group Id.\";s:4:\"type\";s:6:\"string\";}s:7:\"outputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Name
  and value pairs that define the managed application outputs.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"Name
  and value pairs that define the managed application parameters. It can be a JObject
  or a well formed JSON string.\";s:4:\"type\";s:6:\"object\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ProvisioningState\";s:11:\"description\";s:43:\"The
  managed application provisioning state.\";s:8:\"readOnly\";b:1;}s:15:\"uiDefinitionUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  blob URI where the UI definition file is located.\";s:4:\"type\";s:6:\"string\";}}}s:32:\"ApplicationProviderAuthorization\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  managed application provider authorization.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"principalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"The
  provider's principal identifier. This is the identity that the provider will use
  to call ARM to manage the managed application resources.\";s:4:\"type\";s:6:\"string\";}s:16:\"roleDefinitionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:241:\"The
  provider's role definition identifier. This role will define all the permissions
  that the provider must have on the managed application's container resource group.
  This role definition cannot have permission to delete the resource group.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"principalId\";i:1;s:16:\"roleDefinitionId\";}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Error
  reponse indicates managed application is not able to process the incoming request.
  The reason is provided in the error message.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"errorCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Error
  code.\";s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}s:10:\"httpStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Http
  status code.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"GenericResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:21:\"Resource
  information.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"identity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Identity\";s:11:\"description\";s:29:\"The
  identity of the resource.\";}s:9:\"managedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"ID
  of the resource that manages this resource.\";s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:24:\"The
  SKU of the resource.\";}}}s:8:\"Identity\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Identity
  for the resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"principalId\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  principal ID of resource identity.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  tenant ID of resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"The
  identity type.\";s:4:\"enum\";a:1:{i:0;s:14:\"SystemAssigned\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:20:\"ResourceIdentityType\";}}}}s:4:\"Plan\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Plan
  for the managed application.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  plan name.\";s:4:\"type\";s:6:\"string\";}s:7:\"product\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  product code.\";s:4:\"type\";s:6:\"string\";}s:13:\"promotionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  promotion code.\";s:4:\"type\";s:6:\"string\";}s:9:\"publisher\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  publisher ID.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  plan's version.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:9:\"publisher\";i:2;s:7:\"product\";i:3;s:7:\"version\";}}s:13:\"PlanPatchable\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Plan
  for the managed application.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  plan name.\";s:4:\"type\";s:6:\"string\";}s:7:\"product\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  product code.\";s:4:\"type\";s:6:\"string\";}s:13:\"promotionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  promotion code.\";s:4:\"type\";s:6:\"string\";}s:9:\"publisher\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  publisher ID.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  plan's version.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"ProvisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:47:\"Provisioning
  status of the managed application.\";s:4:\"enum\";a:11:{i:0;s:8:\"Accepted\";i:1;s:7:\"Running\";i:2;s:5:\"Ready\";i:3;s:8:\"Creating\";i:4;s:7:\"Created\";i:5;s:8:\"Deleting\";i:6;s:7:\"Deleted\";i:7;s:8:\"Canceled\";i:8;s:6:\"Failed\";i:9;s:9:\"Succeeded\";i:10;s:8:\"Updating\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"ProvisioningState\";}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Resource
  information.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Resource
  ID\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:3:\"Sku\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"SKU
  for the resource.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"capacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  SKU capacity.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"family\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  SKU family.\";s:4:\"type\";s:6:\"string\";}s:5:\"model\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  SKU model.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  SKU name.\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  SKU size.\";s:4:\"type\";s:6:\"string\";}s:4:\"tier\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  SKU tier.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}}"
...
