---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"MonitorManagementClient\";s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:23:\"MonitorManagementClient\";}s:7:\"version\";s:10:\"2015-04-01\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/autoscalesettings:
    get:
      description: Lists the autoscale settings for a resource group
      tags:
      - AutoscaleSettings
      operationId: AutoscaleSettings_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        200:
          description: Successful request for a list of autoscale settings
          schema:
            $ref: '#/definitions/AutoscaleSettingResourceCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List autoscale settings:
          $ref: ./examples/listAutoscaleSetting.json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/autoscalesettings/{autoscaleSettingName}
  : put:
      description: Creates or updates an autoscale setting.
      tags:
      - AutoscaleSettings
      operationId: AutoscaleSettings_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AutoscaleSettingNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/AutoscaleSettingResource'
        description: Parameters supplied to the operation.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        200:
          description: Successful request to create or update an autoscale setting
          schema:
            $ref: '#/definitions/AutoscaleSettingResource'
        201:
          description: Created autoscale setting
          schema:
            $ref: '#/definitions/AutoscaleSettingResource'
      x-ms-examples:
        Create or update an autoscale setting:
          $ref: ./examples/createOrUpdateAutoscaleSetting.json
    delete:
      description: Deletes and autoscale setting
      tags:
      - AutoscaleSettings
      operationId: AutoscaleSettings_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AutoscaleSettingNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        200:
          description: Successful request to delete an autoscale setting
        204:
          description: 'No content: Successful request to delete an autoscale setting,
            but the response is intentionally empty'
      x-ms-examples:
        Delete an autoscale setting:
          $ref: ./examples/deleteAutoscaleSetting.json
    get:
      description: Gets an autoscale setting
      tags:
      - AutoscaleSettings
      operationId: AutoscaleSettings_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AutoscaleSettingNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        200:
          description: Successful request to get one autoscale setting
          schema:
            $ref: '#/definitions/AutoscaleSettingResource'
      x-ms-examples:
        Get an autoscale setting:
          $ref: ./examples/getAutoscaleSetting.json
    patch:
      description: Updates an existing AutoscaleSettingsResource. To update other
        fields use the CreateOrUpdate method.
      operationId: AutoscaleSettings_Update
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AutoscaleSettingNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: autoscaleSettingResource
        in: body
        required: true
        schema:
          $ref: '#/definitions/AutoscaleSettingResourcePatch'
        description: Parameters supplied to the operation.
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        200:
          description: An existing autoscale setting resource was successfully updated.
          schema:
            $ref: '#/definitions/AutoscaleSettingResource'
      x-ms-examples:
        Patch an autoscale setting:
          $ref: ./examples/patchAutoscaleSetting.json
  /subscriptions/{subscriptionId}/providers/microsoft.insights/autoscalesettings:
    get:
      description: Lists the autoscale settings for a subscription
      tags:
      - AutoscaleSettings
      operationId: AutoscaleSettings_ListBySubscription
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        200:
          description: Successful request for a list of autoscale settings
          schema:
            $ref: '#/definitions/AutoscaleSettingResourceCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List autoscale settings:
          $ref: ./examples/listAutoscaleSettingBySubscription.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":17:{s:8:\"Resource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Azure
  resource Id\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Azure
  resource name\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Azure
  resource type\";}s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Resource
  location\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;s:11:\"description\";s:24:\"An
  azure resource object\";}s:13:\"ScaleCapacity\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:7:\"minimum\";i:1;s:7:\"maximum\";i:2;s:7:\"default\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"minimum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"the
  minimum number of instances for the resource.\";}s:7:\"maximum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:152:\"the
  maximum number of instances for the resource. The actual maximum number of instances
  is limited by the cores that are available in the subscription.\";}s:7:\"default\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:167:\"the
  number of instances that will be set if metrics are not available for evaluation.
  The default is only used if the current instance count is lower than the default.\";}}s:11:\"description\";s:61:\"The
  number of instances that can be used during this profile.\";}s:13:\"MetricTrigger\";O:8:\"stdClass\":3:{s:8:\"required\";a:8:{i:0;s:10:\"metricName\";i:1;s:17:\"metricResourceUri\";i:2;s:9:\"timeGrain\";i:3;s:9:\"statistic\";i:4;s:10:\"timeWindow\";i:5;s:15:\"timeAggregation\";i:6;s:8:\"operator\";i:7;s:9:\"threshold\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"metricName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"the
  name of the metric that defines what the rule monitors.\";}s:17:\"metricResourceUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"the
  resource identifier of the resource the rule monitors.\";}s:9:\"timeGrain\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:170:\"the
  granularity of metrics the rule monitors. Must be one of the predefined values returned
  from metric definitions for the metric. Must be between 12 hours and 1 minute.\";}s:9:\"statistic\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"the
  metric statistic type. How the metrics from multiple instances are combined.\";s:4:\"enum\";a:4:{i:0;s:7:\"Average\";i:1;s:3:\"Min\";i:2;s:3:\"Max\";i:3;s:3:\"Sum\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"MetricStatisticType\";s:13:\"modelAsString\";b:0;}}s:10:\"timeWindow\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:200:\"the
  range of time in which instance data is collected. This value must be greater than
  the delay in metric collection, which can vary from resource-to-resource. Must be
  between 12 hours and 5 minutes.\";}s:15:\"timeAggregation\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"time
  aggregation type. How the data that is collected should be combined over time. The
  default value is Average.\";s:4:\"enum\";a:5:{i:0;s:7:\"Average\";i:1;s:7:\"Minimum\";i:2;s:7:\"Maximum\";i:3;s:5:\"Total\";i:4;s:5:\"Count\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"TimeAggregationType\";s:13:\"modelAsString\";b:0;}}s:8:\"operator\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"the
  operator that is used to compare the metric data and the threshold.\";s:4:\"enum\";a:6:{i:0;s:6:\"Equals\";i:1;s:9:\"NotEquals\";i:2;s:11:\"GreaterThan\";i:3;s:18:\"GreaterThanOrEqual\";i:4;s:8:\"LessThan\";i:5;s:15:\"LessThanOrEqual\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"ComparisonOperationType\";s:13:\"modelAsString\";b:0;}}s:9:\"threshold\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:59:\"the
  threshold of the metric that triggers the scale action.\";}}s:11:\"description\";s:45:\"The
  trigger that results in a scaling action.\";}s:11:\"ScaleAction\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:9:\"direction\";i:1;s:4:\"type\";i:2;s:8:\"cooldown\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"direction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"the
  scale direction. Whether the scaling action increases or decreases the number of
  instances.\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:8:\"Increase\";i:2;s:8:\"Decrease\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"ScaleDirection\";s:13:\"modelAsString\";b:0;}}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"the
  type of action that should occur when the scale rule fires.\";s:4:\"enum\";a:3:{i:0;s:11:\"ChangeCount\";i:1;s:18:\"PercentChangeCount\";i:2;s:10:\"ExactCount\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"ScaleType\";s:13:\"modelAsString\";b:0;}}s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:121:\"the
  number of instances that are involved in the scaling action. This value must be
  1 or greater. The default value is 1.\";s:7:\"default\";s:1:\"1\";}s:8:\"cooldown\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:142:\"the
  amount of time to wait since the last scaling action before this action occurs.
  It must be between 1 week and 1 minute in ISO 8601 format.\";}}s:11:\"description\";s:38:\"The
  parameters for the scaling action.\";}s:9:\"ScaleRule\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:11:\"scaleAction\";i:1;s:13:\"metricTrigger\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"metricTrigger\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MetricTrigger\";s:11:\"description\";s:45:\"the
  trigger that results in a scaling action.\";}s:11:\"scaleAction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ScaleAction\";s:11:\"description\";s:38:\"the
  parameters for the scaling action.\";}}s:11:\"description\";s:71:\"A rule that provide
  the triggers and parameters for the scaling action.\";}s:10:\"TimeWindow\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"timeZone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2698:\"the
  timezone of the start and end times for the profile. Some examples of valid timezones
  are: Dateline Standard Time, UTC-11, Hawaiian Standard Time, Alaskan Standard Time,
  Pacific Standard Time (Mexico), Pacific Standard Time, US Mountain Standard Time,
  Mountain Standard Time (Mexico), Mountain Standard Time, Central America Standard
  Time, Central Standard Time, Central Standard Time (Mexico), Canada Central Standard
  Time, SA Pacific Standard Time, Eastern Standard Time, US Eastern Standard Time,
  Venezuela Standard Time, Paraguay Standard Time, Atlantic Standard Time, Central
  Brazilian Standard Time, SA Western Standard Time, Pacific SA Standard Time, Newfoundland
  Standard Time, E. South America Standard Time, Argentina Standard Time, SA Eastern
  Standard Time, Greenland Standard Time, Montevideo Standard Time, Bahia Standard
  Time, UTC-02, Mid-Atlantic Standard Time, Azores Standard Time, Cape Verde Standard
  Time, Morocco Standard Time, UTC, GMT Standard Time, Greenwich Standard Time, W.
  Europe Standard Time, Central Europe Standard Time, Romance Standard Time, Central
  European Standard Time, W. Central Africa Standard Time, Namibia Standard Time,
  Jordan Standard Time, GTB Standard Time, Middle East Standard Time, Egypt Standard
  Time, Syria Standard Time, E. Europe Standard Time, South Africa Standard Time,
  FLE Standard Time, Turkey Standard Time, Israel Standard Time, Kaliningrad Standard
  Time, Libya Standard Time, Arabic Standard Time, Arab Standard Time, Belarus Standard
  Time, Russian Standard Time, E. Africa Standard Time, Iran Standard Time, Arabian
  Standard Time, Azerbaijan Standard Time, Russia Time Zone 3, Mauritius Standard
  Time, Georgian Standard Time, Caucasus Standard Time, Afghanistan Standard Time,
  West Asia Standard Time, Ekaterinburg Standard Time, Pakistan Standard Time, India
  Standard Time, Sri Lanka Standard Time, Nepal Standard Time, Central Asia Standard
  Time, Bangladesh Standard Time, N. Central Asia Standard Time, Myanmar Standard
  Time, SE Asia Standard Time, North Asia Standard Time, China Standard Time, North
  Asia East Standard Time, Singapore Standard Time, W. Australia Standard Time, Taipei
  Standard Time, Ulaanbaatar Standard Time, Tokyo Standard Time, Korea Standard Time,
  Yakutsk Standard Time, Cen. Australia Standard Time, AUS Central Standard Time,
  E. Australia Standard Time, AUS Eastern Standard Time, West Pacific Standard Time,
  Tasmania Standard Time, Magadan Standard Time, Vladivostok Standard Time, Russia
  Time Zone 10, Central Pacific Standard Time, Russia Time Zone 11, New Zealand Standard
  Time, UTC+12, Fiji Standard Time, Kamchatka Standard Time, Tonga Standard Time,
  Samoa Standard Time, Line Islands Standard Time\";}s:5:\"start\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"the
  start time for the profile in ISO 8601 format.\";}s:3:\"end\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:48:\"the
  end time for the profile in ISO 8601 format.\";}}s:8:\"required\";a:2:{i:0;s:5:\"start\";i:1;s:3:\"end\";}s:11:\"description\";s:37:\"A
  specific date-time for the profile.\";}s:17:\"RecurrentSchedule\";O:8:\"stdClass\":3:{s:8:\"required\";a:4:{i:0;s:8:\"timeZone\";i:1;s:4:\"days\";i:2;s:5:\"hours\";i:3;s:7:\"minutes\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"timeZone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2684:\"the
  timezone for the hours of the profile. Some examples of valid timezones are: Dateline
  Standard Time, UTC-11, Hawaiian Standard Time, Alaskan Standard Time, Pacific Standard
  Time (Mexico), Pacific Standard Time, US Mountain Standard Time, Mountain Standard
  Time (Mexico), Mountain Standard Time, Central America Standard Time, Central Standard
  Time, Central Standard Time (Mexico), Canada Central Standard Time, SA Pacific Standard
  Time, Eastern Standard Time, US Eastern Standard Time, Venezuela Standard Time,
  Paraguay Standard Time, Atlantic Standard Time, Central Brazilian Standard Time,
  SA Western Standard Time, Pacific SA Standard Time, Newfoundland Standard Time,
  E. South America Standard Time, Argentina Standard Time, SA Eastern Standard Time,
  Greenland Standard Time, Montevideo Standard Time, Bahia Standard Time, UTC-02,
  Mid-Atlantic Standard Time, Azores Standard Time, Cape Verde Standard Time, Morocco
  Standard Time, UTC, GMT Standard Time, Greenwich Standard Time, W. Europe Standard
  Time, Central Europe Standard Time, Romance Standard Time, Central European Standard
  Time, W. Central Africa Standard Time, Namibia Standard Time, Jordan Standard Time,
  GTB Standard Time, Middle East Standard Time, Egypt Standard Time, Syria Standard
  Time, E. Europe Standard Time, South Africa Standard Time, FLE Standard Time, Turkey
  Standard Time, Israel Standard Time, Kaliningrad Standard Time, Libya Standard Time,
  Arabic Standard Time, Arab Standard Time, Belarus Standard Time, Russian Standard
  Time, E. Africa Standard Time, Iran Standard Time, Arabian Standard Time, Azerbaijan
  Standard Time, Russia Time Zone 3, Mauritius Standard Time, Georgian Standard Time,
  Caucasus Standard Time, Afghanistan Standard Time, West Asia Standard Time, Ekaterinburg
  Standard Time, Pakistan Standard Time, India Standard Time, Sri Lanka Standard Time,
  Nepal Standard Time, Central Asia Standard Time, Bangladesh Standard Time, N. Central
  Asia Standard Time, Myanmar Standard Time, SE Asia Standard Time, North Asia Standard
  Time, China Standard Time, North Asia East Standard Time, Singapore Standard Time,
  W. Australia Standard Time, Taipei Standard Time, Ulaanbaatar Standard Time, Tokyo
  Standard Time, Korea Standard Time, Yakutsk Standard Time, Cen. Australia Standard
  Time, AUS Central Standard Time, E. Australia Standard Time, AUS Eastern Standard
  Time, West Pacific Standard Time, Tasmania Standard Time, Magadan Standard Time,
  Vladivostok Standard Time, Russia Time Zone 10, Central Pacific Standard Time, Russia
  Time Zone 11, New Zealand Standard Time, UTC+12, Fiji Standard Time, Kamchatka Standard
  Time, Tonga Standard Time, Samoa Standard Time, Line Islands Standard Time\";}s:4:\"days\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:101:\"the
  collection of days that the profile takes effect on. Possible values are Sunday
  through Saturday.\";}s:5:\"hours\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"description\";s:138:\"A
  collection of hours that the profile takes effect on. Values supported are 0 to
  23 on the 24-hour clock (AM/PM times are not supported).\";}s:7:\"minutes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"description\";s:61:\"A
  collection of minutes at which the profile takes effect at.\";}}s:11:\"description\";s:55:\"The
  scheduling constraints for when the profile begins.\";}s:10:\"Recurrence\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:9:\"frequency\";i:1;s:8:\"schedule\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"frequency\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:307:\"the
  recurrence frequency. How often the schedule profile should take effect. This value
  must be Week, meaning each week will have the same set of profiles. For example,
  to set a daily schedule, set **schedule** to every day of the week. The frequency
  property specifies that the schedule is repeated weekly.\";s:4:\"enum\";a:1:{i:0;s:4:\"Week\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"RecurrenceFrequency\";s:13:\"modelAsString\";b:0;}}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RecurrentSchedule\";s:11:\"description\";s:55:\"the
  scheduling constraints for when the profile begins.\";}}s:11:\"description\";s:108:\"The
  repeating times at which this profile begins. This element is not used if the FixedDate
  element is used.\";}s:16:\"AutoscaleProfile\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:5:\"rules\";i:1;s:4:\"name\";i:2;s:8:\"capacity\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"the
  name of the profile.\";}s:8:\"capacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ScaleCapacity\";s:11:\"description\";s:61:\"the
  number of instances that can be used during this profile.\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ScaleRule\";}s:11:\"description\";s:128:\"the
  collection of rules that provide the triggers and parameters for the scaling action.
  A maximum of 10 rules can be specified.\";}s:9:\"fixedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimeWindow\";s:11:\"description\";s:99:\"the
  specific date-time for the profile. This element is not used if the Recurrence element
  is used.\";}s:10:\"recurrence\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Recurrence\";s:11:\"description\";s:108:\"the
  repeating times at which this profile begins. This element is not used if the FixedDate
  element is used.\";}}s:11:\"description\";s:18:\"Autoscale profile.\";}s:17:\"EmailNotification\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:31:\"sendToSubscriptionAdministrator\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:71:\"a
  value indicating whether to send email to subscription administrator.\";}s:34:\"sendToSubscriptionCoAdministrators\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:75:\"a
  value indicating whether to send email to subscription co-administrators.\";}s:12:\"customEmails\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:103:\"the
  custom e-mails list. This value can be null or empty, in which case this attribute
  will be ignored.\";}}s:11:\"description\";s:41:\"Email notification of an autoscale
  event.\";}s:19:\"WebhookNotification\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"serviceUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"the
  service address to receive the notification.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:52:\"a
  property bag of settings. This value can be empty.\";}}s:11:\"description\";s:43:\"Webhook
  notification of an autoscale event.\";}s:21:\"AutoscaleNotification\";O:8:\"stdClass\":3:{s:8:\"required\";a:1:{i:0;s:9:\"operation\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"operation\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"the
  operation associated with the notification and its value must be \"scale\"\";s:4:\"enum\";a:1:{i:0;s:5:\"Scale\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"OperationType\";s:13:\"modelAsString\";b:0;}}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EmailNotification\";s:11:\"description\";s:23:\"the
  email notification.\";}s:8:\"webhooks\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/WebhookNotification\";}s:11:\"description\";s:40:\"the
  collection of webhook notifications.\";}}s:11:\"description\";s:23:\"Autoscale notification.\";}s:16:\"AutoscaleSetting\";O:8:\"stdClass\":3:{s:8:\"required\";a:1:{i:0;s:8:\"profiles\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"profiles\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"maxItems\";i:20;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AutoscaleProfile\";}s:11:\"description\";s:157:\"the
  collection of automatic scaling profiles that specify different scaling parameters
  for different time periods. A maximum of 20 profiles can be specified.\";}s:13:\"notifications\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AutoscaleNotification\";}s:11:\"description\";s:32:\"the
  collection of notifications.\";}s:7:\"enabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:111:\"the
  enabled flag. Specifies whether automatic scaling is enabled for the resource. The
  default value is 'true'.\";s:7:\"default\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"the
  name of the autoscale setting.\";}s:17:\"targetResourceUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"the
  resource identifier of the resource that the autoscale setting should be added to.\";}}s:11:\"description\";s:89:\"A
  setting that contains all of the configuration for the automatic scaling of a resource.\";}s:24:\"AutoscaleSettingResource\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:30:\"#/definitions/AutoscaleSetting\";s:11:\"description\";s:38:\"The
  autoscale setting of the resource.\";}}s:11:\"description\";s:31:\"The autoscale
  setting resource.\";}s:29:\"AutoscaleSettingResourcePatch\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  autoscale setting object for patch operations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:30:\"#/definitions/AutoscaleSetting\";s:11:\"description\";s:57:\"The
  autoscale setting properties of the update operation.\";}}}s:34:\"AutoscaleSettingResourceCollection\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AutoscaleSettingResource\";}s:11:\"description\";s:47:\"the
  values for the autoscale setting resources.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"URL
  to get the next set of results.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:55:\"Represents
  a collection of autoscale setting resources.\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}}}"
...
