---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2017-09-01\";s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";}"
host: management.azure.com
paths: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:28:\"SecurityRulePropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":16:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"A
  description for this rule. Restricted to 140 chars.\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"Network
  protocol this rule applies to. Possible values are 'Tcp', 'Udp', and '*'.\";s:4:\"enum\";a:3:{i:0;s:3:\"Tcp\";i:1;s:3:\"Udp\";i:2;s:1:\"*\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"SecurityRuleProtocol\";s:13:\"modelAsString\";b:0;}}s:15:\"sourcePortRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"The
  source port or range. Integer or range between 0 and 65535. Asterix '*' can also
  be used to match all ports.\";}s:20:\"destinationPortRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:117:\"The
  destination port or range. Integer or range between 0 and 65535. Asterix '*' can
  also be used to match all ports.\";}s:19:\"sourceAddressPrefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:252:\"The
  CIDR or source IP range. Asterix '*' can also be used to match all source IPs. Default
  tags such as 'VirtualNetwork', 'AzureLoadBalancer' and 'Internet' can also be used.
  If this is an ingress rule, specifies where network traffic originates from. \";}s:21:\"sourceAddressPrefixes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:29:\"The
  CIDR or source IP ranges.\";}s:31:\"sourceApplicationSecurityGroups\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ApplicationSecurityGroup\";}s:11:\"description\";s:51:\"The
  application security group specified as source.\";}s:24:\"destinationAddressPrefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:207:\"The
  destination address prefix. CIDR or destination IP range. Asterix '*' can also be
  used to match all source IPs. Default tags such as 'VirtualNetwork', 'AzureLoadBalancer'
  and 'Internet' can also be used.\";}s:26:\"destinationAddressPrefixes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:64:\"The
  destination address prefixes. CIDR or destination IP ranges.\";}s:36:\"destinationApplicationSecurityGroups\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ApplicationSecurityGroup\";}s:11:\"description\";s:56:\"The
  application security group specified as destination.\";}s:16:\"sourcePortRanges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  source port.\";}s:11:\"description\";s:23:\"The source port ranges.\";}s:21:\"destinationPortRanges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  destination port.\";}s:11:\"description\";s:28:\"The destination port ranges.\";}s:6:\"access\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"The
  network traffic is allowed or denied. Possible values are: 'Allow' and 'Deny'.\";s:4:\"enum\";a:2:{i:0;s:5:\"Allow\";i:1;s:4:\"Deny\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"SecurityRuleAccess\";s:13:\"modelAsString\";b:0;}}s:8:\"priority\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:200:\"The
  priority of the rule. The value can be between 100 and 4096. The priority number
  must be unique for each rule in the collection. The lower the priority number, the
  higher the priority of the rule.\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:157:\"The
  direction of the rule. The direction specifies if rule will be evaluated on incoming
  or outcoming traffic. Possible values are: 'Inbound' and 'Outbound'.\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"SecurityRuleDirection\";s:13:\"modelAsString\";b:0;}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";}}s:11:\"description\";s:23:\"Security rule resource.\";s:8:\"required\";a:8:{i:0;s:8:\"protocol\";i:1;s:19:\"sourceAddressPrefix\";i:2;s:24:\"destinationAddressPrefix\";i:3;s:6:\"access\";i:4;s:9:\"direction\";i:5;s:15:\"sourcePortRange\";i:6;s:20:\"destinationPortRange\";i:7;s:8:\"priority\";}}s:12:\"SecurityRule\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:42:\"#/definitions/SecurityRulePropertiesFormat\";s:11:\"description\";s:31:\"Properties
  of the security rule\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SubResourceReadOnly\";}}s:11:\"description\";s:22:\"Network
  security rule.\";}s:22:\"SecurityRuleListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SecurityRule\";}s:11:\"description\";s:47:\"The
  security rules in a network security group.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:118:\"Response for
  ListSecurityRule API service call. Retrieves all security rules that belongs to
  a network security group.\";}s:36:\"NetworkSecurityGroupPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"securityRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SecurityRule\";}s:11:\"description\";s:61:\"A
  collection of security rules of the network security group.\";}s:20:\"defaultSecurityRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SecurityRule\";}s:11:\"description\";s:53:\"The
  default security rules of network security group.\";}s:17:\"networkInterfaces\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:49:\"A
  collection of references to network interfaces.\";}s:7:\"subnets\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:38:\"A
  collection of references to subnets.\";}s:12:\"resourceGuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"The
  resource GUID property of the network security group resource.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";}}s:11:\"description\";s:32:\"Network Security Group resource.\";}s:20:\"NetworkSecurityGroup\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:50:\"#/definitions/NetworkSecurityGroupPropertiesFormat\";s:11:\"description\";s:40:\"Properties
  of the network security group\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:30:\"NetworkSecurityGroup
  resource.\";}s:30:\"NetworkSecurityGroupListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/NetworkSecurityGroup\";}s:11:\"description\";s:41:\"A
  list of NetworkSecurityGroup resources.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:56:\"Response for
  ListNetworkSecurityGroups API service call.\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  type.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Resource
  location.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";}}s:11:\"description\";s:31:\"Common resource representation.\";s:19:\"x-ms-azure-resource\";b:1;s:8:\"required\";a:1:{i:0;s:8:\"location\";}}s:11:\"SubResource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  ID.\";}}s:11:\"description\";s:33:\"Reference to another subresource.\";s:19:\"x-ms-azure-resource\";b:1;s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:19:\"SubResourceReadOnly\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Resource
  ID\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:40:\"ApplicationSecurityGroupPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"resourceGuid\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:204:\"The
  resource GUID property of the application security group resource. It uniquely identifies
  a resource, even if the user changes its name or migrate the resource across subscriptions
  or resource groups.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:138:\"The
  provisioning state of the application security group resource. Possible values are:
  'Succeeded', 'Updating', 'Deleting', and 'Failed'.\";}}s:11:\"description\";s:38:\"Application
  security group properties.\";}s:24:\"ApplicationSecurityGroup\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:54:\"#/definitions/ApplicationSecurityGroupPropertiesFormat\";s:11:\"description\";s:45:\"Properties
  of the application security group.\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:50:\"An
  application security group in a resource group.\";}}"
...
