---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:1206:\"Use these REST
  APIs for performing operations on Group entity in your Azure API Management deployment.
  Groups are used to manage the visibility of products to developers. Each API Management
  service instance comes with the following immutable system groups whose membership
  is automatically managed by API Management.  - **Administrators** - Azure subscription
  administrators are members of this group. - **Developers** - Authenticated developer
  portal users fall into this group. - **Guests** - Unauthenticated developer portal
  users are placed into this group. In addition to these system groups, administrators
  can create custom groups or [leverage external groups in associated Azure Active
  Directory tenants](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad#how-to-add-an-external-azure-active-directory-group).
  Custom and external groups can be used alongside system groups in giving developers
  visibility and access to API products. For example, you could create one custom
  group for developers affiliated with a specific partner organization and allow them
  access to the APIs from a product containing relevant APIs only. A user can be a
  member of more than one group.\";s:5:\"title\";s:19:\"ApiManagementClient\";s:7:\"version\";s:10:\"2018-01-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:171:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/apimgroups.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:24:\"apimanagement-apimgroups\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:30:\"azure_apimanagement_apimgroups\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:15:\"GroupCollection\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Paged
  Group list representation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Next
  page link if any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Page
  values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GroupContract\";}s:4:\"type\";s:5:\"array\";}}}s:13:\"GroupContract\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  Resource definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Resource
  type for API Management resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:17:\"Contract
  details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/GroupContractProperties\";s:11:\"description\";s:33:\"Group
  entity contract properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:23:\"GroupContractProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Group
  contract Properties.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"builtIn\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"true
  if the group is one of the three system groups (Administrators, Developers, or Guests);
  otherwise false.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Group
  description. Can contain HTML formatting tags.\";s:9:\"maxLength\";i:1000;s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Group
  name.\";s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:218:\"For
  external groups, this property contains the id of the group from the external identity
  provider, e.g. for Azure Active Directory aad://<tenant>.onmicrosoft.com/groups/<group
  object id>; otherwise the value is null.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Group
  type.\";s:4:\"enum\";a:3:{i:0;s:6:\"custom\";i:1;s:6:\"system\";i:2;s:8:\"external\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:9:\"GroupType\";}}}s:8:\"required\";a:1:{i:0;s:11:\"displayName\";}}s:21:\"GroupCreateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Parameters
  supplied to the Create Group operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:45:\"#/definitions/GroupCreateParametersProperties\";s:11:\"description\";s:46:\"Properties
  supplied to Create Group operation.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:31:\"GroupCreateParametersProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Parameters
  supplied to the Create Group operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Group
  description.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Group
  name.\";s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:232:\"Identifier
  of the external groups, this property contains the id of the group from the external
  identity provider, e.g. for Azure Active Directory aad://<tenant>.onmicrosoft.com/groups/<group
  object id>; otherwise the value is null.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Group
  type.\";s:4:\"enum\";a:3:{i:0;s:6:\"custom\";i:1;s:6:\"system\";i:2;s:8:\"external\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:9:\"GroupType\";}}}s:8:\"required\";a:1:{i:0;s:11:\"displayName\";}}s:21:\"GroupUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Parameters
  supplied to the Update Group operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:45:\"#/definitions/GroupUpdateParametersProperties\";s:11:\"description\";s:40:\"Group
  entity update contract properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:31:\"GroupUpdateParametersProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Parameters
  supplied to the Update Group operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Group
  description.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Group
  name.\";s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:232:\"Identifier
  of the external groups, this property contains the id of the group from the external
  identity provider, e.g. for Azure Active Directory aad://<tenant>.onmicrosoft.com/groups/<group
  object id>; otherwise the value is null.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Group
  type.\";s:4:\"enum\";a:3:{i:0;s:6:\"custom\";i:1;s:6:\"system\";i:2;s:8:\"external\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:9:\"GroupType\";}}}}}"
...
