---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"ApiManagementClient\";s:11:\"description\";s:123:\"Use
  these REST APIs for performing retrieving a collection of policy snippets available
  in Azure API Management deployment.\";s:7:\"version\";s:10:\"2019-01-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policySnippets
  : get:
      tags:
      - PolicySnippet
      operationId: PolicySnippet_ListByService
      description: Lists all policy snippets.
      x-ms-examples:
        ApiManagementListPolicySnippets:
          $ref: ./examples/ApiManagementListPolicySnippets.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - name: scope
        in: query
        required: false
        type: string
        description: Policy scope.
        enum:
        - Tenant
        - Product
        - Api
        - Operation
        - All
        x-ms-enum:
          name: PolicyScopeContract
          modelAsString: false
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Returns an array of Policy Snippets.
          schema:
            $ref: ./definitions.json#/definitions/PolicySnippetsCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
