---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:24:\"KeyVaultManagementClient\";s:11:\"description\";s:99:\"The
  Azure management API provides a RESTful set of web services that interact with Azure
  Key Vault.\";s:7:\"version\";s:10:\"2015-06-01\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}:
    put:
      tags:
      - Vaults
      operationId: Vaults_CreateOrUpdate
      description: Create or update a key vault in the specified subscription.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the Resource Group to which the server belongs.
      - name: vaultName
        in: path
        required: true
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
        description: Name of the vault
      - $ref: '#/parameters/ApiVersionParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/VaultCreateOrUpdateParameters'
        description: Parameters to create or update the vault
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        201:
          description: Created or updated vault
          schema:
            $ref: '#/definitions/Vault'
        200:
          description: Created or updated vault
          schema:
            $ref: '#/definitions/Vault'
    delete:
      tags:
      - Vaults
      operationId: Vaults_Delete
      description: Deletes the specified Azure key vault.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the Resource Group to which the vault belongs.
      - name: vaultName
        in: path
        required: true
        type: string
        description: The name of the vault to delete
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK Response.
    get:
      tags:
      - Vaults
      operationId: Vaults_Get
      description: Gets the specified Azure key vault.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the Resource Group to which the vault belongs.
      - name: vaultName
        in: path
        required: true
        type: string
        description: The name of the vault.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Retrieved vault
          schema:
            $ref: '#/definitions/Vault'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults:
    get:
      tags:
      - Vaults
      operationId: Vaults_ListByResourceGroup
      description: The List operation gets information about the vaults associated
        with the subscription and within the specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the Resource Group to which the vault belongs.
      - name: $top
        in: query
        type: integer
        format: int32
        description: Maximum number of results to return.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Get information about all key vaults in the specified resource
            group.
          schema:
            $ref: '#/definitions/VaultListResult'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resources:
    get:
      tags:
      - Vaults
      operationId: Vaults_List
      description: The List operation gets information about the vaults associated
        with the subscription.
      parameters:
      - name: $filter
        in: query
        required: true
        type: string
        enum:
        - resourceType eq 'Microsoft.KeyVault/vaults'
        description: The filter to apply on the operation.
      - name: $top
        in: query
        type: integer
        format: int32
        description: Maximum number of results to return.
      - name: api-version
        in: query
        required: true
        type: string
        enum:
        - "2015-11-01"
        description: Azure Resource Manager Api Version.
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Get information about all key vaults in the subscription.
          schema:
            $ref: '#/definitions/ResourceListResult'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:3:\"Sku\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"family\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"SKU
  family name\";s:4:\"enum\";a:1:{i:0;s:1:\"A\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"SkuFamily\";s:13:\"modelAsString\";b:1;}}s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"SKU
  name to specify whether the key vault is a standard vault or a premium vault.\";s:4:\"enum\";a:2:{i:0;s:8:\"standard\";i:1;s:7:\"premium\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"SkuName\";s:13:\"modelAsString\";b:0;}}}s:11:\"description\";s:11:\"SKU
  details\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:6:\"family\";}}s:17:\"AccessPolicyEntry\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"tenantId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:102:\"The
  Azure Active Directory tenant ID that should be used for authenticating requests
  to the key vault.\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:174:\"The
  object ID of a user, service principal or security group in the Azure Active Directory
  tenant for the vault. The object ID must be unique for the list of access policies.\";}s:13:\"applicationId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:69:\"
  Application ID of the client making request on behalf of a principal\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Permissions\";s:11:\"description\";s:64:\"Permissions
  the identity has for keys, secrets and certificates.\";}}s:11:\"description\";s:132:\"An
  identity that have access to the key vault. All identities in the array must use
  the same tenant ID as the key vault's tenant ID.\";s:8:\"required\";a:3:{i:0;s:8:\"tenantId\";i:1;s:8:\"objectId\";i:2;s:11:\"permissions\";}}s:11:\"Permissions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"keys\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:17:{i:0;s:3:\"all\";i:1;s:7:\"encrypt\";i:2;s:7:\"decrypt\";i:3;s:7:\"wrapKey\";i:4;s:9:\"unwrapKey\";i:5;s:4:\"sign\";i:6;s:6:\"verify\";i:7;s:3:\"get\";i:8;s:4:\"list\";i:9;s:6:\"create\";i:10;s:6:\"update\";i:11;s:6:\"import\";i:12;s:6:\"delete\";i:13;s:6:\"backup\";i:14;s:7:\"restore\";i:15;s:7:\"recover\";i:16;s:5:\"purge\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"KeyPermissions\";s:13:\"modelAsString\";b:1;}}s:11:\"description\";s:19:\"Permissions
  to keys\";}s:7:\"secrets\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:3:\"all\";i:1;s:3:\"get\";i:2;s:4:\"list\";i:3;s:3:\"set\";i:4;s:6:\"delete\";i:5;s:6:\"backup\";i:6;s:7:\"restore\";i:7;s:7:\"recover\";i:8;s:5:\"purge\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"SecretPermissions\";s:13:\"modelAsString\";b:1;}}s:11:\"description\";s:22:\"Permissions
  to secrets\";}s:12:\"certificates\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:15:{i:0;s:3:\"all\";i:1;s:3:\"get\";i:2;s:4:\"list\";i:3;s:6:\"delete\";i:4;s:6:\"create\";i:5;s:6:\"import\";i:6;s:6:\"update\";i:7;s:14:\"managecontacts\";i:8;s:10:\"getissuers\";i:9;s:11:\"listissuers\";i:10;s:10:\"setissuers\";i:11;s:13:\"deleteissuers\";i:12;s:13:\"manageissuers\";i:13;s:7:\"recover\";i:14;s:5:\"purge\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"CertificatePermissions\";s:13:\"modelAsString\";b:1;}}s:11:\"description\";s:27:\"Permissions
  to certificates\";}}s:11:\"description\";s:64:\"Permissions the identity has for
  keys, secrets and certificates.\";}s:15:\"VaultProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"vaultUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  URI of the vault for performing operations on keys and secrets.\";}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:102:\"The
  Azure Active Directory tenant ID that should be used for authenticating requests
  to the key vault.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:11:\"SKU
  details\";}s:14:\"accessPolicies\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AccessPolicyEntry\";}s:8:\"maxItems\";i:16;s:11:\"description\";s:151:\"An
  array of 0 to 16 identities that have access to the key vault. All identities in
  the array must use the same tenant ID as the key vault's tenant ID.\";}s:20:\"enabledForDeployment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:127:\"Property
  to specify whether Azure Virtual Machines are permitted to retrieve certificates
  stored as secrets from the key vault.\";}s:24:\"enabledForDiskEncryption\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:114:\"Property
  to specify whether Azure Disk Encryption is permitted to retrieve secrets from the
  vault and unwrap keys.\";}s:28:\"enabledForTemplateDeployment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:103:\"Property
  to specify whether Azure Resource Manager is permitted to retrieve secrets from
  the key vault.\";}s:16:\"enableSoftDelete\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:90:\"Property
  to specify whether the 'soft delete' functionality is enabled for this key vault.\";}}s:8:\"required\";a:3:{i:0;s:8:\"tenantId\";i:1;s:3:\"sku\";i:2;s:14:\"accessPolicies\";}s:11:\"description\";s:23:\"Properties
  of the vault\";}s:29:\"VaultCreateOrUpdateParameters\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  supported Azure location where the key vault should be created.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:49:\"The
  tags that will be assigned to the key vault. \";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VaultProperties\";s:11:\"description\";s:23:\"Properties
  of the vault\";}}s:11:\"description\";s:43:\"Parameters for creating or updating
  a vault\";s:8:\"required\";a:2:{i:0;s:8:\"location\";i:1;s:10:\"properties\";}s:19:\"x-ms-azure-resource\";b:1;}s:5:\"Vault\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VaultProperties\";s:11:\"description\";s:23:\"Properties
  of the vault\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:43:\"Resource
  information with extended details.\";}s:15:\"VaultListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Vault\";}s:11:\"description\";s:32:\"Gets
  or sets the list of vaults.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Gets
  or sets the URL to get the next set of vaults.\";}}s:11:\"description\";s:14:\"List
  of vaults\";}s:18:\"ResourceListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:11:\"description\";s:33:\"Gets
  the list of vault resources.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Gets
  the URL to get the next set of vault resources.\";}}s:11:\"description\";s:24:\"List
  of vault resources.\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  Azure Resource Manager resource ID for the key vault.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  name of the key vault.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  resource type of the key vault.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  supported Azure location where the key vault should be created.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:49:\"The
  tags that will be assigned to the key vault. \";}}s:11:\"description\";s:18:\"Key
  Vault resource\";s:8:\"required\";a:2:{i:0;s:8:\"location\";i:1;s:4:\"name\";}s:19:\"x-ms-azure-resource\";b:1;}}"
...
