---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:280:\"The Microsoft
  Azure Network management API provides a RESTful set of web services that interact
  with Microsoft Azure Networks service to manage your network resources. The API
  has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:5:\"title\";s:23:\"NetworkManagementClient\";s:7:\"version\";s:10:\"2017-10-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:168:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2017-10-01/checkDnsAvailability.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:28:\"network-checkDnsAvailability\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/CheckDnsNameAvailability:
    get:
      description: Checks whether a domain name in the cloudapp.azure.com zone is
        available for use.
      operationId: CheckDnsNameAvailability
      parameters:
      - description: The location of the domain name.
        in: path
        name: location
        required: true
        type: string
      - description: 'The domain name to be verified. It must conform to the following
          regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$.'
        in: query
        name: domainNameLabel
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. Returns whether the DNS name is available.
          schema:
            $ref: '#/definitions/DnsNameAvailabilityResult'
      x-ms-examples:
        Check Dns Name Availability:
          parameters:
            api-version: "2017-10-01"
            domainNameLabel: testdns
            location: westus
            subscriptionId: subid
          responses:
            200:
              body:
                available: false
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:25:\"DnsNameAvailabilityResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Response
  for the CheckDnsNameAvailability API service call.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"available\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Domain
  availability (True/False).\";s:4:\"type\";s:7:\"boolean\";}}}}"
...
