---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:328:\"Use these REST
  APIs for getting the network connectivity status of your Azure API Management deployment.
  When the API Management service is deployed inside a Virtual Network, it needs to
  have access to other Azure resources it depends on. This also gives details about
  the DNS Servers visible to Azure API Management deployment.\";s:5:\"title\";s:19:\"ApiManagementClient\";s:7:\"version\";s:10:\"2017-03-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:177:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimnetworkstatus.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:31:\"apimanagement-apimnetworkstatus\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:37:\"azure_apimanagement_apimnetworkstatus\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/locations/{locationName}/networkstatus
  : get:
      description: Gets the Connectivity Status to the external resources on which
        the Api Management service depends from inside the Cloud Service. This also
        returns the DNS Servers as visible to the CloudService.
      operationId: NetworkStatus_ListByLocation
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/LocationNameParameter'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Gets the Network status details.
          schema:
            $ref: '#/definitions/NetworkStatusContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status
                  for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of
                  validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level
                        error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
      - NetworkStatus
      x-ms-examples:
        ApiManagementServiceGetNetworkStatusByLocation:
          parameters:
            api-version: "2017-03-01"
            locationName: East Asia
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                connectivityStatus:
                - error: ""
                  lastStatusChange: "2017-04-13T19:39:53.5543347Z"
                  lastUpdated: "2017-06-01T23:13:07.9054516Z"
                  name: apimgmtstxaleb7*******.blob.core.windows.net
                  status: success
                - error: ""
                  lastStatusChange: "2017-04-13T19:39:53.7262408Z"
                  lastUpdated: "2017-06-01T23:13:08.1242042Z"
                  name: apimgmtstxaleb7*******.file.core.windows.net
                  status: success
                - error: ""
                  lastStatusChange: "2017-05-27T17:52:41.3592337Z"
                  lastUpdated: "2017-06-01T23:08:22.9140197Z"
                  name: Scm
                  status: success
                - error: ""
                  lastStatusChange: "2017-04-13T19:39:53.5543347Z"
                  lastUpdated: "2017-06-01T23:13:08.0617078Z"
                  name: '****seqi.database.windows.net'
                  status: success
                dnsServers:
                - 10.20.32.69
                - 10.20.237.143
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/networkstatus
  : get:
      description: Gets the Connectivity Status to the external resources on which
        the Api Management service depends from inside the Cloud Service. This also
        returns the DNS Servers as visible to the CloudService.
      operationId: NetworkStatus_ListByService
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Gets the Network status details.
          schema:
            $ref: '#/definitions/NetworkStatusContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status
                  for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of
                  validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level
                        error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
      - NetworkStatus
      x-ms-examples:
        ApiManagementServiceGetNetworkStatus:
          parameters:
            api-version: "2017-03-01"
            locationName: East Asia
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
              - location: Central US
                networkStatus:
                  connectivityStatus:
                  - error: ""
                    lastStatusChange: "2017-06-28T23:17:34.9009011Z"
                    lastUpdated: "2017-06-28T23:37:35.1518379Z"
                    name: ap********.blob.core.windows.net
                    status: success
                  - error: ""
                    lastStatusChange: "2017-06-28T23:17:35.2579713Z"
                    lastUpdated: "2017-06-28T23:37:35.9161347Z"
                    name: ap********.file.core.windows.net
                    status: success
                  - error: ""
                    lastStatusChange: "2017-06-28T23:17:35.0079651Z"
                    lastUpdated: "2017-06-28T23:37:35.2130114Z"
                    name: e*****.database.windows.net
                    status: success
                  - error: ""
                    lastStatusChange: "2017-06-28T23:27:36.8198739Z"
                    lastUpdated: "2017-06-28T23:37:37.4401208Z"
                    name: Scm
                    status: success
                  dnsServers:
                  - 10.20.37.126
                  - 10.20.244.38
              - location: West US
                networkStatus:
                  connectivityStatus:
                  - error: ""
                    lastStatusChange: "2017-06-28T23:17:06.4831818Z"
                    lastUpdated: "2017-06-28T23:37:07.1803004Z"
                    name: ap********.file.core.windows.net
                    status: success
                  - error: ""
                    lastStatusChange: "2017-06-28T23:17:05.7332755Z"
                    lastUpdated: "2017-06-28T23:37:05.9303015Z"
                    name: bb******.blob.core.windows.net
                    status: success
                  - error: ""
                    lastStatusChange: "2017-06-28T23:17:06.1237965Z"
                    lastUpdated: "2017-06-28T23:37:07.1178113Z"
                    name: e******.database.windows.net
                    status: success
                  dnsServers:
                  - 10.64.3.87
                  - 10.64.5.29
                  - 10.20.32.105
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:26:\"ConnectivityStatusContract\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Details
  about connectivity to a resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  details of the connectivity to the resource.\";s:4:\"type\";s:6:\"string\";}s:16:\"lastStatusChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:204:\"The
  date when the resource connectivity status last Changed from success to failure
  or vice-versa. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"lastUpdated\";O:8:\"stdClass\":3:{s:11:\"description\";s:365:\"The
  date when the resource connectivity status was last updated. This status should
  be updated every 15 minutes. If this status has not been updated, then it means
  that the service has lost network connectivity to the resource, from inside the
  Virtual Network.The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"The
  hostname of the resource which the service depends on. This can be the database,
  storage or any other azure resource on which the service depends upon.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Resource
  Connectivity Status Type identifier.\";s:4:\"enum\";a:3:{i:0;s:12:\"initializing\";i:1;s:7:\"success\";i:2;s:7:\"failure\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:22:\"ConnectivityStatusType\";}}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:6:\"status\";i:2;s:11:\"lastUpdated\";i:3;s:16:\"lastStatusChange\";}}s:21:\"NetworkStatusContract\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Network
  Status details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"connectivityStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Gets
  the list of Connectivity Status to the Resources on which the service depends upon.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ConnectivityStatusContract\";}s:4:\"type\";s:5:\"array\";}s:10:\"dnsServers\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  the list of DNS servers IPV4 addresses.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:10:\"dnsServers\";i:1;s:18:\"connectivityStatus\";}}}"
...
