---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:20:\"Azure Media Services\";s:11:\"description\";s:48:\"This
  Swagger was generated by the API Framework.\";s:7:\"version\";s:10:\"2018-07-01\";}"
host: management.azure.com
paths:
  /providers/Microsoft.Media/operations:
    get:
      summary: List Operations
      description: Lists all the Media Services operations.
      operationId: Operations_List
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationCollection'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/ApiVersion'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-ms-examples:
        List Operations:
          $ref: examples/operations-list-all.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices:
    get:
      summary: List Media Services accounts
      description: List Media Services accounts in the resource group
      operationId: Mediaservices_List
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MediaServiceCollection'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/ApiVersion'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-ms-examples:
        List all Media Services accounts:
          $ref: examples/accounts-list-all-accounts.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}:
    get:
      summary: Get a Media Services account
      description: Get the details of a Media Services account
      operationId: Mediaservices_Get
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MediaService'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - name: accountName
        in: path
        required: true
        type: string
        description: The Media Services account name.
      - $ref: '#/parameters/ApiVersion'
      x-ms-examples:
        Get a Media Services account by name:
          $ref: examples/accounts-get-by-name.json
    put:
      summary: Create or update a Media Services account
      description: Creates or updates a Media Services account
      operationId: Mediaservices_CreateOrUpdate
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MediaService'
        201:
          description: Created
          schema:
            $ref: '#/definitions/MediaService'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - name: accountName
        in: path
        required: true
        type: string
        description: The Media Services account name.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/MediaService'
        description: The request parameters
      - $ref: '#/parameters/ApiVersion'
      x-ms-examples:
        Create a Media Services account:
          $ref: examples/accounts-create.json
    delete:
      summary: Delete a Media Services account.
      description: Deletes a Media Services account
      operationId: Mediaservices_Delete
      responses:
        200:
          description: OK
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - name: accountName
        in: path
        required: true
        type: string
        description: The Media Services account name.
      - $ref: '#/parameters/ApiVersion'
      x-ms-examples:
        Delete a Media Services account:
          $ref: examples/accounts-delete.json
    patch:
      summary: Update a Media Services account
      description: Updates an existing Media Services account
      operationId: Mediaservices_Update
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MediaService'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - name: accountName
        in: path
        required: true
        type: string
        description: The Media Services account name.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/MediaService'
        description: The request parameters
      - $ref: '#/parameters/ApiVersion'
      x-ms-examples:
        Update a Media Services accounts:
          $ref: examples/accounts-update.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/syncStorageKeys
  : post:
      summary: Synchronizes Storage Account Keys
      description: Synchronizes storage account keys for a storage account associated
        with the Media Service account.
      operationId: Mediaservices_SyncStorageKeys
      responses:
        200:
          description: OK
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - name: accountName
        in: path
        required: true
        type: string
        description: The Media Services account name.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/SyncStorageKeysInput'
        description: The request parameters
      - $ref: '#/parameters/ApiVersion'
      x-ms-examples:
        Synchronizes Storage Account Keys:
          $ref: examples/accounts-sync-storage-keys.json
  /subscriptions/{subscriptionId}/providers/Microsoft.Media/locations/{locationName}/checkNameAvailability:
    post:
      summary: Check Name Availability
      description: Checks whether the Media Service resource name is available.
      operationId: Locations_CheckNameAvailability
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EntityNameAvailabilityCheckOutput'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - name: locationName
        in: path
        required: true
        type: string
        description: The name of the location
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/CheckNameAvailabilityInput'
        description: The request parameters
      - $ref: '#/parameters/ApiVersion'
      x-ms-examples:
        Check Name Availability:
          $ref: examples/accounts-check-name-availability.json
  /subscriptions/{subscriptionId}/providers/Microsoft.Media/mediaservices:
    get:
      summary: List Media Services accounts
      description: List Media Services accounts in the subscription.
      operationId: Mediaservices_ListBySubscription
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SubscriptionMediaServiceCollection'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-ms-examples:
        List all Media Services accounts:
          $ref: examples/accounts-subscription-list-all-accounts.json
  /subscriptions/{subscriptionId}/providers/Microsoft.Media/mediaservices/{accountName}:
    get:
      summary: Get a Media Services account
      description: Get the details of a Media Services account
      operationId: Mediaservices_GetBySubscription
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SubscriptionMediaService'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - description: The Media Services account name.
        name: accountName
        in: path
        required: true
        type: string
      - $ref: '#/parameters/ApiVersion'
      x-ms-examples:
        Get a Media Services account by name:
          $ref: examples/accounts-subscription-get-by-name.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:8:\"Provider\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"A
  resource provider.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"providerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  provider name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:12:\"providerName\";}}s:16:\"OperationDisplay\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"provider\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  service provider.\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Resource
  on which the operation is performed.\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  operation type.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  operation description.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:18:\"Operation
  details.\";}s:15:\"MetricDimension\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  metric dimension name.\";s:8:\"readOnly\";b:1;}s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  display name for the dimension.\";s:8:\"readOnly\";b:1;}s:22:\"toBeExportedForShoebox\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:36:\"Whether
  to export metric to shoebox.\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"A
  metric dimension.\";}s:6:\"Metric\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  metric name.\";s:8:\"readOnly\";b:1;}s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  metric display name.\";s:8:\"readOnly\";b:1;}s:18:\"displayDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  metric display description.\";s:8:\"readOnly\";b:1;}s:4:\"unit\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:5:\"Bytes\";i:1;s:5:\"Count\";i:2;s:12:\"Milliseconds\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:10:\"MetricUnit\";s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:5:\"Bytes\";s:11:\"description\";s:20:\"The
  number of bytes.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:5:\"Count\";s:11:\"description\";s:10:\"The
  count.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:12:\"Milliseconds\";s:11:\"description\";s:27:\"The
  number of milliseconds.\";}}s:13:\"modelAsString\";b:1;}s:11:\"description\";s:15:\"The
  metric unit\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}s:15:\"aggregationType\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"Average\";i:1;s:5:\"Count\";i:2;s:5:\"Total\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:21:\"MetricAggregationType\";s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:7:\"Average\";s:11:\"description\";s:12:\"The
  average.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:5:\"Count\";s:11:\"description\";s:49:\"The
  count of a number of items, usually requests.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:5:\"Total\";s:11:\"description\";s:8:\"The
  sum.\";}}s:13:\"modelAsString\";b:1;}s:11:\"description\";s:27:\"The metric aggregation
  type\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}s:10:\"dimensions\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MetricDimension\";}s:11:\"description\";s:22:\"The
  metric dimensions.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"A
  metric emitted by service.\";}s:20:\"ServiceSpecification\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"metricSpecifications\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Metric\";}s:11:\"description\";s:30:\"List
  of metric specifications.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:34:\"The
  service metric specifications.\";}s:16:\"MetricProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"serviceSpecification\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:34:\"#/definitions/ServiceSpecification\";s:11:\"description\";s:27:\"The
  service specifications.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:18:\"Metric
  properties.\";}s:9:\"Operation\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"An
  operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  operation name.\";}s:7:\"display\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OperationDisplay\";s:11:\"description\";s:27:\"The
  operation display name.\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Origin
  of the operation.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/MetricProperties\";s:11:\"description\";s:28:\"Operation
  properties format.\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:8:\"Location\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:33:\"EntityNameAvailabilityCheckOutput\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"nameAvailable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:35:\"Specifies
  if the name is available.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Specifies
  the reason if the name is not available.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Specifies
  the detailed reason if the name is not available.\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:13:\"nameAvailable\";}s:11:\"description\";s:54:\"The
  response from the check name availability request.\";}s:14:\"StorageAccount\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:293:\"The
  ID of the storage account resource. Media Services relies on tables and queues as
  well as blobs, so the primary storage account must be a Standard Storage account
  (either Microsoft.ClassicStorage or Microsoft.Storage). Blob only storage accounts
  can be added as secondary storage accounts.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Primary\";i:1;s:9:\"Secondary\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:18:\"StorageAccountType\";s:6:\"values\";a:2:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:7:\"Primary\";s:11:\"description\";s:59:\"The
  primary storage account for the Media Services account.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:9:\"Secondary\";s:11:\"description\";s:59:\"A
  secondary storage account for the Media Services account.\";}}s:13:\"modelAsString\";b:1;}s:11:\"description\";s:32:\"The
  type of the storage account.\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:11:\"description\";s:28:\"The
  storage account details.\";}s:20:\"SyncStorageKeysInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  ID of the storage account resource.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:43:\"The
  input to the sync storage keys request.\";}s:22:\"MediaServiceProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"mediaServiceId\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:30:\"The
  Media Services account ID.\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}s:15:\"storageAccounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/StorageAccount\";}s:11:\"description\";s:39:\"The
  storage accounts for this resource.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:41:\"Properties
  of the Media Services account.\";}s:12:\"MediaService\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"A
  Media Services account.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"./Common.json#/definitions/TrackedResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/MediaServiceProperties\";s:11:\"description\";s:24:\"The
  resource properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:24:\"SubscriptionMediaService\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"A
  Media Services account.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"./Common.json#/definitions/TrackedResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/MediaServiceProperties\";s:11:\"description\";s:24:\"The
  resource properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:10:\"ODataError\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"A
  language-independent error name.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  error message.\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"The
  target of the error (for example, the name of the property in error).\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ODataError\";}s:11:\"description\";s:18:\"The
  error details.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"Information
  about an error.\";}s:8:\"ApiError\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ODataError\";s:11:\"description\";s:21:\"The
  error properties.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"The
  API error.\";}s:19:\"OperationCollection\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:11:\"description\";s:32:\"A
  collection of Operation items.\";}s:15:\"@odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:116:\"A
  link to the next page of the collection (when the collection contains too many results
  to return in one response).\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:32:\"A
  collection of Operation items.\";}s:22:\"MediaServiceCollection\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MediaService\";}s:11:\"description\";s:35:\"A
  collection of MediaService items.\";}s:15:\"@odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:116:\"A
  link to the next page of the collection (when the collection contains too many results
  to return in one response).\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:35:\"A
  collection of MediaService items.\";}s:26:\"CheckNameAvailabilityInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  input to the check name availability request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  account name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  account type. For a Media Services account, this should be 'MediaServices'.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"SubscriptionMediaServiceCollection\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/SubscriptionMediaService\";}s:11:\"description\";s:47:\"A
  collection of SubscriptionMediaService items.\";}s:15:\"@odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:116:\"A
  link to the next page of the collection (when the collection contains too many results
  to return in one response).\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:47:\"A
  collection of SubscriptionMediaService items.\";}}"
...
