---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:18:\"PolicyStatesClient\";s:7:\"version\";s:18:\"2017-12-12-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:183:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2017-12-12-preview/policyStates.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:27:\"policyinsights-policyStates\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:33:\"azure_policyinsights_policystates\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:16:\"MetadataDocument\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Metadata
  XML document.\";s:4:\"type\";s:6:\"string\";}s:9:\"Operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Operation
  definition.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Display
  metadata associated with the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Operation
  description.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Operation
  name.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Resource
  provider name.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Resource
  name on which the operation is performed.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Operation
  name.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"OperationsListResults\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"List
  of available operations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"@odata.count\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"OData
  entity count; represents the number of operations returned.\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"List
  of available operations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}}s:23:\"PolicyAssignmentSummary\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Policy
  assignment summary.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"policyAssignmentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Policy
  assignment ID.\";s:4:\"type\";s:6:\"string\";}s:17:\"policyDefinitions\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Policy
  definitions summary.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/PolicyDefinitionSummary\";}s:4:\"type\";s:5:\"array\";}s:21:\"policySetDefinitionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Policy
  set definition ID, if the policy assignment is for a policy set.\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SummaryResults\";s:11:\"description\";s:49:\"Non-compliance
  summary for the policy assignment.\";}}}s:23:\"PolicyDefinitionSummary\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Policy
  definition summary.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"effect\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Policy
  effect, i.e. policy definition action.\";s:4:\"type\";s:6:\"string\";}s:18:\"policyDefinitionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Policy
  definition ID.\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SummaryResults\";s:11:\"description\";s:49:\"Non-compliance
  summary for the policy definition.\";}}}s:11:\"PolicyState\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:176:\"The
  list of key/value pairs for the additional properties, in the format 'key':'value'
  where key = the field name, and value = the field value. By default this is not
  populated\";}s:11:\"description\";s:20:\"Policy state record.\";s:10:\"properties\";O:8:\"stdClass\":27:{s:14:\"@odata.context\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"OData
  context string; used by OData clients to resolve type information based on metadata.\";s:4:\"type\";s:6:\"string\";}s:9:\"@odata.id\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"OData
  entity ID; always set to null since policy state records do not have an entity ID.\";s:4:\"type\";s:6:\"string\";}s:19:\"effectiveParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Effective
  parameters for the policy assignment.\";s:4:\"type\";s:6:\"string\";}s:11:\"isCompliant\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Flag
  which states whether the resource is compliant against the policy assignment it
  was evaluated against.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"managementGroupIds\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"Comma
  seperated list of management group IDs, which represent the hierarchy of the management
  groups the resource is under.\";s:4:\"type\";s:6:\"string\";}s:18:\"policyAssignmentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Policy
  assignment ID.\";s:4:\"type\";s:6:\"string\";}s:20:\"policyAssignmentName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Policy
  assignment name.\";s:4:\"type\";s:6:\"string\";}s:21:\"policyAssignmentOwner\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Policy
  assignment owner.\";s:4:\"type\";s:6:\"string\";}s:26:\"policyAssignmentParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Policy
  assignment parameters.\";s:4:\"type\";s:6:\"string\";}s:21:\"policyAssignmentScope\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Policy
  assignment scope.\";s:4:\"type\";s:6:\"string\";}s:22:\"policyDefinitionAction\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Policy
  definition action, i.e. effect.\";s:4:\"type\";s:6:\"string\";}s:24:\"policyDefinitionCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Policy
  definition category.\";s:4:\"type\";s:6:\"string\";}s:18:\"policyDefinitionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Policy
  definition ID.\";s:4:\"type\";s:6:\"string\";}s:20:\"policyDefinitionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Policy
  definition name.\";s:4:\"type\";s:6:\"string\";}s:27:\"policyDefinitionReferenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Reference
  ID for the policy definition inside the policy set, if the policy assignment is
  for a policy set.\";s:4:\"type\";s:6:\"string\";}s:27:\"policySetDefinitionCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Policy
  set definition category, if the policy assignment is for a policy set.\";s:4:\"type\";s:6:\"string\";}s:21:\"policySetDefinitionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Policy
  set definition ID, if the policy assignment is for a policy set.\";s:4:\"type\";s:6:\"string\";}s:23:\"policySetDefinitionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Policy
  set definition name, if the policy assignment is for a policy set.\";s:4:\"type\";s:6:\"string\";}s:24:\"policySetDefinitionOwner\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Policy
  set definition owner, if the policy assignment is for a policy set.\";s:4:\"type\";s:6:\"string\";}s:29:\"policySetDefinitionParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Policy
  set definition parameters, if the policy assignment is for a policy set.\";s:4:\"type\";s:6:\"string\";}s:13:\"resourceGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Resource
  group name.\";s:4:\"type\";s:6:\"string\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:16:\"resourceLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceTags\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"List
  of resource tags.\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Resource
  type.\";s:4:\"type\";s:6:\"string\";}s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Subscription
  ID.\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Timestamp
  for the policy state record.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"PolicyStatesQueryResults\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Query
  results.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"@odata.context\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"OData
  context string; used by OData clients to resolve type information based on metadata.\";s:4:\"type\";s:6:\"string\";}s:12:\"@odata.count\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"OData
  entity count; represents the number of policy state records returned.\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Query
  results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PolicyState\";}s:4:\"type\";s:5:\"array\";}}}s:12:\"QueryFailure\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Error
  response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Error
  definition.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Service
  specific error code which serves as the substatus for the HTTP error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Description
  of the error.\";s:4:\"type\";s:6:\"string\";}}}}}s:16:\"SummarizeResults\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Summarize
  action results.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"@odata.context\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"OData
  context string; used by OData clients to resolve type information based on metadata.\";s:4:\"type\";s:6:\"string\";}s:12:\"@odata.count\";O:8:\"stdClass\":5:{s:11:\"description\";s:81:\"OData
  entity count; represents the number of summaries returned; always set to 1.\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:1;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Summarize
  action results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Summary\";}s:4:\"type\";s:5:\"array\";}}}s:7:\"Summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Summary
  results.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"@odata.context\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"OData
  context string; used by OData clients to resolve type information based on metadata.\";s:4:\"type\";s:6:\"string\";}s:9:\"@odata.id\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"OData
  entity ID; always set to null since summaries do not have an entity ID.\";s:4:\"type\";s:6:\"string\";}s:17:\"policyAssignments\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Policy
  assignments summary.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/PolicyAssignmentSummary\";}s:4:\"type\";s:5:\"array\";}s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SummaryResults\";s:11:\"description\";s:50:\"Non-compliance
  summary for all policy assignments.\";}}}s:14:\"SummaryResults\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Non-compliance
  summary on a particular summary level.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"nonCompliantPolicies\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Number
  of non-compliant policies.\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:21:\"nonCompliantResources\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Number
  of non-compliant resources.\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:15:\"queryResultsUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"HTTP
  POST URI for queryResults action on Microsoft.PolicyInsights to retrieve raw results
  for the non-compliance summary.\";s:4:\"type\";s:6:\"string\";}}}}"
...
