---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:280:\"The Microsoft
  Azure Network management API provides a RESTful set of web services that interact
  with Microsoft Azure Networks service to manage your network resources. The API
  has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:5:\"title\";s:23:\"NetworkManagementClient\";s:7:\"version\";s:10:\"2017-10-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:162:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2017-10-01/networkWatcher.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:22:\"network-networkWatcher\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:28:\"azure_network_networkwatcher\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":61:{s:22:\"AvailableProvidersList\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"List
  of available countries with details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"countries\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"List
  of available countries.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/AvailableProvidersListCountry\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:9:\"countries\";}}s:26:\"AvailableProvidersListCity\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"City
  or town details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"cityName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  city or town name.\";s:4:\"type\";s:6:\"string\";}s:9:\"providers\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"A
  list of Internet service providers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:29:\"AvailableProvidersListCountry\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Country
  details.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"countryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  country name.\";s:4:\"type\";s:6:\"string\";}s:9:\"providers\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"A
  list of Internet service providers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"states\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"List
  of available states in the country.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/AvailableProvidersListState\";}s:4:\"type\";s:5:\"array\";}}}s:32:\"AvailableProvidersListParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Constraints
  that determine the list of available Internet service providers.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"azureLocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  list of Azure regions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  city or town for available providers list.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  country for available providers list.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  state for available providers list.\";s:4:\"type\";s:6:\"string\";}}}s:27:\"AvailableProvidersListState\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"State
  details.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"cities\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"List
  of available cities or towns in the state.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/AvailableProvidersListCity\";}s:4:\"type\";s:5:\"array\";}s:9:\"providers\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"A
  list of Internet service providers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"stateName\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  state name.\";s:4:\"type\";s:6:\"string\";}}}s:23:\"AzureReachabilityReport\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Azure
  reachability report details.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"aggregationLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  aggregation level of Azure reachability report. Can be Country, State or City.\";s:4:\"type\";s:6:\"string\";}s:16:\"providerLocation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/AzureReachabilityReportLocation\";}s:18:\"reachabilityReport\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"List
  of Azure reachability report items.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/AzureReachabilityReportItem\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:16:\"aggregationLevel\";i:1;s:16:\"providerLocation\";i:2;s:18:\"reachabilityReport\";}}s:27:\"AzureReachabilityReportItem\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Azure
  reachability report details for a given provider location.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"azureLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  Azure region.\";s:4:\"type\";s:6:\"string\";}s:9:\"latencies\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"List
  of latency details for each of the time series.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/AzureReachabilityReportLatencyInfo\";}s:4:\"type\";s:5:\"array\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  Internet service provider.\";s:4:\"type\";s:6:\"string\";}}}s:34:\"AzureReachabilityReportLatencyInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Details
  on latency for a time series.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"score\";O:8:\"stdClass\":4:{s:11:\"description\";s:91:\"The
  relative latency score between 1 and 100, higher values indicating a faster connection.\";s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:9:\"timeStamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  time stamp.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:31:\"AzureReachabilityReportLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Parameters
  that define a geographic location.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of the city or town.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  name of the country.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the state.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"country\";}}s:33:\"AzureReachabilityReportParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Geographic
  and time constraints for Azure reachability report.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"azureLocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Optional
  Azure regions to scope the query to.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  end time for the Azure reachability report.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"providerLocation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/AzureReachabilityReportLocation\";}s:9:\"providers\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"List
  of Internet service providers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  start time for the Azure reachability report.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:16:\"providerLocation\";i:1;s:9:\"startTime\";i:2;s:7:\"endTime\";}}s:17:\"ConnectionMonitor\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Parameters
  that define the operation to create a connection monitor.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Connection
  monitor location.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ConnectionMonitorParameters\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:24:\"Connection
  monitor tags.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:28:\"ConnectionMonitorDestination\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Describes
  the destination of connection monitor.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Address
  of the connection monitor destination (IP or domain name).\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  destination port used by connection monitor.\";s:4:\"type\";s:7:\"integer\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  ID of the resource used as the destination by connection monitor.\";s:4:\"type\";s:6:\"string\";}}}s:27:\"ConnectionMonitorListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"List
  of connection monitors.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Information
  about connection monitors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ConnectionMonitorResult\";}s:4:\"type\";s:5:\"array\";}}}s:27:\"ConnectionMonitorParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Parameters
  that define the operation to create a connection monitor.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"autoStart\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:75:\"Determines
  if the connection monitor will start automatically once created.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"destination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ConnectionMonitorDestination\";}s:27:\"monitoringIntervalInSeconds\";O:8:\"stdClass\":3:{s:7:\"default\";i:60;s:11:\"description\";s:31:\"Monitoring
  interval in seconds.\";s:4:\"type\";s:7:\"integer\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ConnectionMonitorSource\";}}s:8:\"required\";a:2:{i:0;s:6:\"source\";i:1;s:11:\"destination\";}}s:28:\"ConnectionMonitorQueryResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"List
  of connection states snaphots.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"states\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Information
  about connection states.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ConnectionStateSnapshot\";}s:4:\"type\";s:5:\"array\";}}}s:23:\"ConnectionMonitorResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Information
  about the connection monitor.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"etag\";O:8:\"stdClass\":2:{s:7:\"default\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"ID
  of the connection monitor.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Connection
  monitor location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Name
  of the connection monitor.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/ConnectionMonitorResultProperties\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:24:\"Connection
  monitor tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Connection
  monitor type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:33:\"ConnectionMonitorResultProperties\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ConnectionMonitorParameters\";}}s:11:\"description\";s:49:\"Describes
  the properties of a connection monitor.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"monitoringStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  monitoring status of the connection monitor.\";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  provisioning state of the connection monitor.\";s:4:\"enum\";a:4:{i:0;s:9:\"Succeeded\";i:1;s:8:\"Updating\";i:2;s:8:\"Deleting\";i:3;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"ProvisioningState\";}}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  date and time when the connection monitor was started.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:23:\"ConnectionMonitorSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Describes
  the source of connection monitor.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"port\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  source port used by connection monitor.\";s:4:\"type\";s:7:\"integer\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  ID of the resource used as the source by connection monitor.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"resourceId\";}}s:23:\"ConnectionStateSnapshot\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Connection
  state snapshot.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"connectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"The
  connection state.\";s:4:\"enum\";a:3:{i:0;s:9:\"Reachable\";i:1;s:11:\"Unreachable\";i:2;s:7:\"Unknown\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"ConnectionState\";}}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  end time of the connection snapshot.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"evaluationState\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Connectivity
  analysis evaluation state.\";s:4:\"enum\";a:3:{i:0;s:10:\"NotStarted\";i:1;s:10:\"InProgress\";i:2;s:9:\"Completed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"EvaluationState\";}}s:4:\"hops\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"List
  of hops between the source and the destination.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConnectivityHop\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  start time of the connection snapshot.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:23:\"ConnectivityDestination\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Parameters
  that define destination of connection.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  IP address or URI the resource to which a connection attempt will be made.\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Port
  on which check connectivity will be performed.\";s:4:\"type\";s:7:\"integer\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  ID of the resource to which a connection attempt will be made.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"ConnectivityHop\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Information
  about a hop between the source and the destination.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"address\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  IP address of the hop.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  ID of the hop.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"issues\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"List
  of issues.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ConnectivityIssue\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:10:\"nextHopIds\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"List
  of next hop identifiers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:10:\"resourceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  ID of the resource corresponding to this hop.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  type of the hop.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:23:\"ConnectivityInformation\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Information
  on the connectivity status.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"avgLatencyInMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Average
  latency in milliseconds.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:16:\"connectionStatus\";O:8:\"stdClass\":5:{s:11:\"description\";s:22:\"The
  connection status.\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:9:\"Connected\";i:2;s:12:\"Disconnected\";i:3;s:8:\"Degraded\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"ConnectionStatus\";}}s:4:\"hops\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"List
  of hops between the source and the destination.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConnectivityHop\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:14:\"maxLatencyInMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Maximum
  latency in milliseconds.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:14:\"minLatencyInMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Minimum
  latency in milliseconds.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:12:\"probesFailed\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Number
  of failed probes.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:10:\"probesSent\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Total
  number of probes sent.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}}s:17:\"ConnectivityIssue\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Information
  about an issue encountered in the process of checking for connectivity.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"context\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Provides
  additional context on the issue.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/IssueContext\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:6:\"origin\";O:8:\"stdClass\":5:{s:11:\"description\";s:24:\"The
  origin of the issue.\";s:4:\"enum\";a:3:{i:0;s:5:\"Local\";i:1;s:7:\"Inbound\";i:2;s:8:\"Outbound\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:6:\"Origin\";}}s:8:\"severity\";O:8:\"stdClass\":5:{s:11:\"description\";s:26:\"The
  severity of the issue.\";s:4:\"enum\";a:2:{i:0;s:5:\"Error\";i:1;s:7:\"Warning\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:8:\"Severity\";}}s:4:\"type\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"The
  type of issue.\";s:4:\"enum\";a:9:{i:0;s:7:\"Unknown\";i:1;s:12:\"AgentStopped\";i:2;s:13:\"GuestFirewall\";i:3;s:13:\"DnsResolution\";i:4;s:10:\"SocketBind\";i:5;s:19:\"NetworkSecurityRule\";i:6;s:16:\"UserDefinedRoute\";i:7;s:13:\"PortThrottled\";i:8;s:8:\"Platform\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"IssueType\";}}}}s:22:\"ConnectivityParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Parameters
  that determine how the connectivity check will be performed.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"destination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ConnectivityDestination\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ConnectivitySource\";}}s:8:\"required\";a:2:{i:0;s:6:\"source\";i:1;s:11:\"destination\";}}s:18:\"ConnectivitySource\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Parameters
  that define the source of the connection.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"port\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  source port from which a connectivity check will be performed.\";s:4:\"type\";s:7:\"integer\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  ID of the resource from which a connectivity check will be initiated.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"resourceId\";}}s:18:\"FlowLogInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Information
  on the configuration of flow log.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/FlowLogProperties\";s:19:\"x-ms-client-flatten\";b:1;}s:16:\"targetResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  ID of the resource to configure for flow logging.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:16:\"targetResourceId\";i:1;s:10:\"properties\";}}s:17:\"FlowLogProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Parameters
  that define the configuration of flow log.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Flag
  to enable/disable flow logging.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"retentionPolicy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/RetentionPolicyParameters\";}s:9:\"storageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"ID
  of the storage account which is used to store the flow log.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"storageId\";i:1;s:7:\"enabled\";}}s:23:\"FlowLogStatusParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Parameters
  that define a resource to query flow log status.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"targetResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  target resource where getting the flow logging status.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:16:\"targetResourceId\";}}s:12:\"IssueContext\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:63:\"A
  key-value pair that provides additional context on the issue.\";s:4:\"type\";s:6:\"object\";}s:27:\"NetworkInterfaceAssociation\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Network
  interface and its custom security rules.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Network
  interface ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"securityRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Collection
  of custom security rules.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:22:\"Network
  security rule.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Security
  rule resource.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:6:\"access\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"The
  network traffic is allowed or denied. Possible values are: 'Allow' and 'Deny'.\";s:4:\"enum\";a:2:{i:0;s:5:\"Allow\";i:1;s:4:\"Deny\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"SecurityRuleAccess\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"A
  description for this rule. Restricted to 140 chars.\";s:4:\"type\";s:6:\"string\";}s:24:\"destinationAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:207:\"The
  destination address prefix. CIDR or destination IP range. Asterix '*' can also be
  used to match all source IPs. Default tags such as 'VirtualNetwork', 'AzureLoadBalancer'
  and 'Internet' can also be used.\";s:4:\"type\";s:6:\"string\";}s:26:\"destinationAddressPrefixes\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  destination address prefixes. CIDR or destination IP ranges.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:36:\"destinationApplicationSecurityGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  application security group specified as destination.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:50:\"An
  application security group in a resource group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Application
  security group properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"The
  provisioning state of the application security group resource. Possible values are:
  'Succeeded', 'Updating', 'Deleting', and 'Failed'.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"resourceGuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:204:\"The
  resource GUID property of the application security group resource. It uniquely identifies
  a resource, even if the user changes its name or migrate the resource across subscriptions
  or resource groups.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}}}s:4:\"type\";s:5:\"array\";}s:20:\"destinationPortRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  destination port or range. Integer or range between 0 and 65535. Asterix '*' can
  also be used to match all ports.\";s:4:\"type\";s:6:\"string\";}s:21:\"destinationPortRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  destination port ranges.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  destination port.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:11:\"description\";s:157:\"The
  direction of the rule. The direction specifies if rule will be evaluated on incoming
  or outcoming traffic. Possible values are: 'Inbound' and 'Outbound'.\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:21:\"SecurityRuleDirection\";}}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:200:\"The
  priority of the rule. The value can be between 100 and 4096. The priority number
  must be unique for each rule in the collection. The lower the priority number, the
  higher the priority of the rule.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"Network
  protocol this rule applies to. Possible values are 'Tcp', 'Udp', and '*'.\";s:4:\"enum\";a:3:{i:0;s:3:\"Tcp\";i:1;s:3:\"Udp\";i:2;s:1:\"*\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"SecurityRuleProtocol\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";s:4:\"type\";s:6:\"string\";}s:19:\"sourceAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:252:\"The
  CIDR or source IP range. Asterix '*' can also be used to match all source IPs. Default
  tags such as 'VirtualNetwork', 'AzureLoadBalancer' and 'Internet' can also be used.
  If this is an ingress rule, specifies where network traffic originates from. \";s:4:\"type\";s:6:\"string\";}s:21:\"sourceAddressPrefixes\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  CIDR or source IP ranges.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:31:\"sourceApplicationSecurityGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  application security group specified as source.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:50:\"An
  application security group in a resource group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Application
  security group properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"The
  provisioning state of the application security group resource. Possible values are:
  'Succeeded', 'Updating', 'Deleting', and 'Failed'.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"resourceGuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:204:\"The
  resource GUID property of the application security group resource. It uniquely identifies
  a resource, even if the user changes its name or migrate the resource across subscriptions
  or resource groups.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}}}s:4:\"type\";s:5:\"array\";}s:15:\"sourcePortRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"The
  source port or range. Integer or range between 0 and 65535. Asterix '*' can also
  be used to match all ports.\";s:4:\"type\";s:6:\"string\";}s:16:\"sourcePortRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  source port ranges.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  source port.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:8:\"protocol\";i:1;s:6:\"access\";i:2;s:9:\"direction\";}}}}s:4:\"type\";s:5:\"array\";}}}s:14:\"NetworkWatcher\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:36:\"Network
  watcher in a resource group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/NetworkWatcherPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:24:\"NetworkWatcherListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"List
  of network watcher resources.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NetworkWatcher\";}s:4:\"type\";s:5:\"array\";}}}s:30:\"NetworkWatcherPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  network watcher properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:39:\"The
  provisioning state of the resource.\";s:4:\"enum\";a:4:{i:0;s:9:\"Succeeded\";i:1;s:8:\"Updating\";i:2;s:8:\"Deleting\";i:3;s:6:\"Failed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"ProvisioningState\";}}}}s:17:\"NextHopParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Parameters
  that define the source and destination endpoint.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"destinationIPAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  destination IP address.\";s:4:\"type\";s:6:\"string\";}s:15:\"sourceIPAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  source IP address.\";s:4:\"type\";s:6:\"string\";}s:19:\"targetNicResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"The
  NIC ID. (If VM has multiple NICs and IP forwarding is enabled on any of the nics,
  then this parameter must be specified. Otherwise optional).\";s:4:\"type\";s:6:\"string\";}s:16:\"targetResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"The
  resource identifier of the target resource against which the action is to be performed.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:16:\"targetResourceId\";i:1;s:15:\"sourceIPAddress\";i:2;s:20:\"destinationIPAddress\";}}s:13:\"NextHopResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  information about next hop from the specified VM.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"nextHopIpAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Next
  hop IP Address\";s:4:\"type\";s:6:\"string\";}s:11:\"nextHopType\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Next
  hop type.\";s:4:\"enum\";a:6:{i:0;s:8:\"Internet\";i:1;s:16:\"VirtualAppliance\";i:2;s:21:\"VirtualNetworkGateway\";i:3;s:9:\"VnetLocal\";i:4;s:15:\"HyperNetGateway\";i:5;s:4:\"None\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:11:\"NextHopType\";}}s:12:\"routeTableId\";O:8:\"stdClass\":2:{s:11:\"description\";s:211:\"The
  resource identifier for the route table associated with the route being returned.
  If the route being returned does not correspond to any user created routes then
  this field will be the string 'System Route'.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"PacketCapture\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Parameters
  that define the create packet capture operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/PacketCaptureParameters\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:19:\"PacketCaptureFilter\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Filter
  that is applied to packet capture request. Multiple filters can be applied.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"localIPAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:281:\"Local
  IP Address to be filtered on. Notation: \"127.0.0.1\" for single address entry.
  \"127.0.0.1-127.0.0.255\" for range. \"127.0.0.1;127.0.0.5\"? for multiple entries.
  Multiple ranges not currently supported. Mixing ranges with multiple entries not
  currently supported. Default = null.\";s:4:\"type\";s:6:\"string\";}s:9:\"localPort\";O:8:\"stdClass\":2:{s:11:\"description\";s:235:\"Local
  port to be filtered on. Notation: \"80\" for single port entry.\"80-85\" for range.
  \"80;443;\" for multiple entries. Multiple ranges not currently supported. Mixing
  ranges with multiple entries not currently supported. Default = null.\";s:4:\"type\";s:6:\"string\";}s:8:\"protocol\";O:8:\"stdClass\":5:{s:7:\"default\";s:3:\"Any\";s:11:\"description\";s:27:\"Protocol
  to be filtered on.\";s:4:\"enum\";a:3:{i:0;s:3:\"TCP\";i:1;s:3:\"UDP\";i:2;s:3:\"Any\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"PcProtocol\";}}s:15:\"remoteIPAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:281:\"Local
  IP Address to be filtered on. Notation: \"127.0.0.1\" for single address entry.
  \"127.0.0.1-127.0.0.255\" for range. \"127.0.0.1;127.0.0.5;\" for multiple entries.
  Multiple ranges not currently supported. Mixing ranges with multiple entries not
  currently supported. Default = null.\";s:4:\"type\";s:6:\"string\";}s:10:\"remotePort\";O:8:\"stdClass\":2:{s:11:\"description\";s:236:\"Remote
  port to be filtered on. Notation: \"80\" for single port entry.\"80-85\" for range.
  \"80;443;\" for multiple entries. Multiple ranges not currently supported. Mixing
  ranges with multiple entries not currently supported. Default = null.\";s:4:\"type\";s:6:\"string\";}}}s:23:\"PacketCaptureListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"List
  of packet capture sessions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Information
  about packet capture sessions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PacketCaptureResult\";}s:4:\"type\";s:5:\"array\";}}}s:23:\"PacketCaptureParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Parameters
  that define the create packet capture operation.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"bytesToCapturePerPacket\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:71:\"Number
  of bytes captured per packet, the remaining bytes are truncated.\";s:4:\"type\";s:7:\"integer\";}s:7:\"filters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PacketCaptureFilter\";}s:4:\"type\";s:5:\"array\";}s:15:\"storageLocation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/PacketCaptureStorageLocation\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  ID of the targeted resource, only VM is currently supported.\";s:4:\"type\";s:6:\"string\";}s:18:\"timeLimitInSeconds\";O:8:\"stdClass\":3:{s:7:\"default\";i:18000;s:11:\"description\";s:51:\"Maximum
  duration of the capture session in seconds.\";s:4:\"type\";s:7:\"integer\";}s:20:\"totalBytesPerSession\";O:8:\"stdClass\":3:{s:7:\"default\";i:1073741824;s:11:\"description\";s:35:\"Maximum
  size of the capture output.\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:6:\"target\";i:1;s:15:\"storageLocation\";}}s:30:\"PacketCaptureQueryStatusResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Status
  of packet capture session.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"captureStartTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  start time of the packet capture session.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  ID of the packet capture resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  name of the packet capture resource.\";s:4:\"type\";s:6:\"string\";}s:18:\"packetCaptureError\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"List
  of errors of packet capture session.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:5:{i:0;s:13:\"InternalError\";i:1;s:12:\"AgentStopped\";i:2;s:13:\"CaptureFailed\";i:3;s:15:\"LocalFileFailed\";i:4;s:13:\"StorageFailed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:7:\"PcError\";}}s:4:\"type\";s:5:\"array\";}s:19:\"packetCaptureStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  status of the packet capture session.\";s:4:\"enum\";a:5:{i:0;s:10:\"NotStarted\";i:1;s:7:\"Running\";i:2;s:7:\"Stopped\";i:3;s:5:\"Error\";i:4;s:7:\"Unknown\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:8:\"PcStatus\";}}s:10:\"stopReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  reason the current packet capture session was stopped.\";s:4:\"type\";s:6:\"string\";}}}s:19:\"PacketCaptureResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Information
  about packet capture session.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:7:\"default\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"ID
  of the packet capture operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Name
  of the packet capture session.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/PacketCaptureResultProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:29:\"PacketCaptureResultProperties\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/PacketCaptureParameters\";}}s:11:\"description\";s:53:\"Describes
  the properties of a packet capture session.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"provisioningState\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"The
  provisioning state of the packet capture session.\";s:4:\"enum\";a:4:{i:0;s:9:\"Succeeded\";i:1;s:8:\"Updating\";i:2;s:8:\"Deleting\";i:3;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"ProvisioningState\";}}}}s:28:\"PacketCaptureStorageLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Describes
  the storage location for a packet capture session.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"filePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:209:\"A
  valid local path on the targeting VM. Must include the name of the capture file
  (*.cap). For linux virtual machine it must start with /var/captures. Required if
  no storage ID is provided, otherwise optional.\";s:4:\"type\";s:6:\"string\";}s:9:\"storageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"The
  ID of the storage account to save the packet capture session. Required if no local
  file path is provided.\";s:4:\"type\";s:6:\"string\";}s:11:\"storagePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"The
  URI of the storage path to save the packet capture. Must be a well-formed URI describing
  the location to save the packet capture.\";s:4:\"type\";s:6:\"string\";}}}s:30:\"QueryTroubleshootingParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Parameters
  that define the resource to query the troubleshooting result.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"targetResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  target resource ID to query the troubleshooting result.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:16:\"targetResourceId\";}}s:25:\"RetentionPolicyParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Parameters
  that define the retention policy for flow log.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"days\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:42:\"Number
  of days to retain flow log records.\";s:4:\"type\";s:7:\"integer\";}s:7:\"enabled\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:33:\"Flag
  to enable/disable retention.\";s:4:\"type\";s:7:\"boolean\";}}}s:29:\"SecurityGroupNetworkInterface\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Network
  interface and all its associated security rules.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"ID
  of the network interface.\";s:4:\"type\";s:6:\"string\";}s:24:\"securityRuleAssociations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/SecurityRuleAssociations\";}}}s:27:\"SecurityGroupViewParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Parameters
  that define the VM to check security groups for.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"targetResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"ID
  of the target VM.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:16:\"targetResourceId\";}}s:23:\"SecurityGroupViewResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  information about security rules applied to the specified VM.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"networkInterfaces\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"List
  of network interfaces on the specified VM.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/SecurityGroupNetworkInterface\";}s:4:\"type\";s:5:\"array\";}}}s:24:\"SecurityRuleAssociations\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"All
  security rules associated with the network interface.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"defaultSecurityRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Collection
  of default security rules of the network security group.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:22:\"Network
  security rule.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Security
  rule resource.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:6:\"access\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"The
  network traffic is allowed or denied. Possible values are: 'Allow' and 'Deny'.\";s:4:\"enum\";a:2:{i:0;s:5:\"Allow\";i:1;s:4:\"Deny\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"SecurityRuleAccess\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"A
  description for this rule. Restricted to 140 chars.\";s:4:\"type\";s:6:\"string\";}s:24:\"destinationAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:207:\"The
  destination address prefix. CIDR or destination IP range. Asterix '*' can also be
  used to match all source IPs. Default tags such as 'VirtualNetwork', 'AzureLoadBalancer'
  and 'Internet' can also be used.\";s:4:\"type\";s:6:\"string\";}s:26:\"destinationAddressPrefixes\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  destination address prefixes. CIDR or destination IP ranges.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:36:\"destinationApplicationSecurityGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  application security group specified as destination.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:50:\"An
  application security group in a resource group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Application
  security group properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"The
  provisioning state of the application security group resource. Possible values are:
  'Succeeded', 'Updating', 'Deleting', and 'Failed'.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"resourceGuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:204:\"The
  resource GUID property of the application security group resource. It uniquely identifies
  a resource, even if the user changes its name or migrate the resource across subscriptions
  or resource groups.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}}}s:4:\"type\";s:5:\"array\";}s:20:\"destinationPortRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  destination port or range. Integer or range between 0 and 65535. Asterix '*' can
  also be used to match all ports.\";s:4:\"type\";s:6:\"string\";}s:21:\"destinationPortRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  destination port ranges.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  destination port.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:11:\"description\";s:157:\"The
  direction of the rule. The direction specifies if rule will be evaluated on incoming
  or outcoming traffic. Possible values are: 'Inbound' and 'Outbound'.\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:21:\"SecurityRuleDirection\";}}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:200:\"The
  priority of the rule. The value can be between 100 and 4096. The priority number
  must be unique for each rule in the collection. The lower the priority number, the
  higher the priority of the rule.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"Network
  protocol this rule applies to. Possible values are 'Tcp', 'Udp', and '*'.\";s:4:\"enum\";a:3:{i:0;s:3:\"Tcp\";i:1;s:3:\"Udp\";i:2;s:1:\"*\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"SecurityRuleProtocol\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";s:4:\"type\";s:6:\"string\";}s:19:\"sourceAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:252:\"The
  CIDR or source IP range. Asterix '*' can also be used to match all source IPs. Default
  tags such as 'VirtualNetwork', 'AzureLoadBalancer' and 'Internet' can also be used.
  If this is an ingress rule, specifies where network traffic originates from. \";s:4:\"type\";s:6:\"string\";}s:21:\"sourceAddressPrefixes\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  CIDR or source IP ranges.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:31:\"sourceApplicationSecurityGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  application security group specified as source.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:50:\"An
  application security group in a resource group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Application
  security group properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"The
  provisioning state of the application security group resource. Possible values are:
  'Succeeded', 'Updating', 'Deleting', and 'Failed'.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"resourceGuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:204:\"The
  resource GUID property of the application security group resource. It uniquely identifies
  a resource, even if the user changes its name or migrate the resource across subscriptions
  or resource groups.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}}}s:4:\"type\";s:5:\"array\";}s:15:\"sourcePortRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"The
  source port or range. Integer or range between 0 and 65535. Asterix '*' can also
  be used to match all ports.\";s:4:\"type\";s:6:\"string\";}s:16:\"sourcePortRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  source port ranges.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  source port.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:8:\"protocol\";i:1;s:6:\"access\";i:2;s:9:\"direction\";}}}}s:4:\"type\";s:5:\"array\";}s:22:\"effectiveSecurityRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Collection
  of effective security rules.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Effective
  network security rules.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:6:\"access\";O:8:\"stdClass\":4:{s:11:\"description\";s:86:\"Whether
  network traffic is allowed or denied. Possible values are: 'Allow' and 'Deny'.\";s:4:\"enum\";a:2:{i:0;s:5:\"Allow\";i:1;s:4:\"Deny\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"SecurityRuleAccess\";}}s:24:\"destinationAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  destination address prefix.\";s:4:\"type\";s:6:\"string\";}s:26:\"destinationAddressPrefixes\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"The
  destination address prefixes. Expected values include CIDR IP ranges, Default Tags
  (VirtualNetwork, AureLoadBalancer, Internet), System Tags, and the asterix (*).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"destinationPortRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  destination port or range.\";s:4:\"type\";s:6:\"string\";}s:21:\"destinationPortRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"The
  destination port ranges. Expected values include a single integer between 0 and
  65535, a range using '-' as seperator (e.g. 100-400), or an asterix (*)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"The
  direction of the rule. Possible values are: 'Inbound and Outbound'.\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:21:\"SecurityRuleDirection\";}}s:32:\"expandedDestinationAddressPrefix\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Expanded
  destination address prefix.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:27:\"expandedSourceAddressPrefix\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  expanded source address prefix.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  name of the security rule specified by the user (if created by the user).\";s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  priority of the rule.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"The
  network protocol this rule applies to. Possible values are: 'Tcp', 'Udp', and 'All'.\";s:4:\"enum\";a:3:{i:0;s:3:\"Tcp\";i:1;s:3:\"Udp\";i:2;s:3:\"All\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:29:\"EffectiveSecurityRuleProtocol\";}}s:19:\"sourceAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  source address prefix.\";s:4:\"type\";s:6:\"string\";}s:21:\"sourceAddressPrefixes\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"The
  source address prefixes. Expected values include CIDR IP ranges, Default Tags (VirtualNetwork,
  AureLoadBalancer, Internet), System Tags, and the asterix (*).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"sourcePortRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  source port or range.\";s:4:\"type\";s:6:\"string\";}s:16:\"sourcePortRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"The
  source port ranges. Expected values include a single integer between 0 and 65535,
  a range using '-' as seperator (e.g. 100-400), or an asterix (*)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:4:\"type\";s:5:\"array\";}s:27:\"networkInterfaceAssociation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/NetworkInterfaceAssociation\";}s:17:\"subnetAssociation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SubnetAssociation\";}}}s:17:\"SubnetAssociation\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Network
  interface and its custom security rules.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Subnet
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"securityRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Collection
  of custom security rules.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:22:\"Network
  security rule.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Security
  rule resource.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:6:\"access\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"The
  network traffic is allowed or denied. Possible values are: 'Allow' and 'Deny'.\";s:4:\"enum\";a:2:{i:0;s:5:\"Allow\";i:1;s:4:\"Deny\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"SecurityRuleAccess\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"A
  description for this rule. Restricted to 140 chars.\";s:4:\"type\";s:6:\"string\";}s:24:\"destinationAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:207:\"The
  destination address prefix. CIDR or destination IP range. Asterix '*' can also be
  used to match all source IPs. Default tags such as 'VirtualNetwork', 'AzureLoadBalancer'
  and 'Internet' can also be used.\";s:4:\"type\";s:6:\"string\";}s:26:\"destinationAddressPrefixes\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  destination address prefixes. CIDR or destination IP ranges.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:36:\"destinationApplicationSecurityGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  application security group specified as destination.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:50:\"An
  application security group in a resource group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Application
  security group properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"The
  provisioning state of the application security group resource. Possible values are:
  'Succeeded', 'Updating', 'Deleting', and 'Failed'.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"resourceGuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:204:\"The
  resource GUID property of the application security group resource. It uniquely identifies
  a resource, even if the user changes its name or migrate the resource across subscriptions
  or resource groups.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}}}s:4:\"type\";s:5:\"array\";}s:20:\"destinationPortRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  destination port or range. Integer or range between 0 and 65535. Asterix '*' can
  also be used to match all ports.\";s:4:\"type\";s:6:\"string\";}s:21:\"destinationPortRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  destination port ranges.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  destination port.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:11:\"description\";s:157:\"The
  direction of the rule. The direction specifies if rule will be evaluated on incoming
  or outcoming traffic. Possible values are: 'Inbound' and 'Outbound'.\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:21:\"SecurityRuleDirection\";}}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:200:\"The
  priority of the rule. The value can be between 100 and 4096. The priority number
  must be unique for each rule in the collection. The lower the priority number, the
  higher the priority of the rule.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"Network
  protocol this rule applies to. Possible values are 'Tcp', 'Udp', and '*'.\";s:4:\"enum\";a:3:{i:0;s:3:\"Tcp\";i:1;s:3:\"Udp\";i:2;s:1:\"*\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"SecurityRuleProtocol\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";s:4:\"type\";s:6:\"string\";}s:19:\"sourceAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:252:\"The
  CIDR or source IP range. Asterix '*' can also be used to match all source IPs. Default
  tags such as 'VirtualNetwork', 'AzureLoadBalancer' and 'Internet' can also be used.
  If this is an ingress rule, specifies where network traffic originates from. \";s:4:\"type\";s:6:\"string\";}s:21:\"sourceAddressPrefixes\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  CIDR or source IP ranges.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:31:\"sourceApplicationSecurityGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  application security group specified as source.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:50:\"An
  application security group in a resource group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Application
  security group properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"The
  provisioning state of the application security group resource. Possible values are:
  'Succeeded', 'Updating', 'Deleting', and 'Failed'.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"resourceGuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:204:\"The
  resource GUID property of the application security group resource. It uniquely identifies
  a resource, even if the user changes its name or migrate the resource across subscriptions
  or resource groups.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}}}s:4:\"type\";s:5:\"array\";}s:15:\"sourcePortRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"The
  source port or range. Integer or range between 0 and 65535. Asterix '*' can also
  be used to match all ports.\";s:4:\"type\";s:6:\"string\";}s:16:\"sourcePortRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  source port ranges.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  source port.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:8:\"protocol\";i:1;s:6:\"access\";i:2;s:9:\"direction\";}}}}s:4:\"type\";s:5:\"array\";}}}s:8:\"Topology\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Topology
  of the specified resource group.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"createdDateTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"The
  datetime when the topology was initially created for the resource group.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"GUID
  representing the operation id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"lastModified\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  datetime when the topology was last modified.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"resources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/TopologyResource\";}s:4:\"type\";s:5:\"array\";}}}s:19:\"TopologyAssociation\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Resources
  that have an association with the parent resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"associationType\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"The
  association type of the child resource to the parent resource.\";s:4:\"enum\";a:2:{i:0;s:10:\"Associated\";i:1;s:8:\"Contains\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"AssociationType\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  name of the resource that is associated with the parent resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  ID of the resource that is associated with the parent resource.\";s:4:\"type\";s:6:\"string\";}}}s:18:\"TopologyParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Parameters
  that define the representation of topology.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"targetResourceGroupName\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  name of the target resource group to perform topology on.\";s:4:\"type\";s:6:\"string\";}s:12:\"targetSubnet\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:20:\"targetVirtualNetwork\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}}s:16:\"TopologyResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  network resource topology information for the given resource group.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"associations\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Holds
  the associations the resource has with other resources in the resource group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/TopologyAssociation\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"ID
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of the resource.\";s:4:\"type\";s:6:\"string\";}}}s:22:\"TroubleshootingDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Information
  gained from troubleshooting of specified resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"detail\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Details
  on troubleshooting results.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  id of the get troubleshoot operation.\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonType\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Reason
  type of failure.\";s:4:\"type\";s:6:\"string\";}s:18:\"recommendedActions\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"List
  of recommended actions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/TroubleshootingRecommendedActions\";}s:4:\"type\";s:5:\"array\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"A
  summary of troubleshooting.\";s:4:\"type\";s:6:\"string\";}}}s:25:\"TroubleshootingParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Parameters
  that define the resource to troubleshoot.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/TroubleshootingProperties\";s:19:\"x-ms-client-flatten\";b:1;}s:16:\"targetResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  target resource to troubleshoot.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:16:\"targetResourceId\";i:1;s:10:\"properties\";}}s:25:\"TroubleshootingProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Storage
  location provided for troubleshoot.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"storageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  ID for the storage account to save the troubleshoot result.\";s:4:\"type\";s:6:\"string\";}s:11:\"storagePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  path to the blob to save the troubleshoot result in.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"storageId\";i:1;s:11:\"storagePath\";}}s:33:\"TroubleshootingRecommendedActions\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Recommended
  actions based on discovered issues.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"actionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"ID
  of the recommended action.\";s:4:\"type\";s:6:\"string\";}s:10:\"actionText\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Description
  of recommended actions.\";s:4:\"type\";s:6:\"string\";}s:9:\"actionUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  uri linking to a documentation for the recommended troubleshooting actions.\";s:4:\"type\";s:6:\"string\";}s:13:\"actionUriText\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  information from the URI for the recommended troubleshooting actions.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"TroubleshootingResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Troubleshooting
  information gained from specified resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  result code of the troubleshooting.\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  end time of the troubleshooting.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Information
  from troubleshooting.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TroubleshootingDetails\";}s:4:\"type\";s:5:\"array\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  start time of the troubleshooting.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:28:\"VerificationIPFlowParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Parameters
  that define the IP flow to be verified.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"direction\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"The
  direction of the packet represented as a 5-tuple.\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"Direction\";}}s:14:\"localIPAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  local IP address. Acceptable values are valid IPv4 addresses.\";s:4:\"type\";s:6:\"string\";}s:9:\"localPort\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"The
  local port. Acceptable values are a single integer in the range (0-65535). Support
  for * for the source port, which depends on the direction.\";s:4:\"type\";s:6:\"string\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Protocol
  to be verified on.\";s:4:\"enum\";a:2:{i:0;s:3:\"TCP\";i:1;s:3:\"UDP\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:8:\"Protocol\";}}s:15:\"remoteIPAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  remote IP address. Acceptable values are valid IPv4 addresses.\";s:4:\"type\";s:6:\"string\";}s:10:\"remotePort\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"The
  remote port. Acceptable values are a single integer in the range (0-65535). Support
  for * for the source port, which depends on the direction.\";s:4:\"type\";s:6:\"string\";}s:19:\"targetNicResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"The
  NIC ID. (If VM has multiple NICs and IP forwarding is enabled on any of them, then
  this parameter must be specified. Otherwise optional).\";s:4:\"type\";s:6:\"string\";}s:16:\"targetResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  ID of the target resource to perform next-hop on.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:16:\"targetResourceId\";i:1;s:9:\"direction\";i:2;s:8:\"protocol\";i:3;s:9:\"localPort\";i:4;s:10:\"remotePort\";i:5;s:14:\"localIPAddress\";i:6;s:15:\"remoteIPAddress\";}}s:24:\"VerificationIPFlowResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Results
  of IP flow verification on the target resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"access\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Indicates
  whether the traffic is allowed or denied.\";s:4:\"enum\";a:2:{i:0;s:5:\"Allow\";i:1;s:4:\"Deny\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:6:\"Access\";}}s:8:\"ruleName\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Name
  of the rule. If input is not matched against any security rule, it is not displayed.\";s:4:\"type\";s:6:\"string\";}}}}"
...
