---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2017-09-01\";s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPAddresses:
    get:
      tags:
      - PublicIPAddresses
      operationId: PublicIPAddresses_List
      description: Gets all public IP addresses in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of PublicIPAddress
            resources.
          schema:
            $ref: '#/definitions/PublicIPAddressListResult'
      x-ms-examples:
        List resource group public IP addresses:
          parameters:
            api-version: "2017-09-01"
            subscriptionId: subid
            resourceGroupName: rg1
          responses:
            200:
              body:
                value:
                - name: testDNS-ip
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/testDNS-ip
                  location: westus
                  properties:
                    provisioningState: Succeeded
                    publicIPAddressVersion: IPv4
                    publicIPAllocationMethod: Dynamic
                    idleTimeoutInMinutes: 4
                    ipConfiguration:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/testDNS649/ipConfigurations/ipconfig1
                  type: Microsoft.Network/publicIPAddresses
                - name: ip03
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/ip03
                  location: westus
                  properties:
                    provisioningState: Succeeded
                    ipAddress: 40.85.154.247
                    publicIPAddressVersion: IPv4
                    publicIPAllocationMethod: Dynamic
                    idleTimeoutInMinutes: 4
                    dnsSettings:
                      domainNameLabel: testlbl
                      fqdn: testlbl.westus.cloudapp.azure.com
                    ipConfiguration:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/testLb/frontendIPConfigurations/LoadBalancerFrontEnd
                  type: Microsoft.Network/publicIPAddresses
      x-ms-pageable:
        nextLinkName: nextLink
      produces:
      - application/json
      - text/json
      consumes:
      - application/json
      - text/json
      x-internal-toc-name: List
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:18:\"PublicIPAddressSku\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Name
  of a public IP address SKU.\";s:4:\"enum\";a:2:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"PublicIPAddressSkuName\";s:13:\"modelAsString\";b:0;}}}s:11:\"description\";s:26:\"SKU
  of a public IP address\";}s:31:\"PublicIPAddressPropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:24:\"publicIPAllocationMethod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"The
  public IP allocation method. Possible values are: 'Static' and 'Dynamic'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"IPAllocationMethod\";s:13:\"modelAsString\";b:0;}}s:22:\"publicIPAddressVersion\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"The
  public IP address version. Possible values are: 'IPv4' and 'IPv6'.\";s:4:\"enum\";a:2:{i:0;s:4:\"IPv4\";i:1;s:4:\"IPv6\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"IPVersion\";s:13:\"modelAsString\";b:0;}}s:15:\"ipConfiguration\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:59:\"The
  IP configuration associated with the public IP address.\";}s:11:\"dnsSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/PublicIPAddressDnsSettings\";s:11:\"description\";s:65:\"The
  FQDN of the DNS record associated with the public IP address.\";}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"The
  IP address associated with the public IP address resource.\";}s:20:\"idleTimeoutInMinutes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:42:\"The
  idle timeout of the public IP address.\";}s:12:\"resourceGuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  resource GUID property of the public IP resource.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"The
  provisioning state of the PublicIP resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";}}s:11:\"description\";s:29:\"Public IP address properties.\";s:8:\"required\";a:1:{i:0;s:24:\"publicIPAllocationMethod\";}}s:15:\"PublicIPAddress\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PublicIPAddressSku\";s:11:\"description\";s:26:\"The
  public IP address SKU.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:45:\"#/definitions/PublicIPAddressPropertiesFormat\";s:11:\"description\";s:29:\"Public
  IP address properties.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}s:5:\"zones\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:91:\"A
  list of availability zones denoting the IP allocated for the resource needs to come
  from.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:27:\"Public
  IP address resource.\";}s:25:\"PublicIPAddressListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PublicIPAddress\";}s:11:\"description\";s:62:\"A
  list of public IP addresses that exists in a resource group.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:52:\"Response for
  ListPublicIpAddresses API service call.\";}s:26:\"PublicIPAddressDnsSettings\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"domainNameLabel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:303:\"Gets
  or sets the Domain name label.The concatenation of the domain name label and the
  regionalized DNS zone make up the fully qualified domain name associated with the
  public IP address. If a domain name label is specified, an A DNS record is created
  for the public IP in the Microsoft Azure DNS system.\";}s:4:\"fqdn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:173:\"Gets
  the FQDN, Fully qualified domain name of the A DNS record associated with the public
  IP. This is the concatenation of the domainNameLabel and the regionalized DNS zone.\";}s:11:\"reverseFqdn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:259:\"Gets
  or Sets the Reverse FQDN. A user-visible, fully qualified domain name that resolves
  to this public IP address. If the reverseFqdn is specified, then a PTR DNS record
  is created pointing from the IP address in the in-addr.arpa domain to the reverse
  FQDN. \";}}s:11:\"description\";s:69:\"Contains FQDN of the DNS record associated
  with the public IP address\";s:8:\"required\";a:1:{i:0;s:15:\"domainNameLabel\";}}s:8:\"Resource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  type.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Resource
  location.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";}}s:11:\"description\";s:31:\"Common resource representation.\";s:19:\"x-ms-azure-resource\";b:1;s:8:\"required\";a:1:{i:0;s:8:\"location\";}}s:11:\"SubResource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  ID.\";}}s:11:\"description\";s:33:\"Reference to another subresource.\";s:19:\"x-ms-azure-resource\";b:1;s:8:\"required\";a:1:{i:0;s:2:\"id\";}}}"
...
