---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:20:\"AutomationManagement\";s:7:\"version\";s:10:\"2015-10-31\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:162:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/schedule.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:19:\"automation-schedule\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:16:\"AdvancedSchedule\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  properties of the create Advanced Schedule.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"monthDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Days
  of the month that the job should execute on. Must be between 1 and 31.\";s:5:\"items\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:0;}s:4:\"type\";s:5:\"array\";}s:18:\"monthlyOccurrences\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Occurrences
  of days within a month.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/AdvancedScheduleMonthlyOccurrence\";}s:4:\"type\";s:5:\"array\";}s:8:\"weekDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Days
  of the week that the job should execute on.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:33:\"AdvancedScheduleMonthlyOccurrence\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  properties of the create advanced schedule monthly occurrence.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"day\";O:8:\"stdClass\":4:{s:11:\"description\";s:101:\"Day
  of the occurrence. Must be one of monday, tuesday, wednesday, thursday, friday,
  saturday, sunday.\";s:4:\"enum\";a:7:{i:0;s:6:\"Monday\";i:1;s:7:\"Tuesday\";i:2;s:9:\"Wednesday\";i:3;s:8:\"Thursday\";i:4;s:6:\"Friday\";i:5;s:8:\"Saturday\";i:6;s:6:\"Sunday\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:11:\"ScheduleDay\";}}s:10:\"occurrence\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Occurrence
  of the week within the month. Must be between 1 and 5\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:8:\"Schedule\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  core properties of ARM resources\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Fully
  qualified resource Id for the resource\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  name of the resource\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:19:\"ARM
  proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:27:\"Definition
  of the schedule.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/ScheduleProperties\";s:11:\"description\";s:44:\"Gets
  or sets the properties of the schedule.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:32:\"ScheduleCreateOrUpdateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  parameters supplied to the create or update schedule operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Gets
  or sets the name of the Schedule.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:46:\"#/definitions/ScheduleCreateOrUpdateProperties\";s:11:\"description\";s:45:\"Gets
  or sets the list of schedule properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:10:\"properties\";}}s:32:\"ScheduleCreateOrUpdateProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  parameters supplied to the create or update schedule operation.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"advancedSchedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AdvancedSchedule\";s:11:\"description\";s:34:\"Gets
  or sets the AdvancedSchedule.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Gets
  or sets the description of the schedule.\";s:4:\"type\";s:6:\"string\";}s:10:\"expiryTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Gets
  or sets the end time of the schedule.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:9:\"frequency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/scheduleFrequency\";s:4:\"type\";s:6:\"string\";}s:8:\"interval\";O:8:\"stdClass\":1:{s:11:\"description\";s:42:\"Gets
  or sets the interval of the schedule.\";}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Gets
  or sets the start time of the schedule.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:0;}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Gets
  or sets the time zone of the schedule.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"startTime\";i:1;s:9:\"frequency\";}}s:18:\"ScheduleListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  response model for the list schedule operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Gets
  or sets the next link.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Gets
  or sets a list of schedules.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Schedule\";}s:4:\"type\";s:5:\"array\";}}}s:18:\"ScheduleProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Definition
  of schedule parameters.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:16:\"advancedSchedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AdvancedSchedule\";s:11:\"description\";s:35:\"Gets
  or sets the advanced schedule.\";}s:12:\"creationTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Gets
  or sets the creation time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:0;}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets the description.\";s:4:\"type\";s:6:\"string\";}s:10:\"expiryTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Gets
  or sets the end time of the schedule.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:23:\"expiryTimeOffsetMinutes\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Gets
  or sets the expiry time's offset in minutes.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";s:10:\"x-nullable\";b:0;}s:9:\"frequency\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Gets
  or sets the frequency of the schedule.\";s:4:\"enum\";a:5:{i:0;s:7:\"OneTime\";i:1;s:3:\"Day\";i:2;s:4:\"Hour\";i:3;s:4:\"Week\";i:4;s:5:\"Month\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"ScheduleFrequency\";}}s:8:\"interval\";O:8:\"stdClass\":1:{s:11:\"description\";s:42:\"Gets
  or sets the interval of the schedule.\";}s:9:\"isEnabled\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:65:\"Gets
  or sets a value indicating whether this schedule is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Gets
  or sets the last modified time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:0;}s:7:\"nextRun\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Gets
  or sets the next run time of the schedule.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:20:\"nextRunOffsetMinutes\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Gets
  or sets the next run time's offset in minutes.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";s:10:\"x-nullable\";b:0;}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Gets
  or sets the start time of the schedule.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:0;}s:22:\"startTimeOffsetMinutes\";O:8:\"stdClass\":5:{s:11:\"description\";s:40:\"Gets
  the start time's offset in minutes.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:10:\"x-nullable\";b:0;}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Gets
  or sets the time zone of the schedule.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"ScheduleUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  parameters supplied to the update schedule operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Gets
  or sets the name of the Schedule.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:38:\"#/definitions/ScheduleUpdateProperties\";s:11:\"description\";s:45:\"Gets
  or sets the list of schedule properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:24:\"ScheduleUpdateProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  parameters supplied to the update schedule operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Gets
  or sets the description of the schedule.\";s:4:\"type\";s:6:\"string\";}s:9:\"isEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Gets
  or sets a value indicating whether this schedule is enabled.\";s:4:\"type\";s:7:\"boolean\";}}}s:17:\"scheduleFrequency\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Gets
  or sets the frequency of the schedule.\";s:4:\"enum\";a:5:{i:0;s:7:\"OneTime\";i:1;s:3:\"Day\";i:2;s:4:\"Hour\";i:3;s:4:\"Week\";i:4;s:5:\"Month\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"ScheduleFrequency\";}}}"
...
