---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:18:\"2015-05-01-preview\";s:5:\"title\";s:19:\"SqlManagementClient\";s:11:\"description\";s:247:\"The
  Azure SQL Database management API provides a RESTful set of web APIs that interact
  with Azure SQL Database services to manage your databases. The API enables users
  to create, retrieve, update, and delete databases, servers, and other entities.\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors
  : get:
      tags:
      - DatabaseAdvisors
      description: Gets a list of database advisors.
      operationId: DatabaseAdvisors_ListByDatabase
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the list of database advisors.
          schema:
            type: array
            items:
              $ref: '#/definitions/Advisor'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidIdentifier - The identifier
            contains NULL or an invalid unicode character.nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 DatabaseDoesNotExist - The
            requested database was not foundnn * 404 SubscriptionDoesNotHaveElasticPool
            - The requested elastic pool was not foundnn * 404 AdvisorNotFound - The
            requested advisor was not found.nn * 405 NotSupported - This functionality
            is not supported.nn * 409 Conflict - Request could not be processed because
            of conflict in the request.nn * 503 ServiceTemporarilyUnavailable - Feature
            temporarily unavailable.'
      x-ms-examples:
        List of database recommended actions for all advisors:
          $ref: ./examples/DatabaseRecommendedActionListExpand.json
        List of database advisors:
          $ref: ./examples/DatabaseAdvisorList.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors/{advisorName}
  : get:
      tags:
      - DatabaseAdvisors
      description: Gets a database advisor.
      operationId: DatabaseAdvisors_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: advisorName
        in: path
        description: The name of the Database Advisor.
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved details of specified database advisor.
          schema:
            $ref: '#/definitions/Advisor'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidIdentifier - The identifier
            contains NULL or an invalid unicode character.nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 DatabaseDoesNotExist - The
            requested database was not foundnn * 404 SubscriptionDoesNotHaveElasticPool
            - The requested elastic pool was not foundnn * 404 AdvisorNotFound - The
            requested advisor was not found.nn * 405 NotSupported - This functionality
            is not supported.nn * 409 Conflict - Request could not be processed because
            of conflict in the request.nn * 503 ServiceTemporarilyUnavailable - Feature
            temporarily unavailable.'
      x-ms-examples:
        Get database advisor:
          $ref: ./examples/DatabaseAdvisorGet.json
    patch:
      tags:
      - DatabaseAdvisors
      description: Updates a database advisor.
      operationId: DatabaseAdvisors_Update
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: advisorName
        in: path
        description: The name of the Database Advisor.
        required: true
        type: string
      - name: parameters
        in: body
        description: The requested advisor resource state.
        required: true
        schema:
          $ref: '#/definitions/Advisor'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the specified database advisor.
          schema:
            $ref: '#/definitions/Advisor'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidIdentifier - The identifier
            contains NULL or an invalid unicode character.nn * 400 InvalidAdvisorUpsertRequest
            - The update advisor request body does not exist or has no properties
            object.nn * 400 InvalidAdvisorAutoExecuteStatus - Specified auto-execute
            status for the advisor is not allowed.nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 DatabaseDoesNotExist - The
            requested database was not foundnn * 404 SubscriptionDoesNotHaveElasticPool
            - The requested elastic pool was not foundnn * 404 AdvisorNotFound - The
            requested advisor was not found.nn * 405 NotSupported - This functionality
            is not supported.nn * 409 Conflict - Request could not be processed because
            of conflict in the request.nn * 503 ServiceTemporarilyUnavailable - Feature
            temporarily unavailable.'
      x-ms-examples:
        Update database advisor:
          $ref: ./examples/DatabaseAdvisorUpdate.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors/{advisorName}/recommendedActions
  : get:
      tags:
      - DatabaseRecommendedActions
      description: Gets list of Database Recommended Actions.
      operationId: DatabaseRecommendedActions_ListByDatabaseAdvisor
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: advisorName
        in: path
        description: The name of the Database Advisor.
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the list of database recommended actions.
          schema:
            type: array
            items:
              $ref: '#/definitions/RecommendedAction'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidIdentifier - The identifier
            contains NULL or an invalid unicode character.nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 DatabaseDoesNotExist - The
            requested database was not foundnn * 404 SubscriptionDoesNotHaveElasticPool
            - The requested elastic pool was not foundnn * 404 AdvisorNotFound - The
            requested advisor was not found.nn * 404 RecommendedActionNotFound - The
            requested recommended action was not found.nn * 404 AdvisorNotFound -
            The requested advisor was not found.nn * 404 RecommendedActionNotFound
            - The requested recommended action was not found.nn * 405 NotSupported
            - This functionality is not supported.nn * 409 Conflict - Request could
            not be processed because of conflict in the request.nn * 503 ServiceTemporarilyUnavailable
            - Feature temporarily unavailable.'
      x-ms-examples:
        List of database recommended actions:
          $ref: ./examples/DatabaseRecommendedActionList.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors/{advisorName}/recommendedActions/{recommendedActionName}
  : get:
      tags:
      - DatabaseRecommendedActions
      description: Gets a database recommended action.
      operationId: DatabaseRecommendedActions_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: advisorName
        in: path
        description: The name of the Database Advisor.
        required: true
        type: string
      - name: recommendedActionName
        in: path
        description: The name of Database Recommended Action.
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved details of specified database recommended
            action.
          schema:
            $ref: '#/definitions/RecommendedAction'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidIdentifier - The identifier
            contains NULL or an invalid unicode character.nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 DatabaseDoesNotExist - The
            requested database was not foundnn * 404 SubscriptionDoesNotHaveElasticPool
            - The requested elastic pool was not foundnn * 404 AdvisorNotFound - The
            requested advisor was not found.nn * 404 RecommendedActionNotFound - The
            requested recommended action was not found.nn * 404 AdvisorNotFound -
            The requested advisor was not found.nn * 404 RecommendedActionNotFound
            - The requested recommended action was not found.nn * 405 NotSupported
            - This functionality is not supported.nn * 409 Conflict - Request could
            not be processed because of conflict in the request.nn * 503 ServiceTemporarilyUnavailable
            - Feature temporarily unavailable.'
      x-ms-examples:
        Get database recommended action:
          $ref: ./examples/DatabaseRecommendedActionGet.json
    patch:
      tags:
      - DatabaseRecommendedActions
      description: Updates a database recommended action.
      operationId: DatabaseRecommendedActions_Update
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: advisorName
        in: path
        description: The name of the Database Advisor.
        required: true
        type: string
      - name: recommendedActionName
        in: path
        description: The name of Database Recommended Action.
        required: true
        type: string
      - name: parameters
        in: body
        description: The requested recommended action resource state.
        required: true
        schema:
          $ref: '#/definitions/RecommendedAction'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the specified database recommended action.
          schema:
            $ref: '#/definitions/RecommendedAction'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidIdentifier - The identifier
            contains NULL or an invalid unicode character.nn * 400 InvalidRecommendedActionUpsertRequest
            - The update recommended action request body does not exist or has no
            properties or state object.nn * 400 InvalidRecommendedActionState - The
            specified state for recommended action is invalidnn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 DatabaseDoesNotExist - The
            requested database was not foundnn * 404 SubscriptionDoesNotHaveElasticPool
            - The requested elastic pool was not foundnn * 404 AdvisorNotFound - The
            requested advisor was not found.nn * 404 RecommendedActionNotFound - The
            requested recommended action was not found.nn * 404 AdvisorNotFound -
            The requested advisor was not found.nn * 404 RecommendedActionNotFound
            - The requested recommended action was not found.nn * 405 NotSupported
            - This functionality is not supported.nn * 409 Conflict - Request could
            not be processed because of conflict in the request.nn * 503 ServiceTemporarilyUnavailable
            - Feature temporarily unavailable.'
      x-ms-examples:
        Update database recommended action:
          $ref: ./examples/DatabaseRecommendedActionUpdate.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/advisors:
    get:
      tags:
      - ServerAdvisors
      description: Gets a list of server advisors.
      operationId: ServerAdvisors_ListByServer
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the list of server advisors.
          schema:
            type: array
            items:
              $ref: '#/definitions/Advisor'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidIdentifier - The identifier
            contains NULL or an invalid unicode character.nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 DatabaseDoesNotExist - The
            requested database was not foundnn * 404 SubscriptionDoesNotHaveElasticPool
            - The requested elastic pool was not foundnn * 404 AdvisorNotFound - The
            requested advisor was not found.nn * 405 NotSupported - This functionality
            is not supported.nn * 409 Conflict - Request could not be processed because
            of conflict in the request.nn * 503 ServiceTemporarilyUnavailable - Feature
            temporarily unavailable.'
      x-ms-examples:
        List of server advisors:
          $ref: ./examples/ServerAdvisorList.json
        List of server recommended actions for all advisors:
          $ref: ./examples/ServerRecommendedActionListExpand.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/advisors/{advisorName}
  : get:
      tags:
      - ServerAdvisors
      description: Gets a server advisor.
      operationId: ServerAdvisors_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: advisorName
        in: path
        description: The name of the Server Advisor.
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved details of specified server advisor.
          schema:
            $ref: '#/definitions/Advisor'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidIdentifier - The identifier
            contains NULL or an invalid unicode character.nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 DatabaseDoesNotExist - The
            requested database was not foundnn * 404 SubscriptionDoesNotHaveElasticPool
            - The requested elastic pool was not foundnn * 404 AdvisorNotFound - The
            requested advisor was not found.nn * 405 NotSupported - This functionality
            is not supported.nn * 409 Conflict - Request could not be processed because
            of conflict in the request.nn * 503 ServiceTemporarilyUnavailable - Feature
            temporarily unavailable.'
      x-ms-examples:
        Get server advisor:
          $ref: ./examples/ServerAdvisorGet.json
    patch:
      tags:
      - ServerAdvisors
      description: Updates a server advisor.
      operationId: ServerAdvisors_Update
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: advisorName
        in: path
        description: The name of the Server Advisor.
        required: true
        type: string
      - name: parameters
        in: body
        description: The requested advisor resource state.
        required: true
        schema:
          $ref: '#/definitions/Advisor'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the specified server advisor.
          schema:
            $ref: '#/definitions/Advisor'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidIdentifier - The identifier
            contains NULL or an invalid unicode character.nn * 400 InvalidAdvisorUpsertRequest
            - The update advisor request body does not exist or has no properties
            object.nn * 400 InvalidAdvisorAutoExecuteStatus - Specified auto-execute
            status for the advisor is not allowed.nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 DatabaseDoesNotExist - The
            requested database was not foundnn * 404 SubscriptionDoesNotHaveElasticPool
            - The requested elastic pool was not foundnn * 404 AdvisorNotFound - The
            requested advisor was not found.nn * 405 NotSupported - This functionality
            is not supported.nn * 409 Conflict - Request could not be processed because
            of conflict in the request.nn * 503 ServiceTemporarilyUnavailable - Feature
            temporarily unavailable.'
      x-ms-examples:
        Update server advisor:
          $ref: ./examples/ServerAdvisorUpdate.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:17:\"AdvisorProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Properties
  for a Database, Server or Elastic Pool Advisor.\";s:8:\"required\";a:1:{i:0;s:17:\"autoExecuteStatus\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"advisorStatus\";O:8:\"stdClass\":5:{s:11:\"description\";s:149:\"Gets
  the status of availability of this advisor to customers. Possible values are 'GA',
  'PublicPreview', 'LimitedPublicPreview' and 'PrivatePreview'.\";s:4:\"enum\";a:4:{i:0;s:2:\"GA\";i:1;s:13:\"PublicPreview\";i:2;s:20:\"LimitedPublicPreview\";i:3;s:14:\"PrivatePreview\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"AdvisorStatus\";s:13:\"modelAsString\";b:0;}}s:17:\"autoExecuteStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:146:\"Gets
  the auto-execute status (whether to let the system execute the recommendations)
  of this advisor. Possible values are 'Enabled' and 'Disabled'\";s:4:\"enum\";a:3:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";i:2;s:7:\"Default\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"AutoExecuteStatus\";s:13:\"modelAsString\";b:0;}}s:30:\"autoExecuteStatusInheritedFrom\";O:8:\"stdClass\":5:{s:11:\"description\";s:314:\"Gets
  the resource from which current value of auto-execute status is inherited. Auto-execute
  status can be set on (and inherited from) different levels in the resource hierarchy.
  Possible values are 'Subscription', 'Server', 'ElasticPool', 'Database' and 'Default'
  (when status is not explicitly set on any level).\";s:4:\"enum\";a:5:{i:0;s:7:\"Default\";i:1;s:12:\"Subscription\";i:2;s:6:\"Server\";i:3;s:11:\"ElasticPool\";i:4;s:8:\"Database\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:30:\"AutoExecuteStatusInheritedFrom\";s:13:\"modelAsString\";b:0;}}s:21:\"recommendationsStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:273:\"Gets
  that status of recommendations for this advisor and reason for not having any recommendations.
  Possible values include, but are not limited to, 'Ok' (Recommendations available),LowActivity
  (not enough workload to analyze), 'DbSeemsTuned' (Database is doing well), etc.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"lastChecked\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:89:\"Gets
  the time when the current resource was analyzed for recommendations by this advisor.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:18:\"recommendedActions\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Gets
  the recommended actions for this advisor.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/RecommendedAction\";}s:8:\"readOnly\";b:1;}}}s:27:\"RecommendedActionProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Properties
  for a Database, Server or Elastic Pool Recommended Action.\";s:8:\"required\";a:1:{i:0;s:5:\"state\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:20:\"recommendationReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Gets
  the reason for recommending this action. e.g., DuplicateIndex\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"validSince\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:58:\"Gets
  the time since when this recommended action is valid.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"lastRefresh\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:58:\"Gets
  time when this recommended action was last refreshed.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/RecommendedActionStateInfo\";s:11:\"description\";s:64:\"Gets
  the info of the current state the recommended action is in.\";}s:18:\"isExecutableAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Gets
  if this recommended action is actionable by user\";s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:18:\"isRevertableAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Gets
  if changes applied by this recommended action can be reverted by user\";s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:16:\"isArchivedAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"Gets
  if this recommended action was suggested some time ago but user chose to ignore
  this and system added a new recommended action again.\";s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:22:\"executeActionStartTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:120:\"Gets
  the time when system started applying this recommended action on the user resource.
  e.g., index creation start time\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:21:\"executeActionDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Gets
  the time taken for applying this recommended action on user resource. e.g., time
  taken for index creation\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:21:\"revertActionStartTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:136:\"Gets
  the time when system started reverting changes of this recommended action on user
  resource. e.g., time when index drop is executed.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:20:\"revertActionDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"Gets
  the time taken for reverting changes of this recommended action on user resource.
  e.g., time taken for dropping the created index.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:24:\"executeActionInitiatedBy\";O:8:\"stdClass\":5:{s:11:\"description\";s:79:\"Gets
  if approval for applying this recommended action was given by user/system.\";s:4:\"enum\";a:2:{i:0;s:4:\"User\";i:1;s:6:\"System\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:28:\"RecommendedActionInitiatedBy\";s:13:\"modelAsString\";b:0;}}s:26:\"executeActionInitiatedTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:70:\"Gets
  the time when this recommended action was approved for execution.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:23:\"revertActionInitiatedBy\";O:8:\"stdClass\":5:{s:11:\"description\";s:80:\"Gets
  if approval for reverting this recommended action was given by user/system.\";s:4:\"enum\";a:2:{i:0;s:4:\"User\";i:1;s:6:\"System\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:28:\"RecommendedActionInitiatedBy\";s:13:\"modelAsString\";b:0;}}s:25:\"revertActionInitiatedTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:67:\"Gets
  the time when this recommended action was approved for revert.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:5:\"score\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:117:\"Gets
  the impact of this recommended action. Possible values are 1 - Low impact, 2 - Medium
  Impact and 3 - High Impact\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}s:21:\"implementationDetails\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:49:\"#/definitions/RecommendedActionImplementationInfo\";s:11:\"description\";s:89:\"Gets
  the implementation details of this recommended action for user to apply it manually.\";s:8:\"readOnly\";b:1;}s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:40:\"#/definitions/RecommendedActionErrorInfo\";s:11:\"description\";s:80:\"Gets
  the error details if and why this recommended action is put to error state.\";s:8:\"readOnly\";b:1;}s:15:\"estimatedImpact\";O:8:\"stdClass\":4:{s:11:\"description\";s:112:\"Gets
  the estimated impact info for this recommended action e.g., Estimated CPU gain,
  Estimated Disk Space change\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/RecommendedActionImpactRecord\";}s:8:\"readOnly\";b:1;}s:14:\"observedImpact\";O:8:\"stdClass\":4:{s:11:\"description\";s:112:\"Gets
  the observed/actual impact info for this recommended action e.g., Actual CPU gain,
  Actual Disk Space change\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/RecommendedActionImpactRecord\";}s:8:\"readOnly\";b:1;}s:10:\"timeSeries\";O:8:\"stdClass\":4:{s:11:\"description\";s:98:\"Gets
  the time series info of metrics for this recommended action e.g., CPU consumption
  time series\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/RecommendedActionMetricInfo\";}s:8:\"readOnly\";b:1;}s:13:\"linkedObjects\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Gets
  the linked objects, if any.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;}s:7:\"details\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Gets
  additional details specific to this recommended action.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"readOnly\";b:1;}}}s:26:\"RecommendedActionStateInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"Contains
  information of current state for an Azure SQL Database, Server or Elastic Pool Recommended
  Action.\";s:8:\"required\";a:1:{i:0;s:12:\"currentValue\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"currentValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:900:\"Current
  state the recommended action is in. Some commonly used states are: Active      ->
  recommended action is active and no action has been taken yet. Pending     -> recommended
  action is approved for and is awaiting execution. Executing   -> recommended action
  is being applied on the user database. Verifying   -> recommended action was applied
  and is being verified of its usefulness by the system. Success     -> recommended
  action was applied and improvement found during verification. Pending Revert  ->
  verification found little or no improvement so recommended action is queued for
  revert or user has manually reverted. Reverting   -> changes made while applying
  recommended action are being reverted on the user database. Reverted    -> successfully
  reverted the changes made by recommended action on user database. Ignored     ->
  user explicitly ignored/discarded the recommended action. \";s:4:\"enum\";a:14:{i:0;s:6:\"Active\";i:1;s:7:\"Pending\";i:2;s:9:\"Executing\";i:3;s:9:\"Verifying\";i:4;s:13:\"PendingRevert\";i:5;s:15:\"RevertCancelled\";i:6;s:9:\"Reverting\";i:7;s:8:\"Reverted\";i:8;s:7:\"Ignored\";i:9;s:7:\"Expired\";i:10;s:10:\"Monitoring\";i:11;s:8:\"Resolved\";i:12;s:7:\"Success\";i:13;s:5:\"Error\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:29:\"RecommendedActionCurrentState\";s:13:\"modelAsString\";b:1;}}s:17:\"actionInitiatedBy\";O:8:\"stdClass\":5:{s:11:\"description\";s:272:\"Gets
  who initiated the execution of this recommended action. Possible Value are: User
  \   -> When user explicitly notified system to apply the recommended action. System
  \ -> When auto-execute status of this advisor was set to 'Enabled', in which case
  the system applied it.\";s:4:\"enum\";a:2:{i:0;s:4:\"User\";i:1;s:6:\"System\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:28:\"RecommendedActionInitiatedBy\";s:13:\"modelAsString\";b:0;}}s:12:\"lastModified\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:46:\"Gets
  the time when the state was last modified\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:35:\"RecommendedActionImplementationInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"Contains
  information for manual implementation for an Azure SQL Database, Server or Elastic
  Pool Recommended Action.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"method\";O:8:\"stdClass\":5:{s:11:\"description\";s:106:\"Gets
  the method in which this recommended action can be manually implemented. e.g., TSql,
  AzurePowerShell.\";s:4:\"enum\";a:2:{i:0;s:4:\"TSql\";i:1;s:15:\"AzurePowerShell\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"ImplementationMethod\";s:13:\"modelAsString\";b:0;}}s:6:\"script\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Gets
  the manual implementation script. e.g., T-SQL script that could be executed on the
  database.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:26:\"RecommendedActionErrorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Contains
  error information for an Azure SQL Database, Server or Elastic Pool Recommended
  Action.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Gets
  the reason why the recommended action was put to error state. e.g., DatabaseHasQdsOff,
  IndexAlreadyExists\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"isRetryable\";O:8:\"stdClass\":5:{s:11:\"description\";s:108:\"Gets
  whether the error could be ignored and recommended action could be retried. Possible
  values are: Yes/No\";s:4:\"enum\";a:2:{i:0;s:3:\"Yes\";i:1;s:2:\"No\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"IsRetryable\";s:13:\"modelAsString\";b:0;}}}}s:29:\"RecommendedActionImpactRecord\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"Contains
  information of estimated or observed impact on various metrics for an Azure SQL
  Database, Server or Elastic Pool Recommended Action.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"dimensionName\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Gets
  the name of the impact dimension. e.g., CPUChange, DiskSpaceChange, NumberOfQueriesAffected.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"unit\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Gets
  the name of the impact dimension. e.g., CPUChange, DiskSpaceChange, NumberOfQueriesAffected.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"absoluteValue\";O:8:\"stdClass\":4:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:89:\"Gets
  the absolute value of this dimension if applicable. e.g., Number of Queries affected\";s:4:\"type\";s:6:\"number\";s:8:\"readOnly\";b:1;}s:19:\"changeValueAbsolute\";O:8:\"stdClass\":4:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:102:\"Gets
  the absolute change in the value of this dimension. e.g., Absolute Disk space change
  in Megabytes\";s:4:\"type\";s:6:\"number\";s:8:\"readOnly\";b:1;}s:19:\"changeValueRelative\";O:8:\"stdClass\":4:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:103:\"Gets
  the relative change in the value of this dimension. e.g., Relative Disk space change
  in Percentage\";s:4:\"type\";s:6:\"number\";s:8:\"readOnly\";b:1;}}}s:27:\"RecommendedActionMetricInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Contains
  time series of various impacted metrics for an Azure SQL Database, Server or Elastic
  Pool Recommended Action.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"metricName\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Gets
  the name of the metric. e.g., CPU, Number of Queries.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"unit\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Gets
  the unit in which metric is measured. e.g., DTU, Frequency\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"timeGrain\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Gets
  the duration of time interval for the value given by this MetricInfo. e.g., PT1H
  (1 hour)\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"startTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:62:\"Gets
  the start time of time interval given by this MetricInfo.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:5:\"value\";O:8:\"stdClass\":4:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:75:\"Gets
  the value of the metric in the time interval given by this MetricInfo.\";s:4:\"type\";s:6:\"number\";s:8:\"readOnly\";b:1;}}}s:17:\"RecommendedAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Database,
  Server or Elastic Pool Recommended Action.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"../../../common/v1/types.json#/definitions/ProxyResource\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  kind.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:41:\"#/definitions/RecommendedActionProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:7:\"Advisor\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Database,
  Server or Elastic Pool Advisor.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"../../../common/v1/types.json#/definitions/ProxyResource\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  kind.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/AdvisorProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}}"
...
