---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:23:\"MonitorManagementClient\";s:7:\"version\";s:10:\"2015-07-01\";}"
host: management.azure.com
paths:
  /{resourceUri}/providers/microsoft.insights/diagnosticSettings/service:
    get:
      deprecated: true
      tags:
      - ServiceDiagnosticSettings
      operationId: ServiceDiagnosticSettings_Get
      description: Gets the active diagnostic settings for the specified resource.
      parameters:
      - $ref: '#/parameters/ResourceUriParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        200:
          description: Successful request to get more information about service diagnostic
            setting
          schema:
            $ref: '#/definitions/ServiceDiagnosticSettingsResource'
          examples:
            application/json:
              id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/service
              type: ""
              name: service
              location: ""
              tags: ~
              properties:
                storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                serviceBusRuleId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/andy1101/providers/Microsoft.EventHub/namespaces/andy1101/authorizationrules/RootManageSharedAccessKey
                workspaceId: ""
                metrics:
                - timeGrain: PT1M
                  enabled: true
                  retentionPolicy:
                    enabled: false
                    days: 0
                logs:
                - category: WorkflowRuntime
                  enabled: true
                  retentionPolicy:
                    enabled: false
                    days: 0
    put:
      deprecated: true
      tags:
      - ServiceDiagnosticSettings
      operationId: ServiceDiagnosticSettings_CreateOrUpdate
      description: Create or update new diagnostic settings for the specified resource.
      parameters:
      - $ref: '#/parameters/ResourceUriParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServiceDiagnosticSettingsResource'
        description: Parameters supplied to the operation.
      responses:
        200:
          description: Successful request to create a service diagnostic setting
          schema:
            $ref: '#/definitions/ServiceDiagnosticSettingsResource'
          examples:
            application/json:
              id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/diagnosticSettings/service
              type: ""
              name: service
              location: ""
              tags: ~
              properties:
                storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/apptest/providers/Microsoft.Storage/storageAccounts/appteststorage1
                serviceBusRuleId: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/andy1101/providers/Microsoft.EventHub/namespaces/andy1101/authorizationrules/RootManageSharedAccessKey
                workspaceId: ""
                metrics:
                - timeGrain: PT1M
                  enabled: true
                  retentionPolicy:
                    enabled: false
                    days: 0
                logs:
                - category: WorkflowRuntime
                  enabled: true
                  retentionPolicy:
                    enabled: false
                    days: 0
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:8:\"Resource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Azure
  resource Id\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Azure
  resource name\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Azure
  resource type\";}s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Resource
  location\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;s:11:\"description\";s:24:\"An
  azure resource object\";}s:15:\"RetentionPolicy\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:59:\"a
  value indicating whether the retention policy is enabled.\";}s:4:\"days\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:95:\"the
  number of days for the retention in days. A value of 0 will retain the events indefinitely.\";}}s:8:\"required\";a:2:{i:0;s:7:\"enabled\";i:1;s:4:\"days\";}s:11:\"description\";s:43:\"Specifies
  the retention policy for the log.\";}s:14:\"MetricSettings\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"timeGrain\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:46:\"the
  timegrain of the metric in ISO8601 format.\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:53:\"a
  value indicating whether this timegrain is enabled.\";}s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:40:\"the
  retention policy for this timegrain.\";}}s:8:\"required\";a:2:{i:0;s:7:\"enabled\";i:1;s:9:\"timeGrain\";}s:11:\"description\";s:86:\"Part
  of MultiTenantDiagnosticSettings. Specifies the settings for a particular metric.\";}s:11:\"LogSettings\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:196:\"Name
  of a Diagnostic Log category for a resource type this setting is applied to. To
  obtain the list of Diagnostic Log categories for a resource, first perform a GET
  diagnostic settings operation.\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:47:\"a
  value indicating whether this log is enabled.\";}s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:34:\"the
  retention policy for this log.\";}}s:8:\"required\";a:1:{i:0;s:7:\"enabled\";}s:11:\"description\";s:83:\"Part
  of MultiTenantDiagnosticSettings. Specifies the settings for a particular log.\";}s:25:\"ServiceDiagnosticSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"storageAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"The
  resource ID of the storage account to which you would like to send Diagnostic Logs.\";}s:16:\"serviceBusRuleId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:223:\"The
  service bus rule ID of the service bus namespace in which you would like to have
  Event Hubs created for streaming Diagnostic Logs. The rule ID is of the format:
  '{service bus resource ID}/authorizationrules/{key name}'.\";}s:7:\"metrics\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MetricSettings\";}s:11:\"description\";s:28:\"the
  list of metric settings.\";}s:4:\"logs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/LogSettings\";}s:11:\"description\";s:26:\"the
  list of logs settings.\";}s:11:\"workspaceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:295:\"The
  workspace ID (resource ID of a Log Analytics workspace) for a Log Analytics workspace
  to which you would like to send Diagnostic Logs. Example: /subscriptions/4b9e8510-67ab-4e9a-95a9-e2f1e570ea9c/resourceGroups/insights-integration/providers/Microsoft.OperationalInsights/workspaces/viruela2\";}}s:11:\"description\";s:36:\"The
  diagnostic settings for service.\";}s:33:\"ServiceDiagnosticSettingsResource\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:39:\"#/definitions/ServiceDiagnosticSettings\";}}s:11:\"description\";s:43:\"Description
  of a service diagnostic setting\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}}}"
...
