---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:247:\"The Azure SQL
  Database management API provides a RESTful set of web APIs that interact with Azure
  SQL Database services to manage your databases. The API enables users to create,
  retrieve, update, and delete databases, servers, and other entities.\";s:5:\"title\";s:19:\"SqlManagementClient\";s:7:\"version\";s:10:\"2014-04-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:10:\"enterprise\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:108:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-sql/2014-04-01/swagger/advisors.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:7:\"arm-sql\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"azure_arm_sql\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors
  : get:
      description: Returns a list of database advisors.
      operationId: Databases_ListAdvisors
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the list of database advisors.
          schema:
            $ref: '#/definitions/AdvisorListResult'
      tags:
      - DatabaseAdvisors
      x-ms-examples:
        List of database advisors:
          parameters:
            api-version: "2014-04-01"
            databaseName: IndexAdvisor_test_3
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex
                  name: CreateIndex
                  properties:
                    advisorStatus: GA
                    autoExecuteValue: Enabled
                    lastChecked: "2017-07-04T13:17:13Z"
                    recommendationsStatus: LowActivity
                  type: Microsoft.Sql/servers/databases/advisors
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/DropIndex
                  name: DropIndex
                  properties:
                    advisorStatus: GA
                    autoExecuteValue: Enabled
                    lastChecked: "2017-07-03T16:26:28Z"
                    recommendationsStatus: DbSeemsTuned
                  type: Microsoft.Sql/servers/databases/advisors
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/DbParameterization
                  name: DbParameterization
                  properties:
                    advisorStatus: GA
                    autoExecuteValue: Disabled
                    lastChecked: "2017-07-03T15:31:27Z"
                    recommendationsStatus: NoDbParameterizationIssue
                  type: Microsoft.Sql/servers/databases/advisors
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/SchemaIssue
                  name: SchemaIssue
                  properties:
                    advisorStatus: PublicPreview
                    autoExecuteValue: Disabled
                    lastChecked: "2017-07-04T17:45:37Z"
                    recommendationsStatus: SchemaIsConsistent
                  type: Microsoft.Sql/servers/databases/advisors
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/ForceLastGoodPlan
                  name: ForceLastGoodPlan
                  properties:
                    advisorStatus: PrivatePreview
                    autoExecuteValue: Disabled
                    lastChecked: ~
                    recommendationsStatus: ~
                  type: Microsoft.Sql/servers/databases/advisors
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors/{advisorName}
  : get:
      description: Returns details of a Database Advisor.
      operationId: Databases_GetAdvisor
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/AdvisorNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved details of specified database advisor.
          schema:
            $ref: '#/definitions/Advisor'
      tags:
      - DatabaseAdvisors
      x-ms-examples:
        Get database advisor:
          parameters:
            advisorName: CreateIndex
            api-version: "2014-04-01"
            databaseName: IndexAdvisor_test_3
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteValue: Enabled
                  lastChecked: "2017-07-04T13:17:13Z"
                  recommendationsStatus: LowActivity
                type: Microsoft.Sql/servers/databases/advisors
    put:
      description: Creates or updates a database advisor.
      operationId: Databases_CreateOrUpdateAdvisor
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/AdvisorNameParameter'
      - description: The requested advisor resource state.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/Advisor'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the specified database advisor.
          schema:
            $ref: '#/definitions/Advisor'
      tags:
      - DatabaseAdvisors
      x-ms-examples:
        Update database advisor:
          parameters:
            advisorName: CreateIndex
            api-version: "2014-04-01"
            databaseName: IndexAdvisor_test_3
            parameters:
              properties:
                autoExecuteValue: Disabled
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteValue: Disabled
                  lastChecked: "2017-06-20T00:24:39Z"
                  recommendationsStatus: Ok
                type: Microsoft.Sql/servers/databases/advisors
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:7:\"Advisor\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:17:\"Database
  Advisor.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  kind.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Resource
  location.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/AdvisorProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:17:\"AdvisorListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Represents
  the response to a list advisors request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  list of advisors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Advisor\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"AdvisorProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Properties
  for a Database, Server or Elastic Pool Advisor.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"advisorStatus\";O:8:\"stdClass\":5:{s:11:\"description\";s:149:\"Gets
  the status of availability of this advisor to customers. Possible values are 'GA',
  'PublicPreview', 'LimitedPublicPreview' and 'PrivatePreview'.\";s:4:\"enum\";a:4:{i:0;s:2:\"GA\";i:1;s:13:\"PublicPreview\";i:2;s:20:\"LimitedPublicPreview\";i:3;s:14:\"PrivatePreview\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"AdvisorStatus\";}}s:16:\"autoExecuteValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:146:\"Gets
  the auto-execute status (whether to let the system execute the recommendations)
  of this advisor. Possible values are 'Enabled' and 'Disabled'\";s:4:\"enum\";a:3:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";i:2;s:7:\"Default\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"AutoExecuteStatus\";}}s:11:\"lastChecked\";O:8:\"stdClass\":4:{s:11:\"description\";s:89:\"Gets
  the time when the current resource was analyzed for recommendations by this advisor.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:21:\"recommendationsStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:274:\"Gets
  that status of recommendations for this advisor and reason for not having any recommendations.
  Possible values include, but are not limited to, 'Ok' (Recommendations available),
  LowActivity (not enough workload to analyze), 'DbSeemsTuned' (Database is doing
  well), etc.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:16:\"autoExecuteValue\";}s:4:\"type\";s:6:\"object\";}s:13:\"ProxyResource\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:19:\"ARM
  proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}"
...
