---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:247:\"The Azure SQL
  Database management API provides a RESTful set of web APIs that interact with Azure
  SQL Database services to manage your databases. The API enables users to create,
  retrieve, update, and delete databases, servers, and other entities.\";s:5:\"title\";s:19:\"SqlManagementClient\";s:7:\"version\";s:18:\"2015-05-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:159:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/operations.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:14:\"sql-operations\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.Sql/operations:
    get:
      description: Lists all of the available SQL Rest API operations.
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved operations.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: '*** Error Responses: ***'
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"SQL
  REST API operation definition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"display\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/OperationDisplay\";s:11:\"description\";s:73:\"The
  localized display information for this particular operation / action.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  name of the operation being performed on this particular object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":5:{s:11:\"description\";s:39:\"The
  intended executor of the operation.\";s:4:\"enum\";a:2:{i:0;s:4:\"user\";i:1;s:6:\"system\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"OperationOrigin\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:42:\"Additional
  descriptions for the operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:0;}}s:4:\"type\";s:6:\"object\";}s:16:\"OperationDisplay\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Display
  metadata associated with the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  localized friendly description for the operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  localized friendly name for the operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  localized friendly form of the resource provider name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"The
  localized friendly form of the resource type related to this action/operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OperationListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Result
  of the request to list SQL operations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Array
  of results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
