---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:31:\"StreamAnalyticsManagementClient\";s:7:\"version\";s:10:\"2016-03-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:177:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2016-03-01/subscriptions.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:29:\"streamanalytics-subscriptions\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:35:\"azure_streamanalytics_subscriptions\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/locations/{location}/quotas:
    get:
      description: Retrieves the subscription's current quota information in a particular
        region.
      operationId: Subscriptions_ListQuotas
      parameters:
      - description: 'The region in which to retrieve the subscription''s quota information.
          You can find out which regions Azure Stream Analytics is supported in here:
          https://azure.microsoft.com/en-us/regions/'
        in: path
        name: location
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successfully retrieved the subscription's quota information
            in the specified region.
          schema:
            $ref: '#/definitions/SubscriptionQuotasListResult'
      tags:
      - Subscriptions
      x-ms-examples:
        List subscription quota information in West US:
          parameters:
            api-version: "2016-03-01"
            location: West US
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            200:
              body:
                value:
                - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/providers/Microsoft.StreamAnalytics/locations/West
                    US/quotas/StreamingUnits
                  name: StreamingUnits
                  properties:
                    currentCount: 0
                    maxCount: 200
                  type: Microsoft.StreamAnalytics/quotas
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:11:\"SubResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  base sub-resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Resource
  Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Resource
  name\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:17:\"SubscriptionQuota\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:49:\"Describes
  the current quota for the subscription.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Describes
  the properties of the quota.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"currentCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  current usage of this resource.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:8:\"maxCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  max permitted usage of this resource.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:8:\"readOnly\";b:1;s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:28:\"SubscriptionQuotasListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Result
  of the GetQuotas operation. It contains a list of quotas for the subscription in
  a particular region.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"List
  of quotas for the subscription in a particular region.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SubscriptionQuota\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}}"
...
