---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"MonitorManagementClient\";s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:23:\"MonitorManagementClient\";}s:7:\"version\";s:18:\"2017-05-01-preview\";}"
host: management.azure.com
paths:
  /{resourceUri}/providers/microsoft.insights/diagnosticSettingsCategories/{name}:
    get:
      tags:
      - DiagnosticSettingsCategories
      operationId: DiagnosticSettingsCategory_Get
      description: Gets the diagnostic settings category for the specified resource.
      parameters:
      - $ref: '#/parameters/ResourceUriParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/NameParameter'
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        200:
          description: Successful request to get more information about diagnostic
            setting category
          schema:
            $ref: '#/definitions/DiagnosticSettingsCategoryResource'
          examples:
            application/json:
              id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/providers/microsoft.insights/diagnosticSettingsCategories/WorkflowRuntime
              type: microsoft.insights/diagnosticSettingsCategories
              name: WorkflowRuntime
              location: eastus
              tags: ~
              properties:
                categoryType: Logs
      x-ms-examples:
        Gets the diagnostic setting:
          $ref: ./examples/getDiagnosticSettingsCategory.json
  /{resourceUri}/providers/microsoft.insights/diagnosticSettingsCategories:
    get:
      tags:
      - DiagnosticSettingsCategories
      operationId: DiagnosticSettingsCategory_List
      description: Lists the diagnostic settings categories for the specified resource.
      parameters:
      - $ref: '#/parameters/ResourceUriParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        200:
          description: Successful request to get more information about diagnostic
            setting category
          schema:
            $ref: '#/definitions/DiagnosticSettingsCategoryResourceCollection'
          examples:
            application/json:
              value:
              - id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/providers/microsoft.insights/diagnosticSettingsCategories/WorkflowRuntime
                type: microsoft.insights/diagnosticSettingsCategories
                name: WorkflowRuntime
                location: eastus
                tags: ~
                properties:
                  categoryType: Logs
              - id: /subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/providers/microsoft.insights/diagnosticSettingsCategories/WorkflowMetric
                type: microsoft.insights/diagnosticSettingsCategories
                name: WorkflowMetric
                location: eastus
                tags: ~
                properties:
                  categoryType: Metrics
      x-ms-examples:
        Gets the diagnostic setting:
          $ref: ./examples/listDiagnosticSettingsCategories.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:17:\"ProxyOnlyResource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Azure
  resource Id\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Azure
  resource name\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Azure
  resource type\";}}s:19:\"x-ms-azure-resource\";b:1;s:11:\"description\";s:34:\"A
  proxy only azure resource object\";}s:26:\"DiagnosticSettingsCategory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"categoryType\";O:8:\"stdClass\":5:{s:4:\"enum\";a:2:{i:0;s:7:\"Metrics\";i:1;s:4:\"Logs\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"categoryType\";}s:10:\"x-nullable\";b:0;s:11:\"description\";s:45:\"The
  type of the diagnostic settings category.\";}}s:11:\"description\";s:33:\"The diagnostic
  settings Category.\";}s:34:\"DiagnosticSettingsCategoryResource\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProxyOnlyResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:40:\"#/definitions/DiagnosticSettingsCategory\";}}s:11:\"description\";s:42:\"The
  diagnostic settings category resource.\";}s:44:\"DiagnosticSettingsCategoryResourceCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/DiagnosticSettingsCategoryResource\";}s:11:\"description\";s:57:\"The
  collection of diagnostic settings category resources.\";}}s:11:\"description\";s:65:\"Represents
  a collection of diagnostic setting category resources.\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}}}"
...
