---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:382:\"Use these REST
  APIs for performing operations on Certificate entity in your Azure API Management
  deployment. Certificates can be used to setup mutual authentication with your Backend
  in API Management. For more information refer to [How to secure backend using Mutual
  Auth Certificate](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-certificates).\";s:5:\"title\";s:19:\"ApiManagementClient\";s:7:\"version\";s:10:\"2018-01-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:177:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/apimcertificates.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:30:\"apimanagement-apimcertificates\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:36:\"azure_apimanagement_apimcertificates\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/certificates
  : get:
      description: Lists a collection of all certificates in the specified service
        instance.
      operationId: Certificate_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: '| Field          | Supported operators    | Supported functions                         |n|----------------|------------------------|---------------------------------------------|n|
          id             | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |n| subject        | ge, le, eq, ne, gt, lt | substringof, contains,
          startswith, endswith |n| thumbprint     | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |n| expirationDate | ge, le, eq, ne, gt,
          lt | N/A                                         |'
        in: query
        name: $filter
        required: false
        type: string
      - description: Number of records to return.
        format: int32
        in: query
        minimum: 1
        name: $top
        required: false
        type: integer
        x-ms-parameter-location: method
      - description: Number of records to skip.
        format: int32
        in: query
        minimum: 0
        name: $skip
        required: false
        type: integer
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: Returns a collection of Certificate entity.
          schema:
            $ref: '#/definitions/CertificateCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - Certificates
      x-ms-examples:
        ApiManagementListCertificates:
          parameters:
            api-version: "2018-01-01"
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/certificates/kjoshiarmtemplateCert1
                  name: templateCert1
                  properties:
                    expirationDate: "2017-04-23T17:03:41Z"
                    subject: CN=mutual-authcert
                    thumbprint: EBA************************48594A6
                  type: Microsoft.ApiManagement/service/certificates
      x-ms-odata: '#/definitions/CertificateContract'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/certificates/{certificateId}
  : delete:
      description: Deletes specific certificate.
      operationId: Certificate_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/CertificateIdParameter'
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: The certificate was successfully deleted.
        204:
          description: The certificate was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - Certificates
      x-ms-examples:
        ApiManagementDeleteCertificate:
          parameters:
            If-Match: '*'
            api-version: "2018-01-01"
            certificateId: tempcert
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200: []
            204: []
    get:
      description: Gets the details of the certificate specified by its identifier.
      operationId: Certificate_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/CertificateIdParameter'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: The response body contains the specified Certificate entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/CertificateContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - Certificates
      x-ms-examples:
        ApiManagementGetCertificate:
          parameters:
            api-version: "2018-01-01"
            certificateId: templateCert1
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/certificates/templateCert1
                name: templateCert1
                properties:
                  expirationDate: "2017-04-23T17:03:41Z"
                  subject: CN=mutual-authcert
                  thumbprint: EBA**********************8594A6
                type: Microsoft.ApiManagement/service/certificates
    head:
      description: Gets the entity state (Etag) version of the certificate specified
        by its identifier.
      operationId: Certificate_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/CertificateIdParameter'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: Specified certificate entity exists and current entity state
            version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - Certificates
      x-ms-examples:
        ApiManagementHeadCertificate:
          parameters:
            api-version: "2018-01-01"
            certificateId: templateCert1
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              headers:
                etag: AAAAAAAAAAa=
    put:
      description: Creates or updates the certificate being used for authentication
        with the backend.
      externalDocs:
        description: How to secure back-end services using client certificate authentication
          in Azure API Management
        url: https://azure.microsoft.com/en-us/documentation/articles/api-management-howto-mutual-certificates/
      operationId: Certificate_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/CertificateIdParameter'
      - description: Create or Update parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/CertificateCreateOrUpdateParameters'
      - description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        in: header
        name: If-Match
        required: false
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: The certificate details were successfully updated.
          schema:
            $ref: '#/definitions/CertificateContract'
        201:
          description: The new certificate was successfully added.
          schema:
            $ref: '#/definitions/CertificateContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - Certificates
      x-ms-examples:
        ApiManagementCreateCertificate:
          parameters:
            api-version: "2018-01-01"
            certificateId: tempcert
            parameters:
              properties:
                data: '****************Base 64 Encoded Certificate *******************************'
                password: '****Certificate Password******'
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/certificates/tempcert
                name: tempcert
                properties:
                  expirationDate: "2018-03-17T21:55:07+00:00"
                  subject: CN=contoso.com
                  thumbprint: '*******************3'
                type: Microsoft.ApiManagement/service/certificates
            201:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/certificates/tempcert
                name: tempcert
                properties:
                  expirationDate: "2018-03-17T21:55:07+00:00"
                  subject: CN=contoso.com
                  thumbprint: '*******************3'
                type: Microsoft.ApiManagement/service/certificates
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:21:\"CertificateCollection\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Paged
  Certificates list representation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Next
  page link if any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Page
  values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/CertificateContract\";}s:4:\"type\";s:5:\"array\";}}}s:19:\"CertificateContract\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  Resource definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Resource
  type for API Management resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:20:\"Certificate
  details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:43:\"#/definitions/CertificateContractProperties\";s:11:\"description\";s:31:\"Certificate
  properties details.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:29:\"CertificateContractProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Properties
  of the Certificate contract.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"expirationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"Expiration
  date of the certificate. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Subject
  attribute of the certificate.\";s:4:\"type\";s:6:\"string\";}s:10:\"thumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Thumbprint
  of the certificate.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:7:\"subject\";i:1;s:10:\"thumbprint\";i:2;s:14:\"expirationDate\";}}s:35:\"CertificateCreateOrUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Certificate
  create or update details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:49:\"#/definitions/CertificateCreateOrUpdateProperties\";s:11:\"description\";s:48:\"Certificate
  create or update properties details.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:35:\"CertificateCreateOrUpdateProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Parameters
  supplied to the CreateOrUpdate certificate operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Base
  64 encoded certificate using the application/x-pkcs12 representation.\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Password
  for the Certificate\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:8:\"password\";}}}"
...
