---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:15:\"2017-08-01-beta\";s:5:\"title\";s:21:\"AzureAnalysisServices\";s:11:\"description\";s:159:\"The
  Azure Analysis Services Web API provides a RESTful set of web services that enables
  users to create, retrieve, update, and delete Analysis Services servers\";s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:32:\"AnalysisServicesManagementClient\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}:
    get:
      description: Gets details about the specified Analysis Services server.
      x-ms-examples:
        Get details of a server:
          $ref: ./examples/getServer.json
      tags:
      - Servers
      operationId: Servers_GetDetails
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: serverName
        in: path
        required: true
        type: string
        pattern: ^[a-z][a-z0-9]*$
        minLength: 3
        maxLength: 63
        description: The name of the Analysis Services server. It must be a minimum
          of 3 characters, and a maximum of 63.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/AnalysisServicesServer'
    put:
      description: Provisions the specified Analysis Services server based on the
        configuration specified in the request.
      x-ms-examples:
        Create a server.:
          $ref: ./examples/createServer.json
      tags:
      - Servers
      operationId: Servers_Create
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: serverName
        in: path
        required: true
        type: string
        pattern: ^[a-z][a-z0-9]*$
        minLength: 3
        maxLength: 63
        description: The name of the Analysis Services server. It must be a minimum
          of 3 characters, and a maximum of 63.
      - name: serverParameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/AnalysisServicesServer'
        description: Contains the information used to provision the Analysis Services
          server.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK. The operation completed successfully.
          schema:
            $ref: '#/definitions/AnalysisServicesServer'
        201:
          description: InProgress. The operation is still completing.
          schema:
            $ref: '#/definitions/AnalysisServicesServer'
      x-ms-long-running-operation: true
    delete:
      description: Deletes the specified Analysis Services server.
      x-ms-examples:
        Delete a server.:
          $ref: ./examples/deleteServer.json
      tags:
      - Servers
      operationId: Servers_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: serverName
        in: path
        required: true
        type: string
        pattern: ^[a-z][a-z0-9]*$
        minLength: 3
        maxLength: 63
        description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK.
        204:
          description: No Content.
        202:
          description: Accepted.
      x-ms-long-running-operation: true
    patch:
      description: Updates the current state of the specified Analysis Services server.
      x-ms-examples:
        Update a server.:
          $ref: ./examples/updateServer.json
      tags:
      - Servers
      operationId: Servers_Update
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: serverName
        in: path
        required: true
        type: string
        pattern: ^[a-z][a-z0-9]*$
        minLength: 3
        maxLength: 63
        description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
      - name: serverUpdateParameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/AnalysisServicesServerUpdateParameters'
        description: Request object that contains the updated information for the
          server.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AnalysisServicesServer'
        202:
          description: Accepted
          schema:
            $ref: '#/definitions/AnalysisServicesServer'
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/suspend
  : post:
      description: Supends operation of the specified Analysis Services server instance.
      x-ms-examples:
        Suspend a server.:
          $ref: ./examples/suspendServer.json
      tags:
      - Servers
      operationId: Servers_Suspend
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: serverName
        in: path
        required: true
        type: string
        pattern: ^[a-z][a-z0-9]*$
        minLength: 3
        maxLength: 63
        description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK.
        202:
          description: Accepted.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/resume
  : post:
      description: Resumes operation of the specified Analysis Services server instance.
      x-ms-examples:
        Resume a server.:
          $ref: ./examples/resumeServer.json
      tags:
      - Servers
      operationId: Servers_Resume
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: serverName
        in: path
        required: true
        type: string
        pattern: ^[a-z][a-z0-9]*$
        minLength: 3
        maxLength: 63
        description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK
        202:
          description: Accepted
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers:
    get:
      description: Gets all the Analysis Services servers for the given resource group.
      x-ms-examples:
        List existing servers in the resource group.:
          $ref: ./examples/listServersInResourceGroup.json
      tags:
      - Servers
      operationId: Servers_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AnalysisServicesServers'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/servers:
    get:
      description: Lists all the Analysis Services servers for the given subscription.
      x-ms-examples:
        List existing servers under the subscription.:
          $ref: ./examples/listServers.json
      tags:
      - Servers
      operationId: Servers_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AnalysisServicesServers'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/skus:
    get:
      description: Lists eligible SKUs for Analysis Services resource provider.
      x-ms-examples:
        List eligible SKUs for a new server:
          $ref: ./examples/listSkusForNew.json
      operationId: Servers_ListSkusForNew
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SkuEnumerationForNewResourceResult'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/skus
  : get:
      description: Lists eligible SKUs for an Analysis Services resource.
      x-ms-examples:
        List eligible SKUs for an existing server:
          $ref: ./examples/listSkusForExisting.json
      tags:
      - Servers
      operationId: Servers_ListSkusForExisting
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: serverName
        in: path
        required: true
        type: string
        pattern: ^[a-z][a-z0-9]*$
        minLength: 3
        maxLength: 63
        description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SkuEnumerationForExistingResourceResult'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/listGatewayStatus
  : post:
      description: Return the gateway status of the specified Analysis Services server
        instance.
      x-ms-examples:
        Get details of a server:
          $ref: ./examples/listGatewayStatus.json
      tags:
      - Servers
      operationId: Servers_ListGatewayStatus
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: serverName
        in: path
        required: true
        type: string
        pattern: ^[a-z][a-z0-9]*$
        minLength: 3
        maxLength: 63
        description: The name of the Analysis Services server.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/GatewayListStatusLive'
        default:
          description: Default response as an error
          schema:
            $ref: '#/definitions/GatewayListStatusError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/dissociateGateway
  : post:
      description: Dissociates a Unified Gateway associated with the server.
      x-ms-examples:
        Get details of a server:
          $ref: ./examples/dissociateGateway.json
      tags:
      - Servers
      operationId: Servers_DissociateGateway
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: serverName
        in: path
        required: true
        type: string
        pattern: ^[a-z][a-z0-9]*$
        minLength: 3
        maxLength: 63
        description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK.
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/checkNameAvailability:
    post:
      x-ms-examples:
        Get details of a server:
          $ref: ./examples/checkNameAvailability.json
      tags:
      - Servers
      operationId: Servers_CheckNameAvailability
      description: Check the name availability in the target location.
      parameters:
      - name: location
        in: path
        required: true
        type: string
        description: The region name which the operation will lookup into.
      - name: serverParameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/CheckServerNameAvailabilityParameters'
        description: Contains the information used to provision the Analysis Services
          server.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/CheckServerNameAvailabilityResult'
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationresults/{operationId}:
    get:
      x-ms-examples:
        Get details of a server:
          $ref: ./examples/operationResults.json
      tags:
      - Servers
      operationId: Servers_ListOperationResults
      description: List the result of the specified operation.
      parameters:
      - name: location
        in: path
        required: true
        type: string
        description: The region name which the operation will lookup into.
      - name: operationId
        in: path
        required: true
        type: string
        description: The target operation Id.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK. The operation completed.
        202:
          description: Accepted. The operation is ongoing.
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationstatuses/{operationId}:
    get:
      x-ms-examples:
        Get details of a server:
          $ref: ./examples/operationStatuses.json
      tags:
      - Servers
      operationId: Servers_ListOperationStatuses
      description: List the status of operation.
      parameters:
      - name: location
        in: path
        required: true
        type: string
        description: The region name which the operation will lookup into.
      - name: operationId
        in: path
        required: true
        type: string
        description: The target operation Id.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK. The operation completed.
          schema:
            $ref: '#/definitions/OperationStatus'
        202:
          description: Accepted. The operation is ongoing.
          schema:
            $ref: '#/definitions/OperationStatus'
  /providers/Microsoft.AnalysisServices/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists all of the available consumption REST API operations.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":23:{s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  Consumption REST API operation.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Operation
  name: {provider}/{resource}/{operation}.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  object that represents the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Service
  provider: Microsoft.Consumption.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Resource
  on which the operation is performed: UsageDetail, etc.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Operation
  type: Read, write, delete, etc.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}}}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"Result
  of listing consumption operations. It contains a list of operations and a URL link
  to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:99:\"List
  of analysis services operations supported by the Microsoft.AnalysisServices resource
  provider.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:8:\"Resource\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"Represents
  an instance of an Analysis Services resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:61:\"An
  identifier that represents the Analysis Services resource.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:43:\"The
  name of the Analysis Services resource.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:43:\"The
  type of the Analysis Services resource.\";}s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Location
  of the Analysis Services resource.\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceSku\";s:11:\"description\";s:42:\"The
  SKU of the Analysis Services resource.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:63:\"Key-value
  pairs of additional resource provisioning properties.\";}}s:8:\"required\";a:2:{i:0;s:8:\"location\";i:1;s:3:\"sku\";}s:19:\"x-ms-azure-resource\";b:1;}s:22:\"AnalysisServicesServer\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Represents
  an instance of an Analysis Services resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:46:\"#/definitions/AnalysisServicesServerProperties\";s:11:\"description\";s:46:\"Properties
  of the provision operation request.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}}s:23:\"AnalysisServicesServers\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"An
  array of Analysis Services resources.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AnalysisServicesServer\";}s:11:\"description\";s:40:\"An
  array of Analysis Services resources.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:38:\"AnalysisServicesServerUpdateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Provision
  request specification\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceSku\";s:11:\"description\";s:42:\"The
  SKU of the Analysis Services resource.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:54:\"Key-value
  pairs of additional provisioning properties.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:53:\"#/definitions/AnalysisServicesServerMutableProperties\";s:11:\"description\";s:46:\"Properties
  of the provision operation request.\";}}}s:32:\"AnalysisServicesServerProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Properties
  of Analysis Services resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"state\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:12:{i:0;s:8:\"Deleting\";i:1;s:9:\"Succeeded\";i:2;s:6:\"Failed\";i:3;s:6:\"Paused\";i:4;s:9:\"Suspended\";i:5;s:12:\"Provisioning\";i:6;s:8:\"Updating\";i:7;s:10:\"Suspending\";i:8;s:7:\"Pausing\";i:9;s:8:\"Resuming\";i:10;s:9:\"Preparing\";i:11;s:7:\"Scaling\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:5:\"State\";s:13:\"modelAsString\";b:1;}s:8:\"readOnly\";b:1;s:11:\"description\";s:119:\"The
  current state of Analysis Services resource. The state is to indicate more states
  outside of resource provisioning.\";}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:12:{i:0;s:8:\"Deleting\";i:1;s:9:\"Succeeded\";i:2;s:6:\"Failed\";i:3;s:6:\"Paused\";i:4;s:9:\"Suspended\";i:5;s:12:\"Provisioning\";i:6;s:8:\"Updating\";i:7;s:10:\"Suspending\";i:8;s:7:\"Pausing\";i:9;s:8:\"Resuming\";i:10;s:9:\"Preparing\";i:11;s:7:\"Scaling\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"ProvisioningState\";s:13:\"modelAsString\";b:1;}s:8:\"readOnly\";b:1;s:11:\"description\";s:130:\"The
  current deployment state of Analysis Services resource. The provisioningState is
  to indicate states for resource provisioning.\";}s:14:\"serverFullName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:48:\"The
  full name of the Analysis Services resource.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/AnalysisServicesServerMutableProperties\";}}}s:11:\"ResourceSku\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"Represents
  the SKU name and Azure pricing tier for Analysis Services resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Name
  of the SKU level.\";}s:4:\"tier\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:11:\"Development\";i:1;s:5:\"Basic\";i:2;s:8:\"Standard\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"SkuTier\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:60:\"The
  name of the Azure pricing tier to which the SKU applies.\";}s:8:\"capacity\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:8;s:7:\"default\";i:1;s:11:\"description\";s:52:\"The
  number of instances in the read only query pool.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:39:\"AnalysisServicesServerMutableProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"An
  object that represents a set of mutable Analysis Services resource properties.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"asAdministrators\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ServerAdministrators\";s:11:\"description\";s:40:\"A
  collection of AS server administrators\";}s:22:\"backupBlobContainerUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  SAS container URI to the backup container.\";}s:14:\"gatewayDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GatewayDetails\";s:11:\"description\";s:49:\"The
  gateway details configured for the AS server.\";}s:20:\"ipV4FirewallSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/IPv4FirewallSettings\";s:11:\"description\";s:40:\"The
  firewall settings for the AS server.\";}s:23:\"querypoolConnectionMode\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:372:\"How
  the read-write server's participation in the query pool is controlled.<br/>It can
  have the following values: <ul><li>readOnly - indicates that the read-write server
  is intended not to participate in query operations</li><li>all - indicates that
  the read-write server can participate in query operations</li></ul>Specifying readOnly
  when capacity is 1 results in error.\";s:4:\"enum\";a:2:{i:0;s:3:\"All\";i:1;s:8:\"ReadOnly\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:14:\"ConnectionMode\";}s:7:\"default\";s:3:\"All\";}}}s:20:\"ServerAdministrators\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"An
  array of administrator user identities.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"members\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  UPN of the user. For example: johnsmith@contoso.com.\";}s:11:\"description\";s:42:\"An
  array of administrator user identities.\";}}}s:20:\"IPv4FirewallSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"An
  array of firewall rules.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"firewallRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IPv4FirewallRule\";s:11:\"description\";s:29:\"The
  content of firewall rule.\";}s:11:\"description\";s:27:\"An array of firewall rules.\";}s:20:\"enablePowerBIService\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  indicator of enableing PBI service.\";}}}s:16:\"IPv4FirewallRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  detail of firewall rule.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"firewallRuleName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  rule name.\";}s:10:\"rangeStart\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  start range of IPv4.\";}s:8:\"rangeEnd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  end range of IPv4.\";}}}s:14:\"GatewayDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  gateway details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"gatewayResourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Gateway
  resource to be associated with the server.\";}s:15:\"gatewayObjectId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:68:\"Gateway
  object id from in the DMTS cluster for the gateway resource.\";}s:14:\"dmtsClusterUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:24:\"Uri
  of the DMTS cluster.\";}}}s:21:\"GatewayListStatusLive\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Status
  of gateway is live.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:4:\"Live\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Status\";s:13:\"modelAsString\";b:0;}s:11:\"description\";s:29:\"Live
  message of list gateway.\";}}}s:22:\"GatewayListStatusError\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Status
  of gateway is error.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/GatewayError\";s:11:\"description\";s:33:\"Error
  of the list gateway status.\";}}}s:12:\"GatewayError\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Detail
  of gateway errors.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Error
  code of list gateway.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Error
  message of list gateway.\";}}}s:37:\"CheckServerNameAvailabilityParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Details
  of server name request body.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:16:\"^[a-z][a-z0-9]*$\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:63;s:11:\"description\";s:31:\"Name
  for checking availability.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:34:\"Microsoft.AnalysisServices/servers\";s:11:\"description\";s:45:\"The
  resource type of azure analysis services.\";}}}s:33:\"CheckServerNameAvailabilityResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  checking result of server name availibility.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"nameAvailable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:42:\"Indicator
  of available of the server name.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  reason of unavailability.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  detailed message of the request unavailability.\";}}}s:15:\"OperationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  status of operation.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  operation Id.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  operation name.\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  start time of the operation.\";}s:7:\"endTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  end time of the operation.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  status of the operation.\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:41:\"The
  error detail of the operation if any.\";s:4:\"$ref\";s:27:\"#/definitions/ErrorResponse\";}}}s:34:\"SkuEnumerationForNewResourceResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"An
  object that represents enumerating SKUs for new resources.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceSku\";}s:11:\"description\";s:51:\"The
  collection of available SKUs for new resources.\";}}}s:39:\"SkuEnumerationForExistingResourceResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"An
  object that represents enumerating SKUs for existing resources.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/SkuDetailsForExistingResource\";}s:11:\"description\";s:56:\"The
  collection of available SKUs for existing resources.\";}}}s:29:\"SkuDetailsForExistingResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"An
  object that represents SKU details for existing resources.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceSku\";s:11:\"description\";s:46:\"The
  SKU in SKU details for existing resources.\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}}}"
...
