---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2016-06-01\";s:5:\"title\";s:22:\"RecoveryServicesClient\";s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:20:\"internalConstructors\";b:0;}}"
host: management.azure.com
paths:
  /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/operations:
    get:
      tags:
      - Operations
      description: Returns the list of available operations.
      operationId: Operations_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      responses:
        200:
          description: OK
          schema:
            $ref: ./vaults.json#/definitions/ClientDiscoveryResponse
      deprecated: false
      x-ms-pageable:
        nextLinkName: NextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/replicationUsages
  : get:
      tags:
      - ReplicationUsages
      description: Fetches the replication usages of the vault.
      operationId: ReplicationUsages_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ReplicationUsageList'
      deprecated: false
      x-ms-pageable:
        nextLinkName: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:11:\"JobsSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Summary
  of the replication job data for this vault.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"failedJobs\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Count
  of failed jobs.\";s:4:\"type\";s:7:\"integer\";}s:13:\"suspendedJobs\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Count
  of suspended jobs.\";s:4:\"type\";s:7:\"integer\";}s:14:\"inProgressJobs\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Count
  of in-progress jobs.\";s:4:\"type\";s:7:\"integer\";}}}s:17:\"MonitoringSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Summary
  of the replication monitoring data for this vault.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"unHealthyVmCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Count
  of unhealthy VMs.\";s:4:\"type\";s:7:\"integer\";}s:22:\"unHealthyProviderCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Count
  of unhealthy replication providers.\";s:4:\"type\";s:7:\"integer\";}s:11:\"eventsCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Count
  of all critical warnings.\";s:4:\"type\";s:7:\"integer\";}s:23:\"deprecatedProviderCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Count
  of all deprecated recovery service providers.\";s:4:\"type\";s:7:\"integer\";}s:22:\"supportedProviderCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Count
  of all the supported recovery service providers.\";s:4:\"type\";s:7:\"integer\";}s:24:\"unsupportedProviderCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Count
  of all the unsupported recovery service providers.\";s:4:\"type\";s:7:\"integer\";}}}s:16:\"ReplicationUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Replication
  usages of a vault.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"monitoringSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MonitoringSummary\";s:11:\"description\";s:58:\"Summary
  of the replication monitoring data for this vault.\";}s:11:\"jobsSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/JobsSummary\";s:11:\"description\";s:52:\"Summary
  of the replication jobs data for this vault.\";}s:18:\"protectedItemCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Number
  of replication protected items for this vault.\";s:4:\"type\";s:7:\"integer\";}s:17:\"recoveryPlanCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Number
  of replication recovery plans for this vault.\";s:4:\"type\";s:7:\"integer\";}s:22:\"registeredServersCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Number
  of servers registered to this vault.\";s:4:\"type\";s:7:\"integer\";}s:32:\"recoveryServicesProviderAuthType\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  authentication type of recovery service providers in the vault.\";s:4:\"type\";s:7:\"integer\";}}}s:20:\"ReplicationUsageList\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Replication
  usages for vault.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  list of replication usages for the given vault.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReplicationUsage\";}}}}}"
...
