---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:33:\"Azure Log Analytics
  API reference\";s:5:\"title\";s:19:\"Azure Log Analytics\";s:7:\"version\";s:18:\"2015-11-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:200:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2015-11-01-preview/OperationalInsights.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:39:\"operationalinsights-OperationalInsights\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:45:\"azure_operationalinsights_operationalinsights\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":24:{s:10:\"DataSource\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:32:\"Datasources
  under OMS Workspace.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"eTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  ETag of the data source.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DataSourceKind\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:93:\"The
  data source properties in raw json format, each kind of data source have it's own
  schema.\";}}s:8:\"required\";a:2:{i:0;s:4:\"kind\";i:1;s:10:\"properties\";}s:19:\"x-ms-azure-resource\";b:1;}s:16:\"DataSourceFilter\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"DataSource
  filter. Right now, only filter by kind is supported.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DataSourceKind\";}}}s:14:\"DataSourceKind\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"The
  kind of the DataSource.\";s:4:\"enum\";a:15:{i:0;s:16:\"AzureActivityLog\";i:1;s:18:\"ChangeTrackingPath\";i:2;s:25:\"ChangeTrackingDefaultPath\";i:3;s:29:\"ChangeTrackingDefaultRegistry\";i:4;s:28:\"ChangeTrackingCustomRegistry\";i:5;s:9:\"CustomLog\";i:6;s:19:\"CustomLogCollection\";i:7;s:17:\"GenericDataSource\";i:8;s:7:\"IISLogs\";i:9;s:22:\"LinuxPerformanceObject\";i:10;s:26:\"LinuxPerformanceCollection\";i:11;s:11:\"LinuxSyslog\";i:12;s:21:\"LinuxSyslogCollection\";i:13;s:12:\"WindowsEvent\";i:14;s:25:\"WindowsPerformanceCounter\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:14:\"DataSourceKind\";}}s:20:\"DataSourceListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  list data source by workspace operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  link (url) to the next page of datasources.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  list of datasources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DataSource\";}s:4:\"type\";s:5:\"array\";}}}s:16:\"IntelligencePack\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Intelligence
  Pack containing a string name and boolean indicating if it's enabled.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  display name of the intelligence pack.\";s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  enabled boolean for the intelligence pack.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  name of the intelligence pack.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"LinkedService\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:48:\"The
  top level Linked service resource container.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/LinkedServiceProperties\";s:11:\"description\";s:37:\"The
  properties of the linked service.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:19:\"x-ms-azure-resource\";b:1;}s:23:\"LinkedServiceListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  list linked service operation response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Gets
  or sets a list of linked service instances.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LinkedService\";}s:4:\"type\";s:5:\"array\";}}}s:23:\"LinkedServiceProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Linked
  service properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  resource id of the resource that will be linked to the workspace.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"resourceId\";}}s:15:\"ManagementGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"A
  management group that is connected to a workspace\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/ManagementGroupProperties\";s:11:\"description\";s:39:\"The
  properties of the management group.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:25:\"ManagementGroupProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Management
  group properties.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  datetime that the management group was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"dataReceived\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  last datetime that the management group received data.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  unique ID of the management group.\";s:4:\"type\";s:6:\"string\";}s:9:\"isGateway\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Gets
  or sets a value indicating whether the management group is a gateway.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  name of the management group.\";s:4:\"type\";s:6:\"string\";}s:11:\"serverCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  number of servers connected to the management group.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  SKU of System Center that is managing the management group.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  version of System Center that is managing the management group.\";s:4:\"type\";s:6:\"string\";}}}s:10:\"MetricName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of a metric.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  localized name of the metric.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  system name of the metric.\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Object\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"JSON
  object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Supported
  operation of OperationalInsights resource provider.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Display
  metadata associated with the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Type
  of operation: get, read, delete, etc.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Service
  provider: Microsoft OperationsManagement.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Resource
  on which the operation is performed etc.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Operation
  name: {provider}/{resource}/{operation}\";s:4:\"type\";s:6:\"string\";}}}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Result
  of the request to list solution operations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"List
  of solution operations supported by the OperationsManagement resource provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}}s:13:\"ProxyResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Common
  properties of proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  resource definition.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Resource
  Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:10:\"SharedKeys\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  shared keys for a workspace.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"primarySharedKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  primary shared key of a workspace.\";s:4:\"type\";s:6:\"string\";}s:18:\"secondarySharedKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  secondary shared key of a workspace.\";s:4:\"type\";s:6:\"string\";}}}s:3:\"Sku\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  SKU (tier) of a workspace.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  name of the SKU.\";s:4:\"enum\";a:7:{i:0;s:4:\"Free\";i:1;s:8:\"Standard\";i:2;s:7:\"Premium\";i:3;s:9:\"Unlimited\";i:4;s:7:\"PerNode\";i:5;s:9:\"PerGB2018\";i:6;s:10:\"Standalone\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:11:\"SkuNameEnum\";}}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:11:\"UsageMetric\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"A
  metric describing the usage of a resource.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"currentValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  current value of the metric.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  quota limit for the metric.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:23:\"The
  name of the metric.\";}s:13:\"nextResetTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  time that the metric's value will reset.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"quotaPeriod\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  quota period that determines the length of time between value resets.\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  units used for the metric.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"Workspace\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:43:\"The
  top level Workspace resource container.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"eTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  ETag of the workspace.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/WorkspaceProperties\";s:11:\"description\";s:21:\"Workspace
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:19:\"x-ms-azure-resource\";b:1;}s:35:\"WorkspaceListManagementGroupsResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  list workspace managmement groups operation response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Gets
  or sets a list of management groups attached to the workspace.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ManagementGroup\";}s:4:\"type\";s:5:\"array\";}}}s:19:\"WorkspaceListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  list workspaces operation response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"A
  list of workspaces.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Workspace\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"WorkspaceListUsagesResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  list workspace usages operation response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Gets
  or sets a list of usage metrics for a workspace.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UsageMetric\";}s:4:\"type\";s:5:\"array\";}}}s:19:\"WorkspaceProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Workspace
  properties.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"customerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"The
  ID associated with the workspace.  Setting this value at creation time allows the
  workspace being created to be linked to an existing workspace.\";s:4:\"type\";s:6:\"string\";}s:9:\"portalUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"The
  URL of the Operational Insights portal for this workspace.  This value is set on
  the service side and read-only on the client side.\";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  provisioning state of the workspace.\";s:4:\"enum\";a:6:{i:0;s:8:\"Creating\";i:1;s:9:\"Succeeded\";i:2;s:6:\"Failed\";i:3;s:8:\"Canceled\";i:4;s:8:\"Deleting\";i:5;s:19:\"ProvisioningAccount\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"EntityStatus\";}}s:15:\"retentionInDays\";O:8:\"stdClass\":5:{s:11:\"description\";s:142:\"The
  workspace data retention in days. -1 means Unlimited retention for the Unlimited
  Sku. 730 days is the maximum allowed for all other Skus. \";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:730;s:7:\"minimum\";i:-1;s:4:\"type\";s:7:\"integer\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:25:\"The
  SKU of the workspace.\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:262:\"The
  source of the workspace.  Source defines where the workspace was created. 'Azure'
  implies it was created in Azure.  'External' implies it was created via the Operational
  Insights Portal. This value is set on the service side and read-only on the client
  side.\";s:4:\"type\";s:6:\"string\";}}}}"
...
