---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2018-12-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ddosProtectionPlans/{ddosProtectionPlanName}
  : delete:
      tags:
      - DdosProtectionPlans
      operationId: DdosProtectionPlans_Delete
      description: Deletes the specified DDoS protection plan.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: ddosProtectionPlanName
        in: path
        required: true
        type: string
        description: The name of the DDoS protection plan.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: Request successful. Resource does not exist.
        202:
          description: Accepted and the operation will complete asynchronously.
        200:
          description: Delete successful.
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete DDoS protection plan:
          $ref: ./examples/DdosProtectionPlanDelete.json
    get:
      tags:
      - DdosProtectionPlans
      operationId: DdosProtectionPlans_Get
      description: Gets information about the specified DDoS protection plan.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: ddosProtectionPlanName
        in: path
        required: true
        type: string
        description: The name of the DDoS protection plan.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns the specified DDoS
            protection plan resource.
          schema:
            $ref: '#/definitions/DdosProtectionPlan'
      x-ms-examples:
        Get DDoS protection plan:
          $ref: ./examples/DdosProtectionPlanGet.json
    put:
      tags:
      - DdosProtectionPlans
      operationId: DdosProtectionPlans_CreateOrUpdate
      description: Creates or updates a DDoS protection plan.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: ddosProtectionPlanName
        in: path
        required: true
        type: string
        description: The name of the DDoS protection plan.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/DdosProtectionPlan'
        description: Parameters supplied to the create or update operation.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: Create successful. The operation returns the resulting DDoS
            protection plan resource.
          schema:
            $ref: '#/definitions/DdosProtectionPlan'
        200:
          description: Update successful. The operation returns the resulting DDoS
            protection plan resource.
          schema:
            $ref: '#/definitions/DdosProtectionPlan'
      x-ms-long-running-operation: true
      x-ms-examples:
        Create DDoS protection plan:
          $ref: ./examples/DdosProtectionPlanCreate.json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/ddosProtectionPlans:
    get:
      tags:
      - DdosProtectionPlans
      operationId: DdosProtectionPlans_List
      description: Gets all DDoS protection plans in a subscription.
      parameters:
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of DDoS protection
            plan resources.
          schema:
            $ref: '#/definitions/DdosProtectionPlanListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List all DDoS protection plans:
          $ref: ./examples/DdosProtectionPlanListAll.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ddosProtectionPlans:
    get:
      tags:
      - DdosProtectionPlans
      operationId: DdosProtectionPlans_ListByResourceGroup
      description: Gets all the DDoS protection plans in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of DDoS protection
            plan resources.
          schema:
            $ref: '#/definitions/DdosProtectionPlanListResult'
      x-ms-examples:
        List DDoS protection plans in resource group:
          $ref: ./examples/DdosProtectionPlanList.json
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:18:\"DdosProtectionPlan\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"A
  DDoS protection plan in a resource group.\";s:19:\"x-ms-azure-resource\";b:1;s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  ID.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  type.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Resource
  location.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:48:\"#/definitions/DdosProtectionPlanPropertiesFormat\";s:11:\"description\";s:39:\"Properties
  of the DDoS protection plan.\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}}s:34:\"DdosProtectionPlanPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"resourceGuid\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:200:\"The
  resource GUID property of the DDoS protection plan resource. It uniquely identifies
  the resource, even if the user changes its name or migrate the resource across subscriptions
  or resource groups.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  provisioning state of the DDoS protection plan resource. Possible values are: 'Succeeded',
  'Updating', 'Deleting', and 'Failed'.\";}s:15:\"virtualNetworks\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}s:11:\"description\";s:103:\"The
  list of virtual networks associated with the DDoS protection plan resource. This
  list is read-only.\";}}s:11:\"description\";s:32:\"DDoS protection plan properties.\";}s:28:\"DdosProtectionPlanListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DdosProtectionPlan\";}s:11:\"description\";s:32:\"A
  list of DDoS protection plans.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:32:\"A list of DDoS
  protection plans.\";}}"
...
