---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:312:\"Use these REST
  APIs for managing OAuth2 servers configuration in your Azure API Management deployment.
  OAuth 2.0 can be used to authorize developer accounts for Azure API Management.
  For more information refer to [How to OAuth2](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-oauth2).\";s:5:\"title\";s:19:\"ApiManagementClient\";s:7:\"version\";s:10:\"2018-01-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:185:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/apimauthorizationservers.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:38:\"apimanagement-apimauthorizationservers\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:44:\"azure_apimanagement_apimauthorizationservers\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/authorizationServers
  : get:
      description: Lists a collection of authorization servers defined within a service
        instance.
      operationId: AuthorizationServer_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: '| Field | Supported operators    | Supported functions                         |n|-------|------------------------|---------------------------------------------|n|
          id    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith
          |n| name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |'
        in: query
        name: $filter
        required: false
        type: string
      - description: Number of records to return.
        format: int32
        in: query
        minimum: 1
        name: $top
        required: false
        type: integer
        x-ms-parameter-location: method
      - description: Number of records to skip.
        format: int32
        in: query
        minimum: 0
        name: $skip
        required: false
        type: integer
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: A Collection of the Authorization Server entities for the specified
            API Management service instance.
          schema:
            $ref: '#/definitions/AuthorizationServerCollection'
      tags:
      - AuthorizationServers
      x-ms-examples:
        ApiManagementListAuthorizationServers:
          parameters:
            api-version: "2018-01-01"
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/authorizationServers/newauthServer
                  name: newauthServer
                  properties:
                    authorizationEndpoint: https://www.contoso.com/oauth2/auth
                    authorizationMethods:
                    - GET
                    bearerTokenSendingMethods:
                    - authorizationHeader
                    clientId: "1"
                    clientRegistrationEndpoint: https://www.contoso.com/apps
                    clientSecret: "2"
                    defaultScope: read write
                    description: test server
                    displayName: test2
                    grantTypes:
                    - authorizationCode
                    - implicit
                    resourceOwnerPassword: pwd
                    resourceOwnerUsername: un
                    supportState: true
                    tokenEndpoint: https://www.contoso.com/oauth2/token
                  type: Microsoft.ApiManagement/service/authorizationServers
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/authorizationServers/newauthServer2
                  name: newauthServer2
                  properties:
                    authorizationEndpoint: https://www.contoso.com/oauth2/auth
                    authorizationMethods:
                    - GET
                    bearerTokenSendingMethods:
                    - authorizationHeader
                    clientAuthenticationMethod:
                    - Basic
                    clientId: "1"
                    clientRegistrationEndpoint: https://www.contoso.com/apps
                    clientSecret: "2"
                    defaultScope: read write
                    description: test server
                    displayName: test3
                    grantTypes:
                    - authorizationCode
                    - implicit
                    resourceOwnerPassword: pwd
                    resourceOwnerUsername: un
                    supportState: true
                    tokenEndpoint: https://www.contoso.com/oauth2/token
                  type: Microsoft.ApiManagement/service/authorizationServers
      x-ms-odata: '#/definitions/AuthorizationServerContract'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/authorizationServers/{authsid}
  : delete:
      description: Deletes specific authorization server instance.
      operationId: AuthorizationServer_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/AuthenticationServerIdParameter'
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: The authorization server settings were successfully deleted.
        204:
          description: The authorization server settings were successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - AuthorizationServers
      x-ms-examples:
        ApiManagementDeleteAuthorizationServer:
          parameters:
            If-Match: '*'
            api-version: "2018-01-01"
            authsid: newauthServer2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200: []
            204: []
    get:
      description: Gets the details of the authorization server specified by its identifier.
      operationId: AuthorizationServer_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/AuthenticationServerIdParameter'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: Gets the details of the specified authorization server.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/AuthorizationServerContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - AuthorizationServers
      x-ms-examples:
        ApiManagementGetAuthorizationServer:
          parameters:
            api-version: "2018-01-01"
            authsid: newauthServer2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/authorizationServers/newauthServer2
                name: newauthServer2
                properties:
                  authorizationEndpoint: https://www.contoso.com/oauth2/auth
                  authorizationMethods:
                  - GET
                  bearerTokenSendingMethods:
                  - authorizationHeader
                  clientAuthenticationMethod:
                  - Basic
                  clientId: "1"
                  clientRegistrationEndpoint: https://www.contoso.com/apps
                  clientSecret: "2"
                  defaultScope: read write
                  description: test server
                  displayName: test3
                  grantTypes:
                  - authorizationCode
                  - implicit
                  resourceOwnerPassword: pwd
                  resourceOwnerUsername: un
                  supportState: true
                  tokenEndpoint: https://www.contoso.com/oauth2/token
                type: Microsoft.ApiManagement/service/authorizationServers
    head:
      description: Gets the entity state (Etag) version of the authorizationServer
        specified by its identifier.
      operationId: AuthorizationServer_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/AuthenticationServerIdParameter'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: Specified authorization server entity exists and current entity
            state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - AuthorizationServers
      x-ms-examples:
        ApiManagementHeadAuthorizationServer:
          parameters:
            api-version: "2018-01-01"
            authsid: newauthServer2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              headers:
                etag: AAAAAAAAAAa=
    patch:
      description: Updates the details of the authorization server specified by its
        identifier.
      operationId: AuthorizationServer_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/AuthenticationServerIdParameter'
      - description: OAuth2 Server settings Update parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/AuthorizationServerUpdateContract'
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        204:
          description: The authorization server settings were successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - AuthorizationServers
      x-ms-examples:
        ApiManagementUpdateAuthorizationServer:
          parameters:
            If-Match: '*'
            api-version: "2018-01-01"
            authsid: newauthServer
            parameters:
              properties:
                clientId: update
                clientSecret: updated
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            204: []
    put:
      description: Creates new authorization server or updates an existing authorization
        server.
      operationId: AuthorizationServer_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/AuthenticationServerIdParameter'
      - description: Create or update parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/AuthorizationServerContract'
      - description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        in: header
        name: If-Match
        required: false
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: Authorization server is already registered.
          schema:
            $ref: '#/definitions/AuthorizationServerContract'
        201:
          description: Authorization server was successfully registered.
          schema:
            $ref: '#/definitions/AuthorizationServerContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - AuthorizationServers
      x-ms-examples:
        ApiManagementCreateAuthorizationServer:
          parameters:
            api-version: "2018-01-01"
            authsid: newauthServer
            parameters:
              properties:
                authorizationEndpoint: https://www.contoso.com/oauth2/auth
                authorizationMethods:
                - GET
                bearerTokenSendingMethods:
                - authorizationHeader
                clientId: "1"
                clientRegistrationEndpoint: https://www.contoso.com/apps
                clientSecret: "2"
                defaultScope: read write
                description: test server
                displayName: test2
                grantTypes:
                - authorizationCode
                - implicit
                resourceOwnerPassword: pwd
                resourceOwnerUsername: un
                supportState: true
                tokenEndpoint: https://www.contoso.com/oauth2/token
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/authorizationServers/newauthServer
                name: newauthServer
                properties:
                  authorizationEndpoint: https://www.contoso.com/oauth2/auth
                  authorizationMethods:
                  - GET
                  bearerTokenSendingMethods:
                  - authorizationHeader
                  clientId: "1"
                  clientRegistrationEndpoint: https://www.contoso.com/apps
                  clientSecret: "2"
                  defaultScope: read write
                  description: test server
                  displayName: test2
                  grantTypes:
                  - authorizationCode
                  - implicit
                  resourceOwnerPassword: pwd
                  resourceOwnerUsername: un
                  supportState: true
                  tokenEndpoint: https://www.contoso.com/oauth2/token
                type: Microsoft.ApiManagement/service/authorizationServers
            201:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/authorizationServers/newauthServer
                name: newauthServer
                properties:
                  authorizationEndpoint: https://www.contoso.com/oauth2/auth
                  authorizationMethods:
                  - GET
                  bearerTokenSendingMethods:
                  - authorizationHeader
                  clientId: "1"
                  clientRegistrationEndpoint: https://www.contoso.com/apps
                  clientSecret: "2"
                  defaultScope: read write
                  description: test server
                  displayName: test2
                  grantTypes:
                  - authorizationCode
                  - implicit
                  resourceOwnerPassword: pwd
                  resourceOwnerUsername: un
                  supportState: true
                  tokenEndpoint: https://www.contoso.com/oauth2/token
                type: Microsoft.ApiManagement/service/authorizationServers
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:29:\"AuthorizationServerCollection\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Paged
  OAuth2 Authorization Servers list representation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Total
  record count number across all pages.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Next
  page link if any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Page
  values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/AuthorizationServerContract\";}s:4:\"type\";s:5:\"array\";}}}s:27:\"AuthorizationServerContract\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  Resource definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Resource
  type for API Management resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:45:\"External
  OAuth authorization server settings.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:51:\"#/definitions/AuthorizationServerContractProperties\";s:11:\"description\";s:63:\"Properties
  of the External OAuth authorization server Contract.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:41:\"AuthorizationServerContractBaseProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"External
  OAuth authorization server Update settings contract.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:20:\"authorizationMethods\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"HTTP
  verbs supported by the authorization endpoint. GET must be always present. POST
  is optional.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:8:{i:0;s:4:\"HEAD\";i:1;s:7:\"OPTIONS\";i:2;s:5:\"TRACE\";i:3;s:3:\"GET\";i:4;s:4:\"POST\";i:5;s:3:\"PUT\";i:6;s:5:\"PATCH\";i:7;s:6:\"DELETE\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"AuthorizationMethod\";}}s:4:\"type\";s:5:\"array\";}s:25:\"bearerTokenSendingMethods\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Specifies
  the mechanism by which access token is passed to the API. \";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:44:\"http://tools.ietf.org/html/rfc6749#section-4\";}s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:2:{i:0;s:19:\"authorizationHeader\";i:1;s:5:\"query\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:24:\"BearerTokenSendingMethod\";}}s:4:\"type\";s:5:\"array\";}s:26:\"clientAuthenticationMethod\";O:8:\"stdClass\":3:{s:11:\"description\";s:273:\"Method
  of authentication supported by the token endpoint of this authorization server.
  Possible values are Basic and/or Body. When Body is specified, client credentials
  and other parameters are passed within the request body in the application/x-www-form-urlencoded
  format.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:2:{i:0;s:5:\"Basic\";i:1;s:4:\"Body\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:26:\"ClientAuthenticationMethod\";s:6:\"values\";a:2:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Basic
  Client Authentication method.\";s:5:\"value\";s:5:\"Basic\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Body
  based Authentication method.\";s:5:\"value\";s:4:\"Body\";}}}}s:4:\"type\";s:5:\"array\";}s:12:\"clientSecret\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Client
  or app secret registered with this authorization server.\";s:4:\"type\";s:6:\"string\";}s:12:\"defaultScope\";O:8:\"stdClass\":3:{s:11:\"description\";s:174:\"Access
  token scope that is going to be requested by default. Can be overridden at the API
  level. Should be provided in the form of a string containing space-delimited values.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:46:\"http://tools.ietf.org/html/rfc6749#section-3.3\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Description
  of the authorization server. Can contain HTML formatting tags.\";s:4:\"type\";s:6:\"string\";}s:21:\"resourceOwnerPassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"Can
  be optionally specified when resource owner password grant type is supported by
  this authorization server. Default resource owner password.\";s:4:\"type\";s:6:\"string\";}s:21:\"resourceOwnerUsername\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"Can
  be optionally specified when resource owner password grant type is supported by
  this authorization server. Default resource owner username.\";s:4:\"type\";s:6:\"string\";}s:12:\"supportState\";O:8:\"stdClass\":3:{s:11:\"description\";s:165:\"If
  true, authorization server will include state parameter from the authorization request
  to its response. Client may use state parameter to raise protocol security.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:46:\"http://tools.ietf.org/html/rfc6749#section-3.1\";}s:4:\"type\";s:7:\"boolean\";}s:19:\"tokenBodyParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:210:\"Additional
  parameters required by the token endpoint of this authorization server represented
  as an array of JSON objects with name and value string properties, i.e. {\"name\"
  : \"name value\", \"value\": \"a value\"}.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/TokenBodyParameterContract\";}s:4:\"type\";s:5:\"array\";}s:13:\"tokenEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"OAuth
  token endpoint. Contains absolute URI to entity being referenced.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:46:\"http://tools.ietf.org/html/rfc6749#section-3.1\";}s:4:\"type\";s:6:\"string\";}}}s:37:\"AuthorizationServerContractProperties\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/AuthorizationServerContractBaseProperties\";}}s:11:\"description\";s:56:\"External
  OAuth authorization server settings Properties.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:21:\"authorizationEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"OAuth
  authorization endpoint. See http://tools.ietf.org/html/rfc6749#section-3.2.\";s:4:\"type\";s:6:\"string\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Client
  or app id registered with this authorization server.\";s:4:\"type\";s:6:\"string\";}s:26:\"clientRegistrationEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"Optional
  reference to a page where client or app registration for this authorization server
  is performed. Contains absolute URL to entity being referenced.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"User-friendly
  authorization server name.\";s:9:\"maxLength\";i:50;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"grantTypes\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"Form
  of an authorization grant, which the client uses to request the access token.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:44:\"http://tools.ietf.org/html/rfc6749#section-4\";}s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:17:\"authorizationCode\";i:1;s:8:\"implicit\";i:2;s:21:\"resourceOwnerPassword\";i:3;s:17:\"clientCredentials\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"GrantType\";s:6:\"values\";a:4:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Authorization
  Code Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.1.\";s:5:\"value\";s:17:\"authorizationCode\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Implicit
  Code Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.2.\";s:5:\"value\";s:8:\"implicit\";}i:2;O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Resource
  Owner Password Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.3.\";s:5:\"value\";s:21:\"resourceOwnerPassword\";}i:3;O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Client
  Credentials Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.4.\";s:5:\"value\";s:17:\"clientCredentials\";}}}}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:5:{i:0;s:11:\"displayName\";i:1;s:26:\"clientRegistrationEndpoint\";i:2;s:21:\"authorizationEndpoint\";i:3;s:8:\"clientId\";i:4;s:10:\"grantTypes\";}}s:33:\"AuthorizationServerUpdateContract\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  Resource definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Resource
  type for API Management resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:45:\"External
  OAuth authorization server settings.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:57:\"#/definitions/AuthorizationServerUpdateContractProperties\";s:11:\"description\";s:70:\"Properties
  of the External OAuth authorization server update Contract.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:43:\"AuthorizationServerUpdateContractProperties\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/AuthorizationServerContractBaseProperties\";}}s:11:\"description\";s:61:\"External
  OAuth authorization server Update settings contract.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:21:\"authorizationEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"OAuth
  authorization endpoint. See http://tools.ietf.org/html/rfc6749#section-3.2.\";s:4:\"type\";s:6:\"string\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Client
  or app id registered with this authorization server.\";s:4:\"type\";s:6:\"string\";}s:26:\"clientRegistrationEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"Optional
  reference to a page where client or app registration for this authorization server
  is performed. Contains absolute URL to entity being referenced.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"User-friendly
  authorization server name.\";s:9:\"maxLength\";i:50;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"grantTypes\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"Form
  of an authorization grant, which the client uses to request the access token.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:44:\"http://tools.ietf.org/html/rfc6749#section-4\";}s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:17:\"authorizationCode\";i:1;s:8:\"implicit\";i:2;s:21:\"resourceOwnerPassword\";i:3;s:17:\"clientCredentials\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"GrantType\";s:6:\"values\";a:4:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Authorization
  Code Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.1.\";s:5:\"value\";s:17:\"authorizationCode\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Implicit
  Code Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.2.\";s:5:\"value\";s:8:\"implicit\";}i:2;O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Resource
  Owner Password Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.3.\";s:5:\"value\";s:21:\"resourceOwnerPassword\";}i:3;O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Client
  Credentials Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.4.\";s:5:\"value\";s:17:\"clientCredentials\";}}}}s:4:\"type\";s:5:\"array\";}}}s:26:\"TokenBodyParameterContract\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"OAuth
  acquire token request body parameter (www-url-form-encoded).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"body
  parameter name.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"body
  parameter value.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"value\";}}}"
...
