---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:1206:\"Use these REST
  APIs for performing operations on Group entity in your Azure API Management deployment.
  Groups are used to manage the visibility of products to developers. Each API Management
  service instance comes with the following immutable system groups whose membership
  is automatically managed by API Management.  - **Administrators** - Azure subscription
  administrators are members of this group. - **Developers** - Authenticated developer
  portal users fall into this group. - **Guests** - Unauthenticated developer portal
  users are placed into this group. In addition to these system groups, administrators
  can create custom groups or [leverage external groups in associated Azure Active
  Directory tenants](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad#how-to-add-an-external-azure-active-directory-group).
  Custom and external groups can be used alongside system groups in giving developers
  visibility and access to API products. For example, you could create one custom
  group for developers affiliated with a specific partner organization and allow them
  access to the APIs from a product containing relevant APIs only. A user can be a
  member of more than one group.\";s:5:\"title\";s:19:\"ApiManagementClient\";s:7:\"version\";s:10:\"2016-10-10\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:170:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimgroups.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:0;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:24:\"apimanagement-apimgroups\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups
  : get:
      description: Lists a collection of groups defined within a service instance.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/dn776329.aspx
      operationId: Groups_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: '| Field       | Supported operators    | Supported functions                         |n|-------------|------------------------|---------------------------------------------|n|
          id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |n| name        | ge, le, eq, ne, gt, lt | substringof, contains,
          startswith, endswith |n| description | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |n| type        | eq, ne                 |
          N/A                                         |'
        in: query
        name: $filter
        required: false
        type: string
      - description: Number of records to return.
        format: int32
        in: query
        minimum: 1
        name: $top
        required: false
        type: integer
        x-ms-parameter-location: method
      - description: Number of records to skip.
        format: int32
        in: query
        minimum: 0
        name: $skip
        required: false
        type: integer
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: Lists a collection of Group entities.
          schema:
            $ref: '#/definitions/GroupCollection'
      tags:
      - Groups
      x-ms-odata: '#/definitions/GroupContract'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{groupId}
  : delete:
      description: Deletes specific group of the API Management service instance.
      operationId: Groups_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/GroupIdParameter'
      - description: ETag of the Group Entity. ETag should match the current entity
          state from the header response of the GET request or it should be * for
          unconditional update.
        in: header
        name: If-Match
        required: true
        type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        204:
          description: The group was successfully deleted.
        405:
          description: The specified group cannot be updated because it is a built-in
            group.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status
                  for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of
                  validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level
                        error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status
                  for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of
                  validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level
                        error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
      - Groups
    get:
      description: Gets the details of the group specified by its identifier.
      operationId: Groups_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/GroupIdParameter'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: The response body contains the specified Group entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/GroupContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status
                  for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of
                  validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level
                        error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
      - Groups
    patch:
      description: Updates the details of the group specified by its identifier.
      operationId: Groups_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/GroupIdParameter'
      - description: Update parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/GroupUpdateParameters'
      - description: ETag of the Group Entity. ETag should match the current entity
          state from the header response of the GET request or it should be * for
          unconditional update.
        in: header
        name: If-Match
        required: true
        type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        204:
          description: The group details were successfully updated.
        405:
          description: The specified group cannot be updated because it is a built-in
            group.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status
                  for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of
                  validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level
                        error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status
                  for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of
                  validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level
                        error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
      - Groups
    put:
      description: Creates or Updates a group.
      operationId: Groups_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/GroupIdParameter'
      - description: Create parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/GroupCreateParameters'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        201:
          description: Group was created succesfully.
        204:
          description: Group already exists.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status
                  for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of
                  validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level
                        error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
      - Groups
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{groupId}/users
  : get:
      description: Lists a collection of the members of the group, specified by its
        identifier.
      operationId: GroupUsers_ListByGroups
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/GroupIdParameter'
      - description: '| Field            | Supported operators    | Supported functions               |n|------------------|------------------------|-----------------------------------|n|
          id               | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |n| firstName        | ge, le, eq, ne, gt, lt | substringof, contains,
          startswith, endswith |n| lastName         | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |n| email            | ge, le, eq, ne, gt,
          lt | substringof, contains, startswith, endswith |n| state            |
          eq                     | N/A                               |n| registrationDate
          | ge, le, eq, ne, gt, lt | N/A                               |n| note             |
          ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |'
        in: query
        name: $filter
        required: false
        type: string
      - description: Number of records to return.
        format: int32
        in: query
        minimum: 1
        name: $top
        required: false
        type: integer
        x-ms-parameter-location: method
      - description: Number of records to skip.
        format: int32
        in: query
        minimum: 0
        name: $skip
        required: false
        type: integer
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: Lists a collection of user entities associated with the group.
          schema:
            description: Paged Users list representation.
            properties:
              count:
                description: Total record count number across all pages.
                format: int64
                type: integer
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  description: User profile.
                  properties:
                    email:
                      description: Email address.
                      type: string
                    firstName:
                      description: First name.
                      type: string
                    id:
                      description: User identifier path.
                      type: string
                    identities:
                      description: Collection of user identities.
                      items:
                        description: User identity details.
                        properties:
                          id:
                            description: Identifier value within provider.
                            type: string
                          provider:
                            description: Identity provider name.
                            type: string
                      readOnly: true
                      type: array
                    lastName:
                      description: Last name.
                      type: string
                    note:
                      description: Administrator's note about given user.
                      type: string
                    registrationDate:
                      description: 'Date of user registration. The date conforms to
                        the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified
                        by the ISO 8601 standard.n'
                      format: date-time
                      type: string
                    state:
                      description: User state.
                      enum:
                      - Active
                      - Blocked
                      type: string
                      x-ms-enum:
                        modelAsString: false
                        name: UserStateContract
                type: array
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status
                  for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of
                  validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level
                        error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
      - GroupUsers
      x-ms-odata: ./apimusers.json#/definitions/UserContract
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{groupId}/users/{uid}
  : delete:
      description: Remove existing user from existing group.
      operationId: GroupUsers_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/GroupIdParameter'
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        maxLength: 256
        minLength: 1
        name: uid
        pattern: ^[^*#&+:<>?]+$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        204:
          description: The user was successfully removed from the group.
        405:
          description: Attempt was made to delete a user from a built-in group. Built-in
            group membership is managed by the API Management service.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status
                  for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of
                  validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level
                        error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status
                  for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of
                  validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level
                        error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
      - GroupUsers
    put:
      description: Adds a user to the specified group.
      operationId: GroupUsers_Create
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/GroupIdParameter'
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        maxLength: 256
        minLength: 1
        name: uid
        pattern: ^[^*#&+:<>?]+$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        201:
          description: The user was successfully added to the group.
        204:
          description: The specified user is already a member of the specified group.
        405:
          description: Attempt was made to add a user to a built-in group. Built-in
            group membership is managed by the system.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status
                  for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of
                  validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level
                        error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status
                  for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of
                  validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level
                        error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
      - GroupUsers
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:15:\"GroupCollection\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Paged
  Group list representation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Total
  record count number across all pages.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Next
  page link if any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Page
  values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GroupContract\";}s:4:\"type\";s:5:\"array\";}}}s:13:\"GroupContract\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Developer
  group.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"builtIn\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"true
  if the group is one of the three system groups (Administrators, Developers, or Guests);
  otherwise false.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Group
  description. Can contain HTML formatting tags.\";s:9:\"maxLength\";i:1000;s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":3:{s:11:\"description\";s:218:\"For
  external groups, this property contains the id of the group from the external identity
  provider, e.g. for Azure Active Directory aad://<tenant>.onmicrosoft.com/groups/<group
  object id>; otherwise the value is null.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:189:\"Uniquely
  identifies the group within the current API Management service instance. The value
  is a valid relative URL in the format of /groups/{groupid} where {groupid} is a
  group identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Group
  name.\";s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":5:{s:11:\"description\";s:11:\"Group
  type.\";s:4:\"enum\";a:3:{i:0;s:6:\"Custom\";i:1;s:6:\"System\";i:2;s:8:\"External\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"GroupTypeContract\";}}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:21:\"GroupCreateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Parameters
  supplied to the Create Group operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Group
  description.\";s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:232:\"Identifier
  of the external groups, this property contains the id of the group from the external
  identity provider, e.g. for Azure Active Directory aad://<tenant>.onmicrosoft.com/groups/<group
  object id>; otherwise the value is null.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Group
  name.\";s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Group
  type.\";s:4:\"enum\";a:3:{i:0;s:6:\"Custom\";i:1;s:6:\"System\";i:2;s:8:\"External\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"GroupTypeContract\";}}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:21:\"GroupUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Parameters
  supplied to the Update Group operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Group
  description.\";s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:232:\"Identifier
  of the external groups, this property contains the id of the group from the external
  identity provider, e.g. for Azure Active Directory aad://<tenant>.onmicrosoft.com/groups/<group
  object id>; otherwise the value is null.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Group
  name.\";s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Group
  type.\";s:4:\"enum\";a:3:{i:0;s:6:\"Custom\";i:1;s:6:\"System\";i:2;s:8:\"External\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"GroupTypeContract\";}}}}}"
...
