---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:158:\"These APIs allow
  end users to operate on Azure Machine Learning Team Account resources. They support
  CRUD operations for Azure Machine Learning Team Accounts.\";s:5:\"title\";s:33:\"ML
  Team Account Management Client\";s:7:\"version\";s:18:\"2017-05-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:233:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/machineLearningExperimentation.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:61:\"machinelearningexperimentation-machineLearningExperimentation\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:67:\"azure_machinelearningexperimentation_machinelearningexperimentation\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.MachineLearningExperimentation/operations:
    get:
      description: Lists all of the available Azure Machine Learning Team Accounts
        REST API operations.
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Operation
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningExperimentation/accounts:
    get:
      description: Lists all the available machine learning team accounts under the
        specified subscription.
      operationId: Accounts_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/AccountListResult'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Accounts
      x-ms-examples:
        AccountCreate:
          parameters:
            api-version: 2017-05-01-preview
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678
                  location: East US
                  name: accountcrud5678
                  properties:
                    creationDate: "2017-03-01T23:14:37.0707808Z"
                    discoveryUri: http://example.com
                    keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                    provisioningState: Succeeded
                    seats: "2"
                    storageAccount:
                      accessKey: key
                      storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                    vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                  type: Microsoft.MachineLearningExperimentation/accounts
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-4321/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud8765
                  location: East US
                  name: accountcrud8765
                  properties:
                    creationDate: "2017-03-02T23:14:37.0707808Z"
                    discoveryUri: http://example.com
                    keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                    provisioningState: Succeeded
                    seats: "2"
                    storageAccount:
                      accessKey: key
                      storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                    vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest1
                  type: Microsoft.MachineLearningExperimentation/accounts
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts:
    get:
      description: Lists all the available machine learning team accounts under the
        specified resource group.
      operationId: Accounts_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/AccountListResult'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Accounts
      x-ms-examples:
        AccountCreate:
          parameters:
            api-version: 2017-05-01-preview
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud-5678
                  location: East US
                  name: accountcrud-5678
                  properties:
                    creationDate: "2017-03-01T23:14:37.0707808Z"
                    discoveryUri: http://example.com
                    keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                    provisioningState: Succeeded
                    seats: "2"
                    storageAccount:
                      accessKey: key
                      storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                    vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                  type: Microsoft.MachineLearningExperimentation/accounts
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud-8765
                  location: East US
                  name: accountcrud-8765
                  properties:
                    creationDate: "2017-03-02T23:14:37.0707808Z"
                    discoveryUri: http://example.com
                    keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                    provisioningState: Succeeded
                    seats: "2"
                    storageAccount:
                      accessKey: key
                      storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                    vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest1
                  type: Microsoft.MachineLearningExperimentation/accounts
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}
  : delete:
      description: Deletes a machine learning team account.
      operationId: Accounts_Delete
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/AccountNameParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
        204:
          description: The machine learning team account does not exist in the subscription.
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Accounts
      x-ms-examples:
        AccountCreate:
          parameters:
            accountName: myAccount
            api-version: 2017-05-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200: []
            204: []
    get:
      description: Gets the properties of the specified machine learning team account.
      operationId: Accounts_Get
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/AccountNameParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/Account'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Accounts
      x-ms-examples:
        AccountGet:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678
                location: East US
                name: accountcrud5678
                properties:
                  creationDate: "2017-03-01T23:14:37.0707808Z"
                  discoveryUri: http://example.com
                  keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv1
                  provisioningState: Succeeded
                  seats: "2"
                  storageAccount:
                    accessKey: key
                    storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts
    patch:
      description: Updates a machine learning team account with the specified parameters.
      operationId: Accounts_Update
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/AccountNameParameter'
      - description: The parameters for updating a machine learning team account.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/AccountUpdateParameters'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/Account'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Accounts
      x-ms-examples:
        AccountUpdate:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            parameters:
              properties:
                description: new description
              tags:
                tagKey1: TagValue1
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678
                location: East US
                name: accountcrud5678
                properties:
                  creationDate: "2017-03-01T23:14:37.0707808Z"
                  description: new description
                  discoveryUri: http://example.com
                  keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv1
                  provisioningState: Succeeded
                  seats: "2"
                  storageAccount:
                    accessKey: key
                    storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts
    put:
      description: Creates or updates a team account with the specified parameters.
      operationId: Accounts_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/AccountNameParameter'
      - description: The parameters for creating or updating a machine learning team
          account.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/Account'
      responses:
        200:
          description: The request was successful; the resource already exists and
            was updated.
          schema:
            $ref: '#/definitions/Account'
        201:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/Account'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Accounts
      x-ms-examples:
        AccountCreate:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            parameters:
              location: East US
              properties:
                keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                storageAccount:
                  accessKey: key
                  storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
              tags:
                tagKey1: TagValue1
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678
                location: East US
                name: accountcrud5678
                properties:
                  creationDate: "2017-03-01T23:14:37.0707808Z"
                  discoveryUri: http://example.com
                  keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                  provisioningState: Succeeded
                  storageAccount:
                    accessKey: key
                    storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678
                location: East US
                name: accountcrud5678
                properties:
                  creationDate: "2017-03-01T23:14:37.0707808Z"
                  discoveryUri: http://example.com
                  keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                  provisioningState: Succeeded
                  seats: "2"
                  storageAccount:
                    accessKey: key
                    storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces
  : get:
      description: Lists all the available machine learning workspaces under the specified
        team account.
      operationId: Workspaces_ListByAccounts
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/AccountNameParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/WorkspaceListResult'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workspaces
      x-ms-examples:
        ListWorkspacesByAccounts:
          parameters:
            accountName: testaccount
            api-version: 2017-05-01-preview
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace
                  location: East US
                  name: testworkspace
                  properties:
                    creationDate: "2017-03-01T23:14:37.0707808Z"
                    friendlyName: testName
                    provisioningState: Succeeded
                  tags:
                    tagKey1: TagValue1
                  type: Microsoft.MachineLearningExperimentation/accounts/workspaces
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace1
                  location: East US
                  name: testworkspace1
                  properties:
                    creationDate: "2017-03-01T23:14:37.0707808Z"
                    friendlyName: testName1
                    provisioningState: Succeeded
                  tags:
                    tagKey1: TagValue1
                  type: Microsoft.MachineLearningExperimentation/accounts/workspaces
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces/{workspaceName}
  : delete:
      description: Deletes a machine learning workspace.
      operationId: Workspaces_Delete
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/AccountNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
        204:
          description: The machine learning workspace does not exist in the subscription.
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceDelete:
          parameters:
            accountName: myAccount
            api-version: 2017-05-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            200: []
            204: []
    get:
      description: Gets the properties of the specified machine learning workspace.
      operationId: Workspaces_Get
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/AccountNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/Workspace'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceGet:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace
                location: East US 2 EUAP
                name: testworkspace
                properties:
                  creationDate: "2017-03-01T23:14:37.0707808Z"
                  friendlyName: testName
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces
    patch:
      description: Updates a machine learning workspace with the specified parameters.
      operationId: Workspaces_Update
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/AccountNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - description: The parameters for updating a machine learning workspace.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/WorkspaceUpdateParameters'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/Workspace'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceUpdate:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            parameters:
              properties:
                friendlyName: testNameNew
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace
                location: East US 2 EUAP
                name: accountcrud5678
                properties:
                  creationDate: "2017-03-01T23:14:37.0707808Z"
                  friendlyName: testNameNew
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces
    put:
      description: Creates or updates a machine learning workspace with the specified
        parameters.
      operationId: Workspaces_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/AccountNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - description: The parameters for creating or updating a machine learning workspace.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/Workspace'
      responses:
        200:
          description: The request was successful; the resource already exists and
            was updated.
          schema:
            $ref: '#/definitions/Workspace'
        201:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/Workspace'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceCreate:
          parameters:
            accountName: testaccount
            api-version: 2017-05-01-preview
            parameters:
              location: East US
              properties:
                friendlyName: testName
              tags:
                tagKey1: TagValue1
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace
                location: East US
                name: testworkspace
                properties:
                  creationDate: "2017-03-01T23:14:37.0707808Z"
                  friendlyName: testName
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces
            201:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace
                location: East US
                name: testworkspace
                properties:
                  creationDate: "2017-03-01T23:14:37.0707808Z"
                  friendlyName: testName
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces/{workspaceName}/projects/{projectName}
  : delete:
      description: Deletes a project.
      operationId: Projects_Delete
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/AccountNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ProjectNameParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
        204:
          description: The machine learning team account does not exist in the subscription.
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Projects
      x-ms-examples:
        AccountCreate:
          parameters:
            accountName: myAccount
            api-version: 2017-05-01-preview
            projectName: testProject
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            200: []
            204: []
    get:
      description: Gets the properties of the specified machine learning project.
      operationId: Projects_Get
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/AccountNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ProjectNameParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/Project'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Projects
      x-ms-examples:
        GetProject:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            projectName: testProject
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace/projects/testProject
                location: East US 2
                name: testProject
                properties:
                  creationDate: "2017-03-01T23:14:37.0707808Z"
                  friendlyName: testName
                  gitrepo: https://github/abc
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
    patch:
      description: Updates a project with the specified parameters.
      operationId: Projects_Update
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/AccountNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ProjectNameParameter'
      - description: The parameters for updating a machine learning team account.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ProjectUpdateParameters'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/Project'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Projects
      x-ms-examples:
        UpdateProject:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            parameters:
              properties:
                friendlyName: testName
              tags:
                tagKey1: TagValue1
            projectName: testProject
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace/projects/testProject
                location: East US
                name: accountcrud5678
                properties:
                  creationDate: "2017-03-01T23:14:37.0707808Z"
                  friendlyName: testName
                  gitrepo: https://github/abc
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
    put:
      description: Creates or updates a project with the specified parameters.
      operationId: Projects_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/AccountNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ProjectNameParameter'
      - description: The parameters for creating or updating a project.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/Project'
      responses:
        200:
          description: The request was successful; the resource already exists and
            was updated.
          schema:
            $ref: '#/definitions/Project'
        201:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/Project'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Projects
      x-ms-examples:
        CreateProject:
          parameters:
            accountName: testaccount
            api-version: 2017-05-01-preview
            parameters:
              location: East US
              properties:
                friendlyName: testName
                gitrepo: https://github/abc
              tags:
                tagKey1: TagValue1
            projectName: testProject
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace/projects/testProject
                location: East US
                name: testProject
                properties:
                  creationDate: "2017-03-01T23:14:37.0707808Z"
                  friendlyName: testName
                  gitrepo: https://github/abc
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
            201:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace/projects/testProject
                location: East US
                name: teamAccountcrud5678
                properties:
                  creationDate: "2017-03-01T23:14:37.0707808Z"
                  friendlyName: testName
                  gitrepo: https://github/abc
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces{workspaceName}/projects
  : get:
      description: Lists all the available machine learning projects under the specified
        workspace.
      operationId: Projects_ListByWorkspace
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/AccountNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/ProjectListResult'
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Projects
      x-ms-examples:
        ProjectListByWorkspaces:
          parameters:
            accountName: testaccount
            api-version: 2017-05-01-preview
            resourceGroupName: testrg
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace/projects/testProject
                  location: East US
                  name: testProject
                  properties:
                    creationDate: "2017-03-01T23:14:37.0707808Z"
                    friendlyName: testName
                    gitrepo: https://github/abc
                    provisioningState: Succeeded
                  tags:
                    tagKey1: TagValue1
                  type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace/projects/testProject1
                  location: East US
                  name: testProject1
                  properties:
                    creationDate: "2017-03-01T23:14:37.0707808Z"
                    friendlyName: testName1
                    gitrepo: https://github/def
                    provisioningState: Succeeded
                  tags:
                    tagKey1: TagValue1
                  type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:7:\"Account\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:58:\"An
  object that represents a machine learning team account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/AccountProperties\";s:11:\"description\";s:52:\"The
  properties of the machine learning team account.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:17:\"AccountListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  result of a request to list machine learning team accounts.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"The
  URI that can be used to request the next list of machine learning team accounts.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"The
  list of machine learning team accounts. Since this list may be incomplete, the nextLink
  field should be used to request the next list of machine learning team accounts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Account\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"AccountProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  properties of a machine learning team account.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"accountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  immutable id associated with this team account.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"The
  creation date of the machine learning team account in ISO8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  description of this workspace.\";s:4:\"type\";s:6:\"string\";}s:12:\"discoveryUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  uri for this machine learning team account.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  friendly name for this workspace. This will be the workspace name in the arm id
  when the workspace object gets created\";s:4:\"type\";s:6:\"string\";}s:10:\"keyVaultId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  fully qualified arm id of the user key vault.\";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:125:\"The
  current deployment state of team account resource. The provisioningState is to indicate
  states for resource provisioning.\";s:4:\"enum\";a:5:{i:0;s:8:\"Creating\";i:1;s:9:\"Succeeded\";i:2;s:8:\"Updating\";i:3;s:8:\"Deleting\";i:4;s:6:\"Failed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"ProvisioningState\";}}s:5:\"seats\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"The
  no of users/seats who can access this team account. This property defines the charge
  on the team account.\";s:4:\"type\";s:6:\"string\";}s:14:\"storageAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/StorageAccountProperties\";s:11:\"description\";s:76:\"The
  properties of the storage account for the machine learning team account.\";}s:12:\"vsoAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  fully qualified arm id of the vso account to be used for this team account.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:14:\"storageAccount\";i:1;s:12:\"vsoAccountId\";i:2;s:10:\"keyVaultId\";}s:4:\"type\";s:6:\"object\";}s:33:\"AccountPropertiesUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  parameters for updating the properties of a machine learning team account.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  description of this workspace.\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  friendly name for this workspace. This will be the workspace name in the arm id
  when the workspace object gets created\";s:4:\"type\";s:6:\"string\";}s:5:\"seats\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"The
  no of users/seats who can access this team account. This property defines the charge
  on the team account.\";s:4:\"type\";s:6:\"string\";}s:17:\"storageAccountKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  key for storage account associated with this team account\";s:4:\"type\";s:6:\"string\";}}}s:23:\"AccountUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  parameters for updating a machine learning team account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:47:\"#/definitions/AccountPropertiesUpdateParameters\";s:11:\"description\";s:75:\"The
  properties that the machine learning team account will be updated with.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:56:\"The
  resource tags for the machine learning team account.\";s:4:\"type\";s:6:\"object\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  error response send when an operation fails.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"error
  message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Azure
  Machine Learning team account REST API operation\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Display
  name of operation\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  description for the operation.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  operation that users can perform.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  resource provider name: Microsoft.MachineLearningExperimentation\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  resource on which the operation is performed.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Operation
  name: {provider}/{resource}/{operation}\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"An
  array of operations supported by the resource provider.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"List
  of AML team account operations supported by the AML team account resource provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}}s:7:\"Project\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:53:\"An
  object that represents a machine learning project.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ProjectProperties\";s:11:\"description\";s:30:\"The
  properties of the Project.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:17:\"ProjectListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  result of a request to list projects.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  URI that can be used to request the next list of projects.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"The
  list of projects. Since this list may be incomplete, the nextLink field should be
  used to request the next list of projects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"ProjectProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  properties of a machine learning project.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"accountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  immutable id of the team account which contains this project.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  creation date of the project in ISO8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  description of this project.\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  friendly name for this project.\";s:4:\"type\";s:6:\"string\";}s:7:\"gitrepo\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  reference to git repo for this project.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  immutable id of this project.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:120:\"The
  current deployment state of project resource. The provisioningState is to indicate
  states for resource provisioning.\";s:4:\"enum\";a:5:{i:0;s:8:\"Creating\";i:1;s:9:\"Succeeded\";i:2;s:8:\"Updating\";i:3;s:8:\"Deleting\";i:4;s:6:\"Failed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"ProvisioningState\";}}s:11:\"workspaceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  immutable id of the workspace which contains this project.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"friendlyName\";}s:4:\"type\";s:6:\"object\";}s:33:\"ProjectPropertiesUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  parameters for updating the properties of a project.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  description of this project.\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  friendly name for this project.\";s:4:\"type\";s:6:\"string\";}s:7:\"gitrepo\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  reference to git repo for this project.\";s:4:\"type\";s:6:\"string\";}}}s:23:\"ProjectUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  parameters for updating a machine learning project.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:47:\"#/definitions/ProjectPropertiesUpdateParameters\";s:11:\"description\";s:53:\"The
  properties that the project will be updated with.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:51:\"The
  resource tags for the machine learning project.\";s:4:\"type\";s:6:\"object\";}}}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"An
  Azure resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  resource ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  location of the resource. This cannot be changed after the resource is created.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  name of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:25:\"The
  tags of the resource.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:24:\"StorageAccountProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  properties of a storage account for a machine learning team account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"accessKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  access key to the storage account.\";s:4:\"type\";s:6:\"string\";}s:16:\"storageAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  fully qualified arm Id of the storage account.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:16:\"storageAccountId\";i:1;s:9:\"accessKey\";}}s:9:\"Workspace\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:68:\"An
  object that represents a machine learning team account workspace.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/WorkspaceProperties\";s:11:\"description\";s:62:\"The
  properties of the machine learning team account workspace.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:19:\"WorkspaceListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  result of a request to list machine learning team account workspaces.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"The
  URI that can be used to request the next list of machine learning workspaces.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"The
  list of machine learning team account workspaces. Since this list may be incomplete,
  the nextLink field should be used to request the next list of machine learning team
  accounts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Workspace\";}s:4:\"type\";s:5:\"array\";}}}s:19:\"WorkspaceProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  properties of a machine learning team account workspace.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"accountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  immutable id of the team account which contains this workspace.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"The
  creation date of the machine learning workspace in ISO8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  description of this workspace.\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  friendly name for this workspace. This will be the workspace name in the arm id
  when the workspace object gets created\";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:135:\"The
  current deployment state of team account workspace resource. The provisioningState
  is to indicate states for resource provisioning.\";s:4:\"enum\";a:5:{i:0;s:8:\"Creating\";i:1;s:9:\"Succeeded\";i:2;s:8:\"Updating\";i:3;s:8:\"Deleting\";i:4;s:6:\"Failed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"ProvisioningState\";}}s:11:\"workspaceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  immutable id of this workspace.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"friendlyName\";}s:4:\"type\";s:6:\"object\";}s:35:\"WorkspacePropertiesUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  parameters for updating the properties of a machine learning team account workspace.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Description
  for this workspace.\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Friendly
  name of this workspace.\";s:4:\"type\";s:6:\"string\";}}}s:25:\"WorkspaceUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  parameters for updating a machine learning team account workspace.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:49:\"#/definitions/WorkspacePropertiesUpdateParameters\";s:11:\"description\";s:72:\"The
  properties that the machine learning workspace will be updated with.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:66:\"The
  resource tags for the machine learning team account workspace.\";s:4:\"type\";s:6:\"object\";}}}}"
...
