---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:44:\"Microsoft Azure
  Mobile Engagement REST APIs.\";s:5:\"title\";s:27:\"Engagement.ManagementClient\";s:7:\"version\";s:10:\"2014-12-01\";s:21:\"x-apisguru-categories\";a:3:{i:0;s:9:\"analytics\";i:1;s:9:\"marketing\";i:2;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:130:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-mobileengagement/2014-12-01/swagger/mobile-engagement.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:20:\"arm-mobileengagement\";s:6:\"x-tags\";a:6:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";i:2;s:6:\"mobile\";i:3;s:4:\"apps\";i:4;s:9:\"dashboard\";i:5;s:9:\"marketing\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.MobileEngagement/appCollections:
    get:
      description: Lists app collections in a subscription.
      operationId: AppCollections_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/AppCollectionListResult'
        default:
          description: ""
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - AppCollections
      - List
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.MobileEngagement/checkAppCollectionNameAvailability:
    post:
      description: Checks availability of an app collection name in the Engagement
        domain.
      operationId: AppCollections_CheckNameAvailability
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/AppCollectionNameAvailability'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/AppCollectionNameAvailability'
        default:
          description: ""
          schema:
            $ref: '#/definitions/ApiError'
  /subscriptions/{subscriptionId}/providers/Microsoft.MobileEngagement/supportedPlatforms:
    get:
      description: Lists supported platforms for Engagement applications.
      operationId: SupportedPlatforms_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/SupportedPlatformsListResult'
        default:
          description: ""
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - List
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps
  : get:
      description: Lists apps in an appCollection.
      operationId: Apps_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/AppListResult'
        default:
          description: ""
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Apps
      - List
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}
  : get:
      description: Get the list of campaigns.
      operationId: Campaigns_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Campaign kind.
        enum:
        - announcements
        - polls
        - dataPushes
        - nativePushes
        in: path
        name: kind
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CampaignKinds
      - description: Control paging of campaigns, start results at the given offset,
          defaults to 0 (1st page of data).
        in: query
        name: $skip
        required: false
        type: integer
      - description: Control paging of campaigns, number of campaigns to return with
          each call. It returns all campaigns by default. When specifying $top parameter,
          the response contains a `nextLink` property describing the path to get the
          next page if there are more results.
        in: query
        name: $top
        required: false
        type: integer
      - description: 'Filter can be used to restrict the results to campaigns matching
          a specific state. The syntax is `$filter=state eq ''draft''`. Valid state
          values are: draft, scheduled, in-progress, and finished. Only the eq operator
          and the state property are supported.'
        in: query
        name: $filter
        required: false
        type: string
      - description: Sort results by an expression which looks like `$orderby=id asc`
          (this example is actually the default behavior). The syntax is orderby={property}
          {direction} or just orderby={property}. The available sorting properties
          are id, name, state, activatedDate, and finishedDate. The available directions
          are asc (for ascending order) and desc (for descending order). When not
          specified the asc direction is used. Only one property at a time can be
          used for sorting.
        in: query
        name: $orderby
        required: false
        type: string
      - description: Restrict results to campaigns matching the optional `search`
          expression. This currently performs the search based on the name on the
          campaign only, case insensitive. If the campaign contains the value of the
          `search` parameter anywhere in the name, it matches.
        in: query
        name: $search
        required: false
        type: string
      responses:
        200:
          description: Success, campaigns are returned as JSON.
          schema:
            $ref: '#/definitions/CampaignsListResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled. Check
            response body for details.n* `401`: Authentication error.'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Campaign
      - List
      x-ms-pageable:
        nextLinkName: nextLink
    post:
      description: Create a push campaign (announcement, poll, data push or native
        push).
      operationId: Campaigns_Create
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - description: Campaign kind.
        enum:
        - announcements
        - polls
        - dataPushes
        - nativePushes
        in: path
        name: kind
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CampaignKinds
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Parameters supplied to the Update Campaign operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/Campaign'
      responses:
        201:
          description: Success, campaign is returned.
          headers:
            Location:
              description: URL path to get the created campaign.
              type: string
          schema:
            $ref: '#/definitions/CampaignStateResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled. Check
            response body for details.n* `401`: Authentication error.n* `409`: Another
            campaign with the same name already exists.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Campaign
      - CRUD
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/test
  : post:
      description: Test a new campaign on a set of devices.
      operationId: Campaigns_TestNew
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Campaign kind.
        enum:
        - announcements
        - polls
        - dataPushes
        - nativePushes
        in: path
        name: kind
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CampaignKinds
      - description: Parameters supplied to the Test Campaign operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/CampaignTestNewParameters'
      responses:
        200:
          description: Test campaign queued successfully.
          schema:
            $ref: '#/definitions/CampaignState'
        default:
          description: '* `400`: Invalid parameters or application is disabled. Check
            response body for details.n* `401`: Authentication error.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Campaign
      - Test
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}
  : delete:
      description: Delete a campaign previously created by a call to Create campaign.
      operationId: Campaigns_Delete
      parameters:
      - description: Campaign kind.
        enum:
        - announcements
        - polls
        - dataPushes
        - nativePushes
        in: path
        name: kind
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CampaignKinds
      - description: Campaign identifier.
        in: path
        name: id
        required: true
        type: integer
      responses:
        200:
          description: Deleted successfully.
        default:
          description: '* `400`: Invalid parameters or application is disabled or
            campaign is not in `finished` state.n* `401`: Authentication error.n*
            `404`: Campaign not found.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Campaign
      - CRUD
    get:
      description: The Get campaign operation retrieves information about a previously
        created campaign.
      operationId: Campaigns_Get
      parameters:
      - description: Campaign kind.
        enum:
        - announcements
        - polls
        - dataPushes
        - nativePushes
        in: path
        name: kind
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CampaignKinds
      - description: Campaign identifier.
        in: path
        name: id
        required: true
        type: integer
      responses:
        200:
          description: Success, campaign is returned.
          schema:
            $ref: '#/definitions/CampaignResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled. Check
            response body for details.n* `401`: Authentication error.n* `404`: Campaign
            not found.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Campaign
      - CRUD
    parameters:
    - $ref: '#/parameters/SubscriptionIdParameter'
    - $ref: '#/parameters/ResourceGroupNameParameter'
    - $ref: '#/parameters/AppCollectionParameter'
    - $ref: '#/parameters/AppNameParameter'
    - $ref: '#/parameters/ApiVersionParameter'
    put:
      description: Update an existing push campaign (announcement, poll, data push
        or native push).
      operationId: Campaigns_Update
      parameters:
      - description: Campaign kind.
        enum:
        - announcements
        - polls
        - dataPushes
        - nativePushes
        in: path
        name: kind
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CampaignKinds
      - description: Campaign identifier.
        in: path
        name: id
        required: true
        type: integer
      - description: Parameters supplied to the Update Campaign operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/Campaign'
      responses:
        200:
          description: Updated successfully.
          schema:
            $ref: '#/definitions/CampaignStateResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled or
            campaign is not in `draft` state.n* `401`: Authentication error.n* `404`:
            Campaign not found.n* `409`: Another campaign with the same name already
            exists.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Campaign
      - CRUD
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/activate
  : post:
      description: Activate a campaign previously created by a call to Create campaign.
      operationId: Campaigns_Activate
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - description: Campaign kind.
        enum:
        - announcements
        - polls
        - dataPushes
        - nativePushes
        in: path
        name: kind
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CampaignKinds
      - description: Campaign identifier.
        in: path
        name: id
        required: true
        type: integer
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Activated successfully.
          schema:
            $ref: '#/definitions/CampaignStateResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled or
            campaign not in `draft` state.n* `401`: Authentication error.n* `404`:
            Campaign not found.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Campaign
      - Action
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/finish
  : post:
      description: Finish a push campaign previously activated by a call to Activate
        campaign.
      operationId: Campaigns_Finish
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - description: Campaign kind.
        enum:
        - announcements
        - polls
        - dataPushes
        - nativePushes
        in: path
        name: kind
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CampaignKinds
      - description: Campaign identifier.
        in: path
        name: id
        required: true
        type: integer
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Finished successfully.
          schema:
            $ref: '#/definitions/CampaignStateResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled or
            campaign not in `in progress` state.n* `401`: Authentication error.n*
            `404`: Campaign not found.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Campaign
      - Action
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/push
  : post:
      description: Push a previously saved campaign (created with Create campaign)
        to a set of devices.
      operationId: Campaigns_Push
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Campaign kind.
        enum:
        - announcements
        - polls
        - dataPushes
        - nativePushes
        in: path
        name: kind
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CampaignKinds
      - description: Campaign identifier.
        in: path
        name: id
        required: true
        type: integer
      - description: Parameters supplied to the Push Campaign operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/CampaignPushParameters'
      responses:
        200:
          description: OK, response body includes rejected devices.
          schema:
            $ref: '#/definitions/CampaignPushResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled or
            campaign not in `in progress` state or `pushMode` is not `manual`. * `401`:
            Authentication error.n* `404`: Campaign not found.n* `413`: Too many device
            identifiers (current limit is 1000), or request body too large.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Campaign
      - Action
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/statistics
  : get:
      description: Get all the campaign statistics.
      operationId: Campaigns_GetStatistics
      parameters:
      - description: Campaign kind.
        enum:
        - announcements
        - polls
        - dataPushes
        - nativePushes
        in: path
        name: kind
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CampaignKinds
      - description: Campaign identifier.
        in: path
        name: id
        required: true
        type: integer
      responses:
        200:
          description: Success, statistics are returned as JSON.
          schema:
            $ref: '#/definitions/CampaignStatisticsResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled. Check
            response body for details.n* `401`: Authentication error.n* `404`: Campaign
            not found.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Campaign
    parameters:
    - $ref: '#/parameters/SubscriptionIdParameter'
    - $ref: '#/parameters/ResourceGroupNameParameter'
    - $ref: '#/parameters/AppCollectionParameter'
    - $ref: '#/parameters/AppNameParameter'
    - $ref: '#/parameters/ApiVersionParameter'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/suspend
  : post:
      description: Suspend a push campaign previously activated by a call to Activate
        campaign.
      operationId: Campaigns_Suspend
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - description: Campaign kind.
        enum:
        - announcements
        - polls
        - dataPushes
        - nativePushes
        in: path
        name: kind
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CampaignKinds
      - description: Campaign identifier.
        in: path
        name: id
        required: true
        type: integer
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Suspended successfully.
          schema:
            $ref: '#/definitions/CampaignStateResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled or
            campaign not in `scheduled` state.n* `401`: Authentication error.n* `404`:
            Campaign not found.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Campaign
      - Action
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/test
  : post:
      description: Test an existing campaign (created with Create campaign) on a set
        of devices.
      operationId: Campaigns_TestSaved
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - description: Campaign kind.
        enum:
        - announcements
        - polls
        - dataPushes
        - nativePushes
        in: path
        name: kind
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CampaignKinds
      - description: Campaign identifier.
        in: path
        name: id
        required: true
        type: integer
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Parameters supplied to the Test Campaign operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/CampaignTestSavedParameters'
      responses:
        200:
          description: Test campaign queued successfully.
          schema:
            $ref: '#/definitions/CampaignStateResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled. Check
            response body for details.n* `401`: Authentication error.n* `404`: Campaign
            not found.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Campaign
      - Test
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaignsByName/{kind}/{name}
  : get:
      description: The Get campaign operation retrieves information about a previously
        created campaign.
      operationId: Campaigns_GetByName
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - description: Campaign kind.
        enum:
        - announcements
        - polls
        - dataPushes
        - nativePushes
        in: path
        name: kind
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CampaignKinds
      - description: Campaign name.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Success, campaign is returned.
          schema:
            $ref: '#/definitions/CampaignResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled. Check
            response body for details.n* `401`: Authentication error.n* `404`: Campaign
            not found.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Campaign
      - CRUD
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices
  : get:
      description: Query the information associated to the devices running an application.
      operationId: Devices_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Number of devices to return with each call. Defaults to 100 and
          cannot return more. Passing a greater value is ignored. The response contains
          a `nextLink` property describing the URI path to get the next page of results
          if not all results could be returned at once.
        in: query
        name: $top
        required: false
        type: integer
      - description: 'By default all `meta` and `appInfo` properties are returned,
          this property is used to restrict the output to the desired properties.
          It also excludes all devices from the output that have none of the selected
          properties. In other terms, only devices having at least one of the selected
          property being set is part of the results. Examples: - `$select=appInfo`
          : select all devices having at least 1 appInfo, return them all and donu2019t
          return any meta property. - `$select=meta` : return only meta properties
          in the output. - `$select=appInfo,meta/firstSeen,meta/lastSeen` : return
          all `appInfo`, plus meta object containing only firstSeen and lastSeen properties.
          The format is thus a comma separated list of properties to select. Use `appInfo`
          to select all appInfo properties, `meta` to select all meta properties.
          Use `appInfo/{key}` and `meta/{key}` to select specific appInfo and meta
          properties.'
        in: query
        name: $select
        required: false
        type: string
      - description: 'Filter can be used to reduce the number of results. Filter is
          a boolean expression that can look like the following examples: * `$filter=deviceId
          gt ''abcdef0123456789abcdef0123456789''` * `$filter=lastModified le 1447284263690L`
          * `$filter=(deviceId ge ''abcdef0123456789abcdef0123456789'') and (deviceId
          lt ''bacdef0123456789abcdef0123456789'') and (lastModified gt 1447284263690L)`
          The first example is used automatically for paging when returning the `nextLink`
          property. The filter expression is a combination of checks on some properties
          that can be compared to their value. The available operators are: * `gt`  :
          greater than * `ge`  : greater than or equals * `lt`  : less than * `le`  :
          less than or equals * `and` : to add multiple checks (all checks must pass),
          optional parentheses can be used. The properties that can be used in the
          expression are the following: * `deviceId {operator} ''{deviceIdValue}''`
          : a lexicographical comparison is made on the deviceId value, use single
          quotes for the value. * `lastModified {operator} {number}L` : returns only
          meta properties or appInfo properties whose last value modification timestamp
          compared to the specified value is matching (value is milliseconds since
          January 1st, 1970 UTC). Please note the `L` character after the number of
          milliseconds, its required when the number of milliseconds exceeds `2^31
          - 1` (which is always the case for recent timestamps). Using `lastModified`
          excludes all devices from the output that have no property matching the
          timestamp criteria, like `$select`. Please note that the internal value
          of `lastModified` timestamp for a given property is never part of the results.'
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: If successful, the response has a 200 status code and a JSON
            object describing a collection of devices in the body.
          schema:
            $ref: '#/definitions/DevicesQueryResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled. Check
            response body for details.n* `401`: Authentication error.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Device
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks
  : get:
      description: Get the list of export tasks.
      operationId: ExportTasks_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - default: 0
        description: Control paging of export tasks, start results at the given offset,
          defaults to 0 (1st page of data).
        in: query
        minimum: 0
        name: $skip
        required: false
        type: integer
      - default: 20
        description: Control paging of export tasks, number of export tasks to return
          with each call. By default, it returns all export tasks with a default paging
          of 20.nThe response contains a `nextLink` property describing the path to
          get the next page if there are more results.nThe maximum paging limit for
          $top is 40.
        in: query
        maximum: 40
        minimum: 1
        name: $top
        required: false
        type: integer
      - description: 'Sort results by an expression which looks like `$orderby=taskId
          asc` (default when not specified).nThe syntax is orderby={property} {direction}
          or just orderby={property}.nProperties that can be specified for sorting:
          taskId, errorDetails, dateCreated, taskStatus, and dateCreated.nThe available
          directions are asc (for ascending order) and desc (for descending order).nWhen
          not specified the asc direction is used.nOnly one orderby property can be
          specified.'
        in: query
        name: $orderby
        required: false
        type: string
      responses:
        200:
          description: Success. Returns a list of export task statuses.
          schema:
            $ref: '#/definitions/exportTaskListResult'
        default:
          description: '* `4xx`: Bad request.n* `5xx`: Server error.'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - export
      - list
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/activities
  : post:
      description: Creates a task to export activities.
      operationId: ExportTasks_CreateActivitiesTask
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/dateRangeExportTaskParameter'
      responses:
        202:
          description: Success. Returns the state of export task.
          headers:
            Location:
              description: Location of the export task state.
              type: string
          schema:
            $ref: '#/definitions/exportTaskResult'
        default:
          description: '* `4xx`: Bad request.n* `5xx`: Server error.'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - export
      - crud
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/crashes
  : post:
      description: Creates a task to export crashes.
      operationId: ExportTasks_CreateCrashesTask
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/dateRangeExportTaskParameter'
      responses:
        202:
          description: Success. Returns the state of export task.
          headers:
            Location:
              description: Location of the export task state.
              type: string
          schema:
            $ref: '#/definitions/exportTaskResult'
        default:
          description: '* `4xx`: Bad request.n* `5xx`: Server error.'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - export
      - crud
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/errors
  : post:
      description: Creates a task to export errors.
      operationId: ExportTasks_CreateErrorsTask
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/dateRangeExportTaskParameter'
      responses:
        202:
          description: Success. Returns the state of export task.
          headers:
            Location:
              description: Location of the export task state.
              type: string
          schema:
            $ref: '#/definitions/exportTaskResult'
        default:
          description: '* `4xx`: Bad request.n* `5xx`: Server error.'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - export
      - crud
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/events
  : post:
      description: Creates a task to export events.
      operationId: ExportTasks_CreateEventsTask
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/dateRangeExportTaskParameter'
      responses:
        202:
          description: Success. Returns the state of export task.
          headers:
            Location:
              description: Location of the export task state.
              type: string
          schema:
            $ref: '#/definitions/exportTaskResult'
        default:
          description: '* `4xx`: Bad request.n* `5xx`: Server error.'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - export
      - crud
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/feedbackByCampaign
  : post:
      description: Creates a task to export push campaign data for a set of campaigns.
      operationId: ExportTasks_CreateFeedbackTaskByCampaign
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/feedbackByCampaignParameter'
      responses:
        202:
          description: Success. Returns the state of export task.
          headers:
            Location:
              description: Location of the export task state.
              type: string
          schema:
            $ref: '#/definitions/exportTaskResult'
        default:
          description: '* `4xx`: Bad request.n* `5xx`: Server error.'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - export
      - crud
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/feedbackByDate
  : post:
      description: Creates a task to export push campaign data for a date range.
      operationId: ExportTasks_CreateFeedbackTaskByDateRange
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/feedbackByDateRangeParameter'
      responses:
        202:
          description: Success. Returns the state of export task.
          headers:
            Location:
              description: Location of the export task state.
              type: string
          schema:
            $ref: '#/definitions/exportTaskResult'
        default:
          description: '* `4xx`: Bad request.n* `5xx`: Server error.'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - export
      - crud
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/jobs
  : post:
      description: Creates a task to export jobs.
      operationId: ExportTasks_CreateJobsTask
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/dateRangeExportTaskParameter'
      responses:
        202:
          description: Success. Returns the state of export task.
          headers:
            Location:
              description: Location of the export task state.
              type: string
          schema:
            $ref: '#/definitions/exportTaskResult'
        default:
          description: '* `4xx`: Bad request.n* `5xx`: Server error.'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - export
      - crud
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/sessions
  : post:
      description: Creates a task to export sessions.
      operationId: ExportTasks_CreateSessionsTask
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/dateRangeExportTaskParameter'
      responses:
        202:
          description: Success. Returns the state of export task.
          headers:
            Location:
              description: Location of the export task state.
              type: string
          schema:
            $ref: '#/definitions/exportTaskResult'
        default:
          description: '* `4xx`: Bad request.n* `5xx`: Server error.'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - export
      - crud
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/tags
  : post:
      description: Creates a task to export tags.
      operationId: ExportTasks_CreateTagsTask
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/exportTaskParameter'
      responses:
        202:
          description: Success. Returns the state of export task.
          headers:
            Location:
              description: Location of the export task state.
              type: string
          schema:
            $ref: '#/definitions/exportTaskResult'
        default:
          description: '* `4xx`: Bad request.n* `5xx`: Server error.'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - export
      - crud
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/tokens
  : post:
      description: Creates a task to export tags.
      operationId: ExportTasks_CreateTokensTask
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/exportTaskParameter'
      responses:
        202:
          description: Success. Returns the state of export task.
          headers:
            Location:
              description: Location of the export task state.
              type: string
          schema:
            $ref: '#/definitions/exportTaskResult'
        default:
          description: '* `4xx`: Bad request.n* `5xx`: Server error.'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - export
      - crud
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/exportTasks/{id}
  : get:
      description: Retrieves information about a previously created export task.
      operationId: ExportTasks_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Export task identifier.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success. The status of the export task is returned.
          schema:
            $ref: '#/definitions/exportTaskResult'
        default:
          description: '* `4xx`: Bad request.n* `5xx`: Server error.'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - export
      - crud
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/importTasks
  : get:
      description: Get the list of import jobs.
      operationId: ImportTasks_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - default: 0
        description: Control paging of import jobs, start results at the given offset,
          defaults to 0 (1st page of data).
        in: query
        minimum: 0
        name: $skip
        required: false
        type: integer
      - default: 20
        description: Control paging of import jobs, number of import jobs to return
          with each call. By default, it returns all import jobs with a default paging
          of 20.nThe response contains a `nextLink` property describing the path to
          get the next page if there are more results.nThe maximum paging limit for
          $top is 40.
        in: query
        maximum: 40
        minimum: 1
        name: $top
        required: false
        type: integer
      - description: 'Sort results by an expression which looks like `$orderby=jobId
          asc` (default when not specified).nThe syntax is orderby={property} {direction}
          or just orderby={property}.nProperties that can be specified for sorting:
          jobId, errorDetails, dateCreated, jobStatus, and dateCreated.nThe available
          directions are asc (for ascending order) and desc (for descending order).nWhen
          not specified the asc direction is used.nOnly one orderby property can be
          specified.'
        in: query
        name: $orderby
        required: false
        type: string
      responses:
        200:
          description: Success, import jobs are returned as JSON.
          schema:
            $ref: '#/definitions/importTaskListResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled. Check
            response body for details.n* `401`: Authentication error.'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - import
      - list
      x-ms-pageable:
        nextLinkName: nextLink
    post:
      description: Creates a job to import the specified data to a storageUrl.
      operationId: ImportTasks_Create
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/importTask'
      responses:
        201:
          description: Success, import job is returned.
          headers:
            Location:
              description: URL path to get the created import job.
              type: string
          schema:
            $ref: '#/definitions/importTaskResult'
        202:
          description: Success, import job is returned.
          headers:
            Location:
              description: URL path to get the created import job.
              type: string
          schema:
            $ref: '#/definitions/importTaskResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled. Check
            response body for details.n* `401`: Authentication error.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - import
      - crud
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/importTasks/{id}
  : get:
      description: The Get import job operation retrieves information about a previously
        created import job.
      operationId: ImportTasks_Get
      parameters:
      - description: Import job identifier.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success, import job is returned.
          schema:
            $ref: '#/definitions/importTaskResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled. Check
            response body for details.n* `401`: Authentication error.n* `404`: Import
            job not found.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - import
      - crud
    parameters:
    - $ref: '#/parameters/SubscriptionIdParameter'
    - $ref: '#/parameters/ResourceGroupNameParameter'
    - $ref: '#/parameters/AppCollectionParameter'
    - $ref: '#/parameters/AppNameParameter'
    - $ref: '#/parameters/ApiVersionParameter'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/tag
  : post:
      description: Update the tags registered for a set of devices running an application.
        Updates are performed asynchronously, meaning that a few seconds are needed
        before the modifications appear in the results of the Get device command.n
      operationId: Devices_TagByDeviceId
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/DeviceTagsParameters'
      responses:
        200:
          description: Success, invalid device identifiers are returned.
          schema:
            $ref: '#/definitions/DeviceTagsResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled. Check
            response body for details.n* `401`: Authentication error.n* `413`: Can
            be caused by having too many device identifiers (current limit is 1000).n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Device
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/devices/{deviceId}
  : get:
      description: Get the information associated to a device running an application.
      operationId: Devices_GetByDeviceId
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Device identifier.
        in: path
        name: deviceId
        required: true
        type: string
      responses:
        200:
          description: Success, device is returned.
          schema:
            $ref: '#/definitions/Device'
        default:
          description: '* `400`: Invalid parameters or application is disabled. Check
            response body for details.n* `401`: Authentication error.n* `404`: Device
            not found.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Device
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/users/tag
  : post:
      description: Update the tags registered for a set of users running an application.
        Updates are performed asynchronously, meaning that a few seconds are needed
        before the modifications appear in the results of the Get device command.n
      operationId: Devices_TagByUserId
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/DeviceTagsParameters'
      responses:
        200:
          description: Success, invalid user identifiers are returned.
          schema:
            $ref: '#/definitions/DeviceTagsResult'
        default:
          description: '* `400`: Invalid parameters or application is disabled. Check
            response body for details.n* `401`: Authentication error.n* `413`: Can
            be caused by having too many user identifiers (current limit is 1000).n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Device
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/users/{userId}
  : get:
      description: Get the information associated to a device running an application
        using the user identifier.
      operationId: Devices_GetByUserId
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AppCollectionParameter'
      - $ref: '#/parameters/AppNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: User identifier.
        in: path
        name: userId
        required: true
        type: string
      responses:
        200:
          description: Success, device is returned.
          schema:
            $ref: '#/definitions/Device'
        default:
          description: '* `400`: Invalid parameters or application is disabled. Check
            response body for details.n* `401`: Authentication error.n* `404`: User
            not found.n'
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - Device
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":83:{s:29:\"AnnouncementFeedbackCriterion\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Criterion\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"action\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Action
  that was performed on the announcement.\";s:4:\"enum\";a:4:{i:0;s:6:\"pushed\";i:1;s:7:\"replied\";i:2;s:8:\"actioned\";i:3;s:6:\"exited\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"CampaignFeedbacks\";}}s:10:\"content-id\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  unique identifier of the announcement.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:52:\"Used
  to target devices who received an announcement.\";s:24:\"x-ms-discriminator-value\";s:21:\"announcement-feedback\";}s:8:\"ApiError\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}}s:3:\"App\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:35:\"The
  Mobile Engagement App resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AppProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:13:\"AppCollection\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:27:\"The
  AppCollection resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/AppCollectionProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:23:\"AppCollectionListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  list AppCollections operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"When
  the results are paged, the nextLink is the URI for the next page of results. This
  property is empty when there are no additional pages.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  list of AppCollections and their properties.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AppCollection\";}s:4:\"type\";s:5:\"array\";}}}s:29:\"AppCollectionNameAvailability\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"available\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Available.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Name.\";s:4:\"type\";s:6:\"string\";}s:20:\"unavailabilityReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"UnavailabilityReason.\";s:4:\"type\";s:6:\"string\";}}}s:23:\"AppCollectionProperties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"provisioningState\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Mobile
  Engagement AppCollection Properties.\";s:4:\"enum\";a:2:{i:0;s:8:\"Creating\";i:1;s:9:\"Succeeded\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"ProvisioningStates\";}}}}s:13:\"AppInfoFilter\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"appInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"An
  array containing all the required appInfo.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:248:\"Send
  only to users who have some app info set. This is a special filter that is automatically
  added if your campaign contains appInfo parameters. It is not intended to be public
  and should not be used as it could be removed or replaced by the API.\n\";s:24:\"x-ms-discriminator-value\";s:8:\"app-info\";}s:13:\"AppListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  list Apps operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"When
  the results are paged, the nextLink is the URI for the next page of results. This
  property is empty when there are no additional pages.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  list of Apps and their properties.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/App\";}s:4:\"type\";s:5:\"array\";}}}s:13:\"AppProperties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"appState\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  state of the application.\";s:4:\"type\";s:6:\"string\";}s:9:\"backendId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  application unique identifier.\";s:4:\"type\";s:6:\"string\";}s:8:\"platform\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  platform of the app.\";s:4:\"type\";s:6:\"string\";}}}s:27:\"ApplicationVersionCriterion\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Criterion\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  application version.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:78:\"Used
  to target devices based on the version of the application they are using.\";s:24:\"x-ms-discriminator-value\";s:19:\"application-version\";}s:19:\"BooleanTagCriterion\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Criterion\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  name of the custom tag.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"A
  custom boolean value to match.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:44:\"Target
  devices based on a boolean tag value.\";s:24:\"x-ms-discriminator-value\";s:11:\"boolean-tag\";}s:8:\"Campaign\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CampaignLocalization\";}}s:10:\"properties\";O:8:\"stdClass\":18:{s:8:\"audience\";O:8:\"stdClass\":3:{s:11:\"description\";s:425:\"Specify
  which users will be targeted by this campaign. By default, all users will be targeted.
  If you set `pushMode` property to `manual`, the only thing you can specify in the
  audience is the push quota filter. An audience is a boolean expression made of criteria
  (variables) operators (`not`, `and` or `or`) and parenthesis. Additionally, a set
  of filters can be added to an audience. 65535 bytes max as per JSON encoding.\n\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"criteria\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Criterion\";}s:11:\"description\";s:17:\"Criteria
  by name.\";s:4:\"type\";s:6:\"object\";}s:10:\"expression\";O:8:\"stdClass\":2:{s:11:\"description\";s:253:\"Boolean
  expression made of criteria (variables) operators (`not`, `and` or `or`) and parenthesis.
  Criterion names in the audience expression must start with a capital letter and
  can only contain alphanumeric (A-Z,a-z,0-9) and underscore (_) characters.\n\";s:4:\"type\";s:6:\"string\";}s:7:\"filters\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Global
  filters applied to all devices.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"category\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Category
  of the campaign. Categories can be used on the application side to customize campaigns.\";s:9:\"maxLength\";i:64;s:4:\"type\";s:6:\"string\";}s:18:\"deliveryActivities\";O:8:\"stdClass\":3:{s:11:\"description\";s:365:\"Announcements/polls
  only. Array containing the list of activities in which the campaign can be delivered.
  deliveryTime must be set to session. If the platform is iOS, this option can also
  be set if deliveryTime is set to any. In that case, if the campaign is received
  when the application is launched, it will be delivered only in the specified list
  of activities.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"deliveryTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:331:\"Announcements/polls
  only. Defines when the campaign should be delivered. Valid values are: * `any`:
  Campaign will be delivered as soon as possible. * `background`: iOS only. Campaign
  will be only delivered when the application is in background (out of app). * `session`:
  Campaign will be delivered when the application is running.\n\";s:4:\"enum\";a:3:{i:0;s:3:\"any\";i:1;s:10:\"background\";i:2;s:7:\"session\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"DeliveryTimes\";}}s:7:\"endTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"The
  date at which the campaign should be finished. The date shall conform to the following
  format: `yyyy-MM-ddTHH:mm:ssZ`. Example: `2011-11-21 15:23Z`\n\";s:4:\"type\";s:6:\"string\";}s:12:\"localization\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CampaignLocalization\";}s:11:\"description\";s:225:\"Push
  campaigns can be localized using an optional JSON object. The JSON key is a two-character
  language code as specified by the ISO 639-1 standard. The corresponding value is
  an object containing the localizable properties.\n\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Unique
  name of the campaign.\";s:9:\"maxLength\";i:64;s:4:\"type\";s:6:\"string\";}s:17:\"notificationBadge\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:202:\"A
  flag indicating whether or not you want the native Apple Push notification to update
  the badge icon to the number of unread messages. The `deliveryTime` property must
  be set to `any` or `background`.\n\";s:4:\"type\";s:7:\"boolean\";}s:21:\"notificationCloseable\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:75:\"A
  flag indicating whether or not you want the notification to be closeable.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"notificationIcon\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:95:\"A
  flag indicating whether or not you want to display the resource icon in notification
  content.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"notificationSound\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:596:\"*
  `Android`: A flag indicating whether or not you want the system notification to
  make a sound. The `notificationType` property must be set to `system`. * `iOS`:
  A flag indicating whether or not you want the native Apple Push notification to
  make a sound. The `deliveryTime` property must be set to `any` or `background`.
  This will play the 'default' sound. If you want to play a custom sound, see the
  `notificationOptions` property. * `Windows`: A flag indicating whether or not you
  want the native Windows Notification Service to make a sound. The `deliveryTime`
  property must be set to `any`.\n\";s:4:\"type\";s:7:\"boolean\";}s:16:\"notificationType\";O:8:\"stdClass\":5:{s:7:\"default\";s:5:\"popup\";s:11:\"description\";s:229:\"Android
  only. Defines how the notification should be displayed. Valid values are: * `system`:
  Display the notification using a standard system notification. * `popup`: Display
  the notification using a in-app banner notification.\n\";s:4:\"enum\";a:2:{i:0;s:6:\"system\";i:1;s:5:\"popup\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"NotificationTypes\";}}s:19:\"notificationVibrate\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:153:\"Android
  only. A flag indicating whether or not you want the system notification to make
  a vibration. The notificationType property must be set to system.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"pushMode\";O:8:\"stdClass\":5:{s:7:\"default\";s:9:\"real-time\";s:11:\"description\";s:551:\"Announcements/polls
  only. Defines how the campaign is pushed. Valid values are: * `real-time`: Never
  ending campaign, the campaign will be delivered  to your existing users and also
  to your new users. * `one-shot`: In this mode, the campaign will be delivered only
  to your existing users (campaign will stop after that). * `manual`: In this mode,
  the campaign will not be pushed automatically to devices. You will have to use the
  Push campaign command to push the campaign to your end-users. Campaigns can be pushed
  multiple times to the same device.\n\";s:4:\"enum\";a:3:{i:0;s:9:\"real-time\";i:1;s:8:\"one-shot\";i:2;s:6:\"manual\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"PushModes\";}}s:9:\"questions\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Poll
  questions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PollQuestion\";}s:4:\"type\";s:5:\"array\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:316:\"The
  date at which the campaign should be started. The date shall conform to the following
  format: `yyyy-MM-ddTHH:mm:ssZ`. * If you set pushMode property to manual, this attribute
  will be ignored. * If you set pushMode property to one-shot, then the timezone attribute
  must be specified. Example: `2011-11-21 15:23Z`\n\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:183:\"The
  id of the time zone to use for the startTime and endTime dates. If not provided,
  the two date attributes will be expressed using the device timezone. Example: America/Los_Angeles\n\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:597:\"Applicable
  only to announcements and data pushes. Type of announcement. Valid values are: *
  `text/plain`: Text-only announcement: `body` property should only contain plain
  text. * `text/html`: HTML announcement: `body` attribute can contain HTML code.
  * `only_notif`: Notification-only announcement. With this kind of announcements,
  the `body`, `title`, `actionButtonText` and `exitButtonText` are ignored. Type of
  data push. Valid values are: * `text/plain`: Text only data push: `body` property
  must be plain text. * `text/base64`: Base 64 data push: `body` property must be
  encoded in base 64.\n\";s:4:\"enum\";a:4:{i:0;s:10:\"text/plain\";i:1;s:9:\"text/html\";i:2;s:10:\"only_notif\";i:3;s:11:\"text/base64\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"CampaignTypes\";}}}}s:18:\"CampaignListResult\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/CampaignStateResult\";}}s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"activatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:186:\"The
  date at which the campaign was activated (Not present if not yet activated). The
  date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the
  ISO 8601 standard.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:213:\"The
  date at which the campaign should be finished if specified. The date conforms to
  the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
  Applicable only to announcements and polls.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"finishedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:184:\"The
  date at which the campaign was finished (Not present if not yet finished). The date
  conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO
  8601 standard.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of the campaign.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"The
  date at which the campaign should be started if specified. The date conforms to
  the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
  Applicable only to announcements and polls.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"The
  id of the time zone to use for the `startTime` and `endTime` dates. If not provided,
  the two date attributes are referencing to the device timezone. Applicable only
  to announcements and polls.\n\";s:4:\"type\";s:6:\"string\";}}}s:20:\"CampaignLocalization\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:16:\"actionButtonText\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Text
  of the action button for text/web announcements and polls (answer button).\";s:9:\"maxLength\";i:64;s:4:\"type\";s:6:\"string\";}s:9:\"actionUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"URL
  to launch when the announcement is actioned.\";s:9:\"maxLength\";i:2000;s:4:\"type\";s:6:\"string\";}s:4:\"body\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Body
  of the text/web announcement, poll or data push. This field supports appInfo markers.\";s:9:\"maxLength\";i:65535;s:4:\"type\";s:6:\"string\";}s:14:\"exitButtonText\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Text
  of the exit button for text/web announcements and polls.\";s:9:\"maxLength\";i:64;s:4:\"type\";s:6:\"string\";}s:17:\"notificationImage\";O:8:\"stdClass\":4:{s:11:\"description\";s:256:\"Optional
  image encoded in base 64. Usually included in the right part of in app notifications
  (or as a banner if there is neither text nor content icon). For Android system notifications,
  the image is used as the large icon (displayed only on Android 3+).\n\";s:6:\"format\";s:4:\"byte\";s:9:\"maxLength\";i:65535;s:4:\"type\";s:6:\"string\";}s:19:\"notificationMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Message
  of the notification. This field supports appInfo markers.\";s:9:\"maxLength\";i:4000;s:4:\"type\";s:6:\"string\";}s:19:\"notificationOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/NotificationOptions\";s:11:\"description\";s:37:\"Additional
  platform specific options.\";}s:17:\"notificationTitle\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Title
  of the notification. This field supports appInfo markers.\";s:9:\"maxLength\";i:2000;s:4:\"type\";s:6:\"string\";}s:7:\"payload\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Native
  push payload.\";s:4:\"type\";s:6:\"object\";}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Title
  of the announcement or poll. This field supports appInfo markers.\";s:9:\"maxLength\";i:128;s:4:\"type\";s:6:\"string\";}}}s:22:\"CampaignPushParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Campaign\";s:11:\"description\";s:726:\"Alternative
  campaign's content to use instead of the referenced campaign. All campaign's properties
  can be overridden except for the following: `name`, `manualPush`, `audience`, `startTime`
  and `timezone`. `endTime` can be overridden while keeping original `timezone` parameter.
  The effect is to change the client side expiration of the received campaign for
  the specific devices. If your campaign is a *poll*, the provided data should contain
  the same number of questions and choices that the one you created with the create
  command. Please note that all the push messages created using this parameter will
  expire after 4 weeks at maximum (`endTime` property of the campaign will be used
  if lower than 4 weeks in the future).\";}s:9:\"deviceIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"Device
  identifiers to push as a JSON array of strings. Note that if you want to push the
  same campaign several times to the same device, you need to make several API calls.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:9:\"deviceIds\";}}s:18:\"CampaignPushResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"invalidDeviceIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:435:\"A
  JSON array containing all identifiers that have been rejected. A device can be rejected
  for the following reasons: * The device hasn\u2019t reported any session yet. *
  The device is over quota (if a push quota filter is applied on your campaign). Please
  note that if the request parameters are valid but all the specified devices are
  rejected, the status code is still `200` with a response including all the devices
  as being rejected.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:14:\"CampaignResult\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Campaign\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"activatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:184:\"The
  date at which the campaign was activated (Not present if not yet activated). The
  date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ as specified by the
  ISO 8601 standard.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"finishedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"The
  date at which the campaign was finished (Not present if not yet finished). The date
  conforms to the following format: yyyy-MM-ddTHH:mm:ssZ as specified by the ISO 8601
  standard.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Campaign
  identifier.\";s:4:\"type\";s:7:\"integer\";}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"State
  of the campaign, or 'queued' when testing a campaign.\";s:4:\"enum\";a:5:{i:0;s:5:\"draft\";i:1;s:9:\"scheduled\";i:2;s:11:\"in-progress\";i:3;s:8:\"finished\";i:4;s:6:\"queued\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:14:\"CampaignStates\";}}}}s:13:\"CampaignState\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"State
  of the campaign, or 'queued' when testing a campaign.\";s:4:\"enum\";a:5:{i:0;s:5:\"draft\";i:1;s:9:\"scheduled\";i:2;s:11:\"in-progress\";i:3;s:8:\"finished\";i:4;s:6:\"queued\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:14:\"CampaignStates\";}}}}s:19:\"CampaignStateResult\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CampaignState\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Campaign
  identifier.\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:24:\"CampaignStatisticsResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":17:{s:7:\"answers\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:25:\"Poll
  specific statistics.\";s:4:\"type\";s:6:\"object\";}s:16:\"content-actioned\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Number
  of times the campaign\u2019s content view was actioned (Not present in case of a
  notification-only announcement or a native-push).\";s:4:\"type\";s:7:\"integer\";}s:17:\"content-displayed\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"Number
  of times the campaign\u2019s content view was displayed (Not present in case of
  a notification-only announcement, a data-push or a native-push).\";s:4:\"type\";s:7:\"integer\";}s:14:\"content-exited\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Number
  of times the campaign\u2019s content view was exited (Not present in case of a notification-only
  announcement or a native-push).\";s:4:\"type\";s:7:\"integer\";}s:9:\"delivered\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Number
  of times the campaign was received by the application (Not present in case of a
  native-push).\";s:4:\"type\";s:7:\"integer\";}s:7:\"dropped\";O:8:\"stdClass\":2:{s:11:\"description\";s:222:\"Number
  of times the campaign was dropped by the application. It can happen if the SDK failed
  to parse the campaign payload or if an error occurred while trying to notify the
  end-user (Not present in case of a native-push).\";s:4:\"type\";s:7:\"integer\";}s:28:\"in-app-notification-actioned\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Number
  of times the in-app notification was actioned (Not present in case of a data-push
  or a native-push).\";s:4:\"type\";s:7:\"integer\";}s:29:\"in-app-notification-displayed\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Number
  of times the in-app notification was displayed (Not present in case of a data-push
  or a native-push).\";s:4:\"type\";s:7:\"integer\";}s:26:\"in-app-notification-exited\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Number
  of times the in-app notification was exited (Not present in case of a data-push
  or a native-push).\";s:4:\"type\";s:7:\"integer\";}s:6:\"pushed\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Number
  of pushes performed.\";s:4:\"type\";s:7:\"integer\";}s:13:\"pushed-native\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Total
  number of native pushes. Information only available on Android, iOS, Windows Phone
  and Windows applications.\";s:4:\"type\";s:7:\"integer\";}s:17:\"pushed-native-adm\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Number
  of ADM pushes (available only on Android applications).\";s:4:\"type\";s:7:\"integer\";}s:20:\"pushed-native-google\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Number
  of C2DM/GCM pushes (available only on Android applications).\";s:4:\"type\";s:7:\"integer\";}s:6:\"queued\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Number
  of times the campaign was registered to be pushed.\";s:4:\"type\";s:7:\"integer\";}s:28:\"system-notification-actioned\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"Number
  of times the system notification (On Android it corresponds to a status bar notification.
  On iOS, it is the Apple Push notification) was actioned.\";s:4:\"type\";s:7:\"integer\";}s:29:\"system-notification-displayed\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"Number
  of times the system notification was displayed (Not present in case of a data-push
  or a native-push). On Android it corresponds to a status bar notification.\";s:4:\"type\";s:7:\"integer\";}s:26:\"system-notification-exited\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Number
  of times the system notification was exited (Not present in case of a data-push
  or a native-push).\";s:4:\"type\";s:7:\"integer\";}}}s:25:\"CampaignTestNewParameters\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/CampaignTestSavedParameters\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Campaign\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:27:\"CampaignTestSavedParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"deviceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Device
  identifier (as returned by the SDK).\";s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"The
  language to test expressed using ISO 639-1 code. The default language of the campaign
  will be used if the parameter is not provided.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"deviceId\";}}s:12:\"CampaignType\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Campaign
  type.\";s:4:\"enum\";a:4:{i:0;s:12:\"Announcement\";i:1;s:8:\"DataPush\";i:2;s:10:\"NativePush\";i:3;s:4:\"Poll\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:12:\"CampaignType\";}}s:19:\"CampaignsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  campaigns list result.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:177:\"When
  using `top` parameter and if partial results are returned, this property describes
  a URI path to get the next results. This property is not set when reaching the last
  page.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  list of campaigns.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CampaignListResult\";}s:4:\"type\";s:5:\"array\";}}}s:23:\"CarrierCountryCriterion\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Criterion\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Two-characters
  country code (ISO 3166-1).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:54:\"Used
  to target devices based on their carrier country.\";s:24:\"x-ms-discriminator-value\";s:15:\"carrier-country\";}s:20:\"CarrierNameCriterion\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Criterion\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Carrier
  name value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:51:\"Used
  to target devices based on their carrier name.\";s:24:\"x-ms-discriminator-value\";s:12:\"carrier-name\";}s:9:\"Criterion\";O:8:\"stdClass\":4:{s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:25:\"DatapushFeedbackCriterion\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Criterion\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"action\";O:8:\"stdClass\":4:{s:11:\"description\";s:130:\"Action
  that was performed on the data push (action depends on the return value in the callbacks
  you declared in the client code).\n\";s:4:\"enum\";a:4:{i:0;s:6:\"pushed\";i:1;s:7:\"replied\";i:2;s:8:\"actioned\";i:3;s:6:\"exited\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"CampaignFeedbacks\";}}s:10:\"content-id\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  unique identifier of the data push.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:48:\"Used
  to target devices who received a data push.\";s:24:\"x-ms-discriminator-value\";s:17:\"datapush-feedback\";}s:16:\"DateTagCriterion\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Criterion\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  name of the custom tag.\";s:4:\"type\";s:6:\"string\";}s:2:\"op\";O:8:\"stdClass\":4:{s:11:\"description\";s:141:\"comparison
  operator: `EQ` (equal to), `LT` (less than), `GT` (greater than), `LE` (less than
  or equal to) or `GE` (greater than or equal to).\";s:4:\"enum\";a:5:{i:0;s:2:\"EQ\";i:1;s:2:\"LT\";i:2;s:2:\"GT\";i:3;s:2:\"LE\";i:4;s:2:\"GE\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"AudienceOperators\";}}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"It
  can be either: * an absolute date using yyyy-MM-dd format (e.g. 1969-12-07 stands
  for 7 Dec 1969). * an offset in days relative to the current day (`TODAY` + `value`).\n\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:41:\"Target
  devices based on a date tag value.\";s:24:\"x-ms-discriminator-value\";s:8:\"date-tag\";}s:6:\"Device\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"appInfo\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:53:\"Also
  known as tags, a key-value set as a JSON object.\";s:4:\"type\";s:6:\"object\";}s:8:\"deviceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  device result.\";s:4:\"type\";s:6:\"string\";}s:4:\"info\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DeviceInfo\";s:11:\"description\";s:97:\"Last
  technical data received (concerning device, system, network and application identification).\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DeviceLocation\";s:11:\"description\";s:32:\"Last
  geo-location data received.\";}s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DeviceMeta\";s:11:\"description\";s:23:\"Application
  usage data.\";}}s:8:\"required\";a:1:{i:0;s:8:\"deviceId\";}}s:10:\"DeviceInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":14:{s:15:\"androidAPILevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Android
  API level.\";s:4:\"type\";s:7:\"integer\";}s:22:\"applicationVersionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Application
  version code.\";s:4:\"type\";s:7:\"integer\";}s:22:\"applicationVersionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Application
  version name.\";s:4:\"type\";s:6:\"string\";}s:14:\"carrierCountry\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Carrier
  country.\";s:4:\"type\";s:6:\"string\";}s:11:\"carrierName\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Carrier
  name.\";s:4:\"type\";s:6:\"string\";}s:12:\"firmwareName\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Firmware
  name.\";s:4:\"type\";s:6:\"string\";}s:15:\"firmwareVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Firmware
  version.\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Locale
  code.\";s:4:\"type\";s:6:\"string\";}s:14:\"networkSubtype\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Network
  sub-type.\";s:4:\"type\";s:6:\"string\";}s:11:\"networkType\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Network
  type.\";s:4:\"type\";s:6:\"string\";}s:17:\"phoneManufacturer\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Phone
  manufacturer\";s:4:\"type\";s:6:\"string\";}s:10:\"phoneModel\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Phone
  model.\";s:4:\"type\";s:6:\"string\";}s:14:\"serviceVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"SDK
  version.\";s:4:\"type\";s:6:\"string\";}s:14:\"timeZoneOffset\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  offset in minutes from UTC for the device time zone, including daylight savings
  time.\";s:4:\"type\";s:7:\"integer\";}}}s:14:\"DeviceLocation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"countrycode\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  ISO 3166 two-letter country code.\";s:4:\"type\";s:6:\"string\";}s:8:\"locality\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"A
  locality within the administrative region, such as a town or city.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"An
  administrative region of the nation, such as a state or province.\";s:4:\"type\";s:6:\"string\";}}}s:27:\"DeviceManufacturerCriterion\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Criterion\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  device manufacturer.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:56:\"Used
  to target devices based on the device manufacturer.\";s:24:\"x-ms-discriminator-value\";s:19:\"device-manufacturer\";}s:10:\"DeviceMeta\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"firstSeen\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"First
  time the device used the application in milliseconds since January 1st, 1970 UTC.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"lastInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Timestamp
  corresponding to the info object in milliseconds since January 1st, 1970 UTC.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"lastLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Timestamp
  corresponding to the location object in milliseconds since January 1st, 1970 UTC.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"lastSeen\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Last
  time the device used the application in milliseconds since January 1st, 1970 UTC.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"nativePushEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:540:\"Boolean
  indicating if native push notifications (like Android\u2019s GCM or Apple\u2019s
  APNS) are enabled for the application. This boolean is set to true when the application
  registers successfully to the native push service, and set to false when the native
  push service reports to Mobile Engagement that the application can no longer be
  pushed (which means that it has been uninstalled). This report is performed a few
  hours after Mobile Engagement has tried to perform a native push to a device on
  which the application has been uninstalled.\";s:4:\"type\";s:7:\"boolean\";}}}s:20:\"DeviceModelCriterion\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Criterion\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  device model.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:49:\"Used
  to target devices based on the device model.\";s:24:\"x-ms-discriminator-value\";s:12:\"device-model\";}s:17:\"DeviceQueryResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"appInfo\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:53:\"Also
  known as tags, a key-value set as a JSON object.\";s:4:\"type\";s:6:\"object\";}s:8:\"deviceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  device result.\";s:4:\"type\";s:6:\"string\";}s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DeviceMeta\";s:11:\"description\";s:23:\"Application
  usage data.\";}}s:8:\"required\";a:1:{i:0;s:8:\"deviceId\";}}s:20:\"DeviceTagsParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"deleteOnNull\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:68:\"If
  this parameter is `true`, tags with a null value will be deleted.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:205:\"A
  JSON object describing the set of tags to record for a set of users. Each key is
  a device/user identifier, each value is itself a key/value set: the tags to set
  for the specified device/user identifier.\n\";}}s:8:\"required\";a:1:{i:0;s:4:\"tags\";}}s:16:\"DeviceTagsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"invalidIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:254:\"A
  JSON array containing all identifiers that have been rejected. Please note that
  if the request parameters are valid but all the specified devices are rejected,
  the status code is still `200` with a response including all the devices as being
  rejected.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:10:\"invalidIds\";}}s:18:\"DevicesQueryResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  campaigns list result.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"If
  partial results are returned, this property describes a URI path to get the next
  result page.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  list of devices.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DeviceQueryResult\";}s:4:\"type\";s:5:\"array\";}}}s:23:\"EngageActiveUsersFilter\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"threshold\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"An
  integer value representing the threshold to apply on this filter.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:70:\"Send
  only to users who have used the app in the last {threshold} days.\";s:24:\"x-ms-discriminator-value\";s:19:\"engage-active-users\";}s:21:\"EngageIdleUsersFilter\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"threshold\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"An
  integer value representing the threshold to apply on this filter.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:73:\"Send
  only to users who haven't used the app in the last {threshold} days.\";s:24:\"x-ms-discriminator-value\";s:17:\"engage-idle-users\";}s:20:\"EngageNewUsersFilter\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"threshold\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"An
  integer value representing the threshold to apply on this filter.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:73:\"Send
  only to users whose first app use is less than {threshold} days old.\";s:24:\"x-ms-discriminator-value\";s:16:\"engage-new-users\";}s:20:\"EngageOldUsersFilter\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"threshold\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"An
  integer value representing the threshold to apply on this filter.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:73:\"Send
  only to users whose first app use is more than {threshold} days old.\";s:24:\"x-ms-discriminator-value\";s:16:\"engage-old-users\";}s:18:\"EngageSubsetFilter\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"max\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"An
  integer value representing the maximum users that should be pushed.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:36:\"Send
  only to a maximum of max users.\";s:24:\"x-ms-discriminator-value\";s:13:\"engage-subset\";}s:6:\"Filter\";O:8:\"stdClass\":4:{s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:24:\"FirmwareVersionCriterion\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Criterion\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Firmware
[...]
