---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:247:\"The Azure SQL
  Database management API provides a RESTful set of web APIs that interact with Azure
  SQL Database services to manage your databases. The API enables users to create,
  retrieve, update, and delete databases, servers, and other entities.\";s:5:\"title\";s:19:\"SqlManagementClient\";s:7:\"version\";s:18:\"2015-05-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:155:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/usages.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:10:\"sql-usages\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/usages:
    get:
      description: Gets all subscription usage metrics in a given location.
      operationId: SubscriptionUsages_ListByLocation
      parameters:
      - description: The name of the region where the resource is located.
        in: path
        name: locationName
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the subscription location usages.
          schema:
            $ref: '#/definitions/SubscriptionUsageListResult'
        default:
          description: '*** Error Responses: ***nn * 400 SubscriptionNotFound - The
            requested subscription was not found.nn * 400 InvalidLocation - An invalid
            location was specified.'
      tags:
      - SubscriptionUsages
      x-ms-examples:
        List subscription usages in the given location.:
          parameters:
            api-version: 2015-05-01-preview
            locationName: WestUS
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/providers/Microsoft.Sql/locations/Onebox/usages/ServerQuota
                  name: ServerQuota
                  properties:
                    currentValue: 1
                    displayName: Regional Server Quota for West US
                    limit: 20
                    unit: Count
                  type: Microsoft.Sql/locations/usages
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/providers/Microsoft.Sql/locations/Onebox/usages/SubscriptionFreeDatabaseCount
                  name: SubscriptionFreeDatabaseCount
                  properties:
                    currentValue: 0
                    displayName: Free Database Count per Subscription for West US
                    limit: 1
                    unit: Count
                  type: Microsoft.Sql/locations/usages
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/providers/Microsoft.Sql/locations/Onebox/usages/SubscriptionFreeDatabaseDaysLeft
                  name: SubscriptionFreeDatabaseDaysLeft
                  properties:
                    currentValue: 365
                    displayName: Free to Basic Database Upgrade count-down in West
                      US
                    limit: 365
                    unit: Count
                  type: Microsoft.Sql/locations/usages
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/usages/{usageName}:
    get:
      description: Gets a subscription usage metric.
      operationId: SubscriptionUsages_Get
      parameters:
      - description: The name of the region where the resource is located.
        in: path
        name: locationName
        required: true
        type: string
      - description: Name of usage metric to return.
        in: path
        name: usageName
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved particular subscription location usage.
          schema:
            $ref: '#/definitions/SubscriptionUsage'
        default:
          description: '*** Error Responses: ***nn * 400 SubscriptionNotFound - The
            requested subscription was not found.nn * 400 InvalidLocation - An invalid
            location was specified.'
      tags:
      - SubscriptionUsages
      x-ms-examples:
        Get specific subscription usage in the given location.:
          parameters:
            api-version: 2015-05-01-preview
            locationName: WestUS
            subscriptionId: 00000000-1111-2222-3333-444444444444
            usageName: ServerQuota
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/providers/Microsoft.Sql/locations/Onebox/usages/ServerQuota
                name: ServerQuota
                properties:
                  currentValue: 1
                  displayName: Regional Server Quota for West US
                  limit: 20
                  unit: Count
                type: Microsoft.Sql/locations/usages
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:17:\"SubscriptionUsage\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:19:\"ARM
  proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:45:\"Usage
  Metric of a Subscription in a Location.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:41:\"#/definitions/SubscriptionUsageProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:27:\"SubscriptionUsageListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"A
  list of subscription usage metrics in a location.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Array
  of results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SubscriptionUsage\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"SubscriptionUsageProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Properties
  of a subscription usage.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"currentValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Current
  value of the metric.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"User-readable
  name of the metric.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Boundary
  value of the metric.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"unit\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Unit
  of the metric.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
