---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:28:\"Azure NotificationHub
  client\";s:5:\"title\";s:32:\"NotificationHubsManagementClient\";s:7:\"version\";s:10:\"2014-09-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:129:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-notificationhubs/2014-09-01/swagger/notificationhubs.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:0;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:20:\"arm-notificationhubs\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/checkNamespaceAvailability:
    post:
      description: Checks the availability of the given service namespace across all
        Windows Azure subscriptions. This is useful because the domain name is created
        based on the service namespace name.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx
      operationId: Namespaces_CheckAvailability
      parameters:
      - description: The namespace name.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/CheckAvailabilityParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/CheckAvailabilityResource'
      tags:
      - Namespaces
  /subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/namespaces:
    get:
      description: Lists all the available namespaces within the subscription irrespective
        of the resourceGroups.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx
      operationId: Namespaces_ListAll
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/NamespaceListResult'
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces:
    get:
      description: Lists the available namespaces within a resourceGroup.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx
      operationId: Namespaces_List
      parameters:
      - description: The name of the resource group. If resourceGroupName value is
          null the method lists all the namespaces within subscription
        in: path
        name: resourceGroupName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/NamespaceListResult'
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}
  : delete:
      description: Deletes an existing namespace. This operation also removes all
        associated notificationHubs under the namespace.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj856296.aspx
      operationId: Namespaces_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
        202:
          description: ""
        204:
          description: ""
      tags:
      - Namespaces
      x-ms-long-running-operation: true
    get:
      description: Returns the description for the specified namespace.
      externalDocs:
        url: http://msdn.microsoft.com/library/azure/dn140232.aspx
      operationId: Namespaces_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/NamespaceResource'
      tags:
      - Namespaces
    put:
      description: Creates/Updates a service namespace. Once created, this namespace's
        resource manifest is immutable. This operation is idempotent.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx
      operationId: Namespaces_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: Parameters supplied to create a Namespace Resource.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/NamespaceCreateOrUpdateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/NamespaceResource'
        201:
          description: ""
          schema:
            $ref: '#/definitions/NamespaceResource'
      tags:
      - Namespaces
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules
  : post:
      description: Gets the authorization rules for a namespace.
      operationId: Namespaces_ListAuthorizationRules
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleListResult'
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes a namespace authorization rule
      operationId: Namespaces_DeleteAuthorizationRule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: Authorization Rule Name.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
        204:
          description: ""
      tags:
      - Namespaces
    post:
      description: Gets an authorization rule for a namespace by name.
      operationId: Namespaces_GetAuthorizationRule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        type: string
      - description: Authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleResource'
      tags:
      - Namespaces
    put:
      description: Creates an authorization rule for a namespace
      operationId: Namespaces_CreateOrUpdateAuthorizationRule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: Aauthorization Rule Name.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - description: The shared access authorization rule.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleResource'
      tags:
      - Namespaces
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys
  : post:
      description: 'Gets the Primary and Secondary ConnectionStrings to the namespace '
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
      operationId: Namespaces_ListKeys
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The connection string of the namespace for the specified authorizationRule.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/ResourceListKeys'
      tags:
      - Namespaces
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/checkNotificationHubAvailability
  : post:
      description: Checks the availability of the given notificationHub in a namespace.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx
      operationId: NotificationHubs_CheckAvailability
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notificationHub name.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/CheckAvailabilityParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/CheckAvailabilityResource'
      tags:
      - NotificationHubs
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs
  : get:
      description: Lists the notification hubs associated with a namespace.
      operationId: NotificationHubs_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/NotificationHubListResult'
      tags:
      - NotificationHubs
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}
  : delete:
      description: Deletes a notification hub associated with a namespace.
      operationId: NotificationHubs_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
      tags:
      - NotificationHubs
    get:
      description: Lists the notification hubs associated with a namespace.
      operationId: NotificationHubs_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/NotificationHubResource'
      tags:
      - NotificationHubs
    put:
      description: Creates/Update a NotificationHub in a namespace.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx
      operationId: NotificationHubs_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - description: Parameters supplied to the create/update a NotificationHub Resource.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/NotificationHubCreateOrUpdateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/NotificationHubResource'
        201:
          description: ""
          schema:
            $ref: '#/definitions/NotificationHubResource'
      tags:
      - NotificationHubs
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules
  : post:
      description: Gets the authorization rules for a NotificationHub.
      operationId: NotificationHubs_ListAuthorizationRules
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleListResult'
      tags:
      - NotificationHubs
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes a notificationHub authorization rule
      operationId: NotificationHubs_DeleteAuthorizationRule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - description: Authorization Rule Name.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
        204:
          description: ""
      tags:
      - NotificationHubs
    post:
      description: Gets an authorization rule for a NotificationHub by name.
      operationId: NotificationHubs_GetAuthorizationRule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - description: authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleResource'
      tags:
      - NotificationHubs
    put:
      description: Creates/Updates an authorization rule for a NotificationHub
      operationId: NotificationHubs_CreateOrUpdateAuthorizationRule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - description: Authorization Rule Name.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - description: The shared access authorization rule.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleResource'
      tags:
      - NotificationHubs
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/listKeys
  : post:
      description: 'Gets the Primary and Secondary ConnectionStrings to the NotificationHub '
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
      operationId: NotificationHubs_ListKeys
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - description: The connection string of the NotificationHub for the specified
          authorizationRule.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/ResourceListKeys'
      tags:
      - NotificationHubs
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/pnsCredentials
  : post:
      description: Lists the PNS Credentials associated with a notification hub .
      operationId: NotificationHubs_GetPnsCredentials
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/NotificationHubResource'
      tags:
      - NotificationHubs
  /{operationStatusLink}:
    get:
      description: The Get Operation Status operation returns the status of the specified
        operation. After calling an asynchronous operation, you can call Get Operation
        Status to determine whether the operation has succeeded, failed, or is still
        in progress.
      operationId: Namespaces_GetLongRunningOperationStatus
      parameters:
      - description: Location value returned by the Begin operation.
        in: path
        name: operationStatusLink
        required: true
        type: string
        x-ms-skip-url-encoding: true
      responses:
        200:
          description: ""
        202:
          description: ""
        404:
          description: ""
      tags:
      - Namespaces
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":29:{s:13:\"AdmCredential\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Description
  of a NotificationHub AdmCredential.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/AdmCredentialProperties\";s:11:\"description\";s:57:\"Gets
  or sets properties of NotificationHub AdmCredential.\";}}}s:23:\"AdmCredentialProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Description
  of a NotificationHub AdmCredential.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"authTokenUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Gets
  or sets the URL of the authorization token.\";s:4:\"type\";s:6:\"string\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Gets
  or sets the client identifier.\";s:4:\"type\";s:6:\"string\";}s:12:\"clientSecret\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Gets
  or sets the credential secret access key.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"ApnsCredential\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Description
  of a NotificationHub ApnsCredential.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ApnsCredentialProperties\";s:11:\"description\";s:58:\"Gets
  or sets properties of NotificationHub ApnsCredential.\";}}}s:24:\"ApnsCredentialProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Description
  of a NotificationHub ApnsCredential.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"apnsCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets the APNS certificate.\";s:4:\"type\";s:6:\"string\";}s:14:\"certificateKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Gets
  or sets the certificate key.\";s:4:\"type\";s:6:\"string\";}s:8:\"endpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Gets
  or sets the endpoint of this credential.\";s:4:\"type\";s:6:\"string\";}s:10:\"thumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  or sets the Apns certificate Thumbprint\";s:4:\"type\";s:6:\"string\";}}}s:15:\"BaiduCredential\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Description
  of a NotificationHub BaiduCredential.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BaiduCredentialProperties\";s:11:\"description\";s:59:\"Gets
  or sets properties of NotificationHub BaiduCredential.\";}}}s:25:\"BaiduCredentialProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Description
  of a NotificationHub BaiduCredential.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"baiduApiKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Get
  or Set Baidu Api Key.\";s:4:\"type\";s:6:\"string\";}s:13:\"baiduEndPoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Get
  or Set Baidu Endpoint.\";s:4:\"type\";s:6:\"string\";}s:14:\"baiduSecretKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Get
  or Set Baidu Secret Key\";s:4:\"type\";s:6:\"string\";}}}s:27:\"CheckAvailabilityParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Parameters
  supplied to the Check Name Availability for Namespace and NotificationHubs.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"isAvailiable\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Gets
  or sets true if the name is available and can be used to create new Namespace/NotificationHub.
  Otherwise false.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Gets
  or sets location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Gets
  or sets name\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"Gets
  or sets tags.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:25:\"CheckAvailabilityResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Description
  of a CheckAvailibility resource.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Gets
  or sets the id\";s:4:\"type\";s:6:\"string\";}s:12:\"isAvailiable\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Gets
  or sets true if the name is available and can be used to create new Namespace/NotificationHub.
  Otherwise false.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Gets
  or sets datacenter location\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Gets
  or sets name\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:17:\"Gets
  or sets tags\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Gets
  or sets resource type\";s:4:\"type\";s:6:\"string\";}}}s:13:\"GcmCredential\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Description
  of a NotificationHub GcmCredential.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/GcmCredentialProperties\";s:11:\"description\";s:57:\"Gets
  or sets properties of NotificationHub GcmCredential.\";}}}s:23:\"GcmCredentialProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Description
  of a NotificationHub GcmCredential.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"gcmEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Gets
  or sets the GCM endpoint.\";s:4:\"type\";s:6:\"string\";}s:12:\"googleApiKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Gets
  or sets the Google API key.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"MpnsCredential\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Description
  of a NotificationHub MpnsCredential.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/MpnsCredentialProperties\";s:11:\"description\";s:58:\"Gets
  or sets properties of NotificationHub MpnsCredential.\";}}}s:24:\"MpnsCredentialProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Description
  of a NotificationHub MpnsCredential.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"certificateKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Gets
  or sets the certificate key for this credential.\";s:4:\"type\";s:6:\"string\";}s:15:\"mpnsCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets the MPNS certificate.\";s:4:\"type\";s:6:\"string\";}s:10:\"thumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  or sets the Mpns certificate Thumbprint\";s:4:\"type\";s:6:\"string\";}}}s:33:\"NamespaceCreateOrUpdateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Parameters
  supplied to the CreateOrUpdate Namespace operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  or sets Namespace data center location.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/NamespaceProperties\";s:11:\"description\";s:41:\"Gets
  or sets properties of the Namespace.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:28:\"Gets
  or sets Namespace tags.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:8:\"location\";i:1;s:10:\"properties\";}}s:19:\"NamespaceListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  response of the List Namespace operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Gets
  or sets link to the next set of results. Not empty if Value contains incomplete
  list of Namespaces\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Gets
  or sets result of the List Namespace operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/NamespaceResource\";}s:4:\"type\";s:5:\"array\";}}}s:19:\"NamespaceProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Namespace
  properties.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"createdAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  time the namespace was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"critical\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  or not the namespace is set as Critical.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Whether
  or not the namespace is currently enabled.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the namespace.\";s:4:\"type\";s:6:\"string\";}s:13:\"namespaceType\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Gets
  or sets the namespace type.\";s:4:\"enum\";a:2:{i:0;s:9:\"Messaging\";i:1;s:15:\"NotificationHub\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"NamespaceType\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Gets
  or sets provisioning state of the Namespace.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":3:{s:11:\"description\";s:287:\"Specifies
  the targeted region in which the namespace should be created. It can be any of the
  following values: Australia EastAustralia SoutheastCentral USEast USEast US 2West
  USNorth Central USSouth Central USEast AsiaSoutheast AsiaBrazil SouthJapan EastJapan
  WestNorth EuropeWest Europe\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:66:\"http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx\";}s:4:\"type\";s:6:\"string\";}s:9:\"scaleUnit\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"ScaleUnit
  where the namespace gets created\";s:4:\"type\";s:6:\"string\";}s:18:\"serviceBusEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Endpoint
  you can use to perform NotificationHub operations.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:66:\"http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx\";}s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Status
  of the namespace. It can be any of these values:1 = Created/Active2 = Creating3
  = Suspended4 = Deleting\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:66:\"http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx\";}s:4:\"type\";s:6:\"string\";}s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  Id of the Azure subscription associated with the namespace.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"NamespaceResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Description
  of a Namespace resource.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Gets
  or sets the id of the created Namespace.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Gets
  or sets datacenter location of the Namespace.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Gets
  or sets name of the Namespace.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/NamespaceProperties\";s:11:\"description\";s:41:\"Gets
  or sets properties of the Namespace.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:35:\"Gets
  or sets tags of the Namespace.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  or sets resource type of the Namespace.\";s:4:\"type\";s:6:\"string\";}}}s:39:\"NotificationHubCreateOrUpdateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Parameters
  supplied to the CreateOrUpdate NotificationHub operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Gets
  or sets NotificationHub data center location.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/NotificationHubProperties\";s:11:\"description\";s:47:\"Gets
  or sets properties of the NotificationHub.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:34:\"Gets
  or sets NotificationHub tags.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:8:\"location\";i:1;s:10:\"properties\";}}s:25:\"NotificationHubListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  response of the List NotificationHub operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Gets
  or sets link to the next set of results. Not empty if Value contains incomplete
  list of NotificationHub\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Gets
  or sets result of the List NotificationHub operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/NotificationHubResource\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"NotificationHubProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"NotificationHub
  properties.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"admCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AdmCredential\";s:11:\"description\";s:48:\"The
  AdmCredential of the created NotificationHub\";}s:14:\"apnsCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ApnsCredential\";s:11:\"description\";s:49:\"The
  ApnsCredential of the created NotificationHub\";}s:18:\"authorizationRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  AuthorizationRules of the created NotificationHub\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/SharedAccessAuthorizationRuleProperties\";}s:4:\"type\";s:5:\"array\";}s:15:\"baiduCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BaiduCredential\";s:11:\"description\";s:50:\"The
  BaiduCredential of the created NotificationHub\";}s:13:\"gcmCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GcmCredential\";s:11:\"description\";s:48:\"The
  GcmCredential of the created NotificationHub\";}s:14:\"mpnsCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/MpnsCredential\";s:11:\"description\";s:49:\"The
  MpnsCredential of the created NotificationHub\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  NotificationHub name.\";s:4:\"type\";s:6:\"string\";}s:15:\"registrationTtl\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  RegistrationTtl of the created NotificationHub\";s:4:\"type\";s:6:\"string\";}s:13:\"wnsCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/WnsCredential\";s:11:\"description\";s:48:\"The
  WnsCredential of the created NotificationHub\";}}}s:23:\"NotificationHubResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Description
  of a NotificationHub Resource.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Gets
  or sets the id of the created NotificationHub.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Gets
  or sets datacenter location of the NotificationHub.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Gets
  or sets name of the NotificationHub.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/NotificationHubProperties\";s:11:\"description\";s:47:\"Gets
  or sets properties of the NotificationHub.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:41:\"Gets
  or sets tags of the NotificationHub.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Gets
  or sets resource type of the NotificationHub.\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Resource
  Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:16:\"ResourceListKeys\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Namespace/NotificationHub
  Connection String\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"primaryConnectionString\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Gets
  or sets the primaryConnectionString of the created Namespace AuthorizationRule.\";s:4:\"type\";s:6:\"string\";}s:25:\"secondaryConnectionString\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"Gets
  or sets the secondaryConnectionString of the created Namespace AuthorizationRule\";s:4:\"type\";s:6:\"string\";}}}s:53:\"SharedAccessAuthorizationRuleCreateOrUpdateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Parameters
  supplied to the CreateOrUpdate Namespace AuthorizationRules.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  or sets Namespace data center location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Gets
  or sets Name of the Namespace AuthorizationRule.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/SharedAccessAuthorizationRuleProperties\";s:11:\"description\";s:60:\"Gets
  or sets properties of the Namespace AuthorizationRules.\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:39:\"SharedAccessAuthorizationRuleListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  response of the List Namespace operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Gets
  or sets link to the next set of results. Not empty if Value contains incomplete
  list of AuthorizationRules\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Gets
  or sets result of the List AuthorizationRules operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/SharedAccessAuthorizationRuleResource\";}s:4:\"type\";s:5:\"array\";}}}s:39:\"SharedAccessAuthorizationRuleProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"SharedAccessAuthorizationRule
  properties.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"claimType\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  type of the claim.\";s:4:\"type\";s:6:\"string\";}s:10:\"claimValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  value of the claim.\";s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  time at which the authorization rule was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"keyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  name of the key that was used.\";s:4:\"type\";s:6:\"string\";}s:12:\"modifiedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  most recent time the rule was updated.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"primaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  primary key that was used.\";s:4:\"type\";s:6:\"string\";}s:8:\"revision\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  revision number for the rule.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"rights\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  rights associated with the rule.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:6:\"Manage\";i:1;s:4:\"Send\";i:2;s:6:\"Listen\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:12:\"AccessRights\";}}s:4:\"type\";s:5:\"array\";}s:12:\"secondaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  secondary key that was used.\";s:4:\"type\";s:6:\"string\";}}}s:37:\"SharedAccessAuthorizationRuleResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Description
  of a Namespace AuthorizationRules.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Gets
  or sets the id of the created Namespace AuthorizationRules.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Gets
  or sets datacenter location of the Namespace AuthorizationRules.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Gets
  or sets name of the Namespace AuthorizationRules.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/SharedAccessAuthorizationRuleProperties\";s:11:\"description\";s:41:\"Gets
  or sets properties of the Namespace.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:54:\"Gets
  or sets tags of the Namespace AuthorizationRules.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Gets
  or sets resource type of the Namespace AuthorizationRules.\";s:4:\"type\";s:6:\"string\";}}}s:11:\"SubResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Resource
  Id\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:13:\"WnsCredential\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Description
  of a NotificationHub WnsCredential.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/WnsCredentialProperties\";s:11:\"description\";s:57:\"Gets
  or sets properties of NotificationHub WnsCredential.\";}}}s:23:\"WnsCredentialProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Description
  of a NotificationHub WnsCredential.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"packageSid\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Gets
  or sets the package ID for this credential.\";s:4:\"type\";s:6:\"string\";}s:9:\"secretKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Gets
  or sets the secret key.\";s:4:\"type\";s:6:\"string\";}s:19:\"windowsLiveEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Gets
  or sets the Windows Live endpoint.\";s:4:\"type\";s:6:\"string\";}}}}"
...
