---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"ApiManagementClient\";s:11:\"description\";s:79:\"Use
  this REST API to get all the issues across an Azure Api Management service.\";s:7:\"version\";s:18:\"2018-06-01-preview\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/issues
  : get:
      tags:
      - Issues
      operationId: Issue_ListByService
      description: Lists a collection of issues in the specified service instance.
      x-ms-examples:
        ApiManagementListLoggers:
          $ref: ./examples/ApiManagementListIssues.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|n|
          id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith
          |n| state        | eq                     |                                   |n|
          userId          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith
          |'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Lists a collection of Issue entities.
          schema:
            $ref: ./apimapis.json#/definitions/IssueCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./apimapis.json#/definitions/IssueContract
produces:
- application/json
schemes:
- https
...
