---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:29:\"AuthorizationManagementClient\";s:7:\"version\";s:18:\"2018-01-01-preview\";s:11:\"description\";s:364:\"Role
  based access control provides you a way to apply granular level policy administration
  down to individual resources or resource groups. These operations enable you to
  manage role definitions and role assignments. A role definition describes the set
  of actions that can be performed on resources. A role assignment grants access to
  Azure Active Directory users.\";}"
host: management.azure.com
paths:
  /providers/Microsoft.Authorization/providerOperations/{resourceProviderNamespace}:
    get:
      tags:
      - ProviderOperationsMetadata
      operationId: ProviderOperationsMetadata_Get
      description: Gets provider operations metadata for the specified resource provider.
      parameters:
      - $ref: '#/parameters/ResourceProviderNamespaceParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: $expand
        in: query
        required: false
        type: string
        default: resourceTypes
        description: Specifies whether to expand the values.
      responses:
        200:
          description: OK - Returns the operations metadata.
          schema:
            $ref: '#/definitions/ProviderOperationsMetadata'
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/GetProviderOperationsRP.json
  /providers/Microsoft.Authorization/providerOperations:
    get:
      tags:
      - ProviderOperationsMetadata
      operationId: ProviderOperationsMetadata_List
      description: Gets provider operations metadata for all resource providers.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - name: $expand
        in: query
        required: false
        type: string
        default: resourceTypes
        description: Specifies whether to expand the values.
      responses:
        200:
          description: OK - Returns an array of the operations metadata.
          schema:
            $ref: '#/definitions/ProviderOperationsMetadataListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/GetAllProviderOperations.json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Authorization/permissions:
    get:
      tags:
      - Permissions
      operationId: Permissions_ListForResourceGroup
      description: Gets all permissions the caller has for a resource group.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK - Returns an array of permissions.
          schema:
            $ref: '#/definitions/PermissionGetResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/GetPermissions.json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/permissions
  : get:
      tags:
      - Permissions
      operationId: Permissions_ListForResource
      description: Gets all permissions the caller has for a resource.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ResourceProviderNamespaceParameter'
      - name: parentResourcePath
        in: path
        required: true
        type: string
        description: The parent resource identity.
        x-ms-skip-url-encoding: true
      - name: resourceType
        in: path
        required: true
        type: string
        description: The resource type of the resource.
        x-ms-skip-url-encoding: true
      - name: resourceName
        in: path
        required: true
        type: string
        description: The name of the resource to get the permissions for.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK - Returns an array of permissions.
          schema:
            $ref: '#/definitions/PermissionGetResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/GetResourcePermissions.json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/roleAssignments
  : get:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_ListForResource
      description: Gets role assignments for a resource.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ResourceProviderNamespaceParameter'
      - name: parentResourcePath
        in: path
        required: true
        type: string
        description: The parent resource identity.
        x-ms-skip-url-encoding: true
      - name: resourceType
        in: path
        required: true
        type: string
        description: The resource type of the resource.
        x-ms-skip-url-encoding: true
      - name: resourceName
        in: path
        required: true
        type: string
        description: The name of the resource to get role assignments for.
      - name: $filter
        in: query
        required: false
        type: string
        description: The filter to apply on the operation. Use $filter=atScope() to
          return all role assignments at or above the scope. Use $filter=principalId
          eq {id} to return all role assignments at, above or below the scope for
          the specified principal.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK - Returns an array of role assignments.
          schema:
            $ref: '#/definitions/RoleAssignmentListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/RoleAssignmentFilter'
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/GetRoleAssignmentsForResource.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/roleAssignments:
    get:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_ListForResourceGroup
      description: Gets role assignments for a resource group.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: $filter
        in: query
        required: false
        type: string
        description: The filter to apply on the operation. Use $filter=atScope() to
          return all role assignments at or above the scope. Use $filter=principalId
          eq {id} to return all role assignments at, above or below the scope for
          the specified principal.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK - Returns an array of role assignments.
          schema:
            $ref: '#/definitions/RoleAssignmentListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/RoleAssignmentFilter'
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/GetRoleAssignmentsForResourceGroup.json
  /{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}:
    delete:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_Delete
      description: Deletes a role assignment.
      parameters:
      - name: scope
        in: path
        required: true
        type: string
        description: The scope of the role assignment to delete.
        x-ms-skip-url-encoding: true
      - name: roleAssignmentName
        in: path
        required: true
        type: string
        description: The name of the role assignment to delete.
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK - Returns information about the role assignment.
          schema:
            $ref: '#/definitions/RoleAssignment'
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/DeleteRoleAssignmentByName.json
    put:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_Create
      description: Creates a role assignment.
      parameters:
      - name: scope
        in: path
        required: true
        type: string
        description: The scope of the role assignment to create. The scope can be
          any REST resource instance. For example, use '/subscriptions/{subscription-id}/'
          for a subscription, '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'
          for a resource group, and '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider}/{resource-type}/{resource-name}'
          for a resource.
        x-ms-skip-url-encoding: true
      - name: roleAssignmentName
        in: path
        required: true
        type: string
        description: The name of the role assignment to create. It can be any valid
          GUID.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/RoleAssignmentCreateParameters'
        description: Parameters for the role assignment.
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        201:
          description: Created - Returns information about the role assignment.
          schema:
            $ref: '#/definitions/RoleAssignment'
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/PutRoleAssignment.json
    get:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_Get
      description: Get the specified role assignment.
      parameters:
      - name: scope
        in: path
        required: true
        type: string
        description: The scope of the role assignment.
        x-ms-skip-url-encoding: true
      - name: roleAssignmentName
        in: path
        required: true
        type: string
        description: The name of the role assignment to get.
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK - Returns information about the role assignment.
          schema:
            $ref: '#/definitions/RoleAssignment'
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/GetRoleAssignmentByName.json
  /{roleId}:
    delete:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_DeleteById
      description: Deletes a role assignment.
      parameters:
      - name: roleId
        in: path
        required: true
        type: string
        description: The ID of the role assignment to delete.
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK - Returns information about the role assignment.
          schema:
            $ref: '#/definitions/RoleAssignment'
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/DeleteRoleAssignmentById.json
    put:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_CreateById
      description: Creates a role assignment by ID.
      parameters:
      - name: roleId
        in: path
        required: true
        type: string
        description: The ID of the role assignment to create.
        x-ms-skip-url-encoding: true
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/RoleAssignmentCreateParameters'
        description: Parameters for the role assignment.
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        201:
          description: Created - Returns the role assignment.
          schema:
            $ref: '#/definitions/RoleAssignment'
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/PutRoleAssignmentById.json
    get:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_GetById
      description: Gets a role assignment by ID.
      parameters:
      - name: roleId
        in: path
        required: true
        type: string
        description: The ID of the role assignment to get.
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK - Returns the role assignment.
          schema:
            $ref: '#/definitions/RoleAssignment'
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/GetRoleAssignmentById.json
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/roleAssignments:
    get:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_List
      description: Gets all role assignments for the subscription.
      parameters:
      - name: $filter
        in: query
        required: false
        type: string
        description: The filter to apply on the operation. Use $filter=atScope() to
          return all role assignments at or above the scope. Use $filter=principalId
          eq {id} to return all role assignments at, above or below the scope for
          the specified principal.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK - Returns an array of role assignments.
          schema:
            $ref: '#/definitions/RoleAssignmentListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/RoleAssignmentFilter'
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/GetAllRoleAssignments.json
  /{scope}/providers/Microsoft.Authorization/roleAssignments:
    get:
      tags:
      - RoleAssignments
      operationId: RoleAssignments_ListForScope
      description: Gets role assignments for a scope.
      parameters:
      - name: scope
        in: path
        required: true
        type: string
        description: The scope of the role assignments.
        x-ms-skip-url-encoding: true
      - name: $filter
        in: query
        required: false
        type: string
        description: The filter to apply on the operation. Use $filter=atScope() to
          return all role assignments at or above the scope. Use $filter=principalId
          eq {id} to return all role assignments at, above or below the scope for
          the specified principal.
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK - Returns an array of role assignments.
          schema:
            $ref: '#/definitions/RoleAssignmentListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/RoleAssignmentFilter'
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/GetRoleAssignmentByScope.json
  /{scope}/providers/Microsoft.Authorization/roleDefinitions/{roleDefinitionId}:
    delete:
      tags:
      - RoleDefinitions
      operationId: RoleDefinitions_Delete
      description: Deletes a role definition.
      parameters:
      - name: scope
        in: path
        required: true
        type: string
        description: The scope of the role definition.
        x-ms-skip-url-encoding: true
      - name: roleDefinitionId
        in: path
        required: true
        type: string
        description: The ID of the role definition to delete.
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK - Returns information about the role definition.
          schema:
            $ref: '#/definitions/RoleDefinition'
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/DeleteRoleDefinition.json
    get:
      tags:
      - RoleDefinitions
      operationId: RoleDefinitions_Get
      description: Get role definition by name (GUID).
      parameters:
      - name: scope
        in: path
        required: true
        type: string
        description: The scope of the role definition.
        x-ms-skip-url-encoding: true
      - name: roleDefinitionId
        in: path
        required: true
        type: string
        description: The ID of the role definition.
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK - Returns information about the role definition.
          schema:
            $ref: '#/definitions/RoleDefinition'
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/GetRoleDefinitionByName.json
    put:
      tags:
      - RoleDefinitions
      operationId: RoleDefinitions_CreateOrUpdate
      description: Creates or updates a role definition.
      parameters:
      - name: scope
        in: path
        required: true
        type: string
        description: The scope of the role definition.
        x-ms-skip-url-encoding: true
      - name: roleDefinitionId
        in: path
        required: true
        type: string
        description: The ID of the role definition.
      - name: roleDefinition
        in: body
        required: true
        schema:
          $ref: '#/definitions/RoleDefinition'
        description: The values for the role definition.
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        201:
          description: OK - Returns information about the role definition.
          schema:
            $ref: '#/definitions/RoleDefinition'
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/PutRoleDefinition.json
  /{scope}/providers/Microsoft.Authorization/roleDefinitions:
    get:
      tags:
      - RoleDefinitions
      operationId: RoleDefinitions_List
      description: Get all role definitions that are applicable at scope and above.
      parameters:
      - name: scope
        in: path
        required: true
        type: string
        description: The scope of the role definition.
        x-ms-skip-url-encoding: true
      - name: $filter
        in: query
        required: false
        type: string
        description: The filter to apply on the operation. Use atScopeAndBelow filter
          to search below the given scope as well.
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK - Returns an array of role definitions.
          schema:
            $ref: '#/definitions/RoleDefinitionListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/RoleDefinitionFilter'
      x-ms-examples:
        GetConfigurations:
          $ref: ./examples/GetRoleDefinitionAtScope.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:17:\"ProviderOperation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  operation name.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  operation display name.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  operation description.\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  operation origin.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:25:\"The
  operation properties.\";}s:12:\"isDataAction\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:50:\"The
  dataAction flag to specify the operation type.\";}}s:11:\"description\";s:9:\"Operation\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  resource type name.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  resource type display name.\";}s:10:\"operations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProviderOperation\";}s:11:\"description\";s:29:\"The
  resource type operations.\";}}s:11:\"description\";s:13:\"Resource Type\";}s:26:\"ProviderOperationsMetadata\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  provider id.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  provider name.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  provider type.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  provider display name.\";}s:13:\"resourceTypes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";}s:11:\"description\";s:27:\"The
  provider resource types\";}s:10:\"operations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProviderOperation\";}s:11:\"description\";s:24:\"The
  provider operations.\";}}s:11:\"description\";s:28:\"Provider Operations metadata\";}s:36:\"ProviderOperationsMetadataListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ProviderOperationsMetadata\";}s:11:\"description\";s:22:\"The
  list of providers.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  URL to use for getting the next set of results.\";}}s:11:\"description\";s:33:\"Provider
  operations metadata list\";}s:19:\"PermissionGetResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Permission\";}s:11:\"description\";s:24:\"An
  array of permissions.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  URL to use for getting the next set of results.\";}}s:11:\"description\";s:24:\"Permissions
  information.\";}s:20:\"RoleDefinitionFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"roleName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Returns
  role definition with the specific name.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Returns
  role definition with the specific type.\";}}s:11:\"description\";s:23:\"Role Definitions
  filter\";}s:24:\"RoleDefinitionProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"roleName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  role name.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  role definition description.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  role type.\";s:16:\"x-ms-client-name\";s:8:\"roleType\";}s:11:\"permissions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Permission\";}s:11:\"description\";s:28:\"Role
  definition permissions.\";}s:16:\"assignableScopes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:34:\"Role
  definition assignable scopes.\";}}s:11:\"description\";s:27:\"Role definition properties.\";}s:14:\"RoleDefinition\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:23:\"The
  role definition ID.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:25:\"The
  role definition name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:25:\"The
  role definition type.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:38:\"#/definitions/RoleDefinitionProperties\";s:11:\"description\";s:27:\"Role
  definition properties.\";}}s:11:\"description\";s:16:\"Role definition.\";}s:24:\"RoleDefinitionListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RoleDefinition\";}s:11:\"description\";s:21:\"Role
  definition list.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  URL to use for getting the next set of results.\";}}s:11:\"description\";s:38:\"Role
  definition list operation result.\";}s:20:\"RoleAssignmentFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"principalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Returns
  role assignment of the specific principal.\";}s:11:\"canDelegate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:42:\"The
  Delegation flag for the roleassignment\";}}s:11:\"description\";s:23:\"Role Assignments
  filter\";}s:33:\"RoleAssignmentPropertiesWithScope\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"scope\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  role assignment scope.\";}s:16:\"roleDefinitionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  role definition ID.\";}s:11:\"principalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  principal ID.\";}s:11:\"canDelegate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:42:\"The
  Delegation flag for the roleassignment\";}}s:11:\"description\";s:38:\"Role assignment
  properties with scope.\";}s:14:\"RoleAssignment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:23:\"The
  role assignment ID.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:25:\"The
  role assignment name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:25:\"The
  role assignment type.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:47:\"#/definitions/RoleAssignmentPropertiesWithScope\";s:11:\"description\";s:27:\"Role
  assignment properties.\";}}s:11:\"description\";s:16:\"Role Assignments\";}s:24:\"RoleAssignmentListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RoleAssignment\";}s:11:\"description\";s:21:\"Role
  assignment list.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  URL to use for getting the next set of results.\";}}s:11:\"description\";s:38:\"Role
  assignment list operation result.\";}s:24:\"RoleAssignmentProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"roleDefinitionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  role definition ID used in the role assignment.\";}s:11:\"principalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:149:\"The
  principal ID assigned to the role. This maps to the ID inside the Active Directory.
  It can point to a user, service principal, or security group.\";}s:11:\"canDelegate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:54:\"The
  delgation flag used for creating a role assignment\";}}s:11:\"description\";s:27:\"Role
  assignment properties.\";}s:30:\"RoleAssignmentCreateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:38:\"#/definitions/RoleAssignmentProperties\";s:11:\"description\";s:27:\"Role
  assignment properties.\";}}s:11:\"description\";s:34:\"Role assignment create parameters.\";}s:10:\"Permission\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"actions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:16:\"Allowed
  actions.\";}s:10:\"notActions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:15:\"Denied
  actions.\";}s:11:\"dataActions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:21:\"Allowed
  Data actions.\";}s:14:\"notDataActions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:20:\"Denied
  Data actions.\";}}s:11:\"description\";s:28:\"Role definition permissions.\";}}"
...
