---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:20:\"AutomationManagement\";s:7:\"version\";s:10:\"2015-10-31\";s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:17:\"useDateTimeOffset\";b:1;}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations/{configurationName}
  : delete:
      tags:
      - DscConfiguration
      operationId: DscConfiguration_Delete
      description: Delete the dsc configuration identified by configuration name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/configurationoperations
      x-ms-examples:
        Delete DSC Configuration:
          $ref: ./examples/deleteDscConfiguration.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: configurationName
        in: path
        required: true
        type: string
        description: The configuration name.
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
        204:
          description: No Content
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
    get:
      tags:
      - DscConfiguration
      operationId: DscConfiguration_Get
      description: Retrieve the configuration identified by configuration name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/configurationoperations
      x-ms-examples:
        Get a DSC Configuration:
          $ref: ./examples/getDscConfiguration.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: configurationName
        in: path
        required: true
        type: string
        description: The configuration name.
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DscConfiguration'
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
    put:
      tags:
      - DscConfiguration
      operationId: DscConfiguration_CreateOrUpdate
      description: Create the configuration identified by configuration name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/configurationoperations
      x-ms-examples:
        Create or Update Configuration:
          $ref: ./examples/createOrUpdateDscConfiguration.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: configurationName
        in: path
        required: true
        type: string
        description: The create or update parameters for configuration.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/DscConfigurationCreateOrUpdateParameters'
        description: The create or update parameters for configuration.
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DscConfiguration'
        201:
          description: Created
          schema:
            $ref: '#/definitions/DscConfiguration'
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
    patch:
      tags:
      - DscConfiguration
      operationId: DscConfiguration_Update
      description: Create the configuration identified by configuration name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/configurationoperations
      x-ms-examples:
        Create or Update Configuration:
          $ref: ./examples/updateDscConfiguration.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: configurationName
        in: path
        required: true
        type: string
        description: The create or update parameters for configuration.
      - name: parameters
        in: body
        schema:
          $ref: '#/definitions/DscConfigurationUpdateParameters'
        description: The create or update parameters for configuration.
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DscConfiguration'
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations/{configurationName}/content
  : get:
      tags:
      - DscConfiguration
      operationId: DscConfiguration_GetContent
      description: Retrieve the configuration script identified by configuration name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/configurationoperations
      x-ms-examples:
        Get DSC Configuration content:
          $ref: ./examples/getDscConfigurationContent.json
      produces:
      - text/powershell
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: configurationName
        in: path
        required: true
        type: string
        description: The configuration name.
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            type: file
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations
  : get:
      tags:
      - DscConfiguration
      operationId: DscConfiguration_ListByAutomationAccount
      description: Retrieve a list of configurations.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/configurationoperations
      x-ms-examples:
        Get DSC Configuration:
          $ref: ./examples/getAllDscConfigurations.json
        List Paged DSC Configurations with no filter:
          $ref: ./examples/getPagedDscConfigurationsWithNoFilter.json
        List Paged DSC Configurations with name filter:
          $ref: ./examples/getPagedlDscConfigurationsWithNameFilter.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: The filter to apply on the operation.
      - name: $skip
        in: query
        required: false
        type: integer
        description: The number of rows to skip.
      - name: $top
        in: query
        required: false
        type: integer
        description: The the number of rows to take.
      - name: $inlinecount
        in: query
        required: false
        type: string
        description: Return total rows.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DscConfigurationListResult'
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/DscConfiguration'
produces:
- application/json
- text/plain; charset=utf-8
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:11:\"ContentHash\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"algorithm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"Gets
  or sets the content hash algorithm used to hash the content.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Gets
  or sets expected hash value of the content.\";}}s:8:\"required\";a:2:{i:0;s:9:\"algorithm\";i:1;s:5:\"value\";}s:11:\"description\";s:40:\"Definition
  of the runbook property type.\";}s:13:\"ContentSource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"hash\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ContentHash\";s:11:\"description\";s:22:\"Gets
  or sets the hash.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Gets
  or sets the content source type.\";s:4:\"enum\";a:2:{i:0;s:15:\"embeddedContent\";i:1;s:3:\"uri\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"ContentSourceType\";s:13:\"modelAsString\";b:1;}}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Gets
  or sets the value of the content. This is based on the content source type.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Gets
  or sets the version of the content.\";}}s:11:\"description\";s:33:\"Definition of
  the content source.\";}s:40:\"DscConfigurationCreateOrUpdateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:54:\"#/definitions/DscConfigurationCreateOrUpdateProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:55:\"Gets
  or sets configuration create or update properties.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Gets
  or sets name of the resource.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Gets
  or sets the location of the resource.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:47:\"Gets
  or sets the tags attached to the resource.\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:11:\"description\";s:72:\"The
  parameters supplied to the create or update configuration operation.\";}s:26:\"DscConfigurationListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DscConfiguration\";}s:11:\"description\";s:38:\"Gets
  or sets a list of configurations.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Gets
  or sets the next link.\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:65:\"Gets
  the total number of configurations matching filter criteria.\";}}s:11:\"description\";s:56:\"The
  response model for the list configuration operation.\";}s:40:\"DscConfigurationCreateOrUpdateProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"logVerbose\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:32:\"Gets
  or sets verbose log option.\";}s:11:\"logProgress\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:33:\"Gets
  or sets progress log option.\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ContentSource\";s:11:\"description\";s:24:\"Gets
  or sets the source.\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/DscConfigurationParameter\";}s:11:\"description\";s:42:\"Gets
  or sets the configuration parameters.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Gets
  or sets the description of the configuration.\";}}s:8:\"required\";a:1:{i:0;s:6:\"source\";}s:11:\"description\";s:49:\"The
  properties to create or update configuration.\";}s:25:\"DscConfigurationParameter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Gets
  or sets the type of the parameter.\";}s:11:\"isMandatory\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:83:\"Gets
  or sets a Boolean value to indicate whether the parameter is mandatory or not.\";}s:8:\"position\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:42:\"Get
  or sets the position of the parameter.\";}s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Gets
  or sets the default value of parameter.\";}}s:11:\"description\";s:47:\"Definition
  of the configuration parameter type.\";}s:32:\"DscConfigurationUpdateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:54:\"#/definitions/DscConfigurationCreateOrUpdateProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:55:\"Gets
  or sets configuration create or update properties.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Gets
  or sets name of the resource.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:47:\"Gets
  or sets the tags attached to the resource.\";}}s:11:\"description\";s:72:\"The parameters
  supplied to the create or update configuration operation.\";}s:26:\"DscConfigurationProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:17:\"provisioningState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Gets
  or sets the provisioning state of the configuration.\";s:4:\"enum\";a:1:{i:0;s:9:\"Succeeded\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:33:\"DscConfigurationProvisioningState\";s:13:\"modelAsString\";b:0;}}s:8:\"jobCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:48:\"Gets
  or sets the job count of the configuration.\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/DscConfigurationParameter\";}s:11:\"description\";s:42:\"Gets
  or sets the configuration parameters.\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ContentSource\";s:11:\"description\";s:24:\"Gets
  or sets the source.\";}s:5:\"state\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Gets
  or sets the state of the configuration.\";s:4:\"enum\";a:3:{i:0;s:3:\"New\";i:1;s:4:\"Edit\";i:2;s:9:\"Published\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"DscConfigurationState\";s:13:\"modelAsString\";b:1;}}s:10:\"logVerbose\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:32:\"Gets
  or sets verbose log option.\";}s:12:\"creationTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:31:\"Gets
  or sets the creation time.\";s:10:\"x-nullable\";b:0;}s:16:\"lastModifiedTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:36:\"Gets
  or sets the last modified time.\";s:10:\"x-nullable\";b:0;}s:22:\"nodeConfigurationCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:48:\"Gets
  the number of compiled node configurations.\";s:10:\"x-nullable\";b:0;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Gets
  or sets the description.\";}}s:11:\"description\";s:46:\"Definition of the configuration
  property type.\";}s:16:\"DscConfiguration\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:40:\"#/definitions/DscConfigurationProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:42:\"Gets
  or sets the configuration properties.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Gets
  or sets the etag of the resource.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"../../common/v1/definitions.json#/definitions/TrackedResource\";}}s:11:\"description\";s:37:\"Definition
  of the configuration type.\";}}"
...
