---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:35:\"This API describe
  Azure Reservation\";s:5:\"title\";s:17:\"Azure Reservation\";s:7:\"version\";s:10:\"2018-06-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:167:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/reservations/resource-manager/Microsoft.Capacity/preview/2018-06-01/reservations.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:12:\"reservations\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.Capacity/operations:
    get:
      description: List all the operations.
      operationId: Operation_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: List all the operations.
          schema:
            $ref: '#/definitions/OperationList'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get operations.
      tags:
      - Operation
      x-ms-examples:
        GetOperations:
          parameters:
            api-version: "2018-06-01"
          responses:
            200:
              body:
                value:
                - display:
                    description: Read All Reservations
                    operation: Get Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/read
                - display:
                    description: Create any Reservation
                    operation: Create Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/write
                - display:
                    description: Update any Reservation
                    operation: Update Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/action
                - display:
                    description: Delete any Reservation
                    operation: Delete Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/delete
                - display:
                    description: Read All Reservations
                    operation: Get Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/reservations/read
                - display:
                    description: Create any Reservation
                    operation: Create Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/reservations/write
                - display:
                    description: Update any Reservation
                    operation: Update Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/reservations/action
                - display:
                    description: Delete any Reservation
                    operation: Delete Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/reservations/delete
                - display:
                    description: Read All Reservations
                    operation: Get Reservations
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/reservationorders/reservations/revisions/read
                - display:
                    description: Registers the Capacity resource provider and enables
                      the creation of Capacity resources.
                    operation: Registers the Capacity Resource Provider.
                    provider: Microsoft Capacity
                    resource: Reservations
                  name: Microsoft.Capacity/register/action
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Capacity/reservationOrders:
    get:
      description: List of all the `ReservationOrder`s that the user has access to
        in the current tenant.
      operationId: ReservationOrder_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: List of `ReservationOrder`s
          schema:
            $ref: '#/definitions/ReservationOrderList'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get all `ReservationOrder`s.
      tags:
      - Reservation
      x-ms-examples:
        ReservationOrderList:
          parameters:
            api-version: "2018-06-01"
          responses:
            200:
              body:
                nextLink: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders?api-version=2017-11-01&%24skiptoken=eyJyZyI6IjIwNTkyMzdlLWY3MmYtNDczYi1hNTZiLWExOGJkM2UwMDhlZCIsImlnIjpudWxsLCJzdCI6bnVsbH0%3d
                value:
                - etag: 7
                  id: /providers/microsoft.capacity/reservationOrders/1e6407ba-37a5-499f-80ed-a3f0f338e443
                  name: 1e6407ba-37a5-499f-80ed-a3f0f338e443
                  properties:
                    createdDateTime: "2017-08-29T21:22:56.8541664Z"
                    displayName: cabri
                    expiryDate: "2018-08-29"
                    originalQuantity: 1
                    provisioningState: Succeeded
                    requestDateTime: "2017-08-29T21:20:23.8134834Z"
                    reservations:
                    - id: /providers/microsoft.capacity/reservationOrders/1e6407ba-37a5-499f-80ed-a3f0f338e443/reservations/cae5924e-7a15-419f-a369-124f52d4a106
                    term: P1Y
                  type: Microsoft.Capacity/reservationOrders
                - etag: 7
                  id: /providers/microsoft.capacity/reservationOrders/1ea6e203-288e-4732-b9e1-da8bbe10c614
                  name: 1ea6e203-288e-4732-b9e1-da8bbe10c614
                  properties:
                    createdDateTime: "2017-08-30T12:58:20.526Z"
                    displayName: cabri
                    expiryDate: "2018-08-30"
                    originalQuantity: 9
                    provisioningState: Succeeded
                    requestDateTime: "2017-08-30T12:55:40.2799114Z"
                    reservations:
                    - id: /providers/microsoft.capacity/reservationOrders/1ea6e203-288e-4732-b9e1-da8bbe10c614/reservations/d04fd48d-e3f6-42a3-a8f6-1ad0b7513e48
                    term: P1Y
                  type: Microsoft.Capacity/reservationOrders
                - etag: 7
                  id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa
                  name: 1f14354c-dc12-4c8d-8090-6f295a3a34aa
                  properties:
                    createdDateTime: "2017-08-30T03:51:49.8083758Z"
                    displayName: cabri
                    expiryDate: "2018-08-30"
                    originalQuantity: 7
                    provisioningState: Succeeded
                    requestDateTime: "2017-08-30T03:49:19.0252126Z"
                    reservations:
                    - id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa/reservations/c8c926bd-fc5d-4e29-9d43-b68340ac23a6
                    term: P1Y
                  type: Microsoft.Capacity/reservationOrders
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}:
    get:
      description: Get the details of the `ReservationOrder`.
      operationId: ReservationOrder_Get
      parameters:
      - $ref: '#/parameters/ReservationOrderIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Get the details of the `ReservationOrder`.
          schema:
            $ref: '#/definitions/ReservationOrderResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get a specific `ReservationOrder`.
      tags:
      - Reservation
      x-ms-examples:
        GetReservation:
          parameters:
            api-version: "2018-06-01"
            reservationOrderId: a075419f-44cc-497f-b68a-14ee811d48b9
          responses:
            200:
              body:
                etag: 7
                id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa
                name: 1f14354c-dc12-4c8d-8090-6f295a3a34aa
                properties:
                  createdDateTime: "2017-08-30T03:51:49.8083758Z"
                  displayName: cabri
                  expiryDate: "2018-08-30"
                  originalQuantity: 7
                  provisioningState: Succeeded
                  requestDateTime: "2017-08-30T03:49:19.0252126Z"
                  reservations:
                  - id: /providers/microsoft.capacity/reservationOrders/1f14354c-dc12-4c8d-8090-6f295a3a34aa/reservations/c8c926bd-fc5d-4e29-9d43-b68340ac23a6
                  term: P1Y
                type: Microsoft.Capacity/reservationOrders
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/merge:
    post:
      description: Merge the specified `Reservation`s into a new `Reservation`. The
        two `Reservation`s being merged must have same properties.
      operationId: Reservation_Merge
      parameters:
      - $ref: '#/parameters/ReservationOrderIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MergeParameter'
      responses:
        200:
          description: Returns the `Reservation` created after the merge.
          schema:
            items:
              $ref: '#/definitions/ReservationResponse'
            type: array
        202:
          description: The request is accepted and is being processed
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Merges two `Reservation`s.
      tags:
      - Reservation, Merge
      x-ms-examples:
        Merge:
          parameters:
            api-version: "2018-06-01"
            body:
              properties:
                sources:
                - /providers/Microsoft.Capacity/reservationOrders/c0565a8a-4491-4e77-b07b-5e6d66718e1c/reservations/cea04232-932e-47db-acb5-e29a945ecc73
                - /providers/Microsoft.Capacity/reservationOrders/c0565a8a-4491-4e77-b07b-5e6d66718e1c/reservations/5bf54dc7-dacd-4f46-a16b-7b78f4a59799
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            200:
              body:
              - etag: 5
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/00238563-7312-4c20-a134-8c030bf938a7
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  displayName: cabri_test
                  effectiveDateTime: "2017-09-22T22:46:32.7632798Z"
                  expiryDate: "2018-09-22"
                  extendedStatusInfo:
                    message: This reservation was merged and is no longer active.
                    statusCode: Merged
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: "2017-09-22T22:46:32.7632798Z"
                  mergeProperties:
                    mergeDestination: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                  provisioningState: Cancelled
                  quantity: 1
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                  splitProperties:
                    splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
              - etag: 4
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  displayName: cabri_test
                  effectiveDateTime: "2017-09-22T22:46:32.7632798Z"
                  expiryDate: "2018-09-22"
                  extendedStatusInfo:
                    message: This reservation was merged and is no longer active.
                    statusCode: Merged
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: "2017-09-22T22:46:32.7632798Z"
                  mergeProperties:
                    mergeDestination: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                  provisioningState: Cancelled
                  quantity: 2
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                  splitProperties:
                    splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
              - etag: 2
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  displayName: cabri_test
                  effectiveDateTime: "2017-09-22T22:46:32.7632798Z"
                  expiryDate: "2018-09-22"
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: "2017-09-22T22:46:32.7632798Z"
                  mergeProperties:
                    mergeSources:
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  provisioningState: Succeeded
                  quantity: 3
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
            202:
              body: ""
      x-ms-long-running-operation: true
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations:
    get:
      description: List `Reservation`s within a single `ReservationOrder`.
      operationId: Reservation_List
      parameters:
      - $ref: '#/parameters/ReservationOrderIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: List `Reservation`s within a single `ReservationOrder`.
          schema:
            $ref: '#/definitions/ReservationList'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get `Reservation`s in a given reservation Order
      tags:
      - Reservation
      x-ms-examples:
        ReservationList:
          parameters:
            api-version: "2018-06-01"
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            200:
              body:
                value:
                - etag: 10
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/bcae77cd-3119-4766-919f-b50d36c75c7a
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    displayName: cabri_test
                    effectiveDateTime: "2017-09-22T01:00:30.9253826Z"
                    expiryDate: "2018-09-22"
                    extendedStatusInfo:
                      message: This reservation was split and is no longer active.
                      statusCode: Split
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: "2017-09-22T01:00:36.3191627Z"
                    provisioningState: Cancelled
                    quantity: 3
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                    splitProperties:
                      splitDestinations:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations
                - etag: 5
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/00238563-7312-4c20-a134-8c030bf938a7
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    displayName: cabri_test
                    effectiveDateTime: "2017-09-22T22:46:32.7632798Z"
                    expiryDate: "2018-09-22"
                    extendedStatusInfo:
                      message: This reservation was merged and is no longer active.
                      statusCode: Merged
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: "2017-09-22T22:46:32.7632798Z"
                    mergeProperties:
                      mergeDestination: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                    provisioningState: Cancelled
                    quantity: 1
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                    splitProperties:
                      splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations
                - etag: 4
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    displayName: cabri_test
                    effectiveDateTime: "2017-09-22T22:46:32.7632798Z"
                    expiryDate: "2018-09-22"
                    extendedStatusInfo:
                      message: This reservation was merged and is no longer active.
                      statusCode: Merged
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: "2017-09-22T22:46:32.7632798Z"
                    mergeProperties:
                      mergeDestination: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                    provisioningState: Cancelled
                    quantity: 2
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                    splitProperties:
                      splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations
                - etag: 2
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    displayName: cabri_test
                    effectiveDateTime: "2017-09-22T22:46:32.7632798Z"
                    expiryDate: "2018-09-22"
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: "2017-09-22T22:46:32.7632798Z"
                    mergeProperties:
                      mergeSources:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                    provisioningState: Succeeded
                    quantity: 3
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}:
    get:
      description: Get specific `Reservation` details.
      operationId: Reservation_Get
      parameters:
      - $ref: '#/parameters/ReservationIdParameter'
      - $ref: '#/parameters/ReservationOrderIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Get `Reservation` details.
          schema:
            $ref: '#/definitions/ReservationResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get `Reservation` details.
      tags:
      - Reservation
      x-ms-examples:
        GetReservation:
          parameters:
            api-version: "2018-06-01"
            reservationId: 6ef59113-3482-40da-8d79-787f823e34bc
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            200:
              body:
                etag: 2
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  displayName: cabri_test
                  effectiveDateTime: "2017-09-22T22:46:32.7632798Z"
                  expiryDate: "2018-09-22"
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: "2017-09-22T22:46:32.7632798Z"
                  mergeProperties:
                    mergeSources:
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  provisioningState: Succeeded
                  quantity: 3
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
    patch:
      description: Updates the applied scopes of the `Reservation`.
      operationId: Reservation_Update
      parameters:
      - $ref: '#/parameters/ReservationOrderIdParameter'
      - $ref: '#/parameters/ReservationIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/PatchParameter'
      responses:
        200:
          description: Returns the updated `Reservation`.
          schema:
            $ref: '#/definitions/ReservationResponse'
        202:
          description: The request is accepted and is being processed
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Updates a `Reservation`.
      tags:
      - Reservation
      - ApplyScope
      x-ms-examples:
        PatchReservation:
          parameters:
            api-version: "2018-06-01"
            parameters:
              properties:
                appliedScopeType: Shared
                instanceFlexibility: "Off"
            reservationId: 6ef59113-3482-40da-8d79-787f823e34bc
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            200:
              body:
                etag: 4
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc
                properties:
                  appliedScopeType: Shared
                  displayName: cabri_test
                  effectiveDateTime: "2017-09-22T23:57:48.1891638Z"
                  expiryDate: "2018-09-22"
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: "2017-09-22T23:57:54.3768768Z"
                  mergeProperties:
                    mergeSources:
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                  provisioningState: Succeeded
                  quantity: 3
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
            202:
              body: ""
      x-ms-long-running-operation: true
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}/revisions:
    get:
      description: List of all the revisions for the `Reservation`.n
      operationId: Reservation_ListRevisions
      parameters:
      - $ref: '#/parameters/ReservationIdParameter'
      - $ref: '#/parameters/ReservationOrderIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: List of all the revisions for the `Reservation`.
          schema:
            $ref: '#/definitions/ReservationList'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get `Reservation` revisions.
      tags:
      - Reservation
      x-ms-examples:
        ReservationRevisions:
          parameters:
            api-version: "2018-06-01"
            reservationId: 6ef59113-3482-40da-8d79-787f823e34bc
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            200:
              body:
                value:
                - etag: 4
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc/revisions/4
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc/4
                  properties:
                    appliedScopeType: Shared
                    displayName: cabri_test
                    effectiveDateTime: "2017-09-22T23:57:48.1891638Z"
                    expiryDate: "2018-09-22"
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: "2017-09-22T23:57:54.3768768Z"
                    mergeProperties:
                      mergeSources:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                    provisioningState: Succeeded
                    quantity: 3
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations/revisions
                - etag: 3
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc/revisions/3
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc/3
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    displayName: cabri_test
                    effectiveDateTime: "2017-09-22T22:46:32.7632798Z"
                    expiryDate: "2018-09-22"
                    extendedStatusInfo:
                      message: An operation is in progress on your reservation. Please
                        wait for operation to complete before taking further action
                      statusCode: Pending
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: "2017-09-22T23:57:47.488284Z"
                    mergeProperties:
                      mergeSources:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                    provisioningState: Succeeded
                    quantity: 3
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations/revisions
                - etag: 2
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc/revisions/2
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc/2
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    displayName: cabri_test
                    effectiveDateTime: "2017-09-22T22:46:32.7632798Z"
                    expiryDate: "2018-09-22"
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: "2017-09-22T22:46:32.7632798Z"
                    mergeProperties:
                      mergeSources:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                    provisioningState: Succeeded
                    quantity: 3
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations/revisions
                - etag: 1
                  id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/6ef59113-3482-40da-8d79-787f823e34bc/revisions/1
                  location: eastus
                  name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/6ef59113-3482-40da-8d79-787f823e34bc/1
                  properties:
                    appliedScopeType: Single
                    appliedScopes:
                    - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                    displayName: cabri_test
                    effectiveDateTime: "2017-09-22T22:46:27.3313607Z"
                    expiryDate: "2018-09-22"
                    instanceFlexibility: "On"
                    lastUpdatedDateTime: "2017-09-22T22:46:27.3313607Z"
                    mergeProperties:
                      mergeSources:
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                      - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                    provisioningState: Creating
                    quantity: 3
                    reservedResourceType: VirtualMachines
                    skuDescription: D1 v2
                  sku:
                    name: Standard_DS1_v2
                  type: Microsoft.Capacity/reservationOrders/reservations/revisions
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/split:
    post:
      description: Split a `Reservation` into two `Reservation`s with specified quantity
        distribution.n
      operationId: Reservation_Split
      parameters:
      - $ref: '#/parameters/ReservationOrderIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SplitParameter'
      responses:
        200:
          description: List of `Reservation`s created after the split operation.
          schema:
            items:
              $ref: '#/definitions/ReservationResponse'
            type: array
        202:
          description: The request is accepted and is being processed
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Split the `Reservation`.
      tags:
      - Reservation, Split
      x-ms-examples:
        Split:
          parameters:
            api-version: "2018-06-01"
            body:
              properties:
                quantities:
                - 1
                - 2
                reservationId: /providers/Microsoft.Capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
            reservationOrderId: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da
          responses:
            200:
              body:
              - etag: 2
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/00238563-7312-4c20-a134-8c030bf938a7
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  displayName: cabri_test
                  effectiveDateTime: "2017-09-22T01:00:30.9253826Z"
                  expiryDate: "2018-09-22"
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: "2017-09-22T01:00:36.3191627Z"
                  provisioningState: Succeeded
                  quantity: 1
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                  splitProperties:
                    splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
              - etag: 2
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  displayName: cabri_test
                  effectiveDateTime: "2017-09-22T01:00:30.9253826Z"
                  expiryDate: "2018-09-22"
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: "2017-09-22T01:00:36.3191627Z"
                  provisioningState: Succeeded
                  quantity: 2
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                  splitProperties:
                    splitSource: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
              - etag: 10
                id: /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/bcae77cd-3119-4766-919f-b50d36c75c7a
                location: eastus
                name: 276e7ae4-84d0-4da6-ab4b-d6b94f3557da/bcae77cd-3119-4766-919f-b50d36c75c7a
                properties:
                  appliedScopeType: Single
                  appliedScopes:
                  - /subscriptions/98df3792-7962-4f18-8be2-d5576f122de3
                  displayName: cabri_test
                  effectiveDateTime: "2017-09-22T01:00:30.9253826Z"
                  expiryDate: "2018-09-22"
                  extendedStatusInfo:
                    message: This reservation was split and is no longer active.
                    statusCode: Split
                  instanceFlexibility: "Off"
                  lastUpdatedDateTime: "2017-09-22T01:00:36.3191627Z"
                  provisioningState: Cancelled
                  quantity: 3
                  reservedResourceType: VirtualMachines
                  skuDescription: D1 v2
                  splitProperties:
                    splitDestinations:
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/00238563-7312-4c20-a134-8c030bf938a7
                    - /providers/microsoft.capacity/reservationOrders/276e7ae4-84d0-4da6-ab4b-d6b94f3557da/reservations/e0e4b4f5-77ea-4984-9ee4-6bf9850ee6de
                sku:
                  name: Standard_DS1_v2
                type: Microsoft.Capacity/reservationOrders/reservations
            202:
              body: ""
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Capacity/appliedReservations:
    get:
      description: Get applicable `Reservation`s that are applied to this subscription.
      operationId: GetAppliedReservationList
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Applicable `Reservation`s.
          schema:
            $ref: '#/definitions/AppliedReservations'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get list of applicable `Reservation`s.
      tags:
      - AppliedReservation
      x-ms-examples:
        AppliedReservationList:
          parameters:
            api-version: "2018-06-01"
            subscriptionId: 23bc208b-083f-4901-ae85-4f98c0c3b4b6
          responses:
            200:
              body:
                id: /subscriptions/23bc208b-083f-4901-ae85-4f98c0c3b4b6/providers/microsoft.capacity/AppliedReservations/default
                name: default
                properties:
                  reservationOrderIds:
                    value:
                    - /providers/Microsoft.Capacity/reservationorders/e1eccf0b-2db4-4e84-97e7-98b50e9d46f7
                    - /providers/Microsoft.Capacity/reservationorders/741a32eb-6158-4cee-9642-a0243ae79fac
                    - /providers/Microsoft.Capacity/reservationorders/e061223d-fcff-4d10-bd49-56a740cfb96a
                    - /providers/Microsoft.Capacity/reservationorders/2eeb7234-970e-4663-b60b-85241b515901
                    - /providers/Microsoft.Capacity/reservationorders/9db2f4c5-b1c5-42a8-bd79-ee56cdde2c7f
                    - /providers/Microsoft.Capacity/reservationorders/5da7a877-6d6e-44af-8880-ed3f533bf928
                    - /providers/Microsoft.Capacity/reservationorders/f65b0d0a-f945-4105-821c-d00bc8bacde8
                    - /providers/Microsoft.Capacity/reservationorders/51304124-e477-4b07-b9fa-03b05c8b924b
                    - /providers/Microsoft.Capacity/reservationorders/f5409b98-8a42-4dc6-be0a-cc59bef4d0db
                    - /providers/Microsoft.Capacity/reservationorders/a495550a-80a4-46f8-8843-34d4df46f9a6
                    - /providers/Microsoft.Capacity/reservationorders/1a966e18-c272-4ce1-a0c2-d4e1039023c3
                    - /providers/Microsoft.Capacity/reservationorders/939310b4-f9de-4645-9569-ab5b6cfe958e
                    - /providers/Microsoft.Capacity/reservationorders/4193a889-7c3b-44dc-8b7b-bfd7aad6c723
                type: Microsoft.Capacity/AppliedReservations
  /subscriptions/{subscriptionId}/providers/Microsoft.Capacity/catalogs:
    get:
      operationId: GetCatalog
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ReservedResourceTypeIdParameter'
      - $ref: '#/parameters/LocationIdParameter'
      responses:
        200:
          description: List of available resources
          schema:
            items:
              $ref: '#/definitions/Catalog'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get the regions and skus that are available for RI purchase for the
        specified Azure subscription.
      tags:
      - Catalog
      x-ms-examples:
        Catalog:
          parameters:
            api-version: "2018-06-01"
            location: eastus
            reservedResourceType: VirtualMachines
            subscriptionId: 23bc208b-083f-4901-ae85-4f98c0c3b4b6
          responses:
            200:
              body:
              - locations:
                - eastus
                name: Standard_DS5_v2
                resourceType: VirtualMachines
                restrictions: []
                skuProperties:
                - name: Cores
                  value: "16"
                - name: ProductTitle
                  value: DSv2 Series, DS5
                - name: ProductShortName
                  value: DSv2 Series
                - name: SKUName
                  value: DS5 v2
                - name: MeterId
                  value: 12bc208b-083f-4901-ae85-4f98c0c3b4b8
                terms:
                - P1Y
                - P3Y
              - locations:
                - eastus
                name: Standard_D1
                resourceType: VirtualMachines
                restrictions:
                - reasonCode: NotAvailableForSubscription
                  type: Term
                  values:
                  - P1Y
                - reasonCode: NotAvailableForSubscription
                  type: Term
                  values:
                  - P3Y
                skuProperties:
                - name: Cores
                  value: "1"
                - name: ProductTitle
                  value: D Series, D1
                - name: ProductShortName
                  value: D Series
                - name: SKUName
                  value: D1
                - name: MeterId
                  value: 12bc208b-083f-4901-ae85-4f98c0c3b4b8
                terms:
                - P1Y
                - P3Y
              - locations:
                - eastus
                name: Standard_F2
                resourceType: VirtualMachines
                restrictions:
                - reasonCode: NotAvailableForSubscription
                  type: Location
                  values:
                  - eastus
                skuProperties:
                - name: Cores
                  value: "2"
                - name: ProductTitle
                  value: F Series, F2
                - name: ProductShortName
                  value: F Series
                - name: SKUName
                  value: F2
                - name: MeterId
                  value: 12bc208b-083f-4901-ae85-4f98c0c3b4b8
                terms:
                - P1Y
                - P3Y
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":34:{s:22:\"AppliedReservationList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Url
  to get the next page of reservations\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Reservation
  resource Id. \"/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}\"\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"AppliedReservations\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Identifier
  of the applied reservations\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Name
  of resource\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/AppliedReservationsProperties\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Type
  of resource. \"Microsoft.Capacity/AppliedReservations\"\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"AppliedReservationsProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"reservationOrderIds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AppliedReservationList\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AppliedScopeType\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Type
  of the Applied Scope.\";s:4:\"enum\";a:2:{i:0;s:6:\"Single\";i:1;s:6:\"Shared\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"AppliedScopeType\";}}s:13:\"AppliedScopes\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"List
  of the subscriptions that the benefit will be applied. Do not specify if AppliedScopeType
  is Shared.\";s:5:\"items\";O:8:\"stdClass\":3:{s:8:\"maxItems\";i:1;s:8:\"minItems\";i:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"Catalog\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"locations\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  set of locations that the SKU is available. If not specified, the SKU is available
  in all locations.\";s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  name of SKU\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"resourceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  type of resource the SKU applies to.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"restrictions\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SkuRestriction\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:13:\"skuProperties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SkuProperty\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:5:\"terms\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Available
  reservation terms for this resource\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ReservationTerm\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ExtendedErrorInfo\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ErrorResponseCode\";O:8:\"stdClass\":3:{s:4:\"enum\";a:55:{i:0;s:12:\"NotSpecified\";i:1;s:19:\"InternalServerError\";i:2;s:13:\"ServerTimeout\";i:3;s:19:\"AuthorizationFailed\";i:4;s:10:\"BadRequest\";i:5;s:33:\"ClientCertificateThumbprintNotSet\";i:6;s:21:\"InvalidRequestContent\";i:7;s:15:\"OperationFailed\";i:8;s:22:\"HttpMethodNotSupported\";i:9;s:17:\"InvalidRequestUri\";i:10;s:15:\"MissingTenantId\";i:11;s:15:\"InvalidTenantId\";i:12;s:25:\"InvalidReservationOrderId\";i:13;s:20:\"InvalidReservationId\";i:14;s:34:\"ReservationIdNotInReservationOrder\";i:15;s:24:\"ReservationOrderNotFound\";i:16;s:21:\"InvalidSubscriptionId\";i:17;s:18:\"InvalidAccessToken\";i:18;s:17:\"InvalidLocationId\";i:19;s:32:\"UnauthenticatedRequestsThrottled\";i:20;s:22:\"InvalidHealthCheckType\";i:21;s:9:\"Forbidden\";i:22;s:29:\"BillingScopeIdCannotBeChanged\";i:23;s:45:\"AppliedScopesNotAssociatedWithCommerceAccount\";i:24;s:25:\"PatchValuesSameAsExisting\";i:25;s:28:\"RoleAssignmentCreationFailed\";i:26;s:30:\"ReservationOrderCreationFailed\";i:27;s:26:\"ReservationOrderNotEnabled\";i:28;s:26:\"CapacityUpdateScopesFailed\";i:29;s:26:\"UnsupportedReservationTerm\";i:30;s:31:\"ReservationOrderIdAlreadyExists\";i:31;s:15:\"RiskCheckFailed\";i:32;s:17:\"CreateQuoteFailed\";i:33;s:19:\"ActivateQuoteFailed\";i:34;s:21:\"NonsupportedAccountId\";i:35;s:25:\"PaymentInstrumentNotFound\";i:36;s:29:\"MissingAppliedScopesForSingle\";i:37;s:27:\"NoValidReservationsToReRate\";i:38;s:22:\"ReRateOnlyAllowedForEA\";i:39;s:40:\"OperationCannotBePerformedInCurrentState\";i:40;s:31:\"InvalidSingleAppliedScopesCount\";i:41;s:35:\"InvalidFulfillmentRequestParameters\";i:42;s:19:\"NotSupportedCountry\";i:43;s:21:\"InvalidRefundQuantity\";i:44;s:13:\"PurchaseError\";i:45;s:25:\"BillingCustomerInputError\";i:46;s:33:\"BillingPaymentInstrumentSoftError\";i:47;s:33:\"BillingPaymentInstrumentHardError\";i:48;s:21:\"BillingTransientError\";i:49;s:12:\"BillingError\";i:50;s:29:\"FulfillmentConfigurationError\";i:51;s:26:\"FulfillmentOutOfStockError\";i:52;s:25:\"FulfillmentTransientError\";i:53;s:16:\"FulfillmentError\";i:54;s:20:\"CalculatePriceFailed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"ErrorResponseCode\";}}s:17:\"ExtendedErrorInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ErrorResponseCode\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ExtendedStatusInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  message giving detailed information about the status code.\";s:4:\"type\";s:6:\"string\";}s:10:\"statusCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ReservationStatusCode\";}}s:4:\"type\";s:6:\"object\";}s:19:\"InstanceFlexibility\";O:8:\"stdClass\":4:{s:11:\"description\";s:131:\"Allows
  reservation discount to be applied across skus within the same AutofitGroup. Not
  all skus support instance size flexibility.\";s:4:\"enum\";a:3:{i:0;s:2:\"On\";i:1;s:3:\"Off\";i:2;s:12:\"NotSupported\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:19:\"InstanceFlexibility\";}}s:15:\"MergeProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"sources\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Format
  of the resource id should be /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"MergeRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MergeProperties\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:16:\"OperationDisplay\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"OperationList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Url
  to get the next page of items.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OperationResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"OperationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"display\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OperationDisplay\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Patch\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PatchProperties\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:15:\"PatchProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"appliedScopeType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AppliedScopeType\";}s:13:\"appliedScopes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AppliedScopes\";}s:19:\"instanceFlexibility\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/InstanceFlexibility\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Name
  of the Reservation\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ReservationList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Url
  to get the next page of reservations.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ReservationResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ReservationMergeProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"mergeDestination\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"Reservation
  Resource Id Created due to the merge. Format of the resource Id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}\";s:4:\"type\";s:6:\"string\";}s:12:\"mergeSources\";O:8:\"stdClass\":3:{s:11:\"description\";s:200:\"Resource
  Ids of the Source Reservation's merged to form this Reservation. Format of the resource
  Id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ReservationOrderList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Url
  to get the next page of reservationOrders.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ReservationOrderResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ReservationOrderProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"createdDateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"This
  is the DateTime when the reservation was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Friendly
  name for user to easily identified the reservation.\";s:4:\"type\";s:6:\"string\";}s:10:\"expiryDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"This
  is the date when the Reservation will expire.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:16:\"originalQuantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Total
  Quantity of the SKUs purchased in the Reservation.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Current
  state of the reservation.\";s:4:\"type\";s:6:\"string\";}s:15:\"requestDateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"This
  is the DateTime when the reservation was initially requested for purchase.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"reservations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ReservationResponse\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ReservationTerm\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ReservationOrderResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"etag\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Identifier
  of the reservation\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Name
  of the reservation\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ReservationOrderProperties\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Type
  of resource. \"Microsoft.Capacity/reservations\"\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:21:\"ReservationProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:16:\"appliedScopeType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AppliedScopeType\";}s:13:\"appliedScopes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AppliedScopes\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Friendly
  name for user to easily identify the reservation\";s:4:\"type\";s:6:\"string\";}s:17:\"effectiveDateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"DateTime
  of the Reservation starting when this version is effective from.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"expiryDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"This
  is the date when the Reservation will expire.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:18:\"extendedStatusInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ExtendedStatusInfo\";}s:19:\"instanceFlexibility\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/InstanceFlexibility\";}s:19:\"lastUpdatedDateTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"DateTime
  of the last time the Reservation was updated.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"mergeProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ReservationMergeProperties\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Current
  state of the reservation.\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Quantity
  of the SKUs that are part of the Reservation.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"reservedResourceType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ReservedResourceType\";}s:14:\"skuDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Description
  of the SKU in english.\";s:4:\"type\";s:6:\"string\";}s:15:\"splitProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ReservationSplitProperties\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ReservationResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"etag\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Identifier
  of the reservation\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  Azure Region where the reserved resource lives.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Name
  of the reservation\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ReservationProperties\";}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/SkuName\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Type
  of resource. \"Microsoft.Capacity/reservationOrders/reservations\"\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:26:\"ReservationSplitProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"splitDestinations\";O:8:\"stdClass\":3:{s:11:\"description\";s:189:\"List
  of destination Resource Id that are created due to split. Format of the resource
  Id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"splitSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:183:\"Resource
  Id of the Reservation from which this is split. Format of the resource Id is /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ReservationStatusCode\";O:8:\"stdClass\":3:{s:4:\"enum\";a:9:{i:0;s:4:\"None\";i:1;s:7:\"Pending\";i:2;s:6:\"Active\";i:3;s:13:\"PurchaseError\";i:4;s:22:\"PaymentInstrumentError\";i:5;s:5:\"Split\";i:6;s:6:\"Merged\";i:7;s:7:\"Expired\";i:8;s:9:\"Succeeded\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:21:\"ReservationStatusCode\";}}s:15:\"ReservationTerm\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Represent
  the term of Reservation.\";s:4:\"enum\";a:2:{i:0;s:3:\"P1Y\";i:1;s:3:\"P3Y\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"ReservationTerm\";}}s:20:\"ReservedResourceType\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  type of the resource that is being reserved.\";s:4:\"enum\";a:5:{i:0;s:15:\"VirtualMachines\";i:1;s:12:\"SqlDatabases\";i:2;s:9:\"SuseLinux\";i:3;s:8:\"CosmosDb\";i:4;s:6:\"RedHat\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"ReservedResourceType\";}}s:7:\"SkuName\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"SkuProperty\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"An
  invariant to describe the feature.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"An
  invariant if the feature is measured by quantity.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SkuRestriction\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"reasonCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  reason for restriction.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  type of restrictions.\";s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"The
  value of restrictions. If the restriction type is set to location. This would be
  different locations where the SKU is restricted.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"SplitProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"quantities\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"List
  of the quantities in the new reservations to create.\";s:5:\"items\";O:8:\"stdClass\":3:{s:8:\"maxItems\";i:2;s:8:\"minItems\";i:2;s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:13:\"reservationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:177:\"Resource
  id of the reservation to be split. Format of the resource id should be /providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/reservations/{reservationId}\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"SplitRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SplitProperties\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}}"
...
