---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:25:\"SchedulerManagementClient\";s:7:\"version\";s:10:\"2016-03-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"time_management\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:115:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-scheduler/2016-03-01/swagger/scheduler.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:13:\"arm-scheduler\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"azure_arm_scheduler\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Scheduler/jobCollections:
    get:
      description: Gets all job collections under specified subscription.
      operationId: JobCollections_ListBySubscription
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/apiVersion'
      responses:
        200:
          description: The job collections have been successfully returned.
          schema:
            $ref: '#/definitions/JobCollectionListResult'
      tags:
      - JobCollections
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scheduler/jobCollections:
    get:
      description: Gets all job collections under specified resource group.
      operationId: JobCollections_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - $ref: '#/parameters/apiVersion'
      responses:
        200:
          description: The job collections have been successfully returned.
          schema:
            $ref: '#/definitions/JobCollectionListResult'
      tags:
      - JobCollections
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scheduler/jobCollections/{jobCollectionName}
  : delete:
      description: Deletes a job collection.
      operationId: JobCollections_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The job collection name.
        in: path
        name: jobCollectionName
        required: true
        type: string
      - $ref: '#/parameters/apiVersion'
      responses:
        200:
          description: The job collection has been successfully deleted.
        202:
          description: The delete operation for the job collection has been accepted
            and will complete asynchronously.
      tags:
      - JobCollections
      x-ms-long-running-operation: true
    get:
      description: Gets a job collection.
      operationId: JobCollections_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The job collection name.
        in: path
        name: jobCollectionName
        required: true
        type: string
      - $ref: '#/parameters/apiVersion'
      responses:
        200:
          description: The job collection has been successfully returned.
          schema:
            $ref: '#/definitions/JobCollectionDefinition'
      tags:
      - JobCollections
    patch:
      description: Patches an existing job collection.
      operationId: JobCollections_Patch
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The job collection name.
        in: path
        name: jobCollectionName
        required: true
        type: string
      - $ref: '#/parameters/apiVersion'
      - description: The job collection definition.
        in: body
        name: jobCollection
        required: true
        schema:
          $ref: '#/definitions/JobCollectionDefinition'
      responses:
        200:
          description: The job collection has been successfully patched.
          schema:
            $ref: '#/definitions/JobCollectionDefinition'
      tags:
      - JobCollections
    put:
      description: Provisions a new job collection or updates an existing job collection.
      operationId: JobCollections_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The job collection name.
        in: path
        name: jobCollectionName
        required: true
        type: string
      - $ref: '#/parameters/apiVersion'
      - description: The job collection definition.
        in: body
        name: jobCollection
        required: true
        schema:
          $ref: '#/definitions/JobCollectionDefinition'
      responses:
        200:
          description: The job collection has been successfully updated.
          schema:
            $ref: '#/definitions/JobCollectionDefinition'
        201:
          description: The job collection has been successfully created.
          schema:
            $ref: '#/definitions/JobCollectionDefinition'
      tags:
      - JobCollections
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scheduler/jobCollections/{jobCollectionName}/disable
  : post:
      description: Disables all of the jobs in the job collection.
      operationId: JobCollections_Disable
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The job collection name.
        in: path
        name: jobCollectionName
        required: true
        type: string
      - $ref: '#/parameters/apiVersion'
      responses:
        200:
          description: All of the jobs in the job collection have been successfully
            disabled.
        202:
          description: Accepted and the disable job collection operation will complete
            asynchronously.
      tags:
      - JobCollections
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scheduler/jobCollections/{jobCollectionName}/enable
  : post:
      description: Enables all of the jobs in the job collection.
      operationId: JobCollections_Enable
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The job collection name.
        in: path
        name: jobCollectionName
        required: true
        type: string
      - $ref: '#/parameters/apiVersion'
      responses:
        200:
          description: All of the jobs in the job collection have been successfully
            enabled.
        202:
          description: Accepted and the enable job collection operation will complete
            asynchronously.
      tags:
      - JobCollections
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scheduler/jobCollections/{jobCollectionName}/jobs
  : get:
      description: Lists all jobs under the specified job collection.
      operationId: Jobs_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The job collection name.
        in: path
        name: jobCollectionName
        required: true
        type: string
      - $ref: '#/parameters/apiVersion'
      - description: The number of jobs to request, in the of range of [1..100].
        in: query
        maximum: 100
        minimum: 1
        name: $top
        required: false
        type: integer
      - description: The (0-based) index of the job history list from which to begin
          requesting entries.
        in: query
        name: $skip
        required: false
        type: integer
      - description: The filter to apply on the job state.
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: The job has been successfully returned.
          schema:
            $ref: '#/definitions/JobListResult'
      tags:
      - Jobs
      x-ms-odata: '#/definitions/JobStateFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scheduler/jobCollections/{jobCollectionName}/jobs/{jobName}
  : delete:
      description: Deletes a job.
      operationId: Jobs_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The job collection name.
        in: path
        name: jobCollectionName
        required: true
        type: string
      - description: The job name.
        in: path
        name: jobName
        required: true
        type: string
      - $ref: '#/parameters/apiVersion'
      responses:
        200:
          description: The job has been successfully deleted.
      tags:
      - Jobs
    get:
      description: Gets a job.
      operationId: Jobs_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The job collection name.
        in: path
        name: jobCollectionName
        required: true
        type: string
      - description: The job name.
        in: path
        name: jobName
        required: true
        type: string
      - $ref: '#/parameters/apiVersion'
      responses:
        200:
          description: The job has been successfully returned.
          schema:
            $ref: '#/definitions/JobDefinition'
      tags:
      - Jobs
    patch:
      description: Patches an existing job.
      operationId: Jobs_Patch
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The job collection name.
        in: path
        name: jobCollectionName
        required: true
        type: string
      - description: The job name.
        in: path
        name: jobName
        required: true
        type: string
      - $ref: '#/parameters/apiVersion'
      - description: The job definition.
        in: body
        name: job
        required: true
        schema:
          $ref: '#/definitions/JobDefinition'
      responses:
        200:
          description: The job has been successfully patched.
          schema:
            $ref: '#/definitions/JobDefinition'
      tags:
      - Jobs
    put:
      description: Provisions a new job or updates an existing job.
      operationId: Jobs_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The job collection name.
        in: path
        name: jobCollectionName
        required: true
        type: string
      - description: The job name.
        in: path
        name: jobName
        required: true
        type: string
      - $ref: '#/parameters/apiVersion'
      - description: The job definition.
        in: body
        name: job
        required: true
        schema:
          $ref: '#/definitions/JobDefinition'
      responses:
        200:
          description: The job has been successfully updated.
          schema:
            $ref: '#/definitions/JobDefinition'
        201:
          description: The job has been successfully created.
          schema:
            $ref: '#/definitions/JobDefinition'
      tags:
      - Jobs
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scheduler/jobCollections/{jobCollectionName}/jobs/{jobName}/history
  : get:
      description: Lists job history.
      operationId: Jobs_ListJobHistory
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The job collection name.
        in: path
        name: jobCollectionName
        required: true
        type: string
      - description: The job name.
        in: path
        name: jobName
        required: true
        type: string
      - $ref: '#/parameters/apiVersion'
      - description: the number of job history to request, in the of range of [1..100].
        in: query
        maximum: 100
        minimum: 1
        name: $top
        required: false
        type: integer
      - description: The (0-based) index of the job history list from which to begin
          requesting entries.
        in: query
        name: $skip
        required: false
        type: integer
      - description: The filter to apply on the job state.
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: The job histories have been successfully returned.
          schema:
            $ref: '#/definitions/JobHistoryListResult'
      tags:
      - Jobs
      x-ms-odata: '#/definitions/JobHistoryFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scheduler/jobCollections/{jobCollectionName}/jobs/{jobName}/run
  : post:
      description: Runs a job.
      operationId: Jobs_Run
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The job collection name.
        in: path
        name: jobCollectionName
        required: true
        type: string
      - description: The job name.
        in: path
        name: jobName
        required: true
        type: string
      - $ref: '#/parameters/apiVersion'
      responses:
        200:
          description: The job has been successfully run.
      tags:
      - Jobs
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":35:{s:19:\"BasicAuthentication\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/HttpAuthentication\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Gets
  or sets the password, return value will always be empty.\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Gets
  or sets the username.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"ClientCertAuthentication\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/HttpAuthentication\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:25:\"certificateExpirationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Gets
  or sets the certificate expiration date.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"certificateSubjectName\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Gets
  or sets the certificate subject name.\";s:4:\"type\";s:6:\"string\";}s:21:\"certificateThumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Gets
  or sets the certificate thumbprint.\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  or sets the certificate password, return value will always be empty.\";s:4:\"type\";s:6:\"string\";}s:3:\"pfx\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Gets
  or sets the pfx certificate. Accepts certification in base64 encoding, return value
  will always be empty.\";s:4:\"type\";s:6:\"string\";}}}s:18:\"HttpAuthentication\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Gets
  or sets the HTTP authentication type.\";s:4:\"enum\";a:4:{i:0;s:12:\"NotSpecified\";i:1;s:17:\"ClientCertificate\";i:2;s:20:\"ActiveDirectoryOAuth\";i:3;s:5:\"Basic\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:22:\"HttpAuthenticationType\";}}}}s:11:\"HttpRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"authentication\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/HttpAuthentication\";s:11:\"description\";s:54:\"Gets
  or sets the authentication method of the request.\";}s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Gets
  or sets the request body.\";s:4:\"type\";s:6:\"string\";}s:7:\"headers\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:25:\"Gets
  or sets the headers.\";s:4:\"type\";s:6:\"object\";}s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Gets
  or sets the method of the request.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Gets
  or sets the URI of the request.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"JobAction\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"errorAction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/JobErrorAction\";s:11:\"description\";s:30:\"Gets
  or sets the error action.\";}s:12:\"queueMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/StorageQueueMessage\";s:11:\"description\";s:39:\"Gets
  or sets the storage queue message.\";}s:7:\"request\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/HttpRequest\";s:11:\"description\";s:31:\"Gets
  or sets the http requests.\";}s:11:\"retryPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/RetryPolicy\";s:11:\"description\";s:30:\"Gets
  or sets the retry policy.\";}s:22:\"serviceBusQueueMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ServiceBusQueueMessage\";s:11:\"description\";s:43:\"Gets
  or sets the service bus queue message.\";}s:22:\"serviceBusTopicMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ServiceBusTopicMessage\";s:11:\"description\";s:43:\"Gets
  or sets the service bus topic message.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Gets
  or sets the job action type.\";s:4:\"enum\";a:5:{i:0;s:4:\"Http\";i:1;s:5:\"Https\";i:2;s:12:\"StorageQueue\";i:3;s:15:\"ServiceBusQueue\";i:4;s:15:\"ServiceBusTopic\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"JobActionType\";}}}}s:23:\"JobCollectionDefinition\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  the job collection resource identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Gets
  or sets the storage account location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Gets
  or sets the job collection resource name.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/JobCollectionProperties\";s:11:\"description\";s:43:\"Gets
  or sets the job collection properties.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:22:\"Gets
  or sets the tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Gets
  the job collection resource type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:23:\"JobCollectionListResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Gets
  or sets the URL to get the next set of job collections.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Gets
  the job collections.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/JobCollectionDefinition\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:23:\"JobCollectionProperties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"quota\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/JobCollectionQuota\";s:11:\"description\";s:38:\"Gets
  or sets the job collection quota.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:21:\"Gets
  or sets the SKU.\";}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Gets
  or sets the state.\";s:4:\"enum\";a:4:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";i:2;s:9:\"Suspended\";i:3;s:7:\"Deleted\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"JobCollectionState\";}}}}s:18:\"JobCollectionQuota\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"maxJobCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or set the maximum job count.\";s:4:\"type\";s:7:\"integer\";}s:16:\"maxJobOccurrence\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Gets
  or sets the maximum job occurrence.\";s:4:\"type\";s:7:\"integer\";}s:13:\"maxRecurrence\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/JobMaxRecurrence\";s:11:\"description\";s:35:\"Gets
  or set the maximum recurrence.\";}}}s:13:\"JobDefinition\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Gets
  the job resource identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Gets
  the job resource name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/JobProperties\";s:11:\"description\";s:32:\"Gets
  or sets the job properties.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Gets
  the job resource type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:14:\"JobErrorAction\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"queueMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/StorageQueueMessage\";s:11:\"description\";s:39:\"Gets
  or sets the storage queue message.\";}s:7:\"request\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/HttpRequest\";s:11:\"description\";s:31:\"Gets
  or sets the http requests.\";}s:11:\"retryPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/RetryPolicy\";s:11:\"description\";s:30:\"Gets
  or sets the retry policy.\";}s:22:\"serviceBusQueueMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ServiceBusQueueMessage\";s:11:\"description\";s:43:\"Gets
  or sets the service bus queue message.\";}s:22:\"serviceBusTopicMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ServiceBusTopicMessage\";s:11:\"description\";s:43:\"Gets
  or sets the service bus topic message.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Gets
  or sets the job error action type.\";s:4:\"enum\";a:5:{i:0;s:4:\"Http\";i:1;s:5:\"Https\";i:2;s:12:\"StorageQueue\";i:3;s:15:\"ServiceBusQueue\";i:4;s:15:\"ServiceBusTopic\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"JobActionType\";}}}}s:18:\"JobExecutionStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Gets
  the job execution status.\";s:4:\"enum\";a:3:{i:0;s:9:\"Completed\";i:1;s:6:\"Failed\";i:2;s:9:\"Postponed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"JobExecutionStatus\";}}s:20:\"JobHistoryDefinition\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Gets
  the job history identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Gets
  the job history name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:44:\"#/definitions/JobHistoryDefinitionProperties\";s:11:\"description\";s:40:\"Gets
  or sets the job history properties.\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Gets
  the job history resource type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:30:\"JobHistoryDefinitionProperties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"actionName\";O:8:\"stdClass\":5:{s:11:\"description\";s:33:\"Gets
  the job history action name.\";s:4:\"enum\";a:2:{i:0;s:10:\"MainAction\";i:1;s:11:\"ErrorAction\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:20:\"JobHistoryActionName\";}}s:7:\"endTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Gets
  the end time for this job.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:21:\"expectedExecutionTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Gets
  the expected execution time for this job.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Gets
  the message for the job history.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"repeatCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Gets
  the repeat count for the job.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:10:\"retryCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Gets
  the retry count for job.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Gets
  the start time for this job.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/JobExecutionStatus\";s:11:\"description\";s:28:\"Gets
  the job history status.\";s:8:\"readOnly\";b:1;}}}s:16:\"JobHistoryFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/JobExecutionStatus\";s:11:\"description\";s:38:\"Gets
  or sets the job execution status.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"JobHistoryListResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Gets
  or sets the URL to get the next set of job histories.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Gets
  or sets the job histories under job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/JobHistoryDefinition\";}s:4:\"type\";s:5:\"array\";}}}s:13:\"JobListResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Gets
  or sets the URL to get the next set of jobs.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Gets
  or sets all jobs under job collection.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/JobDefinition\";}s:4:\"type\";s:5:\"array\";}}}s:16:\"JobMaxRecurrence\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"frequency\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"Gets
  or sets the frequency of recurrence (second, minute, hour, day, week, month).\";s:4:\"enum\";a:5:{i:0;s:6:\"Minute\";i:1;s:4:\"Hour\";i:2;s:3:\"Day\";i:3;s:4:\"Week\";i:4;s:5:\"Month\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"RecurrenceFrequency\";}}s:8:\"interval\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Gets
  or sets the interval between retries.\";s:4:\"type\";s:7:\"integer\";}}}s:13:\"JobProperties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"action\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobAction\";s:11:\"description\";s:28:\"Gets
  or sets the job action.\";}s:10:\"recurrence\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/JobRecurrence\";s:11:\"description\";s:32:\"Gets
  or sets the job recurrence.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Gets
  or sets the job start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/JobState\";s:11:\"description\";s:26:\"Gets
  or set the job state.\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:20:\"Gets
  the job status.\";s:8:\"readOnly\";b:1;}}}s:13:\"JobRecurrence\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"count\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Gets
  or sets the maximum number of times that the job should run.\";s:4:\"type\";s:7:\"integer\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Gets
  or sets the time at which the job will complete.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"frequency\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"Gets
  or sets the frequency of recurrence (second, minute, hour, day, week, month).\";s:4:\"enum\";a:5:{i:0;s:6:\"Minute\";i:1;s:4:\"Hour\";i:2;s:3:\"Day\";i:3;s:4:\"Week\";i:4;s:5:\"Month\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"RecurrenceFrequency\";}}s:8:\"interval\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Gets
  or sets the interval between retries.\";s:4:\"type\";s:7:\"integer\";}s:8:\"schedule\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/JobRecurrenceSchedule\";}}}s:21:\"JobRecurrenceSchedule\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"hours\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Gets
  or sets the hours of the day that the job should execute at.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:7:\"minutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Gets
  or sets the minutes of the hour that the job should execute at.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:9:\"monthDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Gets
  or sets the days of the month that the job should execute on. Must be between 1
  and 31.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:18:\"monthlyOccurrences\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Gets
  or sets the occurrences of days within a month.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/JobRecurrenceScheduleMonthlyOccurrence\";}s:4:\"type\";s:5:\"array\";}s:8:\"weekDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Gets
  or sets the days of the week that the job should execute on.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:7:{i:0;s:6:\"Sunday\";i:1;s:6:\"Monday\";i:2;s:7:\"Tuesday\";i:3;s:9:\"Wednesday\";i:4;s:8:\"Thursday\";i:5;s:6:\"Friday\";i:6;s:8:\"Saturday\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:9:\"DayOfWeek\";}}s:4:\"type\";s:5:\"array\";}}}s:38:\"JobRecurrenceScheduleMonthlyOccurrence\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Occurrence\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Gets
  or sets the occurrence. Must be between -5 and 5.\";s:4:\"type\";s:7:\"integer\";}s:3:\"day\";O:8:\"stdClass\":4:{s:11:\"description\";s:100:\"Gets
  or sets the day. Must be one of monday, tuesday, wednesday, thursday, friday, saturday,
  sunday.\";s:4:\"enum\";a:7:{i:0;s:6:\"Monday\";i:1;s:7:\"Tuesday\";i:2;s:9:\"Wednesday\";i:3;s:8:\"Thursday\";i:4;s:6:\"Friday\";i:5;s:8:\"Saturday\";i:6;s:6:\"Sunday\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:14:\"JobScheduleDay\";}}}}s:8:\"JobState\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Gets
  or set the job state.\";s:4:\"enum\";a:4:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";i:2;s:7:\"Faulted\";i:3;s:9:\"Completed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:8:\"JobState\";}}s:14:\"JobStateFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/JobState\";s:11:\"description\";s:27:\"Gets
  or sets the job state.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"JobStatus\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"executionCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Gets
  the number of times this job has executed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:12:\"failureCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Gets
  the number of times this job has failed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:12:\"faultedCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Gets
  the number of faulted occurrences (occurrences that were retried and failed as many
  times as the retry policy states).\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:17:\"lastExecutionTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:102:\"Gets
  the time the last occurrence executed in ISO-8601 format.  Could be empty if job
  has not run yet.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"nextExecutionTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:96:\"Gets
  the time of the next occurrence in ISO-8601 format. Could be empty if the job is
  completed.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:19:\"OAuthAuthentication\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/HttpAuthentication\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"audience\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Gets
  or sets the audience.\";s:4:\"type\";s:6:\"string\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Gets
  or sets the client identifier.\";s:4:\"type\";s:6:\"string\";}s:6:\"secret\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Gets
  or sets the secret, return value will always be empty.\";s:4:\"type\";s:6:\"string\";}s:6:\"tenant\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or sets the tenant.\";s:4:\"type\";s:6:\"string\";}}}s:19:\"RecurrenceFrequency\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Gets
  or sets the frequency of recurrence (minute, hour, day, week, month).\";s:4:\"enum\";a:5:{i:0;s:6:\"Minute\";i:1;s:4:\"Hour\";i:2;s:3:\"Day\";i:3;s:4:\"Week\";i:4;s:5:\"Month\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"RecurrenceFrequency\";}}s:11:\"RetryPolicy\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"retryCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Gets
  or sets the number of times a retry should be attempted.\";s:4:\"type\";s:7:\"integer\";}s:13:\"retryInterval\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Gets
  or sets the retry interval between retries, specify duration in ISO 8601 format.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:9:\"retryType\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Gets
  or sets the retry strategy to be used.\";s:4:\"enum\";a:2:{i:0;s:4:\"None\";i:1;s:5:\"Fixed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:9:\"RetryType\";}}}}s:24:\"ServiceBusAuthentication\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"sasKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets the SAS key.\";s:4:\"type\";s:6:\"string\";}s:10:\"sasKeyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Gets
  or sets the SAS key name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Gets
  or sets the authentication type.\";s:4:\"enum\";a:2:{i:0;s:12:\"NotSpecified\";i:1;s:15:\"SharedAccessKey\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:28:\"ServiceBusAuthenticationType\";}}}}s:35:\"ServiceBusBrokeredMessageProperties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Gets
  or sets the content type.\";s:4:\"type\";s:6:\"string\";}s:13:\"correlationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Gets
  or sets the correlation ID.\";s:4:\"type\";s:6:\"string\";}s:16:\"forcePersistence\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Gets
  or sets the force persistence.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Gets
  or sets the label.\";s:4:\"type\";s:6:\"string\";}s:9:\"messageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Gets
  or sets the message ID.\";s:4:\"type\";s:6:\"string\";}s:12:\"partitionKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Gets
  or sets the partition key.\";s:4:\"type\";s:6:\"string\";}s:7:\"replyTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Gets
  or sets the reply to.\";s:4:\"type\";s:6:\"string\";}s:16:\"replyToSessionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Gets
  or sets the reply to session ID.\";s:4:\"type\";s:6:\"string\";}s:23:\"scheduledEnqueueTimeUtc\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  or sets the scheduled enqueue time UTC.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Gets
  or sets the session ID.\";s:4:\"type\";s:6:\"string\";}s:10:\"timeToLive\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Gets
  or sets the time to live.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Gets
  or sets the to.\";s:4:\"type\";s:6:\"string\";}s:15:\"viaPartitionKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Gets
  or sets the via partition key.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"ServiceBusMessage\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"authentication\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ServiceBusAuthentication\";s:11:\"description\";s:44:\"Gets
  or sets the Service Bus authentication.\";}s:25:\"brokeredMessageProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/ServiceBusBrokeredMessageProperties\";s:11:\"description\";s:45:\"Gets
  or sets the brokered message properties.\";}s:23:\"customMessageProperties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:43:\"Gets
  or sets the custom message properties.\";s:4:\"type\";s:6:\"object\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets the message.\";s:4:\"type\";s:6:\"string\";}s:9:\"namespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Gets
  or sets the namespace.\";s:4:\"type\";s:6:\"string\";}s:13:\"transportType\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Gets
  or sets the transport type.\";s:4:\"enum\";a:3:{i:0;s:12:\"NotSpecified\";i:1;s:12:\"NetMessaging\";i:2;s:4:\"AMQP\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:23:\"ServiceBusTransportType\";}}}}s:22:\"ServiceBusQueueMessage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceBusMessage\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"queueName\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Gets
  or sets the queue name.\";s:4:\"type\";s:6:\"string\";}}}s:22:\"ServiceBusTopicMessage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceBusMessage\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"topicPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Gets
  or sets the topic path.\";s:4:\"type\";s:6:\"string\";}}}s:3:\"Sku\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Gets
  or set the SKU.\";s:4:\"enum\";a:4:{i:0;s:8:\"Standard\";i:1;s:4:\"Free\";i:2;s:10:\"P10Premium\";i:3;s:10:\"P20Premium\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"SkuDefinition\";}}}}s:19:\"StorageQueueMessage\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets the message.\";s:4:\"type\";s:6:\"string\";}s:9:\"queueName\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Gets
  or sets the queue name.\";s:4:\"type\";s:6:\"string\";}s:8:\"sasToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets the SAS key.\";s:4:\"type\";s:6:\"string\";}s:14:\"storageAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Gets
  or sets the storage account name.\";s:4:\"type\";s:6:\"string\";}}}}"
...
