---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:31:\"Azure Stack Azure Bridge
  Client\";s:7:\"version\";s:10:\"2017-06-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:164:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/AzureStack.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:21:\"azurestack-AzureStack\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.AzureStack/operations:
    get:
      description: Returns the list of supported REST operations.
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationList'
      tags:
      - AzureStack
      x-ms-examples:
        Returns the list of supported REST operations.:
          parameters:
            api-version: "2017-06-01"
          responses:
            200:
              body:
                value:
                - display:
                    description: Gets the properties of an Azure Stack registration
                    operation: Get Azure Stack Registration
                    provider: Azure Stack Resource Provider
                    resource: Azure Stack Registration
                  name: Microsoft.AzureStack/registrations/read
                  origin: user,system
                - display:
                    description: Creates or updates an Azure Stack registration
                    operation: Create Azure Stack Registration
                    provider: Azure Stack Resource Provider
                    resource: Azure Stack Registration
                  name: Microsoft.AzureStack/registrations/write
                  origin: user,system
                - display:
                    description: Deletes an Azure Stack registration
                    operation: Delete Azure Stack Registration
                    provider: Azure Stack Resource Provider
                    resource: Azure Stack Registration
                  name: Microsoft.AzureStack/registrations/delete
                  origin: user,system
                - display:
                    description: Gets the latest Azure Stack activation key
                    operation: Get Azure Stack Activation Key
                    provider: Azure Stack Resource Provider
                    resource: Azure Stack Registration
                  name: Microsoft.AzureStack/registrations/getActivationKey/action
                  origin: user,system
                - display:
                    description: Registers Subscription with Microsoft.AzureStack
                      resource provider
                    operation: Register Subscription for Azure Stack
                    provider: Azure Stack Resource Provider
                  name: Microsoft.AzureStack/register/action
                  origin: user,system
                - display:
                    description: Gets the properties of an Azure Stack Marketplace
                      product
                    operation: Get Azure Stack Marketplace Product
                    provider: Azure Stack Resource Provider
                    resource: Azure Stack Marketplace Product
                  name: Microsoft.AzureStack/registrations/products/read
                  origin: user,system
                - display:
                    description: Retrieves extended details for an Azure Stack Marketplace
                      product
                    operation: Get Azure Stack Marketplace Product Details
                    provider: Azure Stack Resource Provider
                    resource: Azure Stack Marketplace Product
                  name: Microsoft.AzureStack/registrations/products/listDetails/action
                  origin: user,system
                - display:
                    description: Gets the properties of an Azure Stack Customer Subscription
                    operation: Get Azure Stack Customer Subscription
                    provider: Azure Stack Resource Provider
                    resource: Azure Stack Customer Subscription
                  name: Microsoft.AzureStack/registrations/customerSubscriptions/read
                  origin: user,system
                - display:
                    description: Creates or updates an Azure Stack Customer Subscription
                    operation: Create Azure Stack Customer Subscription
                    provider: Azure Stack Resource Provider
                    resource: Azure Stack Customer Subscription
                  name: Microsoft.AzureStack/registrations/customerSubscriptions/write
                  origin: user,system
                - display:
                    description: Deletes an Azure Stack Customer Subscription
                    operation: Delete Azure Stack Customer Subscription
                    provider: Azure Stack Resource Provider
                    resource: Azure Stack Customer Subscription
                  name: Microsoft.AzureStack/registrations/customerSubscriptions/delete
                  origin: user,system
                - display:
                    description: The localized friendly description for the operation,
                      as it should be shown to the user.
                    operation: Read Resource Provider Operations
                    provider: Name of the Resource Provider.
                    resource: Resource Type Display Name.
                  name: Microsoft.AzureStack/Operations/read
                  origin: user,system
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:7:\"Display\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Contains
  the localized display information for this particular operation or action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"The
  localized, friendly description for the operation. The description will be displayed
  to the user. It should be thorough and concise for used in both tooltips and detailed
  views.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  localized, friendly name for the operation. Use the name as it will displayed to
  the user.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  localized, friendly version of the resource provider name.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"The
  localized, friendly version of the resource type related to this action or operation;
  the resource type should match the public documentation for the resource provider.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"Operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Describes
  the supported REST operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"display\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Display\";s:11:\"description\";s:83:\"Contains
  the localized display information for this particular operation or action.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  name of the operation being performed on this particular object.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  intended executor of the operation.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"OperationList\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"List
  of Operations\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"URI
  to the next page of operations.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Array
  of operations\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"ProvisioningState\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  provisioning state of the resource.\";s:4:\"enum\";a:4:{i:0;s:8:\"Creating\";i:1;s:6:\"Failed\";i:2;s:9:\"Succeeded\";i:3;s:8:\"Canceled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:17:\"ProvisioningState\";}}s:8:\"Resource\";O:8:\"stdClass\":5:{s:11:\"description\";s:21:\"Base
  resource object.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  entity tag used for optimistic concurency when modifying the resource.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"ID
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":5:{s:11:\"description\";s:25:\"Location
  of the resource.\";s:4:\"enum\";a:1:{i:0;s:6:\"global\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:8:\"Location\";}s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Name
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:29:\"Custom
  tags for the resource.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Type
  of Resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}"
...
