---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:37:\"DomainRegistrationProvider
  API Client\";s:7:\"version\";s:10:\"2015-04-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:181:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.DomainRegistration/stable/2015-04-01/DomainRegistrationProvider.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:30:\"web-DomainRegistrationProvider\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:36:\"azure_web_domainregistrationprovider\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.DomainRegistration/operations:
    get:
      description: Implements Csm operations Api to exposes the list of available
        Csm Apis under the resource provider
      operationId: DomainRegistrationProvider_ListOperations
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            description: Collection of Azure resource manager operation metadata.
            properties:
              nextLink:
                description: Link to next page of resources.
                readOnly: true
                type: string
              value:
                description: Collection of resources.
                items:
                  description: Description of an operation available for Microsoft.Web
                    resource provider.
                  properties:
                    display:
                      description: Meta data about operation used for display in portal.
                      properties:
                        description:
                          type: string
                        operation:
                          type: string
                        provider:
                          type: string
                        resource:
                          type: string
                      type: object
                    name:
                      type: string
                    origin:
                      type: string
                    properties:
                      description: Properties available for a Microsoft.Web resource
                        provider operation.
                      properties:
                        serviceSpecification:
                          description: Resource metrics service provided by Microsoft.Insights
                            resource provider.
                          properties:
                            metricSpecifications:
                              items:
                                description: Definition of a single resource metric.
                                properties:
                                  aggregationType:
                                    type: string
                                  availabilities:
                                    items:
                                      description: Retention policy of a resource
                                        metric.
                                      properties:
                                        blobDuration:
                                          type: string
                                        timeGrain:
                                          type: string
                                      type: object
                                    type: array
                                  category:
                                    type: string
                                  dimensions:
                                    items:
                                      description: Dimension of a resource metric.
                                        For e.g. instance specific HTTP requests for
                                        a web app, nwhere instance name is dimension
                                        of the metric HTTP request
                                      properties:
                                        displayName:
                                          type: string
                                        internalName:
                                          type: string
                                        name:
                                          type: string
                                        toBeExportedForShoebox:
                                          type: boolean
                                      type: object
                                    type: array
                                  displayDescription:
                                    type: string
                                  displayName:
                                    type: string
                                  enableRegionalMdmAccount:
                                    type: boolean
                                  fillGapWithZero:
                                    type: boolean
                                  isInternal:
                                    type: boolean
                                  metricFilterPattern:
                                    type: string
                                  name:
                                    type: string
                                  sourceMdmAccount:
                                    type: string
                                  sourceMdmNamespace:
                                    type: string
                                  supportsInstanceLevelAggregation:
                                    type: boolean
                                  unit:
                                    type: string
                                type: object
                              type: array
                          type: object
                      type: object
                  type: object
                type: array
            required:
            - value
            type: object
      summary: Implements Csm operations Api to exposes the list of available Csm
        Apis under the resource provider
      tags:
      - DomainRegistrationProvider
      x-ms-examples:
        List operations:
          parameters:
            api-version: "2015-04-01"
          responses:
            200:
              body:
                value:
                - display:
                    description: Get the list of domains
                    operation: Get Domains
                    provider: Microsoft Domains
                    resource: Domain
                  name: Microsoft.DomainRegistration/domains/Read
                  origin: user,system
                - display:
                    description: Add a new Domain or update an existing one
                    operation: Add or Update Domain
                    provider: Microsoft Domains
                    resource: Domain
                  name: Microsoft.DomainRegistration/domains/Write
                  origin: user,system
                - display:
                    description: Delete an existing domain.
                    operation: Delete Domain
                    provider: Microsoft Domains
                    resource: Domain
                  name: Microsoft.DomainRegistration/domains/Delete
                  origin: user,system
                - display:
                    description: Get a domain operation
                    operation: Get Domain Operation
                    provider: Microsoft Domains
                    resource: Domain operation
                  name: Microsoft.DomainRegistration/domains/operationresults/Read
                  origin: user,system
                - display:
                    description: Generate a request for signing into domain control
                      center.
                    operation: Generate Domain Control Center Single Sign On Request
                    provider: Microsoft Domains
                    resource: Domain Control Center Single Sign On Request
                  name: Microsoft.DomainRegistration/generateSsoRequest/Action
                  origin: user,system
                - display:
                    description: Validate domain purchase object without submitting
                      it
                    operation: Domain Purchase Info Validation
                    provider: Microsoft Domains
                    resource: Domain Validation
                  name: Microsoft.DomainRegistration/validateDomainRegistrationInformation/Action
                  origin: user,system
                - display:
                    description: Check if a domain is available for purchase
                    operation: Check Domain Availablity
                    provider: Microsoft Domains
                    resource: Domain Availablity Result
                  name: Microsoft.DomainRegistration/checkDomainAvailability/Action
                  origin: user,system
                - display:
                    description: Retrieve the list domain recommendations based on
                      keywords
                    operation: Retrieve Domain Recommendations
                    provider: Microsoft Domains
                    resource: Domain Recommendations
                  name: Microsoft.DomainRegistration/listDomainRecommendations/Action
                  origin: user,system
                - display:
                    description: Register the Microsoft Domains resource provider
                      for the subscription
                    operation: Register Microsoft Domains resource provider
                    provider: Microsoft Domains
                    resource: Microsoft Domains resource provider
                  name: Microsoft.DomainRegistration/register/action
                  origin: user,system
              headers: []
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
