---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2018-08-01\";s:5:\"title\";s:32:\"WebApplicationFirewallManagement\";s:11:\"description\";s:45:\"APIs
  to manage web application firewall rules\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies
  : get:
      tags:
      - ListWebApplicationFirewalPolicies
      description: Lists all of the protection policies within a resource group.
      operationId: Policies_List
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/WebApplicationFirewallPolicyListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List Policies in a Resource Group:
          $ref: ./examples/WafListPolicies.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/FrontDoorWebApplicationFirewallPolicies/{policyName}
  : get:
      tags:
      - GetWebapplicationfirewallPolicy
      description: Retrieve protection policy with specified name within a resource
        group.
      operationId: Policies_Get
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: policyName
        in: path
        required: true
        type: string
        maxLength: 128
        description: The name of the resource group.
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/WebApplicationFirewallPolicy'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        policy get:
          $ref: ./examples/WafPolicyGet.json
    put:
      tags:
      - CreateOrUpdateWebApplicationFirewallPolicy
      description: Creates or update policy with specified rule set name within a
        resource group.
      operationId: Policies_CreateOrUpdate
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: policyName
        in: path
        required: true
        type: string
        maxLength: 128
        description: The name of the resource group.
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: Policy to be created.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/WebApplicationFirewallPolicy'
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/WebApplicationFirewallPolicy'
        201:
          description: Created. The request has been fulfilled and a new protection
            policy has been created.
          schema:
            $ref: '#/definitions/WebApplicationFirewallPolicy'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        Creates specific policy:
          $ref: ./examples/WafPolicyCreateOrUpdate.json
    delete:
      tags:
      - DeleteWebApplicationFirewallPolicy
      description: Deletes Policy
      operationId: Policies_Delete
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: policyName
        in: path
        required: true
        type: string
        maxLength: 128
        description: The name of the resource group.
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        202:
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
        204:
          description: No Content. The request has been accepted but the policy was
            not found.
        200:
          description: Delete successful.
      x-ms-examples:
        Delete protection policy:
          $ref: ./examples/WafPolicyDelete.json
      x-ms-long-running-operation: true
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:28:\"WebApplicationFirewallPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Defines
  web application firewall policy.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:58:\"#/definitions/WebApplicationFirewallPolicyPropertiesFormat\";s:11:\"description\";s:50:\"Properties
  of the web application firewall policy.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Gets
  a unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"./network.json#/definitions/Resource\";}}}s:44:\"WebApplicationFirewallPolicyPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Defines
  web application firewall policy properties\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"policySettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Describes
  \ policySettings for policy\";s:4:\"$ref\";s:28:\"#/definitions/policySettings\";}s:11:\"customRules\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Describes
  custom rules inside the policy\";s:4:\"$ref\";s:25:\"#/definitions/CustomRules\";}s:12:\"managedRules\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Describes
  managed rules inside the policy\";s:4:\"$ref\";s:29:\"#/definitions/ManagedRuleSets\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Provisioning
  state of the WebApplicationFirewallPolicy.\";}s:13:\"resourceState\";O:8:\"stdClass\":5:{s:5:\"title\";s:30:\"Resource
  status of the policy.\";s:8:\"readOnly\";b:1;s:4:\"enum\";a:6:{i:0;s:8:\"Creating\";i:1;s:8:\"Enabling\";i:2;s:7:\"Enabled\";i:3;s:9:\"Disabling\";i:4;s:8:\"Disabled\";i:5;s:8:\"Deleting\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:28:\"WebApplicationFirewallPolicy\";s:13:\"modelAsString\";b:1;}}}}s:38:\"WebApplicationFirewallPolicyListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:167:\"Result
  of the request to list WebApplicationFirewallPolicies. It contains a list of WebApplicationFirewallPolicy
  objects and a URL link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/WebApplicationFirewallPolicy\";}s:11:\"description\";s:63:\"List
  of WebApplicationFirewallPolicies within a resource group.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"URL
  to get the next set of WebApplicationFirewallPolicy objects if there are any.\";}}}s:14:\"policySettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Defines
  contents of a web application firewall global configuration\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"enabledState\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"describes
  if the policy is in enabled state or disabled state\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:8:\"Disabled\";i:1;s:7:\"Enabled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"enabledState\";s:13:\"modelAsString\";b:1;}}s:4:\"mode\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"Describes
  if it is in detection mode  or prevention mode at policy level\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:10:\"Prevention\";i:1;s:9:\"Detection\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"mode\";s:13:\"modelAsString\";b:1;}}}}s:11:\"CustomRules\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Defines
  contents of custom rules\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"List
  of rules\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CustomRule\";}}}}s:10:\"CustomRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Defines
  contents of a web application rule\";s:8:\"required\";a:4:{i:0;s:8:\"priority\";i:1;s:8:\"ruleType\";i:2;s:15:\"matchConditions\";i:3;s:6:\"action\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:103:\"Gets
  name of the resource that is unique within a policy. This name can be used to access
  the resource.\";s:9:\"maxLength\";i:128;}s:4:\"etag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:77:\"Gets
  a unique read-only string that changes whenever the resource is updated.\";}s:8:\"priority\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Describes
  priority of the rule. Rules with a lower value will be evaluated before rules with
  a higher value\";s:4:\"type\";s:7:\"integer\";}s:8:\"ruleType\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Describes
  type of rule\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"MatchRule\";i:1;s:13:\"RateLimitRule\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"ruleType\";s:13:\"modelAsString\";b:1;}}s:26:\"rateLimitDurationInMinutes\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Defines
  rate limit duration. Default - 1 minute\";s:4:\"type\";s:7:\"integer\";}s:18:\"rateLimitThreshold\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Defines
  rate limit threshold\";s:4:\"type\";s:7:\"integer\";}s:15:\"matchConditions\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"List
  of match conditions\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MatchCondition\";}}s:6:\"action\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Type
  of Actions\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:5:\"Allow\";i:1;s:5:\"Block\";i:2;s:3:\"Log\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"action\";s:13:\"modelAsString\";b:1;}}s:10:\"transforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of transforms\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/transform\";}}}}s:9:\"transform\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Describes
  what transforms applied before matching\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:9:\"Lowercase\";i:1;s:9:\"Uppercase\";i:2;s:4:\"Trim\";i:3;s:9:\"UrlDecode\";i:4;s:9:\"UrlEncode\";i:5;s:11:\"RemoveNulls\";i:6;s:16:\"HtmlEntityDecode\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"transform\";s:13:\"modelAsString\";b:1;}}s:14:\"MatchCondition\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Define
  match conditions\";s:8:\"required\";a:3:{i:0;s:13:\"matchVariable\";i:1;s:8:\"operator\";i:2;s:10:\"matchValue\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"matchVariable\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Match
  Variable\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:10:\"RemoteAddr\";i:1;s:13:\"RequestMethod\";i:2;s:11:\"QueryString\";i:3;s:8:\"PostArgs\";i:4;s:10:\"RequestUri\";i:5;s:13:\"RequestHeader\";i:6;s:11:\"RequestBody\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"MatchCondition\";s:13:\"modelAsString\";b:1;}}s:8:\"selector\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Name
  of selector in RequestHeader or RequestBody to be matched\";s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Describes
  operator to be matched\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:11:{i:0;s:3:\"Any\";i:1;s:7:\"IPMatch\";i:2;s:8:\"GeoMatch\";i:3;s:5:\"Equal\";i:4;s:8:\"Contains\";i:5;s:8:\"LessThan\";i:6;s:11:\"GreaterThan\";i:7;s:15:\"LessThanOrEqual\";i:8;s:18:\"GreaterThanOrEqual\";i:9;s:10:\"BeginsWith\";i:10;s:8:\"EndsWith\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"operator\";s:13:\"modelAsString\";b:1;}}s:15:\"negateCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Describes
  if this is negate condition or not\";s:4:\"type\";s:7:\"boolean\";}s:10:\"matchValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Match
  value\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:15:\"ManagedRuleSets\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Defines
  ManagedRuleSets - array of managedRuleSet\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"ruleSets\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"List
  of rules\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ManagedRuleSet\";}}}}s:14:\"ManagedRuleSet\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:43:\"Base
  class for all types of ManagedRuleSet.\";s:24:\"x-ms-discriminator-value\";s:7:\"Unknown\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"priority\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Describes
  priority of the rule\";s:4:\"type\";s:7:\"integer\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"defines
  version of the rule set\";s:4:\"type\";s:7:\"integer\";}s:11:\"ruleSetType\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"RuleSetType
  - AzureManagedRuleSet or OWASP RuleSets.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"ruleSetType\";}s:13:\"discriminator\";s:11:\"ruleSetType\";}s:19:\"AzureManagedRuleSet\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:33:\"Describes
  azure managed provider.\";s:24:\"x-ms-discriminator-value\";s:19:\"AzureManagedRuleSet\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"ruleGroupOverrides\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"List
  of azure managed provider override configuration (optional)\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/AzureManagedOverrideRuleGroup\";}}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ManagedRuleSet\";}}}s:29:\"AzureManagedOverrideRuleGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Defines
  contents of a web application rule\";s:8:\"required\";a:2:{i:0;s:17:\"ruleGroupOverride\";i:1;s:6:\"action\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ruleGroupOverride\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Describes
  override rule group\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:12:\"SqlInjection\";i:1;s:3:\"XSS\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"ruleGroupOverride\";s:13:\"modelAsString\";b:1;}}s:6:\"action\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Type
  of Actions\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:5:\"Allow\";i:1;s:5:\"Block\";i:2;s:3:\"Log\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"action\";s:13:\"modelAsString\";b:1;}}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Error
  response indicates Front Door service is not able to process the incoming request.
  The reason is provided in the error message.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Error
  code.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}}"
...
