---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:280:\"The Microsoft
  Azure Network management API provides a RESTful set of web services that interact
  with Microsoft Azure Networks service to manage your network resources. The API
  has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:5:\"title\";s:23:\"NetworkManagementClient\";s:7:\"version\";s:10:\"2018-01-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:164:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-01-01/networkInterface.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:24:\"network-networkInterface\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:30:\"azure_network_networkinterface\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/networkInterfaces:
    get:
      description: Gets all network interfaces in a subscription.
      operationId: NetworkInterfaces_ListAll
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of NetworkInterface
            resources.
          schema:
            $ref: '#/definitions/NetworkInterfaceListResult'
      tags:
      - NetworkInterfaces
      x-ms-examples:
        List all network interfaces:
          parameters:
            api-version: "2018-01-01"
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/test-nic
                  location: eastus
                  name: test-nic
                  properties:
                    dnsSettings:
                      appliedDnsServers: []
                      dnsServers: []
                      internalDomainNameSuffix: test.bx.internal.cloudapp.net
                    enableAcceleratedNetworking: true
                    enableIPForwarding: false
                    ipConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/test-nic/ipConfigurations/ipconfig1
                      name: ipconfig1
                      properties:
                        primary: true
                        privateIPAddress: 172.20.2.4
                        privateIPAddressVersion: IPv4
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/test-ip
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/rg1-vnet/subnets/default
                    macAddress: 00-0D-3A-1B-C7-21
                    networkSecurityGroup:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg
                    primary: true
                    provisioningState: Succeeded
                    virtualMachine:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                  type: Microsoft.Network/networkInterfaces
                - id: /subscriptions/subid/resourceGroups/rgnew/providers/Microsoft.Network/networkInterfaces/test-nic2
                  location: eastus
                  name: test-nic2
                  properties:
                    dnsSettings:
                      appliedDnsServers: []
                      dnsServers: []
                    enableAcceleratedNetworking: true
                    enableIPForwarding: false
                    ipConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rgnew/providers/Microsoft.Network/networkInterfaces/test-nic2/ipConfigurations/ipconfig1
                      name: ipconfig1
                      properties:
                        primary: true
                        privateIPAddress: 172.20.2.4
                        privateIPAddressVersion: IPv4
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rgnew/providers/Microsoft.Network/publicIPAddresses/test-ip2
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rgnew/providers/Microsoft.Network/virtualNetworks/rgnew-vnet2/subnets/default
                    provisioningState: Succeeded
                  type: Microsoft.Network/networkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces:
    get:
      description: Gets all network interfaces in a resource group.
      operationId: NetworkInterfaces_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of NetworkInterface
            resources.
          schema:
            $ref: '#/definitions/NetworkInterfaceListResult'
      tags:
      - NetworkInterfaces
      x-ms-examples:
        List network interfaces in resource group:
          parameters:
            api-version: "2018-01-01"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/test-nic
                  location: eastus
                  name: test-nic
                  properties:
                    dnsSettings:
                      appliedDnsServers: []
                      dnsServers: []
                      internalDomainNameSuffix: test.bx.internal.cloudapp.net
                    enableAcceleratedNetworking: true
                    enableIPForwarding: false
                    ipConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/test-nic/ipConfigurations/ipconfig1
                      name: ipconfig1
                      properties:
                        primary: true
                        privateIPAddress: 172.20.2.4
                        privateIPAddressVersion: IPv4
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/test-ip
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/rg1-vnet/subnets/default
                    macAddress: 00-0D-3A-1B-C7-21
                    networkSecurityGroup:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg
                    primary: true
                    provisioningState: Succeeded
                    virtualMachine:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                  type: Microsoft.Network/networkInterfaces
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/test-nic2
                  location: eastus
                  name: test-nic2
                  properties:
                    dnsSettings:
                      appliedDnsServers: []
                      dnsServers: []
                    enableAcceleratedNetworking: true
                    enableIPForwarding: false
                    ipConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/test-nic2/ipConfigurations/ipconfig1
                      name: ipconfig1
                      properties:
                        primary: true
                        privateIPAddress: 172.20.2.4
                        privateIPAddressVersion: IPv4
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/test-ip2
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/rg1-vnet2/subnets/default
                    provisioningState: Succeeded
                  type: Microsoft.Network/networkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}
  : delete:
      description: Deletes the specified network interface.
      operationId: NetworkInterfaces_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Delete successful.
        202:
          description: Accepted and the operation will complete asynchronously.
        204:
          description: Request successful. Resource does not exist.
      tags:
      - NetworkInterfaces
      x-ms-examples:
        Delete network interface:
          parameters:
            api-version: "2018-01-01"
            networkInterfaceName: test-nic
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200: []
            202: []
            204: []
      x-ms-long-running-operation: true
    get:
      description: Gets information about the specified network interface.
      operationId: NetworkInterfaces_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: Expands referenced resources.
        in: query
        name: $expand
        required: false
        type: string
      responses:
        200:
          description: Request successful. The operation returns the resulting NetworkInterface
            resource.
          schema:
            $ref: '#/definitions/NetworkInterface'
      tags:
      - NetworkInterfaces
      x-ms-examples:
        Get network interface:
          parameters:
            api-version: "2018-01-01"
            networkInterfaceName: test-nic
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/test-nic
                location: eastus
                name: test-nic
                properties:
                  dnsSettings:
                    appliedDnsServers: []
                    dnsServers: []
                    internalDomainNameSuffix: test.bx.internal.cloudapp.net
                  enableAcceleratedNetworking: true
                  enableIPForwarding: false
                  ipConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/test-nic/ipConfigurations/ipconfig1
                    name: ipconfig1
                    properties:
                      primary: true
                      privateIPAddress: 172.20.2.4
                      privateIPAddressVersion: IPv4
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/test-ip
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/rg1-vnet/subnets/default
                  macAddress: 00-0D-3A-1B-C7-21
                  networkSecurityGroup:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg
                  primary: true
                  provisioningState: Succeeded
                  virtualMachine:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                type: Microsoft.Network/networkInterfaces
    patch:
      description: Updates a network interface tags.
      operationId: NetworkInterfaces_UpdateTags
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        type: string
      - description: Parameters supplied to update network interface tags.
        in: body
        name: parameters
        required: true
        schema:
          description: Tags object for patch operations.
          properties:
            tags:
              additionalProperties:
                type: string
              description: Resource tags.
              type: object
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Update successful. The operation returns the resulting NetworkInterface
            resource.
          schema:
            $ref: '#/definitions/NetworkInterface'
      tags:
      - NetworkInterfaces
      x-ms-examples:
        Update network interface tags:
          parameters:
            api-version: "2018-01-01"
            networkInterfaceName: test-nic
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/test-nic
                location: eastus
                name: test-nic
                properties:
                  dnsSettings:
                    appliedDnsServers: []
                    dnsServers: []
                  enableAcceleratedNetworking: true
                  enableIPForwarding: false
                  ipConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/test-nic/ipConfigurations/ipconfig1
                    name: ipconfig1
                    properties:
                      primary: true
                      privateIPAddress: 172.20.2.4
                      privateIPAddressVersion: IPv4
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/test-ip
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/rg1-vnet/subnets/default
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/networkInterfaces
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a network interface.
      operationId: NetworkInterfaces_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        type: string
      - description: Parameters supplied to the create or update network interface
          operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/NetworkInterface'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Update successful. The operation returns the resulting NetworkInterface
            resource.
          schema:
            $ref: '#/definitions/NetworkInterface'
        201:
          description: Create successful. The operation returns the resulting NetworkInterface
            resource.
          schema:
            $ref: '#/definitions/NetworkInterface'
      tags:
      - NetworkInterfaces
      x-ms-examples:
        Create network interface:
          parameters:
            api-version: "2018-01-01"
            networkInterfaceName: test-nic
            parameters:
              properties:
                enableAcceleratedNetworking: true
                ipConfigurations:
                - name: ipconfig1
                  properties:
                    publicIPAddress:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/test-ip
                    subnet:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/rg1-vnet/subnets/default
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/test-nic
                location: eastus
                name: test-nic
                properties:
                  dnsSettings:
                    appliedDnsServers: []
                    dnsServers: []
                  enableAcceleratedNetworking: true
                  enableIPForwarding: false
                  ipConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/test-nic/ipConfigurations/ipconfig1
                    name: ipconfig1
                    properties:
                      primary: true
                      privateIPAddress: 172.20.2.4
                      privateIPAddressVersion: IPv4
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/test-ip
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/rg1-vnet/subnets/default
                  provisioningState: Succeeded
                type: Microsoft.Network/networkInterfaces
            201:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/test-nic
                location: eastus
                name: test-nic
                properties:
                  dnsSettings:
                    appliedDnsServers: []
                    dnsServers: []
                  enableAcceleratedNetworking: true
                  enableIPForwarding: false
                  ipConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/test-nic/ipConfigurations/ipconfig1
                    name: ipconfig1
                    properties:
                      primary: true
                      privateIPAddress: 172.20.2.4
                      privateIPAddressVersion: IPv4
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/test-ip
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/rg1-vnet/subnets/default
                  provisioningState: Succeeded
                type: Microsoft.Network/networkInterfaces
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/effectiveNetworkSecurityGroups
  : post:
      description: Gets all network security groups applied to a network interface.
      operationId: NetworkInterfaces_ListEffectiveNetworkSecurityGroups
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of NetworkSecurityGroup
            resources.
          schema:
            $ref: '#/definitions/EffectiveNetworkSecurityGroupListResult'
        202:
          description: Accepted and the operation will complete asynchronously.
      tags:
      - NetworkInterfaces
      x-ms-examples:
        List network interface effective network security groups:
          parameters:
            api-version: "2018-01-01"
            networkInterfaceName: nic1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - association:
                    networkInterface:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic1
                    subnet:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/rg1-vnet/subnets/default
                  effectiveSecurityRules:
                  - access: Allow
                    destinationAddressPrefix: 0.0.0.0/32
                    destinationPortRange: 6579-6579
                    direction: Inbound
                    name: securityRules/rule1
                    priority: 234
                    protocol: Tcp
                    sourceAddressPrefix: 0.0.0.0/32
                    sourcePortRange: 456-456
                  - access: Allow
                    destinationAddressPrefix: 0.0.0.0/0
                    destinationPortRange: 3389-3389
                    direction: Inbound
                    name: securityRules/default-allow-rdp
                    priority: 1000
                    protocol: Tcp
                    sourceAddressPrefix: 1.1.1.1/32
                    sourcePortRange: 0-65535
                  - access: Allow
                    destinationAddressPrefix: Internet
                    destinationPortRange: 0-65535
                    direction: Outbound
                    expandedDestinationAddressPrefix:
                    - 32.0.0.0/3
                    - 4.0.0.0/6
                    - 2.0.0.0/7
                    - 1.0.0.0/8
                    name: defaultSecurityRules/AllowInternetOutBound
                    priority: 65001
                    protocol: All
                    sourceAddressPrefix: 0.0.0.0/0
                    sourcePortRange: 0-65535
                  networkSecurityGroup:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/test-nsg
            202: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/effectiveRouteTable
  : post:
      description: Gets all route tables applied to a network interface.
      operationId: NetworkInterfaces_GetEffectiveRouteTable
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of EffectRoute
            resources.
          schema:
            $ref: '#/definitions/EffectiveRouteListResult'
        202:
          description: Accepted and the operation will complete asynchronously.
      tags:
      - NetworkInterfaces
      x-ms-examples:
        Show network interface effective route tables:
          parameters:
            api-version: "2018-01-01"
            networkInterfaceName: nic1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - addressPrefix:
                  - 172.20.2.0/24
                  nextHopIpAddress: []
                  nextHopType: VnetLocal
                  source: Default
                  state: Active
                - addressPrefix:
                  - 0.0.0.0/0
                  nextHopIpAddress: []
                  nextHopType: Internet
                  source: Default
                  state: Active
                - addressPrefix:
                  - 10.0.0.0/8
                  nextHopIpAddress: []
                  nextHopType: None
                  source: Default
                  state: Active
                - addressPrefix:
                  - 100.64.0.0/10
                  nextHopIpAddress: []
                  nextHopType: None
                  source: Default
                  state: Active
                - addressPrefix:
                  - 172.16.0.0/12
                  nextHopIpAddress: []
                  nextHopType: None
                  source: Default
                  state: Active
                - addressPrefix:
                  - 192.168.0.0/16
                  nextHopIpAddress: []
                  nextHopType: None
                  source: Default
                  state: Active
            202: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/ipConfigurations
  : get:
      description: Get all ip configurations in a network interface
      operationId: NetworkInterfaceIPConfigurations_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of NetworkInterface
            IPConfiguration resources.
          schema:
            $ref: '#/definitions/NetworkInterfaceIPConfigurationListResult'
      tags:
      - NetworkInterfaces
      x-ms-examples:
        NetworkInterfaceIPConfigurationList:
          parameters:
            api-version: "2018-01-01"
            networkInterfaceName: nic1
            resourceGroupName: testrg
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1
                  name: ipconfig1
                  properties:
                    primary: true
                    privateIPAddress: 10.0.0.4
                    privateIPAddressVersion: IPv4
                    privateIPAllocationMethod: Dynamic
                    provisioningState: Succeeded
                    subnet:
                      id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/vnet12/subnets/subnet12
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/ipConfigurations/{ipConfigurationName}
  : get:
      description: Gets the specified network interface ip configuration.
      operationId: NetworkInterfaceIPConfigurations_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        type: string
      - description: The name of the ip configuration name.
        in: path
        name: ipConfigurationName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the resulting NetworkInterface
            IPConfiguration resource.
          schema:
            $ref: '#/definitions/NetworkInterfaceIPConfiguration'
      tags:
      - NetworkInterfaces
      x-ms-examples:
        NetworkInterfaceIPConfigurationGet:
          parameters:
            api-version: "2018-01-01"
            ipConfigurationName: ipconfig1
            networkInterfaceName: mynic
            resourceGroupName: testrg
            subscriptionId: subid
          responses:
            200:
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/networkInterfaces/mynic/ipConfigurations/ipconfig1
                name: ipconfig1
                properties:
                  loadBalancerBackendAddressPools:
                  - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1/backendAddressPools/bepool1
                  loadBalancerInboundNatRules:
                  - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1/inboundNatRules/inbound1
                  privateIPAddress: 10.0.1.4
                  privateIPAddressVersion: IPv4
                  privateIPAllocationMethod: Dynamic
                  provisioningState: Succeeded
                  subnet:
                    id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/myVirtualNetwork/subnets/frontendSubnet
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/loadBalancers
  : get:
      description: List all load balancers in a network interface.
      operationId: NetworkInterfaceLoadBalancers_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of NetworkInterface
            LoadBalancer resources.
          schema:
            $ref: '#/definitions/NetworkInterfaceLoadBalancerListResult'
      tags:
      - NetworkInterfaces
      x-ms-examples:
        NetworkInterfaceLoadBalancerList:
          parameters:
            api-version: "2018-01-01"
            networkInterfaceName: nic1
            resourceGroupName: testrg
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1
                  location: westus
                  name: lbname1
                  properties:
                    backendAddressPools:
                    - etag: W/"00000000-0000-0000-0000-000000000000"
                      id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1/backendAddressPools/bepool1
                      name: bepool1
                      properties:
                        backendIPConfigurations:
                        - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1
                        loadBalancingRules:
                        - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1/loadBalancingRules/rule1
                        provisioningState: Succeeded
                    frontendIPConfigurations:
                    - etag: W/"00000000-0000-0000-0000-000000000000"
                      id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1/frontendIPConfigurations/lbfrontend
                      name: lbfrontend
                      properties:
                        inboundNatRules:
                        - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1/inboundNatRules/inbound1
                        loadBalancingRules:
                        - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1/loadBalancingRules/rule1
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/publicIPAddresses/myDynamicPublicIP
                    inboundNatPools: []
                    inboundNatRules:
                    - etag: W/"00000000-0000-0000-0000-000000000000"
                      id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1/inboundNatRules/inbound1
                      name: inbound1
                      properties:
                        backendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1
                        backendPort: 3389
                        enableFloatingIP: false
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1/frontendIPConfigurations/lbfrontend
                        frontendPort: 3389
                        idleTimeoutInMinutes: 15
                        protocol: Tcp
                        provisioningState: Succeeded
                    loadBalancingRules:
                    - etag: W/"00000000-0000-0000-0000-000000000000"
                      id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1/loadBalancingRules/rule1
                      name: rule1
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1/backendAddressPools/bepool1
                        backendPort: 80
                        enableFloatingIP: false
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1/frontendIPConfigurations/lbfrontend
                        frontendPort: 80
                        idleTimeoutInMinutes: 15
                        loadDistribution: Default
                        probe:
                          id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1/probes/probe1
                        protocol: Tcp
                        provisioningState: Succeeded
                    outboundNatRules: []
                    probes:
                    - etag: W/"00000000-0000-0000-0000-000000000000"
                      id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1/probes/probe1
                      name: probe1
                      properties:
                        intervalInSeconds: 15
                        loadBalancingRules:
                        - id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lbname1/loadBalancingRules/rule1
                        numberOfProbes: 2
                        port: 80
                        protocol: Http
                        provisioningState: Succeeded
                        requestPath: healthcheck.aspx
                    provisioningState: Succeeded
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                  type: Microsoft.Network/loadBalancers
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":21:{s:34:\"BackendAddressPoolPropertiesFormat\";O:8:\"stdClass\":0:{}s:29:\"EffectiveNetworkSecurityGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Effective
  network security group.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"association\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/EffectiveNetworkSecurityGroupAssociation\";s:11:\"description\";s:21:\"Associated
  resources.\";}s:22:\"effectiveSecurityRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  collection of effective security rules.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/EffectiveNetworkSecurityRule\";}s:4:\"type\";s:5:\"array\";}s:20:\"networkSecurityGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:6:\"tagMap\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"List
  of IP Addresses within the tag (key)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";s:64:\"Mapping
  of tags to list of IP Addresses included within the tag.\";s:4:\"type\";s:6:\"string\";}}}s:40:\"EffectiveNetworkSecurityGroupAssociation\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  effective network security group association.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"networkInterface\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:6:\"subnet\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}}s:39:\"EffectiveNetworkSecurityGroupListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Response
  for list effective network security groups API service call.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"A
  list of effective network security groups.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/EffectiveNetworkSecurityGroup\";}s:4:\"type\";s:5:\"array\";}}}s:28:\"EffectiveNetworkSecurityRule\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Effective
  network security rules.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:6:\"access\";O:8:\"stdClass\":4:{s:11:\"description\";s:86:\"Whether
  network traffic is allowed or denied. Possible values are: 'Allow' and 'Deny'.\";s:4:\"enum\";a:2:{i:0;s:5:\"Allow\";i:1;s:4:\"Deny\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"SecurityRuleAccess\";}}s:24:\"destinationAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  destination address prefix.\";s:4:\"type\";s:6:\"string\";}s:26:\"destinationAddressPrefixes\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"The
  destination address prefixes. Expected values include CIDR IP ranges, Default Tags
  (VirtualNetwork, AureLoadBalancer, Internet), System Tags, and the asterix (*).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"destinationPortRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  destination port or range.\";s:4:\"type\";s:6:\"string\";}s:21:\"destinationPortRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"The
  destination port ranges. Expected values include a single integer between 0 and
  65535, a range using '-' as seperator (e.g. 100-400), or an asterix (*)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"The
  direction of the rule. Possible values are: 'Inbound and Outbound'.\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:21:\"SecurityRuleDirection\";}}s:32:\"expandedDestinationAddressPrefix\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Expanded
  destination address prefix.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:27:\"expandedSourceAddressPrefix\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  expanded source address prefix.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  name of the security rule specified by the user (if created by the user).\";s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  priority of the rule.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"The
  network protocol this rule applies to. Possible values are: 'Tcp', 'Udp', and 'All'.\";s:4:\"enum\";a:3:{i:0;s:3:\"Tcp\";i:1;s:3:\"Udp\";i:2;s:3:\"All\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:29:\"EffectiveSecurityRuleProtocol\";}}s:19:\"sourceAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  source address prefix.\";s:4:\"type\";s:6:\"string\";}s:21:\"sourceAddressPrefixes\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"The
  source address prefixes. Expected values include CIDR IP ranges, Default Tags (VirtualNetwork,
  AureLoadBalancer, Internet), System Tags, and the asterix (*).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"sourcePortRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  source port or range.\";s:4:\"type\";s:6:\"string\";}s:16:\"sourcePortRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"The
  source port ranges. Expected values include a single integer between 0 and 65535,
  a range using '-' as seperator (e.g. 100-400), or an asterix (*)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:14:\"EffectiveRoute\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Effective
  Route\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"addressPrefix\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  address prefixes of the effective routes in CIDR notation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  name of the user defined route. This is optional.\";s:4:\"type\";s:6:\"string\";}s:16:\"nextHopIpAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  IP address of the next hop of the effective route.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"nextHopType\";O:8:\"stdClass\":4:{s:11:\"description\";s:154:\"The
  type of Azure hop the packet should be sent to. Possible values are: 'VirtualNetworkGateway',
  'VnetLocal', 'Internet', 'VirtualAppliance', and 'None'.\";s:4:\"enum\";a:5:{i:0;s:21:\"VirtualNetworkGateway\";i:1;s:9:\"VnetLocal\";i:2;s:8:\"Internet\";i:3;s:16:\"VirtualAppliance\";i:4;s:4:\"None\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"RouteNextHopType\";}}s:6:\"source\";O:8:\"stdClass\":4:{s:11:\"description\";s:102:\"Who
  created the route. Possible values are: 'Unknown', 'User', 'VirtualNetworkGateway',
  and 'Default'.\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:4:\"User\";i:2;s:21:\"VirtualNetworkGateway\";i:3;s:7:\"Default\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"EffectiveRouteSource\";}}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"The
  value of effective route. Possible values are: 'Active' and 'Invalid'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:7:\"Invalid\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:19:\"EffectiveRouteState\";}}}}s:24:\"EffectiveRouteListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Response
  for list effective route API service call.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  list of effective routes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EffectiveRoute\";}s:4:\"type\";s:5:\"array\";}}}s:15:\"IPConfiguration\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:16:\"IP
  configuration\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:45:\"#/definitions/IPConfigurationPropertiesFormat\";s:11:\"description\";s:34:\"Properties
  of the IP configuration\";s:19:\"x-ms-client-flatten\";b:1;}}}s:31:\"IPConfigurationPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Properties
  of IP configuration.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"privateIPAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  private IP address of the IP configuration.\";s:4:\"type\";s:6:\"string\";}s:25:\"privateIPAllocationMethod\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"The
  private IP allocation method. Possible values are 'Static' and 'Dynamic'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"IPAllocationMethod\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Gets
  the provisioning state of the public IP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";s:4:\"type\";s:6:\"string\";}s:15:\"publicIPAddress\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:27:\"Public
  IP address resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:45:\"#/definitions/PublicIPAddressPropertiesFormat\";s:11:\"description\";s:29:\"Public
  IP address properties.\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"SKU
  of a public IP address\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Name
  of a public IP address SKU.\";s:4:\"enum\";a:2:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:22:\"PublicIPAddressSkuName\";}}}}s:5:\"zones\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"A
  list of availability zones denoting the IP allocated for the resource needs to come
  from.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:6:\"subnet\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:37:\"Subnet
  in a virtual network resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/SubnetPropertiesFormat\";s:11:\"description\";s:25:\"Properties
  of the subnet.\";s:19:\"x-ms-client-flatten\";b:1;}}}}}s:30:\"InboundNatRulePropertiesFormat\";O:8:\"stdClass\":0:{}s:16:\"NetworkInterface\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:40:\"A
  network interface in a resource group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:46:\"#/definitions/NetworkInterfacePropertiesFormat\";s:11:\"description\";s:36:\"Properties
  of the network interface.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:27:\"NetworkInterfaceDnsSettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"DNS
  settings of a network interface.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"appliedDnsServers\";O:8:\"stdClass\":3:{s:11:\"description\";s:225:\"If
  the VM that uses this NIC is part of an Availability Set, then this list will have
  the union of all DNS servers from all NICs that are part of the Availability Set.
  This property is what is configured on each of those VMs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"dnsServers\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"List
  of DNS servers IP addresses. Use 'AzureProvidedDNS' to switch to azure provided
  DNS resolution. 'AzureProvidedDNS' value cannot be combined with other IPs, it must
  be the only value in dnsServers collection.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"internalDnsNameLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"Relative
  DNS name for this NIC used for internal communications between VMs in the same virtual
  network.\";s:4:\"type\";s:6:\"string\";}s:24:\"internalDomainNameSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:206:\"Even
  if internalDnsNameLabel is not specified, a DNS entry is created for the primary
  NIC of the VM. This DNS name can be constructed by concatenating the VM name with
  the value of internalDomainNameSuffix.\";s:4:\"type\";s:6:\"string\";}s:12:\"internalFqdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Fully
  qualified DNS name supporting internal communications between VMs in the same virtual
  network.\";s:4:\"type\";s:6:\"string\";}}}s:31:\"NetworkInterfaceIPConfiguration\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:39:\"IPConfiguration
  in a network interface.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:61:\"#/definitions/NetworkInterfaceIPConfigurationPropertiesFormat\";s:11:\"description\";s:46:\"Network
  interface IP configuration properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:41:\"NetworkInterfaceIPConfigurationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Response
  for list ip configurations API service call.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"A
  list of ip configurations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/NetworkInterfaceIPConfiguration\";}s:4:\"type\";s:5:\"array\";}}}s:47:\"NetworkInterfaceIPConfigurationPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Properties
  of IP configuration.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:37:\"applicationGatewayBackendAddressPools\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  reference of ApplicationGatewayBackendAddressPool resource.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:75:\"./applicationGateway.json#/definitions/ApplicationGatewayBackendAddressPool\";}s:4:\"type\";s:5:\"array\";}s:25:\"applicationSecurityGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Application
  security groups in which the IP configuration is included.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:50:\"An
  application security group in a resource group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Application
  security group properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"The
  provisioning state of the application security group resource. Possible values are:
  'Succeeded', 'Updating', 'Deleting', and 'Failed'.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"resourceGuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:204:\"The
  resource GUID property of the application security group resource. It uniquely identifies
  a resource, even if the user changes its name or migrate the resource across subscriptions
  or resource groups.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}}}s:4:\"type\";s:5:\"array\";}s:31:\"loadBalancerBackendAddressPools\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  reference of LoadBalancerBackendAddressPool resource.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:29:\"Pool
  of backend IP addresses.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:48:\"#/definitions/BackendAddressPoolPropertiesFormat\";s:11:\"description\";s:49:\"Properties
  of load balancer backend address pool.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:4:\"type\";s:5:\"array\";}s:27:\"loadBalancerInboundNatRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"A
  list of references of LoadBalancerInboundNatRules.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:38:\"Inbound
  NAT rule of the load balancer.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:44:\"#/definitions/InboundNatRulePropertiesFormat\";s:11:\"description\";s:45:\"Properties
  of load balancer inbound nat rule.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:4:\"type\";s:5:\"array\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  whether this is a primary customer address on the network interface.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"privateIPAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Private
  IP address of the IP configuration.\";s:4:\"type\";s:6:\"string\";}s:23:\"privateIPAddressVersion\";O:8:\"stdClass\":4:{s:11:\"description\";s:181:\"Available
  from Api-Version 2016-03-30 onwards, it represents whether the specific ipconfiguration
  is IPv4 or IPv6. Default is taken as IPv4.  Possible values are: 'IPv4' and 'IPv6'.\";s:4:\"enum\";a:2:{i:0;s:4:\"IPv4\";i:1;s:4:\"IPv6\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"IPVersion\";}}s:25:\"privateIPAllocationMethod\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"Defines
  how a private IP address is assigned. Possible values are: 'Static' and 'Dynamic'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"IPAllocationMethod\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"The
  provisioning state of the network interface IP configuration. Possible values are:
  'Updating', 'Deleting', and 'Failed'.\";s:4:\"type\";s:6:\"string\";}s:15:\"publicIPAddress\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:27:\"Public
  IP address resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:45:\"#/definitions/PublicIPAddressPropertiesFormat\";s:11:\"description\";s:29:\"Public
  IP address properties.\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"SKU
  of a public IP address\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Name
  of a public IP address SKU.\";s:4:\"enum\";a:2:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:22:\"PublicIPAddressSkuName\";}}}}s:5:\"zones\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"A
  list of availability zones denoting the IP allocated for the resource needs to come
  from.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:6:\"subnet\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:37:\"Subnet
  in a virtual network resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/SubnetPropertiesFormat\";s:11:\"description\";s:25:\"Properties
  of the subnet.\";s:19:\"x-ms-client-flatten\";b:1;}}}}}s:26:\"NetworkInterfaceListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Response
  for the ListNetworkInterface API service call.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  list of network interfaces in a resource group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NetworkInterface\";}s:4:\"type\";s:5:\"array\";}}}s:38:\"NetworkInterfaceLoadBalancerListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Response
  for list ip configurations API service call.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  list of load balancers.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:21:\"LoadBalancer
  resource\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Properties
  of the load balancer.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:19:\"backendAddressPools\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Collection
  of backend address pools used by a load balancer\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:29:\"Pool
  of backend IP addresses.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:48:\"#/definitions/BackendAddressPoolPropertiesFormat\";s:11:\"description\";s:49:\"Properties
  of load balancer backend address pool.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:4:\"type\";s:5:\"array\";}s:24:\"frontendIPConfigurations\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Object
  representing the frontend IPs to be used for the load balancer\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:41:\"Frontend
  IP address of the load balancer.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Properties
  of Frontend IP Configuration of the load balancer.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"inboundNatPools\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Read
  only. Inbound pools URIs that use this frontend IP.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:15:\"inboundNatRules\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Read
  only. Inbound rules URIs that use this frontend IP.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:18:\"loadBalancingRules\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Gets
  load balancing rules URIs that use this frontend IP.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:16:\"outboundNatRules\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Read
  only. Outbound rules URIs that use this frontend IP.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:16:\"privateIPAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  private IP address of the IP configuration.\";s:4:\"type\";s:6:\"string\";}s:25:\"privateIPAllocationMethod\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"The
  Private IP allocation method. Possible values are: 'Static' and 'Dynamic'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"IPAllocationMethod\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Gets
  the provisioning state of the public IP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";s:4:\"type\";s:6:\"string\";}s:15:\"publicIPAddress\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:27:\"Public
  IP address resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:45:\"#/definitions/PublicIPAddressPropertiesFormat\";s:11:\"description\";s:29:\"Public
  IP address properties.\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"SKU
  of a public IP address\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Name
  of a public IP address SKU.\";s:4:\"enum\";a:2:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:22:\"PublicIPAddressSkuName\";}}}}s:5:\"zones\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"A
  list of availability zones denoting the IP allocated for the resource needs to come
  from.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:6:\"subnet\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:37:\"Subnet
  in a virtual network resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/SubnetPropertiesFormat\";s:11:\"description\";s:25:\"Properties
  of the subnet.\";s:19:\"x-ms-client-flatten\";b:1;}}}}}s:5:\"zones\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"A
  list of availability zones denoting the IP allocated for the resource needs to come
  from.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:4:\"type\";s:5:\"array\";}s:15:\"inboundNatPools\";O:8:\"stdClass\":3:{s:11:\"description\";s:564:\"Defines
  an external port range for inbound NAT to a single backend port on NICs associated
  with a load balancer. Inbound NAT rules are created automatically for each NIC associated
  with the Load Balancer using an external port from this range. Defining an Inbound
  NAT pool on your Load Balancer is mutually exclusive with defining inbound Nat rules.
  Inbound NAT pools are referenced from virtual machine scale sets. NICs that are
  associated with individual virtual machines cannot reference an inbound NAT pool.
  They have to reference individual inbound NAT rules.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:38:\"Inbound
  NAT pool of the load balancer.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Properties
  of Inbound NAT pool.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"backendPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  port used for internal connections on the endpoint. Acceptable values are between
  1 and 65535.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"enableFloatingIP\";O:8:\"stdClass\":2:{s:11:\"description\";s:276:\"Configures
  a virtual machine's endpoint for the floating IP capability required to configure
  a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn
  Availability Groups in SQL server. This setting can't be changed after you create
  the endpoint.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"frontendIPConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:20:\"frontendPortRangeEnd\";O:8:\"stdClass\":3:{s:11:\"description\";s:178:\"The
  last port number in the range of external ports that will be used to provide Inbound
  Nat to NICs associated with a load balancer. Acceptable values range between 1 and
  65535.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"frontendPortRangeStart\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"The
  first port number in the range of external ports that will be used to provide Inbound
  Nat to NICs associated with a load balancer. Acceptable values range between 1 and
  65534.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"idleTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:178:\"The
  timeout for the TCP idle connection. The value can be set between 4 and 30 minutes.
  The default value is 4 minutes. This element is only used when the protocol is set
  to TCP.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"The
  transport protocol for the endpoint. Possible values are 'Udp' or 'Tcp' or 'All.'\";s:4:\"enum\";a:3:{i:0;s:3:\"Udp\";i:1;s:3:\"Tcp\";i:2;s:3:\"All\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"TransportProtocol\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"Gets
  the provisioning state of the PublicIP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:8:\"protocol\";i:1;s:22:\"frontendPortRangeStart\";i:2;s:20:\"frontendPortRangeEnd\";i:3;s:11:\"backendPort\";}}}}s:4:\"type\";s:5:\"array\";}s:15:\"inboundNatRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:377:\"Collection
  of inbound NAT Rules used by a load balancer. Defining inbound NAT rules on your
  load balancer is mutually exclusive with defining an inbound NAT pool. Inbound NAT
  pools are referenced from virtual machine scale sets. NICs that are associated with
  individual virtual machines cannot reference an Inbound NAT pool. They have to reference
  individual inbound NAT rules.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:38:\"Inbound
  NAT rule of the load balancer.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:44:\"#/definitions/InboundNatRulePropertiesFormat\";s:11:\"description\";s:45:\"Properties
  of load balancer inbound nat rule.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:4:\"type\";s:5:\"array\";}s:18:\"loadBalancingRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Object
  collection representing the load balancing rules Gets the provisioning \";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:42:\"A
  load balancing rule for a load balancer.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Properties
  of the load balancer.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:18:\"backendAddressPool\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:11:\"backendPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"The
  port used for internal connections on the endpoint. Acceptable values are between
  0 and 65535. Note that value 0 enables \"Any Port\"\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"disableOutboundSnat\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"Configures
  SNAT for the VMs in the backend pool to use the publicIP address specified in the
  frontend of the load balancing rule.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"enableFloatingIP\";O:8:\"stdClass\":2:{s:11:\"description\";s:276:\"Configures
  a virtual machine's endpoint for the floating IP capability required to configure
  a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn
  Availability Groups in SQL server. This setting can't be changed after you create
  the endpoint.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"frontendIPConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:12:\"frontendPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"The
  port for the external endpoint. Port numbers for each rule must be unique within
  the Load Balancer. Acceptable values are between 0 and 65534. Note that value 0
  enables \"Any Port\"\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"idleTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:178:\"The
  timeout for the TCP idle connection. The value can be set between 4 and 30 minutes.
  The default value is 4 minutes. This element is only used when the protocol is set
  to TCP.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"loadDistribution\";O:8:\"stdClass\":4:{s:11:\"description\";s:110:\"The
  load distribution policy for this rule. Possible values are 'Default', 'SourceIP',
  and 'SourceIPProtocol'.\";s:4:\"enum\";a:3:{i:0;s:7:\"Default\";i:1;s:8:\"SourceIP\";i:2;s:16:\"SourceIPProtocol\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"LoadDistribution\";}}s:5:\"probe\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"The
  transport protocol for the endpoint. Possible values are 'Udp' or 'Tcp' or 'All.'\";s:4:\"enum\";a:3:{i:0;s:3:\"Udp\";i:1;s:3:\"Tcp\";i:2;s:3:\"All\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"TransportProtocol\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"Gets
  the provisioning state of the PublicIP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"protocol\";i:1;s:12:\"frontendPort\";}}}}s:4:\"type\";s:5:\"array\";}s:16:\"outboundNatRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  outbound NAT rules.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:39:\"Outbound
  NAT pool of the load balancer.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Outbound
  NAT pool of the load balancer.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"allocatedOutboundPorts\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  number of outbound ports to be used for NAT.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"backendAddressPool\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:24:\"frontendIPConfigurations\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  Frontend IP addresses of the load balancer.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"Gets
  the provisioning state of the PublicIP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:18:\"backendAddressPool\";}}}}s:4:\"type\";s:5:\"array\";}s:6:\"probes\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Collection
  of probe objects used in the load balancer\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:22:\"A
  load balancer probe.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Load
  balancer probe resource.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"intervalInSeconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:300:\"The
  interval, in seconds, for how frequently to probe the endpoint for health status.
  Typically, the interval is slightly less than half the allocated timeout period
  (in seconds) which allows two full probes before taking the instance out of rotation.
  The default value is 15, the minimum value is 5.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"loadBalancingRules\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"The
  load balancer rules that use this probe.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:14:\"numberOfProbes\";O:8:\"stdClass\":3:{s:11:\"description\";s:232:\"The
  number of probes where if no response, will result in stopping further traffic from
  being delivered to the endpoint. This values allows endpoints to be taken out of
  rotation faster or slower than the typical times used in Azure.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  port for communicating the probe. Possible values range from 1 to 65535, inclusive.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:259:\"The
  protocol of the end point. Possible values are: 'Http' or 'Tcp'. If 'Tcp' is specified,
  a received ACK is required for the probe to be successful. If 'Http' is specified,
  a 200 OK response from the specifies URI is required for the probe to be successful.\";s:4:\"enum\";a:2:{i:0;s:4:\"Http\";i:1;s:3:\"Tcp\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"ProbeProtocol\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Gets
  the provisioning state of the public IP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";s:4:\"type\";s:6:\"string\";}s:11:\"requestPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:158:\"The
  URI used for requesting health status from the VM. Path is required if a protocol
  is set to http. Otherwise, it is not allowed. There is no default value.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"protocol\";i:1;s:4:\"port\";}}}}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"Gets
  the provisioning state of the PublicIP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceGuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  resource GUID property of the load balancer resource.\";s:4:\"type\";s:6:\"string\";}}}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"SKU
  of a load balancer\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Name
  of a load balancer SKU.\";s:4:\"enum\";a:2:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:19:\"LoadBalancerSkuName\";}}}}}}s:4:\"type\";s:5:\"array\";}}}s:32:\"NetworkInterfacePropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"NetworkInterface
  properties. \";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"dnsSettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"DNS
  settings of a network interface.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"appliedDnsServers\";O:8:\"stdClass\":3:{s:11:\"description\";s:225:\"If
  the VM that uses this NIC is part of an Availability Set, then this list will have
  the union of all DNS servers from all NICs that are part of the Availability Set.
  This property is what is configured on each of those VMs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"dnsServers\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"List
  of DNS servers IP addresses. Use 'AzureProvidedDNS' to switch to azure provided
  DNS resolution. 'AzureProvidedDNS' value cannot be combined with other IPs, it must
  be the only value in dnsServers collection.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"internalDnsNameLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"Relative
  DNS name for this NIC used for internal communications between VMs in the same virtual
  network.\";s:4:\"type\";s:6:\"string\";}s:24:\"internalDomainNameSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:206:\"Even
  if internalDnsNameLabel is not specified, a DNS entry is created for the primary
  NIC of the VM. This DNS name can be constructed by concatenating the VM name with
  the value of internalDomainNameSuffix.\";s:4:\"type\";s:6:\"string\";}s:12:\"internalFqdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Fully
  qualified DNS name supporting internal communications between VMs in the same virtual
  network.\";s:4:\"type\";s:6:\"string\";}}}s:27:\"enableAcceleratedNetworking\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"If
  the network interface is accelerated networking enabled.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"enableIPForwarding\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Indicates
  whether IP forwarding is enabled on this network interface.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"ipConfigurations\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"A
  list of IPConfigurations of the network interface.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/NetworkInterfaceIPConfiguration\";}s:4:\"type\";s:5:\"array\";}s:10:\"macAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  MAC address of the network interface.\";s:4:\"type\";s:6:\"string\";}s:20:\"networkSecurityGroup\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:30:\"NetworkSecurityGroup
  resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:50:\"#/definitions/NetworkSecurityGroupPropertiesFormat\";s:11:\"description\";s:40:\"Properties
  of the network security group\";s:19:\"x-ms-client-flatten\";b:1;}}}s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Gets
  whether this is a primary network interface on a virtual machine.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
[...]
