---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:18:\"Azure SQL Database\";s:11:\"description\";s:180:\"Provides
  create, read, update and delete functionality for Azure SQL Database resources including
  servers, databases, elastic pools, recommendations, operations, and usage metrics.\";s:7:\"version\";s:10:\"2014-04-01\";}"
host: management.azure.com
paths:
  /providers/Microsoft.Sql/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available SQL Rest API operations.
      operationId: Operations_List
      x-ms-examples:
        Get a list of operations for a resource provider:
          $ref: ./examples/OperationList.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"Result
  of the request to list SQL operations. It contains a list of operations and a URL
  link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:11:\"description\";s:62:\"List
  of SQL operations supported by the SQL resource provider.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"SQL
  REST API operation definition.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Operation
  name: {provider}/{resource}/{operation}\";s:4:\"type\";s:6:\"string\";}s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Display
  metadata associated with the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Service
  provider: Microsoft SQL Database.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Resource
  on which the operation is performed: Server, Database, etc.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Type
  of operation: get, read, delete, etc.\";s:4:\"type\";s:6:\"string\";}}}}}}"
...
