---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2019-04-01\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/azureFirewallFqdnTags:
    get:
      tags:
      - AzureFirewallFqdnTags
      operationId: AzureFirewallFqdnTags_ListAll
      description: Gets all the Azure Firewall FQDN Tags in a subscription.
      parameters:
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Success. The operation returns a list of Azure Firewall FQDN
            Tag resources.
          schema:
            $ref: '#/definitions/AzureFirewallFqdnTagListResult'
      x-ms-examples:
        List all Azure Firewall FQDN Tags for a given subscription:
          $ref: ./examples/AzureFirewallFqdnTagsListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:36:\"AzureFirewallFqdnTagPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:39:\"The
  provisioning state of the resource.\";}s:11:\"fqdnTagName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:26:\"The
  name of this FQDN Tag.\";}}s:11:\"description\";s:35:\"Azure Firewall FQDN Tag Properties.\";}s:20:\"AzureFirewallFqdnTag\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:50:\"#/definitions/AzureFirewallFqdnTagPropertiesFormat\";s:11:\"description\";s:42:\"Properties
  of the azure firewall FQDN tag.\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:77:\"Gets
  a unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"./network.json#/definitions/Resource\";}}s:11:\"description\";s:33:\"Azure
  Firewall FQDN Tag Resource.\";}s:30:\"AzureFirewallFqdnTagListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AzureFirewallFqdnTag\";}s:11:\"description\";s:53:\"List
  of Azure Firewall FQDN Tags in a resource group.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"URL
  to get the next set of results.\";}}s:11:\"description\";s:56:\"Response for ListAzureFirewallFqdnTags
  API service call.\";}}"
...
