---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:26:\"ServiceBusManagementClient\";s:11:\"description\";s:103:\"Azure
  Service Bus client for managing Namespace, IPFilter Rules, VirtualNetworkRules and
  Zone Redundant\";s:7:\"version\";s:18:\"2018-01-01-preview\";}"
host: management.azure.com
paths:
  /providers/Microsoft.ServiceBus/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      x-ms-examples:
        OperationsList:
          $ref: ./examples/SBOperations_List.json
      description: Lists all of the available ServiceBus REST API operations.
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/namespaces:
    get:
      tags:
      - Namespaces
      operationId: Namespaces_List
      x-ms-examples:
        NameSpaceList:
          $ref: ./examples/NameSpaces/SBNameSpaceList.json
      description: Gets all the available namespaces within the subscription, irrespective
        of the resource groups.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: Namespaces successfully returned.
          schema:
            $ref: '#/definitions/SBNamespaceListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces:
    get:
      tags:
      - Namespaces
      operationId: Namespaces_ListByResourceGroup
      x-ms-examples:
        NameSpaceListByResourceGroup:
          $ref: ./examples/NameSpaces/SBNameSpaceListByResourceGroup.json
      description: Gets the available namespaces within a resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: Namespaces successfully returned.
          schema:
            $ref: '#/definitions/SBNamespaceListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}:
    put:
      tags:
      - Namespaces
      operationId: Namespaces_CreateOrUpdate
      x-ms-examples:
        NameSpaceCreate:
          $ref: ./examples/NameSpaces/SBNameSpaceCreate.json
      description: Creates or updates a service namespace. Once created, this namespace's
        resource manifest is immutable. This operation is idempotent.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639408.aspx
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: namespaceName
        in: path
        required: true
        type: string
        description: The namespace name.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/SBNamespace'
        description: Parameters supplied to create a namespace resource.
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        201:
          description: Namespace create request accepted.
          schema:
            $ref: '#/definitions/SBNamespace'
        200:
          description: Namespace created successfully.
          schema:
            $ref: '#/definitions/SBNamespace'
        202:
          description: Namespace create or update request accepted.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
    delete:
      tags:
      - Namespaces
      operationId: Namespaces_Delete
      x-ms-examples:
        NameSpaceDelete:
          $ref: ./examples/NameSpaces/SBNameSpaceDelete.json
      description: Deletes an existing namespace. This operation also removes all
        associated resources under the namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639389.aspx
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/namespaceNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        204:
          description: No content.
        200:
          description: Namespace successfully deleted.
        202:
          description: Namespace delete request accepted.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
    get:
      tags:
      - Namespaces
      operationId: Namespaces_Get
      x-ms-examples:
        NameSpaceGet:
          $ref: ./examples/NameSpaces/SBNameSpaceGet.json
      description: Gets a description for the specified namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639379.aspx
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/namespaceNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: Namespace successfully returned.
          schema:
            $ref: '#/definitions/SBNamespace'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
      - Namespaces
      operationId: Namespaces_Update
      x-ms-examples:
        NameSpaceUpdate:
          $ref: ./examples/NameSpaces/SBNameSpaceUpdate.json
      description: Updates a service namespace. Once created, this namespace's resource
        manifest is immutable. This operation is idempotent.
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/namespaceNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/SBNamespaceUpdateParameters'
        description: Parameters supplied to update a namespace resource.
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        201:
          description: Namespace update request accepted.
          schema:
            $ref: '#/definitions/SBNamespace'
        200:
          description: Namespace updated successfully.
          schema:
            $ref: '#/definitions/SBNamespace'
        202:
          description: Namespace update request accepted.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/ipfilterrules
  : get:
      tags:
      - Namespaces
      operationId: Namespaces_ListIpFilterRules
      x-ms-examples:
        ListIpFilterRules:
          $ref: ./examples/NameSpaces/IPFilterRule/SBNameSpaceIPFilterRuleListAll.json
      description: Gets a list of IP Filter rules for a Namespace.
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/namespaceNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: Namespace IpFilterRule successfully returned.
          schema:
            $ref: '#/definitions/IpFilterRuleListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/ipfilterrules/{ipFilterRuleName}
  : put:
      tags:
      - Namespaces
      operationId: Namespaces_CreateOrUpdateIpFilterRule
      x-ms-examples:
        NameSpaceIpFilterRuleCreate:
          $ref: ./examples/NameSpaces/IPFilterRule/SBNameSpaceIpFilterRuleCreateorUpdate.json
      description: Creates or updates an IpFilterRule for a Namespace.
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/namespaceNameParameter'
      - $ref: '#/parameters/ipFilterRuleNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/IpFilterRule'
        description: The Namespace IpFilterRule.
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: Namespace IpFilterRule created
          schema:
            $ref: '#/definitions/IpFilterRule'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Namespaces
      operationId: Namespaces_DeleteIpFilterRule
      x-ms-examples:
        NameSpaceIpFilterRuleDelete:
          $ref: ./examples/NameSpaces/IPFilterRule/SBNameSpaceIpFilterRuleDelete.json
      description: Deletes an IpFilterRule for a Namespace.
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/namespaceNameParameter'
      - $ref: '#/parameters/ipFilterRuleNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        204:
          description: No content.
        200:
          description: Namespace IpFilterRule successfully deleted.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
      - Namespaces
      operationId: Namespaces_GetIpFilterRule
      x-ms-examples:
        NameSpaceIpFilterRuleGet:
          $ref: ./examples/NameSpaces/IPFilterRule/SBNameSpaceIpFilterRuleGet.json
      description: Gets an IpFilterRule for a Namespace by rule name.
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/namespaceNameParameter'
      - $ref: '#/parameters/ipFilterRuleNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: Namespace IpFilterRule returned successfully.
          schema:
            $ref: '#/definitions/IpFilterRule'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/virtualnetworkrules
  : get:
      tags:
      - Namespaces
      operationId: Namespaces_ListVirtualNetworkRules
      x-ms-examples:
        ListIpFilterRules:
          $ref: ./examples/NameSpaces/VirtualNetworkRule/SBNameSpaceVirtualNetworkRuleListAll.json
      description: Gets a list of VirtualNetwork rules for a Namespace.
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/namespaceNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: Namespace VirtualNetworkRule successfully returned.
          schema:
            $ref: '#/definitions/VirtualNetworkRuleListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/virtualnetworkrules/{virtualNetworkRuleName}
  : put:
      tags:
      - Namespaces
      operationId: Namespaces_CreateOrUpdateVirtualNetworkRule
      x-ms-examples:
        NameSpaceVirtualNetworkRuleCreate:
          $ref: ./examples/NameSpaces/VirtualNetworkRule/SBNameSpaceVirtualNetworkRuleCreateorUpdate.json
      description: Creates or updates an VirtualNetworkRule for a Namespace.
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/namespaceNameParameter'
      - $ref: '#/parameters/virtualNetworkRuleNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/VirtualNetworkRule'
        description: The Namespace VirtualNetworkRule.
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: Namespace VirtualNetworkRule created
          schema:
            $ref: '#/definitions/VirtualNetworkRule'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Namespaces
      operationId: Namespaces_DeleteVirtualNetworkRule
      x-ms-examples:
        NameSpaceVirtualNetworkRuleDelete:
          $ref: ./examples/NameSpaces/VirtualNetworkRule/SBNameSpaceVirtualNetworkRuleDelete.json
      description: Deletes an VirtualNetworkRule for a Namespace.
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/namespaceNameParameter'
      - $ref: '#/parameters/virtualNetworkRuleNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        204:
          description: No content.
        200:
          description: Namespace VirtualNetworkRule successfully deleted.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
      - Namespaces
      operationId: Namespaces_GetVirtualNetworkRule
      x-ms-examples:
        NameSpaceVirtualNetworkRuleGet:
          $ref: ./examples/NameSpaces/VirtualNetworkRule/SBNameSpaceVirtualNetworkRuleGet.json
      description: Gets an VirtualNetworkRule for a Namespace by rule name.
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/namespaceNameParameter'
      - $ref: '#/parameters/virtualNetworkRuleNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: Namespace VirtualNetworkRule returned successfully.
          schema:
            $ref: '#/definitions/VirtualNetworkRule'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/networkrulesets/default
  : put:
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceVirtualNetworkRuleSetCreate:
          $ref: ./examples/NameSpaces/VirtualNetworkRule/SBNetworkRuleSetCreate.json
      operationId: Namespaces_CreateOrUpdateNetworkRuleSet
      description: Gets NetworkRuleSet for a Namespace.
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/namespaceNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/NetworkRuleSet'
        description: The Namespace IpFilterRule.
      responses:
        200:
          description: Namespace NetworkRuleSet successfully returned.
          schema:
            $ref: '#/definitions/NetworkRuleSet'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceVirtualNetworkRuleSetget:
          $ref: ./examples/NameSpaces/VirtualNetworkRule/SBNetworkRuleSetGet.json
      operationId: Namespaces_GetNetworkRuleSet
      description: Gets NetworkRuleSet for a Namespace.
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/namespaceNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: Namespace NetworkRuleSet successfully returned.
          schema:
            $ref: '#/definitions/NetworkRuleSet'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":19:{s:15:\"TrackedResource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}s:11:\"description\";s:41:\"The
  Geo-location where the resource lives\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"x-ms-mutability\";a:3:{i:0;s:4:\"read\";i:1;s:6:\"create\";i:2;s:6:\"update\";}s:11:\"description\";s:13:\"Resource
  tags\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:11:\"description\";s:24:\"The
  Resource definition.\";}s:8:\"Resource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Resource
  Id\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"Resource
  name\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"Resource
  type\";}}s:19:\"x-ms-azure-resource\";b:1;s:11:\"description\";s:49:\"The Resource
  definition for other than namespace.\";}s:22:\"ResourceNamespacePatch\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Resource
  location\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:24:\"The
  Resource definition.\";}s:21:\"SBNamespaceListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SBNamespace\";}s:11:\"description\";s:39:\"Result
  of the List Namespace operation.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Link
  to the next set of results. Not empty if Value contains incomplete list of Namespaces.\";}}s:11:\"description\";s:45:\"The
  response of the List Namespace operation.\";}s:11:\"SBNamespace\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/SBSku\";s:11:\"description\";s:17:\"Properties
  of SKU\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:35:\"#/definitions/SBNamespaceProperties\";s:11:\"description\";s:28:\"Properties
  of the namespace.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:11:\"description\";s:36:\"Description
  of a namespace resource.\";}s:27:\"SBNamespaceUpdateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/SBSku\";s:11:\"description\";s:17:\"Properties
  of SKU\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:35:\"#/definitions/SBNamespaceProperties\";s:11:\"description\";s:28:\"Properties
  of the namespace.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ResourceNamespacePatch\";}}s:11:\"description\";s:36:\"Description
  of a namespace resource.\";}s:21:\"SBNamespaceProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Provisioning
  state of the namespace.\";}s:9:\"createdAt\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  time the namespace was created.\";}s:9:\"updatedAt\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  time the namespace was updated.\";}s:18:\"serviceBusEndpoint\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Endpoint
  you can use to perform Service Bus operations.\";}s:8:\"metricId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Identifier
  for Azure Insights metrics\";}s:13:\"zoneRedundant\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:103:\"Enabling
  this property creates a Premium Service Bus Namespace in regions supported availability
  zones.\";}}s:11:\"description\";s:28:\"Properties of the namespace.\";}s:5:\"SBSku\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Name
  of this SKU.\";s:4:\"enum\";a:3:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";i:2;s:7:\"Premium\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"SkuName\";s:13:\"modelAsString\";b:0;}}s:4:\"tier\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  billing tier of this particular SKU.\";s:4:\"enum\";a:3:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";i:2;s:7:\"Premium\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"SkuTier\";s:13:\"modelAsString\";b:0;}}s:8:\"capacity\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:85:\"The
  specified messaging units for the tier. For Premium tier, capacity are 1,2 and 4.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:11:\"description\";s:21:\"SKU
  of the namespace.\";}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Result
  of the request to list ServiceBus operations. It contains a list of operations and
  a URL link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:11:\"description\";s:86:\"List
  of ServiceBus operations supported by the Microsoft.ServiceBus resource provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  ServiceBus REST API operation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Operation
  name: {provider}/{resource}/{operation}\";}s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  object that represents the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"provider\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Service
  provider: Microsoft.ServiceBus\";}s:8:\"resource\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Resource
  on which the operation is performed: Invoice, etc.\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Operation
  type: Read, write, delete, etc.\";}}}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Error
  response indicates ServiceBus service is not able to process the incoming request.
  The reason is provided in the error message.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Error
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"IpFilterRule\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"ipMask\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"IP
  Mask\";}s:6:\"action\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  IP Filter Action\";s:4:\"enum\";a:2:{i:0;s:6:\"Accept\";i:1;s:6:\"Reject\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"IPAction\";s:13:\"modelAsString\";b:1;}}s:10:\"filterName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"IP
  Filter name\";}}s:11:\"description\";s:53:\"Properties supplied to create or update
  IpFilterRules\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:52:\"Single
  item in a List or Get IpFilterRules operation\";}s:22:\"IpFilterRuleListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/IpFilterRule\";}s:11:\"description\";s:44:\"Result
  of the List IpFilter Rules operation.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"Link
  to the next set of results. Not empty if Value contains an incomplete list of IpFilter
  Rules\";}}s:11:\"description\";s:47:\"The response from the List namespace operation.\";}s:18:\"VirtualNetworkRule\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"virtualNetworkSubnetId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Resource
  ID of Virtual Network Subnet\";}}s:11:\"description\";s:59:\"Properties supplied
  to create or update VirtualNetworkRules\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:58:\"Single
  item in a List or Get VirtualNetworkRules operation\";}s:28:\"VirtualNetworkRuleListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/VirtualNetworkRule\";}s:11:\"description\";s:50:\"Result
  of the List VirtualNetwork Rules operation.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:103:\"Link
  to the next set of results. Not empty if Value contains an incomplete list of VirtualNetwork
  Rules\";}}s:11:\"description\";s:47:\"The response from the List namespace operation.\";}s:6:\"Subnet\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Resource
  ID of Virtual Network Subnet\";}}s:11:\"description\";s:30:\"Properties supplied
  for Subnet\";}s:16:\"NWRuleSetIpRules\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"ipMask\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"IP
  Mask\";}s:6:\"action\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  IP Filter Action\";s:4:\"enum\";a:1:{i:0;s:5:\"Allow\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"NetworkRuleIPAction\";s:13:\"modelAsString\";b:1;}}}s:11:\"description\";s:47:\"The
  response from the List namespace operation.\";}s:28:\"NWRuleSetVirtualNetworkRules\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Subnet\";s:11:\"description\";s:17:\"Subnet
  properties\";}s:32:\"ignoreMissingVnetServiceEndpoint\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:68:\"Value
  that indicates whether to ignore missing Vnet Service Endpoint\";}}s:11:\"description\";s:47:\"The
  response from the List namespace operation.\";}s:14:\"NetworkRuleSet\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"NetworkRuleSet
  properties\";s:19:\"x-ms-client-flatten\";b:1;s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"defaultAction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Default
  Action for Network Rule Set\";s:4:\"enum\";a:2:{i:0;s:5:\"Allow\";i:1;s:4:\"Deny\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"DefaultAction\";s:13:\"modelAsString\";b:1;}}s:19:\"virtualNetworkRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/NWRuleSetVirtualNetworkRules\";}s:11:\"description\";s:25:\"List
  VirtualNetwork Rules\";}s:7:\"ipRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NWRuleSetIpRules\";}s:11:\"description\";s:15:\"List
  of IpRules\";}}}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:30:\"Description
  of topic resource.\";}}"
...
