---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"ApiManagementClient\";s:11:\"description\";s:1206:\"Use
  these REST APIs for performing operations on Group entity in your Azure API Management
  deployment. Groups are used to manage the visibility of products to developers.
  Each API Management service instance comes with the following immutable system groups
  whose membership is automatically managed by API Management.  - **Administrators**
  - Azure subscription administrators are members of this group. - **Developers**
  - Authenticated developer portal users fall into this group. - **Guests** - Unauthenticated
  developer portal users are placed into this group. In addition to these system groups,
  administrators can create custom groups or [leverage external groups in associated
  Azure Active Directory tenants](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad#how-to-add-an-external-azure-active-directory-group).
  Custom and external groups can be used alongside system groups in giving developers
  visibility and access to API products. For example, you could create one custom
  group for developers affiliated with a specific partner organization and allow them
  access to the APIs from a product containing relevant APIs only. A user can be a
  member of more than one group.\";s:7:\"version\";s:18:\"2018-06-01-preview\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups
  : get:
      tags:
      - Groups
      operationId: Group_ListByService
      description: Lists a collection of groups defined within a service instance.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-create-groups
      x-ms-examples:
        ApiManagementListGroups:
          $ref: ./examples/ApiManagementListGroups.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions                         |n|-------------|------------------------|---------------------------------------------|n|
          id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |n| name        | ge, le, eq, ne, gt, lt | substringof, contains,
          startswith, endswith |n| description | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |n| type        | eq, ne                 |
          N/A                                         |'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Lists a collection of Group entities.
          schema:
            $ref: '#/definitions/GroupCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/GroupContract'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{groupId}
  : head:
      tags:
      - Groups
      operationId: Group_GetEntityTag
      description: Gets the entity state (Etag) version of the group specified by
        its identifier.
      x-ms-examples:
        ApiManagementHeadGroup:
          $ref: ./examples/ApiManagementHeadGroup.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/GroupIdParameter'
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Specified group entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    get:
      tags:
      - Groups
      operationId: Group_Get
      description: Gets the details of the group specified by its identifier.
      x-ms-examples:
        ApiManagementGetGroup:
          $ref: ./examples/ApiManagementGetGroup.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/GroupIdParameter'
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The response body contains the specified Group entity.
          schema:
            $ref: '#/definitions/GroupContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    put:
      tags:
      - Groups
      operationId: Group_CreateOrUpdate
      description: Creates or Updates a group.
      x-ms-examples:
        ApiManagementCreateGroup:
          $ref: ./examples/ApiManagementCreateGroup.json
        ApiManagementCreateGroupExternal:
          $ref: ./examples/ApiManagementCreateGroupExternal.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/GroupIdParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/GroupCreateParameters'
        description: Create parameters.
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: Group was created succesfully.
          schema:
            $ref: '#/definitions/GroupContract'
        200:
          description: Group already exists.
          schema:
            $ref: '#/definitions/GroupContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    patch:
      tags:
      - Groups
      operationId: Group_Update
      description: Updates the details of the group specified by its identifier.
      x-ms-examples:
        ApiManagementUpdateGroup:
          $ref: ./examples/ApiManagementUpdateGroup.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/GroupIdParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/GroupUpdateParameters'
        description: Update parameters.
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: The group details were successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    delete:
      tags:
      - Groups
      operationId: Group_Delete
      description: Deletes specific group of the API Management service instance.
      x-ms-examples:
        ApiManagementDeleteGroup:
          $ref: ./examples/ApiManagementDeleteGroup.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/GroupIdParameter'
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The group was successfully deleted.
        204:
          description: The group was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{groupId}/users
  : get:
      tags:
      - GroupUsers
      operationId: GroupUser_List
      description: Lists a collection of the members of the group, specified by its
        identifier.
      x-ms-examples:
        ApiManagementListGroupUsers:
          $ref: ./examples/ApiManagementListGroupUsers.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/GroupIdParameter'
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field            | Supported operators    | Supported functions               |n|------------------|------------------------|-----------------------------------|n|
          id               | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |n| firstName        | ge, le, eq, ne, gt, lt | substringof, contains,
          startswith, endswith |n| lastName         | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |n| email            | ge, le, eq, ne, gt,
          lt | substringof, contains, startswith, endswith |n| state            |
          eq                     | N/A                               |n| registrationDate
          | ge, le, eq, ne, gt, lt | N/A                               |n| note             |
          ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Lists a collection of user entities associated with the group.
          schema:
            $ref: ./apimusers.json#/definitions/UserCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./apimusers.json#/definitions/UserContract
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{groupId}/users/{uid}
  : head:
      tags:
      - GroupUsers
      operationId: GroupUser_CheckEntityExists
      description: Checks that user entity specified by identifier is associated with
        the group entity.
      x-ms-examples:
        ApiManagementHeadGroupUser:
          $ref: ./examples/ApiManagementHeadGroupUser.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/GroupIdParameter'
      - $ref: ./apimusers.json#/parameters/UserIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: Entity exists
        404:
          description: Entity does not exists.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    put:
      tags:
      - GroupUsers
      operationId: GroupUser_Create
      description: Adds a user to the specified group.
      x-ms-examples:
        ApiManagementCreateGroupUser:
          $ref: ./examples/ApiManagementCreateGroupUser.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/GroupIdParameter'
      - $ref: ./apimusers.json#/parameters/UserIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: The user was successfully added to the group.
          schema:
            $ref: ./apimusers.json#/definitions/UserContract
        200:
          description: The specified user is already a member of the specified group.
          schema:
            $ref: ./apimusers.json#/definitions/UserContract
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    delete:
      tags:
      - GroupUsers
      operationId: GroupUser_Delete
      description: Remove existing user from existing group.
      x-ms-examples:
        ApiManagementDeleteGroupUser:
          $ref: ./examples/ApiManagementDeleteGroupUser.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/GroupIdParameter'
      - $ref: ./apimusers.json#/parameters/UserIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The user was successfully removed from the group.
        204:
          description: The user was successfully removed from the group.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:15:\"GroupCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GroupContract\";}s:11:\"description\";s:12:\"Page
  values.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:32:\"Paged Group list representation.\";}s:13:\"GroupContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:37:\"#/definitions/GroupContractProperties\";s:11:\"description\";s:33:\"Group
  entity contract properties.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"./apimanagement.json#/definitions/Resource\";}}s:11:\"description\";s:17:\"Contract
  details.\";}s:23:\"GroupContractProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Group
  name.\";s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Group
  description. Can contain HTML formatting tags.\";s:9:\"maxLength\";i:1000;}s:7:\"builtIn\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:109:\"true
  if the group is one of the three system groups (Administrators, Developers, or Guests);
  otherwise false.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Group
  type.\";s:4:\"enum\";a:3:{i:0;s:6:\"custom\";i:1;s:6:\"system\";i:2;s:8:\"external\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"GroupType\";s:13:\"modelAsString\";b:0;}}s:10:\"externalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:220:\"For
  external groups, this property contains the id of the group from the external identity
  provider, e.g. for Azure Active Directory `aad://<tenant>.onmicrosoft.com/groups/<group
  object id>`; otherwise the value is null.\";}}s:8:\"required\";a:1:{i:0;s:11:\"displayName\";}s:11:\"description\";s:26:\"Group
  contract Properties.\";}s:21:\"GroupCreateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:45:\"#/definitions/GroupCreateParametersProperties\";s:11:\"description\";s:46:\"Properties
  supplied to Create Group operation.\";}}s:11:\"description\";s:50:\"Parameters supplied
  to the Create Group operation.\";}s:31:\"GroupCreateParametersProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Group
  name.\";s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Group
  description.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Group
  type.\";s:4:\"enum\";a:3:{i:0;s:6:\"custom\";i:1;s:6:\"system\";i:2;s:8:\"external\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"GroupType\";s:13:\"modelAsString\";b:0;}}s:10:\"externalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:234:\"Identifier
  of the external groups, this property contains the id of the group from the external
  identity provider, e.g. for Azure Active Directory `aad://<tenant>.onmicrosoft.com/groups/<group
  object id>`; otherwise the value is null.\";}}s:8:\"required\";a:1:{i:0;s:11:\"displayName\";}s:11:\"description\";s:50:\"Parameters
  supplied to the Create Group operation.\";}s:21:\"GroupUpdateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:45:\"#/definitions/GroupUpdateParametersProperties\";s:11:\"description\";s:40:\"Group
  entity update contract properties.\";}}s:11:\"description\";s:50:\"Parameters supplied
  to the Update Group operation.\";}s:31:\"GroupUpdateParametersProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Group
  name.\";s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Group
  description.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Group
  type.\";s:4:\"enum\";a:3:{i:0;s:6:\"custom\";i:1;s:6:\"system\";i:2;s:8:\"external\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"GroupType\";s:13:\"modelAsString\";b:0;}}s:10:\"externalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:234:\"Identifier
  of the external groups, this property contains the id of the group from the external
  identity provider, e.g. for Azure Active Directory `aad://<tenant>.onmicrosoft.com/groups/<group
  object id>`; otherwise the value is null.\";}}s:11:\"description\";s:50:\"Parameters
  supplied to the Update Group operation.\";}}"
...
