---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:15:\"Security Center\";s:11:\"description\";s:73:\"API
  spec for Microsoft.Security (Azure Security Center) resource provider\";s:7:\"version\";s:18:\"2017-08-01-preview\";}"
host: management.azure.com
paths:
  /{resourceId}/providers/Microsoft.Security/deviceSecurityGroups:
    get:
      x-ms-examples:
        List all device security groups for the specified IoT hub resource:
          $ref: ./examples/DeviceSecurityGroups/ListDeviceSecurityGroups_example.json
      tags:
      - DeviceSecurityGroups
      description: Gets the list of device security groups for the specified IoT hub
        resource.
      operationId: DeviceSecurityGroups_List
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      - $ref: ../../../common/v1/types.json#/parameters/ResourceId
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeviceSecurityGroupList'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../common/v1/types.json#/definitions/CloudError
      x-ms-pageable:
        nextLinkName: nextLink
  /{resourceId}/providers/Microsoft.Security/deviceSecurityGroups/{deviceSecurityGroupName}:
    get:
      x-ms-examples:
        Get an device security group for the specified IoT hub resource:
          $ref: ./examples/DeviceSecurityGroups/GetDeviceSecurityGroups_example.json
      tags:
      - DeviceSecurityGroups
      description: Gets the device security group for the specified IoT hub resource.
      operationId: DeviceSecurityGroups_Get
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      - $ref: ../../../common/v1/types.json#/parameters/ResourceId
      - $ref: '#/parameters/DeviceSecurityGroupName'
      responses:
        200:
          description: Successful request to get security group.
          schema:
            $ref: '#/definitions/DeviceSecurityGroup'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../common/v1/types.json#/definitions/CloudError
    put:
      x-ms-examples:
        Create or update a device security group for the specified IoT hub resource:
          $ref: ./examples/DeviceSecurityGroups/PutDeviceSecurityGroups_example.json
      tags:
      - DeviceSecurityGroups
      description: Creates or updates the device security group on a specified IoT
        hub resource.
      operationId: DeviceSecurityGroups_CreateOrUpdate
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      - $ref: ../../../common/v1/types.json#/parameters/ResourceId
      - $ref: '#/parameters/DeviceSecurityGroupName'
      - $ref: '#/parameters/DeviceSecurityGroup'
      responses:
        200:
          description: Security group was updated
          schema:
            $ref: '#/definitions/DeviceSecurityGroup'
        201:
          description: Security group was created
          schema:
            $ref: '#/definitions/DeviceSecurityGroup'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../common/v1/types.json#/definitions/CloudError
    delete:
      x-ms-examples:
        Delete a device security group for the specified IoT hub resource:
          $ref: ./examples/DeviceSecurityGroups/DeleteDeviceSecurityGroups_example.json
      tags:
      - DeviceSecurityGroups
      description: Deletes the security group
      operationId: DeviceSecurityGroups_Delete
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersion
      - $ref: ../../../common/v1/types.json#/parameters/ResourceId
      - $ref: '#/parameters/DeviceSecurityGroupName'
      responses:
        200:
          description: Device security group has been deleted.
        204:
          description: Device security group does not exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ../../../common/v1/types.json#/definitions/CloudError
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:23:\"DeviceSecurityGroupList\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"readOnly\";b:1;s:11:\"description\";s:30:\"List
  of device security groups\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:37:\"List
  of device security group objects\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DeviceSecurityGroup\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  URI to fetch the next page.\";}}}s:19:\"DeviceSecurityGroup\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:34:\"The
  device security group resource\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:26:\"Device
  Security group data\";s:4:\"$ref\";s:43:\"#/definitions/DeviceSecurityGroupProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"../../../common/v1/types.json#/definitions/Resource\";}}}s:29:\"DeviceSecurityGroupProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:41:\"describes
  properties of a security group.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"thresholdRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:39:\"A
  list of threshold custom alert rules.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:38:\"#/definitions/ThresholdCustomAlertRule\";}}s:15:\"timeWindowRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"A
  list of time window custom alert rules.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:39:\"#/definitions/TimeWindowCustomAlertRule\";}}s:14:\"allowlistRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:40:\"A
  list of allow-list custom alert rules.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:38:\"#/definitions/AllowlistCustomAlertRule\";}}s:13:\"denylistRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:39:\"A
  list of deny-list custom alert rules.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:37:\"#/definitions/DenylistCustomAlertRule\";}}}}s:15:\"CustomAlertRule\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"A
  custom alert rule\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:37:\"The
  display name of the custom alert.\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:36:\"The
  description of the custom alert.\";}s:9:\"isEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:36:\"Whether
  the custom alert is enabled.\";}s:8:\"ruleType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  type of the custom alert rule.\";}}s:8:\"required\";a:2:{i:0;s:9:\"isEnabled\";i:1;s:8:\"ruleType\";}}s:19:\"ListCustomAlertRule\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:24:\"A
  List custom alert rule\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomAlertRule\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"valueType\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  value type of the items in the list\";s:4:\"enum\";a:2:{i:0;s:6:\"IpCidr\";i:1;s:6:\"String\";}s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"valueType\";s:13:\"modelAsString\";b:1;s:6:\"values\";a:2:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:6:\"IpCidr\";s:11:\"description\";s:50:\"An
  IP range in CIDR format (e.g. '192.168.0.1/8').\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:6:\"String\";s:11:\"description\";s:17:\"Any
  string value.\";}}}}}}s:24:\"AllowlistCustomAlertRule\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:88:\"A
  custom alert rule that checks if a value (depends on the custom alert type) is allowed\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ListCustomAlertRule\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"allowlistValues\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:71:\"The
  values to allow. The format of the values depends on the rule type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"ruleType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  type of the custom alert rule.\";s:4:\"enum\";a:3:{i:0;s:24:\"ConnectionToIpNotAllowed\";i:1;s:19:\"LocalUserNotAllowed\";i:2;s:17:\"ProcessNotAllowed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"ruleType\";s:13:\"modelAsString\";b:1;s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:24:\"ConnectionToIpNotAllowed\";s:11:\"description\";s:108:\"Outbound
  connection to an ip that isn't allowed. Allow list consists of ipv4 or ipv6 range
  in CIDR notation.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:19:\"LocalUserNotAllowed\";s:11:\"description\";s:86:\"Login
  by a local user that isn't allowed. Allow list consists of login names to allow.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:17:\"ProcessNotAllowed\";s:11:\"description\";s:89:\"Execution
  of a process that isn't allowed. Allow list consists of process names to allow.\";}}}}}s:8:\"required\";a:1:{i:0;s:15:\"allowlistValues\";}}s:23:\"DenylistCustomAlertRule\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:87:\"A
  custom alert rule that checks if a value (depends on the custom alert type) is denied\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ListCustomAlertRule\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"denylistValues\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:70:\"The
  values to deny. The format of the values depends on the rule type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:1:{i:0;s:14:\"denylistValues\";}}s:24:\"ThresholdCustomAlertRule\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:104:\"A
  custom alert rule that checks if a value (depends on the custom alert type) is within
  the given range.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomAlertRule\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"minThreshold\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:22:\"The
  minimum threshold.\";}s:12:\"maxThreshold\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:22:\"The
  maximum threshold.\";}}s:8:\"required\";a:2:{i:0;s:12:\"minThreshold\";i:1;s:12:\"maxThreshold\";}}s:25:\"TimeWindowCustomAlertRule\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:138:\"A
  custom alert rule that checks if the number of activities (depends on the custom
  alert type) in a time window is within the given range.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomAlertRule\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ThresholdCustomAlertRule\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"timeWindowSize\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  time window size in iso8601 format.\";s:6:\"format\";s:8:\"duration\";}s:8:\"ruleType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  type of the custom alert rule.\";s:4:\"enum\";a:16:{i:0;s:34:\"ActiveConnectionsNotInAllowedRange\";i:1;s:32:\"AmqpC2DMessagesNotInAllowedRange\";i:2;s:32:\"MqttC2DMessagesNotInAllowedRange\";i:3;s:32:\"HttpC2DMessagesNotInAllowedRange\";i:4;s:40:\"AmqpC2DRejectedMessagesNotInAllowedRange\";i:5;s:40:\"MqttC2DRejectedMessagesNotInAllowedRange\";i:6;s:40:\"HttpC2DRejectedMessagesNotInAllowedRange\";i:7;s:32:\"AmqpD2CMessagesNotInAllowedRange\";i:8;s:32:\"MqttD2CMessagesNotInAllowedRange\";i:9;s:32:\"HttpD2CMessagesNotInAllowedRange\";i:10;s:36:\"DirectMethodInvokesNotInAllowedRange\";i:11;s:34:\"FailedLocalLoginsNotInAllowedRange\";i:12;s:28:\"FileUploadsNotInAllowedRange\";i:13;s:28:\"QueuePurgesNotInAllowedRange\";i:14;s:28:\"TwinUpdatesNotInAllowedRange\";i:15;s:39:\"UnauthorizedOperationsNotInAllowedRange\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"ruleType\";s:13:\"modelAsString\";b:1;s:6:\"values\";a:16:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:34:\"ActiveConnectionsNotInAllowedRange\";s:11:\"description\";s:53:\"Number
  of active connections is not in allowed range.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:32:\"AmqpC2DMessagesNotInAllowedRange\";s:11:\"description\";s:75:\"Number
  of cloud to device messages (AMQP protocol) is not in allowed range.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:32:\"MqttC2DMessagesNotInAllowedRange\";s:11:\"description\";s:75:\"Number
  of cloud to device messages (MQTT protocol) is not in allowed range.\";}i:3;O:8:\"stdClass\":2:{s:5:\"value\";s:32:\"HttpC2DMessagesNotInAllowedRange\";s:11:\"description\";s:75:\"Number
  of cloud to device messages (HTTP protocol) is not in allowed range.\";}i:4;O:8:\"stdClass\":2:{s:5:\"value\";s:40:\"AmqpC2DRejectedMessagesNotInAllowedRange\";s:11:\"description\";s:84:\"Number
  of rejected cloud to device messages (AMQP protocol) is not in allowed range.\";}i:5;O:8:\"stdClass\":2:{s:5:\"value\";s:40:\"MqttC2DRejectedMessagesNotInAllowedRange\";s:11:\"description\";s:84:\"Number
  of rejected cloud to device messages (MQTT protocol) is not in allowed range.\";}i:6;O:8:\"stdClass\":2:{s:5:\"value\";s:40:\"HttpC2DRejectedMessagesNotInAllowedRange\";s:11:\"description\";s:84:\"Number
  of rejected cloud to device messages (HTTP protocol) is not in allowed range.\";}i:7;O:8:\"stdClass\":2:{s:5:\"value\";s:32:\"AmqpD2CMessagesNotInAllowedRange\";s:11:\"description\";s:75:\"Number
  of device to cloud messages (AMQP protocol) is not in allowed range.\";}i:8;O:8:\"stdClass\":2:{s:5:\"value\";s:32:\"MqttD2CMessagesNotInAllowedRange\";s:11:\"description\";s:75:\"Number
  of device to cloud messages (MQTT protocol) is not in allowed range.\";}i:9;O:8:\"stdClass\":2:{s:5:\"value\";s:32:\"HttpD2CMessagesNotInAllowedRange\";s:11:\"description\";s:75:\"Number
  of device to cloud messages (HTTP protocol) is not in allowed range.\";}i:10;O:8:\"stdClass\":2:{s:5:\"value\";s:36:\"DirectMethodInvokesNotInAllowedRange\";s:11:\"description\";s:56:\"Number
  of direct method invokes is not in allowed range.\";}i:11;O:8:\"stdClass\":2:{s:5:\"value\";s:34:\"FailedLocalLoginsNotInAllowedRange\";s:11:\"description\";s:54:\"Number
  of failed local logins is not in allowed range.\";}i:12;O:8:\"stdClass\":2:{s:5:\"value\";s:28:\"FileUploadsNotInAllowedRange\";s:11:\"description\";s:47:\"Number
  of file uploads is not in allowed range.\";}i:13;O:8:\"stdClass\":2:{s:5:\"value\";s:28:\"QueuePurgesNotInAllowedRange\";s:11:\"description\";s:54:\"Number
  of device queue purges is not in allowed range.\";}i:14;O:8:\"stdClass\":2:{s:5:\"value\";s:28:\"TwinUpdatesNotInAllowedRange\";s:11:\"description\";s:47:\"Number
  of twin updates is not in allowed range.\";}i:15;O:8:\"stdClass\":2:{s:5:\"value\";s:39:\"UnauthorizedOperationsNotInAllowedRange\";s:11:\"description\";s:58:\"Number
  of unauthorized operations is not in allowed range.\";}}}}}s:8:\"required\";a:1:{i:0;s:14:\"timeWindowSize\";}}}"
...
