---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:236:\"Use these REST
  APIs for performing operations on tenant entity associated with your Azure API Management
  deployment. Using this entity you can manage properties and configuration that apply
  to the entire API Management service instance.\";s:5:\"title\";s:19:\"ApiManagementClient\";s:7:\"version\";s:10:\"2018-01-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:171:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/apimtenant.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:24:\"apimanagement-apimtenant\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}
  : get:
      description: Get tenant access information details.
      operationId: TenantAccess_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - $ref: '#/parameters/AccessParameter'
      responses:
        200:
          description: Tenant Access information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/AccessInformationContract'
      tags:
      - TenantAccess
      x-ms-examples:
        ApiManagementGetTenantAccess:
          parameters:
            accessName: access
            api-version: "2018-01-01"
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                enabled: true
                id: 5600b59375ff190048030003
                primaryKey: qr5nbjNoZkgtLojXgU+OA/ntYMgko3XPSVyt+ObwR1sqp2ZkM9tGhwxkeEz7bfAuPS5ss61b2S3ZrZmqa9v3Mw==
                secondaryKey: 2dCJv1CasJl286SZiKxyBFDiIYCUdbwM1YrFNDcFMXCjCKbFzomrGkv+exAbnV5E3DEk91VP4jbeJ2eV/qtejA==
    patch:
      description: Update tenant access information details.
      operationId: TenantAccess_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Parameters supplied to retrieve the Tenant Access Information.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/AccessInformationUpdateParameters'
      - $ref: '#/parameters/AccessParameter'
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        204:
          description: Tenant's access information updated successfully.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - TenantAccess
      x-ms-examples:
        ApiManagementUpdateTenantAccess:
          parameters:
            If-Match: '*'
            accessName: access
            api-version: "2018-01-01"
            parameters:
              enabled: true
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            204: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}/git
  : get:
      description: Gets the Git access configuration for the tenant.
      operationId: TenantAccessGit_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - $ref: '#/parameters/AccessParameter'
      responses:
        200:
          description: Git Access Information for the Service.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/AccessInformationContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - TenantAccessGit
      x-ms-examples:
        ApiManagementGetTenantAccess:
          parameters:
            accessName: access
            api-version: "2018-01-01"
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                enabled: true
                id: 5600b59375ff190048030003
                primaryKey: qr5nbjNoZkgtLojXgU+OA/ntYMgko3XPSVyt+ObwR1sqp2ZkM9tGhwxkeEz7bfAuPS5ss61b2S3ZrZmqa9v3Mw==
                secondaryKey: 2dCJv1CasJl286SZiKxyBFDiIYCUdbwM1YrFNDcFMXCjCKbFzomrGkv+exAbnV5E3DEk91VP4jbeJ2eV/qtejA==
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}/git/regeneratePrimaryKey
  : post:
      description: Regenerate primary access key for GIT.
      operationId: TenantAccessGit_RegeneratePrimaryKey
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - $ref: '#/parameters/AccessParameter'
      responses:
        204:
          description: The primary key was successfully regenerated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - TenantAccessGit
      x-ms-examples:
        ApiManagementTenantAccessRegenerateKey:
          parameters:
            accessName: access
            api-version: "2018-01-01"
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            204: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}/git/regenerateSecondaryKey
  : post:
      description: Regenerate secondary access key for GIT.
      operationId: TenantAccessGit_RegenerateSecondaryKey
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - $ref: '#/parameters/AccessParameter'
      responses:
        204:
          description: The secondary key was successfully regenerated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - TenantAccessGit
      x-ms-examples:
        ApiManagementTenantAccessRegenerateKey:
          parameters:
            accessName: access
            api-version: "2018-01-01"
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            204: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}/regeneratePrimaryKey
  : post:
      description: Regenerate primary access key.
      operationId: TenantAccess_RegeneratePrimaryKey
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - $ref: '#/parameters/AccessParameter'
      responses:
        204:
          description: The primary key was successfully regenerated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - TenantAccess
      x-ms-examples:
        ApiManagementTenantAccessRegenerateKey:
          parameters:
            accessName: access
            api-version: "2018-01-01"
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            204: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}/regenerateSecondaryKey
  : post:
      description: Regenerate secondary access key.
      operationId: TenantAccess_RegenerateSecondaryKey
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - $ref: '#/parameters/AccessParameter'
      responses:
        204:
          description: The secondary key was successfully regenerated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - TenantAccess
      x-ms-examples:
        ApiManagementTenantAccessRegenerateKey:
          parameters:
            accessName: access
            api-version: "2018-01-01"
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            204: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{configurationName}/deploy
  : post:
      description: This operation applies changes from the specified Git branch to
        the configuration database. This is a long running operation and could take
        several minutes to complete.
      externalDocs:
        description: To deploy any service configuration changes to the API Management
          service instance
        url: https://azure.microsoft.com/en-us/documentation/articles/api-management-configuration-repository-git/#to-deploy-any-service-configuration-changes-to-the-api-management-service-instance
      operationId: TenantConfiguration_Deploy
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Deploy Configuration parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/DeployConfigurationParameters'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - $ref: '#/parameters/ConfigurationParameter'
      responses:
        200:
          description: Result of appplying changes from Git branch to database.
          schema:
            $ref: '#/definitions/OperationResultContract'
        202:
          description: 'Accepted: Location header contains the URL where the status
            of the long running operation can be checked.'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - TenantConfiguration
      x-ms-examples:
        ApiManagementTenantConfigurationDeploy:
          parameters:
            api-version: "2018-01-01"
            configurationName: configuration
            parameters:
              branch: master
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                error:
                  code: ValidationError
                  message: 'File not found: ''api-management/configuration.json'''
                id: 5a1af4ae2a6d2e0b688d7517
                started: "2017-11-26T17:06:54.303Z"
                status: Failed
                updated: "2017-11-26T17:07:21.777Z"
            202:
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tenant/operationResults/5a1af4ae2a6d2e0b688d7517?api-version=2018-01-01
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{configurationName}/save
  : post:
      description: This operation creates a commit with the current configuration
        snapshot to the specified branch in the repository. This is a long running
        operation and could take several minutes to complete.
      externalDocs:
        description: To save the service configuration to the Git repository
        url: https://azure.microsoft.com/en-us/documentation/articles/api-management-configuration-repository-git/#to-save-the-service-configuration-to-the-git-repository
      operationId: TenantConfiguration_Save
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Save Configuration parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/SaveConfigurationParameter'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - $ref: '#/parameters/ConfigurationParameter'
      responses:
        200:
          description: Result of creating a commit in the repository.
          schema:
            $ref: '#/definitions/OperationResultContract'
        202:
          description: 'Accepted: Location header contains the URL where the status
            of the long running operation can be checked.'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - TenantConfiguration
      x-ms-examples:
        ApiManagementTenantConfigurationSave:
          parameters:
            api-version: "2018-01-01"
            configurationName: configuration
            parameters:
              branch: master
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                actionLog: []
                id: 5a1af57d2a6d2e0b688d751b
                resultInfo: The configuration was successfully saved to master as
                  commit cdb6878db80159cc0e9a53f5ad38581883882974.
                started: "2017-11-26T17:10:21.957Z"
                status: Succeeded
                updated: "2017-11-26T17:10:36.06Z"
            202:
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tenant/operationResults/5a1af57d2a6d2e0b688d751b?api-version=2018-01-01
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{configurationName}/syncState
  : get:
      description: Gets the status of the most recent synchronization between the
        configuration database and the Git repository.
      operationId: TenantConfiguration_GetSyncState
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - $ref: '#/parameters/ConfigurationParameter'
      responses:
        200:
          description: Sync state result.
          schema:
            $ref: '#/definitions/TenantConfigurationSyncStateContract'
      tags:
      - TenantConfigurationSyncState
      x-ms-examples:
        ApiManagementTenantAccessSyncState:
          parameters:
            api-version: "2018-01-01"
            configurationName: configuration
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                branch: master
                commitId: 44c29c27a876372e2ea18d9c381cc493a6a89fc5
                configurationChangeDate: "2017-06-03T00:41:30.9670873Z"
                isExport: true
                isGitEnabled: true
                isSynced: false
                syncDate: "2016-10-24T19:17:14.3641403Z"
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{configurationName}/validate
  : post:
      description: This operation validates the changes in the specified Git branch.
        This is a long running operation and could take several minutes to complete.
      operationId: TenantConfiguration_Validate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Validate Configuration parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/DeployConfigurationParameters'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - $ref: '#/parameters/ConfigurationParameter'
      responses:
        200:
          description: Result of validating the changes in the specified Git branch.
          schema:
            $ref: '#/definitions/OperationResultContract'
        202:
          description: 'Accepted: Location header contains the URL where the status
            of the long running operation can be checked.'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - TenantConfiguration
      x-ms-examples:
        ApiManagementTenantConfigurationValidate:
          parameters:
            api-version: "2018-01-01"
            configurationName: configuration
            parameters:
              branch: master
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                actionLog:
                - action: Updated
                  objectKey: 57914cb351f68a16889be190;rev=1
                  objectType: ApiSpecificationContract
                - action: Updated
                  objectKey: 5768181ea40f7eb6c49f6ac7
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 576819c9a40f7e86289fb3e3
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 576819f1a40f7e86289fb6de
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681a67a40f7e72b4132522
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681a73a40f7e72b413281d
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681a7ea40f7e72b4132b18
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681b88a40f7ea0f017f099
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681b9fa40f7ea0f017f682
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681bb5a40f7ea0f017fc6b
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681bcaa40f7ea0f0180254
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681bdfa40f7ea0f018083d
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681bf5a40f7ea0f0180e26
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681c0ea40f7ea0f018140f
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681c26a40f7ea0f01819f8
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681c83a40f7e85f44db237
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681cb2a40f7e85f44dbcd0
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681ce3a40f7e85f44dc769
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681d1fa40f7e85f44dd202
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681d60a40f7e85f44ddc9b
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681db4a40f7e85f44de735
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681e11a40f7e85f44df1ce
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681e73a40f7e85f44dfc67
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 57681f06a40f7e74ec07785c
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 5768211fa40f7e74ec07a74a
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 576823cfa40f7e74ec07d63a
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 5600b57e7e8880006a060001
                  objectType: ProductSpecificationContract
                - action: Updated
                  objectKey: 5600b57e7e8880006a060002
                  objectType: ProductSpecificationContract
                id: 5a1af64e2a6d2e0b688d751e
                resultInfo: Validation is successfull
                started: "2017-11-26T17:13:50.787Z"
                status: Succeeded
                updated: "2017-11-26T17:13:59.723Z"
            202:
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tenant/operationResults/5a1af64e2a6d2e0b688d751e?api-version=2018-01-01
      x-ms-long-running-operation: true
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:25:\"AccessInformationContract\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Tenant
  access information contract of the API Management service.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Tenant
  access information of the API Management service.\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Identifier.\";s:4:\"type\";s:6:\"string\";}s:10:\"primaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Primary
  access key.\";s:4:\"type\";s:6:\"string\";}s:12:\"secondaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Secondary
  access key.\";s:4:\"type\";s:6:\"string\";}}}s:33:\"AccessInformationUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Tenant
  access information update parameters of the API Management service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Tenant
  access information of the API Management service.\";s:4:\"type\";s:7:\"boolean\";}}}s:29:\"DeployConfigurationParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Parameters
  supplied to the Deploy Configuration operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"branch\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  name of the Git branch from which the configuration is to be deployed to the configuration
  database.\";s:4:\"type\";s:6:\"string\";}s:5:\"force\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  value enforcing deleting subscriptions to products that are deleted in this update.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:6:\"branch\";}}s:23:\"OperationResultContract\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Operation
  Result.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"actionLog\";O:8:\"stdClass\":4:{s:11:\"description\";s:209:\"This
  property if only provided as part of the TenantConfiguration_Validate operation.
  It contains the log the entities which will be updated/created/deleted as part of
  the TenantConfiguration_Deploy operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/OperationResultLogItemContract\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Error
  Response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Error
  Body contract.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Service-defined
  error code. This code serves as a sub-status for the HTTP error code specified in
  the response.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  list of invalid fields send in request, in case of validation error.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Error
  Field contract.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Property
  level error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Human-readable
  representation of property-level error.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Property
  name.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Human-readable
  representation of the error.\";s:4:\"type\";s:6:\"string\";}}}}}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Operation
  result identifier.\";s:4:\"type\";s:6:\"string\";}s:10:\"resultInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Optional
  result info.\";s:4:\"type\";s:6:\"string\";}s:7:\"started\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"Start
  time of an async operation. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Status
  of an async operation.\";s:4:\"enum\";a:4:{i:0;s:7:\"Started\";i:1;s:10:\"InProgress\";i:2;s:9:\"Succeeded\";i:3;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:20:\"AsyncOperationStatus\";}}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"Last
  update time of an async operation. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:30:\"OperationResultLogItemContract\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Log
  of the entity being created, updated or deleted.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"action\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Action
  like create/update/delete.\";s:4:\"type\";s:6:\"string\";}s:9:\"objectKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Identifier
  of the entity being created/updated/deleted.\";s:4:\"type\";s:6:\"string\";}s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  type of entity contract.\";s:4:\"type\";s:6:\"string\";}}}s:26:\"SaveConfigurationParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Parameters
  supplied to the Save Tenant Configuration operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"branch\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"The
  name of the Git branch in which to commit the current configuration snapshot.\";s:4:\"type\";s:6:\"string\";}s:5:\"force\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"The
  value if true, the current configuration database is committed to the Git repository,
  even if the Git repository has newer changes that would be overwritten.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:6:\"branch\";}}s:36:\"TenantConfigurationSyncStateContract\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Tenant
  Configuration Synchronization State.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"branch\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of Git branch.\";s:4:\"type\";s:6:\"string\";}s:8:\"commitId\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  latest commit Id.\";s:4:\"type\";s:6:\"string\";}s:23:\"configurationChangeDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"The
  date of the latest configuration change. The date conforms to the following format:
  `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"isExport\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"value
  indicating if last sync was save (true) or deploy (false) operation.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"isGitEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"value
  indicating whether Git configuration access is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"isSynced\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"value
  indicating if last synchronization was later than the configuration change.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"syncDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"The
  date of the latest synchronization. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}}"
...
