---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:26:\"TopLevelDomains API Client\";s:7:\"version\";s:10:\"2015-04-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:170:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.DomainRegistration/stable/2015-04-01/TopLevelDomains.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:19:\"web-TopLevelDomains\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"azure_web_topleveldomains\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:17:\"TldLegalAgreement\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Legal
  agreement for a top level domain.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"agreementKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Unique
  identifier for the agreement.\";s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Agreement
  details.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Agreement
  title.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"URL
  where a copy of the agreement details is hosted.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:12:\"agreementKey\";i:1;s:5:\"title\";i:2;s:7:\"content\";}s:4:\"type\";s:6:\"object\";}s:27:\"TldLegalAgreementCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Collection
  of top-level domain legal agreements.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TldLegalAgreement\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:14:\"TopLevelDomain\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:26:\"A
  top level domain object.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"TopLevelDomain
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Name
  of the top level domain.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:16:\"x-ms-client-name\";s:10:\"domainName\";}s:7:\"privacy\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"If
  <code>true</code>, then the top level domain supports domain privacy; otherwise,
  <code>false</code>.\";s:4:\"type\";s:7:\"boolean\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:29:\"TopLevelDomainAgreementOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Options
  for retrieving the list of top level domain legal agreements.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"forTransfer\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"If
  <code>true</code>, then the list of agreements will include agreements for domain
  transfer as well; otherwise, <code>false</code>.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"includePrivacy\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"If
  <code>true</code>, then the list of agreements will include agreements for domain
  privacy as well; otherwise, <code>false</code>.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:24:\"TopLevelDomainCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Collection
  of Top-level domains.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TopLevelDomain\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}}"
...
