---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:364:\"Role based access
  control provides you a way to apply granular level policy administration down to
  individual resources or resource groups. These operations enable you to manage role
  definitions and role assignments. A role definition describes the set of actions
  that can be performed on resources. A role assignment grants access to Azure Active
  Directory users.\";s:5:\"title\";s:29:\"AuthorizationManagementClient\";s:7:\"version\";s:10:\"2015-06-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:192:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/authorization/resource-manager/Microsoft.Authorization/preview/2015-06-01/authorization-ClassicAdminCalls.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:45:\"authorization-authorization-ClassicAdminCalls\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:51:\"azure_authorization_authorization_classicadmincalls\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Authorization/classicAdministrators:
    get:
      description: Gets service administrator, account administrator, and co-administrators
        for the subscription.
      operationId: ClassicAdministrators_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Returns an array of administrators.
          schema:
            $ref: '#/definitions/ClassicAdministratorListResult'
      tags:
      - ClassicAdministrators
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: "2015-06-01"
            subscriptionId: subId
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subId/providers/Microsoft.Authorization/classicAdministrators/classicadminid
                  name: classicadminid
                  properties:
                    emailAddress: test@test.com
                    role: ServiceAdministrator;AccountAdministrator
                  type: Microsoft.Authorization/classicAdministrators
                - id: /subscriptions/subId/providers/Microsoft.Authorization/classicAdministrators/classicadminid2
                  name: classicadminid2
                  properties:
                    emailAddress: coadmin@test.com
                    role: CoAdministrator
                  type: Microsoft.Authorization/classicAdministrators
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:20:\"ClassicAdministrator\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Classic
  Administrators\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  ID of the administrator.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the administrator.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:44:\"#/definitions/ClassicAdministratorProperties\";s:11:\"description\";s:41:\"Properties
  for the classic administrator.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  type of the administrator.\";s:4:\"type\";s:6:\"string\";}}}s:30:\"ClassicAdministratorListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"ClassicAdministrator
  list result information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  URL to use for getting the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"An
  array of administrators.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ClassicAdministrator\";}s:4:\"type\";s:5:\"array\";}}}s:30:\"ClassicAdministratorProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Classic
  Administrator properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  email address of the administrator.\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  role of the administrator.\";s:4:\"type\";s:6:\"string\";}}}}"
...
