---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:17:\"RunCommandsClient\";s:11:\"description\";s:24:\"The
  Run Commands Client.\";s:7:\"version\";s:10:\"2017-03-30\";}"
host: management.azure.com
paths: ~
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":12:{s:24:\"RunCommandInputParameter\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  run command parameter name.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  run command parameter value.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"value\";}s:11:\"description\";s:52:\"Describes
  the properties of a run command parameter.\";}s:15:\"RunCommandInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"commandId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  run command id.\";}s:6:\"script\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:129:\"Optional.
  The script to be executed.  When this value is given, the given script will override
  the default script of the command.\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/RunCommandInputParameter\";}s:11:\"description\";s:27:\"The
  run command parameters.\";}}s:8:\"required\";a:1:{i:0;s:9:\"commandId\";}s:11:\"description\";s:35:\"Capture
  Virtual Machine parameters.\";}s:29:\"RunCommandParameterDefinition\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  run command parameter name.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  run command parameter type.\";}s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  run command parameter default value.\";}s:8:\"required\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:35:\"The
  run command parameter required.\";s:7:\"default\";b:0;}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}s:11:\"description\";s:52:\"Describes
  the properties of a run command parameter.\";}s:22:\"RunCommandDocumentBase\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"$schema\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  VM run command schema.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  VM run command id.\";}s:6:\"osType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  Operating System type.\";s:4:\"enum\";a:2:{i:0;s:7:\"Windows\";i:1;s:5:\"Linux\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"OperatingSystemTypes\";s:13:\"modelAsString\";b:0;}}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  VM run command label.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  VM run command description.\";}}s:8:\"required\";a:5:{i:0;s:7:\"$schema\";i:1;s:2:\"id\";i:2;s:6:\"osType\";i:3;s:5:\"label\";i:4;s:11:\"description\";}s:11:\"description\";s:51:\"Describes
  the properties of a Run Command metadata.\";}s:18:\"RunCommandDocument\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/RunCommandDocumentBase\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"script\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:26:\"The
  script to be executed.\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/RunCommandParameterDefinition\";}s:11:\"description\";s:34:\"The
  parameters used by the script.\";}}s:8:\"required\";a:1:{i:0;s:6:\"script\";}s:11:\"description\";s:42:\"Describes
  the properties of a Run Command.\";}s:20:\"RunCommandListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/RunCommandDocumentBase\";}s:11:\"description\";s:41:\"The
  list of virtual machine run commands.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"The
  uri to fetch the next page of run commands. Call ListNext() with this to fetch the
  next page of run commands.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:44:\"The
  List Virtual Machine operation response.\";}s:26:\"RunCommandResultProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:32:\"Operation
  output data (raw JSON)\";}}s:11:\"description\";s:55:\"Compute-specific operation
  properties, including output\";}s:16:\"RunCommandResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:40:\"#/definitions/RunCommandResultProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/OperationStatusResponse\";}}s:11:\"description\";s:31:\"Run
  command operation response.\";}s:12:\"ApiErrorBase\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  error code.\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  target of the particular error.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  error message.\";}}s:11:\"description\";s:15:\"Api error base.\";}s:10:\"InnerError\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"exceptiontype\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  exception type.\";}s:11:\"errordetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  internal error message or exception dump.\";}}s:11:\"description\";s:20:\"Inner
  error details.\";}s:8:\"ApiError\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ApiErrorBase\";}s:11:\"description\";s:21:\"The
  Api error details\";}s:10:\"innererror\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/InnerError\";s:11:\"description\";s:19:\"The
  Api inner error\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  error code.\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  target of the particular error.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  error message.\";}}s:11:\"description\";s:10:\"Api error.\";}s:23:\"OperationStatusResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Operation
  ID\";}s:6:\"status\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Operation
  status\";}s:9:\"startTime\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:27:\"Start
  time of the operation\";}s:7:\"endTime\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:25:\"End
  time of the operation\";}s:5:\"error\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"$ref\";s:22:\"#/definitions/ApiError\";s:11:\"description\";s:9:\"Api
  error\";}}s:11:\"description\";s:25:\"Operation status response\";}}"
...
