---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:107:\"Apis for customer
  in enterprise agreement migrate to new pricing model or rollback to legacy pricing
  model.\";s:5:\"title\";s:35:\"ApplicationInsightsManagementClient\";s:7:\"version\";s:10:\"2017-10-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:189:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/microsoft.insights/preview/2017-10-01/eaSubscriptionMigration_API.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:47:\"applicationinsights-eaSubscriptionMigration_API\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/microsoft.insights/listMigrationdate:
    post:
      description: list date to migrate to new pricing model.
      operationId: EASubscriptionListMigrationDate_Post
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Success list migrate date information for this subscription.
          schema:
            $ref: '#/definitions/EASubscriptionMigrationDate'
      x-ms-examples:
        EASubscriptionListMigrationDate:
          parameters:
            api-version: "2017-10-01"
            subscriptionId: subid
          responses:
            200:
              body:
                isGrandFatherableSubscription: false
                optedInDate: "2018-08-15T22:15:45.5058967+00:00"
  /subscriptions/{subscriptionId}/providers/microsoft.insights/migrateToNewPricingModel:
    post:
      description: Enterprise Agreement Customer opted to use new pricing model.
      operationId: EASubscriptionMigrateToNewPricingModel_Post
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: Success migrate to new pricing model for this subscription.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        EASubscriptionMigrateToNewPricingModelPost:
          parameters:
            api-version: "2017-10-01"
            subscriptionId: subid
          responses:
            204: []
  /subscriptions/{subscriptionId}/providers/microsoft.insights/rollbackToLegacyPricingModel:
    post:
      description: Enterprise Agreement Customer roll back to use legacy pricing model.
      operationId: EASubscriptionRollbackToLegacyPricingModel_Post
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: Success roll back to legacy pricing model for this subscription.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-examples:
        EASubscriptionRollbackToLegacyPricingModelPost:
          parameters:
            api-version: "2017-10-01"
            subscriptionId: subid
          responses:
            204: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:10:\"CloudError\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  error response from the Batch service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CloudErrorBody\";s:11:\"description\";s:17:\"Cloud
  error body.\";}}s:13:\"x-ms-external\";b:1;}s:14:\"CloudErrorBody\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  error response from the Batch service.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"An
  identifier for the error. Codes are invariant and are intended to be consumed programmatically.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  list of additional details about the error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CloudErrorBody\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"A
  message describing the error, intended to be suitable for display in a user interface.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  target of the particular error. For example, the name of the property in error.\";s:4:\"type\";s:6:\"string\";}}s:13:\"x-ms-external\";b:1;}s:27:\"EASubscriptionMigrationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Subscription
  migrate date information properties\";s:10:\"properties\";O:8:\"stdClass\":2:{s:29:\"isGrandFatherableSubscription\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Is
  subscription in the grand fatherable subscription list.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"optedInDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Time
  to start using new pricing model.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
