---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:11:\"description\";s:790:\"The Data Migration
  Service helps people migrate their data from on-premise database servers to Azure,
  or from older database software to newer software. The service manages one or more
  workers that are joined to a customer's virtual network, which is assumed to provide
  connectivity to their databases. To avoid frequent updates to the resource provider,
  data migration tasks are implemented by the resource provider in a generic way as
  task resources, each of which has a task type (which identifies the type of work
  to run), input, and output. The client is responsible for providing appropriate
  task type and inputs, which will be passed through unexamined to the machines that
  implement the functionality, and for understanding the output, which is passed back
  unexamined to the client.\";s:5:\"title\";s:46:\"Azure Data Migration Service Resource
  Provider\";s:7:\"version\";s:18:\"2018-03-15-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:26:\"DataMigrationServiceClient\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:182:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/datamigration/resource-manager/Microsoft.DataMigration/preview/2018-03-15-preview/datamigration.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:13:\"datamigration\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"azure_datamigration\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:10:\"ODataError\";O:8:\"stdClass\":0:{}}"
...
