---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:11:\" API Client\";s:7:\"version\";s:10:\"2018-02-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:156:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/ResourceProvider.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:20:\"web-ResourceProvider\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.Web/publishingUsers/web:
    get:
      description: Gets publishing user
      operationId: GetPublishingUser
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            allOf:
            - description: Azure proxy only resource. This resource is not tracked
                by Azure Resource Manager.
              properties:
                id:
                  description: Resource Id.
                  readOnly: true
                  type: string
                kind:
                  description: Kind of resource.
                  type: string
                name:
                  description: Resource Name.
                  readOnly: true
                  type: string
                type:
                  description: Resource type.
                  readOnly: true
                  type: string
              x-ms-azure-resource: true
            description: User crendentials used for publishing activity.
            properties:
              properties:
                description: User resource specific properties
                properties:
                  publishingPassword:
                    description: Password used for publishing.
                    format: password
                    type: string
                  publishingPasswordHash:
                    description: Password hash used for publishing.
                    format: password
                    type: string
                  publishingPasswordHashSalt:
                    description: Password hash salt used for publishing.
                    format: password
                    type: string
                  publishingUserName:
                    description: Username used for publishing.
                    type: string
                  scmUri:
                    description: Url of SCM site.
                    type: string
                required:
                - publishingUserName
                x-ms-client-flatten: true
            type: object
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify
                            the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Gets publishing user
    put:
      description: Updates publishing user
      operationId: UpdatePublishingUser
      parameters:
      - description: Details of publishing user
        in: body
        name: userDetails
        required: true
        schema:
          allOf:
          - description: Azure proxy only resource. This resource is not tracked by
              Azure Resource Manager.
            properties:
              id:
                description: Resource Id.
                readOnly: true
                type: string
              kind:
                description: Kind of resource.
                type: string
              name:
                description: Resource Name.
                readOnly: true
                type: string
              type:
                description: Resource type.
                readOnly: true
                type: string
            x-ms-azure-resource: true
          description: User crendentials used for publishing activity.
          properties:
            properties:
              description: User resource specific properties
              properties:
                publishingPassword:
                  description: Password used for publishing.
                  format: password
                  type: string
                publishingPasswordHash:
                  description: Password hash used for publishing.
                  format: password
                  type: string
                publishingPasswordHashSalt:
                  description: Password hash salt used for publishing.
                  format: password
                  type: string
                publishingUserName:
                  description: Username used for publishing.
                  type: string
                scmUri:
                  description: Url of SCM site.
                  type: string
              required:
              - publishingUserName
              x-ms-client-flatten: true
          type: object
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            allOf:
            - description: Azure proxy only resource. This resource is not tracked
                by Azure Resource Manager.
              properties:
                id:
                  description: Resource Id.
                  readOnly: true
                  type: string
                kind:
                  description: Kind of resource.
                  type: string
                name:
                  description: Resource Name.
                  readOnly: true
                  type: string
                type:
                  description: Resource type.
                  readOnly: true
                  type: string
              x-ms-azure-resource: true
            description: User crendentials used for publishing activity.
            properties:
              properties:
                description: User resource specific properties
                properties:
                  publishingPassword:
                    description: Password used for publishing.
                    format: password
                    type: string
                  publishingPasswordHash:
                    description: Password hash used for publishing.
                    format: password
                    type: string
                  publishingPasswordHashSalt:
                    description: Password hash salt used for publishing.
                    format: password
                    type: string
                  publishingUserName:
                    description: Username used for publishing.
                    type: string
                  scmUri:
                    description: Url of SCM site.
                    type: string
                required:
                - publishingUserName
                x-ms-client-flatten: true
            type: object
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify
                            the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Updates publishing user
  /providers/Microsoft.Web/sourcecontrols:
    get:
      description: Gets the source controls available for Azure websites.
      operationId: ListSourceControls
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SourceControlCollection'
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify
                            the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Gets the source controls available for Azure websites.
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Web/sourcecontrols/{sourceControlType}:
    get:
      description: Gets source control token
      operationId: GetSourceControl
      parameters:
      - description: Type of source control
        in: path
        name: sourceControlType
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SourceControl'
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify
                            the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Gets source control token
    put:
      description: Updates source control token
      operationId: UpdateSourceControl
      parameters:
      - description: Type of source control
        in: path
        name: sourceControlType
        required: true
        type: string
      - description: Source control token information
        in: body
        name: requestMessage
        required: true
        schema:
          $ref: '#/definitions/SourceControl'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SourceControl'
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify
                            the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Updates source control token
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/billingMeters:
    get:
      description: Gets a list of meters for a given location.
      operationId: ListBillingMeters
      parameters:
      - description: Azure Location of billable resource
        in: query
        name: billingLocation
        type: string
      - description: App Service OS type meters used for
        in: query
        name: osType
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BillingMeterCollection'
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify
                            the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Gets a list of meters for a given location.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/checknameavailability:
    post:
      description: Check if a resource name is available.
      operationId: CheckNameAvailability
      parameters:
      - description: Name availability request.
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/ResourceNameAvailabilityRequest'
        x-ms-client-flatten: true
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResourceNameAvailability'
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify
                            the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Check if a resource name is available.
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/deploymentLocations:
    get:
      description: Gets list of available geo regions plus ministamps
      operationId: GetSubscriptionDeploymentLocations
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeploymentLocations'
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify
                            the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Gets list of available geo regions plus ministamps
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/geoRegions:
    get:
      description: Get a list of available geographical regions.
      operationId: ListGeoRegions
      parameters:
      - description: Name of SKU used to filter the regions.
        enum:
        - Free
        - Shared
        - Basic
        - Standard
        - Premium
        - Dynamic
        - Isolated
        - PremiumV2
        - ElasticPremium
        - ElasticIsolated
        in: query
        name: sku
        type: string
        x-ms-enum:
          modelAsString: true
          name: SkuName
      - description: Specify <code>true</code> if you want to filter to only regions
          that support Linux workers.
        in: query
        name: linuxWorkersEnabled
        type: boolean
      - description: Specify <code>true</code> if you want to filter to only regions
          that support Xenon workers.
        in: query
        name: xenonWorkersEnabled
        type: boolean
      - description: Specify <code>true</code> if you want to filter to only regions
          that support Linux Consumption Workers.
        in: query
        name: linuxDynamicWorkersEnabled
        type: boolean
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GeoRegionCollection'
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify
                            the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Get a list of available geographical regions.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/listSitesAssignedToHostName:
    post:
      description: List all apps that are assigned to a hostname.
      operationId: ListSiteIdentifiersAssignedToHostName
      parameters:
      - description: Hostname information.
        in: body
        name: nameIdentifier
        required: true
        schema:
          description: Identifies an object.
          properties:
            name:
              description: Name of the object.
              type: string
          type: object
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            description: Collection of identifiers.
            properties:
              nextLink:
                description: Link to next page of resources.
                readOnly: true
                type: string
              value:
                description: Collection of resources.
                items:
                  allOf:
                  - description: Azure proxy only resource. This resource is not tracked
                      by Azure Resource Manager.
                    properties:
                      id:
                        description: Resource Id.
                        readOnly: true
                        type: string
                      kind:
                        description: Kind of resource.
                        type: string
                      name:
                        description: Resource Name.
                        readOnly: true
                        type: string
                      type:
                        description: Resource type.
                        readOnly: true
                        type: string
                    x-ms-azure-resource: true
                  description: A domain specific resource identifier.
                  properties:
                    properties:
                      description: Identifier resource specific properties
                      properties:
                        id:
                          description: String representation of the identity.
                          type: string
                      x-ms-client-flatten: true
                  type: object
                type: array
            required:
            - value
            type: object
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify
                            the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: List all apps that are assigned to a hostname.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/premieraddonoffers:
    get:
      description: List all premier add-on offers.
      operationId: ListPremierAddOnOffers
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PremierAddOnOfferCollection'
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify
                            the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: List all premier add-on offers.
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/skus:
    get:
      description: List all SKUs.
      operationId: ListSkus
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SkuInfos'
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify
                            the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: List all SKUs.
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/verifyHostingEnvironmentVnet:
    post:
      description: Verifies if this VNET is compatible with an App Service Environment
        by analyzing the Network Security Group rules.
      operationId: VerifyHostingEnvironmentVnet
      parameters:
      - description: VNET information
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/VnetParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/VnetValidationFailureDetails'
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify
                            the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Verifies if this VNET is compatible with an App Service Environment
        by analyzing the Network Security Group rules.
      x-ms-examples:
        VerifyHostingEnvironmentVnet:
          parameters:
            api-version: "2018-02-01"
            parameters:
              properties:
                vnetName: vNet123
                vnetResourceGroup: vNet123rg
                vnetSubnetName: vNet123SubNet
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            200:
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/verifyHostingEnvironmentVnet
                properties:
                  failed: false
                  failedTests: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources:
    post:
      description: Move resources between resource groups.
      operationId: Move
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Object that represents the resource to move.
        in: body
        name: moveResourceEnvelope
        required: true
        schema:
          $ref: '#/definitions/CsmMoveResourceEnvelope'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: No Content
      summary: Move resources between resource groups.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/validate:
    post:
      description: Validate if a resource can be created.
      operationId: Validate
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Request with the resources to validate.
        in: body
        name: validateRequest
        required: true
        schema:
          $ref: '#/definitions/ValidateRequest'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ValidateResponse'
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify
                      the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify
                            the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Validate if a resource can be created.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/validateMoveResources:
    post:
      description: Validate whether a resource can be moved.
      operationId: ValidateMove
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Object that represents the resource to move.
        in: body
        name: moveResourceEnvelope
        required: true
        schema:
          $ref: '#/definitions/CsmMoveResourceEnvelope'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: No Content
      summary: Validate whether a resource can be moved.
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":22:{s:12:\"BillingMeter\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:134:\"App
  Service billing entity that contains information about meter which the Azure billing
  system utilizes to charge users for services.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"BillingMeter
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"billingLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Azure
  Location of billable resource\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Friendly
  name of the meter\";s:4:\"type\";s:6:\"string\";}s:7:\"meterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Meter
  GUID onboarded in Commerce\";s:4:\"type\";s:6:\"string\";}s:6:\"osType\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"App
  Service OS type meter used for\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"App
  Service ResourceType meter used for\";s:4:\"type\";s:6:\"string\";}s:9:\"shortName\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Short
  Name from App Service Azure pricing Page\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:22:\"BillingMeterCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Collection
  of Billing Meters\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BillingMeter\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:23:\"CsmMoveResourceEnvelope\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Object
  with a list of the resources that need to be moved and the resource group they should
  be moved to.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"resources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"targetResourceGroup\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:90;s:9:\"minLength\";i:1;s:7:\"pattern\";s:21:\"
  ^[-\\w\\._\\(\\)]+[^\\.]$\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DeploymentLocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"List
  of available locations (regions or App Service Environments) for\ndeployment of
  App Service resources.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:33:\"hostingEnvironmentDeploymentInfos\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Available
  App Service Environments with basic information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/HostingEnvironmentDeploymentInfo\";}s:4:\"type\";s:5:\"array\";}s:19:\"hostingEnvironments\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Available
  App Service Environments with full descriptions of the environments.\";s:5:\"items\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Description
  of an App Service Environment.\";s:10:\"properties\";O:8:\"stdClass\":39:{s:17:\"allowedMultiSizes\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"List
  of comma separated strings describing which VM sizes are allowed for front-ends.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"allowedWorkerSizes\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"List
  of comma separated strings describing which VM sizes are allowed for workers.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:22:\"apiManagementAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"API
  Management Account associated with the App Service Environment.\";s:4:\"type\";s:6:\"string\";}s:15:\"clusterSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Custom
  settings for changing the behavior of the App Service Environment.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Name
  value pair.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Pair
  name.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Pair
  value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:15:\"databaseEdition\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Edition
  of the metadata database for the App Service Environment, e.g. \"Standard\".\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:24:\"databaseServiceObjective\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Service
  objective of the metadata database for the App Service Environment, e.g. \"S0\".\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:26:\"defaultFrontEndScaleFactor\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Default
  Scale Factor for FrontEnds.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:9:\"dnsSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"DNS
  suffix of the App Service Environment.\";s:4:\"type\";s:6:\"string\";}s:19:\"dynamicCacheEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:217:\"True/false
  indicating whether the App Service Environment is suspended. The environment can
  be suspended e.g. when the management endpoint is no longer available\n(most likely
  because NSG blocked the incoming traffic).\";s:4:\"type\";s:7:\"boolean\";}s:21:\"environmentCapacities\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Current
  total, used, and available worker capacities.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Stamp
  capacity information.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:17:\"availableCapacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Available
  capacity (# of machines, bytes of storage etc...).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"computeMode\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Shared/dedicated
  workers.\";s:4:\"enum\";a:3:{i:0;s:6:\"Shared\";i:1;s:9:\"Dedicated\";i:2;s:7:\"Dynamic\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"ComputeModeOptions\";}}s:29:\"excludeFromCapacityAllocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"If
  <code>true</code>, it includes basic apps.\nBasic apps are not used for capacity
  allocation.\";s:4:\"type\";s:7:\"boolean\";}s:30:\"isApplicableForAllComputeModes\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"<code>true</code>
  if capacity is applicable for all apps; otherwise, <code>false</code>.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"isLinux\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Is
  this a linux stamp capacity\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the stamp.\";s:4:\"type\";s:6:\"string\";}s:8:\"siteMode\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Shared
  or Dedicated.\";s:4:\"type\";s:6:\"string\";}s:13:\"totalCapacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Total
  capacity (# of machines, bytes of storage etc...).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of the unit.\";s:4:\"type\";s:6:\"string\";}s:10:\"workerSize\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Size
  of the machines.\";s:4:\"enum\";a:7:{i:0;s:5:\"Small\";i:1;s:6:\"Medium\";i:2;s:5:\"Large\";i:3;s:2:\"D1\";i:4;s:2:\"D2\";i:5;s:2:\"D3\";i:6;s:7:\"Default\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"WorkerSizeOptions\";}}s:12:\"workerSizeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Size
  ID of machines: \n0 - Small\n1 - Medium\n2 - Large\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:20:\"environmentIsHealthy\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"True/false
  indicating whether the App Service Environment is healthy.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:17:\"environmentStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Detailed
  message about with results of the last check of the App Service Environment.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"frontEndScaleFactor\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Scale
  factor for front-ends.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"hasLinuxWorkers\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Flag
  that displays whether an ASE has linux workers or not\";s:4:\"type\";s:7:\"boolean\";}s:25:\"internalLoadBalancingMode\";O:8:\"stdClass\":4:{s:11:\"description\";s:101:\"Specifies
  which endpoints to serve internally in the Virtual Network for the App Service Environment.\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:3:\"Web\";i:2;s:10:\"Publishing\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:25:\"InternalLoadBalancingMode\";}}s:17:\"ipsslAddressCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Number
  of IP SSL addresses reserved for the App Service Environment.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"lastAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Last
  deployment action on the App Service Environment.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"lastActionResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Result
  of the last deployment action on the App Service Environment.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Location
  of the App Service Environment, e.g. \"West US\".\";s:4:\"type\";s:6:\"string\";}s:23:\"maximumNumberOfMachines\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Maximum
  number of VMs in the App Service Environment.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:14:\"multiRoleCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Number
  of front-end instances.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"multiSize\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Front-end
  VM size, e.g. \"Medium\", \"Large\".\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Name
  of the App Service Environment.\";s:4:\"type\";s:6:\"string\";}s:24:\"networkAccessControlList\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Access
  control list for controlling traffic to the App Service Environment.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Network
  access control entry.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"action\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Action
  object.\";s:4:\"enum\";a:2:{i:0;s:6:\"Permit\";i:1;s:4:\"Deny\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:24:\"AccessControlEntryAction\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Description
  of network access control entry.\";s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Order
  of precedence.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"remoteSubnet\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Remote
  subnet.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:50:\"Provisioning
  state of the App Service Environment.\";s:4:\"enum\";a:5:{i:0;s:9:\"Succeeded\";i:1;s:6:\"Failed\";i:2;s:8:\"Canceled\";i:3;s:10:\"InProgress\";i:4;s:8:\"Deleting\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"ProvisioningState\";}}s:13:\"resourceGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Resource
  group of the App Service Environment.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"sslCertKeyVaultId\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Key
  Vault ID for ILB App Service Environment default SSL certificate\";s:4:\"type\";s:6:\"string\";}s:25:\"sslCertKeyVaultSecretName\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Key
  Vault Secret Name for ILB App Service Environment default SSL certificate\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":5:{s:11:\"description\";s:46:\"Current
  status of the App Service Environment.\";s:4:\"enum\";a:4:{i:0;s:9:\"Preparing\";i:1;s:5:\"Ready\";i:2;s:7:\"Scaling\";i:3;s:8:\"Deleting\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:24:\"HostingEnvironmentStatus\";}}s:14:\"subscriptionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Subscription
  of the App Service Environment.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"suspended\";O:8:\"stdClass\":2:{s:11:\"description\";s:241:\"<code>true</code>
  if the App Service Environment is suspended; otherwise, <code>false</code>. The
  environment can be suspended, e.g. when the management endpoint is no longer available\n
  (most likely because NSG blocked the incoming traffic).\";s:4:\"type\";s:7:\"boolean\";}s:14:\"upgradeDomains\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Number
  of upgrade domains of the App Service Environment.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:23:\"userWhitelistedIpRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"User
  added ip ranges to whitelist on ASE db\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"vipMappings\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Description
  of IP SSL mapping for the App Service Environment.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Virtual
  IP mapping.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"inUse\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Is
  virtual IP mapping in use.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"internalHttpPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Internal
  HTTP port.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"internalHttpsPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Internal
  HTTPS port.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"virtualIP\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Virtual
  IP address.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:14:\"virtualNetwork\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Specification
  for using a Virtual Network.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Resource
  id of the Virtual Network.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Name
  of the Virtual Network (read-only).\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"subnet\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Subnet
  within the Virtual Network.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Resource
  type of the Virtual Network (read-only).\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"vnetName\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Name
  of the Virtual Network for the App Service Environment.\";s:4:\"type\";s:6:\"string\";}s:21:\"vnetResourceGroupName\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Resource
  group of the Virtual Network.\";s:4:\"type\";s:6:\"string\";}s:14:\"vnetSubnetName\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Subnet
  of the Virtual Network.\";s:4:\"type\";s:6:\"string\";}s:11:\"workerPools\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Description
  of worker pools with worker size IDs, VM sizes, and number of workers in each pool.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Worker
  pool of an App Service Environment.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"computeMode\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Shared
  or dedicated app hosting.\";s:4:\"enum\";a:3:{i:0;s:6:\"Shared\";i:1;s:9:\"Dedicated\";i:2;s:7:\"Dynamic\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"ComputeModeOptions\";}}s:13:\"instanceNames\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Names
  of all instances in the worker pool (read only).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:11:\"workerCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Number
  of instances in the worker pool.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"workerSize\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"VM
  size of the worker pool instances.\";s:4:\"type\";s:6:\"string\";}s:12:\"workerSizeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Worker
  size ID for referencing this worker pool.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:8:\"location\";i:2;s:14:\"virtualNetwork\";i:3;s:11:\"workerPools\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Available
  regions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GeoRegion\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"GeoRegion\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:20:\"Geographical
  region.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"GeoRegion
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Region
  description.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Display
  name for region.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:19:\"GeoRegionCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Collection
  of geographical regions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GeoRegion\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:23:\"GlobalCsmSkuDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  Global SKU Description.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"capabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Capabilities
  of the SKU, e.g., is traffic manager enabled?\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Describes
  the capabilities/features allowed for a specific SKU.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Name
  of the SKU capability.\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Reason
  of the SKU capability.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Value
  of the SKU capability.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"capacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Description
  of the App Service plan scale options.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"default\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Default
  number of workers for this App Service plan SKU.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"maximum\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Maximum
  number of workers for this App Service plan SKU.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"minimum\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Minimum
  number of workers for this App Service plan SKU.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"scaleType\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Available
  scale configurations for an App Service plan.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"family\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Family
  code of the resource SKU.\";s:4:\"type\";s:6:\"string\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Locations
  of the SKU.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Name
  of the resource SKU.\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Size
  specifier of the resource SKU.\";s:4:\"type\";s:6:\"string\";}s:4:\"tier\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Service
  Tier of the resource SKU.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"HostingEnvironmentDeploymentInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Information
  needed to create resources on an App Service Environment.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Location
  of the App Service Environment.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Name
  of the App Service Environment.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PremierAddOnOffer\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:21:\"Premier
  add-on offer.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"PremierAddOnOffer
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"legalTermsUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Legal
  terms URL.\";s:4:\"type\";s:6:\"string\";}s:16:\"marketplaceOffer\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Marketplace
  offer.\";s:4:\"type\";s:6:\"string\";}s:20:\"marketplacePublisher\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Marketplace
  publisher.\";s:4:\"type\";s:6:\"string\";}s:16:\"privacyPolicyUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Privacy
  policy URL.\";s:4:\"type\";s:6:\"string\";}s:7:\"product\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Premier
  add on offer Product.\";s:4:\"type\";s:6:\"string\";}s:17:\"promoCodeRequired\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"<code>true</code>
  if promotion code is required; otherwise, <code>false</code>.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"quota\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Premier
  add on offer Quota.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Premier
  add on SKU.\";s:4:\"type\";s:6:\"string\";}s:6:\"vendor\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Premier
  add on offer Vendor.\";s:4:\"type\";s:6:\"string\";}s:26:\"webHostingPlanRestrictions\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"App
  Service plans this offer is restricted to.\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:4:\"Free\";i:2;s:6:\"Shared\";i:3;s:5:\"Basic\";i:4;s:8:\"Standard\";i:5;s:7:\"Premium\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:26:\"AppServicePlanRestrictions\";}}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:27:\"PremierAddOnOfferCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Collection
  of premier add-on offers.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PremierAddOnOffer\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:24:\"ResourceNameAvailability\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Information
  regarding availbility of a resource name.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:290:\"If
  reason == invalid, provide the user with the reason why the given name is invalid,
  and provide the resource naming requirements so that the user can select a valid
  name. If reason == AlreadyExists, explain that resource name is already in use,
  and direct them to select a different name.\";s:4:\"type\";s:6:\"string\";}s:13:\"nameAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"<code>true</code>
  indicates name is valid and available. <code>false</code> indicates the name is
  invalid, unavailable, or both.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"reason\";O:8:\"stdClass\":4:{s:11:\"description\";s:201:\"<code>Invalid</code>
  indicates the name provided does not match Azure App Service naming requirements.
  <code>AlreadyExists</code> indicates that the name is already in use and is therefore
  unavailable.\";s:4:\"enum\";a:2:{i:0;s:7:\"Invalid\";i:1;s:13:\"AlreadyExists\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:24:\"InAvailabilityReasonType\";}}}s:4:\"type\";s:6:\"object\";}s:31:\"ResourceNameAvailabilityRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Resource
  name availability request content.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"isFqdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Is
  fully qualified domain name.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Resource
  name to verify.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Resource
  type used for verification.\";s:4:\"enum\";a:8:{i:0;s:4:\"Site\";i:1;s:4:\"Slot\";i:2;s:18:\"HostingEnvironment\";i:3;s:14:\"PublishingUser\";i:4;s:19:\"Microsoft.Web/sites\";i:5;s:25:\"Microsoft.Web/sites/slots\";i:6;s:33:\"Microsoft.Web/hostingEnvironments\";i:7;s:29:\"Microsoft.Web/publishingUsers\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:22:\"CheckNameResourceTypes\";}}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:8:\"SkuInfos\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Collection
  of SKU information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"resourceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Resource
  type that this SKU applies to.\";s:4:\"type\";s:6:\"string\";}s:4:\"skus\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"List
  of SKUs the subscription is able to use.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GlobalCsmSkuDescription\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SourceControl\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:31:\"The
  source control OAuth token.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"SourceControl
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"expirationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"OAuth
  token expiration.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"refreshToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"OAuth
  refresh token.\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"OAuth
  access token.\";s:4:\"type\";s:6:\"string\";}s:11:\"tokenSecret\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"OAuth
  access token secret.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:23:\"SourceControlCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Collection
  of source controls.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SourceControl\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:18:\"ValidateProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"App
  properties used for validation.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"capacity\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Target
  capacity of the App Service plan (number of VM's).\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:18:\"hostingEnvironment\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Name
  of App Service Environment where app or App Service plan should be created.\";s:4:\"type\";s:6:\"string\";}s:6:\"isSpot\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"<code>true</code>
  if App Service plan is for Spot instances; otherwise, <code>false</code>.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"isXenon\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"<code>true</code>
  if App Service plan is running as a windows container\";s:4:\"type\";s:7:\"boolean\";}s:16:\"needLinuxWorkers\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"<code>true</code>
  if App Service plan is for Linux workers; otherwise, <code>false</code>.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"serverFarmId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"ARM
  resource ID of an App Service plan that would host the app.\";s:4:\"type\";s:6:\"string\";}s:7:\"skuName\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Name
  of the target SKU for the App Service plan.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ValidateRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Resource
  validation request content.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Expected
  location of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Resource
  name to verify.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/ValidateProperties\";s:11:\"description\";s:39:\"Properties
  of the resource to validate.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Resource
  type used for verification.\";s:4:\"enum\";a:2:{i:0;s:10:\"ServerFarm\";i:1;s:4:\"Site\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:21:\"ValidateResourceTypes\";}}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:8:\"location\";i:3;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}s:16:\"ValidateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Describes
  the result of resource validation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ValidateResponseError\";s:11:\"description\";s:49:\"Error
  details for the case when validation fails.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Result
  of validation.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ValidateResponseError\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Error
  details for when validation fails.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Validation
  error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Validation
  error message.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"VnetParameters\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:45:\"The
  required set of inputs to validate a VNET\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"VnetParameters
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"vnetName\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  name of the VNET to be validated\";s:4:\"type\";s:6:\"string\";}s:17:\"vnetResourceGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  Resource Group of the VNET to be validated\";s:4:\"type\";s:6:\"string\";}s:14:\"vnetSubnetName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  subnet name to be validated\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:28:\"VnetValidationFailureDetails\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:59:\"A
  class that describes the reason for a validation failure.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"VnetValidationFailureDetails
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"failed\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"A
  flag describing whether or not validation failed.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"failedTests\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"A
  list of tests that failed in the validation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/VnetValidationTestFailure\";}s:4:\"type\";s:5:\"array\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:25:\"VnetValidationTestFailure\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:72:\"A
  class that describes a test that failed during NSG and UDR validation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"VnetValidationTestFailure
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  details of what caused the failure, e.g. the blocking rule name, etc.\";s:4:\"type\";s:6:\"string\";}s:8:\"testName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  name of the test that failed.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}}"
...
