---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:33:\"ContainerInstanceManagementClient\";s:7:\"version\";s:18:\"2017-10-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:194:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerinstance/resource-manager/Microsoft.ContainerInstance/preview/2017-10-01-preview/containerInstance.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:35:\"containerinstance-containerInstance\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:41:\"azure_containerinstance_containerinstance\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":22:{s:15:\"AzureFileVolume\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"The
  properties of the Azure File volume. Azure File shares are mounted as volumes.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"readOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  flag indicating whether the Azure File shared mounted as a volume is read-only.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"shareName\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  name of the Azure File share to be mounted as a volume.\";s:4:\"type\";s:6:\"string\";}s:17:\"storageAccountKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  storage account access key used to access the Azure File share.\";s:4:\"type\";s:6:\"string\";}s:18:\"storageAccountName\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  name of the storage account that contains the Azure File share.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"shareName\";i:1;s:18:\"storageAccountName\";}s:4:\"type\";s:6:\"object\";}s:9:\"Container\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"A
  container instance.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  user-provided name of the container instance.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/ContainerProperties\";s:11:\"description\";s:41:\"The
  properties of the container instance.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:2:{i:0;s:10:\"properties\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:14:\"ContainerGroup\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}i:1;O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"containers\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  containers within the container group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Container\";}s:4:\"type\";s:5:\"array\";}s:24:\"imageRegistryCredentials\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  image registry credentials by which the container group is created from.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ImageRegistryCredential\";}s:4:\"type\";s:5:\"array\";}s:12:\"instanceView\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"The
  instance view of the container group. Only valid in response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"events\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  events of this container group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  state of the container group. Only valid in response.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpAddress\";s:11:\"description\";s:43:\"The
  IP address type of the container group.\";}s:6:\"osType\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"The
  operating system type required by the containers in the container group.\";s:4:\"enum\";a:2:{i:0;s:7:\"Windows\";i:1;s:5:\"Linux\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"OperatingSystemTypes\";}}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  provisioning state of the container group. This only appears in the response.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"restartPolicy\";O:8:\"stdClass\":4:{s:11:\"description\";s:146:\"Restart
  policy for all containers within the container group. \n- `Always` Always restart\n-
  `OnFailure` Restart on failure\n- `Never` Never restart\n\";s:4:\"enum\";a:3:{i:0;s:6:\"Always\";i:1;s:9:\"OnFailure\";i:2;s:5:\"Never\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:27:\"ContainerGroupRestartPolicy\";}}s:7:\"volumes\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  list of volumes that can be mounted by containers in this container group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Volume\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:10:\"containers\";i:1;s:6:\"osType\";}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:18:\"A
  container group.\";}s:24:\"ContainerGroupListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  container group list response that contains the container group properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  URI to fetch the next page of container groups.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  list of container groups.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ContainerGroup\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ContainerPort\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  port exposed on the container instance.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  port number exposed within the container group.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  protocol associated with the port.\";s:4:\"enum\";a:2:{i:0;s:3:\"TCP\";i:1;s:3:\"UDP\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:24:\"ContainerNetworkProtocol\";}}}s:8:\"required\";a:1:{i:0;s:4:\"port\";}s:4:\"type\";s:6:\"object\";}s:19:\"ContainerProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  container instance properties.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"command\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  commands to execute within the container instance in exec form.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"environmentVariables\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  environment variables to set in the container instance.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/EnvironmentVariable\";}s:4:\"type\";s:5:\"array\";}s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  name of the image used to create the container instance.\";s:4:\"type\";s:6:\"string\";}s:12:\"instanceView\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"The
  instance view of the container instance. Only valid in response.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"currentState\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/ContainerState\";s:11:\"description\";s:33:\"Current
  container instance state.\";s:8:\"readOnly\";b:1;}s:6:\"events\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"The
  events of the container instance.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:13:\"previousState\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/ContainerState\";s:11:\"description\";s:34:\"Previous
  container instance state.\";s:8:\"readOnly\";b:1;}s:12:\"restartCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  number of times that the container instance has been restarted.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:5:\"ports\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  exposed ports on the container instance.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContainerPort\";}s:4:\"type\";s:5:\"array\";}s:9:\"resources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ResourceRequirements\";s:11:\"description\";s:52:\"The
  resource requirements of the container instance.\";}s:12:\"volumeMounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  volume mounts available to the container instance.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VolumeMount\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:5:\"image\";i:1;s:9:\"resources\";}s:4:\"type\";s:6:\"object\";}s:14:\"ContainerState\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  container instance state.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"detailStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  human-readable status of the container instance state.\";s:4:\"type\";s:6:\"string\";}s:8:\"exitCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"The
  container instance exit codes correspond to those from the `docker run` command.\";s:4:\"type\";s:7:\"integer\";}s:10:\"finishTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  date-time when the container instance state finished.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  date-time when the container instance state started.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  state of the container instance.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"EmptyDirVolume\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  empty directory volume.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"EnvironmentVariable\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  environment variable to set within the container instance.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  name of the environment variable.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  value of the environment variable.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:5:\"Event\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"A
  container group or container instance event.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"count\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  count of the event.\";s:4:\"type\";s:7:\"integer\";}s:14:\"firstTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  date-time of the earliest logged event.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"lastTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  date-time of the latest logged event.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  event message.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  event name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  event type.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ImageRegistryCredential\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Image
  registry credential.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  password for the private registry.\";s:4:\"type\";s:6:\"string\";}s:6:\"server\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  Docker image registry server without a protocol such as \"http\" and \"https\".\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  username for the private registry.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:6:\"server\";i:1;s:8:\"username\";}s:4:\"type\";s:6:\"object\";}s:9:\"IpAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"IP
  address for the container group.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  IP exposed to the public internet.\";s:4:\"type\";s:6:\"string\";}s:5:\"ports\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  list of ports exposed on the container group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Port\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Specifies
  if the IP is exposed to the public internet.\";s:4:\"enum\";a:1:{i:0;s:6:\"Public\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:27:\"ContainerGroupIpAddressType\";}}}s:8:\"required\";a:2:{i:0;s:5:\"ports\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:4:\"Logs\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"The
  logs.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  content of the log.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  operation for Azure Container Instance service.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"display\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  display information of the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  description of the operation.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  friendly name of the operation.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  name of the provider of the operation.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  name of the resource type of the operation.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the operation.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  intended executor of the operation.\";s:4:\"enum\";a:2:{i:0;s:4:\"User\";i:1;s:6:\"System\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:33:\"ContainerInstanceOperationsOrigin\";}}}s:4:\"type\";s:6:\"object\";}s:19:\"OperationListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  operation list response that contains all operations for Azure Container Instance
  service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  list of operations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Port\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  port exposed on the container group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  port number.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  protocol associated with the port.\";s:4:\"enum\";a:2:{i:0;s:3:\"TCP\";i:1;s:3:\"UDP\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:29:\"ContainerGroupNetworkProtocol\";}}}s:8:\"required\";a:1:{i:0;s:4:\"port\";}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"The
  Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  resource id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  resource location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  resource name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"The
  resource tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  resource type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:14:\"ResourceLimits\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  resource limits.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"cpu\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  CPU limit of this container instance.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"memoryInGB\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  memory limit in GB of this container instance.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ResourceRequests\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  resource requests.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"cpu\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  CPU request of this container instance.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"memoryInGB\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  memory request in GB of this container instance.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:10:\"memoryInGB\";i:1;s:3:\"cpu\";}s:4:\"type\";s:6:\"object\";}s:20:\"ResourceRequirements\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"The
  resource requirements.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"limits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ResourceLimits\";s:11:\"description\";s:47:\"The
  resource limits of this container instance.\";}s:8:\"requests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResourceRequests\";s:11:\"description\";s:49:\"The
  resource requests of this container instance.\";}}s:8:\"required\";a:1:{i:0;s:8:\"requests\";}s:4:\"type\";s:6:\"object\";}s:6:\"Volume\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"The
  properties of the volume.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"azureFile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AzureFileVolume\";s:11:\"description\";s:34:\"The
  name of the Azure File volume.\";}s:8:\"emptyDir\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/EmptyDirVolume\";s:11:\"description\";s:27:\"The
  empty directory volume.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the volume.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:11:\"VolumeMount\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  properties of the volume mount.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"mountPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  path within the container where the volume should be mounted. Must not contain colon
  (:).\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of the volume mount.\";s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  flag indicating whether the volume mount is read-only.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:9:\"mountPath\";}s:4:\"type\";s:6:\"object\";}}"
...
