---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:7:\"version\";s:10:\"2018-02-01\";s:5:\"title\";s:11:\"
  API Client\";}"
host: management.azure.com
paths:
  /providers/Microsoft.Web/publishingUsers/web:
    get:
      summary: Gets publishing user
      description: Gets publishing user
      operationId: GetPublishingUser
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: ./CommonDefinitions.json#/definitions/User
        default:
          description: App Service error response.
          schema:
            $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    put:
      summary: Updates publishing user
      description: Updates publishing user
      operationId: UpdatePublishingUser
      parameters:
      - name: userDetails
        in: body
        description: Details of publishing user
        required: true
        schema:
          $ref: ./CommonDefinitions.json#/definitions/User
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: ./CommonDefinitions.json#/definitions/User
        default:
          description: App Service error response.
          schema:
            $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  /providers/Microsoft.Web/sourcecontrols:
    get:
      summary: Gets the source controls available for Azure websites.
      description: Gets the source controls available for Azure websites.
      operationId: ListSourceControls
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SourceControlCollection'
        default:
          description: App Service error response.
          schema:
            $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Web/sourcecontrols/{sourceControlType}:
    get:
      summary: Gets source control token
      description: Gets source control token
      operationId: GetSourceControl
      parameters:
      - name: sourceControlType
        in: path
        description: Type of source control
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SourceControl'
        default:
          description: App Service error response.
          schema:
            $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
    put:
      summary: Updates source control token
      description: Updates source control token
      operationId: UpdateSourceControl
      parameters:
      - name: sourceControlType
        in: path
        description: Type of source control
        required: true
        type: string
      - name: requestMessage
        in: body
        description: Source control token information
        required: true
        schema:
          $ref: '#/definitions/SourceControl'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SourceControl'
        default:
          description: App Service error response.
          schema:
            $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/billingMeters:
    get:
      summary: Gets a list of meters for a given location.
      description: Gets a list of meters for a given location.
      operationId: ListBillingMeters
      parameters:
      - name: billingLocation
        in: query
        description: Azure Location of billable resource
        type: string
      - name: osType
        in: query
        description: App Service OS type meters used for
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BillingMeterCollection'
        default:
          description: App Service error response.
          schema:
            $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/checknameavailability:
    post:
      summary: Check if a resource name is available.
      description: Check if a resource name is available.
      operationId: CheckNameAvailability
      parameters:
      - name: request
        in: body
        description: Name availability request.
        required: true
        schema:
          $ref: '#/definitions/ResourceNameAvailabilityRequest'
        x-ms-client-flatten: true
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResourceNameAvailability'
        default:
          description: App Service error response.
          schema:
            $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/deploymentLocations:
    get:
      summary: Gets list of available geo regions plus ministamps
      description: Gets list of available geo regions plus ministamps
      operationId: GetSubscriptionDeploymentLocations
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeploymentLocations'
        default:
          description: App Service error response.
          schema:
            $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/geoRegions:
    get:
      summary: Get a list of available geographical regions.
      description: Get a list of available geographical regions.
      operationId: ListGeoRegions
      parameters:
      - name: sku
        in: query
        description: Name of SKU used to filter the regions.
        type: string
        enum:
        - Free
        - Shared
        - Basic
        - Standard
        - Premium
        - Dynamic
        - Isolated
        - PremiumV2
        x-ms-enum:
          name: SkuName
          modelAsString: true
      - name: linuxWorkersEnabled
        in: query
        description: Specify <code>true</code> if you want to filter to only regions
          that support Linux workers.
        type: boolean
      - name: xenonWorkersEnabled
        in: query
        description: Specify <code>true</code> if you want to filter to only regions
          that support Xenon workers.
        type: boolean
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GeoRegionCollection'
        default:
          description: App Service error response.
          schema:
            $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/listSitesAssignedToHostName:
    post:
      summary: List all apps that are assigned to a hostname.
      description: List all apps that are assigned to a hostname.
      operationId: ListSiteIdentifiersAssignedToHostName
      parameters:
      - name: nameIdentifier
        in: body
        description: Hostname information.
        required: true
        schema:
          $ref: ./CommonDefinitions.json#/definitions/NameIdentifier
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: ./CommonDefinitions.json#/definitions/IdentifierCollection
        default:
          description: App Service error response.
          schema:
            $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/premieraddonoffers:
    get:
      summary: List all premier add-on offers.
      description: List all premier add-on offers.
      operationId: ListPremierAddOnOffers
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PremierAddOnOfferCollection'
        default:
          description: App Service error response.
          schema:
            $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/skus:
    get:
      summary: List all SKUs.
      description: List all SKUs.
      operationId: ListSkus
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SkuInfos'
        default:
          description: App Service error response.
          schema:
            $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/verifyHostingEnvironmentVnet:
    post:
      summary: Verifies if this VNET is compatible with an App Service Environment
        by analyzing the Network Security Group rules.
      description: Verifies if this VNET is compatible with an App Service Environment
        by analyzing the Network Security Group rules.
      operationId: VerifyHostingEnvironmentVnet
      parameters:
      - name: parameters
        in: body
        description: VNET information
        required: true
        schema:
          $ref: '#/definitions/VnetParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/VnetValidationFailureDetails'
        default:
          description: App Service error response.
          schema:
            $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
      x-ms-examples:
        VerifyHostingEnvironmentVnet:
          $ref: ./examples/VerifyHostingEnvironmentVnet.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources:
    post:
      summary: Move resources between resource groups.
      description: Move resources between resource groups.
      operationId: Move
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: moveResourceEnvelope
        in: body
        description: Object that represents the resource to move.
        required: true
        schema:
          $ref: '#/definitions/CsmMoveResourceEnvelope'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: No Content
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/validate:
    post:
      summary: Validate if a resource can be created.
      description: Validate if a resource can be created.
      operationId: Validate
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: validateRequest
        in: body
        description: Request with the resources to validate.
        required: true
        schema:
          $ref: '#/definitions/ValidateRequest'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ValidateResponse'
        default:
          description: App Service error response.
          schema:
            $ref: ./CommonDefinitions.json#/definitions/DefaultErrorResponse
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/validateMoveResources:
    post:
      summary: Validate whether a resource can be moved.
      description: Validate whether a resource can be moved.
      operationId: ValidateMove
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: moveResourceEnvelope
        in: body
        description: Object that represents the resource to move.
        required: true
        schema:
          $ref: '#/definitions/CsmMoveResourceEnvelope'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: No Content
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":22:{s:12:\"BillingMeter\";O:8:\"stdClass\":4:{s:11:\"description\";s:134:\"App
  Service billing entity that contains information about meter which the Azure billing
  system utilizes to charge users for services.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"./CommonDefinitions.json#/definitions/ProxyOnlyResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"BillingMeter
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"meterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Meter
  GUID onboarded in Commerce\";s:4:\"type\";s:6:\"string\";}s:15:\"billingLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Azure
  Location of billable resource\";s:4:\"type\";s:6:\"string\";}s:9:\"shortName\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Short
  Name from App Service Azure pricing Page\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Friendly
  name of the meter\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"App
  Service ResourceType meter used for\";s:4:\"type\";s:6:\"string\";}s:6:\"osType\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"App
  Service OS type meter used for\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}}s:22:\"BillingMeterCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Collection
  of Billing Meters\";s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BillingMeter\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:23:\"CsmMoveResourceEnvelope\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Object
  with a list of the resources that need to be moved and the resource group they should
  be moved to.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"targetResourceGroup\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:90;s:9:\"minLength\";i:1;s:7:\"pattern\";s:21:\"
  ^[-\\w\\._\\(\\)]+[^\\.]$\";s:4:\"type\";s:6:\"string\";}s:9:\"resources\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:19:\"DeploymentLocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"List
  of available locations (regions or App Service Environments) for\ndeployment of
  App Service resources.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Available
  regions.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GeoRegion\";}}s:19:\"hostingEnvironments\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Available
  App Service Environments with full descriptions of the environments.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"./CommonDefinitions.json#/definitions/AppServiceEnvironment\";}}s:33:\"hostingEnvironmentDeploymentInfos\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Available
  App Service Environments with basic information.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/HostingEnvironmentDeploymentInfo\";}}}}s:9:\"GeoRegion\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Geographical
  region.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"./CommonDefinitions.json#/definitions/ProxyOnlyResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"GeoRegion
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Region
  description.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Display
  name for region.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}s:19:\"x-ms-client-flatten\";b:1;}}}s:19:\"GeoRegionCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Collection
  of geographical regions.\";s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GeoRegion\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:23:\"GlobalCsmSkuDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  Global SKU Description.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Name
  of the resource SKU.\";s:4:\"type\";s:6:\"string\";}s:4:\"tier\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Service
  Tier of the resource SKU.\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Size
  specifier of the resource SKU.\";s:4:\"type\";s:6:\"string\";}s:6:\"family\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Family
  code of the resource SKU.\";s:4:\"type\";s:6:\"string\";}s:8:\"capacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"./CommonDefinitions.json#/definitions/SkuCapacity\";s:11:\"description\";s:46:\"Min,
  max, and default scale values of the SKU.\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Locations
  of the SKU.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"capabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Capabilities
  of the SKU, e.g., is traffic manager enabled?\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"./CommonDefinitions.json#/definitions/Capability\";}}}}s:32:\"HostingEnvironmentDeploymentInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Information
  needed to create resources on an App Service Environment.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Name
  of the App Service Environment.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Location
  of the App Service Environment.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"PremierAddOnOffer\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Premier
  add-on offer.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"./CommonDefinitions.json#/definitions/ProxyOnlyResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"PremierAddOnOffer
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Premier
  add on SKU.\";s:4:\"type\";s:6:\"string\";}s:7:\"product\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Premier
  add on offer Product.\";s:4:\"type\";s:6:\"string\";}s:6:\"vendor\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Premier
  add on offer Vendor.\";s:4:\"type\";s:6:\"string\";}s:17:\"promoCodeRequired\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"<code>true</code>
  if promotion code is required; otherwise, <code>false</code>.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"quota\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:27:\"Premier
  add on offer Quota.\";s:4:\"type\";s:7:\"integer\";}s:26:\"webHostingPlanRestrictions\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"App
  Service plans this offer is restricted to.\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:4:\"Free\";i:2;s:6:\"Shared\";i:3;s:5:\"Basic\";i:4;s:8:\"Standard\";i:5;s:7:\"Premium\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"AppServicePlanRestrictions\";s:13:\"modelAsString\";b:0;}}s:16:\"privacyPolicyUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Privacy
  policy URL.\";s:4:\"type\";s:6:\"string\";}s:13:\"legalTermsUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Legal
  terms URL.\";s:4:\"type\";s:6:\"string\";}s:20:\"marketplacePublisher\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Marketplace
  publisher.\";s:4:\"type\";s:6:\"string\";}s:16:\"marketplaceOffer\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Marketplace
  offer.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}}s:27:\"PremierAddOnOfferCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Collection
  of premier add-on offers.\";s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PremierAddOnOffer\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:24:\"ResourceNameAvailability\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Information
  regarding availbility of a resource name.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"nameAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"<code>true</code>
  indicates name is valid and available. <code>false</code> indicates the name is
  invalid, unavailable, or both.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"reason\";O:8:\"stdClass\":4:{s:11:\"description\";s:201:\"<code>Invalid</code>
  indicates the name provided does not match Azure App Service naming requirements.
  <code>AlreadyExists</code> indicates that the name is already in use and is therefore
  unavailable.\";s:4:\"enum\";a:2:{i:0;s:7:\"Invalid\";i:1;s:13:\"AlreadyExists\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"InAvailabilityReasonType\";s:13:\"modelAsString\";b:1;}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:290:\"If
  reason == invalid, provide the user with the reason why the given name is invalid,
  and provide the resource naming requirements so that the user can select a valid
  name. If reason == AlreadyExists, explain that resource name is already in use,
  and direct them to select a different name.\";s:4:\"type\";s:6:\"string\";}}}s:31:\"ResourceNameAvailabilityRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Resource
  name availability request content.\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Resource
  name to verify.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Resource
  type used for verification.\";s:4:\"enum\";a:8:{i:0;s:4:\"Site\";i:1;s:4:\"Slot\";i:2;s:18:\"HostingEnvironment\";i:3;s:14:\"PublishingUser\";i:4;s:19:\"Microsoft.Web/sites\";i:5;s:25:\"Microsoft.Web/sites/slots\";i:6;s:33:\"Microsoft.Web/hostingEnvironments\";i:7;s:29:\"Microsoft.Web/publishingUsers\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"CheckNameResourceTypes\";s:13:\"modelAsString\";b:1;}}s:6:\"isFqdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Is
  fully qualified domain name.\";s:4:\"type\";s:7:\"boolean\";}}}s:8:\"SkuInfos\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Collection
  of SKU information.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"resourceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Resource
  type that this SKU applies to.\";s:4:\"type\";s:6:\"string\";}s:4:\"skus\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"List
  of SKUs the subscription is able to use.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GlobalCsmSkuDescription\";}}}}s:13:\"SourceControl\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"The
  source control OAuth token.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"./CommonDefinitions.json#/definitions/ProxyOnlyResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"SourceControl
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"OAuth
  access token.\";s:4:\"type\";s:6:\"string\";}s:11:\"tokenSecret\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"OAuth
  access token secret.\";s:4:\"type\";s:6:\"string\";}s:12:\"refreshToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"OAuth
  refresh token.\";s:4:\"type\";s:6:\"string\";}s:14:\"expirationTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:23:\"OAuth
  token expiration.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}}s:23:\"SourceControlCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Collection
  of source controls.\";s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SourceControl\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:18:\"ValidateProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"App
  properties used for validation.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"serverFarmId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"ARM
  resource ID of an App Service plan that would host the app.\";s:4:\"type\";s:6:\"string\";}s:7:\"skuName\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Name
  of the target SKU for the App Service plan.\";s:4:\"type\";s:6:\"string\";}s:16:\"needLinuxWorkers\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"<code>true</code>
  if App Service plan is for Linux workers; otherwise, <code>false</code>.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"isSpot\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"<code>true</code>
  if App Service plan is for Spot instances; otherwise, <code>false</code>.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"capacity\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:57:\"Target
  capacity of the App Service plan (number of VM's).\";s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:18:\"hostingEnvironment\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Name
  of App Service Environment where app or App Service plan should be created.\";s:4:\"type\";s:6:\"string\";}s:7:\"isXenon\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"<code>true</code>
  if App Service plan is running as a windows container\";s:4:\"type\";s:7:\"boolean\";}}}s:15:\"ValidateRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Resource
  validation request content.\";s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:8:\"location\";i:3;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Resource
  name to verify.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Resource
  type used for verification.\";s:4:\"enum\";a:2:{i:0;s:10:\"ServerFarm\";i:1;s:4:\"Site\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"ValidateResourceTypes\";s:13:\"modelAsString\";b:1;}}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Expected
  location of the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/ValidateProperties\";s:11:\"description\";s:39:\"Properties
  of the resource to validate.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:16:\"ValidateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Describes
  the result of resource validation.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Result
  of validation.\";s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ValidateResponseError\";s:11:\"description\";s:49:\"Error
  details for the case when validation fails.\";}}}s:21:\"ValidateResponseError\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Error
  details for when validation fails.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Validation
  error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Validation
  error message.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"VnetParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  required set of inputs to validate a VNET\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"./CommonDefinitions.json#/definitions/ProxyOnlyResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"VnetParameters
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"vnetResourceGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  Resource Group of the VNET to be validated\";s:4:\"type\";s:6:\"string\";}s:8:\"vnetName\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  name of the VNET to be validated\";s:4:\"type\";s:6:\"string\";}s:14:\"vnetSubnetName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  subnet name to be validated\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}}s:28:\"VnetValidationFailureDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"A
  class that describes the reason for a validation failure.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"./CommonDefinitions.json#/definitions/ProxyOnlyResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"VnetValidationFailureDetails
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"failed\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"A
  flag describing whether or not validation failed.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"failedTests\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"A
  list of tests that failed in the validation.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/VnetValidationTestFailure\";}}}s:19:\"x-ms-client-flatten\";b:1;}}}s:25:\"VnetValidationTestFailure\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"A
  class that describes a test that failed during NSG and UDR validation.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"./CommonDefinitions.json#/definitions/ProxyOnlyResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"VnetValidationTestFailure
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"testName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  name of the test that failed.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  details of what caused the failure, e.g. the blocking rule name, etc.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}}}"
...
