---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2019-04-01\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}:
    delete:
      tags:
      - BastionHosts
      operationId: BastionHosts_Delete
      description: Deletes the specified Bastion Host.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: bastionHostName
        in: path
        required: true
        type: string
        description: The name of the Bastion Host.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        202:
          description: Accepted and the operation will complete asynchronously.
        204:
          description: Request successful. Resource with the specified name does not
            exist.
        200:
          description: Delete successful.
      x-ms-examples:
        Delete Bastion Host:
          $ref: ./examples/BastionHostDelete.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      tags:
      - BastionHosts
      operationId: BastionHosts_Get
      description: Gets the specified Bastion Host.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: bastionHostName
        in: path
        required: true
        type: string
        description: The name of the Bastion Host.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns an BastionHost resource.
          schema:
            $ref: '#/definitions/BastionHost'
      x-ms-examples:
        Get Bastion Host:
          $ref: ./examples/BastionHostGet.json
    put:
      tags:
      - BastionHosts
      operationId: BastionHosts_CreateOrUpdate
      description: Creates or updates the specified Bastion Host.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: bastionHostName
        in: path
        required: true
        type: string
        description: The name of the Bastion Host.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/BastionHost'
        description: Parameters supplied to the create or update Bastion Host operation.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: Create successful. The operation returns the resulting Bastion
            Host resource.
          schema:
            $ref: '#/definitions/BastionHost'
        200:
          description: Update successful. The operation returns the resulting Bastion
            Host resource.
          schema:
            $ref: '#/definitions/BastionHost'
      x-ms-examples:
        Create Bastion Host:
          $ref: ./examples/BastionHostPut.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/bastionHosts:
    get:
      tags:
      - BastionHosts
      operationId: BastionHosts_List
      description: Lists all Bastion Hosts in a subscription.
      parameters:
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Success. The operation returns a list of Bastion Host resources.
          schema:
            $ref: '#/definitions/BastionHostListResult'
      x-ms-examples:
        List all Bastion Hosts for a given subscription:
          $ref: ./examples/BastionHostListBySubscription.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts:
    get:
      tags:
      - BastionHosts
      operationId: BastionHosts_ListByResourceGroup
      description: Lists all Bastion Hosts in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Success. The operation returns a list of BastionHost resources.
          schema:
            $ref: '#/definitions/BastionHostListResult'
      x-ms-examples:
        List all Bastion Hosts for a given resource group:
          $ref: ./examples/BastionHostListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:42:\"BastionHostIPConfigurationPropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:33:\"Reference
  of the subnet resource.\";}s:15:\"publicIPAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:35:\"Reference
  of the PublicIP resource.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  provisioning state of the resource.\";s:4:\"$ref\";s:45:\"./network.json#/definitions/ProvisioningState\";}s:25:\"privateIPAllocationMethod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"./network.json#/definitions/IPAllocationMethod\";s:11:\"description\";s:29:\"Private
  IP allocation method.\";}}s:8:\"required\";a:2:{i:0;s:6:\"subnet\";i:1;s:15:\"publicIPAddress\";}s:11:\"description\";s:50:\"Properties
  of IP configuration of an Bastion Host.\";}s:26:\"BastionHostIPConfiguration\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:56:\"#/definitions/BastionHostIPConfigurationPropertiesFormat\";s:11:\"description\";s:61:\"Represents
  the ip configuration associated with the resource.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:106:\"Name
  of the resource that is unique within a resource group. This name can be used to
  access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Ip
  configuration type.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}}s:11:\"description\";s:36:\"IP
  configuration of an Bastion Host.\";}s:27:\"BastionHostPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"ipConfigurations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BastionHostIPConfiguration\";}s:11:\"description\";s:46:\"IP
  configuration of the Bastion Host resource.\";}s:7:\"dnsName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"FQDN
  for the endpoint on which bastion host is accessible.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  provisioning state of the resource.\";s:4:\"$ref\";s:45:\"./network.json#/definitions/ProvisioningState\";}}s:11:\"description\";s:31:\"Properties
  of the Bastion Host.\";}s:11:\"BastionHost\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:41:\"#/definitions/BastionHostPropertiesFormat\";s:11:\"description\";s:37:\"Represents
  the bastion host resource.\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:77:\"Gets
  a unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"./network.json#/definitions/Resource\";}}s:11:\"description\";s:22:\"Bastion
  Host resource.\";}s:21:\"BastionHostListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BastionHost\";}s:11:\"description\";s:42:\"List
  of Bastion Hosts in a resource group.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"URL
  to get the next set of results.\";}}s:11:\"description\";s:47:\"Response for ListBastionHosts
  API service call.\";}}"
...
