---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:28:\"The AAD Domain
  Services API.\";s:5:\"title\";s:33:\"Domain Services Resource Provider\";s:7:\"version\";s:10:\"2017-06-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:165:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-06-01/domainservices.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:14:\"domainservices\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"azure_domainservices\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:13:\"DomainService\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:15:\"Domain
  service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/DomainServiceProperties\";s:11:\"description\";s:25:\"Domain
  service properties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:23:\"DomainServiceListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  response from the List Domain Services operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"the
  list of domain services.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DomainService\";}s:4:\"type\";s:5:\"array\";}}}s:28:\"DomainServicePatchProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Update
  Properties of the Domain Service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ldapsSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LdapsSettings\";s:11:\"description\";s:20:\"Secure
  LDAP Settings\";}}}s:23:\"DomainServiceProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Properties
  of the Domain Service.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:25:\"domainControllerIpAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"List
  of Domain Controller IP Address\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Domain
  Controller IP Address\";s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:10:\"domainName\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  name of the Azure domain that the user would like to deploy Domain Services to.\";s:4:\"type\";s:6:\"string\";}s:13:\"ldapsSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LdapsSettings\";s:11:\"description\";s:20:\"Secure
  LDAP Settings\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"the
  current deployment or provisioning state, which only appears in the response.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"serviceStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Status
  of Domain Service instance\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"subnetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"The
  name of the virtual network that Domain Services will be deployed on. The id of
  the subnet that Domain Services will be deployed on. /virtualNetwork/vnetName/subnets/subnetName.\";s:4:\"type\";s:6:\"string\";}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Azure
  Active Directory tenant id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"vnetSiteId\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Virtual
  network site id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:13:\"LdapsSettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Secure
  LDAP Settings\";s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"certificateNotAfter\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"NotAfter
  DateTime of configure ldaps certificate.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:21:\"certificateThumbprint\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Thumbprint
  of configure ldaps certificate.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"externalAccess\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"A
  flag to determine whether or not Secure LDAP access over the internet is enabled
  or disabled.\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:14:\"ExternalAccess\";}}s:23:\"externalAccessIpAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"External
  access ip address.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"ldaps\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"A
  flag to determine whether or not Secure LDAP is enabled or disabled.\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:5:\"Ldaps\";}}s:14:\"pfxCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"The
  certificate required to configure Secure LDAP. The parameter passed here should
  be a base64encoded representation of the certificate pfx file.\";s:4:\"type\";s:6:\"string\";}s:22:\"pfxCertificatePassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  password to decrypt the provided Secure LDAP certificate pfx file.\";s:4:\"type\";s:6:\"string\";}s:17:\"publicCertificate\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Public
  certificate used to configure secure ldap.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:20:\"OperationDisplayInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  operation supported by Domain Services.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  description of the operation.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  action that users can perform, based on their permission level.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Service
  provider: Domain Services.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Resource
  on which the operation is performed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"OperationEntity\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  operation supported by Domain Services.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"display\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/OperationDisplayInfo\";s:11:\"description\";s:43:\"The
  operation supported by Domain Services.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Operation
  name: {provider}/{resource}/{operation}.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  origin of the operation.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"OperationEntityListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  list of domain service operation response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  list of operations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OperationEntity\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Resource
  etag\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Resource
  Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}}"
...
