---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:26:\"Recommendations API Client\";s:7:\"version\";s:10:\"2016-03-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:155:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/Recommendations.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:19:\"web-Recommendations\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"azure_web_recommendations\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations:
    get:
      description: List all recommendations for a subscription.
      operationId: Recommendations_List
      parameters:
      - description: Specify <code>true</code> to return only the most critical recommendations.
          The default is <code>false</code>, which returns all recommendations.
        in: query
        name: featured
        type: boolean
      - description: 'Filter is specified by using OData syntax. Example: $filter=channels
          eq ''Api'' or channel eq ''Notification'' and startTime eq ''2014-01-01T00:00:00Z''
          and endTime eq ''2014-12-31T23:59:59Z'' and timeGrain eq duration''[PT1H|PT1M|P1D]'
        in: query
        name: $filter
        type: string
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RecommendationCollection'
      summary: List all recommendations for a subscription.
      tags:
      - Recommendations
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations/reset:
    post:
      description: Reset all recommendation opt-out settings for a subscription.
      operationId: Recommendations_ResetAllFilters
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: No Content
      summary: Reset all recommendation opt-out settings for a subscription.
      tags:
      - Recommendations
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations/{name}/disable:
    post:
      description: Disables the specified rule so it will not apply to a subscription
        in the future.
      operationId: Recommendations_DisableRecommendationForSubscription
      parameters:
      - description: Rule name
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Successfully disabled recommendations.
      summary: Disables the specified rule so it will not apply to a subscription
        in the future.
      tags:
      - Recommendations
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendationHistory
  : get:
      description: Get past recommendations for an app, optionally specified by the
        time range.
      operationId: Recommendations_ListHistoryForWebApp
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the app.
        in: path
        name: siteName
        required: true
        type: string
      - description: 'Filter is specified by using OData syntax. Example: $filter=channels
          eq ''Api'' or channel eq ''Notification'' and startTime eq ''2014-01-01T00:00:00Z''
          and endTime eq ''2014-12-31T23:59:59Z'' and timeGrain eq duration''[PT1H|PT1M|P1D]'
        in: query
        name: $filter
        type: string
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RecommendationCollection'
      summary: Get past recommendations for an app, optionally specified by the time
        range.
      tags:
      - Recommendations
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations:
    get:
      description: Get all recommendations for an app.
      operationId: Recommendations_ListRecommendedRulesForWebApp
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the app.
        in: path
        name: siteName
        required: true
        type: string
      - description: Specify <code>true</code> to return only the most critical recommendations.
          The default is <code>false</code>, which returns all recommendations.
        in: query
        name: featured
        type: boolean
      - description: 'Return only channels specified in the filter. Filter is specified
          by using OData syntax. Example: $filter=channels eq ''Api'' or channel eq
          ''Notification'''
        in: query
        name: $filter
        type: string
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RecommendationCollection'
      summary: Get all recommendations for an app.
      tags:
      - Recommendations
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/disable
  : post:
      description: Disable all recommendations for an app.
      operationId: Recommendations_DisableAllForWebApp
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the app.
        in: path
        name: siteName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: No Content
      summary: Disable all recommendations for an app.
      tags:
      - Recommendations
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/reset
  : post:
      description: Reset all recommendation opt-out settings for an app.
      operationId: Recommendations_ResetAllFiltersForWebApp
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the app.
        in: path
        name: siteName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: No Content
      summary: Reset all recommendation opt-out settings for an app.
      tags:
      - Recommendations
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/{name}
  : get:
      description: Get a recommendation rule for an app.
      operationId: Recommendations_GetRuleDetailsByWebApp
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the app.
        in: path
        name: siteName
        required: true
        type: string
      - description: Name of the recommendation.
        in: path
        name: name
        required: true
        type: string
      - description: Specify <code>true</code> to update the last-seen timestamp of
          the recommendation object.
        in: query
        name: updateSeen
        type: boolean
      - description: The GUID of the recommedation object if you query an expired
          one. You don't need to specify it to query an active entry.
        in: query
        name: recommendationId
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RecommendationRule'
      summary: Get a recommendation rule for an app.
      tags:
      - Recommendations
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/recommendations/{name}/disable
  : post:
      description: Disables the specific rule for a web site permanently.
      operationId: Recommendations_DisableRecommendationForSite
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site name
        in: path
        name: siteName
        required: true
        type: string
      - description: Rule name
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Successfully disabled recommendations.
      summary: Disables the specific rule for a web site permanently.
      tags:
      - Recommendations
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:14:\"Recommendation\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:74:\"Represents
  a recommendation result generated by the recommendation engine.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Recommendation
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":21:{s:10:\"actionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Name
  of action recommended by this object.\";s:4:\"type\";s:6:\"string\";}s:9:\"bladeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Deep
  link to a blade on the portal.\";s:4:\"type\";s:6:\"string\";}s:8:\"channels\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"List
  of channels that this recommendation can apply.\";s:4:\"enum\";a:5:{i:0;s:12:\"Notification\";i:1;s:3:\"Api\";i:2;s:5:\"Email\";i:3;s:7:\"Webhook\";i:4;s:3:\"All\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:8:\"Channels\";}}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Timestamp
  when this instance was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"UI
  friendly name of the rule (may not be unique).\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  end time in UTC of a range that the recommendation refers to.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"extensionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Extension
  name of the portal if exists.\";s:4:\"type\";s:6:\"string\";}s:11:\"forwardLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Forward
  link to an external document associated with the rule.\";s:4:\"type\";s:6:\"string\";}s:9:\"isDynamic\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"True
  if this is associated with a dynamically added rule\";s:4:\"type\";s:7:\"boolean\";}s:5:\"level\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Level
  indicating how critical this recommendation can impact.\";s:4:\"enum\";a:4:{i:0;s:8:\"Critical\";i:1;s:7:\"Warning\";i:2;s:11:\"Information\";i:3;s:19:\"NonUrgentSuggestion\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"NotificationLevel\";}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Recommendation
  text.\";s:4:\"type\";s:6:\"string\";}s:20:\"nextNotificationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"When
  to notify this recommendation next in UTC. Null means that this will never be notified
  anymore.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:26:\"notificationExpirationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Date
  and time in UTC when this notification expires.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"notifiedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"Last
  timestamp in UTC this instance was actually notified. Null means that this recommendation
  hasn't been notified yet.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"recommendationId\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"A
  GUID value that each recommendation object is associated with.\";s:7:\"example\";s:36:\"00000000-0000-0000-0000-000000000000\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Full
  ARM resource ID string that this recommendation object is associated with.\";s:4:\"type\";s:6:\"string\";}s:13:\"resourceScope\";O:8:\"stdClass\":4:{s:11:\"description\";s:89:\"Name
  of a resource type this recommendation applies, e.g. Subscription, ServerFarm, Site.\";s:4:\"enum\";a:3:{i:0;s:10:\"ServerFarm\";i:1;s:12:\"Subscription\";i:2;s:7:\"WebSite\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"ResourceScopeType\";}}s:8:\"ruleName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Unique
  name of the rule.\";s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"A
  metric value measured by the rule.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  beginning time in UTC of a range that the recommendation refers to.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  list of category tags that this recommendation belongs to.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:24:\"RecommendationCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Collection
  of recommendations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Recommendation\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:18:\"RecommendationRule\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:76:\"Represents
  a recommendation rule that the recommendation engine can perform.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"RecommendationRule
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"actionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Name
  of action that is recommended by this rule in string.\";s:4:\"type\";s:6:\"string\";}s:9:\"bladeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Deep
  link to a blade on the portal. Applicable to dynamic rule only.\";s:4:\"type\";s:6:\"string\";}s:8:\"channels\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"List
  of available channels that this rule applies.\";s:4:\"enum\";a:5:{i:0;s:12:\"Notification\";i:1;s:3:\"Api\";i:2;s:5:\"Email\";i:3;s:7:\"Webhook\";i:4;s:3:\"All\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:8:\"Channels\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Localized
  detailed description of the rule.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"UI
  friendly name of the rule.\";s:4:\"type\";s:6:\"string\";}s:13:\"extensionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Extension
  name of the portal if exists. Applicable to dynamic rule only.\";s:4:\"type\";s:6:\"string\";}s:11:\"forwardLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Forward
  link to an external document associated with the rule. Applicable to dynamic rule
  only.\";s:4:\"type\";s:6:\"string\";}s:9:\"isDynamic\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"True
  if this is associated with a dynamically added rule\";s:4:\"type\";s:7:\"boolean\";}s:5:\"level\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Level
  of impact indicating how critical this rule is.\";s:4:\"enum\";a:4:{i:0;s:8:\"Critical\";i:1;s:7:\"Warning\";i:2;s:11:\"Information\";i:3;s:19:\"NonUrgentSuggestion\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"NotificationLevel\";}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Localized
  name of the rule (Good for UI).\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Unique
  name of the rule.\";s:4:\"type\";s:6:\"string\";}s:16:\"recommendationId\";O:8:\"stdClass\":4:{s:11:\"description\";s:137:\"Recommendation
  ID of an associated recommendation object tied to the rule, if exists.\nIf such
  an object doesn't exist, it is set to null.\";s:7:\"example\";s:36:\"00000000-0000-0000-0000-000000000000\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"An
  array of category tags that the rule contains.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}}"
...
