---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:280:\"The Microsoft
  Azure Network management API provides a RESTful set of web services that interact
  with Microsoft Azure Networks service to manage your network resources. The API
  has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:5:\"title\";s:23:\"NetworkManagementClient\";s:7:\"version\";s:10:\"2018-08-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:168:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/azureFirewallFqdnTag.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:28:\"network-azureFirewallFqdnTag\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:20:\"AzureFirewallFqdnTag\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:32:\"Azure
  Firewall FQDN Tag Resource\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Gets
  a unique read-only string that changes whenever the resource is updated.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/AzureFirewallFqdnTagPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:30:\"AzureFirewallFqdnTagListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Response
  for ListAzureFirewallFqdnTags API service call.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"URL
  to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"List
  of Azure Firewall FQDN Tags in a resource group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AzureFirewallFqdnTag\";}s:4:\"type\";s:5:\"array\";}}}s:36:\"AzureFirewallFqdnTagPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Azure
  Firewall FQDN Tag Properties\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"fqdnTagName\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  name of this FQDN Tag.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  provisioning state of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}}"
...
