---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"ApiManagementClient\";s:11:\"description\";s:111:\"Use
  these REST APIs for querying APIs. Operations and Products by tags in your Azure
  API Management deployment.\";s:7:\"version\";s:10:\"2017-03-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tagResources
  : get:
      tags:
      - TagResources
      operationId: TagResource_ListByService
      description: Lists a collection of resources associated with tags.
      x-ms-examples:
        ApiManagementListTagResources:
          $ref: ./examples/ApiManagementListTagResources.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions                         |n|-------------|------------------------|---------------------------------------------|n|
          id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |n| name        | ge, le, eq, ne, gt, lt | substringof, contains,
          startswith, endswith |n| aid         | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |n| apiName     | ge, le, eq, ne, gt, lt
          | substringof, contains, startswith, endswith |n| apiRevision | ge, le,
          eq, ne, gt, lt | substringof, contains, startswith, endswith |n| path        |
          ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |n|
          description | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |n| serviceUrl  | ge, le, eq, ne, gt, lt | substringof, contains,
          startswith, endswith |n| method      | ge, le, eq, ne, gt, lt | substringof,
          contains, startswith, endswith |n| urlTemplate | ge, le, eq, ne, gt, lt
          | substringof, contains, startswith, endswith |n| terms       | ge, le,
          eq, ne, gt, lt | substringof, contains, startswith, endswith |n| state       |
          ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |n|
          isCurrent   | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Lists a collection of TagResource entities.
          schema:
            $ref: '#/definitions/TagResourceCollection'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/TagResourceContract'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:21:\"TagResourceCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/TagResourceContract\";}s:11:\"description\";s:12:\"Page
  values.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:30:\"Paged Tag list representation.\";}s:19:\"TagResourceContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:43:\"#/definitions/TagResourceContractProperties\";s:11:\"description\";s:39:\"TagResource
  entity contract properties.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"./apimanagement.json#/definitions/Resource\";}}s:11:\"description\";s:17:\"Contract
  details.\";}s:29:\"TagResourceContractProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"tag\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"./apimtags.json#/definitions/TagContract\";s:11:\"description\";s:33:\"Tag
  associated with the resource.\";}s:3:\"api\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"./apimapis.json#/definitions/ApiContract\";s:11:\"description\";s:28:\"Api
  associated with the tag.\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/OperationEntityContract\";s:11:\"description\";s:28:\"Api
  associated with the tag.\";}s:7:\"product\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"./apimproducts.json#/definitions/ProductContract\";s:11:\"description\";s:32:\"Product
  associated with the tag.\";}}s:11:\"description\";s:32:\"TagResource contract properties.\";}s:23:\"OperationEntityContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:47:\"#/definitions/OperationEntityContractProperties\";s:11:\"description\";s:37:\"Operation
  entity contract properties.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"./apimanagement.json#/definitions/Resource\";}}s:11:\"description\";s:37:\"Operation
  Entity Contract Properties.\";}s:33:\"OperationEntityContractProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Operation
  name.\";s:8:\"readOnly\";b:1;}s:7:\"apiName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Api
  Name.\";s:8:\"readOnly\";b:1;}s:11:\"apiRevision\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Api
  Revision.\";s:8:\"readOnly\";b:1;}s:10:\"apiVersion\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Api
  Version.\";s:8:\"readOnly\";b:1;}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Operation
  Description.\";s:8:\"readOnly\";b:1;}s:6:\"method\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"A
  Valid HTTP Operation Method. Typical Http Methods like GET, PUT, POST but not limited
  by only them.\";s:12:\"externalDocs\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"As
  defined by RFC.\";s:3:\"url\";s:41:\"http://www.rfc-editor.org/rfc/rfc7230.txt\";}s:8:\"readOnly\";b:1;}s:11:\"urlTemplate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:149:\"Relative
  URL template identifying the target resource for this operation. May include parameters.
  Example: /customers/{cid}/orders/{oid}/?date={date}\";s:8:\"readOnly\";b:1;}}s:11:\"description\";s:37:\"Operation
  Entity contract Properties.\";}}"
...
