---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2017-03-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}
  : put:
      tags:
      - VirtualNetworkGateways
      operationId: VirtualNetworkGateways_CreateOrUpdate
      description: Creates or updates a virtual network gateway in the specified resource
        group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualNetworkGatewayName
        in: path
        required: true
        type: string
        description: The name of the virtual network gateway.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/VirtualNetworkGateway'
        description: Parameters supplied to create or update virtual network gateway
          operation.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Update successful. The operation returns the resulting VirtualNetworkGateway
            resource.
          schema:
            $ref: '#/definitions/VirtualNetworkGateway'
        201:
          description: Create successful. The operation returns the resulting VirtualNetworkGateway
            resource.
          schema:
            $ref: '#/definitions/VirtualNetworkGateway'
      x-ms-long-running-operation: true
    get:
      tags:
      - VirtualNetworkGateways
      operationId: VirtualNetworkGateways_Get
      description: Gets the specified virtual network gateway by resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualNetworkGatewayName
        in: path
        required: true
        type: string
        description: The name of the virtual network gateway.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a VirtualNetworkGateway
            resource.
          schema:
            $ref: '#/definitions/VirtualNetworkGateway'
    delete:
      tags:
      - VirtualNetworkGateways
      operationId: VirtualNetworkGateways_Delete
      description: Deletes the specified virtual network gateway.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualNetworkGatewayName
        in: path
        required: true
        type: string
        description: The name of the virtual network gateway.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: Delete successful.
        202:
          description: Accepted and the operation will complete asynchronously.
        200:
          description: Delete successful.
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways:
    get:
      tags:
      - VirtualNetworkGateways
      operationId: VirtualNetworkGateways_List
      description: Gets all virtual network gateways by resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of VirtualNetworkGateway
            resources.
          schema:
            $ref: '#/definitions/VirtualNetworkGatewayListResult'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/reset
  : post:
      tags:
      - VirtualNetworkGateways
      operationId: VirtualNetworkGateways_Reset
      description: Resets the primary of the virtual network gateway in the specified
        resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualNetworkGatewayName
        in: path
        required: true
        type: string
        description: The name of the virtual network gateway.
      - name: gatewayVip
        in: query
        required: false
        type: string
        description: Virtual network gateway vip address supplied to the begin reset
          of the active-active feature enabled gateway.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        202:
          description: Accepted and the operation will complete asynchronously.
        200:
          description: Request successful. The operation reset the primary of the
            virtual network gateway.
          schema:
            $ref: '#/definitions/VirtualNetworkGateway'
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnclientpackage
  : post:
      tags:
      - VirtualNetworkGateways
      operationId: VirtualNetworkGateways_Generatevpnclientpackage
      description: Generates VPN client package for P2S client of the virtual network
        gateway in the specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualNetworkGatewayName
        in: path
        required: true
        type: string
        description: The name of the virtual network gateway.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/VpnClientParameters'
        description: Parameters supplied to the generate virtual network gateway VPN
          client package operation.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        202:
          description: VPN client package URL.
          schema:
            type: string
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getBgpPeerStatus
  : post:
      tags:
      - VirtualNetworkGateways
      operationId: VirtualNetworkGateways_GetBgpPeerStatus
      description: The GetBgpPeerStatus operation retrieves the status of all BGP
        peers.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualNetworkGatewayName
        in: path
        required: true
        type: string
        description: The name of the virtual network gateway.
      - name: peer
        in: query
        required: false
        type: string
        description: The IP address of the peer to retrieve the status of.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: List of BGP peer statuses
          schema:
            $ref: '#/definitions/BgpPeerStatusListResult'
        202:
          description: Accepted and the operation will complete asynchronously.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getLearnedRoutes
  : post:
      tags:
      - VirtualNetworkGateways
      operationId: VirtualNetworkGateways_GetLearnedRoutes
      description: This operation retrieves a list of routes the virtual network gateway
        has learned, including routes learned from BGP peers.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualNetworkGatewayName
        in: path
        required: true
        type: string
        description: The name of the virtual network gateway.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: List of advertised BGP routes
          schema:
            $ref: '#/definitions/GatewayRouteListResult'
        202:
          description: Accepted and the operation will complete asynchronously.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getAdvertisedRoutes
  : post:
      tags:
      - VirtualNetworkGateways
      operationId: VirtualNetworkGateways_GetAdvertisedRoutes
      description: This operation retrieves a list of routes the virtual network gateway
        is advertising to the specified peer.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualNetworkGatewayName
        in: path
        required: true
        type: string
        description: The name of the virtual network gateway.
      - name: peer
        in: query
        required: true
        type: string
        description: The IP address of the peer
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: List of learned BGP routes
          schema:
            $ref: '#/definitions/GatewayRouteListResult'
        202:
          description: Accepted and the operation will complete asynchronously.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}
  : put:
      tags:
      - VirtualNetworkGatewayConnections
      operationId: VirtualNetworkGatewayConnections_CreateOrUpdate
      description: Creates or updates a virtual network gateway connection in the
        specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualNetworkGatewayConnectionName
        in: path
        required: true
        type: string
        description: The name of the virtual network gateway connection.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/VirtualNetworkGatewayConnection'
        description: Parameters supplied to the create or update virtual network gateway
          connection operation.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Update successful. The operation returns the resulting VirtualNetworkGatewayConnection
            resource.
          schema:
            $ref: '#/definitions/VirtualNetworkGatewayConnection'
        201:
          description: Create successful. The operation returns the resulting VirtualNetworkGatewayConnection
            resource.
          schema:
            $ref: '#/definitions/VirtualNetworkGatewayConnection'
      x-ms-long-running-operation: true
    get:
      tags:
      - VirtualNetworkGatewayConnections
      operationId: VirtualNetworkGatewayConnections_Get
      description: Gets the specified virtual network gateway connection by resource
        group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualNetworkGatewayConnectionName
        in: path
        required: true
        type: string
        description: The name of the virtual network gateway connection.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the resulting VirtualNetworkPeering
            resource.
          schema:
            $ref: '#/definitions/VirtualNetworkGatewayConnection'
    delete:
      tags:
      - VirtualNetworkGatewayConnections
      operationId: VirtualNetworkGatewayConnections_Delete
      description: Deletes the specified virtual network Gateway connection.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualNetworkGatewayConnectionName
        in: path
        required: true
        type: string
        description: The name of the virtual network gateway connection.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Delete successful.
        202:
          description: Accepted and the operation will complete asynchronously.
        204:
          description: Delete successful.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey
  : put:
      tags:
      - VirtualNetworkGatewayConnections
      operationId: VirtualNetworkGatewayConnections_SetSharedKey
      description: The Put VirtualNetworkGatewayConnectionSharedKey operation sets
        the virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network resource
        provider.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualNetworkGatewayConnectionName
        in: path
        required: true
        type: string
        description: The virtual network gateway connection name.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ConnectionSharedKey'
        description: Parameters supplied to the Begin Set Virtual Network Gateway
          connection Shared key operation throughNetwork resource provider.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        201:
          description: ""
          schema:
            $ref: '#/definitions/ConnectionSharedKey'
        200:
          description: Request successful. The operation returns the resulting ConnectionSharedKey
            resource.
          schema:
            $ref: '#/definitions/ConnectionSharedKey'
      x-ms-long-running-operation: true
    get:
      tags:
      - VirtualNetworkGatewayConnections
      operationId: VirtualNetworkGatewayConnections_GetSharedKey
      description: The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves
        information about the specified virtual network gateway connection shared
        key through Network resource provider.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualNetworkGatewayConnectionName
        in: path
        required: true
        type: string
        description: The virtual network gateway connection shared key name.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of VirtualNetworkGatewayConnection
            resources.
          schema:
            $ref: '#/definitions/ConnectionSharedKey'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections:
    get:
      tags:
      - VirtualNetworkGatewayConnections
      operationId: VirtualNetworkGatewayConnections_List
      description: The List VirtualNetworkGatewayConnections operation retrieves all
        the virtual network gateways connections created.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation resets the virtual network
            gateway connection shared key.
          schema:
            $ref: '#/definitions/VirtualNetworkGatewayConnectionListResult'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset
  : post:
      tags:
      - VirtualNetworkGatewayConnections
      operationId: VirtualNetworkGatewayConnections_ResetSharedKey
      description: The VirtualNetworkGatewayConnectionResetSharedKey operation resets
        the virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network resource
        provider.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualNetworkGatewayConnectionName
        in: path
        required: true
        type: string
        description: The virtual network gateway connection reset shared key Name.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ConnectionResetSharedKey'
        description: Parameters supplied to the begin reset virtual network gateway
          connection shared key operation through network resource provider.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation sets the virtual network
            gateway connection shared key.
          schema:
            $ref: '#/definitions/ConnectionResetSharedKey'
        202:
          description: ""
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}
  : put:
      tags:
      - LocalNetworkGateways
      operationId: LocalNetworkGateways_CreateOrUpdate
      description: Creates or updates a local network gateway in the specified resource
        group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: localNetworkGatewayName
        in: path
        required: true
        minLength: 1
        type: string
        description: The name of the local network gateway.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/LocalNetworkGateway'
        description: Parameters supplied to the create or update local network gateway
          operation.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        201:
          description: Create successful. The operation returns the resulting LocalNetworkGateway
            resource.
          schema:
            $ref: '#/definitions/LocalNetworkGateway'
        200:
          description: Update successful. The operation returns the resulting LocalNetworkGateway
            resource.
          schema:
            $ref: '#/definitions/LocalNetworkGateway'
      x-ms-long-running-operation: true
    get:
      tags:
      - LocalNetworkGateways
      operationId: LocalNetworkGateways_Get
      description: Gets the specified local network gateway in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: localNetworkGatewayName
        in: path
        required: true
        minLength: 1
        type: string
        description: The name of the local network gateway.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the resulting LocalNetworkGateway
            resource.
          schema:
            $ref: '#/definitions/LocalNetworkGateway'
    delete:
      tags:
      - LocalNetworkGateways
      operationId: LocalNetworkGateways_Delete
      description: Deletes the specified local network gateway.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: localNetworkGatewayName
        in: path
        required: true
        minLength: 1
        type: string
        description: The name of the local network gateway.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: Delete successful.
        200:
          description: Delete successful.
        202:
          description: Accepted and the operation will complete asynchronously.
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways:
    get:
      tags:
      - LocalNetworkGateways
      operationId: LocalNetworkGateways_List
      description: Gets all the local network gateways in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of LocalNetworkGateway
            resources.
          schema:
            $ref: '#/definitions/LocalNetworkGatewayListResult'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":27:{s:52:\"VirtualNetworkGatewayIPConfigurationPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:25:\"privateIPAllocationMethod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"The
  private IP allocation method. Possible values are: 'Static' and 'Dynamic'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"IPAllocationMethod\";s:13:\"modelAsString\";b:1;}}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:37:\"The
  reference of the subnet resource.\";}s:15:\"publicIPAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:40:\"The
  reference of the public IP resource.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";}}s:11:\"description\";s:50:\"Properties of VirtualNetworkGatewayIPConfiguration\";}s:36:\"VirtualNetworkGatewayIPConfiguration\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:66:\"#/definitions/VirtualNetworkGatewayIPConfigurationPropertiesFormat\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}}s:11:\"description\";s:44:\"IP
  configuration for virtual network gateway\";}s:37:\"VirtualNetworkGatewayPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:16:\"ipConfigurations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/VirtualNetworkGatewayIPConfiguration\";}s:11:\"description\";s:46:\"IP
  configurations for virtual network gateway.\";}s:11:\"gatewayType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"The
  type of this virtual network gateway. Possible values are: 'Vpn' and 'ExpressRoute'.\";s:4:\"enum\";a:2:{i:0;s:3:\"Vpn\";i:1;s:12:\"ExpressRoute\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"VirtualNetworkGatewayType\";s:13:\"modelAsString\";b:1;}}s:7:\"vpnType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:94:\"The
  type of this virtual network gateway. Possible values are: 'PolicyBased' and 'RouteBased'.\";s:4:\"enum\";a:2:{i:0;s:11:\"PolicyBased\";i:1;s:10:\"RouteBased\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"VpnType\";s:13:\"modelAsString\";b:1;}}s:9:\"enableBgp\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:63:\"Whether
  BGP is enabled for this virtual network gateway or not.\";}s:12:\"activeActive\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:17:\"ActiveActive
  flag\";}s:18:\"gatewayDefaultSite\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:177:\"The
  reference of the LocalNetworkGateway resource which represents local network site
  having default routes. Assign Null value in case of removing existing default site
  setting.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/VirtualNetworkGatewaySku\";s:11:\"description\";s:117:\"The
  reference of the VirtualNetworkGatewaySku resource which represents the SKU selected
  for Virtual network gateway.\";}s:22:\"vpnClientConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/VpnClientConfiguration\";s:11:\"description\";s:103:\"The
  reference of the VpnClientConfiguration resource which represents the P2S VpnClient
  configurations.\";}s:11:\"bgpSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BgpSettings\";s:11:\"description\";s:47:\"Virtual
  network gateway's BGP speaker settings.\";}s:12:\"resourceGuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"The
  resource GUID property of the VirtualNetworkGateway resource.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:120:\"The
  provisioning state of the VirtualNetworkGateway resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:11:\"description\";s:32:\"VirtualNetworkGateway
  properties\";}s:40:\"VpnClientRootCertificatePropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"publicCertData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  certificate public data.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:126:\"The
  provisioning state of the VPN client root certificate resource. Possible values
  are: 'Updating', 'Deleting', and 'Failed'.\";}}s:8:\"required\";a:1:{i:0;s:14:\"publicCertData\";}s:11:\"description\";s:53:\"Properties
  of SSL certificates of application gateway\";}s:24:\"VpnClientRootCertificate\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:54:\"#/definitions/VpnClientRootCertificatePropertiesFormat\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:11:\"description\";s:54:\"VPN
  client root certificate of virtual network gateway\";}s:43:\"VpnClientRevokedCertificatePropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"thumbprint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  revoked VPN client certificate thumbprint.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:129:\"The
  provisioning state of the VPN client revoked certificate resource. Possible values
  are: 'Updating', 'Deleting', and 'Failed'.\";}}s:11:\"description\";s:76:\"Properties
  of the revoked VPN client certificate of virtual network gateway.\";}s:27:\"VpnClientRevokedCertificate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:57:\"#/definitions/VpnClientRevokedCertificatePropertiesFormat\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}}s:11:\"description\";s:58:\"VPN
  client revoked certificate of virtual network gateway.\";}s:22:\"VpnClientConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"vpnClientAddressPool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"./virtualNetwork.json#/definitions/AddressSpace\";s:11:\"description\";s:93:\"The
  reference of the address space resource which represents Address space for P2S VpnClient.\";}s:25:\"vpnClientRootCertificates\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/VpnClientRootCertificate\";}s:11:\"description\";s:53:\"VpnClientRootCertificate
  for virtual network gateway.\";}s:28:\"vpnClientRevokedCertificates\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/VpnClientRevokedCertificate\";}s:11:\"description\";s:56:\"VpnClientRevokedCertificate
  for Virtual network gateway.\";}}s:11:\"description\";s:38:\"VpnClientConfiguration
  for P2S client.\";}s:24:\"VirtualNetworkGatewaySku\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Gateway
  SKU name.\";s:4:\"enum\";a:7:{i:0;s:5:\"Basic\";i:1;s:15:\"HighPerformance\";i:2;s:8:\"Standard\";i:3;s:16:\"UltraPerformance\";i:4;s:6:\"VpnGw1\";i:5;s:6:\"VpnGw2\";i:6;s:6:\"VpnGw3\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:28:\"VirtualNetworkGatewaySkuName\";s:13:\"modelAsString\";b:1;}}s:4:\"tier\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Gateway
  SKU tier.\";s:4:\"enum\";a:7:{i:0;s:5:\"Basic\";i:1;s:15:\"HighPerformance\";i:2;s:8:\"Standard\";i:3;s:16:\"UltraPerformance\";i:4;s:6:\"VpnGw1\";i:5;s:6:\"VpnGw2\";i:6;s:6:\"VpnGw3\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:28:\"VirtualNetworkGatewaySkuTier\";s:13:\"modelAsString\";b:1;}}s:8:\"capacity\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:13:\"The
  capacity.\";}}s:11:\"description\";s:32:\"VirtualNetworkGatewaySku details\";}s:11:\"BgpSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"asn\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:22:\"The
  BGP speaker's ASN.\";}s:17:\"bgpPeeringAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  BGP peering address and BGP identifier of this BGP speaker.\";}s:10:\"peerWeight\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:57:\"The
  weight added to routes learned from this BGP speaker.\";}}s:11:\"description\";s:20:\"BGP
  settings details\";}s:13:\"BgpPeerStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"localAddress\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:43:\"The
  virtual network gateway's local address\";}s:8:\"neighbor\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"The
  remote BGP peer\";}s:3:\"asn\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:11:\"description\";s:51:\"The
  autonomous system number of the remote BGP peer\";}s:5:\"state\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"The
  BGP peer state\";s:4:\"enum\";a:5:{i:0;s:7:\"Unknown\";i:1;s:7:\"Stopped\";i:2;s:4:\"Idle\";i:3;s:10:\"Connecting\";i:4;s:9:\"Connected\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"BgpPeerState\";s:13:\"modelAsString\";b:1;}}s:17:\"connectedDuration\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:36:\"For
  how long the peering has been up\";}s:14:\"routesReceived\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:43:\"The
  number of routes learned from this peer\";}s:12:\"messagesSent\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"The
  number of BGP messages sent\";}s:16:\"messagesReceived\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:11:\"description\";s:35:\"The
  number of BGP messages received\";}}s:11:\"description\";s:23:\"BGP peer status
  details\";}s:12:\"GatewayRoute\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"localAddress\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:27:\"The
  gateway's local address\";}s:7:\"network\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:26:\"The
  route's network prefix\";}s:7:\"nextHop\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:20:\"The
  route's next hop\";}s:10:\"sourcePeer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:36:\"The
  peer this route was learned from\";}s:6:\"origin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:38:\"The
  source this route was learned from\";}s:6:\"asPath\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:28:\"The
  route's AS path sequence\";}s:6:\"weight\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"The
  route's weight\";}}s:11:\"description\";s:23:\"Gateway routing details\";}s:21:\"VirtualNetworkGateway\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:51:\"#/definitions/VirtualNetworkGatewayPropertiesFormat\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Gets
  a unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"./network.json#/definitions/Resource\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:11:\"description\";s:47:\"A
  common class for general resource information\";}s:19:\"VpnClientParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"processorArchitecture\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"VPN
  client Processor Architecture. Possible values are: 'AMD64' and 'X86'.\";s:4:\"enum\";a:2:{i:0;s:5:\"Amd64\";i:1;s:3:\"X86\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"ProcessorArchitecture\";s:13:\"modelAsString\";b:1;}}}s:8:\"required\";a:1:{i:0;s:21:\"processorArchitecture\";}s:11:\"description\";s:44:\"Vpn
  Client Parameters for package generation\";}s:31:\"VirtualNetworkGatewayListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/VirtualNetworkGateway\";}s:11:\"description\";s:79:\"Gets
  a list of VirtualNetworkGateway resources that exists in a resource group.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:61:\"Response for
  the ListVirtualNetworkGateways API service call.\";}s:23:\"BgpPeerStatusListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BgpPeerStatus\";}s:11:\"description\";s:17:\"List
  of BGP peers\";}}s:11:\"description\";s:50:\"Response for list BGP peer status API
  service call\";}s:22:\"GatewayRouteListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GatewayRoute\";}s:11:\"description\";s:22:\"List
  of gateway routes\";}}s:11:\"description\";s:38:\"List of virtual network gateway
  routes\";}s:22:\"TunnelConnectionHealth\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"tunnel\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Tunnel
  name.\";}s:16:\"connectionStatus\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Virtual
  network Gateway connection status\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:10:\"Connecting\";i:2;s:9:\"Connected\";i:3;s:12:\"NotConnected\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:37:\"VirtualNetworkGatewayConnectionStatus\";s:13:\"modelAsString\";b:1;}}s:23:\"ingressBytesTransferred\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:48:\"The
  Ingress Bytes Transferred in this connection\";}s:22:\"egressBytesTransferred\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:47:\"The
  Egress Bytes Transferred in this connection\";}s:32:\"lastConnectionEstablishedUtcTime\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"The
  time at which connection was established in Utc format.\";}}s:11:\"description\";s:42:\"VirtualNetworkGatewayConnection
  properties\";}s:47:\"VirtualNetworkGatewayConnectionPropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":17:{s:16:\"authorizationKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  authorizationKey.\";}s:22:\"virtualNetworkGateway1\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/VirtualNetworkGateway\";}s:22:\"virtualNetworkGateway2\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/VirtualNetworkGateway\";}s:20:\"localNetworkGateway2\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/LocalNetworkGateway\";}s:14:\"connectionType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"Gateway
  connection type. Possible values are: 'IPsec','Vnet2Vnet','ExpressRoute', and 'VPNClient.\";s:4:\"enum\";a:4:{i:0;s:5:\"IPsec\";i:1;s:9:\"Vnet2Vnet\";i:2;s:12:\"ExpressRoute\";i:3;s:9:\"VPNClient\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:35:\"VirtualNetworkGatewayConnectionType\";s:13:\"modelAsString\";b:1;}}s:13:\"routingWeight\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:19:\"The
  routing weight.\";}s:9:\"sharedKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  IPSec shared key.\";}s:16:\"connectionStatus\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:119:\"Virtual
  network Gateway connection status. Possible values are 'Unknown', 'Connecting',
  'Connected' and 'NotConnected'.\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:10:\"Connecting\";i:2;s:9:\"Connected\";i:3;s:12:\"NotConnected\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:37:\"VirtualNetworkGatewayConnectionStatus\";s:13:\"modelAsString\";b:1;}}s:22:\"tunnelConnectionStatus\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TunnelConnectionHealth\";}s:11:\"description\";s:52:\"Collection
  of all tunnels' connection health status.\";}s:22:\"egressBytesTransferred\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:48:\"The
  egress bytes transferred in this connection.\";}s:23:\"ingressBytesTransferred\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:49:\"The
  ingress bytes transferred in this connection.\";}s:4:\"peer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:35:\"The
  reference to peerings resource.\";}s:9:\"enableBgp\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:14:\"EnableBgp
  flag\";}s:30:\"usePolicyBasedTrafficSelectors\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:38:\"Enable
  policy-based traffic selectors.\";}s:13:\"ipsecPolicies\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IpsecPolicy\";}s:11:\"description\";s:55:\"The
  IPSec Policies to be considered by this connection.\";}s:12:\"resourceGuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"The
  resource GUID property of the VirtualNetworkGatewayConnection resource.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:130:\"The
  provisioning state of the VirtualNetworkGatewayConnection resource. Possible values
  are: 'Updating', 'Deleting', and 'Failed'.\";}}s:8:\"required\";a:2:{i:0;s:22:\"virtualNetworkGateway1\";i:1;s:14:\"connectionType\";}s:11:\"description\";s:42:\"VirtualNetworkGatewayConnection
  properties\";}s:31:\"VirtualNetworkGatewayConnection\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:61:\"#/definitions/VirtualNetworkGatewayConnectionPropertiesFormat\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Gets
  a unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"./network.json#/definitions/Resource\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:11:\"description\";s:47:\"A
  common class for general resource information\";}s:41:\"VirtualNetworkGatewayConnectionListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/VirtualNetworkGatewayConnection\";}s:11:\"description\";s:89:\"Gets
  a list of VirtualNetworkGatewayConnection resources that exists in a resource group.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:70:\"Response for
  the ListVirtualNetworkGatewayConnections API service call\";}s:24:\"ConnectionResetSharedKey\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"keyLength\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:128;s:11:\"description\";s:81:\"The
  virtual network connection reset shared key length, should between 1 and 128.\";}}s:8:\"required\";a:1:{i:0;s:9:\"keyLength\";}s:11:\"description\";s:47:\"The
  virtual network connection reset shared key\";}s:19:\"ConnectionSharedKey\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  virtual network connection shared key value.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:52:\"Response
  for GetConnectionSharedKey API service call\";}s:11:\"IpsecPolicy\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"saLifeTimeSeconds\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:120:\"The
  IPSec Security Association (also called Quick Mode or Phase 2 SA) lifetime in seconds
  for a site to site VPN tunnel.\";}s:19:\"saDataSizeKilobytes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:119:\"The
  IPSec Security Association (also called Quick Mode or Phase 2 SA) payload size in
  KB for a site to site VPN tunnel.\";}s:15:\"ipsecEncryption\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  IPSec encryption algorithm (IKE phase 1).\";s:4:\"enum\";a:9:{i:0;s:4:\"None\";i:1;s:3:\"DES\";i:2;s:4:\"DES3\";i:3;s:6:\"AES128\";i:4;s:6:\"AES192\";i:5;s:6:\"AES256\";i:6;s:9:\"GCMAES128\";i:7;s:9:\"GCMAES192\";i:8;s:9:\"GCMAES256\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"IpsecEncryption\";s:13:\"modelAsString\";b:1;}}s:14:\"ipsecIntegrity\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  IPSec integrity algorithm (IKE phase 1).\";s:4:\"enum\";a:6:{i:0;s:3:\"MD5\";i:1;s:4:\"SHA1\";i:2;s:6:\"SHA256\";i:3;s:9:\"GCMAES128\";i:4;s:9:\"GCMAES192\";i:5;s:9:\"GCMAES256\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"IpsecIntegrity\";s:13:\"modelAsString\";b:1;}}s:13:\"ikeEncryption\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  IKE encryption algorithm (IKE phase 2).\";s:4:\"enum\";a:5:{i:0;s:3:\"DES\";i:1;s:4:\"DES3\";i:2;s:6:\"AES128\";i:3;s:6:\"AES192\";i:4;s:6:\"AES256\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"IkeEncryption\";s:13:\"modelAsString\";b:1;}}s:12:\"ikeIntegrity\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  IKE integrity algorithm (IKE phase 2).\";s:4:\"enum\";a:4:{i:0;s:3:\"MD5\";i:1;s:4:\"SHA1\";i:2;s:6:\"SHA256\";i:3;s:6:\"SHA384\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"IkeIntegrity\";s:13:\"modelAsString\";b:1;}}s:7:\"dhGroup\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  DH Groups used in IKE Phase 1 for initial SA.\";s:4:\"enum\";a:8:{i:0;s:4:\"None\";i:1;s:8:\"DHGroup1\";i:2;s:8:\"DHGroup2\";i:3;s:9:\"DHGroup14\";i:4;s:11:\"DHGroup2048\";i:5;s:6:\"ECP256\";i:6;s:6:\"ECP384\";i:7;s:9:\"DHGroup24\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"DhGroup\";s:13:\"modelAsString\";b:1;}}s:8:\"pfsGroup\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  DH Groups used in IKE Phase 2 for new child SA.\";s:4:\"enum\";a:7:{i:0;s:4:\"None\";i:1;s:4:\"PFS1\";i:2;s:4:\"PFS2\";i:3;s:7:\"PFS2048\";i:4;s:6:\"ECP256\";i:5;s:6:\"ECP384\";i:6;s:5:\"PFS24\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"PfsGroup\";s:13:\"modelAsString\";b:1;}}}s:8:\"required\";a:8:{i:0;s:17:\"saLifeTimeSeconds\";i:1;s:19:\"saDataSizeKilobytes\";i:2;s:15:\"ipsecEncryption\";i:3;s:14:\"ipsecIntegrity\";i:4;s:13:\"ikeEncryption\";i:5;s:12:\"ikeIntegrity\";i:6;s:7:\"dhGroup\";i:7;s:8:\"pfsGroup\";}s:11:\"description\";s:70:\"An
  IPSec Policy configuration for a virtual network gateway connection\";}s:35:\"LocalNetworkGatewayPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:24:\"localNetworkAddressSpace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"./virtualNetwork.json#/definitions/AddressSpace\";s:11:\"description\";s:33:\"Local
  network site address space.\";}s:16:\"gatewayIpAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"IP
  address of local network gateway.\";}s:11:\"bgpSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BgpSettings\";s:11:\"description\";s:45:\"Local
  network gateway's BGP speaker settings.\";}s:12:\"resourceGuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  resource GUID property of the LocalNetworkGateway resource.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"The
  provisioning state of the LocalNetworkGateway resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:11:\"description\";s:30:\"LocalNetworkGateway properties\";}s:19:\"LocalNetworkGateway\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:49:\"#/definitions/LocalNetworkGatewayPropertiesFormat\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"./network.json#/definitions/Resource\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:11:\"description\";s:47:\"A
  common class for general resource information\";}s:29:\"LocalNetworkGatewayListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/LocalNetworkGateway\";}s:11:\"description\";s:65:\"A
  list of local network gateways that exists in a resource group.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:55:\"Response for
  ListLocalNetworkGateways API service call.\";}}"
...
