---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:11:\"description\";s:33:\"The Azure Storage
  Management API.\";s:5:\"title\";s:17:\"StorageManagement\";s:7:\"version\";s:10:\"2017-10-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:23:\"StorageManagementClient\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:155:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storage/resource-manager/Microsoft.Storage/stable/2017-10-01/storage.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:7:\"storage\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"azure_storage\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.Storage/operations:
    get:
      description: Lists all of the available Storage Rest API operations.
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
      tags:
      - Operations
      x-ms-examples:
        OperationsList:
          parameters:
            api-version: "2017-10-01"
          responses:
            200:
              body:
                value:
                - display:
                    description: Creates a storage account with the specified parameters
                      or update the properties or tags or adds custom domain for the
                      specified storage account.
                    operation: Create/Update Storage Account
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/write
                - display:
                    description: Deletes an existing storage account.
                    operation: Delete Storage Account
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/delete
                - display:
                    description: Returns the access keys for the specified storage
                      account.
                    operation: List Storage Account Keys
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/listkeys/action
                - display:
                    description: Regenerates the access keys for the specified storage
                      account.
                    operation: Regenerate Storage Account Keys
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/regeneratekey/action
                - display:
                    description: Checks that account name is valid and is not in use.
                    operation: Check Name Availability
                    provider: Microsoft Storage
                    resource: Name Availability
                  name: Microsoft.Storage/checknameavailability/read
                - display:
                    description: Returns the list of storage accounts or gets the
                      properties for the specified storage account.
                    operation: List/Get Storage Account(s)
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/read
                - display:
                    description: Returns the limit and the current usage count for
                      resources in the specified subscription
                    operation: Get Subscription Usages
                    provider: Microsoft Storage
                    resource: Usage Metrics
                  name: Microsoft.Storage/usages/read
                - display:
                    description: Returns the Account SAS token for the specified storage
                      account.
                    operation: Returns Storage Account SAS Token
                    provider: Microsoft Storage
                    resource: Storage Account SAS Token
                  name: Microsoft.Storage/storageAccounts/listAccountSas/action
                - display:
                    description: Storage Service SAS Token
                    operation: Returns Storage Service SAS Token
                    provider: Microsoft Storage
                    resource: Returns the Service SAS token for the specified storage
                      account.
                  name: Microsoft.Storage/storageAccounts/listServiceSas/action
                - display:
                    description: Notifies Microsoft.Storage that virtual network or
                      subnet is being deleted
                    operation: Delete virtual network or subnets notifications
                    provider: Microsoft Storage
                    resource: Location
                  name: Microsoft.Storage/locations/deleteVirtualNetworkOrSubnets/action
                - display:
                    description: Polls the status of an asynchronous operation.
                    operation: Poll Asynchronous Operation
                    provider: Microsoft Storage
                    resource: Operations
                  name: Microsoft.Storage/operations/read
                - display:
                    description: Registers the subscription for the storage resource
                      provider and enables the creation of storage accounts.
                    operation: Registers the Storage Resource Provider
                    provider: Microsoft Storage
                    resource: Storage Resource Provider
                  name: Microsoft.Storage/register/action
                - display:
                    description: Lists the Skus supported by Microsoft.Storage.
                    operation: List Skus
                    provider: Microsoft Storage
                    resource: Skus
                  name: Microsoft.Storage/skus/read
                - display:
                    description: Create/Update storage account diagnostic settings.
                    operation: Create/Update Diagnostic Settings
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/services/diagnosticSettings/write
                - display:
                    description: Get list of Microsoft Storage Metrics definitions.
                    operation: Get list of Microsoft Storage Metrics definitions
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/providers/Microsoft.Insights/metricDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: Account used capacity
                        displayName: Used capacity
                        fillGapWithZero: false
                        name: UsedCapacity
                        resourceIdDimensionNameOverride: AccountResourceId
                        unit: Bytes
                - display:
                    description: Gets the diagnostic setting for the resource.
                    operation: Read diagnostic setting
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: system
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource.
                    operation: Write diagnostic setting
                    provider: Microsoft Storage
                    resource: Storage Accounts
                  name: Microsoft.Storage/storageAccounts/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
                - display:
                    description: Get list of Microsoft Storage Metrics definitions.
                    operation: Get list of Microsoft Storage Metrics definitions
                    provider: Microsoft Storage
                    resource: Blob service
                  name: Microsoft.Storage/storageAccounts/blobServices/providers/Microsoft.Insights/metricDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Average
                        category: Capacity
                        dimensions:
                        - displayName: Blob type
                          name: BlobType
                        displayDescription: The amount of storage used by the storage
                          accountu2019s Blob service in bytes.
                        displayName: Blob Capacity
                        fillGapWithZero: false
                        name: BlobCapacity
                        unit: Bytes
                      - aggregationType: Average
                        category: Capacity
                        dimensions:
                        - displayName: Blob type
                          name: BlobType
                        displayDescription: The number of Blob in the storage accountu2019s
                          Blob service.
                        displayName: Blob Count
                        fillGapWithZero: false
                        name: BlobCount
                        unit: Count
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The number of containers in the storage
                          accountu2019s Blob service.
                        displayName: Blob Container Count
                        fillGapWithZero: false
                        name: ContainerCount
                        unit: Count
                      - aggregationType: Average
                        category: Capacity
                        dimensions:
                        - displayName: Blob type
                          name: BlobType
                        displayDescription: The amount of storage provisioned in the
                          storage accountu2019s Blob service in bytes.
                        displayName: Blob Provisioned Size
                        fillGapWithZero: false
                        name: BlobProvisionedSize
                        unit: Bytes
                - display:
                    description: Gets the diagnostic setting for the resource.
                    operation: Read diagnostic setting
                    provider: Microsoft Storage
                    resource: Blob service
                  name: Microsoft.Storage/storageAccounts/blobServices/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: system
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource.
                    operation: Write diagnostic setting
                    provider: Microsoft Storage
                    resource: Blob service
                  name: Microsoft.Storage/storageAccounts/blobServices/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
                - display:
                    description: Get list of Microsoft Storage Metrics definitions.
                    operation: Get list of Microsoft Storage Metrics definitions
                    provider: Microsoft Storage
                    resource: Table service
                  name: Microsoft.Storage/storageAccounts/tableServices/providers/Microsoft.Insights/metricDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The amount of storage used by the storage
                          accountu2019s Table service in bytes.
                        displayName: Table Capacity
                        fillGapWithZero: false
                        name: TableCapacity
                        unit: Bytes
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The number of table in the storage accountu2019s
                          Table service.
                        displayName: Table Count
                        fillGapWithZero: false
                        name: TableCount
                        unit: Count
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The number of table entities in the storage
                          accountu2019s Table service.
                        displayName: Table Entity Count
                        fillGapWithZero: false
                        name: TableEntityCount
                        unit: Count
                - display:
                    description: Gets the diagnostic setting for the resource.
                    operation: Read diagnostic setting
                    provider: Microsoft Storage
                    resource: Table service
                  name: Microsoft.Storage/storageAccounts/tableServices/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: system
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource.
                    operation: Write diagnostic setting
                    provider: Microsoft Storage
                    resource: Table service
                  name: Microsoft.Storage/storageAccounts/tableServices/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
                - display:
                    description: Get list of Microsoft Storage Metrics definitions.
                    operation: Get list of Microsoft Storage Metrics definitions
                    provider: Microsoft Storage
                    resource: Queue service
                  name: Microsoft.Storage/storageAccounts/queueServices/providers/Microsoft.Insights/metricDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The amount of storage used by the storage
                          accountu2019s Queue service in bytes.
                        displayName: Queue Capacity
                        fillGapWithZero: false
                        name: QueueCapacity
                        unit: Bytes
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The number of queue in the storage accountu2019s
                          Queue service.
                        displayName: Queue Count
                        fillGapWithZero: false
                        name: QueueCount
                        unit: Count
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The approximate number of queue messages
                          in the storage accountu2019s Queue service.
                        displayName: Queue Message Count
                        fillGapWithZero: false
                        name: QueueMessageCount
                        unit: Count
                - display:
                    description: Gets the diagnostic setting for the resource.
                    operation: Read diagnostic setting
                    provider: Microsoft Storage
                    resource: Queue service
                  name: Microsoft.Storage/storageAccounts/queueServices/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: system
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource.
                    operation: Write diagnostic setting
                    provider: Microsoft Storage
                    resource: Queue service
                  name: Microsoft.Storage/storageAccounts/queueServices/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
                - display:
                    description: Get list of Microsoft Storage Metrics definitions.
                    operation: Get list of Microsoft Storage Metrics definitions
                    provider: Microsoft Storage
                    resource: File service
                  name: Microsoft.Storage/storageAccounts/fileServices/providers/Microsoft.Insights/metricDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The amount of storage used by the storage
                          accountu2019s File service in bytes.
                        displayName: File Capacity
                        fillGapWithZero: false
                        name: FileCapacity
                        unit: Bytes
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The amount of storage provisioned in the
                          storage accountu2019s File service in bytes.
                        displayName: File Provisioned Size
                        fillGapWithZero: false
                        name: FileProvisionedSize
                        unit: Bytes
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The number of file in the storage accountu2019s
                          File service.
                        displayName: File Count
                        fillGapWithZero: false
                        name: FileCount
                        unit: Count
                      - aggregationType: Average
                        category: Capacity
                        displayDescription: The number of file shares in the storage
                          accountu2019s File service.
                        displayName: File Share Count
                        fillGapWithZero: false
                        name: FileShareCount
                        unit: Count
                - display:
                    description: Gets the diagnostic setting for the resource.
                    operation: Read diagnostic setting
                    provider: Microsoft Storage
                    resource: File service
                  name: Microsoft.Storage/storageAccounts/fileServices/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: system
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource.
                    operation: Write diagnostic setting
                    provider: Microsoft Storage
                    resource: File service
                  name: Microsoft.Storage/storageAccounts/fileServices/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage/checkNameAvailability:
    post:
      description: Checks that the storage account name is valid and is not already
        in use.
      operationId: StorageAccounts_CheckNameAvailability
      parameters:
      - description: The name of the storage account within the specified resource
          group. Storage account names must be between 3 and 24 characters in length
          and use numbers and lower-case letters only.
        in: body
        name: accountName
        required: true
        schema:
          $ref: '#/definitions/StorageAccountCheckNameAvailabilityParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK -- Operation to check the storage account name availability
            was successful.
          schema:
            $ref: '#/definitions/CheckNameAvailabilityResult'
      tags:
      - StorageAccounts
      x-ms-examples:
        StorageAccountCheckNameAvailability:
          parameters:
            accountName:
              name: sto3363
              type: Microsoft.Storage/storageAccounts
            api-version: "2017-10-01"
            subscriptionId: 27de630f-e1ee-42de-8849-90def4986454
          responses:
            200:
              body:
                nameAvailable: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Storage/skus:
    get:
      description: Lists the available SKUs supported by Microsoft.Storage for given
        subscription.
      operationId: Skus_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK -- List of storage SKUs in the given subscription retrieved
            and returned successfully.
          schema:
            $ref: '#/definitions/StorageSkuListResult'
      tags:
      - Skus
      x-ms-examples:
        SkuList:
          parameters:
            api-version: "2017-10-01"
            subscriptionId: 27de630f-e1ee-42de-8849-90def4986454
          responses:
            200:
              body:
                value:
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus2
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus2
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus2
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus2
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus2
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "true"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastus2
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastus2
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastus2
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "true"
                  kind: Storage
                  locations:
                  - eastus2(stage)
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "true"
                  kind: Storage
                  locations:
                  - eastus2(stage)
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "true"
                  kind: Storage
                  locations:
                  - eastus2(stage)
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastus2(stage)
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsnetworkacls
                    value: "true"
                  kind: Storage
                  locations:
                  - eastus2(stage)
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "true"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "true"
                  kind: BlobStorage
                  locations:
                  - eastus2(stage)
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "true"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "true"
                  kind: BlobStorage
                  locations:
                  - eastus2(stage)
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "true"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastus2(stage)
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westus
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westus
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - westus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - westus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - westus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westeurope
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westeurope
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westeurope
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westeurope
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - westeurope
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - westeurope
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - westeurope
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - westeurope
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastasia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastasia
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastasia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastasia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - eastasia
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastasia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastasia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - eastasia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southeastasia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southeastasia
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southeastasia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southeastasia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southeastasia
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - southeastasia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - southeastasia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - southeastasia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japaneast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japaneast
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japaneast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japaneast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japaneast
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - japaneast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - japaneast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - japaneast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japanwest
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japanwest
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japanwest
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japanwest
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - japanwest
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - japanwest
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - japanwest
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - japanwest
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northcentralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northcentralus
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northcentralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northcentralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northcentralus
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - northcentralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - northcentralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - northcentralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southcentralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southcentralus
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southcentralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southcentralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southcentralus
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - southcentralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - southcentralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - southcentralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - centralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - centralus
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - centralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - centralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - centralus
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - centralus
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - centralus
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "true"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - centralus
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northeurope
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northeurope
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northeurope
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northeurope
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - northeurope
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - northeurope
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - northeurope
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - northeurope
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - brazilsouth
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - brazilsouth
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - brazilsouth
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - brazilsouth
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - brazilsouth
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - brazilsouth
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - brazilsouth
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - brazilsouth
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiaeast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiaeast
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiaeast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiaeast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiaeast
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - australiaeast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - australiaeast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - australiaeast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiasoutheast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiasoutheast
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiasoutheast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiasoutheast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - australiasoutheast
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - australiasoutheast
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - australiasoutheast
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - australiasoutheast
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southindia
                  name: Standard_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southindia
                  name: Standard_ZRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southindia
                  name: Standard_GRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "true"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southindia
                  name: Standard_RAGRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Standard
                - capabilities:
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: Storage
                  locations:
                  - southindia
                  name: Premium_LRS
                  resourceType: storageAccounts
                  restrictions: []
                  tier: Premium
                - capabilities:
                  - name: supportsarchivepreview
                    value: "false"
                  - name: supportschangenotification
                    value: "false"
                  - name: supportsfileencryption
                    value: "false"
                  - name: supportshoeboxcapacitymetrics
                    value: "false"
                  - name: supportsnetworkacls
                    value: "false"
                  kind: BlobStorage
                  locations:
                  - southindia
                  name: Standard_LRS
[...]
