---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2016-12-01\";s:5:\"title\";s:28:\"RecoveryServicesBackupClient\";s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:20:\"internalConstructors\";b:0;}}"
host: management.azure.com
paths:
  /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/operations:
    get:
      tags:
      - Operations
      description: Returns the list of available operations.
      operationId: Operations_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      responses:
        200:
          description: OK
          schema:
            $ref: ./vaults.json#/definitions/ClientDiscoveryResponse
      deprecated: false
      x-ms-pageable:
        nextLinkName: NextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupconfig/vaultconfig
  : get:
      tags:
      - BackupVaultConfigs
      description: Fetches vault config.
      operationId: BackupVaultConfigs_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupVaultConfig'
      deprecated: false
    patch:
      tags:
      - BackupVaultConfigs
      description: Updates vault config model type.
      operationId: BackupVaultConfigs_Update
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      - name: backupVaultConfig
        in: body
        description: Backup vault config.
        required: true
        schema:
          $ref: '#/definitions/BackupVaultConfig'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupVaultConfig'
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig
  : get:
      tags:
      - BackupStorageConfigs
      description: Fetches resource storage config.
      operationId: BackupStorageConfigs_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupStorageConfig'
      deprecated: false
    patch:
      tags:
      - BackupStorageConfigs
      description: Updates vault storage model type.
      operationId: BackupStorageConfigs_Update
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      - name: backupStorageConfig
        in: body
        description: Backup storage config.
        required: true
        schema:
          $ref: '#/definitions/BackupStorageConfig'
      responses:
        204:
          description: NoContent
      deprecated: false
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:29:\"BackupStorageConfigProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  backup storage config.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"storageModelType\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Storage
  model type.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:12:\"GeoRedundant\";i:2;s:16:\"LocallyRedundant\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"StorageModelType\";s:13:\"modelAsString\";b:1;}}s:11:\"storageType\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Storage
  type.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:12:\"GeoRedundant\";i:2;s:16:\"LocallyRedundant\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"StorageType\";s:13:\"modelAsString\";b:1;}}s:16:\"storageTypeState\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"Locked
  or Unlocked. Once a machine is registered against a resource, the storageTypeState
  is always Locked.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:6:\"Locked\";i:2;s:8:\"Unlocked\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"StorageTypeState\";s:13:\"modelAsString\";b:1;}}}}s:19:\"BackupStorageConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  backup storage config.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"./vaults.json#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/BackupStorageConfigProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:27:\"BackupVaultConfigProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Backup
  vault config details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"storageType\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Storage
  type.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:12:\"GeoRedundant\";i:2;s:16:\"LocallyRedundant\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"StorageType\";s:13:\"modelAsString\";b:1;}}s:16:\"storageTypeState\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"Locked
  or Unlocked. Once a machine is registered against a resource, the storageTypeState
  is always Locked.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:6:\"Locked\";i:2;s:8:\"Unlocked\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"StorageTypeState\";s:13:\"modelAsString\";b:1;}}s:21:\"enhancedSecurityState\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Enabled
  or Disabled.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:7:\"Enabled\";i:2;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"EnhancedSecurityState\";s:13:\"modelAsString\";b:1;}}}}s:17:\"BackupVaultConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Backup
  vault config details.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"./vaults.json#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/BackupVaultConfigProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}}"
...
