---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:36:\"Cognitive Services
  Management Client\";s:5:\"title\";s:33:\"CognitiveServicesManagementClient\";s:7:\"version\";s:18:\"2016-02-01-preview\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:16:\"machine_learning\";i:1;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:139:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-cognitiveservices/2016-02-01-preview/swagger/cognitiveservices.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:21:\"arm-cognitiveservices\";s:6:\"x-tags\";a:11:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";i:2;s:4:\"Bing\";i:3;s:14:\"text
  analytics\";i:4;s:18:\"web language model\";i:5;s:11:\"spell check\";i:6;s:14:\"speech
  to text\";i:7;s:15:\"computer vision\";i:8;s:19:\"emotion recognition\";i:9;s:27:\"intelligent
  recommendations\";i:10;s:15:\"semantic search\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:27:\"azure_arm_cognitiveservices\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:24:\"CognitiveServicesAccount\";O:8:\"stdClass\":4:{s:11:\"description\";s:113:\"Cognitive
  Services Account is an Azure resource representing the provisioned account, its
  type, location and SKU.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Entity
  Tag\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  id of the created account\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Type
  of cognitive service account.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  location of the resource\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  name of the created account\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/CognitiveServicesAccountProperties\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:304:\"Gets
  or sets a list of key value pairs that describe the resource. These tags can be
  used in viewing and grouping this resource (across resource groups). A maximum of
  15 tags can be provided for a resource. Each tag must have a key no greater than
  128 characters and value no greater than 256 characters.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Resource
  type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:40:\"CognitiveServicesAccountCreateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  parameters to provide for the account.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"kind\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Required.
  Indicates the type of cognitive service account.\";s:4:\"enum\";a:17:{i:0;s:8:\"Academic\";i:1;s:16:\"Bing.Autosuggest\";i:2;s:11:\"Bing.Search\";i:3;s:11:\"Bing.Speech\";i:4;s:15:\"Bing.SpellCheck\";i:5;s:14:\"ComputerVision\";i:6;s:16:\"ContentModerator\";i:7;s:7:\"Emotion\";i:8;s:4:\"Face\";i:9;s:4:\"LUIS\";i:10;s:15:\"Recommendations\";i:11;s:18:\"SpeakerRecognition\";i:12;s:6:\"Speech\";i:13;s:17:\"SpeechTranslation\";i:14;s:13:\"TextAnalytics\";i:15;s:15:\"TextTranslation\";i:16;s:5:\"WebLM\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:4:\"Kind\";}}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:313:\"Required.
  Gets or sets the location of the resource. This will be one of the supported and
  registered Azure Geo Regions (e.g. West US, East US, Southeast Asia, etc.). The
  geo region of a resource cannot be changed once it is created, but if an identical
  geo region is specified on update the request will succeed.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:64:\"#/definitions/CognitiveServicesAccountPropertiesCreateParameters\";s:11:\"description\";s:44:\"Must
  exist in the request. Must not be null.\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:304:\"Gets
  or sets a list of key value pairs that describe the resource. These tags can be
  used in viewing and grouping this resource (across resource groups). A maximum of
  15 tags can be provided for a resource. Each tag must have a key no greater than
  128 characters and value no greater than 256 characters.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:4:{i:0;s:3:\"sku\";i:1;s:4:\"kind\";i:2;s:8:\"location\";i:3;s:10:\"properties\";}}s:43:\"CognitiveServicesAccountEnumerateSkusResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  list of cognitive services accounts operation response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Gets
  the list of Cognitive Services accounts and their properties.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/CognitiveServicesResourceAndSku\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:28:\"CognitiveServicesAccountKeys\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  access keys for the cognitive services account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"key1\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  the value of key 1.\";s:4:\"type\";s:6:\"string\";}s:4:\"key2\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  the value of key 2.\";s:4:\"type\";s:6:\"string\";}}}s:34:\"CognitiveServicesAccountListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  list of cognitive services accounts operation response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Gets
  the list of Cognitive Services accounts and their properties.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CognitiveServicesAccount\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:34:\"CognitiveServicesAccountProperties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"endpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Endpoint
  of the created account\";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:87:\"Gets
  the status of the cognitive services account at the time the operation was called.\";s:4:\"enum\";a:4:{i:0;s:8:\"Creating\";i:1;s:12:\"ResolvingDNS\";i:2;s:9:\"Succeeded\";i:3;s:6:\"Failed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"ProvisioningState\";}}}}s:50:\"CognitiveServicesAccountPropertiesCreateParameters\";O:8:\"stdClass\":1:{s:11:\"description\";s:88:\"required
  empty proprties object. Must be an empty object, and must exist in the request.\";}s:40:\"CognitiveServicesAccountUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  parameters to provide for the account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:304:\"Gets
  or sets a list of key value pairs that describe the resource. These tags can be
  used in viewing and grouping this resource (across resource groups). A maximum of
  15 tags can be provided for a resource. Each tag must have a key no greater than
  128 characters and value no greater than 256 characters.\";s:4:\"type\";s:6:\"object\";}}}s:31:\"CognitiveServicesResourceAndSku\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"resourceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Resource
  Namespace and Type\";s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";}}}s:5:\"Error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorBody\";}}}s:9:\"ErrorBody\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"error
  message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}}s:23:\"RegenerateKeyParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Regenerate
  key parameters.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"keyName\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"key
  name to generate (Key1|Key2)\";s:4:\"enum\";a:2:{i:0;s:4:\"Key1\";i:1;s:4:\"Key2\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:7:\"KeyName\";}}}}s:3:\"Sku\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  SKU of the cognitive services account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"Gets
  or sets the sku name. Required for account creation, optional for update.\";s:4:\"enum\";a:11:{i:0;s:2:\"F0\";i:1;s:2:\"P0\";i:2;s:2:\"P1\";i:3;s:2:\"P2\";i:4;s:2:\"S0\";i:5;s:2:\"S1\";i:6;s:2:\"S2\";i:7;s:2:\"S3\";i:8;s:2:\"S4\";i:9;s:2:\"S5\";i:10;s:2:\"S6\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:7:\"SkuName\";}}s:4:\"tier\";O:8:\"stdClass\":5:{s:11:\"description\";s:49:\"Gets
  the sku tier. This is based on the SKU name.\";s:4:\"enum\";a:3:{i:0;s:4:\"Free\";i:1;s:8:\"Standard\";i:2;s:7:\"Premium\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:7:\"SkuTier\";}}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}}"
...
