---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:13:\"MonitorClient\";s:7:\"version\";s:10:\"2016-03-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:170:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/microsoft.insights/stable/2016-03-01/metricDefinitions_API.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:0;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:29:\"monitor-metricDefinitions_API\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"LocalizableString\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  localizable string class.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"the
  locale specific value.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"the
  invariant value.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:18:\"MetricAvailability\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"Metric
  availability specifies the time grain (aggregation interval or frequency) and the
  retention period for that time grain.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"retention\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"the
  retention period for the metric at the specified timegrain.  Expressed as a duration
  'PT1M', 'P1D', etc.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:9:\"timeGrain\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"the
  time grain specifies the aggregation interval for the metric. Expressed as a duration
  'PT1M', 'P1D', etc.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}}}s:16:\"MetricDefinition\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Metric
  definition class specifies the metadata for a metric.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"the
  resource identifier of the metric definition.\";s:4:\"type\";s:6:\"string\";}s:20:\"metricAvailabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"the
  collection of what aggregation intervals are available to be queried.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/MetricAvailability\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/LocalizableString\";s:11:\"description\";s:77:\"the
  name and the display name of the metric, i.e. it is a localizable string.\";}s:22:\"primaryAggregationType\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"the
  primary aggregation type value defining how to use the values for display.\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:7:\"Average\";i:2;s:5:\"Count\";i:3;s:7:\"Minimum\";i:4;s:7:\"Maximum\";i:5;s:5:\"Total\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:15:\"AggregationType\";}}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"the
  resource identifier of the resource that emitted the metric.\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Unit\";s:11:\"description\";s:23:\"the
  unit of the metric.\";}}}s:26:\"MetricDefinitionCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Represents
  collection of metric definitions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"the
  values for the metric definitions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/MetricDefinition\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:4:\"Unit\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"the
  unit of the metric.\";s:4:\"enum\";a:7:{i:0;s:5:\"Count\";i:1;s:5:\"Bytes\";i:2;s:7:\"Seconds\";i:3;s:14:\"CountPerSecond\";i:4;s:14:\"BytesPerSecond\";i:5;s:7:\"Percent\";i:6;s:12:\"MilliSeconds\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:4:\"Unit\";}}}"
...
