---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:48:\"This Swagger was
  generated by the API Framework.\";s:5:\"title\";s:20:\"Azure Media Services\";s:7:\"version\";s:10:\"2018-07-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:170:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/ContentKeyPolicies.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:32:\"mediaservices-ContentKeyPolicies\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":27:{s:8:\"ApiError\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  API error.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ODataError\";s:11:\"description\";s:21:\"The
  error properties.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ContentKeyPolicy\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  core properties of ARM resources.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Fully
  qualified resource ID for the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  name of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:55:\"The
  resource model definition for a ARM proxy resource.\";}}s:11:\"description\";s:30:\"A
  Content Key Policy resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ContentKeyPolicyProperties\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:37:\"ContentKeyPolicyClearKeyConfiguration\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ContentKeyPolicyConfiguration\";}}s:11:\"description\";s:44:\"Represents
  a configuration for non-DRM keys.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:54:\"#Microsoft.Media.ContentKeyPolicyClearKeyConfiguration\";}s:26:\"ContentKeyPolicyCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"A
  collection of ContentKeyPolicy items.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"@odata.nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"A
  link to the next page of the collection (when the collection contains too many results
  to return in one response).\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"A
  collection of ContentKeyPolicy items.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ContentKeyPolicy\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ContentKeyPolicyConfiguration\";O:8:\"stdClass\":5:{s:11:\"description\";s:104:\"Base
  class for Content Key Policy configuration. A derived class must be used to create
  a configuration.\";s:13:\"discriminator\";s:11:\"@odata.type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  discriminator for derived types.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"@odata.type\";}s:4:\"type\";s:6:\"object\";}s:37:\"ContentKeyPolicyFairPlayConfiguration\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ContentKeyPolicyConfiguration\";}}s:11:\"description\";s:48:\"Specifies
  a configuration for FairPlay licenses.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"ask\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  key that must be used as FairPlay Application Secret key.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:11:\"fairPlayPfx\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  Base64 representation of FairPlay certificate in PKCS 12 (pfx) format (including
  private key).\";s:4:\"type\";s:6:\"string\";}s:19:\"fairPlayPfxPassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  password encrypting FairPlay certificate in PKCS 12 (pfx) format.\";s:4:\"type\";s:6:\"string\";}s:21:\"rentalAndLeaseKeyType\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  rental and lease key type.\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:9:\"Undefined\";i:2;s:19:\"PersistentUnlimited\";i:3;s:17:\"PersistentLimited\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:17:\"modelAsExtensible\";b:1;s:4:\"name\";s:45:\"ContentKeyPolicyFairPlayRentalAndLeaseKeyType\";s:6:\"values\";a:4:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Represents
  a ContentKeyPolicyFairPlayRentalAndLeaseKeyType that is unavailable in current API
  version.\";s:5:\"value\";s:7:\"Unknown\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Key
  duration is not specified.\";s:5:\"value\";s:9:\"Undefined\";}i:2;O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Content
  key can be persisted with an unlimited duration\";s:5:\"value\";s:19:\"PersistentUnlimited\";}i:3;O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Content
  key can be persisted and the valid duration is limited by the Rental Duration value\";s:5:\"value\";s:17:\"PersistentLimited\";}}}}s:14:\"rentalDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  rental duration. Must be greater than or equal to 0.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:5:{i:0;s:3:\"ask\";i:1;s:19:\"fairPlayPfxPassword\";i:2;s:11:\"fairPlayPfx\";i:3;s:21:\"rentalAndLeaseKeyType\";i:4;s:14:\"rentalDuration\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:54:\"#Microsoft.Media.ContentKeyPolicyFairPlayConfiguration\";}s:31:\"ContentKeyPolicyOpenRestriction\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ContentKeyPolicyRestriction\";}}s:11:\"description\";s:82:\"Represents
  an open restriction. License or key will be delivered on every request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:48:\"#Microsoft.Media.ContentKeyPolicyOpenRestriction\";}s:22:\"ContentKeyPolicyOption\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Represents
  a policy option.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/ContentKeyPolicyConfiguration\";s:11:\"description\";s:31:\"The
  key delivery configuration.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  Policy Option description.\";s:4:\"type\";s:6:\"string\";}s:14:\"policyOptionId\";O:8:\"stdClass\":5:{s:11:\"description\";s:28:\"The
  legacy Policy Option ID.\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:0;}s:11:\"restriction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ContentKeyPolicyRestriction\";s:11:\"description\";s:73:\"The
  requirements that must be met to deliver keys with this configuration\";}}s:8:\"required\";a:2:{i:0;s:13:\"configuration\";i:1;s:11:\"restriction\";}s:4:\"type\";s:6:\"object\";}s:38:\"ContentKeyPolicyPlayReadyConfiguration\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ContentKeyPolicyConfiguration\";}}s:11:\"description\";s:49:\"Specifies
  a configuration for PlayReady licenses.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"licenses\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  PlayReady licenses.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ContentKeyPolicyPlayReadyLicense\";}s:4:\"type\";s:5:\"array\";}s:18:\"responseCustomData\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  custom response data.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"licenses\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:55:\"#Microsoft.Media.ContentKeyPolicyPlayReadyConfiguration\";}s:55:\"ContentKeyPolicyPlayReadyContentEncryptionKeyFromHeader\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/ContentKeyPolicyPlayReadyContentKeyLocation\";}}s:11:\"description\";s:61:\"Specifies
  that the content key ID is in the PlayReady header.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:72:\"#Microsoft.Media.ContentKeyPolicyPlayReadyContentEncryptionKeyFromHeader\";}s:62:\"ContentKeyPolicyPlayReadyContentEncryptionKeyFromKeyIdentifier\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/ContentKeyPolicyPlayReadyContentKeyLocation\";}}s:11:\"description\";s:78:\"Specifies
  that the content key ID is specified in the PlayReady configuration.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"keyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  content key ID.\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"keyId\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:79:\"#Microsoft.Media.ContentKeyPolicyPlayReadyContentEncryptionKeyFromKeyIdentifier\";}s:43:\"ContentKeyPolicyPlayReadyContentKeyLocation\";O:8:\"stdClass\":5:{s:11:\"description\";s:95:\"Base
  class for content key ID location. A derived class must be used to represent the
  location.\";s:13:\"discriminator\";s:11:\"@odata.type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  discriminator for derived types.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"@odata.type\";}s:4:\"type\";s:6:\"object\";}s:60:\"ContentKeyPolicyPlayReadyExplicitAnalogTelevisionRestriction\";O:8:\"stdClass\":4:{s:11:\"description\";s:130:\"Configures
  the Explicit Analog Television Output Restriction control bits. For further details
  see the PlayReady Compliance Rules.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"bestEffort\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Indicates
  whether this restriction is enforced on a Best Effort basis.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"configurationData\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Configures
  the restriction control bits. Must be between 0 and 3 inclusive.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:10:\"bestEffort\";i:1;s:17:\"configurationData\";}s:4:\"type\";s:6:\"object\";}s:32:\"ContentKeyPolicyPlayReadyLicense\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"The
  PlayReady license\";s:10:\"properties\";O:8:\"stdClass\":10:{s:16:\"allowTestDevices\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"A
  flag indicating whether test devices can use the license.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"beginDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  begin date of license\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"contentKeyLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/ContentKeyPolicyPlayReadyContentKeyLocation\";s:11:\"description\";s:25:\"The
  content key location.\";}s:11:\"contentType\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"The
  PlayReady content type.\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:11:\"Unspecified\";i:2;s:19:\"UltraVioletDownload\";i:3;s:20:\"UltraVioletStreaming\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:17:\"modelAsExtensible\";b:1;s:4:\"name\";s:36:\"ContentKeyPolicyPlayReadyContentType\";s:6:\"values\";a:4:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Represents
  a ContentKeyPolicyPlayReadyContentType that is unavailable in current API version.\";s:5:\"value\";s:7:\"Unknown\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Unspecified
  content type.\";s:5:\"value\";s:11:\"Unspecified\";}i:2;O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Ultraviolet
  download content type.\";s:5:\"value\";s:19:\"UltraVioletDownload\";}i:3;O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Ultraviolet
  streaming content type.\";s:5:\"value\";s:20:\"UltraVioletStreaming\";}}}}s:14:\"expirationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  expiration date of license.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"gracePeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  grace period of license.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:11:\"licenseType\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  license type.\";s:4:\"enum\";a:3:{i:0;s:7:\"Unknown\";i:1;s:13:\"NonPersistent\";i:2;s:10:\"Persistent\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:17:\"modelAsExtensible\";b:1;s:4:\"name\";s:36:\"ContentKeyPolicyPlayReadyLicenseType\";s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Represents
  a ContentKeyPolicyPlayReadyLicenseType that is unavailable in current API version.\";s:5:\"value\";s:7:\"Unknown\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Non
  persistent license.\";s:5:\"value\";s:13:\"NonPersistent\";}i:2;O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Persistent
  license. Allows offline playback.\";s:5:\"value\";s:10:\"Persistent\";}}}}s:9:\"playRight\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/ContentKeyPolicyPlayReadyPlayRight\";s:11:\"description\";s:21:\"The
  license PlayRight\";}s:17:\"relativeBeginDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  relative begin date of license.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:22:\"relativeExpirationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  relative expiration date of license.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:16:\"allowTestDevices\";i:1;s:11:\"licenseType\";i:2;s:18:\"contentKeyLocation\";i:3;s:11:\"contentType\";}s:4:\"type\";s:6:\"object\";}s:34:\"ContentKeyPolicyPlayReadyPlayRight\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Configures
  the Play Right in the PlayReady license.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:28:\"agcAndColorStripeRestriction\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Configures
  Automatic Gain Control (AGC) and Color Stripe in the license. Must be between 0
  and 3 inclusive.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:39:\"allowPassingVideoContentToUnknownOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Configures
  Unknown output handling settings of the license.\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:10:\"NotAllowed\";i:2;s:7:\"Allowed\";i:3;s:28:\"AllowedWithVideoConstriction\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:17:\"modelAsExtensible\";b:1;s:4:\"name\";s:51:\"ContentKeyPolicyPlayReadyUnknownOutputPassingOption\";s:6:\"values\";a:4:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Represents
  a ContentKeyPolicyPlayReadyUnknownOutputPassingOption that is unavailable in current
  API version.\";s:5:\"value\";s:7:\"Unknown\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Passing
  the video portion of protected content to an Unknown Output is not allowed.\";s:5:\"value\";s:10:\"NotAllowed\";}i:2;O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Passing
  the video portion of protected content to an Unknown Output is allowed.\";s:5:\"value\";s:7:\"Allowed\";}i:3;O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Passing
  the video portion of protected content to an Unknown Output is allowed but with
  constrained resolution.\";s:5:\"value\";s:28:\"AllowedWithVideoConstriction\";}}}}s:14:\"analogVideoOpl\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Specifies
  the output protection level for compressed digital audio.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"compressedDigitalAudioOpl\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Specifies
  the output protection level for compressed digital audio.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"compressedDigitalVideoOpl\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Specifies
  the output protection level for compressed digital video.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:34:\"digitalVideoOnlyContentRestriction\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Enables
  the Image Constraint For Analog Component Video Restriction in the license.\";s:4:\"type\";s:7:\"boolean\";}s:41:\"explicitAnalogTelevisionOutputRestriction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:74:\"#/definitions/ContentKeyPolicyPlayReadyExplicitAnalogTelevisionRestriction\";s:11:\"description\";s:130:\"Configures
  the Explicit Analog Television Output Restriction in the license. Configuration
  data must be between 0 and 3 inclusive.\";}s:19:\"firstPlayExpiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  amount of time that the license is valid after the license is first used to play
  content.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:49:\"imageConstraintForAnalogComponentVideoRestriction\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Enables
  the Image Constraint For Analog Component Video Restriction in the license.\";s:4:\"type\";s:7:\"boolean\";}s:50:\"imageConstraintForAnalogComputerMonitorRestriction\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Enables
  the Image Constraint For Analog Component Video Restriction in the license.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"scmsRestriction\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"Configures
  the Serial Copy Management System (SCMS) in the license. Must be between 0 and 3
  inclusive.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:27:\"uncompressedDigitalAudioOpl\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Specifies
  the output protection level for uncompressed digital audio.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:27:\"uncompressedDigitalVideoOpl\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Specifies
  the output protection level for uncompressed digital video.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:4:{i:0;s:34:\"digitalVideoOnlyContentRestriction\";i:1;s:49:\"imageConstraintForAnalogComponentVideoRestriction\";i:2;s:50:\"imageConstraintForAnalogComputerMonitorRestriction\";i:3;s:39:\"allowPassingVideoContentToUnknownOutput\";}s:4:\"type\";s:6:\"object\";}s:26:\"ContentKeyPolicyProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  properties of the Content Key Policy.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"created\";O:8:\"stdClass\":5:{s:11:\"description\";s:31:\"The
  creation date of the Policy\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:0;}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"A
  description for the Policy.\";s:4:\"type\";s:6:\"string\";}s:12:\"lastModified\";O:8:\"stdClass\":5:{s:11:\"description\";s:36:\"The
  last modified date of the Policy\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:0;}s:7:\"options\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  Key Policy options.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ContentKeyPolicyOption\";}s:4:\"type\";s:5:\"array\";}s:8:\"policyId\";O:8:\"stdClass\":5:{s:11:\"description\";s:21:\"The
  legacy Policy ID.\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:0;}}s:8:\"required\";a:1:{i:0;s:7:\"options\";}s:4:\"type\";s:6:\"object\";}s:27:\"ContentKeyPolicyRestriction\";O:8:\"stdClass\":5:{s:11:\"description\";s:101:\"Base
  class for Content Key Policy restrictions. A derived class must be used to create
  a restriction.\";s:13:\"discriminator\";s:11:\"@odata.type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  discriminator for derived types.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"@odata.type\";}s:4:\"type\";s:6:\"object\";}s:35:\"ContentKeyPolicyRestrictionTokenKey\";O:8:\"stdClass\":5:{s:11:\"description\";s:111:\"Base
  class for Content Key Policy key for token validation. A derived class must be used
  to create a token key.\";s:13:\"discriminator\";s:11:\"@odata.type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  discriminator for derived types.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"@odata.type\";}s:4:\"type\";s:6:\"object\";}s:27:\"ContentKeyPolicyRsaTokenKey\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/ContentKeyPolicyRestrictionTokenKey\";}}s:11:\"description\";s:40:\"Specifies
  a RSA key for token validation\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"exponent\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  RSA Parameter exponent\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:7:\"modulus\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  RSA Parameter modulus\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"exponent\";i:1;s:7:\"modulus\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:44:\"#Microsoft.Media.ContentKeyPolicyRsaTokenKey\";}s:33:\"ContentKeyPolicySymmetricTokenKey\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/ContentKeyPolicyRestrictionTokenKey\";}}s:11:\"description\";s:47:\"Specifies
  a symmetric key for token validation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"keyValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  key value of the key\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"keyValue\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:50:\"#Microsoft.Media.ContentKeyPolicySymmetricTokenKey\";}s:26:\"ContentKeyPolicyTokenClaim\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Represents
  a token claim.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"claimType\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Token
  claim type.\";s:4:\"type\";s:6:\"string\";}s:10:\"claimValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Token
  claim value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ContentKeyPolicyTokenRestriction\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ContentKeyPolicyRestriction\";}}s:11:\"description\";s:116:\"Represents
  a token restriction. Provided token must match these requirements for successful
  license or key delivery.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:25:\"alternateVerificationKeys\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"A
  list of alternative verification keys.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/ContentKeyPolicyRestrictionTokenKey\";}s:4:\"type\";s:5:\"array\";}s:8:\"audience\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  audience for the token.\";s:4:\"type\";s:6:\"string\";}s:6:\"issuer\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  token issuer.\";s:4:\"type\";s:6:\"string\";}s:30:\"openIdConnectDiscoveryDocument\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  OpenID connect discovery document.\";s:4:\"type\";s:6:\"string\";}s:22:\"primaryVerificationKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/ContentKeyPolicyRestrictionTokenKey\";s:11:\"description\";s:29:\"The
  primary verification key.\";}s:14:\"requiredClaims\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  list of required token claims.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ContentKeyPolicyTokenClaim\";}s:4:\"type\";s:5:\"array\";}s:20:\"restrictionTokenType\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"The
  type of token.\";s:4:\"enum\";a:3:{i:0;s:7:\"Unknown\";i:1;s:3:\"Swt\";i:2;s:3:\"Jwt\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:17:\"modelAsExtensible\";b:1;s:4:\"name\";s:36:\"ContentKeyPolicyRestrictionTokenType\";s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Represents
  a ContentKeyPolicyRestrictionTokenType that is unavailable in current API version.\";s:5:\"value\";s:7:\"Unknown\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Simple
  Web Token.\";s:5:\"value\";s:3:\"Swt\";}i:2;O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"JSON
  Web Token.\";s:5:\"value\";s:3:\"Jwt\";}}}}}s:8:\"required\";a:4:{i:0;s:6:\"issuer\";i:1;s:8:\"audience\";i:2;s:22:\"primaryVerificationKey\";i:3;s:20:\"restrictionTokenType\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:49:\"#Microsoft.Media.ContentKeyPolicyTokenRestriction\";}s:36:\"ContentKeyPolicyUnknownConfiguration\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ContentKeyPolicyConfiguration\";}}s:11:\"description\";s:90:\"Represents
  a ContentKeyPolicyConfiguration that is unavailable in the current API version.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:53:\"#Microsoft.Media.ContentKeyPolicyUnknownConfiguration\";}s:34:\"ContentKeyPolicyUnknownRestriction\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ContentKeyPolicyRestriction\";}}s:11:\"description\";s:88:\"Represents
  a ContentKeyPolicyRestriction that is unavailable in the current API version.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:51:\"#Microsoft.Media.ContentKeyPolicyUnknownRestriction\";}s:37:\"ContentKeyPolicyWidevineConfiguration\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ContentKeyPolicyConfiguration\";}}s:11:\"description\";s:48:\"Specifies
  a configuration for Widevine licenses.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"widevineTemplate\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  Widevine template.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:16:\"widevineTemplate\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:54:\"#Microsoft.Media.ContentKeyPolicyWidevineConfiguration\";}s:39:\"ContentKeyPolicyX509CertificateTokenKey\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/ContentKeyPolicyRestrictionTokenKey\";}}s:11:\"description\";s:45:\"Specifies
  a certificate for token validation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"rawBody\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  raw data field of a certificate in PKCS 12 format (X509Certificate2 in .NET)\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"rawBody\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:56:\"#Microsoft.Media.ContentKeyPolicyX509CertificateTokenKey\";}s:10:\"ODataError\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Information
  about an error.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"A
  language-independent error name.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  error details.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ODataError\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  error message.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  target of the error (for example, the name of the property in error).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
