---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:59:\"Azure Cosmos DB
  Database Service Resource Provider REST API\";s:5:\"title\";s:9:\"Cosmos DB\";s:7:\"version\";s:10:\"2015-04-08\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:162:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08/cosmos-db.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:9:\"cosmos-db\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"azure_cosmos_db\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.DocumentDB/databaseAccountNames/{accountName}:
    head:
      description: Checks that the Azure Cosmos DB account name already exists. A
        valid account name may contain only lowercase letters, numbers, and the '-'
        character, and must be between 3 and 50 characters.
      operationId: DatabaseAccounts_CheckNameExists
      parameters:
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The account name is valid but is already in use.
        404:
          description: Not Found. The account name is available and valid.
      x-ms-examples:
        CosmosDBDatabaseAccountCheckNameExists:
          parameters:
            accountName: ddb1
            api-version: "2015-04-08"
          responses:
            200: []
            404: []
  /providers/Microsoft.DocumentDB/operations:
    get:
      description: Lists all of the available Cosmos DB Resource Provider operations.
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationListResult'
      tags:
      - Operations
      x-ms-examples:
        CosmosDBOperationsList:
          parameters:
            api-version: "2015-04-08"
          responses:
            200:
              body:
                value:
                - display:
                    Description: description
                    Operation: operationName
                    Provider: providerName
                    Resource: resourceName
                  name: operationName
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/databaseAccounts:
    get:
      description: Lists all the Azure Cosmos DB database accounts available under
        the subscription.
      operationId: DatabaseAccounts_List
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseAccountsListResult'
      x-ms-examples:
        CosmosDBDatabaseAccountList:
          parameters:
            api-version: "2015-04-08"
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                  kind: GlobalDocumentDB
                  location: West US
                  name: ddb1
                  properties:
                    consistencyPolicy:
                      defaultConsistencyLevel: Session
                      maxIntervalInSeconds: 5
                      maxStalenessPrefix: 100
                    databaseAccountOfferType: Standard
                    documentEndpoint: https://ddb1.documents.azure.com:443/
                    failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                    ipRangeFilter: ""
                    provisioningState: Succeeded
                    readLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                    writeLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                  tags: []
                  type: Microsoft.DocumentDB/databaseAccounts
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts:
    get:
      description: Lists all the Azure Cosmos DB database accounts available under
        the given resource group.
      operationId: DatabaseAccounts_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseAccountsListResult'
      x-ms-examples:
        CosmosDBDatabaseAccountListByResourceGroup:
          parameters:
            api-version: "2015-04-08"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                  kind: GlobalDocumentDB
                  location: West US
                  name: ddb1
                  properties:
                    consistencyPolicy:
                      defaultConsistencyLevel: Session
                      maxIntervalInSeconds: 5
                      maxStalenessPrefix: 100
                    databaseAccountOfferType: Standard
                    documentEndpoint: https://ddb1.documents.azure.com:443/
                    failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                    ipRangeFilter: ""
                    provisioningState: Succeeded
                    readLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                    writeLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                  tags: []
                  type: Microsoft.DocumentDB/databaseAccounts
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}:
    delete:
      description: Deletes an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_Delete
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        202:
          description: The database account delete operation will complete asynchronously.
        204:
          description: The specified account does not exist in the subscription.
      x-ms-examples:
        CosmosDBDatabaseAccountDelete:
          parameters:
            accountName: ddb1
            api-version: "2015-04-08"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            202: []
            204: []
      x-ms-long-running-operation: true
    get:
      description: Retrieves the properties of an existing Azure Cosmos DB database
        account.
      operationId: DatabaseAccounts_Get
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The database account properties were retrieved successfully.
          schema:
            $ref: '#/definitions/DatabaseAccount'
      x-ms-examples:
        CosmosDBDatabaseAccountGet:
          parameters:
            accountName: ddb1
            api-version: "2015-04-08"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  documentEndpoint: https://ddb1.documents.azure.com:443/
                  failoverPolicies:
                  - failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                  ipRangeFilter: ""
                  isVirtualNetworkFilterEnabled: false
                  provisioningState: Succeeded
                  readLocations:
                  - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                    failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                    provisioningState: Succeeded
                  virtualNetworkRules: []
                  writeLocations:
                  - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                    failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                    provisioningState: Succeeded
                tags: []
                type: Microsoft.DocumentDB/databaseAccounts
    patch:
      description: Patches the properties of an existing Azure Cosmos DB database
        account.
      operationId: DatabaseAccounts_Patch
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: The tags parameter to patch for the current database account.
        in: body
        name: updateParameters
        required: true
        schema:
          $ref: '#/definitions/DatabaseAccountPatchParameters'
      responses:
        200:
          description: The properties of the database account were patched successfully.
          schema:
            $ref: '#/definitions/DatabaseAccount'
      x-ms-examples:
        CosmosDBDatabaseAccountPatch:
          parameters:
            accountName: ddb1
            api-version: "2015-04-08"
            resourceGroupName: rg1
            subscriptionId: subid
            updateParameters:
              tags:
                dept: finance
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  documentEndpoint: https://ddb1.documents.azure.com:443/
                  failoverPolicies:
                  - failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                  ipRangeFilter: ""
                  provisioningState: Succeeded
                  readLocations:
                  - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                    failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                    provisioningState: Succeeded
                  writeLocations:
                  - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                    failoverPriority: 0
                    id: ddb1-eastus
                    locationName: East US
                    provisioningState: Succeeded
                tags: []
                type: Microsoft.DocumentDB/databaseAccounts
      x-ms-long-running-operation: true
    put:
      description: Creates or updates an Azure Cosmos DB database account.
      operationId: DatabaseAccounts_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: The parameters to provide for the current database account.
        in: body
        name: createUpdateParameters
        required: true
        schema:
          $ref: '#/definitions/DatabaseAccountCreateUpdateParameters'
      responses:
        200:
          description: The database account create or update operation will complete
            asynchronously.
          schema:
            $ref: '#/definitions/DatabaseAccount'
      x-ms-examples:
        CosmosDBDatabaseAccountCreateMax:
          parameters:
            accountName: ddb1
            api-version: "2015-04-08"
            createUpdateParameters:
              kind: GlobalDocumentDB
              location: westus
              properties:
                consistencyPolicy:
                  defaultConsistencyLevel: BoundedStaleness
                  maxIntervalInSeconds: 10
                  maxStalenessPrefix: 200
                databaseAccountOfferType: Standard
                ipRangeFilter: 10.10.10.10
                isVirtualNetworkFilterEnabled: true
                locations:
                - failoverPriority: 0
                  locationName: southcentralus
                - failoverPriority: 1
                  locationName: eastus
                virtualNetworkRules:
                - id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
              tags: []
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: BoundedStaleness
                    maxIntervalInSeconds: 10
                    maxStalenessPrefix: 200
                  databaseAccountOfferType: Standard
                  failoverPolicies:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    locationName: South Central US
                  - failoverPriority: 1
                    id: ddb1-eastus
                    locationName: East US
                  ipRangeFilter: 10.10.10.10
                  isVirtualNetworkFilterEnabled: true
                  provisioningState: Initializing
                  readLocations:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    locationName: South Central US
                    provisioningState: Initializing
                  - failoverPriority: 1
                    id: ddb1-eastus
                    locationName: East US
                    provisioningState: Initializing
                  virtualNetworkRules:
                  - id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                  writeLocations:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    locationName: South Central US
                    provisioningState: Initializing
                tags: []
                type: Microsoft.DocumentDB/databaseAccounts
        CosmosDBDatabaseAccountCreateMin:
          parameters:
            accountName: ddb1
            api-version: "2015-04-08"
            createUpdateParameters:
              location: westus
              properties:
                databaseAccountOfferType: Standard
                locations:
                - failoverPriority: 0
                  locationName: southcentralus
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  failoverPolicies:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    locationName: South Central US
                  ipRangeFilter: ""
                  provisioningState: Initializing
                  readLocations:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    locationName: South Central US
                    provisioningState: Initializing
                  writeLocations:
                  - failoverPriority: 0
                    id: ddb1-southcentralus
                    locationName: South Central US
                    provisioningState: Initializing
                tags: []
                type: Microsoft.DocumentDB/databaseAccounts
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metricDefinitions
  : get:
      description: Retrieves metric defintions for the given collection.
      operationId: Collection_ListMetricDefinitions
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/databaseRidParameter'
      - $ref: '#/parameters/collectionRidParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The metric definitions for the collection were retrieved successfully.
          schema:
            $ref: '#/definitions/MetricDefinitionsListResult'
      x-ms-examples:
        CosmosDBCollectionGetMetricDefinitions:
          parameters:
            accountName: ddb1
            api-version: "2015-04-08"
            collectionRid: collectionRid
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - metricAvailabilities:
                  - retention: P2D
                    timeGrain: PT5M
                  - retention: P14D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Total Requests
                    value: Total Requests
                  primaryAggregationType: Total
                  resourceUri: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                  unit: Count
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metrics
  : get:
      description: Retrieves the metrics determined by the given filter for the given
        database account and collection.
      operationId: Collection_ListMetrics
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/databaseRidParameter'
      - $ref: '#/parameters/collectionRidParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/filterParameter'
      responses:
        200:
          description: The metrics for the database account were retrieved successfully.
          schema:
            $ref: '#/definitions/MetricListResult'
      x-ms-examples:
        CosmosDBCollectionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Total Requests') and timeGrain eq duration'PT5M'
              and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime eq '2017-11-20T00:13:55.2780000Z
            accountName: ddb1
            api-version: "2015-04-08"
            collectionRid: collectionRid
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - endTime: "2017-11-20T00:13:55.2780000Z"
                  metricValues:
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-19T23:53:55.2780000Z"
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-19T23:58:55.2780000Z"
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-20T00:03:55.2780000Z"
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-20T00:08:55.2780000Z"
                    total: 0
                  name:
                    localizedValue: Total Requests
                    value: Total Requests
                  startTime: "2017-11-19T23:53:55.2780000Z"
                  timeGrain: PT5M
                  unit: Count
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitionKeyRangeId/{partitionKeyRangeId}/metrics
  : get:
      description: Retrieves the metrics determined by the given filter for the given
        partition key range id.
      operationId: PartitionKeyRangeId_ListMetrics
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/databaseRidParameter'
      - $ref: '#/parameters/collectionRidParameter'
      - $ref: '#/parameters/partitionKeyRangeIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/filterParameter'
      responses:
        200:
          description: The partition-level metrics for the partition key range id
            were retrieved successfully.
          schema:
            $ref: '#/definitions/PartitionMetricListResult'
      x-ms-examples:
        CosmosDBDatabaseAccountRegionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Max RUs Per Second') and timeGrain eq
              duration'PT1M' and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime
              eq '2017-11-20T23:58:55.2780000Z
            accountName: ddb1
            api-version: "2015-04-08"
            collectionRid: collectionRid
            databaseRid: databaseRid
            partitionKeyRangeId: "0"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - endTime: "2017-11-20T23:58:55.2780000Z"
                  metricValues:
                  - maximum: 5
                    timestamp: "2017-11-19T23:53:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:54:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:55:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:56:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:57:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:58:55.2780000Z"
                  name:
                    localizedValue: Max RUs Per Second
                    value: Max RUs Per Second
                  partitionId: 00000000-0000-0000-0000-000000000000
                  partitionKeyRangeId: "0"
                  startTime: "2017-11-19T23:53:55.2780000Z"
                  timeGrain: PT1M
                  unit: Count
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitions/metrics
  : get:
      description: Retrieves the metrics determined by the given filter for the given
        collection, split by partition.
      operationId: CollectionPartition_ListMetrics
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/databaseRidParameter'
      - $ref: '#/parameters/collectionRidParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/filterParameter'
      responses:
        200:
          description: The partition-level metrics for the collection were retrieved
            successfully.
          schema:
            $ref: '#/definitions/PartitionMetricListResult'
      x-ms-examples:
        CosmosDBDatabaseAccountRegionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Max RUs Per Second') and timeGrain eq
              duration'PT1M' and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime
              eq '2017-11-20T23:58:55.2780000Z
            accountName: ddb1
            api-version: "2015-04-08"
            collectionRid: collectionRid
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - endTime: "2017-11-20T23:58:55.2780000Z"
                  metricValues:
                  - maximum: 5
                    timestamp: "2017-11-19T23:53:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:54:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:55:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:56:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:57:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:58:55.2780000Z"
                  name:
                    localizedValue: Max RUs Per Second
                    value: Max RUs Per Second
                  partitionId: 00000000-0000-0000-0000-000000000000
                  partitionKeyRangeId: "0"
                  startTime: "2017-11-19T23:53:55.2780000Z"
                  timeGrain: PT1M
                  unit: Count
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitions/usages
  : get:
      description: Retrieves the usages (most recent storage data) for the given collection,
        split by partition.
      operationId: CollectionPartition_ListUsages
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/databaseRidParameter'
      - $ref: '#/parameters/collectionRidParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/usageFilterParameter'
      responses:
        200:
          description: The usages for the collection, per partition were retrieved
            successfully.
          schema:
            $ref: '#/definitions/PartitionUsagesResult'
      x-ms-examples:
        CosmosDBCollectionGetUsages:
          parameters:
            $filter: $filter=name.value eq 'Partition Storage'
            accountName: ddb1
            api-version: "2015-04-08"
            collectionRid: collectionRid
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - currentValue: 0
                  limit: 10737418240
                  name:
                    localizedValue: Storage
                    value: Storage
                  partitionId: 00000000-0000-0000-0000-000000000000
                  partitionKeyRangeId: "0"
                  quotaPeriod: P1D
                  unit: Bytes
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/usages
  : get:
      description: Retrieves the usages (most recent storage data) for the given collection.
      operationId: Collection_ListUsages
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/databaseRidParameter'
      - $ref: '#/parameters/collectionRidParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/usageFilterParameter'
      responses:
        200:
          description: The usages for the collection were retrieved successfully.
          schema:
            $ref: '#/definitions/UsagesResult'
      x-ms-examples:
        CosmosDBCollectionGetUsages:
          parameters:
            $filter: $filter=name.value eq 'Storage'
            accountName: ddb1
            api-version: "2015-04-08"
            collectionRid: collectionRid
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - currentValue: 0
                  limit: 10737418240
                  name:
                    localizedValue: Storage
                    value: Storage
                  quotaPeriod: P1D
                  unit: Bytes
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/metricDefinitions
  : get:
      description: Retrieves metric defintions for the given database.
      operationId: Database_ListMetricDefinitions
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/databaseRidParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The metric definitions for the database were retrieved successfully.
          schema:
            $ref: '#/definitions/MetricDefinitionsListResult'
      x-ms-examples:
        CosmosDBDatabaseGetMetricDefinitions:
          parameters:
            accountName: ddb1
            api-version: "2015-04-08"
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - metricAvailabilities:
                  - retention: P2D
                    timeGrain: PT5M
                  - retention: P14D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Total Requests
                    value: Total Requests
                  primaryAggregationType: Total
                  resourceUri: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                  unit: Count
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/metrics
  : get:
      description: Retrieves the metrics determined by the given filter for the given
        database account and database.
      operationId: Database_ListMetrics
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/databaseRidParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/filterParameter'
      responses:
        200:
          description: The metrics for the database account were retrieved successfully.
          schema:
            $ref: '#/definitions/MetricListResult'
      x-ms-examples:
        CosmosDBDatabaseGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Total Requests') and timeGrain eq duration'PT5M'
              and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime eq '2017-11-20T00:13:55.2780000Z
            accountName: ddb1
            api-version: "2015-04-08"
            databaseRid: rid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - endTime: "2017-11-20T00:13:55.2780000Z"
                  metricValues:
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-19T23:53:55.2780000Z"
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-19T23:58:55.2780000Z"
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-20T00:03:55.2780000Z"
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-20T00:08:55.2780000Z"
                    total: 0
                  name:
                    localizedValue: Total Requests
                    value: Total Requests
                  startTime: "2017-11-19T23:53:55.2780000Z"
                  timeGrain: PT5M
                  unit: Count
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/usages
  : get:
      description: Retrieves the usages (most recent data) for the given database.
      operationId: Database_ListUsages
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/databaseRidParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/usageFilterParameter'
      responses:
        200:
          description: The usages for the database were retrieved successfully.
          schema:
            $ref: '#/definitions/UsagesResult'
      x-ms-examples:
        CosmosDBDatabaseGetUsages:
          parameters:
            $filter: $filter=name.value eq 'Storage'
            accountName: ddb1
            api-version: "2015-04-08"
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - currentValue: 0
                  limit: 10737418240
                  name:
                    localizedValue: Storage
                    value: Storage
                  quotaPeriod: P1D
                  unit: Bytes
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/failoverPriorityChange
  : post:
      description: Changes the failover priority for the Azure Cosmos DB database
        account. A failover priority of 0 indicates a write region. The maximum value
        for a failover priority = (total number of regions - 1). Failover priority
        values must be unique for each of the regions in which the database account
        exists.
      operationId: DatabaseAccounts_FailoverPriorityChange
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: The new failover policies for the database account.
        in: body
        name: failoverParameters
        required: true
        schema:
          $ref: '#/definitions/FailoverPolicies'
      responses:
        202:
          description: Accepted. The failover policy change operation will complete
            asynchronously.
        204:
          description: No Content
      x-ms-examples:
        CosmosDBDatabaseAccountFailoverPriorityChange:
          parameters:
            accountName: ddb1-failover
            api-version: "2015-04-08"
            failoverParameters:
              failoverPolicies:
              - failoverPriority: 0
                locationName: eastus
              - failoverPriority: 1
                locationName: westus
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            202: []
            204: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listConnectionStrings
  : post:
      description: Lists the connection strings for the specified Azure Cosmos DB
        database account.
      operationId: DatabaseAccounts_ListConnectionStrings
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseAccountListConnectionStringsResult'
      x-ms-examples:
        CosmosDBDatabaseAccountListConnectionStrings:
          parameters:
            accountName: ddb1
            api-version: "2015-04-08"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body: []
        CosmosDBDatabaseAccountListConnectionStringsMongo:
          parameters:
            accountName: mongo-ddb1
            api-version: "2015-04-08"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                connectionStrings:
                - connectionString: connection-string
                  description: Name of the connection string
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listKeys
  : post:
      description: Lists the access keys for the specified Azure Cosmos DB database
        account.
      operationId: DatabaseAccounts_ListKeys
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseAccountListKeysResult'
      x-ms-examples:
        CosmosDBDatabaseAccountListKeys:
          parameters:
            accountName: ddb1
            api-version: "2015-04-08"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                primaryMasterKey: primaryMasterKey
                properties:
                  primaryReadonlyMasterKey: primaryReadonlyMasterKey
                  secondaryReadonlyMasterKey: secondaryReadonlyMasterKey
                secondaryMasterKey: secondaryMasterKey
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/metricDefinitions
  : get:
      description: Retrieves metric defintions for the given database account.
      operationId: DatabaseAccounts_ListMetricDefinitions
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The metric definitions for the database account were retrieved
            successfully.
          schema:
            $ref: '#/definitions/MetricDefinitionsListResult'
      x-ms-examples:
        CosmosDBDatabaseAccountGetMetricDefinitions:
          parameters:
            accountName: ddb1
            api-version: "2015-04-08"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - metricAvailabilities:
                  - retention: P2D
                    timeGrain: PT5M
                  - retention: P14D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Total Requests
                    value: Total Requests
                  primaryAggregationType: Total
                  resourceUri: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                  unit: Count
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/metrics
  : get:
      description: Retrieves the metrics determined by the given filter for the given
        database account.
      operationId: DatabaseAccounts_ListMetrics
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/filterParameter'
      responses:
        200:
          description: The metrics for the database account were retrieved successfully.
          schema:
            $ref: '#/definitions/MetricListResult'
      x-ms-examples:
        CosmosDBDatabaseAccountGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Total Requests') and timeGrain eq duration'PT5M'
              and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime eq '2017-11-20T00:13:55.2780000Z
            accountName: ddb1
            api-version: "2015-04-08"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - endTime: "2017-11-20T00:13:55.2780000Z"
                  metricValues:
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-19T23:53:55.2780000Z"
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-19T23:58:55.2780000Z"
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-20T00:03:55.2780000Z"
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-20T00:08:55.2780000Z"
                    total: 0
                  name:
                    localizedValue: Total Requests
                    value: Total Requests
                  startTime: "2017-11-19T23:53:55.2780000Z"
                  timeGrain: PT5M
                  unit: Count
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/offlineRegion
  : post:
      description: Offline the specified region for the specified Azure Cosmos DB
        database account.
      operationId: DatabaseAccounts_OfflineRegion
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: Cosmos DB region to offline for the database account.
        in: body
        name: regionParameterForOffline
        required: true
        schema:
          $ref: '#/definitions/RegionForOnlineOffline'
      responses:
        200:
          description: The offline region operation is completed successfully.
        202:
          description: Accepted. The offline region operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        CosmosDBDatabaseAccountOfflineRegion:
          parameters:
            accountName: ddb1
            api-version: "2015-04-08"
            region: North Europe
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200: []
            202: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/onlineRegion
  : post:
      description: Online the specified region for the specified Azure Cosmos DB database
        account.
      operationId: DatabaseAccounts_OnlineRegion
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: Cosmos DB region to online for the database account.
        in: body
        name: regionParameterForOnline
        required: true
        schema:
          $ref: '#/definitions/RegionForOnlineOffline'
      responses:
        200:
          description: The online region operation is completed successfully.
        202:
          description: Accepted. The online region operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        CosmosDBDatabaseAccountOnlineRegion:
          parameters:
            accountName: ddb1
            api-version: "2015-04-08"
            region: North Europe
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200: []
            202: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/percentile/metrics
  : get:
      description: Retrieves the metrics determined by the given filter for the given
        database account. This url is only for PBS and Replication Latency data
      operationId: Percentile_ListMetrics
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/filterParameter'
      responses:
        200:
          description: The percentile metrics for the account were retrieved successfully.
          schema:
            $ref: '#/definitions/PercentileMetricListResult'
      x-ms-examples:
        CosmosDBDatabaseAccountRegionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Probabilistic Bounded Staleness') and
              timeGrain eq duration'PT5M' and startTime eq '2017-11-19T23:53:55.2780000Z'
              and endTime eq '2017-11-20T00:13:55.2780000Z
            accountName: ddb1
            api-version: "2015-04-08"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - endTime: "2017-11-20T00:13:55.2780000Z"
                  metricValues:
                  - P10: 1.110000
                    P25: 2.500000
                    P50: 4.340000
                    P75: 5.200000
                    P90: 6.770000
                    P95: 7.100000
                    P99: 8.300000
                    timestamp: "2017-11-19T23:53:55.2780000Z"
                  name:
                    localizedValue: Probabilistic Bounded Staleness-S-West Central
                      US-T-East US
                    value: Probabilistic Bounded Staleness-S-West Central US-T-East
                      US
                  startTime: "2017-11-19T23:53:55.2780000Z"
                  timeGrain: PT5M
                  unit: Milliseconds
                - endTime: "2017-11-20T00:13:55.2780000Z"
                  metricValues:
                  - P10: 1.110000
                    P25: 2.500000
                    P50: 4.340000
                    P75: 5.200000
                    P90: 6.770000
                    P95: 7.100000
                    P99: 8.300000
                    timestamp: "2017-11-19T23:53:55.2780000Z"
                  name:
                    localizedValue: Probabilistic Bounded Staleness-S-West Central
                      US-T-West US
                    value: Probabilistic Bounded Staleness-S-West Central US-T-West
                      US
                  startTime: "2017-11-19T23:53:55.2780000Z"
                  timeGrain: PT5M
                  unit: Milliseconds
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/readonlykeys
  : get:
      description: Lists the read-only access keys for the specified Azure Cosmos
        DB database account.
      operationId: DatabaseAccounts_ListReadOnlyKeys
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/DatabaseAccountListReadOnlyKeysResult'
      x-ms-examples:
        CosmosDBDatabaseAccountListReadOnlyKeys:
          parameters:
            accountName: ddb1
            api-version: "2015-04-08"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                primaryReadonlyMasterKey: primaryReadonlyMasterKey
                secondaryReadonlyMasterKey: secondaryReadonlyMasterKey
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/regenerateKey
  : post:
      description: Regenerates an access key for the specified Azure Cosmos DB database
        account.
      operationId: DatabaseAccounts_RegenerateKey
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: The name of the key to regenerate.
        in: body
        name: keyToRegenerate
        required: true
        schema:
          $ref: '#/definitions/DatabaseAccountRegenerateKeyParameters'
      responses:
        200:
          description: OK
        202:
          description: Accepted. The regenerate key operation will complete asynchronously.
      x-ms-examples:
        CosmosDBDatabaseAccountRegenerateKey:
          parameters:
            accountName: ddb1
            api-version: "2015-04-08"
            keyToRegenerate:
              keyKind: primary
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200: []
            202: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/databases/{databaseRid}/collections/{collectionRid}/metrics
  : get:
      description: Retrieves the metrics determined by the given filter for the given
        database account, collection and region.
      operationId: CollectionRegion_ListMetrics
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/regionParameter'
      - $ref: '#/parameters/databaseRidParameter'
      - $ref: '#/parameters/collectionRidParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/filterParameter'
      responses:
        200:
          description: The metrics for the database account were retrieved successfully.
          schema:
            $ref: '#/definitions/MetricListResult'
      x-ms-examples:
        CosmosDBRegionCollectionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Total Requests') and timeGrain eq duration'PT5M'
              and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime eq '2017-11-20T00:13:55.2780000Z
            accountName: ddb1
            api-version: "2015-04-08"
            collectionRid: collectionRid
            databaseRid: databaseRid
            region: North Europe
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - endTime: "2017-11-20T00:13:55.2780000Z"
                  metricValues:
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-19T23:53:55.2780000Z"
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-19T23:58:55.2780000Z"
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-20T00:03:55.2780000Z"
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-20T00:08:55.2780000Z"
                    total: 0
                  name:
                    localizedValue: Total Requests
                    value: Total Requests
                  startTime: "2017-11-19T23:53:55.2780000Z"
                  timeGrain: PT5M
                  unit: Count
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/databases/{databaseRid}/collections/{collectionRid}/partitionKeyRangeId/{partitionKeyRangeId}/metrics
  : get:
      description: Retrieves the metrics determined by the given filter for the given
        partition key range id and region.
      operationId: PartitionKeyRangeIdRegion_ListMetrics
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/regionParameter'
      - $ref: '#/parameters/databaseRidParameter'
      - $ref: '#/parameters/collectionRidParameter'
      - $ref: '#/parameters/partitionKeyRangeIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/filterParameter'
      responses:
        200:
          description: The partition-level metrics for the partition key range id
            and region were retrieved successfully.
          schema:
            $ref: '#/definitions/PartitionMetricListResult'
      x-ms-examples:
        CosmosDBDatabaseAccountRegionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Max RUs Per Second') and timeGrain eq
              duration'PT1M' and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime
              eq '2017-11-20T23:58:55.2780000Z
            accountName: ddb1
            api-version: "2015-04-08"
            collectionRid: collectionRid
            databaseRid: databaseRid
            partitionKeyRangeId: "0"
            region: West US
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - endTime: "2017-11-20T23:58:55.2780000Z"
                  metricValues:
                  - maximum: 5
                    timestamp: "2017-11-19T23:53:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:54:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:55:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:56:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:57:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:58:55.2780000Z"
                  name:
                    localizedValue: Max RUs Per Second
                    value: Max RUs Per Second
                  partitionId: 00000000-0000-0000-0000-000000000000
                  partitionKeyRangeId: "0"
                  startTime: "2017-11-19T23:53:55.2780000Z"
                  timeGrain: PT1M
                  unit: Count
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/databases/{databaseRid}/collections/{collectionRid}/partitions/metrics
  : get:
      description: Retrieves the metrics determined by the given filter for the given
        collection and region, split by partition.
      operationId: CollectionPartitionRegion_ListMetrics
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/regionParameter'
      - $ref: '#/parameters/databaseRidParameter'
      - $ref: '#/parameters/collectionRidParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/filterParameter'
      responses:
        200:
          description: The partition-level metrics for the collection and region were
            retrieved successfully.
          schema:
            $ref: '#/definitions/PartitionMetricListResult'
      x-ms-examples:
        CosmosDBDatabaseAccountRegionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Max RUs Per Second') and timeGrain eq
              duration'PT1M' and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime
              eq '2017-11-20T23:58:55.2780000Z
            accountName: ddb1
            api-version: "2015-04-08"
            collectionRid: collectionRid
            databaseRid: databaseRid
            region: North Europe
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - endTime: "2017-11-20T23:58:55.2780000Z"
                  metricValues:
                  - maximum: 5
                    timestamp: "2017-11-19T23:53:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:54:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:55:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:56:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:57:55.2780000Z"
                  - maximum: 5
                    timestamp: "2017-11-19T23:58:55.2780000Z"
                  name:
                    localizedValue: Max RUs Per Second
                    value: Max RUs Per Second
                  partitionId: 00000000-0000-0000-0000-000000000000
                  partitionKeyRangeId: "0"
                  startTime: "2017-11-19T23:53:55.2780000Z"
                  timeGrain: PT1M
                  unit: Count
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/metrics
  : get:
      description: Retrieves the metrics determined by the given filter for the given
        database account and region.
      operationId: DatabaseAccountRegion_ListMetrics
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/regionParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/filterParameter'
      responses:
        200:
          description: The metrics for the database account were retrieved successfully.
          schema:
            $ref: '#/definitions/MetricListResult'
      x-ms-examples:
        CosmosDBDatabaseAccountRegionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Total Requests') and timeGrain eq duration'PT5M'
              and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime eq '2017-11-20T00:13:55.2780000Z
            accountName: ddb1
            api-version: "2015-04-08"
            region: North Europe
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - endTime: "2017-11-20T00:13:55.2780000Z"
                  metricValues:
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-19T23:53:55.2780000Z"
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-19T23:58:55.2780000Z"
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-20T00:03:55.2780000Z"
                    total: 0
                  - _count: 0
                    average: 0
                    timestamp: "2017-11-20T00:08:55.2780000Z"
                    total: 0
                  name:
                    localizedValue: Total Requests
                    value: Total Requests
                  startTime: "2017-11-19T23:53:55.2780000Z"
                  timeGrain: PT5M
                  unit: Count
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sourceRegion/{sourceRegion}/targetRegion/{targetRegion}/percentile/metrics
  : get:
      description: Retrieves the metrics determined by the given filter for the given
        account, source and target region. This url is only for PBS and Replication
        Latency data
      operationId: PercentileSourceTarget_ListMetrics
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/sourceRegionParameter'
      - $ref: '#/parameters/targetRegionParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/filterParameter'
      responses:
        200:
          description: The percentile metrics for the account, source and target regions
            were retrieved successfully.
          schema:
            $ref: '#/definitions/PercentileMetricListResult'
      x-ms-examples:
        CosmosDBDatabaseAccountRegionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Probabilistic Bounded Staleness') and
              timeGrain eq duration'PT5M' and startTime eq '2017-11-19T23:53:55.2780000Z'
              and endTime eq '2017-11-20T00:13:55.2780000Z
            accountName: ddb1
            api-version: "2015-04-08"
            resourceGroupName: rg1
            sourceRegion: West Central US
            subscriptionId: subid
            targetRegion: East US
          responses:
            200:
              body:
                value:
                - endTime: "2017-11-20T00:13:55.2780000Z"
                  metricValues:
                  - P10: 1.110000
                    P25: 2.500000
                    P50: 4.340000
                    P75: 5.200000
                    P90: 6.770000
                    P95: 7.100000
                    P99: 8.300000
                    timestamp: "2017-11-19T23:53:55.2780000Z"
                  name:
                    localizedValue: Probabilistic Bounded Staleness-S-West Central
                      US-T-East US
                    value: Probabilistic Bounded Staleness-S-West Central US-T-East
                      US
                  startTime: "2017-11-19T23:53:55.2780000Z"
                  timeGrain: PT5M
                  unit: Milliseconds
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/targetRegion/{targetRegion}/percentile/metrics
  : get:
      description: Retrieves the metrics determined by the given filter for the given
        account target region. This url is only for PBS and Replication Latency data
      operationId: PercentileTarget_ListMetrics
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/targetRegionParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/filterParameter'
      responses:
        200:
          description: The percentile metrics for the account and target regions were
            retrieved successfully.
          schema:
            $ref: '#/definitions/PercentileMetricListResult'
      x-ms-examples:
        CosmosDBDatabaseAccountRegionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Probabilistic Bounded Staleness') and
              timeGrain eq duration'PT5M' and startTime eq '2017-11-19T23:53:55.2780000Z'
              and endTime eq '2017-11-20T00:13:55.2780000Z
            accountName: ddb1
            api-version: "2015-04-08"
            resourceGroupName: rg1
            subscriptionId: subid
            targetRegion: East US
          responses:
            200:
              body:
                value:
                - endTime: "2017-11-20T00:13:55.2780000Z"
                  metricValues:
                  - P10: 1.110000
                    P25: 2.500000
                    P50: 4.340000
                    P75: 5.200000
                    P90: 6.770000
                    P95: 7.100000
                    P99: 8.300000
                    timestamp: "2017-11-19T23:53:55.2780000Z"
                  name:
                    localizedValue: Probabilistic Bounded Staleness-S-West Central
                      US-T-East US
                    value: Probabilistic Bounded Staleness-S-West Central US-T-East
                      US
                  startTime: "2017-11-19T23:53:55.2780000Z"
                  timeGrain: PT5M
                  unit: Milliseconds
                - endTime: "2017-11-20T00:13:55.2780000Z"
                  metricValues:
                  - P10: 1.110000
                    P25: 2.500000
                    P50: 4.340000
                    P75: 5.200000
                    P90: 6.770000
                    P95: 7.100000
                    P99: 8.300000
                    timestamp: "2017-11-19T23:53:55.2780000Z"
                  name:
                    localizedValue: Probabilistic Bounded Staleness-S-West Central
                      US-T-West US
                    value: Probabilistic Bounded Staleness-S-West US-T-East US
                  startTime: "2017-11-19T23:53:55.2780000Z"
                  timeGrain: PT5M
                  unit: Milliseconds
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/usages
  : get:
      description: Retrieves the usages (most recent data) for the given database
        account.
      operationId: DatabaseAccounts_ListUsages
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/accountNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/usageFilterParameter'
      responses:
        200:
          description: The usages for the database account were retrieved successfully.
          schema:
            $ref: '#/definitions/UsagesResult'
      x-ms-examples:
        CosmosDBDatabaseAccountGetUsages:
          parameters:
            $filter: $filter=name.value eq 'Storage'
            accountName: ddb1
            api-version: "2015-04-08"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - currentValue: 0
                  limit: 10737418240
                  name:
                    localizedValue: Storage
                    value: Storage
                  quotaPeriod: P1D
                  unit: Bytes
      x-ms-pageable: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":44:{s:10:\"Capability\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Cosmos
  DB capability object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Name
  of the Cosmos DB capability. For example, \"name\": \"EnableCassandra\". Current
  values also include \"EnableTable\" and \"EnableGremlin\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ConsistencyPolicy\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"The
  consistency policy for the Cosmos DB database account.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"defaultConsistencyLevel\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"The
  default consistency level and configuration settings of the Cosmos DB account.\";s:4:\"enum\";a:5:{i:0;s:8:\"Eventual\";i:1;s:7:\"Session\";i:2;s:16:\"BoundedStaleness\";i:3;s:6:\"Strong\";i:4;s:16:\"ConsistentPrefix\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:23:\"DefaultConsistencyLevel\";}}s:20:\"maxIntervalInSeconds\";O:8:\"stdClass\":5:{s:11:\"description\";s:243:\"When
  used with the Bounded Staleness consistency level, this value represents the time
  amount of staleness (in seconds) tolerated. Accepted range for this value is 5 -
  86400. Required when defaultConsistencyPolicy is set to 'BoundedStaleness'.\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:86400;s:7:\"minimum\";i:5;s:4:\"type\";s:7:\"integer\";}s:18:\"maxStalenessPrefix\";O:8:\"stdClass\":5:{s:11:\"description\";s:240:\"When
  used with the Bounded Staleness consistency level, this value represents the number
  of stale requests tolerated. Accepted range for this value is 1 \u2013 2,147,483,647.
  Required when defaultConsistencyPolicy is set to 'BoundedStaleness'.\";s:6:\"format\";s:5:\"int64\";s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:23:\"defaultConsistencyLevel\";}s:4:\"type\";s:6:\"object\";}s:15:\"DatabaseAccount\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:36:\"An
  Azure Cosmos DB database account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":5:{s:7:\"default\";s:16:\"GlobalDocumentDB\";s:11:\"description\";s:90:\"Indicates
  the type of database account. This can only be set at database account creation.\";s:4:\"enum\";a:3:{i:0;s:16:\"GlobalDocumentDB\";i:1;s:7:\"MongoDB\";i:2;s:5:\"Parse\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:19:\"DatabaseAccountKind\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/DatabaseAccountProperties\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:31:\"DatabaseAccountConnectionString\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Connection
  string for the Cosmos DB account\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"connectionString\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Value
  of the connection string\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Description
  of the connection string\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:37:\"DatabaseAccountCreateUpdateParameters\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:60:\"Parameters
  to create and update Cosmos DB database accounts.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":5:{s:7:\"default\";s:16:\"GlobalDocumentDB\";s:11:\"description\";s:90:\"Indicates
  the type of database account. This can only be set at database account creation.\";s:4:\"enum\";a:3:{i:0;s:16:\"GlobalDocumentDB\";i:1;s:7:\"MongoDB\";i:2;s:5:\"Parse\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:19:\"DatabaseAccountKind\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/DatabaseAccountCreateUpdateProperties\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}s:37:\"DatabaseAccountCreateUpdateProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Properties
  to create and update Azure Cosmos DB database accounts.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"capabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"List
  of Cosmos DB capabilities for the account\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Capability\";}s:4:\"type\";s:5:\"array\";}s:17:\"consistencyPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ConsistencyPolicy\";s:11:\"description\";s:49:\"The
  consistency policy for the Cosmos DB account.\";}s:24:\"databaseAccountOfferType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/DatabaseAccountOfferType\";}s:23:\"enableAutomaticFailover\";O:8:\"stdClass\":2:{s:11:\"description\";s:257:\"Enables
  automatic failover of the write region in the rare event that the region is unavailable
  due to an outage. Automatic failover will result in a new write region for the account
  and is chosen based on the failover priorities configured for the account.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"ipRangeFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/IPRangeFilter\";s:11:\"description\";s:262:\"Cosmos
  DB Firewall Support: This value specifies the set of IP addresses or IP address
  ranges in CIDR form to be included as the allowed list of client IPs for a given
  database account. IP addresses/ranges must be comma separated and must not contain
  any spaces.\";}s:29:\"isVirtualNetworkFilterEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Flag
  to indicate whether to enable/disable Virtual Network ACL rules.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"An
  array that contains the georeplication locations enabled for the Cosmos DB account.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";}s:19:\"virtualNetworkRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"List
  of Virtual Network ACL rules configured for the Cosmos DB account.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/VirtualNetworkRule\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:9:\"locations\";i:1;s:24:\"databaseAccountOfferType\";}s:4:\"type\";s:6:\"object\";}s:42:\"DatabaseAccountListConnectionStringsResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  connection strings for the given database account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"connectionStrings\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"An
  array that contains the connection strings for the Cosmos DB account.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/DatabaseAccountConnectionString\";}s:4:\"type\";s:5:\"array\";}}}s:29:\"DatabaseAccountListKeysResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  access keys for the given database account.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"primaryMasterKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Base
  64 encoded value of the primary read-write key.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/DatabaseAccountListReadOnlyKeysResult\";s:19:\"x-ms-client-flatten\";b:1;}s:18:\"secondaryMasterKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Base
  64 encoded value of the secondary read-write key.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:37:\"DatabaseAccountListReadOnlyKeysResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  read-only access keys for the given database account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"primaryReadonlyMasterKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Base
  64 encoded value of the primary read-only key.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:26:\"secondaryReadonlyMasterKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Base
  64 encoded value of the secondary read-only key.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:24:\"DatabaseAccountOfferType\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  offer type for the Cosmos DB database account.\";s:4:\"enum\";a:1:{i:0;s:8:\"Standard\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:24:\"DatabaseAccountOfferType\";}}s:30:\"DatabaseAccountPatchParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Parameters
  for patching Azure Cosmos DB database account properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/DatabaseAccountPatchProperties\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DatabaseAccountPatchProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Properties
  to update Azure Cosmos DB database accounts.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"capabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"List
  of Cosmos DB capabilities for the account\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Capability\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DatabaseAccountProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Properties
  for the database account.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"capabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"List
  of Cosmos DB capabilities for the account\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Capability\";}s:4:\"type\";s:5:\"array\";}s:17:\"consistencyPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ConsistencyPolicy\";s:11:\"description\";s:58:\"The
  consistency policy for the Cosmos DB database account.\";}s:24:\"databaseAccountOfferType\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:38:\"#/definitions/DatabaseAccountOfferType\";s:11:\"description\";s:75:\"The
  offer type for the Cosmos DB database account. Default value: Standard.\";s:8:\"readOnly\";b:1;}s:16:\"documentEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  connection endpoint for the Cosmos DB database account.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:23:\"enableAutomaticFailover\";O:8:\"stdClass\":2:{s:11:\"description\";s:257:\"Enables
  automatic failover of the write region in the rare event that the region is unavailable
  due to an outage. Automatic failover will result in a new write region for the account
  and is chosen based on the failover priorities configured for the account.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"failoverPolicies\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"An
  array that contains the regions ordered by their failover priorities.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FailoverPolicy\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:13:\"ipRangeFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/IPRangeFilter\";s:11:\"description\";s:262:\"Cosmos
  DB Firewall Support: This value specifies the set of IP addresses or IP address
  ranges in CIDR form to be included as the allowed list of client IPs for a given
  database account. IP addresses/ranges must be comma separated and must not contain
  any spaces.\";}s:29:\"isVirtualNetworkFilterEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Flag
  to indicate whether to enable/disable Virtual Network ACL rules.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"provisioningState\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProvisioningState\";}s:13:\"readLocations\";O:8:\"stdClass\":4:{s:11:\"description\";s:79:\"An
  array that contains of the read locations enabled for the Cosmos DB account.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:19:\"virtualNetworkRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"List
  of Virtual Network ACL rules configured for the Cosmos DB account.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/VirtualNetworkRule\";}s:4:\"type\";s:5:\"array\";}s:14:\"writeLocations\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"An
  array that contains the write location for the Cosmos DB account.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:38:\"DatabaseAccountRegenerateKeyParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Parameters
  to regenerate the keys within the database account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"keyKind\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"The
  access key to regenerate.\";s:4:\"enum\";a:4:{i:0;s:7:\"primary\";i:1;s:9:\"secondary\";i:2;s:15:\"primaryReadonly\";i:3;s:17:\"secondaryReadonly\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:7:\"KeyKind\";}}}s:8:\"required\";a:1:{i:0;s:7:\"keyKind\";}s:4:\"type\";s:6:\"object\";}s:26:\"DatabaseAccountsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  List operation response, that contains the database accounts and their properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"List
  of database account and their properties.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DatabaseAccount\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Error
  Response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Error
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}}s:16:\"FailoverPolicies\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  list of new failover policies for the failover priority change.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"failoverPolicies\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of failover policies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FailoverPolicy\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:16:\"failoverPolicies\";}}s:14:\"FailoverPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  failover policy for a given region of a database account.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"failoverPriority\";O:8:\"stdClass\":4:{s:11:\"description\";s:264:\"The
  failover priority of the region. A failover priority of 0 indicates a write region.
  The maximum value for a failover priority = (total number of regions - 1). Failover
  priority values must be unique for each of the regions in which the database account
  exists.\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"The
  unique identifier of the region in which the database account replicates to. Example:
  &lt;accountName&gt;-&lt;locationName&gt;.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"locationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  name of the region in which the database account exists.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"IPRangeFilter\";O:8:\"stdClass\":2:{s:11:\"description\";s:262:\"Cosmos
  DB Firewall Support: This value specifies the set of IP addresses or IP address
  ranges in CIDR form to be included as the allowed list of client IPs for a given
  database account. IP addresses/ranges must be comma separated and must not contain
  any spaces.\";s:4:\"type\";s:6:\"string\";}s:8:\"Location\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  region in which the Azure Cosmos DB database account is deployed.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"documentEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"The
  connection endpoint for the specific region. Example: https://&lt;accountName&gt;-&lt;locationName&gt;.documents.azure.com:443/\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"failoverPriority\";O:8:\"stdClass\":4:{s:11:\"description\";s:264:\"The
  failover priority of the region. A failover priority of 0 indicates a write region.
  The maximum value for a failover priority = (total number of regions - 1). Failover
  priority values must be unique for each of the regions in which the database account
  exists.\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  unique identifier of the region within the database account. Example: &lt;accountName&gt;-&lt;locationName&gt;.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"locationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the region.\";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProvisioningState\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Metric\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Metric
  data\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"endTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  end time for the metric (ISO-8601 format).\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"metricValues\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  metric values for the specified time window and timestep.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:36:\"The
  name information for the metric.\";s:8:\"readOnly\";b:1;}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  start time for the metric (ISO-8601 format).\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"timeGrain\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  time grain to be used to summarize the metric values.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UnitType\";s:11:\"description\";s:23:\"The
  unit of the metric.\";}}}s:18:\"MetricAvailability\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  availability of the metric.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"retention\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  retention for the metric values.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"timeGrain\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  time grain to be used to summarize the metric values.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:16:\"MetricDefinition\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  definition of a metric.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"metricAvailabilities\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  list of metric availabilities for the account.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/MetricAvailability\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:36:\"The
  name information for the metric.\";s:8:\"readOnly\";b:1;}s:22:\"primaryAggregationType\";O:8:\"stdClass\":5:{s:11:\"description\";s:43:\"The
  primary aggregation type of the metric.\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:7:\"Average\";i:2;s:5:\"Total\";i:3;s:9:\"Minimimum\";i:4;s:7:\"Maximum\";i:5;s:4:\"Last\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:22:\"PrimaryAggregationType\";}}s:11:\"resourceUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  resource uri of the database.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UnitType\";s:11:\"description\";s:23:\"The
  unit of the metric.\";}}}s:27:\"MetricDefinitionsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  response to a list metric definitions request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  list of metric definitions for the account.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/MetricDefinition\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:16:\"MetricListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  response to a list metrics request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  list of metrics for the account.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Metric\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:10:\"MetricName\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"A
  metric name.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"localizedValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  friendly name of the metric.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  name of the metric.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:11:\"MetricValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Represents
  metrics values.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_count\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  number of values for the metric.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:7:\"average\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  average value of the metric.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:7:\"maximum\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  max value of the metric.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:7:\"minimum\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  min value of the metric.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:9:\"timestamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  metric timestamp (ISO-8601 format).\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  total value of the metric.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"REST
  API operation\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  object that represents the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Description
  of operation\";s:4:\"type\";s:6:\"string\";}s:9:\"Operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Operation
  type: Read, write, delete, etc.\";s:4:\"type\";s:6:\"string\";}s:8:\"Provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Service
  provider: Microsoft.ResourceProvider\";s:4:\"type\";s:6:\"string\";}s:8:\"Resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Resource
  on which the operation is performed: Profile, endpoint, etc.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Operation
  name: {provider}/{resource}/{operation}\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Result
  of the request to list Resource Provider operations. It contains a list of operations
  and a URL link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"List
  of operations supported by the Resource Provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}}s:15:\"PartitionMetric\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Metric\";}}s:11:\"description\";s:41:\"The
  metric values for a single partition.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"partitionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  parition id (GUID identifier) of the metric values.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"partitionKeyRangeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  partition key range id (integer identifier) of the metric values.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:25:\"PartitionMetricListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  response to a list partition metrics request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  list of partition-level metrics for the account.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PartitionMetric\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:14:\"PartitionUsage\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Usage\";}}s:11:\"description\";s:51:\"The
  partition level usage data for a usage request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"partitionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  parition id (GUID identifier) of the usages.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"partitionKeyRangeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  partition key range id (integer identifier) of the usages.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:21:\"PartitionUsagesResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  response to a list partition level usage request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:86:\"The
  list of partition-level usages for the database. A usage is a point in time metric\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PartitionUsage\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:16:\"PercentileMetric\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Percentile
  Metric data\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"endTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  end time for the metric (ISO-8601 format).\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"metricValues\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"The
  percentile metric values for the specified time window and timestep.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PercentileMetricValue\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:36:\"The
  name information for the metric.\";s:8:\"readOnly\";b:1;}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
[...]
