---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:71:\"Azure Application
  Insights client for Continuous Export of a component.\";s:5:\"title\";s:35:\"ApplicationInsightsManagementClient\";s:7:\"version\";s:10:\"2015-05-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:190:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/microsoft.insights/stable/2015-05-01/componentContinuousExport_API.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:49:\"applicationinsights-componentContinuousExport_API\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/exportconfiguration
  : get:
      description: Gets a list of Continuous Export configuration of an Application
        Insights component.
      operationId: ExportConfigurations_List
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceNameParameter'
      responses:
        200:
          description: A list containing 0 or more Continuous Export configuration
            definitions of an Application Insights component.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponentExportConfigurationListResult'
      x-ms-examples:
        ExportConfigurationsList:
          parameters:
            api-version: "2015-05-01"
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            200:
              body:
              - ApplicationName: my-component
                ContainerName: mystorageblob
                DestinationAccountId: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/mystorageblob
                DestinationStorageLocationId: eastasia
                DestinationStorageSubscriptionId: subidc
                DestinationType: Blob
                ExportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
                ExportStatus: Preparing
                InstrumentationKey: 8330b4a4-0b8e-40cf-a643-bbaf60d375c9
                IsUserEnabled: "False"
                LastGapTime: "9999-12-31T23:59:59.999Z"
                LastSuccessTime: "9999-12-31T23:59:59.999Z"
                LastUserUpdate: "2017-06-05T06:34:26.957Z"
                NotificationQueueEnabled: "False"
                PermanentErrorReason: None
                RecordTypes: Requests, Event, Exceptions, Metrics, PageViews, PageViewPerformance,
                  Rdd, PerformanceCounters, Availability
                ResourceGroup: "2"
                StorageName: mystorageblob
                SubscriptionId: subid
    post:
      description: Create a Continuous Export configuration of an Application Insights
        component.
      operationId: ExportConfigurations_Create
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceNameParameter'
      - description: Properties that need to be specified to create a Continuous Export
          configuration of a Application Insights component.
        in: body
        name: ExportProperties
        required: true
        schema:
          $ref: '#/definitions/ApplicationInsightsComponentExportRequest'
      responses:
        200:
          description: A list containing the Continuous Export configuration definition
            created by this POST call.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponentExportConfigurationListResult'
      x-ms-examples:
        ExportConfigurationPost:
          parameters:
            ExportProperties:
              DestinationAccountId: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.ClassicStorage/storageAccounts/mystorageblob
              DestinationAddress: https://mystorageblob.blob.core.windows.net/testexport?sv=2015-04-05&sr=c&sig=token
              DestinationStorageLocationId: eastus
              DestinationStorageSubscriptionId: subid
              DestinationType: Blob
              IsEnabled: "true"
              NotificationQueueEnabled: "false"
              NotificationQueueUri: ""
              RecordTypes: Requests, Event, Exceptions, Metrics, PageViews, PageViewPerformance,
                Rdd, PerformanceCounters, Availability
            api-version: "2015-05-01"
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            200:
              body:
              - ApplicationName: my-component
                ContainerName: mystorageblob
                DestinationAccountId: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/mystorageblob
                DestinationStorageLocationId: eastasia
                DestinationStorageSubscriptionId: subidc
                DestinationType: Blob
                ExportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
                ExportStatus: Preparing
                InstrumentationKey: 8330b4a4-0b8e-40cf-a643-bbaf60d375c9
                IsUserEnabled: "False"
                LastGapTime: "9999-12-31T23:59:59.999Z"
                LastSuccessTime: "9999-12-31T23:59:59.999Z"
                LastUserUpdate: "2017-06-05T06:34:26.957Z"
                NotificationQueueEnabled: "False"
                PermanentErrorReason: None
                RecordTypes: Requests, Event, Exceptions, Metrics, PageViews, PageViewPerformance,
                  Rdd, PerformanceCounters, Availability
                ResourceGroup: "2"
                StorageName: mystorageblob
                SubscriptionId: subid
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/exportconfiguration/{exportId}
  : delete:
      description: Delete a Continuous Export configuration of an Application Insights
        component.
      operationId: ExportConfigurations_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceNameParameter'
      - $ref: '#/parameters/ExportId'
      responses:
        200:
          description: The Continuous Export configuration that was successfully deleted.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponentExportConfiguration'
      x-ms-examples:
        ExportConfigurationDelete:
          parameters:
            api-version: "2015-05-01"
            exportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            200:
              body:
                ApplicationName: my-component
                ContainerName: mystorageblob
                DestinationAccountId: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/mystorageblob
                DestinationStorageLocationId: eastasia
                DestinationStorageSubscriptionId: subidc
                DestinationType: Blob
                ExportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
                ExportStatus: Preparing
                InstrumentationKey: 8330b4a4-0b8e-40cf-a643-bbaf60d375c9
                IsUserEnabled: "False"
                LastGapTime: "9999-12-31T23:59:59.999Z"
                LastSuccessTime: "9999-12-31T23:59:59.999Z"
                LastUserUpdate: "2017-06-05T06:34:26.957Z"
                NotificationQueueEnabled: "False"
                PermanentErrorReason: None
                RecordTypes: Requests, Event, Exceptions, Metrics, PageViews, PageViewPerformance,
                  Rdd, PerformanceCounters, Availability
                ResourceGroup: "2"
                StorageName: mystorageblob
                SubscriptionId: subid
    get:
      description: Get the Continuous Export configuration for this export id.
      operationId: ExportConfigurations_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceNameParameter'
      - $ref: '#/parameters/ExportId'
      responses:
        200:
          description: The Continuous Export configuration for this export id.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponentExportConfiguration'
      x-ms-examples:
        ExportConfigurationGet:
          parameters:
            api-version: "2015-05-01"
            exportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            200:
              body:
                ApplicationName: my-component
                ContainerName: mystorageblob
                DestinationAccountId: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/mystorageblob
                DestinationStorageLocationId: eastasia
                DestinationStorageSubscriptionId: subidc
                DestinationType: Blob
                ExportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
                ExportStatus: Preparing
                InstrumentationKey: 8330b4a4-0b8e-40cf-a643-bbaf60d375c9
                IsUserEnabled: "False"
                LastGapTime: "9999-12-31T23:59:59.999Z"
                LastSuccessTime: "9999-12-31T23:59:59.999Z"
                LastUserUpdate: "2017-06-05T06:34:26.957Z"
                NotificationQueueEnabled: "False"
                PermanentErrorReason: None
                RecordTypes: Requests, Event, Exceptions, Metrics, PageViews, PageViewPerformance,
                  Rdd, PerformanceCounters, Availability
                ResourceGroup: "2"
                StorageName: mystorageblob
                SubscriptionId: subid
    put:
      description: Update the Continuous Export configuration for this export id.
      operationId: ExportConfigurations_Update
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceNameParameter'
      - $ref: '#/parameters/ExportId'
      - description: Properties that need to be specified to update the Continuous
          Export configuration.
        in: body
        name: ExportProperties
        required: true
        schema:
          $ref: '#/definitions/ApplicationInsightsComponentExportRequest'
      responses:
        200:
          description: The Continuous Export configuration that was successfully updated.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponentExportConfiguration'
      x-ms-examples:
        ExportConfigurationUpdate:
          parameters:
            ExportProperties:
              DestinationAccountId: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.ClassicStorage/storageAccounts/mystorageblob
              DestinationAddress: https://mystorageblob.blob.core.windows.net/fchentest?sv=2015-04-05&sr=c&sig=token
              DestinationStorageLocationId: eastus
              DestinationStorageSubscriptionId: subid
              DestinationType: Blob
              IsEnabled: "true"
              NotificationQueueEnabled: "false"
              NotificationQueueUri: ""
              RecordTypes: Requests, Event, Exceptions, Metrics, PageViews, PageViewPerformance,
                Rdd, PerformanceCounters, Availability
            api-version: "2015-05-01"
            exportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            200:
              body:
                ApplicationName: my-component
                ContainerName: mystorageblob
                DestinationAccountId: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/mystorageblob
                DestinationStorageLocationId: eastasia
                DestinationStorageSubscriptionId: subidc
                DestinationType: Blob
                ExportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
                ExportStatus: Preparing
                InstrumentationKey: 8330b4a4-0b8e-40cf-a643-bbaf60d375c9
                IsUserEnabled: "False"
                LastGapTime: "9999-12-31T23:59:59.999Z"
                LastSuccessTime: "9999-12-31T23:59:59.999Z"
                LastUserUpdate: "2017-06-05T06:34:26.957Z"
                NotificationQueueEnabled: "False"
                PermanentErrorReason: None
                RecordTypes: Requests, Event, Exceptions, Metrics, PageViews, PageViewPerformance,
                  Rdd, PerformanceCounters, Availability
                ResourceGroup: "2"
                StorageName: mystorageblob
                SubscriptionId: subid
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:47:\"ApplicationInsightsComponentExportConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Properties
  that define a Continuous Export configuration.\";s:10:\"properties\";O:8:\"stdClass\":19:{s:15:\"ApplicationName\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  name of the Application Insights component.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"ContainerName\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  name of the destination storage container.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:20:\"DestinationAccountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  name of destination account.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:28:\"DestinationStorageLocationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  destination account location ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:32:\"DestinationStorageSubscriptionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  destination storage account subscription ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"DestinationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  destination type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"ExportId\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"The
  unique ID of the export configuration inside an Applciation Insights component.
  It is auto generated when the Continuous Export configuration is created.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"ExportStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"This
  indicates current Continuous Export configuration status. The possible values are
  'Preparing', 'Success', 'Failure'.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"InstrumentationKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  instrumentation key of the Application Insights component.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"IsUserEnabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"This
  will be 'true' if the Continuous Export configuration is enabled, otherwise it will
  be 'false'.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"LastGapTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  last time the Continuous Export configuration started failing.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"LastSuccessTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"The
  last time data was successfully delivered to the destination storage container for
  this Continuous Export configuration.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"LastUserUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Last
  time the Continuous Export configuration was updated.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:24:\"NotificationQueueEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Deprecated\";s:4:\"type\";s:6:\"string\";}s:20:\"PermanentErrorReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"This
  is the reason the Continuous Export configuration started failing. It can be 'AzureStorageNotFound'
  or 'AzureStorageAccessDenied'.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"RecordTypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:234:\"This
  comma separated list of document types that will be exported. The possible values
  include 'Requests', 'Event', 'Exceptions', 'Metrics', 'PageViews', 'PageViewPerformance',
  'Rdd', 'PerformanceCounters', 'Availability', 'Messages'.\";s:4:\"type\";s:6:\"string\";}s:13:\"ResourceGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  resource group of the Application Insights component.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"StorageName\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  name of the destination storage account.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"SubscriptionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  subscription of the Application Insights component.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:57:\"ApplicationInsightsComponentExportConfigurationListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"A
  list of Continuous Export configurations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/ApplicationInsightsComponentExportConfiguration\";}s:4:\"type\";s:5:\"array\";}s:41:\"ApplicationInsightsComponentExportRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"An
  Application Insights component Continuous Export configuration request definition.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:20:\"DestinationAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  name of destination storage account.\";s:4:\"type\";s:6:\"string\";}s:18:\"DestinationAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  SAS URL for the destination storage container. It must grant write permission.\";s:4:\"type\";s:6:\"string\";}s:28:\"DestinationStorageLocationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  location ID of the destination storage container.\";s:4:\"type\";s:6:\"string\";}s:32:\"DestinationStorageSubscriptionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  subscription ID of the destination storage container.\";s:4:\"type\";s:6:\"string\";}s:15:\"DestinationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  Continuous Export destination type. This has to be 'Blob'.\";s:4:\"type\";s:6:\"string\";}s:9:\"IsEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Set
  to 'true' to create a Continuous Export configuration as enabled, otherwise set
  it to 'false'.\";s:4:\"type\";s:6:\"string\";}s:24:\"NotificationQueueEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Deprecated\";s:4:\"type\";s:6:\"string\";}s:20:\"NotificationQueueUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Deprecated\";s:4:\"type\";s:6:\"string\";}s:11:\"RecordTypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:224:\"The
  document types to be exported, as comma separated values. Allowed values include
  'Requests', 'Event', 'Exceptions', 'Metrics', 'PageViews', 'PageViewPerformance',
  'Rdd', 'PerformanceCounters', 'Availability', 'Messages'.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
