---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2019-04-01\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/serviceTags:
    get:
      operationId: ServiceTags_List
      description: Gets a list of service tag information resources.
      parameters:
      - name: location
        in: path
        required: true
        type: string
        description: The location.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. Returns a list of service tag information
            resources.
          schema:
            $ref: '#/definitions/ServiceTagsListResult'
      x-ms-examples:
        Get list of service tags:
          $ref: ./examples/ServiceTagsList.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:21:\"ServiceTagsListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"The
  name of the cloud.\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:20:\"The
  ID of the cloud.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:24:\"The
  azure resource type.\";}s:12:\"changeNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"The
  iteration number.\";}s:5:\"cloud\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"The
  name of the cloud.\";}s:6:\"values\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ServiceTagInformation\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:46:\"The
  list of service tag information resources.\";}}s:11:\"description\";s:50:\"Response
  for the ListServiceTags API service call.\";}s:21:\"ServiceTagInformation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:51:\"#/definitions/ServiceTagInformationPropertiesFormat\";s:8:\"readOnly\";b:1;s:11:\"description\";s:42:\"Properties
  of the service tag information.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:24:\"The
  name of service tag.\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"The
  ID of service tag.\";}}s:11:\"description\";s:28:\"The service tag information.\";}s:37:\"ServiceTagInformationPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"changeNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:36:\"The
  iteration number of service tag.\";}s:6:\"region\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:26:\"The
  region of service tag.\";}s:13:\"systemService\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:27:\"The
  name of system service.\";}s:15:\"addressPrefixes\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:11:\"description\";s:32:\"The
  list of IP address prefixes.\";}}s:11:\"description\";s:42:\"Properties of the service
  tag information.\";}}"
...
