---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:30:\"AzureStack Azure Bridge
  Client\";s:7:\"version\";s:10:\"2017-06-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:161:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/Product.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:18:\"azurestack-Product\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products
  : get:
      description: Returns a list of products.
      operationId: Products_List
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroup
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Name of the Azure Stack registration.
        in: path
        name: registrationName
        required: true
        type: string
        x-ms-parameter-location: method
      - default: "2017-06-01"
        description: Client API Version.
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductList'
        404:
          description: NOT FOUND
      tags:
      - Product
      x-ms-examples:
        Returns a list of products.:
          parameters:
            api-version: "2017-06-01"
            registrationName: testregistration
            resourceGroup: azurestack
            subscriptionId: dd8597b4-8739-4467-8b10-f8679f62bfbf
          responses:
            200:
              body:
                value:
                - id: /subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration/products/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1
                  location: global
                  name: testregistration/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1
                  properties:
                    displayName: VM Access For Linux Extension
                    galleryItemIdentity: Microsoft.VMAccessForLinux.1.4.7
                    iconUris:
                      large: https://extensions.azureedge.net/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1/icons/Large.png
                      medium: https://extensions.azureedge.net/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1/icons/Medium.png
                      small: https://extensions.azureedge.net/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1/icons/Small.png
                      wide: https://extensions.azureedge.net/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1/icons/Wide.png
                    offer: ""
                    offerVersion: ""
                    payloadLength: 46959
                    productKind: virtualMachineExtension
                    productProperties:
                      version: 1.4.7
                    publisherDisplayName: Microsoft Corp.
                    publisherIdentifier: Microsoft.OSTCExtensions
                    sku: ""
                    vmExtensionType: VMAccessForLinux
                  type: Microsoft.AzureStack/registrations/products
                - id: /subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration/products/dummysharepoint
                  location: global
                  name: testregistration/dummysharepoint
                  properties:
                    displayName: Display name for dummy SharePoint
                    galleryItemIdentity: Microsoft.SharePointServer2013Trial-ARM.1.0.3
                    iconUris:
                      hero: https://extensions.azureedge.net/dummysharepoint/icons/Hero.png
                      large: https://extensions.azureedge.net/dummysharepoint/icons/Large.png
                      medium: https://extensions.azureedge.net/dummysharepoint/icons/Medium.png
                      small: https://extensions.azureedge.net/dummysharepoint/icons/Small.png
                      wide: https://extensions.azureedge.net/dummysharepoint/icons/Wide.png
                    offer: Dummy offer
                    offerVersion: 'FakeProduct: offer version'
                    payloadLength: 4682158
                    productKind: virtualMachine
                    productProperties:
                      version: 1.0.1
                    publisherDisplayName: Publisher display name for dummy SharePoint
                    publisherIdentifier: Katal
                    sku: Dummy sku
                  type: Microsoft.AzureStack/registrations/products
                - id: /subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration/products/dummysharepointTest526
                  location: global
                  name: testregistration/dummysharepointTest526
                  properties:
                    displayName: Display name for dummy SharePoint
                    galleryItemIdentity: Microsoft.SharePointServer2013Trial-ARM.1.0.3
                    iconUris:
                      hero: https://extensions.azureedge.net/dummysharepointTest526/icons/Hero.png
                      large: https://extensions.azureedge.net/dummysharepointTest526/icons/Large.png
                      medium: https://extensions.azureedge.net/dummysharepointTest526/icons/Medium.png
                      small: https://extensions.azureedge.net/dummysharepointTest526/icons/Small.png
                      wide: https://extensions.azureedge.net/dummysharepointTest526/icons/Wide.png
                    offer: Dummy offer
                    offerVersion: 'FakeProduct: offer version'
                    payloadLength: 4682158
                    productKind: virtualMachine
                    productProperties:
                      version: 2.0.2
                    publisherDisplayName: Publisher display name for dummy SharePoint
                    publisherIdentifier: Katal
                    sku: Dummy sku
                  type: Microsoft.AzureStack/registrations/products
                - id: /subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration/products/test.product.976fe55e-6921-47bb-b8ba-718bba70c72d
                  location: global
                  name: testregistration/test.product.976fe55e-6921-47bb-b8ba-718bba70c72d
                  properties:
                    displayName: Display name for dummy SharePoint
                    galleryItemIdentity: Microsoft.SharePointServer2013Trial-ARM.1.0.3
                    iconUris:
                      hero: https://extensions.azureedge.net/test.product.976fe55e-6921-47bb-b8ba-718bba70c72d/icons/Hero.png
                      large: https://extensions.azureedge.net/test.product.976fe55e-6921-47bb-b8ba-718bba70c72d/icons/Large.png
                      medium: https://extensions.azureedge.net/test.product.976fe55e-6921-47bb-b8ba-718bba70c72d/icons/Medium.png
                      small: https://extensions.azureedge.net/test.product.976fe55e-6921-47bb-b8ba-718bba70c72d/icons/Small.png
                      wide: https://extensions.azureedge.net/test.product.976fe55e-6921-47bb-b8ba-718bba70c72d/icons/Wide.png
                    offer: Dummy offer
                    offerVersion: 'FakeProduct: offer version'
                    payloadLength: 4682158
                    productKind: virtualMachine
                    productProperties:
                      version: 1.0.1
                    publisherDisplayName: Publisher display name for dummy SharePoint
                    publisherIdentifier: Katal
                    sku: Dummy sku
                  type: Microsoft.AzureStack/registrations/products
                - id: /subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration/products/wordpress4-4
                  location: global
                  name: testregistration/wordpress4-4
                  properties:
                    displayName: WordPress
                    galleryItemIdentity: bitnami.wordpress4-4.1.0.8
                    iconUris:
                      hero: https://extensions.azureedge.net/wordpress4-4/icons/Hero.png
                      large: https://extensions.azureedge.net/wordpress4-4/icons/Large.png
                      medium: https://extensions.azureedge.net/wordpress4-4/icons/Medium.png
                      small: https://extensions.azureedge.net/wordpress4-4/icons/Small.png
                      wide: https://extensions.azureedge.net/wordpress4-4/icons/Wide.png
                    offer: wordpress
                    offerVersion: 1.0.8
                    payloadLength: 32212604365
                    productKind: virtualMachine
                    productProperties:
                      version: 4.5.31
                    publisherDisplayName: WordPress
                    publisherIdentifier: bitnami
                    sku: 4-4
                  type: Microsoft.AzureStack/registrations/products
            404: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}
  : get:
      description: Returns the specified product.
      operationId: Products_Get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroup
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Name of the Azure Stack registration.
        in: path
        name: registrationName
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/ProductNameParameter'
      - default: "2017-06-01"
        description: Client API Version.
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Product'
        404:
          description: NOT FOUND
      tags:
      - Product
      x-ms-examples:
        Returns the specified product.:
          parameters:
            api-version: "2017-06-01"
            productName: Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1
            registrationName: testregistration
            resourceGroup: azurestack
            subscriptionId: dd8597b4-8739-4467-8b10-f8679f62bfbf
          responses:
            200:
              body:
                id: /subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration/products/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1
                location: global
                name: testregistration/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1
                properties:
                  displayName: VM Access For Linux Extension
                  galleryItemIdentity: Microsoft.VMAccessForLinux.1.4.7
                  iconUris:
                    large: https://extensions.azureedge.net/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1/icons/Large.png
                    medium: https://extensions.azureedge.net/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1/icons/Medium.png
                    small: https://extensions.azureedge.net/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1/icons/Small.png
                    wide: https://extensions.azureedge.net/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1/icons/Wide.png
                  offer: ""
                  offerVersion: ""
                  payloadLength: 46959
                  productKind: virtualMachineExtension
                  productProperties:
                    version: 1.4.7
                  publisherDisplayName: Microsoft Corp.
                  publisherIdentifier: Microsoft.OSTCExtensions
                  sku: ""
                  vmExtensionType: VMAccessForLinux
                type: Microsoft.AzureStack/registrations/products
            404: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/products/{productName}/listDetails
  : post:
      description: Returns the extended properties of a product.
      operationId: Products_ListDetails
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroup
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Name of the Azure Stack registration.
        in: path
        name: registrationName
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/ProductNameParameter'
      - default: "2017-06-01"
        description: Client API Version.
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ExtendedProduct'
      tags:
      - Product
      x-ms-examples:
        Returns the extended properties of a product.:
          parameters:
            api-version: "2017-06-01"
            productName: Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1
            registrationName: testregistration
            resourceGroup: azurestack
            subscriptionId: dd8597b4-8739-4467-8b10-f8679f62bfbf
          responses:
            200:
              body:
                galleryPackageBlobSasUri: https://azstrptestwcu001.blob.core.windows.net/packages/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1/gallery/package.azpkg?sv=2015-04-05&sr=b&sig=mnzKeDrSMWoDilUrfrETb7n%2BG0Shme6f3AYzl3uzkYA%3D&se=2018-02-13T10%3A46%3A24Z&sp=r
                productKind: virtualMachineExtension
                properties:
                  computeRole: IaaS
                  isSystemExtension: false
                  sourceBlob:
                    uri: https://azstrptestwcu001.blob.core.windows.net/packages/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1/extension/vmext.zip?sv=2015-04-05&sr=b&sig=XtLzuO2rlqxyZOzfoTEDZW4DU9OxBZVCOw%2FVgY2%2FiUo%3D&se=2018-02-13T10%3A46%3A24Z&sp=r
                  supportMultipleExtensions: false
                  version: 1.4.7
                  vmOsType: Linux
                  vmScaleSetEnabled: false
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":15:{s:11:\"ComputeRole\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Compute
  role type (IaaS or PaaS).\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:4:\"IaaS\";i:2;s:4:\"PaaS\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:11:\"ComputeRole\";}}s:13:\"DataDiskImage\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Data
  disk image.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lun\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"The
  LUN.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:16:\"sourceBlobSasUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"SAS
  key for source blob.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ExtendedProduct\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Extended
  description about the product required for installing it into Azure Stack.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:24:\"galleryPackageBlobSasUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"The
  URI to the .azpkg file that provides information required for showing product in
  the gallery.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"productKind\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Specifies
  the kind of the product (virtualMachine or virtualMachineExtension).\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"$ref\";s:39:\"#/definitions/ExtendedProductProperties\";s:11:\"description\";s:55:\"Specifies
  additional properties describing the product.\";s:8:\"readOnly\";b:1;s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:25:\"ExtendedProductProperties\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/VirtualMachineExtensionProductProperties\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/VirtualMachineProductProperties\";}}s:11:\"description\";s:20:\"Product
  information.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"IconUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Links
  to product icons.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"hero\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"URI
  to hero icon.\";s:4:\"type\";s:6:\"string\";}s:5:\"large\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"URI
  to large icon.\";s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"URI
  to medium icon.\";s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"URI
  to small icon.\";s:4:\"type\";s:6:\"string\";}s:4:\"wide\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"URI
  to wide icon.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"OperatingSystem\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Operating
  system type (Windows or Linux).\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:7:\"Windows\";i:2;s:5:\"Linux\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"OperatingSystem\";}}s:11:\"OsDiskImage\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"OS
  disk image.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"operatingSystem\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:29:\"#/definitions/OperatingSystem\";s:11:\"description\";s:25:\"OS
  operating system type.\";s:8:\"readOnly\";b:1;}s:16:\"sourceBlobSasUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"SAS
  key for source blob.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Product\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":5:{s:11:\"description\";s:21:\"Base
  resource object.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  entity tag used for optimistic concurency when modifying the resource.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"ID
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":5:{s:11:\"description\";s:25:\"Location
  of the resource.\";s:4:\"enum\";a:1:{i:0;s:6:\"global\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:8:\"Location\";}s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Name
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:29:\"Custom
  tags for the resource.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Type
  of Resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:20:\"Product
  information.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/ProductNestedProperties\";s:11:\"description\";s:35:\"Properties
  of the product resource.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:11:\"ProductLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Link
  with additional information about a product.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  description of the link.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  URI corresponding to the link.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ProductList\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Pageable
  list of products.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"URI
  to the next page.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"List
  of products.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ProductNestedProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Properties
  portion of the product resource.\";s:10:\"properties\";O:8:\"stdClass\":17:{s:17:\"billingPartNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  part number used for billing purposes.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  description of the product.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  display name of the product.\";s:4:\"type\";s:6:\"string\";}s:19:\"galleryItemIdentity\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  identifier of the gallery item corresponding to the product.\";s:4:\"type\";s:6:\"string\";}s:8:\"iconUris\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/IconUris\";s:11:\"description\";s:44:\"Additional
  links available for this product.\";}s:10:\"legalTerms\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  legal terms.\";s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Additional
  links available for this product.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ProductLink\";}s:4:\"type\";s:5:\"array\";}s:5:\"offer\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  offer representing the product.\";s:4:\"type\";s:6:\"string\";}s:12:\"offerVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  version of the product offer.\";s:4:\"type\";s:6:\"string\";}s:13:\"payloadLength\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  length of product content.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"privacyPolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  privacy policy.\";s:4:\"type\";s:6:\"string\";}s:11:\"productKind\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  kind of the product (virtualMachine or virtualMachineExtension)\";s:4:\"type\";s:6:\"string\";}s:17:\"productProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ProductProperties\";s:11:\"description\";s:38:\"Additional
  properties for the product.\";}s:20:\"publisherDisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  user-friendly name of the product publisher.\";s:4:\"type\";s:6:\"string\";}s:19:\"publisherIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Publisher
  identifier.\";s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  product SKU.\";s:4:\"type\";s:6:\"string\";}s:15:\"vmExtensionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  type of the Virtual Machine Extension.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ProductProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Additional
  properties of the product\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"The
  version.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Uri\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"The
  URI.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"uri\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"The
  URI.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:40:\"VirtualMachineExtensionProductProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Product
  information.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"computeRole\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ComputeRole\";s:11:\"description\";s:55:\"Specifies
  kind of compute role inclided in the package.\";s:8:\"readOnly\";b:1;}s:17:\"isSystemExtension\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Specifies
  if product is a Virtual Machine Extension.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:10:\"sourceBlob\";O:8:\"stdClass\":4:{s:4:\"$ref\";s:17:\"#/definitions/Uri\";s:11:\"description\";s:67:\"Specifies
  a download location where content can be downloaded from.\";s:8:\"readOnly\";b:1;s:19:\"x-ms-client-flatten\";b:1;}s:25:\"supportMultipleExtensions\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Indicates
  if specified product supports multiple extensions.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Specifies
  product version.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"vmOsType\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:29:\"#/definitions/OperatingSystem\";s:11:\"description\";s:47:\"Specifies
  operating system used by the product.\";s:8:\"readOnly\";b:1;}s:17:\"vmScaleSetEnabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Indicates
  if virtual machine Scale Set is enabled in the specified product.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:31:\"VirtualMachineProductProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Product
  information.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"dataDiskImages\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"List
  of attached data disks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataDiskImage\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:11:\"osDiskImage\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/OsDiskImage\";s:11:\"description\";s:30:\"OS
  disk image used by product.\";s:8:\"readOnly\";b:1;}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Specifies
  product version.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
