---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2017-03-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}
  : put:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_CreateOrUpdate
      description: Creates or updates a network watcher in the specified resource
        group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/NetworkWatcher'
        description: Parameters that define the network watcher resource.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Update successful. The operation returns the resulting network
            watcher resource.
          schema:
            $ref: '#/definitions/NetworkWatcher'
        201:
          description: Create successful. The operation returns the resulting network
            watcher resource.
          schema:
            $ref: '#/definitions/NetworkWatcher'
    get:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_Get
      description: Gets the specified network watcher by resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a network watcher
            resource.
          schema:
            $ref: '#/definitions/NetworkWatcher'
    delete:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_Delete
      x-ms-long-running-operation: true
      description: Deletes the specified network watcher resource.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        202:
          description: Accepted and the operation will complete asynchronously.
        204:
          description: Delete successful.
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers:
    get:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_List
      description: Gets all network watchers by resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of network
            watcher resources.
          schema:
            $ref: '#/definitions/NetworkWatcherListResult'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/networkWatchers:
    get:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_ListAll
      description: Gets all network watchers by subscription.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of network
            watcher resources.
          schema:
            $ref: '#/definitions/NetworkWatcherListResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/topology
  : post:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_GetTopology
      description: Gets the current network topology by resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/TopologyParameters'
        description: Parameters that define the representation of topology.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the topology of resource
            group.
          schema:
            $ref: '#/definitions/Topology'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/ipFlowVerify
  : post:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_VerifyIPFlow
      x-ms-long-running-operation: true
      description: Verify IP flow from the specified VM to a location given the currently
        configured NSG rules.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/VerificationIPFlowParameters'
        description: Parameters that define the IP flow to be verified.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the result of IP
            flow verification.
          schema:
            $ref: '#/definitions/VerificationIPFlowResult'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/VerificationIPFlowResult'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/nextHop
  : post:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_GetNextHop
      x-ms-long-running-operation: true
      description: Gets the next hop from the specified VM.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/NextHopParameters'
        description: Parameters that define the source and destination endpoint.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the next hop from
            the VM.
          schema:
            $ref: '#/definitions/NextHopResult'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/NextHopResult'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/securityGroupView
  : post:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_GetVMSecurityRules
      x-ms-long-running-operation: true
      description: Gets the configured and effective security group rules on the specified
        VM.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/SecurityGroupViewParameters'
        description: Parameters that define the VM to check security groups for.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns security group rules
            on the VM.
          schema:
            $ref: '#/definitions/SecurityGroupViewResult'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/SecurityGroupViewResult'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}
  : put:
      tags:
      - PacketCaptures
      operationId: PacketCaptures_Create
      x-ms-long-running-operation: true
      description: Create and start a packet capture on the specified VM.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher.
      - name: packetCaptureName
        in: path
        required: true
        type: string
        description: The name of the packet capture session.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/PacketCapture'
        description: Parameters that define the create packet capture operation.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        201:
          description: Request successful. The operation returns the resulting packet
            capture session.
          schema:
            $ref: '#/definitions/PacketCaptureResult'
    get:
      tags:
      - PacketCaptures
      operationId: PacketCaptures_Get
      description: Gets a packet capture session by name.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher.
      - name: packetCaptureName
        in: path
        required: true
        type: string
        description: The name of the packet capture session.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a packet capture
            session.
          schema:
            $ref: '#/definitions/PacketCaptureResult'
    delete:
      tags:
      - PacketCaptures
      operationId: PacketCaptures_Delete
      x-ms-long-running-operation: true
      description: Deletes the specified packet capture session.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher.
      - name: packetCaptureName
        in: path
        required: true
        type: string
        description: The name of the packet capture session.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: Delete successful.
        202:
          description: Accepted and the operation will complete asynchronously.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}/stop
  : post:
      tags:
      - PacketCaptures
      operationId: PacketCaptures_Stop
      x-ms-long-running-operation: true
      description: Stops a specified packet capture session.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher.
      - name: packetCaptureName
        in: path
        required: true
        type: string
        description: The name of the packet capture session.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation stops the packet capture
            session.
        202:
          description: Accepted and the operation will complete asynchronously.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}/queryStatus
  : post:
      tags:
      - PacketCaptures
      operationId: PacketCaptures_GetStatus
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      description: Query the status of a running packet capture session.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the Network Watcher resource.
      - name: packetCaptureName
        in: path
        required: true
        type: string
        description: The name given to the packet capture session.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful query of packet capture status.
          schema:
            $ref: '#/definitions/PacketCaptureQueryStatusResult'
        202:
          description: Accepted query status of packet capture.
          schema:
            $ref: '#/definitions/PacketCaptureQueryStatusResult'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures
  : get:
      tags:
      - PacketCaptures
      operationId: PacketCaptures_List
      description: Lists all packet capture sessions within the specified resource
        group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the Network Watcher resource.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful packet capture enumeration request.
          schema:
            $ref: '#/definitions/PacketCaptureListResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/troubleshoot
  : post:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_GetTroubleshooting
      x-ms-long-running-operation: true
      description: Initiate troubleshooting on a specified resource
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher resource.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/TroubleshootingParameters'
        description: Parameters that define the resource to troubleshoot.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful troubleshooting request
          schema:
            $ref: '#/definitions/TroubleshootingResult'
        202:
          description: Accepted get troubleshooting request.
          schema:
            $ref: '#/definitions/TroubleshootingResult'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/queryTroubleshootResult
  : post:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_GetTroubleshootingResult
      x-ms-long-running-operation: true
      description: Get the last completed troubleshooting result on a specified resource
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher resource.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/QueryTroubleshootingParameters'
        description: Parameters that define the resource to query the troubleshooting
          result.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful get troubleshooting result request
          schema:
            $ref: '#/definitions/TroubleshootingResult'
        202:
          description: Accepted get troubleshooting result request.
          schema:
            $ref: '#/definitions/TroubleshootingResult'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/configureFlowLog
  : post:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_SetFlowLogConfiguration
      x-ms-long-running-operation: true
      description: Configures flow log on a specified resource.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the network watcher resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher resource.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/FlowLogInformation'
        description: Parameters that define the configuration of flow log.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request for setting flow log configuration.
          schema:
            $ref: '#/definitions/FlowLogInformation'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/FlowLogInformation'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/queryFlowLogStatus
  : post:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_GetFlowLogStatus
      x-ms-long-running-operation: true
      description: Queries status of flow log on a specified resource.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the network watcher resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher resource.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/FlowLogStatusParameters'
        description: Parameters that define a resource to query flow log status.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request for query flow log status.
          schema:
            $ref: '#/definitions/FlowLogInformation'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/FlowLogInformation'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectivityCheck
  : post:
      tags:
      - NetworkWatchers
      operationId: NetworkWatchers_CheckConnectivity
      x-ms-long-running-operation: true
      description: Verifies the possibility of establishing a direct TCP connection
        from a virtual machine to a given endpoint including another VM or an arbitrary
        remote server.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the network watcher resource group.
      - name: networkWatcherName
        in: path
        required: true
        type: string
        description: The name of the network watcher resource.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ConnectivityParameters'
        description: Parameters that determine how the connectivity check will be
          performed.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request for checking connectivity.
          schema:
            $ref: '#/definitions/ConnectivityInformation'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/ConnectivityInformation'
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":42:{s:14:\"NetworkWatcher\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:44:\"#/definitions/NetworkWatcherPropertiesFormat\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"./network.json#/definitions/Resource\";}}s:11:\"description\";s:36:\"Network
  watcher in a resource group.\";}s:30:\"NetworkWatcherPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:9:\"Succeeded\";i:1;s:8:\"Updating\";i:2;s:8:\"Deleting\";i:3;s:6:\"Failed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"ProvisioningState\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:39:\"The
  provisioning state of the resource.\";}}s:11:\"description\";s:31:\"The network
  watcher properties.\";}s:24:\"NetworkWatcherListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NetworkWatcher\";}}}s:11:\"description\";s:34:\"List
  of network watcher resources.\";}s:18:\"TopologyParameters\";O:8:\"stdClass\":3:{s:8:\"required\";a:1:{i:0;s:23:\"targetResourceGroupName\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"targetResourceGroupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  name of the target resource group to perform topology on.\";}}s:11:\"description\";s:54:\"Parameters
  that define the representation of topology.\";}s:8:\"Topology\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"GUID
  representing the operation id.\";}s:15:\"createdDateTime\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:76:\"The
  datetime when the topology was initially created for the resource group.\";}s:12:\"lastModified\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:49:\"The
  datetime when the topology was last modified.\";}s:9:\"resources\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/TopologyResource\";}}}s:11:\"description\";s:41:\"Topology
  of the specified resource group.\";}s:16:\"TopologyResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Name
  of the resource.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"ID
  of the resource.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Resource
  location.\";}s:12:\"associations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:83:\"Holds
  the associations the resource has with other resources in the resource group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/TopologyAssociation\";}}}s:11:\"description\";s:71:\"The
  network resource topology information for the given resource group.\";}s:19:\"TopologyAssociation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"The
  name of the resource that is associated with the parent resource.\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  ID of the resource that is associated with the parent resource.\";}s:15:\"associationType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:10:\"Associated\";i:1;s:8:\"Contains\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"AssociationType\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:66:\"The
  association type of the child resource to the parent resource.\";}}s:11:\"description\";s:60:\"Resources
  that have an association with the parent resource.\";}s:28:\"VerificationIPFlowParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Parameters
  that define the IP flow to be verified.\";s:8:\"required\";a:7:{i:0;s:16:\"targetResourceId\";i:1;s:9:\"direction\";i:2;s:8:\"protocol\";i:3;s:9:\"localPort\";i:4;s:10:\"remotePort\";i:5;s:14:\"localIPAddress\";i:6;s:15:\"remoteIPAddress\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:16:\"targetResourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  ID of the target resource to perform next-hop on.\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"Direction\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:53:\"The
  direction of the packet represented as a 5-tuple.\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"TCP\";i:1;s:3:\"UDP\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"Protocol\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:27:\"Protocol
  to be verified on.\";}s:9:\"localPort\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:145:\"The
  local port. Acceptable values are a single integer in the range (0-65535). Support
  for * for the source port, which depends on the direction.\";}s:10:\"remotePort\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:146:\"The
  remote port. Acceptable values are a single integer in the range (0-65535). Support
  for * for the source port, which depends on the direction.\";}s:14:\"localIPAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"The
  local IP address. Acceptable values are valid IPv4 addresses.\";}s:15:\"remoteIPAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"The
  remote IP address. Acceptable values are valid IPv4 addresses.\";}s:19:\"targetNicResourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:141:\"The
  NIC ID. (If VM has multiple NICs and IP forwarding is enabled on any of them, then
  this parameter must be specified. Otherwise optional).\";}}}s:24:\"VerificationIPFlowResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Results
  of IP flow verification on the target resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"access\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Allow\";i:1;s:4:\"Deny\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Access\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:51:\"Indicates
  whether the traffic is allowed or denied.\";}s:8:\"ruleName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"Name
  of the rule. If input is not matched against any security rule, it is not displayed.\";}}}s:17:\"NextHopParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Parameters
  that define the source and destination endpoint.\";s:8:\"required\";a:3:{i:0;s:16:\"targetResourceId\";i:1;s:15:\"sourceIPAddress\";i:2;s:20:\"destinationIPAddress\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"targetResourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"The
  resource identifier of the target resource against which the action is to be performed.\";}s:15:\"sourceIPAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  source IP address.\";}s:20:\"destinationIPAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  destination IP address.\";}s:19:\"targetNicResourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:145:\"The
  NIC ID. (If VM has multiple NICs and IP forwarding is enabled on any of the nics,
  then this parameter must be specified. Otherwise optional).\";}}}s:13:\"NextHopResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  information about next hop from the specified VM.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"nextHopType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:8:\"Internet\";i:1;s:16:\"VirtualAppliance\";i:2;s:21:\"VirtualNetworkGateway\";i:3;s:9:\"VnetLocal\";i:4;s:15:\"HyperNetGateway\";i:5;s:4:\"None\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"NextHopType\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:14:\"Next
  hop type.\";}s:16:\"nextHopIpAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Next
  hop IP Address\";}s:12:\"routeTableId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:211:\"The
  resource identifier for the route table associated with the route being returned.
  If the route being returned does not correspond to any user created routes then
  this field will be the string 'System Route'.\";}}}s:27:\"SecurityGroupViewParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Parameters
  that define the VM to check security groups for.\";s:8:\"required\";a:1:{i:0;s:16:\"targetResourceId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"targetResourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"ID
  of the target VM.\";}}}s:23:\"SecurityGroupViewResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  information about security rules applied to the specified VM.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"networkInterfaces\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:47:\"List
  of network interfaces on the specified VM.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/SecurityGroupNetworkInterface\";}}}}s:29:\"SecurityGroupNetworkInterface\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Network
  interface and all its associated security rules.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"ID
  of the network interface.\";}s:24:\"securityRuleAssociations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/SecurityRuleAssociations\";}}}s:24:\"SecurityRuleAssociations\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"All
  security rules associated with the network interface.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:27:\"networkInterfaceAssociation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/NetworkInterfaceAssociation\";}s:17:\"subnetAssociation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SubnetAssociation\";}s:20:\"defaultSecurityRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"./networkSecurityGroup.json#/definitions/SecurityRule\";}s:11:\"description\";s:67:\"Collection
  of default security rules of the network security group.\";}s:22:\"effectiveSecurityRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:65:\"./networkInterface.json#/definitions/EffectiveNetworkSecurityRule\";}s:11:\"description\";s:39:\"Collection
  of effective security rules.\";}}}s:27:\"NetworkInterfaceAssociation\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Network
  interface and its custom security rules.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Network
  interface ID.\";}s:13:\"securityRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"Collection
  of custom security rules.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"./networkSecurityGroup.json#/definitions/SecurityRule\";}}}}s:17:\"SubnetAssociation\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Network
  interface and its custom security rules.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Subnet
  ID.\";}s:13:\"securityRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"Collection
  of custom security rules.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"./networkSecurityGroup.json#/definitions/SecurityRule\";}}}}s:13:\"PacketCapture\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:37:\"#/definitions/PacketCaptureParameters\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:11:\"description\";s:59:\"Parameters
  that define the create packet capture operation.\";}s:23:\"PacketCaptureParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"The
  ID of the targeted resource, only VM is currently supported.\";}s:23:\"bytesToCapturePerPacket\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"default\";i:0;s:11:\"description\";s:71:\"Number
  of bytes captured per packet, the remaining bytes are truncated.\";}s:20:\"totalBytesPerSession\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"default\";i:1073741824;s:11:\"description\";s:35:\"Maximum
  size of the capture output.\";}s:18:\"timeLimitInSeconds\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"default\";i:18000;s:11:\"description\";s:51:\"Maximum
  duration of the capture session in seconds.\";}s:15:\"storageLocation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/PacketCaptureStorageLocation\";}s:7:\"filters\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PacketCaptureFilter\";}}}s:8:\"required\";a:2:{i:0;s:6:\"target\";i:1;s:15:\"storageLocation\";}s:11:\"description\";s:59:\"Parameters
  that define the create packet capture operation.\";}s:28:\"PacketCaptureStorageLocation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"storageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"The
  ID of the storage account to save the packet capture session. Required if no local
  file path is provided.\";}s:11:\"storagePath\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:133:\"The
  URI of the storage path to save the packet capture. Must be a well-formed URI describing
  the location to save the packet capture.\";}s:8:\"filePath\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:209:\"A
  valid local path on the targeting VM. Must include the name of the capture file
  (*.cap). For linux virtual machine it must start with /var/captures. Required if
  no storage ID is provided, otherwise optional.\";}}s:11:\"description\";s:60:\"Describes
  the storage location for a packet capture session.\";}s:19:\"PacketCaptureFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"protocol\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:3:\"TCP\";i:1;s:3:\"UDP\";i:2;s:3:\"Any\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"PcProtocol\";s:13:\"modelAsString\";b:1;}s:7:\"default\";s:3:\"Any\";s:11:\"description\";s:27:\"Protocol
  to be filtered on.\";}s:14:\"localIPAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:281:\"Local
  IP Address to be filtered on. Notation: \"127.0.0.1\" for single address entry.
  \"127.0.0.1-127.0.0.255\" for range. \"127.0.0.1;127.0.0.5\"? for multiple entries.
  Multiple ranges not currently supported. Mixing ranges with multiple entries not
  currently supported. Default = null.\";}s:15:\"remoteIPAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:281:\"Local
  IP Address to be filtered on. Notation: \"127.0.0.1\" for single address entry.
  \"127.0.0.1-127.0.0.255\" for range. \"127.0.0.1;127.0.0.5;\" for multiple entries.
  Multiple ranges not currently supported. Mixing ranges with multiple entries not
  currently supported. Default = null.\";}s:9:\"localPort\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:235:\"Local
  port to be filtered on. Notation: \"80\" for single port entry.\"80-85\" for range.
  \"80;443;\" for multiple entries. Multiple ranges not currently supported. Mixing
  ranges with multiple entries not currently supported. Default = null.\";}s:10:\"remotePort\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:236:\"Remote
  port to be filtered on. Notation: \"80\" for single port entry.\"80-85\" for range.
  \"80;443;\" for multiple entries. Multiple ranges not currently supported. Mixing
  ranges with multiple entries not currently supported. Default = null.\";}}s:11:\"description\";s:82:\"Filter
  that is applied to packet capture request. Multiple filters can be applied.\";}s:23:\"PacketCaptureListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PacketCaptureResult\";}s:11:\"description\";s:42:\"Information
  about packet capture sessions.\";}}s:11:\"description\";s:32:\"List of packet capture
  sessions.\";}s:19:\"PacketCaptureResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Name
  of the packet capture session.\";}s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"ID
  of the packet capture operation.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:43:\"#/definitions/PacketCaptureResultProperties\";}}s:11:\"description\";s:41:\"Information
  about packet capture session.\";}s:29:\"PacketCaptureResultProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"provisioningState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:9:\"Succeeded\";i:1;s:8:\"Updating\";i:2;s:8:\"Deleting\";i:3;s:6:\"Failed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"ProvisioningState\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:53:\"The
  provisioning state of the packet capture session.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/PacketCaptureParameters\";}}s:11:\"description\";s:53:\"Describes
  the properties of a packet capture session.\";}s:30:\"PacketCaptureQueryStatusResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  name of the packet capture resource.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  ID of the packet capture resource.\";}s:16:\"captureStartTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:45:\"The
  start time of the packet capture session.\";}s:19:\"packetCaptureStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:10:\"NotStarted\";i:1;s:7:\"Running\";i:2;s:7:\"Stopped\";i:3;s:5:\"Error\";i:4;s:7:\"Unknown\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"PcStatus\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:41:\"The
  status of the packet capture session.\";}s:10:\"stopReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  reason the current packet capture session was stopped.\";}s:18:\"packetCaptureError\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"List
  of errors of packet capture session.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:13:\"InternalError\";i:1;s:12:\"AgentStopped\";i:2;s:13:\"CaptureFailed\";i:3;s:15:\"LocalFileFailed\";i:4;s:13:\"StorageFailed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"PcError\";s:13:\"modelAsString\";b:1;}}}}s:11:\"description\";s:33:\"Status
  of packet capture session.\";}s:25:\"TroubleshootingParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Parameters
  that define the resource to troubleshoot.\";s:8:\"required\";a:2:{i:0;s:16:\"targetResourceId\";i:1;s:10:\"properties\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"targetResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  target resource to troubleshoot.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:39:\"#/definitions/TroubleshootingProperties\";}}}s:30:\"QueryTroubleshootingParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Parameters
  that define the resource to query the troubleshooting result.\";s:8:\"required\";a:1:{i:0;s:16:\"targetResourceId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"targetResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  target resource ID to query the troubleshooting result.\";s:4:\"type\";s:6:\"string\";}}}s:25:\"TroubleshootingProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Storage
  location provided for troubleshoot.\";s:8:\"required\";a:2:{i:0;s:9:\"storageId\";i:1;s:11:\"storagePath\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"storageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  ID for the storage account to save the troubleshoot result.\";s:4:\"type\";s:6:\"string\";}s:11:\"storagePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  path to the blob to save the troubleshoot result in.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"TroubleshootingResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Troubleshooting
  information gained from specified resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:38:\"The
  start time of the troubleshooting.\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:36:\"The
  end time of the troubleshooting.\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  result code of the troubleshooting.\";}s:7:\"results\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:33:\"Information
  from troubleshooting.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TroubleshootingDetails\";}}}}s:22:\"TroubleshootingDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Information
  gained from troubleshooting of specified resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  id of the get troubleshoot operation.\";}s:10:\"reasonType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Reason
  type of failure.\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"A
  summary of troubleshooting.\";}s:6:\"detail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Details
  on troubleshooting results.\";}s:18:\"recommendedActions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:28:\"List
  of recommended actions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/TroubleshootingRecommendedActions\";}}}}s:33:\"TroubleshootingRecommendedActions\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Recommended
  actions based on discovered issues.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"actionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"ID
  of the recommended action.\";s:4:\"type\";s:6:\"string\";}s:10:\"actionText\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Description
  of recommended actions.\";s:4:\"type\";s:6:\"string\";}s:9:\"actionUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  uri linking to a documentation for the recommended troubleshooting actions.\";s:4:\"type\";s:6:\"string\";}s:13:\"actionUriText\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  information from the URI for the recommended troubleshooting actions.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"FlowLogProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Parameters
  that define the configuration of flow log.\";s:8:\"required\";a:2:{i:0;s:9:\"storageId\";i:1;s:7:\"enabled\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"storageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"ID
  of the storage account which is used to store the flow log.\";s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Flag
  to enable/disable flow logging.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"retentionPolicy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/RetentionPolicyParameters\";}}}s:23:\"FlowLogStatusParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Parameters
  that define a resource to query flow log status.\";s:8:\"required\";a:1:{i:0;s:16:\"targetResourceId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"targetResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  target resource where getting the flow logging status.\";s:4:\"type\";s:6:\"string\";}}}s:25:\"RetentionPolicyParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Parameters
  that define the retention policy for flow log.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"days\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Number
  of days to retain flow log records.\";s:4:\"type\";s:7:\"integer\";s:7:\"default\";i:0;}s:7:\"enabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Flag
  to enable/disable retention.\";s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}}}s:18:\"FlowLogInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Information
  on the configuration of flow log.\";s:8:\"required\";a:2:{i:0;s:16:\"targetResourceId\";i:1;s:10:\"properties\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"targetResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  ID of the resource to configure for flow logging.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:31:\"#/definitions/FlowLogProperties\";}}}s:22:\"ConnectivityParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Parameters
  that determine how the connectivity check will be performed.\";s:8:\"required\";a:2:{i:0;s:6:\"source\";i:1;s:11:\"destination\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ConnectivitySource\";}s:11:\"destination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ConnectivityDestination\";}}}s:18:\"ConnectivitySource\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Parameters
  that define the source of the connection.\";s:8:\"required\";a:1:{i:0;s:10:\"resourceId\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  ID of the resource from which a connectivity check will be initiated.\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  source port from which a connectivity check will be performed.\";s:4:\"type\";s:7:\"integer\";}}}s:23:\"ConnectivityDestination\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Parameters
  that define destination of connection.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  ID of the resource to which a connection attempt will be made.\";s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  IP address or URI the resource to which a connection attempt will be made.\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Port
  on which check connectivity will be performed.\";s:4:\"type\";s:7:\"integer\";}}}s:23:\"ConnectivityInformation\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Information
  on the connectivity status.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"hops\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:11:\"description\";s:52:\"List
  of hops between the source and the destination.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConnectivityHop\";}}s:16:\"connectionStatus\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:9:\"Connected\";i:2;s:12:\"Disconnected\";i:3;s:8:\"Degraded\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"ConnectionStatus\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:22:\"The
  connection status.\";}s:14:\"avgLatencyInMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Average
  latency in milliseconds.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:14:\"minLatencyInMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Minimum
  latency in milliseconds.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:14:\"maxLatencyInMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Maximum
  latency in milliseconds.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:10:\"probesSent\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Total
  number of probes sent.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:12:\"probesFailed\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Number
  of failed probes.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}}s:15:\"ConnectivityHop\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Information
  about a hop between the source and the destination.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  type of the hop.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  ID of the hop.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  IP address of the hop.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"resourceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  ID of the resource corresponding to this hop.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"nextHopIds\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:11:\"description\";s:29:\"List
  of next hop identifiers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"issues\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"List
  of issues.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ConnectivityIssue\";}}}}s:17:\"ConnectivityIssue\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Information
  about an issue encountered in the process of checking for connectivity.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"origin\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:5:\"Local\";i:1;s:7:\"Inbound\";i:2;s:8:\"Outbound\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Origin\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:24:\"The
  origin of the issue.\";}s:8:\"severity\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Error\";i:1;s:7:\"Warning\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"Severity\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:26:\"The
  severity of the issue.\";}s:4:\"type\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:7:\"Unknown\";i:1;s:12:\"AgentStopped\";i:2;s:13:\"GuestFirewall\";i:3;s:13:\"DnsResolution\";i:4;s:10:\"SocketBind\";i:5;s:19:\"NetworkSecurityRule\";i:6;s:16:\"UserDefinedRoute\";i:7;s:13:\"PortThrottled\";i:8;s:8:\"Platform\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"IssueType\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:18:\"The
  type of issue.\";}s:7:\"context\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"Provides
  additional context on the issue.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/IssueContext\";}}}}s:12:\"IssueContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"A
  key-value pair that provides additional context on the issue.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}"
...
