---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:27:\"The Resource Health
  Client.\";s:5:\"title\";s:24:\"Microsoft.ResourceHealth\";s:7:\"version\";s:10:\"2017-07-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:176:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2017-07-01/resourcehealth.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:14:\"resourcehealth\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.ResourceHealth/operations:
    get:
      description: Lists available operations for the resourcehealth resource provider
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: The body contains the list of available operations for the
            resourcehealth resource provider
          schema:
            $ref: '#/definitions/operationListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Operations
  /subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/availabilityStatuses:
    get:
      description: Lists the current availability status for all the resources in
        the subscription. Use the nextLink property in the response to get the next
        page of availability statuses.
      operationId: AvailabilityStatuses_ListBySubscriptionId
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/FilterParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ExpandParameter'
      responses:
        200:
          description: The body contains the list of the current availability status
            for all the resources in the subscription
          schema:
            $ref: '#/definitions/availabilityStatusListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - AvailabilityStatuses
      x-ms-examples:
        ListHealthBySubscriptionId:
          parameters:
            $expand: recommendedactions
            api-version: "2015-01-01"
            subscriptionId: subscriptionId
          responses:
            200:
              body:
                nextLink: '{originalRequestUrl}?$skipToken={OpaquePageNumber}'
                value:
                - id: <resourceId>/providers/Microsoft.ResourceHealth/AvailabilityStatueses/current
                  location: eastus
                  name: current
                  properties:
                    RecentlyResolved:
                      ResolvedTime: "2017-02-28T00:49:00Z"
                      UnavailableOccuredTime: "2017-02-28T00:48:00Z"
                      UnavailableSummary: We are sorry your SQL database is unavailable
                    RecommendedActions:
                    - Action: To start this virtualmachine, open the resource blade
                        and click Start
                      ActionUrl: <#ResourceBlade>
                      ActionUrlText: resourceblade
                    availabilityState: Available
                    detailedStatus: We have not seen any issues with your virtual
                      machine
                    occuredTime: "2016-03-29T09:12:00Z"
                    reasonChronicity: Persistent
                    reasonType: Unplanned
                    reportedTime: "2016-05-04T14:11:29.7598931Z"
                    summary: Vm is available
                  type: Microsoft.ResourceHealth/AvailabilityStatuses
                - id: <resourceId>/providers/Microsoft.ResourceHealth/AvailabilityStatueses/current
                  location: eastus
                  name: current
                  properties:
                    RecommendedActions:
                    - Action: To start this virtualmachine, open the resource blade
                      ActionUrl: <#ResourceBlade>
                      ActionUrlText: resourceblade
                    - Action: If you are experiencing problems you believe are caused
                        by Azure, contact support
                      ActionUrl: <#SupportCase>
                      ActionUrlText: contactsupport
                    availabilityState: Unavailable
                    detailedStatus: Diskproblemsarepreventingusfromautomaticallyrecoveringyourvirtualmachine
                    occuredTime: "2016-03-29T09:12:00Z"
                    reasonChronicity: Persistent
                    reasonType: Unplanned
                    reportedTime: "2016-05-04T14:11:29.7598931Z"
                    resolutionETA: "2016-03-29T09:37:00Z"
                    rootCauseAttributionTime: "2016-03-29T09:13:00Z"
                    summary: We are sorry, we couldn't automatically recovery our
                      virtualmachine
                  type: Microsoft.ResourceHealth/AvailabilityStatuses
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceHealth/availabilityStatuses:
    get:
      description: Lists the current availability status for all the resources in
        the resource group. Use the nextLink property in the response to get the next
        page of availability statuses.
      operationId: AvailabilityStatuses_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/FilterParameter'
      - $ref: '#/parameters/ExpandParameter'
      responses:
        200:
          description: The body contains the list of the current availability status
            for all the resources in the resource group
          schema:
            $ref: '#/definitions/availabilityStatusListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - AvailabilityStatuses
      x-ms-examples:
        ListByResourceGroup:
          parameters:
            $expand: recommendedactions
            api-version: "2015-01-01"
            resourceGroupName: resourceGroupName
            subscriptionId: subscriptionId
          responses:
            200:
              body:
                nextLink: '{originalRequestUrl}?$skipToken={OpaquePageNumber}'
                value:
                - id: <resourceId>/providers/Microsoft.ResourceHealth/AvailabilityStatueses/current
                  location: eastus
                  name: current
                  properties:
                    RecentlyResolved:
                      ResolvedTime: "2017-02-28T00:49:00Z"
                      UnavailableOccuredTime: "2017-02-28T00:48:00Z"
                      UnavailableSummary: We are sorry your SQL database is unavailable
                    RecommendedActions:
                    - Action: To start this virtualmachine, open the resource blade
                        and click Start
                      ActionUrl: <#ResourceBlade>
                      ActionUrlText: resourceblade
                    availabilityState: Available
                    detailedStatus: We have not seen any issues with your virtual
                      machine
                    occuredTime: "2016-03-29T09:12:00Z"
                    reasonChronicity: Persistent
                    reasonType: Unplanned
                    reportedTime: "2016-05-04T14:11:29.7598931Z"
                    summary: Vm is available
                  type: Microsoft.ResourceHealth/AvailabilityStatuses
                - id: <resourceId>/providers/Microsoft.ResourceHealth/AvailabilityStatueses/current
                  location: eastus
                  name: current
                  properties:
                    RecommendedActions:
                    - Action: To start this virtualmachine, open the resource blade
                      ActionUrl: <#ResourceBlade>
                      ActionUrlText: resourceblade
                    - Action: If you are experiencing problems you believe are caused
                        by Azure, contact support
                      ActionUrl: <#SupportCase>
                      ActionUrlText: contactsupport
                    availabilityState: Unavailable
                    detailedStatus: Diskproblemsarepreventingusfromautomaticallyrecoveringyourvirtualmachine
                    occuredTime: "2016-03-29T09:12:00Z"
                    reasonChronicity: Persistent
                    reasonType: Unplanned
                    reportedTime: "2016-05-04T14:11:29.7598931Z"
                    resolutionETA: "2016-03-29T09:37:00Z"
                    rootCauseAttributionTime: "2016-03-29T09:13:00Z"
                    summary: We are sorry, we couldn't automatically recovery our
                      virtualmachine
                  type: Microsoft.ResourceHealth/AvailabilityStatuses
      x-ms-pageable:
        nextLinkName: nextLink
  /{resourceUri}/providers/Microsoft.ResourceHealth/availabilityStatuses:
    get:
      description: Lists all historical availability transitions and impacting events
        for a single resource. Use the nextLink property in the response to get the
        next page of availability status
      operationId: AvailabilityStatuses_List
      parameters:
      - description: 'The fully qualified ID of the resource, including the resource
          name and resource type. Currently the API support not nested and one nesting
          level resource types : /subscriptions/{subscriptionId}/resourceGroups/{resource-group-name}/providers/{resource-provider-name}/{resource-type}/{resource-name}
          and /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resource-provider-name}/{parentResourceType}/{parentResourceName}/{resourceType}/{resourceName}'
        in: path
        name: resourceUri
        required: true
        type: string
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/FilterParameter'
      - $ref: '#/parameters/ExpandParameter'
      responses:
        200:
          description: The body contains the list of the historical availability statuses
            for a single resource
          schema:
            $ref: '#/definitions/availabilityStatusListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - AvailabilityStatuses
      x-ms-examples:
        GetHealthHistoryByResource:
          parameters:
            api-version: "2015-01-01"
            resourceUri: resourceUri
          responses:
            200:
              body:
                value:
                - id: /subscriptions/4abcdefgh-ijkl-mnop-qrstuvwxyz/resourceGroups/rhctestenv/providers/Microsoft.ClassicCompute/virtualMachines/rhctes
                    tenvV1PI/providers/Microsoft.ResourceHealth/availabilityStatuses/current
                  location: eastus
                  name: current
                  properties:
                    availabilityState: Unavailable
                    detailedStatus: Disk problems are preventing us from automatically
                      recovering your virtual machine
                    occuredTime: "2016-03-29T09:12:00Z"
                    reasonChronicity: Persistent
                    reasonType: Unplanned
                    reportedTime: "2016-05-04T14:11:29.7598931Z"
                    resolutionETA: "2016-03-29T09:37:00Z"
                    rootCauseAttributionTime: "2016-03-29T09:13:00Z"
                    serviceImpactingEvents:
                    - correlationId: b56d0180-2d6c-4f7b-b750-c1eca681874c
                      eventStartTime: "2016-05-02T19:23:13.7115125Z"
                      eventStatusLastModifiedTime: "2016-05-02T19:27:04.9543491Z"
                      incidentProperties:
                        incidentType: outage
                        region: East US
                        service: Virtual Machines
                        title: Virtual Machines - West Europe [West Europe]
                      status:
                        value: Resolved
                    summary: We're sorry, we couldn't automatically recover your virtual
                      machine
                  type: Microsoft.ResourceHealth/AvailabilityStatuses
                - id: /subscriptions/4abcdefgh-ijkl-mnop-qrstuvwxyz/resourceGroups/rhctestenv/providers/Microsoft.ClassicCompute/virtualMachines/rhctes
                    tenvV1PI/providers/Microsoft.ResourceHealth/availabilityStatuses/2016-03-28+16%3a23%3a00Z
                  location: eastus
                  name: 2016-03-28+16%3a23%3a00Z
                  properties:
                    availabilityState: Available
                    detailedStatus: There arenu2019t any known Azure platform problems
                      affecting this virtual machine
                    occuredTime: "2016-03-28T16:23:00Z"
                    reasonChronicity: Persistent
                    summary: This virtual machine is running normally
                  type: Microsoft.ResourceHealth/AvailabilityStatuses
      x-ms-pageable:
        nextLinkName: nextLink
  /{resourceUri}/providers/Microsoft.ResourceHealth/availabilityStatuses/current:
    get:
      description: Gets current availability status for a single resource
      operationId: AvailabilityStatuses_GetByResource
      parameters:
      - description: 'The fully qualified ID of the resource, including the resource
          name and resource type. Currently the API support not nested and one nesting
          level resource types : /subscriptions/{subscriptionId}/resourceGroups/{resource-group-name}/providers/{resource-provider-name}/{resource-type}/{resource-name}
          and /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resource-provider-name}/{parentResourceType}/{parentResourceName}/{resourceType}/{resourceName}'
        in: path
        name: resourceUri
        required: true
        type: string
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/FilterParameter'
      - $ref: '#/parameters/ExpandParameter'
      responses:
        200:
          description: The body contains the current availability status for a single
            resource
          schema:
            $ref: '#/definitions/availabilityStatus'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - AvailabilityStatuses
      x-ms-examples:
        GetCurrentHealthByResource:
          parameters:
            $expand: recommendedactions
            api-version: "2015-01-01"
            resourceUri: resourceUri
          responses:
            200:
              body:
                id: /subscriptions/4abcdefgh-ijkl-mnop-qrstuvwxyz/resourceGroups/rhctestenv/providers/Microsoft.ClassicCompute/virtualMachines
                  /rhctestenvV1PI/providers/Microsoft.ResourceHealth/availabilityStatuses/current
                location: eastus
                name: current
                properties:
                  RecommendedActions:
                  - Action: To start this virtual machine, open the resource blade
                      and click Start
                    ActionUrl: <#ResourceBlade>
                    ActionUrlText: resource blade
                  - Action: If you are experiencing problems you believe are caused
                      by Azure, contact support
                    ActionUrl: <#SupportCase>
                    ActionUrlText: contact support
                  availabilityState: Unavailable
                  detailedStatus: Disk problems are preventing us from automatically
                    recovering your virtual machine
                  occuredTime: "2016-03-29T09:12:00Z"
                  reasonChronicity: Persistent
                  reasonType: Unplanned
                  reportedTime: "2016-05-04T14:11:29.7598931Z"
                  resolutionETA: "2016-03-29T09:37:00Z"
                  rootCauseAttributionTime: "2016-03-29T09:13:00Z"
                  summary: We're sorry, we couldn't automatically recover your virtual
                    machine
                type: Microsoft.ResourceHealth/AvailabilityStatuses
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Error
  details.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  error code.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  error details.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  error message.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"availabilityStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"availabilityStatus
  of a resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Azure
  Resource Manager Identity for the availabilityStatuses resource.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Azure
  Resource Manager geo location of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"current.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Properties
  of availability state.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:17:\"availabilityState\";O:8:\"stdClass\":4:{s:11:\"description\";s:127:\"Availability
  status of the resource. When it is null, this availabilityStatus object represents
  an availability impacting event\";s:4:\"enum\";a:3:{i:0;s:9:\"Available\";i:1;s:11:\"Unavailable\";i:2;s:7:\"Unknown\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:23:\"AvailabilityStateValues\";}}s:14:\"detailedStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Details
  of the availability status.\";s:4:\"type\";s:6:\"string\";}s:19:\"healthEventCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"In
  case of an availability impacting event, it describes the category of a PlatformInitiated
  health impacting event. Examples are Planned, Unplanned etc.\";s:4:\"type\";s:6:\"string\";}s:16:\"healthEventCause\";O:8:\"stdClass\":2:{s:11:\"description\";s:156:\"In
  case of an availability impacting event, it describes where the health impacting
  event was originated. Examples are PlatformInitiated, UserInitiated etc.\";s:4:\"type\";s:6:\"string\";}s:13:\"healthEventId\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"It
  is a unique Id that identifies the event\";s:4:\"type\";s:6:\"string\";}s:15:\"healthEventType\";O:8:\"stdClass\":2:{s:11:\"description\";s:158:\"In
  case of an availability impacting event, it describes when the health impacting
  event was originated. Examples are Lifecycle, Downtime, Fault Analysis etc.\";s:4:\"type\";s:6:\"string\";}s:11:\"occuredTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Timestamp
  for when last change in health status occurred.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"reasonChronicity\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Chronicity
  of the availability transition.\";s:4:\"enum\";a:2:{i:0;s:9:\"Transient\";i:1;s:10:\"Persistent\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:21:\"reasonChronicityTypes\";}}s:10:\"reasonType\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"When
  the resource's availabilityState is Unavailable, it describes where the health impacting
  event was originated. Examples are planned, unplanned, user initiated or an outage
  etc.\";s:4:\"type\";s:6:\"string\";}s:21:\"recentlyResolvedState\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"An
  annotation describing a change in the availabilityState to Available from Unavailable
  with a reasonType of type Unplanned\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"resolvedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Timestamp
  when the availabilityState changes to Available.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:21:\"unavailabilitySummary\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Brief
  description of cause of the resource becoming unavailable.\";s:4:\"type\";s:6:\"string\";}s:23:\"unavailableOccurredTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Timestamp
  for when the availabilityState changed to Unavailable\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"recommendedActions\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Lists
  actions the user can take based on the current availabilityState of the resource.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/recommendedAction\";}s:4:\"type\";s:5:\"array\";}s:12:\"reportedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Timestamp
  for when the health was last checked. \";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"resolutionETA\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"When
  the resource's availabilityState is Unavailable and the reasonType is not User Initiated,
  it provides the date and time for when the issue is expected to be resolved.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:24:\"rootCauseAttributionTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"When
  the resource's availabilityState is Unavailable, it provides the Timestamp for when
  the health impacting event was received.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"serviceImpactingEvents\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Lists
  the service impacting events that may be affecting the health of the resource.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/serviceImpactingEvent\";}s:4:\"type\";s:5:\"array\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Summary
  description of the availability status.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Microsoft.ResourceHealth/AvailabilityStatuses.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"availabilityStatusListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  List availabilityStatus operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"The
  URI to fetch the next page of availabilityStatuses. Call ListNext() with this URI
  to fetch the next page of availabilityStatuses.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  list of availabilityStatuses.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/availabilityStatus\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Operation
  available in the resourcehealth resource provider.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Properties
  of the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Description
  of the operation.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Operation
  name.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Provider
  name.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Resource
  name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the operation.\";s:4:\"type\";s:6:\"string\";}}}s:19:\"operationListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Lists
  the operations response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"List
  of operations available in the resourcehealth resource provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/operation\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:17:\"recommendedAction\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Lists
  actions the user can take based on the current availabilityState of the resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"action\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Recommended
  action.\";s:4:\"type\";s:6:\"string\";}s:9:\"actionUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Link
  to the action\";s:4:\"type\";s:6:\"string\";}s:13:\"actionUrlText\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Substring
  of action, it describes which text should host the action url.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"serviceImpactingEvent\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Lists
  the service impacting events that may be affecting the health of the resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"correlationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Correlation
  id for the event\";s:4:\"type\";s:6:\"string\";}s:14:\"eventStartTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Timestamp
  for when the event started.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:27:\"eventStatusLastModifiedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Timestamp
  for when event was submitted/detected.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"incidentProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Properties
  of the service impacting event.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"incidentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Type
  of Event.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Region
  impacted by the event.\";s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Service
  impacted by the event.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Title
  of the incident.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Status
  of the service impacting event.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Current
  status of the event\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}}}"
...
