---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"ApiManagementClient\";s:11:\"description\";s:147:\"Use
  these REST APIs for performing operations on entities like API, Product, and Subscription
  associated with your Azure API Management deployment.\";s:7:\"version\";s:10:\"2016-07-07\";}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":73:{s:36:\"OAuth2AuthenticationSettingsContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"authorizationServerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"OAuth
  authorization server identifier.\";}s:5:\"scope\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"operations
  scope.\";}}s:11:\"description\";s:43:\"API OAuth2 Authentication settings details.\";}s:30:\"AuthenticationSettingsContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"oAuth2\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/OAuth2AuthenticationSettingsContract\";}}s:11:\"description\";s:28:\"API
  Authentication Settings.\";}s:37:\"SubscriptionKeyParameterNamesContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Subscription
  key header name.\";}s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Subscription
  key query string parameter name.\";}}s:11:\"description\";s:41:\"Subscription key
  parameter names details.\";s:7:\"example\";O:8:\"stdClass\":1:{s:29:\"subscriptionKeyParameterNames\";O:8:\"stdClass\":2:{s:5:\"query\";s:24:\"customQueryParameterName\";s:6:\"header\";s:25:\"customHeaderParameterName\";}}}s:11:\"ApiContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"API
  identifier path: /apis/{apiId}\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"API
  name.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:300;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Description
  of the API. May include HTML formatting tags.\";}s:10:\"serviceUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Absolute
  URL of the backend service implementing this API.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:2000;}s:4:\"path\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:242:\"Relative
  URL uniquely identifying this API and all of its resource paths within the API Management
  service instance. It is appended to the API endpoint base URL specified during the
  service instance creation to form a public URL for this API.\";s:9:\"minLength\";i:0;s:9:\"maxLength\";i:400;}s:9:\"protocols\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"Http\";i:1;s:5:\"Https\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"ApiProtocolContract\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";s:71:\"Describes
  on which protocols the operations in this API can be invoked.\";}s:22:\"authenticationSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/AuthenticationSettingsContract\";s:11:\"description\";s:61:\"Collection
  of authentication settings included into this API.\";}s:29:\"subscriptionKeyParameterNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/SubscriptionKeyParameterNamesContract\";s:11:\"description\";s:43:\"Protocols
  over which API is made available.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Type
  of API.\";s:4:\"enum\";a:2:{i:0;s:4:\"Http\";i:1;s:4:\"Soap\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"ApiTypeContract\";s:13:\"modelAsString\";b:0;}}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:10:\"serviceUrl\";i:2;s:4:\"path\";i:3;s:9:\"protocols\";}s:11:\"description\";s:12:\"API
  details.\";}s:13:\"ApiCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ApiContract\";}s:11:\"description\";s:12:\"Page
  values.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"Total
  records count number.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:30:\"Paged Api list representation.\";}s:15:\"PatchParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"RawJson\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:11:\"json
  value.\";}}s:8:\"required\";a:1:{i:0;s:7:\"RawJson\";}s:11:\"description\";s:44:\"Parameters
  supplied to the Patch operations.\";}s:15:\"ApiExportResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"content\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"byte\";s:11:\"description\";s:23:\"Response
  content bytes.\";}s:10:\"statusCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:8:\"Continue\";i:1;s:2:\"OK\";i:2;s:7:\"Created\";i:3;s:8:\"Accepted\";i:4;s:8:\"NotFound\";i:5;s:8:\"Conflict\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"HttpStatusCode\";s:13:\"modelAsString\";b:0;}}s:9:\"requestId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:55:\"The
  response model for the export API output operation.\";}s:17:\"ParameterContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Parameter
  name.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Parameter
  description.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Parameter
  type.\";}s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Default
  parameter value.\";}s:8:\"required\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:37:\"whether
  parameter is required or not.\";}s:6:\"values\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:17:\"Parameter
  values.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}s:11:\"description\";s:29:\"Operation
  parameters details.\";}s:22:\"RepresentationContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"Specifies
  a registered or custom content type for this representation, e.g. application/xml.\";}s:6:\"sample\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"An
  example of the representation.\";}}s:8:\"required\";a:1:{i:0;s:11:\"contentType\";}s:11:\"description\";s:50:\"Operation
  request/response representation details.\";}s:15:\"RequestContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Operation
  request description.\";}s:15:\"queryParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ParameterContract\";}s:11:\"description\";s:49:\"Collection
  of operation request query parameters.\";}s:7:\"headers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ParameterContract\";}s:11:\"description\";s:40:\"Collection
  of operation request headers.\";}s:15:\"representations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/RepresentationContract\";}s:11:\"description\";s:48:\"Collection
  of operation request representations.\";}}s:11:\"description\";s:26:\"Operation
  request details.\";}s:14:\"ResultContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"statusCode\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"Operation
  response HTTP status code.\";s:7:\"minimum\";i:100;s:7:\"maximum\";i:599;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Operation
  response description.\";}s:15:\"representations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/RepresentationContract\";}s:11:\"description\";s:49:\"Collection
  of operation response representations.\";}}s:8:\"required\";a:1:{i:0;s:10:\"statusCode\";}s:11:\"description\";s:27:\"Operation
  response details.\";}s:17:\"OperationContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:234:\"Uniquely
  identifies the operation within the current API Management service instance. The
  value is a valid relative URL in the format of /apis/{aid}/operations/{id} where
  {aid} is an API identifier and {id} is an operation identifier.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Operation
  Name.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:300;}s:6:\"method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"A
  Valid HTTP Operation Method. Typical Http Methods like GET, PUT, POST but not limited
  by only them.\";s:12:\"externalDocs\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"As
  defined by RFC.\";s:3:\"url\";s:41:\"http://www.rfc-editor.org/rfc/rfc7230.txt\";}}s:11:\"urlTemplate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:149:\"Relative
  URL template identifying the target resource for this operation. May include parameters.
  Example: /customers/{cid}/orders/{oid}/?date={date}\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:1000;}s:18:\"templateParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ParameterContract\";}s:11:\"description\";s:38:\"Collection
  of URL template parameters.\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Description
  of the operation. May include HTML formatting tags.\";s:9:\"maxLength\";i:1000;}s:7:\"request\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RequestContract\";s:11:\"description\";s:37:\"An
  entity containing request details.\";}s:9:\"responses\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResultContract\";}s:11:\"description\";s:29:\"Array
  of Operation responses.\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:6:\"method\";i:2;s:11:\"urlTemplate\";}s:11:\"description\";s:22:\"Api
  Operation details.\";}s:19:\"OperationCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OperationContract\";}s:11:\"description\";s:12:\"Page
  values.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"Total
  records count number.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:36:\"Paged Operation list representation.\";}s:15:\"ProductContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:199:\"Uniquely
  identifies the product within the current API Management service instance. The value
  is a valid relative URL in the format of /products/{productId} where {productId}
  is a product identifier.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Product
  name.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:300;}s:11:\"description\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Product
  description. May include HTML formatting tags.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:1000;}s:5:\"terms\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:171:\"Product
  terms of use. Developers trying to subscribe to the product will be presented and
  required to accept these terms before they can complete the subscription process.\";}s:20:\"subscriptionRequired\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:458:\"Whether
  a product subscription is required for accessing APIs included in this product.
  If true, the product is referred to as \"protected\" and a valid subscription key
  is required for a request to an API included in the product to succeed. If false,
  the product is referred to as \"open\" and requests to an API included in the product
  can be made without a subscription key. If property is omitted when creating a new
  product it's value is assumed to be true.\";s:7:\"default\";b:1;}s:16:\"approvalRequired\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:390:\"whether
  subscription approval is required. If\_false, new subscriptions will be approved
  automatically enabling developers to call the product\u2019s APIs immediately after
  subscribing. If\_true, administrators must manually approve the subscription before
  the developer can any of the product\u2019s APIs. Can be present only if subscriptionRequired
  property is present and has a value of false.\";}s:18:\"subscriptionsLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:240:\"Whether
  the number of subscriptions a user can have to this product at the same time. Set
  to\_null\_or omit to allow unlimited per user subscriptions. Can be present only
  if subscriptionRequired property is present and has a value of false.\";}s:5:\"state\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:203:\"whether
  product is published or not. Published products are discoverable by users of developer
  portal. Non published products are visible only to administrators. Default state
  of Product is NotPublished.\";s:4:\"enum\";a:2:{i:0;s:12:\"NotPublished\";i:1;s:9:\"Published\";}s:7:\"default\";s:12:\"NotPublished\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"ProductStateContract\";s:13:\"modelAsString\";b:0;}}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:11:\"description\";s:16:\"Product
  profile.\";}s:17:\"ProductCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ProductContract\";}s:11:\"description\";s:12:\"Page
  values.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"Total
  records count number.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:35:\"Paged Products list representation.\";}s:20:\"SubscriptionContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:202:\"Uniquely
  identifies the subscription within the current API Management service instance.
  The value is a valid relative URL in the format of /subscriptions/{sid} where {sid}
  is a subscription identifier.\";s:8:\"readOnly\";b:1;}s:6:\"userId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:153:\"The
  user resource identifier of the subscription owner. The value is a valid relative
  URL in the format of /users/{uid} where {uid} is a user identifier.\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:174:\"The
  product resource identifier of the subscribed product. The value is a valid relative
  URL in the format of /products/{productId} where {productId} is a product identifier.\";}s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"The
  name of the subscription, or null if the subscription has no name.\";s:9:\"minLength\";i:0;s:9:\"maxLength\";i:100;}s:5:\"state\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:541:\"Subscription
  state. Possible states are * active \u2013 the subscription is active, * suspended
  \u2013 the subscription is blocked, and the subscriber cannot call any APIs of the
  product, * submitted \u2013 the subscription request has been made by the developer,
  but has not yet been approved or rejected, * rejected \u2013 the subscription request
  has been denied by an administrator, * cancelled \u2013 the subscription has been
  cancelled by the developer or administrator, * expired \u2013 the subscription reached
  its expiration date and was deactivated.\";s:4:\"enum\";a:6:{i:0;s:9:\"Suspended\";i:1;s:6:\"Active\";i:2;s:7:\"Expired\";i:3;s:9:\"Submitted\";i:4;s:8:\"Rejected\";i:5;s:9:\"Cancelled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"SubscriptionStateContract\";s:13:\"modelAsString\";b:0;}}s:11:\"createdDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:133:\"Subscription
  creation date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";s:8:\"readOnly\";b:1;}s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:135:\"Subscription
  activation date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";}s:14:\"expirationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:135:\"Subscription
  expiration date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:154:\"Date
  when subscription was cancelled or expired. The date conforms to the following format:
  `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n\";}s:16:\"notificationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:157:\"Upcoming
  subscription expiration notification date. The date conforms to the following format:
  `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n\";}s:10:\"primaryKey\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Subscription
  primary key.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:256;}s:12:\"secondaryKey\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Subscription
  secondary key.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:256;}s:12:\"stateComment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Optional
  subscription comment added by an administrator.\";}}s:11:\"description\";s:21:\"Subscription
  details.\";}s:22:\"SubscriptionCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SubscriptionContract\";}s:11:\"description\";s:12:\"Page
  values.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"Total
  records count number.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:40:\"Paged Subscriptions list representation.\";}s:28:\"SubscriptionCreateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"userId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"User
  (user id path) for whom subscription is being created in form /users/{uid}\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Product
  (product id path) for which subscription is being created in form /products/{productId}\";}s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Subscription
  name.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:100;}s:10:\"primaryKey\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:94:\"Primary
  subscription key. If not specified during request key will be generated automatically.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:256;}s:12:\"secondaryKey\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:96:\"Secondary
  subscription key. If not specified during request key will be generated automatically.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:256;}s:5:\"state\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:621:\"Initial
  subscription state. If no value is specified, subscription is created with Submitted
  state. Possible states are * active \u2013 the subscription is active, * suspended
  \u2013 the subscription is blocked, and the subscriber cannot call any APIs of the
  product, * submitted \u2013 the subscription request has been made by the developer,
  but has not yet been approved or rejected, * rejected \u2013 the subscription request
  has been denied by an administrator, * cancelled \u2013 the subscription has been
  cancelled by the developer or administrator, * expired \u2013 the subscription reached
  its expiration date and was deactivated.\";s:4:\"enum\";a:6:{i:0;s:9:\"Suspended\";i:1;s:6:\"Active\";i:2;s:7:\"Expired\";i:3;s:9:\"Submitted\";i:4;s:8:\"Rejected\";i:5;s:9:\"Cancelled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"SubscriptionStateContract\";s:13:\"modelAsString\";b:0;}}}s:8:\"required\";a:3:{i:0;s:6:\"userId\";i:1;s:9:\"productId\";i:2;s:4:\"name\";}s:11:\"description\";s:57:\"Parameters
  supplied to the Create subscription operation.\";}s:28:\"SubscriptionUpdateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"userId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"User
  identifier path: /users/{uid}\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Product
  identifier path: /products/{productId}\";}s:14:\"expirationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:33:\"New
  subscription expiration date.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Subscription
  name.\";}s:10:\"primaryKey\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Primary
  subscription key.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:256;}s:12:\"secondaryKey\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Secondary
  subscription key.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:256;}s:5:\"state\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:541:\"Subscription
  state. Possible states are * active \u2013 the subscription is active, * suspended
  \u2013 the subscription is blocked, and the subscriber cannot call any APIs of the
  product, * submitted \u2013 the subscription request has been made by the developer,
  but has not yet been approved or rejected, * rejected \u2013 the subscription request
  has been denied by an administrator, * cancelled \u2013 the subscription has been
  cancelled by the developer or administrator, * expired \u2013 the subscription reached
  its expiration date and was deactivated.\";s:4:\"enum\";a:6:{i:0;s:9:\"Suspended\";i:1;s:6:\"Active\";i:2;s:7:\"Expired\";i:3;s:9:\"Submitted\";i:4;s:8:\"Rejected\";i:5;s:9:\"Cancelled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"SubscriptionStateContract\";s:13:\"modelAsString\";b:0;}}s:12:\"stateComment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Comments
  describing subscription state change by the administrator.\";}}s:11:\"description\";s:57:\"Parameters
  supplied to the Update subscription operation.\";}s:23:\"ProductUpdateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Product
  name.\";s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;}s:11:\"description\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Product
  description.\";s:9:\"maxLength\";i:500;s:9:\"minLength\";i:1;}s:5:\"terms\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"Product
  terms and conditions. Developer will have to accept these terms before he's allowed
  to call product API.\";}s:20:\"subscriptionRequired\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:458:\"whether
  a product subscription is required for accessing APIs included in this product.
  If true, the product is referred to as \"protected\" and a valid subscription key
  is required for a request to an API included in the product to succeed. If false,
  the product is referred to as \"open\" and requests to an API included in the product
  can be made without a subscription key. If property is omitted when creating a new
  product it's value is assumed to be true.\";}s:16:\"approvalRequired\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:390:\"whether
  subscription approval is required. If\_false, new subscriptions will be approved
  automatically enabling developers to call the product\u2019s APIs immediately after
  subscribing. If\_true, administrators must manually approve the subscription before
  the developer can any of the product\u2019s APIs. Can be present only if subscriptionRequired
  property is present and has a value of false.\";}s:18:\"subscriptionsLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:240:\"whether
  the number of subscriptions a user can have to this product at the same time. Set
  to\_null\_or omit to allow unlimited per user subscriptions. Can be present only
  if subscriptionRequired property is present and has a value of false.\";}s:5:\"state\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:161:\"whether
  product is published or not. Published products are discoverable by users of developer
  portal. Non published products are visible only to administrators.\";s:4:\"enum\";a:2:{i:0;s:12:\"NotPublished\";i:1;s:9:\"Published\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"ProductStateContract\";s:13:\"modelAsString\";b:0;}}}s:11:\"description\";s:60:\"Parameters
  supplied to the CreateOrUpdate Product operation.\";}s:13:\"GroupContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:189:\"Uniquely
  identifies the group within the current API Management service instance. The value
  is a valid relative URL in the format of /groups/{groupId} where {groupId} is a
  group identifier.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Group
  name.\";s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Group
  description. Can contain HTML formatting tags.\";s:9:\"maxLength\";i:1000;}s:7:\"builtIn\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:109:\"true
  if the group is one of the three system groups (Administrators, Developers, or Guests);
  otherwise false.\";}s:4:\"type\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Group
  type.\";s:8:\"readOnly\";b:1;s:4:\"enum\";a:3:{i:0;s:6:\"Custom\";i:1;s:6:\"System\";i:2;s:8:\"External\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"GroupTypeContract\";s:13:\"modelAsString\";b:0;}}s:10:\"externalId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:158:\"For
  external groups, this property contains the id of the group from the external identity
  provider, e.g. Azure Active Directory; otherwise the value is null.\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:11:\"description\";s:16:\"Developer
  group.\";}s:15:\"GroupCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GroupContract\";}s:11:\"description\";s:12:\"Page
  values.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"Total
  records count number.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:32:\"Paged Group list representation.\";}s:21:\"GroupCreateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Group
  name.\";s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Group
  description.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Group
  type.\";s:4:\"enum\";a:3:{i:0;s:6:\"Custom\";i:1;s:6:\"System\";i:2;s:8:\"External\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"GroupTypeContract\";s:13:\"modelAsString\";b:0;}}s:10:\"externalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Identifier
  for an external group.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:11:\"description\";s:50:\"Parameters
  supplied to the Create Group operation.\";}s:21:\"GroupUpdateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Group
  name.\";s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Group
  description.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Group
  type.\";s:4:\"enum\";a:3:{i:0;s:6:\"Custom\";i:1;s:6:\"System\";i:2;s:8:\"External\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"GroupTypeContract\";s:13:\"modelAsString\";b:0;}}s:10:\"externalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Identifier
  for an external group.\";}}s:11:\"description\";s:50:\"Parameters supplied to the
  Update Group operation.\";}s:20:\"UserIdentityContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"provider\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Identity
  provider name.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Identifier
  value within provider.\";}}s:11:\"description\";s:22:\"User identity details.\";}s:12:\"UserContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"User
  identifier path.\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"First
  name.\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Last
  name.\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Email
  address.\";}s:5:\"state\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"User
  state.\";s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:7:\"Blocked\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"UserStateContract\";s:13:\"modelAsString\";b:0;}}s:16:\"registrationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:132:\"Date
  of user registration. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";}s:4:\"note\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Administrator's
  note about given user.\";}s:10:\"identities\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/UserIdentityContract\";}s:11:\"description\";s:30:\"Collection
  of user identities.\";}}s:11:\"description\";s:13:\"User profile.\";}s:14:\"UserCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/UserContract\";}s:11:\"description\";s:12:\"Page
  values.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"Total
  records count number.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:32:\"Paged Users list representation.\";}s:19:\"CertificateContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Certificate
  identifier path: /certificates/{certificateId}\";s:8:\"readOnly\";b:1;}s:7:\"subject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Subject
  attribute of the certificate.\";}s:10:\"thumbprint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Thumbprint
  of the certificate.\";}s:14:\"expirationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:141:\"Expiration
  date of the certificate. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";}}s:8:\"required\";a:3:{i:0;s:7:\"subject\";i:1;s:10:\"thumbprint\";i:2;s:14:\"expirationDate\";}s:11:\"description\";s:20:\"Certificate
  details.\";}s:21:\"CertificateCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/CertificateContract\";}s:11:\"description\";s:12:\"Page
  values.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"Total
  records count number.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:39:\"Paged Certificates list representation.\";}s:35:\"CertificateCreateOrUpdateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Base
  64 encoded certificate using the application/x-pkcs12 representation.\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Password
  for the Certificate\";}}s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:8:\"password\";}s:11:\"description\";s:64:\"Parameters
  supplied to the CreateOrUpdate certificate operation.\";}s:21:\"PolicySnippetContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Snippet
  name.\";s:8:\"readOnly\";b:1;}s:7:\"content\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Snippet
  content.\";s:8:\"readOnly\";b:1;}s:7:\"toolTip\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Snippet
  toolTip.\";s:8:\"readOnly\";b:1;}s:5:\"scope\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Snippet
  scope.\";s:4:\"enum\";a:5:{i:0;s:6:\"Tenant\";i:1;s:7:\"Product\";i:2;s:3:\"Api\";i:3;s:9:\"Operation\";i:4;s:3:\"All\";}s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"PolicyScopeContract\";s:13:\"modelAsString\";b:0;}}}s:11:\"description\";s:15:\"Policy
  snippet.\";}s:20:\"UserCreateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"email\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Email
  address. Must not be empty and must be unique within the service instance.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:254;}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"User
  Password.\";}s:9:\"firstName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"First
  name.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:100;}s:8:\"lastName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Last
  name.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:100;}s:5:\"state\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:184:\"Account
  state. Specifies whether the user is active or not. Blocked users are unable to
  sign into the developer portal or call any APIs of subscribed products. Default
  state is Active.\";s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:7:\"Blocked\";}s:7:\"default\";s:6:\"Active\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"UserStateContract\";s:13:\"modelAsString\";b:0;}}s:4:\"note\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Optional
  note about a user set by the administrator.\";}}s:8:\"required\";a:4:{i:0;s:5:\"email\";i:1;s:8:\"password\";i:2;s:9:\"firstName\";i:3;s:8:\"lastName\";}s:11:\"description\";s:49:\"Parameters
  supplied to the Create User operation.\";}s:20:\"UserUpdateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Email
  address.\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Password.\";}s:9:\"firstName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"First
  name.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:100;}s:8:\"lastName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Last
  name.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:100;}s:5:\"state\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Account
  state.\";s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:7:\"Blocked\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"UserStateContract\";s:13:\"modelAsString\";b:0;}}s:4:\"note\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Note
  about user.\";}}s:11:\"description\";s:49:\"Parameters supplied to the Update User
  operation.\";}s:20:\"GenerateSsoUrlResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Redirect
  Url containing the SSO URL value.\";}}s:11:\"description\";s:45:\"Generate SSO Url
  operations response details.\";}s:26:\"TokenBodyParameterContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"body
  parameter name.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"body
  parameter value.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"value\";}s:11:\"description\";s:66:\"OAuth
  acquire token request body parameter (www-url-form-encoded).\";}s:33:\"OAuth2AuthorizationServerContract\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":17:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:234:\"Uniquely
  identifies the authorization server within the current API Management service instance.
  The value is a valid relative URL in the format of /authorizationServers/{authsid}
  where {authsid} is an authorization server identifier.\";}s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"User-friendly
  authorization server name.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:50;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Description
  of the authorization server. Can contain HTML formatting tags.\";}s:26:\"clientRegistrationEndpoint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:155:\"Optional
  reference to a page where client or app registration for this authorization server
  is performed. Contains absolute URL to entity being referenced.\";}s:21:\"authorizationEndpoint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"OAuth
  authorization endpoint. See http://tools.ietf.org/html/rfc6749#section-3.2.\";}s:20:\"authorizationMethods\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:4:\"HEAD\";i:1;s:7:\"OPTIONS\";i:2;s:5:\"TRACE\";i:3;s:3:\"GET\";i:4;s:4:\"POST\";i:5;s:3:\"PUT\";i:6;s:5:\"PATCH\";i:7;s:6:\"DELETE\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"MethodContract\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";s:97:\"HTTP
  verbs supported by the authorization endpoint. GET must be always present. POST
  is optional.\";}s:26:\"clientAuthenticationMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Basic\";i:1;s:4:\"Body\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:34:\"ClientAuthenticationMethodContract\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";s:273:\"Method
  of authentication supported by the token endpoint of this authorization server.
  Possible values are Basic and/or Body. When Body is specified, client credentials
  and other parameters are passed within the request body in the application/x-www-form-urlencoded
  format.\";}s:19:\"tokenBodyParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/TokenBodyParameterContract\";}s:11:\"description\";s:210:\"Additional
  parameters required by the token endpoint of this authorization server represented
  as an array of JSON objects with name and value string properties, i.e. {\"name\"
  : \"name value\", \"value\": \"a value\"}.\";}s:13:\"tokenEndpoint\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"OAuth
  token endpoint. Contains absolute URI to entity being referenced.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:46:\"http://tools.ietf.org/html/rfc6749#section-3.1\";}}s:12:\"supportState\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:165:\"If
  true, authorization server will include state parameter from the authorization request
  to its response. Client may use state parameter to raise protocol security.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:46:\"http://tools.ietf.org/html/rfc6749#section-3.1\";}}s:12:\"defaultScope\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:174:\"Access
  token scope that is going to be requested by default. Can be overridden at the API
  level. Should be provided in the form of a string containing space-delimited values.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:46:\"http://tools.ietf.org/html/rfc6749#section-3.3\";}}s:10:\"grantTypes\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:17:\"authorizationCode\";i:1;s:8:\"implicit\";i:2;s:21:\"resourceOwnerPassword\";i:3;s:17:\"clientCredentials\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"GrantTypesContract\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";s:82:\"Form
  of an authorization grant, which the client uses to request the access token.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:44:\"http://tools.ietf.org/html/rfc6749#section-4\";}}s:25:\"bearerTokenSendingMethods\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:19:\"authorizationHeader\";i:1;s:5:\"query\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:33:\"BearerTokenSendingMethodsContract\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";s:68:\"Specifies
  the mechanism by which access token is passed to the API. \";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:44:\"http://tools.ietf.org/html/rfc6749#section-4\";}}s:8:\"clientId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Client
  or app id registered with this authorization server.\";}s:12:\"clientSecret\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Client
  or app secret registered with this authorization server.\";}s:21:\"resourceOwnerUsername\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:143:\"Can
  be optionally specified when resource owner password grant type is supported by
  this authorization server. Default resource owner username.\";}s:21:\"resourceOwnerPassword\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:143:\"Can
  be optionally specified when resource owner password grant type is supported by
  this authorization server. Default resource owner password.\";}}s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:26:\"clientRegistrationEndpoint\";i:2;s:21:\"authorizationEndpoint\";i:3;s:8:\"clientId\";i:4;s:10:\"grantTypes\";}s:11:\"description\";s:45:\"External
  OAuth authorization server settings.\";s:7:\"example\";O:8:\"stdClass\":17:{s:2:\"id\";s:46:\"/authorizationServers/554be23d0fce600674232c33\";s:4:\"name\";s:13:\"AAD
  OAuth A/S\";s:11:\"description\";N;s:26:\"clientRegistrationEndpoint\";s:20:\"https://contoso.com/\";s:21:\"authorizationEndpoint\";s:103:\"https://login.microsoftonline.com/55abb68a-8ews-4565-8675-927722a8a005/oauth2/authorize?api-version=1.0\";s:20:\"authorizationMethods\";a:1:{i:0;s:3:\"GET\";}s:26:\"clientAuthenticationMethod\";a:1:{i:0;s:4:\"Body\";}s:19:\"tokenBodyParameters\";a:0:{}s:13:\"tokenEndpoint\";s:99:\"https://login.microsoftonline.com/55abb68a-8ews-4565-8675-927722a8a005/oauth2/token?api-version=1.0\";s:12:\"supportState\";b:0;s:12:\"defaultScope\";N;s:10:\"grantTypes\";a:1:{i:0;s:17:\"authorizationCode\";}s:25:\"bearerTokenSendingMethods\";a:1:{i:0;s:19:\"authorizationHeader\";}s:8:\"clientId\";s:4:\"demo\";s:12:\"clientSecret\";s:4:\"demo\";s:21:\"resourceOwnerUsername\";N;s:21:\"resourceOwnerPassword\";N;}}s:29:\"AuthorizationServerCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/OAuth2AuthorizationServerContract\";}s:11:\"description\";s:12:\"Page
  values.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"Total
  records count number.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:55:\"Paged OAuth2 Authorization Servers
  list representation.\";}s:39:\"OAuth2AuthorizationServerUpdateContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"User-friendly
  authorization server name.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:50;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Description
  of the authorization server. Can contain HTML formatting tags.\";}s:26:\"clientRegistrationEndpoint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:155:\"Optional
  reference to a page where client or app registration for this authorization server
  is performed. Contains absolute URL to entity being referenced.\";}s:21:\"authorizationEndpoint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"OAuth
  authorization endpoint. See http://tools.ietf.org/html/rfc6749#section-3.2.\";}s:20:\"authorizationMethods\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:4:\"HEAD\";i:1;s:7:\"OPTIONS\";i:2;s:5:\"TRACE\";i:3;s:3:\"GET\";i:4;s:4:\"POST\";i:5;s:3:\"PUT\";i:6;s:5:\"PATCH\";i:7;s:6:\"DELETE\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"MethodContract\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";s:97:\"HTTP
  verbs supported by the authorization endpoint. GET must be always present. POST
  is optional.\";}s:26:\"clientAuthenticationMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Basic\";i:1;s:4:\"Body\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:34:\"ClientAuthenticationMethodContract\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";s:273:\"Method
  of authentication supported by the token endpoint of this authorization server.
  Possible values are Basic and/or Body. When Body is specified, client credentials
  and other parameters are passed within the request body in the application/x-www-form-urlencoded
  format.\";}s:19:\"tokenBodyParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/TokenBodyParameterContract\";}s:11:\"description\";s:210:\"Additional
  parameters required by the token endpoint of this authorization server represented
  as an array of JSON objects with name and value string properties, i.e. {\"name\"
  : \"name value\", \"value\": \"a value\"}.\";}s:13:\"tokenEndpoint\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"OAuth
  token endpoint. Contains absolute URI to entity being referenced.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:46:\"http://tools.ietf.org/html/rfc6749#section-3.1\";}}s:12:\"supportState\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:165:\"If
  true, authorization server will include state parameter from the authorization request
  to its response. Client may use state parameter to raise protocol security.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:46:\"http://tools.ietf.org/html/rfc6749#section-3.1\";}}s:12:\"defaultScope\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:174:\"Access
  token scope that is going to be requested by default. Can be overridden at the API
  level. Should be provided in the form of a string containing space-delimited values.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:46:\"http://tools.ietf.org/html/rfc6749#section-3.3\";}}s:10:\"grantTypes\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:17:\"authorizationCode\";i:1;s:8:\"implicit\";i:2;s:21:\"resourceOwnerPassword\";i:3;s:17:\"clientCredentials\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"GrantTypesContract\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";s:82:\"Form
  of an authorization grant, which the client uses to request the access token.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:44:\"http://tools.ietf.org/html/rfc6749#section-4\";}}s:25:\"bearerTokenSendingMethods\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:19:\"authorizationHeader\";i:1;s:5:\"query\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:33:\"BearerTokenSendingMethodsContract\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";s:68:\"Specifies
  the mechanism by which access token is passed to the API. \";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:44:\"http://tools.ietf.org/html/rfc6749#section-4\";}}s:8:\"clientId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Client
  or app id registered with this authorization server.\";}s:12:\"clientSecret\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Client
  or app secret registered with this authorization server.\";}s:21:\"resourceOwnerUsername\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:143:\"Can
  be optionally specified when resource owner password grant type is supported by
  this authorization server. Default resource owner username.\";}s:21:\"resourceOwnerPassword\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:143:\"Can
  be optionally specified when resource owner password grant type is supported by
  this authorization server. Default resource owner password.\";}}s:11:\"description\";s:61:\"External
  OAuth authorization server Update settings contract.\";}s:14:\"RegionContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Region
  name.\";}s:14:\"isMasterRegion\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:36:\"whether
  Region is the master region.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:14:\"isMasterRegion\";}s:11:\"description\";s:15:\"Region
  profile.\";}s:16:\"RegionListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RegionContract\";}s:11:\"description\";s:17:\"Lists
  of Regions.\";}}s:11:\"description\";s:41:\"Lists Regions operation response details.\";}s:20:\"ReportRecordContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":26:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"Name
  depending on report endpoint specifies product, API, operation or developer name.\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:134:\"Start
  of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";}s:8:\"interval\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:29:\"Length
  of aggregation period.\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Country
  to which this record data is related.\";}s:6:\"region\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Country
  region to which this record data is related.\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Zip
  code to which this record data is related.\";}s:6:\"userId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"User
  identifier path. /users/{userId}\";}s:9:\"productId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Product
  identifier path. /products/{productId}\";}s:5:\"apiId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"API
  identifier path. /apis/{apiId}\";}s:11:\"operationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"Operation
  identifier path. /apis/{apiId}/operations/{operationId}\";}s:9:\"apiRegion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"API
  region identifier.\";}s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"Subscription
  identifier path. /subscriptions/{subscriptionId}\";}s:16:\"callCountSuccess\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:27:\"Number
  of successful calls.\";}s:16:\"callCountBlocked\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:51:\"Number
  of calls blocked due to invalid credentials.\";}s:15:\"callCountFailed\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"Number
  of calls failed due to proxy or backend errors.\";}s:14:\"callCountOther\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:22:\"Number
  of other calls.\";}s:14:\"callCountTotal\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:22:\"Total
  number of calls.\";}s:9:\"bandwidth\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:19:\"Bandwidth
  consumed.\";}s:13:\"cacheHitCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"Number
  of times when content was served from cache policy.\";}s:14:\"cacheMissCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:49:\"Number
  of times content was fetched from backend.\";}s:10:\"apiTimeAvg\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:40:\"Average
  time it took to process request.\";}s:10:\"apiTimeMin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:40:\"Minimum
  time it took to process request.\";}s:10:\"apiTimeMax\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:40:\"Maximum
  time it took to process request.\";}s:14:\"serviceTimeAvg\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:51:\"Average
  time it took to process request on backend.\";}s:14:\"serviceTimeMin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:51:\"Minimum
  time it took to process request on backend.\";}s:14:\"serviceTimeMax\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:51:\"Maximum
  time it took to process request on backend.\";}}s:11:\"description\";s:12:\"Report
  data.\";}s:16:\"ReportCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ReportRecordContract\";}s:11:\"description\";s:12:\"Page
  values.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"Total
  records count number.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:41:\"Paged Report records list representation.\";}s:25:\"AccessInformationContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Identifier.\";}s:10:\"primaryKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Primary
  access key.\";}s:12:\"secondaryKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Secondary
  access key.\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:56:\"Tenant
  access information of the API Management service.\";}}s:11:\"description\";s:65:\"Tenant
  access information contract of the API Management service.\";}s:33:\"AccessInformationUpdateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:56:\"Tenant
  access information of the API Management service.\";}}s:8:\"required\";a:1:{i:0;s:7:\"enabled\";}s:11:\"description\";s:74:\"Tenant
  access information update parameters of the API Management service.\";}s:14:\"LoggerResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:194:\"Uniquely
  identifies the logger within the current API Management service instance. The value
  is a valid relative URL in the format of /loggers/{loggerId} where {loggerId} is
  a logger identifier.\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Logger
  type.\";s:4:\"enum\";a:1:{i:0;s:13:\"AzureEventHub\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"LoggerTypeContract\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Logger
  description.\";s:9:\"maxLength\";i:256;}s:11:\"credentials\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:57:\"The
  name and SendRule connection string of the event hub.\";s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"apim\";s:16:\"connectionString\";s:95:\"Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...\";}}s:10:\"isBuffered\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:92:\"Whether
  records are buffered in the logger before publishing. Default is assumed to be true.\";s:7:\"default\";b:1;}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:11:\"credentials\";}s:11:\"description\";s:195:\"The
  Logger entity in API Management represents an event sink that you can use to log
  API Management events. Currently the Logger entity supports logging API Management
  events to Azure Event Hubs.\";}s:16:\"LoggerCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LoggerResponse\";}s:11:\"description\";s:14:\"Logger
  values.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"Total
  records count number.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:33:\"Paged Logger list representation.\";}s:22:\"LoggerCreateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Logger
  type.\";s:4:\"enum\";a:1:{i:0;s:13:\"AzureEventHub\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"LoggerTypeContract\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Logger
  description.\";}s:11:\"credentials\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:57:\"The
  name and SendRule connection string of the event hub.\";s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:33:\"Event
  hub name. This is optional.\";s:16:\"connectionString\";s:90:\"Endpoint=endpoint
  and key from Azure classic portal. This property in credentials is must.\";}}s:10:\"isBuffered\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:92:\"Whether
  records are buffered in the logger before publishing. Default is assumed to be true.\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:11:\"credentials\";}s:11:\"description\";s:51:\"Parameters
  supplied to the Create Logger operation.\";}s:22:\"LoggerUpdateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Logger
  type.\";s:4:\"enum\";a:1:{i:0;s:13:\"AzureEventHub\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"LoggerTypeContract\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Logger
  description.\";}s:11:\"credentials\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:19:\"Logger
  credentials.\";}s:10:\"isBuffered\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:92:\"whether
  records are buffered in the logger before publishing. Default is assumed to be true.\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:11:\"description\";s:51:\"Parameters
  supplied to the Update Logger operation.\";}s:15:\"BackendResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:199:\"Uniquely
  identifies the backend within the current API Management service instance. The value
  is a valid relative URL in the format of /backends/{backendId} where {backendId}
  is a backend identifier.\";s:8:\"readOnly\";b:1;}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BackendContract\";}}s:11:\"description\";s:203:\"The
  Backend entity in API Management represents a backend service that is configured
  to skip certification chain validation when using a self-signed certificate to test
  mutual certificate authentication.\";}s:17:\"BackendCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BackendResponse\";}s:11:\"description\";s:15:\"Backend
  values.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"Total
  records count number.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:34:\"Paged Backend list representation.\";}s:15:\"BackendContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"host\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"Host
  attribute of the backend. Host is a pure hostname without a port or suffix, for
  example backend.contoso.com. Must not be empty.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:30:\"skipCertificateChainValidation\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:133:\"Flag
  indicating whether SSL certificate chain validation should be skipped when using
  self-signed certificates for this backend host.\";s:7:\"default\";b:0;}}s:8:\"required\";a:1:{i:0;s:4:\"host\";}s:11:\"description\";s:52:\"Parameters
  supplied to the Create Backend operation.\";}s:23:\"BackendUpdateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"host\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"Host
  attribute of the backend. Host is a pure hostname without a port or suffix, for
  example backend.contoso.com. Must not be empty.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:255;}s:30:\"skipCertificateChainValidation\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:133:\"Flag
  indicating whether SSL certificate chain validation should be skipped when using
  self-signed certificates for this backend host.\";s:7:\"default\";b:0;}}s:11:\"description\";s:52:\"Parameters
  supplied to the Update Backend operation.\";}s:20:\"IdentityProviderList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/IdentityProviderContract\";}s:11:\"description\";s:39:\"Identity
  Provider configuration values.\";}}s:11:\"description\";s:70:\"List of all the Identity
  Providers configured on the service instance.\";}s:24:\"IdentityProviderContract\";O:8:\"stdClass\":4:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:143:\"https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad#how-to-authorize-developer-accounts-using-azure-active-directory\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"clientId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:146:\"Client
  Id of the Application in the external Identity Provider. It is App ID for Facebook
  login, Client ID for Google login, App ID for Microsoft.\";s:9:\"minLength\";i:1;}s:12:\"clientSecret\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:201:\"Client
  secret of the Application in external Identity Provider, used to authenticate login
  request. For example, it is App Secret for Facebook login, API Key for Google login,
  Public Key for Microsoft.\";s:9:\"minLength\";i:1;}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:8:\"facebook\";i:1;s:6:\"google\";i:2;s:9:\"microsoft\";i:3;s:7:\"twitter\";i:4;s:3:\"aad\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"IdentityProviderNameType\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:34:\"Identity
  Provider Type identifier.\";}s:14:\"allowedTenants\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"maxItems\";i:32;s:11:\"description\";s:70:\"List
  of Allowed Tenants when configuring Azure Active Directory login.\";}}s:8:\"required\";a:2:{i:0;s:8:\"clientId\";i:1;s:12:\"clientSecret\";}s:11:\"description\";s:196:\"The
  external Identity Providers like Facebook, Google, Microsoft, Twitter or Azure Active
  Directory which can be used to enable access to the API Management service developer
  portal for all users.\";}s:32:\"IdentityProviderUpdateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"clientId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:146:\"Client
  Id of the Application in the external Identity Provider. It is App ID for Facebook
  login, Client ID for Google login, App ID for Microsoft.\";s:9:\"minLength\";i:1;}s:12:\"clientSecret\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:201:\"Client
  secret of the Application in external Identity Provider, used to authenticate login
  request. For example, it is App Secret for Facebook login, API Key for Google login,
  Public Key for Microsoft.\";s:9:\"minLength\";i:1;}s:14:\"allowedTenants\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"maxItems\";i:32;s:11:\"description\";s:70:\"List
  of Allowed Tenants when configuring Azure Active Directory login.\";}}s:11:\"description\";s:62:\"Parameters
  supplied to the Update Identity Provider operation.\";}s:16:\"PropertyContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:197:\"Uniquely
  identifies the property within the current API Management service instance. The
  value is a valid relative URL in the format of /properties/{propId} where {propId}
  is a property identifier.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:102:\"Unique
  name of Property. It may contain only letters, digits, period, dash, and underscore
  characters.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:256;s:7:\"pattern\";s:14:\"^[A-Z0-9-._]+$\";}s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"Value
  of the property. Can contain policy expressions. It may not be empty or consist
  only of whitespace.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:4096;}s:4:\"tags\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"maxItems\";i:32;s:11:\"description\";s:73:\"Optional
  tags that when provided can be used to filter the property list.\";}s:6:\"secret\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:96:\"Determines
  whether the value is a secret and should be encrypted or not. Default value is false.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"value\";}s:11:\"description\";s:17:\"Property
  details.\";}s:18:\"PropertyCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PropertyContract\";}s:11:\"description\";s:12:\"Page
  values.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"Total
  records count number.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:35:\"Paged Property list representation.\";}s:24:\"PropertyCreateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:102:\"Unique
  name of Property. It may contain only letters, digits, period, dash, and underscore
  characters.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:256;s:7:\"pattern\";s:14:\"^[A-Z0-9-._]+$\";}s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"Value
  of the property. Can contain policy expressions. It may not be empty or consist
  only of whitespace.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:4096;}s:4:\"tags\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"maxItems\";i:32;s:11:\"description\";s:73:\"Optional
  tags that when provided can be used to filter the property list.\";}s:6:\"secret\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:96:\"Determines
  whether the value is a secret and should be encrypted or not. Default value is false.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"value\";}s:11:\"description\";s:53:\"Parameters
  supplied to the Create Property operation.\";}s:24:\"PropertyUpdateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:102:\"Unique
  name of Property. It may contain only letters, digits, period, dash, and underscore
  characters.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:256;s:7:\"pattern\";s:14:\"^[A-Z0-9-._]+$\";}s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"Value
  of the property. Can contain policy expressions. It may not be empty or consist
  only of whitespace.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:4096;}s:4:\"tags\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"maxItems\";i:32;s:11:\"description\";s:73:\"Optional
  tags that when provided can be used to filter the property list.\";}s:6:\"secret\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:96:\"Determines
  whether the value is a secret and should be encrypted or not. Default value is false.\";}}s:11:\"description\";s:53:\"Parameters
  supplied to the Update Property operation.\";}s:29:\"OpenidConnectProviderContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"OpenID
  Connect Provider identifier.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"User-friendly
  OpenID Connect Provider name.\";s:9:\"maxLength\";i:50;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"User-friendly
  description of OpenID Connect Provider.\";}s:16:\"metadataEndpoint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Metadata
  endpoint URI.\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Client
  ID of developer console which is the client application.\";}s:12:\"clientSecret\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Client
  Secret of developer console which is the client application.\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:16:\"metadataEndpoint\";i:2;s:8:\"clientId\";}s:11:\"description\";s:34:\"OpenID
  Connect Providers Contract.\";}s:31:\"OpenIdConnectProviderCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/OpenidConnectProviderContract\";}s:11:\"description\";s:12:\"Page
  values.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"Total
  records count number.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:42:\"Paged OpenIdProviders list representation.\";}s:35:\"OpenidConnectProviderCreateContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"User-friendly
  OpenID Connect Provider name.\";s:9:\"maxLength\";i:50;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"User-friendly
  description of OpenID Connect Provider.\";}s:16:\"metadataEndpoint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Metadata
  endpoint URI.\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Client
  ID of developer console which is the client application.\";}s:12:\"clientSecret\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Client
  Secret of developer console which is the client application.\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:16:\"metadataEndpoint\";i:2;s:8:\"clientId\";}s:11:\"description\";s:68:\"Parameters
  supplied to the Create OpenID Connect Provider operation.\";}s:35:\"OpenidConnectProviderUpdateContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"User-friendly
  OpenID Connect Provider name.\";s:9:\"maxLength\";i:50;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"User-friendly
  description of OpenID Connect Provider.\";}s:16:\"metadataEndpoint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Metadata
  endpoint URI.\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Client
  ID of developer console which is the client application.\";}s:12:\"clientSecret\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Client
  Secret of developer console which is the client application.\";}}s:11:\"description\";s:68:\"Parameters
  supplied to the Update OpenID Connect Provider operation.\";}s:29:\"DeployConfigurationParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"branch\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:104:\"The
  name of the Git branch from which the configuration is to be deployed to the configuration
  database.\";}s:5:\"force\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:87:\"The
  value enforcing deleting subscriptions to products that are deleted in this update.\";}}s:8:\"required\";a:1:{i:0;s:6:\"branch\";}s:11:\"description\";s:58:\"Parameters
  supplied to the Deploy Configuration operation.\";}s:32:\"TenantLongRunningOperationResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"operationStatusLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"operation
  status link.\";}s:10:\"retryAfter\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:51:\"The
  number of minutes to retry the operation after.\";}s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Current
  status of the operation.\";s:4:\"enum\";a:3:{i:0;s:10:\"InProgress\";i:1;s:9:\"Succeeded\";i:2;s:6:\"Failed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"OperationStatus\";s:13:\"modelAsString\";b:0;}}s:10:\"statusCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:8:\"Continue\";i:1;s:2:\"OK\";i:2;s:7:\"Created\";i:3;s:8:\"Accepted\";i:4;s:8:\"NotFound\";i:5;s:8:\"Conflict\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"HttpStatusCode\";s:13:\"modelAsString\";b:0;}}s:9:\"requestId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:63:\"A
  standard service response for long running tenant operations.\";}s:18:\"ErrorFieldContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Property
  level error code.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Human-readable
  representation of property-level error.\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Property
  name.\";}}s:11:\"description\";s:21:\"Error Field contract.\";}s:17:\"ErrorBodyContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Service-defined
  error code. This code serves as a sub-status for the HTTP error code specified in
  the response.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Human-readable
  representation of the error.\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ErrorFieldContract\";}s:11:\"description\";s:72:\"The
  list of invalid fields send in request, in case of validation error.\";}}s:11:\"description\";s:20:\"Error
  Body contract.\";}s:23:\"OperationResultContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Operation
  result identifier.\";}s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Status
  of an async operation.\";s:4:\"enum\";a:4:{i:0;s:7:\"Started\";i:1;s:10:\"InProgress\";i:2;s:9:\"Succeeded\";i:3;s:6:\"Failed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"AsyncOperationState\";s:13:\"modelAsString\";b:0;}}s:7:\"started\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:139:\"Start
  time of an async operation. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:145:\"Last
  update time of an async operation. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";}s:10:\"resultInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Optional
  result info.\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ErrorBodyContract\";}}s:11:\"description\";s:17:\"Operation
  Result.\";}s:26:\"SaveConfigurationParameter\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"branch\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"The
  name of the Git branch in which to commit the current configuration snapshot.\";}s:5:\"force\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:161:\"The
  value if true, the current configuration database is committed to the Git repository,
  even if the Git repository has newer changes that would be overwritten.\";}}s:8:\"required\";a:1:{i:0;s:6:\"branch\";}s:11:\"description\";s:63:\"Parameters
  supplied to the Save Tenant Configuration operation.\";}s:36:\"TenantConfigurationSyncStateContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"branch\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  name of Git branch.\";}s:8:\"commitId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  latest commit Id.\";}s:8:\"isExport\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:74:\"value
  indicating if last sync was save (true) or deploy (false) operation.\";}s:8:\"isSynced\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:81:\"value
  indicating if last synchronization was later than the configuration change.\";}s:12:\"isGitEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:61:\"value
  indicating whether Git configuration access is enabled.\";}s:8:\"syncDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:145:\"The
  date of the latest synchronization. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";}s:23:\"configurationChangeDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:150:\"The
  date of the latest configuration change. The date conforms to the following format:
  `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n\";}}s:11:\"description\";s:43:\"Tenant
  Configuration Synchronization State.\";}s:22:\"QuotaCounterCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/QuotaCounterContract\";}s:11:\"description\";s:21:\"Quota
  counter values.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"Total
  records count number.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:40:\"Paged Quota Counter list representation.\";}s:20:\"QuotaCounterContract\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"counterKey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  Key value of the Counter. Must not be empty.\";s:9:\"minLength\";i:1;}s:9:\"periodKey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Identifier
  of the Period for which the counter was collected. Must not be empty.\";s:9:\"minLength\";i:1;}s:15:\"periodStartTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:146:\"The
  date of the start of Counter Period. The date conforms to the following format:
  `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n\";}s:13:\"periodEndTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:144:\"The
  date of the end of Counter Period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/QuotaCounterValueContract\";}}s:8:\"required\";a:4:{i:0;s:10:\"counterKey\";i:1;s:9:\"periodKey\";i:2;s:15:\"periodStartTime\";i:3;s:13:\"periodEndTime\";}s:11:\"description\";s:22:\"Quota
  counter details.\";}s:25:\"QuotaCounterValueContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"callsCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"Number
  of times Counter was called.\";}s:13:\"kbTransferred\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:30:\"Data
  Transferred in KiloBytes.\";}}s:11:\"description\";s:28:\"Quota counter value details.\";}}"
...
