---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:24:\"InsightsManagementClient\";s:7:\"version\";s:10:\"2016-03-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:141:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-insights/2016-03-01/swagger/insightsManagementClient_LogProfiles.json\";s:7:\"version\";s:3:\"2.0\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:12:\"arm-insights\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles:
    get:
      description: List the log profiles.
      operationId: LogProfiles_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request to list log profiles
          schema:
            $ref: '#/definitions/LogProfileCollection'
      tags:
      - LogProfiles
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles/{logProfileName}:
    delete:
      description: Deletes the log profile.
      operationId: LogProfiles_Delete
      parameters:
      - $ref: '#/parameters/LogProfileNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request to delete a log profile
      tags:
      - LogProfiles
    get:
      description: Gets the log profile.
      operationId: LogProfiles_Get
      parameters:
      - $ref: '#/parameters/LogProfileNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request to get more information about a log profile.
          examples:
            application/json:
              categories:
              - Write
              - Delete
              - Action
              locations:
              - eastus
              - westus
              retentionPolicy:
                days: 1
                enabled: true
              serviceBusRuleId: /subscriptions/6983c752-c9b8-48dd-b4d4-da739beb7e98/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/myNamespace/RootManageSharedAccessKey
              storageAccountId: /subscriptions/6983c752-c9b8-48dd-b4d4-da739beb7e98/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/armlogs1
          schema:
            $ref: '#/definitions/LogProfileResource'
      tags:
      - LogProfiles
    put:
      description: Create or update a log profile in Azure Monitoring REST API.
      operationId: LogProfiles_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/LogProfileNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Parameters supplied to the operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/LogProfileProperties'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request to create or update a log profile
          examples:
            application/json:
              categories:
              - Write
              - Delete
              - Action
              locations:
              - eastus
              - westus
              retentionPolicy:
                days: 1
                enabled: true
              serviceBusRuleId: /subscriptions/6983c752-c9b8-48dd-b4d4-da739beb7e98/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/myNamespace/RootManageSharedAccessKey
              storageAccountId: /subscriptions/6983c752-c9b8-48dd-b4d4-da739beb7e98/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/armlogs1
          schema:
            $ref: '#/definitions/LogProfileResource'
      tags:
      - LogProfiles
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:20:\"LogProfileCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Represents
  a collection of log profiles.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"the
  values of the log profiles.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/LogProfileResource\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:20:\"LogProfileProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  log profile properties.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"categories\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"the
  categories of the logs. These categories are created as is convenient to the user.
  Some values are: 'Write', 'Delete', and/or 'Action.'\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"List
  of regions for which Activity Log events should be stored or streamed. It is a comma
  separated list of valid ARM locations including the 'global' location.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:47:\"the
  retention policy for the events in the log.\";}s:16:\"serviceBusRuleId\";O:8:\"stdClass\":2:{s:11:\"description\";s:224:\"The
  service bus rule ID of the service bus namespace in which you would like to have
  Event Hubs created for streaming the Activity Log. The rule ID is of the format:
  '{service bus resource ID}/authorizationrules/{key name}'.\";s:4:\"type\";s:6:\"string\";}s:16:\"storageAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"the
  resource id of the storage account to which you would like to send the Activity
  Log.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:16:\"storageAccountId\";i:1;s:9:\"locations\";}}s:18:\"LogProfileResource\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:25:\"The
  log profile resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LogProfileProperties\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"An
  azure resource object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Azure
  resource Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Azure
  resource name\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Azure resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:15:\"RetentionPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Specifies
  the retention policy for the log.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"days\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"the
  number of days for the retention in days. A value of 0 will retain the events indefinitely.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"a
  value indicating whether the retention policy is enabled.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:7:\"enabled\";i:1;s:4:\"days\";}}}"
...
