---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:270:\"The Azure Customer
  Insights management API provides a RESTful set of web services that interact with
  Azure Customer Insights service to manage your resources. The API has entities that
  capture the relationship between an end user and the Azure Customer Insights service.\";s:5:\"title\";s:32:\"CustomerInsightsManagementClient\";s:7:\"version\";s:10:\"2017-01-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:32:\"CustomerInsightsManagementClient\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:184:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/customer-insights/resource-manager/Microsoft.CustomerInsights/stable/2017-01-01/customer-insights.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:0;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:17:\"customer-insights\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":87:{s:19:\"AssignmentPrincipal\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  AssignmentPrincipal\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"principalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  principal id being assigned to.\";s:4:\"type\";s:6:\"string\";}s:17:\"principalMetadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:33:\"Other
  metadata for the principal.\";s:4:\"type\";s:6:\"object\";}s:13:\"principalType\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  Type of the principal ID.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"principalId\";i:1;s:13:\"principalType\";}}s:19:\"AuthorizationPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  authorization policy.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"permissions\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  permissions associated with the policy.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PermissionTypes\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:10:\"policyName\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Name
  of the policy.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"primaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Primary
  key assiciated with the policy.\";s:4:\"type\";s:6:\"string\";}s:12:\"secondaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Secondary
  key assiciated with the policy.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"permissions\";}}s:29:\"AuthorizationPolicyListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  response of list authorization policy operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Link
  to the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Results
  of the list operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/AuthorizationPolicyResourceFormat\";}s:4:\"type\";s:5:\"array\";}}}s:33:\"AuthorizationPolicyResourceFormat\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:41:\"The
  authorization policy resource format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AuthorizationPolicy\";s:19:\"x-ms-client-flatten\";b:1;}}}s:28:\"AzureBlobConnectorProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  Azure Blob connector properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"connectionKeyVaultUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  connection KeyVault URL.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:21:\"connectionKeyVaultUrl\";}}s:9:\"Connector\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Properties
  of connector.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"connectorId\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"ID
  of the connector.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:13:\"connectorName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the connector.\";s:4:\"type\";s:6:\"string\";}s:19:\"connectorProperties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:25:\"The
  connector properties.\";s:4:\"type\";s:6:\"object\";}s:13:\"connectorType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ConnectorType\";s:11:\"description\";s:18:\"Type
  of connector.\";}s:7:\"created\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  created time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Description
  of the connector.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Display
  name of the connector.\";s:4:\"type\";s:6:\"string\";}s:10:\"isInternal\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"If
  this is an internal connector.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"lastModified\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  last monified time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":5:{s:11:\"description\";s:19:\"State
  of connector.\";s:4:\"enum\";a:6:{i:0;s:8:\"Creating\";i:1;s:7:\"Created\";i:2;s:5:\"Ready\";i:3;s:8:\"Expiring\";i:4;s:8:\"Deleting\";i:5;s:6:\"Failed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:15:\"ConnectorStates\";}}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  hub name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:13:\"connectorType\";i:1;s:19:\"connectorProperties\";}}s:19:\"ConnectorListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  response of list connector operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Link
  to the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Results
  of the list operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ConnectorResourceFormat\";}s:4:\"type\";s:5:\"array\";}}}s:16:\"ConnectorMapping\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  connector mapping definition.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:20:\"connectorMappingName\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  connector mapping name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"connectorName\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  connector name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"connectorType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ConnectorType\";s:11:\"description\";s:18:\"Type
  of connector.\";}s:7:\"created\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  created time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"dataFormatId\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  DataFormat ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  description of the connector mapping.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Display
  name for the connector mapping.\";s:4:\"type\";s:6:\"string\";}s:10:\"entityType\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Defines
  which entity type the file should map to.\";s:4:\"enum\";a:4:{i:0;s:4:\"None\";i:1;s:7:\"Profile\";i:2;s:11:\"Interaction\";i:3;s:12:\"Relationship\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:11:\"EntityTypes\";}}s:14:\"entityTypeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  mapping entity name.\";s:4:\"type\";s:6:\"string\";}s:12:\"lastModified\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  last monified time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"mappingProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ConnectorMappingProperties\";s:11:\"description\";s:30:\"The
  properties of the mapping.\";}s:11:\"nextRunTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  next run time based on customer's settings.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"runId\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"The
  RunId.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":5:{s:11:\"description\";s:27:\"State
  of connector mapping.\";s:4:\"enum\";a:7:{i:0;s:8:\"Creating\";i:1;s:7:\"Created\";i:2;s:6:\"Failed\";i:3;s:5:\"Ready\";i:4;s:7:\"Running\";i:5;s:7:\"Stopped\";i:6;s:8:\"Expiring\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:22:\"ConnectorMappingStates\";}}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  hub name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:10:\"entityType\";i:1;s:14:\"entityTypeName\";i:2;s:17:\"mappingProperties\";}}s:28:\"ConnectorMappingAvailability\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Connector
  mapping property availability.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"frequency\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  frequency to update.\";s:4:\"enum\";a:5:{i:0;s:6:\"Minute\";i:1;s:4:\"Hour\";i:2;s:3:\"Day\";i:3;s:4:\"Week\";i:4;s:5:\"Month\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:14:\"FrequencyTypes\";}}s:8:\"interval\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  interval of the given frequency to use.\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:8:\"interval\";}}s:33:\"ConnectorMappingCompleteOperation\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  complete operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"completionOperationType\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"The
  type of completion operation.\";s:4:\"enum\";a:3:{i:0;s:9:\"DoNothing\";i:1;s:10:\"DeleteFile\";i:2;s:8:\"MoveFile\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:24:\"CompletionOperationTypes\";}}s:17:\"destinationFolder\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  destination folder where files will be moved to once the import is done.\";s:4:\"type\";s:6:\"string\";}}}s:31:\"ConnectorMappingErrorManagement\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  error mangement.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"errorLimit\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  error limit allowed while importing data.\";s:4:\"type\";s:7:\"integer\";}s:19:\"errorManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  type of error management to use for the mapping.\";s:4:\"enum\";a:3:{i:0;s:17:\"RejectAndContinue\";i:1;s:10:\"StopImport\";i:2;s:16:\"RejectUntilLimit\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:20:\"ErrorManagementTypes\";}}}s:8:\"required\";a:1:{i:0;s:19:\"errorManagementType\";}}s:22:\"ConnectorMappingFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Connector
  mapping property format.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"acceptLanguage\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  oData language.\";s:4:\"type\";s:6:\"string\";}s:14:\"arraySeparator\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Character
  separating array elements.\";s:4:\"type\";s:6:\"string\";}s:15:\"columnDelimiter\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  character that signifies a break between columns.\";s:4:\"type\";s:6:\"string\";}s:10:\"formatType\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  type mapping format.\";s:4:\"enum\";a:1:{i:0;s:10:\"TextFormat\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:11:\"FormatTypes\";}}s:14:\"quoteCharacter\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Quote
  character, used to indicate enquoted fields.\";s:4:\"type\";s:6:\"string\";}s:20:\"quoteEscapeCharacter\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Escape
  character for quotes, can be the same as the quoteCharacter.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"formatType\";}}s:26:\"ConnectorMappingListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  response of list connector mapping operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Link
  to the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Results
  of the list operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/ConnectorMappingResourceFormat\";}s:4:\"type\";s:5:\"array\";}}}s:26:\"ConnectorMappingProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  connector mapping properties.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"availability\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ConnectorMappingAvailability\";s:11:\"description\";s:37:\"The
  availability of mapping property.\";}s:17:\"completeOperation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/ConnectorMappingCompleteOperation\";s:11:\"description\";s:35:\"The
  operation after import is done.\";}s:15:\"errorManagement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ConnectorMappingErrorManagement\";s:11:\"description\";s:45:\"The
  error management setting for the mapping.\";}s:10:\"fileFilter\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  file filter for the mapping.\";s:4:\"type\";s:6:\"string\";}s:10:\"folderPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  folder path for the mapping.\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ConnectorMappingFormat\";s:11:\"description\";s:31:\"The
  format of mapping property.\";}s:9:\"hasHeader\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"If
  the file contains a header or not.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"structure\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Ingestion
  mapping information at property level.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ConnectorMappingStructure\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:5:{i:0;s:12:\"availability\";i:1;s:17:\"completeOperation\";i:2;s:15:\"errorManagement\";i:3;s:6:\"format\";i:4;s:9:\"structure\";}}s:30:\"ConnectorMappingResourceFormat\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:39:\"The
  c onnector mapping resource format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ConnectorMapping\";s:19:\"x-ms-client-flatten\";b:1;}}}s:25:\"ConnectorMappingStructure\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Connector
  mapping property structure.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"columnName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  column name of the import file.\";s:4:\"type\";s:6:\"string\";}s:21:\"customFormatSpecifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Custom
  format specifier for input parsing.\";s:4:\"type\";s:6:\"string\";}s:11:\"isEncrypted\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Indicates
  if the column is encrypted.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"propertyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  property name of the mapping entity.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:12:\"propertyName\";i:1;s:10:\"columnName\";}}s:23:\"ConnectorResourceFormat\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:30:\"The
  connector resource format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Connector\";s:19:\"x-ms-client-flatten\";b:1;}}}s:13:\"ConnectorType\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Type
  of connector.\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:3:\"CRM\";i:2;s:9:\"AzureBlob\";i:3;s:10:\"Salesforce\";i:4;s:14:\"ExchangeOnline\";i:5;s:8:\"Outbound\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:14:\"ConnectorTypes\";}}s:20:\"CrmConnectorEntities\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  CRM connector entities.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  display name.\";s:4:\"type\";s:6:\"string\";}s:9:\"isProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Indicating
  whether this is profile.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"logicalName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  logical name.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"logicalName\";}}s:22:\"CrmConnectorProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  CRM connector properties.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"accessToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  access token.\";s:4:\"type\";s:6:\"string\";}s:16:\"connectionString\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  connection string.\";s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  entities like account, contact, opportunity.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CrmConnectorEntities\";}s:4:\"type\";s:5:\"array\";}s:14:\"organizationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  organization ID.\";s:4:\"type\";s:6:\"string\";}s:15:\"organizationUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  organization URL.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:14:\"organizationId\";i:1;s:15:\"organizationUrl\";i:2;s:8:\"entities\";}}s:10:\"DataSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:177:\"Data
  Source is a way for us to know the source of instances. A single type can have data
  coming in from multiple places. In activities we use this to determine precedence
  rules.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:21:\"dataSourceReferenceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  data source reference id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"dataSourceType\";O:8:\"stdClass\":5:{s:11:\"description\";s:21:\"The
  data source type.\";s:4:\"enum\";a:3:{i:0;s:9:\"Connector\";i:1;s:15:\"LinkInteraction\";i:2;s:13:\"SystemDefault\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:14:\"DataSourceType\";}}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  data source ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  data source name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"The
  data source status.\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:6:\"Active\";i:2;s:7:\"Deleted\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:6:\"Status\";}}}}s:20:\"DataSourcePrecedence\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  data source precedence is a way to know the precedence of each data source.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"dataSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DataSource\";s:19:\"x-ms-client-flatten\";b:1;}s:10:\"precedence\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"the
  precedence value.\";s:4:\"type\";s:7:\"integer\";}}}s:12:\"EnrichingKpi\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/KpiDefinition\";}}s:11:\"description\";s:29:\"The
  enriching KPI definition.\";}s:20:\"EntityTypeDefinition\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/MetadataDefinitionBase\";}}s:11:\"description\";s:20:\"Describes
  an entity.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:16:\"apiEntitySetName\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  api entity set name. This becomes the odata entity set name for the entity Type
  being refered in this object.\";s:4:\"type\";s:6:\"string\";}s:10:\"entityType\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Type
  of entity.\";s:4:\"enum\";a:4:{i:0;s:4:\"None\";i:1;s:7:\"Profile\";i:2;s:11:\"Interaction\";i:3;s:12:\"Relationship\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:11:\"EntityTypes\";}}s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  properties of the Profile.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PropertyDefinition\";}s:4:\"type\";s:5:\"array\";}s:14:\"instancesCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  instance count.\";s:4:\"type\";s:7:\"integer\";}s:14:\"lastChangedUtc\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  last changed time for the type definition.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ProvisioningState\";s:11:\"description\";s:19:\"Provisioning
  state.\";s:8:\"readOnly\";b:1;}s:18:\"schemaItemTypeLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  schema org link. This helps ACI identify and suggest semantic models.\";s:4:\"type\";s:6:\"string\";}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  hub name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"timestampFieldName\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"The
  timestamp property name. Represents the time when the interaction or profile update
  happened.\";s:4:\"type\";s:6:\"string\";}s:8:\"typeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the entity.\";s:4:\"type\";s:6:\"string\";}}}s:22:\"GetImageUploadUrlInput\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Input
  type for getting image upload url.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"entityType\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Type
  of entity. Can be Profile or Interaction.\";s:4:\"type\";s:6:\"string\";}s:14:\"entityTypeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Name
  of the entity type.\";s:4:\"type\";s:6:\"string\";}s:12:\"relativePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Relative
  path of the image.\";s:4:\"type\";s:6:\"string\";}}}s:3:\"Hub\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:13:\"Hub
  resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/HubPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:20:\"HubBillingInfoFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Hub
  billing info.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"maxUnits\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"The
  maximum number of units can be used.  One unit is 10,000 Profiles and 100,000 Interactions.\";s:7:\"maximum\";i:10;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:8:\"minUnits\";O:8:\"stdClass\":4:{s:11:\"description\";s:97:\"The
  minimum number of units will be billed. One unit is 10,000 Profiles and 100,000
  Interactions.\";s:7:\"maximum\";i:10;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:7:\"skuName\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  sku name.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"HubListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Response
  of list hub operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Link
  for next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Results
  of the list operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Hub\";}s:4:\"type\";s:5:\"array\";}}}s:19:\"HubPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Properties
  of hub.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"apiEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"API
  endpoint URL of the hub.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"hubBillingInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/HubBillingInfoFormat\";s:11:\"description\";s:28:\"Billing
  settings of the hub.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Provisioning
  state of the hub.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"tenantFeatures\";O:8:\"stdClass\":2:{s:11:\"description\";s:183:\"The
  bit flags for enabled hub features. Bit 0 is set to 1 indicates graph is enabled,
  or disabled if set to 0. Bit 1 is set to 1 indicates the hub is disabled, or enabled
  if set to 0.\";s:4:\"type\";s:7:\"integer\";}s:11:\"webEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Web
  endpoint URL of the hub.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:15:\"ImageDefinition\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  image definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"contentUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Content
  URL for the image blob.\";s:4:\"type\";s:6:\"string\";}s:11:\"imageExists\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Whether
  image exists already.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"relativePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Relative
  path of the image.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"InteractionListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  response of list interaction operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Link
  to the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Results
  of the list operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/InteractionResourceFormat\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"InteractionResourceFormat\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:32:\"The
  interaction resource format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/InteractionTypeDefinition\";s:19:\"x-ms-client-flatten\";b:1;}}}s:25:\"InteractionTypeDefinition\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EntityTypeDefinition\";}}s:11:\"description\";s:31:\"The
  Interaction Type Definition\";s:10:\"properties\";O:8:\"stdClass\":6:{s:25:\"dataSourcePrecedenceRules\";O:8:\"stdClass\":4:{s:11:\"description\";s:141:\"This
  is specific to interactions modeled as activities. Data sources are used to determine
  where data is stored and also in precedence rules.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DataSourcePrecedence\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:17:\"defaultDataSource\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:24:\"#/definitions/DataSource\";s:11:\"description\";s:100:\"Default
  data source is specifically used in cases where data source is not specified in
  an instance.\";s:19:\"x-ms-client-flatten\";b:1;}s:15:\"idPropertyNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"The
  id property names. Properties which uniquely identify an interaction instance.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"isActivity\";O:8:\"stdClass\":2:{s:11:\"description\";s:226:\"An
  interaction can be tagged as an activity only during create. This enables the interaction
  to be editable and can enable merging of properties from multiple data sources based
  on precedence, which is defined at a link level.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"participantProfiles\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Profiles
  that participated in the interaction.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Participant\";}s:4:\"type\";s:5:\"array\";}s:37:\"primaryParticipantProfilePropertyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:179:\"The
  primary participant property name for an interaction ,This is used to logically
  represent the agent of the interaction, Specify the participant name here from ParticipantName.\";s:4:\"type\";s:6:\"string\";}}}s:8:\"KpiAlias\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  KPI alias.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"aliasName\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"KPI
  alias name.\";s:4:\"type\";s:6:\"string\";}s:10:\"expression\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  expression.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"aliasName\";i:1;s:10:\"expression\";}}s:13:\"KpiDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Defines
  the KPI Threshold limits.\";s:10:\"properties\";O:8:\"stdClass\":19:{s:7:\"aliases\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  aliases.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/KpiAlias\";}s:4:\"type\";s:5:\"array\";}s:17:\"calculationWindow\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  calculation window.\";s:4:\"enum\";a:5:{i:0;s:8:\"Lifetime\";i:1;s:4:\"Hour\";i:2;s:3:\"Day\";i:3;s:4:\"Week\";i:4;s:5:\"Month\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:22:\"CalculationWindowTypes\";}}s:26:\"calculationWindowFieldName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Name
  of calculation window field.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:34:\"Localized
  description for the KPI.\";s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:35:\"Localized
  display name for the KPI.\";s:4:\"type\";s:6:\"object\";}s:10:\"entityType\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  mapping entity type.\";s:4:\"enum\";a:4:{i:0;s:4:\"None\";i:1;s:7:\"Profile\";i:2;s:11:\"Interaction\";i:3;s:12:\"Relationship\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:11:\"EntityTypes\";}}s:14:\"entityTypeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  mapping entity name.\";s:4:\"type\";s:6:\"string\";}s:10:\"expression\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  computation expression for the KPI.\";s:4:\"type\";s:6:\"string\";}s:8:\"extracts\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  KPI extracts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/KpiExtract\";}s:4:\"type\";s:5:\"array\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  filter expression for the KPI.\";s:4:\"type\";s:6:\"string\";}s:8:\"function\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"The
  computation function for the KPI.\";s:4:\"enum\";a:8:{i:0;s:3:\"Sum\";i:1;s:3:\"Avg\";i:2;s:3:\"Min\";i:3;s:3:\"Max\";i:4;s:4:\"Last\";i:5;s:5:\"Count\";i:6;s:4:\"None\";i:7;s:13:\"CountDistinct\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:12:\"KpiFunctions\";}}s:7:\"groupBy\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"the
  group by properties for the KPI.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"groupByMetadata\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  KPI GroupByMetadata.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/KpiGroupByMetadata\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:7:\"kpiName\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  KPI name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:27:\"participantProfilesMetadata\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  participant profiles.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/KpiParticipantProfilesMetadata\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ProvisioningState\";s:11:\"description\";s:19:\"Provisioning
  state.\";s:8:\"readOnly\";b:1;}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  hub name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"thresHolds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/KpiThresholds\";s:11:\"description\";s:19:\"The
  KPI thresholds.\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  unit of measurement for the KPI.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:10:\"entityType\";i:1;s:14:\"entityTypeName\";i:2;s:17:\"calculationWindow\";i:3;s:8:\"function\";i:4;s:10:\"expression\";}}s:10:\"KpiExtract\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  KPI extract.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"expression\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  expression.\";s:4:\"type\";s:6:\"string\";}s:11:\"extractName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"KPI
  extract name.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"extractName\";i:1;s:10:\"expression\";}}s:18:\"KpiGroupByMetadata\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  KPI GroupBy field metadata.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:17:\"The
  display name.\";s:4:\"type\";s:6:\"object\";}s:9:\"fieldName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the field.\";s:4:\"type\";s:6:\"string\";}s:9:\"fieldType\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  type of the field.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"KpiListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  response of list KPI operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Link
  to the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Results
  of the list operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/KpiResourceFormat\";}s:4:\"type\";s:5:\"array\";}}}s:30:\"KpiParticipantProfilesMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  KPI participant profile metadata.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"typeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of the type.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"typeName\";}}s:17:\"KpiResourceFormat\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:24:\"The
  KPI resource format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/KpiDefinition\";s:19:\"x-ms-client-flatten\";b:1;}}}s:13:\"KpiThresholds\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Defines
  the KPI Threshold limits.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"increasingKpi\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Whether
  or not the KPI is an increasing KPI.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"lowerLimit\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  lower threshold limit.\";s:6:\"format\";s:7:\"decimal\";s:4:\"type\";s:6:\"number\";}s:10:\"upperLimit\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  upper threshold limit.\";s:6:\"format\";s:7:\"decimal\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:3:{i:0;s:10:\"lowerLimit\";i:1;s:10:\"upperLimit\";i:2;s:13:\"increasingKpi\";}}s:14:\"LinkDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  definition of Link.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"description\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:36:\"Localized
  descriptions for the Link.\";s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:36:\"Localized
  display name for the Link.\";s:4:\"type\";s:6:\"object\";}s:8:\"linkName\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  link name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"mappings\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  set of properties mappings between the source and target Types.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/TypePropertiesMapping\";}s:4:\"type\";s:5:\"array\";}s:13:\"operationType\";O:8:\"stdClass\":4:{s:11:\"description\";s:101:\"Determines
  whether this link is supposed to create or delete instances if Link is NOT Reference
  Only.\";s:4:\"enum\";a:2:{i:0;s:6:\"Upsert\";i:1;s:6:\"Delete\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:21:\"InstanceOperationType\";}}s:29:\"participantPropertyReferences\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  properties that represent the participating profile.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ParticipantPropertyReference\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ProvisioningState\";s:11:\"description\";s:19:\"Provisioning
  state.\";s:8:\"readOnly\";b:1;}s:13:\"referenceOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:209:\"Indicating
  whether the link is reference only link. This flag is ingored if the Mappings are
  defined. If the mappings are not defined and it is set to true, links processing
  will not create or update profiles.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"sourceInteractionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Name
  of the source Interaction Type.\";s:4:\"type\";s:6:\"string\";}s:17:\"targetProfileType\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Name
  of the target Profile Type.\";s:4:\"type\";s:6:\"string\";}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  hub name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:21:\"sourceInteractionType\";i:1;s:17:\"targetProfileType\";i:2;s:29:\"participantPropertyReferences\";}}s:14:\"LinkListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  response of list link operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Link
  to the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Results
  of the list operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/LinkResourceFormat\";}s:4:\"type\";s:5:\"array\";}}}s:18:\"LinkResourceFormat\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:25:\"The
  link resource format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/LinkDefinition\";s:19:\"x-ms-client-flatten\";b:1;}}}s:22:\"MetadataDefinitionBase\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  Metadata definition base.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"attributes\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";s:28:\"The
  attributes for the Type.\";s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:40:\"Localized
  descriptions for the property.\";s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:41:\"Localized
  display names for the property.\";s:4:\"type\";s:6:\"object\";}s:10:\"largeImage\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Large
  Image associated with the Property or EntityType.\";s:4:\"type\";s:6:\"string\";}s:19:\"localizedAttributes\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:45:\"Any
  custom localized attributes for the Type.\";s:4:\"type\";s:6:\"object\";}s:11:\"mediumImage\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Medium
  Image associated with the Property or EntityType.\";s:4:\"type\";s:6:\"string\";}s:10:\"smallImage\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Small
  Image associated with the Property or EntityType.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"A
  Customer Insights REST API operation\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  object that represents the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Operation
  type: Read, write, delete, etc.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Service
  provider: Microsoft.CustomerInsights\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Resource
  on which the operation is performed: Invoice, etc.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Operation
  name: {provider}/{resource}/{operation}\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Result
  of the request to list Customer Insights operations. It contains a list of operations
  and a URL link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:99:\"List
  of Customer Insights operations supported by the Microsoft.CustomerInsights resource
  provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:11:\"Participant\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Describes
  a profile type participating in an interaction.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:23:\"Localized
  descriptions.\";s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:23:\"Localized
  display name.\";s:4:\"type\";s:6:\"object\";}s:15:\"participantName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Participant
  name.\";s:4:\"type\";s:6:\"string\";}s:29:\"participantPropertyReferences\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  property references.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ParticipantPropertyReference\";}s:4:\"type\";s:5:\"array\";}s:15:\"profileTypeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Profile
  type name.\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  role that the participant is playing in the interaction.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:15:\"participantName\";i:1;s:15:\"profileTypeName\";i:2;s:29:\"participantPropertyReferences\";}}s:28:\"ParticipantPropertyReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  participant property reference.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"interactionPropertyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  interaction property that maps to the profile property.\";s:4:\"type\";s:6:\"string\";}s:19:\"profilePropertyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  profile property that maps to the interaction property.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:23:\"interactionPropertyName\";i:1;s:19:\"profilePropertyName\";}}s:15:\"PermissionTypes\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Supported
  permission types.\";s:4:\"enum\";a:3:{i:0;s:4:\"Read\";i:1;s:5:\"Write\";i:2;s:6:\"Manage\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:15:\"PermissionTypes\";}}s:28:\"ProfileEnumValidValuesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Valid
  enum values in case of an enum property.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"localizedValueNames\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:35:\"Localized
  names of the enum member.\";s:4:\"type\";s:6:\"object\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  integer value of the enum member.\";s:4:\"type\";s:7:\"integer\";}}}s:17:\"ProfileListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  response of list profile operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Link
  to the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Results
  of the list operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ProfileResourceFormat\";}s:4:\"type\";s:5:\"array\";}}}s:21:\"ProfileResourceFormat\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:28:\"The
  profile resource format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ProfileTypeDefinition\";s:19:\"x-ms-client-flatten\";b:1;}}}s:21:\"ProfileTypeDefinition\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EntityTypeDefinition\";}}s:11:\"description\";s:28:\"The
  profile type definition.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"strongIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  strong IDs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/StrongId\";}s:4:\"type\";s:5:\"array\";}}}s:18:\"PropertyDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Property
  definition.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:19:\"arrayValueSeparator\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Array
  value separator for properties with isArray set.\";s:4:\"type\";s:6:\"string\";}s:25:\"dataSourcePrecedenceRules\";O:8:\"stdClass\":4:{s:11:\"description\";s:141:\"This
  is specific to interactions modeled as activities. Data sources are used to determine
  where data is stored and also in precedence rules.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DataSourcePrecedence\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:15:\"enumValidValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Describes
  valid values for an enum property.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ProfileEnumValidValuesFormat\";}s:4:\"type\";s:5:\"array\";}s:9:\"fieldName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of the property.\";s:4:\"type\";s:6:\"string\";}s:9:\"fieldType\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Type
  of the property.\";s:4:\"type\";s:6:\"string\";}s:7:\"isArray\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Indicates
  if the property is actually an array of the fieldType above on the data api.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"isAvailableInGraph\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Whether
  property is available in graph or not.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"isEnum\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Indicates
  if the property is an enum.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"isFlagEnum\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Indicates
  if the property is an flag enum.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"isImage\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Whether
  the property is an Image.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"isLocalizedString\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  the property is a localized string.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"isName\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Whether
  the property is a name or a part of name.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"isRequired\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Whether
  property value is required on instances, IsRequired field only for Intercation.
  Profile Instance will not check for required field.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"maxLength\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Max
  length of string. Used only if type is string.\";s:4:\"type\";s:7:\"integer\";}s:10:\"propertyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  ID associated with the property.\";s:4:\"type\";s:6:\"string\";}s:18:\"schemaItemPropLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"URL
  encoded schema.org item prop link for the property.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"fieldName\";i:1;s:9:\"fieldType\";}}s:17:\"ProvisioningState\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Provisioning
  state.\";s:4:\"enum\";a:6:{i:0;s:12:\"Provisioning\";i:1;s:9:\"Succeeded\";i:2;s:8:\"Expiring\";i:3;s:8:\"Deleting\";i:4;s:17:\"HumanIntervention\";i:5;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"ProvisioningStates\";}}s:13:\"ProxyResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Common
  properties of proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:22:\"RelationshipDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  definition of Relationship.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"cardinality\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"The
  Relationship Cardinality.\";s:4:\"enum\";a:3:{i:0;s:8:\"OneToOne\";i:1;s:9:\"OneToMany\";i:2;s:10:\"ManyToMany\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:16:\"CardinalityTypes\";}}s:11:\"description\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:44:\"Localized
  descriptions for the Relationship.\";s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:44:\"Localized
  display name for the Relationship.\";s:4:\"type\";s:6:\"object\";}s:17:\"expiryDateTimeUtc\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  expiry date time in UTC.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  properties of the Relationship.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PropertyDefinition\";}s:4:\"type\";s:5:\"array\";}s:14:\"lookupMappings\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Optional
  property to be used to map fields in profile to their strong ids in related profile.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/RelationshipTypeMapping\";}s:4:\"type\";s:5:\"array\";}s:11:\"profileType\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Profile
  type.\";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ProvisioningState\";s:11:\"description\";s:19:\"Provisioning
  state.\";s:8:\"readOnly\";b:1;}s:18:\"relatedProfileType\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Related
  profile being referenced.\";s:4:\"type\";s:6:\"string\";}s:18:\"relationshipGuidId\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  relationship guid id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"relationshipName\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  Relationship name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  hub name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"profileType\";i:1;s:18:\"relatedProfileType\";}}s:26:\"RelationshipLinkDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  definition of relationship link.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"description\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:49:\"Localized
  descriptions for the Relationship Link.\";s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:49:\"Localized
  display name for the Relationship Link.\";s:4:\"type\";s:6:\"object\";}s:15:\"interactionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  InteractionType associated with the Relationship Link.\";s:4:\"type\";s:6:\"string\";}s:8:\"linkName\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  name of the Relationship Link.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"mappings\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  mappings between Interaction and Relationship fields.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/RelationshipLinkFieldMapping\";}s:4:\"type\";s:5:\"array\";}s:25:\"profilePropertyReferences\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  property references for the Profile of the Relationship.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ParticipantPropertyReference\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ProvisioningState\";s:11:\"description\";s:19:\"Provisioning
  state.\";s:8:\"readOnly\";b:1;}s:32:\"relatedProfilePropertyReferences\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  property references for the Related Profile of the Relationship.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ParticipantPropertyReference\";}s:4:\"type\";s:5:\"array\";}s:18:\"relationshipGuidId\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  relationship guid id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"relationshipName\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  Relationship associated with the Link.\";s:4:\"type\";s:6:\"string\";}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  hub name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:15:\"interactionType\";i:1;s:25:\"profilePropertyReferences\";i:2;s:32:\"relatedProfilePropertyReferences\";i:3;s:16:\"relationshipName\";}}s:28:\"RelationshipLinkFieldMapping\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  fields mapping for Relationships.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"interactionFieldName\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  field name on the Interaction Type.\";s:4:\"type\";s:6:\"string\";}s:8:\"linkType\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Link
  type.\";s:4:\"enum\";a:2:{i:0;s:12:\"UpdateAlways\";i:1;s:10:\"CopyIfNull\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:9:\"LinkTypes\";}}s:21:\"relationshipFieldName\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  field name on the Relationship metadata.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:20:\"interactionFieldName\";i:1;s:21:\"relationshipFieldName\";}}s:26:\"RelationshipLinkListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  response of list relationship link operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Link
  to the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Results
  of the list operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/RelationshipLinkResourceFormat\";}s:4:\"type\";s:5:\"array\";}}}s:30:\"RelationshipLinkResourceFormat\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:38:\"The
  relationship link resource format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/RelationshipLinkDefinition\";s:19:\"x-ms-client-flatten\";b:1;}}}s:22:\"RelationshipListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  response of list relationship operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Link
  to the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Results
  of the list operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/RelationshipResourceFormat\";}s:4:\"type\";s:5:\"array\";}}}s:26:\"RelationshipResourceFormat\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:33:\"The
  relationship resource format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/RelationshipDefinition\";s:19:\"x-ms-client-flatten\";b:1;}}}s:28:\"RelationshipTypeFieldMapping\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Map
  a field of profile to its corresponding StrongId in Related Profile.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"profileFieldName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Specifies
  the fieldName in profile.\";s:4:\"type\";s:6:\"string\";}s:25:\"relatedProfileKeyProperty\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Specifies
  the KeyProperty (from StrongId) of the related profile.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:16:\"profileFieldName\";i:1;s:25:\"relatedProfileKeyProperty\";}}s:23:\"RelationshipTypeMapping\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Maps
  fields in Profile to their corresponding StrongIds in Related Profile.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"fieldMappings\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Maps
  a profile property with the StrongId of related profile. This is an array to support
  StrongIds that are composite key as well.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/RelationshipTypeFieldMapping\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:13:\"fieldMappings\";}}s:19:\"RelationshipsLookup\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  definition of suggested relationship for the type.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:24:\"existingRelationshipName\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  name of existing Relationship.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"profileName\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  relationship profile.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:25:\"profilePropertyReferences\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  property references for the profile type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ParticipantPropertyReference\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:18:\"relatedProfileName\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  related profile.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:32:\"relatedProfilePropertyReferences\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"The
  property references for the related profile type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ParticipantPropertyReference\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Common
  properties of Azure resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:22:\"ResourceSetDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  resource set description.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"elements\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  elements included in the set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  elements that are not included in the set, in case elements contains '*' indicating
  'all'.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:4:\"Role\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  Role definition.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  description of the role.\";s:4:\"type\";s:6:\"string\";}s:8:\"roleName\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  role name.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"RoleAssignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  Role Assignment definition.\";s:10:\"properties\";O:8:\"stdClass\":20:{s:14:\"assignmentName\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  name of the metadata object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"conflationPolicies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceSetDescription\";s:11:\"description\";s:36:\"Widget
  types set for the assignment.\";}s:10:\"connectors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceSetDescription\";s:11:\"description\";s:34:\"Connectors
  set for the assignment.\";}s:11:\"description\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:39:\"Localized
  description for the metadata.\";s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:41:\"Localized
  display names for the metadata.\";s:4:\"type\";s:6:\"object\";}s:12:\"interactions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceSetDescription\";s:11:\"description\";s:36:\"Interactions
  set for the assignment.\";}s:4:\"kpis\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceSetDescription\";s:11:\"description\";s:28:\"Kpis
  set for the assignment.\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceSetDescription\";s:11:\"description\";s:29:\"Links
  set for the assignment.\";}s:10:\"principals\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  principals being assigned to.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AssignmentPrincipal\";}s:4:\"type\";s:5:\"array\";}s:8:\"profiles\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceSetDescription\";s:11:\"description\";s:32:\"Profiles
  set for the assignment.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ProvisioningState\";s:11:\"description\";s:19:\"Provisioning
  state.\";s:8:\"readOnly\";b:1;}s:17:\"relationshipLinks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceSetDescription\";s:11:\"description\";s:52:\"The
  Role assignments set for the relationship links.\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceSetDescription\";s:11:\"description\";s:47:\"The
  Role assignments set for the relationships.\";}s:4:\"role\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Type
  of roles.\";s:4:\"enum\";a:6:{i:0;s:5:\"Admin\";i:1;s:6:\"Reader\";i:2;s:11:\"ManageAdmin\";i:3;s:12:\"ManageReader\";i:4;s:9:\"DataAdmin\";i:5;s:10:\"DataReader\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:9:\"RoleTypes\";}}s:15:\"roleAssignments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceSetDescription\";s:11:\"description\";s:44:\"The
  Role assignments set for the assignment.\";}s:11:\"sasPolicies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceSetDescription\";s:11:\"description\";s:36:\"Sas
  Policies set for the assignment.\";}s:8:\"segments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceSetDescription\";s:11:\"description\";s:44:\"The
  Role assignments set for the assignment.\";}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  hub name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"views\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceSetDescription\";s:11:\"description\";s:29:\"Views
  set for the assignment.\";}s:11:\"widgetTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceSetDescription\";s:11:\"description\";s:36:\"Widget
  types set for the assignment.\";}}s:8:\"required\";a:2:{i:0;s:4:\"role\";i:1;s:10:\"principals\";}}s:24:\"RoleAssignmentListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  response of list role assignment operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Link
  to the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Results
  of the list operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/RoleAssignmentResourceFormat\";}s:4:\"type\";s:5:\"array\";}}}s:28:\"RoleAssignmentResourceFormat\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:36:\"The
  Role Assignment resource format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RoleAssignment\";s:19:\"x-ms-client-flatten\";b:1;}}}s:14:\"RoleListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  response of list role assignment operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Link
  to the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Results
  of the list operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RoleResourceFormat\";}s:4:\"type\";s:5:\"array\";}}}s:18:\"RoleResourceFormat\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:25:\"The
  role resource format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Role\";s:19:\"x-ms-client-flatten\";b:1;}}}s:29:\"SalesforceConnectorProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  Salesforce connector properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"salesforcetables\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  Salesforce tables.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SalesforceTable\";}s:4:\"type\";s:5:\"array\";}s:11:\"usersetting\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/SalesforceDiscoverSetting\";s:11:\"description\";s:18:\"The
  user settings.\";}}s:8:\"required\";a:2:{i:0;s:11:\"usersetting\";i:1;s:16:\"salesforcetables\";}}s:25:\"SalesforceDiscoverSetting\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Salesforce
  discover setting.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:35:\"salesforceConnectionStringSecretUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  salesforce connection string secret URL.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:35:\"salesforceConnectionStringSecretUrl\";}}s:15:\"SalesforceTable\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Salesforce
  table.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"isProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Indicating
  whether this instance is profile.\";s:4:\"type\";s:6:\"string\";}s:13:\"tableCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  table category.\";s:4:\"type\";s:6:\"string\";}s:9:\"tableName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the table.\";s:4:\"type\";s:6:\"string\";}s:12:\"tableRemarks\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  table remarks.\";s:4:\"type\";s:6:\"string\";}s:11:\"tableSchema\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  table schema.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:9:\"tableName\";i:1;s:11:\"tableSchema\";i:2;s:13:\"tableCategory\";}}s:8:\"StrongId\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Property/Properties
  which represent a unique ID.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:23:\"Localized
  descriptions.\";s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:23:\"Localized
  display name.\";s:4:\"type\";s:6:\"object\";}s:16:\"keyPropertyNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  properties which make up the unique ID.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"strongIdName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  Name identifying the strong ID.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:16:\"keyPropertyNames\";i:1;s:12:\"strongIdName\";}}s:32:\"SuggestRelationshipLinksResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  response of suggest relationship links operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"interactionName\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  interaction name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:22:\"suggestedRelationships\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Suggested
  relationships for the type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/RelationshipsLookup\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:21:\"TypePropertiesMapping\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Metadata
  for a Link's property mapping.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:27:\"interactionTypePropertyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"
  Property name on the source Interaction Type.\";s:4:\"type\";s:6:\"string\";}s:15:\"isProfileTypeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Flag
  to indicate whether the Profile Type property is an id on the Profile Type.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"linkType\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Link
  type.\";s:4:\"enum\";a:2:{i:0;s:12:\"UpdateAlways\";i:1;s:10:\"CopyIfNull\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:9:\"LinkTypes\";}}s:23:\"profileTypePropertyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Property
  name on the target Profile Type.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:27:\"interactionTypePropertyName\";i:1;s:23:\"profileTypePropertyName\";}}s:4:\"View\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  view in Customer 360 web application.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"changed\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Date
  time when view was last modified.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Date
  time when view was created.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"definition\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"View
  definition.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:36:\"Localized
  display name for the view.\";s:4:\"type\";s:6:\"object\";}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"the
  hub name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"the
  user ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"viewName\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Name
  of the view.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"definition\";}}s:14:\"ViewListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  response of list view operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Link
  to the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Results
  of the list operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ViewResourceFormat\";}s:4:\"type\";s:5:\"array\";}}}s:18:\"ViewResourceFormat\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:25:\"The
  view resource format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/View\";s:19:\"x-ms-client-flatten\";b:1;}}}s:10:\"WidgetType\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Definition
  of WidgetType.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"changed\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Date
  time when widget type was last modified.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Date
  time when widget type was created.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"definition\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Definition
  for widget type.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Description
  for widget type.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:43:\"Localized
  display name for the widget type.\";s:4:\"type\";s:6:\"object\";}s:8:\"imageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  image URL.\";s:4:\"type\";s:6:\"string\";}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  hub name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"widgetTypeName\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Name
  of the widget type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"widgetVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  widget version.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"definition\";}}s:20:\"WidgetTypeListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  response of list widget type operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Link
  to the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Results
  of the list operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/WidgetTypeResourceFormat\";}s:4:\"type\";s:5:\"array\";}}}s:24:\"WidgetTypeResourceFormat\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:28:\"The
  WidgetTypeResourceFormat\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/WidgetType\";s:19:\"x-ms-client-flatten\";b:1;}}}}"
...
