---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:28:\"Azure NotificationHub
  client\";s:5:\"title\";s:32:\"NotificationHubsManagementClient\";s:7:\"version\";s:10:\"2016-03-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:129:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-notificationhubs/2016-03-01/swagger/notificationhubs.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:20:\"arm-notificationhubs\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/checkNamespaceAvailability:
    post:
      description: Checks the availability of the given service namespace across all
        Azure subscriptions. This is useful because the domain name is created based
        on the service namespace name.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx
      operationId: Namespaces_CheckAvailability
      parameters:
      - description: The namespace name.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/CheckAvailabilityParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Checks if the Namespace name is a valid availabile name
          schema:
            $ref: '#/definitions/CheckAvailabilityResult'
      tags:
      - Namespaces
  /subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/namespaces:
    get:
      description: Lists all the available namespaces within the subscription irrespective
        of the resourceGroups.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx
      operationId: Namespaces_ListAll
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ' Gets all the Namespaces within the subscription irrespective
            of the ResourceGroup'
          schema:
            $ref: '#/definitions/NamespaceListResult'
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces:
    get:
      description: Lists the available namespaces within a resourceGroup.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx
      operationId: Namespaces_List
      parameters:
      - description: The name of the resource group. If resourceGroupName value is
          null the method lists all the namespaces within subscription
        in: path
        name: resourceGroupName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Lists all Namespaces with the ResourceGroup
          schema:
            $ref: '#/definitions/NamespaceListResult'
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}
  : delete:
      description: Deletes an existing namespace. This operation also removes all
        associated notificationHubs under the namespace.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj856296.aspx
      operationId: Namespaces_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace is deleted
        202:
          description: Namespace delete request has been accepted
        204:
          description: Namespace is already Deleted
      tags:
      - Namespaces
      x-ms-long-running-operation: true
    get:
      description: Returns the description for the specified namespace.
      externalDocs:
        url: http://msdn.microsoft.com/library/azure/dn140232.aspx
      operationId: Namespaces_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Get Namespace
          schema:
            $ref: '#/definitions/NamespaceResource'
      tags:
      - Namespaces
    patch:
      description: Patches the existing namespace
      operationId: Namespaces_Patch
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: Parameters supplied to patch a Namespace Resource.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/NamespacePatchParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace is Updated
          schema:
            $ref: '#/definitions/NamespaceResource'
      tags:
      - Namespaces
    put:
      description: Creates/Updates a service namespace. Once created, this namespace's
        resource manifest is immutable. This operation is idempotent.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx
      operationId: Namespaces_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: Parameters supplied to create a Namespace Resource.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/NamespaceCreateOrUpdateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace is Create/Update
          schema:
            $ref: '#/definitions/NamespaceResource'
        201:
          description: Namespace is Create/Update
          schema:
            $ref: '#/definitions/NamespaceResource'
      tags:
      - Namespaces
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules
  : get:
      description: Gets the authorization rules for a namespace.
      operationId: Namespaces_ListAuthorizationRules
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Get the Namespace AuthorizationRule
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleListResult'
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes a namespace authorization rule
      operationId: Namespaces_DeleteAuthorizationRule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: Authorization Rule Name.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace AuthorizationRule is deleted
        204:
          description: Namespace AuthorizationRule is already deleted
      tags:
      - Namespaces
    get:
      description: Gets an authorization rule for a namespace by name.
      operationId: Namespaces_GetAuthorizationRule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        type: string
      - description: Authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Get the Namespace AuthorizationRule
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleResource'
      tags:
      - Namespaces
    put:
      description: Creates an authorization rule for a namespace
      operationId: Namespaces_CreateOrUpdateAuthorizationRule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: Aauthorization Rule Name.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - description: The shared access authorization rule.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace Authorization Rule is Created/Updated
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleResource'
      tags:
      - Namespaces
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys
  : post:
      description: 'Gets the Primary and Secondary ConnectionStrings to the namespace '
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
      operationId: Namespaces_ListKeys
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The connection string of the namespace for the specified authorizationRule.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Gets the Namespace AuthorizationRule's Primary keys and Secondary
            keys along with the ConnectionStrings
          schema:
            $ref: '#/definitions/ResourceListKeys'
      tags:
      - Namespaces
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      description: Regenerates the Primary/Secondary Keys to the Namespace Authorization
        Rule
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
      operationId: Namespaces_RegenerateKeys
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The connection string of the namespace for the specified authorizationRule.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - description: Parameters supplied to regenerate the Namespace Authorization
          Rule Key.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/PolicykeyResource'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Regenerate the Primary/Secondary Key and returns the Keys and
            the connection string
          schema:
            $ref: '#/definitions/ResourceListKeys'
      tags:
      - Namespaces
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/checkNotificationHubAvailability
  : post:
      description: Checks the availability of the given notificationHub in a namespace.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx
      operationId: NotificationHubs_CheckAvailability
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notificationHub name.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/CheckAvailabilityParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Checks if the NotificationHub name is a valid availabile name
          schema:
            $ref: '#/definitions/CheckAvailabilityResult'
      tags:
      - NotificationHubs
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs
  : get:
      description: Lists the notification hubs associated with a namespace.
      operationId: NotificationHubs_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Get all NotificationHubs within a Namespace
          schema:
            $ref: '#/definitions/NotificationHubListResult'
      tags:
      - NotificationHubs
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}
  : delete:
      description: Deletes a notification hub associated with a namespace.
      operationId: NotificationHubs_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace is deleted
      tags:
      - NotificationHubs
    get:
      description: Lists the notification hubs associated with a namespace.
      operationId: NotificationHubs_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Get the NotificationHub
          schema:
            $ref: '#/definitions/NotificationHubResource'
      tags:
      - NotificationHubs
    put:
      description: Creates/Update a NotificationHub in a namespace.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx
      operationId: NotificationHubs_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - description: Parameters supplied to the create/update a NotificationHub Resource.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/NotificationHubCreateOrUpdateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: NotificationHub is Created/Updated
          schema:
            $ref: '#/definitions/NotificationHubResource'
        201:
          description: NotificationHub is Created/Updated
          schema:
            $ref: '#/definitions/NotificationHubResource'
      tags:
      - NotificationHubs
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules
  : get:
      description: Gets the authorization rules for a NotificationHub.
      operationId: NotificationHubs_ListAuthorizationRules
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Get all NotificationHub AuthorizationRules
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleListResult'
      tags:
      - NotificationHubs
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes a notificationHub authorization rule
      operationId: NotificationHubs_DeleteAuthorizationRule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - description: Authorization Rule Name.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: NotificationHub AuthorizationRule is deleted
        204:
          description: NotificationHub AuthorizationRule is already deleted
      tags:
      - NotificationHubs
    get:
      description: Gets an authorization rule for a NotificationHub by name.
      operationId: NotificationHubs_GetAuthorizationRule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - description: authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Get NotificationHub AuthorizationRule
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleResource'
      tags:
      - NotificationHubs
    put:
      description: Creates/Updates an authorization rule for a NotificationHub
      operationId: NotificationHubs_CreateOrUpdateAuthorizationRule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - description: Authorization Rule Name.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - description: The shared access authorization rule.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: NotificationHub AuthorizationRule is Created/Updated
          schema:
            $ref: '#/definitions/SharedAccessAuthorizationRuleResource'
      tags:
      - NotificationHubs
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/listKeys
  : post:
      description: 'Gets the Primary and Secondary ConnectionStrings to the NotificationHub '
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
      operationId: NotificationHubs_ListKeys
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - description: The connection string of the NotificationHub for the specified
          authorizationRule.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Gets the Namespace AuthorizationRule's Primary keys and Secondary
            keys along with the ConnectionStrings
          schema:
            $ref: '#/definitions/ResourceListKeys'
      tags:
      - NotificationHubs
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      description: Regenerates the Primary/Secondary Keys to the NotificationHub Authorization
        Rule
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
      operationId: NotificationHubs_RegenerateKeys
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - description: The connection string of the NotificationHub for the specified
          authorizationRule.
        in: path
        name: authorizationRuleName
        required: true
        type: string
      - description: Parameters supplied to regenerate the NotificationHub Authorization
          Rule Key.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/PolicykeyResource'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Regenerate the Primary/Secondary Key and returns the Keys and
            the connection string
          schema:
            $ref: '#/definitions/ResourceListKeys'
      tags:
      - NotificationHubs
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/pnsCredentials
  : post:
      description: Lists the PNS Credentials associated with a notification hub .
      operationId: NotificationHubs_GetPnsCredentials
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Gets all the NotificationHub PNS credentials
          schema:
            $ref: '#/definitions/PnsCredentialsResource'
      tags:
      - NotificationHubs
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":34:{s:13:\"AdmCredential\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Description
  of a NotificationHub AdmCredential.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/AdmCredentialProperties\";s:11:\"description\";s:44:\"Properties
  of NotificationHub AdmCredential.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:23:\"AdmCredentialProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Description
  of a NotificationHub AdmCredential.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"authTokenUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  URL of the authorization token.\";s:4:\"type\";s:6:\"string\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  client identifier.\";s:4:\"type\";s:6:\"string\";}s:12:\"clientSecret\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  credential secret access key.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"ApnsCredential\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Description
  of a NotificationHub ApnsCredential.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:38:\"#/definitions/ApnsCredentialProperties\";s:11:\"description\";s:45:\"Properties
  of NotificationHub ApnsCredential.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:24:\"ApnsCredentialProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Description
  of a NotificationHub ApnsCredential.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"apnsCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  APNS certificate.\";s:4:\"type\";s:6:\"string\";}s:14:\"certificateKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  certificate key.\";s:4:\"type\";s:6:\"string\";}s:8:\"endpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  endpoint of this credential.\";s:4:\"type\";s:6:\"string\";}s:10:\"thumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  Apns certificate Thumbprint\";s:4:\"type\";s:6:\"string\";}}}s:15:\"BaiduCredential\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Description
  of a NotificationHub BaiduCredential.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/BaiduCredentialProperties\";s:11:\"description\";s:46:\"Properties
  of NotificationHub BaiduCredential.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:25:\"BaiduCredentialProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Description
  of a NotificationHub BaiduCredential.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"baiduApiKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Baidu
  Api Key.\";s:4:\"type\";s:6:\"string\";}s:13:\"baiduEndPoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Baidu
  Endpoint.\";s:4:\"type\";s:6:\"string\";}s:14:\"baiduSecretKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Baidu
  Secret Key\";s:4:\"type\";s:6:\"string\";}}}s:27:\"CheckAvailabilityParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Parameters
  supplied to the Check Name Availability for Namespace and NotificationHubs.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Resource
  Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"isAvailiable\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"True
  if the name is available and can be used to create new Namespace/NotificationHub.
  Otherwise false.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Resource
  name\";s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:32:\"The
  sku of the created namespace\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:8:\"location\";}}s:23:\"CheckAvailabilityResult\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:44:\"Description
  of a CheckAvailibility resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"isAvailiable\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"True
  if the name is available and can be used to create new Namespace/NotificationHub.
  Otherwise false.\";s:4:\"type\";s:7:\"boolean\";}}}s:13:\"GcmCredential\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Description
  of a NotificationHub GcmCredential.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/GcmCredentialProperties\";s:11:\"description\";s:44:\"Properties
  of NotificationHub GcmCredential.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:23:\"GcmCredentialProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Description
  of a NotificationHub GcmCredential.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"gcmEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  GCM endpoint.\";s:4:\"type\";s:6:\"string\";}s:12:\"googleApiKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  Google API key.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"MpnsCredential\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Description
  of a NotificationHub MpnsCredential.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:38:\"#/definitions/MpnsCredentialProperties\";s:11:\"description\";s:45:\"Properties
  of NotificationHub MpnsCredential.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:24:\"MpnsCredentialProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Description
  of a NotificationHub MpnsCredential.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"certificateKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  certificate key for this credential.\";s:4:\"type\";s:6:\"string\";}s:15:\"mpnsCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  MPNS certificate.\";s:4:\"type\";s:6:\"string\";}s:10:\"thumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  Mpns certificate Thumbprint\";s:4:\"type\";s:6:\"string\";}}}s:33:\"NamespaceCreateOrUpdateParameters\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:62:\"Parameters
  supplied to the CreateOrUpdate Namespace operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/NamespaceProperties\";s:11:\"description\";s:28:\"Properties
  of the Namespace.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}}s:19:\"NamespaceListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  response of the List Namespace operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"Link
  to the next set of results. Not empty if Value contains incomplete list of Namespaces\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Result
  of the List Namespace operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/NamespaceResource\";}s:4:\"type\";s:5:\"array\";}}}s:24:\"NamespacePatchParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Parameters
  supplied to the Patch Namespace operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:32:\"The
  sku of the created namespace\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}}}s:19:\"NamespaceProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Namespace
  properties.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"createdAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  time the namespace was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"critical\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  or not the namespace is set as Critical.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Whether
  or not the namespace is currently enabled.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the namespace.\";s:4:\"type\";s:6:\"string\";}s:13:\"namespaceType\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"The
  namespace type.\";s:4:\"enum\";a:2:{i:0;s:9:\"Messaging\";i:1;s:15:\"NotificationHub\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"NamespaceType\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Provisioning
  state of the Namespace.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":3:{s:11:\"description\";s:287:\"Specifies
  the targeted region in which the namespace should be created. It can be any of the
  following values: Australia EastAustralia SoutheastCentral USEast USEast US 2West
  USNorth Central USSouth Central USEast AsiaSoutheast AsiaBrazil SouthJapan EastJapan
  WestNorth EuropeWest Europe\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:66:\"http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx\";}s:4:\"type\";s:6:\"string\";}s:9:\"scaleUnit\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"ScaleUnit
  where the namespace gets created\";s:4:\"type\";s:6:\"string\";}s:18:\"serviceBusEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Endpoint
  you can use to perform NotificationHub operations.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:66:\"http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx\";}s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Status
  of the namespace. It can be any of these values:1 = Created/Active2 = Creating3
  = Suspended4 = Deleting\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:66:\"http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx\";}s:4:\"type\";s:6:\"string\";}s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  Id of the Azure subscription associated with the namespace.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"NamespaceResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:36:\"Description
  of a Namespace resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/NamespaceProperties\";s:11:\"description\";s:28:\"Properties
  of the Namespace.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:39:\"NotificationHubCreateOrUpdateParameters\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:68:\"Parameters
  supplied to the CreateOrUpdate NotificationHub operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/NotificationHubProperties\";s:11:\"description\";s:34:\"Properties
  of the NotificationHub.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"location\";i:1;s:10:\"properties\";}}s:25:\"NotificationHubListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  response of the List NotificationHub operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Link
  to the next set of results. Not empty if Value contains incomplete list of NotificationHub\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Result
  of the List NotificationHub operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/NotificationHubResource\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"NotificationHubProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"NotificationHub
  properties.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"admCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AdmCredential\";s:11:\"description\";s:48:\"The
  AdmCredential of the created NotificationHub\";}s:14:\"apnsCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ApnsCredential\";s:11:\"description\";s:49:\"The
  ApnsCredential of the created NotificationHub\";}s:18:\"authorizationRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  AuthorizationRules of the created NotificationHub\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/SharedAccessAuthorizationRuleProperties\";}s:4:\"type\";s:5:\"array\";}s:15:\"baiduCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BaiduCredential\";s:11:\"description\";s:50:\"The
  BaiduCredential of the created NotificationHub\";}s:13:\"gcmCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GcmCredential\";s:11:\"description\";s:48:\"The
  GcmCredential of the created NotificationHub\";}s:14:\"mpnsCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/MpnsCredential\";s:11:\"description\";s:49:\"The
  MpnsCredential of the created NotificationHub\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  NotificationHub name.\";s:4:\"type\";s:6:\"string\";}s:15:\"registrationTtl\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  RegistrationTtl of the created NotificationHub\";s:4:\"type\";s:6:\"string\";}s:13:\"wnsCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/WnsCredential\";s:11:\"description\";s:48:\"The
  WnsCredential of the created NotificationHub\";}}}s:23:\"NotificationHubResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:42:\"Description
  of a NotificationHub Resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/NotificationHubProperties\";s:11:\"description\";s:34:\"Properties
  of the NotificationHub.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:24:\"PnsCredentialsProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Description
  of a NotificationHub PNS Credentials.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"admCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AdmCredential\";s:11:\"description\";s:48:\"The
  AdmCredential of the created NotificationHub\";}s:14:\"apnsCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ApnsCredential\";s:11:\"description\";s:49:\"The
  ApnsCredential of the created NotificationHub\";}s:15:\"baiduCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BaiduCredential\";s:11:\"description\";s:50:\"The
  BaiduCredential of the created NotificationHub\";}s:13:\"gcmCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GcmCredential\";s:11:\"description\";s:48:\"The
  GcmCredential of the created NotificationHub\";}s:14:\"mpnsCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/MpnsCredential\";s:11:\"description\";s:49:\"The
  MpnsCredential of the created NotificationHub\";}s:13:\"wnsCredential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/WnsCredential\";s:11:\"description\";s:48:\"The
  WnsCredential of the created NotificationHub\";}}}s:22:\"PnsCredentialsResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:49:\"Description
  of a NotificationHub PNS Credentials.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:38:\"#/definitions/PnsCredentialsProperties\";s:11:\"description\";s:32:\"NotificationHub
  PNS Credentials.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:17:\"PolicykeyResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Namespace/NotificationHub
  Regenerate Keys\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"policyKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"Name
  of the key that has to be regenerated for the Namespace/Notification Hub Authorization
  Rule. The value can be Primary Key/Secondary Key.\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Resource
  Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:32:\"The
  sku of the created namespace\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:16:\"ResourceListKeys\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Namespace/NotificationHub
  Connection String\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"keyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"KeyName
  of the created AuthorizationRule\";s:4:\"type\";s:6:\"string\";}s:23:\"primaryConnectionString\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"PrimaryConnectionString
  of the AuthorizationRule.\";s:4:\"type\";s:6:\"string\";}s:10:\"primaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"PrimaryKey
  of the created AuthorizationRule.\";s:4:\"type\";s:6:\"string\";}s:25:\"secondaryConnectionString\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"SecondaryConnectionString
  of the created AuthorizationRule\";s:4:\"type\";s:6:\"string\";}s:12:\"secondaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"SecondaryKey
  of the created AuthorizationRule\";s:4:\"type\";s:6:\"string\";}}}s:53:\"SharedAccessAuthorizationRuleCreateOrUpdateParameters\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:71:\"Parameters
  supplied to the CreateOrUpdate Namespace AuthorizationRules.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/SharedAccessAuthorizationRuleProperties\";s:11:\"description\";s:47:\"Properties
  of the Namespace AuthorizationRules.\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:39:\"SharedAccessAuthorizationRuleListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  response of the List Namespace operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Link
  to the next set of results. Not empty if Value contains incomplete list of AuthorizationRules\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Result
  of the List AuthorizationRules operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/SharedAccessAuthorizationRuleResource\";}s:4:\"type\";s:5:\"array\";}}}s:39:\"SharedAccessAuthorizationRuleProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"SharedAccessAuthorizationRule
  properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"rights\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  rights associated with the rule.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:6:\"Manage\";i:1;s:4:\"Send\";i:2;s:6:\"Listen\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:12:\"AccessRights\";}}s:4:\"type\";s:5:\"array\";}}}s:37:\"SharedAccessAuthorizationRuleResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:46:\"Description
  of a Namespace AuthorizationRules.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:53:\"#/definitions/SharedAccessAuthorizationRuleProperties\";s:11:\"description\";s:47:\"Pproperties
  of the Namespace AuthorizationRule.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:3:\"Sku\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  Sku description for a namespace\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"capacity\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  capacity of the resource\";s:4:\"type\";s:7:\"integer\";}s:6:\"family\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  Sku Family\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Name
  of the notification hub sku\";s:4:\"enum\";a:3:{i:0;s:4:\"Free\";i:1;s:5:\"Basic\";i:2;s:8:\"Standard\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:7:\"SkuName\";}}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"The
  Sku size\";s:4:\"type\";s:6:\"string\";}s:4:\"tier\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  tier of particular sku\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:11:\"SubResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Resource
  Id\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:13:\"WnsCredential\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Description
  of a NotificationHub WnsCredential.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/WnsCredentialProperties\";s:11:\"description\";s:44:\"Properties
  of NotificationHub WnsCredential.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:23:\"WnsCredentialProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Description
  of a NotificationHub WnsCredential.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"packageSid\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  package ID for this credential.\";s:4:\"type\";s:6:\"string\";}s:9:\"secretKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  secret key.\";s:4:\"type\";s:6:\"string\";}s:19:\"windowsLiveEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  Windows Live endpoint.\";s:4:\"type\";s:6:\"string\";}}}}"
...
