---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:18:\"Azure SQL Database\";s:11:\"description\";s:180:\"Provides
  create, read, update and delete functionality for Azure SQL Database resources including
  servers, databases, elastic pools, recommendations, operations, and usage metrics.\";s:7:\"version\";s:10:\"2014-04-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives/{serviceObjectiveName}
  : get:
      tags:
      - ServiceObjectives
      operationId: Servers_GetServiceObjective
      description: Gets a database service objective.
      x-ms-examples:
        Get a service objective:
          $ref: ../examples/ServiceObjectiveGet.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: serviceObjectiveName
        in: path
        required: true
        type: string
        description: The name of the service objective to retrieve.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServiceObjective'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives
  : get:
      tags:
      - ServiceObjectives
      operationId: Servers_ListServiceObjectives
      description: Returns database service objectives.
      x-ms-examples:
        List service objectives:
          $ref: ../examples/ServiceObjectiveList.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServiceObjectiveListResult'
      x-ms-pageable:
        nextLinkName: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:11:\"SubResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Subresource
  properties\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Resource
  name\";}s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  resource ID.\";}}}s:16:\"ServiceObjective\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:40:\"#/definitions/ServiceObjectiveProperties\";s:11:\"description\";s:42:\"Represents
  the properties of the resource.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:40:\"Represents
  a database service objective.\";}s:26:\"ServiceObjectiveProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"serviceObjectiveName\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  name for the service objective.\";}s:9:\"isDefault\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:74:\"Gets
  whether the service level objective is the default service objective.\";s:10:\"x-nullable\";b:0;}s:8:\"isSystem\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:71:\"Gets
  whether the service level objective is a system service objective.\";s:10:\"x-nullable\";b:0;}s:11:\"description\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  description for the service level objective.\";}s:7:\"enabled\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:52:\"Gets
  whether the service level objective is enabled.\";s:10:\"x-nullable\";b:0;}}s:11:\"description\";s:58:\"Represents
  the properties of a database service objective.\";}s:26:\"ServiceObjectiveListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ServiceObjective\";}s:11:\"description\";s:40:\"The
  list of database service objectives.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:69:\"Represents
  the response to a get database service objectives request.\";}}"
...
