---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:18:\"Azure SQL Database\";s:11:\"description\";s:180:\"Provides
  create, read, update and delete functionality for Azure SQL Database resources including
  servers, databases, elastic pools, recommendations, operations, and usage metrics.\";s:7:\"version\";s:10:\"2014-04-01\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Sql/servers:
    get:
      tags:
      - Servers
      operationId: Servers_List
      description: Returns a list of servers.
      x-ms-examples:
        List servers:
          $ref: ./examples/ServerList.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServerListResult'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}:
    put:
      tags:
      - Servers
      operationId: Servers_CreateOrUpdate
      description: Creates or updates a new server.
      x-ms-examples:
        Create server min:
          $ref: ./examples/ServerCreateOrUpdateMin.json
        Create server max:
          $ref: ./examples/ServerCreateOrUpdateMax.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Server'
        description: The required parameters for creating or updating a server.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Server'
        201:
          description: Created
          schema:
            $ref: '#/definitions/Server'
    patch:
      tags:
      - Servers
      operationId: Servers_Update
      description: Updates an existing server.
      x-ms-examples:
        Create server min:
          $ref: ./examples/ServerUpdateMin.json
        Create server max:
          $ref: ./examples/ServerUpdateMax.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServerUpdate'
        description: The required parameters for updating a server.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Server'
    delete:
      tags:
      - Servers
      operationId: Servers_Delete
      description: Deletes a SQL server.
      x-ms-examples:
        Delete SQL Server:
          $ref: ./examples/ServerDelete.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
        204:
          description: Accepted
    get:
      tags:
      - Servers
      operationId: Servers_Get
      description: Gets a server.
      x-ms-examples:
        Get Server:
          $ref: ./examples/ServerGet.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Server'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers:
    get:
      tags:
      - Servers
      operationId: Servers_ListByResourceGroup
      description: Returns a list of servers in a resource group.
      x-ms-examples:
        List servers by resource group:
          $ref: ./examples/ServerListByResourceGroup.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServerListResult'
      x-ms-pageable:
        nextLinkName: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:16:\"ServerProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:24:\"fullyQualifiedDomainName\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  fully qualified domain name of the server.\";}s:7:\"version\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"2.0\";i:1;s:4:\"12.0\";}s:11:\"description\";s:26:\"The
  version of the server.\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"ServerVersion\";s:13:\"modelAsString\";b:1;}}s:18:\"administratorLogin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:125:\"Administrator
  username for the server. Can only be specified when the server is being created
  (and is required for creation).\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:26:\"administratorLoginPassword\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"The
  administrator login password (required for server creation).\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:6:\"update\";}}s:24:\"externalAdministratorSid\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:197:\"The
  ID of the Active Azure Directory object with admin permissions on this server. Legacy
  parameter, always null. To check for Active Directory admin, query .../servers/{serverName}/administrators.\";}s:26:\"externalAdministratorLogin\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:206:\"The
  display name of the Azure Active Directory object with admin permissions on this
  server. Legacy parameter, always null. To check for Active Directory admin, query
  .../servers/{serverName}/administrators\";}s:5:\"state\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  state of the server.\";s:4:\"enum\";a:2:{i:0;s:5:\"Ready\";i:1;s:8:\"Disabled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"ServerState\";}}}s:11:\"description\";s:38:\"Represents
  the properties of a server.\";}s:6:\"Server\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Kind
  of sql server.  This is metadata used for the Azure portal experience.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/ServerProperties\";s:11:\"description\";s:42:\"Represents
  the properties of the resource.\";s:19:\"x-ms-client-flatten\";b:1;}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"../../../common/v1/types.json#/definitions/TrackedResource\";}}s:11:\"description\";s:20:\"Represents
  a server.\";}s:12:\"ServerUpdate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/ServerProperties\";s:11:\"description\";s:42:\"Represents
  the properties of the resource.\";s:19:\"x-ms-client-flatten\";b:1;}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"../../../common/v1/types.json#/definitions/Resource\";}}s:11:\"description\";s:33:\"Represents
  an update to a server.\";}s:16:\"ServerListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Server\";}s:11:\"description\";s:20:\"The
  list of servers.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:48:\"Represents
  the response to a get server request.\";}}"
...
