---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:7:\"version\";s:10:\"2018-01-01\";s:5:\"title\";s:23:\"DataBoxManagementClient\";}"
host: management.azure.com
paths:
  /providers/Microsoft.DataBox/operations:
    get:
      tags:
      - Operations
      description: This method gets all the operations.
      operationId: Operations_List
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The supported operations list.
          schema:
            $ref: '#/definitions/OperationList'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        OperationsList:
          $ref: ./examples/OperationsList.json
  /subscriptions/{subscriptionId}/providers/Microsoft.DataBox/jobs:
    get:
      tags:
      - Jobs
      description: Lists all the jobs available under the subscription.
      operationId: Jobs_List
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - name: $skipToken
        in: query
        description: $skipToken is supported on Get list of jobs, which provides the
          next page in the list of jobs.
        required: false
        type: string
      responses:
        200:
          description: List of jobs available under the subscription.
          schema:
            $ref: '#/definitions/JobResourceList'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        JobsList:
          $ref: ./examples/JobsList.json
  /subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/availableSkus:
    post:
      tags:
      - Service
      description: This method provides the list of available skus for the given subscription
        and location.
      operationId: Service_ListAvailableSkus
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/locationParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - name: availableSkuRequest
        in: body
        description: Filters for showing the available skus.
        required: true
        schema:
          $ref: '#/definitions/AvailableSkuRequest'
      responses:
        200:
          description: The list of available skus.
          schema:
            $ref: '#/definitions/AvailableSkusResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ServiceListAvailableSkus:
          $ref: ./examples/ServiceListAvailableSkus.json
  /subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/validateAddress:
    post:
      tags:
      - Service
      description: This method validates the customer shipping address and provide
        alternate addresses if any.
      operationId: Service_ValidateAddress
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/locationParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - name: validateAddress
        in: body
        description: Shipping address of the customer.
        required: true
        schema:
          $ref: '#/definitions/ValidateAddress'
      responses:
        200:
          description: The valid and alternate addresses.
          schema:
            $ref: '#/definitions/AddressValidationOutput'
      x-ms-examples:
        ServiceValidateAddress:
          $ref: ./examples/ServiceValidateAddress.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs:
    get:
      tags:
      - Jobs
      description: Lists all the jobs available under the given resource group.
      operationId: Jobs_ListByResourceGroup
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - name: $skipToken
        in: query
        description: $skipToken is supported on Get list of jobs, which provides the
          next page in the list of jobs.
        required: false
        type: string
      responses:
        200:
          description: List of jobs by resource group.
          schema:
            $ref: '#/definitions/JobResourceList'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        JobsListByResourceGroup:
          $ref: ./examples/JobsListByResourceGroup.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}:
    get:
      tags:
      - Jobs
      description: Gets information about the specified job.
      operationId: Jobs_Get
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/jobNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - name: $expand
        in: query
        description: $expand is supported on details parameter for job, which provides
          details on the job stages.
        required: false
        type: string
      responses:
        200:
          description: Job object.
          schema:
            $ref: '#/definitions/JobResource'
      x-ms-examples:
        JobsGet:
          $ref: ./examples/JobsGet.json
    put:
      tags:
      - Jobs
      description: Creates a new job with the specified parameters. Existing job cannot
        be updated with this API and should instead be updated with the Update job
        API.
      operationId: Jobs_Create
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/jobNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - name: jobResource
        in: body
        description: Job details from request body.
        required: true
        schema:
          $ref: '#/definitions/JobResource'
      responses:
        200:
          description: Job object.
          schema:
            $ref: '#/definitions/JobResource'
        202:
          description: Accepted request for create Job.
      x-ms-long-running-operation: true
      x-ms-examples:
        JobsCreate:
          $ref: ./examples/JobsCreate.json
    delete:
      tags:
      - Jobs
      description: Deletes a job.
      operationId: Jobs_Delete
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/jobNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: Job deleted.
      x-ms-examples:
        JobsDelete:
          $ref: ./examples/JobsDelete.json
    patch:
      tags:
      - Jobs
      description: Updates the properties of an existing job.
      operationId: Jobs_Update
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/jobNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - name: If-Match
        in: header
        description: Defines the If-Match condition. The patch will be performed only
          if the ETag of the job on the server matches this value.
        type: string
      - name: jobResourceUpdateParameter
        in: body
        description: Job update parameters from request body.
        required: true
        schema:
          $ref: '#/definitions/JobResourceUpdateParameter'
      responses:
        200:
          description: Job object.
          schema:
            $ref: '#/definitions/JobResource'
        202:
          description: Accepted request for job updated.
      x-ms-long-running-operation: true
      x-ms-examples:
        JobsUpdate:
          $ref: ./examples/JobsUpdate.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/bookShipmentPickUp:
    post:
      tags:
      - Jobs
      description: Book shipment pick up.
      operationId: Jobs_BookShipmentPickUp
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/jobNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - name: shipmentPickUpRequest
        in: body
        description: Details of shipment pick up request.
        required: true
        schema:
          $ref: '#/definitions/ShipmentPickUpRequest'
      responses:
        200:
          description: Booked shipment pick up successfully.
          schema:
            $ref: '#/definitions/ShipmentPickUpResponse'
      x-ms-examples:
        JobsBookShipmentPickUp:
          $ref: ./examples/JobsBookShipmentPickUp.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/cancel:
    post:
      tags:
      - Jobs
      description: CancelJob.
      operationId: Jobs_Cancel
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/jobNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - name: cancellationReason
        in: body
        description: Reason for cancellation.
        required: true
        schema:
          $ref: '#/definitions/CancellationReason'
      responses:
        204:
          description: Job cancelled.
      x-ms-examples:
        JobsCancel:
          $ref: ./examples/JobsCancel.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/copyLogsUri:
    post:
      tags:
      - Jobs
      description: Provides list of copy logs uri.
      operationId: Jobs_GetCopyLogsUri
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/jobNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Copy logs uri.
          schema:
            $ref: '#/definitions/GetCopyLogsUriOutput'
      x-ms-examples:
        JobsGetCopyLogsUri:
          $ref: ./examples/JobsGetCopyLogsUri.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/downloadShippingLabel
  : post:
      tags:
      - Jobs
      description: Get shipping label sas uri.
      operationId: Jobs_DownloadShippingLabelUri
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/jobNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Shipping label sas uri.
          schema:
            $ref: '#/definitions/ShippingLabelDetails'
      x-ms-examples:
        JobsDownloadShippingLabelUri:
          $ref: ./examples/JobsDownloadShippingLabelUri.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/listSecrets:
    post:
      tags:
      - Jobs
      description: This method gets the unencrypted secrets related to the job.
      operationId: Jobs_ListSecrets
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/jobNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The unencrypted secrets of the job.
          schema:
            $ref: '#/definitions/UnencryptedSecrets'
      x-ms-pageable:
        nextLinkName: ~
      x-ms-examples:
        JobsListSecrets:
          $ref: ./examples/JobsListSecrets.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/reportIssue:
    post:
      tags:
      - Jobs
      description: Reports an issue.
      operationId: Jobs_ReportIssue
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/jobNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - name: reportIssueDetails
        in: body
        description: Details of reported issue.
        required: true
        schema:
          $ref: '#/definitions/ReportIssueDetails'
      responses:
        204:
          description: Accepted issue report.
      x-ms-examples:
        JobsReportIssue:
          $ref: ./examples/JobsReportIssue.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":55:{s:21:\"AccountCopyLogDetails\";O:8:\"stdClass\":6:{s:11:\"description\";s:39:\"Copy
  log details for an storage account\";s:8:\"required\";a:2:{i:0;s:11:\"accountName\";i:1;s:11:\"copyLogLink\";}s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CopyLogDetails\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"accountName\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Destination
  account name.\";s:4:\"type\";s:6:\"string\";}s:11:\"copyLogLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Link
  for copy logs.\";s:4:\"type\";s:6:\"string\";}}s:24:\"x-ms-discriminator-value\";s:3:\"Pod\";}s:24:\"AccountCredentialDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Credential
  details of the account.\";s:8:\"required\";a:1:{i:0;s:22:\"shareCredentialDetails\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"accountName\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the account.\";s:4:\"type\";s:6:\"string\";}s:22:\"shareCredentialDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Per
  share level unencrypted access credentials.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ShareCredentialDetails\";}}}}s:23:\"AddressValidationOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Output
  of the address validation api.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:41:\"#/definitions/AddressValidationProperties\";s:11:\"description\";s:34:\"The
  address validation properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:27:\"AddressValidationProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  address validation output.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"validationStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  address validation status.\";s:4:\"enum\";a:3:{i:0;s:5:\"Valid\";i:1;s:7:\"Invalid\";i:2;s:9:\"Ambiguous\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"AddressValidationStatus\";s:13:\"modelAsString\";b:0;}}s:18:\"alternateAddresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"List
  of alternate addresses.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ShippingAddress\";}}}}s:13:\"ArmBaseObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Base
  class for all objects under resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Name
  of the object.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Id
  of the object.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Type
  of the object.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:19:\"AvailableSkuRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  filters for showing the available skus.\";s:8:\"required\";a:3:{i:0;s:12:\"transferType\";i:1;s:7:\"country\";i:2;s:8:\"location\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"transferType\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Type
  of the transfer.\";s:4:\"enum\";a:1:{i:0;s:13:\"ImportToAzure\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"TransferType\";s:13:\"modelAsString\";b:0;}}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"ISO
  country code. Country for hardware shipment. For codes check: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Location
  for data transfer. For locations check: https://management.azure.com/subscriptions/SUBSCRIPTIONID/locations?api-version=2018-01-01\";s:4:\"type\";s:6:\"string\";}}}s:19:\"AvailableSkusResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  available skus operation response.\";s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"List
  of available skus.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SkuInformation\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Link
  for the next set of skus.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"CabinetJobSecrets\";O:8:\"stdClass\":5:{s:11:\"description\";s:37:\"The
  secrets related to a cabinet job.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/JobSecrets\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"cabinetPodSecrets\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Contains
  the list of secret objects for a cabinet job.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CabinetPodSecret\";}}}s:24:\"x-ms-discriminator-value\";s:7:\"Cabinet\";}s:16:\"CabinetPodSecret\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  secrets related to a cabinet pod.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"deviceSerialNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Serial
  number of the assigned device.\";s:4:\"type\";s:6:\"string\";}s:14:\"devicePassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Password
  for out of the box experience on device.\";s:4:\"type\";s:6:\"string\";}s:24:\"accountCredentialDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Per
  account level access credentials.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AccountCredentialDetails\";}}}}s:18:\"CancellationReason\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Reason
  for cancellation.\";s:8:\"required\";a:1:{i:0;s:6:\"reason\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Reason
  for cancellation.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"ContactDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Contact
  Details.\";s:8:\"required\";a:2:{i:0;s:5:\"phone\";i:1;s:9:\"emailList\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"contactName\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Contact
  name of the person.\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Phone
  number of the contact person.\";s:4:\"type\";s:6:\"string\";}s:14:\"phoneExtension\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Phone
  extension number of the contact person.\";s:4:\"type\";s:6:\"string\";}s:6:\"mobile\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Mobile
  number of the contact person.\";s:4:\"type\";s:6:\"string\";}s:9:\"emailList\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"List
  of Email-ids to be notified about job progress.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:22:\"notificationPreference\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Notification
  preference for a job stage.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/NotificationPreference\";}}}}s:14:\"CopyLogDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Details
  for log generated during copy.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"copyLogDetailsType\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Indicates
  the type of job details.\";s:4:\"enum\";a:3:{i:0;s:3:\"Pod\";i:1;s:4:\"Disk\";i:2;s:7:\"Cabinet\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"ClassDiscriminator\";s:13:\"modelAsString\";b:0;}}}s:13:\"discriminator\";s:18:\"copyLogDetailsType\";}s:12:\"CopyProgress\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Copy
  progress.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"storageAccountName\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Name
  of the storage account where the data needs to be uploaded.\";s:4:\"type\";s:6:\"string\";}s:16:\"bytesSentToCloud\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:45:\"Amount
  of data uploaded by the job as of now.\";s:4:\"type\";s:7:\"integer\";}s:19:\"totalBytesToProcess\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:48:\"Total
  amount of data to be processed by the job.\";s:4:\"type\";s:7:\"integer\";}}}s:25:\"DestinationAccountDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Details
  for the destination account.\";s:8:\"required\";a:1:{i:0;s:9:\"accountId\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Destination
  storage account id.\";s:4:\"type\";s:6:\"string\";}}}s:31:\"DestinationToServiceLocationMap\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Map
  of destination location to service location\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"destinationLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Location
  of the destination.\";s:4:\"type\";s:6:\"string\";}s:15:\"serviceLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Location
  of the service.\";s:4:\"type\";s:6:\"string\";}}}s:18:\"DiskCopyLogDetails\";O:8:\"stdClass\":6:{s:11:\"description\";s:27:\"Copy
  Log Details for a disk\";s:8:\"required\";a:3:{i:0;s:16:\"diskSerialNumber\";i:1;s:12:\"errorLogLink\";i:2;s:14:\"verboseLogLink\";}s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CopyLogDetails\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"diskSerialNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Disk
  Serial Number.\";s:4:\"type\";s:6:\"string\";}s:12:\"errorLogLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Link
  for copy error logs.\";s:4:\"type\";s:6:\"string\";}s:14:\"verboseLogLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Link
  for copy verbose logs.\";s:4:\"type\";s:6:\"string\";}}s:24:\"x-ms-discriminator-value\";s:4:\"Disk\";}s:16:\"DiskCopyProgress\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Disk
  Copy Progress\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"serialNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  serial number of the disk\";s:4:\"type\";s:6:\"string\";}s:15:\"percentComplete\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:60:\"Indicates
  the percentage completed for the copy of the disk.\";s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  Status of the copy\";s:4:\"enum\";a:5:{i:0;s:10:\"NotStarted\";i:1;s:10:\"InProgress\";i:2;s:9:\"Completed\";i:3;s:19:\"CompletedWithErrors\";i:4;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"CopyStatus\";s:13:\"modelAsString\";b:0;}}}}s:14:\"DiskJobDetails\";O:8:\"stdClass\":6:{s:11:\"description\";s:17:\"Disk
  Job Details.\";s:8:\"required\";a:2:{i:0;s:14:\"contactDetails\";i:1;s:15:\"shippingAddress\";}s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/JobDetails\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"preferredDisks\";O:8:\"stdClass\":3:{s:11:\"description\";s:196:\"User
  preference on what size disks are needed for the job. The map is from the disk size
  in TB to the count. Eg. {2,5} means 5 disks of 2 TB size. Key is string but will
  be checked against an int.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:12:\"copyProgress\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Copy
  progress per disk.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DiskCopyProgress\";}}s:19:\"disksAndSizeDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"Contains
  the map of disk serial number to the disk size being used for the job. Is returned
  only after the disks are shipped to the customer.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:24:\"x-ms-discriminator-value\";s:4:\"Disk\";}s:14:\"DiskJobSecrets\";O:8:\"stdClass\":5:{s:11:\"description\";s:32:\"The
  secrets related to disk job.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/JobSecrets\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"diskSecrets\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Contains
  the list of secrets object for that device.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DiskSecret\";}}}s:24:\"x-ms-discriminator-value\";s:4:\"Disk\";}s:10:\"DiskSecret\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Contains
  all the secrets of a Disk.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"diskSerialNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Serial
  number of the assigned disk.\";s:4:\"type\";s:6:\"string\";}s:12:\"bitLockerKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Bit
  Locker key of the disk which can be used to unlock the disk to copy data.\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Error\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Top
  level error for the job.\";s:8:\"required\";a:1:{i:0;s:4:\"code\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Error
  code that can be used to programmatically identify the error.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Describes
  the error in detail and provides debugging information.\";s:4:\"type\";s:6:\"string\";}}}s:20:\"GetCopyLogsUriOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Output
  for the GetCopyLogsUri.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"logType\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Type/Level
  of the log.\";s:4:\"type\";s:6:\"string\";}s:14:\"copyLogDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"List
  of copy log details.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CopyLogDetails\";}}}}s:10:\"JobDetails\";O:8:\"stdClass\":5:{s:11:\"description\";s:12:\"Job
  details.\";s:8:\"required\";a:2:{i:0;s:14:\"contactDetails\";i:1;s:15:\"shippingAddress\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:27:\"expectedDataSizeInTeraBytes\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:87:\"The
  expected size of the data, which needs to be transfered in this job, in tera bytes.\";s:4:\"type\";s:7:\"integer\";}s:9:\"jobStages\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"List
  of stages that run in the job.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/JobStages\";}}s:14:\"contactDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ContactDetails\";s:11:\"description\";s:46:\"Contact
  details for notification and shipping.\";}s:15:\"shippingAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ShippingAddress\";s:11:\"description\";s:33:\"Shipping
  address of the customer.\";}s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Error
  details for failure. This is optional.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/JobErrorDetails\";}}s:14:\"jobDetailsType\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Indicates
  the type of job details.\";s:4:\"enum\";a:3:{i:0;s:3:\"Pod\";i:1;s:4:\"Disk\";i:2;s:7:\"Cabinet\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"ClassDiscriminator\";s:13:\"modelAsString\";b:0;}}}s:13:\"discriminator\";s:14:\"jobDetailsType\";}s:15:\"JobErrorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Job
  Error Details for providing the information and recommended action.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Message
  for the error.\";s:4:\"type\";s:6:\"string\";}s:9:\"errorCode\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:19:\"Code
  for the error.\";s:4:\"type\";s:7:\"integer\";}s:17:\"recommendedAction\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Recommended
  action for the error.\";s:4:\"type\";s:6:\"string\";}s:16:\"exceptionMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Contains
  the non localized exception message\";s:4:\"type\";s:6:\"string\";}}}s:13:\"JobProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Job
  Properties\";s:8:\"required\";a:1:{i:0;s:25:\"destinationAccountDetails\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"deviceType\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Type
  of the device to be used for the job.\";s:4:\"enum\";a:3:{i:0;s:3:\"Pod\";i:1;s:4:\"Disk\";i:2;s:7:\"Cabinet\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"DeviceType\";s:13:\"modelAsString\";b:0;}}s:13:\"isCancellable\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Describes
  whether the job is cancellable or not.\";s:4:\"type\";s:7:\"boolean\";}s:25:\"isShippingAddressEditable\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Describes
  whether the shipping address is editable or not.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Name
  of the stage which is in progress.\";s:4:\"enum\";a:13:{i:0;s:13:\"DeviceOrdered\";i:1;s:14:\"DevicePrepared\";i:2;s:10:\"Dispatched\";i:3;s:9:\"Delivered\";i:4;s:8:\"PickedUp\";i:5;s:9:\"AtAzureDC\";i:6;s:8:\"DataCopy\";i:7;s:9:\"Completed\";i:8;s:19:\"CompletedWithErrors\";i:9;s:9:\"Cancelled\";i:10;s:30:\"Failed_IssueReportedAtCustomer\";i:11;s:29:\"Failed_IssueDetectedAtAzureDC\";i:12;s:7:\"Aborted\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"StageName\";s:13:\"modelAsString\";b:0;}}s:9:\"startTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:57:\"Time
  at which the job was started in UTC ISO 8601 format.\";s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:28:\"Top
  level error for the job.\";}s:15:\"deliveryPackage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/PackageShippingDetails\";s:11:\"description\";s:34:\"Delivery
  package shipping details.\";}s:13:\"returnPackage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/PackageShippingDetails\";s:11:\"description\";s:32:\"Return
  package shipping details.\";}s:25:\"destinationAccountDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Destination
  account details.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/DestinationAccountDetails\";}}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JobDetails\";s:11:\"description\";s:77:\"Details
  of a job run. This field will only be sent for expand details filter.\";}s:18:\"cancellationReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Reason
  for cancellation.\";s:4:\"type\";s:6:\"string\";}}}s:11:\"JobResource\";O:8:\"stdClass\":5:{s:11:\"description\";s:13:\"Job
  Resource.\";s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/JobProperties\";s:11:\"description\";s:20:\"Properties
  of a job.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Name
  of the object.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Id
  of the object.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Type
  of the object.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:15:\"JobResourceList\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Job
  Resource Collection\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  of job resources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/JobResource\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Link
  for the next set of job resources.\";s:4:\"type\";s:6:\"string\";}}}s:26:\"JobResourceUpdateParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  JobResourceUpdateParameter.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/UpdateJobProperties\";s:11:\"description\";s:34:\"Properties
  of a job to be updated.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"The
  list of key value pairs that describe the resource. These tags can be used in viewing
  and grouping this resource (across resource groups).\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:10:\"JobSecrets\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  base class for the secrets\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"jobSecretsType\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Used
  to indicate what type of job secrets object.\";s:4:\"enum\";a:3:{i:0;s:3:\"Pod\";i:1;s:4:\"Disk\";i:2;s:7:\"Cabinet\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"ClassDiscriminator\";s:13:\"modelAsString\";b:0;}}}s:13:\"discriminator\";s:14:\"jobSecretsType\";}s:9:\"JobStages\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Job
  stages.\";s:8:\"required\";a:2:{i:0;s:9:\"stageName\";i:1;s:11:\"stageStatus\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"stageName\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Name
  of the job stage.\";s:4:\"enum\";a:13:{i:0;s:13:\"DeviceOrdered\";i:1;s:14:\"DevicePrepared\";i:2;s:10:\"Dispatched\";i:3;s:9:\"Delivered\";i:4;s:8:\"PickedUp\";i:5;s:9:\"AtAzureDC\";i:6;s:8:\"DataCopy\";i:7;s:9:\"Completed\";i:8;s:19:\"CompletedWithErrors\";i:9;s:9:\"Cancelled\";i:10;s:30:\"Failed_IssueReportedAtCustomer\";i:11;s:29:\"Failed_IssueDetectedAtAzureDC\";i:12;s:7:\"Aborted\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"StageName\";s:13:\"modelAsString\";b:0;}}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Display
  name of the job stage.\";s:4:\"type\";s:6:\"string\";}s:11:\"stageStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Status
  of the job stage.\";s:4:\"enum\";a:7:{i:0;s:4:\"None\";i:1;s:10:\"InProgress\";i:2;s:9:\"Succeeded\";i:3;s:6:\"Failed\";i:4;s:9:\"Cancelled\";i:5;s:10:\"Cancelling\";i:6;s:19:\"SucceededWithErrors\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"StageStatus\";s:13:\"modelAsString\";b:0;}}s:9:\"stageTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:46:\"Time
  for the job stage in UTC ISO 8601 format.\";s:4:\"type\";s:6:\"string\";}s:15:\"jobStageDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Job
  Stage Details\";s:4:\"type\";s:6:\"object\";}s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Error
  details for the stage.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/JobErrorDetails\";}}}}s:22:\"NotificationPreference\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Notification
  preference for a job stage.\";s:8:\"required\";a:2:{i:0;s:9:\"stageName\";i:1;s:16:\"sendNotification\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"stageName\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Name
  of the stage.\";s:4:\"enum\";a:6:{i:0;s:14:\"DevicePrepared\";i:1;s:10:\"Dispatched\";i:2;s:9:\"Delivered\";i:3;s:8:\"PickedUp\";i:4;s:9:\"AtAzureDC\";i:5;s:8:\"DataCopy\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"NotificationStageName\";s:13:\"modelAsString\";b:0;}}s:16:\"sendNotification\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Notification
  is required or not.\";s:4:\"type\";s:7:\"boolean\";}}}s:9:\"Operation\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Operation
  entity.\";s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:7:\"display\";i:2;s:10:\"properties\";i:3;s:6:\"origin\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Name
  of the operation. Format: {resourceProviderNamespace}/{resourceType}/{read|write|delete|action}\";s:4:\"type\";s:6:\"string\";}s:7:\"display\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OperationDisplay\";s:11:\"description\";s:25:\"Operation
  display values.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/OperationProperties\";s:11:\"description\";s:21:\"Operation
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Origin
  of the operation. Can be : user|system|user,system\";s:4:\"type\";s:6:\"string\";}}}s:16:\"OperationDisplay\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Operation
  display\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Provider
  name.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Resource
  name.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Localized
  name of the operation for display purpose.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Localized
  description of the operation for display purpose.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"OperationList\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Operation
  Collection.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"List
  of operations.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Link
  for the next set of operations.\";s:4:\"type\";s:6:\"string\";}}}s:19:\"OperationProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Operation
  properties.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:22:\"PackageShippingDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Shipping
  details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"carrierName\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the carrier.\";s:4:\"type\";s:6:\"string\";}s:10:\"trackingId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Tracking
  Id of shipment.\";s:4:\"type\";s:6:\"string\";}s:11:\"trackingUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Url
  where shipment can be tracked.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"PodJobDetails\";O:8:\"stdClass\":6:{s:11:\"description\";s:15:\"Pod
  Job Details\";s:8:\"required\";a:2:{i:0;s:14:\"contactDetails\";i:1;s:15:\"shippingAddress\";}s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/JobDetails\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"copyProgress\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Copy
  progress per account.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CopyProgress\";}}}s:24:\"x-ms-discriminator-value\";s:3:\"Pod\";}s:13:\"PodJobSecrets\";O:8:\"stdClass\":5:{s:11:\"description\";s:33:\"The
  secrets related to a pod job.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/JobSecrets\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"podSecrets\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Contains
  the list of secret objects for a job.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/PodSecret\";}}}s:24:\"x-ms-discriminator-value\";s:3:\"Pod\";}s:9:\"PodSecret\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  secrets related to a Pod.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"deviceSerialNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Serial
  number of the assigned device.\";s:4:\"type\";s:6:\"string\";}s:14:\"devicePassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Password
  for out of the box experience on device.\";s:4:\"type\";s:6:\"string\";}s:24:\"accountCredentialDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Per
  account level access credentials.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AccountCredentialDetails\";}}}}s:18:\"ReportIssueDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Details
  of the reported issue.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"issueType\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Issue
  Type.\";s:4:\"enum\";a:4:{i:0;s:14:\"DeviceMismatch\";i:1;s:24:\"ValidationStringMismatch\";i:2;s:20:\"CredentialNotWorking\";i:3;s:13:\"DeviceFailure\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"IssueType\";s:13:\"modelAsString\";b:0;}}s:15:\"deviceIssueType\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Device
  Issue Type. Only used for Device failure issue.\";s:4:\"enum\";a:5:{i:0;s:15:\"DeviceTampering\";i:1;s:18:\"DeviceNotBootingUp\";i:2;s:29:\"DeviceHealthCheckShowFailures\";i:3;s:17:\"NICsAreNotWorking\";i:4;s:4:\"Misc\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"DeviceIssueType\";s:13:\"modelAsString\";b:0;}}}}s:8:\"Resource\";O:8:\"stdClass\":5:{s:11:\"description\";s:22:\"Model
  of the Resource.\";s:8:\"required\";a:2:{i:0;s:8:\"location\";i:1;s:3:\"sku\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:278:\"The
  location of the resource. This will be one of the supported and registered Azure
  Regions (e.g. West US, East US, Southeast Asia, etc.). The region of a resource
  cannot be changed once it is created, but if an identical region is specified on
  update the request will succeed.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"The
  list of key value pairs that describe the resource. These tags can be used in viewing
  and grouping this resource (across resource groups).\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:13:\"The
  sku type.\";}}s:19:\"x-ms-azure-resource\";b:1;}s:22:\"ShareCredentialDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Credential
  details of the shares in account.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"shareName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the share.\";s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"User
  name for the share.\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Password
  for the share.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"ShipmentPickUpRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Shipment
  pick up request details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"startTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:97:\"Minimum
  date after which the pick up should commence, this must be in local time of pick
  up area.\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:98:\"Maximum
  date before which the pick up should commence, this must be in local time of pick
  up area.\";s:4:\"type\";s:6:\"string\";}s:16:\"shipmentLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Shipment
  Location in the pickup place. Eg.front desk\";s:4:\"type\";s:6:\"string\";}}}s:22:\"ShipmentPickUpResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Shipment
  pick up response.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"confirmationNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Confirmation
  number for the pick up request.\";s:4:\"type\";s:6:\"string\";}s:11:\"readyByTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:90:\"Time
  by which shipment should be ready for pick up, this is in local time of pick up
  area.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"ShippingAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Shipping
  address where customer wishes to receive the device.\";s:8:\"required\";a:3:{i:0;s:14:\"streetAddress1\";i:1;s:7:\"country\";i:2;s:10:\"postalCode\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"streetAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Street
  Address line 1.\";s:4:\"type\";s:6:\"string\";}s:14:\"streetAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Street
  Address line 2.\";s:4:\"type\";s:6:\"string\";}s:14:\"streetAddress3\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Street
  Address line 3.\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of the City.\";s:4:\"type\";s:6:\"string\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Name
  of the State or Province.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the Country.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Postal
  code.\";s:4:\"type\";s:6:\"string\";}s:15:\"zipExtendedCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Extended
  Zip Code.\";s:4:\"type\";s:6:\"string\";}s:11:\"companyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the company.\";s:4:\"type\";s:6:\"string\";}s:11:\"addressType\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Type
  of address.\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:11:\"Residential\";i:2;s:10:\"Commercial\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"AddressType\";s:13:\"modelAsString\";b:0;}}}}s:20:\"ShippingLabelDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Details
  for the shipping label.\";s:8:\"required\";a:1:{i:0;s:19:\"shippingLabelSasUri\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"shippingLabelSasUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Sas
  uri for accessing the shipping label.\";s:4:\"type\";s:6:\"string\";}}}s:3:\"Sku\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"The
  Sku.\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  sku name.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  display name of the sku.\";s:4:\"type\";s:6:\"string\";}s:6:\"family\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  sku family.\";s:4:\"type\";s:6:\"string\";}}}s:11:\"SkuCapacity\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Capacity
  of the sku.\";s:8:\"required\";a:2:{i:0;s:6:\"usable\";i:1;s:7:\"maximum\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"usable\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Usable
  capacity in TB.\";s:4:\"type\";s:6:\"string\";}s:7:\"maximum\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Maximum
  capacity in TB.\";s:4:\"type\";s:6:\"string\";}}}s:7:\"SkuCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Describes
  metadata for retrieving price info.\";s:8:\"required\";a:2:{i:0;s:7:\"meterId\";i:1;s:9:\"meterType\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"meterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Meter
  id of the Sku.\";s:4:\"type\";s:6:\"string\";}s:9:\"meterType\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  type of the meter.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"SkuInformation\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Information
  of the sku.\";s:8:\"required\";a:3:{i:0;s:3:\"sku\";i:1;s:7:\"enabled\";i:2;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:8:\"The
  Sku.\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The sku
  is enabled or not.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/SkuProperties\";s:11:\"description\";s:22:\"Properties
  of the sku.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:13:\"SkuProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Properties
  of the sku.\";s:8:\"required\";a:3:{i:0;s:8:\"capacity\";i:1;s:5:\"costs\";i:2;s:11:\"apiVersions\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:31:\"destinationToServiceLocationMap\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  map of destination location to service location.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/DestinationToServiceLocationMap\";}}s:8:\"capacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SkuCapacity\";s:11:\"description\";s:20:\"Capacity
  of the Sku.\";}s:5:\"costs\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Cost
  of the Sku.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/SkuCost\";}}s:11:\"apiVersions\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Api
  versions that support this Sku.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"disabledReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Reason
  why the Sku is disabled.\";s:4:\"type\";s:6:\"string\";}}}s:18:\"UnencryptedSecrets\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Unencrypted
  secrets for accessing device.\";s:8:\"required\";a:1:{i:0;s:7:\"jobName\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"jobName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Name
  of the job.\";s:4:\"type\";s:6:\"string\";}s:10:\"deviceType\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  Device Type used in the job.\";s:4:\"enum\";a:3:{i:0;s:3:\"Pod\";i:1;s:4:\"Disk\";i:2;s:7:\"Cabinet\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"DeviceType\";s:13:\"modelAsString\";b:0;}}s:10:\"jobSecrets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JobSecrets\";s:11:\"description\";s:28:\"Secrets
  related to this job.\";}}}s:16:\"UpdateJobDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Job
  details for update.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"contactDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ContactDetails\";s:11:\"description\";s:46:\"Contact
  details for notification and shipping.\";}s:15:\"shippingAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ShippingAddress\";s:11:\"description\";s:33:\"Shipping
  address of the customer.\";}}}s:19:\"UpdateJobProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Job
  Properties for update\";s:8:\"required\";a:1:{i:0;s:7:\"details\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/UpdateJobDetails\";s:11:\"description\";s:31:\"Details
  of a job to be updated.\";}}}s:15:\"ValidateAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  requirements to validate customer address where the device needs to be shipped.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"shippingAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ShippingAddress\";s:11:\"description\";s:33:\"Shipping
  address of the customer.\";}s:10:\"deviceType\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Device
  type to be used for the job.\";s:4:\"enum\";a:3:{i:0;s:3:\"Pod\";i:1;s:4:\"Disk\";i:2;s:7:\"Cabinet\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"DeviceType\";s:13:\"modelAsString\";b:0;}}}}}"
...
