---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2017-09-01\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/CheckDnsNameAvailability:
    get:
      operationId: CheckDnsNameAvailability
      description: Checks whether a domain name in the cloudapp.azure.com zone is
        available for use.
      parameters:
      - name: location
        in: path
        required: true
        type: string
        description: The location of the domain name.
      - name: domainNameLabel
        in: query
        required: true
        type: string
        description: 'The domain name to be verified. It must conform to the following
          regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$.'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. Returns whether the DNS name is available.
          schema:
            $ref: '#/definitions/DnsNameAvailabilityResult'
      x-ms-examples:
        Check Dns Name Availability:
          $ref: ./examples/CheckDnsNameAvailability.json
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:25:\"DnsNameAvailabilityResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"available\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:33:\"Domain
  availability (True/False).\";}}s:11:\"description\";s:59:\"Response for the CheckDnsNameAvailability
  API service call.\";}}"
...
