---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2018-10-15\";s:5:\"title\";s:17:\"ManagedLabsClient\";s:11:\"description\";s:24:\"The
  Managed Labs Client.\";}"
host: management.azure.com
paths:
  /providers/Microsoft.LabServices/operations:
    get:
      tags:
      - ProviderOperations
      description: Result of the request to list REST API operations
      operationId: ProviderOperations_List
      parameters:
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ProviderOperationResult'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.LabServices/users/{userName}/getEnvironment:
    post:
      tags:
      - GlobalUsers
      description: Gets the virtual machine details
      operationId: GlobalUsers_GetEnvironment
      parameters:
      - name: userName
        in: path
        description: The name of the user.
        required: true
        type: string
      - name: environmentOperationsPayload
        in: body
        description: Represents payload for any Environment operations like get, start,
          stop, connect
        required: true
        schema:
          $ref: '#/definitions/EnvironmentOperationsPayload'
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($expand=environment)'''
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GetEnvironmentResponse'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  /providers/Microsoft.LabServices/users/{userName}/getOperationBatchStatus:
    post:
      tags:
      - GlobalUsers
      description: Get batch operation status
      operationId: GlobalUsers_GetOperationBatchStatus
      parameters:
      - name: userName
        in: path
        description: The name of the user.
        required: true
        type: string
      - name: operationBatchStatusPayload
        in: body
        description: Payload to get the status of an operation
        required: true
        schema:
          $ref: '#/definitions/OperationBatchStatusPayload'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationBatchStatusResponse'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  /providers/Microsoft.LabServices/users/{userName}/getOperationStatus:
    post:
      tags:
      - GlobalUsers
      description: Gets the status of long running operation
      operationId: GlobalUsers_GetOperationStatus
      parameters:
      - name: userName
        in: path
        description: The name of the user.
        required: true
        type: string
      - name: operationStatusPayload
        in: body
        description: Payload to get the status of an operation
        required: true
        schema:
          $ref: '#/definitions/OperationStatusPayload'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationStatusResponse'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  /providers/Microsoft.LabServices/users/{userName}/getPersonalPreferences:
    post:
      tags:
      - GlobalUsers
      description: Get personal preferences for a user
      operationId: GlobalUsers_GetPersonalPreferences
      parameters:
      - name: userName
        in: path
        description: The name of the user.
        required: true
        type: string
      - name: personalPerferencesOperationsPayload
        in: body
        description: Represents payload for any Environment operations like get, start,
          stop, connect
        required: true
        schema:
          $ref: '#/definitions/PersonalPerferencesOperationsPayload'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GetPersonalPreferencesResponse'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  /providers/Microsoft.LabServices/users/{userName}/listEnvironments:
    post:
      tags:
      - GlobalUsers
      description: List Environments for the user
      operationId: GlobalUsers_ListEnvironments
      parameters:
      - name: userName
        in: path
        description: The name of the user.
        required: true
        type: string
      - name: listEnvironmentsPayload
        in: body
        description: Represents the payload to list environments owned by a user
        required: true
        schema:
          $ref: '#/definitions/ListEnvironmentsPayload'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListEnvironmentsResponse'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  /providers/Microsoft.LabServices/users/{userName}/listLabs:
    post:
      tags:
      - GlobalUsers
      description: List labs for the user.
      operationId: GlobalUsers_ListLabs
      parameters:
      - name: userName
        in: path
        description: The name of the user.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListLabsResponse'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  /providers/Microsoft.LabServices/users/{userName}/register:
    post:
      tags:
      - GlobalUsers
      description: Register a user to a managed lab
      operationId: GlobalUsers_Register
      parameters:
      - name: userName
        in: path
        description: The name of the user.
        required: true
        type: string
      - name: registerPayload
        in: body
        description: Represents payload for Register action.
        required: true
        schema:
          $ref: '#/definitions/RegisterPayload'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  /providers/Microsoft.LabServices/users/{userName}/resetPassword:
    post:
      tags:
      - GlobalUsers
      description: Resets the user password on an environment This operation can take
        a while to complete
      operationId: GlobalUsers_ResetPassword
      parameters:
      - name: userName
        in: path
        description: The name of the user.
        required: true
        type: string
      - name: resetPasswordPayload
        in: body
        description: Represents the payload for resetting passwords.
        required: true
        schema:
          $ref: '#/definitions/ResetPasswordPayload'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-long-running-operation: true
  /providers/Microsoft.LabServices/users/{userName}/startEnvironment:
    post:
      tags:
      - GlobalUsers
      description: Starts an environment by starting all resources inside the environment.
        This operation can take a while to complete
      operationId: GlobalUsers_StartEnvironment
      parameters:
      - name: userName
        in: path
        description: The name of the user.
        required: true
        type: string
      - name: environmentOperationsPayload
        in: body
        description: Represents payload for any Environment operations like get, start,
          stop, connect
        required: true
        schema:
          $ref: '#/definitions/EnvironmentOperationsPayload'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-long-running-operation: true
  /providers/Microsoft.LabServices/users/{userName}/stopEnvironment:
    post:
      tags:
      - GlobalUsers
      description: Stops an environment by stopping all resources inside the environment
        This operation can take a while to complete
      operationId: GlobalUsers_StopEnvironment
      parameters:
      - name: userName
        in: path
        description: The name of the user.
        required: true
        type: string
      - name: environmentOperationsPayload
        in: body
        description: Represents payload for any Environment operations like get, start,
          stop, connect
        required: true
        schema:
          $ref: '#/definitions/EnvironmentOperationsPayload'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.LabServices/labaccounts:
    get:
      tags:
      - LabAccounts
      description: List lab accounts in a subscription.
      operationId: LabAccounts_ListBySubscription
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($expand=sizeConfiguration)'''
        required: false
        type: string
      - name: $filter
        in: query
        description: The filter to apply to the operation.
        required: false
        type: string
      - name: $top
        in: query
        description: The maximum number of resources to return from the operation.
        required: false
        type: integer
        format: int32
      - name: $orderby
        in: query
        description: The ordering expression for the results, using OData notation.
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[LabAccount]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/LabAccount'
  /subscriptions/{subscriptionId}/providers/Microsoft.LabServices/locations/{locationName}/operations/{operationName}:
    get:
      tags:
      - Operations
      description: Get operation
      operationId: Operations_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/locationName'
      - name: operationName
        in: path
        description: The name of the operation.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationResult'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts:
    get:
      tags:
      - LabAccounts
      description: List lab accounts in a resource group.
      operationId: LabAccounts_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($expand=sizeConfiguration)'''
        required: false
        type: string
      - name: $filter
        in: query
        description: The filter to apply to the operation.
        required: false
        type: string
      - name: $top
        in: query
        description: The maximum number of resources to return from the operation.
        required: false
        type: integer
        format: int32
      - name: $orderby
        in: query
        description: The ordering expression for the results, using OData notation.
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[LabAccount]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/LabAccount'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}:
    get:
      tags:
      - LabAccounts
      description: Get lab account
      operationId: LabAccounts_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($expand=sizeConfiguration)'''
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LabAccount'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - LabAccounts
      description: Create or replace an existing Lab Account.
      operationId: LabAccounts_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labAccount
        in: body
        description: Represents a lab account.
        required: true
        schema:
          $ref: '#/definitions/LabAccount'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LabAccount'
        201:
          description: Created
          schema:
            $ref: '#/definitions/LabAccount'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - LabAccounts
      description: Delete lab account. This operation can take a while to complete
      operationId: LabAccounts_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        202:
          description: Accepted
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-long-running-operation: true
    patch:
      tags:
      - LabAccounts
      description: Modify properties of lab accounts.
      operationId: LabAccounts_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labAccount
        in: body
        description: Represents a lab account.
        required: true
        schema:
          $ref: '#/definitions/LabAccountFragment'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LabAccount'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/createLab
  : post:
      tags:
      - LabAccounts
      description: Create a lab in a lab account.
      operationId: LabAccounts_CreateLab
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: createLabProperties
        in: body
        description: Properties for creating a managed lab and a default environment
          setting
        required: true
        schema:
          $ref: '#/definitions/CreateLabProperties'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/galleryimages
  : get:
      tags:
      - GalleryImages
      description: List gallery images in a given lab account.
      operationId: GalleryImages_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=author)'''
        required: false
        type: string
      - name: $filter
        in: query
        description: The filter to apply to the operation.
        required: false
        type: string
      - name: $top
        in: query
        description: The maximum number of resources to return from the operation.
        required: false
        type: integer
        format: int32
      - name: $orderby
        in: query
        description: The ordering expression for the results, using OData notation.
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[GalleryImage]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/GalleryImage'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/galleryimages/{galleryImageName}
  : get:
      tags:
      - GalleryImages
      description: Get gallery image
      operationId: GalleryImages_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: galleryImageName
        in: path
        description: The name of the gallery Image.
        required: true
        type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=author)'''
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GalleryImage'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - GalleryImages
      description: Create or replace an existing Gallery Image.
      operationId: GalleryImages_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: galleryImageName
        in: path
        description: The name of the gallery Image.
        required: true
        type: string
      - name: galleryImage
        in: body
        description: Represents an image from the Azure Marketplace
        required: true
        schema:
          $ref: '#/definitions/GalleryImage'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GalleryImage'
        201:
          description: Created
          schema:
            $ref: '#/definitions/GalleryImage'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - GalleryImages
      description: Delete gallery image.
      operationId: GalleryImages_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: galleryImageName
        in: path
        description: The name of the gallery Image.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
    patch:
      tags:
      - GalleryImages
      description: Modify properties of gallery images.
      operationId: GalleryImages_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: galleryImageName
        in: path
        description: The name of the gallery Image.
        required: true
        type: string
      - name: galleryImage
        in: body
        description: Represents an image from the Azure Marketplace
        required: true
        schema:
          $ref: '#/definitions/GalleryImageFragment'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GalleryImage'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/getRegionalAvailability
  : post:
      tags:
      - LabAccounts
      description: Get regional availability information for each size category configured
        under a lab account
      operationId: LabAccounts_GetRegionalAvailability
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GetRegionalAvailabilityResponse'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs
  : get:
      tags:
      - Labs
      description: List labs in a given lab account.
      operationId: Labs_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=maxUsersInLab)'''
        required: false
        type: string
      - name: $filter
        in: query
        description: The filter to apply to the operation.
        required: false
        type: string
      - name: $top
        in: query
        description: The maximum number of resources to return from the operation.
        required: false
        type: integer
        format: int32
      - name: $orderby
        in: query
        description: The ordering expression for the results, using OData notation.
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[Lab]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/Lab'
      x-ms-examples:
        Labs_List:
          $ref: ./examples/Labs_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}
  : get:
      tags:
      - Labs
      description: Get lab
      operationId: Labs_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=maxUsersInLab)'''
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Lab'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Labs
      description: Create or replace an existing Lab.
      operationId: Labs_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: lab
        in: body
        description: Represents a lab.
        required: true
        schema:
          $ref: '#/definitions/Lab'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Lab'
        201:
          description: Created
          schema:
            $ref: '#/definitions/Lab'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Labs
      description: Delete lab. This operation can take a while to complete
      operationId: Labs_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        202:
          description: Accepted
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-long-running-operation: true
    patch:
      tags:
      - Labs
      description: Modify properties of labs.
      operationId: Labs_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: lab
        in: body
        description: Represents a lab.
        required: true
        schema:
          $ref: '#/definitions/LabFragment'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Lab'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/addUsers
  : post:
      tags:
      - Labs
      description: Add users to a lab
      operationId: Labs_AddUsers
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: addUsersPayload
        in: body
        description: Payload for Add Users operation on a Lab.
        required: true
        schema:
          $ref: '#/definitions/AddUsersPayload'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings
  : get:
      tags:
      - EnvironmentSettings
      description: List environment setting in a given lab.
      operationId: EnvironmentSettings_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=publishingState)'''
        required: false
        type: string
      - name: $filter
        in: query
        description: The filter to apply to the operation.
        required: false
        type: string
      - name: $top
        in: query
        description: The maximum number of resources to return from the operation.
        required: false
        type: integer
        format: int32
      - name: $orderby
        in: query
        description: The ordering expression for the results, using OData notation.
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[EnvironmentSetting]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/EnvironmentSetting'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}
  : get:
      tags:
      - EnvironmentSettings
      description: Get environment setting
      operationId: EnvironmentSettings_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=publishingState)'''
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EnvironmentSetting'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - EnvironmentSettings
      description: Create or replace an existing Environment Setting. This operation
        can take a while to complete
      operationId: EnvironmentSettings_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - name: environmentSetting
        in: body
        description: Represents settings of an environment, from which environment
          instances would be created
        required: true
        schema:
          $ref: '#/definitions/EnvironmentSetting'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EnvironmentSetting'
        201:
          description: Created
          schema:
            $ref: '#/definitions/EnvironmentSetting'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-long-running-operation: true
    delete:
      tags:
      - EnvironmentSettings
      description: Delete environment setting. This operation can take a while to
        complete
      operationId: EnvironmentSettings_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        202:
          description: Accepted
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-long-running-operation: true
    patch:
      tags:
      - EnvironmentSettings
      description: Modify properties of environment setting.
      operationId: EnvironmentSettings_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - name: environmentSetting
        in: body
        description: Represents settings of an environment, from which environment
          instances would be created
        required: true
        schema:
          $ref: '#/definitions/EnvironmentSettingFragment'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EnvironmentSetting'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/claimAny
  : post:
      tags:
      - EnvironmentSettings
      description: Claims a random environment for a user in an environment settings
      operationId: EnvironmentSettings_ClaimAny
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments
  : get:
      tags:
      - Environments
      description: List environments in a given environment setting.
      operationId: Environments_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($expand=networkInterface)'''
        required: false
        type: string
      - name: $filter
        in: query
        description: The filter to apply to the operation.
        required: false
        type: string
      - name: $top
        in: query
        description: The maximum number of resources to return from the operation.
        required: false
        type: integer
        format: int32
      - name: $orderby
        in: query
        description: The ordering expression for the results, using OData notation.
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[Environment]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/Environment'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}
  : get:
      tags:
      - Environments
      description: Get environment
      operationId: Environments_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The name of the environment.
        required: true
        type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($expand=networkInterface)'''
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Environment'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Environments
      description: Create or replace an existing Environment.
      operationId: Environments_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The name of the environment.
        required: true
        type: string
      - name: environment
        in: body
        description: Represents an environment instance
        required: true
        schema:
          $ref: '#/definitions/Environment'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Environment'
        201:
          description: Created
          schema:
            $ref: '#/definitions/Environment'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Environments
      description: Delete environment. This operation can take a while to complete
      operationId: Environments_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The name of the environment.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        202:
          description: Accepted
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-long-running-operation: true
    patch:
      tags:
      - Environments
      description: Modify properties of environments.
      operationId: Environments_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The name of the environment.
        required: true
        type: string
      - name: environment
        in: body
        description: Represents an environment instance
        required: true
        schema:
          $ref: '#/definitions/EnvironmentFragment'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Environment'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/claim
  : post:
      tags:
      - Environments
      description: Claims the environment and assigns it to the user
      operationId: Environments_Claim
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The name of the environment.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/resetPassword
  : post:
      tags:
      - Environments
      description: Resets the user password on an environment This operation can take
        a while to complete
      operationId: Environments_ResetPassword
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The name of the environment.
        required: true
        type: string
      - name: resetPasswordPayload
        in: body
        description: Represents the payload for resetting passwords.
        required: true
        schema:
          $ref: '#/definitions/ResetPasswordPayload'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/start
  : post:
      tags:
      - Environments
      description: Starts an environment by starting all resources inside the environment.
        This operation can take a while to complete
      operationId: Environments_Start
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The name of the environment.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/environments/{environmentName}/stop
  : post:
      tags:
      - Environments
      description: Stops an environment by stopping all resources inside the environment
        This operation can take a while to complete
      operationId: Environments_Stop
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - name: environmentName
        in: path
        description: The name of the environment.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/publish
  : post:
      tags:
      - EnvironmentSettings
      description: Provisions/deprovisions required resources for an environment setting
        based on current state of the lab/environment setting.
      operationId: EnvironmentSettings_Publish
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - name: publishPayload
        in: body
        description: Payload for Publish operation on EnvironmentSetting.
        required: true
        schema:
          $ref: '#/definitions/PublishPayload'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/start
  : post:
      tags:
      - EnvironmentSettings
      description: Starts a template by starting all resources inside the template.
        This operation can take a while to complete
      operationId: EnvironmentSettings_Start
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/environmentsettings/{environmentSettingName}/stop
  : post:
      tags:
      - EnvironmentSettings
      description: Starts a template by starting all resources inside the template.
        This operation can take a while to complete
      operationId: EnvironmentSettings_Stop
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: environmentSettingName
        in: path
        description: The name of the environment Setting.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/register
  : post:
      tags:
      - Labs
      description: Register to managed lab.
      operationId: Labs_Register
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/users
  : get:
      tags:
      - Users
      description: List users in a given lab.
      operationId: Users_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=email)'''
        required: false
        type: string
      - name: $filter
        in: query
        description: The filter to apply to the operation.
        required: false
        type: string
      - name: $top
        in: query
        description: The maximum number of resources to return from the operation.
        required: false
        type: integer
        format: int32
      - name: $orderby
        in: query
        description: The ordering expression for the results, using OData notation.
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[User]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/User'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labaccounts/{labAccountName}/labs/{labName}/users/{userName}
  : get:
      tags:
      - Users
      description: Get user
      operationId: Users_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: userName
        in: path
        description: The name of the user.
        required: true
        type: string
      - name: $expand
        in: query
        description: 'Specify the $expand query. Example: ''properties($select=email)'''
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
    put:
      tags:
      - Users
      description: Create or replace an existing User.
      operationId: Users_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: userName
        in: path
        description: The name of the user.
        required: true
        type: string
      - name: user
        in: body
        description: The User registered to a lab
        required: true
        schema:
          $ref: '#/definitions/User'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'
        201:
          description: Created
          schema:
            $ref: '#/definitions/User'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
    delete:
      tags:
      - Users
      description: Delete user. This operation can take a while to complete
      operationId: Users_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: userName
        in: path
        description: The name of the user.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        202:
          description: Accepted
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      x-ms-long-running-operation: true
    patch:
      tags:
      - Users
      description: Modify properties of users.
      operationId: Users_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - name: labAccountName
        in: path
        description: The name of the lab Account.
        required: true
        type: string
      - name: labName
        in: path
        description: The name of the lab.
        required: true
        type: string
      - name: userName
        in: path
        description: The name of the user.
        required: true
        type: string
      - name: user
        in: body
        description: The User registered to a lab
        required: true
        schema:
          $ref: '#/definitions/UserFragment'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":85:{s:15:\"AddUsersPayload\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Payload
  for Add Users operation on a Lab.\";s:8:\"required\";a:1:{i:0;s:14:\"emailAddresses\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"emailAddresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"List
  of user emails addresses to add to the lab.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:10:\"CloudError\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Error
  from a REST request.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CloudErrorBody\";}}s:13:\"x-ms-external\";b:1;}s:14:\"CloudErrorBody\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Body
  of an error from a REST request.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Inner
  errors.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CloudErrorBody\";}}}s:13:\"x-ms-external\";b:1;}s:19:\"CreateLabProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"Properties
  for creating a managed lab and a default environment setting\";s:8:\"required\";a:2:{i:0;s:21:\"labCreationParameters\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:36:\"environmentSettingCreationParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/EnvironmentSettingCreationParameters\";s:11:\"description\";s:51:\"Settings
  related to creating an environment setting\";}s:21:\"labCreationParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LabCreationParameters\";s:11:\"description\";s:34:\"Settings
  related to creating a lab\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  name of the resource\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  location of the resource\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  tags of the resource.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:11:\"Environment\";O:8:\"stdClass\":5:{s:11:\"description\";s:34:\"Represents
  an environment instance\";s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/EnvironmentProperties\";s:11:\"description\";s:42:\"The
  properties of the Environment resource\";s:19:\"x-ms-client-flatten\";b:1;}}}s:18:\"EnvironmentDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"This
  represents the details about a User's environment and its state.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Name
  of the Environment\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Description
  of the Environment\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Resource
  Id of the environment\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"The
  provisioning state of the environment. This also includes LabIsFull and NotYetProvisioned
  status.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:21:\"virtualMachineDetails\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/VirtualMachineDetails\";s:11:\"description\";s:72:\"Details
  of backing DTL virtual machine with compute and network details.\";s:8:\"readOnly\";b:1;}s:21:\"latestOperationResult\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/LatestOperationResult\";s:11:\"description\";s:54:\"The
  details of the latest operation. ex: status, error\";s:8:\"readOnly\";b:1;}s:16:\"environmentState\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Publishing
  state of the environment setting Possible values are Creating, Created, Failed\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"totalUsage\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:52:\"How
  long the environment has been used by a lab user\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"passwordLastReset\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:52:\"When
  the password was last reset on the environment.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:19:\"EnvironmentFragment\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Represents
  an environment instance\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:43:\"#/definitions/EnvironmentPropertiesFragment\";s:11:\"description\";s:42:\"The
  properties of the Environment resource\";s:19:\"x-ms-client-flatten\";b:1;}}}s:28:\"EnvironmentOperationsPayload\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Represents
  payload for any Environment operations like get, start, stop, connect\";s:8:\"required\";a:1:{i:0;s:13:\"environmentId\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"environmentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  resourceId of the environment\";s:4:\"type\";s:6:\"string\";}}}s:21:\"EnvironmentProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Properties
  of an environment\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"resourceSets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceSet\";s:11:\"description\";s:53:\"The
  set of a VM and the setting id it was created for\";}s:21:\"claimedByUserObjectId\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  AAD object Id of the user who has claimed the environment\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:24:\"claimedByUserPrincipalId\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  user principal Id of the user who has claimed the environment\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"claimedByUserName\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  name or email address of the user who has claimed the environment\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"isClaimed\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Is
  the environment claimed or not\";s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:19:\"lastKnownPowerState\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Last
  known power state of the environment\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:16:\"networkInterface\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/NetworkInterface\";s:11:\"description\";s:34:\"Network
  details of the environment\";s:8:\"readOnly\";b:1;}s:10:\"totalUsage\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:52:\"How
  long the environment has been used by a lab user\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"passwordLastReset\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:52:\"When
  the password was last reset on the environment.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  provisioning status of the resource.\";s:4:\"type\";s:6:\"string\";}s:16:\"uniqueIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  unique immutable identifier of a resource (Guid).\";s:4:\"type\";s:6:\"string\";}s:21:\"latestOperationResult\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/LatestOperationResult\";s:11:\"description\";s:54:\"The
  details of the latest operation. ex: status, error\";s:8:\"readOnly\";b:1;}}}s:29:\"EnvironmentPropertiesFragment\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Properties
  of an environment\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"resourceSets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ResourceSetFragment\";s:11:\"description\";s:53:\"The
  set of a VM and the setting id it was created for\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  provisioning status of the resource.\";s:4:\"type\";s:6:\"string\";}s:16:\"uniqueIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  unique immutable identifier of a resource (Guid).\";s:4:\"type\";s:6:\"string\";}}}s:18:\"EnvironmentSetting\";O:8:\"stdClass\":5:{s:11:\"description\";s:88:\"Represents
  settings of an environment, from which environment instances would be created\";s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:42:\"#/definitions/EnvironmentSettingProperties\";s:11:\"description\";s:50:\"The
  properties of the Environment Setting resource\";s:19:\"x-ms-client-flatten\";b:1;}}}s:36:\"EnvironmentSettingCreationParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Settings
  related to creating an environment setting\";s:8:\"required\";a:1:{i:0;s:33:\"resourceSettingCreationParameters\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:33:\"resourceSettingCreationParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/ResourceSettingCreationParameters\";s:11:\"description\";s:30:\"The
  resource specific settings\";}}}s:26:\"EnvironmentSettingFragment\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"Represents
  settings of an environment, from which environment instances would be created\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:50:\"#/definitions/EnvironmentSettingPropertiesFragment\";s:11:\"description\";s:50:\"The
  properties of the Environment Setting resource\";s:19:\"x-ms-client-flatten\";b:1;}}}s:28:\"EnvironmentSettingProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Properties
  of an environment setting\";s:8:\"required\";a:1:{i:0;s:16:\"resourceSettings\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"publishingState\";O:8:\"stdClass\":5:{s:11:\"description\";s:51:\"Describes
  the readiness of this environment setting\";s:4:\"enum\";a:5:{i:0;s:5:\"Draft\";i:1;s:10:\"Publishing\";i:2;s:9:\"Published\";i:3;s:13:\"PublishFailed\";i:4;s:7:\"Scaling\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:15:\"PublishingState\";s:13:\"modelAsString\";b:1;s:6:\"values\";a:5:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:5:\"Draft\";s:11:\"description\";s:40:\"Initial
  state of an environment setting.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:10:\"Publishing\";s:11:\"description\";s:33:\"Currently
  provisioning resources.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:9:\"Published\";s:11:\"description\";s:40:\"All
  resources are currently provisioned.\";}i:3;O:8:\"stdClass\":2:{s:5:\"value\";s:13:\"PublishFailed\";s:11:\"description\";s:48:\"Failed
  to provision all the necessary resources.\";}i:4;O:8:\"stdClass\":2:{s:5:\"value\";s:7:\"Scaling\";s:11:\"description\";s:61:\"Currently
  provisioning resources without recreating VM image.\";}}}}s:18:\"configurationState\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Describes
  the user's progress in configuring their environment setting\";s:4:\"enum\";a:2:{i:0;s:13:\"NotApplicable\";i:1;s:9:\"Completed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:18:\"ConfigurationState\";s:13:\"modelAsString\";b:1;s:6:\"values\";a:2:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:13:\"NotApplicable\";s:11:\"description\";s:105:\"User
  either hasn't started configuring their template\r\nor they haven't started the
  configuration process.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:9:\"Completed\";s:11:\"description\";s:40:\"User
  is finished modifying the template.\";}}}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Describes
  the environment and its resource settings\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Brief
  title describing the environment and its resource settings\";s:4:\"type\";s:6:\"string\";}s:16:\"resourceSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResourceSettings\";s:11:\"description\";s:30:\"The
  resource specific settings\";}s:11:\"lastChanged\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:43:\"Time
  when the template VM was last changed.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"lastPublished\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:55:\"Time
  when the template VM was last sent for publishing.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  provisioning status of the resource.\";s:4:\"type\";s:6:\"string\";}s:16:\"uniqueIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  unique immutable identifier of a resource (Guid).\";s:4:\"type\";s:6:\"string\";}s:21:\"latestOperationResult\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/LatestOperationResult\";s:11:\"description\";s:54:\"The
  details of the latest operation. ex: status, error\";s:8:\"readOnly\";b:1;}}}s:36:\"EnvironmentSettingPropertiesFragment\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Properties
  of an environment setting\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"configurationState\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Describes
  the user's progress in configuring their environment setting\";s:4:\"enum\";a:2:{i:0;s:13:\"NotApplicable\";i:1;s:9:\"Completed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:18:\"ConfigurationState\";s:13:\"modelAsString\";b:1;s:6:\"values\";a:2:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:13:\"NotApplicable\";s:11:\"description\";s:105:\"User
  either hasn't started configuring their template\r\nor they haven't started the
  configuration process.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:9:\"Completed\";s:11:\"description\";s:40:\"User
  is finished modifying the template.\";}}}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Describes
  the environment and its resource settings\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Brief
  title describing the environment and its resource settings\";s:4:\"type\";s:6:\"string\";}s:16:\"resourceSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ResourceSettingsFragment\";s:11:\"description\";s:30:\"The
  resource specific settings\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  provisioning status of the resource.\";s:4:\"type\";s:6:\"string\";}s:16:\"uniqueIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  unique immutable identifier of a resource (Guid).\";s:4:\"type\";s:6:\"string\";}}}s:15:\"EnvironmentSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Represents
  a size category supported by this Lab Account (small, medium or large)\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  size category\";s:4:\"enum\";a:3:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";i:2;s:11:\"Performance\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:16:\"ManagedLabVmSize\";s:13:\"modelAsString\";b:1;s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:5:\"Basic\";s:11:\"description\";s:16:\"The
  base VM size\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"Standard\";s:11:\"description\";s:31:\"The
  standard or default VM size\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:11:\"Performance\";s:11:\"description\";s:27:\"The
  most performant VM size\";}}}}s:7:\"vmSizes\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Represents
  a set of compute sizes that can serve this given size type\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/SizeInfo\";}}s:8:\"maxPrice\";O:8:\"stdClass\":4:{s:6:\"format\";s:7:\"decimal\";s:11:\"description\";s:205:\"The
  pay-as-you-go dollar price per hour this size will cost. It does not include discounts
  and may not reflect the actual price the size will cost. This is the maximum price
  of all prices within this tier.\";s:4:\"type\";s:6:\"number\";s:8:\"readOnly\";b:1;}s:16:\"minNumberOfCores\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:96:\"The
  number of cores a VM of this size has. This is the minimum number of cores within
  this tier.\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}s:9:\"minMemory\";O:8:\"stdClass\":4:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:94:\"The
  amount of memory available (in GB). This is the minimum amount of memory within
  this tier.\";s:4:\"type\";s:6:\"number\";s:8:\"readOnly\";b:1;}}}s:23:\"EnvironmentSizeFragment\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Represents
  a size category supported by this Lab Account (small, medium or large)\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  size category\";s:4:\"enum\";a:3:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";i:2;s:11:\"Performance\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:16:\"ManagedLabVmSize\";s:13:\"modelAsString\";b:1;s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:5:\"Basic\";s:11:\"description\";s:16:\"The
  base VM size\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"Standard\";s:11:\"description\";s:31:\"The
  standard or default VM size\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:11:\"Performance\";s:11:\"description\";s:27:\"The
  most performant VM size\";}}}}s:7:\"vmSizes\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Represents
  a set of compute sizes that can serve this given size type\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/SizeInfoFragment\";}}}}s:12:\"GalleryImage\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Represents
  an image from the Azure Marketplace\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/GalleryImageProperties\";s:11:\"description\";s:28:\"The
  gallery image properties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:20:\"GalleryImageFragment\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Represents
  an image from the Azure Marketplace\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:44:\"#/definitions/GalleryImagePropertiesFragment\";s:11:\"description\";s:28:\"The
  gallery image properties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:22:\"GalleryImageProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  gallery image properties\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"author\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  author of the gallery image.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"createdDate\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:39:\"The
  creation date of the gallery image.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  description of the gallery image.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:14:\"imageReference\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/GalleryImageReference\";s:11:\"description\";s:41:\"The
  image reference of the gallery image.\";s:8:\"readOnly\";b:1;}s:4:\"icon\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  icon of the gallery image.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"isEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Indicates
  whether this gallery image is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"isOverride\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Indicates
  whether this gallery has been overridden for this lab account\";s:4:\"type\";s:7:\"boolean\";}s:6:\"planId\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  third party plan that applies to this image\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:16:\"isPlanAuthorized\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Indicates
  if the plan has been authorized for programmatic deployment.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  provisioning status of the resource.\";s:4:\"type\";s:6:\"string\";}s:16:\"uniqueIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  unique immutable identifier of a resource (Guid).\";s:4:\"type\";s:6:\"string\";}s:21:\"latestOperationResult\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/LatestOperationResult\";s:11:\"description\";s:54:\"The
  details of the latest operation. ex: status, error\";s:8:\"readOnly\";b:1;}}}s:30:\"GalleryImagePropertiesFragment\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  gallery image properties\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"isEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Indicates
  whether this gallery image is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"isOverride\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Indicates
  whether this gallery has been overridden for this lab account\";s:4:\"type\";s:7:\"boolean\";}s:16:\"isPlanAuthorized\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Indicates
  if the plan has been authorized for programmatic deployment.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  provisioning status of the resource.\";s:4:\"type\";s:6:\"string\";}s:16:\"uniqueIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  unique immutable identifier of a resource (Guid).\";s:4:\"type\";s:6:\"string\";}}}s:21:\"GalleryImageReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  reference information for an Azure Marketplace image.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"offer\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  offer of the gallery image.\";s:4:\"type\";s:6:\"string\";}s:9:\"publisher\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  publisher of the gallery image.\";s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  SKU of the gallery image.\";s:4:\"type\";s:6:\"string\";}s:6:\"osType\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  OS type of the gallery image.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  version of the gallery image.\";s:4:\"type\";s:6:\"string\";}}}s:29:\"GalleryImageReferenceFragment\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  reference information for an Azure Marketplace image.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"offer\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  offer of the gallery image.\";s:4:\"type\";s:6:\"string\";}s:9:\"publisher\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  publisher of the gallery image.\";s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  SKU of the gallery image.\";s:4:\"type\";s:6:\"string\";}s:6:\"osType\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  OS type of the gallery image.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  version of the gallery image.\";s:4:\"type\";s:6:\"string\";}}}s:22:\"GetEnvironmentResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Represents
  the environments details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"environment\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/EnvironmentDetails\";s:11:\"description\";s:26:\"Details
  of the environment\";s:8:\"readOnly\";b:1;}}}s:30:\"GetPersonalPreferencesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Represents
  the PersonalPreferences for the user\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Id
  to be used by the cache orchestrator\";s:4:\"type\";s:6:\"string\";}s:22:\"favoriteLabResourceIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Array
  of favorite lab resource ids\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:31:\"GetRegionalAvailabilityResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  response model from the GetRegionalAvailability action\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"regionalAvailability\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Availability
  information for different size categories per region\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/RegionalAvailability\";}}}}s:3:\"Lab\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Represents
  a lab.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/LabProperties\";s:11:\"description\";s:31:\"The
  properties of the resource.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:10:\"LabAccount\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Represents
  a lab account.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:34:\"#/definitions/LabAccountProperties\";s:11:\"description\";s:31:\"The
  properties of the resource.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:18:\"LabAccountFragment\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Represents
  a lab account.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:42:\"#/definitions/LabAccountPropertiesFragment\";s:11:\"description\";s:31:\"The
  properties of the resource.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:20:\"LabAccountProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Properties
  of a Lab Account.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"sizeConfiguration\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:41:\"#/definitions/SizeConfigurationProperties\";s:11:\"description\";s:55:\"Represents
  the size configuration under the lab account\";s:8:\"readOnly\";b:1;}s:22:\"enabledRegionSelection\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Represents
  if region selection is enabled\";s:4:\"type\";s:7:\"boolean\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  provisioning status of the resource.\";s:4:\"type\";s:6:\"string\";}s:16:\"uniqueIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  unique immutable identifier of a resource (Guid).\";s:4:\"type\";s:6:\"string\";}s:21:\"latestOperationResult\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/LatestOperationResult\";s:11:\"description\";s:54:\"The
  details of the latest operation. ex: status, error\";s:8:\"readOnly\";b:1;}}}s:28:\"LabAccountPropertiesFragment\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Properties
  of a Lab Account.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"enabledRegionSelection\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Represents
  if region selection is enabled\";s:4:\"type\";s:7:\"boolean\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  provisioning status of the resource.\";s:4:\"type\";s:6:\"string\";}s:16:\"uniqueIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  unique immutable identifier of a resource (Guid).\";s:4:\"type\";s:6:\"string\";}}}s:21:\"LabCreationParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Settings
  related to creating a lab\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"maxUsersInLab\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:43:\"Maximum
  number of users allowed in the lab.\";s:4:\"type\";s:7:\"integer\";}}}s:10:\"LabDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"This
  represents the details about a lab that the User is in, and its state.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Name
  of the lab\";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  provisioning state of the lab.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  Id of the lab.\";s:4:\"type\";s:6:\"string\";}s:10:\"usageQuota\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:53:\"The
  maximum duration a user can use a VM in this lab.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:11:\"LabFragment\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Represents
  a lab.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/LabPropertiesFragment\";s:11:\"description\";s:31:\"The
  properties of the resource.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:13:\"LabProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Properties
  of a Lab.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:13:\"maxUsersInLab\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:43:\"Maximum
  number of users allowed in the lab.\";s:4:\"type\";s:7:\"integer\";}s:9:\"userQuota\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:70:\"Maximum
  value MaxUsersInLab can be set to, as specified by the service\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}s:14:\"invitationCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Invitation
  code that users can use to join a lab.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"createdByObjectId\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Object
  id of the user that created the lab.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"usageQuota\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:62:\"Maximum
  duration a user can use an environment for in the lab.\";s:4:\"type\";s:6:\"string\";}s:14:\"userAccessMode\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"Lab
  user access mode (open to all vs. restricted to those listed on the lab).\";s:4:\"enum\";a:2:{i:0;s:10:\"Restricted\";i:1;s:4:\"Open\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:17:\"LabUserAccessMode\";s:13:\"modelAsString\";b:1;s:6:\"values\";a:2:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:10:\"Restricted\";s:11:\"description\";s:50:\"Only
  users registered with the lab can access VMs.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:4:\"Open\";s:11:\"description\";s:54:\"Any
  user can register with the lab and access its VMs.\";}}}}s:26:\"createdByUserPrincipalName\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Lab
  creator name\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"createdDate\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:25:\"Creation
  date for the lab\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  provisioning status of the resource.\";s:4:\"type\";s:6:\"string\";}s:16:\"uniqueIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  unique immutable identifier of a resource (Guid).\";s:4:\"type\";s:6:\"string\";}s:21:\"latestOperationResult\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/LatestOperationResult\";s:11:\"description\";s:54:\"The
  details of the latest operation. ex: status, error\";s:8:\"readOnly\";b:1;}}}s:21:\"LabPropertiesFragment\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Properties
[...]
