---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:20:\"AutomationManagement\";s:7:\"version\";s:10:\"2015-10-31\";s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:17:\"useDateTimeOffset\";b:1;}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/output
  : get:
      tags:
      - Job
      operationId: Job_GetOutput
      description: Retrieve the job output identified by job id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      x-ms-examples:
        Get Job:
          $ref: ./examples/getJob.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: jobId
        in: path
        required: true
        type: string
        description: The job id.
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            type: file
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/runbookContent
  : get:
      tags:
      - Job
      operationId: Job_GetRunbookContent
      description: Retrieve the runbook content of the job identified by job id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: jobId
        in: path
        required: true
        type: string
        description: The job id.
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            type: file
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/suspend
  : post:
      tags:
      - Job
      operationId: Job_Suspend
      description: Suspend the job identified by jobId.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      x-ms-examples:
        Suspend job:
          $ref: ./examples/suspendJob.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: jobId
        in: path
        required: true
        type: string
        format: uuid
        description: The job id.
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/stop
  : post:
      tags:
      - Job
      operationId: Job_Stop
      description: Stop the job identified by jobId.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      x-ms-examples:
        Stop job:
          $ref: ./examples/stopJob.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: jobId
        in: path
        required: true
        type: string
        format: uuid
        description: The job id.
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}
  : get:
      tags:
      - Job
      operationId: Job_Get
      description: Retrieve the job identified by job id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: jobId
        in: path
        required: true
        type: string
        format: uuid
        description: The job id.
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Job'
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
    put:
      tags:
      - Job
      operationId: Job_Create
      description: Create a job of the runbook.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      x-ms-examples:
        Create job:
          $ref: ./examples/createJob.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: jobId
        in: path
        required: true
        type: string
        format: uuid
        description: The job id.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/JobCreateParameters'
        description: The parameters supplied to the create job operation.
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/Job'
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs
  : get:
      tags:
      - Job
      operationId: Job_ListByAutomationAccount
      description: Retrieve a list of jobs.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      x-ms-examples:
        List jobs by automation account:
          $ref: ./examples/listJobsByAutomationAccount.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: The filter to apply on the operation.
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobListResult'
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/resume
  : post:
      tags:
      - Job
      operationId: Job_Resume
      description: Resume the job identified by jobId.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      x-ms-examples:
        Resume job:
          $ref: ./examples/resumeJob.json
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: jobId
        in: path
        required: true
        type: string
        format: uuid
        description: The job id.
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/streams/{jobStreamId}
  : get:
      tags:
      - JobStream
      operationId: JobStream_Get
      description: Retrieve the job stream identified by job stream id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobstreamoperations
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: jobId
        in: path
        required: true
        type: string
        description: The job id.
      - name: jobStreamId
        in: path
        required: true
        type: string
        description: The job stream id.
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobStream'
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/streams
  : get:
      tags:
      - JobStream
      operationId: JobStream_ListByJob
      description: Retrieve a list of jobs streams identified by job id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobstreamoperations
      parameters:
      - $ref: ../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter
      - $ref: ../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter
      - name: jobId
        in: path
        required: true
        type: string
        description: The job Id.
      - name: $filter
        in: query
        required: false
        type: string
        description: The filter to apply on the operation.
      - $ref: ../../common/v1/definitions.json#/parameters/SubscriptionIdParameter
      - $ref: ../../common/v1/definitions.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobStreamListResult'
        default:
          description: Automation error response describing why the operation failed.
          schema:
            $ref: ../../common/v1/definitions.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:3:\"Job\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Id
  of the resource.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/JobProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:26:\"The
  properties of the job.\";}}s:11:\"description\";s:22:\"Definition of the job.\";}s:13:\"JobListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}s:11:\"description\";s:28:\"Gets
  or sets a list of jobs.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Gets
  or sets the next link.\";}}s:11:\"description\";s:46:\"The response model for the
  list job operation.\";}s:13:\"JobProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:7:\"runbook\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/RunbookAssociationProperty\";s:11:\"description\";s:25:\"Gets
  or sets the runbook.\";}s:9:\"startedBy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Gets
  or sets the job started by.\";}s:5:\"runOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"Gets
  or sets the runOn which specifies the group name where the job is to be executed.\";}s:5:\"jobId\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:31:\"Gets
  or sets the id of the job.\";s:10:\"x-nullable\";b:0;}s:12:\"creationTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:42:\"Gets
  or sets the creation time of the job.\";s:10:\"x-nullable\";b:0;}s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Gets
  or sets the status of the job.\";s:4:\"enum\";a:13:{i:0;s:3:\"New\";i:1;s:10:\"Activating\";i:2;s:7:\"Running\";i:3;s:9:\"Completed\";i:4;s:6:\"Failed\";i:5;s:7:\"Stopped\";i:6;s:7:\"Blocked\";i:7;s:9:\"Suspended\";i:8;s:12:\"Disconnected\";i:9;s:10:\"Suspending\";i:10;s:8:\"Stopping\";i:11;s:8:\"Resuming\";i:12;s:8:\"Removing\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"JobStatus\";s:13:\"modelAsString\";b:1;}}s:13:\"statusDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Gets
  or sets the status details of the job.\";}s:9:\"startTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:39:\"Gets
  or sets the start time of the job.\";s:10:\"x-nullable\";b:1;}s:7:\"endTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:37:\"Gets
  or sets the end time of the job.\";s:10:\"x-nullable\";b:1;}s:9:\"exception\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Gets
  or sets the exception of the job.\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:47:\"Gets
  or sets the last modified time of the job.\";s:10:\"x-nullable\";b:1;}s:22:\"lastStatusModifiedTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:54:\"Gets
  or sets the last status modified time of the job.\";s:10:\"x-nullable\";b:1;}s:10:\"parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:39:\"Gets
  or sets the parameters of the job.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/JobProvisioningStateProperty\";s:11:\"description\";s:37:\"The
  provisioning state of a resource.\";}s:13:\"jobScheduleId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Gets
  or sets the id of job schedule.\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ScheduleAssociationProperty\";s:11:\"description\";s:25:\"Gets
  or sets the runbook.\";}}s:11:\"description\";s:29:\"Definition of job properties.\";}s:27:\"ScheduleAssociationProperty\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Gets
  or sets the name of the Schedule.\";}}s:11:\"description\";s:49:\"The schedule property
  associated with the entity.\";}s:26:\"RunbookAssociationProperty\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Gets
  or sets the name of the runbook.\";}}s:11:\"description\";s:48:\"The runbook property
  associated with the entity.\";}s:28:\"JobProvisioningStateProperty\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  provisioning state of the resource.\";s:4:\"enum\";a:4:{i:0;s:6:\"Failed\";i:1;s:9:\"Succeeded\";i:2;s:9:\"Suspended\";i:3;s:10:\"Processing\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"JobProvisioningState\";s:13:\"modelAsString\";b:1;}}s:19:\"JobCreateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/JobCreateProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:40:\"Gets
  or sets the list of job properties.\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:11:\"description\";s:52:\"The
  parameters supplied to the create job operation.\";}s:19:\"JobCreateProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"runbook\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/RunbookAssociationProperty\";s:11:\"description\";s:25:\"Gets
  or sets the runbook.\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:39:\"Gets
  or sets the parameters of the job.\";}s:5:\"runOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"Gets
  or sets the runOn which specifies the group name where the job is to be executed.\";}}s:8:\"required\";a:1:{i:0;s:7:\"runbook\";}s:11:\"description\";s:52:\"The
  parameters supplied to the create job operation.\";}s:9:\"JobStream\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Gets
  or sets the id of the resource.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/JobStreamProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:38:\"Gets
  or sets the id of the job stream.\";}}s:11:\"description\";s:29:\"Definition of
  the job stream.\";}s:19:\"JobStreamProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"jobStreamId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Gets
  or sets the id of the job stream.\";}s:4:\"time\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:42:\"Gets
  or sets the creation time of the job.\";s:10:\"x-nullable\";b:0;}s:10:\"streamType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Gets
  or sets the stream type.\";s:4:\"enum\";a:7:{i:0;s:8:\"Progress\";i:1;s:6:\"Output\";i:2;s:7:\"Warning\";i:3;s:5:\"Error\";i:4;s:5:\"Debug\";i:5;s:7:\"Verbose\";i:6;s:3:\"Any\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"JobStreamType\";s:13:\"modelAsString\";b:1;}}s:10:\"streamText\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Gets
  or sets the stream text.\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Gets
  or sets the summary.\";}s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:42:\"Gets
  or sets the values of the job stream.\";}}s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:29:\"Definition
  of the job stream.\";}s:19:\"JobStreamListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/JobStream\";}s:11:\"description\";s:22:\"A
  list of job streams.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Gets
  or sets the next link.\";}}s:11:\"description\";s:53:\"The response model for the
  list job stream operation.\";}}"
...
