---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2017-09-01\";s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";}"
host: management.azure.com
paths: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":37:{s:47:\"NetworkInterfaceIPConfigurationPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:37:\"applicationGatewayBackendAddressPools\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:63:\"The
  reference of ApplicationGatewayBackendAddressPool resource.\";}s:31:\"loadBalancerBackendAddressPools\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:57:\"The
  reference of LoadBalancerBackendAddressPool resource.\";}s:27:\"loadBalancerInboundNatRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:52:\"A
  list of references of LoadBalancerInboundNatRules.\";}s:16:\"privateIPAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Private
  IP address of the IP configuration.\";}s:25:\"privateIPAllocationMethod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"Defines
  how a private IP address is assigned. Possible values are: 'Static' and 'Dynamic'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"IPAllocationMethod\";s:13:\"modelAsString\";b:0;}}s:23:\"privateIPAddressVersion\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:181:\"Available
  from Api-Version 2016-03-30 onwards, it represents whether the specific ipconfiguration
  is IPv4 or IPv6. Default is taken as IPv4.  Possible values are: 'IPv4' and 'IPv6'.\";s:4:\"enum\";a:2:{i:0;s:4:\"IPv4\";i:1;s:4:\"IPv6\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"IPVersion\";s:13:\"modelAsString\";b:0;}}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:37:\"Subnet
  bound to the IP configuration.\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:73:\"Gets
  whether this is a primary customer address on the network interface.\";}s:15:\"publicIPAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:48:\"Public
  IP address bound to the IP configuration.\";}s:25:\"applicationSecurityGroups\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:70:\"Application
  security groups in which the IP configuration is included.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:124:\"The
  provisioning state of the network interface IP configuration. Possible values are:
  'Updating', 'Deleting', and 'Failed'.\";}}s:11:\"description\";s:31:\"Properties
  of IP configuration.\";}s:31:\"NetworkInterfaceIPConfiguration\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:61:\"#/definitions/NetworkInterfaceIPConfigurationPropertiesFormat\";s:11:\"description\";s:46:\"Network
  interface IP configuration properties.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SubResourceReadOnly\";}}s:11:\"description\";s:39:\"IPConfiguration
  in a network interface.\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:27:\"NetworkInterfaceDnsSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"dnsServers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:212:\"List
  of DNS servers IP addresses. Use 'AzureProvidedDNS' to switch to azure provided
  DNS resolution. 'AzureProvidedDNS' value cannot be combined with other IPs, it must
  be the only value in dnsServers collection.\";}s:17:\"appliedDnsServers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:225:\"If
  the VM that uses this NIC is part of an Availability Set, then this list will have
  the union of all DNS servers from all NICs that are part of the Availability Set.
  This property is what is configured on each of those VMs.\";}s:20:\"internalDnsNameLabel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:104:\"Relative
  DNS name for this NIC used for internal communications between VMs in the same virtual
  network.\";}s:12:\"internalFqdn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"Fully
  qualified DNS name supporting internal communications between VMs in the same virtual
  network.\";}s:24:\"internalDomainNameSuffix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:206:\"Even
  if internalDnsNameLabel is not specified, a DNS entry is created for the primary
  NIC of the VM. This DNS name can be constructed by concatenating the VM name with
  the value of internalDomainNameSuffix.\";}}s:11:\"description\";s:36:\"DNS settings
  of a network interface.\";}s:32:\"NetworkInterfacePropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"virtualMachine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:35:\"The
  reference of a virtual machine.\";}s:20:\"networkSecurityGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:51:\"The
  reference of the NetworkSecurityGroup resource.\";}s:16:\"ipConfigurations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/NetworkInterfaceIPConfiguration\";}s:11:\"description\";s:52:\"A
  list of IPConfigurations of the network interface.\";}s:11:\"dnsSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/NetworkInterfaceDnsSettings\";s:11:\"description\";s:38:\"The
  DNS settings in network interface.\";}s:10:\"macAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  MAC address of the network interface.\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:70:\"Gets
  whether this is a primary network interface on a virtual machine.\";}s:27:\"enableAcceleratedNetworking\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:59:\"If
  the network interface is accelerated networking enabled.\";}s:18:\"enableIPForwarding\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:69:\"Indicates
  whether IP forwarding is enabled on this network interface.\";}s:12:\"resourceGuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  resource GUID property of the network interface resource.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";}}s:11:\"description\";s:29:\"NetworkInterface properties. \";s:8:\"required\";a:1:{i:0;s:16:\"ipConfigurations\";}}s:16:\"NetworkInterface\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:46:\"#/definitions/NetworkInterfacePropertiesFormat\";s:11:\"description\";s:36:\"Properties
  of the network interface.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:40:\"A
  network interface in a resource group.\";}s:26:\"NetworkInterfaceListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NetworkInterface\";}s:11:\"description\";s:49:\"A
  list of network interfaces in a resource group.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:55:\"Response for
  the ListNetworkInterface API service call.\";}s:41:\"NetworkInterfaceIPConfigurationListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/NetworkInterfaceIPConfiguration\";}s:11:\"description\";s:28:\"A
  list of ip configurations.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:53:\"Response for
  list ip configurations API service call.\";}s:38:\"NetworkInterfaceLoadBalancerListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LoadBalancer\";}s:11:\"description\";s:25:\"A
  list of load balancers.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:53:\"Response for
  list ip configurations API service call.\";}s:29:\"EffectiveNetworkSecurityGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"networkSecurityGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:49:\"The
  ID of network security group that is applied.\";}s:11:\"association\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/EffectiveNetworkSecurityGroupAssociation\";s:11:\"description\";s:21:\"Associated
  resources.\";}s:22:\"effectiveSecurityRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/EffectiveNetworkSecurityRule\";}s:11:\"description\";s:41:\"A
  collection of effective security rules.\";}s:6:\"tagMap\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:20:\"additionalProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:41:\"List
  of IP Addresses within the tag (key)\";}s:11:\"description\";s:64:\"Mapping of tags
  to list of IP Addresses included within the tag.\";}}s:11:\"description\";s:33:\"Effective
  network security group.\";}s:40:\"EffectiveNetworkSecurityGroupAssociation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:33:\"The
  ID of the subnet if assigned.\";}s:16:\"networkInterface\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:44:\"The
  ID of the network interface if assigned.\";}}s:11:\"description\";s:49:\"The effective
  network security group association.\";}s:28:\"EffectiveNetworkSecurityRule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"The
  name of the security rule specified by the user (if created by the user).\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"The
  network protocol this rule applies to. Possible values are: 'Tcp', 'Udp', and 'All'.\";s:4:\"enum\";a:3:{i:0;s:3:\"Tcp\";i:1;s:3:\"Udp\";i:2;s:3:\"All\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:29:\"EffectiveSecurityRuleProtocol\";s:13:\"modelAsString\";b:0;}}s:15:\"sourcePortRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  source port or range.\";}s:20:\"destinationPortRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  destination port or range.\";}s:16:\"sourcePortRanges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:150:\"The
  source port ranges. Expected values include a single integer between 0 and 65535,
  a range using '-' as seperator (e.g. 100-400), or an asterix (*)\";}s:21:\"destinationPortRanges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:155:\"The
  destination port ranges. Expected values include a single integer between 0 and
  65535, a range using '-' as seperator (e.g. 100-400), or an asterix (*)\";}s:19:\"sourceAddressPrefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  source address prefix.\";}s:24:\"destinationAddressPrefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  destination address prefix.\";}s:21:\"sourceAddressPrefixes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:161:\"The
  source address prefixes. Expected values include CIDR IP ranges, Default Tags (VirtualNetwork,
  AureLoadBalancer, Internet), System Tags, and the asterix (*).\";}s:26:\"destinationAddressPrefixes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:166:\"The
  destination address prefixes. Expected values include CIDR IP ranges, Default Tags
  (VirtualNetwork, AureLoadBalancer, Internet), System Tags, and the asterix (*).\";}s:27:\"expandedSourceAddressPrefix\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:35:\"The
  expanded source address prefix.\";}s:32:\"expandedDestinationAddressPrefix\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:36:\"Expanded
  destination address prefix.\";}s:6:\"access\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"Whether
  network traffic is allowed or denied. Possible values are: 'Allow' and 'Deny'.\";s:4:\"enum\";a:2:{i:0;s:5:\"Allow\";i:1;s:4:\"Deny\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"SecurityRuleAccess\";s:13:\"modelAsString\";b:0;}}s:8:\"priority\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:25:\"The
  priority of the rule.\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"The
  direction of the rule. Possible values are: 'Inbound and Outbound'.\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"SecurityRuleDirection\";s:13:\"modelAsString\";b:0;}}}s:11:\"description\";s:33:\"Effective
  network security rules.\";}s:39:\"EffectiveNetworkSecurityGroupListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/EffectiveNetworkSecurityGroup\";}s:11:\"description\";s:44:\"A
  list of effective network security groups.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:69:\"Response for
  list effective network security groups API service call.\";}s:14:\"EffectiveRoute\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  name of the user defined route. This is optional.\";}s:6:\"source\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:102:\"Who
  created the route. Possible values are: 'Unknown', 'User', 'VirtualNetworkGateway',
  and 'Default'.\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:4:\"User\";i:2;s:21:\"VirtualNetworkGateway\";i:3;s:7:\"Default\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"EffectiveRouteSource\";s:13:\"modelAsString\";b:0;}}s:5:\"state\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"The
  value of effective route. Possible values are: 'Active' and 'Invalid'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:7:\"Invalid\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"EffectiveRouteState\";s:13:\"modelAsString\";b:0;}}s:13:\"addressPrefix\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:62:\"The
  address prefixes of the effective routes in CIDR notation.\";}s:16:\"nextHopIpAddress\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:54:\"The
  IP address of the next hop of the effective route.\";}s:11:\"nextHopType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"The
  type of Azure hop the packet should be sent to. Possible values are: 'VirtualNetworkGateway',
  'VnetLocal', 'Internet', 'VirtualAppliance', and 'None'.\";s:4:\"enum\";a:5:{i:0;s:21:\"VirtualNetworkGateway\";i:1;s:9:\"VnetLocal\";i:2;s:8:\"Internet\";i:3;s:16:\"VirtualAppliance\";i:4;s:4:\"None\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"RouteNextHopType\";s:13:\"modelAsString\";b:0;}}}s:11:\"description\";s:15:\"Effective
  Route\";}s:24:\"EffectiveRouteListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EffectiveRoute\";}s:11:\"description\";s:27:\"A
  list of effective routes.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:51:\"Response for
  list effective route API service call.\";}s:31:\"IPConfigurationPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"privateIPAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  private IP address of the IP configuration.\";}s:25:\"privateIPAllocationMethod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"The
  private IP allocation method. Possible values are 'Static' and 'Dynamic'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"IPAllocationMethod\";s:13:\"modelAsString\";b:0;}}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:37:\"The
  reference of the subnet resource.\";}s:15:\"publicIPAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:40:\"The
  reference of the public IP resource.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"Gets
  the provisioning state of the public IP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:11:\"description\";s:31:\"Properties of IP configuration.\";}s:15:\"IPConfiguration\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:45:\"#/definitions/IPConfigurationPropertiesFormat\";s:11:\"description\";s:34:\"Properties
  of the IP configuration\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SubResourceReadOnly\";}}s:11:\"description\";s:16:\"IP
  configuration\";}s:19:\"SubResourceReadOnly\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Resource
  ID\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:11:\"SubResource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  ID.\";}}s:11:\"description\";s:33:\"Reference to another subresource.\";s:19:\"x-ms-azure-resource\";b:1;s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:31:\"OutboundNatRulePropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"allocatedOutboundPorts\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:48:\"The
  number of outbound ports to be used for NAT.\";}s:24:\"frontendIPConfigurations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:47:\"The
  Frontend IP addresses of the load balancer.\";}s:18:\"backendAddressPool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:104:\"A
  reference to a pool of DIPs. Outbound traffic is randomly load balanced across IPs
  in the backend IPs.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"Gets
  the provisioning state of the PublicIP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:8:\"required\";a:1:{i:0;s:18:\"backendAddressPool\";}s:11:\"description\";s:39:\"Outbound
  NAT pool of the load balancer.\";}s:15:\"OutboundNatRule\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:45:\"#/definitions/OutboundNatRulePropertiesFormat\";s:11:\"description\";s:46:\"Properties
  of load balancer outbound nat rule.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SubResourceReadOnly\";}}s:11:\"description\";s:39:\"Outbound
  NAT pool of the load balancer.\";}s:17:\"TransportProtocol\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"The
  transport protocol for the endpoint. Possible values are 'Udp' or 'Tcp' or 'All.'\";s:4:\"enum\";a:3:{i:0;s:3:\"Udp\";i:1;s:3:\"Tcp\";i:2;s:3:\"All\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"TransportProtocol\";s:13:\"modelAsString\";b:0;}}s:30:\"InboundNatPoolPropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"frontendIPConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:37:\"A
  reference to frontend IP addresses.\";}s:8:\"protocol\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TransportProtocol\";}s:22:\"frontendPortRangeStart\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:179:\"The
  first port number in the range of external ports that will be used to provide Inbound
  Nat to NICs associated with a load balancer. Acceptable values range between 1 and
  65534.\";}s:20:\"frontendPortRangeEnd\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:178:\"The
  last port number in the range of external ports that will be used to provide Inbound
  Nat to NICs associated with a load balancer. Acceptable values range between 1 and
  65535.\";}s:11:\"backendPort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:98:\"The
  port used for internal connections on the endpoint. Acceptable values are between
  1 and 65535.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"Gets
  the provisioning state of the PublicIP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:11:\"description\";s:31:\"Properties of Inbound
  NAT pool.\";s:8:\"required\";a:5:{i:0;s:23:\"frontendIPConfiguration\";i:1;s:8:\"protocol\";i:2;s:22:\"frontendPortRangeStart\";i:3;s:20:\"frontendPortRangeEnd\";i:4;s:11:\"backendPort\";}}s:14:\"InboundNatPool\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:44:\"#/definitions/InboundNatPoolPropertiesFormat\";s:11:\"description\";s:45:\"Properties
  of load balancer inbound nat pool.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SubResourceReadOnly\";}}s:11:\"description\";s:38:\"Inbound
  NAT pool of the load balancer.\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:30:\"InboundNatRulePropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:23:\"frontendIPConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:37:\"A
  reference to frontend IP addresses.\";}s:22:\"backendIPConfiguration\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:183:\"A
  reference to a private IP address defined on a network interface of a VM. Traffic
  sent to the frontend port of each of the frontend IP configurations is forwarded
  to the backend IP.\";}s:8:\"protocol\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TransportProtocol\";}s:12:\"frontendPort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:144:\"The
  port for the external endpoint. Port numbers for each rule must be unique within
  the Load Balancer. Acceptable values range from 1 to 65534.\";}s:11:\"backendPort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:81:\"The
  port used for the internal endpoint. Acceptable values range from 1 to 65535.\";}s:20:\"idleTimeoutInMinutes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:178:\"The
  timeout for the TCP idle connection. The value can be set between 4 and 30 minutes.
  The default value is 4 minutes. This element is only used when the protocol is set
  to TCP.\";}s:16:\"enableFloatingIP\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:276:\"Configures
  a virtual machine's endpoint for the floating IP capability required to configure
  a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn
  Availability Groups in SQL server. This setting can't be changed after you create
  the endpoint.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"Gets
  the provisioning state of the public IP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:11:\"description\";s:35:\"Properties of the inbound
  NAT rule.\";s:8:\"required\";a:4:{i:0;s:23:\"frontendIPConfiguration\";i:1;s:8:\"protocol\";i:2;s:12:\"frontendPort\";i:3;s:11:\"backendPort\";}}s:14:\"InboundNatRule\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:44:\"#/definitions/InboundNatRulePropertiesFormat\";s:11:\"description\";s:45:\"Properties
  of load balancer inbound nat rule.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SubResourceReadOnly\";}}s:11:\"description\";s:38:\"Inbound
  NAT rule of the load balancer.\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:21:\"ProbePropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"loadBalancingRules\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:44:\"The
  load balancer rules that use this probe.\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:259:\"The
  protocol of the end point. Possible values are: 'Http' or 'Tcp'. If 'Tcp' is specified,
  a received ACK is required for the probe to be successful. If 'Http' is specified,
  a 200 OK response from the specifies URI is required for the probe to be successful.\";s:4:\"enum\";a:2:{i:0;s:4:\"Http\";i:1;s:3:\"Tcp\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"ProbeProtocol\";s:13:\"modelAsString\";b:0;}}s:4:\"port\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:87:\"The
  port for communicating the probe. Possible values range from 1 to 65535, inclusive.\";}s:17:\"intervalInSeconds\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:300:\"The
  interval, in seconds, for how frequently to probe the endpoint for health status.
  Typically, the interval is slightly less than half the allocated timeout period
  (in seconds) which allows two full probes before taking the instance out of rotation.
  The default value is 15, the minimum value is 5.\";}s:14:\"numberOfProbes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:232:\"The
  number of probes where if no response, will result in stopping further traffic from
  being delivered to the endpoint. This values allows endpoints to be taken out of
  rotation faster or slower than the typical times used in Azure.\";}s:11:\"requestPath\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:158:\"The
  URI used for requesting health status from the VM. Path is required if a protocol
  is set to http. Otherwise, it is not allowed. There is no default value.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"Gets
  the provisioning state of the public IP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:11:\"description\";s:29:\"Load balancer probe resource.\";s:8:\"required\";a:3:{i:0;s:8:\"protocol\";i:1;s:4:\"port\";i:2;s:14:\"numberOfProbes\";}}s:5:\"Probe\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:35:\"#/definitions/ProbePropertiesFormat\";s:11:\"description\";s:34:\"Properties
  of load balancer probe.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SubResourceReadOnly\";}}s:11:\"description\";s:22:\"A
  load balancer probe.\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:33:\"LoadBalancingRulePropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:23:\"frontendIPConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:37:\"A
  reference to frontend IP addresses.\";}s:18:\"backendAddressPool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:103:\"A
  reference to a pool of DIPs. Inbound traffic is randomly load balanced across IPs
  in the backend IPs.\";}s:5:\"probe\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:73:\"The
  reference of the load balancer probe used by the load balancing rule.\";}s:8:\"protocol\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TransportProtocol\";}s:16:\"loadDistribution\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  load distribution policy for this rule. Possible values are 'Default', 'SourceIP',
  and 'SourceIPProtocol'.\";s:4:\"enum\";a:3:{i:0;s:7:\"Default\";i:1;s:8:\"SourceIP\";i:2;s:16:\"SourceIPProtocol\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"LoadDistribution\";s:13:\"modelAsString\";b:0;}}s:12:\"frontendPort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:183:\"The
  port for the external endpoint. Port numbers for each rule must be unique within
  the Load Balancer. Acceptable values are between 0 and 65534. Note that value 0
  enables \"Any Port\"\";}s:11:\"backendPort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:135:\"The
  port used for internal connections on the endpoint. Acceptable values are between
  0 and 65535. Note that value 0 enables \"Any Port\"\";}s:20:\"idleTimeoutInMinutes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:178:\"The
  timeout for the TCP idle connection. The value can be set between 4 and 30 minutes.
  The default value is 4 minutes. This element is only used when the protocol is set
  to TCP.\";}s:16:\"enableFloatingIP\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:276:\"Configures
  a virtual machine's endpoint for the floating IP capability required to configure
  a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn
  Availability Groups in SQL server. This setting can't be changed after you create
  the endpoint.\";}s:19:\"disableOutboundSnat\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:129:\"Configures
  SNAT for the VMs in the backend pool to use the publicIP address specified in the
  frontend of the load balancing rule.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"Gets
  the provisioning state of the PublicIP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:11:\"description\";s:32:\"Properties of the load
  balancer.\";s:8:\"required\";a:4:{i:0;s:23:\"frontendIPConfiguration\";i:1;s:8:\"protocol\";i:2;s:12:\"frontendPort\";i:3;s:11:\"backendPort\";}}s:17:\"LoadBalancingRule\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:47:\"#/definitions/LoadBalancingRulePropertiesFormat\";s:11:\"description\";s:48:\"Properties
  of load balancer load balancing rule.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SubResourceReadOnly\";}}s:11:\"description\";s:42:\"A
  load balancing rule for a load balancer.\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:34:\"BackendAddressPoolPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:23:\"backendIPConfigurations\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:76:\"Gets
  collection of references to IP addresses defined in network interfaces.\";}s:18:\"loadBalancingRules\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:61:\"Gets
  load balancing rules that use this backend address pool.\";}s:15:\"outboundNatRule\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:55:\"Gets
  outbound rules that use this backend address pool.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"Get
  provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";}}s:11:\"description\";s:39:\"Properties of the backend address
  pool.\";}s:18:\"BackendAddressPool\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:48:\"#/definitions/BackendAddressPoolPropertiesFormat\";s:11:\"description\";s:49:\"Properties
  of load balancer backend address pool.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SubResourceReadOnly\";}}s:11:\"description\";s:29:\"Pool
  of backend IP addresses.\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:39:\"FrontendIPConfigurationPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"inboundNatRules\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:56:\"Read
  only. Inbound rules URIs that use this frontend IP.\";}s:15:\"inboundNatPools\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:56:\"Read
  only. Inbound pools URIs that use this frontend IP.\";}s:16:\"outboundNatRules\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:57:\"Read
  only. Outbound rules URIs that use this frontend IP.\";}s:18:\"loadBalancingRules\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:57:\"Gets
  load balancing rules URIs that use this frontend IP.\";}s:16:\"privateIPAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  private IP address of the IP configuration.\";}s:25:\"privateIPAllocationMethod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"The
  Private IP allocation method. Possible values are: 'Static' and 'Dynamic'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"IPAllocationMethod\";s:13:\"modelAsString\";b:0;}}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:37:\"The
  reference of the subnet resource.\";}s:15:\"publicIPAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:40:\"The
  reference of the Public IP resource.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"Gets
  the provisioning state of the public IP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:11:\"description\";s:61:\"Properties of Frontend
  IP Configuration of the load balancer.\";}s:23:\"FrontendIPConfiguration\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:53:\"#/definitions/FrontendIPConfigurationPropertiesFormat\";s:11:\"description\";s:38:\"Properties
  of the load balancer probe.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}s:5:\"zones\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:91:\"A
  list of availability zones denoting the IP allocated for the resource needs to come
  from.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SubResourceReadOnly\";}}s:11:\"description\";s:41:\"Frontend
  IP address of the load balancer.\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:28:\"LoadBalancerPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:24:\"frontendIPConfigurations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/FrontendIPConfiguration\";}s:11:\"description\";s:69:\"Object
  representing the frontend IPs to be used for the load balancer\";}s:19:\"backendAddressPools\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BackendAddressPool\";}s:11:\"description\";s:59:\"Collection
  of backend address pools used by a load balancer\";}s:18:\"loadBalancingRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LoadBalancingRule\";}s:11:\"description\";s:78:\"Object
  collection representing the load balancing rules Gets the provisioning \";}s:6:\"probes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Probe\";}s:11:\"description\";s:53:\"Collection
  of probe objects used in the load balancer\";}s:15:\"inboundNatRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InboundNatRule\";}s:11:\"description\";s:377:\"Collection
  of inbound NAT Rules used by a load balancer. Defining inbound NAT rules on your
  load balancer is mutually exclusive with defining an inbound NAT pool. Inbound NAT
  pools are referenced from virtual machine scale sets. NICs that are associated with
  individual virtual machines cannot reference an Inbound NAT pool. They have to reference
  individual inbound NAT rules.\";}s:15:\"inboundNatPools\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InboundNatPool\";}s:11:\"description\";s:564:\"Defines
  an external port range for inbound NAT to a single backend port on NICs associated
  with a load balancer. Inbound NAT rules are created automatically for each NIC associated
  with the Load Balancer using an external port from this range. Defining an Inbound
  NAT pool on your Load Balancer is mutually exclusive with defining inbound Nat rules.
  Inbound NAT pools are referenced from virtual machine scale sets. NICs that are
  associated with individual virtual machines cannot reference an inbound NAT pool.
  They have to reference individual inbound NAT rules.\";}s:16:\"outboundNatRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OutboundNatRule\";}s:11:\"description\";s:23:\"The
  outbound NAT rules.\";}s:12:\"resourceGuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  resource GUID property of the load balancer resource.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"Gets
  the provisioning state of the PublicIP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:11:\"description\";s:32:\"Properties of the load
  balancer.\";}s:15:\"LoadBalancerSku\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Name
  of a load balancer SKU.\";s:4:\"enum\";a:2:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"LoadBalancerSkuName\";s:13:\"modelAsString\";b:0;}}}s:11:\"description\";s:22:\"SKU
  of a load balancer\";}s:12:\"LoadBalancer\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/LoadBalancerSku\";s:11:\"description\";s:22:\"The
  load balancer SKU.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:42:\"#/definitions/LoadBalancerPropertiesFormat\";s:11:\"description\";s:28:\"Properties
  of load balancer.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:21:\"LoadBalancer
  resource\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  type.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Resource
  location.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";}}s:11:\"description\";s:31:\"Common resource representation.\";s:19:\"x-ms-azure-resource\";b:1;s:8:\"required\";a:1:{i:0;s:8:\"location\";}}}"
...
