---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"ApiManagementClient\";s:11:\"description\";s:186:\"Use
  these REST APIs for performing operations on Diagnostic entity associated with your
  Azure API Management deployment. Diagnostics are used to log requests/responses
  in the APIM proxy.\";s:7:\"version\";s:10:\"2017-03-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics
  : get:
      tags:
      - Diagnostics
      operationId: Diagnostic_ListByService
      description: Lists all diagnostics of the API Management service instance.
      x-ms-examples:
        ApiManagementListDiagnostics:
          $ref: ./examples/ApiManagementListDiagnostics.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|n|
          id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith
          |'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      responses:
        200:
          description: Paged Result response of diagnostics.
          schema:
            $ref: '#/definitions/DiagnosticCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/DiagnosticContract'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics/{diagnosticId}
  : head:
      tags:
      - Diagnostics
      operationId: Diagnostic_Head
      description: Gets the entity state (Etag) version of the Diagnostic specified
        by its identifier.
      x-ms-examples:
        ApiManagementHeadDiagnostic:
          $ref: ./examples/ApiManagementHeadDiagnostic.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/DiagnosticIdParameter'
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Operation completed successfully.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    get:
      tags:
      - Diagnostics
      operationId: Diagnostic_Get
      description: Gets the details of the Diagnostic specified by its identifier.
      x-ms-examples:
        ApiManagementGetDiagnostic:
          $ref: ./examples/ApiManagementGetDiagnostic.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/DiagnosticIdParameter'
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The response body contains the specified Diagnostic entity.
          schema:
            $ref: '#/definitions/DiagnosticContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    put:
      tags:
      - Diagnostics
      operationId: Diagnostic_CreateOrUpdate
      description: Creates a new Diagnostic or updates an existing one.
      x-ms-examples:
        ApiManagementCreateDiagnostic:
          $ref: ./examples/ApiManagementCreateDiagnostic.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/DiagnosticIdParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/DiagnosticContract'
        description: Create parameters.
      - name: If-Match
        in: header
        required: false
        description: ETag of the Diagnostic Entity. ETag should match the current
          entity state from the header response of the GET request or it should be
          * for unconditional update.
        type: string
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: Diagnostic was successfully created.
          schema:
            $ref: '#/definitions/DiagnosticContract'
        200:
          description: Diagnostic was successfully updated.
          schema:
            $ref: '#/definitions/DiagnosticContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    patch:
      tags:
      - Diagnostics
      operationId: Diagnostic_Update
      description: Updates the details of the Diagnostic specified by its identifier.
      x-ms-examples:
        ApiManagementUpdateDiagnostic:
          $ref: ./examples/ApiManagementUpdateDiagnostic.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/DiagnosticIdParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/DiagnosticContract'
        description: Diagnostic Update parameters.
      - name: If-Match
        in: header
        required: true
        description: ETag of the Diagnostic Entity. ETag should match the current
          entity state from the header response of the GET request or it should be
          * for unconditional update.
        type: string
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: The Diagnostic was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    delete:
      tags:
      - Diagnostics
      operationId: Diagnostic_Delete
      description: Deletes the specified Diagnostic.
      x-ms-examples:
        ApiManagementDeleteDiagnostic:
          $ref: ./examples/ApiManagementDeleteDiagnostic.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/DiagnosticIdParameter'
      - name: If-Match
        in: header
        required: true
        description: ETag of the Diagnostic Entity. ETag should match the current
          entity state from the header response of the GET request or it should be
          * for unconditional update.
        type: string
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: The Diagnostic was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics/{diagnosticId}/loggers
  : get:
      tags:
      - DiagnosticLoggers
      operationId: DiagnosticLogger_ListByService
      description: Lists all loggers associated with the specified Diagnostic of the
        API Management service instance.
      x-ms-examples:
        ApiManagementListDiagnosticLoggers:
          $ref: ./examples/ApiManagementListDiagnosticLoggers.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      - $ref: '#/parameters/DiagnosticIdParameter'
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|n|
          id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith
          |n| type        | eq                     |                                   |'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      responses:
        200:
          description: Paged Result response of loggers assigned to the specified
            Diagnostic.
          schema:
            $ref: ./apimloggers.json#/definitions/LoggerCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./apimloggers.json#/definitions/LoggerContract
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics/{diagnosticId}/loggers/{loggerid}
  : head:
      tags:
      - DiagnosticLoggers
      operationId: DiagnosticLogger_CheckEntityExists
      description: Checks that logger entity specified by identifier is associated
        with the diagnostics entity.
      x-ms-examples:
        ApiManagementHeadDiagnosticLogger:
          $ref: ./examples/ApiManagementHeadDiagnosticLogger.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/DiagnosticIdParameter'
      - $ref: ./apimloggers.json#/parameters/LoggerIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: Entity exists
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    put:
      tags:
      - DiagnosticLoggers
      operationId: DiagnosticLogger_CreateOrUpdate
      description: Attaches a logger to a diagnostic.
      x-ms-examples:
        ApiManagementCreateDiagnosticLogger:
          $ref: ./examples/ApiManagementCreateDiagnosticLogger.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/DiagnosticIdParameter'
      - $ref: ./apimloggers.json#/parameters/LoggerIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: Logger was successfully attached to Diagnostic.
          schema:
            $ref: ./apimloggers.json#/definitions/LoggerContract
        200:
          description: Logger to Diagnostic link was successfully updated.
          schema:
            $ref: ./apimloggers.json#/definitions/LoggerContract
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    delete:
      tags:
      - DiagnosticLoggers
      operationId: DiagnosticLogger_Delete
      description: Deletes the specified Logger from Diagnostic.
      x-ms-examples:
        ApiManagementDeleteDiagnosticLogger:
          $ref: ./examples/ApiManagementDeleteDiagnosticLogger.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/DiagnosticIdParameter'
      - $ref: ./apimloggers.json#/parameters/LoggerIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: The Logger was successfully detached from Diagnostic.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:20:\"DiagnosticCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DiagnosticContract\";}s:11:\"description\";s:12:\"Page
  values.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:37:\"Paged Diagnostic list representation.\";}s:18:\"DiagnosticContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:42:\"#/definitions/DiagnosticContractProperties\";s:11:\"description\";s:38:\"Diagnostic
  entity contract properties.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"./apimanagement.json#/definitions/Resource\";}}s:11:\"description\";s:19:\"Diagnostic
  details.\";}s:28:\"DiagnosticContractProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:58:\"Indicates
  whether a diagnostic should receive data or not.\";}}s:8:\"required\";a:1:{i:0;s:7:\"enabled\";}s:11:\"description\";s:28:\"Diagnostic
  Entity Properties\";}}"
...
