---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"MonitorManagementClient\";s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:23:\"MonitorManagementClient\";}s:7:\"version\";s:10:\"2016-03-01\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles/{logProfileName}:
    delete:
      tags:
      - LogProfiles
      operationId: LogProfiles_Delete
      description: Deletes the log profile.
      parameters:
      - $ref: '#/parameters/LogProfileNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request to delete a log profile
      x-ms-examples:
        Delete log profile:
          $ref: ./examples/deleteLogProfile.json
    get:
      tags:
      - LogProfiles
      operationId: LogProfiles_Get
      description: Gets the log profile.
      parameters:
      - $ref: '#/parameters/LogProfileNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        200:
          description: Successful request to get more information about a log profile.
          schema:
            $ref: '#/definitions/LogProfileResource'
          examples:
            application/json:
              id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/providers/microsoft.insights/logprofiles/default
              type: ""
              name: default
              location: ""
              tags: ~
              properties:
                storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8162
                serviceBusRuleId: ""
                locations:
                - global
                categories:
                - Delete
                - Write
                - Action
                retentionPolicy:
                  enabled: true
                  days: 3
      x-ms-examples:
        Get log profile:
          $ref: ./examples/getLogProfile.json
    put:
      tags:
      - LogProfiles
      operationId: LogProfiles_CreateOrUpdate
      description: Create or update a log profile in Azure Monitoring REST API.
      parameters:
      - $ref: '#/parameters/LogProfileNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/LogProfileResource'
        description: Parameters supplied to the operation.
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request to create or update a log profile
          schema:
            $ref: '#/definitions/LogProfileResource'
          examples:
            application/json:
              id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/providers/microsoft.insights/logprofiles/default
              type: ""
              name: default
              location: ""
              tags: ~
              properties:
                storageAccountId: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/JohnKemTest/providers/Microsoft.Storage/storageAccounts/johnkemtest8162
                serviceBusRuleId: ""
                locations:
                - global
                categories:
                - Delete
                - Write
                - Action
                retentionPolicy:
                  enabled: true
                  days: 3
      x-ms-examples:
        Create or update a log profile:
          $ref: ./examples/createOrUpdateLogProfile.json
    patch:
      description: Updates an existing LogProfilesResource. To update other fields
        use the CreateOrUpdate method.
      operationId: LogProfiles_Update
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/LogProfileNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: logProfilesResource
        in: body
        required: true
        schema:
          $ref: '#/definitions/LogProfileResourcePatch'
        description: Parameters supplied to the operation.
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        200:
          description: An existing log profile was successfully updated.
          schema:
            $ref: '#/definitions/LogProfileResource'
      x-ms-examples:
        Patch a log profile:
          $ref: ./examples/patchLogProfile.json
  /subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles:
    get:
      tags:
      - LogProfiles
      operationId: LogProfiles_List
      description: List the log profiles.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request to list log profiles
          schema:
            $ref: '#/definitions/LogProfileCollection'
      x-ms-pageable:
        nextLinkName: ~
      x-ms-examples:
        List log profiles:
          $ref: ./examples/listLogProfile.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:8:\"Resource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Azure
  resource Id\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Azure
  resource name\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Azure
  resource type\";}s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Resource
  location\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;s:11:\"description\";s:24:\"An
  azure resource object\";}s:15:\"RetentionPolicy\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:59:\"a
  value indicating whether the retention policy is enabled.\";}s:4:\"days\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:0;s:11:\"description\";s:95:\"the
  number of days for the retention in days. A value of 0 will retain the events indefinitely.\";}}s:8:\"required\";a:2:{i:0;s:7:\"enabled\";i:1;s:4:\"days\";}s:11:\"description\";s:43:\"Specifies
  the retention policy for the log.\";}s:20:\"LogProfileProperties\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:9:\"locations\";i:1;s:10:\"categories\";i:2;s:15:\"retentionPolicy\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"storageAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"the
  resource id of the storage account to which you would like to send the Activity
  Log.\";}s:16:\"serviceBusRuleId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:224:\"The
  service bus rule ID of the service bus namespace in which you would like to have
  Event Hubs created for streaming the Activity Log. The rule ID is of the format:
  '{service bus resource ID}/authorizationrules/{key name}'.\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:160:\"List
  of regions for which Activity Log events should be stored or streamed. It is a comma
  separated list of valid ARM locations including the 'global' location.\";}s:10:\"categories\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:139:\"the
  categories of the logs. These categories are created as is convenient to the user.
  Some values are: 'Write', 'Delete', and/or 'Action.'\";}s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:47:\"the
  retention policy for the events in the log.\";}}s:11:\"description\";s:27:\"The
  log profile properties.\";}s:18:\"LogProfileResource\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:34:\"#/definitions/LogProfileProperties\";s:11:\"description\";s:43:\"The
  log profile properties of the resource.\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:11:\"description\";s:25:\"The
  log profile resource.\";}s:23:\"LogProfileResourcePatch\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  log profile resource for patch operations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:34:\"#/definitions/LogProfileProperties\";s:11:\"description\";s:51:\"The
  log profile properties for an update operation.\";}}}s:20:\"LogProfileCollection\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/LogProfileResource\";}s:11:\"description\";s:31:\"the
  values of the log profiles.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:40:\"Represents
  a collection of log profiles.\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}}}"
...
