---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2018-12-01\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}:
    delete:
      tags:
      - LoadBalancers
      operationId: LoadBalancers_Delete
      description: Deletes the specified load balancer.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: Request successful. Resource does not exist.
        202:
          description: Accepted and the operation will complete asynchronously.
        200:
          description: Delete successful.
      x-ms-examples:
        Delete load balancer:
          $ref: ./examples/LoadBalancerDelete.json
      x-ms-long-running-operation: true
    get:
      tags:
      - LoadBalancers
      operationId: LoadBalancers_Get
      description: Gets the specified load balancer.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: $expand
        in: query
        required: false
        type: string
        description: Expands referenced resources.
      responses:
        200:
          description: Request successful. The operation returns the resulting LoadBalancer
            resource.
          schema:
            $ref: '#/definitions/LoadBalancer'
      x-ms-examples:
        Get load balancer:
          $ref: ./examples/LoadBalancerGet.json
    put:
      tags:
      - LoadBalancers
      operationId: LoadBalancers_CreateOrUpdate
      description: Creates or updates a load balancer.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/LoadBalancer'
        description: Parameters supplied to the create or update load balancer operation.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: Create successful. The operation returns the resulting LoadBalancer
            resource.
          schema:
            $ref: '#/definitions/LoadBalancer'
        200:
          description: Update successful. The operation returns the resulting LoadBalancer
            resource.
          schema:
            $ref: '#/definitions/LoadBalancer'
      x-ms-examples:
        Create load balancer:
          $ref: ./examples/LoadBalancerCreate.json
        Create load balancer with Standard SKU:
          $ref: ./examples/LoadBalancerCreateStandardSku.json
        Create load balancer with Frontend IP in Zone 1:
          $ref: ./examples/LoadBalancerCreateWithZones.json
        Create load balancer with inbound nat pool:
          $ref: ./examples/LoadBalancerCreateWithInboundNatPool.json
      x-ms-long-running-operation: true
    patch:
      tags:
      - LoadBalancers
      operationId: LoadBalancers_UpdateTags
      description: Updates a load balancer tags.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: ./network.json#/definitions/TagsObject
        description: Parameters supplied to update load balancer tags.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Update successful. The operation returns the resulting LoadBalancer
            resource.
          schema:
            $ref: '#/definitions/LoadBalancer'
      x-ms-examples:
        Update load balancer tags:
          $ref: ./examples/LoadBalancerUpdateTags.json
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/loadBalancers:
    get:
      tags:
      - LoadBalancers
      operationId: LoadBalancers_ListAll
      description: Gets all the load balancers in a subscription.
      parameters:
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of LoadBalancer
            resources.
          schema:
            $ref: '#/definitions/LoadBalancerListResult'
      x-ms-examples:
        List all load balancers:
          $ref: ./examples/LoadBalancerListAll.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers:
    get:
      tags:
      - LoadBalancers
      operationId: LoadBalancers_List
      description: Gets all the load balancers in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of LoadBalancer
            resources.
          schema:
            $ref: '#/definitions/LoadBalancerListResult'
      x-ms-examples:
        List load balancers in resource group:
          $ref: ./examples/LoadBalancerList.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/backendAddressPools
  : get:
      tags:
      - LoadBalancers
      operationId: LoadBalancerBackendAddressPools_List
      description: Gets all the load balancer backed address pools.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of LoadBalancer
            BackendAddressPool resources.
          schema:
            $ref: '#/definitions/LoadBalancerBackendAddressPoolListResult'
      x-ms-examples:
        LoadBalancerBackendAddressPoolList:
          $ref: ./examples/LoadBalancerBackendAddressPoolList.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/backendAddressPools/{backendAddressPoolName}
  : get:
      tags:
      - LoadBalancers
      operationId: LoadBalancerBackendAddressPools_Get
      description: Gets load balancer backend address pool.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - name: backendAddressPoolName
        in: path
        required: true
        type: string
        description: The name of the backend address pool.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns LoadBalancer BackendAddressPool
            resource.
          schema:
            $ref: '#/definitions/BackendAddressPool'
      x-ms-examples:
        LoadBalancerBackendAddressPoolGet:
          $ref: ./examples/LoadBalancerBackendAddressPoolGet.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/frontendIPConfigurations
  : get:
      tags:
      - LoadBalancers
      operationId: LoadBalancerFrontendIPConfigurations_List
      description: Gets all the load balancer frontend IP configurations.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of LoadBalancer
            FrontendIPConfiguration resources.
          schema:
            $ref: '#/definitions/LoadBalancerFrontendIPConfigurationListResult'
      x-ms-examples:
        LoadBalancerFrontendIPConfigurationList:
          $ref: ./examples/LoadBalancerFrontendIPConfigurationList.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/frontendIPConfigurations/{frontendIPConfigurationName}
  : get:
      tags:
      - LoadBalancers
      operationId: LoadBalancerFrontendIPConfigurations_Get
      description: Gets load balancer frontend IP configuration.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - name: frontendIPConfigurationName
        in: path
        required: true
        type: string
        description: The name of the frontend IP configuration.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns LoadBalancer FrontendIPConfiguration
            resource.
          schema:
            $ref: '#/definitions/FrontendIPConfiguration'
      x-ms-examples:
        LoadBalancerFrontendIPConfigurationGet:
          $ref: ./examples/LoadBalancerFrontendIPConfigurationGet.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/inboundNatRules
  : get:
      tags:
      - LoadBalancers
      operationId: InboundNatRules_List
      description: Gets all the inbound nat rules in a load balancer.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of LoadBalancer
            InboundNatRule resources.
          schema:
            $ref: '#/definitions/InboundNatRuleListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        InboundNatRuleList:
          $ref: ./examples/InboundNatRuleList.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/inboundNatRules/{inboundNatRuleName}
  : delete:
      tags:
      - LoadBalancers
      operationId: InboundNatRules_Delete
      description: Deletes the specified load balancer inbound nat rule.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - name: inboundNatRuleName
        in: path
        required: true
        type: string
        description: The name of the inbound nat rule.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: Request successful. Resource does not exist.
        202:
          description: Accepted and the operation will complete asynchronously.
        200:
          description: Delete successful.
      x-ms-examples:
        InboundNatRuleDelete:
          $ref: ./examples/InboundNatRuleDelete.json
      x-ms-long-running-operation: true
    get:
      tags:
      - LoadBalancers
      operationId: InboundNatRules_Get
      description: Gets the specified load balancer inbound nat rule.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - name: inboundNatRuleName
        in: path
        required: true
        type: string
        description: The name of the inbound nat rule.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: $expand
        in: query
        required: false
        type: string
        description: Expands referenced resources.
      responses:
        200:
          description: Request successful. The operation returns the resulting InboundNatRule
            resource.
          schema:
            $ref: '#/definitions/InboundNatRule'
      x-ms-examples:
        InboundNatRuleGet:
          $ref: ./examples/InboundNatRuleGet.json
    put:
      tags:
      - LoadBalancers
      operationId: InboundNatRules_CreateOrUpdate
      description: Creates or updates a load balancer inbound nat rule.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - name: inboundNatRuleName
        in: path
        required: true
        type: string
        description: The name of the inbound nat rule.
      - name: inboundNatRuleParameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/InboundNatRule'
        description: Parameters supplied to the create or update inbound nat rule
          operation.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: Create successful. The operation returns the resulting InboundNatRule
            resource.
          schema:
            $ref: '#/definitions/InboundNatRule'
        200:
          description: Update successful. The operation returns the resulting InboundNatRule
            resource.
          schema:
            $ref: '#/definitions/InboundNatRule'
      x-ms-long-running-operation: true
      x-ms-examples:
        InboundNatRuleCreate:
          $ref: ./examples/InboundNatRuleCreate.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/loadBalancingRules
  : get:
      tags:
      - LoadBalancers
      operationId: LoadBalancerLoadBalancingRules_List
      description: Gets all the load balancing rules in a load balancer.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of LoadBalancer
            LoadBalancingRule resources.
          schema:
            $ref: '#/definitions/LoadBalancerLoadBalancingRuleListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        LoadBalancerLoadBalancingRuleList:
          $ref: ./examples/LoadBalancerLoadBalancingRuleList.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/loadBalancingRules/{loadBalancingRuleName}
  : get:
      tags:
      - LoadBalancers
      operationId: LoadBalancerLoadBalancingRules_Get
      description: Gets the specified load balancer load balancing rule.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - name: loadBalancingRuleName
        in: path
        required: true
        type: string
        description: The name of the load balancing rule.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns the resulting LoadBalancingRule
            resource.
          schema:
            $ref: '#/definitions/LoadBalancingRule'
      x-ms-examples:
        LoadBalancerLoadBalancingRuleGet:
          $ref: ./examples/LoadBalancerLoadBalancingRuleGet.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/outboundRules
  : get:
      tags:
      - LoadBalancers
      operationId: LoadBalancerOutboundRules_List
      description: Gets all the outbound rules in a load balancer.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of LoadBalancer
            OutboundRule resources.
          schema:
            $ref: '#/definitions/LoadBalancerOutboundRuleListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        LoadBalancerOutboundRuleList:
          $ref: ./examples/LoadBalancerOutboundRuleList.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/outboundRules/{outboundRuleName}
  : get:
      tags:
      - LoadBalancers
      operationId: LoadBalancerOutboundRules_Get
      description: Gets the specified load balancer outbound rule.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - name: outboundRuleName
        in: path
        required: true
        type: string
        description: The name of the outbound rule.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns the resulting OutboundRule
            resource.
          schema:
            $ref: '#/definitions/OutboundRule'
      x-ms-examples:
        LoadBalancerOutboundRuleGet:
          $ref: ./examples/LoadBalancerOutboundRuleGet.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/networkInterfaces
  : get:
      tags:
      - LoadBalancers
      operationId: LoadBalancerNetworkInterfaces_List
      description: Gets associated load balancer network interfaces.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of NetworkInterface
            resources.
          schema:
            $ref: ./networkInterface.json#/definitions/NetworkInterfaceListResult
      x-ms-examples:
        LoadBalancerNetworkInterfaceListVmss:
          $ref: ./examples/LoadBalancerNetworkInterfaceListVmss.json
        LoadBalancerNetworkInterfaceListSimple:
          $ref: ./examples/LoadBalancerNetworkInterfaceListSimple.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/probes
  : get:
      tags:
      - LoadBalancers
      operationId: LoadBalancerProbes_List
      description: Gets all the load balancer probes.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of LoadBalancer
            Probe resources.
          schema:
            $ref: '#/definitions/LoadBalancerProbeListResult'
      x-ms-examples:
        LoadBalancerProbeList:
          $ref: ./examples/LoadBalancerProbeList.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/probes/{probeName}
  : get:
      tags:
      - LoadBalancers
      operationId: LoadBalancerProbes_Get
      description: Gets load balancer probe.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: loadBalancerName
        in: path
        required: true
        type: string
        description: The name of the load balancer.
      - name: probeName
        in: path
        required: true
        type: string
        description: The name of the probe.
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns LoadBalancer Probe
            resource.
          schema:
            $ref: '#/definitions/Probe'
      x-ms-examples:
        LoadBalancerProbeGet:
          $ref: ./examples/LoadBalancerProbeGet.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":25:{s:15:\"LoadBalancerSku\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Name
  of a load balancer SKU.\";s:4:\"enum\";a:2:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"LoadBalancerSkuName\";s:13:\"modelAsString\";b:1;}}}s:11:\"description\";s:22:\"SKU
  of a load balancer\";}s:39:\"FrontendIPConfigurationPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"inboundNatRules\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}s:11:\"description\";s:56:\"Read
  only. Inbound rules URIs that use this frontend IP.\";}s:15:\"inboundNatPools\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}s:11:\"description\";s:56:\"Read
  only. Inbound pools URIs that use this frontend IP.\";}s:13:\"outboundRules\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}s:11:\"description\";s:57:\"Read
  only. Outbound rules URIs that use this frontend IP.\";}s:18:\"loadBalancingRules\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}s:11:\"description\";s:57:\"Gets
  load balancing rules URIs that use this frontend IP.\";}s:16:\"privateIPAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  private IP address of the IP configuration.\";}s:25:\"privateIPAllocationMethod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"The
  Private IP allocation method. Possible values are: 'Static' and 'Dynamic'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"IPAllocationMethod\";s:13:\"modelAsString\";b:1;}}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"./virtualNetwork.json#/definitions/Subnet\";s:11:\"description\";s:37:\"The
  reference of the subnet resource.\";}s:15:\"publicIPAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"./publicIpAddress.json#/definitions/PublicIPAddress\";s:11:\"description\";s:40:\"The
  reference of the Public IP resource.\";}s:14:\"publicIPPrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:47:\"The
  reference of the Public IP Prefix resource.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"Gets
  the provisioning state of the public IP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:11:\"description\";s:61:\"Properties of Frontend
  IP Configuration of the load balancer.\";}s:23:\"FrontendIPConfiguration\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:53:\"#/definitions/FrontendIPConfigurationPropertiesFormat\";s:11:\"description\";s:38:\"Properties
  of the load balancer probe.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}s:5:\"zones\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:91:\"A
  list of availability zones denoting the IP allocated for the resource needs to come
  from.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}}s:11:\"description\";s:41:\"Frontend
  IP address of the load balancer.\";}s:34:\"BackendAddressPoolPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:23:\"backendIPConfigurations\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"./networkInterface.json#/definitions/NetworkInterfaceIPConfiguration\";}s:11:\"description\";s:76:\"Gets
  collection of references to IP addresses defined in network interfaces.\";}s:18:\"loadBalancingRules\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}s:11:\"description\";s:61:\"Gets
  load balancing rules that use this backend address pool.\";}s:12:\"outboundRule\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:55:\"Gets
  outbound rules that use this backend address pool.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"Get
  provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";}}s:11:\"description\";s:39:\"Properties of the backend address
  pool.\";}s:18:\"BackendAddressPool\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:48:\"#/definitions/BackendAddressPoolPropertiesFormat\";s:11:\"description\";s:49:\"Properties
  of load balancer backend address pool.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}}s:11:\"description\";s:29:\"Pool
  of backend IP addresses.\";}s:33:\"LoadBalancingRulePropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:23:\"frontendIPConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:37:\"A
  reference to frontend IP addresses.\";}s:18:\"backendAddressPool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:103:\"A
  reference to a pool of DIPs. Inbound traffic is randomly load balanced across IPs
  in the backend IPs.\";}s:5:\"probe\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:73:\"The
  reference of the load balancer probe used by the load balancing rule.\";}s:8:\"protocol\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TransportProtocol\";}s:16:\"loadDistribution\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  load distribution policy for this rule. Possible values are 'Default', 'SourceIP',
  and 'SourceIPProtocol'.\";s:4:\"enum\";a:3:{i:0;s:7:\"Default\";i:1;s:8:\"SourceIP\";i:2;s:16:\"SourceIPProtocol\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"LoadDistribution\";s:13:\"modelAsString\";b:1;}}s:12:\"frontendPort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:183:\"The
  port for the external endpoint. Port numbers for each rule must be unique within
  the Load Balancer. Acceptable values are between 0 and 65534. Note that value 0
  enables \"Any Port\"\";}s:11:\"backendPort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:135:\"The
  port used for internal connections on the endpoint. Acceptable values are between
  0 and 65535. Note that value 0 enables \"Any Port\"\";}s:20:\"idleTimeoutInMinutes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:178:\"The
  timeout for the TCP idle connection. The value can be set between 4 and 30 minutes.
  The default value is 4 minutes. This element is only used when the protocol is set
  to TCP.\";}s:16:\"enableFloatingIP\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:276:\"Configures
  a virtual machine's endpoint for the floating IP capability required to configure
  a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn
  Availability Groups in SQL server. This setting can't be changed after you create
  the endpoint.\";}s:14:\"enableTcpReset\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:153:\"Receive
  bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination.
  This element is only used when the protocol is set to TCP.\";}s:19:\"disableOutboundSnat\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:129:\"Configures
  SNAT for the VMs in the backend pool to use the publicIP address specified in the
  frontend of the load balancing rule.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"Gets
  the provisioning state of the PublicIP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:8:\"required\";a:2:{i:0;s:8:\"protocol\";i:1;s:12:\"frontendPort\";}s:11:\"description\";s:32:\"Properties
  of the load balancer.\";}s:17:\"LoadBalancingRule\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:47:\"#/definitions/LoadBalancingRulePropertiesFormat\";s:11:\"description\";s:48:\"Properties
  of load balancer load balancing rule.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}}s:11:\"description\";s:42:\"A
  load balancing rule for a load balancer.\";}s:21:\"ProbePropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"loadBalancingRules\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}s:11:\"description\";s:44:\"The
  load balancer rules that use this probe.\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:280:\"The
  protocol of the end point. Possible values are: 'Http', 'Tcp', or 'Https'. If 'Tcp'
  is specified, a received ACK is required for the probe to be successful. If 'Http'
  or 'Https' is specified, a 200 OK response from the specifies URI is required for
  the probe to be successful.\";s:4:\"enum\";a:3:{i:0;s:4:\"Http\";i:1;s:3:\"Tcp\";i:2;s:5:\"Https\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"ProbeProtocol\";s:13:\"modelAsString\";b:1;}}s:4:\"port\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:87:\"The
  port for communicating the probe. Possible values range from 1 to 65535, inclusive.\";}s:17:\"intervalInSeconds\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:300:\"The
  interval, in seconds, for how frequently to probe the endpoint for health status.
  Typically, the interval is slightly less than half the allocated timeout period
  (in seconds) which allows two full probes before taking the instance out of rotation.
  The default value is 15, the minimum value is 5.\";}s:14:\"numberOfProbes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:232:\"The
  number of probes where if no response, will result in stopping further traffic from
  being delivered to the endpoint. This values allows endpoints to be taken out of
  rotation faster or slower than the typical times used in Azure.\";}s:11:\"requestPath\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:158:\"The
  URI used for requesting health status from the VM. Path is required if a protocol
  is set to http. Otherwise, it is not allowed. There is no default value.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"Gets
  the provisioning state of the public IP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:8:\"required\";a:2:{i:0;s:8:\"protocol\";i:1;s:4:\"port\";}s:11:\"description\";s:29:\"Load
  balancer probe resource.\";}s:5:\"Probe\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:35:\"#/definitions/ProbePropertiesFormat\";s:11:\"description\";s:34:\"Properties
  of load balancer probe.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}}s:11:\"description\";s:22:\"A
  load balancer probe.\";}s:30:\"InboundNatRulePropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:23:\"frontendIPConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:37:\"A
  reference to frontend IP addresses.\";}s:22:\"backendIPConfiguration\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"$ref\";s:68:\"./networkInterface.json#/definitions/NetworkInterfaceIPConfiguration\";s:11:\"description\";s:183:\"A
  reference to a private IP address defined on a network interface of a VM. Traffic
  sent to the frontend port of each of the frontend IP configurations is forwarded
  to the backend IP.\";}s:8:\"protocol\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TransportProtocol\";}s:12:\"frontendPort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:144:\"The
  port for the external endpoint. Port numbers for each rule must be unique within
  the Load Balancer. Acceptable values range from 1 to 65534.\";}s:11:\"backendPort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:81:\"The
  port used for the internal endpoint. Acceptable values range from 1 to 65535.\";}s:20:\"idleTimeoutInMinutes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:178:\"The
  timeout for the TCP idle connection. The value can be set between 4 and 30 minutes.
  The default value is 4 minutes. This element is only used when the protocol is set
  to TCP.\";}s:16:\"enableFloatingIP\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:276:\"Configures
  a virtual machine's endpoint for the floating IP capability required to configure
  a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn
  Availability Groups in SQL server. This setting can't be changed after you create
  the endpoint.\";}s:14:\"enableTcpReset\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:153:\"Receive
  bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination.
  This element is only used when the protocol is set to TCP.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"Gets
  the provisioning state of the public IP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:11:\"description\";s:35:\"Properties of the inbound
  NAT rule.\";}s:14:\"InboundNatRule\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:44:\"#/definitions/InboundNatRulePropertiesFormat\";s:11:\"description\";s:45:\"Properties
  of load balancer inbound nat rule.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}}s:11:\"description\";s:38:\"Inbound
  NAT rule of the load balancer.\";}s:30:\"InboundNatPoolPropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:23:\"frontendIPConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:37:\"A
  reference to frontend IP addresses.\";}s:8:\"protocol\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TransportProtocol\";}s:22:\"frontendPortRangeStart\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:179:\"The
  first port number in the range of external ports that will be used to provide Inbound
  Nat to NICs associated with a load balancer. Acceptable values range between 1 and
  65534.\";}s:20:\"frontendPortRangeEnd\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:178:\"The
  last port number in the range of external ports that will be used to provide Inbound
  Nat to NICs associated with a load balancer. Acceptable values range between 1 and
  65535.\";}s:11:\"backendPort\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:98:\"The
  port used for internal connections on the endpoint. Acceptable values are between
  1 and 65535.\";}s:20:\"idleTimeoutInMinutes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:178:\"The
  timeout for the TCP idle connection. The value can be set between 4 and 30 minutes.
  The default value is 4 minutes. This element is only used when the protocol is set
  to TCP.\";}s:16:\"enableFloatingIP\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:276:\"Configures
  a virtual machine's endpoint for the floating IP capability required to configure
  a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn
  Availability Groups in SQL server. This setting can't be changed after you create
  the endpoint.\";}s:14:\"enableTcpReset\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:153:\"Receive
  bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination.
  This element is only used when the protocol is set to TCP.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"Gets
  the provisioning state of the PublicIP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:8:\"required\";a:4:{i:0;s:8:\"protocol\";i:1;s:22:\"frontendPortRangeStart\";i:2;s:20:\"frontendPortRangeEnd\";i:3;s:11:\"backendPort\";}s:11:\"description\";s:31:\"Properties
  of Inbound NAT pool.\";}s:14:\"InboundNatPool\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:44:\"#/definitions/InboundNatPoolPropertiesFormat\";s:11:\"description\";s:45:\"Properties
  of load balancer inbound nat pool.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}}s:11:\"description\";s:38:\"Inbound
  NAT pool of the load balancer.\";}s:28:\"OutboundRulePropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:22:\"allocatedOutboundPorts\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:48:\"The
  number of outbound ports to be used for NAT.\";}s:24:\"frontendIPConfigurations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}s:11:\"description\";s:47:\"The
  Frontend IP addresses of the load balancer.\";}s:18:\"backendAddressPool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:104:\"A
  reference to a pool of DIPs. Outbound traffic is randomly load balanced across IPs
  in the backend IPs.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"Gets
  the provisioning state of the PublicIP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}s:8:\"protocol\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Protocol
  - TCP, UDP or All\";s:4:\"enum\";a:3:{i:0;s:3:\"Tcp\";i:1;s:3:\"Udp\";i:2;s:3:\"All\";}}s:14:\"enableTcpReset\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:153:\"Receive
  bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination.
  This element is only used when the protocol is set to TCP.\";}s:20:\"idleTimeoutInMinutes\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"The
  timeout for the TCP idle connection\";}}s:8:\"required\";a:3:{i:0;s:18:\"backendAddressPool\";i:1;s:24:\"frontendIPConfigurations\";i:2;s:8:\"protocol\";}s:11:\"description\";s:35:\"Outbound
  pool of the load balancer.\";}s:12:\"OutboundRule\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:42:\"#/definitions/OutboundRulePropertiesFormat\";s:11:\"description\";s:42:\"Properties
  of load balancer outbound rule.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}}s:11:\"description\";s:35:\"Outbound
  pool of the load balancer.\";}s:28:\"LoadBalancerPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:24:\"frontendIPConfigurations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/FrontendIPConfiguration\";}s:11:\"description\";s:69:\"Object
  representing the frontend IPs to be used for the load balancer\";}s:19:\"backendAddressPools\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BackendAddressPool\";}s:11:\"description\";s:59:\"Collection
  of backend address pools used by a load balancer\";}s:18:\"loadBalancingRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LoadBalancingRule\";}s:11:\"description\";s:78:\"Object
  collection representing the load balancing rules Gets the provisioning \";}s:6:\"probes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Probe\";}s:11:\"description\";s:53:\"Collection
  of probe objects used in the load balancer\";}s:15:\"inboundNatRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InboundNatRule\";}s:11:\"description\";s:377:\"Collection
  of inbound NAT Rules used by a load balancer. Defining inbound NAT rules on your
  load balancer is mutually exclusive with defining an inbound NAT pool. Inbound NAT
  pools are referenced from virtual machine scale sets. NICs that are associated with
  individual virtual machines cannot reference an Inbound NAT pool. They have to reference
  individual inbound NAT rules.\";}s:15:\"inboundNatPools\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InboundNatPool\";}s:11:\"description\";s:564:\"Defines
  an external port range for inbound NAT to a single backend port on NICs associated
  with a load balancer. Inbound NAT rules are created automatically for each NIC associated
  with the Load Balancer using an external port from this range. Defining an Inbound
  NAT pool on your Load Balancer is mutually exclusive with defining inbound Nat rules.
  Inbound NAT pools are referenced from virtual machine scale sets. NICs that are
  associated with individual virtual machines cannot reference an inbound NAT pool.
  They have to reference individual inbound NAT rules.\";}s:13:\"outboundRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OutboundRule\";}s:11:\"description\";s:19:\"The
  outbound rules.\";}s:12:\"resourceGuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  resource GUID property of the load balancer resource.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"Gets
  the provisioning state of the PublicIP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:11:\"description\";s:32:\"Properties of the load
  balancer.\";}s:12:\"LoadBalancer\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/LoadBalancerSku\";s:11:\"description\";s:22:\"The
  load balancer SKU.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:42:\"#/definitions/LoadBalancerPropertiesFormat\";s:11:\"description\";s:28:\"Properties
  of load balancer.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"./network.json#/definitions/Resource\";}}s:11:\"description\";s:21:\"LoadBalancer
  resource\";}s:22:\"LoadBalancerListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LoadBalancer\";}s:11:\"description\";s:45:\"A
  list of load balancers in a resource group.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:48:\"Response for
  ListLoadBalancers API service call.\";}s:24:\"InboundNatRuleListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InboundNatRule\";}s:11:\"description\";s:47:\"A
  list of inbound nat rules in a load balancer.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:49:\"Response for
  ListInboundNatRule API service call.\";}s:40:\"LoadBalancerBackendAddressPoolListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BackendAddressPool\";}s:11:\"description\";s:51:\"A
  list of backend address pools in a load balancer.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:53:\"Response for
  ListBackendAddressPool API service call.\";}s:45:\"LoadBalancerFrontendIPConfigurationListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/FrontendIPConfiguration\";}s:11:\"description\";s:56:\"A
  list of frontend IP configurations in a load balancer.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:58:\"Response for
  ListFrontendIPConfiguration API service call.\";}s:39:\"LoadBalancerLoadBalancingRuleListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LoadBalancingRule\";}s:11:\"description\";s:50:\"A
  list of load balancing rules in a load balancer.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:52:\"Response for
  ListLoadBalancingRule API service call.\";}s:34:\"LoadBalancerOutboundRuleListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OutboundRule\";}s:11:\"description\";s:44:\"A
  list of outbound rules in a load balancer.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:47:\"Response for
  ListOutboundRule API service call.\";}s:27:\"LoadBalancerProbeListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Probe\";}s:11:\"description\";s:36:\"A
  list of probes in a load balancer.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:40:\"Response for
  ListProbe API service call.\";}s:17:\"TransportProtocol\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"The
  transport protocol for the endpoint. Possible values are 'Udp' or 'Tcp' or 'All'.\";s:4:\"enum\";a:3:{i:0;s:3:\"Udp\";i:1;s:3:\"Tcp\";i:2;s:3:\"All\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"TransportProtocol\";s:13:\"modelAsString\";b:1;}}}"
...
