---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:18:\"Azure SQL Database\";s:11:\"description\";s:180:\"Provides
  create, read, update and delete functionality for Azure SQL Database resources including
  servers, databases, elastic pools, recommendations, operations, and usage metrics.\";s:7:\"version\";s:10:\"2014-04-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/topQueries
  : get:
      tags:
      - Queries
      operationId: Queries_ListByDatabase
      description: Gets a list of top queries by database.
      x-ms-examples:
        List top queries:
          $ref: ./examples/QueriesList.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TopQueriesListResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/topQueries/{queryId}/statistics
  : get:
      tags:
      - Queries
      operationId: QueryStatistics_ListByQuery
      description: Lists a query's statistics.
      x-ms-examples:
        Get a query:
          $ref: ./examples/QueryStatisticsList.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: queryId
        type: string
        description: The id of the query
        required: true
        in: path
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/QueryStatisticListResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/topQueries/{queryId}/queryText
  : get:
      tags:
      - Queries
      operationId: QueryTexts_ListByQuery
      description: Gets a query's text.
      x-ms-examples:
        Get a query:
          $ref: ./examples/QueryTextsList.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: queryId
        type: string
        description: The id of the query
        required: true
        in: path
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/QueryTextListResult'
      x-ms-pageable:
        nextLinkName: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:10:\"TopQueries\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"aggregationFunction\";O:8:\"stdClass\":5:{s:11:\"description\";s:60:\"The
  function that is used to aggregate each query's metrics.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:3:\"min\";i:1;s:3:\"max\";i:2;s:3:\"avg\";i:3;s:3:\"sum\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"QueryAggregationFunction\";s:13:\"modelAsString\";b:0;}s:8:\"readOnly\";b:1;}s:13:\"executionType\";O:8:\"stdClass\":5:{s:11:\"description\";s:80:\"The
  execution type that is used to filter the query instances that are returned.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:3:\"any\";i:1;s:7:\"regular\";i:2;s:9:\"irregular\";i:3;s:7:\"aborted\";i:4;s:9:\"exception\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"QueryExecutionType\";s:13:\"modelAsString\";b:0;}s:8:\"readOnly\";b:1;}s:12:\"intervalType\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  duration of the interval (ISO8601 duration format).\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:18:\"numberOfTopQueries\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  number of requested queries.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;}s:20:\"observationStartTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  start time for queries that are returned (ISO8601 format)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:18:\"observationEndTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  end time for queries that are returned (ISO8601 format)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:14:\"observedMetric\";O:8:\"stdClass\":5:{s:11:\"description\";s:55:\"The
  type of metric to use for ordering the top metrics.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:3:\"cpu\";i:1;s:2:\"io\";i:2;s:5:\"logio\";i:3;s:8:\"duration\";i:4;s:14:\"executionCount\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"QueryObservedMetricType\";s:13:\"modelAsString\";b:0;}s:8:\"readOnly\";b:1;}s:7:\"queries\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/QueryStatistic\";}s:11:\"description\";s:20:\"The
  list of queries.\";s:8:\"readOnly\";b:1;}}s:11:\"description\";s:17:\"A database
  query.\";}s:14:\"QueryStatistic\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"queryId\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  id of the query\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"intervals\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/QueryInterval\";}s:11:\"description\";s:28:\"The
  list of query intervals.\";s:8:\"readOnly\";b:1;}}s:11:\"description\";s:17:\"A
  database query.\";}s:13:\"QueryInterval\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"intervalStartTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  start time of the measurement interval (ISO8601 format).\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:14:\"executionCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"The
  number of times the query was executed during this interval.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;}s:7:\"metrics\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryMetric\";}s:11:\"description\";s:47:\"The
  list of query metrics during this interval.\";s:8:\"readOnly\";b:1;}}s:11:\"description\";s:17:\"A
  database query.\";}s:11:\"QueryMetric\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  name of the metric\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  name of the metric for display in user interface\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"unit\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"The
  unit of measurement\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:10:\"percentage\";i:1;s:2:\"KB\";i:2;s:12:\"microseconds\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"QueryMetricUnit\";s:13:\"modelAsString\";b:0;}s:8:\"readOnly\";b:1;}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"The
  measured value\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;}}s:11:\"description\";s:17:\"A
  database query.\";}s:20:\"TopQueriesListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TopQueries\";}s:11:\"description\";s:24:\"The
  list of top queries.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:53:\"Represents
  the response to a get top queries request.\";}s:24:\"QueryStatisticListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/QueryStatistic\";}s:11:\"description\";s:10:\"The
  query.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:47:\"Represents
  the response to a get query request.\";}s:9:\"QueryText\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  type.\";}s:9:\"queryText\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Query
  text.\";}}}s:19:\"QueryTextListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/QueryText\";}s:11:\"description\";s:15:\"The
  query text.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:52:\"Represents
  the response to a get query text request.\";}}"
...
