---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:288:\"Use these REST
  APIs for performing operations on logger entity Azure API Management deployment.The
  Logger entity in API Management represents an event sink that you can use to log
  API Management events. Currently the Logger entity supports logging API Management
  events to Azure EventHub.\";s:5:\"title\";s:19:\"ApiManagementClient\";s:7:\"version\";s:10:\"2018-01-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:172:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/apimloggers.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:25:\"apimanagement-apimloggers\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:31:\"azure_apimanagement_apimloggers\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/loggers
  : get:
      description: Lists a collection of loggers in the specified service instance.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-log-event-hubs
      operationId: Logger_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: '| Field | Supported operators    | Supported functions                         |n|-------|------------------------|---------------------------------------------|n|
          id    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith
          |n| type  | eq                     |                                             |'
        in: query
        name: $filter
        required: false
        type: string
      - description: Number of records to return.
        format: int32
        in: query
        minimum: 1
        name: $top
        required: false
        type: integer
        x-ms-parameter-location: method
      - description: Number of records to skip.
        format: int32
        in: query
        minimum: 0
        name: $skip
        required: false
        type: integer
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: Lists a collection of Logger entities.
          schema:
            $ref: '#/definitions/LoggerCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - Loggers
      x-ms-examples:
        ApiManagementListLoggers:
          parameters:
            api-version: "2018-01-01"
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/buffered111
                  name: buffered111
                  properties:
                    credentials:
                      connectionString: Endpoint=sb://apimaccounts.servicebus.windows.net/;SharedAccessKeyName=Send;SharedAccessKey=*******************h=****
                    description: Sample description
                    isBuffered: true
                    loggerType: azureEventHub
                  type: Microsoft.ApiManagement/service/loggers
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/loggerId
                  name: loggerId
                  properties:
                    credentials:
                      connectionString: '{{Logger-Credentials-59544ef2e4bbd50d9468c618}}'
                      name: hydraeventhub
                    description: adding a new logger
                    isBuffered: true
                    loggerType: azureEventHub
                  type: Microsoft.ApiManagement/service/loggers
      x-ms-odata: '#/definitions/LoggerContract'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/loggers/{loggerid}
  : delete:
      description: Deletes the specified logger.
      operationId: Logger_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/LoggerIdParameter'
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: The logger was successfully deleted.
        204:
          description: The logger was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - Loggers
      x-ms-examples:
        ApiManagementDeleteLogger:
          parameters:
            If-Match: '*'
            api-version: "2018-01-01"
            loggerid: loggerId
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200: []
            204: []
    get:
      description: Gets the details of the logger specified by its identifier.
      operationId: Logger_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/LoggerIdParameter'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: The response body contains the specified Logger entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/LoggerContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - Loggers
      x-ms-examples:
        ApiManagementGetLogger:
          parameters:
            api-version: "2018-01-01"
            loggerid: templateLogger
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/kloudapilogger1
                name: kloudapilogger1
                properties:
                  credentials:
                    connectionString: Endpoint=sb://eventhubapim.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=************
                    name: testeventhub4
                  description: testeventhub3again
                  isBuffered: true
                  loggerType: azureEventHub
                type: Microsoft.ApiManagement/service/loggers
    head:
      description: Gets the entity state (Etag) version of the logger specified by
        its identifier.
      operationId: Logger_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/LoggerIdParameter'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: Specified logger entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - Loggers
      x-ms-examples:
        ApiManagementHeadLogger:
          parameters:
            api-version: "2018-01-01"
            loggerid: templateLogger
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              headers:
                etag: AAAAAAAAAAa=
    patch:
      description: Updates an existing logger.
      operationId: Logger_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/LoggerIdParameter'
      - description: Update parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/LoggerUpdateContract'
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        204:
          description: The existing logger was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - Loggers
      x-ms-examples:
        ApiManagementUpdateLogger:
          parameters:
            If-Match: '*'
            api-version: "2018-01-01"
            loggerid: loggerId
            parameters:
              properties:
                credentials:
                  connectionString: Endpoint=sb://hydraeventhub-ns.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=********=
                  name: hydraeventhub
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            204: []
    put:
      description: Creates or Updates a logger.
      operationId: Logger_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/LoggerIdParameter'
      - description: Create parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/LoggerContract'
      - description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        in: header
        name: If-Match
        required: false
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: The existing logger was successfully updated.
          schema:
            $ref: '#/definitions/LoggerContract'
        201:
          description: Logger was successfully created.
          schema:
            $ref: '#/definitions/LoggerContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - Loggers
      x-ms-examples:
        ApiManagementCreateAILogger:
          parameters:
            api-version: "2018-01-01"
            loggerid: loggerId
            parameters:
              properties:
                credentials:
                  instrumentationKey: 11................a1
                description: adding a new logger
                loggerType: applicationInsights
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/loggerId
                name: loggerId
                properties:
                  credentials:
                    instrumentationKey: '{{5a.......2a}}'
                  description: ~
                  isBuffered: false
                  loggerType: applicationInsights
                type: Microsoft.ApiManagement/service/loggers
            201:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/loggerId
                name: loggerId
                properties:
                  credentials:
                    instrumentationKey: '{{5a.......2a}}'
                  description: ~
                  isBuffered: false
                  loggerType: applicationInsights
                type: Microsoft.ApiManagement/service/loggers
        ApiManagementCreateEHLogger:
          parameters:
            api-version: "2018-01-01"
            loggerid: loggerId
            parameters:
              properties:
                credentials:
                  connectionString: Endpoint=sb://hydraeventhub-ns.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=********=
                  name: hydraeventhub
                description: adding a new logger
                loggerType: azureEventHub
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/loggerId
                name: loggerId
                properties:
                  credentials:
                    connectionString: '{{59544ef2e4bbd50d9468c617}}'
                    name: hydraeventhub
                  description: adding a new logger
                  isBuffered: true
                  loggerType: azureEventHub
                type: Microsoft.ApiManagement/service/loggers
            201:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/loggers/loggerId
                name: loggerId
                properties:
                  credentials:
                    connectionString: '{{59544ef2e4bbd50d9468c617}}'
                    name: hydraeventhub
                  description: adding a new logger
                  isBuffered: true
                  loggerType: azureEventHub
                type: Microsoft.ApiManagement/service/loggers
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:16:\"LoggerCollection\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Paged
  Logger list representation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Total
  record count number across all pages.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Next
  page link if any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Logger
  values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LoggerContract\";}s:4:\"type\";s:5:\"array\";}}}s:14:\"LoggerContract\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  Resource definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Resource
  type for API Management resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:15:\"Logger
  details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:38:\"#/definitions/LoggerContractProperties\";s:11:\"description\";s:34:\"Logger
  entity contract properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:24:\"LoggerContractProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:195:\"The
  Logger entity in API Management represents an event sink that you can use to log
  API Management events. Currently the Logger entity supports logging API Management
  events to Azure Event Hubs.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"credentials\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:134:\"The
  name and SendRule connection string of the event hub for azureEventHub logger.\nInstrumentation
  key for applicationInsights logger.\";s:7:\"example\";O:8:\"stdClass\":2:{s:16:\"connectionString\";s:95:\"Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...\";s:4:\"name\";s:4:\"apim\";}s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Logger
  description.\";s:9:\"maxLength\";i:256;s:4:\"type\";s:6:\"string\";}s:10:\"isBuffered\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Whether
  records are buffered in the logger before publishing. Default is assumed to be true.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"loggerType\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Logger
  type.\";s:4:\"enum\";a:2:{i:0;s:13:\"azureEventHub\";i:1;s:19:\"applicationInsights\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"LoggerType\";s:6:\"values\";a:2:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Azure
  Event Hub as log destination.\";s:5:\"value\";s:13:\"azureEventHub\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Azure
  Application Insights as log destination.\";s:5:\"value\";s:19:\"applicationInsights\";}}}}}s:8:\"required\";a:2:{i:0;s:10:\"loggerType\";i:1;s:11:\"credentials\";}}s:20:\"LoggerUpdateContract\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Logger
  update contract.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/LoggerUpdateParameters\";s:11:\"description\";s:41:\"Logger
  entity update contract properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:22:\"LoggerUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Parameters
  supplied to the Update Logger operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"credentials\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:19:\"Logger
  credentials.\";s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Logger
  description.\";s:4:\"type\";s:6:\"string\";}s:10:\"isBuffered\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Whether
  records are buffered in the logger before publishing. Default is assumed to be true.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"loggerType\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Logger
  type.\";s:4:\"enum\";a:2:{i:0;s:13:\"azureEventHub\";i:1;s:19:\"applicationInsights\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"LoggerType\";s:6:\"values\";a:2:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Azure
  Event Hub as log destination.\";s:5:\"value\";s:13:\"azureEventHub\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Azure
  Application Insights as log destination.\";s:5:\"value\";s:19:\"applicationInsights\";}}}}}}}"
...
