---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:18:\"2018-08-31-preview\";s:5:\"title\";s:20:\"Workload
  Monitor API\";s:11:\"description\";s:28:\"APIs for workload monitoring\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"Microsoft\";s:5:\"email\";s:21:\"wlmengg@microsoft.com\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.WorkloadMonitor/monitors
  : get:
      tags:
      - WLIExtension
      summary: Get list of a monitors of a resource.
      operationId: Monitors_ListByResource
      consumes: []
      produces:
      - application/json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceNamespace
        in: path
        description: The Namespace of the resource.
        required: true
        type: string
      - name: resourceType
        in: path
        description: The type of the resource.
        required: true
        type: string
      - name: resourceName
        in: path
        description: Name of the resource.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/$filter'
      - $ref: '#/parameters/$skiptoken'
      responses:
        200:
          description: OK. At least one monitor is found.
          schema:
            $ref: '#/definitions/MonitorsCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Monitors_ListByResource:
          $ref: ./examples/Monitors_ListByResource.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.WorkloadMonitor/monitors/{monitorId}
  : get:
      tags:
      - WLIExtension
      summary: Get details of a single monitor.
      operationId: Monitors_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceNamespace
        in: path
        description: The Namespace of the resource.
        required: true
        type: string
      - name: resourceType
        in: path
        description: The type of the resource.
        required: true
        type: string
      - name: resourceName
        in: path
        description: Name of the resource.
        required: true
        type: string
      - name: monitorId
        in: path
        description: Monitor Id.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK. monitor is found.
          schema:
            $ref: '#/definitions/Monitor'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        Monitors_Get:
          $ref: ./examples/Monitors_Get.json
    patch:
      tags:
      - WLIExtension
      summary: Update a Monitor's configuration.
      operationId: Monitors_Update
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceNamespace
        in: path
        description: The Namespace of the resource.
        required: true
        type: string
      - name: resourceType
        in: path
        description: The type of the resource.
        required: true
        type: string
      - name: resourceName
        in: path
        description: Name of the resource.
        required: true
        type: string
      - name: monitorId
        in: path
        description: Monitor Id.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: body
        in: body
        description: Body of the Monitor PATCH object.
        required: true
        schema:
          $ref: '#/definitions/Monitor'
      responses:
        200:
          description: OK. Existing monitor is updated.
          schema:
            $ref: '#/definitions/Monitor'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        Monitors_Update:
          $ref: ./examples/Monitors_Update.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.WorkloadMonitor/components
  : get:
      tags:
      - WLIExtension
      summary: Get list of components for a resource.
      operationId: Components_ListByResource
      consumes: []
      produces:
      - application/json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceNamespace
        in: path
        description: The Namespace of the resource.
        required: true
        type: string
      - name: resourceType
        in: path
        description: The type of the resource.
        required: true
        type: string
      - name: resourceName
        in: path
        description: Name of the resource.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/$select'
      - $ref: '#/parameters/$filter'
      - $ref: '#/parameters/$apply'
      - $ref: '#/parameters/$orderby'
      - $ref: '#/parameters/$expand'
      - $ref: '#/parameters/$top'
      - $ref: '#/parameters/$skiptoken'
      responses:
        200:
          description: OK. At least one component found.
          schema:
            $ref: '#/definitions/ComponentsCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Components_ListByResource:
          $ref: ./examples/Components_ListByResource.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.WorkloadMonitor/components/{componentId}
  : get:
      tags:
      - WLIExtension
      summary: Get details of a component.
      operationId: Components_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceNamespace
        in: path
        description: The Namespace of the resource.
        required: true
        type: string
      - name: resourceType
        in: path
        description: The type of the resource.
        required: true
        type: string
      - name: resourceName
        in: path
        description: Name of the resource.
        required: true
        type: string
      - $ref: '#/parameters/componentId'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/$select'
      - $ref: '#/parameters/$expand'
      responses:
        200:
          description: OK. component is found.
          schema:
            $ref: '#/definitions/Component'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        Components_Get:
          $ref: ./examples/Components_Get.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.WorkloadMonitor/monitorInstances
  : get:
      tags:
      - WLIExtension
      summary: Get list of monitor instances for a resource.
      operationId: MonitorInstances_ListByResource
      consumes: []
      produces:
      - application/json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceNamespace
        in: path
        description: The Namespace of the resource.
        required: true
        type: string
      - name: resourceType
        in: path
        description: The type of the resource.
        required: true
        type: string
      - name: resourceName
        in: path
        description: Name of the resource.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/$select'
      - $ref: '#/parameters/$filter'
      - $ref: '#/parameters/$apply'
      - $ref: '#/parameters/$orderby'
      - $ref: '#/parameters/$expand'
      - $ref: '#/parameters/$top'
      - $ref: '#/parameters/$skiptoken'
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/MonitorInstancesCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        MonitorInstances_ListByResource:
          $ref: ./examples/MonitorInstances_ListByResource.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.WorkloadMonitor/monitorInstances/{monitorInstanceId}
  : get:
      tags:
      - WLIExtension
      summary: Get details of a monitorInstance.
      operationId: MonitorInstances_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceNamespace
        in: path
        description: The Namespace of the resource.
        required: true
        type: string
      - name: resourceType
        in: path
        description: The type of the resource.
        required: true
        type: string
      - name: resourceName
        in: path
        description: Name of the resource.
        required: true
        type: string
      - $ref: '#/parameters/monitorInstanceId'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/$select'
      - $ref: '#/parameters/$expand'
      responses:
        200:
          description: OK. monitorInstance is found.
          schema:
            $ref: '#/definitions/MonitorInstance'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        MonitorInstances_Get:
          $ref: ./examples/MonitorInstances_Get.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.WorkloadMonitor/notificationSettings
  : get:
      tags:
      - WLIExtension
      summary: Get list of notification settings for a resource.
      operationId: NotificationSettings_ListByResource
      consumes: []
      produces:
      - application/json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceNamespace
        in: path
        description: The Namespace of the resource.
        required: true
        type: string
      - name: resourceType
        in: path
        description: The type of the resource.
        required: true
        type: string
      - name: resourceName
        in: path
        description: Name of the resource.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/$skiptoken'
      responses:
        200:
          description: OK. At least one component found.
          schema:
            $ref: '#/definitions/NotificationSettingsCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        NotificationSettings_ListByResource:
          $ref: ./examples/NotificationSettings_ListByResource.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.WorkloadMonitor/notificationSettings/{notificationSettingName}
  : get:
      tags:
      - WLIExtension
      summary: Get a of notification setting for a resource.
      operationId: NotificationSettings_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceNamespace
        in: path
        description: The Namespace of the resource.
        required: true
        type: string
      - name: resourceType
        in: path
        description: The type of the resource.
        required: true
        type: string
      - name: resourceName
        in: path
        description: Name of the resource.
        required: true
        type: string
      - $ref: '#/parameters/notificationSettingName'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK. At least one component found.
          schema:
            $ref: '#/definitions/NotificationSetting'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        NotificationSettings_Get:
          $ref: ./examples/NotificationSettings_Get.json
    put:
      tags:
      - WLIExtension
      summary: Update notification settings for a resource.
      operationId: NotificationSettings_Update
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter
      - name: resourceNamespace
        in: path
        description: The Namespace of the resource.
        required: true
        type: string
      - name: resourceType
        in: path
        description: The type of the resource.
        required: true
        type: string
      - name: resourceName
        in: path
        description: Name of the resource.
        required: true
        type: string
      - $ref: '#/parameters/notificationSettingName'
      - $ref: '#/parameters/api-version'
      - name: body
        in: body
        description: Body of the NotificationSetting PUT object.
        required: true
        schema:
          $ref: '#/definitions/NotificationSetting'
      responses:
        200:
          description: OK. At least one component found.
          schema:
            $ref: '#/definitions/NotificationSetting'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        NotificationSettings_Update:
          $ref: ./examples/NotificationSettings_Update.json
  /subscriptions/{subscriptionId}/providers/Microsoft.WorkloadMonitor/componentsSummary:
    get:
      tags:
      - WorkloadInsights
      summary: Get subscription wide details of components.
      operationId: ComponentsSummary_List
      consumes: []
      produces:
      - application/json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/$select'
      - $ref: '#/parameters/$filter'
      - $ref: '#/parameters/$apply'
      - $ref: '#/parameters/$orderby'
      - $ref: '#/parameters/$expand'
      - $ref: '#/parameters/$top'
      - $ref: '#/parameters/$skiptoken'
      responses:
        200:
          description: OK. At least one component found.
          schema:
            $ref: '#/definitions/ComponentsCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        ComponentsSummary_List:
          $ref: ./examples/ComponentsSummary_List.json
  /subscriptions/{subscriptionId}/providers/Microsoft.WorkloadMonitor/monitorInstancesSummary:
    get:
      tags:
      - WorkloadInsights
      summary: Get subscription wide health instances.
      operationId: MonitorInstancesSummary_List
      consumes: []
      produces:
      - application/json
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/$select'
      - $ref: '#/parameters/$filter'
      - $ref: '#/parameters/$apply'
      - $ref: '#/parameters/$orderby'
      - $ref: '#/parameters/$expand'
      - $ref: '#/parameters/$top'
      - $ref: '#/parameters/$skiptoken'
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/MonitorInstancesCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        MonitorInstancesSummary_List:
          $ref: ./examples/MonitorInstancesSummary_List.json
  /providers/Microsoft.WorkloadMonitor/operations:
    get:
      tags:
      - WorkloadInsights
      summary: Gets the details of all operations possible on the resource provider.
      operationId: Operations_List
      consumes: []
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/$skiptoken'
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/OperationListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":19:{s:18:\"MonitorsCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Model
  for collection of Monitor.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"URL
  for next set of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Collection
  of Monitor.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Monitor\";}s:8:\"readOnly\";b:1;}}}s:7:\"Monitor\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Model
  for Monitor\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:88:\"../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"For
  optimistic concurrency control.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"$ref\";s:31:\"#/definitions/MonitorProperties\";s:11:\"description\";s:30:\"Properties
  of monitor instance\";s:8:\"readOnly\";b:1;s:19:\"x-ms-client-flatten\";b:1;}}}s:17:\"MonitorProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Model
  for properties of a Monitor.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Description
  of the monitor\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"monitorId\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"ID
  of the monitor\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"monitorName\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Name
  of the monitor\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:18:\"monitorDisplayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"User
  friendly display name of the monitor\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"parentMonitorName\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Name
  of the parent monitor\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:24:\"parentMonitorDisplayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"User
  friendly display name of the parent monitor\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"monitorType\";O:8:\"stdClass\":5:{s:11:\"description\";s:19:\"Type
  of the monitor\";s:4:\"enum\";a:3:{i:0;s:9:\"Aggregate\";i:1;s:10:\"Dependency\";i:2;s:4:\"Unit\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"MonitorType\";s:13:\"modelAsString\";b:0;}}s:15:\"monitorCategory\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"Category
  of the monitor\";s:4:\"enum\";a:5:{i:0;s:18:\"AvailabilityHealth\";i:1;s:13:\"Configuration\";i:2;s:12:\"EntityHealth\";i:3;s:17:\"PerformanceHealth\";i:4;s:8:\"Security\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"MonitorCategory\";s:13:\"modelAsString\";b:0;}}s:15:\"componentTypeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Component
  Type Id of monitor\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"componentTypeName\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Component
  Type Name of monitor\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:24:\"componentTypeDisplayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Component
  Type Display Name of the monitor\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:12:\"monitorState\";O:8:\"stdClass\":5:{s:11:\"description\";s:40:\"Is
  the monitor state enabled or disabled\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"MonitorState\";s:13:\"modelAsString\";b:0;}}s:8:\"criteria\";O:8:\"stdClass\":4:{s:11:\"description\";s:145:\"Collection
  of MonitorCriteria. For PATCH calls, instead of partial list, complete list of expected
  criteria should be passed for proper updation.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MonitorCriteria\";}s:8:\"readOnly\";b:1;}s:15:\"alertGeneration\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"Generates
  alerts or not\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"AlertGeneration\";s:13:\"modelAsString\";b:1;}}s:9:\"frequency\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:49:\"Frequency
  at which monitor condition is evaluated\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}s:16:\"lookbackDuration\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:73:\"The
  duration in minutes in the past during which the monitor is evaluated\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}s:16:\"documentationURL\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"URL
  pointing to the documentation of the monitor\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"signalName\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Name
  of the signal on which this monitor is configured.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"signalType\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Type
  of the signal on which this monitor is configured.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:15:\"MonitorCriteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Criteria
  for monitor configuration\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"healthState\";O:8:\"stdClass\":5:{s:11:\"description\";s:35:\"Target
  health state of the criteria\";s:4:\"enum\";a:5:{i:0;s:5:\"Error\";i:1;s:7:\"Warning\";i:2;s:7:\"Success\";i:3;s:7:\"Unknown\";i:4;s:13:\"Uninitialized\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"HealthState\";s:13:\"modelAsString\";b:0;}}s:9:\"threshold\";O:8:\"stdClass\":4:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:32:\"Treshold
  value for this criteria\";s:4:\"type\";s:6:\"number\";s:8:\"readOnly\";b:1;}s:18:\"comparisonOperator\";O:8:\"stdClass\":5:{s:11:\"description\";s:44:\"Comparison
  enum on theshold of this criteria\";s:4:\"enum\";a:6:{i:0;s:6:\"Equals\";i:1;s:11:\"GreaterThan\";i:2;s:18:\"GreaterThanOrEqual\";i:3;s:8:\"LessThan\";i:4;s:15:\"LessThanOrEqual\";i:5;s:9:\"NotEquals\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"Operator\";s:13:\"modelAsString\";b:0;}}}}s:20:\"ComponentsCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Model
  for collection of components.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"URL
  to the next set of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Collection
  of components.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Component\";}s:8:\"readOnly\";b:1;}}}s:9:\"Component\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Model
  for component.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:88:\"../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"For
  optimistic concurrency control.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"$ref\";s:33:\"#/definitions/ComponentProperties\";s:11:\"description\";s:28:\"Properties
  of the component.\";s:8:\"readOnly\";b:1;s:19:\"x-ms-client-flatten\";b:1;}}}s:19:\"ComponentProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Model
  for properties of a component.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:11:\"workspaceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"ID
  of the workspace.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"solutionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"ID
  of the OMS solution this component belong to.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:12:\"workloadType\";O:8:\"stdClass\":5:{s:11:\"description\";s:21:\"Type
  of the workload.\";s:4:\"enum\";a:4:{i:0;s:6:\"BaseOS\";i:1;s:3:\"SQL\";i:2;s:3:\"IIS\";i:3;s:6:\"Apache\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"WorkloadType\";s:13:\"modelAsString\";b:1;}}s:13:\"componentName\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Name
  of the component.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:15:\"componentTypeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"ID
  of the component type.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"componentTypeName\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"Name
  of the component type. Qualifies the type of component such as whether it is a SQL
  database, logical disk, website, etc.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:26:\"componentTypeGroupCategory\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"Component
  type group category. Classification of component type groups into a logical category.
  e.g. Network, Disk, Memory, CPU.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"healthState\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"Health
  state of the component.\";s:4:\"enum\";a:5:{i:0;s:5:\"Error\";i:1;s:7:\"Warning\";i:2;s:7:\"Success\";i:3;s:7:\"Unknown\";i:4;s:13:\"Uninitialized\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"HealthState\";s:13:\"modelAsString\";b:0;}}s:19:\"healthStateCategory\";O:8:\"stdClass\":5:{s:11:\"description\";s:37:\"Category
  of component's health state.\";s:4:\"enum\";a:2:{i:0;s:8:\"Identity\";i:1;s:11:\"CustomGroup\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"HealthStateCategory\";s:13:\"modelAsString\";b:1;}}s:27:\"healthStateChangesStartTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:36:\"Start
  time for health state changes.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:25:\"healthStateChangesEndTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:34:\"End
  time for health state changes.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:25:\"lastHealthStateChangeTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:33:\"Time
  of last health state change.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"vmId\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"ID
  of the VM this component belongs to.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:6:\"vmName\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Name
  of the VM this component belongs to.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:6:\"vmTags\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Tags
  on the VM this component belongs to.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;}s:19:\"aggregateProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Properties
  requested in aggregation queries.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;}s:8:\"children\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"component
  children.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Component\";}s:8:\"readOnly\";b:1;}}}s:26:\"MonitorInstancesCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Model
  for collection of health instances.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"URL
  to the next set of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Collection
  of health instances.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MonitorInstance\";}s:8:\"readOnly\";b:1;}}}s:15:\"MonitorInstance\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Model
  for monitor instance.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:88:\"../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"For
  optimistic concurrency control.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"$ref\";s:39:\"#/definitions/MonitorInstanceProperties\";s:11:\"description\";s:35:\"Properties
  of the monitor instance.\";s:8:\"readOnly\";b:1;s:19:\"x-ms-client-flatten\";b:1;}}}s:25:\"MonitorInstanceProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Model
  for properties of a monitor instance.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:11:\"workspaceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"ID
  of the workspace.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"solutionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"ID
  of the OMS solution this health instance belong to.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:12:\"workloadType\";O:8:\"stdClass\":5:{s:11:\"description\";s:21:\"Type
  of the workload.\";s:4:\"enum\";a:4:{i:0;s:6:\"BaseOS\";i:1;s:3:\"SQL\";i:2;s:3:\"IIS\";i:3;s:6:\"Apache\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"WorkloadType\";s:13:\"modelAsString\";b:1;}}s:11:\"componentId\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"ID
  of the component.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"componentName\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Name
  of the component.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:15:\"componentTypeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"ID
  of the component type.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"componentTypeName\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"Name
  of the component type. Qualifies the type of component such as whether it is a SQL
  database, logical disk, website, etc.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"monitorId\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"ID
  of the monitor instance.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"monitorName\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Name
  of the monitor.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"monitorType\";O:8:\"stdClass\":5:{s:11:\"description\";s:138:\"Type
  of the monitor. The qualifier for the health criteria depending on the functionality
  it performs such as Unit, Aggregate, Dependency.\";s:4:\"enum\";a:3:{i:0;s:9:\"Aggregate\";i:1;s:10:\"Dependency\";i:2;s:4:\"Unit\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"MonitorType\";s:13:\"modelAsString\";b:0;}}s:15:\"monitorCategory\";O:8:\"stdClass\":5:{s:11:\"description\";s:137:\"Monitor
  type category. Indicates the attribute of the component that the health criteria
  monitors such as Performance, Availability, etc.\";s:4:\"enum\";a:5:{i:0;s:18:\"AvailabilityHealth\";i:1;s:13:\"Configuration\";i:2;s:12:\"EntityHealth\";i:3;s:17:\"PerformanceHealth\";i:4;s:8:\"Security\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"MonitorCategory\";s:13:\"modelAsString\";b:0;}}s:11:\"healthState\";O:8:\"stdClass\":5:{s:11:\"description\";s:33:\"Health
  state of monitor instance.\";s:4:\"enum\";a:5:{i:0;s:5:\"Error\";i:1;s:7:\"Warning\";i:2;s:7:\"Success\";i:3;s:7:\"Unknown\";i:4;s:13:\"Uninitialized\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"HealthState\";s:13:\"modelAsString\";b:0;}}s:19:\"healthStateCategory\";O:8:\"stdClass\":5:{s:11:\"description\";s:44:\"Category
  of monitor instance's health state.\";s:4:\"enum\";a:2:{i:0;s:8:\"Identity\";i:1;s:11:\"CustomGroup\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"HealthStateCategory\";s:13:\"modelAsString\";b:1;}}s:18:\"healthStateChanges\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Health
  state changes.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/HealthStateChange\";}s:8:\"readOnly\";b:1;}s:27:\"healthStateChangesStartTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:36:\"Start
  time for health state changes.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:25:\"healthStateChangesEndTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:34:\"End
  time for health state changes.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:25:\"lastHealthStateChangeTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:33:\"Time
  of last health state change.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:15:\"alertGeneration\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"Generates
  alert or not.\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"AlertGeneration\";s:13:\"modelAsString\";b:1;}}s:19:\"aggregateProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Properties
  requested in aggregation queries.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;}s:8:\"children\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Health
  instance children.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MonitorInstance\";}s:8:\"readOnly\";b:1;}}}s:17:\"HealthStateChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Model
  for health state change\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"healthState\";O:8:\"stdClass\":5:{s:11:\"description\";s:33:\"Health
  state of monitor instance.\";s:4:\"enum\";a:5:{i:0;s:5:\"Error\";i:1;s:7:\"Warning\";i:2;s:7:\"Success\";i:3;s:7:\"Unknown\";i:4;s:13:\"Uninitialized\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"HealthState\";s:13:\"modelAsString\";b:0;}}s:21:\"healthStateChangeTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:44:\"Time
  at which this Health state was reached.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:30:\"NotificationSettingsCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Model
  for collection of notificationSettings.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/NotificationSetting\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"URL
  to the next set of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}s:19:\"x-ms-azure-resource\";b:1;}s:19:\"NotificationSetting\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Model
  for NotificationSetting.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:88:\"../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"For
  optimistic concurrency control.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"$ref\";s:43:\"#/definitions/NotificationSettingProperties\";s:11:\"description\";s:35:\"Properties
  of Notification Settings\";s:8:\"readOnly\";b:1;s:19:\"x-ms-client-flatten\";b:1;}}}s:29:\"NotificationSettingProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Model
  for properties of a NotificationSetting.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"actionGroupResourceIds\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"List
  of action group resource ids to be notified\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;}}}s:19:\"OperationListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Container
  for a list of operations supported by the resource provider.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"URL
  to the next set of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"List
  of operations.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:8:\"readOnly\";b:1;}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Operation
  supported by the resource provider.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"display\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/OperationProperties\";s:11:\"description\";s:41:\"The
  properties of the resource operation.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  name of the resource operation.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:6:\"origin\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  origin of the operation.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:19:\"OperationProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Properties
  of an operation supported by the resource provider.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  description of the resource provider.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"This
  operation name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  provider name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  resource name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:18:\"ErrorFieldContract\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Error
  field contract.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Property
  level error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Human-readable
  representation of property-level error.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Property
  name.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Error
  body contract.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Service-defined
  error code. This code serves as a sub-status for the HTTP error code specified in
  the response.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Human-readable
  representation of the error.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  list of invalid fields send in request, in case of validation error.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ErrorFieldContract\";}}}}}"
...
