---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:80:\"Microsoft.Intune
  Resource provider Api features in the swagger-2.0 specification\";s:5:\"title\";s:30:\"IntuneResourceManagementClient\";s:7:\"version\";s:18:\"2015-01-14-preview\";s:21:\"x-apisguru-categories\";a:3:{i:0;s:10:\"enterprise\";i:1;s:5:\"cloud\";i:2;s:13:\"collaboration\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:97:\"https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:117:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-intune/2015-01-14-preview/swagger/intune.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:10:\"arm-intune\";s:6:\"x-tags\";a:6:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";i:2;s:6:\"mobile\";i:3;s:6:\"Office\";i:4;s:8:\"security\";i:5;s:10:\"management\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.Intune/locations:
    get:
      description: Returns location for user tenant.
      operationId: GetLocations
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: location response as a collection
          schema:
            $ref: '#/definitions/LocationCollection'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/hostName:
    get:
      description: Returns location for given tenant.
      operationId: GetLocationByHostName
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: single location response
          schema:
            $ref: '#/definitions/Location'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /providers/Microsoft.Intune/locations/{hostName}/AndroidPolicies/{policyName}/apps:
    get:
      description: Get apps for an AndroidMAMPolicy.
      operationId: Android_GetAppForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: false
        type: string
      - format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        required: false
        type: string
      responses:
        200:
          description: applications as collection response
          schema:
            $ref: '#/definitions/ApplicationCollection'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies:
    get:
      description: Returns Intune Android policies.
      operationId: Android_GetMAMPolicies
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: false
        type: string
      - format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        required: false
        type: string
      responses:
        200:
          description: android Policies response
          schema:
            $ref: '#/definitions/AndroidMAMPolicyCollection'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}:
    delete:
      description: Delete Android Policy
      operationId: Android_DeleteMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: No-Content.
        204:
          description: No-Content.
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    get:
      description: Returns AndroidMAMPolicy with given name.
      operationId: Android_GetMAMPolicyByName
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: select specific fields in entity.
        in: query
        name: $select
        required: false
        type: string
      responses:
        200:
          description: iOSMAMPolicy entity.
          schema:
            $ref: '#/definitions/AndroidMAMPolicy'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    patch:
      description: Patch AndroidMAMPolicy.
      operationId: Android_PatchMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Parameters supplied to the Create or update an android policy
          operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/AndroidMAMPolicy'
      responses:
        200:
          description: android entity.
          schema:
            $ref: '#/definitions/AndroidMAMPolicy'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      description: Creates or updates AndroidMAMPolicy.
      operationId: Android_CreateOrUpdateMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Parameters supplied to the Create or update an android policy
          operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/AndroidMAMPolicy'
      responses:
        200:
          description: android entity.
          schema:
            $ref: '#/definitions/AndroidMAMPolicy'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/apps/{appName}:
    delete:
      description: Delete App for Android Policy
      operationId: Android_DeleteAppForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - description: application unique Name
        in: path
        name: appName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: No-Content.
        204:
          description: No-Content.
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      description: Add app to an AndroidMAMPolicy.
      operationId: Android_AddAppForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - description: application unique Name
        in: path
        name: appName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Parameters supplied to the Create or update app to an android
          policy operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/MAMPolicyAppIdOrGroupIdPayload'
      responses:
        200:
          description: No-Content.
        204:
          description: No-Content.
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups:
    get:
      description: Returns groups for a given AndroidMAMPolicy.
      operationId: Android_GetGroupsForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: policy name for the tenant
        in: path
        name: policyName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: groups as collection response
          schema:
            $ref: '#/definitions/GroupsCollection'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups/{groupId}:
    delete:
      description: Delete Group for Android Policy
      operationId: Android_DeleteGroupForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - description: application unique Name
        in: path
        name: groupId
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: No-Content.
        204:
          description: No-Content.
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      description: Add group to an AndroidMAMPolicy.
      operationId: Android_AddGroupForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - description: group Id
        in: path
        name: groupId
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Parameters supplied to the Create or update app to an android
          policy operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/MAMPolicyAppIdOrGroupIdPayload'
      responses:
        200:
          description: No-Content.
        204:
          description: No-Content.
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /providers/Microsoft.Intune/locations/{hostName}/apps:
    get:
      description: Returns Intune Manageable apps.
      operationId: GetApps
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: false
        type: string
      - format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        required: false
        type: string
      responses:
        200:
          description: applications as collection response
          schema:
            $ref: '#/definitions/ApplicationCollection'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/flaggedUsers:
    get:
      description: Returns Intune flagged user collection
      operationId: GetMAMFlaggedUsers
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: false
        type: string
      - format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        required: false
        type: string
      responses:
        200:
          description: Flagged users as collection response
          schema:
            $ref: '#/definitions/FlaggedUserCollection'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}:
    get:
      description: Returns Intune flagged user details
      operationId: GetMAMFlaggedUserByName
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Flagged userName
        in: path
        name: userName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: select specific fields in entity.
        in: query
        name: $select
        required: false
        type: string
      responses:
        200:
          description: Flagged user details in response
          schema:
            $ref: '#/definitions/FlaggedUser'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}/flaggedEnrolledApps:
    get:
      description: Returns Intune flagged enrolled app collection for the User
      operationId: GetMAMUserFlaggedEnrolledApps
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: User name for the tenant
        in: path
        name: userName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: false
        type: string
      - format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        required: false
        type: string
      responses:
        200:
          description: Flagged enrolled Apps as collection response
          schema:
            $ref: '#/definitions/FlaggedEnrolledAppCollection'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies:
    get:
      description: Returns Intune iOSPolicies.
      operationId: Ios_GetMAMPolicies
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: false
        type: string
      - format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        required: false
        type: string
      responses:
        200:
          description: applications as collection response
          schema:
            $ref: '#/definitions/IOSMAMPolicyCollection'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}:
    delete:
      description: Delete Ios Policy
      operationId: Ios_DeleteMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: No-Content.
        204:
          description: No-Content.
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    get:
      description: Returns Intune iOS policies.
      operationId: Ios_GetMAMPolicyByName
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: select specific fields in entity.
        in: query
        name: $select
        required: false
        type: string
      responses:
        200:
          description: iOSMAMPolicy entity.
          schema:
            $ref: '#/definitions/iOSMAMPolicy'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    patch:
      description: ' patch an iOSMAMPolicy.'
      operationId: Ios_PatchMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Parameters supplied to the Create or update an android policy
          operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/iOSMAMPolicy'
      responses:
        200:
          description: iOSMAMPolicy entity.
          schema:
            $ref: '#/definitions/iOSMAMPolicy'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      description: Creates or updates iOSMAMPolicy.
      operationId: Ios_CreateOrUpdateMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Parameters supplied to the Create or update an android policy
          operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/iOSMAMPolicy'
      responses:
        200:
          description: iOSMAMPolicy entity.
          schema:
            $ref: '#/definitions/iOSMAMPolicy'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps:
    get:
      description: Get apps for an iOSMAMPolicy.
      operationId: Ios_GetAppForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: false
        type: string
      - format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        required: false
        type: string
      responses:
        200:
          description: applications as collection response
          schema:
            $ref: '#/definitions/ApplicationCollection'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps/{appName}:
    delete:
      description: Delete App for Ios Policy
      operationId: Ios_DeleteAppForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - description: application unique Name
        in: path
        name: appName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: No-Content.
        204:
          description: No-Content.
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      description: Add app to an iOSMAMPolicy.
      operationId: Ios_AddAppForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - description: application unique Name
        in: path
        name: appName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Parameters supplied to add an app to an ios policy.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/MAMPolicyAppIdOrGroupIdPayload'
      responses:
        200:
          description: No-Content.
        204:
          description: No-Content.
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups:
    get:
      description: Returns groups for a given iOSMAMPolicy.
      operationId: Ios_GetGroupsForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: policy name for the tenant
        in: path
        name: policyName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: groups as collection response
          schema:
            $ref: '#/definitions/GroupsCollection'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups/{groupId}:
    delete:
      description: Delete Group for iOS Policy
      operationId: Ios_DeleteGroupForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - description: application unique Name
        in: path
        name: groupId
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: No-Content.
        204:
          description: No-Content.
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      description: Add group to an iOSMAMPolicy.
      operationId: Ios_AddGroupForMAMPolicy
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: Unique name for the policy
        in: path
        name: policyName
        required: true
        type: string
      - description: group Id
        in: path
        name: groupId
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Parameters supplied to the Create or update app to an android
          policy operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/MAMPolicyAppIdOrGroupIdPayload'
      responses:
        200:
          description: No-Content.
        204:
          description: No-Content.
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /providers/Microsoft.Intune/locations/{hostName}/operationResults:
    get:
      description: Returns operationResults.
      operationId: GetOperationResults
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: false
        type: string
      - format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        required: false
        type: string
      responses:
        200:
          description: applications as collection response
          schema:
            $ref: '#/definitions/OperationResultCollection'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/statuses/default:
    get:
      description: Returns Intune Tenant level statuses.
      operationId: GetMAMStatuses
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: applications as collection response
          schema:
            $ref: '#/definitions/StatusesDefault'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices:
    get:
      description: Get devices for a user.
      operationId: GetMAMUserDevices
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: user unique Name
        in: path
        name: userName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: false
        type: string
      - format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: select specific fields in entity.
        in: query
        name: $select
        required: false
        type: string
      responses:
        200:
          description: devices as collection response
          schema:
            $ref: '#/definitions/DeviceCollection'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}:
    get:
      description: Get a unique device for a user.
      operationId: GetMAMUserDeviceByDeviceName
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: unique user name
        in: path
        name: userName
        required: true
        type: string
      - description: device name
        in: path
        name: deviceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - description: select specific fields in entity.
        in: query
        name: $select
        required: false
        type: string
      responses:
        200:
          description: Device entity.
          schema:
            $ref: '#/definitions/Device'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}/wipe:
    post:
      description: Wipe a device for a user.
      operationId: WipeMAMUserDevice
      parameters:
      - description: Location hostName for the tenant
        in: path
        name: hostName
        required: true
        type: string
      - description: unique user name
        in: path
        name: userName
        required: true
        type: string
      - description: device name
        in: path
        name: deviceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Wipe operation result.
          schema:
            $ref: '#/definitions/WipeDeviceOperationResult'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":38:{s:16:\"AndroidMAMPolicy\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:37:\"Android
  Policy entity for Intune MAM.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/AndroidMAMPolicyProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:26:\"AndroidMAMPolicyCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextlink\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AndroidMAMPolicy\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:26:\"AndroidMAMPolicyProperties\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/MAMPolicyProperties\";}}s:11:\"description\";s:33:\"Intune
  MAM iOS Policy Properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"fileEncryption\";O:8:\"stdClass\":3:{s:7:\"default\";s:8:\"required\";s:4:\"enum\";a:2:{i:0;s:8:\"required\";i:1;s:11:\"notRequired\";}s:4:\"type\";s:6:\"string\";}s:13:\"screenCapture\";O:8:\"stdClass\":3:{s:7:\"default\";s:5:\"allow\";s:4:\"enum\";a:2:{i:0;s:5:\"allow\";i:1;s:5:\"block\";}s:4:\"type\";s:6:\"string\";}}}s:11:\"Application\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:34:\"Application
  entity for Intune MAM.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ApplicationProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:21:\"ApplicationCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextlink\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Application\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:21:\"ApplicationProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"appId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"platform\";O:8:\"stdClass\":3:{s:7:\"default\";s:3:\"ios\";s:4:\"enum\";a:3:{i:0;s:3:\"ios\";i:1;s:7:\"android\";i:2;s:7:\"windows\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:12:\"friendlyName\";i:1;s:8:\"platform\";}}s:6:\"Device\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:25:\"Device
  entity for Intune.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DeviceProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:16:\"DeviceCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextlink\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Device\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:16:\"DeviceProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"deviceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"platform\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"platformVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:6:\"userId\";i:1;s:12:\"friendlyName\";i:2;s:8:\"platform\";i:3;s:15:\"platformVersion\";i:4;s:10:\"deviceType\";}}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}}s:18:\"FlaggedEnrolledApp\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:42:\"Flagged
  Enrolled App for the given tenant.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/FlaggedEnrolledAppProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:28:\"FlaggedEnrolledAppCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Flagged
  Enrolled App collection for the given tenant.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextlink\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FlaggedEnrolledApp\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:23:\"FlaggedEnrolledAppError\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"errorCode\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"severity\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:28:\"FlaggedEnrolledAppProperties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"deviceType\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/FlaggedEnrolledAppError\";}s:4:\"type\";s:5:\"array\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"platform\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:11:\"FlaggedUser\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:34:\"Flagged
  user for the given tenant.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/FlaggedUserProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:21:\"FlaggedUserCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Flagged
  user collection for the given tenant.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextlink\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FlaggedUser\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:21:\"FlaggedUserProperties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"errorCount\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:9:\"GroupItem\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:28:\"Group
  entity for Intune MAM.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/GroupProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:15:\"GroupProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"friendlyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"friendlyName\";}}s:16:\"GroupsCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextlink\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GroupItem\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:22:\"IOSMAMPolicyCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextlink\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/iOSMAMPolicy\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:8:\"Location\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:33:\"Location
  entity for given tenant.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/LocationProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:18:\"LocationCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextlink\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:18:\"LocationProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"hostName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"hostName\";}}s:30:\"MAMPolicyAppIdOrGroupIdPayload\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"MAM
  Policy request body for properties Intune MAM.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/MAMPolicyAppOrGroupIdProperties\";}}}s:31:\"MAMPolicyAppOrGroupIdProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Android
  Policy request body for Intune MAM.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:3:\"url\";}}s:19:\"MAMPolicyProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:27:\"accessRecheckOfflineTimeout\";O:8:\"stdClass\":2:{s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:26:\"accessRecheckOnlineTimeout\";O:8:\"stdClass\":2:{s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:19:\"appSharingFromLevel\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"none\";s:4:\"enum\";a:3:{i:0;s:4:\"none\";i:1;s:17:\"policyManagedApps\";i:2;s:7:\"allApps\";}s:4:\"type\";s:6:\"string\";}s:17:\"appSharingToLevel\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"none\";s:4:\"enum\";a:3:{i:0;s:4:\"none\";i:1;s:17:\"policyManagedApps\";i:2;s:7:\"allApps\";}s:4:\"type\";s:6:\"string\";}s:14:\"authentication\";O:8:\"stdClass\":3:{s:7:\"default\";s:8:\"required\";s:4:\"enum\";a:2:{i:0;s:8:\"required\";i:1;s:11:\"notRequired\";}s:4:\"type\";s:6:\"string\";}s:21:\"clipboardSharingLevel\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"blocked\";s:4:\"enum\";a:4:{i:0;s:7:\"blocked\";i:1;s:17:\"policyManagedApps\";i:2;s:28:\"policyManagedAppsWithPasteIn\";i:3;s:7:\"allApps\";}s:4:\"type\";s:6:\"string\";}s:10:\"dataBackup\";O:8:\"stdClass\":3:{s:7:\"default\";s:5:\"allow\";s:4:\"enum\";a:2:{i:0;s:5:\"allow\";i:1;s:5:\"block\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"deviceCompliance\";O:8:\"stdClass\":3:{s:7:\"default\";s:6:\"enable\";s:4:\"enum\";a:2:{i:0;s:6:\"enable\";i:1;s:7:\"disable\";}s:4:\"type\";s:6:\"string\";}s:17:\"fileSharingSaveAs\";O:8:\"stdClass\":3:{s:7:\"default\";s:5:\"allow\";s:4:\"enum\";a:2:{i:0;s:5:\"allow\";i:1;s:5:\"block\";}s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"groupStatus\";O:8:\"stdClass\":4:{s:7:\"default\";s:11:\"notTargeted\";s:4:\"enum\";a:2:{i:0;s:11:\"notTargeted\";i:1;s:8:\"targeted\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"managedBrowser\";O:8:\"stdClass\":3:{s:7:\"default\";s:8:\"required\";s:4:\"enum\";a:2:{i:0;s:8:\"required\";i:1;s:11:\"notRequired\";}s:4:\"type\";s:6:\"string\";}s:9:\"numOfApps\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:18:\"offlineWipeTimeout\";O:8:\"stdClass\":2:{s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:3:\"pin\";O:8:\"stdClass\":3:{s:7:\"default\";s:8:\"required\";s:4:\"enum\";a:2:{i:0;s:8:\"required\";i:1;s:11:\"notRequired\";}s:4:\"type\";s:6:\"string\";}s:11:\"pinNumRetry\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:12:\"friendlyName\";}}s:15:\"OperationResult\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:34:\"OperationResult
  entity for Intune.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/OperationResultProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:25:\"OperationResultCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextlink\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OperationResult\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:25:\"OperationResultProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"operationMetadata\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/operationMetadataProperties\";}s:4:\"type\";s:5:\"array\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:12:\"friendlyName\";i:1;s:17:\"operationMetadata\";}}s:8:\"Resource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Resource
  Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Resource
  Location\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  Tags\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:15:\"StatusesDefault\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:45:\"Default
  Statuses entity for the given tenant.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextlink\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/StatusesProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:18:\"StatusesProperties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:16:\"deployedPolicies\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:13:\"enrolledUsers\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:12:\"flaggedUsers\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"policyAppliedUsers\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"wipeFailedApps\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:15:\"wipePendingApps\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:17:\"wipeSucceededApps\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}}s:25:\"WipeDeviceOperationResult\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:25:\"Device
  entity for Intune.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/WipeDeviceOperationResultProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:35:\"WipeDeviceOperationResultProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:12:\"iOSMAMPolicy\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:33:\"iOS
  Policy entity for Intune MAM.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/iOSMAMPolicyProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:22:\"iOSMAMPolicyProperties\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/MAMPolicyProperties\";}}s:11:\"description\";s:33:\"Intune
  MAM iOS Policy Properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"fileEncryptionLevel\";O:8:\"stdClass\":3:{s:7:\"default\";s:12:\"deviceLocked\";s:4:\"enum\";a:4:{i:0;s:12:\"deviceLocked\";i:1;s:27:\"deviceLockedExceptFilesOpen\";i:2;s:18:\"afterDeviceRestart\";i:3;s:17:\"useDeviceSettings\";}s:4:\"type\";s:6:\"string\";}s:7:\"touchId\";O:8:\"stdClass\":3:{s:7:\"default\";s:6:\"enable\";s:4:\"enum\";a:2:{i:0;s:6:\"enable\";i:1;s:7:\"disable\";}s:4:\"type\";s:6:\"string\";}}}s:27:\"operationMetadataProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"value\";}}}"
...
