---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:471:\"These APIs allow
  end users to operate on Azure Machine Learning Compute resources. They support the
  following operations:<ul><li>Create or update a cluster</li><li>Get a cluster</li><li>Patch
  a cluster</li><li>Delete a cluster</li><li>Get keys for a cluster</li><li>Check
  if updates are available for system services in a cluster</li><li>Update system
  services in a cluster</li><li>Get all clusters in a resource group</li><li>Get all
  clusters in a subscription</li></ul>\";s:5:\"title\";s:42:\"Machine Learning Compute
  Management Client\";s:7:\"version\";s:18:\"2017-08-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:209:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearningcompute/resource-manager/Microsoft.MachineLearningCompute/preview/2017-08-01-preview/machineLearningCompute.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:45:\"machinelearningcompute-machineLearningCompute\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:51:\"azure_machinelearningcompute_machinelearningcompute\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.MachineLearningCompute/operations:
    get:
      description: Gets all available operations.
      operationId: MachineLearningCompute_ListAvailableOperations
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AvailableOperations'
      tags:
      - MachineLearningComputeOperations
      x-ms-examples:
        Machine Learning Compute List Available Operations:
          parameters:
            api-version: 2017-08-01-preview
          responses:
            200:
              body:
                value:
                - display:
                    description: Registers the subscription for the Machine Learning
                      Compute resource provider and enables the management of Machine
                      Leaning Compute resources.
                    operation: Register the provider
                    provider: Microsoft Machine Learning Compute Management
                    resource: Machine Learning Compute Provider
                  name: Microsoft.MachineLearningCompute/register/action
                  origin: user,system
                - display:
                    description: Read any operationalization cluster
                    operation: Read the operationalization cluster
                    provider: Microsoft Machine Learning Compute Management
                    resource: Machine Learning Compute Operationalization Cluster
                  name: Microsoft.MachineLearningCompute/operationalizationClusters/read
                  origin: user,system
                - display:
                    description: Create or update any operationalization cluster
                    operation: Write the operationalization cluster
                    provider: Microsoft Machine Learning Compute Management
                    resource: Machine Learning Compute Operationalization Cluster
                  name: Microsoft.MachineLearningCompute/operationalizationClusters/write
                  origin: user,system
                - display:
                    description: Delete any operationalization cluster
                    operation: Delete the operationalization cluster
                    provider: Microsoft Machine Learning Compute Management
                    resource: Machine Learning Compute Operationalization Cluster
                  name: Microsoft.MachineLearningCompute/operationalizationClusters/delete
                  origin: user,system
                - display:
                    description: List keys for an operationalization cluster
                    operation: List keys for an operationalization cluster
                    provider: Microsoft Machine Learning Compute Management
                    resource: Machine Learning Compute Operationalization Cluster
                  name: Microsoft.MachineLearningCompute/operationalizationClusters/listKeys/action
                  origin: user,system
                - display:
                    description: Check available system updates for an operationalization
                      cluster
                    operation: Check available system updates for an operationalization
                      cluster
                    provider: Microsoft Machine Learning Compute Management
                    resource: Machine Learning Compute Operationalization Cluster
                  name: Microsoft.MachineLearningCompute/operationalizationClusters/checkUpdate/action
                  origin: user,system
                - display:
                    description: Apply available system updates for an operationalization
                      cluster
                    operation: Apply available system updates for an operationalization
                      cluster
                    provider: Microsoft Machine Learning Compute Management
                    resource: Machine Learning Compute Operationalization Cluster
                  name: Microsoft.MachineLearningCompute/operationalizationClusters/updateSystem/action
                  origin: user,system
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningCompute/operationalizationClusters:
    get:
      description: Gets the operationalization clusters in the specified subscription.
      operationId: OperationalizationClusters_ListBySubscriptionId
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: Continuation token for pagination.
        in: query
        name: $skiptoken
        required: false
        type: string
      responses:
        200:
          description: OK. The response includes a paginated array of cluster objects
            and a URI to the next set of results, if any. Note that the cluster objects
            are sparsely populated to conserve space in the response content. To get
            the full cluster object, call the GET operation on the cluster.
          schema:
            $ref: '#/definitions/PaginatedOperationalizationClustersList'
      tags:
      - OperationalizationClusters
      x-ms-examples:
        List Operationalization Clusters by Subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                nextLink: https://the.next/link
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup1/providers/Microsoft.MachineLearningCompute/operationalizationClusters/MyCluster
                  location: West US
                  name: MyCluster
                  properties:
                    appInsights:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                    clusterType: ACS
                    containerRegistry:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup1/providers/Microsoft.ContainerRegistry/registries/mycluster1123456
                    containerService:
                      agentCount: 2
                      agentVmSize: Standard_D2_v2
                      clusterFqdn: myclusterabcxyz.westus.cloudapp.azure.com
                      masterCount: 3
                      orchestratorProperties:
                        servicePrincipal:
                          clientId: abcdefghijklmnopqrt
                          secret: ""
                      orchestratorType: Kubernetes
                      systemServices:
                      - publicIpAddress: 13.92.143.67
                        systemServiceType: ScoringFrontEnd
                        version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                    createdOn: "2017-05-04T07:12:28.191Z"
                    description: My Operationalization Cluster
                    globalServiceConfiguration:
                      autoScale:
                        maxReplicas: 100
                        minReplicas: 1
                        status: Enabled
                      ssl:
                        cert: afjdklq2131casfakld=
                        cname: foo.bar.com
                        key: flksdafkldsajf
                        status: Enabled
                    modifiedOn: "2017-05-04T07:12:28.191Z"
                    provisioningState: Succeeded
                    storageAccount:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup1/providers/Microsoft.Storage/storageAccounts/mycluster18787878
                  tags:
                    key1: alpha
                    key2: beta
                  type: Microsoft.MachineLearningCompute/operationalizationClusters
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.MachineLearningCompute/operationalizationClusters/myCluster2
                  location: West US
                  name: MyCluster2
                  properties:
                    appInsights:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                    clusterType: ACS
                    containerRegistry:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.ContainerRegistry/registries/myCluster28923849
                    containerService:
                      agentCount: 2
                      agentVmSize: Standard_D2_v2
                      clusterFqdn: mycluster2defghi.westus.cloudapp.azure.com
                      masterCount: 3
                      orchestratorProperties:
                        servicePrincipal:
                          clientId: abcdefghijklmnopqrt
                          secret: ""
                      orchestratorType: Kubernetes
                      systemServices:
                      - publicIpAddress: 13.92.143.67
                        systemServiceType: ScoringFrontEnd
                        version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                    createdOn: "2017-05-04T07:12:28.191Z"
                    description: My Operationalization Cluster 2
                    globalServiceConfiguration:
                      autoScale:
                        maxReplicas: 100
                        minReplicas: 1
                        status: Enabled
                      ssl:
                        cert: afjdklq2131casfakld=
                        cname: foo.bar.com
                        key: flksdafkldsajf
                        status: Enabled
                    modifiedOn: "2017-05-04T07:12:28.191Z"
                    provisioningState: Succeeded
                    storageAccount:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.Storage/storageAccounts/myCluster2998989
                  tags:
                    key1: alpha
                    key2: beta
                  type: Microsoft.MachineLearningCompute/operationalizationClusters
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningCompute/operationalizationClusters
  : get:
      description: Gets the clusters in the specified resource group.
      operationId: OperationalizationClusters_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: Continuation token for pagination.
        in: query
        name: $skiptoken
        required: false
        type: string
      responses:
        200:
          description: OK. The response includes a paginated array of cluster objects
            and a URI to the next set of results, if any. For the more information
            the limits of the number of items in a resource group, see https://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/.
            Note that the cluster objects are sparsely populated to conserve space
            in the response content. To get the full cluster object, call the GET
            operation on the cluster.
          schema:
            $ref: '#/definitions/PaginatedOperationalizationClustersList'
      tags:
      - OperationalizationClusters
      x-ms-examples:
        List Operationalization Clusters by Resource Group:
          parameters:
            api-version: 2017-08-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                nextLink: https://the.next/link
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningCompute/operationalizationClusters/MyCluster
                  location: West US
                  name: MyCluster
                  properties:
                    appInsights:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                    clusterType: ACS
                    containerRegistry:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/mycluster123456
                    containerService:
                      agentCount: 2
                      agentVmSize: Standard_D2_v2
                      clusterFqdn: myclusterabcxyz.westus.cloudapp.azure.com
                      masterCount: 3
                      orchestratorProperties:
                        servicePrincipal:
                          clientId: abcdefghijklmnopqrt
                          secret: ""
                      orchestratorType: Kubernetes
                      systemServices:
                      - publicIpAddress: 13.92.143.67
                        systemServiceType: ScoringFrontEnd
                        version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                    createdOn: "2017-05-04T07:12:28.191Z"
                    description: My Operationalization Cluster
                    globalServiceConfiguration:
                      autoScale:
                        maxReplicas: 100
                        minReplicas: 1
                        status: Enabled
                      ssl:
                        cert: afjdklq2131casfakld=
                        cname: foo.bar.com
                        key: flksdafkldsajf
                        status: Enabled
                    modifiedOn: "2017-05-04T07:12:28.191Z"
                    provisioningState: Succeeded
                    storageAccount:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/mycluster123456
                  tags:
                    key1: alpha
                    key2: beta
                  type: Microsoft.MachineLearningCompute/operationalizationClusters
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningCompute/operationalizationClusters/MyCluster2
                  location: West US
                  name: MyCluster2
                  properties:
                    appInsights:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                    clusterType: ACS
                    containerRegistry:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myregistry8923849
                    containerService:
                      agentCount: 2
                      agentVmSize: Standard_D2_v2
                      clusterFqdn: mycluster2defghi.westus.cloudapp.azure.com
                      masterCount: 3
                      orchestratorProperties:
                        servicePrincipal:
                          clientId: abcdefghijklmnopqrt
                          secret: ""
                      orchestratorType: Kubernetes
                      systemServices:
                      - publicIpAddress: 13.92.143.67
                        systemServiceType: ScoringFrontEnd
                        version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                    createdOn: "2017-05-04T07:12:28.191Z"
                    description: My Operationalization Cluster 2
                    globalServiceConfiguration:
                      autoScale:
                        maxReplicas: 100
                        minReplicas: 1
                        status: Enabled
                      ssl:
                        cert: afjdklq2131casfakld=
                        cname: foo.bar.com
                        key: flksdafkldsajf
                        status: Enabled
                    modifiedOn: "2017-05-04T07:12:28.191Z"
                    provisioningState: Succeeded
                    storageAccount:
                      resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/mycluster998989
                  tags:
                    key1: alpha
                    key2: beta
                  type: Microsoft.MachineLearningCompute/operationalizationClusters
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningCompute/operationalizationClusters/{clusterName}
  : delete:
      description: Deletes the specified cluster.
      operationId: OperationalizationClusters_Delete
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/DeleteAllParameter'
      responses:
        202:
          description: The delete request was accepted and will complete asynchronously.
            The know the progress of the delete operation do a GET call on the URI
            in the Location header. For more information about Asynchronous Operations,
            see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations.
          headers:
            Location:
              description: URI of the async operation.
              type: string
        204:
          description: No Content. The cluster did not exist but the request was well
            formed.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponseWrapper'
      tags:
      - OperationalizationClusters
      x-ms-examples:
        DELETE Operationalization Cluster:
          parameters:
            api-version: 2017-08-01-preview
            clusterName: myCluster
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            202:
              headers:
                Location: http://async-operation-URI
            204: []
      x-ms-long-running-operation: true
    get:
      description: Gets the operationalization cluster resource view. Note that the
        credentials are not returned by this call. Call ListKeys to get them.
      operationId: OperationalizationClusters_Get
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationalizationCluster'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponseWrapper'
      tags:
      - OperationalizationClusters
      x-ms-examples:
        GET Operationalization Cluster:
          parameters:
            api-version: 2017-08-01-preview
            clusterName: myCluster
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningCompute/operationalizationClusters/myCluster
                location: West US
                name: myCluster
                properties:
                  appInsights:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                  clusterType: ACS
                  containerRegistry:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myregistry123456
                  containerService:
                    agentCount: 2
                    agentVmSize: Standard_D2_v2
                    clusterFqdn: myclusterabcxyz.westus.cloudapp.azure.com
                    masterCount: 3
                    orchestratorProperties:
                      servicePrincipal:
                        clientId: abcdefghijklmnopqrt
                        secret: ""
                    orchestratorType: Kubernetes
                    systemServices:
                    - publicIpAddress: 13.92.143.67
                      systemServiceType: ScoringFrontEnd
                      version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                  createdOn: "2017-05-04T07:12:28.191Z"
                  description: My Operationalization Cluster
                  globalServiceConfiguration:
                    autoScale:
                      maxReplicas: 100
                      minReplicas: 1
                      status: Enabled
                    ssl:
                      cert: afjdklq2131casfakld=
                      cname: foo.bar.com
                      key: flksdafkldsajf
                      status: Enabled
                  modifiedOn: "2017-05-04T07:12:28.191Z"
                  provisioningErrors:
                  - code: Timeout
                    message: Timeout waiting for deployment to start.
                    statusCode: "408"
                  provisioningState: Failed
                  storageAccount:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/mycluster123456
                tags:
                  key1: alpha
                  key2: beta
                type: Microsoft.MachineLearningCompute/operationalizationClusters
    patch:
      description: The PATCH operation can be used to update only the tags for a cluster.
        Use PUT operation to update other properties.
      operationId: OperationalizationClusters_Update
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - description: The parameters supplied to patch the cluster.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/OperationalizationClusterUpdateParameters'
      responses:
        200:
          description: OK. The update completed successfully.
          schema:
            $ref: '#/definitions/OperationalizationCluster'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponseWrapper'
      tags:
      - OperationalizationClusters
      x-ms-examples:
        PATCH Operationalization Cluster:
          parameters:
            api-version: 2017-08-01-preview
            clusterName: myCluster
            parameters:
              tags:
                key1: value1
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningCompute/operationalizationClusters/myCluster
                location: West US
                name: MyCluster
                properties:
                  appInsights:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                  clusterType: ACS
                  containerRegistry:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/mycluster742894
                  containerService:
                    agentCount: 2
                    agentVmSize: Standard_D2_v2
                    clusterFqdn: myclusterabcxyz.westus.cloudapp.azure.com
                    masterCount: 3
                    orchestratorProperties:
                      servicePrincipal:
                        clientId: abcdefghijklmnopqrt
                        secret: ""
                    orchestratorType: Kubernetes
                    systemServices:
                    - publicIpAddress: 13.92.143.67
                      systemServiceType: ScoringFrontEnd
                      version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                  createdOn: "2017-05-04T07:12:28.191Z"
                  description: My Operationalization Cluster
                  globalServiceConfiguration:
                    autoScale:
                      maxReplicas: 100
                      minReplicas: 1
                      status: Enabled
                    ssl:
                      cert: afjdklq2131casfakld=
                      cname: foo.bar.com
                      key: flksdafkldsajf
                      status: Enabled
                  modifiedOn: "2017-05-04T07:12:28.191Z"
                  provisioningState: Succeeded
                  storageAccount:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/mycluster123456
                tags:
                  key1: value1
                type: Microsoft.MachineLearningCompute/operationalizationClusters
    put:
      description: Create or update an operationalization cluster.
      operationId: OperationalizationClusters_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - description: Parameters supplied to create or update an Operationalization
          cluster.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/OperationalizationCluster'
      responses:
        200:
          description: The create or update succeeded.
          schema:
            $ref: '#/definitions/OperationalizationCluster'
        201:
          description: The request was accepted and will complete asynchronously.
            To get the progress of the operation, call GET operation on the URL in
            Azure-AsyncOperation header field. For more information about Asynchronous
            Operations, see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations.
          schema:
            $ref: '#/definitions/OperationalizationCluster'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponseWrapper'
      tags:
      - OperationalizationClusters
      x-ms-examples:
        PUT Operationalization Cluster:
          parameters:
            api-version: 2017-08-01-preview
            clusterName: myCluster
            parameters:
              location: West US
              properties:
                clusterType: ACS
                containerService:
                  orchestratorProperties:
                    servicePrincipal:
                      clientId: abcdefghijklmnopqrt
                      secret: uiuiwueiwuewiue
                  orchestratorType: Kubernetes
                description: My Operationalization Cluster
                globalServiceConfiguration:
                  ssl:
                    cert: afjdklq2131casfakld=
                    cname: foo.bar.com
                    key: flksdafkldsajf=
                    status: Enabled
              tags:
                key1: alpha
                key2: beta
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningCompute/operationalizationClusters/MyCluster
                location: West US
                name: MyCluster
                properties:
                  appInsights:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                  clusterType: ACS
                  containerRegistry:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myregistry123456
                  containerService:
                    agentCount: 2
                    agentVmSize: Standard_D2_v2
                    clusterFqdn: myclusterabcxyz.westus.cloudapp.azure.com
                    masterCount: 3
                    orchestratorProperties:
                      servicePrincipal:
                        clientId: abcdefghijklmnopqrt
                        secret: ""
                    orchestratorType: Kubernetes
                    systemServices:
                    - publicIpAddress: 13.92.143.67
                      systemServiceType: ScoringFrontEnd
                      version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                  createdOn: "2017-05-04T07:12:28.191Z"
                  description: My Operationalization Cluster
                  globalServiceConfiguration:
                    autoScale:
                      maxReplicas: 100
                      minReplicas: 1
                      status: Enabled
                    ssl:
                      cert: afjdklq2131casfakld=
                      cname: foo.bar.com
                      key: flksdafkldsajf=
                      status: Enabled
                  modifiedOn: "2017-05-04T07:12:28.191Z"
                  provisioningState: Succeeded
                  storageAccount:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/mycluster123456
                tags:
                  key1: alpha
                  key2: beta
                type: Microsoft.MachineLearningCompute/operationalizationClusters
            201:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningCompute/operationalizationClusters/MyCluster
                location: West US
                name: MyCluster
                properties:
                  appInsights:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Insights/components/mlcrpai3d5859117108
                  clusterType: ACS
                  containerRegistry:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myregistry123456
                  containerService:
                    agentCount: 2
                    agentVmSize: Standard_D2_v2
                    clusterFqdn: myclusterabcxyz.westus.cloudapp.azure.com
                    masterCount: 3
                    orchestratorProperties:
                      servicePrincipal:
                        clientId: abcdefghijklmnopqrt
                        secret: ""
                    orchestratorType: Kubernetes
                    systemServices:
                    - publicIpAddress: 13.92.143.67
                      systemServiceType: ScoringFrontEnd
                      version: prod/20170803.1.5a451c98af3972f7c966b439d471c1ed280314ea
                  createdOn: "2017-05-04T07:12:28.191Z"
                  description: My Operationalization Cluster
                  globalServiceConfiguration:
                    autoScale:
                      maxReplicas: 100
                      minReplicas: 1
                      status: Enabled
                    ssl:
                      cert: afjdklq2131casfakld=
                      cname: foo.bar.com
                      key: flksdafkldsajf
                      status: Enabled
                  modifiedOn: "2017-05-04T07:12:28.191Z"
                  provisioningState: Creating
                  storageAccount:
                    resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/mycluster123456
                tags:
                  key1: alpha
                  key2: beta
                type: Microsoft.MachineLearningCompute/operationalizationClusters
              headers:
                Azure-AsyncOperation: http://azure.async.operation/status
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningCompute/operationalizationClusters/{clusterName}/checkSystemServicesUpdatesAvailable
  : post:
      description: Checks if updates are available for system services in the cluster.
      operationId: OperationalizationClusters_CheckSystemServicesUpdatesAvailable
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      responses:
        200:
          description: OK. The request completed successfully.
          schema:
            $ref: '#/definitions/CheckSystemServicesUpdatesAvailableResponse'
      tags:
      - OperationalizationClusters
      x-ms-examples:
        Check Update for an Operationalization Cluster:
          parameters:
            api-version: 2017-08-01-preview
            clusterName: myCluster
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                updatesAvailable: "Yes"
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningCompute/operationalizationClusters/{clusterName}/listKeys
  : post:
      description: Gets the credentials for the specified cluster such as Storage,
        ACR and ACS credentials. This is a long running operation because it fetches
        keys from dependencies.
      operationId: OperationalizationClusters_ListKeys
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      responses:
        200:
          description: OK. The request completed successfully.
          schema:
            $ref: '#/definitions/OperationalizationClusterCredentials'
      tags:
      - OperationalizationClusters
      x-ms-examples:
        List Keys of an Operationalization Cluster:
          parameters:
            api-version: 2017-08-01-preview
            clusterName: myCluster
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                appInsights:
                  appId: abcdefghijklmnop
                  instrumentationKey: ppppppppppppppppppTTTTTTTT
                containerRegistry:
                  loginServer: myclusterghijkl.azurecr.io
                  password: ccccKKKKKKKK=
                  password2: bddddTTTTTTTTTTT
                  username: mlcrpacr489402380295
                containerService:
                  acsKubeConfig: AAAAAAAAAAAAAACCCCCCCCCCCCCCCCCCCCCCCCCAAAAAAAAAAAAAAAAA===
                  imagePullSecretName: myclusterghijklacrkey
                storageAccount:
                  primaryKey: aaaaNNNNNNNNNNNN==
                  resourceId: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myCluster998989
                  secondaryKey: bbbbXXXXXXXXXXXXXXX==
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningCompute/operationalizationClusters/{clusterName}/updateSystemServices
  : post:
      description: Updates system services in a cluster.
      operationId: OperationalizationClusters_UpdateSystemServices
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      responses:
        200:
          description: OK. The request completed successfully. Check the response
            body for update details.
          schema:
            $ref: '#/definitions/UpdateSystemServicesResponse'
        202:
          description: The request was accepted and will complete asynchronously.
            The know the progress of the async operation do a GET call on the URI
            in the Location header. For more information about Asynchronous Operations,
            see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations.
          headers:
            Location:
              description: URI of the async operation.
              type: string
      tags:
      - OperationalizationClusters
      x-ms-examples:
        Update System Services in an Operationalizaton Cluster:
          parameters:
            api-version: 2017-08-01-preview
            clusterName: myCluster
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                updateCompletedOn: "2017-05-04T07:13:28.191Z"
                updateStartedOn: "2017-05-04T07:12:28.191Z"
                updateStatus: Completed
            202:
              headers:
                Location: http://async-operation-URI
      x-ms-long-running-operation: true
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":28:{s:20:\"AcsClusterProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Information
  about the container service backing the cluster\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"agentCount\";O:8:\"stdClass\":5:{s:7:\"default\";i:2;s:11:\"description\";s:93:\"The
  number of agent nodes in the Container Service. This can be changed to scale the
  cluster.\";s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:11:\"agentVmSize\";O:8:\"stdClass\":5:{s:7:\"default\";s:14:\"Standard_D3_v2\";s:11:\"description\";s:227:\"The
  Azure VM size of the agent VM nodes. This cannot be changed once the cluster is
  created. This list is non exhaustive; refer to https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes
  for the possible VM sizes.\";s:4:\"enum\";a:47:{i:0;s:11:\"Standard_A0\";i:1;s:11:\"Standard_A1\";i:2;s:11:\"Standard_A2\";i:3;s:11:\"Standard_A3\";i:4;s:11:\"Standard_A4\";i:5;s:11:\"Standard_A5\";i:6;s:11:\"Standard_A6\";i:7;s:11:\"Standard_A7\";i:8;s:11:\"Standard_A8\";i:9;s:11:\"Standard_A9\";i:10;s:12:\"Standard_A10\";i:11;s:12:\"Standard_A11\";i:12;s:11:\"Standard_D1\";i:13;s:11:\"Standard_D2\";i:14;s:11:\"Standard_D3\";i:15;s:11:\"Standard_D4\";i:16;s:12:\"Standard_D11\";i:17;s:12:\"Standard_D12\";i:18;s:12:\"Standard_D13\";i:19;s:12:\"Standard_D14\";i:20;s:14:\"Standard_D1_v2\";i:21;s:14:\"Standard_D2_v2\";i:22;s:14:\"Standard_D3_v2\";i:23;s:14:\"Standard_D4_v2\";i:24;s:14:\"Standard_D5_v2\";i:25;s:15:\"Standard_D11_v2\";i:26;s:15:\"Standard_D12_v2\";i:27;s:15:\"Standard_D13_v2\";i:28;s:15:\"Standard_D14_v2\";i:29;s:11:\"Standard_G1\";i:30;s:11:\"Standard_G2\";i:31;s:11:\"Standard_G3\";i:32;s:11:\"Standard_G4\";i:33;s:11:\"Standard_G5\";i:34;s:12:\"Standard_DS1\";i:35;s:12:\"Standard_DS2\";i:36;s:12:\"Standard_DS3\";i:37;s:12:\"Standard_DS4\";i:38;s:13:\"Standard_DS11\";i:39;s:13:\"Standard_DS12\";i:40;s:13:\"Standard_DS13\";i:41;s:13:\"Standard_DS14\";i:42;s:12:\"Standard_GS1\";i:43;s:12:\"Standard_GS2\";i:44;s:12:\"Standard_GS3\";i:45;s:12:\"Standard_GS4\";i:46;s:12:\"Standard_GS5\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"AgentVMSizeTypes\";}}s:11:\"clusterFqdn\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  FQDN of the cluster. \";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"masterCount\";O:8:\"stdClass\":5:{s:7:\"default\";i:1;s:11:\"description\";s:52:\"The
  number of master nodes in the container service.\";s:7:\"maximum\";i:5;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:22:\"orchestratorProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/KubernetesClusterProperties\";s:11:\"description\";s:32:\"Orchestrator
  specific properties\";}s:16:\"orchestratorType\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"Type
  of orchestrator. It cannot be changed once the cluster is created.\";s:4:\"enum\";a:2:{i:0;s:10:\"Kubernetes\";i:1;s:4:\"None\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"OrchestratorType\";}}s:14:\"systemServices\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  system services deployed to the cluster\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SystemService\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:16:\"orchestratorType\";}s:4:\"type\";s:6:\"object\";}s:22:\"AppInsightsCredentials\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"AppInsights
  credentials.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"appId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  AppInsights application ID.\";s:4:\"type\";s:6:\"string\";}s:18:\"instrumentationKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"The
  AppInsights instrumentation key. This is not returned in response of GET/PUT on
  the resource. To see this please call listKeys API.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"AppInsightsProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Properties
  of App Insights.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"ARM
  resource ID of the App Insights.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"AutoScaleConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"AutoScale
  configuration properties.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"maxReplicas\";O:8:\"stdClass\":4:{s:7:\"default\";i:100;s:11:\"description\";s:48:\"The
  maximum number of replicas for each service.\";s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:11:\"minReplicas\";O:8:\"stdClass\":4:{s:7:\"default\";i:1;s:11:\"description\";s:48:\"The
  minimum number of replicas for each service.\";s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:22:\"refreshPeriodInSeconds\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Refresh
  period in seconds.\";s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":5:{s:7:\"default\";s:8:\"Disabled\";s:11:\"description\";s:85:\"If
  auto-scale is enabled for all services. Each service can turn it off individually.\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:6:\"Status\";}}s:17:\"targetUtilization\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  target utilization.\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:19:\"AvailableOperations\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Available
  operation list.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"An
  array of available operations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ResourceOperation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:43:\"CheckSystemServicesUpdatesAvailableResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Information
  about updates available for system services in a cluster.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"updatesAvailable\";O:8:\"stdClass\":5:{s:11:\"description\";s:64:\"Yes
  if updates are available for the system services, No if not.\";s:4:\"enum\";a:2:{i:0;s:3:\"Yes\";i:1;s:2:\"No\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"UpdatesAvailable\";}}}s:4:\"type\";s:6:\"object\";}s:28:\"ContainerRegistryCredentials\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Information
  about the Azure Container Registry which contains the images deployed to the cluster.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"loginServer\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  ACR login server name. User name is the first part of the FQDN.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  ACR primary password.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"password2\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  ACR secondary password.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  ACR login username.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ContainerRegistryProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Properties
  of Azure Container Registry.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"ARM
  resource ID of the Azure Container Registry used to store Docker images for web
  services in the cluster. If not provided one will be created. This cannot be changed
  once the cluster is created.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ContainerServiceCredentials\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Information
  about the Azure Container Registry which contains the images deployed to the cluster.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"acsKubeConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  ACS kube config file.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"imagePullSecretName\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  ACR image pull secret name which was created in Kubernetes.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:29:\"servicePrincipalConfiguration\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:40:\"#/definitions/ServicePrincipalProperties\";s:11:\"description\";s:51:\"Service
  principal configuration used by Kubernetes.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:11:\"ErrorDetail\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Error
  detail information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Error
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Error
  message.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:4:\"type\";s:6:\"object\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Error
  response information.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Error
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"An
  array of error detail objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorDetail\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Error
  message.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:4:\"type\";s:6:\"object\";}s:20:\"ErrorResponseWrapper\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Wrapper
  for error response to follow ARM guidelines.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ErrorResponse\";s:11:\"description\";s:19:\"The
  error response.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"GlobalServiceConfiguration\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Any
  additional configuration key-value pairs.\";s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:49:\"Global
  configuration for services in the cluster.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"autoScale\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/AutoScaleConfiguration\";s:11:\"description\";s:28:\"The
  auto-scale configuration\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  configuartion ETag for updates.\";s:4:\"type\";s:6:\"string\";}s:11:\"serviceAuth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ServiceAuthConfiguration\";s:11:\"description\";s:132:\"Optional
  global authorization keys for all user services deployed in cluster. These are used
  if the service does not have auth keys.\";}s:3:\"ssl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SslConfiguration\";s:11:\"description\";s:32:\"The
  SSL configuration properties\";}}s:4:\"type\";s:6:\"object\";}s:27:\"KubernetesClusterProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Kubernetes
  cluster specific properties\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"servicePrincipal\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ServicePrincipalProperties\";s:11:\"description\";s:46:\"The
  Azure Service Principal used by Kubernetes\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:10:\"Kubernetes\";}s:25:\"OperationalizationCluster\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:60:\"Instance
  of an Azure ML Operationalization Cluster resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:49:\"#/definitions/OperationalizationClusterProperties\";s:11:\"description\";s:44:\"Properties
  of an operationalization cluster.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:36:\"OperationalizationClusterCredentials\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Credentials
  to resources in the cluster.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"appInsights\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/AppInsightsCredentials\";s:11:\"description\";s:34:\"Credentials
  for Azure AppInsights.\";}s:17:\"containerRegistry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ContainerRegistryCredentials\";s:11:\"description\";s:41:\"Credentials
  for Azure Container Registry.\";}s:16:\"containerService\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ContainerServiceCredentials\";s:11:\"description\";s:40:\"Credentials
  for Azure Container Service.\";}s:24:\"serviceAuthConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ServiceAuthConfiguration\";s:11:\"description\";s:123:\"Global
  authorization keys for all user services deployed in cluster. These are used if
  the service does not have auth keys.\";}s:16:\"sslConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SslConfiguration\";s:11:\"description\";s:39:\"The
  SSL configuration for the services.\";}s:14:\"storageAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/StorageAccountCredentials\";s:11:\"description\";s:36:\"Credentials
  for the Storage Account.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"OperationalizationClusterProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Properties
  of an operationalization cluster\";s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"appInsights\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AppInsightsProperties\";s:11:\"description\";s:26:\"AppInsights
  configuration.\";}s:11:\"clusterType\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  cluster type.\";s:4:\"enum\";a:2:{i:0;s:3:\"ACS\";i:1;s:5:\"Local\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:11:\"ClusterType\";}}s:17:\"containerRegistry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ContainerRegistryProperties\";s:11:\"description\";s:30:\"Container
  Registry properties.\";}s:16:\"containerService\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AcsClusterProperties\";s:11:\"description\";s:51:\"Parameters
  for the Azure Container Service cluster.\";}s:9:\"createdOn\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  date and time when the cluster was created.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  description of the cluster.\";s:4:\"type\";s:6:\"string\";}s:26:\"globalServiceConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/GlobalServiceConfiguration\";s:11:\"description\";s:66:\"Contains
  global configuration for the web services in the cluster.\";}s:10:\"modifiedOn\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"The
  date and time when the cluster was last modified.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"provisioningErrors\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"List
  of provisioning errors reported by the resource provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ErrorResponseWrapper\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:108:\"The
  provision state of the cluster. Valid values are Unknown, Updating, Provisioning,
  Succeeded, and Failed.\";s:4:\"enum\";a:7:{i:0;s:7:\"Unknown\";i:1;s:8:\"Updating\";i:2;s:8:\"Creating\";i:3;s:8:\"Deleting\";i:4;s:9:\"Succeeded\";i:5;s:6:\"Failed\";i:6;s:8:\"Canceled\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"OperationStatus\";}}s:14:\"storageAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/StorageAccountProperties\";s:11:\"description\";s:27:\"Storage
  Account properties.\";}}s:8:\"required\";a:1:{i:0;s:11:\"clusterType\";}s:4:\"type\";s:6:\"object\";}s:41:\"OperationalizationClusterUpdateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Parameters
  for PATCH operation on an operationalization cluster\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:326:\"Gets
  or sets a list of key value pairs that describe the resource. These tags can be
  used in viewing and grouping this resource (across resource groups). A maximum of
  15 tags can be provided for a resource. Each tag must have a key no greater in length
  than 128 characters and a value no greater in length than 256 characters.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:39:\"PaginatedOperationalizationClustersList\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Paginated
  list of operationalization clusters.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"A
  continuation link (absolute URI) to the next page of results in the list.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"An
  array of cluster objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/OperationalizationCluster\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Azure
  resource\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Specifies
  the resource ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Specifies
  the location of the resource.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Specifies
  the name of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:50:\"Contains
  resource tags defined as key/value pairs.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Specifies
  the type of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:17:\"ResourceOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Resource
  operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"display\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Display
  of the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  description of the operation.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  operation.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  resource provider name.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  resource name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Name
  of this operation.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  operation origin.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ServiceAuthConfiguration\";O:8:\"stdClass\":4:{s:11:\"description\";s:140:\"Global
  service auth configuration properties. These are the data-plane authorization keys
  and are used if a service doesn't define it's own.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"primaryAuthKeyHash\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"The
  primary auth key hash. This is not returned in response of GET/PUT on the resource..
  To see this please call listKeys API.\";s:4:\"type\";s:6:\"string\";}s:20:\"secondaryAuthKeyHash\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"The
  secondary auth key hash. This is not returned in response of GET/PUT on the resource..
  To see this please call listKeys API.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:18:\"primaryAuthKeyHash\";i:1;s:20:\"secondaryAuthKeyHash\";}s:4:\"type\";s:6:\"object\";}s:26:\"ServicePrincipalProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"The
  Azure service principal used by Kubernetes for configuring load balancers\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  service principal client ID\";s:4:\"type\";s:6:\"string\";}s:6:\"secret\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"The
  service principal secret. This is not returned in response of GET/PUT on the resource.
  To see this please call listKeys.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"clientId\";i:1;s:6:\"secret\";}s:4:\"type\";s:6:\"object\";}s:16:\"SslConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"SSL
  configuration. If configured data-plane calls to user services will be exposed over
  SSL only.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"cert\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  SSL cert data in PEM format.\";s:4:\"type\";s:6:\"string\";}s:5:\"cname\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  CName of the certificate.\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"The
  SSL key data in PEM format. This is not returned in response of GET/PUT on the resource.
  To see this please call listKeys API.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":5:{s:7:\"default\";s:7:\"Enabled\";s:11:\"description\";s:52:\"SSL
  status. Allowed values are Enabled and Disabled.\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:6:\"Status\";}}}s:4:\"type\";s:6:\"object\";}s:25:\"StorageAccountCredentials\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Access
  information for the storage account.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"primaryKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  primary key of the storage account.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"resourceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  ARM resource ID of the storage account.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"secondaryKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  secondary key of the storage account.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"StorageAccountProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Properties
  of Storage Account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"ARM
  resource ID of the Azure Storage Account to store CLI specific files. If not provided
  one will be created. This cannot be changed once the cluster is created.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SystemService\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Information
  about a system service deployed in the cluster\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"publicIpAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  public IP address of the system service\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"systemServiceType\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  system service type\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:15:\"ScoringFrontEnd\";i:2;s:13:\"BatchFrontEnd\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"SystemServiceType\";}}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  state of the system service\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:17:\"systemServiceType\";}s:4:\"type\";s:6:\"object\";}s:28:\"UpdateSystemServicesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Response
  of the update system services API\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"updateCompletedOn\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"The
  date and time when the last system services update completed.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"updateStartedOn\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"The
  date and time when the last system services update was started.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"updateStatus\";O:8:\"stdClass\":5:{s:11:\"description\";s:13:\"Update
  status\";s:4:\"enum\";a:7:{i:0;s:7:\"Unknown\";i:1;s:8:\"Updating\";i:2;s:8:\"Creating\";i:3;s:8:\"Deleting\";i:4;s:9:\"Succeeded\";i:5;s:6:\"Failed\";i:6;s:8:\"Canceled\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"OperationStatus\";}}}s:4:\"type\";s:6:\"object\";}}"
...
