---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:22:\"RecoveryServicesClient\";s:7:\"version\";s:10:\"2016-06-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:183:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2016-06-01/replicationusages.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:34:\"recoveryservices-replicationusages\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/replicationUsages
  : get:
      deprecated: false
      description: Fetches the replication usages of the vault.
      operationId: ReplicationUsages_List
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ReplicationUsageList'
      tags:
      - ReplicationUsages
      x-ms-examples:
        Gets Replication usages of vault:
          parameters:
            api-version: "2016-06-01"
            resourceGroupName: avrai7517RG1
            subscriptionId: 6808dbbc-98c7-431f-a1b1-9580902423b7
            vaultName: avrai7517Vault1
          responses:
            200:
              body:
                value:
                - jobsSummary:
                    failedJobs: 0
                    inProgressJobs: 0
                    suspendedJobs: 0
                  monitoringSummary:
                    deprecatedProviderCount: 0
                    eventsCount: 0
                    supportedProviderCount: 0
                    unHealthyProviderCount: 0
                    unHealthyVmCount: 0
                    unsupportedProviderCount: 0
                  protectedItemCount: 2
                  recoveryPlanCount: 1
                  registeredServersCount: 2
      x-ms-pageable: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:11:\"JobsSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Summary
  of the replication job data for this vault.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"failedJobs\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Count
  of failed jobs.\";s:4:\"type\";s:7:\"integer\";}s:14:\"inProgressJobs\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Count
  of in-progress jobs.\";s:4:\"type\";s:7:\"integer\";}s:13:\"suspendedJobs\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Count
  of suspended jobs.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MonitoringSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Summary
  of the replication monitoring data for this vault.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"deprecatedProviderCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Count
  of all deprecated recovery service providers.\";s:4:\"type\";s:7:\"integer\";}s:11:\"eventsCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Count
  of all critical warnings.\";s:4:\"type\";s:7:\"integer\";}s:22:\"supportedProviderCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Count
  of all the supported recovery service providers.\";s:4:\"type\";s:7:\"integer\";}s:22:\"unHealthyProviderCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Count
  of unhealthy replication providers.\";s:4:\"type\";s:7:\"integer\";}s:16:\"unHealthyVmCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Count
  of unhealthy VMs.\";s:4:\"type\";s:7:\"integer\";}s:24:\"unsupportedProviderCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Count
  of all the unsupported recovery service providers.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ReplicationUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Replication
  usages of a vault.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"jobsSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/JobsSummary\";s:11:\"description\";s:52:\"Summary
  of the replication jobs data for this vault.\";}s:17:\"monitoringSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MonitoringSummary\";s:11:\"description\";s:58:\"Summary
  of the replication monitoring data for this vault.\";}s:18:\"protectedItemCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Number
  of replication protected items for this vault.\";s:4:\"type\";s:7:\"integer\";}s:17:\"recoveryPlanCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Number
  of replication recovery plans for this vault.\";s:4:\"type\";s:7:\"integer\";}s:32:\"recoveryServicesProviderAuthType\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  authentication type of recovery service providers in the vault.\";s:4:\"type\";s:7:\"integer\";}s:22:\"registeredServersCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Number
  of servers registered to this vault.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ReplicationUsageList\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Replication
  usages for vault.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  list of replication usages for the given vault.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReplicationUsage\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
