---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:18:\"2017-12-30-preview\";s:5:\"title\";s:27:\"ConsumptionManagementClient\";s:11:\"description\";s:106:\"Consumption
  management client provides access to consumption resources for Azure Enterprise
  Subscriptions.\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/budgets:
    get:
      tags:
      - Budgets-Preview
      operationId: Budgets_List
      description: Lists all budgets for a subscription.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        BudgetsList:
          $ref: ./examples/BudgetsList.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/BudgetsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/budgets/{name}:
    get:
      tags:
      - Budgets-Preview
      operationId: Budgets_Get
      description: Gets the budget for a subscription by budget name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        Budget:
          $ref: ./examples/Budget.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/budgetNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Budget'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
      - Budgets-Preview
      operationId: Budgets_CreateOrUpdate
      description: The operation to create or update a budget. Update operation requires
        latest eTag to be set in the request mandatorily. You may obtain the latest
        eTag by performing a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        CreateOrUpdateBudget:
          $ref: ./examples/CreateOrUpdateBudget.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/budgetNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Budget'
        description: Parameters supplied to the Create Budget operation.
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Budget'
        201:
          description: Created.
          schema:
            $ref: '#/definitions/Budget'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: ~
    delete:
      tags:
      - Budgets-Preview
      operationId: Budgets_Delete
      description: The operation to delete a budget.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        DeleteBudget:
          $ref: ./examples/DeleteBudget.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/budgetNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /providers/Microsoft.Consumption/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists all of the available consumption REST API operations.
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:17:\"BudgetsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Result
  of listing budgets. It contains a list of available budgets in the scope provided.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  list of budgets.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Budget\";}}}}s:6:\"Budget\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"A
  budget resource.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:30:\"#/definitions/BudgetProperties\";s:5:\"title\";s:17:\"Budget
  properties\";}}}s:16:\"BudgetProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  properties of the budget.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"category\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"The
  category of the budget, whether the budget tracks cost or something else.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:4:\"Cost\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"CategoryType\";s:13:\"modelAsString\";b:1;}}s:6:\"amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  total amount of cost to track with the budget\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";}s:9:\"timeGrain\";O:8:\"stdClass\":4:{s:11:\"description\";s:91:\"The
  time covered by a budget. Tracking of the amount will be reset based on the time
  grain.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"Monthly\";i:1;s:9:\"Quarterly\";i:2;s:8:\"Annually\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"TimeGrainType\";s:13:\"modelAsString\";b:1;}}s:10:\"timePeriod\";O:8:\"stdClass\":2:{s:11:\"description\";s:333:\"Has
  start and end date of the budget. The start date must be first of the month and
  should be less than the end date. Budget start date must be on or after June 1,
  2017. Future start date should not be more than three months. Past start date should
  \ be selected within the timegrain period. There are no restrictions on the end
  date.\";s:4:\"$ref\";s:30:\"#/definitions/BudgetTimePeriod\";}s:12:\"currentSpend\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  current amount of cost which is being tracked for a budget.\";s:4:\"$ref\";s:26:\"#/definitions/CurrentSpend\";s:8:\"readOnly\";b:1;}s:13:\"notifications\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:97:\"Dictionary
  of notifications associated with the budget. Budget can have up to five notifications.\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/Notification\";}s:8:\"maxItems\";i:5;}}s:8:\"required\";a:4:{i:0;s:8:\"category\";i:1;s:6:\"amount\";i:2;s:9:\"timeGrain\";i:3;s:10:\"timePeriod\";}}s:16:\"BudgetTimePeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  start and end date for a budget.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"startDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  start date for the budget.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  end date for the budget. If not provided, we default this to 10 years from the start
  date.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}s:8:\"required\";a:1:{i:0;s:9:\"startDate\";}}s:12:\"CurrentSpend\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  current amount of cost which is being tracked for a budget.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  total amount of cost which is being tracked by the budget.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:4:\"unit\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  unit of measure for the budget amount.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:12:\"Notification\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  notification associated with a budget.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  notification is enabled or not.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  comparison operator.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"EqualTo\";i:1;s:11:\"GreaterThan\";i:2;s:20:\"GreaterThanOrEqualTo\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"OperatorType\";s:13:\"modelAsString\";b:1;}}s:9:\"threshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"Threshold
  value associated with a notification. Notification is sent when the cost exceeded
  the threshold. It is always percent and has to be between 0 and 1000.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";}s:13:\"contactEmails\";O:8:\"stdClass\":5:{s:11:\"description\";s:82:\"Email
  addresses to send the budget notification to when the threshold is exceeded.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:1;s:8:\"maxItems\";i:50;}s:12:\"contactRoles\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Contact
  roles to send the budget notification to when the threshold is exceeded.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:4:{i:0;s:7:\"enabled\";i:1;s:8:\"operator\";i:2;s:9:\"threshold\";i:3;s:13:\"contactEmails\";}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  Consumption REST API operation.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Operation
  name: {provider}/{resource}/{operation}.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  object that represents the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Service
  provider: Microsoft.Consumption.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Resource
  on which the operation is performed: UsageDetail, etc.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Operation
  type: Read, write, delete, etc.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}}}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"Result
  of listing consumption operations. It contains a list of operations and a URL link
  to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"List
  of consumption operations supported by the Microsoft.Consumption resource provider.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:12:\"ErrorDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  details of the error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Error
  code.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Error
  response indicates that the service is not able to process the incoming request.
  The reason is provided in the error message.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  details of the error.\";s:4:\"$ref\";s:26:\"#/definitions/ErrorDetails\";}}}s:13:\"ProxyResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  Id.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  type.\";}s:4:\"eTag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:152:\"eTag
  of the resource. To handle concurrent update scenario, this field will be used to
  determine whether the user is updating the latest version or not.\";}}s:19:\"x-ms-azure-resource\";b:1;}}"
...
