---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:7:\"version\";s:10:\"2018-05-31\";s:5:\"title\";s:20:\"CostManagementClient\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/reportconfigs:
    get:
      tags:
      - Reports
      operationId: ReportConfig_List
      description: Lists all report configs for a subscription.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      x-ms-examples:
        ReportConfigList:
          $ref: ./examples/ReportConfigList.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ReportConfigListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/reportconfigs:
    get:
      tags:
      - Reports
      operationId: ReportConfig_ListByResourceGroupName
      description: Lists all report configs for a resource group under a subscription.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      x-ms-examples:
        ReportConfigList:
          $ref: ./examples/ReportConfigList.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ReportConfigListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/reportconfigs/{reportConfigName}:
    get:
      tags:
      - Reports
      operationId: ReportConfig_Get
      description: Gets the report config for a subscription by report config name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      x-ms-examples:
        Report:
          $ref: ./examples/ReportConfig.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/reportConfigNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ReportConfig'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
      - Reports
      operationId: ReportConfig_CreateOrUpdate
      description: The operation to create or update a report config. Update operation
        requires latest eTag to be set in the request mandatorily. You may obtain
        the latest eTag by performing a get operation. Create operation does not require
        eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      x-ms-examples:
        CreateOrUpdateReport:
          $ref: ./examples/ReportConfigCreateOrUpdate.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/reportConfigNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ReportConfig'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ReportConfig'
        201:
          description: Created.
          schema:
            $ref: '#/definitions/ReportConfig'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Reports
      operationId: ReportConfig_Delete
      description: The operation to delete a report.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      x-ms-examples:
        DeleteReport:
          $ref: ./examples/ReportConfigDelete.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/reportConfigNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/reportconfigs/{reportConfigName}
  : get:
      tags:
      - Reports
      operationId: ReportConfig_GetByResourceGroupName
      description: Gets the report config for a resource group under a subscription
        by report config name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      x-ms-examples:
        ReportConfig:
          $ref: ./examples/ReportConfig.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/reportConfigNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ReportConfig'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
      - Reports
      operationId: ReportConfig_CreateOrUpdateByResourceGroupName
      description: The operation to create or update a report config. Update operation
        requires latest eTag to be set in the request mandatorily. You may obtain
        the latest eTag by performing a get operation. Create operation does not require
        eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      x-ms-examples:
        CreateOrUpdateReport:
          $ref: ./examples/ReportConfigCreateOrUpdate.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/reportConfigNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ReportConfig'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ReportConfig'
        201:
          description: Created.
          schema:
            $ref: '#/definitions/ReportConfig'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Reports
      operationId: ReportConfig_DeleteByResourceGroupName
      description: The operation to delete a report config.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      x-ms-examples:
        DeleteReport:
          $ref: ./examples/ReportConfigDelete.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/reportConfigNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/dimensions:
    get:
      tags:
      - Dimensions
      x-ms-odata: '#/definitions/Dimension'
      operationId: BillingAccountDimensions_List
      description: Lists the dimensions by billingAccount Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      x-ms-examples:
        BillingAccountDimensionsList:
          $ref: ./examples/BillingAccountDimensionsList.json
        BillingAccountDimensionsListExpandAndTop:
          $ref: ./examples/BillingAccountDimensionsListExpandAndTop.json
        BillingAccountDimensionsListWithFilter:
          $ref: ./examples/BillingAccountDimensionsListWithFilter.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/billingAccountIdParameter'
      - name: $filter
        description: May be used to filter dimensions by properties/category, properties/usageStart,
          properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
        in: query
        required: false
        type: string
      - name: $expand
        description: May be used to expand the properties/data within a dimension
          category. By default, data is not included when listing dimensions.
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N dimension data.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/DimensionsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/dimensions:
    get:
      tags:
      - Dimensions
      x-ms-odata: '#/definitions/Dimension'
      operationId: SubscriptionDimensions_List
      description: Lists the dimensions by subscription Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      x-ms-examples:
        SubscriptionDimensionsList:
          $ref: ./examples/SubscriptionDimensionsList.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: $filter
        description: May be used to filter dimensions by properties/category, properties/usageStart,
          properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
        in: query
        required: false
        type: string
      - name: $expand
        description: May be used to expand the properties/data within a dimension
          category. By default, data is not included when listing dimensions.
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N dimension data.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/DimensionsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/dimensions:
    get:
      tags:
      - Dimensions
      x-ms-odata: '#/definitions/Dimension'
      operationId: ResourceGroupDimensions_List
      description: Lists the dimensions by resource group Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      x-ms-examples:
        ResourceGroupDimensionsList:
          $ref: ./examples/ResourceGroupDimensionsList.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: $filter
        description: May be used to filter dimensions by properties/category, properties/usageStart,
          properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
        in: query
        required: false
        type: string
      - name: $expand
        description: May be used to expand the properties/data within a dimension
          category. By default, data is not included when listing dimensions.
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N dimension data.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/DimensionsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/Query:
    post:
      tags:
      - Query
      operationId: QuerySubscription
      description: Lists the usage data for subscriptionId.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      x-ms-examples:
        SubscriptionQuery:
          $ref: ./examples/SubscriptionQuery.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/QueryResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.CostManagement/Query:
    post:
      tags:
      - Query
      operationId: QueryResourceGroup
      description: Lists the usage data for subscriptionId and resource group.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      x-ms-examples:
        ResourceGroupQuery:
          $ref: ./examples/ResourceGroupQuery.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/QueryResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Query:
    post:
      tags:
      - Query
      operationId: QueryBillingAccount
      description: Lists the usage data for billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      x-ms-examples:
        BillingAccountQuery:
          $ref: ./examples/BillingAccountQuery.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/billingAccountIdParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/QueryResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.CostManagement/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists all of the available consumption REST API operations.
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":28:{s:12:\"ErrorDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  details of the error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Error
  code.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Error
  response indicates that the service is not able to process the incoming request.
  The reason is provided in the error message.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  details of the error.\";s:4:\"$ref\";s:26:\"#/definitions/ErrorDetails\";}}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  Id.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  type.\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";}}s:19:\"x-ms-azure-resource\";b:1;}s:22:\"ReportConfigListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Result
  of listing report configs. It contains a list of available report configurations
  in the scope provided.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"The
  list of report configs.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ReportConfig\";}}}}s:12:\"ReportConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"A
  report config resource.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:36:\"#/definitions/ReportConfigProperties\";s:5:\"title\";s:24:\"Report
  config properties\";}}}s:22:\"ReportConfigProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  properties of the report config.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"schedule\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Has
  schedule information for the report config.\";s:4:\"$ref\";s:34:\"#/definitions/ReportConfigSchedule\";}s:6:\"format\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  format of the report being delivered.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:3:\"Csv\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"FormatType\";s:13:\"modelAsString\";b:1;}}s:12:\"deliveryInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Has
  delivery information for the report config.\";s:4:\"$ref\";s:38:\"#/definitions/ReportConfigDeliveryInfo\";}s:10:\"definition\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Has
  definition for the report config.\";s:4:\"$ref\";s:36:\"#/definitions/ReportConfigDefinition\";}}s:8:\"required\";a:2:{i:0;s:12:\"deliveryInfo\";i:1;s:10:\"definition\";}}s:20:\"ReportConfigSchedule\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  schedule associated with a report config.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"The
  status of the schedule. Whether active or not. If inactive, the report's scheduled
  execution is paused.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:8:\"Inactive\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"StatusType\";s:13:\"modelAsString\";b:1;}}s:10:\"recurrence\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  schedule recurrence.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:5:\"Daily\";i:1;s:6:\"Weekly\";i:2;s:7:\"Monthly\";i:3;s:8:\"Annually\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"RecurrenceType\";s:13:\"modelAsString\";b:1;}}s:16:\"recurrencePeriod\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Has
  start and end date of the recurrence. The start date must be in future. If present,
  the end date must be greater than start date.\";s:4:\"$ref\";s:42:\"#/definitions/ReportConfigRecurrencePeriod\";}}s:8:\"required\";a:2:{i:0;s:10:\"recurrence\";i:1;s:16:\"recurrencePeriod\";}}s:24:\"ReportConfigDeliveryInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  delivery information associated with a report config.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"destination\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Has
  destination for the report being delivered.\";s:4:\"$ref\";s:45:\"#/definitions/ReportConfigDeliveryDestination\";}}s:8:\"required\";a:1:{i:0;s:11:\"destination\";}}s:22:\"ReportConfigDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  definition of a report config.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  type of the report.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:5:\"Usage\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"ReportType\";s:13:\"modelAsString\";b:1;}}s:9:\"timeframe\";O:8:\"stdClass\":4:{s:11:\"description\";s:104:\"The
  time frame for pulling data for the report. If custom, then a specific time period
  must be provided.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:10:\"WeekToDate\";i:1;s:11:\"MonthToDate\";i:2;s:10:\"YearToDate\";i:3;s:6:\"Custom\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"TimeframeType\";s:13:\"modelAsString\";b:1;}}s:10:\"timePeriod\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Has
  time period for pulling data for the report.\";s:4:\"$ref\";s:36:\"#/definitions/ReportConfigTimePeriod\";}s:7:\"dataset\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Has
  definition for data in this report config.\";s:4:\"$ref\";s:33:\"#/definitions/ReportConfigDataset\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:9:\"timeframe\";}}s:28:\"ReportConfigRecurrencePeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  start and end date for recurrence schedule.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  start date of recurrence.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  end date of recurrence. If not provided, we default this to 10 years from the start
  date.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}s:8:\"required\";a:1:{i:0;s:4:\"from\";}}s:31:\"ReportConfigDeliveryDestination\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  destination information for the delivery of the report.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  resource id of the storage account where reports will be delivered.\";s:4:\"type\";s:6:\"string\";}s:9:\"container\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  name of the container where reports will be uploaded.\";s:4:\"type\";s:6:\"string\";}s:14:\"rootFolderPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  name of the directory where reports will be uploaded.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"resourceId\";i:1;s:9:\"container\";}}s:22:\"ReportConfigTimePeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  start and end date for pulling data for the report.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  start date to pull data from.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  end date to pull data to.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}s:8:\"required\";a:2:{i:0;s:4:\"from\";i:1;s:2:\"to\";}}s:19:\"ReportConfigDataset\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  definition of data present in the report.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"granularity\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  granularity of rows in the report.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:5:\"Daily\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"GranularityType\";s:13:\"modelAsString\";b:1;}}s:13:\"configuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Has
  configuration information for the data in the report. The configuration will be
  ignored if aggregation and grouping are provided.\";s:4:\"$ref\";s:46:\"#/definitions/ReportConfigDatasetConfiguration\";}s:11:\"aggregation\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:182:\"Dictionary
  of aggregation expression to use in the report. The key of each item in the dictionary
  is the alias for the aggregated column. Report can have up to 2 aggregation clauses.\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:37:\"#/definitions/ReportConfigAggregation\";}s:8:\"maxItems\";i:2;}s:8:\"grouping\";O:8:\"stdClass\":4:{s:11:\"description\";s:92:\"Array
  of group by expression to use in the report. Report can have up to 2 group by clauses.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ReportConfigGrouping\";}s:8:\"maxItems\";i:2;}s:6:\"filter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:43:\"Has
  filter expression to use in the report.\";s:4:\"$ref\";s:32:\"#/definitions/ReportConfigFilter\";}}}s:32:\"ReportConfigDatasetConfiguration\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  configuration of dataset in the report.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"columns\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"Array
  of column names to be included in the report. Any valid report column name is allowed.
  If not provided, then report includes all columns.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:23:\"ReportConfigAggregation\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  aggregation expression to be used in the report.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  name of the column to aggregate.\";s:4:\"type\";s:6:\"string\";}s:8:\"function\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"The
  name of the aggregation function to use.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:3:\"Sum\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"FunctionType\";s:13:\"modelAsString\";b:1;}}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:8:\"function\";}}s:20:\"ReportConfigGrouping\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  group by expression to be used in the report.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"columnType\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Has
  type of the column to group.\";s:4:\"$ref\";s:36:\"#/definitions/ReportConfigColumnType\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  name of the column to group.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"columnType\";i:1;s:4:\"name\";}}s:18:\"ReportConfigFilter\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  filter expression to be used in the report.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"and\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  logical \"AND\" expression. Must have at least 2 items.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ReportConfigFilter\";}s:8:\"minItems\";i:2;}s:2:\"or\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  logical \"OR\" expression. Must have at least 2 items.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ReportConfigFilter\";}s:8:\"minItems\";i:2;}s:3:\"not\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  logical \"NOT\" expression.\";s:4:\"$ref\";s:32:\"#/definitions/ReportConfigFilter\";}s:9:\"dimension\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Has
  comparison expression for a dimension\";s:4:\"$ref\";s:46:\"#/definitions/ReportConfigComparisonExpression\";}s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Has
  comparison expression for a tag\";s:4:\"$ref\";s:46:\"#/definitions/ReportConfigComparisonExpression\";}}}s:22:\"ReportConfigColumnType\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"The
  type of the column in the report.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"Tag\";i:1;s:9:\"Dimension\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"ReportConfigColumnType\";s:13:\"modelAsString\";b:1;}}s:32:\"ReportConfigComparisonExpression\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  comparison expression to be used in the report.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  name of the column to use in comparison.\";s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  operator to use for comparison.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:2:\"In\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"OperatorType\";s:13:\"modelAsString\";b:1;}}s:6:\"values\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Array
  of values to use for comparison\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"minItems\";i:1;}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:8:\"operator\";i:2;s:6:\"values\";}}s:20:\"DimensionsListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Result
  of listing dimensions. It contains a list of available dimensions.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  list of dimensions.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";}}}}s:9:\"Dimension\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:33:\"#/definitions/DimensionProperties\";s:5:\"title\";s:20:\"Dimension
  properties\";}}}s:19:\"DimensionProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"total\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"usageStart\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"usageEnd\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"nextLink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"QueryResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Result
  of query. It contains all columns listed under groupings and aggregation.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  list of usage data.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}}}}s:5:\"Query\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:29:\"#/definitions/QueryProperties\";s:5:\"title\";s:16:\"Query
  properties\";}}}s:15:\"QueryProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"nextLink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"columns\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Array
  of columns\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryColumn\";}}s:4:\"rows\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":0:{}}}}}s:11:\"QueryColumn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"Result
  of listing cost management operations. It contains a list of operations and a URL
  link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"List
  of cost management operations supported by the Microsoft.CostManagement resource
  provider.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"A
  Cost management REST API operation.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Operation
  name: {provider}/{resource}/{operation}.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  object that represents the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Service
  provider: Microsoft.CostManagement.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Resource
  on which the operation is performed: Dimensions, Query.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Operation
  type: Read, write, delete, etc.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}}}}"
...
