---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:420:\"Use these APIs
  to manage Visual Studio Team Services resources through the Azure Resource Manager.
  All task operations conform to the HTTP/1.1 protocol specification and each operation
  returns an x-ms-request-id header that can be used to obtain information about the
  request. You must make sure that requests made to these resources are secure. For
  more information, see https://docs.microsoft.com/en-us/rest/api/index.\";s:5:\"title\";s:47:\"Visual
  Studio Projects Resource Provider Client\";s:7:\"version\";s:18:\"2018-08-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:184:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/visualstudio/resource-manager/Microsoft.VisualStudio/preview/2018-08-01-preview/PipelineTemplates.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:30:\"visualstudio-PipelineTemplates\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /providers/microsoft.visualstudio/pipelineTemplates:
    get:
      description: Gets all pipeline templates which can be used to configure a CI/CD
        pipeline in a new or an existing Team Services project.
      operationId: PipelineTemplates_List
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The operation succeeded. The response is a list of all pipeline
            templates which can be used to configure a CI/CD pipeline in a new or
            an existing Team Services project.
          schema:
            $ref: '#/definitions/PipelineTemplateResourceListResult'
      summary: PipelineTemplates_List
      tags:
      - PipelineTemplates
      x-ms-examples:
        Get a list of pipeline templates:
          parameters:
            api-version: 2018-08-01-preview
          responses:
            200:
              body:
                value:
                - id: "null"
                  properties:
                    description: Template to configure CI/CD pipeline for deploying
                      Nodejs application to Azure windows app service
                    id: ms-portal-extension-nodejsAppOnWindowsWebApp
                    inputs:
                    - description: Name of the app service
                      id: webAppName
                      type: string
                    - description: Pricing tier to use for creating app service plan.
                      id: servicePlanTier
                      possibleValues:
                      - DisplayValue: P1 Premium (1 Core, 1.75 GB RAM)
                        value: P1 Premium
                      - DisplayValue: S1 Standard (1 Core, 1.75 GB RAM)
                        value: S1 Standard
                      - DisplayValue: B1 Basic (1 Core, 1.75 GB RAM)
                        value: B1 Basic
                      type: string
                    - description: SPN details for authorization
                      id: azureAuth
                      type: authorization
                  type: microsoft.visualstudio/pipelineTemplate
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:15:\"InputDescriptor\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Defines
  a pipeline template input.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Description
  of what this input is used for.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Identifier
  for the input.\";s:4:\"type\";s:6:\"string\";}s:14:\"possibleValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Possible
  values that this input can take.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/InputValue\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Data
  type of the input.\";s:4:\"enum\";a:5:{i:0;s:6:\"String\";i:1;s:12:\"SecureString\";i:2;s:3:\"Int\";i:3;s:4:\"Bool\";i:4;s:13:\"Authorization\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"InputDataType\";}}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:10:\"InputValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Value
  for an input.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"displayValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Display
  text to show for the value of an input.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Value
  to store for an input.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"PipelineTemplate\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Defines
  a pipeline template resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Description
  of the pipeline which this template enables.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Unique
  id of pipeline template.\";s:4:\"type\";s:6:\"string\";}s:6:\"inputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Inputs
  required by this template to create pipeline.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/InputDescriptor\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:34:\"PipelineTemplateResourceListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  response to pipeline template resource list GET request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Array
  of resource details.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PipelineTemplate\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
