---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:32:\"The HDInsight
  Management Client.\";s:5:\"title\";s:25:\"HDInsightManagementClient\";s:7:\"version\";s:18:\"2015-03-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:168:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/cluster.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:17:\"hdinsight-cluster\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"azure_hdinsight_cluster\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/clusters:
    get:
      description: Lists all the HDInsight clusters under the subscription.
      operationId: Clusters_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/ClusterListResult'
      tags:
      - Clusters
      x-ms-examples:
        Get All Hadoop on Linux clusters:
          parameters:
            api-version: 2015-03-01-preview
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                  location: West US
                  name: cluster1
                  properties:
                    clusterDefinition:
                      blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                      kind: hadoop
                    clusterState: Running
                    clusterVersion: 3.5.1000.0
                    computeProfile:
                      roles:
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: Medium
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 3
                    connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                    createdDate: "2017-01-11T18:58:26.187"
                    osType: Linux
                    provisioningState: Succeeded
                    quotaInfo:
                      coresUsed: 24
                    tier: Standard
                  tags:
                    key1: val1
                  type: Microsoft.HDInsight/clusters
                - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster2
                  location: West US
                  name: cluster2
                  properties:
                    clusterDefinition:
                      blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                      kind: hadoop
                    clusterState: Running
                    clusterVersion: 3.5.1000.0
                    computeProfile:
                      roles:
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: Medium
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 3
                    connectivityEndpoints:
                    - location: cluster2-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster2.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                    createdDate: "2017-01-11T18:58:26.187"
                    osType: Linux
                    provisioningState: Succeeded
                    quotaInfo:
                      coresUsed: 24
                    tier: Standard
                  tags:
                    key1: val1
                  type: Microsoft.HDInsight/clusters
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters:
    get:
      description: Lists the HDInsight clusters in a resource group.
      operationId: Clusters_ListByResourceGroup
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/ClusterListResult'
      tags:
      - Clusters
      x-ms-examples:
        Get All Hadoop on Linux clusters in a resource group:
          parameters:
            api-version: 2015-03-01-preview
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                  location: West US
                  name: cluster1
                  properties:
                    clusterDefinition:
                      blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                      kind: hadoop
                    clusterState: Running
                    clusterVersion: 3.5.1000.0
                    computeProfile:
                      roles:
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: Medium
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 3
                    connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                    createdDate: "2017-01-11T18:58:26.187"
                    osType: Linux
                    provisioningState: Succeeded
                    quotaInfo:
                      coresUsed: 24
                    tier: Standard
                  tags:
                    key1: val1
                  type: Microsoft.HDInsight/clusters
                - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster2
                  location: West US
                  name: cluster2
                  properties:
                    clusterDefinition:
                      blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                      kind: hadoop
                    clusterState: Running
                    clusterVersion: 3.5.1000.0
                    computeProfile:
                      roles:
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: Medium
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: pulkitssh
                        targetInstanceCount: 3
                    connectivityEndpoints:
                    - location: cluster2-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster2.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                    createdDate: "2017-01-11T18:58:26.187"
                    osType: Linux
                    provisioningState: Succeeded
                    quotaInfo:
                      coresUsed: 24
                    tier: Standard
                  tags:
                    key1: val1
                  type: Microsoft.HDInsight/clusters
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}:
    delete:
      description: Deletes the specified HDInsight cluster.
      operationId: Clusters_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Ok response definition.
        202:
          description: Accepted response definition.
      tags:
      - Clusters
      x-ms-examples:
        Delete Hadoop on Linux cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200: []
            202: []
      x-ms-long-running-operation: true
    get:
      description: Gets the specified cluster.
      operationId: Clusters_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/Cluster'
      tags:
      - Clusters
      x-ms-examples:
        Get Hadoop on Linux cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                location: West US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                    kind: hadoop
                  clusterState: Running
                  clusterVersion: 3.5.1000.0
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: Medium
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 3
                  connectivityEndpoints:
                  - location: cluster1-ssh.azurehdinsight.net
                    name: SSH
                    port: 22
                    protocol: TCP
                  - location: cluster1.azurehdinsight.net
                    name: HTTPS
                    port: 443
                    protocol: TCP
                  createdDate: "2017-01-11T18:58:26.187"
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 24
                  tier: Standard
                tags:
                  key1: val1
                type: Microsoft.HDInsight/clusters
        Get Spark on Linux cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                etag: 4cd8b5a9-ca9c-4239-9e5b-3916032e994c
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                location: West US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/spark-3.5.1000.0.9625065.json
                    componentVersion:
                      Spark: "2.0"
                    kind: SPARK
                  clusterState: Running
                  clusterVersion: 3.5.1000.0
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: Standard_D12_V2
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: Standard_D4_V2
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: Medium
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 3
                  connectivityEndpoints:
                  - location: cluster1-ssh.azurehdinsight.net
                    name: SSH
                    port: 22
                    protocol: TCP
                  - location: cluster1.azurehdinsight.net
                    name: HTTPS
                    port: 443
                    protocol: TCP
                  createdDate: "2017-03-03T08:35:07.323"
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                tags:
                  key1: val1
                type: Microsoft.HDInsight/clusters
    patch:
      description: Patch HDInsight cluster with the specified parameters.
      operationId: Clusters_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        type: string
      - description: The cluster patch request.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ClusterPatchParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/Cluster'
      tags:
      - Clusters
      x-ms-examples:
        Patch HDInsight Linux clusters:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              tags:
                key1: val1
                key2: val2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                location: West US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                    kind: hadoop
                  clusterState: Running
                  clusterVersion: 3.5.1000.0
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: Medium
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          username: sshuser
                      targetInstanceCount: 3
                  connectivityEndpoints:
                  - location: cluster1-ssh.azurehdinsight.net
                    name: SSH
                    port: 22
                    protocol: TCP
                  - location: cluster1.azurehdinsight.net
                    name: HTTPS
                    port: 443
                    protocol: TCP
                  createdDate: "2017-01-11T18:58:26.187"
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 24
                  tier: Standard
                tags:
                  key1: val1
                  key2: val2
                type: Microsoft.HDInsight/clusters
    put:
      description: Creates a new HDInsight cluster with the specified parameters.
      operationId: Clusters_Create
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        type: string
      - description: The cluster create request.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ClusterCreateParametersExtended'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/Cluster'
      tags:
      - Clusters
      x-ms-examples:
        Create Hadoop on Linux cluster with SSH password:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: "true"
                      restAuthCredential.password: '**********'
                      restAuthCredential.username: admin
                  kind: Hadoop
                clusterVersion: "3.5"
                computeProfile:
                  roles:
                  - hardwareProfile:
                      vmSize: Standard_D3_V2
                    minInstanceCount: 1
                    name: headnode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 2
                  - hardwareProfile:
                      vmSize: Standard_D3_V2
                    minInstanceCount: 1
                    name: workernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 4
                  - hardwareProfile:
                      vmSize: Small
                    minInstanceCount: 1
                    name: zookeepernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 3
                osType: Linux
                storageProfile:
                  storageaccounts:
                  - container: containername
                    isDefault: true
                    key: storagekey
                    name: mystorage
                tier: Standard
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
        Create Hadoop on Linux cluster with SSH public key:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: '**********'
                      restAuthCredential.username: admin
                  kind: Hadoop
                clusterVersion: "3.5"
                computeProfile:
                  roles:
                  - hardwareProfile:
                      vmSize: Standard_D3_V2
                    minInstanceCount: 1
                    name: headnode
                    osProfile:
                      linuxOperatingSystemProfile:
                        sshProfile:
                          publicKeys:
                          - certificateData: '**********'
                        username: sshuser
                    targetInstanceCount: 2
                  - hardwareProfile:
                      vmSize: Standard_D3_V2
                    minInstanceCount: 1
                    name: workernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 4
                  - hardwareProfile:
                      vmSize: Small
                    minInstanceCount: 1
                    name: zookeepernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 3
                osType: Linux
                storageProfile:
                  storageaccounts:
                  - container: containername
                    isDefault: true
                    key: storagekey
                    name: mystorage
                tier: Standard
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
        Create Secure Hadoop cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: '**********'
                      restAuthCredential.username: admin
                  kind: Hadoop
                clusterVersion: "3.5"
                computeProfile:
                  roles:
                  - hardwareProfile:
                      vmSize: Standard_D3_V2
                    minInstanceCount: 1
                    name: headnode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        sshProfile:
                          publicKeys:
                          - certificateData: '**********'
                        username: sshuser
                    scriptActions: []
                    targetInstanceCount: 2
                    virtualNetworkProfile:
                      id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname
                      subnet: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet
                  - hardwareProfile:
                      vmSize: Standard_D3_V2
                    minInstanceCount: 1
                    name: workernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        sshProfile:
                          publicKeys:
                          - certificateData: '**********'
                        username: sshuser
                    scriptActions: []
                    targetInstanceCount: 4
                    virtualNetworkProfile:
                      id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname
                      subnet: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet
                  - hardwareProfile:
                      vmSize: Small
                    minInstanceCount: 1
                    name: zookeepernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        sshProfile:
                          publicKeys:
                          - certificateData: '**********'
                        username: sshuser
                    scriptActions: []
                    targetInstanceCount: 3
                    virtualNetworkProfile:
                      id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname
                      subnet: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet
                osType: Linux
                securityProfile:
                  clusterUsersGroupDNs:
                  - hdiusers
                  directoryType: ActiveDirectory
                  domain: DomainName
                  domainUserPassword: '**********'
                  domainUsername: DomainUsername
                  ldapsUrls:
                  - ldaps://10.10.0.4:636
                  organizationalUnitDN: OU=Hadoop,DC=hdinsight,DC=test
                storageProfile:
                  storageaccounts:
                  - container: containername
                    isDefault: true
                    key: storage account key
                    name: mystorage
                tier: Premium
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
        Create Spark on Linux Cluster with SSH password:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  componentVersion:
                    Spark: "2.0"
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: '**********'
                      restAuthCredential.username: admin
                  kind: Spark
                clusterVersion: "3.5"
                computeProfile:
                  roles:
                  - hardwareProfile:
                      vmSize: Standard_D12_V2
                    minInstanceCount: 1
                    name: headnode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 2
                  - hardwareProfile:
                      vmSize: Standard_D4_V2
                    minInstanceCount: 1
                    name: workernode
                    osProfile:
                      linuxOperatingSystemProfile:
                        password: '**********'
                        username: sshuser
                    targetInstanceCount: 4
                osType: Linux
                storageProfile:
                  storageaccounts:
                  - container: containername
                    isDefault: true
                    key: storageapikey*
                    name: mystorage
                tier: Standard
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/roles/{roleName}/resize
  : post:
      description: Resizes the specified HDInsight cluster to the specified size.
      operationId: Clusters_Resize
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        type: string
      - description: The constant value for the roleName
        enum:
        - workernode
        in: path
        name: roleName
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: RoleName
      - description: The parameters for the resize operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ClusterResizeParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
        202:
          description: Accepted response definition.
      tags:
      - Clusters
      x-ms-examples:
        Resize the worker nodes for a Hadoop on Linux cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              targetInstanceCount: 10
            resourceGroupName: rg1
            roleName: workernode
            subscriptionId: subid
          responses:
            200: []
            202: []
      x-ms-long-running-operation: true
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":31:{s:7:\"Cluster\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:11:\"description\";s:22:\"The
  HDInsight cluster.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  ETag for the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ClusterGetProperties\";s:11:\"description\";s:30:\"The
  properties of the cluster.\";}}}s:31:\"ClusterCreateParametersExtended\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  CreateCluster request parameters.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  location of the cluster.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ClusterCreateProperties\";s:11:\"description\";s:30:\"The
  cluster create parameters.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"The
  resource tags.\";s:4:\"type\";s:6:\"object\";}}}s:23:\"ClusterCreateProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  cluster create parameters.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"clusterDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ClusterDefinition\";s:11:\"description\";s:23:\"The
  cluster definition.\";}s:14:\"clusterVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  version of the cluster.\";s:4:\"type\";s:6:\"string\";}s:14:\"computeProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ComputeProfile\";s:11:\"description\";s:20:\"The
  compute profile.\";}s:6:\"osType\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"The
  type of operating system.\";s:4:\"enum\";a:2:{i:0;s:7:\"Windows\";i:1;s:5:\"Linux\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:6:\"OSType\";}}s:15:\"securityProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SecurityProfile\";s:11:\"description\";s:21:\"The
  security profile.\";}s:14:\"storageProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StorageProfile\";s:11:\"description\";s:20:\"The
  storage profile.\";}s:4:\"tier\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  cluster tier.\";s:4:\"enum\";a:2:{i:0;s:8:\"Standard\";i:1;s:7:\"Premium\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:4:\"Tier\";}}}}s:17:\"ClusterDefinition\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  cluster definition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"blueprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  link to the blueprint.\";s:4:\"type\";s:6:\"string\";}s:16:\"componentVersion\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:50:\"The
  versions of different services in the cluster.\";s:4:\"type\";s:6:\"object\";}s:14:\"configurations\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  cluster configurations.\";s:4:\"type\";s:6:\"object\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  type of cluster.\";s:4:\"type\";s:6:\"string\";}}}s:20:\"ClusterGetProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  properties of cluster.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:17:\"clusterDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ClusterDefinition\";s:11:\"description\";s:23:\"The
  cluster definition.\";}s:12:\"clusterState\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  state of the cluster.\";s:4:\"type\";s:6:\"string\";}s:14:\"clusterVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  version of the cluster.\";s:4:\"type\";s:6:\"string\";}s:14:\"computeProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ComputeProfile\";s:11:\"description\";s:20:\"The
  compute profile.\";}s:21:\"connectivityEndpoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  list of connectivity endpoints.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ConnectivityEndpoint\";}s:4:\"type\";s:5:\"array\";}s:11:\"createdDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  date on which the cluster was created.\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  list of errors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/errors\";}s:4:\"type\";s:5:\"array\";}s:6:\"osType\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"The
  type of operating system.\";s:4:\"enum\";a:2:{i:0;s:7:\"Windows\";i:1;s:5:\"Linux\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:6:\"OSType\";}}s:17:\"provisioningState\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  provisioning state, which only appears in the response.\";s:4:\"enum\";a:5:{i:0;s:10:\"InProgress\";i:1;s:6:\"Failed\";i:2;s:9:\"Succeeded\";i:3;s:8:\"Canceled\";i:4;s:8:\"Deleting\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:33:\"HDInsightClusterProvisioningState\";}}s:9:\"quotaInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/QuotaInfo\";s:11:\"description\";s:22:\"The
  quota information.\";}s:15:\"securityProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SecurityProfile\";s:11:\"description\";s:21:\"The
  security profile.\";}s:4:\"tier\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  cluster tier.\";s:4:\"enum\";a:2:{i:0;s:8:\"Standard\";i:1;s:7:\"Premium\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:4:\"Tier\";}}}s:8:\"required\";a:1:{i:0;s:17:\"clusterDefinition\";}}s:39:\"ClusterListPersistedScriptActionsResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  ListPersistedScriptActions operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  list of Persisted Script Actions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/RuntimeScriptAction\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"ClusterListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  List Cluster operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  list of Clusters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";}s:4:\"type\";s:5:\"array\";}}}s:42:\"ClusterListRuntimeScriptActionDetailResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  list runtime script action detail response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/RuntimeScriptActionDetail\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:22:\"ClusterPatchParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  PatchCluster request parameters\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"tags\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"The
  resource tags.\";s:4:\"type\";s:6:\"object\";s:10:\"x-nullable\";b:1;}}}s:23:\"ClusterResizeParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  Resize Cluster request parameters.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"targetInstanceCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  target instance count for the operation.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:14:\"ComputeProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Describes
  the compute profile.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"roles\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  list of roles in the cluster.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Role\";}s:4:\"type\";s:5:\"array\";}}}s:20:\"ConnectivityEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  connectivity properties\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  location of the endpoint.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the endpoint.\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  port to connect to.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  protocol of the endpoint.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"DataDisksGroups\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  data disks groups for the role.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"diskSizeGB\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"ReadOnly.
  The DiskSize in GB. Do not set this value.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:12:\"disksPerNode\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  number of disks per node.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"storageAccountType\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"ReadOnly.
  The storage account type. Do not set this value.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:29:\"ExecuteScriptActionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  parameters for the script actions to execute on a running cluster.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"persistOnSuccess\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Gets
  or sets if the scripts needs to be persisted.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"scriptActions\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  list of run time script actions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/RuntimeScriptAction\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:16:\"persistOnSuccess\";}}s:15:\"HardwareProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  hardware profile.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"vmSize\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  size of the VM\";s:4:\"type\";s:6:\"string\";}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  HDInsight REST API operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  object that represents the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  operation type: read, write, delete, etc.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  service provider: Microsoft.HDInsight\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  resource on which the operation is performed: Cluster, Capabilities, etc.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  operation name: {provider}/{resource}/{operation}\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"Result
  of the request to list HDInsight operations. It contains a list of operations and
  a URL link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  URL to get the next set of operation list results if there are any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  list of HDInsight operations supported by the HDInsight resource provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"OperationResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  azure async operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/errors\";s:11:\"description\";s:32:\"The
  operation error information.\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"The
  async operation state.\";s:4:\"enum\";a:3:{i:0;s:10:\"InProgress\";i:1;s:9:\"Succeeded\";i:2;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"AsyncOperationState\";}}}}s:13:\"ProxyResource\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:117:\"The
  resource model definition for a ARM proxy resource. It will have everything other
  than required location and tags\";}s:9:\"QuotaInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  quota properties for the cluster.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"coresUsed\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  cores used by the cluster.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  core properties of ARM resources\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Fully
  qualified resource Id for the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  name of the resource\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:4:\"Role\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Describes
  a role on the cluster.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"dataDisksGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  data disks groups for the role.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DataDisksGroups\";}s:4:\"type\";s:5:\"array\";}s:15:\"hardwareProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/HardwareProfile\";s:11:\"description\";s:21:\"The
  hardware profile.\";}s:16:\"minInstanceCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  minimum instance count of the cluster.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the role.\";s:4:\"type\";s:6:\"string\";}s:9:\"osProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  Linux operation systems profile.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:27:\"linuxOperatingSystemProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  ssh username, password, and ssh public key.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  password.\";s:4:\"type\";s:6:\"string\";}s:10:\"sshProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  list of SSH public keys.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"publicKeys\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  list of SSH public keys.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  SSH public key for the cluster nodes.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"certificateData\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  certificate for SSH.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"type\";s:5:\"array\";}}}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  username.\";s:4:\"type\";s:6:\"string\";}}}}}s:13:\"scriptActions\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  list of script actions on the role.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Describes
  a script action on role on the cluster.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the script action.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  parameters for the script provided.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  URI to the script.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:3:\"uri\";i:2;s:10:\"parameters\";}}s:4:\"type\";s:5:\"array\";}s:19:\"targetInstanceCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  instance count of the cluster.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"virtualNetworkProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/VirtualNetworkProfile\";s:11:\"description\";s:28:\"The
  virtual network profile.\";}}}s:19:\"RuntimeScriptAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Describes
  a script action on a running cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"applicationName\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  application name of the script action, if any.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the script action.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  parameters for the script\";s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  list of roles where script will be executed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  URI to the script.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:3:\"uri\";i:2;s:5:\"roles\";}}s:25:\"RuntimeScriptActionDetail\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/RuntimeScriptAction\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"debugInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  script action execution debug information.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  end time of script action execution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"executionSummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  summary of script action execution result.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ScriptActionExecutionSummary\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  reason why the script action was executed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"scriptExecutionId\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  execution id of the script action.\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  start time of script action execution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  current execution status of the script action.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:41:\"The
  execution details of a script action.\";}s:28:\"ScriptActionExecutionSummary\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  execution summary of a script action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"instanceCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  instance count for a given script action execution status.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  status of script action execution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:15:\"SecurityProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  security profile which contains Ssh public key for the HDInsight cluster.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:20:\"clusterUsersGroupDNs\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Optional.
  The Distinguished Names for cluster user groups\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"directoryType\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"The
  directory type.\";s:4:\"enum\";a:1:{i:0;s:15:\"ActiveDirectory\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"DirectoryType\";}}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  organization's active directory domain.\";s:4:\"type\";s:6:\"string\";}s:18:\"domainUserPassword\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  domain admin password.\";s:6:\"format\";s:8:\"password\";s:4:\"type\";s:6:\"string\";}s:14:\"domainUsername\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  domain user account that will have admin privileges on the cluster.\";s:4:\"type\";s:6:\"string\";}s:9:\"ldapsUrls\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  LDAPS protocol URLs to communicate with the Active Directory.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"organizationalUnitDN\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  organizational unit within the Active Directory to place the cluster and service
  accounts.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"StorageAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  storage Account.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"container\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  container in the storage account.\";s:4:\"type\";s:6:\"string\";}s:9:\"isDefault\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Whether
  or not the storage account is the default storage account.\";s:4:\"type\";s:7:\"boolean\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  storage account access key.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  name of the storage account.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"StorageProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  storage profile.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"storageaccounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  list of storage accounts in the cluster.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/StorageAccount\";}s:4:\"type\";s:5:\"array\";}}}s:15:\"TrackedResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:66:\"The
  resource model definition for a ARM tracked top level resource\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  Azure Region where the resource lives\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}}s:4:\"tags\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";s:15:\"x-ms-mutability\";a:3:{i:0;s:4:\"read\";i:1;s:6:\"create\";i:2;s:6:\"update\";}}}}s:21:\"VirtualNetworkProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  virtual network properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  ID of the virtual network.\";s:4:\"type\";s:6:\"string\";}s:6:\"subnet\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the subnet.\";s:4:\"type\";s:6:\"string\";}}}s:6:\"errors\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  error message associated with the cluster creation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  error message.\";s:4:\"type\";s:6:\"string\";}}}}"
...
