---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:92:\"Provides create,
  read, update and delete functionality Azure SQL server communication links.\";s:5:\"title\";s:18:\"Azure
  SQL Database\";s:7:\"version\";s:10:\"2014-04-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:164:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/serverCommunicationLinks.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:28:\"sql-serverCommunicationLinks\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/communicationLinks
  : get:
      description: Gets a list of server communication links.
      operationId: ServerCommunicationLinks_ListByServer
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServerCommunicationLinkListResult'
      tags:
      - ServerCommunicationLinks
      x-ms-examples:
        List server communication links:
          parameters:
            api-version: "2014-04-01"
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/communicationLinks/link1
                  kind: ~
                  location: Central US
                  name: link1
                  properties:
                    partnerServer: sqlcrudtest-test
                    state: Ready
                  type: Microsoft.Sql/servers/communicationLinks
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/communicationLinks/{communicationLinkName}
  : delete:
      description: Deletes a server communication link.
      operationId: ServerCommunicationLinks_Delete
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the server communication link.
        in: path
        name: communicationLinkName
        required: true
        type: string
      responses:
        200:
          description: OK
      tags:
      - ServerCommunicationLinks
      x-ms-examples:
        Delete a server communication link:
          parameters:
            api-version: "2014-04-01"
            communicationLinkName: link1
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200: []
    get:
      description: Returns a server communication link.
      operationId: ServerCommunicationLinks_Get
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the server communication link.
        in: path
        name: communicationLinkName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServerCommunicationLink'
      tags:
      - ServerCommunicationLinks
      x-ms-examples:
        Get a server communication link:
          parameters:
            api-version: "2014-04-01"
            communicationLinkName: link1
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/communicationLinks/link1
                kind: ~
                location: Central US
                name: link1
                properties:
                  partnerServer: sqlcrudtest-test
                  state: Ready
                type: Microsoft.Sql/servers/communicationLinks
    put:
      description: Creates a server communication link.
      operationId: ServerCommunicationLinks_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the server communication link.
        in: path
        name: communicationLinkName
        required: true
        type: string
      - description: The required parameters for creating a server communication link.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ServerCommunicationLink'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/ServerCommunicationLink'
        202:
          description: Accepted
      tags:
      - ServerCommunicationLinks
      x-ms-examples:
        Create a server communication link:
          parameters:
            api-version: "2014-04-01"
            communicationLinkName: link1
            parameters:
              properties:
                partnerServer: sqldcrudtest-test
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/communicationLinks/link1
                kind: ~
                location: Central US
                name: link1
                properties:
                  partnerServer: sqlcrudtest-test
                  state: Ready
                type: Microsoft.Sql/servers/communicationLinks
            202: []
      x-ms-long-running-operation: true
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:23:\"ServerCommunicationLink\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:19:\"ARM
  proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:26:\"Server
  communication link.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Communication
  link kind.  This property is used for Azure Portal metadata.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Communication
  link location.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:47:\"#/definitions/ServerCommunicationLinkProperties\";s:11:\"description\";s:27:\"The
  properties of resource.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:33:\"ServerCommunicationLinkListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"A
  list of server communication links.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  list of server communication links.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ServerCommunicationLink\";}s:4:\"type\";s:5:\"array\";}}}s:33:\"ServerCommunicationLinkProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  properties of a server communication link.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"partnerServer\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  name of the partner server.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"The
  state.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:13:\"partnerServer\";}}}"
...
