---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:347:\"These APIs allow
  end users to operate on Azure Machine Learning Commitment Plans resources and their
  child Commitment Association resources. They support CRUD operations for commitment
  plans, get and list operations for commitment associations, moving commitment associations
  between commitment plans, and retrieving commitment plan usage history.\";s:5:\"title\";s:43:\"Azure
  ML Commitment Plans Management Client\";s:7:\"version\";s:18:\"2016-05-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:188:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearning/resource-manager/Microsoft.MachineLearning/preview/2016-05-01-preview/commitmentPlans.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:31:\"machinelearning-commitmentPlans\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:37:\"azure_machinelearning_commitmentplans\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/commitmentPlans:
    get:
      description: Retrieve all Azure ML commitment plans in a subscription.
      operationId: CommitmentPlans_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: Continuation token for pagination.
        in: query
        name: $skipToken
        required: false
        type: string
      - $ref: '#/parameters/APIVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CommitmentPlanListResult'
      tags:
      - CommitmentPlans
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/skus:
    get:
      description: Lists the available commitment plan SKUs.
      operationId: Skus_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/APIVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SkuListResult'
      tags:
      - Skus
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans:
    get:
      description: Retrieve all Azure ML commitment plans in a resource group.
      operationId: CommitmentPlans_ListInResourceGroup
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/SkipTokenParameter'
      - $ref: '#/parameters/APIVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CommitmentPlanListResult'
      tags:
      - CommitmentPlans
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}
  : delete:
      description: Remove an existing Azure ML commitment plan.
      operationId: CommitmentPlans_Remove
      responses:
        200:
          description: OK
      tags:
      - CommitmentPlans
    get:
      description: Retrieve an Azure ML commitment plan by its subscription, resource
        group and name.
      operationId: CommitmentPlans_Get
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CommitmentPlan'
      tags:
      - CommitmentPlans
    parameters:
    - $ref: '#/parameters/SubscriptionIdParameter'
    - $ref: '#/parameters/ResourceGroupNameParameter'
    - $ref: '#/parameters/CommitmentPlanNameParameter'
    - $ref: '#/parameters/APIVersionParameter'
    patch:
      description: Patch an existing Azure ML commitment plan resource.
      operationId: CommitmentPlans_Patch
      parameters:
      - description: The payload to use to patch the Azure ML commitment plan. Only
          tags and SKU may be modified on an existing commitment plan.
        in: body
        name: patchPayload
        required: true
        schema:
          $ref: '#/definitions/CommitmentPlanPatchPayload'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CommitmentPlan'
      tags:
      - CommitmentPlans
    put:
      description: Create a new Azure ML commitment plan resource or updates an existing
        one.
      operationId: CommitmentPlans_CreateOrUpdate
      parameters:
      - description: The payload to create or update the Azure ML commitment plan.
        in: body
        name: createOrUpdatePayload
        required: true
        schema:
          $ref: '#/definitions/CommitmentPlan'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CommitmentPlan'
        201:
          description: Created
          schema:
            $ref: '#/definitions/CommitmentPlan'
      tags:
      - CommitmentPlans
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/commitmentAssociations
  : get:
      description: Get all commitment associations for a parent commitment plan.
      operationId: CommitmentAssociations_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/CommitmentPlanNameParameter'
      - $ref: '#/parameters/SkipTokenParameter'
      - $ref: '#/parameters/APIVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CommitmentAssociationListResult'
      tags:
      - CommitmentAssociations
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/commitmentAssociations/{commitmentAssociationName}
  : get:
      description: Get a commitment association.
      operationId: CommitmentAssociations_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/CommitmentPlanNameParameter'
      - $ref: '#/parameters/CommitmentAssociationNameParameter'
      - $ref: '#/parameters/APIVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CommitmentAssociation'
      tags:
      - CommitmentAssociations
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/commitmentAssociations/{commitmentAssociationName}/move
  : post:
      description: Re-parent a commitment association from one commitment plan to
        another.
      operationId: CommitmentAssociations_Move
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/CommitmentPlanNameParameter'
      - $ref: '#/parameters/CommitmentAssociationNameParameter'
      - $ref: '#/parameters/APIVersionParameter'
      - description: The move request payload.
        in: body
        name: movePayload
        required: true
        schema:
          $ref: '#/definitions/MoveCommitmentAssociationRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CommitmentAssociation'
      tags:
      - CommitmentAssociations
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/usageHistory
  : get:
      description: Retrieve the usage history for an Azure ML commitment plan.
      operationId: UsageHistory_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/CommitmentPlanNameParameter'
      - $ref: '#/parameters/SkipTokenParameter'
      - $ref: '#/parameters/APIVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PlanUsageHistoryListResult'
      tags:
      - CommitmentPlans
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:10:\"CatalogSku\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Details
  of a commitment plan SKU.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"capabilities\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  capability information for the specified SKU.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SkuCapability\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"capacity\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/SkuCapacity\";s:11:\"description\";s:23:\"SKU
  scaling information\";s:8:\"readOnly\";b:1;}s:5:\"costs\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  cost information for the specified SKU.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/SkuCost\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:9:\"locations\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Regions
  where the SKU is available.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"SKU
  name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"resourceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Resource
  type name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"restrictions\";O:8:\"stdClass\":4:{s:11:\"description\";s:99:\"Restrictions
  which would prevent a SKU from being used. This is empty if there are no restrictions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SkuRestrictions\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"tier\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"SKU
  tier\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CommitmentAssociation\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:117:\"Represents
  the association between a commitment plan and some other resource, such as a Machine
  Learning web service.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"An
  entity tag used to enforce optimistic concurrency.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/CommitmentAssociationProperties\";s:11:\"description\";s:54:\"The
  properties of the commitment association resource.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CommitmentAssociationListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"A
  page of commitment association resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"A
  URI to retrieve the next page of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  set of results for this page.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CommitmentAssociation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CommitmentAssociationProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Properties
  of an Azure ML commitment association.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"associatedResourceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"The
  ID of the resource this association points to, such as the ARM ID of an Azure ML
  web service.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"commitmentPlanId\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  ARM ID of the parent Azure ML commitment plan.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"The
  date at which this commitment association was created, in ISO 8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CommitmentPlan\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:37:\"An
  Azure ML commitment plan resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"An
  entity tag used to enforce optimistic concurrency.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:38:\"#/definitions/CommitmentPlanProperties\";s:11:\"description\";s:31:\"The
  commitment plan properties.\";s:8:\"readOnly\";b:1;}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceSku\";s:11:\"description\";s:24:\"The
  commitment plan SKU.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CommitmentPlanListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"A
  page of commitment plan resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"A
  URI to retrieve the next page of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  set of results for this page.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CommitmentPlan\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CommitmentPlanPatchPayload\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  properties of a commitment plan which may be updated via PATCH.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceSku\";s:11:\"description\";s:24:\"The
  commitment plan SKU.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:42:\"User-defined
  tags for the commitment plan.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CommitmentPlanProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Properties
  of an Azure ML commitment plan.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:16:\"chargeForOverage\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Indicates
  whether usage beyond the commitment plan's included quantities will be charged.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:13:\"chargeForPlan\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Indicates
  whether the commitment plan will incur a charge.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:12:\"creationDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"The
  date at which this commitment plan was created, in ISO 8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"includedQuantities\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PlanQuantity\";}s:11:\"description\";s:53:\"The
  included resource quantities this plan gives you.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:19:\"maxAssociationLimit\";O:8:\"stdClass\":4:{s:11:\"description\";s:91:\"The
  maximum number of commitment associations that can be children of this commitment
  plan.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:16:\"maxCapacityLimit\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  maximum scale-out capacity for this commitment plan.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:16:\"minCapacityLimit\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  minimum scale-out capacity for this commitment plan.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:9:\"planMeter\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  Azure meter which will be used to charge for this commitment plan.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:21:\"refillFrequencyInDays\";O:8:\"stdClass\":4:{s:11:\"description\";s:79:\"The
  frequency at which this commitment plan's included quantities are refilled.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:20:\"suspendPlanOnOverage\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"Indicates
  whether this commitment plan will be moved into a suspended state if usage goes
  beyond the commitment plan's included quantities.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:32:\"MoveCommitmentAssociationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Specifies
  the destination Azure ML commitment plan for a move operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"destinationPlanId\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  ARM ID of the commitment plan to re-parent the commitment association to.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"PlanQuantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Represents
  the quantity a commitment plan provides of a metered resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"allowance\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"The
  quantity added to the commitment plan at an interval specified by its allowance
  frequency.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:6:\"amount\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"The
  quantity available to the plan the last time usage was calculated.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:21:\"includedQuantityMeter\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  Azure meter for usage against included quantities.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"overageMeter\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  Azure meter for usage which exceeds included quantities.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"PlanUsageHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Represents
  historical information about usage of the Azure resources associated with a commitment
  plan.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"planDeletionOverage\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"description\";s:59:\"Overage
  incurred as a result of deleting a commitment plan.\";s:4:\"type\";s:6:\"object\";}s:20:\"planMigrationOverage\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"description\";s:84:\"Overage
  incurred as a result of migrating a commitment plan from one SKU to another.\";s:4:\"type\";s:6:\"object\";}s:24:\"planQuantitiesAfterUsage\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"description\";s:108:\"Included
  quantities remaining after usage against the commitment plan's associated resources
  was calculated.\";s:4:\"type\";s:6:\"object\";}s:25:\"planQuantitiesBeforeUsage\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"description\";s:109:\"Included
  quantities remaining before usage against the commitment plan's associated resources
  was calculated.\";s:4:\"type\";s:6:\"object\";}s:16:\"planUsageOverage\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"description\";s:127:\"Usage
  against the commitment plan's associated resources which was not covered by included
  quantities and is therefore overage.\";s:4:\"type\";s:6:\"object\";}s:5:\"usage\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"description\";s:57:\"Usage
  against the commitment plan's associated resources.\";s:4:\"type\";s:6:\"object\";}s:9:\"usageDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  date of usage, in ISO 8601 format.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"PlanUsageHistoryListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  page of usage history.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"A
  URI to retrieve the next page of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  set of results for this page.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PlanUsageHistory\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Common
  properties of an ARM resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:35:\"User-defined
  tags for the resource.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:11:\"ResourceSku\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  SKU of a resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"capacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"The
  scale-out capacity of the resource. 1 is 1x, 2 is 2x, etc. This impacts the quantities
  and cost of any commitment plan resource.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  SKU name. Along with tier, uniquely identifies the SKU.\";s:4:\"type\";s:6:\"string\";}s:4:\"tier\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  SKU tier. Along with name, uniquely identifies the SKU.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SkuCapability\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Describes
  The SKU capabilites object.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  capability name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  capability value.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"SkuCapacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  scaling information of a SKU.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"default\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"The
  default capacity.\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:7:\"maximum\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"The
  maximum capacity that can be set.\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:7:\"minimum\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"The
  minimum capacity.\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:9:\"scaleType\";O:8:\"stdClass\":5:{s:11:\"description\";s:37:\"The
  scale type applicable to the sku.\";s:4:\"enum\";a:3:{i:0;s:9:\"Automatic\";i:1;s:6:\"Manual\";i:2;s:4:\"None\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"SkuCapacityScaleType\";}}}s:4:\"type\";s:6:\"object\";}s:7:\"SkuCost\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Describes
  metadata for SKU cost info.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"extendedUnit\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  overall duration represented by the quantity.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"meterID\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  meter used for this part of a SKU's cost.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  multiplier for the meter ID.\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SkuListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  list of commitment plan SKUs.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CatalogSku\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"SkuRestrictions\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Describes
  restrictions which would prevent a SKU from being used.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"reasonCode\";O:8:\"stdClass\":5:{s:11:\"description\";s:27:\"The
  reason for restriction.\";s:4:\"enum\";a:2:{i:0;s:7:\"QuotaId\";i:1;s:27:\"NotAvailableForSubscription\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:33:\"ResourceSkuRestrictionsReasonCode\";}}s:4:\"type\";O:8:\"stdClass\":5:{s:11:\"description\";s:25:\"The
  type of restrictions.\";s:4:\"enum\";a:2:{i:0;s:8:\"location\";i:1;s:4:\"zone\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:27:\"ResourceSkuRestrictionsType\";}}s:6:\"values\";O:8:\"stdClass\":4:{s:11:\"description\";s:133:\"The
  value of restrictions. If the restriction type is set to location. This would be
  different locations where the SKU is restricted.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:4:\"Tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}}"
...
