---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:39:\"REST API for Azure
  Redis Cache Service.\";s:5:\"title\";s:21:\"RedisManagementClient\";s:7:\"version\";s:10:\"2015-08-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:107:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-redis/2015-08-01/swagger/redis.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:9:\"arm-redis\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"azure_arm_redis\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Cache/Redis/:
    get:
      description: Gets all Redis caches in the specified subscription.
      operationId: Redis_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/RedisListResult'
      tags:
      - Redis
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/:
    get:
      description: Gets all Redis caches in a resource group.
      operationId: Redis_ListByResourceGroup
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/RedisListResult'
      tags:
      - Redis
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}:
    delete:
      description: Deletes a Redis cache.
      operationId: Redis_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the Redis cache.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
        202:
          description: ""
        404:
          description: ""
      tags:
      - Redis
    get:
      description: Gets a Redis cache (resource description).
      operationId: Redis_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the Redis cache.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/RedisResource'
      tags:
      - Redis
    put:
      description: Create a Redis cache, or replace (overwrite/recreate, with potential
        downtime) an existing cache.
      operationId: Redis_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the Redis cache.
        in: path
        name: name
        required: true
        type: string
      - description: Parameters supplied to the CreateOrUpdate Redis operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/RedisCreateOrUpdateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/RedisResourceWithAccessKey'
        201:
          description: ""
          schema:
            $ref: '#/definitions/RedisResourceWithAccessKey'
      tags:
      - Redis
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}/forceReboot:
    post:
      description: Reboot specified Redis node(s). This operation requires write permission
        to the cache resource. There can be potential data loss.
      operationId: Redis_ForceReboot
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the Redis cache.
        in: path
        name: name
        required: true
        type: string
      - description: Specifies which Redis node(s) to reboot.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/RedisRebootParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
        202:
          description: ""
        404:
          description: ""
      tags:
      - Redis
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}/listKeys:
    post:
      description: Retrieve a Redis cache's access keys. This operation requires write
        permission to the cache resource.
      operationId: Redis_ListKeys
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the Redis cache.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Lists the keys for a Redis Cache.
          schema:
            $ref: '#/definitions/RedisListKeysResult'
      tags:
      - Redis
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}/regenerateKey:
    post:
      description: Regenerate the access keys for a Redis cache. This operation requires
        write permission to the cache resource.
      operationId: Redis_RegenerateKey
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the Redis cache.
        in: path
        name: name
        required: true
        type: string
      - description: Specifies which key to reset.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/RedisRegenerateKeyParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Lists the regenerated keys for a Redis Cache.
          schema:
            $ref: '#/definitions/RedisListKeysResult'
      tags:
      - Redis
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:15:\"RedisAccessKeys\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Redis
  cache access keys.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"primaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  current primary key that clients can use to authenticate with Redis cache.\";s:4:\"type\";s:6:\"string\";}s:12:\"secondaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  current secondary key that clients can use to authenticate with Redis cache.\";s:4:\"type\";s:6:\"string\";}}}s:29:\"RedisCreateOrUpdateParameters\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:58:\"Parameters
  supplied to the CreateOrUpdate Redis operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:29:\"#/definitions/RedisProperties\";s:11:\"description\";s:23:\"Redis
  cache properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:19:\"RedisListKeysResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  response of Redis list keys operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"primaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  current primary key that clients can use to authenticate with Redis cache.\";s:4:\"type\";s:6:\"string\";}s:12:\"secondaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  current secondary key that clients can use to authenticate with Redis cache.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"RedisListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  response of list Redis operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Link
  for next set of locations.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Results
  of the list operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RedisResource\";}s:4:\"type\";s:5:\"array\";}}}s:15:\"RedisProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Parameters
  supplied to CreateOrUpdate Redis operation.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:16:\"enableNonSslPort\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"If
  the value is true, then the non-SLL Redis server port (6379) will be enabled.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"redisConfiguration\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:394:\"All
  Redis Settings. Few possible keys: rdb-backup-enabled,rdb-storage-connection-string,rdb-backup-frequency,maxmemory-delta,maxmemory-policy,notify-keyspace-events,maxmemory-samples,slowlog-log-slower-than,slowlog-max-len,list-max-ziplist-entries,list-max-ziplist-value,hash-max-ziplist-entries,hash-max-ziplist-value,set-max-intset-entries,zset-max-ziplist-entries,zset-max-ziplist-value
  etc.\";s:4:\"type\";s:6:\"object\";}s:12:\"redisVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"RedisVersion
  parameter has been deprecated. As such, it is no longer necessary to provide this
  parameter and any value specified is ignored.\";s:4:\"type\";s:6:\"string\";}s:10:\"shardCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  number of shards to be created on a Premium Cluster Cache.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:34:\"What
  SKU of Redis cache to deploy.\";}s:8:\"staticIP\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Required
  when deploying a Redis cache inside an existing Azure Virtual Network.\";s:4:\"type\";s:6:\"string\";}s:6:\"subnet\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Required
  when deploying a Redis cache inside an existing Azure Virtual Network.\";s:4:\"type\";s:6:\"string\";}s:14:\"tenantSettings\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"tenantSettings\";s:4:\"type\";s:6:\"object\";}s:14:\"virtualNetwork\";O:8:\"stdClass\":2:{s:11:\"description\";s:199:\"The
  exact ARM resource ID of the virtual network to deploy the Redis cache in. Example
  format: /subscriptions/{subid}/resourceGroups/{resourceGroupName}/Microsoft.ClassicNetwork/VirtualNetworks/vnet1\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:3:\"sku\";}}s:23:\"RedisReadableProperties\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RedisProperties\";}}s:11:\"description\";s:38:\"Parameters
  describing a Redis instance\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"hostName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Redis
  host name.\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Redis
  non-SSL port.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Redis
  instance provisioning status.\";s:4:\"type\";s:6:\"string\";}s:7:\"sslPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Redis
  SSL port.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:36:\"RedisReadablePropertiesWithAccessKey\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/RedisReadableProperties\";}}s:11:\"description\";s:72:\"Properties
  generated only in response to CreateOrUpdate Redis operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"accessKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RedisAccessKeys\";s:11:\"description\";s:24:\"Redis
  cache access keys.\";}}}s:21:\"RedisRebootParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Specifies
  which Redis node(s) to reboot.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"rebootType\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"Which
  Redis node(s) to reboot. Depending on this value data loss is possible.\";s:4:\"enum\";a:3:{i:0;s:11:\"PrimaryNode\";i:1;s:13:\"SecondaryNode\";i:2;s:8:\"AllNodes\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:10:\"RebootType\";}}s:7:\"shardId\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"If
  clustering is enabled, the ID of the shared be rebooted.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:10:\"rebootType\";}}s:28:\"RedisRegenerateKeyParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Specifies
  which Redis access keys to reset.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"keyType\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Which
  Redis access key to reset.\";s:4:\"enum\";a:2:{i:0;s:7:\"Primary\";i:1;s:9:\"Secondary\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:12:\"RedisKeyType\";}}}s:8:\"required\";a:1:{i:0;s:7:\"keyType\";}}s:13:\"RedisResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:45:\"A
  single Redis item in List or Get Operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/RedisReadableProperties\";s:11:\"description\";s:23:\"Redis
  cache properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:26:\"RedisResourceWithAccessKey\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:50:\"A
  Redis item in CreateOrUpdate Operation response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:50:\"#/definitions/RedisReadablePropertiesWithAccessKey\";s:11:\"description\";s:23:\"Redis
  cache properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:3:\"Sku\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"SKU
  parameters supplied to the create Redis operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"capacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"What
  size of Redis cache to deploy. Valid values: for C family (0, 1, 2, 3, 4, 5, 6),
  for P family (1, 2, 3, 4).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"family\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Which
  family to use. Valid values: (C, P).\";s:4:\"enum\";a:2:{i:0;s:1:\"C\";i:1;s:1:\"P\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"SkuFamily\";}}s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"What
  type of Redis cache to deploy. Valid values: (Basic, Standard, Premium).\";s:4:\"enum\";a:3:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";i:2;s:7:\"Premium\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:7:\"SkuName\";}}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:6:\"family\";i:2;s:8:\"capacity\";}}}"
...
