---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:18:\"2018-03-01-preview\";s:5:\"title\";s:23:\"BillingManagementClient\";s:11:\"description\";s:76:\"Billing
  client provides access to billing resources for Azure subscriptions.\";}"
host: management.azure.com
paths:
  /providers/Microsoft.Billing/enrollmentAccounts:
    get:
      tags:
      - EnrollmentAccounts
      x-ms-examples:
        EnrollmentAccountsList:
          $ref: ./examples/EnrollmentAccountsList.json
      operationId: EnrollmentAccounts_List
      description: Lists the enrollment accounts the caller has access to.
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/EnrollmentAccountListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/enrollmentAccounts/{name}:
    get:
      tags:
      - EnrollmentAccounts
      x-ms-examples:
        EnrollmentAccountsGet:
          $ref: ./examples/EnrollmentAccountsGet.json
      operationId: EnrollmentAccounts_Get
      description: Gets a enrollment account by name.
      parameters:
      - name: name
        in: path
        description: Enrollment Account name.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/EnrollmentAccount'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods:
    get:
      tags:
      - BillingPeriods
      operationId: BillingPeriods_List
      description: Lists the available billing periods for a subscription in reverse
        chronological order. This is only supported for Azure Web-Direct subscriptions.
        Other subscription types which were not purchased directly through the Azure
        web portal are not supported through this preview API.
      externalDocs:
        url: https://go.microsoft.com/fwlink/?linkid=844490
      x-ms-examples:
        BillingPeriodsList:
          $ref: ./examples/BillingPeriodsList.json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - name: $filter
        description: May be used to filter billing periods by billingPeriodEndDate.
          The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not
          currently support 'ne', 'or', or 'not'.
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N billing periods.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 100
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/BillingPeriodsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}:
    get:
      tags:
      - BillingPeriods
      operationId: BillingPeriods_Get
      description: Gets a named billing period.  This is only supported for Azure
        Web-Direct subscriptions. Other subscription types which were not purchased
        directly through the Azure web portal are not supported through this preview
        API.
      x-ms-examples:
        BillingPeriodsGet:
          $ref: ./examples/BillingPeriodsGet.json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - name: billingPeriodName
        description: The name of a BillingPeriod resource.
        in: path
        required: true
        type: string
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/BillingPeriod'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices:
    get:
      tags:
      - Invoices
      operationId: Invoices_List
      description: Lists the available invoices for a subscription in reverse chronological
        order beginning with the most recent invoice. In preview, invoices are available
        via this API only for invoice periods which end December 1, 2016 or later.  This
        is only supported for Azure Web-Direct subscriptions. Other subscription types
        which were not purchased directly through the Azure web portal are not supported
        through this preview API.
      externalDocs:
        url: https://go.microsoft.com/fwlink/?linkid=842057
      x-ms-examples:
        InvoicesList:
          $ref: ./examples/InvoicesList.json
        InvoicesExpand:
          $ref: ./examples/InvoicesExpand.json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - name: $expand
        description: May be used to expand the downloadUrl property within a list
          of invoices. This enables download links to be generated for multiple invoices
          at once. By default, downloadURLs are not included when listing invoices.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter invoices by invoicePeriodEndDate. The filter
          supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently
          support 'ne', 'or', or 'not'.
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N invoices.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 100
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/InvoicesListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/{invoiceName}:
    get:
      tags:
      - Invoices
      operationId: Invoices_Get
      description: Gets a named invoice resource. When getting a single invoice, the
        downloadUrl property is expanded automatically.  This is only supported for
        Azure Web-Direct subscriptions. Other subscription types which were not purchased
        directly through the Azure web portal are not supported through this preview
        API.
      x-ms-examples:
        InvoicesGet:
          $ref: ./examples/InvoicesGet.json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - name: invoiceName
        description: The name of an invoice resource.
        in: path
        required: true
        type: string
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Invoice'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/latest:
    get:
      tags:
      - Invoices
      operationId: Invoices_GetLatest
      description: Gets the most recent invoice. When getting a single invoice, the
        downloadUrl property is expanded automatically.  This is only supported for
        Azure Web-Direct subscriptions. Other subscription types which were not purchased
        directly through the Azure web portal are not supported through this preview
        API.
      x-ms-examples:
        InvoicesGetLatest:
          $ref: ./examples/InvoicesGetLatest.json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Invoice'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /providers/Microsoft.Billing/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists all of the available billing REST API operations.
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":15:{s:17:\"EnrollmentAccount\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"An
  enrollment account resource.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"An
  enrollment account.\";s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:41:\"#/definitions/EnrollmentAccountProperties\";}}}s:27:\"EnrollmentAccountListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Result
  of listing enrollment accounts.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  list of enrollment accounts.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/EnrollmentAccount\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:27:\"EnrollmentAccountProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  properties of the enrollment account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"principalName\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  account owner's principal name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:13:\"BillingPeriod\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"A
  billing period resource.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"A
  billing period.\";s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:37:\"#/definitions/BillingPeriodProperties\";}}}s:24:\"BillingPeriodsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Result
  of listing billing periods. It contains a list of available billing periods in reverse
  chronological order.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  list of billing periods.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BillingPeriod\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:23:\"BillingPeriodProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  properties of the billing period.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"billingPeriodStartDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"The
  start of the date range covered by the billing period.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:8:\"readOnly\";b:1;}s:20:\"billingPeriodEndDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  end of the date range covered by the billing period.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:8:\"readOnly\";b:1;}s:10:\"invoiceIds\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Array
  of invoice ids that associated with.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:11:\"DownloadUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"A
  secure URL that can be used to download a PDF invoice until the URL expires.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"expiryTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  time in UTC at which this download URL will expire.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  URL to the PDF file.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:12:\"ErrorDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  details of the error.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Error
  code.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:6:\"target\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  target of the particular error.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Error
  response indicates that the service is not able to process the incoming request.
  The reason is provided in the error message.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  details of the error.\";s:4:\"$ref\";s:26:\"#/definitions/ErrorDetails\";}}}s:7:\"Invoice\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"An
  invoice resource can be used download a PDF version of an invoice.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"An
  invoice.\";s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:31:\"#/definitions/InvoiceProperties\";}}}s:18:\"InvoicesListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Result
  of listing invoices. It contains a list of available invoices in reverse chronological
  order.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"The
  list of invoices.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Invoice\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:17:\"InvoiceProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  properties of the invoice.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"downloadUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"A
  secure link to download the PDF version of an invoice. The link will cease to work
  after its expiry time is reached.\";s:4:\"$ref\";s:25:\"#/definitions/DownloadUrl\";}s:22:\"invoicePeriodStartDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  start of the date range covered by the invoice.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:8:\"readOnly\";b:1;}s:20:\"invoicePeriodEndDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  end of the date range covered by the invoice.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:8:\"readOnly\";b:1;}s:16:\"billingPeriodIds\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Array
  of billing period ids that the invoice is attributed to.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  Billing REST API operation.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Operation
  name: {provider}/{resource}/{operation}.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  object that represents the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Service
  provider: Microsoft.Billing.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Resource
  on which the operation is performed: Invoice, etc.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Operation
  type: Read, write, delete, etc.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}}}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Result
  listing billing operations. It contains a list of operations and a URL link to get
  the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"List
  of billing operations supported by the Microsoft.Billing resource provider.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  Id.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  type.\";}}s:19:\"x-ms-azure-resource\";b:1;}}"
...
