---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:280:\"The Microsoft
  Azure Network management API provides a RESTful set of web services that interact
  with Microsoft Azure Networks service to manage your network resources. The API
  has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:5:\"title\";s:23:\"NetworkManagementClient\";s:7:\"version\";s:10:\"2017-10-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:163:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2017-10-01/endpointService.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:23:\"network-endpointService\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:29:\"azure_network_endpointservice\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/virtualNetworkAvailableEndpointServices:
    get:
      description: List what values of endpoint services are available for use.
      operationId: AvailableEndpointServices_List
      parameters:
      - description: The location to check available endpoint services.
        in: path
        name: location
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. Returns list of available endpoint services.
          schema:
            $ref: '#/definitions/EndpointServicesListResult'
      x-ms-examples:
        EndpointServicesList:
          parameters:
            api-version: "2017-10-01"
            location: westus
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid/providers/Microsoft.Network/virtualNetworkEndpointServices/Microsoft.Storage
                  name: Microsoft.Storage
                  type: Microsoft.Network/virtualNetworkEndpointServices
                - id: /subscriptions/subid/providers/Microsoft.Network/virtualNetworkEndpointServices/Microsoft.Sql
                  name: Microsoft.Sql
                  type: Microsoft.Network/virtualNetworkEndpointServices
                - id: /subscriptions/subid/providers/Microsoft.Network/virtualNetworkEndpointServices/Microsoft.AzureActiveDirectory
                  name: Microsoft.AzureActiveDirectory
                  type: Microsoft.Network/virtualNetworkEndpointServices
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:21:\"EndpointServiceResult\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:17:\"Endpoint
  service.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Name
  of the endpoint service.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Type
  of the endpoint service.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:26:\"EndpointServicesListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Response
  for the ListAvailableEndpointServices API service call.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"List
  of available endpoint services in a region.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EndpointServiceResult\";}s:4:\"type\";s:5:\"array\";}}}}"
...
