---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:7:\"version\";s:18:\"2017-08-01-preview\";s:5:\"title\";s:33:\"ContainerInstanceManagementClient\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/containerGroups:
    get:
      operationId: ContainerGroups_List
      x-ms-examples:
        ContainerGroupsList:
          $ref: ./examples/ContainerGroupsList.json
      summary: Get a list of container groups in the specified subscription.
      description: Get a list of container groups in the specified subscription. This
        operation returns properties of each container group including containers,
        image registry credentials, restart policy, IP address type, OS type, state,
        and volumes.
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ContainerGroupListResult'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups:
    get:
      operationId: ContainerGroups_ListByResourceGroup
      x-ms-examples:
        ContainerGroupsListByResourceGroup:
          $ref: ./examples/ContainerGroupsListByResourceGroup.json
      summary: Get a list of container groups in the specified subscription and resource
        group.
      description: Get a list of container groups in a specified subscription and
        resource group. This operation returns properties of each container group
        including containers, image registry credentials, restart policy, IP address
        type, OS type, state, and volumes.
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the container group.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ContainerGroupListResult'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}
  : get:
      operationId: ContainerGroups_Get
      x-ms-examples:
        ContainerGroupsGet:
          $ref: ./examples/ContainerGroupsGet.json
      summary: Get the properties of the specified container group.
      description: Gets the properties of the specified container group in the specified
        subscription and resource group. The operation returns the properties of each
        container group including containers, image registry credentials, restart
        policy, IP address type, OS type, state, and volumes.
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the container group.
        required: true
        type: string
      - name: containerGroupName
        in: path
        description: The name of the container group.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ContainerGroup'
    put:
      operationId: ContainerGroups_CreateOrUpdate
      x-ms-examples:
        ContainerGroupsCreateOrUpdate:
          $ref: ./examples/ContainerGroupsCreateOrUpdate.json
      summary: Create or update container groups.
      description: Create or update container groups with specified configurations.
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group to contain the container group
          to be created or updated.
        required: true
        type: string
      - name: containerGroupName
        in: path
        description: The name of the container group to be created or updated.
        required: true
        type: string
      - name: containerGroup
        description: The properties of the container group to be created or updated.
        required: true
        in: body
        schema:
          $ref: '#/definitions/ContainerGroup'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ContainerGroup'
        201:
          description: Created - the container group is created.
          schema:
            $ref: '#/definitions/ContainerGroup'
    delete:
      operationId: ContainerGroups_Delete
      x-ms-examples:
        ContainerGroupsDelete:
          $ref: ./examples/ContainerGroupsDelete.json
      summary: Delete the specified container group.
      description: Delete the specified container group in the specified subscription
        and resource group. The operation does not delete other resources provided
        by the user, such as volumes.
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the container group.
        required: true
        type: string
      - name: containerGroupName
        in: path
        description: The name of the container group to be deleted.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ContainerGroup'
        204:
          description: No Content - the specified container group was not found.
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/logs
  : get:
      operationId: ContainerLogs_List
      x-ms-examples:
        ContainerLogsList:
          $ref: ./examples/ContainerLogsList.json
      summary: Get the logs for a specified container instance.
      description: Get the logs for a specified container instance in a specified
        resource group and container group.
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: resourceGroupName
        in: path
        description: The name of the resource group that contains the container instance.
        required: true
        type: string
      - name: containerName
        in: path
        description: The name of the container instance.
        required: true
        type: string
      - name: containerGroupName
        in: path
        description: The name of the container group the container instance belongs
          to.
        required: true
        type: string
      - name: tail
        in: query
        description: The number of lines to show from the tail of the container instance
          log. If not provided, all available logs are shown up to 4mb.
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Logs'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":19:{s:9:\"Container\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"A
  container instance.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"properties\";i:1;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  user-provided name of the container instance.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:41:\"The
  properties of the container instance.\";s:4:\"$ref\";s:33:\"#/definitions/ContainerProperties\";}}}s:19:\"ContainerProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  container instance properties.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"image\";i:1;s:9:\"resources\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  name of the image used to create the container instance.\";s:4:\"type\";s:6:\"string\";}s:7:\"command\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  commands to execute within the container instance in exec form.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"ports\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  exposed ports on the container instance.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContainerPort\";}}s:20:\"environmentVariables\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  environment variables to set in the container instance.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/EnvironmentVariable\";}}s:12:\"instanceView\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"The
  instance view of the container instance. Only valid in response.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"restartCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:67:\"The
  number of times that the container instance has been restarted.\";}s:12:\"currentState\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Current
  container instance state.\";s:4:\"$ref\";s:28:\"#/definitions/ContainerState\";}s:13:\"previousState\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Previous
  container instance state.\";s:4:\"$ref\";s:28:\"#/definitions/ContainerState\";}s:6:\"events\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  events of the container instance.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ContainerEvent\";}}}}s:9:\"resources\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  resource requirements of the container instance.\";s:4:\"$ref\";s:34:\"#/definitions/ResourceRequirements\";}s:12:\"volumeMounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  volume mounts available to the container instance.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VolumeMount\";}}}}s:14:\"ContainerState\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  container instance state.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  state of the container instance.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:56:\"The
  date-time when the container instance state started.\";}s:8:\"exitCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:84:\"The
  container instance exit codes correspond to those from the `docker run` command.\";}s:10:\"finishTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:57:\"The
  date-time when the container instance state finished.\";}s:12:\"detailStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  human-readable status of the container instance state.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"ContainerEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  container instance event.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"The
  count of the event.\";}s:14:\"firstTimestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:43:\"The
  date-time of the earliest logged event.\";}s:13:\"lastTimestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:41:\"The
  date-time of the latest logged event.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  event message.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  event type.\";}}}s:20:\"ResourceRequirements\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"The
  resource requirements.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:8:\"requests\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"requests\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  resource requests of this container instance.\";s:4:\"$ref\";s:30:\"#/definitions/ResourceRequests\";}s:6:\"limits\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  resource limits of this container instance.\";s:4:\"$ref\";s:28:\"#/definitions/ResourceLimits\";}}}s:16:\"ResourceRequests\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  resource requests.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"memoryInGB\";i:1;s:3:\"cpu\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"memoryInGB\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  memory request in GB of this container instance.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:3:\"cpu\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  CPU request of this container instance.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:14:\"ResourceLimits\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  resource limits.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"memoryInGB\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  memory limit in GB of this container instance.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:3:\"cpu\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  CPU limit of this container instance.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:15:\"AzureFileVolume\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"The
  properties of the Azure File volume. Azure File shares are mounted as volumes.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:9:\"shareName\";i:1;s:18:\"storageAccountName\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"shareName\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  name of the Azure File share to be mounted as a volume.\";s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  flag indicating whether the Azure File shared mounted as a volume is read-only.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"storageAccountName\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  name of the storage account that contains the Azure File share.\";s:4:\"type\";s:6:\"string\";}s:17:\"storageAccountKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  storage account access key used to access the Azure File share.\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Volume\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"The
  properties of the volume.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:9:\"azureFile\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the volume.\";s:4:\"type\";s:6:\"string\";}s:9:\"azureFile\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  name of the Azure File volume.\";s:4:\"$ref\";s:29:\"#/definitions/AzureFileVolume\";}}}s:11:\"VolumeMount\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  properties of the volume mount.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:9:\"mountPath\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of the volume mount.\";s:4:\"type\";s:6:\"string\";}s:9:\"mountPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  path within the container where the volume should be mounted. Must not contain colon
  (:).\";s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  flag indicating whether the volume mount is read-only.\";s:4:\"type\";s:7:\"boolean\";}}}s:14:\"ContainerGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"A
  container group.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"The
  provisioning state of the container group. This only appears in the response.\";}s:10:\"containers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:42:\"The
  containers within the container group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Container\";}}s:24:\"imageRegistryCredentials\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:76:\"The
  image registry credentials by which the container group is created from.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ImageRegistryCredential\";}}s:13:\"restartPolicy\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"Restart
  policy for all containers within the container group. Currently the only available
  option is `always`.\";s:4:\"enum\";a:1:{i:0;s:6:\"always\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"ContainerRestartPolicy\";s:13:\"modelAsString\";b:1;}}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  IP address type of the container group.\";s:4:\"$ref\";s:23:\"#/definitions/IpAddress\";}s:6:\"osType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"The
  operating system type required by the containers in the container group.\";s:4:\"enum\";a:2:{i:0;s:7:\"Windows\";i:1;s:5:\"Linux\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"OperatingSystemTypes\";s:13:\"modelAsString\";b:1;}}s:5:\"state\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"The
  current state of the container group. This is only valid for the response.\";}s:7:\"volumes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:78:\"The
  list of volumes that can be mounted by containers in this container group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Volume\";}}}s:8:\"required\";a:2:{i:0;s:10:\"containers\";i:1;s:6:\"osType\";}}}}}}s:23:\"ImageRegistryCredential\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Image
  registry credential.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"server\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"The
  Docker image registry server without a protocol such as \"http\" and \"https\".\";}s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  username for the private registry.\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  password for the private registry.\";}}s:8:\"required\";a:2:{i:0;s:6:\"server\";i:1;s:8:\"username\";}}s:9:\"IpAddress\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"IP
  address for the container group.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"ports\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:49:\"The
  list of ports exposed on the container group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Port\";}}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Specifies
  if the IP is exposed to the public internet.\";s:4:\"enum\";a:1:{i:0;s:6:\"Public\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:27:\"ContainerGroupIpAddressType\";s:13:\"modelAsString\";b:1;}}s:2:\"ip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  IP exposed to the public internet.\";}}s:8:\"required\";a:2:{i:0;s:5:\"ports\";i:1;s:4:\"type\";}}s:4:\"Port\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  port exposed on the container group.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"protocol\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  protocol associated with the port.\";s:4:\"enum\";a:2:{i:0;s:3:\"TCP\";i:1;s:3:\"UDP\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:29:\"ContainerGroupNetworkProtocol\";s:13:\"modelAsString\";b:1;}}s:4:\"port\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:16:\"The
  port number.\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:1:{i:0;s:4:\"port\";}}s:13:\"ContainerPort\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  port exposed on the container instance.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"port\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:51:\"The
  port number exposed within the container group.\";}}s:8:\"required\";a:1:{i:0;s:4:\"port\";}}s:19:\"EnvironmentVariable\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  environment variable to set within the container instance.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  name of the environment variable.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  value of the environment variable.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"value\";}}s:24:\"ContainerGroupListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  container group list response that contains the container group properties.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ContainerGroup\";}s:11:\"description\";s:29:\"The
  list of container groups.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  URI to fetch the next page of container groups.\";}}}s:4:\"Logs\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"The
  logs.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  content of the log.\";}}}s:8:\"Resource\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:30:\"The
  Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  resource id.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  resource name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  resource type.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  resource location.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"The
  resource tags.\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}}"
...
