---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:49:\"Azure SQL Server Backup
  Long Term Retention Vault\";s:11:\"description\";s:92:\"Provides read and update
  functionality for Azure SQL Server backup long term retention vault\";s:7:\"version\";s:10:\"2014-04-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/backupLongTermRetentionVaults/{backupLongTermRetentionVaultName}
  : get:
      tags:
      - BackupLongTermRetentionVaults
      operationId: BackupLongTermRetentionVaults_Get
      description: Gets a server backup long term retention vault
      x-ms-examples:
        Get backup long term retention vault:
          $ref: ./examples/BackupLongTermRetentionVaultGet.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: backupLongTermRetentionVaultName
        in: path
        description: The name of the Azure SQL Server backup LongTermRetention vault
        required: true
        type: string
        enum:
        - RegisteredVault
        x-ms-enum:
          name: BackupLongTermRetentionVaultName
          modelAsString: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupLongTermRetentionVault'
    put:
      tags:
      - BackupLongTermRetentionVaults
      operationId: BackupLongTermRetentionVaults_CreateOrUpdate
      description: Updates a server backup long term retention vault
      x-ms-examples:
        Update backup long term retention vault:
          $ref: ./examples/BackupLongTermRetentionVaultUpdate.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: backupLongTermRetentionVaultName
        in: path
        description: The name of the backup long term retention vault
        required: true
        type: string
        enum:
        - RegisteredVault
        x-ms-enum:
          name: BackupLongTermRetentionVaultName
          modelAsString: true
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/BackupLongTermRetentionVault'
        description: The required parameters to update a backup long term retention
          vault
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupLongTermRetentionVault'
        201:
          description: Created
          schema:
            $ref: '#/definitions/BackupLongTermRetentionVault'
        202:
          description: Accepted
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/backupLongTermRetentionVaults
  : get:
      tags:
      - BackupLongTermRetentionVaults
      operationId: BackupLongTermRetentionVaults_ListByServer
      description: Gets server backup long term retention vaults in a server
      x-ms-examples:
        Get backup long term retention vault:
          $ref: ./examples/BackupLongTermRetentionVaultList.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupLongTermRetentionVaultListResult'
      x-ms-pageable:
        nextLinkName: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:38:\"BackupLongTermRetentionVaultProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:31:\"recoveryServicesVaultResourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  azure recovery services vault resource id\";}}s:8:\"required\";a:1:{i:0;s:31:\"recoveryServicesVaultResourceId\";}s:11:\"description\";s:53:\"The
  properties of a backup long term retention vault.\";}s:28:\"BackupLongTermRetentionVault\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:41:\"The
  geo-location where the resource lives\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:52:\"#/definitions/BackupLongTermRetentionVaultProperties\";s:11:\"description\";s:54:\"The
  properties of the backup long term retention vault\";s:19:\"x-ms-client-flatten\";b:1;}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"../../../common/v1/types.json#/definitions/ProxyResource\";}}s:11:\"description\";s:34:\"A
  backup long term retention vault\";}s:38:\"BackupLongTermRetentionVaultListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/BackupLongTermRetentionVault\";}s:11:\"description\";s:33:\"The
  list of vaults in the server.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:49:\"Represents
  the response to a list vaults request.\";}}"
...
