---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:247:\"The Azure SQL
  Database management API provides a RESTful set of web APIs that interact with Azure
  SQL Database services to manage your databases. The API enables users to create,
  retrieve, update, and delete databases, servers, and other entities.\";s:5:\"title\";s:19:\"SqlManagementClient\";s:7:\"version\";s:18:\"2017-03-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:158:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/databases.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:13:\"sql-databases\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"azure_sql_databases\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases:
    get:
      description: Gets a list of databases.
      operationId: Databases_ListByServer
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the list of databases.
          schema:
            $ref: '#/definitions/DatabaseListResult'
        default:
          description: '*** Error Responses: ***nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not found'
      tags:
      - Databases
      x-ms-examples:
        Gets a list of databases.:
          parameters:
            api-version: 2017-03-01-preview
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                  kind: v12.0,user
                  location: southeastasia
                  name: testdb
                  properties:
                    catalogCollation: SQL_Latin1_General_CP1_CI_AS
                    collation: SQL_Latin1_General_CP1_CI_AS
                    creationDate: "2017-06-07T04:41:33.937Z"
                    currentServiceObjectiveName: S0
                    databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                    defaultSecondaryLocation: North Europe
                    maxSizeBytes: 268435456000
                    status: Online
                  sku:
                    name: S0
                    tier: Standard
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/master
                  kind: v12.0,system
                  location: southeastasia
                  name: master
                  properties:
                    catalogCollation: SQL_Latin1_General_CP1_CI_AS
                    collation: SQL_Latin1_General_CP1_CI_AS
                    creationDate: "2017-06-07T04:23:42.537Z"
                    currentServiceObjectiveName: System0
                    databaseId: e6be351f-2cc9-4604-9e52-b0b28b2710b0
                    defaultSecondaryLocation: North Europe
                    maxSizeBytes: 32212254720
                    status: Online
                  sku:
                    name: System0
                    tier: System
                  type: Microsoft.Sql/servers/databases
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}
  : delete:
      description: Deletes the database.
      operationId: Databases_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully deleted the database.
        202:
          description: Deleting the database is in progress.
        204:
          description: The specified database does not exist.
        default:
          description: '*** Error Responses: ***nn * 400 CannotMoveOrDropSyncMetadataDatabase
            - Cannot drop database used as sync metadata database.nn * 400 CannotMoveOrDropJobAccountDatabase
            - Cannot drop database associated with job account.nn * 400 CannotUseReservedDatabaseName
            - Cannot use reserved database name in this operation.nn * 404 OperationIdNotFound
            - The operation with Id does not exist.nn * 404 ServerNotInSubscriptionResourceGroup
            - Specified server does not exist in the specified resource group and
            subscription.nn * 404 ServerNotInSubscription - Specified server does
            not exist on the specified subscription.nn * 409 OperationCancelled -
            The operation has been cancelled by user.nn * 409 OperationInterrupted
            - The operation on the resource could not be completed because it was
            interrupted by another operation on the same resource.nn * 429 TooManyRequests
            - Requests beyond max requests that can be processed by available resources.nn
            * 500 OperationTimedOut - The operation timed out and automatically rolled
            back. Please retry the operation.'
      tags:
      - Databases
      x-ms-examples:
        Deletes a database.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200: []
            202: []
            204: []
      x-ms-long-running-operation: true
    get:
      description: Gets a database.
      operationId: Databases_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the specified database.
          schema:
            $ref: '#/definitions/Database'
        default:
          description: '*** Error Responses: ***nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 ResourceNotFound - The requested
            resource was not found.'
      tags:
      - Databases
      x-ms-examples:
        Gets a database.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: v12.0,user
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
    patch:
      description: Updates an existing database.
      operationId: Databases_Update
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - description: The requested database resource state.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/DatabaseUpdate'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the database.
          schema:
            $ref: '#/definitions/Database'
        202:
          description: Updating the database is in progress.
        default:
          description: '*** Error Responses: ***nn * 400 InvalidDatabaseCreateOrUpdateRequest
            - The request body for the create or update database operation is invalid.nn
            * 400 InvalidResourceId - Invalid resource identifier.nn * 400 InvalidSourceDatabaseId
            - Invalid source database identifier.nn * 400 MismatchingResourceGroupNameWithUrl
            - The provided resource group name did not match the name in the Url.nn
            * 400 MismatchingServerNameWithUrl - The provided server name did not
            match the name in the Url.nn * 400 MismatchingSubscriptionWithUrl - The
            provided subscription did not match the subscription in the Url.nn * 400
            MissingCollation - Collation is required.nn * 400 MissingMaxSizeBytes
            - MaxSizeBytes is required.nn * 400 MissingSkuName - Sku name is rerquired.nn
            * 400 MissingSourceDatabaseId - Missing source database identifier.nn
            * 400 DatabaseNameDoesNotMatchSourceDatabaseId - The database name specified
            doesnu2019t match the database name in sourceDatabaseId.nn * 400 ElasticPoolNotSupportedForExternalBackupRestore
            - Elastic pool is not supported for external backup restorenn * 400 InvalidRecoverableDatabaseId
            - Invalid recoverable database identifier.nn * 400 InvalidRecoveryServicesRecoveryPointId
            - Invalid recovery services recovery point identifier.nn * 400 InvalidRestorableDroppedDatabaseDeletionDate
            - The restorable dropped database deletion date given is invalidnn * 400
            InvalidRestorableDroppedDatabaseId - Invalid restorable dropped database
            identifiernn * 400 MissingRecoverableDatabaseId - Missing recoverable
            database identifier.nn * 400 MissingRecoveryServicesRecoveryPointId -
            Missing recovery services recovery point Id.nn * 400 MissingRestorableDroppedDatabaseId
            - Missing restorableDroppedDatabaseIdnn * 400 MissingRestorePointInTime
            - Missing restore point in timenn * 400 MissingSourceDatabaseDeletionDate
            - Missing source database deletion datenn * 400 MissingStorageContainerSasToken
            - Missing storage container SAS tokennn * 400 MissingStorageContainerUri
            - Missing storage container URInn * 400 RestorableDroppedDatabaseIdGivenForRestoreWithSourceDatabaseId
            - Cannot specify restorableDroppedDatabaseId when sourceDatabaseId is
            already given in restore create modenn * 400 TierChangeUnsupportedDueToMemoryOptimizedObject
            - The database cannot update its sku because it has memory-optimized objects.nn
            * 400 CannotMoveOrDropJobAccountDatabase - Cannot drop database associated
            with job account.nn * 400 ServerNotFound - The requested server was not
            found.nn * 400 CannotMoveOrDropSyncMetadataDatabase - Cannot drop database
            used as sync metadata database.nn * 400 InvalidSku - The user specified
            an invalid sku.nn * 400 InvalidTierSkuCombination - The specified tier
            does not support the specified sku.nn * 400 FeatureDisabledOnSelectedEdition
            - User attempted to use a feature which is disabled on current database
            edition.nn * 400 OfferDisabledOnSubscription - Subscription offer type
            is restricted from provisioning the requested resource.nn * 400 InvalidTargetSubregion
            - The target server of a non-readable secondary is not in a DR paired
            Azure region.nn * 400 CurrentDatabaseSizeExceedsMaxSize - User attempted
            to reduce the max size for a database to a size smaller than the current
            usage.nn * 400 ElasticPoolOverStorageUsage - Attempting to write data
            to a database when the storage limit of the elastic pool has been reached.nn
            * 400 PartnerServerNotCompetible - The user is attempting to copy a database
            from a SAWA V1 server to a Sterling server or vice versa.nn * 400 IncorrectReplicationLinkState
            - The operation expects the database to be in an expected state on the
            replication link.nn * 400 ResourcePoolNotFound - Specified elastic pool
            does not exist in the specified logical server.nn * 400 ElasticPoolSkuCombinationInvalid
            - Elastic pool and sku can be specified together only if sku is specified
            as ''ElasticPool''.nn * 400 ElasticPoolTierCombinationInvalid - The database
            tier is different than the elastic pool service tier.nn * 400 TokenTooLong
            - The provided token is too long.nn * 400 ElasticPoolDatabaseCountOverLimit
            - Attempting to create or add database to elastic pool when the database
            count limit of the elastic pool has been reached.nn * 400 CannotChangeToOrFromDataWarehouseTier
            - User attempted to change the sku of a database from DataWarehouse tier
            to non DataWarehouse tiers or vice versa.nn * 400 InvalidMaxSizeTierCombination
            - The specified tier does not support the specified database max size.nn
            * 400 CannotUseTrailingWhitespacesInDatabaseName - The database name validation
            failed.nn * 400 ElasticPoolDecreaseStorageLimitBelowUsage - Attempting
            to decrease the storage limit of the elastic pool below its storage usage.nn
            * 400 UpdateNotAllowedOnPausedDatabase - User attempted to perform an
            update on a paused database.nn * 400 InvalidTier - The user specified
            an invalid tier.nn * 400 CannotUseReservedDatabaseName - Cannot use reserved
            database name in this operation.nn * 400 SubscriptionNotFound - The requested
            subscription was not found.nn * 400 RegionDoesNotSupportVersion - A user
            attempted to create a server of a specified version in a location where
            that server version isn''t supported.nn * 400 InvalidServerName - Invalid
            server name specified.nn * 400 UnableToResolveRemoteServer - The remote
            partner server name could not be resolved due to an invalid server name
            or DNS connectivity issues.nn * 400 InvalidCollation - Collation is not
            recognized by the server.nn * 400 RemoteDatabaseCopyPermission - User
            does not have sufficient permission to create a database copy on the specified
            server.nn * 400 SourceDatabaseNotFound - The source database does not
            exist.nn * 400 ChangeUnsupportedOnEntity - User attempted an unsupported
            create/update/delete operation on a given entity.nn * 400 UpdateNotAllowedIfGeoDrOperationInProgress
            - The operation is disallowed because copy or failover operation for database
            ''{0}'' on server ''{1}'' is currrently in progress.nn * 400 UpdateNotAllowedInCurrentReplicationState
            - The operation is disallowed on the database in its current replication
            state.nn * 400 GeoReplicaLimitReached - The per-replica replication limit
            was reached.nn * 400 ReplicationSourceAndTargetMustHaveSameName - The
            replication source and target databases must have the same name.nn * 400
            ReplicationSourceAndTargetMustBeInDifferentServers - The replication source
            and target databases must be in different logical servers.nn * 400 SourceServerNotFound
            - The server part of a source database id provided in a CreateDatabaseAsCopy
            API call doesn''t map to an existing server.nn * 400 InvalidAddSecondaryPermission
            - User does not have sufficient permission to add secondary on the specified
            server.nn * 400 UnsupportedServiceName - The specified name is an invalid
            name because it contains one or more unsupported unicode characters.nn
            * 400 CannotUpdateToFreeDatabase - Updating a database to the free sku
            is not supported.nn * 400 CurrentDatabaseLogSizeExceedsMaxSize - User
            attempted to change the database to a sku with lower max log size than
            the current usage.nn * 404 OperationIdNotFound - The operation with Id
            does not exist.nn * 404 SubscriptionDoesNotHaveServer - The requested
            server was not foundnn * 404 ServerNotInSubscriptionResourceGroup - Specified
            server does not exist in the specified resource group and subscription.nn
            * 404 ServerNotInSubscription - Specified server does not exist on the
            specified subscription.nn * 404 CannotFindObject - Cannot find the object
            because it does not exist or you do not have permissionsnn * 405 UnsupportedReplicationOperation
            - An unsupported replication operation was initiated on the database.nn
            * 409 OperationCancelled - The operation has been cancelled by user.nn
            * 409 OperationInterrupted - The operation on the resource could not be
            completed because it was interrupted by another operation on the same
            resource.nn * 409 SkuAssignmentInProgress - The current assignment request
            cannot be processed because a previous request has not completed.nn *
            409 CurrentMemoryUsageExceedsSkuQuota - User attempted an sku update operation
            that cannot be completed due to the higher resource consumption.nn * 409
            UpdateSloInProgress - User tried to initiate an incompatible operation
            while a SLO update was in progress.nn * 409 ServerDtuQuotaExceeded - Could
            not perform the operation because server would exceed the allowed Database
            Throughput Unit quota.nn * 409 UnableToAlterDatabaseInReplication - User
            altered edition on a database in a replication relationship.nn * 409 ConflictingDatabaseOperation
            - There is already some operation on the database and the current operation
            should wait till it is done.nn * 409 SimultaneousSkuChangeNotAllowed -
            Service objective change operations cannot run on both databases of a
            replication relationship at the same time.nn * 409 RemoteDatabaseExists
            - The destination database name already exists on the destination server.nn
            * 409 InvalidOperationForDatabaseNotInReplicationRelationship - A replication
            seeding operation was performed on a database that is already in a replication
            relationship.nn * 409 InvalidOperationForDatabaseInReplicationRelationship
            - A replication seeding operation was performed on a database that is
            already in a replication relationship.nn * 409 DuplicateGeoDrRelation
            - The databases are already in a replication relation. This is a duplicate
            request.nn * 409 SubscriptionDisabled - Subscription is disabled.nn *
            409 ConflictingSystemOperationInProgress - A system maintenance operation
            is in progress on the database and further operations need to wait until
            it is completed.nn * 429 TooManyRequests - Requests beyond max requests
            that can be processed by available resources.nn * 429 SubscriptionTooManyCreateUpdateRequests
            - Requests beyond max requests that can be processed by available resources.nn
            * 429 SubscriptionTooManyRequests - Requests beyond max requests that
            can be processed by available resources.nn * 500 OperationTimedOut - The
            operation timed out and automatically rolled back. Please retry the operation.nn
            * 500 ActivateOrDeactivateWorkflowThrottling - Activation or deactivation
            workflow failed because there are too many concurrent workflowsnn * 504
            RequestTimeout - Service request exceeded the allowed timeout.'
      tags:
      - Databases
      x-ms-examples:
        Updates a database.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            parameters:
              properties:
                collation: SQL_Latin1_General_CP1_CI_AS
                maxSizeBytes: 1073741824
              sku:
                name: S1
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: v12.0,user
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S1
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 1073741824
                  status: Online
                sku:
                  name: S1
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            202: []
      x-ms-long-running-operation: true
    put:
      description: Creates a new database or updates an existing database.
      operationId: Databases_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - description: The requested database resource state.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/Database'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the database.
          schema:
            $ref: '#/definitions/Database'
        201:
          description: Successfully created the database.
          schema:
            $ref: '#/definitions/Database'
        202:
          description: Creating or updating the database is in progress.
        default:
          description: '*** Error Responses: ***nn * 400 InvalidDatabaseCreateOrUpdateRequest
            - The request body for the create or update database operation is invalid.nn
            * 400 InvalidResourceId - Invalid resource identifier.nn * 400 InvalidSourceDatabaseId
            - Invalid source database identifier.nn * 400 MismatchingResourceGroupNameWithUrl
            - The provided resource group name did not match the name in the Url.nn
            * 400 MismatchingServerNameWithUrl - The provided server name did not
            match the name in the Url.nn * 400 MismatchingSubscriptionWithUrl - The
            provided subscription did not match the subscription in the Url.nn * 400
            MissingCollation - Collation is required.nn * 400 MissingMaxSizeBytes
            - MaxSizeBytes is required.nn * 400 MissingSkuName - Sku name is rerquired.nn
            * 400 MissingSourceDatabaseId - Missing source database identifier.nn
            * 400 DatabaseNameDoesNotMatchSourceDatabaseId - The database name specified
            doesnu2019t match the database name in sourceDatabaseId.nn * 400 ElasticPoolNotSupportedForExternalBackupRestore
            - Elastic pool is not supported for external backup restorenn * 400 InvalidRecoverableDatabaseId
            - Invalid recoverable database identifier.nn * 400 InvalidRecoveryServicesRecoveryPointId
            - Invalid recovery services recovery point identifier.nn * 400 InvalidRestorableDroppedDatabaseDeletionDate
            - The restorable dropped database deletion date given is invalidnn * 400
            InvalidRestorableDroppedDatabaseId - Invalid restorable dropped database
            identifiernn * 400 MissingRecoverableDatabaseId - Missing recoverable
            database identifier.nn * 400 MissingRecoveryServicesRecoveryPointId -
            Missing recovery services recovery point Id.nn * 400 MissingRestorableDroppedDatabaseId
            - Missing restorableDroppedDatabaseIdnn * 400 MissingRestorePointInTime
            - Missing restore point in timenn * 400 MissingSourceDatabaseDeletionDate
            - Missing source database deletion datenn * 400 MissingStorageContainerSasToken
            - Missing storage container SAS tokennn * 400 MissingStorageContainerUri
            - Missing storage container URInn * 400 RestorableDroppedDatabaseIdGivenForRestoreWithSourceDatabaseId
            - Cannot specify restorableDroppedDatabaseId when sourceDatabaseId is
            already given in restore create modenn * 400 TierChangeUnsupportedDueToMemoryOptimizedObject
            - The database cannot update its sku because it has memory-optimized objects.nn
            * 400 CannotMoveOrDropJobAccountDatabase - Cannot drop database associated
            with job account.nn * 400 ServerNotFound - The requested server was not
            found.nn * 400 CannotMoveOrDropSyncMetadataDatabase - Cannot drop database
            used as sync metadata database.nn * 400 InvalidSku - The user specified
            an invalid sku.nn * 400 InvalidTierSkuCombination - The specified tier
            does not support the specified sku.nn * 400 FeatureDisabledOnSelectedEdition
            - User attempted to use a feature which is disabled on current database
            edition.nn * 400 OfferDisabledOnSubscription - Subscription offer type
            is restricted from provisioning the requested resource.nn * 400 InvalidTargetSubregion
            - The target server of a non-readable secondary is not in a DR paired
            Azure region.nn * 400 CurrentDatabaseSizeExceedsMaxSize - User attempted
            to reduce the max size for a database to a size smaller than the current
            usage.nn * 400 ElasticPoolOverStorageUsage - Attempting to write data
            to a database when the storage limit of the elastic pool has been reached.nn
            * 400 PartnerServerNotCompetible - The user is attempting to copy a database
            from a SAWA V1 server to a Sterling server or vice versa.nn * 400 IncorrectReplicationLinkState
            - The operation expects the database to be in an expected state on the
            replication link.nn * 400 ResourcePoolNotFound - Specified elastic pool
            does not exist in the specified logical server.nn * 400 ElasticPoolSkuCombinationInvalid
            - Elastic pool and sku can be specified together only if sku is specified
            as ''ElasticPool''.nn * 400 ElasticPoolTierCombinationInvalid - The database
            tier is different than the elastic pool service tier.nn * 400 TokenTooLong
            - The provided token is too long.nn * 400 ElasticPoolDatabaseCountOverLimit
            - Attempting to create or add database to elastic pool when the database
            count limit of the elastic pool has been reached.nn * 400 CannotChangeToOrFromDataWarehouseTier
            - User attempted to change the sku of a database from DataWarehouse tier
            to non DataWarehouse tiers or vice versa.nn * 400 InvalidMaxSizeTierCombination
            - The specified tier does not support the specified database max size.nn
            * 400 CannotUseTrailingWhitespacesInDatabaseName - The database name validation
            failed.nn * 400 ElasticPoolDecreaseStorageLimitBelowUsage - Attempting
            to decrease the storage limit of the elastic pool below its storage usage.nn
            * 400 UpdateNotAllowedOnPausedDatabase - User attempted to perform an
            update on a paused database.nn * 400 InvalidTier - The user specified
            an invalid tier.nn * 400 CannotUseReservedDatabaseName - Cannot use reserved
            database name in this operation.nn * 400 SubscriptionNotFound - The requested
            subscription was not found.nn * 400 RegionDoesNotSupportVersion - A user
            attempted to create a server of a specified version in a location where
            that server version isn''t supported.nn * 400 InvalidServerName - Invalid
            server name specified.nn * 400 UnableToResolveRemoteServer - The remote
            partner server name could not be resolved due to an invalid server name
            or DNS connectivity issues.nn * 400 InvalidCollation - Collation is not
            recognized by the server.nn * 400 RemoteDatabaseCopyPermission - User
            does not have sufficient permission to create a database copy on the specified
            server.nn * 400 SourceDatabaseNotFound - The source database does not
            exist.nn * 400 ChangeUnsupportedOnEntity - User attempted an unsupported
            create/update/delete operation on a given entity.nn * 400 UpdateNotAllowedIfGeoDrOperationInProgress
            - The operation is disallowed because copy or failover operation for database
            ''{0}'' on server ''{1}'' is currrently in progress.nn * 400 UpdateNotAllowedInCurrentReplicationState
            - The operation is disallowed on the database in its current replication
            state.nn * 400 GeoReplicaLimitReached - The per-replica replication limit
            was reached.nn * 400 ReplicationSourceAndTargetMustHaveSameName - The
            replication source and target databases must have the same name.nn * 400
            ReplicationSourceAndTargetMustBeInDifferentServers - The replication source
            and target databases must be in different logical servers.nn * 400 SourceServerNotFound
            - The server part of a source database id provided in a CreateDatabaseAsCopy
            API call doesn''t map to an existing server.nn * 400 InvalidAddSecondaryPermission
            - User does not have sufficient permission to add secondary on the specified
            server.nn * 400 UnsupportedServiceName - The specified name is an invalid
            name because it contains one or more unsupported unicode characters.nn
            * 400 CannotUpdateToFreeDatabase - Updating a database to the free sku
            is not supported.nn * 400 CurrentDatabaseLogSizeExceedsMaxSize - User
            attempted to change the database to a sku with lower max log size than
            the current usage.nn * 404 OperationIdNotFound - The operation with Id
            does not exist.nn * 404 SubscriptionDoesNotHaveServer - The requested
            server was not foundnn * 404 ServerNotInSubscriptionResourceGroup - Specified
            server does not exist in the specified resource group and subscription.nn
            * 404 ServerNotInSubscription - Specified server does not exist on the
            specified subscription.nn * 404 CannotFindObject - Cannot find the object
            because it does not exist or you do not have permissionsnn * 405 UnsupportedReplicationOperation
            - An unsupported replication operation was initiated on the database.nn
            * 409 OperationCancelled - The operation has been cancelled by user.nn
            * 409 OperationInterrupted - The operation on the resource could not be
            completed because it was interrupted by another operation on the same
            resource.nn * 409 SkuAssignmentInProgress - The current assignment request
            cannot be processed because a previous request has not completed.nn *
            409 CurrentMemoryUsageExceedsSkuQuota - User attempted an sku update operation
            that cannot be completed due to the higher resource consumption.nn * 409
            UpdateSloInProgress - User tried to initiate an incompatible operation
            while a SLO update was in progress.nn * 409 ServerDtuQuotaExceeded - Could
            not perform the operation because server would exceed the allowed Database
            Throughput Unit quota.nn * 409 UnableToAlterDatabaseInReplication - User
            altered edition on a database in a replication relationship.nn * 409 ConflictingDatabaseOperation
            - There is already some operation on the database and the current operation
            should wait till it is done.nn * 409 SimultaneousSkuChangeNotAllowed -
            Service objective change operations cannot run on both databases of a
            replication relationship at the same time.nn * 409 RemoteDatabaseExists
            - The destination database name already exists on the destination server.nn
            * 409 InvalidOperationForDatabaseNotInReplicationRelationship - A replication
            seeding operation was performed on a database that is already in a replication
            relationship.nn * 409 InvalidOperationForDatabaseInReplicationRelationship
            - A replication seeding operation was performed on a database that is
            already in a replication relationship.nn * 409 DuplicateGeoDrRelation
            - The databases are already in a replication relation. This is a duplicate
            request.nn * 409 SubscriptionDisabled - Subscription is disabled.nn *
            409 ConflictingSystemOperationInProgress - A system maintenance operation
            is in progress on the database and further operations need to wait until
            it is completed.nn * 429 TooManyRequests - Requests beyond max requests
            that can be processed by available resources.nn * 429 SubscriptionTooManyCreateUpdateRequests
            - Requests beyond max requests that can be processed by available resources.nn
            * 429 SubscriptionTooManyRequests - Requests beyond max requests that
            can be processed by available resources.nn * 500 OperationTimedOut - The
            operation timed out and automatically rolled back. Please retry the operation.nn
            * 500 ActivateOrDeactivateWorkflowThrottling - Activation or deactivation
            workflow failed because there are too many concurrent workflowsnn * 504
            RequestTimeout - Service request exceeded the allowed timeout.'
      tags:
      - Databases
      x-ms-examples:
        Creates a database as a copy.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: dbcopy
            parameters:
              location: southeastasia
              properties:
                createMode: Copy
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
              sku:
                name: S0
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbcopy
                kind: v12.0,user
                location: southeastasia
                name: dbcopy
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbcopy
                kind: v12.0,user
                location: southeastasia
                name: dbcopy
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            202: []
        Creates a database as an on-line secondary.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            parameters:
              location: southeastasia
              properties:
                createMode: Secondary
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-NorthEurope/providers/Microsoft.Sql/servers/testsvr1/databases/testdb
              sku:
                name: S0
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: v12.0,user
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: v12.0,user
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            202: []
        Creates a database from PointInTimeRestore.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: dbpitr
            parameters:
              location: southeastasia
              properties:
                createMode: PointInTimeRestore
                restorePointInTime: "2017-07-14T05:35:31.503Z"
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
              sku:
                name: S0
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbpitr
                kind: v12.0,user
                location: southeastasia
                name: dbpitr
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbpitr
                kind: v12.0,user
                location: southeastasia
                name: dbpitr
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            202: []
        Creates a database from recoverabelDatabaseId.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: dbrestore
            parameters:
              location: southeastasia
              properties:
                createMode: Restore
                restorableDroppedDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/restorableDroppedDatabases/testdb2,131444841315030000
              sku:
                name: S0
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbrestore
                kind: v12.0,user
                location: southeastasia
                name: dbrestore
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbrestore
                kind: v12.0,user
                location: southeastasia
                name: dbrestore
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            202: []
        Creates a database from restore with database deletion time.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: dbrestore
            parameters:
              location: southeastasia
              properties:
                createMode: Restore
                sourceDatabaseDeletionDate: "2017-07-14T06:41:06.613Z"
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
              sku:
                name: S0
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbrestore
                kind: v12.0,user
                location: southeastasia
                name: dbrestore
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbrestore
                kind: v12.0,user
                location: southeastasia
                name: dbrestore
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            202: []
        Creates a database from restore with restorableDroppedDatabaseId.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: dbcopy
            parameters:
              location: southeastasia
              properties:
                createMode: Copy
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
              sku:
                name: S0
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbcopy
                kind: v12.0,user
                location: southeastasia
                name: dbcopy
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbcopy
                kind: v12.0,user
                location: southeastasia
                name: dbcopy
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            202: []
        Creates a database with default mode.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            parameters:
              location: southeastasia
              properties:
                collation: SQL_Latin1_General_CP1_CI_AS
                createMode: Default
                maxSizeBytes: 1073741824
              sku:
                name: S0
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: v12.0,user
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 1073741824
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: v12.0,user
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 1073741824
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            202: []
        Creates a database with minimum number of parameters.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            parameters:
              location: southeastasia
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: v12.0,user
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: v12.0,user
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-06-07T04:41:33.937Z"
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            202: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/export
  : post:
      description: Exports a database.
      operationId: Databases_Export
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - description: The database export request parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ImportExportDatabaseDefinition'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully exported the database.
          schema:
            $ref: '#/definitions/ImportExportOperationResult'
        202:
          description: Exporting the database is in progress.
        default:
          description: '*** Error Responses: ***nn * 400 MissingImportExportInputParameters
            - Missing ImportExport input parameters.nn * 400 PolybaseImportAuthenticationTypeNotSupported
            - Authentication type parameter is not support for PolybaseImport operation.nn
            * 400 InvalidOperationType - Provide a valid operation type.nn * 404 ImportExportOperationIdNotFound
            - The operation Id for import or export cannot be found.nn * 404 ResourceNotFound
            - Invalid request specifying a non-existent resource.nn * 409 ImportExportOperationInProgress
            - There is an import or export operation in progress on the database.'
      tags:
      - Databases
      x-ms-examples:
        Exports a database.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            parameters:
              administratorLogin: login
              administratorLoginPassword: password
              authenticationType: Sql
              storageKey: +Ce9Tn6QktcX1kFGHUg5sdh54654678bpsE3OM95q5sdfsdfsdyIUu7sdYtR456hgcsRSbFBoH64qB7MA==
              storageKeyType: StorageAccessKey
              storageUri: https://test.blob.core.windows.net/test.bacpac
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb/importExportOperationResults/9d9a794a-5cec-4f23-af70-d29511b522a4
                name: 9d9a794a-5cec-4f23-af70-d29511b522a4
                properties:
                  blobUri: https://test.blob.core.windows.net/test.bacpac
                  databaseName: testdb
                  lastModifiedTime: 7/13/2017 8:34:47 PM
                  queuedTime: 7/13/2017 8:33:27 PM
                  requestId: 9d9a794a-5cec-4f23-af70-d29511b522a4
                  requestType: Export
                  serverName: testsvr.database.windows.net
                  status: Completed
                type: Microsoft.Sql/servers/databases/importExportOperationResults
            202: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/pause
  : post:
      description: Pauses a database.
      operationId: Databases_Pause
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the database to be paused.
        in: path
        name: databaseName
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully paused the database.
          schema:
            $ref: '#/definitions/Database'
        202:
          description: Pausing the database is in progress.
        default:
          description: '*** Error Responses: ***nn * 400 CannotDeactivateWhenDeactivatingInProgress
            - Deactivation workflow failed because there is a deactivate workflow
            already running.nn * 400 FeatureDisabledOnSelectedEdition - User attempted
            to use a feature which is disabled on current database edition.nn * 404
            SourceDatabaseNotFound - The source database does not exist.nn * 500 ActivateOrDeactivateWorkflowThrottling
            - Activation or deactivation workflow failed because there are too many
            concurrent workflows'
      tags:
      - Databases
      x-ms-examples:
        Pauses a database.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdwdb
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdwdb
                kind: v12.0,user,datawarehouse
                location: southeastasia
                name: testdwdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-07-13T02:04:26.187Z"
                  currentServiceObjectiveName: D1
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 10995116277760
                  status: Paused
                sku: []
                type: Microsoft.Sql/servers/databases
            202: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/resume
  : post:
      description: Resumes a database.
      operationId: Databases_Resume
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the database to be resumed.
        in: path
        name: databaseName
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully resumed the database.
          schema:
            $ref: '#/definitions/Database'
        202:
          description: Resuming the database is in progress.
        default:
          description: '*** Error Responses: ***nn * 400 FeatureDisabledOnSelectedEdition
            - User attempted to use a feature which is disabled on current database
            edition.nn * 404 ServerNotInSubscription - Specified server does not exist
            on the specified subscription.nn * 404 SourceDatabaseNotFound - The source
            database does not exist.nn * 500 ActivateOrDeactivateWorkflowThrottling
            - Activation or deactivation workflow failed because there are too many
            concurrent workflows'
      tags:
      - Databases
      x-ms-examples:
        Resumes a database.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdwdb
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdwdb
                kind: v12.0,user,datawarehouse
                location: southeastasia
                name: testdwdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: "2017-07-13T02:04:26.187Z"
                  currentServiceObjectiveName: D1
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 10995116277760
                  status: Online
                sku: []
                type: Microsoft.Sql/servers/databases
            202: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases
  : get:
      description: Gets a list of databases in an elastic pool.
      operationId: Databases_ListByElasticPool
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the elastic pool.
        in: path
        name: elasticPoolName
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved a list of databases in an elastic pool.
          schema:
            $ref: '#/definitions/DatabaseListResult'
        default:
          description: '*** Error Responses: ***nn * 400 TierChangeUnsupportedDueToMemoryOptimizedObject
            - The database cannot update its sku because it has memory-optimized objects.nn
            * 400 CannotMoveOrDropJobAccountDatabase - Cannot drop database associated
            with job account.nn * 400 ServerNotFound - The requested server was not
            found.nn * 400 CannotMoveOrDropSyncMetadataDatabase - Cannot drop database
            used as sync metadata database.nn * 400 InvalidSku - The user specified
            an invalid sku.nn * 400 InvalidTierSkuCombination - The specified tier
            does not support the specified sku.nn * 400 FeatureDisabledOnSelectedEdition
            - User attempted to use a feature which is disabled on current database
            edition.nn * 400 OfferDisabledOnSubscription - Subscription offer type
            is restricted from provisioning the requested resource.nn * 400 InvalidTargetSubregion
            - The target server of a non-readable secondary is not in a DR paired
            Azure region.nn * 400 CurrentDatabaseSizeExceedsMaxSize - User attempted
            to reduce the max size for a database to a size smaller than the current
            usage.nn * 400 ElasticPoolOverStorageUsage - Attempting to write data
            to a database when the storage limit of the elastic pool has been reached.nn
            * 400 PartnerServerNotCompetible - The user is attempting to copy a database
            from a SAWA V1 server to a Sterling server or vice versa.nn * 400 IncorrectReplicationLinkState
            - The operation expects the database to be in an expected state on the
            replication link.nn * 400 ResourcePoolNotFound - Specified elastic pool
            does not exist in the specified logical server.nn * 400 ElasticPoolSkuCombinationInvalid
            - Elastic pool and sku can be specified together only if sku is specified
            as ''ElasticPool''.nn * 400 ElasticPoolTierCombinationInvalid - The database
            tier is different than the elastic pool service tier.nn * 400 TokenTooLong
            - The provided token is too long.nn * 400 ElasticPoolDatabaseCountOverLimit
            - Attempting to create or add database to elastic pool when the database
            count limit of the elastic pool has been reached.nn * 400 CannotChangeToOrFromDataWarehouseTier
            - User attempted to change the sku of a database from DataWarehouse tier
            to non DataWarehouse tiers or vice versa.nn * 400 InvalidMaxSizeTierCombination
            - The specified tier does not support the specified database max size.nn
            * 400 CannotUseTrailingWhitespacesInDatabaseName - The database name validation
            failed.nn * 400 ElasticPoolDecreaseStorageLimitBelowUsage - Attempting
            to decrease the storage limit of the elastic pool below its storage usage.nn
            * 400 UpdateNotAllowedOnPausedDatabase - User attempted to perform an
            update on a paused database.nn * 400 InvalidTier - The user specified
            an invalid tier.nn * 400 CannotUseReservedDatabaseName - Cannot use reserved
            database name in this operation.nn * 400 SubscriptionNotFound - The requested
            subscription was not found.nn * 400 RegionDoesNotSupportVersion - A user
            attempted to create a server of a specified version in a location where
            that server version isn''t supported.nn * 400 InvalidServerName - Invalid
            server name specified.nn * 400 UnableToResolveRemoteServer - The remote
            partner server name could not be resolved due to an invalid server name
            or DNS connectivity issues.nn * 400 InvalidCollation - Collation is not
            recognized by the server.nn * 400 RemoteDatabaseCopyPermission - User
            does not have sufficient permission to create a database copy on the specified
            server.nn * 400 SourceDatabaseNotFound - The source database does not
            exist.nn * 400 ChangeUnsupportedOnEntity - User attempted an unsupported
            create/update/delete operation on a given entity.nn * 400 UpdateNotAllowedIfGeoDrOperationInProgress
            - The operation is disallowed because copy or failover operation for database
            ''{0}'' on server ''{1}'' is currrently in progress.nn * 400 UpdateNotAllowedInCurrentReplicationState
            - The operation is disallowed on the database in its current replication
            state.nn * 400 GeoReplicaLimitReached - The per-replica replication limit
            was reached.nn * 400 ReplicationSourceAndTargetMustHaveSameName - The
            replication source and target databases must have the same name.nn * 400
            ReplicationSourceAndTargetMustBeInDifferentServers - The replication source
            and target databases must be in different logical servers.nn * 400 SourceServerNotFound
            - The server part of a source database id provided in a CreateDatabaseAsCopy
            API call doesn''t map to an existing server.nn * 400 InvalidAddSecondaryPermission
            - User does not have sufficient permission to add secondary on the specified
            server.nn * 400 UnsupportedServiceName - The specified name is an invalid
            name because it contains one or more unsupported unicode characters.nn
            * 400 CannotUpdateToFreeDatabase - Updating a database to the free sku
            is not supported.nn * 400 CurrentDatabaseLogSizeExceedsMaxSize - User
            attempted to change the database to a sku with lower max log size than
            the current usage.nn * 404 SubscriptionDoesNotHaveServer - The requested
            server was not foundnn * 404 ServerNotInSubscriptionResourceGroup - Specified
            server does not exist in the specified resource group and subscription.nn
            * 404 ServerNotInSubscription - Specified server does not exist on the
            specified subscription.nn * 404 CannotFindObject - Cannot find the object
            because it does not exist or you do not have permissionsnn * 405 UnsupportedReplicationOperation
            - An unsupported replication operation was initiated on the database.nn
            * 409 SkuAssignmentInProgress - The current assignment request cannot
            be processed because a previous request has not completed.nn * 409 CurrentMemoryUsageExceedsSkuQuota
            - User attempted an sku update operation that cannot be completed due
            to the higher resource consumption.nn * 409 UpdateSloInProgress - User
            tried to initiate an incompatible operation while a SLO update was in
            progress.nn * 409 ServerDtuQuotaExceeded - Could not perform the operation
            because server would exceed the allowed Database Throughput Unit quota.nn
            * 409 UnableToAlterDatabaseInReplication - User altered edition on a database
            in a replication relationship.nn * 409 ConflictingDatabaseOperation -
            There is already some operation on the database and the current operation
            should wait till it is done.nn * 409 SimultaneousSkuChangeNotAllowed -
            Service objective change operations cannot run on both databases of a
            replication relationship at the same time.nn * 409 RemoteDatabaseExists
            - The destination database name already exists on the destination server.nn
            * 409 InvalidOperationForDatabaseNotInReplicationRelationship - A replication
            seeding operation was performed on a database that is already in a replication
            relationship.nn * 409 InvalidOperationForDatabaseInReplicationRelationship
            - A replication seeding operation was performed on a database that is
            already in a replication relationship.nn * 409 DuplicateGeoDrRelation
            - The databases are already in a replication relation. This is a duplicate
            request.nn * 409 SubscriptionDisabled - Subscription is disabled.nn *
            409 ConflictingSystemOperationInProgress - A system maintenance operation
            is in progress on the database and further operations need to wait until
            it is completed.nn * 429 TooManyRequests - Requests beyond max requests
            that can be processed by available resources.nn * 429 SubscriptionTooManyCreateUpdateRequests
            - Requests beyond max requests that can be processed by available resources.nn
            * 429 SubscriptionTooManyRequests - Requests beyond max requests that
            can be processed by available resources.nn * 500 ActivateOrDeactivateWorkflowThrottling
            - Activation or deactivation workflow failed because there are too many
            concurrent workflowsnn * 504 RequestTimeout - Service request exceeded
            the allowed timeout.'
      tags:
      - Databases
      x-ms-examples:
        Gets a list of databases in an elastic pool.:
          parameters:
            api-version: 2017-03-01-preview
            elasticPoolName: pool1
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/DB001
                  kind: v12.0,user
                  location: southeastasia
                  name: DB001
                  properties:
                    catalogCollation: SQL_Latin1_General_CP1_CI_AS
                    collation: SQL_Latin1_General_CP1_CI_AS
                    creationDate: "2017-07-12T22:08:39.163Z"
                    currentServiceObjectiveName: ElasticPool
                    databaseId: bfe0735f-bc87-447f-b2c2-481f4b100614
                    defaultSecondaryLocation: North Europe
                    elasticPoolId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/elasticPools/Pool1
                    maxSizeBytes: 268435456000
                    status: Online
                  sku:
                    name: ElasticPool
                    tier: Standard
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/DB002
                  kind: v12.0,user
                  location: southeastasia
                  name: DB002
                  properties:
                    catalogCollation: SQL_Latin1_General_CP1_CI_AS
                    collation: SQL_Latin1_General_CP1_CI_AS
                    creationDate: "2017-07-12T22:10:10.773Z"
                    currentServiceObjectiveName: ElasticPool
                    databaseId: 82246152-3177-4357-b81c-a16d87ce3593
                    defaultSecondaryLocation: North Europe
                    elasticPoolId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/elasticPools/Pool1
                    maxSizeBytes: 268435456000
                    status: Online
                  sku:
                    name: ElasticPool
                    tier: Standard
                  type: Microsoft.Sql/servers/databases
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:8:\"Database\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:31:\"ARM
  tracked top level resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:20:\"A
  database resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Kind
  of database. This is metadata used for the Azure portal experience.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/DatabaseProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  resource model definition representing SKU\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"capacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"If
  the SKU supports scale out/in then the capacity integer should be included. If scale
  out/in is not possible for the resource this may be omitted.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"family\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"If
  the service has different generations of hardware, for the same SKU, then that can
  be captured here.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  name of the SKU. Ex - P3. It is typically a letter+number code\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  SKU size. When the name field is the combination of tier and some other value, this
  would be the standalone code. \";s:4:\"type\";s:6:\"string\";}s:4:\"tier\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"This
  field is required to be implemented by the Resource Provider if the service has
  more than one tier, but is not required on a PUT.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:4:\"type\";s:6:\"object\";}s:18:\"DatabaseListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  list of databases.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Array
  of results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Database\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DatabaseOperation\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:19:\"ARM
  proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:21:\"A
  database operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:41:\"#/definitions/DatabaseOperationProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:27:\"DatabaseOperationListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  response to a list database operations request\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Array
  of results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DatabaseOperation\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DatabaseOperationProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  properties of a database operation.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:12:\"databaseName\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  name of the database the operation is being performed on.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"errorCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  operation error code.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:16:\"errorDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  operation error description.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"errorSeverity\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"The
  operation error severity.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:11:\"isUserError\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Whether
  or not the error is a user error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  name of operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:21:\"operationFriendlyName\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  friendly name of operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"percentComplete\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  percentage of the operation completed.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:10:\"serverName\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  name of the server.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  operation start time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":5:{s:11:\"description\";s:20:\"The
  operation state.\";s:4:\"enum\";a:6:{i:0;s:7:\"Pending\";i:1;s:10:\"InProgress\";i:2;s:9:\"Succeeded\";i:3;s:6:\"Failed\";i:4;s:16:\"CancelInProgress\";i:5;s:9:\"Cancelled\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:24:\"ManagementOperationState\";}}}s:4:\"type\";s:6:\"object\";}s:18:\"DatabaseProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  database's properties.\";s:10:\"properties\";O:8:\"stdClass\":20:{s:16:\"catalogCollation\";O:8:\"stdClass\":5:{s:11:\"description\";s:34:\"Collation
  of the metadata catalog.\";s:4:\"enum\";a:2:{i:0;s:16:\"DATABASE_DEFAULT\";i:1;s:28:\"SQL_Latin1_General_CP1_CI_AS\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"CatalogCollationType\";}s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}}s:9:\"collation\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  collation of the database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}}s:10:\"createMode\";O:8:\"stdClass\":5:{s:11:\"description\";s:1493:\"Specifies
  the mode of database creation.\r\n\r\nDefault: regular database creation.\r\n\r\nCopy:
  creates a database as a copy of an existing database. sourceDatabaseId must be specified
  as the resource ID of the source database.\r\n\r\nSecondary: creates a database
  as a secondary replica of an existing database. sourceDatabaseId must be specified
  as the resource ID of the existing primary database.\r\n\r\nPointInTimeRestore:
  Creates a database by restoring a point in time backup of an existing database.
  sourceDatabaseId must be specified as the resource ID of the existing database,
  and restorePointInTime must be specified.\r\n\r\nRecovery: Creates a database by
  restoring a geo-replicated backup. sourceDatabaseId must be specified as the recoverable
  database resource ID to restore.\r\n\r\nRestore: Creates a database by restoring
  a backup of a deleted database. sourceDatabaseId must be specified. If sourceDatabaseId
  is the database's original resource ID, then sourceDatabaseDeletionDate must be
  specified. Otherwise sourceDatabaseId must be the restorable dropped database resource
  ID and sourceDatabaseDeletionDate is ignored. restorePointInTime may also be specified
  to restore from an earlier point in time.\r\n\r\nRestoreLongTermRetentionBackup:
  Creates a database by restoring from a long term retention vault. recoveryServicesRecoveryPointResourceId
  must be specified as the recovery point resource ID.\r\n\r\nCopy, Secondary, and
  RestoreLongTermRetentionBackup are not supported for DataWarehouse edition.\";s:4:\"enum\";a:10:{i:0;s:7:\"Default\";i:1;s:4:\"Copy\";i:2;s:9:\"Secondary\";i:3;s:15:\"OnlineSecondary\";i:4;s:18:\"PointInTimeRestore\";i:5;s:7:\"Restore\";i:6;s:8:\"Recovery\";i:7;s:21:\"RestoreExternalBackup\";i:8;s:30:\"RestoreExternalBackupSecondary\";i:9;s:30:\"RestoreLongTermRetentionBackup\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"CreateMode\";}s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:12:\"creationDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  creation date of the database (ISO8601 format).\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:27:\"currentServiceObjectiveName\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  current service level objective name of the database.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"databaseId\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  ID of the database.\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:24:\"defaultSecondaryLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  default secondary region for this database.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"elasticPoolId\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  resource identifier of the elastic pool containing this database.\";s:4:\"type\";s:6:\"string\";}s:15:\"failoverGroupId\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Failover
  Group resource identifier that this database belongs to.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:33:\"longTermRetentionBackupResourceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  resource identifier of the long term retention backup associated with create operation
  of this database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:12:\"maxSizeBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  max size of the database expressed in bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:21:\"recoverableDatabaseId\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"The
  resource identifier of the recoverable database associated with create operation
  of this database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:31:\"recoveryServicesRecoveryPointId\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  resource identifier of the recovery point associated with create operation of this
  database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:27:\"restorableDroppedDatabaseId\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"The
  resource identifier of the restorable dropped database associated with create operation
  of this database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:18:\"restorePointInTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"Specifies
  the point in time (ISO8601 format) of the source database that will be restored
  to create the new database.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:10:\"sampleName\";O:8:\"stdClass\":5:{s:11:\"description\";s:67:\"The
  name of the sample schema to apply when creating this database.\";s:4:\"enum\";a:3:{i:0;s:16:\"AdventureWorksLT\";i:1;s:21:\"WideWorldImportersStd\";i:2;s:22:\"WideWorldImportersFull\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"SampleName\";}s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:26:\"sourceDatabaseDeletionDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Specifies
  the time that the database was deleted.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:16:\"sourceDatabaseId\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"The
  resource identifier of the source database associated with create operation of this
  database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:6:\"status\";O:8:\"stdClass\":5:{s:11:\"description\";s:27:\"The
  status of the database.\";s:4:\"enum\";a:18:{i:0;s:6:\"Online\";i:1;s:9:\"Restoring\";i:2;s:15:\"RecoveryPending\";i:3;s:10:\"Recovering\";i:4;s:7:\"Suspect\";i:5;s:7:\"Offline\";i:6;s:7:\"Standby\";i:7;s:8:\"Shutdown\";i:8;s:13:\"EmergencyMode\";i:9;s:10:\"AutoClosed\";i:10;s:7:\"Copying\";i:11;s:8:\"Creating\";i:12;s:12:\"Inaccessible\";i:13;s:16:\"OfflineSecondary\";i:14;s:7:\"Pausing\";i:15;s:6:\"Paused\";i:16;s:8:\"Resuming\";i:17;s:7:\"Scaling\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:14:\"DatabaseStatus\";}}s:13:\"zoneRedundant\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"Whether
  or not this database is zone redundant, which means the replicas of this database
  will be spread across multiple availability zones.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DatabaseUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  database resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/DatabaseProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  resource model definition representing SKU\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"capacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"If
  the SKU supports scale out/in then the capacity integer should be included. If scale
  out/in is not possible for the resource this may be omitted.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"family\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"If
  the service has different generations of hardware, for the same SKU, then that can
  be captured here.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  name of the SKU. Ex - P3. It is typically a letter+number code\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  SKU size. When the name field is the combination of tier and some other value, this
  would be the standalone code. \";s:4:\"type\";s:6:\"string\";}s:4:\"tier\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"This
  field is required to be implemented by the Resource Provider if the service has
  more than one tier, but is not required on a PUT.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ImportExportDatabaseDefinition\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Contains
  the information necessary to perform import/export operation.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:18:\"administratorLogin\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Administrator
  login name.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:26:\"administratorLoginPassword\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Administrator
  login password.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:18:\"authenticationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Authentication
  type.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:12:\"databaseName\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Name
  of the import database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:7:\"edition\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Edition
  of the import database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:12:\"maxSizeBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Max
  size in bytes for the import database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:20:\"serviceObjectiveName\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Service
  level objective name of the import database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:10:\"storageKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Storage
  key.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:14:\"storageKeyType\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Storage
  key type.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:10:\"storageUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Storage
  Uri.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}}s:8:\"required\";a:5:{i:0;s:14:\"storageKeyType\";i:1;s:10:\"storageKey\";i:2;s:10:\"storageUri\";i:3;s:18:\"administratorLogin\";i:4;s:26:\"administratorLoginPassword\";}s:4:\"type\";s:6:\"object\";}s:27:\"ImportExportOperationResult\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:19:\"ARM
  proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:42:\"An
  ImportExport operation result resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:51:\"#/definitions/ImportExportOperationResultProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:37:\"ImportExportOperationResultProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Contains
  the operation result properties for import/export operation.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"blobUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Blob
  Uri.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"databaseName\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Database
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Error
  message.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Last
  modified time.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"queuedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Queued
  time.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"requestId\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Request
  Id.\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"requestType\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Request
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"serverName\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Server
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Operation
  status.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
