---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:22:\"RecoveryServicesClient\";s:7:\"version\";s:10:\"2016-06-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:172:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2016-06-01/vaults.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:23:\"recoveryservices-vaults\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:29:\"azure_recoveryservices_vaults\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":17:{s:22:\"ClientDiscoveryDisplay\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Localized
  display information of an operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Description
  of the operation having details of what operation is about.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Operations
  Name itself.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Name
  of the provider for display purposes\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"ResourceType
  for which this Operation can be performed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"ClientDiscoveryForLogSpecification\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Class
  to represent shoebox log specification in json client discovery.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"blobDuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Blobs
  created in customer storage account per hour\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Localized
  display name\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Name
  of the log.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ClientDiscoveryForProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Class
  to represent shoebox properties in json client discovery.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"serviceSpecification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:52:\"#/definitions/ClientDiscoveryForServiceSpecification\";s:11:\"description\";s:21:\"Operation
  properties.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"ClientDiscoveryForServiceSpecification\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Class
  to represent shoebox service specification in json client discovery.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"logSpecifications\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"List
  of log specifications of this operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/ClientDiscoveryForLogSpecification\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ClientDiscoveryResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Operations
  List response which contains list of available APIs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Link
  to the next chunk of the response\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"List
  of available operationss.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ClientDiscoveryValueForSingleApi\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ClientDiscoveryValueForSingleApi\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Available
  operation details.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"display\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ClientDiscoveryDisplay\";s:11:\"description\";s:72:\"Contains
  the localized display information for this particular operation\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the Operation.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"The
  intended executor of the operation;governs the display of the operation in the RBAC
  UX and the audit logs UX\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ClientDiscoveryForProperties\";s:11:\"description\";s:43:\"ShoeBox
  properties for the given operation.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"PatchTrackedResource\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:31:\"Tracked
  resource with location.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:10:\"PatchVault\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PatchTrackedResource\";}}s:11:\"description\";s:65:\"Patch
  Resource information, as returned by the resource provider.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/VaultProperties\";}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  Resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"eTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Optional
  ETag.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Resource
  Id represents the complete path to the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Resource
  name associated with the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Resource
  type represents the complete path of the form Namespace/ResourceType/ResourceType/...\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:3:\"Sku\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Identifies
  the unique system identifier for each Azure resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"The
  Sku name.\";s:4:\"enum\";a:2:{i:0;s:8:\"Standard\";i:1;s:3:\"RS0\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:7:\"SkuName\";}}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:15:\"TrackedResource\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:31:\"Tracked
  resource with location.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:4:\"type\";s:6:\"object\";}s:14:\"UpgradeDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Details
  for upgrading vault.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"endTimeUtc\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"UTC
  time at which the upgrade operation has ended.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"lastUpdatedTimeUtc\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"UTC
  time at which the upgrade operation status was last updated.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Message
  to the user containing information about the upgrade operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"operationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"ID
  of the vault upgrade operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"previousResourceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Resource
  ID of the vault before the upgrade.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"startTimeUtc\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"UTC
  time at which the upgrade operation has started.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":5:{s:11:\"description\";s:38:\"Status
  of the vault upgrade operation.\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:10:\"InProgress\";i:2;s:8:\"Upgraded\";i:3;s:6:\"Failed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"VaultUpgradeState\";}}s:11:\"triggerType\";O:8:\"stdClass\":5:{s:11:\"description\";s:44:\"The
  way the vault upgradation was triggered.\";s:4:\"enum\";a:2:{i:0;s:13:\"UserTriggered\";i:1;s:13:\"ForcedUpgrade\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:11:\"TriggerType\";}}s:18:\"upgradedResourceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Resource
  ID of the upgraded vault.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Vault\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:11:\"description\";s:59:\"Resource
  information, as returned by the resource provider.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/VaultProperties\";}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";}}s:4:\"type\";s:6:\"object\";}s:17:\"VaultExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Vault
  extended information.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"algorithm\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Algorithm
  for Vault ExtendedInfo\";s:4:\"type\";s:6:\"string\";}s:13:\"encryptionKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Encryption
  key.\";s:4:\"type\";s:6:\"string\";}s:23:\"encryptionKeyThumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Encryption
  key thumbprint.\";s:4:\"type\";s:6:\"string\";}s:12:\"integrityKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Integrity
  key.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"VaultExtendedInfoResource\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:27:\"Vault
  extended information.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/VaultExtendedInfo\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:9:\"VaultList\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  response model for a list of Vaults.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Vault\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"VaultProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Properties
  of the vault.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Provisioning
  State.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"upgradeDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/UpgradeDetails\";}}s:4:\"type\";s:6:\"object\";}}"
...
