---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2017-09-01\";s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";}"
host: management.azure.com
paths: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:21:\"RoutePropertiesFormat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"addressPrefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  destination CIDR to which the route applies.\";}s:11:\"nextHopType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:153:\"The
  type of Azure hop the packet should be sent to. Possible values are: 'VirtualNetworkGateway',
  'VnetLocal', 'Internet', 'VirtualAppliance', and 'None'\";s:4:\"enum\";a:5:{i:0;s:21:\"VirtualNetworkGateway\";i:1;s:9:\"VnetLocal\";i:2;s:8:\"Internet\";i:3;s:16:\"VirtualAppliance\";i:4;s:4:\"None\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"RouteNextHopType\";s:13:\"modelAsString\";b:0;}}s:16:\"nextHopIpAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:134:\"The
  IP address packets should be forwarded to. Next hop values are only allowed in routes
  where the next hop type is VirtualAppliance.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"The
  provisioning state of the resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";}}s:11:\"description\";s:14:\"Route resource\";s:8:\"required\";a:2:{i:0;s:11:\"nextHopType\";i:1;s:13:\"addressPrefix\";}}s:5:\"Route\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:35:\"#/definitions/RoutePropertiesFormat\";s:11:\"description\";s:24:\"Properties
  of the route.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SubResourceReadOnly\";}}s:11:\"description\";s:14:\"Route
  resource\";}s:26:\"RouteTablePropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"routes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Route\";}s:11:\"description\";s:52:\"Collection
  of routes contained within a route table.\";}s:7:\"subnets\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:38:\"A
  collection of references to subnets.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"The
  provisioning state of the resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";}}s:11:\"description\";s:20:\"Route Table resource\";}s:10:\"RouteTable\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:40:\"#/definitions/RouteTablePropertiesFormat\";s:11:\"description\";s:30:\"Properties
  of the route table.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Gets
  a unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:21:\"Route
  table resource.\";}s:20:\"RouteTableListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/RouteTable\";}s:11:\"description\";s:48:\"Gets
  a list of route tables in a resource group.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:49:\"Response for
  the ListRouteTable API service call.\";}s:15:\"RouteListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Route\";}s:11:\"description\";s:42:\"Gets
  a list of routes in a resource group.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:43:\"Response for
  the ListRoute API service call\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  type.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Resource
  location.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";}}s:11:\"description\";s:31:\"Common resource representation.\";s:19:\"x-ms-azure-resource\";b:1;s:8:\"required\";a:1:{i:0;s:8:\"location\";}}s:11:\"SubResource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  ID.\";}}s:11:\"description\";s:33:\"Reference to another subresource.\";s:19:\"x-ms-azure-resource\";b:1;s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:19:\"SubResourceReadOnly\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Resource
  ID\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}"
...
