---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:26:\"ServiceBusManagementClient\";s:11:\"description\";s:24:\"Azure
  Service Bus client\";s:7:\"version\";s:10:\"2017-04-01\";}"
host: management.azure.com
paths:
  /providers/Microsoft.ServiceBus/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      x-ms-examples:
        OperationsList:
          $ref: ./examples/SBOperations_List.json
      description: Lists all of the available ServiceBus REST API operations.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/CheckNameAvailability:
    post:
      tags:
      - Namespaces
      operationId: Namespaces_CheckNameAvailability
      x-ms-examples:
        NameSpaceCheckNameAvailability:
          $ref: ./examples/NameSpaces/SBNameSpaceCheckNameAvailability.json
      description: Check the give namespace name availability.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/CheckNameAvailability'
        description: Parameters to check availability of the given namespace name
      responses:
        200:
          description: check availability returned successfully.
          schema:
            $ref: '#/definitions/CheckNameAvailabilityResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/namespaces:
    get:
      tags:
      - Namespaces
      operationId: Namespaces_List
      x-ms-examples:
        NameSpaceList:
          $ref: ./examples/NameSpaces/SBNameSpaceList.json
      description: Gets all the available namespaces within the subscription, irrespective
        of the resource groups.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespaces successfully returned.
          schema:
            $ref: '#/definitions/SBNamespaceListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces:
    get:
      tags:
      - Namespaces
      operationId: Namespaces_ListByResourceGroup
      x-ms-examples:
        NameSpaceListByResourceGroup:
          $ref: ./examples/NameSpaces/SBNameSpaceListByResourceGroup.json
      description: Gets the available namespaces within a resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespaces successfully returned.
          schema:
            $ref: '#/definitions/SBNamespaceListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}:
    put:
      tags:
      - Namespaces
      operationId: Namespaces_CreateOrUpdate
      x-ms-examples:
        NameSpaceCreate:
          $ref: ./examples/NameSpaces/SBNameSpaceCreate.json
      description: Creates or updates a service namespace. Once created, this namespace's
        resource manifest is immutable. This operation is idempotent.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639408.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: namespaceName
        in: path
        required: true
        type: string
        description: The namespace name.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/SBNamespace'
        description: Parameters supplied to create a namespace resource.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        201:
          description: Namespace create request accepted.
          schema:
            $ref: '#/definitions/SBNamespace'
        200:
          description: Namespace created successfully.
          schema:
            $ref: '#/definitions/SBNamespace'
        202:
          description: Namespace create or update request accepted.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
    delete:
      tags:
      - Namespaces
      operationId: Namespaces_Delete
      x-ms-examples:
        NameSpaceDelete:
          $ref: ./examples/NameSpaces/SBNameSpaceDelete.json
      description: Deletes an existing namespace. This operation also removes all
        associated resources under the namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639389.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: No content.
        200:
          description: Namespace successfully deleted.
        202:
          description: Namespace delete request accepted.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
    get:
      tags:
      - Namespaces
      operationId: Namespaces_Get
      x-ms-examples:
        NameSpaceGet:
          $ref: ./examples/NameSpaces/SBNameSpaceGet.json
      description: Gets a description for the specified namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639379.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace successfully returned.
          schema:
            $ref: '#/definitions/SBNamespace'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
      - Namespaces
      operationId: Namespaces_Update
      x-ms-examples:
        NameSpaceUpdate:
          $ref: ./examples/NameSpaces/SBNameSpaceUpdate.json
      description: Updates a service namespace. Once created, this namespace's resource
        manifest is immutable. This operation is idempotent.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/SBNamespaceUpdateParameters'
        description: Parameters supplied to update a namespace resource.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        201:
          description: Namespace update request accepted.
          schema:
            $ref: '#/definitions/SBNamespace'
        200:
          description: Namespace updated successfully.
          schema:
            $ref: '#/definitions/SBNamespace'
        202:
          description: Namespace update request accepted.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/AuthorizationRules
  : get:
      tags:
      - Namespaces
      operationId: Namespaces_ListAuthorizationRules
      x-ms-examples:
        NameSpaceAutorizationRuleListAll:
          $ref: ./examples/NameSpaces/SBNameSpaceAutorizationRuleListAll.json
      description: Gets the authorization rules for a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639376.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace authorization rules returned successfully.
          schema:
            $ref: '#/definitions/SBAuthorizationRuleListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}
  : put:
      tags:
      - Namespaces
      operationId: Namespaces_CreateOrUpdateAuthorizationRule
      x-ms-examples:
        NameSpaceAuthorizationRuleCreate:
          $ref: ./examples/NameSpaces/SBNameSpaceAuthorizationRuleCreate.json
      description: Creates or updates an authorization rule for a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639410.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/SBAuthorizationRule'
        description: The shared access authorization rule.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace authorization rule created.
          schema:
            $ref: '#/definitions/SBAuthorizationRule'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Namespaces
      operationId: Namespaces_DeleteAuthorizationRule
      x-ms-examples:
        NameSpaceAutorizationRuleDelete:
          $ref: ./examples/NameSpaces/SBNameSpaceAutorizationRuleDelete.json
      description: Deletes a namespace authorization rule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639417.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: No content.
        200:
          description: Namespace authorization rule successfully deleted.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
      - Namespaces
      operationId: Namespaces_GetAuthorizationRule
      x-ms-examples:
        NameSpaceAutorizationRuleGet:
          $ref: ./examples/NameSpaces/SBNameSpaceAutorizationRuleGet.json
      description: Gets an authorization rule for a namespace by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639392.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace authorization rule returned successfully.
          schema:
            $ref: '#/definitions/SBAuthorizationRule'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys
  : post:
      tags:
      - Namespaces
      operationId: Namespaces_ListKeys
      x-ms-examples:
        NameSpaceAuthorizationRuleListKey:
          $ref: ./examples/NameSpaces/SBNameSpaceAuthorizationRuleListKey.json
      description: Gets the primary and secondary connection strings for the namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639398.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Connection strings successfully returned.
          schema:
            $ref: '#/definitions/AccessKeys'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      tags:
      - Namespaces
      operationId: Namespaces_RegenerateKeys
      x-ms-examples:
        NameSpaceAuthorizationRuleRegenrateKey:
          $ref: ./examples/NameSpaces/SBNameSpaceAuthorizationRuleRegenrateKey.json
      description: Regenerates the primary or secondary connection strings for the
        namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt718977.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/RegenerateAccessKeyParameters'
        description: Parameters supplied to regenerate the authorization rule.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Authorization rule successfully regenerated.
          schema:
            $ref: '#/definitions/AccessKeys'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/migrate
  : post:
      tags:
      - Namespaces
      operationId: Namespaces_Migrate
      x-ms-examples:
        NameSpaceUpdate:
          $ref: ./examples/NameSpaces/SBNamespaceMigrate.json
      description: This operation Migrate the given namespace to provided name type
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/SBNamespaceMigrate'
        description: Parameters supplied to migrate namespace type.
      responses:
        200:
          description: Migrate Namepsace type is successful.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/disasterRecoveryConfigs/CheckNameAvailability
  : post:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_CheckNameAvailability
      x-ms-examples:
        AliasNameAvailability:
          $ref: ./examples/disasterRecoveryConfigs/SBAliasCheckNameAvailability.json
      description: Check the give namespace name availability.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/CheckNameAvailability'
        description: Parameters to check availability of the given namespace name
      responses:
        200:
          description: check availability returned successfully.
          schema:
            $ref: '#/definitions/CheckNameAvailabilityResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/disasterRecoveryConfigs
  : get:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_List
      x-ms-examples:
        SBAliasList:
          $ref: ./examples/disasterRecoveryConfigs/SBAliasList.json
      description: Gets all Alias(Disaster Recovery configurations)
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successfully retrieved the list of Alias(Disaster Recovery
            configurations) for servicebus namespace
          schema:
            $ref: '#/definitions/ArmDisasterRecoveryListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/disasterRecoveryConfigs/{alias}
  : put:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_CreateOrUpdate
      x-ms-examples:
        SBAliasCreate:
          $ref: ./examples/disasterRecoveryConfigs/SBAliasCreate.json
      description: Creates or updates a new Alias(Disaster Recovery configuration)
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/AliasNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ArmDisasterRecovery'
        description: Parameters required to create an Alias(Disaster Recovery configuration)
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Alias(Disaster Recovery configuration) successfully created
          schema:
            $ref: '#/definitions/ArmDisasterRecovery'
        201:
          description: Alias(Disaster Recovery configuration) creation request received
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_Delete
      x-ms-examples:
        SBAliasDelete:
          $ref: ./examples/disasterRecoveryConfigs/SBAliasDelete.json
      description: Deletes an Alias(Disaster Recovery configuration)
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/AliasNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Delete Alias(Disaster Recovery configuration) request accepted
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_Get
      x-ms-examples:
        SBAliasGet:
          $ref: ./examples/disasterRecoveryConfigs/SBAliasGet.json
      description: Retrieves Alias(Disaster Recovery configuration) for primary or
        secondary namespace
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/AliasNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successfully retrieved the Alias(Disaster Recovery configurations)
          schema:
            $ref: '#/definitions/ArmDisasterRecovery'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/disasterRecoveryConfigs/{alias}/breakPairing
  : post:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_BreakPairing
      x-ms-examples:
        SBEHAliasBreakPairing:
          $ref: ./examples/disasterRecoveryConfigs/SBEHAliasBreakPairing.json
      description: This operation disables the Disaster Recovery and stops replicating
        changes from primary to secondary namespaces
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/AliasNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Break-Pairing operation is successful.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/disasterRecoveryConfigs/{alias}/failover
  : post:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_FailOver
      x-ms-examples:
        SBAliasFailOver:
          $ref: ./examples/disasterRecoveryConfigs/SBAliasFailOver.json
      description: envokes GEO DR failover and reconfigure the alias to point to the
        secondary namespace
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/AliasNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Failover operation is successful.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/disasterRecoveryConfigs/{alias}/AuthorizationRules
  : get:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_ListAuthorizationRules
      x-ms-examples:
        NameSpaceAutorizationRuleListAll:
          $ref: ./examples/disasterRecoveryConfigs/SBAliasAutorizationRuleListAll.json
      description: Gets the authorization rules for a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639376.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/AliasNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: DisasterRecoveryConfigs authorization rules returned successfully.
          schema:
            $ref: '#/definitions/SBAuthorizationRuleListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/disasterRecoveryConfigs/{alias}/AuthorizationRules/{authorizationRuleName}
  : get:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_GetAuthorizationRule
      x-ms-examples:
        DisasterRecoveryConfigsAutorizationRuleGet:
          $ref: ./examples/disasterRecoveryConfigs/SBAliasAutorizationRuleGet.json
      description: Gets an authorization rule for a namespace by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639392.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/AliasNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: DisasterRecoveryConfigs authorization rule returned successfully.
          schema:
            $ref: '#/definitions/SBAuthorizationRule'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/disasterRecoveryConfigs/{alias}/AuthorizationRules/{authorizationRuleName}/listKeys
  : post:
      tags:
      - DisasterRecoveryConfigs
      operationId: DisasterRecoveryConfigs_ListKeys
      x-ms-examples:
        DisasterRecoveryConfigsAuthorizationRuleListKey:
          $ref: ./examples/disasterRecoveryConfigs/SBAliasAuthorizationRuleListKey.json
      description: Gets the primary and secondary connection strings for the namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639398.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/AliasNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Connection strings successfully returned.
          schema:
            $ref: '#/definitions/AccessKeys'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/migrationConfigurations
  : get:
      tags:
      - MigrationConfigs
      operationId: MigrationConfigs_List
      x-ms-examples:
        MigrationConfigurationsList:
          $ref: ./examples/Migrationconfigurations/SBMigrationconfigurationList.json
      description: Gets all migrationConfigurations
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successfully retrieved the list of migrationConfigurations
            for servicebus namespace
          schema:
            $ref: '#/definitions/MigrationConfigListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/migrationConfigurations/{configName}
  : put:
      tags:
      - MigrationConfigs
      operationId: MigrationConfigs_CreateAndStartMigration
      x-ms-examples:
        MigrationConfigurationsStartMigration:
          $ref: ./examples/Migrationconfigurations/SBMigrationconfigurationCreateAndStartMigration.json
      description: Creates Migration configuration and starts migration of enties
        from Standard to Premium namespace
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ConfigNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/MigrationConfigProperties'
        description: Parameters required to create Migration Configuration
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Migration Config successfully created
          schema:
            $ref: '#/definitions/MigrationConfigProperties'
        201:
          description: Migration Config creation request received
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
    delete:
      tags:
      - MigrationConfigs
      operationId: MigrationConfigs_Delete
      x-ms-examples:
        MigrationConfigurationsDelete:
          $ref: ./examples/Migrationconfigurations/SBMigrationconfigurationDelete.json
      description: Deletes a MigrationConfiguration
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ConfigNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Delete Migration Config request accepted
        204:
          description: Not Found
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
      - MigrationConfigs
      operationId: MigrationConfigs_Get
      x-ms-examples:
        MigrationConfigurationsGet:
          $ref: ./examples/Migrationconfigurations/SBMigrationconfigurationGet.json
      description: Retrieves Migration Config
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ConfigNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successfully retrieved Migration Config)
          schema:
            $ref: '#/definitions/MigrationConfigProperties'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/migrationConfigurations/{configName}/upgrade
  : post:
      tags:
      - MigrationConfigs
      operationId: MigrationConfigs_CompleteMigration
      x-ms-examples:
        MigrationConfigurationsCompleteMigration:
          $ref: ./examples/Migrationconfigurations/SBMigrationconfigurationCompleteMigration.json
      description: This operation Completes Migration of entities by pointing the
        connection strings to Premium namespace and any enties created after the operation
        will be under Premium Namespace. CompleteMigration operation will fail when
        entity migration is in-progress.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ConfigNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: upgrade operation of Migration Config is successful.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/migrationConfigurations/{configName}/revert
  : post:
      tags:
      - MigrationConfigs
      operationId: MigrationConfigs_Revert
      x-ms-examples:
        MigrationConfigurationsRevert:
          $ref: ./examples/Migrationconfigurations/SBMigrationconfigurationRevert.json
      description: This operation reverts Migration
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ConfigNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: MigrationConfig Revert operation is successful.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues
  : get:
      tags:
      - Queues
      operationId: Queues_ListByNamespace
      x-ms-examples:
        QueueListByNameSpace:
          $ref: ./examples/Queues/SBQueueListByNameSpace.json
      description: Gets the queues within a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639415.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/SkipParameter'
      - $ref: '#/parameters/TopParameter'
      responses:
        200:
          description: Queues successfully returned.
          schema:
            $ref: '#/definitions/SBQueueListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}
  : put:
      tags:
      - Queues
      operationId: Queues_CreateOrUpdate
      x-ms-examples:
        QueueCreate:
          $ref: ./examples/Queues/SBQueueCreate.json
      description: Creates or updates a Service Bus queue. This operation is idempotent.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639395.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/QueueNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/SBQueue'
        description: Parameters supplied to create or update a queue resource.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Queue successfully created.
          schema:
            $ref: '#/definitions/SBQueue'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Queues
      operationId: Queues_Delete
      x-ms-examples:
        QueueDelete:
          $ref: ./examples/Queues/SBQueueDelete.json
      description: Deletes a queue from the specified namespace in a resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639411.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/QueueNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: No content.
        200:
          description: Queue successfully deleted.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
      - Queues
      operationId: Queues_Get
      x-ms-examples:
        QueueGet:
          $ref: ./examples/Queues/SBQueueGet.json
      description: Returns a description for the specified queue.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639380.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/QueueNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Queue description successfully returned.
          schema:
            $ref: '#/definitions/SBQueue'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}/authorizationRules
  : get:
      tags:
      - Queues
      operationId: Queues_ListAuthorizationRules
      x-ms-examples:
        QueueAutorizationRuleListAll:
          $ref: ./examples/Queues/SBQueueAutorizationRuleListAll.json
      description: Gets all authorization rules for a queue.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt705607.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/QueueNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Authorization rules successfully returned.
          schema:
            $ref: '#/definitions/SBAuthorizationRuleListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}/authorizationRules/{authorizationRuleName}
  : put:
      tags:
      - Queues
      operationId: Queues_CreateOrUpdateAuthorizationRule
      x-ms-examples:
        QueueAuthorizationRuleCreate:
          $ref: ./examples/Queues/SBQueueAuthorizationRuleCreate.json
      description: Creates an authorization rule for a queue.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/QueueNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/SBAuthorizationRule'
        description: The shared access authorization rule.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Authorization rule successfully created.
          schema:
            $ref: '#/definitions/SBAuthorizationRule'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Queues
      operationId: Queues_DeleteAuthorizationRule
      x-ms-examples:
        QueueAutorizationRuleDelete:
          $ref: ./examples/Queues/SBQueueAutorizationRuleDelete.json
      description: Deletes a queue authorization rule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt705609.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/QueueNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: No content.
        200:
          description: Authorization rule successfully deleted.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
      - Queues
      operationId: Queues_GetAuthorizationRule
      x-ms-examples:
        QueueAutorizationRuleGet:
          $ref: ./examples/Queues/SBQueueAutorizationRuleGet.json
      description: Gets an authorization rule for a queue by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt705611.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/QueueNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Authorization rule successfully returned.
          schema:
            $ref: '#/definitions/SBAuthorizationRule'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}/authorizationRules/{authorizationRuleName}/ListKeys
  : post:
      tags:
      - Queues
      operationId: Queues_ListKeys
      x-ms-examples:
        QueueAuthorizationRuleListKey:
          $ref: ./examples/Queues/SBQueueAuthorizationRuleListKey.json
      description: Primary and secondary connection strings to the queue.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt705608.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/QueueNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Connection strings successfully returned.
          schema:
            $ref: '#/definitions/AccessKeys'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}/authorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      tags:
      - Queues
      operationId: Queues_RegenerateKeys
      x-ms-examples:
        QueueAuthorizationRuleRegenrateKey:
          $ref: ./examples/Queues/SBQueueAuthorizationRuleRegenrateKey.json
      description: Regenerates the primary or secondary connection strings to the
        queue.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt705606.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/QueueNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/RegenerateAccessKeyParameters'
        description: Parameters supplied to regenerate the authorization rule.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Connection strings successfully regenerated.
          schema:
            $ref: '#/definitions/AccessKeys'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics
  : get:
      tags:
      - Topics
      operationId: Topics_ListByNamespace
      x-ms-examples:
        TopicGet:
          $ref: ./examples/Topics/SBTopicListByNameSpace.json
      description: Gets all the topics in a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639388.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/SkipParameter'
      - $ref: '#/parameters/TopParameter'
      responses:
        200:
          description: Successfully retrieved list of topics.
          schema:
            $ref: '#/definitions/SBTopicListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}
  : put:
      tags:
      - Topics
      operationId: Topics_CreateOrUpdate
      x-ms-examples:
        TopicCreate:
          $ref: ./examples/Topics/SBTopicCreate.json
      description: Creates a topic in the specified namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639409.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/SBTopic'
        description: Parameters supplied to create a topic resource.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Topic successfully created.
          schema:
            $ref: '#/definitions/SBTopic'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Topics
      operationId: Topics_Delete
      x-ms-examples:
        TopicDelete:
          $ref: ./examples/Topics/SBTopicDelete.json
      description: Deletes a topic from the specified namespace and resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639404.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: No Content
        200:
          description: Topic successfully deleted.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
      - Topics
      operationId: Topics_Get
      x-ms-examples:
        TopicGet:
          $ref: ./examples/Topics/SBTopicGet.json
      description: Returns a description for the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639399.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Topic description successfully retrieved.
          schema:
            $ref: '#/definitions/SBTopic'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules
  : get:
      tags:
      - Topics
      operationId: Topics_ListAuthorizationRules
      x-ms-examples:
        TopicAutorizationRuleListAll:
          $ref: ./examples/Topics/SBTopicAutorizationRuleListAll.json
      description: Gets authorization rules for a topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720681.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Authorization rules successfully returned.
          schema:
            $ref: '#/definitions/SBAuthorizationRuleListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules/{authorizationRuleName}
  : put:
      tags:
      - Topics
      operationId: Topics_CreateOrUpdateAuthorizationRule
      x-ms-examples:
        TopicAuthorizationRuleCreate:
          $ref: ./examples/Topics/SBTopicAuthorizationRuleCreate.json
      description: Creates an authorizatio rule for the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720678.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/SBAuthorizationRule'
        description: The shared access authorization rule.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Topic authorization rule successfully created.
          schema:
            $ref: '#/definitions/SBAuthorizationRule'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
      - Topics
      operationId: Topics_GetAuthorizationRule
      x-ms-examples:
        TopicAutorizationRuleGet:
          $ref: ./examples/Topics/SBTopicAutorizationRuleGet.json
      description: Returns the specified authorization rule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720676.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Topic authorization rule returned successfully.
          schema:
            $ref: '#/definitions/SBAuthorizationRule'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Topics
      operationId: Topics_DeleteAuthorizationRule
      x-ms-examples:
        TopicAutorizationRuleDelete:
          $ref: ./examples/Topics/SBTopicAutorizationRuleDelete.json
      description: Deletes a topic authorization rule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720681.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: No content.
        200:
          description: Topic authorization rule successfully deleted.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules/{authorizationRuleName}/ListKeys
  : post:
      tags:
      - Topics
      operationId: Topics_ListKeys
      x-ms-examples:
        TopicAuthorizationRuleListKey:
          $ref: ./examples/Topics/SBTopicAuthorizationRuleListKey.json
      description: Gets the primary and secondary connection strings for the topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720677.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Connection strings successfully retrieved.
          schema:
            $ref: '#/definitions/AccessKeys'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      tags:
      - Topics
      operationId: Topics_RegenerateKeys
      x-ms-examples:
        TopicAuthorizationRuleRegenrateKey:
          $ref: ./examples/Topics/SBTopicAuthorizationRuleRegenrateKey.json
      description: Regenerates primary or secondary connection strings for the topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720679.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/AuthorizationRuleNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/RegenerateAccessKeyParameters'
        description: Parameters supplied to regenerate the authorization rule.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Connection strings successfully regenerated.
          schema:
            $ref: '#/definitions/AccessKeys'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions
  : get:
      tags:
      - Subscriptions
      operationId: Subscriptions_ListByTopic
      x-ms-examples:
        SubscriptionListByTopic:
          $ref: ./examples/Subscriptions/SBSubscriptionListByTopic.json
      description: List all the subscriptions under a specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639400.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/SkipParameter'
      - $ref: '#/parameters/TopParameter'
      responses:
        200:
          description: Successfully retrieved list of subscriptions.
          schema:
            $ref: '#/definitions/SBSubscriptionListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}
  : put:
      tags:
      - Subscriptions
      operationId: Subscriptions_CreateOrUpdate
      x-ms-examples:
        SubscriptionCreate:
          $ref: ./examples/Subscriptions/SBSubscriptionCreate.json
      description: Creates a topic subscription.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639385.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/SubscriptionNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/SBSubscription'
        description: Parameters supplied to create a subscription resource.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Subscription create request accepted.
          schema:
            $ref: '#/definitions/SBSubscription'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Subscriptions
      operationId: Subscriptions_Delete
      x-ms-examples:
        SubscriptionDelete:
          $ref: ./examples/Subscriptions/SBSubscriptionDelete.json
      description: Deletes a subscription from the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639381.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/SubscriptionNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: No content.
        200:
          description: Subscription successfully deleted.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
      - Subscriptions
      operationId: Subscriptions_Get
      x-ms-examples:
        SubscriptionGet:
          $ref: ./examples/Subscriptions/SBSubscriptionGet.json
      description: Returns a subscription description for the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639402.aspx
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/SubscriptionNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successfully retrieved subscription description.
          schema:
            $ref: '#/definitions/SBSubscription'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}/rules
  : get:
      tags:
      - Rules
      operationId: Rules_ListBySubscriptions
      x-ms-examples:
        RulesListBySubscriptions:
          $ref: ./examples/Rules/RuleListBySubscription.json
      description: List all the rules within given topic-subscription
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/SubscriptionNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/SkipParameter'
      - $ref: '#/parameters/TopParameter'
      responses:
        200:
          description: Successfully retrieved list of Rules.
          schema:
            $ref: '#/definitions/RuleListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}/rules/{ruleName}
  : put:
      tags:
      - Rules
      operationId: Rules_CreateOrUpdate
      x-ms-examples:
        RulesCreateOrUpdate:
          $ref: ./examples/Rules/RuleCreate.json
        RulesCreateSQLFilter:
          $ref: ./examples/Rules/RuleCreate_sqlfilter.json
        RulesCreateCorelationFilter:
          $ref: ./examples/Rules/RuleCreate_Corelationfilter.json
      description: Creates a new rule and updates an existing rule
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/SubscriptionNameParameter'
      - $ref: '#/parameters/RuleNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Rule'
        description: Parameters supplied to create a rule.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Rule created.
          schema:
            $ref: '#/definitions/Rule'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Rules
      operationId: Rules_Delete
      x-ms-examples:
        RulesDelete:
          $ref: ./examples/Rules/RuleDelete.json
      description: Deletes an existing rule.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/SubscriptionNameParameter'
      - $ref: '#/parameters/RuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: No Content
        200:
          description: Rule deleted.
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
      - Subscriptions
      operationId: Rules_Get
      x-ms-examples:
        RulesGet:
          $ref: ./examples/Rules/RuleGet.json
      description: Retrieves the description for the specified rule.
      externalDocs:
        url: ""
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/TopicNameParameter'
      - $ref: '#/parameters/SubscriptionNameParameter'
      - $ref: '#/parameters/RuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successfully retrieved rule description.
          schema:
            $ref: '#/definitions/Rule'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/sku/{sku}/regions:
    get:
      tags:
      - Regions
      operationId: Regions_ListBySku
      x-ms-examples:
        RegionsListBySku:
          $ref: ./examples/SkuRegions/SkuRegions.json
      description: Gets the available Regions for a given sku
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/SkuNameParameter'
      responses:
        200:
          description: Regions successfully returned.
          schema:
            $ref: '#/definitions/PremiumMessagingRegionsListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/premiumMessagingRegions:
    get:
      tags:
      - PremiumMessagingRegions
      operationId: PremiumMessagingRegions_List
      x-ms-examples:
        PremiumMessagingRegionsList:
          $ref: ./examples/SkuRegions/PremiumMessagingRegions.json
      description: 'Gets the available premium messaging regions for servicebus '
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Premium messaging regions successfully returned.
          schema:
            $ref: '#/definitions/PremiumMessagingRegionsListResult'
        default:
          description: ServiceBus error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/eventhubs
  : get:
      tags:
      - EventHubs
      operationId: EventHubs_ListByNamespace
      x-ms-examples:
        RulesCreateOrUpdate:
          $ref: ./examples/SkuRegions/EventHubs.json
      description: Gets all the Event Hubs in a service bus Namespace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successfully retrieved the list of Event Hubs.
          schema:
            $ref: '#/definitions/EventHubListResult'
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":49:{s:15:\"TrackedResource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}s:11:\"description\";s:41:\"The
  Geo-location where the resource lives\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"x-ms-mutability\";a:3:{i:0;s:4:\"read\";i:1;s:6:\"create\";i:2;s:6:\"update\";}s:11:\"description\";s:13:\"Resource
  tags\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:11:\"description\";s:24:\"The
  Resource definition.\";}s:8:\"Resource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Resource
  Id\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"Resource
  name\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"Resource
  type\";}}s:19:\"x-ms-azure-resource\";b:1;s:11:\"description\";s:49:\"The Resource
  definition for other than namespace.\";}s:22:\"ResourceNamespacePatch\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Resource
  location\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:24:\"The
  Resource definition.\";}s:21:\"SBNamespaceListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SBNamespace\";}s:11:\"description\";s:39:\"Result
  of the List Namespace operation.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Link
  to the next set of results. Not empty if Value contains incomplete list of Namespaces.\";}}s:11:\"description\";s:45:\"The
  response of the List Namespace operation.\";}s:11:\"SBNamespace\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/SBSku\";s:11:\"description\";s:17:\"Porperties
  of Sku\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:35:\"#/definitions/SBNamespaceProperties\";s:11:\"description\";s:28:\"Properties
  of the namespace.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:11:\"description\";s:36:\"Description
  of a namespace resource.\";}s:27:\"SBNamespaceUpdateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/SBSku\";s:11:\"description\";s:17:\"Porperties
  of Sku\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:35:\"#/definitions/SBNamespaceProperties\";s:11:\"description\";s:28:\"Properties
  of the namespace.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ResourceNamespacePatch\";}}s:11:\"description\";s:36:\"Description
  of a namespace resource.\";}s:21:\"SBNamespaceProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Provisioning
  state of the namespace.\";}s:9:\"createdAt\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  time the namespace was created.\";}s:9:\"updatedAt\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  time the namespace was updated.\";}s:18:\"serviceBusEndpoint\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Endpoint
  you can use to perform Service Bus operations.\";}s:8:\"metricId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Identifier
  for Azure Insights metrics\";}}s:11:\"description\";s:28:\"Properties of the namespace.\";}s:5:\"SBSku\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Name
  of this SKU.\";s:4:\"enum\";a:3:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";i:2;s:7:\"Premium\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"SkuName\";s:13:\"modelAsString\";b:0;}}s:4:\"tier\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  billing tier of this particular SKU.\";s:4:\"enum\";a:3:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";i:2;s:7:\"Premium\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"SkuTier\";s:13:\"modelAsString\";b:0;}}s:8:\"capacity\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:85:\"The
  specified messaging units for the tier. For Premium tier, capacity are 1,2 and 4.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:11:\"description\";s:21:\"SKU
  of the namespace.\";}s:18:\"SBNamespaceMigrate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"targetNamespaceType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Type
  of namespaces\";s:4:\"enum\";a:5:{i:0;s:9:\"Messaging\";i:1;s:15:\"NotificationHub\";i:2;s:5:\"Mixed\";i:3;s:8:\"EventHub\";i:4;s:5:\"Relay\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"NameSpaceType\";s:13:\"modelAsString\";b:0;}}}s:8:\"required\";a:1:{i:0;s:19:\"targetNamespaceType\";}s:11:\"description\";s:24:\"Namespace
  Migrate Object\";}s:29:\"SBAuthorizationRuleListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SBAuthorizationRule\";}s:11:\"description\";s:49:\"Result
  of the List Authorization Rules operation.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"Link
  to the next set of results. Not empty if Value contains incomplete list of Authorization
  Rules.\";}}s:11:\"description\";s:45:\"The response to the List Namespace operation.\";}s:19:\"SBAuthorizationRule\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"x-ms-client-flatten\";b:1;s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"rights\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"Manage\";i:1;s:4:\"Send\";i:2;s:6:\"Listen\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"AccessRights\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";s:36:\"The
  rights associated with the rule.\";}}s:8:\"required\";a:1:{i:0;s:6:\"rights\";}s:11:\"description\";s:29:\"AuthorizationRule
  properties.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:46:\"Description
  of a namespace authorization rule.\";}s:27:\"AuthorizationRuleProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"rights\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"Manage\";i:1;s:4:\"Send\";i:2;s:6:\"Listen\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"AccessRights\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";s:36:\"The
  rights associated with the rule.\";}}s:8:\"required\";a:1:{i:0;s:6:\"rights\";}s:11:\"description\";s:29:\"AuthorizationRule
  properties.\";}s:10:\"AccessKeys\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:23:\"primaryConnectionString\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Primary
  connection string of the created namespace authorization rule.\";}s:25:\"secondaryConnectionString\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"Secondary
  connection string of the created namespace authorization rule.\";}s:28:\"aliasPrimaryConnectionString\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Primary
  connection string of the alias if GEO DR is enabled\";}s:30:\"aliasSecondaryConnectionString\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Secondary
  \ connection string of the alias if GEO DR is enabled\";}s:10:\"primaryKey\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"A
  base64-encoded 256-bit primary key for signing and validating the SAS token.\";}s:12:\"secondaryKey\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"A
  base64-encoded 256-bit primary key for signing and validating the SAS token.\";}s:7:\"keyName\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"A
  string that describes the authorization rule.\";}}s:11:\"description\";s:38:\"Namespace/ServiceBus
  Connection String\";}s:29:\"RegenerateAccessKeyParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"keyType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  access key to regenerate.\";s:4:\"enum\";a:2:{i:0;s:10:\"PrimaryKey\";i:1;s:12:\"SecondaryKey\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"KeyType\";s:13:\"modelAsString\";b:0;}}s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"Optional,
  if the key value provided, is reset for KeyType value or autogenerate Key value
  set for keyType\";}}s:8:\"required\";a:1:{i:0;s:7:\"keyType\";}s:11:\"description\";s:107:\"Parameters
  supplied to the Regenerate Authorization Rule operation, specifies which key neeeds
  to be reset.\";}s:17:\"SBQueueListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/SBQueue\";}s:11:\"description\";s:36:\"Result
  of the List Queues operation.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"Link
  to the next set of results. Not empty if Value contains incomplete list of queues.\";}}s:11:\"description\";s:42:\"The
  response to the List Queues operation.\";}s:7:\"SBQueue\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:31:\"#/definitions/SBQueueProperties\";s:11:\"description\";s:16:\"Queue
  Properties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:30:\"Description
  of queue Resource.\";}s:17:\"SBQueueProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:12:\"countDetails\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"$ref\";s:33:\"#/definitions/MessageCountDetails\";s:11:\"description\";s:22:\"Message
  Count Details.\";}s:9:\"createdAt\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:39:\"The
  exact time the message was created.\";}s:9:\"updatedAt\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:39:\"The
  exact time the message was updated.\";}s:10:\"accessedAt\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:89:\"Last
  time a message was sent, or the last time there was a receive request to this queue.\";}s:11:\"sizeInBytes\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:32:\"The
  size of the queue, in bytes.\";}s:12:\"messageCount\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:36:\"The
  number of messages in the queue.\";}s:12:\"lockDuration\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:198:\"ISO
  8601 timespan duration of a peek-lock; that is, the amount of time that the message
  is locked for other receivers. The maximum value for LockDuration is 5 minutes;
  the default value is 1 minute.\";}s:18:\"maxSizeInMegabytes\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:113:\"The
  maximum size of the queue in megabytes, which is the size of memory allocated for
  the queue. Default is 1024.\";}s:26:\"requiresDuplicateDetection\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"A
  value indicating if this queue requires duplicate detection.\";}s:15:\"requiresSession\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:74:\"A
  value that indicates whether the queue supports the concept of sessions.\";}s:24:\"defaultMessageTimeToLive\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:236:\"ISO
  8601 default message timespan to live value. This is the duration after which the
  message expires, starting from when the message is sent to Service Bus. This is
  the default value used when TimeToLive is not set on a message itself.\";}s:32:\"deadLetteringOnMessageExpiration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:89:\"A
  value that indicates whether this queue has dead letter support when a message expires.\";}s:35:\"duplicateDetectionHistoryTimeWindow\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:122:\"ISO
  8601 timeSpan structure that defines the duration of the duplicate detection history.
  The default value is 10 minutes.\";}s:16:\"maxDeliveryCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:121:\"The
  maximum delivery count. A message is automatically deadlettered after this number
  of deliveries. default value is 10.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EntityStatus\";s:11:\"description\";s:68:\"Enumerates
  the possible values for the status of a messaging entity.\";}s:23:\"enableBatchedOperations\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:72:\"Value
  that indicates whether server-side batched operations are enabled.\";}s:16:\"autoDeleteOnIdle\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"ISO
  8061 timeSpan idle interval after which the queue is automatically deleted. The
  minimum duration is 5 minutes.\";}s:18:\"enablePartitioning\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:94:\"A
  value that indicates whether the queue is to be partitioned across multiple message
  brokers.\";}s:13:\"enableExpress\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:156:\"A
  value that indicates whether Express Entities are enabled. An express queue holds
  a message in memory temporarily before writing it to persistent storage.\";}s:9:\"forwardTo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Queue/Topic
  name to forward the messages\";}s:29:\"forwardDeadLetteredMessagesTo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Queue/Topic
  name to forward the Dead Letter message\";}}s:11:\"description\";s:32:\"The Queue
  Properties definition.\";}s:19:\"MessageCountDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"activeMessageCount\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:63:\"Number
  of active messages in the queue, topic, or subscription.\";}s:22:\"deadLetterMessageCount\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:42:\"Number
  of messages that are dead lettered.\";}s:21:\"scheduledMessageCount\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:29:\"Number
  of scheduled messages.\";}s:20:\"transferMessageCount\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:72:\"Number
  of messages transferred to another queue, topic, or subscription.\";}s:30:\"transferDeadLetterMessageCount\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:49:\"Number
  of messages transferred into dead letters.\";}}s:11:\"description\";s:22:\"Message
  Count Details.\";}s:17:\"SBTopicListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/SBTopic\";}s:11:\"description\";s:36:\"Result
  of the List Topics operation.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"Link
  to the next set of results. Not empty if Value contains incomplete list of topics.\";}}s:11:\"description\";s:42:\"The
  response to the List Topics operation.\";}s:7:\"SBTopic\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:31:\"#/definitions/SBTopicProperties\";s:11:\"description\";s:29:\"Properties
  of topic resource.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:30:\"Description
  of topic resource.\";}s:17:\"SBTopicProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:11:\"sizeInBytes\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:28:\"Size
  of the topic, in bytes.\";}s:9:\"createdAt\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Exact
  time the message was created.\";}s:9:\"updatedAt\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  exact time the message was updated.\";}s:10:\"accessedAt\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Last
  time the message was sent, or a request was received, for this topic.\";}s:17:\"subscriptionCount\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Number
  of subscriptions.\";}s:12:\"countDetails\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"$ref\";s:33:\"#/definitions/MessageCountDetails\";s:11:\"description\";s:21:\"Message
  count deatils\";}s:24:\"defaultMessageTimeToLive\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:236:\"ISO
  8601 Default message timespan to live value. This is the duration after which the
  message expires, starting from when the message is sent to Service Bus. This is
  the default value used when TimeToLive is not set on a message itself.\";}s:18:\"maxSizeInMegabytes\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:113:\"Maximum
  size of the topic in megabytes, which is the size of the memory allocated for the
  topic. Default is 1024.\";}s:26:\"requiresDuplicateDetection\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:60:\"Value
  indicating if this topic requires duplicate detection.\";}s:35:\"duplicateDetectionHistoryTimeWindow\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:121:\"ISO8601
  timespan structure that defines the duration of the duplicate detection history.
  The default value is 10 minutes.\";}s:23:\"enableBatchedOperations\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:72:\"Value
  that indicates whether server-side batched operations are enabled.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EntityStatus\";s:11:\"description\";s:68:\"Enumerates
  the possible values for the status of a messaging entity.\";}s:15:\"supportOrdering\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:57:\"Value
  that indicates whether the topic supports ordering.\";}s:16:\"autoDeleteOnIdle\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"ISO
  8601 timespan idle interval after which the topic is automatically deleted. The
  minimum duration is 5 minutes.\";}s:18:\"enablePartitioning\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:100:\"Value
  that indicates whether the topic to be partitioned across multiple message brokers
  is enabled.\";}s:13:\"enableExpress\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:154:\"Value
  that indicates whether Express Entities are enabled. An express topic holds a message
  in memory temporarily before writing it to persistent storage.\";}}s:11:\"description\";s:32:\"The
  Tpoic Properties definition.\";}s:24:\"SBSubscriptionListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SBSubscription\";}s:11:\"description\";s:43:\"Result
  of the List Subscriptions operation.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:94:\"Link
  to the next set of results. Not empty if Value contains incomplete list of subscriptions.\";}}s:11:\"description\";s:49:\"The
  response to the List Subscriptions operation.\";}s:14:\"SBSubscription\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:38:\"#/definitions/SBSubscriptionProperties\";s:11:\"description\";s:37:\"Properties
  of subscriptions resource.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:37:\"Description
  of subscription resource.\";}s:24:\"SBSubscriptionProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:12:\"messageCount\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:19:\"Number
  of messages.\";}s:9:\"createdAt\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:35:\"Exact
  time the message was created.\";}s:10:\"accessedAt\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Last
  time there was a receive request to this subscription.\";}s:9:\"updatedAt\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  exact time the message was updated.\";}s:12:\"countDetails\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"$ref\";s:33:\"#/definitions/MessageCountDetails\";s:11:\"description\";s:21:\"Message
  count details\";}s:12:\"lockDuration\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"ISO
  8061 lock duration timespan for the subscription. The default value is 1 minute.\";}s:15:\"requiresSession\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:68:\"Value
  indicating if a subscription supports the concept of sessions.\";}s:24:\"defaultMessageTimeToLive\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:236:\"ISO
  8061 Default message timespan to live value. This is the duration after which the
  message expires, starting from when the message is sent to Service Bus. This is
  the default value used when TimeToLive is not set on a message itself.\";}s:41:\"deadLetteringOnFilterEvaluationExceptions\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:100:\"Value
  that indicates whether a subscription has dead letter support on filter evaluation
  exceptions.\";}s:32:\"deadLetteringOnMessageExpiration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:91:\"Value
  that indicates whether a subscription has dead letter support when a message expires.\";}s:35:\"duplicateDetectionHistoryTimeWindow\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:122:\"ISO
  8601 timeSpan structure that defines the duration of the duplicate detection history.
  The default value is 10 minutes.\";}s:16:\"maxDeliveryCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:29:\"Number
  of maximum deliveries.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EntityStatus\";s:11:\"description\";s:68:\"Enumerates
  the possible values for the status of a messaging entity.\";}s:23:\"enableBatchedOperations\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:72:\"Value
  that indicates whether server-side batched operations are enabled.\";}s:16:\"autoDeleteOnIdle\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"ISO
  8061 timeSpan idle interval after which the topic is automatically deleted. The
  minimum duration is 5 minutes.\";}s:9:\"forwardTo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Queue/Topic
  name to forward the messages\";}s:29:\"forwardDeadLetteredMessagesTo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Queue/Topic
  name to forward the Dead Letter message\";}}s:11:\"description\";s:37:\"Description
  of Subscription Resource.\";}s:12:\"EntityStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:6:\"Active\";i:1;s:8:\"Disabled\";i:2;s:9:\"Restoring\";i:3;s:12:\"SendDisabled\";i:4;s:15:\"ReceiveDisabled\";i:5;s:8:\"Creating\";i:6;s:8:\"Deleting\";i:7;s:8:\"Renaming\";i:8;s:7:\"Unknown\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"EntityStatus\";s:13:\"modelAsString\";b:0;}s:11:\"description\";s:14:\"Entity
  status.\";}s:17:\"UnavailableReason\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:11:\"InvalidName\";i:2;s:22:\"SubscriptionIsDisabled\";i:3;s:9:\"NameInUse\";i:4;s:14:\"NameInLockdown\";i:5;s:37:\"TooManyNamespaceInCurrentSubscription\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"UnavailableReason\";s:13:\"modelAsString\";b:0;}s:11:\"description\";s:59:\"Specifies
  the reason for the unavailability of the service.\";}s:21:\"CheckNameAvailability\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:200:\"The
  Name to check the namespce name availability and The namespace name can contain
  only letters, numbers, and hyphens. The namespace must start with a letter, and
  it must end with a letter or number.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:11:\"description\";s:60:\"Description
[...]
