---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:32:\"The HDInsight
  Management Client.\";s:5:\"title\";s:25:\"HDInsightManagementClient\";s:7:\"version\";s:18:\"2015-03-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:173:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/applications.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:22:\"hdinsight-applications\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:28:\"azure_hdinsight_applications\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/applications
  : get:
      description: Lists all of the applications HDInsight cluster.
      operationId: Applications_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ApplicationListResult'
      tags:
      - Applications
      x-ms-examples:
        Get All Applications for an HDInsight cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - etag: CF938302-6B4D-44A0-A6D2-C0D67E847AEC
                  id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1/applications/app
                  name: app
                  properties:
                    applicationState: Running
                    applicationType: CustomApplication
                    computeProfile:
                      roles:
                      - hardwareProfile:
                          vmSize: Standard_D12_v2
                        name: edgenode
                        targetInstanceCount: 1
                    createdDate: "2017-03-22T21:34:39.293"
                    httpsEndpoints:
                    - accessModes:
                      - WebPage
                      destinationPort: 20000
                      location: https://cluster1-app.apps.azurehdinsight.net:443
                      publicPort: 443
                    installScriptActions:
                    - name: app-install-app
                      roles:
                      - edgenode
                      uri: http://testurl.com/public/hdi-app/20170301/hdinsight-app-install.sh
                    marketplaceIdentifier: app-on-hdiapp-on-hdi.1.0.3
                    provisioningState: Succeeded
                    sshEndpoints:
                    - destinationPort: 22
                      location: app.cluster1-ssh.azurehdinsight.net:22
                      publicPort: 22
                    uninstallScriptActions: []
                  tags:
                    key1: val1
                  type: Microsoft.HDInsight/clusters/applications
                - etag: 2C128F8E-BB26-4637-99E4-18EBC39FD51F
                  id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1/applications/app2
                  name: app2
                  properties:
                    applicationState: AzureVMConfiguration
                    applicationType: CustomApplication
                    computeProfile:
                      roles:
                      - hardwareProfile:
                          vmSize: Standard_D3
                        name: edgenode
                        targetInstanceCount: 1
                    createdDate: "2017-03-28T02:01:25.107"
                    httpsEndpoints:
                    - accessModes:
                      - WebPage
                      destinationPort: 18630
                      location: location
                      publicPort: 443
                    installScriptActions:
                    - name: app2-Install
                      roles:
                      - edgenode
                      uri: https://app2url.com/azure/2.4.0.0/app2_install.sh
                    marketplaceIdentifier: app2-hdinsightsmall.1.0.8
                    provisioningState: InProgress
                    sshEndpoints: []
                    uninstallScriptActions: []
                  tags:
                    key1: val1
                  type: Microsoft.HDInsight/clusters/applications
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/applications/{applicationName}
  : delete:
      description: Deletes the specified application on the HDInsight cluster.
      operationId: Applications_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        type: string
      - description: The constant value for the application name.
        enum:
        - hue
        in: path
        name: applicationName
        required: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ApplicationName
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
      tags:
      - Applications
      x-ms-examples:
        Delete Application from HDInsight cluster:
          parameters:
            api-version: 2015-03-01-preview
            applicationName: hue
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
      x-ms-long-running-operation: true
    get:
      description: Lists properties of the specified application.
      operationId: Applications_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The constant value for the application name.
        in: path
        name: applicationName
        required: true
        type: string
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Application'
      tags:
      - Applications
      x-ms-examples:
        Get application on HDInsight cluster creation in progress:
          parameters:
            api-version: 2015-03-01-preview
            applicationName: app
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                etag: 2C128F8E-BB26-4637-99E4-18EBC39FD51F
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1/applications/app
                name: app
                properties:
                  applicationState: AzureVMConfiguration
                  applicationType: CustomApplication
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: Standard_D3
                      name: edgenode
                      targetInstanceCount: 1
                  createdDate: "2017-03-28T02:01:25.107"
                  httpsEndpoints:
                  - accessModes:
                    - WebPage
                    destinationPort: 18630
                    location: location
                    publicPort: 443
                  installScriptActions:
                  - name: app-Install
                    roles:
                    - edgenode
                    uri: https://app.com/azure/app_install.sh
                  marketplaceIdentifier: id
                  provisioningState: InProgress
                  sshEndpoints: []
                  uninstallScriptActions: []
                tags:
                  key1: val1
                type: Microsoft.HDInsight/clusters/applications
        Get application on HDInsight cluster successfully created.:
          parameters:
            api-version: 2015-03-01-preview
            applicationName: app
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                etag: CF938302-6B4D-44A0-A6D2-C0D67E847AEC
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1/applications/app
                name: app
                properties:
                  applicationState: Running
                  applicationType: CustomApplication
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: Standard_D12_v2
                      name: edgenode
                      targetInstanceCount: 1
                  createdDate: "2017-03-22T21:34:39.293"
                  httpsEndpoints:
                  - accessModes:
                    - WebPage
                    destinationPort: 20000
                    location: https://cluster1.apps.azurehdinsight.net:443
                    publicPort: 443
                  installScriptActions:
                  - name: app-install
                    roles:
                    - edgenode
                    uri: http://app.com/public/hdi-app/20170301/app-install.sh
                  marketplaceIdentifier: appMarketId
                  provisioningState: Succeeded
                  sshEndpoints:
                  - destinationPort: 22
                    location: cluster1-ssh.azurehdinsight.net:22
                    publicPort: 22
                  uninstallScriptActions: []
                tags:
                  key1: val1
                type: Microsoft.HDInsight/clusters/applications
    put:
      description: Creates applications for the HDInsight cluster.
      operationId: Applications_Create
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        type: string
      - description: The constant value for the application name.
        enum:
        - hue
        in: path
        name: applicationName
        required: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ApplicationName
      - description: The application create request.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ApplicationGetProperties'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Application'
      tags:
      - Applications
      x-ms-examples:
        Create Application:
          parameters:
            api-version: 2015-03-01-preview
            applicationName: hue
            clusterName: cluster1
            parameters:
              applicationType: CustomApplication
              computeProfile:
                roles:
                - hardwareProfile:
                    vmSize: Standard_D12_v2
                  name: edgenode
                  targetInstanceCount: 1
              errors: []
              httpsEndpoints:
              - accessModes:
                - WebPage
                destinationPort: 20000
                subDomainSuffix: dss
              installScriptActions:
              - name: app-install-app1
                parameters: -version latest -port 20000
                roles:
                - edgenode
                uri: https://.../install.sh
              provisioningState: ""
              uninstallScriptActions: []
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                etag: ""
                id: ""
                name: ""
                properties:
                  applicationState: ""
                  computeProfile: []
                  createdDate: "2017-02-28"
                  errors: []
                  httpsEndpoints: []
                  installScriptActions: []
                  provisioningState: ""
                  sshEndpoints: []
                  uninstallScriptActions: []
                tags: []
                type: ""
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:11:\"Application\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  core properties of ARM resources\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Fully
  qualified resource Id for the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  name of the resource\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:117:\"The
  resource model definition for a ARM proxy resource. It will have everything other
  than required location and tags\";}}s:11:\"description\";s:33:\"The HDInsight cluster
  application\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  ETag for the application\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ApplicationGetProperties\";s:11:\"description\";s:34:\"The
  properties of the application.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:29:\"The
  tags for the application.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ApplicationGetEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Gets
  the application SSH endpoint\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"destinationPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  destination port to connect to.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  location of the endpoint.\";s:4:\"type\";s:6:\"string\";}s:10:\"publicPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  public port to connect to.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ApplicationGetHttpsEndpoint\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:36:\"Gets
  the application HTTP endpoints.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"accessModes\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  list of access modes for the application.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"destinationPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  destination port to connect to.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  location of the endpoint.\";s:4:\"type\";s:6:\"string\";}s:10:\"publicPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  public port to connect to.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ApplicationGetProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  HDInsight cluster application GET response.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  additional properties for application.\";s:4:\"type\";s:6:\"string\";}s:16:\"applicationState\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  application state.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"applicationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  application type.\";s:4:\"type\";s:6:\"string\";}s:14:\"computeProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Describes
  the compute profile.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"roles\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  list of roles in the cluster.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Describes
  a role on the cluster.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"dataDisksGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  data disks groups for the role.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  data disks groups for the role.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"diskSizeGB\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"ReadOnly.
  The DiskSize in GB. Do not set this value.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:12:\"disksPerNode\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  number of disks per node.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"storageAccountType\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"ReadOnly.
  The storage account type. Do not set this value.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:4:\"type\";s:5:\"array\";}s:15:\"hardwareProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  hardware profile.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"vmSize\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  size of the VM\";s:4:\"type\";s:6:\"string\";}}}s:16:\"minInstanceCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  minimum instance count of the cluster.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the role.\";s:4:\"type\";s:6:\"string\";}s:9:\"osProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  Linux operation systems profile.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:27:\"linuxOperatingSystemProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  ssh username, password, and ssh public key.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  password.\";s:4:\"type\";s:6:\"string\";}s:10:\"sshProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  list of SSH public keys.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"publicKeys\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  list of SSH public keys.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  SSH public key for the cluster nodes.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"certificateData\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  certificate for SSH.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"type\";s:5:\"array\";}}}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  username.\";s:4:\"type\";s:6:\"string\";}}}}}s:13:\"scriptActions\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  list of script actions on the role.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Describes
  a script action on role on the cluster.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the script action.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  parameters for the script provided.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  URI to the script.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:3:\"uri\";i:2;s:10:\"parameters\";}}s:4:\"type\";s:5:\"array\";}s:19:\"targetInstanceCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  instance count of the cluster.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"virtualNetworkProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  virtual network properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  ID of the virtual network.\";s:4:\"type\";s:6:\"string\";}s:6:\"subnet\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the subnet.\";s:4:\"type\";s:6:\"string\";}}}}}s:4:\"type\";s:5:\"array\";}}}s:11:\"createdDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  application create date time.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  list of errors.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  error message associated with the cluster creation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  error message.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"type\";s:5:\"array\";}s:14:\"httpsEndpoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  list of application HTTPS endpoints.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ApplicationGetHttpsEndpoint\";}s:4:\"type\";s:5:\"array\";}s:20:\"installScriptActions\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  list of install script actions.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Describes
  a script action on a running cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"applicationName\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  application name of the script action, if any.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the script action.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  parameters for the script\";s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  list of roles where script will be executed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  URI to the script.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:3:\"uri\";i:2;s:5:\"roles\";}}s:4:\"type\";s:5:\"array\";}s:21:\"marketplaceIdentifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  marketplace identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  provisioning state of the application.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"sshEndpoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  list of application SSH endpoints.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ApplicationGetEndpoint\";}s:4:\"type\";s:5:\"array\";}s:22:\"uninstallScriptActions\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  list of uninstall script actions.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Describes
  a script action on a running cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"applicationName\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  application name of the script action, if any.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the script action.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  parameters for the script\";s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  list of roles where script will be executed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  URI to the script.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:3:\"uri\";i:2;s:5:\"roles\";}}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ApplicationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"Result
  of the request to list cluster Applications. It contains a list of operations and
  a URL link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  URL to get the next set of operation list results if there are any.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  list of HDInsight applications installed on HDInsight cluster.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Application\";}s:4:\"type\";s:5:\"array\";}}}}"
...
