---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:48:\"Azure Application
  Insights client for favorites.\";s:5:\"title\";s:35:\"ApplicationInsightsManagementClient\";s:7:\"version\";s:10:\"2015-05-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:174:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/favorites_API.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:33:\"applicationinsights-favorites_API\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:36:\"ApplicationInsightsComponentFavorite\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"Properties
  that define a favorite that is associated to an Application Insights component.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"Category\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Favorite
  category, as defined by the user at creation time.\";s:4:\"type\";s:6:\"string\";}s:6:\"Config\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Configuration
  of this particular favorite, which are driven by the Azure portal UX. Configuration
  data is a string containing valid JSON\";s:4:\"type\";s:6:\"string\";}s:10:\"FavoriteId\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Internally
  assigned unique id of the favorite definition.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"FavoriteType\";O:8:\"stdClass\":4:{s:11:\"description\";s:153:\"Enum
  indicating if this favorite definition is owned by a specific user or is shared
  between all users with access to the Application Insights component.\";s:4:\"enum\";a:2:{i:0;s:6:\"shared\";i:1;s:4:\"user\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:12:\"FavoriteType\";}}s:23:\"IsGeneratedFromTemplate\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Flag
  denoting wether or not this favorite was generated from a template.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  user-defined name of the favorite.\";s:4:\"type\";s:6:\"string\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  source of the favorite definition.\";s:4:\"type\";s:6:\"string\";}s:4:\"Tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"A
  list of 0 or more tags that are associated with this favorite definition\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"TimeModified\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Date
  and time in UTC of the last modification that was made to this favorite definition.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"UserId\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Unique
  user id of the specific user that owns this favorite.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:11:\"description\";s:171:\"This
  instance's version of the data model. This can change as new features are added
  that can be marked favorite. Current examples include MetricsExplorer (ME) and Search.\";s:4:\"type\";s:6:\"string\";}}}}"
...
