---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:35:\"EventHub2018PreviewManagementClient\";s:11:\"description\";s:106:\"Azure
  Event Hubs client for managing Event Hubs Cluster, IPFilter Rules and VirtualNetworkRules
  resources.\";s:7:\"version\";s:18:\"2018-01-01-preview\";}"
host: management.azure.com
paths:
  /providers/Microsoft.EventHub/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      x-ms-examples:
        EHOperations_List:
          $ref: ./examples/Operations_List.json
      description: Lists all of the available Event Hub REST API operations.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters:
    get:
      tags:
      - Event Hubs Clusters
      operationId: Clusters_ListByResourceGroup
      x-ms-examples:
        ClustersListByResourceGroup:
          $ref: ./examples/Clusters/ClustersListByResourceGroup.json
      description: Lists the available Event Hubs Clusters within an ARM resource
        group.
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Clusters returned successfully.
          schema:
            $ref: '#/definitions/ClusterListResult'
        default:
          description: Event Hub Cluster error response describing why the operation
            failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters/{clusterName}:
    get:
      tags:
      - Event Hubs Cluster
      operationId: Clusters_Get
      x-ms-examples:
        ClusterGet:
          $ref: ./examples/Clusters/ClusterGet.json
      description: Gets the resource description of the specified Event Hubs Cluster.
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Event Hubs Cluster resource description returned successfully.
          schema:
            $ref: '#/definitions/Cluster'
        default:
          description: Event Hubs Cluster error response describing why the cluster
            description get operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
      - Event Hubs Cluster
      operationId: Clusters_Patch
      x-ms-examples:
        ClusterPatch:
          $ref: ./examples/Clusters/ClusterPatch.json
      description: Modifies mutable properties on the Event Hubs Cluster. This operation
        is idempotent.
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Cluster'
        description: The properties of the Event Hubs Cluster which should be updated.
      responses:
        200:
          description: Event Hubs Cluster successfully created.
          schema:
            $ref: '#/definitions/Cluster'
        201:
          description: Event Hubs Cluster update request accepted.
          schema:
            $ref: '#/definitions/Cluster'
        202:
          description: Event Hubs Cluster update request accepted.
        default:
          description: Event Hubs error response detailing why the Event Hubs Cluster
            update operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters/{clusterName}/quotaConfiguration/default
  : patch:
      tags:
      - Event Hubs Cluster Configuration
      operationId: Configuration_Patch
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ClusterQuotaConfigurationProperties'
          required:
          - settings
        description: Parameters for creating an Event Hubs Cluster resource.
      x-ms-examples:
        ClustersQuotasConfigurationPatch:
          $ref: ./examples/Clusters/ClusterQuotaConfigurationPatch.json
      description: Replace all specified Event Hubs Cluster settings with those contained
        in the request body. Leaves the settings not specified in the request body
        unmodified.
      responses:
        200:
          description: Event Hubs Cluster settings configuration returned.
          schema:
            $ref: '#/definitions/ClusterQuotaConfigurationProperties'
        201:
          description: Event Hubs Cluster setting configuration request successfully
            accepted.
          schema:
            $ref: '#/definitions/ClusterQuotaConfigurationProperties'
        202:
          description: Event Hubs Cluster update request accepted.
        default:
          description: Event Hubs Cluster error response describing why the get cluster
            quotas and settings operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
      - Event Hubs Cluster Configuration
      operationId: Configuration_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      x-ms-examples:
        ClustersQuotasConfigurationGet:
          $ref: ./examples/Clusters/ClusterQuotaConfigurationGet.json
      description: Get all Event Hubs Cluster settings - a collection of key/value
        pairs which represent the quotas and settings imposed on the cluster.
      responses:
        200:
          description: Event Hubs Cluster settings configuration returned.
          schema:
            $ref: '#/definitions/ClusterQuotaConfigurationProperties'
        default:
          description: Event Hubs Cluster error response describing why the get cluster
            quotas and settings operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.EventHub/namespaces:
    get:
      tags:
      - Namespaces
      operationId: Namespaces_List
      x-ms-examples:
        NamespacesListBySubscription:
          $ref: ./examples/NameSpaces/EHNameSpaceList.json
      description: Lists all the available Namespaces within a subscription, irrespective
        of the resource groups.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespaces returned successfully.
          schema:
            $ref: '#/definitions/EHNamespaceListResult'
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces:
    get:
      tags:
      - Namespaces
      operationId: Namespaces_ListByResourceGroup
      x-ms-examples:
        NamespaceListByResourceGroup:
          $ref: ./examples/NameSpaces/EHNameSpaceListByResourceGroup.json
      description: Lists the available Namespaces within a resource group.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespaces returned successfully.
          schema:
            $ref: '#/definitions/EHNamespaceListResult'
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}:
    put:
      tags:
      - Namespaces
      operationId: Namespaces_CreateOrUpdate
      x-ms-examples:
        NamespaceCreate:
          $ref: ./examples/NameSpaces/EHNameSpaceCreate.json
      description: Creates or updates a namespace. Once created, this namespace's
        resource manifest is immutable. This operation is idempotent.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/EHNamespace'
          required:
          - location
        description: Parameters for creating a namespace resource.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        201:
          description: Namespace create request accepted.
          schema:
            $ref: '#/definitions/EHNamespace'
        200:
          description: Namespace successfully created.
          schema:
            $ref: '#/definitions/EHNamespace'
        202:
          description: Namespace create or update request accepted.
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
    delete:
      tags:
      - Namespaces
      operationId: Namespaces_Delete
      x-ms-examples:
        NameSpaceDelete:
          $ref: ./examples/NameSpaces/EHNameSpaceDelete.json
      description: Deletes an existing namespace. This operation also removes all
        associated resources under the namespace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: No content.
        200:
          description: Namespace successfully deleted.
        202:
          description: Namespace delete request accepted.
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-long-running-operation: true
    get:
      tags:
      - Namespaces
      operationId: Namespaces_Get
      x-ms-examples:
        NameSpaceGet:
          $ref: ./examples/NameSpaces/EHNameSpaceGet.json
      description: Gets the description of the specified namespace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace returned successfully.
          schema:
            $ref: '#/definitions/EHNamespace'
        201:
          description: Namespace update request accepted.
          schema:
            $ref: '#/definitions/EHNamespace'
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
      - Namespaces
      operationId: Namespaces_Update
      x-ms-examples:
        NamespacesUpdate:
          $ref: ./examples/NameSpaces/EHNameSpaceUpdate.json
      description: Creates or updates a namespace. Once created, this namespace's
        resource manifest is immutable. This operation is idempotent.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/EHNamespace'
        description: Parameters for updating a namespace resource.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        201:
          description: Namespace update request accepted.
          schema:
            $ref: '#/definitions/EHNamespace'
        200:
          description: Namespace successfully updated.
          schema:
            $ref: '#/definitions/EHNamespace'
        202:
          description: Namespace create or update request accepted.
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/ipfilterrules
  : get:
      tags:
      - Namespaces
      operationId: Namespaces_ListIPFilterRules
      x-ms-examples:
        ListIpFilterRules:
          $ref: ./examples/NameSpaces/IPFilterRule/EHNameSpaceIPFilterRuleListAll.json
      description: Gets a list of IP Filter rules for a Namespace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace IpFilterRule successfully returned.
          schema:
            $ref: '#/definitions/IpFilterRuleListResult'
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/ipfilterrules/{ipFilterRuleName}
  : put:
      tags:
      - Namespaces
      operationId: Namespaces_CreateOrUpdateIpFilterRule
      x-ms-examples:
        NameSpaceIpFilterRuleCreate:
          $ref: ./examples/NameSpaces/IPFilterRule/EHNameSpaceIpFilterRuleCreateorUpdate.json
      description: Creates or updates an IpFilterRule for a Namespace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/IPFilterRuleNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/IpFilterRule'
        description: The Namespace IpFilterRule.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace IpFilterRule created
          schema:
            $ref: '#/definitions/IpFilterRule'
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Namespaces
      operationId: Namespaces_DeleteIpFilterRule
      x-ms-examples:
        NameSpaceIpFilterRuleDelete:
          $ref: ./examples/NameSpaces/IPFilterRule/EHNameSpaceIpFilterRuleDelete.json
      description: Deletes an IpFilterRule for a Namespace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/IPFilterRuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: No content.
        200:
          description: Namespace IpFilterRule successfully deleted.
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
      - Namespaces
      operationId: Namespaces_GetIpFilterRule
      x-ms-examples:
        NameSpaceIpFilterRuleGet:
          $ref: ./examples/NameSpaces/IPFilterRule/EHNameSpaceIpFilterRuleGet.json
      description: Gets an IpFilterRule for a Namespace by rule name.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/IPFilterRuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace IpFilterRule returned successfully.
          schema:
            $ref: '#/definitions/IpFilterRule'
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/virtualnetworkrules
  : get:
      tags:
      - Namespaces
      operationId: Namespaces_ListVirtualNetworkRules
      x-ms-examples:
        ListIpFilterRules:
          $ref: ./examples/NameSpaces/VirtualNetworkRule/EHNameSpaceVirtualNetworkRuleListAll.json
      description: Gets a list of VirtualNetwork rules for a Namespace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace VirtualNetworkRule successfully returned.
          schema:
            $ref: '#/definitions/VirtualNetworkRuleListResult'
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/virtualnetworkrules/{virtualNetworkRuleName}
  : put:
      tags:
      - Namespaces
      operationId: Namespaces_CreateOrUpdateVirtualNetworkRule
      x-ms-examples:
        NameSpaceVirtualNetworkRuleCreate:
          $ref: ./examples/NameSpaces/VirtualNetworkRule/EHNameSpaceVirtualNetworkRuleCreateorUpdate.json
      description: Creates or updates an VirtualNetworkRule for a Namespace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/VirtualNetworkRuleNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/VirtualNetworkRule'
        description: The Namespace VirtualNetworkRule.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace VirtualNetworkRule created
          schema:
            $ref: '#/definitions/VirtualNetworkRule'
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Namespaces
      operationId: Namespaces_DeleteVirtualNetworkRule
      x-ms-examples:
        NameSpaceVirtualNetworkRuleDelete:
          $ref: ./examples/NameSpaces/VirtualNetworkRule/EHNameSpaceVirtualNetworkRuleDelete.json
      description: Deletes an VirtualNetworkRule for a Namespace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/VirtualNetworkRuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: No content.
        200:
          description: Namespace VirtualNetworkRule successfully deleted.
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
      - Namespaces
      operationId: Namespaces_GetVirtualNetworkRule
      x-ms-examples:
        NameSpaceVirtualNetworkRuleGet:
          $ref: ./examples/NameSpaces/VirtualNetworkRule/EHNameSpaceVirtualNetworkRuleGet.json
      description: Gets an VirtualNetworkRule for a Namespace by rule name.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/NamespaceNameParameter'
      - $ref: '#/parameters/VirtualNetworkRuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Namespace VirtualNetworkRule returned successfully.
          schema:
            $ref: '#/definitions/VirtualNetworkRule'
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"Result
  of the request to list Event Hub operations. It contains a list of operations and
  a URL link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:83:\"List
  of Event Hub operations supported by the Microsoft.EventHub resource provider.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  Event Hub REST API operation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Operation
  name: {provider}/{resource}/{operation}\";}s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  object that represents the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"provider\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Service
  provider: Microsoft.EventHub\";}s:8:\"resource\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Resource
  on which the operation is performed: Invoice, etc.\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Operation
  type: Read, write, delete, etc.\";}}}}}s:7:\"Cluster\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ClusterSku\";s:11:\"description\";s:30:\"Properties
  of the cluster SKU.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"created\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  UTC time when the Event Hubs Cluster was created.\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  UTC time when the Event Hubs Cluster was last updated.\";}s:8:\"metricId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:94:\"The
  metric ID of the cluster resource. Provided by the service and not modifiable by
  the user.\";}}s:11:\"description\";s:78:\"Event Hubs Cluster properties supplied
  in responses in List or Get operations.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:11:\"description\";s:61:\"Single
  Event Hubs Cluster resource in List or Get operations.\";}s:17:\"ClusterListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";}s:11:\"description\";s:73:\"The
  Event Hubs Clusters present in the List Event Hubs operation results.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:117:\"Link
  to the next set of results. Empty unless the value parameter contains an incomplete
  list of Event Hubs Clusters.\";}}s:11:\"description\";s:55:\"The response of the
  List Event Hubs Clusters operation.\";}s:35:\"ClusterQuotaConfigurationProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"settings\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:138:\"All
  possible Cluster settings - a collection of key/value paired settings which apply
  to quotas and configurations imposed on the cluster.\";}}s:11:\"description\";s:38:\"Contains
  all settings for the cluster.\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Error
  response that indicates the service is not able to process the incoming request.
  The reason is provided in the error message.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Error
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"TrackedResource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}s:11:\"description\";s:17:\"Resource
  location\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"x-ms-mutability\";a:3:{i:0;s:4:\"read\";i:1;s:6:\"create\";i:2;s:6:\"update\";}s:11:\"description\";s:13:\"Resource
  tags\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:32:\"Definition
  of an Azure resource.\";}s:8:\"Resource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Resource
  Id\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"Resource
  name\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:13:\"Resource
  type\";}}s:11:\"description\";s:23:\"The Resource definition\";s:19:\"x-ms-azure-resource\";b:1;}s:10:\"ClusterSku\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Name
  of this SKU.\";s:4:\"enum\";a:1:{i:0;s:9:\"Dedicated\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"SkuName\";s:13:\"modelAsString\";b:1;}}s:8:\"capacity\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:32;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:76:\"The
  quantity of Event Hubs Cluster Capacity Units contained in this cluster.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:11:\"description\";s:48:\"SKU
  parameters particular to a cluster instance.\";}s:21:\"EHNamespaceListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EHNamespace\";}s:11:\"description\";s:38:\"Result
  of the List Namespace operation\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Link
  to the next set of results. Not empty if Value contains incomplete list of namespaces.\";}}s:11:\"description\";s:44:\"The
  response of the List Namespace operation\";}s:11:\"EHNamespace\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:26:\"Properties
  of sku resource\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Provisioning
  state of the Namespace.\";}s:9:\"createdAt\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  time the Namespace was created.\";}s:9:\"updatedAt\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  time the Namespace was updated.\";}s:18:\"serviceBusEndpoint\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Endpoint
  you can use to perform Service Bus operations.\";}s:8:\"metricId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Identifier
  for Azure Insights metrics.\";}s:20:\"isAutoInflateEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:75:\"Value
  that indicates whether AutoInflate is enabled for eventhub namespace.\";}s:22:\"maximumThroughputUnits\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:11:\"description\";s:145:\"Upper
  limit of throughput units when AutoInflate is enabled, value should be within 0
  to 20 throughput units. ( '0' if AutoInflateEnabled = true)\";}s:12:\"kafkaEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:69:\"Value
  that indicates whether Kafka is enabled for eventhub namespace.\";}s:13:\"zoneRedundant\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:103:\"Enabling
  this property creates a Standard Event Hubs Namespace in regions supported availability
  zones.\";}}s:11:\"description\";s:61:\"Namespace properties supplied for create
  namespace operation.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:11:\"description\";s:46:\"Single
  Namespace item in List or Get Operation\";}s:3:\"Sku\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Name
  of this SKU.\";s:4:\"enum\";a:2:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"SkuName\";s:13:\"modelAsString\";b:1;}}s:4:\"tier\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  billing tier of this particular SKU.\";s:4:\"enum\";a:2:{i:0;s:5:\"Basic\";i:1;s:8:\"Standard\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"SkuTier\";s:13:\"modelAsString\";b:1;}}s:8:\"capacity\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:74:\"The
  Event Hubs throughput units, value should be 0 to 20 throughput units.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:11:\"description\";s:57:\"SKU
  parameters supplied to the create namespace operation\";}s:12:\"IpFilterRule\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"ipMask\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"IP
  Mask\";}s:6:\"action\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  IP Filter Action\";s:4:\"enum\";a:2:{i:0;s:6:\"Accept\";i:1;s:6:\"Reject\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"IPAction\";s:13:\"modelAsString\";b:1;}}s:10:\"filterName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"IP
  Filter name\";}}s:11:\"description\";s:53:\"Properties supplied to create or update
  IpFilterRules\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:52:\"Single
  item in a List or Get IpFilterRules operation\";}s:22:\"IpFilterRuleListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/IpFilterRule\";}s:11:\"description\";s:44:\"Result
  of the List IpFilter Rules operation.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"Link
  to the next set of results. Not empty if Value contains an incomplete list of IpFilter
  Rules\";}}s:11:\"description\";s:47:\"The response from the List namespace operation.\";}s:18:\"VirtualNetworkRule\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"virtualNetworkSubnetId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"ARM
  ID of Virtual Network Subnet\";}}s:11:\"description\";s:59:\"Properties supplied
  to create or update VirtualNetworkRules\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:58:\"Single
  item in a List or Get VirtualNetworkRules operation\";}s:28:\"VirtualNetworkRuleListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/VirtualNetworkRule\";}s:11:\"description\";s:50:\"Result
  of the List VirtualNetwork Rules operation.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:103:\"Link
  to the next set of results. Not empty if Value contains an incomplete list of VirtualNetwork
  Rules\";}}s:11:\"description\";s:47:\"The response from the List namespace operation.\";}}"
...
