---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:48:\"The Storage Import/Export
  Resource Provider API.\";s:5:\"title\";s:19:\"StorageImportExport\";s:7:\"version\";s:10:\"2016-11-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:184:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2016-11-01/storageimportexport.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:19:\"storageimportexport\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"azure_storageimportexport\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":18:{s:17:\"DriveBitLockerKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"BitLocker
  recovery key or password to the specified drive\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"bitLockerKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"BitLocker
  recovery key or password\";s:4:\"type\";s:6:\"string\";}s:7:\"driveId\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Drive
  ID\";s:4:\"type\";s:6:\"string\";}}}s:11:\"DriveStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Provides
  information about the drive's status\";s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"bitLockerKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  BitLocker key used to encrypt the drive.\";s:4:\"type\";s:6:\"string\";}s:14:\"bytesSucceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Bytes
  successfully transferred for the drive.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"copyStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Detailed
  status about the data transfer process. This field is not returned in the response
  until the drive is in the Transferring state.\";s:4:\"type\";s:6:\"string\";}s:15:\"driveHeaderHash\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  drive header hash value.\";s:4:\"type\";s:6:\"string\";}s:7:\"driveId\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  drive's hardware serial number, without spaces.\";s:4:\"type\";s:6:\"string\";}s:11:\"errorLogUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"A
  URI that points to the blob containing the error log for the data transfer operation.\";s:4:\"type\";s:6:\"string\";}s:12:\"manifestFile\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  relative path of the manifest file on the drive. \";s:4:\"type\";s:6:\"string\";}s:12:\"manifestHash\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  Base16-encoded MD5 hash of the manifest file on the drive.\";s:4:\"type\";s:6:\"string\";}s:11:\"manifestUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"A
  URI that points to the blob containing the drive manifest file. \";s:4:\"type\";s:6:\"string\";}s:15:\"percentComplete\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Percentage
  completed for the drive. \";s:4:\"type\";s:7:\"integer\";}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"The
  drive's current state. \";s:4:\"enum\";a:7:{i:0;s:9:\"Specified\";i:1;s:8:\"Received\";i:2;s:13:\"NeverReceived\";i:3;s:12:\"Transferring\";i:4;s:9:\"Completed\";i:5;s:17:\"CompletedMoreInfo\";i:6;s:11:\"ShippedBack\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"DriveState\";}}s:13:\"verboseLogUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"A
  URI that points to the blob containing the verbose log for the data transfer operation.
  \";s:4:\"type\";s:6:\"string\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Response
  when errors occurred\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Describes
  the error information.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Provides
  information about the error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the error details if present.\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Provides
  information about the error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Provides
  information about the error message.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Provides
  information about the error target.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"type\";s:5:\"array\";}s:10:\"innererror\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Inner
  error object if present.\";s:4:\"type\";s:6:\"object\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Provides
  information about the error message.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Provides
  information about the error target.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}}s:6:\"Export\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"A
  property containing information about the blobs to be exported for an export job.
  This property is required for export jobs, but must not be specified for import
  jobs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"blobList\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"A
  list of the blobs to be exported.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"blobPath\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  collection of blob-path strings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"blobPathPrefix\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"A
  collection of blob-prefix strings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:19:\"x-ms-client-flatten\";b:1;}s:16:\"blobListblobPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:212:\"The
  relative URI to the block blob that contains the list of blob paths or blob path
  prefixes as defined above, beginning with the container name. If the blob is in
  root container, the URI must begin with $root. \";s:4:\"type\";s:6:\"string\";}}}s:24:\"GetBitLockerKeysResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"GetBitLockerKeys
  response\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"drive
  status\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DriveBitLockerKey\";}s:4:\"type\";s:5:\"array\";}}}s:10:\"JobDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Specifies
  the job properties\";s:10:\"properties\";O:8:\"stdClass\":17:{s:19:\"backupDriveManifest\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Default
  value is false. Indicates whether the manifest files on the drives should be copied
  to block blobs.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"cancelRequested\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Indicates
  whether a request has been submitted to cancel the job.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"deliveryPackage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PackageInfomation\";s:11:\"description\";s:99:\"Contains
  information about the package being shipped by the customer to the Microsoft data
  center. \";}s:15:\"diagnosticsPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  virtual blob directory to which the copy logs and backups of drive manifest files
  (if enabled) will be stored.\";s:4:\"type\";s:6:\"string\";}s:9:\"driveList\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"List
  of up to ten drives that comprise the job. The drive list is a required element
  for an import job; it is not specified for export jobs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DriveStatus\";}s:4:\"type\";s:5:\"array\";}s:6:\"export\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Export\";s:11:\"description\";s:131:\"A
  property containing information about the blobs to be exported for an export job.
  This property is included for export jobs only.\";}s:21:\"incompleteBlobListUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:219:\"A
  blob path that points to a block blob containing a list of blob names that were
  not exported due to insufficient drive space. If all blobs were exported successfully,
  then this element is not included in the response.\";s:4:\"type\";s:6:\"string\";}s:7:\"jobType\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  type of job\";s:4:\"type\";s:6:\"string\";}s:8:\"logLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Default
  value is Error. Indicates whether error logging or verbose logging will be enabled.\";s:4:\"type\";s:6:\"string\";}s:15:\"percentComplete\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Overall
  percentage completed for the job.\";s:4:\"type\";s:7:\"integer\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Specifies
  the provisioning state of the job.\";s:4:\"type\";s:6:\"string\";}s:13:\"returnAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ReturnAddress\";s:11:\"description\";s:54:\"Specifies
  the return address information for the job. \";}s:13:\"returnPackage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PackageInfomation\";s:11:\"description\";s:256:\"Contains
  information about the package being shipped from the Microsoft data center to the
  customer to return the drives. The format is the same as the deliveryPackage property
  above. This property is not included if the drives have not yet been returned. \";}s:14:\"returnShipping\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ReturnShipping\";s:11:\"description\";s:70:\"Specifies
  the return carrier and customer's account with the carrier. \";}s:19:\"shippingInformation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ShippingInformation\";s:11:\"description\";s:91:\"Contains
  information about the Microsoft datacenter to which the drives should be shipped.
  \";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Current state
  of the job.\";s:4:\"type\";s:6:\"string\";}s:16:\"storageAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  resource identifier of the storage account where data will be imported to or exported
  from.\";s:4:\"type\";s:6:\"string\";}}}s:11:\"JobResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Contains
  the job information.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Specifies
  the resource identifier of the job.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Specifies
  the Azure location where the job is created.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Specifies
  the name of the job.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JobDetails\";s:11:\"description\";s:28:\"Specifies
  the job properties\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Specifies
  the tags that are assigned to the job.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Specifies
  the type of the job resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:16:\"ListJobsResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"List
  jobs response\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"link
  to next batch of jobs\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Job
  list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/JobResponse\";}s:4:\"type\";s:5:\"array\";}}}s:22:\"ListOperationsResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"List
  operations response\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"operations\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}}s:8:\"Location\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Provides
  information about an Azure data center location.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Specifies
  the resource identifier of the location. \";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Specifies
  the name of the location. Use List Locations to get all supported locations. \";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"location
  properties\";s:10:\"properties\";O:8:\"stdClass\":10:{s:18:\"alternateLocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:268:\"A
  list of location IDs that should be used to ship shipping drives to for jobs created
  against the current location. If the current location is active, it will be part
  of the list. If it is temporarily closed due to maintenance, this list may contain
  other locations. \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  city name to use when shipping the drives to the Azure data center. \";s:4:\"type\";s:6:\"string\";}s:15:\"countryOrRegion\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  country or region to use when shipping the drives to the Azure data center. \";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  phone number for the Azure data center. \";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  postal code to use when shipping the drives to the Azure data center. \";s:4:\"type\";s:6:\"string\";}s:13:\"recipientName\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  recipient name to use when shipping the drives to the Azure data center. \";s:4:\"type\";s:6:\"string\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  state or province to use when shipping the drives to the Azure data center. \";s:4:\"type\";s:6:\"string\";}s:14:\"streetAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  first line of the street address to use when shipping the drives to the Azure data
  center. \";s:4:\"type\";s:6:\"string\";}s:14:\"streetAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  second line of the street address to use when shipping the drives to the Azure data
  center. \";s:4:\"type\";s:6:\"string\";}s:17:\"supportedCarriers\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  list of carriers that are supported at this location. \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Specifies
  the type of the location. \";s:4:\"type\";s:6:\"string\";}}}s:17:\"LocationsResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Locations
  response\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"locations\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Describes
  a supported operation by the Storage Import/Export job API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"operation
  display properties\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Short
  description of the operation.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  display name of the operation.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  resource provider name to which the operation belongs.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  name of the resource to which the operation belongs.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the operation.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:7:\"display\";}}s:17:\"PackageInfomation\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Contains
  information about the package being shipped by the customer to the Microsoft data
  center.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"carrierName\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  name of the carrier that is used to ship the import or export drives.\";s:4:\"type\";s:6:\"string\";}s:10:\"driveCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  number of drives included in the package.\";s:4:\"type\";s:7:\"integer\";}s:8:\"shipDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  date when the package is shipped.\";s:4:\"type\";s:6:\"string\";}s:14:\"trackingNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  tracking number of the package.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:11:\"carrierName\";i:1;s:14:\"trackingNumber\";i:2;s:10:\"driveCount\";i:3;s:8:\"shipDate\";}}s:16:\"PutJobParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Put
  Job parameters\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Specifies
  the supported Azure location where the job should be created\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JobDetails\";s:11:\"description\";s:28:\"Specifies
  the job properties\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Specifies
  the tags that will be assigned to the job.\";s:4:\"type\";s:6:\"object\";}}}s:13:\"ReturnAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Specifies
  the return address information for the job.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  city name to use when returning the drives.\";s:4:\"type\";s:6:\"string\";}s:15:\"countryOrRegion\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  country or region to use when returning the drives. \";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Email
  address of the recipient of the returned drives.\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Phone
  number of the recipient of the returned drives.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  postal code to use when returning the drives.\";s:4:\"type\";s:6:\"string\";}s:13:\"recipientName\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  name of the recipient who will receive the hard drives when they are returned. \";s:4:\"type\";s:6:\"string\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  state or province to use when returning the drives.\";s:4:\"type\";s:6:\"string\";}s:14:\"streetAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  first line of the street address to use when returning the drives. \";s:4:\"type\";s:6:\"string\";}s:14:\"streetAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  second line of the street address to use when returning the drives. \";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:13:\"recipientName\";i:1;s:14:\"streetAddress1\";i:2;s:4:\"city\";i:3;s:10:\"postalCode\";i:4;s:15:\"countryOrRegion\";i:5;s:5:\"phone\";i:6;s:5:\"email\";}}s:14:\"ReturnShipping\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Specifies
  the return carrier and customer's account with the carrier.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"carrierAccountNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  customer's account number with the carrier.\";s:4:\"type\";s:6:\"string\";}s:11:\"carrierName\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  carrier's name.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"carrierName\";i:1;s:20:\"carrierAccountNumber\";}}s:19:\"ShippingInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Contains
  information about the Microsoft datacenter to which the drives should be shipped.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  city name to use when returning the drives.\";s:4:\"type\";s:6:\"string\";}s:15:\"countryOrRegion\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  country or region to use when returning the drives. \";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Phone
  number of the recipient of the returned drives.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  postal code to use when returning the drives.\";s:4:\"type\";s:6:\"string\";}s:13:\"recipientName\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  name of the recipient who will receive the hard drives when they are returned. \";s:4:\"type\";s:6:\"string\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  state or province to use when returning the drives.\";s:4:\"type\";s:6:\"string\";}s:14:\"streetAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  first line of the street address to use when returning the drives. \";s:4:\"type\";s:6:\"string\";}s:14:\"streetAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  second line of the street address to use when returning the drives. \";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:13:\"recipientName\";i:1;s:14:\"streetAddress1\";i:2;s:4:\"city\";i:3;s:15:\"stateOrProvince\";i:4;s:10:\"postalCode\";i:5;s:15:\"countryOrRegion\";}}s:19:\"UpdateJobParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Update
  Job parameters\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Specifies
  the properties of a UpdateJob.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"backupDriveManifest\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Indicates
  whether the manifest files on the drives should be copied to block blobs.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"cancelRequested\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"If
  specified, the value must be true. The service will attempt to cancel the job. \";s:4:\"type\";s:7:\"boolean\";}s:15:\"deliveryPackage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PackageInfomation\";s:11:\"description\";s:98:\"Contains
  information about the package being shipped by the customer to the Microsoft data
  center.\";}s:9:\"driveList\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"List
  of drives that comprise the job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DriveStatus\";}s:4:\"type\";s:5:\"array\";}s:8:\"logLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Indicates
  whether error logging or verbose logging is enabled.\";s:4:\"type\";s:6:\"string\";}s:13:\"returnAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ReturnAddress\";s:11:\"description\";s:53:\"Specifies
  the return address information for the job.\";}s:14:\"returnShipping\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ReturnShipping\";s:11:\"description\";s:69:\"Specifies
  the return carrier and customer's account with the carrier.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:277:\"If
  specified, the value must be Shipping, which tells the Import/Export service that
  the package for the job has been shipped. The ReturnAddress and DeliveryPackage
  properties must have been set either in this request or in a previous request, otherwise
  the request will fail. \";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Specifies
  the tags that will be assigned to the job\";s:4:\"type\";s:6:\"object\";}}}}"
...
