---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:25:\"DeletedWebApps API Client\";s:7:\"version\";s:10:\"2016-03-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:154:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/DeletedWebApps.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:18:\"web-DeletedWebApps\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"azure_web_deletedwebapps\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/deletedSites:
    get:
      description: Get all deleted apps for a subscription.
      operationId: DeletedWebApps_List
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeletedWebAppCollection'
      summary: Get all deleted apps for a subscription.
      tags:
      - DeletedWebApps
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:11:\"DeletedSite\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"A
  deleted app.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"deletedTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Time
  in UTC when the app was deleted.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Numeric
  id for the deleted site\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Name
  of the deleted site\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"resourceGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"ResourceGroup
  that contained the deleted site\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"slot\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Slot
  of the deleted site\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"subscription\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Subscription
  containing the deleted site\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DeletedWebAppCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Collection
  of deleted apps.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DeletedSite\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}}"
...
