---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:18:\"Azure SQL Database\";s:11:\"description\";s:79:\"Provides
  create, read, update and delete functionality for Azure SQL Databases.\";s:7:\"version\";s:10:\"2014-04-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/pause
  : post:
      tags:
      - DatabaseActivation
      operationId: Databases_Pause
      description: Pauses a data warehouse.
      x-ms-examples:
        Pause a data warehouse:
          $ref: ./examples/DatabasePause.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        type: string
        description: The name of the data warehouse to pause.
      responses:
        200:
          description: OK
        202:
          description: Accepted
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/resume
  : post:
      tags:
      - DatabaseActivation
      operationId: Databases_Resume
      description: Resumes a data warehouse.
      x-ms-examples:
        Resume a data warehouse:
          $ref: ./examples/DatabaseResume.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        type: string
        description: The name of the data warehouse to resume.
      responses:
        202:
          description: Accepted
        200:
          description: OK
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}
  : put:
      tags:
      - Databases
      operationId: Databases_CreateOrUpdate
      description: Creates a new database or updates an existing database.
      x-ms-examples:
        Create a database min:
          $ref: ./examples/DatabaseCreateOrUpdateMin.json
        Create a database max:
          $ref: ./examples/DatabaseCreateMax.json
        Create a database as a copy:
          $ref: ./examples/DatabaseCreateCopy.json
        Create a database as an online secondary:
          $ref: ./examples/DatabaseCreateOnlineSecondary.json
        Create a database as a non-readable secondary:
          $ref: ./examples/DatabaseCreateNonReadableSecondary.json
        Create a database as a point in time restore:
          $ref: ./examples/DatabaseCreatePointInTimeRestore.json
        Create a database as a dropped database restore to deletion time:
          $ref: ./examples/DatabaseCreateDroppedDatabaseRestore.json
        Create a database as a dropped database restore to a specific point in time:
          $ref: ./examples/DatabaseCreateDroppedDatabaseRestoreToPointInTime.json
        Create a database as a geo restore:
          $ref: ./examples/DatabaseCreateGeoRestore.json
        Create a database from a long term retention backup:
          $ref: ./examples/DatabaseCreateLongTermRetentionRestore.json
        Update a database's elastic pool':
          $ref: ./examples/DatabaseUpdateElasticPool.json
        Update a database max:
          $ref: ./examples/DatabaseUpdateMaxPut.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        type: string
        description: The name of the database to be operated on (updated or created).
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Database'
        description: The required parameters for creating or updating a database.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Database'
        201:
          description: Created
          schema:
            $ref: '#/definitions/Database'
        202:
          description: Accepted
      x-ms-long-running-operation: true
    patch:
      tags:
      - Databases
      operationId: Databases_Update
      description: Updates an existing database.
      x-ms-examples:
        Update a database max:
          $ref: ./examples/DatabaseUpdateMaxPatch.json
        Update a database min:
          $ref: ./examples/DatabaseUpdateMin.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        type: string
        description: The name of the database to be updated.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/DatabaseUpdate'
        description: The required parameters for updating a database.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Database'
        202:
          description: Accepted
      x-ms-long-running-operation: true
    delete:
      tags:
      - Databases
      operationId: Databases_Delete
      description: Deletes a database.
      x-ms-examples:
        Delete a database:
          $ref: ./examples/DatabaseDelete.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        type: string
        description: The name of the database to be deleted.
      responses:
        200:
          description: OK
        204:
          description: NoContent
    get:
      tags:
      - Databases
      operationId: Databases_Get
      description: Gets a database.
      x-ms-examples:
        Get a database:
          $ref: ./examples/DatabaseGet.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        type: string
        description: The name of the database to be retrieved.
      - $ref: '#/parameters/DatabaseExpandParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Database'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases:
    get:
      tags:
      - Databases
      operationId: Databases_ListByServer
      description: Returns a list of databases in a server.
      x-ms-examples:
        List databases by server:
          $ref: ./examples/DatabaseList.json
        List databases by server with filter:
          $ref: ./examples/DatabaseListWithFilter.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseExpandParameter'
      - name: $filter
        in: query
        required: false
        type: string
        description: An OData filter expression that describes a subset of databases
          to return.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DatabaseListResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases/{databaseName}
  : get:
      tags:
      - ElasticPools
      operationId: Databases_GetByElasticPool
      description: Gets a database inside of an elastic pool.
      x-ms-examples:
        Get a database in an elastic pool:
          $ref: ./examples/DatabaseGetByElasticPool.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: elasticPoolName
        in: path
        required: true
        type: string
        description: The name of the elastic pool to be retrieved.
      - name: databaseName
        in: path
        required: true
        type: string
        description: The name of the database to be retrieved.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Database'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases
  : get:
      tags:
      - Databases
      operationId: Databases_ListByElasticPool
      description: Returns a list of databases in an elastic pool.
      x-ms-examples:
        Gets databases in an elastic pool:
          $ref: ./examples/DatabaseListByElasticPool.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: elasticPoolName
        in: path
        required: true
        type: string
        description: The name of the elastic pool to be retrieved.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DatabaseListResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/databases/{databaseName}
  : get:
      tags:
      - Databases
      operationId: Databases_GetByRecommendedElasticPool
      description: Gets a database inside of a recommented elastic pool.
      x-ms-examples:
        Get a database in a recommended elastic pool:
          $ref: ./examples/DatabaseGetByRecommendedElasticPool.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: recommendedElasticPoolName
        in: path
        required: true
        type: string
        description: The name of the elastic pool to be retrieved.
      - name: databaseName
        in: path
        required: true
        type: string
        description: The name of the database to be retrieved.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Database'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/databases
  : get:
      tags:
      - Databases
      operationId: Databases_ListByRecommendedElasticPool
      description: Returns a list of databases inside a recommented elastic pool.
      x-ms-examples:
        Gets databases in an elastic pool:
          $ref: ./examples/DatabaseListByRecommendedElasticPool.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: recommendedElasticPoolName
        in: path
        required: true
        type: string
        description: The name of the recommended elastic pool to be retrieved.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DatabaseListResult'
      x-ms-pageable:
        nextLinkName: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:18:\"DatabaseProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":26:{s:9:\"collation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"The
  collation of the database. If createMode is not Default, this value is ignored.\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:12:\"creationDate\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"The
  creation date of the database (ISO8601 format).\";}s:16:\"containmentState\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"The
  containment state of the database.\";}s:25:\"currentServiceObjectiveId\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:127:\"The
  current service level objective ID of the database. This is the ID of the service
  level objective that is currently active.\";}s:10:\"databaseId\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:23:\"The
  ID of the database.\";}s:19:\"earliestRestoreDate\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:107:\"This
  records the earliest start date and time that restore is available for this database
  (ISO8601 format).\";}s:10:\"createMode\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:1557:\"Specifies
  the mode of database creation.\n\nDefault: regular database creation.\n\nCopy: creates
  a database as a copy of an existing database. sourceDatabaseId must be specified
  as the resource ID of the source database.\n\nOnlineSecondary/NonReadableSecondary:
  creates a database as a (readable or nonreadable) secondary replica of an existing
  database. sourceDatabaseId must be specified as the resource ID of the existing
  primary database.\n\nPointInTimeRestore: Creates a database by restoring a point
  in time backup of an existing database. sourceDatabaseId must be specified as the
  resource ID of the existing database, and restorePointInTime must be specified.\n\nRecovery:
  Creates a database by restoring a geo-replicated backup. sourceDatabaseId must be
  specified as the recoverable database resource ID to restore.\n\nRestore: Creates
  a database by restoring a backup of a deleted database. sourceDatabaseId must be
  specified. If sourceDatabaseId is the database's original resource ID, then sourceDatabaseDeletionDate
  must be specified. Otherwise sourceDatabaseId must be the restorable dropped database
  resource ID and sourceDatabaseDeletionDate is ignored. restorePointInTime may also
  be specified to restore from an earlier point in time.\n\nRestoreLongTermRetentionBackup:
  Creates a database by restoring from a long term retention vault. recoveryServicesRecoveryPointResourceId
  must be specified as the recovery point resource ID.\n\nCopy, NonReadableSecondary,
  OnlineSecondary and RestoreLongTermRetentionBackup are not supported for DataWarehouse
  edition.\";s:4:\"enum\";a:8:{i:0;s:4:\"Copy\";i:1;s:7:\"Default\";i:2;s:20:\"NonReadableSecondary\";i:3;s:15:\"OnlineSecondary\";i:4;s:18:\"PointInTimeRestore\";i:5;s:8:\"Recovery\";i:6;s:7:\"Restore\";i:7;s:30:\"RestoreLongTermRetentionBackup\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"CreateMode\";s:13:\"modelAsString\";b:1;}s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:16:\"sourceDatabaseId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:337:\"Conditional.
  If createMode is Copy, NonReadableSecondary, OnlineSecondary, PointInTimeRestore,
  Recovery, or Restore, then this value is required. Specifies the resource ID of
  the source database. If createMode is NonReadableSecondary or OnlineSecondary, the
  name of the source database must be the same as the new database being created.\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:26:\"sourceDatabaseDeletionDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:260:\"Conditional.
  If createMode is Restore and sourceDatabaseId is the deleted database's original
  resource id when it existed (as opposed to its current restorable dropped database
  id), then this value is required. Specifies the time that the database was deleted.\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:18:\"restorePointInTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:323:\"Conditional.
  If createMode is PointInTimeRestore, this value is required. If createMode is Restore,
  this value is optional. Specifies the point in time (ISO8601 format) of the source
  database that will be restored to create the new database. Must be greater than
  or equal to the source database's earliestRestoreDate value.\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:39:\"recoveryServicesRecoveryPointResourceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:155:\"Conditional.
  If createMode is RestoreLongTermRetentionBackup, then this value is required. Specifies
  the resource ID of the recovery point to restore from.\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:7:\"edition\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:462:\"The
  edition of the database. The DatabaseEditions enumeration contains all the valid
  editions. If createMode is NonReadableSecondary or OnlineSecondary, this value is
  ignored. To see possible values, query the capabilities API (/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationID}/capabilities)
  referred to by operationId: \"Capabilities_ListByLocation.\" or use the Azure CLI
  command `az sql db list-editions -l westus --query [].name` .\";s:4:\"enum\";a:11:{i:0;s:3:\"Web\";i:1;s:8:\"Business\";i:2;s:5:\"Basic\";i:3;s:8:\"Standard\";i:4;s:7:\"Premium\";i:5;s:9:\"PremiumRS\";i:6;s:4:\"Free\";i:7;s:7:\"Stretch\";i:8;s:13:\"DataWarehouse\";i:9;s:6:\"System\";i:10;s:7:\"System2\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"DatabaseEdition\";s:13:\"modelAsString\";b:1;}}s:12:\"maxSizeBytes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:305:\"The
  max size of the database expressed in bytes. If createMode is not Default, this
  value is ignored. To see possible values, query the capabilities API (/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationID}/capabilities)
  referred to by operationId: \"Capabilities_ListByLocation.\"\";}s:27:\"requestedServiceObjectiveId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:752:\"The
  configured service level objective ID of the database. This is the service level
  objective that is in the process of being applied to the database. Once successfully
  updated, it will match the value of currentServiceObjectiveId property. If requestedServiceObjectiveId
  and requestedServiceObjectiveName are both updated, the value of requestedServiceObjectiveId
  overrides the value of requestedServiceObjectiveName. To see possible values, query
  the capabilities API (/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationID}/capabilities)
  referred to by operationId: \"Capabilities_ListByLocation.\" or use the Azure CLI
  command `az sql db list-editions --location <location> --query [].supportedServiceLevelObjectives[].name`
  .\";}s:29:\"requestedServiceObjectiveName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:65:{i:0;s:6:\"System\";i:1;s:7:\"System0\";i:2;s:7:\"System1\";i:3;s:7:\"System2\";i:4;s:7:\"System3\";i:5;s:7:\"System4\";i:6;s:8:\"System2L\";i:7;s:8:\"System3L\";i:8;s:8:\"System4L\";i:9;s:4:\"Free\";i:10;s:5:\"Basic\";i:11;s:2:\"S0\";i:12;s:2:\"S1\";i:13;s:2:\"S2\";i:14;s:2:\"S3\";i:15;s:2:\"S4\";i:16;s:2:\"S6\";i:17;s:2:\"S7\";i:18;s:2:\"S9\";i:19;s:3:\"S12\";i:20;s:2:\"P1\";i:21;s:2:\"P2\";i:22;s:2:\"P3\";i:23;s:2:\"P4\";i:24;s:2:\"P6\";i:25;s:3:\"P11\";i:26;s:3:\"P15\";i:27;s:4:\"PRS1\";i:28;s:4:\"PRS2\";i:29;s:4:\"PRS4\";i:30;s:4:\"PRS6\";i:31;s:5:\"DW100\";i:32;s:5:\"DW200\";i:33;s:5:\"DW300\";i:34;s:5:\"DW400\";i:35;s:5:\"DW500\";i:36;s:5:\"DW600\";i:37;s:6:\"DW1000\";i:38;s:6:\"DW1200\";i:39;s:7:\"DW1000c\";i:40;s:6:\"DW1500\";i:41;s:7:\"DW1500c\";i:42;s:6:\"DW2000\";i:43;s:7:\"DW2000c\";i:44;s:6:\"DW3000\";i:45;s:7:\"DW2500c\";i:46;s:7:\"DW3000c\";i:47;s:6:\"DW6000\";i:48;s:7:\"DW5000c\";i:49;s:7:\"DW6000c\";i:50;s:7:\"DW7500c\";i:51;s:8:\"DW10000c\";i:52;s:8:\"DW15000c\";i:53;s:8:\"DW30000c\";i:54;s:5:\"DS100\";i:55;s:5:\"DS200\";i:56;s:5:\"DS300\";i:57;s:5:\"DS400\";i:58;s:5:\"DS500\";i:59;s:5:\"DS600\";i:60;s:6:\"DS1000\";i:61;s:6:\"DS1200\";i:62;s:6:\"DS1500\";i:63;s:6:\"DS2000\";i:64;s:11:\"ElasticPool\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"ServiceObjectiveName\";}s:11:\"description\";s:579:\"The
  name of the configured service level objective of the database. This is the service
  level objective that is in the process of being applied to the database. Once successfully
  updated, it will match the value of serviceLevelObjective property. To see possible
  values, query the capabilities API (/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationID}/capabilities)
  referred to by operationId: \"Capabilities_ListByLocation.\" or use the Azure CLI
  command `az sql db list-editions --location <location> --query [].supportedServiceLevelObjectives[].name`
  .\";}s:21:\"serviceLevelObjective\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:65:{i:0;s:6:\"System\";i:1;s:7:\"System0\";i:2;s:7:\"System1\";i:3;s:7:\"System2\";i:4;s:7:\"System3\";i:5;s:7:\"System4\";i:6;s:8:\"System2L\";i:7;s:8:\"System3L\";i:8;s:8:\"System4L\";i:9;s:4:\"Free\";i:10;s:5:\"Basic\";i:11;s:2:\"S0\";i:12;s:2:\"S1\";i:13;s:2:\"S2\";i:14;s:2:\"S3\";i:15;s:2:\"S4\";i:16;s:2:\"S6\";i:17;s:2:\"S7\";i:18;s:2:\"S9\";i:19;s:3:\"S12\";i:20;s:2:\"P1\";i:21;s:2:\"P2\";i:22;s:2:\"P3\";i:23;s:2:\"P4\";i:24;s:2:\"P6\";i:25;s:3:\"P11\";i:26;s:3:\"P15\";i:27;s:4:\"PRS1\";i:28;s:4:\"PRS2\";i:29;s:4:\"PRS4\";i:30;s:4:\"PRS6\";i:31;s:5:\"DW100\";i:32;s:5:\"DW200\";i:33;s:5:\"DW300\";i:34;s:5:\"DW400\";i:35;s:5:\"DW500\";i:36;s:5:\"DW600\";i:37;s:6:\"DW1000\";i:38;s:6:\"DW1200\";i:39;s:7:\"DW1000c\";i:40;s:6:\"DW1500\";i:41;s:7:\"DW1500c\";i:42;s:6:\"DW2000\";i:43;s:7:\"DW2000c\";i:44;s:6:\"DW3000\";i:45;s:7:\"DW2500c\";i:46;s:7:\"DW3000c\";i:47;s:6:\"DW6000\";i:48;s:7:\"DW5000c\";i:49;s:7:\"DW6000c\";i:50;s:7:\"DW7500c\";i:51;s:8:\"DW10000c\";i:52;s:8:\"DW15000c\";i:53;s:8:\"DW30000c\";i:54;s:5:\"DS100\";i:55;s:5:\"DS200\";i:56;s:5:\"DS300\";i:57;s:5:\"DS400\";i:58;s:5:\"DS500\";i:59;s:5:\"DS600\";i:60;s:6:\"DS1000\";i:61;s:6:\"DS1200\";i:62;s:6:\"DS1500\";i:63;s:6:\"DS2000\";i:64;s:11:\"ElasticPool\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"ServiceObjectiveName\";}s:11:\"description\";s:52:\"The
  current service level objective of the database.\";}s:6:\"status\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  status of the database.\";}s:15:\"elasticPoolName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:215:\"The
  name of the elastic pool the database is in. If elasticPoolName and requestedServiceObjectiveName
  are both updated, the value of requestedServiceObjectiveName is ignored. Not supported
  for DataWarehouse edition.\";}s:24:\"defaultSecondaryLocation\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  default secondary region for this database.\";}s:19:\"serviceTierAdvisors\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"./sql.core.json#/definitions/ServiceTierAdvisor\";}s:11:\"description\";s:70:\"The
  list of service tier advisors for this database. Expanded property\";}s:25:\"transparentDataEncryption\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"./sql.core.json#/definitions/TransparentDataEncryption\";}s:11:\"description\";s:55:\"The
  transparent data encryption info for this database.\";}s:16:\"recommendedIndex\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"./sql.core.json#/definitions/RecommendedIndex\";}s:11:\"description\";s:42:\"The
  recommended indices for this database.\";}s:15:\"failoverGroupId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"The
  resource identifier of the failover group containing this database.\";}s:9:\"readScale\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:11:\"description\";s:176:\"Conditional.
  If the database is a geo-secondary, readScale indicates whether read-only connections
  are allowed to this database or not. Not supported for DataWarehouse edition.\";s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"ReadScale\";}}s:10:\"sampleName\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:16:\"AdventureWorksLT\";}s:11:\"description\";s:171:\"Indicates
  the name of the sample schema to apply when creating this database. If createMode
  is not Default, this value is ignored. Not supported for DataWarehouse edition.\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"SampleName\";}s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:13:\"zoneRedundant\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"Whether
  or not this database is zone redundant, which means the replicas of this database
  will be spread across multiple availability zones.\";s:4:\"type\";s:7:\"boolean\";}}s:11:\"description\";s:40:\"Represents
  the properties of a database.\";}s:8:\"Database\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"Kind
  of database.  This is metadata used for the Azure portal experience.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/DatabaseProperties\";s:11:\"description\";s:41:\"The
  properties representing the resource.\";s:19:\"x-ms-client-flatten\";b:1;}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"../../../common/v1/types.json#/definitions/TrackedResource\";}}s:11:\"description\";s:22:\"Represents
  a database.\";}s:14:\"DatabaseUpdate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/DatabaseProperties\";s:11:\"description\";s:41:\"The
  properties representing the resource.\";s:19:\"x-ms-client-flatten\";b:1;}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"../../../common/v1/types.json#/definitions/Resource\";}}s:11:\"description\";s:29:\"Represents
  a database update.\";}s:18:\"DatabaseListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Database\";}s:11:\"description\";s:43:\"The
  list of databases housed in the server.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:51:\"Represents
  the response to a list database request.\";}}"
...
