---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:24:\"The DevTest Labs
  Client.\";s:5:\"title\";s:17:\"DevTestLabsClient\";s:7:\"version\";s:10:\"2016-05-15\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:158:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2016-05-15/DTL.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:15:\"devtestlabs-DTL\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"azure_devtestlabs_dtl\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.DevTestLab/operations:
    get:
      description: Result of the request to list REST API operations
      operationId: ProviderOperations_List
      parameters:
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ProviderOperationResult'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ProviderOperations
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/labs:
    get:
      description: List labs in a subscription.
      operationId: Labs_ListBySubscription
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: 'Specify the $expand query. Example: ''properties($select=defaultStorageAccount)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[Lab]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Labs
      x-ms-odata: '#/definitions/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/locations/{locationName}/operations/{name}:
    get:
      description: Get operation.
      operationId: Operations_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/locationName'
      - description: The name of the operation.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationResult'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Operations
  /subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/schedules:
    get:
      description: List schedules in a subscription.
      operationId: GlobalSchedules_ListBySubscription
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: 'Specify the $expand query. Example: ''properties($select=status)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[Schedule]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GlobalSchedules
      x-ms-odata: '#/definitions/Schedule'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs:
    get:
      description: List labs in a resource group.
      operationId: Labs_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: 'Specify the $expand query. Example: ''properties($select=defaultStorageAccount)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[Lab]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Labs
      x-ms-odata: '#/definitions/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources:
    get:
      description: List artifact sources in a given lab.
      operationId: ArtifactSources_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=displayName)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[ArtifactSource]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ArtifactSources
      x-ms-odata: '#/definitions/ArtifactSource'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates
  : get:
      description: List azure resource manager templates in a given artifact source.
      operationId: ArmTemplates_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=displayName)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[ArmTemplate]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ArmTemplates
      x-ms-odata: '#/definitions/ArmTemplate'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates/{name}
  : get:
      description: Get azure resource manager template.
      operationId: ArmTemplates_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        type: string
      - description: The name of the azure Resource Manager template.
        in: path
        name: name
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=displayName)'''
        in: query
        name: $expand
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ArmTemplate'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ArmTemplates
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts
  : get:
      description: List artifacts in a given artifact source.
      operationId: Artifacts_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=title)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[Artifact]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Artifacts
      x-ms-odata: '#/definitions/Artifact'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}
  : get:
      description: Get artifact.
      operationId: Artifacts_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        type: string
      - description: The name of the artifact.
        in: path
        name: name
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=title)'''
        in: query
        name: $expand
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Artifact'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Artifacts
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}/generateArmTemplate
  : post:
      description: Generates an ARM template for the given artifact, uploads the required
        files to a storage account, and validates the generated artifact.
      operationId: Artifacts_GenerateArmTemplate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        type: string
      - description: The name of the artifact.
        in: path
        name: name
        required: true
        type: string
      - description: Parameters for generating an ARM template for deploying artifacts.
        in: body
        name: generateArmTemplateRequest
        required: true
        schema:
          $ref: '#/definitions/GenerateArmTemplateRequest'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ArmTemplateInfo'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Artifacts
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{name}
  : delete:
      description: Delete artifact source.
      operationId: ArtifactSources_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ArtifactSources
    get:
      description: Get artifact source.
      operationId: ArtifactSources_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=displayName)'''
        in: query
        name: $expand
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ArtifactSource'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ArtifactSources
    patch:
      description: Modify properties of artifact sources.
      operationId: ArtifactSources_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        type: string
      - description: Properties of an artifact source.
        in: body
        name: artifactSource
        required: true
        schema:
          $ref: '#/definitions/ArtifactSourceFragment'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ArtifactSource'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ArtifactSources
    put:
      description: Create or replace an existing artifact source.
      operationId: ArtifactSources_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        type: string
      - description: Properties of an artifact source.
        in: body
        name: artifactSource
        required: true
        schema:
          $ref: '#/definitions/ArtifactSource'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ArtifactSource'
        201:
          description: Created
          schema:
            $ref: '#/definitions/ArtifactSource'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ArtifactSources
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}:
    get:
      description: Get cost.
      operationId: Costs_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the cost.
        in: path
        name: name
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($expand=labCostDetails)'''
        in: query
        name: $expand
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LabCost'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Costs
    put:
      description: Create or replace an existing cost.
      operationId: Costs_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the cost.
        in: path
        name: name
        required: true
        type: string
      - description: A cost item.
        in: body
        name: labCost
        required: true
        schema:
          $ref: '#/definitions/LabCost'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LabCost'
        201:
          description: Created
          schema:
            $ref: '#/definitions/LabCost'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Costs
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages:
    get:
      description: List custom images in a given lab.
      operationId: CustomImages_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=vm)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[CustomImage]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - CustomImages
      x-ms-odata: '#/definitions/CustomImage'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages/{name}
  : delete:
      description: Delete custom image. This operation can take a while to complete.
      operationId: CustomImages_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        202:
          description: Accepted
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - CustomImages
      x-ms-long-running-operation: true
    get:
      description: Get custom image.
      operationId: CustomImages_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=vm)'''
        in: query
        name: $expand
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CustomImage'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - CustomImages
    put:
      description: Create or replace an existing custom image. This operation can
        take a while to complete.
      operationId: CustomImages_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        type: string
      - description: A custom image.
        in: body
        name: customImage
        required: true
        schema:
          $ref: '#/definitions/CustomImage'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CustomImage'
        201:
          description: Created
          schema:
            $ref: '#/definitions/CustomImage'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - CustomImages
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas:
    get:
      description: List formulas in a given lab.
      operationId: Formulas_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=description)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[Formula]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Formulas
      x-ms-odata: '#/definitions/Formula'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas/{name}:
    delete:
      description: Delete formula.
      operationId: Formulas_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the formula.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Formulas
    get:
      description: Get formula.
      operationId: Formulas_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the formula.
        in: path
        name: name
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=description)'''
        in: query
        name: $expand
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Formula'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Formulas
    put:
      description: Create or replace an existing Formula. This operation can take
        a while to complete.
      operationId: Formulas_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the formula.
        in: path
        name: name
        required: true
        type: string
      - description: A formula for creating a VM, specifying an image base and other
          parameters
        in: body
        name: formula
        required: true
        schema:
          $ref: '#/definitions/Formula'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Formula'
        201:
          description: Created
          schema:
            $ref: '#/definitions/Formula'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Formulas
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryimages:
    get:
      description: List gallery images in a given lab.
      operationId: GalleryImages_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=author)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[GalleryImage]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - GalleryImages
      x-ms-odata: '#/definitions/GalleryImage'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels
  : get:
      description: List notificationchannels in a given lab.
      operationId: NotificationChannels_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=webHookUrl)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[NotificationChannel]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - NotificationChannels
      x-ms-odata: '#/definitions/NotificationChannel'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}
  : delete:
      description: Delete notificationchannel.
      operationId: NotificationChannels_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the notificationChannel.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - NotificationChannels
    get:
      description: Get notificationchannel.
      operationId: NotificationChannels_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the notificationChannel.
        in: path
        name: name
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=webHookUrl)'''
        in: query
        name: $expand
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/NotificationChannel'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - NotificationChannels
    patch:
      description: Modify properties of notificationchannels.
      operationId: NotificationChannels_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the notificationChannel.
        in: path
        name: name
        required: true
        type: string
      - description: A notification.
        in: body
        name: notificationChannel
        required: true
        schema:
          $ref: '#/definitions/NotificationChannelFragment'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/NotificationChannel'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - NotificationChannels
    put:
      description: Create or replace an existing notificationChannel.
      operationId: NotificationChannels_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the notificationChannel.
        in: path
        name: name
        required: true
        type: string
      - description: A notification.
        in: body
        name: notificationChannel
        required: true
        schema:
          $ref: '#/definitions/NotificationChannel'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/NotificationChannel'
        201:
          description: Created
          schema:
            $ref: '#/definitions/NotificationChannel'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - NotificationChannels
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}/notify
  : post:
      description: Send notification to provided channel.
      operationId: NotificationChannels_Notify
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the notificationChannel.
        in: path
        name: name
        required: true
        type: string
      - description: Properties for generating a Notification.
        in: body
        name: notifyParameters
        required: true
        schema:
          $ref: '#/definitions/NotifyParameters'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - NotificationChannels
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{name}/evaluatePolicies
  : post:
      description: Evaluates lab policy.
      operationId: PolicySets_EvaluatePolicies
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the policy set.
        in: path
        name: name
        required: true
        type: string
      - description: Request body for evaluating a policy set.
        in: body
        name: evaluatePoliciesRequest
        required: true
        schema:
          $ref: '#/definitions/EvaluatePoliciesRequest'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EvaluatePoliciesResponse'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - PolicySets
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies
  : get:
      description: List policies in a given policy set.
      operationId: Policies_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the policy set.
        in: path
        name: policySetName
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=description)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[Policy]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Policies
      x-ms-odata: '#/definitions/Policy'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies/{name}
  : delete:
      description: Delete policy.
      operationId: Policies_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the policy set.
        in: path
        name: policySetName
        required: true
        type: string
      - description: The name of the policy.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Policies
    get:
      description: Get policy.
      operationId: Policies_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the policy set.
        in: path
        name: policySetName
        required: true
        type: string
      - description: The name of the policy.
        in: path
        name: name
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=description)'''
        in: query
        name: $expand
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Policy'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Policies
    patch:
      description: Modify properties of policies.
      operationId: Policies_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the policy set.
        in: path
        name: policySetName
        required: true
        type: string
      - description: The name of the policy.
        in: path
        name: name
        required: true
        type: string
      - description: A Policy.
        in: body
        name: policy
        required: true
        schema:
          $ref: '#/definitions/PolicyFragment'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Policy'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Policies
    put:
      description: Create or replace an existing policy.
      operationId: Policies_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the policy set.
        in: path
        name: policySetName
        required: true
        type: string
      - description: The name of the policy.
        in: path
        name: name
        required: true
        type: string
      - description: A Policy.
        in: body
        name: policy
        required: true
        schema:
          $ref: '#/definitions/Policy'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Policy'
        201:
          description: Created
          schema:
            $ref: '#/definitions/Policy'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Policies
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules:
    get:
      description: List schedules in a given lab.
      operationId: Schedules_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=status)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[Schedule]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Schedules
      x-ms-odata: '#/definitions/Schedule'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}
  : delete:
      description: Delete schedule.
      operationId: Schedules_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Schedules
    get:
      description: Get schedule.
      operationId: Schedules_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=status)'''
        in: query
        name: $expand
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Schedule'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Schedules
    patch:
      description: Modify properties of schedules.
      operationId: Schedules_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        type: string
      - description: A schedule.
        in: body
        name: schedule
        required: true
        schema:
          $ref: '#/definitions/ScheduleFragment'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Schedule'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Schedules
    put:
      description: Create or replace an existing schedule.
      operationId: Schedules_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        type: string
      - description: A schedule.
        in: body
        name: schedule
        required: true
        schema:
          $ref: '#/definitions/Schedule'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Schedule'
        201:
          description: Created
          schema:
            $ref: '#/definitions/Schedule'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Schedules
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/execute
  : post:
      description: Execute a schedule. This operation can take a while to complete.
      operationId: Schedules_Execute
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Schedules
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/listApplicable
  : post:
      description: Lists all applicable schedules
      operationId: Schedules_ListApplicable
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the schedule.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[Schedule]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Schedules
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/servicerunners:
    get:
      description: List service runners in a given lab.
      operationId: ServiceRunners_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[ServiceRunner]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ServiceRunners
      x-ms-odata: '#/definitions/ServiceRunner'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/servicerunners/{name}
  : delete:
      description: Delete service runner.
      operationId: ServiceRunners_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the service runner.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ServiceRunners
    get:
      description: Get service runner.
      operationId: ServiceRunners_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the service runner.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServiceRunner'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ServiceRunners
    put:
      description: Create or replace an existing Service runner.
      operationId: ServiceRunners_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the service runner.
        in: path
        name: name
        required: true
        type: string
      - description: A container for a managed identity to execute DevTest lab services.
        in: body
        name: serviceRunner
        required: true
        schema:
          $ref: '#/definitions/ServiceRunner'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServiceRunner'
        201:
          description: Created
          schema:
            $ref: '#/definitions/ServiceRunner'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - ServiceRunners
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users:
    get:
      description: List user profiles in a given lab.
      operationId: Users_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=identity)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[User]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Users
      x-ms-odata: '#/definitions/User'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{name}:
    delete:
      description: Delete user profile. This operation can take a while to complete.
      operationId: Users_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        202:
          description: Accepted
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Users
      x-ms-long-running-operation: true
    get:
      description: Get user profile.
      operationId: Users_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: name
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=identity)'''
        in: query
        name: $expand
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Users
    patch:
      description: Modify properties of user profiles.
      operationId: Users_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: name
        required: true
        type: string
      - description: Profile of a lab user.
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/UserFragment'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Users
    put:
      description: Create or replace an existing user profile.
      operationId: Users_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: name
        required: true
        type: string
      - description: Profile of a lab user.
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/User'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'
        201:
          description: Created
          schema:
            $ref: '#/definitions/User'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Users
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/disks
  : get:
      description: List disks in a given user profile.
      operationId: Disks_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=diskType)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[Disk]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Disks
      x-ms-odata: '#/definitions/Disk'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/disks/{name}
  : delete:
      description: Delete disk. This operation can take a while to complete.
      operationId: Disks_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
      - description: The name of the disk.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        202:
          description: Accepted
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Disks
      x-ms-long-running-operation: true
    get:
      description: Get disk.
      operationId: Disks_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
      - description: The name of the disk.
        in: path
        name: name
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=diskType)'''
        in: query
        name: $expand
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Disk'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Disks
    put:
      description: Create or replace an existing disk. This operation can take a while
        to complete.
      operationId: Disks_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
      - description: The name of the disk.
        in: path
        name: name
        required: true
        type: string
      - description: A Disk.
        in: body
        name: disk
        required: true
        schema:
          $ref: '#/definitions/Disk'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Disk'
        201:
          description: Created
          schema:
            $ref: '#/definitions/Disk'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Disks
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/disks/{name}/attach
  : post:
      description: Attach and create the lease of the disk to the virtual machine.
        This operation can take a while to complete.
      operationId: Disks_Attach
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
      - description: The name of the disk.
        in: path
        name: name
        required: true
        type: string
      - description: Properties of the disk to attach.
        in: body
        name: attachDiskProperties
        required: true
        schema:
          $ref: '#/definitions/AttachDiskProperties'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Disks
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/disks/{name}/detach
  : post:
      description: Detach and break the lease of the disk attached to the virtual
        machine. This operation can take a while to complete.
      operationId: Disks_Detach
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
      - description: The name of the disk.
        in: path
        name: name
        required: true
        type: string
      - description: Properties of the disk to detach.
        in: body
        name: detachDiskProperties
        required: true
        schema:
          $ref: '#/definitions/DetachDiskProperties'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Disks
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/environments
  : get:
      description: List environments in a given user profile.
      operationId: Environments_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=deploymentProperties)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[DtlEnvironment]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Environments
      x-ms-odata: '#/definitions/DtlEnvironment'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/environments/{name}
  : delete:
      description: Delete environment. This operation can take a while to complete.
      operationId: Environments_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
      - description: The name of the environment.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        202:
          description: Accepted
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Environments
      x-ms-long-running-operation: true
    get:
      description: Get environment.
      operationId: Environments_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
      - description: The name of the environment.
        in: path
        name: name
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=deploymentProperties)'''
        in: query
        name: $expand
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DtlEnvironment'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Environments
    put:
      description: Create or replace an existing environment. This operation can take
        a while to complete.
      operationId: Environments_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
      - description: The name of the environment.
        in: path
        name: name
        required: true
        type: string
      - description: An environment, which is essentially an ARM template deployment.
        in: body
        name: dtlEnvironment
        required: true
        schema:
          $ref: '#/definitions/DtlEnvironment'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DtlEnvironment'
        201:
          description: Created
          schema:
            $ref: '#/definitions/DtlEnvironment'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Environments
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/secrets
  : get:
      description: List secrets in a given user profile.
      operationId: Secrets_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=value)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[Secret]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Secrets
      x-ms-odata: '#/definitions/Secret'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/secrets/{name}
  : delete:
      description: Delete secret.
      operationId: Secrets_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
      - description: The name of the secret.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Secrets
    get:
      description: Get secret.
      operationId: Secrets_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
      - description: The name of the secret.
        in: path
        name: name
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($select=value)'''
        in: query
        name: $expand
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Secret'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Secrets
    put:
      description: Create or replace an existing secret.
      operationId: Secrets_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the user profile.
        in: path
        name: userName
        required: true
        type: string
      - description: The name of the secret.
        in: path
        name: name
        required: true
        type: string
      - description: A secret.
        in: body
        name: secret
        required: true
        schema:
          $ref: '#/definitions/Secret'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Secret'
        201:
          description: Created
          schema:
            $ref: '#/definitions/Secret'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - Secrets
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines:
    get:
      description: List virtual machines in a given lab.
      operationId: VirtualMachines_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($expand=artifacts,computeVm,networkInterface,applicableSchedule)'''
        in: query
        name: $expand
        required: false
        type: string
      - description: The filter to apply to the operation.
        in: query
        name: $filter
        required: false
        type: string
      - description: The maximum number of resources to return from the operation.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The ordering expression for the results, using OData notation.
        in: query
        name: $orderby
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseWithContinuation[LabVirtualMachine]'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - VirtualMachines
      x-ms-odata: '#/definitions/LabVirtualMachine'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}
  : delete:
      description: Delete virtual machine. This operation can take a while to complete.
      operationId: VirtualMachines_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the virtual machine.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        202:
          description: Accepted
        204:
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
    get:
      description: Get virtual machine.
      operationId: VirtualMachines_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the virtual machine.
        in: path
        name: name
        required: true
        type: string
      - description: 'Specify the $expand query. Example: ''properties($expand=artifacts,computeVm,networkInterface,applicableSchedule)'''
        in: query
        name: $expand
        required: false
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LabVirtualMachine'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - VirtualMachines
    patch:
      description: Modify properties of virtual machines.
      operationId: VirtualMachines_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the virtual machine.
        in: path
        name: name
        required: true
        type: string
      - description: A virtual machine.
        in: body
        name: labVirtualMachine
        required: true
        schema:
          $ref: '#/definitions/LabVirtualMachineFragment'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LabVirtualMachine'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - VirtualMachines
    put:
      description: Create or replace an existing Virtual machine. This operation can
        take a while to complete.
      operationId: VirtualMachines_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the virtual machine.
        in: path
        name: name
        required: true
        type: string
      - description: A virtual machine.
        in: body
        name: labVirtualMachine
        required: true
        schema:
          $ref: '#/definitions/LabVirtualMachine'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LabVirtualMachine'
        201:
          description: Created
          schema:
            $ref: '#/definitions/LabVirtualMachine'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/addDataDisk
  : post:
      description: Attach a new or existing data disk to virtual machine. This operation
        can take a while to complete.
      operationId: VirtualMachines_AddDataDisk
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the virtual machine.
        in: path
        name: name
        required: true
        type: string
      - description: Request body for adding a new or existing data disk to a virtual
          machine.
        in: body
        name: dataDiskProperties
        required: true
        schema:
          $ref: '#/definitions/DataDiskProperties'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/applyArtifacts
  : post:
      description: Apply artifacts to virtual machine. This operation can take a while
        to complete.
      operationId: VirtualMachines_ApplyArtifacts
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the virtual machine.
        in: path
        name: name
        required: true
        type: string
      - description: Request body for applying artifacts to a virtual machine.
        in: body
        name: applyArtifactsRequest
        required: true
        schema:
          $ref: '#/definitions/ApplyArtifactsRequest'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/claim
  : post:
      description: Take ownership of an existing virtual machine This operation can
        take a while to complete.
      operationId: VirtualMachines_Claim
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the virtual machine.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/detachDataDisk
  : post:
      description: Detach the specified disk from the virtual machine. This operation
        can take a while to complete.
      operationId: VirtualMachines_DetachDataDisk
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the virtual machine.
        in: path
        name: name
        required: true
        type: string
      - description: Request body for detaching data disk from a virtual machine.
        in: body
        name: detachDataDiskProperties
        required: true
        schema:
          $ref: '#/definitions/DetachDataDiskProperties'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/listApplicableSchedules
  : post:
      description: Lists all applicable schedules
      operationId: VirtualMachines_ListApplicableSchedules
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the virtual machine.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApplicableSchedule'
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - VirtualMachines
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/start
  : post:
      description: Start a virtual machine. This operation can take a while to complete.
      operationId: VirtualMachines_Start
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the virtual machine.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/stop
  : post:
      description: Stop a virtual machine This operation can take a while to complete.
      operationId: VirtualMachines_Stop
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        type: string
      - description: The name of the virtual machine.
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: '#/definitions/CloudError'
      security:
      - azure_auth:
        - user_impersonation
      tags:
      - VirtualMachines
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{virtualMachineName}/schedules
  : get:
      description: List schedules in a given virtual machine.
      operationId: VirtualMachineSchedules_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
[...]
