---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:18:\"2015-05-01-preview\";s:5:\"title\";s:19:\"SqlManagementClient\";s:11:\"description\";s:247:\"The
  Azure SQL Database management API provides a RESTful set of web APIs that interact
  with Azure SQL Database services to manage your databases. The API enables users
  to create, retrieve, update, and delete databases, servers, and other entities.\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/virtualNetworkRules/{virtualNetworkRuleName}
  : get:
      tags:
      - VirtualNetworkRules
      description: Gets a virtual network rule.
      operationId: VirtualNetworkRules_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: virtualNetworkRuleName
        in: path
        description: The name of the virtual network rule.
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved a specified virtual network rule.
          schema:
            $ref: '#/definitions/VirtualNetworkRule'
        default:
          description: '*** Error Responses: ***nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 ResourceNotFound - The requested
            resource was not found.'
      x-ms-examples:
        Gets a virtual network rule:
          $ref: ./examples/VirtualNetworkRulesGet.json
    put:
      tags:
      - VirtualNetworkRules
      description: Creates or updates an existing virtual network rule.
      operationId: VirtualNetworkRules_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: virtualNetworkRuleName
        in: path
        description: The name of the virtual network rule.
        required: true
        type: string
      - name: parameters
        in: body
        description: The requested virtual Network Rule Resource state.
        required: true
        schema:
          $ref: '#/definitions/VirtualNetworkRule'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated a virtual network rule.
          schema:
            $ref: '#/definitions/VirtualNetworkRule'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidResourceId - Invalid
            resource identifier.nn * 400 MismatchingSubscriptionWithUrl - The provided
            subscription did not match the subscription in the Url.nn * 400 MismatchingResourceGroupNameWithUrl
            - The provided resource group name did not match the name in the Url.nn
            * 400 MismatchingServerNameWithUrl - The provided server name did not
            match the name in the Url.nn * 400 NullVirtualNetworkRequest - Virtual
            Network Request is Nullnn * 400 NullVirtualNetworkRequestParameters -
            Virtual Network Request Parameters are Nullnn * 400 NullVirtualNetworkSubnetId
            - The Virtual Network Subnet Id is nullnn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 VirtualNetworkRuleNotEnabled
            - Azure SQL Server Virtual Network Rule feature is not enablednn * 404
            OperationIdNotFound - The operation with Id does not exist.nn * 409 OperationCancelled
            - The operation has been cancelled by user.nn * 409 OperationInterrupted
            - The operation on the resource could not be completed because it was
            interrupted by another operation on the same resource.nn * 500 OperationTimedOut
            - The operation timed out and automatically rolled back. Please retry
            the operation.'
        202:
          description: Accepted
        201:
          description: Successfully created a virtual network rule.
          schema:
            $ref: '#/definitions/VirtualNetworkRule'
      x-ms-long-running-operation: true
      x-ms-examples:
        Create or update a virtual network rule:
          $ref: ./examples/VirtualNetworkRulesCreateOrUpdate.json
    delete:
      tags:
      - VirtualNetworkRules
      description: Deletes the virtual network rule with the given name.
      operationId: VirtualNetworkRules_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: virtualNetworkRuleName
        in: path
        description: The name of the virtual network rule.
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully deleted the virtual network rule.
        default:
          description: '*** Error Responses: ***nn * 400 InvalidResourceId - Invalid
            resource identifier.nn * 400 MismatchingSubscriptionWithUrl - The provided
            subscription did not match the subscription in the Url.nn * 400 MismatchingResourceGroupNameWithUrl
            - The provided resource group name did not match the name in the Url.nn
            * 400 MismatchingServerNameWithUrl - The provided server name did not
            match the name in the Url.nn * 400 NullVirtualNetworkRequest - Virtual
            Network Request is Nullnn * 400 NullVirtualNetworkRequestParameters -
            Virtual Network Request Parameters are Nullnn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 OperationIdNotFound - The
            operation with Id does not exist.nn * 409 OperationCancelled - The operation
            has been cancelled by user.nn * 409 OperationInterrupted - The operation
            on the resource could not be completed because it was interrupted by another
            operation on the same resource.nn * 500 OperationTimedOut - The operation
            timed out and automatically rolled back. Please retry the operation.'
        202:
          description: Accepted
        204:
          description: The specified virtual network rule does not exist.
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete a virtual network rule:
          $ref: ./examples/VirtualNetworkRulesDelete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/virtualNetworkRules
  : get:
      tags:
      - VirtualNetworkRules
      description: Gets a list of virtual network rules in a server.
      operationId: VirtualNetworkRules_ListByServer
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the list of virtual network rules.
          schema:
            $ref: '#/definitions/VirtualNetworkRuleListResult'
        default:
          description: '*** Error Responses: ***nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 ResourceNotFound - The requested
            resource was not found.'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List virtual network rules:
          $ref: ./examples/VirtualNetworkRulesList.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:28:\"VirtualNetworkRuleProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Properties
  of a virtual network rule.\";s:8:\"required\";a:1:{i:0;s:22:\"virtualNetworkSubnetId\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"virtualNetworkSubnetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  ARM resource id of the virtual network subnet.\";s:4:\"type\";s:6:\"string\";}s:32:\"ignoreMissingVnetServiceEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Create
  firewall rule before the virtual network has vnet service endpoint enabled.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"state\";O:8:\"stdClass\":5:{s:11:\"description\";s:26:\"Virtual
  Network Rule State\";s:4:\"enum\";a:5:{i:0;s:12:\"Initializing\";i:1;s:10:\"InProgress\";i:2;s:5:\"Ready\";i:3;s:8:\"Deleting\";i:4;s:7:\"Unknown\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"VirtualNetworkRuleState\";s:13:\"modelAsString\";b:1;}}}}s:18:\"VirtualNetworkRule\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"A
  virtual network rule.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"../../../common/v1/types.json#/definitions/ProxyResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:42:\"#/definitions/VirtualNetworkRuleProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:28:\"VirtualNetworkRuleListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  list of virtual network rules.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Array
  of results.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/VirtualNetworkRule\";}s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}}"
...
