---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:280:\"The Microsoft
  Azure Network management API provides a RESTful set of web services that interact
  with Microsoft Azure Networks service to manage your network resources. The API
  has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:5:\"title\";s:23:\"NetworkManagementClient\";s:7:\"version\";s:10:\"2016-06-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:155:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2016-06-01/network.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:7:\"network\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"azure_network\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":145:{s:12:\"AddressSpace\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"AddressSpace
  contains an array of IP address ranges that can be used by subnets\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"addressPrefixes\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Gets
  or sets list of address blocks reserved for this virtual network in CIDR notation\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:18:\"ApplicationGateway\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:28:\"ApplicationGateways
  resource\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/ApplicationGatewayPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:43:\"ApplicationGatewayAuthenticationCertificate\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:50:\"Authentication
  certificates of application gateway\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Name
  of the resource that is unique within a resource group. This name can be used to
  access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:73:\"#/definitions/ApplicationGatewayAuthenticationCertificatePropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:59:\"ApplicationGatewayAuthenticationCertificatePropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Properties
  of Authentication certificates of application gateway\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Certificate
  public data \";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Provisioning
  state of the authentication certificate resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}}}s:32:\"ApplicationGatewayBackendAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Backend
  Address of application gateway\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"fqdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Dns
  name\";s:4:\"type\";s:6:\"string\";}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Ip
  address\";s:4:\"type\";s:6:\"string\";}}}s:36:\"ApplicationGatewayBackendAddressPool\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:43:\"Backend
  Address Pool of application gateway\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Resource
  that is unique within a resource group. This name can be used to access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:66:\"#/definitions/ApplicationGatewayBackendAddressPoolPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:52:\"ApplicationGatewayBackendAddressPoolPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Properties
  of Backend Address Pool of application gateway\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"backendAddresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Backend
  addresses\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ApplicationGatewayBackendAddress\";}s:4:\"type\";s:5:\"array\";}s:23:\"backendIPConfigurations\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Collection
  of references to IPs defined in NICs\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/NetworkInterfaceIPConfiguration\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Provisioning
  state of the backend address pool resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}}}s:37:\"ApplicationGatewayBackendHttpSettings\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:52:\"Backend
  address pool settings of application gateway\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Name
  of the resource that is unique within a resource group. This name can be used to
  access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:67:\"#/definitions/ApplicationGatewayBackendHttpSettingsPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:53:\"ApplicationGatewayBackendHttpSettingsPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Properties
  of Backend address pool settings of application gateway\";s:10:\"properties\";O:8:\"stdClass\":7:{s:26:\"authenticationCertificates\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Array
  of references to Application Gateway Authentication Certificates\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:4:\"type\";s:5:\"array\";}s:19:\"cookieBasedAffinity\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Cookie
  affinity\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:37:\"ApplicationGatewayCookieBasedAffinity\";}}s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Port\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"probe\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:38:\"Probe
  resource of application gateway \";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"Protocol\";s:4:\"enum\";a:2:{i:0;s:4:\"Http\";i:1;s:5:\"Https\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:26:\"ApplicationGatewayProtocol\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Provisioning
  state of the backend http settings resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:14:\"requestTimeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Request
  timeout\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:41:\"ApplicationGatewayFrontendIPConfiguration\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:48:\"Frontend
  IP configuration of application gateway\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Name
  of the resource that is unique within a resource group. This name can be used to
  access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:71:\"#/definitions/ApplicationGatewayFrontendIPConfigurationPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:57:\"ApplicationGatewayFrontendIPConfigurationPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Properties
  of Frontend IP configuration of application gateway\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"privateIPAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"PrivateIPAddress
  of the Network Interface IP Configuration\";s:4:\"type\";s:6:\"string\";}s:25:\"privateIPAllocationMethod\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"PrivateIP
  allocation method (Static/Dynamic)\";s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"IPAllocationMethod\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Provisioning
  state of the PublicIP resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:15:\"publicIPAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:34:\"Reference
  of the PublicIP resource\";}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:32:\"Reference
  of the subnet resource\";}}}s:30:\"ApplicationGatewayFrontendPort\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:36:\"Frontend
  Port of application gateway\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Name
  of the resource that is unique within a resource group. This name can be used to
  access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:60:\"#/definitions/ApplicationGatewayFrontendPortPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:46:\"ApplicationGatewayFrontendPortPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Properties
  of Frontend Port of application gateway\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Frontend
  port\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Provisioning
  state of the frontend port resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}}}s:30:\"ApplicationGatewayHttpListener\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:36:\"Http
  listener of application gateway\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Name
  of the resource that is unique within a resource group. This name can be used to
  access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:60:\"#/definitions/ApplicationGatewayHttpListenerPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:46:\"ApplicationGatewayHttpListenerPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Properties
  of Http listener of application gateway\";s:10:\"properties\";O:8:\"stdClass\":7:{s:23:\"frontendIPConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:58:\"Frontend
  IP configuration resource of application gateway \";}s:12:\"frontendPort\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:46:\"Frontend
  port resource of application gateway \";}s:8:\"hostName\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Host
  name of http listener \";s:4:\"type\";s:6:\"string\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"Protocol\";s:4:\"enum\";a:2:{i:0;s:4:\"Http\";i:1;s:5:\"Https\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:26:\"ApplicationGatewayProtocol\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Provisioning
  state of the http listener resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:27:\"requireServerNameIndication\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"RequireServerNameIndication
  of http listener \";s:4:\"type\";s:7:\"boolean\";}s:14:\"sslCertificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:48:\"Ssl
  certificate resource of application gateway \";}}}s:33:\"ApplicationGatewayIPConfiguration\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:39:\"IP
  configuration of application gateway\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Name
  of the resource that is unique within a resource group. This name can be used to
  access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:63:\"#/definitions/ApplicationGatewayIPConfigurationPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:49:\"ApplicationGatewayIPConfigurationPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Properties
  of IP configuration of application gateway\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Provisioning
  state of the application gateway subnet resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:99:\"Reference
  of the subnet resource. A subnet from where application gateway gets its private
  address \";}}}s:28:\"ApplicationGatewayListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Response
  for ListApplicationGateways Api service call\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"URL
  to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"List
  of ApplicationGateways in a resource group\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ApplicationGateway\";}s:4:\"type\";s:5:\"array\";}}}s:26:\"ApplicationGatewayPathRule\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:48:\"Path
  rule of URL path map of application gateway\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Name
  of the resource that is unique within a resource group. This name can be used to
  access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:56:\"#/definitions/ApplicationGatewayPathRulePropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:42:\"ApplicationGatewayPathRulePropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Properties
  of probe of application gateway\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"backendAddressPool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:46:\"Backend
  address pool resource of URL path map \";}s:19:\"backendHttpSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:47:\"Backend
  http settings resource of URL path map \";}s:5:\"paths\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Path
  rules of URL path map\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Path
  rule of URL path map resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}}}s:23:\"ApplicationGatewayProbe\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:28:\"Probe
  of application gateway\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Name
  of the resource that is unique within a resource group. This name can be used to
  access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/ApplicationGatewayProbePropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:39:\"ApplicationGatewayProbePropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Properties
  of probe of application gateway\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"host\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Host
  to send probe to \";s:4:\"type\";s:6:\"string\";}s:8:\"interval\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Probing
  interval in seconds \";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Relative
  path of probe \";s:4:\"type\";s:6:\"string\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"Protocol\";s:4:\"enum\";a:2:{i:0;s:4:\"Http\";i:1;s:5:\"Https\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:26:\"ApplicationGatewayProtocol\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Provisioning
  state of the backend http settings resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:7:\"timeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Probing
  timeout in seconds \";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"unhealthyThreshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Probing
  unhealthy threshold \";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:34:\"ApplicationGatewayPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Properties
  of Application Gateway\";s:10:\"properties\";O:8:\"stdClass\":16:{s:26:\"authenticationCertificates\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Authentication
  certificates of application gateway resource\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/ApplicationGatewayAuthenticationCertificate\";}s:4:\"type\";s:5:\"array\";}s:19:\"backendAddressPools\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Backend
  address pool of application gateway resource\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/ApplicationGatewayBackendAddressPool\";}s:4:\"type\";s:5:\"array\";}s:29:\"backendHttpSettingsCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Backend
  http settings of application gateway resource\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/ApplicationGatewayBackendHttpSettings\";}s:4:\"type\";s:5:\"array\";}s:24:\"frontendIPConfigurations\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Frontend
  IP addresses of application gateway resource\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/ApplicationGatewayFrontendIPConfiguration\";}s:4:\"type\";s:5:\"array\";}s:13:\"frontendPorts\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Frontend
  ports of application gateway resource\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/ApplicationGatewayFrontendPort\";}s:4:\"type\";s:5:\"array\";}s:23:\"gatewayIPConfigurations\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Subnets
  of application gateway resource\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/ApplicationGatewayIPConfiguration\";}s:4:\"type\";s:5:\"array\";}s:13:\"httpListeners\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"HTTP
  listeners of application gateway resource\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/ApplicationGatewayHttpListener\";}s:4:\"type\";s:5:\"array\";}s:16:\"operationalState\";O:8:\"stdClass\":5:{s:11:\"description\";s:49:\"Operational
  state of application gateway resource\";s:4:\"enum\";a:4:{i:0;s:7:\"Stopped\";i:1;s:8:\"Starting\";i:2;s:7:\"Running\";i:3;s:8:\"Stopping\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:34:\"ApplicationGatewayOperationalState\";}}s:6:\"probes\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Probes
  of application gateway resource\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ApplicationGatewayProbe\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Provisioning
  state of the ApplicationGateway resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:19:\"requestRoutingRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Request
  routing rules of application gateway resource\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/ApplicationGatewayRequestRoutingRule\";}s:4:\"type\";s:5:\"array\";}s:12:\"resourceGuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Resource
  guid property of the ApplicationGateway resource\";s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ApplicationGatewaySku\";s:11:\"description\";s:35:\"Sku
  of application gateway resource\";}s:15:\"sslCertificates\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"SSL
  certificates of application gateway resource\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ApplicationGatewaySslCertificate\";}s:4:\"type\";s:5:\"array\";}s:9:\"sslPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ApplicationGatewaySslPolicy\";s:11:\"description\";s:42:\"SSL
  policy of application gateway resource\";}s:11:\"urlPathMaps\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"URL
  path map of application gateway resource\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ApplicationGatewayUrlPathMap\";}s:4:\"type\";s:5:\"array\";}}}s:36:\"ApplicationGatewayRequestRoutingRule\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:43:\"Request
  routing rule of application gateway\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Name
  of the resource that is unique within a resource group. This name can be used to
  access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:66:\"#/definitions/ApplicationGatewayRequestRoutingRulePropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:52:\"ApplicationGatewayRequestRoutingRulePropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Properties
  of Request routing rule of application gateway\";s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"backendAddressPool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:53:\"Backend
  address pool resource of application gateway \";}s:19:\"backendHttpSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:46:\"Frontend
  port resource of application gateway \";}s:12:\"httpListener\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:46:\"Http
  listener resource of application gateway \";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Provisioning
  state of the request routing rule resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:8:\"ruleType\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"Rule
  type\";s:4:\"enum\";a:2:{i:0;s:5:\"Basic\";i:1;s:16:\"PathBasedRouting\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:40:\"ApplicationGatewayRequestRoutingRuleType\";}}s:10:\"urlPathMap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:45:\"Url
  path map resource of application gateway \";}}}s:21:\"ApplicationGatewaySku\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"SKU
  of application gateway\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"capacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Capacity
  (instance count) of application gateway\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Name
  of application gateway SKU\";s:4:\"enum\";a:3:{i:0;s:14:\"Standard_Small\";i:1;s:15:\"Standard_Medium\";i:2;s:14:\"Standard_Large\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:25:\"ApplicationGatewaySkuName\";}}s:4:\"tier\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Tier
  of application gateway\";s:4:\"enum\";a:1:{i:0;s:8:\"Standard\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:22:\"ApplicationGatewayTier\";}}}}s:32:\"ApplicationGatewaySslCertificate\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:39:\"SSL
  certificates of application gateway\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Name
  of the resource that is unique within a resource group. This name can be used to
  access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:62:\"#/definitions/ApplicationGatewaySslCertificatePropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:48:\"ApplicationGatewaySslCertificatePropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Properties
  of SSL certificates of application gateway\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"SSL
  Certificate data \";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"SSL
  Certificate password \";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Provisioning
  state of the ssl certificate resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:14:\"publicCertData\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"SSL
  Certificate public data \";s:4:\"type\";s:6:\"string\";}}}s:27:\"ApplicationGatewaySslPolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Application
  gateway SSL policy\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"disabledSslProtocols\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"SSL
  protocols to be disabled on Application Gateway\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:7:\"TLSv1_0\";i:1;s:7:\"TLSv1_1\";i:2;s:7:\"TLSv1_2\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:29:\"ApplicationGatewaySslProtocol\";}}s:4:\"type\";s:5:\"array\";}}}s:28:\"ApplicationGatewayUrlPathMap\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:33:\"UrlPathMap
  of application gateway\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Name
  of the resource that is unique within a resource group. This name can be used to
  access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:58:\"#/definitions/ApplicationGatewayUrlPathMapPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:44:\"ApplicationGatewayUrlPathMapPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Properties
  of UrlPathMap of application gateway\";s:10:\"properties\";O:8:\"stdClass\":4:{s:25:\"defaultBackendAddressPool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:54:\"Default
  backend address pool resource of URL path map \";}s:26:\"defaultBackendHttpSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:55:\"Default
  backend http settings resource of URL path map \";}s:9:\"pathRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Path
  rule of URL path map resource\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ApplicationGatewayPathRule\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Provisioning
  state of the backend http settings resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}}}s:23:\"AuthorizationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"Response
  for ListAuthorizations Api service callRetrieves all authorizations that belongs
  to an ExpressRouteCircuit\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Gets
  the authorizations in an ExpressRoute Circuit\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ExpressRouteCircuitAuthorization\";}s:4:\"type\";s:5:\"array\";}}}s:29:\"AuthorizationPropertiesFormat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"authorizationKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets the authorization key\";s:4:\"type\";s:6:\"string\";}s:22:\"authorizationUseStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Gets
  or sets AuthorizationUseStatus\";s:4:\"enum\";a:2:{i:0;s:9:\"Available\";i:1;s:5:\"InUse\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:22:\"AuthorizationUseStatus\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  provisioning state of the PublicIP resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}}}s:25:\"AzureAsyncOperationResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:533:\"The
  response body contains the status of the specified asynchronous operation, indicating
  whether it has succeeded, is in progress, or has failed. Note that this status is
  distinct from the HTTP status code returned for the Get Operation Status operation
  itself. If the asynchronous operation succeeded, the response body includes the
  HTTP status code for the successful request. If the asynchronous operation failed,
  the response body includes the HTTP status code for the failed request and error
  information regarding the failure.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Status
  of the AzureAsuncOperation\";s:4:\"enum\";a:3:{i:0;s:10:\"InProgress\";i:1;s:9:\"Succeeded\";i:2;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:22:\"NetworkOperationStatus\";}}}}s:18:\"BackendAddressPool\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:28:\"Pool
  of backend IP addresses\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/BackendAddressPoolPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:34:\"BackendAddressPoolPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Properties
  of BackendAddressPool\";s:10:\"properties\";O:8:\"stdClass\":4:{s:23:\"backendIPConfigurations\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Gets
  collection of references to IPs defined in NICs\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/NetworkInterfaceIPConfiguration\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:18:\"loadBalancingRules\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Gets
  Load Balancing rules that use this Backend Address Pool\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:15:\"outboundNatRule\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:54:\"Gets
  outbound rules that use this Backend Address Pool\";s:8:\"readOnly\";b:1;}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Get
  provisioning state of the PublicIP resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}}}s:11:\"BgpSettings\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"asn\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Gets
  or sets this BGP speaker's ASN\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"bgpPeeringAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Gets
  or sets the BGP peering address and BGP identifier of this BGP speaker\";s:4:\"type\";s:6:\"string\";}s:10:\"peerWeight\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Gets
  or sets the weight added to routes learned from this BGP speaker\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:24:\"ConnectionResetSharedKey\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"keyLength\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  virtual network connection reset shared key length\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:19:\"ConnectionSharedKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Response
  for GetConnectionSharedKey Api service call\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  virtual network connection shared key value\";s:4:\"type\";s:6:\"string\";}}}s:25:\"ConnectionSharedKeyResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Response
  for CheckConnectionSharedKey Api service call\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  virtual network connection shared key value\";s:4:\"type\";s:6:\"string\";}}}s:11:\"DhcpOptions\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"DHCPOptions
  contains an array of DNS servers available to VMs deployed in the virtual networkStandard
  DHCP option for a subnet overrides VNET DHCP options.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"dnsServers\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Gets
  or sets list of DNS servers IP addresses\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"DnsNameAvailabilityResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Response
  for CheckDnsNameAvailability Api service call\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"available\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Domain
  availability (True/False)\";s:4:\"type\";s:7:\"boolean\";}}}s:29:\"EffectiveNetworkSecurityGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Effective
  NetworkSecurityGroup\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"association\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/EffectiveNetworkSecurityGroupAssociation\";}s:22:\"effectiveSecurityRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Gets
  collection of effective security rules\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/EffectiveNetworkSecurityRule\";}s:4:\"type\";s:5:\"array\";}s:20:\"networkSecurityGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:53:\"Gets
  the id of network security group that is applied\";}}}s:40:\"EffectiveNetworkSecurityGroupAssociation\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Effective
  NetworkSecurityGroup association\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"networkInterface\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:44:\"Gets
  the id of network interface if assigned\";}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:33:\"Gets
  the id of subnet if assigned\";}}}s:39:\"EffectiveNetworkSecurityGroupListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Response
  for list effective network security groups api service call\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Gets
  list of effective network security groups\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/EffectiveNetworkSecurityGroup\";}s:4:\"type\";s:5:\"array\";}}}s:28:\"EffectiveNetworkSecurityRule\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Effective
  NetworkSecurityRules\";s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"access\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Gets
  network traffic is allowed or denied\";s:4:\"enum\";a:2:{i:0;s:5:\"Allow\";i:1;s:4:\"Deny\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"SecurityRuleAccess\";}}s:24:\"destinationAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Gets
  destination address prefix\";s:4:\"type\";s:6:\"string\";}s:20:\"destinationPortRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Gets
  destination port or range\";s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Gets
  the direction of the rule\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:21:\"SecurityRuleDirection\";}}s:32:\"expandedDestinationAddressPrefix\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Gets
  expanded destination address prefix\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:27:\"expandedSourceAddressPrefix\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Gets
  expanded source address prefix\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Gets
  the name of the security rule specified by the user (if created by the user)\";s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Gets
  the priority of the rule\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Gets
  Network protocol this rule applies to\";s:4:\"enum\";a:3:{i:0;s:3:\"Tcp\";i:1;s:3:\"Udp\";i:2;s:1:\"*\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"SecurityRuleProtocol\";}}s:19:\"sourceAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Gets
  source address prefix\";s:4:\"type\";s:6:\"string\";}s:15:\"sourcePortRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  source port or range\";s:4:\"type\";s:6:\"string\";}}}s:14:\"EffectiveRoute\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Effective
  Route\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"addressPrefix\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Gets
  address prefixes of the effective routes in CIDR notation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Gets
  the name of the user defined route. This is optional.\";s:4:\"type\";s:6:\"string\";}s:16:\"nextHopIpAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Gets
  the IP address of the next hop of the effective route\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"nextHopType\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Gets
  or sets the type of Azure hop the packet should be sent to.\";s:4:\"enum\";a:5:{i:0;s:21:\"VirtualNetworkGateway\";i:1;s:9:\"VnetLocal\";i:2;s:8:\"Internet\";i:3;s:16:\"VirtualAppliance\";i:4;s:4:\"None\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"RouteNextHopType\";}}s:6:\"source\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Gets
  who created the route\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:4:\"User\";i:2;s:21:\"VirtualNetworkGateway\";i:3;s:7:\"Default\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"EffectiveRouteSource\";}}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Gets
  value of effective route\";s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:7:\"Invalid\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:19:\"EffectiveRouteState\";}}}}s:24:\"EffectiveRouteListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Response
  for list effective route api service call\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Gets
  list of effective routes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EffectiveRoute\";}s:4:\"type\";s:5:\"array\";}}}s:5:\"Error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorDetails\";}s:4:\"type\";s:5:\"array\";}s:10:\"innerError\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"ErrorDetails\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"ExpressRouteCircuit\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:28:\"ExpressRouteCircuit
  resource\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Gets
  a unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/ExpressRouteCircuitPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ExpressRouteCircuitSku\";s:11:\"description\";s:16:\"Gets
  or sets sku\";}}}s:27:\"ExpressRouteCircuitArpTable\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  arp table associated with the ExpressRouteCircuit\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"age\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"Age.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"interface\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Interface.\";s:4:\"type\";s:6:\"string\";}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Gets
  ipAddress.\";s:4:\"type\";s:6:\"string\";}s:10:\"macAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Gets
  macAddress.\";s:4:\"type\";s:6:\"string\";}}}s:32:\"ExpressRouteCircuitAuthorization\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:47:\"Authorization
  in a ExpressRouteCircuit resource\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/AuthorizationPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:29:\"ExpressRouteCircuitListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Response
  for ListExpressRouteCircuit Api service call\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Gets
  a list of ExpressRouteCircuits in a resource group\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ExpressRouteCircuit\";}s:4:\"type\";s:5:\"array\";}}}s:26:\"ExpressRouteCircuitPeering\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:41:\"Peering
  in a ExpressRouteCircuit resource\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:56:\"#/definitions/ExpressRouteCircuitPeeringPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:32:\"ExpressRouteCircuitPeeringConfig\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Specifies
  the peering config\";s:10:\"properties\";O:8:\"stdClass\":4:{s:24:\"advertisedPublicPrefixes\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Gets
  or sets the reference of AdvertisedPublicPrefixes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:29:\"advertisedPublicPrefixesState\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Gets
  or sets AdvertisedPublicPrefixState of the Peering resource \";s:4:\"enum\";a:4:{i:0;s:13:\"NotConfigured\";i:1;s:11:\"Configuring\";i:2;s:10:\"Configured\";i:3;s:16:\"ValidationNeeded\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:53:\"ExpressRouteCircuitPeeringAdvertisedPublicPrefixState\";}}s:11:\"customerASN\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Gets
  or Sets CustomerAsn of the peering.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"routingRegistryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Gets
  or Sets RoutingRegistryName of the config.\";s:4:\"type\";s:6:\"string\";}}}s:36:\"ExpressRouteCircuitPeeringListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Response
  for ListPeering Api service callRetrieves all Peerings that belongs to an ExpressRouteCircuit\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Gets
  the peerings in an express route circuit\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ExpressRouteCircuitPeering\";}s:4:\"type\";s:5:\"array\";}}}s:42:\"ExpressRouteCircuitPeeringPropertiesFormat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:8:\"azureASN\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Gets
  or sets the azure ASN\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"gatewayManagerEtag\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Gets
  or sets the GatewayManager Etag\";s:4:\"type\";s:6:\"string\";}s:14:\"lastModifiedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Gets
  whether the provider or the customer last modified the peering\";s:4:\"type\";s:6:\"string\";}s:22:\"microsoftPeeringConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/ExpressRouteCircuitPeeringConfig\";s:11:\"description\";s:41:\"Gets
  or sets the mircosoft peering config\";}s:7:\"peerASN\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Gets
  or sets the peer ASN\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"peeringType\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Gets
  or sets PeeringType\";s:4:\"enum\";a:3:{i:0;s:18:\"AzurePublicPeering\";i:1;s:19:\"AzurePrivatePeering\";i:2;s:16:\"MicrosoftPeering\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:30:\"ExpressRouteCircuitPeeringType\";}}s:16:\"primaryAzurePort\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets the primary port\";s:4:\"type\";s:6:\"string\";}s:24:\"primaryPeerAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Gets
  or sets the primary address prefix\";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  provisioning state of the PublicIP resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:18:\"secondaryAzurePort\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Gets
  or sets the secondary port\";s:4:\"type\";s:6:\"string\";}s:26:\"secondaryPeerAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Gets
  or sets the secondary address prefix\";s:4:\"type\";s:6:\"string\";}s:9:\"sharedKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Gets
  or sets the shared key\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Gets
  or sets state of Peering\";s:4:\"enum\";a:2:{i:0;s:8:\"Disabled\";i:1;s:7:\"Enabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:31:\"ExpressRouteCircuitPeeringState\";}}s:5:\"stats\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ExpressRouteCircuitStats\";s:11:\"description\";s:21:\"Gets
  or peering stats\";}s:6:\"vlanId\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Gets
  or sets the vlan id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:35:\"ExpressRouteCircuitPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Properties
  of ExpressRouteCircuit\";s:10:\"properties\";O:8:\"stdClass\":10:{s:22:\"allowClassicOperations\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"allow
  classic operations\";s:4:\"type\";s:7:\"boolean\";}s:14:\"authorizations\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Gets
  or sets list of authorizations\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ExpressRouteCircuitAuthorization\";}s:4:\"type\";s:5:\"array\";}s:24:\"circuitProvisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Gets
  or sets CircuitProvisioningState state of the resource \";s:4:\"type\";s:6:\"string\";}s:18:\"gatewayManagerEtag\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Gets
  or sets the GatewayManager Etag\";s:4:\"type\";s:6:\"string\";}s:8:\"peerings\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Gets
  or sets list of peerings\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ExpressRouteCircuitPeering\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  provisioning state of the PublicIP resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:10:\"serviceKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Gets
  or sets ServiceKey\";s:4:\"type\";s:6:\"string\";}s:20:\"serviceProviderNotes\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Gets
  or sets ServiceProviderNotes\";s:4:\"type\";s:6:\"string\";}s:25:\"serviceProviderProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:58:\"#/definitions/ExpressRouteCircuitServiceProviderProperties\";s:11:\"description\";s:38:\"Gets
  or sets ServiceProviderProperties\";}s:32:\"serviceProviderProvisioningState\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Gets
  or sets ServiceProviderProvisioningState state of the resource \";s:4:\"enum\";a:4:{i:0;s:14:\"NotProvisioned\";i:1;s:12:\"Provisioning\";i:2;s:11:\"Provisioned\";i:3;s:14:\"Deprovisioning\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:32:\"ServiceProviderProvisioningState\";}}}}s:30:\"ExpressRouteCircuitRoutesTable\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  routes table associated with the ExpressRouteCircuit\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"locPrf\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"locPrf.\";s:4:\"type\";s:6:\"string\";}s:7:\"network\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"network.\";s:4:\"type\";s:6:\"string\";}s:7:\"nextHop\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"nextHop\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"path
  .\";s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"weight.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:37:\"ExpressRouteCircuitRoutesTableSummary\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  routes table associated with the ExpressRouteCircuit\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"as\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Autonomous
  system number.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"neighbor\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Neighbor.\";s:4:\"type\";s:6:\"string\";}s:11:\"statePfxRcd\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"Current
  state of the BGP session, and the number of prefixes that have been received from
  a neighbor or peer group.\";s:4:\"type\";s:6:\"string\";}s:6:\"upDown\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"The
  length of time that the BGP session has been in the Established state, or the current
  status if not in the Established state.\";s:4:\"type\";s:6:\"string\";}s:1:\"v\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"BGP
  version number spoken to the neighbor.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:44:\"ExpressRouteCircuitServiceProviderProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Contains
  ServiceProviderProperties in an ExpressRouteCircuit\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"bandwidthInMbps\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Gets
  or sets BandwidthInMbps.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"peeringLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Gets
  or sets peering location.\";s:4:\"type\";s:6:\"string\";}s:19:\"serviceProviderName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Gets
  or sets serviceProviderName.\";s:4:\"type\";s:6:\"string\";}}}s:22:\"ExpressRouteCircuitSku\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Contains
  sku in an ExpressRouteCircuit\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"family\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Gets
  or sets family of the sku.\";s:4:\"enum\";a:2:{i:0;s:13:\"UnlimitedData\";i:1;s:11:\"MeteredData\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:28:\"ExpressRouteCircuitSkuFamily\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets name of the sku.\";s:4:\"type\";s:6:\"string\";}s:4:\"tier\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Gets
  or sets tier of the sku.\";s:4:\"enum\";a:2:{i:0;s:8:\"Standard\";i:1;s:7:\"Premium\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:26:\"ExpressRouteCircuitSkuTier\";}}}}s:24:\"ExpressRouteCircuitStats\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Contains
  Stats associated with the peering\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"primarybytesIn\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Gets
  BytesIn of the peering.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"primarybytesOut\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Gets
  BytesOut of the peering.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:16:\"secondarybytesIn\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Gets
  BytesIn of the peering.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"secondarybytesOut\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Gets
  BytesOut of the peering.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:38:\"ExpressRouteCircuitsArpTableListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Response
  for ListArpTable associated with the Express Route Circuits Api\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Gets
  List of ArpTable\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ExpressRouteCircuitArpTable\";}s:4:\"type\";s:5:\"array\";}}}s:41:\"ExpressRouteCircuitsRoutesTableListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Response
  for ListRoutesTable associated with the Express Route Circuits Api\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Gets
  List of RoutesTable\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/ExpressRouteCircuitRoutesTable\";}s:4:\"type\";s:5:\"array\";}}}s:48:\"ExpressRouteCircuitsRoutesTableSummaryListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Response
  for ListRoutesTable associated with the Express Route Circuits Api\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Gets
  List of RoutesTable\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/ExpressRouteCircuitRoutesTableSummary\";}s:4:\"type\";s:5:\"array\";}}}s:27:\"ExpressRouteServiceProvider\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:35:\"ExpressRouteResourceProvider
  object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/ExpressRouteServiceProviderPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:44:\"ExpressRouteServiceProviderBandwidthsOffered\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Contains
  Bandwidths offered in ExpressRouteServiceProviders\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"offerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Gets
  the OfferName\";s:4:\"type\";s:6:\"string\";}s:11:\"valueInMbps\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Gets
  the ValueInMbps.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:37:\"ExpressRouteServiceProviderListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Response
  for ListExpressRouteServiceProvider Api service call\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Gets
  List of ExpressRouteResourceProvider\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ExpressRouteServiceProvider\";}s:4:\"type\";s:5:\"array\";}}}s:43:\"ExpressRouteServiceProviderPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Properties
  of ExpressRouteServiceProvider\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"bandwidthsOffered\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Gets
  or bandwidths offered\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/ExpressRouteServiceProviderBandwidthsOffered\";}s:4:\"type\";s:5:\"array\";}s:16:\"peeringLocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Gets
  or list of peering locations\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Gets
  provisioning state of the resource \";s:4:\"type\";s:6:\"string\";}}}s:23:\"FrontendIPConfiguration\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:40:\"Frontend
  IP address of the load balancer\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/FrontendIPConfigurationPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:39:\"FrontendIPConfigurationPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Properties
  of Frontend IP Configuration of the load balancer\";s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"inboundNatPools\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"Read
  only. Inbound pools URIs that use this frontend IP\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:15:\"inboundNatRules\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"Read
  only. Inbound rules URIs that use this frontend IP\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:18:\"loadBalancingRules\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Gets
  Load Balancing rules URIs that use this frontend IP\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:16:\"outboundNatRules\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Read
  only. Outbound rules URIs that use this frontend IP\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:16:\"privateIPAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Gets
  or sets the privateIPAddress of the IP Configuration\";s:4:\"type\";s:6:\"string\";}s:25:\"privateIPAllocationMethod\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Gets
  or sets PrivateIP allocation method\";s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"IPAllocationMethod\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  provisioning state of the PublicIP resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:15:\"publicIPAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PublicIPAddress\";s:11:\"description\";s:51:\"Gets
  or sets the reference of the PublicIP resource\";}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Subnet\";s:11:\"description\";s:49:\"Gets
  or sets the reference of the subnet resource\";}}}s:27:\"IPAddressAvailabilityResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Response
  for CheckIPAddressAvailability Api service call\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"available\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Private
  IP address availability\";s:4:\"type\";s:7:\"boolean\";}s:20:\"availableIPAddresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Contains
  other available private IP addresses if the asked for address is taken\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:15:\"IPConfiguration\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:15:\"IPConfiguration\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/IPConfigurationPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:31:\"IPConfigurationPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Properties
  of IPConfiguration\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"privateIPAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Gets
  or sets the privateIPAddress of the IP Configuration\";s:4:\"type\";s:6:\"string\";}s:25:\"privateIPAllocationMethod\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Gets
  or sets PrivateIP allocation method\";s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"IPAllocationMethod\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  provisioning state of the PublicIP resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:15:\"publicIPAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PublicIPAddress\";s:11:\"description\";s:51:\"Gets
  or sets the reference of the PublicIP resource\";}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Subnet\";s:11:\"description\";s:49:\"Gets
  or sets the reference of the subnet resource\";}}}s:14:\"InboundNatPool\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:37:\"Inbound
  NAT pool of the load balancer\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/InboundNatPoolPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:30:\"InboundNatPoolPropertiesFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Properties
  of Inbound NAT pool\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"backendPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:508:\"Gets
  or sets a port used for internal connections on the endpoint. The localPort attribute
  maps the eternal port of the endpoint to an internal port on a role. This is useful
  in scenarios where a role must communicate to an internal component on a port that
  is different from the one that is exposed externally. If not specified, the value
  of localPort is the same as the port attribute. Set the value of localPort to '*'
  to automatically assign an unallocated port that is discoverable using the runtime
  API\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:23:\"frontendIPConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:49:\"Gets
  or sets a reference to frontend IP Addresses\";}s:20:\"frontendPortRangeEnd\";O:8:\"stdClass\":3:{s:11:\"description\";s:225:\"Gets
  or sets the ending port range for the NAT pool. You can specify any port number
  you choose, but the port numbers specified for each role in the service must be
  unique. Possible values range between 1 and 65535, inclusive\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"frontendPortRangeStart\";O:8:\"stdClass\":3:{s:11:\"description\";s:227:\"Gets
  or sets the starting port range for the NAT pool. You can specify any port number
  you choose, but the port numbers specified for each role in the service must be
  unique. Possible values range between 1 and 65535, inclusive\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"Gets
  or sets the transport protocol for the endpoint. Possible values are Udp or Tcp\";s:4:\"enum\";a:2:{i:0;s:3:\"Udp\";i:1;s:3:\"Tcp\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"TransportProtocol\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  provisioning state of the PublicIP resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:8:\"protocol\";i:1;s:22:\"frontendPortRangeStart\";i:2;s:20:\"frontendPortRangeEnd\";i:3;s:11:\"backendPort\";}}s:14:\"InboundNatRule\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:36:\"Inbound
  NAT rule of the loadbalancer\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/InboundNatRulePropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:30:\"InboundNatRulePropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Properties
  of Inbound NAT rule\";s:10:\"properties\";O:8:\"stdClass\":8:{s:22:\"backendIPConfiguration\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:45:\"#/definitions/NetworkInterfaceIPConfiguration\";s:11:\"description\";s:186:\"Gets
  or sets a reference to a private ip address defined on a NetworkInterface of a VM.
  Traffic sent to frontendPort of each of the frontendIPConfigurations is forwarded
  to the backed IP\";s:8:\"readOnly\";b:1;}s:11:\"backendPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:508:\"Gets
  or sets a port used for internal connections on the endpoint. The localPort attribute
  maps the eternal port of the endpoint to an internal port on a role. This is useful
  in scenarios where a role must communicate to an internal component on a port that
  is different from the one that is exposed externally. If not specified, the value
  of localPort is the same as the port attribute. Set the value of localPort to '*'
  to automatically assign an unallocated port that is discoverable using the runtime
  API\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"enableFloatingIP\";O:8:\"stdClass\":2:{s:11:\"description\";s:276:\"Configures
  a virtual machine's endpoint for the floating IP capability required to configure
  a SQL AlwaysOn availability Group. This setting is required when using the SQL Always
  ON availability Groups in SQL server. This setting can't be changed after you create
  the endpoint\";s:4:\"type\";s:7:\"boolean\";}s:23:\"frontendIPConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:49:\"Gets
  or sets a reference to frontend IP Addresses\";}s:12:\"frontendPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"Gets
  or sets the port for the external endpoint. You can specify any port number you
  choose, but the port numbers specified for each role in the service must be unique.
  Possible values range between 1 and 65535, inclusive\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"idleTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:190:\"Gets
  or sets the timeout for the Tcp idle connection. The value can be set between 4
  and 30 minutes. The default value is 4 minutes. This element is only used when the
  protocol is set to Tcp\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"Gets
  or sets the transport protocol for the endpoint. Possible values are Udp or Tcp\";s:4:\"enum\";a:2:{i:0;s:3:\"Udp\";i:1;s:3:\"Tcp\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"TransportProtocol\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  provisioning state of the PublicIP resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}}}s:12:\"LoadBalancer\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:21:\"LoadBalancer
  resource\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Gets
  a unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/LoadBalancerPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:22:\"LoadBalancerListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Response
  for ListLoadBalancers Api service call\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Gets
  a list of LoadBalancers in a resource group\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LoadBalancer\";}s:4:\"type\";s:5:\"array\";}}}s:28:\"LoadBalancerPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Properties
  of Load Balancer\";s:10:\"properties\";O:8:\"stdClass\":9:{s:19:\"backendAddressPools\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Gets
  or sets Pools of backend IP addresses\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BackendAddressPool\";}s:4:\"type\";s:5:\"array\";}s:24:\"frontendIPConfigurations\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Gets
  or sets frontend IP addresses of the load balancer\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/FrontendIPConfiguration\";}s:4:\"type\";s:5:\"array\";}s:15:\"inboundNatPools\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Gets
  or sets inbound NAT pools\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InboundNatPool\";}s:4:\"type\";s:5:\"array\";}s:15:\"inboundNatRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Gets
  or sets list of inbound rules\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InboundNatRule\";}s:4:\"type\";s:5:\"array\";}s:18:\"loadBalancingRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Gets
  or sets load balancing rules\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LoadBalancingRule\";}s:4:\"type\";s:5:\"array\";}s:16:\"outboundNatRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Gets
  or sets outbound NAT rules\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OutboundNatRule\";}s:4:\"type\";s:5:\"array\";}s:6:\"probes\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Gets
  or sets list of Load balancer probes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Probe\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  provisioning state of the PublicIP resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceGuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Gets
  or sets resource guid property of the Load balancer resource\";s:4:\"type\";s:6:\"string\";}}}s:17:\"LoadBalancingRule\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:26:\"Rules
  of the load balancer\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/LoadBalancingRulePropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:33:\"LoadBalancingRulePropertiesFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Properties
  of the load balancer\";s:10:\"properties\";O:8:\"stdClass\":10:{s:18:\"backendAddressPool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:116:\"Gets
  or sets  a reference to a pool of DIPs. Inbound traffic is randomly load balanced
  across IPs in the backend IPs\";}s:11:\"backendPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:508:\"Gets
  or sets a port used for internal connections on the endpoint. The localPort attribute
  maps the eternal port of the endpoint to an internal port on a role. This is useful
  in scenarios where a role must communicate to an internal component on a port that
  is different from the one that is exposed externally. If not specified, the value
  of localPort is the same as the port attribute. Set the value of localPort to '*'
  to automatically assign an unallocated port that is discoverable using the runtime
  API\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"enableFloatingIP\";O:8:\"stdClass\":2:{s:11:\"description\";s:276:\"Configures
  a virtual machine's endpoint for the floating IP capability required to configure
  a SQL AlwaysOn availability Group. This setting is required when using the SQL Always
  ON availability Groups in SQL server. This setting can't be changed after you create
  the endpoint\";s:4:\"type\";s:7:\"boolean\";}s:23:\"frontendIPConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:49:\"Gets
  or sets a reference to frontend IP Addresses\";}s:12:\"frontendPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"Gets
  or sets the port for the external endpoint. You can specify any port number you
  choose, but the port numbers specified for each role in the service must be unique.
  Possible values range between 1 and 65535, inclusive\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"idleTimeoutInMinutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:190:\"Gets
  or sets the timeout for the Tcp idle connection. The value can be set between 4
  and 30 minutes. The default value is 4 minutes. This element is only used when the
  protocol is set to Tcp\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"loadDistribution\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"Gets
  or sets the load distribution policy for this rule\";s:4:\"enum\";a:3:{i:0;s:7:\"Default\";i:1;s:8:\"SourceIP\";i:2;s:16:\"SourceIPProtocol\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"LoadDistribution\";}}s:5:\"probe\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:86:\"Gets
  or sets the reference of the load balancer probe used by the Load Balancing rule.\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:93:\"Gets
  or sets the transport protocol for the external endpoint. Possible values are Udp
  or Tcp\";s:4:\"enum\";a:2:{i:0;s:3:\"Udp\";i:1;s:3:\"Tcp\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"TransportProtocol\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  provisioning state of the PublicIP resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"protocol\";i:1;s:12:\"frontendPort\";}}s:19:\"LocalNetworkGateway\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:47:\"A
  common class for general resource information\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Gets
  a unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/LocalNetworkGatewayPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:29:\"LocalNetworkGatewayListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Response
  for ListLocalNetworkGateways Api service call\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Gets
  List of LocalNetworkGateways that exists in a resource group\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/LocalNetworkGateway\";}s:4:\"type\";s:5:\"array\";}}}s:35:\"LocalNetworkGatewayPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"LocalNetworkGateway
  properties\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"bgpSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BgpSettings\";s:11:\"description\";s:44:\"Local
  network gateway's BGP speaker settings\";}s:16:\"gatewayIpAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"IP
  address of local network gateway.\";s:4:\"type\";s:6:\"string\";}s:24:\"localNetworkAddressSpace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AddressSpace\";s:11:\"description\";s:32:\"Local
  network site Address space\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Gets
  provisioning state of the LocalNetworkGateway resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceGuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Gets
  or sets resource guid property of the LocalNetworkGateway resource\";s:4:\"type\";s:6:\"string\";}}}s:16:\"NetworkInterface\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:38:\"A
  NetworkInterface in a resource group\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Gets
  a unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/NetworkInterfacePropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:27:\"NetworkInterfaceDnsSettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Dns
  settings of a network interface\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"appliedDnsServers\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Gets
  or sets list of Applied DNS servers IP addresses\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"dnsServers\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Gets
  or sets list of DNS servers IP addresses\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"internalDnsNameLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Gets
  or sets the internal DNS name\";s:4:\"type\";s:6:\"string\";}s:24:\"internalDomainNameSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Gets
  or sets internal domain name suffix of the NIC.\";s:4:\"type\";s:6:\"string\";}s:12:\"internalFqdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Gets
  or sets the internal fqdn.\";s:4:\"type\";s:6:\"string\";}}}s:31:\"NetworkInterfaceIPConfiguration\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:37:\"IPConfiguration
  in a NetworkInterface\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:61:\"#/definitions/NetworkInterfaceIPConfigurationPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:47:\"NetworkInterfaceIPConfigurationPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Properties
  of IPConfiguration\";s:10:\"properties\";O:8:\"stdClass\":10:{s:37:\"applicationGatewayBackendAddressPools\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Gets
  or sets the reference of ApplicationGatewayBackendAddressPool resource\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/ApplicationGatewayBackendAddressPool\";}s:4:\"type\";s:5:\"array\";}s:31:\"loadBalancerBackendAddressPools\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Gets
  or sets the reference of LoadBalancerBackendAddressPool resource\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BackendAddressPool\";}s:4:\"type\";s:5:\"array\";}s:27:\"loadBalancerInboundNatRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Gets
  or sets list of references of LoadBalancerInboundNatRules\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InboundNatRule\";}s:4:\"type\";s:5:\"array\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Gets
  whether this is a primary customer address on the NIC\";s:4:\"type\";s:7:\"boolean\";}s:16:\"privateIPAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"privateIPAddressVersion\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Gets
  or sets PrivateIP address version (IPv4/IPv6)\";s:4:\"enum\";a:2:{i:0;s:4:\"IPv4\";i:1;s:4:\"IPv6\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"IPVersion\";}}s:25:\"privateIPAllocationMethod\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Gets
  or sets PrivateIP allocation method\";s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"IPAllocationMethod\";}}s:17:\"provisioningState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"publicIPAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PublicIPAddress\";}s:6:\"subnet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Subnet\";}}}s:26:\"NetworkInterfaceListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Response
  for ListNetworkInterface Api service call\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Gets
  or sets list of NetworkInterfaces in a resource group\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NetworkInterface\";}s:4:\"type\";s:5:\"array\";}}}s:32:\"NetworkInterfacePropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"NetworkInterface
  properties. \";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"dnsSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/NetworkInterfaceDnsSettings\";s:11:\"description\";s:46:\"Gets
  or sets DNS settings in network interface\";}s:18:\"enableIPForwarding\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Gets
  or sets whether IPForwarding is enabled on the NIC\";s:4:\"type\";s:7:\"boolean\";}s:16:\"ipConfigurations\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Gets
  or sets list of IPConfigurations of the network interface\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/NetworkInterfaceIPConfiguration\";}s:4:\"type\";s:5:\"array\";}s:10:\"macAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Gets
  the MAC address of the network interface\";s:4:\"type\";s:6:\"string\";}s:20:\"networkSecurityGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/NetworkSecurityGroup\";s:11:\"description\";s:63:\"Gets
  or sets the reference of the NetworkSecurityGroup resource\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Gets
  whether this is a primary NIC on a virtual machine\";s:4:\"type\";s:7:\"boolean\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  provisioning state of the PublicIP resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceGuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Gets
  or sets resource guid property of the network interface resource\";s:4:\"type\";s:6:\"string\";}s:14:\"virtualMachine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:46:\"Gets
  or sets the reference of a VirtualMachine\";}}}s:20:\"NetworkSecurityGroup\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:29:\"NetworkSecurityGroup
  resource\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Gets
  a unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/NetworkSecurityGroupPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:30:\"NetworkSecurityGroupListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Response
  for ListNetworkSecurityGroups Api service call\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  the URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Gets
  List of NetworkSecurityGroups\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/NetworkSecurityGroup\";}s:4:\"type\";s:5:\"array\";}}}s:36:\"NetworkSecurityGroupPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Network
  Security Group resource\";s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"defaultSecurityRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Gets
  or default security rules of network security group\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SecurityRule\";}s:4:\"type\";s:5:\"array\";}s:17:\"networkInterfaces\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Gets
  collection of references to Network Interfaces\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NetworkInterface\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  provisioning state of the PublicIP resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceGuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Gets
  or sets resource guid property of the network security group resource\";s:4:\"type\";s:6:\"string\";}s:13:\"securityRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Gets
  or sets security rules of network security group\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SecurityRule\";}s:4:\"type\";s:5:\"array\";}s:7:\"subnets\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Gets
  collection of references to subnets\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Subnet\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:15:\"OutboundNatRule\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:38:\"Outbound
  NAT pool of the load balancer\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/OutboundNatRulePropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:31:\"OutboundNatRulePropertiesFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Outbound
  NAT pool of the load balancer\";s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"allocatedOutboundPorts\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Gets
  or sets the number of outbound ports to be used for SNAT\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"backendAddressPool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:116:\"Gets
  or sets a reference to a pool of DIPs. Outbound traffic is randomly load balanced
  across IPs in the backend IPs\";}s:24:\"frontendIPConfigurations\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Gets
  or sets Frontend IP addresses of the load balancer\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  provisioning state of the PublicIP resource Updating/Deleting/Failed\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:18:\"backendAddressPool\";}}s:5:\"Probe\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:19:\"Load
  balancer Probe\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  unique read-only string that changes whenever the resource is updated\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ProbePropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:21:\"ProbePropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"intervalInSeconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:312:\"Gets
  or sets the interval, in seconds, for how frequently to probe the endpoint for health
  status. Typically, the interval is slightly less than half the allocated timeout
  period (in seconds) which allows two full probes before taking the instance out
  of rotation. The default value is 15, the minimum value is 5\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"loadBalancingRules\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Gets
  Load balancer rules that use this probe\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:14:\"numberOfProbes\";O:8:\"stdClass\":3:{s:11:\"description\";s:246:\"Gets
  or sets the number of probes where if no response, will result in stopping further
  traffic from being delivered to the endpoint. This values allows endpoints to be
  taken out of rotation faster or slower than the typical times used in Azure. \";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Gets
  or sets Port for communicating the probe. Possible values range from 1 to 65535,
  inclusive.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:11:\"description\";s:261:\"Gets
  or sets the protocol of the end point. Possible values are http or Tcp. If Tcp is
  specified, a received ACK is required for the probe to be successful. If http is
  specified,a 200 OK response from the specifies URI is required for the probe to
  be successful\";s:4:\"enum\";a:2:{i:0;s:4:\"Http\";i:1;s:3:\"Tcp\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"ProbeProtocol\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
[...]
