---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:10:\"2018-03-01\";s:5:\"title\";s:23:\"MonitorManagementClient\";s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:23:\"MonitorManagementClient\";}s:11:\"description\";s:65:\"Azure
  Monitor client to create/update/delete metric based alerts.\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Insights/metricAlerts:
    get:
      tags:
      - MetricAlerts
      description: Retrieve alert rule definitions in a subscription.
      operationId: MetricAlerts_ListBySubscription
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successful request for a list of metric alerts
          schema:
            $ref: '#/definitions/MetricAlertResourceCollection'
        default:
          description: BadRequest
          schema:
            $ref: ../../stable/2016-03-01/alertRules_API.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: ~
      x-ms-examples:
        List metric alert rules:
          $ref: ./examples/listMetricAlert.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/metricAlerts:
    get:
      tags:
      - MetricAlerts
      description: Retrieve alert rule defintions in a resource group.
      operationId: MetricAlerts_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successful request for a list of metric alerts
          schema:
            $ref: '#/definitions/MetricAlertResourceCollection'
        default:
          description: BadRequest
          schema:
            $ref: ../../stable/2016-03-01/alertRules_API.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: ~
      x-ms-examples:
        List metric alert rules:
          $ref: ./examples/listMetricAlert.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/metricAlerts/{ruleName}:
    get:
      tags:
      - MetricAlerts
      description: Retrieve an alert rule definiton.
      operationId: MetricAlerts_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/RuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successful request for a list of metric alerts
          schema:
            $ref: '#/definitions/MetricAlertResource'
        default:
          description: BadRequest
          schema:
            $ref: ../../stable/2016-03-01/alertRules_API.json#/definitions/ErrorResponse
      x-ms-examples:
        Get an alert rule:
          $ref: ./examples/getMetricAlert.json
    put:
      tags:
      - MetricAlerts
      description: Create or update an metric alert definition.
      operationId: MetricAlerts_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/RuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/MetricAlertResource'
        description: The parameters of the rule to create or update.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MetricAlertResource'
        default:
          description: BadRequest
          schema:
            $ref: ../../stable/2016-03-01/alertRules_API.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or update an alert rule:
          $ref: ./examples/createOrUpdateMetricAlert.json
    patch:
      tags:
      - MetricAlerts
      description: Update an metric alert definition.
      operationId: MetricAlerts_Update
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/RuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/MetricAlertResourcePatch'
        description: The parameters of the rule to update.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MetricAlertResource'
        default:
          description: BadRequest
          schema:
            $ref: ../../stable/2016-03-01/alertRules_API.json#/definitions/ErrorResponse
      x-ms-examples:
        Create or update an alert rule:
          $ref: ./examples/UpdateMetricAlert.json
    delete:
      tags:
      - MetricAlerts
      description: Delete an alert rule defitiniton.
      operationId: MetricAlerts_Delete
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/RuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        204:
          description: 'No content: the request was successful, but the response is
            empty'
        200:
          description: Successful request to delete an metric alert rule
      x-ms-examples:
        Delete an alert rule:
          $ref: ./examples/deleteMetricAlert.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/metricAlerts/{ruleName}/status:
    get:
      tags:
      - MetricAlertsStatus
      description: Retrieve an alert rule status.
      operationId: MetricAlertsStatus_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/RuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successful request for a list of metric alerts
          schema:
            $ref: '#/definitions/MetricAlertStatusCollection'
        default:
          description: BadRequest
          schema:
            $ref: ../../stable/2016-03-01/alertRules_API.json#/definitions/ErrorResponse
      x-ms-examples:
        Get an alert rule status:
          $ref: ./examples/getMetricAlertStatus.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/metricAlerts/{ruleName}/status/{statusName}
  : get:
      tags:
      - MetricAlertsStatus
      description: Retrieve an alert rule status.
      operationId: MetricAlertsStatus_ListByName
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/RuleNameParameter'
      - $ref: '#/parameters/StatusNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successful request for a list of metric alerts
          schema:
            $ref: '#/definitions/MetricAlertStatusCollection'
        default:
          description: BadRequest
          schema:
            $ref: ../../stable/2016-03-01/alertRules_API.json#/definitions/ErrorResponse
      x-ms-examples:
        Get an alert rule status:
          $ref: ./examples/getMetricAlertStatusByName.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:8:\"Resource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Azure
  resource Id\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Azure
  resource name\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:19:\"Azure
  resource type\";}s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Resource
  location\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;s:11:\"description\";s:24:\"An
  azure resource object\";}s:17:\"MetricAlertAction\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"An
  alert action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"actionGroupId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"the
  id of the action group to use.\";}s:17:\"webhookProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:119:\"the
  dictionary of custom properties to include with the post operation. These data are
  appended to the webhook payload.\";}s:11:\"description\";s:35:\"The properties of
  a webhook object.\";}}}s:21:\"MetricAlertProperties\";O:8:\"stdClass\":3:{s:8:\"required\";a:6:{i:0;s:7:\"enabled\";i:1;s:11:\"description\";i:2;s:8:\"severity\";i:3;s:19:\"evaluationFrequency\";i:4;s:10:\"windowSize\";i:5;s:8:\"criteria\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"the
  description of the metric alert that will be included in the alert email.\";}s:8:\"severity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:30:\"Alert
  severity {0, 1, 2, 3, 4}\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:60:\"the
  flag that indicates whether the metric alert is enabled.\";}s:6:\"scopes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:62:\"the
  list of resource id's that this metric alert is scoped to.\";}s:19:\"evaluationFrequency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:80:\"how
  often the metric alert is evaluated represented in ISO 8601 duration format.\";}s:10:\"windowSize\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:111:\"the
  period of time (in ISO 8601 duration format) that is used to monitor alert activity
  based on the threshold.\";}s:8:\"criteria\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MetricAlertCriteria\";s:11:\"description\";s:48:\"defines
  the specific alert criteria information.\";}s:12:\"autoMitigate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:73:\"the
  flag that indicates whether the alert should be auto resolved or not.\";}s:7:\"actions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/MetricAlertAction\";}s:11:\"description\";s:116:\"the
  array of actions that are performed when the alert rule becomes active, and when
  an alert condition is resolved.\";}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:49:\"Last
  time the rule was updated in ISO8601 format.\";}}s:11:\"description\";s:14:\"An
  alert rule.\";}s:19:\"MetricAlertResource\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:35:\"#/definitions/MetricAlertProperties\";s:11:\"description\";s:42:\"The
  alert rule properties of the resource.\";}}s:11:\"description\";s:26:\"The metric
  alert resource.\";}s:24:\"MetricAlertResourcePatch\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:35:\"#/definitions/MetricAlertProperties\";s:11:\"description\";s:42:\"The
  alert rule properties of the resource.\";}}s:11:\"description\";s:47:\"The metric
  alert resource for patch operations.\";}s:29:\"MetricAlertResourceCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/MetricAlertResource\";}s:11:\"description\";s:40:\"the
  values for the alert rule resources.\";}}s:11:\"description\";s:48:\"Represents
  a collection of alert rule resources.\";}s:27:\"MetricAlertStatusCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/MetricAlertStatus\";}s:11:\"description\";s:40:\"the
  values for the alert rule resources.\";}}s:11:\"description\";s:48:\"Represents
  a collection of alert rule resources.\";}s:27:\"MetricAlertStatusProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"An
  alert status properties.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"dimensions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:48:\"An
  object describing the type of the dimensions.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"status
  value\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:37:\"UTC
  time when the status was checked.\";}}}s:17:\"MetricAlertStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"An
  alert status.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  status name.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  alert rule arm id.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  extended resource type name.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:0;s:4:\"$ref\";s:41:\"#/definitions/MetricAlertStatusProperties\";s:11:\"description\";s:55:\"The
  alert status properties of the metric alert status.\";}}}s:19:\"MetricAlertCriteria\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"discriminator\";s:10:\"odata.type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"odata.type\";O:8:\"stdClass\":3:{s:4:\"enum\";a:1:{i:0;s:60:\"Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"odatatype\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:41:\"specifies
  the type of the alert criteria.\";}}s:8:\"required\";a:1:{i:0;s:10:\"odata.type\";}s:11:\"description\";s:64:\"The
  rule criteria that defines the conditions of the alert rule.\";}s:47:\"MetricAlertSingleResourceMultipleMetricCriteria\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:60:\"Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/MetricAlertCriteria\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"allOf\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MetricCriteria\";}s:11:\"description\";s:57:\"The
  list of metric criteria for this 'all of' operation. \";}}s:11:\"description\";s:92:\"Specifies
  the metric alert criteria for a single resource that has multiple metric criteria.\";}s:14:\"MetricCriteria\";O:8:\"stdClass\":3:{s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:10:\"metricName\";i:2;s:8:\"operator\";i:3;s:15:\"timeAggregation\";i:4;s:9:\"threshold\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Name
  of the criteria.\";}s:10:\"metricName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of the metric.\";}s:15:\"metricNamespace\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Namespace
  of the metric.\";}s:8:\"operator\";O:8:\"stdClass\":3:{s:4:\"enum\";a:6:{i:0;s:6:\"Equals\";i:1;s:9:\"NotEquals\";i:2;s:11:\"GreaterThan\";i:3;s:18:\"GreaterThanOrEqual\";i:4;s:8:\"LessThan\";i:5;s:15:\"LessThanOrEqual\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"Operator\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:22:\"the
  criteria operator.\";}s:15:\"timeAggregation\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:7:\"Average\";i:1;s:7:\"Minimum\";i:2;s:7:\"Maximum\";i:3;s:5:\"Total\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"AggregationType\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:36:\"the
  criteria time aggregation types.\";}s:9:\"threshold\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:54:\"the
  criteria threshold value that activates the alert.\";}s:10:\"dimensions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MetricDimension\";}s:11:\"description\";s:29:\"List
  of dimension conditions.\";}}s:11:\"description\";s:28:\"Criterion to filter metrics.\";}s:15:\"MetricDimension\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:8:\"operator\";i:2;s:6:\"values\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Name
  of the dimension.\";}s:8:\"operator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"the
  dimension operator.\";}s:6:\"values\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:25:\"list
  of dimension values.\";}}s:11:\"description\";s:29:\"Specifies a metric dimension.\";}}"
...
