---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:26:\"AppServicePlans API Client\";s:7:\"version\";s:10:\"2016-09-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:155:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-09-01/AppServicePlans.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:19:\"web-AppServicePlans\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"azure_web_appserviceplans\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:27:\"AppServicePlanPatchResource\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:36:\"ARM
  resource for a app service plan.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"AppServicePlanPatchResource
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":17:{s:13:\"adminSiteName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"App
  Service plan administration site.\";s:4:\"type\";s:6:\"string\";}s:9:\"geoRegion\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Geographical
  location for the App Service plan.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:25:\"hostingEnvironmentProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Specification
  for an App Service Environment to use for this resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Resource
  ID of the App Service Environment.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Name
  of the App Service Environment.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Resource
  type of the App Service Environment.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"isSpot\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"If
  <code>true</code>, this App Service Plan owns spot instances.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"maximumNumberOfWorkers\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Maximum
  number of instances that can be assigned to this App Service plan.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Name
  for the App Service plan.\";s:4:\"type\";s:6:\"string\";}s:13:\"numberOfSites\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Number
  of apps assigned to this App Service plan.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:14:\"perSiteScaling\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:192:\"If
  <code>true</code>, apps assigned to this App Service plan can be scaled independently.\nIf
  <code>false</code>, apps assigned to this App Service plan will scale to all instances
  of the plan.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:50:\"Provisioning
  state of the App Service Environment.\";s:4:\"enum\";a:5:{i:0;s:9:\"Succeeded\";i:1;s:6:\"Failed\";i:2;s:8:\"Canceled\";i:3;s:10:\"InProgress\";i:4;s:8:\"Deleting\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"ProvisioningState\";}}s:8:\"reserved\";O:8:\"stdClass\":4:{s:7:\"default\";b:0;s:11:\"description\";s:74:\"If
  Linux app service plan <code>true</code>, <code>false</code> otherwise.\";s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:13:\"resourceGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Resource
  group of the App Service plan.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"spotExpirationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  time when the server farm expires. Valid only if it is a spot server farm.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":5:{s:11:\"description\";s:24:\"App
  Service plan status.\";s:4:\"enum\";a:3:{i:0;s:5:\"Ready\";i:1;s:7:\"Pending\";i:2;s:8:\"Creating\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"StatusOptions\";}}s:12:\"subscription\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"App
  Service plan subscription.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"targetWorkerCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Scaling
  worker count.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"targetWorkerSizeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Scaling
  worker size ID.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"workerTierName\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Target
  worker tier assigned to the App Service plan.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:26:\"HybridConnectionCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Collection
  of hostname bindings.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:5:\"items\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:74:\"Hybrid
  Connection contract. This is used to configure a Hybrid Connection.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"HybridConnection
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"hostname\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  hostname of the endpoint.\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  port of the endpoint.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"relayArmUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  ARM URI to the Service Bus relay.\";s:4:\"type\";s:6:\"string\";}s:9:\"relayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  name of the Service Bus relay.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:11:\"sendKeyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  name of the Service Bus key which has Send permissions. This is used to authenticate
  to Service Bus.\";s:4:\"type\";s:6:\"string\";}s:12:\"sendKeyValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"The
  value of the Service Bus key. This is used to authenticate to Service Bus. In ARM
  this key will not be returned\nnormally, use the POST /listKeys API instead.\";s:4:\"type\";s:6:\"string\";}s:19:\"serviceBusNamespace\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  name of the Service Bus namespace.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:16:\"serviceBusSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  suffix for the service bus endpoint. By default this is .servicebus.windows.net\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:22:\"HybridConnectionLimits\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:96:\"Hybrid
  Connection limits contract. This is used to return the plan limits of Hybrid Connections.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"HybridConnectionLimits
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"current\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  current number of Hybrid Connections.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:7:\"maximum\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  maximum number of Hybrid Connections allowed.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:18:\"ResourceCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}}"
...
