---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2015-02-28\";s:5:\"title\";s:17:\"Search
  Management\";s:11:\"description\";s:185:\"> the above JSON query pushes this markdown
  section into node `$.info.description` of the OpenAPI definition.\n\nThis client
  that can be used to manage Azure Search services and API keys.\";}"
host: management.azure.com
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:19:\"ListQueryKeysResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/QueryKey\";}s:11:\"description\";s:89:\">
  Again, shorthand for `@.properties.value`\n\nThe query keys for the Azure Search
  service.\";}}s:11:\"description\";s:72:\"Response containing the query API keys
  for a given Azure Search service.\";}s:8:\"QueryKey\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  name of the query API key; may be empty.\";}s:3:\"key\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  value of the query API key.\";}}s:11:\"description\";s:101:\"Describes an API key
  for a given Azure Search service that has permissions for query operations only.\";}s:23:\"SearchServiceProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"replicaCount\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:6;s:11:\"description\";s:45:\"The
  number of replicas in the Search service.\";}s:14:\"partitionCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:93:\"The
  number of partitions in the Search service; if specified, it can be 1, 2, 3, 4,
  6, or 12.\";}}s:11:\"description\";s:67:\"Defines properties of an Azure Search
  service that can be modified.\";}s:37:\"SearchServiceCreateOrUpdateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  geographic location of the Search service.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:63:\"Tags
  to help categorize the Search service in the Azure Portal.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/SearchServiceProperties\";s:11:\"description\";s:33:\"Properties
  of the Search service.\";}}s:11:\"description\";s:49:\"Properties that describe
  an Azure Search service.\";}s:21:\"SearchServiceResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  resource Id of the Azure Search service.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:54:\"https://msdn.microsoft.com/library/azure/dn857353.aspx\";}s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  name of the Search service.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  geographic location of the Search service.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:63:\"Tags
  to help categorize the Search service in the Azure Portal.\";}}s:11:\"description\";s:56:\"Describes
  an Azure Search service and its current state.\";}s:23:\"SearchServiceListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/SearchServiceResource\";}s:11:\"description\";s:42:\"The
  Search services in the resource group.\";}}s:11:\"description\";s:239:\"> Shorthand
  for `@.definitions.SearchServiceListResult` which equals `$.definitions.SearchServiceListResult`
  since no super headings change the current scope.\n\nResponse containing a list
  of Azure Search services for a given resource group.\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorDetails\";}}}s:12:\"ErrorDetails\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
