---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:18:\"2015-05-01-preview\";s:5:\"title\";s:19:\"SqlManagementClient\";s:11:\"description\";s:247:\"The
  Azure SQL Database management API provides a RESTful set of web APIs that interact
  with Azure SQL Database services to manage your databases. The API enables users
  to create, retrieve, update, and delete databases, servers, and other entities.\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/firewallRules/{firewallRuleName}
  : get:
      tags:
      - FirewallRules
      description: Gets a firewall rule.
      operationId: FirewallRules_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: firewallRuleName
        in: path
        description: The name of the firewall rule.
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the specified firewall rule.
          schema:
            $ref: '#/definitions/FirewallRule'
        default:
          description: '*** Error Responses: ***nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 ResourceNotFound - The requested
            resource was not found.'
      x-ms-examples:
        Get Firewall Rule:
          $ref: ./examples/FirewallRuleGet.json
    put:
      tags:
      - FirewallRules
      description: Creates or updates a firewall rule.
      operationId: FirewallRules_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: firewallRuleName
        in: path
        description: The name of the firewall rule.
        required: true
        type: string
      - name: parameters
        in: body
        description: The required parameters for creating or updating a firewall rule.
        required: true
        schema:
          $ref: '#/definitions/FirewallRule'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the firewall rule.
          schema:
            $ref: '#/definitions/FirewallRule'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidResourceId - Invalid
            resource identifier.nn * 400 MismatchingSubscriptionWithUrl - The provided
            subscription did not match the subscription in the Url.nn * 400 MismatchingResourceGroupNameWithUrl
            - The provided resource group name did not match the name in the Url.nn
            * 400 MismatchingServerNameWithUrl - The provided server name did not
            match the name in the Url.nn * 400 InvalidServerFirewallRuleResourceRequest
            - The server firewall rule resource request is invalid.nn * 400 InvalidServerFirewallRuleResourceParameters
            - The server firewall rule resource parameter is invalid.nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not found'
        201:
          description: Successfully created the firewall rule.
          schema:
            $ref: '#/definitions/FirewallRule'
      x-ms-examples:
        Create a firewall rule max/min:
          $ref: ./examples/FirewallRuleCreate.json
        Update a firewall rule max/min:
          $ref: ./examples/FirewallRuleUpdate.json
    delete:
      tags:
      - FirewallRules
      description: Deletes a firewall rule.
      operationId: FirewallRules_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: firewallRuleName
        in: path
        description: The name of the firewall rule.
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully deleted the firewall rule.
        default:
          description: '*** Error Responses: ***nn * 400 InvalidResourceId - Invalid
            resource identifier.nn * 400 MismatchingSubscriptionWithUrl - The provided
            subscription did not match the subscription in the Url.nn * 400 MismatchingResourceGroupNameWithUrl
            - The provided resource group name did not match the name in the Url.nn
            * 400 MismatchingServerNameWithUrl - The provided server name did not
            match the name in the Url.nn * 400 InvalidServerFirewallRuleResourceRequest
            - The server firewall rule resource request is invalid.nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 OperationIdNotFound - The
            operation with Id does not exist.nn * 409 OperationCancelled - The operation
            has been cancelled by user.nn * 409 OperationInterrupted - The operation
            on the resource could not be completed because it was interrupted by another
            operation on the same resource.nn * 500 OperationTimedOut - The operation
            timed out and automatically rolled back. Please retry the operation.'
        204:
          description: The specified firewall rule does not exist.
      x-ms-examples:
        Delete a firewall rule:
          $ref: ./examples/FirewallRuleDelete.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/firewallRules:
    get:
      tags:
      - FirewallRules
      description: Gets a list of firewall rules.
      operationId: FirewallRules_ListByServer
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the list of firewall rules.
          schema:
            $ref: '#/definitions/FirewallRuleListResult'
        default:
          description: '*** Error Responses: ***nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 ResourceNotFound - The requested
            resource was not found.'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List Firewall Rules:
          $ref: ./examples/FirewallRuleList.json
    put:
      tags:
      - FirewallRules
      description: Replaces all firewall rules on the server.
      operationId: FirewallRules_Replace
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/FirewallRuleList'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the firewall rules.
          schema:
            $ref: '#/definitions/FirewallRule'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidResourceId - Invalid
            resource identifier.nn * 400 MismatchingSubscriptionWithUrl - The provided
            subscription did not match the subscription in the Url.nn * 400 MismatchingResourceGroupNameWithUrl
            - The provided resource group name did not match the name in the Url.nn
            * 400 MismatchingServerNameWithUrl - The provided server name did not
            match the name in the Url.nn * 400 InvalidServerFirewallRuleResourceRequest
            - The server firewall rule resource request is invalid.nn * 400 InvalidServerFirewallRuleResourceParameters
            - The server firewall rule resource parameter is invalid.nn * 400 FirewallRuleNotIPv4Address
            - The provided firewall rule address is not IPv4nn * 400 FirewallRuleInvalidRange
            - The specified firewall rule range is invalid.nn * 400 FirewallRuleNameTooLong
            - The provided firewall rule name is too longnn * 400 FirewallRuleNameEmpty
            - The provided firewall rule name is emptynn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 OperationIdNotFound - The
            operation with Id does not exist.nn * 409 OperationCancelled - The operation
            has been cancelled by user.nn * 409 OperationInterrupted - The operation
            on the resource could not be completed because it was interrupted by another
            operation on the same resource.nn * 500 OperationTimedOut - The operation
            timed out and automatically rolled back. Please retry the operation.'
        202:
          description: Creating or updating the Server Firewall Rules is in progress.
      x-ms-examples:
        Replace firewall rules:
          $ref: ./examples/FirewallRuleReplace.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:28:\"ServerFirewallRuleProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  properties of a server firewall rule.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"startIpAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"The
  start IP address of the firewall rule. Must be IPv4 format. Use value '0.0.0.0'
  for all Azure-internal IP addresses.\";s:4:\"type\";s:6:\"string\";}s:12:\"endIpAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:167:\"The
  end IP address of the firewall rule. Must be IPv4 format. Must be greater than or
  equal to startIpAddress. Use value '0.0.0.0' for all Azure-internal IP addresses.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"ResourceWithWritableName\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Resource
  name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}s:19:\"x-ms-azure-resource\";b:1;}s:29:\"ProxyResourceWithWritableName\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"ARM
  proxy resource.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ResourceWithWritableName\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}}s:12:\"FirewallRule\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"A
  server firewall rule.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ProxyResourceWithWritableName\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:42:\"#/definitions/ServerFirewallRuleProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:22:\"FirewallRuleListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  response to a list firewall rules request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Array
  of results.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FirewallRule\";}s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:16:\"FirewallRuleList\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  list of server firewall rules.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"values\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FirewallRule\";}}}}}"
...
