---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:28:\"RecoveryServicesBackupClient\";s:7:\"version\";s:10:\"2017-07-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:175:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/bms.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:26:\"recoveryservicesbackup-bms\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"azure_recoveryservicesbackup_bms\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /Subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupPreValidateProtection:
    post:
      deprecated: false
      operationId: ProtectionIntent_Validate
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/AzureRegion'
      - $ref: '#/parameters/SubscriptionId'
      - description: Enable backup validation request on Virtual Machine
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/PreValidateEnableBackupRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PreValidateEnableBackupResponse'
      summary: It will validate followingsrn            1. Vault capacityrn            2.
        VM is already protectedrn            3. Any VM related configuration passed
        in properties.
      tags:
      - ProtectionIntent
      x-ms-examples:
        Validate Enable Protection on Azure Vm:
          parameters:
            api-version: "2017-07-01"
            azureRegion: southeastasia
            parameters:
              properties: ""
              resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arunaupgrade/providers/Microsoft.Compute/VirtualMachines/upgrade1
              resourceType: VM
              vaultId: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/Vaults/myVault
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                containerName: iaasvmcontainer;iaasvmcontainerv2;arunaupgrade;upgrade1
                errorCode: VirtualMachineAlreadyProtected
                errorMessage: Virtual machine with same name and same resource group
                  is already protected. Please select `Disable' choice above for backup
                  and go to backup item corresponding to this VM in the vault
                protectedItemName: vm;iaasvmcontainerv2;arunaupgrade;upgrade1
                recommendation: Please do not enable protection again.
                status: Failed
  /Subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupStatus:
    post:
      deprecated: false
      operationId: BackupStatus_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/AzureRegion'
      - $ref: '#/parameters/SubscriptionId'
      - description: Container Backup Status Request
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/BackupStatusRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupStatusResponse'
      summary: Get the container backup status
      tags:
      - BackupStatus
      x-ms-examples:
        Get Azure Virtual Machine Backup Status:
          parameters:
            api-version: "2017-07-01"
            azureRegion: southeastasia
            parameters:
              resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.Compute/VirtualMachines/testVm
              resourceType: VM
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                containerName: iaasvmcontainer;iaasvmcontainerv2;testRg;testVm
                errorCode: Success
                errorMessage: ErrorMessage
                fabricName: Azure
                policyName: myPolicy
                protectedItemName: vm;iaasvmcontainerv2;testRg;testVm
                protectionStatus: Protected
                vaultId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.RecoveryServices/Vaults/testVault
  /Subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupValidateFeatures:
    post:
      deprecated: false
      operationId: FeatureSupport_Validate
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/AzureRegion'
      - $ref: '#/parameters/SubscriptionId'
      - description: Feature support request object
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/FeatureSupportRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AzureVMResourceFeatureSupportResponse'
      summary: It will validate if given feature with resource properties is supported
        in service
      tags:
      - FeatureSupport
      x-ms-examples:
        Check Azure Vm Backup Feature Support:
          parameters:
            api-version: "2017-07-01"
            azureRegion: southeastasia
            parameters:
              featureType: AzureVMResourceBackup
              vmSize: Basic_A0
              vmSku: Premium
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                supportStatus: DefaultOFF
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/backupProtectionIntent/{intentObjectName}
  : put:
      deprecated: false
      description: Create Intent for Enabling backup of an item. This is a synchronous
        operation.
      operationId: ProtectionIntent_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Fabric name associated with the backup item.
        in: path
        name: fabricName
        required: true
        type: string
      - description: Intent object name.
        in: path
        name: intentObjectName
        required: true
        type: string
      - description: resource backed up item
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ProtectionIntentResource'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionIntentResource'
      tags:
      - ProtectionIntent
      x-ms-examples:
        Create or Update Azure Vm Protection Intent:
          parameters:
            api-version: "2017-07-01"
            fabricName: Azure
            intentObjectName: vm;iaasvmcontainerv2;chamsrgtest;chamscandel
            parameters:
              properties:
                friendlyName: oneboxTestVmIntent
                policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupPolicies/myPolicy
                protectionIntentItemType: AzureResourceItem
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/chamsrgtest/providers/Microsoft.Compute/virtualMachines/chamscandel
            resourceGroupName: myRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: myVault
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupFabrics/Azure/backupProtectionIntent/vm;iaasvmcontainerv2;chamsrgtest;chamscandel
                name: vm;iaasvmcontainerv2;chamsrgtest;chamscandel
                properties:
                  backupManagementType: AzureIaasVM
                  friendlyName: ""
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupPolicies/myPolicy
                  protectionState: Protected
                type: Microsoft.RecoveryServices/vaults/backupProtectionIntent
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs
  : get:
      deprecated: false
      description: Provides a pageable list of jobs.
      operationId: BackupJobs_List
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobResourceList'
      tags:
      - BackupJobs
      x-ms-examples:
        List All Jobs:
          parameters:
            api-version: "2017-07-01"
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            200:
              body:
                value:
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                  name: 00000000-0000-0000-0000-000000000000
                  properties:
                    activityId: 00000000-0000-0000-0000-000000000000
                    backupManagementType: AzureIaasVM
                    duration: PT12.4272909S
                    entityFriendlyName: testvm
                    jobType: AzureIaaSVMJob
                    operation: Backup
                    startTime: "2017-08-03T05:31:07.014604Z"
                    status: InProgress
                    virtualMachineVersion: Compute
                  type: Microsoft.RecoveryServices/vaults/backupJobs
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                  name: 00000000-0000-0000-0000-000000000000
                  properties:
                    activityId: 00000000-0000-0000-0000-000000000000
                    backupManagementType: AzureIaasVM
                    duration: PT31.3066291S
                    endTime: "2017-08-03T05:31:03.7553376Z"
                    entityFriendlyName: testvm
                    jobType: AzureIaaSVMJob
                    operation: ConfigureBackup
                    startTime: "2017-08-03T05:30:32.4487085Z"
                    status: Completed
                    virtualMachineVersion: Compute
                  type: Microsoft.RecoveryServices/vaults/backupJobs
        List Jobs With Filters:
          parameters:
            $filter: startTime eq '2016-01-01 00:00:00 AM' and endTime eq '2017-11-29
              00:00:00 AM' and operation eq 'Backup' and backupManagementType eq 'AzureIaasVM'
              and status eq 'InProgress'
            api-version: "2017-07-01"
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            200:
              body:
                value:
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                  name: 00000000-0000-0000-0000-000000000000
                  properties:
                    activityId: 00000000-0000-0000-0000-000000000000
                    backupManagementType: AzureIaasVM
                    duration: PT12.4272909S
                    entityFriendlyName: testvm
                    jobType: AzureIaaSVMJob
                    operation: Backup
                    startTime: "2017-08-03T05:31:07.014604Z"
                    status: InProgress
                    virtualMachineVersion: Compute
                  type: Microsoft.RecoveryServices/vaults/backupJobs
        List Jobs With Time Filter:
          parameters:
            $filter: startTime eq '2016-01-01 00:00:00 AM' and endTime eq '2017-11-29
              00:00:00 AM'
            api-version: "2017-07-01"
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            200:
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs?api-version=2017-07-01&%24filter=startTime+eq+%272016-01-01+00%3a00%3a00+AM%27+and+endTime+eq+%272017-11-29+00%3a00%3a00+AM%27&%24skiptoken=%3c%3fxml+version%3d%221.0%22+encoding%3d%22utf-16%22%3f%3e%0d%0a%3cContinuationToken%3e%0d%0a++%3cContinuationToken%3e%0d%0a++++%3cVersion%3e2.0%3c%2fVersion%3e%0d%0a++++%3cType%3eTable%3c%2fType%3e%0d%0a++++%3cNextPartitionKey%3e1!28!NzI5MTk0OTM1MDkwNjEwODQzMA--%3c%2fNextPartitionKey%3e%0d%0a++++%3cNextRowKey%3e1!108!am9ic3N0YXJ0dGltZWluZGV4XzBfMjUxODkxNDYzNTI2NjE5Nzg5OF8wXzYwOWZkM2JmLTU4MzctNDFkYi1iMjExLTY1MzliNDNlZjM1OA--%3c%2fNextRowKey%3e%0d%0a++++%3cTargetLocation%3ePrimary%3c%2fTargetLocation%3e%0d%0a++%3c%2fContinuationToken%3e%0d%0a%3c%2fContinuationToken%3e
                value:
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                  name: 00000000-0000-0000-0000-000000000000
                  properties:
                    activityId: 00000000-0000-0000-0000-000000000000
                    backupManagementType: AzureIaasVM
                    duration: PT12.4272909S
                    entityFriendlyName: testvm
                    jobType: AzureIaaSVMJob
                    operation: Backup
                    startTime: "2017-08-03T05:31:07.014604Z"
                    status: InProgress
                    virtualMachineVersion: Compute
                  type: Microsoft.RecoveryServices/vaults/backupJobs
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                  name: 00000000-0000-0000-0000-000000000000
                  properties:
                    activityId: 00000000-0000-0000-0000-000000000000
                    backupManagementType: AzureIaasVM
                    duration: PT31.3066291S
                    endTime: "2017-08-03T05:31:03.7553376Z"
                    entityFriendlyName: testvm
                    jobType: AzureIaaSVMJob
                    operation: ConfigureBackup
                    startTime: "2017-08-03T05:30:32.4487085Z"
                    status: Completed
                    virtualMachineVersion: Compute
                  type: Microsoft.RecoveryServices/vaults/backupJobs
      x-ms-odata: '#/definitions/JobQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/operationResults/{operationId}
  : get:
      deprecated: false
      description: Gets the operation result of operation triggered by Export Jobs
        API. If the operation is successful, then it also contains URL of a Blob and
        a SAS key to access the same. The blob contains exported jobs in JSON serialized
        format.
      operationId: ExportJobsOperationResults_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OperationID which represents the export job.
        in: path
        name: operationId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationResultInfoBaseResource'
        202:
          description: Accepted
          schema:
            $ref: '#/definitions/OperationResultInfoBaseResource'
      tags:
      - ExportJobsOperationResults
      x-ms-examples:
        Export Jobs Operation Results:
          parameters:
            api-version: "2017-07-01"
            operationId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            200:
              body:
                headers: []
                operation:
                  blobSasKey: ?sv=2014-02-14&sr=b&sig=<sas_signature>&st=2017-11-29T07%3A53%3A34Z&se=2017-11-29T08%3A03%3A34Z&sp=r
                  blobUrl: https://azureblob.blob.core.windows.net/reportcontainer/exportjobsreportc00000000-0000-0000-0000-000000000000
                  objectType: ExportJobsOperationResultInfo
              headers: []
            202:
              body:
                headers:
                  Location:
                  - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                  Retry-After:
                  - "60"
                operation:
                  objectType: ExportJobsOperationResultInfo
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Retry-After: 60
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}
  : get:
      deprecated: false
      description: Gets exteded information associated with the job.
      operationId: JobDetails_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Name of the job whose details are to be fetched.
        in: path
        name: jobName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobResource'
      tags:
      - JobDetails
      x-ms-examples:
        Get Job Details:
          parameters:
            api-version: "2017-07-01"
            jobName: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            200:
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                name: 00000000-0000-0000-0000-000000000000
                properties:
                  activityId: 00000000-0000-0000-0000-000000000000
                  backupManagementType: AzureIaasVM
                  duration: PT9.8782791S
                  entityFriendlyName: testvm
                  extendedInfo:
                    propertyBag:
                      VM Name: testvm
                    tasksList:
                    - duration: PT0S
                      status: InProgress
                      taskId: Take Snapshot
                    - duration: PT0S
                      status: NotStarted
                      taskId: Transfer data to vault
                  jobType: AzureIaaSVMJob
                  operation: Backup
                  startTime: "2017-08-03T05:31:07.014604Z"
                  status: InProgress
                  virtualMachineVersion: Compute
                type: Microsoft.RecoveryServices/vaults/backupJobs
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobsExport
  : post:
      deprecated: false
      description: Triggers export of jobs specified by filters and returns an OperationID
        to track.
      operationId: Jobs_Export
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      responses:
        202:
          description: Accepted
      tags:
      - Jobs
      x-ms-examples:
        Export Jobs:
          parameters:
            api-version: "2017-07-01"
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            202:
              body: ~
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Retry-After: 60
      x-ms-odata: '#/definitions/JobQueryObject'
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies
  : get:
      deprecated: false
      description: Lists of backup policies associated with Recovery Services Vault.
        API provides pagination parameters to fetch scoped results.
      operationId: BackupPolicies_List
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionPolicyResourceList'
      tags:
      - BackupPolicies
      x-ms-examples:
        List protection policies with backupManagementType filter as AzureIaasVm:
          parameters:
            $filter: backupManagementType eq 'AzureIaasVM'
            api-version: "2017-07-01"
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            200:
              body:
                value:
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/DefaultPolicy
                  name: DefaultPolicy
                  properties:
                    backupManagementType: AzureIaasVM
                    protectedItemsCount: 0
                    retentionPolicy:
                      dailySchedule:
                        retentionDuration:
                          count: 30
                          durationType: Days
                        retentionTimes:
                        - "2017-12-05T19:00:00Z"
                      retentionPolicyType: LongTermRetentionPolicy
                    schedulePolicy:
                      schedulePolicyType: SimpleSchedulePolicy
                      scheduleRunFrequency: Daily
                      scheduleRunTimes:
                      - "2017-12-05T19:00:00Z"
                      scheduleWeeklyFrequency: 0
                  type: Microsoft.RecoveryServices/vaults/backupPolicies
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                  name: testPolicy1
                  properties:
                    backupManagementType: AzureIaasVM
                    protectedItemsCount: 0
                    retentionPolicy:
                      dailySchedule:
                        retentionDuration:
                          count: 1
                          durationType: Days
                        retentionTimes:
                        - "2018-01-24T02:00:00Z"
                      retentionPolicyType: LongTermRetentionPolicy
                    schedulePolicy:
                      schedulePolicyType: SimpleSchedulePolicy
                      scheduleRunFrequency: Daily
                      scheduleRunTimes:
                      - "2018-01-24T02:00:00Z"
                      scheduleWeeklyFrequency: 0
                    timeZone: Pacific Standard Time
                  type: Microsoft.RecoveryServices/vaults/backupPolicies
        List protection policies with backupManagementType filter as AzureWorkload:
          parameters:
            $filter: backupManagementType eq 'AzureWorkload'
            api-version: "2017-07-01"
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            200:
              body:
                value:
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/HourlyLogBackup
                  name: HourlyLogBackup
                  properties:
                    backupManagementType: AzureWorkload
                    protectedItemsCount: 0
                    settings:
                      issqlcompression: false
                      timeZone: UTC
                    subProtectionPolicy:
                    - policyType: Full
                      retentionPolicy:
                        dailySchedule:
                          retentionDuration:
                            count: 30
                            durationType: Days
                          retentionTimes:
                          - "2017-12-05T19:00:00Z"
                        retentionPolicyType: LongTermRetentionPolicy
                      schedulePolicy:
                        schedulePolicyType: SimpleSchedulePolicy
                        scheduleRunFrequency: Daily
                        scheduleRunTimes:
                        - "2017-12-05T19:00:00Z"
                        scheduleWeeklyFrequency: 0
                    - policyType: Log
                      retentionPolicy:
                        retentionDuration:
                          count: 30
                          durationType: Days
                        retentionPolicyType: SimpleRetentionPolicy
                      schedulePolicy:
                        scheduleFrequencyInMins: 60
                        schedulePolicyType: LogSchedulePolicy
                    workLoadType: SQLDataBase
                  type: Microsoft.RecoveryServices/vaults/backupPolicies
      x-ms-odata: '#/definitions/ProtectionPolicyQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectedItems
  : get:
      deprecated: false
      description: Provides a pageable list of all items that are backed up within
        a vault.
      operationId: BackupProtectedItems_List
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectedItemResourceList'
      tags:
      - BackupProtectedItems
      x-ms-examples:
        List protected items with backupManagementType filter as AzureIaasVm:
          parameters:
            $filter: backupManagementType eq 'AzureIaasVM' and itemType eq 'VM'
            api-version: "2017-07-01"
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            200:
              body:
                value:
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/protectionContainers/IaasVMContainer;iaasvmcontainer;iaasvm-rg;iaasvm-1/protectedItems/VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                  name: VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                  properties:
                    backupManagementType: AzureIaasVM
                    containerName: iaasvmcontainer;iaasvm-rg;iaasvm-1
                    friendlyName: iaasvm-1
                    healthStatus: Passed
                    lastBackupStatus: Completed
                    lastBackupTime: "2018-01-22T12:25:32.048723Z"
                    lastRecoveryPoint: "2017-11-22T12:25:32.048723Z"
                    policyId: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                    protectedItemDataId: "636482643132986882"
                    protectedItemType: Microsoft.ClassicCompute/virtualMachines
                    protectionState: Protected
                    protectionStatus: Healthy
                    sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.ClassicCompute/virtualMachines/iaasvm-1
                    virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.ClassicCompute/virtualMachines/iaasvm-1
                    workloadType: VM
                  type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems
      x-ms-odata: '#/definitions/ProtectedItemQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupUsageSummaries
  : get:
      deprecated: false
      description: Fetches the backup management usage summaries of the vault.
      operationId: BackupUsageSummaries_List
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupManagementUsageList'
      tags:
      - BackupUsageSummaries
      x-ms-examples:
        Get Protected Containers Usages Summary:
          parameters:
            $filter: type eq 'BackupProtectionContainerCountSummary'
            api-version: "2017-07-01"
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            200:
              body:
                value:
                - currentValue: 2
                  limit: -1
                  name:
                    localizedValue: Azure Backup Server
                    value: AzureBackupServer
                  unit: Count
                - currentValue: 3
                  limit: -1
                  name:
                    localizedValue: Azure Backup Agent
                    value: MAB
                  unit: Count
                - currentValue: 1
                  limit: -1
                  name:
                    localizedValue: SQL in Azure VM
                    value: AzureWorkload
                  unit: Count
        Get Protected Items Usages Summary:
          parameters:
            $filter: type eq 'BackupProtectedItemCountSummary'
            api-version: "2017-07-01"
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            200:
              body:
                value:
                - currentValue: 7
                  limit: -1
                  name:
                    localizedValue: Azure Virtual Machine
                    value: AzureIaasVM
                  unit: Count
                - currentValue: 3
                  limit: -1
                  name:
                    localizedValue: Azure Backup Agent
                    value: MAB
                  unit: Count
                - currentValue: 1
                  limit: -1
                  name:
                    localizedValue: Azure Backup Server
                    value: AzureBackupServer
                  unit: Count
                - currentValue: 2
                  limit: -1
                  name:
                    localizedValue: Azure Storage (Azure Files)
                    value: AzureStorage
                  unit: Count
                - currentValue: 2
                  limit: -1
                  name:
                    localizedValue: SQL in Azure VM
                    value: AzureWorkload
                  unit: Count
      x-ms-odata: '#/definitions/BMSBackupSummariesQueryObject'
      x-ms-pageable: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":94:{s:30:\"AzureFileShareProtectionPolicy\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}s:11:\"description\";s:27:\"AzureStorage
  backup policy.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:66:\"Retention
  policy with the details on backup copy retention ranges.\";}s:14:\"schedulePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SchedulePolicy\";s:11:\"description\";s:51:\"Backup
  schedule specified as part of backup policy.\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"TimeZone
  optional input as string. For example: TimeZone = \"Pacific Standard Time\".\";s:4:\"type\";s:6:\"string\";}s:12:\"workLoadType\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Type
  of workload for the backup management\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:12:\"AzureStorage\";}s:27:\"AzureFileshareProtectedItem\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:11:\"description\";s:47:\"Azure
  File Share workload-specific backup item.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/AzureFileshareProtectedItemExtendedInfo\";s:11:\"description\";s:45:\"Additional
  information with this backup item.\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Friendly
  name of the fileshare represented by this backup item.\";s:4:\"type\";s:6:\"string\";}s:12:\"healthStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"backups
  running status for this backup item.\";s:4:\"enum\";a:4:{i:0;s:6:\"Passed\";i:1;s:14:\"ActionRequired\";i:2;s:15:\"ActionSuggested\";i:3;s:7:\"Invalid\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"HealthStatus\";}}s:16:\"lastBackupStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Last
  backup operation status. Possible values: Healthy, Unhealthy.\";s:4:\"type\";s:6:\"string\";}s:14:\"lastBackupTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Timestamp
  of the last backup operation on this backup item.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Backup
  state of this backup item.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:9:\"IRPending\";i:2;s:9:\"Protected\";i:3;s:15:\"ProtectionError\";i:4;s:17:\"ProtectionStopped\";i:5;s:16:\"ProtectionPaused\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"ProtectionState\";}}s:16:\"protectionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Backup
  status of this backup item.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:27:\"AzureFileShareProtectedItem\";}s:39:\"AzureFileshareProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Additional
  information about Azure File Share backup item.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  oldest backup copy available for this item in the service.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"policyState\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Indicates
  consistency of policy object and policy applied to this backup item.\";s:4:\"type\";s:6:\"string\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Number
  of available backup copies associated with this backup item.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:38:\"AzureIaaSClassicComputeVMProtectedItem\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AzureIaaSVMProtectedItem\";}}s:11:\"description\";s:74:\"IaaS
  VM workload-specific backup item representing the Classic Compute VM.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:40:\"Microsoft.ClassicCompute/virtualMachines\";}s:31:\"AzureIaaSComputeVMProtectedItem\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AzureIaaSVMProtectedItem\";}}s:11:\"description\";s:81:\"IaaS
  VM workload-specific backup item representing the Azure Resource Manager VM.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:33:\"Microsoft.Compute/virtualMachines\";}s:20:\"AzureIaaSVMErrorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Azure
  IaaS VM workload-specific error information.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Error
  code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"errorString\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Localized
  error string.\";s:4:\"type\";s:6:\"string\";}s:10:\"errorTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Title:
  Typically, the entity that the error pertains to.\";s:4:\"type\";s:6:\"string\";}s:15:\"recommendations\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"List
  of localized recommendations for above error code.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AzureIaaSVMHealthDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Azure
  IaaS VM workload-specific Health Details.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Health
  Code\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Health
  Message\";s:4:\"type\";s:6:\"string\";}s:15:\"recommendations\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Health
  Recommended Actions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Health
  Title\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AzureIaaSVMJob\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}}s:11:\"description\";s:42:\"Azure
  IaaS VM workload-specifc job object.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"actionsInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Gets
  or sets the state/actions applicable on this job like cancel/retry.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:11:\"Cancellable\";i:2;s:9:\"Retriable\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"JobSupportedAction\";}}s:4:\"type\";s:5:\"array\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Time
  elapsed during the execution of this job.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Error
  details on execution of this job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AzureIaaSVMErrorInfo\";}s:4:\"type\";s:5:\"array\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/AzureIaaSVMJobExtendedInfo\";s:11:\"description\";s:36:\"Additional
  information for this job.\";}s:21:\"virtualMachineVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Specifies
  whether the backup item is a Classic or an Azure Resource Manager VM.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:14:\"AzureIaaSVMJob\";}s:26:\"AzureIaaSVMJobExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Azure
  IaaS VM workload-specific additional information for job.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"dynamicErrorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Non
  localized error message on job execution.\";s:4:\"type\";s:6:\"string\";}s:18:\"progressPercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Indicates
  progress of the job. Null if it has not started or completed.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"propertyBag\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:15:\"Job
  properties.\";s:4:\"type\";s:6:\"object\";}s:9:\"tasksList\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"List
  of tasks associated with this job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AzureIaaSVMJobTaskDetails\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"AzureIaaSVMJobTaskDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Azure
  IaaS VM workload-specific job task details.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Time
  elapsed for task.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  end time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"instanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  instanceId.\";s:4:\"type\";s:6:\"string\";}s:18:\"progressPercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Progress
  of the task.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"The
  status.\";s:4:\"type\";s:6:\"string\";}s:6:\"taskId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  task display name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AzureIaaSVMProtectedItem\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:11:\"description\";s:38:\"IaaS
  VM workload-specific backup item.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/AzureIaaSVMProtectedItemExtendedInfo\";s:11:\"description\";s:44:\"Additional
  information for this backup item.\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Friendly
  name of the VM represented by this backup item.\";s:4:\"type\";s:6:\"string\";}s:13:\"healthDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Health
  details on this backup item.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AzureIaaSVMHealthDetails\";}s:4:\"type\";s:5:\"array\";}s:12:\"healthStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Health
  status of protected item\";s:4:\"enum\";a:4:{i:0;s:6:\"Passed\";i:1;s:14:\"ActionRequired\";i:2;s:15:\"ActionSuggested\";i:3;s:7:\"Invalid\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"HealthStatus\";}}s:16:\"lastBackupStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Last
  backup operation status.\";s:4:\"type\";s:6:\"string\";}s:14:\"lastBackupTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Timestamp
  of the last backup operation on this backup item.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"protectedItemDataId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Data
  ID of the protected item.\";s:4:\"type\";s:6:\"string\";}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Backup
  state of this backup item.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:9:\"IRPending\";i:2;s:9:\"Protected\";i:3;s:15:\"ProtectionError\";i:4;s:17:\"ProtectionStopped\";i:5;s:16:\"ProtectionPaused\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"ProtectionState\";}}s:16:\"protectionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Backup
  status of this backup item.\";s:4:\"type\";s:6:\"string\";}s:16:\"virtualMachineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Fully
  qualified ARM ID of the virtual machine represented by this item.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:24:\"AzureIaaSVMProtectedItem\";}s:36:\"AzureIaaSVMProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Additional
  information on Azure IaaS VM specific backup item.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  oldest backup copy available for this backup item.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"policyInconsistent\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Specifies
  if backup policy associated with the backup item is inconsistent.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Number
  of backup copies available for this backup item.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:27:\"AzureIaaSVMProtectionPolicy\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}s:11:\"description\";s:40:\"IaaS
  VM workload-specific backup policy.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:66:\"Retention
  policy with the details on backup copy retention ranges.\";}s:14:\"schedulePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SchedulePolicy\";s:11:\"description\";s:51:\"Backup
  schedule specified as part of backup policy.\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"TimeZone
  optional input as string. For example: TimeZone = \"Pacific Standard Time\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:11:\"AzureIaasVM\";}s:29:\"AzureResourceProtectionIntent\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionIntent\";}}s:11:\"description\";s:47:\"IaaS
  VM specific backup protection intent item.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Friendly
  name of the VM represented by this backup item.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:17:\"AzureResourceItem\";}s:21:\"AzureSqlProtectedItem\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:11:\"description\";s:40:\"Azure
  SQL workload-specific backup item.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/AzureSqlProtectedItemExtendedInfo\";s:11:\"description\";s:44:\"Additional
  information for this backup item.\";}s:19:\"protectedItemDataId\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Internal
  ID of a backup item. Used by Azure SQL Backup engine to contact Recovery Services.\";s:4:\"type\";s:6:\"string\";}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Backup
  state of the backed up item.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:9:\"IRPending\";i:2;s:9:\"Protected\";i:3;s:15:\"ProtectionError\";i:4;s:17:\"ProtectionStopped\";i:5;s:16:\"ProtectionPaused\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"ProtectedItemState\";}}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:31:\"Microsoft.Sql/servers/databases\";}s:33:\"AzureSqlProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Additional
  information on Azure Sql specific protected item.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  oldest backup copy available for this item in the service.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"policyState\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"State
  of the backup policy associated with this backup item.\";s:4:\"type\";s:6:\"string\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Number
  of available backup copies associated with this backup item.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AzureSqlProtectionPolicy\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}s:11:\"description\";s:42:\"Azure
  SQL workload-specific backup policy.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:25:\"Retention
  policy details.\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:8:\"AzureSql\";}s:21:\"AzureStorageErrorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Azure
  storage specific error information\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Error
  code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"errorString\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Localized
  error string.\";s:4:\"type\";s:6:\"string\";}s:15:\"recommendations\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"List
  of localized recommendations for above error code.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AzureStorageJob\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}}s:11:\"description\";s:27:\"Azure
  storage specific job.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"actionsInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Gets
  or sets the state/actions applicable on this job like cancel/retry.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:11:\"Cancellable\";i:2;s:9:\"Retriable\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"JobSupportedAction\";}}s:4:\"type\";s:5:\"array\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Time
  elapsed during the execution of this job.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Error
  details on execution of this job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AzureStorageErrorInfo\";}s:4:\"type\";s:5:\"array\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/AzureStorageJobExtendedInfo\";s:11:\"description\";s:37:\"Additional
  information about the job.\";}s:18:\"storageAccountName\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Specifies
  friendly name of the storage account.\";s:4:\"type\";s:6:\"string\";}s:21:\"storageAccountVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Specifies
  whether the Storage account is a Classic or an Azure Resource Manager Storage account.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"AzureStorageJobExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Azure
  Storage workload-specific additional information for job.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"dynamicErrorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Non
  localized error message on job execution.\";s:4:\"type\";s:6:\"string\";}s:11:\"propertyBag\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:15:\"Job
  properties.\";s:4:\"type\";s:6:\"object\";}s:9:\"tasksList\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of tasks for this job\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/AzureStorageJobTaskDetails\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"AzureStorageJobTaskDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Azure
  storage workload specific job task details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"The
  status.\";s:4:\"type\";s:6:\"string\";}s:6:\"taskId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  task display name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:36:\"AzureVMResourceFeatureSupportRequest\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/FeatureSupportRequest\";}}s:11:\"description\";s:55:\"AzureResource(IaaS
  VM) Specific feature support request\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"vmSize\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Size
  of the resource: VM size(A/D series etc) in case of IaasVM\";s:4:\"type\";s:6:\"string\";}s:5:\"vmSku\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"SKUs
  (Premium/Managed etc) in case of IaasVM\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:21:\"AzureVMResourceBackup\";}s:37:\"AzureVMResourceFeatureSupportResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Response
  for feature support requests for Azure IaasVm\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"supportStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Support
  status of feature\";s:4:\"enum\";a:5:{i:0;s:7:\"Invalid\";i:1;s:9:\"Supported\";i:2;s:10:\"DefaultOFF\";i:3;s:9:\"DefaultON\";i:4;s:12:\"NotSupported\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"SupportStatus\";}}}s:4:\"type\";s:6:\"object\";}s:40:\"AzureVmWorkloadProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Additional
  information on Azure Workload for SQL specific backup item.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  oldest backup copy available for this backup item.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"policyState\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Indicates
  consistency of policy object and policy applied to this backup item.\";s:4:\"type\";s:6:\"string\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Number
  of backup copies available for this backup item.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:31:\"AzureVmWorkloadProtectionPolicy\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}s:11:\"description\";s:51:\"Azure
  VM (Mercury) workload-specific backup policy.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"settings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Settings\";s:11:\"description\";s:41:\"Common
  settings for the backup management\";}s:19:\"subProtectionPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"List
  of sub-protection policies which includes schedule and retention\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SubProtectionPolicy\";}s:4:\"type\";s:5:\"array\";}s:12:\"workLoadType\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Type
  of workload for the backup management\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:13:\"AzureWorkload\";}s:39:\"AzureVmWorkloadSQLDatabaseProtectedItem\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:11:\"description\";s:68:\"Azure
  VM workload-specific protected item representing SQL Database.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/AzureVmWorkloadProtectedItemExtendedInfo\";s:11:\"description\";s:44:\"Additional
  information for this backup item.\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Friendly
  name of the DB represented by this backup item.\";s:4:\"type\";s:6:\"string\";}s:21:\"lastBackupErrorDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ErrorDetail\";s:11:\"description\";s:28:\"Error
  details in last backup\";}s:16:\"lastBackupStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Last
  backup operation status. Possible values: Healthy, Unhealthy.\";s:4:\"enum\";a:4:{i:0;s:7:\"Invalid\";i:1;s:7:\"Healthy\";i:2;s:9:\"Unhealthy\";i:3;s:9:\"IRPending\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"LastBackupStatus\";}}s:14:\"lastBackupTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Timestamp
  of the last backup operation on this backup item.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"parentName\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Parent
  name of the DB such as Instance or Availability Group.\";s:4:\"type\";s:6:\"string\";}s:10:\"parentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Parent
  type of DB, SQLAG or StandAlone\";s:4:\"type\";s:6:\"string\";}s:25:\"protectedItemDataSourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Data
  ID of the protected item.\";s:4:\"type\";s:6:\"string\";}s:25:\"protectedItemHealthStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Health
  status of the backup item, evaluated based on last heartbeat received\";s:4:\"enum\";a:5:{i:0;s:7:\"Invalid\";i:1;s:7:\"Healthy\";i:2;s:9:\"Unhealthy\";i:3;s:12:\"NotReachable\";i:4;s:9:\"IRPending\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:25:\"ProtectedItemHealthStatus\";}}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Backup
  state of this backup item.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:9:\"IRPending\";i:2;s:9:\"Protected\";i:3;s:15:\"ProtectionError\";i:4;s:17:\"ProtectionStopped\";i:5;s:16:\"ProtectionPaused\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"ProtectionState\";}}s:16:\"protectionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Backup
  status of this backup item.\";s:4:\"type\";s:6:\"string\";}s:10:\"serverName\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Host/Cluster
  Name for instance or AG\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:26:\"AzureVmWorkloadSQLDatabase\";}s:22:\"AzureWorkloadErrorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Azure
  storage specific error information\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"additionalDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Additional
  details for above error code.\";s:4:\"type\";s:6:\"string\";}s:9:\"errorCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Error
  code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"errorString\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Localized
  error string.\";s:4:\"type\";s:6:\"string\";}s:10:\"errorTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Title:
  Typically, the entity that the error pertains to.\";s:4:\"type\";s:6:\"string\";}s:15:\"recommendations\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"List
  of localized recommendations for above error code.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AzureWorkloadJob\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}}s:11:\"description\";s:27:\"Azure
  storage specific job.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"actionsInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Gets
  or sets the state/actions applicable on this job like cancel/retry.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:11:\"Cancellable\";i:2;s:9:\"Retriable\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"JobSupportedAction\";}}s:4:\"type\";s:5:\"array\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Time
  elapsed during the execution of this job.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Error
  details on execution of this job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AzureWorkloadErrorInfo\";}s:4:\"type\";s:5:\"array\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/AzureWorkloadJobExtendedInfo\";s:11:\"description\";s:37:\"Additional
  information about the job.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"AzureWorkloadJobExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Azure
  VM workload-specific additional information for job.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"dynamicErrorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Non
  localized error message on job execution.\";s:4:\"type\";s:6:\"string\";}s:11:\"propertyBag\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:15:\"Job
  properties.\";s:4:\"type\";s:6:\"object\";}s:9:\"tasksList\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of tasks for this job\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/AzureWorkloadJobTaskDetails\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"AzureWorkloadJobTaskDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Azure
  VM workload specific job task details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"The
  status.\";s:4:\"type\";s:6:\"string\";}s:6:\"taskId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  task display name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"BMSBackupSummariesQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Query
  parameters to fetch backup summaries.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Backup
  management type for this container.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:31:\"BackupProtectedItemCountSummary\";i:2;s:37:\"BackupProtectionContainerCountSummary\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:4:\"Type\";}}}s:4:\"type\";s:6:\"object\";}s:21:\"BackupManagementUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Backup
  management usages of a vault.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"currentValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Current
  value of usage.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Limit
  of usage.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/NameInfo\";s:11:\"description\";s:14:\"Name
  of usage.\";}s:13:\"nextResetTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Next
  reset time of usage.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"quotaPeriod\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Quota
  period of usage.\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Unit
  of the usage.\";s:4:\"enum\";a:6:{i:0;s:5:\"Count\";i:1;s:5:\"Bytes\";i:2;s:7:\"Seconds\";i:3;s:7:\"Percent\";i:4;s:14:\"CountPerSecond\";i:5;s:14:\"BytesPerSecond\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"UsagesUnit\";}}}s:4:\"type\";s:6:\"object\";}s:25:\"BackupManagementUsageList\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Backup
  management usage for vault.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  list of backup management usages for the given vault.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/BackupManagementUsage\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BackupStatusRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"BackupStatus
  request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"poLogicalName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Protectable
  Item Logical Name\";s:4:\"type\";s:6:\"string\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Entire
  ARM resource id of the resource\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceType\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Container
  Type - VM, SQLPaaS, DPM, AzureFileShare...\";s:4:\"enum\";a:13:{i:0;s:7:\"Invalid\";i:1;s:2:\"VM\";i:2;s:10:\"FileFolder\";i:3;s:10:\"AzureSqlDb\";i:4;s:5:\"SQLDB\";i:5;s:8:\"Exchange\";i:6;s:10:\"Sharepoint\";i:7;s:8:\"VMwareVM\";i:8;s:11:\"SystemState\";i:9;s:6:\"Client\";i:10;s:17:\"GenericDataSource\";i:11;s:11:\"SQLDataBase\";i:12;s:14:\"AzureFileShare\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:14:\"DataSourceType\";}}}s:4:\"type\";s:6:\"object\";}s:20:\"BackupStatusResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"BackupStatus
  response.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"containerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"Specifies
  the product specific container name. E.g. iaasvmcontainer;iaasvmcontainer;csname;vmname.
  This is required for portal\";s:4:\"type\";s:6:\"string\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"ErrorCode
  in case of intent failed\";s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"ErrorMessage
  in case of intent failed.\";s:4:\"type\";s:6:\"string\";}s:10:\"fabricName\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Specifies
  the fabric name - Azure or AAD\";s:4:\"enum\";a:2:{i:0;s:7:\"Invalid\";i:1;s:5:\"Azure\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"FabricName\";}}s:10:\"policyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Specifies
  the policy name which is used for protection\";s:4:\"type\";s:6:\"string\";}s:17:\"protectedItemName\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"Specifies
  the product specific ds name. E.g. vm;iaasvmcontainer;csname;vmname. This is required
  for portal\";s:4:\"type\";s:6:\"string\";}s:16:\"protectionStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Specifies
  whether the container is registered or not\";s:4:\"enum\";a:5:{i:0;s:7:\"Invalid\";i:1;s:12:\"NotProtected\";i:2;s:10:\"Protecting\";i:3;s:9:\"Protected\";i:4;s:16:\"ProtectionFailed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"ProtectionStatus\";}}s:18:\"registrationStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Container
  registration status\";s:4:\"type\";s:6:\"string\";}s:7:\"vaultId\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Specifies
  the arm resource id of the vault\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DPMProtectedItem\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:11:\"description\";s:61:\"Additional
  information on Backup engine specific backup item.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"backupEngineName\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Backup
  Management server protecting this backup item\";s:4:\"type\";s:6:\"string\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/DPMProtectedItemExtendedInfo\";s:11:\"description\";s:33:\"Extended
  info of the backup item.\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Friendly
  name of the managed item\";s:4:\"type\";s:6:\"string\";}s:28:\"isScheduledForDeferredDelete\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"To
  check if backup item is scheduled for deferred delete\";s:4:\"type\";s:7:\"boolean\";}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Protection
  state of the backupengine\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:9:\"IRPending\";i:2;s:9:\"Protected\";i:3;s:15:\"ProtectionError\";i:4;s:17:\"ProtectionStopped\";i:5;s:16:\"ProtectionPaused\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"ProtectedItemState\";}}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:16:\"DPMProtectedItem\";}s:28:\"DPMProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Additional
  information of DPM Protected item.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:22:\"diskStorageUsedInBytes\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Used
  Disk storage in bytes.\";s:4:\"type\";s:6:\"string\";}s:12:\"isCollocated\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"To
  check if backup item is collocated.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"isPresentOnCloud\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"To
  check if backup item is cloud protected.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"lastBackupStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Last
  backup status information on backup item.\";s:4:\"type\";s:6:\"string\";}s:15:\"lastRefreshedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Last
  refresh time on backup item.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Oldest
  cloud recovery point time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:28:\"onPremiseLatestRecoveryPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"latest
  disk recovery point time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:28:\"onPremiseOldestRecoveryPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Oldest
  disk recovery point time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:27:\"onPremiseRecoveryPointCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"disk
  recovery point count.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"protectableObjectLoadPath\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:48:\"Attribute
  to provide information on various DBs.\";s:4:\"type\";s:6:\"object\";}s:9:\"protected\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"To
  check if backup item is disk protected.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"protectionGroupName\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Protection
  group name of the backup item.\";s:4:\"type\";s:6:\"string\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"cloud
  recovery point count.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:27:\"totalDiskStorageSizeInBytes\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"total
  Disk storage in bytes.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DailyRetentionFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Daily
  retention format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"daysOfTheMonth\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of days of the month.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Day\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DailyRetentionSchedule\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Daily
  retention schedule.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"retentionDuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RetentionDuration\";s:11:\"description\";s:39:\"Retention
  duration of retention Policy.\";}s:14:\"retentionTimes\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Retention
  times of retention policy.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Day\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Day
  of the week.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Date
  of the month\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"isLast\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Whether
  Date is last date of month\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DpmErrorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"DPM
  workload-specific error information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"errorString\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Localized
  error string.\";s:4:\"type\";s:6:\"string\";}s:15:\"recommendations\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"List
  of localized recommendations for above error code.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"DpmJob\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}}s:11:\"description\";s:32:\"DPM
  workload-specifc job object.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"actionsInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  state/actions applicable on this job like cancel/retry.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:11:\"Cancellable\";i:2;s:9:\"Retriable\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"JobSupportedAction\";}}s:4:\"type\";s:5:\"array\";}s:13:\"containerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Name
  of cluster/server protecting current backup item, if any.\";s:4:\"type\";s:6:\"string\";}s:13:\"containerType\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Type
  of container.\";s:4:\"type\";s:6:\"string\";}s:13:\"dpmServerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"DPM
  server name managing the backup item or backup job.\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Time
  elapsed for job.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  errors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DpmErrorInfo\";}s:4:\"type\";s:5:\"array\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DpmJobExtendedInfo\";s:11:\"description\";s:36:\"Additional
  information for this job.\";}s:12:\"workloadType\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Type
  of backup item.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:6:\"DpmJob\";}s:18:\"DpmJobExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Additional
  information on the DPM workload-specific job.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"dynamicErrorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Non
  localized error message on job execution.\";s:4:\"type\";s:6:\"string\";}s:11:\"propertyBag\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:19:\"The
  job properties.\";s:4:\"type\";s:6:\"object\";}s:9:\"tasksList\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"List
  of tasks associated with this job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DpmJobTaskDetails\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DpmJobTaskDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"DPM
  workload-specific job task details.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Time
  elapsed for task.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  end time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"The
  status.\";s:4:\"type\";s:6:\"string\";}s:6:\"taskId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  task display name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ErrorDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Error
  Detail class which encapsulates Code, Message and Recommendations.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Error
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Error
  Message related to the Code.\";s:4:\"type\";s:6:\"string\";}s:15:\"recommendations\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"List
  of recommendation strings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ExportJobsOperationResultInfo\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/OperationResultInfoBase\";}}s:11:\"description\";s:61:\"This
  class is used to send blob details after exporting jobs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"blobSasKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"SAS
  key to access the blob. It expires in 15 mins.\";s:4:\"type\";s:6:\"string\";}s:7:\"blobUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"URL
  of the blob into which the serialized string of list of jobs is exported.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:29:\"ExportJobsOperationResultInfo\";}s:21:\"FeatureSupportRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Base
  class for feature request\";s:13:\"discriminator\";s:11:\"featureType\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"featureType\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"backup
  support feature type.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GenericProtectedItem\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:11:\"description\";s:28:\"Base
  class for backup items.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"fabricName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Name
  of this backup item's fabric.\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Friendly
  name of the container.\";s:4:\"type\";s:6:\"string\";}s:11:\"policyState\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Indicates
  consistency of policy object and policy applied to this backup item.\";s:4:\"type\";s:6:\"string\";}s:15:\"protectedItemId\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Data
  Plane Service ID of the protected item.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Backup
  state of this backup item.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:9:\"IRPending\";i:2;s:9:\"Protected\";i:3;s:15:\"ProtectionError\";i:4;s:17:\"ProtectionStopped\";i:5;s:16:\"ProtectionPaused\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"ProtectionState\";}}s:18:\"sourceAssociations\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:81:\"Loosely
  coupled (type, value) associations (example - parent of a protected item)\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:20:\"GenericProtectedItem\";}s:23:\"GenericProtectionPolicy\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}s:11:\"description\";s:51:\"Azure
  VM (Mercury) workload-specific backup policy.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"fabricName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Name
  of this policy's fabric.\";s:4:\"type\";s:6:\"string\";}s:19:\"subProtectionPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"List
  of sub-protection policies which includes schedule and retention\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SubProtectionPolicy\";}s:4:\"type\";s:5:\"array\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"TimeZone
  optional input as string. For example: TimeZone = \"Pacific Standard Time\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:23:\"GenericProtectionPolicy\";}s:3:\"Job\";O:8:\"stdClass\":5:{s:11:\"description\";s:47:\"Defines
  workload agnostic properties for a job.\";s:13:\"discriminator\";s:7:\"jobType\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"activityId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"ActivityId
  of job.\";s:4:\"type\";s:6:\"string\";}s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Backup
  management type to execute the current job.\";s:4:\"enum\";a:9:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";i:6;s:12:\"AzureStorage\";i:7;s:13:\"AzureWorkload\";i:8;s:13:\"DefaultBackup\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"BackupManagementType\";}}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  end time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"entityFriendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Friendly
  name of the entity on which the current job is executing.\";s:4:\"type\";s:6:\"string\";}s:7:\"jobType\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"This
  property will be used as the discriminator for deciding the specific types in the
  polymorhpic chain of types.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  operation name.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Job
  status.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"jobType\";}s:4:\"type\";s:6:\"object\";}s:14:\"JobQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Filters
  to list the jobs.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Type
  of backup managmenent for the job.\";s:4:\"enum\";a:9:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";i:6;s:12:\"AzureStorage\";i:7;s:13:\"AzureWorkload\";i:8;s:13:\"DefaultBackup\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"BackupManagementType\";}}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Job
  has ended at this time. Value is in UTC.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"JobID
  represents the job uniquely.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Type
  of operation.\";s:4:\"enum\";a:8:{i:0;s:7:\"Invalid\";i:1;s:8:\"Register\";i:2;s:10:\"UnRegister\";i:3;s:15:\"ConfigureBackup\";i:4;s:6:\"Backup\";i:5;s:7:\"Restore\";i:6;s:13:\"DisableBackup\";i:7;s:16:\"DeleteBackupData\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"JobOperationType\";}}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Job
  has started at this time. Value is in UTC.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Status
  of the job.\";s:4:\"enum\";a:7:{i:0;s:7:\"Invalid\";i:1;s:10:\"InProgress\";i:2;s:9:\"Completed\";i:3;s:6:\"Failed\";i:4;s:21:\"CompletedWithWarnings\";i:5;s:9:\"Cancelled\";i:6;s:10:\"Cancelling\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"JobStatus\";}}}s:4:\"type\";s:6:\"object\";}s:11:\"JobResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:47:\"Defines
  workload agnostic properties for a job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Job\";s:11:\"description\";s:22:\"JobResource
  properties\";}}}s:15:\"JobResourceList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";}}s:11:\"description\";s:21:\"List
  of Job resources\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/JobResource\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"LogSchedulePolicy\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SchedulePolicy\";}}s:11:\"description\";s:20:\"Log
  policy schedule.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"scheduleFrequencyInMins\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Frequency
  of the log schedule operation of this policy in minutes.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:17:\"LogSchedulePolicy\";}s:23:\"LongTermRetentionPolicy\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";}}s:11:\"description\";s:27:\"Long
  term retention policy.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"dailySchedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DailyRetentionSchedule\";s:11:\"description\";s:50:\"Daily
  retention schedule of the protection policy.\";}s:15:\"monthlySchedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/MonthlyRetentionSchedule\";s:11:\"description\";s:52:\"Monthly
  retention schedule of the protection policy.\";}s:14:\"weeklySchedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/WeeklyRetentionSchedule\";s:11:\"description\";s:51:\"Weekly
  retention schedule of the protection policy.\";}s:14:\"yearlySchedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/YearlyRetentionSchedule\";s:11:\"description\";s:51:\"Yearly
  retention schedule of the protection policy.\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:23:\"LongTermRetentionPolicy\";}s:22:\"LongTermSchedulePolicy\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SchedulePolicy\";}}s:11:\"description\";s:26:\"Long
  term policy schedule.\";s:4:\"type\";s:6:\"object\";}s:12:\"MabErrorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"MAB
  workload-specific error information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"errorString\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Localized
  error string.\";s:4:\"type\";s:6:\"string\";}s:15:\"recommendations\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"List
  of localized recommendations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"MabFileFolderProtectedItem\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:11:\"description\";s:34:\"MAB
  workload-specific backup item.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"computerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Name
  of the computer associated with this backup item.\";s:4:\"type\";s:6:\"string\";}s:27:\"deferredDeleteSyncTimeInUTC\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Sync
  time for deferred deletion.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:52:\"#/definitions/MabFileFolderProtectedItemExtendedInfo\";s:11:\"description\";s:45:\"Additional
  information with this backup item.\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Friendly
  name of this backup item.\";s:4:\"type\";s:6:\"string\";}s:28:\"isScheduledForDeferredDelete\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Specifies
  if the item is scheduled for deferred deletion.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"lastBackupStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Status
  of last backup operation.\";s:4:\"type\";s:6:\"string\";}s:15:\"protectionState\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Protected,
  ProtectionStopped, IRPending or ProtectionError\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:26:\"MabFileFolderProtectedItem\";}s:38:\"MabFileFolderProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Additional
  information on the backed up item.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"lastRefreshedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Last
  time when the agent data synced to service.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  oldest backup copy available.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Number
  of backup copies associated with the backup item.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"MabJob\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}}s:11:\"description\";s:26:\"MAB
  workload-specific job.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"actionsInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  state/actions applicable on jobs like cancel/retry.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:11:\"Cancellable\";i:2;s:9:\"Retriable\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"JobSupportedAction\";}}s:4:\"type\";s:5:\"array\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Time
  taken by job to run.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  errors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MabErrorInfo\";}s:4:\"type\";s:5:\"array\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/MabJobExtendedInfo\";s:11:\"description\";s:34:\"Additional
  information on the job.\";}s:13:\"mabServerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Name
  of server protecting the DS.\";s:4:\"type\";s:6:\"string\";}s:13:\"mabServerType\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Server
  type of MAB container.\";s:4:\"enum\";a:15:{i:0;s:7:\"Invalid\";i:1;s:7:\"Unknown\";i:2;s:15:\"IaasVMContainer\";i:3;s:22:\"IaasVMServiceContainer\";i:4;s:12:\"DPMContainer\";i:5;s:26:\"AzureBackupServerContainer\";i:6;s:12:\"MABContainer\";i:7;s:7:\"Cluster\";i:8;s:17:\"AzureSqlContainer\";i:9;s:7:\"Windows\";i:10;s:7:\"VCenter\";i:11;s:14:\"VMAppContainer\";i:12;s:22:\"SQLAGWorkLoadContainer\";i:13;s:16:\"StorageContainer\";i:14;s:16:\"GenericContainer\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"MabServerType\";}}s:12:\"workloadType\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Workload
  type of backup item.\";s:4:\"enum\";a:13:{i:0;s:7:\"Invalid\";i:1;s:2:\"VM\";i:2;s:10:\"FileFolder\";i:3;s:10:\"AzureSqlDb\";i:4;s:5:\"SQLDB\";i:5;s:8:\"Exchange\";i:6;s:10:\"Sharepoint\";i:7;s:8:\"VMwareVM\";i:8;s:11:\"SystemState\";i:9;s:6:\"Client\";i:10;s:17:\"GenericDataSource\";i:11;s:11:\"SQLDataBase\";i:12;s:14:\"AzureFileShare\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"WorkloadType\";}}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:6:\"MabJob\";}s:18:\"MabJobExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Additional
  information for the MAB workload-specific job.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"dynamicErrorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Non
  localized error message specific to this job.\";s:4:\"type\";s:6:\"string\";}s:11:\"propertyBag\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:19:\"The
  job properties.\";s:4:\"type\";s:6:\"object\";}s:9:\"tasksList\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  of tasks for this job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/MabJobTaskDetails\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MabJobTaskDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"MAB
  workload-specific job task details.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Time
  elapsed for task.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  end time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"The
  status.\";s:4:\"type\";s:6:\"string\";}s:6:\"taskId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  task display name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"MabProtectionPolicy\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}s:11:\"description\";s:37:\"Mab
  container-specific backup policy.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:25:\"Retention
  policy details.\";}s:14:\"schedulePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SchedulePolicy\";s:11:\"description\";s:33:\"Backup
  schedule of backup policy.\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:3:\"MAB\";}s:24:\"MonthlyRetentionSchedule\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Monthly
  retention schedule.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"retentionDuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RetentionDuration\";s:11:\"description\";s:39:\"Retention
  duration of retention Policy.\";}s:22:\"retentionScheduleDaily\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DailyRetentionFormat\";s:11:\"description\";s:52:\"Daily
[...]
