---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2017-09-01\";s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationSecurityGroups:
    get:
      tags:
      - ApplicationSecurityGroups
      operationId: ApplicationSecurityGroups_ListAll
      description: Gets all application security groups in a subscription.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of application
            security group resources.
          schema:
            $ref: '#/definitions/ApplicationSecurityGroupListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List all application security groups:
          parameters:
            api-version: "2017-09-01"
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationSecurityGroups/asg1
                  name: asg1
                  type: Microsoft.Network/applicationSecurityGroups
                  location: westus
                  properties:
                    provisioningState: Succeeded
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationSecurityGroups/asg2
                  name: asg2
                  type: Microsoft.Network/applicationSecurityGroups
                  location: westus
                  properties:
                    provisioningState: Succeeded
                    resourceGuid: 00000000-0000-0000-0000-000000000000
      produces:
      - application/json
      consumes:
      - application/json
      x-internal-toc-name: List All
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:24:\"ApplicationSecurityGroup\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:54:\"#/definitions/ApplicationSecurityGroupPropertiesFormat\";s:11:\"description\";s:45:\"Properties
  of the application security group.\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:50:\"An
  application security group in a resource group.\";}s:40:\"ApplicationSecurityGroupPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"resourceGuid\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:204:\"The
  resource GUID property of the application security group resource. It uniquely identifies
  a resource, even if the user changes its name or migrate the resource across subscriptions
  or resource groups.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:138:\"The
  provisioning state of the application security group resource. Possible values are:
  'Succeeded', 'Updating', 'Deleting', and 'Failed'.\";}}s:11:\"description\";s:38:\"Application
  security group properties.\";}s:34:\"ApplicationSecurityGroupListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ApplicationSecurityGroup\";}s:11:\"description\";s:38:\"A
  list of application security groups.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:38:\"A list of application
  security groups.\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  type.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Resource
  location.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";}}s:11:\"description\";s:31:\"Common resource representation.\";s:19:\"x-ms-azure-resource\";b:1;s:8:\"required\";a:1:{i:0;s:8:\"location\";}}}"
...
