---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2015-05-01\";s:5:\"title\";s:35:\"ApplicationInsightsManagementClient\";s:11:\"description\";s:62:\"Azure
  Application Insights client for web test based alerting.\";}"
host: management.azure.com
paths:
  /providers/Microsoft.Insights/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available insights REST API operations.
      operationId: Operations_List
      parameters:
      - $ref: ../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Insights error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      produces:
      - application/json
      consumes:
      - application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Error
  response indicates Insights service is not able to process the incoming request.
  The reason is provided in the error message.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Error
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"CDN
  REST API operation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Operation
  name: {provider}/{resource}/{operation}\";s:4:\"type\";s:6:\"string\";}s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  object that represents the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Service
  provider: Microsoft.Cdn\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Resource
  on which the operation is performed: Profile, endpoint, etc.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Operation
  type: Read, write, delete, etc.\";s:4:\"type\";s:6:\"string\";}}}}}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"Result
  of the request to list CDN operations. It contains a list of operations and a URL
  link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:11:\"description\";s:62:\"List
  of CDN operations supported by the CDN resource provider.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";}}}}"
...
