---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:82:\"Use this API to
  manage the Windows IoT device services in your Azure subscription.\";s:5:\"title\";s:14:\"DeviceServices\";s:7:\"version\";s:18:\"2018-02-16-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:181:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/windowsiot/resource-manager/Microsoft.WindowsIoT/preview/2018-02-16-preview/WindowsIotServices.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:29:\"windowsiot-WindowsIotServices\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.WindowsIoT/operations:
    get:
      description: Lists all of the available Windows IoT Services REST API operations.
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      tags:
      - Operations
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2018-02-16-preview
          responses:
            200:
              body:
                value:
                - display:
                    description: Creates a Windows IoT Subscription with the specified
                      parameters or update the properties or tags or adds custom domain
                      for the specified Windows IoT Subscription.
                    operation: Create/Update Windows IoT Subscription
                    provider: Windows IoT
                    resource: Windows IoT Services
                  name: Microsoft.WindowsIoT/Services/write
                - display:
                    description: Deletes an existing Windows IoT Subscription.
                    operation: Delete Windows IoT Subscription
                    provider: Windows IoT
                    resource: Windows IoT Services
                  name: Microsoft.WindowsIoT/Services/delete
                - display:
                    description: Checks that account name is valid and is not in use.
                    operation: Check Name Availability
                    provider: Windows IoT
                    resource: Name Availability
                  name: Microsoft.WindowsIoT/checkNameAvailability/read
                - display:
                    description: Returns the list of Windows IoT Services or gets
                      the properties for the specified Windows IoT Subscription.
                    operation: List/Get Windows IoT Subscription(s)
                    provider: Windows IoT
                    resource: Windows IoT Services
                  name: Microsoft.WindowsIoT/Services/read
                - display:
                    description: Polls the status of an asynchronous operation.
                    operation: Poll Asynchronous Operation
                    provider: Windows IoT
                    resource: Operations
                  name: Microsoft.WindowsIoT/operations/read
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.WindowsIoT/checkDeviceServiceNameAvailability:
    post:
      deprecated: false
      description: Check if a Windows IoT Device Service name is available.
      operationId: Services_CheckDeviceServiceNameAvailability
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: Set the name parameter in the DeviceServiceCheckNameAvailabilityParameters
          structure to the name of the Windows IoT Device Service to check.
        in: body
        name: deviceServiceCheckNameAvailabilityParameters
        required: true
        schema:
          $ref: '#/definitions/DeviceServiceCheckNameAvailabilityParameters'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/DeviceServiceNameAvailabilityInfo'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      tags:
      - CheckDeviceServiceNameAvailability
      x-ms-examples:
        Service_CheckNameAvailability:
          parameters:
            api-version: 2018-02-16-preview
            deviceServiceCheckNameAvailabilityParameters:
              name: service3363
            subscriptionId: 27de630f-e1ee-42de-8849-90def4986454
          responses:
            200:
              body:
                nameAvailable: true
  /subscriptions/{subscriptionId}/providers/Microsoft.WindowsIoT/deviceServices:
    get:
      deprecated: false
      description: Get all the IoT hubs in a subscription.
      operationId: Services_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/DeviceServiceDescriptionListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      tags:
      - DeviceServices
      x-ms-examples:
        Service_List:
          parameters:
            api-version: 2018-02-16-preview
            subscriptionId: 27de630f-e1ee-42de-8849-90def4986454
          responses:
            200:
              body:
                value:
                - id: /subscriptions/27de630f-e1ee-42de-8849-90def4986454/resourceGroups/res2627/providers/Microsoft.WindowsIoT/Services/service1125
                  name: service1125
                  properties:
                    adminDomainName: d.e.f
                    billingDomainName: a.b.c
                    notes: blah
                    quantity: 1000000
                    startDate: "2018-01-01T12:00:00000Z"
                  type: Microsoft.WindowsIoT/Services
                - id: /subscriptions/27de630f-e1ee-42de-8849-90def4986454/resourceGroups/testcmk3/providers/Microsoft.WindowsIoT/Services/service3699
                  name: service3699
                  properties:
                    adminDomainName: d.e.f
                    billingDomainName: a.b.c
                    notes: blah
                    quantity: 1000000
                    startDate: "2018-01-01T12:00:00000Z"
                  type: Microsoft.WindowsIoT/Services
                - id: /subscriptions/27de630f-e1ee-42de-8849-90def4986454/resourceGroups/testcmk3/providers/Microsoft.WindowsIoT/Services/service6637
                  name: service6637
                  properties:
                    adminDomainName: d.e.f
                    billingDomainName: a.b.c
                    notes: blah
                    quantity: 1000000
                    startDate: "2018-01-01T12:00:00000Z"
                  type: Microsoft.WindowsIoT/Services
                - id: /subscriptions/27de630f-e1ee-42de-8849-90def4986454/resourceGroups/res8186/providers/Microsoft.WindowsIoT/Services/service834
                  name: service834
                  properties:
                    adminDomainName: d.e.f
                    billingDomainName: a.b.c
                    notes: blah
                    quantity: 1000000
                    startDate: "2018-01-01T12:00:00000Z"
                  type: Microsoft.WindowsIoT/Services
                - id: /subscriptions/27de630f-e1ee-42de-8849-90def4986454/resourceGroups/testcmk3/providers/Microsoft.WindowsIoT/Services/service9174
                  name: service9174
                  properties:
                    adminDomainName: d.e.f
                    billingDomainName: a.b.c
                    notes: blah
                    quantity: 1000000
                    startDate: "2018-01-01T12:00:00000Z"
                  type: Microsoft.WindowsIoT/Services
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WindowsIoT/deviceServices:
    get:
      deprecated: false
      description: Get all the IoT hubs in a resource group.
      operationId: Services_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/DeviceServiceDescriptionListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      tags:
      - DeviceServices
      x-ms-examples:
        Service_ListByResourceGroup:
          parameters:
            api-version: 2018-02-16-preview
            resourceGroupName: res6117
            subscriptionId: 27de630f-e1ee-42de-8849-90def4986454
          responses:
            200:
              body:
                value:
                - id: /subscriptions/27de630f-e1ee-42de-8849-90def4986454/resourceGroups/res6117/providers/Microsoft.WindowsIoT/Services/service4036
                  name: service4036
                  properties:
                    adminDomainName: d.e.f
                    billingDomainName: a.b.c
                    notes: blah
                    quantity: 1000000
                    startDate: "2018-01-01T12:00:00000Z"
                  type: Microsoft.WindowsIoT/Services
                - id: /subscriptions/27de630f-e1ee-42de-8849-90def4986454/resourceGroups/res6117/providers/Microsoft.WindowsIoT/Services/service4452
                  name: service4452
                  properties:
                    adminDomainName: d.e.f
                    billingDomainName: a.b.c
                    notes: blah
                    quantity: 1000000
                    startDate: "2018-01-01T12:00:00000Z"
                  type: Microsoft.WindowsIoT/Services
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WindowsIoT/deviceServices/{deviceName}:
    delete:
      deprecated: false
      description: Delete a Windows IoT Device Service.
      operationId: Services_Delete
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/DeviceNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/DeviceService'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      tags:
      - DeviceServices
      x-ms-examples:
        Service_Delete:
          parameters:
            api-version: 2018-02-16-preview
            deviceName: service2434
            resourceGroupName: res4228
            subscriptionId: 27de630f-e1ee-42de-8849-90def4986454
          responses:
            200:
              body:
                properties:
                  adminDomainName: d.e.f
                  billingDomainName: a.b.c
                  notes: blah
                  quantity: 1000000
                  startDate: "2018-01-01T12:00:00000Z"
                type: Microsoft.WindowsIoT/Services
    get:
      deprecated: false
      description: Get the non-security related metadata of a Windows IoT Device Service.
      operationId: Services_Get
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/DeviceNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/DeviceService'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      tags:
      - DeviceServices
      x-ms-examples:
        Services_GetProperties:
          parameters:
            api-version: 2018-02-16-preview
            deviceName: service8596
            resourceGroupName: res9407
            subscriptionId: 45b60d85-fd72-427a-a708-f994d26e593e
          responses:
            200:
              body:
                id: /subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res9407/providers/Microsoft.WindowsIoT/Services/service8596
                location: westus
                name: service8596
                properties:
                  adminDomainName: d.e.f
                  billingDomainName: a.b.c
                  notes: blah
                  quantity: 1000000
                  startDate: "2018-01-01T12:00:00000Z"
                type: Microsoft.WindowsIoT/Services
    patch:
      deprecated: false
      description: Updates the metadata of a Windows IoT Device Service. The usual
        pattern to modify a property is to retrieve the Windows IoT Device Service
        metadata and security metadata, and then combine them with the modified values
        in a new body to update the Windows IoT Device Service.
      operationId: Services_Update
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/DeviceNameParameter'
      - description: The Windows IoT Device Service metadata and security metadata.
        in: body
        name: deviceService
        required: true
        schema:
          $ref: '#/definitions/DeviceService'
      - description: ETag of the Windows IoT Device Service. Do not specify for creating
          a brand new Windows IoT Device Service. Required to update an existing Windows
          IoT Device Service.
        in: header
        name: If-Match
        required: false
        type: string
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/DeviceService'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Updates the metadata of a Windows IoT Device Service.
      tags:
      - DeviceServices
      x-ms-examples:
        Service_Update:
          parameters:
            api-version: 2018-02-16-preview
            deviceName: service8596
            deviceService:
              notes: blah
              quantity: 1000000
            monitor: "true"
            resourceGroupName: res9407
            subscriptionId: 45b60d85-fd72-427a-a708-f994d26e593e
          responses:
            200:
              body:
                location: westus
                properties:
                  adminDomainName: d.e.f
                  billingDomainName: a.b.c
                  notes: blah
                  quantity: 1000000
                  startDate: "2018-01-01T12:00:00000Z"
                type: Microsoft.WindowsIoT/Services
    put:
      deprecated: false
      description: Create or update the metadata of a Windows IoT Device Service.
        The usual pattern to modify a property is to retrieve the Windows IoT Device
        Service metadata and security metadata, and then combine them with the modified
        values in a new body to update the Windows IoT Device Service.
      operationId: Services_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/DeviceNameParameter'
      - description: The Windows IoT Device Service metadata and security metadata.
        in: body
        name: deviceService
        required: true
        schema:
          $ref: '#/definitions/DeviceService'
      - description: ETag of the Windows IoT Device Service. Do not specify for creating
          a new Windows IoT Device Service. Required to update an existing Windows
          IoT Device Service.
        in: header
        name: If-Match
        required: false
        type: string
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/DeviceService'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Create or update the metadata of a Windows IoT Device Service.
      tags:
      - DeviceServices
      x-ms-examples:
        Service_Create:
          parameters:
            api-version: 2018-02-16-preview
            deviceName: service4445
            deviceService:
              adminDomainName: d.e.f
              billingDomainName: a.b.c
              notes: blah
              quantity: 1000000
            resourceGroupName: res9101
            subscriptionId: 27de630f-e1ee-42de-8849-90def4986454
          responses:
            200:
              body:
                properties:
                  adminDomainName: d.e.f
                  billingDomainName: a.b.c
                  notes: blah
                  quantity: 1000000
                  startDate: "2018-01-01T12:00:00000Z"
                type: Microsoft.WindowsIoT/Services
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":12:{s:13:\"DeviceService\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:11:\"description\";s:50:\"The
  description of the Windows IoT Device Service.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"The
  Etag field is *not* required. If it is provided in the response body, it must also
  be provided as a header per the normal ETag convention.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/DeviceServiceProperties\";s:11:\"description\";s:47:\"The
  properties of a Windows IoT Device Service.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:44:\"DeviceServiceCheckNameAvailabilityParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Input
  values.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  name of the Windows IoT Device Service to check.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:34:\"DeviceServiceDescriptionListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  JSON-serialized array of DeviceService objects with a next link.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  next link.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  array of DeviceService objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DeviceService\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DeviceServiceNameAvailabilityInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  properties indicating whether a given Windows IoT Device Service name is available.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  detailed reason message.\";s:4:\"type\";s:6:\"string\";}s:13:\"nameAvailable\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  value which indicates whether the provided name is available.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:6:\"reason\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"The
  reason for unavailability.\";s:4:\"enum\";a:2:{i:0;s:7:\"Invalid\";i:1;s:13:\"AlreadyExists\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:31:\"serviceNameUnavailabilityReason\";}}}s:4:\"type\";s:6:\"object\";}s:23:\"DeviceServiceProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  properties of a Windows IoT Device Service.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"adminDomainName\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Windows
  IoT Device Service OEM AAD domain\";s:4:\"type\";s:6:\"string\";}s:17:\"billingDomainName\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Windows
  IoT Device Service ODM AAD domain\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Windows
  IoT Device Service notes.\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Windows
  IoT Device Service device allocation,\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"startDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Windows
  IoT Device Service start date,\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  details of the error.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"One
  of a server-defined set of error codes.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"A
  human-readable representation of the error's details.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"A
  human-readable representation of the error.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  target of the particular error.\";s:4:\"type\";s:6:\"string\";}}}s:20:\"OperationDisplayInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  operation supported by Azure Data Catalog Service.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  description of the operation.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  action that users can perform, based on their permission level.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Service
  provider: Azure Data Catalog Service.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Resource
  on which the operation is performed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"OperationEntity\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  operation supported by Azure Data Catalog Service.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/OperationDisplayInfo\";s:11:\"description\";s:54:\"The
  operation supported by Azure Data Catalog Service.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Operation
  name: {provider}/{resource}/{operation}.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"Result
  of the request to list Windows IoT Device Service operations. It contains a list
  of operations and a URL link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:102:\"List
  of Windows IoT Device Service operations supported by the Microsoft.WindowsIoT resource
  provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OperationEntity\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:13:\"ProxyResource\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:117:\"The
  resource model definition for a ARM proxy resource. It will have everything other
  than required location and tags\";}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  core properties of ARM resources\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Fully
  qualified resource Id for the resource\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  name of the resource\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:15:\"TrackedResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:66:\"The
  resource model definition for a ARM tracked top level resource\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  Azure Region where the resource lives\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}}s:4:\"tags\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";s:15:\"x-ms-mutability\";a:3:{i:0;s:4:\"read\";i:1;s:6:\"create\";i:2;s:6:\"update\";}}}}}"
...
