---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2018-06-30\";s:5:\"title\";s:27:\"ConsumptionManagementClient\";s:11:\"description\";s:106:\"Consumption
  management client provides access to consumption resources for Azure Enterprise
  Subscriptions.\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/usageDetails:
    get:
      tags:
      - UsageDetails
      operationId: UsageDetails_List
      description: Lists the usage details for a scope by current billing period.
        Usage details are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsList:
          $ref: ./examples/UsageDetailsList.json
        UsageDetailsListFilterByTag:
          $ref: ./examples/UsageDetailsListFilterByTag.json
        UsageDetailsListGroupByTagDate:
          $ref: ./examples/UsageDetailsListGroupByTagDate.json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName,
          properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le',
          'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag
          filter is a key value pair string where key and value is separated by a
          colon (:).
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart)
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails
  : get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListByBillingPeriod
      description: Lists the usage details for a scope by billing period. Usage details
        are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          $ref: ./examples/UsageDetailsListForBillingPeriod.json
        UsageDetailsExpand:
          $ref: ./examples/UsageDetailsExpand.json
        UsageDetailsListForBillingPeriodGroupByTag:
          $ref: ./examples/UsageDetailsListForBillingPeriodGroupByTag.json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter
          is a key value pair string where key and value is separated by a colon (:).
        in: query
        required: false
        type: string
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart) for specified billing period
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/usageDetails:
    get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListByBillingAccount
      description: Lists the usage details by billingAccountId for a scope by current
        billing period. Usage details are available via this API only for May 1, 2014
        or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsList:
          $ref: ./examples/UsageDetailsListByBillingAccount.json
      parameters:
      - $ref: '#/parameters/billingAccountIdParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName,
          properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le',
          'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag
          filter is a key value pair string where key and value is separated by a
          colon (:).
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart)
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails
  : get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListForBillingPeriodByBillingAccount
      description: Lists the usage details based on billingAccountId for a scope by
        billing period. Usage details are available via this API only for May 1, 2014
        or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          $ref: ./examples/UsageDetailsListForBillingPeriodByBillingAccount.json
      parameters:
      - $ref: '#/parameters/billingAccountIdParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter
          is a key value pair string where key and value is separated by a colon (:).
        in: query
        required: false
        type: string
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart) for specified billing period
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Consumption/usageDetails:
    get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListByDepartment
      description: Lists the usage details by departmentId for a scope by current
        billing period. Usage details are available via this API only for May 1, 2014
        or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsList:
          $ref: ./examples/UsageDetailsListByDepartment.json
      parameters:
      - $ref: '#/parameters/departmentIdParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName,
          properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le',
          'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag
          filter is a key value pair string where key and value is separated by a
          colon (:).
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart)
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails
  : get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListForBillingPeriodByDepartment
      description: Lists the usage details based on departmentId for a scope by billing
        period. Usage details are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          $ref: ./examples/UsageDetailsListForBillingPeriodByDepartment.json
      parameters:
      - $ref: '#/parameters/departmentIdParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter
          is a key value pair string where key and value is separated by a colon (:).
        in: query
        required: false
        type: string
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart) for specified billing period
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Consumption/usageDetails:
    get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListByEnrollmentAccount
      description: Lists the usage details by enrollmentAccountId for a scope by current
        billing period. Usage details are available via this API only for May 1, 2014
        or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsList:
          $ref: ./examples/UsageDetailsListByEnrollmentAccount.json
      parameters:
      - $ref: '#/parameters/enrollmentAccountIdParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName,
          properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le',
          'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag
          filter is a key value pair string where key and value is separated by a
          colon (:).
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart)
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails
  : get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListForBillingPeriodByEnrollmentAccount
      description: Lists the usage details based on enrollmentAccountId for a scope
        by billing period. Usage details are available via this API only for May 1,
        2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          $ref: ./examples/UsageDetailsListForBillingPeriodByEnrollmentAccount.json
      parameters:
      - $ref: '#/parameters/enrollmentAccountIdParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter
          is a key value pair string where key and value is separated by a colon (:).
        in: query
        required: false
        type: string
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart) for specified billing period
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/marketplaces:
    get:
      tags:
      - Marketplaces
      x-ms-odata: '#/definitions/Marketplace'
      operationId: Marketplaces_List
      description: Lists the marketplaces for a scope by subscriptionId and current
        billing period. Marketplaces are available via this API only for May 1, 2014
        or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        MarketplacesList:
          $ref: ./examples/MarketplacesList.json
      parameters:
      - name: $filter
        description: May be used to filter marketplaces by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/MarketplacesListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/marketplaces
  : get:
      tags:
      - Marketplaces
      x-ms-odata: '#/definitions/Marketplace'
      operationId: Marketplaces_ListByBillingPeriod
      description: Lists the marketplaces for a scope by billing period and subscriptionId.
        Marketplaces are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        MarketplacesListForBillingPeriod:
          $ref: ./examples/MarketplacesListForBillingPeriod.json
      parameters:
      - name: $filter
        description: May be used to filter marketplaces by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/MarketplacesListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/marketplaces:
    get:
      tags:
      - Marketplaces
      x-ms-odata: '#/definitions/Marketplace'
      operationId: Marketplaces_ListByBillingAccount
      description: Lists the marketplaces for a scope by billingAccountId and current
        billing period. Marketplaces are available via this API only for May 1, 2014
        or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        MarketplacesList:
          $ref: ./examples/MarketplacesByBillingAccountList.json
      parameters:
      - name: $filter
        description: May be used to filter marketplaces by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/billingAccountIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/MarketplacesListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/marketplaces
  : get:
      tags:
      - Marketplaces
      x-ms-odata: '#/definitions/Marketplace'
      operationId: Marketplaces_ListForBillingPeriodByBillingAccount
      description: Lists the marketplaces for a scope by billing period and billingAccountId.
        Marketplaces are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        MarketplacesListForBillingPeriod:
          $ref: ./examples/MarketplacesByBillingAccountListForBillingPeriod.json
      parameters:
      - name: $filter
        description: May be used to filter marketplaces by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/billingAccountIdParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/MarketplacesListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Consumption/marketplaces:
    get:
      tags:
      - Marketplaces
      x-ms-odata: '#/definitions/Marketplace'
      operationId: Marketplaces_ListByDepartment
      description: Lists the marketplaces for a scope by departmentId and current
        billing period. Marketplaces are available via this API only for May 1, 2014
        or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        MarketplacesList:
          $ref: ./examples/MarketplacesByDepartmentList.json
      parameters:
      - name: $filter
        description: May be used to filter marketplaces by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/departmentIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/MarketplacesListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/marketplaces
  : get:
      tags:
      - Marketplaces
      x-ms-odata: '#/definitions/Marketplace'
      operationId: Marketplaces_ListForBillingPeriodByDepartment
      description: Lists the marketplaces for a scope by billing period and departmentId.
        Marketplaces are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        MarketplacesListForBillingPeriod:
          $ref: ./examples/MarketplacesByDepartment_ListByBillingPeriod.json
      parameters:
      - name: $filter
        description: May be used to filter marketplaces by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/departmentIdParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/MarketplacesListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Consumption/marketplaces:
    get:
      tags:
      - Marketplaces
      x-ms-odata: '#/definitions/Marketplace'
      operationId: Marketplaces_ListByEnrollmentAccount
      description: Lists the marketplaces for a scope by enrollmentAccountId and current
        billing period. Marketplaces are available via this API only for May 1, 2014
        or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        MarketplacesList:
          $ref: ./examples/MarketplacesByEnrollmentAccountList.json
      parameters:
      - name: $filter
        description: May be used to filter marketplaces by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/enrollmentAccountIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/MarketplacesListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/marketplaces
  : get:
      tags:
      - Marketplaces
      x-ms-odata: '#/definitions/Marketplace'
      operationId: Marketplaces_ListForBillingPeriodByEnrollmentAccount
      description: Lists the marketplaces for a scope by billing period and enrollmentAccountId.
        Marketplaces are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        MarketplacesListForBillingPeriod:
          $ref: ./examples/MarketplacesByEnrollmentAccounts_ListByBillingPeriod.json
      parameters:
      - name: $filter
        description: May be used to filter marketplaces by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/enrollmentAccountIdParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/MarketplacesListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/balances:
    get:
      tags:
      - Balances
      operationId: Balances_GetByBillingAccount
      description: Gets the balances for a scope by billingAccountId. Balances are
        available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        Balances:
          $ref: ./examples/BalancesByBillingAccount.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/billingAccountIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Balance'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/balances
  : get:
      tags:
      - Balances
      operationId: Balances_GetForBillingPeriodByBillingAccount
      description: Gets the balances for a scope by billing period and billingAccountId.
        Balances are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        Balances:
          $ref: ./examples/BalancesByBillingAccountForBillingPeriod.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/billingAccountIdParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Balance'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationSummaries:
    get:
      tags:
      - ReservedInstances
      operationId: ReservationsSummaries_ListByReservationOrder
      description: Lists the reservations summaries for daily or monthly grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        ReservationSummariesDaily:
          $ref: ./examples/ReservationSummariesDaily.json
        ReservationSummariesMonthly:
          $ref: ./examples/ReservationSummariesMonthly.json
      parameters:
      - $ref: '#/parameters/reservationOrderIdParameter'
      - $ref: '#/parameters/grainParameter'
      - name: $filter
        description: Required only for daily grain. The properties/UsageDate for start
          date and end date. The filter supports 'le' and  'ge'
        in: query
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ReservationSummariesListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationSummaries
  : get:
      tags:
      - ReservedInstances
      operationId: ReservationsSummaries_ListByReservationOrderAndReservation
      description: Lists the reservations summaries for daily or monthly grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        ReservationSummariesDailyWithReservationId:
          $ref: ./examples/ReservationSummariesDailyWithReservationId.json
        ReservationSummariesMonthlyWithReservationId:
          $ref: ./examples/ReservationSummariesMonthlyWithReservationId.json
      parameters:
      - $ref: '#/parameters/reservationOrderIdParameter'
      - $ref: '#/parameters/reservationIdParameter'
      - $ref: '#/parameters/grainParameter'
      - name: $filter
        description: Required only for daily grain. The properties/UsageDate for start
          date and end date. The filter supports 'le' and  'ge'
        in: query
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ReservationSummariesListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationDetails:
    get:
      tags:
      - ReservedInstances
      operationId: ReservationsDetails_ListByReservationOrder
      description: Lists the reservations details for provided date range.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        ReservationDetails:
          $ref: ./examples/ReservationDetails.json
      parameters:
      - $ref: '#/parameters/reservationOrderIdParameter'
      - name: $filter
        description: 'Filter reservation details by date range. The properties/UsageDate
          for start date and end date. The filter supports ''le'' and  ''ge'' '
        in: query
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ReservationDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationDetails
  : get:
      tags:
      - ReservedInstances
      operationId: ReservationsDetails_ListByReservationOrderAndReservation
      description: Lists the reservations details for provided date range.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        ReservationDetailsWithReservationId:
          $ref: ./examples/ReservationDetailsWithReservationId.json
      parameters:
      - $ref: '#/parameters/reservationOrderIdParameter'
      - $ref: '#/parameters/reservationIdParameter'
      - name: $filter
        description: 'Filter reservation details by date range. The properties/UsageDate
          for start date and end date. The filter supports ''le'' and  ''ge'' '
        in: query
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ReservationDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/reservationRecommendations:
    get:
      tags:
      - ReservationRecommendations
      operationId: ReservationRecommendations_List
      description: List of recommendations for purchasing reserved instances.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        ReservationRecommendations:
          $ref: ./examples/ReservationRecommendationsList.json
        ReservationRecommendationsFilterByScopeLookBackPeriod:
          $ref: ./examples/ReservationRecommendationsFilterByScopeLookBackPeriod.json
      parameters:
      - name: $filter
        description: May be used to filter reservationRecommendations by properties/scope
          and properties/lookBackPeriod.
        in: query
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ReservationRecommendationsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/budgets:
    get:
      tags:
      - Budgets
      operationId: Budgets_List
      description: Lists all budgets for a subscription.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        BudgetsList:
          $ref: ./examples/BudgetsList.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/BudgetsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Consumption/budgets:
    get:
      tags:
      - Budgets
      operationId: Budgets_ListByResourceGroupName
      description: Lists all budgets for a resource group under a subscription.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        BudgetsList:
          $ref: ./examples/BudgetsList.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/BudgetsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/budgets/{budgetName}:
    get:
      tags:
      - Budgets
      operationId: Budgets_Get
      description: Gets the budget for a subscription by budget name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        Budget:
          $ref: ./examples/Budget.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/budgetNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Budget'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
      - Budgets
      operationId: Budgets_CreateOrUpdate
      description: The operation to create or update a budget. Update operation requires
        latest eTag to be set in the request mandatorily. You may obtain the latest
        eTag by performing a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        CreateOrUpdateBudget:
          $ref: ./examples/CreateOrUpdateBudget.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/budgetNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Budget'
        description: Parameters supplied to the Create Budget operation.
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Budget'
        201:
          description: Created.
          schema:
            $ref: '#/definitions/Budget'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Budgets
      operationId: Budgets_Delete
      description: The operation to delete a budget.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        DeleteBudget:
          $ref: ./examples/DeleteBudget.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/budgetNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Consumption/budgets/{budgetName}:
    get:
      tags:
      - Budgets
      operationId: Budgets_GetByResourceGroupName
      description: Gets the budget for a resource group under a subscription by budget
        name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        Budget:
          $ref: ./examples/Budget.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/budgetNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Budget'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
      - Budgets
      operationId: Budgets_CreateOrUpdateByResourceGroupName
      description: The operation to create or update a budget. Update operation requires
        latest eTag to be set in the request mandatorily. You may obtain the latest
        eTag by performing a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        CreateOrUpdateBudget:
          $ref: ./examples/CreateOrUpdateBudget.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/budgetNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Budget'
        description: Parameters supplied to the Create Budget operation.
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Budget'
        201:
          description: Created.
          schema:
            $ref: '#/definitions/Budget'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Budgets
      operationId: Budgets_DeleteByResourceGroupName
      description: The operation to delete a budget.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        DeleteBudget:
          $ref: ./examples/DeleteBudget.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/budgetNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/pricesheets/default:
    get:
      tags:
      - PriceSheet
      operationId: PriceSheet_Get
      description: Gets the price sheet for a scope by subscriptionId. Price sheet
        is available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        PriceSheet:
          $ref: ./examples/PriceSheet.json
      parameters:
      - name: $expand
        description: May be used to expand the properties/meterDetails within a price
          sheet. By default, these fields are not included when returning price sheet.
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the top N results.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/PriceSheetResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/pricesheets/default
  : get:
      tags:
      - PriceSheet
      operationId: PriceSheet_GetByBillingPeriod
      description: Get the price sheet for a scope by subscriptionId and billing period.
        Price sheet is available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        PriceSheetForBillingPeriod:
          $ref: ./examples/PriceSheetForBillingPeriod.json
        PriceSheetExpand:
          $ref: ./examples/PriceSheetExpand.json
      parameters:
      - name: $expand
        description: May be used to expand the properties/meterDetails within a price
          sheet. By default, these fields are not included when returning price sheet.
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the top N results.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/PriceSheetResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/costTags:
    get:
      tags:
      - CostTags
      operationId: CostTags_Get
      description: Get cost tags for a billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        CostTags_Get:
          $ref: ./examples/CostTags.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/billingAccountIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/CostTag'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
      - CostTags
      description: The operation to create or update cost tags associated with a billing
        account. Update operation requires latest eTag to be set in the request mandatorily.
        You may obtain the latest eTag by performing a get operation. Create operation
        does not require eTag.
      operationId: CostTags_CreateOrUpdate
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        CreateOrUpdateCostTags:
          $ref: ./examples/CreateOrUpdateCostTags.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/billingAccountIdParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostTag'
        description: Parameters supplied to the Create cost tags operation.
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/CostTag'
        201:
          description: Created.
          schema:
            $ref: '#/definitions/CostTag'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /providers/Microsoft.CostManagement/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/tags:
    get:
      tags:
      - Tags
      operationId: Tags_Get
      description: Get all available tag keys for a billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        Tags_Get:
          $ref: ./examples/Tags.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/billingAccountIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/TagsResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/forecasts:
    get:
      tags:
      - Forecasts
      x-ms-odata: '#/definitions/Forecast'
      operationId: Forecasts_List
      description: Lists the forecast charges by subscriptionId.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        ForecastsList:
          $ref: ./examples/ForecastsList.json
        ForecastsListFilterByGrain:
          $ref: ./examples/ForecastsListFilterByGrain.json
        ForecastsListFilterByDates:
          $ref: ./examples/ForecastsListFilterByDates.json
      parameters:
      - name: $filter
        description: May be used to filter forecasts by properties/usageDate (Utc
          time), properties/chargeType or properties/grain. The filter supports 'eq',
          'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or',
          or 'not'.
        in: query
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ForecastsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.Consumption/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists all of the available consumption REST API operations.
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Consumption/usageDetails:
    get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListByManagementGroup
      description: Lists the usage detail records for all subscriptions belonging
        to a management group scope by current billing period. Usage details are available
        via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsList:
          $ref: ./examples/UsageDetailsListByManagementGroup.json
      parameters:
      - $ref: '#/parameters/managementGroupIdParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName,
          properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le',
          'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag
          filter is a key value pair string where key and value is separated by a
          colon (:).
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart)
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails
  : get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListForBillingPeriodByManagementGroup
      description: Lists the usage detail records for all subscriptions belonging
        to a management group scope by specified billing period. Usage details are
        available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          $ref: ./examples/UsageDetailsListForBillingPeriodByManagementGroup.json
      parameters:
      - $ref: '#/parameters/managementGroupIdParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter
          is a key value pair string where key and value is separated by a colon (:).
        in: query
        required: false
        type: string
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart) for specified billing period
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Consumption/aggregatedcost:
    get:
      tags:
      - AggregatedCost
      operationId: AggregatedCost_GetByManagementGroup
      description: Provides the aggregate cost of a management group and all child
        management groups by current billing period.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        AggregatedCostByManagementGroup:
          $ref: ./examples/AggregatedCostByManagementGroup.json
      parameters:
      - $ref: '#/parameters/managementGroupIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ManagementGroupAggregatedCostResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/Microsoft.Consumption/aggregatedcost
  : get:
      tags:
      - AggregatedCost
      operationId: AggregatedCost_GetForBillingPeriodByManagementGroup
      description: Provides the aggregate cost of a management group and all child
        management groups by specified billing period
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        AggregatedCostListForBillingPeriodByManagementGroup:
          $ref: ./examples/AggregatedCostForBillingPeriodByManagementGroup.json
      parameters:
      - $ref: '#/parameters/managementGroupIdParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ManagementGroupAggregatedCostResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":46:{s:12:\"MeterDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  properties of the meter detail.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"meterName\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  name of the meter, within the given meter category\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"meterCategory\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  category of the meter, for example, 'Cloud services', 'Networking', etc..\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:16:\"meterSubCategory\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  subcategory of the meter, for example, 'A6 Cloud services', 'ExpressRoute (IXP)',
  etc..\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"unit\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  unit in which the meter consumption is charged, for example, 'Hours', 'GB', etc.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"meterLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  location in which the Azure service is available.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:21:\"totalIncludedQuantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  total included quantity associated with the offer.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:18:\"pretaxStandardRate\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  pretax listing price.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:11:\"serviceName\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  name of the service.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"serviceTier\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  service tier.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:11:\"UsageDetail\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"An
  usage detail resource.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:35:\"#/definitions/UsageDetailProperties\";s:5:\"title\";s:23:\"Usage
  detail properties\";}}}s:22:\"UsageDetailsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Result
  of listing usage details. It contains a list of available usage details in reverse
  chronological order by billing period.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"The
  list of usage details.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UsageDetail\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:21:\"UsageDetailProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  properties of the usage detail.\";s:10:\"properties\";O:8:\"stdClass\":27:{s:15:\"billingPeriodId\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  id of the billing period resource that the usage belongs to.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"invoiceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  id of the invoice resource that the usage belongs to.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"usageStart\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  start of the date time range covered by the usage detail.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:8:\"usageEnd\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  end of the date time range covered by the usage detail.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:12:\"instanceName\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  name of the resource instance that the usage is about.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"instanceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  uri of the resource instance that the usage is about.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:16:\"instanceLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  location of the resource instance that the usage is about.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  ISO currency in which the meter is charged, for example, USD.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"usageQuantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  quantity of usage.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:16:\"billableQuantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  billable usage quantity.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:10:\"pretaxCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  amount of cost before tax.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:11:\"isEstimated\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  estimated usage is subject to change.\";s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:7:\"meterId\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  meter id (GUID).\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;}s:12:\"meterDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  details about the meter. By default this is not populated, unless it's specified
  in $expand.\";s:4:\"$ref\";s:26:\"#/definitions/MeterDetails\";s:8:\"readOnly\";b:1;}s:16:\"subscriptionGuid\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Subscription
  guid.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;}s:16:\"subscriptionName\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Subscription
  name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"accountName\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Account
  name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:14:\"departmentName\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Department
  name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"product\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Product
  name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:15:\"consumedService\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Consumed
  service name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"costCenter\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  cost center of this department if it is a department and a costcenter exists\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"partNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Part
  Number\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:12:\"resourceGuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  Guid\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"offerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Offer
  Id\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:23:\"chargesBilledSeparately\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Charges
  billed separately\";s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Resource
  Location\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:20:\"additionalProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Additional
  details of this usage item. By default this is not populated, unless it's specified
  in $expand.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:11:\"Marketplace\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"An
  marketplace resource.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:35:\"#/definitions/MarketplaceProperties\";s:5:\"title\";s:22:\"Marketplace
  properties\";}}}s:22:\"MarketplacesListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"Result
  of listing marketplaces. It contains a list of available marketplaces in reverse
  chronological order by billing period.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  list of marketplaces.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Marketplace\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:21:\"MarketplaceProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  properties of the marketplace usage detail.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":24:{s:15:\"billingPeriodId\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  id of the billing period resource that the usage belongs to.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"usageStart\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  start of the date time range covered by the usage detail.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:8:\"usageEnd\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  end of the date time range covered by the usage detail.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:12:\"resourceRate\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  marketplace resource rate.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:9:\"offerName\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  type of offer.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"resourceGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  name of resource group.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"orderNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  order number.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:12:\"instanceName\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  name of the resource instance that the usage is about.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"instanceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  uri of the resource instance that the usage is about.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  ISO currency in which the meter is charged, for example, USD.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:16:\"consumedQuantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  quantity of usage.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:13:\"unitOfMeasure\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  unit of measure.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"pretaxCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  amount of cost before tax.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:11:\"isEstimated\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  estimated usage is subject to change.\";s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:7:\"meterId\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  meter id (GUID).\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;}s:16:\"subscriptionGuid\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Subscription
  guid.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;}s:16:\"subscriptionName\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Subscription
  name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"accountName\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Account
  name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:14:\"departmentName\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Department
  name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:15:\"consumedService\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Consumed
  service name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"costCenter\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  cost center of this department if it is a department and a costcenter exists\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:20:\"additionalProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Additional
  details of this usage item. By default this is not populated, unless it's specified
  in $expand.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"publisherName\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  name of publisher.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"planName\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  name of plan.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:7:\"Balance\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"A
  balance resource.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:31:\"#/definitions/BalanceProperties\";s:5:\"title\";s:18:\"Balance
  properties\";}}}s:17:\"BalanceProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  properties of the balance.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  ISO currency in which the meter is charged, for example, USD.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:16:\"beginningBalance\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  beginning balance for the billing period.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:13:\"endingBalance\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"The
  ending balance for the billing period (for open periods this will be updated daily).\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:12:\"newPurchases\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Total
  new purchase amount.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:11:\"adjustments\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Total
  adjustment amount.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:8:\"utilized\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Total
  Commitment usage.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:14:\"serviceOverage\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Overage
  for Azure services.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:23:\"chargesBilledSeparately\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Charges
  Billed separately.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:12:\"totalOverage\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"serviceOverage
  + chargesBilledSeparately.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:10:\"totalUsage\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Azure
  service commitment + total Overage.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:30:\"azureMarketplaceServiceCharges\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Total
  charges for Azure Marketplace.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:16:\"billingFrequency\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  billing frequency.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:5:\"Month\";i:1;s:7:\"Quarter\";i:2;s:4:\"Year\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"BillingFrequency\";s:13:\"modelAsString\";b:1;}}s:11:\"priceHidden\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Price
  is hidden or not.\";s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:19:\"newPurchasesDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"List
  of new purchases.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"the
  name of new purchase.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"the
  value of new purchase.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}}}s:8:\"readOnly\";b:1;}s:17:\"adjustmentDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"List
  of Adjustments (Promo credit, SIE credit etc.).\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"the
  name of new adjustment.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"the
  value of new adjustment.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}}}s:8:\"readOnly\";b:1;}}}s:18:\"ReservationSummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"reservation
  summary resource.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:42:\"#/definitions/ReservationSummaryProperties\";s:5:\"title\";s:30:\"Reservation
  Summary properties\";}}}s:30:\"ReservationSummariesListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Result
  of listing reservation summaries.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  list of reservation summaries.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ReservationSummary\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:28:\"ReservationSummaryProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  properties of the reservation summary.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:18:\"reservationOrderId\";O:8:\"stdClass\":3:{s:11:\"description\";s:258:\"The
  reservation order ID is the identifier for a reservation purchase. Each reservation
  order ID represents a single purchase transaction. A reservation order contains
  reservations. The reservation order specifies the VM size and region for the reservations.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"reservationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:240:\"The
  reservation ID is the identifier of a reservation within a reservation order. Each
  reservation is the grouping for applying the benefit scope and also specifies the
  number of instances to which the reservation benefit can be applied to.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"skuName\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"This
  is the ARM Sku name. It can be used to join with the serviceType field in additional
  info in usage records.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"reservedHours\";O:8:\"stdClass\":4:{s:11:\"description\";s:155:\"This
  is the total hours reserved. E.g. if reservation for 1 instance was made on 1 PM,
  this will be 11 hours for that day and 24 hours from subsequent days\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:9:\"usageDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:109:\"Data
  corresponding to the utilization record. If the grain of data is monthly, it will
  be first day of month.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:9:\"usedHours\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Total
  used hours by the reservation\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:24:\"minUtilizationPercentage\";O:8:\"stdClass\":4:{s:11:\"description\";s:210:\"This
  is the minimum hourly utilization in the usage time (day or month). E.g. if usage
  record corresponds to 12/10/2017 and on that for hour 4 and 5, utilization was 10%,
  this field will return 10% for that day\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:24:\"avgUtilizationPercentage\";O:8:\"stdClass\":4:{s:11:\"description\";s:92:\"This
  is average utilization for the entire time range. (day or month depending on the
  grain)\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:24:\"maxUtilizationPercentage\";O:8:\"stdClass\":4:{s:11:\"description\";s:213:\"This
  is the maximum hourly utilization in the usage time (day or month). E.g. if usage
  record corresponds to 12/10/2017 and on that for hour 4 and 5, utilization was 100%,
  this field will return 100% for that day.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}}}s:17:\"ReservationDetail\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"reservation
  detail resource.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:41:\"#/definitions/ReservationDetailProperties\";s:5:\"title\";s:29:\"Reservation
  Detail properties\";}}}s:28:\"ReservationDetailsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Result
  of listing reservation details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  list of reservation details.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ReservationDetail\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:27:\"ReservationDetailProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  properties of the reservation detail.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:18:\"reservationOrderId\";O:8:\"stdClass\":3:{s:11:\"description\";s:258:\"The
  reservation order ID is the identifier for a reservation purchase. Each reservation
  order ID represents a single purchase transaction. A reservation order contains
  reservations. The reservation order specifies the VM size and region for the reservations.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"reservationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:240:\"The
[...]
