---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:27:\"DataFactoryManagementClient\";s:7:\"version\";s:18:\"2017-09-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:176:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/datafactory/resource-manager/Microsoft.DataFactory/preview/2017-09-01-preview/datafactory.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:11:\"datafactory\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"azure_datafactory\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":54:{s:11:\"ActivityRun\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:48:\"Information
  about an activity run in a pipeline.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"activityName\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  name of the activity.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"activityRunEnd\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  end time of the activity run in 'ISO 8601' format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"activityRunId\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  id of the activity run.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"activityRunStart\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  start time of the activity run in 'ISO 8601' format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"activityType\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the activity.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"durationInMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  duration of the activity run.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:5:\"error\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  error if any from the activity run.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:5:\"input\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  input for the activity.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:17:\"linkedServiceName\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  name of the compute linked service.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"output\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  output for the activity.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:12:\"pipelineName\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  name of the pipeline.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"pipelineRunId\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  id of the pipeline run.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  status of the activity run.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ActivityRunsListResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"A
  list activity runs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  link to the next page of results, if any remaining results exist.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  of activity runs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ActivityRun\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:28:\"AzureKeyVaultSecretReference\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SecretBase\";}}s:11:\"description\";s:33:\"Azure
  Key Vault secret reference.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"secretName\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  name of the secret in Azure Key Vault. Type: string (or Expression with resultType
  string).\";s:4:\"type\";s:6:\"object\";}s:13:\"secretVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"The
  version of the secret in Azure Key Vault. The default value is the latest version
  of the secret. Type: string (or Expression with resultType string).\";s:4:\"type\";s:6:\"object\";}s:5:\"store\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/LinkedServiceReference\";s:11:\"description\";s:45:\"The
  Azure Key Vault linked service reference.\";}}s:8:\"required\";a:2:{i:0;s:5:\"store\";i:1;s:10:\"secretName\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:19:\"AzureKeyVaultSecret\";}s:17:\"CreateRunResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Response
  body with a run identifier.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"runId\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Identifier
  of a run.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"runId\";}s:4:\"type\";s:6:\"object\";}s:19:\"DatasetListResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"A
  list of dataset resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  link to the next page of results, if any remaining results exist.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"List
  of datasets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DatasetResource\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:16:\"DatasetReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Dataset
  reference type.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ParameterValueSpecification\";s:11:\"description\";s:22:\"Arguments
  for dataset.\";}s:13:\"referenceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Reference
  dataset name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Dataset
  reference type.\";s:4:\"enum\";a:1:{i:0;s:16:\"DatasetReference\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:13:\"referenceName\";}}s:15:\"DatasetResource\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:22:\"Dataset
  resource type.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:135:\"The
  Azure Data Factory nested object which identifies data within different data stores,
  such as tables, files, folders, and documents.\";s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"annotations\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"List
  of tags that can be used for describing the Dataset.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Dataset
  description.\";s:4:\"type\";s:6:\"string\";}s:17:\"linkedServiceName\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Linked
  service reference type.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:53:\"An
  object mapping parameter names to argument values.\";s:4:\"type\";s:6:\"object\";}s:13:\"referenceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Reference
  LinkedService name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Linked
  service reference type.\";s:4:\"enum\";a:1:{i:0;s:22:\"LinkedServiceReference\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:13:\"referenceName\";}}s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Definition
  of a single parameter for an entity.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Default
  value of parameter.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Parameter
  type.\";s:4:\"enum\";a:7:{i:0;s:6:\"Object\";i:1;s:6:\"String\";i:2;s:3:\"Int\";i:3;s:5:\"Float\";i:4;s:4:\"Bool\";i:5;s:5:\"Array\";i:6;s:12:\"SecureString\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"ParameterType\";}}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:43:\"Definition
  of all parameters for an entity.\";s:4:\"type\";s:6:\"object\";}s:9:\"structure\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"Columns
  that define the structure of the dataset. Type: array (or Expression with resultType
  array), itemType: DatasetDataElement.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Type
  of dataset.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:17:\"linkedServiceName\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:13:\"ErrorResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"The
  object that defines the structure of an Azure Data Factory response.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Error
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Array
  with additional error details.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ErrorResponse\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Error
  message.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Property
  name/path in request associated with error.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:4:\"type\";s:6:\"object\";}s:10:\"Expression\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Azure
  Data Factory expression definition.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Expression
  type.\";s:4:\"enum\";a:1:{i:0;s:10:\"Expression\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Expression
  value.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:7:\"Factory\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:22:\"Factory
  resource type.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"identity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FactoryIdentity\";s:11:\"description\";s:40:\"Managed
  service identity of the factory.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/FactoryProperties\";s:11:\"description\";s:26:\"Properties
  of the factory.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:15:\"FactoryIdentity\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Identity
  properties of the factory resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"principalId\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"The
  principal id of the identity.\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"tenantId\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"The
  client tenant id of the identity.\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"The
  identity type. Currently the only supported type is 'SystemAssigned'.\";s:4:\"enum\";a:1:{i:0;s:14:\"SystemAssigned\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"FactoryIdentityType\";}}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}s:19:\"FactoryListResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"A
  list of factory resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  link to the next page of results, if any remaining results exist.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of factories.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Factory\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:17:\"FactoryProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Factory
  resource properties.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"createTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Time
  the factory was created in ISO8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Factory
  provisioning state, example Succeeded.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Version
  of the factory.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"vstsConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/FactoryVSTSConfiguration\";s:11:\"description\";s:37:\"VSTS
  repo information of the factory.\";}}}s:17:\"FactoryRepoUpdate\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Factory's
  VSTS repo information.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"factoryResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  factory resource id.\";s:4:\"type\";s:6:\"string\";}s:17:\"resourceGroupName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  resource group name.\";s:4:\"type\";s:6:\"string\";}s:17:\"vstsConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/FactoryVSTSConfiguration\";s:11:\"description\";s:37:\"VSTS
  repo information of the factory.\";}}}s:23:\"FactoryUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Parameters
  for updating a factory resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"identity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FactoryIdentity\";s:11:\"description\";s:40:\"Managed
  service identity of the factory.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"The
  resource tags.\";s:4:\"type\";s:6:\"object\";}}}s:24:\"FactoryVSTSConfiguration\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Factory's
  VSTS repo information.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"accountName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"VSTS
  account name.\";s:4:\"type\";s:6:\"string\";}s:19:\"collaborationBranch\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"VSTS
  collaboration branch.\";s:4:\"type\";s:6:\"string\";}s:12:\"lastCommitId\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"VSTS
  last commit id.\";s:4:\"type\";s:6:\"string\";}s:11:\"projectName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"VSTS
  project name.\";s:4:\"type\";s:6:\"string\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"VSTS
  repository name.\";s:4:\"type\";s:6:\"string\";}s:10:\"rootFolder\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"VSTS
  root folder.\";s:4:\"type\";s:6:\"string\";}s:8:\"tenantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"VSTS
  tenant id.\";s:4:\"type\";s:6:\"string\";}}}s:30:\"IntegrationRuntimeListResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"A
  list of integration runtime resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  link to the next page of results, if any remaining results exist.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"List
  of integration runtimes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/IntegrationRuntimeResource\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:27:\"IntegrationRuntimeReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Integration
  runtime reference type.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:53:\"An
  object mapping parameter names to argument values.\";s:4:\"type\";s:6:\"object\";}s:13:\"referenceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Reference
  integration runtime name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Type
  of integration runtime.\";s:4:\"enum\";a:1:{i:0;s:27:\"IntegrationRuntimeReference\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:13:\"referenceName\";}}s:26:\"IntegrationRuntimeResource\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:34:\"Integration
  runtime resource type.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:83:\"Azure
  Data Factory nested object which serves as a compute resource for activities.\";s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Integration
  runtime description.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  type of integration runtime.\";s:4:\"enum\";a:2:{i:0;s:7:\"Managed\";i:1;s:10:\"SelfHosted\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:22:\"IntegrationRuntimeType\";}}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:36:\"IntegrationRuntimeStatusListResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"A
  list of integration runtime status.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  link to the next page of results, if any remaining results exist.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"List
  of integration runtime status.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/IntegrationRuntimeStatusResponse\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:32:\"IntegrationRuntimeStatusResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Integration
  runtime status response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  integration runtime name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:27:\"Integration
  runtime status.\";s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"dataFactoryName\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  data factory name which the integration runtime belong to.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":5:{s:11:\"description\";s:33:\"The
  state of integration runtime.\";s:4:\"enum\";a:9:{i:0;s:7:\"Initial\";i:1;s:7:\"Stopped\";i:2;s:7:\"Started\";i:3;s:8:\"Starting\";i:4;s:8:\"Stopping\";i:5;s:16:\"NeedRegistration\";i:6;s:6:\"Online\";i:7;s:7:\"Limited\";i:8;s:7:\"Offline\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:23:\"IntegrationRuntimeState\";}}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  type of integration runtime.\";s:4:\"enum\";a:2:{i:0;s:7:\"Managed\";i:1;s:10:\"SelfHosted\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:22:\"IntegrationRuntimeType\";}}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:25:\"LinkedServiceListResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"A
  list of linked service resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  link to the next page of results, if any remaining results exist.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"List
  of linked services.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/LinkedServiceResource\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:22:\"LinkedServiceReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Linked
  service reference type.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:53:\"An
  object mapping parameter names to argument values.\";s:4:\"type\";s:6:\"object\";}s:13:\"referenceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Reference
  LinkedService name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Linked
  service reference type.\";s:4:\"enum\";a:1:{i:0;s:22:\"LinkedServiceReference\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:13:\"referenceName\";}}s:21:\"LinkedServiceResource\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:29:\"Linked
  service resource type.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:151:\"The
  Azure Data Factory nested object which contains the information and credential which
  can be used to connect with related store or compute resource.\";s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"annotations\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"List
  of tags that can be used for describing the Dataset.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:10:\"connectVia\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Integration
  runtime reference type.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:53:\"An
  object mapping parameter names to argument values.\";s:4:\"type\";s:6:\"object\";}s:13:\"referenceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Reference
  integration runtime name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Type
  of integration runtime.\";s:4:\"enum\";a:1:{i:0;s:27:\"IntegrationRuntimeReference\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:13:\"referenceName\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Linked
  service description.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Definition
  of a single parameter for an entity.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Default
  value of parameter.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Parameter
  type.\";s:4:\"enum\";a:7:{i:0;s:6:\"Object\";i:1;s:6:\"String\";i:2;s:3:\"Int\";i:3;s:5:\"Float\";i:4;s:4:\"Bool\";i:5;s:5:\"Array\";i:6;s:12:\"SecureString\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"ParameterType\";}}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:43:\"Definition
  of all parameters for an entity.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Type
  of linked service.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Azure
  Data Factory API operation definition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Metadata
  associated with the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  description of the operation.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  type of operation: get, read, delete, etc.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the provider.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  name of the resource type on which the operation is performed.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Operation
  name: {provider}/{resource}/{operation}\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  intended executor of the operation.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/OperationProperties\";s:11:\"description\";s:39:\"Additional
  details about the operation.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:21:\"OperationListResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"A
  list of operations that can be performed by the Data Factory service.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  link to the next page of results, if any remaining results exist.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"List
  of Data Factory operations supported by the Data Factory resource provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"OperationLogSpecification\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Details
  about an operation related to logs.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"blobDuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Blobs
  created in the customer storage account, per hour.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Localized
  display name.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of the log category.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"OperationMetricAvailability\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Defines
  how often data for a metric becomes available.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"blobDuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Blob
  created in the customer storage account, per hour.\";s:4:\"type\";s:6:\"string\";}s:9:\"timeGrain\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  granularity for the metric.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"OperationMetricSpecification\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Details
  about an operation related to metrics.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"aggregationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  type of metric aggregation.\";s:4:\"type\";s:6:\"string\";}s:14:\"availabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Defines
  how often data for metrics becomes available.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/OperationMetricAvailability\";}s:4:\"type\";s:5:\"array\";}s:18:\"displayDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  description of the metric.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Localized
  display name of the metric.\";s:4:\"type\";s:6:\"string\";}s:24:\"enableRegionalMdmAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Whether
  or not the service is using regional MDM accounts.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the metric.\";s:4:\"type\";s:6:\"string\";}s:16:\"sourceMdmAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of the MDM account.\";s:4:\"type\";s:6:\"string\";}s:18:\"sourceMdmNamespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the MDM namespace.\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  unit that the metric is measured in.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OperationProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Additional
  details about an operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"serviceSpecification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/OperationServiceSpecification\";s:11:\"description\";s:34:\"Details
  about a service operation.\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}s:29:\"OperationServiceSpecification\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Details
  about a service operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"logSpecifications\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Details
  about operations related to logs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/OperationLogSpecification\";}s:4:\"type\";s:5:\"array\";}s:20:\"metricSpecifications\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Details
  about operations related to metrics.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/OperationMetricSpecification\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ParameterDefinitionSpecification\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Definition
  of a single parameter for an entity.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Default
  value of parameter.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Parameter
  type.\";s:4:\"enum\";a:7:{i:0;s:6:\"Object\";i:1;s:6:\"String\";i:2;s:3:\"Int\";i:3;s:5:\"Float\";i:4;s:4:\"Bool\";i:5;s:5:\"Array\";i:6;s:12:\"SecureString\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"ParameterType\";}}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:43:\"Definition
  of all parameters for an entity.\";s:4:\"type\";s:6:\"object\";}s:22:\"ParameterSpecification\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Definition
  of a single parameter for an entity.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Default
  value of parameter.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Parameter
  type.\";s:4:\"enum\";a:7:{i:0;s:6:\"Object\";i:1;s:6:\"String\";i:2;s:3:\"Int\";i:3;s:5:\"Float\";i:4;s:4:\"Bool\";i:5;s:5:\"Array\";i:6;s:12:\"SecureString\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"ParameterType\";}}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:27:\"ParameterValueSpecification\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:53:\"An
  object mapping parameter names to argument values.\";s:4:\"type\";s:6:\"object\";}s:20:\"PipelineListResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"A
  list of pipeline resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  link to the next page of results, if any remaining results exist.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of pipelines.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PipelineResource\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:17:\"PipelineReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Pipeline
  reference type.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Reference
  name.\";s:4:\"type\";s:6:\"string\";}s:13:\"referenceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Reference
  pipeline name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Pipeline
  reference type.\";s:4:\"enum\";a:1:{i:0;s:17:\"PipelineReference\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:13:\"referenceName\";}}s:16:\"PipelineResource\";O:8:\"stdClass\":6:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:23:\"Pipeline
  resource type.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  data factory pipeline.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"activities\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"List
  of activities in pipeline.\";s:5:\"items\";O:8:\"stdClass\":6:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:20:\"A
  pipeline activity.\";s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"dependsOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Activity
  depends on condition.\";s:5:\"items\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:32:\"Activity
  dependency information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"activity\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Activity
  name.\";s:4:\"type\";s:6:\"string\";}s:20:\"dependencyConditions\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Match-Condition
  for the dependency.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:9:\"Succeeded\";i:1;s:6:\"Failed\";i:2;s:7:\"Skipped\";i:3;s:9:\"Completed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:19:\"DependencyCondition\";}}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:8:\"activity\";i:1;s:20:\"dependencyConditions\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Activity
  description.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Activity
  name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Type
  of activity.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:11:\"annotations\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"List
  of tags that can be used for describing the Pipeline.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:11:\"concurrency\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  max number of concurrent runs for the pipeline.\";s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  description of the pipeline.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Definition
  of a single parameter for an entity.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Default
  value of parameter.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Parameter
  type.\";s:4:\"enum\";a:7:{i:0;s:6:\"Object\";i:1;s:6:\"String\";i:2;s:3:\"Int\";i:3;s:5:\"Float\";i:4;s:4:\"Bool\";i:5;s:5:\"Array\";i:6;s:12:\"SecureString\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"ParameterType\";}}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:43:\"Definition
  of all parameters for an entity.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}s:11:\"PipelineRun\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:33:\"Information
  about a pipeline run.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"durationInMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  duration of a pipeline run.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:9:\"invokedBy\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:34:\"#/definitions/PipelineRunInvokedBy\";s:11:\"description\";s:37:\"Entity
  that started the pipeline run.\";s:8:\"readOnly\";b:1;}s:11:\"lastUpdated\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"The
  last updated timestamp for the pipeline run event in ISO8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  message from a pipeline run.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:80:\"The
  full or partial list of parameter name, value pair used in the pipeline run.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:12:\"pipelineName\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  pipeline name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"runEnd\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  end time of a pipeline run in ISO8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"runId\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Identifier
  of a run.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"runStart\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  start time of a pipeline run in ISO8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  status of a pipeline run.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"PipelineRunFilterParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Query
  parameters for listing pipeline runs.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"continuationToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"The
  continuation token for getting the next page of results. Null for first page.\";s:4:\"type\";s:6:\"string\";}s:7:\"filters\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"List
  of filters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/PipelineRunQueryFilter\";}s:4:\"type\";s:5:\"array\";}s:16:\"lastUpdatedAfter\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  time at or after which the pipeline run event was updated in 'ISO 8601' format.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"lastUpdatedBefore\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  time at or before which the pipeline run event was updated in 'ISO 8601' format.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"orderBy\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"List
  of OrderBy option.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/PipelineRunQueryOrderBy\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:16:\"lastUpdatedAfter\";i:1;s:17:\"lastUpdatedBefore\";}s:4:\"type\";s:6:\"object\";}s:20:\"PipelineRunInvokedBy\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Provides
  entity name and id that started the pipeline run.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  ID of the entity that started the run.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Name
  of the entity that started the pipeline run.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"PipelineRunQueryFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Query
  filter option for listing pipeline runs.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"operand\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Parameter
  name to be used for filter.\";s:4:\"enum\";a:4:{i:0;s:12:\"PipelineName\";i:1;s:6:\"Status\";i:2;s:8:\"RunStart\";i:3;s:6:\"RunEnd\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:29:\"PipelineRunQueryFilterOperand\";}}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Operator
  to be used for filter.\";s:4:\"enum\";a:4:{i:0;s:6:\"Equals\";i:1;s:9:\"NotEquals\";i:2;s:2:\"In\";i:3;s:5:\"NotIn\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:30:\"PipelineRunQueryFilterOperator\";}}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  of filter values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:7:\"operand\";i:1;s:8:\"operator\";i:2;s:6:\"values\";}s:4:\"type\";s:6:\"object\";}s:23:\"PipelineRunQueryOrderBy\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"An
  object to provide order by options for listing pipeline runs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"order\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Sorting
  order of the parameter.\";s:4:\"enum\";a:2:{i:0;s:3:\"ASC\";i:1;s:4:\"DESC\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:21:\"PipelineRunQueryOrder\";}}s:7:\"orderBy\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Parameter
  name to be used for order by.\";s:4:\"enum\";a:2:{i:0;s:8:\"RunStart\";i:1;s:6:\"RunEnd\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:28:\"PipelineRunQueryOrderByField\";}}}s:8:\"required\";a:2:{i:0;s:7:\"orderBy\";i:1;s:5:\"order\";}s:4:\"type\";s:6:\"object\";}s:24:\"PipelineRunQueryResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"A
  list pipeline runs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"continuationToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  continuation token for getting the next page of results, if any remaining results
  exist, null otherwise.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  of pipeline runs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PipelineRun\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Azure
  Data Factory top-level resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  resource identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  resource location.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  resource name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"The
  resource tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  resource type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:10:\"SecretBase\";O:8:\"stdClass\":5:{s:11:\"description\";s:37:\"The
  base definition of a secret type.\";s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Type
  of the secret.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:12:\"SecureString\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SecretBase\";}}s:11:\"description\";s:125:\"Azure
  Data Factory secure string definition. The string value will be masked with asterisks
  '*' during Get or List API calls.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Value
  of secure string.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:12:\"SecureString\";}s:11:\"SubResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Azure
  Data Factory nested resource, which belongs to a factory.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Etag
  identifies change in the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  resource identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  resource name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  resource type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:19:\"TriggerListResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"A
  list of trigger resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  link to the next page of results, if any remaining results exist.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"List
  of triggers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TriggerResource\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:24:\"TriggerPipelineReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Pipeline
  that needs to be triggered with the given parameters.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ParameterValueSpecification\";s:11:\"description\";s:20:\"Pipeline
  parameters.\";}s:17:\"pipelineReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PipelineReference\";s:11:\"description\";s:19:\"Pipeline
  reference.\";}}}s:15:\"TriggerResource\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:22:\"Trigger
  resource type.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:87:\"Azure
  data factory nested object which contains information about creating pipeline run\";s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Trigger
  description.\";s:4:\"type\";s:6:\"string\";}s:12:\"runtimeState\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Enumerates
  possible state of Triggers.\";s:4:\"enum\";a:3:{i:0;s:7:\"Started\";i:1;s:7:\"Stopped\";i:2;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:19:\"TriggerRuntimeState\";}}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Trigger
  type.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:10:\"TriggerRun\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:13:\"Trigger
  runs.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Trigger
  error message.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:100:\"List
  of property name and value related to trigger run. Name, value pair depends on type
  of trigger.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":5:{s:11:\"description\";s:19:\"Trigger
  run status.\";s:4:\"enum\";a:3:{i:0;s:9:\"Succeeded\";i:1;s:6:\"Failed\";i:2;s:10:\"Inprogress\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"TriggerRunStatus\";}}s:11:\"triggerName\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Trigger
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"triggerRunId\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Trigger
  run id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"triggerRunTimestamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Trigger
  run start time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"triggerType\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Trigger
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"triggeredPipelines\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:62:\"List
  of pipeline name and run Id triggered by the trigger run.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:22:\"TriggerRunListResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"A
  list of trigger runs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  link to the next page of results, if any remaining results exist.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"List
  of trigger runs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TriggerRun\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:35:\"UpdateIntegrationRuntimeNodeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Update
  integration runtime node request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"concurrentJobsLimit\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"The
  number of concurrent jobs permitted to run on the integration runtime node. Values
  between 1 and maxConcurrentJobs(inclusive) are allowed.\";s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:31:\"UpdateIntegrationRuntimeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Update
  integration runtime request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"autoUpdate\";O:8:\"stdClass\":5:{s:11:\"description\";s:45:\"The
  state of integration runtime auto update.\";s:4:\"enum\";a:2:{i:0;s:2:\"On\";i:1;s:3:\"Off\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:28:\"IntegrationRuntimeAutoUpdate\";}}s:17:\"updateDelayOffset\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"The
  time offset (in hours) in the day, e.g., PT03H is 3 hours. The integration runtime
  auto update will happen on that time.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
