---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:5:\"title\";s:25:\"Azure Activity Log Alerts\";s:7:\"version\";s:10:\"2017-04-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:23:\"MonitorManagementClient\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:170:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/microsoft.insights/stable/2017-04-01/activityLogAlerts_API.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:29:\"monitor-activityLogAlerts_API\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:35:\"azure_monitor_activitylogalerts_api\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/microsoft.insights/activityLogAlerts:
    get:
      description: Get a list of all activity log alerts in a subscription.
      operationId: ActivityLogAlerts_ListBySubscriptionId
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: The request succeeded.
          schema:
            $ref: '#/definitions/ActivityLogAlertList'
        default:
          description: An error occurred and the list of activity log alerts could
            not be retrieved.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        List activity log alerts:
          parameters:
            api-version: "2017-04-01"
            resourceGroupName: Default-ActivityLogAlerts
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            200:
              body:
                value:
                - id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert
                  location: Global
                  name: SampleActivityLogAlert
                  properties:
                    actions:
                      actionGroups:
                      - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                        webhookProperties:
                          sampleWebhookProperty: samplePropertyValue
                    condition:
                      allOf:
                      - equals: Administrative
                        field: Category
                      - equals: Error
                        field: Level
                    description: Sample activity log alert description
                    enabled: true
                    scopes:
                    - subscriptions/187f412d-1758-44d9-b052-169e2564721d
                  tags: []
                  type: Microsoft.Insights/ActivityLogAlerts
                - id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert2
                  location: Global
                  name: SampleActivityLogAlert2
                  properties:
                    actions:
                      actionGroups:
                      - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                        webhookProperties: []
                    condition:
                      allOf:
                      - equals: Administrative
                        field: Category
                    enabled: true
                    scopes:
                    - subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts
                  tags: []
                  type: Microsoft.Insights/ActivityLogAlerts
              headers: []
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/activityLogAlerts:
    get:
      description: Get a list of all activity log alerts in a resource group.
      operationId: ActivityLogAlerts_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: The request succeeded.
          schema:
            $ref: '#/definitions/ActivityLogAlertList'
        default:
          description: An error occurred and the list of activity log alerts could
            not be retrieved.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        List activity log alerts:
          parameters:
            api-version: "2017-04-01"
            resourceGroupName: Default-ActivityLogAlerts
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            200:
              body:
                value:
                - id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert
                  location: Global
                  name: SampleActivityLogAlert
                  properties:
                    actions:
                      actionGroups:
                      - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                        webhookProperties:
                          sampleWebhookProperty: samplePropertyValue
                    condition:
                      allOf:
                      - equals: Administrative
                        field: Category
                      - equals: Error
                        field: Level
                    description: Sample activity log alert description
                    enabled: true
                    scopes:
                    - subscriptions/187f412d-1758-44d9-b052-169e2564721d
                  tags: []
                  type: Microsoft.Insights/ActivityLogAlerts
                - id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert2
                  location: Global
                  name: SampleActivityLogAlert2
                  properties:
                    actions:
                      actionGroups:
                      - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                        webhookProperties: []
                    condition:
                      allOf:
                      - equals: Administrative
                        field: Category
                    enabled: true
                    scopes:
                    - subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts
                  tags: []
                  type: Microsoft.Insights/ActivityLogAlerts
              headers: []
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/activityLogAlerts/{activityLogAlertName}
  : delete:
      description: Delete an activity log alert.
      operationId: ActivityLogAlerts_Delete
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ActivityLogAlertNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: The activity log alert was successfully deleted.
        204:
          description: The activity log alert does not exist. It may have already
            been deleted.
        default:
          description: An error occurred and the activity log alert could not be deleted.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        Delete an activity log alert:
          parameters:
            activityLogAlertName: SampleActivityLogAlert
            api-version: "2017-04-01"
            resourceGroupName: Default-ActivityLogAlerts
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            200:
              headers: []
            204:
              headers: []
    get:
      description: Get an activity log alert.
      operationId: ActivityLogAlerts_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ActivityLogAlertNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: The request succeeded.
          schema:
            $ref: '#/definitions/ActivityLogAlertResource'
        default:
          description: An error occurred and the activity log alert could not be retrieved.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        Get an activity log alert:
          parameters:
            activityLogAlertName: SampleActivityLogAlert
            api-version: "2017-04-01"
            resourceGroupName: Default-ActivityLogAlerts
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            200:
              body:
                id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert
                location: Global
                name: SampleActivityLogAlert
                properties:
                  actions:
                    actionGroups:
                    - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                      webhookProperties:
                        sampleWebhookProperty: samplePropertyValue
                  condition:
                    allOf:
                    - equals: Administrative
                      field: Category
                    - equals: Error
                      field: Level
                  description: Sample activity log alert description
                  enabled: true
                  scopes:
                  - subscriptions/187f412d-1758-44d9-b052-169e2564721d
                tags: []
                type: Microsoft.Insights/ActivityLogAlerts
              headers: []
    patch:
      description: Updates an existing ActivityLogAlertResource's tags. To update
        other fields use the CreateOrUpdate method.
      operationId: ActivityLogAlerts_Update
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ActivityLogAlertNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Parameters supplied to the operation.
        in: body
        name: activityLogAlertPatch
        required: true
        schema:
          $ref: '#/definitions/ActivityLogAlertPatchBody'
      responses:
        200:
          description: An existing activity log alert was successfully updated.
          schema:
            $ref: '#/definitions/ActivityLogAlertResource'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        Patch an activity log alert:
          parameters:
            activityLogAlertName: SampleActivityLogAlert
            activityLogAlertPatch:
              properties:
                enabled: false
              tags:
                key1: value1
                key2: value2
            api-version: 2017-03-01-preview
            resourceGroupName: Default-ActivityLogAlerts
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            200:
              body:
                id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert
                location: Global
                name: SampleActivityLogAlert
                properties:
                  actions:
                    actionGroups:
                    - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                      webhookProperties:
                        sampleWebhookProperty: samplePropertyValue
                  condition:
                    allOf:
                    - equals: Administrative
                      field: Category
                    - equals: Error
                      field: Level
                  description: Sample activity log alert description
                  enabled: false
                  scopes:
                  - /subscriptions/187f412d-1758-44d9-b052-169e2564721d
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Insights/ActivityLogAlerts
              headers: []
    put:
      description: Create a new activity log alert or update an existing one.
      operationId: ActivityLogAlerts_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ActivityLogAlertNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The activity log alert to create or use for the update.
        in: body
        name: activityLogAlert
        required: true
        schema:
          $ref: '#/definitions/ActivityLogAlertResource'
      responses:
        200:
          description: An existing activity log alert was successfully updated.
          schema:
            $ref: '#/definitions/ActivityLogAlertResource'
        201:
          description: A new activity log alert was successfully created.
          schema:
            $ref: '#/definitions/ActivityLogAlertResource'
        default:
          description: An error occurred and the activity log alert could not be created
            or updated.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        Create or update an activity log alert:
          parameters:
            activityLogAlert:
              location: Global
              properties:
                actions:
                  actionGroups:
                  - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                    webhookProperties:
                      sampleWebhookProperty: samplePropertyValue
                condition:
                  allOf:
                  - equals: Administrative
                    field: Category
                  - equals: Error
                    field: Level
                description: Sample activity log alert description
                enabled: true
                scopes:
                - subscriptions/187f412d-1758-44d9-b052-169e2564721d
              tags: []
            activityLogAlertName: SampleActivityLogAlert
            api-version: "2017-04-01"
            resourceGroupName: Default-ActivityLogAlerts
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            200:
              body:
                id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert
                location: Global
                name: SampleActivityLogAlert
                properties:
                  actions:
                    actionGroups:
                    - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                      webhookProperties:
                        sampleWebhookProperty: samplePropertyValue
                  condition:
                    allOf:
                    - equals: Administrative
                      field: Category
                    - equals: Error
                      field: Level
                  description: Sample activity log alert description
                  enabled: true
                  scopes:
                  - subscriptions/187f412d-1758-44d9-b052-169e2564721d
                tags: []
                type: Microsoft.Insights/ActivityLogAlerts
              headers: []
            201:
              body:
                id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert
                location: Global
                name: SampleActivityLogAlert
                properties:
                  actions:
                    actionGroups:
                    - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                      webhookProperties:
                        sampleWebhookProperty: samplePropertyValue
                  condition:
                    allOf:
                    - equals: Administrative
                      field: Category
                    - equals: Error
                      field: Level
                  description: Sample activity log alert description
                  enabled: true
                  scopes:
                  - subscriptions/187f412d-1758-44d9-b052-169e2564721d
                tags: []
                type: Microsoft.Insights/ActivityLogAlerts
              headers: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:16:\"ActivityLogAlert\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"An
  Azure activity log alert.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"actions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ActivityLogAlertActionList\";s:11:\"description\";s:57:\"The
  actions that will activate when the condition is met.\";}s:9:\"condition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ActivityLogAlertAllOfCondition\";s:11:\"description\";s:53:\"The
  condition that will cause this alert to activate.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"A
  description of this activity log alert.\";s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:138:\"Indicates
  whether this activity log alert is enabled. If an activity log alert is not enabled,
  then none of its actions will be activated.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"scopes\";O:8:\"stdClass\":3:{s:11:\"description\";s:192:\"A
  list of resourceIds that will be used as prefixes. The alert will only apply to
  activityLogs with resourceIds that fall under one of these prefixes. This list must
  include at least one item.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:6:\"scopes\";i:1;s:9:\"condition\";i:2;s:7:\"actions\";}}s:27:\"ActivityLogAlertActionGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"A
  pointer to an Azure Action Group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"actionGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  resourceId of the action group. This cannot be null or empty.\";s:4:\"type\";s:6:\"string\";}s:17:\"webhookProperties\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:119:\"the
  dictionary of custom properties to include with the post operation. These data are
  appended to the webhook payload.\";}}s:8:\"required\";a:1:{i:0;s:13:\"actionGroupId\";}}s:26:\"ActivityLogAlertActionList\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"A
  list of activity log alert actions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"actionGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  list of activity log alerts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ActivityLogAlertActionGroup\";}s:4:\"type\";s:5:\"array\";}}}s:30:\"ActivityLogAlertAllOfCondition\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"An
  Activity Log alert condition that is met when all its member conditions are met.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"allOf\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  list of activity log alert conditions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ActivityLogAlertLeafCondition\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"allOf\";}}s:29:\"ActivityLogAlertLeafCondition\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"An
  Activity Log alert condition that is met by comparing an activity log field and
  value.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"equals\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"The
  field value will be compared to this value (case-insensitive) to determine if the
  condition is met.\";s:4:\"type\";s:6:\"string\";}s:5:\"field\";O:8:\"stdClass\":2:{s:11:\"description\";s:294:\"The
  name of the field that this condition will examine. The possible values for this
  field are (case-insensitive): 'resourceId', 'category', 'caller', 'level', 'operationName',
  'resourceGroup', 'resourceProvider', 'status', 'subStatus', 'resourceType', or anything
  beginning with 'properties.'.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"field\";i:1;s:6:\"equals\";}}s:20:\"ActivityLogAlertList\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"A
  list of activity log alerts.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Provides
  the link to retrieve the next set of elements.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  list of activity log alerts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ActivityLogAlertResource\";}s:4:\"type\";s:5:\"array\";}}}s:21:\"ActivityLogAlertPatch\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"An
  Azure activity log alert for patch operations.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"enabled\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:138:\"Indicates
  whether this activity log alert is enabled. If an activity log alert is not enabled,
  then none of its actions will be activated.\";s:4:\"type\";s:7:\"boolean\";}}}s:25:\"ActivityLogAlertPatchBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"An
  activity log alert object for the body of patch operations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/ActivityLogAlertPatch\";s:11:\"description\";s:56:\"The
  activity log alert settings for an update operation.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}}}s:24:\"ActivityLogAlertResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:31:\"An
  activity log alert resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/ActivityLogAlert\";s:11:\"description\";s:50:\"The
  activity log alert properties of the resource.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"An
  azure resource object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Azure
  resource Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Azure
  resource name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Azure resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}}"
...
