---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"MonitorManagementClient\";s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:23:\"MonitorManagementClient\";}s:7:\"version\";s:10:\"2018-01-01\";}"
host: management.azure.com
paths:
  /{resourceUri}/providers/microsoft.insights/metrics:
    get:
      tags:
      - Metrics
      operationId: Metrics_List
      description: '**Lists the metric values for a resource**.'
      parameters:
      - $ref: '#/parameters/ResourceUriParameter'
      - $ref: '#/parameters/TimespanParameter'
      - $ref: '#/parameters/IntervalParameter'
      - $ref: '#/parameters/MetricNamesParameter'
      - $ref: '#/parameters/AggregationsParameter'
      - $ref: '#/parameters/TopParameter'
      - $ref: '#/parameters/OrderByParameter'
      - name: $filter
        in: query
        type: string
        description: The **$filter** is used to reduce the set of metric data returned.<br>Example:<br>Metric
          contains metadata A, B and C.<br>- Return all time series of C where A =
          a1 and B = b1 or b2<br>**$filter=A eq u2018a1u2019 and B eq u2018b1u2019
          or B eq u2018b2u2019 and C eq u2018*u2019**<br>- Invalid variant:<br>**$filter=A
          eq u2018a1u2019 and B eq u2018b1u2019 and C eq u2018*u2019 or B = u2018b2u2019**<br>This
          is invalid because the logical or operator cannot separate two different
          metadata names.<br>- Return all time series where A = a1, B = b1 and C =
          c1:<br>**$filter=A eq u2018a1u2019 and B eq u2018b1u2019 and C eq u2018c1u2019**<br>-
          Return all time series where A = a1<br>**$filter=A eq u2018a1u2019 and B
          eq u2018*u2019 and C eq u2018*u2019**.
        required: false
      - $ref: '#/parameters/ResultTypeParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MetricNamespaceParameter'
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
        200:
          description: Successful request to get the list of metric values.
          schema:
            $ref: '#/definitions/Response'
      x-ms-odata: '#/definitions/MetadataValue'
      x-ms-examples:
        Get Metric for data:
          $ref: ./examples/GetMetric.json
        Get Metric for metadata:
          $ref: ./examples/GetMetricMetadata.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:17:\"LocalizableString\";O:8:\"stdClass\":3:{s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"the
  invariant value.\";}s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"the
  locale specific value.\";}}s:11:\"description\";s:29:\"The localizable string class.\";}s:4:\"Unit\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"the
  unit of the metric.\";s:4:\"enum\";a:13:{i:0;s:5:\"Count\";i:1;s:5:\"Bytes\";i:2;s:7:\"Seconds\";i:3;s:14:\"CountPerSecond\";i:4;s:14:\"BytesPerSecond\";i:5;s:7:\"Percent\";i:6;s:12:\"MilliSeconds\";i:7;s:11:\"ByteSeconds\";i:8;s:11:\"Unspecified\";i:9;s:5:\"Cores\";i:10;s:10:\"MilliCores\";i:11;s:9:\"NanoCores\";i:12;s:13:\"BitsPerSecond\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"Unit\";s:13:\"modelAsString\";b:0;}}s:11:\"MetricValue\";O:8:\"stdClass\":3:{s:8:\"required\";a:1:{i:0;s:9:\"timeStamp\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"timeStamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:54:\"the
  timestamp for the metric value in ISO 8601 format.\";}s:7:\"average\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:36:\"the
  average value in the time range.\";}s:7:\"minimum\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:34:\"the
  least value in the time range.\";}s:7:\"maximum\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:37:\"the
  greatest value in the time range.\";}s:5:\"total\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:47:\"the
  sum of all of the values in the time range.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:125:\"the
  number of samples in the time range. Can be used to determine the number of values
  that contributed to the average value.\";}}s:11:\"description\";s:26:\"Represents
  a metric value.\";}s:13:\"MetadataValue\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/LocalizableString\";s:11:\"description\";s:25:\"the
  name of the metadata.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"the
  value of the metadata.\";}}s:11:\"description\";s:35:\"Represents a metric metadata
  value.\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Response\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"cost\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:0;s:11:\"description\";s:68:\"The
  integer value representing the cost of the query, for data case.\";}s:8:\"timespan\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:204:\"The
  timespan for which the data was retrieved. Its value consists of two datetimes concatenated,
  separated by '/'.  This may be adjusted in the future and returned back from what
  was originally requested.\";}s:8:\"interval\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:212:\"The
  interval (window size) for which the metric data was returned in.  This may be adjusted
  in the future and returned back from what was originally requested.  This is not
  present if a metadata request was made.\";}s:9:\"namespace\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  namespace of the metrics been queried\";}s:14:\"resourceregion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  region of the resource been queried for metrics.\";}s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Metric\";}s:11:\"description\";s:28:\"the
  value of the collection.\";}}s:8:\"required\";a:2:{i:0;s:8:\"timespan\";i:1;s:5:\"value\";}s:11:\"description\";s:32:\"The
  response to a metrics query.\";}s:6:\"Metric\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"the
  metric Id.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"the
  resource type of the metric resource.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/LocalizableString\";s:11:\"description\";s:75:\"the
  name and the display name of the metric, i.e. it is localizable string.\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Unit\";s:11:\"description\";s:23:\"the
  unit of the metric.\";}s:10:\"timeseries\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TimeSeriesElement\";}s:11:\"description\";s:56:\"the
  time series returned when a data query is performed.\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:4:\"name\";i:3;s:4:\"unit\";i:4;s:10:\"timeseries\";}s:11:\"description\";s:27:\"The
  result data of a query.\";}s:17:\"TimeSeriesElement\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"metadatavalues\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MetadataValue\";}s:11:\"description\";s:66:\"the
  metadata values returned if $filter was specified in the call.\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";}s:11:\"description\";s:117:\"An
  array of data points representing the metric values.  This is only returned if a
  result type of data is specified.\";}}s:11:\"description\";s:85:\"A time series
  result type. The discriminator value is always TimeSeries in this case.\";}}"
...
