---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"Azure SQL Database Backup\";s:11:\"description\";s:58:\"Provides
  read functionality for Azure SQL Database Backups\";s:7:\"version\";s:10:\"2014-04-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases/{databaseName}
  : get:
      tags:
      - RecoverableDatabases
      operationId: RecoverableDatabases_Get
      description: Gets a recoverable database, which is a resource representing a
        database's geo backup
      x-ms-examples:
        Get a recoverable database:
          $ref: ./examples/RecoverableDatabaseGet.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        type: string
        description: The name of the database
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RecoverableDatabase'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases
  : get:
      tags:
      - RecoverableDatabases
      operationId: RecoverableDatabases_ListByServer
      description: Gets a list of recoverable databases
      x-ms-examples:
        Get list of restorable dropped databases:
          $ref: ./examples/RecoverableDatabaseList.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RecoverableDatabaseListResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/restorableDroppedDatabases/{restorableDroppededDatabaseId}
  : get:
      tags:
      - RestorableDroppedDatabases
      operationId: RestorableDroppedDatabases_Get
      description: Gets a deleted database that can be restored
      x-ms-examples:
        Get a restorable dropped database:
          $ref: ./examples/RestorableDroppedDatabaseGet.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: restorableDroppededDatabaseId
        in: path
        required: true
        type: string
        description: The id of the deleted database in the form of databaseName,deletionTimeInFileTimeFormat
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RestorableDroppedDatabase'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/restorableDroppedDatabases
  : get:
      tags:
      - RestorableDroppedDatabases
      operationId: RestorableDroppedDatabases_ListByServer
      description: Gets a list of deleted databases that can be restored
      x-ms-examples:
        Get list of restorable dropped databases:
          $ref: ./examples/RestorableDroppedDatabaseList.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RestorableDroppedDatabaseListResult'
      x-ms-pageable:
        nextLinkName: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:29:\"RecoverableDatabaseProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"edition\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  edition of the database\";}s:21:\"serviceLevelObjective\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  service level objective name of the database\";}s:15:\"elasticPoolName\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  elastic pool name of the database\";}s:23:\"lastAvailableBackupDate\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:63:\"The
  last available backup date of the database (ISO8601 format)\";}}s:11:\"description\";s:40:\"The
  properties of a recoverable database\";}s:19:\"RecoverableDatabase\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:43:\"#/definitions/RecoverableDatabaseProperties\";s:11:\"description\";s:40:\"The
  properties of a recoverable database\";s:19:\"x-ms-client-flatten\";b:1;}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"../../../common/v1/types.json#/definitions/ProxyResource\";}}s:11:\"description\";s:22:\"A
  recoverable database\";}s:29:\"RecoverableDatabaseListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/RecoverableDatabase\";}s:11:\"description\";s:31:\"A
  list of recoverable databases\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:52:\"The
  response to a list recoverable databases request\";}s:35:\"RestorableDroppedDatabaseProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"databaseName\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  name of the database\";}s:7:\"edition\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  edition of the database\";}s:12:\"maxSizeBytes\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  max size in bytes of the database\";}s:21:\"serviceLevelObjective\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  service level objective name of the database\";}s:15:\"elasticPoolName\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  elastic pool name of the database\";}s:12:\"creationDate\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"The
  creation date of the database (ISO8601 format)\";}s:12:\"deletionDate\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"The
  deletion date of the database (ISO8601 format)\";}s:19:\"earliestRestoreDate\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:58:\"The
  earliest restore date of the database (ISO8601 format)\";}}s:11:\"description\";s:47:\"The
  properties of a restorable dropped database\";}s:25:\"RestorableDroppedDatabase\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:41:\"The
  geo-location where the resource lives\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:49:\"#/definitions/RestorableDroppedDatabaseProperties\";s:11:\"description\";s:47:\"The
  properties of a restorable dropped database\";s:19:\"x-ms-client-flatten\";b:1;}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"../../../common/v1/types.json#/definitions/ProxyResource\";}}s:11:\"description\";s:29:\"A
  restorable dropped database\";}s:35:\"RestorableDroppedDatabaseListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/RestorableDroppedDatabase\";}s:11:\"description\";s:38:\"A
  list of restorable dropped databases\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:59:\"The
  response to a list restorable dropped databases request\";}}"
...
