---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:29:\"ServiceFabricManagementClient\";s:7:\"version\";s:10:\"2016-09-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:123:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-servicefabric/2016-09-01/swagger/servicefabric.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:17:\"arm-servicefabric\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"azure_arm_servicefabric\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.ServiceFabric/operations:
    get:
      description: Lists all of the available ServiceFabric REST API operations.
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorModel'
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/clusters:
    get:
      description: List cluster resource
      operationId: Clusters_List
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      responses:
        200:
          description: OK - Get cluster  successfully
          schema:
            $ref: '#/definitions/ClusterListResult'
      tags:
      - ClusterListOperation
      x-ms-examples:
        List clusters:
          parameters:
            api-version: "2016-09-01"
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/bmwdemo/providers/Microsoft.ServiceFabric/clusters/bmwdemo
                  location: westus
                  name: bmwdemo
                  properties:
                    availableClusterVersions:
                    - codeVersion: 5.4.164.9494
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    clientCertificateCommonNames: []
                    clientCertificateThumbprints: []
                    clusterCodeVersion: 5.4.164.9494
                    clusterEndpoint: https://westus.servicefabric.azure.com/runtime/clusters/a4e23572-8443-470e-adcb-3b7ebe6d582b
                    clusterId: a4e23572-8443-470e-adcb-3b7ebe6d582b
                    clusterState: Ready
                    diagnosticsStorageAccountConfig:
                      blobEndpoint: https://sflogsbmwdemo4564.blob.core.windows.net/
                      protectedAccountKeyName: StorageAccountKey1
                      queueEndpoint: https://sflogsbmwdemo4564.queue.core.windows.net/
                      storageAccountName: sflogsbmwdemo4564
                      tableEndpoint: https://sflogsbmwdemo4564.table.core.windows.net/
                    fabricSettings: []
                    managementEndpoint: http://bmwdemo.westus.cloudapp.azure.com:19080
                    nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Bronze
                      ephemeralPorts:
                        endPort: 65534
                        startPort: 49152
                      httpGatewayEndpointPort: 19080
                      isPrimary: true
                      name: Demo
                      vmInstanceCount: 5
                    provisioningState: Succeeded
                    reliabilityLevel: Silver
                    upgradeDescription:
                      deltaHealthPolicy:
                        maxPercentDeltaUnhealthyApplications: 0
                        maxPercentDeltaUnhealthyNodes: 0
                        maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                      forceRestart: true
                      healthCheckRetryTimeout: 00:45:00
                      healthCheckStableDuration: 00:05:00
                      healthCheckWaitDuration: 00:05:00
                      healthPolicy:
                        maxPercentUnhealthyApplications: 100
                        maxPercentUnhealthyNodes: 100
                      overrideUserUpgradePolicy: false
                      upgradeDomainTimeout: 02:00:00
                      upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                      upgradeTimeout: "12:00:00"
                    upgradeMode: Automatic
                    vmImage: Windows
                  tags:
                    clusterName: bmwdemo
                    resourceType: Service Fabric
                  type: Microsoft.ServiceFabric/clusters
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/psdeployrg4/providers/Microsoft.ServiceFabric/clusters/sfclust4
                  location: southcentralus
                  name: sfclust4
                  properties:
                    availableClusterVersions:
                    - codeVersion: 5.1.158.9590
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    - codeVersion: 5.2.0.100
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    - codeVersion: 5.2.207.9590
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    - codeVersion: 5.3.121.9494
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    - codeVersion: 5.3.311.9590
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    - codeVersion: 5.4.30.100
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    - codeVersion: 5.4.35.100
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    - codeVersion: 5.4.38.100
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    - codeVersion: 5.4.118.9494
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    - codeVersion: 5.4.132.9494
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    - codeVersion: 5.4.145.9494
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    - codeVersion: 5.4.164.9494
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    - codeVersion: 5.5.67.9494
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    - codeVersion: 5.5.149.9494
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    certificate:
                      thumbprint: 68A89C30F20B2A198B0A26DF3744079D0F5AC2FC
                      x509StoreName: My
                    clientCertificateCommonNames: []
                    clientCertificateThumbprints: []
                    clusterCodeVersion: 5.5.149.9494
                    clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/029c03b7-d94e-4c64-9dd4-b1c3bb0914c1
                    clusterId: 029c03b7-d94e-4c64-9dd4-b1c3bb0914c1
                    clusterState: Ready
                    diagnosticsStorageAccountConfig:
                      blobEndpoint: https://t2vgl3f2bk6qw2.blob.core.windows.net/
                      protectedAccountKeyName: StorageAccountKey1
                      queueEndpoint: https://t2vgl3f2bk6qw2.queue.core.windows.net/
                      storageAccountName: t2vgl3f2bk6qw2
                      tableEndpoint: https://t2vgl3f2bk6qw2.table.core.windows.net/
                    fabricSettings:
                    - name: Security
                      parameters:
                      - name: ClusterProtectionLevel
                        value: EncryptAndSign
                    managementEndpoint: https://sfclust4.southcentralus.cloudapp.azure.com:19080
                    nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Bronze
                      ephemeralPorts:
                        endPort: 65534
                        startPort: 49152
                      httpGatewayEndpointPort: 19080
                      isPrimary: true
                      name: nt1vm
                      vmInstanceCount: 5
                    provisioningState: Succeeded
                    reliabilityLevel: Silver
                    upgradeDescription:
                      deltaHealthPolicy:
                        maxPercentDeltaUnhealthyApplications: 0
                        maxPercentDeltaUnhealthyNodes: 0
                        maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                      forceRestart: true
                      healthCheckRetryTimeout: 00:45:00
                      healthCheckStableDuration: 00:05:00
                      healthCheckWaitDuration: 00:05:00
                      healthPolicy:
                        maxPercentUnhealthyApplications: 100
                        maxPercentUnhealthyNodes: 100
                      overrideUserUpgradePolicy: false
                      upgradeDomainTimeout: 02:00:00
                      upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                      upgradeTimeout: "12:00:00"
                    upgradeMode: Automatic
                    vmImage: Windows
                  tags:
                    clusterName: sfclust4
                    resourceType: Service Fabric
                  type: Microsoft.ServiceFabric/clusters
              headers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions
  : get:
      description: List cluster code versions by location
      operationId: ClusterVersions_List
      parameters:
      - $ref: '#/parameters/locationForClusterCodeVersions'
      - $ref: '#/parameters/environment'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      responses:
        200:
          description: OK - List cluster code versions successfully
          schema:
            $ref: '#/definitions/ClusterCodeVersionsListResult'
      tags:
      - ClusterVersionsListOperation
      x-ms-examples:
        List clusters:
          parameters:
            api-version: "2016-09-01"
            environment: Windows
            location: westus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/environments/Windows/clusterVersions/5.4.145.9494
                  name: 5.4.145.9494
                  properties:
                    codeVersion: 5.4.145.9494
                    environment: Windows
                    supportExpiryUtc: "2017-05-10T00:00:00"
                  type: Microsoft.ServiceFabric/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/environments/Windows/clusterVersions/5.4.164.9494
                  name: 5.4.164.9494
                  properties:
                    codeVersion: 5.4.164.9494
                    environment: Windows
                    supportExpiryUtc: "2017-05-10T00:00:00"
                  type: Microsoft.ServiceFabric/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/environments/Windows/clusterVersions/5.5.216.0
                  name: 5.5.216.0
                  properties:
                    codeVersion: 5.5.216.0
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  type: Microsoft.ServiceFabric/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/environments/Windows/clusterVersions/5.5.219.0
                  name: 5.5.219.0
                  properties:
                    codeVersion: 5.5.219.0
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  type: Microsoft.ServiceFabric/environments/clusterVersions
              headers: []
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}:
    delete:
      description: Delete cluster resource
      operationId: Clusters_Delete
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/clusterNameParameter'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      responses:
        200:
          description: OK - cluster deleted  successfully
        204:
          description: NoContent
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorModel'
      tags:
      - ClusterDeleteOperation
      x-ms-examples:
        Delete a cluster:
          parameters:
            api-version: "2016-09-01"
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200: []
            204: []
    get:
      description: Get cluster resource
      operationId: Clusters_Get
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/clusterNameParameter'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      responses:
        200:
          description: OK - Get cluster successfully
          schema:
            $ref: '#/definitions/Cluster'
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorModel'
      tags:
      - ClusterGetOperation
      x-ms-examples:
        Get a cluster:
          parameters:
            api-version: "2016-09-01"
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: southcentralus
                name: myCluster
                properties:
                  availableClusterVersions:
                  - codeVersion: 5.1.158.9590
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.2.0.100
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.2.207.9590
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.3.121.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.3.311.9590
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.30.100
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.35.100
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.38.100
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.118.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.132.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.145.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.164.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.5.67.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.5.149.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  certificate:
                    thumbprint: 1901CF0F76AF711BEE53DF39941092BDAC8D9050
                    x509StoreName: My
                  clientCertificateCommonNames: []
                  clientCertificateThumbprints: []
                  clusterCodeVersion: 5.5.149.9494
                  clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/1a1acec2-8d75-424a-81af-2fb83dd1cac8
                  clusterId: 1a1acec2-8d75-424a-81af-2fb83dd1cac8
                  clusterState: Ready
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://3nrb4ixoj6ogq2.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://3nrb4ixoj6ogq2.queue.core.windows.net/
                    storageAccountName: 3nrb4ixoj6ogq2
                    tableEndpoint: https://3nrb4ixoj6ogq2.table.core.windows.net/
                  fabricSettings:
                  - name: Security
                    parameters:
                    - name: ClusterProtectionLevel
                      value: EncryptAndSign
                  managementEndpoint: https://myCluster.southcentralus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 65534
                      startPort: 49152
                    httpGatewayEndpointPort: 19080
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  provisioningState: Succeeded
                  reliabilityLevel: Silver
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:45:00
                    healthCheckStableDuration: 00:05:00
                    healthCheckWaitDuration: 00:05:00
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    overrideUserUpgradePolicy: false
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: "12:00:00"
                  upgradeMode: Automatic
                  vmImage: Windows
                tags:
                  clusterName: myCluster
                  resourceType: Service Fabric
                type: Microsoft.ServiceFabric/clusters
              headers: []
    patch:
      description: Update cluster configuration
      operationId: Clusters_Update
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/clusterNameParameter'
      - $ref: '#/parameters/api-version'
      - description: The parameters which contains the property value and property
          name which used to update the cluster configuration
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ClusterUpdateParameters'
      - $ref: '#/parameters/subscriptionId'
      responses:
        200:
          description: OK - Cluster updated successfully
          schema:
            $ref: '#/definitions/Cluster'
        202:
          description: Accepted - Update request accepted; the operation will complete
            asynchronously.
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorModel'
      tags:
      - ClusterPatchOperation
      x-ms-examples:
        Patch a cluster:
          parameters:
            api-version: "2016-09-01"
            clusterName: myCluster
            parameters:
              properties:
                nodeTypes:
                - applicationPorts:
                    endPort: 30000
                    startPort: 20000
                  clientConnectionEndpointPort: 19000
                  durabilityLevel: Silver
                  ephemeralPorts:
                    endPort: 65534
                    startPort: 49152
                  httpGatewayEndpointPort: 19080
                  isPrimary: true
                  name: n1
                  reverseProxyEndpointPort: 9998
                  vmInstanceCount: 5
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: southcentralus
                name: myCluster
                properties:
                  availableClusterVersions:
                  - codeVersion: 5.4.145.9494
                    environment: Windows
                    supportExpiryUtc: "2017-05-10T00:00:00"
                  - codeVersion: 5.4.164.9494
                    environment: Windows
                    supportExpiryUtc: "2017-05-10T00:00:00"
                  - codeVersion: 5.5.216.0
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  clientCertificateCommonNames: []
                  clientCertificateThumbprints: []
                  clusterCodeVersion: 5.5.216.0
                  clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/8d566293-3508-4d62-ba7b-056fa710c3c9
                  clusterId: 8d566293-3508-4d62-ba7b-056fa710c3c9
                  clusterState: Ready
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://sflogssdktest5486.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://sflogssdktest5486.queue.core.windows.net/
                    storageAccountName: sflogssdktest5486
                    tableEndpoint: https://sflogssdktest5486.table.core.windows.net/
                  fabricSettings: []
                  managementEndpoint: http://myCluster.southcentralus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Silver
                    ephemeralPorts:
                      endPort: 65534
                      startPort: 49152
                    httpGatewayEndpointPort: 19080
                    isPrimary: true
                    name: n1
                    reverseProxyEndpointPort: 9998
                    vmInstanceCount: 5
                  provisioningState: Succeeded
                  reliabilityLevel: Bronze
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:00:01
                    healthCheckStableDuration: 00:00:01
                    healthCheckWaitDuration: 00:00:01
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    overrideUserUpgradePolicy: false
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: "12:00:00"
                  upgradeMode: Automatic
                  vmImage: Windows
                tags: []
                type: Microsoft.ServiceFabric/clusters
              headers: []
            202: []
      x-ms-long-running-operation: true
    put:
      description: Create cluster resource
      operationId: Clusters_Create
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/clusterNameParameter'
      - $ref: '#/parameters/api-version'
      - description: Put Request
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/Cluster'
      - $ref: '#/parameters/subscriptionId'
      responses:
        200:
          description: OK - Put cluster successfully
          schema:
            $ref: '#/definitions/Cluster'
        202:
          description: Accepted - Put request accepted; the operation will complete
            asynchronously.
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorModel'
      tags:
      - ClusterCreateOperation
      x-ms-examples:
        Put a cluster with max parameter:
          parameters:
            api-version: "2016-09-01"
            clusterName: myCluster
            parameters:
              location: southcentralus
              properties:
                azureActiveDirectory:
                  clientApplication: 00000000-0000-0000-0000-000000000000
                  clusterApplication: 00000000-0000-0000-0000-000000000000
                  tenantId: 00000000-0000-0000-0000-000000000000
                certificate:
                  thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                  thumbprintSecondary: 361A93445450CC8F2FF747F74500E8044942DAFD
                  x509StoreName: My
                clientCertificateCommonNames:
                - certificateCommonName: abc.com
                  certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                  isAdmin: true
                clientCertificateThumbprints:
                - 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                clusterCodeVersion: 5.5.149.9494
                diagnosticsStorageAccountConfig:
                  blobEndpoint: https://7623qfhwmnstw2.blob.core.windows.net/
                  protectedAccountKeyName: StorageAccountKey1
                  queueEndpoint: https://7623qfhwmnstw2.queue.core.windows.net/
                  storageAccountName: 7623qfhwmnstw2
                  tableEndpoint: https://7623qfhwmnstw2.table.core.windows.net/
                fabricSettings:
                - name: Security
                  parameters:
                  - name: ClusterProtectionLevel
                    value: EncryptAndSign
                managementEndpoint: https://sfclust2.southcentralus.cloudapp.azure.com:19080
                nodeTypes:
                - applicationPorts:
                    endPort: 30000
                    startPort: 20000
                  clientConnectionEndpointPort: 19000
                  durabilityLevel: Bronze
                  ephemeralPorts:
                    endPort: 65534
                    startPort: 49152
                  httpGatewayEndpointPort: 19080
                  isPrimary: true
                  name: nt1vm
                  vmInstanceCount: 5
                provisioningState: Succeeded
                reliabilityLevel: Silver
                upgradeDescription:
                  deltaHealthPolicy:
                    maxPercentDeltaUnhealthyApplications: 0
                    maxPercentDeltaUnhealthyNodes: 0
                    maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                  forceRestart: true
                  healthCheckRetryTimeout: 00:45:00
                  healthCheckStableDuration: 00:05:00
                  healthCheckWaitDuration: 00:05:00
                  healthPolicy:
                    maxPercentUnhealthyApplications: 100
                    maxPercentUnhealthyNodes: 100
                  overrideUserUpgradePolicy: false
                  upgradeDomainTimeout: 02:00:00
                  upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                  upgradeTimeout: "12:00:00"
                upgradeMode: Automatic
                vmImage: Windows
              tags:
                clusterName: myCluster
                resourceType: Service Fabric
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: southcentralus
                name: myCluster
                properties:
                  availableClusterVersions:
                  - codeVersion: 5.1.158.9590
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.2.0.100
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.2.207.9590
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.3.121.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.3.311.9590
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.30.100
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.35.100
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.38.100
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.118.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.132.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.145.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.164.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.5.67.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.5.149.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  azureActiveDirectory:
                    clientApplication: 00000000-0000-0000-0000-000000000000
                    clusterApplication: 00000000-0000-0000-0000-000000000000
                    tenantId: 00000000-0000-0000-0000-000000000000
                  certificate:
                    thumbprint: 483B5DE52ECA35147B94C5E116FA7B2E34BB68F9
                    x509StoreName: My
                  clientCertificateCommonNames:
                  - certificateCommonName: abc.com
                    certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    isAdmin: true
                  clientCertificateThumbprints:
                  - 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                  clusterCodeVersion: 5.5.149.9494
                  clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/466e7604-b8ae-4696-a91d-d7b5fcc63628
                  clusterId: 466e7604-b8ae-4696-a91d-d7b5fcc63628
                  clusterState: UpdatingUserConfiguration
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://ba3wzulspn67w2.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://ba3wzulspn67w2.queue.core.windows.net/
                    storageAccountName: ba3wzulspn67w2
                    tableEndpoint: https://ba3wzulspn67w2.table.core.windows.net/
                  fabricSettings:
                  - name: Hosting
                    parameters:
                    - name: ActivationMaxRetryInterval
                      value: "10000"
                  managementEndpoint: https://myCluster.southcentralus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 65534
                      startPort: 49152
                    httpGatewayEndpointPort: 19080
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  provisioningState: Updating
                  reliabilityLevel: Silver
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:45:00
                    healthCheckStableDuration: 00:05:00
                    healthCheckWaitDuration: 00:05:00
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    overrideUserUpgradePolicy: false
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: "12:00:00"
                  upgradeMode: Automatic
                  vmImage: Windows
                tags:
                  clusterName: myCluster
                  resourceType: Service Fabric
                type: Microsoft.ServiceFabric/clusters
              headers: []
            202: []
        Put a cluster with min parameter:
          parameters:
            api-version: "2016-09-01"
            clusterName: myCluster
            parameters:
              location: southcentralus
              properties:
                clusterCodeVersion: 5.5.149.9494
                diagnosticsStorageAccountConfig:
                  blobEndpoint: https://7623qfhwmnstw2.blob.core.windows.net/
                  protectedAccountKeyName: StorageAccountKey1
                  queueEndpoint: https://7623qfhwmnstw2.queue.core.windows.net/
                  storageAccountName: 7623qfhwmnstw2
                  tableEndpoint: https://7623qfhwmnstw2.table.core.windows.net/
                managementEndpoint: https://myCluster.southcentralus.cloudapp.azure.com:19080
                nodeTypes:
                - applicationPorts:
                    endPort: 30000
                    startPort: 20000
                  clientConnectionEndpointPort: 19000
                  durabilityLevel: Bronze
                  ephemeralPorts:
                    endPort: 65534
                    startPort: 49152
                  httpGatewayEndpointPort: 19080
                  isPrimary: true
                  name: nt1vm
                  vmInstanceCount: 5
                provisioningState: Succeeded
                reliabilityLevel: Silver
                upgradeMode: Automatic
                vmImage: Windows
              tags:
                clusterName: myCluster
                resourceType: Service Fabric
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: southcentralus
                name: myCluster
                properties:
                  availableClusterVersions:
                  - codeVersion: 5.1.158.9590
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.2.0.100
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.2.207.9590
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.3.121.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.3.311.9590
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.30.100
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.35.100
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.38.100
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.118.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.132.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.145.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.4.164.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.5.67.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  - codeVersion: 5.5.149.9494
                    environment: Windows
                    supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                  certificate:
                    thumbprint: 483B5DE52ECA35147B94C5E116FA7B2E34BB68F9
                    x509StoreName: My
                  clientCertificateCommonNames: []
                  clientCertificateThumbprints: []
                  clusterCodeVersion: 5.5.149.9494
                  clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/466e7604-b8ae-4696-a91d-d7b5fcc63628
                  clusterId: 466e7604-b8ae-4696-a91d-d7b5fcc63628
                  clusterState: UpdatingUserConfiguration
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://ba3wzulspn67w2.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://ba3wzulspn67w2.queue.core.windows.net/
                    storageAccountName: ba3wzulspn67w2
                    tableEndpoint: https://ba3wzulspn67w2.table.core.windows.net/
                  fabricSettings: []
                  managementEndpoint: https://myCluster.southcentralus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 65534
                      startPort: 49152
                    httpGatewayEndpointPort: 19080
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  provisioningState: Updating
                  reliabilityLevel: Silver
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:45:00
                    healthCheckStableDuration: 00:05:00
                    healthCheckWaitDuration: 00:05:00
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    overrideUserUpgradePolicy: false
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: "12:00:00"
                  upgradeMode: Automatic
                  vmImage: Windows
                tags:
                  clusterName: myCluster
                  resourceType: Service Fabric
                type: Microsoft.ServiceFabric/clusters
              headers: []
            202: []
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters:
    get:
      description: List cluster resource by resource group
      operationId: Clusters_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      responses:
        200:
          description: OK - Get cluster  successfully
          schema:
            $ref: '#/definitions/ClusterListResult'
      tags:
      - ClusterListByResourceGroupOperation
      x-ms-examples:
        List cluster by resource group:
          parameters:
            api-version: "2016-09-01"
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/psrg1/providers/Microsoft.ServiceFabric/clusters/testcluster
                  location: southcentralus
                  name: testcluster
                  properties:
                    availableClusterVersions:
                    - codeVersion: 5.4.145.9494
                      environment: Windows
                      supportExpiryUtc: "2017-05-10T00:00:00"
                    - codeVersion: 5.4.164.9494
                      environment: Windows
                      supportExpiryUtc: "2017-05-10T00:00:00"
                    - codeVersion: 5.5.216.0
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    - codeVersion: 5.5.219.0
                      environment: Windows
                      supportExpiryUtc: "9999-12-31T23:59:59.9999999"
                    certificate:
                      thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                      x509StoreName: My
                    clientCertificateCommonNames: []
                    clientCertificateThumbprints: []
                    clusterCodeVersion: 5.5.216.0
                    clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/29cfe945-7ff1-4234-b567-09871226d4f6
                    clusterId: 29cfe945-7ff1-4234-b567-09871226d4f6
                    clusterState: Ready
                    diagnosticsStorageAccountConfig:
                      blobEndpoint: https://sflogppe231337596.blob.core.windows.net/
                      protectedAccountKeyName: StorageAccountKey1
                      queueEndpoint: https://sflogppe231337596.queue.core.windows.net/
                      storageAccountName: sflogppe231337596
                      tableEndpoint: https://sflogppe231337596.table.core.windows.net/
                    fabricSettings:
                    - name: Security
                      parameters:
                      - name: ClusterProtectionLevel
                        value: EncryptAndSign
                    managementEndpoint: https://testcluster.southcentralus.cloudapp.azure.com:19080
                    nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Silver
                      ephemeralPorts:
                        endPort: 65534
                        startPort: 49152
                      httpGatewayEndpointPort: 19080
                      isPrimary: true
                      name: n1
                      vmInstanceCount: 5
                    provisioningState: Succeeded
                    reliabilityLevel: Silver
                    upgradeDescription:
                      deltaHealthPolicy:
                        maxPercentDeltaUnhealthyApplications: 0
                        maxPercentDeltaUnhealthyNodes: 0
                        maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                      forceRestart: false
                      healthCheckRetryTimeout: 00:45:00
                      healthCheckStableDuration: 00:05:00
                      healthCheckWaitDuration: 00:05:00
                      healthPolicy:
                        maxPercentUnhealthyApplications: 100
                        maxPercentUnhealthyNodes: 100
                      overrideUserUpgradePolicy: false
                      upgradeDomainTimeout: 02:00:00
                      upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                      upgradeTimeout: "12:00:00"
                    upgradeMode: Automatic
                    vmImage: Windows
                  tags:
                    clusterName: testcluster
                    resourceType: Service Fabric
                  type: Microsoft.ServiceFabric/clusters
              headers: []
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":26:{s:25:\"AvailableOperationDisplay\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Operation
  supported by ServiceFabric resource provider\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Operation
  description\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Operation
  name\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Provider
  name\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Resource
  name\";s:4:\"type\";s:6:\"string\";}}}s:20:\"AzureActiveDirectory\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  settings to enable AAD authentication on the cluster\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"clientApplication\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Azure
  active directory client application id\";s:4:\"type\";s:6:\"string\";}s:18:\"clusterApplication\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Azure
  active directory cluster application id\";s:4:\"type\";s:6:\"string\";}s:8:\"tenantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Azure
  active directory tenant id\";s:4:\"type\";s:6:\"string\";}}}s:22:\"CertificateDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Certificate
  details\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"thumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Thumbprint
  of the primary certificate\";s:4:\"type\";s:6:\"string\";}s:19:\"thumbprintSecondary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Thumbprint
  of the secondary certificate\";s:4:\"type\";s:6:\"string\";}s:13:\"x509StoreName\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  local certificate store location\";s:4:\"enum\";a:8:{i:0;s:11:\"AddressBook\";i:1;s:8:\"AuthRoot\";i:2;s:20:\"CertificateAuthority\";i:3;s:10:\"Disallowed\";i:4;s:2:\"My\";i:5;s:4:\"Root\";i:6;s:13:\"TrustedPeople\";i:7;s:16:\"TrustedPublisher\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"thumbprint\";}}s:27:\"ClientCertificateCommonName\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Client
  certificate details using common name\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"certificateCommonName\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Certificate
  common name to be granted access; be carefull using wild card common names\";s:4:\"type\";s:6:\"string\";}s:27:\"certificateIssuerThumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Certificate
  issuer thumbprint\";s:4:\"type\";s:6:\"string\";}s:7:\"isAdmin\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Is
  this certificate used for admin access from the client, if false , it is used or
  query only access\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:3:{i:0;s:7:\"isAdmin\";i:1;s:21:\"certificateCommonName\";i:2;s:27:\"certificateIssuerThumbprint\";}}s:27:\"ClientCertificateThumbprint\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Client
  certificate details using thumbprint\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"certificateThumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Certificate
  thumbprint\";s:4:\"type\";s:6:\"string\";}s:7:\"isAdmin\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Is
  this certificate used for admin access from the client, if false, it is used or
  query only access\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:7:\"isAdmin\";i:1;s:21:\"certificateThumbprint\";}}s:7:\"Cluster\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:20:\"The
  cluster resource\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ClusterProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:29:\"ClusterCodeVersionsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  list results of the ServiceFabric runtime versions\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  URL to use for getting the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ClusterCodeVersionsResult\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"ClusterCodeVersionsResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  result of the ServiceFabric runtime versions\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  identification of the result\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the result\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ClusterVersionDetails\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  result resource type\";s:4:\"type\";s:6:\"string\";}}}s:18:\"ClusterEnvironment\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Cluster
  operating system, the default will be Windows\";s:4:\"enum\";a:2:{i:0;s:7:\"Windows\";i:1;s:5:\"Linux\";}s:4:\"type\";s:6:\"string\";}s:19:\"ClusterHealthPolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Defines
  a health policy used to evaluate the health of the cluster or of a cluster node.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:31:\"maxPercentUnhealthyApplications\";O:8:\"stdClass\":4:{s:11:\"description\";s:167:\"The
  maximum allowed percentage of unhealthy applications before reporting an error.
  For example, to allow 10% of applications to be unhealthy, this value would be 10.
  \";s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:24:\"maxPercentUnhealthyNodes\";O:8:\"stdClass\":4:{s:11:\"description\";s:153:\"The
  maximum allowed percentage of unhealthy nodes before reporting an error. For example,
  to allow 10% of nodes to be unhealthy, this value would be 10. \";s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}}s:17:\"ClusterListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Cluster
  list results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  URL to use for getting the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"ClusterProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  cluster resource properties\";s:10:\"properties\";O:8:\"stdClass\":19:{s:24:\"availableClusterVersions\";O:8:\"stdClass\":4:{s:11:\"description\";s:130:\"The
  available cluster code version which the cluster can upgrade to, note that you must
  choose upgradeMode to manual to upgrade to\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ClusterVersionDetails\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:20:\"azureActiveDirectory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AzureActiveDirectory\";s:11:\"description\";s:56:\"The
  settings to enable AAD authentication on the cluster\";}s:11:\"certificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/CertificateDescription\";s:11:\"description\";s:143:\"This
  primay certificate will be used as cluster node to node security, SSL certificate
  for cluster management endpoint and default admin client\";}s:28:\"clientCertificateCommonNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"
  List of client certificates to whitelist based on common names\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ClientCertificateCommonName\";}s:4:\"type\";s:5:\"array\";}s:28:\"clientCertificateThumbprints\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  client thumbprint details ,it is used for client access for cluster operation\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ClientCertificateThumbprint\";}s:4:\"type\";s:5:\"array\";}s:18:\"clusterCodeVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  ServiceFabric code version running in your cluster\";s:4:\"type\";s:6:\"string\";}s:15:\"clusterEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  endpoint for the cluster connecting to servicefabric resource provider\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"clusterId\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  unique identifier for the cluster resource\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"clusterState\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  state for the cluster\";s:4:\"enum\";a:10:{i:0;s:15:\"WaitingForNodes\";i:1;s:9:\"Deploying\";i:2;s:15:\"BaselineUpgrade\";i:3;s:25:\"UpdatingUserConfiguration\";i:4;s:23:\"UpdatingUserCertificate\";i:5;s:22:\"UpdatingInfrastructure\";i:6;s:23:\"EnforcingClusterVersion\";i:7;s:25:\"UpgradeServiceUnreachable\";i:8;s:9:\"AutoScale\";i:9;s:5:\"Ready\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:31:\"diagnosticsStorageAccountConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/DiagnosticsStorageAccountConfig\";s:11:\"description\";s:53:\"The
  storage diagnostics account configuration details\";}s:14:\"fabricSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"List
  of custom fabric settings to configure the cluster.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/SettingsSectionDescription\";}s:4:\"type\";s:5:\"array\";}s:18:\"managementEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  http management endpoint of the cluster\";s:4:\"type\";s:6:\"string\";}s:9:\"nodeTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  list of nodetypes that make up the cluster\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/NodeTypeDescription\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:46:\"The
  provisioning state of the cluster resource\";s:4:\"enum\";a:4:{i:0;s:8:\"Updating\";i:1;s:9:\"Succeeded\";i:2;s:6:\"Failed\";i:3;s:8:\"Canceled\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"ProvisioningState\";}}s:16:\"reliabilityLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Cluster
  reliability level indicates replica set size of system service\";s:4:\"enum\";a:4:{i:0;s:6:\"Bronze\";i:1;s:6:\"Silver\";i:2;s:4:\"Gold\";i:3;s:8:\"Platinum\";}s:4:\"type\";s:6:\"string\";}s:23:\"reverseProxyCertificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/CertificateDescription\";s:11:\"description\";s:44:\"The
  server certificate used by reverse proxy\";}s:18:\"upgradeDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ClusterUpgradePolicy\";s:11:\"description\";s:45:\"The
  policy to use when upgrading the cluster.\";}s:11:\"upgradeMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Cluster
  upgrade mode indicates if fabric upgrade is initiated automatically by the system
  or not\";s:4:\"enum\";a:2:{i:0;s:9:\"Automatic\";i:1;s:6:\"Manual\";}s:4:\"type\";s:6:\"string\";}s:7:\"vmImage\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"The
  name of VM image VMSS has been configured with. Generic names such as Windows or
  Linux can be used.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:18:\"managementEndpoint\";i:1;s:9:\"nodeTypes\";}}s:33:\"ClusterPropertiesUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  cluster resource properties can be updated\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"certificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/CertificateDescription\";s:11:\"description\";s:278:\"This
  primay certificate will be used as cluster node to node security, SSL certificate
  for cluster management endpoint and default admin client, the certificate should
  exist in the virtual machine scale sets or Azure key vault, before you add it. It
  will override original value\";}s:28:\"clientCertificateCommonNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"List
  of client certificates to whitelist based on common names.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ClientCertificateCommonName\";}s:4:\"type\";s:5:\"array\";}s:28:\"clientCertificateThumbprints\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"The
  client thumbprint details, it is used for client access for cluster operation, it
  will override existing collection\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ClientCertificateThumbprint\";}s:4:\"type\";s:5:\"array\";}s:18:\"clusterCodeVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:306:\"The
  ServiceFabric code version, if set it, please make sure you have set upgradeMode
  to Manual, otherwise ,it will fail, if you are using PUT new cluster, you can get
  the version by using ClusterVersions_List, if you are updating existing cluster,
  you can get the availableClusterVersions from Clusters_Get\";s:4:\"type\";s:6:\"string\";}s:14:\"fabricSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"List
  of custom fabric settings to configure the cluster, Note, it will overwrite existing
  collection\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/SettingsSectionDescription\";}s:4:\"type\";s:5:\"array\";}s:9:\"nodeTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  list of nodetypes that make up the cluster, it will override\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/NodeTypeDescription\";}s:4:\"type\";s:5:\"array\";}s:16:\"reliabilityLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"This
  level is used to set the number of replicas of the system services\";s:4:\"enum\";a:3:{i:0;s:6:\"Bronze\";i:1;s:6:\"Silver\";i:2;s:4:\"Gold\";}s:4:\"type\";s:6:\"string\";}s:23:\"reverseProxyCertificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/CertificateDescription\";s:11:\"description\";s:33:\"Certificate
  for the reverse proxy\";}s:18:\"upgradeDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ClusterUpgradePolicy\";s:11:\"description\";s:45:\"The
  policy to use when upgrading the cluster.\";}s:11:\"upgradeMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Cluster
  upgrade mode indicates if fabric upgrade is initiated automatically by the system
  or not\";s:4:\"enum\";a:2:{i:0;s:9:\"Automatic\";i:1;s:6:\"Manual\";}s:4:\"type\";s:6:\"string\";}}}s:23:\"ClusterUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Cluster
  update request\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/ClusterPropertiesUpdateParameters\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:25:\"Cluster
  update parameters\";s:4:\"type\";s:6:\"object\";}}}s:31:\"ClusterUpgradeDeltaHealthPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Delta
  health policy for the cluster\";s:10:\"properties\";O:8:\"stdClass\":3:{s:36:\"maxPercentDeltaUnhealthyApplications\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Additional
  unhealthy applications percentage\";s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:29:\"maxPercentDeltaUnhealthyNodes\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Additional
  unhealthy nodes percentage\";s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:42:\"maxPercentUpgradeDomainDeltaUnhealthyNodes\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Additional
  unhealthy nodes percentage per upgrade domain \";s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:29:\"maxPercentDeltaUnhealthyNodes\";i:1;s:42:\"maxPercentUpgradeDomainDeltaUnhealthyNodes\";i:2;s:36:\"maxPercentDeltaUnhealthyApplications\";}}s:20:\"ClusterUpgradePolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Cluster
  upgrade policy\";s:10:\"properties\";O:8:\"stdClass\":10:{s:17:\"deltaHealthPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ClusterUpgradeDeltaHealthPolicy\";s:11:\"description\";s:19:\"Delta
  health policy\";}s:12:\"forceRestart\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Force
  node to restart or not\";s:4:\"type\";s:7:\"boolean\";}s:23:\"healthCheckRetryTimeout\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  length of time that health checks can fail continuously,it represents .Net TimeSpan\";s:4:\"type\";s:6:\"string\";}s:25:\"healthCheckStableDuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  length of time that health checks must pass continuously,it represents .Net TimeSpan\";s:4:\"type\";s:6:\"string\";}s:23:\"healthCheckWaitDuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  length of time to wait after completing an upgrade domain before performing health
  checks, it represents .Net TimeSpan\";s:4:\"type\";s:6:\"string\";}s:12:\"healthPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ClusterHealthPolicy\";s:11:\"description\";s:21:\"Cluster
  health Policy\";}s:25:\"overrideUserUpgradePolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Use
  the user defined upgrade policy or not\";s:4:\"type\";s:7:\"boolean\";}s:20:\"upgradeDomainTimeout\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  timeout for any upgrade domain,it represents .Net TimeSpan\";s:4:\"type\";s:6:\"string\";}s:29:\"upgradeReplicaSetCheckTimeout\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Timeout
  for replica set upgrade to complete,it represents .Net TimeSpan\";s:4:\"type\";s:6:\"string\";}s:14:\"upgradeTimeout\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  upgrade timeout,it represents .Net TimeSpan\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:29:\"upgradeReplicaSetCheckTimeout\";i:1;s:23:\"healthCheckWaitDuration\";i:2;s:25:\"healthCheckStableDuration\";i:3;s:23:\"healthCheckRetryTimeout\";i:4;s:14:\"upgradeTimeout\";i:5;s:20:\"upgradeDomainTimeout\";i:6;s:12:\"healthPolicy\";}}s:21:\"ClusterVersionDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  detail of the ServiceFabric runtime version result\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"codeVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  ServiceFabric runtime version of the cluster\";s:4:\"type\";s:6:\"string\";}s:11:\"environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClusterEnvironment\";s:11:\"description\";s:24:\"Cluster
  operating system\";}s:16:\"supportExpiryUtc\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  date of expiry of support of the version\";s:4:\"type\";s:6:\"string\";}}}s:31:\"DiagnosticsStorageAccountConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Diagnostics
  storage account config\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"blobEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Diagnostics
  storage account blob endpoint\";s:4:\"type\";s:6:\"string\";}s:23:\"protectedAccountKeyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Protected
  Diagnostics storage key name\";s:4:\"type\";s:6:\"string\";}s:13:\"queueEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Diagnostics
  storage account queue endpoint\";s:4:\"type\";s:6:\"string\";}s:18:\"storageAccountName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Diagnostics
  storage account name\";s:4:\"type\";s:6:\"string\";}s:13:\"tableEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Diagnostics
  storage account table endpoint\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:18:\"storageAccountName\";i:1;s:23:\"protectedAccountKeyName\";i:2;s:12:\"blobEndpoint\";i:3;s:13:\"queueEndpoint\";i:4;s:13:\"tableEndpoint\";}}s:24:\"EndpointRangeDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Port
  range details\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"endPort\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"End
  port of a range of ports\";s:4:\"type\";s:7:\"integer\";}s:9:\"startPort\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Starting
  port of a range of ports\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:9:\"startPort\";i:1;s:7:\"endPort\";}}s:10:\"ErrorModel\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  structure of the error\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  error detail \";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  error code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  error message\";s:4:\"type\";s:6:\"string\";}}}}}s:19:\"NodeTypeDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Describes
  a node type in the cluster, each node type represents sub set of nodes in the cluster\";s:10:\"properties\";O:8:\"stdClass\":11:{s:16:\"applicationPorts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/EndpointRangeDescription\";s:11:\"description\";s:26:\"Ports
  used by applications\";}s:10:\"capacities\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Capacity
  tag value\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:149:\"The capacity
  tags applied to the nodes in the node type, the cluster resource manager uses these
  tags to understand how much of a resource a node has\";s:4:\"type\";s:6:\"object\";}s:28:\"clientConnectionEndpointPort\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  TCP cluster management endpoint port\";s:4:\"type\";s:7:\"integer\";}s:15:\"durabilityLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Nodetype
  durability Level\";s:4:\"enum\";a:3:{i:0;s:6:\"Bronze\";i:1;s:6:\"Silver\";i:2;s:4:\"Gold\";}s:4:\"type\";s:6:\"string\";}s:14:\"ephemeralPorts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/EndpointRangeDescription\";s:11:\"description\";s:33:\"System
  assgined application ports\";}s:23:\"httpGatewayEndpointPort\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  HTTP cluster management endpoint port\";s:4:\"type\";s:7:\"integer\";}s:9:\"isPrimary\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Mark
  this as the primary node type\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of the node type\";s:4:\"type\";s:6:\"string\";}s:19:\"placementProperties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Placement
  tag value\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:128:\"The placement
  tags applied to nodes in the node type, which can be used to indicate where certain
  services (workload) should run\";s:4:\"type\";s:6:\"object\";}s:24:\"reverseProxyEndpointPort\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Endpoint
  used by reverse proxy\";s:4:\"type\";s:7:\"integer\";}s:15:\"vmInstanceCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  number of node instances in the node type\";s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:5:{i:0;s:15:\"vmInstanceCount\";i:1;s:4:\"name\";i:2;s:28:\"clientConnectionEndpointPort\";i:3;s:23:\"httpGatewayEndpointPort\";i:4;s:9:\"isPrimary\";}}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"Result
  of the request to list ServiceFabric operations. It contains a list of operations
  and a URL link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:92:\"List
  of ServiceFabric operations supported by the Microsoft.ServiceFabric resource provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OperationResult\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:15:\"OperationResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Available
  operation list result\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"display\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/AvailableOperationDisplay\";s:11:\"description\";s:21:\"Dispaly
  of the result\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Result
  name\";s:4:\"type\";s:6:\"string\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  URL to use for getting the next set of results.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Origin
  result\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:28:\"SettingsParameterDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"ServiceFabric
  settings under sections\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of settings property\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  value of the property\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"value\";}}s:26:\"SettingsSectionDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"ServiceFabric
  section settings\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of settings section\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Collection
  of settings in the section, each setting is a tuple consisting of setting name and
  value\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/SettingsParameterDescription\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:10:\"parameters\";}}}"
...
