---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:35:\"API for using
  the IoT Hub Features.\";s:5:\"title\";s:12:\"iotHubClient\";s:7:\"version\";s:10:\"2016-02-03\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:3:\"iot\";i:1;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:109:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-iothub/2016-02-03/swagger/iothub.json\";s:7:\"version\";s:3:\"2.0\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:10:\"arm-iothub\";s:6:\"x-tags\";a:6:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";i:2;s:3:\"IoT\";i:3;s:9:\"real-time\";i:4;s:14:\"bi-directional\";i:5;s:10:\"monitoring\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/IotHubs:
    get:
      consumes: []
      deprecated: false
      description: Get all IotHubs in a subscription.
      operationId: IotHubResource_ListBySubscription
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IotHubDescriptionListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Get all IotHubs in a subscription.
      tags:
      - GET
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/checkNameAvailability:
    post:
      consumes:
      - application/json
      - text/json
      deprecated: false
      description: Check if an IotHub name is available.
      operationId: IotHubResource_CheckNameAvailability
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The operation inputs. Set the name parameter in the operationInputs
          structure to the desired iothub name.
        in: body
        name: operationInputs
        required: true
        schema:
          $ref: '#/definitions/OperationInputs'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IotHubNameAvailabilityInfo'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Check if an IotHub name is available.
      tags:
      - POST
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs:
    get:
      consumes: []
      deprecated: false
      description: Get all IotHubs in a Resource group.
      operationId: IotHubResource_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IotHubDescriptionListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Get all IotHubs in a Resourcegroup.
      tags:
      - GET
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}:
    delete:
      consumes: []
      deprecated: false
      description: Delete an IotHub.
      operationId: IotHubResource_Delete
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      responses:
        202:
          description: Accepted
          schema:
            $ref: '#/definitions/IotHubDescription'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Delete an IotHub.
      tags:
      - DELETE
      x-ms-long-running-operation: true
    get:
      consumes: []
      deprecated: false
      description: Get an IotHub.
      operationId: IotHubResource_Get
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IotHubDescription'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Get an IotHub.
      tags:
      - GET
    put:
      consumes:
      - application/json
      - text/json
      deprecated: false
      description: Create or update an IotHub.
      operationId: IotHubResource_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      - description: The Iot hub description.
        in: body
        name: iotHubDescription
        required: true
        schema:
          $ref: '#/definitions/IotHubDescription'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/IotHubDescription'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Create or update an IotHub.
      tags:
      - PUT
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubKeys/{keyName}/listkeys
  : post:
      consumes: []
      deprecated: false
      description: Get the Key given a specific KeyName for an IotHub.
      operationId: IotHubResource_GetKeysForKeyName
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      - description: The name of the key.
        in: path
        name: keyName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SharedAccessSignatureAuthorizationRule'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Get the Key given a specific KeyName for an IotHub.
      tags:
      - POST
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubStats
  : get:
      consumes: []
      deprecated: false
      description: Get IotHub Stats.
      operationId: IotHubResource_GetStats
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RegistryStatistics'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Get IotHub Stats.
      tags:
      - GET
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups
  : get:
      consumes: []
      deprecated: false
      description: Get EventHub Consumer Groups for an IotHub.
      operationId: IotHubResource_ListEventHubConsumerGroups
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      - description: The name of the event hub endpoint.
        in: path
        name: eventHubEndpointName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventHubConsumerGroupsListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Get EventHub Consumer Groups for an IotHub.
      tags:
      - GET
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups/{name}
  : delete:
      consumes: []
      deprecated: false
      description: Delete EventHub Consumer Group for an IotHub.
      operationId: IotHubResource_DeleteEventHubConsumerGroup
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      - description: The name of the event hub endpoint.
        in: path
        name: eventHubEndpointName
        required: true
        type: string
      - description: The name of the consumer group.
        in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: OK
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Delete EventHub Consumer Group for an IotHub.
      tags:
      - DELETE
    get:
      consumes: []
      deprecated: false
      description: Get EventHub Consumer Group for an IotHub.
      operationId: IotHubResource_GetEventHubConsumerGroup
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      - description: The name of the event hub endpoint.
        in: path
        name: eventHubEndpointName
        required: true
        type: string
      - description: The name of the consumer group.
        in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventHubConsumerGroupInfo'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Get EventHub Consumer Group for an IotHub.
      tags:
      - GET
    put:
      consumes: []
      deprecated: false
      description: Add an EventHub Consumer Group to an IotHub.
      operationId: IotHubResource_CreateEventHubConsumerGroup
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      - description: The name of the event hub endpoint.
        in: path
        name: eventHubEndpointName
        required: true
        type: string
      - description: The name of the consumer group.
        in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventHubConsumerGroupInfo'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Add an EventHub Consumer Group to an IotHub.
      tags:
      - PUT
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/exportDevices
  : post:
      consumes:
      - application/json
      - text/json
      deprecated: false
      description: Export all the devices in an IotHub.
      operationId: IotHubResource_ExportDevices
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      - description: The export devices parameters.
        in: body
        name: exportDevicesParameters
        required: true
        schema:
          $ref: '#/definitions/ExportDevicesRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobResponse'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Export all the devices in an IotHub.
      tags:
      - POST
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/importDevices
  : post:
      consumes:
      - application/json
      - text/json
      deprecated: false
      description: Import all the devices in an IotHub.
      operationId: IotHubResource_ImportDevices
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      - description: The import devices parameters.
        in: body
        name: importDevicesParameters
        required: true
        schema:
          $ref: '#/definitions/ImportDevicesRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobResponse'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Import all the devices in an IotHub.
      tags:
      - POST
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs:
    get:
      consumes: []
      deprecated: false
      description: Get all the jobs in an IotHub.
      operationId: IotHubResource_ListJobs
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobResponseListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Get all the jobs in an IotHub.
      tags:
      - GET
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs/{jobId}
  : get:
      consumes: []
      deprecated: false
      description: Get a job in an IotHub.
      operationId: IotHubResource_GetJob
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      - description: The job identifier.
        in: path
        name: jobId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobResponse'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Get a job in an IotHub.
      tags:
      - GET
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/listkeys:
    post:
      consumes: []
      deprecated: false
      description: Get all keys for an IotHub.
      operationId: IotHubResource_ListKeys
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SharedAccessSignatureAuthorizationRuleListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Get all keys for an IotHub.
      tags:
      - POST
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/quotaMetrics
  : get:
      consumes: []
      deprecated: false
      description: Get quota metrics for an IotHub.
      operationId: IotHubResource_GetQuotaMetrics
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IotHubQuotaMetricInfoListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Get quota metrics for an IotHub.
      tags:
      - GET
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/skus:
    get:
      consumes: []
      deprecated: false
      description: Get Valid Skus.
      operationId: IotHubResource_GetValidSkus
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IotHubSkuDescriptionListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      summary: Get Valid Skus.
      tags:
      - GET
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":30:{s:23:\"CloudToDeviceProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  Iot Hub Cloud-To-Device messaging properties.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"defaultTtlAsIso8601\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  default time to live for the device queue. Range : 1 Min (PT1M) - 2 Days (P2D).\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:8:\"feedback\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FeedbackProperties\";}s:16:\"maxDeliveryCount\";O:8:\"stdClass\":5:{s:11:\"description\";s:59:\"The
  max delivery count for the device queue. Range : 1-100.\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  properties related to the details of an error.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Code\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"Details\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  error details.\";s:4:\"type\";s:6:\"string\";}s:14:\"HttpStatusCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  http status code.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  error message.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"EventHubConsumerGroupInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  properties indicating the EventHubConsumerGroupInfo.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  event hub consumer group identifier.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  event hub consumer group name.\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:9:\"The
  tags.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:32:\"EventHubConsumerGroupsListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  list of eventhub consumer group names with a next link.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  next link.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  list of eventhub consumer group names.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"EventHubProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  properties of the provisioned event hub used by the Iot Hub.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:21:\"authorizationPolicies\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  authorization rules.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/SharedAccessAuthorizationRule\";}s:4:\"type\";s:5:\"array\";}s:8:\"endpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  endpoint.\";s:4:\"type\";s:6:\"string\";}s:29:\"internalAuthorizationPolicies\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  internal authorization rules.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/SharedAccessAuthorizationRule\";}s:4:\"type\";s:5:\"array\";}s:14:\"partitionCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  partition count. Range of values [For F1: 2-2, S1: 2-128, S2: 2-128, S3: 2-128].\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"partitionIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  partition ids.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  eventhub path.\";s:4:\"type\";s:6:\"string\";}s:19:\"retentionTimeInDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  retention time in days. Range of values [For F1: 1-1, S1: 1-7, S2: 1-7, S3: 1-7].\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ExportDevicesRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:79:\"Used
  to provide parameters when requesting an export of all devices in the hub.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ExcludeKeys\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  value indicating whether keys should be excluded during export.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"ExportBlobContainerUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  export BLOB container URI.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:22:\"ExportBlobContainerUri\";i:1;s:11:\"ExcludeKeys\";}s:4:\"type\";s:6:\"object\";}s:18:\"FeedbackProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  Feedback Queue properties.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"lockDurationAsIso8601\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  lock duration for the feedback queue. Range: 5 Sec (PT5S) - 5 Min (PT5M).\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:16:\"maxDeliveryCount\";O:8:\"stdClass\":5:{s:11:\"description\";s:38:\"The
  max delivery count. Range : 1-100.\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:12:\"ttlAsIso8601\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  time to live for the feedback queue. Range: 1 Min (PT1M) - 2 Days (P2D).\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ImportDevicesRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:79:\"Used
  to provide parameters when requesting an import of all devices in the hub.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"InputBlobContainerUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  input BLOB container URI.\";s:4:\"type\";s:6:\"string\";}s:22:\"OutputBlobContainerUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  output BLOB container URI.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:21:\"InputBlobContainerUri\";i:1;s:22:\"OutputBlobContainerUri\";}s:4:\"type\";s:6:\"object\";}s:14:\"IotHubCapacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  properties related to the capacity information.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"default\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  default number of units.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"maximum\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  maximum number of units.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"minimum\";O:8:\"stdClass\":5:{s:11:\"description\";s:28:\"The
  minimum number of units.\";s:6:\"format\";s:5:\"int64\";s:7:\"maximum\";i:1;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:9:\"scaleType\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  type of the scale.\";s:4:\"enum\";a:3:{i:0;s:9:\"Automatic\";i:1;s:6:\"Manual\";i:2;s:4:\"None\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:15:\"IotHubScaleType\";}}}s:4:\"type\";s:6:\"object\";}s:17:\"IotHubDescription\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:30:\"The
  description of the IotHub.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"The
  Etag field is *not* required. If it is provided in the response body, it must also
  be provided as a header per the normal ETag convention.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/IotHubProperties\";}s:13:\"resourcegroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  resource group name uniquely identifies the resource group within the user subscriptionId.\";s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/IotHubSkuInfo\";}s:14:\"subscriptionid\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  subscription identifier.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"IotHubDescriptionListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  list of IotHubDescription objects with a next link.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  next link.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  list of IotHubDescription.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/IotHubDescription\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"IotHubNameAvailabilityInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  properties indicating whether a given iothub name is available.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  message describing the detailed reason.\";s:4:\"type\";s:6:\"string\";}s:13:\"nameAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  value which indicates whether the provided name is available.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"reason\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  reason for unavailability.\";s:4:\"enum\";a:2:{i:0;s:7:\"Invalid\";i:1;s:13:\"AlreadyExists\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:30:\"IotHubNameUnavailabilityReason\";}}}s:4:\"type\";s:6:\"object\";}s:16:\"IotHubProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  Iot Hub properties.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:21:\"authorizationPolicies\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  authorization rules.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/SharedAccessSignatureAuthorizationRule\";}s:4:\"type\";s:5:\"array\";}s:13:\"cloudToDevice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CloudToDeviceProperties\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  comments.\";s:4:\"type\";s:6:\"string\";}s:29:\"enableFileUploadNotifications\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"The
  flag which indicates whether file upload notification should be enabled. This is
  optional at iot hub level. When enabled upload notifications will be available.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"eventHubEndpoints\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/EventHubProperties\";}s:11:\"description\";s:34:\"The
  event hub endpoint properties.\";s:4:\"type\";s:6:\"object\";}s:8:\"features\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  Capabilities/Features that need to be enabled for the Hub.\";s:4:\"enum\";a:2:{i:0;s:4:\"None\";i:1;s:16:\"DeviceManagement\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"Capabilities\";}}s:8:\"hostName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the host.\";s:4:\"type\";s:6:\"string\";}s:13:\"ipFilterRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  IP filter rules.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/IpFilterRule\";}s:4:\"type\";s:5:\"array\";}s:18:\"messagingEndpoints\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/MessagingEndpointProperties\";}s:11:\"description\";s:44:\"The
  list of messaging end points configured.\";s:4:\"type\";s:6:\"object\";}s:30:\"operationsMonitoringProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/OperationsMonitoringProperties\";}s:16:\"storageEndpoints\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/StorageEndpointProperties\";}s:11:\"description\";s:113:\"The
  list of storage end points where files can be uploaded. Currently only one storage
  account can be configured.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:21:\"IotHubQuotaMetricInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  properties related to quota metrics.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"CurrentValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  current value for the quota metric.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"MaxValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  maximum value of the quota metric.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of the quota metric.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"IotHubQuotaMetricInfoListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  list of IotHubQuotaMetricInfo objects with a next link.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  next link.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  list of IotHubQuotaMetricInfo.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/IotHubQuotaMetricInfo\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"IotHubSkuDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  properties related to the Sku.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"capacity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/IotHubCapacity\";}s:12:\"resourceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/IotHubSkuInfo\";}}s:4:\"type\";s:6:\"object\";}s:30:\"IotHubSkuDescriptionListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  list of IotHubSkuDescription objects with a next link.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  next link.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  list of IotHubSkuDescription.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/IotHubSkuDescription\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"IotHubSkuInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  Sku related information for the hub.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"capacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"The
  number of units being provisioned. Range of values [For F1: 1-1, S1: 1-200, S2:
  1-200, S3: 1-10]. To go above this range, call support.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  name of the Sku.\";s:4:\"enum\";a:4:{i:0;s:2:\"F1\";i:1;s:2:\"S1\";i:2;s:2:\"S2\";i:3;s:2:\"S3\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"IotHubSku\";}}s:4:\"tier\";O:8:\"stdClass\":5:{s:11:\"description\";s:9:\"The
  tier.\";s:4:\"enum\";a:2:{i:0;s:4:\"Free\";i:1;s:8:\"Standard\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"IotHubSkuTier\";}}}s:4:\"type\";s:6:\"object\";}s:12:\"IpFilterRule\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"IP
  filter Rule\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"action\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  action desired - accept or reject.\";s:4:\"enum\";a:2:{i:0;s:6:\"Accept\";i:1;s:6:\"Reject\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"IpFilterActionType\";}}s:10:\"filterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  name of the IP filter rule.\";s:4:\"type\";s:6:\"string\";}s:6:\"ipMask\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  string containing the IPAddress/range in CIDR notation.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:10:\"filterName\";i:1;s:6:\"action\";i:2;s:6:\"ipMask\";}s:4:\"type\";s:6:\"object\";}s:11:\"JobResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  properties describing a Job Response.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"deviceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  deviceId related to this response.\";s:4:\"type\";s:6:\"string\";}s:10:\"endTimeUtc\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Represents
  the time the job stopped processing.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"failureReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"If
  status == failure, this represents a string containing the reason.\";s:4:\"type\";s:6:\"string\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  job identifier.\";s:4:\"type\";s:6:\"string\";}s:11:\"parentJobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  jobId of the parent job, if any.\";s:4:\"type\";s:6:\"string\";}s:12:\"startTimeUtc\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Start
  time of the Job.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Status
  of the Job.\";s:4:\"enum\";a:6:{i:0;s:7:\"unknown\";i:1;s:8:\"enqueued\";i:2;s:7:\"running\";i:3;s:9:\"completed\";i:4;s:6:\"failed\";i:5;s:9:\"cancelled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:9:\"JobStatus\";}}s:13:\"statusMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  status message for the job.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"The
  type of job to execute.\";s:4:\"enum\";a:10:{i:0;s:7:\"unknown\";i:1;s:6:\"export\";i:2;s:6:\"import\";i:3;s:6:\"backup\";i:4;s:20:\"readDeviceProperties\";i:5;s:21:\"writeDeviceProperties\";i:6;s:25:\"updateDeviceConfiguration\";i:7;s:12:\"rebootDevice\";i:8;s:18:\"factoryResetDevice\";i:9;s:14:\"firmwareUpdate\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:7:\"JobType\";}}}s:4:\"type\";s:6:\"object\";}s:21:\"JobResponseListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  list of JobResponse objects with a next link.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  next link.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  list of JobResponse.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/JobResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"MessagingEndpointProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  properties of the Messaging Endpoints used by this IoT Hub.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"lockDurationAsIso8601\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  lock duration. Range: 5 Sec (PT5S) - 5 Min (PT5M).\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:16:\"maxDeliveryCount\";O:8:\"stdClass\":5:{s:11:\"description\";s:37:\"The
  max delivery count. Range: 1-100.\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:12:\"ttlAsIso8601\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  time to live. Range: 1 Min (PT1M) - 2 Days (P2D).\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"OperationInputs\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"OperationInputs.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  name of the iot hub.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:30:\"OperationsMonitoringProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  Operation Monitoring properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"events\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"The
  Operation Monitoring Level.\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:5:\"Error\";i:2;s:11:\"Information\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:24:\"OperationMonitoringLevel\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:18:\"RegistryStatistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  properties related to the registry statistics.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"disabledDeviceCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  disabled device count.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:18:\"enabledDeviceCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  enabled device count.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:16:\"totalDeviceCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  total device count.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  Resource Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  Resource location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"The
  Resource name.\";s:7:\"pattern\";s:47:\"^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"The
  Resource tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  Resource type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:29:\"SharedAccessAuthorizationRule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"ClaimType\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  claim type.\";s:4:\"type\";s:6:\"string\";}s:10:\"ClaimValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  claim value.\";s:4:\"type\";s:6:\"string\";}s:11:\"CreatedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  created time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"IssuerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  issuer name.\";s:4:\"type\";s:6:\"string\";}s:7:\"KeyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  key name.\";s:4:\"type\";s:6:\"string\";}s:12:\"ModifiedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  modified time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"PrimaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  primary key.\";s:4:\"type\";s:6:\"string\";}s:8:\"Revision\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  revision.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"Rights\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  rights.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:6:\"Manage\";i:1;s:4:\"Send\";i:2;s:6:\"Listen\";i:3;s:21:\"ManageNotificationHub\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:14:\"SBAccessRights\";}}s:4:\"type\";s:5:\"array\";}s:12:\"SecondaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  secondary key.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:38:\"SharedAccessSignatureAuthorizationRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  properties that describe the keys to access the IotHub artifacts.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"keyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  name of the key.\";s:4:\"type\";s:6:\"string\";}s:10:\"primaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  primary key.\";s:4:\"type\";s:6:\"string\";}s:6:\"rights\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"The
  access rights.\";s:4:\"enum\";a:15:{i:0;s:12:\"RegistryRead\";i:1;s:13:\"RegistryWrite\";i:2;s:14:\"ServiceConnect\";i:3;s:13:\"DeviceConnect\";i:4;s:27:\"RegistryRead,
  RegistryWrite\";i:5;s:28:\"RegistryRead, ServiceConnect\";i:6;s:27:\"RegistryRead,
  DeviceConnect\";i:7;s:29:\"RegistryWrite, ServiceConnect\";i:8;s:28:\"RegistryWrite,
  DeviceConnect\";i:9;s:29:\"ServiceConnect, DeviceConnect\";i:10;s:43:\"RegistryRead,
  RegistryWrite, ServiceConnect\";i:11;s:42:\"RegistryRead, RegistryWrite, DeviceConnect\";i:12;s:43:\"RegistryRead,
  ServiceConnect, DeviceConnect\";i:13;s:44:\"RegistryWrite, ServiceConnect, DeviceConnect\";i:14;s:58:\"RegistryRead,
  RegistryWrite, ServiceConnect, DeviceConnect\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:12:\"AccessRights\";}}s:12:\"secondaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  secondary key.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:48:\"SharedAccessSignatureAuthorizationRuleListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  list of authorization rules with a next link.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  next link.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  list of authorization rules.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/SharedAccessSignatureAuthorizationRule\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"StorageEndpointProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  properties of the Storage Endpoint for file upload.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"connectionString\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  account key credentials for storage account selected by customer for uploading files.\";s:4:\"type\";s:6:\"string\";}s:13:\"containerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  root container name where all files will be uploaded.\";s:4:\"type\";s:6:\"string\";}s:15:\"sasTtlAsIso8601\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"SAS
  time to live. Range: 1 Min (PT1M) - 1 Day (P1D).\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
