---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"ApiManagementClient\";s:11:\"description\";s:134:\"Use
  these REST APIs for performing operations on API entity and their Operations associated
  with your Azure API Management deployment.\";s:7:\"version\";s:18:\"2018-06-01-preview\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis:
    get:
      tags:
      - Api
      operationId: Api_ListByService
      description: Lists all APIs of the API Management service instance.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-create-apis
      x-ms-examples:
        ApiManagementListApis:
          $ref: ./examples/ApiManagementListApis.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|nrn|name
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|displayName
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|description
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|serviceUrl
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|path
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - name: tags
        in: query
        required: false
        type: string
        description: Include tags in the response.
      - name: expandApiVersionSet
        in: query
        required: false
        type: boolean
        description: Include full ApiVersionSet resource in response
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Paged Result response of Apis.
          schema:
            $ref: '#/definitions/ApiCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/ApiContract'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}
  : head:
      tags:
      - Api
      operationId: Api_GetEntityTag
      description: Gets the entity state (Etag) version of the API specified by its
        identifier.
      x-ms-examples:
        ApiManagementHeadApi:
          $ref: ./examples/ApiManagementHeadApi.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Specified API entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    get:
      tags:
      - Api
      operationId: Api_Get
      description: Gets the details of the API specified by its identifier.
      x-ms-examples:
        ApiManagementGetApiContract:
          $ref: ./examples/ApiManagementGetApiContract.json
        ApiManagementGetApiRevisionContract:
          $ref: ./examples/ApiManagementGetApiRevision.json
      produces:
      - application/json
      - application/vnd.sun.wadl+xml
      - application/vnd.swagger.doc+json
      - application/wsdl+xml
      - application/vnd.oai.openapi
      - application/vnd.oai.openapi+json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The response body contains the specified API entity.
          schema:
            $ref: '#/definitions/ApiContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    put:
      tags:
      - Api
      operationId: Api_CreateOrUpdate
      description: Creates new or updates existing specified API of the API Management
        service instance.
      x-ms-examples:
        ApiManagementCreateApiUsingOai3Import:
          $ref: ./examples/ApiManagementCreateApiUsingOai3Import.json
        ApiManagementCreateApiUsingSwaggerImport:
          $ref: ./examples/ApiManagementCreateApiUsingSwaggerImport.json
        ApiManagementCreateApiUsingWadlImport:
          $ref: ./examples/ApiManagementCreateApiUsingWadlImport.json
        ApiManagementCreateSoapToRestApiUsingWsdlImport:
          $ref: ./examples/ApiManagementCreateSoapToRestApiUsingWsdlImport.json
        ApiManagementCreateSoapPassThroughApiUsingWsdlImport:
          $ref: ./examples/ApiManagementCreateSoapPassThroughApiUsingWsdlImport.json
        ApiManagementCreateApi:
          $ref: ./examples/ApiManagementCreateApi.json
        ApiManagementCreateApiRevision:
          $ref: ./examples/ApiManagementCreateApiRevision.json
        ApiManagementCreateApiWithOpenIdConnect:
          $ref: ./examples/ApiManagementCreateApiWithOpenIdConnect.json
      consumes:
      - application/json
      - application/vnd.sun.wadl+xml
      - application/vnd.swagger.doc+json
      - application/wsdl+xml
      - application/vnd.oai.openapi
      - application/vnd.oai.openapi+json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ApiCreateOrUpdateParameter'
        description: Create or update parameters.
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: API was successfully created.
          schema:
            $ref: '#/definitions/ApiContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        202:
          description: Request to create or update API was accepted.
        200:
          description: API was successfully updated.
          schema:
            $ref: '#/definitions/ApiContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-long-running-operation: true
    patch:
      tags:
      - Api
      operationId: Api_Update
      description: Updates the specified API of the API Management service instance.
      x-ms-examples:
        ApiManagementUpdateApi:
          $ref: ./examples/ApiManagementUpdateApi.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ApiUpdateContract'
        description: API Update Contract parameters.
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: The API was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    delete:
      tags:
      - Api
      operationId: Api_Delete
      description: Deletes the specified API of the API Management service instance.
      x-ms-examples:
        ApiManagementDeleteApi:
          $ref: ./examples/ApiManagementDeleteApi.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - name: deleteRevisions
        in: query
        required: false
        type: boolean
        description: Delete all revisions of the Api.
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The API was successfully deleted.
        204:
          description: The API was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/revisions
  : get:
      tags:
      - ApiRevision
      operationId: ApiRevisions_List
      description: Lists all revisions of an API.
      x-ms-examples:
        ApiManagementListApiRevisions:
          $ref: ./examples/ApiManagementListApiRevisions.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|nrn|apiRevision
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The operation returns a list of revision details.
          schema:
            $ref: '#/definitions/ApiRevisionCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/ApiRevisionContract'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/releases
  : get:
      tags:
      - ApiRelease
      operationId: ApiRelease_List
      description: Lists all releases of an API. An API release is created when making
        an API Revision current. Releases are also used to rollback to previous revisions.
        Results will be paged and can be constrained by the $top and $skip parameters.
      x-ms-examples:
        ApiManagementListApiReleases:
          $ref: ./examples/ApiManagementListApiReleases.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|nrn|notes
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The operation returns a list of API Releases.
          schema:
            $ref: '#/definitions/ApiReleaseCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/ApiReleaseContract'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/releases/{releaseId}
  : head:
      tags:
      - ApiRelease
      operationId: ApiRelease_GetEntityTag
      description: Returns the etag of an API release.
      x-ms-examples:
        ApiManagementHeadApiRelease:
          $ref: ./examples/ApiManagementHeadApiRelease.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/ReleaseIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Gets the entity state (Etag) version of the api release as
            specified by its identifier.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    get:
      tags:
      - ApiRelease
      operationId: ApiRelease_Get
      description: Returns the details of an API release.
      x-ms-examples:
        ApiManagementGetApiRelease:
          $ref: ./examples/ApiManagementGetApiRelease.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/ReleaseIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The operation returns the details of an API Release.
          schema:
            $ref: '#/definitions/ApiReleaseContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    put:
      tags:
      - ApiRelease
      operationId: ApiRelease_Create
      description: Creates a new Release for the API.
      x-ms-examples:
        ApiManagementCreateApiRelease:
          $ref: ./examples/ApiManagementCreateApiRelease.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/ReleaseIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ApiReleaseContract'
        description: Create parameters.
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: Release was successfully created.
          schema:
            $ref: '#/definitions/ApiReleaseContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        200:
          description: Release was successfully updated.
          schema:
            $ref: '#/definitions/ApiReleaseContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    patch:
      tags:
      - ApiRelease
      operationId: ApiRelease_Update
      description: Updates the details of the release of the API specified by its
        identifier.
      x-ms-examples:
        ApiManagementUpdateApiRelease:
          $ref: ./examples/ApiManagementUpdateApiRelease.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/ReleaseIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ApiReleaseContract'
        description: API Release Update parameters.
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: Release successfully updated
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    delete:
      tags:
      - ApiRelease
      operationId: ApiRelease_Delete
      description: Deletes the specified release in the API.
      x-ms-examples:
        ApiManagementDeleteApiRelease:
          $ref: ./examples/ApiManagementDeleteApiRelease.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/ReleaseIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: API release successfully removed
        204:
          description: API release successfully removed by previous request or does
            not exist
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations
  : get:
      tags:
      - ApiOperation
      operationId: ApiOperation_ListByApi
      description: Lists a collection of the operations for the specified API.
      x-ms-examples:
        ApiManagementListApiOperations:
          $ref: ./examples/ApiManagementListApiOperations.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|nrn|name
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|displayName
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|method
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|description
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|urlTemplate
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - name: tags
        in: query
        required: false
        type: string
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: A collection of operation summary entities at the API level.
          schema:
            $ref: '#/definitions/OperationCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/OperationContract'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations/{operationId}
  : head:
      tags:
      - ApiOperation
      operationId: ApiOperation_GetEntityTag
      description: Gets the entity state (Etag) version of the API operation specified
        by its identifier.
      x-ms-examples:
        ApiManagementHeadApiOperation:
          $ref: ./examples/ApiManagementHeadApiOperation.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/OperationIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Specified API operation entity exists and current entity state
            version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    get:
      tags:
      - ApiOperation
      operationId: ApiOperation_Get
      description: Gets the details of the API Operation specified by its identifier.
      x-ms-examples:
        ApiManagementGetApiOperation:
          $ref: ./examples/ApiManagementGetApiOperation.json
        ApiManagementGetApiOperationPetStore:
          $ref: ./examples/ApiManagementGetApiOperationPetStore.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/OperationIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The response body contains the specified Operation entity.
          schema:
            $ref: '#/definitions/OperationContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    put:
      tags:
      - ApiOperation
      operationId: ApiOperation_CreateOrUpdate
      description: Creates a new operation in the API or updates an existing one.
      x-ms-examples:
        ApiManagementCreateApiOperation:
          $ref: ./examples/ApiManagementCreateApiOperation.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/OperationIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/OperationContract'
        description: Create parameters.
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: Operation was successfully created.
          schema:
            $ref: '#/definitions/OperationContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        200:
          description: Operation was successfully updated.
          schema:
            $ref: '#/definitions/OperationContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    patch:
      tags:
      - ApiOperation
      operationId: ApiOperation_Update
      description: Updates the details of the operation in the API specified by its
        identifier.
      x-ms-examples:
        ApiManagementUpdateApiOperation:
          $ref: ./examples/ApiManagementUpdateApiOperation.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/OperationIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/OperationUpdateContract'
        description: API Operation Update parameters.
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: The operation was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    delete:
      tags:
      - ApiOperation
      operationId: ApiOperation_Delete
      description: Deletes the specified operation in the API.
      x-ms-examples:
        ApiManagementDeleteApiOperation:
          $ref: ./examples/ApiManagementDeleteApiOperation.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/OperationIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: API operation successfully removed
        204:
          description: API operation successfully removed by previous request or does
            not exist
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations/{operationId}/policies
  : get:
      tags:
      - ApiOperationPolicy
      operationId: ApiOperationPolicy_ListByOperation
      description: Get the list of policy configuration at the API Operation level.
      x-ms-examples:
        ApiManagementListApiOperationPolicies:
          $ref: ./examples/ApiManagementListApiOperationPolicies.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/OperationIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Api Operations Policy Collection.
          schema:
            $ref: ./apimpolicies.json#/definitions/PolicyCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations/{operationId}/policies/{policyId}
  : head:
      tags:
      - ApiOperationPolicy
      operationId: ApiOperationPolicy_GetEntityTag
      description: Gets the entity state (Etag) version of the API operation policy
        specified by its identifier.
      x-ms-examples:
        ApiManagementHeadApiOperationPolicy:
          $ref: ./examples/ApiManagementHeadApiOperationPolicy.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/OperationIdParameter
      - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Specified API operation policy entity exists and current entity
            state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    get:
      tags:
      - ApiOperationPolicy
      operationId: ApiOperationPolicy_Get
      description: Get the policy configuration at the API Operation level.
      x-ms-examples:
        ApiManagementGetApiOperationPolicy:
          $ref: ./examples/ApiManagementGetApiOperationPolicy.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/OperationIdParameter
      - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Api Operation Policy information.
          schema:
            $ref: ./apimpolicies.json#/definitions/PolicyContract
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    put:
      tags:
      - ApiOperationPolicy
      operationId: ApiOperationPolicy_CreateOrUpdate
      description: Creates or updates policy configuration for the API Operation level.
      x-ms-examples:
        ApiManagementCreateApiOperationPolicy:
          $ref: ./examples/ApiManagementCreateApiOperationPolicy.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/OperationIdParameter
      - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: ./apimpolicies.json#/definitions/PolicyContract
        description: The policy contents to apply.
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: Api Operation policy configuration was successfully created.
          schema:
            $ref: ./apimpolicies.json#/definitions/PolicyContract
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        200:
          description: Api Operation policy configuration of the tenant was successfully
            updated.
          schema:
            $ref: ./apimpolicies.json#/definitions/PolicyContract
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    delete:
      tags:
      - ApiOperationPolicy
      operationId: ApiOperationPolicy_Delete
      description: Deletes the policy configuration at the Api Operation.
      x-ms-examples:
        ApiManagementDeleteApiOperationPolicy:
          $ref: ./examples/ApiManagementDeleteApiOperationPolicy.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/OperationIdParameter
      - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Policy successfully removed
        204:
          description: Policy successfully removed by previous request or does not
            exist
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations/{operationId}/tags
  : get:
      tags:
      - ApiOperationTag
      operationId: Tag_ListByOperation
      description: Lists all Tags associated with the Operation.
      x-ms-examples:
        ApiManagementListApiOperationTags:
          $ref: ./examples/ApiManagementListApiOperationTags.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/OperationIdParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|nrn|displayName
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|name
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The operation returns a collection of tags associated with
            the Operation entity.
          schema:
            $ref: ./apimtags.json#/definitions/TagCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./apimtags.json#/definitions/TagContract
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations/{operationId}/tags/{tagId}
  : head:
      tags:
      - ApiOperationTag
      operationId: Tag_GetEntityStateByOperation
      description: Gets the entity state version of the tag specified by its identifier.
      x-ms-examples:
        ApiManagementHeadApiOperationTag:
          $ref: ./examples/ApiManagementHeadApiOperationTag.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/OperationIdParameter
      - $ref: ./apimanagement.json#/parameters/TagIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Empty response body, ETag header entity state version.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    get:
      tags:
      - ApiOperationTag
      operationId: Tag_GetByOperation
      description: Get tag associated with the Operation.
      x-ms-examples:
        ApiManagementGetApiOperationTag:
          $ref: ./examples/ApiManagementGetApiOperationTag.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/OperationIdParameter
      - $ref: ./apimanagement.json#/parameters/TagIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Gets the details of the tag specified by its identifier.
          schema:
            $ref: ./apimtags.json#/definitions/TagContract
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    put:
      tags:
      - ApiOperationTag
      operationId: Tag_AssignToOperation
      description: Assign tag to the Operation.
      x-ms-examples:
        ApiManagementCreateApiOperationTag:
          $ref: ./examples/ApiManagementCreateApiOperationTag.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/OperationIdParameter
      - $ref: ./apimanagement.json#/parameters/TagIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: Tag was assigned to the Operation.
          schema:
            $ref: ./apimtags.json#/definitions/TagContract
        200:
          description: Tag is already assigned to the Operation.
          schema:
            $ref: ./apimtags.json#/definitions/TagContract
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    delete:
      tags:
      - ApiOperationTag
      operationId: Tag_DetachFromOperation
      description: Detach the tag from the Operation.
      x-ms-examples:
        ApiManagementDeleteApiOperationTag:
          $ref: ./examples/ApiManagementDeleteApiOperationTag.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/OperationIdParameter
      - $ref: ./apimanagement.json#/parameters/TagIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Tag was successfully removed from Operation
        204:
          description: Tag successfully removed by previous request or does not exist
            in Operation
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/products
  : get:
      tags:
      - ApiProduct
      operationId: ApiProduct_ListByApis
      description: Lists all Products, which the API is part of.
      x-ms-examples:
        ApiManagementListApiProducts:
          $ref: ./examples/ApiManagementListApiProducts.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|nrn|displayName
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The operation returns a collection of products which have the
            Api entity.
          schema:
            $ref: ./apimproducts.json#/definitions/ProductCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./apimproducts.json#/definitions/ProductContract
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/policies
  : get:
      tags:
      - ApiPolicy
      operationId: ApiPolicy_ListByApi
      description: Get the policy configuration at the API level.
      x-ms-examples:
        ApiManagementListApiPolicies:
          $ref: ./examples/ApiManagementListApiPolicies.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Apis Policy Collection.
          schema:
            $ref: ./apimpolicies.json#/definitions/PolicyCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/policies/{policyId}
  : head:
      tags:
      - ApiPolicy
      operationId: ApiPolicy_GetEntityTag
      description: Gets the entity state (Etag) version of the API policy specified
        by its identifier.
      x-ms-examples:
        ApiManagementHeadApiPolicy:
          $ref: ./examples/ApiManagementHeadApiPolicy.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Specified API Policy entity exists and current entity state
            version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    get:
      tags:
      - ApiPolicy
      operationId: ApiPolicy_Get
      description: Get the policy configuration at the API level.
      x-ms-examples:
        ApiManagementGetApiPolicy:
          $ref: ./examples/ApiManagementGetApiPolicy.json
      produces:
      - application/json
      - application/vnd.ms-azure-apim.policy+xml
      - application/vnd.ms-azure-apim.policy.raw+xml
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Api Policy information.
          schema:
            $ref: ./apimpolicies.json#/definitions/PolicyContract
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    put:
      tags:
      - ApiPolicy
      operationId: ApiPolicy_CreateOrUpdate
      description: Creates or updates policy configuration for the API.
      x-ms-examples:
        ApiManagementCreateApiPolicy:
          $ref: ./examples/ApiManagementCreateApiPolicy.json
        ApiManagementCreateApiPolicyNonXmlEncoded:
          $ref: ./examples/ApiManagementCreateApiPolicyNonXmlEncoded.json
      consumes:
      - application/json
      - application/vnd.ms-azure-apim.policy+xml
      - application/vnd.ms-azure-apim.policy.raw+xml
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: ./apimpolicies.json#/definitions/PolicyContract
        description: The policy contents to apply.
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: Api policy configuration was successfully created.
          schema:
            $ref: ./apimpolicies.json#/definitions/PolicyContract
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        200:
          description: Api policy configuration of the tenant was successfully updated.
          schema:
            $ref: ./apimpolicies.json#/definitions/PolicyContract
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    delete:
      tags:
      - ApiPolicy
      operationId: ApiPolicy_Delete
      description: Deletes the policy configuration at the Api.
      x-ms-examples:
        ApiManagementDeleteApiPolicy:
          $ref: ./examples/ApiManagementDeleteApiPolicy.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/PolicyIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Successfully deleted the policy configuration at the API level.
        204:
          description: Successfully deleted the policy configuration at the API level.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/schemas
  : get:
      tags:
      - ApiSchema
      operationId: ApiSchema_ListByApi
      description: Get the schema configuration at the API level.
      x-ms-examples:
        ApiManagementListApiSchemas:
          $ref: ./examples/ApiManagementListApiSchemas.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|nrn|contentType
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Apis Schema Collection.
          schema:
            $ref: '#/definitions/SchemaCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/schemas/{schemaId}
  : head:
      tags:
      - ApiSchema
      operationId: ApiSchema_GetEntityTag
      description: Gets the entity state (Etag) version of the schema specified by
        its identifier.
      x-ms-examples:
        ApiManagementHeadApiSchema:
          $ref: ./examples/ApiManagementHeadApiSchema.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/SchemaIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Specified schema entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    get:
      tags:
      - ApiSchema
      operationId: ApiSchema_Get
      description: Get the schema configuration at the API level.
      x-ms-examples:
        ApiManagementGetApiSchema:
          $ref: ./examples/ApiManagementGetApiSchema.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/SchemaIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Api Schema information.
          schema:
            $ref: '#/definitions/SchemaContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    put:
      tags:
      - ApiSchema
      operationId: ApiSchema_CreateOrUpdate
      description: Creates or updates schema configuration for the API.
      x-ms-examples:
        ApiManagementCreateApiSchema:
          $ref: ./examples/ApiManagementCreateApiSchema.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/SchemaIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/SchemaContract'
        description: The schema contents to apply.
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: Api schema configuration was successfully created.
          schema:
            $ref: '#/definitions/SchemaContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        200:
          description: Api schema configuration of the tenant was successfully updated.
          schema:
            $ref: '#/definitions/SchemaContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    delete:
      tags:
      - ApiSchema
      operationId: ApiSchema_Delete
      description: Deletes the schema configuration at the Api.
      x-ms-examples:
        ApiManagementDeleteApiSchema:
          $ref: ./examples/ApiManagementDeleteApiSchema.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/SchemaIdParameter
      - name: force
        in: query
        required: false
        type: boolean
        description: If true removes all references to the schema before deleting
          it.
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Successfully deleted the schema configuration at the API level.
        204:
          description: Successfully deleted the schema configuration at the API level.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/diagnostics
  : get:
      tags:
      - ApiDiagnostic
      operationId: ApiDiagnostic_ListByService
      description: Lists all diagnostics of an API.
      x-ms-examples:
        ApiManagementListApiDiagnostics:
          $ref: ./examples/ApiManagementListApiDiagnostics.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|nrn|name
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Paged Result response of diagnostics for an API.
          schema:
            $ref: ./apimdiagnostics.json#/definitions/DiagnosticCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./apimdiagnostics.json#/definitions/DiagnosticContract
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/diagnostics/{diagnosticId}
  : head:
      tags:
      - ApiDiagnostic
      operationId: ApiDiagnostic_GetEntityTag
      description: Gets the entity state (Etag) version of the Diagnostic for an API
        specified by its identifier.
      x-ms-examples:
        ApiManagementHeadApiDiagnostic:
          $ref: ./examples/ApiManagementHeadApiDiagnostic.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/DiagnosticIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Operation completed successfully.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    get:
      tags:
      - ApiDiagnostic
      operationId: ApiDiagnostic_Get
      description: Gets the details of the Diagnostic for an API specified by its
        identifier.
      x-ms-examples:
        ApiManagementGetApiDiagnostic:
          $ref: ./examples/ApiManagementGetApiDiagnostic.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/DiagnosticIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The response body contains the specified Diagnostic entity.
          schema:
            $ref: ./apimdiagnostics.json#/definitions/DiagnosticContract
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    put:
      tags:
      - ApiDiagnostic
      operationId: ApiDiagnostic_CreateOrUpdate
      description: Creates a new Diagnostic for an API or updates an existing one.
      x-ms-examples:
        ApiManagementCreateApiDiagnostic:
          $ref: ./examples/ApiManagementCreateApiDiagnostic.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/DiagnosticIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: ./apimdiagnostics.json#/definitions/DiagnosticContract
        description: Create parameters.
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: Diagnostic was successfully created.
          schema:
            $ref: ./apimdiagnostics.json#/definitions/DiagnosticContract
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        200:
          description: Diagnostic was successfully updated.
          schema:
            $ref: ./apimdiagnostics.json#/definitions/DiagnosticContract
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    patch:
      tags:
      - ApiDiagnostic
      operationId: ApiDiagnostic_Update
      description: Updates the details of the Diagnostic for an API specified by its
        identifier.
      x-ms-examples:
        ApiManagementUpdateApiDiagnostic:
          $ref: ./examples/ApiManagementUpdateApiDiagnostic.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/DiagnosticIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: ./apimdiagnostics.json#/definitions/DiagnosticContract
        description: Diagnostic Update parameters.
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: The Diagnostic was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    delete:
      tags:
      - ApiDiagnostic
      operationId: ApiDiagnostic_Delete
      description: Deletes the specified Diagnostic from an API.
      x-ms-examples:
        ApiManagementDeleteApiDiagnostic:
          $ref: ./examples/ApiManagementDeleteApiDiagnostic.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/DiagnosticIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Diagnostic successfully removed
        204:
          description: Diagnostic successfully removed by previous request or does
            not exist
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/issues
  : get:
      tags:
      - ApiIssue
      operationId: ApiIssue_ListByService
      description: Lists all issues associated with the specified API.
      x-ms-examples:
        ApiManagementListApiIssues:
          $ref: ./examples/ApiManagementListApiIssues.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|nrn|name
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|userId
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|state
          | eq |    |n'
      - name: expandCommentsAttachments
        in: query
        required: false
        type: boolean
        description: 'Expand the comment attachments. '
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Paged Result response of issues for the API.
          schema:
            $ref: '#/definitions/IssueCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/IssueContract'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/issues/{issueId}
  : head:
      tags:
      - ApiIssue
      operationId: ApiIssue_GetEntityTag
      description: Gets the entity state (Etag) version of the Issue for an API specified
        by its identifier.
      x-ms-examples:
        ApiManagementHeadApiIssue:
          $ref: ./examples/ApiManagementHeadApiIssue.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/IssueIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Operation completed successfully.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    get:
      tags:
      - ApiIssue
      operationId: ApiIssue_Get
      description: Gets the details of the Issue for an API specified by its identifier.
      x-ms-examples:
        ApiManagementGetApiIssue:
          $ref: ./examples/ApiManagementGetApiIssue.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/IssueIdParameter
      - name: expandCommentsAttachments
        in: query
        required: false
        type: boolean
        description: 'Expand the comment attachments. '
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The response body contains the specified Issue entity.
          schema:
            $ref: '#/definitions/IssueContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    put:
      tags:
      - ApiIssue
      operationId: ApiIssue_CreateOrUpdate
      description: Creates a new Issue for an API or updates an existing one.
      x-ms-examples:
        ApiManagementCreateApiIssue:
          $ref: ./examples/ApiManagementCreateApiIssue.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/IssueIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/IssueContract'
        description: Create parameters.
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: New api issue successfully added
          schema:
            $ref: '#/definitions/IssueContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        200:
          description: Api issue successfully updated
          schema:
            $ref: '#/definitions/IssueContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    patch:
      tags:
      - ApiIssue
      operationId: ApiIssue_Update
      description: Updates an existing issue for an API.
      x-ms-examples:
        ApiManagementUpdateApiIssue:
          $ref: ./examples/ApiManagementUpdateApiIssue.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/IssueIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/IssueUpdateContract'
        description: Update parameters.
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: Api issue updated successfully
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    delete:
      tags:
      - ApiIssue
      operationId: ApiIssue_Delete
      description: Deletes the specified Issue from an API.
      x-ms-examples:
        ApiManagementDeleteApiIssue:
          $ref: ./examples/ApiManagementDeleteApiIssue.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/IssueIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Issue successfully removed
        204:
          description: Issue successfully removed by previous request or does not
            exist
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/issues/{issueId}/comments
  : get:
      tags:
      - ApiIssueComment
      operationId: ApiIssueComment_ListByService
      description: Lists all comments for the Issue associated with the specified
        API.
      x-ms-examples:
        ApiManagementListApiIssueComments:
          $ref: ./examples/ApiManagementListApiIssueComments.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/IssueIdParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|nrn|name
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|userId
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Paged Result response of issue comments for the API.
          schema:
            $ref: '#/definitions/IssueCommentCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/IssueCommentContract'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/issues/{issueId}/comments/{commentId}
  : head:
      tags:
      - ApiIssueComment
      operationId: ApiIssueComment_GetEntityTag
      description: Gets the entity state (Etag) version of the issue Comment for an
        API specified by its identifier.
      x-ms-examples:
        ApiManagementHeadApiIssueComment:
          $ref: ./examples/ApiManagementHeadApiIssueComment.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/IssueIdParameter
      - $ref: ./apimanagement.json#/parameters/CommentIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Operation completed successfully.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    get:
      tags:
      - ApiIssueComment
      operationId: ApiIssueComment_Get
      description: Gets the details of the issue Comment for an API specified by its
        identifier.
      x-ms-examples:
        ApiManagementGetApiIssueComment:
          $ref: ./examples/ApiManagementGetApiIssueComment.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/IssueIdParameter
      - $ref: ./apimanagement.json#/parameters/CommentIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The response body contains the specified issue Comment entity.
          schema:
            $ref: '#/definitions/IssueCommentContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    put:
      tags:
      - ApiIssueComment
      operationId: ApiIssueComment_CreateOrUpdate
      description: Creates a new Comment for the Issue in an API or updates an existing
        one.
      x-ms-examples:
        ApiManagementCreateApiIssueComment:
          $ref: ./examples/ApiManagementCreateApiIssueComment.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/IssueIdParameter
      - $ref: ./apimanagement.json#/parameters/CommentIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/IssueCommentContract'
        description: Create parameters.
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: New api issue comment successfully added
          schema:
            $ref: '#/definitions/IssueCommentContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        200:
          description: Api issue comment successfully updated
          schema:
            $ref: '#/definitions/IssueCommentContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    delete:
      tags:
      - ApiIssueComment
      operationId: ApiIssueComment_Delete
      description: Deletes the specified comment from an Issue.
      x-ms-examples:
        ApiManagementDeleteApiIssueComment:
          $ref: ./examples/ApiManagementDeleteApiIssueComment.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/IssueIdParameter
      - $ref: ./apimanagement.json#/parameters/CommentIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Comment successfully removed
        204:
          description: Comment successfully removed by previous request or does not
            exist
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/issues/{issueId}/attachments
  : get:
      tags:
      - ApiIssueAttachment
      operationId: ApiIssueAttachment_ListByService
      description: Lists all attachments for the Issue associated with the specified
        API.
      x-ms-examples:
        ApiManagementListApiIssueAttachments:
          $ref: ./examples/ApiManagementListApiIssueAttachments.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/IssueIdParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|nrn|name
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|userId
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Paged Result response of issue attachments for the API.
          schema:
            $ref: '#/definitions/IssueAttachmentCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/IssueAttachmentContract'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/issues/{issueId}/attachments/{attachmentId}
  : head:
      tags:
      - ApiIssueAttachment
      operationId: ApiIssueAttachment_GetEntityTag
      description: Gets the entity state (Etag) version of the issue Attachment for
        an API specified by its identifier.
      x-ms-examples:
        ApiManagementHeadApiIssueAttachment:
          $ref: ./examples/ApiManagementHeadApiIssueAttachment.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/IssueIdParameter
      - $ref: ./apimanagement.json#/parameters/AttachmentIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Operation completed successfully.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    get:
      tags:
      - ApiIssueAttachment
      operationId: ApiIssueAttachment_Get
      description: Gets the details of the issue Attachment for an API specified by
        its identifier.
      x-ms-examples:
        ApiManagementGetApiIssueAttachment:
          $ref: ./examples/ApiManagementGetApiIssueAttachment.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/IssueIdParameter
      - $ref: ./apimanagement.json#/parameters/AttachmentIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The response body contains the specified issue Attachment entity.
          schema:
            $ref: '#/definitions/IssueAttachmentContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    put:
      tags:
      - ApiIssueAttachment
      operationId: ApiIssueAttachment_CreateOrUpdate
      description: Creates a new Attachment for the Issue in an API or updates an
        existing one.
      x-ms-examples:
        ApiManagementCreateApiIssueAttachment:
          $ref: ./examples/ApiManagementCreateApiIssueAttachment.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/IssueIdParameter
      - $ref: ./apimanagement.json#/parameters/AttachmentIdParameter
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/IssueAttachmentContract'
        description: Create parameters.
      - $ref: ./apimanagement.json#/parameters/IfMatchOptionalParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        201:
          description: New api issue attachment successfully added
          schema:
            $ref: '#/definitions/IssueAttachmentContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        200:
          description: Api issue attachment successfully updated
          schema:
            $ref: '#/definitions/IssueAttachmentContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    delete:
      tags:
      - ApiIssueAttachment
      operationId: ApiIssueAttachment_Delete
      description: Deletes the specified comment from an Issue.
      x-ms-examples:
        ApiManagementDeleteApiIssueAttachment:
          $ref: ./examples/ApiManagementDeleteApiIssueAttachment.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdParameter
      - $ref: ./apimanagement.json#/parameters/IssueIdParameter
      - $ref: ./apimanagement.json#/parameters/AttachmentIdParameter
      - $ref: ./apimanagement.json#/parameters/IfMatchRequiredParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Attachment successfully removed
        204:
          description: Attachment successfully removed by previous request or does
            not exist
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/tagDescriptions
  : get:
      tags:
      - ApiTagDescription
      operationId: TagDescription_ListByApi
      description: Lists all Tags descriptions in scope of API. Model similar to swagger
        - tagDescription is defined on API level but tag may be assigned to the Operations
      x-ms-examples:
        ApiManagementListApiTagDescriptions:
          $ref: ./examples/ApiManagementListApiTagDescriptions.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|nrn|displayName
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|name
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: The operation returns a collection of tagDescriptions associated
            with the Api entity.
          schema:
            $ref: ./apimtags.json#/definitions/TagDescriptionCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./apimtags.json#/definitions/TagDescriptionContract
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/tagDescriptions/{tagId}
  : head:
      tags:
      - ApiTagDescription
      operationId: TagDescription_GetEntityState
      description: Gets the entity state version of the tag specified by its identifier.
      x-ms-examples:
        ApiManagementHeadApiTagDescription:
          $ref: ./examples/ApiManagementHeadApiTagDescription.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/TagIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Empty response body, ETag header entity state version.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    get:
      tags:
      - ApiTagDescription
      operationId: TagDescription_Get
      description: Get Tag description in scope of API
      x-ms-examples:
        ApiManagementGetApiTagDescription:
          $ref: ./examples/ApiManagementGetApiTagDescription.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiIdRevParameter
      - $ref: ./apimanagement.json#/parameters/TagIdParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
[...]
