---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:11:\"description\";s:33:\"The Azure BatchAI
  Management API.\";s:5:\"title\";s:7:\"BatchAI\";s:7:\"version\";s:18:\"2017-09-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:23:\"BatchAIManagementClient\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:164:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/batchai/resource-manager/Microsoft.BatchAI/preview/2017-09-01-preview/BatchAI.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:15:\"batchai-BatchAI\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"azure_batchai_batchai\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.BatchAI/operations:
    get:
      description: Lists available operations for the Microsoft.BatchAI provider.
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
      tags:
      - Operations
      x-ms-examples:
        List of available operations for Batch AI Resource Provider:
          parameters:
            api-version: 2017-09-01-preview
          responses:
            200:
              body:
                value:
                - display:
                    description: Lists Batch AI clusters or gets the properties of
                      a Batch AI cluster
                    operation: List or get Batch AI clusters
                    provider: Microsoft Batch AI
                    resource: Batch AI Clusters
                  name: Microsoft.BatchAI/clusters/read
                  origin: user,system
                - display:
                    description: Creates a new Batch AI cluster or updates an existing
                      Batch AI cluster
                    operation: Create or update Batch AI cluster
                    provider: Microsoft Batch AI
                    resource: Batch AI Clusters
                  name: Microsoft.BatchAI/clusters/write
                  origin: user,system
                - display:
                    description: Deletes a Batch AI cluster
                    operation: Delete Batch AI cluster
                    provider: Microsoft Batch AI
                    resource: Batch AI Clusters
                  name: Microsoft.BatchAI/clusters/delete
                  origin: user,system
                - display:
                    description: Lists remote-login information for a Batch AI cluster
                    operation: List Batch AI cluster remote-login information
                    provider: Microsoft Batch AI
                    resource: Batch AI Clusters
                  name: Microsoft.BatchAI/clusters/listRemoteLoginInformation
                  origin: user,system
                - display:
                    description: Lists Batch AI jobs or gets the properties of a Batch
                      AI job
                    operation: List or get Batch AI jobs
                    provider: Microsoft Batch AI
                    resource: Batch AI Jobs
                  name: Microsoft.BatchAI/jobs/read
                  origin: user,system
                - display:
                    description: Creates a new Batch AI job or updates an existing
                      Batch AI job
                    operation: Create or update Batch AI job
                    provider: Microsoft Batch AI
                    resource: Batch AI Jobs
                  name: Microsoft.BatchAI/jobs/write
                  origin: user,system
                - display:
                    description: Deletes a Batch AI job
                    operation: Delete Batch AI job
                    provider: Microsoft Batch AI
                    resource: Batch AI Jobs
                  name: Microsoft.BatchAI/jobs/delete
                  origin: user,system
                - display:
                    description: Terminates a Batch AI job
                    operation: Terminate Batch AI job
                    provider: Microsoft Batch AI
                    resource: Batch AI Jobs
                  name: Microsoft.BatchAI/jobs/terminate/action
                  origin: user,system
                - display:
                    description: Lists remote-login information for a Batch AI job
                    operation: List Batch AI job remote-login information
                    provider: Microsoft Batch AI
                    resource: Batch AI Jobs
                  name: Microsoft.BatchAI/jobs/listRemoteLoginInformation
                  origin: user,system
                - display:
                    description: Lists Batch AI fileservers or gets the properties
                      of a Batch AI fileserver
                    operation: List or get Batch AI fileservers
                    provider: Microsoft Batch AI
                    resource: Batch AI Fileservers
                  name: Microsoft.BatchAI/fileservers/read
                  origin: user,system
                - display:
                    description: Creates a new Batch AI fileserver or updates an existing
                      Batch AI fileserver
                    operation: Create or update Batch AI fileserver
                    provider: Microsoft Batch AI
                    resource: Batch AI Fileservers
                  name: Microsoft.BatchAI/fileservers/write
                  origin: user,system
                - display:
                    description: Deletes a Batch AI fileserver
                    operation: Delete Batch AI filserver
                    provider: Microsoft Batch AI
                    resource: Batch AI Fileservers
                  name: Microsoft.BatchAI/fileservers/delete
                  origin: user,system
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.BatchAI/clusters:
    get:
      description: Gets information about the Clusters associated with the subscription.
      operationId: Clusters_List
      parameters:
      - $ref: '#/parameters/FilterParameter'
      - $ref: '#/parameters/SelectParameter'
      - $ref: '#/parameters/MaxResultsParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains a list
            of Cluster entities associated with the subscription.
          schema:
            $ref: '#/definitions/ClusterListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Cluster
      x-ms-examples:
        List clusters:
          parameters:
            api-version: 2017-09-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/clusters/demo_cluster
                  location: eastus
                  name: demo_cluster
                  properties:
                    allocationState: resizing
                    allocationStateTransitionTime: "2017-09-27T22:28:08.998Z"
                    creationTime: "2017-09-27T22:28:07.645Z"
                    currentNodeCount: 0
                    nodeSetup:
                      mountVolumes:
                        azureFileShares:
                        - accountName: storage_account_name
                          azureFileUrl: https://storage_account_name.file.core.windows.net/azure_file_share_name
                          credentials: []
                          directoryMode: "0777"
                          fileMode: "0777"
                          relativeMountPath: azfiles
                    nodeStateCounts:
                      idleNodeCount: 0
                      leavingNodeCount: 0
                      preparingNodeCount: 0
                      runningNodeCount: 0
                      unusableNodeCount: 0
                    provisioningState: succeeded
                    provisioningStateTransitionTime: "2017-09-27T22:28:08.327Z"
                    scaleSettings:
                      manual:
                        nodeDeallocationOption: requeue
                        targetNodeCount: 1
                    userAccountSettings:
                      adminUserName: admin_user_name
                    virtualMachineConfiguration:
                      imageReference:
                        offer: UbuntuServer
                        publisher: Canonical
                        sku: 16.04-LTS
                        version: latest
                    vmPriority: dedicated
                    vmSize: STANDARD_NC6
                  type: Microsoft.BatchAI/Clusters
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.BatchAI/fileServers:
    get:
      description: To list all the file servers available under the given subscription
        (and across all resource groups within that subscription)
      operationId: FileServers_List
      parameters:
      - $ref: '#/parameters/FilterParameter'
      - $ref: '#/parameters/SelectParameter'
      - $ref: '#/parameters/MaxResultsParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains a formatted
            list of clusters and their properties.
          schema:
            $ref: '#/definitions/FileServerListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - FileServer
      x-ms-examples:
        List file servers:
          parameters:
            api-version: 2017-09-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/fileservers/fileservercedd134b
                  location: eastus
                  name: fileservercedd134b
                  properties:
                    creationTime: "2017-09-27T21:45:28.159Z"
                    dataDisks:
                      cachingType: none
                      diskCount: 2
                      diskSizeInGB: 10
                      storageAccountType: Standard_LRS
                    mountSettings:
                      fileServerInternalIP: 10.0.0.4
                      fileServerPublicIP: 13.90.141.66
                      fileServerType: nfs
                      mountPoint: /mnt/data
                    provisioningState: succeeded
                    provisioningStateTransitionTime: "2017-09-27T21:49:25.416Z"
                    sshConfiguration:
                      userAccountSettings:
                        adminUserName: admin_user_name
                    subnet:
                      id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.Network/virtualNetworks/7feb1976-8c31-4f1f-bea2-86cb1839a7bavnet/subnets/Subnet-1
                    vmSize: STANDARD_NC6
                  type: Microsoft.BatchAI/FileServers
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.BatchAI/jobs:
    get:
      description: Gets information about the jobs associated with the subscription.
      operationId: Jobs_List
      parameters:
      - $ref: '#/parameters/FilterParameter'
      - $ref: '#/parameters/SelectParameter'
      - $ref: '#/parameters/MaxResultsParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains a list
            of Batch AI job entities associated with the subscription.
          schema:
            $ref: '#/definitions/JobListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Job
      x-ms-examples:
        List jobs:
          parameters:
            api-version: 2017-09-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/jobs/job
                  name: job
                  properties:
                    cluster:
                      id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/clusters/demo_cluster
                    constraints:
                      maxWallClockTime: P7D
                    containerSettings:
                      imageSourceRegistry:
                        image: ubuntu
                    creationTime: "2017-09-27T23:36:52.611Z"
                    customToolkitSettings:
                      commandLine: echo hi | tee $AZ_BATCHAI_OUTPUT_OUTPUTS/hi.txt
                    executionInfo:
                      startTime: "2017-09-27T23:36:54.115Z"
                    executionState: running
                    executionStateTransitionTime: "2017-09-27T23:36:56.395Z"
                    inputDirectories:
                    - id: INPUT
                      path: $AZ_BATCHAI_MOUNT_ROOT/azfiles/input
                    nodeCount: 1
                    outputDirectories:
                    - createNew: true
                      id: OUTPUTS
                      pathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles/
                      pathSuffix: files
                      type: custom
                    priority: 0
                    provisioningState: succeeded
                    provisioningStateTransitionTime: "2017-09-27T23:36:53.701Z"
                    stdOutErrPathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles
                    toolType: custom
                  type: Microsoft.BatchAI/Jobs
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/clusters:
    get:
      description: Gets information about the Clusters associated within the specified
        resource group.
      operationId: Clusters_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/FilterParameter'
      - $ref: '#/parameters/SelectParameter'
      - $ref: '#/parameters/MaxResultsParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains a list
            of Cluster entities associated with the resource group.
          schema:
            $ref: '#/definitions/ClusterListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Cluster
      x-ms-examples:
        List clusters:
          parameters:
            api-version: 2017-09-01-preview
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/clusters/demo_cluster
                  location: eastus
                  name: demo_cluster
                  properties:
                    allocationState: resizing
                    allocationStateTransitionTime: "2017-09-27T22:28:08.998Z"
                    creationTime: "2017-09-27T22:28:07.645Z"
                    currentNodeCount: 0
                    nodeSetup:
                      mountVolumes:
                        azureFileShares:
                        - accountName: storage_account_name
                          azureFileUrl: https://storage_account_name.file.core.windows.net/azure_file_share_name
                          credentials: []
                          directoryMode: "0777"
                          fileMode: "0777"
                          relativeMountPath: azfiles
                    nodeStateCounts:
                      idleNodeCount: 0
                      leavingNodeCount: 0
                      preparingNodeCount: 0
                      runningNodeCount: 0
                      unusableNodeCount: 0
                    provisioningState: succeeded
                    provisioningStateTransitionTime: "2017-09-27T22:28:08.327Z"
                    scaleSettings:
                      manual:
                        nodeDeallocationOption: requeue
                        targetNodeCount: 1
                    userAccountSettings:
                      adminUserName: admin_user_name
                    virtualMachineConfiguration:
                      imageReference:
                        offer: UbuntuServer
                        publisher: Canonical
                        sku: 16.04-LTS
                        version: latest
                    vmPriority: dedicated
                    vmSize: STANDARD_NC6
                  type: Microsoft.BatchAI/Clusters
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/clusters/{clusterName}:
    delete:
      description: Deletes a Cluster.
      operationId: Clusters_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful.
        202:
          description: The operation will be completed asynchronously.
        204:
          description: No content.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Cluster
      x-ms-examples:
        Delete cluster:
          parameters:
            api-version: 2017-09-01-preview
            clusterName: demo_cluster
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200: []
            202:
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2017-09-01-preview
                Retry-After: 15
            204: []
      x-ms-long-running-operation: true
    get:
      description: Gets information about the specified Cluster.
      operationId: Clusters_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains information
            abouth the cluster.
          schema:
            $ref: '#/definitions/Cluster'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Cluster
      x-ms-examples:
        Get cluster:
          parameters:
            api-version: 2017-09-01-preview
            clusterName: demo_cluster
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/clusters/demo_cluster
                location: eastus
                name: demo_cluster
                properties:
                  allocationState: resizing
                  allocationStateTransitionTime: "2017-09-27T21:50:04.521Z"
                  creationTime: "2017-09-27T21:50:02.377Z"
                  currentNodeCount: 0
                  nodeSetup:
                    mountVolumes:
                      azureFileShares:
                      - accountName: storage_account_name
                        azureFileUrl: https://storage_account_name.file.core.windows.net/azure_file_share_name
                        credentials: []
                        directoryMode: "0777"
                        fileMode: "0777"
                        relativeMountPath: azfiles
                      fileServers:
                      - fileServer:
                          id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/fileservers/fileservercedd134b
                        mountOptions: rw
                        relativeMountPath: nfs
                  nodeStateCounts:
                    idleNodeCount: 0
                    leavingNodeCount: 0
                    preparingNodeCount: 0
                    runningNodeCount: 0
                    unusableNodeCount: 0
                  provisioningState: succeeded
                  provisioningStateTransitionTime: "2017-09-27T21:50:03.828Z"
                  scaleSettings:
                    manual:
                      nodeDeallocationOption: requeue
                      targetNodeCount: 1
                  subnet:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.Network/virtualNetworks/7feb1976-8c31-4f1f-bea2-86cb1839a7bavnet/subnets/Subnet-1
                  userAccountSettings:
                    adminUserName: admin_user_name
                  virtualMachineConfiguration:
                    imageReference:
                      offer: UbuntuServer
                      publisher: Canonical
                      sku: 16.04-LTS
                      version: latest
                  vmPriority: dedicated
                  vmSize: STANDARD_NC6
                type: Microsoft.BatchAI/Clusters
    patch:
      description: Update the properties of a given cluster.
      operationId: Clusters_Update
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - description: Additional parameters for cluster update.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ClusterUpdateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains the Cluster
            entity.
          schema:
            $ref: '#/definitions/Cluster'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Cluster
      x-ms-examples:
        Patch cluster:
          parameters:
            api-version: 2017-09-01-preview
            clusterName: demo_cluster
            parameters:
              properties:
                scaleSettings:
                  autoScale:
                    maximumNodeCount: 10
                    minimumNodeCount: 0
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/clusters/demo_cluster
                location: eastus
                name: demo_cluster
                properties:
                  allocationState: steady
                  allocationStateTransitionTime: "2017-09-27T21:43:57.664Z"
                  creationTime: "2017-09-27T21:43:55.215Z"
                  currentNodeCount: 0
                  nodeSetup:
                    mountVolumes:
                      azureFileShares:
                      - accountName: storage_account_name
                        azureFileUrl: https://storage_account_name.file.core.windows.net/azure_file_share_name
                        credentials: []
                        directoryMode: "0777"
                        fileMode: "0777"
                        relativeMountPath: azfiles
                  nodeStateCounts:
                    idleNodeCount: 0
                    leavingNodeCount: 0
                    preparingNodeCount: 0
                    runningNodeCount: 0
                    unusableNodeCount: 0
                  provisioningState: succeeded
                  provisioningStateTransitionTime: "2017-09-27T21:43:56.238Z"
                  scaleSettings:
                    autoScale:
                      initialNodeCount: 0
                      maximumNodeCount: 10
                      minimumNodeCount: 0
                  userAccountSettings:
                    adminUserName: admin_user_name
                  virtualMachineConfiguration:
                    imageReference:
                      offer: UbuntuServer
                      publisher: Canonical
                      sku: 16.04-LTS
                      version: latest
                  vmPriority: dedicated
                  vmSize: STANDARD_NC6
                type: Microsoft.BatchAI/Clusters
    put:
      description: Adds a cluster. A cluster is a collection of compute nodes. Multiple
        jobs can be run on the same cluster.
      operationId: Clusters_Create
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - description: The parameters to provide for cluster creation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ClusterCreateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains the cluster
            entity.
          schema:
            $ref: '#/definitions/Cluster'
        202:
          description: The operation will be completed asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Cluster
      x-ms-examples:
        Create or update cluster:
          parameters:
            api-version: 2017-09-01-preview
            clusterName: demo_cluster
            parameters:
              location: eastus
              properties:
                nodeSetup:
                  mountVolumes:
                    azureFileShares:
                    - accountName: storage_account_name
                      azureFileUrl: https://storage_account_name.file.core.windows.net/azure_file_share_name
                      credentials:
                        accountKey: 00000000000000000000000000000000000000000000000000000000000000000000000000000000000000==
                      directoryMode: "0777"
                      fileMode: "0777"
                      relativeMountPath: azfiles
                    fileServers:
                    - fileServer:
                        id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/fileservers/fileservercedd134b
                      mountOptions: rw
                      relativeMountPath: nfs
                scaleSettings:
                  manual:
                    nodeDeallocationOption: requeue
                    targetNodeCount: 1
                userAccountSettings:
                  adminUserName: admin_user_name
                  adminUserPassword: admin_user_password
                  adminUserSshPublicKey: ssh-rsa AAAAB3NzaC1yc...
                vmPriority: dedicated
                vmSize: STANDARD_NC6
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/clusters/demo_cluster
                location: eastus
                name: demo_cluster
                properties:
                  allocationState: resizing
                  allocationStateTransitionTime: "2017-09-27T21:50:04.521Z"
                  creationTime: "2017-09-27T21:50:02.377Z"
                  currentNodeCount: 0
                  nodeSetup:
                    mountVolumes:
                      azureFileShares:
                      - accountName: storage_account_name
                        azureFileUrl: https://storage_account_name.file.core.windows.net/azure_file_share_name
                        credentials: []
                        directoryMode: "0777"
                        fileMode: "0777"
                        relativeMountPath: azfiles
                      fileServers:
                      - fileServer:
                          id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/fileservers/fileservercedd134b
                        mountOptions: rw
                        relativeMountPath: nfs
                  nodeStateCounts:
                    idleNodeCount: 0
                    leavingNodeCount: 0
                    preparingNodeCount: 0
                    runningNodeCount: 0
                    unusableNodeCount: 0
                  provisioningState: succeeded
                  provisioningStateTransitionTime: "2017-09-27T21:50:03.828Z"
                  scaleSettings:
                    manual:
                      nodeDeallocationOption: requeue
                      targetNodeCount: 1
                  subnet:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.Network/virtualNetworks/7feb1976-8c31-4f1f-bea2-86cb1839a7bavnet/subnets/Subnet-1
                  userAccountSettings:
                    adminUserName: admin_user_name
                  virtualMachineConfiguration:
                    imageReference:
                      offer: UbuntuServer
                      publisher: Canonical
                      sku: 16.04-LTS
                      version: latest
                  vmPriority: dedicated
                  vmSize: STANDARD_NC6
                type: Microsoft.BatchAI/Clusters
            202:
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2017-09-01-preview
                Retry-After: 15
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/clusters/{clusterName}/listRemoteLoginInformation
  : post:
      description: Get the IP address, port of all the compute nodes in the cluster.
      operationId: Clusters_ListRemoteLoginInformation
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains the list
            of IP addresses.
          schema:
            $ref: '#/definitions/RemoteLoginInformationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Cluster
      x-ms-examples:
        Get a cluster's remote-login-information:
          parameters:
            api-version: 2017-09-01-preview
            clusterName: demo_cluster
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                value:
                - ipAddress: 13.84.190.124
                  nodeId: tvm-3601533753_1-20170719t162906z
                  port: 50000
                - ipAddress: 13.84.190.124
                  nodeId: tvm-3601533753_2-20170719t162906z
                  port: 50001
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/fileServers:
    get:
      description: Gets a formatted list of file servers and their properties associated
        within the specified resource group.
      operationId: FileServers_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/FilterParameter'
      - $ref: '#/parameters/SelectParameter'
      - $ref: '#/parameters/MaxResultsParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains a list
            of formatted file servers and their properties associated with the resource
            group.
          schema:
            $ref: '#/definitions/FileServerListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - FileServer
      x-ms-examples:
        List file servers:
          parameters:
            api-version: 2017-09-01-preview
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/fileservers/fileservercedd134b
                  location: eastus
                  name: fileservercedd134b
                  properties:
                    creationTime: "2017-09-27T21:45:28.159Z"
                    dataDisks:
                      cachingType: none
                      diskCount: 2
                      diskSizeInGB: 10
                      storageAccountType: Standard_LRS
                    mountSettings:
                      fileServerInternalIP: 10.0.0.4
                      fileServerPublicIP: 13.90.141.66
                      fileServerType: nfs
                      mountPoint: /mnt/data
                    provisioningState: succeeded
                    provisioningStateTransitionTime: "2017-09-27T21:49:25.416Z"
                    sshConfiguration:
                      userAccountSettings:
                        adminUserName: admin_user_name
                    subnet:
                      id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.Network/virtualNetworks/7feb1976-8c31-4f1f-bea2-86cb1839a7bavnet/subnets/Subnet-1
                    vmSize: STANDARD_NC6
                  type: Microsoft.BatchAI/FileServers
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/fileServers/{fileServerName}:
    delete:
      description: Delete a file Server.
      operationId: FileServers_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/FileServerNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful.
        202:
          description: The operation will be completed asynchronously.
        204:
          description: No content.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - FileServer
      x-ms-examples:
        Delete file server:
          parameters:
            api-version: 2017-09-01-preview
            fileServerName: demo_nfs
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200: []
            202:
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2017-09-01-preview
                Retry-After: 15
            204: []
      x-ms-long-running-operation: true
    get:
      description: Gets information about the specified Cluster.
      operationId: FileServers_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/FileServerNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains information
            about the FileServer.
          schema:
            $ref: '#/definitions/FileServer'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - FileServer
      x-ms-examples:
        Get file server:
          parameters:
            api-version: 2017-09-01-preview
            fileServerName: demo_nfs
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/fileservers/fileservercedd134b
                location: eastus
                name: fileservercedd134b
                properties:
                  creationTime: "2017-09-27T21:45:28.159Z"
                  dataDisks:
                    cachingType: none
                    diskCount: 2
                    diskSizeInGB: 10
                    storageAccountType: Standard_LRS
                  mountSettings:
                    fileServerInternalIP: 10.0.0.4
                    fileServerPublicIP: 13.90.141.66
                    fileServerType: nfs
                    mountPoint: /mnt/data
                  provisioningState: succeeded
                  provisioningStateTransitionTime: "2017-09-27T21:49:25.416Z"
                  sshConfiguration:
                    userAccountSettings:
                      adminUserName: admin_user_name
                  subnet:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.Network/virtualNetworks/7feb1976-8c31-4f1f-bea2-86cb1839a7bavnet/subnets/Subnet-1
                  vmSize: STANDARD_NC6
                type: Microsoft.BatchAI/FileServers
    put:
      description: Creates a file server.
      operationId: FileServers_Create
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/FileServerNameParameter'
      - description: The parameters to provide for file server creation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/FileServerCreateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains the file
            server entity.
          schema:
            $ref: '#/definitions/FileServer'
        202:
          description: The operation will be completed asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - FileServer
      x-ms-examples:
        Create or update file server:
          parameters:
            api-version: 2017-09-01-preview
            fileServerName: demo_nfs
            parameters:
              location: eastus
              properties:
                dataDisks:
                  diskCount: 2
                  diskSizeInGB: 10
                  storageAccountType: Standard_LRS
                sshConfiguration:
                  userAccountSettings:
                    adminUserName: admin_user_name
                    adminUserPassword: admin_user_password
                vmSize: STANDARD_NC6
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              parameters:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/fileservers/fileservercedd134b
                location: eastus
                name: demo_nfs
                properties:
                  creationTime: "2017-09-27T21:45:28.159Z"
                  dataDisks:
                    cachingType: none
                    diskCount: 2
                    diskSizeInGB: 10
                    storageAccountType: Standard_LRS
                  mountSettings:
                    fileServerInternalIP: 10.0.0.4
                    fileServerPublicIP: 13.90.141.66
                    fileServerType: nfs
                    mountPoint: /mnt/data
                  provisioningState: succeeded
                  provisioningStateTransitionTime: "2017-09-27T21:49:25.416Z"
                  sshConfiguration:
                    userAccountSettings:
                      adminUserName: admin_user_name
                  subnet:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.Network/virtualNetworks/7feb1976-8c31-4f1f-bea2-86cb1839a7bavnet/subnets/Subnet-1
                  vmSize: STANDARD_NC6
                type: Microsoft.BatchAI/FileServers
            202:
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2017-09-01-preview
                Retry-After: 15
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/jobs:
    get:
      description: Gets information about the Batch AI jobs associated within the
        specified resource group.
      operationId: Jobs_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/FilterParameter'
      - $ref: '#/parameters/SelectParameter'
      - $ref: '#/parameters/MaxResultsParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains a list
            of Job entities associated with the resource group.
          schema:
            $ref: '#/definitions/JobListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Job
      x-ms-examples:
        List jobs:
          parameters:
            api-version: 2017-09-01-preview
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/jobs/job
                  name: job
                  properties:
                    cluster:
                      id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/clusters/demo_cluster
                    constraints:
                      maxWallClockTime: P7D
                    containerSettings:
                      imageSourceRegistry:
                        image: ubuntu
                    creationTime: "2017-09-27T23:36:52.611Z"
                    customToolkitSettings:
                      commandLine: echo hi | tee $AZ_BATCHAI_OUTPUT_OUTPUTS/hi.txt
                    executionInfo:
                      startTime: "2017-09-27T23:36:54.115Z"
                    executionState: running
                    executionStateTransitionTime: "2017-09-27T23:36:56.395Z"
                    inputDirectories:
                    - id: INPUT
                      path: $AZ_BATCHAI_MOUNT_ROOT/azfiles/input
                    nodeCount: 1
                    outputDirectories:
                    - createNew: true
                      id: OUTPUTS
                      pathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles/
                      pathSuffix: files
                      type: custom
                    priority: 0
                    provisioningState: succeeded
                    provisioningStateTransitionTime: "2017-09-27T23:36:53.701Z"
                    stdOutErrPathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles
                    toolType: custom
                  type: Microsoft.BatchAI/Jobs
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/jobs/{jobName}:
    delete:
      description: Deletes the specified Batch AI job.
      operationId: Jobs_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/JobNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful.
        202:
          description: The operation will be completed asynchronously.
        204:
          description: No content.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Job
      x-ms-examples:
        Delete job:
          parameters:
            api-version: 2017-09-01-preview
            jobName: demo_job
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200: []
            202:
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2017-09-01-preview
                Retry-After: 15
            204: []
      x-ms-long-running-operation: true
    get:
      description: Gets information about the specified Batch AI job.
      operationId: Jobs_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/JobNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains the Batch
            AI job entity.
          schema:
            $ref: '#/definitions/Job'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Job
      x-ms-examples:
        Get job:
          parameters:
            api-version: 2017-09-01-preview
            jobName: demo_job
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/jobs/job
                name: job
                properties:
                  cluster:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/clusters/demo_cluster
                  constraints:
                    maxWallClockTime: P7D
                  containerSettings:
                    imageSourceRegistry:
                      image: ubuntu
                  creationTime: "2017-09-27T23:36:52.611Z"
                  customToolkitSettings:
                    commandLine: echo hi | tee $AZ_BATCHAI_OUTPUT_OUTPUTS/hi.txt
                  executionInfo:
                    startTime: "2017-09-27T23:36:54.115Z"
                  executionState: running
                  executionStateTransitionTime: "2017-09-27T23:36:56.395Z"
                  inputDirectories:
                  - id: INPUT
                    path: $AZ_BATCHAI_MOUNT_ROOT/azfiles/input
                  nodeCount: 1
                  outputDirectories:
                  - createNew: true
                    id: OUTPUTS
                    pathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles/
                    pathSuffix: files
                    type: custom
                  priority: 0
                  provisioningState: succeeded
                  provisioningStateTransitionTime: "2017-09-27T23:36:53.701Z"
                  stdOutErrPathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles
                  toolType: custom
                type: Microsoft.BatchAI/Jobs
    put:
      description: Adds a Job that gets executed on a cluster.
      operationId: Jobs_Create
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/JobNameParameter'
      - description: The parameters to provide for job creation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/JobCreateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains the job
            entity.
          schema:
            $ref: '#/definitions/Job'
        202:
          description: The operation will be completed asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Job
      x-ms-examples:
        Create or update job:
          parameters:
            api-version: 2017-09-01-preview
            jobName: demo_job
            parameters:
              location: eastus
              properties:
                cluster:
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/clusters/demo_cluster
                containerSettings:
                  imageSourceRegistry:
                    image: ubuntu
                customToolkitSettings:
                  commandLine: echo hi | tee $AZ_BATCHAI_OUTPUT_OUTPUTS/hi.txt
                inputDirectories:
                - id: INPUT
                  path: $AZ_BATCHAI_MOUNT_ROOT/azfiles/input
                nodeCount: 1
                outputDirectories:
                - createNew: true
                  id: OUTPUTS
                  pathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles/
                  pathSuffix: files
                  type: custom
                priority: 0
                stdOutErrPathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/jobs/demo_job
                name: demo_job
                properties:
                  cluster:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/clusters/demo_cluster
                  constraints:
                    maxWallClockTime: P7D
                  containerSettings:
                    imageSourceRegistry:
                      image: ubuntu
                  creationTime: "2017-09-27T23:36:52.611Z"
                  customToolkitSettings:
                    commandLine: echo hi | tee $AZ_BATCHAI_OUTPUT_OUTPUTS/hi.txt
                  executionInfo:
                    startTime: "2017-09-27T23:36:54.115Z"
                  executionState: running
                  executionStateTransitionTime: "2017-09-27T23:36:56.395Z"
                  inputDirectories:
                  - id: INPUT
                    path: $AZ_BATCHAI_MOUNT_ROOT/azfiles/input
                  nodeCount: 1
                  outputDirectories:
                  - createNew: true
                    id: OUTPUTS
                    pathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles/
                    pathSuffix: files
                    type: custom
                  priority: 0
                  provisioningState: succeeded
                  provisioningStateTransitionTime: "2017-09-27T23:36:53.701Z"
                  stdOutErrPathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles
                  toolType: custom
                type: Microsoft.BatchAI/Job
            202:
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2017-09-01-preview
                Retry-After: 15
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/jobs/{jobName}/listOutputFiles:
    post:
      description: List all files inside the given output directory (Only if the output
        directory is on Azure File Share or Azure Storage container).
      operationId: Jobs_ListOutputFiles
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/JobNameParameter'
      - $ref: '#/parameters/OutputDirectoryIdParameter'
      - $ref: '#/parameters/DownloadLinkExpiryParameter'
      - $ref: '#/parameters/MaxResultsParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains the list
            of job files.
          schema:
            $ref: '#/definitions/FileListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Job
      x-ms-examples:
        List a job's files:
          parameters:
            api-version: 2017-09-01-preview
            jobName: demo_job
            outputdirectoryid: stdouterr
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                value:
                - downloadUrl: https://storage_account_name.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/jobs/job/host_prep_stderr.txt?sv=2016-05-31&sr=f&sig=CNPJmjDQT9Anld9%2FdnQ52ZBpfOff2el8r4el6J%2BnpJE%3D&se=2017-09-28T01%3A22%3A35Z&sp=rl
                  name: stderr-job_prep.txt
                  properties:
                    contentLength: 0
                    lastModified: "2017-09-28T00:22:19Z"
                - downloadUrl: https://storage_account_name.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/jobs/job/host_prep_stdout.txt?sv=2016-05-31&sr=f&sig=yK%2F5acWSTdcmBZGGL9%2F3IqeZ7N%2B1sRXfwB%2FaCkoRS%2Bc%3D&se=2017-09-28T01%3A22%3A35Z&sp=rl
                  name: stdout-job_prep.txt
                  properties:
                    contentLength: 720
                    lastModified: "2017-09-28T00:22:19Z"
                - downloadUrl: https://storage_account_name.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/jobs/job/stderr.txt?sv=2016-05-31&sr=f&sig=TdvHhdQjvWWA0Z7aPb0oZpPgGbBPOyDarNXWHFnRS3c%3D&se=2017-09-28T01%3A22%3A35Z&sp=rl
                  name: stderr.txt
                  properties:
                    contentLength: 0
                    lastModified: "2017-09-28T00:22:19Z"
                - downloadUrl: https://storage_account_name.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/jobs/job/stdout.txt?sv=2016-05-31&sr=f&sig=nyydEjNnYpQfovknJc%2B5G%2F05g0IV4acWKlfkM35lh00%3D&se=2017-09-28T01%3A22%3A35Z&sp=rl
                  name: stdout.txt
                  properties:
                    contentLength: 32
                    lastModified: "2017-09-28T00:22:19Z"
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/jobs/{jobName}/listRemoteLoginInformation
  : post:
      description: Gets the IP address and port information of all the compute nodes
        which are used for job execution.
      operationId: Jobs_ListRemoteLoginInformation
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/JobNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful. The response contains compute
            node remote login information.
          schema:
            $ref: '#/definitions/RemoteLoginInformationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Job
      x-ms-examples:
        'Get a job''s remote-login-information ':
          parameters:
            api-version: 2017-09-01-preview
            jobName: demo_job
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                value:
                - ipAddress: 13.84.190.124
                  nodeId: tvm-3601533753_1-20170719t162906z
                  port: 50000
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/jobs/{jobName}/terminate:
    post:
      description: Terminates a job.
      operationId: Jobs_Terminate
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/JobNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The operation was successful.
        202:
          description: The operation will be completed asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      tags:
      - Job
      x-ms-examples:
        Terminate job:
          parameters:
            api-version: 2017-09-01-preview
            jobName: demo_job
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200: []
            202:
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2017-09-01-preview
                Retry-After: 15
      x-ms-long-running-operation: true
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":66:{s:17:\"AutoScaleSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"The
  system automatically scales the cluster up and down (within minimumNodeCount and
  maximumNodeCount) based on the pending and running jobs on the cluster.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"initialNodeCount\";O:8:\"stdClass\":4:{s:7:\"default\";i:0;s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:129:\"Specifies
  the number of compute nodes to allocate on cluster creation. Note that this value
  is used only during cluster creation.\";s:4:\"type\";s:7:\"integer\";}s:16:\"maximumNodeCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:67:\"Specifies
  the maximum number of compute nodes the cluster can have.\";s:4:\"type\";s:7:\"integer\";}s:16:\"minimumNodeCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:67:\"Specifies
  the minimum number of compute nodes the cluster can have.\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:16:\"minimumNodeCount\";i:1;s:16:\"maximumNodeCount\";}}s:28:\"AzureBlobFileSystemReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"Provides
  required information, for the service to be able to mount Azure Blob Storage container
  on the cluster nodes.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"accountName\";O:8:\"stdClass\":2:{s:5:\"title\";s:39:\"Name
  of the Azure Blob Storage account.\";s:4:\"type\";s:6:\"string\";}s:13:\"containerName\";O:8:\"stdClass\":2:{s:5:\"title\";s:65:\"Name
  of the Azure Blob Storage container to mount on the cluster.\";s:4:\"type\";s:6:\"string\";}s:11:\"credentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/AzureStorageCredentialsInfo\";s:5:\"title\";s:58:\"Information
  of the Azure Blob Storage account credentials.\";}s:12:\"mountOptions\";O:8:\"stdClass\":2:{s:5:\"title\";s:83:\"Specifies
  the various mount options that can be used to configure Blob file system.\";s:4:\"type\";s:6:\"string\";}s:17:\"relativeMountPath\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Note
  that all blob file systems will be mounted under $AZ_BATCHAI_MOUNT_ROOT location.\";s:5:\"title\";s:97:\"Specifies
  the relative path on the compute node where the Azure Blob file system will be mounted.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:11:\"accountName\";i:1;s:13:\"containerName\";i:2;s:11:\"credentials\";i:3;s:17:\"relativeMountPath\";}}s:23:\"AzureFileShareReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Details
  of the Azure File Share to mount on the cluster.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"accountName\";O:8:\"stdClass\":2:{s:5:\"title\";s:28:\"Name
  of the storage account.\";s:4:\"type\";s:6:\"string\";}s:12:\"azureFileUrl\";O:8:\"stdClass\":2:{s:5:\"title\";s:29:\"URL
  to access the Azure File.\";s:4:\"type\";s:6:\"string\";}s:11:\"credentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/AzureStorageCredentialsInfo\";s:5:\"title\";s:42:\"Information
  of the Azure File credentials.\";}s:13:\"directoryMode\";O:8:\"stdClass\":4:{s:7:\"default\";s:4:\"0777\";s:11:\"description\";s:49:\"Default
  value is 0777. Valid only if OS is linux.\";s:5:\"title\";s:29:\"Specifies the directory
  Mode.\";s:4:\"type\";s:6:\"string\";}s:8:\"fileMode\";O:8:\"stdClass\":4:{s:7:\"default\";s:4:\"0777\";s:11:\"description\";s:49:\"Default
  value is 0777. Valid only if OS is linux.\";s:5:\"title\";s:24:\"Specifies the file
  mode.\";s:4:\"type\";s:6:\"string\";}s:17:\"relativeMountPath\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Note
  that all file shares will be mounted under $AZ_BATCHAI_MOUNT_ROOT location.\";s:5:\"title\";s:91:\"Specifies
  the relative path on the compute node where the Azure file share will be mounted.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:11:\"accountName\";i:1;s:12:\"azureFileUrl\";i:2;s:11:\"credentials\";i:3;s:17:\"relativeMountPath\";}}s:27:\"AzureStorageCredentialsInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Credentials
  to access Azure File Share.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"accountKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"One
  of accountKey or accountKeySecretReference must be specified.\";s:5:\"title\";s:20:\"Storage
  account key.\";s:4:\"type\";s:6:\"string\";}s:25:\"accountKeySecretReference\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/KeyVaultSecretReference\";s:11:\"description\";s:177:\"Users
  can store their secrets in Azure KeyVault and pass it to the Batch AI Service to
  integrate with KeyVault. One of accountKey or accountKeySecretReference must be
  specified.\";s:5:\"title\";s:79:\"Specifies the location of the storage account
  key, which is a Key Vault Secret.\";}}}s:12:\"BatchAIError\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"An
  error response from the Batch AI service.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"An
  identifier for the error. Codes are invariant and are intended to be consumed programmatically.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  list of additional details about the error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/NameValuePair\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"A
  message describing the error, intended to be suitable for display in a user interface.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"CNTKsettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Specifies
  the settings for CNTK (aka Microsoft Cognitive Toolkit) job.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"commandLineArgs\";O:8:\"stdClass\":2:{s:5:\"title\";s:80:\"Command
  line arguments that needs to be passed to the python script or CNTK.exe.\";s:4:\"type\";s:6:\"string\";}s:14:\"configFilePath\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"This
  property can be specified only if the languageType is 'BrainScript'.\";s:5:\"title\";s:38:\"Specifies
  the path of the config file.\";s:4:\"type\";s:6:\"string\";}s:12:\"languageType\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Valid
  values are 'BrainScript' or 'Python'.\";s:5:\"title\";s:92:\"Specifies the language
  type to use for launching CNTK (aka Microsoft Cognitive Toolkit) job.\";s:4:\"type\";s:6:\"string\";}s:12:\"processCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"The
  default value for this property is equal to nodeCount property\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:60:\"Number
  of processes parameter that is passed to MPI runtime.\";s:4:\"type\";s:7:\"integer\";}s:21:\"pythonInterpreterPath\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"This
  property can be specified only if the languageType is 'Python'.\";s:5:\"title\";s:31:\"The
  path to python interpreter.\";s:4:\"type\";s:6:\"string\";}s:20:\"pythonScriptFilePath\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"This
  property can be specified only if the languageType is 'Python'.\";s:5:\"title\";s:63:\"The
  path and file name of the python script to execute the job.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"Caffe2Settings\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Specifies
  the settings for Caffe2 job.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"commandLineArgs\";O:8:\"stdClass\":2:{s:5:\"title\";s:67:\"Command
  line arguments that needs to be passed to the python script\";s:4:\"type\";s:6:\"string\";}s:21:\"pythonInterpreterPath\";O:8:\"stdClass\":2:{s:5:\"title\";s:31:\"The
  path to python interpreter.\";s:4:\"type\";s:6:\"string\";}s:20:\"pythonScriptFilePath\";O:8:\"stdClass\":2:{s:5:\"title\";s:63:\"The
  path and file name of the python script to execute the job.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:20:\"pythonScriptFilePath\";}}s:13:\"CaffeSettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Specifies
  the settings for Caffe job.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"commandLineArgs\";O:8:\"stdClass\":2:{s:5:\"title\";s:64:\"Command
  line arguments that needs to be passed to the Caffe job.\";s:4:\"type\";s:6:\"string\";}s:14:\"configFilePath\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"This
  property cannot be specified if pythonScriptFilePath is specified.\";s:5:\"title\";s:38:\"Specifies
  the path of the config file.\";s:4:\"type\";s:6:\"string\";}s:12:\"processCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"The
  default value for this property is equal to nodeCount property\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:60:\"Number
  of processes parameter that is passed to MPI runtime.\";s:4:\"type\";s:7:\"integer\";}s:21:\"pythonInterpreterPath\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"This
  property can be specified only if the pythonScriptFilePath is specified.\";s:5:\"title\";s:31:\"The
  path to python interpreter.\";s:4:\"type\";s:6:\"string\";}s:20:\"pythonScriptFilePath\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"This
  property cannot be specified if configFilePath is specified.\";s:5:\"title\";s:63:\"The
  path and file name of the python script to execute the job.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"ChainerSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Specifies
  the settings for Chainer job.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"commandLineArgs\";O:8:\"stdClass\":2:{s:5:\"title\";s:67:\"Command
  line arguments that needs to be passed to the python script\";s:4:\"type\";s:6:\"string\";}s:12:\"processCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"The
  default value for this property is equal to nodeCount property\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:60:\"Number
  of processes parameter that is passed to MPI runtime.\";s:4:\"type\";s:7:\"integer\";}s:21:\"pythonInterpreterPath\";O:8:\"stdClass\":2:{s:5:\"title\";s:31:\"The
  path to python interpreter.\";s:4:\"type\";s:6:\"string\";}s:20:\"pythonScriptFilePath\";O:8:\"stdClass\":2:{s:5:\"title\";s:63:\"The
  path and file name of the python script to execute the job.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:20:\"pythonScriptFilePath\";}}s:10:\"CloudError\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"An
  error response from the Batch AI service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CloudErrorBody\";s:11:\"description\";s:44:\"An
  error response from the Batch AI service.\";}}s:13:\"x-ms-external\";b:1;}s:14:\"CloudErrorBody\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"An
  error response from the Batch AI service.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"An
  identifier for the error. Codes are invariant and are intended to be consumed programmatically.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  list of additional details about the error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CloudErrorBody\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"A
  message describing the error, intended to be suitable for display in a user interface.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  target of the particular error. For example, the name of the property in error.\";s:4:\"type\";s:6:\"string\";}}s:13:\"x-ms-external\";b:1;}s:7:\"Cluster\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:37:\"Contains
  information about a Cluster.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ClusterProperties\";s:11:\"description\";s:43:\"The
  properties associated with the Cluster.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:21:\"ClusterBaseProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  properties of a Cluster.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"nodeSetup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NodeSetup\";s:5:\"title\";s:53:\"Setup
  to be done on all compute nodes in the cluster.\";}s:13:\"scaleSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ScaleSettings\";s:5:\"title\";s:30:\"Desired
  scale for the cluster.\";}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:5:\"title\";s:40:\"Specifies
  the identifier of the subnet. \";}s:19:\"userAccountSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/UserAccountSettings\";s:5:\"title\";s:83:\"Settings
  for user account that will be created on all compute nodes of the cluster.\";}s:27:\"virtualMachineConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/VirtualMachineConfiguration\";s:5:\"title\";s:47:\"Settings
  for OS image and mounted data volumes.\";}s:10:\"vmPriority\";O:8:\"stdClass\":6:{s:7:\"default\";s:9:\"dedicated\";s:11:\"description\";s:21:\"Default
  is dedicated.\";s:4:\"enum\";a:2:{i:0;s:9:\"dedicated\";i:1;s:11:\"lowpriority\";}s:5:\"title\";s:25:\"dedicated
  or lowpriority.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:10:\"VmPriority\";}}s:6:\"vmSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:387:\"All
  virtual machines in a cluster are the same size. For information about available
  VM sizes for clusters using images from the Virtual Machines Marketplace (see Sizes
  for Virtual Machines (Linux) or Sizes for Virtual Machines (Windows). Batch AI service
  supports all Azure VM sizes except STANDARD_A0 and those with premium storage (STANDARD_GS,
  STANDARD_DS, and STANDARD_DSV2 series).\";s:5:\"title\";s:48:\"The size of the virtual
  machines in the cluster.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:6:\"vmSize\";i:1;s:19:\"userAccountSettings\";}}s:23:\"ClusterCreateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Parameters
  supplied to the Create operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  region in which to create the cluster.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/ClusterBaseProperties\";s:11:\"description\";s:30:\"The
  properties of the Cluster.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:52:\"The
  user specified tags associated with the Cluster.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}}s:17:\"ClusterListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Values
  returned by the List Clusters operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  continuation token.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  collection of returned Clusters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"ClusterProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Job
  specific properties.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:15:\"allocationState\";O:8:\"stdClass\":6:{s:11:\"description\";s:448:\"Possible
  values are: steady and resizing. steady state indicates that the cluster is not
  resizing. There are no changes to the number of compute nodes in the cluster in
  progress. A cluster enters this state when it is created and when no operations
  are being performed on the cluster to change the number of compute nodes. resizing
  state indicates that the cluster is resizing; that is, compute nodes are being added
  to or removed from the cluster.\";s:4:\"enum\";a:2:{i:0;s:6:\"steady\";i:1;s:8:\"resizing\";}s:8:\"readOnly\";b:1;s:5:\"title\";s:42:\"Indicates
  whether the cluster is resizing.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:15:\"AllocationState\";}}s:29:\"allocationStateTransitionTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:5:\"title\";s:67:\"The
  time at which the cluster entered its current allocation state.\";s:4:\"type\";s:6:\"string\";}s:12:\"creationTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:5:\"title\";s:33:\"The
  creation time of the cluster.\";s:4:\"type\";s:6:\"string\";}s:16:\"currentNodeCount\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:5:\"title\";s:62:\"The
  number of compute nodes currently assigned to the cluster.\";s:4:\"type\";s:7:\"integer\";}s:6:\"errors\";O:8:\"stdClass\":4:{s:11:\"description\";s:92:\"This
  element contains all the errors encountered by various compute nodes during node
  setup.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BatchAIError\";}s:5:\"title\";s:86:\"Contains
  details of various errors on the cluster including resize and node setup task\";s:4:\"type\";s:5:\"array\";}s:9:\"nodeSetup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NodeSetup\";s:5:\"title\";s:53:\"Setup
  to be done on all compute nodes in the Cluster.\";}s:15:\"nodeStateCounts\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:29:\"#/definitions/NodeStateCounts\";s:8:\"readOnly\";b:1;s:5:\"title\";s:45:\"Counts
  of various node states on the cluster.\";}s:17:\"provisioningState\";O:8:\"stdClass\":7:{s:11:\"description\";s:258:\"Possible
  value are: creating - Specifies that the cluster is being created. succeeded - Specifies
  that the cluster has been created successfully. failed - Specifies that the cluster
  creation has failed. deleting - Specifies that the cluster is being deleted.\";s:4:\"enum\";a:4:{i:0;s:8:\"creating\";i:1;s:9:\"succeeded\";i:2;s:6:\"failed\";i:3;s:8:\"deleting\";}s:8:\"readOnly\";b:1;s:5:\"title\";s:48:\"Specifies
  the provisioning state of the cluster.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"ProvisioningState\";}s:10:\"x-nullable\";b:0;}s:31:\"provisioningStateTransitionTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:5:\"title\";s:54:\"The
  provisioning state transition time of the cluster.\";s:4:\"type\";s:6:\"string\";}s:13:\"scaleSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ScaleSettings\";s:5:\"title\";s:30:\"Desired
  scale for the Cluster.\";}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:5:\"title\";s:39:\"Specifies
  the identifier of the subnet.\";}s:19:\"userAccountSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/UserAccountSettings\";s:5:\"title\";s:43:\"Settings
  for user account of compute nodes.\";}s:27:\"virtualMachineConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/VirtualMachineConfiguration\";s:5:\"title\";s:47:\"Settings
  for OS image and mounted data volumes.\";}s:10:\"vmPriority\";O:8:\"stdClass\":6:{s:7:\"default\";s:9:\"dedicated\";s:11:\"description\";s:186:\"The
  default value is dedicated. The node can get preempted while the task is running
  if lowpriority is choosen. This is best suited if the workload is checkpointing
  and can be restarted.\";s:4:\"enum\";a:2:{i:0;s:9:\"dedicated\";i:1;s:11:\"lowpriority\";}s:5:\"title\";s:25:\"dedicated
  or lowpriority.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:10:\"VmPriority\";}}s:6:\"vmSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:387:\"All
  virtual machines in a cluster are the same size. For information about available
  VM sizes for clusters using images from the Virtual Machines Marketplace (see Sizes
  for Virtual Machines (Linux) or Sizes for Virtual Machines (Windows). Batch AI service
  supports all Azure VM sizes except STANDARD_A0 and those with premium storage (STANDARD_GS,
  STANDARD_DS, and STANDARD_DSV2 series).\";s:5:\"title\";s:48:\"The size of the virtual
  machines in the cluster.\";s:4:\"type\";s:6:\"string\";}}}s:23:\"ClusterUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Parameters
  supplied to the Update operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/ClusterUpdateProperties\";s:11:\"description\";s:30:\"The
  properties of the Cluster.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:52:\"The
  user specified tags associated with the Cluster.\";s:4:\"type\";s:6:\"object\";}}}s:23:\"ClusterUpdateProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  properties of a Cluster that need to be updated.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"scaleSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ScaleSettings\";s:5:\"title\";s:29:\"Desired
  scale for the cluster\";}}}s:17:\"ContainerSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Settings
  for the container to be downloaded.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"imageSourceRegistry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ImageSourceRegistry\";s:5:\"title\";s:40:\"Registry
  to download the container from.\";}}s:8:\"required\";a:1:{i:0;s:19:\"imageSourceRegistry\";}}s:21:\"CustomToolkitSettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Specifies
  the settings for a custom tool kit job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"commandLine\";O:8:\"stdClass\":2:{s:5:\"title\";s:51:\"The
  command line to execute the custom toolkit Job.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"DataDisks\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Settings
  for the data disk which would be created for the File Server.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"cachingType\";O:8:\"stdClass\":6:{s:7:\"default\";s:4:\"none\";s:4:\"enum\";a:3:{i:0;s:4:\"none\";i:1;s:8:\"readonly\";i:2;s:9:\"readwrite\";}s:8:\"readOnly\";b:1;s:5:\"title\";s:81:\"None,
  ReadOnly, ReadWrite. Default value is None. This property is not patchable.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:11:\"CachingType\";}}s:9:\"diskCount\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:5:\"title\";s:106:\"Number
  of data disks to be attached to the VM. RAID level 0 will be applied in the case
  of multiple disks.\";s:4:\"type\";s:7:\"integer\";}s:12:\"diskSizeInGB\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:5:\"title\";s:104:\"Initial
  disk size in GB for blank data disks, and the new desired size for resizing existing
  data disks.\";s:4:\"type\";s:7:\"integer\";}s:18:\"storageAccountType\";O:8:\"stdClass\":5:{s:4:\"enum\";a:2:{i:0;s:12:\"Standard_LRS\";i:1;s:11:\"Premium_LRS\";}s:8:\"readOnly\";b:0;s:5:\"title\";s:111:\"Specifies
  the type of storage account to be used on the disk. Possible values are: Standard_LRS
  or Premium_LRS.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"StorageAccountType\";}}}s:8:\"required\";a:3:{i:0;s:12:\"diskSizeInGB\";i:1;s:9:\"diskCount\";i:2;s:18:\"storageAccountType\";}}s:18:\"DeallocationOption\";O:8:\"stdClass\":6:{s:7:\"default\";s:7:\"requeue\";s:11:\"description\";s:454:\"Possible
  values are: requeue - Terminate running jobs and requeue them. The jobs will run
  again. Remove compute nodes as soon as jobs have been terminated. terminate - Terminate
  running jobs. The jobs will not run again. Remove compute nodes as soon as jobs
  have been terminated. jobcompletion - Allow currently running jobs to complete.
  Schedule no new jobs while waiting. Remove compute nodes when all jobs have completed.
  The default value is requeue.\";s:4:\"enum\";a:4:{i:0;s:7:\"requeue\";i:1;s:9:\"terminate\";i:2;s:20:\"waitforjobcompletion\";i:3;s:7:\"unknown\";}s:5:\"title\";s:96:\"Specifies
  when compute nodes may be removed from the cluster, if the cluster size is decreasing.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"DeallocationOption\";}}s:18:\"EnvironmentSetting\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  collection of environment variables to set.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:5:\"title\";s:37:\"The
  name of the environment variable.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"title\";s:38:\"The
  value of the environment variable.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:4:\"File\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Properties
  of the file.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"downloadUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:278:\"This
  will be returned only if the model has been archived. During job run, this won't
  be returned and customers can use SSH tunneling to download. Users can use Get Remote
  Login Information API to get the IP address and port information of all the compute
  nodes running the job.\";s:5:\"title\";s:90:\"file downloand url, example: https://mystg.blob.core.windows.net/mycontainer/myModel_1.dnn\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"file
  name\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/FileProperties\";s:11:\"description\";s:40:\"The
  properties associated with the file.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:11:\"downloadUrl\";}}s:14:\"FileListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Values
  returned by the List operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  continuation token.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"The
  collection of returned job files.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/File\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:14:\"FileProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"File
  specific properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"contentLength\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"The
  file size.\";s:6:\"format\";s:5:\"int64\";s:5:\"title\";s:14:\"The file size.\";s:4:\"type\";s:7:\"integer\";}s:12:\"lastModified\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  time at which the file was last modified.\";s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:45:\"The
  time at which the file was last modified.\";s:4:\"type\";s:6:\"string\";}}}s:10:\"FileServer\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:43:\"Contains
  information about the File Server.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:34:\"#/definitions/FileServerProperties\";s:11:\"description\";s:47:\"The
  properties associated with the File Server.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:24:\"FileServerBaseProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  properties of a file server.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"dataDisks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DataDisks\";s:5:\"title\";s:70:\"Settings
  for the data disk which would be created for the file server.\";}s:16:\"sshConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SshConfiguration\";s:5:\"title\";s:33:\"SSH
  settings for the file server.\";}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:5:\"title\";s:39:\"Specifies
  the identifier of the subnet.\";}s:6:\"vmSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"For
  information about available VM sizes for fileservers from the Virtual Machines Marketplace,
  see Sizes for Virtual Machines (Linux).\";s:5:\"title\";s:51:\"The size of the virtual
  machine of the file server.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:6:\"vmSize\";i:1;s:16:\"sshConfiguration\";i:2;s:9:\"dataDisks\";}}s:26:\"FileServerCreateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Parameters
  supplied to the Create operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  region in which to create the File Server.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:38:\"#/definitions/FileServerBaseProperties\";s:11:\"description\";s:34:\"The
  properties of the File Server.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:56:\"The
  user specified tags associated with the File Server.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}}s:20:\"FileServerListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Values
  returned by the List operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  continuation token.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  collection of File Servers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FileServer\";}s:4:\"type\";s:5:\"array\";}}}s:20:\"FileServerProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"File
  server specific properties.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"creationTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:5:\"title\";s:37:\"Time
  when the FileServer was created.\";s:4:\"type\";s:6:\"string\";}s:9:\"dataDisks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DataDisks\";s:5:\"title\";s:70:\"Settings
  for the data disk which would be created for the File Server.\";}s:13:\"mountSettings\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/MountSettings\";s:8:\"readOnly\";b:1;s:5:\"title\";s:27:\"Details
  of the File Server.\";}s:17:\"provisioningState\";O:8:\"stdClass\":7:{s:11:\"description\";s:446:\"Possible
  values: creating - The File Server is getting created. updating - The File Server
  creation has been accepted and it is getting updated. deleting - The user has requested
  that the File Server be deleted, and it is in the process of being deleted. failed
  - The File Server creation has failed with the specified errorCode. Details about
  the error code are specified in the message field. succeeded - The File Server creation
  has succeeded.\";s:4:\"enum\";a:5:{i:0;s:8:\"creating\";i:1;s:8:\"updating\";i:2;s:8:\"deleting\";i:3;s:9:\"succeeded\";i:4;s:6:\"failed\";}s:8:\"readOnly\";b:1;s:5:\"title\";s:52:\"Specifies
  the provisioning state of the File Server.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:27:\"FileServerProvisioningState\";}s:10:\"x-nullable\";b:0;}s:31:\"provisioningStateTransitionTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:5:\"title\";s:33:\"Time
  when the status was changed.\";s:4:\"type\";s:6:\"string\";}s:16:\"sshConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SshConfiguration\";s:5:\"title\";s:33:\"SSH
  settings for the File Server.\";}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:5:\"title\";s:39:\"Specifies
  the identifier of the subnet.\";}s:6:\"vmSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"For
  information about available VM sizes for File Server from the Virtual Machines Marketplace,
  see Sizes for Virtual Machines (Linux).\";s:5:\"title\";s:51:\"The size of the virtual
  machine of the File Server.\";s:4:\"type\";s:6:\"string\";}}}s:19:\"FileServerReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"Provides
  required information, for the service to be able to mount Azure FileShare on the
  cluster nodes.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"fileServer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:5:\"title\";s:38:\"Reference
  to the file server resource.\";}s:12:\"mountOptions\";O:8:\"stdClass\":2:{s:5:\"title\";s:44:\"Specifies
  the mount options for File Server.\";s:4:\"type\";s:6:\"string\";}s:17:\"relativeMountPath\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Note
  that all file shares will be mounted under $AZ_BATCHAI_MOUNT_ROOT location.\";s:5:\"title\";s:86:\"Specifies
  the relative path on the compute node where the File Server will be mounted.\";s:4:\"type\";s:6:\"string\";}s:15:\"sourceDirectory\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"If
  this property is not specified, the entire File Server will be mounted.\";s:5:\"title\";s:71:\"Specifies
  the source directory in File Server that needs to be mounted.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"fileServer\";i:1;s:17:\"relativeMountPath\";}}s:14:\"ImageReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  image reference.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"offer\";O:8:\"stdClass\":2:{s:5:\"title\";s:19:\"Offer
  of the image.\";s:4:\"type\";s:6:\"string\";}s:9:\"publisher\";O:8:\"stdClass\":2:{s:5:\"title\";s:23:\"Publisher
  of the image.\";s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:5:\"title\";s:17:\"SKU
  of the image.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:5:\"title\";s:20:\"Version
  of the image\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:9:\"publisher\";i:1;s:5:\"offer\";i:2;s:3:\"sku\";}}s:19:\"ImageSourceRegistry\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Details
  of the container image such as name, URL and credentials.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"credentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/PrivateRegistryCredentials\";s:5:\"title\";s:52:\"Information
  to access the private Docker repository.\";}s:5:\"image\";O:8:\"stdClass\":2:{s:5:\"title\";s:42:\"The
  name of the image in image repository.\";s:4:\"type\";s:6:\"string\";}s:9:\"serverUrl\";O:8:\"stdClass\":2:{s:5:\"title\";s:25:\"URL
  for image repository.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"image\";}}s:14:\"InputDirectory\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Input
  directory for the job.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:317:\"It
  will be available for the job as an environment variable under AZ_BATCHAI_INPUT_id.
  The service will also provide the following  environment variable: AZ_BATCHAI_PREV_OUTPUT_Name.
  The value of the variable will be populated if the job is being retried after a
  previous failure, otherwise it will be set to nothing.\";s:5:\"title\";s:31:\"The
  id for the input directory.\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:5:\"title\";s:32:\"The
  path to the input directory.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"path\";}}s:3:\"Job\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:35:\"Contains
  information about the job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/JobProperties\";s:11:\"description\";s:39:\"The
  properties associated with the job.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:17:\"JobBaseProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  properties of a Batch AI job.\";s:10:\"properties\";O:8:\"stdClass\":17:{s:14:\"caffe2Settings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/Caffe2Settings\";s:5:\"title\";s:38:\"Specifies
  the settings for Caffe2 job.\";}s:13:\"caffeSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CaffeSettings\";s:5:\"title\";s:37:\"Specifies
  the settings for Caffe job.\";}s:15:\"chainerSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ChainerSettings\";s:5:\"title\";s:39:\"Specifies
  the settings for Chainer job.\";}s:7:\"cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:5:\"title\";s:59:\"Specifies
  the Id of the cluster on which this job will run.\";}s:12:\"cntkSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CNTKsettings\";s:5:\"title\";s:70:\"Specifies
  the settings for CNTK (aka Microsoft Cognitive Toolkit) job.\";}s:11:\"constraints\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Constraints
  associated with the Job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"maxWallClockTime\";O:8:\"stdClass\":5:{s:7:\"default\";s:10:\"7.00:00:00\";s:11:\"description\";s:23:\"Default
  Value = 1 week.\";s:6:\"format\";s:8:\"duration\";s:5:\"title\";s:25:\"Max time
  the job can run.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"containerSettings\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ContainerSettings\";s:11:\"description\";s:145:\"If
[...]
