---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2016-10-01\";s:5:\"title\";s:24:\"KeyVaultManagementClient\";s:11:\"description\";s:99:\"The
  Azure management API provides a RESTful set of web services that interact with Azure
  Key Vault.\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}:
    put:
      tags:
      - Vaults
      operationId: Vaults_CreateOrUpdate
      description: Create or update a key vault in the specified subscription.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the Resource Group to which the server belongs.
      - name: vaultName
        in: path
        required: true
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
        description: Name of the vault
      - $ref: '#/parameters/ApiVersionParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/VaultCreateOrUpdateParameters'
        description: Parameters to create or update the vault
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        201:
          description: Created or updated vault
          schema:
            $ref: '#/definitions/Vault'
        200:
          description: Created or updated vault
          schema:
            $ref: '#/definitions/Vault'
      x-ms-examples:
        Create a new vault or update an existing vault:
          $ref: ./examples//createVault.json
      produces:
      - application/json
      consumes:
      - application/json
    patch:
      tags:
      - Vaults
      operationId: Vaults_Update
      description: Update a key vault in the specified subscription.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the Resource Group to which the server belongs.
      - name: vaultName
        in: path
        required: true
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
        description: Name of the vault
      - $ref: '#/parameters/ApiVersionParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/VaultPatchParameters'
        description: Parameters to patch the vault
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        201:
          description: Patched vault
          schema:
            $ref: '#/definitions/Vault'
        200:
          description: Patched vault
          schema:
            $ref: '#/definitions/Vault'
      x-ms-examples:
        Update an existing vault:
          $ref: ./examples//updateVault.json
      produces:
      - application/json
      consumes:
      - application/json
    delete:
      tags:
      - Vaults
      operationId: Vaults_Delete
      description: Deletes the specified Azure key vault.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the Resource Group to which the vault belongs.
      - name: vaultName
        in: path
        required: true
        type: string
        description: The name of the vault to delete
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK Response.
      x-ms-examples:
        Delete a vault:
          $ref: ./examples//deleteVault.json
      produces:
      - application/json
      consumes:
      - application/json
    get:
      tags:
      - Vaults
      operationId: Vaults_Get
      description: Gets the specified Azure key vault.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the Resource Group to which the vault belongs.
      - name: vaultName
        in: path
        required: true
        type: string
        description: The name of the vault.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Retrieved vault
          schema:
            $ref: '#/definitions/Vault'
      x-ms-examples:
        Retrieve a vault:
          $ref: ./examples//getVault.json
      produces:
      - application/json
      consumes:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/accessPolicies/{operationKind}
  : put:
      tags:
      - Vaults
      operationId: Vaults_UpdateAccessPolicy
      description: Update access policies in a key vault in the specified subscription.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the Resource Group to which the vault belongs.
      - name: vaultName
        in: path
        required: true
        type: string
        pattern: ^[a-zA-Z0-9-]{3,24}$
        description: Name of the vault
      - name: operationKind
        in: path
        required: true
        type: string
        enum:
        - add
        - replace
        - remove
        x-ms-enum:
          name: AccessPolicyUpdateKind
          modelAsString: false
        description: Name of the operation
      - $ref: '#/parameters/ApiVersionParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/VaultAccessPolicyParameters'
        description: Access policy to merge into the vault
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        201:
          description: The updated access policies
          schema:
            $ref: '#/definitions/VaultAccessPolicyParameters'
        200:
          description: The updated access policies
          schema:
            $ref: '#/definitions/VaultAccessPolicyParameters'
      x-ms-examples:
        Add an access policy, or update an access policy with new permissions:
          $ref: ./examples//updateAccessPoliciesAdd.json
      produces:
      - application/json
      consumes:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults:
    get:
      tags:
      - Vaults
      operationId: Vaults_ListByResourceGroup
      description: The List operation gets information about the vaults associated
        with the subscription and within the specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the Resource Group to which the vault belongs.
      - name: $top
        in: query
        type: integer
        format: int32
        description: Maximum number of results to return.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Get information about all key vaults in the specified resource
            group.
          schema:
            $ref: '#/definitions/VaultListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List vaults in the specified resource group:
          $ref: ./examples//listVaultByResourceGroup.json
      produces:
      - application/json
      consumes:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/vaults:
    get:
      tags:
      - Vaults
      operationId: Vaults_ListBySubscription
      description: The List operation gets information about the vaults associated
        with the subscription.
      parameters:
      - name: $top
        in: query
        type: integer
        format: int32
        description: Maximum number of results to return.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Get information about all key vaults in the specified subscription.
          schema:
            $ref: '#/definitions/VaultListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List vaults in the specified subscription:
          $ref: ./examples//listVaultBySubscription.json
      produces:
      - application/json
      consumes:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/deletedVaults:
    get:
      tags:
      - Vaults
      operationId: Vaults_ListDeleted
      description: Gets information about the deleted vaults in a subscription.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Retrieved information about all deleted key vaults in a subscription.
          schema:
            $ref: '#/definitions/DeletedVaultListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List deleted vaults in the specified subscription:
          $ref: ./examples//listDeletedVaults.json
      produces:
      - application/json
      consumes:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/locations/{location}/deletedVaults/{vaultName}:
    get:
      tags:
      - Vaults
      operationId: Vaults_GetDeleted
      description: Gets the deleted Azure key vault.
      parameters:
      - name: vaultName
        in: path
        required: true
        type: string
        description: The name of the vault.
      - name: location
        in: path
        required: true
        type: string
        description: The location of the deleted vault.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Retrieved information about the deleted vault.
          schema:
            $ref: '#/definitions/DeletedVault'
      x-ms-examples:
        Retrieve a deleted vault:
          $ref: ./examples//getDeletedVault.json
      produces:
      - application/json
      consumes:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/locations/{location}/deletedVaults/{vaultName}/purge:
    post:
      tags:
      - Vaults
      operationId: Vaults_PurgeDeleted
      x-ms-long-running-operation: true
      description: Permanently deletes the specified vault. aka Purges the deleted
        Azure key vault.
      parameters:
      - name: vaultName
        in: path
        required: true
        type: string
        description: The name of the soft-deleted vault.
      - name: location
        in: path
        required: true
        type: string
        description: The location of the soft-deleted vault.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The vault is purged.
        202:
          description: Vault is being purged.
      x-ms-examples:
        Purge a deleted vault:
          $ref: ./examples//purgeDeletedVault.json
      produces:
      - application/json
      consumes:
      - application/json
  /subscriptions/{subscriptionId}/resources:
    get:
      tags:
      - Vaults
      operationId: Vaults_List
      description: The List operation gets information about the vaults associated
        with the subscription.
      parameters:
      - name: $filter
        in: query
        required: true
        type: string
        enum:
        - resourceType eq 'Microsoft.KeyVault/vaults'
        description: The filter to apply on the operation.
      - name: $top
        in: query
        type: integer
        format: int32
        description: Maximum number of results to return.
      - name: api-version
        in: query
        required: true
        type: string
        enum:
        - "2015-11-01"
        description: Azure Resource Manager Api Version.
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Get information about all key vaults in the subscription.
          schema:
            $ref: '#/definitions/ResourceListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List vaults in the specified subscription:
          $ref: ./examples//listVault.json
      produces:
      - application/json
      consumes:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/checkNameAvailability:
    post:
      tags:
      - Vaults
      operationId: Vaults_CheckNameAvailability
      description: Checks that the vault name is valid and is not already in use.
      parameters:
      - name: vaultName
        in: body
        required: true
        schema:
          $ref: '#/definitions/VaultCheckNameAvailabilityParameters'
        description: The name of the vault.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK -- Operation to check the vault name availability was successful.
          schema:
            $ref: '#/definitions/CheckNameAvailabilityResult'
      x-ms-examples:
        Validate a vault name:
          $ref: ./examples//checkVaultNameAvailability.json
      produces:
      - application/json
      consumes:
      - application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":18:{s:3:\"Sku\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"family\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"SKU
  family name\";s:4:\"enum\";a:1:{i:0;s:1:\"A\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"SkuFamily\";s:13:\"modelAsString\";b:1;}}s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"SKU
  name to specify whether the key vault is a standard vault or a premium vault.\";s:4:\"enum\";a:2:{i:0;s:8:\"standard\";i:1;s:7:\"premium\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"SkuName\";s:13:\"modelAsString\";b:0;}}}s:11:\"description\";s:11:\"SKU
  details\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:6:\"family\";}}s:17:\"AccessPolicyEntry\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"tenantId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:102:\"The
  Azure Active Directory tenant ID that should be used for authenticating requests
  to the key vault.\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:174:\"The
  object ID of a user, service principal or security group in the Azure Active Directory
  tenant for the vault. The object ID must be unique for the list of access policies.\";}s:13:\"applicationId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:69:\"
  Application ID of the client making request on behalf of a principal\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Permissions\";s:11:\"description\";s:64:\"Permissions
  the identity has for keys, secrets and certificates.\";}}s:11:\"description\";s:132:\"An
  identity that have access to the key vault. All identities in the array must use
  the same tenant ID as the key vault's tenant ID.\";s:8:\"required\";a:3:{i:0;s:8:\"tenantId\";i:1;s:8:\"objectId\";i:2;s:11:\"permissions\";}}s:11:\"Permissions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"keys\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:16:{i:0;s:7:\"encrypt\";i:1;s:7:\"decrypt\";i:2;s:7:\"wrapKey\";i:3;s:9:\"unwrapKey\";i:4;s:4:\"sign\";i:5;s:6:\"verify\";i:6;s:3:\"get\";i:7;s:4:\"list\";i:8;s:6:\"create\";i:9;s:6:\"update\";i:10;s:6:\"import\";i:11;s:6:\"delete\";i:12;s:6:\"backup\";i:13;s:7:\"restore\";i:14;s:7:\"recover\";i:15;s:5:\"purge\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"KeyPermissions\";s:13:\"modelAsString\";b:1;}}s:11:\"description\";s:19:\"Permissions
  to keys\";}s:7:\"secrets\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:3:\"get\";i:1;s:4:\"list\";i:2;s:3:\"set\";i:3;s:6:\"delete\";i:4;s:6:\"backup\";i:5;s:7:\"restore\";i:6;s:7:\"recover\";i:7;s:5:\"purge\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"SecretPermissions\";s:13:\"modelAsString\";b:1;}}s:11:\"description\";s:22:\"Permissions
  to secrets\";}s:12:\"certificates\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:14:{i:0;s:3:\"get\";i:1;s:4:\"list\";i:2;s:6:\"delete\";i:3;s:6:\"create\";i:4;s:6:\"import\";i:5;s:6:\"update\";i:6;s:14:\"managecontacts\";i:7;s:10:\"getissuers\";i:8;s:11:\"listissuers\";i:9;s:10:\"setissuers\";i:10;s:13:\"deleteissuers\";i:11;s:13:\"manageissuers\";i:12;s:7:\"recover\";i:13;s:5:\"purge\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"CertificatePermissions\";s:13:\"modelAsString\";b:1;}}s:11:\"description\";s:27:\"Permissions
  to certificates\";}s:7:\"storage\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:14:{i:0;s:3:\"get\";i:1;s:4:\"list\";i:2;s:6:\"delete\";i:3;s:3:\"set\";i:4;s:6:\"update\";i:5;s:13:\"regeneratekey\";i:6;s:7:\"recover\";i:7;s:5:\"purge\";i:8;s:6:\"backup\";i:9;s:7:\"restore\";i:10;s:6:\"setsas\";i:11;s:7:\"listsas\";i:12;s:6:\"getsas\";i:13;s:9:\"deletesas\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"StoragePermissions\";s:13:\"modelAsString\";b:1;}}s:11:\"description\";s:31:\"Permissions
  to storage accounts\";}}s:11:\"description\";s:73:\"Permissions the identity has
  for keys, secrets, certificates and storage.\";}s:15:\"VaultProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"tenantId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:102:\"The
  Azure Active Directory tenant ID that should be used for authenticating requests
  to the key vault.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:11:\"SKU
  details\";}s:14:\"accessPolicies\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AccessPolicyEntry\";}s:11:\"description\";s:151:\"An
  array of 0 to 16 identities that have access to the key vault. All identities in
  the array must use the same tenant ID as the key vault's tenant ID.\";}s:8:\"vaultUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  URI of the vault for performing operations on keys and secrets.\";}s:20:\"enabledForDeployment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:127:\"Property
  to specify whether Azure Virtual Machines are permitted to retrieve certificates
  stored as secrets from the key vault.\";}s:24:\"enabledForDiskEncryption\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:114:\"Property
  to specify whether Azure Disk Encryption is permitted to retrieve secrets from the
  vault and unwrap keys.\";}s:28:\"enabledForTemplateDeployment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:103:\"Property
  to specify whether Azure Resource Manager is permitted to retrieve secrets from
  the key vault.\";}s:16:\"enableSoftDelete\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:314:\"Property
  specifying whether recoverable deletion is enabled for this key vault. Setting this
  property to true activates the soft delete feature, whereby vaults or vault entities
  can be recovered after deletion. Enabling this functionality is irreversible - that
  is, the property does not accept false as its value.\";}s:10:\"createMode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"The
  vault's create mode to indicate whether the vault need to be recovered or not.\";s:4:\"enum\";a:2:{i:0;s:7:\"recover\";i:1;s:7:\"default\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"CreateMode\";s:13:\"modelAsString\";b:0;}}s:21:\"enablePurgeProtection\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:415:\"Property
  specifying whether protection against purge is enabled for this vault. Setting this
  property to true activates protection against purge for this vault and its content
  - only the Key Vault service may initiate a hard, irrecoverable deletion. The setting
  is effective only if soft delete is also enabled. Enabling this functionality is
  irreversible - that is, the property does not accept false as its value.\";}}s:8:\"required\";a:2:{i:0;s:8:\"tenantId\";i:1;s:3:\"sku\";}s:11:\"description\";s:23:\"Properties
  of the vault\";}s:20:\"VaultPatchProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"tenantId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:102:\"The
  Azure Active Directory tenant ID that should be used for authenticating requests
  to the key vault.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:11:\"SKU
  details\";}s:14:\"accessPolicies\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AccessPolicyEntry\";}s:11:\"description\";s:151:\"An
  array of 0 to 16 identities that have access to the key vault. All identities in
  the array must use the same tenant ID as the key vault's tenant ID.\";}s:20:\"enabledForDeployment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:127:\"Property
  to specify whether Azure Virtual Machines are permitted to retrieve certificates
  stored as secrets from the key vault.\";}s:24:\"enabledForDiskEncryption\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:114:\"Property
  to specify whether Azure Disk Encryption is permitted to retrieve secrets from the
  vault and unwrap keys.\";}s:28:\"enabledForTemplateDeployment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:103:\"Property
  to specify whether Azure Resource Manager is permitted to retrieve secrets from
  the key vault.\";}s:16:\"enableSoftDelete\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:133:\"Property
  specifying whether recoverable deletion ('soft' delete) is enabled for this key
  vault. The property may not be set to false.\";}s:10:\"createMode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"The
  vault's create mode to indicate whether the vault need to be recovered or not.\";s:4:\"enum\";a:2:{i:0;s:7:\"recover\";i:1;s:7:\"default\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"CreateMode\";s:13:\"modelAsString\";b:0;}}s:21:\"enablePurgeProtection\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:194:\"Property
  specifying whether protection against purge is enabled for this vault; it is only
  effective if soft delete is also enabled. Once activated, the property may no longer
  be reset to false.\";}}s:11:\"description\";s:23:\"Properties of the vault\";}s:27:\"VaultAccessPolicyProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"accessPolicies\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AccessPolicyEntry\";}s:11:\"description\";s:151:\"An
  array of 0 to 16 identities that have access to the key vault. All identities in
  the array must use the same tenant ID as the key vault's tenant ID.\";}}s:8:\"required\";a:1:{i:0;s:14:\"accessPolicies\";}s:11:\"description\";s:37:\"Properties
  of the vault access policy\";}s:22:\"DeletedVaultProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"vaultId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  resource id of the original vault.\";}s:8:\"location\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  location of the original vault.\";}s:12:\"deletionDate\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:17:\"The
  deleted date.\";}s:18:\"scheduledPurgeDate\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:26:\"The
  scheduled purged date.\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:27:\"Tags
  of the original vault.\";}}s:11:\"description\";s:32:\"Properties of the deleted
  vault.\";}s:29:\"VaultCreateOrUpdateParameters\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  supported Azure location where the key vault should be created.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:48:\"The
  tags that will be assigned to the key vault.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VaultProperties\";s:11:\"description\";s:23:\"Properties
  of the vault\";}}s:11:\"description\";s:43:\"Parameters for creating or updating
  a vault\";s:8:\"required\";a:2:{i:0;s:8:\"location\";i:1;s:10:\"properties\";}s:19:\"x-ms-azure-resource\";b:1;}s:20:\"VaultPatchParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:49:\"The
  tags that will be assigned to the key vault. \";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/VaultPatchProperties\";s:11:\"description\";s:23:\"Properties
  of the vault\";}}s:11:\"description\";s:43:\"Parameters for creating or updating
  a vault\";s:19:\"x-ms-azure-resource\";b:1;}s:27:\"VaultAccessPolicyParameters\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  resource id of the access policy.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  resource name of the access policy.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  resource name of the access policy.\";}s:8:\"location\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  resource type of the access policy.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/VaultAccessPolicyProperties\";s:11:\"description\";s:31:\"Properties
  of the access policy\";}}s:11:\"description\";s:52:\"Parameters for updating the
  access policy in a vault\";s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:19:\"x-ms-azure-resource\";b:1;}s:5:\"Vault\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VaultProperties\";s:11:\"description\";s:23:\"Properties
  of the vault\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:43:\"Resource
  information with extended details.\";}s:12:\"DeletedVault\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  resource ID for the deleted key vault.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  name of the key vault.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  resource type of the key vault.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DeletedVaultProperties\";s:11:\"description\";s:23:\"Properties
  of the vault\";}}s:11:\"description\";s:48:\"Deleted vault information with extended
  details.\";}s:15:\"VaultListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Vault\";}s:11:\"description\";s:19:\"The
  list of vaults.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  URL to get the next set of vaults.\";}}s:11:\"description\";s:14:\"List of vaults\";}s:22:\"DeletedVaultListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DeletedVault\";}s:11:\"description\";s:27:\"The
  list of deleted vaults.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  URL to get the next set of deleted vaults.\";}}s:11:\"description\";s:14:\"List
  of vaults\";}s:18:\"ResourceListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:11:\"description\";s:28:\"The
  list of vault resources.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  URL to get the next set of vault resources.\";}}s:11:\"description\";s:24:\"List
  of vault resources.\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  Azure Resource Manager resource ID for the key vault.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  name of the key vault.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  resource type of the key vault.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  supported Azure location where the key vault should be created.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:49:\"The
  tags that will be assigned to the key vault. \";}}s:11:\"description\";s:18:\"Key
  Vault resource\";s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:36:\"VaultCheckNameAvailabilityParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  vault name.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:25:\"Microsoft.KeyVault/vaults\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"Type\";s:13:\"modelAsString\";b:0;}s:11:\"description\";s:47:\"The
  type of resource, Microsoft.KeyVault/vaults\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}s:11:\"description\";s:64:\"The
  parameters used to check the availability of the vault name.\";}s:27:\"CheckNameAvailabilityResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"nameAvailable\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:184:\"A
  boolean value that indicates whether the name is available for you to use. If true,
  the name is available. If false, the name has already been taken or is invalid and
  cannot be used.\";}s:6:\"reason\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  reason that a vault name could not be used. The Reason element is only returned
  if NameAvailable is false.\";s:4:\"enum\";a:2:{i:0;s:18:\"AccountNameInvalid\";i:1;s:13:\"AlreadyExists\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Reason\";s:13:\"modelAsString\";b:0;}}s:7:\"message\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"An
  error message explaining the Reason value in more detail.\";}}s:11:\"description\";s:45:\"The
  CheckNameAvailability operation response.\";}}"
...
