---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:58:\"Provides read
  functionality for Azure SQL Database Backups\";s:5:\"title\";s:25:\"Azure SQL Database
  Backup\";s:7:\"version\";s:10:\"2014-04-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:153:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/restorePoints.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:0;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:17:\"sql-restorePoints\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/restorePoints
  : get:
      description: Gets a list of database restore points.
      operationId: RestorePoints_ListByDatabase
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the database to get available restore points.
        in: path
        name: databaseName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RestorePointListResult'
      tags:
      - DatabaseBackup
      x-ms-examples:
        Get a data warehouse's restore points:
          parameters:
            api-version: "2014-04-01"
            databaseName: "3481"
            resourceGroupName: sqlcrudtest-6730
            serverName: sqlcrudtest-9007
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/9007/databases/3481/restorepoints/131448209670000000
                  location: West US
                  name: "131448209670000000"
                  properties:
                    earliestRestoreDate: ~
                    restorePointCreationDate: "2017-07-18T03:09:27Z"
                    restorePointType: DISCRETE
                  type: Microsoft.Sql/servers/databases/restorePoints
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/9007/databases/3481/restorepoints/131448353660000000
                  location: West US
                  name: "131448353660000000"
                  properties:
                    earliestRestoreDate: ~
                    restorePointCreationDate: "2017-07-18T07:09:26Z"
                    restorePointType: DISCRETE
                  type: Microsoft.Sql/servers/databases/restorePoints
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/9007/databases/3481/restorepoints/131448497660000000
                  location: West US
                  name: "131448497660000000"
                  properties:
                    earliestRestoreDate: ~
                    restorePointCreationDate: "2017-07-18T11:09:26Z"
                    restorePointType: DISCRETE
                  type: Microsoft.Sql/servers/databases/restorePoints
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/9007/databases/3481/restorepoints/131448641650000000
                  location: West US
                  name: "131448641650000000"
                  properties:
                    earliestRestoreDate: ~
                    restorePointCreationDate: "2017-07-18T15:09:25Z"
                    restorePointType: DISCRETE
                  type: Microsoft.Sql/servers/databases/restorePoints
        Get a database's restore points:
          parameters:
            api-version: "2014-04-01"
            databaseName: "3481"
            resourceGroupName: sqlcrudtest-6730
            serverName: sqlcrudtest-9007
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/sqlcrudtest-9007/databases/3481/restorepoints/ContinuousRestorePoint
                  location: West US
                  name: ContinuousRestorePoint
                  properties:
                    earliestRestoreDate: "2017-06-12T00:00:00Z"
                    restorePointCreationDate: ~
                    restorePointType: CONTINUOUS
                  type: Microsoft.Sql/servers/databases/restorePoints
      x-ms-pageable: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:12:\"RestorePoint\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:19:\"ARM
  proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:25:\"A
  database restore point.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/RestorePointProperties\";s:11:\"description\";s:36:\"The
  properties of the restore point.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:22:\"RestorePointListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  response to a list database restore points request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  list of database restore points.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/RestorePoint\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:22:\"RestorePointProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Represents
  the properties of a database restore point.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"earliestRestoreDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:99:\"Earliest
  restore time (ISO8601 format). Populated when restorePointType = DISCRETE. Null
  otherwise.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:24:\"restorePointCreationDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"Restore
  point creation time (ISO8601 format). Populated when restorePointType = CONTINUOUS.
  Null otherwise.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"restorePointType\";O:8:\"stdClass\":5:{s:11:\"description\";s:53:\"The
  restore point type of the database restore point.\";s:4:\"enum\";a:2:{i:0;s:8:\"DISCRETE\";i:1;s:10:\"CONTINUOUS\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:16:\"RestorePointType\";}}}}}"
...
