---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:376:\"Azure resources
  can be linked together to form logical relationships. You can establish links between
  resources belonging to different resource groups. However, all the linked resources
  must belong to the same subscription. Each resource can be linked to 50 other resources.
  If any of the linked resources are deleted or moved, the link owner must clean up
  the remaining link.\";s:5:\"title\";s:20:\"ManagementLinkClient\";s:7:\"version\";s:10:\"2016-09-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:157:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Resources/stable/2016-09-01/links.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:15:\"resources-links\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Resources/links:
    get:
      description: Gets all the linked resources for the subscription.
      operationId: ResourceLinks_ListAtSubscription
      parameters:
      - description: The filter to apply on the list resource links operation. The
          supported filter for list resource links is targetid. For example, $filter=targetid
          eq {value}
        in: query
        name: $filter
        required: false
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Returns an array of resource links for the subscription.
          schema:
            $ref: '#/definitions/ResourceLinkResult'
      tags:
      - ResourceLinks
      x-ms-odata: '#/definitions/ResourceLinkFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  /{linkId}:
    delete:
      description: Deletes a resource link with the specified ID.
      operationId: ResourceLinks_Delete
      parameters:
      - description: The fully qualified ID of the resource link. Use the format,
          /subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/{provider-namespace}/{resource-type}/{resource-name}/Microsoft.Resources/links/{link-name}.
          For example, /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myGroup/Microsoft.Web/sites/mySite/Microsoft.Resources/links/myLink
        in: path
        name: linkId
        required: true
        type: string
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
        204:
          description: No Content
      tags:
      - ResourceLinks
    get:
      description: Gets a resource link with the specified ID.
      operationId: ResourceLinks_Get
      parameters:
      - description: The fully qualified Id of the resource link. For example, /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myGroup/Microsoft.Web/sites/mySite/Microsoft.Resources/links/myLink
        in: path
        name: linkId
        required: true
        type: string
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK - Returns information about the resource link.
          schema:
            $ref: '#/definitions/ResourceLink'
      tags:
      - ResourceLinks
    put:
      description: Creates or updates a resource link between the specified resources.
      operationId: ResourceLinks_CreateOrUpdate
      parameters:
      - description: The fully qualified ID of the resource link. Use the format,
          /subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/{provider-namespace}/{resource-type}/{resource-name}/Microsoft.Resources/links/{link-name}.
          For example, /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myGroup/Microsoft.Web/sites/mySite/Microsoft.Resources/links/myLink
        in: path
        name: linkId
        required: true
        type: string
        x-ms-skip-url-encoding: true
      - description: Parameters for creating or updating a resource link.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ResourceLink'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK - Returns information about the link.
          schema:
            $ref: '#/definitions/ResourceLink'
        201:
          description: Created - Returns information about the link.
          schema:
            $ref: '#/definitions/ResourceLink'
      tags:
      - ResourceLinks
  /{scope}/providers/Microsoft.Resources/links:
    get:
      description: Gets a list of resource links at and below the specified source
        scope.
      operationId: ResourceLinks_ListAtSourceScope
      parameters:
      - description: The fully qualified ID of the scope for getting the resource
          links. For example, to list resource links at and under a resource group,
          set the scope to /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myGroup.
        in: path
        name: scope
        required: true
        type: string
        x-ms-skip-url-encoding: true
      - description: The filter to apply when getting resource links. To get links
          only at the specified scope (not below the scope), use Filter.atScope().
        enum:
        - atScope()
        in: query
        name: $filter
        required: false
        type: string
        x-ms-enum:
          modelAsString: false
          name: Filter
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK - Returns an array of links at the specified scope.
          schema:
            $ref: '#/definitions/ResourceLinkResult'
      tags:
      - ResourceLinks
      x-ms-odata: '#/definitions/ResourceLinkFilter'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:12:\"ResourceLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  resource link.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  fully qualified ID of the resource link.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  name of the resource link.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceLinkProperties\";s:11:\"description\";s:29:\"Properties
  for resource link.\";}}s:19:\"x-ms-azure-resource\";b:1;}s:18:\"ResourceLinkFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Resource
  link filter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"targetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  ID of the target resource.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"targetId\";}}s:22:\"ResourceLinkProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  resource link properties.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Notes
  about the resource link.\";s:4:\"type\";s:6:\"string\";}s:8:\"sourceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  fully qualified ID of the source resource in the link. \";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"targetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  fully qualified ID of the target resource in the link.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"targetId\";}}s:18:\"ResourceLinkResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"List
  of resource links.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  URL to use for getting the next set of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"An
  array of resource links.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceLink\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}}"
...
