---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:22:\"RecoveryServicesClient\";s:7:\"version\";s:10:\"2016-06-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:177:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2016-06-01/vaultusages.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:28:\"recoveryservices-vaultusages\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/usages
  : get:
      deprecated: false
      description: Fetches the usages of the vault.
      operationId: Usages_ListByVaults
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/VaultUsageList'
      tags:
      - VaultUsages
      x-ms-examples:
        Gets vault usages:
          parameters:
            api-version: "2016-06-01"
            resourceGroupName: Default-RecoveryServices-ResourceGroup
            subscriptionId: 77777777-b0c6-47a2-b37c-d8e65a629c18
            vaultName: swaggerExample
          responses:
            200:
              body:
                value:
                - currentValue: 6
                  limit: -1
                  name:
                    localizedValue: Backup management servers
                    value: MABContainersCount
                  unit: Count
                - currentValue: 3
                  limit: -1
                  name:
                    localizedValue: Backup items/Azure virtual machine backup
                    value: ProtectedItemCount
                  unit: Count
                - currentValue: 0
                  limit: -1
                  name:
                    localizedValue: Critical
                    value: ProtectedItemCriticalCount
                  unit: Count
                - currentValue: 0
                  limit: -1
                  name:
                    localizedValue: Warning
                    value: ProtectedItemWarningCount
                  unit: Count
                - currentValue: 0
                  limit: -1
                  name:
                    localizedValue: Azure Virtual Machines
                    value: IaaSVMProtectedItemCount
                  unit: Count
                - currentValue: 0
                  limit: -1
                  name:
                    localizedValue: Critical
                    value: IaaSVMProtectedItemCriticalCount
                  unit: Count
                - currentValue: 0
                  limit: -1
                  name:
                    localizedValue: Warning
                    value: IaaSVMProtectedItemWarningCount
                  unit: Count
                - currentValue: 0
                  limit: -1
                  name:
                    localizedValue: File-Folders
                    value: MABProtectedItemCount
                  unit: Count
                - currentValue: 1
                  limit: -1
                  name:
                    localizedValue: DPM Protected Items Count
                    value: DPMProtectedItemCount
                  unit: Count
                - currentValue: 2
                  limit: -1
                  name:
                    localizedValue: Azure Backup Server Protected Items Count
                    value: AzureBackupServerProtectedItemCount
                  unit: Count
                - currentValue: 0
                  limit: -1
                  name:
                    localizedValue: In progress
                    value: InProgressJobsCount
                  quotaPeriod: P1D
                  unit: Count
                - currentValue: 0
                  limit: -1
                  name:
                    localizedValue: Failed
                    value: FailedJobsCount
                  quotaPeriod: P1D
                  unit: Count
                - currentValue: 117007930
                  limit: -1
                  name:
                    localizedValue: Cloud - GRS
                    value: GRSStorageUsage
                  unit: Bytes
                - currentValue: 0
                  limit: -1
                  name:
                    localizedValue: Cloud - LRS
                    value: LRSStorageUsage
                  unit: Bytes
                - currentValue: 5
                  limit: -1
                  name:
                    localizedValue: Protected Instances
                    value: ManagedInstances
                  unit: Count
                - currentValue: 0
                  limit: -1
                  name:
                    localizedValue: Dedup - GRS
                    value: GRSDedupStorageUsage
                  unit: Bytes
                - currentValue: 0
                  limit: -1
                  name:
                    localizedValue: Dedup - LRS
                    value: LRSDedupStorageUsage
                  unit: Bytes
                - currentValue: 117851553792
                  limit: -1
                  name:
                    localizedValue: Backup Engines' Disk Used
                    value: UsedDiskSize
                  unit: Bytes
      x-ms-pageable: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:8:\"NameInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  name of usage.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Localized
  value of usage.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Value
  of usage.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"VaultUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Usages
  of a vault.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"currentValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Current
  value of usage.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Limit
  of usage.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/NameInfo\";s:11:\"description\";s:14:\"Name
  of usage.\";}s:13:\"nextResetTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Next
  reset time of usage.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"quotaPeriod\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Quota
  period of usage.\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Unit
  of the usage.\";s:4:\"enum\";a:6:{i:0;s:5:\"Count\";i:1;s:5:\"Bytes\";i:2;s:7:\"Seconds\";i:3;s:7:\"Percent\";i:4;s:14:\"CountPerSecond\";i:5;s:14:\"BytesPerSecond\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"UsagesUnit\";}}}s:4:\"type\";s:6:\"object\";}s:14:\"VaultUsageList\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Usage
  for vault.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  list of usages for the given vault.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/VaultUsage\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
