---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:26:\"Azure Resource Manager
  API\";s:11:\"description\";s:41:\"The Azure Resource Manager management API\";s:7:\"version\";s:10:\"2015-01-01\";}"
host: management.azure.com
paths:
  /providers:
    parameters:
    - name: $expand
      description: 'Expands certain properties of the provider. Supported values are:
        metadata, resourceTypes/aliases'
      in: query
      required: false
      type: string
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Gets the collection of resources providers in the Azure.
      description: Gets the collection of resources providers in the Azure.
      operationId: getResourceProviders
      tags:
      - resourceProvider
      responses:
        200:
          description: A paginated array of the resource providers.
          schema:
            type: object
            properties:
              value:
                description: The collection of resource providers returned.
                type: array
                items:
                  $ref: '#/definitions/resourceProvider'
                readOnly: true
              nextLink:
                description: The URL to get the next set of results.
                type: string
                readOnly: true
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /providers/Microsoft.Resources/checkResourceName:
    parameters:
    - $ref: '#/parameters/apiVersion'
    - name: checkResourceNameParameters
      in: body
      required: true
      schema:
        $ref: '#/definitions/checkResourceNameParameters'
      description: The check resource name request.
    post:
      summary: Checks the validity of a resource name.
      description: Checks the validity of a resource name.
      operationId: checkResourceName
      tags:
      - resource
      responses:
        200:
          description: The resource name check was completed - the 'status' property
            will contain information about whether the name checked is allowed or
            not.
          schema:
            $ref: '#/definitions/checkResourceNameResponse'
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /providers/{resourceProviderNamespace}:
    parameters:
    - $ref: '#/parameters/resourceProviderNamespace'
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Finds a resource provider with the namespace specified.
      description: Finds a resource provider with the namespace specified.
      operationId: findResourceProvider
      tags:
      - resourceProvider
      responses:
        200:
          description: The resource provider.
          schema:
            $ref: '#/definitions/resourceProvider'
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource group was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /resources:
    parameters:
    - name: $filter
      description: 'Specifies the subscriptions to query for resources e.g.: subscriptionId
        eq ''<subId1>'' or subscriptionId eq ''<subId2>'
      in: query
      required: true
      type: string
    - name: $expand
      description: 'Expands certain properties of the resource. Supported values are:
        changedTime, createdTime'
      in: query
      required: false
      type: string
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Gets the collection of resources in the user's subscriptions.
      description: Gets the collection of resources in the user's subscriptions.
      operationId: getResources
      tags:
      - resource
      responses:
        200:
          description: A paginated array of the resources.
          schema:
            type: object
            properties:
              value:
                description: The collection of resources returned.
                type: array
                items:
                  $ref: '#/definitions/resourceProvider'
                readOnly: true
              nextLink:
                description: The URL to get the next set of results.
                type: string
                readOnly: true
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions:
    parameters:
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Gets the collection of subscriptions the user has access to.
      description: Gets the collection of subscriptions the user has access to.
      operationId: getSubscriptions
      tags:
      - subscription
      responses:
        200:
          description: A paginated array of the subscriptions.
          schema:
            type: object
            properties:
              value:
                description: The collection of subscriptions returned.
                type: array
                items:
                  $ref: '#/definitions/subscription'
                readOnly: true
              nextLink:
                description: The URL to get the next set of results.
                type: string
                readOnly: true
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Finds a subscription with the subscription Id specified.
      description: Finds a subscription with the subscription Id specified.
      operationId: findSubscription
      tags:
      - subscription
      responses:
        200:
          description: The subscription.
          schema:
            $ref: '#/definitions/subscription'
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The subscription was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/locations:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Gets the collection of locations which can be used by a subscription.
      description: Gets the collection of locations which can be used by a subscription.
        Note that this is not the same as the list of locations a subscription can
        deploy a resource deployed to. For the list of locations that a subscription
        can deploy a resource to, consult the resource providers api instead.
      operationId: getLocations
      tags:
      - location
      responses:
        200:
          description: A paginated array of the locations which can be used by a subscription.
          schema:
            type: object
            properties:
              value:
                description: The collection of the locations returned.
                type: array
                items:
                  $ref: '#/definitions/location'
                readOnly: true
              nextLink:
                description: The URL to get the next set of results.
                type: string
                readOnly: true
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/operationResults/{operationId}:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/operationId'
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Finds an operation result operation Id specified.
      description: Finds an operation result operation Id specified. Operations results
        track the progress of long running operations.
      operationId: findOperationResult
      tags:
      - operationResult
      responses:
        202:
          description: The operation is still in progress.
          schema:
            $ref: '#/definitions/operationResult'
          headers:
            Location:
              description: The URL that can be queried via HTTP GET to obtain the
                status of the operation.
              type: string
            Retry-After:
              description: The duration after which the next update to status will
                be available.
              type: string
        200:
          description: The operation completed successfully.
        201:
          description: The operation completed successfully.
        204:
          description: The operation completed successfully.
        default:
          description: The request was malformed or failed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/providers:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - name: $expand
      description: 'Expands certain properties of the provider. Supported values are:
        metadata, resourceTypes/aliases'
      in: query
      required: false
      type: string
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Gets the collection of resources providers which a subscription has
        access to.
      description: Gets the collection of resources providers which a subscription
        has access to.
      operationId: getSubscriptionResourceProviders
      tags:
      - resourceProvider
      responses:
        200:
          description: A paginated array of the resource providers.
          schema:
            type: object
            properties:
              value:
                description: The collection of resource providers returned.
                type: array
                items:
                  $ref: '#/definitions/resourceProvider'
                readOnly: true
              nextLink:
                description: The URL to get the next set of results.
                type: string
                readOnly: true
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/resourceProviderNamespace'
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Finds a resource provider with the namespace specified.
      description: Finds a resource provider with the namespace specified which the
        subscription has access to.
      operationId: findSubscriptionResourceProvider
      tags:
      - resourceProvider
      responses:
        200:
          description: The resource provider.
          schema:
            $ref: '#/definitions/resourceProvider'
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource group was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/register:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/resourceProviderNamespace'
    - $ref: '#/parameters/apiVersion'
    post:
      summary: Registers a resource provider with the namespace specified on a subscription.
      description: Registers a resource provider with the namespace specified on a
        subscription. This call can also be used to update the subscription registration
        after a subscription has been registered to a feature.
      operationId: registerResourceProvider
      tags:
      - resourceProvider
      responses:
        200:
          description: The resource provider.
          schema:
            $ref: '#/definitions/resourceProvider'
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource provider was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/unregister:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/resourceProviderNamespace'
    - $ref: '#/parameters/apiVersion'
    post:
      summary: Unregisters a resource provider with the namespace specified on a subscription.
      description: Unregisters a resource provider with the namespace specified on
        a subscription. This call can also be used to update the subscription registration
        after a subscription has been registered to a feature.
      operationId: unregisterResourceProvider
      tags:
      - resourceProvider
      responses:
        200:
          description: The resource provider.
          schema:
            $ref: '#/definitions/resourceProvider'
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource provider was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        409:
          description: The resource provider was not registered.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/resources:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - name: $filter
      description: 'Specifies filters that can be used in the query. Supported filter
        keys are: ''resourceType'', ''tagname'' and ''tagvalue''. The ''tagname''
        filter can be applied with ''startsWith'' - e.g. $filter=startsWitk(tagname,
        ''foo'') All other filter keys must be applied using the ''eq'' operator.'
      in: query
      required: true
      type: string
    - name: $expand
      description: 'Expands certain properties of the resource. Supported values are:
        changedTime, createdTime'
      in: query
      required: false
      type: string
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Gets the collection of resources in the user's subscription.
      description: Gets the collection of resources in the user's subscription.
      operationId: getSubscriptionResources
      tags:
      - resource
      responses:
        200:
          description: A paginated array of the resources.
          schema:
            type: object
            properties:
              value:
                description: The collection of resources returned.
                type: array
                items:
                  $ref: '#/definitions/resource'
                readOnly: true
              nextLink:
                description: The URL to get the next set of results.
                type: string
                readOnly: true
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/resourcegroups:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/top'
    - name: $filter
      description: 'Allows resource groups to be filtered by tag names and/or values.
        e.g.: tagname eq ''foo'' and  tagvalue eq ''bar'
      in: query
      required: false
      type: string
    - name: $expand
      description: 'Expands certain properties of the resource group. Supported values
        are: changedTime, createdTime'
      in: query
      required: false
      type: string
    - $ref: '#/parameters/skipToken'
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Gets the collection of resource groups contained in the subscription.
      description: Gets the collection of resource groups contained in the subscription.
      operationId: getResourceGroups
      tags:
      - resourceGroup
      responses:
        200:
          description: A paginated array of the resource groups.
          schema:
            type: object
            properties:
              value:
                description: The collection of resource groups returned.
                type: array
                items:
                  $ref: '#/definitions/resourceGroup'
                readOnly: true
              nextLink:
                description: The URL to get the next set of results.
                type: string
                readOnly: true
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/resourceGroupName'
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Finds a resource group in the subscription with the name specified.
      description: Finds a resource group in the subscription with the name specified.
      operationId: findResourceGroup
      tags:
      - resourceGroup
      responses:
        200:
          description: The resource group.
          schema:
            $ref: '#/definitions/resourceGroup'
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource group was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
    head:
      summary: Checks if a resource group exists in the subscription.
      description: Checks if a resource group exists in the subscription.
      operationId: headResourceGroup
      tags:
      - resourceGroup
      responses:
        204:
          description: The resource group exists.
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource group was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request was malformed or failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
    delete:
      summary: Deletes a resource group and all the resources and deployments contained
        within it.
      description: Deletes a resource group and all the resources and deployments
        contained within it. This request will fail if the resource group is currently
        being updated.
      operationId: deleteResourceGroup
      tags:
      - resourceGroup
      responses:
        202:
          description: The request has been accepted and will complete asynchronously.
            It is still possible for the request to fail ultimately.
          headers:
            Location:
              description: The URL that can be queried via HTTP GET to obtain the
                status of the operation.
              type: string
            Retry-After:
              description: The duration after which the next update to status will
                be available.
              type: string
        204:
          description: The resource group was not found.
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource group was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        409:
          description: The resource group is currently being updated and cannot be
            deleted.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
    put:
      summary: Creates a resource group in the subscription.
      description: Creates a resource group in the subscription.
      operationId: putResourceGroup
      parameters:
      - name: resourceGroup
        in: body
        required: true
        schema:
          $ref: '#/definitions/resourceGroup'
        description: The resource group.
      tags:
      - resourceGroup
      responses:
        200:
          description: An existing resource group was overwritten.
          schema:
            $ref: '#/definitions/resourceGroup'
        201:
          description: A new resource group was created.
          schema:
            $ref: '#/definitions/resourceGroup'
        400:
          description: The request was malformed or failed validation.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource group or subscription were not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        409:
          description: The resource group could not be updated because of a conflict
            (e.g. the resource group was being updated, the resource group quota has
            been exceeded, the resource group is locked, etc.)
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
    patch:
      summary: Updates the tags on a resource group.
      description: Updates the tags on a resource group if the resource group is not
        locked or being updated/deleted.
      operationId: patchResourceGroup
      parameters:
      - name: resourceGroup
        in: body
        required: true
        schema:
          $ref: '#/definitions/resourceGroup'
        description: The resource group.
      tags:
      - resourceGroup
      responses:
        200:
          description: An existing resource group was overwritten.
          schema:
            $ref: '#/definitions/resourceGroup'
        400:
          description: The request was malformed or failed validation.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource group or subscription were not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        409:
          description: The resource group could not be updated because of a conflict
            (e.g. the resource group was being updated, the resource group is locked,
            etc.)
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/resources:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/resourceGroupName'
    - name: $filter
      description: 'Specifies filters that can be used in the query. Supported filter
        keys are: ''resourceType'', ''tagname'' and ''tagvalue''. All filter keys
        must be applied using the ''eq'' operator.'
      in: query
      required: true
      type: string
    - name: $expand
      description: 'Expands certain properties of the resource. Supported values are:
        changedTime, createdTime'
      in: query
      required: false
      type: string
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Gets the collection of resources in the user's subscription.
      description: Gets the collection of resources in the user's subscription.
      operationId: getResourceGroupResources
      tags:
      - resource
      responses:
        200:
          description: A paginated array of the resources.
          schema:
            type: object
            properties:
              value:
                description: The collection of resources returned.
                type: array
                items:
                  $ref: '#/definitions/resource'
                readOnly: true
              nextLink:
                description: The URL to get the next set of results.
                type: string
                readOnly: true
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/moveResources:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/resourceGroupName'
    - $ref: '#/parameters/apiVersion'
    - name: moveResourceGroupResourcesParameters
      in: body
      required: true
      schema:
        $ref: '#/definitions/moveResourceGroupResourcesParameters'
      description: The move resources request body.
    post:
      summary: Moves resources from one resource group to another.
      description: Moves resources from one resource group to another. This operation
        can be used to move resources across subscriptions so long as the user performing
        the operation has access to both subscriptions. Resources that are moved must
        be top-level resource group resources (e.g. Microsoft.Sql/servers not Microsoft.Sql/servers/databases.)
        This operation acquires exclusive access to both source and target resource
        groups for the duration of the move.
      operationId: moveResourceGroupResourcesParameters
      tags:
      - resourceGroup
      responses:
        202:
          description: The move request has been accepted and will complete asynchronously.
            It is still possible for the request to fail ultimately.
          headers:
            Location:
              description: The URL that can be queried via HTTP GET to obtain the
                status of the operation.
              type: string
            Retry-After:
              description: The duration after which the next update to status will
                be available.
              type: string
        400:
          description: The request failed validation (e.g. because one or more resources
            don't support being moved, the target subscription was not in the 'enabled'
            state, etc.) or was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource group was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        409:
          description: The resources cannot be moved due to a conflict (e.g. either
            the source or destination resource groups are locked or are being updated,
            the resources group was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/validateMoveResources:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/resourceGroupName'
    - $ref: '#/parameters/apiVersion'
    - name: moveResourceGroupResourcesParameters
      in: body
      required: true
      schema:
        $ref: '#/definitions/moveResourceGroupResourcesParameters'
      description: The move resources request body.
    post:
      summary: Validates that moving resources from one resource group to another
        is possible.
      description: Validates that moving resources from one resource group to another
        is possible. This operation can be used to move resources across subscriptions
        so long as the user performing the operation has access to both subscriptions.
        Resources that are moved must be top-level resource group resources (e.g.
        Microsoft.Sql/servers not Microsoft.Sql/servers/databases.)
      operationId: validateMoveResourceGroupResources
      tags:
      - resourceGroup
      responses:
        202:
          description: The move validation request has been accepted and will complete
            asynchronously. It is still possible for the request to fail ultimately.
          headers:
            Location:
              description: The URL that can be queried via HTTP GET to obtain the
                status of the operation.
              type: string
            Retry-After:
              description: The duration after which the next update to status will
                be available.
              type: string
        400:
          description: The request failed validation (e.g. because one or more resources
            don't support being moved, the target subscription was not in the 'enabled'
            state, etc.) or was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource group was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        409:
          description: The resources cannot be moved due to a conflict (e.g. either
            the source or destination resource groups are locked or are being updated,
            the resources group was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/resourceGroupName'
    - $ref: '#/parameters/top'
    - name: $filter
      description: Filters the deployment by the deployment state (e.g. provisioningState
        eq 'Accepted') - the values provided must match the values of the provisioningState
        property on the deployment.
      in: query
      required: false
      type: string
    - $ref: '#/parameters/skipToken'
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Gets the collection of all deployments in the resource group.
      description: Gets the collection of all deployments in the resource group.
      operationId: GetDeployments
      tags:
      - deployment
      - template
      responses:
        200:
          description: A paginated array of the deployment created in the resource
            group.
          schema:
            type: object
            properties:
              value:
                description: The collection of deployment returned.
                type: array
                items:
                  $ref: '#/definitions/deployment'
                readOnly: true
              nextLink:
                description: The URL to get the next set of results.
                type: string
                readOnly: true
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource group was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/resourceGroupName'
    - $ref: '#/parameters/deploymentName'
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Finds a deployment in the resource group with the deployment name specified.
      description: Finds a deployment in the resource group with the deployment name
        specified.
      operationId: findDeployment
      tags:
      - deployment
      - template
      responses:
        200:
          description: The deployment.
          schema:
            $ref: '#/definitions/deployment'
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The deployment was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
    head:
      summary: Checks if a deployment exists in the resource group with the deployment
        name specified.
      description: Checks if a deployment exists in the resource group with the deployment
        name specified.
      operationId: headDeployment
      tags:
      - deployment
      - template
      responses:
        204:
          description: The deployment exists.
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The deployment was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request was malformed or failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
    delete:
      summary: Deletes a deployment in the resource group with the deployment name
        specified.
      description: Deletes a deployment in the resource group with the deployment
        name specified. This request will fail if the deployment is currently active.
      operationId: deleteDeployment
      tags:
      - deployment
      - template
      responses:
        202:
          description: The request has been accepted and will complete asynchronously.
            It is still possible for the request to fail ultimately.
          headers:
            Location:
              description: The URL that can be queried via HTTP GET to obtain the
                status of the operation.
              type: string
            Retry-After:
              description: The duration after which the next update to status will
                be available.
              type: string
        204:
          description: The deployment was not found.
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource group was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        409:
          description: The deployment is currently executing and cannot be deleted.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
    put:
      summary: Validates and creates a deployment in the resource group with the deployment
        name specified.
      description: Validates and creates a deployment in the resource group with the
        deployment name specified. The request will validate the deployment object
        synchronously then deploy the resources contained within the supplied template
        in an asynchronous manner.
      operationId: putDeployment
      parameters:
      - name: deployment
        in: body
        required: true
        schema:
          $ref: '#/definitions/deployment'
        description: The deployment.
      tags:
      - deployment
      - template
      responses:
        200:
          description: An existing deployment was overwritten.
          schema:
            $ref: '#/definitions/deployment'
          headers:
            Azure-AsyncOperation:
              description: The URL that can be queried via HTTP GET to obtain the
                status of the deployment operations.
              type: string
        201:
          description: A new deployment was created.
          schema:
            $ref: '#/definitions/deployment'
          headers:
            Azure-AsyncOperation:
              description: The URL that can be queried via HTTP GET to obtain the
                status of the deployment operations.
              type: string
        400:
          description: The request was malformed or failed validation.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource group or subscription were not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        409:
          description: The deployment could not be accepted because of a conflict
            (e.g. the deployment quota is exceeded, there already is an active deployment
            with the same name, the resource group is locked, etc.)
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/cancel
  : parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/resourceGroupName'
    - $ref: '#/parameters/deploymentName'
    - $ref: '#/parameters/apiVersion'
    post:
      summary: Cancels a deployment in the resource group with the deployment name
        specified.
      description: Cancels a deployment in the resource group with the deployment
        name specified if the deployment is currently active.
      operationId: cancelDeployment
      tags:
      - deployment
      - template
      responses:
        204:
          description: The deployment was found and it's state updated to 'Canceled'.
            Any operations currently executing may continue to run but new operations
            will not be started.
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The deployment or resource group was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        409:
          description: The deployment is not active and cannot be canceled.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/validate
  : parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/resourceGroupName'
    - $ref: '#/parameters/deploymentName'
    - $ref: '#/parameters/apiVersion'
    post:
      summary: Validates a deployment in the resource group with the deployment name
        specified.
      description: Validates a deployment in the resource group with the deployment
        name specified.
      operationId: validateDeployment
      tags:
      - deployment
      - template
      responses:
        200:
          description: The deployment is valid.
          schema:
            $ref: '#/definitions/deployment'
          headers:
            Azure-AsyncOperation:
              description: The URL that can be queried via HTTP GET to obtain the
                status of the deployment operations.
              type: string
        400:
          description: The request was malformed or failed validation.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource group or subscription were not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        409:
          description: The deployment could not be accepted because of a conflict
            (e.g. the deployment quota is exceeded, there already is an active deployment
            with the same name, the resource group is locked, etc.)
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/operations
  : parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/resourceGroupName'
    - $ref: '#/parameters/deploymentName'
    - $ref: '#/parameters/top'
    - name: $filter
      description: Filters the operation result by the provisioning state of the operation
        (e.g. provisioningState eq 'Accepted') - the values provided must match the
        values of the provisioningState property on the operation.
      in: query
      required: false
      type: string
    - $ref: '#/parameters/skipToken'
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Gets the collection of all operations for a deployment.
      description: Gets the collection of all operation for a deployment.
      operationId: GetDeploymentOperations
      tags:
      - deployment
      - template
      - operationResult
      responses:
        200:
          description: A paginated array of the operations for the deployment.
          schema:
            type: object
            properties:
              value:
                description: The collection of operations returned.
                type: array
                items:
                  $ref: '#/definitions/operationResult'
                readOnly: true
              nextLink:
                description: The URL to get the next set of results.
                type: string
                readOnly: true
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource group was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/operations/{operationId}
  : parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/resourceGroupName'
    - $ref: '#/parameters/deploymentName'
    - $ref: '#/parameters/operationId'
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Finds an operation result operation Id specified.
      description: Finds an operation result operation Id specified. Operations results
        track the progress of long running operations.
      operationId: findDeploymentOperationResult
      tags:
      - operationResult
      responses:
        202:
          description: The operation is still in progress.
          schema:
            $ref: '#/definitions/operationResult'
          headers:
            Location:
              description: The URL that can be queried via HTTP GET to obtain the
                status of the operation.
              type: string
            Retry-After:
              description: The duration after which the next update to status will
                be available.
              type: string
        200:
          description: The operation completed successfully.
        201:
          description: The operation completed successfully.
        204:
          description: The operation completed successfully.
        default:
          description: The request was malformed or failed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/tagNames:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Gets the collection of tag names that are defined on the subscription.
      description: Gets the collection of tag names that are defined on the subscription.
        The returned type contains information about the tag values and counts.
      operationId: GetSubscriptionTagNames
      tags:
      - tag
      responses:
        200:
          description: A paginated array of tag names.
          schema:
            type: object
            properties:
              value:
                description: The collection of tag names returned.
                type: array
                items:
                  $ref: '#/definitions/tagValue'
                readOnly: true
              nextLink:
                description: The URL to get the next set of results.
                type: string
                readOnly: true
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The resource group was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /subscriptions/{subscriptionId}/tagNames/{tagName}/tagValues/{tagValue}:
    parameters:
    - $ref: '#/parameters/subscriptionId'
    - name: tagName
      description: The name of the tag
      in: path
      required: true
      type: string
    - name: tagValue
      description: The value of the tag
      in: path
      required: true
      type: string
    - $ref: '#/parameters/apiVersion'
    delete:
      summary: Deletes a subscription tag.
      description: Deletes a subscription tag.
      operationId: deleteSubscriptionTag
      tags:
      - tag
      responses:
        200:
          description: The subscription tag was successfully deleted.
        204:
          description: The subscription tag  was not found.
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The subscription tag name was not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        409:
          description: The subscription tag cannot be deleted because it is associated
            with one or more resources.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
    put:
      summary: Creates a subscription tag.
      description: Creates a subscription tag.
      operationId: putSubscriptionTag
      tags:
      - tag
      responses:
        200:
          description: An existing subscription tag was overwritten.
          schema:
            $ref: '#/definitions/tagValue'
        201:
          description: A new subscription tag was created.
          schema:
            $ref: '#/definitions/tagValue'
        400:
          description: The request was malformed or failed validation.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        404:
          description: The tag name or subscription were not found.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        409:
          description: The tag could not be updated because of a conflict (e.g. the
            tag quota has been exceeded, the subscription is locked, etc.)
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
  /tenants:
    parameters:
    - $ref: '#/parameters/apiVersion'
    get:
      summary: Gets the collection of tenants the user has access to.
      description: Gets the collection of tenants the user has access to.
      operationId: getTenants
      tags:
      - tenant
      responses:
        200:
          description: A paginated array of the tenants.
          schema:
            type: object
            properties:
              value:
                description: The collection of tenants returned.
                type: array
                items:
                  $ref: '#/definitions/tenant'
                readOnly: true
              nextLink:
                description: The URL to get the next set of results.
                type: string
                readOnly: true
        400:
          description: The request was malformed.
          schema:
            $ref: '#/definitions/errorResponseMessage'
        default:
          description: The request failed unexpectedly.
          schema:
            $ref: '#/definitions/errorResponseMessage'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":32:{s:27:\"checkResourceNameParameters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:35:\"The
  check resource name parameters.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  name of the resource.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"The
  fully qualified resource type: e.g. 'Microsoft.Compute/virtualMachines\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}}s:25:\"checkResourceNameResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:35:\"The
  check resource name parameters.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  name of the resource.\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"The
  fully qualified resource type: e.g. 'Microsoft.Compute/virtualMachines\";s:8:\"readOnly\";b:1;}s:6:\"status\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:48:\"The
  result of the check resource name operation.\";s:4:\"enum\";a:3:{i:0;s:7:\"Allowed\";i:1;s:8:\"Reserved\";i:2;s:7:\"Profane\";}s:8:\"readOnly\";b:1;}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"If
  the status of is not 'Allowed' contains a message describing the reason the name
  is not allowed.\";s:4:\"$ref\";s:34:\"#/definitions/errorResponseMessage\";s:8:\"readOnly\";b:1;}}}s:13:\"resourceGroup\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:210:\"A
  resource group represents a group of co-related resources that share lifetime and
  dependencies. Resource groups can contain resources that span locations. Deployments
  are orchestrated inside a resource group.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  name of the resource group.\";s:8:\"readOnly\";b:1;}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  name of the deployment.\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:40:\"The
  time the resource group was created.\";s:8:\"readOnly\";b:1;}s:11:\"changedTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:45:\"The
  time the resource group was last changed.\";s:8:\"readOnly\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:31:\"The
  tags on the resource group.\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"The
  tag.\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  resource group provisioning state.\";s:8:\"readOnly\";b:1;}}}}}s:10:\"deployment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:101:\"A
  deployment represents a durable, goal seeking execution of an Azure Resource Manager
  template file.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  name of the deployment.\";s:8:\"readOnly\";b:1;}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/deploymentProperties\";}}}s:20:\"deploymentProperties\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:31:\"The
  properties of a deployment.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  deployment provisioning state.\";s:8:\"readOnly\";b:1;}s:13:\"correlationId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  deployment correlation Id.\";s:8:\"readOnly\";b:1;}s:9:\"timestamp\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:26:\"The
  deployment time stamp.\";s:8:\"readOnly\";b:1;}s:8:\"duration\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:24:\"The
  deployment duration.\";s:8:\"readOnly\";b:1;}s:7:\"outputs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:135:\"The
  deployment output, as a string dictionary of deployment parameters. Only available
  after the deployment has completed successfully.\";s:8:\"readOnly\";b:1;s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/deploymentParameterValue\";}}s:15:\"outputResources\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:127:\"The
  resources that were provisioned as part of this deployment. Only available after
  the deployment has completed successfully.\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/resourceProxyDefinition\";}}s:9:\"providers\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:68:\"The
  array of resource providers that participate in this deployment.\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/resourceProvider\";}}s:12:\"dependencies\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:55:\"The
  array of dependencies as defined in the deployment.\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/deploymentDependency\";}}s:10:\"parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:75:\"The
  deployment parameters - use either this or parametersLink but not both.\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/deploymentParameterValue\";}}s:14:\"parametersLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  link to the parameters file - use either this or parameters but not both.\";s:4:\"$ref\";s:35:\"#/definitions/deploymentContentLink\";}s:8:\"template\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  template - use either this or templateLink but not both.\";s:4:\"$ref\";s:22:\"#/definitions/template\";}s:12:\"templateLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  link to the template file - use either this or template but not both.\";s:4:\"$ref\";s:35:\"#/definitions/deploymentContentLink\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/deploymentMode\";}}s:8:\"required\";a:1:{i:0;s:4:\"mode\";}}s:14:\"deploymentMode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:11:\"Incremental\";i:1;s:8:\"Complete\";}s:11:\"description\";s:20:\"The
  deployment mode.\";}s:36:\"moveResourceGroupResourcesParameters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:89:\"An
  object that contains the request body for requests to move or validate resource
  moves.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"targetResourceGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  fully qualified Id of the resource group - i.e. /subscriptions/{subId}/resourceGroups/{rgName}.\";}s:9:\"resources\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:57:\"An
  array of fully qualified Ids of the resources to move.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:268:\"The
  fully qualified Id of a resource to move - i.e. /subscriptions/{subId}/resourceGroups/{rgName}/providers/Microsoft.Sql/servers/{serverName}.
  Note that the resource group name 'rgName' must match the name of the resource group
  that the operation is being called on.\";}}}s:8:\"required\";a:2:{i:0;s:19:\"targetResourceGroup\";i:1;s:9:\"resources\";}}s:23:\"resourceProxyDefinition\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/resource\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:29:\"The
  resource proxy definition\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"resoruces\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/resourceProxyDefinition\";}}}}}}s:20:\"deploymentDependency\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/deploymentResourceReference\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:95:\"Describes
  a dependency between a resource and the other resources referenced in the deployment.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"dependsOn\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:50:\"The
  other resources that this resource references.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/deploymentResourceReference\";}s:8:\"readOnly\";b:1;}}}}}s:27:\"deploymentResourceReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:47:\"Defines
  a reference to a deployment dependency.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  id of the resource.\";s:8:\"readOnly\";b:1;}s:12:\"resourceType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  type of the resource.\";s:8:\"readOnly\";b:1;}s:12:\"resourceName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  name of the resource.\";s:8:\"readOnly\";b:1;}s:10:\"apiVersion\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  api-version used in calls to the resource provider.\";s:8:\"readOnly\";b:1;}s:10:\"actionName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  name of the action taken on the resource.\";s:8:\"readOnly\";b:1;}}}s:24:\"deploymentParameterValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"A
  deployment parameter value\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/templateParameterType\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"The
  value of the parameter.\";}s:9:\"reference\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/keyVaultParameterReference\";}}}s:26:\"keyVaultParameterReference\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:30:\"A
  KeyVault parameter reference\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"keyVault\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:34:\"A
  reference to the KeyVault by Id.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:266:\"The
  Id of the KeyVault to fetch the secret from. e.g. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}
  - Note: the user submitting the deployment must have access to the vault for the
  call to succeed.\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:10:\"secretName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  name of the secret in KeyVault.\";}s:13:\"secretVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"The
  version of the secret in KeyVault - if the version doesn't match fetching the secret
  fails.\";}}s:8:\"required\";a:2:{i:0;s:8:\"keyVault\";i:1;s:10:\"secretName\";}}s:21:\"deploymentContentLink\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:141:\"Describes
  a link that can be used by the Azure Resource Manager runtime to download deployment
  artifacts (template files or parameter files.)\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"uri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:11:\"description\";s:50:\"The
  uri to download the deployment artifacts from.\";}s:14:\"contentVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:161:\"The
  content version - compared with the content version at the uri and if they don't
  match the deployment is failed. Used to help with version control scenarios.\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"Metadata
  about the content.\";}}s:8:\"required\";a:1:{i:0;s:3:\"uri\";}}s:16:\"resourceProvider\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:136:\"Describes
  the resource provider, the resource types and api-versions that it has and the locations
  that you can deploy its resources to.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"namespace\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  resource provider namespace.\";s:8:\"readOnly\";b:1;}s:17:\"registrationState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:11:\"Registering\";i:1;s:10:\"Registered\";i:2;s:13:\"Unregistering\";i:3;s:12:\"Unregistered\";i:4;s:13:\"NotRegistered\";}s:11:\"description\";s:47:\"The
  state of the provider for the subscription.\";s:8:\"readOnly\";b:1;}s:8:\"metadata\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:37:\"Metadata
  about the resource provider.\";s:8:\"readOnly\";b:1;}s:13:\"authorization\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/resourceProviderAuthorization\";}s:13:\"resourceTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:153:\"The
  resource types that the resource provider has. Used to determine which resources
  this provider can create and which locations they can be created in.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"resourceType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  resource type name.\";s:8:\"readOnly\";b:1;}s:9:\"locations\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"The
  invariant name of a location in which you can create this resource.\";}s:11:\"description\";s:136:\"The
  array of locations where this resource can be created, scoped to the locations where
  the caller is permitted to create the resource.\";s:8:\"readOnly\";b:1;}s:11:\"apiversions\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"An
  api-version that can be used when making management calls on the resource.\";}s:11:\"description\";s:88:\"The
  array of api-versions that can be used when making management calls on the resource.\";s:8:\"readOnly\";b:1;}s:8:\"metadata\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"Metadata
  about the resource.\";s:8:\"readOnly\";b:1;}}s:8:\"readOnly\";b:1;}}}}s:29:\"resourceProviderAuthorization\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:162:\"The
  resource authorization - this includes information on the application Id of the
  resource provider and the role definition Id used for service to service auth.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"applicationId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  resource provider's application Id.\";s:8:\"readOnly\";b:1;}s:16:\"roleDefinitionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:138:\"The
  role definition Id used to grant the resource provider's service principal access
  to perform management operations on a set of scopes.\";s:8:\"readOnly\";b:1;}}s:8:\"readOnly\";b:1;}s:8:\"template\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:128:\"An
  Azure Resource Manager Template which is a declarative representation of the goal
  state of the resources in a resource group.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"$schema\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";s:11:\"description\";s:125:\"The
  $schema that this template follows - e.g. 'http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\";}s:14:\"contentVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"A
  string that describes the content version of the template - e.g. '1.0.0.0\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:30:\"The
  template input parameters.\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/templateInputParameter\";}}s:9:\"resources\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:71:\"The
  resources that will be deployed as part of the template deployment.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/templateResource\";}}s:9:\"variables\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:22:\"The
  template variable.\";}s:11:\"description\";s:23:\"The template variables.\";}s:7:\"outputs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:21:\"The
  template outputs.\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/templateOutputParameter\";}}}s:8:\"required\";a:3:{i:0;s:7:\"$schema\";i:1;s:14:\"contentVersion\";i:2;s:9:\"resources\";}}s:16:\"templateResource\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:62:\"A
  resource which is deployed as part of a template deployment.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  resource Id.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  resource name.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  resource type.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  resource location.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"The
  tag value\";}s:11:\"description\";s:18:\"The resource tags.\";}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/plan\";}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/sku\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  resource kind.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:24:\"The
  resource properties.\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Comments
  about the resource.\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"Metadata
  about the resource.\";}s:10:\"apiVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  api-version to use when provisioning the resource.\";}s:9:\"dependsOn\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:29:\"An
  array of nested resources.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"descrption\";s:93:\"An
  array of other resources that this resource depends. Used to determine provisioning
  order.\";s:4:\"type\";s:6:\"string\";}}s:9:\"resources\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:29:\"An
  array of nested resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/templateResource\";}}s:20:\"templateResourceCopy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/templateResourceCopy\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:4:\"name\";i:2;s:10:\"apiVersion\";}}s:20:\"templateResourceCopy\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:65:\"Used
  to determine how many copies of a template resource to make.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  name of the copy.\";}s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:57:\"A
  template expression that should evaluate to an integer.\";}}}s:23:\"templateOutputParameter\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"A
  template output parameter.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/templateParameterType\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"The
  parameter value\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}s:22:\"templateInputParameter\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"A
  template input parameter.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/templateParameterType\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:20:\"The
  parameter value.\";}s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"The
  default parameter value.\";}s:13:\"allowedValues\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:29:\"The
  allowed parameter values.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:16:\"An
  allowed value\";}}s:8:\"minValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:6:\"int64?\";s:11:\"description\";s:41:\"The
  minimum value the parameter can have.\";}s:8:\"maxValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:6:\"int64?\";s:11:\"description\";s:41:\"The
  maximum value the parameter can have.\";}s:9:\"minLength\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:6:\"int64?\";s:11:\"description\";s:61:\"The
  minimum length a string type or array parameter can have.\";}s:9:\"maxLength\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:6:\"int64?\";s:11:\"description\";s:61:\"The
  maximum length a string type or array parameter can have.\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}s:6:\"tenant\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:9:\"A
  tenant.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  fully qualified tenant Id - i.e. /tenants/{tenantId}.\";s:8:\"readOnly\";b:1;}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  tenant Id.\";s:8:\"readOnly\";b:1;}}}s:12:\"subscription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:15:\"A
  subscription.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"The
  fully qualified subscription Id - i.e. /subscriptions/{subscriptionId}.\";s:8:\"readOnly\";b:1;}s:14:\"subscriptionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  subscription Id.\";s:8:\"readOnly\";b:1;}s:5:\"state\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  subscription state.\";s:4:\"enum\";a:4:{i:0;s:7:\"Enabled\";i:1;s:6:\"Warned\";i:2;s:7:\"PastDue\";i:3;s:8:\"Disabled\";}s:8:\"readOnly\";b:1;}s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  subscription display name.\";s:8:\"readOnly\";b:1;}s:20:\"subscriptionPolicies\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/subscriptionPolicy\";}}}s:18:\"subscriptionPolicy\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:87:\"Represents
  the Azure location and quota policies that are applicable to a subscription.\";s:8:\"readOnly\";b:1;s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"locationPlacementId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:208:\"The
  subscription location placement Id - this, along with the quota Id controls which
  Azure location a subscription can see along with which resource providers/types/skus/plans
  the subscription has access to.\";s:8:\"readOnly\";b:1;}s:7:\"quotaId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:208:\"The
  subscription quota Id - this, along with the location placement Id controls which
  Azure location a subscription can see along with which resource providers/types/skus/plans
  the subscription has access to.\";s:8:\"readOnly\";b:1;}}}s:21:\"templateParameterType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  type of the parameter.\";s:4:\"enum\";a:7:{i:0;s:6:\"string\";i:1;s:12:\"secureString\";i:2;s:3:\"int\";i:3;s:4:\"bool\";i:4;s:5:\"array\";i:5;s:6:\"object\";i:6;s:12:\"secureObject\";}}s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:150:\"Represents
  a location in which an Azure data center which a subscription has access to exists.
  Note: not all resources are available in all locations.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  language invariant location name.\";s:8:\"readOnly\";b:1;}s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  localized location name.\";s:8:\"readOnly\";b:1;}s:9:\"longitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  longitude of the location.\";s:8:\"readOnly\";b:1;}s:8:\"latitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  latitude of the location.\";s:8:\"readOnly\";b:1;}}}s:15:\"operationResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:53:\"The
  result of an asynchronous long running operation.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  operation result's fully qualified Id.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  operation result's name.\";s:8:\"readOnly\";b:1;}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  operation result's status.\";s:8:\"readOnly\";b:1;}s:11:\"operationId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  operation result's name.\";s:8:\"readOnly\";b:1;}s:9:\"startTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:27:\"The
  operation's start time.\";s:8:\"readOnly\";b:1;}s:7:\"endTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:25:\"The
  operation's end time.\";s:8:\"readOnly\";b:1;}s:15:\"percentComplete\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:25:\"The
  operation's end time.\";s:8:\"readOnly\";b:1;}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/errorInfo\";s:11:\"description\";s:69:\"Contains
  information about the errors that may have occurred, if any.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:34:\"The
  operation result's properties.\";s:8:\"readOnly\";b:1;}}}s:4:\"plan\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:18:\"The
  resource plan.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  plan name.\";}s:9:\"publisher\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  publisher name.\";}s:7:\"product\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  product code.\";}s:13:\"promotionCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  promotion code.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:3:\"sku\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:17:\"The
  resource sku.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"The
  sku name.\";}s:4:\"tier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"The
  sku tier.\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"The
  sku size.\";}s:6:\"family\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  sku family.\";}s:5:\"model\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  sku model.\";}s:8:\"capacity\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:17:\"The
  sku capacity.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:8:\"resource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:46:\"A
  generic representation of an Azure resource.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  resource Id.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  resource name.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  resource type.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  resource location.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"The
  tag value\";}s:11:\"description\";s:18:\"The resource tags.\";}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/plan\";}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/sku\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  resource kind.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  resource kind.\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:34:\"The
  time the resource was created.\";s:8:\"readOnly\";b:1;}s:11:\"changedTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:39:\"The
  time the resource was last changed.\";s:8:\"readOnly\";b:1;}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:24:\"The
  resource properties.\";}}}s:8:\"tagValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:94:\"An
  object that describes the tag name and some statistics about its usage in the subscription.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"tagName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  name of the tag.\";s:8:\"readOnly\";b:1;}s:6:\"values\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"A
  tag value.\";}s:11:\"description\";s:42:\"The values that are used for the tag name.\";s:8:\"readOnly\";b:1;}s:5:\"count\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:41:\"Statistics
  on the usage of this tag name.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Total\";i:1;s:7:\"Partial\";}s:11:\"description\";s:22:\"The
  type of the count.\";}s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:16:\"The
  count value.\";}}s:8:\"readOnly\";b:1;}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"If
  the status of is not 'Allowed' contains a message describing the reason the name
  is not allowed.\";s:4:\"$ref\";s:34:\"#/definitions/errorResponseMessage\";s:8:\"readOnly\";b:1;}}}s:20:\"errorResponseMessage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:23:\"#/definitions/errorInfo\";s:11:\"description\";s:24:\"The
  error that occurred.\";s:8:\"readOnly\";b:1;}}}s:9:\"errorInfo\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"readOnly\";b:1;s:11:\"description\";s:82:\"Contains
  information about the error and any nested errors that may have occurred.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"A
  string that describes the error that occurred in an invariant manner.\";s:8:\"readOnly\";b:1;}s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"A
  string that describes the error that occurred in greater detail. This value may
  be localized.\";s:8:\"readOnly\";b:1;}s:7:\"details\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"A
  nested error\";s:4:\"$ref\";s:23:\"#/definitions/errorInfo\";}s:11:\"description\";s:81:\"An
  array of errors that may contain nested errors with details about the failure.\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}}}"
...
