---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:18:\"2017-03-01-preview\";s:5:\"title\";s:19:\"SqlManagementClient\";s:11:\"description\";s:247:\"The
  Azure SQL Database management API provides a RESTful set of web APIs that interact
  with Azure SQL Database services to manage your databases. The API enables users
  to create, retrieve, update, and delete databases, servers, and other entities.\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/currentSensitivityLabels
  : get:
      tags:
      - SensitivityLabels
      description: Gets the sensitivity labels of a given database
      operationId: SensitivityLabels_ListCurrentByDatabase
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: $filter
        in: query
        description: An OData filter expression that filters elements in the collection.
        required: false
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the sensitivity labels.
          schema:
            $ref: '#/definitions/SensitivityLabelListResult'
        default:
          description: '*** Error Responses: ***nn * 400 DatawarehouseDatabaseIsDeactivated
            - Could not execute Data Classification operation because the database
            is paused. Please resume it.nn * 400 SensitivityLabelsInvalidODataQuery
            - The specified OData query is either not valid or not supportednn * 404
            SubscriptionDoesNotHaveServer - The requested server was not foundnn *
            404 DatabaseDoesNotExist - User has specified a database name that does
            not exist on this server instance.'
      x-ms-odata: '#/definitions/SensitivityLabel'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets the current sensitivity labels of a given database:
          $ref: ./examples/SensitivityLabelsListByDatabaseWithSourceCurrent.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/recommendedSensitivityLabels
  : get:
      tags:
      - SensitivityLabels
      description: Gets the sensitivity labels of a given database
      operationId: SensitivityLabels_ListRecommendedByDatabase
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: includeDisabledRecommendations
        in: query
        description: Specifies whether to include disabled recommendations or not.
        required: false
        type: boolean
      - name: $skipToken
        in: query
        required: false
        type: string
      - name: $filter
        in: query
        description: An OData filter expression that filters elements in the collection.
        required: false
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the sensitivity labels.
          schema:
            $ref: '#/definitions/SensitivityLabelListResult'
        default:
          description: '*** Error Responses: ***nn * 400 DatawarehouseDatabaseIsDeactivated
            - Could not execute Data Classification operation because the database
            is paused. Please resume it.nn * 400 SensitivityLabelsInvalidODataQuery
            - The specified OData query is either not valid or not supportednn * 404
            SubscriptionDoesNotHaveServer - The requested server was not foundnn *
            404 DatabaseDoesNotExist - User has specified a database name that does
            not exist on this server instance.'
      x-ms-odata: '#/definitions/SensitivityLabel'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets the recommended sensitivity labels of a given database:
          $ref: ./examples/SensitivityLabelsListByDatabaseWithSourceRecommended.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/schemas/{schemaName}/tables/{tableName}/columns/{columnName}/sensitivityLabels/{sensitivityLabelSource}/enable
  : post:
      tags:
      - SensitivityLabels
      description: Enables sensitivity recommendations on a given column (recommendations
        are enabled by default on all columns)
      operationId: SensitivityLabels_EnableRecommendation
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: schemaName
        in: path
        description: The name of the schema.
        required: true
        type: string
      - name: tableName
        in: path
        description: The name of the table.
        required: true
        type: string
      - name: columnName
        in: path
        description: The name of the column.
        required: true
        type: string
      - name: sensitivityLabelSource
        in: path
        required: true
        type: string
        enum:
        - recommended
        x-ms-enum:
          name: SensitivityLabelSource
          modelAsString: false
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully enabled the sensitivity recommendations on the
            given column.
        default:
          description: '*** Error Responses: ***nn * 400 DatawarehouseDatabaseIsDeactivated
            - Could not execute Data Classification operation because the database
            is paused. Please resume it.nn * 404 SensitivityLabelsColumnNotFound -
            The specified column could not be foundnn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 DatabaseDoesNotExist - User
            has specified a database name that does not exist on this server instance.'
      x-ms-examples:
        Enables sensitivity recommendations on a given column:
          $ref: ./examples/RecommendedColumnSensitivityLabelEnable.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/schemas/{schemaName}/tables/{tableName}/columns/{columnName}/sensitivityLabels/{sensitivityLabelSource}/disable
  : post:
      tags:
      - SensitivityLabels
      description: Disables sensitivity recommendations on a given column
      operationId: SensitivityLabels_DisableRecommendation
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: schemaName
        in: path
        description: The name of the schema.
        required: true
        type: string
      - name: tableName
        in: path
        description: The name of the table.
        required: true
        type: string
      - name: columnName
        in: path
        description: The name of the column.
        required: true
        type: string
      - name: sensitivityLabelSource
        in: path
        required: true
        type: string
        enum:
        - recommended
        x-ms-enum:
          name: SensitivityLabelSource
          modelAsString: false
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully disabled the sensitivity recommendation on the
            given column.
        default:
          description: '*** Error Responses: ***nn * 400 DatawarehouseDatabaseIsDeactivated
            - Could not execute Data Classification operation because the database
            is paused. Please resume it.nn * 404 SensitivityLabelsColumnNotFound -
            The specified column could not be foundnn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 DatabaseDoesNotExist - User
            has specified a database name that does not exist on this server instance.'
      x-ms-examples:
        Disables sensitivity recommendations on a given column:
          $ref: ./examples/RecommendedColumnSensitivityLabelDisable.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/schemas/{schemaName}/tables/{tableName}/columns/{columnName}/sensitivityLabels/{sensitivityLabelSource}
  : get:
      tags:
      - SensitivityLabels
      description: Gets the sensitivity label of a given column
      operationId: SensitivityLabels_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: schemaName
        in: path
        description: The name of the schema.
        required: true
        type: string
      - name: tableName
        in: path
        description: The name of the table.
        required: true
        type: string
      - name: columnName
        in: path
        description: The name of the column.
        required: true
        type: string
      - name: sensitivityLabelSource
        in: path
        description: The source of the sensitivity label.
        required: true
        type: string
        enum:
        - current
        - recommended
        x-ms-enum:
          name: SensitivityLabelSource
          modelAsString: false
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the sensitivity label.
          schema:
            $ref: '#/definitions/SensitivityLabel'
        default:
          description: '*** Error Responses: ***nn * 400 DatawarehouseDatabaseIsDeactivated
            - Could not execute Data Classification operation because the database
            is paused. Please resume it.nn * 400 SensitivityLabelSourceNameNotSupported
            - The specified sensitivity label source is not validnn * 404 SensitivityLabelsColumnNotFound
            - The specified schema/table/column could not be foundnn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 DatabaseDoesNotExist - User
            has specified a database name that does not exist on this server instance.nn
            * 404 SensitivityLabelsLabelNotFound - The specified sensitivity label
            could not be foundnn * 501 SensitivityLabelRecommendedSourceNameNotSupported
            - ''Recommended'' sensitivity label source is not supported yet'
      x-ms-examples:
        Gets the sensitivity label of a given column:
          $ref: ./examples/ColumnSensitivityLabelGet.json
    put:
      tags:
      - SensitivityLabels
      description: Creates or updates the sensitivity label of a given column
      operationId: SensitivityLabels_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: schemaName
        in: path
        description: The name of the schema.
        required: true
        type: string
      - name: tableName
        in: path
        description: The name of the table.
        required: true
        type: string
      - name: columnName
        in: path
        description: The name of the column.
        required: true
        type: string
      - name: sensitivityLabelSource
        in: path
        description: The source of the sensitivity label.
        required: true
        type: string
        enum:
        - current
        x-ms-enum:
          name: WritableSensitivityLabelSource
          modelAsString: false
      - name: parameters
        in: body
        description: The column sensitivity label resource.
        required: true
        schema:
          $ref: '#/definitions/SensitivityLabel'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the sensitivity label.
          schema:
            $ref: '#/definitions/SensitivityLabel'
        default:
          description: '*** Error Responses: ***nn * 400 DatawarehouseDatabaseIsDeactivated
            - Could not execute Data Classification operation because the database
            is paused. Please resume it.nn * 400 SensitivityLabelSourceNameNotSupported
            - The specified sensitivity label source is not validnn * 400 InvalidSensitivityLabelResource
            - The specified sensitivity label resource is not validnn * 400 SensitivityLabelLabelNameAndInfoTypeNotProvided
            - At least one of LabelName and InformationType must be specifiednn *
            400 LabelNameTooLong - Label name cannot exceed {0} charactersnn * 400
            InformationTypeTooLong - Information type cannot exceed {0} charactersnn
            * 400 LabelIdMustBeGuid - Label ID must be a GUIDnn * 400 InformationTypeIdMustBeGuid
            - Information type ID must be a GUIDnn * 400 LabelMissing - Label is missingnn
            * 400 InformationTypeMissing - Information Type is missingnn * 404 SensitivityLabelsColumnNotFound
            - The specified schema/table/column could not be foundnn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 DatabaseDoesNotExist - User
            has specified a database name that does not exist on this server instance.nn
            * 404 SensitivityLabelsLabelNotFound - The specified sensitivity label
            could not be foundnn * 501 SensitivityLabelRecommendedSourceNameNotSupported
            - ''Recommended'' sensitivity label source is not supported yet'
        201:
          description: Successfully created the sensitivity label.
          schema:
            $ref: '#/definitions/SensitivityLabel'
      x-ms-examples:
        Updates the sensitivity label of a given column with all parameters:
          $ref: ./examples/ColumnSensitivityLabelCreateMax.json
    delete:
      tags:
      - SensitivityLabels
      description: Deletes the sensitivity label of a given column
      operationId: SensitivityLabels_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: schemaName
        in: path
        description: The name of the schema.
        required: true
        type: string
      - name: tableName
        in: path
        description: The name of the table.
        required: true
        type: string
      - name: columnName
        in: path
        description: The name of the column.
        required: true
        type: string
      - name: sensitivityLabelSource
        in: path
        description: The source of the sensitivity label.
        required: true
        type: string
        enum:
        - current
        x-ms-enum:
          name: WritableSensitivityLabelSource
          modelAsString: false
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully deleted the sensitivity label.
        default:
          description: '*** Error Responses: ***nn * 400 DatawarehouseDatabaseIsDeactivated
            - Could not execute Data Classification operation because the database
            is paused. Please resume it.nn * 400 SensitivityLabelSourceNameNotSupported
            - The specified sensitivity label source is not validnn * 404 SensitivityLabelsColumnNotFound
            - The specified schema/table/column could not be foundnn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 DatabaseDoesNotExist - User
            has specified a database name that does not exist on this server instance.nn
            * 404 SensitivityLabelsLabelNotFound - The specified sensitivity label
            could not be foundnn * 501 SensitivityLabelRecommendedSourceNameNotSupported
            - ''Recommended'' sensitivity label source is not supported yet'
      x-ms-examples:
        Deletes the sensitivity label of a given column:
          $ref: ./examples/ColumnSensitivityLabelDelete.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:26:\"SensitivityLabelProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Properties
  of a sensitivity label.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"labelName\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  label name.\";s:4:\"type\";s:6:\"string\";}s:7:\"labelId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  label ID.\";s:4:\"type\";s:6:\"string\";}s:15:\"informationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  information type.\";s:4:\"type\";s:6:\"string\";}s:17:\"informationTypeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  information type ID.\";s:4:\"type\";s:6:\"string\";}s:10:\"isDisabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:186:\"Is
  sensitivity recommendation disabled. Applicable for recommended sensitivity label
  only. Specifies whether the sensitivity recommendation on this column is disabled
  (dismissed) or not.\";s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}}}s:16:\"SensitivityLabel\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"A
  sensitivity label.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"../../../common/v1/types.json#/definitions/ProxyResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:40:\"#/definitions/SensitivityLabelProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:26:\"SensitivityLabelListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  list of sensitivity labels.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Array
  of results.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/SensitivityLabel\";}s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}}"
...
