---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:30:\"REST API for Azure
  Logic Apps.\";s:5:\"title\";s:21:\"LogicManagementClient\";s:7:\"version\";s:18:\"2015-08-01-preview\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:15:\"developer_tools\";i:1;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:115:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-logic/2015-08-01-preview/swagger/logic.json\";s:7:\"version\";s:3:\"2.0\";}s:11:\"x-preferred\";b:0;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:9:\"arm-logic\";s:6:\"x-tags\";a:5:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";i:2;s:12:\"applications\";i:3;s:10:\"automation\";i:4;s:12:\"integrations\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationAccounts:
    get:
      description: Gets a list of integration accounts by subscription.
      operationId: IntegrationAccounts_ListBySubscription
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/api-version'
      - description: The number of items to be included in the result.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountListResult'
      tags:
      - IntegrationAccounts
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts:
    get:
      description: Gets a list of integration accounts by resource group.
      operationId: IntegrationAccounts_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - description: The number of items to be included in the result.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountListResult'
      tags:
      - IntegrationAccounts
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}
  : delete:
      description: Deletes an integration account.
      operationId: IntegrationAccounts_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
      tags:
      - IntegrationAccounts
    get:
      description: Gets an integration account.
      operationId: IntegrationAccounts_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccount'
      tags:
      - IntegrationAccounts
    patch:
      description: Updates an integration account.
      operationId: IntegrationAccounts_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - description: The integration account.
        in: body
        name: integrationAccount
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccount'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccount'
      tags:
      - IntegrationAccounts
    put:
      description: Creates or updates an integration account.
      operationId: IntegrationAccounts_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - description: The integration account.
        in: body
        name: integrationAccount
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccount'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccount'
        201:
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccount'
      tags:
      - IntegrationAccounts
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements
  : get:
      description: Gets a list of integration account agreements.
      operationId: IntegrationAccountAgreements_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - description: The number of items to be included in the result.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountAgreementListResult'
      tags:
      - IntegrationAccountAgreements
      x-ms-odata: '#/definitions/IntegrationAccountAgreementFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements/{agreementName}
  : delete:
      description: Deletes an integration account agreement.
      operationId: IntegrationAccountAgreements_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - description: The integration account agreement name.
        in: path
        name: agreementName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
      tags:
      - IntegrationAccountAgreements
    get:
      description: Gets an integration account agreement.
      operationId: IntegrationAccountAgreements_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - description: The integration account agreement name.
        in: path
        name: agreementName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountAgreement'
      tags:
      - IntegrationAccountAgreements
    put:
      description: Creates or updates an integration account agreement.
      operationId: IntegrationAccountAgreements_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - description: The integration account agreement name.
        in: path
        name: agreementName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - description: The integration account agreement.
        in: body
        name: agreement
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccountAgreement'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountAgreement'
        201:
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountAgreement'
      tags:
      - IntegrationAccountAgreements
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates
  : get:
      description: Gets a list of integration account certificates.
      operationId: IntegrationAccountCertificates_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - description: The number of items to be included in the result.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountCertificateListResult'
      tags:
      - IntegrationAccountCertificates
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates/{certificateName}
  : delete:
      description: Deletes an integration account certificate.
      operationId: IntegrationAccountCertificates_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - description: The integration account certificate name.
        in: path
        name: certificateName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
      tags:
      - IntegrationAccountCertificates
    get:
      description: Gets an integration account certificate.
      operationId: IntegrationAccountCertificates_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - description: The integration account certificate name.
        in: path
        name: certificateName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountCertificate'
      tags:
      - IntegrationAccountCertificates
    put:
      description: Creates or updates an integration account certificate.
      operationId: IntegrationAccountCertificates_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - description: The integration account certificate name.
        in: path
        name: certificateName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - description: The integration account certificate.
        in: body
        name: certificate
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccountCertificate'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountCertificate'
        201:
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountCertificate'
      tags:
      - IntegrationAccountCertificates
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/listCallbackUrl
  : post:
      description: Lists the integration account callback URL.
      operationId: IntegrationAccounts_ListCallbackUrl
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - description: The callback URL parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ListCallbackUrlParameters'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CallbackUrl'
      tags:
      - IntegrationAccounts
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps
  : get:
      description: Gets a list of integration account maps.
      operationId: IntegrationAccountMaps_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - description: The number of items to be included in the result.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountMapListResult'
      tags:
      - IntegrationAccountMaps
      x-ms-odata: '#/definitions/IntegrationAccountMapFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps/{mapName}
  : delete:
      description: Deletes an integration account map.
      operationId: IntegrationAccountMaps_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - description: The integration account map name.
        in: path
        name: mapName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
      tags:
      - IntegrationAccountMaps
    get:
      description: Gets an integration account map.
      operationId: IntegrationAccountMaps_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - description: The integration account map name.
        in: path
        name: mapName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountMap'
      tags:
      - IntegrationAccountMaps
    put:
      description: Creates or updates an integration account map.
      operationId: IntegrationAccountMaps_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - description: The integration account map name.
        in: path
        name: mapName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - description: The integration account map.
        in: body
        name: map
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccountMap'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountMap'
        201:
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountMap'
      tags:
      - IntegrationAccountMaps
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners
  : get:
      description: Gets a list of integration account partners.
      operationId: IntegrationAccountPartners_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - description: The number of items to be included in the result.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountPartnerListResult'
      tags:
      - IntegrationAccountPartners
      x-ms-odata: '#/definitions/IntegrationAccountPartnerFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners/{partnerName}
  : delete:
      description: Deletes an integration account partner.
      operationId: IntegrationAccountPartners_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - description: The integration account partner name.
        in: path
        name: partnerName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
      tags:
      - IntegrationAccountPartners
    get:
      description: Gets an integration account partner.
      operationId: IntegrationAccountPartners_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - description: The integration account partner name.
        in: path
        name: partnerName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountPartner'
      tags:
      - IntegrationAccountPartners
    put:
      description: Creates or updates an integration account partner.
      operationId: IntegrationAccountPartners_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - description: The integration account partner name.
        in: path
        name: partnerName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - description: The integration account partner.
        in: body
        name: partner
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccountPartner'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountPartner'
        201:
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountPartner'
      tags:
      - IntegrationAccountPartners
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/schemas
  : get:
      description: Gets a list of integration account schemas.
      operationId: IntegrationAccountSchemas_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - description: The number of items to be included in the result.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountSchemaListResult'
      tags:
      - IntegrationAccountSchemas
      x-ms-odata: '#/definitions/IntegrationAccountSchemaFilter'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/schemas/{schemaName}
  : delete:
      description: Deletes an integration account schema.
      operationId: IntegrationAccountSchemas_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - description: The integration account schema name.
        in: path
        name: schemaName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
      tags:
      - IntegrationAccountSchemas
    get:
      description: Gets an integration account schema.
      operationId: IntegrationAccountSchemas_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - description: The integration account schema name.
        in: path
        name: schemaName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountSchema'
      tags:
      - IntegrationAccountSchemas
    put:
      description: Creates or updates an integration account schema.
      operationId: IntegrationAccountSchemas_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The integration account name.
        in: path
        name: integrationAccountName
        required: true
        type: string
      - description: The integration account schema name.
        in: path
        name: schemaName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - description: The integration account schema.
        in: body
        name: schema
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccountSchema'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountSchema'
        201:
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountSchema'
      tags:
      - IntegrationAccountSchemas
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":88:{s:36:\"AS2AcknowledgementConnectionSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:29:\"ignoreCertificateNameMismatch\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  value indicating whether to ignore mismatch in certificate name.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"keepHttpConnectionAlive\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  value indicating whether to keep the connection alive.\";s:4:\"type\";s:7:\"boolean\";}s:29:\"supportHttpStatusCodeContinue\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  value indicating whether to support HTTP status code 'CONTINUE'.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"unfoldHttpHeaders\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  value indicating whether to unfold the HTTP headers.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:19:\"AS2AgreementContent\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"receiveAgreement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AS2OneWayAgreement\";s:11:\"description\";s:34:\"The
  AS2 one-way receive agreement.\";}s:13:\"sendAgreement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AS2OneWayAgreement\";s:11:\"description\";s:31:\"The
  AS2 one-way send agreement.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"AS2EnvelopeSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"AutogenerateFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  value indicating whether to auto generate file name.\";s:4:\"type\";s:7:\"boolean\";}s:39:\"SuspendMessageOnFileNameGenerationError\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  value indicating whether to suspend message on file name generation error.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"fileNameTemplate\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  template for file name.\";s:4:\"type\";s:6:\"string\";}s:18:\"messageContentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  message content type.\";s:4:\"type\";s:6:\"string\";}s:28:\"transmitFileNameInMimeHeader\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  value indicating whether to transmit file name in mime header.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AS2ErrorSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"ResendIfMdnNotReceived\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  value indicating whether to resend message If MDN is not received.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"SuspendDuplicateMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  value indicating whether to suspend duplicate message.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AS2MdnSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:25:\"dispositionNotificationTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  disposition notification to header value.\";s:4:\"type\";s:6:\"string\";}s:7:\"mdnText\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  MDN text.\";s:4:\"type\";s:6:\"string\";}s:19:\"micHashingAlgorithm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/HashingAlgorithm\";s:11:\"description\";s:33:\"The
  signing or hashing algorithm.\";}s:7:\"needMdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  value indicating whether to send or request a MDN.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"receiptDeliveryUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  receipt delivery URL.\";s:4:\"type\";s:6:\"string\";}s:26:\"sendInboundMdnToMessageBox\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  value indicating whether to send inbound MDN to message box.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"sendMdnAsynchronously\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  value indicating whether to send the asynchronous MDN.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"signMdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  value indicating whether the MDN needs to be signed or not.\";s:4:\"type\";s:7:\"boolean\";}s:25:\"signOutboundMdnIfOptional\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  value indicating whether to sign the outbound MDN if optional.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:28:\"AS2MessageConnectionSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:29:\"ignoreCertificateNameMismatch\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  value indicating whether to ignore mismatch in certificate name.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"keepHttpConnectionAlive\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  value indicating whether to keep the connection alive.\";s:4:\"type\";s:7:\"boolean\";}s:29:\"supportHttpStatusCodeContinue\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  value indicating whether to support HTTP status code 'CONTINUE'.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"unfoldHttpHeaders\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  value indicating whether to unfold the HTTP headers.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AS2OneWayAgreement\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"protocolSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AS2ProtocolSettings\";s:11:\"description\";s:26:\"The
  AS2 protocol settings.\";}s:24:\"receiverBusinessIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";s:11:\"description\";s:30:\"The
  receiver business identity\";}s:22:\"senderBusinessIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";s:11:\"description\";s:28:\"The
  sender business identity\";}}s:4:\"type\";s:6:\"object\";}s:19:\"AS2ProtocolSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:33:\"acknowledgementConnectionSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/AS2AcknowledgementConnectionSettings\";s:11:\"description\";s:40:\"The
  acknowledgement connection settings.\";}s:16:\"envelopeSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AS2EnvelopeSettings\";s:11:\"description\";s:22:\"The
  envelope settings.\";}s:13:\"errorSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AS2ErrorSettings\";s:11:\"description\";s:19:\"The
  error settings.\";}s:11:\"mdnSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AS2MdnSettings\";s:11:\"description\";s:17:\"The
  MDN settings.\";}s:25:\"messageConnectionSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/AS2MessageConnectionSettings\";s:11:\"description\";s:32:\"The
  message connection settings.\";}s:16:\"securitySettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AS2SecuritySettings\";s:11:\"description\";s:22:\"The
  security settings.\";}s:18:\"validationSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AS2ValidationSettings\";s:11:\"description\";s:24:\"The
  validation settings.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"AS2SecuritySettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:34:\"enableNrrForInboundDecodedMessages\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  value indicating whether to enable NRR for inbound decoded messages.\";s:4:\"type\";s:7:\"boolean\";}s:34:\"enableNrrForInboundEncodedMessages\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  value indicating whether to enable NRR for inbound encoded messages.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"enableNrrForInboundMdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  value indicating whether to enable NRR for inbound MDN.\";s:4:\"type\";s:7:\"boolean\";}s:35:\"enableNrrForOutboundDecodedMessages\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  value indicating whether to enable NRR for outbound decoded messages.\";s:4:\"type\";s:7:\"boolean\";}s:35:\"enableNrrForOutboundEncodedMessages\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  value indicating whether to enable NRR for outbound encoded messages.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"enableNrrForOutboundMdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  value indicating whether to enable NRR for outbound MDN.\";s:4:\"type\";s:7:\"boolean\";}s:25:\"encryptionCertificateName\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  name of the encryption certificate.\";s:4:\"type\";s:6:\"string\";}s:31:\"overrideGroupSigningCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  value indicating whether to send or request a MDN.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"signingCertificateName\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  name of the signing certificate.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"AS2ValidationSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:39:\"checkCertificateRevocationListOnReceive\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"The
  value indicating whether to check for certificate revocation list on receive.\";s:4:\"type\";s:7:\"boolean\";}s:36:\"checkCertificateRevocationListOnSend\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  value indicating whether to check for certificate revocation list on send.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"checkDuplicateMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  value indicating whether to check for duplicate message.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"compressMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  value indicating whether the message has to be compressed.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"encryptMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  value indicating whether the message has to be encrypted.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"encryptionAlgorithm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EncryptionAlgorithm\";s:11:\"description\";s:25:\"The
  encryption algorithm.\";}s:33:\"interchangeDuplicatesValidityDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  number of days to look back for duplicate interchange.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"overrideMessageProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  value indicating whether to override incoming message properties with those in agreement.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"signMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  value indicating whether the message has to be signed.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AgreementContent\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"AS2\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AS2AgreementContent\";s:11:\"description\";s:26:\"The
  AS2 agreement content.\";}s:7:\"Edifact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EdifactAgreementContent\";s:11:\"description\";s:30:\"The
  EDIFACT agreement content.\";}s:3:\"X12\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/X12AgreementContent\";s:11:\"description\";s:26:\"The
  X12 agreement content.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AgreementType\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:12:\"NotSpecified\";i:1;s:3:\"AS2\";i:2;s:3:\"X12\";i:3;s:7:\"Edifact\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"AgreementType\";}}s:17:\"B2BPartnerContent\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"businessIdentities\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  list of partner business identities.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"BusinessIdentity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"Qualifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  business identity qualifier.\";s:4:\"type\";s:6:\"string\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  business identity value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CallbackUrl\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  URL value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"EdifactAcknowledgementSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:38:\"acknowledgementControlNumberLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  acknowledgement control number lower bound.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:34:\"acknowledgementControlNumberPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  acknowledgement control number prefix.\";s:4:\"type\";s:6:\"string\";}s:34:\"acknowledgementControlNumberSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  acknowledgement control number suffix.\";s:4:\"type\";s:6:\"string\";}s:38:\"acknowledgementControlNumberUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  acknowledgement control number upper bound.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:31:\"batchFunctionalAcknowledgements\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  value indicating whether to batch functional acknowledgements.\";s:4:\"type\";s:7:\"boolean\";}s:30:\"batchTechnicalAcknowledgements\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  value indicating whether to batch the technical acknowledgements.\";s:4:\"type\";s:7:\"boolean\";}s:29:\"needFunctionalAcknowledgement\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  value indicating whether functional acknowledgement is needed.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"needLoopForValidMessages\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  value indicating whether a loop is needed for valid messages.\";s:4:\"type\";s:7:\"boolean\";}s:28:\"needTechnicalAcknowledgement\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  value indicating whether technical acknowledgement is needed.\";s:4:\"type\";s:7:\"boolean\";}s:36:\"rolloverAcknowledgementControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  value indicating whether to rollover acknowledgement control number.\";s:4:\"type\";s:7:\"boolean\";}s:30:\"sendSynchronousAcknowledgement\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  value indicating whether to send synchronous acknowledgement.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:23:\"EdifactAgreementContent\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"receiveAgreement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/EdifactOneWayAgreement\";s:11:\"description\";s:38:\"The
  EDIFACT one-way receive agreement.\";}s:13:\"sendAgreement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/EdifactOneWayAgreement\";s:11:\"description\";s:35:\"The
  EDIFACT one-way send agreement.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"EdifactCharacterSet\";O:8:\"stdClass\":3:{s:4:\"enum\";a:15:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"UNOB\";i:2;s:4:\"UNOA\";i:3;s:4:\"UNOC\";i:4;s:4:\"UNOD\";i:5;s:4:\"UNOE\";i:6;s:4:\"UNOF\";i:7;s:4:\"UNOG\";i:8;s:4:\"UNOH\";i:9;s:4:\"UNOI\";i:10;s:4:\"UNOJ\";i:11;s:4:\"UNOK\";i:12;s:4:\"UNOX\";i:13;s:4:\"UNOY\";i:14;s:4:\"KECA\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"EdifactCharacterSet\";}}s:23:\"EdifactDecimalIndicator\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:12:\"NotSpecified\";i:1;s:5:\"Comma\";i:2;s:7:\"Decimal\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:23:\"EdifactDecimalIndicator\";}}s:24:\"EdifactDelimiterOverride\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"componentSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  component separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"dataElementSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  data element separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"decimalPointIndicator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EdifactDecimalIndicator\";s:11:\"description\";s:28:\"The
  decimal point indicator.\";}s:30:\"messageAssociationAssignedCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  message association assigned code.\";s:4:\"type\";s:6:\"string\";}s:9:\"messageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  message id.\";s:4:\"type\";s:6:\"string\";}s:14:\"messageRelease\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  message releaseversion.\";s:4:\"type\";s:6:\"string\";}s:14:\"messageVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  message version.\";s:4:\"type\";s:6:\"string\";}s:16:\"releaseIndicator\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  release indicator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"repetitionSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  repetition separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"segmentTerminator\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  segment terminator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:23:\"segmentTerminatorSuffix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/SegmentTerminatorSuffix\";s:11:\"description\";s:30:\"The
  segment terminator suffix.\";}s:15:\"targetNamespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  target namespace on which this delimiter settings has to be applied.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"EdifactEnvelopeOverride\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:19:\"applicationPassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  application password.\";s:4:\"type\";s:6:\"string\";}s:23:\"associationAssignedCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  association assigned code.\";s:4:\"type\";s:6:\"string\";}s:21:\"controllingAgencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  controlling agency code.\";s:4:\"type\";s:6:\"string\";}s:17:\"functionalGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  functional group id.\";s:4:\"type\";s:6:\"string\";}s:25:\"groupHeaderMessageRelease\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  group header message release.\";s:4:\"type\";s:6:\"string\";}s:25:\"groupHeaderMessageVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  group header message version.\";s:4:\"type\";s:6:\"string\";}s:30:\"messageAssociationAssignedCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  message association assigned code.\";s:4:\"type\";s:6:\"string\";}s:9:\"messageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  message id on which this envelope settings has to be applied.\";s:4:\"type\";s:6:\"string\";}s:14:\"messageRelease\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  message release version on which this envelope settings has to be applied.\";s:4:\"type\";s:6:\"string\";}s:14:\"messageVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  message version on which this envelope settings has to be applied.\";s:4:\"type\";s:6:\"string\";}s:21:\"receiverApplicationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  receiver application id.\";s:4:\"type\";s:6:\"string\";}s:28:\"receiverApplicationQualifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  receiver application qualifier.\";s:4:\"type\";s:6:\"string\";}s:19:\"senderApplicationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  sender application id.\";s:4:\"type\";s:6:\"string\";}s:26:\"senderApplicationQualifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  sender application qualifier.\";s:4:\"type\";s:6:\"string\";}s:15:\"targetNamespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  target namespace on which this envelope settings has to be applied.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"EdifactEnvelopeSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":41:{s:22:\"applicationReferenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  application reference id.\";s:4:\"type\";s:6:\"string\";}s:26:\"applyDelimiterStringAdvice\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  value indicating whether to apply delimiter string advice.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"communicationAgreementId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  communication agreement id.\";s:4:\"type\";s:6:\"string\";}s:22:\"createGroupingSegments\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  value indicating whether to create grouping segments.\";s:4:\"type\";s:7:\"boolean\";}s:25:\"enableDefaultGroupHeaders\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  value indicating whether to enable default group headers.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"functionalGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  functional group id.\";s:4:\"type\";s:6:\"string\";}s:24:\"groupApplicationPassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  group application password.\";s:4:\"type\";s:6:\"string\";}s:26:\"groupApplicationReceiverId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  group application receiver id.\";s:4:\"type\";s:6:\"string\";}s:33:\"groupApplicationReceiverQualifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  group application receiver qualifier.\";s:4:\"type\";s:6:\"string\";}s:24:\"groupApplicationSenderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  group application sender id.\";s:4:\"type\";s:6:\"string\";}s:31:\"groupApplicationSenderQualifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  group application sender qualifier.\";s:4:\"type\";s:6:\"string\";}s:28:\"groupAssociationAssignedCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  group association assigned code.\";s:4:\"type\";s:6:\"string\";}s:28:\"groupControlNumberLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  group control number lower bound.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:24:\"groupControlNumberPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  group control number prefix.\";s:4:\"type\";s:6:\"string\";}s:24:\"groupControlNumberSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  group control number suffix.\";s:4:\"type\";s:6:\"string\";}s:28:\"groupControlNumberUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  group control number upper bound.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:26:\"groupControllingAgencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  group controlling agency code.\";s:4:\"type\";s:6:\"string\";}s:19:\"groupMessageRelease\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  group message release.\";s:4:\"type\";s:6:\"string\";}s:19:\"groupMessageVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  group message version.\";s:4:\"type\";s:6:\"string\";}s:34:\"interchangeControlNumberLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  interchange control number lower bound.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:30:\"interchangeControlNumberPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  interchange control number prefix.\";s:4:\"type\";s:6:\"string\";}s:30:\"interchangeControlNumberSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  interchange control number suffix.\";s:4:\"type\";s:6:\"string\";}s:34:\"interchangeControlNumberUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  interchange control number upper bound.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"isTestInterchange\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  value indicating whether the message is a test interchange.\";s:4:\"type\";s:7:\"boolean\";}s:44:\"overwriteExistingTransactionSetControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  value indicating whether to overwrite existing transaction set control number.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"processingPriorityCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  processing priority code.\";s:4:\"type\";s:6:\"string\";}s:30:\"receiverInternalIdentification\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  receiver internal identification.\";s:4:\"type\";s:6:\"string\";}s:33:\"receiverInternalSubIdentification\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  receiver internal sub identification.\";s:4:\"type\";s:6:\"string\";}s:29:\"receiverReverseRoutingAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  receiver reverse routing address.\";s:4:\"type\";s:6:\"string\";}s:35:\"recipientReferencePasswordQualifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  recipient reference password qualifier.\";s:4:\"type\";s:6:\"string\";}s:31:\"recipientReferencePasswordValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  recipient reference password value.\";s:4:\"type\";s:6:\"string\";}s:26:\"rolloverGroupControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  value indicating whether to rollover group control number.\";s:4:\"type\";s:7:\"boolean\";}s:32:\"rolloverInterchangeControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  value indicating whether to rollover interchange control number.\";s:4:\"type\";s:7:\"boolean\";}s:35:\"rolloverTransactionSetControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  value indicating whether to rollover transaction set control number.\";s:4:\"type\";s:7:\"boolean\";}s:28:\"senderInternalIdentification\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  sender internal identification.\";s:4:\"type\";s:6:\"string\";}s:31:\"senderInternalSubIdentification\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  sender internal sub identification.\";s:4:\"type\";s:6:\"string\";}s:27:\"senderReverseRoutingAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  sender reverse routing address.\";s:4:\"type\";s:6:\"string\";}s:37:\"transactionSetControlNumberLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  transaction set control number lower bound.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:33:\"transactionSetControlNumberPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  transaction set control number prefix.\";s:4:\"type\";s:6:\"string\";}s:33:\"transactionSetControlNumberSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  transaction set control number suffix.\";s:4:\"type\";s:6:\"string\";}s:37:\"transactionSetControlNumberUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  transaction set control number upper bound.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:22:\"EdifactFramingSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:17:\"characterEncoding\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  character encoding.\";s:4:\"type\";s:6:\"string\";}s:12:\"characterSet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EdifactCharacterSet\";s:11:\"description\";s:39:\"The
  EDIFACT frame setting characterSet.\";}s:18:\"componentSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  component separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"dataElementSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  data element separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"decimalPointIndicator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EdifactDecimalIndicator\";s:11:\"description\";s:44:\"The
  EDIFACT frame setting decimal indicator.\";}s:15:\"protocolVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  protocol version.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"releaseIndicator\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  release indicator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"repetitionSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  repetition separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"segmentTerminator\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  segment terminator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:23:\"segmentTerminatorSuffix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/SegmentTerminatorSuffix\";s:11:\"description\";s:52:\"The
  EDIFACT frame setting segment terminator suffix.\";}s:31:\"serviceCodeListDirectoryVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  service code list directory version.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"EdifactMessageFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"messageFilterType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MessageFilterType\";s:11:\"description\";s:24:\"The
  message filter type.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"EdifactMessageIdentifier\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"messageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  message id on which this envelope settings has to be applied.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"EdifactOneWayAgreement\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"protocolSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EdifactProtocolSettings\";s:11:\"description\";s:30:\"The
  EDIFACT protocol settings.\";}s:24:\"receiverBusinessIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";s:11:\"description\";s:30:\"The
  receiver business identity\";}s:22:\"senderBusinessIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";s:11:\"description\";s:28:\"The
  sender business identity\";}}s:4:\"type\";s:6:\"object\";}s:25:\"EdifactProcessingSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:39:\"createEmptyXmlTagsForTrailingSeparators\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  value indicating whether to create empty xml tags for trailing separators.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"maskSecurityInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  value indicating whether to mask security information.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"preserveInterchange\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  value indicating whether to preserve interchange.\";s:4:\"type\";s:7:\"boolean\";}s:25:\"suspendInterchangeOnError\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  value indicating whether to suspend interchange on error.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"useDotAsDecimalSeparator\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  value indicating whether to use dot as decimal separator.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:23:\"EdifactProtocolSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:23:\"acknowledgementSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/EdifactAcknowledgementSettings\";s:11:\"description\";s:37:\"The
  EDIFACT acknowledgement settings.\";}s:25:\"edifactDelimiterOverrides\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  EDIFACT delimiter override settings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/EdifactDelimiterOverride\";}s:4:\"type\";s:5:\"array\";}s:17:\"envelopeOverrides\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  EDIFACT envelope override settings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/EdifactEnvelopeOverride\";}s:4:\"type\";s:5:\"array\";}s:16:\"envelopeSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EdifactEnvelopeSettings\";s:11:\"description\";s:30:\"The
  EDIFACT envelope settings.\";}s:15:\"framingSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/EdifactFramingSettings\";s:11:\"description\";s:29:\"The
  EDIFACT framing settings.\";}s:13:\"messageFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EdifactMessageFilter\";s:11:\"description\";s:27:\"The
  EDIFACT message filter.\";}s:17:\"messageFilterList\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  EDIFACT message filter list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/EdifactMessageIdentifier\";}s:4:\"type\";s:5:\"array\";}s:18:\"processingSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/EdifactProcessingSettings\";s:11:\"description\";s:32:\"The
  EDIFACT processing Settings.\";}s:16:\"schemaReferences\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  EDIFACT schema references.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EdifactSchemaReference\";}s:4:\"type\";s:5:\"array\";}s:19:\"validationOverrides\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  EDIFACT validation override settings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/EdifactValidationOverride\";}s:4:\"type\";s:5:\"array\";}s:18:\"validationSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/EdifactValidationSettings\";s:11:\"description\";s:32:\"The
  EDIFACT validation settings.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"EdifactSchemaReference\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:23:\"associationAssignedCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  association assigned code.\";s:4:\"type\";s:6:\"string\";}s:9:\"messageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  message id.\";s:4:\"type\";s:6:\"string\";}s:14:\"messageRelease\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  message release version.\";s:4:\"type\";s:6:\"string\";}s:14:\"messageVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  message version.\";s:4:\"type\";s:6:\"string\";}s:10:\"schemaName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  schema name.\";s:4:\"type\";s:6:\"string\";}s:19:\"senderApplicationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  sender application id.\";s:4:\"type\";s:6:\"string\";}s:26:\"senderApplicationQualifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  sender application qualifier.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"EdifactValidationOverride\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:38:\"allowLeadingAndTrailingSpacesAndZeroes\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  value indicating whether to allow leading and trailing spaces and zeroes.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"enforceCharacterSet\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  value indicating whether to validate character Set.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"messageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  message id on which the validation settings has to be applied.\";s:4:\"type\";s:6:\"string\";}s:23:\"trailingSeparatorPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/TrailingSeparatorPolicy\";s:11:\"description\";s:30:\"The
  trailing separator policy.\";}s:37:\"trimLeadingAndTrailingSpacesAndZeroes\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  value indicating whether to trim leading and trailing spaces and zeroes.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"validateEDITypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  value indicating whether to validate EDI types.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"validateXSDTypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  value indicating whether to validate XSD types.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:25:\"EdifactValidationSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:38:\"allowLeadingAndTrailingSpacesAndZeroes\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  value indicating whether to allow leading and trailing spaces and zeroes.\";s:4:\"type\";s:7:\"boolean\";}s:32:\"checkDuplicateGroupControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  value indicating whether to check for duplicate group control number.\";s:4:\"type\";s:7:\"boolean\";}s:38:\"checkDuplicateInterchangeControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  value indicating whether to check for duplicate interchange control number.\";s:4:\"type\";s:7:\"boolean\";}s:41:\"checkDuplicateTransactionSetControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  value indicating whether to check for duplicate transaction set control number.\";s:4:\"type\";s:7:\"boolean\";}s:36:\"interchangeControlNumberValidityDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  validity period of interchange control number.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:23:\"trailingSeparatorPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/TrailingSeparatorPolicy\";s:11:\"description\";s:30:\"The
  trailing separator policy.\";}s:37:\"trimLeadingAndTrailingSpacesAndZeroes\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  value indicating whether to trim leading and trailing spaces and zeroes.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"validateCharacterSet\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  value indicating whether to validate character set in the message.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"validateEDITypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  value indicating whether to Whether to validate EDI types.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"validateXSDTypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  value indicating whether to Whether to validate XSD types.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:19:\"EncryptionAlgorithm\";O:8:\"stdClass\":3:{s:4:\"enum\";a:7:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"None\";i:2;s:4:\"DES3\";i:3;s:3:\"RC2\";i:4;s:6:\"AES128\";i:5;s:6:\"AES192\";i:6;s:6:\"AES256\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"EncryptionAlgorithm\";}}s:16:\"HashingAlgorithm\";O:8:\"stdClass\":3:{s:4:\"enum\";a:5:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"None\";i:2;s:7:\"SHA2256\";i:3;s:7:\"SHA2384\";i:4;s:7:\"SHA2512\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:16:\"HashingAlgorithm\";}}s:18:\"IntegrationAccount\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/IntegrationAccountResource\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:42:\"#/definitions/IntegrationAccountProperties\";s:11:\"description\";s:35:\"The
  integration account properties.\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/IntegrationAccountSku\";s:11:\"description\";s:8:\"The
  sku.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"IntegrationAccountAgreement\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/IntegrationAccountResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:51:\"#/definitions/IntegrationAccountAgreementProperties\";s:11:\"description\";s:45:\"The
  integration account agreement properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:33:\"IntegrationAccountAgreementFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"agreementType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AgreementType\";s:11:\"description\";s:52:\"The
  agreement type of integration account agreement.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"IntegrationAccountAgreementListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  list of integration account agreements.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/IntegrationAccountAgreement\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:37:\"IntegrationAccountAgreementProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"agreementType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AgreementType\";s:11:\"description\";s:19:\"The
  agreement type.\";}s:11:\"changedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  changed time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AgreementContent\";s:11:\"description\";s:22:\"The
  agreement content.\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  created time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"guestIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";s:11:\"description\";s:19:\"The
  guest identity.\";}s:12:\"guestPartner\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  guest partner.\";s:4:\"type\";s:6:\"string\";}s:12:\"hostIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";s:11:\"description\";s:18:\"The
  host identity.\";}s:11:\"hostPartner\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  host partner.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  metadata.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:29:\"IntegrationAccountCertificate\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/IntegrationAccountResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:53:\"#/definitions/IntegrationAccountCertificateProperties\";s:11:\"description\";s:47:\"The
  integration account certificate properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:39:\"IntegrationAccountCertificateListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  list of integration account certificates.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/IntegrationAccountCertificate\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:39:\"IntegrationAccountCertificateProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"changedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  changed time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  created time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/KeyVaultKeyReference\";s:11:\"description\";s:33:\"The
  key details in the key vault.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  metadata.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"publicCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  public certificate.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"IntegrationAccountContentHash\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"algorithm\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  conetnt hash algorithm.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  content hash value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"IntegrationAccountContentLink\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"contentHash\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/IntegrationAccountContentHash\";s:11:\"description\";s:17:\"The
  content hash.\";}s:11:\"contentSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  content size.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"contentVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  content version.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  metadata.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  content link URI.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"IntegrationAccountListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  list of integration accounts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/IntegrationAccount\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"IntegrationAccountMap\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/IntegrationAccountResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:45:\"#/definitions/IntegrationAccountMapProperties\";s:11:\"description\";s:39:\"The
  integration account map properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:27:\"IntegrationAccountMapFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"schemaType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/MapType\";s:11:\"description\";s:40:\"The
  map type of integration account map.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"IntegrationAccountMapListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  list of integration account maps.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/IntegrationAccountMap\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:31:\"IntegrationAccountMapProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"changedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  changed time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  content.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"contentLink\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:43:\"#/definitions/IntegrationAccountContentLink\";s:11:\"description\";s:17:\"The
  content link.\";s:8:\"readOnly\";b:1;}s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  content type.\";s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  created time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"mapType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/MapType\";s:11:\"description\";s:13:\"The
  map type.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  metadata.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:25:\"IntegrationAccountPartner\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/IntegrationAccountResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:49:\"#/definitions/IntegrationAccountPartnerProperties\";s:11:\"description\";s:43:\"The
  integration account partner properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:31:\"IntegrationAccountPartnerFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"partnerType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PartnerType\";s:11:\"description\";s:48:\"The
  partner type of integration account partner.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"IntegrationAccountPartnerListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  list of integration account partners.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/IntegrationAccountPartner\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:35:\"IntegrationAccountPartnerProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"changedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  changed time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PartnerContent\";s:11:\"description\";s:20:\"The
  partner content.\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  created time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  metadata.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"partnerType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PartnerType\";s:11:\"description\";s:17:\"The
  partner type.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"IntegrationAccountProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:26:\"IntegrationAccountResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  resource id.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  resource location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  resource name.\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"The
  resource tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  resource type.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:24:\"IntegrationAccountSchema\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/IntegrationAccountResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:48:\"#/definitions/IntegrationAccountSchemaProperties\";s:11:\"description\";s:42:\"The
  integration account schema properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:30:\"IntegrationAccountSchemaFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"schemaType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SchemaType\";s:11:\"description\";s:46:\"The
  schema type of integration account schema.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"IntegrationAccountSchemaListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  list of integration account schemas.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/IntegrationAccountSchema\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:34:\"IntegrationAccountSchemaProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"changedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  changed time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  content.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"contentLink\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:43:\"#/definitions/IntegrationAccountContentLink\";s:11:\"description\";s:17:\"The
  content link.\";s:8:\"readOnly\";b:1;}s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  content type.\";s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  created time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  metadata.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"schemaType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SchemaType\";s:11:\"description\";s:16:\"The
  schema type.\";}s:15:\"targetNamespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  target namespace.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"IntegrationAccountSku\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/IntegrationAccountSkuName\";s:11:\"description\";s:13:\"The
  sku name.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"IntegrationAccountSkuName\";O:8:\"stdClass\":3:{s:4:\"enum\";a:6:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"Free\";i:2;s:6:\"Shared\";i:3;s:5:\"Basic\";i:4;s:8:\"Standard\";i:5;s:7:\"Premium\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:7:\"SkuName\";}}s:20:\"KeyVaultKeyReference\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"keyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  private key name in key vault.\";s:4:\"type\";s:6:\"string\";}s:8:\"keyVault\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  key vault reference.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  resource id.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  resource name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  resource type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"keyVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  private key version in key vault.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListCallbackUrlParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"NotAfter\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  expiry time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"MapType\";O:8:\"stdClass\":3:{s:4:\"enum\";a:2:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"Xslt\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:7:\"MapType\";}}s:17:\"MessageFilterType\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:12:\"NotSpecified\";i:1;s:7:\"Include\";i:2;s:7:\"Exclude\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"MessageFilterType\";}}s:14:\"PartnerContent\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"b2b\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/B2BPartnerContent\";s:11:\"description\";s:24:\"The
  B2B partner content.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PartnerType\";O:8:\"stdClass\":3:{s:4:\"enum\";a:2:{i:0;s:12:\"NotSpecified\";i:1;s:3:\"B2B\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:11:\"PartnerType\";}}s:10:\"SchemaType\";O:8:\"stdClass\":3:{s:4:\"enum\";a:2:{i:0;s:12:\"NotSpecified\";i:1;s:3:\"Xml\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:10:\"SchemaType\";}}s:23:\"SegmentTerminatorSuffix\";O:8:\"stdClass\":3:{s:4:\"enum\";a:5:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"None\";i:2;s:2:\"CR\";i:3;s:2:\"LF\";i:4;s:4:\"CRLF\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:23:\"SegmentTerminatorSuffix\";}}s:23:\"TrailingSeparatorPolicy\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:12:\"NotSpecified\";i:1;s:10:\"NotAllowed\";i:2;s:8:\"Optional\";i:3;s:9:\"Mandatory\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:23:\"TrailingSeparatorPolicy\";}}s:14:\"UsageIndicator\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"Test\";i:2;s:11:\"Information\";i:3;s:10:\"Production\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:14:\"UsageIndicator\";}}s:26:\"X12AcknowledgementSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:38:\"acknowledgementControlNumberLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  acknowledgement control number lower bound.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:34:\"acknowledgementControlNumberPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  acknowledgement control number prefix.\";s:4:\"type\";s:6:\"string\";}s:34:\"acknowledgementControlNumberSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  acknowledgement control number suffix.\";s:4:\"type\";s:6:\"string\";}s:38:\"acknowledgementControlNumberUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  acknowledgement control number upper bound.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:31:\"batchFunctionalAcknowledgements\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  value indicating whether to batch functional acknowledgements.\";s:4:\"type\";s:7:\"boolean\";}s:35:\"batchImplementationAcknowledgements\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  value indicating whether to batch implementation acknowledgements.\";s:4:\"type\";s:7:\"boolean\";}s:30:\"batchTechnicalAcknowledgements\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  value indicating whether to batch the technical acknowledgements.\";s:4:\"type\";s:7:\"boolean\";}s:32:\"functionalAcknowledgementVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  functional acknowledgement version.\";s:4:\"type\";s:6:\"string\";}s:36:\"implementationAcknowledgementVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  implementation acknowledgement version.\";s:4:\"type\";s:6:\"string\";}s:29:\"needFunctionalAcknowledgement\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  value indicating whether functional acknowledgement is needed.\";s:4:\"type\";s:7:\"boolean\";}s:33:\"needImplementationAcknowledgement\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  value indicating whether implementation acknowledgement is needed.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"needLoopForValidMessages\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  value indicating whether a loop is needed for valid messages.\";s:4:\"type\";s:7:\"boolean\";}s:28:\"needTechnicalAcknowledgement\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  value indicating whether technical acknowledgement is needed.\";s:4:\"type\";s:7:\"boolean\";}s:36:\"rolloverAcknowledgementControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  value indicating whether to rollover acknowledgement control number.\";s:4:\"type\";s:7:\"boolean\";}s:30:\"sendSynchronousAcknowledgement\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  value indicating whether to send synchronous acknowledgement.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:19:\"X12AgreementContent\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"receiveAgreement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/X12OneWayAgreement\";s:11:\"description\";s:34:\"The
  X12 one-way receive agreement.\";}s:13:\"sendAgreement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/X12OneWayAgreement\";s:11:\"description\";s:31:\"The
  X12 one-way send agreement.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"X12CharacterSet\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:12:\"NotSpecified\";i:1;s:5:\"Basic\";i:2;s:8:\"Extended\";i:3;s:4:\"UTF8\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:15:\"X12CharacterSet\";}}s:13:\"X12DateFormat\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:12:\"NotSpecified\";i:1;s:8:\"CCYYMMDD\";i:2;s:6:\"YYMMDD\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"X12DateFormat\";}}s:21:\"X12DelimiterOverrides\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:18:\"componentSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  component separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"dataElementSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  data element separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"messageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  message id.\";s:4:\"type\";s:6:\"string\";}s:15:\"protocolVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  protocol version.\";s:4:\"type\";s:6:\"string\";}s:16:\"replaceCharacter\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  replacement character.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:26:\"replaceSeparatorsInPayload\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  value indicating whether to replace separators in payload.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"segmentTerminator\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  segment terminator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:23:\"segmentTerminatorSuffix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/SegmentTerminatorSuffix\";s:11:\"description\";s:30:\"The
  segment terminator suffix.\";}s:15:\"targetNamespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  target namespace on which this delimiter settings has to be applied.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"X12EnvelopeOverride\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"dateFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/X12DateFormat\";s:11:\"description\";s:16:\"The
  date format.\";}s:24:\"functionalIdentifierCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  functional identifier code.\";s:4:\"type\";s:6:\"string\";}s:13:\"headerVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  header version.\";s:4:\"type\";s:6:\"string\";}s:9:\"messageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  message id on which this envelope settings has to be applied.\";s:4:\"type\";s:6:\"string\";}s:15:\"protocolVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  protocol version on which this envelope settings has to be applied.\";s:4:\"type\";s:6:\"string\";}s:21:\"receiverApplicationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  receiver application id.\";s:4:\"type\";s:6:\"string\";}s:21:\"responsibleAgencyCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  responsible agency code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"senderApplicationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  sender application id.\";s:4:\"type\";s:6:\"string\";}s:15:\"targetNamespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  target namespace on which this envelope settings has to be applied.\";s:4:\"type\";s:6:\"string\";}s:10:\"timeFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/X12TimeFormat\";s:11:\"description\";s:16:\"The
  time format.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"X12EnvelopeSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":24:{s:18:\"controlStandardsId\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  controls standards id.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"controlVersionNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  control version number.\";s:4:\"type\";s:6:\"string\";}s:25:\"enableDefaultGroupHeaders\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  value indicating whether to enable default group headers.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"functionalGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  functional group id.\";s:4:\"type\";s:6:\"string\";}s:28:\"groupControlNumberLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  group control number lower bound.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:28:\"groupControlNumberUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  group control number upper bound.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"groupHeaderAgencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  group header agency code.\";s:4:\"type\";s:6:\"string\";}s:21:\"groupHeaderDateFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/X12DateFormat\";s:11:\"description\";s:29:\"The
  group header date format.\";}s:21:\"groupHeaderTimeFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/X12TimeFormat\";s:11:\"description\";s:29:\"The
  group header time format.\";}s:18:\"groupHeaderVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  group header version.\";s:4:\"type\";s:6:\"string\";}s:34:\"interchangeControlNumberLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  interchange  control number lower bound.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:34:\"interchangeControlNumberUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  interchange  control number upper bound.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:44:\"overwriteExistingTransactionSetControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  value indicating whether to overwrite existing transaction set control number.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"receiverApplicationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  receiver application id.\";s:4:\"type\";s:6:\"string\";}s:26:\"rolloverGroupControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  value indicating whether to rollover group control number.\";s:4:\"type\";s:7:\"boolean\";}s:32:\"rolloverInterchangeControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  value indicating whether to rollover interchange control number.\";s:4:\"type\";s:7:\"boolean\";}s:35:\"rolloverTransactionSetControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  value indicating whether to rollover transaction set control number.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"senderApplicationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  sender application id.\";s:4:\"type\";s:6:\"string\";}s:37:\"transactionSetControlNumberLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  transaction set control number lower bound.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:33:\"transactionSetControlNumberPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  transaction set control number prefix.\";s:4:\"type\";s:6:\"string\";}s:33:\"transactionSetControlNumberSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  transaction set control number suffix.\";s:4:\"type\";s:6:\"string\";}s:37:\"transactionSetControlNumberUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  transaction set control number upper bound.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"usageIndicator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UsageIndicator\";s:11:\"description\";s:20:\"The
  usage indicator.\";}s:42:\"useControlStandardsIdAsRepetitionCharacter\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"The
  value indicating whether to use control standards id as repetition character.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:18:\"X12FramingSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"characterSet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/X12CharacterSet\";s:11:\"description\";s:22:\"The
  X12 character set.\";}s:18:\"componentSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  component separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"dataElementSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  data element separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"replaceCharacter\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  replacement character.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:26:\"replaceSeparatorsInPayload\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  value indicating whether to replace separators in payload.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"segmentTerminator\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  segment terminator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:23:\"segmentTerminatorSuffix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/SegmentTerminatorSuffix\";s:11:\"description\";s:30:\"The
  segment terminator suffix.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"X12MessageFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"messageFilterType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MessageFilterType\";s:11:\"description\";s:24:\"The
  message filter type.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"X12MessageIdentifier\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"messageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  message id.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"X12OneWayAgreement\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"protocolSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/X12ProtocolSettings\";s:11:\"description\";s:26:\"The
  X12 protocol settings.\";}s:24:\"receiverBusinessIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";s:11:\"description\";s:30:\"The
  receiver business identity\";}s:22:\"senderBusinessIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";s:11:\"description\";s:28:\"The
[...]
