---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:21:\"LogicManagementClient\";s:11:\"description\";s:30:\"REST
  API for Azure Logic Apps.\";s:7:\"version\";s:10:\"2016-06-01\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Logic/workflows:
    get:
      tags:
      - Workflows
      operationId: Workflows_ListBySubscription
      description: Gets a list of workflows by subscription.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        type: integer
        format: int32
      - name: $filter
        description: The filter to apply on the operation.
        in: query
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkflowListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/WorkflowFilter'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows:
    get:
      tags:
      - Workflows
      operationId: Workflows_ListByResourceGroup
      description: Gets a list of workflows by resource group.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        type: integer
        format: int32
      - name: $filter
        description: The filter to apply on the operation.
        in: query
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkflowListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/WorkflowFilter'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}:
    get:
      tags:
      - Workflows
      operationId: Workflows_Get
      description: Gets a workflow.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Workflow'
    put:
      tags:
      - Workflows
      operationId: Workflows_CreateOrUpdate
      description: Creates or updates a workflow.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: workflow
        description: The workflow.
        in: body
        required: true
        schema:
          $ref: '#/definitions/Workflow'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Workflow'
        201:
          description: Created
          schema:
            $ref: '#/definitions/Workflow'
    patch:
      tags:
      - Workflows
      operationId: Workflows_Update
      description: Updates a workflow.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: workflow
        description: The workflow.
        in: body
        required: true
        schema:
          $ref: '#/definitions/Workflow'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Workflow'
    delete:
      tags:
      - Workflows
      operationId: Workflows_Delete
      description: Deletes a workflow.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/disable:
    post:
      tags:
      - Workflows
      operationId: Workflows_Disable
      description: Disables a workflow.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/enable:
    post:
      tags:
      - Workflows
      operationId: Workflows_Enable
      description: Enables a workflow.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/generateUpgradedDefinition
  : post:
      tags:
      - Workflows
      operationId: Workflows_GenerateUpgradedDefinition
      description: Generates the upgraded definition for a workflow.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: parameters
        description: Parameters for generating an upgraded definition.
        in: body
        required: true
        schema:
          $ref: '#/definitions/GenerateUpgradedDefinitionParameters'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Object'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/versions:
    get:
      tags:
      - WorkflowVersions
      operationId: WorkflowVersions_List
      description: Gets a list of workflow versions.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        type: integer
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkflowVersionListResult'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/versions/{versionId}
  : get:
      tags:
      - WorkflowVersions
      operationId: WorkflowVersions_Get
      description: Gets a workflow version.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - name: versionId
        description: The workflow versionId.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkflowVersion'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/:
    get:
      tags:
      - WorkflowTriggers
      operationId: WorkflowTriggers_List
      description: Gets a list of workflow triggers.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        type: integer
        format: int32
      - name: $filter
        description: The filter to apply on the operation.
        in: query
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkflowTriggerListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/WorkflowTriggerFilter'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}
  : get:
      tags:
      - WorkflowTriggers
      operationId: WorkflowTriggers_Get
      description: Gets a workflow trigger.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkflowTrigger'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/run
  : post:
      tags:
      - WorkflowTriggers
      operationId: WorkflowTriggers_Run
      description: Runs a workflow trigger.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        default:
          description: All status codes are acceptable.
          schema:
            $ref: '#/definitions/Object'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/listCallbackUrl
  : post:
      tags:
      - WorkflowTriggers
      operationId: WorkflowTriggers_ListCallbackUrl
      description: Gets the callback URL for a workflow trigger.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkflowTriggerCallbackUrl'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/histories
  : get:
      tags:
      - WorkflowTriggerHistories
      operationId: WorkflowTriggerHistories_List
      description: Gets a list of workflow trigger histories.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        type: integer
        format: int32
      - name: $filter
        description: The filter to apply on the operation.
        in: query
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkflowTriggerHistoryListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/WorkflowTriggerHistoryFilter'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/histories/{historyName}
  : get:
      tags:
      - WorkflowTriggerHistories
      operationId: WorkflowTriggerHistories_Get
      description: Gets a workflow trigger history.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - name: triggerName
        description: The workflow trigger name.
        in: path
        required: true
        type: string
      - name: historyName
        description: The workflow trigger history name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkflowTriggerHistory'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs:
    get:
      tags:
      - WorkflowRuns
      operationId: WorkflowRuns_List
      description: Gets a list of workflow runs.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        type: integer
        format: int32
      - name: $filter
        description: The filter to apply on the operation.
        in: query
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkflowRunListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/WorkflowRunFilter'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}
  : get:
      tags:
      - WorkflowRuns
      operationId: WorkflowRuns_Get
      description: Gets a workflow run.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkflowRun'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/cancel
  : post:
      tags:
      - WorkflowRuns
      operationId: WorkflowRuns_Cancel
      description: Cancels a workflow run.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions
  : get:
      tags:
      - WorkflowRunActions
      operationId: WorkflowRunActions_List
      description: Gets a list of workflow run actions.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        type: integer
        format: int32
      - name: $filter
        description: The filter to apply on the operation.
        in: query
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkflowRunActionListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/WorkflowRunActionFilter'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}
  : get:
      tags:
      - WorkflowRunActions
      operationId: WorkflowRunActions_Get
      description: Gets a workflow run action.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - name: runName
        description: The workflow run name.
        in: path
        required: true
        type: string
      - name: actionName
        description: The workflow action name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkflowRunAction'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/locations/{location}/workflows/{workflowName}/validate
  : post:
      tags:
      - Workflows
      operationId: Workflows_Validate
      description: Validates the workflow definition.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: location
        description: The workflow location.
        in: path
        required: true
        type: string
      - name: workflowName
        description: The workflow name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: workflow
        description: The workflow definition.
        in: body
        required: true
        schema:
          $ref: '#/definitions/Workflow'
      responses:
        200:
          description: OK
  /subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationAccounts:
    get:
      tags:
      - IntegrationAccounts
      operationId: IntegrationAccounts_ListBySubscription
      description: Gets a list of integration accounts by subscription.
      x-ms-examples:
        List IntegrationAccounts by subscription:
          $ref: ../examples/IntegrationAccountsListBySubscription.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        type: integer
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountListResult'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts:
    get:
      tags:
      - IntegrationAccounts
      operationId: IntegrationAccounts_ListByResourceGroup
      description: Gets a list of integration accounts by resource group.
      x-ms-examples:
        List IntegrationAccounts by resourcegroup name:
          $ref: ../examples/IntegrationAccountsListByResourceGroup.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        type: integer
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountListResult'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}
  : get:
      tags:
      - IntegrationAccounts
      operationId: IntegrationAccounts_Get
      description: Gets an integration account.
      x-ms-examples:
        Get IntegrationAccount by name:
          $ref: ../examples/IntegrationAccountsGet.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccount'
    put:
      tags:
      - IntegrationAccounts
      operationId: IntegrationAccounts_CreateOrUpdate
      description: Creates or updates an integration account.
      x-ms-examples:
        Create or update an IntegrationAccount:
          $ref: ../examples/IntegrationAccountsCreateOrUpdate.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: integrationAccount
        description: The integration account.
        in: body
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccount'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccount'
        201:
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccount'
    patch:
      tags:
      - IntegrationAccounts
      operationId: IntegrationAccounts_Update
      description: Updates an integration account.
      x-ms-examples:
        Patch an IntegrationAccount:
          $ref: ../examples/IntegrationAccountsUpdate.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: integrationAccount
        description: The integration account.
        in: body
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccount'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccount'
    delete:
      tags:
      - IntegrationAccounts
      operationId: IntegrationAccounts_Delete
      description: Deletes an integration account.
      x-ms-examples:
        Delete an IntegrationAccount:
          $ref: ../examples/IntegrationAccountsDelete.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/listCallbackUrl
  : post:
      tags:
      - IntegrationAccounts
      operationId: IntegrationAccounts_GetCallbackUrl
      description: Gets the integration account callback URL.
      x-ms-examples:
        Get IntegrationAccount callback URL:
          $ref: ../examples/IntegrationAccountsGetCallbackUrl.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: parameters
        description: The callback URL parameters.
        in: body
        required: true
        schema:
          $ref: '#/definitions/GetCallbackUrlParameters'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CallbackUrl'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/schemas
  : get:
      tags:
      - IntegrationAccountSchemas
      operationId: Schemas_ListByIntegrationAccounts
      description: Gets a list of integration account schemas.
      x-ms-examples:
        Get schemas by integration account name:
          $ref: ../examples/SchemasListByIntegrationAccounts.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        type: integer
        format: int32
      - name: $filter
        description: The filter to apply on the operation.
        in: query
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountSchemaListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/IntegrationAccountSchemaFilter'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/schemas/{schemaName}
  : get:
      tags:
      - IntegrationAccountSchemas
      operationId: Schemas_Get
      description: Gets an integration account schema.
      x-ms-examples:
        Get schema by name:
          $ref: ../examples/SchemasGet.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: schemaName
        description: The integration account schema name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountSchema'
    put:
      tags:
      - IntegrationAccountSchemas
      operationId: Schemas_CreateOrUpdate
      description: Creates or updates an integration account schema.
      x-ms-examples:
        Create or update schema:
          $ref: ../examples/SchemasCreateOrUpdate.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: schemaName
        description: The integration account schema name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: schema
        description: The integration account schema.
        in: body
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccountSchema'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountSchema'
        201:
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountSchema'
    delete:
      tags:
      - IntegrationAccountSchemas
      operationId: Schemas_Delete
      description: Deletes an integration account schema.
      x-ms-examples:
        Delete a schema by name:
          $ref: ../examples/SchemasDelete.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: schemaName
        description: The integration account schema name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps
  : get:
      tags:
      - IntegrationAccountMaps
      operationId: Maps_ListByIntegrationAccounts
      description: Gets a list of integration account maps.
      x-ms-examples:
        Get maps by integration account name:
          $ref: ../examples/MapsListByIntegrationAccounts.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        type: integer
        format: int32
      - name: $filter
        description: The filter to apply on the operation.
        in: query
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountMapListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/IntegrationAccountMapFilter'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps/{mapName}
  : get:
      tags:
      - IntegrationAccountMaps
      operationId: Maps_Get
      description: Gets an integration account map.
      x-ms-examples:
        Get map by name:
          $ref: ../examples/MapsGet.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: mapName
        description: The integration account map name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountMap'
    put:
      tags:
      - IntegrationAccountMaps
      operationId: Maps_CreateOrUpdate
      description: Creates or updates an integration account map.
      x-ms-examples:
        Create or update a map:
          $ref: ../examples/MapsCreateOrUpdate.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: mapName
        description: The integration account map name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: map
        description: The integration account map.
        in: body
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccountMap'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountMap'
        201:
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountMap'
    delete:
      tags:
      - IntegrationAccountMaps
      operationId: Maps_Delete
      description: Deletes an integration account map.
      x-ms-examples:
        Delete a map:
          $ref: ../examples/MapsDelete.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: mapName
        description: The integration account map name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners
  : get:
      tags:
      - IntegrationAccountPartners
      operationId: Partners_ListByIntegrationAccounts
      description: Gets a list of integration account partners.
      x-ms-examples:
        Get partners by integrationaccount name:
          $ref: ../examples/PartnersListByIntegrationAccounts.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        type: integer
        format: int32
      - name: $filter
        description: The filter to apply on the operation.
        in: query
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountPartnerListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/IntegrationAccountPartnerFilter'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners/{partnerName}
  : get:
      tags:
      - IntegrationAccountPartners
      operationId: Partners_Get
      description: Gets an integration account partner.
      x-ms-examples:
        Get partner by name:
          $ref: ../examples/PartnersGet.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: partnerName
        description: The integration account partner name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountPartner'
    put:
      tags:
      - IntegrationAccountPartners
      operationId: Partners_CreateOrUpdate
      description: Creates or updates an integration account partner.
      x-ms-examples:
        Create or update a partner:
          $ref: ../examples/PartnersCreateOrUpdate.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: partnerName
        description: The integration account partner name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: partner
        description: The integration account partner.
        in: body
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccountPartner'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountPartner'
        201:
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountPartner'
    delete:
      tags:
      - IntegrationAccountPartners
      operationId: Partners_Delete
      description: Deletes an integration account partner.
      x-ms-examples:
        Delete a partner:
          $ref: ../examples/PartnersDelete.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: partnerName
        description: The integration account partner name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements
  : get:
      tags:
      - IntegrationAccountAgreements
      operationId: Agreements_ListByIntegrationAccounts
      description: Gets a list of integration account agreements.
      x-ms-examples:
        Get agreements by integrationaccount name:
          $ref: ../examples/AgreementsListByIntegrationAccounts.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        type: integer
        format: int32
      - name: $filter
        description: The filter to apply on the operation.
        in: query
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountAgreementListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/IntegrationAccountAgreementFilter'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements/{agreementName}
  : get:
      tags:
      - IntegrationAccountAgreements
      operationId: Agreements_Get
      description: Gets an integration account agreement.
      x-ms-examples:
        Get agreement by name:
          $ref: ../examples/AgreementsGet.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: agreementName
        description: The integration account agreement name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountAgreement'
    put:
      tags:
      - IntegrationAccountAgreements
      operationId: Agreements_CreateOrUpdate
      description: Creates or updates an integration account agreement.
      x-ms-examples:
        Create or update an agreement:
          $ref: ../examples/AgreementsCreateOrUpdate.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: agreementName
        description: The integration account agreement name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: agreement
        description: The integration account agreement.
        in: body
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccountAgreement'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountAgreement'
        201:
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountAgreement'
    delete:
      tags:
      - IntegrationAccountAgreements
      operationId: Agreements_Delete
      description: Deletes an integration account agreement.
      x-ms-examples:
        Delete an agreement:
          $ref: ../examples/AgreementsDelete.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: agreementName
        description: The integration account agreement name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates
  : get:
      tags:
      - IntegrationAccountCertificates
      operationId: Certificates_ListByIntegrationAccounts
      description: Gets a list of integration account certificates.
      x-ms-examples:
        Get certificates by integrationAccount name:
          $ref: ../examples/CertificatesListByIntegrationAccounts.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        type: integer
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountCertificateListResult'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates/{certificateName}
  : get:
      tags:
      - IntegrationAccountCertificates
      operationId: Certificates_Get
      description: Gets an integration account certificate.
      x-ms-examples:
        Get certificate by name:
          $ref: ../examples/CertificatesGet.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: certificateName
        description: The integration account certificate name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountCertificate'
    put:
      tags:
      - IntegrationAccountCertificates
      operationId: Certificates_CreateOrUpdate
      description: Creates or updates an integration account certificate.
      x-ms-examples:
        Create or update a certificate:
          $ref: ../examples/CertificatesCreateOrUpdate.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: certificateName
        description: The integration account certificate name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: certificate
        description: The integration account certificate.
        in: body
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccountCertificate'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountCertificate'
        201:
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountCertificate'
    delete:
      tags:
      - IntegrationAccountCertificates
      operationId: Certificates_Delete
      description: Deletes an integration account certificate.
      x-ms-examples:
        Delete a certificate:
          $ref: ../examples/CertificatesDelete.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: certificateName
        description: The integration account certificate name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/sessions
  : get:
      tags:
      - IntegrationAccountSessions
      operationId: Sessions_ListByIntegrationAccounts
      x-ms-examples:
        SessionsListByIntegrationAccounts:
          $ref: ../examples/SessionsListByIntegrationAccounts.json
      description: Gets a list of integration account sessions.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: $top
        description: The number of items to be included in the result.
        in: query
        required: false
        type: integer
        format: int32
      - name: $filter
        description: The filter to apply on the operation.
        in: query
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountSessionListResult'
        default:
          description: Logic error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/IntegrationAccountSessionFilter'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/sessions/{sessionName}
  : get:
      tags:
      - IntegrationAccountSessions
      operationId: Sessions_Get
      x-ms-examples:
        SessionsGet:
          $ref: ../examples/SessionsGet.json
      description: Gets an integration account session.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: sessionName
        description: The integration account session name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountSession'
        default:
          description: Logic error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
      - IntegrationAccountSessions
      operationId: Sessions_CreateOrUpdate
      x-ms-examples:
        SessionsCreateOrUpdate:
          $ref: ../examples/SessionsCreateOrUpdate.json
      description: Creates or updates an integration account session.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: sessionName
        description: The integration account session name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - name: session
        description: The integration account session.
        in: body
        required: true
        schema:
          $ref: '#/definitions/IntegrationAccountSession'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IntegrationAccountSession'
        201:
          description: Created
          schema:
            $ref: '#/definitions/IntegrationAccountSession'
        default:
          description: Logic error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - IntegrationAccountSessions
      operationId: Sessions_Delete
      x-ms-examples:
        SessionsDelete:
          $ref: ../examples/SessionsDelete.json
      description: Deletes an integration account session.
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: The resource group name.
        in: path
        required: true
        type: string
      - name: integrationAccountName
        description: The integration account name.
        in: path
        required: true
        type: string
      - name: sessionName
        description: The integration account session name.
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
        204:
          description: No Content
        default:
          description: Logic error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /providers/Microsoft.Logic/operations:
    get:
      tags:
      - Operations
      description: Lists all of the available Logic REST API operations.
      operationId: ListOperations
      parameters:
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Logic error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":141:{s:8:\"Resource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"The
  resource id.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:23:\"Gets
  the resource name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:23:\"Gets
  the resource type.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  resource location.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"The
  resource tags.\";}}s:19:\"x-ms-azure-resource\";b:1;s:11:\"description\";s:23:\"The
  base resource type.\";}s:11:\"SubResource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"The
  resource id.\";}}s:19:\"x-ms-azure-resource\";b:1;s:11:\"description\";s:22:\"The
  sub resource type.\";}s:6:\"Object\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:17:\"ResourceReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"The
  resource id.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:23:\"Gets
  the resource name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:23:\"Gets
  the resource type.\";}}s:11:\"description\";s:23:\"The resource reference.\";}s:8:\"Workflow\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:32:\"#/definitions/WorkflowProperties\";s:11:\"description\";s:24:\"The
  workflow properties.\";}}s:11:\"description\";s:18:\"The workflow type.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}}s:18:\"WorkflowProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/WorkflowProvisioningState\";s:8:\"readOnly\";b:1;s:11:\"description\";s:28:\"Gets
  the provisioning state.\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"Gets
  the created time.\";}s:11:\"changedTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"Gets
  the changed time.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/WorkflowState\";s:11:\"description\";s:10:\"The
  state.\";}s:7:\"version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Gets
  the version.\";}s:14:\"accessEndpoint\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:25:\"Gets
  the access endpoint.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:8:\"The
  sku.\";}s:18:\"integrationAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:11:\"description\";s:24:\"The
  integration account.\";}s:10:\"definition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:15:\"The
  definition.\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WorkflowParameter\";}s:11:\"description\";s:15:\"The
  parameters.\";}}s:11:\"description\";s:24:\"The workflow properties.\";}s:14:\"WorkflowFilter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/WorkflowState\";s:11:\"description\";s:23:\"The
  state of workflows.\";}}s:11:\"description\";s:20:\"The workflow filter.\";}s:18:\"WorkflowListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Workflow\";}s:11:\"description\";s:22:\"The
  list of workflows.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:22:\"The list of
  workflows.\";}s:15:\"WorkflowVersion\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:39:\"#/definitions/WorkflowVersionProperties\";s:11:\"description\";s:32:\"The
  workflow version properties.\";}}s:11:\"description\";s:21:\"The workflow version.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}}s:25:\"WorkflowVersionProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"createdTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"Gets
  the created time.\";}s:11:\"changedTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"Gets
  the changed time.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/WorkflowState\";s:11:\"description\";s:10:\"The
  state.\";}s:7:\"version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Gets
  the version.\";}s:14:\"accessEndpoint\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:25:\"Gets
  the access endpoint.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:8:\"The
  sku.\";}s:18:\"integrationAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:11:\"description\";s:24:\"The
  integration account.\";}s:10:\"definition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:15:\"The
  definition.\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WorkflowParameter\";}s:11:\"description\";s:15:\"The
  parameters.\";}}s:11:\"description\";s:32:\"The workflow version properties.\";}s:25:\"WorkflowVersionListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/WorkflowVersion\";}s:11:\"description\";s:28:\"A
  list of workflow versions.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:30:\"The list of
  workflow versions.\";}s:15:\"WorkflowTrigger\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:39:\"#/definitions/WorkflowTriggerProperties\";s:11:\"description\";s:32:\"The
  workflow trigger properties.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"Gets
  the workflow trigger name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"Gets
  the workflow trigger type.\";}}s:11:\"description\";s:21:\"The workflow trigger.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}}s:25:\"WorkflowTriggerProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:46:\"#/definitions/WorkflowTriggerProvisioningState\";s:8:\"readOnly\";b:1;s:11:\"description\";s:28:\"Gets
  the provisioning state.\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"Gets
  the created time.\";}s:11:\"changedTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"Gets
  the changed time.\";}s:5:\"state\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/WorkflowState\";s:8:\"readOnly\";b:1;s:11:\"description\";s:15:\"Gets
  the state.\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/WorkflowStatus\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"Gets
  the status.\";}s:17:\"lastExecutionTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:29:\"Gets
  the last execution time.\";}s:17:\"nextExecutionTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:29:\"Gets
  the next execution time.\";}s:10:\"recurrence\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/WorkflowTriggerRecurrence\";s:8:\"readOnly\";b:1;s:11:\"description\";s:37:\"Gets
  the workflow trigger recurrence.\";}s:8:\"workflow\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"Gets
  the reference to workflow.\";}}s:11:\"description\";s:32:\"The workflow trigger
  properties.\";}s:21:\"WorkflowTriggerFilter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/WorkflowState\";s:11:\"description\";s:30:\"The
  state of workflow trigger.\";}}s:11:\"description\";s:28:\"The workflow trigger
  filter.\";}s:25:\"WorkflowTriggerListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/WorkflowTrigger\";}s:11:\"description\";s:28:\"A
  list of workflow triggers.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:30:\"The list of
  workflow triggers.\";}s:26:\"WorkflowTriggerCallbackUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:39:\"Gets
  the workflow trigger callback URL.\";}}s:11:\"description\";s:34:\"The workflow
  trigger callback URL.\";}s:22:\"WorkflowTriggerHistory\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:46:\"#/definitions/WorkflowTriggerHistoryProperties\";s:11:\"description\";s:45:\"Gets
  the workflow trigger history properties.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:39:\"Gets
  the workflow trigger history name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:39:\"Gets
  the workflow trigger history type.\";}}s:11:\"description\";s:29:\"The workflow
  trigger history.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}}s:32:\"WorkflowTriggerHistoryProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"startTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:20:\"Gets
  the start time.\";}s:7:\"endTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"Gets
  the end time.\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/WorkflowStatus\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"Gets
  the status.\";}s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:14:\"Gets
  the code.\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:8:\"readOnly\";b:1;s:11:\"description\";s:15:\"Gets
  the error.\";}s:10:\"trackingId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Gets
  the tracking id.\";}s:11:\"correlation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Correlation\";s:11:\"description\";s:20:\"The
  run correlation.\";}s:10:\"inputsLink\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ContentLink\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Gets
  the link to input parameters.\";}s:11:\"outputsLink\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ContentLink\";s:8:\"readOnly\";b:1;s:11:\"description\";s:35:\"Gets
  the link to output parameters.\";}s:5:\"fired\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:50:\"Gets
  a value indicating whether trigger was fired.\";}s:3:\"run\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:8:\"readOnly\";b:1;s:11:\"description\";s:35:\"Gets
  the reference to workflow run.\";}}s:11:\"description\";s:40:\"The workflow trigger
  history properties.\";}s:32:\"WorkflowTriggerHistoryListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/WorkflowTriggerHistory\";}s:11:\"description\";s:37:\"A
  list of workflow trigger histories.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:39:\"The list of
  workflow trigger histories.\";}s:28:\"WorkflowTriggerHistoryFilter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/WorkflowStatus\";s:11:\"description\";s:39:\"The
  status of workflow trigger history.\";}}s:11:\"description\";s:36:\"The workflow
  trigger history filter.\";}s:11:\"WorkflowRun\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:35:\"#/definitions/WorkflowRunProperties\";s:11:\"description\";s:28:\"The
  workflow run properties.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:27:\"Gets
  the workflow run name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:27:\"Gets
  the workflow run type.\";}}s:11:\"description\";s:17:\"The workflow run.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}}s:21:\"WorkflowRunProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"startTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:20:\"Gets
  the start time.\";}s:7:\"endTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"Gets
  the end time.\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/WorkflowStatus\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"Gets
  the status.\";}s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:14:\"Gets
  the code.\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:8:\"readOnly\";b:1;s:11:\"description\";s:15:\"Gets
  the error.\";}s:13:\"correlationId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:24:\"Gets
  the correlation id.\";}s:11:\"correlation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Correlation\";s:11:\"description\";s:20:\"The
  run correlation.\";}s:8:\"workflow\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:8:\"readOnly\";b:1;s:11:\"description\";s:39:\"Gets
  the reference to workflow version.\";}s:7:\"trigger\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/WorkflowRunTrigger\";s:8:\"readOnly\";b:1;s:11:\"description\";s:23:\"Gets
  the fired trigger.\";}s:7:\"outputs\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"readOnly\";b:1;s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/WorkflowOutputParameter\";}s:11:\"description\";s:17:\"Gets
  the outputs.\";}s:8:\"response\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/WorkflowRunTrigger\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Gets
  the response of the flow run.\";}}s:11:\"description\";s:28:\"The workflow run properties.\";}s:17:\"WorkflowRunFilter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/WorkflowStatus\";s:11:\"description\";s:27:\"The
  status of workflow run.\";}}s:11:\"description\";s:24:\"The workflow run filter.\";}s:21:\"WorkflowRunListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/WorkflowRun\";}s:11:\"description\";s:24:\"A
  list of workflow runs.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:26:\"The list of
  workflow runs.\";}s:17:\"WorkflowRunAction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:41:\"#/definitions/WorkflowRunActionProperties\";s:11:\"description\";s:35:\"The
  workflow run action properties.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Gets
  the workflow run action name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"Gets
  the workflow run action type.\";}}s:11:\"description\";s:24:\"The workflow run action.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}}s:27:\"WorkflowRunActionProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"startTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:20:\"Gets
  the start time.\";}s:7:\"endTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"Gets
  the end time.\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/WorkflowStatus\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"Gets
  the status.\";}s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:14:\"Gets
  the code.\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:8:\"readOnly\";b:1;s:11:\"description\";s:15:\"Gets
  the error.\";}s:10:\"trackingId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Gets
  the tracking id.\";}s:11:\"correlation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Correlation\";s:11:\"description\";s:27:\"The
  correlation properties.\";}s:10:\"inputsLink\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ContentLink\";s:8:\"readOnly\";b:1;s:11:\"description\";s:24:\"Gets
  the link to inputs.\";}s:11:\"outputsLink\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ContentLink\";s:8:\"readOnly\";b:1;s:11:\"description\";s:25:\"Gets
  the link to outputs.\";}s:17:\"trackedProperties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:8:\"readOnly\";b:1;s:11:\"description\";s:28:\"Gets
  the tracked properties.\";}}s:11:\"description\";s:35:\"The workflow run action
  properties.\";}s:23:\"WorkflowRunActionFilter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/WorkflowStatus\";s:11:\"description\";s:34:\"The
  status of workflow run action.\";}}s:11:\"description\";s:31:\"The workflow run
  action filter.\";}s:27:\"WorkflowRunActionListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WorkflowRunAction\";}s:11:\"description\";s:31:\"A
  list of workflow run actions.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:33:\"The list of
  workflow run actions.\";}s:7:\"SkuName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"Free\";i:2;s:6:\"Shared\";i:3;s:5:\"Basic\";i:4;s:8:\"Standard\";i:5;s:7:\"Premium\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"SkuName\";s:13:\"modelAsString\";b:0;}s:11:\"description\";s:13:\"The
  sku name.\";}s:13:\"WorkflowState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:12:\"NotSpecified\";i:1;s:9:\"Completed\";i:2;s:7:\"Enabled\";i:3;s:8:\"Disabled\";i:4;s:7:\"Deleted\";i:5;s:9:\"Suspended\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"WorkflowState\";s:13:\"modelAsString\";b:0;}}s:14:\"WorkflowStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:13:{i:0;s:12:\"NotSpecified\";i:1;s:6:\"Paused\";i:2;s:7:\"Running\";i:3;s:7:\"Waiting\";i:4;s:9:\"Succeeded\";i:5;s:7:\"Skipped\";i:6;s:9:\"Suspended\";i:7;s:9:\"Cancelled\";i:8;s:6:\"Failed\";i:9;s:7:\"Faulted\";i:10;s:8:\"TimedOut\";i:11;s:7:\"Aborted\";i:12;s:7:\"Ignored\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"WorkflowStatus\";s:13:\"modelAsString\";b:0;}}s:13:\"ParameterType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:12:\"NotSpecified\";i:1;s:6:\"String\";i:2;s:12:\"SecureString\";i:3;s:3:\"Int\";i:4;s:5:\"Float\";i:5;s:4:\"Bool\";i:6;s:5:\"Array\";i:7;s:6:\"Object\";i:8;s:12:\"SecureObject\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"ParameterType\";s:13:\"modelAsString\";b:0;}}s:7:\"KeyType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:12:\"NotSpecified\";i:1;s:7:\"Primary\";i:2;s:9:\"Secondary\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"KeyType\";s:13:\"modelAsString\";b:0;}}s:3:\"Sku\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/SkuName\";s:11:\"description\";s:9:\"The
  name.\";}s:4:\"plan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:11:\"description\";s:22:\"The
  reference to plan.\";}}s:11:\"description\";s:13:\"The sku type.\";}s:11:\"ContentLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  content link URI.\";}s:14:\"contentVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  content version.\";}s:11:\"contentSize\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:17:\"The
  content size.\";}s:11:\"contentHash\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ContentHash\";s:11:\"description\";s:17:\"The
  content hash.\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:13:\"The
  metadata.\";}}s:11:\"description\";s:17:\"The content link.\";}s:11:\"ContentHash\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"algorithm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  algorithm of the content hash.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  value of the content hash.\";}}s:11:\"description\";s:17:\"The content hash.\";}s:11:\"Correlation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"clientTrackingId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  client tracking id.\";}}s:11:\"description\";s:25:\"The correlation property.\";}s:17:\"WorkflowParameter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ParameterType\";s:11:\"description\";s:9:\"The
  type.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:10:\"The
  value.\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:13:\"The
  metadata.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  description.\";}}s:11:\"description\";s:24:\"The workflow parameters.\";}s:23:\"WorkflowOutputParameter\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:8:\"readOnly\";b:1;s:11:\"description\";s:15:\"Gets
  the error.\";}}s:11:\"description\";s:30:\"The workflow output parameter.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WorkflowParameter\";}}}s:19:\"RecurrenceFrequency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:12:\"NotSpecified\";i:1;s:6:\"Second\";i:2;s:6:\"Minute\";i:3;s:4:\"Hour\";i:4;s:3:\"Day\";i:5;s:4:\"Week\";i:6;s:5:\"Month\";i:7;s:4:\"Year\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"RecurrenceFrequency\";s:13:\"modelAsString\";b:0;}}s:18:\"RecurrenceSchedule\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"minutes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"description\";s:12:\"The
  minutes.\";}s:5:\"hours\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"description\";s:10:\"The
  hours.\";}s:8:\"weekDays\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:6:\"Sunday\";i:1;s:6:\"Monday\";i:2;s:7:\"Tuesday\";i:3;s:9:\"Wednesday\";i:4;s:8:\"Thursday\";i:5;s:6:\"Friday\";i:6;s:8:\"Saturday\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"DaysOfWeek\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";s:21:\"The
  days of the week.\";}s:9:\"monthDays\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"description\";s:15:\"The
  month days.\";}s:18:\"monthlyOccurrences\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/RecurrenceScheduleOccurrence\";}s:11:\"description\";s:24:\"The
  monthly occurrences.\";}}s:11:\"description\";s:24:\"The recurrence schedule.\";}s:28:\"RecurrenceScheduleOccurrence\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"day\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DayOfWeek\";s:11:\"description\";s:20:\"The
  day of the week.\";}s:10:\"occurrence\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:15:\"The
  occurrence.\";}}s:11:\"description\";s:34:\"The recurrence schedule occurence.\";}s:25:\"WorkflowTriggerRecurrence\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"frequency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RecurrenceFrequency\";s:11:\"description\";s:14:\"The
  frequency.\";}s:8:\"interval\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:13:\"The
  interval.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"The
  start time.\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:13:\"The
  end time.\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  time zone.\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RecurrenceSchedule\";s:11:\"description\";s:24:\"The
  recurrence schedule.\";}}s:11:\"description\";s:32:\"The workflow trigger recurrence.\";}s:18:\"WorkflowRunTrigger\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:14:\"Gets
  the name.\";}s:6:\"inputs\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"Gets
  the inputs.\";}s:10:\"inputsLink\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ContentLink\";s:8:\"readOnly\";b:1;s:11:\"description\";s:24:\"Gets
  the link to inputs.\";}s:7:\"outputs\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"Gets
  the outputs.\";}s:11:\"outputsLink\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ContentLink\";s:8:\"readOnly\";b:1;s:11:\"description\";s:25:\"Gets
  the link to outputs.\";}s:9:\"startTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:20:\"Gets
  the start time.\";}s:7:\"endTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"Gets
  the end time.\";}s:10:\"trackingId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:21:\"Gets
  the tracking id.\";}s:11:\"correlation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Correlation\";s:11:\"description\";s:20:\"The
  run correlation.\";}s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:14:\"Gets
  the code.\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/WorkflowStatus\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"Gets
  the status.\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:8:\"readOnly\";b:1;s:11:\"description\";s:15:\"Gets
  the error.\";}s:17:\"trackedProperties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:8:\"readOnly\";b:1;s:11:\"description\";s:28:\"Gets
  the tracked properties.\";}}s:11:\"description\";s:25:\"The workflow run trigger.\";}s:32:\"WorkflowTriggerProvisioningState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:18:{i:0;s:12:\"NotSpecified\";i:1;s:8:\"Accepted\";i:2;s:7:\"Running\";i:3;s:5:\"Ready\";i:4;s:8:\"Creating\";i:5;s:7:\"Created\";i:6;s:8:\"Deleting\";i:7;s:7:\"Deleted\";i:8;s:8:\"Canceled\";i:9;s:6:\"Failed\";i:10;s:9:\"Succeeded\";i:11;s:6:\"Moving\";i:12;s:8:\"Updating\";i:13;s:11:\"Registering\";i:14;s:10:\"Registered\";i:15;s:13:\"Unregistering\";i:16;s:12:\"Unregistered\";i:17;s:9:\"Completed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"WorkflowTriggerProvisioningState\";s:13:\"modelAsString\";b:0;}}s:25:\"WorkflowProvisioningState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:18:{i:0;s:12:\"NotSpecified\";i:1;s:8:\"Accepted\";i:2;s:7:\"Running\";i:3;s:5:\"Ready\";i:4;s:8:\"Creating\";i:5;s:7:\"Created\";i:6;s:8:\"Deleting\";i:7;s:7:\"Deleted\";i:8;s:8:\"Canceled\";i:9;s:6:\"Failed\";i:10;s:9:\"Succeeded\";i:11;s:6:\"Moving\";i:12;s:8:\"Updating\";i:13;s:11:\"Registering\";i:14;s:10:\"Registered\";i:15;s:13:\"Unregistering\";i:16;s:12:\"Unregistered\";i:17;s:9:\"Completed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"WorkflowProvisioningState\";s:13:\"modelAsString\";b:0;}}s:9:\"DayOfWeek\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:6:\"Sunday\";i:1;s:6:\"Monday\";i:2;s:7:\"Tuesday\";i:3;s:9:\"Wednesday\";i:4;s:8:\"Thursday\";i:5;s:6:\"Friday\";i:6;s:8:\"Saturday\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"DayOfWeek\";s:13:\"modelAsString\";b:0;}}s:36:\"GenerateUpgradedDefinitionParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"targetSchemaVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  target schema version.\";}}s:11:\"description\";s:47:\"The parameters to generate
  upgraded definition.\";}s:25:\"IntegrationAccountSkuName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"Free\";i:2;s:8:\"Standard\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"IntegrationAccountSkuName\";s:13:\"modelAsString\";b:0;}}s:18:\"IntegrationAccount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:42:\"#/definitions/IntegrationAccountProperties\";s:11:\"description\";s:35:\"The
  integration account properties.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/IntegrationAccountSku\";s:11:\"description\";s:8:\"The
  sku.\";}}s:11:\"description\";s:24:\"The integration account.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}}s:28:\"IntegrationAccountProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:28:\"IntegrationAccountListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/IntegrationAccount\";}s:11:\"description\";s:33:\"The
  list of integration accounts.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:33:\"The list of
  integration accounts.\";}s:24:\"GetCallbackUrlParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"notAfter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:16:\"The
  expiry time.\";}s:7:\"keyType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/KeyType\";s:11:\"description\";s:13:\"The
  key type.\";}}s:11:\"description\";s:28:\"The callback url parameters.\";}s:11:\"CallbackUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  URL value.\";}}s:11:\"description\";s:17:\"The callback url.\";}s:24:\"IntegrationAccountSchema\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:48:\"#/definitions/IntegrationAccountSchemaProperties\";s:11:\"description\";s:42:\"The
  integration account schema properties.\";}}s:11:\"description\";s:31:\"The integration
  account schema.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}}s:34:\"IntegrationAccountSchemaProperties\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"schemaType\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"schemaType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SchemaType\";s:11:\"description\";s:16:\"The
  schema type.\";}s:15:\"targetNamespace\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  target namespace of the schema.\";}s:12:\"documentName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  document name.\";}s:8:\"fileName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  file name.\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"The
  created time.\";}s:11:\"changedTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"The
  changed time.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:13:\"The
  metadata.\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:7:\"content\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"The
  content.\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  content type.\";}s:11:\"contentLink\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ContentLink\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"The
  content link.\";}}s:11:\"description\";s:42:\"The integration account schema properties.\";}s:34:\"IntegrationAccountSchemaListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/IntegrationAccountSchema\";}s:11:\"description\";s:40:\"The
  list of integration account schemas.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:40:\"The list of
  integration account schemas.\";}s:30:\"IntegrationAccountSchemaFilter\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"schemaType\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"schemaType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SchemaType\";s:11:\"description\";s:46:\"The
  schema type of integration account schema.\";}}s:11:\"description\";s:54:\"The integration
  account schema filter for odata query.\";}s:10:\"SchemaType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:12:\"NotSpecified\";i:1;s:3:\"Xml\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"SchemaType\";s:13:\"modelAsString\";b:0;}}s:21:\"IntegrationAccountMap\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:45:\"#/definitions/IntegrationAccountMapProperties\";s:11:\"description\";s:39:\"The
  integration account map properties.\";}}s:11:\"description\";s:28:\"The integration
  account map.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}}s:31:\"IntegrationAccountMapProperties\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"mapType\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"mapType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/MapType\";s:11:\"description\";s:13:\"The
  map type.\";}s:16:\"parametersSchema\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"ref\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  reference name.\";}}s:11:\"description\";s:49:\"The parameters schema of integration
  account map.\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"The
  created time.\";}s:11:\"changedTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:11:\"description\";s:17:\"The
  changed time.\";}s:7:\"content\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"The
  content.\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
[...]
