---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2018-05-31\";s:5:\"title\";s:27:\"ConsumptionManagementClient\";s:11:\"description\";s:106:\"Consumption
  management client provides access to consumption resources for Azure Enterprise
  Subscriptions.\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/pricesheets/default:
    get:
      tags:
      - PriceSheet
      operationId: PriceSheet_Get
      description: Gets the price sheet for a scope by subscriptionId. Price sheet
        is available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        PriceSheet:
          $ref: ./examples/PriceSheet.json
      parameters:
      - name: $expand
        description: May be used to expand the properties/meterDetails within a price
          sheet. By default, these fields are not included when returning price sheet.
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the top N results.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/PriceSheetResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/pricesheets/default
  : get:
      tags:
      - PriceSheet
      operationId: PriceSheet_GetByBillingPeriod
      description: Get the price sheet for a scope by subscriptionId and billing period.
        Price sheet is available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        PriceSheetForBillingPeriod:
          $ref: ./examples/PriceSheetForBillingPeriod.json
        PriceSheetExpand:
          $ref: ./examples/PriceSheetExpand.json
      parameters:
      - name: $expand
        description: May be used to expand the properties/meterDetails within a price
          sheet. By default, these fields are not included when returning price sheet.
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the top N results.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/PriceSheetResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/usageDetails:
    get:
      tags:
      - UsageDetails
      operationId: UsageDetails_List
      description: Lists the usage details for a scope by current billing period.
        Usage details are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsList:
          $ref: ./examples/UsageDetailsList.json
        UsageDetailsListFilterByTag:
          $ref: ./examples/UsageDetailsListFilterByTag.json
        UsageDetailsListGroupByTagDate:
          $ref: ./examples/UsageDetailsListGroupByTagDate.json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName,
          properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le',
          'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag
          filter is a key value pair string where key and value is separated by a
          colon (:).
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart)
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails
  : get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListByBillingPeriod
      description: Lists the usage details for a scope by billing period. Usage details
        are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          $ref: ./examples/UsageDetailsListForBillingPeriod.json
        UsageDetailsExpand:
          $ref: ./examples/UsageDetailsExpand.json
        UsageDetailsListForBillingPeriodGroupByTag:
          $ref: ./examples/UsageDetailsListForBillingPeriodGroupByTag.json
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter
          is a key value pair string where key and value is separated by a colon (:).
        in: query
        required: false
        type: string
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart) for specified billing period
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/usageDetails:
    get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListByBillingAccount
      description: Lists the usage details by billingAccountId for a scope by current
        billing period. Usage details are available via this API only for May 1, 2014
        or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsList:
          $ref: ./examples/UsageDetailsListByBillingAccount.json
      parameters:
      - $ref: '#/parameters/billingAccountIdParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName,
          properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le',
          'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag
          filter is a key value pair string where key and value is separated by a
          colon (:).
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart)
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails
  : get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListForBillingPeriodByBillingAccount
      description: Lists the usage details based on billingAccountId for a scope by
        billing period. Usage details are available via this API only for May 1, 2014
        or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          $ref: ./examples/UsageDetailsListForBillingPeriodByBillingAccount.json
      parameters:
      - $ref: '#/parameters/billingAccountIdParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter
          is a key value pair string where key and value is separated by a colon (:).
        in: query
        required: false
        type: string
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart) for specified billing period
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Consumption/usageDetails:
    get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListByDepartment
      description: Lists the usage details by departmentId for a scope by current
        billing period. Usage details are available via this API only for May 1, 2014
        or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsList:
          $ref: ./examples/UsageDetailsListByDepartment.json
      parameters:
      - $ref: '#/parameters/departmentIdParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName,
          properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le',
          'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag
          filter is a key value pair string where key and value is separated by a
          colon (:).
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart)
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails
  : get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListForBillingPeriodByDepartment
      description: Lists the usage details based on departmentId for a scope by billing
        period. Usage details are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          $ref: ./examples/UsageDetailsListForBillingPeriodByDepartment.json
      parameters:
      - $ref: '#/parameters/departmentIdParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter
          is a key value pair string where key and value is separated by a colon (:).
        in: query
        required: false
        type: string
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart) for specified billing period
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Consumption/usageDetails:
    get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListByEnrollmentAccount
      description: Lists the usage details by enrollmentAccountId for a scope by current
        billing period. Usage details are available via this API only for May 1, 2014
        or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsList:
          $ref: ./examples/UsageDetailsListByEnrollmentAccount.json
      parameters:
      - $ref: '#/parameters/enrollmentAccountIdParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName,
          properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le',
          'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag
          filter is a key value pair string where key and value is separated by a
          colon (:).
        in: query
        required: false
        type: string
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart)
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails
  : get:
      tags:
      - UsageDetails
      operationId: UsageDetails_ListForBillingPeriodByEnrollmentAccount
      description: Lists the usage details based on enrollmentAccountId for a scope
        by billing period. Usage details are available via this API only for May 1,
        2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          $ref: ./examples/UsageDetailsListForBillingPeriodByEnrollmentAccount.json
      parameters:
      - $ref: '#/parameters/enrollmentAccountIdParameter'
      - $ref: '#/parameters/billingPeriodNameParameter'
      - name: $expand
        description: May be used to expand the properties/additionalProperties or
          properties/meterDetails within a list of usage details. By default, these
          fields are not included when listing usage details.
        in: query
        required: false
        type: string
      - name: $filter
        description: May be used to filter usageDetails by properties/usageEnd (Utc
          time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName
          or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge',
          and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter
          is a key value pair string where key and value is separated by a colon (:).
        in: query
        required: false
        type: string
      - name: $apply
        description: OData apply expression to aggregate usageDetails by tags or (tags
          and properties/usageStart) for specified billing period
        in: query
        required: false
        type: string
        x-ms-parameter-location: method
        x-ms-parameter-grouping:
          name: QueryOptions
        x-ms-client-name: Apply
      - name: $skiptoken
        description: Skiptoken is only used if a previous operation returned a partial
          result. If a previous response contains a nextLink element, the value of
          the nextLink element will include a skiptoken parameter that specifies a
          starting point to use for subsequent calls.
        in: query
        required: false
        type: string
      - name: $top
        description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        required: false
        type: integer
        minimum: 1
        maximum: 1000
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/UsageDetailsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/forecasts:
    get:
      tags:
      - Forecasts
      x-ms-odata: '#/definitions/Forecast'
      operationId: Forecasts_List
      description: Lists the forecast charges by subscriptionId.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      x-ms-examples:
        ForecastsList:
          $ref: ./examples/ForecastsList.json
        ForecastsListFilterByGrain:
          $ref: ./examples/ForecastsListFilterByGrain.json
        ForecastsListFilterByDates:
          $ref: ./examples/ForecastsListFilterByDates.json
      parameters:
      - name: $filter
        description: May be used to filter forecasts by properties/usageDate (Utc
          time), properties/chargeType or properties/grain. The filter supports 'eq',
          'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or',
          or 'not'.
        in: query
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ForecastsListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.Consumption/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists all of the available consumption REST API operations.
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":15:{s:12:\"ErrorDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  details of the error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Error
  code.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Error
  response indicates that the service is not able to process the incoming request.
  The reason is provided in the error message.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  details of the error.\";s:4:\"$ref\";s:26:\"#/definitions/ErrorDetails\";}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  Consumption REST API operation.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Operation
  name: {provider}/{resource}/{operation}.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  object that represents the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Service
  provider: Microsoft.Consumption.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Resource
  on which the operation is performed: UsageDetail, etc.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Operation
  type: Read, write, delete, etc.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}}}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"Result
  of listing consumption operations. It contains a list of operations and a URL link
  to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"List
  of consumption operations supported by the Microsoft.Consumption resource provider.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  Id.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  type.\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";}}s:19:\"x-ms-azure-resource\";b:1;}s:16:\"PriceSheetResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"An
  pricesheet resource.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:29:\"#/definitions/PriceSheetModel\";s:5:\"title\";s:22:\"Price
  sheet properties\";}}}s:15:\"PriceSheetModel\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"price
  sheet result. It contains the pricesheet associated with billing period\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"pricesheets\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Price
  sheet\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PriceSheetProperties\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:20:\"PriceSheetProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  properties of the price sheet.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"billingPeriodId\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  id of the billing period resource that the usage belongs to.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"meterId\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"The
  meter id (GUID)\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;}s:12:\"meterDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  details about the meter. By default this is not populated, unless it's specified
  in $expand.\";s:4:\"$ref\";s:26:\"#/definitions/MeterDetails\";s:8:\"readOnly\";b:1;}s:13:\"unitOfMeasure\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Unit
  of measure\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:16:\"includedQuantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Included
  quality for an offer\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:10:\"partNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Part
  Number\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"unitPrice\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Unit
  Price\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:12:\"currencyCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Currency
  Code\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"offerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Offer
  Id\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:8:\"Forecast\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"A
  forecast resource.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:32:\"#/definitions/ForecastProperties\";s:5:\"title\";s:19:\"Forecast
  properties\";}}}s:12:\"MeterDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  properties of the meter detail.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"meterName\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  name of the meter, within the given meter category\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"meterCategory\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  category of the meter, for example, 'Cloud services', 'Networking', etc..\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:16:\"meterSubCategory\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  subcategory of the meter, for example, 'A6 Cloud services', 'ExpressRoute (IXP)',
  etc..\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"unit\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  unit in which the meter consumption is charged, for example, 'Hours', 'GB', etc.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"meterLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  location in which the Azure service is available.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:21:\"totalIncludedQuantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  total included quantity associated with the offer.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:18:\"pretaxStandardRate\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  pretax listing price.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}}}s:11:\"UsageDetail\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"An
  usage detail resource.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:35:\"#/definitions/UsageDetailProperties\";s:5:\"title\";s:23:\"Usage
  detail properties\";}}}s:22:\"UsageDetailsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Result
  of listing usage details. It contains a list of available usage details in reverse
  chronological order by billing period.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"The
  list of usage details.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UsageDetail\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:21:\"UsageDetailProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  properties of the usage detail.\";s:10:\"properties\";O:8:\"stdClass\":26:{s:15:\"billingPeriodId\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  id of the billing period resource that the usage belongs to.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"invoiceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  id of the invoice resource that the usage belongs to.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"usageStart\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  start of the date time range covered by the usage detail.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:8:\"usageEnd\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  end of the date time range covered by the usage detail.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:12:\"instanceName\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  name of the resource instance that the usage is about.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"instanceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  uri of the resource instance that the usage is about.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:16:\"instanceLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  location of the resource instance that the usage is about.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  ISO currency in which the meter is charged, for example, USD.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"usageQuantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  quantity of usage.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:16:\"billableQuantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  billable usage quantity.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:10:\"pretaxCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  amount of cost before tax.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:11:\"isEstimated\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  estimated usage is subject to change.\";s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:7:\"meterId\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  meter id (GUID).\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;}s:12:\"meterDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  details about the meter. By default this is not populated, unless it's specified
  in $expand.\";s:4:\"$ref\";s:26:\"#/definitions/MeterDetails\";s:8:\"readOnly\";b:1;}s:16:\"subscriptionGuid\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Subscription
  guid.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;}s:16:\"subscriptionName\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Subscription
  name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"accountName\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Account
  name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:14:\"departmentName\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Department
  name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"product\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Product
  name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:15:\"consumedService\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Consumed
  service name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"costCenter\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  cost center of this department if it is a department and a costcenter exists\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"partNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Part
  Number\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:12:\"resourceGuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  Guid\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"offerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Offer
  Id\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:23:\"chargesBilledSeparately\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Charges
  billed separately\";s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:20:\"additionalProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Additional
  details of this usage item. By default this is not populated, unless it's specified
  in $expand.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:19:\"ForecastsListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Result
  of listing forecasts. It contains a list of available forecasts.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  list of forecasts.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Forecast\";}}}}s:18:\"ForecastProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  properties of the forecast charge.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"usageDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  usage date of the forecast.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:5:\"grain\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  granularity of forecast.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:5:\"Daily\";i:1;s:7:\"Monthly\";i:2;s:6:\"Yearly\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:5:\"Grain\";s:13:\"modelAsString\";b:1;}}s:6:\"charge\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  amount of charge\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  ISO currency in which the meter is charged, for example, USD.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"chargeType\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  type of the charge. Could be actual or forecast\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"Actual\";i:1;s:8:\"Forecast\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"ChargeType\";s:13:\"modelAsString\";b:1;}}s:16:\"confidenceLevels\";O:8:\"stdClass\":4:{s:11:\"description\";s:101:\"The
  details about the forecast confidence levels. This is populated only when chargeType
  is Forecast.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"percentage\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  percentage level of the confidence\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}s:5:\"bound\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"The
  boundary of the percentage, values could be 'Upper' or 'Lower'\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Upper\";i:1;s:5:\"Lower\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:5:\"Bound\";s:13:\"modelAsString\";b:1;}}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  amount of forecast within the percentage level\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;}}}s:8:\"readOnly\";b:1;}}}}"
...
