---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:280:\"The Microsoft
  Azure Network management API provides a RESTful set of web services that interact
  with Microsoft Azure Networks service to manage your network resources. The API
  has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:5:\"title\";s:23:\"NetworkManagementClient\";s:7:\"version\";s:10:\"2017-10-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:157:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2017-10-01/operation.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:17:\"network-operation\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.Network/operations:
    get:
      description: Lists all of the available Network Rest API operations.
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
      x-ms-examples:
        Get a list of operations for a resource provider:
          parameters:
            api-version: "2017-10-01"
            location: westus
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - display:
                    description: Gets LocalNetworkGateway
                    operation: Get LocalNetworkGateway
                    provider: Microsoft Network
                    resource: LocalNetworkGateway
                  name: Microsoft.Network/localnetworkgateways/read
                - display:
                    description: Creates or updates an existing LocalNetworkGateway
                    operation: Create or update LocalNetworkGateway
                    provider: Microsoft Network
                    resource: LocalNetworkGateway
                  name: Microsoft.Network/localnetworkgateways/write
                - display:
                    description: Deletes LocalNetworkGateway
                    operation: Delete LocalNetworkGateway
                    provider: Microsoft Network
                    resource: LocalNetworkGateway
                  name: Microsoft.Network/localnetworkgateways/delete
                - display:
                    description: Gets available metrics for the Network Interface
                    operation: Read Network Interface metric definitions
                    provider: Microsoft Network
                    resource: Network Interface metric definition
                  name: Microsoft.Network/networkInterfaces/providers/Microsoft.Insights/metricDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: 01:00:00
                          retention: 00:00:00
                          timeGrain: 00:01:00
                        - blobDuration: 1.00:00:00
                          retention: 00:00:00
                          timeGrain: 01:00:00
                        dimensions: []
                        displayDescription: Number of bytes the Network Interface
                          sent
                        displayName: Bytes Sent
                        enableRegionalMdmAccount: false
                        fillGapWithZero: false
                        isInternal: false
                        metricFilterPattern: ^__Ready__$
                        name: BytesSentRate
                        unit: Count
                      - aggregationType: Total
                        availabilities:
                        - blobDuration: 01:00:00
                          retention: 00:00:00
                          timeGrain: 00:01:00
                        - blobDuration: 1.00:00:00
                          retention: 00:00:00
                          timeGrain: 01:00:00
                        dimensions: []
                        displayDescription: Number of bytes the Network Interface
                          received
                        displayName: Bytes Received
                        enableRegionalMdmAccount: false
                        fillGapWithZero: false
                        isInternal: false
                        metricFilterPattern: ^__Ready__$
                        name: BytesReceivedRate
                        unit: Count
                - display:
                    description: Gets the events for network security group
                    operation: Get Network Security Group Event Log Definitions
                    provider: Microsoft Network
                    resource: Network Security Groups Log Definitions
                  name: Microsoft.Network/networksecuritygroups/providers/Microsoft.Insights/logDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      logSpecifications:
                      - blobDuration: PT1H
                        displayName: Network Security Group Event
                        name: NetworkSecurityGroupEvent
                      - blobDuration: PT1H
                        displayName: Network Security Group Rule Counter
                        name: NetworkSecurityGroupRuleCounter
                      - blobDuration: PT1H
                        displayName: Network Security Group Rule Flow Event
                        name: NetworkSecurityGroupFlowEvent
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:12:\"Availability\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Availability
  of the metric.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"blobDuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Duration
  of the availability blob.\";s:4:\"type\";s:6:\"string\";}s:9:\"retention\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  retention of the availability.\";s:4:\"type\";s:6:\"string\";}s:9:\"timeGrain\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  time grain of the availability.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"Dimension\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Dimension
  of the metric.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  display name of the dimension.\";s:4:\"type\";s:6:\"string\";}s:12:\"internalName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  internal name of the dimension.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the dimension.\";s:4:\"type\";s:6:\"string\";}}}s:16:\"LogSpecification\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Description
  of logging specification.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"blobDuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Duration
  of the blob.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  display name of the specification.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the specification.\";s:4:\"type\";s:6:\"string\";}}}s:19:\"MetricSpecification\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Description
  of metrics specification.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:15:\"aggregationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  aggregation type.\";s:4:\"type\";s:6:\"string\";}s:14:\"availabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"List
  of availability.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Availability\";}s:4:\"type\";s:5:\"array\";}s:10:\"dimensions\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"List
  of dimensions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";}s:4:\"type\";s:5:\"array\";}s:18:\"displayDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  description of the metric.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  display name of the metric.\";s:4:\"type\";s:6:\"string\";}s:24:\"enableRegionalMdmAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Whether
  regional MDM account enabled.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"fillGapWithZero\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Whether
  gaps would be filled with zeros.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"isInternal\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Whether
  the metric is internal.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"metricFilterPattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Pattern
  for the filter of the metric.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the metric.\";s:4:\"type\";s:6:\"string\";}s:31:\"resourceIdDimensionNameOverride\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  resource Id dimension name override.\";s:4:\"type\";s:6:\"string\";}s:16:\"sourceMdmAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  source MDM account.\";s:4:\"type\";s:6:\"string\";}s:18:\"sourceMdmNamespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  source MDM namespace.\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Units
  the metric to be displayed in.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Network
  REST API operation definition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Display
  metadata associated with the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Description
  of the operation.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Type
  of the operation: get, read, delete, etc.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Service
  provider: Microsoft Network.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Resource
  on which the operation is performed.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Operation
  name: {provider}/{resource}/{operation}\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Origin
  of the operation.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/OperationPropertiesFormat\";s:11:\"description\";s:28:\"Operation
  properties format.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"Result
  of the request to list Network operations. It contains a list of operations and
  a URL link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"List
  of Network operations supported by the Network resource provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"OperationPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Description
  of operation properties format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"serviceSpecification\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Specification
  of the service.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"logSpecifications\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Operation
  log specification.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/LogSpecification\";}s:4:\"type\";s:5:\"array\";}s:20:\"metricSpecifications\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Operation
  service specification.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/MetricSpecification\";}s:4:\"type\";s:5:\"array\";}}}}}}"
...
