---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:28:\"RecoveryServicesBackupClient\";s:7:\"version\";s:10:\"2016-12-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:188:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-12-01/backupManagement.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:39:\"recoveryservicesbackup-backupManagement\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:45:\"azure_recoveryservicesbackup_backupmanagement\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupEngines
  : get:
      deprecated: false
      description: Backup management servers registered to Recovery Services Vault.
        Returns a pageable list of servers.
      operationId: BackupEngines_List
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupEngineBaseResourceList'
      tags:
      - BackupEngines
      x-ms-odata: '#/definitions/BMSBackupEnginesQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupEngines/{backupEngineName}
  : get:
      deprecated: false
      description: Returns backup management server registered to Recovery Services
        Vault.
      operationId: BackupEngines_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Name of the backup management server.
        in: path
        name: backupEngineName
        required: true
        type: string
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupEngineBaseResource'
      tags:
      - BackupEngines
      x-ms-odata: '#/definitions/BMSBackupEngineQueryObject'
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/operationResults/{operationId}
  : get:
      deprecated: false
      description: Provides the result of the refresh operation triggered by the BeginRefresh
        operation.
      operationId: ProtectionContainerRefreshOperationResults_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Fabric name associated with the container.
        in: path
        name: fabricName
        required: true
        type: string
      - description: Operation ID associated with the operation whose result needs
          to be fetched.
        in: path
        name: operationId
        required: true
        type: string
      responses:
        202:
          description: Accepted
        204:
          description: NoContent
      tags:
      - ProtectionContainerRefreshOperationResults
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}
  : get:
      deprecated: false
      description: Gets details of the specific container registered to your Recovery
        Services Vault.
      operationId: ProtectionContainers_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Name of the fabric where the container belongs.
        in: path
        name: fabricName
        required: true
        type: string
      - description: Name of the container whose details need to be fetched.
        in: path
        name: containerName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionContainerResource'
      tags:
      - ProtectionContainers
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/operationResults/{operationId}
  : get:
      deprecated: false
      description: Fetches the result of any operation on the container.
      operationId: ProtectionContainerOperationResults_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Fabric name associated with the container.
        in: path
        name: fabricName
        required: true
        type: string
      - description: Container name whose information should be fetched.
        in: path
        name: containerName
        required: true
        type: string
      - description: Operation ID which represents the operation whose result needs
          to be fetched.
        in: path
        name: operationId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionContainerResource'
        202:
          description: Accepted
        204:
          description: NoContent
      tags:
      - ProtectionContainerOperationResults
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}
  : delete:
      deprecated: false
      description: Used to disable backup of an item within a container. This is an
        asynchronous operation. To know the status of the request, call the GetItemOperationResult
        API.
      operationId: ProtectedItems_Delete
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Fabric name associated with the backed up item.
        in: path
        name: fabricName
        required: true
        type: string
      - description: Container name associated with the backed up item.
        in: path
        name: containerName
        required: true
        type: string
      - description: Backed up item to be deleted.
        in: path
        name: protectedItemName
        required: true
        type: string
      responses:
        202:
          description: Accepted
        204:
          description: NoContent
      tags:
      - ProtectedItems
    get:
      deprecated: false
      description: Provides the details of the backed up item. This is an asynchronous
        operation. To know the status of the operation, call the GetItemOperationResult
        API.
      operationId: ProtectedItems_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Fabric name associated with the backed up item.
        in: path
        name: fabricName
        required: true
        type: string
      - description: Container name associated with the backed up item.
        in: path
        name: containerName
        required: true
        type: string
      - description: Backed up item name whose details are to be fetched.
        in: path
        name: protectedItemName
        required: true
        type: string
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectedItemResource'
      tags:
      - ProtectedItems
      x-ms-odata: '#/definitions/GetProtectedItemQueryObject'
    put:
      deprecated: false
      description: Enables backup of an item or to modifies the backup policy information
        of an already backed up item. This is an asynchronous operation. To know the
        status of the operation, call the GetItemOperationResult API.
      operationId: ProtectedItems_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Fabric name associated with the backup item.
        in: path
        name: fabricName
        required: true
        type: string
      - description: Container name associated with the backup item.
        in: path
        name: containerName
        required: true
        type: string
      - description: Item name to be backed up.
        in: path
        name: protectedItemName
        required: true
        type: string
      - description: resource backed up item
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ProtectedItemResource'
      responses:
        202:
          description: Accepted
      tags:
      - ProtectedItems
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/backup
  : post:
      deprecated: false
      description: Triggers backup for specified backed up item. This is an asynchronous
        operation. To know the status of the operation, call GetProtectedItemOperationResult
        API.
      operationId: Backups_Trigger
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Fabric name associated with the backup item.
        in: path
        name: fabricName
        required: true
        type: string
      - description: Container name associated with the backup item.
        in: path
        name: containerName
        required: true
        type: string
      - description: Backup item for which backup needs to be triggered.
        in: path
        name: protectedItemName
        required: true
        type: string
      - description: resource backup request
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/BackupRequestResource'
      responses:
        202:
          description: Accepted
      tags:
      - Backups
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationResults/{operationId}
  : get:
      deprecated: false
      description: Fetches the result of any operation on the backup item.
      operationId: ProtectedItemOperationResults_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Fabric name associated with the backup item.
        in: path
        name: fabricName
        required: true
        type: string
      - description: Container name associated with the backup item.
        in: path
        name: containerName
        required: true
        type: string
      - description: Backup item name whose details are to be fetched.
        in: path
        name: protectedItemName
        required: true
        type: string
      - description: OperationID which represents the operation whose result needs
          to be fetched.
        in: path
        name: operationId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectedItemResource'
        202:
          description: Accepted
        204:
          description: NoContent
      tags:
      - ProtectedItemOperationResults
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationsStatus/{operationId}
  : get:
      deprecated: false
      description: Fetches the status of an operation such as triggering a backup,
        restore. The status can be in progress, completed or failed. You can refer
        to the OperationStatus enum for all the possible states of the operation.
        Some operations create jobs. This method returns the list of jobs associated
        with the operation.
      operationId: ProtectedItemOperationStatuses_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Fabric name associated with the backup item.
        in: path
        name: fabricName
        required: true
        type: string
      - description: Container name associated with the backup item.
        in: path
        name: containerName
        required: true
        type: string
      - description: Backup item name whose details are to be fetched.
        in: path
        name: protectedItemName
        required: true
        type: string
      - description: OperationID represents the operation whose status needs to be
          fetched.
        in: path
        name: operationId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationStatus'
      tags:
      - ProtectedItemOperationStatuses
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints
  : get:
      deprecated: false
      description: Lists the backup copies for the backed up item.
      operationId: RecoveryPoints_List
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Fabric name associated with the backed up item.
        in: path
        name: fabricName
        required: true
        type: string
      - description: Container name associated with the backed up item.
        in: path
        name: containerName
        required: true
        type: string
      - description: Backed up item whose backup copies are to be fetched.
        in: path
        name: protectedItemName
        required: true
        type: string
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RecoveryPointResourceList'
      tags:
      - RecoveryPoints
      x-ms-odata: '#/definitions/BMSRPQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}
  : get:
      deprecated: false
      description: Provides the information of the backed up data identified using
        RecoveryPointID. This is an asynchronous operation. To know the status of
        the operation, call the GetProtectedItemOperationResult API.
      operationId: RecoveryPoints_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Fabric name associated with backed up item.
        in: path
        name: fabricName
        required: true
        type: string
      - description: Container name associated with backed up item.
        in: path
        name: containerName
        required: true
        type: string
      - description: Backed up item name whose backup data needs to be fetched.
        in: path
        name: protectedItemName
        required: true
        type: string
      - description: RecoveryPointID represents the backed up data to be fetched.
        in: path
        name: recoveryPointId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RecoveryPointResource'
      tags:
      - RecoveryPoints
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/provisionInstantItemRecovery
  : post:
      deprecated: false
      description: Provisions a script which invokes an iSCSI connection to the backup
        data. Executing this script opens a file explorer displaying all the recoverable
        files and folders. This is an asynchronous operation. To know the status of
        provisioning, call GetProtectedItemOperationResult API.
      operationId: ItemLevelRecoveryConnections_Provision
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Fabric name associated with the backed up items.
        in: path
        name: fabricName
        required: true
        type: string
      - description: Container name associated with the backed up items.
        in: path
        name: containerName
        required: true
        type: string
      - description: Backed up item name whose files/folders are to be restored.
        in: path
        name: protectedItemName
        required: true
        type: string
      - description: Recovery point ID which represents backed up data. iSCSI connection
          will be provisioned for this backed up data.
        in: path
        name: recoveryPointId
        required: true
        type: string
      - description: resource ILR request
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ILRRequestResource'
      responses:
        202:
          description: Accepted
      tags:
      - ItemLevelRecoveryConnections
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/restore
  : post:
      deprecated: false
      description: Restores the specified backed up data. This is an asynchronous
        operation. To know the status of this API call, use GetProtectedItemOperationResult
        API.
      operationId: Restores_Trigger
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Fabric name associated with the backed up items.
        in: path
        name: fabricName
        required: true
        type: string
      - description: Container name associated with the backed up items.
        in: path
        name: containerName
        required: true
        type: string
      - description: Backed up item to be restored.
        in: path
        name: protectedItemName
        required: true
        type: string
      - description: Recovery point ID which represents the backed up data to be restored.
        in: path
        name: recoveryPointId
        required: true
        type: string
      - description: resource restore request
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/RestoreRequestResource'
      responses:
        202:
          description: Accepted
      tags:
      - Restores
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/revokeInstantItemRecovery
  : post:
      deprecated: false
      description: Revokes an iSCSI connection which can be used to download a script.
        Executing this script opens a file explorer displaying all recoverable files
        and folders. This is an asynchronous operation.
      operationId: ItemLevelRecoveryConnections_Revoke
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Fabric name associated with the backed up items.
        in: path
        name: fabricName
        required: true
        type: string
      - description: Container name associated with the backed up items.
        in: path
        name: containerName
        required: true
        type: string
      - description: Backed up item name whose files/folders are to be restored.
        in: path
        name: protectedItemName
        required: true
        type: string
      - description: Recovery point ID which represents backed up data. iSCSI connection
          will be revoked for this backed up data.
        in: path
        name: recoveryPointId
        required: true
        type: string
      responses:
        202:
          description: Accepted
      tags:
      - ItemLevelRecoveryConnections
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/refreshContainers
  : post:
      deprecated: false
      description: Discovers all the containers in the subscription that can be backed
        up to Recovery Services Vault. This is an asynchronous operation. To know
        the status of the operation, call GetRefreshOperationResult API.
      operationId: ProtectionContainers_Refresh
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Fabric name associated the container.
        in: path
        name: fabricName
        required: true
        type: string
      responses:
        202:
          description: Accepted
      tags:
      - ProtectionContainers
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/operationResults/{operationId}
  : get:
      deprecated: false
      description: Gets the operation result of operation triggered by Export Jobs
        API. If the operation is successful, then it also contains URL of a Blob and
        a SAS key to access the same. The blob contains exported jobs in JSON serialized
        format.
      operationId: ExportJobsOperationResults_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OperationID which represents the export job.
        in: path
        name: operationId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationResultInfoBaseResource'
        202:
          description: Accepted
      tags:
      - ExportJobsOperationResults
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/cancel
  : post:
      deprecated: false
      description: Cancels a job. This is an asynchronous operation. To know the status
        of the cancellation, call GetCancelOperationResult API.
      operationId: JobCancellations_Trigger
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Name of the job to cancel.
        in: path
        name: jobName
        required: true
        type: string
      responses:
        202:
          description: Accepted
      tags:
      - JobCancellations
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/operationResults/{operationId}
  : get:
      deprecated: false
      description: Fetches the result of any operation.rn            the operation.
      operationId: JobOperationResults_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Job name whose operation result has to be fetched.
        in: path
        name: jobName
        required: true
        type: string
      - description: OperationID which represents the operation whose result has to
          be fetched.
        in: path
        name: operationId
        required: true
        type: string
      responses:
        200:
          description: OK
        202:
          description: Accepted
        204:
          description: NoContent
      tags:
      - JobOperationResults
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobsExport
  : post:
      deprecated: false
      description: Triggers export of jobs specified by filters and returns an OperationID
        to track.
      operationId: Jobs_Export
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      responses:
        202:
          description: Accepted
      tags:
      - Jobs
      x-ms-odata: '#/definitions/JobQueryObject'
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupOperationResults/{operationId}
  : get:
      deprecated: false
      description: Provides the status of the delete operations such as deleting backed
        up item. Once the operation has started, the status code in the response would
        be Accepted. It will continue to be in this state till it reaches completion.
        On successful completion, the status code will be OK. This method expects
        OperationID as an argument. OperationID is part of the Location header of
        the operation response.
      operationId: BackupOperationResults_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OperationID which represents the operation.
        in: path
        name: operationId
        required: true
        type: string
      responses:
        200:
          description: OK
        202:
          description: Accepted
        204:
          description: NoContent
      tags:
      - BackupOperationResults
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupOperations/{operationId}
  : get:
      deprecated: false
      description: Fetches the status of an operation such as triggering a backup,
        restore. The status can be in progress, completed or failed. You can refer
        to the OperationStatus enum for all the possible states of an operation. Some
        operations create jobs. This method returns the list of jobs when the operation
        is complete.
      operationId: BackupOperationStatuses_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OperationID which represents the operation.
        in: path
        name: operationId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationStatus'
      tags:
      - BackupOperationStatuses
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies
  : get:
      deprecated: false
      description: Lists of backup policies associated with Recovery Services Vault.
        API provides pagination parameters to fetch scoped results.
      operationId: BackupPolicies_List
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionPolicyResourceList'
      tags:
      - BackupPolicies
      x-ms-odata: '#/definitions/ProtectionPolicyQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}
  : delete:
      deprecated: false
      description: Deletes specified backup policy from your Recovery Services Vault.
        This is an asynchronous operation. Status of the operation can be fetched
        using GetPolicyOperationResult API.
      operationId: ProtectionPolicies_Delete
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Backup policy to be deleted.
        in: path
        name: policyName
        required: true
        type: string
      responses:
        200:
          description: OK
        204:
          description: NoContent
      tags:
      - ProtectionPolicies
    get:
      deprecated: false
      description: Provides the details of the backup policies associated to Recovery
        Services Vault. This is an asynchronous operation. Status of the operation
        can be fetched using GetPolicyOperationResult API.
      operationId: ProtectionPolicies_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Backup policy information to be fetched.
        in: path
        name: policyName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionPolicyResource'
      tags:
      - ProtectionPolicies
    put:
      deprecated: false
      description: Creates or modifies a backup policy. This is an asynchronous operation.
        Status of the operation can be fetched using GetPolicyOperationResult API.
      operationId: ProtectionPolicies_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Backup policy to be created.
        in: path
        name: policyName
        required: true
        type: string
      - description: resource backup policy
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ProtectionPolicyResource'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionPolicyResource'
        202:
          description: Accepted
      tags:
      - ProtectionPolicies
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operationResults/{operationId}
  : get:
      deprecated: false
      description: Provides the result of an operation.
      operationId: ProtectionPolicyOperationResults_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Backup policy name whose operation's result needs to be fetched.
        in: path
        name: policyName
        required: true
        type: string
      - description: Operation ID which represents the operation whose result needs
          to be fetched.
        in: path
        name: operationId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionPolicyResource'
      tags:
      - ProtectionPolicyOperationResults
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operations/{operationId}
  : get:
      deprecated: false
      description: Provides the status of the asynchronous operations like backup,
        restore. The status can be in progress, completed or failed. You can refer
        to the Operation Status enum for all the possible states of an operation.
        Some operations create jobs. This method returns the list of jobs associated
        with operation.
      operationId: ProtectionPolicyOperationStatuses_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Backup policy name whose operation's status needs to be fetched.
        in: path
        name: policyName
        required: true
        type: string
      - description: Operation ID which represents an operation whose status needs
          to be fetched.
        in: path
        name: operationId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationStatus'
      tags:
      - ProtectionPolicyOperationStatuses
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectableItems
  : get:
      deprecated: false
      description: Provides a pageable list of protectable objects within your subscription
        according to the query filter and the pagination parameters.
      operationId: BackupProtectableItems_List
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkloadProtectableItemResourceList'
      tags:
      - BackupProtectableItems
      x-ms-odata: '#/definitions/BMSPOQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectedItems
  : get:
      deprecated: false
      description: Provides a pageable list of all items that are backed up within
        a vault.
      operationId: BackupProtectedItems_List
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectedItemResourceList'
      tags:
      - BackupProtectedItems
      x-ms-odata: '#/definitions/ProtectedItemQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectionContainers
  : get:
      deprecated: false
      description: Lists the containers registered to Recovery Services Vault.
      operationId: BackupProtectionContainers_List
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionContainerResourceList'
      tags:
      - BackupProtectionContainers
      x-ms-odata: '#/definitions/BMSContainerQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupSecurityPIN
  : post:
      deprecated: false
      description: Get the security PIN.
      operationId: SecurityPINs_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TokenInformation'
      tags:
      - SecurityPINs
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupUsageSummaries
  : get:
      deprecated: false
      description: Fetches the backup management usage summaries of the vault.
      operationId: BackupUsageSummaries_List
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupManagementUsageList'
      tags:
      - BackupUsageSummaries
      x-ms-odata: '#/definitions/BMSBackupSummariesQueryObject'
      x-ms-pageable: []
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupconfig/vaultconfig
  : get:
      deprecated: false
      description: Fetches resource vault config.
      operationId: BackupResourceVaultConfigs_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupResourceVaultConfigResource'
      tags:
      - BackupResourceVaultConfigs
    patch:
      deprecated: false
      description: Updates vault security config.
      operationId: BackupResourceVaultConfigs_Update
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: resource config request
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/BackupResourceVaultConfigResource'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupResourceVaultConfigResource'
      tags:
      - BackupResourceVaultConfigs
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig
  : get:
      deprecated: false
      description: Fetches resource storage config.
      operationId: BackupResourceStorageConfigs_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupResourceConfigResource'
      tags:
      - BackupResourceStorageConfigs
    patch:
      deprecated: false
      description: Updates vault storage model type.
      operationId: BackupResourceStorageConfigs_Update
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      responses:
        204:
          description: NoContent
      tags:
      - BackupResourceStorageConfigs
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":111:{s:26:\"AzureBackupServerContainer\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProtectionContainer\";}}s:11:\"description\";s:68:\"AzureBackupServer
  (DPMVenus) workload-specific protection container.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"DPMServers\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"List
  of BackupEngines protecting the container\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"UpgradeAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"To
  check if upgrade available\";s:4:\"type\";s:7:\"boolean\";}s:13:\"canReRegister\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Specifies
  whether the container is re-registrable.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"containerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"ID
  of container.\";s:4:\"type\";s:6:\"string\";}s:15:\"dpmAgentVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Backup
  engine Agent version\";s:4:\"type\";s:6:\"string\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/DPMContainerExtendedInfo\";s:11:\"description\";s:31:\"Extended
  Info of the container.\";}s:18:\"protectedItemCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Number
  of protected items in the BackupEngine\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:16:\"protectionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Protection
  status of the container.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:26:\"AzureBackupServerContainer\";}s:23:\"AzureBackupServerEngine\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BackupEngineBase\";}}s:11:\"description\";s:74:\"Backup
  engine type when Azure Backup Server is used to manage the backups.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:23:\"AzureBackupServerEngine\";}s:34:\"AzureIaaSClassicComputeVMContainer\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/IaaSVMContainer\";}}s:11:\"description\";s:77:\"IaaS
  VM workload-specific backup item representing a classic virtual machine.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:40:\"Microsoft.ClassicCompute/virtualMachines\";}s:40:\"AzureIaaSClassicComputeVMProtectableItem\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/IaaSVMProtectableItem\";}}s:11:\"description\";s:74:\"IaaS
  VM workload-specific backup item representing the Classic Compute VM.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:40:\"Microsoft.ClassicCompute/virtualMachines\";}s:38:\"AzureIaaSClassicComputeVMProtectedItem\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AzureIaaSVMProtectedItem\";}}s:11:\"description\";s:74:\"IaaS
  VM workload-specific backup item representing the Classic Compute VM.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:40:\"Microsoft.ClassicCompute/virtualMachines\";}s:27:\"AzureIaaSComputeVMContainer\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/IaaSVMContainer\";}}s:11:\"description\";s:93:\"IaaS
  VM workload-specific backup item representing an Azure Resource Manager virtual
  machine.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:33:\"Microsoft.Compute/virtualMachines\";}s:33:\"AzureIaaSComputeVMProtectableItem\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/IaaSVMProtectableItem\";}}s:11:\"description\";s:81:\"IaaS
  VM workload-specific backup item representing the Azure Resource Manager VM.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:33:\"Microsoft.Compute/virtualMachines\";}s:31:\"AzureIaaSComputeVMProtectedItem\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AzureIaaSVMProtectedItem\";}}s:11:\"description\";s:81:\"IaaS
  VM workload-specific backup item representing the Azure Resource Manager VM.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:33:\"Microsoft.Compute/virtualMachines\";}s:24:\"AzureIaaSVMHealthDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Azure
  IaaS VM workload-specific Health Details.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Health
  Code\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Health
  Message\";s:4:\"type\";s:6:\"string\";}s:15:\"recommendations\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Health
  Recommended Actions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Health
  Title\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AzureIaaSVMProtectedItem\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:11:\"description\";s:38:\"IaaS
  VM workload-specific backup item.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/AzureIaaSVMProtectedItemExtendedInfo\";s:11:\"description\";s:44:\"Additional
  information for this backup item.\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Friendly
  name of the VM represented by this backup item.\";s:4:\"type\";s:6:\"string\";}s:13:\"healthDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Health
  details on this backup item.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AzureIaaSVMHealthDetails\";}s:4:\"type\";s:5:\"array\";}s:12:\"healthStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Health
  status of protected item\";s:4:\"enum\";a:4:{i:0;s:6:\"Passed\";i:1;s:14:\"ActionRequired\";i:2;s:15:\"ActionSuggested\";i:3;s:7:\"Invalid\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"HealthStatus\";}}s:16:\"lastBackupStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Last
  backup operation status. Possible values: Healthy, Unhealthy.\";s:4:\"type\";s:6:\"string\";}s:14:\"lastBackupTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Timestamp
  of the last backup operation on this backup item.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"protectedItemDataId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Data
  ID of the protected item.\";s:4:\"type\";s:6:\"string\";}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Backup
  state of this backup item.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:9:\"IRPending\";i:2;s:9:\"Protected\";i:3;s:15:\"ProtectionError\";i:4;s:17:\"ProtectionStopped\";i:5;s:16:\"ProtectionPaused\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"ProtectionState\";}}s:16:\"protectionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Backup
  status of this backup item.\";s:4:\"type\";s:6:\"string\";}s:16:\"virtualMachineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Fully
  qualified ARM ID of the virtual machine represented by this item.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:24:\"AzureIaaSVMProtectedItem\";}s:36:\"AzureIaaSVMProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Additional
  information on Azure IaaS VM specific backup item.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  oldest backup copy available for this backup item.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"policyInconsistent\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Specifies
  if backup policy associated with the backup item is inconsistent.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Number
  of backup copies available for this backup item.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:27:\"AzureIaaSVMProtectionPolicy\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}s:11:\"description\";s:40:\"IaaS
  VM workload-specific backup policy.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:66:\"Retention
  policy with the details on backup copy retention ranges.\";}s:14:\"schedulePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SchedulePolicy\";s:11:\"description\";s:51:\"Backup
  schedule specified as part of backup policy.\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"TimeZone
  optional input as string. For example: TimeZone = \"Pacific Standard Time\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:11:\"AzureIaasVM\";}s:17:\"AzureSqlContainer\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProtectionContainer\";}}s:11:\"description\";s:38:\"Azure
  Sql workload-specific container.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:17:\"AzureSqlContainer\";}s:21:\"AzureSqlProtectedItem\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:11:\"description\";s:40:\"Azure
  SQL workload-specific backup item.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/AzureSqlProtectedItemExtendedInfo\";s:11:\"description\";s:44:\"Additional
  information for this backup item.\";}s:19:\"protectedItemDataId\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Internal
  ID of a backup item. Used by Azure SQL Backup engine to contact Recovery Services.\";s:4:\"type\";s:6:\"string\";}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Backup
  state of the backed up item.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:9:\"IRPending\";i:2;s:9:\"Protected\";i:3;s:15:\"ProtectionError\";i:4;s:17:\"ProtectionStopped\";i:5;s:16:\"ProtectionPaused\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"ProtectedItemState\";}}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:31:\"Microsoft.Sql/servers/databases\";}s:33:\"AzureSqlProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Additional
  information on Azure Sql specific protected item.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  oldest backup copy available for this item in the service.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"policyState\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"State
  of the backup policy associated with this backup item.\";s:4:\"type\";s:6:\"string\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Number
  of available backup copies associated with this backup item.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AzureSqlProtectionPolicy\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}s:11:\"description\";s:42:\"Azure
  SQL workload-specific backup policy.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:25:\"Retention
  policy details.\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:8:\"AzureSql\";}s:10:\"BEKDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"BEK
  is bitlocker encrpytion key.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"secretData\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"BEK
  data.\";s:4:\"type\";s:6:\"string\";}s:9:\"secretUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Secret
  is BEK.\";s:4:\"type\";s:6:\"string\";}s:13:\"secretVaultId\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"ID
  of the Key Vault where this Secret is stored.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"BMSBackupEngineQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Query
  parameters to fetch list of backup engines.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"expand\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"attribute
  to add extended info\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"BMSBackupEnginesQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Query
  parameters to fetch list of backup engines.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Backup
  management type for the backup engine.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"BackupManagementType\";}}s:6:\"expand\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Attribute
  to add extended info.\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Friendly
  name of the backup engine.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"BMSBackupSummariesQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Query
  parameters to fetch backup summaries.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Backup
  management type for this container.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:31:\"BackupProtectedItemCountSummary\";i:2;s:37:\"BackupProtectionContainerCountSummary\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:4:\"Type\";}}}s:4:\"type\";s:6:\"object\";}s:23:\"BMSContainerQueryObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"The
  query filters that can be used with the list containers API.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"backupEngineName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Backup
  engine name\";s:4:\"type\";s:6:\"string\";}s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Backup
  management type for this container.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"BackupManagementType\";}}s:13:\"containerType\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Type
  of container for filter\";s:4:\"enum\";a:11:{i:0;s:7:\"Invalid\";i:1;s:7:\"Unknown\";i:2;s:15:\"IaasVMContainer\";i:3;s:22:\"IaasVMServiceContainer\";i:4;s:12:\"DPMContainer\";i:5;s:26:\"AzureBackupServerContainer\";i:6;s:12:\"MABContainer\";i:7;s:7:\"Cluster\";i:8;s:17:\"AzureSqlContainer\";i:9;s:7:\"Windows\";i:10;s:7:\"VCenter\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"ContainerType\";}}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Friendly
  name of this container.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Status
  of registration of this container with the Recovery Services Vault.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:20:\"backupManagementType\";}s:4:\"type\";s:6:\"object\";}s:16:\"BMSPOQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Filters
  to list items that can be backed up.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Backup
  management type.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"BackupManagementType\";}}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Friendly
  name.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Backup
  status query parameter.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"BMSRPQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Filters
  to list backup copies.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"endDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Backup
  copies created before this time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Backup
  copies created after this time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"BackupEngineBase\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"The
  base backup engine class. All workload specific backup engines derive from this
  class.\";s:13:\"discriminator\";s:16:\"backupEngineType\";s:10:\"properties\";O:8:\"stdClass\":13:{s:23:\"azureBackupAgentVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Backup
  agent version\";s:4:\"type\";s:6:\"string\";}s:14:\"backupEngineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"ID
  of the backup engine.\";s:4:\"type\";s:6:\"string\";}s:17:\"backupEngineState\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Status
  of the backup engine with the Recovery Services Vault. = {Active/Deleting/DeleteFailed}\";s:4:\"type\";s:6:\"string\";}s:16:\"backupEngineType\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Type
  of the backup engine.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:15:\"DpmBackupEngine\";i:2;s:23:\"AzureBackupServerEngine\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"BackupEngineType\";}}s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Type
  of backup management for the backup engine.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"BackupManagementType\";}}s:13:\"canReRegister\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Flag
  indicating if the backup engine be registered, once already registered.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"dpmVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Backup
  engine version\";s:4:\"type\";s:6:\"string\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/BackupEngineExtendedInfo\";s:11:\"description\";s:33:\"Extended
  info of the backupengine\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Friendly
  name of the backup engine.\";s:4:\"type\";s:6:\"string\";}s:12:\"healthStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Backup
  status of the backup engine.\";s:4:\"type\";s:6:\"string\";}s:34:\"isAzureBackupAgentUpgradeAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"To
  check if backup agent upgrade available\";s:4:\"type\";s:7:\"boolean\";}s:21:\"isDPMUpgradeAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"To
  check if backup engine upgrade available\";s:4:\"type\";s:7:\"boolean\";}s:18:\"registrationStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Registration
  status of the backup engine with the Recovery Services Vault.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BackupEngineBaseResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:90:\"The
  base backup engine class. All workload specific backup engines derive from this
  class.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BackupEngineBase\";s:11:\"description\";s:35:\"BackupEngineBaseResource
  properties\";}}}s:28:\"BackupEngineBaseResourceList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";}}s:11:\"description\";s:34:\"List
  of BackupEngineBase resources\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/BackupEngineBaseResource\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BackupEngineExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Additional
  information on backup engine.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:18:\"availableDiskSpace\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Diskspace
  currently available in the backup engine.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:23:\"azureProtectedInstances\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Protected
  instances in the backup engine.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"databaseName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Database
  name of backup engine.\";s:4:\"type\";s:6:\"string\";}s:9:\"diskCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Number
  of disks in the backup engine.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"protectedItemsCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Number
  of protected items in the backup engine.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"protectedServersCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Number
  of protected servers in the backup engine.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"refreshedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Last
  refresh time in the backup engine.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"usedDiskSpace\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Diskspace
  used in the backup engine.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:21:\"BackupManagementUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Backup
  management usages of a vault.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"currentValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Current
  value of usage.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Limit
  of usage.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/NameInfo\";s:11:\"description\";s:14:\"Name
  of usage.\";}s:13:\"nextResetTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Next
  reset time of usage.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"quotaPeriod\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Quota
  period of usage.\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Unit
  of the usage.\";s:4:\"enum\";a:6:{i:0;s:5:\"Count\";i:1;s:5:\"Bytes\";i:2;s:7:\"Seconds\";i:3;s:7:\"Percent\";i:4;s:14:\"CountPerSecond\";i:5;s:14:\"BytesPerSecond\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"UsagesUnit\";}}}s:4:\"type\";s:6:\"object\";}s:25:\"BackupManagementUsageList\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Backup
  management usage for vault.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  list of backup management usages for the given vault.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/BackupManagementUsage\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"BackupRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:93:\"Base
  class for backup request. Workload-specific backup requests are derived from this
  class.\";s:13:\"discriminator\";s:10:\"objectType\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"This
  property will be used as the discriminator for deciding the specific types in the
  polymorhpic chain of types.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"objectType\";}s:4:\"type\";s:6:\"object\";}s:21:\"BackupRequestResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:93:\"Base
  class for backup request. Workload-specific backup requests are derived from this
  class.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BackupRequest\";s:11:\"description\";s:32:\"BackupRequestResource
  properties\";}}}s:20:\"BackupResourceConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  resource storage details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"storageType\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Storage
  type.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:12:\"GeoRedundant\";i:2;s:16:\"LocallyRedundant\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:11:\"StorageType\";}}s:16:\"storageTypeState\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"Locked
  or Unlocked. Once a machine is registered against a resource, the storageTypeState
  is always Locked.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:6:\"Locked\";i:2;s:8:\"Unlocked\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"StorageTypeState\";}}}s:4:\"type\";s:6:\"object\";}s:28:\"BackupResourceConfigResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:29:\"The
  resource storage details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/BackupResourceConfig\";s:11:\"description\";s:39:\"BackupResourceConfigResource
  properties\";}}}s:25:\"BackupResourceVaultConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Backup
  resource vault config details.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"enhancedSecurityState\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Enabled
  or Disabled.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:7:\"Enabled\";i:2;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:21:\"EnhancedSecurityState\";}}s:11:\"storageType\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Storage
  type.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:12:\"GeoRedundant\";i:2;s:16:\"LocallyRedundant\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:11:\"StorageType\";}}s:16:\"storageTypeState\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"Locked
  or Unlocked. Once a machine is registered against a resource, the storageTypeState
  is always Locked.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:6:\"Locked\";i:2;s:8:\"Unlocked\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"StorageTypeState\";}}}s:4:\"type\";s:6:\"object\";}s:33:\"BackupResourceVaultConfigResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:37:\"Backup
  resource vault config details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/BackupResourceVaultConfig\";s:11:\"description\";s:44:\"BackupResourceVaultConfigResource
  properties\";}}}s:22:\"ClientScriptForConnect\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Client
  script details for file / folder restore.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"osType\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"OS
  type - Windows, Linux etc. for which this file / folder restore client script works.\";s:4:\"type\";s:6:\"string\";}s:13:\"scriptContent\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"File
  content of the client script for file / folder restore.\";s:4:\"type\";s:6:\"string\";}s:15:\"scriptExtension\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"File
  extension of the client script for file / folder restore - .ps1 , .sh , etc.\";s:4:\"type\";s:6:\"string\";}s:16:\"scriptNameSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"Mandator
  suffix that should be added to the name of script that is given for download to
  user.\r\n            If its null or empty then , ignore it.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"URL
  of Executable from where to source the content. If this is not null then ScriptContent
  should not be used\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DPMContainerExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Additional
  information of the DPMContainer.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"lastRefreshedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Last
  refresh time of the DPMContainer.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DPMProtectedItem\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:11:\"description\";s:61:\"Additional
  information on Backup engine specific backup item.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"backupEngineName\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Backup
  Management server protecting this backup item\";s:4:\"type\";s:6:\"string\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/DPMProtectedItemExtendedInfo\";s:11:\"description\";s:33:\"Extended
  info of the backup item.\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Friendly
  name of the managed item\";s:4:\"type\";s:6:\"string\";}s:28:\"isScheduledForDeferredDelete\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"To
  check if backup item is scheduled for deferred delete\";s:4:\"type\";s:7:\"boolean\";}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Protection
  state of the backupengine\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:9:\"IRPending\";i:2;s:9:\"Protected\";i:3;s:15:\"ProtectionError\";i:4;s:17:\"ProtectionStopped\";i:5;s:16:\"ProtectionPaused\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"ProtectedItemState\";}}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:16:\"DPMProtectedItem\";}s:28:\"DPMProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Additional
  information of DPM Protected item.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:22:\"diskStorageUsedInBytes\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Used
  Disk storage in bytes.\";s:4:\"type\";s:6:\"string\";}s:12:\"isCollocated\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"To
  check if backup item is collocated.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"isPresentOnCloud\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"To
  check if backup item is cloud protected.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"lastBackupStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Last
  backup status information on backup item.\";s:4:\"type\";s:6:\"string\";}s:15:\"lastRefreshedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Last
  refresh time on backup item.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Oldest
  cloud recovery point time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:28:\"onPremiseLatestRecoveryPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"latest
  disk recovery point time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:28:\"onPremiseOldestRecoveryPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Oldest
  disk recovery point time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:27:\"onPremiseRecoveryPointCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"disk
  recovery point count.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"protectableObjectLoadPath\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:48:\"Attribute
  to provide information on various DBs.\";s:4:\"type\";s:6:\"object\";}s:9:\"protected\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"To
  check if backup item is disk protected.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"protectionGroupName\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Protection
  group name of the backup item.\";s:4:\"type\";s:6:\"string\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"cloud
  recovery point count.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:27:\"totalDiskStorageSizeInBytes\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"total
  Disk storage in bytes.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DailyRetentionFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Daily
  retention format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"daysOfTheMonth\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of days of the month.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Day\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DailyRetentionSchedule\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Daily
  retention schedule.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"retentionDuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RetentionDuration\";s:11:\"description\";s:39:\"Retention
  duration of retention Policy.\";}s:14:\"retentionTimes\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Retention
  times of retention policy.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Day\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Day
  of the week.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Date
  of the month\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"isLast\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Whether
  Date is last date of month\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DpmBackupEngine\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BackupEngineBase\";}}s:11:\"description\";s:53:\"Data
  Protection Manager (DPM) specific backup engine.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:15:\"DpmBackupEngine\";}s:12:\"DpmContainer\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProtectionContainer\";}}s:11:\"description\";s:43:\"DPM
  workload-specific protection container.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"DPMServers\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"List
  of BackupEngines protecting the container\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"UpgradeAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"To
  check if upgrade available\";s:4:\"type\";s:7:\"boolean\";}s:13:\"canReRegister\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Specifies
  whether the container is re-registrable.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"containerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"ID
  of container.\";s:4:\"type\";s:6:\"string\";}s:15:\"dpmAgentVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Backup
  engine Agent version\";s:4:\"type\";s:6:\"string\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/DPMContainerExtendedInfo\";s:11:\"description\";s:31:\"Extended
  Info of the container.\";}s:18:\"protectedItemCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Number
  of protected items in the BackupEngine\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:16:\"protectionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Protection
  status of the container.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:12:\"DPMContainer\";}s:17:\"EncryptionDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Details
  needed if the VM was encrypted at the time of backup.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"encryptionEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"Identifies
  whether this backup copy represents an encrypted VM at the time of backup.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"kekUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Key
  Url.\";s:4:\"type\";s:6:\"string\";}s:10:\"kekVaultId\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"ID
  of Key Vault where KEK is stored.\";s:4:\"type\";s:6:\"string\";}s:12:\"secretKeyUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Secret
  Url.\";s:4:\"type\";s:6:\"string\";}s:16:\"secretKeyVaultId\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"ID
  of Key Vault where Secret is stored.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ExportJobsOperationResultInfo\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/OperationResultInfoBase\";}}s:11:\"description\";s:61:\"This
  class is used to send blob details after exporting jobs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"blobSasKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"SAS
  key to access the blob. It expires in 15 mins.\";s:4:\"type\";s:6:\"string\";}s:7:\"blobUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"URL
  of the blob into which the serialized string of list of jobs is exported.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:29:\"ExportJobsOperationResultInfo\";}s:20:\"GenericRecoveryPoint\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RecoveryPoint\";}}s:11:\"description\";s:20:\"Generic
  backup copy.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Friendly
  name of the backup copy.\";s:4:\"type\";s:6:\"string\";}s:27:\"recoveryPointAdditionalInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Additional
  information associated with this backup copy.\";s:4:\"type\";s:6:\"string\";}s:17:\"recoveryPointTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Time
  at which this backup copy was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"recoveryPointType\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Type
  of the backup copy.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:20:\"GenericRecoveryPoint\";}s:27:\"GetProtectedItemQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Filters
  to list backup items.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"expand\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Specifies
  if the additional information should be provided for this item.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ILRRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:39:\"Parameters
  to restore file/folders API.\";s:13:\"discriminator\";s:10:\"objectType\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"This
  property will be used as the discriminator for deciding the specific types in the
  polymorhpic chain of types.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"objectType\";}s:4:\"type\";s:6:\"object\";}s:18:\"ILRRequestResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:39:\"Parameters
  to restore file/folders API.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ILRRequest\";s:11:\"description\";s:29:\"ILRRequestResource
  properties\";}}}s:15:\"IaaSVMContainer\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProtectionContainer\";}}s:11:\"description\";s:36:\"IaaS
  VM workload-specific container.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"resourceGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Resource
  group name of Recovery Services Vault.\";s:4:\"type\";s:6:\"string\";}s:16:\"virtualMachineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Fully
  qualified ARM url of the virtual machine represented by this Azure IaaS VM container.\";s:4:\"type\";s:6:\"string\";}s:21:\"virtualMachineVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"Specifies
  whether the container represents a Classic or an Azure Resource Manager VM.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:15:\"IaaSVMContainer\";}s:21:\"IaaSVMProtectableItem\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/WorkloadProtectableItem\";}}s:11:\"description\";s:38:\"IaaS
  VM workload-specific backup item.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"virtualMachineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Fully
  qualified ARM ID of the virtual machine.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"IaasVMBackupRequest\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BackupRequest\";}}s:11:\"description\";s:41:\"IaaS
  VM workload-specific backup request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"recoveryPointExpiryTimeInUTC\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Backup
  copy will expire after the time specified (UTC).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:19:\"IaasVMBackupRequest\";}s:28:\"IaasVMILRRegistrationRequest\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ILRRequest\";}}s:11:\"description\";s:52:\"Restore
  files/folders from a backup copy of IaaS VM.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"initiatorName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"iSCSI
  initiator name.\";s:4:\"type\";s:6:\"string\";}s:15:\"recoveryPointId\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"ID
  of the IaaS VM backup copy from where the files/folders have to be restored.\";s:4:\"type\";s:6:\"string\";}s:25:\"renewExistingRegistration\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Whether
  to renew existing registration with the iSCSI server.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"virtualMachineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Fully
  qualified ARM ID of the virtual machine whose the files / folders have to be restored.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:28:\"IaasVMILRRegistrationRequest\";}s:19:\"IaasVMRecoveryPoint\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RecoveryPoint\";}}s:11:\"description\";s:38:\"IaaS
  VM workload specific backup copy.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:25:\"isInstantILRSessionActive\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Is
  the session to recover items from this backup copy still active.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"isManagedVirtualMachine\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Whether
  VM is with Managed Disks\";s:4:\"type\";s:7:\"boolean\";}s:19:\"isSourceVMEncrypted\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Identifies
  whether the VM was encrypted when the backup copy is created.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"keyAndSecret\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/KeyAndSecretDetails\";s:11:\"description\";s:98:\"Required
  details for recovering an encrypted VM. Applicable only when IsSourceVMEncrypted
  is true.\";}s:28:\"originalStorageAccountOption\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Original
  SA Option\";s:4:\"type\";s:7:\"boolean\";}s:27:\"recoveryPointAdditionalInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Additional
  information associated with this backup copy.\";s:4:\"type\";s:6:\"string\";}s:24:\"recoveryPointTierDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Recovery
  point tier information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/RecoveryPointTierInformation\";}s:4:\"type\";s:5:\"array\";}s:17:\"recoveryPointTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Time
  at which this backup copy was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"recoveryPointType\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Type
  of the backup copy.\";s:4:\"type\";s:6:\"string\";}s:19:\"sourceVMStorageType\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Storage
  type of the VM whose backup copy is created.\";s:4:\"type\";s:6:\"string\";}s:18:\"virtualMachineSize\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Virtual
  Machine Size\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:19:\"IaasVMRecoveryPoint\";}s:20:\"IaasVMRestoreRequest\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RestoreRequest\";}}s:11:\"description\";s:34:\"IaaS
  VM workload-specific restore.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:13:\"affinityGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Affinity
  group associated to VM to be restored. Used only for Classic Compute Virtual Machines.\";s:4:\"type\";s:6:\"string\";}s:21:\"createNewCloudService\";O:8:\"stdClass\":2:{s:11:\"description\";s:158:\"Should
  a new cloud service be created while restoring the VM. If this is false, VM will
  be restored to the same cloud service as it was at the time of backup.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"encryptionDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EncryptionDetails\";s:11:\"description\";s:61:\"Details
  needed if the VM was encrypted at the time of backup.\";}s:28:\"originalStorageAccountOption\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"recoveryPointId\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"ID
  of the backup copy to be recovered.\";s:4:\"type\";s:6:\"string\";}s:12:\"recoveryType\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Type
  of this recovery.\";s:4:\"enum\";a:4:{i:0;s:7:\"Invalid\";i:1;s:16:\"OriginalLocation\";i:2;s:17:\"AlternateLocation\";i:3;s:12:\"RestoreDisks\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"RecoveryType\";}}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Region
  in which the virtual machine is restored.\";s:4:\"type\";s:6:\"string\";}s:16:\"sourceResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Fully
  qualified ARM ID of the VM which is being recovered.\";s:4:\"type\";s:6:\"string\";}s:16:\"storageAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Fully
  qualified ARM ID of the storage account to which the VM has to be restored.\";s:4:\"type\";s:6:\"string\";}s:8:\"subnetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:221:\"Subnet
  ID, is the subnet ID associated with the to be restored VM. For Classic VMs it would
  be {VnetID}/Subnet/{SubnetName} and, for the Azure Resource Manager VMs it would
  be ARM resource ID used to represent the subnet.\";s:4:\"type\";s:6:\"string\";}s:18:\"targetDomainNameId\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"Fully
  qualified ARM ID of the domain name to be associated to the VM being restored. This
  applies only to Classic Virtual Machines.\";s:4:\"type\";s:6:\"string\";}s:21:\"targetResourceGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"This
  is the ARM Id of the resource group that you want to create for this Virtual machine
  and other artifacts.\r\n            For e.g. /subscriptions/{subId}/resourcegroups/{rg}\";s:4:\"type\";s:6:\"string\";}s:22:\"targetVirtualMachineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"This
  is the complete ARM Id of the VM that will be created.\r\n            For e.g. /subscriptions/{subId}/resourcegroups/{rg}/provider/Microsoft.Compute/virtualmachines/{vm}\";s:4:\"type\";s:6:\"string\";}s:16:\"virtualNetworkId\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"This
  is the virtual network Id of the vnet that will be attached to the virtual machine.\r\n
  \           User will be validated for join action permissions in the linked access.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:20:\"IaasVMRestoreRequest\";}s:25:\"InstantItemRecoveryTarget\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Target
  details for file / folder restore.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"clientScripts\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"List
  of client scripts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ClientScriptForConnect\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"JobQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Filters
  to list the jobs.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Type
  of backup managmenent for the job.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"BackupManagementType\";}}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Job
  has ended at this time. Value is in UTC.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"JobID
  represents the job uniquely.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Type
  of operation.\";s:4:\"enum\";a:8:{i:0;s:7:\"Invalid\";i:1;s:8:\"Register\";i:2;s:10:\"UnRegister\";i:3;s:15:\"ConfigureBackup\";i:4;s:6:\"Backup\";i:5;s:7:\"Restore\";i:6;s:13:\"DisableBackup\";i:7;s:16:\"DeleteBackupData\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"JobOperationType\";}}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Job
  has started at this time. Value is in UTC.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Status
  of the job.\";s:4:\"enum\";a:7:{i:0;s:7:\"Invalid\";i:1;s:10:\"InProgress\";i:2;s:9:\"Completed\";i:3;s:6:\"Failed\";i:4;s:21:\"CompletedWithWarnings\";i:5;s:9:\"Cancelled\";i:6;s:10:\"Cancelling\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"JobStatus\";}}}s:4:\"type\";s:6:\"object\";}s:10:\"KEKDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"KEK
  is encryption key for BEK.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"keyBackupData\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"KEK
  data.\";s:4:\"type\";s:6:\"string\";}s:6:\"keyUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Key
  is KEK.\";s:4:\"type\";s:6:\"string\";}s:10:\"keyVaultId\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Key
  Vault ID where this Key is stored.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"KeyAndSecretDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:322:\"BEK
  is bitlocker key.\r\n            KEK is encryption key for BEK\r\n            If
  the VM was encrypted then we will store follwing details :\r\n            1. Secret(BEK)
  - Url + Backup Data + vaultId.\r\n            2. Key(KEK) - Url + Backup Data +
  vaultId.\r\n            BEK and KEK can potentiallty have different vault ids.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"bekDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BEKDetails\";s:11:\"description\";s:32:\"BEK
  is bitlocker encrpytion key.\";}s:10:\"kekDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/KEKDetails\";s:11:\"description\";s:30:\"KEK
  is encryption key for BEK.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"LongTermRetentionPolicy\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";}}s:11:\"description\";s:27:\"Long
  term retention policy.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"dailySchedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DailyRetentionSchedule\";s:11:\"description\";s:50:\"Daily
  retention schedule of the protection policy.\";}s:15:\"monthlySchedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/MonthlyRetentionSchedule\";s:11:\"description\";s:52:\"Monthly
  retention schedule of the protection policy.\";}s:14:\"weeklySchedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/WeeklyRetentionSchedule\";s:11:\"description\";s:51:\"Weekly
  retention schedule of the protection policy.\";}s:14:\"yearlySchedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/YearlyRetentionSchedule\";s:11:\"description\";s:51:\"Yearly
  retention schedule of the protection policy.\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:23:\"LongTermRetentionPolicy\";}s:22:\"LongTermSchedulePolicy\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SchedulePolicy\";}}s:11:\"description\";s:26:\"Long
  term policy schedule.\";s:4:\"type\";s:6:\"object\";}s:12:\"MabContainer\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProtectionContainer\";}}s:11:\"description\";s:55:\"Container
  with items backed up using MAB backup engine.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"agentVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Agent
  version of this container.\";s:4:\"type\";s:6:\"string\";}s:13:\"canReRegister\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Can
  the container be registered one more time.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"containerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"ContainerID
  represents the container.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/MabContainerExtendedInfo\";s:11:\"description\";s:41:\"Additional
[...]
