---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2018-07-01\";}"
host: management.azure.com
paths:
  /providers/Microsoft.Network/operations:
    get:
      operationId: Operations_List
      description: Lists all of the available Network Rest API operations.
      parameters:
      - $ref: ./network.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get a list of operations for a resource provider:
          $ref: ./examples/OperationList.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"Result
  of the request to list Network operations. It contains a list of operations and
  a URL link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:11:\"description\";s:70:\"List
  of Network operations supported by the Network resource provider.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Network
  REST API operation definition.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Operation
  name: {provider}/{resource}/{operation}\";s:4:\"type\";s:6:\"string\";}s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Display
  metadata associated with the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Service
  provider: Microsoft Network.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Resource
  on which the operation is performed.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Type
  of the operation: get, read, delete, etc.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Description
  of the operation.\";s:4:\"type\";s:6:\"string\";}}}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Origin
  of the operation.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:39:\"#/definitions/OperationPropertiesFormat\";s:11:\"description\";s:28:\"Operation
  properties format.\";}}}s:25:\"OperationPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Description
  of operation properties format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"serviceSpecification\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Specification
  of the service.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"metricSpecifications\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/MetricSpecification\";}s:11:\"description\";s:32:\"Operation
  service specification.\";}s:17:\"logSpecifications\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/LogSpecification\";}s:11:\"description\";s:28:\"Operation
  log specification.\";}}}}}s:16:\"LogSpecification\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Description
  of logging specification.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  name of the specification.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  display name of the specification.\";}s:12:\"blobDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Duration
  of the blob.\";}}}s:19:\"MetricSpecification\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Description
  of metrics specification.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  name of the metric.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  display name of the metric.\";}s:18:\"displayDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  description of the metric.\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Units
  the metric to be displayed in.\";}s:15:\"aggregationType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  aggregation type.\";}s:14:\"availabilities\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Availability\";}s:11:\"description\";s:21:\"List
  of availability.\";}s:24:\"enableRegionalMdmAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:37:\"Whether
  regional MDM account enabled.\";}s:15:\"fillGapWithZero\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:40:\"Whether
  gaps would be filled with zeros.\";}s:19:\"metricFilterPattern\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Pattern
  for the filter of the metric.\";}s:10:\"dimensions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";}s:11:\"description\";s:19:\"List
  of dimensions.\";}s:10:\"isInternal\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:31:\"Whether
  the metric is internal.\";}s:16:\"sourceMdmAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  source MDM account.\";}s:18:\"sourceMdmNamespace\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  source MDM namespace.\";}s:31:\"resourceIdDimensionNameOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  resource Id dimension name override.\";}}}s:9:\"Dimension\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Dimension
  of the metric.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  name of the dimension.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  display name of the dimension.\";}s:12:\"internalName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  internal name of the dimension.\";}}}s:12:\"Availability\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Availability
  of the metric.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"timeGrain\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  time grain of the availability.\";}s:9:\"retention\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  retention of the availability.\";}s:12:\"blobDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Duration
  of the availability blob.\";}}}}"
...
