---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"ApiManagementClient\";s:11:\"description\";s:147:\"Use
  these REST APIs for performing operations on entities like API, Product, and Subscription
  associated with your Azure API Management deployment.\";s:7:\"version\";s:10:\"2016-10-10\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policySnippets
  : get:
      tags:
      - PolicySnippets
      operationId: PolicySnippets_ListByService
      description: Lists all policy snippets.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - name: scope
        in: query
        required: false
        type: string
        description: Policy scope.
        enum:
        - Tenant
        - Product
        - Api
        - Operation
        - All
        x-ms-enum:
          name: PolicyScopeContract
          modelAsString: false
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Returns an array of Policy Contracts.
          schema:
            $ref: '#/definitions/PolicySnippetsCollection'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/regions
  : get:
      tags:
      - Regions
      operationId: Regions_ListByService
      description: Lists all azure regions in which the service exists.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Lists of Regions in which the service is deployed.
          schema:
            $ref: '#/definitions/RegionListResult'
      x-ms-pageable:
        nextLinkName: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:18:\"ErrorFieldContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Property
  level error code.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Human-readable
  representation of property-level error.\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Property
  name.\";}}s:11:\"description\";s:21:\"Error Field contract.\";}s:17:\"ErrorBodyContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Service-defined
  error code. This code serves as a sub-status for the HTTP error code specified in
  the response.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Human-readable
  representation of the error.\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ErrorFieldContract\";}s:11:\"description\";s:72:\"The
  list of invalid fields send in request, in case of validation error.\";}}s:11:\"description\";s:20:\"Error
  Body contract.\";}s:24:\"PolicySnippetsCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PolicySnippetContract\";}s:11:\"description\";s:21:\"Policy
  snippet value.\";}}s:11:\"description\";s:51:\"The response of the list policy snippets
  operation.\";}s:21:\"PolicySnippetContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Snippet
  name.\";s:8:\"readOnly\";b:1;}s:7:\"content\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Snippet
  content.\";s:8:\"readOnly\";b:1;}s:7:\"toolTip\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Snippet
  toolTip.\";s:8:\"readOnly\";b:1;}s:5:\"scope\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Snippet
  scope.\";s:4:\"enum\";a:5:{i:0;s:6:\"Tenant\";i:1;s:7:\"Product\";i:2;s:3:\"Api\";i:3;s:9:\"Operation\";i:4;s:3:\"All\";}s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"PolicyScopeContract\";s:13:\"modelAsString\";b:0;}}}s:11:\"description\";s:15:\"Policy
  snippet.\";}s:14:\"RegionContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Region
  name.\";}s:14:\"isMasterRegion\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:36:\"whether
  Region is the master region.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:14:\"isMasterRegion\";}s:11:\"description\";s:15:\"Region
  profile.\";}s:16:\"RegionListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RegionContract\";}s:11:\"description\";s:17:\"Lists
  of Regions.\";}}s:11:\"description\";s:41:\"Lists Regions operation response details.\";}}"
...
