---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:18:\"Azure SQL Database\";s:11:\"description\";s:129:\"Provides
  create, read, update and delete functionality for Azure SQL Database resources including
  recommendations and operations.\";s:7:\"version\";s:10:\"2014-04-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/elasticPoolActivity
  : get:
      tags:
      - ElasticPools
      operationId: ElasticPoolActivities_ListByElasticPool
      description: Returns elastic pool activities.
      x-ms-examples:
        List Elastic pool activity:
          $ref: ./examples/ElasticPoolActivityList.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: elasticPoolName
        in: path
        required: true
        type: string
        description: The name of the elastic pool for which to get the current activity.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ElasticPoolActivityListResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/elasticPoolDatabaseActivity
  : get:
      tags:
      - ElasticPools
      operationId: ElasticPoolDatabaseActivities_ListByElasticPool
      description: Returns activity on databases inside of an elastic pool.
      x-ms-examples:
        List elastic pool database activity:
          $ref: ./examples/ElasticPoolDatabaseActivityList.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: elasticPoolName
        in: path
        required: true
        type: string
        description: The name of the elastic pool.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ElasticPoolDatabaseActivityListResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors/{serviceTierAdvisorName}
  : get:
      tags:
      - ServiceTierAdvisors
      operationId: ServiceTierAdvisors_Get
      description: Gets a service tier advisor.
      x-ms-examples:
        Get a service tier advisor:
          $ref: ./examples/ServiceTierAdvisorGet.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        type: string
        description: The name of database.
      - name: serviceTierAdvisorName
        in: path
        required: true
        type: string
        description: The name of service tier advisor.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServiceTierAdvisor'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors
  : get:
      tags:
      - ServiceTierAdvisors
      operationId: ServiceTierAdvisors_ListByDatabase
      description: Returns service tier advisors for specified database.
      x-ms-examples:
        Get a list of a service tier advisors:
          $ref: ./examples/ServiceTierAdvisorList.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        type: string
        description: The name of database.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServiceTierAdvisorListResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/{transparentDataEncryptionName}
  : put:
      tags:
      - TransparentDataEncryption
      operationId: TransparentDataEncryptions_CreateOrUpdate
      description: Creates or updates a database's transparent data encryption configuration.
      x-ms-examples:
        Create or update a database's transparent data encryption configuration:
          $ref: ./examples/DatabaseTransparentDataEncryptionCreateOrUpdate.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        type: string
        description: The name of the database for which setting the transparent data
          encryption applies.
      - $ref: '#/parameters/TransparentDataEncryptionNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/TransparentDataEncryption'
        description: The required parameters for creating or updating transparent
          data encryption.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TransparentDataEncryption'
        201:
          description: Created
          schema:
            $ref: '#/definitions/TransparentDataEncryption'
    get:
      tags:
      - TransparentDataEncryption
      operationId: TransparentDataEncryptions_Get
      description: Gets a database's transparent data encryption configuration.
      x-ms-examples:
        Get a database's transparent data encryption configuration:
          $ref: ./examples/DatabaseTransparentDataEncryptionGet.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        type: string
        description: The name of the database for which the transparent data encryption
          applies.
      - $ref: '#/parameters/TransparentDataEncryptionNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TransparentDataEncryption'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/{transparentDataEncryptionName}/operationResults
  : get:
      tags:
      - TransparentDataEncryption
      operationId: TransparentDataEncryptionActivities_ListByConfiguration
      description: Returns a database's transparent data encryption operation result.
      x-ms-examples:
        List a database's transparent data encryption activities:
          $ref: ./examples/DatabaseTransparentDataEncryptionActivityList.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        required: true
        type: string
        description: The name of the database for which the transparent data encryption
          applies.
      - $ref: '#/parameters/TransparentDataEncryptionNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TransparentDataEncryptionActivityListResult'
      x-ms-pageable:
        nextLinkName: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":18:{s:29:\"ElasticPoolActivityProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:7:\"endTime\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:49:\"The
  time the operation finished (ISO8601 format).\";}s:9:\"errorCode\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:28:\"The
  error code if available.\";}s:12:\"errorMessage\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  error message if available.\";}s:13:\"errorSeverity\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:32:\"The
  error severity if available.\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  operation name.\";}s:11:\"operationId\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:24:\"The
  unique operation ID.\";s:10:\"x-nullable\";b:0;}s:15:\"percentComplete\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:37:\"The
  percentage complete if available.\";}s:23:\"requestedDatabaseDtuMax\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:48:\"The
  requested max DTU per database if available.\";}s:23:\"requestedDatabaseDtuMin\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:48:\"The
  requested min DTU per database if available.\";}s:12:\"requestedDtu\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:44:\"The
  requested DTU for the pool if available.\";}s:24:\"requestedElasticPoolName\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  requested name for the elastic pool if available.\";}s:25:\"requestedStorageLimitInGB\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:60:\"The
  requested storage limit for the pool in GB if available.\";}s:15:\"elasticPoolName\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  name of the elastic pool.\";}s:10:\"serverName\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  name of the server the elastic pool is in.\";}s:9:\"startTime\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:48:\"The
  time the operation started (ISO8601 format).\";}s:5:\"state\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  current state of the operation.\";}s:25:\"requestedStorageLimitInMB\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:34:\"The
  requested storage limit in MB.\";}s:29:\"requestedDatabaseDtuGuarantee\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:41:\"The
  requested per database DTU guarantee.\";}s:23:\"requestedDatabaseDtuCap\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"The
  requested per database DTU cap.\";}s:21:\"requestedDtuGuarantee\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:28:\"The
  requested DTU guarantee.\";}}s:11:\"description\";s:45:\"Represents the properties
  of an elastic pool.\";}s:19:\"ElasticPoolActivity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}s:11:\"description\";s:41:\"The
  geo-location where the resource lives\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:43:\"#/definitions/ElasticPoolActivityProperties\";s:11:\"description\";s:41:\"The
  properties representing the resource.\";s:19:\"x-ms-client-flatten\";b:1;}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"../../../common/v1/types.json#/definitions/ProxyResource\";}}s:11:\"description\";s:43:\"Represents
  the activity on an elastic pool.\";}s:29:\"ElasticPoolActivityListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ElasticPoolActivity\";}s:11:\"description\";s:36:\"The
  list of elastic pool activities.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:64:\"Represents
  the response to a list elastic pool activity request.\";}s:37:\"ElasticPoolDatabaseActivityProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:12:\"databaseName\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  database name.\";}s:7:\"endTime\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:49:\"The
  time the operation finished (ISO8601 format).\";}s:9:\"errorCode\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:28:\"The
  error code if available.\";}s:12:\"errorMessage\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  error message if available.\";}s:13:\"errorSeverity\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:32:\"The
  error severity if available.\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  operation name.\";}s:11:\"operationId\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:24:\"The
  unique operation ID.\";s:10:\"x-nullable\";b:0;}s:15:\"percentComplete\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:37:\"The
  percentage complete if available.\";}s:24:\"requestedElasticPoolName\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"The
  name for the elastic pool the database is moving into if available.\";}s:22:\"currentElasticPoolName\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"The
  name of the current elastic pool the database is in if available.\";}s:23:\"currentServiceObjective\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  name of the current service objective if available.\";}s:25:\"requestedServiceObjective\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  name of the requested service objective if available.\";}s:10:\"serverName\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  name of the server the elastic pool is in.\";}s:9:\"startTime\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:48:\"The
  time the operation started (ISO8601 format).\";}s:5:\"state\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  current state of the operation.\";}}s:11:\"description\";s:63:\"Represents the properties
  of an elastic pool database activity.\";}s:27:\"ElasticPoolDatabaseActivity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}s:11:\"description\";s:41:\"The
  geo-location where the resource lives\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:51:\"#/definitions/ElasticPoolDatabaseActivityProperties\";s:11:\"description\";s:41:\"The
  properties representing the resource.\";s:19:\"x-ms-client-flatten\";b:1;}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"../../../common/v1/types.json#/definitions/ProxyResource\";}}s:11:\"description\";s:43:\"Represents
  the activity on an elastic pool.\";}s:37:\"ElasticPoolDatabaseActivityListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ElasticPoolDatabaseActivity\";}s:11:\"description\";s:45:\"The
  list of elastic pool database activities.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:73:\"Represents
  the response to a list elastic pool database activity request.\";}s:26:\"RecommendedIndexProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"action\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"Create\";i:1;s:4:\"Drop\";i:2;s:7:\"Rebuild\";}s:11:\"description\";s:137:\"The
  proposed index action. You can create a missing index, drop an unused index, or
  rebuild an existing index to improve its performance.\";s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:22:\"RecommendedIndexAction\";}}s:5:\"state\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"enum\";a:11:{i:0;s:6:\"Active\";i:1;s:7:\"Pending\";i:2;s:9:\"Executing\";i:3;s:9:\"Verifying\";i:4;s:14:\"Pending
  Revert\";i:5;s:9:\"Reverting\";i:6;s:8:\"Reverted\";i:7;s:7:\"Ignored\";i:8;s:7:\"Expired\";i:9;s:7:\"Blocked\";i:10;s:7:\"Success\";}s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  current recommendation state.\";s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:21:\"RecommendedIndexState\";}}s:7:\"created\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:73:\"The
  UTC datetime showing when this resource was created (ISO8601 format).\";}s:12:\"lastModified\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:73:\"The
  UTC datetime of when was this resource last changed (ISO8601 format).\";}s:9:\"indexType\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"enum\";a:4:{i:0;s:9:\"CLUSTERED\";i:1;s:12:\"NONCLUSTERED\";i:2;s:11:\"COLUMNSTORE\";i:3;s:21:\"CLUSTERED
  COLUMNSTORE\";}s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"The type
  of index (CLUSTERED, NONCLUSTERED, COLUMNSTORE, CLUSTERED COLUMNSTORE)\";s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:20:\"RecommendedIndexType\";}}s:6:\"schema\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  schema where table to build index over resides\";}s:5:\"table\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  table on which to build index.\";}s:7:\"columns\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:33:\"Columns
  over which to build index\";}s:15:\"includedColumns\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:52:\"The
  list of column names to be included in the index\";}s:11:\"indexScript\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  full build index script\";}s:15:\"estimatedImpact\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OperationImpact\";}s:11:\"description\";s:55:\"The
  estimated impact of doing recommended index action.\";}s:14:\"reportedImpact\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OperationImpact\";}s:11:\"description\";s:51:\"The
  values reported after index action is complete.\";}}s:11:\"description\";s:58:\"Represents
  the properties of a database recommended index.\";}s:16:\"RecommendedIndex\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"$ref\";s:40:\"#/definitions/RecommendedIndexProperties\";s:8:\"readOnly\";b:1;s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:41:\"The
  properties representing the resource.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"../../../common/v1/types.json#/definitions/ProxyResource\";}}s:11:\"description\";s:40:\"Represents
  a database recommended index.\";}s:35:\"TransparentDataEncryptionProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  status of the database transparent data encryption.\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:31:\"TransparentDataEncryptionStatus\";}}}s:11:\"description\";s:68:\"Represents
  the properties of a database transparent data encryption.\";}s:25:\"TransparentDataEncryption\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"Resource
  location.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:49:\"#/definitions/TransparentDataEncryptionProperties\";s:11:\"description\";s:42:\"Represents
  the properties of the resource.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"../../../common/v1/types.json#/definitions/ProxyResource\";}}s:11:\"description\";s:64:\"Represents
  a database transparent data encryption configuration.\";}s:28:\"ServiceTierAdvisorProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:22:\"observationPeriodStart\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:46:\"The
  observation period start (ISO8601 format).\";}s:20:\"observationPeriodEnd\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:46:\"The
  observation period start (ISO8601 format).\";}s:15:\"activeTimeRatio\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:45:\"The
  activeTimeRatio for service tier advisor.\";}s:6:\"minDtu\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:45:\"Gets
  or sets minDtu for service tier advisor.\";}s:6:\"avgDtu\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:45:\"Gets
  or sets avgDtu for service tier advisor.\";}s:6:\"maxDtu\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:45:\"Gets
  or sets maxDtu for service tier advisor.\";}s:11:\"maxSizeInGB\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:50:\"Gets
  or sets maxSizeInGB for service tier advisor.\";}s:33:\"serviceLevelObjectiveUsageMetrics\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SloUsageMetric\";}s:11:\"description\";s:76:\"Gets
  or sets serviceLevelObjectiveUsageMetrics for the service tier advisor.\";}s:28:\"currentServiceLevelObjective\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Gets
  or sets currentServiceLevelObjective for service tier advisor.\";}s:30:\"currentServiceLevelObjectiveId\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:69:\"Gets
  or sets currentServiceLevelObjectiveId for service tier advisor.\";}s:45:\"usageBasedRecommendationServiceLevelObjective\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"Gets
  or sets usageBasedRecommendationServiceLevelObjective for service tier advisor.\";}s:47:\"usageBasedRecommendationServiceLevelObjectiveId\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:86:\"Gets
  or sets usageBasedRecommendationServiceLevelObjectiveId for service tier advisor.\";}s:52:\"databaseSizeBasedRecommendationServiceLevelObjective\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Gets
  or sets databaseSizeBasedRecommendationServiceLevelObjective for service tier advisor.\";}s:54:\"databaseSizeBasedRecommendationServiceLevelObjectiveId\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:93:\"Gets
  or sets databaseSizeBasedRecommendationServiceLevelObjectiveId for service tier
  advisor.\";}s:52:\"disasterPlanBasedRecommendationServiceLevelObjective\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Gets
  or sets disasterPlanBasedRecommendationServiceLevelObjective for service tier advisor.\";}s:54:\"disasterPlanBasedRecommendationServiceLevelObjectiveId\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:93:\"Gets
  or sets disasterPlanBasedRecommendationServiceLevelObjectiveId for service tier
  advisor.\";}s:42:\"overallRecommendationServiceLevelObjective\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"Gets
  or sets overallRecommendationServiceLevelObjective for service tier advisor.\";}s:44:\"overallRecommendationServiceLevelObjectiveId\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:83:\"Gets
  or sets overallRecommendationServiceLevelObjectiveId for service tier advisor.\";}s:10:\"confidence\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:49:\"Gets
  or sets confidence for service tier advisor.\";s:10:\"x-nullable\";b:0;}}s:11:\"description\";s:52:\"Represents
  the properties of a Service Tier Advisor.\";}s:18:\"ServiceTierAdvisor\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"$ref\";s:42:\"#/definitions/ServiceTierAdvisorProperties\";s:11:\"description\";s:41:\"The
  properites representing the resource.\";s:19:\"x-ms-client-flatten\";b:1;}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"../../../common/v1/types.json#/definitions/ProxyResource\";}}s:11:\"description\";s:34:\"Represents
  a Service Tier Advisor.\";}s:14:\"SloUsageMetric\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"serviceLevelObjective\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  serviceLevelObjective for SLO usage metric.\";s:4:\"enum\";a:65:{i:0;s:6:\"System\";i:1;s:7:\"System0\";i:2;s:7:\"System1\";i:3;s:7:\"System2\";i:4;s:7:\"System3\";i:5;s:7:\"System4\";i:6;s:8:\"System2L\";i:7;s:8:\"System3L\";i:8;s:8:\"System4L\";i:9;s:4:\"Free\";i:10;s:5:\"Basic\";i:11;s:2:\"S0\";i:12;s:2:\"S1\";i:13;s:2:\"S2\";i:14;s:2:\"S3\";i:15;s:2:\"S4\";i:16;s:2:\"S6\";i:17;s:2:\"S7\";i:18;s:2:\"S9\";i:19;s:3:\"S12\";i:20;s:2:\"P1\";i:21;s:2:\"P2\";i:22;s:2:\"P3\";i:23;s:2:\"P4\";i:24;s:2:\"P6\";i:25;s:3:\"P11\";i:26;s:3:\"P15\";i:27;s:4:\"PRS1\";i:28;s:4:\"PRS2\";i:29;s:4:\"PRS4\";i:30;s:4:\"PRS6\";i:31;s:5:\"DW100\";i:32;s:5:\"DW200\";i:33;s:5:\"DW300\";i:34;s:5:\"DW400\";i:35;s:5:\"DW500\";i:36;s:5:\"DW600\";i:37;s:6:\"DW1000\";i:38;s:6:\"DW1200\";i:39;s:7:\"DW1000c\";i:40;s:6:\"DW1500\";i:41;s:7:\"DW1500c\";i:42;s:6:\"DW2000\";i:43;s:7:\"DW2000c\";i:44;s:6:\"DW3000\";i:45;s:7:\"DW2500c\";i:46;s:7:\"DW3000c\";i:47;s:6:\"DW6000\";i:48;s:7:\"DW5000c\";i:49;s:7:\"DW6000c\";i:50;s:7:\"DW7500c\";i:51;s:8:\"DW10000c\";i:52;s:8:\"DW15000c\";i:53;s:8:\"DW30000c\";i:54;s:5:\"DS100\";i:55;s:5:\"DS200\";i:56;s:5:\"DS300\";i:57;s:5:\"DS400\";i:58;s:5:\"DS500\";i:59;s:5:\"DS600\";i:60;s:6:\"DS1000\";i:61;s:6:\"DS1200\";i:62;s:6:\"DS1500\";i:63;s:6:\"DS2000\";i:64;s:11:\"ElasticPool\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"ServiceObjectiveName\";}s:8:\"readOnly\";b:1;}s:23:\"serviceLevelObjectiveId\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:49:\"The
  serviceLevelObjectiveId for SLO usage metric.\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}s:16:\"inRangeTimeRatio\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:51:\"Gets
  or sets inRangeTimeRatio for SLO usage metric.\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}}s:11:\"description\";s:19:\"A
  Slo Usage Metric.\";}s:15:\"OperationImpact\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  name of the impact dimension.\";}s:4:\"unit\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"The
  unit in which estimated impact to dimension is measured.\";}s:19:\"changeValueAbsolute\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:33:\"The
  absolute impact to dimension.\";}s:19:\"changeValueRelative\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:57:\"The
  relative impact to dimension (null if not applicable)\";}}s:11:\"description\";s:64:\"The
  impact of an operation, both in absolute and relative terms.\";}s:28:\"ServiceTierAdvisorListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ServiceTierAdvisor\";}s:11:\"description\";s:57:\"The
  list of service tier advisors for specified database.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:63:\"Represents
  the response to a list service tier advisor request.\";}s:43:\"TransparentDataEncryptionActivityProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  status of the database.\";s:4:\"enum\";a:2:{i:0;s:10:\"Encrypting\";i:1;s:10:\"Decrypting\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:39:\"TransparentDataEncryptionActivityStatus\";s:13:\"modelAsString\";b:1;}}s:15:\"percentComplete\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:76:\"The
  percent complete of the transparent data encryption scan for a database.\";}}s:11:\"description\";s:73:\"Represents
  the properties of a database transparent data encryption Scan.\";}s:33:\"TransparentDataEncryptionActivity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:18:\"Resource
  location.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:57:\"#/definitions/TransparentDataEncryptionActivityProperties\";s:11:\"description\";s:42:\"Represents
  the properties of the resource.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"../../../common/v1/types.json#/definitions/ProxyResource\";}}s:11:\"description\";s:55:\"Represents
  a database transparent data encryption Scan.\";}s:43:\"TransparentDataEncryptionActivityListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/TransparentDataEncryptionActivity\";}s:11:\"description\";s:60:\"The
  list of database transparent data encryption activities.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:88:\"Represents
  the response to a list database transparent data encryption activity request.\";}}"
...
