---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:30:\"TrafficManagerManagementClient\";s:7:\"version\";s:10:\"2015-11-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:169:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/trafficmanager/resource-manager/Microsoft.Network/stable/2015-11-01/trafficmanager.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:0;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:14:\"trafficmanager\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.Network/checkTrafficManagerNameAvailability:
    post:
      description: Checks the availability of a Traffic Manager Relative DNS name.
      operationId: Profiles_CheckTrafficManagerRelativeDnsNameAvailability
      parameters:
      - description: The Traffic Manager name parameters supplied to the CheckTrafficManagerNameAvailability
          operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/CheckTrafficManagerRelativeDnsNameAvailabilityParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/TrafficManagerNameAvailability'
      tags:
      - Profiles
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficmanagerprofiles:
    get:
      description: Lists all Traffic Manager profiles within a subscription.
      operationId: Profiles_ListAll
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/ProfileListResult'
      tags:
      - Profiles
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles:
    get:
      description: Lists all Traffic Manager profiles within a resource group.
      operationId: Profiles_ListAllInResourceGroup
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          profiles to be listed.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/ProfileListResult'
      tags:
      - Profiles
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}
  : delete:
      description: Deletes a Traffic Manager profile.
      operationId: Profiles_Delete
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          profile to be deleted.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the Traffic Manager profile to be deleted.
        in: path
        name: profileName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
        204:
          description: ""
      tags:
      - Profiles
    get:
      description: Gets a Traffic Manager profile.
      operationId: Profiles_Get
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          profile.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The Traffic Manager profile.
          schema:
            $ref: '#/definitions/Profile'
      tags:
      - Profiles
    patch:
      description: Update a Traffic Manager profile.
      operationId: Profiles_Update
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          profile.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        type: string
      - description: The Traffic Manager profile parameters supplied to the Update
          operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/Profile'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The updated Traffic Manager profile.
          schema:
            $ref: '#/definitions/Profile'
      tags:
      - Profiles
    put:
      description: Create or update a Traffic Manager profile.
      operationId: Profiles_CreateOrUpdate
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          profile.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        type: string
      - description: The Traffic Manager profile parameters supplied to the CreateOrUpdate
          operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/Profile'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The created or updated Traffic Manager profile.
          schema:
            $ref: '#/definitions/Profile'
        201:
          description: The created or updated Traffic Manager profile.
          schema:
            $ref: '#/definitions/Profile'
      tags:
      - Profiles
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/{endpointType}/{endpointName}
  : delete:
      description: Deletes a Traffic Manager endpoint.
      operationId: Endpoints_Delete
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          endpoint to be deleted.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        type: string
      - description: The type of the Traffic Manager endpoint to be deleted.
        in: path
        name: endpointType
        required: true
        type: string
      - description: The name of the Traffic Manager endpoint to be deleted.
        in: path
        name: endpointName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: ""
        204:
          description: ""
      tags:
      - Endpoints
    get:
      description: Gets a Traffic Manager endpoint.
      operationId: Endpoints_Get
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          endpoint.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        type: string
      - description: The type of the Traffic Manager endpoint.
        in: path
        name: endpointType
        required: true
        type: string
      - description: The name of the Traffic Manager endpoint.
        in: path
        name: endpointName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The Traffic Manager endpoint.
          schema:
            $ref: '#/definitions/Endpoint'
      tags:
      - Endpoints
    patch:
      description: Update a Traffic Manager endpoint.
      operationId: Endpoints_Update
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          endpoint to be updated.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        type: string
      - description: The type of the Traffic Manager endpoint to be updated.
        in: path
        name: endpointType
        required: true
        type: string
      - description: The name of the Traffic Manager endpoint to be updated.
        in: path
        name: endpointName
        required: true
        type: string
      - description: The Traffic Manager endpoint parameters supplied to the Update
          operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/Endpoint'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The updated Traffic Manager endpoint.
          schema:
            $ref: '#/definitions/Endpoint'
      tags:
      - Endpoints
    put:
      description: Create or update a Traffic Manager endpoint.
      operationId: Endpoints_CreateOrUpdate
      parameters:
      - description: The name of the resource group containing the Traffic Manager
          endpoint to be created or updated.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the Traffic Manager profile.
        in: path
        name: profileName
        required: true
        type: string
      - description: The type of the Traffic Manager endpoint to be created or updated.
        in: path
        name: endpointType
        required: true
        type: string
      - description: The name of the Traffic Manager endpoint to be created or updated.
        in: path
        name: endpointName
        required: true
        type: string
      - description: The Traffic Manager endpoint parameters supplied to the CreateOrUpdate
          operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/Endpoint'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The created or updated Endpoint.
          schema:
            $ref: '#/definitions/Endpoint'
        201:
          description: The created or updated Endpoint.
          schema:
            $ref: '#/definitions/Endpoint'
      tags:
      - Endpoints
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:56:\"CheckTrafficManagerRelativeDnsNameAvailabilityParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Parameters
  supplied to check Traffic Manager name operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Gets
  or sets the name of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Gets
  or sets the type of the resource.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"DnsConfig\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Class
  containing DNS settings in a Traffic Manager profile.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"fqdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:193:\"Gets
  or sets the fully-qualified domain name (FQDN) of the Traffic Manager profile.  This
  is formed from the concatenation of the RelativeName with the DNS domain used by
  Azure Traffic Manager.\";s:4:\"type\";s:6:\"string\";}s:12:\"relativeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:218:\"Gets
  or sets the relative DNS name provided by this Traffic Manager profile.  This value
  is combined with the DNS domain name used by Azure Traffic Manager to form the fully-qualified
  domain name (FQDN) of the profile.\";s:4:\"type\";s:6:\"string\";}s:3:\"ttl\";O:8:\"stdClass\":3:{s:11:\"description\";s:181:\"Gets
  or sets the DNS Ttime-To-Live (TTL), in seconds.  This informs the local DNS resolvers
  and DNS clients how long to cache DNS responses provided by this Traffic Manager
  profile.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:8:\"Endpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Class
  representing a Traffic Manager endpoint.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Gets
  or sets the ID of the Traffic Manager endpoint.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Gets
  or sets the name of the Traffic Manager endpoint.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/EndpointProperties\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Gets
  or sets the endpoint type of the Traffic Manager endpoint.\";s:4:\"type\";s:6:\"string\";}}}s:18:\"EndpointProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Class
  representing a Traffic Manager endpoint properties.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:16:\"endpointLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"Specifies
  the location of the external or nested endpoints when using the \u2018Performance\u2019
  traffic routing method.\";s:4:\"type\";s:6:\"string\";}s:21:\"endpointMonitorStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Gets
  or sets the monitoring status of the endpoint.\";s:4:\"type\";s:6:\"string\";}s:14:\"endpointStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"Gets
  or sets the status of the endpoint..  If the endpoint is Enabled, it is probed for
  endpoint health and is included in the traffic routing method.  Possible values
  are 'Enabled' and 'Disabled'.\";s:4:\"type\";s:6:\"string\";}s:17:\"minChildEndpoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:203:\"Gets
  or sets the minimum number of endpoints that must be available in the child profile
  in order for the parent profile to be considered available. Only applicable to endpoint
  of type 'NestedEndpoints'.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:313:\"Gets
  or sets the priority of this endpoint when using the \u2018Priority\u2019 traffic
  routing method. Possible values are from 1 to 1000, lower values represent higher
  priority. This is an optional parameter.  If specified, it must be specified on
  all endpoints, and no two endpoints can share the same priority value.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"Gets
  or sets the fully-qualified DNS name of the endpoint.  Traffic Manager returns this
  value in DNS responses to direct traffic to this endpoint.\";s:4:\"type\";s:6:\"string\";}s:16:\"targetResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"Gets
  or sets the Azure Resource URI of the of the endpoint.  Not applicable to endpoints
  of type 'ExternalEndpoints'.\";s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"Gets
  or sets the weight of this endpoint when using the 'Weighted' traffic routing method.
  Possible values are from 1 to 1000.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:13:\"MonitorConfig\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Class
  containing endpoint monitoring settings in a Traffic Manager profile.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Gets
  or sets the path relative to the endpoint domain name used to probe for endpoint
  health.\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Gets
  or sets the TCP port used to probe for endpoint health.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:20:\"profileMonitorStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Gets
  or sets the profile-level monitoring status of the Traffic Manager profile.\";s:4:\"type\";s:6:\"string\";}s:8:\"protocol\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Gets
  or sets the protocol (HTTP or HTTPS) used to probe for endpoint health.\";s:4:\"type\";s:6:\"string\";}}}s:7:\"Profile\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:45:\"Class
  representing a Traffic Manager profile.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ProfileProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:17:\"ProfileListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  list Traffic Manager profiles operation response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Gets
  the list of Traffic manager profiles.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Profile\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"ProfileProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Class
  representing the Traffic Manager profile properties.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"dnsConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DnsConfig\";s:11:\"description\";s:61:\"Gets
  or sets the DNS settings of the Traffic Manager profile.\";}s:9:\"endpoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Gets
  or sets the list of endpoints in the Traffic Manager profile.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Endpoint\";}s:4:\"type\";s:5:\"array\";}s:13:\"monitorConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MonitorConfig\";s:11:\"description\";s:77:\"Gets
  or sets the endpoint monitoring settings of the Traffic Manager profile.\";}s:13:\"profileStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Gets
  or sets the status of the Traffic Manager profile.  Possible values are 'Enabled'
  and 'Disabled'.\";s:4:\"type\";s:6:\"string\";}s:20:\"trafficRoutingMethod\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Gets
  or sets the traffic routing method of the Traffic Manager profile.  Possible values
  are 'Performance', 'Weighted', or 'Priority'.\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Resource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Resource
  Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:11:\"SubResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Resource
  Id\";s:4:\"type\";s:6:\"string\";}}s:13:\"x-ms-external\";b:1;}s:30:\"TrafficManagerNameAvailability\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Class
  representing a Traffic Manager Name Availability response.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Descriptive
  message that explains why the name is not available, when applicable.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  relative name.\";s:4:\"type\";s:6:\"string\";}s:13:\"nameAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Describes
  whether the relative name is available or not.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  reason why the name is not available, when applicable.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Traffic
  Manager profile resource type.\";s:4:\"type\";s:6:\"string\";}}}}"
...
