---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2016-12-01\";}"
host: management.azure.com
paths: []
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:31:\"ApplicationGatewayBackendHealth\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"backendAddressPools\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/ApplicationGatewayBackendHealthPool\";}}}s:11:\"description\";s:54:\"List
  of ApplicationGatewayBackendHealthPool resources.\";}s:35:\"ApplicationGatewayBackendHealthPool\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"backendAddressPool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/ApplicationGatewayBackendAddressPool\";s:11:\"description\";s:62:\"Reference
  of an ApplicationGatewayBackendAddressPool resource.\";}}s:11:\"description\";s:39:\"Application
  gateway BackendHealth pool.\";}s:32:\"ApplicationGatewayBackendAddress\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"fqdn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Fully
  qualified domain name (FQDN).\";}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"IP
  address\";}}s:11:\"description\";s:42:\"Backend address of an application gateway.\";}s:52:\"ApplicationGatewayBackendAddressPoolPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"backendIPConfigurations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:93:\"./../../2016-09-01/swagger/networkInterface.json#/definitions/NetworkInterfaceIPConfiguration\";}s:11:\"description\";s:62:\"Collection
  of references to IPs defined in network interfaces.\";}s:16:\"backendAddresses\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ApplicationGatewayBackendAddress\";}s:11:\"description\";s:17:\"Backend
  addresses\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:115:\"Provisioning
  state of the backend address pool resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";}}s:11:\"description\";s:61:\"Properties of Backend Address Pool
  of an application gateway.\";}s:36:\"ApplicationGatewayBackendAddressPool\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:66:\"#/definitions/ApplicationGatewayBackendAddressPoolPropertiesFormat\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:94:\"Resource
  that is unique within a resource group. This name can be used to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}}s:11:\"description\";s:47:\"Backend
  Address Pool of an application gateway.\";}s:10:\"FooBarPool\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"It
  is a foo bar pool.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/FooBarPoolProperties\";}}}s:20:\"FooBarPoolProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"It
  is a foo bar pool.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"resProp1\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/FooResource\";}}}}"
...
